body{background-color:#3d3d3d !important;}
.header{filter:none !important;background-image:none !important;background-color:#212121 !important;}
.header .btn-navbar{background-color:#212121 !important;}
.header .navbar-nav .dropdown-toggle:hover,
.header .navbar-nav .dropdown.open .dropdown-toggle{background-color:#383838 !important;}
.header .navbar-nav li.dropdown .dropdown-toggle i{color:#8a8a8a !important;}
.header .search-form{background-color:#000;}
.header .search-form .form-control{color:#999;border:0;background-color:#000;}
.header .search-form .form-control::-webkit-input-placeholder{color:#777;}
.header .search-form .form-control:-moz-placeholder{color:#777;}
.header .search-form .form-control::-moz-placeholder{color:#777;}
.header .search-form .form-control:-ms-input-placeholder{color:#777;}
.header .search-form .submit{background:url(../../img/search-icon-light.png);}
.header .hor-menu ul.nav li a{color:#CECECE;}
.header .hor-menu ul.nav li.open > a,
.header .hor-menu ul.nav li > a:hover,
.header .hor-menu ul.nav li > a:focus{color:#fff;background:#383838;}
.header .hor-menu .dropdown-menu li:hover > a,
.header .hor-menu ul.nav li.active > a,
.header .hor-menu ul.nav li.active > a:hover{color:#fff;background:#e02222 !important;}
.header .hor-menu ul.nav li.current > a,
.header .hor-menu ul.nav li.current > a:hover{color:#fff;background:#e02222 !important;}
.header .hor-menu .dropdown-menu{background:#383838;}
.header .hor-menu .dropdown-menu li > a{color:#999;}
.header .hor-menu .hor-menu-search-form-toggler.off{background:#383838 url(../../img/hor-menu-search-close.png) no-repeat center;}
.header .hor-menu .search-form{background:#383838;}
.header .hor-menu .search-form form input{color:#999;}
.header .hor-menu .search-form .btn{color:#999;background:url(../../img/search-icon.png) no-repeat center;}
.header .hor-menu .search-form form input::-webkit-input-placeholder{color:#999;}
.header .hor-menu .search-form form input:-moz-placeholder{color:#999;}
.header .hor-menu .search-form form input::-moz-placeholder{color:#999;}
.header .hor-menu .search-form form input:-ms-input-placeholder{color:#999;}
.mega-menu .mega-menu-submenu{border-right:1px solid #444;}
.mega-menu .mega-menu-submenu li h3{color:#fff;}
.page-sidebar{background-color:#3d3d3d;}
ul.page-sidebar-menu > li > a{border-top:1px solid #5c5c5c !important;color:#ffffff !important;}
ul.page-sidebar-menu > li:last-child > a{border-bottom:1px solid transparent !important;}
ul.page-sidebar-menu > li a i{color:#969696;}
ul.page-sidebar-menu > li.open > a,
ul.page-sidebar-menu > li > a:hover,
ul.page-sidebar-menu > li:hover > a{background:#303030;}
ul.page-sidebar-menu > li.active > a{background:#e02222 !important;border-top-color:transparent !important;color:#ffffff;}
ul.page-sidebar-menu > li.active > a i{color:#ffffff;}
ul.page-sidebar-menu > li > ul.sub-menu > li:first-child > a{border-top:0px !important;}
ul.page-sidebar-menu > li > ul.sub-menu > li.active > a,
ul.page-sidebar-menu > li > ul.sub-menu > li > a:hover{color:#ffffff !important;background:#575757 !important;}
ul.page-sidebar-menu > li > ul.sub-menu > li > a:hover{background:#575757 !important;}
ul.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li.active > a,
ul.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li > a:hover,
ul.page-sidebar-menu > li > ul.sub-menu li.open > a{color:#ffffff !important;background:#575757 !important;}
ul.page-sidebar-menu li > ul.sub-menu > li > a{color:#bdbdbd;}
ul.page-sidebar-menu > li > a .arrow:before,
ul.page-sidebar-menu > li > a .arrow.open:before{color:#7d7d7d !important;}
ul.page-sidebar-menu > li > ul.sub-menu a .arrow:before,
ul.page-sidebar-menu > li > ul.sub-menu a .arrow.open:before{color:#707070 !important;}
ul.page-sidebar-menu > li > a > .arrow.open:before{color:#8a8a8a !important;}
ul.page-sidebar-menu > li.active > a .arrow:before,
ul.page-sidebar-menu > li.active > a .arrow.open:before{color:#ffffff !important;}
.page-sidebar .sidebar-search input{background-color:#242424 !important;color:#7d7d7d;}
.page-sidebar .sidebar-search input::-webkit-input-placeholder{color:#7d7d7d !important;}
.page-sidebar .sidebar-search input:-moz-placeholder{color:#7d7d7d !important;}
.page-sidebar .sidebar-search input:-ms-input-placeholder{color:#7d7d7d !important;}
.page-sidebar .sidebar-search input{background-color:#3d3d3d !important;color:#bfbfbf !important;}
.page-sidebar .sidebar-search .input-box{border-bottom:1px solid #7d7d7d !important;}
.page-sidebar .sidebar-search .submit{background-image:url(../../img/search-icon.png);}
.sidebar-toggler{background-image:url(../../img/sidebar-toggler.jpg);background-color:#242424;}
.page-sidebar-closed .page-sidebar .sidebar-search.open .form-container{background-color:#3d3d3d !important;}
.page-sidebar-closed .page-sidebar .sidebar-search.open .form-container .remove{background-image:url("../../img/sidebar-search-close.png");}
.page-sidebar-closed ul.page-sidebar-menu > li:hover .sub-menu{background-color:#3d3d3d;}
.footer .footer-inner{color:#999999;}
.footer .footer-tools .go-top{background-color:#4f4f4f;}
.footer .footer-tools .go-top:hover{opacity:0.7;filter:alpha(opacity=70);}
.footer .footer-tools .go-top i{color:#8a8a8a;}
.page-footer-fixed .footer{background-color:#242424;}
.page-footer-fixed .footer .footer-inner{color:#999999;}
.page-footer-fixed .footer .footer-tools .go-top{background-color:#4f4f4f;}
.page-footer-fixed .footer .footer-tools .go-top i{color:#8a8a8a;}
.gritter-top{background:url(../../plugins/gritter/images/gritter.png) no-repeat left -30px !important;}
.gritter-bottom{background:url(../../plugins/gritter/images/gritter.png) no-repeat left bottom !important;}
.gritter-item{display:block;background:url(../../plugins/gritter/images/gritter.png) no-repeat left -40px !important;}
.gritter-close{background:url(../../plugins/gritter/images/gritter.png) no-repeat left top !important;}
.gritter-title{text-shadow:none !important;}
.gritter-light .gritter-item,
.gritter-light .gritter-bottom,
.gritter-light .gritter-top,
.gritter-light .gritter-close{background-image:url(../../plugins/gritter/images/gritter-light.png) !important;}
.gritter-item-wrapper a{color:#18a5ed;}
.gritter-item-wrapper a:hover{color:#0b6694;}
@media (min-width:992px){.page-boxed{background-color:#2e2e2e !important;}
.page-boxed .page-container{background-color:#3d3d3d;border-left:1px solid #5e5e5e;border-bottom:1px solid #5e5e5e;}
.page-boxed.page-sidebar-reversed .page-container{border-left:0;border-right:1px solid #5e5e5e;}
.page-boxed.page-sidebar-fixed .page-container{border-left:0;border-bottom:0;}
.page-boxed.page-sidebar-reversed.page-sidebar-fixed .page-container{border-left:0;border-right:0;border-bottom:0;}
.page-boxed.page-sidebar-fixed .page-sidebar{border-left:1px solid #5e5e5e;}
.page-boxed.page-sidebar-reversed.page-sidebar-fixed .page-sidebar{border-right:1px solid #5e5e5e;border-left:0;}
.page-boxed.page-sidebar-fixed.page-footer-fixed .footer{background-color:#2e2e2e !important;}
}
@media (max-width:991px){.page-sidebar{background-color:#292929 !important;}
ul.page-sidebar-menu > li > a{border-top:1px solid #4a4a4a !important;}
ul.page-sidebar-menu > li:last-child > a{border-bottom:0 !important;}
.page-sidebar .sidebar-search input{background-color:#292929 !important;}
ul.page-sidebar-menu > li.open > a,
ul.page-sidebar-menu > li > a:hover,
ul.page-sidebar-menu > li:hover > a{background:#1e1e1e;}
}