﻿@model FleetDataService.Models.CYGNUS_Internal_Movement
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers


@using (Html.BeginCollectionItem("INTViewPrint", Model.IMNo.ToString()))
{
    <tr>
        <td class="center">
            @Model.Id
        </td>
        <td class="center">
            @Model.IMNo
        </td>
        <td class="center">
            @Model.IMDate.ToString("dd MMM yyyy")
        </td>
        <td class="center">
            @Model.ManualNo
        </td>
        <td class="center">
            @Model.Contents
        </td>

        <td class="center">
            <a class="btn btn-xs blue-stripe default" target="_blank" href="@Url.Content("~/ViewPrint/Internal_Movement_ViewPrint?IMNO=" +  @Model.IMNo)"><i class="fa fa-print"></i>&nbsp;View/Print</a>
        </td>
    </tr>
}
