﻿@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "AdviseView Print";
    Layout = null;
}
@{
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("adviceno",ViewBag.Adviceno),
        new KeyValuePair<string, object>("finyear",ViewBag.FinYear),
    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
     
    @Html.MvcReportViewer(ReportPathPrefix + "/Advice_Generation", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>
