﻿@model Fleet.ViewModels.BR_StatusViewPrint
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models;
@{
    ViewBag.Title = "Branch Analysis Pending Report";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ReportTypeList = new List<SelectListItem>
              {
              new SelectListItem{Text="Branch Wise",Value="Branch Wise"},
              new SelectListItem{Text="Staff wise",Value="Staff wise"},
              new SelectListItem{Text="Driver Wise",Value="Driver Wise"},
              new SelectListItem{Text="Route Wise",Value="Route Wise"},
              new SelectListItem{Text="Vehicle Wise",Value="Vehicle Wise"},

              };
    FleetDataService.BranchAccountingService BAS = new FleetDataService.BranchAccountingService();
    List<CYGNUS_Branch_Accounting_Master> ExpenseList = BAS.GetAllExpense();

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_VEHICLE_HDR> VEHNO = MS.GetVehicleObject().Where(c => c.ACTIVEFLAG.ToUpper() == "Y").ToList();
    
}
@using (Html.BeginForm("BRAnalysis_View_PrintViewPrintList", "ViewPrint", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12 EXPENSE">
                                <div class=" form-group">
                                    <label class="control-label col-md-3">
                                        EXPENSE Type
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.ExpenseType, new SelectList(ExpenseList, " ID", "ChargeName"), "", new { @class = "select2 required form-control  required2 required select2 Vehicle", @placeholder = " EXPENSE Type" })
                                    </div>
                                </div>
                            </div>
                         
                            <div class="col-md-12 ">
                                <div class=" form-group">
                                    <label class="control-label col-md-3">
                                        Branch Wise
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.BRCD, new { placeholder = "Branch Wise", @class = "form-control  required2 required" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-8">
                            <button type="submit" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Get List</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#form_sample');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                }
            });
        }

        var Events = function (DomainName) {
            handleDatePicker();

            $("#btnSubmit").click(function () {
                App.blockUI({ boxed: true });
                if ($('#form_sample').valid()) {
                    //$("#submit_form").submit();
                    document.forms["form_sample"].submit();
                }
                else {

                    App.unblockUI();
                }

            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);

                handleDateRangePickers();
                Events(DomainName);
                var StrURL = DomainName + "/ViewPrint/GetAllLocationsDetails";
                JsonDDLSelectCode("BRCD", StrURL);
                var StrURL = DomainName + "/ViewPrint/GetAllRoute";
                JsonDDLSelectCode("Route", StrURL);
                GetVehicleEmployeeUserName_BranchWise("UserID", "U");
                StrURL = DomainName + "/BranchAccounting/GetDriverList";
                JsonDDL("Driver ", StrURL);

                $("#SubHead").hide();
                $("#VehicleCls").hide();
                $("#Branch").hide();
                $("#User").hide();
                $("#RouteCls").hide();
                $("#DriverCls").hide();
             
                //$("#ExpenseType").change(function () {

                //    var val = $("#ExpenseType").val();
                //    if (val == "7") {
                //            var StrURL = DomainName + '/ViewPrint/GetSubHeadExpense?searchTerm=' + val + '';
                //            JsonDDLSelectCode("SubExpense", StrURL);
                //    }
                //    else if (val == "8") {
                //            var StrURL = DomainName + '/ViewPrint/GetSubHeadExpense?searchTerm=' + val + '';
                //            JsonDDLSelectCode("SubExpense", StrURL);
                //    }

                //});

                //$("#ExpenseType").live("change", function () {
                //    App.blockUI({ boxed: true });
                //    var StrURL = DomainName + "/ViewPrint/Get_Rate_Type_Class_?Type=" + $(this).val();
                //    FillDropDownfromOther("ReportType", StrURL);
                //    if ($(this).val() == "7" || $(this).val() == "8")
                //    {
                //        $("#SubHead").show();
                //    }
                //    else
                //    {
                //        $("#SubHead").hide();
                //    }

                //    App.unblockUI();
                //});

                $("#ReportType").change(function () {


                    var val = $("#ReportType").val();
                    if (val == "Branch Wise") {
                        $("#VehicleCls").hide();
                        $("#Branch").show();
                        $("#User").hide();
                        $("#RouteCls").hide();
                        $("#DriverCls").hide();
                                            }
                    else if (val == "Staff wise") {
                        $("#VehicleCls").hide();
                        $("#Branch").hide();
                        $("#User").show();
                        $("#RouteCls").hide();
                        $("#DriverCls").hide();
                                            }
                    else if (val == "Driver Wise") {
                        $("#VehicleCls").hide();
                        $("#Branch").hide();
                        $("#User").hide();
                        $("#RouteCls").hide();
                        $("#DriverCls").show();
                    }
                    else if (val == "Route Wise") {
                        $("#VehicleCls").hide();
                        $("#Branch").hide();
                        $("#User").hide();
                        $("#RouteCls").show();
                        $("#DriverCls").hide();

                    }
                    else if (val == "Vehicle Wise") {
                        $("#VehicleCls").show();
                        $("#Branch").hide();
                        $("#User").hide();
                        $("#RouteCls").hide();
                        $("#DriverCls").hide();

                    }

                });


            }   
        }
    }();
</script>

