﻿@using System.Configuration
@model Fleet.ViewModels.vw_OperationTrack
@using MvcReportViewer;
@{
    ViewBag.Title = "Branch Request View Print";
    Layout = null;
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("BillNo",ViewBag.No),
    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
    string ReportName = "" + @ViewBag.ReportName;
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/" + ReportName, parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>