﻿@model Fleet.ViewModels.BR_StatusViewPrint
@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "Branch Analysis Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("FromDate", ViewBag.FromDate),
        new KeyValuePair<string, object>("ToDate", ViewBag.ToDate),
        new KeyValuePair<string, object>("BRCD", Model.BRCD),
        new KeyValuePair<string, object>("ExpenseType", Model.ExpenseType),
        

    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/BRPerformanceReport", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>



