﻿@model Fleet.ViewModels.BR_StatusViewPrint
@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "Branch Status Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

@{
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("FromDate",ViewBag.FromDate),
        new KeyValuePair<string, object>("ToDate",ViewBag.ToDate),
        new KeyValuePair<string, object>("ExpenseType",Model.ExpenseType),
        new KeyValuePair<string, object>("Branch",Model.BRCD),
        //new KeyValuePair<string, object>("Bill_Status",Model.BRStatus),

    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/BRStatusReport", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>



