﻿@model Fleet.ViewModels.BR_StatusViewPrint
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models;
@{
    ViewBag.Title = "Branch Status Summary Report";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.BranchAccountingService BAS = new FleetDataService.BranchAccountingService();
    List<CYGNUS_Branch_Accounting_Master> ExpenseList = BAS.GetAllExpense();
}
@using (Html.BeginForm("BRStatusSummary_View_PrintViewPrintList", "ViewPrint", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class=" form-group">
                                    <label class="control-label col-md-3">
                                        Select Location
                                    </label>
                                    @Html.HiddenFor(m => m.FromDate)
                                    @Html.HiddenFor(m => m.ToDate)
                                    <div class="col-md-8">
                                        <div id="reportrange" class="btn default col-md-14">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Select Location :
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.BRCD, new { placeholder = "Enter Branch", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class=" form-group">
                                    <label class="control-label col-md-3">
                                        EXPENSE Type
                                    </label>
                                    <div class="col-md-6">
                                     @Html.DropDownListFor(model => model.ExpenseType, new SelectList(ExpenseList, " ID", "ChargeName"), "", new { @class = "select2 required form-control  required2 select2 Vehicle", @placeholder = " EXPENSE Type" })
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            GRN No.
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.GRNNo, new { placeholder = "GRN No.", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-8">
                            <button type="submit" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Get List</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                }
            });
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }
            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                //maxDate: '12/31/2014',
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#FromDate').val(start.format('MMMM D, YYYY'));
                     $('#ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ToDate').val(moment().format('MMMM D, YYYY'));
        }

        var Events = function (DomainName) {
            handleDatePicker();

            $("#btnSubmit").click(function () {
                App.blockUI({ boxed: true });
                if ($('#submit_form').valid()) {
                    //$("#submit_form").submit();
                    document.forms["form_sample"].submit();
                }
                else {

                    App.unblockUI();
                }

            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);

                handleDateRangePickers();
                Events(DomainName);
                var StrURL = DomainName + "/ViewPrint/GetAllLocationsDetails";
                JsonDDLSelectCode("BRCD", StrURL);
                //var StrURLEXPENSE = DomainName + "/ViewPrint/GetAllEXPENSEDetails";
                //JsonDDLSelectCode("ExpenseType", StrURLEXPENSE);
                var StrURLEXPENSE = DomainName + "/ViewPrint/GetAllBRStatusetails";
                JsonDDLSelectCode("BRStatus", StrURLEXPENSE);

            }
        }
    }();
</script>

