﻿@model Fleet.ViewModels.BR_StatusViewPrint
@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "Branch TripSheet  Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("FromDate",ViewBag.FromDate),
        new KeyValuePair<string, object>("ToDate",ViewBag.ToDate),
        new KeyValuePair<string, object>("Driver",Model.Driver),
        new KeyValuePair<string, object>("Vehicle",Model.Vehicle),
        new KeyValuePair<string, object>("BRCD",Model.BRCD),

    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/TripSheetDisputedAmount", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>



