﻿@model FleetDataService.Models.webx_pdchdr
@using System.Configuration
@using MvcReportViewer;

@{
    ViewBag.Title = "ChallanViewPrint";
    // Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

@{
    var parameters = new List<KeyValuePair<string, object>> { };

    if (ViewBag.Type == "PRS")
    {
        parameters = new List<KeyValuePair<string, object>>
   {
       new KeyValuePair<string, object>("PDCType","P"),
       new KeyValuePair<string, object>("PRSNo",ViewBag.ChallanNo)
   };
    }
    if (ViewBag.Type == "DRS")
    {
        parameters = new List<KeyValuePair<string, object>>
   {
       new KeyValuePair<string, object>("DRSPDCType","D"),
       new KeyValuePair<string, object>("DRSNo",ViewBag.ChallanNo),
       new KeyValuePair<string, object>("DRSDate",Model.PRSDate),
       new KeyValuePair<string, object>("MNo",Model.Manualpdcno)
   };
    }
    if (ViewBag.Type == "THC")
    {
        parameters = new List<KeyValuePair<string, object>>
   {
       new KeyValuePair<string, object>("THCNo",ViewBag.ChallanNo+"."),
       //new KeyValuePair<string, object>("THCDATE",System.DateTime.Now.ToString("dd MMM yyyy")),
       //new KeyValuePair<string, object>("MNo",""),
       //new KeyValuePair<string, object>("Route",""),
       //new KeyValuePair<string, object>("Mode","")
   };
    }
    if (ViewBag.Type == "MF")
    {
        parameters = new List<KeyValuePair<string, object>>
   {
       new KeyValuePair<string, object>("MFNo",ViewBag.ChallanNo)
   };
    }

    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
    string ReportName = "" + @ViewBag.ReportName;
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/" + ReportName, parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>
