﻿@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "Cnote Reprint View Print";
    Layout = null;
}


@{
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("DocNo",ViewBag.No),
    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/Cnote_Report_ForEmail", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>




