﻿@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "Covering View Print";
    Layout = null;

    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("Billno",ViewBag.BillNo),
    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/CoveringDetails_Multiple", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>
