﻿@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "Crossing Challan Bill Payment View";
    Layout = null;// "~/Views/Shared/_Layout.cshtml";

    var parameters = new List<KeyValuePair<string, object>> { };

    parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("VoucherNO",ViewBag.VoucherNO),
    };

    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/CrossingChalanBillPaymentView", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>





