﻿@using MvcReportViewer;
@using System.Configuration
@{
    ViewBag.Title = "Crossing Vendor View";

    Layout = null;
}

@{
    var parameters = new List<KeyValuePair<string, object>>();
    parameters.Add(new KeyValuePair<string, object>("ContractID", ViewBag.ContractID));
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}


<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/" + "CrossingVendorContractReport", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>
