﻿@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "Cutomer Contract View";
    Layout = null;// "~/Views/Shared/_Layout.cshtml";
}
@{
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("ContractID",ViewBag.ContractID),
        new KeyValuePair<string, object>("CustCodeName",ViewBag.CustCodeName),
    };

    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/CCMView", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>