﻿@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "DocketViewPrint";
    Layout = null;// "~/Views/Shared/_Layout.cshtml";

    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("DocketNo",ViewBag.DocketNo),
    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();

    var ReportName = "RCPL_GCView";
    if (ViewBag.Type == "2")
    {
        ReportName = "Wilf_Craft_GC_Multiple";
    }
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/" + ReportName, parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>