﻿@model Fleet.ViewModels.ODADRS_PRSRegister
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models;
@{
    ViewBag.Title = "Docket Reference No View Print";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Docket_ReferenceNo_Submit", "ViewPrint", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Reference No :
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.Reference, new { placeholder = " Reference No :", @class = "form-control " })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class=" form-group">
                                    <label class="control-label col-md-3">
                                        Docket No
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.DocumentNo, new { placeholder = "Document No", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-8">
                            <button type="submit" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Get List</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                //ignore: "",

                rules: {
                    'DocumentNo': {
                        checkDKTSTAXEditAvailability: true,
                    },
                },
                messages: {
                    'DocumentNo': {
                        checkDKTSTAXEditAvailability: function () {
                            return $("#DKTError").val()
                        }
                    },
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();

                    App.blockUI({ boxed: true });
                    document.form["form_sample"].submit();

                }

            });
        }

        var Events = function (DomainName) {

            $("#btnSubmit").click(function () {

                if ($("#Reference").val() != null || $("#Reference").val() != "" || $("#DocumentNo").val() != null || $("#DocumentNo").val() != "") {
                    App.blockUI({ boxed: true });
                    if ($('#form_sample').valid()) {
                        //$("#submit_form").submit();
                        document.forms["form_sample"].submit();
                    }
                    else {

                        App.unblockUI();
                    }
                }
                else {
                    alert("please Fill Any One Box")
                }


            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                Events(DomainName);
            }
        }
    }();
</script>

