﻿@model Fleet.ViewModels.Driver_Attendence_ViewPrint
@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "Driver Attendence Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("DriverNo",Model.DriverNo),
        new KeyValuePair<string, object>("StartDT",Model.FromDate.ToString("dd MMM yyyy")),
        new KeyValuePair<string, object>("EndDT",Model.ToDate.ToString("dd MMM yyyy")),
        new KeyValuePair<string, object>("Location",Model.Location)
    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/Driver_Attendence_Report", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>


