﻿@using MvcReportViewer;
@using System.Configuration
@{
    ViewBag.Title = "Driver Tracker";

    Layout = null;
}

@{
    var parameters = new List<KeyValuePair<string, object>>();

    parameters.Add(new KeyValuePair<string, object>("Driver_Id", ViewBag.DriverId));
    parameters.Add(new KeyValuePair<string, object>("ConnString", ""));
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportFleetPathPrefix"].ToString();
}


<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/" + "DriverTracking", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>
