﻿@model Fleet.ViewModels.CNoteReassignFilter
@using FleetDataService.Models
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    var Loccode = Model.BaseLoccode;

    ViewBag.Title = "Expected Arrival Report";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<webx_location> LocationList = new List<webx_location>();
    List<webx_location> LocationList_To = new List<webx_location>();

    List<SelectListItem> LocList = new List<SelectListItem>(){
                    new SelectListItem{ Text="", Value = "" },
    };

    List<SelectListItem> DateTypelist = new List<SelectListItem>(){
                    new SelectListItem{ Text="THC Date", Value = "1" },
                    new SelectListItem{ Text="Arrival Date", Value = "2" },
                    new SelectListItem{ Text="Departed Date", Value = "3" },
    };

    List<SelectListItem> Statuslist = new List<SelectListItem>(){
                    new SelectListItem{ Text="All", Value = "ALL" },
                    new SelectListItem{ Text="Not Closed", Value = "1,2" },
                    new SelectListItem{ Text="Closed", Value = "3" },
                    new SelectListItem{ Text="Yet To Arrive", Value = "1" },
                    new SelectListItem{ Text="Arrived but not departed", Value = "2" },
    };
}
@using (Html.BeginForm("ExpectedArrivalReportList", "ViewPrint", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-10">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>Select @ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="page-breadcrumb breadcrumb visible-tablet center">
                                <li><strong>FROM</strong></li>
                            </ul>
                            <div class="portlet-body">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-11">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">
                                                    Regional Office :
                                                </label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(c => c.RO, new SelectList(Model.RegionList, "LocCode", "LocName"), null, new { @class = "form-control required required2 select2", @placeholder = "Select Region" })
                                                    @Html.HiddenFor(c => c.RO)
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-11">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">
                                                    Select Location :
                                                </label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(c => c.Loccode, new SelectList(Model.LocationList, "LocCode", "LocName"), null, new { @class = "form-control required required2 select2", @placeholder = "Select Location" })
                                                    @Html.HiddenFor(c => c.LocLevel)
                                                    @Html.HiddenFor(c => c.Loccode)
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-11">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">
                                                    Select Date :
                                                </label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(c => c.DT_TYPE, new SelectList(DateTypelist, "Value", "Text"), null, new { @class = "form-control required required2 select2", @placeholder = "Select Date Type" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-11">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">
                                                    Status :
                                                </label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(c => c.Status_TYPE, new SelectList(Statuslist, "Value", "Text"), null, new { @class = "form-control required required2 select2", @placeholder = "Select Status Type" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="page-breadcrumb breadcrumb visible-tablet center">
                                <li><strong>TO</strong></li>
                            </ul>
                            <div class="portlet-body">
                                <div class="form-body">
                                    @if (Model.LocLevel == 1 || Model.LocLevel == 2)
                                    {
                                        <div class="row">
                                            <div class="col-md-11">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">
                                                        Regional Office :
                                                    </label>
                                                    <div class="col-md-6">
                                                        @Html.DropDownListFor(c => c.RO_To, new SelectList(Model.RegionList, "LocCode", "LocName"), null, new { @class = "form-control required required2 select2", @placeholder = "Select Region" })
                                                        @Html.HiddenFor(c => c.RO_To)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <br />
                                        <br />
                                    }

                                    <div class="row">
                                        <div class="col-md-11">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">
                                                    Select Location :
                                                </label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(c => c.Loccode_To, new SelectList(Model.LocationList, "LocCode", "LocName"), null, new { @class = "form-control required required2 select2", @placeholder = "Select Location" })
                                                    @Html.HiddenFor(c => c.LocLevel)
                                                    @Html.HiddenFor(c => c.Loccode_To)
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-11">
                                            <div id="reportrange" class="btn default col-md-offset-3 col-md-6">
                                                <i class="fa fa-calendar"></i>
                                                &nbsp;
                                                <span></span>
                                                <b class="fa fa-angle-down"></b>
                                            </div>
                                            @Html.HiddenFor(c => c.FromDate)
                                            @Html.HiddenFor(c => c.ToDate)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-search"></i>&nbsp;Show Report</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();

                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        return false;
                    }
                    App.blockUI({ boxed: true });
                    document.forms['form_sample'].submit();
                }
            });
        }
        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                Events(DomainName);
                $("#RO").on("change", function () {
                    StrURL = DomainName + "/Finance/GetLocationListFromROJson?LocCode=" + $(this).val();
                    FillDropDownfromOther1("Loccode", StrURL, "Location");
                });
                $("#RO_To").on("change", function () {
                    StrURL = DomainName + "/Finance/GetLocationListFromROJson?LocCode=" + $(this).val();
                    FillDropDownfromOther1("Loccode_To", StrURL, "Location");
                });
            }
        }
    }();
</script>

