﻿@model Fleet.ViewModels.CNoteReassignFilter
@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "Expected Arrival Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (Model.LocLevel==2)
    {
        Model.Loccode = Model.RO;
    }
    if (Model.LocLevel_To == 2)
    {
        Model.Loccode_To = Model.RO_To;
    }
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("location",Model.Loccode),
        new KeyValuePair<string, object>("locLevel",Model.LocLevel),
        new KeyValuePair<string, object>("location_to",Model.Loccode_To),
        new KeyValuePair<string, object>("locLevel_to",Model.LocLevel_To),
        new KeyValuePair<string, object>("Fromdt",Model.FromDate.ToString("dd MMM yyyy")),
        new KeyValuePair<string, object>("todt",Model.ToDate.ToString("dd MMM yyyy")),
        new KeyValuePair<string, object>("status",Model.Status_TYPE),
        new KeyValuePair<string, object>("DTTYP",Model.DT_TYPE),
        
    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}
<div class="form-body">
    <div class="row">
        <a href="@Url.Content("~/ViewPrint/ExpectedArrivalReport")" class="btn btn-sm blue backButton">
            <i class="fa fa-arrow-left"></i>&nbsp;Back to Criteria
        </a>
    </div>
</div>
<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/ExpectedArrival_NewPortal", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>
<script type="text/javascript">
    var FormComponents = function (DomainName) {
        return {
            //main function to initiate the module
            init: function (DomainName) {
                $(".backButton").live("click", function () {
                    App.blockUI({ boxed: true });
                });
            }
        };
    }();
</script>