﻿@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "Fixed Variable Expense Bill Entry";
    Layout = null;// "~/Views/Shared/_Layout.cshtml";
}

@{
    var parameters = new List<KeyValuePair<string, object>>
{
        new KeyValuePair<string, object>("billno",ViewBag.BillNo),
    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix +"/ViewFixedVarExpenseBill", parameters, new { Height = "100%", Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>