﻿@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "Gate Pass Reprint DKTwise ViewPrint";
    Layout = null;// "~/Views/Shared/_Layout.cshtml";
}

@{
    var parameters = new List<KeyValuePair<string, object>>();

    parameters.Add(new KeyValuePair<string, object>("dockno", ViewBag.Dockno));
    parameters.Add(new KeyValuePair<string, object>("docksf", ViewBag.Docksf));
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/DocketView_xls", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>