﻿@using System.Configuration
@using MvcReportViewer;
@using Microsoft.Reporting.WebForms;
@using System.Web.UI.WebControls
@model Fleet.ViewModel.StandardReportFilter
@using FleetDataService.Models
@using Fleet.Classes
@using System.Data
@{


    ControlSettings CS = new ControlSettings();
    CS.ShowExportControls = false;
    CS.ShowParameterPrompts = false;
    CS.ShowFindControls = false;
    CS.BackColor = System.Drawing.Color.LightGray;
    CS.KeepSessionAlive = true;
    CS.Width = new Unit("100%");
    CS.Height = new Unit("800px");
    CS.SizeToReportContent = true;
    CS.AsyncRendering = false;
}
@{
    /**/

    ViewBag.Title = "GC XLS Generation";
    Layout = null;// "~/Views/Shared/_Layout.cshtml";
}
@{
    var RDLparameters = new List<KeyValuePair<string, object>>();
    List<ReportParameter> RDLparameters1 = new List<ReportParameter>();
    if (@ViewBag.Type == "1")
    {
        //parameters.Add(new KeyValuePair<string, object>("dockno", ViewBag.Dockno));
        //parameters.Add(new KeyValuePair<string, object>("docksf", ViewBag.Docksf));

        ReportParameter RPT = new ReportParameter("dockno", ViewBag.Dockno);
        RDLparameters1.Add(RPT);
        ReportParameter RPT1 = new ReportParameter("docksf", ViewBag.Docksf);
        RDLparameters1.Add(RPT1);
    }
    else
    {
        // parameters.Add(new KeyValuePair<string, object>("DocNo", ViewBag.Dockno));
        ReportParameter RPT = new ReportParameter("DocNo", ViewBag.Dockno);
        RDLparameters1.Add(RPT);
    }
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();





    string RDLPATH = ReportPathPrefix + "/Cnote_Report_Ver2";
    if (ViewBag.Type == "1")
    {
        RDLPATH = ReportPathPrefix + "/DocketView_xls";
    }

}

<div id="divPrint">
    @*@if (@ViewBag.Type == "1")
        {
            @Html.MvcReportViewer(ReportPathPrefix + "/DocketView_xls", parameters, new { Height = 600, Width = "100%", style = "border: none" })
        }
        else
        {
            @Html.MvcReportViewer(ReportPathPrefix + "/Cnote_Report_Ver2", parameters, new { Height = 600, Width = "100%", style = "border: none" })
        }*@
    @Html.MvcReportViewerFluent(RDLPATH).ReportParameters(RDLparameters1).Attributes(new { Height = 500, Width = new Unit("100%"), style = "border: none" }).ControlSettings(CS)


    <div class="span3"></div>
</div>




<script>
    $(document).ready(function () {
        var sel = $("select#ReportViewer2_ctl01_ctl05_ctl00");
        sel.find("option[value='XML']").remove();
        sel.find("option[value='EXCEL']").remove();
    });
</script>