﻿@{
    ViewBag.Title = "General_Ledger_08Jun16_NewDB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Configuration
@model Fleet.ViewModels.LoadingSheetFilterViewModel
@using MvcReportViewer;

@{
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/General_Ledger_08Jun16_NewDB", new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>