﻿@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "GRN ASSIG ND REASSIGN VIEW";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

@{
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("ASSIGNNO",ViewBag.ASSIGNNO),
        new KeyValuePair<string, object>("Type",ViewBag.Type)
    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/GRNASSIGREASSIGN", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>