﻿@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "IDT Freight Memo View/Print";
    Layout = null;// "~/Views/Shared/_Layout.cshtml";
}
@{
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("FMNO",ViewBag.FMNO),
    };

    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}
<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/IDTFreightMemoView", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>
