﻿@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "Loading-Unloading Bill View";
    Layout = null;
}


@{
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("BILLNO",ViewBag.BillNo),
    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @if (@ViewBag.Type == "8" || @ViewBag.Type == "LOADING")
    {
        @Html.MvcReportViewer(ReportPathPrefix + "/Loading_Unloading_BillView", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    }
    else if (@ViewBag.Type == "9" || @ViewBag.Type == "MONTHLY LOADING")
    {
        @Html.MvcReportViewer(ReportPathPrefix + "/Loading_Unloading_Monthly_BillView", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    }
    <div class="span3"></div>
</div>