﻿@model Fleet.ViewModels.ODADRS_PRSRegister
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models;
@{
    ViewBag.Title = "ODA DRS/PRS Register";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ODATypeList = new List<SelectListItem>
              {
              new SelectListItem{Text="PRS",Value="PRS"},
              new SelectListItem{Text="DRS",Value="DRS"},
              };
}
@using (Html.BeginForm("ODADRS_PRSRegisterViewPrintList", "ViewPrint", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class=" form-group">
                                    <label class="control-label col-md-3">
                                        Select Date
                                    </label>
                                    @Html.HiddenFor(m => m.FromDate)
                                    @Html.HiddenFor(m => m.ToDate)
                                    <div class="col-md-8">
                                        <div id="reportrange" class="btn default col-md-14">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Select Location :
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.BRCD, new { placeholder = "Enter Branch", @class = "form-control required2 required" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class=" form-group">
                                    <label class="control-label col-md-3">
                                        Type
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(c => c.ODAType, new SelectList(ODATypeList, "Value", "Text"), "", new { @class = "select2 required required2 form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class=" form-group">
                                    <label class="control-label col-md-3">
                                        Document No
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.DocumentNo, new { placeholder = "Document No", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-8">
                            <button type="submit" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Get List</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            //$.validator.addMethod('checkDKTSTAXEditAvailability', function (value) {
            //    App.blockUI({ boxed: true });
            //    var StrURL = DomainName + "/ViewPrint/Cheked_Dockno_NO_Report?DocketNo=" + $("#DocumentNo").val().trim();
            //    // alert("hello " + StrURL);
            //    var result1 = $.ajax({
            //        async: false,
            //        type: 'POST',
            //        contentType: 'application/json; charset=utf-8',
            //        url: StrURL,
            //        dataType: 'json',
            //        data: {},
            //    });

            //    var d1 = JSON.parse(result1.responseText);

            //    $("#DKTError").val(d1.Status);

            //    if (d1.Status == "Done") {
            //        $("#btnSubmit").attr("disabled", false);
            //        App.unblockUI();
            //        return true;
            //    }
            //    else {
            //        $("#btnSubmit").attr("disabled", true);
            //        App.unblockUI();
            //        return false;
            //    }

            //}, "");

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                //ignore: "",

                rules: {
                    'DocumentNo': {
                        checkDKTSTAXEditAvailability: true,
                    },
                },
                messages: {
                    'DocumentNo': {
                        checkDKTSTAXEditAvailability: function () {
                            return $("#DKTError").val()
                        }
                    },
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();

                    App.blockUI({ boxed: true });
                    document.form["form_sample"].submit();

                }

            });
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }
            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                //maxDate: '12/31/2014',
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#FromDate').val(start.format('MMMM D, YYYY'));
                     $('#ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ToDate').val(moment().format('MMMM D, YYYY'));
        }

        var Events = function (DomainName) {
            handleDatePicker();

            $("#btnSubmit").click(function () {
                App.blockUI({ boxed: true });
                if ($('#form_sample').valid()) {
                    //$("#submit_form").submit();
                    document.forms["form_sample"].submit();
                }
                else {

                    App.unblockUI();
                }

            });
        }

        //var DocketNoChange = function (DomainName) {

        //    $("#DocumentNo").focusout(function () {

        //        App.blockUI({ boxed: true });

        //        var DocketNo = $(this).val();
        //        var DocketNoId = $(this).attr("id");
        //        var Id = $(this).attr("id");

        //        var StrURL1 = DomainName + '/ViewPrint/Cheked_Dockno_NO_Report?DocketNo=' + DocumentNo;
        //        $.ajax({
        //            url: StrURL1,
        //            cache: false,
        //            data: {},
        //            type: 'POST',
        //            success: function (data) {
        //                if (data.IsRecordFound == "1") {

        //                    if (data.flag == "Y") {

        //                    }
        //                    else {
        //                        alert(data.exmessage)
        //                    }
        //                    App.unblockUI();
        //                }
        //            },
        //            error: function (req, status, error) {
        //                alert("error " + req + "   " + status + "   " + error);
        //                App.unblockUI();

        //            }
        //        });

        //    });
        //}

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);

                handleDateRangePickers();
                Events(DomainName);
                var StrURL = DomainName + "/ViewPrint/GetAllLocationsDetails";
                JsonDDLSelectCode("BRCD", StrURL);

            }
        }
    }();
</script>

