﻿@model Fleet.ViewModels.ODADRS_PRSRegister
@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "ODA DRS/PRS Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("StartDate",ViewBag.FromDate),
        new KeyValuePair<string, object>("EndDate",ViewBag.ToDate),
        new KeyValuePair<string, object>("DocumentNo",Model.DocumentNo),
        new KeyValuePair<string, object>("ReportCategory",Model.ODAType),
        new KeyValuePair<string, object>("SingleLoction",Model.BRCD),

    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/ODA_PRS_DRS_Register", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>



