﻿@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "GC XLS Generation";
    Layout = null;// "~/Views/Shared/_Layout.cshtml";
}

@{
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("dockno",ViewBag.Dockno),
        new KeyValuePair<string, object>("docksf","."),
    };

    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/DocketView_xls", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>




