﻿@{
    ViewBag.Title = "PDC_List_From_08Jun16_New_DB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Configuration
@model Fleet.ViewModels.LoadingSheetFilterViewModel
@using MvcReportViewer;

@{
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/PDC_List_From_08Jun16_NewDB", new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>