﻿@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "PFM View Print";
    Layout = null;
}

@{
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("PFMNO",ViewBag.PFMNO), 
        new KeyValuePair<string, object>("DocType",ViewBag.DocType),
    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/PFM_ViewPrint_SSRS_New_Portal", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>





<h2></h2>
