﻿@{
    ViewBag.Title = "Po_Generation_ViewPrint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "Po Generation View Print";
    Layout = null;// "~/Views/Shared/_Layout.cshtml";
}

@{
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("pocodeNO",ViewBag.NO)
    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/PO_GenerationView", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>


