﻿@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "PO Bill ";
    Layout = null;// "~/Views/Shared/_Layout.cshtml";
}

@{
    var parameters = new List<KeyValuePair<string, object>>
    {
        //new KeyValuePair<string, object>("VoucherType",ViewBag.Type),
        new KeyValuePair<string, object>("VoucherNO",ViewBag.VoucherNO),
    };

    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/PoBill", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>

