﻿@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "THC Unloading View/Print";
    Layout = null;// "~/Views/Shared/_Layout.cshtml";
}
@{
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("THCNO",ViewBag.THCNO),
        new KeyValuePair<string, object>("UnLoadingNo",ViewBag.UnLoadingNo),
        new KeyValuePair<string, object>("Brcd",ViewBag.Brcd),
    };

    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}
<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/AutoUnloadingViewPrint", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>
