﻿@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "Trip Sheet View";
    Layout = null;// "~/Views/Shared/_Layout.cshtml";
}

@{
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("TRIPSHEET_NO",ViewBag.TRIPSHEET_NO),
        new KeyValuePair<string, object>("EXPTYPE",ViewBag.EXPTYPE)
    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/TripSheetViewNew_Portal", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>


