﻿@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "View User Details";
    Layout = null;
}
@{
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("userId",ViewBag.userName),
    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/User_View_Print", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>