﻿@model Fleet.ViewModels.ODADRS_PRSRegister
@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "Wild Craft " + ViewBag.DKTCalledAS + " Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("DocketNo",Model.DocketNo),
        new KeyValuePair<string, object>("TYPE",2),

    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/Wilf_Craft_GC_Multiple", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>