﻿@model Fleet.ViewModels.ODADRS_PRSRegister
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    ViewBag.Title = "Wild Craft " + ViewBag.DKTCalledAS + " Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("wildCraftGCReport", "ViewPrint", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Enter @ViewBag.DKTCalledAS No.:
                            </label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(c => c.DocketNo, new { placeholder = ViewBag.DKTCalledAS + " No.", @class = "form-control required required2 ClsCnote" })
                                @Html.Hidden("DKTError")
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-4 col-md-8">
                                    <button type="button" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-search"></i>&nbsp;Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {            
            var form = $('#form_sample');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            $.validator.addMethod('checkDKTSTAXEditAvailability', function (value) {
                App.blockUI({ boxed: true });
                var StrURL = DomainName + "/ViewPrint/Check_DocketNo?DocketNo=" + $("#DocketNo").val().trim();
                // alert("hello " + StrURL);
                var result1 = $.ajax({
                    async: false,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: StrURL,
                    dataType: 'json',
                    data: {},
                });

                var d1 = JSON.parse(result1.responseText);

                $("#DKTError").val(d1.Status);

                if (d1.Status == "Done") {
                    $("#btnSubmit").attr("disabled", false);
                    App.unblockUI();
                    return true;
                }
                else {
                    $("#btnSubmit").attr("disabled", true);
                    App.unblockUI();
                    return false;
                }

            }, "");

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {
                    'DocketNo': {
                        checkDKTSTAXEditAvailability: true,
                    },

                },
                messages: {
                    'DocketNo': {
                        checkDKTSTAXEditAvailability: function () {
                            return $("#DKTError").val()
                        }
                    },
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },
                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                $(".ClsCnote").live("change", function () {
                    $(this).rules("add", {
                        checkDKTSTAXEditAvailability: true,
                    });
                });
                $("#btnSubmit").click(function () {
                    if ($('#form_sample').valid()) {
                        App.blockUI({ boxed: true });
                        $("#btnSubmit:input").attr("disabled", "true");
                        document.forms["form_sample"].submit();
                    }
                });
            }
        }
    }();
</script>
