﻿@model Fleet.ViewModels.WEBX_FLEET_CHECKLIST_MST
@using FleetDataService.Models;
@{
    var Text = "Submit"; var type = "Add";
    if (Model.chk_id != null && Model.chk_id > 0)
    {
        Text = "Update";
        type = "Edit";
    }
    bool Active = false;
    if (Model.ActiveFlag != null && Model.ActiveFlag.ToUpper() == "Y" || Model.chk_id == 0)
    {
        Active = true;
    }

    FleetDataService.FleetService FS = new FleetDataService.FleetService();
    List<Webx_Master_General> CategoryList = FS.GetCheckList_Category().ToList();
    List<Webx_Master_General> DocumentList = FS.GetCheckList_Document().ToList();
}

<div class="portlet blue box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>&nbsp;@type Chack List
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("AddEditCheckList", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Category</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(c => c.chk_cat, new SelectList(CategoryList, "CodeId", "CodeDesc"), "", new { @class = "form-control required required2 select2" })
                                @Html.HiddenFor(c => c.chk_id)
                                @Html.HiddenFor(c => c.Chk_Cat_name)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Checklist Description</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Chk_Desc, new { placeholder = "Enter Description", @class = "form-control required required2 text-uppercase" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Document To be Shown</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(c => c.Chk_Document_Shown, new SelectList(DocumentList, "CodeId", "CodeDesc"), "", new { @class = "form-control required required2 select2" })
                                @Html.HiddenFor(c => c.Chk_Document_Shown_name)
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Active</label>
                            <div class="col-md-6 chkactive">
                                @Html.CheckBox("ActiveFlag", @Active)
                                @Html.HiddenFor(c => c.ActiveFlag)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <button type="button" class="btn btn-sm defualt controls btnCancel" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                    <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
                </div>
            </div>
        }
    </div>
</div>
