﻿@model FleetDataService.Models.webx_VEHICLE_HDR
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.FleetService FS = new FleetDataService.FleetService();
    List<webx_VEHICLE_HDR> Location = FS.GetOdometerResion();
    List<webx_VEHICLE_HDR> VEHNO = FS.GetVEHICLEList();

}
<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.SrNo, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("VEHNOList", Model.SrNo.ToString()))
    {
        <td class="col-md-2 center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(model => model.VEHNO, new SelectList(VEHNO, "VEHNO", "VEHNO"), "", new { @class = "select2 required form-control required required2 select2", @placeholder = "VEHNO" })
                    @Html.HiddenFor(m => m.VEH_INTERNAL_NO)
                </div>
            </div>
        </td>
        <td class="col-md-2 center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Current_Km_Read, new { placeholder = "Current_Km_Read", @class = "form-control required required2", @readonly = "True" })
                    @Html.HiddenFor(m => m.VEH_INTERNAL_NO)
                </div>
            </div>
        </td>
        <td class="col-md-2 center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Odometer_Reading, new { placeholder = "	Odometer_Reading ", @class = "form-control required required2 select2" })
                </div>
            </div>
        </td>
        <td class="col-md-2 ">
            <div class="form-group">
                <div class="col-md-11">
                    <div class="input-group">
                        <div class="input-group input-medium date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="">
                            @Html.TextBox("Odometer_Reading_Dt", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = "form-control required", @readonly = "True" })
                            <span class="input-group-btn" id="CDate">
                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td class="col-md-2 center ">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(model => model.Odometer_Reason, new SelectList(Location, "CodeId", "CodeDesc"), "", new { @class = "select2 required form-control required required2 select2", @placeholder = "Odometer_Reason" })
                </div>
            </div>
        </td>
        <td class="center">
            @if (Model.SrNo > 0)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
            }
        </td>
    }
</tr>

