﻿@model Fleet.ViewModels.WEBX_FLEET_DOCU_TYPE_MST
@using FleetDataService.Models;
@{
    var Text = "Submit"; var type = "Add";
    if (Model.DOCU_TYPE_ID != null && Model.DOCU_TYPE_ID > 0)
    {
        Text = "Update";
        type = "Edit";
    }
    bool Active = false;
    if (Model.ACTIVE_FLAG != null && Model.ACTIVE_FLAG.ToUpper() == "Y" || Model.DOCU_TYPE_ID == 0)
    {
        Active = true;
    }
    bool Applicable = false;
    if (Model.APPLICABLE_STATE != null && Model.APPLICABLE_STATE.ToUpper() == "YES" || Model.DOCU_TYPE_ID == 0)
    {
        Applicable = true;
    }
    bool COST = false;
    if (Model.COST_CAPTURED != null && Model.COST_CAPTURED.ToUpper() == "YES" || Model.DOCU_TYPE_ID == 0)
    {
        COST = true;
    }

    FleetDataService.FleetService FS = new FleetDataService.FleetService();
    List<Webx_Master_General> RENEWList = FS.GetRENEW_AUTH_ID().ToList();
    //List<Webx_Master_General> DocumentList = FS.GetCheckList_Document().ToList();
}

<div class="portlet blue box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>&nbsp;@type Document Type
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("AddEditCheckList", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Document Type</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.DOCU_TYPE, new { placeholder = "Enter Document Type", @class = "form-control required required2" })
                                @Html.HiddenFor(c => c.DOCU_TYPE_ID)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Description</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.DECS, new { placeholder = "Enter Description", @class = "form-control required required2" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Renewal Authority</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(c => c.RENEW_AUTH_ID, new SelectList(RENEWList, "CodeId", "CodeDesc"), "", new { @class = "form-control required required2 select2" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Applicable State Wise</label>
                            <div class="col-md-7 chkactive">
                                @Html.CheckBox("APPLICABLE_STATE", @Applicable)
                                @Html.HiddenFor(c => c.APPLICABLE_STATE)
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Cost Captured</label>
                            <div class="col-md-8 chkactive">
                                @Html.CheckBox("COST_CAPTURED", @COST)
                                @Html.HiddenFor(c => c.COST_CAPTURED)
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Active</label>
                            <div class="col-md-8 chkactive">
                                @Html.CheckBox("ACTIVE_FLAG", @Active)
                                @Html.HiddenFor(c => c.ACTIVE_FLAG)
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <button type="button" class="btn btn-sm defualt controls btnCancel" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                    <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
                </div>
            </div>
        }
    </div>
</div>
