﻿@model IEnumerable<Fleet.ViewModels.WEBX_FLEET_CHECKLIST_MST>
@using FleetDataService.Models
@{
    
    
    //FleetDataService.MasterService MS = new FleetDataService.MasterService();
    //List<webx_citymaster> cityList = MS.GetCityMasterObject().Where(c => c.activeflag == null ? c.activeflag == null : c.activeflag == "Y").OrderBy(c => c.Location).ToList();
    //List<Webx_Master_General> countryList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "CNTRY" && c.StatusCode == "Y").ToList();
}

<table class="table table-striped table-bordered table-hover" id="AirportMasterList" style="overflow-x: scroll">
    <thead>
        <tr>
            <th class="center">
                Category
            </th>
            <th class="center">
                Checklist Description
            </th>
            <th class="center">
                Document To be Shown
            </th>
            <th class="center">
                Active
            </th>
            <th class="center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ToList().OrderBy(c => c.chk_id))
        {
            string TrId = "TR" + item.chk_id;
            //var objCity = cityList.FirstOrDefault(c => c.city_code.ToString() == item.City);
            
            <tr id="@TrId">
                <td class="center">
                    @item.Chk_Cat_name
                </td>
                <td class="center">
                    @item.Chk_Desc
                </td>
                <td class="center">
                    @item.Chk_Document_Shown_name
                </td>
                @*<td class="center">
                    @if (objCity != null)
                    {
                        @objCity.Location;
                    }
                </td>*@
                
                <td class="center">
                    @if (item.ActiveFlag == null ? item.ActiveFlag == "N" : item.ActiveFlag.ToUpper() == "Y")
                    {
                        <span class="badge badge-success">Yes</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">No</span>
                    }
                </td>
                <td class="center">
                    <button type="button" class="btn default btn-xs blue-stripe btnMasterEdit" title="Edit" id="btnEdit_@item.chk_id.ToString()" data-id="@item.chk_id">
                        <i class="fa fa-pencil"></i>&nbsp;Edit
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
