﻿@model IEnumerable<FleetDataService.Models.WEBX_FLEET_TYREMST_HISTORY>
<div class="portlet-body">
    <div id="tblData">
        <table class="table table-striped table-bordered table-hover" id="OldTyre_List" style="overflow-x: scroll">
            <thead>
                <tr>
                    <th class="center">
                        <input type="checkbox" class="chk_All" />
                    </th>
                    <th class="center">
                        Tyre No.
                    </th>
                    <th class="center">
                        Model
                    </th>
                    <th class="center">
                        Pattern
                    </th>
                    <th class="center">
                        Size
                    </th>
                    <th class="center">
                        Tyre Type
                    </th>
                    <th class="center">
                        Tyre MFG
                    </th>
                    <th class="center">
                        Fittment Date
                    </th>
                    <th class="center">
                        Removal Date
                    </th>
                    <th class="center">
                        Distance Covered
                    </th>
                    <th class="center">
                        Remarks
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        Html.RenderPartial("_ClaimOfTyreList", item);
                    }
                }
            </tbody>
        </table>
    </div>
</div>
