﻿@model FleetDataService.Models.WEBX_FLEET_VEHICLE_ISSUE
@using Fleet.Helpers;
@using CYGNUS.Models;
@using Fleet.Classes;
@{
    var Text = "Close Financially ";
    if(Model.Mode.ToUpper()=="M")
    {
        Text = "Close Operationally";
    }
}
@using (Html.BeginCollectionItem("CloseTripTR", Model.VehicleNo.ToString()))
{
    <tr>
        <td>
            @Model.Manual_TripsheetNo
        </td>
        <td>
            @Model.VSlipNo
        </td>
        <td>
            @Model.VSlipDt.ToString("dd MMM yyyy")
        </td>
        @*<td>
                @Model.Driver1
            </td>*@
        <td>
            @Model.VehicleNo
        </td>
        @*<td>
                @Model.Licno1
            </td>*@
        <td>
            @Model.Category
        </td>
        <td>
            @Model.DriverName
        </td>
        <td>
            <a href="@Url.Content("~/Fleet/CloseVehicleIssueSlip?VSlipNo=" + @Model.VSlipNo + "&mode=" + Model.Mode.ToUpper())" class=" btn btn-sm blue-stripe default"><i class="fa fa-power-off"></i>&nbsp;@Text</a>
            @*<a href="~/Fleet/CloseVehicleIssueSlip?VSlipNo=@Model.VSlipNo&amp;mode=Close" class=" btn green">Close - Operational</a>*@
        </td>

    </tr>

}