﻿@model IEnumerable<Fleet.ViewModels.WEBX_FLEET_DOCU_TYPE_MST>
@using FleetDataService.Models

<table class="table table-striped table-bordered table-hover" id="AirportMasterList" style="overflow-x: scroll">
    <thead>
        <tr>
            <th class="center">
                Document<br />Type
            </th>
            <th class="center">
                Document Type<br />Description
            </th>
            <th class="center">
                Applicable<br />State Wise
            </th>
            <th class="center">
                Renewal<br />authority
            </th>
            <th class="center">
                Cost<br />Captured
            </th>
            <th class="center">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ToList().OrderBy(c => c.DOCU_TYPE_ID))
{
    string TrId = "TR" + item.DOCU_TYPE_ID;

    <tr id="@TrId" class="center">

        <td>
            @item.DOCU_TYPE
        </td>
        <td>
            @item.DECS
        </td>
        <td>
            @item.APPLICABLE_STATE
        </td>
        <td>
            @item.RENEW_AUTH_ID
        </td>
        <td>
            @item.COST_CAPTURED
        </td>
        <td class="center">
            <button type="button" class="btn default btn-xs blue-stripe btnMasterEdit" title="Edit" id="btnEdit_@item.DOCU_TYPE_ID.ToString()" data-id="@item.DOCU_TYPE_ID">
                <i class="fa fa-pencil"></i>&nbsp;Edit
            </button>
        </td>
    </tr>
}
    </tbody>
</table>
