﻿@model IEnumerable<FleetDataService.Models.WEBX_FLEET_DOCUMENT_DET>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>List of Vehicle
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    <div class="row">
                        <table class="table table-striped table-bordered table-hover table-full-width" id="Vehiclelist">

                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        Vehicle
                                    </th>
                                    <th class="center">
                                        Document Type ID
                                    </th>
                                    <th class="center">
                                        Document  ID
                                    </th>
                                    <th class="center">
                                        Description
                                    </th>
                                    <th class="center">
                                        Start Date
                                    </th>
                                    <th class="center">
                                        End Date
                                    </th>
                                    <th class="center">
                                        Edit
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ToList().OrderBy(c => c.VEHNO))
                                {

                                    <tr>
                                        <td class="center">
                                            @item.VEHNO
                                        </td>
                                        <td class="center">
                                            @item.DOCU_TYPE_ID
                                        </td>
                                        <td class="center">
                                            @item.DOCU_ID
                                        </td>
                                        <td class="center">
                                            @item.DOC_DESC
                                        </td>
                                        <td class="center">
                                            @item.START_DT
                                        </td>
                                        <td class="center">
                                            @item.EXPRITY_DT
                                        </td>
                                        <td class="center">
                                            <button type="button" class="btn default btn-xs blue-stripe btnMasterEdit" title="Edit" id="btnEdit_@item.VEHNO.ToString()" data-id="@item.VEH_NO" data-value="@item.DOCU_ID">
                                                <i class=" fa fa-pencil">
                                                </i>&nbsp;Edit
                                            </button>
                                            @*  <a href="DocumentEntry.cshtml?VEH_NO=@item.VEHNO &amp;DOCU_TYPE_ID= @item.DOCU_TYPE_ID &amp;DOCU_ID=@item.DOCU_ID">-- Edit --</a>*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>