﻿@model Fleet.ViewModels.vw_FleetFuelList
@using FleetDataService.Models
@using Fleet.Helpers

@{
    
    
}
<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.VSlipNo, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("VehicalList", Model.VSlipNo.ToString()))
    {
       <td>
            @Html.DisplayFor(m => m.Manual_TripsheetNo)
        </td>
       
        <td>
            @Html.DisplayFor(m => m.VSlipNo)
        </td>
       
        <td>
            @Html.DisplayFor(m => m.VSlipDt)
        </td>
        <td>
            @Html.DisplayFor(m => m.VehicleNo)
        </td>
        <td>
            @Html.DisplayFor(m => m.Trip_route_type)
        </td>
         <td>
            @Html.DisplayFor(m => m.DriverName)
        </td>
         <td>
                 <a class="btn btn-sm default blue-stripe controls Driver Settlement" href="@Url.Action("DriverTripSheetDetail", "Fleet", new { TripId = Model.VSlipNo})">Driver Settlement</a>
         </td>
    }
</tr>
