﻿@model FleetDataService.Models.WEBX_FLEET_ENROUTE_EXP
@using Fleet.Helpers;
@using Fleet.Classes;
@using FleetDataService.Models
@{

    FleetDataService.FleetService FS = new FleetDataService.FleetService();
    List<Webx_Trip_Expense_Master> EnrtExpList = FS.GetNatureofexp();
    //Model.Amount_Spent = "0";
    // List<SelectListItem> EnrtExpList = new List<SelectListItem>();
}

<tr class="editorRow">

    @using (Html.BeginCollectionItem("fleetList", Model.SRNO.ToString()))
    {
        @Html.HiddenFor(m => m.Polarity)
        @Html.HiddenFor(m => m.TripsheetNo)
        <td class="col-md-1 center">
            <span>@Model.SRNO</span>
        </td>
        <td class="col-md-3">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.id, new SelectList(EnrtExpList, "CodeId", "CodeDesc"), "", new { @class = "form-control required required2 select2 ClsXYZ" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Amount_Spent, new { @class = "form-control totalExp required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @number = "true", @min = "1" })
                </div>
            </div>
        </td>
        <td class="col-md-2">
            @Html.TextBoxFor(m => m.BillNo, new { @class = "form-control", @placeholder = "Bill No." })
        </td>
        <td class="col-md-2">
            @Html.TextBoxFor(m => m.Dt, new { @class = "form-control", @placeholder = "Bill Date" })
        </td>
        <td class="col-md-1">
            @Html.TextBoxFor(m => m.Exe_Appr_Amt, new { @class = "form-control" })
        </td>
        <td class="col-md-3">
            @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", @placeholder = "Remark" })
        </td>
        <td class="center  form-group center">
            <a class="deleteRow" style="color: maroon; width: 25px; cursor: pointer;" title="Delete">
                <b>X</b>
                @*<img src="~/assets/img/Delete_Icon.png" style="width: 25px;cursor:pointer;" title="Delete" />*@
            </a>
        </td>
    }
</tr>
