﻿@model FleetDataService.Models.Webx_Fleet_CheckList_Detail
@using FleetDataService.Models
@using Fleet.Helpers

@{

}
<tr>
    @using (Html.BeginCollectionItem("FleetCheckList", Model.Chk_ID.ToString()))
    {
        <td>
            @Html.DisplayFor(m => m.CheckList)
            @Html.HiddenFor(m => m.CheckList)
            @Html.HiddenFor(m => m.Chk_Cat)
            @Html.HiddenFor(m => m.Chk_ID)            
        </td>
        <td>
            @Html.DisplayFor(m => m.Category)
        </td>
        <td>
            @Html.CheckBoxFor(m => m.chkDone, new { @class = "form-control" })

        </td>
        <td>
            @Html.TextBoxFor(m => m.Chk_Comments, new { @class = "form-control" })
        </td>
    }
</tr>
