﻿@model Fleet.ViewModels.vw_FleetFuelRowList
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@using Fleet.Classes;
@using System.Linq;
@using System.Text;
@using System.Xml.Linq;

@{
    FleetDataService.FleetService FS = new FleetDataService.FleetService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> FuelTypeList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "FSM").ToList();
    List<Webx_Master_General> FuelVendorList = FS.GetFuelVendor(@ViewBag.BaseLocationCode);
}

@using (Html.BeginCollectionItem("TripAddList", Model.SRNO.ToString()))
{
    <tr>
        <th class="center">
            @Html.DisplayFor(c => c.SRNO, new { @class = "form-control" })
            @Html.HiddenFor(m => m.SRNO)

        </th>
        <th class="center">
            @Html.DropDownListFor(model => model.SLIPTYPE, new SelectList(FuelTypeList, "CodeId", "CodeDesc"), "", new { @class = "select2 form-control" })
        </th>
        <th class="center">
            @Html.TextBoxFor(c => c.FUELSLIPNO, new { placeholder = "Fuel/Cash Slip No.", @class = "form-control " })
        </th>
        <th class="center">
            @Html.DropDownListFor(model => model.FUELVENDOR, new SelectList(FuelVendorList, "CodeId", "CodeDesc"), "", new { @class = "select2 form-control" })
        </th>
        <th class="center">
            @Html.TextBoxFor(c => c.QUANTITYINLITER, new { placeholder = "Quantity in Liters", @class = "form-control ", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </th>
        <th class="center">
            @Html.TextBoxFor(c => c.RATE, new { placeholder = "Rate", @class = "form-control ", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </th>
        <th class="center">
            @Html.TextBoxFor(c => c.AMOUNT, new { placeholder = "Amount", @class = "form-control ", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </th>
    </tr>
}
