﻿@model Fleet.ViewModels.FuelBrandViewModel
@using FleetDataService.Models
@{


    FleetDataService.FleetService FS = new FleetDataService.FleetService();
    List<Webx_Master_General> FuelTypeList = FS.GetFuelType();

    string ActiveFlag = "";

    if (Model.FBM.Active_Flag != null && Model.FBM.Active_Flag == "Y")
    {
        ActiveFlag = "checked";
    }

     

    //var Text = "Submit"; var type = "Add";
    //if (Model.EditFlag == "true")
    //{
    //    ListCity = MS.GetCityMasterObject();
    //    ListCity = ListCity.Where(c => c.state == Model.WL.LocState).OrderBy(m => m.Location).ToList();
    //    ListLocations = MS.GetLocationDetails();
    //    ListLocations = ListLocations.Where(c => c.Loc_Level == Convert.ToDecimal(Model.WL.Report_Level) && c.ActiveFlag == "Y").OrderBy(m => m.LocName).ToList();

    //    Text = "Update";
    //    type = "Edit";
    //}
}
<div class="row">
    <div class="col-md-8">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-eidt"></i>Fuel Brand Master
                </div>
            </div>

            <div class="portlet-body form">
                <div class="form-body">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-hide">
                        <button class="close" data-close="alert"></button>
                        Your form validation is successful!
                    </div>

                    @using (Html.BeginForm("FuelBrandMasterSubmit", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
                    {
                        @*<div class="row">
                                @if (Model.EditFlag == "true")
                                    {
                                        <div class="col-md-2">
                                            <a class="btn default blue-stripe pull-right" style="margin-top:5px;" href="@Url.Content("~/Master/LocationMaster")">
                                                <i class="fa fa-plus"></i>
                                                Add new Location
                                            </a>
                                        </div>
                                    }
                            </div>*@

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Fuel Brand Name:
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.FBM.Fuel_Brand_Name, new { @class = "required required2 form-control", @placeholder = "Fuel Brand Name" })
                                        @Html.HiddenFor(m => m.FBM.Fuel_Brand_ID)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Vendor Code
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.FBM.VendorCode, new { placeholder = "Select Vendor Code", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Fuel Type:
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.FBM.Fuel_Type_ID, new SelectList(FuelTypeList, "CodeId", "CodeDesc"), "", new { @class = "select2 form-control clsall" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Active:
                                    </label>
                                    <div class="col-md-6 chkactive">
                                        @Html.HiddenFor(m => m.FBM.Active_Flag)
                                        <input type="checkbox" id="ActiveFlag" @ActiveFlag />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-4 col-md-12">
                                    <a class="btn btn-sm default controls" href="@Url.Content("~/Fleet/FleetMaster")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
                                    <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>