﻿@model FleetDataService.Models.WEBX_FLEET_TRIPSHEET_FUEL_SLIPNO
@using FleetDataService.Models
@using Fleet.Helpers

@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    FleetDataService.FleetService FS = new FleetDataService.FleetService();
    List<Webx_Master_General> ObjFuelTypeList = new List<Webx_Master_General>();
    ObjFuelTypeList = MS.GetGeneralMasterObject().Where(c => c.CodeType.ToUpper() == "FSM" && c.StatusCode.ToUpper() == "Y").ToList();

    List<Webx_Master_General> GetFuelVendorList = new List<Webx_Master_General>();
    GetFuelVendorList = FS.GetFuelVendor(Model.BrcdCode).ToList();
}
<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Id, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("FuelSleepList", Model.Id.ToString()))
{
    <td class="center">
        @Html.DisplayFor(m => m.Id)
    </td>
        <td>
            @Html.DropDownListFor(m => m.SLIPTYPE, new SelectList(ObjFuelTypeList, "CodeId", "CodeDesc"), "", new { @class = "select2 drp form-control ", placeholder = "Select Slip Type" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.FUELSLIPNO, new { placeholder = "Fuel Slip No.", @class = "form-control", })
        </td>
        <td>

            @Html.DropDownListFor(m => m.FUELVENDOR, new SelectList(GetFuelVendorList, "CodeId", "CodeDesc"), "", new { @class = "select2 drp form-control", placeholder = "Select Fuel Vendor" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.QUANTITYINLITER, new { placeholder = "Quantity in Liter", @class = "form-control ClsAmount", @type = "number" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.RATE, new { placeholder = "RATE", @class = "form-control", @type = "number" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.AMOUNT, new { placeholder = "AMOUNT", @class = "form-control TotAmount", @readonly = "readonly" })
        </td>
        <td class="center">
            @if (Model.Id > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
            }
            else
            {
                <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
            }
        </td>
    }
</tr>
