﻿@model CYGNUS.Models.WEBX_FLEET_PM_JOBORDER_HDR
@using FleetDataService.Models
@using Fleet.Helpers

<tr>
    @using (Html.BeginCollectionItem("JobCancel", Model.SrNo.ToString()))
    {
        <td class="center col-md-1">
            @Model.SrNo
        </td>
        <td class="center form-group col-md-2">
            @Html.TextBoxFor(m => m.JOB_ORDER_NO, new { placeholder = "JOB ORDER NO", @class = "input-small required2 form-control required clsJOBORDERNO" })
        </td>
        <td class="center col-md-1">
            @Html.TextBoxFor(m => m.JOB_ORDER_DT, new { placeholder = "JOB ORDER Date", @class = "input-small required2 required form-control", @readonly = "true" })
        </td>
        <td class="center col-md-1">
            @Html.TextBoxFor(m => m.VEHNO, new { placeholder = "Vehicle No", @class = "input-small required2 required form-control", @readonly = "true" })
        </td>
        <td class="center col-md-1">
            @Html.TextBoxFor(m => m.JS_BRCD, new { placeholder = "JobSheet Branch", @class = "input-small required2 required form-control", @readonly = "true" })
        </td>
        <td class="center col-md-1">
            @Html.TextBoxFor(m => m.ORDER_STATUS, new { placeholder = "Order Status", @class = "input-small required2 required form-control", @readonly = "true" })
        </td>
    <td class="center form-group col-md-1">
        <div class="input-group input-medium date date-picker" data-date-format="dd MMM yyyy" data-date-end-date="+0d">
            @Html.TextBox("Cancel_Dt", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.Cancel_Dt).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @readonly = "True" })
            <span class="input-group-btn">
                <button class="btn default date-set" id="btndate" type="button"><i class="fa fa-calendar"></i></button>
            </span>
        </div>
    </td>
    <td class="center form-group col-md-4">
        @Html.TextAreaFor(m => m.Cancel_Remarks, new { placeholder = "Order Status", @class = "input-large required2 required form-control" })
    </td>
    }
</tr>