﻿@model Fleet.ViewModels.JobApprovalGenerationViewModel
@using FleetDataService.Models
@using Fleet.Helpers

<tr>
    @using (Html.BeginCollectionItem("JobClose", Model.SrNo.ToString()))
    {
        <td class="center col-md-1">
            @Model.SrNo
        </td>
        <td class="center col-md-2">
            @Model.JOB_ORDER_NO
            @Html.HiddenFor(m => m.JOB_ORDER_NO)
            @Html.HiddenFor(m => m.JOB_ORDER_DT)
            @Html.HiddenFor(m => m.JOB_ORDER_CLOSEDT)
            @Html.HiddenFor(m => m.VEHNO)
            @Html.HiddenFor(m => m.ORDER_TYPE)
        </td>
        <td class="center col-md-1">
            @Model.JOB_ORDER_DT
        </td>
        <td class="center col-md-1">
            @Model.JOB_ORDER_CLOSEDT
        </td>
        <td class="center col-md-1">
            @Model.VEHNO
        </td>
        <td class="center col-md-1">
            @Model.ORDER_TYPE
        </td>
        <td class="center col-md-1">
            @Model.SERVICE_CENTER_TYPE
        </td>
        <td class="center col-md-1">
            @Model.ORDER_STATUS
        </td>
        <td class="center col-md-2">
            <a class="btn btn-sm green controls" href="@Url.Action("PrepareJob", "Fleet", new { ORDERNo = @Model.JOB_ORDER_NO })">
                &nbsp;Close
            </a>
        </td>
    }
</tr>