﻿@model Fleet.ViewModels.vm_JobTripViewPrint
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers

@using (Html.BeginCollectionItem("JobSheetOrderList", Model.JOB_ORDER_NO.ToString()))
{
    <tr>

        <td class="center">
            @Model.JOB_ORDER_NO
        </td>
        <td class="center">
            @Model.JOB_ORDER_DT
        </td>
        <td class="center">
            @Model.JOB_ORDER_CLOSEDT
        </td>
        <td class="center">
            @Model.VEHNO
        </td>
        <td class="center">
            @Model.ORDER_TYPE
        </td>
        <td class="center">
            @Model.SERVICE_CENTER_TYPE
        </td>
        <td class="center">
            @Model.ORDER_STATUS
        </td>
        <td class="center">
            <a target="_blank" href="@Url.Action("JobOrder_ViewPrint", "ViewPrint", new { No = @Model.JOB_ORDER_NO })" class="fa fa-print" id="ReportFrame"><b>&nbsp;View/Print</b></a>

            @*<a class=" btn blue" href="javascript:OrderView('@Model.JOB_ORDER_NO',0)">View</a>
            <a class=" btn blue" href="javascript:OrderView('@Model.JOB_ORDER_NO',1)">Print</a>*@
        </td>


    </tr>
}
<script type="text/javascript">

    function OrderView(JOB_ORDER_NO, PrintMode) {
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        var strPopupURL = ReportURL + DomainName + "/Fleet/JobViewPrint?ONo=" + JOB_ORDER_NO + "&PrintMode=" + PrintMode;
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;
    }
    @*function Order(JOB_ORDER_NO, mode) {
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        var strPopupURL = ReportURL + DomainName + "/Operation/Menifest_ViewPrint?MFNo=" + MFNo;
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;
    }*@

</script>