﻿@model Fleet.ViewModels.JobApprovalGenerationViewModel
@using FleetDataService.Models
@using Fleet.Helpers

<tr>
    @using (Html.BeginCollectionItem("JobApprovalList", Model.SrNo.ToString()))
    {
        <td class="center">
            @Html.CheckBoxFor(m => m.IsCheck, new { @class = "input-small required2 form-control clsIsCheck" })
        </td>
        <td class="center">
            @Model.JOB_ORDER_NO
        </td>
        <td class="center">
            @Model.JOB_ORDER_DT
        </td>
        <td class="center">
            @Model.VEHNO
        </td>
        <td class="center">
            @Model.ORDER_TYPE
        </td>
        <td class="center">
            @Model.SERVICE_CENTER_TYPE
        </td>
        <td class="center">
            @Model.ORDER_STATUS
        </td>
        <td class="center">
            @Model.Tot_Estimated_Cost
        </td>
        <td class="center">
            @Model.TOT_ACTUAL_COST
        </td>
        <td class="center">
            @Html.CheckBoxFor(m => m.Approve)
        </td>
        <td class="center">
            @Html.CheckBoxFor(m => m.Reject)
        </td>
        <td class="center form-group">
            @Html.TextAreaFor(m => m.JS_Approval_Close_Remarks, new { placeholder = "Remarks", @class = "input-large required2 form-control", @disabled = "true" })
        </td>
        @Html.HiddenFor(m => m.JOB_ORDER_NO)
        @Html.HiddenFor(m => m.JOB_ORDER_DT)
        @Html.HiddenFor(m => m.VEHNO)
        @Html.HiddenFor(m => m.ORDER_TYPE)
        @Html.HiddenFor(m => m.SERVICE_CENTER_TYPE)
        @Html.HiddenFor(m => m.ORDER_STATUS)
        @Html.HiddenFor(m => m.Tot_Estimated_Cost)
        @Html.HiddenFor(m => m.TOT_ACTUAL_COST)
    }
</tr>
