﻿@model FleetDataService.Models.vw_TRIPROUTEEXP_VIEW
@using FleetDataService.Models
@using Fleet.Helpers

@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    FleetDataService.FleetService FS = new FleetDataService.FleetService();
    List<Webx_Trip_Expense_Master> ListCostHead = FS.GetTripRutExpence().ToList();
    //List<webx_Vehicle_Type> ListVehicle = MS.GetVehicleTypeDetails().Where(c => c.ActiveFlag == "Y").ToList();
    List<webx_VEHICLE_HDR>  ListVehicle =MS.GetVehicleObject().Where(c => c.ACTIVEFLAG == "Y").ToList();
    bool Active = false;
    if (Model.active_flag != null && Model.active_flag.ToUpper() == "Y" || Model.route_exp_code == null)
    {
        Active = true;
    }
}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.route_exp_code, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("RutTran", Model.Srno.ToString()))
    {
        string ROWID = "RW_" + Model.Srno;

        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.HiddenFor(c => c.ID)
                    @Html.HiddenFor(c => c.route_exp_code)
                    @Html.DropDownListFor(c => c.VEHICLENO, new SelectList(ListVehicle, "VEHNO", "VEHNO"), "", new { @class = "select2 form-control required required2", @placeholder = "Select Vehicle" })
                    @Html.HiddenFor(c => c.VEHICLENO)
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.fec, new SelectList(ListCostHead, "CodeId", "CodeDesc"), "", new { @class = "select2 form-control clsDocument required required2", @placeholder = "Select Fual Code" })
                    @Html.HiddenFor(c => c.fec)
                </div>
            </div>
        </td>
        <td>
            <div class="input-group">
                @Html.TextBoxFor(m => m.standard_rate, new { placeholder = "Standard Rate", @class = "form-control", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))" })
            </div>
        </td>

        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.CheckBox("Active", @Active)
                    @Html.HiddenFor(c => c.active_flag)
                </div>
            </div>
        </td>
        
        <td class="center">
            @if (Model.Srno >1)
            {
                <a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a>
            }
        </td>
    }
</tr>
