﻿@model FleetDataService.Models.VW_TyreDetails_New
@using Fleet.Helpers
@using (Html.BeginCollectionItem("TyreRemoval", Model.TYRE_ID.ToString()))
{
    <tr>
        <td class="chkactive">
            @Html.CheckBoxFor(c => c.active, new { @class = "chkactive" })
        <td class="center">
            @Model.TYRE_NO
            @Html.HiddenFor(c => c.TYRE_ID)
            @Html.HiddenFor(c => c.TYRE_NO)
        </td>
        <td class="center">
            @Model.MODEL
            @Html.HiddenFor(c => c.MODEL)
        </td>
        <td class="center">
            @Model.SIZE
            @Html.HiddenFor(c => c.SIZE)
        </td>
        <td class="center">
            @Model.PATTERN
            @Html.HiddenFor(c => c.PATTERN)
        </td>
        <td>
            @Model.TYRE_TYPE
            @Html.HiddenFor(c => c.TYRE_TYPE)
        </td>
        <td class="center">
            @Model.MFG
            @Html.HiddenFor(c => c.MFG)
            @Html.HiddenFor(c => c.MFG_ID)
        </td>
        <td>
            @Model.TYRE_COST
            @Html.HiddenFor(c => c.TYRE_COST)
        </td>
        <td class="center">
            @Model.MOUNT_DT
            @Html.HiddenFor(c => c.MOUNT_DT)
        </td>
        <td>
            @Html.DisplayFor(c => c.MANUAL_MOUNT_KM_RUN)
            @Html.HiddenFor(c => c.MANUAL_MOUNT_KM_RUN)
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.LifeOfTyre, new { @class = "form-control RKM required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @max = "900000", @readonly = "true" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.Removal_KM, new { @class = "form-control RKM required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @max = "900000", @readonly = "true" })
        </td>
        <td class="center form-group">
            @Html.TextBoxFor(c => c.Distance, new { @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @readonly = "true" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.Per_KM_Cost, new { @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @readonly = "true" })
        </td>
    </tr>
}