﻿@model Fleet.ViewModels.RemoldTyreBillPayment
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers

@{
    var ischecked = Model.Active;
    bool IsActive = false;
    var TypeList = new List<SelectListItem>();
    TypeList.Add(new SelectListItem { Text = "Select", Value = "0" });
    TypeList.Add(new SelectListItem { Text = "Remold", Value = "P" });
    TypeList.Add(new SelectListItem { Text = "Reject", Value = "R" });
}
<tr>
    @using (Html.BeginCollectionItem("RemoldPayment", Model.BILLNO.ToString()))
    {
        <td class="center">
            @Html.CheckBox("Active", IsActive, new { @class = "IsCheck" })
        </td>
        <td class="center">
            @Model.BILLNO
            @Html.HiddenFor(m => m.BILLNO)
            @Html.HiddenFor(m => m.acccode)
            @Html.HiddenFor(m => m.VENDORCODE)
            @Html.HiddenFor(m => m.VENDORNAME)
        </td>
        <td class="center">
            @Model.VendorBill_DT
            @Html.HiddenFor(m => m.VendorBill_DT)
        </td>
        <td class="center">
            @Model.NETAMT
            @Html.HiddenFor(m => m.NETAMT)
        </td>
        <td class="center">
            @Model.Advpaid
            @Html.HiddenFor(m => m.Advpaid)
        </td>
        <td class="center col-md-1">
            @Html.TextBoxFor(c => c.pendamt, new { @class = "form-control", @readonly = true })
            @Html.HiddenFor(m => m.pendamt)
        </td>
        <td class="center">
            @Model.NETAMT
            @Html.HiddenFor(m => m.NETAMT)
        </td>
        <td class="center col-md-2 form-group">
            @Html.TextBoxFor(c => c.CurrentAmt, new { placeholder = "Amount", @class = "form-control clsNetPay", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @max = @Model.pendamt,@min=1 })
        </td>

    }
</tr>
