﻿@model FleetDataService.Models.WEBX_FLEET_TYREMST_HISTORY
@using FleetDataService.Models
@using Fleet.Helpers
<tr>
    @using (Html.BeginCollectionItem("TYRENO", Model.TYRE_NO.ToString()))
    {

        <td>
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = "form-control CLSCHK" })
        </td>
        <td class="center">
            @Html.DisplayFor(m => m.TYRE_NO)
            @Html.HiddenFor(m => m.TYRE_NO)
            @Html.HiddenFor(m => m.TYRE_ID)

        </td>
        <td class="center">
            @Html.DisplayFor(m => m.MODEL)
            @Html.HiddenFor(m => m.MODEL)
        </td>
        <td class="center">
            @Html.DisplayFor(m => m.PATTERN)
            @Html.HiddenFor(m => m.PATTERN)
        </td>
        <td class="center">
            @Html.DisplayFor(m => m.SIZE)
            @Html.HiddenFor(m => m.SIZE)
        </td>
        <td class="center">
            @Html.DisplayFor(m => m.MFG)
            @Html.HiddenFor(m => m.MFG)
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.TYRE_REMOVE_DT)
            @Html.DisplayFor(m => m.TYRE_REMOVE_DT)
        </td>
        <td class="center">
            @Html.DisplayFor(m => m.Dist_Covered)
            @Html.HiddenFor(m => m.Dist_Covered)
        </td>
        

    }
</tr>


