﻿@model FleetDataService.Models.WEBX_FLEET_PM_JOBORDER_SPARE_EST_DET
@using FleetDataService.Models
@using Fleet.Helpers

@{
    FleetDataService.FleetService FS = new FleetDataService.FleetService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();

    /* Page Load For W_GRPCD Listing*/
    //List<WEBX_FLEET_WORKGROUPMST> List_WorkGroup = FS.Get_AllWorkGroupList("01");
    List<Webx_Master_General> ListGST = MS.GetGeneralMasterObject().Where(c => c.CodeType == "GSTPER" && c.StatusCode=="Y").ToList();

    List<Webx_Master_General> ListGST1 = new List<Webx_Master_General>();
    foreach (var item in ListGST)
    {
        Webx_Master_General ObjWMG = new Webx_Master_General();
        ObjWMG.CodeDesc = item.CodeDesc + ".00";
        ListGST1.Add(ObjWMG);
    }


    List <webx_PO_SKU_Master> List_PoSKU = FS.Get_SKU_MasterList();
    List<Webx_Fleet_spareParthdr> Lis_TaskDescription = FS.Get_SpareParthdrList("");
    List<Webx_Fleet_TaskTypeMst> List_Taskcd = FS.Get_TaskTypeList();
}

<tr>
    @using (Html.BeginCollectionItem("Task_Spare_PartList", Model.SRNO.ToString()))
    {
        @*<td class="center col-md-3">
            @Html.DropDownListFor(c => c.SKU_GRPCD, new SelectList(List_PoSKU, "Value", "Text"), "", new { @class = "form-control select2 required2 required clsIsCloseDisables CheckDuplicateValue" })
           
        </td>*@
        <td class="center col-md-2">
            @Html.DropDownListFor(c => c.PART_CODE, new SelectList(Lis_TaskDescription, "Value", "Text"), "", new { @class = "form-control select2 required2 required clsIsCloseDisables" })
            @Html.HiddenFor(m => m.PM_SCH_CODE)
            @Html.HiddenFor(m => m.SMTask)
        </td>
        <td class="center col-md-2">
            @Html.DropDownListFor(c => c.TaskTypeID, new SelectList(List_Taskcd, "TaskTypeID", "TaskType"), "", new { @class = "form-control select2 required2 required clsIsCloseDisables" })
        </td>
        <td class="center">
            @Html.TextBoxFor(m => m.PART_QTY, new { placeholder = "Quantity", @class = "required2 form-control required clsPART_QTY clsIsCloseDisables", @number = "true", @min = "1" })
        </td>
        <td class="center">
            @Html.TextBoxFor(m => m.COST_UNIT, new { placeholder = "Cost/Unit", @class = "required2 form-control required clsCOST_UNIT clsIsCloseDisables", @number = "true", @min = "1" })
        </td>
        <td class="center">
            @Html.TextBoxFor(m => m.COST, new { placeholder = "Cost", @class = "required2 form-control required clsCOST clsIsCloseDisables", @number = "true", @readonly = "true", @min = "1" })
        </td>

        if (Model.ISClose == "1")
        {
            <td class="center">
                @Html.TextBoxFor(m => m.ACT_PART_QTY, new { placeholder = "Actual Quantity", @class = "required2 form-control required clsACT_PART_QTY", @number = "true", @min = "1" })
            </td>
            <td class="center">
                @Html.TextBoxFor(m => m.ACT_COST_UNIT, new { placeholder = "Actual Cost/Unit", @class = "required2 form-control required clsACT_COST_UNIT", @number = "true", @min = "1" })
            </td>
            <td class="center">
                @Html.TextBoxFor(m => m.ACT_COST, new { placeholder = "Actual Cost", @class = "required2 form-control required clsACT_COST", @number = "true", @readonly = "true", @min = "1" })
            </td>
            @*Start New Part GST Change Chirag D*@
            <td class="center"> 
                @Html.DropDownListFor(c => c.GSTPer, new SelectList(ListGST1, "CodeDesc", "CodeDesc", Model.GSTPer), "", new { @class = "form-control select2 required2 required clsIsCloseDisables" })
            </td>
            @*End New Part GST Change Chirag D*@
        }
        <td class="center">
            @Html.TextAreaFor(m => m.S_Remarks, new { placeholder = "Remarks", @class = " form-control " })
        </td>
    }
</tr>
