﻿@model FleetDataService.Models.WEBX_FLEET_PM_JOBORDER_DET
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.FleetService FS = new FleetDataService.FleetService();
    List<WEBX_FLEET_WORKGROUPMST> List_WorkGroup = FS.Get_AllWorkGroupList("01");
    List<Webx_Fleet_TaskTypeMst> List_TaskType = FS.Get_TaskTypeList();
    List<SelectListItem> Lis_TaskDescription = new List<SelectListItem>();

    if (Model.W_GRPCD != "" && Model.W_GRPCD != null)
    {
        List<WEBX_FLEET_GENERALTASKMST> List = FS.Get_TaskDescriptionList(Model.W_GRPCD);
        foreach (WEBX_FLEET_GENERALTASKMST tc in List)
        {
            Lis_TaskDescription.Add(new SelectListItem { Text = tc.TASKDESC.ToString(), Value = tc.TASKCD.ToString() });
        }
    }

    List<SelectListItem> List_Type = new List<SelectListItem>();
    List_Type.Add(new SelectListItem { Text = "Non AMC", Value = "No" });
    List_Type.Add(new SelectListItem { Text = "AMC", Value = "Yes" });
}

<tr>
    @using (Html.BeginCollectionItem("TaskDetailsList", Model.SRNo.ToString()))
    {
        <td class="center col-md-2">
            @Html.DropDownListFor(c => c.W_GRPCD, new SelectList(List_WorkGroup, "W_GRPCD", "W_GRPDESC"), "", new { @class = "form-control  select2 required2 required clsIsCloseDisables clsChkDuplicate" })
            @Html.HiddenFor(m => m.PM_SCH_CODE)
            @Html.HiddenFor(m => m.SMTask)
        </td>
        <td class="center col-md-2">
            @Html.DropDownListFor(c => c.Taskcd, new SelectList(Lis_TaskDescription, "Value", "Text", Model.TaskTypeId), "", new { @class = "form-control select2 required2 required clsIsCloseDisables" })
        </td>
        <td class="center col-md-2">
            @Html.DropDownListFor(c => c.TaskTypeId, new SelectList(List_TaskType, "TaskTypeID", "TaskType"), "", new { @class = "form-control select2 required2 required clsIsCloseDisables" })
        </td>
        <td class="center">
            @Html.TextAreaFor(m => m.T_Remarks, new { placeholder = "Remarks", @class = "form-control clsIsCloseDisables"})
        </td>
        <td class="center">
            @Html.TextBoxFor(m => m.W_EST_LABOUR_HRS, new { placeholder = "VEHNO", @class = "required2 form-control required clsTask_EST_LABOUR_HRS clsIsCloseDisables", @number = "true", @min = "0" })
        </td>
        <td class="center">
            @Html.TextBoxFor(m => m.W_EST_LABOUR_COST, new { placeholder = "VEHNO", @class = "required2 form-control required clsTask_EST_LABOUR_COST", @number = "true", @readonly = "true", @min = "0" })
        </td>
        if (Model.ISClose == "1")
        {
            <td class="center">
                @Html.TextAreaFor(m => m.TASK_ACTIONDESC, new { placeholder = "Remarks", @class = "required2 form-control required " })
            </td>
            <td class="center">
                @Html.DropDownListFor(c => c.AMC, new SelectList(List_Type, "Value", "Text"), "", new { @class = "form-control clsAMC select2 required2 required" })
            </td>
            <td class="center">
                @Html.TextBoxFor(m => m.W_ACT_LABOUR_COST, new { placeholder = "Actual Labour Cost", @class = "required2 form-control required clsW_ACT_LABOUR_COST", @number = "true", @min = "0" })
            </td>
        }
    }
</tr>
