﻿@model Fleet.ViewModels.vw_FleetFuelList
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers

@using (Html.BeginCollectionItem("TripAddList", Model.Manual_TripsheetNo.ToString()))
{
    <tr>
        <td>
            @Model.Manual_TripsheetNo
            @Html.HiddenFor(m => m.Manual_TripsheetNo)
        </td>
        <td>
            @Model.VSlipNo
        </td>
        <td>
            @Model.VSlipDt
        </td>
        <td>
            @Model.VehicleNo
        </td>
        <td>
            @Model.Trip_route_type
        </td>
        <td>
            @Model.DriverName
        </td>
        @if (@ViewBag.TripActionType == "FSEEDIT")
        {
            <td>
                <a @*target="_blank"*@ href="@Url.Content("~/Fleet/FuelTripSheetSubmit?id=" + @Model.VSlipNo + "&mode=" + @ViewBag.TripActionType)">Fuel Slip Edit</a>
            </td>
        }
        @if (@ViewBag.TripActionType == "FSE")
        {
            <td>
                <a @*target="_blank"*@ href="@Url.Content("~/Fleet/FuelTripSheetSubmit?id=" + @Model.VSlipNo + "&mode=" + @ViewBag.TripActionType)">Fuel Slip Entry</a>
            </td>
        }

    </tr>
}
