﻿@model FleetDataService.Models.WEBX_FLEET_VEHICLE_ISSUE
@using FleetDataService.Models
@using Fleet.Helpers;
@using Fleet.Classes;
@{

    FleetDataService.ExceptionsService ES = new FleetDataService.ExceptionsService();
}
<tr>
    @using (Html.BeginCollectionItem("vendor", Model.VSlipNo.ToString()))
    {
        <td class="center">
            @Model.VSlipNo
        </td>
        <td class="center">
            @Model.Manual_TripsheetNo
        </td>
        <td class="center">
            @Model.Vslipdate
        </td>
        <td class="center">
            @Model.END_DT_TM
        </td>
        <td class="center">
            @Model.VehicleNo
        </td>
        <td class="center">
            @Model.DRIVERNAMENew
        </td>
        <td class="center">
            @Model.ISSUESTATUS
        </td>
        <td class="center">
            <a class="btn blue" target="_blank" href="@Url.Content("~/ViewPrint/TripSheetView?TRIPSHEET_NO=" + @Model.VSlipNo + "&EXPTYPE=TRIPSHEET")">View</a>
        </td>
    }
</tr>
