﻿@model Fleet.ViewModels.vw_FleetFuelMgt
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers


<div class="row" id="divList">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;Trip Sheet Entry List
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body" id="tblThcList">
                    <table class="table table-striped table-bordered table-hover table-full-width center" id="Sample1">
                        <thead class="flip-content">
                            <tr>
                                <th class="center">
                                    Manual Tripsheet No.
                                </th>
                                <th class="center">
                                    Trip Sheet No.
                                </th>
                                <th class="center">
                                    Trip Sheet date
                                </th>
                                <th class="center">
                                    Vehicle No.
                                </th>
                                <th class="center">
                                    Leg Type
                                </th>
                                <th class="center">
                                    Driver
                                </th>
                                <th class="center">
                                    Next Step
                                </th>
                            </tr>
                        </thead>
                        <tbody id="Advice">
                            @foreach (var item in Model.ListTSFF)
                            {
                                Html.RenderPartial("_TripSheetList", item);
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
