﻿@model FleetDataService.Models.WEBX_TRIPSHEET_OILEXPDET
@using Fleet.Helpers;
@using FleetDataService.Models;
@using Fleet.Classes;
@using Fleet.ViewModels;
@using FleetDataService.ViewModels;

@{
    string TRID = "TR_" + Model.SRNO.ToString();
    //string BaseCode = TempData["locationcode"].ToString();
    string BaseCode = ViewBag.BaseLocationCode;
    FleetDataService.FleetService FS = new FleetDataService.FleetService();
    List<webx_VENDOR_HDR> ListHDR = FS.Get_VendHDR_List(BaseCode);
    List<WEBX_FLEET_FUELBRAND> ListFulHDR = FS.Get_Brand_List();
    List<Webx_Master_General> ListFuelTYpe = FS.Get_FuelType_List();

    List<SelectListItem> Card_CashList = new List<SelectListItem>(){
                            new SelectListItem { Text = "Cash", Value = "Cash"},
                            new SelectListItem { Text = "Credit", Value = "Credit"},
                           };

    if (Model.Card_Cash == "Credit")
    {
        SelectListItem objGeneral = new SelectListItem();
        objGeneral.Text = "Credit";
        objGeneral.Value = "Credit";
        Card_CashList.Add(objGeneral);
        Model.BillDt = Model.BillDt;
    }
    if (Model.Card_Cash != "Credit")
    {
        Model.BillDt = System.DateTime.Now;
    }


    objDate OD = new objDate();
    OD.ControlId = "BillDt";
    OD.ControlValue = Model.BillDt.ToString();
    OD.ModuleCode = "28";
  

}

<tr id="@TRID" class="editorRow">

    @using (Html.BeginCollectionItem("ListOILEXPDET", Model.SRNO.ToString()))
    {
        <td>
            <span>@Model.SRNO</span>
        </td>
        <td>
            @Html.TextBoxFor(c => c.Place, new { @class = "m-wrap  form-control required required2" })
        </td>
        <td>
            @Html.DropDownListFor(m => m.PetrolPName, new SelectList(ListHDR, "VENDORCODE", "VENDORNAME"), "", new { @class = "form-control required required2 select2 span6" })
        </td>
        <td>
            @Html.DropDownListFor(m => m.Brand, new SelectList(ListFulHDR, "Fuel_Brand_ID", "Fuel_Brand_Name"), "", new { @class = "form-control required required2 select2 span6" })
        </td>
        <td>
            @Html.DropDownListFor(m => m.FuelType, new SelectList(ListFuelTYpe, "CodeId", "CodeDesc"), "", new { @class = "form-control required required2 select2 span6" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.Last_Km_Read, new { @class = "m-wrap required required2 form-control", @readonly = "true" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.KM_Reading, new { @class = "m-wrap required required2 form-control", @min = @Model.Last_Km_Read })
        </td>
        <td>
            @Html.TextBoxFor(c => c.BillNo, new { @class = "m-wrap required required2 form-control" })
        </td>
        @*<td>
                <div class="input-group input-small date date-picker" data-date-format="dd MMM yyyy" data-date-end-date="+0d">
                    @Html.TextBox("BillDt", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.BillDt).ToString("dd MMM yyyy")), new { @class = "form-control  required required2", @readonly = "true" })
                    <span class="input-group-btn">
                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            </td>*@
        if (Model.Card_Cash == "Credit")
        {
        <td>
            @Html.TextBox("BillDt", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.BillDt).ToString("dd MMM yyyy")), new { @class = "form-control", @readonly = "true" })
        </td>
        }
        else
        {
        <td  >
            <div>
                @{
                    Html.RenderPartial("../UserControls/_DocumentDate", OD);
                }
            </div>
        </td>
        }
        <td>
            @Html.TextBoxFor(c => c.Diesel_Ltr, new { @class = "m-wrap form-control clsDiesel_Ltr", @min = "0", @number = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.Diesel_Rate, new { @class = "m-wrap form-control clsDiesel_Rate", @min = "0", @number = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.Amount, new { @class = "m-wrap form-control clsAmount", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.EXE_AMT, new { @class = "m-wrap form-control clsEXE_AMT", @min = "0", @number = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>
        <td>
            @Html.DropDownListFor(m => m.Card_Cash, new SelectList(Card_CashList, "Value", "Text"), null, new { @class = "form-control required required2 select2 span6" })
        </td>
        <td>
            @Html.TextAreaFor(c => c.Remark, new { @class = "m-wrap required form-control" })
        </td>
        <td class="center  form-group center">

            @if (Model.SRNO > 2)
            {
                <a class="deleteRow" style="color: maroon; width: 25px; cursor: pointer;" title="Delete">
                    <b>X</b>
                </a>
            }
            else
            {
                <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
            }

        </td>

     }
</tr>
