﻿@model FleetDataService.Models.WEBX_TRIPSHEET_ADVEXP
@using Fleet.Models;
@using Fleet.Classes;
@using Fleet.Helpers;

@{
    string TRID = "TR_" + Model.SRNO.ToString();
}

<tr id="@TRID">

    @using (Html.BeginCollectionItem("LISTAdvanceExp", Model.SRNO.ToString()))
    {
        <td>
            <span>@Model.SRNO</span>
        </td>
        <td>
            @Html.TextBoxFor(c => c.AdvLoc, new { @class = "m-wrap form-control required2", @readonly = true })
        </td>
        @Html.HiddenFor(c => c.Advance_SlipNo, new { @class = "m-wrap form-control required2", @readonly = true })
        <td>
            @Html.TextBoxFor(c => c.AdvDate, "{0:dd/MM/yyyy}", new { @class = "m-wrap form-control required2", @readonly = true })
        </td>
        @*<td>
                @Html.TextAreaFor(c => c.MFReason, new { @class = "m-wrap  form-control required" })
            </td>
            <td>
                @Html.TextBoxFor(c => c.From_City, new { @class = "m-wrap  form-control ", @readonly = true })
            </td>
            <td>
                @Html.TextBoxFor(c => c.To_City, new { @class = "m-wrap  form-control ", @readonly = true })
            </td>
            <td>
                @Html.TextBoxFor(c => c.current_KM_Read, new { @class = "m-wrap  form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
            </td>
            <td>
                @Html.TextBoxFor(c => c.ApprovedBy, new { @class = "m-wrap  form-control required" })
            </td>
            <td>
                @Html.TextBoxFor(c => c.Cashier, new { @class = "m-wrap  form-control ", @readonly = true })
            </td>*@
        <td>
            @Html.DisplayFor(c => c.AdvAmt)
            @Html.HiddenFor(c => c.AdvAmt, new { @class = "m-wrap form-control ClsExpense required2", @readonly = true, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.BranchCode, new { @class = "m-wrap form-control required2", @readonly = true })
        </td>
        <td>
            @Html.TextBoxFor(c => c.Signature, new { @class = "m-wrap form-control required2", @readonly = true })
        </td>
    }

</tr>
