﻿@model IEnumerable<FleetDataService.Models.vw_TRIPROUTEFuelEXP_VIEW>
@using FleetDataService.Models


<table class="table table-striped table-bordered table-hover" id="TRIPROUTEEXPList" style="overflow-x: scroll">
    <thead>
        <tr>
            <th class="center">
                Route
            </th>
            <th class="center">
                Vehicle No
            </th>
            <th class="center">
                Liters
            </th>
            <th class="center">
                Active
            </th>
            <th class="center">Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ToList().OrderBy(c => c.rutdesc))
        {
            string TrId = "TR" + item.ID.ToString();
            bool Active = false;
            if (item.active_flag.ToUpper() == "Y")
            {
                Active = true;
            }
            <tr id="@TrId">
                <td class="center">
                    @item.rutdesc
                </td>
                <td class="center">
                    @item.VEHICLENO
                </td>
                <td class="center">
                    @item.LTRS
                </td>
                <td class="center">
                    @if (@Active == true)
                    {
                        <span class="badge badge-success">Yes</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">No</span>
                    }
                </td>
                <td class="center">
                    <button type="button" class="btn default btn-xs blue-stripe tooltips btnMasterEdit" title="Edit" id="btnEdit_@item.ID.ToString()" data-id="@item.ID" rel="tooltip" data-placement="top">
                        <i class="fa fa-pencil"></i>&nbsp;Edit
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
