﻿@model FleetDataService.Models.VW_TyreDetails_New
@using FleetDataService.Models;
@using Fleet.Helpers;

<tr>
    @using (Html.BeginCollectionItem("BranchWise", Model.TYRE_NO.ToString()))
    {
        <td class="center">
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = " form-control CLSCHK" })
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.GRNNO)
            @Model.GRNNO
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.GRNDT)
            @Html.HiddenFor(m => m.TYRE_ID)
            @Model.GRNDT
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.TYRE_NO)
            @Model.TYRE_NO
        </td>
        if (Model.TYRE_REMOVE_DT == null)
        {
            <td class="center"></td>
        }
        else
        {
            <td class="center">
                @Html.HiddenFor(m => m.TYRE_REMOVE_DT)
                @Convert.ToDateTime(Model.TYRE_REMOVE_DT).ToString("dd MMM yyyy")
            </td>
        }
        <td class="center">
            @Html.HiddenFor(m => m.LifeOfTyre)
            @Model.LifeOfTyre
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.MODEL)
            @Model.MODEL
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.SIZE)
            @Model.SIZE
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.PATTERN)
            @Model.PATTERN
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.TYRE_TYPE)
            @Model.TYRE_TYPE
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.MFG)
            @Model.MFG
        </td>
    }
</tr>


