﻿@model FleetDataService.Models.webx_VEHICLE_HDR
@using FleetDataService.Models;
@using Fleet.Helpers;
<tr>
    @using (Html.BeginCollectionItem("Tyre", Model.VEHNO.ToString()))
    {

        <td class="center">
            @Html.HiddenFor(m => m.VEHNO)
            @Model.VEHNO
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.Last_Km_Reading)
            @Model.Last_Km_Reading
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.Odometer_Reading)
            @Model.Odometer_Reading
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.Odometer_Reading_Dt)
            @Model.Odometer_Reading_Dt
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.Odometer_Reason)
            @Model.Odometer_Reason
        </td>
    }
</tr>
