﻿@model IEnumerable<FleetDataService.Models.webx_VEHICLE_HDR>

<div class="col-md-12">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-list"></i>List of VEHICLE
            </div>
        </div>
        <div class="portlet-body">
            <div class="form-body">
                <div class="row">
                    <table class="table table-striped table-bordered table-hover table-full-width" id="chequelist">

                        <thead class="flip-content">
                            <tr>
                                <th class="center">
                                    Vehicle No.
                                </th>
                                <th class="center">
                                    Last KM Reading
                                </th>
                                <th class="center">
                                    Odometer Reading
                                </th>
                                <th class="center">
                                    Odometer Reading Date
                                </th>
                                <th class="center">
                                    Odometer Reason
                                </th>
                            </tr>
                        </thead>
                        <tbody id="VEHNO">
                            @foreach (var item in Model)
                            {
                                Html.RenderPartial("_TyreOdometeList", item);
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


