﻿@model FleetDataService.Models.VW_TyreDetails_New
@using FleetDataService.Models;
@using Fleet.Helpers;

<tr>
    @using (Html.BeginCollectionItem("VehicleWise", Model.TYRE_NO.ToString()))
    {
        <td>
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = " form-control CLSCHKCKED" })
        </td>
        <td>
            @Model.GRNNO
            @Html.HiddenFor(m => m.GRNNO)
        </td>
        <td>
            @Html.HiddenFor(m => m.GRNDT)
            @Html.HiddenFor(m => m.TYRE_ID)
            @Model.GRNDT
        </td>
        <td>
            @Html.HiddenFor(m => m.TYRE_NO)
            @Model.TYRE_NO
        </td>
        <td>
            @Html.HiddenFor(m => m.MODEL)
            @Model.MODEL
        </td>
        <td>
            @Html.HiddenFor(m => m.SIZE)
            @Model.SIZE
        </td>
        <td>
            @Html.HiddenFor(m => m.PATTERN)
            @Model.PATTERN
        </td>
        <td>
            @Html.HiddenFor(m => m.TYRE_TYPE)
            @Model.TYRE_TYPE
        </td>
        <td>
            @Html.HiddenFor(m => m.MFG)
            @Model.MFG
        </td>
        <td>
            @Html.HiddenFor(m => m.TYRE_COST)
            @Model.TYRE_COST
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.MOUNT_DT)
            @Model.MOUNT_DT
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.MANUAL_MOUNT_KM_RUN)
            @Model.MANUAL_MOUNT_KM_RUN
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.LifeOfTyre, new { placeholder = "Life Of Tyre", @class = "form-control" })
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.RemovalKM, new { placeholder = "Removal KM", @class = "form-control RK", @readonly = "True" })
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.DistanceCovered, new { placeholder = "Distance Covered", @class = "form-control", @readonly = "True" })
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.PerKMCost, new { placeholder = "Per KM Cost", @class = "form-control", @readonly = "True" })
        </td>

    }
</tr>


