﻿@model IEnumerable<Fleet.ViewModels.UpdateRemoldTyreList>
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers

<table class="table table-striped table-bordered table-hover" id="Sample1">
    <thead class="flip-content">
        <tr>
            <th class="center">
                Remold No.
            </th>
            <th class="center">
                Vendor Name
            </th>
            <th class="center">
                Remold Date
            </th>
            <th class="center">
                No of Tyres
            </th>
            <th class="center">
                Action
            </th>
        </tr>
    </thead>
    <tbody id="Advice">
        @foreach (var item in Model)
        {
            <tr>
                <td class="center">
                    @item.CLAIM_REMOLD_SALE_ID
                    @Html.HiddenFor(m => item.CLAIM_REMOLD_SALE_ID)
                </td>
                <td class="center">
                    @item.VendorCode
                    @Html.HiddenFor(m => item.VendorCode)
                </td>
                <td class="center">
                    @item.ACTION_DT
                    @Html.HiddenFor(m => item.ACTION_DT)
                </td>
                <td class="center">
                    @item.NO_OF_TYRE
                    @Html.HiddenFor(m => item.NO_OF_TYRE)
                </td>
                <td class="center">
                    <button type="button" class="btn default btn-xs blue-stripe btnMasterEdit" data-value="@item.CLAIM_REMOLD_SALE_ID" title="Update" id="btnEdit">
                        Update
                    </button>
                </td>
            </tr>
        }
        @*@if (Model.ListRemolTyre.Count == 0)
            {
                <tr>  <td class="center" colspan="13"><b>No Records Found</b></td></tr>
            }*@
    </tbody>
</table>



