﻿@model Fleet.ViewModels.RemoldTyreList_DET
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers

@{
    var ischecked = Model.Active;
    bool IsActive = false;
    var TypeList = new List<SelectListItem>();
    TypeList.Add(new SelectListItem { Text = "Select", Value = "0" });
    TypeList.Add(new SelectListItem { Text = "Remold", Value = "P" });
    TypeList.Add(new SelectListItem { Text = "Reject", Value = "R" });
}
<tr>
    @using (Html.BeginCollectionItem("RemoldListDet", Model.SR_NO.ToString()))
    {
        <td class="center">
            @Html.CheckBox("Active", IsActive, new { @class = "IsCheck" })
        </td>
        <td class="center">
            @Model.CLAIM_REMOLD_SALE_ID
            @Html.HiddenFor(m => m.CLAIM_REMOLD_SALE_ID)
            @Html.HiddenFor(m => m.SR_NO)
            @Html.HiddenFor(m => m.TYRE_ID)
            @Html.HiddenFor(m => m.GSTType)
            @Html.HiddenFor(m => m.GSTPercentage)
            @Html.HiddenFor(m => m.StateCode)
        </td>
        <td class="center">
            @Model.TYRE_NO
            @Html.HiddenFor(m => m.TYRE_NO)
        </td>
        <td class="center">
            @Model.MODEL
            @Html.HiddenFor(m => m.MODEL)
        </td>
        <td class="center">
            @Model.PATTERN
            @Html.HiddenFor(m => m.PATTERN)
        </td>
        <td class="center">
            @Model.SIZE
            @Html.HiddenFor(m => m.SIZE)
        </td>
        <td class="center">
            @Model.MFG
            @Html.HiddenFor(m => m.MFG)
        </td>
        <td class="center">
            @Model.Fittment_DT
            @Html.HiddenFor(m => m.Fittment_DT)
        </td>
        <td class="center">
            @Model.TYRE_REMOVE_DT
            @Html.HiddenFor(m => m.TYRE_REMOVE_DT)
        </td>
        <td class="center">
            @Model.Dist_Covered
            @Html.HiddenFor(m => m.Dist_Covered)
        </td>
        <td class="center">
            @Model.Remark
            @Html.HiddenFor(m => m.Remark)
        </td>
        <td class="center">
            @Model.VendorCode
            @Html.HiddenFor(m => m.VendorCode)
        </td>
        <td class="center">
            @Model.ACTION_DT
            @Html.HiddenFor(m => m.ACTION_DT)
        </td>
        <td class="center">
            @Html.DropDownListFor(model => model.Type, new SelectList(TypeList, "Value", "Text"), new { @class = "select2 form-control" })
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.Amount, new { placeholder = "Amount", @class = "form-control clsNetPay clsLedgerAmount", @style = "width:60px", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.Rejection, new { placeholder = "Rejection Reason", @class = "form-control" })
        </td>
    }
</tr>

