﻿@model FleetDataService.Models.WEBX_TRIPSHEET_ADVEXP
@using Fleet.Helpers;
@using CYGNUS.Models;
@using Fleet.Classes;
@using Fleet.ViewModels
@{
    objDate Date = new objDate();
    Date.ControlId = "AdvDate";
    Date.ControlValue = Model.AdvDate.ToString();
    Date.ModuleCode = "21";
}
@using (Html.BeginCollectionItem("Advance", Model.SRNO.ToString()))
{
    <tr>
        <td>
            @Model.SRNO
            @Html.HiddenFor(m => m.SRNO)
            @Html.HiddenFor(m => m.Type)
        </td>
        <td>
            @if (Model.Type != "M")
            {
                @Html.TextBoxFor(m => m.AdvLoc, new { placeholder = "AdvLoc", @class = "required2 form-control", @readonly = "true" })
            }
            else
            {
                @Html.TextBoxFor(m => m.AdvLoc, new { placeholder = "AdvLoc", @class = "required2 form-control" })
            }
        </td>
        <td>
            @if (Model.Type != "M")
            {
                @Convert.ToDateTime(@Model.AdvDate).ToString("dd MMM yyyy")
            }
            else
            {
                @*<div class="input-group input-medium date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d" data-date-end-date="+0d">
                        @Html.TextBox("AdvDate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.AdvDate).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @readonly = "True" })
                        <span class="input-group-btn">
                            <button class="btn default date-set" id="btndate" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>*@
                {
                    Html.RenderPartial("../UserControls/_DocumentDate", Date);
                }
            }
        </td>
        <td>
            @if (Model.Type != "M")
            {
                @Html.TextBoxFor(m => m.AdvAmt, new { placeholder = "AdvAmt", @class = "required2 form-control", @readonly = "true"  })
            }
            else
            {
                @Html.TextBoxFor(m => m.AdvAmt, new { placeholder = "AdvAmt", @class = "required2 form-control clsAdvAmt", @number = "true", @min = "1", @maxlength = "8", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            }
        </td>
        <td>
            @if (Model.Type != "M")
            {
                @Html.TextBoxFor(m => m.BranchCode, new { placeholder = "BranchCode", @class = "required2 form-control", @readonly = "true" })
            }
            else
            {
                @Html.TextBoxFor(m => m.BranchCode, new { placeholder = "BranchCode", @class = "required2 form-control" })
            }
        </td>
        <td>
            @if (Model.Type != "M")
            {
                @Html.TextBoxFor(m => m.Signature, new { placeholder = "Signature", @class = "required2 form-control", @readonly = "true" })
            }
            else
            {
                @Html.TextBoxFor(m => m.Signature, new { placeholder = "Signature", @class = "required2 form-control" })
            }
        </td>
    </tr>
}