﻿@model Fleet.ViewModels.IssueSlipQueryViewModel
@using Fleet.Helpers

<tr>
    @using (Html.BeginCollectionItem("_Vehicle_IssueList", Model.SrNo.ToString()))
    {
        <td class="center">
            @Model.SrNo
        </td>
        <td class="center">
            @Model.Manual_TripsheetNo
        </td>
        <td class="center">
            @Model.VSlipNo
        </td>
        <td class="center">
            @Model.VSlipDt
        </td>
        <td class="center">
            @Model.VehicleNo
        </td>
        <td class="center">
            @Model.Trip_route_type
        </td>
        <td class="center">
            @Model.DriverName
        </td>
        <td class="center">
            <a class="btn btn-sm default blue-stripe controls AdvanceEntry" href="@Url.Action("AdvanceEntry", "Fleet", new { TripsheetNo = @Model.VSlipNo, Type = @Model.Type })">
                &nbsp;Advance Entry
            </a>
        </td>
    }
</tr>
