﻿@model Fleet.ViewModels.Webx_Master_GeneralViewModel

<table class="table table-striped table-bordered table-hover" id="GeneralMaster" style="overflow-x: scroll">
    <thead>
        <tr>
            <th class="center">
                Part Code
            </th>
            <th class="center">
                Part Name
            </th>
            <th class="hide">
            </th>
            <th class="center">
                Active
            </th>
            <th class="center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VPart)
        {
            string TrId = "TR" + item.Id.ToString();
                <tr id="@TrId">
                    <td class="center">
                        @item.Id
                    </td>
                    <td>
                        <input type="text" class="form-control clsCodeDesc required" id="txt_@item.Id" data-id="@item.Id" value="@item.HeaderCode" disabled />                        
                    </td>
                    <td class="hide">@item.HeaderCode</td>
                    <td>
                        @if (item.Activeflag_YN.ToUpper() == "Y")
                        {
                    <input type="checkbox" class="StatusCodeY statusChange" data-codeid="@item.Id" />
                        }
                        else
                        {
                    <input type="checkbox" class="StatusCodeN statusChange" data-codeid="@item.Id"  />
                        }
                    </td>
                    <td class="center">
                        <button type="button" class="btn default btn-xs blue-stripe tooltips btnMasterEdit" title="Edit" id="btnEdit_@item.Id.ToString()"  data-id="@item.Id" rel="tooltip" data-placement="top">
                            <i class="fa fa-pencil"></i>&nbsp;Edit
                        </button>
                        <button type="button" style="display:none" class="btn default btn-xs green-stripe tooltips btnMasterSave" title="Save" id="btnSave_@item.Id.ToString()"  data-id="@item.Id" rel="tooltip" data-placement="top">
                            <i class="fa fa-save"></i>&nbsp;Save
                        </button>
                    </td>
                </tr>
        }
    </tbody>
</table>