﻿@model Fleet.ViewModels.TripRouteViewModel
@using FleetDataService.Models
@using Fleet.Classes
@{
    //ViewBag.Title = "AddEditTripRoute";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Text = "Submit"; bool Active = false; bool ROUND = false; var type = "Add";
    if (Model.WRMT.RUTCD != null)
    {
        Text = "Update";
        type = "Edit";
    }
    if (Model.WRMT.ACTIVEFLAG != null && Model.WRMT.ACTIVEFLAG.ToUpper() == "Y" || Model.WRMT.RUTCD == null)
    {
        Active = true;
    }
    if (Model.WRMT.ROUND_TRIP != null && Model.WRMT.ROUND_TRIP.ToUpper() == "Y" || Model.WRMT.RUTCD == null)
    {
        ROUND = true;
    }
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> rutmodeList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "RTMD" && c.StatusCode == "Y").ToList().OrderBy(c => c.CodeDesc).ToList();
    List<Webx_Master_General> rutcatList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "RTCT" && c.StatusCode == "Y").ToList().OrderBy(c => c.CodeDesc).ToList();
    List<webx_location> locList = MS.GetLocationDetails().Where(c => c.ActiveFlag == "Y").ToList().OrderBy(c => c.LocName).ToList();

    ViewBag.Title = @type + " Trip - Route";
}

<div class="row">
    <div class="col-md-10">
        <h4>@ViewBag.Title <b>@Model.WRMT.RUTCD</b></h4>
    </div>
    @if (Model.WRMT.RUTCD != null)
    {
        <div class="col-md-2">
            <a class="btn default blue-stripe pull-right" style="margin-top:5px;" href="@Url.Content("~/Fleet/AddEditTripRoute")">
                <i class="fa fa-plus"></i>
                Add Trip Route
            </a>
        </div>
    }
</div>
@using (Html.BeginForm("AddEditTripRoute", "Fleet", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal", @readonly = "true" }))
{
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        You have some form errors. Please check below.
    </div>
    <div class="alert alert-success display-hide">
        <button class="close" data-close="alert"></button>
        Your form validation is successful!
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Route
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="row">
                        <div class="form-body">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Route Code
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WRMT.RUTCD, new { placeholder = "System Generated", @class = "form-control", @readonly = "true" })
                                            @Html.HiddenFor(c => c.WRMT.RUTNM)
                                            @Html.HiddenFor(c => c.WRMT.RUTSTBR)
                                            @Html.HiddenFor(c => c.WRMT.RUTENDBR)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Route Mode
                                        </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(c => c.WRMT.RUTMOD, new SelectList(rutmodeList, "CodeId", "CodeDesc"), "", new { @class = "span15 select2 required required2 form-control", @placeholder = "Select Route Mode" })
                                            @Html.ValidationMessageFor(c => c.WRMT.RUTMOD)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Route Description
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WRMT.RUTDESC, new { placeholder = "Route Description", @class = "form-control required required2", @readonly = "true" })
                                            @Html.ValidationMessageFor(c => c.WRMT.RUTDESC)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Control Location
                                        </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(c => c.WRMT.ControlLoc, new SelectList(locList, "LocCode", "LocName"), "", new { @class = "span15 select2 required required2 form-control", @placeholder = "Select Location" })
                                            @Html.ValidationMessageFor(c => c.WRMT.ControlLoc)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Round Trip
                                        </label>
                                        <div class="col-md-7">
                                            @Html.CheckBox("ROUND_TRIP", @ROUND)
                                            @Html.HiddenFor(c => c.WRMT.ROUND_TRIP)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Active
                                        </label>
                                        <div class="col-md-7 chkactive">
                                            @Html.CheckBox("ActiveFlag", @Active)
                                            @Html.HiddenFor(c => c.WRMT.ACTIVEFLAG)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Dist.(Km) / Transit (HRS)
                                        </label>
                                        <div class="col-md-6" style="padding-left: 0px; !important">
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(c => c.WRMT.RUTKM, new { placeholder = "Dist.(Km)", @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                            </div><div class="col-md-1">/</div>
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(c => c.WRMT.TransHrs, new { placeholder = "Transit (HRS)", @class = "form-control", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))", @readonly = "true" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Departure time from starting Location (24 Hour Format)
                                        </label>
                                        <div class="col-md-6" style="padding-left: 0px; !important">
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(c => c.WRMT.SCHDEP_HR, new { @type = "number", @min = "0", @placeholder = "HH ", @class = "form-control", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))", @max = 23 })
                                            </div><div class="col-md-1">:</div>
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(c => c.WRMT.SCHDEP_MIN, new { @type = "number", @min = "0", @placeholder = "MM", @class = "form-control", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))", @max = 59 })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Route Detail
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-2">City Name</th>
                                    <th class="col-md-3">Dist.(In Km.)</th>
                                    <th class="col-md-2">Transaction(Hours)</th>
                                    <th class="col-md-2">Transaction(Min)</th>
                                    <th class="col-md-1">Stoppage(Hours)</th>
                                    <th class="col-md-2">Stoppage(Min)</th>
                                    <th class="col-md-2">Obward/Return</th>
                                    <th>X</th>
                                </tr>
                            </thead>
                            <tbody id="containerTblRoute">
                                @foreach (var item in Model.listWRTT)
                                {
                                    Html.RenderPartial("_PartialTripRoute", item);
                                }

                            </tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><input type="text" class="form-control" id="sum_tr" readonly value="" /></td>
                                <td><input type="text" class="form-control" id="sum_trmin" readonly value="" /></td>
                                <td><input type="text" class="form-control" id="sum_st" readonly /></td>
                                <td><input type="text" class="form-control" id="sum_stmin" readonly value="" /></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                        @if (Model.WRMT.RUTCD == null || Model.WRMT.RUTCD == "")
                        {
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="button" id="btnAddRoute" class="btn green pull-right"><i class="fa fa-plus"></i>&nbsp;Add Row</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions fluid ">
        <div class="col-md-offset-4 col-md-8">
            <a href="@Url.Content("~/Fleet/TripRoute")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back To List </a>
            <button type="submit" id="btnSubmit" class="btn btn-sm green controls submit"><i class="fa fa-check"></i>&nbsp;@Text </button>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                    'WVT.UserPwd': {
                        minlength: 6
                    },
                    'ConfirmPassword': {
                        equalTo: "#WVT_UserPwd"
                    },
                },

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    App.blockUI();
                    $("#btnSubmit").hide();
                    document.forms["form_sample"].submit();
                    //$.post($("#form_sample").attr('action'), $("#form_sample").serialize(), function (data, status) {
                    //    if (data.Status) {
                    //        TosterNotification("success", "Record has been saved successfully..!!", "Success");
                    //        setTimeout(function () {
                    //            window.location.href = DomainName + '/Master/TripRoute';
                    //        }, 500);
                    //    }
                    //    else {
                    //        App.unblockUI();
                    //        TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                    //    }
                    //});

                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }
        var AddRouteInfo = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Fleet/ADDTripRouteInfo?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#containerTblRoute").append(html);
                    App.unblockUI();
                    $("input[type=checkbox], input:radio, input:file").uniform();
                    $('#RutTran_' + itemIndex + '__RUTNO').val(itemIndex);
                    $('select').select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    if (itemIndex > 1) {
                        $(".submit").show(1000);
                    }
                    //if (itemIndex == 1) {
                    //    $(".ro").prop('readonly', true);
                    //}
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }

        var calTransactionMin = function () {

            var sumTRTIME_HR = 0;
            $(".TRTIME_HR").each(function () {
                if ($(this).val() == null || $(this).val() == "") {
                    $(this).val(1);
                }
                sumTRTIME_HR = parseInt(sumTRTIME_HR == null || sumTRTIME_HR == "" ? 0 : sumTRTIME_HR) + parseInt($(this).val());
            });

            var sumTRTIME_MIN = 0;
            $(".TRTIME_MIN").each(function () {
                if ($(this).val() < 59 || $(this).val() > 0) {
                    sumTRTIME_MIN = parseInt(sumTRTIME_MIN) + parseInt($(this).val());
                }
            });
            $("#sum_trmin").val(sumTRTIME_MIN % 60);
            var finalHR = parseInt(sumTRTIME_HR == null || sumTRTIME_HR == "" ? 0 : sumTRTIME_HR) + parseInt(sumTRTIME_MIN / 60);
            $("#sum_tr").val(finalHR);

            var sumMin = parseInt($("#sum_trmin").val()) + parseInt($("#sum_stmin").val());
            sumMin = parseInt(sumMin / 60);
            $("#WRMT_TransHrs").val(parseInt($("#sum_tr").val()) + parseInt($("#sum_st").val() == null || $("#sum_st").val() == "" ? 0 : $("#sum_st").val()) + parseInt(sumMin == "NaN" ? 0 : sumMin));

        }

        var calStoppageMin = function () {
            var sumSTTIME_HR = 0;
            $(".STTIME_HR ").each(function () {
                if ($(this).val() == null || $(this).val() == "") {
                    $(this).val(1);
                }
                sumSTTIME_HR = parseInt(sumSTTIME_HR == null || sumSTTIME_HR == "" ? 0 : sumSTTIME_HR) + parseInt($(this).val());
            });

            var sumSTTIME_MIN = 0;
            $(".STTIME_MIN").each(function () {
                if ($(this).val() < 59 || $(this).val() > 0) {
                    sumSTTIME_MIN = parseInt(sumSTTIME_MIN) + parseInt($(this).val());
                }
            });
            $("#sum_stmin").val(sumSTTIME_MIN % 60);
            var finalHR = parseInt(sumSTTIME_HR == null || sumSTTIME_HR == "" ? 0 : sumSTTIME_HR) + parseInt(sumSTTIME_MIN / 60);
            $("#sum_st").val(finalHR);
            var sumMin = parseInt($("#sum_trmin").val()) + parseInt($("#sum_stmin").val());
            sumMin = parseInt(sumMin / 60);
            $("#WRMT_TransHrs").val(parseInt($("#sum_st").val()) + parseInt($("#sum_tr").val() == null || $("#sum_tr").val() == "" ? 0 : $("#sum_tr").val()) + parseInt(sumMin == "NaN" ? 0 : sumMin));
        }
        return {
            init: function (DomainName) {

                // $(".submit").hide();
                Formvalidate(DomainName);
                $('#ActiveFlag').change(function () {
                    if ($(this).is(":checked")) {
                        $("#WRMT_ACTIVEFLAG").val("Y");
                    }
                    else {
                        $("#WRMT_ACTIVEFLAG").val("N");
                    }
                });
                if ($("#WRMT_ACTIVEFLAG").val("Y")) {
                    $('#ActiveFlag').val(":checked");
                }
                else {
                    $('#ActiveFlag').is(":not(:checked)");
                }
                $('#ROUND_TRIP').change(function () {
                    if ($(this).is(":checked")) {
                        $("#WRMT_ROUND_TRIP").val("Y");
                    }
                    else {
                        $("#WRMT_ROUND_TRIP").val("N");
                    }
                });
                if ($("#WRMT_ROUND_TRIP").val("Y")) {
                    $('#ROUND_TRIP').val(":checked");
                }
                else {
                    $('#ROUND_TRIP').is(":not(:checked)");
                }
                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    calTransactionMin();
                    calStoppageMin()
                    return false;
                });

                if ('@Model.WRMT.RUTCD' == "") {
                    var itemIndex = $("#sample_ven input.iHidden").length + 1;
                    AddRouteInfo(DomainName, itemIndex);
                }
                $("#btnAddRoute").live('click', function () {
                    var itemIndex = $("#sample_ven input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddRouteInfo(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });

                $(".LOCCD").live("change", function () {
                    var option_all = $(".LOCCD option:selected").map(function () {
                        return $(this).text();
                    }).get().join('-');
                    //alert(option_all);
                    $("#WRMT_RUTNM").val(option_all);
                    $("#WRMT_RUTDESC").val(option_all);
                    var firstindex = option_all.indexOf("-")
                    var lastIndex = option_all.lastIndexOf("-")
                    $("#WRMT_RUTSTBR").val(option_all.substring(0, firstindex));
                    $("#WRMT_RUTENDBR").val(option_all.substring(lastIndex + 1));
                });

                calTransactionMin();
                $(".TRTIME_HR").live('blur', function () {
                    calTransactionMin();
                });
                $(".TRTIME_MIN").live('blur', function () {
                    calTransactionMin();
                });

                calStoppageMin();
                $(".STTIME_HR").live('blur', function () {
                    calStoppageMin();
                });

                $(".STTIME_MIN").live('blur', function () {
                    calStoppageMin();
                });

                $(document).on('change', '.LOCCD', function () {
                    var option_all = $(".LOCCD option:selected").map(function () {
                        return $(this).val();
                    }).get().join('-');
                    //alert($(this).val());
                    $("#WRMT_RUTNM").val(option_all);
                    var firstindex = option_all.indexOf("-");
                    var lastIndex = option_all.lastIndexOf("-");
                    $("#WRMT_RUTSTBR").val(option_all.substring(0, firstindex));
                    $("#WRMT_RUTENDBR").val(option_all.substring(lastIndex + 1));
                })
            }
        }
    }();
</script>

