﻿@model Fleet.ViewModels.TripRouteFuelExpenceViewModel
@using FleetDataService.Models;
@using Fleet.Classes
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Text = "Submit"; var type = "Add";
    
    
    
    
    if (Model.VWTRFE.ID != null && Model.VWTRFE.ID != 0)
    {
        Text = "Update";
        type = "Edit";
    }


    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    FleetDataService.FleetService FS = new FleetDataService.FleetService();
    List<webx_trip_rutmas> RutList = FS.GetTripRutMstDetails().Where(c => c.ACTIVEFLAG == null ? c.ACTIVEFLAG == null : c.ACTIVEFLAG == "Y").ToList();

    ViewBag.Title = @type + " Trip Route Fuel Expence";
}

<div class="row">
    <div class="col-md-10">
        <h4>@ViewBag.Title <b>@Model.VWTRFE.ID</b></h4>
    </div>
    @if (Model.VWTRFE.ID != null)
    {
        <div class="col-md-2">
            <a class="btn default blue-stripe pull-right" style="margin-top:5px;" href="@Url.Content("~/Fleet/AddEditTripRouteFuelExpence")">
                <i class="fa fa-plus"></i>
                Add Trip Route Expence
            </a>
        </div>
    }
</div>
@using (Html.BeginForm("AddEditTripRouteFuelExpence", "Fleet", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal", @readonly = "true" }))
{
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        You have some form errors. Please check below.
    </div>
    <div class="alert alert-success display-hide">
        <button class="close" data-close="alert"></button>
        Your form validation is successful!
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="row">
                        <div class="form-body">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Route :
                                        </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(c => c.VWTRFE.route_code, new SelectList(RutList, "RUTCD", "RUTDESC"), "", new { @class = "form-control select2 required required2", @placeholder = "Select Route" })
                                            @Html.ValidationMessageFor(c => c.VWTRFE.route_code)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Diesel Rate :
                                        </label>
                                        <div class="col-md-7">
                                           @Html.TextBoxFor(c => c.VWTRFE.RutCharge, new { @class = "form-control"})
                                            @Html.HiddenFor(c => c.VWTRFE.RateId)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title Detail
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Vehicle No</th>
                                    <th>Liter</th>
                                    <th>Status</th>
                                    <th>X</th>
                                </tr>
                            </thead>
                            <tbody id="containerTblRoute">
                                @foreach (var item in Model.listVWTRFE)
                                {
                                    Html.RenderPartial("_PartialTripRouteFuelExpence", item);
                                }

                            </tbody>
                        </table>
                        @if (Model.VWTRFE.ID == null || Model.VWTRFE.ID == 0)
                        {
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="button" id="btnAddRoute" class="btn green pull-right"><i class="fa fa-plus"></i>&nbsp;Add Row</button>
                                </div>
                            </div>
                        }

                        <div class="form-actions fluid ">
                            <div class="col-md-offset-4 col-md-8">
                                <a href="@Url.Content("~/Fleet/TripRouteFuelExpList")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back To List </a>
                                <button type="submit" id="btnSubmit" class="btn btn-sm green controls submit"><i class="fa fa-check"></i>&nbsp;@Text </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);
            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                    'WVT.UserPwd': {
                        minlength: 6
                    },
                    'ConfirmPassword': {
                        equalTo: "#WVT_UserPwd"
                    },
                },

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    App.blockUI();
                    $("#btnSubmit").hide();
                    document.forms["form_sample"].submit();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }

        var CheckDuplicate = function (DomainName,ID, RutCD, VehicleObj) {

            var VehicleNo=$(VehicleObj).val();
            if(@Model.VWTRFE.ID==0)
            {
                ID=0;
            }
            var StrURL = DomainName + "/Fleet/CheckDuplicateVehicleNo?ID=" + ID + "&RutCD=" + RutCD + '&VehicleNo=' + VehicleNo;
            $.ajax({
                url: StrURL,
                cache: false,
                data: {},
                type: 'POST',
                success: function (Data) {
                    if (Data.Count > 0) {
                        alert("Please Select Other Vehicle No.....");
                        $(VehicleObj).val("");
                        $(VehicleObj).select2().find(":selected").data("");
                    }
                }
            });
        }

        var AddRouteInfo = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Fleet/ADDTripRouteFuelExpInfo?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#containerTblRoute").append(html);
                    App.unblockUI();
                    $("input[type=checkbox], input:radio, input:file").uniform();
                    $('select').select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });

                    $("#RutTran_" + itemIndex + "__VEHICLENO").change(function () {
                        var Id = $("#VWTRFE_RateId").val();
                        var RutCD = $("#VWTRFE_route_code").val();
                        var VehicleNo = $("#RutTran_" + itemIndex + "__VEHICLENO").val();
                        CheckDuplicate(DomainName, Id, RutCD, this);
                    });
                    $('#RutTran_' + itemIndex + '__Active').change(function () {
                        if ($(this).is(":checked")) {
                            $('#RutTran_' + itemIndex + '__active_flag').val("Y");
                        }
                        else {
                            $('#RutTran_' + itemIndex + '__active_flag').val("N");
                        }
                    });
                    if ($('#RutTran_' + itemIndex + '__active_flag').val("Y")) {
                        $('#RutTran_' + itemIndex + '__Active').val(":checked");
                    }
                    else {
                        $('#RutTran_' + itemIndex + '__Active').is(":not(:checked)");
                    }
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }
        var Rate = function (id, DomainName) {
            var strUrl = DomainName + '/Fleet/GetDieselPrize/' + id;
            $.ajax({
                url: strUrl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (Data) {
                    $("#VWTRFE_RutCharge").val(Data.Rate);
                    $("#VWTRFE_RateId").val(Data.RateId);
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }
        return {
            init: function (DomainName) {

                // $(".submit").hide();
                Formvalidate(DomainName);
                $('#RutTran_0__Active').change(function () {
                    if ($(this).is(":checked")) {
                        $('#RutTran_0__active_flag').val("Y");
                    }
                    else {
                        $('#RutTran_0__active_flag').val("N");
                    }
                });
                if ($('#RutTran_0__active_flag').val("Y")) {
                    $('#RutTran_0__Active').val(":checked");
                }
                else {
                    $('#RutTran_0__Active').is(":not(:checked)");
                }
                $("#RutTran_0__VEHICLENO").change(function () {
                    var Id = $("#VWTRFE_RateId").val();
                    var RutCD = $("#VWTRFE_route_code").val();
                    var VehicleNo = $("#RutTran_"+0+"__VEHICLENO").val();
                    CheckDuplicate(DomainName,Id, RutCD, this);
                });
                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });

                if ('@Model.VWTRFE.route_code' != "") {
                    var id = '@Model.VWTRFE.route_code';
                    Rate(id, DomainName);
                }

                $("#VWTRFE_route_code").change(function(){
                    var id = $(this).val();
                    Rate(id, DomainName);
                });
                
                if ('@Model.VWTRFE.ID' == "") {
                    var itemIndex = $("#sample_ven input.iHidden").length + 1;
                    AddRouteInfo(DomainName, itemIndex);
                }
                $("#btnAddRoute").live('click', function () {
                    var itemIndex = $("#sample_ven input.iHidden").length + 1;
                    var rutcd=$("#VWTRFE_route_code").val();
                    if(rutcd=="")
                    {
                        alert("Please Select Route First");
                        $("#VWTRFE_route_code").foucs();
                        return false;
                    }
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddRouteInfo(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });
            }
        }
    }();
</script>
