﻿@model Fleet.ViewModels.DriverViewModel
@using FleetDataService.Models
@using Fleet.Classes
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Text = "Submit"; bool Active = false; bool License = false; bool Address = false; bool ElectricityBill = false; bool TelephoneBill = false;
    bool BankAcc = false; bool Passport = false; bool RationCard = false; bool Driver_Regi = false; bool ID_Passport = false;
    bool Licence = false; bool VoterId = false; bool Pancard = false;
    var type = "Add";
    if (Model.WFDM.Driver_Id != 0)
    {
        Text = "Update";
        type = "Edit";
    }
    if (Model.WFDM.ActiveFlag != null && Model.WFDM.ActiveFlag.ToUpper() == "Y" || Model.WFDM.Driver_Id == null)
    {
        Active = true;
    }
    if (Model.WFDDD.License_Verified != null && Model.WFDDD.License_Verified.ToUpper() == "Y" || Model.WFDM.Driver_Id == null)
    {
        License = true;
    }
    if (Model.WFDDD.Address_Verified != null && Model.WFDDD.Address_Verified.ToUpper() == "Y" || Model.WFDM.Driver_Id == null)
    {
        Address = true;
    }
    if (Model.WFDDD.Electricity_Bill_YN != null && Model.WFDDD.Electricity_Bill_YN.ToUpper() == "Y" || Model.WFDM.Driver_Id == null)
    {
        ElectricityBill = true;
    }
    if (Model.WFDDD.Telephone_Bill_YN != null && Model.WFDDD.Telephone_Bill_YN.ToUpper() == "Y" || Model.WFDM.Driver_Id == null)
    {
        TelephoneBill = true;
    }
    if (Model.WFDDD.BankAcc_YN != null && Model.WFDDD.BankAcc_YN.ToUpper() == "Y" || Model.WFDM.Driver_Id == null)
    {
        BankAcc = true;
    }
    if (Model.WFDDD.Passport_YN != null && Model.WFDDD.Passport_YN.ToUpper() == "Y" || Model.WFDM.Driver_Id == null)
    {
        Passport = true;
    }
    if (Model.WFDDD.Rationcard_YN != null && Model.WFDDD.Rationcard_YN.ToUpper() == "Y" || Model.WFDM.Driver_Id == null)
    {
        RationCard = true;
    }
    if (Model.WFDDD.Driver_Registration_Form_YN != null && Model.WFDDD.Driver_Registration_Form_YN.ToUpper() == "Y" || Model.WFDM.Driver_Id == null)
    {
        Driver_Regi = true;
    }
    if (Model.WFDDD.ID_Passport_YN != null && Model.WFDDD.ID_Passport_YN.ToUpper() == "Y" || Model.WFDM.Driver_Id == null)
    {
        ID_Passport = true;
    }
    if (Model.WFDDD.Driving_lic_YN != null && Model.WFDDD.Driving_lic_YN.ToUpper() == "Y" || Model.WFDM.Driver_Id == null)
    {
        Licence = true;
    }
    if (Model.WFDDD.VoterId_YN != null && Model.WFDDD.VoterId_YN.ToUpper() == "Y" || Model.WFDM.Driver_Id == null)
    {
        VoterId = true;
    }
    if (Model.WFDDD.PAN_YN != null && Model.WFDDD.PAN_YN.ToUpper() == "Y" || Model.WFDM.Driver_Id == null)
    {
        Pancard = true;
    }

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_VEHICLE_HDR> VehicleList = MS.GetVehicleObject().Where(c => c.ACTIVEFLAG == "Y").ToList().OrderBy(c => c.VEHNO).ToList();
    List<webx_citymaster> CityList = MS.GetCityMasterObject().Where(c => c.activeflag == "Y").ToList().OrderBy(c => c.Location).ToList();
    List<Webx_Master_General> GenralList = MS.GetGeneralMasterObject().Where(c => c.StatusCode == "Y").ToList().OrderBy(c => c.CodeDesc).ToList();

    ViewBag.Title = @type + " Driver";
}

<div class="row">
    <div class="col-md-10">
        <h4>@ViewBag.Title <b>@Model.WFDM.Driver_Id</b></h4>
    </div>
    @if (Model.WFDM.Driver_Id != null)
    {
        <div class="col-md-2">
            <a class="btn default blue-stripe pull-right" style="margin-top:5px;" href="@Url.Content("~/Fleet/AddEditDriver")">
                <i class="fa fa-plus"></i>
                Add Driver
            </a>
        </div>
    }
</div>
@using (Html.BeginForm("AddEditDriver", "Fleet", FormMethod.Post, new { @id = "submit_form", @enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        You have some form errors. Please check below.
    </div>
    <div class="alert alert-success display-hide">
        <button class="close" data-close="alert"></button>
        Your form validation is successful!
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Driver Details
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="row">
                        <div class="form-body">
                            <div class="col-md-11">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Driver Code
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WFDM.Driver_Id, new { placeholder = "System Generated", @class = "form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Driver Name:
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WFDM.Driver_Name, new { placeholder = "Driver Name", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Manual Driver Code
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WFDM.Manual_Driver_Code, new { placeholder = "Manual Driver Code", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Driver's Father Name
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WFDM.DFather_Name, new { placeholder = "Driver's Father Name", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Vehicle Number
                                        </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(c => c.WFDM.VEHNO, new SelectList(VehicleList, "VEHNO", "VEHNO"), "", new { @class = "select2 required required2 form-control", @placeholder = "Select Vehicle Number" })
                                            @Html.ValidationMessageFor(c => c.WFDM.VEHNO)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Location
                                        </label>
                                        <div class="col-md-7 chkactive">
                                            @Html.TextBoxFor(c => c.WFDM.Driver_Location, new { placeholder = "Location", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Mobile Number
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WFDM.Mobileno, new { placeholder = "Mobile Number", @class = "form-control required required2", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))", @maxlength = 10 })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Permanent Address
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextAreaFor(c => c.WFDM.P_Address, new { placeholder = "Permanent Address", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            City
                                        </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(c => c.WFDM.P_City, new SelectList(CityList, "Location", "Location"), "", new { @class = "select2 required required2 form-control", @placeholder = "Select Permanent City" })
                                            @Html.ValidationMessageFor(c => c.WFDM.VEHNO)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            PinCode
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WFDM.P_Pincode, new { placeholder = "Permanent PinCode", @class = "form-control", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))", @maxlength = "6" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Current Address
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextAreaFor(c => c.WFDM.C_Address, new { placeholder = "Current Address", @class = "form-control " })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            City
                                        </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(c => c.WFDM.C_City, new SelectList(CityList, "city_code", "Location"), "", new { @class = "select2 required required2 form-control", @placeholder = "Select Current City" })
                                            @Html.ValidationMessageFor(c => c.WFDM.VEHNO)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            PinCode
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WFDM.C_Pincode, new { placeholder = "Current PinCode", @class = "form-control", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))", @maxlength = "6" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            License No.
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WFDM.License_No, new { placeholder = "License No.", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Validity Date
                                        </label>
                                        <div class="col-md-7">
                                            <div class="input-group date date-picker" data-date-start-date="+1d" data-date-format="dd MMM yyyy">
                                                @Html.TextBoxFor(c => c.WFDM.Valdity_dt, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.WFDM.Valdity_dt).ToString("dd MMM yyyy")), new { @class = " form-control date-picker required required2" })
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Issued By RTO
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WFDM.Issue_By_RTO, new { placeholder = "Issued By RTO", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Guarantor Name
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WFDM.Guarantor_Name, new { placeholder = "Guarantor Name", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Status
                                        </label>
                                        <div class="col-md-7 chkactive">
                                            @Html.CheckBox("Active", @Active, new { @class = "chk", @data_value = "WFDM_ActiveFlag" })
                                            @Html.HiddenFor(c => c.WFDM.ActiveFlag)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Driver Category Id
                                        </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(c => c.WFDM.D_category, new SelectList(GenralList.Where(c => c.CodeType == "DRVCAT"), "CodeId", "CodeDesc"), "", new { @class = "select2 form-control", @placeholder = "Select Driver Category Id" })
                                            @Html.ValidationMessageFor(c => c.WFDM.D_category)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Ethnicity
                                        </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(c => c.WFDM.D_Ethnicity_Id, new SelectList(GenralList.Where(c => c.CodeType == "DRVETH"), "CodeId", "CodeDesc"), "", new { @class = "select2 form-control", @placeholder = "Select Ethnicity" })
                                            @Html.ValidationMessageFor(c => c.WFDM.D_Ethnicity_Id)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Date Of Birth
                                        </label>
                                        <div class="col-md-7 chkactive">
                                            <div class="input-group date date-picker" data-date-start-date="+1d" data-date-format="dd MMM yyyy">
                                                @Html.TextBoxFor(c => c.WFDM.D_DOB, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.WFDM.D_DOB).ToString("dd MMM yyyy")), new { @class = " form-control date-picker required required2" })
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            License Initial Issue Date
                                        </label>
                                        <div class="col-md-7 chkactive">
                                            <div class="input-group date date-picker" data-date-start-date="+1d" data-date-format="dd MMM yyyy">
                                                @Html.TextBoxFor(c => c.WFDM.D_Lic_Initial_Issuance_Date, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.WFDM.D_Lic_Initial_Issuance_Date).ToString("dd MMM yyyy")), new { @class = " form-control date-picker required required2" })
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            License Current Issue Date
                                        </label>
                                        <div class="col-md-7 chkactive">
                                            <div class="input-group date date-picker" data-date-start-date="+1d" data-date-format="dd MMM yyyy">
                                                @Html.TextBoxFor(c => c.WFDM.D_Lic_Current_Issuance_Date, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.WFDM.D_Lic_Current_Issuance_Date).ToString("dd MMM yyyy")), new { @class = " form-control date-picker required required2" })
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            License Verified Date
                                        </label>
                                        <div class="col-md-7 chkactive">
                                            <div class="input-group date date-picker" data-date-start-date="+1d" data-date-format="dd MMM yyyy">
                                                @Html.TextBoxFor(c => c.WFDDD.License_Verified_Dt, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.WFDDD.License_Verified_Dt).ToString("dd MMM yyyy")), new { @class = " form-control date-picker required required2" })
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            License Verified
                                        </label>
                                        <div class="col-md-7 chkactive">
                                            @Html.CheckBox("License_Verified", @License, new { @class = "chk", @data_value = "WFDDD_License_Verified" })
                                            @Html.HiddenFor(c => c.WFDDD.License_Verified)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Address Verified
                                        </label>
                                        <div class="col-md-7 chkactive">
                                            @Html.CheckBox("Address_Verified", @Address, new { @class = "chk", @data_value = "WFDDD_Address_Verified" })
                                            @Html.HiddenFor(c => c.WFDDD.Address_Verified)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Name Of Bank :
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WFDM.Name_Of_bank, new { placeholder = "Name Of Bank", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Bank A/c Number :
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WFDM.Bank_AC_Number, new { placeholder = "Bank A/c Number", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            IFSC Code
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WFDM.IFSC_Code, new { placeholder = "IFSC Code", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Address Proof Document Type & No
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="row">
                        <div class="form-body">
                            <div class="col-md-11">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            @Html.CheckBox("Electricity_Bill_YN", @ElectricityBill, new { @class = "chk", @data_value = "WFDDD_Electricity_Bill_YN" })
                                            @Html.HiddenFor(c => c.WFDDD.Electricity_Bill_YN)
                                            Electricity Bill :
                                        </label>
                                        <div class="col-md-7" data-title="Upload Document">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="col-md-7">
                                                    <span class="btn blue btn-file">
                                                        <input type="file" id="@Model.WFDDD.Electricity_Bill_File" name="file" /><i class="fa fa-plus"></i> Select
                                                    </span>
                                                </div>
                                                <div class="col-md-3 fileinput-preview fileinput-exists thumbnail" style="max-width: 30px; max-height: 50px;">
                                                    @Html.HiddenFor(c => c.WFDDD.Electricity_Bill_File)
                                                </div>
                                                <a class="col-md-2 margin-top-5 text-primary" target="_blank" href="~/Images/Driver/@Model.WFDM.Driver_Id/@Model.WFDDD.Electricity_Bill_File">@Model.WFDDD.Electricity_Bill_File</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            @Html.CheckBox("Telephone_Bill_YN", @TelephoneBill, new { @class = "chk", @data_value = "WFDDD_Telephone_Bill_YN" })
                                            @Html.HiddenFor(c => c.WFDDD.Telephone_Bill_YN)
                                            Telephone Bill :
                                        </label>
                                        <div class="col-md-7" data-title="Upload Document">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="col-md-7">
                                                    <span class="btn blue btn-file">
                                                        <input type="file" id="@Model.WFDDD.Telephone_Bill_File" name="file" /><i class="fa fa-plus"></i> Select
                                                    </span>
                                                </div>
                                                <div class="col-md-3 fileinput-preview fileinput-exists thumbnail" style="max-width: 30px; max-height: 50px;">
                                                    @Html.HiddenFor(c => c.WFDDD.Telephone_Bill_File)
                                                </div>
                                                <a class="col-md-2 margin-top-5 text-primary" target="_blank" href="~/Images/Driver/@Model.WFDM.Driver_Id/@Model.WFDDD.Telephone_Bill_File">@Model.WFDDD.Telephone_Bill_File</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">
                                            @Html.CheckBox("BankAcc_YN", @BankAcc, new { @class = "chk", @data_value = "WFDDD_BankAcc_YN" })
                                            @Html.HiddenFor(c => c.WFDDD.BankAcc_YN)
                                            Account Statement  :
                                        </label>
                                        <div class="col-md-6" data-title="Upload Document">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="col-md-7">
                                                    <span class="btn blue btn-file">
                                                        <input type="file" id="@Model.WFDDD.BankAcc_File" name="file" /><i class="fa fa-plus"></i> Select
                                                    </span>
                                                </div>
                                                <div class="col-md-3 fileinput-preview fileinput-exists thumbnail" style="max-width: 30px; max-height: 50px;">
                                                    @Html.HiddenFor(c => c.WFDDD.BankAcc_File)
                                                </div>
                                                <a class="col-md-2 margin-top-5 text-primary" target="_blank" href="~/Images/Driver/@Model.WFDM.Driver_Id/@Model.WFDDD.BankAcc_File">@Model.WFDDD.BankAcc_File</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            @Html.CheckBox("Passport_YN", @Passport, new { @class = "chk", @data_value = "WFDDD_Passport_YN" })
                                            @Html.HiddenFor(c => c.WFDDD.Passport_YN)
                                            Passport  :
                                        </label>
                                        <div class="col-md-7" data-title="Upload Document">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="col-md-7">
                                                    <span class="btn blue btn-file">
                                                        <input type="file" id="@Model.WFDDD.Passport_File" name="file" /><i class="fa fa-plus"></i> Select
                                                    </span>
                                                </div>
                                                <div class="col-md-3 fileinput-preview fileinput-exists thumbnail" style="max-width: 30px; max-height: 50px;">
                                                    @Html.HiddenFor(c => c.WFDDD.Passport_File)
                                                </div>
                                                <a class="col-md-2 margin-top-5 text-primary" target="_blank" href="~/Images/Driver/@Model.WFDM.Driver_Id/@Model.WFDDD.Passport_File">@Model.WFDDD.Passport_File</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            @Html.CheckBox("Rationcard_YN", @RationCard, new { @class = "chk", @data_value = "WFDDD_Rationcard_YN" })
                                            @Html.HiddenFor(c => c.WFDDD.Rationcard_YN)
                                            Ration Card :
                                        </label>
                                        <div class="col-md-7" data-title="Upload Document">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="col-md-7">
                                                    <span class="btn blue btn-file">
                                                        <input type="file" id="@Model.WFDDD.Rationcard_File" name="file" /><i class="fa fa-plus"></i> Select
                                                    </span>
                                                </div>
                                                <div class="col-md-3 fileinput-preview fileinput-exists thumbnail" style="max-width: 30px; max-height: 50px;">
                                                    @Html.HiddenFor(c => c.WFDDD.Rationcard_File)
                                                </div>
                                                <a class="col-md-2 margin-top-5 text-primary" target="_blank" href="~/Images/Driver/@Model.WFDM.Driver_Id/@Model.WFDDD.Rationcard_File">@Model.WFDDD.Rationcard_File</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">
                                            @Html.CheckBox("Driver_Registration_Form_YN", @Driver_Regi, new { @class = "chk", @data_value = "WFDDD_Driver_Registration_Form_YN" })
                                            @Html.HiddenFor(c => c.WFDDD.Driver_Registration_Form_YN)
                                            Driver’s Registration Form:
                                        </label>
                                        <div class="col-md-6" data-title="Upload Document">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="col-md-7">
                                                    <span class="btn blue btn-file">
                                                        <input type="file" id="@Model.WFDDD.Driver_Registration_Form_File" name="file" /><i class="fa fa-plus"></i> Select
                                                    </span>
                                                </div>
                                                <div class="col-md-3 fileinput-preview fileinput-exists thumbnail" style="max-width: 30px; max-height: 50px;">
                                                    @Html.HiddenFor(c => c.WFDDD.Driver_Registration_Form_File)
                                                </div>
                                                <a class="col-md-2 margin-top-5 text-primary" target="_blank" href="~/Images/Driver/@Model.WFDM.Driver_Id/@Model.WFDDD.Driver_Registration_Form_File">@Model.WFDDD.Driver_Registration_Form_File</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>ID Proof Document Type & No
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="row">
                        <div class="form-body">
                            <div class="col-md-11">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            @Html.CheckBox("ID_Passport_YN", @ID_Passport, new { @class = "chk", @data_value = "WFDDD_ID_Passport_YN" })
                                            @Html.HiddenFor(c => c.WFDDD.ID_Passport_YN)
                                            Passport :
                                        </label>
                                        <div class="col-md-7" data-title="Upload Document">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="col-md-7">
                                                    <span class="btn blue btn-file">
                                                        <input type="file" id="@Model.WFDDD.ID_Passport_File" name="file" /><i class="fa fa-plus"></i> Select
                                                    </span>
                                                </div>
                                                <div class="col-md-3 fileinput-preview fileinput-exists thumbnail" style="max-width: 30px; max-height: 50px;">
                                                    @Html.HiddenFor(c => c.WFDDD.ID_Passport_File)
                                                </div>
                                                <a class="col-md-2 margin-top-5 text-primary" target="_blank" href="~/Images/Driver/@Model.WFDM.Driver_Id/@Model.WFDDD.ID_Passport_File">@Model.WFDDD.ID_Passport_File</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            @Html.CheckBox("Driving_lic_YN", @Licence, new { @class = "chk", @data_value = "WFDDD_Driving_lic_YN" })
                                            @Html.HiddenFor(c => c.WFDDD.Driving_lic_YN)
                                            Driving Liscense :
                                        </label>
                                        <div class="col-md-7" data-title="Upload Document">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="col-md-7">
                                                    <span class="btn blue btn-file">
                                                        <input type="file" id="@Model.WFDDD.Driving_lic_File" name="file" /><i class="fa fa-plus"></i> Select
                                                    </span>
                                                </div>
                                                <div class="col-md-3 fileinput-preview fileinput-exists thumbnail" style="max-width: 30px; max-height: 50px;">
                                                    @Html.HiddenFor(c => c.WFDDD.Driving_lic_File)
                                                </div>
                                                <a class="col-md-2 margin-top-5 text-primary" target="_blank" href="~/Images/Driver/@Model.WFDM.Driver_Id/@Model.WFDDD.Driving_lic_File">@Model.WFDDD.Driving_lic_File</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">
                                            @Html.CheckBox("VoterId_YN", @VoterId, new { @class = "chk", @data_value = "WFDDD_VoterId_YN" })
                                            @Html.HiddenFor(c => c.WFDDD.VoterId_YN)
                                            Voter's Id  :
                                        </label>
                                        <div class="col-md-6" data-title="Upload Document">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="col-md-7">
                                                    <span class="btn blue btn-file">
                                                        <input type="file" id="@Model.WFDDD.VoterId_File" name="file" /><i class="fa fa-plus"></i> Select
                                                    </span>
                                                </div>
                                                <div class="col-md-3 fileinput-preview fileinput-exists thumbnail" style="max-width: 30px; max-height: 50px;">
                                                    @Html.HiddenFor(c => c.WFDDD.VoterId_File)
                                                </div>
                                                <a class="col-md-2 margin-top-5 text-primary" target="_blank" href="~/Images/Driver/@Model.WFDM.Driver_Id/@Model.WFDDD.VoterId_File">@Model.WFDDD.VoterId_File</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            @Html.CheckBox("PAN_YN", @Pancard, new { @class = "chk", @data_value = "WFDDD_PAN_YN" })
                                            @Html.HiddenFor(c => c.WFDDD.PAN_YN)
                                            PAN Card   :
                                        </label>
                                        <div class="col-md-7" data-title="Upload Document">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="col-md-7">
                                                    <span class="btn blue btn-file">
                                                        <input type="file" id="@Model.WFDDD.PAN_File" name="file" /><i class="fa fa-plus"></i> Select
                                                    </span>
                                                </div>
                                                <div class="col-md-3 fileinput-preview fileinput-exists thumbnail" style="max-width: 30px; max-height: 50px;">
                                                    @Html.HiddenFor(c => c.WFDDD.PAN_File)
                                                </div>
                                                <a class="col-md-2 margin-top-5 text-primary" target="_blank" href="~/Images/Driver/@Model.WFDM.Driver_Id/@Model.WFDDD.PAN_File">@Model.WFDDD.PAN_File</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Photo :
                                        </label>
                                        <div class="col-md-7" data-title="Upload Document">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="col-md-7">
                                                    <span class="btn blue btn-file">
                                                        <input type="file" id="@Model.WFDM.Driver_Photo" name="file" /><i class="fa fa-plus"></i> Select
                                                    </span>
                                                </div>
                                                <div class="col-md-3 fileinput-preview fileinput-exists thumbnail" style="max-width: 30px; max-height: 50px;">
                                                    @Html.HiddenFor(c => c.WFDM.Driver_Photo)
                                                </div>
                                                <a class="col-md-2 margin-top-5 text-primary" target="_blank" href="~/Images/Driver/@Model.WFDM.Driver_Id/@Model.WFDM.Driver_Photo">@Model.WFDM.Driver_Photo</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">
                                            Thumb Impression:
                                        </label>
                                        <div class="col-md-6" data-title="Upload Document">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="col-md-7">
                                                    <span class="btn blue btn-file">
                                                        <input type="file" id="@Model.WFDDD.Thumb_Impression_File" name="file" /><i class="fa fa-plus"></i> Select
                                                    </span>
                                                </div>
                                                <div class="col-md-3 fileinput-preview fileinput-exists thumbnail" style="max-width: 30px; max-height: 50px;">
                                                    @Html.HiddenFor(c => c.WFDDD.Thumb_Impression_File)
                                                </div>
                                                <a class="col-md-2 margin-top-5 text-primary" target="_blank" href="~/Images/Driver/@Model.WFDM.Driver_Id/@Model.WFDDD.Thumb_Impression_File">@Model.WFDDD.Thumb_Impression_File</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid ">
                        <div class="col-md-offset-4 col-md-8">
                            <a href="@Url.Content("~/Fleet/DriverList")" class="btn btn-sm default controls btnBacktoList"><i class="fa fa-arrow-left"></i>&nbsp;Back To List </a>
                            <button type="submit" id="btnSubmit" class="btn btn-sm green controls submit"><i class="fa fa-check"></i>&nbsp;@Text </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    var FormComponents = function (DomainName) {
        var FormValidate = function (DomainName) {
            var form1 = $('#submit_form');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    App.blockUI({ boxed: true });
                    document.forms["submit_form"].submit();
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    todayBtn: true,
                });

                $('.chk').change(function () {
                    var gid = $(this).attr('id');
                    var sid = $(this).data('value');
                    if ($("#" + gid).is(":checked")) {
                        $("#" + sid).val("Y");
                    }
                    else {
                        $("#" + sid).val("N");
                    }
                });
                $('#Electricity_Bill_YN').change(function () {

                    //if ($(this).is(":checked")) {
                    //    $("#WFDDD_Electricity_Bill_YN").val("Y");
                    //}
                    //else {
                    //    $("#WFDDD_Electricity_Bill_YN").val("N");
                    //}
                });
                JsonDDL('WFDM_Driver_Location', DomainName + '/Master/GetLocationListJson');

                $(".btnBacktoList").click(function () {
                    App.blockUI({ boxed: true });
                });
            }
        }
    }();
</script>
<link href="~/assets/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" />
@*<link href="~/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.css" rel="stylesheet" />*@