﻿@model Fleet.ViewModels.AdvanceEntryViewModel

@{
    ViewBag.Title = "Vehicle Issue Slip Advance Slip Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int i = 1;
    int j = 1;
    //List<SelectListItem> List_Transaction_Type = new List<SelectListItem>();
    //List_Transaction_Type.Add(new SelectListItem { Text = "CASH", Value = "CASH" });
    //List_Transaction_Type.Add(new SelectListItem { Text = "BANK", Value = "BANK" });
    //List_Transaction_Type.Add(new SelectListItem { Text = "FUEL CARD", Value = "FUEL CARD" });

    //List<SelectListItem> List_Account = new List<SelectListItem>();
    //Model.PC.IsFuelCard = true;
    Model.PC.IsFuelCard = false;
    Model.PC.VehicleNo = Model.ObjWFVI.VehicleNo;
    string tripOpenDate = System.DateTime.Now.ToString();
    string tripCloseDate = System.DateTime.Now.ToString();
    DateTime FinYearStartDate = Convert.ToDateTime(ViewBag.FinYearStartDate);
    DateTime FinYearEndDate = Convert.ToDateTime(ViewBag.FinYearEndDate);

    //if (Convert.ToDateTime(Model.ObjWFVI.VSlipDtstr) <= FinYearEndDate)
    //{
    tripOpenDate = Model.ObjWFVI.VSlipDtstr.ToString();
    tripCloseDate = FinYearEndDate.ToString("dd MMM yyyy");
    //}
    //if (System.DateTime.Now < FinYearEndDate)
    //{
    tripCloseDate = System.DateTime.Now.ToString("dd MMM yyyy");
    //}
    Model.PC.ModuleType = "OA";
}

@*@if (Convert.ToDateTime(Model.ObjWFVI.VSlipDtstr) >= FinYearStartDate && Convert.ToDateTime(Model.ObjWFVI.VSlipDtstr) <= FinYearEndDate)
    {*@

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@ViewBag.Title
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("AdvanceEntry_Submit", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Issue Slip Id :</label>
                            <div class="col-md-7 text-primary bold margin-top-5">
                                @Html.DisplayFor(m => m.ObjWFVI.VSlipNo)
                                @Html.HiddenFor(m => m.ObjWFVI.VSlipNo)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">
                                Issue Slip Date :
                            </label>
                            <div class="col-md-7 text-primary bold margin-top-5">
                                @Html.DisplayFor(m => m.ObjWFVI.VSlipDtstr)
                                @Html.HiddenFor(m => m.ObjWFVI.VSlipDtstr)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Vehicle No :</label>
                            <div class="col-md-7 text-primary bold margin-top-5">
                                @Html.DisplayFor(m => m.ObjWFVI.VehicleNo)
                                @Html.HiddenFor(m => m.ObjWFVI.VehicleNo)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">
                                Driver :
                            </label>
                            <div class="col-md-7 text-primary bold margin-top-5">
                                @Html.DisplayFor(m => m.ObjWFVI.Driver1_Name)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Driver License No. :</label>
                            <div class="col-md-7 text-primary bold margin-top-5">
                                @Html.DisplayFor(m => m.ObjWFVI.License_No)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">
                                License Valid upto :
                            </label>
                            <div class="col-md-7 text-primary bold margin-top-5">
                                @Html.DisplayFor(m => m.ObjWFVI.Valdity_dtstr)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Starting Location :</label>
                            <div class="col-md-7 text-primary bold margin-top-5">
                                @Html.DisplayFor(m => m.ObjWFVI.TripSheet_StartLoc)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">
                                End Location :
                            </label>
                            <div class="col-md-7 text-primary bold margin-top-5">
                                @Html.DisplayFor(m => m.ObjWFVI.TripSheet_EndLoc)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">
                                Market/Own :
                            </label>
                            <div class="col-md-7 text-primary bold margin-top-5">
                                @Html.DisplayFor(m => m.ObjWFVI.Market_Own)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Driver Balance :</label>
                            <div class="col-md-7 text-primary bold margin-top-5">
                                @Html.DisplayFor(m => m.ObjWFVI.f_issue_fill)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Category :</label>
                            <div class="col-md-7 text-primary bold margin-top-5">
                                @Html.DisplayFor(m => m.ObjWFVI.Category)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet-body flip-scroll">
                            <table id="container" class="table table-bordered table-striped table-condensed flip-content">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="center">
                                            Sr No.
                                        </th>
                                        <th class="center">
                                            Place
                                        </th>
                                        <th class="center">
                                            Advance Date (dd MMM yyyy)
                                        </th>
                                        <th class="center">
                                            Amount
                                        </th>
                                        <th class="center">
                                            Branch Code
                                        </th>
                                        <th class="center">
                                            Advance paid by
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="Bodycontainer">
                                    @foreach (var itm in Model.ListWFVI)
                                    {
                                        itm.SRNO = i;
                                        Html.RenderPartial("_VehicleAdvance_Details", itm);
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

                <hr />
                <b>Note : Please enter the payment details if payment amount >0 </b>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box @ViewBag.TableBoxColor">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-edit"></i>Payment Details
                                </div>
                            </div>
                            <div class="portlet-body ">
                                <div class="form-body">
                                    <div class="row">
                                        @{Html.RenderPartial("../UserControls/_PaymentControl", Model.PC);}
                                    </div>
                                    @*<div class="form-actions fluid">
                                            <div class="col-md-offset-4 col-md-8">
                                                <button type="submit" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Service Centre Type.</label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(c => c.ObjWTADV.adv_Transtype, new SelectList(List_Transaction_Type, "Value", "Text"), "", new { @class = "form-control select2 required2 required" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Cash / Bank Account.</label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(c => c.ObjWTADV.adv_acccode, new SelectList(List_Account, "Value", "Text"), "", new { @class = "form-control select2 required2 required" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="BANK">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Cheque No.</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.ObjWTADV.adv_Chqno, new { placeholder = "Cheque No", @class = "required2 form-control ", @number = "true" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Cheque Date.</label>
                                <div class="col-md-7">
                                    <div class="input-group input-medium date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d" data-date-end-date="+0d">
                                        @Html.TextBox("ObjWTADV.adv_Chqdate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.ObjWTADV.adv_Chqdate).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @readonly = "True" })
                                        <span class="input-group-btn">
                                            <button class="btn default date-set" id="btndate" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Payment Amount.</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.ObjWTADV.AdvAmt, new { placeholder = "Payment Amount", @class = "required2 form-control ", @number = "true", @readonly = "true", @min = "1" })
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="form-actions fluid ">
                <div class="col-md-offset-4 col-md-8">
                    <a class="btn btn-sm default controls btnBack" href="@Url.Action("VehicleIssueSlipQueryCriteria", "Fleet", new { Type = @ViewBag.Type })"> <i class="fa fa-arrow-left"> </i>&nbsp;Back to Criteria</a>
                    <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                </div>
            </div>
        }
    </div>
</div>
@*}
    else
    {
        <div class="col-md-offset-3 col-md-6">
            <div class="alert alert-block alert-danger fade in center">
                <h2 class="alert-heading">Opps! No Access</h2>
                <h4>
                    This Trip is belongs to Previous Financial Year<b>(@FinYearStartDate.AddYears(-1).Year - @FinYearStartDate.Year)</b>,
                    you can not close from Current Year<b>(@FinYearStartDate.Year - @FinYearStartDate.AddYears(1).Year)</b>. To do please go to Previous Financial Year<b>(@FinYearStartDate.AddYears(-1).Year - @FinYearStartDate.Year)</b> or contact your administrator.
                </h4>
            </div>
        </div>
    }*@
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var handleSelect2 = function () {
            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });
        }

        var HandleDatetimePicker = function () {
            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    isRTL: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: new Date('@tripOpenDate'),
                    endDate: new Date('@tripCloseDate'),
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
                $(".date-picker").children('input').val('@tripCloseDate');
            }
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }

            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                //maxDate: '12/31/2014',
                //dateLimit: {
                //    days: 60
                //},
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#FromDate').val(start.format('MMMM D, YYYY'));
                     $('#ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ToDate').val(moment().format('MMMM D, YYYY'));
        }

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {

                },
                messages: {

                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    //if (element.parents('.checkbox-list').size() > 0) {
                    //    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    //} else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                    //}
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var SubmitClick = function (DomainName) {

            $('#btnSubmit').click(function () {
                var form = $('#form_sample');
                if (form.valid() == false) {
                    return false;
                }
                App.blockUI({ boxed: true });
                document.forms["form_sample"].submit();
            });

            $('.btnBack').click(function () {
                App.blockUI({ boxed: true });
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                $("#BANK").hide();
                handleSelect2();
                HandleDatetimePicker();
                handleDateRangePickers();
                Formvalidate(DomainName);
                SubmitClick(DomainName);
                PaymentControl(DomainName);
                ControlDate();
                //$("#ObjWTADV_adv_Transtype").change(function () {
                //    var Val = $(this).val();

                //    if (Val == "BANK") {
                //        $("#BANK").show();
                //    }
                //    else {
                //        $("#BANK").hide();
                //    }

                //    var StrURL = DomainName + "/Fleet/Getadv_acccode?id=" + $(this).val();
                //    FillDropDownfromOtherSelectFirst("ObjWTADV_adv_acccode", StrURL, "ObjWTADV_adv_acccode");

                //});

                $("input[name='numberTypeR']").live("change", function () {
                    var numberType = $('input[name=numberTypeR]:checked').val();
                    $("#numberType").val(numberType);
                    $("#ChequeNo").attr("placeholder", $('input[name=numberTypeR]:checked').parents('label').text().trim());
                    if (numberType == "C") {
                        $("#ChequeNo").val("");
                        $("#ChequeNo").attr("maxlength", "6");
                        $("#ChequeNo").attr("minlength", "6");
                        $("#ChequeNo").attr("number", true);
                    }
                    else {
                        $("#ChequeNo").val("");
                        $("#ChequeNo").attr("maxlength", "22");
                        $("#ChequeNo").attr("minlength", "6");
                        $("#ChequeNo").removeAttr("number");
                    }
                });


                @foreach(var item in Model.ListWFVI)
                {
                    item.SRNO = j;
                    string AdvAmt = "Advance_" + item.SRNO.ToString() + "__AdvAmt";
                    string Type = "Advance_" + item.SRNO.ToString() + "__Type";

                    <text>
                $("#@AdvAmt").focusout(function () {
                    //$("#ObjWTADV_AdvAmt").val($(this).val());
                    $("#PayAmount").val($(this).val());
                });

                </text>
                    j++;
                }

            }
        };
    }();

</script>