﻿@model FleetDataService.Models.TripAdvanceEntryXls
@using FleetDataService.Models;
@using FleetDataService;
@using Fleet.Helpers


@using (Html.BeginCollectionItem("AdvanceVoucherList", (Model.SRNO).ToString()))
{
	<tr style="text-align: center">
		<td data-title="Sr No">
			@Html.TextBoxFor(m => m.SRNO, new { @readonly = "true", @class = "form-control" })
		</td>
		<td data-title="TripSheetNo">
			@Html.TextBoxFor(m => m.TripSheetNo, new { @readonly = "true", @class = "form-control" })
		</td>
		<td data-title="Place">
			@Html.TextBoxFor(m => m.Place, new { @readonly = "true", @class = "form-control" })
		</td>
		<td data-title="Date">
			@Html.HiddenFor(m => m.AdvanceDate)
			@String.Format(@ViewBag.DefaultDateFormat, Model.AdvanceDate)
		</td>
		<td data-title="Amount">
			@Html.TextBoxFor(m => m.Amount, new { @readonly = "true", @class = "form-control" })
		</td>
		<td data-title="Branchcode">
			@Html.TextBoxFor(m => m.BranchCode, new { @readonly = "true", @class = "form-control" })
		</td>
		<td data-title="AdvancePaidBy">
			@Html.TextBoxFor(m => m.AdvancePaidBy, new { @readonly = "true", @class = "form-control" })
		</td>
		<td data-title="Paymet Type">
			@Html.TextBoxFor(m => m.PaymetType, new { @readonly = "true", @class = "form-control" })
		</td>
		<td data-title="Bank">
			@Html.TextBoxFor(m => m.Bank, new { @readonly = "true", @class = "form-control" })
		</td>
		<td data-title="Chqno">
			@Html.TextBoxFor(m => m.Chqno, new { @readonly = "true", @class = "form-control" })
		</td>
		<td data-title="Chqdate">
			@Html.TextBoxFor(m => m.Chqdate, new { @readonly = "true", @class = "form-control" })
		</td>
	</tr>

}

