﻿@model Fleet.ViewModels.TripAdvanceXlsModel
@{
	ViewBag.Title = "AdvanceEntryXLSDone";
	Layout = "~/Views/Shared/_Layout.cshtml";

	int i = 1;

}

<h2>Advance Entry XLS Successfully Uploaded</h2>

<div class="col-md-12">

	<div class="portlet box blue">
		<div class="portlet-title">
			<div class="caption">
				<i class="icon-reorder"></i>Voucher List
			</div>
		</div>


		<div class="portlet-body no-more-tables">
			<table class="table-bordered table-striped table-condensed cf" width="70%">
				@if (Model.AdvanceVoucherList != null && Model.AdvanceVoucherList.Count() > 0)
				{


					<thead class="flip-content">
                        <tr>
                            <th>
                                SR NO
                            </th>
                            <th>
                                Tripsheet No
                            </th>
                            <th>
                                BranchCode
                            </th>
                            <th>
                                Voucher No
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Message
                            </th>

                        </tr>
					</thead>
					<tbody>
						@foreach (var item in Model.AdvanceVoucherList)
						{

                        <tr style="text-align: center">


                            <td>
                                @i
                            </td>
                            <td>
                                @item.TripSheetNo
                            </td>
                            <td>
                                @item.BranchCode
                            </td>
                            <td>
                                <a href='javascript:VoucherView("@item.VoucherNo")' target="_blank">
                                    @item.VoucherNo
                                </a>
                            </td>
                            <td>
                                @item.Amount
                            </td>
                            <td>
                                @item.ErrMessage
                            </td>
                        </tr>
							i++;
						}
					</tbody>
				}
				else
				{
					<tr>
						<th>
							No Records Found
						</th>
					</tr>
				}
			</table>
		</div>


	</div>



</div>



<script type="text/javascript">

    function VoucherView(VRNO) {
        var ReportURL = '@ViewBag.ReportURL';
        var strPopupURL = "";
        alert(ReportURL)
        if (VRType == "JVU" && VRType == "JVR" && VRType == "JV") {
            strPopupURL = ReportURL + "/" + '@ViewBag.ReportPortalPrefix' + "/GUI/Finance/ViewPrint/Voucher%20Register/Print/JournalVoucherView1.aspx?voucherno=" + VRNO + "&Finyear=" + FINYEAR + "&printyn=N";
        }
        else {
            strPopupURL = ReportURL + "/" + '@ViewBag.ReportPortalPrefix' + "/GUI/Finance/ViewPrint/Voucher%20Register/Print/CashVoucher.aspx?voucherno=" + VRNO + "&Finyear=" + FINYEAR + "&printyn=N";
        }

        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;
    }



</script>
