﻿@model Fleet.ViewModels.TripAdvanceXlsModel
@{
	ViewBag.Title = "AdvanceEntryXLSView";
	Layout = "~/Views/Shared/_Layout.cshtml";

	int i = 1;
	bool IsSubmitShow = true;
	DateTime FinYearStartDate = Convert.ToDateTime(ViewBag.FinYearStartDate);
	DateTime FinYearEndDate = Convert.ToDateTime(ViewBag.FinYearEndDate);

}

@using (Html.BeginForm("AdvanceEntryXLSView", "Fleet", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal row-fluid" }))
{

	<div class="col-md-12">
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-cogs"></i>Voucher List
				</div>
			</div>


			<div class="portlet-body no-more-tables">
				<table class="table-bordered table-striped table-condensed cf">
					@if (Model.AdvanceVoucherList.Count() > 0)
					{


						<thead class="flip-content">
							<tr>
								<th>
									SR NO
								</th>
								<th>
									TripSheet No.
								</th>
								<th>
									Place
								</th>
								<th>
									Advance Date (dd MMM yyyy)
								</th>
								<th>
									Amount
								</th>
								<th>
									Branch Code
								</th>
								<th>
									Advance paid by
								</th>
								<th>
									Payment Type
								</th>
								<th>
									Bank
								</th>
								<th>
									RTGS/NEFT No.
								</th>
								<th>
									Cheque date
								</th>

							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.AdvanceVoucherList)
							{
								item.SRNO = i;
								if (item.SRNO > 0)
								{
									{ Html.RenderPartial("AdvanceEntryViewDet", item); }

									i++;
								}
								else
								{
									@*<tr style="text-align: center; background-color: darkgray; height: 20px;">
											<td colspan="11" style="background-color: darkgray;"></td>

										</tr>*@
								}

							}
						</tbody>
					}
					else
					{
						<tr>
							<th>
								No Records Found
							</th>
						</tr>
					}
				</table>
			</div>


		</div>
		<button style="flex-align: end" type="submit" id="btnSubmit" class="btn blue">Submit</button>
	</div>
}

<script type="text/javascript">
    var FormComponents = function (DomainName) {


        return {
            //main function to initiate the module
            init: function (DomainName) {

                @foreach (var item in Model.AdvanceVoucherList.ToList())
				{

					if (string.IsNullOrEmpty(item.TripSheetNo))
					{
						IsSubmitShow = false;
					}

					if (string.IsNullOrEmpty(item.Place))
					{
						IsSubmitShow = false;
					}

					if (item.AdvanceDate > FinYearEndDate)
					{
						IsSubmitShow = false;
					}

					if (item.AdvanceDate < FinYearStartDate)
					{
						IsSubmitShow = false;
					}


					if (item.Amount <= 0)
					{
						IsSubmitShow = false;
					}

					if (string.IsNullOrEmpty(item.BranchCode))
					{
						IsSubmitShow = false;
					}

					if (string.IsNullOrEmpty(item.AdvancePaidBy))
					{
						IsSubmitShow = false;
					}

					if (string.IsNullOrEmpty(item.PaymetType))
					{
						IsSubmitShow = false;
					}
					else if (item.PaymetType != "Cash" && item.PaymetType != "Bank")
					{
						IsSubmitShow = false;
					}

					if (string.IsNullOrEmpty(item.Bank))
					{
						IsSubmitShow = false;
					}

					if (item.PaymetType == "Bank" && string.IsNullOrEmpty(item.Chqno))
					{
						IsSubmitShow = false;
					}

					if (item.PaymetType == "Bank" && string.IsNullOrEmpty(item.Chqdate))
					{
						IsSubmitShow = false;
					}

				}

				if (!IsSubmitShow) {
					$("#btnSubmit").hide();
				} else
					$("#btnSubmit").show();
            }

        };

    }();

</script>

