﻿@model Fleet.ViewModels.CheckListViewModel
@using FleetDataService.Models;
@{
    ViewBag.Title = "Check List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="AddEditAirportMaster"></div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                </div>
                <div class="tools">
                    <div>
                        <a class="btn default btn-xs" href="@Url.Content("~/Fleet/FleetMaster")">
                            <i class="fa fa-arrow-left"></i>
                            Back to Criteria
                        </a>
                        <a href="#" class="btn btn-xs default blue-stripe pull-right" id="addEdit" data-toggle="modal">
                            <i class="fa fa-plus"></i>  Add CheckList
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div id="tblData">
                    @{
                        Html.RenderPartial("_CheckListPartial", Model.listCheckList.ToList());
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-modal-lg" id="addEditModel" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var GetObjectDet = function (id, DomainName) {
            App.blockUI({ boxed: true });
            var strurl = DomainName + '/Fleet/GetCheckListDetails?SrNo=' + id;
            $.ajax({
                url: strurl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#AddEditAirportMaster").hide();
                    $("#AddEditAirportMaster").html(data);
                    CallSubmitClick(DomainName);
                    $("input:checkbox, input:radio").uniform();
                    $("select").select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });

                    App.unblockUI();
                    $("#AddEditAirportMaster").toggle(1000);
                },
                error: function (req, status, error) {
                    //alert("error--" + req + "---" + status + "---" + error);
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }

            });

        }

        var CallSubmitClick = function (DomainName) {

            $("#btnSave").click(function (e) {
                App.blockUI({ boxed: true });
                if (e.handled !== true) // This will prevent event triggering more then once
                {
                    e.handled = true;
                    Formvalidate(DomainName);
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return;
                    }
                    var chk_id = $("#chk_id").val();
                    var chk_cat = $("#chk_cat").val();
                    var Chk_Desc = $("#Chk_Desc").val();
                    var Chk_Document_Shown = $("#Chk_Document_Shown").val();
                    var ActiveFlag = $("#ActiveFlag").prop('checked');

                    var CheckList =
                                    {
                                        "chk_id": chk_id,
                                        "chk_cat": chk_cat,
                                        "Chk_Desc": Chk_Desc,
                                        "Chk_Document_Shown": Chk_Document_Shown,
                                        "ActiveFlag": ActiveFlag,
                                    };

                    $.ajax({
                        url: DomainName + '/Fleet/AddEditCheckList',
                        cache: false,
                        data: JSON.stringify(CheckList),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.Status) {
                                TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                $("#AddEditAirportMaster").hide(1000);
                                bindTable(DomainName);
                            }
                            else {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            }
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                    $("input:checkbox, input:radio").uniform();
                }
            });
        }

     

        var bindTable = function (DomainName) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Fleet/GetCkeckList';
            $.ajax({
                url: strUrl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $('#AirportMasterList').dataTable({
                        "bDestroy": true
                    }).fnDestroy();
                    $("#AirportMasterList").html(data);
                    App.unblockUI();
                    $("input:checkbox, input:radio").uniform();
                    initTableById("AirportMasterList");
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);

                $("#addEdit").click(function () {
                    GetObjectDet("0", DomainName);
                });

                $(".btnCancel").live('click', function (e) {
                    $("#AddEditAirportMaster").hide(1000);
                });

                $(".btnMasterEdit").live('click', function (e) {
                    var id = $(this).data('id');
                    GetObjectDet(id, DomainName);
                });

                //ZoneFocusout(DomainName);
                CallSubmitClick(DomainName);
                initTableById("AirportMasterList");
            }
        }
    }();
</script>





