﻿@{
    ViewBag.Title = "Claim Of TyreDone ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var BILLNO = @ViewBag.BILLNO;
    var CLAIM_REMOLD_SALE_ID = @ViewBag.CLAIM_REMOLD_SALE_ID;
}

<div class="col-md-offset-2 col-md-8" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i> Following Bill has been successfully Updated @ViewBag.TranXaction
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Document No
                            </th>
                            <th>
                                Back To  old tyre stock
                            </th>
                            <th>
                                Back To update Claim Tyre
                            </th>
                            <th>
                                Back To update Remold Tyre
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@ViewBag.CLAIM_REMOLD_SALE_ID</b>
                            </td>
                            <td class="center">
                                <a href="@Url.Content("~/Fleet/OldTyreStock")" class="btn btn-sm default controls blue"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
                            </td>
                            <td class="center">
                                <a href="@Url.Content("~/Fleet/ClaimOfTyre")" class="btn btn-sm default controls blue"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
                            </td>
                            <td class="center">
                                <a href="@Url.Content("~/Fleet/TyreRemold")" class="btn btn-sm default controls blue"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
