﻿@model Fleet.ViewModels.OldTyreStockViewModel
@using FleetDataService.Models
@{
    FleetDataService.ExceptionsService ES = new FleetDataService.ExceptionsService();
    //List<webx_VENDOR_HDR> Vendor = ES.GetVendorCodeName().ToList();
    ViewBag.Title = "Claim Of Tyre";
}
@using (Html.BeginForm("ClaimOfTyreSubmit", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class=" row">
                        <div class=" form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label col-md-4">
                                        Select Vendor
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.WFTH.VENDORCODE, new { placeholder = "Select Vendor", @class = "form-control required required2" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label col-md-4"> Enter Date </label>
                                    <div class="col-md-8">
                                        <div class="col-md-5">
                                            <div class="input-group input-medium date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="">
                                                @Html.TextBox("WFTH.ClaimDT", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = "form-control required", @readonly = "True" })
                                                @Html.HiddenFor(c => c.WFTH.ClaimDT)
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Search Criteria
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="tblData">
                        @{
                            Html.RenderPartial("_ClaimOfTyre", Model.WFTHL.ToList());
                        }
                    </div>
                    <div class="form-actions fluid">
                        <div class="row">
                            <div class="col-md-offset-5 col-md-6">
                                <a href="@Url.Content("~/Fleet/OldTyreStock")" class="btn btn-sm default"><i class=" fa fa-arrow-left"></i>&nbsp;Back</a>
                                <button type="submit" id="btnSubmit" class="btn blue"><i class="fa fa-search"></i>&nbsp; Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

            });
        }

        var HandleDatetimePicker = function () {

            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate() - 10)
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                HandleDatetimePicker();
                JsonDDL('WFTH_VENDORCODE', DomainName + '/Master/SearchVendorListJson');
                $("#btnSubmit").click(function () {

                    $('#form_sample').submit();
                });
                $('.CLSCHK').click(function () {
                    totchk = 0;
                    var itemIndex = $(this).attr('id').split('_')[1];
                    var checked = jQuery(this).is(":checked");
                    $('.CLSCHK').each(function () {
                        var checked1 = jQuery(this).is(":checked");
                        if (checked1)
                            totchk++;
                        if (totchk == 0)
                            $('#btnSubmit').hide();
                        else
                            $('#btnSubmit').show();
                    });
                });

                $(document).on('change', ".chk_All", function () {
                    if (this.checked) {
                        $(".CLSCHK").parent('span').addClass('checked');

                    }
                    else {
                        $(".CLSCHK").parent('span').removeClass('checked');

                    }
                })

                $('.chk_All').click(function () {
                    totchk = 0;
                    //var itemIndex = $(this).attr('id').split('_')[1];
                    var checked = jQuery(this).is(":checked");
                    $('.chk_All').each(function () {
                        var checked1 = jQuery(this).is(":checked");
                        if (checked1)
                            totchk++;
                        if (totchk == 0)
                            $('#btnSubmit1').hide();
                        else
                            $('#btnSubmit1').show();
                    });
                });
            }
        }
    }();
</script>




