﻿@model Fleet.ViewModels.CloseTripSheetViewModel
@using Fleet.ViewModels
@{
	ViewBag.Title = "Close Vehicle Issue Slip";
	Layout = "~/Views/Shared/_Layout.cshtml";

	//Model.WFVI.VSlipDt = System.DateTime.Now;
	//Model.WFVI.TS_Close_Dt = System.DateTime.Now.ToString("dd MMM yyyy");
	objDate OD = new objDate();
	OD.ControlId = "WFVI.VSlipDt";
	OD.ControlValue = Model.WFVI.VSlipDt.ToString();
	OD.ModuleCode = "27";
	string tripOpenDate = System.DateTime.Now.ToString();
	string tripCloseDate = System.DateTime.Now.ToString();

	//var BaseFinYear = ViewBag.FinYearEnd;
	//if (Convert.ToDateTime(Model.WFVI.VSlipDt.ToString("dd MMM yyyy")) <= Convert.ToDateTime("31 Mar " + BaseFinYear) && BaseFinYear != "2018")
	//{
	//    tripOpenDate = Model.WFVI.VSlipDt.ToString();
	//    tripCloseDate = "31 Mar " + BaseFinYear;
	//}

	var BaseFinYear = ViewBag.FinYearEnd;
	if (Convert.ToDateTime(Model.WFVI.VSlipDt.ToString("dd MMM yyyy")) <= Convert.ToDateTime(ViewBag.FinYearEndDate) && BaseFinYear != ViewBag.CurrFinYear.Split('-')[1])
	{
		tripOpenDate = Model.WFVI.VSlipDt.ToString();
		tripCloseDate = ViewBag.FinYearEndDate;
	}
	Model.WFVI.END_DT_TM = DateTime.Today.ToString();

	var i = 1;
	var j = 1;
	var k = 1;
	var l = 1;
	Model.WFVI.Average_Diesel_Rate = Model.WFVI.AvgDieselRate;
	//Model.WFVI.Route = Model.WFVI.From_City + "~" + Model.WFVI.To_City + "~" + Model.WFVI.From_City;

	var Text = "Close Operationally & Financially";
	if (Model.SlipId.ToUpper() == "F")
	{
		Text = "Financially Close";
		tripOpenDate = Model.WFVI.Oper_Close_Dt.ToString();
	}

	DateTime FinYearStartDate = Convert.ToDateTime(ViewBag.FinYearStartDate);
	DateTime FinYearEndDate = Convert.ToDateTime(ViewBag.FinYearEndDate);

	//objDate OD_opClose = new objDate();
	//OD_opClose.ControlId = "WFVI.Oper_Close_Dt";
	//OD_opClose.ControlValue = Model.WFVI.VSlipDt.ToString();
	//OD_opClose.ModuleCode = "27";

	//objDate OD_FinClose = new objDate();
	//OD_FinClose.ControlId = "WFVI.TS_Close_Dt";
	//OD_FinClose.ControlValue = Model.WFVI.TS_Close_Dt.ToString();
	//OD_FinClose.ModuleCode = "27";

}

@*if (Convert.ToDateTime(Model.WFVI.VSlipDt.ToString("dd MMM yyyy")) >= FinYearStartDate && Convert.ToDateTime(Model.WFVI.VSlipDt.ToString("dd MMM yyyy")) <= FinYearEndDate)
    {*@
<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("CloseVehicleIssueSlip", "Fleet", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
                {
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Issue Slip Id.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.VSlipNo, new { placeholder = "Issue Slip Id", @class = "form-control text-uppercase", @readonly = "True" })
                                        @Html.HiddenFor(m => m.WFVI.vehno)
                                        @Html.HiddenFor(m => m.WFVI.Driver1)
                                        @Html.HiddenFor(m => m.WFVI.rut_code)
                                        @Html.HiddenFor(m => m.WFVI.rutdesc)
                                        @Html.HiddenFor(m => m.WFVI.f_issue_fill)
                                        @*@Html.HiddenFor(m => m.WFVI.f_closure_closekm)*@
                                        @Html.HiddenFor(m => m.WFVI.VehicleType)
                                        @Html.HiddenFor(m => m.WFVI.AvgDieselRate)
                                        @Html.HiddenFor(m => m.WFVI.f_closure_fill)
                                        @Html.HiddenFor(m => m.WFVI.KMPL)
                                        @Html.HiddenFor(m => m.WFVI.Externalusage_Category)
                                        @Html.HiddenFor(m => m.WFVI.Vehicle_Mode)
                                        @Html.HiddenFor(m => m.WFVI.Start_dt_tm)
                                        @Html.HiddenFor(m => m.WFVI.Custcode)
                                        @Html.HiddenFor(m => m.WFVI.Market_Own)
                                        @Html.HiddenFor(m => m.WFVI.current_KM_Read)
                                        @Html.HiddenFor(m => m.Operational_Close)
                                        @Html.HiddenFor(m => m.Obj_WFT.ID)
                                        @Html.HiddenFor(m => m.Obj_WFT.Vehicle_Selection)
                                        @Html.HiddenFor(m => m.Obj_WFT.Driver1_Manual)
                                        @Html.HiddenFor(m => m.Obj_WFT.Driver2_Manual)
                                        @Html.HiddenFor(m => m.Obj_WFT.Trip_Route_Selection)
                                        @Html.HiddenFor(m => m.Obj_WFT.THC_Attached)
                                        @Html.HiddenFor(m => m.Obj_WFT.Entry_Date)
                                        @Html.HiddenFor(m => m.Obj_WFT.Enter_By)
                                        @Html.HiddenFor(m => m.Obj_WFT.Vehicle_Filter)
                                        @Html.HiddenFor(m => m.Obj_WFT.UFL_Filter)
                                        @Html.HiddenFor(m => m.Obj_WFT.Auto_Vslip_Filter)
                                        @Html.HiddenFor(m => m.Obj_WFT.ExternalUsage_Category)
                                        @Html.HiddenFor(m => m.Obj_WFT.Fuel_Bill_Entry_TSWise)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Manual Tripsheet No.
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.Manual_TripsheetNo, new { placeholder = "Manual Tripsheet No", @class = "form-control  text-uppercase", @readonly = "True" })
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Issue Slip Date.</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WFVI.VSlipDt, new { placeholder = "Issue Slip Date", @class = "form-control  text-uppercase", @readonly = "True" })
                                        </div>
                                    </div>
                                </div>*@

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Issue Slip Date</label>
                                    <div class="col-md-6">
                                        @{
                                            Html.RenderPartial("../UserControls/_DocumentDateTime", OD);
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Vehicle Type.
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.VehicleType, new { placeholder = "Vehicle Type", @class = "form-control text-uppercase", @readonly = "True" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Starting Location.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.TripSheet_StartLoc, new { placeholder = "Starting Location", @class = "form-control text-uppercase", @readonly = "True" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        End Location.
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.TripSheet_EndLoc, new { placeholder = "End Location", @class = "form-control text-uppercase", @readonly = "True" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Category.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.Category, new { placeholder = "Category", @class = "form-control  text-uppercase", @readonly = "True" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        External Usages Category.
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.Externalusage_Category, new { placeholder = "External Usages Category", @class = "form-control  text-uppercase", @readonly = "True" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">From City.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.From_City, new { placeholder = "From City", @class = "form-control text-uppercase", @readonly = "True" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        To City.
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.To_City, new { placeholder = "To City", @class = "form-control  text-uppercase", @readonly = "True" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Route.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.Route, new { placeholder = "Route", @class = "form-control  text-uppercase", @readonly = "True" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Vehicle Mode.
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.Vehicle_Mode, new { placeholder = "Vehicle Mode", @class = "form-control text-uppercase", @readonly = "True" })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Vehicle No.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.VehicleNo, new { placeholder = "Vehicle No", @class = "form-control  text-uppercase", @readonly = "True" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Driver.
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.Driver1_Name, new { placeholder = "Driver", @class = "form-control text-uppercase", @readonly = "True" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Operational Close Date.</label>
                                    <div class="col-md-6">
                                        @if (@Model.WFVI.Oper_Close_Dt == @System.DateTime.MinValue || @Model.WFVI.Oper_Close_Dt == null)
                                        {
                                             <div class="input-group date date-picker-operational" data-date-format="dd MMM yyyy" data-date-start-date="+0d" data-date-end-date="+0d">
                                                    @Html.TextBox("WFVI.Oper_Close_Dt", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.WFVI.Oper_Close_Dt).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @readonly = "True" })
                                                    <span class="input-group-btn">
                                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div> 

											//Html.RenderPartial("../UserControls/_DocumentDateTime", OD_opClose);

										}
										else
										{
                                            @Html.TextBox("WFVI.Oper_Close_Dt", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.WFVI.Oper_Close_Dt).ToString("dd MMM yyyy")), new { @class = "form-control required2", @readonly = "True" })
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Trip Sheet Financial Close Date.
                                    </label>
                                    <div class="col-md-6">
                                        @if (@Model.WFVI.TS_Close_Dt == @System.DateTime.MinValue.ToString() || @Model.WFVI.TS_Close_Dt == "" || @Model.WFVI.TS_Close_Dt == null || @Model.WFVI.TS_Close_Dt == @System.DateTime.Now.ToString("dd MMM yyyy"))
                                        {
                                            <div class="input-group date date-picker-financial" data-date-format="dd MMM yyyy" data-date-start-date="+0d" data-date-end-date="+0d">
                                                    @Html.TextBox("WFVI.TS_Close_Dt", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.WFVI.TS_Close_Dt).ToString("dd MMM yyyy")), new { @class = "form-control", @readonly = "True" })
                                                    <span class="input-group-btn">
                                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>

											//Html.RenderPartial("../UserControls/_DocumentDateTime", OD_FinClose);
										}
										else
										{
                                            @Html.TextBox("WFVI.TS_Close_Dt", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.WFVI.TS_Close_Dt).ToString("dd MMM yyyy")), new { @class = "form-control", @readonly = "True" })
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Driver License No.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.License_No, new { placeholder = "License No", @class = "form-control text-uppercase", @readonly = "True" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        License Valid upto.
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.Valdity_dt, "{0:dd/MM/yyyy}", new { placeholder = "valdity dt", @class = "form-control text-uppercase", @readonly = "True" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Starting Km. Reading.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.f_issue_startkm, new { placeholder = "Starting Km. Reading", @class = "form-control text-uppercase", @readonly = "True" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Closing Km. Reading.
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.f_closure_closekm, new
                                   {
                                       placeholder = "Closing Km. Reading",
                                       @class = "form-control required required2 text-uppercase"
                                   })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Fuel Filled enroute.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.Fuel_Filled_enroute, new { placeholder = "Fuel Filled enroute", @class = "form-control text-uppercase", @readonly = "True" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Total Kms.
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.Total_Kms, new { placeholder = "Total Kms", @class = "form-control text-uppercase", @readonly = "True" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Actual KMPL.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.Actual_KMPL, new { placeholder = "Actual KMPL", @class = "form-control text-uppercase", @readonly = "True" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Approved KMPL.
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.Approved_KMPL, new { placeholder = "Approved KMPL", @class = "form-control required text-uppercase", @number = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @min = "1", @maxlength = "10" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Approved Diesel (liters).</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.ApprovedDiesel, new { placeholder = "Approved Diesel (liters)", @class = "form-control text-uppercase", @readonly = "True" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Average Diesel Rate.
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.Average_Diesel_Rate, new { placeholder = "Average Diesel Rate", @class = "form-control text-uppercase", @readonly = "True" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Approved Fuel Amount.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.Approved_Fuel_Amount, new { placeholder = "Approved Fuel Amount", @class = "form-control text-uppercase", @readonly = "True" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        @ViewBag.DKTCalledAs No.
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.Obj_WFT.DOCKET_NO_LABEL, new { placeholder = "Cnote Numbers", @class = "form-control  text-uppercase", @readonly = "True" })
                                        @Html.TextBoxFor(c => c.WFVI.DOCKNO, new { placeholder = @ViewBag.DKTCalledAs + "No", @class = "form-control  text-uppercase", @readonly = "True" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Loss Diesel
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.LossDiesel, new { placeholder = "Loss Diesel", @class = "form-control required text-uppercase", @readonly = "True" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <table id="container" border="1" class="table table-striped table-bordered table-hover" style="overflow: auto;">
                                    <thead class="flip-content">
                                        <tr>
                                            <th class="center">Sr No</th>
                                            <th class="center">Place</th>
                                            <th class="center">Advance Date</th>
                                            <th class="center"><b>Amount</b></th>
                                            <th class="center"><b>Branch Name</b></th>
                                            <th class="center"><b>Advance Paid By</b></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var Item in Model.LIST_WTSADV)
                                        {
                                            Item.SRNO = i;
                                            Html.RenderPartial("_TripsheetAdvanceExp", Item);
                                            i++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row" id="FuleShlipEntry">
                            <div class="col-md-12">
                                <!-- BEGIN SAMPLE TABLE PORTLET-->
                                <div class="portlet box blue">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-edit"></i>Fuel Slip Entry
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <table id="sample_1" class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Sr.No
                                                    </th>
                                                    <th>
                                                        Slip Type (Fuel/Cash)
                                                    </th>
                                                    <th>
                                                        Fuel Slip No.
                                                    </th>
                                                    <th>
                                                        Fuel Vendor
                                                    </th>
                                                    <th>
                                                        Quantity in Litter
                                                    </th>
                                                    <th>
                                                        Rate
                                                    </th>
                                                    <th>
                                                        Amount
                                                    </th>
                                                    <th>
                                                        X
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblFuelSlip">
                                                @foreach (var item in Model.ListFuelSlip)
                                                {
                                                    item.SRNO = k;
                                                    item.Id = k;
                                                    Html.RenderPartial("_FuelSlipList", item);
                                                    k++;
                                                }
                                            </tbody>
                                            @*<tr>
                                                    <td colspan="3"></td>
                                                    <td>
                                                        <label><b> Amount</b></label>
                                                    </td>
                                                    <td>
                                                        <b><label id="FinalAmount">0</label></b>
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <b><label id="TotalAmount">0</label></b>
                                                    </td>
                                                </tr>*@
                                        </table>
                                        @*<div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="col-md-9">
                                                    </div>
                                                    <div class="col-md-3">
                                                        <button type="button" id="btnFuelSlip" class="btn green pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                                    </div>
                                                </div>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class=" col-md-12">
                                <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                                    <li><strong style="font-size: 12px;">HSD/OIL Expenses</strong></li>
                                </ul>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">No Of Rows </label>
                                        <div class="col-md-7">
                                            @Html.TextBox("LOG", "0", new { placeholder = "No. Rows", @class = "input-small form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <a id="btnAddRowsLOG" class="btn btn-sm  @ViewBag.TableBoxColor right">
                                        <i class="fa fa-plus"></i>
                                        Add HSD/OIL Expenses
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="table-scrollable">
                                    <table id="containerLog" border="1" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr class="heading">
                                                <th class="center">Sr No</th>
                                                <th class="center">Place</th>
                                                <th class="center">
                                                    Petrol
                                                    <br />Pump Name
                                                </th>
                                                <th class="center"><b>Brand</b></th>
                                                <th class="center"><b>Fuel <br />Type</b></th>
                                                <th class="center"><b>Last KM <br />Reading</b></th>
                                                <th class="center"><b>KM Reading</b></th>
                                                <th class="center"><b>Bill No</b></th>
                                                <th class="center"><b>Bill Date</b></th>
                                                <th class="center"><b>Diesel<br />(Qtn. in Liters)</b></th>
                                                <th class="center"><b>Diesel Rate/Liters</b></th>
                                                <th class="center"><b>Amount</b></th>
                                                <th class="center"><b>Amount<br /> Approved <br />By Fleet<br /> Executive</b></th>
                                                <th class="center"><b>By <br />Card/Cash</b></th>
                                                <th class="center"><b>Remarks</b></th>
                                                <th class="center"><b>Delete</b></th>
                                            </tr>
                                        </thead>
                                        <tbody id="HSD_OIL_Expenses">

                                            @foreach (var Item in Model.LIST_WTRSOP)
                                            {
                                                Item.SRNO = l;
                                                Html.RenderPartial("_Tripsheet_HSD_OIL_Expenses", Item);
                                                l++;
                                            }
                                        </tbody>
                                        <tbody>
                                            <tr>
                                                <th class="center"></th>
                                                <th class="center"></th>
                                                <th class="center"></th>
                                                <th class="center"></th>
                                                <th class="center"></th>
                                                <th class="center"></th>
                                                <th class="center"></th>
                                                <th class="center"></th>
                                                <th class="center"><b>Total</b></th>
                                                <th class="center"><b><div id="Tot_Diesel_Qtn_in_litres"></div></b></th>
                                                <th class="center"><b><div id="Tot_Diesel_rate_in_litres"></div></b></th>
                                                <th class="center"><b><div id="Tot_Amount"></div></b></th>
                                                <th class="center"><b><div id="Tot_Amount_Approved_By_Fleet_Executive"></div></b></th>
                                                <th class="center"></th>
                                                <th class="center"></th>
                                                <th class="center"></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                                    <li><strong style="font-size: 12px;">En-route Expenses</strong></li>
                                </ul>
                                <div class="row">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">No Of Rows </label>
                                            <div class="col-md-7">
                                                @Html.TextBox("ENROUTE", "0", new { placeholder = "No. Rows", @class = "input-small form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <a id="btnAddRows" class="btn btn-sm @ViewBag.TableBoxColor right">
                                            <i class="fa fa-plus"></i>
                                            Add Route Expenses
                                        </a>
                                    </div>
                                </div>

                                <table id="container1" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr role="row" class="heading">
                                            <th style="white-space: normal;" class="center">
                                                SR No.
                                            </th>
                                            <th>
                                                Nature of Expense
                                            </th>
                                            <th>
                                                Amount Spent
                                            </th>
                                            <th>
                                                Bill No
                                            </th>
                                            <th>
                                                Bill Date
                                            </th>
                                            <th>
                                                Standard Amt
                                            </th>
                                            <th>
                                                Remarks
                                            </th>
                                            <th>
                                                Delete
                                            </th>
                                        </tr>

                                    </thead>
                                    <tbody id="EnrouteEx">

                                        @foreach (var itm in Model.EnrtExpList)
                                        {
                                            itm.SRNO = j;
                                            Html.RenderPartial("_EnRouteExpenses", itm);
                                            j++;
                                        }
                                    </tbody>
                                    <tr>
                                        <td></td>
                                        <th class="left">
                                            <h6><b>Total</b></h6>
                                        </th>
                                        <td colspan="1">
                                            @Html.TextBoxFor(c => c.WFEE.Total, new { @class = "m-wrap  form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @readonly = "true", @number = "true" })
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </table>

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                                    <li><strong style="font-size: 12px;">Verifying Authorities</strong></li>
                                </ul>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Prepared By.</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.WFVI.PreparedBy, new { placeholder = "Prepared By", @class = "m-wrap form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Checked By.
                                        </label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.WFVI.CheckedBy, new { placeholder = "Checked By", @class = "m-wrap form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Approved By.
                                        </label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.WFVI.ApprovedBy, new { placeholder = "Approved By", @class = "m-wrap form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Audited By.</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.WFVI.AuditedBy, new { placeholder = "Audited By", @class = "m-wrap form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="row">
                            <div class="col-md-offset-4 col-md-6">
                                @if (Model.SlipId.ToUpper() == "M")
                                {
                                    <button type="button" id="btn_Operational_Close" class="btn btn-sm blue btnSubmit"><i class="fa fa-check"></i>&nbsp;Close Operationally</button><b> OR</b>
                                }
                                <button type="button" id="btn_Operational_Financial_Close" class="btn btn-sm blue btnSubmit"><i class="fa fa-check"></i>&nbsp;@Text</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@*}
    else
    {
        <div class="col-md-offset-3 col-md-6">
            <div class="alert alert-block alert-danger fade in center">
                <h2 class="alert-heading">Opps! No Access</h2>
                <h4>
                    This Trip is belongs to Previous Financial Year<b>(@FinYearStartDate.AddYears(-1).Year - @FinYearStartDate.Year)</b>,
                    you can not close from Current Year<b>(@FinYearStartDate.Year - @FinYearStartDate.AddYears(1).Year)</b>. To do please go to Previous Financial Year<b>(@FinYearStartDate.AddYears(-1).Year - @FinYearStartDate.Year)</b> or contact your administrator.
                </h4>
            </div>
        </div>
    }*@
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var handleDatetimePicker = function () {
            $(".date-picker").datepicker("remove");
            $(".date-picker").children('input').val("");
            $(".date-picker").datepicker({
                isRTL: App.isRTL(),
                format: "dd M yyyy",
                autoclose: true,
                startDate: new Date('@Model.WFVI.VSlipDt.ToString("dd MMM yyyy")'),
                endDate: new Date($("#WFVI_Oper_Close_Dt").val()),
                pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
            });
        }

        var Calculation2 = function () {

            var GT = parseFloat(0);
            $(".totalExp").each(function () {
                var id = $(this).attr("id").split('_')[1];

                var IdInt = $("#fleetList_" + id + "__id").val();
                if (!($.isNumeric($(this).val()))) {
                    $(this).val('0');
                    alert("Please Enter Numeric Only.")
                }
                if (parseFloat($(this).val()) < 0) {
                    $(this).val('0');
                    alert("Must be Non-Negative Value.")
                }
                if (IdInt == 22) {
                    GT = parseFloat(GT) - parseFloat($(this).val());
                }
                else {
                    GT = parseFloat(GT) + parseFloat($(this).val());
                }
            });
            $('#WFEE_Total').val(parseFloat(GT).toFixed(0));
        }

        var Formvalidate = function (DomainName) {
            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);
            form.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {
                    'WFVI.f_closure_closekm': {
                        range: [parseInt($("#WFVI_f_issue_startkm").val()) + 1, parseInt($("#WFVI_f_issue_startkm").val()) + 7000]
                    }
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                },
                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    form.submit();
                }
            });
        }

        var handleSelect2 = function () {
            $('.select2').select2({
                placeholder: "Select an option",
            });
        }

        var DropDownChangeEvent = function (DomainName, itemIndex) {
            $("#fleetList_" + itemIndex + "__ID").live('change', function () {

                var dlnmId = $(this).attr("id");
                var Value = $(this).val();
                var Count = 0;

                if (Value != "") {

                    $(".ClsXYZ").each(function () {

                        var dlnmId1 = $(this).attr("id");
                        var dlnmVal1 = $(this).val();

                        if (dlnmId1 != dlnmId && dlnmVal1 == Value) {
                            alert("cannot select Duplicate Value");
                            $("#" + dlnmId).val("");
                            $("#" + dlnmId).select2().find(":selected").data("");
                            $("#" + dlnmId)

                            return false;
                        }
                    });
                }
            });

            $("#fleetList_1__ID").change(function () {

                var dlnmId = $(this).attr("id");
                var Value = $(this).val();
                var Count = 0;

                if (Value != "") {

                    $(".ClsXYZ").each(function () {

                        var dlnmId1 = $(this).attr("id");
                        var dlnmVal1 = $(this).val();

                        if (dlnmId1 != dlnmId && dlnmVal1 == Value) {
                            alert("cannot select Duplicate Value");
                            $("#" + dlnmId).val("");
                            $("#" + dlnmId).select2().find(":selected").data("");
                            $("#" + dlnmId)

                            return false;
                        }
                    });
                }
            });
        }

        var AddQuestions = function (DomainName, itemIndex) {

            var StrURL1 = DomainName + "/Fleet/EnRouteExpenses?id=" + itemIndex;
            App.blockUI({ boxed: true }); //Block UI
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    // alert(html);
                    $("#EnrouteEx").append(html);

                    $("#fleetList_" + itemIndex + "__id").select2({
                        placeholder: "Select an Option",
                    });
                    Calculation2();

                    DropDownChangeEvent(DomainName, itemIndex);
                    $(".deleteRow").live("click", function () {
                        $(this).parents("tr.editorRow:first").remove();
                        return false;
                    });
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    App.unblockUI();
                    alert("error " + req + " " + status + " " + error);
                }
            });
        }

        var AddRows_HSD_OIL = function (DomainName, itemIndex) {

            var StrURL1 = DomainName + "/Fleet/_Tripsheet_HSD_OIL_Expenses?id=" + itemIndex + "&startkm=" + $("#WFVI_f_issue_startkm").val();
            App.blockUI({ boxed: true }); //Block UI
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {

                    $("#HSD_OIL_Expenses").append(html);

                    Select2Id("ListOILEXPDET_" + itemIndex + "__PetrolPName");
                    Select2Id("ListOILEXPDET_" + itemIndex + "__Brand");
                    Select2Id("ListOILEXPDET_" + itemIndex + "__FuelType");
                    Select2Id("ListOILEXPDET_" + itemIndex + "__Card_Cash");
                    handleDatetimePicker();
                    ControlDate();
                    $('#containerLog').css('sScrollY', '250px');
                    $(".clsDiesel_Ltr").focusout(function () {
                        Focuss_Out(DomainName);
                        $("#WFVI_f_closure_closekm").trigger("change");
                        $("#WFVI_Approved_KMPL").trigger("change");

                    });
                    $(".clsDiesel_Rate").focusout(function () {
                        Focuss_Out(DomainName);
                    });
                    $(".clsAmount").focusout(function () {
                        Focuss_Out(DomainName);
                    });
                    $(".clsEXE_AMT").focusout(function () {
                        Focuss_Out(DomainName);
                    });
                    $(".deleteRow").live("click", function () {
                        $(this).parents("tr.editorRow:first").remove();
                        return false;
                    });
                    Focuss_Out(DomainName);

                    App.unblockUI();
                },
                error: function (req, status, error) {
                    App.unblockUI();
                    alert("error " + req + " " + status + " " + error);
                }
            });
        }

        var Select2Id = function (ID) {

            $("#" + ID).select2({
                placeholder: "Select an Option",
            });

        }

        var CalcExp = function () {
            var GTExp = parseFloat(0);
            $(".ClsExpense").each(function () {
                if (!($.isNumeric($(this).val()))) {
                    $(this).val('0');
                }
                if (parseFloat($(this).val()) < 0) {
                    $(this).val('0');
                }
                GTExp = parseFloat(GTExp) + parseFloat($(this).val());
            });
            $('#WTSA_AdvAmt').val(GTExp.toFixed(0));
        }
        var Focuss_Out = function (DomainName) {

            var Tot_Diesel_Ltr = "0", Tot_Diesel_rate = "0";
            var approvedDiesel=$("#WFVI_ApprovedDiesel").val();
            $(".clsDiesel_Ltr").each(function () {
                var ID = $(this).attr("id").replace("Diesel_Ltr", "");
                var Diesel_Ltr = $("#" + ID + "Diesel_Ltr").val();
                var Diesel_Rate = $("#" + ID + "Diesel_Rate").val();

                var Total_Cal = parseFloat(Diesel_Ltr) * parseFloat(Diesel_Rate);
                if(parseFloat(Total_Cal)>0)
                {
                    Total_Cal=Total_Cal.toFixed(2);
                }
                $("#" + ID + "Amount").val(Total_Cal);
               
                if(parseFloat(approvedDiesel)>0)
                {
                    if(parseFloat(parseFloat(Tot_Diesel_Ltr) + parseFloat($(this).val()))> parseFloat(approvedDiesel))
                    {
                  
                        alert("Maximum "+approvedDiesel+" Ltrs. Diesel Approved.")
                        $(this).val(0);
                        $(this).focus();
                        return false;
                    }
                }
                Tot_Diesel_Ltr = parseFloat(Tot_Diesel_Ltr) + parseFloat($(this).val());
            });
            if(parseFloat(Tot_Diesel_Ltr)>0)
            {
                Tot_Diesel_Ltr=Tot_Diesel_Ltr.toFixed(2);
            }
            $("#Tot_Diesel_Qtn_in_litres").html(Tot_Diesel_Ltr);

            $("#WFVI_Fuel_Filled_enroute").val(Tot_Diesel_Ltr);



            $(".clsDiesel_Rate").each(function () {

                var ID = $(this).attr("id").replace("Diesel_Rate", "");
                var Diesel_Ltr = $("#" + ID + "Diesel_Ltr").val();
                var Diesel_Rate = $("#" + ID + "Diesel_Rate").val();

                var Total_Cal = parseFloat(Diesel_Ltr) * parseFloat(Diesel_Rate);
                $("#" + ID + "Amount").val(Total_Cal.toFixed(2));

               // Tot_Diesel_Ltr = parseFloat(Tot_Diesel_Ltr) + parseFloat($(this).val());
                Tot_Diesel_rate = parseFloat(Tot_Diesel_rate) + parseFloat($(this).val());


            });
            $("#Tot_Diesel_rate_in_litres").html(Tot_Diesel_rate);



            var Tot_Amount = "0";
            $(".clsAmount").each(function () {
                var ID = $(this).attr("id").replace("Diesel_Ltr", "");
                var Diesel_Ltr = $("#" + ID + "Diesel_Ltr").val();
                var Diesel_Rate = $("#" + ID + "Diesel_Rate").val();

                var Total_Cal = parseFloat(Diesel_Ltr) * parseFloat(Diesel_Rate);
                $("#" + ID + "Amount").val(Total_Cal.toFixed(2));
                Tot_Amount = parseFloat(Tot_Amount) + parseFloat($(this).val());
            });
            if(parseFloat(Tot_Amount)>0)
            {
                Tot_Amount=Tot_Amount.toFixed(2);
            }
            $("#Tot_Amount").html(Tot_Amount);

            var Tot_Amount_Approved_By_Fleet_Executive = "0";
            $(".clsEXE_AMT").each(function () {
                Tot_Amount_Approved_By_Fleet_Executive = parseFloat(Tot_Amount_Approved_By_Fleet_Executive) + parseFloat($(this).val());
            });
            $("#Tot_Amount_Approved_By_Fleet_Executive").html(Tot_Amount_Approved_By_Fleet_Executive);

        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                ControlDate();
                Formvalidate(DomainName);
                Focuss_Out(DomainName);
                $("#FuleShlipEntry :input").attr("disabled", true);
                // DropDownChangeEvent("1", itemIndex);

                $("#btn_Operational_Close").click(function () {
                    $("#Operational_Close").val("1");

                    $("#WFVI_TS_Close_Dt").removeClass("required required2");

                    if (!$("#submit_form").valid())
                        return;

                    if ($('#submit_form').valid()) {
                        App.blockUI({ boxed: true });
                        $('#submit_form').submit();
                    }
                })

                $("#btn_Operational_Financial_Close").click(function () {
                    $("#Operational_Close").val("0");

                    $("#WFVI_TS_Close_Dt").addClass("required required2");

                    if (!$("#submit_form").valid())
                        return;

                    if ($('#submit_form').valid()) {
                        App.blockUI({ boxed: true });
                        $('#submit_form').submit();
                    }
                })


                if ($("#WFVI_valdity_dt").val() == "01 Jan 0001") {
                    $("#WFVI_valdity_dt").val("");
                }
                if ($("#WFVI_Oper_Close_Dt").val() == "01 Jan 0001") {
                    $("#WFVI_Oper_Close_Dt").val("");
                }
                if ($("#WFVI_TS_Close_Dt").val() == "01 Jan 0001") {
                    $("#WFVI_TS_Close_Dt").val("");
                }


                $('#WTSA_AdvAmt').change(function () {
                    $('#WTSA_AdvAmt').val($(this).val());
                });

                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    Calculation2();
                    return false;
                });

                $("#btnAddRowsLOG").live('click', function () {
                    var itemIndex = parseInt($('#HSD_OIL_Expenses tr').length) + parseInt("@Model.LIST_WTRSOP.Count()");
                    var TOTRows = $("#LOG").val();


                    for (var i = 0; i <= TOTRows - 1; i++) {
                        setTimeout(function () {
                            itemIndex = itemIndex + 1;

                            AddRows_HSD_OIL(DomainName, itemIndex);
                        }, 250 * i);
                    }


                });

                $("#btnAddRows").live('click', function () {
                    var itemIndex1 = $('#EnrouteEx tr').length;
                    var TOTRows = $("#ENROUTE").val();


                    for (var i = 0; i <= TOTRows - 1; i++) {
                        setTimeout(function () {
                            itemIndex1 = itemIndex1 + 1;

                            AddQuestions(DomainName, itemIndex1);

                        }, 250 * i);
                    }

                });

                Calculation2();
                $('.totalExp').live('change', function () {
                    if (!($.isNumeric($(this).val()))) {
                        $(this).val('0');
                        alert("Please Enter Numeric Only.")
                    }
                    if (parseFloat($(this).val()) < 0) {
                        $(this).val('0');
                        alert("Must be Non-Negative Value.")
                    }

                    Calculation2();
                });
                CalcExp();
                handleSelect2();


                $("#WFVI_f_closure_closekm").live("change", function () {
                    // debugger
                    var TotalKms = 0, startkm = 0, CloseKM = 0, Actual_KMPL = 0, FuelFilledEnroute = 0;
                    startkm = $("#WFVI_f_issue_startkm").val();
                    CloseKM = $("#WFVI_f_closure_closekm").val();
                    Actual_KMPL = $("#WFVI_Actual_KMPL").val();
                    FuelFilledEnroute = $("#WFVI_Fuel_Filled_enroute").val();

                    TotalKms = parseFloat(CloseKM) - parseFloat(startkm);
                    $("#WFVI_Total_Kms").val(TotalKms);

                    if (FuelFilledEnroute != "" && TotalKms != "") {
                        if (parseFloat(FuelFilledEnroute) != 0) {
                            Actual_KMPL = (parseFloat(TotalKms) / parseFloat(FuelFilledEnroute)).toFixed(2);
                        }
                        else {
                            Actual_KMPL = "0.0";
                        }
                    }
                    $("#WFVI_Actual_KMPL").val(Actual_KMPL);
                    $("#WFVI_Approved_KMPL").trigger("change");
                });


                $("#WFVI_Approved_KMPL").live("change", function () {
                    // debugger
                    var Dieselloss = 0, Actual_KMPL = 0, Approved_KMPL = 0;
                    Dieselloss = $("#WFVI_LossDiesel").val();
                    Actual_KMPL = $("#WFVI_Actual_KMPL").val();
                    Approved_KMPL = $("#WFVI_Approved_KMPL").val();


                    Dieselloss = (parseFloat(Approved_KMPL) - parseFloat(Actual_KMPL)).toFixed(2);;
                    $("#WFVI_LossDiesel").val(Dieselloss);

                });



                $("#WFVI_Oper_Close_Dt").change(function () {
                    $(".date-picker-financial").datepicker("remove");
                    $("#WFVI_TS_Close_Dt").val("");
                    $(".date-picker-financial").datepicker({
                        isRTL: App.isRTL(),
                        format: "dd M yyyy",
                        autoclose: true,
                        startDate: new Date($("#WFVI_Oper_Close_Dt").val()),
                        endDate: new Date('@tripCloseDate'),
                        pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    });
                    handleDatetimePicker();

                });

                var RowIndex = parseInt($('#HSD_OIL_Expenses tr').length) + parseInt("@Model.LIST_WTRSOP.Count()");

                if ($("#ListOILEXPDET_" + RowIndex + "__Card_Cash").val() == "Credit") {

                    $("#ListOILEXPDET_" + RowIndex + "__Place").attr("readonly", true);
                    $("#ListOILEXPDET_" + RowIndex + "__PetrolPName").attr("readonly", true);
                    $("#ListOILEXPDET_" + RowIndex + "__Brand").attr("readonly", true);
                    $("#ListOILEXPDET_" + RowIndex + "__FuelType").attr("readonly", true);
                    $("#ListOILEXPDET_" + RowIndex + "__Last_Km_Read").attr("readonly", true);
                    $("#ListOILEXPDET_" + RowIndex + "__KM_Reading").attr("readonly", true);
                    $("#ListOILEXPDET_" + RowIndex + "__BillNo").attr("readonly", true);
                    $("#ListOILEXPDET_" + RowIndex + "__BillDt").attr('readonly', true);
                    $("#ListOILEXPDET_" + RowIndex + "__Diesel_Ltr").attr("readonly", true);
                    $("#ListOILEXPDET_" + RowIndex + "__Diesel_Rate").attr("readonly", true);
                    $("#ListOILEXPDET_" + RowIndex + "__Amount").attr("readonly", true);
                    $("#ListOILEXPDET_" + RowIndex + "__EXE_AMT").attr("readonly", true);
                    $("#ListOILEXPDET_" + RowIndex + "__Card_Cash").attr("readonly", true);
                    $("#ListOILEXPDET_" + RowIndex + "__Remark").attr("readonly", true);

                }
                else
                {
                    $("#ListOILEXPDET_" + RowIndex + "__Place").attr("readonly", false);
                    $("#ListOILEXPDET_" + RowIndex + "__PetrolPName").attr("readonly", false);
                    $("#ListOILEXPDET_" + RowIndex + "__Brand").attr("readonly", false);
                    $("#ListOILEXPDET_" + RowIndex + "__FuelType").attr("readonly", false);
                    $("#ListOILEXPDET_" + RowIndex + "__Last_Km_Read").attr("readonly", false);
                    $("#ListOILEXPDET_" + RowIndex + "__KM_Reading").attr("readonly", false);
                    $("#ListOILEXPDET_" + RowIndex + "__BillNo").attr("readonly", false);
                    $("#ListOILEXPDET_" + RowIndex + "__BillDt").attr('readonly', false);
                    $("#ListOILEXPDET_" + RowIndex + "__Diesel_Ltr").attr("readonly", false);
                    $("#ListOILEXPDET_" + RowIndex + "__Diesel_Rate").attr("readonly", false);
                    $("#ListOILEXPDET_" + RowIndex + "__Amount").attr("readonly", false);
                    $("#ListOILEXPDET_" + RowIndex + "__EXE_AMT").attr("readonly", false);
                    $("#ListOILEXPDET_" + RowIndex + "__Card_Cash").attr("readonly", false);
                    $("#ListOILEXPDET_" + RowIndex + "__Remark").attr("readonly", false);
                }



                if (jQuery().datepicker) {

                    $(".date-picker").datepicker({
                        isRTL: App.isRTL(),
                        format: "dd M yyyy",
                        autoclose: true,
                        startDate: new Date('@tripOpenDate'),
                        endDate: new Date('@tripCloseDate'),
                        pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    });

                    $(".date-picker-operational").datepicker({
                        isRTL: App.isRTL(),
                        format: "dd M yyyy",
                        autoclose: true,
                        startDate: new Date('@tripOpenDate'),
                        endDate: new Date('@tripCloseDate'),
                        pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    });

                    $(".date-picker-financial").datepicker({
                        isRTL: App.isRTL(),
                        format: "dd M yyyy",
                        autoclose: true,
                        startDate: new Date('@tripOpenDate'),
                        endDate: new Date('@tripCloseDate'),
                        pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    });
                }



            }
        };
    }();

</script>
