﻿@model Fleet.ViewModels.CloseTripSheetViewModel
@using CYGNUS.Models;
@using Fleet.Helpers;

@{
    ViewBag.Title = "Tripsheet List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int i = 1;
}


<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a class="btn btn-xs default blue-stripe pull-right btnBack" href="@Url.Content("~/Fleet/CloseOperationalTripSheet")">
                        <i class="fa fa-arrow-left"> </i>
                        Back To Criteria
                    </a>
                </div>
            </div>
            <!-- End .title -->
            <div class="portlet-body flip-scroll">
                @if (Model.POList.Count() > 0)
                {
                    using (Html.BeginForm("CloseTripSheet", "Fleet", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
                    {
                        <table class="table table-striped table-bordered table-hover table-full-width center" id="Sample1">
                            <thead class="flip-content">
                                <tr>

                                    <th class="center">
                                        Manually Trip Sheet No
                                    </th>
                                    <th class="center">
                                        Trip Sheet No
                                    </th>
                                    <th class="center">
                                        Trip Sheet date
                                    </th>
                                    @*<th class="center">
                                            Driver Name
                                        </th>*@
                                    <th class="center">
                                        Vehicle No.
                                    </th>
                                    @*<th class="center">
                                            Driver Licence No
                                        </th>*@
                                    <th class="center">
                                        Leg Type
                                    </th>
                                    <th class="center">
                                        Driver
                                    </th>
                                    <th class="center">
                                        Next Step
                                    </th>
                                    @*@if (ViewBag.Type == "PO")*@
                                    @*{
                                            <th class="center">
                                                Next Step
                                            </th>
                                        }*@
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.POList)
                                {
                                    item.Mode = Model.SlipId;
                                    Html.RenderPartial("_CloseTripTR", item);
                                }
                            </tbody>
                        </table>
                        @*<div class="form-actions fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn green button-submit" id="button-submit">
                                                Submit &nbsp;<i class="m-icon-swapright m-icon-white"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    }
                }
                else
                {
                    <b>No Record Found...</b>
                }

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var handledatepicker = function (DomainName) {
            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    startDate: new Date(),
                    autoclose: true
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                handledatepicker(DomainName);
                //$('.chkAprovable').change(function () {
                //    if ($(this).prop('checked')) {
                //        var srno = $(this).attr('Id').split('_')[1];
                //        var totalAmount = $('#POAprovalGPH_' + srno + '__totalamt').val();
                //        if (parseFloat($('#POApprovalLimit').val()) > 0) {
                //            if (parseFloat(totalAmount) > parseFloat($('#POApprovalLimit').val())) {
                //                $(this).prop("checked", false);
                //                alert('You can not approve this PO due to your PO approval Limit');
                //                return false;
                //            }
                //        }

                //    }
                //})
            }
        }
    }();
</script>

<script type="text/javascript">

    //function Popup(pocode) {
    //    var Path = "http://223.30.71.115/Apmdrs_Test/GUI/Finance/GeneralizedPO_Ver2/POGeneration/WorkOrder_Report.aspx?Type=0&PONumber=" + pocode;
    //    window.open(Path, "es", "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=650,height=290,status=no,left=60,top=125");
    //}
    //function VendorCopy(pocode) {
    //    var Path = "http://223.30.71.115/Apmdrs_Test/GUI/Finance/GeneralizedPO_Ver2/POGeneration/PO_Report.aspx?Type=1&PONumber=" + pocode;
    //    window.open(Path, "es", "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=650,height=290,status=no,left=60,top=125");
    //}
    //function PopupWO(pocode) {
    //    var Path = "http://223.30.71.115/Apmdrs_Test/GUI/Finance/GeneralizedPO_Ver2/POGeneration/WorkOrder_Report.aspx?Type=0&PONumber=" + pocode;
    //    window.open(Path, "es", "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=650,height=290,status=no,left=60,top=125");
    //}
</script>

@*<script type="text/javascript" src="@Url.Content("~/Scripts/Enquiry/EnquiryClosure.js")"></script>*@
