﻿@model Fleet.ViewModels.DocumentEntryViewModel
@using Fleet.Models
@using FleetDataService.Models
@using Fleet.Classes;
@{
    ViewBag.Title = "Document Entry CriteriaList";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.FleetService FS = new FleetDataService.FleetService();
    List<SelectListItem> list = new List<SelectListItem> { };
    List<WEBX_FLEET_DOCUMENT_DET> VEHNOActive = FS.GetVehicle_Active();
    List<WEBX_FLEET_DOCUMENT_DET> VEHNOInActive = FS.GetVehicle_InActive();
    List<WEBX_FLEET_DOCUMENT_DET> STATE = FS.GetDOCMGT_STATE();
    //List<webx_GENERAL_POASSET_det> PODET = DataRowToObject.CreateListFromTable<webx_GENERAL_POASSET_det>(DT1);

}
@using (Html.BeginForm("DocumentEntryDetail", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>Vehicle Document Master
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">                                   
                                    <label class="control-label col-md-4">
                                        <input type="radio" id="RdbBasicA" class="RB" name="optionsRadios3" value="D" checked="checked" />
                                        Enter Active Vehicle :
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.WFDD.VEHNOActive, new SelectList(VEHNOActive, "VEH_INTERNAL_NO", "VEHNO"), "", new { @class = "select2 required form-control   select2", @placeholder = "Vehicle Number" })
                                        @Html.HiddenFor(m => m.WFDD.VEHNO)
                                        @Html.HiddenFor(m => m.WFDD.DOCU_TYPE_ID)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">                                   
                                    <label class="control-label col-md-4">
                                        <input type="radio" id="RdbBasicI" class="RB" name="optionsRadios3" value="D" />
                                        Enter InActive Vehicle :
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.WFDD.VEHNOINActive, new SelectList(VEHNOInActive, "VEH_INTERNAL_NO", "VEHNO"), "", new { @class = "select2 select2 form-control   ", @placeholder = " Document Type", @disabled = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-actions fluid">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-12">
                                            <button type="button" id="btnSubmit" class="btn blue"><i class="fa fa-search"></i>&nbsp; Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="DOC_list">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="form-body" id="DocuList">
                    @foreach (var item in Model.WFDL)
                    {
                        Html.RenderPartial("_DocumentEntryDetail", item);
                    }
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">


    var FormComponents = function (DomainName) {


        var Events = function (DomainName) {
            $('#btnSubmit').click(function () {
                //App.blockUI({ boxed: true });
                $.ajax({
                    url: DomainName + "/Fleet/DocumentEntryDetail",
                    type: 'POST',
                    data: $('#form_sample').serialize(),
                    success: function (data) {
                        //alert(data)
                        $("#divCrieteria :input").prop("readonly", true);
                        $("#DocuList").html(data);
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                       
                    }
                });

            });
           
        }

      




        return {
            //main function to initiate the module
            init: function (DomainName) {
                Events(DomainName);
                $("#RdbBasicI").click(function () {
                    if ($(this).is(":checked")) {
                        $("#WFDD_VEHNOINActive").prop("disabled", false);
                        $("#WFDD_VEHNOActive").prop("disabled", true);
                        
                    } else {
                        $("#WFDD_VEHNOINActive").prop("disabled", true);
                        $("#WFDD_VEHNOActive").prop("disabled", false);
                    }
                });
                $("#RdbBasicA").click(function () {
                    if ($(this).is(":checked")) {
                        $("#WFDD_VEHNOINActive").prop("disabled", true);
                        $("#WFDD_VEHNOActive").prop("disabled", false);

                    } else {
                        $("#WFDD_VEHNOINActive").prop("disabled", false);
                        $("#WFDD_VEHNOActive").prop("disabled", true);
                    }
                });
                $(".btnMasterEdit").live("click", function () {
                    var id = $(this).data('id');
                    var TypeId = $(this).data('value');
                    window.location.replace (DomainName + "/Fleet/DocumentEntry?Flag=Edit&VEHNO=" + id + "&TypeId=" + TypeId)
                    //$.ajax({
                    //    url: DomainName + "/Fleet/GetDocumentEntryListDetails?VEHNO=" + id + "&TypeId=" + TypeId,
                    //    type: 'POST',
                    //    data: $('#form_sample').serialize(),
                    //    success: function (data) {
                    //        alert(data)
                    //        $("#divCrieteria :input").prop("readonly", true);
                    //        $("#DocuList").html(data);
                    //        $('#reportrange').attr('disabled', true);
                    //        // App.unblockUI();
                            
                    //    },
                    //    error: function (req, status, error) {
                    //        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    //        //  App.unblockUI();
                    //    }
                    //});
                });
            }
        }
    }();


</script>



