﻿@model Fleet.ViewModels.DocumentEntryViewModel
@using Fleet.Models
@using FleetDataService.Models
@using Fleet.Classes;
@{
    ViewBag.Title = "Vehicle Document";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.FleetService FS = new FleetDataService.FleetService();
    List<SelectListItem> list = new List<SelectListItem> { };
    List<webx_VEHICLE_HDR> VEHNO = FS.GetVEHICLEList();
    List<WEBX_FLEET_DOCUMENT_DET> DocType = FS.GetDOCUTYPE_LIS();
    List<WEBX_FLEET_DOCUMENT_DET> STATE = FS.GetDOCMGT_STATE();
}
@using (Html.BeginForm("DocumentEntrySubmit", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data", @required = "false" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Document Details
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">

                            @if (Model.WFDD.Flag == "Add")
                            {
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Enter Vehicle Number:
                                        </label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.WFDD.VEHNO, new SelectList(VEHNO, "VEH_INTERNAL_NO", "VEHNO"), "", new { @class = "select2 required form-control  required2 select2", @placeholder = "Vehicle Number" })
                                            @Html.HiddenFor(m => m.WFDD.VEHNO)
                                            @Html.HiddenFor(m => m.WFDD.VEH_NO)
                                            @Html.HiddenFor(m => m.WFDD.DOCU_DET_ID)
                                            @Html.HiddenFor(m => m.WFDD.DOCU_ID)
                                            @Html.HiddenFor(m => m.WFDD.Flag)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Select Document Type:
                                        </label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.WFDD.DOCU_TYPE_ID, new SelectList(DocType, "DOCU_TYPE_ID", "DOCU_TYPE"), "", new { @class = "select2 required required2 form-control", @placeholder = " Document Type"})
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Enter Vehicle Number:
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WFDD.VEHNO, new { placeholder = "Vehicle Number", @class = "form-control required required2", @readonly = true })
                                            @Html.HiddenFor(m => m.WFDD.VEHNO)
                                            @Html.HiddenFor(m => m.WFDD.VEH_NO)
                                            @Html.HiddenFor(m => m.WFDD.DOCU_DET_ID)
                                            @Html.HiddenFor(m => m.WFDD.DOCU_ID)
                                            @Html.HiddenFor(m => m.WFDD.Flag)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 Document">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Select Document Type:
                                        </label>
                                        <div class="col-md-6">
                                            @*@Html.TextBoxFor(c => c.WFDD.DOCU_TYPE_ID, new { placeholder = " Select Document Type", @class = "form-control required required2", @readonly = true })*@
                                            @Html.DropDownListFor(model => model.WFDD.DOCU_TYPE_ID, new SelectList(DocType, "DOCU_TYPE_ID", "DOCU_TYPE"), "", new { @class = "select2 required required2 form-control", @placeholder = " Document Type", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>Renewal History
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Reminder in days before expiry</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.WFDD.REMINDER_IN_DAYS, new { placeholder = "Reminder in days before expiry", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Document No :</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.WFDD.DOCUMENT_NO, new { placeholder = "Document No", @class = "form-control required required2" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Renewal authority name :</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.WFDD.RENEWAL_AUTU_NAME, new { placeholder = "Renewal authority name ", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Cost :</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.WFDD.DOCU_COST, new { placeholder = "Cost", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Start Date :</label>
                                    <div class="col-md-8">
                                        <div class="input-group input-medium date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="">
                                            @Html.TextBox("WFDD.START_DT", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.WFDD.START_DT).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @readonly = "True" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Expiry Date</label>
                                    <div class="col-md-8">
                                        <div class="input-group date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="">
                                            @Html.TextBox("WFDD.EXPRITY_DT", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.WFDD.EXPRITY_DT).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @readonly = "True", @style = "padding-right: 0px;" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Scan :</label>
                                    <div class="col-md-8">
                                        <input type="file" id="FileUpload" name="file" multiple="multiple" />
                                        @Html.HiddenFor(m => m.WFDD.FILENAME)
                                        <a class="col-md-2 margin-top-5 text-primary" target="_blank" href="~/Images/@ViewBag.foldername/@Model.WFDD.FILENAME">@Model.WFDD.FILENAME</a>
                                    </div>
                                </div>
                              
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Remarks :</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.WFDD.REMARKS, new { placeholder = "Remarks", @class = "form-control required required2" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Enter By :</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.WFDD.ENTER_BY, new { @placeholder = " Enter By ", @class = "form-control required2 required" })
                                        @Html.HiddenFor(m => m.WFDD.ENTER_BY)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">State :</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.WFDD.APPLICABLE_STATE, new { placeholder = "State", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-actions fluid">
                                    <div class="row">
                                        <div class="col-md-offset-4 col-md-8">
                                            <a href="@Url.Content("~/Fleet/FleetMaster")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back To FleetMaster</a>&nbsp;
                                            <button type="submit" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i> Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.forms["form_sample"].submit()
                }

            });
        }
        var Events = function (DomainName) {

            $('#btnSubmit').click(function () {
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit()
                }
                else {
                    return false
                }
            });
        }
        var HandleDatetimePicker = function () {
            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Events(DomainName);
                HandleDatetimePicker();
                Formvalidate(DomainName);
                MultiSelectDDL('WFDD_APPLICABLE_STATE', DomainName + '/Fleet/GetState', true);

            }
        }
    }();
</script>


