﻿@model Fleet.ViewModels.CloseTripSheetViewModel
@{
    ViewBag.Title = "DriverTripSheetDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var PlusMinusList = new List<SelectListItem> {
    new SelectListItem { Text = "Select", Value = "0",Selected=true },
    new SelectListItem { Text = "+", Value = "+" },
     new SelectListItem { Text = "-", Value = "-" },
    };
   // Model.AmtPaidToDriver = "0";

    string DSCloseDate = System.DateTime.Now.ToString();

    //var BaseFinYear = ViewBag.FinYearEnd;
    //if (Convert.ToDateTime(Model.WFVI.Vslipdate) <= Convert.ToDateTime("31 Mar " + BaseFinYear) && BaseFinYear != "2018")
    //{
    //    DSCloseDate = "31 Mar " + BaseFinYear;
    //    Model.WFVI.settelDate = "31 Mar " + BaseFinYear;
    //}

    var BaseFinYear = ViewBag.FinYearEnd;
    if (Convert.ToDateTime(Model.WFVI.Vslipdate) <= Convert.ToDateTime(ViewBag.FinYearEndDate) && BaseFinYear != ViewBag.CurrFinYear.Split('-')[1])
    {
        DSCloseDate = ViewBag.FinYearEndDate;
        Model.WFVI.settelDate = ViewBag.FinYearEndDate;
    }
    
    
    if (Model.WFVI.settelDate == null)
    {
        Model.WFVI.settelDate = System.DateTime.Now.ToString();
    }


    //Model.PC.IsFuelCard = true;
    Model.PC.IsFuelCard = false;
    Model.PC.VehicleNo = Model.WFVI.vehno;

    DateTime FinYearStartDate = Convert.ToDateTime(ViewBag.FinYearStartDate);
    DateTime FinYearEndDate = Convert.ToDateTime(ViewBag.FinYearEndDate);
    Model.PC.ModuleType = "DS";
}
@*if (Convert.ToDateTime(Model.WFVI.Vslipdate) >= FinYearStartDate && Convert.ToDateTime(Model.WFVI.Vslipdate) <= FinYearEndDate)
{*@
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>Trip Sheet Driver Settlement
                    </div>
                </div>
                <div class="portlet-body">
                    @using (Html.BeginForm("InsertDriverSheetDetail", "Fleet", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
                    {
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Issue Slip Id.</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WFVI.VSlipNo, new { placeholder = "Issue Slip Id", @class = "form-control  text-uppercase", @readonly = "True" })
                                            @Html.HiddenFor(c => c.hdnDiesel_CF)
                                            @Html.HiddenFor(c => c.TotAdvancePaidAppr)
                                            @Html.HiddenFor(c => c.TotDieselCardExp)
                                            @Html.HiddenFor(c => c.TotDieselCreditExp)
                                            @Html.HiddenFor(c => c.NetExpAmt)
                                            @Html.HiddenFor(c => c.TotAdvancePaid)
                                            @Html.HiddenFor(c => c.TotExpense)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Issue Slip Date.</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WFVI.Vslipdate, new { placeholder = "Issue Slip Date", @class = "form-control  text-uppercase", @readonly = "True" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Vehicle No.
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WFVI.vehno, new { placeholder = "Vehicle No.", @class = "form-control  text-uppercase", @readonly = "True" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Driver</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WFVI.DriverName, new { placeholder = "Driver", @class = "form-control  text-uppercase", @readonly = "True" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Driver License No
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WFVI.License_No, new { placeholder = "Driver License No", @class = "form-control  text-uppercase", @readonly = "True" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            License Valid upto
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WFVI.Valditydt, new { placeholder = "License Valid upto", @class = "form-control  text-uppercase", @readonly = "True" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Starting Location</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WFVI.TripSheet_StartLoc, new { placeholder = "Starting Location", @class = "form-control  text-uppercase", @readonly = "True" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            End Location
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WFVI.TripSheet_EndLoc, new { placeholder = "End Location", @class = "form-control  text-uppercase", @readonly = "True" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Category
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WFVI.Category, new { placeholder = "Category", @class = "form-control  text-uppercase", @readonly = "True" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Market/Own</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WFVI.Market_Own, new { placeholder = "Market/Own", @class = "form-control  text-uppercase", @readonly = "True" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Starting Km.
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WFVI.f_issue_startkm, new { placeholder = "Starting Km. Reading", @class = "form-control  text-uppercase", @readonly = "True" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Closing Km.
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WFVI.f_closure_closekm, new { placeholder = "Closing Km. Reading", @class = "form-control  text-uppercase", @readonly = "True" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Financial Close date</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WFVI.END_DT_TM, new { placeholder = "Financial Close date", @class = "form-control  text-uppercase", @readonly = "True" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Driver Settle. date
                                        </label>
                                        <div class="col-md-6">
                                            <div class="input-group date date-picker-DS" data-date-start-date="-5d" data-date-end-date="+0d">
                                                @Html.TextBoxFor(m => m.WFVI.settelDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.WFVI.settelDate).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy" ,@readonly=true })
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="FuleShlipEntry">
                                <div class="col-md-12">
                                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                                    <div class="portlet">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <h4> Driver Payment Detail</h4>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <table id="sample_1" class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="col-md-2">
                                                            Head
                                                        </th>
                                                        <th class="col-md-1">
                                                            Amount
                                                        </th>
                                                        <th class="col-md-1">
                                                            Approved Amount
                                                        </th>
                                                        <th class="col-md-2">
                                                        </th>
                                                        <th class="col-md-2">
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tr>
                                                    <td>
                                                        <label><b> Total Advance Paid</b></label>
                                                    </td>
                                                    <td>
                                                        <label style="COLOR: Blue;float:right">@Html.DisplayFor(m => m.TotAdvancePaid)</label>
                                                    </td>
                                                    <td><label style="COLOR: Blue;float:right">@Html.DisplayFor(m => m.TotAdvancePaidAppr)</label></td>
                                                    <td>
                                                        <b>Net Amount to Driver Payable(-)</b>
                                                    </td>
                                                    <td class="form-group">
                                                        @Html.TextBoxFor(m => m.AmtPaidToDriver, new { @class = "required required2", @Style = "background-color: LightSkyBlue", @type = "number", @min = 0 ,@readonly="true"})
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label><b> Total Expenses</b></label>
                                                    </td>
                                                    <td>
                                                        <label style="COLOR: Blue;float:right">@Html.DisplayFor(m => m.TotExpense)</label>
                                                    </td>
                                                    <td><label style="COLOR: Blue;float:right">@Html.DisplayFor(m => m.TotExpenseAppr)</label></td>
                                                    <td>
                                                        <b>Net Amount to Driver Receivable(+)</b>
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.AmtRecvdFromDriver, new { @class = "required2", @Style = "background-color: LightSkyBlue", @readonly = "true", @type = "number", @min = 0 })

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>  - Diesel expense against cash</label>
                                                    </td>
                                                    <td>
                                                        <label style="COLOR: Blue;float:right">@Html.DisplayFor(m => m.TotDieselCashExp)</label>
                                                    </td>
                                                    <td><label style="COLOR: Blue;float:right">@Html.DisplayFor(m => m.TotDieselCashExpAppr)</label></td>
                                                    <td>
                                                        <b>Trip Sheet balance to driver ledger <span id="driverDRCR"></span></b>
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.BalToDriverLedger, new { @class = "required2", @Style = "background-color: LightSkyBlue", @readonly = true, @type = "number", @min = 0 })

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label> - Repair Expense</label>
                                                    </td>
                                                    <td>
                                                        <label style="COLOR: Blue;float:right">@Html.DisplayFor(m => m.TotRepairExp)</label>
                                                    </td>
                                                    <td><label style="COLOR: Blue;float:right">@Html.DisplayFor(m => m.TotRepairExpAppr)</label></td>
                                                    <td>
                                                        <b>Opening Fuel (Ltr)</b>
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.OpeningFuel, new { @class = "required2", @Style = "background-color: LightSkyBlue", @readonly = ViewBag.txtOpeningFuel })

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>  - Spare Expense</label>
                                                    </td>
                                                    <td>
                                                        <label style="COLOR: Blue;float:right">@Html.DisplayFor(m => m.TotSpareExp)</label>
                                                    </td>
                                                    <td><label style="COLOR: Blue;float:right">@Html.DisplayFor(m => m.TotSpareExpAppr)</label></td>
                                                    <td>
                                                        <b>Total Fuel Filled (Ltr)</b>
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.TotalFuelFilled, new { @class = "required2", @Style = "background-color: LightSkyBlue", @readonly = ViewBag.TotalFuelFilled })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>- Incidental Deduction Expense</label>
                                                    </td>
                                                    <td>
                                                        <label style="COLOR: Blue;float:right">@Html.DisplayFor(m => m.TotIncDedExp)</label>
                                                    </td>
                                                    <td><label style="COLOR: Blue;float:right">@Html.DisplayFor(m => m.TotIncDedExpAppr)</label></td>
                                                    <td>
                                                        <b>Fuel Rate (per Ltr)</b>
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.txtFuelRate, new { @class = "required2", @Style = "background-color: LightSkyBlue", @readonly = ViewBag.txtFuelRate })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>- Claims Expense</label>
                                                    </td>
                                                    <td>
                                                        <label style="COLOR: Blue;float:right">@Html.DisplayFor(m => m.TotClaimExp)</label>
                                                    </td>
                                                    <td><label style="COLOR: Blue;float:right">@Html.DisplayFor(m => m.TotClaimExpAppr)</label></td>
                                                    <td>
                                                        <b>Approved Fuel (Ltr)</b>
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.txtApprovedFuel, new { @class = "required2", @Style = "background-color: LightSkyBlue", @readonly = ViewBag.txtApprovedFuel })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>- Enroute Expense</label>
                                                    </td>
                                                    <td>
                                                        <label style="COLOR: Blue;float:right">@Html.DisplayFor(m => m.TotEnrouteExp)</label>
                                                    </td>
                                                    <td><label style="COLOR: red;float:right">@Html.DisplayFor(m => m.TotEnrouteExpAppr)</label></td>
                                                    <td>
                                                        <b>Extra Diesel (Ltr)</b>

                                                        @Html.DropDownListFor(c => c.ddlPlusMinus, new SelectList(PlusMinusList, "Text", "Value"), "", new { @class = "form-control select2", @Style = "width:68px;border-style: Groove" })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.txtExtraDiesel, new { @class = "required2", @Style = "background-color: LightSkyBlue", @readonly = ViewBag.txtExtraDiesel })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label><b> Diesel expense against card </b></label>
                                                    </td>
                                                    <td>
                                                        <label style="COLOR: Blue;float:right">@Html.DisplayFor(m => m.TotDieselCardExp)</label>
                                                    </td>
                                                    <td><label style="COLOR: Blue;float:right">@Html.DisplayFor(m => m.TotDieselCardExpAppr)</label></td>
                                                    <td>
                                                        <b>Net Fuel Carry Forward (in Ltrs)</b>
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.txtFuelCarryFwd, new { @class = "required2", @Style = "background-color: LightSkyBlue", @readonly = ViewBag.txtFuelCarryFwd })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label><b> Diesel expense against credit</b></label>
                                                    </td>
                                                    <td>
                                                        <label style="COLOR: Blue;float:right">@Html.DisplayFor(m => m.TotDieselCreditExp)</label>
                                                    </td>
                                                    <td><label style="COLOR: Blue;float:right">@Html.DisplayFor(m => m.TotDieselCreditExpAppr)</label></td>
                                                    <td>
                                                        <b>Remarks</b>
                                                    </td>
                                                    <td>
                                                        @Html.TextAreaFor(m => m.remark, new { @Style = "background-color: #EBEBE4;border-style: Groove;", @readonly = ViewBag.txtRemarks })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label><b> Net amount</b></label>
                                                    </td>
                                                    <td>
                                                        <label style="COLOR: Blue;float:right">@Html.DisplayFor(m => m.NetExpAmt)</label>
                                                        @Html.Hidden("NextExpAmount", Model.NetExpAmt)
                                                    </td>
                                                    <td><label style="COLOR: Blue;float:right">@Html.DisplayFor(m => m.NetExpAmtAppr)</label></td>
                                                    <td>
                                                        <b>Trip Sheet net balance</b>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet box @ViewBag.TableBoxColor">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-edit"></i>Payment Details
                                            </div>
                                        </div>
                                        <div class="portlet-body ">
                                            <div class="form-body">
                                                <div class="row">
                                                    @{Html.RenderPartial("../UserControls/_PaymentControl", Model.PC);}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions fluid">
                                <div class="col-md-offset-4 col-md-8">
                                    <a class="btn btn-sm default controls" id="btnBack" href="@Url.Content("~/Fleet/DriverSettlementCriteria")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
                                    <button type="button" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
@*}
else
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-danger fade in center">
            <h2 class="alert-heading">Opps! No Access</h2>
            <h4>
                This Trip is belongs to Previous Financial Year<b>(@FinYearStartDate.AddYears(-1).Year - @FinYearStartDate.Year)</b>,
                you can not close from Current Year<b>(@FinYearStartDate.Year - @FinYearStartDate.AddYears(1).Year)</b>. To do please go to Previous Financial Year<b>(@FinYearStartDate.AddYears(-1).Year - @FinYearStartDate.Year)</b> or contact your administrator.
            </h4>
        </div>
    </div>
}*@
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var handleDatetimePicker = function () {

            if (jQuery().datepicker) {
                $(".date-picker").datepicker("remove");
                $(".date-picker").children('input').val($("#WFVI_settelDate").val());
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: new Date('@Model.WFVI.END_DT_TM'),
                    endDate: new Date('@DSCloseDate'),
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                });

                $('.date-picker-DS').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: new Date('@Model.WFVI.END_DT_TM'),
                    endDate: new Date('@DSCloseDate'),
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                });

                $("#WFVI_settelDate").change(function () {
                    $(".date-picker").datepicker("remove");
                    $(".date-picker").children('input').val("");
                    $(".date-picker").datepicker({
                        isRTL: App.isRTL(),
                        format: "dd M yyyy",
                        autoclose: true,
                        startDate: new Date($("#WFVI_settelDate").val()),
                        endDate: new Date('@DSCloseDate'),
                        pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    });
                });
            }
        }

        var Formvalidate = function (DomainName) {
            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);
            form.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                },
                submitHandler: function (form) {

                }
            });
        }

        var handleSelect2 = function () {
            $('.select2').select2({
                placeholder: "Select an option",
            });
        }
        //var PaymentControl = function (DomainName) {

        //    $('.date-picker').datepicker({
        //        isRTL: App.isRTL(),
        //        format: "dd M yyyy",
        //        autoclose: true,
        //        pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
        //        todayBtn: true
        //    });
        //    $('body').removeClass("modal-open");

        //    $("#PaymentMode").change(function () {

        //        //   alert("Hello " + $(this).val());

        //        App.blockUI({ boxed: true });

        //        $("#CashAmount").attr("readonly", true);
        //        $("#ChequeAmount").attr("readonly", true);


        //        $("#CashLedger").change(function () {

        //            $("#CashLedgerName").val($(this).select2('data').text);

        //        });

        //        $("#BankLedger").change(function () {

        //            $("#BankLedgerName").val($(this).select2('data').text);

        //        });

        //        if ($(this).val().toUpperCase() == "CASH") {
        //            $(".clsBANK").hide();
        //            $(".clsCASH").show();

        //            $(".clsBANK").children("[input]").find('form-control').removeClass('required');
        //            $("#CashAmount").val($("#PayAmount").val());

        //            var StrURL = DomainName + "/Payment/GetLedger?Category=Cash";
        //            FillDropDownfromOther("CashLedger", StrURL, "Cash Ledger");
        //        }
        //        else if ($(this).val().toUpperCase() == "BANK") {
        //            $(".clsBANK").show();
        //            $(".clsCASH").hide();

        //            var StrURL = DomainName + "/Payment/GetLedger?Category=Bank";
        //            FillDropDownfromOther("BankLedger", StrURL, "Bank Ledger");

        //            $("#ChequeAmount").val($("#PayAmount").val());
        //        }
        //        else if ($(this).val().toUpperCase() == "BOTH") {

        //            $(".clsBANK").show();
        //            $(".clsCASH").show();


        //            $("#CashAmount").val("0");
        //            $("#ChequeAmount").val("0");

        //            $("#CashAmount").attr("readonly", false);
        //            $("#ChequeAmount").attr("readonly", false);

        //            var StrURL = DomainName + "/Payment/GetLedger?Category=Cash";
        //            FillDropDownfromOther("CashLedger", StrURL, "Cash Ledger");

        //            StrURL = DomainName + "/Payment/GetLedger?Category=Bank";
        //            FillDropDownfromOther("BankLedger", StrURL, "Bank Ledger");
        //        }
        //    });
        //}
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                handleDatetimePicker();
                PaymentControl(DomainName);

                $("#btnSubmit").click(function () {
                    if ($("#submit_form").valid()) {
                        App.blockUI({ boxed: true });
                        document.forms[0].submit()
                    }
                    else {
                        return false;
                    }
                });
                $("#btnBack").click(function () {
                    App.blockUI({ boxed: true });
                });

                $("#AmtPaidToDriver").live('blur', function () {
                    if ('@ViewBag.AmtRecvdFromDriver' == "true") {
                        var driverledger = 0;
                        driverledger = parseFloat(parseFloat($("#NextExpAmount").val()) + parseFloat($("#AmtPaidToDriver").val()) - parseFloat($("#AmtRecvdFromDriver").val()))
                        if (driverledger < 0) {
                            $("#driverDRCR").text('(CR)');
                        }
                        else {
                            $("#driverDRCR").text('(DR)');
                        }
                        $("#BalToDriverLedger").val(Math.abs(driverledger));

                        $("#PayAmount").val($("#AmtPaidToDriver").val());
                    }
                });

                $("#AmtRecvdFromDriver").live('blur', function () {
                    if ('@ViewBag.AmtRecvdFromDriver' == "false") {
                        var driverledger = 0;
                        driverledger = parseFloat(parseFloat($("#AmtRecvdFromDriver").val()) - parseFloat($("#NextExpAmount").val()) + parseFloat($("#AmtPaidToDriver").val()))
                        if (driverledger < 0) {
                            $("#driverDRCR").text('(DR)');
                        }
                        else {
                            $("#driverDRCR").text('(CR)');
                        }
                        $("#BalToDriverLedger").val(Math.abs(driverledger));

                        $("#PayAmount").val($("#AmtRecvdFromDriver").val());
                    }
                });


                if ('@ViewBag.AmtRecvdFromDriver' == "false") {
                    //$("#AmtRecvdFromDriver").attr('readonly', false);
                    $("#AmtPaidToDriver").attr('readonly', true)
                    $("#AmtRecvdFromDriver").focus();
                }
                else {
                    $("#AmtPaidToDriver").focus();
                }

                if ($("#NextExpAmount").val() == 0) {
                    $("#AmtPaidToDriver").attr('readonly', true)
                    $("#AmtPaidToDriver").focus();
                }
            }
        };
    }();
</script>
