﻿@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@model Fleet.ViewModels.vw_FleetFuelMgt

@{
    ViewBag.Title = "FleetFuelMgtCriteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var TripTypeList = new List<SelectListItem>();
    TripTypeList.Add(new SelectListItem { Text = "Enter Manual TripSheet No.", Value = "M" });
    TripTypeList.Add(new SelectListItem { Text = "Enter Trip Sheet No.", Value = "T" });
    var actionList = new List<SelectListItem>();
    if (Model.Mode == "Add")
    {
        actionList.Add(new SelectListItem { Text = "Fuel Slip Entry", Value = "FSE" });
    }
    else
    {
        actionList.Add(new SelectListItem { Text = "Fuel Slip Edit", Value = "FSEEDIT" });
    }
  

    var ThcTypeList = new List<SelectListItem>();
    ThcTypeList.Add(new SelectListItem { Text = "Enter THC No.", Value = "T" });

    var ThcactionList = new List<SelectListItem>();
    ThcactionList.Add(new SelectListItem { Text = "THC", Value = "THC" });


}
<div class="row">
    <div class="col-md-8">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>&nbsp;Fleet Fuel Entry Criteria
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        You have some form errors. Please check below.
                    </div>

                    <div class="alert alert-success display-hide">
                        <button class="close" data-close="alert"></button>
                        Your form validation is successful!
                    </div>

                    @using (Html.BeginForm("FuelTripSheetAllList", "Fleet", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Select Type
                                @Html.HiddenFor(m => m.FuelFilterType)
                                @Html.HiddenFor(m => m.Mode)@*add/edit*@
                            </label>
                            <div class="col-md-6" style="margin-top: -3px;">
                                <div class="radio-list col-md-12">
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios3" id="optionsRadiosT" value="T" checked="checked">
                                        TRIP SHEET
                                    </label>
                                    @*<label class="radio-inline">
                                        <input type="radio" name="optionsRadios3" id="optionsRadiosH" value="H">
                                        THC
                                    </label>*@
                                </div>
                            </div>
                        </div>

                        <div class="row clsTripSheet">
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Select Tripsheet action
                                </label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.TripActionType, new SelectList(actionList, "Value", "Text"), new { @class = "select2 form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.TripFTType, new SelectList(TripTypeList, "Value", "Text","T"), new { @class = "select2 form-control pull-right", @style = "width:192px;" })
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(c => c.TripSheetNo, new { placeholder = "Trip Sheet No.", @class = "form-control " })
                                </div>
                            </div>
                        </div>

                        <div class="row clsTHC">
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Select THC action
                                </label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.THCActionType, new SelectList(ThcactionList, "Value", "Text"), new { @class = "select2 form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.THCFTType, new SelectList(ThcTypeList, "Value", "Text"), new { @class = "select2 form-control pull-right", @style = "width:192px;" })
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(c => c.THCNo, new { placeholder = "THC No.", @class = "form-control " })
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="control-label col-md-4">
                            </label>
                            <div class="col-md-6">
                                <b>OR</b>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Select Date
                                @Html.HiddenFor(c => c.FromDate)
                                @Html.HiddenFor(c => c.ToDate)
                            </label>
                            <div class="col-md-4">
                                <div id="reportrange" class="btn default">
                                    <i class="fa fa-calendar"></i>
                                    &nbsp;
                                    <span></span>
                                    <b class="fa fa-angle-down"></b>
                                </div>
                            </div>
                        </div>
                        @*if (Model.Mode == "Add")
                    {
                        <div id="divlist">
                            <div class="col-md-12">
                                <div class="portlet-body">
                                    <div class="form-body">
                                        @Html.Partial("_TripSheetAddList", Model)
                                    </div>
                                </div>
                            </div>
                        </div>
                    }*@

                    }
                </div>
                <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <button type="submit" id="btnSubmit" class="btn btn-sm blue controls"><i class="fa fa-search"></i>&nbsp;Search</button>
                    <button type="button" id="btnPrepareManifest" class="btn btn-sm blue controls" style="display:none"><i class="fa fa-check"></i>&nbsp;Prepare Sheet</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }
            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                //maxDate: '12/31/2014',
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#FromDate').val(start.format('MMMM D, YYYY'));
                     $('#ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ToDate').val(moment().format('MMMM D, YYYY'));
        }

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.forms["form_sample"].submit()
                }
            });
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);
                handleDateRangePickers();
                $('.clsTHC').hide();
                $('#divList').hide();
                //$('#TripSheetNo').addClass("required");

                var rdoval = "T";
                $("input[name='optionsRadios3']").on("change", function () {
                    rdoval = this.value;
                    if (rdoval == "") {
                        alert("plz select value")
                    }
                    if (rdoval == "T") {
                        $('.clsTHC').hide();
                        $('.clsTripSheet').show();
                        //$('#TripSheetNo').addClass("required");
                        //$('#THCNo').removeClass("required");
                    }
                    else {
                        $('.clsTHC').show();
                        $('.clsTripSheet').hide();
                        //$('#TripSheetNo').removeClass("required");
                        //$('#THCNo').addClass("required");
                    }
                });

                $('#btnSubmit').click(function () {
                    if (!$('#form_sample').valid()) {
                        return false;
                    }
                    $('#FuelFilterType').val(rdoval);
                    $('#form_sample').submit()
                    //$.ajax({
                    //    url: DomainName + "/Fleet/FuelTripSheetList",
                    //    type: 'POST',
                    //    data: $('#form_sample').serialize(),
                    //    success: function (html) {
                    //        $('#divlist').html(html)

                    //        // App.unblockUI();
                    //    },
                    //    error: function (req, status, error) {
                    //        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    //        //  App.unblockUI();
                    //    }
                    //});

                });

            }
        }
    }();


</script>
