﻿@{
    ViewBag.Title = "Fleet Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-3 col-md-6">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-bars"></i>@ViewBag.Title
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <th class="col-md-6">
                                Vehicle Part
                            </th>
                            <th>
                                <a href="@Url.Content("~/Fleet/VehiclePartAdd")">Add | Edit</a>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Document Type Master
                            </th>
                            <th>
                                <a href="@Url.Content("~/Fleet/DocTypeList")">Add | Edit </a>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Vehicle Document
                            </th>
                            <th>
                                <a href="@Url.Content("~/Fleet/DocumentEntry?Flag=Add")"> Add </a> |
                                <a href="@Url.Content("~/Fleet/DocumentEntryCriteriaList?Flag=Edit")"> Edit </a>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Driver
                            </th>
                            <th>
                                <a href="@Url.Content("~/Fleet/AddEditDriver")"> Add </a> |
                                <a href="@Url.Content("~/Fleet/DriverList")"> Edit </a>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Fuel Brand Master
                            </th>
                            <th>
                                <a href="@Url.Content("~/Fleet/FuelBrandMaster")">Add</a> |
                                <a href="@Url.Content("~/Fleet/FuelBrandList")">Edit</a>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Fuel Card Master
                            </th>
                            <th>
                                <a href="@Url.Content("~/Fleet/FuelCardMaster")">Add</a> |
                                <a href="@Url.Content("~/Fleet/FuelCardList")">Edit</a>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Trip Route Master
                            </th>
                            <th>
                                <a href="@Url.Content("~/Fleet/AddEditTripRoute")">Add</a> |
                                <a href="@Url.Content("~/Fleet/TripRoute")">Edit</a> |
                                View | Download XLS
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Trip Route Expense Master (Others)
                            </th>
                            <th>

                                <a href="@Url.Content("~/Fleet/AddEditTripRouteExpence")">Add</a> |
                                <a href="@Url.Content("~/Fleet/TripRouteExpList")">Edit</a> |
                                View
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Trip Route Expense Master - Fuel
                            </th>
                            <th>
                                <a href="@Url.Content("~/Fleet/AddEditTripRouteFuelExpence")">Add</a> |
                                <a href="@Url.Content("~/Fleet/TripRouteFuelExpList")">Edit</a> |
                                View| Download XLS
                            </th>
                        </tr>
                        <tr>
                            <th>
                                CheckList
                            </th>
                            <th>
                                <a href="@Url.Content("~/Fleet/CheckList")">Add | Edit</a>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

