﻿@{
    ViewBag.Title = "FleetFuelDone";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string VSlipId = ViewBag.VSlipId;
}
 
<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i><b>Following document is generated</b>
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Document No.
                            </th>
                            <th>
                                View Print
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@VSlipId</b>
                            </td>
                            <td>
                                <a target="_blank" href="#" class="fa fa-print" id="ReportFrame"><b>&nbsp;View || Print</b></a>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                Click on Document Number for View and Print .
            </span>
        </div>
    </div>
</div>

<script type='text/javascript'>

    function ContraView(Voucherno) {
        var FinYear = '';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        var strPopupURL = "http://GUI/Finance/ViewPrint/Voucher%20Register/Print/ContraView.aspx?voucherno=" + Voucherno + "&printyn=N&FinYear=" + FinYear;
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;
    }

    var FormSamples = function (DomainName) {

        return {
            init: function (DomainName) {
            }
        };
    }();
</script>
