﻿@model Fleet.ViewModels.vw_FleetFuelList
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@using Fleet.Classes;
@using System.Linq;
@using System.Text;
@using System.Xml.Linq;
@{
    ViewBag.Title = "FuelTripSheetSubmit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.FleetService FS = new FleetDataService.FleetService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> FuelTypeList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "FSM" && c.CodeId != "2").ToList();
    List<Webx_Master_General> FuelVendorList = FS.GetFuelVendor(@ViewBag.BaseLocationCode);
}

@using (Html.BeginForm("FuelTripSheetSubmit", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;ATTACH FUEL SLIP
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body" id="tblLoadingList">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Issue Slip Id
                                    </label>
                                    <div class="col-md-6">
                                        <div class="col-md-6 margin-top-5 text-primary">
                                            <b>@Html.DisplayFor(c => c.VSlipNo, new { @class = "form-control" })</b>
                                            @Html.HiddenFor(m => m.VSlipNo)
                                            @Html.HiddenFor(m => m.Mode)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Issue Slip Date</label>
                                    <div class="col-md-6 margin-top-5 text-primary">
                                        <b>@Html.DisplayFor(c => c.VSlipDt, new { @class = "form-control" })</b>
                                        @Html.HiddenFor(m => m.VSlipDt)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Vehicle No.</label>
                                    <div class="col-md-6 margin-top-5 text-primary">
                                        <b> @Html.DisplayFor(c => c.VehicleNo, new { @class = "form-control" })</b>
                                        @Html.HiddenFor(m => m.VehicleNo)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Driver Name
                                    </label>
                                    <div class="col-md-6 margin-top-5 text-primary">
                                        <b>@Html.DisplayFor(c => c.DriverName, new { @class = "form-control" })</b>
                                        @Html.HiddenFor(m => m.DriverName)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Driver License No.</label>
                                    <div class="col-md-6 margin-top-5 text-primary">
                                        <b>@Html.DisplayFor(c => c.License_No, new { @class = "form-control" })</b>
                                        @Html.HiddenFor(m => m.License_No)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">License Valid upto</label>
                                    <div class="col-md-6 margin-top-5 text-primary">
                                        <b> @Html.DisplayFor(c => c.Valdity_dt, new { @class = "form-control" })</b>
                                        @Html.HiddenFor(m => m.Valdity_dt)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Starting Location
                                    </label>
                                    <div class="col-md-6 margin-top-5 text-primary">
                                        <b>@Html.DisplayFor(c => c.Tripsheet_StartLoc, new { @class = "form-control" })</b>
                                        @Html.HiddenFor(m => m.Tripsheet_StartLoc)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">End Location</label>
                                    <div class="col-md-6 margin-top-5 text-primary">
                                        <b>@Html.DisplayFor(c => c.Tripsheet_EndLoc, new { @class = "form-control" })</b>
                                        @Html.HiddenFor(m => m.Tripsheet_EndLoc)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Category</label>
                                    <div class="col-md-6 margin-top-5 text-primary">
                                        <b> @Html.DisplayFor(c => c.Category, new { @class = "form-control" })</b>
                                        @Html.HiddenFor(m => m.Category)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Market/Own
                                    </label>
                                    <div class="col-md-6 margin-top-5 text-primary">
                                        <b>@Html.DisplayFor(c => c.Market_Own, new { @class = "form-control" })</b>
                                        @Html.HiddenFor(m => m.Market_Own)
                                    </div>
                                </div>
                            </div>
                            @*@if (Model.Category == "Internal Usage")
                                {
                                    <div class="col-md-4 CustcodeMarket">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">
                                                Customer Code/Name
                                            </label>
                                            <div class="col-md-6 margin-top-5 text-primary">
                                                <b>@Html.DisplayFor(c => c.Market_Own, new { @class = "form-control" })</b>
                                            </div>
                                        </div>
                                    </div>
                                }*@


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Driver Balance</label>
                                    <div class="col-md-6 margin-top-5 text-primary">
                                        -----------------------------
                                        @* <b>@Html.DisplayFor(c => c.Tripsheet_EndLoc, new { @class = "form-control" })</b>*@
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-body" id="tblThcList">
                        <table class="table table-striped table-bordered table-hover table-full-width center" id="Sample1">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        Sr. No.
                                    </th>
                                    <th class="center">
                                        Slip Type (Fuel/Cash)
                                    </th>
                                    <th class="center">
                                        Fuel/Cash Slip No.
                                    </th>
                                    <th class="center">
                                        Fuel/Cash Vendor
                                    </th>
                                    <th class="center">
                                        Quantity in Liters
                                    </th>
                                    <th class="center">
                                        Rate
                                    </th>
                                    <th class="center">
                                        Amount
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="Advice">
                                @foreach (var item in Model.FFRList)
                                {
                                    Html.RenderPartial("_FuelTripListPartial", item);
                                }
                            </tbody>
                            @if (@ViewBag.mode == "FSE")
                            {
                                <tr>
                                    <th class="center">

                                    </th>
                                    <th class="center">
                                        @Html.DropDownListFor(model => model.FFRModel.SLIPTYPE, new SelectList(FuelTypeList, "CodeId", "CodeDesc"), "", new { @class = "select2 form-control required" })
                                    </th>
                                    <th class="center">
                                        @Html.TextBoxFor(c => c.FFRModel.FUELSLIPNO, new { placeholder = "Fuel/Cash Slip No.", @class = "form-control required" })
                                    </th>
                                    <th class="center">
                                        @Html.DropDownListFor(model => model.FFRModel.FUELVENDOR, new SelectList(FuelVendorList, "CodeId", "CodeDesc"), "", new { @class = "select2 form-control required" })
                                    </th>
                                    <th class="center">
                                        @Html.TextBoxFor(c => c.FFRModel.QUANTITYINLITER, new { placeholder = "Quantity in Liters", @class = "form-control ", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                    </th>
                                    <th class="center">
                                        @Html.TextBoxFor(c => c.FFRModel.RATE, new { placeholder = "Rate", @class = "form-control ", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                    </th>
                                    <th class="center">
                                        @Html.TextBoxFor(c => c.FFRModel.AMOUNT, new { placeholder = "Amount", @class = "form-control ", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                    </th>
                                </tr>
                            }
                            @*<tr>
                                    <th class="center">

                                    </th>
                                    <th class="center">
                                    </th>
                                    <th class="center">
                                    </th>
                                    <th class="center">
                                        Total
                                    </th>
                                    <th class="center">
                                        @Html.TextBoxFor(c => c.FFRModel.QUANTITYINLITER, new { placeholder = "Quantity in Liters", @class = "form-control ", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                    </th>
                                    <th class="center">
                                        @Html.TextBoxFor(c => c.FFRModel.RATE, new { placeholder = "Rate", @class = "form-control ", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                    </th>
                                    <th class="center">
                                        @Html.TextBoxFor(c => c.FFRModel.AMOUNT, new { placeholder = "Amount", @class = "form-control ", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                    </th>
                                </tr>*@
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;submit</button>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();

                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }

        var Events = function (DomainName) {
            var handleSelect2 = function () {
                $('.select2').select2({
                    placeholder: "Select an option",
                });
            }
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);

                Events(DomainName);
                @foreach (var item in Model.FFRList)
                {
                    var ContId = @item.SRNO;

                     <text>
                var qty = 0, Rate = 0;
                $("#TripAddList_" + "@ContId" + "__QUANTITYINLITER").live('change', function () {
                    //alert("@ContId");
                    qty = $(this).val();
                    Rate = $("#TripAddList_" + "@ContId" + "__RATE").val();
                    //alert(parseFloat(qty) * parseFloat(Rate));
                    $('#TripAddList_' + @ContId + '__AMOUNT').val(parseFloat(qty) * parseFloat(Rate));
                });
                $("#TripAddList_" + "@ContId" + "__RATE").live('change', function () {
                    Rate = $(this).val();
                    qty = $("#TripAddList_" + "@ContId" + "__QUANTITYINLITER").val();
                    $('#TripAddList_' +@ContId +'__AMOUNT').val(parseFloat(qty) * parseFloat(Rate));
                });
                $("#TripAddList_" + "@ContId" + "__SLIPTYPE").live('change', function () {
                    var SLIPTYPE = $(this).val();
                    if (SLIPTYPE == "1") {
                        $("#TripAddList_" + "@ContId" + "__QUANTITYINLITER").attr("readonly", false);
                        $("#TripAddList_" + "@ContId" + "__RATE").attr("readonly", false);
                        $("#TripAddList_" + "@ContId" + "__AMOUNT").attr("readonly", true);
                        //$('#FFRModel_AMOUNT').val("");
                    }
                    if (SLIPTYPE == "2") {
                        $("#TripAddList_" + "@ContId" + "__QUANTITYINLITER").attr("readonly", true);
                        $("#TripAddList_" + "@ContId" + "__RATE").attr("readonly", true);
                        $("#TripAddList_" + "@ContId" + "__AMOUNT").attr("readonly", false);
                        $("#TripAddList_" + "@ContId" + "__QUANTITYINLITER").val("");
                        $("#TripAddList_" + "@ContId" + "__RATE").val("");
                        $("#TripAddList_" + "@ContId" + "__AMOUNT").val("");
                    }
                })
                </text>
                 }



                $('#btnSubmit').click(function () {
                    if (!$('#form_sample').valid()) {
                        return false;
                    }



                });



            }
        }
    }();
</script>
