﻿@model IEnumerable<Fleet.ViewModels.WEBX_FLEET_FUELCARD>

@{
    ViewBag.Title = "Fuel Card List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="display:none;">
    <div class="col-md-6">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;Fuel Card  List
                </div>
                <div class="caption pull-right">
                    <a class="btn default btn-xs" href="@Url.Content("~/Fleet/FleetMaster")">
                        <i class="fa fa-arrow-left"></i>
                        Back to Criteria
                    </a>
                    <a class="btn default btn-xs" href="@Url.Content("~/Fleet/FuelCardMaster")">
                        <i class="fa fa-plus"></i>
                        Add New Fuel Card 
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="tblLocationList" style="overflow-x: scroll">
                    <thead>
                        <tr>
                            <th class="center">
                                Fuel Card ID
                            </th>
                            <th class="center">
                                Manual Fuel Card No
                            </th>
                            <th class="center">Vehicle No.</th>
                            <th class="center">
                                Active Flag
                            </th>
                            <th class="center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="center">
                                    @item.Fuel_Card_ID
                                </td>
                                <td>
                                    @item.Manual_Fuel_Card_No
                                </td>
                                <td class="center">
                                    @item.Vehicle_No
                                </td>
                                <td class="center">
                                    @if (item.Active_Flag == "Y")
                                    {
                                        <span class="badge badge-success">Yes</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">No</span>
                                    }
                                </td>
                                <td class="center">
                                    <a href="@Url.Content("~/Fleet/FuelCardMaster/" + item.Fuel_Card_ID)" class="btn default btn-xs blue-stripe tooltips"><i class="fa fa-pencil"></i>&nbsp;Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    var FormComponents = function (DomainName) {

        var Events = function (DomainName) {
            $("#tblLocationList a , .caption a").live("click", function (e) {
                App.blockUI({ boxed: true });
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Events(DomainName);
                initTableById('tblLocationList');
                $("#tblLocationList").parents('.row').show(500);
            }
        }
    }();
</script>

