﻿@model Fleet.ViewModels.FUELCARDViewModel
@using FleetDataService.Models
@using Fleet.ViewModels;
@{
    ViewBag.Title = "Fuel Card Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    FleetDataService.FleetService FS = new FleetDataService.FleetService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> FuelTypeList = MS.GetGeneralMasterObject().Where(c => c.CodeType.ToUpper() == "FUELTY" && c.StatusCode.ToUpper() == "Y").ToList();
    List<webx_acctinfo> groupList = FS.GetGroupCode();
    List<webx_VEHICLE_HDR> VehicleList = new List<webx_VEHICLE_HDR>();
    if (Model.FCM.Fuel_Card_ID == 0)
    {
        VehicleList = MS.GetVehicleObject().Where(m => m.ACTIVEFLAG == "Y" && (m.Diesel_Card_YN == null ? "N" : m.Diesel_Card_YN) == "N").ToList();
        Model.FCM.Issue_Date = System.DateTime.Now;
        Model.FCM.Expiry_Date = System.DateTime.Now;
    }
    else
    {
        VehicleList = MS.GetVehicleObject().Where(m => m.ACTIVEFLAG == "Y").ToList();
    }
    
    List<FuelBrandModel> FBList = FS.GetFuelBrandList();
    //List<SelectListItem> FBList = new List<SelectListItem>(){
    //                new SelectListItem{ Text="", Value = "" },
    //};
    string ActiveFlag = "";
    if ((Model.FCM.Active_Flag != null && Model.FCM.Active_Flag == "Y") || Model.EditFlag == "false")
    {
        ActiveFlag = "checked";
    }
}
<div class="row">
    <div class="col-md-8">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-hide">
                        <button class="close" data-close="alert"></button>
                        Your form validation is successful!
                    </div>
                    @using (Html.BeginForm("FuelCardMasterSubmit", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Manual Card No.:
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.FCM.Manual_Fuel_Card_No, new { @class = "required required2 form-control", @placeholder = "Manual Fuel Card No" })
                                        @Html.HiddenFor(m => m.FCM.Fuel_Card_ID)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Vendor Code:
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.FCM.VendorCode, new { placeholder = "Select Vendor Code", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Issue Date:
                                    </label>
                                    <div class="col-md-6">
                                        <div class="input-group date frmdate-picker">
                                            @Html.TextBoxFor(c => c.FCM.Issue_Date, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.FCM.Issue_Date).ToString("dd MMM yyyy")), new { @class = " form-control required required2 form_meridian_datetime ", @readonly = "true" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Expiry Date:
                                    </label>
                                    <div class="col-md-6">
                                        <div class="input-group date date-picker">
                                            @Html.TextBoxFor(c => c.FCM.Expiry_Date, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.FCM.Expiry_Date).ToString("dd MMM yyyy")), new { @class = " form-control required required2 form_meridian_datetime ", @readonly = "true" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Vehicle Number:
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.FCM.Vehicle_No, new SelectList(VehicleList, "VEHNO", "VEHNO"), "", new { @class = "select2 form-control required required2 clsall" })
                                        @*@Html.TextBoxFor(m => m.FCM.Vehicle_No, new { @class = "required required2 form-control", @placeholder = "Vehicle No" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Fuel Type:
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.FCM.Fuel_Type_ID, new SelectList(FuelTypeList, "CodeId", "CodeDesc", Model.FCM.Fuel_Type_ID), "", new { @class = "select2 form-control clsall" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Fuel Brand:
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.FCM.Fuel_Brand_ID, new SelectList(FBList, "Fuel_Brand_ID", "Fuel_Brand_Name "), "", new { @class = "select2 form-control", @readonly = "true", @placeholder = "Select Fuel Type" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        FO Ledger:
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.FCM.parentAcccode, new SelectList(groupList, "Acccode", "Accdesc"), "", new { @class = "select2 form-control required required2" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Active:
                                    </label>
                                    <div class="col-md-6 chkactive">
                                        @Html.HiddenFor(m => m.FCM.Active_Flag)
                                        <input type="checkbox" id="ActiveFlag" @ActiveFlag />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-4 col-md-12">
                                    <a class="btn btn-sm default controls" href="@Url.Content("~/Fleet/FuelCardList")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
                                    <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@*<div>
        @{
            Html.RenderPartial("_FuelCardMaster", Model);
        }
    </div>*@
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.forms["form_sample"].submit()
                }
            });
        }

        var Events = function (DomainName) {

           
            $('#btnSubmit').click(function () {
                if (!$('#form_sample').valid()) {
                    return false;
                }
                App.blockUI({ boxed: true });
                $.ajax({
                    url: $('#form_sample').attr('action'),
                    type: 'POST',
                    data: $('#form_sample').serialize(),
                    success: function (result) {
                        if (result) {
                            TosterNotification("success", "Record has been updated successfully..!!", "Success");
                            setTimeout(function () {
                                window.location = DomainName + "/Fleet/FuelCardList";
                            }, 1500);
                        }
                        else {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        App.unblockUI();
                    }
                });
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                handleDatePicker();
                Events(DomainName);

                $('#ActiveFlag').change(function () {
                    $('#FCM_Active_Flag').val($(this).is(':checked') ? 'Y' : 'N')
                });
                $("#ActiveFlag").trigger("change");
                $('.frmdate-picker').datepicker({
                    isRTL: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    startDate: new Date('@Model.FCM.Issue_Date'),
                    todayBtn: true
                });
                //$('#FCM_Fuel_Brand_ID').prop("readonly", true);
                JsonDDL('FCM_VendorCode', DomainName + '/Finance/GetVendor_NameJson', false);

                $("#FCM_Fuel_Type_ID").live('change', function () {
                   // $('#FCM_Fuel_Brand_ID').prop("readonly", false);
                    var StrURL = DomainName + '/Fleet/GetFuelBrand?FType=' + $(this).val();
                    $('#FCM_Fuel_Brand_ID').select2('data', null);
                    FillDropDownfromOther("FCM_Fuel_Brand_ID", StrURL, '');
                });

                if($("#FCM_Fuel_Card_ID").val()!="0")
                {
                    $("#FCM_Fuel_Type_ID").trigger("change");
                }
                    
                    
            }
        }
    }();
</script>
