﻿@{
    ViewBag.Title = "Internal Action List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var TYRE_ID = @ViewBag.TYRE_ID;
}

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>The Tyre has been Updated Successfully.
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Document Name
                            </th>
                            <th>
                                Back To Old Tyre Stock Updated
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@TYRE_ID</b>
                            </td>
                            <td class="center">
                                <a href="@Url.Content("~/Fleet/OldTyreStockCriteria")" class="btn btn-sm default controls blue"><i class="fa fa-arrow-left"></i>&nbsp;Back to Criteria</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


