﻿@model Fleet.ViewModels.JobApprovalViewModel
@{
    ViewBag.Title = "Job Approval List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
    int j = 1;
}

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@ViewBag.Header
        </div>
    </div>
    <div class="portlet-body">

        @using (Html.BeginForm("JobApprovalSubmit", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                    @Html.HiddenFor(m => m.Type)
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet-body flip-scroll">
                            <table id="container" class="table table-bordered table-striped table-condensed flip-content">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="center">
                                            #
                                        </th>
                                        <th class="center">
                                            Job Order No.
                                        </th>
                                        <th class="center">
                                            Job Order date
                                        </th>
                                        <th class="center">
                                            Vehicle No.
                                        </th>
                                        <th class="center">
                                            Job Card Type
                                        </th>
                                        <th class="center">
                                            Service Type
                                        </th>
                                        <th class="center">
                                            Job Order Status
                                        </th>
                                        <th class="center">
                                            Estimated Amount
                                        </th>
                                        <th class="center">
                                            Actual Amount
                                        </th>
                                        <th class="center">
                                            Approve
                                        </th>
                                        <th class="center">
                                            Reject
                                        </th>
                                        <th class="center">
                                            Remarks
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="Bodycontainer">
                                    @foreach (var itm in Model.List_JAGVW)
                                    {
                                        {
                                            itm.SrNo = i;
                                        }
                                        Html.RenderPartial("_Job_Approval_Partial", itm);
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

                <div class="form-actions fluid clsPageLoadHide clsSubmit">
                    <div class="col-md-offset-4 col-md-8">
                        <a class="btn btn-sm default controls" href="@Url.Action("JobApprovalCriteria", "Fleet")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
                        @if (Model.List_JAGVW.Count != 0)
                        {
                            <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {

                },
                messages: {

                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    //if (element.parents('.checkbox-list').size() > 0) {
                    //    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    //} else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                    //}
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //  form1.submit();
                }
            });
        }

        var SubmitClick = function (DomainName) {

            $('#btnSubmit').click(function () {

                var form = $('#form_sample');
                if (form.valid() == false) {
                    return false;
                }

                var IsCheckCount = 0;
                $(".clsIsCheck").each(function () {
                    IsCheckCount = IsCheckCount + 1;
                })

                App.blockUI({ boxed: true });
                document.forms["form_sample"].submit();
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);
                SubmitClick(DomainName);
                //  $("#btnSubmit").hide();

                @foreach(var item in Model.List_JAGVW)
                {
                    item.SrNo = j;
                    string ISCheck = "JobApprovalList_" + item.SrNo + "__IsCheck"; ;
                    string Approve = "JobApprovalList_" + item.SrNo + "__Approve"; ;
                    string Reject = "JobApprovalList_" + item.SrNo + "__Reject"; ;
                    string Remarks = "JobApprovalList_" + item.SrNo + "__JS_Approval_Close_Remarks";

                    <text>

                $("#@Approve").attr("value", "false");
                $("#@Reject").attr("value", "false");
                $("#@ISCheck").attr("value", "false");

                $("#@ISCheck").change(function () {

                    var checked = jQuery(this).is(":checked");

                    var IsCheckCount = "0";

                    if (checked) {
                        $("#@ISCheck").attr("value", "true");
                        $("#@Approve").removeAttr("disabled");
                        $("#@Reject").removeAttr("disabled");
                        $("#@Remarks").removeAttr("disabled");
                        $("#@Remarks").addClass("required");
                    }
                    else {
                        $("#@ISCheck").attr("value", "false");
                        $("#@Approve").attr("value", "false");
                        $("#@Reject").attr("value", "false");

                        $("#@Approve").attr("disabled", "disabled");
                        $("#@Reject").attr("disabled", "disabled");
                        $("#@Remarks").val("");
                        $("#@Remarks").attr("disabled", "disabled");
                        $("#@Approve").attr("checked", false);
                        $("#@Approve").parent('span').removeClass('checked');
                        $("#@Reject").attr("checked", false);
                        $("#@Reject").parent('span').removeClass('checked');
                        $("#@Remarks").removeClass("required");
                    }
                });

                $("#@Reject").change(function () {

                    var checked1 = jQuery(this).is(":checked");

                    if (checked1) {
                        $("#@Reject").attr("value", "true");
                        $("#@Approve").attr("checked", false);
                        $("#@Approve").parent('span').removeClass('checked');
                        $("#@Approve").attr("value", "false");
                    }
                    else {
                        $("#@Reject").attr("value", "false");
                    }
                });

                $("#@Approve").change(function () {

                    var checked2 = jQuery(this).is(":checked");

                    if (checked2) {
                        $("#@Approve").attr("value", "true");
                        $("#@Reject").attr("checked", false);
                        $("#@Reject").parent('span').removeClass('checked');
                        $("#@Reject").attr("value", "false");
                    }
                    else {
                        $("#@Approve").attr("value", "false");
                    }
                });


                </text>

                    j++;
                }
            }
        };
    }();

</script>
