﻿@model Fleet.ViewModels.JobOrderCriteria
@{
    ViewBag.Title = "Job Order Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> li = new List<SelectListItem>();
    li.Add(new SelectListItem { Text = "Both", Value = "B" });
    li.Add(new SelectListItem { Text = "Open", Value = "P" });
    li.Add(new SelectListItem { Text = "Closed", Value = "C" });
}

@using (Html.BeginForm("RetrivejobOrderList", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-10">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i> @ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Select  Date :
                                    </label>
                                    <div class="col-md-4">
                                        <div id="reportrange" class="btn default">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                        </div>
                                        @Html.HiddenFor(c => c.FromDate)
                                        @Html.HiddenFor(c => c.ToDate)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Job Order Status :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(m => m.OrderStatus, new SelectList(li, "Value", "Text", Model.OrderStatus), "", new { @class = "select2 form-control ", @placeholder = "Select Job Order Status" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                    </label>
                                    <div class="col-md-4">
                                        <b>OR</b>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Job Order No. :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.JobOrderNo, new { placeholder = "Job Order No.", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="button" id="btnSubmit" class="btn btn-sm blue controls ClsbtnSave"><i class="fa fa-search"></i>&nbsp;Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row OrderList">
        <div class="col-md-10">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;Job Order List
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <table class="table table-striped table-bordered table-hover" id="OrderList" style="overflow-x: scroll;">
                            <thead>
                                <tr></tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    var FormComponents = function (DomainName) {

        var loadData = function (DomainName, tblId, Type) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Fleet/GetOrderList';
            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: 'json',
                data: $('#form_sample').serialize(),
                success: function (result) {
                    $('#' + tblId).DataTable({
                        data: result,
                        paging: false,
                        "searching": false,
                        columns: GetHeaders(result[0]),
                        destroy: true,
                        "aoColumnDefs": [
                              {
                                  "aTargets": [7],
                                  "mRender": function (data, type, full) {
                                      return '<a href="../ViewPrint/JobOrder_ViewPrint?No=' + data + '" class="btn btn-xs default blue-stripe" onclick="window.open(this.href, \'\RCPL\'\,\'\left=20,top=20,width=900,height=620,toolbar=1,resizable=0\'\); return false;" id="ReportFrame"><b><i class="fa fa-print"></i>&nbsp;View/Print</b></a>';
                                  }
                              }
                        ],
                    });
                    initTableById(tblId);
                    $('#' + tblId).parents('.row').show(500);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }
        var Events = function (DomainName) {

            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');

            $('#btnSubmit').on('click', function () {
                FormValidate(DomainName);
                var Type = $("#Type").val();
                if ($('#form_sample').valid()) {
                    $(".OrderList").show();
                    loadData(DomainName, 'OrderList', Type);
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                $(".OrderList").hide();
                Events(DomainName);
            }
        }
    }();
</script>
