﻿@model  Fleet.ViewModels.JobOrderCancelViewModel

@{
    ViewBag.Title = "Job Order Cancel";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int i = 1;
}

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@ViewBag.Title
        </div>
    </div>
    <div class="portlet-body">

        @using (Html.BeginForm("JobOrder_Cancel", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-5">No Of Rows</label>
                            <div class="col-md-7">
                                @Html.TextBox("JobOrderCancel", "0", new { placeholder = "Job Order Cancel", @class = "input-small required2 form-control required", @number = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <a id="btnAddRows" class="btn  @ViewBag.TableBoxColor right">
                            Add New Row <i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet-body flip-scroll">
                            <table id="container" class="table table-bordered table-striped table-condensed flip-content">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="center">
                                            #
                                        </th>
                                        <th class="center">
                                            Job Order No.
                                        </th>
                                        <th class="center">
                                            Job Order Date
                                        </th>
                                        <th class="center">
                                            Vehicle No.
                                        </th>
                                        <th class="center">
                                            JobSheet Branch
                                        </th>
                                        <th class="center">
                                            Order Status
                                        </th>
                                        <th class="center">
                                            Cancellation Date
                                        </th>
                                        <th class="center">
                                            Cancel Reason
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="Bodycontainer">
                                    @foreach (var itm in Model.ListWFPJH)
                                    {
                                        itm.SrNo = i;
                                        Html.RenderPartial("_Job_Order_Cancel_Partial", itm);
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

                <div class="form-actions fluid clsPageLoadHide clsSubmit">
                    <div class="col-md-offset-4 col-md-8">
                        <a class="btn btn-sm default controls" href="@Url.Action("JobOrderCancel", "Fleet")"> <i class="fa fa-refresh"> </i>&nbsp;Reset</a>
                        <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {

                },
                messages: {

                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    //if (element.parents('.checkbox-list').size() > 0) {
                    //    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    //} else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                    //}
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    // form1.submit();
                }
            });
        }

        var SubmitClick = function (DomainName) {

            $('#btnSubmit').click(function () {

                var form = $('#form_sample');
                if (form.valid() == false) {
                    return false;
                }

                App.blockUI({ boxed: true });
                document.forms["form_sample"].submit();
            });
        }

        var AddTaskDetails = function (DomainName, itemIn) {

            var StrURL1 = DomainName + '/Fleet/_Job_Order_Cancel_Partial/' + itemIn;

            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    var Rid = itemIn;
                    $("#Bodycontainer").append(html);
                    ChangeEventHtml(DomainName, Rid);
                    select2Date();

                    $("#JobCancel_" + itemIn + "__JOB_ORDER_NO").focusout(function () {
                        if ($(this).val() != "") {
                            JobOrderNoChange(DomainName, "JobCancel_" + itemIn + "__JOB_ORDER_NO", itemIn);
                        }
                    });
                    //JobOrderNoChange(DomainName);

                    App.unblockUI();
                },
                error: function (req, status, error) {
                    alert("error " + req + "   " + status + "   " + error);
                }
            });
        }

        var ChangeEventHtml = function (DomainName, id) {

            var JOB_ORDER_DT = "JobCancel_" + id + "__JOB_ORDER_DT";
            var Cancel_Dt = "JobCancel_" + id + "__Cancel_Dt";

            $("#" + JOB_ORDER_DT).val("");
            $("#" + Cancel_Dt).val("");
        }

        var select2Date = function (DomainName) {

            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });

            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: new Date(),
                    endDate: new Date(),
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }

        var JobOrderNoChange = function (DomainName, ID, IDS) {

            App.blockUI({ boxed: true });


            var JobOrderVal = $("#" + ID).val();
            //var JobOrderId = $("#" + ID).attr("id");
            //var Id = "JobCancel_" + IDS;
            ID = $("#" + ID).attr("id").replace("__JOB_ORDER_NO", "");

            var StrURL1 = DomainName + '/Fleet/Check_Valid_JOB_ORDER_NO?JobOrderNo=' + JobOrderVal;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {

                    //alert(data.IsRecordFound);

                    if (data.IsRecordFound == "0") {
                        alert("Please Enter Valid Job Order No.")
                        $("#" + ID + "__JOB_ORDER_NO").val("");
                        $("#" + ID + "__JOB_ORDER_DT").val("");
                        $("#" + ID + "__VEHNO").val("");
                        $("#" + ID + "__JS_BRCD").val("");
                        $("#" + ID + "__ORDER_STATUS").val("");
                        $("#" + ID).val("");
                        //$("#" + ID).focus();
                        App.unblockUI();
                    }
                    else if (data.IsRecordFound == "1") {
                        $("#" + ID + "__JOB_ORDER_DT").val(data.Job_Order_Dt);
                        $("#" + ID + "__VEHNO").val(data.VEHNO);
                        $("#" + ID + "__JS_BRCD").val(data.JS_BRCD);
                        $("#" + ID + "__ORDER_STATUS").val(data.ORDER_STATUS);
                        //$("#" + ID).focus();
                        App.unblockUI();
                    }
                },
                error: function (req, status, error) {
                    alert("error " + req + "   " + status + "   " + error);
                    $("#" + ID + "__JOB_ORDER_DT").val("");
                    $("#" + ID + "__VEHNO").val("");
                    $("#" + ID + "__JS_BRCD").val("");
                    $("#" + ID + "__ORDER_STATUS").val("");
                    $("#" + ID).val("");
                    //$("#" + ID).focus();
                    App.unblockUI();

                }
            });

            // });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);
                SubmitClick(DomainName);
                ChangeEventHtml(DomainName, "1");
                select2Date();

                $("#JobCancel_1__JOB_ORDER_NO").focusout(function () {
                    if ($(this).val() != "") {
                        JobOrderNoChange(DomainName, "JobCancel_1__JOB_ORDER_NO", "1");
                    }
                });

                //JobOrderNoChange(DomainName);

                var itemIndex = $("#container input.iHidden").length + 1;
                $("#btnAddRows").click(function () {

                    App.blockUI({ boxed: true });
                    var TOTRows = $("#JobOrderCancel").val();
                    for (var i = 0; i <= TOTRows - 1; i++) {
                        setTimeout(function () {
                            itemIndex = itemIndex + 1;
                            AddTaskDetails(DomainName, itemIndex);

                        }, 250 * i);
                    }
                });
            }
        };
    }();

</script>
