﻿@{
    ViewBag.Title = "JobViewPrint";
    Layout = null;
}

@using System.Configuration
@model Fleet.ViewModels.JobTripViewPrintViewModel
@using MvcReportViewer;

@{
    var parameters = new List<KeyValuePair<string, object>>
    {

        new KeyValuePair<string, object>("OrderNo",Model.TripSheetNo),
        new KeyValuePair<string, object>("Company_Code",Model.Status),

    };

    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();

}

<div id="divPrint">

    
        @Html.MvcReportViewer(ReportPathPrefix + "/JobSheetViewc", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    

    <div class="span3"></div>
</div>
