﻿@model FleetDataService.Models.WEBX_FLEET_TYREMST_HISTORY
@using FleetDataService.Models;
@{
    ViewBag.Title = "Old Tyre Stock Search Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    var ListMFG = MS.GetTYREMFGList().Where(m => m.MFG_ACTIVEFLAG == "Y").ToList();
    var ListTyrePattern = MS.GetTyrePatternList().Where(m => m.ACTIVE_FLAG == "Y").ToList();
    var ListTyreModel = new List<WEBX_FLEET_TYREMODELMST>();
    var ListTyreSize = MS.GetTyreSizeList().Where(m => m.SIZE_ACTIVEFLAG == "Y").ToList();
    var ListGnMST = MS.GetGeneralMasterObject().Where(m => m.StatusCode == "Y").ToList();
}

@using (Html.BeginForm("OldTyreStock", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Manufacturer</label>
                                    <div class="col-md-8 required">
                                        @Html.DropDownList("MFG1", new SelectList(ListMFG, "MFG_ID", "MFG_NAME"), "", new { @class = "select2 required required2 form-control", @placeholder = "Manufacturer" })
                                        @Html.HiddenFor(c=>c.MFG)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Tyre Model</label>
                                    <div class="col-md-8 required">
                                        @Html.DropDownList("MODEL1", new SelectList(ListTyreModel, "TYRE_MODEL_ID", "MODEL_NO"), "", new { @class = "select2 required2 form-control", @placeholder = "Tyre Model" })
                                        @Html.HiddenFor(c => c.MODEL)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Tyre Size</label>
                                    <div class="col-md-8">
                                        @Html.DropDownList("SIZE1", new SelectList(ListTyreSize, "TYRE_SIZEID", "TYRE_SIZENAME"), "", new { @class = "select2 required2 form-control", @placeholder = "Tyre Size" })
                                        @Html.HiddenFor(c => c.SIZE)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Tyre Pattern </label>
                                    <div class="col-md-8">
                                        @Html.DropDownList("PATTERN1", new SelectList(ListTyrePattern, "TYRE_PATTERNID", "TYREPAT_CODE"), "", new { @class = "select2 required2 form-control", @placeholder = "Tyre Pattern" })
                                        @Html.HiddenFor(c => c.PATTERN)
                                    </div>
                                </div>
                            </div><div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Tyre Type </label>
                                    <div class="col-md-8">
                                        @Html.DropDownList("TYRE_TYPE1", new SelectList(ListGnMST.Where(m => m.CodeType == "TYTYP"), "CodeId", "CodeDesc"), "", new { @class = "select2 form-control required2", @placeholder = "Tyre Type" })
                                        @Html.HiddenFor(c => c.TYRE_TYPE)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="button" id="btnSubmit" class="btn btn-sm blue controls"><i class="fa fa-search"></i>&nbsp;Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var Events = function (DomainName) {

            $('#MFG1').change(function () {
                var strUrl = DomainName + '/Master/GetTyreModelFromMFG/' + $(this).val();
                App.blockUI({ boxed: true });
                $('#MFG').val($("#MFG1 option:selected").text());
                FillDropDownfromOtherWithoutSelect('MODEL1', strUrl, '');
            });

            $('#MODEL1').change(function () {
                var strUrl = DomainName + '/Master/GetTyreSizeFromModel/' + $(this).val();
                App.blockUI({ boxed: true });
                $('#MODEL').val($("#MODEL1 option:selected").text());
                FillDropDownfromOther('SIZE1', strUrl, '');
            });

            $('#SIZE1').change(function () {
                $('#SIZE').val($("#SIZE1 option:selected").text());
            });

            $('#PATTERN1').change(function () {
                $('#PATTERN').val($("#PATTERN1 option:selected").text());
            });

            $('#TYRE_TYPE1').change(function () {
                $('#TYRE_TYPE').val($("#TYRE_TYPE1 option:selected").text());
            });

            $('#btnSubmit').click(function () {
                if (!$('#form_sample').valid()) {
                    return false;
                }
                App.blockUI({ boxed: true });
                //$('#MFG').val($("#MFG option:selected").text());
                //$('#MODEL').val($("#MODEL option:selected").text());
                //$('#SIZE').val($("#SIZE option:selected").text());
                //$('#PATTERN').val($("#PATTERN option:selected").text());

                var Tyre = {
                    MFG1: $("#MFG option:selected").text(), MODEL1: $("#MODEL option:selected").text(), SIZE1: $("#SIZE option:selected").text(),
                    PATTERN1: $("#PATTERN option:selected").text(), TYRE_TYPE1: $("#TYRE_TYPE option:selected").text()
                };

                //$.ajax({
                //    url: $("#form_sample").attr('action'),
                //    cache: false,
                //    data: {
                //        MFG1: $("#MFG option:selected").text(), MODEL1: $("#MODEL option:selected").text(), SIZE1: $("#SIZE option:selected").text(),
                //        PATTERN1: $("#PATTERN option:selected").text(), TYRE_TYPE1: $("#TYRE_TYPE option:selected").text()
                //    },
                //    type: 'POST',
                //    success: function (data) {
                //        if (data.Count > 0) {
                //            TosterNotification("error", 'Tyre MFG Code <b>"' + code.toUpperCase() + '"</b> already exists!!!', "Oppps..!!");
                //            $("#tyreMST_TYRE_NO").val('');
                //            $("#tyreMST_TYRE_NO").focusin();
                //            $("#tyreMST_TYRE_NO").select();
                //        }
                //        App.unblockUI();
                //    },
                //    error: function (req, status, error) {
                //        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                //        App.unblockUI();
                //    }
                //});
                document.forms["form_sample"].submit();
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                Events(DomainName);
                //JsonDDL('tyreMST_TYRE_VEHNO', DomainName + '/Master/GetActiveVehicleListJson');
                //JsonDDL('tyreMST_TYRE_LOCATION', DomainName + '/Master/GetLocationListJson');
                //JsonDDL('tyreMST_TYRE_VENDOR', DomainName + '/Master/GetVendorListJsonDDL');
            }
        }
    }();
</script>