﻿@model Fleet.ViewModels.OldTyreStockViewModel
@using FleetDataService.Models
@{
    var Action = new List<SelectListItem>
               {
               new SelectListItem{Text="Internal",Value="I"},
               new SelectListItem{Text="Sale",Value="S"},
               new SelectListItem{Text="Claim",Value="C"},
               new SelectListItem{Text="Remold",Value="R"},
               };

    ViewBag.Title = "Old Tyre Stoke";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="OldtyreStoke"></div>
@using (Html.BeginForm("InternalActionList", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;@ViewBag.Title List
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label col-md-4">
                                            Select Action
                                        </label>
                                        <div class="col-md-8">
                                            @*@Html.TextBoxFor(c => c.WVHM.location, new { placeholder = " Cheque No", @class = "m-wrap span6 form-control required2 required ", Style = "width:200px" })*@
                                            @Html.DropDownListFor(c => c.Action, new SelectList(Action, "Value", "Text"), "", new { @class = "form-control required  select2", @placeholder = "Select Location" })
                                            @Html.HiddenFor(m => m.Action)
                                            @Html.DisplayFor(m => m.WFTH.TYRE_ID)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tblData1">
                            <div class="portlet-body">
                                <div id="tblData2">
                                    <table class="table table-striped table-bordered table-hover" id="OldTyre_List" style="overflow-x: scroll">
                                        <thead>
                                            <tr>
                                                <th class="center">
                                                    @*<input type="checkbox" class="chk_All" />*@#
                                                </th>
                                                <th class="center">
                                                    Removal Date
                                                </th>
                                                <th class="center">
                                                    Tyre No
                                                </th>
                                                <th class="center">
                                                    Vehicle No
                                                </th>
                                                <th class="center">
                                                    Model
                                                </th>
                                                <th class="center">
                                                    Size
                                                </th>
                                                <th class="center">
                                                    Pattern
                                                </th>
                                                <th class="center">
                                                    Tyre Type
                                                </th>
                                                <th class="center">
                                                    Tyre MFG
                                                </th>
                                                <th class="center">
                                                    Distance Covered
                                                </th>
                                                <th class="center">
                                                    Per KM Cost
                                                </th>
                                                <th class="center">
                                                    Life Of Tyre Remaining
                                                </th>
                                                <th class="center">
                                                    Remarks
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.WFTHL.ToList())
                                        {
                                            Html.RenderPartial("_OldTyreStockList", item);
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="row">
                            <div class="col-md-offset-5 col-md-6">
                                <button type="button" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-check"></i>&nbsp;Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },


            });
        }

        var bindTable = function (DomainName) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Fleet/GetOldTyreStockList';
            $.ajax({
                url: strUrl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $('#OldTyre_List').dataTable({
                        "bDestroy": true
                    }).fnDestroy();
                    $("#OldTyre_List").html(data);
                    App.unblockUI();
                    $("input:checkbox, input:radio").uniform();
                    //initTableById("OldTyre_List");

                    $('.CLSCHK').click(function () {
                        totchk = 0;
                        var itemIndex = $(this).attr('id').split('_')[1];
                        var checked = jQuery(this).is(":checked");
                        $('.CLSCHK').each(function () {
                            var checked1 = jQuery(this).is(":checked");
                            if (checked1)
                                totchk++;
                            if (totchk == 0)
                                $('#btnSubmit').hide();
                            else
                                $('#btnSubmit').show();
                        });

                        $(this).attr("value", checked);
                        var name = $(this).attr("name");
                        $("#" + name).attr("value", checked);
                    });
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                //initTableById("OldTyre_List");
                //bindTable(DomainName);
                $("#btnSubmit").click(function () {
                    App.blockUI({ boxed: true });
                    if ($("#form_sample").valid()) {
                        document.forms["form_sample"].submit();
                    }
                    else {
                        App.unblockUI();
                        return false;
                    }
                    $('#form_sample').submit();
                });

                

                //$(document).on('change', ".chk_All", function () {
                //    if (this.checked) {
                //        $(".CLSCHK").parent('span').addClass('checked');
                //    }
                //    else {
                //        $(".CLSCHK").parent('span').removeClass('checked');
                //    }
                //})

                //$('.chk_All').click(function () {
                //    totchk = 0;
                //    //var itemIndex = $(this).attr('id').split('_')[1];
                //    var checked = jQuery(this).is(":checked");
                //    $('.chk_All').each(function () {
                //        var checked1 = jQuery(this).is(":checked");
                //        if (checked1)
                //            totchk++;
                //        if (totchk == 0)
                //            $('#btnSubmit1').hide();
                //        else
                //            $('#btnSubmit1').show();
                //    });
                //});

            }
        }
    }();
</script>