﻿@model Fleet.ViewModels.JobOrderViewModel
@using FleetDataService.Models;
@using Fleet
@using Fleet.ViewModels
@{
    ViewBag.Title = "PrepareJob";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> List_Service_Centre_Type = new List<SelectListItem>();
    List_Service_Centre_Type.Add(new SelectListItem { Text = "Own", Value = "Workshop" });
    List_Service_Centre_Type.Add(new SelectListItem { Text = "Vendor", Value = "Vendor" });

    List<SelectListItem> List_Staff_Vendor = new List<SelectListItem>();
    List_Staff_Vendor.Add(new SelectListItem { Text = "STAFF", Value = "STAFF" });
    List_Staff_Vendor.Add(new SelectListItem { Text = "VENDOR", Value = "VENDOR" });

    List<SelectListItem> vehicleList = new List<SelectListItem>();

    if (Model.ISClose == "0")
    {
        Model.ObjWFPJH.ORDER_STATUS = "Open";
    }
    else if (Model.ISClose == "1")
    {
        Model.ObjWFPJH.Actual_Date_of_return = System.DateTime.Now.ToString("dd MMM yyyy");
    }
    int i = 1;
    int j = 1;
    var k = 1;

    objDate OD = new objDate();
    OD.ControlId = "ObjWFPJH.JOB_ORDER_DT";
    OD.ControlValue = Model.ObjWFPJH.JOB_ORDER_DT.ToString();
    OD.ModuleCode = "13";

    objDate OD1 = new objDate();
    OD1.ControlId = "ObjWFPJH.SENDDT_WORKSHOP";
    OD1.ControlValue = Model.ObjWFPJH.SENDDT_WORKSHOP.ToString();
    OD1.ModuleCode = "13";

    objDate OD2 = new objDate();
    OD2.ControlId = "ObjWFPJH.RETURNDT_WORKSHOP";
    OD2.ControlValue = Model.ObjWFPJH.RETURNDT_WORKSHOP.ToString();
    OD2.ModuleCode = "13";

    DateTime FinYearEndDate = Convert.ToDateTime(ViewBag.FinYearEndDate);
    if (ViewBag.BaseFinYear == ViewBag.CurrFinYear)
    {
        FinYearEndDate = System.DateTime.Now;
    }
}

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>Prepare Job Order
        </div>
    </div>
    <div class="portlet-body">

        @using (Html.BeginForm("PrepareJob", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>

                @Html.HiddenFor(m => m.ObjWFPJH.PM_SCH_CODE)
                @Html.HiddenFor(m => m.ISClose)
                @Html.HiddenFor(m => m.IsOperatinllyClose)
                @Html.HiddenFor(m => m.IsFinanciallyClose)
                @Html.Hidden("FinYearEndDate", FinYearEndDate)
                <div class="row clsIsCloseDisables">
                    <div class="col-md-4 clsPageLoad">
                        <div class="form-group">
                            <label class="control-label col-md-5">Asset Type </label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(c => c.ObjWFPJH.Asset_Type, new SelectList(Model.ListAssetType, "CodeId", "CodeDesc"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select Asset Type" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clsPageLoadHide clsVehicleDetails clsIsCloseDisables">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vehicle No.</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.ObjWFPJH.VEHNO, new { placeholder = "Vehicle No", @class = "required2 form-control" })
                                    @*@Html.DropDownListFor(c => c.ObjWFPJH.VEHNO, new SelectList(vehicleList, "id", "text"), "", new { @class = "form-control select2 required2 required" })*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vehicle Category.</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.ObjWFPJH.Vehicle_Category, new { placeholder = "Vehicle Category", @class = "required2 form-control", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Manufacturer.</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.ObjWFPJH.Manufacturer, new { placeholder = "Manufacturer", @class = "required2 form-control ", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Model .</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.ObjWFPJH.Model, new { placeholder = "Model", @class = "required2 form-control", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vehicle Type Category.</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.ObjWFPJH.Vehicle_Type_Category, new { placeholder = "Vehicle Type Category", @class = "required2 form-control ", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Order Status.</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.ObjWFPJH.ORDER_STATUS, new { placeholder = "Order Status", @class = "required2 form-control", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clsPageLoadHide clsAssetRefer clsAssetContainer clsIsCloseDisables">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Serial no.</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.ObjWFPJH.Unit_SerialNo, new { placeholder = "Serial no", @class = "required2 form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clsPageLoadHide clsAssetRefer clsAssetContainer clsIsCloseDisables">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Asset Manufacturer.</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.ObjWFPJH.Manufacturer, new { placeholder = "Asset Manufacturer", @class = "required2 form-control ", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label class="control-label col-md-5">Asset Model No.</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.ObjWFPJH.Model, new { placeholder = "Asset Model No", @class = "required2 form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clsPageLoadHide clsAssetRefer clsIsCloseDisables">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Asset Temp. Min.</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.ObjWFPJH.Asset_Temp_Min, new { placeholder = "Asset Temp. Min", @class = "required2 form-control ", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Asset Temp. Max.</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.ObjWFPJH.Asset_Temp_Max, new { placeholder = "Asset Temp. Max", @class = "required2 form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clsPageLoadHide clsAssetContainer clsIsCloseDisables">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Length.</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.ObjWFPJH.Length, new { placeholder = "Length", @class = "required2 form-control ", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Breadth.</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.ObjWFPJH.Breadth, new { placeholder = "Breadth", @class = "required2 form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clsPageLoadHide clsAssetContainer clsIsCloseDisables">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Height.</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.ObjWFPJH.Height, new { placeholder = "Height", @class = "required2 form-control ", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clsIsCloseDisables">
                    <div class="col-md-4 clsPageLoad">
                        <div class="form-group">
                            <label class="control-label col-md-5">Work Order No.</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.ObjWFPJH.JOB_ORDER_NO, new { placeholder = "System Generated", @class = "required2 form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 clsPageLoad">
                        <div class="form-group">
                            <label class="control-label col-md-5">Job Order Date.</label>
                            <div class="col-md-7">
                                @if (@Model.ISClose == "1")
                                {
                                    <div class="input-group input-medium date" data-date-format="dd MMM yyyy" data-date-end-date="+0d">
                                        @Html.TextBox("ObjWFPJH.JOB_ORDER_DT", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.ObjWFPJH.JOB_ORDER_DT).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @readonly = "True" })
                                        <span class="input-group-btn">
                                            <button class="btn default date-set" id="btndate" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                }
                                else
                                {
                                    Html.RenderPartial("../UserControls/_DocumentDate", OD);
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clsIsCloseDisables">
                    <div class="col-md-4 clsPageLoad">
                        <div class="form-group">
                            <label class="control-label col-md-5">JobCard Type.</label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(c => c.ObjWFPJH.ORDER_TYPE, new SelectList(Model.ListJOBCARDTYP, "CodeId", "CodeDesc"), "", new { @class = "form-control select2 required2 required" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clsIsCloseDisables">
                    <div class="col-md-4 clsPageLoad">
                        <div class="form-group">
                            <label class="control-label col-md-5">Service Centre Type.</label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(c => c.ObjWFPJH.SERVICE_CENTER_TYPE, new SelectList(List_Service_Centre_Type, "Value", "Text"), "", new { @class = "form-control select2 required2 required" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 clsPageLoadHide clsWS_LOCCODE">
                        <div class="form-group">
                            <label class="control-label col-md-5">Workshop Location.</label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(c => c.ObjWFPJH.WS_LOCCODE, new SelectList(Model.ListLocation, "LocCode", "LocName"), "", new { @class = "form-control select2 required2 required" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 clsPageLoadHide clsVENDOR_CODE">
                        <div class="form-group">
                            <label class="control-label col-md-5">Vendor Name.</label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(c => c.ObjWFPJH.VENDOR_CODE, new SelectList(Model.ListVendor_List, "VENDORCODE", "VENDORNAME"), "", new { @class = "form-control select2 required2 required" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clsIsCloseDisables">
                    <div class="col-md-4 clsPageLoad">
                        <div class="form-group">
                            <label class="control-label col-md-5">Send date to WorkShop.</label>
                            <div class="col-md-7">
                                @if (@Model.ISClose == "1")
                                {
                                    <div class="input-group input-medium date" data-date-format="dd MMM yyyy" data-date-start-date="+0d" data-date-end-date="+0d">
                                        @Html.TextBox("ObjWFPJH.SENDDT_WORKSHOP", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.ObjWFPJH.SENDDT_WORKSHOP).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @readonly = "True" })
                                        <span class="input-group-btn">
                                            <button class="btn default date-set" id="btndate" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                }
                                else
                                {
                                    Html.RenderPartial("../UserControls/_DocumentDate", OD1);
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 clsPageLoad">
                        <div class="form-group">
                            <label class="control-label col-md-5">Estimated return date.</label>
                            <div class="col-md-7">
                                @if (@Model.ISClose == "1")
                                {
                                    <div class="input-group input-medium date " data-date-format="dd MMM yyyy" data-date-start-date="+0d">
                                        @Html.TextBox("ObjWFPJH.RETURNDT_WORKSHOP", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.ObjWFPJH.RETURNDT_WORKSHOP.AddDays(1)).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @readonly = "True" })
                                        <span class="input-group-btn">
                                            <button class="btn default date-set" id="btndate" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                }
                                else
                                {
                                    Html.RenderPartial("../UserControls/_DocumentDate", OD2);
                                }
                            </div>
                        </div>
                    </div>
                </div>

                @if (@*@Model.ObjWFPJH.Job_Order_Close_Type != "Operational" &&*@ @Model.ISClose == "1")
                {
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Actual Date of return.</label>
                                <div class="col-md-7">
                                    <div class="input-group input-medium date date-picker-RT" data-date-format="dd MMM yyyy" data-date-start-date="+0d">
                                        @Html.TextBox("ObjWFPJH.Actual_Date_of_return", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.ObjWFPJH.Actual_Date_of_return).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @readonly = "True" })
                                        <span class="input-group-btn">
                                            <button class="btn default date-set" id="btndate" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else if (@Model.ISClose == "1")
                {
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Actual Date of return.</label>
                                <div class="col-md-7">
                                    @Html.TextBox("ObjWFPJH.Actual_Date_of_return", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.ObjWFPJH.Actual_Date_of_return).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @readonly = "True" })
                                    <span class="input-group-btn">
                                        @* <button class="btn default date-set" id="btndate" type="button"><i class="fa fa-calendar"></i></button>*@
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.ObjWFPJH.Actual_Date_of_return)
                }

                <div class="row ">
                    <div class="col-md-4 clsPageLoad clsIsCloseDisables">
                        <div class="form-group">
                            <label class="control-label col-md-5">Current KM Reading.</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.ObjWFPJH.Current_KM_Reading, new { placeholder = "Current KM Reading", @max = "900000", @class = "required2 form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 clsPageLoad clsIsCloseHide clsIsCloseDisables">
                        <div class="form-group">
                            <label class="control-label col-md-5">Labour Cost per Hour.</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.ObjWFPJH.Estimated_Labour_Hrs, new { placeholder = "Current KM Reading", @class = "required required2 form-control", @number = "true", @minvalue = "0" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 clsIsCloseShow">
                        <div class="form-group">
                            <label class="control-label col-md-5">Closing KM Reading.</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.ObjWFPJH.CLOSE_KM_READING, new { placeholder = "Closing KM Reading", @class = "required required2 form-control", @number = "true", @minvalue = "1" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clsIsCloseDisables">
                    <div class="col-md-4 clsPageLoad clsIsCloseHide">
                        <div class="form-group">
                            <label class="control-label col-md-5">Tmp Current KM Reading.</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.ObjWFPJH.KM_READING, new { placeholder = "Tmp Current KM Reading", @class = "required required2 form-control", @number = "true", @minvalue = "0" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clsIsCloseDisables">
                    <div class="col-md-4 clsPageLoad clsIsCloseHide">
                        <div class="form-group">
                            <label class="control-label col-md-5">Total Estimated Labour Hrs.</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.ObjWFPJH.TOT_EST_LABOUR_HRS, new { placeholder = "Total Estimated Labour Hrs", @class = "required2 form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 clsPageLoad clsIsCloseHide">
                        <div class="form-group">
                            <label class="control-label col-md-5">Total Estimated Labour Cost.</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.ObjWFPJH.TOT_EST_LABOUR_COST, new { placeholder = "Total Estimated Labour Cost", @class = "required2 form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                </div>

                @if (Model.ISClose != "1")
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <h4><b>@Html.CheckBoxFor(m => m.IsAdvancePaid)Job Order Advance Payment</b></h4>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="Payment1">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-5">
                                    @Html.DropDownListFor(c => c.Staff_Vendor, new SelectList(List_Staff_Vendor, "Value", "Text"), "", new { placeholder = "select an option", @class = "form-control select2 required2 required" })
                                </div>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(c => c.Vendor_Employee, new { placeholder = "select an option", @class = "form-control required required2" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="Payment2">
                        <div class="col-md-12">
                            <div class="portlet box @ViewBag.TableBoxColor">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-list"></i>Payment Details
                                    </div>
                                </div>
                                <div class="portlet-body ">
                                    <div class="form-body">
                                        <div class="row">
                                            @{Html.RenderPartial("../UserControls/_PaymentControl", Model.PC);}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                                }
                                                else
                                                {
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="portlet-body flip-scroll">
                                                                <table id="container" class="table table-bordered table-striped table-condensed flip-content">
                                                                    <thead class="flip-content">
                                                                        <tr>
                                                                            <th class="center">
                                                                                Job Order No
                                                                            </th>
                                                                            <th class="center">
                                                                                Advance Amount
                                                                            </th>
                                                                            <th class="center">
                                                                                Total Job Amount
                                                                            </th>
                                                                            <th class="center">
                                                                                VoucherNo
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var itm in Model.ListCJOAdv)
                                                                        {
                                                                            <tr>
                                                                                <td class="center">@itm.JobOrderNo</td>
                                                                                <td class="center">@itm.Advance_Amount</td>
                                                                                <td class="center">@itm.Total_JobAmount_GenerationTime</td>
                                                                                <td class="center">@itm.VoucherNo</td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                @if (Model.ISClose == "1")
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet-body flip-scroll">
                                <table id="container" class="table table-bordered table-striped table-condensed flip-content">
                                    <thead class="flip-content">
                                        <tr>
                                            <th class="center" colspan="2">
                                                Estimated Hrs and Cost
                                            </th>
                                            <th class="center" colspan="2">
                                                Actual Hrs and Cost
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Total Estimated Labour Hrs </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.ObjWFPJH.TOT_EST_LABOUR_HRS_IsClose_Total, new { placeholder = "Total Estimated Labour Hrs", @class = "required2 form-control", @readonly = "true" })
                                            </td>
                                            <td colspan="2"></td>
                                        </tr>
                                        <tr>
                                            <td>Total Estimated Labour Cost</td>
                                            <td>
                                                @Html.TextBoxFor(m => m.ObjWFPJH.TOT_EST_LABOUR_COST_IsClose_Total, new { placeholder = "Total Estimated Labour Cost", @class = "required2 form-control", @readonly = "true" })
                                            </td>
                                            <td>Total Actual Labour Cost</td>
                                            <td>
                                                @*@if (@Model.ObjWFPJH.TOT_ACT_LABOUR_COST == 0 || @Model.ObjWFPJH.TOT_ACT_LABOUR_COST == null)
                                                    {
                                                        @Html.TextBoxFor(m => m.ObjWFPJH.TOT_EST_LABOUR_COST, new { placeholder = "Total Actual Labour Cost", @class = "required2 form-control", @readonly = "true" })
                                                    }
                                                    else
                                                    {*@
                                                @Html.TextBoxFor(m => m.ObjWFPJH.TOT_ACT_LABOUR_COST, new { placeholder = "Total Actual Labour Cost", @class = "required2 form-control", @readonly = "true" })
                                                @*}*@
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Total Estimated Part Quantity</td>
                                            <td>
                                                @Html.TextBoxFor(m => m.ObjWFPJH.Total_Estimated_Part_Quantity, new { placeholder = "Total Estimated Part Quantity", @class = "required2 form-control", @number = "true", @readonly = "true" })
                                            </td>
                                            <td>Total Actual Part Quantity</td>
                                            <td>
                                                @Html.TextBoxFor(m => m.ObjWFPJH.Total_Actual_Part_Quantity, new { placeholder = "Total Actual Part Quantity", @class = "required2 form-control", @number = "true", @readonly = "true" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Total Estimated Part Unit</td>
                                            <td>
                                                @Html.TextBoxFor(m => m.ObjWFPJH.Total_Estimated_Part_Unit, new { placeholder = "Total Estimated Part Unit", @class = "required2 form-control", @number = "true", @readonly = "true" })
                                            </td>
                                            <td>Total Actual Part Unit</td>
                                            <td>
                                                @Html.TextBoxFor(m => m.ObjWFPJH.Total_Actual_Part_Unit, new { placeholder = "Total Actual Part Unit", @class = "required2 form-control", @number = "true", @readonly = "true" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Total Estimated Part Cost</td>
                                            <td>
                                                @Html.TextBoxFor(m => m.ObjWFPJH.Total_Estimated_Part_Cost, new { placeholder = "Total Estimated Part Cost", @class = "required2 form-control", @number = "true", @readonly = "true" })
                                            </td>
                                            <td>Total Actual Part Cost</td>
                                            <td>
                                                @Html.TextBoxFor(m => m.ObjWFPJH.Total_Actual_Part_Cost, new { placeholder = "Total Actual Part Cost", @class = "required2 form-control", @number = "true", @readonly = "true" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Total Estimated Cost</td>
                                            <td>
                                                @Html.TextBoxFor(m => m.ObjWFPJH.TOT_ESTIMATED_COST, new { placeholder = "Total Estimated Cost", @class = "required2 form-control", @readonly = "true" })
                                            </td>
                                            <td>Total Actual Job Cost</td>
                                            <td>
                                                @*@if (@Model.ObjWFPJH.TOT_ACT_PART_COST == 0 || @Model.ObjWFPJH.TOT_ACT_PART_COST == null)
                                                    {
                                                        @Html.TextBoxFor(m => m.ObjWFPJH.TOT_ESTIMATED_COST, new { placeholder = "Vehicle No", @class = "required2 form-control", @readonly = "true" })
                                                    }
                                                    else
                                                    {*@
                                                @Html.TextBoxFor(m => m.ObjWFPJH.TOT_ACT_PART_COST, new { placeholder = "Total Actual Job Cost", @class = "required2 form-control", @readonly = "true" })
                                                @*}*@
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr />
                }

                <div class="clsJobCardType">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="portlet">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <h4><b><i class="fa fa-list"></i>&nbsp;Task Details</b></h4>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label col-md-5">No Of Rows</label>
                                                <div class="col-md-7">
                                                    @Html.TextBox("TaskDetails", "0", new { placeholder = "Task Details", @class = "input-small required2 form-control required", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <a id="btnAddRows" class="btn  @ViewBag.TableBoxColor right">
                                                Add New Row <i class="m-icon-swapright m-icon-white"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="portlet-body flip-scroll">
                                                <table id="container" class="table table-bordered table-striped table-condensed flip-content">
                                                    <thead class="flip-content">
                                                        <tr>
                                                            <th class="center">
                                                                Work Group
                                                            </th>
                                                            <th class="center">
                                                                Task Description
                                                            </th>
                                                            <th class="center">
                                                                Task Type
                                                            </th>
                                                            <th class="center">
                                                                Remarks
                                                                @Html.Hidden("Task_Details_Count", Model.ListWFPJOD.Count())
                                                            </th>
                                                            <th class="center">
                                                                Estimated Labour Hours
                                                            </th>
                                                            <th class="center">
                                                                Estimated Labour Cost
                                                            </th>
                                                            @if (Model.ISClose == "1")
                                                            {
                                                                <th class="center">
                                                                    Action Taken
                                                                </th>
                                                                <th class="center">
                                                                    AMC/Non AMC
                                                                </th>
                                                                <th class="center">
                                                                    Actual Labour Cost
                                                                </th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody id="Bodycontainer">
                                                        @foreach (var itm in Model.ListWFPJOD)
                                                        {
                                                            itm.SRNo = i;
                                                            itm.ISClose = @Model.ISClose;
                                                            Html.RenderPartial("_Task_Details", itm);
                                                            i++;
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="portlet">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <h4><b><i class="fa fa-list"></i>&nbsp;Spare Part-Requirements(Estimates)</b></h4>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label col-md-5">No Of Rows</label>
                                                <div class="col-md-7">
                                                    @Html.TextBox("Spare_Part_Requirements", "0", new { placeholder = "Task Details", @class = "input-small required2 form-control required", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <a id="btnAddRows_Spare_Part" class="btn  @ViewBag.TableBoxColor right">
                                                Add New Row <i class="m-icon-swapright m-icon-white"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="portlet-body flip-scroll">
                                                <table id="container_Spare_Part" class="table table-bordered table-striped table-condensed flip-content">
                                                    <thead class="flip-content">
                                                        <tr>
                                                            @*<th class="center">
                                                                Work Group
                                                            </th>*@
                                                            <th class="center">
                                                                Part Description
                                                            </th>
                                                            <th class="center">
                                                                Task Type
                                                            </th>
                                                            <th class="center">
                                                                Quantity
                                                            </th>
                                                            <th class="center">
                                                                Cost/Unit
                                                            </th>
                                                            <th class="center">
                                                                Cost
                                                            </th>
                                                            @if (Model.ISClose == "1")
                                                            {
                                                                <th class="center">
                                                                    Actual Quantity
                                                                </th>
                                                                <th class="center">
                                                                    Actual Cost/Unit
                                                                </th>
                                                                <th class="center"> 
                                                                    Actual Cost
                                                                </th>
                                                                @*Start New Part GST Change Chirag D*@
                                                                <th class="center">
                                                                    GST(%)
                                                                </th>
                                                                @*End New Part GST Change Chirag D*@
                                                            }
                                                            <th class="center">
                                                                Remarks
                                                                @Html.Hidden("Task_Spare_Part_Count", Model.ListWFPJOSED.Count())
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="Bodycontainer_Spare_Part">
                                                        @foreach (var itm in Model.ListWFPJOSED)
                                                        {
                                                            itm.SRNO = j;
                                                            itm.ISClose = Model.ISClose;
                                                            Html.RenderPartial("_Task_Spare_Part", itm);
                                                            j++;
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="portlet-body flip-scroll">
                            <table class="table table-bordered table-striped table-condensed flip-content">
                                @if (Model.ISClose == "0")
                                {
                                    <thead class="flip-content">
                                        <tr>
                                            <th>
                                                Summary
                                            </th>
                                            <th class="center">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b>Total Estimated Labour Hours</b></td>
                                            <td>
                                                @Html.TextBoxFor(m => m.TOT_EST_LABOUR_HRS_Total, "", new { placeholder = "Total Estimated Labour Hours", @class = "required2 form-control", @readonly = "true", @number = "true", @minvalue = "0" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><b>Total Estimated Labour Cost</b></td>
                                            <td>
                                                @Html.TextBoxFor(m => m.TOT_EST_LABOUR_COST_Total, "", new { placeholder = "Total Estimated Labour Cost", @class = "required2 form-control", @readonly = "true", @number = "true", @minvalue = "0" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><b>Total Estimated Part Cost</b></td>
                                            <td>
                                                @Html.TextBoxFor(m => m.ObjWFPJH.TOT_EST_PART_COST, new { placeholder = "Total Estimated Part Cost", @class = "required2 form-control", @readonly = "true", @number = "true", @minvalue = "0" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><b>Total Estimated Cost</b></td>
                                            <td>
                                                @Html.TextBoxFor(m => m.ObjWFPJH.TOT_ESTIMATED_COST, new { placeholder = "Total Estimated Cost", @class = "required2 form-control", @readonly = "true", @number = "true", @minvalue = "0" })
                                            </td>
                                        </tr>
                                    </tbody>

                                }
                                else if (Model.ISClose == "1")
                                {
                                    <thead class="flip-content">
                                        <tr>
                                            <th colspan="4">
                                                Summary
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                Task Type
                                            </th>
                                            <th>
                                                Expense ledger
                                            </th>
                                            <th>
                                                Labour Cost
                                            </th>
                                            <th>
                                                Spare Cost
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var items in Model.ListBindSummary)
                                        {
                                            items.SrNo = k;

                                            var TOT_LABOUR_COST = "TOT_LABOUR_COST" + k;
                                            var TOT_SPARE_COST = "TOT_SPARE_COST" + k;

                                            <tr>
                                                <td>@items.TaskType</td>
                                                <td>@items.ACCDESC</td>
                                                <td id="@TOT_LABOUR_COST">@items.TOT_LABOUR_COST</td>
                                                <td id="@TOT_SPARE_COST">@items.TOT_SPARE_COST</td>
                                            </tr>
                                            k++;
                                        }
                                    </tbody>
                                }
                            </table>
                        </div>

                    </div>
                </div>
                <div class="form-actions fluid clsPageLoadHide clsSubmit">
                    <div class="col-md-offset-4 col-md-8">
                        @if (Model.ISClose == "0")
                        {
                            <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        }
                        else if (Model.ISClose == "1")
                        {
                            if (Model.ObjWFPJH.Job_Order_Close_Type != "Operational")
                            {
                                <button type="button" id="btnOPClose" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Operational Close</button>
                            }
                            <button type="button" id="btnFinClose" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Financial Close</button>
                        }
                    </div>
                </div>
            </div>
                                                }
    </div>
</div>

<script src="~/Scripts/Fleet/PrepareJob.js?ver<%=DateTime.Now.Ticks.ToString()%>" type="text/javascript"></script>

@*<script src="~/Scripts/Fleet/PrepareJob.js"></script>*@
