﻿@{
    ViewBag.Title = "Update Claim of Tyre Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string RemoldID = ViewBag.RemoldID;
}

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>Following Document has been updated successfully:
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Document No.
                            </th>
                            <th>
                                Action.
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@RemoldID</b>
                            </td>

                            <td>
                                <a href="javascript:OrderView('@RemoldID')"><b><i class="fa fa-print"></i>&nbsp;View || Print</b></a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                <a href="@Url.Content("~/Fleet/RemoldBillPaymentCriteria")">
                    Click here to Update More Remold Bill Payment
                </a>||<a href="@Url.Content("~/Fleet/UpdateRemoldTyreCriteria")">
                    Click here for update Remold Tyre
                </a>
            </span>
        </div>
    </div>
</div>
<script type="text/javascript">

    function OrderView(RemoldID) {
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        //var strPopupURL = ReportURL + DomainName + "/ViewPrint/DocketViewPrint?Type=" + Type + "&DocketNo=" + DocketNo;
        var strPopupURL = ReportURL + DomainName + "/ViewPrint/RemoldtyreBillPaymentView?VoucherNo=" + RemoldID;
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;
    }

    var FormComponents = function (DomainName) {
        var Events = function (DomainName) {
            $('#btnSubmit').click(function () {
                App.blockUI({ boxed: true });
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Events(DomainName);
            }
        }
    }();
</script>




