﻿@model Fleet.ViewModels.UpdateRemoldTyreViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models;
@using FleetDataService.ViewModels

@{
    ViewBag.Title = "Remold Tyre Detail List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> lstGSTType = MS.GetGeneralMasterObject().Where(c => c.CodeType == "GSTTYPE" && c.StatusCode == "Y" && c.CodeId != "SVC").OrderBy(c => c.CodeDesc).ToList();
    List<Webx_Master_General> generalMasterList = MS.GetGeneralMasterObject().ToList();

    StaxTDSViewModel STVM = new StaxTDSViewModel();

    STVM.UserId = ViewBag.BaseUserName;
    STVM.GSTPercentage = ViewBag.GSTPercentage;
    STVM.FiledNextAmount = "RemoldModelDet.NETAMT";

    STVM.GSTType = ViewBag.GSTType;
    STVM.ChargeType = "VBOE";
    STVM.IsDiscountEnabled = true;
    STVM.IsTDSDisplay = true;
}
@using (Html.BeginForm("UpdateRemoldTyreSubmit", "Fleet", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.RemoldModelDet.NetPay)
    <div class="row" id="divList1">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="table-container">
                        <table class="table table-striped table-bordered table-hover" id="Sample1">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        <input type="checkbox" id="chkCheckAll" />
                                    </th>
                                    <th class="center">
                                        Remold No.
                                    </th>
                                    <th class="center">
                                        Tyre No.
                                    </th>
                                    <th class="center">
                                        Model
                                    </th>
                                    <th class="center">
                                        Pattern
                                    </th>
                                    <th class="center">
                                        Size
                                    </th>
                                    <th class="center">
                                        Tyre<br />MFG
                                    </th>
                                    <th class="center">
                                        Fitment<br />Date
                                    </th>
                                    <th class="center">
                                        Removal<br />Date
                                    </th>
                                    <th class="center">
                                        Distance<br />Covered
                                    </th>
                                    <th class="center">
                                        Remarks
                                    </th>
                                    <th class="center">
                                        Vendor<br />Code
                                    </th>
                                    <th class="center">
                                        Remold<br />Date
                                    </th>
                                    <th class="center">
                                        Remold/<br />Reject
                                    </th>
                                    <th class="center">
                                        Amount
                                    </th>
                                    <th class="center">
                                        Reason of<br />
                                        Rejection
                                    </th>

                                </tr>
                            </thead>
                            <tbody id="Advice">
                                <tr>
                                    @foreach (var item in Model.RemolTyreDet)
                                    {
                                        item.GSTType = ViewBag.GSTType;
                                        item.GSTPercentage = ViewBag.GSTPercentage;
                                        item.StateCode = ViewBag.StateCode;
                                        Html.RenderPartial("_UpdateRemoldTyreListDet", item);
                                    }
                                </tr>
                                @if (Model.RemolTyreDet.Count == 0)
                                {
                                    <tr>  <td class="center" colspan="13"><b>No Records Found</b></td></tr>
                                }
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-list"></i>Remold Tyre Bill Entry payment
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-12">
                    @{Html.RenderPartial("../UserControls/_GSTTDSControl", STVM);}
                </div>
            </div> &nbsp;
            <p style="color:red;">
                Select atleast one checkbox to view <strong>Submit</strong> button.
            </p>
            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <a class="btn btn-sm default" href="@Url.Content("~/Fleet/UpdateRemoldTyreCriteria")">
                        <i class="fa fa-arrow-left"> </i>
                        Back To Criteria
                    </a>
                    <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                </div>
            </div>
        </div>
    </div>

}


<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input

                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.form["form_sample"].submit();
                }
            });
        }

        var TotalAMT = 0;

        var GST_Calcultion = function (DomainName, id) {
            var Amt = 0;
            var tax = 0;

            if ($('#RemoldListDet_' + id + '__Active').val() == "Y") {
                Amt = $('#RemoldListDet_' + id + '__Amount').val();
                tax = $('#RemoldModelDet_tax_per').val();
                TotalAMT = parseFloat(TotalAMT) + parseFloat(Amt);
            }
            else {
                Amt = $('#RemoldListDet_' + id + '__Amount').val();
                tax = $('#RemoldModelDet_tax_per').val();
                TotalAMT = parseFloat(TotalAMT) - parseFloat(Amt);
            }
            GSTAMT = ((parseFloat(TotalAMT) * parseFloat(tax)) / 100);
            var Tot_Amt = parseFloat(GSTAMT) + parseFloat(TotalAMT)
            $('#RemoldModelDet_GSTAmount').val(GSTAMT)
            $('#RemoldModelDet_TotalAmount').val(Tot_Amt)
        }


        /*GST Part Changes*/
        var CalculateJOBAmount = function () {

            var StaxAmount = $("#StaxAmount").val();
            var TDSAmount = $("#TDSAmount").val();
            var VATAmount = $("#VATAmount").val();

            var StaxOnAmount = $("#StaxOnAmount").val();
            var TDSOnAmount = $("#TDSOnAmount").val();
            var VATOnAmount = $("#VATOnAmount").val();

            if (StaxAmount == "")
                StaxAmount = 0;
            if (TDSAmount == "")
                TDSAmount = 0;
            if (VATAmount == "")
                VATAmount = 0;

            VATAmount = parseFloat(VATOnAmount) + parseFloat(VATAmount);
            var TotalLabourAmount = parseFloat(StaxOnAmount) + parseFloat(StaxAmount) - parseFloat(TDSAmount);
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                $('#btnSubmit').hide();
                $('.IsCheck').attr("value", "N");
                $('.clsNetPay').attr("readonly", true);

                $(document).on('click', '#chkCheckAll', function () {
                    $('.IsCheck').prop('checked', $(this).prop('checked'));
                    if ($(this).prop('checked')) {
                        $('.IsCheck').parent('span').addClass('checked');
                        $('.IsCheck').val("Y");
                        $('#btnSubmit').show();
                        $('.clsNetPay').attr("readonly", false);

                    }
                    else {
                        $('.IsCheck').parent('span').removeClass('checked');
                        $('.IsCheck').val("N");
                        $('#btnSubmit').hide();
                        $('.clsNetPay').attr("readonly", true);
                    }
                });


                $(document).on('change', ".IsCheck", function () {
                    var chkId = $(this).attr('id');
                    var id = chkId.replace("RemoldListDet_", "").replace("__Active", "");
                    if (this.checked) {
                        $(this).val("Y");
                        $('#RemoldListDet_' + id + '__Amount').attr("readonly", false);
                        GST_Calcultion(DomainName, id)
                        $("#RemoldModelDet_GSTAmount").val(0)
                        $("#RemoldModelDet_TotalAmount").val(0)
                        $("#TDSAcccode").removeClass('required');
                    }
                    else {
                        $(this).val("N");
                        GST_Calcultion(DomainName, id)
                        $('#RemoldListDet_' + id + '__Amount').attr("readonly", true);
                        $('#RemoldListDet_' + id + '__Amount').val(0);
                    }
                    var count = 0;
                    $('.IsCheck').each(function () {
                        if (this.checked) {
                            $("#chkCheckAll").parent('span').removeClass('checked');
                            count = count + 1;
                        }
                    })
                    if (count == 0) {
                        $('#btnSubmit').hide();
                    }
                    else {
                        $('#btnSubmit').show();
                    }
                });

                $(".clsNetPay").live('change', function () {
                    // alert($(this).val());
                    var NetPay = 0;
                    $(".clsNetPay").each(function () {
                        NetPay = parseFloat(NetPay) + parseFloat($(this).val());
                        $('#RemoldModelDet_NetPay').val(parseFloat(NetPay));
                    });

                    var AMTId = $(this).attr('id');
                    var id = AMTId.replace("RemoldListDet_", "").replace("__Amount", "");
                    GST_Calcultion(DomainName, id)
                });



                $('#btnSubmit').click(function () {

                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        return false;
                    }
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                });

                /*GST Part Changes*/

                $('.clsStaxTDS').click(function () {
                    // alert("Hello")
                    CalculateStaxTDS(DomainName);
                    CalculateJOBAmount();

                });


                $('.clsLedgerAmount').live('change', function () {

                    var TotalLedgerAmount = 0;
                    $(".clsLedgerAmount").each(function () {
                        TotalLedgerAmount = TotalLedgerAmount + parseFloat($(this).val());
                    });

                    $("#StaxOnAmount").val(rounditn(TotalLedgerAmount, 2));
                    $("#TDSOnAmount").val(rounditn(TotalLedgerAmount, 2));

                    CalculateStaxTDS(DomainName);
                });

                $("#PANNO").inputmask({
                    "mask": "AAAAA9999A"
                });
                StaxTDSEnabled(DomainName);
            }
        };
    }();

</script>





