﻿@model Fleet.ViewModels.UpdateRemoldTyreViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.ViewModels

@{
    PaymentControl PC = new PaymentControl();
 
}
@{
    ViewBag.Title = "Remold Tyre Bill Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("RemoldTyreBillSubmit", "Fleet", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.RemoldModelDet.NetPay)
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            You have some form errors. Please check below.
                        </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Your form validation is successful!
                        </div>
                        <div class="row">
                            <div class="col-md-4 ">
                                <label class="control-label col-md-4">
                                    Vendor Name:
                                </label>
                                <div class="col-md-8" style="margin-top:5px;">
                                    @Html.DisplayFor(c => c.BillPay.VENDORCODE, new { @class = "form-control" }) ~ @Html.DisplayFor(c => c.BillPay.VENDORNAME, new { @class = "form-control" })
                                    @Html.HiddenFor(m => m.BillPay.VENDORCODE)
                                    @Html.HiddenFor(m => m.BillPay.VENDORNAME)
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <label class="control-label col-md-4">
                                    Voucher Date:
                                </label>
                                <div class="input-group date date-picker  col-md-6">                                    
                                    @Html.TextBox("BillPay.selectDate", String.Format("{0:dd MMM yyyy }", Model.BillPay.selectDate), new { @class = " form-control required2 required ", @readonly = "true" })
                                    <span class="input-group-btn">
                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <label class="control-label col-md-4">
                                    Vendor Pan No.:
                                </label>
                                <div class="col-md-6" style="margin-top:5px;">
                                    @Html.DisplayFor(c => c.BillPay.PAN_NO, new { @class = "form-control" })
                                    @Html.HiddenFor(m => m.BillPay.PAN_NO)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="divList1">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title List
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="table-container">
                        <table class="table table-striped table-bordered table-hover" id="Sample1">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        <input type="checkbox" id="chkCheckAll" />
                                    </th>
                                    <th class="center">
                                        Bill No.
                                    </th>
                                    <th class="center">
                                        Bill Date
                                    </th>
                                    <th class="center">
                                        Bill Amount
                                    </th>
                                    <th class="center">
                                        Paid Amount
                                    </th>
                                    <th class="center col-md-1">
                                        Pending Amount
                                    </th>
                                    <th class="center">
                                        Total Amount
                                    </th>
                                    <th class="center  col-md-2">
                                        Current Amount
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="Advice">
                                <tr>
                                    @foreach (var item in Model.RemolBillPayment)
                                    {
                                        Html.RenderPartial("_RemoldTyrePaymentList", item);
                                    }
                                </tr>
                                @if (Model.RemolBillPayment.Count == 0)
                                {
                                    <tr>  <td class="center" colspan="13"><b>No Records Found</b></td></tr>
                                }
                            </tbody>
                        </table>
                        <p style="color:red;">
                            Select atleast one checkbox to view <strong>Submit</strong> button.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;Payment Details
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            @{  Html.RenderPartial("../UserControls/_PaymentControl", PC); }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="form-actions fluid">
    <div class="col-md-offset-4 col-md-8">
        <a class="btn btn-sm default" href="@Url.Content("~/Fleet/RemoldBillPaymentCriteria")">
            <i class="fa fa-arrow-left"> </i>
            Back To Criteria
        </a>
        <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: ":required",
                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.form["form_sample"].submit();
                }
            });
        }

        var HandleDatetimePicker = function () {

            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate() - 10)
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                HandleDatetimePicker();
                $('#btnSubmit').hide();
                $('.IsCheck').attr("value", "N");
                $('.clsNetPay').attr("readonly", true);

                $(document).on('click', '#chkCheckAll', function () {
                    $('.IsCheck').prop('checked', $(this).prop('checked'));
                    if ($(this).prop('checked')) {
                        $('.IsCheck').parent('span').addClass('checked');
                        $('.IsCheck').val("Y");
                        $('#btnSubmit').show();
                        $('.clsNetPay').attr("readonly", false);
                    }
                    else {
                        $('.IsCheck').parent('span').removeClass('checked');
                        $('.IsCheck').val("N");
                        $('#btnSubmit').hide();
                        $('.clsNetPay').attr("readonly", true);
                    }
                });

                $(document).on('change', ".IsCheck", function () {
                    var chkId = $(this).attr('id');
                    var id = chkId.replace("RemoldPayment_", "").replace("__Active", "");
                    if (this.checked) {
                        $(this).val("Y");
                        $('#RemoldPayment_' + id + '__CurrentAmt').attr("readonly", false);
                    }
                    else {
                        $(this).val("N");
                        $('#RemoldPayment_' + id + '__CurrentAmt').attr("readonly", true);
                    }
                    var count = 0;
                    $('.IsCheck').each(function () {
                        if (this.checked) {
                            $("#chkCheckAll").parent('span').removeClass('checked');
                            count = count + 1;
                        }
                    })
                    if (count == 0) {
                        $('#btnSubmit').hide();
                    }
                    else {
                        $('#btnSubmit').show();
                    }
                });

                $(".clsNetPay").live('change', function () {
                    var NetPay = 0;
                    $(".clsNetPay").each(function () {
                        NetPay = parseFloat(NetPay) + parseFloat($(this).val());
                        $('#RemoldModelDet_NetPay').val(parseFloat(NetPay));
                        $('#PayAmount').val(parseFloat(NetPay));
                    });
                    var chkId = $(this).attr('id');
                    var id = chkId.replace("RemoldPayment_", "").replace("__CurrentAmt", "");
                    var PenAmt = $('#RemoldPayment_' + id + '__pendamt').val();
                    var TotalAmt = $('#RemoldPayment_' + id + '__NETAMT').val();
                    var PenAmtVal = parseFloat(TotalAmt) - parseFloat($(this).val());
                    //if ($(this).val() > parseFloat(PenAmt)) {
                    //    alert('current amount should be not be greater than' +" "+ PenAmt);
                    //    $(this).val(0);
                    //}
                    //else {
                    //    $('#RemoldPayment_' + id + '__pendamt').val(PenAmtVal);
                    //}
                });

                $("#PaymentMode").change(function () {
                    App.blockUI({ boxed: true });
                    $("#CashAmount").attr("readonly", "true");
                    $("#ChequeAmount").attr("readonly", "true");
                    $("#CashLedger").change(function () {
                        $("#CashLedgerName").val($(this).select2('data').text);
                    });
                    $("#BankLedger").change(function () {
                        $("#BankLedgerName").val($(this).select2('data').text);
                    });
                    if ($(this).val().toUpperCase() == "CASH") {
                        $(".clsBANK").hide();
                        $(".clsCASH").show();
                        $("#CashAmount").val($("#PayAmount").val());
                        var StrURL = DomainName + "/Payment/GetLedger?Category=Cash";
                        FillDropDownfromOther("CashLedger", StrURL, "Cash Ledger");
                        $("#ChequeNo").val("000000");
                        $("#BankLedger").select2("data", { id: $(this).val(), text: $(this).select2('data').text });
                    }
                    else if ($(this).val().toUpperCase() == "BANK") {
                        $(".clsBANK").show();
                        $(".clsCASH").hide();
                        $("#ChequeNo").val("");
                        var StrURL = DomainName + "/Payment/GetLedger?Category=Bank";
                        FillDropDownfromOther("BankLedger", StrURL, "Bank Ledger");
                        $("#ChequeAmount").val($("#PayAmount").val());
                        $("#CashLedger").select2("data", { id: $(this).val(), text: $(this).select2('data').text });
                    }
                    else if ($(this).val().toUpperCase() == "BOTH") {

                        $(".clsBANK").show();
                        $(".clsCASH").show();
                        $("#CashAmount").val("0");
                        $("#ChequeAmount").val("0");
                        $("#CashAmount").attr("readonly", false);
                        $("#ChequeAmount").attr("readonly", false);
                        var StrURL = DomainName + "/Payment/GetLedger?Category=Cash";
                        FillDropDownfromOther("CashLedger", StrURL, "Cash Ledger");
                        StrURL = DomainName + "/Payment/GetLedger?Category=Bank";
                        FillDropDownfromOther("BankLedger", StrURL, "Bank Ledger");
                    }
                });

                $('#FromDate').change(function () {
                    $('#BillPay_selectDate').val($(this).val());
                });

                $('#btnSubmit').click(function () {
                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        return false;
                    }
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                });

                $("input[name='numberTypeR']").live("change", function () {
                    var numberType = $('input[name=numberTypeR]:checked').val();
                    $("#numberType").val(numberType);
                    $("#ChequeNo").attr("placeholder", $('input[name=numberTypeR]:checked').parents('label').text().trim());
                    if (numberType == "C") {
                        $("#ChequeNo").val("");
                        $("#ChequeNo").attr("maxlength", "6");
                        $("#ChequeNo").attr("minlength", "6");
                        $("#ChequeNo").attr("number", true);
                    }
                    else {
                        $("#ChequeNo").val("");
                        $("#ChequeNo").attr("maxlength", "22");
                        $("#ChequeNo").attr("minlength", "6");
                        $("#ChequeNo").removeAttr("number");
                    }
                });
            }
        };
    }();

</script>