﻿@model Fleet.ViewModels.JobOrderViewModel
@{
    ViewBag.Title = "Service CentreType Changes";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> List_Service_Centre_Type = new List<SelectListItem>();
    List_Service_Centre_Type.Add(new SelectListItem { Text = "Own", Value = "Workshop" });
    List_Service_Centre_Type.Add(new SelectListItem { Text = "Vendor", Value = "Vendor" });
}

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>&nbsp;@ViewBag.Title
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("ServiceCentreType_Changes", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Job Order No.</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.ObjWFPJH.JOB_ORDER_NO, new { placeholder = "System Generated", @class = "required2 form-control", })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Job Order Date.</label>
                            <div class="col-md-7">
                                <div class="input-group input-medium date date-picker1" data-date-format="dd MMM yyyy" data-date-end-date="+0d">
                                    @Html.TextBox("ObjWFPJH.JOB_ORDER_DT", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.ObjWFPJH.JOB_ORDER_DT).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @readonly = "True" })
                                    <span class="input-group-btn">
                                        <button class="btn default date-set" id="btndate" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Service Centre Type.</label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(c => c.ObjWFPJH.SERVICE_CENTER_TYPE, new SelectList(List_Service_Centre_Type, "Value", "Text"), "", new { @class = "form-control select2 required2 required" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 clsPageLoadHide clsWS_LOCCODE">
                        <div class="form-group">
                            <label class="control-label col-md-5">Workshop Location.</label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(c => c.ObjWFPJH.WS_LOCCODE, new SelectList(Model.ListLocation, "LocCode", "LocName"), "", new { @class = "form-control select2 required2 required" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 clsPageLoadHide clsVENDOR_CODE">
                        <div class="form-group">
                            <label class="control-label col-md-5">Vendor Name.</label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(c => c.ObjWFPJH.VENDOR_CODE, new SelectList(Model.ListVendor_List, "VENDORCODE", "VENDORNAME"), "", new { @class = "form-control select2 required2 required" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-actions fluid">
                    <div class="col-md-offset-4 col-md-8">
                        <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {

                },
                messages: {

                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    //if (element.parents('.checkbox-list').size() > 0) {
                    //    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    //} else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                    //}
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //  form1.submit();
                }
            });
        }

        var SubmitClick = function (DomainName) {

            $('#btnSubmit').click(function () {

                var form = $('#form_sample');
                if (form.valid() == false) {
                    return false;
                }

                App.blockUI({ boxed: true });
                document.forms["form_sample"].submit();
            });
        }

        var select2Date = function (DomainName) {

            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });
        }

        var PageLoadEvents = function (DomainName) {

            $("#ObjWFPJH_SERVICE_CENTER_TYPE").change(function () {
                var SERVICE_CENTER_TYPE = $(this).val();
                SERVICE_CENTER_TYPE_Change(DomainName, SERVICE_CENTER_TYPE);
            });
        }

        var SERVICE_CENTER_TYPE_Change = function (DomainName, SERVICE_CENTER_TYPE) {

            if (SERVICE_CENTER_TYPE == "Workshop") {
                $(".clsWS_LOCCODE").show();
                $(".clsVENDOR_CODE").hide();
            }
            else if (SERVICE_CENTER_TYPE == "Vendor") {
                $(".clsWS_LOCCODE").hide();
                $(".clsVENDOR_CODE").show();
            }
            else {
                $(".clsVENDOR_CODE").hide();
                $(".clsWS_LOCCODE").hide();
            }
        }

        var JobOrder_Change = function (DomainName, JobOrderNo) {

            var StrURL1 = DomainName + '/Fleet/Check_JobOrder_NO?No=' + JobOrderNo;
            App.blockUI({ boxed: true });
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {

                  //  alert(data.Job_Order_Close_Type + "--" + data.IsRecordFound);

                    if (data.Job_Order_Close_Type == "Operational") {
                        alert("This job sheet was Operational Close.");
                        BlanckValue();
                    }
                    else if (data.Job_Order_Close_Type == "Financial") {
                        alert("This job sheet was Operational Close.");
                        BlanckValue();
                    }
                    else if (data.IsRecordFound == "1") {
                        SERVICE_CENTER_TYPE_Change(DomainName, data.Service_Centre_Type);
                        $("#ObjWFPJH_JOB_ORDER_DT").val(data.Job_Order_Date);

                        $("#ObjWFPJH_SERVICE_CENTER_TYPE").val(data.Service_Centre_Type);
                        $("#ObjWFPJH_SERVICE_CENTER_TYPE").select2().find(":selected").data(data.Service_Centre_Type);

                        $("#ObjWFPJH_WS_LOCCODE").val(data.Workshop_Location);
                        $("#ObjWFPJH_WS_LOCCODE").select2().find(":selected").data(data.Workshop_Location);

                        $("#ObjWFPJH_VENDOR_CODE").val(data.Vendor_Name);
                        $("#ObjWFPJH_VENDOR_CODE").select2().find(":selected").data(data.Vendor_Name);
                    }
                    else {
                        alert("Please Enter Valid Job Sheet No.");
                    }
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    alert("Please Enter Valid Job Sheet No.");
                    BlanckValue();
                    App.unblockUI();
                }
            });
        }

        var BlanckValue = function () {
            $("#ObjWFPJH_JOB_ORDER_NO").val("");
            $("#ObjWFPJH_JOB_ORDER_DT").val("");
            $("#ObjWFPJH_SERVICE_CENTER_TYPE").val("");
            $("#ObjWFPJH_WS_LOCCODE").val("");
            $("#ObjWFPJH_VENDOR_CODE").val("");
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                $("#ObjWFPJH_JOB_ORDER_DT").val("");
                SERVICE_CENTER_TYPE_Change(DomainName, $("#ObjWFPJH_SERVICE_CENTER_TYPE").val());

                $("#ObjWFPJH_JOB_ORDER_NO").focusout(function () {
                    JobOrder_Change(DomainName, $(this).val());
                });

                $("#ObjWFPJH_SERVICE_CENTER_TYPE").change(function () {
                    SERVICE_CENTER_TYPE_Change(DomainName, $("#ObjWFPJH_SERVICE_CENTER_TYPE").val());
                });


                select2Date(DomainName);
                Formvalidate(DomainName);
                SubmitClick(DomainName);
            }
        }
    }();

</script>
