﻿@{
    ViewBag.Title = "Trip Open done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>@ViewBag.TranXaction </h2>

    <h2>@ViewBag.DOCNO </h2>*@

@if (ViewBag.S.ToUpper() == "DONE")
{
    <div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-check"></i>Trip Open Done
                </div>
            </div>
            <div class="portlet-body">
                <div class="margin-top-10 margin-bottom-10 clearfix">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Document No
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <b>@ViewBag.NextCode</b>
                                </td>
                                <td>
                                    <a target="_blank" href="@Url.Content("~/ViewPrint/TripSheetView?TRIPSHEET_NO=" + @ViewBag.NextCode + "&EXPTYPE=TRIPSHEET")" class="fa fa-print" id="ReportFrame"><b>&nbsp;View/Print</b></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <span class="label label-danger">
                    NOTE!
                </span>&nbsp;
                <span>
                    Click on Trip Number for View and Print .
                </span>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-danger fade in center">
            <h2 class="alert-heading">Opps! Trip Open Fail</h2>
            <h4>
                There is some issue with process. <br />Please check your internet connection else contact your administrator or service provider.
                <br /><br /><b> @ViewBag.NextCode</b>
            </h4>
        </div>
    </div>
}