﻿@using CYGNUS.Models
@using FleetDataService.Models
@using Fleet
@using Fleet.ViewModels
@model Fleet.ViewModels.TripOpen
@{
    ViewBag.Title = "Trip Open";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.WFVI.VSlipDt = System.DateTime.Now;
    FleetDataService.FleetService FS = new FleetDataService.FleetService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    objDate OD = new objDate();
    OD.ControlId = "WFVI.VSlipDt";
    OD.ControlValue = Model.WFVI.VSlipDt.ToString();
    OD.ModuleCode = "25";
   // OD.isControlRemove = true;

    objDate Date = new objDate();
    Date.ControlId = "WTSA.AdvDate";
    Date.ControlValue = Model.WTSA.AdvDate.ToString();
    Date.ModuleCode = "26";

    var CategoryList = new List<SelectListItem> {
    //new SelectListItem { Text = "Select", Value = "0",Selected=true },
    //new SelectListItem { Text = "External Usage", Value = "External Usage" },
     new SelectListItem { Text = "Internal Usage", Value = "Internal Usage" },
    };
    var OwnList = new List<SelectListItem> {
    //new SelectListItem { Text = "Select", Value = "",Selected=true },
    new SelectListItem { Text = "Own", Value = "Own" }
    };

    var RouteList = new List<SelectListItem> {
        new SelectListItem { Text = "Select Route", Value = "0" },
    new SelectListItem { Text = "Route Wise", Value = "1" },
    new SelectListItem { Text = "City Wise", Value = "2" }

    };

    List<Webx_Master_General> ObjVechicleMode = FS.GetSelectedVechical();
     List<webx_VEHICLE_HDR> ObjVehicleList = new List<webx_VEHICLE_HDR>();
    List<Webx_Master_General> ObjCategoryList = MS.GetGeneralMasterObject();
    ObjCategoryList = ObjCategoryList.Where(c => c.CodeType == "EXCAT" && c.StatusCode == "Y").ToList();
    List<WEBX_FLEET_DRIVERMST> ObjDriverList = new List<WEBX_FLEET_DRIVERMST>();
    List<WEBX_FLEET_DRIVERMST> ObjDriverList2 = new List<WEBX_FLEET_DRIVERMST>();
    List<webx_citymaster> ObjCityList = new List<webx_citymaster>();
    ObjCityList = MS.GetCityMasterObject().ToList();

    List<WEBX_FLEET_DRIVERMST> FreeDriverForTripList = new List<WEBX_FLEET_DRIVERMST>();
    FreeDriverForTripList = FS.GetFreeDriverForTrip(ViewBag.BaseLocationCode, ViewBag.BaseUserName);

    List<webx_location> ListLocation = new List<webx_location>();
    ListLocation = MS.GetLocationDetails().ToList();

    List<webx_CUSTHDR> ListCustomer = new List<webx_CUSTHDR>();
    //ListCustomer = MS.GetCustomerMasterObject().ToList();
    //List<webx_VEHICLE_HDR> ListGetValidDriver = new List<webx_VEHICLE_HDR>();


    List<webx_citymaster> cityList = MS.GetCityMasterObject().Where(c => c.activeflag == null ? c.activeflag == null : c.activeflag == "Y").OrderBy(c => c.Location).ToList();
    List<webx_rutmas> RoutbasedList = FS.GetRoutemodewiseDetails().ToList();
    List<webx_trip_rutmas> RutList = FS.GetTripRutMstDetails().Where(c => c.ACTIVEFLAG == null ? c.ACTIVEFLAG == null : c.ACTIVEFLAG == "Y").ToList();

    //Model.PC.IsFuelCard = true;
    Model.PC.IsFuelCard = false;
    Model.PC.ModuleType = "OA";
    Model.WTSA.AdvAmt = "0.00";
    Model.WTSA.AdvLoc = ViewBag.BaseLocationCode;
    Model.WTSA.Signature = ViewBag.BaseUserName;
}

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@ViewBag.Title
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("AddTripOpen", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>

                <h4 class="form-section">Basic Details</h4>

                <div id="divStep1">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Trip Sheet No. </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WFVI.VSlipNo, new { placeholder = "System Generated", @class = "form-control", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Manual Trip Sheet No.</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WFVI.Manual_TripsheetNo, new { placeholder = "Manual Trip Sheet No", @class = "required2 form-control clsDocumentNo" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Trip Sheet Date</label>
                                <div class="col-md-7">
                                    @{
                                        Html.RenderPartial("../UserControls/_DocumentDateTime", OD);
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Start Location </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WFVI.TripSheet_StartLoc, new { placeholder = "Start Location", @class = "form-control", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">End Location </label>
                                <div class="col-md-7">
                                    @*@Html.DropDownListFor(m => m.WFVI.TripSheet_EndLoc, new SelectList(ListLocation, "LocCode", "LocName"), "", new { @class = "select2 drp form-control", placeholder = "Select End Location" })*@
                                    @Html.TextBoxFor(model => model.WFVI.TripSheet_EndLoc, new { @class = "required required2 form-control", @placeholder = "End Location" })
                                    @Html.HiddenFor(model => model.WFVI.TripSheet_EndLocName)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Route </label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(m => m.WFVI.RouteList, new SelectList(RouteList, "Value", "Text"), null, new { @class = "select2 form-control", placeholder = "Select Market Own" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 Route">
                            <div class="form-group">
                                <label class="control-label col-md-5">Add Route </label>
                                <div class="col-md-7">
                                    @*@Html.DropDownListFor(m => m.WFVI.TripSheet_EndLoc, new SelectList(ListLocation, "LocCode", "LocName"), "", new { @class = "select2 drp form-control", placeholder = "Select End Location" })*@
                                    @Html.DropDownListFor(c => c.WFVI.Route, new SelectList(RutList, "RUTCD", "RUTDESC"), "", new { @class = "form-control select2 dropDown", @placeholder = "Select Route" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 City">
                            <div class="form-group">
                                <label class="control-label col-md-5">Start City </label>
                                <div class="col-md-7">
                                    @*@Html.DropDownListFor(m => m.WFVI.TripSheet_EndLoc, new SelectList(ListLocation, "LocCode", "LocName"), "", new { @class = "select2 drp form-control", placeholder = "Select End Location" })*@
                                    @Html.DropDownListFor(c => c.WFVI.From_City, new SelectList(cityList, "city_code", "Location"), "", new { @class = "form-control select2 dropDown  required2", @placeholder = "Start City" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 City">
                            <div class="form-group">
                                <label class="control-label col-md-5">End City </label>
                                <div class="col-md-7">
                                    @*@Html.DropDownListFor(m => m.WFVI.TripSheet_EndLoc, new SelectList(ListLocation, "LocCode", "LocName"), "", new { @class = "select2 drp form-control", placeholder = "Select End Location" })*@
                                    @Html.DropDownListFor(c => c.WFVI.To_City, new SelectList(cityList, "city_code", "Location"), "", new { @class = "form-control select2 dropDown  required2", @placeholder = "End City" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Category </label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(m => m.WFVI.Category, new SelectList(CategoryList, "Value", "Text"), null, new { @class = "required required2 select2 form-control", placeholder = "Select Category" })
                                </div>
                            </div>
                        </div>
                        <div id="divcodecategry" style="display:none">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Enter Customer Code</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.WFVI.Custcode, new { placeholder = "Search Customer", @class = "required2 form-control " })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">External Usages Category</label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(m => m.WFVI.Externalusage_Category, new SelectList(ObjCategoryList, "CodeId", "CodeDesc"), "", new { @class = "select2 form-control", placeholder = "Select External Usages Category" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="display:none" id="divmarket">
                            <div class="form-group">
                                <label class="control-label col-md-5">Market\Own</label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(m => m.WFVI.Market_Own, new SelectList(OwnList, "Value", "Text"), null, new { @class = "select2 form-control", placeholder = "Select Market Own" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vehicle Mode </label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(m => m.WFVI.Vehicle_Mode, new SelectList(ObjVechicleMode, "CodeId", "CodeDesc"), null, new { @class = "required required2 select2 form-control", placeholder = "Select Vehicle Mode" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 divVechicalNo" style="display:none">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vehicle No</label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(m => m.WFVI.VehicleNo, new SelectList(ObjVehicleList, "VEHNO", "VEHICLE"), "", new { @class = "select2 form-control required required2", placeholder = "Select Vehicle No" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 Entervechivcal" style="display: none">
                            <div class="form-group">
                                <label class="control-label col-md-5">Enter Vehicle</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WFVI.In_driver_Name, new { placeholder = "Enter Vehicle Name", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <h4 class="form-section">Driver 1 Details</h4>

                    <div class="row">
                        <div class="col-md-4 divVechicalNo" style="display: none; ">
                            <div class="form-group">
                                <label class="control-label col-md-5">Driver </label>
                                <div class="col-md-5" style="padding-right:  0px;">
                                    @Html.DropDownListFor(m => m.WFVI.Driver1, new SelectList(ObjDriverList, "Driver_Id", "Driver_Name"), "", new { @class = "select2 required required2 drp form-control", placeholder = "Select Driver1" })
                                </div>
                                <div class="col-md-2" style="padding-left:  0px;">
                                    <div id="ChangeDriver">
                                        <a class="btn btn-sm red" data-toggle="modal" href="#basic" style="line-height:1.4">
                                            Change Driver
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 divVechicalNo" style="display: none; ">
                            <div class="form-group">
                                <label class="control-label col-md-5">Driver Name</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WFVI.Driver1_Name, new { placeholder = "Driver1 Name", @class = "form-control required required2", @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 Entervechivcal" style="display: none; ">
                            <div class="form-group">
                                <label class="control-label col-md-5">Enter Driver 1 </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WFVI.In_driver_Name1, new { placeholder = "Enter Driver1", @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Driver License No. </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WFVI.Licno1, new { placeholder = "Driver1 License No.", @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Driver1 License Valid upto</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WFVI.Validdt1, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.WFVI.Validdt1).ToString("dd MMM yyyy")), new { @class = "form-control", @placeholder = "dd MMM yyyy" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Mobile No .</label>
                                <div class="col-md-7">
                                    @*@Html.TextBoxFor(m => m.WFVI.Driver1_MobileNo, new { placeholder = "Driver Mobile No.", @class = "form-control required required2", @number = "true", @maxlength = 11 })*@
                                    @Html.TextBoxFor(m => m.WFVI.Driver1_MobileNo, new { placeholder = "Driver Mobile No.", @class = "form-control required required2",  @maxlength = 35 })


                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <h4 class="form-section">Driver 2 Details</h4>

                    <div class="row">
                        <div class="col-md-4 form-group divVechicalNo" style="display: none; ">
                            <label class="control-label col-md-5">Driver 2 </label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(m => m.WFVI.Driver2, new SelectList(ObjDriverList2, "Driver_Id", "Driver_Name"), "", new { @class = "select2 drp form-control", placeholder = "Select Driver2 " })
                            </div>
                        </div>

                        <div class="col-md-4 form-group divVechicalNo" style="display: none; ">
                            <label class="control-label col-md-5">Driver Name </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WFVI.Driver2_Name, new { placeholder = "Driver2 Name", @class = "form-control", @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-4 form-group Entervechivcal" style="display: none; ">
                            <label class="control-label col-md-5">Enter Driver 2	 </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WFVI.In_driver_Name2, new { placeholder = "Enter Driver2", @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-5">Driver License No.</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WFVI.Licno2, new { placeholder = "Driver2 License No.", @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-5">Driver2 License Valid upto </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WFVI.Validdt2, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.WFVI.Validdt2).ToString("dd MMM yyyy")), new { @class = "form-control", @placeholder = "dd MMM yyyy" })
                            </div>
                        </div>

                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-5">Mobile No .</label>
                            <div class="col-md-7">
                                @*@Html.TextBoxFor(m => m.WFVI.Driver2_MobileNo, new { placeholder = "Driver Mobile No.", @class = "form-control", @number = "true", @maxlength = 11 })*@
                                @Html.TextBoxFor(m => m.WFVI.Driver2_MobileNo, new { placeholder = "Driver Mobile No.", @class = "form-control", @maxlength = 35 })


                            </div>
                        </div>
                    </div>

                    <hr />
                    <h4 class="form-section">Other Details</h4>

                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-5">Latitude</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WFVI.Latitude, new
                           {
                               placeholder = "Latitude",
                               @class = "form-control required2",
                               @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))"@*, @checkDocumentNo1=true*@})
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-5">Longitude</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WFVI.Longitude, new { placeholder = "Longitude", @class = "form-control required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-5">Starting Km. Reading </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WFVI.f_issue_startkm, new { placeholder = "Starting Km. Reading", @class = "required2 required form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @max = "900000", @min = "1", @readonly = "true" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-5">Diesel Balance (Ltr) </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WFVI.DIESEL_AMT_CF, new { placeholder = "Diesel Balance (Ltr)", @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-5">Diesel Balance Amount </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WFVI.DIESEL_QTY_CF, new { placeholder = "Diesel Balance Amount", @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-5">Driver Balance</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WFVI.driver1_Op_Bal, new { placeholder = "Driver Balance", @class = "required2  form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                            </div>
                        </div>
                    </div>

                    <div class="row">


                        @*<div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-5">From City</label>
                    <div class="col-md-7">
                        @Html.DropDownListFor(m => m.WFVI.From_City, new SelectList(ObjCityList, "city_code", "Location"), "", new { @class = "select2 drp form-control", placeholder = "From City" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-5">To City</label>
                    <div class="col-md-7">
                        @Html.DropDownListFor(m => m.WFVI.To_City, new SelectList(ObjCityList, "city_code", "Location"), "", new { @class = "select2 drp form-control", placeholder = "To City" })
                    </div>
                </div>
            </div>*@
                    </div>

                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-8">
                                Checklist <b class="text-primary"><a href="javascript://" id="OpenFleetList">  Click here for CheckList</a></b>
                            </label>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-5">Transit Time </label>
                            <div class="col-md-2">
                                @Html.TextBox("Transit_HH", "", new { @class = " form-control required2 required", @number = "true", @min = "0"  })
                            </div>
                            <div class="col-md-2">
                                @Html.TextBox("Transit_MM", "", new { @class = " form-control required2 required", @number = "true",@min = "0", @max = "60" })
                            </div>
                            <div class="col-md-3">
                                (HH : MM) 
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-5">Fuel slip provided</label>
                            <div class="col-md-7 chkactive">
                                @Html.CheckBox("ChkslipProvide", new { @class = "form-control", @readonly = "readonly" })
                                <input type="checkbox" checked="checked" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" id="FleetCheckList" style="display:none">
                    <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                        <li><strong>CheckList </strong></li>
                        <li style="float:right"><strong><a href="javascript://" id="closeDiv"> X</a></strong></li>
                    </ul>
                    <div class="col-md-6">
                        <!-- BEGIN SAMPLE TABLE PORTLET-->
                        <div class="portlet">
                            <div class="portlet-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                Category
                                            </th>
                                            <th>
                                                Checklist
                                            </th>
                                            <th>
                                                Checking Done
                                            </th>
                                            <th>
                                                Comments
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ListCheckListDetail)
                                        {
                                            Html.RenderPartial("_FleetCheckList", item);
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label col-md-5"> </label>
                                <div class="col-md-7">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label col-md-5">Checked By</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WFCLH.Checked_By, new { placeholder = "Checked By", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label col-md-5">Checked Date</label>
                                <div class="col-md-7">
                                    @*@Html.TextBoxFor(m => m.WFCLH.Checked_Dt, new { placeholder = "Checked Date", @class = "form-control date-picker" })*@
                                    <div class="input-group date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d">
                                        @Html.TextBoxFor(m => m.WFCLH.Checked_Dt, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.WFCLH.Checked_Dt).ToString("dd MMM yyyy")), new { @class = "form-control", @placeholder = "dd MMM yyyy" })
                                        <span class="input-group-btn">
                                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label col-md-5">Approved By</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WFCLH.Approved_By, new { placeholder = "Approved By", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label col-md-5">Approved Date</label>
                                <div class="col-md-7">
                                    @*@Html.TextBoxFor(m => m.WFCLH.Approved_Dt, new { placeholder = "Approved Date", @class = "form-control date-picker" })*@
                                    <div class="input-group date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d">
                                        @Html.TextBoxFor(m => m.WFCLH.Approved_Dt, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.WFCLH.Approved_Dt).ToString("dd MMM yyyy")), new { @class = "form-control", @placeholder = "dd MMM yyyy" })
                                        <span class="input-group-btn">
                                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="FuleShlipEntry" style="display:none;">
                    <div class="col-md-12">
                        <!-- BEGIN SAMPLE TABLE PORTLET-->
                        <div class="portlet box @ViewBag.TableBoxColor">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-edit"></i>Fuel Slip Entry
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table id="sample_1" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                Sr.No
                                            </th>
                                            <th>
                                                Slip Type (Fuel/Cash)
                                            </th>
                                            <th>
                                                Fuel Slip No.
                                            </th>
                                            <th>
                                                Fuel Vendor
                                            </th>
                                            <th>
                                                Quantity in Litter
                                            </th>
                                            <th>
                                                Rate
                                            </th>
                                            <th>
                                                Amount
                                            </th>
                                            <th>
                                                X
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblFuelSlip">
                                        @foreach (var item in Model.ListFuelSlipNo)
                                        {
                                            Html.RenderPartial("_FuelSlipList", item);
                                        }
                                    </tbody>
                                    <tr>
                                        <td colspan="3"></td>
                                        <td>
                                            <label><b> Amount</b></label>
                                        </td>
                                        <td>
                                            <b><label id="FinalAmount">0</label></b>
                                        </td>
                                        <td></td>
                                        <td>
                                            <b><label id="TotalAmount">0</label></b>
                                        </td>
                                    </tr>
                                </table>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" id="btnFuelSlip" class="btn green pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN SAMPLE TABLE PORTLET-->
                        <div class="portlet box @ViewBag.TableBoxColor">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-edit"></i>Details of Advance Taken
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="center">
                                                Sr.No
                                            </th>
                                            <th class="col-md-1">
                                                Place
                                            </th>
                                            <th class="col-md-3 center">
                                                Advance Date (dd/mm/yyyy)
                                            </th>
                                            <th>
                                                Amount
                                            </th>
                                            <th>
                                                Branch Code
                                            </th>
                                            <th>
                                                Advance Paid By
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="center">
                                                1
                                            </td>
                                            <td class="form-group">
                                                @Html.TextBoxFor(m => m.WTSA.AdvLoc, new { placeholder = "Place", @class = "form-control" })
                                            </td>
                                            <td class="col-md-2 form-group">
                                                <div class="col-md-12">
                                                    @*<div class="input-group date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d">
                                                            @Html.TextBoxFor(m => m.WTSA.AdvDate, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.WTSA.AdvDate).ToString("dd MMM yyyy")), new { @class = "form-control small", @placeholder = "dd MMM yyyy" })
                                                            <span class="input-group-btn">
                                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                            </span>
                                                        </div>*@
                                                    @{Html.RenderPartial("../UserControls/_DocumentDate", Date);}
                                                </div>
                                            </td>
                                            <td class="form-group">
                                                @Html.TextBoxFor(m => m.WTSA.AdvAmt, new { placeholder = "Amount", @class = "form-control required required2 cls_Remove_Zero cls_Set_Zero", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                                            </td>
                                            <td class="form-group">
                                                @Html.TextBoxFor(m => m.WTSA.BranchCode, new { placeholder = "Branch Code", @class = "form-control required required2", @readonly = true })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.WTSA.Signature, new { placeholder = "Advance Paid By", @class = "form-control" })
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box @ViewBag.TableBoxColor">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-edit"></i>Payment Details
                                </div>
                            </div>
                            <div class="portlet-body ">
                                <div class="form-body">
                                    <div class="row">
                                        @{Html.RenderPartial("../UserControls/_PaymentControl", Model.PC);}
                                    </div>
                                    <div class="form-actions fluid">
                                        <div class="col-md-offset-4 col-md-8">
                                            <button type="submit" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <a class="btn btn-sm default controls" href="@Url.Action("TripOpen", "Fleet")"> <i class="fa fa-refresh"> </i>&nbsp;Reset</a>
                    <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                </div>
            </div>
                                            }
        @*}*@
    </div>
</div>

<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Driver Name</h4>
            </div>
            <div class="modal-body">
                <div class="form-grou p">
                    <label class="control-label col-md-2">Driver </label>
                    <div class="col-md-7">
                        @Html.DropDownListFor(m => m.WFVI.ReassignDriver, new SelectList(FreeDriverForTripList, "Driver_Id", "Driver_Name"), "", new { @class = "select2 required2 drp form-control", placeholder = "Select Driver1" })
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnClose" class="btn default" data-dismiss="modal">Close</button>
                <button type="button" id="btnDriverChange" class="btn blue">Save changes</button>
            </div>
        </div>
    </div>
</div>

@*<script src="~/Scripts/Fleet/TripOpen.js"></script>*@

<script>

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: true, // do not focus the last invalid input

                rules: {

                }, messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    App.blockUI({ boxed: true });
                    success1.show();
                    error1.hide();
                    $("#btnSubmit").show();
                    $.post($("#form_sample").attr('action'), $("#form_sample").serialize(), function (data, status) {
                        if (status == "success") {
                            TosterNotification("success", "Record has been saved successfully..!!", "Success");
                            window.location.href = DomainName + 'operation/DRSUpdate'
                        }
                        else {
                            TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                        }
                    });
                }
            });
        }

        var AddFuelSlipEntry = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Fleet/ADDFuelSlipEntry?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#tblFuelSlip").append(html);

                    $("#FuelSleepList_" + itemIndex + "__SLIPTYPE").select2({
                        placeholder: "Select an option",
                    });
                    $("#FuelSleepList_" + itemIndex + "__FUELVENDOR")
                    .select2({
                        placeholder: "Select an option",
                    });
                    //Qty
                    $("#FuelSleepList_" + itemIndex + "__QUANTITYINLITER").live('change', function () {
                        var Qty = $("#FuelSleepList_" + itemIndex + "__QUANTITYINLITER").val();
                        var Rate = $("#FuelSleepList_" + itemIndex + "__RATE").val();
                        Amount = $("#FuelSleepList_" + itemIndex + "__QUANTITYINLITER").val() * $("#FuelSleepList_" + itemIndex + "__RATE").val()
                        $("#FuelSleepList_" + itemIndex + "__AMOUNT").val(Amount)
                        CalTotAmt();
                        TotaltAmt(DomainName)
                    });
                    var CalTotAmt = function (DomainName) {
                        var FinalVal = 0;
                        $(".ClsAmount").each(function () {
                            var val = Number($(this).val());
                            FinalVal += val;
                        });
                        $("#FinalAmount").html(FinalVal);
                    }

                    //Rate
                    $("#FuelSleepList_" + itemIndex + "__RATE").live('change', function () {
                        var Amount = 0;
                        var Qty = $("#FuelSleepList_" + itemIndex + "__QUANTITYINLITER").val();
                        var Rate = $("#FuelSleepList_" + itemIndex + "__RATE").val();
                        Amount = $("#FuelSleepList_" + itemIndex + "__QUANTITYINLITER").val() * $("#FuelSleepList_" + itemIndex + "__RATE").val()
                        $("#FuelSleepList_" + itemIndex + "__AMOUNT").val(Amount)

                        TotaltAmt(DomainName)
                        CalTotAmt();
                    });
                    var TotaltAmt = function (DomainName) {
                        var FinalVal = 0;
                        $(".TotAmount").each(function () {
                            var val = Number($(this).val());
                            FinalVal += val;
                        });
                        $("#TotalAmount").html(FinalVal);
                    }
                    App.unblockUI();

                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                //$("#WFVI_Latitude").change(function () {
                //    jQuery.validator.addMethod("checkDocumentNo1", function (value, element) {

                //        var reg = new RegExp("^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}");

                //        if (reg.exec(value)) {
                //            return true;
                //        } else {
                //            return false;
                //        }
                //    }, jQuery.validator.format("Enter correct Document no."));
                //});

                FormValidate(DomainName);
                PaymentControl(DomainName);
                AddFuelSlipEntry(DomainName, 1);
                ControlDate();
                Set_Remove_Default_Zero_Values(DomainName);

                $(".Route").hide()
                $(".City").hide()
                $('#WFVI_RouteList').live("change", function () {
                    if ($(this).val() == 1) {
                        $(".Route").show();
                        $(".City").hide();
                    }
                    else {
                        $(".Route").hide();
                        $(".City").show();
                    }
                });

                $('.clsDocumentNo').live("change", function () {

                    var StrURL = DomainName + "/Fleet/GetDocumentNoManullyNoCheck?DocumentNo=" + $("#WFVI_Manual_TripsheetNo").val();

                    var result1 = $.ajax({
                        async: false,
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        url: StrURL,
                        dataType: 'json',
                        data: {},
                    });
                    var d1 = JSON.parse(result1.responseText);
                    console.log(d1)
                    if (parseInt(d1.CNT) >= 1) {
                        alert("Enter Dupllicate Manual Trip Sheet No .");
                        $("#WFVI_Manual_TripsheetNo").val("");
                        return false;
                    }
                    else {
                        return true
                    }
                    
                    //jQuery.validator.addMethod("checkDocumentNo", function (value, element) {

                       
                    //}, jQuery.validator.format("Enter correct Document no."));
                });

                $("#ChangeDriver").hide();
                $("input[name='numberTypeR']").live("change", function () {
                    var numberType = $('input[name=numberTypeR]:checked').val();
                    $("#numberType").val(numberType);
                    $("#ChequeNo").attr("placeholder", $('input[name=numberTypeR]:checked').parents('label').text().trim());
                    if (numberType == "C") {
                        $("#ChequeNo").val("");
                        $("#ChequeNo").attr("maxlength", "6");
                        $("#ChequeNo").attr("minlength", "6");
                        $("#ChequeNo").attr("number", true);
                    }
                    else {
                        $("#ChequeNo").val("");
                        $("#ChequeNo").attr("maxlength", "22");
                        $("#ChequeNo").attr("minlength", "6");
                        $("#ChequeNo").removeAttr("number");
                    }
                });

                $("#PaymentMode").removeClass('required');
                $("#WTSA_AdvAmt").on("focusout", function () {
                    if ($(this).val() > 0) {
                        $("#PaymentMode").addClass('required');
                    }
                    else {
                        $("#PaymentMode").removeClass('required');
                    }
                });

                $("#btnSubmit").click(function () {
                    if ($("#form_sample").valid()) {
                        App.blockUI({ boxed: true });
                        return true
                    }
                    else {
                        return false;
                    }
                });
                $("#WTSA_AdvAmt").live('blur', function () {
                    $("#PayAmount").val($(this).val())
                })
                $('.date-picker').datepicker("remove");
                $('.date-picker').datepicker({
                    isRTL: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: new Date($("#WFVI_VSlipDt").val()),
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left")
                });
                $('.timepicker-default').timepicker({
                    autoclose: true,
                    minuteStep: 1,
                    defaultValue: "@System.DateTime.Now.ToString("HH:MM")"
                });
                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });
                $("#btnSave").hide();
                if ($("#WFVI_Category").val() == 'External Usage') {
                    $("#divcodecategry").show()
                    $("#divmarket").hide();
                    StrURL = DomainName + "/Master/GetCustomerList?Type=" + "";
                    JsonDDLSelectCode("WFVI_Custcode", StrURL);
                }
                else {
                    $("#divcodecategry").hide();
                    $("#divmarket").show();
                    App.unblockUI();
                }
                $("#WFVI_Category").change(function () {
                    App.blockUI({ boxed: true });
                    if ($(this).val() == 'External Usage') {
                        $("#divcodecategry").show()
                        $("#divmarket").hide();
                        StrURL = DomainName + "/Master/GetCustomerList?Type=" + "";
                        JsonDDLSelectCode("WFVI_Custcode", StrURL);
                    }
                    else {
                        $("#divcodecategry").hide();
                        $("#divmarket").show();
                        App.unblockUI();
                    }
                });
                //StrURL = DomainName + "/Operation/GetDestinationLocations";
                //JsonDDLSelectCode("WTSA_BranchCode", StrURL);
                //$('#ChkslipProvide').click(function () {

                //    if ($(this).is(':checked')) {
                //        $("#FuleShlipEntry").show(800)
                //    }
                //    else
                //        $("#FuleShlipEntry").hide(800)
                //});

                $("#btnFuelSlip").live('click', function () {
                    var itemIndex = $("#sample_1 input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddFuelSlipEntry(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });

                $("#OpenFleetList").live('click', function () {
                    $("#FleetCheckList").show(800)
                });
                $("#closeDiv").live('click', function () {
                    $("#FleetCheckList").hide(800)
                });

                if ($("#WFVI_Vehicle_Mode").val() == "05") {
                    App.blockUI({ boxed: true });
                    var StrURL = DomainName + "/Fleet/GetValidVehicle?VendorType=" + $("#WFVI_Vehicle_Mode").val();
                    FillDropDownfromOther("WFVI_VehicleNo", StrURL, 'Vehical No');
                    //$("#WFVI_VehicleNo").prepend("<option value='0'>Select Vehical No</option>");

                    $(".divVechicalNo").show()
                    $(".Entervechivcal").hide();
                    $("#divVechicalNo").show();
                    $("#Entervechivcal").hide();

                    $("#WFVI_Licno2").prop("disabled", true);
                    $("#WFVI_Licno1").prop("disabled", true);
                    $("#WFVI_Validdt1").prop("disabled", true);
                    $("#WFVI_Validdt2").prop("disabled", true);
                    //App.unblockUI();
                }

                $("#WFVI_Vehicle_Mode").change(function () {
                    if ($(this).val() == "05") {
                        App.blockUI({ boxed: true });
                        var StrURL = DomainName + "/Fleet/GetValidVehicle?VendorType=" + $(this).val();
                        FillDropDownfromOther("WFVI_VehicleNo", StrURL, 'Vehical No');
                        //$("#WFVI_VehicleNo").prepend("<option value='0'>Select Vehical No</option>");

                        $(".divVechicalNo").show()
                        $(".Entervechivcal").hide();
                        $("#divVechicalNo").show();
                        $("#Entervechivcal").hide();

                        $("#WFVI_Licno2").prop("disabled", true);
                        $("#WFVI_Licno1").prop("disabled", true);
                        $("#WFVI_Validdt1").prop("disabled", true);
                        $("#WFVI_Validdt2").prop("disabled", true);
                        //App.unblockUI();
                    }
                    else if ($(this).val() == "01") {
                        App.blockUI({ boxed: true });
                        $(".divVechicalNo").show();
                        $(".Entervechivcal").hide();
                        $("#divVechicalNo").hide();
                        $("#Entervechivcal").show();
                        $("#WFVI_Licno2").prop("disabled", false);
                        $("#WFVI_Licno1").prop("disabled", false);
                        $("#WFVI_Validdt1").prop("disabled", false);
                        $("#WFVI_Validdt2").prop("disabled", false);
                        App.unblockUI();
                    }
                    else {
                        App.blockUI({ boxed: true });
                        $("#divVechicalNo").hide();
                        $(".Entervechivcal").show();
                        $(".divVechicalNo").hide();
                        $("#Entervechivcal").show();
                        $("#WFVI_Licno2").prop("disabled", false);
                        $("#WFVI_Licno1").prop("disabled", false);
                        $("#WFVI_Validdt1").prop("disabled", false);
                        $("#WFVI_Validdt2").prop("disabled", false);
                        App.unblockUI();
                    }
                });
                $("#WFVI_VehicleNo").change(function () {
                    //$("#WFVI_Driver1").select2('data', null);
                    App.blockUI({ boxed: true });
                    var StrURL = DomainName + "/Fleet/GetVechicalKM?VechicalNo=" + $(this).val();
                    $.ajax({
                        url: StrURL,
                        type: "POST",
                        context: document.body,
                        data: {},
                        success: function (data) {
                            $("#WFVI_f_issue_startkm").val(data.current_KM_Read);
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            App.unblockUI();
                        }
                    });
                    $("#WFVI_Driver1").select2("data", null);
                    var StrURL = DomainName + "/Fleet/GetValidDriver?VechicalNo=" + $(this).val();
                    FillDropDownfromOther("WFVI_Driver1", StrURL, 'Driver');
                    //$("#WFVI_Driver1").prepend("<option value='0'>Select an option..</option>");

                    $("#VehicleNo").val($("#WFVI_VehicleNo").val());

                    //if ($("#WFVI_VehicleNo").val() != "") {
                    //    $("#ChangeDriver").show();
                    //}
                    //else {
                    //    $("#ChangeDriver").hide();
                    //}

                });
                $("#WFVI_Driver1").change(function () {
                    App.blockUI({ boxed: true });
                    //$("#WFVI_Driver1").select2('data', null);
                    if($(this).val()!="")
                    {
                        var StrURL = DomainName + "/Fleet/GetDriverDetails_New?Driver_Id=" + $(this).val();
                        $.ajax({
                            url: StrURL,
                            type: "POST",
                            context: document.body,
                            data: {},
                            success: function (data) {
                                var dNow = new Date();
                                var localdate = dNow.getDate() + '/' + (dNow.getMonth() + 1) + '/' + dNow.getFullYear();
                                //alert(new Date(myDateFormatter(data.Valdity_dt)) + " >= " + dNow + " --- " + data.Valdity_dt)
                                if (new Date(myDateFormatter(data.Valdity_dt)) < dNow) {
                                    alert(data.Driver_Name + ' License is Expired Please Select Another Driver')
                                    $("#WFVI_Driver1").select2("data", null);
                                }
                                else {
                                    $("#WFVI_Driver1_Name").val(data.Driver_Name);
                                    $("#WFVI_Licno1").val(data.License_No);
                                    $("#WFVI_Validdt1").val(myDateFormatter(data.Valdity_dt));
                                    $("#WFVI_Driver1_MobileNo").val(data.Mobileno);
                                }
                                App.unblockUI();
                            },
                            error: function (req, status, error) {
                                App.unblockUI();
                            }
                        });
                    }

                });

                JsonDDL('WFVI_TripSheet_EndLoc', DomainName + '/Master/GetLocationListJson', true);
                if ($("#WFVI_TripSheet_EndLoc").val() != '' && $("#WFVI_TripSheet_EndLoc").val() != null) {
                    $("#WFVI_TripSheet_EndLoc").select2("data", { id: $("#WFVI_TripSheet_EndLoc").val(), text: $("#WFVI_TripSheet_EndLocName").val() });
                }

               


                $("#btnDriverChange").live("click", function () {

                    var BRCD = "@ViewBag.BaseLocationCode";
                    var UserName = "@ViewBag.BaseUserName";
                    var ReassignDriver = $("#WFVI_ReassignDriver").val();
                    var VehicleNo = $("#WFVI_VehicleNo").val();

                    if (VehicleNo == "" || VehicleNo == null) {
                        return false;
                    }
                    if (ReassignDriver == "" || ReassignDriver == null) {
                        return false;
                    }

                    var strUrl = "@Url.Action("GetData", "Account")";
                    var parameters = {};
                    parameters['VehNo'] = VehicleNo
                    parameters['UserName'] = UserName
                    parameters['BRCD'] = BRCD
                    parameters['DriverID'] = ReassignDriver

                    $.ajax({
                        url: strUrl,
                        type: 'POST',
                        dataType: "json",
                        data: {
                            Method: 'UpdateDriverAgainstVehicle',
                            parameters: parameters
                        },
                        success: function (result) {

                            var Driver_Id = result[0].Driver_Id;
                            var Driver_Name = result[0].Driver_Name;
                            var Manual_Driver_Code = result[0].Manual_Driver_Code;
                            var License_No = result[0].License_No;
                            var Valdity_dt = result[0].Valdity_dt;
                            var Mobileno = result[0].Mobileno;
                            var DriverName = result[0].DriverName;

                            //$("#WFVI_Driver1").select2("data", null);
                            $('#WFVI_Driver1').append('<option value="' + Driver_Id + '">' + DriverName + '</option>');

                            $("#WFVI_Driver1").val(Driver_Id);
                            $("#WFVI_Driver1").select2().find(":selected").data(Driver_Id);
                            $("#WFVI_Driver1_Name").val(Driver_Name);
                            $("#WFVI_Licno1").val(License_No);
                            $("#WFVI_Driver1_MobileNo").val(Mobileno);
                            $("#WFVI_Validdt1").val(Valdity_dt);

                            App.unblockUI();
                            TosterNotification("succes", 'Successfully Done');
                            $("#btnClose").click();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! ... Please try again later..', "Oppps..!!");
                            App.unblockUI('#responsive');
                        }
                    });
                });
            }
        }
    }();
</script> 