﻿@model Fleet.ViewModels.TrackViewModel
@using FleetDataService.Models;
@using Fleet.Classes;
@{
    ViewBag.Title = "TripSheetViewList";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontalrow-fluid", enctype = "multipart/form-data" }))
        {
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>TripSheet View List
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <table class="table table-striped table-bordered table-hover table-full-width center" id="Sample1">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        Trip Sheet Number
                                    </th>
                                    <th class="center">
                                        Manual_Tripsheet No
                                    </th>
                                    <th class="center">
                                        Tripsheet Date
                                    </th>
                                    <th class="center">
                                        Tripsheet Close Date
                                    </th>
                                    <th class="center">
                                        Vehicle Number
                                    </th>
                                    <th class="center">
                                        Driver
                                    </th>
                                    <th class="center">
                                        Status
                                    </th>
                                    <th class="center">
                                        View
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="MRTable">
                                @foreach (var item in Model.TripTrackModelList)
                                {
                                    Html.RenderPartial("_TripSheetView", item);
                                }
                            </tbody>
                        </table>
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-5 col-md-7">
                                    <a href="@Url.Content("~/Fleet/TripSheetView")" class="btn btn-sm default"><i class=" fa fa-arrow-left"></i>&nbsp;Back To Criteria</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var initTable1 = function (DomainName) {

            $('#Sample1').dataTable({
                "aLengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 20,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },

            });
            jQuery('#Sample1_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
            jQuery('#Sample1_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
            jQuery('#Sample1_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
        }


        var Events = function (DomainName) {

            $('#btnSubmit').click(function () {
                App.blockUI({ boxed: true });
                $('#form_sample').submit();
            });


        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                initTable1(DomainName);
                FormValidate(DomainName);
                var itemIndex = $("#sample_ven input.iHidden").length + 1;
                Events(DomainName);
                handleDateRangePickers();
                $('#btnSubmit1').hide();

                $('.CLSCHK').click(function () {
                    totchk = 0;
                    if ($(this).is(":checked")) {
                        $('#' + $(this).attr('id').replace('IsChecked', 'NewVENDORCODENAME')).addClass('required');
                    }
                    else {
                        $('#' + $(this).attr('id').replace('IsChecked', 'NewVENDORCODENAME')).removeClass('required');
                    }
                    var checked = jQuery(this).is(":checked");
                    $('.CLSCHK').each(function () {
                        var checked1 = jQuery(this).is(":checked");
                        if (checked1)
                            totchk++;
                        if (totchk == 0)
                            $('#btnSubmit1').hide();
                        else
                            $('#btnSubmit1').show();
                    });
                });
                JsonDDL('vendorcodename ', DomainName + '/Master/SearchVendorListJson/', true);
            }
        }
    }();
</script>


