﻿@model Fleet.ViewModels.TripRouteFuelExpenceViewModel
@using FleetDataService.Models;
@{
    ViewBag.Title = "Trip Route Fuel Expence List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    FleetDataService.FleetService FS = new FleetDataService.FleetService();
    List<webx_trip_rutmas> RutList = FS.GetTripRutMstDetails().Where(c => c.ACTIVEFLAG == null ? c.ACTIVEFLAG == null : c.ACTIVEFLAG == "Y").ToList();
}
<div id="AddEditCityMaster"></div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    <div class="form-group">
                        <div class="col-md-9">
                            <label class="control-label col-md-1">Route :</label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(c => c.VWTRFE.route_code, new SelectList(RutList, "RUTCD", "RUTDESC"), "", new { @class = "form-control select2", @placeholder = "Select Route" })
                            </div>
                            <label class="control-label col-md-2" style="text-align:right">Diesel Rate :</label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(c => c.VWTRFE.RutCharge, new { @class = "form-control" ,@readonly="true"})
                            </div>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="btn btn-sm default blue-stripe pull-right" id="addEdit" data-toggle="modal">
                                <i class="fa fa-plus"></i>  Add Trip Route Expence
                            </a>
                        </div>
                    </div>
                </div>
                <hr />
                <div id="tblData" style="display:none;">
                    @{
                        Html.RenderPartial("_TripRouteFuelExpenceList", Model.listVWTRFE.ToList());
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var bindTable = function (id, DomainName) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Fleet/GetTripRouteFuelExpenceByRoute/' + id;
            $.ajax({
                url: strUrl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#tblData").hide(1000);
                    $('#TRIPROUTEEXPList').dataTable({
                        "bDestroy": true
                    }).fnDestroy();
                    $("#TRIPROUTEEXPList").html(data);
                    App.unblockUI();
                    $("input:checkbox, input:radio").uniform();
                    initTableById("TRIPROUTEEXPList");
                    $("#tblData").toggle(1000);
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        var Rate = function (id, DomainName) {
            var strUrl = DomainName + '/Fleet/GetDieselPrize/' + id;
            $.ajax({
                url: strUrl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (Data) {
                    $("#VWTRFE_RutCharge").val(Data.Rate);
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        var GetObjectDet = function (id, DomainName) {
            window.location.replace(DomainName + '/Fleet/AddEditTripRouteFuelExpence/' + id);
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                //CheckDuplicateCity(DomainName);
                Formvalidate(DomainName);
                //ODAFlagChange()
                $("#addEdit").click(function () {
                    GetObjectDet("0", DomainName);
                });

                $(".btnMasterEdit").live('click', function (e) {
                    var id = $(this).data('id');
                    GetObjectDet(id, DomainName);
                });

                $('#VWTRFE_route_code').change(function () {
                    if ($(this).val() == null || $(this).val() == "") {
                        $("#TRIPROUTEEXPList").html('');
                        $("#tblData").hide(1000);
                        return false;
                    }
                    var id = $(this).val();
                    Rate(id, DomainName);
                    var strUrl = DomainName + '/Fleet/GetTripRouteFuelExpenceByRoute/' + id;
                    $.ajax({
                        url: strUrl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {
                            $("#tblData").hide(1000);
                            $('#TRIPROUTEEXPList').dataTable({
                                "bDestroy": true
                            }).fnDestroy();
                            $("#TRIPROUTEEXPList").html(data);
                            App.unblockUI();
                            $("input:checkbox, input:radio").uniform();
                            initTableById("TRIPROUTEEXPList");
                            $("#tblData").toggle(1000);
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                });

                initTableById("TRIPROUTEEXPList");
            }
        }
    }();
</script>


