﻿@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@model Fleet.ViewModels.JobTripViewPrintViewModel

@{
    ViewBag.Title = "TripSheetViewPrint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    FleetDataService.FleetService FS = new FleetDataService.FleetService();

    List<ChgangeLoc> BranchList = FS.TopBranch();
    
    var TripTypeList = new List<SelectListItem>();
    TripTypeList.Add(new SelectListItem { Text = "Enter Manual TripSheet No.", Value = "M" });
    TripTypeList.Add(new SelectListItem { Text = "Enter Trip Sheet No.", Value = "T" });

    var TripStatus = new List<SelectListItem>();
    TripStatus.Add(new SelectListItem { Text = "Both", Value = "B" });
    TripStatus.Add(new SelectListItem { Text = "Pending", Value = "P" });
    TripStatus.Add(new SelectListItem { Text = "Completed", Value = "C" });

     
}

@using (Html.BeginForm("TripSheetViewPrintList", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-8">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;Select Trip Sheet View Print Criteria
                    </div>
                </div>
                <div class="portlet-body" id="divCrieteria">
                    <div class="form-body">
                        <div class="form-group ">
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.TripFTType, new SelectList(TripTypeList, "Value", "Text"), new { @class = "select2 form-control pull-right", @style = "width:192px;" })
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.TripSheetNo, new { placeholder = "Trip Sheet No.", @class = "form-control " })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                            </label>
                            <div class="col-md-6">
                                <b>OR</b>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Select Date:
                                @Html.HiddenFor(c => c.FromDate)
                                @Html.HiddenFor(c => c.ToDate)
                            </label>
                            <div class="col-md-6">
                                <div id="reportrange" class="btn default col-md-12">
                                    <i class="fa fa-calendar"></i>
                                    &nbsp;
                                    <span></span>
                                    <b class="fa fa-angle-down"></b>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Select Branch:
                            </label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.BRCD, new SelectList(BranchList, "LocCode", "Location"),null, new { @class = "form-control clsall" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Select Trip Sheet Status:
                            </label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.Status, new SelectList(TripStatus, "Value", "Text"), new { @class = "select2 form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Driverwise:
                            </label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.Driver, new { @class = "form-control blue-stripe required" })
                               @* @Html.DropDownListFor(model => model.Driver, new SelectList(DriverList, "CodeId", "CodeDesc"), new { @class = "select2 form-control" })*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Vehiclewise:
                            </label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.Vehicle, new { @class = "form-control blue-stripe required" })
                                @*@Html.DropDownListFor(model => model.Vehicle, new SelectList(TripTypeList, "Value", "Text"), new { @class = "select2 form-control" })*@
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-12">
                                    <button type="submit" id="btnSubmit" class="btn blue"><i class="fa fa-search"></i>&nbsp; Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }
            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                //maxDate: '12/31/2014',
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#FromDate').val(start.format('MMMM D, YYYY'));
                     $('#ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ToDate').val(moment().format('MMMM D, YYYY'));
        }

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.forms["form_sample"].submit()
                }
            });
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);
                handleDateRangePickers();
                JsonDDL('Driver', DomainName + '/Fleet/GetDriver_Name', false);
                JsonDDL('Vehicle', DomainName + '/Fleet/GetVehicle_Name', false);

                $(".clsall").append("<option value='ALL'>ALL</option>");
                $(".clsall").val("ALL");
                $(".clsall").select2().find(":selected").data("ALL");
                $("#BRCD").select2({
                    placeholder: "Select an option",
                    allowClear: true
                });
                $('#btnSubmit').click(function () {
                    if (!$('#form_sample').valid()) {
                        return false;
                    }
                    $('#FuelFilterType').val(rdoval);
                    $('#form_sample').submit()

                });

            }
        }
    }();


</script>
