﻿@model Fleet.ViewModels.CloseTripSheetViewModel
@{
    ViewBag.Title = "Trip Close Amount Approved Reject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("TripClose_Amount_Approved_Reject", "Fleet", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
                {
                    <div class="form-body">
                        <div class="row" style="padding-bottom: 0px;padding-top: 0px;">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Issue Slip Id.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WFVI.VSlipNo, new { placeholder = "Issue Slip Id", @class = "form-control text-uppercase", @readonly = "True" })
                                        @Html.HiddenFor(m => m.IsApprove)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                                    <li><strong style="font-size: 12px;">En-route Other Expenses</strong></li>
                                </ul>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr role="row" class="heading">
                                            <th>
                                                Nature of Expense
                                            </th>
                                            <th>
                                                Amount Spent
                                            </th>
                                            <th>
                                                Bill No
                                            </th>
                                            <th>
                                                Remarks
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var itm in Model.EnrtExpList)
                                        {
                                            <tr>
                                                <td>@itm.id</td>
                                                <td>@itm.Amount_Spent</td>
                                                <td>@itm.BillNo</td>
                                                <td>@itm.Remarks</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="@*col-md-offset-3*@ col-md-6" style="text-align: right;">
                                        <button type="button" id="btn_Approve" class="btn green btnSubmit">Approve&nbsp;<i class="m-icon-swapright m-icon-white"></i> </button>
                                    </div>
                                    <div class="@*col-md-offset-3*@ col-md-6">
                                        <button type="button" id="btn_Reject" class="btn red btnSubmit">Reject&nbsp;<i class="m-icon-swapright m-icon-white"></i> </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    var FormComponents = function (DomainName) {

        return {
            //main function to initiate the module
            init: function (DomainName) {
                $("#UserDropDown").hide();
                $("#Yearbreadcrumb").hide();

                $("#btn_Approve").click(function () {
                    $("#IsApprove").val("1");
                    App.blockUI({ boxed: true });
                    $('#submit_form').submit();
                })

                $("#btn_Reject").click(function () {
                    $("#IsApprove").val("0");
                    App.blockUI({ boxed: true });
                    $('#submit_form').submit();
                })
            }
        };
    }();

</script>