﻿@model Fleet.ViewModels.TrackViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    ViewBag.Title = "TripSheet Tracker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    FleetDataService.FleetService FS = new FleetDataService.FleetService();
    FleetDataService.TrackingService TS = new FleetDataService.TrackingService();

    var TypeList = new List<SelectListItem>();
    TypeList.Add(new SelectListItem { Text = "Enter Trip Sheet No.", Value = "T" });
    TypeList.Add(new SelectListItem { Text = "Enter Manual TripSheet No.", Value = "M" });


    var TripSheetStatus = new List<SelectListItem>();
    TripSheetStatus.Add(new SelectListItem { Text = "Both", Value = "B" });
    TripSheetStatus.Add(new SelectListItem { Text = "Pending", Value = "P" });
    TripSheetStatus.Add(new SelectListItem { Text = "Completed", Value = "C" });

    List<webx_VEHICLE_HDR> VEHNO = FS.GetVEHICLEList();
    List<Webx_Master_General> Branch = FS.GetBranchFrom("searchTerm");
    Model.Branch = ViewBag.BaseLocationCode;

}
@using (Html.BeginForm("TripSheetViewList", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal ", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Select Type:
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.Type, new SelectList(TypeList, "Value", "Text"), new { @class = "select2 required2 form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Trip Sheet No.:
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.ManualDocNo, new { placeholder = "Enter Trip Sheet Number", @class = "form-control  " })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class=" form-group">
                                    <label class="control-label col-md-3">
                                    </label>
                                    <div class="col-md-8">
                                        <b>OR</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class=" form-group">
                                    <label class="control-label col-md-3">
                                        Select Date
                                    </label>
                                    @Html.HiddenFor(m => m.FromDate)
                                    @Html.HiddenFor(m => m.ToDate)
                                    <div class="col-md-8">
                                        <div id="reportrange" class="btn default col-md-14">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                      
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Select Branch:
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.Branch, new SelectList(Branch, "CodeId", "CodeDesc"), new { @class = "select2 form-control", @placeholder = "Select Branch" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Trip Sheet Status:
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.TripSheetStatus, new SelectList(TripSheetStatus, "Value", "Text"), new { @class = "select2 required2 form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Vehicle wise:
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.Vehiclewise, new SelectList(VEHNO, "VEHNO", "VEHNO"),"", new { @class = "select2 form-control", @placeholder = "Vehicle Number" })
                                    </div>
                                </div>
                            </div>
                        </div>                         
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Driverwise
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Driverwise, new { placeholder = "Driverwise", @class = "form-control  required2" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-8">
                            <button type="button" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Get List</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //document.form["form_sample"].submit();

                }

            });
        }

        var Events = function (DomainName) {

            $('#btnSubmit').click(function () {
                App.blockUI({ boxed: true });
                if (!$("#form_sample").valid())
                {
                    App.unblockUI();
                    return;
                }
                document.forms["form_sample"].submit();

            });


        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }
            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                //maxDate: '12/31/2014',
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#FromDate').val(start.format('MMMM D, YYYY'));
                     $('#ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ToDate').val(moment().format('MMMM D, YYYY'));
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                
                Formvalidate(DomainName);
                Events(DomainName);
                handleDateRangePickers();
                
                JsonDDL('Driverwise', DomainName + '/Fleet/GetDriverNameOnly', true);
            }
        }
    }();
</script>