﻿@model Fleet.ViewModels.TyreOdometerSearch
@using FleetDataService.Models
@using Fleet.Classes
@using System.Data;
@{
    ViewBag.Title = "Tyre Odometern";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Text = "Submit";

}

@using (Html.BeginForm("TyreOdometerSearchSubmit", "Fleet", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal", @readonly = "true" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>ReAssign BillSubmissionn Collection
                    </div>
                </div>

                <div class="portlet-body form">
                    <div class="form-body ">
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-2 center">Vehicle No.</th>
                                    <th class="col-md-2 center">Current reading KM</th>
                                    <th class="col-md-2 center">Odometer Reading</th>
                                    <th class="col-md-2 center">Odometer Reading Date</th>
                                    <th class="col-md-2 center">Reason</th>
                                    <th class="col-md-2 center">Delete Row</th>
                                </tr>
                            </thead>
                            <tbody id="Voucher">
                                @foreach (var item in Model.WVHL)
                                {
                                    Html.RenderPartial("_ADDTyreOdometern", item);
                                }
                            </tbody>
                        </table>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-9">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="btnAddFlightDetail" class="btn green pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 form-actions flude">
        <div class="col-md-offset-4 col-md-12">
            <a href="@Url.Content("~/Fleet/ADDTyreOdometern/0")" class="btn btn-sm default controls">&nbsp;Reset </a>
            <button type="submit" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i>&nbsp;@Text </button>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {

                },

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },


            });
        }

        var AddVoucherInfo = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Fleet/ADDTyreOdometern?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#Voucher").append(html);
                    App.unblockUI();
                    $('#VEHNOList_' + itemIndex + '__VEHNO').select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });

                    //JsonDDL('VEHNO', DomainName + '/Fleet/GetVEHICLE_NameJson', false);

                    $('#VEHNOList_' + itemIndex + '__Odometer_Reason').select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });

                    $('#VEHNOList_' + itemIndex + '__VEHNO').change(function () {
                        var SerchGroup = $(this).val();
                        var strUrl = DomainName + '/Fleet/GeVEHNOKm_NameJson?SerchGroup=' + SerchGroup;
                        //alert(strUrl)
                        $.ajax({
                            url: strUrl,
                            cache: false,
                            data: {},
                            type: 'POST',
                            success: function (Data) {
                                var location = JSON.stringify(Data.location);
                                var status = JSON.stringify(Data.status);
                                $('#VEHNOList_' + itemIndex + '__Current_Km_Read').val(Data.location);
                                $('#VEHNOList_' + itemIndex + '__VEH_INTERNAL_NO').val(Data.status);
                            },
                            error: function (req, status, error) {
                                TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                            }
                        });
                    });
                    if (jQuery().datepicker) {
                        $('.date-picker').datepicker({
                            rtl: App.isRTL(),
                            format: "dd M yyyy",
                            autoclose: true
                        });
                        $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
                    }

                    $('#VEHNO').change(function () {
                        var strUrl = DomainName + '/Fleet/GeVEHNOKm_NameJson?SerchGroup=' + SerchGroup;
                        alert(SerchGroup)
                        FillDropDownfromOther('Current_Km_Read', strUrl, '');
                    });

                    $("input[type=checkbox], input:radio, input:file").uniform();
                    $("a.deleteRow").live("click", function () {
                        $(this).parents("tr.editorRow:first").remove();
                        return false;
                    });
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }


        return {
            init: function (DomainName) {

                Formvalidate(DomainName);

                var itemIndex = $("#sample_ven input.iHidden").length + 1;
                AddVoucherInfo(DomainName, itemIndex);
                $("#btnAddFlightDetail").live('click', function () {
                    itemIndex = $("#sample_ven input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddVoucherInfo(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });

                $("#btnSubmit").click(function () {

                    $("#btnSubmit:input").attr("disabled", "true");
                    $("#form_sample").submit();
                });

            }
        }
    }();
</script>