﻿@{
    ViewBag.Title = "Tyre Removal ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>@ViewBag.Title Done
            </div>
            @*<div class="tools">
                    <span class="btn default blue-stripe">
                        <a href=""><i class="fa fa-plus">&nbsp;Add More Vendor Contract</i></a>
                    </span>
                </div>*@
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="center">
                                Tyre Issue/Removal Master
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="center">
                                @ViewBag.Message
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                <a href="~/Fleet/TyreIssueMaster">Click Here To Tyre Issue To Vehicle</a>
            </span>&nbsp;/&nbsp;
            <span>
                <a href="~/Fleet/TyreRemoval">Click Here To Tyre Remove To Vehicle</a>
            </span>
        </div>
    </div>
</div>
