﻿@model Fleet.ViewModels.TyreOdometerSearch
@using Fleet.Models
@using FleetDataService.Models
@using Fleet.Classes;
@{
    ViewBag.Title = "Tyre Odometer Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //FLEETDataService.OperationService OS = new FLEETDataService.OperationService();
    FleetDataService.FleetService FS = new FleetDataService.FleetService();
    List<webx_VEHICLE_HDR> VEHNO = FS.GetVEHICLEList();

}
@using (Html.BeginForm("TyreOdometerSearch", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{

    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>  VEHICLE ODOMETER CHANGE
                </div>
                <div class="caption pull-right">
                    <a href="@Url.Content("../Fleet/TyreOdometern/0")" class="btn btn-sm default controls">&nbsp;Create New ODOMETER </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-7">
                                    <label class="control-label col-md-3 ">Enter Vehicle No.:</label>
                                    <div class="col-md-4">
                                        @*@Html.TextBoxFor(c => c.WVH.VEHNO, new { placeholder = "Vehicle No", @class = "form-control blue-stripe required" })*@
                                        @Html.DropDownListFor(c => c.WVH.VEHNO, new SelectList(VEHNO, "VEHNO", "VEHNO"), "", new { @class = "select2 required form-control required required2 select2", @placeholder = "VEHNO" })
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-sm green" id="Submit"> <i class="btnSubmit fa fa-search"></i> Show Vehicle No</button>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="btn btn-sm default controls blue">&nbsp;VIEW | PRINT </a>
                                    <a href="#" class="btn btn-sm default controls blue">&nbsp;XLS </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="portlet-body">
                <div class="form-body" id="VEHNO">
                    @foreach (var item in Model.WVHL)
                    {
                        Html.RenderPartial("_TyreOdometer", item);
                    }
                </div>
            </div>
        </div>

    </div>

}

<script type="text/javascript">


    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.forms["form_sample"].submit()
                }
            });
        }

        var Events = function (DomainName) {

            $('#Submit').click(function () {
                //App.blockUI({ boxed: true });
                $.ajax({
                    url: DomainName + "/Fleet/VEHICLEList",
                    type: 'POST',
                    data: $('#form_sample').serialize(),
                    success: function (data) {
                        //alert(data)
                        $("#divCrieteria :input").prop("readonly", true);
                        $("#VEHNO").html(data);
                        $('#reportrange').attr('disabled', true);
                        // App.unblockUI();
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        //  App.unblockUI();
                    }
                });
            });


        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Events(DomainName);
                Formvalidate(DomainName);
                //JsonDDL('WVH_VEHNO', DomainName + '/Fleet/GetVEHICLE_NameJson', false);

            }
        }
    }();


</script>

