﻿@model Fleet.ViewModels.TyreRegisterViewModel
@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "Tyre Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("FromDate",ViewBag.FromDate),
        new KeyValuePair<string, object>("ToDate",ViewBag.ToDate),
        new KeyValuePair<string, object>("fromloc",Model.fromloc),
        new KeyValuePair<string, object>("TyreNo",Model.TyreNo),
        new KeyValuePair<string, object>("Make",Model.Make),
        new KeyValuePair<string, object>("VehicleNo",Model.VehicleNo),
        new KeyValuePair<string, object>("PoNo",Model.PoNo)
    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/Tyre_Register_Report", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>



