﻿@model Fleet.ViewModels.TyrelifecycleViewModel
@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "Tyre life cycle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("Fromdt",ViewBag.FromDate),
        new KeyValuePair<string, object>("todt",ViewBag.ToDate),
        new KeyValuePair<string, object>("fromloc",Model.fromloc),
        new KeyValuePair<string, object>("TyreNo",Model.TyreNo),
        new KeyValuePair<string, object>("GRNNo",Model.GRNNo),
        new KeyValuePair<string, object>("TyreModelNo",Model.TyreModelNo)
        
    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/TyreLifeCycleReport", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>



