﻿@model Fleet.ViewModels.TyreIssueMasterViewModel

@{
    ViewBag.Title = "Tyre Issue Master list";

}
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("TyreIssueMasterlistsubmit", "Fleet", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
        {
            <div class="portlet box @ViewBag.TableBoxColor" id="VehicleWise" style="display:none">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Tyre for Removal
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Vehicle No </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.CheckVhNo, new { placeholder = " Vehicle No", @class = "form-control", @readonly = "True" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5"> Tyre Issue Date </label>
                                    <div class="col-md-7">

                                        @* @Html.TextBox("ChkDate", String.Format("{dd-MMM-yyyy }", Convert.ToDateTime(System.DateTime.Now).ToString("dd-MMM-yyyy")), new { @class = "form-control required", @readonly = "True" })*@
                                        @Html.TextBox("VWTDN.ChkDate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = "form-control required", @readonly = "True" })
                                        @Html.HiddenFor(c => c.VWTDN.TYRE_ID)

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">KM Reading at time of Fitment</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.VWTDN.RemovalKM, new { placeholder = "KM Reading at time of Fitment", @class = "form-control ", @readonly = "True" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5"> Tyre Removal Date </label>
                                    <div class="col-md-7">
                                        <div class="input-group date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="">
                                            @* @Html.TextBox("ChkDate", String.Format("{dd-MMM-yyyy }", Convert.ToDateTime(System.DateTime.Now).ToString("dd-MMM-yyyy")), new { @class = "form-control required", @readonly = "True" })*@
                                            @Html.TextBox("VWTDN.RemoveDT", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = "form-control required", @readonly = "True" })
                                            @*@Html.HiddenFor(c => c.ChkDate)
                                                @Html.HiddenFor(c => c.RemovalKM)
                                                @Html.HiddenFor(c => c.CheckVhNo)*@
                                            @Html.HiddenFor(c => c.VWTDN.TYRE_ID)
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Tyre As per Axle</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.VWTDN.Axel, new { placeholder = "per Axle", @class = "form-control ", @readonly = "True" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5"> Actual Tyre </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.VWTDN.ActualTyre, new { placeholder = "Actual Tyre", @class = "form-control", @readonly = "True" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">	Pending Tyre </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.VWTDN.PendingTyre, new { placeholder = "Pending Tyre ", @class = "form-control ", @readonly = "True" })
                                        @Html.Hidden("PendingTyre", Model.VWTDN.PendingTyre)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table table-striped table-bordered table-hover table-full-width">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="center">
                                            @*<input type="checkbox" class="chk" />*@#
                                        </th>
                                        <th class="center">
                                            GRN No
                                        </th>
                                        <th class="center">
                                            GRN Date
                                        </th>
                                        <th class="center">
                                            Manual Tyre NO
                                        </th>
                                        <th class="center">
                                            Model
                                        </th>
                                        <th class="center">
                                            Size
                                        </th>
                                        <th class="center">
                                            Pattern
                                        </th>
                                        <th class="center">
                                            Tyre Type
                                        </th>
                                        <th class="center">
                                            Tyre MFG
                                        </th>
                                        <th class="center">
                                            GRN Amount
                                        </th>
                                        <th class="center">
                                            Fitment Date
                                        </th>
                                        <th class="center">
                                            Fitment KM
                                        </th>
                                        <th class="center">
                                            Life Of Tyre
                                        </th>
                                        <th class="center">
                                            Removal KM
                                        </th>
                                        <th class="center">
                                            Distance Covered
                                        </th>
                                        <th class="center">
                                            Per KM Cost
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="MRTable">
                                    @foreach (var item in Model.VWTDNL)
                                    {
                                        Html.RenderPartial("_TyreDetailVehicleWIse", item);
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @*<h3 style="color:red;display:none;" id="msgTyreExceeded"> No of Tyre count exceeded.</h3>*@
            <div class="portlet box @ViewBag.TableBoxColor" id="BranchWise">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Tyre in Stock
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <table class="table table-striped table-bordered table-hover table-full-width">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="center">
                                            @*<input type="checkbox" class="All" />*@#
                                        </th>
                                        <th class="center">
                                            GRN No
                                        </th>
                                        <th class="center">
                                            GRN Date
                                        </th>
                                        <th class="center">
                                            Manual Tyre NO
                                        </th>
                                        <th class="center">Tyre Remove  Date</th>
                                        <th class="center">Life Of Tyre</th>
                                        <th class="center">
                                            Modle
                                        </th>
                                        <th class="center">
                                            Size
                                        </th>
                                        <th class="center">
                                            Pattern
                                        </th>
                                        <th class="center">
                                            Tyre Type
                                        </th>
                                        <th class="center">
                                            Tyre MFG
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="MRTable">
                                    @foreach (var item in Model.VWTDNL1.OrderBy(c => c.TYRE_REMOVE_DT))
                                    {
                                        Html.RenderPartial("_TyreDetailBranchWIse", item);
                                    }
                                </tbody>
                            </table>
                            <div class="form-actions fluid">
                                <div class="row">
                                    <div class="col-md-offset-5 col-md-6">
                                        <a href="@Url.Content("~/Fleet/TyreIssueMaster")" class="btn btn-sm default btnBack"><i class=" fa fa-arrow-left"></i>&nbsp;Back To Criteria</a>
                                        <button type="button" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#submit_form');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }

            });
        }

        var Events = function (DomainName) {

            $('#btnSubmit').click(function () {
                App.blockUI({ boxed: true });
                if ($("#submit_form").valid()) {
                    document.forms["submit_form"].submit();
                }
                else {
                    App.unblockUI();
                    return false;
                }
            });

            $('#btnBack').click(function () {
                App.blockUI({ boxed: true });
            });
        }

        var HandleDatetimePicker = function () {

            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate() - 10)
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                Events(DomainName);
                HandleDatetimePicker();
                $('#btnSubmit').hide();
                if ('@Model.VWTDNL.Count' > 0) {
                    $("#VehicleWise").show();
                    $(".RK").val(@Model.RemovalKM);
                }


                $('#btnSubmit1').hide();
                $('.CLSCHKCKED').click(function () {
                    totchk = 0;
                    var itemIndex = $(this).attr('id').split('_')[1];
                    var checked = jQuery(this).is(":checked");
                    $('.CLSCHKCKED').each(function () {
                        var checked1 = jQuery(this).is(":checked");
                        if (checked1)
                            totchk++;
                        if (totchk == 0)
                            $('#btnSubmit').hide();
                        else
                            $('#btnSubmit').show();
                    });

                    $("#PendingTyre").val(parseInt($("#VWTDN_Axel").val()) - parseInt($("#VWTDN_ActualTyre").val()) + $('input.CLSCHKCKED:checked').length);

                    if (checked)
                        $("#VWTDN_PendingTyre").val(parseInt($("#VWTDN_PendingTyre").val()) + 1);
                    else
                        $("#VWTDN_PendingTyre").val(parseInt($("#VWTDN_PendingTyre").val()) - 1);

                    if ($("#VWTDN_PendingTyre").val() < 0) {
                        $('.CLSCHK').each(function () {
                            if (jQuery(this).is(":checked")) {
                                $(this).parent('span').removeClass('checked');
                                $(this).attr("checked", false);
                                return false;
                            }
                        });
                        $("#VWTDN_PendingTyre").val(parseInt($("#VWTDN_Axel").val()) - parseInt($("#VWTDN_ActualTyre").val()) + $('input.CLSCHKCKED:checked').length - $('input.CLSCHK:checked').length)
                    }

                    if ($("#PendingTyre").val() > $('input.CLSCHK:checked').length) {
                        //$("#msgTyreExceeded").hide();
                    }
                    else { //$("#msgTyreExceeded").show();
                    }
                });

                $('.CLSCHK').click(function () {
                    totchk = 0;
                    var itemIndex = $(this).attr('id').split('_')[1];
                    var checked = jQuery(this).is(":checked");
                    $('.CLSCHK').each(function () {
                        var checked1 = jQuery(this).is(":checked");
                        if (checked1)
                            totchk++;
                        if (totchk == 0)
                            $('#btnSubmit').hide();
                        else
                            $('#btnSubmit').show();
                    });

                    //if ($("#VWTDN_PendingTyre").val() == 0) {
                    //    $("#msgTyreExceeded").show();
                    //    $(this).parent('span').removeClass('checked');
                    //}
                    //else {
                    //    $("#msgTyreExceeded").hide();
                    //    if (checked)
                    //        $("#VWTDN_PendingTyre").val(parseInt($("#PendingTyre").val()) - 1);
                    //    else
                    //        $("#VWTDN_PendingTyre").val(parseInt($("#PendingTyre").val()) + 1);
                    //}
                    if (checked) {
                        if (totchk > $("#PendingTyre").val()) {
                            //$("#msgTyreExceeded").show();
                            $(this).parent('span').removeClass('checked');
                            $(this).attr("checked", false);
                        }
                        else {
                            $("#VWTDN_PendingTyre").val(parseInt($("#VWTDN_PendingTyre").val()) - 1);
                            //$("#msgTyreExceeded").hide();
                        }
                    }
                    else {
                        $("#VWTDN_PendingTyre").val(parseInt($("#VWTDN_PendingTyre").val()) + 1);
                    }

                    if ($("#PendingTyre").val() >= $('input.CLSCHK:checked').length) {
                        //$("#msgTyreExceeded").hide();
                    }
                    else {
                        //alert(asdsad)
                        //$("#msgTyreExceeded").show();
                    }
                });

                //$('.chk').click(function () {
                //    totchk = 0;
                //    var itemIndex = $(this).attr('id').split('_')[1];
                //    var checked = jQuery(this).is(":checked");
                //    $('.chk').each(function () {
                //        var checked1 = jQuery(this).is(":checked");
                //        if (checked1)
                //            totchk++;
                //        if (totchk == 0)
                //            $('#btnSubmit').hide();
                //        else
                //            $('#btnSubmit').show();
                //    });
                //});

                //$(document).on('change', ".chk", function () {
                //    if (this.checked) {
                //        $(".CLSCHKCKED").parent('span').addClass('checked');

                //    }
                //    else {
                //        $(".CLSCHKCKED").parent('span').removeClass('checked');

                //    }
                //});

                //$('.All').click(function () {
                //    totchk = 0;
                //    var itemIndex = $(this).attr('id').split('_')[1];
                //    var checked = jQuery(this).is(":checked");
                //    $('.All').each(function () {
                //        var checked1 = jQuery(this).is(":checked");
                //        if (checked1)
                //            totchk++;
                //        if (totchk == 0)
                //            $('#btnSubmit').hide();
                //        else
                //            $('#btnSubmit').show();
                //    });
                //});

                //$(document).on('change', ".All", function () {
                //    if (this.checked) {
                //        $(".CLSCHK").parent('span').addClass('checked');

                //    }
                //    else {
                //        $(".CLSCHK").parent('span').removeClass('checked');

                //    }
                //});

                @*if ('@Model.VWTDNL.Count' > $("#VWTDN_Axel").val()) {
                    $("#msgTyreExceeded").show();
                }*@
            }
        }
    }();
</script>
