﻿@model Fleet.ViewModels.TyreInterchangeViewModel
@using FleetDataService.Models
@using Fleet.Helpers
@{
    ViewBag.Title = "Tyre Interchange";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_VEHICLE_HDR> ListTruck = MS.GetVehicleObject().Where(c => c.ACTIVEFLAG == "Y").ToList();
}
@using (Html.BeginForm("TyreInterChange", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-10">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Truck No 1. : </label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(c => c.TruckNo1, new SelectList(ListTruck, "VEHNO", "VEHNO"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Truck No" })
                                        @Html.HiddenFor(c => c.TruckNo1)
                                    </div>
                                    <div class="col-md-1"></div>
                                    @*<label class="control-label col-md-2">Truck No 2. : </label>*@
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(c => c.TruckNo2, new SelectList(ListTruck, "VEHNO", "VEHNO"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Truck No" })
                                        @Html.HiddenFor(c => c.TruckNo2)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Reading 1 : </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.Read_ODO1, new { @class = "form-control required required2", @placeholder = "OdoMeter Reading", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                        @Html.HiddenFor(c => c.Read_ODO1)
                                    </div>
                                    <div class="col-md-1"></div>
                                    @*<label class="control-label col-md-2">Reading 2 : </label>*@
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.Read_ODO2, new { @class = "form-control required required2", @placeholder = "OdoMeter Reading", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                        @Html.HiddenFor(c => c.Read_ODO2)
                                        @Html.HiddenFor(c => c.Truck1Tyres)
                                        @Html.HiddenFor(c => c.Truck2Tyres)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Tyre No :</label>
                                    <div class="col-md-4">
                                        <table class="table col-md-6 table-striped table-bordered table-hover" id="tblTruck1Tyres"></table>
                                    </div>
                                    <div class="col-md-1" style="vertical-align: central;">
                                        @*<label class="control-label col-md-12">Tyre No :</label><br />*@
                                        <ul class="pagination bootpag" style="cursor:pointer">
                                            <li class="prev disabled" id="left"><a href="javascript:void(0);"><i class="fa fa-angle-left"></i></a></li>
                                        </ul><br />
                                        <ul class="pagination bootpag">
                                            <li class="next disabled" id="right"><a href="javascript:void(0);"><i class="fa fa-angle-right"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <table class="table col-md-6 table-striped table-bordered table-hover" id="tblTruck2Tyres"></table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="alert alert-danger">
                        <strong>Note!</strong> Please Select Tyre No. & List Item to Exchange Between Each Other....
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="button" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i>&nbsp; Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                },

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    App.blockUI({ boxed: true });
                    $("#btnSubmit").hide();

                    //document.forms["form_sample"].submit();
                }
            });
        }

        var GetData = function (DomainName, Id, truckno) {
            App.blockUI({ boxed: true });

            var Strurl = DomainName + "/Fleet/GetTyreDetailByTruck/" + Id;
            $.ajax({
                url: Strurl,
                type: 'POST',
                data: {},
                success: function (Data) {
                    var data = JSON.stringify(Data);

                    var str_Option2 = [];
                    var str_Option1 = [];
                    var str_Class2 = "";
                    var str_Class1 = "";
                    for (i = 0; i < Data.length; i++) {
                        if (truckno == "1") {
                            str_Option2 = str_Option2 + "<tr class='clickableRow' style='cursor: pointer;' id='" + Data[i].id + "'><td>" + Data[i].id + "-" + Data[i].text + "</td></tr>"
                        }
                        else {
                            str_Option1 = str_Option1 + "<tr class='clickableRow' style='cursor: pointer;' id='" + Data[i].id + "'><td>" + Data[i].id + "-" + Data[i].text + "</td></tr>"
                        }
                    }
                    if (truckno == "1") {
                        $("#tblTruck1Tyres").html(str_Option2);
                    }
                    else {
                        $("#tblTruck2Tyres").html(str_Option1);
                    }
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        return {
            init: function (DomainName) {
                Formvalidate(DomainName);
                //$('#GCNO').multiSelect();
                $("#TruckNo1").change(function () {
                    var StrURL = DomainName + "/Fleet/GetVehicleBasedonTyreSize?VehicleNo="+$(this).val();
                    FillDropDownfromOther("TruckNo2", StrURL, "Vehicle No");
                    var Id = $(this).val();
                    GetData(DomainName, Id, "1");
                });
                $("#TruckNo2").change(function () {
                    var Id = $(this).val();
                    GetData(DomainName, Id, "2");
                });
                $('#tblTruck1Tyres').on('click', '.clickableRow', function (event) {
                    $(this).addClass('active').siblings().removeClass('active');
                    $(this).remove();
                    $("#tblTruck2Tyres").append($(this).html().replace("<td>", "<tr class='clickableRow' style='cursor: pointer;' id='" + $(this).attr('id') + "' ><td>").replace("</td>", "</td></tr>"))
                });
                $('#tblTruck2Tyres').on('click', '.clickableRow', function (event) {
                    $(this).addClass('active').siblings().removeClass('active');
                    $(this).remove();
                    $("#tblTruck1Tyres").append($(this).html().replace("<td>", "<tr class='clickableRow' style='cursor: pointer;' id='" + $(this).attr('id') + "'><td>").replace("</td>", "</td></tr>"))
                });

                $("#btnSubmit").click(function () {
                    var Table1Data = new Array();
                    var Table2Data = new Array();
                    $('#tblTruck1Tyres tr').each(function (row, tr) {
                        Table1Data = Table1Data + $(tr).attr('id') + ",";
                    });
                    $('#tblTruck2Tyres tr').each(function (row, tr) {
                        Table2Data = Table2Data + $(tr).attr('id') + ",";
                    });
                    $("#Truck1Tyres").val(Table1Data);
                    $("#Truck2Tyres").val(Table2Data);

                    document.forms["form_sample"].submit();
                });
            }
        }
    }();
</script>