﻿@model Fleet.ViewModels.TyreRemovalViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "Tyre Removal";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_VEHICLE_HDR> ListVehicles = MS.GetVehicleObject();
}

@using (Html.BeginForm("TyreRemoval", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-md-9">
                                <label class="control-label col-md-4">Truck No. : </label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(c => c.TrucNo, new SelectList(ListVehicles, "VEHNO", "VEHNO"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Truck No." })
                                    @Html.HiddenFor(c => c.TrucNo)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" id="btnSubmit" class="btn btn-sm default blue-stripe"><i class="fa fa-search"></i>&nbsp;Get List</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                },

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    App.blockUI({ boxed: true });
                    $("#btnSubmit").hide();
                    document.forms["form_sample"].submit();
                }
            });
        }
        return {
            init: function (DomainName) {
                Formvalidate(DomainName);
            }
        }
    }();
</script>