﻿@model Fleet.ViewModels.TyreIssueMasterViewModel
@using FleetDataService.Models;
@using Fleet.Classes;
@{
    ViewBag.Title = "Tyre Issue Master";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_VEHICLE_HDR> VEHNO = MS.GetVehicleObject().Where(c => c.ACTIVEFLAG.ToUpper() == "Y").ToList();

}
@using (Html.BeginForm("TyreIssueMasterlist", "Fleet", FormMethod.Get, new { @id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Enter Truck No. </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.CheckVhNo, new SelectList(VEHNO, "VEHNO", "VEHNO"), "", new { @class = "select2 required form-control  required2 select2", @placeholder = "Vehicle Number" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Tyre Issue Date </label>
                                    <div class="col-md-8">
                                        <div class="col-md-5">
                                            <div class="input-group input-medium date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="">
                                                @* @Html.TextBox("ChkDate", String.Format("{dd-MMM-yyyy }", Convert.ToDateTime(System.DateTime.Now).ToString("dd-MMM-yyyy")), new { @class = "form-control required", @readonly = "True" })*@
                                                @Html.TextBox("ChkDate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = "form-control required", @readonly = "True" })
                                                @Html.HiddenFor(c => c.ChkDate)
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4"> KM Reading at time </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.RemovalKM, new { placeholder = "KM Reading at time ", @class = "form-control required" })
                                        @Html.HiddenFor(c => c.RemovalKM)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid" id="SubmitBtn">
                        <div class="row">
                            <div class="col-md-offset-5 col-md-5">
                                <button type="submit" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-search"></i>&nbsp;Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.form["form_sample"].submit();

                }

            });
        }


        var Events = function (DomainName) {

            $('#btnSubmit').click(function () {
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });
                }
            });

            $("#CheckVhNo").change(function () {
                App.blockUI({ boxed: true });
                var TruckNo = $("#CheckVhNo").val();
                //alert($(this).val());
                var StrURL1 = DomainName + '/Fleet/Check_Valid_timeofFitment?TruckNo=' + TruckNo;
                $.ajax({
                    url: StrURL1,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (data) {
                        //alert(data.Fitment)
                        $("#RemovalKM").attr("min", data.Fitment);
                        App.unblockUI();
                    },
                    error: function (req, status, error) {
                        alert("error " + req + "   " + status + "   " + error);
                        App.unblockUI();
                    }
                });

            });
        }

        var HandleDatetimePicker = function () {
            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate() - 10)
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                Events(DomainName);
                HandleDatetimePicker();
            }
        }
    }();
</script>