﻿@model Fleet.ViewModels.OldTyreStockViewModel
@using FleetDataService.Models
@using FleetDataService.ViewModels
@using Fleet.Classes

@{
    PaymentControl PC = new PaymentControl();
}
@{
    FleetDataService.ExceptionsService ES = new FleetDataService.ExceptionsService();
    //List<webx_VENDOR_HDR> Vendor = ES.GetVendorCodeName().ToList();
    ViewBag.Title = "Tyre Sale";
}
@using (Html.BeginForm("TyreSaleSubmit", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        @{
    Html.RenderPartial("_TyreSale", Model.WFTHL.ToList());
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box  @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>Payment Details
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            @{  Html.RenderPartial("../UserControls/_PaymentControl", PC); }
                        </div>
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-5 col-md-6">
                                    <a href="@Url.Content("~/Fleet/OldTyreStock")" class="btn btn-sm default"><i class="fa  fa-arrow-left"></i>&nbsp;Back</a>
                                    <button type="submit" id="btnSubmit" class="btn blue"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.form["form_sample"].submit();

                }

            });
        }

        var HandleDatetimePicker = function () {

            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate() - 10)
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                HandleDatetimePicker();
                //initTableById("OldTyre_List");
                //bindTable(DomainName);
                JsonDDL('Vendor', DomainName + '/Master/SearchVendorListJson');
                $("#btnSubmit").click(function () {
                    $('#form_sample').submit();
                });

                $('.CLSCHK').click(function () {
                    totchk = 0;
                    var itemIndex = $(this).attr('id').split('_')[1];
                    var checked = jQuery(this).is(":checked");
                    $('.CLSCHK').each(function () {
                        var checked1 = jQuery(this).is(":checked");
                        if (checked1)
                            totchk++;
                        if (totchk == 0)
                            $('#btnSubmit').hide();
                        else
                            $('#btnSubmit').show();
                    });
                    if (checked) {
                        $("#"+$(this).attr('id').replace("__IsChecked", "__SALE_AMT")).attr("readonly", false);
                        $("#"+$(this).attr('id').replace("__IsChecked", "__SALE_AMT")).focus();
                        $("#" + $(this).attr('id').replace("__IsChecked", "__SALE_AMT")).select();
                        $("#PayAmount").val(parseFloat(parseFloat($("#PayAmount").val()) + parseFloat($("#" + $(this).attr('id').replace("__IsChecked", "__SALE_AMT")).val())).toFixed(2));
                    }
                    else {
                        $("#" + $(this).attr('id').replace("__IsChecked", "__SALE_AMT")).attr("readonly", true);
                        $("#PayAmount").val(parseFloat(parseFloat($("#PayAmount").val()) - parseFloat($("#" + $(this).attr('id').replace("__IsChecked", "__SALE_AMT")).val())).toFixed(2));                        
                        $("#" + $(this).attr('id').replace("__IsChecked", "__SALE_AMT")).val(0);
                    }

                });

                $(document).on('change', ".chk_All", function () {
                    if (this.checked) {
                        $(".CLSCHK").parent('span').addClass('checked');
                    }
                    else {
                        $(".CLSCHK").parent('span').removeClass('checked');
                    }
                })

                $('.chk_All').click(function () {
                    totchk = 0;
                    //var itemIndex = $(this).attr('id').split('_')[1];
                    var checked = jQuery(this).is(":checked");
                    $('.chk_All').each(function () {
                        var checked1 = jQuery(this).is(":checked");
                        if (checked1)
                            totchk++;
                        if (totchk == 0)
                            $('#btnSubmit1').hide();
                        else
                            $('#btnSubmit1').show();

                        if(checked1)
                            $(".Sale_Amt").attr("readonly",false);
                        else
                            $(".Sale_Amt").attr("readonly",true);
                    });
                });

                $(".Sale_Amt").live("change", function () {
                   
                    $("#PayAmount").val(parseFloat(parseFloat($("#PayAmount").val()) + parseFloat($(this).val())).toFixed(2));
                });

                $("#PaymentMode").change(function () {

                    // alert("Hello " + $(this).val());

                    App.blockUI({ boxed: true });

                    $("#CashAmount").attr("readonly", "true");
                    $("#ChequeAmount").attr("readonly", "true");


                    $("#CashLedger").change(function () {

                        $("#CashLedgerName").val($(this).select2('data').text);

                    });

                    $("#BankLedger").change(function () {

                        $("#BankLedgerName").val($(this).select2('data').text);

                    });

                    if ($(this).val().toUpperCase() == "CASH") {
                        $(".clsBANK").hide();
                        $(".clsCASH").show();

                        $("#CashAmount").val($("#PayAmount").val());

                        var StrURL = DomainName + "/Payment/GetLedger?Category=Cash";
                        FillDropDownfromOther("CashLedger", StrURL, "Cash Ledger");

                        $("#ChequeNo").val("000000");
                        $("#BankLedger").select2("data", { id: $(this).val(), text: $(this).select2('data').text });

                    }
                    else if ($(this).val().toUpperCase() == "BANK") {
                        $(".clsBANK").show();
                        $(".clsCASH").hide();
                        $("#ChequeNo").val("");
                        var StrURL = DomainName + "/Payment/GetLedger?Category=Bank";
                        FillDropDownfromOther("BankLedger", StrURL, "Bank Ledger");

                        $("#ChequeAmount").val($("#PayAmount").val());

                        $("#CashLedger").select2("data", { id: $(this).val(), text: $(this).select2('data').text });
                    }
                    else if ($(this).val().toUpperCase() == "BOTH") {

                        $(".clsBANK").show();
                        $(".clsCASH").show();


                        $("#CashAmount").val("0");
                        $("#ChequeAmount").val("0");

                        $("#CashAmount").attr("readonly", false);
                        $("#ChequeAmount").attr("readonly", false);

                        var StrURL = DomainName + "/Payment/GetLedger?Category=Cash";
                        FillDropDownfromOther("CashLedger", StrURL, "Cash Ledger");

                        StrURL = DomainName + "/Payment/GetLedger?Category=Bank";
                        FillDropDownfromOther("BankLedger", StrURL, "Bank Ledger");
                    }
                });

            }
        }
    }();
</script>
