﻿@model Fleet.ViewModels.TyreTrakingViewModel
@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "Tyre Tracking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("TyreNo",Model.TyreNo),
        new KeyValuePair<string, object>("VehicleNo",Model.VehicleNo)

    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/Tyre_TrackingReport", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>



