﻿@{
    ViewBag.Title = "Tyre Interchange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.TranXaction == "Done")
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-success fade in center">
            <h2 class="alert-heading">SuccessFully Done! </h2>
            <h4>
                Tyre Interchanged successfully between Vehicle No.@ViewBag.VEHNO1 and @ViewBag.VEHNO2
            </h4><br />
            <h4 class="alert-heading" style="color:red">
               <span>Note!</span> <a href="~/Fleet/TyreInterchange">Click here to Interchange more Tyre.</a>
            </h4>
        </div>
    </div>
}
else
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-danger fade in center">
            <h2 class="alert-heading">Opps! fail</h2>
            <h4>
                There is some issue with process. <br />Please check your internet connection else contact your administrator or service provider.
            </h4>
        </div>
    </div>
} 
