﻿@model Fleet.ViewModels.UpdateRemoldTyreViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    ViewBag.Title = "Update Remold Tyre Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_State> Webx_StateList = new List<Webx_State>();
    List<Webx_Master_General> generalMasterList = MS.GetGeneralMasterObject().ToList();
    List<Webx_Master_General> lstGSTType = MS.GetGeneralMasterObject().Where(c => c.CodeType == "GSTTYPE" && c.StatusCode == "Y" && c.CodeId != "SVC").OrderBy(c => c.CodeDesc).ToList();


}
<div class="row">
    <div class="col-md-8">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
            </div>

            <div class="portlet-body form">
                <div class="form-body">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-hide">
                        <button class="close" data-close="alert"></button>
                        Your form validation is successful!
                    </div>

                    @using (Html.BeginForm("UpdateRemoldTyreCriteria", "Fleet", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
                    {
                        @Html.HiddenFor(c => c.RemoldModel.FromDate)
                        @Html.HiddenFor(c => c.RemoldModel.ToDate)

                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                Select Date:
                            </label>
                            <div class="col-md-6">
                                <div id="reportrange" class="btn default col-md-12">
                                    <i class="fa fa-calendar"></i>
                                    &nbsp;
                                    <span></span>
                                    <b class="fa fa-angle-down"></b>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                GST Type :
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(c => c.RemoldModel.GSTType, new SelectList(lstGSTType, "CodeId", "CodeDesc"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select GST Type" })
                                @Html.HiddenFor(m => m.RemoldModel.GSTType)
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                State Code
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(c => c.RemoldModel.StateCode, new SelectList(Webx_StateList, "Value", "Text"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select State" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">GST Percentage</label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.RemoldModel.GSTPercentage, new SelectList(generalMasterList.Where(c => c.CodeType.ToUpper() == "GSTPER" && c.StatusCode == "Y").OrderBy(c => int.Parse(c.CodeDesc)), "CodeDesc", "CodeDesc"), "", new { @class = "form-control select2 required2 required gstPercentage clsPercen", @placeholder = "Select GST Percentage" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                Vendor Code:
                            </label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.RemoldModel.PartyCode, new { placeholder = "Select Vendor Code", @class = "form-control required2 required" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                            </label>
                            <div class="col-md-6">
                                <b>OR</b>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                Enter Remold No.:
                            </label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.RemoldModel.RemoldNo, new { placeholder = "Enter Remold No.", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-12">
                                    <button type="button" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-search"></i>&nbsp;Submit</button>
                                </div>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8" id="divList" style="display:none">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Remold Tyre list for Updataion
                </div>
            </div>

            <div class="portlet-body form">
                <div class="form-body" id="List">

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    //document.form["form_sample"].submit();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }
            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                //maxDate: '12/31/2014',
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#RemoldModel_FromDate').val(start.format('MMMM D, YYYY'));
                     $('#RemoldModel_ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#RemoldModel_FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#RemoldModel_ToDate').val(moment().format('MMMM D, YYYY'));
        }

        var Events = function (DomainName) {
            handleDatePicker();

            $("#btnSubmit").click(function () {

                var BillNo = $('#RemoldModel_RemoldNo').val();
                //if (BillNo != "") {
                if (!$('#submit_form').valid()) {
                    //document.forms["form_sample"].submit();

                    return false;
                }
                //else {
                //$('#RemoldModel_PartyCode').addClass("required2");
                // $('#RemoldModel_PartyCode').addClass("required");
                //return false
                //}
                //}
                //else {
                //   $('#RemoldModel_PartyCode').addClass("required2");
                //   $('#RemoldModel_PartyCode').addClass("required");
                // }
                App.blockUI({ boxed: true });
                var strurl = DomainName + '/Fleet/GetRemoldTyreList';
                $.ajax({
                    url: strurl,
                    cache: false,
                    data: $("#submit_form").serialize(),
                    type: 'POST',
                    success: function (data) {
                        $("#List").html(data);
                        $("#divList").show();
                        App.unblockUI();
                    },
                    error: function (req, status, error) {
                        //alert("error--" + req + "---" + status + "---" + error);
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        App.unblockUI();
                    }

                });
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                handleDateRangePickers();
                Events(DomainName);
                JsonDDL('RemoldModel_PartyCode', DomainName + '/Finance/GetVendor_NameJson', false);
                $("#RemoldModel_PartyCode").live("change", function () {
                    var VenCode = $(this).val().split('~')[0];
                    var VenName = $(this).val().split('~')[1];
                    $("#RemoldModel_PartyCode").val(VenCode);
                    $("#RemoldModel_PartyName").val(VenName);
                });

                $("#RemoldModel_GSTType").on('change', function () {
                    var StrURL = DomainName + "/Master/GetStateListFromGSTType?GSTType=" + $('#RemoldModel_GSTType').val();
                    FillDropDownfromOther("RemoldModel_StateCode", StrURL, "");
                });

                $(".btnMasterEdit").live('click', function () {
                    var id = $(this).data('value');
                    App.blockUI({ boxed: true });
                    //GetObjectDet(id, DomainName);
                    window.location.replace(DomainName + "/Fleet/RemoldTyreDetailList?id=" + id + "&GSTPercentage=" + $("#RemoldModel_GSTPercentage").val() + "&GSTType=" + $("#RemoldModel_GSTType").val() + "&StateCode=" + $("#RemoldModel_StateCode").val());
                });

            }
        };
    }();

</script>






