﻿@model Fleet.ViewModels.UpdateRemoldTyreViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.ViewModels

@{
    PaymentControl PC = new PaymentControl();
}
@{
    ViewBag.Title = "Update Claim Tyre List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("UpdateClaimTyreSubmit", "Fleet", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.RemoldModelDet.NetPay)
    <div class="row" id="divList1">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="table-container">
                        <table class="table table-striped table-bordered table-hover" id="Sample1">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        <input type="checkbox" id="chkCheckAll" />
                                    </th>
                                    <th class="center">
                                        Remold No.
                                    </th>
                                    <th class="center">
                                        Tyre No.
                                    </th>
                                    <th class="center">
                                        Model
                                    </th>
                                    <th class="center">
                                        Pattern
                                    </th>
                                    <th class="center">
                                        Size
                                    </th>
                                    <th class="center">
                                        Tyre<br />MFG
                                    </th>
                                    <th class="center">
                                        Fitment<br />Date
                                    </th>
                                    <th class="center">
                                        Removal<br />Date
                                    </th>
                                    <th class="center">
                                        Distance<br />Covered
                                    </th>
                                    <th class="center">
                                        Remarks
                                    </th>
                                    <th class="center">
                                        Claim<br />With
                                    </th>
                                    <th class="center">
                                        When sent<br />on Claim
                                    </th>
                                    <th class="center">
                                        Passed/<br />Reject
                                    </th>
                                    <th class="center">
                                        Claim<br />Amount
                                    </th>
                                    <th class="center">
                                        Reason of<br />
                                        Rejection
                                    </th>

                                </tr>
                            </thead>
                            <tbody id="Advice">
                                <tr>
                                    @foreach (var item in Model.RemolTyreDet)
                                    {
                                        Html.RenderPartial("_UpdateClaimTyreListDet", item);
                                    }
                                </tr>
                                @if (Model.RemolTyreDet.Count == 0)
                                {
                                    <tr>  <td class="center" colspan="13"><b>No Records Found</b></td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>


<p style="color:red;">
    Select atleast one checkbox to view <strong>Submit</strong> button.
</p>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Payment Details
                </div>
            </div>
            <div class="portlet-body ">
                <div class="form-body">
                    <div class="row">
                        @{  Html.RenderPartial("../UserControls/_PaymentControl", PC); }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

}
    
<div class="form-actions fluid">
    <div class="col-md-offset-4 col-md-8">
        <a class="btn btn-sm default" href="@Url.Content("~/Fleet/UpdateClaimTyreCriteria")">
            <i class="fa fa-arrow-left"> </i>
            Back To Criteria
        </a>
        <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: ":required",
                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.form["form_sample"].submit();
                }
            });
        }

        var HandleDatetimePicker = function () {

            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate() - 10)
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                HandleDatetimePicker();
                $('#btnSubmit').hide();
                $('.IsCheck').attr("value", "N");
                $('.clsNetPay').attr("readonly", true);

                $(document).on('click', '#chkCheckAll', function () {
                    $('.IsCheck').prop('checked', $(this).prop('checked'));
                    if ($(this).prop('checked')) {
                        $('.IsCheck').parent('span').addClass('checked');
                        $('.IsCheck').val("Y");
                        $('#btnSubmit').show();
                        $('.clsNetPay').attr("readonly", false);
                    }
                    else {
                        $('.IsCheck').parent('span').removeClass('checked');
                        $('.IsCheck').val("N");
                        $('#btnSubmit').hide();
                        $('.clsNetPay').attr("readonly", true);
                    }
                });

                $(document).on('change', ".IsCheck", function () {
                    var chkId = $(this).attr('id');
                    var id = chkId.replace("RemoldListDet_", "").replace("__Active", "");
                    if (this.checked) {
                        $(this).val("Y");
                       // $('.clsNetPay').attr("readonly", false);
                        $('#RemoldListDet_' + id + '__Amount').attr("readonly", false);
                    }
                    else {
                        $(this).val("N");
                       // $('.clsNetPay').attr("readonly", true);
                        $('#RemoldListDet_' + id + '__Amount').attr("readonly", true);

                    }
                    var count = 0;
                    $('.IsCheck').each(function () {
                        if (this.checked) {
                            $("#chkCheckAll").parent('span').removeClass('checked');
                            count = count + 1;
                        }
                    })
                    if (count == 0) {
                        $('#btnSubmit').hide();
                    }
                    else {
                        $('#btnSubmit').show();
                    }
                });

                $(".clsNetPay").live('change', function () {
                    var NetPay = 0;
                    $(".clsNetPay").each(function () {
                        NetPay = parseFloat(NetPay) + parseFloat($(this).val());
                        $('#RemoldModelDet_NetPay').val(parseFloat(NetPay));
                        $('#PayAmount').val(parseFloat(NetPay));
                    });
                });


                $("#PaymentMode").change(function () {

                    // alert("Hello " + $(this).val());

                    App.blockUI({ boxed: true });

                    $("#CashAmount").attr("readonly", "true");
                    $("#ChequeAmount").attr("readonly", "true");


                    $("#CashLedger").change(function () {

                        $("#CashLedgerName").val($(this).select2('data').text);

                    });

                    $("#BankLedger").change(function () {

                        $("#BankLedgerName").val($(this).select2('data').text);

                    });

                    if ($(this).val().toUpperCase() == "CASH") {
                        $(".clsBANK").hide();
                        $(".clsCASH").show();

                        $("#CashAmount").val($("#PayAmount").val());

                        var StrURL = DomainName + "/Payment/GetLedger?Category=Cash";
                        FillDropDownfromOther("CashLedger", StrURL, "Cash Ledger");

                        $("#ChequeNo").val("000000");
                        $("#BankLedger").select2("data", { id: $(this).val(), text: $(this).select2('data').text });

                    }
                    else if ($(this).val().toUpperCase() == "BANK") {
                        $(".clsBANK").show();
                        $(".clsCASH").hide();
                        $("#ChequeNo").val("");
                        var StrURL = DomainName + "/Payment/GetLedger?Category=Bank";
                        FillDropDownfromOther("BankLedger", StrURL, "Bank Ledger");

                        $("#ChequeAmount").val($("#PayAmount").val());

                        $("#CashLedger").select2("data", { id: $(this).val(), text: $(this).select2('data').text });
                    }
                    else if ($(this).val().toUpperCase() == "BOTH") {

                        $(".clsBANK").show();
                        $(".clsCASH").show();


                        $("#CashAmount").val("0");
                        $("#ChequeAmount").val("0");

                        $("#CashAmount").attr("readonly", false);
                        $("#ChequeAmount").attr("readonly", false);

                        var StrURL = DomainName + "/Payment/GetLedger?Category=Cash";
                        FillDropDownfromOther("CashLedger", StrURL, "Cash Ledger");

                        StrURL = DomainName + "/Payment/GetLedger?Category=Bank";
                        FillDropDownfromOther("BankLedger", StrURL, "Bank Ledger");
                    }



                });


                $('#btnSubmit').click(function () {
                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        return false;
                    }
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                });
            }
        };
    }();

</script>







