﻿@{
	ViewBag.Title = "UploadAdvanceEntryXLS";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload Advance Entry XLS</h2>
<script src="@Url.Content("~/assets/plugins/jquery-file-upload/js/jquery.fileupload.js")"></script>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/plugins/bootstrap-fileupload/jquery.fileupload.css")" />
<div class="col-md-6">
	<div class="portlet box @ViewBag.TableBoxColor">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-file"></i>Voucher Upload Xls
			</div>
		</div>
		<div class="portlet-body flip-scroll">
			@using (Html.BeginForm("UploadAdvanceEntryXLS", "Fleet", FormMethod.Post, new { @id = "submit_form", enctype = "multipart/form-data" }))
			{
				<div class="form-body">
					<div class="alert alert-danger display-hide">
						<button class="close" data-close="alert"></button>
						You have some form errors. Please check below.
					</div>
					<div class="alert alert-success display-hide">
						<button class="close" data-close="alert"></button>
						Your form validation is successful!
					</div>
					<div class="form-group">
						<div class="row col-md-6">
							<div class="col-md-6">
								Upload Xls <span class="compulsory">*</span>
							</div>
							<div class="col-md-6">
								<div class="col-md-6">
									<input type="file" id="file" name="file" />
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="form-actions fluid">
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-offset-3 col-md-9">
									<button type="submit" id="btnSubmit" class="btn blue controls">Submit</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>
<script type="text/javascript">
    var FormComponents = function (DomainName) {
        return {
            //main function to initiate the module
            init: function (DomainName) {

            }
        };
    }();
</script>
