﻿@model Fleet.ViewModels.VehicleIssueSlipQueryViewModel
@{
    ViewBag.Title = "Vehicle Issue Slip Query";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int i = 1;
}


<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-list"></i>@ViewBag.Title
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet-body flip-scroll">
                            <table id="container" class="table table-bordered table-striped table-condensed flip-content">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="center">
                                            #
                                        </th>
                                        <th class="center">
                                            Manual Tripsheet No.
                                        </th>
                                        <th class="center">
                                            Trip Sheet No
                                        </th>
                                        <th class="center">
                                            Trip Sheet date
                                        </th>
                                        <th class="center">
                                            Vehicle No.
                                        </th>
                                        <th class="center">
                                            Leg Type
                                        </th>
                                        <th class="center">
                                            Driver
                                        </th>
                                        <th class="center">
                                            Next Step
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="Bodycontainer">
                                    @foreach (var itm in Model.ListIsuueSlipVW)
                                    {
                                        itm.SrNo = i;
                                        itm.Type = Model.Passed_Type;
                                        Html.RenderPartial("_Vehicle_Issue_Slip_Partial", itm);
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-actions fluid">
                    <div class="col-md-offset-4 col-md-8">
                        <a class="btn btn-sm default controls" href="@Url.Action("VehicleIssueSlipQueryCriteria", "Fleet", new { Type = @Model.Passed_Type })"> <i class="fa fa-arrow-left"> </i>&nbsp;Back to Criteria</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {

                },
                messages: {

                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    //if (element.parents('.checkbox-list').size() > 0) {
                    //    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    //} else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                    //}
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    // form1.submit();
                }
            });
        }

        var SubmitClick = function (DomainName) {

            $('#btnSubmit').click(function () {

                var form = $('#form_sample');
                if (form.valid() == false) {
                    return false;
                }

                App.blockUI({ boxed: true });
                document.forms["form_sample"].submit();
            });
            $('.AdvanceEntry').click(function () {
                App.blockUI({ boxed: true });
            });
        }

        var AddTaskDetails = function (DomainName, itemIn) {

            var StrURL1 = DomainName + '/Fleet/_Job_Order_Cancel_Partial/' + itemIn;

            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    var Rid = itemIn;
                    $("#Bodycontainer").append(html);
                    ChangeEventHtml(DomainName, Rid);
                    select2Date();
                    JobOrderNoChange(DomainName);

                    App.unblockUI();
                },
                error: function (req, status, error) {
                    alert("error " + req + "   " + status + "   " + error);
                }
            });
        }

        var ChangeEventHtml = function (DomainName, id) {

            var JOB_ORDER_DT = "JobCancel_" + id + "__JOB_ORDER_DT";
            var Cancel_Dt = "JobCancel_" + id + "__Cancel_Dt";

            $("#" + JOB_ORDER_DT).val("");
            $("#" + Cancel_Dt).val("");
        }

        var select2Date = function (DomainName) {

            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });

            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: new Date(),
                    endDate: new Date(),
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }

        var JobOrderNoChange = function (DomainName) {

            $(".clsJOBORDERNO").focusout(function () {

                App.blockUI({ boxed: true });

                var JobOrderVal = $(this).val();
                var JobOrderId = $(this).attr("id");
                var Id = $(this).attr("id").replace("__JOB_ORDER_NO", "");

                var StrURL1 = DomainName + '/Fleet/Check_Valid_JOB_ORDER_NO?JobOrderNo=' + JobOrderVal;
                $.ajax({
                    url: StrURL1,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (data) {

                        if (data.IsRecordFound == "0") {
                            alert("Please Enter Valid Job Order No.")
                            $("#" + Id + "__JOB_ORDER_DT").val("");
                            $("#" + Id + "__VEHNO").val("");
                            $("#" + Id + "__JS_BRCD").val("");
                            $("#" + Id + "__ORDER_STATUS").val("");
                            $("#" + JobOrderId).focus();
                            App.unblockUI();

                        }
                        else if (data.IsRecordFound == "1") {
                            $("#" + Id + "__JOB_ORDER_DT").val(data.Job_Order_Dt);
                            $("#" + Id + "__VEHNO").val(data.VEHNO);
                            $("#" + Id + "__JS_BRCD").val(data.JS_BRCD);
                            $("#" + Id + "__ORDER_STATUS").val(data.ORDER_STATUS);
                            App.unblockUI();
                        }

                    },
                    error: function (req, status, error) {
                        alert("error " + req + "   " + status + "   " + error);
                        $("#" + Id + "__JOB_ORDER_DT").val("");
                        $("#" + Id + "__VEHNO").val("");
                        $("#" + Id + "__JS_BRCD").val("");
                        $("#" + Id + "__ORDER_STATUS").val("");
                        App.unblockUI();

                    }
                });

            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);
                SubmitClick(DomainName);
                ChangeEventHtml(DomainName, "1");
                select2Date();
                JobOrderNoChange(DomainName);

                var itemIndex = $("#container input.iHidden").length + 1;
                $("#btnAddRows").click(function () {

                    App.blockUI({ boxed: true });
                    var TOTRows = $("#JobOrderCancel").val();
                    for (var i = 0; i <= TOTRows - 1; i++) {
                        setTimeout(function () {
                            itemIndex = itemIndex + 1;
                            AddTaskDetails(DomainName, itemIndex);

                        }, 250 * i);
                    }
                });
            }
        };
    }();

</script>


