﻿@model IEnumerable<FleetDataService.Models.VW_FM_TRACK_Report>

<table class="table table-striped table-bordered table-hover" id="TrackDocList" style="overflow-x: scroll">
        <thead>
            <tr>
                <th class="center">PFM No.</th>
                <th class="center">PFM Date</th>
                <th class="center">From</th>
                <th class="center">To</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ToList())
            {
                <tr>
                    <td class="center">
                        @Html.HiddenFor(m => @item.fm_no)
                        <a href="@Url.Action("PFM_View_Print_Report", "ViewPrint", new { PFMNo = @ViewBag.FmNo})" onclick="window.open(this.href, 'Fleet','left=20,top=20,width=1240,height=620,toolbar=1,resizable=0'); return false;" id="PFMNo" class="btnPFMNo"><b>@item.fm_no</b></a>
                    </td>
                    <td class="center">
                        @item.fmdt
                    </td>
                    <td class="center">
                        @item.fromloc
                    </td>
                    <td class="center">
                        @item.toLoc
                    </td>
                </tr>
            }
        </tbody>
    </table>
