﻿@model FleetDataService.Models.vw_FM_DOC_For_Ack
@using Fleet.Helpers
@using (Html.BeginCollectionItem("AckList", Model.fm_no.ToString()))
{
    <tr>
        <td class="chkactive">
            @*<input type="checkbox" class="chkactive" data-value="@Model.fm_no" />*@
            @Html.CheckBoxFor(c => c.active, new { @class = "chkactive" })
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.fm_no)
            @Html.HiddenFor(c => c.fm_no)
            @Html.HiddenFor(c => c.ID)
        </td>
        <td class="center">
            @Model.pfmdt
            @Html.HiddenFor(c => c.pfmdt)
        </td>
        <td class="center">
            @Model.fm_date
            @Html.HiddenFor(c => c.fm_date)
        </td>
        <td class="center">
            @Model.fm_fwd_loccode
            @Html.HiddenFor(c => c.fm_fwd_loccode)
        </td>
        <td>
            @Model.fm_ack_status
            @Html.HiddenFor(c => c.fm_ack_status)
        </td>
        <td class="center">
            @Model.from_to
            @Html.HiddenFor(c => c.from_to)
        </td>
        <td>
            @Model.FM_Status
            @Html.HiddenFor(c => c.FM_Status)
        </td>
    </tr>
}