﻿@model FleetDataService.Models.vw_dockets_For_FWD
@using Fleet.Helpers
@using (Html.BeginCollectionItem("CODDODPODList", Model.dockno.ToString()))
{
    <tr>
        <td class="chkactive">
            @*<input type="checkbox" class="chkactive" data-value="@Model.dockno" />*@
            @Html.CheckBoxFor(c => c.isChecked, new { @class="chkactive",@data_value=@Model.dockno})
        </td>
        <td>
            @Html.DisplayFor(c => c.dockno)
            @Html.HiddenFor(c => c.dockno)
            @Html.HiddenFor(c => c.dockdt)
        </td>
        <td>
            @Model.loc
            @Html.HiddenFor(c => c.loc)
        </td>
        <td class="center">
            @Model.from_to
            @Html.HiddenFor(c => c.from_to)
        </td>
        <td class="center">
            @Model.dely_date
            @Html.HiddenFor(c => c.dely_date)
        </td>
        <td>
            @Model.dkttot
            @Html.HiddenFor(c => c.dkttot)
        </td>
        <td>
            @Model.Scaned
            @Html.HiddenFor(c => c.Scaned)
            @Html.HiddenFor(c => c.dely_date)
            @Html.HiddenFor(c => c.dkt)
        </td>
    </tr>
}