﻿@model FleetDataService.Models.vw_Bill_For_FWD
@using Fleet.Helpers
@using (Html.BeginCollectionItem("BillList", Model.billno.ToString()))
{
    <tr>
        <td class="chkactive">
            @*<input type="checkbox" class="chkactive" data-value="@Model.billno" />*@
            @Html.CheckBoxFor(c => c.isChecked, new { @class = "chkactive", @data_value = @Model.billno })
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.billno)
            @Html.HiddenFor(c => c.billno)
            @Html.HiddenFor(c => c.bgndt)
        </td>
        <td class="center">
            @Model.manualbillno
            @Html.HiddenFor(c => c.manualbillno)
        </td>
        <td class="center">
            @Model.bgndt
            @Html.HiddenFor(c => c.bgndt)
        </td>
        <td class="center">
            @Model.ptmscd:@Model.ptmsnm
            @Html.HiddenFor(c => c.ptmscd)
            @Html.HiddenFor(c => c.ptmsnm)
        </td>
        <td>
            @Model.billamt
            @Html.HiddenFor(c => c.billamt)
        </td>
        <td class="center">
            @Model.loc
            @Html.HiddenFor(c => c.loc)
            @Html.HiddenFor(c => c.PFM_LOC)
        </td>
        <td>
            @Model.Scaned
            @Html.HiddenFor(c => c.Scaned)
        </td>
    </tr>
}