﻿@model FleetDataService.Models.Webx_FM_Scan_Documents
@using FleetDataService.Models
@using Fleet.Helpers

@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<WEBX_FLEET_GENERALTASKMST> WorkGroupList = MS.GetTaskListObject().ToList();
    List<Fleet.ViewModels.TaskTypeList> TaskTypeList = MS.GetTaskTypeList().ToList();
    List<SelectListItem> UOMlist = new List<SelectListItem>(){
                    new SelectListItem{ Text="BOTH", Value = "BOTH" },
                    new SelectListItem{ Text="DAYS", Value = "Days" },
                    new SelectListItem{ Text="KMS", Value = "KMS" },
    };
    List<Webx_Master_General> ListDocType = MS.GetGeneralMasterObject().Where(c => c.CodeType == "FMDOC" && c.StatusCode == "Y").OrderBy(c => c.CodeDesc).ToList();
}
@*<link rel="stylesheet" type="text/css" href="~/assets/plugins/bootstrap-fileinput/bootstrap-fileinput.css" />*@
<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Srno, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("FMScan", Model.Srno.ToString()))
    {
        string ROWID = "RW_" + Model.Srno;
        string DocumentHrefID = "FMScan_" + Model.Srno + "__DocumentHref";
        string status = "FMScan_" + Model.Srno + "__Status";
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.HiddenFor(c => c.ID)
                    @Html.DropDownListFor(c => c.DocType, new SelectList(ListDocType, "CodeId", "CodeDesc"), "", new { @class = "form-control select2 required required2 ACdropdown", @placeholder = "Select Condition" })
                    
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.DocketNo, new { placeholder = "POD No.", @class = "form-control clsDKTNO required required2" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.DocumentNo, new { placeholder = "Document No.", @class = "form-control DocumentNo required required2" })
                </div>
            </div>
        </td>

        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.HiddenFor(c => c.DocumentName)                    
                    <label id="@status">@Model.Status</label><p id="@DocumentHrefID"></p>
                    @Html.HiddenFor(c => c.ScanStatus)
                </div>
            </div>
        </td>
        <td data-title="Upload Document">
            @*<input type="file" id="@ROWID" name="files" style="opacity:0px;"/>*@
            <div class="fileinput fileinput-new col-md-12" id="divfileupload_@Model.Srno" data-provides="fileinput">
                <div class="fileinput-new thumbnail col-md-3" style="width: 30px; height: 30px;">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail col-md-3" style="max-width: 70px; max-height: 70px;">
                </div>
                <div class=" col-md-9">
                    <span class="btn default btn-file">
                        <span class="fileinput-new">
                            Select image
                        </span>
                        <span class="fileinput-exists">
                            Change
                        </span>
                        <input type="file" id="@ROWID" name="files" class="default required">
                    </span><br />
                    <a href="#" class="btn default fileinput-exists" data-dismiss="fileinput" style="margin-top:5px">
                        Remove
                    </a>
                </div>
            </div>
            <p class="col-md-offset-1" style="color: #a94442;display:none;" id="fileError_@Model.Srno"><strong>File Size Must Be Less or Equal to 1 Mb.</strong></p>
            <div id="msg_@Model.Srno" style="color: #a94442;display:none;"></div>
        </td>
        <td class="center">
            @if (Model.Srno > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
            }
        </td>
    }
</tr>