﻿@model Fleet.ViewModels.vw_FM_DOC_For_AckViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "AcknowledgeFMDocumentsQuery";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<SelectListItem> FmTypelist = new List<SelectListItem>(){
                    new SelectListItem{ Text="Bill", Value = "2" },
                    new SelectListItem{ Text="COD/DOD", Value = "4" },
                    new SelectListItem{ Text="POD", Value = "1" },
    };
    List<SelectListItem> FmToList = new List<SelectListItem>(){
                    new SelectListItem{ Text="Customer", Value = "Customer" },
                    new SelectListItem{ Text="Location", Value = "Location" },
    };
}

@using (Html.BeginForm("ForwardFMAckDocuments", "Document", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;FM Query
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Fm Type :
                                    </label>
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(c => c.FFDAF.FMType, new SelectList(FmTypelist, "Value", "Text"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Fm Type" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        FM Forwarded To :
                                    </label>
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(c => c.FFDAF.Loccode, new SelectList(FmToList, "Value", "Text"), "", new { @class = "form-control required required2 select2", @placeholder = "Select FM Forwarded" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Select  Date :
                                    </label>
                                    <div class="col-md-3">
                                        <div id="reportrange" class="btn default">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                    </label>
                                    <div class="col-md-3">
                                        <b>OR</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">
                                            FM No.(s). :
                                        </label>
                                        <div class="col-md-3">
                                            @Html.HiddenFor(c => c.FFDAF.FromDate)
                                            @Html.HiddenFor(c => c.FFDAF.ToDate)
                                            @Html.TextBoxFor(c => c.FFDAF.FmNo, new { placeholder = "FM No.(s).", @class = "form-control" })
                                        </div>
                                        <span class="col-md-3 text-primary">[Seperated by Comma if multiple]</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="button" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Get List</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'FFDAF_FromDate', 'FFDAF_ToDate');

            $('#btnSubmit').on('click', function () {
                var form = $('#form_sample');
                if (form.valid() == false) {
                    return false;
                }
                document.forms['form_sample'].submit();
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                Events(DomainName);
                //$("#FFDAF_FmNo").blur(function () {
                //    if ($(this).val() != "") {
                //        $("#FFDAF_FMType").removeClass("required required2"); 
                //        $("#FFDAF_Loccode").removeClass("required required2");
                //    }
                //    else {
                //        $("#FFDAF_FMType").addClass("required required2");
                //        $("#FFDAF_Loccode").addClass("required required2");
                //    }
                //});
            }
        }
    }();
</script>
