﻿@model Fleet.ViewModels.DocumentTrackViewModel
@{
    ViewBag.Title = "Documents Track";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> DocTypelist = new List<SelectListItem>(){
                    new SelectListItem{ Text="Bill", Value = "2" },
                    new SelectListItem{ Text="COD/DOD", Value = "4" },
                    new SelectListItem{ Text="POD", Value = "1" },
    };
}
@using (Html.BeginForm("TrackDocList", "Document", FormMethod.Post, new { id = "submit_form", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        DocType :
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(c => c.DTF.DocType, new SelectList(DocTypelist, "Value", "Text"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Doc Type" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3" style="text-align:right">
                                        Document No :
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        @Html.TextBoxFor(c => c.DTF.DocNo, new { @placeholder = "Document No", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-8">
                            <button type="button" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Get List</button>
                            <button type="button" id="btnXls" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-list"></i>&nbsp;Download XLS</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="row" id="list">
    <div class="col-md-6">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Document Track List
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body" id="tblData">
                    @{Html.RenderPartial("_DocumentsTrackList", Model.ListVWFTR);}
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
    <div class="col-md-6">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Document Summary
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body" id="tblData">
                    @{Html.RenderPartial("_DocumentsTrackSummary", Model.ListVWFTR);}
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var FormValidate = function (DomainName) {
            var form1 = $('#submit_form');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);
            $.validator.addMethod('checkDCRSeriesAvailability', function (value, element) {
                //alert(value +  "   " + JSON.stringify(element))

                var DocType = $("#DTF_DocType").val();
                var DocNO = $("#DTF_DocNo").val();
                var DocumentNo = "";
                var StrURL = DomainName + "/Document/CheckDocno?DocNo=" + DocNO + "&DocType=" + DocType;
                // alert("hello " + StrURL);
                var result1 = $.ajax({
                    async: false,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: StrURL,
                    dataType: 'json',
                    data: {},
                });
                var d1 = JSON.parse(result1.responseText);

                // App.unblockUI();
                if (d1.CNT == "1") {
                    return true;
                }
                else {

                    return false;
                }
            }, "Document Number is Not Exist !!!");
            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                //$("#DTF_DocNo").change(function () {
                //    App.blockUI({ boxed: true });
                //    if ($("#DTF_DocType").val()!=2){
                //    $(this).rules("add", {
                //        checkDCRSeriesAvailability: true,
                //    });
                //    }
                //    App.unblockUI();
                //    }); FormValidate(DomainName);
                
                $("#list").hide();
                $("#btnSubmit").click(function (e) {
                    FormValidate(DomainName);
                    if (!$('#submit_form').valid()) {
                        App.unblockUI();
                        return;
                    }
                    else {
                        App.blockUI({ boxed: true });
                        var Doctype = $("#DTF_DocType").val();
                        var DocNo = $("#DTF_DocNo").val();
                        var strUrl = DomainName + '/Document/TrackDocList?Doctype=' + Doctype + '&DocNo=' + DocNo;
                        $.ajax({
                            url: strUrl,
                            cache: false,
                            data: {},
                            type: 'POST',
                            success: function (data) {
                                $("#list").show();
                                $('#TrackDocList').dataTable({
                                    "bDestroy": true
                                }).fnDestroy();
                                $("#TrackDocList").html(data);
                                App.unblockUI();
                                $("input:checkbox, input:radio").uniform();
                                initTableById("TrackDocList");
                            },
                            error: function (req, status, error) {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                                App.unblockUI();
                            }
                        });
                    }
                });
            }
        }
    }();
</script>