﻿@model Fleet.ViewModels.ViewPrintViewModel
@{
    ViewBag.Title = "FM Report";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string FromDate = Model.FMF.FromDate.ToString("dd MMM yyyy h:mm tt");
    string ToDate = Model.FMF.ToDate.ToString("dd MMM yyyy h:mm tt");
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body ">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3" style="text-align:right">
                                    From - To :
                                </label>
                                <div class="text-primary margin-top-5 col-md-9">
                                    @FromDate - @ToDate
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3" style="text-align:right">
                                    Region :
                                </label>
                                <div class="col-md-6 text-primary margin-top-5">
                                    @Html.DisplayFor(c => c.FMF.RO)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3" style="text-align:right">
                                    Location :
                                </label>
                                <div class="col-md-6 text-primary margin-top-5">
                                    @Html.DisplayFor(c => c.FMF.Loccode)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3" style="text-align:right">
                                    FM No. :
                                </label>
                                <div class="col-md-6 text-primary margin-top-5">
                                    @Html.DisplayFor(c => c.FMF.FmNo)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>FM List
                </div>
                <div class="caption pull-right">
                    <a href="@Url.Content("~/Document/FMReportQuery")" class="btn btn-xs default controls backBtn"><i class="fa fa-arrow-left"></i>&nbsp;Back to Criteria</a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    <table id="FMReportList" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">FM No</th>
                                <th class="center">Manual FM No.</th>
                                <th class="center">FM Date.</th>
                                <th class="center">Document Forwarded To</th>
                                <th class="center">Further Forwarded Location</th>
                                <th class="center">Total Documents</th>
                                <th class="center">FM Status</th>
                                <th class="center">View</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ListVWPFMVP)
                            {
                                <tr>
                                    <td class="center">
                                        <a href="@Url.Action("PFM_View_Print_Report", "ViewPrint", new { PFMNo = @item.fm_no, DocType = @item.fm_doc_type })" onclick="window.open(this.href, 'RCPL','left=20,top=20,width=1240,height=620,toolbar=1,resizable=0'); return false;" id="ReportFrame">@item.fm_no</a>                                        
                                    </td>
                                    <td class="center">
                                        @item.Manual_fm_no
                                    </td>
                                    <td class="center">
                                        @item.fm_date.ToString("dd MM yyyy")
                                    </td>
                                    <td class="center">
                                        @item.doc_fwd_to
                                    </td>
                                    <td class="center">
                                        @item.Fur_FWD_loc
                                    </td>
                                    <td class="center">
                                        @item.Total_Documents
                                    </td>
                                    <td class="center">
                                        @item.FM_Status
                                    </td>
                                    <td class="center">
                                        <a href="@Url.Action("PFM_View_Print_Report", "ViewPrint", new { PFMNo = @item.fm_no, DocType = @item.fm_doc_type })" onclick="window.open(this.href, 'RCPL','left=20,top=20,width=1240,height=620,toolbar=1,resizable=0'); return false;" class="btn btn-xs blue-stripe default" id="ReportFrame"><b>View</b></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="form-actions fluid">
                    <div class="col-md-offset-4 col-md-8">
                        <a href="@Url.Content("~/Document/FMReportQuery")" class="btn btn-sm default controls backBtn"><i class="fa fa-arrow-left"></i>&nbsp;Back to Criteria</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                initTableById("FMReportList");
                $(".backBtn").click(function () {
                    App.blockUI({ boxed: true });
                });
            }
        }
    }();
</script>