﻿@model Fleet.ViewModels.vw_FM_DOC_For_AckViewModel
@{
    ViewBag.Title = "Forward FM Ack Documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Status.ToUpper() == "1")
{
    <div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-check"></i>@ViewBag.Title is Successfully @ViewBag.Tranxaction
                </div>
            </div>
            <div class="portlet-body">
                <div class="margin-top-10 margin-bottom-10 clearfix">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="center">
                                    FM No.
                                </th>
                                <th class="center">
                                    FM Type
                                </th>
                                <th class="center">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var em in Model.ListVWFDFAM)
                            {
                                <tr>
                                    <td class="center">
                                        @em.fm_no
                                    </td>
                                    <td class="center">
                                        @em.FMType
                                    </td>
                                    <td class="center">
                                         
                                        <a href="@Url.Action("PFM_View_Print_Report", "ViewPrint", new { PFMNo = @ViewBag.FmNo})" onclick="window.open(this.href, 'Fleet','left=20,top=20,width=1240,height=620,toolbar=1,resizable=0'); return false;" id="ReportFrame"><b>View|Print</b></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <span class="label label-danger">
                    NOTE!
                </span>&nbsp;
                <span>
                    <span class="text-primary">Click Here <i class="fa fa-long-arrow-right"></i> </span>
                    <a href="@Url.Content("~/Document/AcknowledgeFMDocumentsQuery")"> Acknowledge documents</a> |
                    <a href="@Url.Content("~/Document/ForwardFMDocumentsQuery")"> Forward  Document</a> |
                    <a href="@Url.Content("~/Document/ScanFMDocuments")"> Scan Document</a>
                </span>
            </div>
        </div>
    </div>
}
else if (ViewBag.Tranxaction.ToUpper() == "NOT DONE")
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-danger fade in center">
            <h2 class="alert-heading">Opps! Transaction fail</h2>
            <h4>
                FM No. <b>@ViewBag.FMNo</b> Can not Acknowledge without information of Manual FM No,Courier Name,Way Bill No and Way Bill Date.
            </h4>
        </div>
    </div>
}
else
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-danger fade in center">
            <h2 class="alert-heading">Opps! @ViewBag.Title fail</h2>
            <h4>
                There is some issue with process. <br />Please check your internet connection else contact your administrator or service provider.
            </h4>
        </div>
    </div>
}
