﻿@model Fleet.ViewModels.WebX_FM_FWD_DOC_MasterViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "Forward FMDocuments Query";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<SelectListItem> DocTypelist = new List<SelectListItem>(){
                    new SelectListItem{ Text="Bill", Value = "2" },
                    new SelectListItem{ Text="COD/DOD", Value = "4" },
                    new SelectListItem{ Text="POD", Value = "1" },
    };
    List<SelectListItem> PaybaseList = new List<SelectListItem>(){
                    new SelectListItem{ Text="Bill", Value = "2" },
    };
    List<SelectListItem> DocToList = new List<SelectListItem>(){
                    new SelectListItem{ Text="Customer", Value = "1" },
                    new SelectListItem{ Text="Location", Value = "2" },
    };
    List<SelectListItem> DateTypelist = new List<SelectListItem>(){
                    new SelectListItem{ Text="Booking Date", Value = "1" },
                    new SelectListItem{ Text="Delivery Date", Value = "2" },
    };
}

@using (Html.BeginForm("ForwardFMDocuments", "Document", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>FM Query
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        DocType :
                                    </label>
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(c => c.FFDFM.DocType, new SelectList(DocTypelist, "Value", "Text"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Doc Type" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Select  Date :
                                    </label>
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(c => c.FFDFM.DT_TYPE, new SelectList(DateTypelist, "Value", "Text"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Date Type" })
                                    </div>
                                    <div class="col-md-3">
                                        <div id="reportrange" class="btn default">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Paybas :
                                    </label>
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(c => c.FFDFM.Paybas, new SelectList(PaybaseList, "Value", "Text"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Paybas", @disabled = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Document No. :
                                    </label>
                                    <div class="col-md-3">
                                        @Html.HiddenFor(c => c.FFDFM.FromDate)
                                        @Html.HiddenFor(c => c.FFDFM.ToDate)
                                        @Html.TextBoxFor(c => c.FFDFM.Dockets, new { placeholder = "Dockets", @class = "form-control" })
                                    </div>
                                    <span class="col-md-3 text-primary">[Seperated by Comma if multiple]</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="button" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Get List</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'FFDFM_FromDate', 'FFDFM_ToDate');

            $('#btnSubmit').on('click', function () {
                var form = $('#form_sample');
                if (form.valid() == false) {
                    return false;
                }
                App.blockUI({ boxed: true });
                document.forms['form_sample'].submit();
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    todayBtn: true,
                });
                Events(DomainName);
                $("#FFDFM_DocType").change(function () {
                    $("#FFDFM_Paybas").attr('disabled', false);
                    var value = $(this).val();
                    var strurl = "";
                    if (value == "2") {
                        strurl = DomainName + "/Document/GetPaybseByDoctype?CodeType=BILLTYP";
                    }
                    else {
                        strurl = DomainName + "/Document/GetPaybseByDoctype?CodeType=PAYTYP";
                    }
                    FillDropDownfromOther("FFDFM_Paybas", strurl, "Select Paybase");
                });
                $("#WFFDM_Doc_FWD_To").change(function () {
                    var value = $(this).val();
                    var strurl = "";
                    if (value == '1') {
                        JsonDDL('WFFDM_Loc_Cust_Code', DomainName + '/Master/GetCustomerListJson')
                    }
                    else {
                        JsonDDL('WFFDM_Loc_Cust_Code', DomainName + '/Master/GetLocationListJson')
                    }
                });
            }
        }
    }();
</script>