﻿@model Fleet.ViewModels.WebX_FM_FWD_DOC_MasterViewModel
@{
    ViewBag.Title = "ForwardFMDocuments";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> DocToList = new List<SelectListItem>(){
                    new SelectListItem{ Text="Customer", Value = "1" },
                    new SelectListItem{ Text="Location", Value = "2" },
    };
}
@using (Html.BeginForm("ForwardFMDocumentsDone", "Document", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
<div class="row">
    <div class="col-md-12">
        <div class="portlet @ViewBag.TableBoxColor box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Document Forwarding Memo
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">FM Number:</label>
                                <div class="col-md-8">
                                    @Html.HiddenFor(c => c.FFDFM.DocType)
                                    @Html.HiddenFor(c => c.WFFDM.Total_Documents)
                                    @Html.TextBoxFor(c => c.WFFDM.FM_No, new { @placeholder = "<System Generated>", @class = "form-control", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">FM Date:</label>
                                <div class="col-md-8">
                                    <div class="input-group date date-picker">
                                        @Html.TextBoxFor(c => c.WFFDM.FM_Date, String.Format("{0:dd MMM yyyy}", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = " form-control required2 required" })
                                        <span class="input-group-btn">
                                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">FM Entry Date:</label>
                                <div class="col-md-8 text-primary margin-top-5">
                                    @Html.DisplayFor(c => c.WFFDM.FM_Entry_Date)
                                    @Html.HiddenFor(c => c.WFFDM.FM_Entry_Date)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Manual FM Number:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(c => c.WFFDM.Manual_FM_No, new { @placeholder = "Manual FM Number", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 Attacheddetail">
                            <div class="form-group">
                                <label class="control-label col-md-4">Forward To:</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(c => c.WFFDM.Doc_FWD_To, new SelectList(DocToList, "Value", "Text"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Forward Document To" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 Attacheddetail">
                            <div class="form-group">
                                <label class="control-label col-md-4">	Customer/Location:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(c => c.WFFDM.Loc_Cust_Code, new { @placeholder = "Select Customer/Location", @class = "form-control required required2" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Document Type:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(c => c.WFFDM.FM_Doc_Type, new { @placeholder = "Document Type", @class = "form-control", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 Attacheddetail">
                            <div class="form-group">
                                <label class="control-label col-md-4">Courier Name:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(c => c.WFFDM.Courier_Code, new { @placeholder = "Courier Name", @class = "form-control required required2" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 Attacheddetail">
                            <div class="form-group">
                                <label class="control-label col-md-4">	Way Bill No.:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(c => c.WFFDM.Courier_Way_Bill_No, new { @placeholder = "Way Bill No", @class = "form-control required required2" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Way Bill Date:</label>
                                <div class="col-md-8">
                                    <div class="input-group date date-picker">
                                        @Html.TextBoxFor(c => c.WFFDM.Courier_Way_Bill_Date, String.Format("{0:dd MMM yyyy}", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = " form-control required2 required" })
                                        <span class="input-group-btn">
                                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="row" id="Bill">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Document List
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="chkall" /></th>
                                    <th>Bill No</th>
                                    <th>Manual Bill No</th>
                                    <th>Bill Date</th>
                                    <th>Billing Party</th>
                                    <th>Bill Amount</th>
                                    <th>Submission Location</th>
                                    <th>Scan Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListVWBFF)
                                {
                                    { Html.RenderPartial("_PartialBillList", item); }
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <a href="@Url.Content("~/Document/ForwardFMDocumentsQuery")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back to Criteria</a>
                            <button type="submit" id="btnSave" class="btn btn-sm green controls ClsbtnSave" style="display:none"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="CodDodPod">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Document List
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="chkall" /></th>
                                    <th>CNote</th>
                                    <th>Origin - Destination</th>
                                    <th>From - To</th>
                                    <th>Dely. Date</th>
                                    <th>Amount</th>
                                    <th>Scan Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListVWDFFM)
                                {
                                    { Html.RenderPartial("_PartialCODDODPODList", item); }
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <a href="@Url.Content("~/Document/ForwardFMDocumentsQuery")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back to Criteria</a>
                            <button type="submit" id="btnSave" class="btn btn-sm green controls ClsbtnSave" style="display:none"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {
                    'BEPFM_TotalRecods': {
                        min: jQuery.format("Please Select at Least One Record")
                    },
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    App.blockUI({ boxed: true });
                }
            });
        }
        var SelectCheckBox = function (DomainName) {
            var totAMT = 0;
            var StrDocno = "";
            $(".chkactive").each(function () {
                var checked = $(this).is(":checked");
                if (checked) {
                    if (StrDocno == "")
                        StrDocno = $(this).attr("data-value");
                    else
                        StrDocno = StrDocno + "," + $(this).attr("data-value");
                    totAMT = totAMT + 1;
                }
            });
            $("#WFFDM_Total_Documents").val(totAMT);
            $("#BEPFM_BillNumber").val(StrDocno);
            if (totAMT>0) {
                $(".ClsbtnSave").show();
            }
            else {
                $(".ClsbtnSave").hide();
            }
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                $("#Bill").hide();
                $("#CodDodPod").hide();
                if('@Model.FFDFM.DocType'=="2"){
                    $("#Bill").show();
                }
                else {
                    $("#CodDodPod").show();
                }
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    todayBtn: true,
                });
                $("#FFDFM_DocType").change(function () {
                    $("#FFDFM_Paybas").attr('disabled', false);
                    var value = $(this).val();
                    var strurl = "";
                    if (value == "2") {
                        strurl = DomainName + "/Document/GetPaybseByDoctype?CodeType=BILLTYP";
                    }
                    else {
                        strurl = DomainName + "/Document/GetPaybseByDoctype?CodeType=PAYTYP";
                    }
                    FillDropDownfromOther("FFDFM_Paybas", strurl, "Select Paybase");
                });
                $("#WFFDM_Doc_FWD_To").change(function () {
                    var value = $(this).val();
                    var strurl = "";
                    if (value == '1') {
                        JsonDDL('WFFDM_Loc_Cust_Code', DomainName + '/Master/GetCustomerListJson')
                    }
                    else {
                        JsonDDL('WFFDM_Loc_Cust_Code', DomainName + '/Master/GetLocationListJson')
                    }
                });
                $("#chkall").live('change', function () {
                    var checked = jQuery(this).is(":checked");
                    $(".chkactive").each(function () {
                        $(this).val()
                        if (checked) {
                            $(this).attr("checked", true);
                            $(this).parents('span').addClass("checked");
                        } else {
                            $(this).attr("checked", false);
                            $(this).parents('span').removeClass("checked");
                        }
                    });
                    SelectCheckBox(DomainName);
                });
                $(".chkactive").live('change', function () {
                    SelectCheckBox(DomainName);
                });
                $('#btnSave').click(function () {                    
                    App.blockUI({ boxed: true });
                });

            }
        }
    }();
</script>