﻿@model Fleet.ViewModels.vw_FM_DOC_For_AckViewModel
@{
    ViewBag.Title = "ForwardFMAckDocuments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ForwardFMAckDocumentsSubmit", "Document", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>List
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <table id="sample_ven" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="chkall" /></th>
                                <th>Fm No</th>
                                <th>PFM Date</th>
                                <th>Fm Date</th>
                                <th>Location</th>
                                <th>Status</th>
                                <th>From-To</th>
                                <th>Fm Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ListVWFDFAM)
                            {
                                { Html.RenderPartial("_PartialAckDocList", item); }
                            }
                        </tbody>
                        @Html.HiddenFor(c => c.FFDAF.FmNo)
                        @Html.HiddenFor(c => c.FFDAF.FMType)
                        @Html.HiddenFor(c => c.FFDAF.Loccode)
                    </table>
                </div>
                <div class="form-actions fluid">
                    <div class="col-md-offset-3 col-md-8">
                        <a href="@Url.Content("~/Document/AcknowledgeFMDocumentsQuery")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
                        <button type="submit" id="btnSave" class="btn btn-sm green controls ClsbtnSave" style="display:none"><i class="fa fa-check"></i>&nbsp;Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {
                    'BEPFM_TotalRecods': {
                        min: jQuery.format("Please Select at Least One Record")
                    },
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    if (form1.valid() == false) {
                        return false;
                    }
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                }
            });
        }
        var SelectCheckBox = function (DomainName) {
            var totAMT = 0;
            var StrDocno = "";
            $(".chkactive").each(function () {
                var checked = $(this).is(":checked");
                if (checked) {
                    if (StrDocno == "") {
                        StrDocno = $(this).attr("data-value");
                        $(this).val(true);
                    }
                    else {
                        StrDocno = StrDocno + "," + $(this).attr("data-value");
                        $(this).val(false);
                    }
                    totAMT = totAMT + 1;
                }
            });
            $("#WFFDM_Total_Documents").val(totAMT);
            $("#BEPFM_BillNumber").val(StrDocno);
            if (totAMT == 1) { $("#btnSave").show(); } else { $("#btnSave").hide(); }
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                $("#Bill").hide();
                $("#CodDodPod").hide();
                
                $("#chkall").live('change', function () {
                    var checked = jQuery(this).is(":checked");
                    $(".chkactive").each(function () {
                        if (checked) {
                            $(this).attr("checked", true);
                            $(this).parents('span').addClass("checked");
                            $(this).val(true);
                        } else {
                            $(this).attr("checked", false);
                            $(this).parents('span').removeClass("checked");
                            $(this).val(false);
                        }
                    });
                    SelectCheckBox(DomainName);
                });
                $(".chkactive").live('change', function () {
                    SelectCheckBox(DomainName);
                });
            }
        }
    }();
</script>