﻿@model Fleet.ViewModels.FMFilter
@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "Pending Scan Report";
    Layout = null;
}

@{
    var parameters = new List<KeyValuePair<string, object>>
   {

       new KeyValuePair<string, object>("DocType", @Model.DocType),
       new KeyValuePair<string, object>("Ro", @Model.RO),
       new KeyValuePair<string, object>("Loc", @Model.Loccode),
       new KeyValuePair<string, object>("FromDT", @Model.FromDate),
       new KeyValuePair<string, object>("ToDT", @Model.ToDate),
   };

    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();

}
<div id="divPrint">
    @if (Model.DocType == "1")
    {

        @Html.MvcReportViewer(ReportPathPrefix + "/Doc_Yet_To_Scan_POD", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    }
    else
    {
        @Html.MvcReportViewer(ReportPathPrefix + "/Doc_Yet_To_Scan", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    }


    <div class="span3"></div>
</div>