﻿@model Fleet.ViewModels.PODPFMViewModel
@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "POD PFM Uplaod List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("Fromdt",ViewBag.FromDate),
        new KeyValuePair<string, object>("todt",ViewBag.ToDate),
        new KeyValuePair<string, object>("fromloc",Model.fromloc),

    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/PODPFMUplaodList", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>



