﻿@model Fleet.ViewModels.Webx_FM_Scan_DocumentsViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "Scan FM Documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> ListDocType = MS.GetGeneralMasterObject().Where(c => c.CodeType == "FMDOC" && c.StatusCode == "Y").OrderBy(c => c.CodeDesc).ToList();
}
@using (Html.BeginForm("AddScanDoucment", "Document", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label col-md-5">No Of Rows </label>
                                <div class="col-md-7">
                                    <span class=" col-md-3">
                                        @Html.TextBox("row", "0", new { placeholder = "Add Item", @class = "input-small required2 form-control required", @onkeypress = "javascript:return validInt(event)" })
                                    </span>
                                    <a id="btnAddScanFM" class="btn  btn-sm @ViewBag.TableBoxColor right">
                                        <i class="fa fa-plus"></i> Add New Row
                                    </a>
                                </div>
                            </div>
                        </div>
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Document Type
                                        <span class="col-md-11">
                                            @Html.DropDownList("AC", new SelectList(ListDocType, "CodeId", "CodeDesc"), "", new { @class = "form-control select2", @placeholder = "Select Condition" })
                                        </span>
                                    </th>
                                    <th>POD No.</th>
                                    <th>Document No.</th>
                                    <th>Scan Status</th>
                                    <th>Select Document</th>
                                    <th>X</th>
                                </tr>
                            </thead>
                            <tbody id="containerTblScanFM">
                                @foreach (var item in Model.ListWFSDM)
                                {
                                    Html.RenderPartial("_PartialFMScanDocument", item);
                                }
                            </tbody>
                        </table>
                        @*<div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-9">
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" id="btnAddScanFM" class="btn green pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                    </div>
                                </div>
                            </div>*@
                        <div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var FormValidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);
            var CurrLoc = "";
            $.validator.addMethod('checkDCRSeries', function (value, element) {

                var ContId = $(element).attr("id").replace("FMScan_", "").replace("__DocketNo", "");
                var DocType = $("#FMScan_" + ContId + "__DocType").val();
                var DocumentNo = $("#FMScan_" + ContId + "__DocumentNo").val();

                var DocNO = value;
                var DocType = DocType;
                var StrURL = DomainName + "/Document/CheckScanFMDocno?DocNo=" + DocNO + "&DocType=" + DocType + "&DocumentNo=" + DocumentNo;
                var result1 = $.ajax({
                    async: false,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: StrURL,
                    dataType: 'json',
                    data: {},
                });
                var d1 = JSON.parse(result1.responseText);
                
                $("#FMScan_" + ContId + "__Branch").val(d1.CurrLoc);
                $("#FMScan_" + ContId + "__DocumentNo").val(d1.DcoNo);
                $("#FMScan_" + ContId + "__DocumentNo").prop('readonly', 'true');
                $("#FMScan_" + ContId + "__Status").text(result1.responseJSON.Status);
                $("#FMScan_" + ContId + "__ScanStatus").val(d1.ScanStatus);
                $("#FMScan_" + ContId + "__DocumentName").val(d1.DcoNo + "/" + d1.DcoNo + "." + d1.DocumentName.split(".")[1]);
                CurrLoc = $("#FMScan_" + ContId + "__Branch").val();
                if (d1.DcoNo == "N/A") {
                    if (d1.DocType == "4") {
                        $("#FMScan_" + ContId + "__DocumentNo").attr("readonly", false);
                        $("#FMScan_" + ContId + "__DocumentNo").val("");
                    }
                    else {
                        $("#FMScan_" + ContId + "__DocumentNo").attr("readonly", true);
                        $("#FMScan_" + ContId + "__DocumentNo").val("N/A");
                        $("#divfileupload_" + ContId).show();
                    }
                }
                
                if (d1.ScanStatus == "2" || d1.ScanStatus == "3") {
                    var ahref = "<a  target='_blank' href='" + d1.DocumentHref + "'>VIEW</a>";
                    ahref = ahref.replace("/Document", "")
                    $("#FMScan_" + ContId + "__DocumentHref").html(ahref);
                }
                //if (d1.ScanStatus == "3") {
                //    $("#divfileupload_" + ContId).show();
                //} else {
                //    $("#divfileupload_" + ContId).hide();
                //}
                if (d1.ScanStatus == "1" && d1.DcoNo == "N/A") {

                }
                
                if (d1.CNT == "1") {
                    return true;
                }
                else {
                    $("#divfileupload_" + ContId).hide();
                    return false;
                }


            }, "Invalid Cnote No.! or Not Delivered at Curent Location");


            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    if (form.valid() == false) {
                        return false;
                    }
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                }
            });
        }

        var AddScanFMInfo = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Document/ADDFMScanInfo?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#containerTblScanFM").append(html);
                    App.unblockUI();
                    $("input[type=checkbox], input:radio").uniform();
                    $('select').select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    $("#FMScan_" + itemIndex + "__DocType").change(function () {
                        if ($(this).val() == "4") {
                            $("#FMScan_" + itemIndex + "__DocumentNo").attr("readonly", false);
                            $("#FMScan_" + itemIndex + "__DocumentNo").val("");
                        }
                        else {
                            $("#FMScan_" + itemIndex + "__DocumentNo").attr("readonly", true);
                            $("#FMScan_" + itemIndex + "__DocumentNo").val("N/A");
                        }
                    });
                    $(".clsDKTNO").each(function () {
                        $(this).rules("add", {
                            checkDCRSeries: true,
                        });
                    });
                    $('#RW_' + itemIndex).bind('change', function () {

                        //alert(parseFloat(this.files[0].size / 1024 / 1024).toFixed(0));
                        if (parseFloat(this.files[0].size / 1024 / 1024).toFixed(0) > 1) {
                            $("#fileError_" + itemIndex).show();
                        }
                        else {
                            $("#fileError_" + itemIndex).hide();
                        }
                    });
                    //FormValidate(DomainName);
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                var itemIndex = $("#sample_ven input.iHidden").length + 1;
                AddScanFMInfo(DomainName, itemIndex);

                $(".clsDKTNO").each(function () {
                    $(this).rules("add", {
                        checkDCRSeries: true,
                    });
                });

                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });
                $("#WFSHM_VEH_TYPE_CODEValue").val($("#WFSHM_VEH_TYPE_CODE").val());
                $("#WFSHM_VEH_TYPE_CODE").change(function () {
                    $("#WFSHM_VEH_TYPE_CODEValue").val($(this).val());
                });


                $("#btnAddScanFM").live('click', function () {
                    itemIndex = $("#sample_ven input.iHidden").length + 1;
                    var TOTROW = parseInt($("#row").val());
                    for (var i = itemIndex; i <= itemIndex + (TOTROW - 1) ; i++) {
                        AddScanFMInfo(DomainName, i);
                    }
                });
                $('#AC').on('change', function () {
                    var TEXT = $("#AC option:selected").text();
                    var VALUE = $(this).val();
                    $(".ACdropdown").each(function () {
                        $("#" + $(this).attr("id")).select2("data", { value: VALUE, text: TEXT });
                        $("#" + $(this).attr("id")).val(VALUE);
                        if ($(this).val() == "4") {
                            $(".DocumentNo").val("");
                            $(".DocumentNo").attr("readonly", false);
                        }
                        else {
                            $(".DocumentNo").val("N/A");
                            $(".DocumentNo").attr("readonly", true);
                        }
                    });
                });
            }
        }
    }();
</script>
