﻿@model IEnumerable<FleetDataService.Models.Webx_FM_Scan_Documents>
@{
    ViewBag.Title = "Scan FM Documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Tranxaction.ToUpper() == "DONE")
{
    <div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-check"></i>@ViewBag.Title is Successfully @ViewBag.Tranxaction
                </div>
            </div>
            <div class="portlet-body">
                <div class="margin-top-10 margin-bottom-10 clearfix">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="center">
                                    Docket No.
                                </th>
                                <th class="center">
                                    Document No.
                                </th>
                                <th class="center">
                                    DocType
                                </th>
                                <th class="center">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ToList().OrderBy(c => c.DocketNo))
                            {
                                <tr>
                                    <td class="center">
                                        <b>@item.DocketNo</b>
                                    </td>
                                    <td class="center">
                                        <b>@item.DocumentNo</b>
                                    </td>
                                    <td class="center">
                                        <b>@item.DocType</b>
                                    </td>
                                    <td class="center">
                                        <a href="javascript:OrderView('1','@item.DocketNo','@item.DocumentHref')"><b><i class="fa fa-print"></i>&nbsp;View || Print</b></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <span class="label label-danger">
                    NOTE!
                </span>&nbsp;
                <span>
                    <a href="@Url.Content("~/Document/ScanFMDocuments")">Click here to more @ViewBag.Title</a>
                </span>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-danger fade in center">
            <h2 class="alert-heading">Opps! @ViewBag.Title fail</h2>
            <h4>
                There is some issue with process. <br />Please check your internet connection else contact your administrator or service provider.
            </h4>
        </div>
    </div>
}

<script type="text/javascript">

    function OrderView(Type, DocketNo,Path) {
       var ReportURL = '@ViewBag.ReportURL';
       var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
       var strPopupURL = Path;// ReportURL + DomainName + "/ViewPrint/Tracking?Type=5&DocketNo=" + DocketNo + "&DockSf=.";
       winNew = window.open(strPopupURL, "_blank", strWinFeature)
       return false;
   }

   var FormComponents = function (DomainName) {
       var Events = function (DomainName) {
           $('#btnSubmit').click(function () {
               App.blockUI({ boxed: true });
           });
       }
       return {
           //main function to initiate the module
           init: function (DomainName) {
               Events(DomainName);
           }
       }
   }();
</script>