﻿@model Fleet.Models.LocalPasswordModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .mrgtop {
        margin-top: 5px;
    }
</style>
<div class="row">
    @using (Html.BeginForm("ChangePassword", "ChangeSetting", FormMethod.Post, new { @class = "form-horizontal", @id = "form_sample", @name = "form_sample" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="col-md-6">
            <div class="portlet box @ViewBag.TableBoxColor ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-lock"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="alert alert-danger display-none">
                        <button class="close" data-dismiss="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-none">
                        <button class="close" data-dismiss="alert"></button>
                        Your form validation is successful!
                    </div>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4">User Name</label>
                                    <div class="mrgtop text-primary col-md-6">
                                        <b>@ViewBag.UserId.ToUpper()</b>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.OldPassword, new { @class = "control-label  col-md-4" })
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.OldPassword, new { @class = "form-control required2", @type = "password", @placeholder = "Current Password" })
                                        @Html.ValidationMessageFor(model => model.OldPassword)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NewPassword, new { @class = "control-label  col-md-4" })
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.NewPassword, new { @class = "form-control required2", @type = "password", @placeholder = "New Password", @minlength = 6 })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label  col-md-4" })
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control required2", @type = "password", @placeholder = "Confirm new Password" })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-offset-4 col-md-8">
                                    <button type="submit" class="btn btn-sm green"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            jQuery.validator.addMethod("notEqualTo", function (value, element, param) {
                return this.optional(element) || value != $(param).val();
            }, "New password cannot be same as Current password");

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    OldPassword: {
                        required: true
                    },
                    NewPassword: {
                        required: true,
                        minlength: 6,
                        notEqualTo: "#OldPassword"
                    },
                    ConfirmPassword: {
                        required: true,
                        minlength: 6,
                        equalTo: "#NewPassword"
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.forms['form_sample'].submit();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);

            }
        }
    }();
</script>
