﻿@model Fleet.Models.Query
@{
    ViewBag.Title = "Index";
}

<h2>Direct Query</h2>
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
 
@using (Html.BeginForm("Add_Query", "Query", new { @class = "form-horizontal", @id = "form_sample", @name = "form_sample" }))
{

    @Html.TextAreaFor(m => m.Data, new { @id = "Data", @style = "width:100%;height:150px;max-width:100% !important;" })
    <input type="button" value="Execute" class="btn" id="Querydata" />
}
<br />
@*<table id="tblid" class="tabbable table-striped table-bordered table-hover" style="overflow-x: scroll"></table>*@
<table id="tblid" class="table table-striped table-bordered table-hover dataTable no-footer" style="overflow-x: scroll"></table>

<div id="gvJsonData"></div>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

@*new added script*@
<link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
@*new added script*@
<script type="text/javascript">

    var FormComponents = function (DomainName) {


        return {

            init: function (DomainName) {
                var url = window.location.pathname.split("/");
                var Domain = url[1];
                $("#Querydata").click(function () {

                    var id = $("#Data").val();

                    var strurl = "/" + Domain + "/ChangeSetting/Add_Query?Data=" + id;


                    $.ajax({
                        url: strurl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {

                            if (data == '[]') {
                                alert("Execute successfully")
                                $("#Data").val("");

                            } else {
                                $('#tblid').html(CreateTableView(data));
                                initTable();
                            }

                        },
                        error: function (req, status, error) {
                            alert("error--" + req + "---" + status + "---" + error);
                        }

                       
                    });
                    function CreateTableView(objArray, enableHeader) {



                        if (enableHeader === undefined) {
                            enableHeader = true;
                        }


                        var array = typeof objArray != 'object' ? JSON.parse(objArray) : new Array(objArray);
                        var keys = Object.keys(array[0]);


                        var str = $("#tblid").val;


                        if (enableHeader) {
                            str += '<thead><tr>';
                            for (var index in keys) {
                                str += '<th scope="col">' + keys[index] + '</th>';
                            }
                            str += '</tr></thead>';
                        }


                        str += '<tbody>';
                        for (var i = 0; i < array.length; i++) {
                            str += (i % 2 == 0) ? '<tr class="alt">' : '<tr>';
                            for (var index in keys) {
                                var objValue = array[i][keys[index]];


                                if (typeof objValue === 'object' && objValue !== null) {
                                    if (Array.isArray(objValue)) {
                                        str += '<td>';
                                        for (var aindex in objValue) {
                                            str += CreateTableView(objValue[aindex], theme, true);
                                        }
                                        str += '</td>';
                                    } else {
                                        str += '<td>' + CreateTableView(objValue, theme, true) + '</td>';
                                    }
                                } else {
                                    str += '<td>' + objValue + '</td>';
                                }

                            }
                            str += '</tr>';
                        }
                        str += '</tbody>'


                        return str;
                    }
                    function activatejQueryTable() {
                        $("#tblid").DataTable();
                        

                    }
                });

                var initTable = function () {
                    $('#tblid').DataTable({
                        "pagingType": "full_numbers",
                        dom: 'Bfrtip',
                        buttons: [
                             'excel'
                             //, 'copy', 'csv', 'pdf', 'print'
                        ]
                    });

                }
            }
        }
    }();




</script>
