﻿@model  FleetDataService.Models.ChangeSettingsViewModel
@{
    ViewBag.Title = "Change Application Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div class="row">
        <div class="col-md-8">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        @using (Html.BeginForm("SaveChangeSettings", "ChangeSetting", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal", @readonly = "true" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-body">
                                <div class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button>
                                    You have some form errors. Please check below.
                                </div>
                                <div class="alert alert-success display-hide">
                                    <button class="close" data-close="alert"></button>
                                    Your form validation is successful!
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">
                                                    Location
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.changeSetting.LocCode, new SelectList(Model.ListLocation, "LocCode", "Location"), "", new { @class = "select2 required form-control" })
                                                    @Html.ValidationMessageFor(model => model.changeSetting.LocCode)
                                                    @Html.HiddenFor(model => model.submitType)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">
                                                    Fin Year
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.changeSetting.FinYear, new SelectList(Model.ListYears, "FinYear", "FinYear"), "", new { @class = "select2 required form-control" })
                                                    @Html.ValidationMessageFor(model => model.changeSetting.FinYear)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">
                                                    Company
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.changeSetting.CompanyCode, new SelectList(Model.ListCompany, "CODE", "NAME"), "", new { @class = "select2 required form-control" })
                                                    @Html.ValidationMessageFor(model => model.changeSetting.CompanyCode)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-actions fluid">
                                <div class="col-md-offset-4 col-md-8">
                                    <button type="submit" id="btnSubmit" data-loading-text="Processing..." class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>*@
@Html.Partial("_ChangeSetting", Model)
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#ChangeSetting');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {

                },

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //$("#btnSubmit").hide();
                    document.forms["ChangeSetting"].submit();

                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }

        return {
            init: function (DomainName) {
                Formvalidate(DomainName);
                $('#btnSubmit').click(function () {
                    if ($("#ChangeSetting").valid()) {
                        var btn = $(this);
                        btn.button('loading');
                        App.blockUI({ boxed: true });
                        $.post($("#ChangeSetting").attr('action'), $("#ChangeSetting").serialize(), function (data, status) {
                            if (status == "success") {
                                TosterNotification("success", "Record has been saved successfully..!!", "Success");
                                window.location = DomainName + "/Home/Index";
                            }
                            else {
                                App.unblockUI();
                                TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                            }
                        });

                    } else {
                        return false;
                    }
                });
            }
        }
    }();
</script>