﻿<!DOCTYPE html>
<html lang="en">
@using System.Web
@using System.Configuration
@using Fleet
@using Fleet.Security
<head>
    @{
        string strUserNam = "";
        if (User.Identity.Name != "")
        {
            strUserNam = (((CustomIdentity)User.Identity).LocationCode);
        }
        string strLocationName = ViewBag.BaseLocationName;
        string strLocationCode = ViewBag.BaseLocationCode;
        string BaseFinYear = ViewBag.BaseFinYear;

        string Menustr = Html.SiteMenuAsUnorderedList(ViewBag.SiteLinks as List<ISiteLink>, 1).ToString();
        string Menustr2 = Html.SiteMenuAsUnorderedList(ViewBag.SiteLinks as List<ISiteLink>, 2).ToString();
        string DynamicBreadcrumbstr = Html.DynamicBreadcrumb().ToString();
        MvcHtmlString Menustr1 = MvcHtmlString.Create(Menustr);
        MvcHtmlString Menustr3 = MvcHtmlString.Create(Menustr2);
        MvcHtmlString DynamicBreadcrumbs = MvcHtmlString.Create(DynamicBreadcrumbstr);
    }
    <meta charset="utf-8" />
    <title>:: @ViewBag.Title :: Fleet</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/assets/css/style-metronic.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/assets/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/data-tables/DT_bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <!-- For Dropdown select2 -->
    <link href="~/assets/plugins/select2/select2.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/select2/select2-metronic.css" rel="stylesheet" type="text/css" />

    <!-- For Bootstrap-Switch -->
    <link href="~/assets/plugins/bootstrap-switch/css/bootstrap-switch.css" rel="stylesheet" type="text/css" />

    @*<!-- For DateRange Picker -->
        <link href=" ~ />assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/plugins/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css" />

        <!-- For DateTable -->
        <link href="~/assets/plugins/data-tables/DT_bootstrap.css" rel="stylesheet" type="text/css" />

        <!-- For wysihtml5 -->
        <link href="~/assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />

        <!-- For bootstrap-markdown -->
        <link href="~/assets/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />

        <!-- For jstree -->
        <link href="~/assets/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet" type="text/css" />
    *@
    <!-- For Date Picker -->
    <link href="~/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" />

    <!-- For Time Picker -->
    <link href="~/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />

    <!-- For Date Time Picker -->
    <link href="~/assets/plugins/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet" />

    <!-- For Toster-->
    <link href="~/assets/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />

    <!-- For Clockface -->
    <link href="~/assets/plugins/clockface/css/clockface.css" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="57x57" href="~/assets/img/fevicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/assets/img/fevicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/img/fevicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/fevicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/img/fevicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/assets/img/fevicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/assets/img/fevicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/assets/img/fevicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/fevicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/assets/img/fevicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/fevicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/assets/img/fevicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/fevicon/favicon-16x16.png">
    <link rel="manifest" href="~/assets/img/fevicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/assets/img/fevicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <style type="text/css">
        .center {
            text-align: center;
        }

        .chkactive {
            padding-top: 5px;
        }

        /*.form-bordered .control-label {
                padding-top: 9px;
            }

            .form-horizontal .form-control-static {
                padding-top: 3px;
            }

            .form-bordered .form-group > div {
                padding: 5px;
                border-left: 1px solid #efefef;
            }*/
    </style>
</head>
<body class="page-header-fixed page-full-width">
    <div class="header navbar navbar-fixed-top mega-menu">
        <div class="header-inner">
            <a class="navbar-brand" href="@Url.Content("~/Home/Index")">
                @*<h2 style="margin-top: -10px; color: #fff;">
                        <b style="margin-left: 1em;">CRM</b>
                    </h2>*@
                @*<img src="~/assets/img/logo.png" style="width: 8em; margin-top: -1.5em;" />*@
                FLEET
            </a>
            <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <img src="@Url.Content("~/assets/img/menu-toggler.png")" alt="" />
            </a>

            <div class="hor-menu hidden-sm hidden-xs">
                @Menustr3
            </div>
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img alt="" src="@Url.Content("~/assets/img/avatar1_small.jpg")" />
                        <span class="username">@User.Identity.Name.ToUpper()</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Content("~/ChangeSetting")"><i class="fa fa-cogs"></i> Change Setting</a></li>
                        <li>
                            <a href="javascript:;" id="trigger_fullscreen">
                                <i class="fa fa-arrows"></i> Full Screen
                            </a>
                        </li>
                        @*<li>
                                <a href="#">
                                    <i class="fa fa-lock"></i> Lock Screen
                                </a>
                            </li>*@

                        <li><a href="@Url.Content("~/ChangeSetting/ChangePassword")"><i class="fa fa-lock"></i> Change Password</a></li>
                        <li>
                            <a href="@Url.Action("LogOff","Account")">
                                <i class="fa fa-key"></i>&nbsp;Log off
                            </a>
                        </li>
                        @*<li>
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('logoutForm').submit()" style="margin-left: 15px;"><i class="fa fa-unlock"></i>Log off</a>
                                }
                            </li>*@
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                @Menustr1
            </div>
        </div>
        <div class="page-content-wrapper">
            <div class="page-content" style=" padding-top: 5px;">

                <!-- BEGIN PAGE HEADER-->
                <div class="row">
                    <div class="col-md-12">
                        <ul class="page-breadcrumb breadcrumb visible-phone visible-tablet" style="margin-top: 0px;">
                            <li><b>@strLocationCode</b> || <b>@BaseFinYear</b></li>
                            <li> || <b>@ViewBag.BaseCompanyCode</b></li>
                        </ul>
                        <ul class="page-breadcrumb breadcrumb hidden-phone" style="margin-top: 0px;">
                            <li><b>@strLocationCode</b> : - @strLocationName &nbsp;&nbsp; ||&nbsp;&nbsp; <b>Year</b> : - @BaseFinYear</li>
                            <li>&nbsp;&nbsp; || &nbsp;&nbsp; <b>@ViewBag.BaseCompanyCode </b>: @ViewBag.BaseCompanyName</li>
                        </ul>
                        <!-- END PAGE TITLE & BREADCRUMB-->
                    </div>
                </div>
                <!-- END PAGE HEADER-->
                @RenderSection("featured", required: false)
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-inner">
            2009-2010 &copy; Fleet
        </div>
        <div class="footer-tools">
            <span class="go-top">
                <i class="fa fa-angle-up"></i>
            </span>
        </div>
    </div>

    <script src="~/assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>

    <!-- Select2 JS -->
    <script src="~/assets/plugins/select2/select2.min.js" type="text/javascript"></script>

    <!-- Datatable JS -->
    <script src="~/assets/scripts/core/datatable.js" type="text/javascript"></script>
    <script src="~/assets/plugins/data-tables/jquery.dataTables.js" type="text/javascript"></script>
    @*<script src="~/assets/plugins/DataTables/jquery.dataTables.js"></script>*@
    @*<script src="~/assets/scripts/core/dataTables.editor.min.js"></script>*@
    @*<script src="~/assets/scripts/core/jquery.dataTables.min.js"></script>*@
    <script src="~/assets/plugins/data-tables/DT_bootstrap.js"></script>

    <!-- App JS -->
    <script src="~/assets/scripts/core/app.js" type="text/javascript"></script>

    <!-- Validation JS -->
    <script src="~/assets/plugins/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery-validation/dist/additional-methods.min.js" type="text/javascript"></script>

    <!-- Inputmask JS -->
    <script src="~/assets/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js" type="text/javascript"></script>

    <!-- Bootstrap-Switch JS -->
    <script src="~/assets/plugins/bootstrap-switch/js/bootstrap-switch.js" type="text/javascript"></script>

    <!-- Date Picker JS -->
    <script src="~/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/plugins/bootstrap-daterangepicker/moment.min.js"></script>

    <!-- Time Picker JS -->
    <script src="~/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>

    <!-- Date Time Picker JS -->
    <script src="~/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Clockface JS -->
    <script src="~/assets/plugins/clockface/js/clockface.js"></script>

    <!-- Toastr JS -->
    <script src="~/assets/plugins/bootstrap-toastr/toastr.min.js"></script>

    <!-- Bootstrap Wizard JS -->
    <script src="~/assets/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>

</body>

<script>window.history.forward(0)</script>

<script type="text/javascript">
    var DomainName = '@ViewBag.DomainName'; @*"@ConfigurationManager.AppSettings["DomainName"].ToString()";*@
</script>
<script src="~/Scripts/baseFunction.js"></script>

@RenderSection("scripts", required: false)
<!-- Mirrored from www.keenthemes.com/preview/metronic_admin/layout_sidebar_closed.html by HTTrack Website Copier/3.x [XR&CO'2013], Sat, 08 Mar 2014 05:59:09 GMT -->
</html>
