﻿<!DOCTYPE html>
<html lang="en">
@using System.Web
@using System.Configuration
@using Fleet
@using Fleet.Security
@using Fleet.Classes
@using FleetDataService.Models
<head>
    <meta charset="utf-8" />
    <title>:: @ViewBag.Title :: FLEET</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/assets/css/style-metronic.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/assets/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/data-tables/DT_bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <!-- For Dropdown select2 -->
    <link href="~/assets/plugins/select2/select2.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/select2/select2-metronic.css" rel="stylesheet" type="text/css" />

    <!-- For Bootstrap-Switch -->
    <link href="~/assets/plugins/bootstrap-switch/css/bootstrap-switch.css" rel="stylesheet" type="text/css" />

    @*<!-- For DateRange Picker -->
        <link href=" ~ />assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/plugins/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css" />

        <!-- For DateTable -->
        <link href="~/assets/plugins/data-tables/DT_bootstrap.css" rel="stylesheet" type="text/css" />

        <!-- For wysihtml5 -->
        <link href="~/assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />

        <!-- For bootstrap-markdown -->
        <link href="~/assets/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />

        <!-- For jstree -->
        <link href="~/assets/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet" type="text/css" />
    *@
    <!-- For Date Picker -->
    <link href="~/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" />

    <!-- For Time Picker -->
    <link href="~/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />

    <!-- For Date Time Picker -->
    <link href="~/assets/plugins/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet" />

    <!-- For Toster-->
    <link href="~/assets/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />

    <!-- For Clockface -->
    <link href="~/assets/plugins/clockface/css/clockface.css" rel="stylesheet" />

    <link href="~/assets/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="57x57" href="~/assets/img/fevicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/assets/img/fevicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/img/fevicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/fevicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/img/fevicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/assets/img/fevicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/assets/img/fevicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/assets/img/fevicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/fevicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/assets/img/fevicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/fevicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/assets/img/fevicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/fevicon/favicon-16x16.png">
    <link rel="manifest" href="~/assets/img/fevicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/assets/img/fevicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <style type="text/css">
        .center {
            text-align: center;
        }

        .clsAmount {
            text-align: right;
        }

        .chkactive {
            padding-top: 5px;
        }

        .form-horizontal .radio {
            padding-top: 2px;
        }

        .page-breadcrumb.breadcrumb {
            cursor: pointer;
        }
        /*.form-bordered .control-label {
                padding-top: 9px;
            }

            .form-horizontal .form-control-static {
                padding-top: 3px;
            }

            .form-bordered .form-group > div {
                padding: 5px;
                border-left: 1px solid #efefef;
            }*/
        #loading {
            position: fixed;
            top: -50%;
            left: -50%;
            width: 200%;
            height: 200%;
            background: #f1f1f1;
            z-index: 100;
            overflow: hidden;
        }

            #loading img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }


        .mask {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 99999;
            display: none;
            opacity: 0.6;
            filter: alpha(opacity=60);
            background-color: #000;
            width: 100%;
        }

            .mask img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }

        input:focus, textarea:focus,
        .form-control .select2-choice:focus {
            background-color: #d0c9c9a3 !important;
        }

        .uppercase {
            text-transform: uppercase;
        }
        .capitalize {
            text-transform: capitalize;
        }
    </style>
</head>
<body class="page-header-fixed page-full-width">
    <div id="loading">
        <img src="@Url.Content("~/assets/img/ajax-loader.gif")">
    </div>
    <div class="header navbar navbar-fixed-top mega-menu">
        <div class="header-inner">
            <a class="navbar-brand" href="#">
                FLEET
            </a>
            <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <img src="@Url.Content("~/assets/img/menu-toggler.png")" alt="" />
            </a>
            
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div class="page-container">
        
        <div class="page-content-wrapper">
            <div class="page-content" style=" padding-top: 5px;">

                <!-- BEGIN PAGE HEADER-->
             
                <!-- END PAGE HEADER-->
                @RenderSection("featured", required: false)
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-inner">
            @*2009-2010 &copy; CRM by CYGNUS softtech.*@
        </div>
        <div class="footer-tools">
            <span class="go-top">
                <i class="fa fa-angle-up"></i>
            </span>
        </div>
    </div>
    <!-- Change Setting Popup Start-->
    
    <!-- Change Setting Popup End-->
    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6v5-2uaq_wusHDktM9ILcqIrlPtnZgEk&sensor=true"> </script>*@
    <script src="~/assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>

    <!-- Select2 JS -->
    <script src="~/assets/plugins/select2/select2.min.js" type="text/javascript"></script>

    <!-- Datatable JS -->
    <script src="~/assets/scripts/core/datatable.js" type="text/javascript"></script>
    <script src="~/assets/plugins/data-tables/jquery.dataTables.js" type="text/javascript"></script>
    @*<script src="~/assets/plugins/DataTables/jquery.dataTables.js"></script>*@
    @*<script src="~/assets/scripts/core/dataTables.editor.min.js"></script>*@
    <script src="~/assets/scripts/core/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/data-tables/DT_bootstrap.js"></script>

    <!-- Datatable Download -->
    <script src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>

    <!-- App JS -->
    <script src="~/assets/scripts/core/app.js" type="text/javascript"></script>

    <!-- Validation JS -->
    <script src="~/assets/plugins/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery-validation/dist/additional-methods.min.js" type="text/javascript"></script>

    <!-- Inputmask JS -->
    <script src="~/assets/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js" type="text/javascript"></script>

    <!-- Bootstrap-Switch JS -->
    <script src="~/assets/plugins/bootstrap-switch/js/bootstrap-switch.js" type="text/javascript"></script>

    <!-- Date Picker JS -->
    <script src="~/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/plugins/bootstrap-daterangepicker/moment.min.js"></script>

    <!-- Time Picker JS -->
    <script src="~/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>

    <!-- Date Time Picker JS -->
    <script src="~/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Full Calendar JS -->
    <script src="~/assets/plugins/fullcalendar/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>

    <!-- Clockface JS -->
    <script src="~/assets/plugins/clockface/js/clockface.js"></script>

    <!-- Toastr JS -->
    <script src="~/assets/plugins/bootstrap-toastr/toastr.min.js"></script>

    <!-- Bootstrap Wizard JS -->
    <script type="text/javascript" src="~/assets/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jquery.pulsate.min.js"></script>

    <script src="~/assets/global/plugins/bootbox.js"></script>
    <script src="~/assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <!-- For Menu -->
    <script type="text/javascript" src="~/assets/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="~/assets/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="~/assets/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="~/assets/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="~/assets/jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="~/assets/jqwidgets/jqxtree.js"></script>
    <script type="text/javascript" src="~/assets/jqwidgets/jqxcheckbox.js"></script>
    <script src="~/assets/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>
    <script src="~/assets/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script>window.history.forward(0)</script>
    <script type="text/javascript">
        $(window).load(function () {
            $('#loading').fadeOut();
        });
        var DomainName = '@ViewBag.DomainName'; @*"@ConfigurationManager.AppSettings["DomainName"].ToString()";*@
    </script>
    <script src="~/Scripts/baseFunction.js?ver<%=DateTime.Now.Ticks.ToString()%"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
