﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@*<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">@ViewBag.StrError</h2>
</hgroup>*@

<div class="col-md-offset-2 col-md-8">
    <div class="alert alert-block alert-danger fade in center">
        <h2 class="alert-heading">Opps! @ViewBag.Title</h2>
        <h4>
            There is some issue with process. <br />Please check your internet connection else contact your administrator or service provider.
            <br /><br /><b> @ViewBag.StrError</b>
        </h4>
    </div>
</div>
