﻿@model  FleetDataService.Models.VW_DRIVER_FINAL_INFO
@using Fleet.Helpers;
@using FleetDataService.Models
@{

}
@using (Html.BeginCollectionItem("DRIVERList", Model.Driver_Id.ToString()))
{

   <div class="tabbable tabbable-custom boxless tabbable-reversed">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tab_0" data-toggle="tab">
                Driver Personal Information
            </a>
        </li>
        <li class="">
            <a href="#tab_1" data-toggle="tab">
                Driver Address ID Proof
            </a>
        </li>
        <li class="">
            <a href="#tab_2" data-toggle="tab">
                Fuel Register
            </a>
        </li>
        <li class="">
            <a href="#tab_3" data-toggle="tab">
                Tripsheet Related Info
            </a>
        </li>
        <li>
            <a href="#tab_4" data-toggle="tab">
                Vehicle Used Most Frequently
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_0">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-reorder"></i> Driver Personal Information
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Driver Name : </label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.Driver_Name, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Father Name :	</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.DFather_Name, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Location :</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.Driver_Location, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Contact No. : </label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.TelNo, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Permanent Address :</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.P_Address, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Current Address :</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.C_Address, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Permanent City & Pincode : </label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.P_City_Pincode, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">	Current City & Pincode :</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.C_City_Pincode, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <h3 class="form-section "> Other Information :</h3>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Manual Driver Code : </label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.Manual_Driver_Code, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">	Vehicle No. :</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.Vehno, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">License No. :</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.License_No, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Validity date :</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.Valdity_dt, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Issued By RTO :</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.Issue_By_RTO, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Guarantor name :</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.Guarantor_Name, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Active/In-active : </label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.ActiveFlag, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">	Driver Status :</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.Driver_Status, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Current Driver Balance :</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.Currentbls, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab_1">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-reorder"></i> Driver Address ID Proof
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Electricity Bill :</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.Electricity_Bill_YN, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Telephone Bill :	</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.Telephone_Bill_YN, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Bank Account Statement :</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.BankAcc_YN, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Passport :</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.Passport_YN, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Ration card :</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.Rationcard_YN, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Driver's Regsitration Form :</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.Driver_Registration_Form_YN, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="form-section "> ID Proof Details :</h3>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Passport :</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.ID_Passport_YN, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Driving License :</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.Driving_Lic_YN, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Voter's ID :</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.VoterId_YN, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">PAN Card :</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.Pan_YN, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Thumb Impression :</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.Thumb_Impression_YN, new { placeholder = " ", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab_2">
             
        </div>
        <div class="tab-pane" id="tab_3">
             
        </div>
        <div class="tab-pane" id="tab_4">
             
        </div>
    </div>
</div>
}
