﻿@model Fleet.ViewModels.WEBX_FLEET_DOCUMENT_MST
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers

<tr>
    <td>
        @Model.DOCUMENT_NO
    </td>
    <td>
        @Model.DOCUTYPE
    </td>
    <td>
        @Model.DOCUDESC
    </td>
    <td>
        @Model.STDT
    </td>
    <td>
        @Model.EXDT
    </td>
    <td>
        @Model.RENEWAUTU
    </td>
    <td>
        @Model.RENEWAL_AUTU_NAME
    </td>
    <td>
        @Model.APPLICABLE_STATE
    </td>
    <td>
        @Model.DOCU_COST
    </td>
    <td>
        @Model.Will_ExpiredInDays
    </td>
    <td>
        @Model.LOCATION
    </td>
    <td>
        <a class=" btn blue" href="@Url.Content("~//?VSlipNo=" )">View</a>
    </td>

</tr>

