﻿@model Fleet.ViewModels.VW_VEH_FUEL_FILL_HISTORY
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers

<tr>
    <td>
        @Model.VSlipNo
    </td>
    <td>
        @Model.BILLFROMDT
    </td>
    <td>
        @Model.BILLNO
    </td>
    <td>
        @Model.DIESEL_LTR
    </td>
    <td>
        @Model.Diesel_Rate
    </td>
    <td>
        @Model.EXE_AMT
    </td>
    <td>
        @Model.KM_READING
    </td>
    <td>
        @Model.Card_Cash
    </td>

</tr>

