﻿@model Fleet.ViewModels.VW_ODOMETER_HISTORY
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers

<tr>
    <td>
        @Model.Odometer_Reading_Dt
    </td>
    <td>
        @Model.Odometer_Reading
    </td>
    <td>
        @Model.Last_Km_Reading
    </td>
    <td>
        @Model.Odometer_Reason
    </td>

</tr>

