﻿@*@model Fleet.ViewModels.vw_OperationTrack
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers


@using (Html.BeginCollectionItem("OpTrack", Model.ROWNO.ToString()))
{
    <tr>
         
        <td>
            @Model.ROWNO
            
        </td>
         
    </tr>
}*@

<thead class="flip-content" style="background-color: #eaeaea">
    <tr>
        <th>SR.No.</th>
        <th>SR.No.</th>
        <th>SR.No.</th>
        <th>SR.No.</th>
        <th>SR.No.</th>
        <th>SR.No.</th>
        <th>SR.No.</th>
        
        
    </tr>
</thead>
<tbody></tbody>