﻿@model FleetDataService.Models.WEBX_FLEET_VEHICLE_ISSUE
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-md-4">
                Trip Sheet Number:
            </label>
            <div class="col-md-6">
                @Html.TextBoxFor(c => c.VSlipNo, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-md-4">Manual Number: </label>
            <div class="col-md-6">
                @Html.TextBoxFor(c => c.Manual_TripsheetNo, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-md-4">Trip Date: </label>
            <div class="col-md-6">
                @Html.TextBoxFor(c => c.VSlipDt, String.Format("{0:dd MMM yyyy}", Model.VSlipDt), new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-md-4">
                Vehicle Number:
            </label>
            <div class="col-md-6">
                @Html.TextBoxFor(c => c.VehicleNo, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-md-4">Operational Close Date:</label>
            <div class="col-md-6">
                @Html.TextBoxFor(c => c.Oper_Close_Dt_S, String.Format("{0:dd MMM yyyy}", Model.Oper_Close_Dt_S), new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-md-4">Financial Close Date: </label>
            <div class="col-md-6">
                @Html.TextBoxFor(c => c.END_DT_TM, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-md-4">
                Driver Settlement Date:
            </label>
            <div class="col-md-6">
                @Html.TextBoxFor(c => c.DriverSettleDt, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-md-4">Status:</label>
            <div class="col-md-8 margin-top-5">
                <b>
                    @Html.DisplayFor(c => c.STATUS, new { @class = "form-control" })
                </b>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="col-md-4">
            </div>
            <div class="col-md-6">
                <a class="btn blue" target="_blank" href="@Url.Content("~/ViewPrint/TripSheetView?TRIPSHEET_NO=" + @Model.VSlipNo + "&EXPTYPE=TRIPSHEET")">View</a>
            </div>
        </div>
    </div>
</div>
