﻿@model FleetDataService.Models.WEBX_FLEET_TYREMST
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers

<tr>
    <td>
        @Model.TYRE_NO
    </td>
    <td>
        @Model.TYRE_CATEGORY
    </td>
    <td>
        @Model.MFG
    </td>
    <td>
        @Model.MODEL
    </td>
    <td>
        @Model.TYRESIZE
    </td>
    <td>
        @Model.PATTERN
    </td>
    <td>
        @Model.TYRETYPE
    </td>
    <td>
        @Model.TYRE_PURDT
    </td>
    <td>
        @Model.PURCHASED_AS
    </td>
    <td>
        @Model.TYRE_PUR_KMS
    </td>
    <td>
        @Model.TYRE_COST
    </td>
    <td>
        @Model.TYRE_STATUS
    </td>
    <td>
        @Model.CATEGORY
    </td>
    <td>
        @Model.TYREPOS_CODE
    </td>
    <td>
        @Model.TYREPOS_DESC
    </td>
    <td>
        @Model.TYRE_TOTKM_RUN
    </td>
    <td>
        @Model.TOTALCOST
    </td>
    <td>
        @Model.COSTKM
    </td>
    

</tr>

