﻿@model Fleet.ViewModels.vw_VT_tripsheet
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers

<tr>
    <td>
        @Model.VSlipNo
    </td>
    <td>
        @Model.Vslipdt
    </td>
   <td>
        @Model.Manual_tripsheetno
    </td>
    <td>
        @Model.Driver_Name1
    </td>
    <td>
        @Model.Driver_Name2
    </td>
    <td>
        @Model.Tripsheet_startLocName
    </td>
    <td>
        @Model.f_issue_startKM
    </td>
    <td>
        @Model.Tripsheet_EndLocName
    </td>
    <td>
        @Model.f_closure_CloseKM
    </td>
    <td>
        @Model.TotDiesel
    </td>
    <td>
        @Model.Actual_KMPL
    </td>
    <td>
        @Model.Approved_KMPL
    </td>
    <td>
        @Model.TotExpense
    </td>
    <td>
        @Model.AmtPaidToDriver
    </td>
    <td>
        @Model.AmtPaidToDriver
    </td>
    <td>
        @Model.category
    </td>
    <td>
        @Model.Status
    </td>
</tr>

