﻿@model Fleet.ViewModels.VehicleViewModel
@using Fleet.Helpers;
@using FleetDataService.Models


<div class="tabbable tabbable-custom boxless tabbable-reversed">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tab_0" data-toggle="tab">
                Vehicle Status
            </a>
        </li>
        <li class="">
            <a href="#tab_1" data-toggle="tab">
                Vehicle Information
            </a>
        </li>
        <li class="">
            <a href="#tab_2" data-toggle="tab">
                Document Details
            </a>
        </li>
        <li class="">
            <a href="#tab_3" data-toggle="tab">
                Tripsheet Details
            </a>
        </li>
        <li>
            <a href="#tab_4" data-toggle="tab">
                Fuel Fill History
            </a>
        </li>
        <li>
            <a href="#tab_5" data-toggle="tab">
                Odometer History
            </a>
        </li>
        <li>
            <a href="#tab_6" data-toggle="tab">
                Tyre Details
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_0">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>Vehicle Status
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Vehicle Number : </label>
                                        <div class="col-md-6 mrup">
                                            @Html.DisplayFor(c => c.VehicleHDR.VEHNO, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Vehicle Status :	</label>
                                        <div class="col-md-6 mrup">
                                            @Html.DisplayFor(c => c.VehicleHDR.Vehicle_Status, new { @class = "form-control" })  @Html.DisplayFor(c => c.VehicleHDR.VSlipNo, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Total KM travelled :</label>
                                        <div class="col-md-6 mrup">
                                            @Html.DisplayFor(c => c.VehicleHDR.Current_Km_Read, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Total Fuel Filled :</label>
                                        <div class="col-md-6 mrup">
                                            @Html.DisplayFor(c => c.VehicleHDR.DieselFillLtrs, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Lifetime KMPL :	</label>
                                        <div class="col-md-6 mrup">
                                            @Html.DisplayFor(c => c.VehicleHDR.KMPL, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div><div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Total Trip Count :	</label>
                                        <div class="col-md-6 mrup">
                                            @Html.DisplayFor(c => c.VehicleHDR.Total_Trip, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab_1">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>Vehicle Information
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Vehicle Number :</label>
                                        <div class="col-md-6 mrup">
                                            @Html.DisplayFor(c => c.VehicleHDR.VEHNO, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Controlling Branch :	</label>
                                        <div class="col-md-6 mrup">
                                            @Html.DisplayFor(c => c.VehicleHDR.Conrtl_branch, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Vehicle Type :</label>
                                        <div class="col-md-6 mrup">
                                            @Html.DisplayFor(c => c.VehicleHDR.TYPE_NAME, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Made By:</label>
                                        <div class="col-md-6 mrup">
                                            @Html.DisplayFor(c => c.VehicleHDR.UPDTBY, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">GPS Enabled :	</label>
                                        <div class="col-md-6 mrup">
                                            @Html.DisplayFor(c => c.VehicleHDR.GPS_Device_Enabled, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <ul class="page-breadcrumb breadcrumb visible-tablet">
                                    <li><strong>Other Information :</strong></li>
                                </ul>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Engine No.:</label>
                                        <div class="col-md-6 mrup">
                                            @Html.DisplayFor(c => c.VehicleHDR.VEHENGINENO, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Chasis No.:	</label>
                                        <div class="col-md-6 mrup">
                                            @Html.DisplayFor(c => c.VehicleHDR.VEHCHASISNO, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Date of Commencement:</label>
                                        <div class="col-md-6 mrup">
                                            @Html.DisplayFor(c => c.VehicleHDR.VEHREGDTS, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <ul class="page-breadcrumb breadcrumb visible-tablet">
                                    <li><strong>Inner Dimension in ft :</strong></li>
                                </ul>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Length :</label>
                                        <div class="col-md-6 mrup">
                                            @Html.DisplayFor(c => c.VehicleHDR.length, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Height :	</label>
                                        <div class="col-md-6 mrup">
                                            @Html.DisplayFor(c => c.VehicleHDR.Height, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Width :</label>
                                        <div class="col-md-6 mrup">
                                            @Html.DisplayFor(c => c.VehicleHDR.width, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <ul class="page-breadcrumb breadcrumb visible-tablet">
                                    <li><strong>Payload Capacity as per RC in Ton:</strong></li>
                                </ul>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">GVW :</label>
                                        <div class="col-md-6 mrup">
                                            @Html.DisplayFor(c => c.VehicleHDR.GVW, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Unladen :	</label>
                                        <div class="col-md-6 mrup">
                                            @Html.DisplayFor(c => c.VehicleHDR.Unld_Wt, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Capacity :</label>
                                        <div class="col-md-6 mrup">
                                            @Html.DisplayFor(c => c.VehicleHDR.Capacity, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="tab_2">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Document Details
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="portlet-body">
                                <div class="form-body" id="tblThcList">

                                    <table class="table table-striped table-bordered table-hover table-full-width center">
                                        <thead class="flip-content">
                                            <tr>
                                                <th class="center">
                                                    Doc.<br /> No.
                                                </th>
                                                <th class="center">
                                                    Doc. Type
                                                </th>
                                                <th class="center">
                                                    Doc. Description
                                                </th>
                                                <th class="center">
                                                    Start Date
                                                </th>
                                                <th class="center">
                                                    Expiry Date
                                                </th>
                                                <th class="center">
                                                    Renewal Authority
                                                </th>
                                                <th class="center">
                                                    Renewal<br /> Authority Name
                                                </th>
                                                <th class="center">
                                                    Applicable State
                                                </th>
                                                <th class="center">
                                                    Doc. Cost
                                                </th>
                                                <th class="center">
                                                    Expires<br /> in days
                                                </th>
                                                <th class="center">
                                                    Fleet Centre
                                                </th>
                                                <th class="center">
                                                    Scan Doc.
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="Advice">
                                            @foreach (var item in Model.listFLEETDOCUMENT)
                                                {
                                                    Html.RenderPartial("_FleetDocumentList", item);
                                                }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="tab_3">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Tripsheet Details
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="portlet-body">
                                <div class="form-body" id="tblTripsheetDetails">

                                    <table class="table table-striped table-bordered table-hover table-full-width center" id="Sample1">
                                        <thead class="flip-content">
                                            <tr>
                                                <th class="center">
                                                    Tripsheet<br />No.
                                                </th>
                                                <th class="center">
                                                    Tripsheet<br />Date
                                                </th>
                                                <th class="center">
                                                    Manual<br />Trip No.
                                                </th>
                                                <th class="center">
                                                    Driver<br />Name 1
                                                </th>
                                                <th class="center">
                                                    Driver<br />Name 2
                                                </th>
                                                <th class="center">
                                                    Trip Start<br />Location
                                                </th>
                                                <th class="center">
                                                    Start KM<br />Run
                                                </th>
                                                <th class="center">
                                                    Trip Close<br />Location
                                                </th>
                                                <th class="center">
                                                    End KM<br />Run
                                                </th>
                                                <th class="center">
                                                    Diesel<br />filled(Ltr)
                                                </th>
                                                <th class="center">
                                                    Actual<br />KMPL
                                                </th>
                                                <th class="center">
                                                    Approved<br />KMPL
                                                </th>
                                                <th class="center">
                                                    Total<br />Cost
                                                </th>
                                                <th class="center">
                                                    Advance<br />Paid
                                                </th>
                                                <th class="center">
                                                    Balance<br />paid
                                                </th>
                                                <th class="center">
                                                    Trip<br />Category
                                                </th>
                                                <th class="center">
                                                    Trip<br />Status
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="Advice">
                                            @foreach (var item in Model.listVTrip)
                                                {
                                                    Html.RenderPartial("_VehicleTripDocumentList", item);
                                                }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="tab_4">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Fuel Fill History
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="portlet-body">
                                <div class="form-body" id="tblTripsheetDetails">
                                    <table class="table table-striped table-bordered table-hover table-full-width center">
                                        <thead class="flip-content">
                                            <tr>
                                                <th class="center">
                                                    Tripsheet<br />No.
                                                </th>
                                                <th class="center">
                                                    Date of filling
                                                </th>
                                                <th class="center">
                                                    Referece<br />Document No.
                                                </th>
                                                <th class="center">
                                                    Fuel filled<br />in Ltrs.
                                                </th>
                                                <th class="center">
                                                    Diesel Rate
                                                </th>
                                                <th class="center">
                                                    Fuel cost
                                                </th>
                                                <th class="center">
                                                    Odometer reading
                                                </th>
                                                <th class="center">
                                                    Payment method
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="Advice">
                                            @foreach (var item in Model.listFFH)
                                                {
                                                    Html.RenderPartial("_FuelFillHistoryList", item);
                                                }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="tab_5">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Fuel Fill History
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="portlet-body">
                                <div class="form-body" id="tblTripsheetDetails">
                                    <table class="table table-striped table-bordered table-hover table-full-width center">
                                        <thead class="flip-content">
                                            <tr>
                                                <th class="center">
                                                    Odometer Reading date
                                                </th>
                                                <th class="center">
                                                    Odometer reading
                                                </th>
                                                <th class="center">
                                                    Last Km Reading
                                                </th>
                                                <th class="center">
                                                    Odometer change reason
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="Advice">
                                            @foreach (var item in Model.listodometerHtr)
                                                {
                                                    Html.RenderPartial("_OdometerHistoryList", item);
                                                }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="tab_6">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Tyre Details
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="portlet-body">
                                <div class="form-body" id="tblTyreDetails">
                                    <table class="table table-striped table-bordered table-hover table-full-width center">
                                        <thead class="flip-content">
                                            <tr>
                                                <th class="center">
                                                    Tyre<br />No.
                                                </th>
                                                <th class="center">
                                                    Tyre<br />Category
                                                </th>
                                                <th class="center">
                                                    Manufacturer
                                                </th>
                                                <th class="center">
                                                    Model
                                                </th>
                                                <th class="center">
                                                    Tyre<br />Size
                                                </th>
                                                <th class="center">
                                                    Pattern
                                                </th>
                                                <th class="center">
                                                    Tyre<br />Type
                                                </th>
                                                <th class="center">
                                                    Purchase<br />Date
                                                </th>
                                                <th class="center">
                                                    Purchase<br />As
                                                </th>
                                                <th class="center">
                                                    Purchase<br />Km.
                                                </th>
                                                <th class="center">
                                                    Purchase<br />Cost
                                                </th>
                                                <th class="center">
                                                    Status
                                                </th>
                                                <th class="center">
                                                    Position<br />Category
                                                </th>
                                                <th class="center">
                                                    Position<br />Code
                                                </th>
                                                <th class="center">
                                                    Position
                                                </th>
                                                <th class="center">
                                                    Total Km.<br />Run
                                                </th>
                                                <th class="center">
                                                    Total<br />Cost
                                                </th>
                                                <th class="center">
                                                    Cost/km
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="Advice">
                                            @foreach (var item in Model.listTyreDetails)
                                                {
                                                    Html.RenderPartial("_TyreDetailsList", item);
                                                }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
