﻿@model FleetDataService.Models.CYGNUS_Vehicle_GPS_Current_Details
@using FleetDataService.Models
@using Fleet.Helpers
<tr>
    @using (Html.BeginCollectionItem("VehicleNo", Model.VehicleNo.ToString()))
    {
        <td class="center">
            @if (Model.Latitude == null)
            {
            }
            else if (Model.Longitude == null)
            {
            }
            else
            {
                <a class=" btn blue" href="@Url.Content("~/Tracking/VehicleTrackingShowOnMap?Vehno=" + @Model.VehicleNo)">View</a>
            }
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.Latitude)
            @Html.HiddenFor(m => m.Longitude)
            @Html.HiddenFor(m => m.VehicleNo)
            @Html.DisplayFor(m => m.VehicleNo)
        </td>
        <td class="center">
            @Html.DisplayFor(m => m.Latitude)
        </td>
        <td class="center">
            @Html.DisplayFor(m => m.Longitude)
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.VehicleAddress)
            @Html.DisplayFor(m => m.VehicleAddress)
        </td>
        <td class="center">
            @if (@Model.ReportingTime.ToString("dd MMM yyyy") != "01 Jan 1990" && @Model.ReportingTime.ToString("dd MMM yyyy") != "01 Jan 0001")
            {
                @Model.ReportingTime.ToString("dd MMM yyyy hh:mm:ss tt")
            }
        </td>
        <td class="center">
            @Html.DisplayFor(m => m.VehicleSpeed)
        </td>
        <td class="center">
            @Html.DisplayFor(m => m.Ignition)
        </td>
        <td class="center">
            @Html.DisplayFor(m => m.APIProviderURL)
        </td>

    }
</tr>
