﻿@model IEnumerable<FleetDataService.Models.CYGNUS_Vehicle_GPS_Current_Details>
<div class="portlet-body">
    <div id="tblData">
        <table class="table table-striped table-bordered table-hover" id="Vehicle_List" style="overflow-x: scroll">
            <thead>
                <tr>
                    <th class="center">
                        View
                    </th>
                    <th class="center">
                       Vehicle No
                    </th>
                    <th class="center">
                        Latitude
                    </th>
                    <th class="center">
                        Longitude
                    </th>
                    <th class="center">
                        Vehicle Address
                    </th>
                    <th class="center">
                        Reporting Time
                    </th>
                    <th class="center">
                        Vehicle Speed
                    </th>
                    <th class="center">
                        Ignition
                    </th>
                    <th class="center">
                        APIProviderURL
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        Html.RenderPartial("_VehicleTrackingDetails", item);
                    }
                }
            </tbody>
        </table>
    </div>
</div>
