﻿@model Fleet.ViewModels.vw_VoucherTracker

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-md-4">
                Voucher Number:
            </label>
            <div class="col-md-6">
                @Html.TextBoxFor(c => c.Voucherno, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-md-4">Trans Type: </label>
            <div class="col-md-6">
                @Html.TextBoxFor(c => c.Transtype, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-md-4">Voucher Date: </label>
            <div class="col-md-6">
                @Html.TextBoxFor(c => c.VoucherDt, String.Format("{0:dd MMM yyyy}", Model.VoucherDt), new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-md-4">
                Entry Date:
            </label>
            <div class="col-md-6">
                @Html.TextBoxFor(c => c.entrydt, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-md-4">Voucher Type: </label>
            <div class="col-md-6">
                @Html.TextBoxFor(c => c.Vouchertype, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-md-4">Document Number: </label>
            <div class="col-md-6">
                @Html.TextBoxFor(c => c.Docno, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-md-4">
                Voucher Cancelled:
            </label>
            <div class="col-md-6">
                @Html.TextBoxFor(c => c.Voucher_Cancel, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-md-4">Company: </label>
            <div class="col-md-6">
                @Html.DisplayFor(c => c.COMPANY, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
    </div>
</div>

@if (Model.Voucher_Cancel == "YES")
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Cancellation Details
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Cancelled By:
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.cancelby, new { @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Cancellation Location: </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.CancelLocation, new { @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Cancellation Date and Time: </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.cancel_date, new { @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Cancelled Reason: </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.CancelReason, new { @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    function OrderView() {
        var typ = $('#Transtype').val();
        var hdnGenVoucher = $('#Voucherno').val();
        var HdnVoucherType = $('#Vouchertype').val();
        var VoucherNo = hdnGenVoucher;
        var ReportURL = '@ViewBag.ReportURL';

        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"

        if (HdnVoucherType == "SPECIAL COST VOUCHER" || HdnVoucherType == "MANUAL CREDIT VOUCHER" || HdnVoucherType == "MANUAL DEBIT VOUCHER" || HdnVoucherType == "CROSS LOCATION VOUCHER" || HdnVoucherType == "MANUAL JOURNAL VOUCHER" || HdnVoucherType == "MANUAL CONTRA VOUCHER") {

            if (typ == "JOURNAL" || typ == "Journal") {

                var strPopupURL = ReportURL + DomainName + "/ViewPrint/VoucherViewPrint?VoucherNo=" + hdnGenVoucher + "&Type=3";
                winNew = window.open(strPopupURL, "_blank", strWinFeature)
                return false;
                //window.open("http://192.52.243.165/TMSS/GUI/Finance/ViewPrint/Voucher Register/Print/JournalVoucherView.aspx?voucherno='" + hdnGenVoucher + "'&printyn=N");
            }
            else if (typ == "CASH PAYMENT" || typ == "BANK PAYMENT" || typ == "Cash Payment" || typ == "Bank Payment") {
                if (HdnVoucherType == "SPECIAL COST VOUCHER") {
                    var strPopupURL = ReportURL + DomainName + "/ViewPrint/VoucherViewPrint?VoucherNo=" + VoucherNo + "&Type=5";
                    winNew = window.open(strPopupURL, "_blank", strWinFeature)
                    return false;
                    //window.open("http://192.52.243.165/TMSS/GUI/Finance/ViewPrint/Voucher Register/Print/SpecialCostVoucherView.aspx?voucherno='" + hdnGenVoucher + "'&printyn=N");
                }
                else {
                    var strPopupURL = ReportURL + DomainName + "/ViewPrint/VoucherViewPrint?VoucherNo=" + VoucherNo + "&Type=2";
                    winNew = window.open(strPopupURL, "_blank", strWinFeature)
                    return false;
                    // window.open("http://192.52.243.165/TMSS/GUI/Finance/ViewPrint/Voucher Register/Print/DebitVoucherView.aspx?voucherno='" + hdnGenVoucher + "'&printyn=N");
                }
            }
            else if (typ == "CASH RECEIPT" || typ == "BANK RECEIPT" || typ == "Cash Receipt" || typ == "Bank Receipt") {
                if (HdnVoucherType == "SPECIAL COST VOUCHER") {
                    var strPopupURL = ReportURL + DomainName + "/ViewPrint/VoucherViewPrint?VoucherNo=" + VoucherNo + "&Type=5";
                    winNew = window.open(strPopupURL, "_blank", strWinFeature)
                    return false;
                    //window.open("http://192.52.243.165/TMSS/GUI/Finance/ViewPrint/Voucher Register/Print/SpecialCostVoucherView.aspx?voucherno='" + hdnGenVoucher + "'&printyn=N");
                }
                else {
                    var strPopupURL = ReportURL + DomainName + "/ViewPrint/VoucherViewPrint?VoucherNo=" + VoucherNo + "&Type=2";
                    winNew = window.open(strPopupURL, "_blank", strWinFeature)
                    return false;
                    //window.open("Print/CreditVoucherView.aspx?voucherno=" + hdnGenVoucher + "&printyn=N", "es", "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=650,height=290,status=no,left=60,top=125");
                }
            }
            else if (typ == "CONTRA" || typ == "Contra") {
                var strPopupURL = ReportURL + DomainName + "/ViewPrint/VoucherViewPrint?VoucherNo=" + VoucherNo + "&Type=1";
                winNew = window.open(strPopupURL, "_blank", strWinFeature)
                return false;
                //window.open("http://192.52.243.165/TMSS/GUI/Finance/ViewPrint/Voucher Register/Print/ContraVoucherView.aspx?voucherno='" + hdnGenVoucher + "'&printyn=N");
            }
        }
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;
    }


</script>
