﻿@{
    ViewBag.Title = "Debtors Report View";
    //Layout = null;
}

@using System.Configuration
@using MvcReportViewer;
@model Fleet.ViewModels.DebtorsModel
@{
   
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("StartDate", Model.FromDate.ToString("dd MMM yyyy")),
         new KeyValuePair<string, object>("EndDate", Model.ToDate.ToString("dd MMM yyyy")),
        new KeyValuePair<string, object>("BillStatus", Model.BillStatus),
        new KeyValuePair<string, object>("AsOnDate", Model.ASDate),
        new KeyValuePair<string, object>("PendinginOS", Model.OSBill)

    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">

    @Html.MvcReportViewer(ReportPathPrefix + "/DebtorsReport", parameters, new { Height = 600, Width = "100%", style = "border: none" })

    <div class="span3"></div>
</div>




