﻿@model Fleet.ViewModels.DebtorsModel
@{
    ViewBag.Title = "DebtorsReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var ListStatus = new List<SelectListItem>();
    ListStatus.Add(new SelectListItem { Text = "All", Value = "All" });
    ListStatus.Add(new SelectListItem { Text = "Bill Generated", Value = "Bill Generated" });
    ListStatus.Add(new SelectListItem { Text = "Bill Collected", Value = "Bill Collected" });
    ListStatus.Add(new SelectListItem { Text = "Bill Submitted", Value = "Bill Submitted" });
    ListStatus.Add(new SelectListItem { Text = "Bill Cancelled", Value = "BILL CANCELLED" });
    //ListStatus.Add(new SelectListItem { Text = "Bill Pending ", Value = "Bill Pending " });
}

@using (Html.BeginForm("DebtorsReportView", "Tracking", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-8">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>Select Debtors Report Criteria
                    </div>
                </div>
                <div class="portlet-body" id="divCrieteria">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Date Range:
                                @Html.HiddenFor(c => c.FromDate)
                                @Html.HiddenFor(c => c.ToDate)
                            </label>
                            <div class="col-md-6">
                                <div id="reportrange" class="btn default col-md-12">
                                    <i class="fa fa-calendar"></i>
                                    &nbsp;
                                    <span></span>
                                    <b class="fa fa-angle-down"></b>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Bill Status:
                            </label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.BillStatus, new SelectList(ListStatus, "Value", "Text"), new { @class = "select2 form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                O/S Bill:
                            </label>
                            <div class="col-md-6">
                                @Html.CheckBoxFor(model => model.IsOSBill, new { @class = "chkCheck" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                As On Date:
                            </label>
                            <div class="input-group input-small  date date-picker col-md-6">
                                @Html.TextBox("ASDate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(DateTime.Now).ToString("dd MMM yyyy")), new { @class = " form-control form_meridian_datetime", @readonly = "true", @style = "width:150px; margin-left: 15px;" })
                                <span class="input-group-btn">
                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>

                        
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-12">
                                    <button type="submit" id="btnSubmit" class="btn blue"><i class="fa fa-search"></i>&nbsp; Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }
            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                //maxDate: '12/31/2014',
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#FromDate').val(start.format('MMMM D, YYYY'));
                     $('#ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ToDate').val(moment().format('MMMM D, YYYY'));
        }

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.forms["form_sample"].submit()
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);
                handleDateRangePickers();
                $('.chkCheck').val(false);
                $('.date-picker').datepicker({
                    isRTL: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    todayBtn: true

                });

                $('.chkCheck').change(function () {
                    var checked = $(this).is(":checked");
                    if (checked == true) {
                        $('.chkCheck').val(true);
                    }
                    else {
                        $('.chkCheck').val(false);
                    }
                });


                $('#btnSubmit').click(function () {
                    if (!$('#form_sample').valid()) {
                        return false;
                    }
                    App.blockUI({ boxed: true });
                    $('#form_sample').submit();
                });
            }
        }
    }();
</script>
