﻿@{
    ViewBag.Title = "DKTTrackView";
    Layout = null;
}
@using System.Configuration
@model Fleet.ViewModels.vw_OperationTrack
@using MvcReportViewer;

@{
    var parameters = new List<KeyValuePair<string, object>>
    {

        new KeyValuePair<string, object>("dockno",Model.DOCKNO),
        new KeyValuePair<string, object>("docksf",Model.doc_no),
        //new KeyValuePair<string, object>("ID",Model.DockType),

    };

    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();

}

<div id="divPrint">

    @if (Model.DockType == "1")
    {
        @Html.MvcReportViewer(ReportPathPrefix + "/DKT_Summary_TAB", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    }
    @if (Model.DockType == "2")
    {
        @Html.MvcReportViewer(ReportPathPrefix + "/TimeTracking", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    }
    @if (Model.DockType == "3")
    {
        @Html.MvcReportViewer(ReportPathPrefix + "/OPN_LIFE_TAB_NewPortal", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    }
    @if (Model.DockType == "4")
    {
        @Html.MvcReportViewer(ReportPathPrefix + "/Fin_life_cycle", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    }
    @if (Model.DockType == "5")
    {
        @Html.MvcReportViewer(ReportPathPrefix + "/POD_PFM", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    }
    @if (Model.DockType == "6")
    {
        @Html.MvcReportViewer(ReportPathPrefix + "/Movement_TAB", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    }
     @if (Model.DockType == "7")
    {
        @Html.MvcReportViewer(ReportPathPrefix + "/Profit_loss_TAB", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    }

    <div class="span3"></div>
</div>
