﻿@model Fleet.ViewModels.LoadingSheetFilterViewModel
@using Fleet.Models
@using FleetDataService.Models
@using Fleet.Classes;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.OperationService OS = new FleetDataService.OperationService();

}
@using (Html.BeginForm("DriverTracker", "Tracking", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Driver Tracker Report
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-9">
                                    <label class="control-label col-md-2">Enter Driver Name :</label>
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(c => c.Driver, new { placeholder = "", @class = "form-control blue-stripe required" })
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-sm green" id="Submit"> <i class="btnSubmit fa fa-search"></i> Show Driver Data</button>
                                    </div>
                                    <div class="col-md-3">
                                        @*<input type="button" id="Submit" value="View" class="btn blue" />*@
                                        <a href="javascript:ViewPrint()"><b><i class="fa fa-print"></i>&nbsp;View</b></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" " id="divlist">
                <div class="col-md-12">
                    <div class="portlet-body">
                        <div class="form-body" id="demo7">
                            @foreach (var item in Model.DRIVERList)
                            {
                                Html.RenderPartial("_DriverTrackerList", item);
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    function ViewPrint() {
        var ReportURL = '@ViewBag.ReportURL';
        var DriverId = $("#Driver").val();
        
        if (DriverId != "") {
            var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
            var strPopupURL = ReportURL + DomainName + "/ViewPrint/DriverTrackerView?DriverId=" + DriverId ;
            winNew = window.open(strPopupURL, "_blank", strWinFeature)
        }
        return false;
    }
    var FormComponents = function (DomainName) {

        //var Events = function (DomainName) {
        //    $('#Submit').click(function () {
        //        App.blockUI({ boxed: true });
        //        $.ajax({
        //            url: DomainName + '/Tracking/DRIVERList',
        //            type: 'POST',
        //            data: $('#form_sample').serialize(),
        //            success: function (html) {
        //                if (html != '') {
        //                    $('#Submit').hide();
        //                    $('#demo7').append(html)
        //                    $('#divList').show(1000);
        //                }
        //                App.unblockUI();
        //                $('#divList').show(1000);

        //            },
        //            error: function (req, status, error) {
        //                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
        //                App.unblockUI();
        //            }
        //        });
        //    });
        //}

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.forms["form_sample"].submit()
                }
            });
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                //Events(DomainName);
                Formvalidate(DomainName);
                JsonDDL('Driver', DomainName + '/Tracking/GetDriver_NameJson', false);



            }
        }
    }();


</script>

