﻿@{
    ViewBag.Title = "JobSheetTrackerView";
    Layout = null;
}

@using System.Configuration
@using MvcReportViewer;
@{
    var parameters = new List<KeyValuePair<string, object>>
    {

        new KeyValuePair<string, object>("JobOrderNo", @ViewBag.VSlipNo),

    };

    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();

}

<div id="divPrint">

    @Html.MvcReportViewer(ReportPathPrefix + "/JobSheetTracker_NewPortal", parameters, new { Height = 600, Width = "100%", style = "border: none" })

    <div class="span3"></div>
</div>
