﻿@model Fleet.ViewModels.vw_OperationTrack
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    ViewBag.Title = "OperationTrackList";
    Layout = "~/Views/Shared/_LayoutTracking.cshtml";
    var type = ViewBag.DockType;
    //if (type == "DKT")
    //{
    //    type = ViewBag.DKTCalledas;
    //}
}
<div class="row" id="divList">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@type Tracking List
                </div>
                <div class="caption pull-right">
                    <a class="btn default btn-xs" href="@Url.Content("~/Tracking/OperationTrackCriteria")">
                        <i class="fa fa-arrow-left"> </i>&nbsp;
                        Back To Criteria
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    @if (type == "DKT")
                    {
                        <table class="table table-striped table-bordered table-hover" id="sample_2">
                            <thead class="flip-content">
                                <tr>

                                    <th>SR.<br />No.</th>
                                    <th>CNote No.</th>
                                    <th>Booking</th>
                                    <th>EDD-ADD</th>
                                    <th>Origin<br />Destination</th>
                                    <th>Curr.Loc.<br />Next Loc</th>
                                    <th>From-To</th>
                                    <th>Paybas|Mode|Type</th>
                                    <th>Cust<br />Ref.No.</th>
                                    <th>AWBNO</th>
                                    <th>Consignor</th>
                                    <th>Consignee</th>
                                </tr>

                            </thead>
                            <tbody></tbody>
                        </table>
                    }
                    @if (type == "THC")
                    {
                        <table class="table table-striped table-bordered table-hover" id="sample_21">
                            <thead class="flip-content">
                                <tr>
                                    <th>View</th>
                                    <th>SR.NO.</th>
                                    <th>THC No.</th>
                                    <th>Date</th>
                                    <th>Manual No.</th>
                                    <th>Location</th>
                                    <th>Vehicle No.</th>
                                    <th>Last Location</th>
                                    <th>Departure Date & Time</th>
                                    <th>Status </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    }
                    @if (type == "LS")
                    {
                        <table class="table table-striped table-bordered table-hover" id="sample_21">
                            <thead class="flip-content">
                                <tr>
                                    <th>View</th>
                                    <th>SR.No.</th>
                                    <th>LS No.</th>
                                    <th>Manual LS No.</th>
                                    <th>LS Date</th>
                                    <th>Origin</th>
                                    <th>Destination</th>
                                    <th>Total Dockets</th>
                                    <th>Cancellation Status</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    }
                    @if (type == "MF")
                    {
                        <table class="table table-striped table-bordered table-hover" id="sample_21">
                            <thead class="flip-content">
                                <tr>
                                    <th>View</th>
                                    <th>SR.No.</th>
                                    <th>MF No.</th>
                                    <th>Manual FM No.</th>
                                    <th>MF Date</th>
                                    <th>Origin</th>
                                    <th>Destination</th>
                                    <th>THCNO</th>
                                    <th>Total Dockets</th>
                                    <th>Cancelled</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    }
                    @if (type == "PRS")
                    {
                        <table class="table table-striped table-bordered table-hover" id="sample_21">
                            <thead class="flip-content">
                                <tr>
                                    <th>View</th>
                                    <th>SR.No</th>
                                    <th>PRS No</th>
                                    <th>Manual PRS No</th>
                                    <th>PRS Date</th>
                                    <th>Vehicle No</th>
                                    <th>Total Dockets</th>
                                    <th>THCNO</th>
                                    <th>Cancelled</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    }
                    @if (type == "DRS")
                    {
                        <table class="table table-striped table-bordered table-hover" id="sample_21">
                            <thead class="flip-content">
                                <tr>
                                    <th>View</th>
                                    <th>SR.No</th>
                                    <th>DRS No</th>
                                    <th>Manual DRS No</th>
                                    <th>Location</th>
                                    <th>DRS Date </th>
                                    <th>Vehicle No</th>
                                    <th>Total Dockets</th>
                                    <th>Cancelled</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    }
                    @if (type == "PFM")
                    {
                        <table class="table table-striped table-bordered table-hover" id="sample_21">
                            <thead class="flip-content">
                                <tr>
                                    <th>View</th>
                                    <th>SR.No</th>
                                    <th>PFM No</th>
                                    <th>Manual PFM No</th>
                                    <th>PFM Date </th>
                                    <th>Origin</th>
                                    <th>Destination</th>
                                    <th>Total Dockets</th>
                                    <th>Acknowledged</th>
                                    <th>Acknowledged Date</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function TripTrackDKT(CustRefNo, ID) {
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        var strPopupURL = ReportURL + DomainName + "/Tracking/DKTTrackView?dockno=" + CustRefNo + "&docksf=.&ID=" + ID;
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;
    }

    function TripAllView(ID, PType) {
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"

        if (PType == "LS") {
            // var strPopupURL = ReportURL + DomainName + "/Tracking/TripAllView?LsNO=" + ID + "&VPType=" + PType;
            var strPopupURL = ReportURL + DomainName + "/ViewPrint/ChallanViewPrint?Type=MF&ChallanNo=" + ID;
        }
        if (PType == "MF") {
            var strPopupURL = ReportURL + DomainName + "/Tracking/TripAllView?MFNo=" + ID + "&VPType=" + PType;
        }
        if (PType == "THC") {
            var strPopupURL = ReportURL + DomainName + "/Tracking/TripAllView?THCNo=" + ID + "&VPType=" + PType;
        }
        if (PType == "PRS") {
            var strPopupURL = ReportURL + DomainName + "/Tracking/TripAllView?PRSNo=" + ID + "&VPType=" + PType;
        }
        if (PType == "DRS") {
            var strPopupURL = ReportURL + DomainName + "/Tracking/TripAllView?DRSNo=" + ID + "&VPType=" + PType;
        }
        if (PType == "PFM") {
            var strPopupURL = ReportURL + DomainName + "/Tracking/TripAllView?strPFMNo=" + ID + " ,'1','0'";
        }

        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;
    }

    var FormComponents = function (DomainName) {
        var handleProducts1 = function (DomainName) {
            // App.blockUI({ boxed: true });
            function fnFormatDetails(Status, CustRefNo, Vehno) {
                // var aData = oTable.fnGetData(nTr);
                var sOut = '<table>';
                sOut += '<tr>';
                sOut += '<td><b>Status:-</b></td><td style="color:blue;">' + Status + '</td><td> </td>';
                // sOut += '<td><a target="_blank"  href=" http://192.52.243.165//TMSS/GUI/Operation/DocketEntry/DocketPrint/DocketView_Xls.aspx?dockno=' + CustRefNo + '&docksf=." class="btn  blue">View</a> </td>';

                sOut += '<td><a target="_blank" href="' + DomainName + '/ViewPrint/DocketViewPrint?Type=2&DocketNo=' + CustRefNo + '" class="btn  blue" id="ReportFrame">Print</a></td>';
                sOut += '<td><a target="_blank" href="' + DomainName + '/ViewPrint/GC_XLSGeneration?Dockno=' + CustRefNo + '&Docksf=." class="btn  blue" id="ReportFrame">View</a></td>';

                //sOut += '<td><a target="_blank" href="http://192.52.243.165//TMSS/GUI/Operation/DocketEntry/DocketPrint/Docket_Dotmatrix_Print/Docket_Print_Dotmatrix_Webx.aspx?DockNo=' + CustRefNo + '" class="btn  blue">Docket Print </a> </td>';
                sOut += '<td>';
                sOut += '<div class="btn-group">  <a class="btn blue" href="#" data-toggle="dropdown">' +
                       '<i class="icon-user"></i>Track<i class="icon-angle-down"></i></a>';
                /* '<ul class="dropdown-menu bottom-down">' +
                 '<li><a target="_blank" href="' + DomainName + '/ViewPrint/Tracking?Type=1&DocketNo=' + CustRefNo + '&DockSf=." class="btn  blue" id="ReportFrame">View</a>Summary</li>' +
                 '<li><a target="_blank" href="' + DomainName + '/ViewPrint/Tracking?Type=2&DocketNo=' + CustRefNo + '&DockSf=." class="btn  blue" id="ReportFrame">Time tracking</li>' +
                 '<li><a target="_blank" href="' + DomainName + '/ViewPrint/Tracking?Type=6&DocketNo=' + CustRefNo + '&DockSf=." class="btn  blue" id="ReportFrame">Movement</li>' +
                 '<li><a target="_blank" href="' + DomainName + '/ViewPrint/Tracking?Type=5&DocketNo=' + CustRefNo + '&DockSf=." class="btn  blue" id="ReportFrame">POD/PFM</li>' +
                 '<li><a target="_blank" href="' + DomainName + '/ViewPrint/Tracking?Type=3&DocketNo=' + CustRefNo + '&DockSf=." class="btn  blue" id="ReportFrame">Operation Life Cycle</li>' +
                 '<li><a target="_blank" href="' + DomainName + '/ViewPrint/Tracking?Type=4&DocketNo=' + CustRefNo + '&DockSf=." class="btn  blue" id="ReportFrame">Finance Life Cycle</li>' +
                 '<li><a target="_blank" href="' + DomainName + '/ViewPrint/Tracking?Type=7&DocketNo=' + CustRefNo + '&DockSf=." class="btn  blue" id="ReportFrame">Profit/Loss</li>' +
                 '</ul>';*/
                sOut += '<ul class="dropdown-menu bottom-down" style="width: 700px !important; margin-top: -60px;">';
                sOut += '<li style="float: right; border: 1px solid black;"><a target="_blank" href="' + DomainName + '/ViewPrint/Tracking?Type=1&DocketNo=' + CustRefNo + '&DockSf=." id="ReportFrame">View Summary</a></li>';
                sOut += '<li style="float: right; border: 1px solid black;"><a target="_blank" href="' + DomainName + '/ViewPrint/Tracking?Type=2&DocketNo=' + CustRefNo + '&DockSf=." id="ReportFrame">Time tracking</a></li>';
                sOut += '<li style="float: right; border: 1px solid black;"><a target="_blank" href="' + DomainName + '/ViewPrint/Tracking?Type=6&DocketNo=' + CustRefNo + '&DockSf=." id="ReportFrame">Movement</a></li>';
                sOut += '<li style="float: right; border: 1px solid black;"><a target="_blank" href="' + DomainName + '/ViewPrint/Tracking?Type=5&DocketNo=' + CustRefNo + '&DockSf=." id="ReportFrame">POD/PFM</li>';
                sOut += '<li style="float: right; border: 1px solid black;"><a target="_blank" href="' + DomainName + '/ViewPrint/Tracking?Type=3&DocketNo=' + CustRefNo + '&DockSf=." id="ReportFrame">Operation Life Cycle</a></li>';
                sOut += '<li style="float: right; border: 1px solid black;"><a target="_blank" href="' + DomainName + '/ViewPrint/Tracking?Type=4&DocketNo=' + CustRefNo + '&DockSf=." id="ReportFrame">Finance Life Cycle</a></li>';
                sOut += '<li style="float: right; border: 1px solid black;"><a target="_blank" href="' + DomainName + '/ViewPrint/Tracking?Type=7&DocketNo=' + CustRefNo + '&DockSf=." id="ReportFrame">Profit/Loss</a></li>';
                sOut += '<li style="float: right; border: 1px solid black;"><a target="_blank" href="' + DomainName + '/Tracking/VehicleTrackingShowOnMap?Vehno=' + Vehno + '" id="ReportFrame">On Map</a></li>';
                sOut += '</ul>';
                sOut += '</div>';
                sOut += '</td>';
                //sOut += '<td><div class="btn-group">';
                //sOut += '<button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">Track <i class="fa fa-angle-down"></i></button>';
                //sOut += '<ul class="dropdown-menu" role="menu" style="width: 700px !important; margin-top: -60px;">';
                //sOut += '<li><a target="_blank" href="' + DomainName + '/ViewPrint/Tracking?Type=1&DocketNo=' + CustRefNo + '&DockSf=." id="ReportFrame">View Summary</a></li>';
                //sOut += '<li><a target="_blank" href="' + DomainName + '/ViewPrint/Tracking?Type=2&DocketNo=' + CustRefNo + '&DockSf=." id="ReportFrame">Time tracking</a></li>';
                //sOut += '<li><a target="_blank" href="' + DomainName + '/ViewPrint/Tracking?Type=6&DocketNo=' + CustRefNo + '&DockSf=." id="ReportFrame">Movement</a></li>';
                //sOut += '<li><a target="_blank" href="' + DomainName + '/ViewPrint/Tracking?Type=5&DocketNo=' + CustRefNo + '&DockSf=." id="ReportFrame">POD/PFM</li>';
                //sOut += '<li><a target="_blank" href="' + DomainName + '/ViewPrint/Tracking?Type=3&DocketNo=' + CustRefNo + '&DockSf=." id="ReportFrame">Operation Life Cycle</a></li>';
                //sOut += '<li><a target="_blank" href="' + DomainName + '/ViewPrint/Tracking?Type=4&DocketNo=' + CustRefNo + '&DockSf=." id="ReportFrame">Finance Life Cycle</a></li>';
                //sOut += '<li><a target="_blank" href="' + DomainName + '/ViewPrint/Tracking?Type=7&DocketNo=' + CustRefNo + '&DockSf=." id="ReportFrame">Profit/Loss</a></li>';
                //sOut += '</ul>';
                //sOut += '</div>';
                //sOut += '</td>';
                sOut += '</tr>';
                sOut += '</table>';

                return sOut;
            }

            /*
             * Insert a 'details' column to the table
             */
            var nCloneTh = document.createElement('th');
            var nCloneTd = document.createElement('td');
            nCloneTd.innerHTML = '<span class="row-details row-details-close"></span>';

            $('#sample_2 thead tr').each(function () {
                this.insertBefore(nCloneTh, this.childNodes[0]);
            });

            $('#sample_2 tbody tr').each(function () {
                this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[0]);
            });

            var oTable = $('#sample_2').dataTable({
                "aLengthMenu": [
                         [5, 10, 20, 50, 100, 150],
                         [5, 10, 20, 50, 100, 150] // change per page values here
                ],
                "iDisplayLength": 5, // default record count per page
                "bServerSide": true, // server side processing
                //   "sAjaxSource": "@Url.Action("AjaxHandler")", // ajax source
                "sAjaxSource": "@Url.Action("AjaxHandler", "Tracking", new { TotaleRecords = @Model.TotalRecords })",
                "oLanguage": {
                    "sProcessing": "<img src='@Url.Content("~/assets/img/loading-spinner-grey.gif")'/><span>&nbsp;&nbsp;Loading...</span>"
                },
                "aoColumnDefs": [
          {
              "aTargets": [0],
              "mRender": function (data, type, row) {
                  //alert(data + "   " + type + "   " + row[7])
                  //return "<a target='_blank'  class='btn btn-xs blue'  href='" + DomainName + "/ProjectManager/Edit?id=" + data+ "'>Edit&nbsp;<i class='fa fa-edit'></i></a>";
                  //return "<a target='_blank' href='" + DomainName + "/ProjectManager/Edit?id=" + row[7] + "'>" + row[1] +"</a>";
                  return "<span class='row-details row-details-open'></span><span class='clsStatus' style='display:none;'>" + row[13] + " </span> " +
                  "<span class='clsCustRefNo' style='display:none;'>" + row[9] + " </span>" +
                  "<span class='clsVehno' style='display:none;'>" + row[14] + " </span>";
              }
          },
                ],

                "aaSorting": [[0, "asc"]] // set first column as a default sort by asc
            });

            jQuery('#sample_2_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
            jQuery('#sample_2_wrapper .dataTables_length select').addClass("form-control input-small"); // modify table per page dropdown
            jQuery('#sample_2_wrapper .dataTables_length select').select2(); // initialize select2 dropdown

            $('#sample_2_wrapper .dataTables_length select').live("change", function () {
                setTimeout(function () {
                    $("#sample_2 tbody tr").each(function () {
                        // $(this).find('td:eq(0)').addClass("black");
                        //alert($(this).html());
                        var nTr = $(this).html();
                        // alert(nTr);
                        // $(this).find('td .row-details').addClass("black");

                        $(this).find('td .row-details').click();
                        $(this).find('td .row-details').addClass("row-details-open").removeClass("row-details-close");
                        //alert($(this).find('td .clsStatus').html());

                        //oTable.fnOpen(nTr, fnFormatDetails( $(this).find('td .clsStatus').html()), 'details');

                    });

                }, 3000);

            });

            $('#sample_2').on('click', ' tbody td .row-details', function () {
                var nTr = $(this).parents('tr')[0];
                // alert($(nTr).html());
                if (oTable.fnIsOpen(nTr)) {
                    /* This row is already open - close it */
                    $(this).addClass("row-details-close").removeClass("row-details-open");
                    oTable.fnClose(nTr);
                }
                else {
                    /* Open this row */
                    $(this).addClass("row-details-open").removeClass("row-details-close");
                    // oTable.fnOpen(nTr, fnFormatDetails(oTable, nTr), 'details');

                    oTable.fnOpen(nTr, fnFormatDetails($(nTr).find('td .clsStatus').html(), $(nTr).find('td .clsCustRefNo').html(), $(nTr).find('td .clsVehno').html()), 'details');
                }
            });


        }

        var handleProducts = function (DomainName) {

            var grid = new Datatable();
            //$('#sample_2').dataTable({
            //    "bDestroy": true
            //}).fnDestroy();
            var abc = "";
            grid.init({
                src: $("#sample_21"),
                onSuccess: function (grid) {
                    // execute some code after table records loaded
                },
                onError: function (grid) {
                    // execute some code on network or other general error
                },
                dataTable: {  // here you can define a typical datatable settings from http://datatables.net/usage/options
                    "aLengthMenu": [
                        [5, 10, 20, 50, 100, 150],
                        [5, 10, 20, 50, 100, 150] // change per page values here
                    ],
                    "iDisplayLength": 20, // default record count per page
                    "bServerSide": true, // server side processing
                    //   "sAjaxSource": "@Url.Action("AjaxHandler")", // ajax source
                    "sAjaxSource": "@Url.Action("AjaxHandler", "Tracking", new { TotaleRecords = @Model.TotalRecords })",
                    "oLanguage": {
                        "sProcessing": "<img src='@Url.Content("~/assets/img/loading-spinner-grey.gif")'/><span>&nbsp;&nbsp;Loading...</span>"
                        @*'<div class="loading-message loading-message-boxed"><img style="" src="@Url.Content("~/assets/img/loading-spinner-grey.gif")" align=""/><span>&nbsp;&nbsp;LOADING PLEASE WAIT...</span></div>'*@
                    },
                    //"fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                    //    alert(JSON.stringify.aoData);
                    //},
                    "aoColumnDefs": [
                    {
                        "aTargets": [0],
                        "mRender": function (data, type, row) {

                            if ('@ViewBag.DockType' == 'PFM') {
                                //return '<a target="_blank" href="~/ViewPrint/Tracking?Type=5&DocketNo="' + row[0] + '"&DockSf=.">View</a>';
                                return '<a target="_blank" href="' + DomainName + '/ViewPrint/Tracking?Type=8&DocketNo=' + row[0] + '&DockSf=.">View</a>';
                            }
                            else {
                                return '<a target="_blank" href="javascript: TripAllView(\'' + row[0] + '\',\'@ViewBag.DockType\')">View</a>';
                            }

                            @*if ('@ViewBag.DockType' == "PFM") {
                                return "<a target='_blank' href='http://192.52.243.165//TMSS/GUI/Operations/PFM/pfm_print.aspx?strPFMNo=" + row[0] + ",1,0'>View</a>";
                            } else {*@
                            //return '<a target="_blank" href="javascript: TripAllView(\'' + row[0] + '\',\'@ViewBag.DockType\')">View</a>';
                            //}

                        }
                    },
                    ],

                    "aaSorting": [[0, "asc"]] // set first column as a default sort by asc
                }
            });

            // handle filter submit button click
            grid.getTableWrapper().on('click', '.table-group-action-submit', function (e) {
                e.preventDefault();
                var action = $(".table-group-action-input", grid.getTableWrapper());
                if (action.val() != "" && grid.getSelectedRowsCount() > 0) {
                    grid.addAjaxParam("sAction", "group_action");
                    grid.addAjaxParam("sGroupActionName", action.val());
                    var records = grid.getSelectedRows();
                    for (var i in records) {
                        grid.addAjaxParam(records[i]["name"], records[i]["value"]);
                    }
                    grid.getDataTable().fnDraw();
                    grid.clearAjaxParams();
                } else if (action.val() == "") {
                    App.alert({ type: 'danger', icon: 'warning', message: 'Please select an action', container: grid.getTableWrapper(), place: 'prepend' });
                } else if (grid.getSelectedRowsCount() === 0) {
                    App.alert({ type: 'danger', icon: 'warning', message: 'No record selected', container: grid.getTableWrapper(), place: 'prepend' });
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                handleProducts(DomainName);
                handleProducts1(DomainName);

                setTimeout(function () {
                    $("#sample_2 tbody tr").each(function () {
                        // $(this).find('td:eq(0)').addClass("black");
                        //alert($(this).html());
                        var nTr = $(this).html();
                        // alert(nTr);
                        // $(this).find('td .row-details').addClass("black");

                        $(this).find('td .row-details').click();
                        $(this).find('td .row-details').addClass("row-details-open").removeClass("row-details-close");
                        //alert($(this).find('td .clsStatus').html());

                        //oTable.fnOpen(nTr, fnFormatDetails( $(this).find('td .clsStatus').html()), 'details');

                    });
                }, 2000);
            }
        }
    }();
</script>