﻿@model Fleet.ViewModels.TrackViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "Tracking List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.TrackingService TS = new FleetDataService.TrackingService();
    List<Webx_Master_General> DockTypeList = TS.GetGeneralMasterObject();
    List<Webx_Master_General> BranchList = TS.GetSubBranch();
}
<form id="form_sample" class="form-horizontal">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>Operation Tracking Criteria
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Select Date
                                        @Html.HiddenFor(c => c.opTrackModel.FromDate)
                                        @Html.HiddenFor(c => c.opTrackModel.ToDate)
                                    </label>
                                    <div class="col-md-6">
                                        <div id="reportrange" class="btn default">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <label class="control-label col-md-3">
                                    Select Document Type
                                </label>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.opTrackModel.DockType, new SelectList(DockTypeList, "CodeId", "CodeDesc"), new { @class = "select2 required form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <ul class="page-breadcrumb breadcrumb visible-tablet center" style="margin-top: 0px;">
                                    <li><strong>FROM</strong></li>
                                </ul>
                                <div class="portlet-body">
                                    <div class="form-body">
                                        @{
                                        Html.RenderPartial("../UserControls/_ReportLocation");
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <ul class="page-breadcrumb breadcrumb visible-tablet center" style="margin-top: 0px;">
                                    <li><strong>TO</strong></li>
                                </ul>
                                <div class="portlet-body">
                                    <div class="form-body">
                                        @{
                                        Html.RenderPartial("../UserControls/_ReportLocationTo");
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div class="row clssys">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Document No(s).(System Generated No.):
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.opTrackModel.DOCKNO, new { @class = "form-control" })
                                    </div>
                                    <p class="text-primary col-md-3">[Seperated by <b><i>Comma</i></b> if multiple]</p>
                                </div>
                            </div>
                        </div>
                        <div class="row clsmanul">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Document No(s).(Manual No./Invoice No.):
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.opTrackModel.ManualNo, new { @class = "form-control" })
                                    </div>
                                    <p class="text-primary col-md-3">[Seperated by <b><i>Comma</i></b> if multiple]</p>
                                </div>
                            </div>
                        </div>
                        <div class="row clsvihicle">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Customer Ref. No./Vehicle No. :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.opTrackModel.VehicleNo, new { @class = "form-control" })
                                    </div>
                                    <p class="text-primary col-md-3">[Seperated by <b><i>Comma</i></b> if multiple]</p>
                                </div>
                            </div>
                        </div>
                        <div class="row clsfreetxt">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Free Text:
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.opTrackModel.FreeText, new { @class = "form-control" })
                                    </div>
                                    <p class="text-primary col-md-3">[Seperated by <b><i>Comma</i></b> if multiple]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-search"></i>&nbsp;Get Tracking List</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row" id="divTable" style="display:none;">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i><span id="listTitle"></span> List
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="tbl_List"></table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function format(d) {
        if ($("#opTrackModel_DockType").val() == "DKT") {
            return '<table cellpadding="5" class="details" cellspacing="0" border="0">' +
                '<tr>' +
                '<td>' +
                '<div>' +
               '<td><a onclick="javascript: DKTAllView(\'' + d.Docno + '\',\'' + d.docsf + '\',\'10\')" class="btn btn-sm green">View </a></td>' +
                '<td><a onclick="javascript: DKTAllView(\'' + d.Docno + '\',\'' + d.docsf + '\',\'9\')" class="btn btn-sm green">Print </a></td>' +
                '<td><a onclick="javascript: DKTAllView(\'' + d.Docno + '\',\'' + d.docsf + '\',\'13\')" class="btn btn-sm red">New Cnote View </a></td>' +
                '<td><div class="btn-group">' +
                '<button type="button" class="btn btn-sm blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">Track <i class="fa fa-angle-down"></i></button>' +
                '<ul class="dropdown-menu" role="menu">' +
                '<li><a onclick="javascript: DKTAllView(\'' + d.Docno + '\',\'' + d.docsf + '\',\'7\')" style="cursor: pointer;">Profit/Loss</a></li>' +
                '<li><a onclick="javascript: DKTAllView(\'' + d.Docno + '\',\'' + d.docsf + '\',\'4\')" style="cursor: pointer;">Finance Life Cycle</a></li>' +
                '<li><a onclick="javascript: DKTAllView(\'' + d.Docno + '\',\'' + d.docsf + '\',\'3\')" style="cursor: pointer;">Operation Life Cycle</a></li>' +
                '<li><a onclick="javascript: DKTAllView(\'' + d.Docno + '\',\'' + d.docsf + '\',\'5\')" style="cursor: pointer;">POD/PFM</a></li>' +
                '<li><a onclick="javascript: DKTAllView(\'' + d.Docno + '\',\'' + d.docsf + '\',\'6\')" style="cursor: pointer;">Movement</a></li>' +
                '<li><a onclick="javascript: DKTAllView(\'' + d.Docno + '\',\'' + d.docsf + '\',\'2\')" style="cursor: pointer;">Time tracking</a></li>' +
                '<li><a onclick="javascript: DKTAllView(\'' + d.Docno + '\',\'' + d.docsf + '\',\'1\')" style="cursor: pointer;">View Summary</a></li>' +
                '<li><a onclick="javascript: DKTAllView(\'' + d.Docno + '\',\'' + d.docsf + '\',\'11\')" style="cursor: pointer;">Loading/UnLoading</a></li>' +
                //'<li><a onclick="javascript: DKTAllView(\'\',\'Map\')" style="cursor: pointer;">On Map</a></li>' +

                //'<li><a target="_blank" href="../Tracking/VehicleTrackingShowOnMap?Vehno= " id="ReportFrame">On Map</a></li>' +
                '</ul>' +
                '</div></td>' +
                '</div>' +
                '</td>' +
                 '<td><b>Status:</b></td>' +
                '<td style="color:blue;">' + d.status + '</td><td></td>' +
                '</tr>' +
                '</table>';
        }
        else {
            return '<table cellpadding="5" class="details" cellspacing="0" border="0">' +
                '<tr>' +
                '<td>' +
                '<div>' +
                '<td><a onclick="javascript: DKTAllView(\'' + d.Docno + '\',\'' + d.docsf + '\',\'12\')" class="btn btn-sm red">View</a></td>' +
                '</div>' +
                '</td>' +
                 '<td><b>Status:</b></td>' +
                '<td style="color:blue;">' + d.status + '</td><td></td>' +
                '</tr>' +
                '</table>';
        }
    }

    function goToByScroll(id) {
        // Scroll
        $('html,body').animate({
            scrollTop: $("#divTable").offset().top - $(".header.navbar").height() - 10
        }, 1500);
    }

    function TripAllView(ID, PType) {
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"

        if (PType == "LS") {
             var strPopupURL = ReportURL + DomainName + "/Tracking/TripAllView?LsNO=" + ID + "&VPType=" + PType;
           // var strPopupURL = ReportURL + DomainName + "/ViewPrint/ChallanViewPrint?Type=MF&ChallanNo=" + ID;
        }
        if (PType == "MF") {
            var strPopupURL = ReportURL + DomainName + "/Tracking/TripAllView?MFNo=" + ID + "&VPType=" + PType;
        }
        if (PType == "THC") {
            var strPopupURL = ReportURL + DomainName + "/Tracking/TripAllView?THCNo=" + ID + "&VPType=" + PType;
        }
        if (PType == "PRS") {
            var strPopupURL = ReportURL + DomainName + "/Tracking/TripAllView?PRSNo=" + ID + "&VPType=" + PType;
        }
        if (PType == "DRS") {
            var strPopupURL = ReportURL + DomainName + "/Tracking/TripAllView?DRSNo=" + ID + "&VPType=" + PType;
        }
        if (PType == "PFM") {
            //var strPopupURL = ReportURL + DomainName + "/Tracking/TripAllView?strPFMNo=" + ID + " ,'1','0'";
            var strPopupURL = ReportURL + DomainName + "/ViewPrint/Tracking?Type=8&DocketNo=" + ID + "&DockSf=.";
        }
        if (PType == "DKT") {
            //var strPopupURL = ReportURL + DomainName + "/Tracking/TripAllView?strPFMNo=" + ID + " ,'1','0'";
            var strPopupURL = ReportURL + DomainName + "/ViewPrint/Tracking?Type=7&DocketNo=" + ID + "&DockSf=.";
        }
        if (PType == "IM") {
            var strPopupURL = ReportURL + DomainName + "/ViewPrint/Internal_Movement_ViewPrint?IMNO=" + ID;
        }
        winNew = window.open(strPopupURL, "_blank", strWinFeature);
        return false;
    }

function DKTAllView(ID, Suffix, Type) {
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        var strPopupURL = "";
        if ($.isNumeric(Type)) {
            if (Type == "8") {
                strPopupURL = ReportURL + DomainName + "/ViewPrint/DocketViewPrint?Type=2&DocketNo=" + ID + "";

            } else if (Type == "9") {
                strPopupURL = ReportURL + DomainName + "/ViewPrint/DocketTrackingprint?Type=1&dockno=" + ID + "&Docksf=" + Suffix + "";
            } else if (Type == "10") {
                strPopupURL = ReportURL + DomainName + "/ViewPrint/GC_XLSGeneration?Dockno=" + ID + "&TYPE=" + "1" + "&Docksf=" + Suffix + "";
            }
            else if (Type == "13") {
                strPopupURL = ReportURL + DomainName + "/ViewPrint/GC_XLSGeneration?Dockno=" + ID + "&TYPE=" + "2" + "&Docksf=" + Suffix + "";
            }
            else if (Type == "12") {
                strPopupURL = ReportURL + DomainName + "/ViewPrint/Internal_Movement_ViewPrint?IMNO=" + ID;
            }

            else {
                strPopupURL = ReportURL + DomainName + "/ViewPrint/Tracking?Type=" + Type + "&DocketNo=" + ID + "&DockSf=" + Suffix + "";
            }
        }
        else {
            strPopupURL = ReportURL + DomainName + "/Tracking/VehicleTrackingShowOnMap?Vehno=";
        }
        winNew = window.open(strPopupURL, "_blank", strWinFeature);
        return false;
    }

    var FormComponents = function (DomainName) {

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }
            $('#reportrange').daterangepicker("remove");
            var dateRangeObj = {};
            dateRangeObj['Today'] = [moment(), moment()];
            dateRangeObj['Yesterday'] = [moment().subtract('days', 1), moment().subtract('days', 1)];
            dateRangeObj['Last 7 Days'] = [moment().subtract('days', 6), moment()];
            if ($("#opTrackModel_DockType").val() != "DKT")
            {
                dateRangeObj['Last 30 Days'] = [moment().subtract('days', 29), moment()];
                dateRangeObj['This Month'] = [moment().startOf('month'), moment().endOf('month')];
                dateRangeObj['Last Month'] = [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')];
            }

            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 6),
                endDate: moment(),
                dateLimit: {
                    days: $("#opTrackModel_DockType").val() != "DKT" ? 365 : 6
                },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: dateRangeObj,
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#opTrackModel_FromDate').val(start.format('MMMM D, YYYY'));
                     $('#opTrackModel_ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 6).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#opTrackModel_FromDate').val(moment().subtract('days', 6).format('MMMM D, YYYY'));
            $('#opTrackModel_ToDate').val(moment().format('MMMM D, YYYY'));
        }

        var Events = function (DomainName) {
            handleDatePicker();
        }

        var loadData = function (DomainName, tblId, id) {

            App.blockUI({ boxed: true });

            var strUrl = "@Url.Action("GetData", "Home")";
            var parameters = {};
            parameters['fromdt'] = $("#opTrackModel_FromDate").val();
            parameters['todt'] = $("#opTrackModel_ToDate").val();
            parameters['location'] = $("#Location").val();
            parameters['locLevel'] = $("#LocationLevel").val();
            parameters['location_to'] = $("#LocationTo").val();
            parameters['locLevel_to'] = $("#LocationLevelTo").val();
            parameters['docklist'] = $("#opTrackModel_DOCKNO").val();
            parameters['manuallist'] = $("#opTrackModel_ManualNo").val();
            parameters['VEH_CUSTREF'] = $("#opTrackModel_VehicleNo").val();
            parameters['FREETEXT'] = $("#opTrackModel_FreeText").val();
            parameters['documenttype'] = $("#opTrackModel_DockType").val();
            parameters['Page'] = '1';
            parameters['PageSize'] = '100';
            //if ($("#opTrackModel_DockType").val() == "DKT") {
            //    parameters['PageSize'] = '100';
            //}
            //else {
            //    parameters['PageSize'] = '10000';
            //}

            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: "json",
                data: {
                    Method: 'webxNet_Tracking_Ver1',
                    parameters: parameters
                },
                success: function (result) {                    
                    $("#divTable").hide(500).show(1000);
                    generateDKTTable(result, $("#opTrackModel_DockType").val());
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'loadData ' + id + ' Opration fail..!! There is some issue while update candidate status... Please try again later..', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        var getTableHeader = function (type) {
            var cols = new Array();
            if (type == "DKT") {
                cols.push({ "data": "ROWNO", "title": "Sr.No." });
                cols.push({ "data": "doc_no", "title": "@ViewBag.DKTCalledAs No." });
                cols.push({ "data": "doc_dt", "title": "Booking" });
                cols.push({ "data": "Deldt", "title": "EDD-ADD" });
                cols.push({ "data": "Origin_dest", "title": "Origin-Destination" });
                cols.push({ "data": "Curr_Next", "title": "Curr.Loc.-Next Loc." });
                cols.push({ "data": "From_to", "title": "From-To" });
                cols.push({ "data": "Type", "title": "Paybas|Mode|Type" });
                cols.push({ "data": "Docno", "title": "Cust. Ref.No." });
                cols.push({ "data": "AWBNO", "title": "AWBNO" });
                cols.push({ "data": "Cnor", "title": "Consignor" });
                cols.push({ "data": "Cnee", "title": "Consignee" });
                cols.push({ "data": "status", "title": "Status" });
                cols.push({ "data": "thc", "title": "ChallanNo" });
                cols.push({ "data": "THCVEHNO", "title": "VehicleNo" });
            }
            else if (type == "THC") {
                cols.push({ "data": "Docno", "title": "View" });
                cols.push({ "data": "ROWNO", "title": "Sr.No." });
                cols.push({ "data": "Docno", "title": "@ViewBag.THCCalledAs No." });
                cols.push({ "data": "doc_dt", "title": "Date" });
                cols.push({ "data": "ManualDocNo", "title": "Manual @ViewBag.THCCalledAs No." });
                cols.push({ "data": "Origin_dest", "title": "Location" });
                cols.push({ "data": "doc_veh", "title": "Vehicle No." });
                cols.push({ "data": "Curr_Next", "title": "Last Location" });
                cols.push({ "data": "Deldt", "title": "Departure Date & Time" });
                cols.push({ "data": "status", "title": "Status" });
            }
            else if (type == "LS") {
                cols.push({ "data": "Docno", "title": "View" });
                cols.push({ "data": "ROWNO", "title": "SR.No." });
                cols.push({ "data": "doc_no", "title": "LS No." });
                cols.push({ "data": "ManualDocNo", "title": "Manual LS No." });
                cols.push({ "data": "doc_dt", "title": "LS Date" });
                cols.push({ "data": "Origin", "title": "Origin" });
                cols.push({ "data": "Dest", "title": "Destination" });
                cols.push({ "data": "totdocketS", "title": "Total Dockets" });
                cols.push({ "data": "cancelled", "title": "Cancellation Status" });
            }
            else if (type == "MF") {
                cols.push({ "data": "Docno", "title": "View" });
                cols.push({ "data": "ROWNO", "title": "SR.No." });
                cols.push({ "data": "doc_no", "title": "MF No." });
                cols.push({ "data": "ManualDocNo", "title": "Manual MF No." });
                cols.push({ "data": "doc_dt", "title": "MF Date" });
                cols.push({ "data": "Origin", "title": "Origin" });
                cols.push({ "data": "Dest", "title": "Destination" });
                cols.push({ "data": "thcno", "title": "@ViewBag.THCCalledAs No." });
                cols.push({ "data": "totdocketS", "title": "Total Dockets" });
                cols.push({ "data": "Cancelled", "title": "Cancelled" });
            }
            else if (type == "PRS") {
                cols.push({ "data": "Docno", "title": "View" });
                cols.push({ "data": "ROWNO", "title": "SR.No." });
                cols.push({ "data": "Docno", "title": "PRS No." });
                cols.push({ "data": "ManualDocNo", "title": "Manual PRS No." });
                cols.push({ "data": "doc_dt", "title": "PRS Date" });
                cols.push({ "data": "Origin", "title": "Origin" });
                cols.push({ "data": "Vehno", "title": "Vehicle No." });
                cols.push({ "data": "totdockets", "title": "Total Dockets" });
                cols.push({ "data": "cancelled", "title": "Cancelled" });
            }
            else if (type == "DRS") {
                cols.push({ "data": "Docno", "title": "View" });
                cols.push({ "data": "ROWNO", "title": "SR.No." });
                cols.push({ "data": "Docno", "title": "DRS No." });
                cols.push({ "data": "ManualDocNo", "title": "Manual DRS No." });
                cols.push({ "data": "doc_dt", "title": "DRS Date" });
                cols.push({ "data": "Origin", "title": "Origin" });
                cols.push({ "data": "Vehno", "title": "Vehicle No." });
                cols.push({ "data": "totdockets", "title": "Total Dockets" });
                cols.push({ "data": "cancelled", "title": "Cancelled" });
            }
            else if (type == "PFM") {
                cols.push({ "data": "doc_no", "title": "View" });
                cols.push({ "data": "ROWNO", "title": "SR.No." });
                cols.push({ "data": "Docno", "title": "PFM No." });
                cols.push({ "data": "ManualDocNo", "title": "Manual PFM No." });
                cols.push({ "data": "doc_dt", "title": "PFM Date" });
                cols.push({ "data": "Origin", "title": "Origin" });
                cols.push({ "data": "Dest", "title": "Destination" });
                cols.push({ "data": "totdockets", "title": "Total Dockets" });
                cols.push({ "data": "ACK", "title": "Acknowledged" });
                cols.push({ "data": "ACKDT", "title": "Acknowledged Date" });
            }
            else if (type == "IM") {
                cols.push({ "data": "Docno", "title": "IM No." });
                cols.push({ "data": "docdt", "title": "IM Date" });
                cols.push({ "data": "Contents", "title": "Contents" });
                cols.push({ "data": "ORGNCD", "title": "Origin" });
                cols.push({ "data": "DESTCD", "title": "Destination" });
                cols.push({ "data": "Curr_Loc", "title": "Current Location" });
                cols.push({ "data": "status", "title": "status" });
            }
            return cols;
        }

        var exportDatatableToExcel = function () {
            var btnArry = [];
            btnArry = [{
                text: '<button type="button" class="btn green controls pull-right" style="margin-left: 10px;margin-top: 5px;"><i class="fa fa-download"></i>&nbsp;Export to Excel</button>',
                extend: 'excelHtml5'
            }]
            return btnArry;
        }

        var generateDKTTable = function (result, type) {
            
            if ($.fn.DataTable.isDataTable('#tbl_List')) {
                $('#tbl_List').DataTable().destroy();
            }
            $('#tbl_List').empty();
            var resultLen = Object.keys(result).length;
            //alert(resultLen)
            if (resultLen > 0) {
                var table = "";
                
                if (type == 'DKT' || type == 'IM') {
                    if (type == 'DKT') {
                        table = $('#tbl_List').DataTable({
                            data: result,
                            columns: getTableHeader(type),
                            "bPaginate": false,
                            dom: 'Bfrtip',
                            buttons: exportDatatableToExcel(),
                            "aoColumnDefs": [
                                { "className": "center text-uppercase", "targets": "_all" },
                                 {
                                     "targets": [12],
                                     "visible": false,
                                     "searchable": false
                                 },
                            ],
                        });
                    }
                    if (type == 'IM') {
                        table = $('#tbl_List').DataTable({
                            data: result,
                            columns: getTableHeader(type),
                            "bPaginate": false,
                            dom: 'Bfrtip',
                            buttons: exportDatatableToExcel(),
                            "aoColumnDefs": [
                                { "className": "center text-uppercase", "targets": "_all" },
                                 {
                                     "targets": [6],
                                     "visible": false,
                                     "searchable": false
                                 },
                            ],
                        });
                    }

                }
                else {
                    table = $('#tbl_List').DataTable({
                        data: result,
                        columns: getTableHeader(type),
                        "bPaginate": false,
                        dom: 'Bfrtip',
                        buttons: exportDatatableToExcel(),
                        "aoColumnDefs": [
                            { "className": "center text-uppercase", "targets": "_all" },
                            {
                                "aTargets": [0],
                                "mRender": function (data, type1, row) {
                                    //alert(data + "  " + type + "  " + type1 + "  " + row)
                                    return '<button class="btn btn-xs blue-stripe" onclick="javascript: TripAllView(\'' + data + '\',\'' + type + '\')" >View</button>';
                                }
                            },
                        ],
                    });
                }
                formateDataTable('tbl_List');
                if (type == "DKT" || type == 'IM') {
                    tableDraw(table);
                }
                $("#tbl_List").parent().removeClass("table-scrollable");
                $("#tbl_List_info").attr('style', 'top : 5px !important;')
            }
            else {
                $("#tbl_List").removeAttr('style');
                $("#tbl_List").html('<tr><td class="center">No data available in table</td></tr>');
            }
            App.unblockUI();
            goToByScroll("tbl_List");
            $(".buttons-excel").removeClass("dt-button");
        }

        var tableDraw = function (table) {
            $('.td.details-control').closest('tr').addClass('shown');
            console.log($('#tbl_List > tbody > tr').length);
            $('#tbl_List > tbody > tr').each(function () {
                var tr = $(this);
                var row = table.row(tr);
                console.log(row.data());
                row.child(format(row.data())).show();
                tr.addClass('shown');
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                handleDateRangePickers();
                Events(DomainName);
                LocationContraol();

                $(".clsall").append("<option value='All'>All</option>");
                $(".clsall").val("All");
                $(".clsall").select2().find(":selected").data("All");

                $('#opTrackModel_From_br').attr("readonly", true);
                $('#opTrackModel_To_br').attr("readonly", true);

                $("#opTrackModel_From_loc").change(function () {
                    var subbr = $(this).val();
                    $('#opTrackModel_From_br').attr("readonly", false);
                    var StrURL = DomainName + '/Tracking/GetSubBranch?BRCode=' + subbr;
                    $("#opTrackModel_From_br").select2('data', null);
                    FillDropDownfromOther("opTrackModel_From_br", StrURL, '');
                });
                $("#opTrackModel_To_loc").change(function () {
                    var subbr = $(this).val();
                    $('#opTrackModel_To_br').attr("readonly", false);
                    var StrURL = DomainName + '/Tracking/GetSubBranch?BRCode=' + subbr;
                    $("#opTrackModel_To_br").select2('data', null);
                    FillDropDownfromOther("opTrackModel_To_br", StrURL, '');
                });

                $("#opTrackModel_DockType").change(function () {
                    var value = $(this).val();

                    if (value == "DKT") {
                        $(".clssys").show();
                        $(".clsmanul").show();
                        $(".clsvihicle").show();
                        $(".clsfreetxt").show();
                    }
                    else if (value == "LS") {
                        $(".clssys").show();
                        $(".clsmanul").show();
                        $(".clsvihicle").hide();
                        $(".clsfreetxt").hide();
                    }
                    else if (value == "MF") {
                        $(".clssys").show();
                        $(".clsmanul").show();
                        $(".clsvihicle").hide();
                        $(".clsfreetxt").hide();
                    }
                    else if (value == "THC") {
                        $(".clssys").show();
                        $(".clsmanul").show();
                        $(".clsvihicle").show();
                        $(".clsfreetxt").hide();
                    }
                    else if (value == "PRS") {
                        $(".clssys").show();
                        $(".clsmanul").show();
                        $(".clsvihicle").hide();
                        $(".clsfreetxt").hide();
                    }
                    else if (value == "DRS") {
                        $(".clssys").show();
                        $(".clsmanul").show();
                        $(".clsvihicle").show();
                        $(".clsfreetxt").hide();
                    }
                    else if (value == "PFM") {
                        $(".clssys").show();
                        $(".clsmanul").show();
                        $(".clsvihicle").hide();
                        $(".clsfreetxt").hide();
                    }
                    else if (value == "IM") {
                        $(".clssys").show();
                        $(".clsmanul").hide();
                        $(".clsvihicle").hide();
                        $(".clsfreetxt").hide();
                    }
                    handleDateRangePickers();
                });

                $('#btnSubmit').click(function () {
                    loadData(DomainName, 'CustomerList');
                    $("#listTitle").text($("#opTrackModel_DockType :selected").text());
                });
            }
        }
    }();
</script>