﻿@model Fleet.ViewModels.TrackViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models

@{
    ViewBag.Title = "Operation Tracking Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.TrackingService TS = new FleetDataService.TrackingService();
    List<Webx_Master_General> DockTypeList = TS.GetGeneralMasterObject();
    List<Webx_Master_General> BranchList = TS.GetSubBranch();
}

@using (Html.BeginForm("OperationTrackList", "Tracking", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>Select @ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body" id="divCrieteria">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Select Date
                                        @Html.HiddenFor(c => c.opTrackModel.FromDate)
                                        @Html.HiddenFor(c => c.opTrackModel.ToDate)
                                    </label>
                                    <div class="col-md-6">
                                        <div id="reportrange" class="btn default">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <label class="control-label col-md-3">
                                    Select Document Type
                                </label>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.opTrackModel.DockType, new SelectList(DockTypeList, "CodeId", "CodeDesc"), new { @class = "select2 required form-control" })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <ul class="page-breadcrumb breadcrumb visible-tablet center" style="margin-top: 0px;">
                                <li><strong>FROM</strong></li>
                            </ul>
                            <div class="portlet-body">
                                <div class="form-body">
                                    @{
    Html.RenderPartial("../UserControls/_ReportLocation");
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="page-breadcrumb breadcrumb visible-tablet center" style="margin-top: 0px;">
                                <li><strong>TO</strong></li>
                            </ul>
                            <div class="portlet-body">
                                <div class="form-body">
                                    @{
    Html.RenderPartial("../UserControls/_ReportLocationTo");
                                    }
                                </div>
                            </div>
                        </div>
                    </div>



                    @*<div class="row">
                            <div class="col-md-6">
                                <ul class="page-breadcrumb breadcrumb visible-tablet center" style="margin-top: 0px;">
                                    <li><strong>FROM</strong></li>
                                </ul>
                                <div class="portlet-body">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-3">
                                                    Regional Office
                                                </label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(model => model.opTrackModel.From_loc, new SelectList(Model.ListLocation, "LocCode", "Location"), new { @class = "select2 required form-control clsall" })
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-3">
                                                    Branch
                                                </label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(model => model.opTrackModel.From_br, new SelectList(BranchList, "CodeId", "CodeDesc"), "", new { @class = "select2 required form-control clsall" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <ul class="page-breadcrumb breadcrumb visible-tablet center" style="margin-top: 0px;">
                                    <li><strong>TO</strong></li>
                                </ul>
                                <div class="portlet-body">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-3">
                                                    Regional Office
                                                </label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(model => model.opTrackModel.To_loc, new SelectList(Model.ListLocation, "LocCode", "Location"), new { @class = "select2 required form-control clsall" })
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-3">
                                                    Branch
                                                </label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(model => model.opTrackModel.To_br, new SelectList(Model.ListLocation, "LocCode", "Location"), new { @class = "select2 required form-control clsall" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@



                    <hr />
                    <div class="row clssys">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label col-md-5">
                                    Document No(s).(System Generated No.):
                                </label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(c => c.opTrackModel.DOCKNO, new { @class = "form-control" })
                                </div>
                                <p class="text-primary col-md-3">[Seperated by <b><i>Comma</i></b> if multiple]</p>
                            </div>
                        </div>
                    </div>
                    <div class="row clsmanul">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label col-md-5">
                                    Document No(s).(Manual No./Invoice No.):
                                </label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(c => c.opTrackModel.ManualNo, new { @class = "form-control" })
                                </div>
                                <p class="text-primary col-md-3">[Seperated by <b><i>Comma</i></b> if multiple]</p>
                            </div>
                        </div>
                    </div>
                    <div class="row clsvihicle">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label col-md-5">
                                    Customer Ref. No./Vehicle No. :
                                </label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(c => c.opTrackModel.VehicleNo, new { @class = "form-control" })
                                </div>
                                <p class="text-primary col-md-3">[Seperated by <b><i>Comma</i></b> if multiple]</p>
                            </div>
                        </div>
                    </div>
                    <div class="row clsfreetxt">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label col-md-5">
                                    Free Text:
                                </label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(c => c.opTrackModel.FreeText, new { @class = "form-control" })
                                </div>
                                <p class="text-primary col-md-3">[Seperated by <b><i>Comma</i></b> if multiple]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-search"></i>&nbsp;Get Tracking List</button>
            <button type="button" id="btnPrepareManifest" class="btn btn-sm green controls" style="display:none"><i class="fa fa-check"></i>&nbsp;Prepare Sheet</button>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }



        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }
            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                //maxDate: '12/31/2014',
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#opTrackModel_FromDate').val(start.format('MMMM D, YYYY'));
                     $('#opTrackModel_ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#opTrackModel_FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#opTrackModel_ToDate').val(moment().format('MMMM D, YYYY'));
        }

        var Events = function (DomainName) {
            handleDatePicker();
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);

                handleDateRangePickers();
                Events(DomainName);
                LocationContraol();

                $(".clsall").append("<option value='All'>All</option>");
                $(".clsall").val("All");
                $(".clsall").select2().find(":selected").data("All");

                $('#opTrackModel_From_br').attr("readonly", true);
                $('#opTrackModel_To_br').attr("readonly", true);

                $("#opTrackModel_From_loc").change(function () {
                    var subbr = $(this).val();
                    $('#opTrackModel_From_br').attr("readonly", false);
                    var StrURL = DomainName + '/Tracking/GetSubBranch?BRCode=' + subbr;
                    $("#opTrackModel_From_br").select2('data', null);
                    FillDropDownfromOther("opTrackModel_From_br", StrURL, '');
                });
                $("#opTrackModel_To_loc").change(function () {
                    var subbr = $(this).val();
                    $('#opTrackModel_To_br').attr("readonly", false);
                    var StrURL = DomainName + '/Tracking/GetSubBranch?BRCode=' + subbr;
                    $("#opTrackModel_To_br").select2('data', null);
                    FillDropDownfromOther("opTrackModel_To_br", StrURL, '');
                });

                $("#opTrackModel_DockType").change(function () {
                    var value = $(this).val();

                    if (value == "DKT") {
                        $(".clssys").show();
                        $(".clsmanul").show();
                        $(".clsvihicle").show();
                        $(".clsfreetxt").show();
                    }
                    else if (value == "LS") {
                        $(".clssys").show();
                        $(".clsmanul").show();
                        $(".clsvihicle").hide();
                        $(".clsfreetxt").hide();
                    }
                    else if (value == "MF") {
                        $(".clssys").show();
                        $(".clsmanul").show();
                        $(".clsvihicle").hide();
                        $(".clsfreetxt").hide();
                    }
                    else if (value == "THC") {
                        $(".clssys").show();
                        $(".clsmanul").show();
                        $(".clsvihicle").show();
                        $(".clsfreetxt").hide();
                    }
                    else if (value == "PRS") {
                        $(".clssys").show();
                        $(".clsmanul").show();
                        $(".clsvihicle").hide();
                        $(".clsfreetxt").hide();
                    }
                    else if (value == "DRS") {
                        $(".clssys").show();
                        $(".clsmanul").show();
                        $(".clsvihicle").show();
                        $(".clsfreetxt").hide();
                    }
                    else if (value == "PFM") {
                        $(".clssys").show();
                        $(".clsmanul").show();
                        $(".clsvihicle").hide();
                        $(".clsfreetxt").hide();
                    }
                });

                $('#btnSubmit').click(function () {
                    App.blockUI({ boxed: true });
                });
            }
        }
    }();
</script>

