﻿@{
    ViewBag.Title = "THCPRSDRS Tracker View";
    Layout = null;
}

@using System.Configuration;
@using MvcReportViewer;

@{ 
    var parameters = new List<KeyValuePair<string, object>>
    {

        new KeyValuePair<string, object>("Docno", @ViewBag.DoumentNo),
        new KeyValuePair<string, object>("docType", @ViewBag.DoumentType),

    };

    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">

    @Html.MvcReportViewer(ReportPathPrefix + "/Doc_Financial_tracker_NewPortal", parameters, new { Height = 600, Width = "100%", style = "border: none" })

    <div class="span3"></div>
</div>