﻿@model Fleet.ViewModels.TrackViewModel
@using Fleet.ViewModels;
@{
    ViewBag.Title = "THC PRS DRS Tracker";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.TrackingService TS = new FleetDataService.TrackingService();

    List<vw_OperationTrack> ListDocumentType = TS.GetDocumentType();
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title Criteria
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Select Type:</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(c => c.opTrackModel.DockType, new SelectList(ListDocumentType, "DockType", "DockTypeName"), new { @class = "select2 required form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Enter No.:</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.opTrackModel.DOCKNO, new { placeholder = "Enter Document Number", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-search"></i>&nbsp;Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.forms["form_sample"].submit();
                }

            });
        }
        return {
            init: function (DomainName) {
                Formvalidate(DomainName);

                $('#btnSubmit').click(function () {
                    if (!$('#form_sample').valid()) {
                        return false;
                    }
                    var DocumentType = $('#opTrackModel_DockType').val();
                    var DocumentNo = $('#opTrackModel_DOCKNO').val();
                    var ReportURL = '@ViewBag.ReportURL';
                    var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
                    var strPopupURL = ReportURL + DomainName + "/Tracking/THCPRSDRSTrackerView?BILLType=" + DocumentType + "&BILLNO=" + DocumentNo;
                    winNew = window.open(strPopupURL, "_blank", strWinFeature)
                    return false;
                });
            }
        }
    }();

</script>
