﻿@{
    ViewBag.Title = "TripAllView";
    Layout = null;
}

@using System.Configuration
@model Fleet.ViewModels.vw_OperationTrack
@using MvcReportViewer;

@{
    var IDNO = "";
    if (Model.DockType == "LS")
    {
        IDNO = "LSNo";
    }
    if (Model.DockType == "MF")
    {
        IDNO = "MFNo";
    }
    if (Model.DockType == "THC")
    {
        IDNO = "THCNo";
    }
    if (Model.DockType == "PRS")
    {
        IDNO = "PRSNo";
    }
    if (Model.DockType == "DRS")
    {
        IDNO = "DRSNo";
    }

    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>(IDNO,Model.DOCKNO),
        //new KeyValuePair<string, object>("VPType",Model.DockType),
    };

    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">

    @if (Model.DockType == "LS")
    {
        @Html.MvcReportViewer(ReportPathPrefix + "/LoadingSheet_ViewPrint", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    }
    @if (Model.DockType == "MF")
    {
        @*@Html.MvcReportViewer(ReportPathPrefix + "/Menifest_ViewPrint", parameters, new { Height = 600, Width = "100%", style = "border: none" })*@
        @Html.MvcReportViewer(ReportPathPrefix + "/Menifest_ViewPrint_NewPortal", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    }
    @if (Model.DockType == "THC")
    {
        @Html.MvcReportViewer(ReportPathPrefix + "/THC_ViewPrint", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    }
    @if (Model.DockType == "PRS")
    {
        @Html.MvcReportViewer(ReportPathPrefix + "/PRS_ViewPrint_NewPortal", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    }
    @if (Model.DockType == "DRS")
    {
        if (Model.status == "Y")
        {
            @Html.MvcReportViewer(ReportPathPrefix + "/DRS_Close_ViewPrint", parameters, new { Height = 600, Width = "100%", style = "border: none" })
        }
        else
        {
            @Html.MvcReportViewer(ReportPathPrefix + "/DRS_ViewPrint", parameters, new { Height = 600, Width = "100%", style = "border: none" })
        }
    }
    @*@if (Model.DockType == "PFM")
        {
            @Html.MvcReportViewer(ReportPathPrefix + "/Menifest_ViewPrint", parameters, new { Height = 600, Width = "100%", style = "border: none" })
        }*@
    <div class="span3"></div>
</div>
