﻿@model Fleet.ViewModels.TrackViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    ViewBag.Title = "Trip Sheet Tracker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var TypeList = new List<SelectListItem>();
    TypeList.Add(new SelectListItem { Text = "Enter Trip Sheet No.", Value = "T" });
    TypeList.Add(new SelectListItem { Text = "Enter Manual TripSheet No.", Value = "M" });
}
@using (Html.BeginForm("", "", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title Criteria
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Select Type:</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.opTrackModel.Type, new SelectList(TypeList, "Value", "Text"), new { @class = "select2 required form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Trip Sheet No.:</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.opTrackModel.ManualDocNo, new { placeholder = "Enter Trip Sheet Number", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-search"></i>&nbsp;Get Tracking List</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="divList">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title Detail
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body" id="tblLoadingList">
                        @Html.Partial("_TripTrackingPartial", Model.TripTrackModel)
                    </div>
                </div>
            </div>
        </div>
    </div>


}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }

            });
        }

        var Events = function (DomainName) {

            $('#btnSubmit').click(function () {
                Formvalidate(DomainName);
                if (!$('#form_sample').valid()) {
                    return false;
                }
                App.blockUI({ boxed: true });
                $('#tblLoadingList').html("");
                $.ajax({
                    url: DomainName + "/Tracking/TripSheetTrackerList",
                    type: 'POST',
                    data: $('#form_sample').serialize(),
                    success: function (html) {
                        $('#tblLoadingList').html(html);
                        $('#divList').show();
                        App.unblockUI();
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        App.unblockUI();
                    }
                });
            });


        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                Events(DomainName);
                $("#VSlipDt").val("");
                $("#Oper_Close_Dt").val("");
            }
        }
    }();
</script>