﻿@model Fleet.ViewModels.VehicleViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "VehicleTrackingList";
}
<div id="VehicleTracking"></div>
@using (Html.BeginForm("InternalActionList", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;Search Criteria
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="tblData">
                        @{
                             Html.RenderPartial("_VehicleTracking", Model.CVGPCDL.ToList());
                           
                        }
                    </div>
                    <div class="form-actions fluid">
                        <div class="row">
                            <div class="col-md-offset-5 col-md-16">
                                <button type="submit" id="btnSubmit" class="btn blue"><i class="fa fa-search"></i>&nbsp; Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },


            });
        }

        var bindTable = function (DomainName) {
            App.blockUI({ boxed: true })
            var strUrl = DomainName + '/Tracking/GetVehicleTrackingList';
            $.ajax({
                url: strUrl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $('#Vehicle_List').dataTable({
                        "bDestroy": true
                    }).fnDestroy();
                    $("#Vehicle_List").html(data);
                    App.unblockUI();
                    $("input:checkbox, input:radio").uniform();
                    initTableById("Vehicle_List");
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);
                //initTableById("Vehicle_List");
                bindTable(DomainName);
                $("#btnSubmit").hide();

                $("#btnSubmit").click(function () {

                    $('#form_sample').submit();
                });

                $('.CLSCHK').live("click",function () {
                    totchk = 0;
                    //var itemIndex = $(this).attr('id').split('_')[1];
                    var checked = jQuery(this).is(":checked");
                    var Latitude = $(this).attr('id').replace("VehicleNo_", "").replace("__Latitude", "");
                    alert(Latitude)
                    var Longitude = $(this).attr('id').replace("VehicleNo_", "").replace("__Longitude", "");
                    alert(Longitude)
                    if (Latitude && Longitude != "")
                    {
                        alert("hi")
                        $("#btnSubmit").hide();
                    }
                    else
                        alert("hi8")

                        $("#btnSubmit").show();

                });

                $(document).on('change', ".chk_All", function () {
                    if (this.checked) {
                        $(".CLSCHK").parent('span').addClass('checked');
                    }
                    else {
                        $(".CLSCHK").parent('span').removeClass('checked');
                    }
                })

                $('.chk_All').click(function () {
                    totchk = 0;
                    //var itemIndex = $(this).attr('id').split('_')[1];
                    var checked = jQuery(this).is(":checked");
                    $('.chk_All').each(function () {
                        var checked1 = jQuery(this).is(":checked");
                        if (checked1)
                            totchk++;
                        if (totchk == 0)
                            $('#btnSubmit1').hide();
                        else
                            $('#btnSubmit1').show();
                    });
                });

                

            }
        }
    }();
</script>




