﻿@model Fleet.ViewModels.VehicleViewModel
@using Fleet.Models
@using FleetDataService.Models
@using Fleet.Classes;
@{
    ViewBag.Title = "VehicleTracking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .mrup {
        margin-top: 5px;
        font-weight: bold;
    }
</style>
@using (Html.BeginForm(" ", " ", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Vehicle Tracking Criteria
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-9">
                                    <label class="control-label col-md-2">Enter Vehicle Number:</label>
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(c => c.VehicleHDR.VEHNO, new { placeholder = "Enter Vehicle Number", @class = "form-control  required required2" })
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-search"></i>&nbsp;Get Vehicle Data</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="divlist">
            @Html.Partial("_VehicleTrackingPartial", Model)
        </div>
    </div>
}

<script type="text/javascript">


    var FormComponents = function (DomainName) {

        var Events = function (DomainName) {

            $('#btnSubmit').click(function () {
                if (!$('#form_sample').valid()) {
                    return false;
                }
                var value = $("#VehicleHDR_VEHNO").val();
                App.blockUI({ boxed: true });
                $.ajax({
                    url: DomainName + "/Tracking/VehicleTrackingList?Vno=" + value,
                    type: 'POST',
                    data: $('#form_sample').serialize(),
                    success: function (html) {
                        $("#divCrieteria :input").prop("readonly", true);

                        $('#reportrange').attr('disabled', true);
                        $('#divlist').html(html)
                        $('#divList').show();
                        App.unblockUI();
                        initTable1(DomainName);
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        App.unblockUI();
                    }
                });
            });


        }

        var initTable1 = function (tableName) {


            $('#Sample1').dataTable({
                "bDestroy": true
            }).fnDestroy();

            $('#Sample1').dataTable({
                "aLengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [0] },
                { "bSearchable": false, "aTargets": [0] }
                ]
            });
            jQuery('#Sample1_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
            jQuery('#Sample1_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
            jQuery('#Sample1_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
        }


        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.forms["form_sample"].submit()
                }
            });
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);
                Events(DomainName);
                initTable1(DomainName);

            }
        }
    }();


</script>
