﻿@{
    ViewBag.Title = "VehicleTrackingShowOnMap";
    var VehicleNo = ViewBag.VEHNO;
    var VehicleLat = ViewBag.VehicleLat;
    var VehicleLong = ViewBag.VehicleLong;
    var Description = ViewBag.Description;

}

@*<h2>VehicleTrackingShowOnMap</h2>*@
<div class="col-md-12" id="dvMap" style="height: 650px; width: 1100px;">
</div>

<script type="text/javascript">

    window.onload = function () {
        var mapOptions = {
            center: new google.maps.LatLng("23.233243200000000000", "77.434339400000000000"),
            zoom: 5,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var infoWindow = new google.maps.InfoWindow();
        var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
        for (i = 0; i < markers.length; i++) {
            var data = markers[i]
            var myLatlng = new google.maps.LatLng(data.lat, data.lng);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: data.title,
                icon: "../assets/img/TruckImage.png"
                //icon: '<p><i class="fa fa-truck"></i></p>'

            });
            (function (marker, data) {
                google.maps.event.addListener(marker, "click", function (e) {
                    infoWindow.setContent(data.description);
                    infoWindow.open(map, marker);
                });
            })(marker, data);
        }
    }
</script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyDpxXHUjodOO91QfPAjghQdw1HSBkCFn-A"></script>
<script type="text/javascript">
    var markers = [
           //{
           //     "title": '<%# Eval("Name") %>',
           //     "lat": '<%# Eval("Latitude") %>',
           //     "lng": '<%# Eval("Longitude") %>',
           //     "description": '<%# Eval("Description") %>'
           // }
    {
        "title": '@VehicleNo',
        "lat": '@VehicleLat',
        "lng": '@VehicleLong',
        "description": '@Description'
    }


    ];
</script>