﻿@model Fleet.ViewModels.VoucherTrackerViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    ViewBag.Title = "VoucherTracker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;Voucher Tracker
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label col-md-5">Enter Voucher Number:</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.VoucherNoumber, new { placeholder = "Enter Voucher No.", @class = "form-control required required2" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-search"></i>&nbsp;Get Tracking List</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="divList">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;Voucher Summary Details
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body" id="tblLoadingList">
                        @Html.Partial("_VoucherTrackingPartial", Model.VoucherModel)

                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //document.form["form_sample"].submit();

                }

            });
        }

        var VouchernoExistance = function (DomainName, code) {
            var StrURL1 = DomainName + "/Tracking/VouchernoExistance";
            $.ajax({
                url: StrURL1,
                cache: false,
                data: { code: code },
                type: 'POST',
                success: function (data) {
                    if (data == 0) {
                        alert("Please Enter the voucher No");
                        $("#VoucherNoumber").val("");
                        return false;
                    }
                    else {
                        return true;
                    }

                },
                error: function (req, status, error) {
                    alert("error " + req + " " + status + " " + error);
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                $('#divList').hide();
                $('#VoucherNoumber').focusout(function () {
                    VouchernoExistance(DomainName, $(this).val());
                });
                $('#btnSubmit').click(function () {
                    if (!$('#form_sample').valid()) {
                        return false;
                    }
                    $.ajax({
                        url: DomainName + "/Tracking/VoucherTrackerList",
                        type: 'POST',
                        data: $('#form_sample').serialize(),
                        success: function (html) {
                            $('#tblLoadingList').html(html)
                            $('#divList').show();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        }
                    });
                });


            }
        }
    }();
</script>