﻿@model Fleet.ViewModels.WebxAssetmaster
@using FleetDataService.Models;
@{
    var Text = "Save"; var type = "Add";
    if (Model.srno != null && Model.srno != 0)
    {
        Text = "Update";
        type = "Edit";
    }


    FleetDataService.FixAssetService FAS = new FleetDataService.FixAssetService();
    List<webx_acctinfo> AccountList = FAS.GetAccountInfoList().ToList();

    var UnitList = new List<SelectListItem> {
        new SelectListItem { Text = "Nos.", Value = "1" },
        new SelectListItem { Text = "Kgs.", Value = "2" },
        new SelectListItem { Text = "Meter.", Value = "3" },
          new SelectListItem { Text = "Liter.", Value = "4" },
    };

    var AssetCategory = new List<SelectListItem> {
        new SelectListItem { Text = "Movable", Value = "1" },
        new SelectListItem { Text = "Non-Movable", Value = "2" },
    };

    var Method = new List<SelectListItem> {
        new SelectListItem { Text = "SLM", Value = "1" },
        new SelectListItem { Text = "WDV", Value = "2" },
    };
}

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@type Master
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("AddEditFixedAssectMaster", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Asset Code :</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.assetcd, new { @class = "form-control", placeholder = "Syatem Generated", @readonly = "true" })
                                @Html.HiddenFor(m => m.srno)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Assets Description :</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.assetname, new { placeholder = "Assets Description", @class = "form-control text-uppercase required required2" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Asset PreFix:</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.prefix, new { placeholder = "Asset PreFix", @class = "form-control text-uppercase required required2" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Asset Group:</label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(c => c.GRPASSTCD, new SelectList(AccountList, "Acccode", "Accdesc"), "", new { @class = "form-control dropdown2 select2 required required2", @placeholder = "Select Account Group" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Unit :</label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(c => c.units, new SelectList(UnitList, "Value", "Text"), "", new { @class = "form-control dropdown2 select2 required required2", @placeholder = "Select Unit" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Asset Catagory:</label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(c => c.category, new SelectList(AssetCategory, "Value", "Text"), "", new { @class = "form-control dropdown2 select2 required required2", @placeholder = "Select Asset Catagory" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Rate of Depreciation (%):</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.DEPRATE, new { placeholder = "Rate", @class = "form-control text-uppercase required required2", @type = "number" })

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Depreciation Method :</label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(c => c.DEPMETHOD, new SelectList(Method, "Value", "Text"), "", new { @class = "form-control dropdown2 select2 required required2", @placeholder = "Select Method" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Expiry Date :</label>
                            <div class="col-md-6 input-group date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d">
                                @Html.TextBox("ExpiryDate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.ExpiryDate).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @readonly = "True", @style = "margin-left: 16px; width: 200px;" })
                                <span class="input-group-btn">
                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <button type="button" class="btn btn-sm defualt controls btnCancel" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                    <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
                </div>
            </div>
        }
    </div>
</div>
