﻿@model FleetDataService.Models.webx_FAALLOT_DET
@using Fleet.Helpers
@using Fleet.Models;
@using FleetDataService.Models;
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    FleetDataService.FixAssetService FAS = new FleetDataService.FixAssetService();
    List<webx_location> locationList = MS.GetLocationDetails().Where(c => c.ActiveFlag == "Y").OrderBy(c => c.LocName).ToList();
    List<FleetDataService.Models.WEBX_GENERAL_ASSETMASTER> ASSETCODE = FAS.GetAssetCode();
    var DumpTypeList = new List<SelectListItem>
               {
               new SelectListItem{Text="Scrap",Value="Scrap"},
               new SelectListItem{Text="Garves",Value="Garves"},
               };
}
<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.allotcd, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("WFTDLIST", (Model.allotcd).ToString()))
    {
        @Html.HiddenFor(c => Model.allotcd)
        if (ViewBag.ASSETTYPE == "Dump" || ViewBag.ASSETTYPE == "Sale" || ViewBag.ASSETTYPE == "Reassign")
        {

            <td class="center">
                @Html.CheckBoxFor(m => m.CheckBox, new { @class = "CLSCHK" })
                @Html.HiddenFor(c => Model.activeflag)
            </td>
            <td class="center">
                @Html.TextBoxFor(c => c.Branch, new { placeholder = "Enter Branch", @class = "form-control Branch", @readonly = true })
                @*   @Html.DropDownListFor(c => c.Branch, new SelectList(locationList, "LocCode", "LocName"), "", new { @class = "select2 required form-control" })*@
            </td>
            <td class="center">
                @Html.DropDownListFor(c => c.IteamCode, new SelectList(ASSETCODE, "ASSETCD", "ASSETNAME"), "", new { @class = "select2 required form-control", @readonly = true })
            </td>
            <td class="center">
                @Html.TextBoxFor(c => c.MFGSrNo, new { placeholder = "MFGSrNo", @class = "form-control required required2", @readonly = true })
            </td>
            @*<td class="center">
                @Html.TextBoxFor(c => c.RCPLSrNo, new { placeholder = "RCPLSrNo", @class = "form-control required required2", @readonly = true })
            </td>*@
            <td class="center ">
                @Html.TextBoxFor(c => c.Qty, new { placeholder = "Qty", @class = "form-control required required2", @Value = "1", @readonly = true })
            </td>

        }
        if (ViewBag.ASSETTYPE == "Dump")
        {
            <td class="center">
                @Html.TextBoxFor(c => c.DumpToLocation, new { placeholder = "Dump To Location", @class = "form-control Branch" })
                @*  @Html.DropDownListFor(c => c.DumpToLocation, new SelectList(locationList, "LocCode", "LocName"), "", new { @class = "select2 required form-control DumpToLocation" })*@
            </td>
            <td class="center">
                @Html.DropDownListFor(c => c.DumpType, new SelectList(DumpTypeList, "Value", "Text"), "", new { @class = "select2 required form-control" })
            </td>
        }
        if (ViewBag.ASSETTYPE == "Sale")
        {
            <td class="center">
                @Html.TextBoxFor(c => c.SaleToWhom, new { placeholder = "Sale To Whom", @class = "form-control required required2" })
            </td>
            <td class="center">
                @Html.TextBoxFor(c => c.Amount, new { placeholder = "Amount", @class = "form-control required required2" })
            </td>
        }
        if (ViewBag.ASSETTYPE == "Reassign")
        {
            <td class="center">
                @Html.TextBoxFor(c => c.ReassignToLoc, new { placeholder = "Reassign To Location", @class = "form-control Branch" })
                @* @Html.DropDownListFor(c => c.ReassignToLoc, new SelectList(locationList, "LocCode", "LocName"), "", new { @class = "select2 required form-control ReassignToLoc" })*@
            </td>

            <td class="center form-group">
                @Html.TextBoxFor(c => c.Employee, new { placeholder = "Employee", @class = "form-control required required2" })
            </td>
            <td class="center">
                @Html.TextBoxFor(c => c.DpartName, new { placeholder = "Department Name", @class = "form-control required required2" })
            </td>
            <td class="center">
                @Html.TextBoxFor(c => c.Description, new { placeholder = "Description", @class = "form-control required required2" })
            </td>
            <td class="center">
                @Html.TextBoxFor(c => c.FIXEDASSETCD, new { placeholder = "GRN Code", @class = "form-control required required2", @readonly = true })
            </td>
            <td class="center">
                @Html.TextBoxFor(c => c.ENTRYON, new { placeholder = "GRN Date", @class = "form-control required required2", @readonly = true })
            </td>
            <td class="center form-group">
                <div class="col-md-12">
                    <div class="input-group date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d">
                        @Html.TextBoxFor(m => m.instdate, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = "form-control  ", @placeholder = "dd MMM yyyy", @readonly = true })
                    </div>

                </div>
            </td>
        }
    }
</tr>