﻿@model FleetDataService.ViewModels.POBillEntry
@using Fleet.Helpers
@using Fleet.Models;
@using FleetDataService.Models;
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_location> locationList = MS.GetLocationDetails().Where(c => c.ActiveFlag == "Y").OrderBy(c => c.LocName).ToList();
}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.allotcd, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("AssectList", (Model.allotcd).ToString()))
    {
        @*<td>
            @Html.CheckBoxFor(m => m.IsEnabled, new { @class = "clsPOCheck" })
        </td>*@
        <td class="center">
            @Html.DisplayFor(c => c.assetcd)
            @Html.HiddenFor(c => c.assetcd)
            @Html.HiddenFor(c => c.Vendorcode)
            @Html.HiddenFor(c => c.allotcd)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.FIXEDASSETCD)
            @Html.HiddenFor(c => c.FIXEDASSETCD)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.fixedassetdt)
            @Html.HiddenFor(c => c.fixedassetdt)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.assetnm)
            @Html.HiddenFor(c => c.assetnm)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.loccode)
            @Html.HiddenFor(c => c.loccode)
        </td>
        <td class="center">
            <a target="_blank" href="@Url.Action("ASSIGNASSET", "ViewPrint", new { GRNNO = Model.FIXEDASSETCD})" id="ReportFrame"><b>View</b></a>
        </td>
    }
</tr>