﻿@model FleetDataService.ViewModels.AssetUTILITYViewModel
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    ViewBag.Title = "AssetDumpUtilityCretira";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("FixAssetTypeListSubmit", "FixAssets", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontalrow-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Header
                    </div>
                    <div class="caption pull-right">
                        <a class="btn default btn-xs" href="@Url.Content("~/FixAssets/AssetAssignReassignCriteria")">
                            <i class="fa fa-arrow-left"> </i>&nbsp;
                            Back To Criteria
                        </a>
                    </div>
                </div>
                <div class="portlet-body" id="divCrieteria">
                    <div class="form-body">
                        @Html.Hidden("ASSETTYPE", (string)ViewBag.ASSETTYPE)
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    @if (ViewBag.ASSETTYPE == "Dump" || ViewBag.ASSETTYPE == "Sale" || ViewBag.ASSETTYPE == "Reassign")
                                    {
                                        <th class="center"><b>Select</b></th>
                                        <th class="center"><b>Branch</b></th>
                                        <th class="center"><b>Item Name </b></th>
                                        <th class="center"><b>Mfd Sr. No. </b></th>
                                        @*<th class="center"><b>RCPL Sr. No. </b></th>*@
                                        <th class="center"><b>Qty</b></th>
                                    }
                                    @if (ViewBag.ASSETTYPE == "Dump")
                                    {
                                        <th class="center"><b>Dump To Location</b></th>
                                        <th class="center"><b>Dump Type</b></th>
                                    }

                                    @if (ViewBag.ASSETTYPE == "Sale")
                                    {
                                        <th class="center"><b>Sale To Whom</b></th>
                                        <th class="center"><b>Amount</b></th>
                                    }
                                    @if (ViewBag.ASSETTYPE == "Reassign")
                                    {
                                        <th class="center"><b>Reassign To Loc.</b></th>
                                        <th class="center"><b>Employee</b></th>
                                        <th class="center"><b>Department Name</b></th>
                                        <th class="center"><b>Description</b></th>
                                        <th class="center"><b>GRN Code</b></th>
                                        <th class="center"><b>GRN Date</b></th>
                                        <th class="center"><b>Issue Date</b></th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var itam in Model.WFTDLIST)
                                {
                                    Html.RenderPartial("_ASSETDUMPLIST", itam);
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-5 col-md-10">
                            @if (ViewBag.ASSETTYPE == "Dump")
                            {
                                <a href="@Url.Content("~/FixAssets/AssetDumpUtilityCretira")" class="btn btn-sm default"><i class=" fa fa-arrow-left"></i>&nbsp;Back To Criteria</a>
                            }
                            @if (ViewBag.ASSETTYPE == "Sale")
                            {
                                <a href="@Url.Content("~/FixAssets/AssetSaleUtility")" class="btn btn-sm default"><i class=" fa fa-arrow-left"></i>&nbsp;Back To Criteria</a>
                            }
                            @if (ViewBag.ASSETTYPE == "Reassign")
                            {
                                <a href="@Url.Content("~/FixAssets/AssetAssignReassignCriteria")" class="btn btn-sm default"><i class=" fa fa-arrow-left"></i>&nbsp;Back To Criteria</a>
                            }
                            <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },
                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    //App.blockUI({ boxed: true });
                    //document.forms["form_sample"].submit();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                handleDateRangePickers();
                Formvalidate(DomainName);

                $('#btnSubmit').click(function () {
                    Formvalidate(DomainName);
                    if ($("#form_sample").valid()) {
                        App.blockUI({ boxed: true });
                        document.forms["form_sample"].submit();
                    }
                });

                $('#btnSubmit').hide();

                $('.CLSCHK').each(function () {

                    var id = $(this).attr('id').replace("CheckBox", "");
                    var checked = jQuery(this).is(":checked");
                    $("#" + id + "Branch").removeClass("required required2");
                    $("#" + id + "IteamCode").removeClass("required required2");
                    $("#" + id + "MFGSrNo").removeClass("required required2");
                    $("#" + id + "RCPLSrNo").removeClass("required required2");
                    $("#" + id + "Qty").removeClass("required required2");
                    $("#" + id + "DumpToLocation").removeClass("required required2");
                    $("#" + id + "DumpType").removeClass("required required2");
                    $("#" + id + "SaleToWhom").removeClass("required required2");
                    $("#" + id + "Amount").removeClass("required required2");
                    $("#" + id + "ReassignToLoc").removeClass("required required2");
                    $("#" + id + "Employee").removeClass("required required2");
                    $("#" + id + "Description").removeClass("required required2");
                    $("#" + id + "FIXEDASSETCD").removeClass("required required2");
                    $("#" + id + "assetcd").removeClass("required required2");
                    $("#" + id + "fixedassetdt").removeClass("required required2");
                    $("#" + id + "DpartName").removeClass("required required2");
                    $("#" + id + "InstallDate").removeClass("required required2");
                })


                $('.CLSCHK').click(function () {

                    totchk = 0;

                    var id = $(this).attr('id').replace("CheckBox", "");
                    var checked = jQuery(this).is(":checked");

                    if (checked) {
                        $("#" + id + "Branch").addClass("required required2");
                        $("#" + id + "IteamCode").addClass("required required2");
                        $("#" + id + "MFGSrNo").addClass("required required2");
                        $("#" + id + "RCPLSrNo").addClass("required required2");
                        $("#" + id + "Qty").addClass("required required2");
                        $("#" + id + "DumpToLocation").addClass("required required2");
                        $("#" + id + "DumpType").addClass("required required2");
                        $("#" + id + "SaleToWhom").addClass("required required2");
                        $("#" + id + "Amount").addClass("required required2");
                        $("#" + id + "ReassignToLoc").addClass("required required2");
                        $("#" + id + "Employee").addClass("required required2");
                        $("#" + id + "Employee").val("");
                        $("#" + id + "Description").addClass("required required2");
                        $("#" + id + "FIXEDASSETCD").removeClass("required required2");
                        $("#" + id + "assetcd").removeClass("required required2");
                        $("#" + id + "fixedassetdt").removeClass("required required2");
                        $("#" + id + "DpartName").removeClass("required required2");
                        $("#" + id + "InstallDate").removeClass("required required2");

                        var itemIndex = $(this).attr("id").replace("WFTDLIST_", "").replace("__CheckBox", "");

                        $('#WFTDLIST_' + itemIndex + '__ReassignToLoc').live('change', function () {
                            $('#WFTDLIST_' + itemIndex + '__Employee').val("");
                            var BRCD = $('#WFTDLIST_' + itemIndex + '__ReassignToLoc').val();
                            JsonDDL('WFTDLIST_' + itemIndex + '__Employee', DomainName + '/Master/GetEmployeeBranchWise?BRCD=' + BRCD);
                        });

                        // get Department from user
                        $('#WFTDLIST_' + itemIndex + '__Employee').live('change', function () {
                            var EmpCode = $('#WFTDLIST_' + itemIndex + '__Employee').val();
                            App.blockUI();
                            var strUrl = DomainName + '/FixAssets/GetDepartmentNameFromEmpcode?EmpCode=' + EmpCode;
                            App.blockUI({ boxed: true });
                            $.ajax({
                                url: strUrl,
                                cache: false,
                                data: {},
                                type: 'POST',
                                success: function (Data) {
                                    $('#WFTDLIST_' + itemIndex + '__DpartName').val(Data.DptName);
                                    App.unblockUI();
                                },
                                error: function (req, status, error) {
                                    $(this).val('');
                                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                                    App.unblockUI();
                                    return false;
                                }
                            });
                        });
                    }
                    else {
                        $("#" + id + "Branch").removeClass("required required2");
                        $("#" + id + "IteamCode").removeClass("required required2");
                        $("#" + id + "MFGSrNo").removeClass("required required2");
                        $("#" + id + "RCPLSrNo").removeClass("required required2");
                        $("#" + id + "Qty").removeClass("required required2");
                        $("#" + id + "DumpToLocation").removeClass("required required2");
                        $("#" + id + "DumpType").removeClass("required required2");
                        $("#" + id + "SaleToWhom").removeClass("required required2");
                        $("#" + id + "Amount").removeClass("required required2");
                        $("#" + id + "ReassignToLoc").removeClass("required required2");
                        $("#" + id + "Employee").removeClass("required required2");
                        $("#" + id + "Description").removeClass("required required2");
                        $("#" + id + "FIXEDASSETCD").removeClass("required required2");
                        $("#" + id + "assetcd").removeClass("required required2");
                        $("#" + id + "fixedassetdt").removeClass("required required2");
                        $("#" + id + "DpartName").removeClass("required required2");
                        $("#" + id + "InstallDate").removeClass("required required2");
                    }

                    $('.CLSCHK').each(function () {
                        var checked1 = jQuery(this).is(":checked");
                        if (checked1)
                            totchk++;
                        if (totchk == 0)
                            $('#btnSubmit').hide();
                        else
                            $('#btnSubmit').show();
                    });
                });
                var StrURL = DomainName + "/FixAssets/GetReassignLocationsDetails";
                JsonDDLSelectCode("Branch", StrURL);

                var StrURL1 = DomainName + "/FixAssets/GetReassignLocationsDetails";
                JsonDDLSelectCode("DumpToLocation", StrURL1);
                handleDateRangePickers();
                //var StrURL = DomainName + "/Operation/GetDestinationLocations";
                //JsonDDLSelectCode("ReassignToLoc", StrURL);
                $("select[readonly=True]").select2().select2("readonly", true);
            }
        }
    }();
</script>