﻿@model FleetDataService.Models.CYGNUS_FixAssetType
@using Fleet.Helpers
@using Fleet.Models;
@using FleetDataService.Models;
@{

}
<tr>
    @using (Html.BeginCollectionItem("WFTDLIST", (Model.FIXEDASSETCD).ToString()))
    {
        <td class="center">
            @Model.FIXEDASSETCD
        </td>
        <td class="center">
            @Model.fixedassetdt
        </td>
        <td class="center">
            @Model.qty
        </td>
        @*<td class="center">
            @Model.rate
        </td>*@
        <td class="center">
            @Model.billamt
        </td>
        <td class="center">
            @Model.balanceqty
        </td>
        <td class="center">
            @Model.location
        </td>
        <td class="center">
            @Model.assign
        </td>
        <td>
            <a target="_blank" href="@Url.Action("FixAssetGRNVIEW", "ViewPrint", new { GRNNO = Model.FIXEDASSETCD })" class="fa fa-print" id="ReportFrame"><b>&nbsp;View/Print</b></a>
        </td>
    }
</tr>