﻿@model FleetDataService.Models.CYGNUS_FixAssetType
@using Fleet.Helpers
@using Fleet.Models;
@using FleetDataService.Models;
@{
    var Type = "";
    if (ViewBag.ASSETTYPE == "Dump")
    {
        Type = "1";
    }
    else if (ViewBag.ASSETTYPE == "Sale")
    {
        Type = "2";
    }
    else if (ViewBag.ASSETTYPE == "Reassign")
    {
        Type = "3";
    }
    else if (ViewBag.ASSETTYPE == "GRN")
    {
        Type = "4";
    }
}
<tr>
    @using (Html.BeginCollectionItem("WFTDLIST", (Model.FIXEDASSETCD).ToString()))
    {
        <td class="center">
            @Model.DocumentNo
        </td>
        <td class="center">
            @Model.Branch
        </td>
        <td class="center">
            @Model.MFGSrNo
        </td>
        <td class="center">
            @Model.RCPLSrNo
        </td>
        <td class="center">
            @Model.Qty
        </td>
        
        if (ViewBag.ASSETTYPE == "Dump")
        {
            <td class="center">
                @Model.DumpToLocation
            </td>
            <td class="center">
                @Model.DumpType
            </td>
            <td class="center">
                @Model.DumpToDate.ToString("dd MMM yyyy")
            </td>
        }
        
        if (ViewBag.ASSETTYPE == "Sale")
        {
            <td class="center">
                @Model.SaleToWhom
            </td>
            <td class="center">
                @Model.Amount
            </td>
            <td class="center">
                @Model.Sales_Dt.ToString("dd MMM yyyy")
            </td>
        }
        
        if (ViewBag.ASSETTYPE == "Reassign")
        {
            <td class="center">
                @Model.ReassignToLoc
            </td>
            <td class="center">
                @Model.Employee
            </td>
            <td class="center">
                @Model.Description
            </td>
            <td class="center">
                @Model.FIXEDASSETCD
            </td>
            <td class="center">
                @Model.Reassign_Dt.ToString("dd MMM yyyy")
            </td>
        }
        <td class="center">
            @*<a class="fa fa-print" target="_blank" href="@Url.Content("~/ViewPrint/Po_Generation_ViewPrint?NO=" + Model.DocumentNo)"><b>&nbsp;View/Print</b></a>*@
            <a target="_blank" href="@Url.Action("Fixed_Asset_View", "ViewPrint", new { No = Model.DocumentNo, Type = Type })" class=" fa fa fa-print" id="ReportFrame"><b>&nbsp;View/Print</b></a>
        </td>

    }
</tr>