﻿@model FleetDataService.Models.CYGNUS_FixAssetType
@using Fleet.Helpers
@using Fleet.Models;
@using FleetDataService.Models;
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    FleetDataService.FixAssetService FAS = new FleetDataService.FixAssetService();
    List<webx_location> locationList = MS.GetLocationDetails().Where(c => c.ActiveFlag == "Y").OrderBy(c => c.LocName).ToList();
    List<FleetDataService.Models.WEBX_GENERAL_ASSETMASTER> ASSETCODE = FAS.GetAssetCode();
    var DumpTypeList = new List<SelectListItem>
               {
               new SelectListItem{Text="Scrap",Value="Scrap"},
               new SelectListItem{Text="Garves",Value="Garves"},
               };
}


<tr class="editorRow">

    @using (Html.BeginCollectionItem("", ""))
    {
        if (ViewBag.ASSETTYPE == "Dump" || ViewBag.ASSETTYPE == "Sale" || ViewBag.ASSETTYPE == "Reassign")
        {
            <td>
                @Model.Branch
            </td>
            <td class="center">
                @Model.ItemCode
            </td>
            <td class="center">
                @Model.MFGSrNo
            </td>
            <td class="center">
                @Model.RCPLSrNo
            </td>
            <td class="center">
                @Model.Qty
            </td>
        }
        if (ViewBag.ASSETTYPE == "Dump")
        {
            <td class="center">
                @Model.DumpToLocation
            </td>
            <td class="center">
                @Model.DumpType
            </td>
            <td class="center">
                @Model.DumpToDate
            </td>
        }
        if (ViewBag.ASSETTYPE == "Sale")
        {
            <td class="center">
                @Model.SaleToWhom
            </td>
            <td class="center">
                @Model.Amount
            </td>
            <td class="center">
                @Model.Sales_Dt
            </td>
        }
        if (ViewBag.ASSETTYPE == "Reassign")
        {
            <td class="center">
                @Model.ReassignToLoc
            </td>
            <td class="center">
                @Model.Employee
            </td>
            <td class="center">
                @Model.Description
            </td>
            <td class="center">
                @Model.FIXEDASSETCD
            </td>
            <td class="center">
                @Model.Reassign_Dt
            </td>
        }
        if (ViewBag.ASSETTYPE == "GRN")
        {
            <td class="center">
                @Model.FIXEDASSETCD
            </td>
            <td class="center">
                @Model.fixedassetdt
            </td>
            <td class="center">
                @Model.BRCD
            </td>
            <td class="center">
                @Model.Description
            </td>
            <td class="center">
                @Model.billamt
            </td>
            <td class="center">
                @Model.qty
            </td>
        }
        if (ViewBag.ASSETTYPE == "Assign")
        {
             <td class="center">
                @Model.ItemCode
            </td>
            <td class="center">
                @Model.DocumentNo
            </td>
            <td class="center">
                @Model.Branch
            </td>
            <td class="center">
                @Model.MFGSrNo
            </td>
            <td class="center">
                @Model.RCPLSrNo
            </td>
            <td class="center">
                @Model.Employee
            </td>
            <td class="center">
                @Model.Description
        </td>
        }
    }
</tr>