﻿@model FleetDataService.ViewModels.POBillEntry
@using Fleet.Helpers
@using Fleet.Models;
<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.pocode, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("POList", (Model.pocode).ToString()))
    {
        <td class="center">
            @Html.DisplayFor(c => c.pocode)
            @Html.HiddenFor(c => c.pocode)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.podt)
            @Html.HiddenFor(c => c.podt)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.vendorcd)
            @Html.HiddenFor(c => c.Adv_Voucherno)
        </td>
        <td class="center">
            <a class="btn btn-xs default blue-stripe" href="@Url.Action("PendingPOList", "FixAssets", new { POCode =Model.pocode, GSTType = Model.GSTType })">Assign</a>
        </td>
    }
</tr>