﻿@model FleetDataService.ViewModels.POBillEntry
@using Fleet.Helpers
@using Fleet.Models;
@using FleetDataService.Models;
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_location> locationList = MS.GetLocationDetails().Where(c => c.ActiveFlag == "Y").OrderBy(c => c.LocName).ToList();
}

<tr class="editorRow table-scrollable">
    @Html.Hidden("hdnblnk", Model.allotcd, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("AssectList", (Model.allotcd).ToString()))
    {
        <td>
            @Html.CheckBoxFor(m => m.IsEnabled, new { @class = "clsPOCheck" })
        </td>
          <td class="center">
            @Html.DisplayFor(c => c.allotcd)
            @Html.HiddenFor(c => c.allotcd)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.assetcd)
            @*@Html.HiddenFor(c => c.allotcd)*@
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.FIXEDASSETCD)
            @Html.HiddenFor(c => c.FIXEDASSETCD)
        </td>

        <td class="center">
            @Html.DisplayFor(c => c.assetnm)
            @Html.HiddenFor(c => c.assetnm)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.fixedassetdt)
            @Html.HiddenFor(c => c.fixedassetdt)
        </td>
        <td class="center">
            @Html.DropDownListFor(m => m.AssignLoc, new SelectList(locationList, "LocCode", "LocCode", Model.AssignLoc), "", new { @class = " select2 drp form-control req clsdecble", @placeholder = "Select Location" })
        </td>
        <td class="center form-group">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control input-small req", @placeholder = "Description" })
        </td>
        <td class="center form-group">
            @Html.TextBoxFor(m => m.Employee, new { @class = "form-control input-small req", @placeholder = "Assigned to Employee" })
        </td>
        <td class="center form-group">
            @Html.TextBoxFor(m => m.DpartName, new { @class = "form-control input-small req", @placeholder = "Department Name" })
        </td>
        <td class="center form-group">
            @Html.TextBoxFor(m => m.MFGSrNo, new { @class = "form-control input-small req clsDKTNO", @placeholder = "Manufacture Serial no." })
            @Html.Hidden("MFGError")
        </td>
        @*<td class="col-md-1">
                @Html.TextBoxFor(m => m.RCPLSrNo, new { @class = "form-control input-small req", @placeholder = "RCPL Serial no." })
            </td>*@
        <td>
            @Html.TextBoxFor(m => m.InstallDate, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
        </td>
    }
</tr>