﻿@model Fleet.ViewModels.WebxPOASSET_det
@using Fleet.Helpers
@using FleetDataService.Models
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> generalMasterList = MS.GetGeneralMasterObject().ToList();
}
<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Id, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("PoList", (Model.Id).ToString()))
    {
        <td class="center" >
            @Html.DisplayFor(m => m.Id)
        </td>
        <td>
            <div class="form-group" >
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.assetcd, new { @class = "required2 required form-control", @placeholder = "Asset Code" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group" >
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.HSN_SAC, new { @class = "form-control", @placeholder = "HSN/SAC" })
                </div>
            </div>
        </td>
        <td class="center" >
            <div class="form-group" >
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.narration, new { @class = "form-control", @placeholder = "Description" })
                </div>
            </div>
        </td>
        <td class="center" >
            <div class="form-group" >
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.qty, new { @class = "required2 required form-control qty", @placeholder = "Qty", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @min = 1 })
                </div>
            </div>
        </td>
        <td class="center" >
            <div class="form-group" >
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.rate, new { @class = "required2 required  form-control", @placeholder = "Rate", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @min = 0 })
                </div>
            </div>
        </td>
        <td class="center" >
            <div class="form-group" >
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.taxableAmt, new { @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @readonly = "true" })
                </div>
            </div>
        </td>
        <td class="center" >
            <div class="form-group" >
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.tax_per, new SelectList(generalMasterList.Where(c => c.CodeType.ToUpper() == "GSTPER" && c.StatusCode == "Y").OrderBy(c => int.Parse(c.CodeDesc)), "CodeDesc", "CodeDesc", Model.tax_per), "", new { @class = "form-control select2 required2 required gstPercentage", @placeholder = "Select GST Percentage" })
                    @Html.TextBoxFor(m => m.TaxAmount, new { @class = "required2 required form-control", @placeholder = "Amount Of Tax", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @min = 0, @readonly = true })
                </div>
            </div>
        </td>
        <td class="center" >
            <div class="form-group" >
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.OtherCharge, new { @class = "form-control", @placeholder = "Other Charge", @min = 0, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td class="center" >
            <div class="form-group" >
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.total, new { @class = "required2 required input-xmedium form-control total", @readonly = true, @placeholder = "Total Amount", @type = "number" })
                </div>
            </div>
        </td>
        <td class="center" >
            @if (Model.Id > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="orderdeleteRow">X</a></text>
            }
            else
            {
                <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
            }
        </td>
    }
</tr>