﻿@model FleetDataService.ViewModels.POBillEntry
@using Fleet.Helpers
@using Fleet.Models;
<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.srno, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("PendingPOList", (Model.srno).ToString()))
    {
        @*<td>
            @Html.CheckBoxFor(m => m.IsEnabled, new { @class = "clsPOCheck" })
            @Html.HiddenFor(c=>c.vendorcd)
        </td>*@
        <td class="center">
            @Html.DisplayFor(c => c.pocode)
            @Html.HiddenFor(c => c.pocode)
            @Html.HiddenFor(c => c.vendorcd)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.podt)
            @Html.HiddenFor(c => c.podt)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.assetcd)
            @Html.HiddenFor(c => c.assetcd)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.assetnm)
            @Html.HiddenFor(c => c.assetnm)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.narration)
            @Html.HiddenFor(c => c.narration)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.qty)
            @Html.HiddenFor(c => c.qty)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.rate)
            @Html.HiddenFor(c => c.rate)
        </td>
         <td class="center">
            @Html.DisplayFor(c => c.taxableAmt)
            @Html.HiddenFor(c => c.taxableAmt)
        </td>
           <td class="center">
            @Html.DisplayFor(c => c.tax_per)
            @Html.HiddenFor(c => c.tax_per)
        </td>
           <td class="center">
            @Html.DisplayFor(c => c.TaxAmount)
            @Html.HiddenFor(c => c.TaxAmount)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.OtherCharge)
            @Html.HiddenFor(c => c.OtherCharge)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.total)
            @Html.HiddenFor(c => c.total)
        </td>
    }
</tr>