﻿@model Fleet.ViewModels.vm_PoCancellationList
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    var ischecked = Model.Active;
    bool IsActive = false;
}
<tr>
    @using (Html.BeginCollectionItem("PoCanList", Model.pocode.ToString()))
    {

        <td class="center">
            @Html.CheckBox("Active", IsActive, new { @class = "IsCheck" })
        </td>
        <td class="center">
            @Model.pocode
            @Html.HiddenFor(m => m.pocode)
        </td>
        <td class="center">
            @Model.podt
            @Html.HiddenFor(m => m.podt)
            @Html.HiddenFor(m => m.podate, new { @class = "clsPodate" })
        </td>
        <td class="center">
            @Model.vendorcd
            @Html.HiddenFor(m => m.vendorcd)
        </td>
        <td class="center">
            @Model.Paidamt
            @Html.HiddenFor(m => m.Paidamt)
        </td>
        <td class="center">
            @Model.pendamt
            @Html.HiddenFor(m => m.pendamt)
        </td>
        <td class="center">
            @Model.Totalamt
            @Html.HiddenFor(m => m.Totalamt)
        </td>
    }
</tr>

