﻿@model Fleet.ViewModels.vm_FixAssetList
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers

@using (Html.BeginCollectionItem("GRNViewPrint", Model.pocode.ToString()))
{
    <tr>

        <td class="center">
            @Model.pocode
        </td>
        <td class="center">
            @Model.podate
        </td>
        <td class="center">
            @Model.VENDORCD
        </td>
        <td class="center">
            @Model.TotalQty
        </td>
        <td class="center">
            @Model.BalanceQty
        </td>
        <td class="center">
            @Model.totalamt
        </td>
        <td class="center">
            @Model.POSTATUS
        </td>
        <td class="center">
            <a class=" btn blue" target="_blank" href="@Url.Content("~/ViewPrint/Po_Generation_ViewPrint?NO=" + @Model.pocode)">View / Print</a>
        </td>

        <td class ="center">
            <a class=" btn blue" target="_blank" href="/POD/PurchaseOrder/@Model.Documentpath">View</a>
        </td>

      
    </tr>
}
