﻿@model FleetDataService.Models.webx_FAALLOT_DET
@using Fleet.Helpers
@using Fleet.Models;
@using FleetDataService.Models;


    <tr class="editorRow">
        @Html.Hidden("hdnblnk", Model.allotcd, new { @class = "iHidden" })
        @using (Html.BeginCollectionItem("WFTDLIST", (Model.allotcd).ToString()))
        {
            @Html.HiddenFor(c => Model.allotcd)
            <td class="center">
                @Html.CheckBoxFor(m => m.CheckBox, new { @class = "CLSCHK" })
            </td>
            <td class="center">
                @Model.Branch
            </td>
            <td class="center">
                @Model.IteamCode
                @Html.HiddenFor(m => m.IteamCode)
            </td>
            <td class="center">
                @Model.Employee
            </td>
            <td class="center">
                @Model.DpartName
            </td>
            <td class="center">
                @Model.Description
            </td>
            <td class="center">
                @Model.RCPLSrNo
            </td>
            <td class="center">
                @Model.MFGSrNo
            </td>
            <td class="center">
                @Model.InstallDate.ToString("dd MMM yyyy")
            </td>
        }
    </tr>