﻿@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models;
@using FleetDataService.ViewModels;
@{
    ViewBag.Title = "Asset Assign Reassign Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    FleetDataService.FixAssetService FAS = new FleetDataService.FixAssetService();
    List<WEBX_GENERAL_ASSETMASTER> ASSETCODE = FAS.GetAssetCode();
    List<webx_location> locationList = MS.GetLocationDetails().Where(c => c.ActiveFlag == "Y").OrderBy(c => c.LocName).ToList();
}


<div class="row">
    <div class="col-md-8">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body" id="divCrieteria">
                <div class="form-body">
                    <div class="form-group ">
                        <label class="control-label col-md-3">
                            Select Document Type:
                            @*@Html.HiddenFor(c => c.UitilityType)*@
                        </label>
                        <div class="col-md-8" style="margin: -4px 0px 0 -16px;">
                            <div class="radio-list col-md-12">
                                <label class="radio-inline">
                                    <input type="radio" name="optionsRadios3" id="Assign" value="1" >
                                    Asset Assign
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optionsRadios3" id="Reassign" value="2">
                                    Asset Reassign
                                </label>

                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="ClsAssign">
                        <div class="row">
                            <div class="portlet box @ViewBag.TableBoxColor ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-filter"></i>Asset Assign Criteria
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    @using (Html.BeginForm("AssignAssectList", "FixAssets", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
                                    {
                                        FuelBillEntyQuery objViewModel = new FuelBillEntyQuery();
                                        Html.RenderPartial("../UserControls/_POBillQuery", objViewModel);
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ClsReAssign">
                        @using (Html.BeginForm("AssetDumpUtilityCretiraList", "FixAssets", FormMethod.Post, new { id = "form_sample1", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
                        {
                            <div class="row">
                                <div class="portlet box @ViewBag.TableBoxColor">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-filter"></i>Asset Reassign Criteria
                                        </div>
                                    </div>
                                    <div class="portlet-body form">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">
                                                            Select  Date :
                                                        </label>
                                                        <div class="col-md-6">
                                                            <div id="reportrange1" class="btn default">
                                                                <i class="fa fa-calendar"></i>
                                                                &nbsp;
                                                                <span></span>
                                                                <b class="fa fa-angle-down"></b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">
                                                            Branch :
                                                        </label>

                                                        <div class="col-md-5">
                                                            @Html.TextBox("LocCode", "", new { placeholder = "Enter Branch", @class = "form-control" })
                                                        </div>
                                                        <input type="hidden" name="FromDate" id = "FromDate1" />
                                                        <input type="hidden" name="ToDate" id="ToDate1" />
                                                        @Html.Hidden("ASSETTYPE")
                                                    </div>
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">
                                                            Item Name
                                                        </label>
                                                        <div class="col-md-5">
                                                            @Html.DropDownList("ITEMCODE", new SelectList(ASSETCODE, "ASSETCD", "ASSETNAME"), "", new { @class = "form-control select2 " })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions fluid">
                                            <div class="row">
                                                <div class="col-md-offset-5 col-md-10">
                                                    <button type="submit" id="btnSubmit1" class="btn btn-sm blue controls"><i class="fa fa-search"></i>&nbsp;Search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#form_sample1');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                   // App.blockUI({ boxed: true });
                    //document.forms["form_sample1"].submit();
                }
            });
        }

        return {
            init: function (DomainName) {
                Formvalidate(DomainName);
                handleDateRangePickers('reportrange', 'FromDate', 'ToDate');
                handleDateRangePickers('reportrange1', 'FromDate1', 'ToDate1');

                $('#btnSubmit').on('click', function () {
                    if ($('#form_sample').valid()) {
                        //  alert("hii")
                        App.blockUI({ boxed: true });
                        document.forms["form_sample"].submit();
                    }

                });

                $('#btnSubmit1').on('click', function () {
                    if ($('#form_sample1').valid()) {
                        //  alert("hiiseee")
                        App.blockUI({ boxed: true });
                        document.forms["form_sample1"].submit();
                    }

                });
                $('.ClsAssign').hide();
                $('.ClsReAssign').hide();

                JsonDDL('VendorCode', DomainName + '/Master/SearchVendorListJson');
                var StrURL = DomainName + "/FixAssets/GetReassignLocationsDetails";
                JsonDDLSelectCode("LocCode", StrURL);

                $("#VendorCode").change(function () {
                    $("#VendorName").val($(this).select2('data').text);
                });

                $("input[name='optionsRadios3']").on("change", function () {
                    var rdoval = this.value;
                    if (rdoval == '1') {
                        $('.ClsAssign').show();
                        $('.ClsReAssign').hide();
                    }
                    else {
                        $('.ClsAssign').hide();
                        $('.ClsReAssign').show();
                        $("#ASSETTYPE").val('Reassign');
                    }
                });
            }
        }
    }();
</script>



