﻿@model FleetDataService.ViewModels.BABillEnty
@using Fleet
@using Fleet.ViewModels
@{
    ViewBag.Title = "AssignAssectList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-list"></i>Assign Assets List
        </div>
        <div class="caption pull-right">
            <a class="btn default btn-xs" href="@Url.Content("~/FixAssets/AssetAssignReassignCriteria")">
                <i class="fa fa-arrow-left"> </i>&nbsp;
                Back To Criteria
            </a>
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("AssignAssectSubmit", "FixAssets", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <div class="portlet-body clsMF flip-scroll table-scrollable">
                    <table class="table table-bordered table-striped table-condensed flip-content table-scrollable">
                        <thead class="flip-content">
                            <tr>
                                <th>
                                    <input type="checkbox" id="IsAllEnabledPO" />
                                </th>
                                <th class="center">
                                    Allot<br />Code
                                </th>
                                <th class="center">
                                    Asset<br />Code
                                </th>
                                <th class="center">
                                    GRN<br />Code
                                </th>
                                <th class="center">
                                    Asset<br />Name
                                </th>
                                <th class="center">
                                    GRN<br />Date
                                </th>
                                <th class="center">
                                    Assigned<br />to Location
                                </th>
                                <th class="center">
                                    Description
                                </th>

                                <th class="center">
                                    Assigned<br />to Employee
                                </th>
                                <th class="center">
                                    Department<br />Name
                                </th>
                                <th class="center">
                                    Manufacture<br />Serial no.
                                </th>
                                @*<th class="col-md-1">
                                        RCPL Serial no.
                                    </th>*@
                                <th class="center col-md-2">
                                    Issue<br />Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itm in Model.POList)
                            {
                                Html.RenderPartial("_Partial_AssectList", itm);
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <a class="btn btn-sm default controls" href="@Url.Action("AssetAssignReassignCriteria", "FixAssets")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
                    @if (Model.POList.Count > 0)
                    {
                        <button type="button" id="btnSubmit" class="btn btn-sm green controls" disabled="disabled"><i class="fa fa-check"></i>&nbsp;Submit</button>
                    }
                </div>
            </div>
        }
    </div>
</div>
<script>
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            $.validator.addMethod('checkDCRSeries', function (value, element) {

                var ContId = $(element).attr("id").replace("AssectList_", "").replace("__MFGSrNo", "");

                var DocNO = value;

                var StrURL = DomainName + "/FixAssets/CheckMGFNo?DocNo=" + DocNO;
                var result1 = $.ajax({
                    async: false,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: StrURL,
                    dataType: 'json',
                    data: {},
                });
                var d1 = JSON.parse(result1.responseText);

                if (d1.CNT == "0") {
                    return true;
                }
                else {
                    $("#MFGError").val('Already Available MFG No.');
                    return false;
                }



            }, "Already Available MFG No. ");

            form1.validate({

                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                rules: {
                    //account dateFuture
                },
                messages: {


                    //'ServiceFor': {
                    //    required: "Please select at least one service for option",
                    //    minlength: jQuery.format("Please Select at Least One Service For Option")
                    //}
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    //if (element.parents('.checkbox-list').size() > 0) {
                    //    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    //} else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                    //}
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //  form1.submit();
                }
            });
        }


        var SubmitClick = function (DomainName) {
            $('#btnSubmit').click(function () {
                var form = $('#form_sample');
                if (form.valid() == false) {
                    return false;
                }
                App.blockUI({ boxed: true });
                document.forms["form_sample"].submit();
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                SubmitClick(DomainName);
                $(".date").val('');
                $(".drp").select2({ allowClear: true });

                $('.date-picker').datepicker({
                    isRTL: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,

                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    todayBtn: true
                });

                $("#IsAllEnabledPO").live('change', function () {
                    var checked = jQuery(this).is(":checked");

                    $(".clsPOCheck").each(function () {
                        if (checked) {
                            $("#btnSubmit").attr('disabled', false)
                            $(this).attr("checked", true);
                            $(this).parents('span').addClass("checked");
                            $(".req").addClass("required required2")
                        }
                        else {
                            $("#btnSubmit").attr('disabled', true)
                            $(this).attr("checked", false);
                            $(this).parents('span').removeClass("checked");
                            $(".req").removeClass("required required2")
                        }
                    });
                });

                $(".clsdecble").attr('readonly', true);

                $(".clsPOCheck").live('change', function () {
                    var checked = jQuery(this).is(":checked");
                    var itemIndex = $(this).attr("id").replace("AssectList_", "").replace("__IsEnabled", "");


                    if (checked) {

                        // $("#btnSubmit").attr('disabled', false)
                        $(this).attr("checked", true);
                        $(this).parents('span').addClass("checked");

                        $("#AssectList_" + itemIndex + "__AssignLoc").addClass("required required2")
                        $("#AssectList_" + itemIndex + "__AssignLoc").attr('readonly', false);
                        $("#AssectList_" + itemIndex + "__Description").addClass("required required2")
                        $("#AssectList_" + itemIndex + "__DpartName").addClass("required required2")
                        $("#AssectList_" + itemIndex + "__InstallDate").addClass("required required2")
                        $("#AssectList_" + itemIndex + "__Employee").addClass("required required2")
                        $("#AssectList_" + itemIndex + "__MFGSrNo").addClass("required required2")


                        $('#AssectList_' + itemIndex + '__AssignLoc').live('change', function () {
                            $('#AssectList_' + itemIndex + '__Employee').val('');
                            var values = $('#AssectList_' + itemIndex + '__AssignLoc').val();
                            JsonDDL('AssectList_' + itemIndex + '__Employee', DomainName + '/Master/GetEmployeeCodeList?Location=' + values);
                            //GetAllEmpCompanyJson
                        });

                        $(".clsDKTNO").each(function () {
                            $(this).rules("add", {
                                checkDCRSeries: true,
                            });
                        });

                        $('#AssectList_' + itemIndex + '__Employee').live('change', function () {
                            var EmpCode = $('#AssectList_' + itemIndex + '__Employee').val();
                            App.blockUI();
                            var strUrl = DomainName + '/FixAssets/GetDepartmentNameFromEmpcode?EmpCode=' + EmpCode;
                            App.blockUI({ boxed: true });
                            $.ajax({
                                url: strUrl,
                                cache: false,
                                data: {},
                                type: 'POST',
                                success: function (Data) {
                                    $('#AssectList_' + itemIndex + '__DpartName').val(Data.DptName);
                                    App.unblockUI();
                                },
                                error: function (req, status, error) {
                                    $(this).val('');
                                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                                    App.unblockUI();
                                    return false;
                                }
                            });
                        });
                    }
                    else {
                        // $("#btnSubmit").attr('disabled', true)
                        $(this).attr("checked", false);
                        $(this).parents('span').removeClass("checked");

                        $("#AssectList_" + itemIndex + "__AssignLoc").removeClass("required required2")
                        $("#AssectList_" + itemIndex + "__AssignLoc").attr('readonly', true);
                        $("#AssectList_" + itemIndex + "__Description").removeClass("required required2")
                        $("#AssectList_" + itemIndex + "__DpartName").removeClass("required required2")
                        $("#AssectList_" + itemIndex + "__InstallDate").removeClass("required required2")
                        $("#AssectList_" + itemIndex + "__Employee").removeClass("required required2")
                        $("#AssectList_" + itemIndex + "__MFGSrNo").removeClass("required required2")
                    }

                    var count = 0;
                    $('.clsPOCheck').each(function () {
                        if (this.checked) {
                            $("#IsAllEnabledPO").parent('span').removeClass('checked');
                            $("#btnSubmit").attr('disabled', false);
                            count = count + 1;
                        }
                    })
                    if (count == 0) {
                        $("#btnSubmit").attr('disabled', true);
                    }
                });

            }
        }
    }();
</script>