﻿@model FleetDataService.ViewModels.AssetUTILITYViewModel
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    ViewBag.Title = "Fix Asset Uitility GRN View Print";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("FixAssetTypeListSubmit", "FixAssets", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontalrow-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Fix ASSET UTILITY GRN VIEW PRINT LIST
                    </div>
                </div>
                <div class="portlet-body" id="divCrieteria">
                    <div class="form-body">
                        @Html.Hidden("ASSETTYPE", (string)ViewBag.ASSETTYPE)
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center"><b>GRN NO</b></th>
                                    <th class="center"><b>GRN DATE</b></th>
                                    <th class="center"><b>QTY</b></th>
                                    @*<th class="center"><b>Rate</b></th>*@
                                    <th class="center"><b>Bill AMT</b></th>
                                    <th class="center"><b>Balance QTY</b></th>
                                    <th class="center"><b>Location</b></th>
                                    <th class="center"><b>Assign</b></th>
                                    <th class="center"><b>View</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var itam in Model.CFALIST)
                                {
                                    Html.RenderPartial("_FIXUITILITYVIEPRINTGRNLIST", itam);
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-5 col-md-10">
                            <a href="@Url.Content("~/FixAssets/FixAssetUitilityGRNViewPrint")" class="btn btn-sm default"><i class=" fa fa-arrow-left"></i>&nbsp;Back To Critire</a>
                            <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                }
            });
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                handleDateRangePickers();
                $('#btnSubmit').hide();
            }
        }
    }();
</script>