﻿@model Fleet.ViewModels.FixAssetsMasterViewModel
@using FleetDataService.Models;
@{
    ViewBag.Title = "Fix Asset Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    FleetDataService.FixAssetService FAS = new FleetDataService.FixAssetService();
    List<webx_acctinfo> AccountList = FAS.GetAccountInfoList().ToList();
}
<div id="AddEditMaster"></div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
                <div class="caption pull-right">  
                    <a href="@Url.Content("~/Master/ExportData?MethodName=FixAssetMaster&FileName=Fix_Asset_List")" class="btn default btn-xs controls"><i class="fa fa-download"></i>&nbsp;Download Excel </a>                 
                    <a href="#" class="btn btn-xs default" id="addEdit" data-toggle="modal">
                        <i class="fa fa-plus"></i> Add Asset
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    <div class="form-group">
                        <div class="col-md-9">
                            <label class="control-label col-md-3">Select Accounts Groups</label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(c => c.AccountCode, new SelectList(AccountList, "Acccode", "Accdesc"), "", new { @class = "form-control select2", @placeholder = "Select Account Group" })
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div id="tblData">
                    <table class="table table-striped table-bordered table-hover" id="MasterList" style="overflow-x: scroll">
                        <thead>
                            <tr>
                                <th class="center">
                                    Sr No.
                                </th>
                                <th class="center">
                                    Asset Code
                                </th>
                                <th class="center">
                                    Asset Name
                                </th>
                                <th class="center">
                                    Units
                                </th>
                                <th class="center">
                                    Groups
                                </th>
                                <th class="center">
                                    Category
                                </th>
                                <th class="center">Edit</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-modal-lg" id="addEditModel" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.parents('.checkbox-list').size() > 0) {
                        error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        var handleDatePickerpage = function () {
            if ($('#ExpiryDate').val() == '01 Jan 0001') {
                $('#ExpiryDate').val('');
            }

            $('.date-picker').datepicker({
                isRTL: App.isRTL(),
                format: "dd M yyyy",
                autoclose: true,
                pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                todayBtn: true,
                startDate: new Date(),
            });
        }

        var GetObjectDet = function (id, DomainName) {
            App.blockUI({ boxed: true });
            var strurl = DomainName + '/FixAssets/GetMaster?AccestCode=' + id;
            $.ajax({
                url: strurl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#AddEditMaster").hide();
                    $("#AddEditMaster").html(data);
                    $("input:checkbox, input:radio").uniform();
                    $(".dropdown2").select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    App.unblockUI();
                    handleDatePickerpage();
                    $("#AddEditMaster").toggle(1000);
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        var bindTable = function (Id, DomainName, tblId) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/FixAssets/GetAssectByGroup?AccountCode=' + Id + "&AccountGroup=" + ""
            $.ajax({
                url: strUrl,
                type: 'POST',
                success: function (result) {
                    $('#' + tblId).dataTable({
                        "bDestroy": true
                    }).fnDestroy();
                    $('#' + tblId).DataTable({
                        data: result,
                        columns: [
                            { data: "Id" },
                            { data: "assetcd" },
                            { data: "assetname" },
                            { data: "units" },
                             { data: "Groupcd" },
                            { data: "category" },
                            { data: "assetcd" },
                       
                        ],
                        "aoColumnDefs": [
                              {
                                "aTargets": [6],
                                "mRender": function (data, type, full) {
                                    return '<button type="button" class="btn default btn-xs blue-stripe tooltips btnMasterEdit" title="Edit" id="btnEdit_' + data + '" data-id="' + data + '" rel="tooltip" data-placement="top"><i class="fa fa-pencil"></i>&nbsp;Edit</button>';
                                }
                            }, ],
                        "createdRow": function (row, data, index) {
                            $('td:gt(2)', row).addClass('center');
                            $('td:eq(0)', row).addClass('text-uppercase');
                            $('td:eq(1)', row).addClass('text-uppercase');
                        }
                    });
                    jQuery('#' + tblId + '_wrapper .dataTables_filter input').addClass("form-control input-medium input-inline"); // modify table search input
                    jQuery('#' + tblId + '_wrapper .dataTables_filter').addClass("pull-right");
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').select2(); // initialize select2 dropdown

                    $('#' + tblId).parents('.row').show(500);
                    $("#tblData").show(1000);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
              
                Formvalidate(DomainName);

                $("#tblData").hide();

                $("#addEdit").click(function () {
                    GetObjectDet("0", DomainName);
                });

                $(".btnCancel").live('click', function (e) {
                    $("#AddEditMaster").hide(1000);
                });

                $(".btnMasterEdit").live('click', function (e) {
                    var id = $(this).data('id');
                   
                    GetObjectDet(id, DomainName);
                });

                $("#btnSave").live('click', function (e) {
                   
                    var id = $("#GRPASSTCD").val()
                   
                    App.blockUI({ boxed: true });
                    if (e.handled !== true) // This will prevent event triggering more then once
                    {
                        e.handled = true;                                               
                        Formvalidate(DomainName);
                        if (!$('#form_sample').valid()) {
                            App.unblockUI();
                            return;
                        }
                        $.ajax({
                            url: DomainName + '/FixAssets/AddEditMaster',
                            cache: false,
                            data: $("#form_sample").serialize(),
                            type: 'GET',
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                if (data) {
                                    TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                    $("#AddEditMaster").hide(1000);                                    
                                    bindTable(id, DomainName, "MasterList");
                                }
                                else {
                                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                                }
                                App.unblockUI();
                            },
                            error: function (req, status, error) {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                                App.unblockUI();
                            }
                        });
                        $("input:checkbox, input:radio").uniform();
                    }
                });
                $('#AccountCode').change(function () {
                    if ($(this).val() == null || $(this).val() == "") {
                        $("#MasterList").html('');
                        $("#tblData").hide(1000);
                        return false;
                    }
                    var id = $(this).val();
                    bindTable(id, DomainName, "MasterList");
                });


            }
        }
    }();
</script>
