﻿@model FleetDataService.ViewModels.AssetUTILITYViewModel
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    ViewBag.Title = "Fix Asset Cretira";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("FixAssetTypeListSubmit", "FixAssets", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontalrow-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-List"></i>Fix Asset Utility List
                    </div>
                </div>
                <div class="portlet-body" id="divCrieteria">
                    <div class="form-body">
                        @Html.Hidden("ASSETTYPE", (string)ViewBag.ASSETTYPE)
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    @if (ViewBag.ASSETTYPE == "Dump" || ViewBag.ASSETTYPE == "Sale" || ViewBag.ASSETTYPE == "Reassign")
                                    {
                                        <th class="center"><b>Document No</b></th>
                                        <th class="center"><b>Branch</b></th>
                                        <th class="center"><b>Mfd Sr. No. </b></th>
                                        <th class="center"><b>RCPL Sr. No. </b></th>
                                        <th class="center"><b>Qty</b></th>
                                    }
                                    
                                    @if (ViewBag.ASSETTYPE == "Dump")
                                    {
                                        <th class="center"><b>Dump To Location</b></th>
                                        <th class="center"><b>Dump Type</b></th>
                                        <th class="center"><b>Dump Date</b></th>
                                    }
                                    
                                    @if (ViewBag.ASSETTYPE == "Sale")
                                    {
                                        <th class="center"><b>Sale To Whom</b></th>
                                        <th class="center"><b>Amount</b></th>
                                        <th class="center"><b>Sale Date</b></th>
                                    }

                                    @if (ViewBag.ASSETTYPE == "Reassign")
                                    {
                                        <th class="center"><b>Reassign To Loc.</b></th>
                                        <th class="center"><b>Employee</b></th>
                                        <th class="center"><b>Description</b></th>
                                        <th class="center"><b>GRN Code</b></th>
                                        <th class="center"><b>Reassign Date</b></th>
                                    }
                                    <th class="center"><b>View</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var itam in Model.CFALIST)
                                {
                                    Html.RenderPartial("_FIXUITILITYVIEPRINTLIST", itam);
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-5 col-md-7">
                            <a href="@Url.Content("~/FixAssets/FixAssetUitilityViewPrint")" class="btn btn-sm default"><i class="fa fa-arrow-left"></i>&nbsp;Back To Critire</a>
                            <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                }
            });
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                handleDateRangePickers();
                $('#btnSubmit').hide();
            }
        }
    }();
</script>