﻿@{
    ViewBag.Title = "FixAsset Utility Gadgets ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>Fixed Asset Utility
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Document Number
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @ViewBag.No
                            </td>
                            <td>
                                <a target="_blank" href="@Url.Action("Fixed_Asset_View", "ViewPrint", new { No = @ViewBag.No, Type = @ViewBag.Type })" class=" fa fa fa-print" id="ReportFrame"><b>&nbsp;View/Print</b></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                Click View and Print .
            </span>
        </div>
    </div>
</div>
