﻿@{
    ViewBag.Title = "FixAssets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="col-md-offset-3 col-md-6" >
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-bars"></i>Fix Assets
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                         
                    </thead>
                    <tbody>
                        <tr>
                            <th class="col-md-4">
                                Fix Asset Master
                            </th>
                            <th>                              
                                <a href="@Url.Action("FixAssetMaster", "FixAssets")" style="cursor:pointer;">  Add | Edit</a>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Purchase Order
                            </th>
                            <th>
                                <a href="@Url.Action("PurchaseOrder", "FixAssets")" style="cursor:pointer;"> New</a> |<a href="@Url.Action("GoodsRecieptNoteCretira", "FixAssets")" style="cursor:pointer;"> Goods Reciept Note </a>
</th>
                        </tr>
                        <tr>
                            <th>
                                Purchase Order Vendor Bill
                            </th>
                            <th>
                                 Generate Vendor Bill   | Payment OF Vendor Bill
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Asset Management
                            </th>
                            <th>
                                <a href="@Url.Action("AssignAssetCretira", "FixAssets")" style="cursor:pointer;"> Assign</a>                            
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Manuals
                            </th>
                            <th>
                                <a href="@Url.Action("DownloadZip", "FixAssets")" style="cursor:pointer;"> User Manual(ppt) </a>|<a href="@Url.Action("DownloadXls", "FixAssets")" style="cursor:pointer;"> Accounting Treatment(xls)</a>
</th>
                        </tr>
                        <tr>
                            <th>
                                Exception
                            </th>
                            <th>
                                PO Cancellation
                            </th>
                        </tr>
                        <tr>
                            <th>
                                View/Print
                            </th>
                            <th>
                                PO Details
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Reports
                            </th>
                            <th>
                                PO Register
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
 