﻿@model FleetDataService.ViewModels.BABillEnty
@using Fleet
@using Fleet.ViewModels
@{
    ViewBag.Title = "Goods Receipt Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> BlankList = new List<SelectListItem>();
    Model.WVH.BILLDT = System.DateTime.Now;
    Model.WVH.DUEDT = System.DateTime.Now;
    Model.WVH.VENDORBILLDT = System.DateTime.Now;
    var Date = Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy");
    
    objDate OD = new objDate();
    OD.ControlId = "WVH.BILLDT";
    OD.ControlValue = Model.WVH.BILLDT.ToString();
    OD.ModuleCode = "13";
}

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@ViewBag.Title
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("VendorBillSubmit", "FixAssets", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Purchase Order Code </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WVH.PoNo, new { placeholder = "System Generated", @readonly = "true", @class = "form-control" })
                                @Html.HiddenFor(m => m.WVH.StateCode)
                                @Html.HiddenFor(m => m.WVH.GSTType)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 clsvendor">
                        <div class="form-group">
                            <label class="control-label col-md-5">Date</label>
                            <div class="col-md-7" style="margin-top: 4px;">
                                @Date
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 clsvendor">
                        <div class="form-group">
                            <label class="control-label col-md-5">Vendor Name</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WVH.VENDORNAME, new { placeholder = "Vendor Name", @readonly = "true", @class = "form-control" })
                                @Html.HiddenFor(m => m.WVH.VENDORCODE)
                                @Html.HiddenFor(m => m.WVH.NVENDORNAME)

                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Vendor Credit Accounts </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WVH.Totalamt, new { placeholder = "Vendor Credit Accounts", @readonly = "true", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>

                <h4 class="form-section">Payments Voucher List</h4>
                <div class="portlet-body clsMF flip-scroll">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                            <tr>
                                <th class="center">
                                    PO Code
                                </th>
                                <th class="center">
                                    PO Date
                                </th>

                                <th class="center">
                                    Vendor
                                </th>
                                <th class="center">
                                    Assign
                                </th>
                            </tr>
                        </thead>
                        <tbody id="Bodycontainer5">
                            @if (Model.POList != null)
                            {
                                foreach (var itm in Model.POList)
                                {
                                    itm.GSTType = Model.WVH.GSTType;
                                    Html.RenderPartial("_GoodRecieptEntry", itm);
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <a class="btn btn-sm default controls" href="@Url.Action("GoodsRecieptNoteCretira", "FixAssets")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To FixAsset</a>
                    @*<a class="btn btn-sm default controls" href="@Url.Action("GoodsRecieptNoteCretira", "FixAssets")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
                        @if (Model.POList.Count > 0)
                        {
                            <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        }*@
                </div>
            </div>
        }
    </div>
</div>
<script>
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                messages: {

                    //'ServiceFor': {
                    //    required: "Please select at least one service for option",
                    //    minlength: jQuery.format("Please Select at Least One Service For Option")
                    //}
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    //if (element.parents('.checkbox-list').size() > 0) {
                    //    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    //} else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                    //}
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //  form1.submit();
                }
            });
        }

        var SubmitClick = function (DomainName) {
            $('#btnSubmit').click(function () {
                var form = $('#form_sample');
                if (form.valid() == false) {
                    return false;
                }
                App.blockUI({ boxed: true });
                document.forms["form_sample"].submit();
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                SubmitClick(DomainName);
                $("#IsAllEnabledPO").live('change', function () {
                    var checked = jQuery(this).is(":checked");

                    $(".clsPOCheck").each(function () {
                        if (checked) {
                            $(".amt").each(function () {
                                $("#WVH_ADVAMT").val($(this).val())
                            });
                            $(this).attr("checked", true);
                            $(this).parents('span').addClass("checked");
                        }
                        else {
                            $(this).attr("checked", false);
                            $(this).parents('span').removeClass("checked");
                            $("#WVH_ADVAMT").val("")
                        }
                    });
                });

                $(".clsPOCheck").live('change', function () {
                    var checked = jQuery(this).is(":checked");
                    $(".amt").each(function () {
                        if (checked) {
                            $(this).attr("checked", true);
                            $(this).parents('span').addClass("checked");
                            $("#WVH_ADVAMT").val($(this).val())
                        }
                        else {
                            $(this).attr("checked", false);
                            $(this).parents('span').removeClass("checked");
                            $("#WVH_ADVAMT").val("")
                        }
                    });
                });
            }
        }
    }();
</script>