﻿@{
    ViewBag.Title = "Goods Reciept Note Cretira";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model  FleetDataService.ViewModels.FuelBillEntyQuery

<div class="row">
    <div class="col-md-10">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("GoodsReceipt", "FixAssets", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
                {
                    @Html.Hidden("Id", Model.Type)
                    {
                        Html.RenderPartial("../UserControls/_POBillQuery", Model);
                    }
                }
            </div>
        </div>
    </div>
</div>