﻿@model Fleet.ViewModels.FixAssetPrintViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    ViewBag.Title = "PO Cancellation List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("POCancellationSubmit", "FixAssets", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row" id="divList">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5"> Enter PO Cancellation Date:</label>
                                    <div class="input-group input-small  date date-picker col-md-7">
                                        @Html.HiddenFor(m => m.FixAssetModel.selectDate)
                                        @Html.TextBox("FromDate", String.Format("{0:dd MMM yyyy }", ""), new { @class = " form-control form_meridian_datetime required2 required", @readonly = "true", @style = "width:150px;" })
                                        <span class="input-group-btn">
                                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5"> Cancel Reason:</label>
                                    <div class="input-group col-md-7">
                                        @Html.TextAreaFor(m => m.FixAssetModel.CancelReason, new { placeholder = "Select Cancel Reason", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 class="form-section"></h4>
                        <table class="table table-striped table-bordered table-hover" id="Sample1">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        <input type="checkbox" id="chkCheckAll" />
                                    </th>
                                    <th class="center">
                                        PO Code
                                    </th>
                                    <th class="center">
                                        PO Date
                                    </th>
                                    <th class="center">
                                        Vendor
                                    </th>
                                    <th class="center">
                                        Paid Amt.
                                    </th>
                                    <th class="center">
                                        Pending Amt.
                                    </th>
                                    <th class="center">
                                        Total Amt.
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="Advice">
                                <tr>
                                    @foreach (var item in Model.ListPoCancellation)
                                    {
                                        Html.RenderPartial("_POCancellationList", item);
                                    }
                                </tr>
                                @if (Model.ListPoCancellation.Count == 0)
                                {
                                    <tr>  <td class="center" colspan="13"><b>No Records Found</b></td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p style="color:red;">
        Select atleast one checkbox to view <strong>Submit</strong> button.
    </p>
    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <a class="btn btn-sm default" href="@Url.Content("~/FixAssets/POCancellationCriteria")">
                <i class="fa fa-arrow-left"> </i>
                Back To Criteria
            </a>
            <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Cancel PO List</button>
        </div>
    </div>

}


<script type="text/javascript">
    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#form_sample');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    document.form["form_sample"].submit();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                handleDatePicker();
                $('#btnSubmit').hide();
                $('.IsCheck').attr("value", "N");
                // var Id = $('.clsPodate').attr("ID").replace("PoCanList_HQTR_PO_", "").replace("__podate", "");
                //alert(Id);

                $(document).on('click', '#chkCheckAll', function () {
                    $('.IsCheck').prop('checked', $(this).prop('checked'));
                    if ($(this).prop('checked')) {
                        $('.IsCheck').parent('span').addClass('checked');
                        $('.IsCheck').val("Y");
                        $('#btnSubmit').show();
                    }
                    else {
                        $('.IsCheck').parent('span').removeClass('checked');
                        $('.IsCheck').val("N");
                        $('#btnSubmit').hide();
                    }
                });

                $(document).on('change', ".IsCheck", function () {
                    var chkId = $(this).attr('id');
                    if (this.checked) {
                        $(this).val("Y");

                    }
                    else {
                        $(this).val("N");

                    }
                    var count = 0;
                    $('.IsCheck').each(function () {
                        if (this.checked) {
                            $("#chkCheckAll").parent('span').removeClass('checked');
                            count = count + 1;
                        }
                    })
                    if (count == 0) {
                        $('#btnSubmit').hide();
                    }
                    else {
                        $('#btnSubmit').show();
                    }
                });


                $('#FromDate').change(function () {

                    $('#FixAssetModel_selectDate').val($(this).val());
                });

            }
        };
    }();

</script>









