﻿@model Fleet.ViewModels.POOrderViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "POOrderDone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i> Purchase Order Done Sucessfully
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Purchase Order
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Model.pocode
                            </td>
                            <td>
                                <a class=" btn blue" target="_blank" href="@Url.Content("~/ViewPrint/Po_Generation_ViewPrint?NO=" + Model.pocode)">View / Print</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                Click Here <a href="@Url.Action("PurchaseOrder", "FixAssets")"><b> To New Purchase Order </b></a>
            </span>
        </div>
    </div>
</div>