﻿@model Fleet.ViewModels.POOrderViewModel
@using FleetDataService.Models
@using Fleet.Models
@{
    ViewBag.Title = "Purchase Order";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> generalMasterList = MS.GetGeneralMasterObject().ToList();
}
<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@ViewBag.Title
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("FAPurchaseOrderSubmit", "FixAssets", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <h4 class="form-section"> General Information</h4>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">P.O. ID  </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.pocode, new { placeholder = "System Generated", @readonly = "true", @class = "required2 form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5"> P.O. Date </label>
                            <div class="col-md-7">
                                <div class="input-group date date-picker" data-date-format="dd MMM yyyy"  data-date-end-date="+0d">
                                    @Html.TextBox("podate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.podate).ToString("dd MMM yyyy")), new { @class = "form-control", @readonly = "True", @style = "padding-right: 0px;" })
                                    <span class="input-group-btn">
                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 clsvendor">
                        <div class="form-group">
                            <label class="control-label col-md-5">Vendor Code</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.VENDORCD, new { placeholder = "Select Vendor Code", @class = "required2 required form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Credit Account</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.acccode, new { placeholder = "Credit Account", @class = "required2 required form-control", @readonly = true })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    @*<div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">GST Percentage </label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(c => c.GSTPercentage, new SelectList(generalMasterList.Where(c => c.CodeType.ToUpper() == "GSTPER" && c.StatusCode == "Y").OrderBy(c => int.Parse(c.CodeDesc)), "CodeDesc", "CodeDesc"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select GST Percentage" })
                                </div>
                            </div>
                        </div>*@

                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Quotation No.</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.qutno, new { placeholder = "Quotation No.", @class = "form-control" })

                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5"> Quotation Date:  </label>
                            <div class="col-md-7">
                                <div class="input-group date date-picker" data-date-format="dd MMM yyyy"  data-date-end-date="+0d">
                                    @Html.TextBox("qutdate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.qutdate).ToString("dd MMM yyyy")), new { @class = "form-control", @readonly = "True", @style = "padding-right: 0px;" })
                                    <span class="input-group-btn">
                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Requisition No.</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.reqno, new { placeholder = "Requisition No.", @class = "form-control" })

                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5"> RequisitionDate:  </label>
                            <div class="col-md-7">
                                <div class="input-group date date-picker" data-date-format="dd MMM yyyy"  data-date-end-date="+0d">
                                    @Html.TextBox("reqdt", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.reqdt).ToString("dd MMM yyyy")), new { @class = "form-control", @readonly = "True", @style = "padding-right: 0px;" })
                                    <span class="input-group-btn">
                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Kind Attn.</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.attn, new { placeholder = "Kind Attn.", @class = "form-control" })
                                @Html.HiddenFor(m => m.TotalQty)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">UPLOAD IMAGE</label>
                            <div class="col-md-7">
                                <div class="col-md-12" data-title="Upload Document">
                                    <div class="fileinput fileinput-new  col-md-9" id="divfileupload_@Model.Image" data-provides="fileinput">
                                        <input type="hidden" value="@Model.Image" name="files">
                                        <div class="fileinput-new thumbnail imgDefault col-md-6 center" style="max-width: 120px; max-height: 115px; line-height: 10px;">
                                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail imgExists col-md-6" style="max-width: 120px; max-height: 115px; line-height: 10px;">
                                            <img src="~/Images/DebitAndCreditVoucher/@Model.Image" alt="">
                                        </div>
                                        <div class="col-md-3" style="width: 50px;height:50px;">
                                            <span class="btn default btn-file">
                                                <span class="fileinput-new imgDefault">
                                                    Select File
                                                </span>
                                                <span class="fileinput-exists imgExists">
                                                    Change File
                                                </span>
                                                <input type="file" id="@Model.qutno" name="files" class="default">
                                            </span><br>
                                            <a href="#" class="btn default fileinput-exists imgExists" data-dismiss="fileinput" style="margin-top:5px">
                                                Remove File
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <h4 class="form-section">Assets Details</h4>
                <div class="row">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-5">No Of Rows </label>
                            <div class="col-md-7">
                                @Html.TextBox("Assect", "0", new { placeholder = "No. Rows", @class = "required2 form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <a id="btnAddRows" class="btn  @ViewBag.TableBoxColor right">
                            Add New Row <i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                </div>
                <br />
                <div class="portlet-body clsMF flip-scroll">
                    <table class="table table-bordered table-striped table-condensed flip-content" id="sample_1">
                        <thead class="flip-content">
                            <tr>
                                <th class="center">
                                    Sr No.
                                </th>
                                <th class="center col-md-3">
                                    Asset Code
                                </th>
                                <th class="center">
                                    HSN/SAC
                                </th>
                                <th class="center">
                                    Description
                                </th>
                                <th class="center">
                                    Qty.
                                </th>
                                <th class="center">
                                    Rate
                                </th>
                                <th class="center">
                                    Taxable Amount
                                </th>
                                <th class="center">
                                    % Of GST(+)
                                </th>
                                <th class="center">
                                    Other Charge(+)
                                </th>
                                <th class="center">
                                    Total Amount
                                </th>
                                <th class="center">
                                    X
                                </th>
                            </tr>
                        </thead>
                        <tbody id="Bodycontainer">
                            @foreach (var itm in Model.ListPO)
                            {
                                Html.RenderPartial("_Partial_PurchaseOrder", itm);
                            }
                        </tbody>
                        <tr>
                            <td colspan="3"></td>
                            <td colspan="2"><b>Terms & Conditions</b></td>
                            <td colspan="3">
                                <div class="form-group" style="margin-bottom: 0px; padding-bottom: 2px; padding-top: 2px;">
                                    <div class="col-md-11">
                                        @Html.TextAreaFor(m => m.terms_condition, new { placeholder = "Term & condition", @class = "form-control" })
                                    </div>
                                </div>
                            </td>
                            <td><b>Total</b></td>
                            <td>
                                <div class="form-group" style="margin-bottom: 0px; padding-bottom: 2px; padding-top: 2px;">
                                    <div class="col-md-11">
                                        @Html.TextBoxFor(m => m.TotalAmount, new { placeholder = "Total Amount", @readonly = "true", @class = "form-control" })
                                    </div>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <br />
            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <a class="btn btn-sm default controls" href="@Url.Action("PurchaseOrder", "FixAssets")"> <i class="fa fa-refresh"> </i>&nbsp;Reset</a>
                    <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                </div>
            </div>
        }
    </div>
</div>


<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName, formName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form1) {
                    success1.show();
                    error1.hide();
                }

            });
        }

        var Events = function (DomainName) {
            $("#btnSubmit").click(function () {
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                }
                else {
                    return false
                }
            });

        };

        var AddQuestions = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/FixAssets/ADDPoOrder?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#Bodycontainer").append(html);
                    JsonDDL("PoList_" + itemIndex + "__assetcd", DomainName + '/FixAssets/SearchAssetListJson');

                    var Qty = '#PoList_' + itemIndex + '__qty';
                    var Rate = '#PoList_' + itemIndex + '__rate';
                    var Total = '#PoList_' + itemIndex + '__total';
                    var TaxPer = '#PoList_' + itemIndex + '__tax_per';
                    var Othercharge = '#PoList_' + itemIndex + '__OtherCharge';

                    //$(TaxPer).val($('#GSTPercentage').val());

                    $(Qty).live('blur', function () {
                        ToatalAmount(itemIndex);
                    });

                    $(Rate).live('blur', function () {
                        ToatalAmount(itemIndex);
                    });

                    //$(TaxPer).live('blur', function () {
                    //    ToatalAmount(itemIndex);
                    //});
                    $(TaxPer).select2();

                    $(Othercharge).live('blur', function () {
                        ToatalAmount(itemIndex);
                    });

                    $(".gstPercentage").on("change", function () {
                        ToatalAmount($(this).attr('id').replace("PoList_", "").replace("__tax_per", ""));
                    });

                    App.unblockUI();

                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }

        var ToatalAmount = function (itemIndex) {
            var FinalVal = 0;
            var Qty = '#PoList_' + itemIndex + '__qty';
            var Rate = '#PoList_' + itemIndex + '__rate';
            var Total = '#PoList_' + itemIndex + '__total';
            var TaxPer = '#PoList_' + itemIndex + '__tax_per';
            var Othercharge = '#PoList_' + itemIndex + '__OtherCharge';
            var TaxAmount = '#PoList_' + itemIndex + '__TaxAmount';
            var taxableAmt = '#PoList_' + itemIndex + '__taxableAmt';

            $(Qty).val(parseFloat($(Qty).val()).toFixed(2));
            $(Rate).val(parseFloat($(Rate).val()).toFixed(3));
            $(Total).val(parseFloat($(Total).val()).toFixed(2));

            var subtotal = (parseFloat($(Qty).val()) * parseFloat($(Rate).val()));

            /*Taxable Amount*/
            $(taxableAmt).val(parseFloat(subtotal).toFixed(2));

            /*Tax*/
            var txAmount = subtotal * parseFloat($(TaxPer).val()) / 100;
            subtotal = subtotal + (txAmount);
            $(TaxAmount).val(parseFloat(!($.isNumeric(txAmount)) ? 0 : txAmount).toFixed(2));

            /*Other*/
            subtotal = subtotal + parseFloat(!($.isNumeric($(Othercharge).val())) ? 0 : $(Othercharge).val());

            /*Total Amount*/
            $(Total).val(parseFloat(!($.isNumeric(subtotal)) ? 0 : subtotal).toFixed(2));

            $(".total").each(function () {
                var val = Number($(this).val());
                FinalVal += val;
            });

            $("#TotalAmount").val((FinalVal).toFixed(2));

            var Finalqty = 0;
            $(".qty").each(function () {
                var val = Number($(this).val());
                Finalqty += val;
            });
            $("#TotalQty").val((Finalqty).toFixed(2));
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName, "form_sample");
                //$("#podate").val('');
             //   $("#qutdate").val('');
                Events(DomainName);

                var Qty = '#PoList_' + 1 + '__qty';
                var Rate = '#PoList_' + 1 + '__rate';
                var Total = '#PoList_' + 1 + '__total';
                var TaxPer = '#PoList_' + 1 + '__tax_per';
                var Othercharge = '#PoList_' + 1 + '__OtherCharge';

                $(Qty).live('blur', function () {
                    ToatalAmount(1);
                    var ONE = (parseFloat($(Qty).val()) * parseFloat($(Rate).val())) * (parseFloat($(TaxPer).val()) / 100);
                    $(Total).val((parseFloat($(Qty).val()) * parseFloat($(Rate).val()) + parseFloat($(Othercharge).val()) + parseFloat(ONE)).toFixed(2));

                });
                $(Rate).live('blur', function () {
                    ToatalAmount(1);
                    var ONE = (parseFloat($(Qty).val()) * parseFloat($(Rate).val())) * (parseFloat($(TaxPer).val()) / 100);
                    $(Total).val((parseFloat($(Qty).val()) * parseFloat($(Rate).val()) + parseFloat($(Othercharge).val()) + parseFloat(ONE)).toFixed(2));
                });
                $(Othercharge).live('blur', function () {
                    $("#PoList_" + 1 + "__OtherCharge").val() == "" ? $("#PoList_" + 1 + "__OtherCharge").val(0) : $("#PoList_" + 1 + "__OtherCharge").val()
                    ToatalAmount(1);
                    var ONE = (parseFloat($(Qty).val()) * parseFloat($(Rate).val())) * (parseFloat($(TaxPer).val()) / 100);
                    $(Total).val((parseFloat($(Qty).val()) * parseFloat($(Rate).val()) + parseFloat($(Othercharge).val()) + parseFloat(ONE)).toFixed(2));
                });

                $(".gstPercentage").on("change", function () {
                    ToatalAmount($(this).attr('id').replace("PoList_", "").replace("__tax_per", ""));
                });

                $("#GSTPercentage").change(function () {
                    var GSTPer = $(this).val();
                    $('.clsTaxPer').each(function () {
                        $(this).val(GSTPer);
                        ToatalAmount($(this).data('id'));
                    });
                });

                JsonDDL('PoList_1__assetcd', DomainName + '/FixAssets/SearchAssetListJson')
                JsonDDL('VENDORCD', DomainName + '/Master/SearchVendorListJson')
                $('.date-picker').datepicker({
                    isRTL: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    todayBtn: true,
                  //  startDate: new Date(),
                });
                $("#btnAddRows").live('click', function () {
                    var itemIndex = $("#sample_1 input.iHidden").length;
                    var TOTROW = $("#Assect").val();
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            itemIndex = itemIndex + 1;
                            AddQuestions(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });
                $("a.orderdeleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    ToatalAmount(1);
                    return false;
                });

                $("#VENDORCD").live('change', function () {
                    var VendorCode = $("#VENDORCD").val();
                    App.blockUI();
                    var strUrl = DomainName + '/FixAssets/vendorCodeChngeBindCreditAc?VendorCode=' + VendorCode;
                    App.blockUI({ boxed: true });
                    $.ajax({
                        url: strUrl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (Data) {
                            $("#acccode").val(Data.CreditAccCode);
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            $(this).val('');
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                            return false;
                        }
                    });
                });
            }
        }
    }();
</script>