﻿@{
    ViewBag.Title = "Wave Off FixAsset Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (@ViewBag.Message.ToUpper() == "DONE")
{
    <div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-check"></i>Wave Off of FixAsset Successfully Done
                </div>
            </div>
            <div class="portlet-body">
                <div class="margin-top-10 margin-bottom-10 clearfix">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Wave Off Of Asset Item
                                </th>
                                 
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <b>@ViewBag.AssetCode</b>
                                </td>
                                 
                            </tr>
                        </tbody>
                    </table>
                </div>
                @*<span class="label label-danger">
                    NOTE!
                </span>&nbsp;
                <span>
                    Click on  Voucher No for View and Print .
                </span>*@
            </div>
        </div>
    </div>
}
else
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-danger fade in center">
            <h2 class="alert-heading">Opps! Voucher Generation Fail.</h2>
            <h4>
                There is some issue with process. <br />Please check your internet connection else contact your administrator or service provider.
            </h4>
        </div>
    </div>
}