﻿@model FleetDataService.ViewModels.AssetUTILITYViewModel
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    ViewBag.Title = "Wave Off FixAssets List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("WaveOffFixAssetSubmit", "FixAssets", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontalrow-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Header
                    </div>
                    <div class="caption pull-right">
                        <a class="btn default btn-xs" href="@Url.Content("~/FixAssets/WaveOffFixAssetsCriteria")">
                            <i class="fa fa-arrow-left"> </i>&nbsp;
                            Back To Criteria
                        </a>
                    </div>
                </div>

                <div class="portlet-body" id="divCrieteria">
                    <div class="form-body">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class ="center"><b>Is Wave Off</b></th>
                                    <th class="center"><b>Branch</b></th>
                                    <th class="center"><b>Item Name </b></th>
                                    <th class="center"><b>Employee</b></th>
                                    <th class="center"><b>Department Name</b></th>
                                    <th class="center"><b>Description</b></th>
                                    <th class="center"><b>RCPL SR.No.</b></th>
                                    <th class="center"><b>RCPL MF.No</b></th>
                                    <th class="center"><b>Expiry Date</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var itam in Model.WFTDLIST)
                                {
                                    Html.RenderPartial("_WaveOffListPartial", itam);
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-5 col-md-10">
                            <a href="@Url.Content("~/FixAssets/WaveOffFixAssetsCriteria")" class="btn btn-sm default"><i class=" fa fa-arrow-left"></i>&nbsp;Back To Criteria</a>
                            <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },
                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    //App.blockUI({ boxed: true });
                    //document.forms["form_sample"].submit();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);

                $('#btnSubmit').click(function () {
                    Formvalidate(DomainName);
                    if ($("#form_sample").valid()) {
                        App.blockUI({ boxed: true });
                        document.forms["form_sample"].submit();
                    }
                });

                $('#btnSubmit').hide();

                $('.CLSCHK').click(function () {

                    totchk = 0;

                    var id = $(this).attr('id').replace("CheckBox", "");
                    var checked = jQuery(this).is(":checked");
                    $('.CLSCHK').each(function () {
                        var checked1 = jQuery(this).is(":checked");
                        if (checked1)
                            totchk++;
                        if (totchk == 0)
                            $('#btnSubmit').hide();
                        else
                            $('#btnSubmit').show();
                    });
                });


            }
        }
    }();
</script>

