﻿@model Fleet.ViewModels.AgentBillList
<tr>
    <td class="center">
        @Model.OCBILLNO
    </td>
    <td class="center">
        @Model.BillDt
    </td>
    <td class="center">
        @Model.BillBranch
    </td>
    <td class="center">
        @Model.Agent
    </td>
    <td class="center">
        @Model.AgentBillDt
    </td>
    <td class="center">
        @Model.BillAmt
    </td>
    <td class="center">
        <a class=" btn btn-xs default blue-stripe" href="@Url.Content("~/ViewPrint/Agent_Bill_ViewPrint?NO=" + @Model.OCBILLNO)" onclick="window.open(this.href, 'RCPL','left=20,top=20,width=900,height=620,toolbar=1,resizable=0'); return false;"><i class="fa fa-print"></i>&nbsp;View</a>
        @*<a class=" btn blue" target="_blank" href="@Url.Content("http://192.52.243.165/TMSS/GUI/Octroi_Ver1/AgentBillEntry/Agent_Bill_Entry_ViewPrint.aspx?billno=" + @Model.OCBILLNO + "&printyn=0")">View</a>
            <a class=" btn blue" target="_blank" href="@Url.Content("http://192.52.243.165/TMSS/GUI/Octroi_Ver1/AgentBillEntry/Agent_Bill_Entry_ViewPrint1.aspx?billno=" + @Model.OCBILLNO + "&printyn=1")">Print</a>*@
    </td>
</tr>