﻿@model Fleet.ViewModels.AgentVoucherBillList
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers

@using (Html.BeginCollectionItem("AgentVoucherBillViewPrint", Model.VOUCHERNO.ToString()))
{
    <tr>

        <td class="center">
            @Model.VOUCHERNO
        </td>
        <td class="center">
            @Model.PayDt
        </td>
        <td class="center">
            @Model.BillBranch
        </td>
        <td class="center">
            @Model.Agent
        </td>
        <td class="center">
            @Model.BillAmt
        </td>
        <td class="center">
            @Model.PendAmt
        </td>
        <td class="center">
            @*<a class=" btn blue" target="_blank" href="@Url.Content("http://192.52.243.165/TMSS/GUI/Octroi_Ver1/BillEntry_Payment/PaymentVoucherView.aspx?Voucherno=" + @Model.VOUCHERNO + "&printyn=0")">View</a>
            <a class=" btn blue" target="_blank" href="@Url.Content("http://192.52.243.165/TMSS/GUI/Octroi_Ver1/BillEntry_Payment/PaymentVoucherView1.aspx?Voucherno=" + @Model.VOUCHERNO + "&printyn=1")">Print</a>*@
            <a class=" btn blue" target="_blank" href="@Url.Content("~/ViewPrint/BillPaymentView?VoucherNO=" + @Model.VOUCHERNO + "&Type=BillPayment")"><i class="fa fa-print"></i>View | Print</a>
        </td>


    </tr>
}
