﻿@model FleetDataService.Models.webx_BILLMST
@using CYGNUS.Models;
@using Fleet.Classes;
@using Fleet.Helpers;
@{
    string TRID = "TR" + Model.BILLNO.Replace("/", "_").ToString();
    Model.Col_Amt = Model.PENDAMT;
    Model.Netamt = Model.PENDAMT;
}

@using (Html.BeginCollectionItem("BillList", Model.BILLNO.Replace("/", "_").ToString()))
{
    <td class="center">
        @Model.SrNo
    </td>
    <td>
        @Model.BILLNO
        @Html.HiddenFor(m => m.BILLNO)
    </td>
    <td>
        @Model.BILLTYPE
        @Html.HiddenFor(m => m.BILLTYPE)
        @Html.HiddenFor(m => m.PAYBAS)
    </td>
    <td>
        @Model.BGNDTStr
        @Html.HiddenFor(m => m.BGNDT)
    </td>
    <td>
        @Model.BILLAMT
        @Html.HiddenFor(c => c.BILLAMT)
    </td>
    <td>
        @Model.PENDAMT
        @Html.HiddenFor(c => c.PENDAMT, new { @class = "form-control required2 clsPENDAMT", @number = "true", @maxlength = "8", @minlength = "0", style = "text-align: right;", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
    </td>
    <td>
        @Html.TextBoxFor(c => c.Col_Amt, new { @class = "form-control required2 clsCollectAmt", @number = "true", @maxlength = "8", @minlength = "0", style = "text-align: right;", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @max = Model.PENDAMT })
    </td>
    <td>
        @Html.TextBoxFor(c => c.UNEXPDED, new { @class = "form-control required2 clsBalanceAMT", @number = "true", @maxlength = "8", @readonly = "true", @minlength = "0", style = "text-align: right;", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
    </td>
    <td>
        @Html.TextBoxFor(c => c.TDSDED, new { @class = "form-control required2 clsTDS", @number = "true", @max = Model.maxTDSAmt, @maxlength = "8", @minlength = "0", style = "text-align: right;", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        @*@if (Model.IsTDSApplicable)
        {
            @Html.TextBoxFor(c => c.TDSDED, new { @class = "form-control required2 clsTDS", @number = "true", @maxlength = "8", @minlength = "0", style = "text-align: right;", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        }
        else
        {
            @Html.TextBoxFor(c => c.TDSDED, new { @class = "form-control required2 clsTDS", @number = "true", @maxlength = "8", @minlength = "0", style = "text-align: right;", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @readonly = true })
        }*@
    </td>
    <td>
        @Html.TextBoxFor(c => c.Freight_Deduction, new { @class = "form-control required2 clsFrtDed", @number = "true", @maxlength = "8", @minlength = "0", style = "text-align: right;", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
    </td>
    <td style="display:none">
        @Html.TextBoxFor(c => c.Claim_Deduction, new { @class = "form-control required2 clsClaimDed", @number = "true", @maxlength = "8", @minlength = "0", style = "text-align: right;", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
    </td>
    <td>
        @Html.TextBoxFor(c => c.Other_Amount, new { @class = "form-control required2 clsOtherAmt", @number = "true", @maxlength = "8", @minlength = "0", style = "text-align: right;", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
    </td>
    <td>
        @Html.TextBoxFor(c => c.Netamt, new { @class = "form-control required2 ClsNetAmt", @readonly = "true", @number = "true", @maxlength = "20", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
    </td>
    <td>
        @Html.TextAreaFor(c => c.REMARK, new { @class = "form-control required2", placeholder = "Remark" })
    </td>
}

