﻿@model FleetDataService.Models.webx_BILLMST
@using Fleet.Helpers
@using Fleet.Classes
@{
    GeneralFuncations GF = new GeneralFuncations();
}
@using (Html.BeginCollectionItem("BillViewPrint", Model.BILLNO.ToString()))
{
    <tr style="font-size: smaller;">
        <td style="white-space: pre-line;padding-left: 1px;padding-right: 0px;">
            <a style="font-size: 8px;" href="@Url.Action("BillViewPrint", "ViewPrint", new { BillNo = @Model.BILLNO, Type = "1" })" onclick="window.open(this.href, 'Fleet','left=20,top=20,width=1240,height=620,toolbar=1,resizable=0'); return false;" id="ReportFrame"><b>@Model.BILLNO</b></a>
            @*<a target="_blank" style="font-size: 8px;" href="@Url.Action("BillViewPrint", "ViewPrint", new { BillNo = @Model.BILLNO, Type = "1" })" id="ReportFrame"><b>@Model.BILLNO</b></a>*@
            @Html.HiddenFor(m => m.BILLNO)
        </td>
        <td style="white-space: pre-line;padding-left: 1px;padding-right: 0px;">
            <a style="font-size: 8px;" href="@Url.Action("BillViewPrint", "ViewPrint", new { BillNo = @Model.BILLNO, Type = "2" })" onclick="window.open(this.href, 'Fleet','left=20,top=20,width=1240,height=620,toolbar=1,resizable=0'); return false;" id="ReportFrame"><b>@Model.BILLNO</b></a>
            @*<a target="_blank" style="font-size: 8px;" href="@Url.Action("BillViewPrint", "ViewPrint", new { BillNo = @Model.BILLNO, Type = "1" })" id="ReportFrame"><b>@Model.BILLNO</b></a>*@
        </td>
        <td style="white-space: pre-line">
            @Model.BBRCD
        </td>
        <td style="white-space: pre-line">
            <span style="white-space: pre-line">@Model.PTMSNM</span>
        </td>
        <td>
            @Model.PAYBAS
        </td>
        <td>
            @Model.BILAMT
        </td>
        <td style="white-space: pre-line" class="center">
            @if (!string.IsNullOrEmpty(GF.FormateDateWithFullYear(Model.BGNDT)))
            {
                @GF.FormateDateWithFullYear(Model.BGNDT)
            }
            else
            {
                <span>-</span>
            }
        </td>
        <td style="white-space: pre-line" class="center">
            @if (!string.IsNullOrEmpty(GF.FormateDateWithFullYear(Model.BSBDT)))
            {
                @GF.FormateDateWithFullYear(Model.BSBDT)
            }
            else
            {
                <span>-</span>
            }
        </td>
        <td style="white-space: pre-line" class="center">
            @if (!string.IsNullOrEmpty(GF.FormateDateWithFullYear(Model.BDUEDT)))
            {
                @GF.FormateDateWithFullYear(Model.BDUEDT)
            }
            else
            {
                <span>-</span>
            }
        </td>
        <td style="white-space: pre-line" class="center">
            @if (!string.IsNullOrEmpty(GF.FormateDateWithFullYear(Model.BCLDT)))
            {
                @GF.FormateDateWithFullYear(Model.BCLDT)
            }
            else
            {
                <span>-</span>
            }
        </td>
        <td style="white-space: pre-line">
            @Model.BILLSTATUS
        </td>
        <td style="white-space: pre-line;padding-left: 1px;padding-right: 0px;">
            <a style="font-size: 8px;" href="@Url.Action("CoveringViewPrint", "ViewPrint", new { BillNo = @Model.BILLNO, Type = "2" })" onclick="window.open(this.href, 'Fleet', 'left=20,top=20,width=1240,height=620,toolbar=1,resizable=0'); return false;" id="ReportFrame"><b>@Model.BILLNO</b></a>
            @*<a target="_blank" style="font-size: 8px;" href="@Url.Action("CoveringViewPrint", "ViewPrint", new { BillNo = @Model.BILLNO, Type = "2" })" id="ReportFrame"><b>@Model.BILLNO</b></a>*@
        </td>
        <td style="white-space: pre-line;padding-left: 1px;padding-right: 0px;">
            <a style="font-size: 8px;" href="@Url.Action("BillDetails_ViewPrint", "ViewPrint", new { BillNo = @Model.BILLNO, Type = "2" })" onclick="window.open(this.href, 'Fleet', 'left=20,top=20,width=1240,height=620,toolbar=1,resizable=0'); return false;" id="ReportFrame"><b>@Model.BILLNO</b></a>
            @*<a target="_blank" style="font-size: 8px;" href="@Url.Action("BillDetails_ViewPrint", "ViewPrint", new { BillNo = @Model.BILLNO, Type = "2" })" id="ReportFrame"><b>@Model.BILLNO</b></a>*@
        </td>
        <td style="white-space: pre-line;padding-left: 1px;padding-right: 0px;">
            <a style="font-size: 8px;" href="@Url.Action("Bill_Portait_Invoice_ViewPrint", "ViewPrint", new { BillNo = @Model.BILLNO, Type = "1" })" onclick="window.open(this.href, 'Fleet', 'left=20,top=20,width=1240,height=620,toolbar=1,resizable=0'); return false;" id="ReportFrame"><b>@Model.BILLNO</b></a>
            @*<a target="_blank" style="font-size: 8px;" href="@Url.Action("Bill_Portait_Invoice_ViewPrint", "ViewPrint", new { BillNo = @Model.BILLNO, Type = "1" })" id="ReportFrame"><b>@Model.BILLNO</b></a>*@
        </td>
        <td style="white-space: pre-line;padding-left: 1px;padding-right: 0px;">
            <a style="font-size: 8px;" href="@Url.Action("Bill_Portait_Invoice_ViewPrint", "ViewPrint", new { BillNo = @Model.BILLNO, Type = "0" })" onclick="window.open(this.href, 'Fleet', 'left=20,top=20,width=1240,height=620,toolbar=1,resizable=0'); return false;" id="ReportFrame"><b>@Model.BILLNO</b></a>
            @*<a target="_blank" style="font-size: 8px;" href="@Url.Action("Bill_Portait_Invoice_ViewPrint", "ViewPrint", new { BillNo = @Model.BILLNO, Type = "0" })" id="ReportFrame"><b>@Model.BILLNO</b></a>*@
        </td>
        <td style="white-space: pre-line;padding-left: 1px;padding-right: 0px;">
            <a style="font-size: 8px;" href="@Url.Action("BillDamurageViewPrint", "ViewPrint", new { BillNo = @Model.BILLNO })" onclick="window.open(this.href, 'Fleet', 'left=20,top=20,width=1240,height=620,toolbar=1,resizable=0'); return false;" id="ReportFrame"><b>@Model.BILLNO</b></a>
            @*<a target="_blank" style="font-size: 8px;" href="@Url.Action("BillDamurageViewPrint", "ViewPrint", new { Billno = @Model.BILLNO })" id="ReportFrame"><b>@Model.BILLNO</b></a>*@
        </td>
        <td style="white-space: pre-line;" class="center">
            @if (!string.IsNullOrEmpty(Model.DocImage))
            {
                <a class="btn blue-stripe default btn-xs" href="@Url.Content("../Images/BillSubmissionImage/" + Model.DocImage)" onclick="window.open(this.href, 'Fleet', 'left=20,top=20,width=1240,height=620,toolbar=1,resizable=0'); return false;"><b>View</b></a>
            }
            else
            {
                <span>NA</span>
            }
        </td>
    </tr>
}