﻿@model FleetDataService.ViewModels.BillFinalizationViewModel
@using Fleet.Helpers
@{
    // string TRID = "TR" + Model.Id;
    string TRID = "TR" + Model.iSNO.ToString();

}
<tr>
    @using (Html.BeginCollectionItem("BillFinalizationList", Model.iSNO.ToString()))
    {
        <td class="center">
            <span>
                @Html.CheckBoxFor(m => Model.IsChecked, new { @class = "chkCheck checkboxes", @data_id = Model.BillNo, @data_date = @Model.BillDate })
            </span>
        </td>
        <td class="center">
            @Model.BillNo
            @Html.HiddenFor(c => c.BillNo)
        </td>
        <td class="center">
            @Model.BillDate
        </td>
        <td class="center">
            @Model.PartyName
        </td>
        <td class="center">
            @Model.ManualBillNo
        </td>
        <td class="center">
            @Model.BillAmount
        </td>
    }
</tr>