﻿@model FleetDataService.Models.webx_BILLMST
@using CYGNUS.Models;
@using Fleet.Classes;
@using Fleet.Helpers;

@{

    //string TRID = "TR" + Model.BILLNO.Replace("/", "_").ToString();
    string TRID = "TR" + Model.iSNO.ToString();
}

@using (Html.BeginCollectionItem("BillList", Model.iSNO.ToString()))
{

<tr id="@TRID">

    @*@using (Html.BeginCollectionItem("BillList", Model.BILLNO.Replace("/", "_").ToString()))
    {*@

        @*<td>
            @Html.CheckBoxFor(m => m.IsMRGenerated, new { @class = "clsCHK" })
        </td>*@
    <td class="center">
        @Html.CheckBoxFor(m => m.IsMRGenerated, new { @class = "clsCHK", @data_id = Model.BILLNO })
    </td>
        <td>
            @Model.BILLNO
        </td>
        <td>
            @Model.manualbillno
        </td>
        <td>
            @Model.Bbrcdnm
        </td>
        <td>
            @Model.ptmsstr
        </td>
        <td>
            @Model.PAYBAS
        </td>
        <td>
            @Model.BILLAMT
        </td>
        <td>
            @Model.PENDAMT
            @Html.HiddenFor(c => c.BILLNO, new { @class = "clsBILL" })
            @Html.HiddenFor(c => c.BILLAMT)
        </td>
        <td>
            @Convert.ToDateTime(@Model.BGNDT).ToString("dd MMM yyyy")
        </td>
        @*<td>
              @Model.BILLSUBDOCNO
            </td>*@
        
            @*<td>
                @Convert.ToDateTime(@Model.BDUEDT).ToString("dd MMM yyyy")
            </td>*@

 

</tr>
}
