﻿@model FleetDataService.ViewModels.BillDocket

@using Fleet.Helpers



<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.dockno, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("DocketList", (Model.dockno).ToString()))
    {
        <td class="center">
            @Html.CheckBoxFor(c => c.IsEnabled, new { @class = "clsDocketCheck" })
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.dockno)
            @Html.HiddenFor(c => c.dockno)
        </td>
        <td class="center clsFRTBILL">
            @Html.DisplayFor(c => c.modedesc)
        </td>
        <td class="center clsFRTBILL">
            @Html.DisplayFor(c => c.dock_cdeldt)
        </td>

        <td class="center clsFRTBILL">
            @Html.DisplayFor(c => c.FRT_chrg_RATE)
        </td>

        <td class="center clsFRTBILL">
            @Html.DisplayFor(c => c.frt_rate)
            @Html.HiddenFor(c => c.frt_rate)
        </td>

        <td class="center clsFRTBILL">
            @Html.DisplayFor(c => c.DKTCHG)
            @Html.HiddenFor(c => c.DKTCHG)
        </td>
        <td class="center clsFRTBILL">
            @Html.DisplayFor(c => c.FOV)
            @Html.HiddenFor(c => c.FOV)

        </td>
        <td class="center clsFRTBILL">
            @Html.DisplayFor(c => c.OTCHG)
            @Html.HiddenFor(c => c.OTCHG)

        </td>

        <td class="center clsFRTBILL">
            @Html.DisplayFor(c => c.SVCTAX)
            @Html.HiddenFor(c => c.SVCTAX)
        </td>

        <td class="center clsFRTBILL">
            @Html.DisplayFor(c => c.dkttot)
            @Html.HiddenFor(c => c.dkttot)

        </td>

        <td class="center clsDAMBILL">
            @Html.DisplayFor(c => c.fromto)
            @Html.HiddenFor(c => c.fromto)
        </td>
        
         <td class="center clsDAMBILL">
            @Html.DisplayFor(c => c.dockdt)
            @Html.HiddenFor(c => c.dockdt)
        </td>
        
         <td class="center clsDAMBILL">
            @Html.DisplayFor(c => c.Total_Storage_Day)
            @Html.HiddenFor(c => c.Total_Storage_Day)
        </td>
        
         <td class="center clsDAMBILL">
            @Html.DisplayFor(c => c.Total_Free_Days)
            @Html.HiddenFor(c => c.Total_Free_Days)
        </td>
        
         <td class="center clsDAMBILL">
            @Html.DisplayFor(c => c.Actual)
            @Html.HiddenFor(c => c.Actual)
        </td>
         <td class="center clsDAMBILL">
            @Html.DisplayFor(c => c.DemAmt)
            @Html.HiddenFor(c => c.DemAmt)
        </td>
        
         <td class="center clsDAMBILL">
            @Html.DisplayFor(c => c.DemAmtStax)
            @Html.HiddenFor(c => c.DemAmtStax)
        </td>
        
         <td class="center clsDAMBILL">
            @Html.DisplayFor(c => c.Total)
            @Html.HiddenFor(c => c.Total)
             @Html.HiddenFor(c => c.ContractID)
             
        </td>
    }
</tr>