﻿@model FleetDataService.Models.webx_BILLMST
@using CYGNUS.Models;
@using Fleet.Classes;
@using Fleet.Helpers;

@{

    string TRID = "TR" + Model.BILLNO.Replace("/", "_").ToString();
}

<tr id="@TRID">

    @using (Html.BeginCollectionItem("BillList", Model.BILLNO.Replace("/", "_").ToString()))
    {
        var BillAmt = "BillAmt_" + Model.BILLNO.Replace("/", "_").ToString();

        <td>
            @*Add webx_BILLMST in IsBillSubmitted,Dockno,Bbrcdnm,Loading,UnLoading,Detention,Other,Penalty By Chirag D*@
            @Html.CheckBoxFor(m => m.IsBillSubmitted, new { @class = "clsCHK" })
        </td>
        <td>
            @Model.BILLNO
        </td>
        <td>
            @Model.Dockno
        </td>
        <td>
            @Model.Bbrcdnm
        </td>
        @*<td>
                @Model.ptmsstr
            </td>
            <td>
                @Model.PAYBAS
            </td>*@
        <td id="@BillAmt">
            @Model.BILLAMT
        </td>
        <td>
            @Model.PENDAMT
            @Html.HiddenFor(c => c.BILLNO)
            @Html.HiddenFor(c => c.Dockno)
            @Html.HiddenFor(c => c.PENDAMT, new { @class = "clsPlusChrg form-control" })
            @Html.HiddenFor(c => c.BILLAMT, new { @class = "form-control" })
        </td>
        <td>
            @if (@Convert.ToDateTime(@Model.BGNDT).ToString("dd MMM yyyy") != "01 Jan 0001")
            {
                @Convert.ToDateTime(@Model.BGNDT).ToString("dd MMM yyyy")
            }
        </td>
        <td>
            @if (@Convert.ToDateTime(@Model.BGNDT).ToString("dd MMM yyyy") != "01 Jan 0001")
            {
                @Convert.ToDateTime(@Model.BDUEDT).ToString("dd MMM yyyy")
            }
        </td>
        <td data-title="Upload Document" style="width:250px;height:50px;">
            <div class="fileinput fileinput-new  col-md-9" id="divfileupload" data-provides="fileinput">
                <div class="fileinput-new thumbnail imgDefault col-md-6 center">
                    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail imgExists col-md-6">
                </div>
                <div class="col-md-3">
                    <span class="btn default btn-file">
                        <span class="fileinput-new clsFileCheck">
                            Select File
                        </span>
                        <span class="fileinput-exists clsFileCheck">
                            Change File
                        </span>
                        <input type="file" id="UploadImage" name="UploadImage_@Model.BILLNO" class="default">
                    </span>
                    <a href="#" class="btn default fileinput-exists" data-dismiss="fileinput">
                        Remove File
                    </a>
                </div>
            </div>
        </td>
        @*<td>
                @Html.TextBoxFor(c => c.Loading, new { @class = "clsPlusChrg form-control", @number = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", style = "TEXT-ALIGN: right;" })
            </td>
            <td>
                @Html.TextBoxFor(c => c.UnLoading, new { @class = "clsPlusChrg form-control", @number = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", style = "TEXT-ALIGN: right;" })
            </td>
            <td>
                @Html.TextBoxFor(c => c.Detention, new { @class = "clsPlusChrg form-control", @number = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", style = "TEXT-ALIGN: right;" })
            </td>
            <td>
                @Html.TextBoxFor(c => c.Other, new { @class = "clsPlusChrg form-control", @number = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", style = "TEXT-ALIGN: right;" })
            </td>
            <td>
                @Html.TextBoxFor(c => c.Penalty, new { @class = "clsLessChrg form-control", @number = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", style = "TEXT-ALIGN: right;" })
            </td>*@
    }

</tr>
