﻿@model FleetDataService.ViewModels.CNoteFinalizationViewModel
@using Fleet.Helpers
<tr>
    @using (Html.BeginCollectionItem("CNoteFinalizationList", Model.LRNo.ToString()))
    {
        <td class="center">
            <span>
                @Html.CheckBoxFor(m => Model.IsChecked, new { @class = "chkCheck checkboxes" })
            </span>
        </td>
        <td class="center">
            @Model.LRNo
            @Html.HiddenFor(c => c.LRNo)
        </td>
        <td class="center">
            @Model.Origin
        </td>
        <td class="center">
            @Model.PartyName
        </td>
        <td class="center">
            @Model.LRDate
        </td>
        <td class="center">
            @Model.Freight
        </td>
        <td class="center">
            @Model.SubTotal
        </td>
        <td class="center">
            @Model.LRTotal
        </td>
        <td class="center">
            @Model.Finalized_Date.ToString("dd MMM yyyy")
            @Html.HiddenFor(c => c.Finalized_Date)
        </td>
    }
</tr>