@model FleetDataService.Models.webx_CrossingBill_DET
@using FleetDataService.Models;
@using Fleet.Helpers;
@{
    string TRID = "TR" + Model.iSNO.ToString();
}
<tr id="@TRID">
    @using (Html.BeginCollectionItem("CrossingChallanList", Model.iSNO.ToString()))
    {
        <td class="center">
            @Model.iSNO
            @Html.HiddenFor(c => c.iSNO)
        </td>
        <td>
            @Model.CrossingChallanNo
            @Html.HiddenFor(m => m.CrossingChallanNo)
        </td>
        <td>
            @Model.CrossingChallanDT.ToString("dd MMM yyyy")
            @Html.HiddenFor(m => m.CrossingChallanDT)
        </td>
        <td>
            @Model.Origin
            @Html.HiddenFor(m => m.Origin)
        </td>
        <td>
            @Model.DKTTOTCount
            @Html.HiddenFor(c => c.DKTTOTCount, new { @class = "form-control clsDKTTOTCount" })

        </td>
        <td>
            @Model.Pkgs
            @Html.HiddenFor(c => c.Pkgs, new { @class = "form-control clsPkgs" })

        </td>
        <td>
            @Model.ActuWeight
            @Html.HiddenFor(c => c.ActuWeight, new { @class = "form-control clsActuWeight" })

        </td>
        <td>
            @Model.TotalTopay
            @Html.HiddenFor(c => c.TotalTopay, new { @class = "form-control clsTotalTopay" })

        </td>
        <td>
            @Model.CrossingChrg
            @Html.HiddenFor(c => c.CrossingChrg, new { @class = "form-control clsCrossingChrg" })

        </td>
        <td>
            @Model.BulkyChrg
            @Html.HiddenFor(c => c.BulkyChrg, new { @class = "form-control clsBulkyChrg" })

        </td>
        <td>
            @Model.NetPayable
            @Html.HiddenFor(c => c.NetPayable, new { @class = "form-control clsNetPayable" })

        </td>
    }
</tr>