﻿@model Fleet.ViewModels.CustomerBillList
<tr>
    <td class="center">
        <a href="@Url.Content("~/ViewPrint/CustomerBillView?NO=" + @Model.BillNo)" onclick="window.open(this.href, 'RCPL','left=20,top=20,width=900,height=620,toolbar=1,resizable=0'); return false;"><b>@Model.BillNo</b></a>
    </td>
    <td class="center">
        @Model.BillBranch
    </td>
    <td class="center">
        @Model.BillSub
    </td>
    <td class="center">
        @Model.BillCol
    </td>
    <td class="center">
        @Model.Party
    </td>
    <td class="center">
        @Model.BillDt
    </td>
    <td class="center">
        @Model.BillAmt
    </td>
    <td class="center">
        <a href="@Url.Action("CustomerBillView", "ViewPrint", new { NO = @Model.BillNo, typ = "1" })" onclick="window.open(this.href, 'RCPL','left=20,top=20,width=900,height=620,toolbar=1,resizable=0'); return false;" id="ReportFrame"><b>@Model.BillNo</b></a>
        @*<a target="_blank" href="@Url.Content("~/ViewPrint/CustomerBillView?NO=" + @Model.BillNo)"><b>@Model.BillNo</b></a>*@
    </td>
</tr>