﻿@model Fleet.ViewModels.CustomerContractViewModel
@using FleetDataService.Models
@{
    FleetDataService.ContractService CS = new FleetDataService.ContractService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();



}
@using (Html.BeginForm("AddServiceSelection", "Finance", FormMethod.Post, new { id = "form_sampleservice", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(c => c.CustomerContract.ContractId)
    @Html.HiddenFor(c => c.CustomerContract.Custcode)
    @Html.HiddenFor(c => c.CustomerContract.Contract_Type)
    <div class="row">
        <div class="col-md-12" id="divMatrix">
            <div class="col-md-12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i><label id="lblrisk">Service Selection</label>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table id="sample_1" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-1">SL No.</th>
                                    <th class="col-md-3">Vehicle Type</th>
                                    <th class="col-md-5">Select Route</th>
                                    <th class="col-md-3">Standard KM</th>
                                    <th class="col-md-3">Duration</th>
                                    <th class="col-md-3">Pickup/Drop</th>
                                    <th class="col-md-1">Deployment St. Time</th>
                                    <th class="col-md-1">Deployment End Time</th>
                                    <th class="col-md-1"> Outstation Charge</th>
                                    <th class="col-md-1">Non Working Charge</th>
                                    <th class="col-md-1">Vehicle Category</th>
                                    <th>X</th>
                                </tr>
                            </thead>
                            <tbody id="tblsubitemcarrier">
                                @foreach (var item in Model.ContractPepoleList)
                                {
                                    Html.RenderPartial("_PartialPepole", item);
                                }
                            </tbody>
                        </table>
                        <br />
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-9">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="btnAddPepole" class="btn blue pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="form-actions fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-offset-3 col-md-9">
                    <button type="button" id="btnSubmitservice" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Save & Continue</button>
                </div>
            </div>
        </div>
    </div>
}


