﻿@{
    ViewBag.Title = "_FleetIncomeBill";
    Layout = null;
}


@model FleetDataService.Models.webx_BILLDET

@using Fleet.Helpers
@using Fleet.ViewModels
@{
    Model.THCDate = System.DateTime.Now;
    objDate OD1 = new objDate();
    OD1.ControlId = "BILLDET.THCDate";
    OD1.ControlValue = Model.THCDate.ToString();
    OD1.ModuleCode = "17";


}


<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Id, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("BillDetailList", (Model.Id).ToString()))
    {

        <td class="center">
            @Html.DisplayFor(c => c.Id)
            @Html.HiddenFor(c => c.Id)
        </td>

        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.TripsheetNo, new { @class = "required2 clsTripsheet required form-control", @placeholder = "TripsheetNo" })
                    @Html.Hidden("DKTError")
                </div>
            </div>
        </td>

        <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.VehicleNo, new { @class = "required2 required form-control", @placeholder = "VehicleNo" })
                </div>
            </div>
        </td>

        <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.THCRoute, new { @class = "required2 required form-control", @placeholder = "THC-Route" })
                </div>
            </div>
        </td>

        <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.THCNo, new { @placeholder = "THC No", @class = "required2 required form-control" })
                </div>
            </div>
        </td>

        <td class="center">
            <div class="form-group">
                <div class="col-md-11">

                    @*@{
                            Html.RenderPartial("../UserControls/_DocumentDate", OD1);
                        }*@

                    @Html.TextBoxFor(m => m.THCDate, String.Format("{0:dd/MM/yyyy}", Convert.ToDateTime(Model.THCDate).ToString("dd MMM yyyy")), new { @class = "input-small required required2 clsinvoicedt", @placeholder = "dd/MMM/yyyy" })

                </div>
            </div>
        </td>

        <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.totamt, new { @class = "required2 required clsAmount clsLedgerAmount form-control", @type = "number", @min = "1" })
                </div>
            </div>
        </td>
    }
</tr>