﻿@model Fleet.ViewModels.IDTFreightMemoViewModel
@using FleetDataService.Models
@using Fleet.Helpers
@using System.Data
@{

    string divId = "clsinvdate" + Model.FMNO.ToString();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    FleetDataService.OperationService OS = new FleetDataService.OperationService();
    List<Webx_Master_General> generalMasterList = MS.GetGeneralMasterObject().ToList();


}
<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.FMNO, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("IDTList", (Model.FMNO).ToString()))
    {
        <td class="center">
            @Html.CheckBoxFor(c => c.IsChecked, new { @class = "chkCheck", @dataid = Model.FMNO })
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.FMNO)
            @Html.HiddenFor(c => c.FMNO)
            @Html.HiddenFor(c => c.PartyCode)
            @Html.HiddenFor(c => c.PartyName)
            @Html.HiddenFor(c => c.FMDATE)
            @Html.HiddenFor(c => c.Brcd);
            @Html.HiddenFor(c => c.TotalToPay)
            @Html.HiddenFor(c => c.TotalCrossing)
            @Html.HiddenFor(c => c.TotalOther)
            @Html.HiddenFor(c => c.NetPayable)
            @Html.HiddenFor(c => c.EntryBy)

        </td>
        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.DisplayFor(c => c.FMDATE)
        </td>
        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
            @*@Html.DisplayFor(c => c.NetPayable)*@
            @Html.TextBoxFor(m => m.NetPayable, new { placeholder = "Net Payable", @class = "required2 clsNetPayable form-control required", @min = 0, @readonly = true, @type = "number" })
        </td>

        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.TextBoxFor(m => m.Deductions, new { placeholder = "Deductions", @class = "required2 clsAmount clsDeductions form-control required", @type = "number", @readonly = true })
        </td>
        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.TextBoxFor(m => m.FinalNetPayable, new { placeholder = "NetPayable", @class = "required2 clsAmount clsFinalNetPayable form-control required", @min = 0, @readonly = true, @type = "number" })
        </td>


    }
</tr>
