﻿@model FleetDataService.Models.IDTDetail
@using FleetDataService.Models
@using Fleet.Helpers
@using System.Data
@{

    string divId = "clsinvdate" + Model.DOCKNO.ToString();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    FleetDataService.OperationService OS = new FleetDataService.OperationService();
    List<Webx_Master_General> generalMasterList = MS.GetGeneralMasterObject().ToList();

    DataTable DT = OS.GetOtherCharges(Model.PARTY_CODE, "SCHG02", Model.ORIGIN, Model.TOCITY, Model.CHARGEDWEIGHT, Model.PKGS);
    Model.CUSTRATE = Convert.ToDecimal(DT.Rows[0]["rate"]);
}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.DOCKNO, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("IDTList", (Model.DOCKNO).ToString()))
    {
        <td class="center">
            <div>@Html.CheckBoxFor(c => c.IsChecked, new { @class = "chkCheck" }) </div>
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.DOCKNO)
            @Html.HiddenFor(c => c.DOCKNO)
            @Html.HiddenFor(c => c.CUSTREFNO)
            @Html.HiddenFor(c => c.DESTINATION)
            @Html.HiddenFor(c => c.CHARGEDWEIGHT)
            @Html.HiddenFor(c => c.PKGS)
            @Html.HiddenFor(c => c.PAYBASNAME)
            @Html.HiddenFor(c => c.PAYBAS)
            @Html.HiddenFor(c => c.FREIGHT)
            @Html.HiddenFor(c => c.CUSTRATE)
            @Html.HiddenFor(c => c.CUSTRATE)
            @Html.HiddenFor(c => c.DOCKDATE)
            @Html.HiddenFor(c => c.ORIGIN)
            @Html.HiddenFor(c => c.FROMCITY)
            @Html.HiddenFor(c => c.TOCITY)
            @Html.HiddenFor(c => c.ACTUWEIGHT)
            @Html.HiddenFor(c => c.DKTTOT)
            @Html.HiddenFor(c => c.PARTY_CODE)
            @Html.HiddenFor(c => c.CODAMT)
            @Html.HiddenFor(c => c.FREIGHTRATE)
        </td>
        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.DisplayFor(c => c.CUSTREFNO)
        </td>
        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.DisplayFor(c => c.TOCITY)
        </td>

        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.DisplayFor(c => c.CHARGEDWEIGHT)
        </td>

        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.DisplayFor(c => c.PKGS)
        </td>

        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.DisplayFor(c => c.PAYBASNAME)
        </td>
        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.DisplayFor(c => c.FREIGHT)
        </td>
        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.DisplayFor(c => c.CUSTRATE)
        </td>
        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">

            @Html.DropDownListFor(c => c.RATETYPE, new SelectList(generalMasterList.Where(c => c.CodeType == "RATETYPE" && c.StatusCode == "Y" && c.CodeId != "F"), "CodeId", "CodeDesc", Model.RATETYPE), "", new { @class = "form-control select2 dropdown2 RateTypeChange", @placeholder = "Rate Type" })
        </td>
        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.TextBoxFor(m => m.CROSSINGCHRG, new { placeholder = "Crossing Charge", @class = "required2 clsAmount form-control required", @type = "number",@readonly=true })
        </td>
        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.TextBoxFor(m => m.OTHERCHRG, new { placeholder = "Other Charge", @class = "required2 clsAmount form-control required",@min=0, @type = "number" })
        </td>

    }
</tr>