﻿@model FleetDataService.ViewModels.BillEntryModel
@using FleetDataService.Models
@using Fleet.Helpers

@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_Master_Airport> airportList = MS.GetAirportMasterObject().Where(c => c.ActiveFlag == "Y").ToList().OrderBy(c => c.AirportName).ToList();
}


<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.SrNo, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("", Model.SrNo.ToString()))
    {
        string ROWID = "RW_" + Model.SrNo;

        <td class="col-md-3">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.HiddenFor(c => c.IsChecked)
                    @Html.HiddenFor(c => c.SrNo)
                    @Html.HiddenFor(c => c.Acccode)
                    @Html.TextBoxFor(c => c.BIllno, new { @class = "required2 form-control IncomeBillNo", @placeholder = "Enter Bill No.", @readonly = true })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.BillDate, new { @class = "required2 form-control", @placeholder = "Bill Date", @readonly = true })
                </div>
            </div>
        </td>
        <td class="col-md-5">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.Party, new { @class = "required2 form-control", @placeholder = "Enter Customer Detail", @readonly = true })
                </div>
            </div>
        </td>

        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.AdjstAmt, new { @class = "required2 form-control IncomeAdjstAmt", @placeholder = "0.00", @readonly = true, type = "number", @max = @Model.PendAmt })
                </div>
            </div>
        </td>


    }
</tr>
