﻿@model FleetDataService.ViewModels.MRFinalizationViewModel
@using Fleet.Helpers
@using FleetDataService.ViewModels;
@{
    // string TRID = "TR" + Model.Id;
    string TRID = "TR" + Model.iSNO.ToString();
    List<GetLedgerAccountFromPaymode> AccountLedgerList = new List<GetLedgerAccountFromPaymode>();

}
<tr>
    @using (Html.BeginCollectionItem("MRFinalizationList", Model.iSNO.ToString()))
    {
        <td class="center">
            <span>
                @Html.CheckBoxFor(m => Model.IsChecked, new { @class = "chkCheck checkboxes", @data_id = Model.MRSNO, @data_date = @Model.MRSDT })
            </span>
        </td>
        <td class="center">
            @Model.MRSNO
            @Html.HiddenFor(c => c.MRSNO)
            @Html.HiddenFor(c => c.paymode)
        </td>
        <td class="center">
            @Model.MRSDT
        </td>
        <td class="center">
            @Model.BillNo
        </td>
        <td class="center">
            @Model.BillDate
        </td>
        <td class="center">
            @Model.PartyName
        </td>
        <td class="center">
            @Model.BillAmount
        </td>
        <td class="center">
            @Model.CollectedAmount
        </td>
        <td class="center">
            @Model.paymode
        </td>
        <td class="center">
            @Html.DropDownListFor(m => m.BankAcccode, new SelectList(AccountLedgerList, "Value", "Text"), "", new { @class = "form-control select2" })
        </td>
    }
</tr>