﻿@model Fleet.ViewModels.WEBX_MR_VPLIST
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers

@using (Html.BeginCollectionItem("MRViewPrint", Model.mrsno.ToString()))
{
    <tr>

        <td>
            @Model.mrsno
        </td>
        <td>
            @Model.mrsdt.ToString("dd MMM yyyy")
        </td>
        <td>
            @Model.mrstype
        </td>
        <td>
            @Model.ptname
        </td>
        <td>
            @Model.mrsamt 
        </td>
        <td>
            @Model.deduction 
        </td>
        <td>
            @Model.netamt 
        </td>
        <td>
            @Model.MR_STATUS 
        </td>
        <td>
            @Model.finclosedt.ToString("dd MMM yyyy")
        </td>
        <td>
            <a class="btn btn-xs blue" target="_blank" href="@Url.Content("~/ViewPrint/MR_ViewPrint?Type=0&MRSNo=" + @Model.mrsno)">View</a>
        </td>

    </tr>
}
