﻿@{
    ViewBag.Title = "_SupplementaryBill";
    Layout = null;
    Model.recptdt = System.DateTime.Now;
}
@model FleetDataService.Models.webx_BILLDET
@using Fleet.Helpers
@{
    List<SelectListItem> BlankList = new List<SelectListItem>();
    SelectListItem SLT = new SelectListItem();
    SLT.Text = ViewBag.DKTCalledAS;
    SLT.Value = "DKT";
    BlankList.Add(SLT);
    SLT = new SelectListItem();
    SLT.Text = ViewBag.THCCalledAS;
    SLT.Value = "THC";
    BlankList.Add(SLT);
}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Id, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("LedgerList", (Model.Id).ToString()))
    {
        <td class="center">
            @Model.Id
        </td>
        <td class="center" style="padding-bottom: 2px; padding-top: 2px; padding-top: 2px; ">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.DOCKNO, new { @placeholder = "Document No", @class = "required2 clsDocument required form-control" })
                    @Html.Hidden("DKTError")
                </div>
            </div>
        </td>
        <td class="center" style="padding-bottom: 2px; padding-top: 2px;">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(c => c.declval, new { @class = "required2 required clsAmount form-control", @readonly = "true", @width = "50", @min = "1" })
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </td>
        <td class="center" style="padding-bottom: 2px; padding-top: 2px;">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(c => c.OCT_AMT, new { @class = "required2 required clsAmount clsOctAmount form-control", @type = "number", @min = "1" })
                    @Html.TextBoxFor(c => c.oct_percentage, new { @class = "required2 required clsAmount form-control", @readonly = "true", @min = "0.01" })
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </td>
        <td class="center" style="padding-bottom: 2px; padding-top: 2px;">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(c => c.clearance_chrg, new { @class = "required2 required clsAmount clsclrAmount form-control", @type = "number", @min = "0", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </td>
        <td class="center" style="padding-bottom: 2px; padding-top: 2px;">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(c => c.processing_per, new { @class = "required2 required clsAmount clsPROSAmount form-control", @min = "0", @type = "number", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                    @Html.TextBoxFor(c => c.process_chrg, new { @class = "required2 required clsAmount form-control", @readonly = "true", @min = "0" })
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </td>
        <td class="center" style="padding-bottom: 2px; padding-top: 2px;">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(c => c.OTCHG, new { @class = "required2 required clsAmount clsOtherChrg clsLedgerAmount form-control", @type = "number", @min = "0", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </td>

        <td class="center clsStax" style="padding-bottom: 2px; padding-top: 2px;">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(c => c.SVRCAMT, new { @class = "required2 required clsAmount clsOtherChrg form-control", @readonly = "true", @width = "50", @type = "number", @min = "0" })
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </td>
        <td class="center clsStax" style="padding-bottom: 2px; padding-top: 2px;">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(c => c.CESSAMT, new { @class = "required2 required clsAmount clsOtherChrg form-control", @readonly = "true", @width = "50", @type = "number", @min = "0" })
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </td>
        <td class="center clsStax" style="padding-bottom: 2px; padding-top: 2px;">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(c => c.Hedu_Cess, new { @class = "required2 required clsAmount clsOtherChrg form-control", @readonly = "true", @width = "50", @type = "number", @min = "0" })
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </td>
        <td class="center clsStax" style="padding-bottom: 2px; padding-top: 2px;">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(c => c.SBCAMT, new { @class = "required2 required clsAmount clsOtherChrg form-control", @readonly = "true", @width = "50", @type = "number", @min = "0" })
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </td>
        <td class="center" style="padding-bottom: 2px; padding-top: 2px;">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(c => c.DKTTOT, new { @class = "required2 required clsAmount clsDKTTOTAmount form-control", @readonly = "true", @type = "number", @min = "1" })
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </td>
        <td class="center" style="padding-bottom: 2px; padding-top: 2px;">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(c => c.OCT_RECEIPTNO, new { @class = "required2 required form-control" })
                    @Html.TextBoxFor(m => m.recptdt, String.Format("{0:dd/MM/yyyy}", Convert.ToDateTime(Model.recptdt).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd/MMM/yyyy" })
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </td>
    }
</tr>