﻿@model FleetDataService.Models.webx_AcctBudget
@using Fleet.Helpers
@{
    ViewBag.Title = "_PartialYear";
    string TRID = "TR" + Model.Srno.ToString();
    string Srno = Model.Srno.ToString();
}

<tr class="editorRow" id="@TRID">
    @using (Html.BeginCollectionItem("SelectBranchDone", Model.Srno.ToString()))
    {
        <td>
            @Html.CheckBoxFor(m => m.IsCheck, new { @class = " form-control clsCHK " })
            @Html.HiddenFor(m => m.Budget_Month_Year)
            @Html.HiddenFor(m => m.BudgetAmount)
            @Html.HiddenFor(m => m.FinYear)
            @Html.HiddenFor(m => m.YearType)
            @Html.HiddenFor(m => m.Budget_Type)
            @Html.HiddenFor(m => m.LocCode)
            @Html.HiddenFor(m => m.ACCCODE)
        </td>
        <td>
            @Model.LocCode
        </td>
        <td>
            @Model.ACCCODE
        </td>
        <td>
            @Model.ACCDESC
        </td>
        <td>
            @Html.TextBoxFor(m => m.txtAmt, new { @class = "span6 m-wrap form-control monthck", disabled = "disabled", @id = "checkbox1_" + Model.Srno , @required = "required",@min = "1",
           @maxlength = "9", @type = "number"
       })
        </td>
    }
</tr>
