﻿@model FleetDataService.Models.webx_BILLMST
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> ListPOC = MS.GetGeneralMasterObject().Where(c => c.CodeType == "PCN" && c.StatusCode == "Y").ToList();

}
@using (Html.BeginCollectionItem("BillList", Model.BILLNO.ToString()))
{
    <tr>
        <td class="chkactive">
            @Html.CheckBoxFor(c => c.IsBillSubmitted, new { @class = "chkactive" })
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.BILLNO)
            @Html.HiddenFor(c => c.BILLNO)
        </td>
        <td class="center">
            @Model.BGNDT
            @Html.HiddenFor(c => c.BGNDT)
        </td>
        <td class="center">
            @Model.BILLAMT
            @Html.HiddenFor(c => c.BILLAMT)
        </td>
        <td class="center">
            @Model.PENDAMT
            @Html.HiddenFor(c => c.PENDAMT)
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(c => c.CNAMT, new { @class = "form-control CAMT required required2", @placeholder = "Cnote Amount", @min = "1", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td class="center">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.DropDownListFor(c => c.POC, new SelectList(ListPOC, "CodeId", "CodeDesc"), "", new { @class = "form-control select2", @placeholder = "Select Bill Type" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(c => c.REMARK, new { @class = "form-control", @placeholder = "REMARK" })
                </div>
            </div>
        </td>
    </tr>
}