﻿@model FleetDataService.Models.Webx_Fleet_Contract_People
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.FinanceService FS = new FleetDataService.FinanceService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    var RateList = new List<SelectListItem> {
    new SelectListItem { Text = "% of Invoice", Value = "%" },
    new SelectListItem { Text = "Flat(in Rs)", Value = "F" },
    };

    List<Webx_Master_General> ListRute = new List<Webx_Master_General>();
    ListRute = FS.GetTripRuteLits().ToList();
    List<Webx_Master_General> ListDuration = new List<Webx_Master_General>();
    ListDuration = MS.GetGeneralMasterObject().Where(c => c.CodeType == "TSDUR" && c.StatusCode=="Y").ToList();
    List<Webx_Master_General> ListPickUpDrop = new List<Webx_Master_General>();
    ListPickUpDrop = MS.GetGeneralMasterObject().Where(c => c.CodeType == "PKDRP" && c.StatusCode == "Y").ToList();
    List<Webx_Master_General> ListVehicalCategory = new List<Webx_Master_General>();
    ListVehicalCategory = MS.GetGeneralMasterObject().Where(c => c.CodeType == "FLTCAT" && c.StatusCode == "Y").ToList();

    List<webx_Vehicle_Type> ListVehicleType = new List<webx_Vehicle_Type>();
    ListVehicleType = MS.GetVehicleTypeDetails().ToList();
}


<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.SrNo, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("PepoleList", Model.ID.ToString()))
    {
        string ROWID = "RW_" + Model.SrNo;
        string DrpCls = "drpcls_" + Model.SrNo;
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-1">
                    @Html.DisplayFor(m => m.SrNo)
                    @Html.HiddenFor(m=>m.ID)
                </div>
            </div>
        </td>
        <td class="col-md-3">
            <div class="form-group">
                <div class="col-md-11">
                                        
                    @Html.DropDownListFor(m => m.Vehicle_Type, new SelectList(ListVehicleType, "Type_Code", "Type_Name"), "", new { @class = "required select2 drp form-control " + @DrpCls, placeholder = "Select Type" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.RUTCD, new SelectList(ListRute, "RUTCD", "RUTDESC"), "", new { @class = "required select2 drp form-control " + @DrpCls, placeholder = "Select Route" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.RUTKM, new { placeholder = "Standard KM", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.Duration_Id, new SelectList(ListDuration, "CodeId", "CodeDesc"), "", new { @class = "required select2 drp form-control " + @DrpCls, placeholder = "Select Duration" })                 
                </div>
            </div>
        </td>
           <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.PickDrop_Id, new SelectList(ListPickUpDrop, "CodeId", "CodeDesc"), "", new { @class = "required select2 drp form-control " + @DrpCls, placeholder = "Select Pickup/Drop" })                 
                </div>
            </div>
        </td>
          <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Deployment_St_Time, new { placeholder = "Deployment St. Time", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })                    
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Deployment_End_Time, new { placeholder = "Deployment End Time", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })                                        
                </div>
            </div>
        </td>
         <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Outstanding_Charge, new { placeholder = "Outstation Charge", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                        
                </div>
            </div>
        </td>
          <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Non_Working_Charge, new { placeholder = "Non Working Charge", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })                    
                </div>
            </div>
        </td>
         <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.Category_Id, new SelectList(ListVehicalCategory, "CodeId", "CodeDesc"), "", new { @class = "required select2 drp form-control " + @DrpCls, placeholder = "Select Vehicle Category" })                 
                </div>
            </div>
        </td>
        <td class="col-md-1 center">
            @if (Model.SrNo > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
            }
            else
            {
                <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
            }
        </td>
    }
</tr>