﻿@model FleetDataService.Models.webx_BILLMST
@using FleetDataService.Models
@using Fleet.Helpers

@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    FleetDataService.OperationService OS = new FleetDataService.OperationService();
}


<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.SrNo, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("DNoteList", Model.SrNo.ToString()))
    {
        string ROWID = "RW_" + Model.SrNo;

        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.bankacccode, new { placeholder = "Account Name", @class = "form-control clsAcct"})
                    @*@Html.DropDownListFor(c => c.bankacccode, new SelectList(airportList, "AirportCode", "AirportName"), "", new { @class = "select2 required required2 form-control FromAirportCode", @placeholder = "Select Airport" })*@
                </div>
            </div>
        </td>
    <td class="col-md-3">
        <div class="form-group">
            <div class="col-md-11">
                @Html.TextBoxFor(m => m.AccAmt, new { placeholder = "Credit Amount", @class = "form-control clsAmt", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @maxlength = 7 })
            </div>
        </div>
    </td>

    <td class="center col-md-1">
        @if (Model.SrNo > 1)
        {
            <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
        }
    </td>
    }
</tr>
