﻿@model IEnumerable<FleetDataService.Models.webx_custcontract_hdr>
@*@model FleetDataService.Models.webx_custcontract_hdr*@
@using FleetDataService.Models
@using Fleet.Helpers
@{

}
@foreach (var item in Model.ToList())
{
    <tr>
        @Html.Hidden("ContractId", item.ContractId)
        @Html.Hidden("Custcode", item.Custcode)
        <td>@item.ContractId</td>
        <td>@item.Nstartdate</td>
        <td>@item.Nenddate</td>
        <td>@item.Contract_Type</td>
        <td>
            @if (item.Status == "Active")
            {
                <label style="color: green; font-weight: bold;"> @item.Status </label>
            }
            else
            {
               <label style="color: red; font-weight: bold;">  @item.Status</label>
            }
        </td>
        <td>View</td>
        <td>
            @if (item.Status == "Active")
            {
                <a href="javascript://" id="Dactive" data-target="#static" data-toggle="modal">DeActive</a>
            }
            else
            {
                <a href="javascript://" id="Active" data-target="#static" data-toggle="modal">Active</a>
            }
        </td>
        <td>
            @if (item.Status == "Active")
            {
                <a href="@Url.Action("UpdateContract", "contract", new { CustCode = item.Custcode, CustId = item.ContractId, ConType = item.Contract_Type })" class="btnTyreEdit"><i class="fa fa-edit" aria-hidden="true"></i></a>
            }
        </td>
        <td>Updaload</td>
    </tr>
}

