﻿@model FleetDataService.Models.Webx_Fleet_Secondary_Contract_Hdr
@using FleetDataService.Models
@using Fleet.Helpers


@{
    FleetDataService.FinanceService FS = new FleetDataService.FinanceService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    var CategoryList = new List<SelectListItem> {
    new SelectListItem { Text = "NON AC", Value = "2" },
    new SelectListItem { Text = "FREEZER", Value = "3" },
    new SelectListItem { Text = "AC", Value = "1" },
    new SelectListItem { Text = "EMPTY", Value = "4" },
    };

    List<Webx_Master_General> ListHourlyBased = new List<Webx_Master_General>();
    ListHourlyBased = FS.GetHourly_BasedList("").ToList();

    List<webx_location> locationList = MS.GetLocationDetails().Where(c => c.ActiveFlag == "Y").OrderBy(c => c.LocName).ToList();

    List<webx_Vehicle_Type> ListVehicleType = new List<webx_Vehicle_Type>();
    ListVehicleType = MS.GetVehicleTypeDetails().ToList();
}
<tr>
    
        @Html.Hidden("hdnblnk", Model.Id, new { @class = "iHidden" })
        @using (Html.BeginCollectionItem("SecondryDetailList", Model.Id.ToString()))
        {
            string DrpCls = "drpcls_" + Model.Id;

            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-1">
                        @Html.DisplayFor(m => m.Id)
                        @Html.HiddenFor(m => m.Contract_Det_Code)
                    </div>
                </div>
            </td>
            <td class="col-md-3">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.LocCode, new SelectList(locationList, "LocCode", "LocName"), "", new { @class = "required required2 select2 drp form-control " + @DrpCls, @placeholder = "Select Location" })
                    </div>
                </div>
            </td>
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.Vehicle_Type_Code, new SelectList(ListVehicleType, "Type_Code", "Type_Name"), "", new { @class = "required select2 drp form-control " + @DrpCls, placeholder = "Select FTL Type" })
                    </div>
                </div>
            </td>
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.Category, new SelectList(CategoryList, "Value", "Text"), "", new { @class = "required select2 drp form-control " + @DrpCls, placeholder = "Select Category" })
                    </div>
                </div>
            </td>
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.HourlyBasedSlot_Id, new SelectList(ListHourlyBased, "Id", "HourlyBasedSlot"), "", new { @class = "required select2 drp form-control " + @DrpCls, placeholder = "Select Duration" })
                    </div>
                </div>
            </td>
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.TextBoxFor(m => m.Fixed_Cost, new { placeholder = "Fixed Cost", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                    </div>
                </div>
            </td>
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.TextBoxFor(m => m.Variable_Cost, new { placeholder = "Variable Cost", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                    </div>
                </div>
            </td>
            <td class="col-md-1 center">
                @if (Model.Id > 1)
                {
                    <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
                }
                else
                {
                    <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
                }
            </td>
        }    
</tr>