﻿@model FleetDataService.Models.webx_AcctBudget
@using Fleet.Helpers
@{

    ViewBag.Title = "_PartialFYMonth";
    string TRID = "TR" + Model.Srno.ToString();
    string Srno = Model.Srno.ToString();

}

<tr class="editorRow" id="@TRID">
    @using (Html.BeginCollectionItem("SelectBranchDone", Model.Srno.ToString()))
    {
        <td>
            @Html.CheckBoxFor(m => m.IsCheck, new { @class = " form-control clsCHK" })
            @Html.HiddenFor(m => m.Budget_Month_Year)
            @Html.HiddenFor(m => m.BudgetAmount)
            @Html.HiddenFor(m => m.FinYear)
            @Html.HiddenFor(m => m.YearType)
            @Html.HiddenFor(m => m.Budget_Type)
            @Html.HiddenFor(m => m.ACCCODE)
            @Html.HiddenFor(m => m.LocCode)
        </td>
        <td>
            @Model.LocCode
        </td>
        <td>
            @Model.ACCCODE
        </td>
        <td>
            @Model.ACCDESC
        </td>
        <td>
            @Html.TextBoxFor(m => m.AprAmt, new { @class = "span6 m-wrap form-control monthck", disabled = "disabled", @id = "checkbox1_" + Model.Srno, @required = "required",@min = "1",
           @maxlength = "9", @type = "number" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.MayAmt, new { @class = "span6 m-wrap form-control monthck", disabled = "disabled", @id = "checkbox1_" + Model.Srno, @required = "required",@min = "1",
           @maxlength = "9", @type = "number" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.JunAmt, new { @class = "span6 m-wrap form-control monthck", disabled = "disabled", @id = "checkbox1_" + Model.Srno, @required = "required",@min = "1",
           @maxlength = "9", @type = "number" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.JulAmt, new { @class = "span6 m-wrap form-control monthck", disabled = "disabled", @id = "checkbox1_" + Model.Srno, @required = "required",@min = "1",
           @maxlength = "9", @type = "number" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.AugAmt, new { @class = "span6 m-wrap form-control monthck", disabled = "disabled", @id = "checkbox1_" + Model.Srno, @required = "required",@min = "1",
           @maxlength = "9", @type = "number" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.SepAmt, new { @class = "span6 m-wrap form-control monthck", disabled = "disabled", @id = "checkbox1_" + Model.Srno, @required = "required",@min = "1",
           @maxlength = "9", @type = "number" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.OctAmt, new { @class = "span6 m-wrap form-control monthck", disabled = "disabled", @id = "checkbox1_" + Model.Srno, @required = "required",@min = "1",
           @maxlength = "9", @type = "number" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.NovAmt, new { @class = "span6 m-wrap form-control monthck", disabled = "disabled", @id = "checkbox1_" + Model.Srno, @required = "required",@min = "1",
           @maxlength = "9", @type = "number" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.DecAmt, new { @class = "span6 m-wrap form-control monthck", disabled = "disabled", @id = "checkbox1_" + Model.Srno, @required = "required",@min = "1",
           @maxlength = "9", @type = "number" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.JanAmt, new { @class = "span6 m-wrap form-control monthck", disabled = "disabled", @id = "checkbox1_" + Model.Srno, @required = "required",@min = "1",
           @maxlength = "9", @type = "number" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.FebAmt, new { @class = "span6 m-wrap form-control monthck", disabled = "disabled", @id = "checkbox1_" + Model.Srno, @required = "required",@min = "1",
           @maxlength = "9", @type = "number" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.MarAmt, new { @class = "span6 m-wrap form-control monthck", disabled = "disabled", @id = "checkbox1_" + Model.Srno, @required = "required",@min = "1",
           @maxlength = "9", @type = "number" })
        </td>
    }
</tr>
