﻿@model FleetDataService.Models.Webx_Fleet_Secondary_Contract_Hdr
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.ContractService CS = new FleetDataService.ContractService();

     
}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Id, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("RateBaseOnList", Model.Id.ToString()))
    {
        <td>
            <div class="form-group">
                <div class="col-md-9">
                   @Html.DisplayFor(m=>m.Id)
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.HourlyBasedSlot, new { placeholder = "Hours", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Extra_Charge_Per_Hour, new { placeholder = "Extra Charge", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })                    
                </div>
            </div>
        </td>  
        <td class="col-md-1 center">
            @if (Model.Id > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
            }
            else
            {
                <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRate"></a>
            }
        </td>     
    }
</tr>
