﻿@model FleetDataService.ViewModels.PartyOpeningBalance
@using FleetDataService.Models
@using Fleet.Helpers

@{
    
}
<tr>           
        @using (Html.BeginCollectionItem("PartyBalList", Model.Id.ToString()))
        {            
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-1">                    
                        @Html.CheckBoxFor(m => m.chk, new {@class="chk" })
                    </div>
                    @Html.HiddenFor(m => m.Vendval)
                    @Html.HiddenFor(m=>m.vendorcode)
                </div>
            </td>
            <td class="col-md-3">
                <div class="form-group">
                    <div class="col-md-11">
                       @Html.DisplayFor(m => m.acctval)
                    </div>
                </div>
            </td>
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-11">
                    @Html.DisplayFor(m => m.Vendval)
                    </div>
                </div>
            </td>
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.TextBoxFor(m => m.Opendebit, new { @class = "required  form-control",@type="number" })
                    </div>
                </div>
            </td>
                  <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.TextBoxFor(m => m.OpenCredit, new { @class = "required form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @type = "number" })
                    </div>
                </div>
            </td> 
        }    
</tr>