﻿@model FleetDataService.ViewModels.BillEntryModel
@using FleetDataService.Models
@using Fleet.Helpers

@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_Master_Airport> airportList = MS.GetAirportMasterObject().Where(c => c.ActiveFlag == "Y").ToList().OrderBy(c => c.AirportName).ToList();
}


<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.SrNo, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("PaymentBillList", Model.SrNo.ToString()))
    {
        string ROWID = "RW_" + Model.SrNo;

        <td class="center">
            <div class="form-group">
                <div class="col-md-11 chkactive">
                    @Html.CheckBoxFor(c => c.IsChecked, new { @class = "chkCheckPayment checkboxes" })
                    @Model.SrNo
                    @Html.HiddenFor(c => c.Acccode)
                </div>
            </div>
        </td>
        <td class="col-md-3">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.BIllno, new { @class = "required2 form-control PaymentBillNo", @placeholder = "Enter BillEntry No." })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.BillDate, new { @class = "required2 form-control", @placeholder = "Bill Date", @readonly = true })
                </div>
            </div>
        </td>
        <td class="col-md-5">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.Party, new { @class = "required2 form-control", @placeholder = "Enter Vendor Detail", @readonly = true })
                </div>
            </div>
        </td>

        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.billamt, new { @class = "required2 form-control", @placeholder = "Tot.Amt.", @readonly = true })
                </div>
            </div>
        </td>

        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.PendAmt, new { @class = "required2 form-control", @placeholder = "Pend.Amt.", @readonly = true })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.AdjstAmt, new { @class = "required2 form-control PaymentAdjstAmt", @placeholder = "0.00", @readonly = true, type = "number" })
                </div>
            </div>
        </td>

        <td class="center">
            @if (Model.SrNo > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
            }
        </td>
    }
</tr>
