﻿@model IEnumerable<FleetDataService.Models.webx_custcontract_hdr>
@*@model FleetDataService.Models.webx_custcontract_hdr*@
@using FleetDataService.Models
@using Fleet.Helpers
@{

}
@foreach (var item in Model.ToList())
{
    <tr>
        @Html.Hidden("Contract_Code", item.ContractId)
        @Html.Hidden("Customer_Code", item.Custcode)
        
        <td>@item.Contract_Code</td>
        <td>@item.Customer_Code</td>
        <td>@item.Contract_Based_On</td>
        <td>@item.Nstartdate</td>
        <td>@item.Nenddate</td>
        <td>
            @if (item.Status == "Active")
            {
                <label style="color: green; font-weight: bold;"> @item.Status </label>
            }
            else
            {
                <label style="color: red; font-weight: bold;">  @item.Status</label>
            }
        </td>
     
        <td>
            @if (item.Status == "Active")
            {
                <a href="javascript://" id="Dactive" data-target="#static" data-toggle="modal">DeActive</a>
            }
            else
            {
                <a href="javascript://" id="Active" data-target="#static" data-toggle="modal">Active</a>
            }
        </td>

        <td>View</td>
        <td>
            @if (item.Status == "Active")
            {
                <a href="@Url.Action("ContractEdit", "Finance", new { CustCode = item.Customer_Code, ContractID = item.Contract_Code, ConType = item.Contract_Type, Flag = "S" })" class="btn default btn-xs blue-stripe"><i class="fa fa-pencil"></i>&nbsp;Edit</a>
            }
        </td>
    </tr>
}

