﻿@model Fleet.ViewModels.vw_SupplimentryViewList
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers

@using (Html.BeginCollectionItem("BillViewPrint", Model.BILLNO.ToString()))
{
    <tr>

        <td>
            <a href="javascript:View('@Model.BILLNO')" class="btn btn-xs"><b><i class="fa fa-print"></i>&nbsp;View</b></a>
        </td>

        <td>
            @Model.BILLNO
        </td>
        <td>
            @Model.BBRCD
        </td>
        <td>
            @Model.PARTY
        </td>
        <td>
            @Model.BILLTYPE
        </td>
        <td>
            @Model.BILLAMT
        </td>
        <td>
            @Model.BGNDT
        </td>
        <td>
            @Model.BSBDT
        </td>
        <td>
            @Model.BDUEDT
        </td>
        <td>
            @Model.BCLDT
        </td>
        <td>
            @Model.BILLSTATUS
        </td>

    </tr>
}
