﻿@{
    ViewBag.Title = "_SupplementaryBill";
    Layout = null;
}


@model FleetDataService.Models.webx_BILLDET

@using Fleet.Helpers
@{

    List<SelectListItem> BlankList = new List<SelectListItem>(){
                            new SelectListItem { Text = "CNote", Value = "DKT"},
                            new SelectListItem { Text = "THC", Value = "THC"},
                           };

        //List<SelectListItem> BlankList = new List<SelectListItem>();

        //SelectListItem SLT = new SelectListItem();
        //SLT.Text = ViewBag.DKTCalledAS;
        //SLT.Value = "DKT";
        //BlankList.Add(SLT);
        //SLT = new SelectListItem();
        //SLT.Text = ViewBag.THCCalledAS;
        //SLT.Value = "THC";
        //BlankList.Add(SLT);
}


<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Id, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("LedgerList", (Model.Id).ToString()))
    {

        <td class="center">
            @Html.DisplayFor(c => c.Id)
            @Html.HiddenFor(c => c.Id)
        </td>

        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.Acccode, new { @class = "required2 required form-control", @placeholder = "Ledger" })
                    @Html.Hidden("DKTError")
                </div>
            </div>
        </td>

        <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.Accdesc, new { @class = "required2 form-control", @readonly = "true",@placeholder="Account Name" })
                </div>
            </div>
        </td>

        <td class="center clsDocType">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.DocType, new SelectList(BlankList, "Value", "Text", Model.DocType), null, new { @class = "form-control required select2 required2 dropdown2 clsdoctypeDDL", @placeholder = "Doc Type" })
                </div>
            </div>
        </td>

        <td class="center clsDocType">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.DOCKNO, new { @placeholder = "Document No", @class = "required2 clsDocument required form-control" })
                </div>
            </div>
        </td>

        <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.totamt, new { @class = "required2 required clsAmount clsLedgerAmount form-control", @type = "number", @min = "1" })
                </div>
            </div>
        </td>

        <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextAreaFor(c => c.Narration, new { @class = "required2 required form-control", @placeholder = "Narration" })
                </div>
            </div>
        </td>
    }
</tr>