﻿@model Fleet.ViewModels.OctroiAgentBillViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    ViewBag.Title = "AgentPaymentVoucherList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" id="divList">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp; Agent Payment Voucher View & Print
                </div>
                <div class="">
                    <a class="btn default blue-stripe pull-right" style="margin-top:5px;" href="@Url.Content("~/Finance/AgentPaymentVoucher")">
                        <i class="fa fa-arrow-left"> </i>
                        Back To Criteria
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">

                    <table class="table table-striped table-bordered table-hover" id="Sample1">
                        <thead class="flip-content">
                            <tr>
                                <th class="center">
                                    Voucher No
                                </th>
                                <th class="center">
                                    Payment Date
                                </th>
                                <th class="center">
                                    Billing Branch
                                </th>
                                <th class="center">
                                    Agent Name
                                </th>
                                <th class="center">
                                    Bill Amount
                                </th>
                                <th class="center">
                                    Pending Amount
                                </th>
                                <th class="center">
                                    View Print
                                </th>

                            </tr>
                        </thead>
                        <tbody id="Advice">
                            @foreach (var item in Model.ListAgntVohrBill)
                            {
                                Html.RenderPartial("_AgentPaymentVoucherList", item);
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var initTable1 = function (DomainName) {


            $('#Sample1').dataTable({
                "bDestroy": true
            }).fnDestroy();

            $('#Sample1').dataTable({
                "aLengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "order": [[1, "asc"]],
                "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [0] },
                { "bSearchable": false, "aTargets": [0] }
                ]
            });
            jQuery('#Sample1_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
            jQuery('#Sample1_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
            jQuery('#Sample1_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                initTable1(DomainName);

            }
        };
    }();

</script>






