﻿
@model Fleet.ViewModels.OctroiAgentBillViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    ViewBag.Title = "Agent Bill List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a href="@Url.Content("~/Finance/AgentBillCriteria")" class="btn default btn-xs controls"><i class="fa fa-arrow-left"></i>&nbsp;Back To Criteria</a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <table class="table table-striped table-bordered table-hover" id="Sample1">
                        <thead class="flip-content">
                            <tr>
                                <th class="center">
                                    Bill Number
                                </th>
                                <th class="center">
                                    Bill Date
                                </th>
                                <th class="center">
                                    Billing Branch
                                </th>
                                <th class="center">
                                    Agent Name
                                </th>
                                <th class="center">
                                    Agent Bill Date
                                </th>
                                <th class="center">
                                    Bill Amount
                                </th>
                                <th class="center">
                                    View/Print
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ListAgentBill)
                            {
                                Html.RenderPartial("_AgentBillList", item);
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var FormComponents = function (DomainName) {
        return {
            //main function to initiate the module
            init: function (DomainName) {
                initTableById("Sample1");

            }
        };
    }();

</script>





