﻿@model FleetDataService.ViewModels.BillingQueryModel

@{
    ViewBag.Title = "Bill Generation Query";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*<div class="row">
    <div class="col-md-8">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>Bill Generation
                </div>
            </div>
            <div class="portlet-body">*@
                @{
                    Html.RenderPartial("../UserControls/_BillGenerationCriteria", Model);
                }
            @*</div>
            </div>
        </div>
    </div>*@