﻿@{
    ViewBag.Title = "Bill Collection List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}

@model   Fleet.ViewModels.BillCollectionViewModel
<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body flip-scroll">

                @using (Html.BeginForm("BillCollectionProcess", "Finance", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal", @enctype = "multipart/form-data" }))
                {
                    <div class="col-md-11">
                        <div class="form-group">
                            <label class="control-label col-md-2">Selected Bills </label>
                            <div class="col-md-6">
                                @Html.TextAreaFor(c => c.stringBIllNO, new { @readonly = "true", @class = "form-control required" })
                                @Html.HiddenFor(c => c.PAYBAS)
                                @*@Html.HiddenFor(c => c.IsMiscBill)
                                    @Html.HiddenFor(c => c.IsRentBill)
                                    @Html.HiddenFor(c => c.InternationalBill)*@
                            </div>
                        </div>
                    </div>
                    <div class="form-body">
                        <table class="table table-striped table-bordered table-hover table-full-width" id="Sample1">
                            @if (Model.BillList.Count() > 0)
                            {
                                <thead class="flip-content">
                                    <tr>
                                        <th class="center">
                                            Select
                                            <br />
                                            <span>
                                                <input type="checkbox" id="CHkAll" />
                                            </span>

                                        </th>
                                        <th class="center">
                                            Bill No
                                        </th>
                                        <th class="center">
                                            Manual Billno
                                        </th>
                                        <th class="center">
                                            Bill Branch
                                        </th>
                                        <th class="center">
                                            Party
                                        </th>
                                        <th class="center">
                                            Bill Type
                                        </th>
                                        <th class="center">
                                            Amount
                                        </th>
                                        <th class="center">
                                            Pending Amount
                                        </th>
                                        <th class="center">
                                            Generation Date
                                        </th>
                                        @*<th class="center">
                                               Bill Submission No
                                            </th>*@
                                        @*<th class="center">Due Date</th>*@
                                    </tr>
                                </thead>

                                <tbody id="AgendaTable">

                                    @foreach (var item in Model.BillList.Where(c => c.BILLNO != null))
                                    {
                                        item.iSNO = i;


                                        if (item.iSNO > 0)
                                        {
                                            {

                                                Html.RenderPartial("_BillCollectionPartial", item);
                                            }

                                            i++;
                                        }
                                        else
                                        {
                                            <tr style="text-align: center; background-color: darkgray; height: 20px;">
                                                <td colspan="11" style="background-color: darkgray;"></td>

                                            </tr>
                                        }


                                    }
                                </tbody>
                            }
                            else
                            {
                                <tr>
                                    <th>
                                        No Records Found
                                    </th>
                                </tr>
                            }
                        </table>
                        <p style="color:red;">
                            Select atleast one checkbox to view <strong>Submit</strong> button.
                        </p>
                        <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-9">
                                <a class="btn btn-sm default" href="@Url.Content("~/Finance/BillCollection")">
                                    <i class="fa fa-arrow-left"> </i>
                                    Back To Criteria
                                </a>
                                @if (Model.BillList.Count() > 0)
                                {
                                    <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type='text/javascript'>



    var FormComponents = function (DomainName) {


        var Formvalidate = function (DomainName) {

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {

                },
                messages: { // custom messages for radio buttons and checkboxes

                    'stringBIllNO': {
                        required: "Please select atleast one Bill",
                        minlength: jQuery.format("Please select at least one option")
                    },

                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.attr("name") == "gender") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_gender_error");
                    } else if (element.attr("name") == "payment[]") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_payment_error");
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();


                    App.blockUI({ boxed: true });
                    document.forms[1].submit();

                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }

            });



        }

        var handleDatetimePicker = function () {

            $("#CWE_CallType").prop("disabled", true);
            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
            $(".form_meridian_datetime").datetimepicker({
                isRTL: App.isRTL(),
                format: "dd MM yyyy HH:ii P",
                showMeridian: true,
                autoclose: true,
                @*startDate: new Date('@CurrDate'),*@
                pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                todayBtn: true
            });

            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });
        }


        var initTable1 = function (DomainName) {

            $('#Sample1').dataTable({
                "aLengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 20,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [0] },
                { "bSearchable": false, "aTargets": [0] }
                ]
            });
            jQuery('#Sample1_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
            jQuery('#Sample1_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
            jQuery('#Sample1_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
        }

        var chkChange = function () {
            var values = $('input:checkbox:checked.clsCHK').map(function () {
                return $(this).data('id');
            }).get().join();
            $('#stringBIllNO').val(values);
            ($('input:checkbox:checked.clsCHK').length > 0) ? $('#btnSubmit').show() : $('#btnSubmit').hide();
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                // initTable1(DomainName);
                handleDatetimePicker();
                Formvalidate();
                $('#btnSubmit').hide();

                $('#btnSubmit').click(function (e) {
                    if (!$('#submit_form').valid())
                        return;
                    if ($(":checkbox:checked").length < 1) {
                        alert('Please Select atlest One Checkbox...!!!');
                        e.preventDefault();
                    }

                });

                $('.clsCHK').change(function () {
                    chkChange();
                });
                $("#CHkAll").live("change", function () {
                    $(".clsCHK").prop('checked', $(this).is(':checked'));
                    $("input:checkbox, input:radio").uniform();
                    chkChange();
                });
              
                //$(".clsCHK").click(function () {

                //    //var checked = jQuery(this).is(":checked");
                //    //var TRID = $(this).closest('tr').attr('id');

                //    var strBillno = "";
                //    var count = 0;
                //    $(".clsCHK").each(function () {

                //        var checked1 = jQuery(this).is(":checked");

                //        if (checked1) {
                //            count = count + 1;
                //            var TRID = $(this).closest('tr').attr('id');


                //            $("#" + TRID + " .clsBILL").each(function () {

                //                var BILLNO = $(this).val();

                //                if (strBillno == "")
                //                    strBillno = BILLNO;
                //                else
                //                    strBillno = strBillno + "," + BILLNO;
                //            })
                //        }
                //    });

                //    $("#stringBIllNO").val(strBillno);
                //    if (count == 0) {
                //        $('#btnSubmit').hide();
                //    }
                //    else {
                //        $('#btnSubmit').show();
                //    }
                //});

                //$("#btnSubmit").click(function () {


                //    if (!confirm('Are you sure that you want to submit for MR !!!'))
                //        event.preventDefault();


                //    App.blockUI({ boxed: true });

                //});




                //CountComperValue(DomainName);
            }
        }
    }();

</script>
