﻿@model FleetDataService.ViewModels.BillEntryAdjustmentViewModel
@{
    ViewBag.Title = "Bill Entry Adjustment Module";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (Model.AdjustmentDate == null || Model.AdjustmentDate == System.DateTime.MinValue)
    {
        Model.AdjustmentDate = System.DateTime.Now;
    }
    Model.AdjustmentLocation = @ViewBag.BaseLocationCode;
    var BaseFinYear = ViewBag.BaseFinYear;
}
<div class="row">
    @using (Html.BeginForm("BillEntryAdjustment", "Finance", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
    {
        <div class="form-body">
            <h4>@ViewBag.Title</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet box @ViewBag.TableBoxColor">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-list"></i>Payment BillEntry Details
                            </div>
                        </div>
                        <div class="portlet-body ">
                            <table id="tblPayment" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Srno</th>
                                        <th class="col-md-3">BillEntry No.</th>
                                        <th class="col-md-1">Date</th>
                                        <th class="col-md-5">Vendor Detail</th>
                                        <th class="col-md-1">Tot.Amt.</th>
                                        <th class="col-md-1">Pend.Amt.</th>
                                        <th class="col-md-1">Adjust Amt.</th>
                                        <th>X</th>
                                    </tr>
                                </thead>
                                <tbody id="containertblPayment">
                                    @foreach (var item in Model.PaymentBillEntry)
                                    {
                                        Html.RenderPartial("_PaymentBillDetails", item);
                                    }
                                </tbody>
                                <tr>
                                    <td colspan="5"></td>
                                    <td>Total Amount.</td>
                                    <td>@Html.TextBox("TotalPayment", "0.00", new { @class = "required2 form-control", @placeholder = "0.00", @readonly = true })</td>
                                    <td></td>
                                </tr>
                            </table>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-9">
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn green pull-right btnAddBillDetail" data-type="BENO"><i class="fa fa-plus"></i>&nbsp;Add Row</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-list"></i>&nbsp;InCome Bill Details
                            </div>
                        </div>
                        <div class="portlet-body ">
                            <table id="tblIncome" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Srno</th>
                                        <th class="col-md-3">Bill No.</th>
                                        <th class="col-md-1">Date</th>
                                        <th class="col-md-5">Customer Detail</th>
                                        <th class="col-md-1">Tot.Amt.</th>
                                        <th class="col-md-1">Pend.Amt.</th>
                                        <th class="col-md-1">Adjust Amt.</th>
                                        <th>X</th>
                                    </tr>
                                </thead>
                                <tbody id="containertblIncome">
                                    @foreach (var item in Model.IncomeBillEntry)
                                    {
                                        Html.RenderPartial("_IncomeBillDetails", item);
                                    }
                                </tbody>
                                <tr>
                                    <td colspan="5"></td>
                                    <td>Total Amount.</td>
                                    <td>@Html.TextBox("TotalIncome", "0.00", new { @class = "required2 form-control", @placeholder = "0.00", @readonly = true })</td>
                                    <td></td>
                                </tr>
                            </table>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-9">
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn green pull-right btnAddBillDetail" data-type="BILLNO"><i class="fa fa-plus"></i>&nbsp;Add Row</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="form-section bold" id="errorMsg" style="color: #b94a48;"></h5>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-edit"></i>&nbsp;Bill/BillEntry Adjustment Details
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                Enter Adjustment Date :
                                            </label>
                                            <div class="col-md-4">
                                                <div class="input-group date date-picker" data-date-format="dd MMM yyyy">
                                                    @Html.TextBoxFor(m => m.AdjustmentDate, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.AdjustmentDate).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = true })
                                                    <span class="input-group-btn">
                                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                Adjustment Amount <b>(Payment) </b>:
                                            </label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(c => c.AdjustmentPaymentAmount, new { @class = "form-control required2", @placeholder = "0.00", @readonly = true })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                Adjustment Amount <b>(Income) </b>:
                                            </label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(c => c.AdjustmentIncomeAmount, new { @class = "form-control required2 CheckCheque1", @placeholder = "0.00", @readonly = true })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                Adjustment Location :
                                            </label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(c => c.AdjustmentLocation, new { @class = "form-control required required2", @placeholder = "Select Adjustment Location" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions fluid">
                                <div class="col-md-offset-4 col-md-8">
                                    <button type="submit" id="btnSubmit" class="btn btn-sm green ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {


        var Formvalidate = function (DomainName, formName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            $.validator.addMethod('checkPaymentBillDetails', function (value, element) {

                var flg = true;

                var dlnmId = $(element).attr("id");
                var Value = $(element).val();

                $(".PaymentBillNo").each(function () {
                    var dlnmId1 = $(this).attr("id");
                    var dlnmVal1 = $(this).val();
                    //alert(dlnmVal1 + '__' + Value);
                    if (dlnmId1 != dlnmId && dlnmVal1 == Value) {
                        flg = false;
                        $("#" + dlnmId).val("");
                        $("#" + dlnmId).focus();
                        return true;
                    }
                });

                if (flg) {
                    var BillType = $("#tblPayment").parent('div').find('button').data('type');
                    var itemIned = $(element).attr("id").replace("PaymentBillList_", "").replace("__BIllno", "");

                    var strURL = DomainName + "/Finance/GetBillDetails?BillNo=" + $(element).val() + "&BillType=" + BillType;
                    var result1 = $.ajax({
                        async: false,
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        url: strURL,
                        dataType: 'json',
                        data: {},
                    });

                    var d1 = JSON.parse(result1.responseText);
                    //alert(d1.Status)
                    if (d1.Status != "5") {
                        $("#PaymentBillList_" + itemIned + "__BillDate").val("");
                        $("#PaymentBillList_" + itemIned + "__Party").val("");
                        $("#PaymentBillList_" + itemIned + "__billamt").val("");
                        $("#PaymentBillList_" + itemIned + "__PendAmt").val("");
                        $("#PaymentBillList_" + itemIned + "__Acccode").val("");
                        return false;
                    }
                    else {
                        $("#PaymentBillList_" + itemIned + "__BillDate").val(d1.BillDate);
                        $("#PaymentBillList_" + itemIned + "__Party").val(d1.Party);
                        $("#PaymentBillList_" + itemIned + "__billamt").val(d1.BillAmout);
                        $("#PaymentBillList_" + itemIned + "__PendAmt").val(d1.PendAmount);
                        $("#PaymentBillList_" + itemIned + "__Acccode").val(d1.Acccode);
                        $("#PaymentBillList_" + itemIned + "__AdjstAmt").attr("max", $("#PaymentBillList_" + itemIned + "__PendAmt").val());
                        return true;
                    }

                }

            }, "Invalid Bill no. OR Bill is Cancelled. OR Bill Has no Pending Amount.");

            $.validator.addMethod('checkIncomeBillDetails', function (value, element) {

                var flg = true;

                var dlnmId = $(element).attr("id");
                var Value = $(element).val();

                $(".IncomeBillNo").each(function () {
                    var dlnmId1 = $(this).attr("id");
                    var dlnmVal1 = $(this).val();
                    //alert(dlnmVal1 + '__' + Value);
                    if (dlnmId1 != dlnmId && dlnmVal1 == Value) {
                        flg = false;
                        $("#" + dlnmId).val("");
                        $("#" + dlnmId).focus();
                        return true;
                    }
                });

                //alert(flg)
                if (flg) {
                    var BillType = $("#tblIncome").parent('div').find('button').data('type');
                    var itemIned = $(element).attr("id").replace("IncomeBillList_", "").replace("__BIllno", "");

                    var strURL = DomainName + "/Finance/GetBillDetails?BillNo=" + $(element).val() + "&BillType=" + BillType;
                    var result1 = $.ajax({
                        async: false,
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        url: strURL,
                        dataType: 'json',
                        data: {},
                    });

                    var d1 = JSON.parse(result1.responseText);
                    //alert(d1.Status)
                    if (d1.Status != "5") {
                        $("#IncomeBillList_" + itemIned + "__BillDate").val("");
                        $("#IncomeBillList_" + itemIned + "__Party").val("");
                        $("#IncomeBillList_" + itemIned + "__billamt").val("");
                        $("#IncomeBillList_" + itemIned + "__PendAmt").val("");
                        $("#IncomeBillList_" + itemIned + "__Acccode").val("");
                        return false;
                    }
                    else {
                        $("#IncomeBillList_" + itemIned + "__BillDate").val(d1.BillDate);
                        $("#IncomeBillList_" + itemIned + "__Party").val(d1.Party);
                        $("#IncomeBillList_" + itemIned + "__billamt").val(d1.BillAmout);
                        $("#IncomeBillList_" + itemIned + "__PendAmt").val(d1.PendAmount);
                        $("#IncomeBillList_" + itemIned + "__Acccode").val(d1.Acccode);
                        $("#IncomeBillList_" + itemIned + "__AdjstAmt").attr("max",$("#IncomeBillList_" + itemIned + "__PendAmt").val());
                        return true;
                    }

                }

            }, "Invalid Bill no. OR Bill is Cancelled. OR Bill Has no Pending Amount. OR Bill is Not Submitted, for Adjustment : Bill Must be Submitted. OR Bill Already Collected.");

            $.validator.addMethod('checkDateValication', function (value, element) {
                var baseYear = '@BaseFinYear'.split("-")[0].toString();
                var dateYear = value.split(" ")[2].toString();
                //alert(baseYear + "   ==   " + dateYear)
                if (baseYear == dateYear) {
                    return true;
                }
                else {
                    return false;
                }

            }, "Invalid Date.");
            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form1) {
                    success1.show();
                    error1.hide();
                }

            });

            $('.ClsbtnSave').click(function () {

                if ($("#AdjustmentPaymentAmount").val() == $("#AdjustmentIncomeAmount").val()) {

                    if ($('#form_sample').valid()) {

                            App.blockUI({ boxed: true });
                            document.forms["form_sample"].submit();
                        }
                    }
                    else {
                        return false;
                    }

            });
        }


        var AddAddBillDetail = function (DomainName, itemIndex, BillType) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Finance/AddAddBillDetail?id=' + itemIndex + "&BillType=" + BillType;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    if (BillType == "BENO") {
                        $("#containertblPayment").append(html);
                    }
                    else {
                        $("#containertblIncome").append(html);
                    }

                    Events(DomainName);
                    $("input[type=checkbox], input:radio, input:file").uniform();
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                    App.unblockUI();
                }
            });
        }

        var Events = function (DomainName) {

            /* For Payment bill Details   */

            $(".PaymentBillNo").change(function () {
                $(this).rules("add", {
                    checkPaymentBillDetails: true,
                });
            });

            /* For Income bill Details   */

            $(".IncomeBillNo").change(function () {
                $(this).rules("add", {
                    checkIncomeBillDetails: true,
                });
            });
        }

        /*  For Payment*/

        var calcAdjstAmtPayment = function () {
            var finalAmt = 0;
            $(".PaymentAdjstAmt").each(function () {
                var AdjstAmt = $(this).val();
                finalAmt = parseFloat(finalAmt) + parseFloat(AdjstAmt);
            });
            $("#AdjustmentPaymentAmount").val((parseFloat(finalAmt)).toFixed(2));
            $("#TotalPayment").val((parseFloat(finalAmt)).toFixed(2));
        }

        /*  For Income*/

        var calcAdjstAmtIncome = function () {
            var finalAmt = 0;
            $(".IncomeAdjstAmt").each(function () {
                var AdjstAmt = $(this).val();
                finalAmt = parseFloat(finalAmt) + parseFloat(AdjstAmt);
            });
            $("#AdjustmentIncomeAmount").val((parseFloat(finalAmt)).toFixed(2));
            $("#TotalIncome").val((parseFloat(finalAmt)).toFixed(2));
        }
    

        var AdjstAmtTotal = function (DomainName, itemIndex) {
            var AdjustmentPaymentAmount = $("#AdjustmentPaymentAmount").val();
            var AdjustmentIncomeAmount = $("#AdjustmentIncomeAmount").val();
          
            if (AdjustmentPaymentAmount != AdjustmentIncomeAmount) {
                alert("Adjustment Payment Amount/Adjustment Income Amount must same..!!");
                $("#AdjustmentPaymentAmount").val(0);
                $("#AdjustmentIncomeAmount").val(0);
                return false;
            }

        }




        return {
            init: function (DomainName) {

                Formvalidate(DomainName);
                handleDatePicker();

                /*   For Payment new Row   */
                var itemIndex = $("#tblPayment input.iHidden").length + 1;
                AddAddBillDetail(DomainName, itemIndex, "BENO");

                /*   For Income new Row   */
                itemIndex = $("#tblIncome input.iHidden").length + 1;
                AddAddBillDetail(DomainName, itemIndex, "BILLNO");

                JsonDDL("AdjustmentLocation", DomainName + '/Master/GetLocationListJson');


                $(".btnAddBillDetail").live('click', function () {
                    var BillType = $(this).data('type');
                    if (BillType == "BENO")/*   For Payment new Row   */ {
                        itemIndex = $("#tblPayment input.iHidden").length + 1;
                    }
                    else {/*   For Income new Row   */
                        itemIndex = $("#tblIncome input.iHidden").length + 1;
                    }
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddAddBillDetail(DomainName, itemIndex, BillType);
                        }, 100 * i);
                    }
                });

                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    calcAdjstAmtPayment();
                    calcAdjstAmtIncome();
                    return false;
                });
                $(".date-picker input").change(function () {
                    $(this).rules("add", {
                        checkDateValication: true,
                    });
                });


                /*  For Payment*/

                $(".chkCheckPayment").live("change", function () {
                    var AdjstAmt = $(this).attr('id').replace("IsChecked", "AdjstAmt");
                    var PendAmt = $(this).attr('id').replace("IsChecked", "PendAmt");
                    if ($(this).is(":checked")) {
                        var BillNoId = $(this).attr('id').replace("IsChecked", "BIllno");
                        if ($("#" + BillNoId).val() == "" || $("#" + BillNoId).val() == null) {
                            $("#" + AdjstAmt).attr("readonly", true);
                        }
                        else {
                            $("#" + AdjstAmt).val($("#" + PendAmt).val());
                            $("#" + AdjstAmt).attr("readonly", false);
                            $("#" + AdjstAmt).focus();
                        }
                    }
                    else {
                        $("#" + AdjstAmt).attr("readonly", true);
                        $("#" + AdjstAmt).val("0.00");
                    }
                    calcAdjstAmtPayment();
                });

                $(".PaymentAdjstAmt").live("change", function () {
                    calcAdjstAmtPayment();
                });

                /*  For Income*/

                $(".chkCheckIncome").live("change", function () {
                    var AdjstAmt = $(this).attr('id').replace("IsChecked", "AdjstAmt");
                    var PendAmt = $(this).attr('id').replace("IsChecked", "PendAmt");
                    if ($(this).is(":checked")) {
                        var BillNoId = $(this).attr('id').replace("IsChecked", "BIllno");
                        if ($("#" + BillNoId).val() == "" || $("#" + BillNoId).val() == null) {
                            $("#" + AdjstAmt).attr("readonly", true);
                        }
                        else {
                            $("#" + AdjstAmt).val($("#" + PendAmt).val());
                            $("#" + AdjstAmt).attr("readonly", false);
                            $("#" + AdjstAmt).focus();
                        }
                    }
                    else {
                        $("#" + AdjstAmt).attr("readonly", true);
                        $("#" + AdjstAmt).val("0.00");
                    }
                    calcAdjstAmtIncome();
                });

                $(".IncomeAdjstAmt").live("change", function () {
                    calcAdjstAmtIncome();
                });

                $(".CheckCheque1").live("change",function () {
                    var AdjustmentIncomeAmount = $("#AdjustmentIncomeAmount").val();
                    // var Paymode = $("#PayMode").val();
                });

                $('#btnSubmit').click(function () {

                    AdjstAmtTotal(DomainName, itemIndex);

                });
            }
        }
    }();
</script>