﻿@model FleetDataService.ViewModels.BillEntryAdjustmentViewModel
@using Fleet.ViewModels
@{
    ViewBag.Title = "Adjusted Bill Cancellation Module";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (Model.CancellationDate == null || Model.CancellationDate == System.DateTime.MinValue)
    {
        Model.CancellationDate = System.DateTime.Now;
    }
    Model.AdjustmentLocation = @ViewBag.BaseLocationCode;
    var BaseFinYear = ViewBag.BaseFinYear;


    objDate OD = new objDate();
    OD.ControlId = "Model.CancellationDate";
    OD.ControlValue = Model.CancellationDate.ToString();
    OD.ModuleCode = "30";
    
    
}
<div class="row">
    @using (Html.BeginForm("AddBillAdjustmentCancellation", "Finance", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
    {
        <div class="form-body">
            <h4>@ViewBag.Title</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet box @ViewBag.TableBoxColor">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-list"></i>Payment BillEntry Details
                            </div>
                        </div>
                        <div class="portlet-body ">
                            <table id="tblPayment" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-md-3">BillEntry No.</th>
                                        <th class="col-md-1">Date</th>
                                        <th class="col-md-5">Vendor Detail</th>
                                        <th class="col-md-1">Adjust Amt.</th>
                                    </tr>
                                </thead>
                                <tbody id="containertblPayment">
                                    @foreach (var item in Model.PaymentBillEntry)
                                    {
                                        Html.RenderPartial("_PaymentBillCancellationDetails", item);
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-list"></i>&nbsp;InCome Bill Details
                            </div>
                        </div>
                        <div class="portlet-body ">
                            <table id="tblIncome" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-md-3">Bill No.</th>
                                        <th class="col-md-1">Date</th>
                                        <th class="col-md-5">Customer Detail</th>
                                        <th class="col-md-1">Adjust Amt.</th>
                                    </tr>
                                </thead>
                                <tbody id="containertblIncome">
                                    @foreach (var item in Model.IncomeBillEntry)
                                    {
                                        Html.RenderPartial("_IncomeBillCancellationDetails", item);
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-edit"></i>&nbsp;Adjusted Bill Cancellation Details
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                Enter Bill Cancellation Date :
                                            </label>
                                            <div class="col-md-4">
                                                @*<div class="input-group date date-picker" data-date-format="dd MMM yyyy">
                                                    @Html.TextBoxFor(m => m.CancellationDate, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.CancellationDate).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = true })
                                                    <span class="input-group-btn">
                                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>*@
                                                @{
        Html.RenderPartial("../UserControls/_DocumentDate", OD);
                                                }


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                Adjustment Amount <b>(Payment) </b>:
                                            </label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(c => c.AdjustmentPaymentAmount, new { @class = "form-control required2", @placeholder = "0.00", @readonly = true })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                Adjustment Amount <b>(Income) </b>:
                                            </label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(c => c.AdjustmentIncomeAmount, new { @class = "form-control required2", @placeholder = "0.00", @readonly = true })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                Cancellation Reason :
                                            </label>
                                            <div class="col-md-4">
                                                @Html.TextAreaFor(c => c.CancellationReason, new { @class = "form-control required required2", @placeholder = "Enter Cancellation Reason" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions fluid">
                                <div class="col-md-offset-4 col-md-8">
                                    <button type="submit" id="btnSubmit" class="btn btn-sm green ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                rules: {
                    //"AdjustmentDate": {
                    //    checkDateValication: true
                    //}
                },
                messages: {
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();

                    $("#btnSubmit").hide();
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();

                }
            });
        }

        /*  For Payment*/
        var calcAdjstAmtPayment = function () {
            var finalAmt = 0;
            $(".PaymentAdjstAmt").each(function () {
                var AdjstAmt = $(this).val();
                //alert("hii");
                finalAmt = parseFloat(finalAmt) + parseFloat(AdjstAmt);
            });
            $("#AdjustmentPaymentAmount").val((parseFloat(finalAmt)).toFixed(2));
        }

        /*  For Income*/
        var calcAdjstAmtIncome = function () {
            var finalAmt = 0;
            $(".IncomeAdjstAmt").each(function () {
                var AdjstAmt = $(this).val();
                finalAmt = parseFloat(finalAmt) + parseFloat(AdjstAmt);
            });
            $("#AdjustmentIncomeAmount").val((parseFloat(finalAmt)).toFixed(2));

        }

        return {
            init: function (DomainName) {
                Formvalidate(DomainName);
                ControlDate();
              //  handleDatePicker();

                /*  For Payment*/
                $(".PaymentAdjstAmt").live("change", function () {
                    calcAdjstAmtPayment();
                });
                $(".PaymentAdjstAmt").trigger("change");

                /*  For Income*/
                $(".IncomeAdjstAmt").live("change", function () {
                    calcAdjstAmtIncome();
                });
                $(".IncomeAdjstAmt").trigger("change");

            }
        }
    }();
</script>