﻿@{
    ViewBag.Title = "Bill Generation";
    Layout = "~/Views/Shared/_Layout.cshtml";


    Model.BILLMST.BGNDT = System.DateTime.Now;
    Model.BILLMST.BDUEDT = System.DateTime.Now;
    Model.BILLMST.manualbillno = "N/A";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();

    string BILLTYPE = "Freight Bill";

    if (Model.IsDAMBill)
    {
        BILLTYPE = "Demurrage Bill";
    }


    if (Model.CUSTHDR.billsub_loccode == "" || Model.CUSTHDR.billsub_loccode == null)
    {
        Model.CUSTHDR.billsub_loccode = Model.BILLMST.BBRCD;
    }

    if (Model.CUSTHDR.billcol_loccode == "" || Model.CUSTHDR.billcol_loccode == null)
    {
        Model.CUSTHDR.billcol_loccode = Model.BILLMST.BBRCD;
        Model.BILLMST.BILLCOLBRCD = Model.BILLMST.BBRCD;
    }

    string BillSubLocName = MS.GetLocationDetails().Where(c => c.LocCode.ToUpper() == Model.CUSTHDR.billsub_loccode).FirstOrDefault().LocName;
    string BillCollLocName = MS.GetLocationDetails().Where(c => c.LocCode.ToUpper() == Model.CUSTHDR.billcol_loccode).FirstOrDefault().LocName;
    Model.BillCollLocNM = BillCollLocName;

    var BillModuleList = MS.GetModuleRule().Where(c => c.Module_Name == "Bill Generation").ToList();

    Model.BTWiseYN = BillModuleList.Where(c => c.RULEID.ToUpper() == "RULE01").FirstOrDefault().RULE_Y_N.ToUpper();
    Model.BIllPODApprovalYN = BillModuleList.Where(c => c.RULEID.ToUpper() == "RULE02").FirstOrDefault().RULE_Y_N.ToUpper();
    Model.Mindate = BillModuleList.Where(c => c.RULEID.ToUpper() == "RULE03").FirstOrDefault().RULE_VALUE.ToUpper();
    Model.Maxdate = BillModuleList.Where(c => c.RULEID.ToUpper() == "RULE04").FirstOrDefault().RULE_VALUE.ToUpper();

    Model.BackdaysYN = BillModuleList.Where(c => c.RULEID.ToUpper() == "RULE05").FirstOrDefault().RULE_Y_N.ToUpper();
    Model.BackDays = BillModuleList.Where(c => c.RULEID.ToUpper() == "RULE05").FirstOrDefault().RULE_VALUE.ToUpper();

    Model.BillLocation = BillModuleList.Where(c => c.RULEID.ToUpper() == "RULE07").FirstOrDefault().RULE_VALUE.ToUpper();
    Model.OutStdLimitAllow = BillModuleList.Where(c => c.RULEID.ToUpper() == "RULE08").FirstOrDefault().RULE_Y_N.ToUpper();
    Model.CRLimitAllow = BillModuleList.Where(c => c.RULEID.ToUpper() == "RULE09").FirstOrDefault().RULE_Y_N.ToUpper();

    Model.ManualBillnoMandatory = BillModuleList.Where(c => c.RULEID.ToUpper() == "RULE13").FirstOrDefault().RULE_Y_N.ToUpper();
    Model.DuplicateCheck = BillModuleList.Where(c => c.RULEID.ToUpper() == "RULE14").FirstOrDefault().RULE_Y_N.ToUpper();


    //Model.CUSTHDR.credit_limit = 500;

    objDate OD = new objDate();
    OD.ControlId = "BILLMST.BGNDT";
    OD.ControlValue = Model.BILLMST.BGNDT.ToString();
    OD.ModuleCode = "17";
}

@using Fleet
@using Fleet.ViewModels

@model FleetDataService.ViewModels.BillGeneration

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@ViewBag.Title
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("BillGenerationSubmit", "Finance", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <h4 class="form-section">Bill Details <b style="font-size: 13px;">(Type : @BILLTYPE)</b></h4>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Bill No. </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.BILLMST.BILLNO, new { placeholder = "System Generated", @readonly = "true", @class = "required2 form-control" })
                                @Html.Hidden("BillSubLocNM", BillSubLocName)
                                @Html.Hidden("BillCollLocNM", BillCollLocName)
                                @Html.HiddenFor(m => m.BQM.PartyType)
                                @Html.HiddenFor(m => m.IsDAMBill)
                                @Html.HiddenFor(m => m.DeliveryDate)
                                @Html.HiddenFor(m => m.BTWiseYN)
                                @Html.HiddenFor(m => m.BIllPODApprovalYN)
                                @Html.HiddenFor(m => m.Mindate)
                                @Html.HiddenFor(m => m.Maxdate)
                                @Html.HiddenFor(m => m.BackdaysYN)
                                @Html.HiddenFor(m => m.BackDays)
                                @Html.HiddenFor(m => m.BillLocation)
                                @Html.HiddenFor(m => m.OutStdLimitAllow)
                                @Html.HiddenFor(m => m.CRLimitAllow)
                                @Html.HiddenFor(m => m.ManualBillnoMandatory)
                                @Html.HiddenFor(m => m.DuplicateCheck)
                                @Html.Hidden("Paybas")
                                @Html.Hidden("TransportMode")
                                @Html.Hidden("BusinessType")
                                @Html.Hidden("DocketNo")
                                @Html.Hidden("StaxYN")
                                @Html.Hidden("StaxRate")
                                @Html.HiddenFor(m => m.BillCollLocNM)
                                @Html.HiddenFor(m => m.IsOctroiBill)

                                @*for back to list option*@
                                @Html.HiddenFor(c => c.BQM.FromDate)
                                @Html.HiddenFor(c => c.BQM.ToDate)
                                @Html.HiddenFor(c => c.BQM.Bill_POD_Approval_YN)
                                @Html.HiddenFor(c => c.BQM.StaxYN)
                                @Html.HiddenFor(c => c.BQM.StaxRate)
                                @Html.HiddenFor(c => c.BQM.Trans_Type)
                                @Html.HiddenFor(c => c.BQM.Paybas)
                                @Html.HiddenFor(c => c.BQM.TransportMode)
                                @Html.HiddenFor(c => c.BQM.BusinessType)
                                @Html.HiddenFor(c => c.BQM.BillingParty)
                                @Html.HiddenFor(c => c.BQM.DocketNo)

                                @Html.HiddenFor(c => c.GC.FilterType)
                                @Html.HiddenFor(c => c.GC.FromDate)
                                @Html.HiddenFor(c => c.GC.ToDate)
                                @Html.HiddenFor(c => c.GC.ToDate)
                                @Html.HiddenFor(c => c.GC.IsGSTApply)
                                @Html.HiddenFor(c => c.GC.GSTType)
                                @Html.HiddenFor(c => c.GC.StateCode)
                                @Html.HiddenFor(c => c.GC.VendorCode)
                                @Html.HiddenFor(c => c.GC.CustomerCode)
                                @Html.HiddenFor(c => c.GC.TransitMode)


                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Bill Date</label>
                            <div class="col-md-7">
                                @{
                                    Html.RenderPartial("../UserControls/_DocumentDate", OD);
                                }

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Due Date</label>
                            <div class="col-md-7">
                                <div class="input-group date duedatetime-picker">
                                    @Html.TextBoxFor(m => m.BILLMST.BDUEDT, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.BILLMST.BDUEDT).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                                    <span class="input-group-btn">
                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Bill Branch</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.BILLMST.BBRCD, new { placeholder = "Billing Party", @class = "required2 form-control required", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Bill Submission at</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.BILLMST.BILLSUBBRCD, new { placeholder = "Bill Submission at", @class = "required2 required form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Bill Collection  at</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.BILLMST.BILLCOLBRCD, new { placeholder = "Bill Collection  at", @class = "required2 required form-control" })
                            </div>
                        </div>
                    </div>
                </div>

                <h4 class="form-section">Party Details</h4>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Party Code </label>
                            <div class="col-md-7">
                                @Html.TextBox("Values", Model.BILLMST.PTMSCD + ":" + Model.BILLMST.PTMSNM, new { placeholder = " No", @class = "required2 required form-control", @readonly = "true" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-5">Party Phone No </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.BILLMST.PTMSTEL, new { placeholder = " No", @class = "required2  form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Party Name</label>
                            <div class="col-md-7 chkactive">
                                @Html.HiddenFor(m => m.BILLMST.PTMSNM)
                                @Html.HiddenFor(m => m.BILLMST.PTMSCD)
                                <b>@Html.DisplayFor(m => m.BILLMST.PTMSNM)</b>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-5">Party E-mail</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.BILLMST.PTMSEMAIL, new { placeholder = "Destination", @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Billing Party Address </label>
                            <div class="col-md-7 chkactive">
                                @Html.HiddenFor(m => m.BILLMST.PTMSADDR, new { placeholder = "Destination", @class = "required2 form-control required" })
                                <b>@Html.DisplayFor(m => m.BILLMST.PTMSADDR)</b>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 class="form-section">Amount Details</h4>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5" style="padding-top: 0px;">Credit Days </label>
                            <div class="col-md-7">
                                @Html.HiddenFor(m => m.CUSTHDR.credit_day, new { placeholder = " No", @class = "required2  form-control", @readonly = "true" })
                                <b>@Html.DisplayFor(m => m.CUSTHDR.credit_day)</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5" style="padding-top: 0px;">Credit Limit</label>
                            <div class="col-md-7">
                                @Html.HiddenFor(m => m.CUSTHDR.credit_limit, new { placeholder = "Destination", @class = "required2 form-control required" })
                                <b>@Html.DisplayFor(m => m.CUSTHDR.credit_limit)</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-6" style="padding-top: 0px;">Outstanding Amount(As On Date)</label>
                            <div class="col-md-6">
                                @Html.HiddenFor(m => m.CUSTHDR.OutStdAmt, new { placeholder = "Destination", @class = "required2 form-control required" })
                                <b>@Html.DisplayFor(m => m.CUSTHDR.OutStdAmt)</b>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Remark </label>
                            <div class="col-md-7">
                                @Html.TextAreaFor(m => m.BILLMST.REMARK, new { placeholder = " Remark", @class = "required2  form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Special Instruction </label>
                            <div class="col-md-7">
                                @Html.TextAreaFor(m => m.BILLMST.spe_inst, new { placeholder = " Special Instruction", @class = "required2  form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-6" style="font-size: 16px;"><b>Total Bill Amount</b></label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.BILLMST.BILLAMT, new { placeholder = "Bill Amount", @class = "required2 form-control required", @readonly = "true" })
                                @Html.HiddenFor(m => m.BILLMST.svctax_rate)
                                @Html.HiddenFor(m => m.BILLMST.cess_rate)
                                @Html.HiddenFor(m => m.BILLMST.H_cess_rate)
                                @Html.HiddenFor(m => m.BILLMST.SBCRATE)
                                @Html.HiddenFor(m => m.IsOctroiStax)
                                @Html.HiddenFor(m => m.BILLMST.SVRCAMT)
                                @Html.HiddenFor(m => m.BILLMST.CESSAMT)
                                @Html.HiddenFor(m => m.BILLMST.hedu_cess)
                                @Html.HiddenFor(m => m.BILLMST.SBCAMT)

                                @*START GST Changes Chirag D*@
                                @Html.HiddenFor(m => m.BQM.GC.IsGSTApply)
                                @Html.HiddenFor(c => c.BQM.GC.FilterType)
                                @Html.HiddenFor(c => c.BQM.GC.FromDate)
                                @Html.HiddenFor(c => c.BQM.GC.ToDate)
                                @Html.HiddenFor(c => c.BQM.GC.ToDate)
                                @Html.HiddenFor(c => c.BQM.GC.GSTType)
                                @Html.HiddenFor(c => c.BQM.GC.StateCode)
                                @Html.HiddenFor(c => c.BQM.GC.VendorCode)
                                @Html.HiddenFor(c => c.BQM.GC.CustomerCode)
                                @Html.HiddenFor(c => c.BQM.Bill_POD_Approval_YN)
                                @Html.HiddenFor(c => c.BQM.StaxYN)
                                @Html.HiddenFor(c => c.BQM.StaxRate)
                                @Html.HiddenFor(c => c.BQM.Trans_Type)
                                @Html.HiddenFor(c => c.BQM.BusinessType)
                                @Html.HiddenFor(c => c.BQM.BillingParty)
                                @*END GST Changes Chirag D*@
                            </div>
                        </div>
                    </div>
                </div>

                <h4 class="form-section">@ViewBag.DKTCalledAs Details</h4>

                @if (Model.IsOctroiBill)
                {
                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label col-md-5">No Of Rows </label>
                                <div class="col-md-7">
                                    @Html.TextBox("LedgerRows", "0", new { placeholder = "Private Mark", @class = "input-small required2 form-control required" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <a id="btnAddRows" class="btn  @ViewBag.TableBoxColor right">
                                Add New Row <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                        <div class="col-md-5">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet-body flip-scroll">
                                <table id="container" class="table table-bordered table-striped table-condensed flip-content">
                                    <thead class="flip-content">
                                        <tr>
                                            <th class="center">
                                                Sr. No.
                                            </th>
                                            <th class="center">
                                                @ViewBag.DKTCalledAs No /  Decl. Value
                                            </th>
                                            <th class="center clsDocType">
                                                Decl. Value
                                            </th>
                                            <th class="center clsDocType">
                                                Octroi Amt./(%)
                                            </th>
                                            <th class="center">
                                                Clearance Charges
                                            </th>
                                            <th class="center">
                                                Processing Charges (%)/Charges
                                            </th>

                                            <th class="center">
                                                Other Charges
                                            </th>
                                            <th class="center clsStax">
                                                S.Tax
                                            </th>
                                            <th class="center clsStax">
                                                Cess
                                            </th>
                                            <th class="center clsStax">
                                                Higher Edu. Cess
                                            </th>
                                            <th class="center clsStax">
                                                Swachh Bharat Cess
                                            </th>
                                            <th class="center clsDocType">
                                                Total
                                            </th>

                                            <th class="center">
                                                Reciept No.
                                                Receipt Date
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody id="Bodycontainer">
                                        @foreach (var itm in Model.BILLDET)
                                        {
                                            Html.RenderPartial("_OctroiBill", itm);
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="portlet-body clsMF flip-scroll">
                        <table class="table table-bordered table-striped table-condensed flip-content" id="tblDKT">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        @Html.CheckBox("IsAllEnabled")
                                    </th>
                                    <th class="center ">
                                        @ViewBag.DKTCalledAs No.
                                    </th>

                                    <th class="center clsFRTBILL">
                                        Mode
                                    </th>
                                    <th class="center clsFRTBILL">
                                        Bkg Date : Comm Dely DT
                                    </th>
                                    <th class="center clsFRTBILL">
                                        Chrg Wt./Freight
                                    </th>
                                    <th class="center clsFRTBILL">Frt. Rate(per Kg/Pkg)</th>

                                    <th class="center clsFRTBILL">
                                        @ViewBag.DKTCalledAs Charges
                                    </th>
                                    <th class="center clsFRTBILL">
                                        FOV Charges
                                    </th>
                                    <th class="center clsFRTBILL">
                                        Other Charges
                                    </th>
                                    <th class="center clsFRTBILL">
                                        @{
                                            var TaxChar = "";

                                            if (Model.BQM.GC.IsGSTApply)
                                            {
                                                TaxChar = "IGST+CGST+SGST+UTGST";
                                            }
                                            else
                                            {
                                                TaxChar = "S.Tax + SBCess + KKCess";
                                            }
                                        }
                                        @TaxChar
                                    </th>
                                    <th class="center clsFRTBILL">@ViewBag.DKTCalledAs Total</th>

                                    <th class="center clsDAMBILL">
                                        From : To
                                    </th>
                                    <th class="center clsDAMBILL">
                                        Booking Date
                                    </th>
                                    <th class="center clsDAMBILL">
                                        Storage Days
                                    </th>
                                    <th class="center clsDAMBILL">
                                        Free Storage Days
                                    </th>
                                    <th class="center clsDAMBILL">
                                        Actual Storage Days
                                    </th>

                                    <th class="center clsDAMBILL">
                                        Service Tax
                                    </th>
                                    <th class="center clsDAMBILL">
                                        Demurrage Amt
                                    </th>
                                    <th class="center clsDAMBILL">
                                        NET Amt
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var c in Model.DocketList)
                                {
                                    //Html.RenderPartial("_BillDocket", c);


                                    string strchkId = "DocketList_"+c.dockno+"__IsEnabled";

                                    string strdktId = "DocketList_" + c.dockno + "__dockno";
                                    string strfrt_rateId = "DocketList_" + c.dockno + "__frt_rate";

                                    string strDKTCHGId = "DocketList_" + c.dockno + "__DKTCHG";
                                    string strFOVId = "DocketList_" + c.dockno + "__FOV";
                                    string strOTCHGId = "DocketList_" + c.dockno + "__OTCHG";
                                    string strSVCTAXId = "DocketList_" + c.dockno + "__SVCTAX";
                                    string strdkttotId = "DocketList_" + c.dockno + "__dkttot";
                                    string strfromtoId = "DocketList_" + c.dockno + "__fromto";


                                    string strdockdtId = "DocketList_" + c.dockno + "__dockdt";
                                    string strchkuni = "uniform-DocketList_" + c.dockno + "__IsEnabled";
                                    string strTotal_Storage_DayId = "DocketList_" + c.dockno + "__Total_Free_Days";
                                    string strTotal_Free_DaysId = "DocketList_" + c.dockno + "__Total_Free_Days";
                                    string strActualId = "DocketList_" + c.dockno + "__Actual";

                                    string strDemAmtId = "DocketList_" + c.dockno + "__DemAmt";
                                    string strDemAmtStaxId = "DocketList_" + c.dockno + "__DemAmtStaxs";
                                    string strTotalId = "DocketList_" + c.dockno + "__Total";
                                    string strContractIDId = "DocketList_" + c.dockno + "__ContractID";

                                <tr class="editorRow">
                                    <input class="iHidden" id="hdnblnk" name="hdnblnk" type="hidden" value="@c.dockno">
                                    <input type="hidden" name="DocketList.index" autocomplete="off" value="@c.dockno">
                                    <td class="center">
                                        <div class="checker" id="@strchkuni">
                                            <span>
                                                <input class="clsDocketCheck" data-val="true" data-val-required="The IsEnabled field is required." id="@strchkId" name="DocketList[@c.dockno].IsEnabled" type="checkbox" value="true">
                                            </span>
                                        </div>
                                        <input name="DocketList[@c.dockno].IsEnabled" type="hidden" value="false">
                                    </td>
                                    <td class="center">
                                        @c.dockno
                                        <input id="@strdktId" name="DocketList[@c.dockno].dockno" type="hidden" value="@c.dockno">
                                    </td>
                                    <td class="center clsFRTBILL">
                                        @c.modedesc
                                    </td>
                                    <td class="center clsFRTBILL">
                                        @c.dock_cdeldt
                                    </td>

                                    <td class="center clsFRTBILL">
                                        @c.FRT_chrg_RATE
                                    </td>

                                    <td class="center clsFRTBILL">
                                        @c.frt_rate
                                        <input id="@strfrt_rateId" name="DocketList[@c.dockno].frt_rate" type="hidden" value="@c.frt_rate">
                                    </td>

                                    <td class="center clsFRTBILL">
                                        @c.DKTCHG
                                        <input id="@strDKTCHGId" name="DocketList[@c.dockno].DKTCHG" type="hidden" value="@c.DKTCHG">

                                    </td>
                                    <td class="center clsFRTBILL">
                                        @c.FOV
                                        <input id="@strFOVId" name="DocketList[@c.dockno].FOV" type="hidden" value="@c.FOV">


                                    </td>
                                    <td class="center clsFRTBILL">
                                        @c.OTCHG
                                        <input id="@strOTCHGId" name="DocketList[@c.dockno].OTCHG" type="hidden" value="@c.OTCHG">

                                    </td>

                                    <td class="center clsFRTBILL">
                                        @c.SVCTAX
                                        <input id="@strSVCTAXId" name="DocketList[@c.dockno].SVCTAX" type="hidden" value="@c.SVCTAX">

                                    </td>

                                    <td class="center clsFRTBILL">
                                        @c.dkttot
                                        <input id="@strdkttotId" name="DocketList[@c.dockno].dkttot" type="hidden" value="@c.dkttot">

                                    </td>

                                    <td class="center clsDAMBILL">
                                        @c.fromto
                                        <input id="@strfromtoId" name="DocketList[@c.dockno].fromto" type="hidden" value="@c.fromto">

                                    </td>

                                    <td class="center clsDAMBILL">
                                        @c.dockdt

                                        <input id="@strdockdtId" name="DocketList[@c.dockno].dockdt" type="hidden" value="@c.dockdt">

                                    </td>

                                    <td class="center clsDAMBILL">
                                        @c.Total_Storage_Day
                                        <input id="@strTotal_Storage_DayId" name="DocketList[@c.dockno].Total_Storage_Day" type="hidden" value="@c.Total_Storage_Day">

                                    </td>

                                    <td class="center clsDAMBILL">
                                        @c.Total_Free_Days
                                        <input id="@strTotal_Free_DaysId" name="DocketList[@c.dockno].Total_Free_Days" type="hidden" value="@c.Total_Free_Days">

                                    </td>

                                    <td class="center clsDAMBILL">
                                        @c.Actual
                                        <input id="@strActualId" name="DocketList[@c.dockno].Actual" type="hidden" value="@c.Actual">

                                    </td>
                                    <td class="center clsDAMBILL">
                                        @c.DemAmt
                                        <input id="@strDemAmtId" name="DocketList[@c.dockno].DemAmt" type="hidden" value="@c.DemAmt">

                                    </td>

                                    <td class="center clsDAMBILL">
                                        @c.DemAmtStax
                                        <input id="@strDemAmtStaxId" name="DocketList[@c.dockno].DemAmtStax" type="hidden" value="@c.DemAmtStax">

                                    </td>

                                    <td class="center clsDAMBILL">
                                        @c.Total
                                        <input id="@strTotalId" name="DocketList[@c.dockno].Total" type="hidden" value="@c.Total">

                                    </td>

                                </tr>
                                }

                                @if (Model.DocketList.Count == 0)
                                {
                                    <tr>  <td class="center" colspan="11"><b>No Records Found</b></td></tr>
                                }

                            </tbody>
                        </table>
                    </div>
                }

            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    @if (Model.IsOctroiBill)
                    {
                        <a class="btn btn-sm default controls" href="@Url.Content("~/Finance/OctroiBillGenerationQuery")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
                    }
                    @if (Model.IsDAMBill)
                    {
                        <a class="btn btn-sm default controls" href="@Url.Content("~/Finance/DAMBillGenerationQuery")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
                    }
                    else
                    {
                        <a class="btn btn-sm default controls" href="@Url.Content("~/Finance/BillGenerationQuery")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
                    }
                    <button type="submit" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-check"></i>&nbsp;Submit</button>
                </div>
            </div>
        }
    </div>
</div>
<script src="~/Scripts/Finance/BillGeneration.js?ver<%=DateTime.Now.Ticks.ToString()%"></script>