﻿@model Fleet.ViewModels.vm_InconeViewPrint
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    ViewBag.Title = "Bill View / Print List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" id="divList">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a class="btn btn-xs default blue-stripe pull-right btnBack" href="@Url.Content("~/Finance/BillsViewPrintCriteria")">
                        <i class="fa fa-arrow-left"> </i>
                        Back To Criteria
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <table class="table table-striped table-bordered table-hover" id="Sample1">
                        <thead class="flip-content">
                            <tr>
                                <th style="font-size: smaller;" class="center">
                                    Bill<br />Number
                                </th>
                                <th style="font-size: smaller;" class="center">
                                    Bill<br />View
                                </th>
                                <th style="font-size: smaller;" class="center">
                                    Billing<br />Branch
                                </th>
                                <th style="font-size: smaller;" class="center">
                                    Party<br />Name
                                </th>
                                <th style="font-size: smaller;" class="center">
                                    Bill<br />Type
                                </th>
                                <th style="font-size: smaller;" class="center">
                                    Bill<br />Amount
                                </th>
                                <th style="font-size: smaller;" class="center">
                                    Gener<br />ation<br />Date
                                </th>
                                <th style="font-size: smaller;" class="center">
                                    Submi<br />ssion<br />Date
                                </th>
                                <th style="font-size: smaller;" class="center">
                                    Due<br />Date
                                </th>
                                <th style="font-size: smaller;" class="center">
                                    Colle<br />ction<br />Date
                                </th>
                                <th style="font-size: smaller;" class="center">
                                    Bill<br />Status
                                </th>
                                <th style="font-size: smaller;" class="center">
                                    Covering<br />Letter
                                </th>
                                <th style="font-size: smaller;" class="center">
                                    Bill<br />Details
                                </th>
                                <th style="font-size: smaller;" class="center">
                                    Portrait
                                </th>
                                <th style="font-size: smaller;" class="center">
                                    W/O<br />Invoice
                                </th>
                                <th style="font-size: smaller;" class="center">
                                    Demurrage<br />Bill
                                </th>
                                <th style="font-size: smaller;" class="center">
                                    Uploaded<br />Document
                                </th>
                            </tr>
                        </thead>
                        <tbody id="Advice">
                            @foreach (var item in Model.ListBillMst)
                            {
                                Html.RenderPartial("_BillVPPartialList", item);
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var initTable1 = function (DomainName) {


            $('#Sample1').dataTable({
                "bDestroy": true
            }).fnDestroy();

            $('#Sample1').dataTable({
                "aLengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "order": [[1, "asc"]],
                "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [0] },
                { "bSearchable": false, "aTargets": [0] }
                ]
            });
            jQuery('#Sample1_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
            jQuery('#Sample1_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
            jQuery('#Sample1_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                initTable1(DomainName);

                $(".btnBack").click(function () {
                    App.blockUI({ boxed: true });
                });

            }
        };
    }();

</script>





