﻿@model FleetDataService.ViewModels.BillEntryAdjustmentViewModel
@{
    ViewBag.Title = "Adjusted Bill no for Cancellation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h4>Adjusted Bill Cancellation</h4>*@
<div class="row">
    <div class="col-md-8">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>Enter Adjusted Bill No For Cancellation
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-hide">
                        <button class="close" data-close="alert"></button>
                        Your form validation is successful!
                    </div>
                    @using (Html.BeginForm("BillAdjustmentCancellationDetails", "Finance", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
                    {
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Adjusted Bill No :
                            </label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.AdjustmentBillNo, new { @class = "form-control required2 required", @placeholder = "Enter Adjusted Bill No For Cancellation" })
                            </div>
                        </div>
                        @*<div class="form-group">
                                <label class="control-label col-md-3">
                                </label>
                                <div class="col-md-6">
                                    <b>OR</b>
                                </div>
                            </div>*@
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Party Name :
                            </label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.PARTY_CODE, new { placeholder = "Select Billing Party", @class = "form-control required2" })
                            </div>
                        </div>

                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-5 col-md-6">
                                    <button type="submit" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-search"></i>&nbsp;Search</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function GetHeaders(obj) {
        var cols = new Array();
        var count = false;
        for (var key in obj) {
            cols.push({
                data: key,
                title: key
            });
        }
        return cols;
    }
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var GetContacrtDetails = function (DomainName) {
            var PARTYCODE = $("#PARTY_CODE").val();
            $("#PARTY_CODE").change(function () {
                GetContacrtDetails(DomainName);
            });
        }

        var CallSubmitClick = function (DomainName) {
            var form = $("#form_sample");
            var strUrl = "/Finance/BillAdjustmentCancellationDetails/?AdjustmentBillNo                                                                                                                                                                                                                                                                                          =" + $("#AdjustmentBillNo").val();
            alert(strUrl);

            if (form.valid() == false) {
                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                App.unblockUI();
                return false;
            }
            else {
                document.forms["form_sample"].submit();
                App.blockUI({ boxed: true });
                $("input:checkbox, input:radio").uniform();
            }
        }

       
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                //$("#btnSubmit").click(function (e) {
                //    CallSubmitClick(DomainName);
                //});

                $("#btnSubmit").click(function () {

                    if ($('#form_sample').valid()) {
                        App.blockUI({ boxed: true });
                        $("#btnSubmit:input").attr("disabled", "true");
                        $("#form_sample").submit();
                    }
                    else {
                        return false
                    }
                });
                GetPartyName("PARTY_CODE");
                //GetPartyCode("PARTY_CODE", "", "");
                $("#PARTY_CODE").change(function () {
                    JsGetCNorCneeDetailsforDate(DomainName, $(this).val(), 'CSGE');
                });

                // Events(DomainName);
            }
        }
    }();
</script>