﻿@model Fleet.ViewModels.BillingFilterViewModel
@using Fleet.Classes;
@{
    ViewBag.Title = "Bill Submission";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Model.IsBillSub = true;
    Model.BillType = "2";
}

<div class="row">
    <div class="col-md-8">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>Select @ViewBag.Title Criteria
                </div>
            </div>

            <div class="portlet-body">
                <div class="form-body">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        You have some form errors. Please check below.
                    </div>

                    <div class="alert alert-success display-hide">
                        <button class="close" data-close="alert"></button>
                        Your form validation is successful!
                    </div>

                    @using (Html.BeginForm("BillSubmissionProcess", "Finance", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
                {
                    {
                        Html.RenderPartial("../UserControls/_BillSubCollection", Model);
                    }
                }

                </div>
            </div>
        </div>
    </div>
</div>