﻿@{
    ViewBag.Title = "Bill Submission Process";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Fleet.ViewModels
@model Fleet.ViewModels.BillSubmissionViewModel
@{

    Model.BillSubDate = System.DateTime.Now;
    //string Party = "", BillType = "";

    //if (Model.BillList.Count() > 0)
    //{
    //    /* Add Field ptmsstr in webx_BILLMST By Chirag D */
    //    Party = Model.BillList.First().ptmsstr;
    //    BillType = Model.BillList.First().PAYBAS;
    //}
    DateTime startDate = System.DateTime.Now;
    if (Model.BillList.Count() > 0 && ViewBag.BaseUserName.ToUpper() == "F0987")
    {
        startDate = Model.BillList.OrderBy(c => c.BGNDT).FirstOrDefault().BGNDT;
    }

    objDate OD = new objDate();
    OD.ControlId = "BillSubDate";
    OD.ControlValue = Model.BillSubDate.ToString();
    OD.ModuleCode = "24";
}
<div class="row">
    @using (Html.BeginForm("BillSubmissionProcessSubmit", "Finance", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            You have some form errors. Please check below.
                        </div>

                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Your form validation is successful!
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Billing Party </label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.Party, new { @class = "form-control required2", @placeholder = "Billing Party", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Bill Type</label>
                                        <label class="col-md-8" style="padding-top: 5px;"><strong>@Model.BillType</strong></label>
                                        @Html.HiddenFor(c => c.BillType)
                                        @*<div class="col-md-6">
                                               @Html.TextBoxFor(c => c.BillType, new { @class = "form-control required2", @placeholder = "Bill Type", @readonly = true })
                                                @Html.TextBox("BillType",@Model.BillType)
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Bill Submitted to </label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.BILLSUBTO, new { @class = "form-control required required2", @placeholder = "Bill Submitted to" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Bill Submission Date </label>
                                        <div class="col-md-4">
                                            @*<div class="input-group date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d" data-date-end-date="+0d">
                                                    @Html.TextBox("BillSubDate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.BillSubDate).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @readonly = "True", @placeholder = "dd MMM yyyy" })
                                                    <span class="input-group-btn">
                                                        <button class="btn default date-set" id="btndate" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>*@
                                            @{
        Html.RenderPartial("../UserControls/_DocumentDate", OD);
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Customer Billing Contact No. </label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.Phoneno, new { @class = "form-control", @number = "true", @maxlength = "10", @minlength = "10", @placeholder = "Customer Billing Contact No." })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Total Amount </label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(c => c.SUBTOTEL, new { @class = "form-control required required2", @readonly = "true", @number = "true", @min = "1", @placeholder = "Total Amount" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Bill List
                    </div>
                </div>
                <div class="portlet-body flip-scroll">
                    <div class="form-body">
                        <table class="table table-striped table-bordered table-hover table-full-width" id="Sample1">

                            <thead class="flip-content">
                                <tr>
                                    <th class="center">#</th>
                                    <th class="center">
                                        Bill No
                                    </th>
                                    <th class="center">
                                        @ViewBag.DKTCalledas
                                    </th>
                                    <th class="center">
                                        Bill Branch
                                    </th>
                                    <th class="center">
                                        Amount
                                    </th>
                                    <th class="center">
                                        Unadjusted Amount
                                    </th>
                                    <th class="center">
                                        Generation Date
                                    </th>
                                    <th class="center">
                                        Due Date
                                    </th>
                                    <th>
                                        Doc. Upload
                                    </th>
                                    @*<th class="center">
                                            Loading
                                        </th>
                                        <th class="center">
                                            UnLoading
                                        </th>
                                        <th class="center">
                                            Detention
                                        </th>
                                        <th class="center">
                                            Other
                                        </th>
                                        <th class="center">
                                            Penalty(-)
                                        </th>*@
                                </tr>
                            </thead>

                            <tbody id="AgendaTable">

                                @foreach (var item in Model.BillList)
                                {
                                    Html.RenderPartial("_BillSubmissionPartial", item);
                                }
                            </tbody>

                        </table>
                        @*<p style="color:red;">
                                Select atleast one checkbox to view <strong>Submit</strong> button.
                            </p>*@
                        <div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                <a class="btn btn-sm default" href="@Url.Content("~/Finance/BillSubmission")">
                                    <i class="fa fa-arrow-left"> </i>
                                    Back To Criteria
                                </a>
                                @*@if (Model.BillList.Count() > 0)
                                    {*@
                                <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit </button>
                                @*}*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {
                    'CWE.FromPinCode': {
                        minlength: 6,
                        maxlength: 6,
                        number: true
                    },
                },
                messages: { // custom messages for radio buttons and checkboxes



                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.attr("name") == "gender") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_gender_error");
                    } else if (element.attr("name") == "payment[]") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_payment_error");
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();


                    App.blockUI({ boxed: true });
                    document.forms[1].submit();

                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }

            });



        }


        var Claculatetotal = function (DomainName) {

            var Finamount = 0;
            var count = 0;
            $(".clsCHK").each(function () {

                var checked1 = jQuery(this).is(":checked");

                if (checked1) {
                    count = count + 1;
                    var TRID = $(this).closest('tr').attr('id');

                    var Billno = TRID.replace('TRBL', 'BL');
                    var TotalSum = parseFloat($("#BillList_" + Billno + "__PENDAMT").val()) + parseFloat($("#BillList_" + Billno + "__Loading").val()) + parseFloat($("#BillList_" + Billno + "__UnLoading").val()) + parseFloat($("#BillList_" + Billno + "__Detention").val()) + parseFloat($("#BillList_" + Billno + "__Other").val()) - parseFloat($("#BillList_" + Billno + "__Penalty").val());
                    if (TotalSum < 0) {
                        alert("You can not enter amount less than bill amount.");
                        $("#BillList_" + Billno + "__Penalty").val('0');
                        //return false;
                    }
                    var penaltycalclulate = $("#BillList_" + Billno + "__PENDAMT").val() * 30 / 100;
                    if (penaltycalclulate < parseFloat($("#BillList_" + Billno + "__Penalty").val())) {
                        alert('You can not enter penalty more than 30% of bill amt...')
                        $("#BillList_" + Billno + "__Penalty").val('0');
                    }

                    $("#" + TRID + " .clsPlusChrg").each(function () {

                        var Amt = $(this).val();
                        if (Amt == "") {
                            Amt = 0;
                        }
                        Finamount = parseFloat(Finamount) + parseFloat(Amt);
                    })

                    $("#" + TRID + " .clsLessChrg").each(function () {

                        var Amt = $(this).val();
                        if (Amt == "") {
                            Amt = 0;
                        }
                        Finamount = parseFloat(Finamount) - parseFloat(Amt);
                    });
                        
                    $("#" + TRID + " .clsLessChrg").each(function () {

                        var Amt = $(this).val();
                        if (Amt == "") {
                            Amt = 0;
                        }

                        Finamount = parseFloat(Finamount) - parseFloat(Amt);
                    });
                }
            });
            $("#SUBTOTEL").val(Finamount);
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                ControlDate();
                Formvalidate(DomainName);
                Claculatetotal(DomainName);

                @*var checked = jQuery(this).is(":checked");

                if (checked) {
                    $("#@PackingDate").attr("disabled", true);
                }
                else {
                    $("#@PackingDate").attr("disabled", false);
                }*@



                $(".clsPlusChrg").each(function () {

                    $(this).attr("disabled", "disabled")

                    $(this).change(function () {
                        Claculatetotal();
                    })

                })
                $(".clsLessChrg").each(function () {

                    $(this).attr("disabled", "disabled")
                    $(this).change(function () {
                        Claculatetotal();
                    })
                })


                $(".clsCHK").click(function () {

                    var checked = jQuery(this).is(":checked");

                    var TRID = $(this).closest('tr').attr('id');

                    if (checked) {

                        $('#' + TRID + ' :input').removeAttr('disabled');
                    }
                    else {

                        $('#' + TRID + ' :input').attr('disabled', 'disabled');
                    }
                    $('.clsCHK').removeAttr('disabled');

                    Claculatetotal();
                })

                if (jQuery().datepicker) {
                    $('.date-picker').datepicker({
                        rtl: App.isRTL(),
                        format: "dd M yyyy",
                        autoclose: true,
                        startDate: new Date('@startDate'),
                        endDate: new Date(),
                    });
                    $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
                }
            }
        };
    }();

</script>
