﻿@model FleetDataService.ViewModels.BillingQueryModel
@{
    ViewBag.Title = "Bill Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>BillDone</h2>


    <h3>
        @ViewBag.TranXaction = TranXaction;
    </h3>


    @ViewBag.BILLNO*@
@if (@ViewBag.TranXaction == "Done")
{
    <div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-check"></i>Bill Successfully @ViewBag.TranXaction
                </div>
            </div>
            <div class="portlet-body">
                <div class="margin-top-10 margin-bottom-10 clearfix">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Bill Number
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <b>@ViewBag.BILLNO</b>
                                </td>
                                <td>
                                    <a target="_blank" href="@Url.Action("CustomerBillView", "ViewPrint", new { NO = @ViewBag.BILLNO, typ = "1" })" class="fa fa-print" id="ReportFrame"><b>&nbsp;View/Print</b></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <span>
                    @using (Html.BeginForm("BillGeneration", "Finance", FormMethod.Post))
                    {
                        @Html.HiddenFor(c => c.FromDate)
                        @Html.HiddenFor(c => c.ToDate)
                        @Html.HiddenFor(c => c.Bill_POD_Approval_YN)
                        @Html.HiddenFor(c => c.StaxYN)
                        @Html.HiddenFor(c => c.StaxRate)
                        @Html.HiddenFor(c => c.Trans_Type)
                        @Html.HiddenFor(c => c.Paybas)
                        @Html.HiddenFor(c => c.TransportMode)
                        @Html.HiddenFor(c => c.BusinessType)
                        @Html.HiddenFor(c => c.BillingParty)
                        @Html.HiddenFor(c => c.DocketNo)
                        @Html.HiddenFor(c => c.GC.FilterType)
                        @Html.HiddenFor(c => c.GC.FromDate)
                        @Html.HiddenFor(c => c.GC.ToDate)
                        @Html.HiddenFor(c => c.GC.ToDate)
                        @Html.HiddenFor(c => c.GC.IsGSTApply)
                        @Html.HiddenFor(c => c.GC.GSTType)
                        @Html.HiddenFor(c => c.GC.StateCode)
                        @Html.HiddenFor(c => c.GC.VendorCode)
                        @Html.HiddenFor(c => c.GC.CustomerCode)
                        @Html.HiddenFor(c => c.GC.TransitMode)

                        @*<button type="submit" class="btn btn-sm "><i class="fa fa-arrow-left"></i>Back To List</button>*@

                      <a href="@Url.Content("~/Finance/DAMBillGenerationQuery")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back To Criteria </a>

                        <a href="@Url.Content("~/Finance/DAMBillGenerationQuery")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back To Criteria </a>
                    }
                </span>
                <span>
                    @if (Model.IsDAMBill)
                    {
                        <a href="@Url.Action("DAMBillGenerationQuery", "Finance")"> Click Here To More Bill Generation.</a>
                    }

                    else
                    {
                        <a href="@Url.Action("BillGenerationQuery", "Finance")"> Click Here To More Bill Generation.</a>
                    }

                    <a href="@Url.Action("BillGenerationQuery", "Finance")"> Click Here To More Bill Generation.</a>
                </span>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-danger fade in center">
            <h2 class="alert-heading">Opps! Bill Generation @ViewBag.TranXaction</h2>
            <h4>
                There is some issue with process. <br />Please check your internet connection else contact your administrator or service provider.
                <br /><br /><b> @ViewBag.BILLNO</b>
            </h4>
        </div>
    </div>
}