﻿@model Fleet.ViewModels.BillCollectionViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "Bill Collection Process";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Model.MRDate = System.DateTime.Now;
    Model.TransactionDate = System.DateTime.Now;

    DateTime FinYearStartDate = Convert.ToDateTime(ViewBag.FinYearStartDate);
    DateTime FinYearEndDate = Convert.ToDateTime(ViewBag.FinYearEndDate);
    DateTime newStartDate = System.DateTime.Now;
    if (ViewBag.BaseFinYear != ViewBag.CurrFinYear)
    {
        Model.MRDate = Convert.ToDateTime("31 Mar " + ViewBag.FinYearEnd);
        newStartDate = FinYearEndDate.AddDays(-15);
    }
    else
    {
        newStartDate = System.DateTime.Now.AddDays(-15);
        if (newStartDate < FinYearStartDate)
        {
            newStartDate = FinYearStartDate;
        }
        FinYearEndDate = System.DateTime.Now;
    }


    string Party = "", BillType = "";
    if (Model.BillList.Count() > 0)
    {
        Party = Model.BillList.First().ptmsstr;
        BillType = Model.BillList.First().PAYBAS;
    }
    webx_CUSTHDR objCustHDR = new webx_CUSTHDR();
    try
    {
        FleetDataService.OperationService OS = new FleetDataService.OperationService();
        var SecdepList = OS.GetSecurityLedger(Model.MRBranch);
        var TDSList = OS.GetTDSLedger(Model.MRBranch);
        FleetDataService.MasterService MS = new FleetDataService.MasterService();
        //objCustHDR = MS.GetCustomerMasterObject().Where(c => c.CUSTCD.ToUpper() == Model.ObjBillMst.PTMSCD.ToUpper()).FirstOrDefault();
        objCustHDR = MS.GetCustomerMasterObject(Model.ObjBillMst.PTMSCD.ToUpper()).FirstOrDefault();
        Model.PC.IsTDSApplicable = objCustHDR.IsTDSApplicable;
        Model.PC.TDSPercentage = objCustHDR.TDSPercentage;
        Model.PC.TANNo = objCustHDR.TANNo;
        Model.PC.IsAllowForChequeCollection = objCustHDR == null ? false : objCustHDR.IsAllowForChequeCollection;
    }
    catch (Exception)
    {
        Response.Redirect("~/Finance/BillCollection");
    }
    int i = 1;
}

@using (Html.BeginForm("BillCollectionProcessSubmit", "Finance", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>Bill Collection
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            You have some form errors. Please check below.
                        </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Your form validation is successful!
                        </div>
                        <div class="row ">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">MR No.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.MRSNO, new { placeholder = "System Genrated", @readonly = "true", @class = "form-control required2 " })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">MR Date  </label>
                                    <div class="col-md-6">
                                        <div class="input-group input-medium date date-picker-MR" data-date-format="dd MMM yyyy" data-date-start-date="+0d" data-date-end-date="+0d">
                                            @Html.TextBox("MRDate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.MRDate).ToString("dd MMM yyyy")), new { @class = "form-control required  required2", @readonly = "True" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" id="btndate" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">MR Branch</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.MRBranch, new { @class = "form-control  required2", @readonly = "True" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">CFR No.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.ManualMRNO, new { placeholder = "Manual MRNO", @class = "form-control required2 " })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Bill Type</label>
                                    <div class="col-md-6 margin-top-5">
                                        <b>@Model.ObjBillMst.BILLTYPE</b>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Remark  </label>
                                    <div class="col-md-6">
                                        @Html.TextAreaFor(c => c.Remarks, new { @class = "form-control required2", placeholder = "Remark" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Party </label>
                                    <div class="col-md-6">
                                        <b>@Model.ObjBillMst.PTMSCD : @Model.ObjBillMst.PTMSNM</b>
                                        @Html.HiddenFor(m => m.ObjBillMst.PTMSCD)
                                        @Html.HiddenFor(m => m.ObjBillMst.PTMSNM)
                                        @Html.HiddenFor(m => m.ObjBillMst.PAYBAS)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4 class="form-section">Bill List</h4>
                        <div class="row table-scrollable">
                            <table class="table table-striped table-bordered table-hover table-full-width" id="Sample1">

                                <thead class="flip-content">
                                    <tr>
                                        <th class="center">
                                            Srno.
                                        </th>
                                        <th class="center">
                                            Bill No
                                        </th>
                                        <th class="center">
                                            Bill Type
                                        </th>
                                        <th class="center">
                                            Bill Date
                                        </th>
                                        <th class="center">
                                            Bill Amt.
                                        </th>
                                        <th class="center">
                                            Pend Amount
                                        </th>
                                        <th class="center">
                                            Collection Amount
                                        </th>
                                        <th class="center">
                                            Balance Amount
                                        </th>
                                        <th class="center">
                                            TDS Amount (-)
                                        </th>
                                        <th class="center">
                                            Freight Deduction (-)
                                        </th>
                                        <th class="center" style="display:none">
                                            Claim Deduction(-)
                                        </th>
                                        <th class="center">
                                            Other Amount(+)
                                        </th>
                                        <th class="center">
                                            Net Recd. Amount
                                        </th>
                                        <th class="center">
                                            Remark
                                        </th>
                                    </tr>
                                </thead>

                                <tbody id="AgendaTable">
                                    @foreach (var item in Model.BillList)
                                    {
                                        item.SrNo = i;
                                        item.IsTDSApplicable = objCustHDR.IsTDSApplicable;
                                        //if (objCustHDR.IsTDSApplicable)
                                        //{
                                        //    item.TDSDED = (item.PENDAMT * objCustHDR.TDSPercentage / 100);
                                        //}
                                        <tr>
                                            @{
                                        Html.RenderPartial("_BillCollectionPartial1", item);
                                            }
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>

                        <br />
                        <h4 class="form-section">Collection Details</h4>
                        <p><b style="color: red;text-align:center;">Note : Please Enter the Collection Details if Net</b></p>
                        @{
    Html.RenderPartial("../UserControls/_PaymentControl_WithTDS", Model.PC);
                        }
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <a class="btn btn-sm default" href="@Url.Content("~/Finance/BillCollection")">
                                <i class="fa fa-arrow-left"> </i>
                                Back To Criteria
                            </a>
                            <button type="submit" id="btnSubmit" class="btn btn-sm blue controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {
                },
                messages: { // custom messages for radio buttons and checkboxes
                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.attr("name") == "gender") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_gender_error");
                    } else if (element.attr("name") == "payment[]") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_payment_error");
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();

                    App.blockUI({ boxed: true });
                    document.forms[1].submit();

                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }

        var Claculatetotal = function (DomainName) {

            @foreach (var item in Model.BillList)
            {
                var BILLAMT = "BillList_" + item.BILLNO.Replace("/", "_").ToString() + "__BILLAMT";
                var PENDAMT = "BillList_" + item.BILLNO.Replace("/", "_").ToString() + "__PENDAMT";
                var Collection_Amount  = "BillList_" + item.BILLNO.Replace("/", "_").ToString() + "__Col_Amt";
                var Balance_Amount  = "BillList_" + item.BILLNO.Replace("/", "_").ToString() + "__UNEXPDED";
                var TDS = "BillList_" + item.BILLNO.Replace("/", "_").ToString() + "__TDSDED ";
                var Freight_Deduction = "BillList_" + item.BILLNO.Replace("/", "_").ToString() + "__Freight_Deduction";
                var Claim_Deduction = "BillList_" + item.BILLNO.Replace("/", "_").ToString() + "__Claim_Deduction";
                var Other_Amount = "BillList_" + item.BILLNO.Replace("/", "_").ToString() + "__Other_Amount";
                var Netamt = "BillList_" + item.BILLNO.Replace("/", "_").ToString() + "__Netamt";

            <text>

            Calculation(DomainName, "BillList_" + "@item.BILLNO.Replace("/", "_").ToString()");

            $("#@Balance_Amount").focusout(function () {
                Calculation(DomainName, "BillList_" + "@item.BILLNO.Replace("/", "_").ToString()");
            });

            $("#@Collection_Amount").focusout(function () {
                Calculation(DomainName, "BillList_" + "@item.BILLNO.Replace("/", "_").ToString()");
            });

            $("#@TDS").focusout(function () {
                if (!($.isNumeric($(this).val()))) {
                    $(this).val('0');
                }
                if (parseFloat($(this).val()) < 0) {
                    $(this).val('0');
                }
                Calculation(DomainName, "BillList_" + "@item.BILLNO.Replace("/", "_").ToString()");
            });

            $("#@Freight_Deduction").focusout(function () {
                Calculation(DomainName, "BillList_" + "@item.BILLNO.Replace("/", "_").ToString()");
            });

            $("#@Claim_Deduction").focusout(function () {
                Calculation(DomainName, "BillList_" + "@item.BILLNO.Replace("/", "_").ToString()");
            });

            $("#@Other_Amount").focusout(function () {
                if (!($.isNumeric($(this).val()))) {
                    $(this).val('0');
                }
                if (parseFloat($(this).val()) < 0) {
                    $(this).val('0');
                }
                Calculation(DomainName, "BillList_" + "@item.BILLNO.Replace("/", "_").ToString()");
            });

            $("#@Netamt").focusout(function () {
                Calculation(DomainName, "BillList_" + "@item.BILLNO.Replace("/", "_").ToString()");
            });

            </text>
            }
        }

        var Calculation = function (DomainName, Id) {
            var BILLAMT = Id + "__BILLAMT";
            var PENDAMT = Id + "__PENDAMT";
            var Collection_Amount = Id + "__Col_Amt";
            var Balance_Amount = Id + "__UNEXPDED";
            var TDS = Id + "__TDSDED ";
            var Freight_Deduction = Id + "__Freight_Deduction";
            var Claim_Deduction = Id + "__Claim_Deduction";
            var Other_Amount = Id + "__Other_Amount";
            var Netamt = Id + "__Netamt";
            var Reason = Id + "__REMARK";

            if ($("#PaymentMode").val().toUpperCase() == "BANK") {
              
                $("#" + Freight_Deduction).removeAttr("disabled", "disabled");
            }
            else
            {
                $("#" + Freight_Deduction).attr("disabled", "disabled");
                $("#" + Freight_Deduction).val('0');
            }


            var BalanceAmtVal = 0;
            BalanceAmtVal = parseFloat($("#" + PENDAMT).val()) - parseFloat($("#" + Collection_Amount).val());
            //if (parseInt(BalanceAmtVal) < 0) {
            //    alert('Collection Amount Not more Than Pending amount.');
            //    $("#" + Collection_Amount).val($("#" + PENDAMT).val());
            //}
            //else {
            //    $("#" + Balance_Amount).val(BalanceAmtVal);
            //}

            var NetamtCal = 0;
            NetamtCal = parseFloat($("#" + Collection_Amount).val()) - parseFloat($("#" + TDS).val()) - parseFloat($("#" + Freight_Deduction).val()) -
                parseFloat($("#" + Claim_Deduction).val()) + parseFloat($("#" + Other_Amount).val())

            $("#" + Netamt).val(NetamtCal);

            if (parseInt($("#" + Netamt).val()) < 0) {
                alert('Net Recd. Amount Not in Negative');
                $("#" + Collection_Amount).val($("#" + PENDAMT).val());
                $("#" + Balance_Amount).val('0');
                $("#" + TDS).val('0');
                $("#" + Freight_Deduction).val('0');
                $("#" + Claim_Deduction).val('0');
                $("#" + Other_Amount).val('0');
                $("#" + Netamt).val($("#" + PENDAMT).val());
            }

            var CollectAmt = 0;
            $(".clsCollectAmt").each(function () {
                CollectAmt = parseFloat(CollectAmt) + parseFloat($(this).val());
            })

            var NetAmtVal = 0;
            $(".ClsNetAmt").each(function () {
                NetAmtVal = parseFloat(NetAmtVal) + parseFloat($(this).val());
            })

            var TDSVal = 0;
            $(".clsTDS").each(function () {
                TDSVal = parseFloat(TDSVal) + parseFloat($(this).val());
            })
            $("#totTDSAmt").val(TDSVal);
            $(".clsCollectAmt").focusout(function () {
                var ID = $(this).attr("id").replace("Col_Amt", "");
                var UNEXPDED = parseInt($("#" + ID + "PENDAMT").val()) - parseInt($(this).val());
                $("#" + ID + "UNEXPDED").val(UNEXPDED);
            });

            //alert(parseInt(TDSVal));
            if (parseInt(TDSVal) > 0) {
                $("#TDSType").addClass("required");
            }
            else {
                $("#TDSType").removeClass("required");
            }

            $("#PayAmount").val(parseFloat(NetAmtVal).toFixed(2));
            $("#NET_RECEIVED").val(Math.round(NetAmtVal));
            $("#Collection_Amt_From_Cheque").val(Math.round(NetAmtVal));

            if ($("#PaymentMode").val().toUpperCase() == "BANK") {
                $("#CashAmount").val('0');
                $("#ChequeAmount").val(Math.round(NetAmtVal));
            }
            else if ($("#PaymentMode").val().toUpperCase() == "CASH") {
                $("#CashAmount").val(Math.round(NetAmtVal));
                $("#ChequeAmount").val('0');
            }
        }

        var Datepicker = function (DomainName) {

            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });

            if (jQuery().datepicker) {
                $('.date-picker').children('input').val($("#MRDate").val());
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: new Date('@newStartDate'),
                    endDate: new Date('@FinYearEndDate'),
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal

                $('.date-picker-MR').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: new Date('@FinYearEndDate'),
                    endDate: new Date('@FinYearEndDate'),
                });
            }
        }

        var CheakvalidateChqNo = function (Cheque) {

            var ChequeNo = Cheque;

            App.blockUI({ boxed: true });

            var strUrl = "@Url.Action("GetData", "Account")";
            var parameters = {};
            parameters['ChequeNo'] = Cheque;

            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: "json",
                data: {
                    Method: 'validate_ChqNo_Bounced',
                    parameters: parameters
                },
                success: function (result) {
                    var result = result[0].Isvalidation;
                    if (result != 0)
                    {
                        TosterNotification("error", 'Opration fail..!! This ' + Cheque + ' Cheque No Is a Bounced  ... Please Enter Onther ChequeNo ..', "Oppps..!!");
                        $("#ChequeNo").val("")
                        App.unblockUI();
                        return false;
                    }
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue while update candidate status... Please try again later..', "Oppps..!!");
                    App.unblockUI('#responsive');
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                $(".clsISDepositedInBank").hide();
                $(".clsIsOnAccount").hide();
                $("#DepositedInBank").addClass("required");

                Formvalidate(DomainName);
                Claculatetotal(DomainName);
                Datepicker(DomainName);
                PaymentControl_Tds(DomainName);

                /*For TDS*/
                var totTDSAmt = 0;
                $(".clsTDS").each(function () {
                    totTDSAmt = parseFloat(totTDSAmt) + parseFloat($(this).val());
                });
                $("#totTDSAmt").val(totTDSAmt);


                $("#PaymentMode").change(function(){
                if ($("#PaymentMode").val().toUpperCase() == "BANK") {
                    $(".clsFrtDed").each(function () {
                        var ID = $(this).attr("id").replace("Freight_Deduction", "");
                        $("#" + ID + "Freight_Deduction").removeAttr("disabled", "disabled");
                        Claculatetotal(DomainName);
                    })
                }
                else {
                    $(".clsFrtDed").each(function () {
                        var ID = $(this).attr("id").replace("Freight_Deduction", "");
                        $("#" + ID + "Freight_Deduction").attr("disabled", "disabled");
                        $("#" + ID + "Freight_Deduction").val('0');
                        Claculatetotal(DomainName);
                    })
                }
                });

                $(".Chqvalidation").change(function () {
                    var Cheque = $(this).val();
                    CheakvalidateChqNo(Cheque)
                })

                //$(".clsTDS").change(function () {
                //    debugger
                    
                  
                //    //var ID = $(this).attr("id").replace("TDSDED", "BILLAMT");
                //    var TDSID = $(this).attr("id").replace("TDSDED", "");

                //    var billamt = $("#" + TDSID + "BILLAMT").val();
                //    var TDSRate = 2.00;
                //    if (billamt == "" || billamt == null)
                //        billamt = 0;
                //    if (TDSRate == "" || TDSRate == null)
                //        TDSRate = 0;

                //    var TDSCharge = (parseFloat(billamt) * parseFloat(TDSRate) / 100).toFixed(2);

                //    if (TDSCharge == "" || TDSCharge == null)
                //        TDSCharge = 0;

                //     $("#" + TDSID + "TDSDED").val(rounditn(TDSCharge, 2));

                //});
            }
        };
    }();

</script>
