﻿@{
    ViewBag.Title = "ChartOfAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

}
<link rel="stylesheet" href="@Url.Content("~/assets/jqwidgets/styles/jqx.base.css")" type="text/css" />
<script src="@Url.Content("~/assets/plugins/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script>
    var $ = $.noConflict();
    $(document).ready(function () {
        var data = {};
        var source = null;
        $.ajax({
            async: false,
            url: '/Fleet/Finance/GetAccountTree',
            success: function (data, status, xhr) {
               
                source = jQuery.parseJSON(data);
            }
        });
        var dataAdapter = new $.jqx.dataAdapter(source);      
        dataAdapter.dataBind();
        //$('#jqxWidget').on('initialized', function (event) {
        //    var treeItems = $("#jqxWidget").jqxTree('getItems');

        //    var firstItem = treeItems[0];
        //    var firstItem1 = treeItems[1];
            
        //    $('#jqxWidget').jqxTree('updateItem', firstItem, { label: "<span style='color: red;'>" + firstItem.label + "</span>" });
        //    $('#jqxWidget').jqxTree('updateItem', firstItem1, { label: "<span style='color: red;'>" + firstItem1.label + "</span>" });

        //    alert("You created the Tree");
        //});
        var records = dataAdapter.getRecordsHierarchy('id', 'parentid', 'items', [{ name: 'text', map: 'label' }]);
        $('#jqxWidget').jqxTree({ source: records, theme: 'metro', });
        //$("#panelContentpaneljqxWidget ul li span").css('color', 'black')
    })
</script>



 
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Chart Of Account
                </div>
            </div>
            <div class="portlet-body form">
                <div id='jqxWidget'>
                </div>          
            </div>
        </div>
    </div>
</div>
