﻿@model FleetDataService.Models.webx_custcontract_hdr
@using FleetDataService.Models
@{
    ViewBag.Title = "ContractBasicInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.OperationService OP = new FleetDataService.OperationService();
    var PartyCategoryList = new List<SelectListItem> {
    new SelectListItem { Text = "Corporate", Value = "Corporate" },
    new SelectListItem { Text = "Non-Corporate", Value = "Non-Corporate" },
    };
    var ContractCategoryList = new List<SelectListItem> {
    new SelectListItem { Text = "Contract", Value = "Contract" },
    new SelectListItem { Text = "Sub-Contract", Value = "Sub-Contract" },
    };

    List<Webx_Master_General> ContractModeList = OP.GetDeliveryResion().Where(c => c.CodeType == "CMOD").ToList();

    if (Model.stax_yn == "Y")
    {
        Model.stax_yn_chek = true;
    }
    else
    {
        Model.stax_yn_chek = false;
    }
}
@using (Html.BeginForm("AddContractbasicInfo", "Finance", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{

    @Html.Hidden("ContractId", Model.ContractId)
    @Html.Hidden("CustCode", Model.Custcode)
    @Html.Hidden("ContractType", Model.Contract_Type)
    

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>&nbsp;Contract Basic Information  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Customer Code & Name	:<b> @ViewBag.CustCode </b>
                    </div>                   
                </div>
                <div class="portlet-body" id="divCrieteria">
                    <div class="form-body">
                        <div class="row">
                            <div class="row col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Contract Date </label>
                                        <div class="col-md-6">

                                            <div class="input-group date date-picker" data-date-format="dd MMM yyyy">
                                                @Html.TextBox("Contract_Stdate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.Contract_Stdate).ToString("dd MMM yyyy")), new { @class = " form-control date-picker required required2" })
                                                @Html.HiddenFor(c => c.Contract_Type)
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5" id="lblchangesupplier">Valid Until </label>
                                        <div class="col-md-6">
                                            <div class="input-group date date-picker" data-date-start-date="+1d" data-date-format="dd MMM yyyy">
                                                @Html.TextBox("Contract_Eddate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.Contract_Eddate).ToString("dd MMM yyyy")), new { @class = " form-control date-picker required required2" })
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Effective From Date </label>
                                        <div class="col-md-6">
                                            <div class="input-group date date-picker" data-date-start-date="+1d" data-date-format="dd MMM yyyy">
                                                @Html.TextBox("Contract_Effectdate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.Contract_Effectdate).ToString("dd MMM yyyy")), new { @class = " form-control date-picker required required2" })
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Contract Signing Location</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.contract_sign_loccode, new { @class = "form-control", placeholder = "Contract Signing Location" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5" id="lblchangesupplier">Customer Representative</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.Cust_represent, new { @class = "form-control", placeholder = "Customer Representative" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Company Employee Name</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.Comp_Empname, new { @class = "form-control", placeholder = "Company Employee Name" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                                    <li><strong> Customer Information </strong></li>
                                </ul>
                            </div>
                            <div class="row col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Customer Representative</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.Cust_represent, new { @class = "form-control", placeholder = "Customer Representative" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Designation</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.CustDesig, new { @class = "form-control", placeholder = "Customer Designation" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">EmailID</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.custemail, new { @class = "form-control required2 email required", placeholder = "Customer EmailID" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Contact Number</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.custphone, new { @class = "form-control required2", placeholder = "Customer Contact Number" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Customer Witness</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.CustWitness, new { @class = "form-control", placeholder = "Customer Witness" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Billing Address</label>
                                        <div class="col-md-7">
                                            @Html.TextAreaFor(m => m.Bill_address, new { @class = "form-control", placeholder = "Customer Billing Address" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Party Category</label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.custcat, new SelectList(PartyCategoryList, "Value", "Text"), "", new { @class = "span15 select2 form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Accounts Person of Customer </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.custaccperson, new { @class = "form-control", placeholder = "Accounts Person Customer" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5"> Contact Number: </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.accperphone, new { @class = "form-control", placeholder = "Accounts Person Contact Number" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5"> E-MailID </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.accperemail, new { @class = "form-control email", placeholder = "Accounts Person Email" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5"> Service Tax Applicable</label>
                                        <div class="col-md-7">
                                            @Html.CheckBoxFor(m => m.stax_yn_chek, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Remarks</label>
                                        <div class="col-md-7">
                                            @Html.TextAreaFor(m => m.remarks, new { @class = "form-control", placeholder = "Remark" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                                    <li><strong> Company  Information </strong></li>
                                </ul>
                            </div>
                            <div class="row col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Company Employee Name</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.Comp_Empname, new { @class = "form-control", placeholder = "Company Employee Name" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Designation</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.Comp_Desig, new { @class = "form-control", placeholder = "Company Designation" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">E-MailID</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.compemail, new { @class = "form-control required2 required", placeholder = "Company Email" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Contact Number</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.compphone, new { @class = "form-control required2", placeholder = "Company Contact Number" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Company Witness</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.Comp_Witness, new { @class = "form-control", placeholder = "Company Witness" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">City - PinCode</label>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(m => m.Bill_city, new { @class = "form-control", placeholder = "City" })
                                        </div>
                                        <div class="col-md-1">
                                            -
                                        </div>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(m => m.Bill_pin, new { @class = "form-control", placeholder = "Pincode", @number = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Contract Category</label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.contractcat, new SelectList(ContractCategoryList, "Value", "Text"), "", new { @class = "span15 select2 required form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">C.S.E. Name</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.csename, new { @class = "form-control", placeholder = "Name" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Contact Number </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.csephone, new { @class = "form-control", placeholder = "Contact Number" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">E-MailID:</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.cseemail, new { @class = "form-control email", placeholder = "Email" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Accounts Representative</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.acc_rep, new { @class = "form-control", placeholder = "Accounts Representative" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Contract Mode</label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.contractmode, new SelectList(ContractModeList, "CodeID", "CodeDesc"), "", new { @class = "span15 select2 form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="form-actions fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-offset-3 col-md-9">
                    @*<a href="@Url.Action("CustomerContract", "contract")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"> </i>&nbsp;Back To Contract</a>*@
                    <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Save & Continue</button>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName, form_sample) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form1) {
                    success1.show();
                    error1.hide();
                }

            });
        }

        var SaveFunction = function (DomainName) {
            $("#btnSubmit").click(function (e) {
                if (!$('#form_sample').valid()) {
                    return false;
                }
                if (e.handled !== true) {
                    e.handled = true;
                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        return false;
                    }
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                }
            });                          
        }     
        return {
            init: function (DomainName) {
                SaveFunction(DomainName)
                Formvalidate(DomainName, "form_sample")
                $("input:checkbox, input:radio").uniform();
                $('.date-picker').datepicker({
                    isRTL: App.isRTL(),
                    format: "dd M yyyy",
                    setDate: new Date(),
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    todayBtn: true
                });
                $(".date-picker").datepicker("setDate", new Date());

               
               
            }
        }
    }();
</script>