﻿@model Fleet.ViewModels.CreaditCnotViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    ViewBag.Title = "Credit Note View Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    FleetDataService.TrackingService TS = new FleetDataService.TrackingService();
    List<Webx_Master_General> BranchList = TS.GetSubBranch();
}

@using (Html.BeginForm("CreditNoteViewList", "Finance", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-8">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body" id="divCrieteria">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Select RO:
                            </label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.CreaditCnotModel.From_loc, new SelectList(Model.ListLocation, "LocCode", "Location"), "", new { @class = "select2 required form-control clsall" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-2">
                                Select Location:
                            </label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.CreaditCnotModel.From_br, new SelectList(BranchList, "CodeId", "CodeDesc"), "", new { @class = "select2 required form-control clsall" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Select Date Range:
                                @Html.HiddenFor(c => c.CreaditCnotModel.FromDate)
                                @Html.HiddenFor(c => c.CreaditCnotModel.ToDate)
                            </label>
                            <div class="col-md-6">
                                <div id="reportrange" class="btn default col-md-12">
                                    <i class="fa fa-calendar"></i>
                                    &nbsp;
                                    <span></span>
                                    <b class="fa fa-angle-down"></b>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-2">
                            </label>
                            <div class="col-md-6">
                                <b>OR</b>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Credit Note No.:
                            </label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.CreaditCnotModel.DockNo, new { @class = "form-control", @placeholder = "Enter Credit Note No." })
                            </div>
                            <p class="text-primary col-md-4">[Seperated by <b><i>Comma</i></b> if multiple]</p>
                        </div>

                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-12">
                                    <button type="submit" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-search"></i>&nbsp;Search</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();

                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }
            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                //maxDate: '12/31/2014',
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#FromDate').val(start.format('MMMM D, YYYY'));
                     $('#ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ToDate').val(moment().format('MMMM D, YYYY'));
        }

        var Events = function (DomainName) {
            handleDatePicker();

            $("#btnSubmit").click(function () {

                if ($('#submit_form').valid()) {
                    $("#btnSubmit:input").attr("disabled", "true");
                    $("#submit_form").submit();
                }
                else {
                    return false
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);

                handleDateRangePickers();
                Events(DomainName);
                $(".clsall").append("<option value='All'>All</option>");
                $(".clsall").val("All");
                $(".clsall").select2().find(":selected").data("All");

                $('#CreaditCnotModel_From_br').attr("readonly", true);
                $("#CreaditCnotModel_From_loc").change(function () {
                    var subbr = $(this).val();
                    $('#CreaditCnotModel_From_br').attr("readonly", false);
                    var StrURL = DomainName + '/Finance/GetSubBranch?BRCode=' + subbr;
                    FillDropDownfromOther("CreaditCnotModel_From_br", StrURL, '');
                });
                s2id_CreaditCnotModel_From_br
            }
        }
    }();
</script>
