﻿@model FleetDataService.ViewModels.CNoteSubmissionViewModel
@{
    ViewBag.Title = "Credit Note ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CreditNoteDone", "Finance", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="portlet @ViewBag.TableBoxColor box">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-edit"></i>@ViewBag.Title Generation
            </div>
        </div>
        <div class="portlet-body">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Customer Name : </label>
                            <div class="col-md-8 text-primary  margin-top-5">
                                @Html.DisplayFor(c => c.CNFVM.CUSTCD) &nbsp; :
                                @Html.DisplayFor(c => c.CNFVM.CUSTNM)
                                @Html.HiddenFor(c => c.CNFVM.CUSTCD)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Date Range : </label>
                            <div class="col-md-8 text-primary  margin-top-5">
                                @Html.DisplayFor(c => c.CNFVM.FromDate) &nbsp; -
                                @Html.DisplayFor(c => c.CNFVM.ToDate)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Pay Basis : </label>
                            <div class="col-md-8 text-primary  margin-top-5">
                                @Html.DisplayFor(c => c.CNFVM.Paybasis)
                                @Html.HiddenFor(c => c.CNFVM.TransMode)
                                @Html.HiddenFor(c => c.CNFVM.STax)
                                @Html.HiddenFor(c => c.CNFVM.STax_YN)
                                @Html.HiddenFor(c => c.WBM.BGNDT)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet @ViewBag.TableBoxColor box">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-edit"></i>@ViewBag.Title Details
            </div>
        </div>
        <div class="portlet-body">

            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">CNote Number : </label>
                            <div class="col-md-8 text-primary">
                                @Html.TextBoxFor(c => c.CnoteNo, new { @placeholder = "System Generated", @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">CNote Branch : </label>
                            <div class="col-md-8 text-primary margin-top-5">
                                @ViewBag.BaseLocationCode
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">CNote Date : </label>
                            <div class="col-md-8 text-primary">
                                <div class="input-group date date-picker">
                                    @Html.TextBoxFor(c => c.CNoteDt, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy"})
                                    <span class="input-group-btn">
                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Referance No : </label>
                            <div class="col-md-8 text-primary">
                                @Html.TextBoxFor(c => c.Ref_No, new { @placeholder = "Referance No", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Bill Type : </label>
                            <div class="col-md-8 text-primary margin-top-5">
                                @Html.DisplayFor(c => c.CNFVM.Paybasis)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Party name : </label>
                            <div class="col-md-8 text-primary margin-top-5">
                                @Html.DisplayFor(c => c.CNFVM.CUSTNM)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Total CNote Amount : </label>
                            <div class="col-md-8 text-primary">
                                @Html.TextBoxFor(c => c.TotAmt, new { @placeholder = "Total CNote Amount", @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" ,@readonly="true"})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Bill List
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="chkall" /></th>
                                    <th>Invoice No.</th>
                                    <th>Invoice Date</th>
                                    <th>Invoice Amount</th>
                                    <th>Current Balance</th>
                                    <th>CNote Amount</th>
                                    <th>Purpose of CNote</th>
                                    <th>Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.BillList)
                                {
                                    Html.RenderPartial("_PartialBillList", item);
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <a href="@Url.Content("~/Finance/CreditNoteCriteria")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
                            @if (Model.BillList.Count > 0)
                            {
                                <button type="submit" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {
                    'BEPFM_TotalRecods': {
                        min: jQuery.format("Please Select at Least One Record")
                    },
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
            
                }
            });
        }
        var SelectCheckBox = function (DomainName) {
            var totAMT = 0;
            var StrDocno = "";
            $(".chkactive").each(function () {
                var checked = $(this).is(":checked");
                if (checked) {
                    if (StrDocno == "")
                        StrDocno = $(this).attr("data-value");
                    else
                        StrDocno = StrDocno + "," + $(this).attr("data-value");
                    totAMT = totAMT + 1;
                }
            });
            $("#WFFDM_Total_Documents").val(totAMT);
            $("#BEPFM_BillNumber").val(StrDocno);
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);

                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: '@System.DateTime.Now',
                    todayBtn: true,
                });
                $("#chkall").live('change', function () {
                    var checked = jQuery(this).is(":checked");
                    $(".chkactive").each(function () {
                        if (checked) {
                            $(this).attr("checked", true);
                            $(this).parents('span').addClass("checked");
                        } else {
                            $(this).attr("checked", false);
                            $(this).parents('span').removeClass("checked");
                        }
                    });
                    SelectCheckBox(DomainName);
                });
                $(".chkactive").live('change', function () {
                    SelectCheckBox(DomainName);
                });

                $(".CAMT").live('change', function () {
                    var TotAmt = $("#TotAmt").val();
                    var TotAmt = parseFloat(TotAmt) + parseFloat($(this).val())
                    $("#TotAmt").val(parseFloat(TotAmt));
                });

                $('#btnSubmit').click(function () {
                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        return false;
                    }
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                });
            }
        }
    }();
</script>