﻿@model IEnumerable<FleetDataService.Models.webx_acctrans>
@{
    ViewBag.Title = "CreditNoteDone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Tranxaction.ToUpper() == "DONE")
{
    <div class="col-md-offset-1 col-md-10" style="margin-top:10%;">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-check"></i>@ViewBag.Title is Successfully @ViewBag.Tranxaction
                </div>
            </div>
            <div class="portlet-body">
                <div class="margin-top-10 margin-bottom-10 clearfix" id="TblCNote">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="center">
                                    Docket No.
                                </th>
                                <th class="center">
                                    Voucher No.
                                </th>
                                <th class="center">
                                    Party Name
                                </th>
                                <th class="center">
                                    Account
                                </th>
                                <th class="center">
                                    Credit
                                </th>
                                <th class="center">
                                    Debit
                                </th>
                                <th class="center">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ToList().OrderBy(c => c.Srno))
                            {
                                <tr>
                                    <td class="center">
                                        <b>@item.DocNo</b>
                                    </td>
                                    <td class="center">
                                        <b>@item.Voucherno</b>
                                    </td>
                                    <td class="center">
                                        <b>@item.PBOV_CODE : @item.PBOV_NAME</b>
                                    </td>
                                    <td class="center">
                                        <b>@item.oppacccode : @item.Oppaccount</b>
                                    </td>
                                    <td class="center">
                                        <b>@item.Credit</b>
                                    </td>
                                    <td class="center">
                                        <b>@item.Debit</b>
                                    </td>
                                    <td class="center">
                                        <a href="javascript:View('@item.Voucherno')"><b><i class="fa fa-print"></i>&nbsp;View || Print</b></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <span class="label label-danger">
                    NOTE!
                </span>&nbsp;
                <span>
                    <a href="@Url.Content("~/Finance/CreditNoteCriteria")">Click here to Prepare More Credit Note</a>
                </span>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-danger fade in center">
            <h2 class="alert-heading">Opps! @ViewBag.Title fail</h2>
            <h4>
                There is some issue with process. <br />Please check your internet connection else contact your administrator or service provider.
            </h4>
        </div>
    </div>
}

<script type='text/javascript'>

    function View(VoucherNo) {
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        var strPopupURL = ReportURL + DomainName + "/ViewPrint/VoucherViewPrint?VoucherNo=" + VoucherNo + "&Type=2";
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;
    }

    var FormSamples = function (DomainName) {

        return {
            init: function (DomainName) {
            }
        };
    }();
</script>