﻿@model FleetDataService.ViewModels.CNoteFilterViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "Credit Note Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    FleetDataService.FinanceService FS = new FleetDataService.FinanceService();
    List<Webx_Master_General> ListBillType = MS.GetGeneralMasterObject().Where(c => c.CodeType == "BILLTYP" && (c.CodeId == "1" || c.CodeId == "2" || c.CodeId == "7")).ToList();
    List<Webx_Master_General> ListTax = FS.GetModeWiseStax().ToList();
    Webx_Master_General objTax = new Webx_Master_General();
    objTax.CodeId = "All";
    objTax.CodeDesc = "ALL With W/O Stax";
    ListTax.Insert(0,objTax);
}

@using (Html.BeginForm("CreditNoteGeneration", "Finance", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Billing Customer :
                                    </label>
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(c => c.CUSTCD, new { @class = "form-control required required2", @placeholder = "Select Customer" })
                                        @Html.HiddenFor(c=>c.CUSTNM)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Bill Type :
                                    </label>
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(c => c.Paybasis, new SelectList(ListBillType, "CodeId", "CodeDesc"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Bill Type" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Transport Mode :
                                    </label>
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(c => c.TransMode, new SelectList(ListTax, "CodeId", "CodeDesc"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Transport Mode" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Bill Number :
                                    </label>
                                    <div class="col-md-3">
                                        @Html.HiddenFor(c => c.FromDate)
                                        @Html.HiddenFor(c => c.ToDate)
                                        @Html.HiddenFor(c => c.STax_YN)
                                        @Html.HiddenFor(c => c.STax)
                                        @Html.TextBoxFor(c => c.BillNo, new { placeholder = "Bill Number", @class = "form-control required required2" })
                                    </div>
                                    <span class="col-md-3 text-primary">[Seperated by Comma if multiple]</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Select  Date :
                                    </label>
                                    <div class="col-md-3">
                                        <div id="reportrange" class="btn default">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-8">
                            <button type="button" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Get List</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');

            $('#btnSubmit').on('click', function () {
                var form = $('#form_sample');
                if (form.valid() == false) {
                    return false;
                }
                document.forms['form_sample'].submit();
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                Events(DomainName);
                JsonDDL('CUSTCD', DomainName + '/Master/GetCustomerListJson')
                $("#STax_YN").val("N");
                $("#TransMode").change(function () {
                    if ($(this).val() == "ALL") {
                        $("#STax_YN").val("N");
                        $("#STax").val("0.00");
                    }
                    else {
                        $("#STax_YN").val("Y");
                        $("#STax").val($(this).val().split('~')[1]);
                    }
                });
            }
        }
    }();
</script>
