@{
    ViewBag.Title = "Crossing Challan Bill Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.TranXaction.ToUpper() == "DONE")
{
    <div class="col-md-offset-2 col-md-8" style="margin-top:10%;">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-check"></i>Following document has been successfully generated
                </div>
            </div>
            <div class="portlet-body">
                <div class="margin-top-10 margin-bottom-10 clearfix">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                              
                                <th class="center">
                                    Bill No.
                                </th>
                                <th class="center">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              
                                <td>
                                    @ViewBag.BillNo
                                </td>
                                <td>
                                    <a href="javascript:View('@ViewBag.BillNo')"><b><i class="fa fa-print"></i>&nbsp;View || Print</b></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <span class="label label-danger">
                    NOTE!
                </span>&nbsp;
                <span>
                    <a href="@Url.Content("~/Finance/CrossingChallanBillCriteria")">Click to Generate New Crossing Bill</a>
                </span>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-danger fade in center">
            <h2 class="alert-heading">Opps! @ViewBag.Title fail</h2>
            <h4>
                There is some issue with process. <br />Please check your internet connection else contact your administrator or service provider.
            </h4>
        </div>
    </div>
}


<script type='text/javascript'>

    function View(BillNo) {
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        var strPopupURL = ReportURL + DomainName + "/ViewPrint/CrossingChallanBillViewPrint?BillNo=" + BillNo;
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
      //  return false;
    }


</script>
