@model Fleet.ViewModels.CrossingChallanFilterViewModel
@using FleetDataService.Models;
@using Fleet.ViewModels
@{
    ViewBag.Title = "Crossing Challan Bill Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> VendorTypeList = MS.GetGeneralMasterFromId("VENDTY", "18");
    Model.WCM.BGNDT = System.DateTime.Now;
    objDate OD = new objDate();
    OD.ControlId = "WCM.BGNDT";
    OD.ControlValue = Model.WCM.BGNDT.ToString();
    OD.ModuleCode = "18";
    int i = 1;
}
@using (Html.BeginForm("CrossingChallanBillSubmit", "Finance", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
<div id="AddEdit" class="row">
    <div class="col-md-12">
        <h4 class="form-section">Crossing Bill Entry Detail</h4>
        <div id="divStep1">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label col-md-5">Bill Entry No. </label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.WCM.BILLNO, new { placeholder = "System Generated", @readonly = "true", @class = "form-control" })
                            @Html.HiddenFor(m => m.WCM.PTMSTEL)
                            @Html.HiddenFor(m => m.WCM.PTMSEMAIL)
                            @Html.HiddenFor(m => m.WCM.PTMSADDR)
                        </div>
                  </div>
              </div>

              <div class="col-md-5">
                  <div class="form-group">
                      <label class="control-label col-md-5">Bill Date</label>
                      <div class="col-md-7">
                          @{
                              Html.RenderPartial("../UserControls/_DocumentDate", OD);
                           }
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-5">
                  <div class="form-group">
                      <label class="control-label col-md-5">Vendor Type</label>
                      <div class="col-md-7">
                          @Html.DropDownListFor(m => m.VendorType, new SelectList(VendorTypeList.OrderBy(c => c.CodeId).ToList(), "CodeId", "CodeDesc"), "", new { @class = "form-control", @placeholder = "Vendor Type", @readonly = "true" })

                      </div>
                  </div>
              </div>
              <div class="col-md-5">
                  <div class="form-group">
                      <label class="control-label col-md-5">Vendor </label>
                      <div class="col-md-7">
                          @Html.TextBoxFor(m => m.WCM.VendNameStr, new { placeholder = "", @readonly = "true", @class = "form-control" })
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-5">
                  <div class="form-group">
                      <label class="control-label col-md-5">Manual Bill No.</label>
                      <div class="col-md-7">
                          @Html.TextBoxFor(m => m.WCM.Manualbillno, new { placeholder = "Manual Bill No.", @class = "  form-control" })
                      </div>
                  </div>
              </div>
              <div class="col-md-5">
                  <div class="form-group">
                      <label class="control-label col-md-5">GST No.</label>
                      <div class="col-md-7">
                          @Html.TextBoxFor(m => m.WCM.GSTNo, new { placeholder = "GST No.", @class = "form-control" ,@readonly = "true" })
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-5">
                  <div class="form-group">
                      <label class="control-label col-md-5">Bill Generated By.</label>
                      <div class="col-md-7">
                          @Html.TextBoxFor(m => m.WCM.BGENEMPCD, new { placeholder = "Bill Generated By.", @class = "form-control", @readonly = "true" })
                      </div>
                  </div>
              </div>
              <div class="col-md-5">
                  <div class="form-group">
                      <label class="control-label col-md-5">Duration</label>
                      <div class="col-md-7">
                          @Html.TextBoxFor(m => m.WCM.Duration, new { placeholder = "", @class = "form-control", @readonly = "true" })
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-5">
                  <div class="form-group">
                      <label class="control-label col-md-5">Remarks</label>
                      <div class="col-md-7">
                          @Html.TextAreaFor(m => m.WCM.REMARK, new { placeholder = "Remarks", @class = "form-control" })

                      </div>
                  </div>
              </div>
              <div class="col-md-5">
                  <div class="form-group">
                      <label class="control-label col-md-5">Ledger Balance</label>
                      <div class="col-md-7">
                          @Html.TextBoxFor(m => m.WCM.BILLAMT, new { placeholder = "", @class = "form-control", @readonly = "true" })
                      </div>
                  </div>
              </div>
          </div>
          <br />
          <br />
          <h4 class="form-section">Crossing Bill Entry List</h4>
          <div class="portlet box @ViewBag.TableBoxColor">
              <div class="portlet-title">
                  <div class="caption">
                      <i class="fa fa-list"></i>Crossing Challan Bill List
                  </div>
              </div>

              <div class="portlet-body flip-scroll">
                  <table class="table table-striped table-bordered table-hover table-full-width " id="Sample1">
                      @if (Model.WCDB.Count() > 0)
                      {
                          <thead class="flip-content">


                              <tr>
                                  <th class="center">Sr No.</th>
                                  <th>
                                      Crossing Challan No
                                  </th>
                                  <th>
                                      Challan Date
                                  </th>
                                  <th>
                                      Origin
                                  </th>
                                  <th>
                                      Total Dkt
                                  </th>
                                  <th>
                                      Pkg
                                  </th>
                                  <th>
                                      Weight
                                  </th>
                                  <th>
                                      Total ToPay
                                  </th>
                                  <th>
                                      Total Crossing
                                  </th>
                                  <th>
                                      Bulky Charges
                                  </th>
                                  <th>
                                      Net Payable
                                  </th>
                              </tr>
                          </thead>
                          <tr>
                              <td colspan="10" align="center">
                                  <b>Opening Balance </b>
                              </td>
                              <td align="center">
                                  @Html.TextBoxFor(m => m.WCM.OpeningBalance, new { placeholder = "", @class = "form-control", @readonly = "true" })
                              </td>
                          </tr>
                          <tbody id="AdviceTable">
                              @foreach (var item in Model.WCDB.Where(c => c.CrossingChallanNo != null))
                              {
                                  item.iSNO = i;

                                  if (item.iSNO > 0)
                                  {
                                      {

                                          Html.RenderPartial("_CrossingChallanBill", item);
                                      }

                                      i++;
                                  }
                                  else
                                  {
                                      <tr style="text-align: center; background-color: darkgray; height: 20px;">
                                          <td colspan="11" style="background-color: darkgray;"></td>

                                      </tr>
                                  }

                              }
                          </tbody>
                          <tr>
                              <td colspan="4" align="center">
                                  <b>Total Amount:</b>
                              </td>
                              <td>
                                  @Html.TextBoxFor(c => c.WCM.TotalDkt, new { @readonly = "true", @class = "input-xsmall" })

                              </td>
                              <td>
                                  @Html.TextBoxFor(c => c.WCM.TotalPackages, new { @readonly = "true", @class = "input-xsmall" })

                              </td>
                              <td>
                                  @Html.TextBoxFor(c => c.WCM.TotalWeight, new { @readonly = "true", @class = "input-xsmall" })
                              </td>
                              <td>
                                  @Html.TextBoxFor(c => c.WCM.TotalToPayCharges, new { @readonly = "true", @class = "input-xsmall" })

                              </td>
                              <td>

                                  @Html.TextBoxFor(c => c.WCM.TotalCrossingCharges, new { @readonly = "true", @class = "input-xsmall" })

                              </td>
                              <td>
                                  @Html.TextBoxFor(c => c.WCM.TotalBulkyCharges, new { @readonly = "true", @class = "input-xsmall" })

                              </td>
                              <td>
                                  @Html.TextBoxFor(m => m.WCM.TotalNetpayableCharges, new { placeholder = "", @class = "form-control", @readonly = "true" })
                              </td>
                          </tr>
                      }
                      else
                      {
                          <tr>
                              <th>
                                  No Records Found
                              </th>
                          </tr>
                      }

                  </table>
                  <div class="form-actions fluid">
                      <div class="col-md-offset-3 col-md-9">
                          <a class="btn btn-sm default" href="@Url.Content("~/Finance/CrossingChallanBillCriteria")">
                              <i class="fa fa-arrow-left"> </i>
                              Back To Criteria
                          </a>
                          @if (Model.WCDB.Count() > 0)
                          {
                              <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                          }
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
}
                        @*<script src="~/Scripts/Payments/FuelBillEntry.js?ver<%=DateTime.Now.Ticks.ToString()%" type="text/javascript"></script>*@
                            <script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form = $('#form_sample');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {
                },
                messages: { // custom messages for radio buttons and checkboxes
                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.attr("name") == "gender") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_gender_error");
                    } else if (element.attr("name") == "payment[]") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_payment_error");
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();

                    App.blockUI({ boxed: true });
                    document.forms[1].submit();

                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }

        var Claculatetotal = function (DomainName) {

            @foreach (var item in Model.WCDB)
            {
                var DKTTOTCount = "CrossingChallanList_" + item.iSNO + "__DKTTOTCount";
                var Pkgs = "CrossingChallanList_" + item.iSNO + "__Pkgs";
                var ActuWeight = "CrossingChallanList_" + item.iSNO + "__ActuWeight";
                var TotalTopay = "CrossingChallanList_" + item.iSNO + "__TotalTopay";
                var CrossingChrg = "CrossingChallanList_" + item.iSNO + "__CrossingChrg ";
                var BulkyChrg = "CrossingChallanList_" + item.iSNO + "__BulkyChrg";
                var NetPayable = "CrossingChallanList_" + item.iSNO + "__NetPayable";

            <text>

            Calculation(DomainName, "CrossingChallanList_" + "@item.iSNO");

            </text>
            }
        }

        var Calculation = function (DomainName, Id) {
            var LedgerBalance = parseFloat($("#WCM_OpeningBalance").val()).toFixed(2);

            var DKTTOTCountVal = 0;
            $(".clsDKTTOTCount").each(function () {
                DKTTOTCountVal = parseFloat(DKTTOTCountVal) + parseFloat($(this).val());
            })

            var PkgsVal = 0;
            $(".clsPkgs").each(function () {
                PkgsVal = parseFloat(PkgsVal) + parseFloat($(this).val());
            })

            var ActuWeightVal = 0;
            $(".clsActuWeight").each(function () {
                ActuWeightVal = parseFloat(ActuWeightVal) + parseFloat($(this).val());
            })

            var TotalTopayVal = 0;
            $(".clsTotalTopay").each(function () {
                TotalTopayVal = parseFloat(TotalTopayVal) + parseFloat($(this).val());
            })
            var CrossingChrgAmtVal = 0;
            $(".clsCrossingChrg").each(function () {
                CrossingChrgAmtVal = parseFloat(CrossingChrgAmtVal) + parseFloat($(this).val());
            })
            var BulkyChrgVal = 0;
            $(".clsBulkyChrg").each(function () {
                BulkyChrgVal = parseFloat(BulkyChrgVal) + parseFloat($(this).val());
            })
            var NetPayableVal = 0;
            $(".clsNetPayable").each(function () {
                NetPayableVal = parseFloat(NetPayableVal) + parseFloat($(this).val());
            })

            $("#WCM_TotalDkt").val(parseFloat(DKTTOTCountVal).toFixed(2));
            $("#WCM_TotalPackages").val(parseFloat(PkgsVal).toFixed(2));
            $("#WCM_TotalWeight").val(parseFloat(ActuWeightVal).toFixed(2));

            $("#WCM_TotalToPayCharges").val(parseFloat(TotalTopayVal).toFixed(2));
            $("#WCM_TotalCrossingCharges").val(parseFloat(CrossingChrgAmtVal).toFixed(2));
            $("#WCM_TotalBulkyCharges").val(parseFloat(BulkyChrgVal).toFixed(2));
            $("#WCM_TotalNetpayableCharges").val(parseFloat(NetPayableVal) + parseFloat(LedgerBalance));
            $("#WCM_BILLAMT").val(parseFloat($("#WCM_TotalNetpayableCharges").val()));
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                ControlDate();
                Formvalidate(DomainName);
                Claculatetotal(DomainName);
            }
        };
    }();

 </script>

