﻿@{
    ViewBag.Title = "DAMBillGenerationQuery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FleetDataService.ViewModels.BillingQueryModel


<div class="col-md-10">
    <div class="portlet box @ViewBag.TableBoxColor ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-reorder"></i>Bill Generation
            </div>
        </div>
        <div class="portlet-body form">
            @using (Html.BeginForm("BillGeneration", "Finance", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
            {
                {
                    Html.RenderPartial("../UserControls/_BillGenerationFilter", Model);
                }
            }
        </div>
    </div>
</div>