﻿@model FleetDataService.ViewModels.DCNoteSubmissionViewModel
@{
    ViewBag.Title = "Debit Note Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("DebitNote", "Finance", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Debit Note No :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.DNoteNo, new { @class = "form-control", @placeholder = "System Generated", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Ref. No. :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.Ref_No, new { @class = "form-control required required2", @placeholder = "Ref. No." })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Debit Note Date :
                                    </label>
                                    <div class="col-md-7">
                                        <div class="input-group date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d" data-date-end-date="+0d">
                                            @Html.TextBoxFor(c => c.DNoteDt, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.DNoteDt).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @readonly = "True", @placeholder = "dd MMM yyyy" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" id="btndate" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Prepared at location :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.preparedfor, new { @class = "form-control", @placeholder = "Prepared at location", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Prepared By :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.preparedby, new { @class = "form-control", @placeholder = "Prepared By", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Party Selection :
                                    </label>
                                    <div class="col-md-7 radio-list">
                                        <label class="radio-inline">
                                            <input type="radio" class="radio" name="DocType" id="DocType1" checked value="1">Customer
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" class="radio" name="DocType" id="DocType2" value="2"> Vendor
                                        </label>

                                        @Html.Hidden("DOCTY")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Debited Ledger :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.DebitAccountDisplay, new { @class = "form-control", @placeholder = "Debited Ledger", @readonly = "true" })
                                        @Html.HiddenFor(c=>c.pbov_code)
                                        @Html.HiddenFor(c => c.pbov_name)
                                        @Html.HiddenFor(c => c.pbov_typ)
                                        @Html.HiddenFor(c => c.DebitAccount)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Debited Amount :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.DebitAmount, new { @class = "form-control required required2", @placeholder = "Debited Amount", @readonly = "true" ,@min="1"})
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" id="divcust">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Billing Customer :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.CUSTCD, new { @class = "form-control required required2", @placeholder = "Select Customer" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" id="divveh" style="display:none">
                                <div class=" form-group">
                                <label class="control-label col-md-5">
                                    Billing Vendor :
                                </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(c => c.VENCD, new { @class = "form-control", @placeholder = "Select Vendor" })
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<div class="row">
        <div class="col-md-6">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Account Detail
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Account Code</th>
                                    <th>Credit Amount</th>
                                    <th>X</th>
                                </tr>
                            </thead>
                            <tbody id="containerTblDNote">
                                @foreach (var item in Model.BillList)
                                {
                                    Html.RenderPartial("_PartialDebitNote", item);
                                }
                            </tbody>
                            <tr>
                                <td class="center"><b>Total</b></td>
                                <td>@Html.TextBoxFor(c => c.WBM.Netamt, new { @class = "form-control" ,@readonly="true"})</td>
                            </tr>
                        </table>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-9">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="btnAddDNoteDetail" class="btn green pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                </div>
                            </div>
                        </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="button" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i>&nbsp;Submit </button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');

            $('#btnSubmit').on('click', function () {
                var form = $('#form_sample');
                if (form.valid() == false) {
                    return false;
                }
                document.forms['form_sample'].submit();
            });
        }

        var AddDNoteInfo = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Finance/AddDNoteInfo?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#containerTblDNote").append(html);
                    App.unblockUI();
                    $("input[type=checkbox], input:radio, input:file").uniform();
                    $('select').select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    JsonDDL('DNoteList_' + itemIndex + '__bankacccode', DomainName + '/Finance/GetAcctsearchListJson')
                    AccountCodeChange(DomainName, itemIndex);
                    $(".clsAmt").change(function () {
                        var TotAmt = 0;
                        $(".clsAmt").each(function (index) {
                        TotAmt += parseFloat($(this).val());
                        $("#WBM_Netamt").val(TotAmt);
                        $("#DebitAmount").val(TotAmt);
                        });
                    });
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                    App.unblockUI();
                }
            });
        }

        
        var GetName = function (DomainName,custcode,VENCD) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Finance/GetDebitorName?custcode=' + custcode + '&VENCD=' + VENCD;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (strName) {
                    var CodeName = strName.split(",");
                    $("#DebitAccount").val(CodeName[0]);
                    $("#DebitAccountDisplay").val(CodeName[1]);
                    var Name = CodeName[1].split(":");
                    $("#pbov_name").val(CodeName[2]);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                    App.unblockUI();
                }
            });
        }

        var GetCustName = function (DomainName, custcode, VENCD) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Finance/GetDebitorName?custcode=' + custcode + '&VENCD=' + VENCD;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (strName) {
                    var CodeName = strName.split(",");
                    $("#DebitAccount").val(CodeName[0]);
                    var Name = CodeName[0].split(":");
                    $("#pbov_code").val(Name[0]);
                    $("#pbov_name").val(Name[1]);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                    App.unblockUI();
                }
            });
        }

        var AccountCodeChange = function (DomainName, itemIndex) {
   
            $("#DNoteList_" + itemIndex + "__bankacccode").change(function (e) {
                e.preventDefault();
                var dlnmId = $(this).attr("id");
                var Value = $(this).val();
                if (Value != "") {
                    var count = 0;
                    $(".clsAcct").each(function () {

                        var dlnmId1 = $(this).attr("id");
                        var dlnmVal1 = $(this).val();

                        if (dlnmId1 != dlnmId && dlnmVal1 == Value) {

                            alert("Can Not select Duplicate Value!!!");
                            count = 1;
                            $("#" + dlnmId).select2('data', null);
                            $("#DNoteList_" + itemIndex + "__bankacccode").val("");
                            return false;
                        }
                    });
                    if (count == 0) {
                        $("#DNoteList_" + itemIndex + "__bankacccode").val(Value);
                    }
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                Events(DomainName);

                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    showMeridian: true,
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    todayBtn: true
                });
                JsonDDL('CUSTCD', DomainName + '/Master/GetCustomerListJson')
                JsonDDL('VENCD', DomainName + '/Master/SearchVendorListJson')
                $("#STax_YN").val("N");
                $("#CUSTCD").change(function () {
                    GetName(DomainName, $(this).val(), null);
                    $("#pbov_code").val($(this).val());
                });
                $("#VENCD").change(function () {
                    GetName(DomainName, null, $(this).val());
                    $("#pbov_code").val($(this).val());
                });
                $("#pbov_typ").val("P");
                $('input[type=radio]').change(function () {
                    if ($(this).attr('value') == "1") {
                        $("#divveh").hide();
                        $("#divcust").show();
                        $("#CUSTCD").addClass("required required2")
                        $("#VENCD").removeClass("required required2")
                        $("#pbov_typ").val("P");
                    }
                    else {
                        $("#divveh").show();
                        $("#divcust").hide();
                        $("#VENCD").addClass("required required2")
                        $("#CUSTCD").removeClass("required required2")
                        $("#pbov_typ").val("V");
                    }
                });
               

                var itemIndex = $("#sample_ven input.iHidden").length + 1;
                if ('@Model.WBM.SrNo' == '0') {
                    AddDNoteInfo(DomainName, itemIndex);
                }
                AccountCodeChange(DomainName, itemIndex);

                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    $(".clsAmt").change(function () {
                        var TotAmt = 0;
                        $(".clsAmt").each(function (index) {
                            TotAmt += parseFloat($(this).val());
                            $("#WBM_Netamt").val(TotAmt);
                            $("#DebitAmount").val(TotAmt);
                        });
                    });
                    $(".clsAmt").trigger("change");
                    return false;
                });
                $("#btnAddDNoteDetail").live('click', function () {
                    itemIndex = $("#sample_ven input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddDNoteInfo(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });
            }
        }
    }();
</script>