﻿@model FleetDataService.ViewModels.FinalizationModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var DateRange = Model.FromDate.ToString("dd MMM yyyy") + " - " + Model.ToDate.ToString("dd MMM yyyy");
    var text = "CNote ";
    if (Model.Type.ToUpper() == "BILL")
    {
        text = "Billing ";
    }
    if (Model.Type.ToUpper() == "MR")
    {
        text = "MR ";
    }

    int i = 1;


    ViewBag.Title = @text + "Finalization";
    DateTime FinYearStartDate = Convert.ToDateTime(ViewBag.FinYearStartDate);
    DateTime FinYearEndDate = Convert.ToDateTime(ViewBag.FinYearEndDate);
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>Selected @ViewBag.Title Criteria
                </div>
            </div>
            <div class="portlet-body form-horizontal">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @if (Model.Type.ToUpper() == "BILL")
                                {
                                    <label class="control-label col-md-3">
                                        Bill No
                                    </label>
                                }
                                else if (Model.Type.ToUpper() == "MR")
                                {
                                    <label class="control-label col-md-3">
                                        @text No:
                                    </label>
                                }
                                else
                                {
                                    <label class="control-label col-md-3">
                                        @text:
                                    </label>
                                }
                                <div class="col-md-4">
                                    @Html.TextBoxFor(c => c.DocumentNo, new { @class = "form-control required2", @placeholder = "NA", @readonly = true })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Date Range :
                                </label>
                                <div class="col-md-4">
                                    @Html.TextBox("DateRange", DateRange, new { @class = "form-control required2", @placeholder = "NA", @readonly = true })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Party Code :
                                </label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(c => c.PartyCode, new { @class = "form-control required2", @placeholder = "NA", @readonly = true })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Regional Office :
                                </label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(c => c.RegionCode, new { @class = "form-control required2", @readonly = true })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Local Office :
                                </label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(c => c.LocationCode, new { @class = "form-control required2", @readonly = true })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title Details
                </div>
            </div>
            <div class="portlet-body ">
                @using (Html.BeginForm("DocketFinalizationSubmit", "Finance", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(c => c.Type)
                    <div class="form-body">
                        @if (Model.Type.ToUpper() == "DKT")
                        {
                            <table class="table table-striped table-bordered table-hover dataTable" id="tblList" style="overflow-x: scroll">
                                <thead>
                                    <tr>
                                        <th class="center">
                                            <input type="checkbox" class="group-checkable" data-set="#tblList .checkboxes">
                                        </th>
                                        <th class="center">
                                            LR No
                                        </th>
                                        <th class="center">
                                            Origin
                                        </th>
                                        <th class="center">
                                            Party Name
                                        </th>
                                        <th class="center">
                                            LR Date
                                        </th>
                                        <th class="center">
                                            Freight
                                        </th>
                                        <th class="center">
                                            Sub Total
                                        </th>
                                        <th class="center">
                                            LR Total
                                        </th>
                                        <th class="center">
                                            Finalized Date
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ListCNFVM.ToList().OrderBy(c => c.LRNo))
                                    {
                                        if (@ViewBag.CurrFinYear == @ViewBag.BaseFinYear)
                                        {
                                            //if (Convert.ToDateTime(item.LRDate) < FinYearStartDate)
                                            //{
                                            //    item.Finalized_Date = FinYearStartDate.AddDays(-1);
                                            //}
                                            //else
                                            //{
                                            item.Finalized_Date = System.DateTime.Now;
                                            //}
                                        }
                                        else
                                        {
                                            item.Finalized_Date = FinYearEndDate;
                                        }
                                        Html.RenderPartial("_CNoteFinalizationList", item);
                                    }
                                </tbody>
                            </table>
                            <div class="form-actions fluid">
                                <div class="col-md-offset-4 col-md-8">
                                    <a href="@Url.Content("~/Finance/DocketFinalizationCriteria/" + @Model.Type.ToUpper())" class="btn btn-sm default btnSubmit"><i class="fa fa-arrow-left"></i>&nbsp;Back to @text Criteria</a>
                                    @if (Model.ListCNFVM.Count() > 0)
                                    {
                                        <button type="submit" id="btnSubmit" class="btn btn-sm green controls btnSubmit"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                    }
                                </div>
                            </div>
                        }
                        @if (Model.Type.ToUpper() == "BILL")
                        {
                            <table class="table table-striped table-bordered table-hover dataTable" id="tblList" style="overflow-x: scroll">
                                <thead>
                                    <tr>
                                        <th class="center">
                                            <input type="checkbox" class="group-checkable" data-set="#tblList .checkboxes">
                                        </th>
                                        <th class="center">
                                            Bill No
                                        </th>
                                        <th class="center">
                                            Bill Date
                                        </th>
                                        <th class="center">
                                            Party Name
                                        </th>
                                        <th class="center">
                                            Manual Bill No
                                        </th>
                                        <th class="center">
                                            Bill Amount
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ListBillFVM.ToList().OrderBy(c => c.BillNo))
                                    {
                                        //item.iSNO = i;
                                        //Html.RenderPartial("_BillFinalizationList", item);

                                        item.iSNO = i;

                                        if (item.iSNO > 0)
                                        {
                                            {

                                                Html.RenderPartial("_BillFinalizationList", item);
                                            }

                                            i++;
                                        }
                                        else
                                        {
                                            <tr style="text-align: center; background-color: darkgray; height: 20px;">
                                                <td colspan="11" style="background-color: darkgray;"></td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="form-actions fluid">
                                <div class="col-md-offset-4 col-md-8">
                                    <a href="@Url.Content("~/Finance/DocketFinalizationCriteria/" + @Model.Type.ToUpper())" class="btn btn-sm default "><i class="fa fa-arrow-left"></i>&nbsp;Back to @text Criteria</a>
                                    @if (Model.ListBillFVM.Count() > 0)
                                    {
                                        <button type="submit" id="btnSubmit" class="btn btn-sm green controls btnSubmit "><i class="fa fa-check"></i>&nbsp;Submit</button>
                                    }
                                </div>
                            </div>
                        }
                        @if (Model.Type.ToUpper() == "MR")
                        {
                            <table class="table table-striped table-bordered table-hover dataTable" id="tblList" style="overflow-x: scroll">
                                <thead>
                                    <tr>
                                        <th class="center">
                                            <input type="checkbox" class="group-checkable" data-set="#tblList .checkboxes">
                                        </th>
                                        <th class="center">
                                            MRS No
                                        </th>
                                        <th class="center">
                                            MRS Date
                                        </th>
                                        <th class="center">
                                            Bill No
                                        </th>
                                        <th class="center">
                                            Bill Date
                                        </th>
                                        <th class="center">
                                            Party Name
                                        </th>
                                        <th class="center">
                                            Bill Amount
                                        </th>
                                        <th class="center">
                                            Collection Amount
                                        </th>
                                        <th class="center">
                                            Collection Mode
                                        </th>
                                        <th class="center">
                                            Bank Ledger
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.ListMrFM != null)
                                    {
                                        foreach (var item in Model.ListMrFM.ToList().OrderBy(c => c.MRSNO))
                                        {
                                            item.iSNO = i;

                                            if (item.iSNO > 0)
                                            {
                                                {

                                                    Html.RenderPartial("_MRFinalizationList", item);
                                                }

                                                i++;
                                            }
                                            else
                                            {
                                                <tr style="text-align: center; background-color: darkgray; height: 20px;">
                                                    <td colspan="11" style="background-color: darkgray;"></td>

                                                </tr>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <tr style="text-align: center; background-color: darkgray; height: 20px;">
                                            <td colspan="11" style="background-color: darkgray;"></td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="form-actions fluid">
                                <div class="col-md-offset-4 col-md-8">
                                    <a href="@Url.Content("~/Finance/DocketFinalizationCriteria/" + @Model.Type.ToUpper())" class="btn btn-sm default "><i class="fa fa-arrow-left"></i>&nbsp;Back to @text Criteria</a>
                                    @if (Model.ListMrFM != null && Model.ListMrFM.Count() > 0)
                                    {
                                        <button type="submit" id="btnSubmit" class="btn btn-sm green controls btnSubmit "><i class="fa fa-check"></i>&nbsp;Submit</button>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        var Events = function (DomainName) {
            $('#btnSubmit').on('click', function () {
                    if ($("#form_sample").valid()) {
                        App.blockUI({ boxed: true });
                    }
               // App.blockUI({ boxed: true });
            });
        }

        function initTable(tblId) {
            $('#' + tblId).dataTable({
                "aLengthMenu": [
                    [5, 10, 15, 20, -1],
                    [5, 10, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 20,
                "sPaginationType": "bootstrap",
                "bProcessing": true,
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "bDestroy": true,
                "aoColumnDefs": [
                     { 'bSortable': false, 'aTargets': [1] },
                     { "bSearchable": false, "aTargets": [0] }
                ]
            });
            jQuery('#' + tblId + '_wrapper .dataTables_filter input').addClass("form-control input-medium input-inline"); // modify table search input
            jQuery('#' + tblId + '_wrapper .dataTables_filter').addClass("pull-right");
            jQuery('#' + tblId + '_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
            jQuery('#' + tblId + '_wrapper .dataTables_length select').select2(); // initialize select2 dropdown

            jQuery('#tblList .group-checkable').change(function () {
                var set = jQuery(this).attr("data-set");
                var checked = jQuery(this).is(":checked");

                jQuery(set).each(function () {
                    if (checked) {
                        $(this).attr("checked", true);
                        $(this).parents('tr').addClass("active");
                        $('#btnSubmit').show();
                    } else {
                        $(this).attr("checked", false);
                        $(this).parents('tr').removeClass("active");
                        $('#btnSubmit').hide();
                    }
                });
                jQuery.uniform.update(set);
            });
        }

        var chkChange = function () {
            var values = $('input:checkbox:checked.chkCheck').map(function () {
                return $(this).data('id');
            }).get().join();

            ($('input:checkbox:checked.chkCheck').length > 0) ? $('#btnSubmit').show() : $('#btnSubmit').hide();
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                Events(DomainName);
                initTable("tblList");
                $('#btnSubmit').hide();

                $('.chkCheck').change(function () {
                      var checked = jQuery(this).is(":checked");
                      var ID = $(this).attr("id").replace("MRFinalizationList_", "").replace("__IsChecked", "");
                      var BankAcccode = "MRFinalizationList_" + ID + "__BankAcccode";
                      var paymode = "MRFinalizationList_" + ID + "__paymode";
                     //alert(Toacccode1)
                        if (checked) {

                           
                            $("#" + BankAcccode).attr("disabled", false);
                            $("#" + BankAcccode).addClass("required");
                            var StrURL = DomainName + "/Voucher/GetDeposited_InList?Type=" + $("#" + paymode).val();
                            FillDropDownfromOther(BankAcccode, StrURL, "Bank Account");

                        }
                        else {
                            var spans = $('.help-block');
                            spans.hide();
                            //alert('Hii')
                            $("#" + BankAcccode).attr("disabled", true);
                            $("#" + BankAcccode).removeClass("required");
                            $("#" + BankAcccode).val("");


                            var StrURL = DomainName + "/Voucher/GetDeposited_InList?Type=";
                            FillDropDownfromOther(BankAcccode, StrURL, "Bank Account");
                        }

                        chkChange();
                });

            }
        }
    }();
</script>