﻿@model FleetDataService.ViewModels.FinalizationModel
@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var text = "CNote ";
    if (Model.Type.ToUpper() == "BILL")
    {
        text = "Billing ";
    }
    if (Model.Type.ToUpper() == "MR")
    {
        text = "MR ";
    }
    
    ViewBag.Title = @text+ "Finalization Criteria";
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body ">
                @using (Html.BeginForm("DocketFinalizationCriteria", "Finance", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
                {
                    {
                        Html.RenderPartial("../UserControls/_FinalizationCriteria", Model);
                    }
                }
            </div>
        </div>
    </div>
</div>