﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var text = "CNote ";
    if (@ViewBag.Type.ToUpper() == "BILL")
    {
        text = "Bill ";
    }
    if (@ViewBag.Type.ToUpper() == "MR")
    {
        text = "MR ";
    }

    ViewBag.Title = @text + "Finalization";
 }

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>Following Details of Finalized @text
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                @if (@ViewBag.Type.ToUpper() == "DKT")
                {
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="vertical-align: middle;">
                                    Finalized @text
                                </th>
                                <th class="col-md-9" style="word-break: break-all;">
                                    @ViewBag.FinalizedDocket
                                </th>
                            </tr>
                            <tr>
                                <th style="vertical-align: middle;">
                                    Generated Bill No
                                </th>
                                <th class="col-md-9" style="word-break: break-all;">
                                    <a target="_blank" href="@Url.Action("BillViewPrint", "ViewPrint", new { BillNo = @ViewBag.Bill, Type = "1" })" class=" fa fa-print" id="ReportFrame"><b>&nbsp;@ViewBag.Bill</b></a>
                                </th>
                            </tr>
                        </thead>
                    </table>
                }
                @if (@ViewBag.Type.ToUpper() == "BILL")
                {
                    <table class="table table-bordered table-striped">
                        <thead>

                            <tr>
                                <th style="vertical-align: middle;">
                                    Finalized @text
                                </th>
                                <th class="col-md-9" style="word-break: break-all;">
                                    @ViewBag.FinalizedDocket
                                </th>
                            </tr>
                        </thead>
                    </table>
                }

                @if (@ViewBag.Type.ToUpper() == "MR")
                {
                    <table class="table table-bordered table-striped">
                        <thead>

                            <tr>
                                <th style="vertical-align: middle;">
                                    Finalized @text
                                </th>
                                <th class="col-md-9" style="word-break: break-all;">
                                    @ViewBag.Bill
                                </th>
                            </tr>
                        </thead>
                    </table>
                }

            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                <a href="@Url.Content("~/Finance/DocketFinalizationCriteria/" + @ViewBag.Type)" id="btnSubmit" style="text-decoration:none;">Click Here to Finalized More @text.</a>
            </span>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Events = function (DomainName) {
            $('#btnSubmit').on('click', function () {
                App.blockUI({ boxed: true });
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Events(DomainName);
            }
        }
    }();
</script>