﻿@{
    ViewBag.Title = "Freight Memo Payment Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var VoucherNo = ViewBag.VoucherNo;
}

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>Freight Memo Payment Voucher Generated Successfully
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                VoucherNo
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@VoucherNo</b>
                            </td>
                            <td>
                                <a href="@Url.Action("FreightMemoPaymentViewPrint", "ViewPrint", new { VoucherNo = @VoucherNo })" onclick="window.open(this.href, 'Fleet','left=20,top=20,width=1240,height=620,toolbar=1,resizable=0'); return false;"><b><i class="fa fa-print"></i>&nbsp;View || Print</b></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                Click on View || Print for View and Print .
            </span>
        </div>
    </div>
</div>
