﻿@model Fleet.ViewModels.IDTFreightMemoCriteria
@using FleetDataService.Models
@{
    ViewBag.Title = "Freight Memo Payment Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("IDTFreightMemoPayment", "Finance", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">

                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Select  Date :
                                    </label>
                                    <div class="col-md-6">
                                        <div id="reportrange" class="btn default">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                            @Html.HiddenFor(c => c.FromDate)
                                            @Html.HiddenFor(c => c.ToDate)


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Select Party
                                    </label>
                                    <div class="col-md-4">

                                        @Html.TextBoxFor(c => c.PartyCode, new { placeholder = "Select Billing Party", @class = "form-control required2 required" })
                                        @Html.HiddenFor(c => c.PartyCode)
                                        @Html.HiddenFor(c => c.PartyName)
                                        @Html.HiddenFor(c => c.Brcd)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Enter IDT Nos
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.FMNO, new { placeholder = " IDT No", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }


        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');

            $('#btnSubmit').on('click', function () {
                Formvalidate(DomainName);
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                Events(DomainName);

                GetPartyName("PartyCode");


            }
        }
    }();
</script>