﻿@model Fleet.ViewModels.IDTFreightMemoPaymentViewModel
@using FleetDataService.Models
@using Fleet.ViewModels
@using Fleet
@{
    ViewBag.Title = "IDTFreightMemoPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Party = Model.PartyName + ":" + Model.PartyCode;
    var Branch = Model.Brcd;
    Model.VoucherDate = System.DateTime.Now;
    objDate OD = new objDate();
    OD.ControlId = "VoucherDate";
    OD.ControlValue = Model.VoucherDate.ToString();
    OD.ModuleCode = "19";
}



<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>IDT Freight Memo Payment
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("SubmitIDTFreightMemoPayment", "Finance", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>

                <div id="divStep1">
                    <label class="control-label" id="errorMsgForContract" style="font-family:Verdana;font-weight:bold;color:red;display:none;">Cutomer Contract not found or May be Expire, Please contact you administrator for further detail.</label>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">IDT Number </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.VoucherNo, new { placeholder = "System Generated", @class = "required2 form-control", @readonly = "readonly" })
                                    @Html.HiddenFor(m => m.PartyCode)
                                    @Html.HiddenFor(m => m.Brcd)
                                    @Html.HiddenFor(m => m.PartyName)
                                    @Html.HiddenFor(m => m.EntryBy)


                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Date</label>
                                <div class="col-md-7">
                                    @{
            Html.RenderPartial("../UserControls/_DocumentDate", OD);
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Party Code & Name</label>
                                <div class="col-md-7">
                                    @Party
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Origin Location</label>
                                <div class="col-md-7">
                                    @Branch
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <h4 class="form-section">Freight Memo Details</h4>
                <div id="divStep4">


                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet-body flip-scroll">
                                <table id="container" class="table table-bordered table-striped table-condensed flip-content">
                                    <thead class="flip-content">
                                        <tr>
                                            <th class="center">Select</th>
                                            <th class="center">Freight Memo No</th>
                                            <th class="center">Freight Memo Date</th>
                                            <th class="center">Amount Payment</th>
                                            <th class="center">Deductions</th>
                                            <th class="center">Net Payable</th>

                                        </tr>
                                    </thead>
                                    <tbody id="Bodycontainer">
                                        @if (Model.FMDET != null)
                                        {
                                            if (Model.FMDET.Count() > 0)
                                            {
                                                foreach (var itm in Model.FMDET)
                                                {
                                                    Model.PartyName = itm.PartyName;
                                                    Html.RenderPartial("_FreightMemoPaymentDetail", itm);
                                                }
                                            }
                                        }
                                    </tbody>



                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div id="divStep5">
                    <h5 class="form-section">SUMMARY</h5>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Total Amount Payable (+)  </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.TotalAmtPayable, new { placeholder = "Total To Pay (+)", @class = "required2 clsAmount form-control required", @readonly = "true", @type = "number", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Total Deductions (-)  </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.TotalDeduction, new { placeholder = "Total Crossing (-)", @class = "required2 clsAmount form-control required", @readonly = "true", @type = "number", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Net Payable </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.TotalNetPayable, new { placeholder = "Total Other Charges (+)", @class = "required2 clsAmount form-control required", @readonly = "true", @type = "number", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="divCollectionDetails">
                    <h4 class="form-section">Collection Details</h4>
                    <p><b style="color: red;text-align:center;">Note : Please Enter the Payment Details if Net</b></p>
                    @{
                                        Model.CCP.ModuleType = "IDT";
                                        Html.RenderPartial("../UserControls/_PaymentControlFreightMemo", Model.CCP);
                    }
                </div>
                <div class="form-actions fluid">
                    <div class="col-md-offset-4 col-md-8">
                        <a class="btn btn-sm default controls" href="@Url.Action("FreightMemoPaymentCriteria", "Finance")"> <i class="fa fa-refresh"> </i>&nbsp;Reset</a>
                        <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                    </div>
                </div>
            </div>
        }


    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName, formId) {

            var form1 = $('#' + formId);
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            //START GST Changes Chirag D


            //END GST Changes Chirag D

            jQuery.validator.addMethod("FutureDateValidate", function (value, element) {

                var DKTDate = value;

                var date = $('#datepicker').datepicker('getDate');
                var now = new Date();
                var myDate = new Date(ChangeInJQDate(DKTDate));
                //alert("myDate " + new Date(myDateFormatter(DKTDate)) + " now " + now + " value  " + new Date(value));
                return this.optional(element) || new Date(myDateFormatter(DKTDate)) < now;

                // else alert('Das passt nicht!' + mD +  '   ' + nowdate);

            });

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input

                rules: {
                },
                messages: {


                },
                errorPlacement: function (error, element) {
                    error.insertAfter(element); // for other inputs, just perform default behavior

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    for (var i = 0; i < validator.errorList.length; i++) {

                    }
                    //validator.errorMap is an object mapping input names -> error messages
                    for (var i in validator.errorMap) {
                    }
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //  form1.submit();
                }
            });
        }

        var handleDatePicker1 = function () {
            //if (jQuery().datepicker) {
            $('.date-picker').datepicker({
                isRTL: App.isRTL(),
                format: "dd/mm/yyyy",
                autoclose: true,
                pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                todayBtn: true
            });
            $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            //}

            $('.ftdate-picker').datepicker({
                isRTL: App.isRTL(),
                format: "dd MM yyyy",
                autoclose: true,
                pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                startDate: new Date($("#WMD_DOCKDT").val()),
                todayBtn: true
            });
        }

        var select2Date = function (DomainName) {
            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }

        var SubmitClick = function (DomainName) {
            $('#btnSubmit').click(function () {

                var form = $('#form_sample');
                // alert("Hello");
                if (form.valid()) {

                    App.blockUI({ boxed: true });
                    $(".ftdate-picker input").prop('disabled', false);

                    document.forms["form_sample"].submit();
                }
            });
        }

     
        var NetPayableAmt = 0;
        var NetPayable_Calcultion = function (DomainName, id) {
            var AmountPaymentAmt = 0;
            var DeductionsAmt = 0;
            var AmtNetPayable = 0;
            var AmountPayment = 0;

            if ($('#IDTList_' + id + '__IsChecked').val() == "true") {
                NetPayableAmt = parseFloat($('#IDTList_' + id + '__NetPayable').val()) - parseFloat($('#IDTList_' + id + '__Deductions').val());
                $('#IDTList_' + id + '__FinalNetPayable').val(NetPayableAmt)
            }

            $(".clsDeductions").each(function () {
                var AMTId = $(this).attr('id');
                var id = AMTId.replace("IDTList_", "").replace("__Deductions", "");
                DeductionsAmt = parseFloat(DeductionsAmt) + parseFloat($(this).val());
                $('#TotalDeduction').val(parseFloat(DeductionsAmt));
                $('#TotalNetPayable').val(parseFloat($('#IDTList_' + id + '__FinalNetPayable').val()));
            });

            $(".clsFinalNetPayable").each(function () {
                AmtNetPayable = parseFloat(AmtNetPayable) + parseFloat($(this).val());
                $('#TotalNetPayable').val(parseFloat(AmtNetPayable));
            });

            $(".clsNetPayable").each(function () {
                var id1 = $(this).attr('id').replace("__NetPayable", "__IsChecked");
                if (jQuery('#' + id1).is(":checked")) {
                    AmountPayment = parseFloat(AmountPayment) + parseFloat($(this).val());
                }
                $('#TotalAmtPayable').val(AmountPayment);
            });

            $("#PayAmount").val($('#TotalNetPayable').val());

        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName, "form_sample");
                //Formvalidate(DomainName, 'form_sample1');
                select2Date(DomainName);
                handleDatePicker1(DomainName);
                SubmitClick(DomainName);
                PaymentControl(DomainName)
                
                $('#btnSubmit').hide();
                $('.chkCheck').live('click', function () {
                    var chkId = $(this).attr('id');
                    var id = chkId.replace("IDTList_", "").replace("__IsChecked", "");

                    if (this.checked) {
                        $(this).val("true");
                        $('#IDTList_' + id + '__Deductions').attr("readonly", false);
                        //$('#IDTList_' + id + '__Deductions').attr("max", $('#IDTList_' + id + '__NetPayable').val());
                        NetPayable_Calcultion(DomainName, id)
                    }
                    else {
                        $(this).val("false");
                        $('#IDTList_' + id + '__Deductions').attr("readonly", true);
                        $('#IDTList_' + id + '__Deductions').val(0);
                        //$('#IDTList_' + id + '__FinalNetPayable').val(0)
                        NetPayable_Calcultion(DomainName, id)
                    }
                    var count = 0;
                    $('.chkCheck').each(function () {
                        if (this.checked) {
                            $("#chkCheckAll").parent('span').removeClass('checked');
                            count = count + 1;
                        }
                    })
                    if (count == 0) {
                        $('#btnSubmit').hide();
                    }
                    else {
                        $('#btnSubmit').show();
                    }
                });

                $(".clsDeductions").live('change', function () {
                    var AMTId = $(this).attr('id');
                    var id = AMTId.replace("IDTList_", "").replace("__Deductions", "");
                    NetPayable_Calcultion(DomainName, id)
                });


            }
        }
    }();
</script>
