﻿@model Fleet.ViewModels.IDTFreightMemoCriteria
@{
    ViewBag.Title = "IDT Freight Memo View Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("RetrivejobOrderList", "Finance", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-10">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i> @ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Select  Date :
                                    </label>
                                    <div class="col-md-4">
                                        <div id="reportrange" class="btn default">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                        </div>
                                        @Html.HiddenFor(c => c.FromDate)
                                        @Html.HiddenFor(c => c.ToDate)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                    </label>
                                    <div class="col-md-4">
                                        <b>OR</b>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Enter IDT Freight Memo No.:
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.FMNO, new { placeholder = " FM No.", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="button" id="btnSubmit" class="btn btn-sm blue controls ClsbtnSave"><i class="fa fa-search"></i>&nbsp;Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row FMList">
        <div class="col-md-10">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;FM List
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <table class="table table-striped table-bordered table-hover" id="FMList" style="overflow-x: scroll;">
                            <thead>
                                <tr></tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>

    function GetHeaders(obj) {
        var cols = new Array();
        var count = false;
        for (var key in obj) {
            cols.push({
                data: key,
                title: key
            });
        }
        return cols;
    }

    var FormComponents = function (DomainName) {

        var loadData = function (DomainName, tblId, Type) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Finance/GetFreightMemoViewList';
            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: 'json',
                data: $('#form_sample').serialize(),
                success: function (result) {
                    $('#' + tblId).DataTable({
                        data: result,
                        paging: false,
                        "searching": false,
                        columns: GetHeaders(result[0]),
                        destroy: true,
                        "aoColumnDefs": [
                              {
                                  "aTargets": [4],
                                  "mRender": function (data, type, full) {
                                      return '<a href="../ViewPrint/IDTFreightMemoViewPrint?FMNO=' + data + '" class="btn btn-xs default blue-stripe" onclick="window.open(this.href, \'\Fleet\'\,\'\left=20,top=20,width=900,height=620,toolbar=1,resizable=0\'\); return false;" id="ReportFrame"><b><i class="fa fa-print"></i>&nbsp;View/Print</b></a>';
                                  }
                              }
                        ],
                    });
                    initTableById(tblId);
                    $('#' + tblId).parents('.row').show(500);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }
        var Events = function (DomainName) {

            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');

            $('#btnSubmit').on('click', function () {
                FormValidate(DomainName);
                var Type = $("#Type").val();
                if ($('#form_sample').valid()) {
                    $(".FMList").show();
                    loadData(DomainName, 'FMList', Type);
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                $(".FMList").hide();
                Events(DomainName);
            }
        }
    }();
</script>
