﻿@model Fleet.ViewModels.IDTFreightMemoViewModel
@using FleetDataService.Models
@using Fleet.ViewModels
@using Fleet
@{
    ViewBag.Title = "IDTFreightMemo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Party = Model.PartyName + ":" + Model.PartyCode;
    var Branch = Model.Brcd;
    Model.FMDATE = System.DateTime.Now.ToString();
    objDate OD = new objDate();
    OD.ControlId = "FMDATE";
    OD.ControlValue = Model.FMDATE.ToString();
    OD.ModuleCode = "01";
}



<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>IDT Freight Memo
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("IDTFreightMemoSubmit", "Finance", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>

                <div id="divStep1">
                    <label class="control-label" id="errorMsgForContract" style="font-family:Verdana;font-weight:bold;color:red;display:none;">Cutomer Contract not found or May be Expire, Please contact you administrator for further detail.</label>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">IDT Number </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.FMNO, new { placeholder = "System Generated", @class = "required2 form-control", @readonly = "readonly" })
                                    @Html.HiddenFor(m => m.PartyCode)
                                    @Html.HiddenFor(m => m.PartyName)
                                    @Html.HiddenFor(m => m.EntryBy)


                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Date</label>
                                <div class="col-md-7">
                                    @{
            Html.RenderPartial("../UserControls/_DocumentDate", OD);
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Party Code & Name</label>
                                <div class="col-md-7">
                                    @Party
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Origin Location</label>
                                <div class="col-md-7">
                                    @Branch
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <h4 class="form-section">IDT Details</h4>
                <div id="divStep4">


                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet-body flip-scroll">
                                <table id="container" class="table table-bordered table-striped table-condensed flip-content">
                                    <thead class="flip-content">
                                        <tr>
                                            <th class="center">Select</th>
                                            <th class="center">IDT No</th>
                                            <th class="center">Customer Ref. No.</th>
                                            <th class="center">To City</th>
                                            <th class="center">Charged Weight</th>
                                            <th class="center">No. of. Pkgs</th>
                                            <th class="center">Payment Basis</th>
                                            <th class="center">Freight Amount</th>
                                            <th class="center">Contract Rate</th>
                                            <th class="center">Rate Type</th>
                                            <th class="center">Crossing Amount (-)</th>
                                            <th class="center">Other Charges(-)</th>
                                        </tr>
                                    </thead>
                                    <tbody id="Bodycontainer">
                                        @if (Model.IDTDET != null)
                                        {
                                            if (Model.IDTDET.Count() > 0)
                                            {
                                                foreach (var itm in Model.IDTDET)
                                                {
                                                    Html.RenderPartial("_IDTFreightMemoDetail", itm);
                                                }
                                            }
                                        }
                                    </tbody>



                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div id="divStep5">
                    <h5 class="form-section">SUMMARY</h5>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Total To Pay (+) </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.TotalToPay, new { placeholder = "Total To Pay (+)", @class = "required2 clsAmount form-control required", @readonly = "true", @type = "number", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Total Crossing (-) </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.TotalCrossing, new { placeholder = "Total Crossing (-)", @class = "required2 clsAmount form-control required", @readonly = "true", @type = "number", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Total Other Charges (+)</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.TotalOther, new { placeholder = "Total Other Charges (+)", @class = "required2 clsAmount form-control required", @readonly = "true", @type = "number", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5"><b>Balance</b></label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.NetPayable, new { placeholder = "Balance", @class = "required2 form-control clsAmount required", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-actions fluid">
                    <div class="col-md-offset-4 col-md-8">
                        <a class="btn btn-sm default controls" href="@Url.Action("IDTFreightMemoCriteria", "Finance")"> <i class="fa fa-refresh"> </i>&nbsp;Reset</a>
                        <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                    </div>
                </div>
            </div>
        }


    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName, formId) {

            var form1 = $('#' + formId);
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            //START GST Changes Chirag D



            //END GST Changes Chirag D

            jQuery.validator.addMethod("FutureDateValidate", function (value, element) {

                var DKTDate = value;

                var date = $('#datepicker').datepicker('getDate');
                var now = new Date();
                var myDate = new Date(ChangeInJQDate(DKTDate));
                //alert("myDate " + new Date(myDateFormatter(DKTDate)) + " now " + now + " value  " + new Date(value));
                return this.optional(element) || new Date(myDateFormatter(DKTDate)) < now;

                // else alert('Das passt nicht!' + mD +  '   ' + nowdate);

            });

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input

                rules: {
                },
                messages: {


                },
                errorPlacement: function (error, element) {
                    error.insertAfter(element); // for other inputs, just perform default behavior

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    for (var i = 0; i < validator.errorList.length; i++) {

                    }
                    //validator.errorMap is an object mapping input names -> error messages
                    for (var i in validator.errorMap) {
                    }
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //  form1.submit();
                }
            });
        }

        var handleDatePicker1 = function () {
            //if (jQuery().datepicker) {
            $('.date-picker').datepicker({
                isRTL: App.isRTL(),
                format: "dd/mm/yyyy",
                autoclose: true,
                pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                todayBtn: true
            });
            $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            //}

            $('.ftdate-picker').datepicker({
                isRTL: App.isRTL(),
                format: "dd MM yyyy",
                autoclose: true,
                pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                startDate: new Date($("#WMD_DOCKDT").val()),
                todayBtn: true
            });
        }

        var select2Date = function (DomainName) {
            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }





        var SubmitClick = function (DomainName) {
            $('#btnSubmit').click(function () {

                var form = $('#form_sample');
                // alert("Hello");
                if (form.valid()) {

                    App.blockUI({ boxed: true });
                    $(".ftdate-picker input").prop('disabled', false);

                    document.forms["form_sample"].submit();
                }
            });
        }

        var CheckDocketTotalAmount = function (DomainName, id) {

            // $('.chkCheck').each(function () {
            //var CheckId = id;
            //var checked = $("#" + id).is(":checked");

            var TotalToPayAmount = 0.00;
            var TotalCrossingAmount = 0.00;
            var TotalOthergAmount = 0.00;
            var CrossingAmount = 0.00;
            var BalanceAmount = 0.00;

            $('.chkCheck').each(function () {
                var CHARGEDWEIGHTId = $(this).attr('id').replace("IsChecked", "CHARGEDWEIGHT")
                var CROSSINGCHRGId = $(this).attr('id').replace("IsChecked", "CROSSINGCHRG")
                var RATETYPEId = $(this).attr('id').replace("IsChecked", "RATETYPE")
                var CUSTRATEId = $(this).attr('id').replace("IsChecked", "CUSTRATE")
                var PKGSId = $(this).attr('id').replace("IsChecked", "PKGS")
                var PAYBASId = $(this).attr('id').replace("IsChecked", "PAYBAS")
                var RATETYPE = $("#" + RATETYPEId).val();
                var CUSTRATE = $("#" + CUSTRATEId).val();
                var PKGS = $("#" + PKGSId).val();
                var PAYBAS = $("#" + PAYBASId).val();
                var CHARGEDWEIGHT = $("#" + CHARGEDWEIGHTId).val();
                var OTHERCHRGId1 = $(this).attr('id').replace("IsChecked", "OTHERCHRG")
                var FREIGHTId1 = $(this).attr('id').replace("IsChecked", "FREIGHT")
                if ($(this).is(":checked")) {

                    $("#" + RATETYPEId).addClass("required")

                    // alert(RATETYPE);
                    if (RATETYPE == "P") {

                        CrossingAmount = parseFloat(PKGS) * parseFloat(CUSTRATE)

                    }
                    else if (RATETYPE == "W") {
                        CrossingAmount = parseFloat(CHARGEDWEIGHT) * parseFloat(CUSTRATE)
                    }
                    else if (RATETYPE == "T") {
                        CrossingAmount = parseFloat(CUSTRATE) * (parseFloat(CHARGEDWEIGHT) / 1000)
                    }
                    else {
                        CrossingAmount = 0.00;
                    }
                    $("#" + CROSSINGCHRGId).val(parseFloat(CrossingAmount.toFixed(2)));

                    TotalCrossingAmount = parseFloat(TotalCrossingAmount) + parseFloat($("#" + CROSSINGCHRGId).val());
                    TotalOthergAmount = parseFloat(TotalOthergAmount) + parseFloat($("#" + OTHERCHRGId1).val());
                    if (PAYBAS == "P03") {
                        TotalToPayAmount = parseFloat(TotalToPayAmount) + parseFloat($("#" + FREIGHTId1).val());
                    } else {
                        TotalToPayAmount = parseFloat(TotalToPayAmount) + parseFloat(0.00);
                    }
                    
                    BalanceAmount = parseFloat(TotalToPayAmount) - parseFloat(TotalCrossingAmount) - parseFloat(TotalOthergAmount)
                }
                else {
                    $("#" + CROSSINGCHRGId).val("0");
                    $("#" + OTHERCHRGId1).val("0");
                    $("#" + RATETYPEId).select2("data", null);
                    $("#" + RATETYPEId).removeClass("required")
                }
            });

            console.log("TotalOthergAmount" + TotalOthergAmount)
            $("#TotalToPay").val(TotalToPayAmount);
            $("#TotalCrossing").val(TotalCrossingAmount);
            $("#TotalOther").val(TotalOthergAmount);
            $("#NetPayable").val(BalanceAmount);


            // });

        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName, "form_sample");
                //Formvalidate(DomainName, 'form_sample1');
                select2Date(DomainName);
                handleDatePicker1(DomainName);
                SubmitClick(DomainName);
                //CheckDocketTotalAmount(DomainName);

                ControlDate();
                $('.chkCheck').live("click", function () {
                    CheckDocketTotalAmount(DomainName, $(this).attr("id"));

                });
                $('.RateTypeChange').change(function () {
                    //alert('Aaa');
                    CheckDocketTotalAmount(DomainName, $(this).attr("id"));
                });

                $('.clsAmount').change(function () {
                    //alert('Aaa');
                    CheckDocketTotalAmount(DomainName, $(this).attr("id"));
                });
                

            }
        }
    }();
</script>
