﻿@model Fleet.ViewModels.CustomerContractViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "MainContarctEditList";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.ContractService CS = new FleetDataService.ContractService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
}
@using (Html.BeginForm("AddServiceSelection", "Finance", FormMethod.Post, new { id = "form_sampleservice", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(c => c.CustomerContract.ContractId)
    @Html.HiddenFor(c => c.CustomerContract.Custcode)
    @Html.HiddenFor(c => c.CustomerContract.Contract_Type)
    <div class="row">
        <div class="col-md-12" id="divMatrix">
            <div class="col-md-12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i>Service Selection   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Customer Code & Name	:<b> @ViewBag.CustCode </b>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table id="sample_1" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-1">SL No.</th>
                                    <th class="col-md-3">Vehicle Type</th>
                                    <th class="col-md-5">Select Route</th>
                                    <th class="col-md-3">Standard KM</th>
                                    <th class="col-md-3">Duration</th>
                                    <th class="col-md-3">Pickup/Drop</th>
                                    <th class="col-md-1">Deployment St. Time</th>
                                    <th class="col-md-1">Deployment End Time</th>
                                    <th class="col-md-1"> Outstation Charge</th>
                                    <th class="col-md-1">Non Working Charge</th>
                                    <th class="col-md-1">Vehicle Category</th>
                                    <th>X</th>
                                </tr>
                            </thead>
                            <tbody id="tblsubitemcarrier">
                                @foreach (var item in Model.ContractPepoleList)
                                {
                                    Html.RenderPartial("_PartialPepole", item);
                                }
                            </tbody>
                        </table>
                        <br />
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-9">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="btnAddPepole" class="btn blue pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="form-actions fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-offset-3 col-md-9">
                    <button type="button" id="btnSubmitservice" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Save & Continue</button>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName, formName) {
            var form1 = $('#form_sampleservice');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form1) {
                    success1.show();
                    error1.hide();
                }

            });
        }

        var SaveFunction = function (DomainName) {
            $("#btnSubmitservice").live('click', function (e) {

                var form = $('#form_sampleservice');
                if (form.valid() == false) {
                    return false;
                }
                App.blockUI({ boxed: true });
                document.forms["form_sampleservice"].submit();                
            });
        }
        var AddQuestions = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Finance/Addpepole?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#tblsubitemcarrier").append(html);
                    $(".drpcls_" + itemIndex).select2({
                        placeholder: "Select an option",
                    });
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }

        return {
            init: function (DomainName) {
                Formvalidate(DomainName, "form_sampleservice")
                SaveFunction(DomainName)
                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });
                $("#btnAddPepole").live('click', function () {
                    var itemIndex = $("#sample_1 input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddQuestions(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });
            }
        }
    }();
</script>

