﻿@model Fleet.ViewModels.CustomerContractViewModel
@using FleetDataService.Models
@using Fleet

@{
    ViewBag.Title = "MainContract";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> GetContractTypeList = new List<Webx_Master_General>();
    GetContractTypeList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "CNTYP" && c.StatusCode == "Y").ToList();
}

@using (Html.BeginForm("GetContractDetail", "Finance", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>&nbsp;Secondary Contract Master
                    </div>
                    <div class="actions" id="addcontract" style="display:block;">
                        <div class="btn-group" style="margin-top: -4px !important">
                            <a class="btn default" id="btnNewAddcontract" href="javascript://">
                                Add New Contract <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portlet-body" id="divCrieteria">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Select Customer :
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.CustomerContract.ContractId, new { placeholder = "Select Customer Contract", @class = "form-control required2 required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Select Contract Type :
                                        </label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(m => m.CustomerContract.Contract_Type, new SelectList(GetContractTypeList, "CodeId", "CodeDesc"), new { @class = "select2 drp form-control required2 required", placeholder = "Select Contract Type" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 NorecordFound" style="margin-top: 8px;display:none;">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">

                                        </label>
                                        <div class="col-md-6">
                                            <label style="color:red">
                                                No Contarct Found.... You Can Add New Contract
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="row" id="divContractList" style="display:none">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;Detail Of Coustomer Contract
                    </div>

                </div>
                <div class="portlet-body">
                    <input type="hidden" id="hdnCustcode" />
                    <label class="text-primary" id="lblname"><b></b></label>
                    <table class="table table-striped table-bordered table-hover" id="tblContractList" style="overflow-x: scroll;">
                        <thead>
                            <tr>
                                <td><b>Contract ID</b></td>
                                <td><b>Customer Code</b></td>
                                <td><b>Contract Type</b></td>
                                <td><b>Status </b></td>

                                <td><b>Action</b></td>
                                <td><b>View</b></td>
                                <td><b>Edit</b></td>
                            </tr>
                        </thead>
                        <tbody id="tblcontractlist">

                            @{
    Html.RenderPartial("_Pepole_CustContract", Model.ListCustContract.ToList());
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Get Coustomer Contract Detail</button>
        </div>
    </div>
    <div id="myModaldelete" style="display:none;">
        <div class="row">
            <div class="col-md-12">
                <p style="margin-top: -13px;" id="dymsg"></p>
            </div>
        </div>
    </div>
}
<script>

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    App.blockUI({ boxed: true });
                    success1.show();
                    error1.hide();
                }
            });
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName)

                $("#Dactive").live('click', function () {
                    var ContractID = $(this).closest('tr').children('td:first').text();
                    $("#dymsg").text('Are You sure you want to DeActivate Contract ?  ')
                    bootbox.dialog({
                        theme: "metro",
                        message: $("#myModaldelete").html(),
                        title: "Contract Confirmation",
                        className: "modal-darkorange",
                        buttons: {
                            success: {
                                label: "Close",
                                className: "btn-default",
                                callback: function () {
                                }
                            },
                            "Ok": {
                                className: "btn btn-default",
                                callback: function () {
                                    var strurl = DomainName + '/Finance/Changestatus?ContractID=' + $("#CustomerContract_contractname").val() + '&Type=' + "N" + '&ConType=' + $("#CustomerContract_Contract_Type").val() + '&Flag=' + "M"
                                    $.ajax({
                                        url: strurl,
                                        cache: false,
                                        data: {},
                                        type: 'POST',
                                        success: function (data) {
                                            $("#tblcontractlist").html(data)
                                            App.unblockUI();
                                        },
                                        error: function (req, status, error) {
                                            TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                                            App.unblockUI();
                                        }
                                    });
                                }
                            }
                        }

                    });
                });
                $("#Active").live('click', function () {
                    var ContractID = $(this).closest('tr').children('td:first').text();
                    $("#dymsg").text('Are You sure you want to Active Contract ?  ')
                    bootbox.dialog({
                        theme: "metro",
                        message: $("#myModaldelete").html(),
                        title: "Contract Confirmation",
                        className: "modal-darkorange",
                        buttons: {
                            success: {
                                label: "Close",
                                className: "btn-default",
                                callback: function () {
                                }
                            },
                            "Ok": {
                                className: "btn btn-default",
                                callback: function () {
                                    var strurl = DomainName + '/Finance/Changestatus?ContractID=' + ContractID + '&Type=' + "Y" + '&ConType=' + $("#CustomerContract_Contract_Type").val() + '&CustCode=' + $("#CustomerContract_ContractId").val() + '&Flag=' + "M"
                                    $.ajax({
                                        url: strurl,
                                        cache: false,
                                        data: {},
                                        type: 'POST',
                                        success: function (data) {
                                            alert(data)
                                            $("#tblcontractlist").html(data)
                                            App.unblockUI();
                                        },
                                        error: function (req, status, error) {
                                            TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                                            App.unblockUI();
                                        }
                                    });
                                }
                            }
                        }

                    });
                });
                $("#btnSubmit").live('click', function (e) {
                    App.blockUI({ boxed: true });
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return false;
                    }
                    if (e.handled !== true) {
                        e.handled = true;
                        $("#CustomerContract_Contract_Type").attr('disabled', true)
                        $("#CustomerContract_ContractId").attr('disabled', true)
                        App.blockUI({ boxed: true });
                        var strurl = DomainName + '/Finance/GetContractDetail?custcode=' + $("#CustomerContract_ContractId").val() + '&Type=' + $("#CustomerContract_Contract_Type").val()
                        $.ajax({
                            url: strurl,
                            cache: false,
                            data: {},
                            type: 'POST',
                            success: function (data) {
                                $("#tblcontractlist").html(data)
                                $("#divContractList").show();
                                App.unblockUI();
                            },
                            error: function (req, status, error) {
                                TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                                App.unblockUI();
                            }
                        });

                    }
                });
                $(".drp").select2({
                    placeholder: "Select an option",
                });
                $("#btnNewAddcontract").live('click', function () {
                    window.location.href = DomainName + "/Finance/NewContract?CustCode=" + $("#CustomerContract_ContractId").val() + "&ContractID=" + "" + "&ContractType=" + $("#CustomerContract_Contract_Type").val() + "&Flag=" + "M"
                });
                var url = DomainName + '/Contract/Getwebx_CUSTHDR'
                JsonDDLSelectCode("CustomerContract_ContractId", url);
            }
        }
    }();
</script>