﻿@{
    ViewBag.Title = "SecondryContractDone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>Select Step
            </div>
        </div>
        <input type="hidden" value="@ViewBag.contarctCode" id="idContarctID" />
        <input type="hidden" value="@ViewBag.CustCode" id="idCustCode" />
        <input type="hidden" value="@ViewBag.Type" id="idCustType" />
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">

                <label>ContractID</label> :<label style="color: #ff4500"> <b>@ViewBag.contarctCode</b></label>
                <br />

                <label>Customer Code & Name	: </label> <label><b>@ViewBag.Name</b></label>

                <table class="table table-bordered table-striped">

                    <tbody>
                        <tr>
                            <td>
                                <label class="radio-inline">
                                    @Html.RadioButton("rdoselect", "contract", new { @class = "form-control" })
                                </label>
                            </td>
                            <td>
                                <b> Contract Basic Information</b>
                            </td>
                        </tr>
                        <tr>
                            @if (ViewBag.Flag == "S")
                            {
                                <td>
                                    <label class="radio-inline">
                                        @Html.RadioButton("rdoselect", "Service", new { @class = "form-control" })
                                    </label>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <label class="radio-inline">
                                        @Html.RadioButton("rdoselect", "MainService", new { @class = "form-control" })
                                    </label>
                                </td>
                            }
                            <td>
                                <b> Service Selection</b>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var FormComponents = function (DomainName) {

        return {
            init: function (DomainName) {
                $('input[id^="rdoselect"]').live('change', function (e) {
                    if ($(this).val() == "contract") {
                        window.location.href = DomainName + "/Finance/ContractBasicInformation?CustCode=" + $("#idCustCode").val() + "&ContractID=" + $("#idContarctID").val() + "&ContractType=" + $("#idCustType").val()
                    }
                    else if ($(this).val() == "Service") {
                        window.location.href = DomainName + "/Finance/SecondryContractEditList?CustCode=" + $("#idCustCode").val() + "&ContractID=" + $("#idContarctID").val() + "&ContractType=" + ""
                    }
                    else {
                        window.location.href = DomainName + "/Finance/MainContarctEditList?CustCode=" + $("#idCustCode").val() + "&ContractID=" + $("#idContarctID").val() + "&ContractType=" + $("#idCustType").val();

                    }
                });
            }
        }
    }();
</script>