﻿@{
    ViewBag.Title = "Octroi Bill Generation Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var PartyType = new List<SelectListItem> {
        new SelectListItem { Text =  "Billing Party", Value = "BILL" },
        new SelectListItem { Text =  "Consignor", Value = "CSGN" },
        new SelectListItem { Text =  "Consignee", Value = "CSGE" },
    };

    Model.IsOctroiBill = true;
}

@model FleetDataService.ViewModels.BillingQueryModel
<div class="row">
    <div class="col-md-8">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("BillGeneration", "Finance", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
                {
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            You have some form errors. Please check below.
                        </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Your form validation is successful!
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Select Party Type
                            </label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(m => m.PartyType, new SelectList(PartyType, "Value", "Text", Model.PartyType), "", new { @class = "select2 required2 required form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Select  Party
                            </label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.BillingParty, new { placeholder = "Party", @class = "required2 form-control required" })
                                @Html.HiddenFor(m => m.IsOctroiBill)
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-12">
                                <button type="button" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-search"></i>&nbsp;Submit</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {

                },
                messages: {

                    //'ServiceFor': {
                    //    required: "Please select at least one service for option",
                    //    minlength: jQuery.format("Please Select at Least One Service For Option")
                    //}
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    //if (element.parents('.checkbox-list').size() > 0) {
                    //    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    //} else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                    //}
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //  form1.submit();
                }
            });
        }

        var handleSelect2 = function () {
            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                handleSelect2();

                $("#PartyType").select2("data", { id: "CSGN", text: "Consignor" });

                GetPartyNameCode_Octroi("BillingParty", "", "");

                $('#btnSubmit').click(function () {

                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        return false;
                    }

                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                });
            }
        };
    }();

</script>
