﻿@model Fleet.ViewModels.CustomerContractViewModel
@using FleetDataService.Models
@using Fleet.Helpers

@{
    ViewBag.Title = "SecondryContractEditNext";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.FinanceService FS = new FleetDataService.FinanceService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    var CategoryList = new List<SelectListItem> {
    new SelectListItem { Text = "NON AC", Value = "2" },
    new SelectListItem { Text = "FREEZER", Value = "3" },
    new SelectListItem { Text = "AC", Value = "1" },
    new SelectListItem { Text = "EMPTY", Value = "4" },
    };

    List<Webx_Master_General> ListHourlyBased = new List<Webx_Master_General>();
    ListHourlyBased = FS.GetHourly_BasedList(Model.CustomerContract.ContractId).ToList();

    List<webx_location> locationList = MS.GetLocationDetails().Where(c => c.ActiveFlag == "Y").OrderBy(c => c.LocName).ToList();

    List<webx_Vehicle_Type> ListVehicleType = new List<webx_Vehicle_Type>();
    ListVehicleType = MS.GetVehicleTypeDetails().ToList();
}
@using (Html.BeginForm("AddSecondryNext", "Finance", FormMethod.Post, new { id = "form_Financeservice", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(c => c.CustomerContract.ContractId)
    @Html.HiddenFor(c => c.CustomerContract.Custcode)

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>&nbsp;Secondary Contract
                    </div>

                </div>
                
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">                            
                            <div class="col-md-12 thumbnail divhide">
                                <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                                    <li><strong>Fill Contract Detail</strong></li>
                                </ul>
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Contract based On:</label>
                                            <div class="col-md-6" style="margin-top: 4px;">
                                                <b>@Html.DisplayFor(m => m.SecondryConthdr.Contract_Based_On)</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">AC Status :</label>
                                            <div class="col-md-8" style="margin-top: 4px;">
                                                <b> @Html.DisplayFor(m => m.SecondryConthdr.AC)</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Rate based On :</label>
                                            <div class="col-md-6" style="margin-top: 4px;">
                                                <b>  @Html.DisplayFor(m => m.SecondryConthdr.Rate_Based_On)</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Rate Type :</label>
                                            <div class="col-md-8" style="margin-top: 4px;">
                                                <b>  @Html.DisplayFor(m => m.SecondryConthdr.Rate_Type)</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Fixed cost rate :</label>
                                            <div class="col-md-6" style="margin-top: 4px;">
                                                <b>  @Html.DisplayFor(m => m.SecondryConthdr.Fixed_Cost_Rate_Based_On)</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Variable Cost Rate :</label>
                                            <div class="col-md-6" style="margin-top: 4px;">
                                                <b>@Html.DisplayFor(m => m.SecondryConthdr.Variable_Cost_Rate_Based_On)</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Standard Charge :</label>
                                            <div class="col-md-6" style="margin-top: 4px;">
                                                <b>@Html.DisplayFor(m => m.SecondryConthdr.Standard_Charge_Applicable)</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12">
                                <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                                    <li><strong>List Contract Detail</strong></li>
                                </ul>
                                <table id="sample_1" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="col-md-1">Id</th>
                                            <th class="col-md-2">Location</th>
                                            <th class="col-md-2">FTL Type</th>
                                            <th class="col-md-2">Category</th>
                                            <th class="col-md-2">Houly Based Slot</th>
                                            <th class="col-md-1">Fixed Cost</th>
                                            <th class="col-md-3">Variable Cost</th>
                                            <th>X</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblSecondryContract">
                                        @foreach (var item in Model.ListSecondryContract)
                                        {
                                            Html.RenderPartial("_Partial_Detail_Contract_Obj", item);
                                        }
                                    </tbody>
                                </table>
                                <br />
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" id="btnAddContractdetail" class="btn blue pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
        </div>
    </div>
}
<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_Financeservice');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form1) {
                    success1.show();
                    error1.hide();
                }

            });
        }

        var SaveFunction = function (DomainName) {
            $("#btnSubmit").live('click', function (e) {
                var form = $('#form_Financeservice');
                if (form.valid() == false) {
                    return false;
                }
                App.blockUI({ boxed: true });
                document.forms["form_Financeservice"].submit();
            });
        }

        var AddQuestion = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Finance/AddContracthdrdetail?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#tblSecondryContract").append(html);
                    $(".drpcls_" + itemIndex).select2({
                        placeholder: "Select an option",
                    });
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }
        return {
            init: function (DomainName) {
                Formvalidate(DomainName)
                SaveFunction(DomainName)
                $(".drp").select2({
                    placeholder: "Select an option",
                });
                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });

                $("#btnAddContractdetail").live('click', function () {
                    var itemIndex = $("#sample_1 input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddQuestion(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });

            }
        }
    }();
</script>