﻿@model Fleet.ViewModels.CustomerContractViewModel
@using FleetDataService.Models
@using Fleet
@{
    ViewBag.Title = "SecondryContractEditList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<label>Customer Code & Name	:<b> @ViewBag.CustCode </b></label>
@using (Html.BeginForm("AddFinanceContract", "Finance", FormMethod.Post, new { id = "form_Financesampleservice", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(c => c.CustomerContract.ContractId)
    @Html.HiddenFor(c => c.CustomerContract.Custcode)

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>&nbsp;Secondary Contract
                    </div>

                </div>
                <div class="portlet-body" id="divCrieteria">
                    <div class="form-body">
                        <div class="row divhide">
                            <div class="col-md-6">
                                <div class="col-md-12 thumbnail">
                                    <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                                        <li><strong>Customer</strong></li>
                                    </ul>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Select Customer :</label>
                                            <div class="col-md-6 form-group">
                                                @Html.TextBoxFor(m => m.SecondryConthdr.Customer_Code, new { placeholder = "Select Customer", @class = "form-control required required2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-12 thumbnail">
                                    <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                                        <li><strong>Contract Date Range:</strong></li>
                                    </ul>
                                    <div class="col-md-12">
                                        <div class="row col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="control-label col-md-4">
                                                        From Date
                                                    </label>
                                                    <div class="input-group date date-picker input-small" data-date-start-date="+1d">
                                                        @Html.TextBox("Contract_From_Dt", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = " form-control date-picker", @readonly = true })
                                                        <span class="input-group-btn">
                                                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="control-label col-md-4">
                                                        To Date
                                                    </label>
                                                    <div class="input-group date date-picker input-small" data-date-start-date="+1d">
                                                        @Html.TextBox("Contract_To_Dt", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = " form-control date-picker", @readonly = true })
                                                        <span class="input-group-btn">
                                                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 thumbnail divhide">
                            <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                                <li><strong>Service Definition</strong></li>
                            </ul>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Contract based On:</label>
                                        <div class="col-md-8">
                                            <label class="radio-inline" style="margin-top:-6px;">
                                                @Html.RadioButtonFor(m => m.SecondryConthdr.Contract_Based_On, "FTL", new { @class = "form-control" }) FTL Type
                                            </label>
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(m => m.SecondryConthdr.Contract_Based_On, "Vehicle", new { @class = "form-control" }) Vehicle Number
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Rate based On:</label>
                                        <div class="col-md-8 form-group">
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(m => m.SecondryConthdr.Rate_Based_On, "Hourly", new { @class = "form-control" }) Hourly Based
                                            </label>
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(m => m.SecondryConthdr.Rate_Based_On, "Fixed", new { @class = "form-control" }) Fixed
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6"></div>
                                <div class="col-md-6" id="divRastBaseon" style="display:none">
                                    <div class="portlet box blue">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-list"></i><label id="lblrisk"> Rate Based On:</label>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <table id="sample_2" class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="col-md-1">Id</th>
                                                        <th class="col-md-5">Hourly Based</th>
                                                        <th class="col-md-5">Extra Rs. Per Hours</th>
                                                        <th>X</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblSecondry">
                                                    @foreach (var item in Model.ListSecondryContract)
                                                    {
                                                        Html.RenderPartial("_Partial_RateBase_On", item);
                                                    }
                                                </tbody>
                                            </table>
                                            <br />
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="col-md-9">
                                                    </div>
                                                    <div class="col-md-3">
                                                        <button type="button" id="btnRate" class="btn blue pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">AC Status:</label>
                                        <div class="col-md-6 form-group">
                                            <label class="radio-inline">
                                                @Html.CheckBoxFor(m => m.SecondryConthdr.AC1) AC
                                                @Html.CheckBoxFor(m => m.SecondryConthdr.Non_AC1) NON AC
                                                @Html.CheckBoxFor(m => m.SecondryConthdr.FREEZER1) FREEZER
                                                @Html.CheckBoxFor(m => m.SecondryConthdr.Empty1) EMPTY
                                            </label>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Rate Type Allowed On:</label>
                                        <div class="col-md-8 form-group">
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(m => m.SecondryConthdr.Rate_Type, "KM", new { @class = "form-control" }) Per KM
                                            </label>
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(m => m.SecondryConthdr.Rate_Type, "KG", new { @class = "form-control" }) Per Kg
                                            </label>
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(m => m.SecondryConthdr.Rate_Type, "PKG", new { @class = "form-control" }) Per PKg

                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Fixed and Variable Cost/Rate Based On:</label>
                                        <div class="col-md-7 form-group">
                                            @Html.CheckBoxFor(m => m.SecondryConthdr.Fixed_Cost_Rate_Based_On1)
                                            <label class="radio-inline clsrisk" style="display:none">
                                                @Html.RadioButtonFor(m => m.SecondryConthdr.Variable_Cost_Rate_Based_On, "NonMatrix", new { @class = "form-control" }) Non-matrix	
                                            </label>
                                            <label class="radio-inline clsrisk" style="display:none">
                                                @Html.RadioButtonFor(m => m.SecondryConthdr.Variable_Cost_Rate_Based_On, "Matrix", new { @class = "form-control" }) Matrix
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Standard Charge Applicable:</label>
                                        <div class="col-md-6 form-group">
                                            <label class="radio-inline">
                                                @Html.CheckBoxFor(c => c.SecondryConthdr.Standard_Charge_Applicable1)
                                            </label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" id="btnFinanceSubmitservice" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Next Step</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
}
<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName, formName) {
            var form1 = $('#form_Financesampleservice');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form1) {
                    success1.show();
                    error1.hide();
                }

            });
        }


        var SaveFunction = function (DomainName) {
            $('#btnFinanceSubmitservice').live('click', function (e) {
                var form = $('#form_Financesampleservice');
                if (form.valid() == false) {
                    return false;
                }
                App.blockUI({ boxed: true });
                document.forms["form_Financesampleservice"].submit();
            });
        }
       
        var AddQuestions = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Finance/Addpepole?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#tblsubitemcarrier").append(html);
                    $(".drpcls_" + itemIndex).select2({
                        placeholder: "Select an option",
                    });
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }
        var AddQuestionsRate = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Finance/AddRate?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#tblSecondry").append(html);

                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }
        var AddQuestionConDetail = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Finance/AddContracthdrdetail?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#tblSecondryContract").append(html);
                    $(".drpcls_" + itemIndex).select2({
                        placeholder: "Select an option",
                    });
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }
        return {
            init: function (DomainName) {
                SaveFunction(DomainName)
                Formvalidate(DomainName, "form_Financesampleservice");
                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });
                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });
                $("#btnAddPepole").live('click', function () {
                    var itemIndex = $("#sample_1 input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddQuestions(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });
                $("#btnRate").live('click', function () {
                    var itemIndex = $("#sample_2 input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddQuestionsRate(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });
                $("#btnAddContractdetail").live('click', function () {
                    var itemIndex = $("#sample_3 input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddQuestionConDetail(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });
                $("input:checkbox, input:radio").uniform();
                $('.date-picker').datepicker({
                    isRTL: App.isRTL(),
                    format: "dd M yyyy",
                    setDate: new Date(),
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    todayBtn: true
                });
                $(".date-picker").datepicker("setDate", new Date());

                var url = DomainName + '/Contract/Getwebx_CUSTHDR'
                JsonDDLSelectCode("SecondryConthdr_Customer_Code", url);

                $('input[id^="SecondryConthdr_Rate_Based_On"]').live('change', function (e) {
                    if ($(this).val() == "Hourly") {
                        AddQuestionsRate(DomainName, "1")
                        $("#divRastBaseon").show();
                    }
                    else {
                        $("#divRastBaseon").hide();
                    }
                });
                $("#SecondryConthdr_Fixed_Cost_Rate_Based_On1").click(function () {
                    if ($("#SecondryConthdr_Fixed_Cost_Rate_Based_On1").is(':checked')) {                         
                        $(".clsrisk").show();
                    } else {                        
                        $(".clsrisk").hide();
                    }
                })
                

            }
        }
    }();
</script>







