﻿@model FleetDataService.ViewModels.CustomerVendrosetting
@using FleetDataService.Models;
@using Fleet.Classes;
@using Fleet.Models;
@{
    ViewBag.Title = "SeetingCustomerVendor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    FleetDataService.FinanceService FS = new FleetDataService.FinanceService();
    List<webx_location> GetLocationList = new List<webx_location>();
    GetLocationList = MS.GetLocationDetails().ToList();
    
    List<WEBX_FLEET_DRIVERMST> GetDriverList = FS.GetDriverList().ToList();
    
}               
@using (Html.BeginForm("AddCustomersetting", "Finance", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
{

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Setting Customer/Vendor/Driver/Employee Opening Balance
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-responsive table-bordered">
                                <tr class="success">
                                    <th>Type</th>
                                    <th>Effecive Account</th>
                                    <th>Select Location</th>
                                    <th>Select Customer</th>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(m => m.CustomerType, "Customer", new { @class = "form-control" })
                                        </label>
                                    </td>
                                    <td class="form-group">
                                        @Html.DropDownListFor(c => c.Customereffect, new SelectList(Model.ListAccount, "Acccode", "Accdesc"), "", new { @class = "form-control select2" })
                                    </td>
                                    <td class="form-group">
                                        @Html.TextBoxFor(model => model.Customerlocation, new { @class = "form-control", @placeholder = "Select Location" })
                                    </td>
                                    <td class="form-group">
                                        @Html.TextBoxFor(m => m.Customer, new { placeholder = "Select Customer Code", @class = "form-control" })
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <h6 class="text-center"><b>OR</b></h6>
                        <div class="table-responsive">
                            <table class="table table-striped table-responsive table-bordered">
                                <tr class="success">
                                    <th>Type</th>
                                    <th>Effecive Vendor</th>
                                    <th>Select Location</th>
                                    <th>Select Vendor</th>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(m => m.CustomerType, "Vendor", new { @class = "form-control" })
                                        </label>
                                    </td>
                                    <td class="form-group">
                                    @Html.DropDownListFor(m => m.Vendoreffect, new SelectList(Model.ListVendor, "Acccode", "Accdesc"), "", new { @class = "form-control select2" })</td>
                                    <td class="form-group">
                                        @Html.TextBoxFor(model => model.Vendorlocation, new { @class = "form-control", @placeholder = "Select Location" })
                                    </td>
                                    <td class="form-group">
                                        @Html.TextBoxFor(m => m.Vendor, new { @class = "form-control" })
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <h6 class="text-center"><b>OR</b></h6>
                        <div class="table-responsive">
                            <table class="table table-striped table-responsive table-bordered">
                                <tr class="success">
                                    <th>Type</th>
                                    <th>Effecive Account</th>
                                    <th>Select Location</th>
                                    <th>Select Driver</th>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(m => m.CustomerType, "Driver", new { @class = "form-control" })
                                        </label>
                                    </td>
                                    <td class="form-group">@Html.DropDownListFor(m => m.Driveeffect, new SelectList(Model.ListDriver, "Acccode", "Accdesc"), "", new { @class = "form-control select2" })</td>
                                    <td class="form-group">
                                        @Html.TextBoxFor(model => model.Drivelocation, new { @class = "form-control", @placeholder = "Select Location" })
                                    </td>
                                    <td class="form-group">@Html.DropDownListFor(m => m.Drive, new SelectList(GetDriverList, "Driver_Id", "Driver_Name"), "", new { @class = "form-control select2" })</td>
                                </tr>
                            </table>
                        </div>
                        <h6 class="text-center"><b>OR</b></h6>
                        <div class="table-responsive">
                            <table class="table table-striped table-responsive table-bordered">
                                <tr class="success">
                                    <th>Type</th>
                                    <th>Effecive Account</th>
                                    <th>Select Location</th>
                                    <th>Select Customer</th>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(m => m.CustomerType, "Employee", new { @class = "form-control" })
                                        </label>
                                    </td>
                                    <td class="form-group">@Html.DropDownListFor(m => m.Employeeeffect, new SelectList(Model.ListEmployee, "Acccode", "Accdesc"), "", new { @class = "form-control select2" })</td>
                                    <td class="form-group">
                                        @Html.TextBoxFor(model => model.Employeelocation, new { @class = "form-control", @placeholder = "Select Location" })
                                    </td>
                                    <td class="form-group">@Html.DropDownListFor(m => m.Employee, new SelectList(GetLocationList, "LocCode", "LocName"), "", new { @class = "form-control select2" })</td>
                                </tr>
                            </table>
                        </div>

                    </div>
                    <div class="form-actions fluid">
                        <div class="row">
                            <div class="col-md-offset-4 col-md-8">
                                <a class="btn btn-sm default controls" href="/Fleet/Finance/SeetingCustomerVendor"> <i class="fa fa-refresh"> </i>&nbsp;Reset</a>
                                <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}



<script type="text/javascript">
    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName, formName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form1) {
                    success1.show();
                    error1.hide();
                }

            });
        }
        var Events = function (DomainName) {
            $("#btnSubmit").click(function () {
                //alert($('#form_sample').valid())
                //if ($('#form_sample').valid()) {
                //    $("#form_sample").submit();
                //}
                //else {
                //    return false
                //}
               
              //  $("#form_sample").submit();
                document.forms.item(0).submit();
            });

        };

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName, "form_sample");
                Events(DomainName);
                var url = DomainName + '/Contract/Getwebx_CUSTHDR'
                JsonDDLSelectCode("Customer", url);
                JsonDDL('Customerlocation', DomainName + '/Master/GetLocationListJson', false);
                JsonDDL('Vendorlocation', DomainName + '/Master/GetLocationListJson', false);
                JsonDDL('Drivelocation', DomainName + '/Master/GetLocationListJson', false);
                JsonDDL('Employeelocation', DomainName + '/Master/GetLocationListJson', false);
                JsonDDL('Vendor', DomainName + '/Master/SearchVendorListJson')
                $('input:radio[name="CustomerType"]').change(function () {
                    if ($(this).val() == 'Customer') {
                        $("#Customereffect").addClass('required required2')
                        $("#Customerlocation").addClass('required required2')
                        $("#Customer").addClass('required required2')

                        $("#Vendoreffect").removeClass('required required2')
                        $("#Vendorlocation").removeClass('required required2')
                        $("#Vendor").removeClass('required required2')

                        $("#Driveeffect").removeClass('required required2')
                        $("#Drivelocation").removeClass('required required2')
                        $("#Drive").removeClass('required required2')

                        $("#Employeeeffect").removeClass('required required2')
                        $("#Employeelocation").removeClass('required required2')
                        $("#Employee").removeClass('required required2')

                    } else if ($(this).val() == 'Vendor') {
                        //$("#Vendoreffect").addClass('required required2')
                        //$("#Vendorlocation").addClass('required required2')
                        //$("#Vendor").addClass('required required2')


                        $("#Driveeffect").removeClass('required required2')
                        $("#Drivelocation").removeClass('required required2')
                        $("#Drive").removeClass('required required2')

                        $("#Employeeeffect").removeClass('required required2')
                        $("#Employeelocation").removeClass('required required2')
                        $("#Employee").removeClass('required required2')

                        $("#Customereffect").removeClass('required required2')
                        $("#Customerlocation").removeClass('required required2')
                        $("#Customer").removeClass('required required2')

                    }
                    else if ($(this).val() == 'Driver') {
                        $("#Driveeffect").addClass('required required2')
                        $("#Drivelocation").addClass('required required2')
                        $("#Drive").addClass('required required2')

                        $("#Employeeeffect").removeClass('required required2')
                        $("#Employeelocation").removeClass('required required2')
                        $("#Employee").removeClass('required required2')

                        $("#Customereffect").removeClass('required required2')
                        $("#Customerlocation").removeClass('required required2')
                        $("#Customer").removeClass('required required2')

                        $("#Vendoreffect").removeClass('required required2')
                        $("#Vendorlocation").removeClass('required required2')
                        $("#Vendor").removeClass('required required2')

                    }
                    else if ($(this).val() == 'Employee') {
                        $("#Employeeeffect").addClass('required required2')
                        $("#Employeelocation").addClass('required required2')
                        $("#Employee").addClass('required required2')

                        $("#Driveeffect").addClass('required required2')
                        $("#Drivelocation").addClass('required required2')
                        $("#Drive").addClass('required required2')

                        $("#Customereffect").removeClass('required required2')
                        $("#Customerlocation").removeClass('required required2')
                        $("#Customer").removeClass('required required2')

                        $("#Vendoreffect").removeClass('required required2')
                        $("#Vendorlocation").removeClass('required required2')
                        $("#Vendor").removeClass('required required2')
                    }
                    else {

                    }
                });

            }
        }
    }();
</script>