﻿@model IEnumerable<webx_AcctBudget>
@using FleetDataService.Models
@using Fleet.Classes
@{
    ViewBag.Title = "Select Budget List";

    int Srno = 1;
    int nextyear = Convert.ToInt32(ViewBag.Finyear) + 1;
}
@{
    <style>
        input[type=text]:focus {
            border: 3px solid #cb6868;
        }
    </style>
}
@using (Html.BeginForm("SelectBranchsubmit", "Finance", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal", @enctype = "multipart/form-data" }))

{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>

                    <div class="caption pull-right">
                        <a href="@Url.Content("~/Finance/SelectBranch")" class="btn btn-xs default backButton">
                            <i class="fa fa-arrow-left"></i>&nbsp;Back To Criteria
                        </a>
                    </div>
                </div>

                <div class="portlet-body form">
                    <div class="form-body col-md-12">
                        @if (ViewBag.Budget_Type == "Y")
                        {
                            <table id="sample_ven" class="table table-striped table-bordered table-hover col-md-12" style="overflow-y: scroll">
                                <thead>
                                    <tr>
                                        <th class="col-md-1">
                                            Sr No
                                            <br />
                                            <span>
                                                <input type="checkbox" id="CHkAll" />
                                            </span>

                                        </th>
                                        <th class="col-md-2">Location</th>
                                        <th class="col-md-2">Account Code</th>
                                        <th class="col-md-3">Account Description</th>
                                        <th class="col-md-2">Financial Year Amt.</th>
                                    </tr>
                                </thead>
                                <tbody id="containerTblRouteCity">

                                    @foreach (var item in Model)
                                    {

                                        item.Srno = Srno;
                                        Srno++;
                                        item.Budget_Type = ViewBag.Budget_Type;
                                        item.YearType = ViewBag.Calendar_Type;

                                        item.FinYear = ViewBag.FinYear;
                                        Html.RenderPartial("_PartialYear", item);
                                        item.LocCode = ViewBag.LocCode;
                                    }
                                </tbody>
                            </table>

                            <div class="form-actions fluid" id="SubmitBtn">
                                <div class="row">
                                    <div class="col-md-offset-5 col-md-5">
                                        <button type="submit" id="btnSubmit" class="btn blue"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (ViewBag.Budget_Type == "M")
                        {
                            if (ViewBag.Calendar_Type == "FY")
                            {
                                <table id="sample_ven" class="table table-striped table-bordered table-hover col-md-12" style="overflow-y: scroll">
                                    <thead>
                                        <tr>

                                            <th>
                                                Sr No
                                                <br />
                                                <span>
                                                    <input type="checkbox" id="CHkAll" />
                                                </span>

                                            </th>
                                            <th>Location</th>
                                            <th>Account Code</th>
                                            <th>Account Description</th>
                                            <th class="col-md-1">Apr @ViewBag.FinYear</th>
                                            <th class="col-md-1">May @ViewBag.FinYear</th>
                                            <th class="col-md-1">Jun @ViewBag.FinYear</th>
                                            <th class="col-md-1">Jul @ViewBag.FinYear</th>
                                            <th class="col-md-1">Aug @ViewBag.FinYear</th>
                                            <th class="col-md-1">Sep @ViewBag.FinYear</th>
                                            <th class="col-md-1">Oct @ViewBag.FinYear</th>
                                            <th class="col-md-1">Nov @ViewBag.FinYear</th>
                                            <th class="col-md-1">Dec @ViewBag.FinYear</th>
                                            <th class="col-md-1">Jan @nextyear.ToString()</th>
                                            <th class="col-md-1">Feb @nextyear.ToString()</th>
                                            <th class="col-md-1">Mar @nextyear.ToString()</th>
                                        </tr>
                                    </thead>
                                    <tbody id="containerTblRouteCity">
                                        @foreach (var item in Model)
                                        {
                                            item.Srno = Srno;
                                            Srno++;
                                            item.Budget_Type = ViewBag.Budget_Type;
                                            item.YearType = ViewBag.Calendar_Type;
                                            item.FinYear = ViewBag.FinYear;

                                            Html.RenderPartial("_PartialFYMonth", item);

                                            item.LocCode = ViewBag.LocCode;
                                        }

                                    </tbody>
                                </table>
                                <div class="form-actions fluid" id="SubmitBtn">
                                    <div class="row">
                                        <div class="col-md-offset-5 col-md-5">

                                            <button type="submit" id="btnSubmit" class="btn blue"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        @if (ViewBag.Budget_Type == "M")
                        {
                            if (ViewBag.Calendar_Type == "CY")
                            {
                                <table id="sample_ven" class="table table-striped table-bordered table-hover col-md-12" style="overflow-y: scroll">
                                    <thead>
                                        <tr>
                                            <th>
                                                Sr No
                                                <br />
                                                <span>
                                                    <input type="checkbox" id="CHkAll" />
                                                </span>

                                            </th>
                                            <th>Location</th>
                                            <th>Account Code</th>
                                            <th>Account Description</th>
                                            <th class="col-md-1">Jan @ViewBag.FinYear</th>
                                            <th class="col-md-1">Feb @ViewBag.FinYear</th>
                                            <th class="col-md-1">Mar @ViewBag.FinYear</th>
                                            <th class="col-md-1">Apr @ViewBag.FinYear</th>
                                            <th class="col-md-1">May @ViewBag.FinYear</th>
                                            <th class="col-md-1">Jun @ViewBag.FinYear</th>
                                            <th class="col-md-1">Jul @ViewBag.FinYear</th>
                                            <th class="col-md-1">Aug @ViewBag.FinYear</th>
                                            <th class="col-md-1">Sep @ViewBag.FinYear</th>
                                            <th class="col-md-1">Oct @ViewBag.FinYear</th>
                                            <th class="col-md-1">Nov @ViewBag.FinYear</th>
                                            <th class="col-md-1">Dec @ViewBag.FinYear</th>
                                        </tr>
                                    </thead>
                                    <tbody id="containerTblRouteCity">

                                        @foreach (var item in Model)
                                        {
                                            item.Srno = Srno;
                                            Srno++;
                                            item.Budget_Type = ViewBag.Budget_Type;
                                            item.YearType = ViewBag.Calendar_Type;
                                            item.FinYear = ViewBag.FinYear;
                                            Html.RenderPartial("_PartialCYMonth", item);
                                            item.LocCode = ViewBag.LocCode;
                                        }

                                    </tbody>
                                </table>
                                <div class="form-actions fluid" id="SubmitBtn">
                                    <div class="row">
                                        <div class="col-md-offset-5 col-md-5">

                                            <button type="submit" id="btnSubmit" class="btn blue"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                        </div>
                                    </div>
                                </div>
                            }
                            if (ViewBag.Budget_Type == "Y")
                            {
                                if (ViewBag.Calendar_Type == "CY")
                                {
                                    <table id="sample_ven" class="table table-striped table-bordered table-hover col-md-1 col-md-12" style="overflow-y: scroll">
                                        <thead>
                                            <tr>
                                                <th class="center">
                                                    Sr No
                                                    <br />
                                                    <span>
                                                        <input type="checkbox" id="CHkAll" />
                                                    </span>
                                                </th>
                                                <th>Location</th>
                                                <th>Account Code</th>
                                                <th>Account Description</th>
                                                <th class="col-md-1">Jan @ViewBag.FinYear</th>
                                                <th class="col-md-1">Feb @ViewBag.FinYear</th>
                                                <th class="col-md-1">Mar @ViewBag.FinYear</th>
                                                <th class="col-md-1">Apr @ViewBag.FinYear</th>
                                                <th class="col-md-1">May @ViewBag.FinYear</th>
                                                <th class="col-md-1">Jun @ViewBag.FinYear</th>
                                                <th class="col-md-1">Jul @ViewBag.FinYear</th>
                                                <th class="col-md-1">Aug @ViewBag.FinYear</th>
                                                <th class="col-md-1">Sep @ViewBag.FinYear</th>
                                                <th class="col-md-1">Oct @ViewBag.FinYear</th>
                                                <th class="col-md-1">Nov @ViewBag.FinYear</th>
                                                <th class="col-md-1">Dec @ViewBag.FinYear</th>
                                            </tr>
                                        </thead>
                                        <tbody id="containerTblRouteCity">


                                            @foreach (var item in Model)
                                            {
                                                item.Srno = Srno;
                                                Srno++;
                                                item.Budget_Type = ViewBag.Budget_Type;
                                                item.YearType = ViewBag.Calendar_Type;
                                                item.FinYear = ViewBag.FinYear;
                                                Html.RenderPartial("_PartialCYMonth", item);
                                                item.LocCode = ViewBag.LocCode;

                                            }

                                        </tbody>
                                    </table>
                                    <div class="form-actions fluid" id="SubmitBtn">
                                        <div class="row">
                                            <div class="col-md-offset-5 col-md-5">

                                                <button type="submit" id="btnSubmit" class="btn blue"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (ViewBag.Calendar_Type == "FY")
                                {
                                    <table id="sample_ven" class="table table-striped table-bordered table-hover col-md-1 col-md-12" style="overflow-y: scroll">
                                        <thead>
                                            <tr>
                                                <th class="center">
                                                    Sr No
                                                    <br />
                                                    <span>
                                                        <input type="checkbox" id="CHkAll" />
                                                    </span>
                                                </th>
                                                <th>Location</th>
                                                <th>Account Code</th>
                                                <th>Account Description</th>
                                                <th class="col-md-1">Jan @ViewBag.FinYear</th>
                                                <th class="col-md-1">Feb @ViewBag.FinYear</th>
                                                <th class="col-md-1">Mar @ViewBag.FinYear</th>
                                                <th class="col-md-1">Apr @ViewBag.FinYear</th>
                                                <th class="col-md-1">May @ViewBag.FinYear</th>
                                                <th class="col-md-1">Jun @ViewBag.FinYear</th>
                                                <th class="col-md-1">Jul @ViewBag.FinYear</th>
                                                <th class="col-md-1">Aug @ViewBag.FinYear</th>
                                                <th class="col-md-1">Sep @ViewBag.FinYear</th>
                                                <th class="col-md-1">Oct @ViewBag.FinYear</th>
                                                <th class="col-md-1">Nov @ViewBag.FinYear</th>
                                                <th class="col-md-1">Dec @ViewBag.FinYear</th>
                                            </tr>
                                        </thead>
                                        <tbody id="containerTblRouteCity">


                                            @foreach (var item in Model)
                                            {
                                                item.Srno = Srno;
                                                Srno++;
                                                item.Budget_Type = ViewBag.Budget_Type;
                                                item.YearType = ViewBag.Calendar_Type;
                                                item.FinYear = ViewBag.FinYear;
                                                Html.RenderPartial("_PartialFYMonth", item);
                                                item.LocCode = ViewBag.LocCode;

                                            }

                                        </tbody>
                                    </table>
                                    <div class="form-actions fluid" id="SubmitBtn">
                                        <div class="row">
                                            <div class="col-md-offset-5 col-md-5">

                                                <button type="submit" id="btnSubmit" class="btn blue"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    var FormComponents = function (DomainName) {

        var chkChange = function () {
            var values = $('input:checkbox:checked.clsCHK').map(function () {
                return $(this).data('id');
            }).get().join();
          
            ($('input:checkbox:checked.clsCHK').length > 0) ? $('#btnSubmit').show() : $('#btnSubmit').hide();

        }
        var checkchange = function (DomainName) {
            $('.clsCHK').change(function () {
                chkChange();
                var ID = $(this).attr("Id").replace("SelectBranchDone_", "").replace("__IsCheck", "");
                var checked = jQuery("#SelectBranchDone_" + ID + "__IsCheck").is(":checked");
                if (checked) {
                    $("#TR" + ID + " .monthck").removeAttr("disabled", true);
                }
                else {
                    $("#TR" + ID + " .monthck").attr("disabled", true);
                    $(".clsCHK").prop('checked', false);
                }
                $("input:checkbox, input:radio").uniform();

            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                $('#btnSubmit').hide();
               
                checkchange(DomainName);
                $(".checkbox1").attr("disabled", true);
             
                $('#btnSubmit').click(function (e) {
                    var count = 0;
                    if (!$('#submit_form').valid())
                        return false;
                    
                    $('.clsCHK').each(function (e) {
                    
                        var ID = $(this).attr("Id").replace("SelectBranchDone_", "").replace("__IsCheck", "");
                        var checked = jQuery("#SelectBranchDone_" + ID + "__IsCheck").is(":checked");
                        if (this.checked) {
                           
                            if ($('input:checkbox:checked.checkbox1_' + ID).count <= 1) {
                                alert('Please Select atlest One Checkbox...!!!');
                                count = 0;
                                return false;
                            }
                            else {
                                count = 1;
                            }
                        }
                        else {
                        }
                    });
                    if (count == 0) {
                        return false;

                    }
                });

                $('.clsCHK').change(function () {
                    chkChange();
                    var ID = $(this).attr("Id").replace("SelectBranchDone_", "").replace("__IsCheck", "");
                    var checked = jQuery("#SelectBranchDone_" + ID + "__IsCheck").is(":checked");
                    var txtAmt = "SelectBranchDone_" + ID + "__txtAmt";
                    if (checked) {
                        $("#TR" + ID + ".monthck").removeAttr("disabled", true);
                        $("#" + txtAmt).addClass("required");
                        $("#" + txtAmt).attr("readonly", false).focus();

                    }
                    else {
                        $("#TR" + ID + ".monthck").attr("disabled", true);
                        $("#" + txtAmt).removeClass("required");
                        $("#" + txtAmt).val("0.00");
                    }


                });

                $("#CHkAll").live("click", function () {
                    $(".clsCHK").prop('checked', $(this).is(':checked'));
                    var ID = $(".clsCHK").attr("id").replace("SelectBranchDone_", "").replace("__IsCheck", "");
                    var ischeck = "SelectBranchDone_" + ID + "__IsCheck";
                    totalRows = $("#sample_ven tbody tr").length;
                    
                    if ($(this).is(":checked")) {
                        for (var i = 1; i <= totalRows; i++) {
                            var checkID = "SelectBranchDone_" + i + "__IsCheck";
                            if (checkID == '0') {
                                alert("Plz Amount Should Be Greater Than Zero");
                                return false;
                                //do something
                            }
                            $("#" + checkID).prop('checked', true).uniform();
                            $("#" + checkID).val("True");
                            $("#TR" + i + " .monthck").removeAttr("disabled", true);
                        }
                    }
                    else {
                        $(".clsCHK").each(function (ID) {
                            for (var i = 1; i <= totalRows; i++) {

                                var checkID = "SelectBranchDone_" + i + "__IsCheck";
                                $("#" + checkID).prop('checked', false).uniform();
                                $(this).val("False");
                                $("#TR" + i + " .monthck").attr("disabled", true);
                                $(".clsCHK").prop('checked', false);


                            }
                        });
                    }
                    chkChange();
                });
            }
        }
    }();
</script>