﻿@model FleetDataService.ViewModels.SetOpeningBalanceViewModel1
@using FleetDataService.Models
@using Fleet.Classes
@{
    ViewBag.Title = "SelectBranch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var Category = new List<SelectListItem>
        {

        new SelectListItem{Text="INCOME",Value="INCOME"},
        new SelectListItem{Text="EXPENSE",Value="EXPENSE"},
        };

    var YearType = new List<SelectListItem>
        {

        new SelectListItem{Text="Financial Year",Value="FY"},
        new SelectListItem{Text="Calendar Year",Value="CY"},
        };

    var MonthEntryType = new List<SelectListItem>
        {

        new SelectListItem{Text="Yearly",Value="Y"},
        new SelectListItem{Text="Monthly",Value="M"},
        };    

    FleetDataService.MasterService MS = new FleetDataService.MasterService();

    List<SelectListItem> Account = new List<SelectListItem>();
    var AccountLocation = DataRowToObject.CreateListFromTable<webx_acctinfo>(MS.GetsetopnigBalance());
    FleetDataService.FinanceService FS = new FleetDataService.FinanceService();
    List<webx_AcctBudget> BudgetYear = FS.BudgetYearList();
    List<webx_acctinfo> LedgeRList = FS.LegdetCode();
    var YearVal = ViewBag.year;

}
@using (Html.BeginForm("SelectBranchsubmitList", "Finance", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        <input type="radio" name="Changwise" id="Location" value="Location" class="clsSurveyEdit" checked="true">Location Wise
                                    </label>
                                    <label class="control-label col-md-4">
                                        <input type="radio" name="Changwise" id="Ledger" value="Ledger" class="clsSurveyEdit">Ledger Wise
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4" id="otherTextbox1">
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Select Branch Code</label>
                                    <div class="col-md-8">
                                        @*@Html.DropDownListFor(m => m.Account1.brcd, new SelectList(AccountLocation, "Value", "Text"), "", new { @class = "required select2 required required2 form-control" })*@
                                        @Html.TextBoxFor(c => c.Account1.brcd, new { @class = "form-control required required2 " })
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4" id="otherTextbox">
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Select Ledger Code</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Account1.LedgerCode, new SelectList(LedgeRList, "Acccode", "Accdesc"), "", new { @class = " form-control select2 required required2 " })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Select Year Type</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Account1.YearType, new SelectList(YearType, "Value", "Text", "FY"), "", new { @class = " form-control select2 required required2" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Select Entry Type </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Account1.Budget_Type, new SelectList(MonthEntryType, "Value", "Text", "M"), "", new { @class = " form-control select2 required required2" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Select Budget Year</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Account1.FinYear, new SelectList(BudgetYear, "YearVal", "FinYear", YearVal), "", new { @class = " select2 required2 required form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row" id="AccountCat">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Select Account Category</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Balance.Acccategory, new SelectList(Category, "Value", "Text", "INCOME"), "", new { @class = " select2 required2 required form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="AccountCode">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Select Account Code</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Balance.Acccode, new SelectList(Account, "Value", "Text"), "", new { @class = " select2 required2 required form-control" })
                                        @Html.HiddenFor(c => c.Balance.Acccode)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="row" id="otherTextbox12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Select RO</label>
                                        <div class="col-md-8">
                                            @{
                                            Html.RenderPartial("../UserControls/_ReportLocation");
                                            }
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="form-actions fluid" id="SubmitBtn">
                            <div class="row">
                                <div class="col-md-offset-5 col-md-5">
                                    <button type="submit" id="btnSubmit" class="btn blue"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                },

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();

                    $("#btnSubmit").hide();
                    //  $("#CMLM_LocationId").removeAttr('disabled');
                    //  $("#loading").html("hell");
                    //  $("#loading").show();
                    form.submit();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }

        var GetBranch = function (DomainName) {

            StrURL = DomainName + "/Operation/GetDestinationLocations";
            JsonDDLSelectCode("Branch", StrURL);
        }
      
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                GetBranch(DomainName)
                LocationContraol();
                JsonDDL('Account1_brcd', DomainName + '/Master/GetAllLocCompanyJson');
                $("#otherTextbox").hide();
                $("#otherTextbox1").show();
                $("#otherTextbox12").hide();
                $("#AccountCat").show();
                $("#AccountCode").show();
              
                $('.select2').select2({
                            placeholder: "Select an option",
                            allowClear: true
                        });

                $("input[name='Changwise']").click(function () {
                    //debugger;
                    if (this.value == "Ledger") {
                        $("#otherTextbox").show();
                        $("#otherTextbox1").hide();
                        $("#AccountCat").hide();
                        $("#AccountCode").hide();
                        $("#otherTextbox12").show();
                    }
                    else {
                        $("#otherTextbox1").show();
                        $("#otherTextbox").hide();
                        $("#otherTextbox12").hide();
                        $("#AccountCat").show();
                        $("#AccountCode").show();

                    }
                });

                $('#Balance_Acccategory').change(function () {
                    App.blockUI({ boxed: true });
                    var SerchGroup = $(this).val();
                    var strUrl = DomainName + '/Master/GetSetOpeningBalance?SerchGroup=' + SerchGroup;
                    FillDropDownfromOther('Balance_Acccode', strUrl, '');
                  
                });
                $("#Balance_Acccategory").trigger("change");
                $("#RO").on("change", function () {
                    App.blockUI({ boxed: true });
                    StrURL = DomainName + "/Finance/GetLocationListFromROJson?LocCode=" + $(this).val();
                    FillDropDownfromOther1("Loccode", StrURL, "Location");
                });

                $("input[name='Changwise']").click(function () {
                
                    if (this.value == "Location") {
                      
                        $("#Account1_LedgerCode").removeClass("required required2");
                        $("#Account1_brcd").addClass("required required2");
                        $("#Balance_Acccode").addClass("required required2");
                    }
                    else if (this.value == "Ledger") {
                       
                        $("#Account1_brcd").removeClass("required required2");
                        $("#Balance_Acccode").removeClass("required required2");
                        $("#Account1_LedgerCode").addClass("required required2");
                    }
                });

                $("#Location").trigger("click");
            }
        }
    }();
</script>