﻿@{
    ViewBag.Title = "Branch Budget";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>@ViewBag.Title Successfully Done
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Result
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>Budget Successfully Updated... </b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span>
                Click on @ViewBag.Title .|.
                <a href="@Url.Content("~/Finance/SelectBranch")">Click to More Branch Select</a>
            </span>
        </div>
    </div>
</div>

