﻿@model IEnumerable<webx_AcctBudget>
@using SarcoTMSLiveDataService.Models
@using SarcoTMSLive.Classes
@{
    ViewBag.Title = "SelectBranchsubmit";

    int Srno = 1;
    int nextyear = Convert.ToInt32(ViewBag.Finyear) + 1;
}
@{
    <style>
        input[type=text]:focus {
            border: 3px solid #cb6868;
        }
    </style>
}
@using (Html.BeginForm("SelectBranchDone", "Finance", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body col-md-12">
                        @if (ViewBag.Budget_Type == "Y")
                        {
                            <table id="sample_ven" class="table table-striped table-bordered table-hover col-md-12" style="overflow-y: scroll">
                                <thead>
                                    <tr>

                                        <th class="col-md-1">Sr No </th>
                                        <th class="col-md-2">Location</th>
                                        <th class="col-md-2">Account Code</th>
                                        <th class="col-md-3">Account Description</th>
                                        <th class="col-md-2">Financial Year</th>
                                    </tr>
                                </thead>
                                <tbody id="containerTblRouteCity">

                                    @foreach (var item in Model)
                                    {

                                        item.Srno = Srno;
                                        Srno++;
                                        item.Budget_Type = ViewBag.Budget_Type;
                                        item.YearType = ViewBag.Calendar_Type;

                                        item.FinYear = ViewBag.FinYear;
                                        Html.RenderPartial("_PartialYear", item);
                                        item.LocCode = ViewBag.LocCode;
                                    }
                                </tbody>
                            </table>

                            <div class="form-actions fluid" id="SubmitBtn">
                                <div class="row">
                                    <div class="col-md-offset-5 col-md-5">
                                        <button type="submit" id="btnSubmit" class="btn blue"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (ViewBag.Budget_Type == "M")
                        {
                            if (ViewBag.Calendar_Type == "FY")
                            {
                                <table id="sample_ven" class="table table-striped table-bordered table-hover col-md-12" style="overflow-y: scroll">
                                    <thead>
                                        <tr>
                                            <th>Sr No </th>
                                            <th>Location</th>
                                            <th>Account Code</th>
                                            <th>Account Description</th>
                                            <th class="col-md-1">Apr @ViewBag.FinYear</th>
                                            <th class="col-md-1">May @ViewBag.FinYear</th>
                                            <th class="col-md-1">Jun @ViewBag.FinYear</th>
                                            <th class="col-md-1">Jul @ViewBag.FinYear</th>
                                            <th class="col-md-1">Aug @ViewBag.FinYear</th>
                                            <th class="col-md-1">Sep @ViewBag.FinYear</th>
                                            <th class="col-md-1">Oct @ViewBag.FinYear</th>
                                            <th class="col-md-1">Nov @ViewBag.FinYear</th>
                                            <th class="col-md-1">Dec @ViewBag.FinYear</th>
                                            <th class="col-md-1">Jan @nextyear.ToString()</th>
                                            <th class="col-md-1">Feb @nextyear.ToString()</th>
                                            <th class="col-md-1">Mar @nextyear.ToString()</th>
                                        </tr>
                                    </thead>
                                    <tbody id="containerTblRouteCity">
                                        @foreach (var item in Model)
                                        {
                                            item.Srno = Srno;
                                            Srno++;
                                            item.Budget_Type = ViewBag.Budget_Type;
                                            item.YearType = ViewBag.Calendar_Type;
                                            item.FinYear = ViewBag.FinYear;

                                            Html.RenderPartial("_PartialFYMonth", item);

                                            item.LocCode = ViewBag.LocCode;
                                        }

                                    </tbody>
                                </table>
                                <div class="form-actions fluid" id="SubmitBtn">
                                    <div class="row">
                                        <div class="col-md-offset-5 col-md-5">

                                            <button type="submit" id="btnSubmit" class="btn blue"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        @if (ViewBag.Budget_Type == "M")
                        {
                            if (ViewBag.Calendar_Type == "CY")
                            {
                                <table id="sample_ven" class="table table-striped table-bordered table-hover col-md-12" style="overflow-y: scroll">
                                    <thead>
                                        <tr>
                                            <th>Sr No </th>
                                            <th>Location</th>
                                            <th>Account Code</th>
                                            <th>Account Description</th>
                                            <th class="col-md-1">Apr @ViewBag.FinYear</th>
                                            <th class="col-md-1">May @ViewBag.FinYear</th>
                                            <th class="col-md-1">Jun @ViewBag.FinYear</th>
                                            <th class="col-md-1">Jul @ViewBag.FinYear</th>
                                            <th class="col-md-1">Aug @ViewBag.FinYear</th>
                                            <th class="col-md-1">Sep @ViewBag.FinYear</th>
                                            <th class="col-md-1">Oct @ViewBag.FinYear</th>
                                            <th class="col-md-1">Nov @ViewBag.FinYear</th>
                                            <th class="col-md-1">Dec @ViewBag.FinYear</th>
                                            <th class="col-md-1">Jan @nextyear.ToString()</th>
                                            <th class="col-md-1">Feb @nextyear.ToString()</th>
                                            <th class="col-md-1">Mar @nextyear.ToString()</th>
                                        </tr>
                                    </thead>
                                    <tbody id="containerTblRouteCity">

                                        @foreach (var item in Model)
                                        {
                                            item.Srno = Srno;
                                            Srno++;
                                            item.Budget_Type = ViewBag.Budget_Type;
                                            item.YearType = ViewBag.Calendar_Type;
                                            item.FinYear = ViewBag.FinYear;
                                            Html.RenderPartial("_PartialFYMonth", item);
                                            item.LocCode = ViewBag.LocCode;
                                        }

                                    </tbody>
                                </table>
                                <div class="form-actions fluid" id="SubmitBtn">
                                    <div class="row">
                                        <div class="col-md-offset-5 col-md-5">

                                            <button type="submit" id="btnSubmit" class="btn blue"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                        </div>
                                    </div>
                                </div>
                            }
                            if (ViewBag.Budget_Type == "Y")
                            {
                                if (ViewBag.Calendar_Type == "CY")
                                {
                                    <table id="sample_ven" class="table table-striped table-bordered table-hover col-md-1 col-md-12" style="overflow-y: scroll">
                                        <thead>
                                            <tr>
                                                <th>Sr No </th>
                                                <th>Location</th>
                                                <th>Account Code</th>
                                                <th>Account Description</th>
                                                <th class="col-md-1">Jan @ViewBag.FinYear</th>
                                                <th class="col-md-1">Feb @ViewBag.FinYear</th>
                                                <th class="col-md-1">Mar @ViewBag.FinYear</th>
                                                <th class="col-md-1">Apr @ViewBag.FinYear</th>
                                                <th class="col-md-1">May @ViewBag.FinYear</th>
                                                <th class="col-md-1">Jun @ViewBag.FinYear</th>
                                                <th class="col-md-1">Jul @ViewBag.FinYear</th>
                                                <th class="col-md-1">Aug @ViewBag.FinYear</th>
                                                <th class="col-md-1">Sep @ViewBag.FinYear</th>
                                                <th class="col-md-1">Oct @ViewBag.FinYear</th>
                                                <th class="col-md-1">Nov @ViewBag.FinYear</th>
                                                <th class="col-md-1">Dec @ViewBag.FinYear</th>
                                            </tr>
                                        </thead>
                                        <tbody id="containerTblRouteCity">


                                            @foreach (var item in Model)
                                            {
                                                item.Srno = Srno;
                                                Srno++;
                                                item.Budget_Type = ViewBag.Budget_Type;
                                                item.YearType = ViewBag.Calendar_Type;
                                                item.FinYear = ViewBag.FinYear;
                                                Html.RenderPartial("_PartialCYMonth", item);
                                                item.LocCode = ViewBag.LocCode;

                                            }

                                        </tbody>
                                    </table>
                                    <div class="form-actions fluid" id="SubmitBtn">
                                        <div class="row">
                                            <div class="col-md-offset-5 col-md-5">

                                                <button type="submit" id="btnSubmit" class="btn blue"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    var FormComponents = function (DomainName) {

        var Events = function (DomainName) {
            $("#sample_ven  , .btnSubmit").live("click", function (e) {
                //   App.blockUI({ boxed: true });
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Events(DomainName);
                // initTableById('sample_ven');
                // $("#sample_ven").parents('.row').show(500);
                $('#btnSubmit').hide();
                var totchk = 0;

                $('.CLSCHK').each(function () {

                    var checked1 = jQuery(this).is(":checked");

                    if (checked1)
                        totchk++;

                    if (totchk == 0)
                        $('#btnSubmit').hide();
                    else
                        $('#btnSubmit').show();
                });

                $('.CLSCHK').click(function () {

                    totchk = 0;
                    var ID = $(this).attr("id").replace("SelectBranchDone_", "").replace("__IsCheck", "");
                    var txtAmt = "SelectBranchDone_" + ID + "__txtAmt";
                    var checked = jQuery(this).is(":checked");

                    //$("#" + txtAmt).click(function () {
                    //    if ($(this).is(":checked")) {
                    //        $(".checkbox1_Srno").removeAttr("disabled");
                    //        $(".checkbox1_Srno");
                    //    } else {
                    //        $(".checkbox1_Srno").attr("disabled", "disabled");
                    //    }
                    //});

                    $("#" + txtAmt).attr("readonly", true);

                    if (checked) {


                        $("#" + txtAmt).attr("readonly", false).focus();
                        $("#" + txtAmt).addClass("required");
                        //$(".checkbox1_Srno").removeAttr("disabled");
                        //$(".checkbox1_Srno");
                        //  App.unblockUI();
                    }
                    else {
                        var spans = $('.help-block');
                        spans.hide();
                        //$(".checkbox1_Srno").attr("disabled", "disabled");
                        $("#" + txtAmt).attr("readonly", true);
                        $("#" + txtAmt).removeClass("required");
                        $("#" + txtAmt).val("");
                        //App.blockUI({ boxed: true });
                    }


                    $('.CLSCHK').each(function () {
                        var checked1 = jQuery(this).is(":checked");

                        if (checked1)
                            totchk++;

                        if (totchk == 0)
                            $('#btnSubmit').hide();
                        else
                            $('#btnSubmit').show();
                    });

                });
            }
        }
    }();
</script>