﻿@model FleetDataService.ViewModels.ServiceWiseBilling
@{
    ViewBag.Title = "Service Wise Billing";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> Servicelist = new List<SelectListItem>(){
                    new SelectListItem{ Text="FRIGHT BILLING", Value = "1" },
                    new SelectListItem{ Text="OCTROI", Value = "3" },
    };
    List<SelectListItem> CustTypelist = new List<SelectListItem>(){
                    new SelectListItem{ Text="Consignor", Value = "CSGN" },
                    new SelectListItem{ Text="Consignee", Value = "CSGE" },
                    new SelectListItem{ Text="Billing Party ", Value = "BILL" },
    };
}
@using (Html.BeginForm("ServiceWiseBilling", "Finance", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Service :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.Service, new SelectList(Servicelist, "Value", "Text"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Service" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" id="Location">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Customer :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.CustCD, new { @class = "form-control required required2", @placeholder = "Select Customer", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" id="daterange" style="display:none">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Select  Date :
                                    </label>
                                    <div class="col-md-7">
                                        <div id="reportrange" class="btn default">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                        </div>
                                        @Html.HiddenFor(c => c.FromDate)
                                        @Html.HiddenFor(c => c.ToDate)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" id="custtype" style="display:none">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Customer Is :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.custtype, new SelectList(CustTypelist, "Value", "Text"), "", new { @class = "form-control required2 select2", @placeholder = "Select Customer Type" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-8">
                            <button type="button" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {

                FormValidate(DomainName);
                Events(DomainName);

                $("#custtype").change(function () {
                    alert($(this).val());
                });

                $("#btnSubmit").click(function () {
                    if ($('#form_sample').valid()) {

                        var Custcode = $("#CustCD").val();
                        var CustType = $("#custtype").val();
                        if ($("#Service").val() == "1") {
                            window.location.replace(DomainName + "/Finance/BillGenerationQuery/" + Custcode)
                        }
                        else {
                            window.location.replace(DomainName + "/Finance/OctroiBillGenerationQuery/" + Custcode)
                        }
                    }
                });

                $("#Service").on("change", function () {
                    $("#CustCD").attr('readonly', false);
                    //if ($(this).val() == "1") {
                    //    $("#daterange").show();
                    //    $("#custtype").hide();
                    //}
                    //else {
                    //    $("#daterange").hide();
                    //    $("#custtype").show();
                    //}
                    StrURL = DomainName + "/Finance/GetCustomerListByService?Service=" + $(this).val();
                    JsonDDL("CustCD", StrURL, "Select Customer");
                });
            }
        }
    }();
</script>