﻿@model FleetDataService.ViewModels.CustomerVendrosetting
@using FleetDataService.Models;
@using Fleet.Classes;
@using Fleet.Models;
@{
    ViewBag.Title = "Party Opening Balance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("AddPartyOpenBalnace", "Finance", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
{
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;Customer Party Opening Balance
                </div>
            </div>
            <div class="portlet-body ">
                <div class="form-body">
                    <div class="portlet-body">
                        <div id="tblData">                            
                            @Html.HiddenFor(m => m.Customereffect)
                            @Html.HiddenFor(m => m.Customerlocation)
                            @Html.HiddenFor(m => m.Customer)
                            @Html.HiddenFor(m => m.CustomerType)
                            @{
                                int SrNo = 0;
                            }
                            @if (Model.ListPartyOpeing.ToList().Count > 0)
                            {
                                <table class="table table-striped table-bordered table-hover" id="UpdateDRSList" style="overflow-x: scroll">
                                    <thead>
                                        <tr>
                                            <th class="center col-md-1">
                                              Select
                                            </th>
                                            <th class="center col-md-3">
                                              @ViewBag.Name  
                                            </th>
                                            <th class="center col-md-3">
                                             @ViewBag.Code   
                                            </th>
                                            <th class="center col-md-3">
                                                Debit
                                            </th>
                                            <th class="center col-md-3">
                                                Credit
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ListPartyOpeing)
                                        {
                                            SrNo++;
                                            item.Id = SrNo;
                                            Html.RenderPartial("_Partial_Setting_PartyBal", item);
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <table>
                                    <tr>
                                        <td>
                                            <p class="Norecord"> No Record Found...................</p>
                                        </td>
                                    </tr>
                                </table>
                            }
                        </div>
                    </div>
                </div>
                <div class="form-actions fluid">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-8">
                            <a class="btn btn-sm default controls" href="/Fleet/Finance/SeetingCustomerVendor"> <i class="fa fa-arrow-left"> </i>&nbsp;Back</a>
                            <button type="submit" id="btnSubmit" class="btn btn-sm green controls" disabled="disabled"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

<script type="text/javascript">
    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName, formName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form1) {
                    success1.show();
                    error1.hide();
                }

            });
        }
        var Events = function (DomainName) {
            $("#btnSubmit").click(function () {
                document.forms.item(0).submit();
            });

        };

        return {           
            init: function (DomainName) {
                Formvalidate(DomainName, "form_sample");
                Events(DomainName);           
                $(".chk").live('change', function () {
                    var count = 0;
                    $('.chk').each(function () {
                        if (this.checked) {
                           
                            $("#btnSubmit").attr('disabled', false);
                            count = count + 1;
                        }
                    })
                    if (count == 0) {
                        $("#btnSubmit").attr('disabled', true);
                    }
                });
            }
        }
    }();
</script>