﻿@{
    ViewBag.Title = "Opening Balance has been successfully Generated";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>Opening Balance Result Done
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                              
                                Next Step
                            </th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>                           
                            <td>
                                <a target="_blank" href="#" class="fa fa-print" id="ReportFrame"><b>&nbsp;Set More Opening balance</b></a>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                Click on Opening Balance for View and Print .
            </span>
        </div>
    </div>
</div>