﻿@model CYGNUS.Models.Webx_Account_Details
@using FleetDataService.Models
@{
    ViewBag.Title = "Supplementary Bill Generation Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();

    List<Webx_State> Webx_StateList = new List<Webx_State>();
    List<Webx_Master_General> generalMasterList = MS.GetGeneralMasterObject().ToList();
}
<div class="row">
    <div class="col-md-10">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("SupplementaryBill", "Finance", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
                {
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            You have some form errors. Please check below.
                        </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Your form validation is successful!
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                GST Type
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(c => c.GSTType, new SelectList(generalMasterList.Where(c => c.CodeType == "GSTTYPE" && c.StatusCode == "Y" && c.CodeId != "SVC").OrderBy(c => c.CodeDesc).ToList(), "CodeId", "CodeDesc"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select GST Type" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                State
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(c => c.StateCode, new SelectList(Webx_StateList, "Value", "Text"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select State" })
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="row">
                            <div class="col-md-offset-4 col-md-6">
                                <button type="submit" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-check"></i>&nbsp;Submit</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {

                },
                messages: {

                    //'ServiceFor': {
                    //    required: "Please select at least one service for option",
                    //    minlength: jQuery.format("Please Select at Least One Service For Option")
                    //}
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    //if (element.parents('.checkbox-list').size() > 0) {
                    //    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    //} else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                    //}
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    // form1.submit();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate();
                $('#btnSubmit').click(function () {
                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        return false;
                    }
                    //  alert("Done");
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                });

                $("#GSTType").on("change", function () {
                    var StrURL = DomainName + "/Master/GetStateListFromGSTType?GSTType=" + $('#GSTType').val();
                    FillDropDownfromOther("StateCode", StrURL, "");
                });
            }
        };
    }();
</script>