﻿@{
    ViewBag.Title = "Supplementary Bill Generation";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Model.BILLMST.BGNDT = System.DateTime.Now;
    Model.BILLMST.BDUEDT = System.DateTime.Now;
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    Model.BILLMST.BILLSUBBRCD = Model.BILLMST.BBRCD;
    Model.BILLMST.BILLCOLBRCD = Model.BILLMST.BBRCD;
    Model.BILLMST.BGENEMPCD = ViewBag.BaseUserName;
    string BillSubLocName = MS.GetLocationDetails().Where(c => c.LocCode.ToUpper() == Model.BILLMST.BILLSUBBRCD).FirstOrDefault().LocName;
    string BillCollLocName = MS.GetLocationDetails().Where(c => c.LocCode.ToUpper() == Model.BILLMST.BILLCOLBRCD).FirstOrDefault().LocName;
    objDate OD = new objDate();
    OD.ControlId = "BILLMST.BGNDT";
    OD.ControlValue = Model.BILLMST.BGNDT.ToString();
    OD.ModuleCode = "17";
    if (Model.BILLMST.Aggrementdt == System.DateTime.MinValue || Model.BILLMST.Aggrementdt == null)
    {
        Model.BILLMST.Aggrementdt = System.DateTime.Now;
    }

    StaxTDSViewModel STVM = new StaxTDSViewModel();
    STVM.UserId = ViewBag.BaseUserName;
    STVM.FiledNextAmount = "WAD.GSTBillAmount";
    STVM.GSTType = Model.objWAD.GSTType;
    STVM.BETYP = "SupplementaryBill";
    //STVM.IsDiscountEnabled = false;
    //STVM.IsVATDisplay = false;
    //STVM.IsTDSEnabled = false;
}
@using Fleet
@using Fleet.ViewModels
@model FleetDataService.ViewModels.BillGeneration
@using FleetDataService.ViewModels;

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@ViewBag.Title
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("SupplementaryBillSubmit", "Finance", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <h4 class="form-section">Bill Details</h4>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Bill No. </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.BILLMST.BILLNO, new { placeholder = "System Generated", @readonly = "true", @class = "required2 form-control" })
                                @Html.Hidden("BillSubLocNM", BillSubLocName)
                                @Html.Hidden("BillCollLocNM", BillCollLocName)
                                @Html.HiddenFor(c => c.objWAD.StateCode)
                                @Html.HiddenFor(c => c.objWAD.GSTType)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Manual Bill No.</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.BILLMST.manualbillno, new { placeholder = "Manual Bill No.", @class = "required2 form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Aggrement No.</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.BILLMST.AggrementNo, new { placeholder = "Aggrement No.", @class = "required2 form-control" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Bill Date</label>
                            <div class="col-md-7">
                                @{
            Html.RenderPartial("../UserControls/_DocumentDate", OD);
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Due Date</label>
                            <div class="col-md-7">
                                <div class="input-group date duedatetime-picker">
                                    @Html.TextBoxFor(m => m.BILLMST.BDUEDT, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.BILLMST.BDUEDT).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                                    <span class="input-group-btn">
                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Aggrement Date</label>
                            <div class="col-md-7">
                                <div class="input-group date duedatetime-picker">
                                    @Html.TextBoxFor(m => m.BILLMST.Aggrementdt, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.BILLMST.Aggrementdt).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                                    <span class="input-group-btn">
                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Party Code</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.BILLMST.PTMSCD, new { placeholder = "Party", @class = "required2 required form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Party Name</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.BILLMST.PTMSNM, new { placeholder = "Party Name", @class = "required2 form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Prepared By</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.BILLMST.BGENEMPCD, new { placeholder = "Prepared By", @class = "required2 required form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Bill Submission At</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.BILLMST.BILLSUBBRCD, new { placeholder = "Bill Submission at", @class = "required2 required form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Bill Collection At</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.BILLMST.BILLCOLBRCD, new { placeholder = "Bill Collection  at", @class = "required2 required form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Prepared At</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.BILLMST.BBRCD, new { placeholder = "Prepared At", @class = "required2 required form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Document Type</label>
                            <div class="col-md-3">
                                <div class="radio-list">
                                    <label>
                                        <input type="radio" name="DocType" id="DocType1" checked value="DKT"> @ViewBag.DKTCalledAS
                                    </label>
                                    <label>
                                        <input type="radio" name="DocType" id="DocType2" value="THC"> @ViewBag.THCCalledAS
                                    </label>
                                    @Html.Hidden("DOCTY")
                                </div>
                            </div>
                            <div class="col-md-4">
                                @Html.CheckBoxFor(m => m.IsMultipleDoc)<span style="color:red">
                                    <b>
                                        Multiple Document No ?
                                    </b>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Document No.</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.BILLMST.Dockno, new { placeholder = "Document No ", @class = "required2 required form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Narration</label>
                            <div class="col-md-7">
                                @Html.TextAreaFor(m => m.BILLMST.REMARK, new { placeholder = "Narration", @class = "required2 required form-control" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-5">No Of Rows</label>
                            <div class="col-md-7">
                                @Html.TextBox("LedgerRows", "0", new { placeholder = "Private Mark", @class = "input-small required2 form-control required" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <a id="btnAddRows" class="btn btn-sm @ViewBag.TableBoxColor">
                            <i class="fa fa-plus"></i> Add New Row
                        </a>
                    </div>
                    <div class="col-md-5"></div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet-body flip-scroll">
                            <table id="container" class="table table-bordered table-striped table-condensed flip-content">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="center col-md-1">
                                            Sr. No.
                                        </th>
                                        <th class="center col-md-2">
                                            Account
                                        </th>

                                        <th class="center col-md-3">
                                            Account  Name
                                        </th>
                                        <th class="center clsDocType col-md-1">
                                            Document Type
                                        </th>
                                        <th class="center clsDocType col-md-2">
                                            Document No
                                        </th>
                                        <th class="center col-md-1">
                                            Amount
                                        </th>
                                        <th class="center col-md-2">
                                            Narration
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="Bodycontainer">
                                    @foreach (var itm in Model.BILLDET)
                                    {
                                        Html.RenderPartial("_SupplementaryBill", itm);
                                    }
                                </tbody>
                                <tr class="editorRow">
                                    <td></td>
                                    <td></td>
                                    <td><b>Total</b></td>
                                    <td class="center clsDocType"></td>
                                    <td class="center clsDocType"></td>
                                    <td class="center col-md-1">
                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @Html.TextBox("DOCTOT", "0", new { @class = "form-control required2 required clsAmount", @readonly = "true", @min = "1" })
                                            </div>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                @*<div class="row">
                    <div class="col-md-11">
                        @{Html.RenderPartial("../UserControls/_GSTTDSControl", STVM);}
                    </div>
                </div>*@

                <div class="row">
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-5"></label>
                                        <div class="col-md-7 chkactive">
                                            @Html.CheckBoxFor(m => m.IsRoundOff)<span style="color:red"><b>Check here to Apply Round Off Amount</b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">RoundOff Amount</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.BILLMST.RoundOffAmt, new { placeholder = "Remark", @class = "required2  clsAmount required form-control", @min = "0", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-5"><b>Final Total</b></label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.BILLMST.BILLAMT, new { placeholder = "Remark", @class = "required2 clsAmount required form-control", @min = "0", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                </div>
            </div>
        }
    </div>
</div>
<script src="~/Scripts/Finance/SuppBillGeneration.js?ver<%=DateTime.Now.Ticks.ToString()%" type="text/javascript"></script>