﻿@model FleetDataService.ViewModels.BillingQueryModel
@{
    ViewBag.Title = "Bill Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>Bill Successfully @ViewBag.TranXaction
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Bill Number
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@ViewBag.BILLNO</b>
                            </td>
                            <td>
                                <a target="_blank" href="@Url.Action("SupplementaryBillView", "ViewPrint", new { NO = @ViewBag.BILLNO })" class="fa fa-print" id="ReportFrame"><b>&nbsp;View/Print</b></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span>
                <a href="@Url.Action("SupplementaryBill", "Finance")"> Click Here To More Bill Generation.</a>
            </span>
        </div>
    </div>
</div>
