﻿@model Fleet.ViewModels.vm_InconeViewPrint
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    ViewBag.Title = "SupplimentryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" id="divList">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>List Of Bills
                </div>
                <div class="caption pull-right">
                    <a class="btn btn-xs default" href="@Url.Content("~/Finance/SuppBillViewCriteria")">
                        <i class="fa fa-arrow-left"> </i>
                        Back To Criteria
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <table class="table table-striped table-bordered table-hover" id="Sample1">
                        <thead class="flip-content">
                            <tr>
                                <th class="center">
                                    View
                                </th>
                                <th class="center">
                                    Bill No
                                </th>
                                <th class="center">
                                    Billing Branch
                                </th>
                                <th class="center">
                                    Party Name
                                </th>
                                <th class="center">
                                    Bill Type
                                </th>
                                <th class="center">
                                    Bill Amount
                                </th>
                                <th class="center">
                                    Generation Date
                                </th>
                                <th class="center">
                                    Submission Date
                                </th>
                                <th class="center">
                                    Due Date
                                </th>
                                <th class="center">
                                    Collection Date
                                </th>
                                <th class="center">
                                    Collection Date
                                </th>
                            </tr>
                        </thead>
                        <tbody id="Advice">
                            @foreach (var item in Model.ListSupplimentry)
                            {
                                Html.RenderPartial("_SuppPartialList", item);
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function View(No) {
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        var strPopupURL = ReportURL + DomainName + "/ViewPrint/SupplimentryBill?BillNo=" + No;
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;
    }
    var FormComponents = function (DomainName) {

        var initTable1 = function (DomainName) {


            $('#Sample1').dataTable({
                "bDestroy": true
            }).fnDestroy();

            $('#Sample1').dataTable({
                "aLengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "order": [[1, "asc"]],
                "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [0] },
                { "bSearchable": false, "aTargets": [0] }
                ]
            });
            jQuery('#Sample1_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
            jQuery('#Sample1_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
            jQuery('#Sample1_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                initTable1(DomainName);

            }
        };
    }();

</script>
