﻿@model CYGNUS.Models.WEBX_Advice_Hdr
@using Fleet.Helpers;
@using FleetDataService.Models;
@using Fleet.Classes;
@using FleetDataService.ViewModels;

<tr>
    @using (Html.BeginCollectionItem("Advice", Model.Adviceno.ToString()))
    {
        <td>
            @Html.CheckBoxFor(m => m.IsCheck, new { @class = " form-control CLSCHK" })
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.Adviceno)

            @Model.Adviceno
        </td>
        <td class="center">
            @Model.AdviceDt.ToString("dd MMM yyyy")
        </td>
        <td class="center">
            @Model.adviceStatus
        </td>
        <td class="center">
            @Model.advice_amount
        </td>
        <td class="center">
            @Model.RaisedBy
        </td>
        <td class="center">
            @Model.RaisedOn
        </td>
        <td class="center">
            @Html.TextAreaFor(m => m.Cancel_Reason, new { placeholder = "Cancel Reason", @class = "span6 m-wrap form-control", @readonly = true })
        </td>
    }
</tr>
