﻿@model CYGNUS.Models.WEBX_Advice_Hdr
@using Fleet.Helpers;
@using FleetDataService.Models;
@using Fleet.Classes;
@using FleetDataService.ViewModels;
@using Fleet.ViewModels
@{

    string Paymode = Model.credit_account;
    //List<GetLedgerAccountFromPaymode> ListCallType = CS.GetgeneralObject(-1, "CALLTYPE");
    FleetDataService.OperationService OS = new FleetDataService.OperationService();

    System.Data.DataTable Dt = OS.GetLedgerAccountFromPaymode(Model.credit_account.ToString(), ViewBag.BaseLocationCode);
    List<GetLedgerAccountFromPaymode> AccountLedgerList = new List<GetLedgerAccountFromPaymode>();//DataRowToObject.CreateListFromTable<GetLedgerAccountFromPaymode>(Dt);
    Model.accdate1 = System.DateTime.Now;
    string datepicker = "datepicker_" + Model.SrNo.ToString();

    objDate OD = new objDate();
    OD.ControlId = "accdate1";
    OD.ControlValue = Model.accdate1.ToString();
    OD.ModuleCode = "10";
}

<tr>

    @using (Html.BeginCollectionItem("Advice", Model.SrNo.ToString()))
    {

        <td class="center">
            @Html.CheckBoxFor(m => m.IsCheck, new { @class = " form-control CLSCHK" })
        </td>
        <td>
            @Html.HiddenFor(m => m.Adviceno)

            @Model.Adviceno
        </td>
        <td class="center">
            @Model.Advicetype
        </td>
        <td class="center">
            @Model.credit_account
            @Html.HiddenFor(m => m.credit_account)
        </td>
        <td>
            @Model.Accdesc
        </td>

        <td class="center">
            @Model.adviceStatus
        </td>

        <td class="center">
            @Model.reason
        </td>
        <td class="center">
            @Model.RaisedBy
        </td>
        <td class="center">
            @ViewBag.BaseLocationCode
        </td>
        <td class="center">
            @Model.advice_amount
        </td>
        <td class="center">
            @*@Model.AdviceDt
            @Html.HiddenFor(m => m.AdviceDt)*@
            @Model.AdviceDt.ToString("dd MMM yyyy")
            @Html.HiddenFor(m => m.AdviceDt)
        </td>
        <td class="center">
            @Model.ChequeNo
            @Html.HiddenFor(m => m.ChequeNo)
            @Html.HiddenFor(m => m.ChequeDatestr)
        </td>
        <td class="center">
            @{
//var Chqdate = Model.ChequeDate.ToString("dd MMM yyyy");
                @*@Html.HiddenFor(m => m.ChequeDatestr)
                @Html.HiddenFor(m => m.ChequeDate)
                if (@Model.ChequeDatestr == null)
                {

                }
                else
                {
                    @Model.ChequeDatestr
                }*@
                if (@Model.ChequeDate.ToString("dd MMM yyyy") == "01 Jan 0001")
        {

        }
        else
        {
             @Model.ChequeDate.ToString("dd MMM yyyy")
        }
            }

        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.Toacccode, new SelectList(AccountLedgerList, "Value", "Text"), "", new { @class = "form-control select2" })
                </div>
            </div>
        </td>
        <td>
            @*<div class="input-group input-small date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d">
                    @Html.TextBox("accdate1", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.accdate1).ToString("dd MMM yyyy")), new { @class = "form-control required" })
                    <span class="input-group-btn">
                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>*@

            <div class="input-group input-small date date-picker @datepicker" data-date-format="dd MMM yyyy" data-date-start-date="+0d" data-date-end-date="+0d">
                @Html.TextBox("accdate1", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.accdate1).ToString("dd MMM yyyy")), new { @class = "form-control required required2 " })
                <span class="input-group-btn">
                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                </span>
            </div>

            @*@{
                Html.RenderPartial("../UserControls/_DocumentDate", OD);
            }*@
        </td>
                }
</tr>