﻿@model FleetDataService.Models.WEBX_chq_det
@using FleetDataService.Models;
@using Fleet.Helpers;
<tr>
    @using (Html.BeginCollectionItem("Bank", Model.Srno.ToString()))
    {
        <td>
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = " form-control CLSCHK" })
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.chqno)
            @Html.HiddenFor(m => m.Chqindex)
            @Model.chqno
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.chqdt)
            @Model.chqdt
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.chqamt, new { @class = "clschqamt" })
            @Model.chqamt
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.Entrydt)
            @Model.Entrydt.ToString("dd MMM yyyy")
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.party)
            @Model.party
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.banknm)
            @Model.banknm
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.brcd)
            @Html.HiddenFor(m => m.Chqindex)
            @Model.brcd
        </td>
    }
</tr>