﻿@model CYGNUS.Models.Webx_Acc
@using FleetDataService.Models;
@using Fleet.Helpers;
@{
    List<SelectListItem> ListCostType = new List<SelectListItem>();
    string TRID = "TR" + Model.Srno.ToString();
}

<tbody>
    <tr id="@TRID" class="editorRow">
        @using (Html.BeginCollectionItem("DCVoucher", Model.Srno.ToString()))
        {
            <td class="center">
                @Html.DisplayFor(m => m.Srno, new { @class = "form-control" })
            </td>
            <td class="col-md-4">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.TextBox("ACCCode", "", new { @class = "form-control col-md-4", @readonly = "true" })
                        @Html.TextBoxFor(m => m.AccountCode, new { @class = "form-control ClsXYZ required required2", @placeholder = "Search Account Code" })
                    </div>
                </div>
            </td>
            <td class="col-md-4">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.TextBoxFor(m => m.Amount, new { @placeholder = "0.00", @class = "required form-control clsAmount clsDCAmount required2", @min = "1", @type = "number" })
                    </div>
                </div>
            </td>
            <td>
                @Html.TextAreaFor(m => m.NarrationAccountinfo, new { @placeholder = "Narration", @class = "form-control ClsNarrationAccountinfo uppercase" })
            </td>
            <td style="text-align:center; cursor:pointer" title="Delete Row">
                @if (Model.Srno > 1)
                {
                    <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a>
                    <a class="deleteRow">@*<img src="~/assets/img/Delete_Icon.png" style="width: 25px;" />*@</a>
                }
            </td>
        }
    </tr>
</tbody>