﻿@model CYGNUS.Models.Webx_Acc
@using FleetDataService.Models;
@using Fleet.Helpers;
@{

    //DarshanCRMDataService.Service1 CS = new DarshanCRMDataService.Service1();
    //List<SSI_Items> ItemList = CS.GetItemObjectFromLive("");

    //List<CYGNUS_Master_General> CategoryList = CS.GetgeneralObject(0, "ItemCategory");
    //List<CYGNUS_Mapping_CategoryWithSubCategory> SubCategoryList = new List<CYGNUS_Mapping_CategoryWithSubCategory>();
    List<SelectListItem> ListCostType = new List<SelectListItem>();
    string TRID = "TR" + Model.Srno.ToString();
    Model.VoucherDate = System.DateTime.Now;
}

<tbody>
    <tr id="@TRID" class="editorRow">
        @using (Html.BeginCollectionItem("DNVoucher", Model.Srno.ToString()))
        {
            <td class="center">
                @Html.DisplayFor(m => m.Srno, new { @class = "form-control" })
            </td>
            <td class="form-group">
                @Html.TextBoxFor(m => m.DocNo, new { @class = "form-control required required2", @placeholder = "Enter WayBill No" })
            </td>
            <td class="form-group">
                @Html.TextBoxFor(m => m.VoucherDate, String.Format("{0:dd/MM/yyyy}", Convert.ToDateTime(Model.VoucherDate).ToString("dd MMM yyyy")), new { @class = " form-control input-small required required2", @placeholder = "dd/MMM/yyyy" })
            </td>
            <td class="form-group">
                @Html.TextBoxFor(m => m.PCS, new { @class = "required2 clsPCS form-control cls_Remove_Zero cls_Set_Zero", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))" })
            </td>
            <td class="form-group">
                @Html.TextBoxFor(m => m.VendorWt, new { @class = "required2 clsVendorWt form-control cls_Remove_Zero cls_Set_Zero", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))" })
            </td>
            <td class="form-group">
                @Html.TextBoxFor(m => m.RCPLWt, new { @class = "required2 clsRCPLWt form-control cls_Remove_Zero cls_Set_Zero", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))" })
            </td>
            <td class="form-group">
                @Html.TextBoxFor(m => m.DiffWt, new { @class = "required2 required clsDiffWt form-control cls_Remove_Zero cls_Set_Zero", @readonly = "true" })
            </td>
            <td class="form-group">
                @Html.TextBoxFor(m => m.VendorRate, new { @class = "required2 clsVendorRate form-control cls_Remove_Zero cls_Set_Zero", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
            </td>
            <td class="form-group">
                @Html.TextBoxFor(m => m.RCPLRate, new { @class = "required2 clsRCPLRate form-control cls_Remove_Zero cls_Set_Zero", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
            </td>
            <td class="form-group">
                @Html.TextBoxFor(m => m.DiffRate, new { @class = "required2 required clsDiffRate form-control", @readonly = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
            </td>
            <td class="form-group">
                @Html.TextBoxFor(m => m.WtDiffAmt, new { @class = "required2 required clsWtDiffAmt form-control cls_Remove_Zero cls_Set_Zero", @readonly = "true", @type = "number" })
            </td>
            <td class="form-group">
                @Html.TextBoxFor(m => m.RateDiffAmt, new { @class = "required2 required clsRateDiffAmt form-control cls_Remove_Zero cls_Set_Zero", @readonly = "true", @type = "number" })
            </td>
            <td class="form-group">
                @Html.TextBoxFor(m => m.Amount, new { @class = "required2 required clsAmount clsDNAmount form-control cls_Remove_Zero cls_Set_Zero", @readonly = "true", @type = "number", @min = "0.01" })
            </td>
            <td style="text-align:center; cursor:pointer" title="Delete Row">
                @if (Model.Srno > 1)
                {
                    <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a>
                }
            </td>
        }
    </tr>
</tbody>