﻿@model CYGNUS.Models.Webx_Acc
@using CYGNUS.Models;
@using Fleet.Helpers;
@{
    var ListCostType = new List<SelectListItem>();
    ListCostType.Add(new SelectListItem { Text = "Employee", Value = "Employee" });
    ListCostType.Add(new SelectListItem { Text = "GC", Value = "GC" });
    ListCostType.Add(new SelectListItem { Text = "Vehicle", Value = "Vehicle" });
    ListCostType.Add(new SelectListItem { Text = "Branch", Value = "Branch" });
    string TRID = "TR" + Model.Srno.ToString();
    string Particular = "Particular" + Model.Srno.ToString();
}

<tbody>

    <tr id="@TRID" class="editorRow">

        @using (Html.BeginCollectionItem("JournalVoucher", Model.Srno.ToString()))
        {
            <td data-title="TransHours" class="center">
                @Html.DisplayFor(m => m.Srno, new { @class = "form-control" })
            </td>
            <td class="center">
                @if (Model.Srno.ToString() == "1")
                {
                    <label class="col-md-2">
                        <input class="Particular" type="radio" name="optionsRadios3" id="@Particular" disabled="disabled" />
                    </label>
                }
                @if (Model.Srno.ToString() != "1")
                {
                    <label class="col-md-2">
                        <input class="Particular" type="radio" name="optionsRadios3" id="@Particular" />
                    </label>
                }
                @Html.HiddenFor(m => m.Particular)
            </td>
            <td data-title="TransHours" class="form-group col-md-4">
                @Html.TextBox("ACCCode", "", new { @class = "form-control col-md-4", @readonly = "true" })
                @Html.TextBoxFor(m => m.AccountCode, new { @class = "form-control ClsXYZ col-md-4 required", @placeholder = "Search Account Code" })
            </td>

            <td>
                @Html.TextBoxFor(m => m.Debit, new { @placeholder = "0.00", @class = " form-control clsAmount Blur DebitChange", @type = "number", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.Credit, new { @placeholder = "0.00", @class = " form-control clsCredit Blur CreditChange", @type = "number", @style = "text-align: right;", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
            </td>

            <td>
                @Html.TextAreaFor(m => m.NarrationAccountinfo, new { @placeholder = "", @class = "form-control clsNarration uppercase" })
            </td>

            <td style="text-align:center; cursor:pointer" title="Delete Row">
                @if (Model.Srno > 1)
                {
                    @*<a class="deleteRow"><img src="~/assets/img/Delete_Icon.png" style="width: 25px;" /></a>*@
                    <a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a>
                }
                else
                {
                    <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
                }
            </td>
        }
    </tr>

</tbody>