﻿@model CYGNUS.Models.Webx_Acc
@using FleetDataService.Models;
@using Fleet.Helpers;
@{

    //DarshanCRMDataService.Service1 CS = new DarshanCRMDataService.Service1();
    //List<SSI_Items> ItemList = CS.GetItemObjectFromLive("");

    //List<CYGNUS_Master_General> CategoryList = CS.GetgeneralObject(0, "ItemCategory");
    //List<CYGNUS_Mapping_CategoryWithSubCategory> SubCategoryList = new List<CYGNUS_Mapping_CategoryWithSubCategory>();
    var ListCostType = new List<SelectListItem>();
    ListCostType.Add(new SelectListItem { Text = "Employee", Value = "Employee" });
    ListCostType.Add(new SelectListItem { Text = "GC", Value = "GC" });
    ListCostType.Add(new SelectListItem { Text = "Vehicle", Value = "Vehicle" });
    ListCostType.Add(new SelectListItem { Text = "Branch", Value = "Branch" });

    var ListPaidTo = new List<SelectListItem>();
    ListPaidTo.Add(new SelectListItem { Text = "Customer", Value = "C" });
    ListPaidTo.Add(new SelectListItem { Text = "Vendor", Value = "V" });
    ListPaidTo.Add(new SelectListItem { Text = "Employee", Value = "U" });
    ListPaidTo.Add(new SelectListItem { Text = "Driver", Value = "D" });
    ListPaidTo.Add(new SelectListItem { Text = "Vehicle", Value = "VE" });
    string TRID = "TR" + Model.Srno.ToString();
    string Particular = "Particular" + Model.Srno.ToString();
}

<tbody>
    <tr id="@TRID" class="editorRow">
        @using (Html.BeginCollectionItem("MJV", Model.Srno.ToString()))
        {
            <td data-title="TransHours" class="center">
                @Html.DisplayFor(m => m.Srno, new { @class = "form-control" })
            </td>

             <td class="center">
                @if (Model.Srno.ToString() == "1")
                {
                    <label class="col-md-2">
                        <input class="Particular" type="radio" name="optionsRadios3" id="@Particular" disabled="disabled" />
                    </label>
                }
                @if (Model.Srno.ToString() != "1")
                {
                    <label class="col-md-2">
                        <input class="Particular" type="radio" name="optionsRadios3" id="@Particular" />
                    </label>
                }
                @Html.HiddenFor(m => m.Particular)
            </td>

            <td data-title="TransHours" class="form-group col-md-2">
                @Html.TextBox("ACCCode", "", new { @class = "form-control required2 col-md-2", @readonly = "true", @placeholder = "Account Code" })
                @Html.TextBoxFor(m => m.AccountCode, new { @class = "form-control ClsXYZ  required required2 col-md-2", @placeholder = "Search Account Code" })
            </td>

            <td class="col-md-1 form-group">
                @Html.DropDownListFor(m => m.PaidTo, new SelectList(ListPaidTo, "Value", "Text", ""), "", new { @class = "form-control required select2 BindParty" })
            </td>

            <td data-title="TransHours" class="form-group col-md-2">
                @Html.TextBox("Code", "", new { @class = "form-control required2", @readonly = "true", @placeholder = "Party Code" })
                @Html.TextBoxFor(c => c.PartyName, new { @class = "form-control ClsParty required required2", @placeholder = "Search Party Code", @readonly = "true" })
            </td>

            <td>
                @Html.TextBoxFor(m => m.Debit, new { @placeholder = "0.00", @class = " form-control clsAmount clsDebit Blur DebitChange required2 required", @number = true, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
            </td>

            <td>
                @Html.TextBoxFor(m => m.Credit, new { @placeholder = "0.00", @class = " form-control clsAmount clsCredit Blur CreditChange required2 required", @number = true, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
            </td>

            @*<td>
                    @Html.DropDownListFor(m => m.CostType, new SelectList(ListCostType, "Value", "Text", ""), "", new { @class = "form-control  select2 span6", @disabled = "true" })

                </td>

                <td>
                    @Html.TextBoxFor(m => m.CostCode, new { @placeholder = "Cost Code", @class = "form-control center ", @readonly = "true" })
                </td>*@
            <td>
                @Html.TextAreaFor(m => m.NarrationAccountinfo, new { @placeholder = "Narration", @class = "form-control required2 uppercase" })
            </td>

            <td style="text-align:center; cursor:pointer" title="Delete Row">
                @if (Model.Srno > 1)
                {
                    @*<a class="deleteRow"><img src="~/assets/img/Delete_Icon.png" style="width: 25px;" /></a>*@
                    <a class="deleteRow" style="color: Maroon; font-size: 14px; font-weight: bolder;">X</a>
                }
                else
                {
                    <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
                }
            </td>
        }
    </tr>
</tbody>