﻿@model CYGNUS.Models.Webx_Acc
@using Fleet.Helpers;
@{
    string TRID = "TR" + Model.Srno.ToString();


    List<SelectListItem> DocTypeList = new List<SelectListItem>(){
                           new SelectListItem { Text = "Docket", Value = "DKT",},
                           new SelectListItem { Text = "PRS", Value = "PRS"},
                           new SelectListItem { Text = "DRS", Value = "DRS"},
                           new SelectListItem { Text = "THC", Value = "THC"},
                           new SelectListItem { Text = "Tripsheet", Value = "TRP"},
                           };
}

<tbody>
    <tr id="@TRID" class="editorRow">

        @using (Html.BeginCollectionItem("SCVoucher", Model.Srno.ToString()))
        {
            <td data-title="TransHours" class="center" style="vertical-align:middle;">
                @Html.DisplayFor(m => m.Srno, new { @class = "form-control" })
            </td>

            <td data-title="TransHours">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.TextBox("ACCCode", "", new { @class = "form-control col-md-4", @readonly = "true" })
                        @Html.TextBoxFor(m => m.AccountCode, new { @class = "form-control ClsXYZ col-md-4 required required2", @placeholder = "Search Account Code" })
                    </div>
                </div>
            </td>

            <td>
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.DocType, new SelectList(DocTypeList, "Value", "Text"), "", new { @class = "form-control required required2 select2" })
                        @*@Html.TextBoxFor(m => m.DocType, new { @readonly = true, @class = "form-control" })*@
                    </div>
                </div>
            </td>

            <td>
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.TextBoxFor(m => m.DocNo, new { @placeholder = "Doc No.", @class = "form-control center required required2 ", @readonly = "true" })
                    </div>
                </div>
            </td>

            <td>
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.TextBoxFor(m => m.Amount, new { @placeholder = "0.00", @class = "required form-control center required required2 clsCostAmount clsAmount", @min = 1 })
                    </div>
                </div>
            </td>

            <td>
                @Html.TextAreaFor(m => m.NarrationAccountinfo, new { @placeholder = "Narration", @class = "form-control center ClsNarrationAccountinfo uppercase" })
            </td>

            <td style="text-align:center; cursor:pointer" title="Delete Row">
                @if (Model.Srno > 1)
                {
                    @*<a class="deleteRow"><img src="~/assets/img/Delete_Icon.png" style="width: 25px;" /></a>*@
                    <a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a>
                }
                else
                {
                    <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
                }
            </td>
        }
    </tr>

</tbody>