﻿@model CYGNUS.Models.Webx_Account_Details
@using FleetDataService.Models
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();

    List<Webx_State> Webx_StateList = new List<Webx_State>();
    List<Webx_Master_General> generalMasterList = MS.GetGeneralMasterObject().ToList();

    var ListTYPEOFGST = new List<SelectListItem>();
    ListTYPEOFGST.Add(new SelectListItem { Text = "RCM GST", Value = "RCMGST" });
    ListTYPEOFGST.Add(new SelectListItem { Text = "Normal GST", Value = "NormalGST" });
}


<div class="form-body">
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        You have some form errors. Please check below.
    </div>
    <div class="alert alert-success display-hide">
        <button class="close" data-close="alert"></button>
        Your form validation is successful!
    </div>

    @if (Model.Type == "DebitCredit" || Model.Type == "SpecialCost")
    {
        @*<div class="form-group">
                <label class="control-label col-md-3">
                    select Type GST
                </label>
                <div class="col-md-6">
                    @Html.HiddenFor(m => m.TypeOfGst)
                    <label class="control-label col-md-3">
                        <input type="radio" name="optionsRadios1" id="TypeOfGst1" checked="checked" value="RCMGST" />
                        RCM GST
                    </label>
                    <label class="control-label col-md-3">
                        <input type="radio" name="optionsRadios1" id="TypeOfGst2" value="NormalGST" />
                        Normal GST
                    </label>
                </div>
            </div>*@
        <div class="form-group">
            <label class="control-label col-md-3">
                Select Type GST
            </label>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.TypeOfGst, new SelectList(ListTYPEOFGST, "Value", "Text", ""), "", new { @class = "form-control select2 required required2", @placeholder = "select Type GST" })
                @Html.HiddenFor(c => c.SelectVoucherType)
            </div>
        </div>

    }

    <div class="form-group ">
        <label class="control-label col-md-3">
            GST Type
        </label>
        <div class="col-md-4">
            @Html.DropDownListFor(c => c.GSTType, new SelectList(generalMasterList.Where(c => c.CodeType == "GSTTYPE" && c.StatusCode == "Y" && c.CodeId != "SVC" && c.CodeId != "RCM").OrderBy(c => c.CodeDesc).ToList(), "CodeId", "CodeDesc"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select GST Type" })
        </div>
    </div>
    <div class="form-group ">
        <label class="control-label col-md-3">
            GST Percentage
        </label>
        <div class="col-md-4">
            @Html.DropDownListFor(c => c.GSTPercentage, new SelectList(generalMasterList.Where(c => c.CodeType == "GSTPER" && c.StatusCode == "Y").OrderBy(c => int.Parse(c.CodeDesc)), "CodeDesc", "CodeDesc"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select GST Percentage" })
        </div>
    </div>
</div>  
<div class="form-actions fluid">
    <div class="row">
        <div class="col-md-offset-4 col-md-6">
            <button type="submit" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-search"></i>&nbsp;Search</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {

                },
                messages: {

                    //'ServiceFor': {
                    //    required: "Please select at least one service for option",
                    //    minlength: jQuery.format("Please Select at Least One Service For Option")
                    //}
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    //if (element.parents('.checkbox-list').size() > 0) {
                    //    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    //} else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                    //}
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    // form1.submit();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate();
                $("#TypeOfGst").val("NormalGST");
                $('#btnSubmit').click(function () {
                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        return false;
                    }
                    //  alert("Done");
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                });

                $("#GSTType").on("change", function () {
                    if ($(this).val() == "N") {
                        $("#GSTPercentage").val("0");
                        $("#GSTPercentage").attr("readonly", true);
                        $("#GSTPercentage").removeClass("required");
                    }
                    else {
                        $("#GSTPercentage").attr("readonly", false);
                        $("#GSTPercentage").addClass("required");
                    }
                });
            }
        };
    }();
</script>