﻿@model FleetDataService.ViewModels.AdviceAcknowledgementViewModel

@{
    ViewBag.Title = "AdivceAcknowledgementList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string CurrDate = System.DateTime.Now.ToString("dd MMM yyyy");
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Advice Acknowledgement List
                </div>
            </div>
            <div class="portlet-body">

                @using (Html.BeginForm("AdviceAcknowledgementSubmit", "Voucher", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal", @enctype = "multipart/form-data" }))
                {

                    <table class="table table-striped table-bordered table-hover table-full-width" id="Sample1">
                        <thead class="flip-content">
                            <tr>
                                <th class="center">#</th>
                                <th class="center">
                                    Advice No
                                </th>
                                <th class="center">
                                    Type
                                </th>
                                <th class="center">
                                    Transaction Type
                                </th>
                                <th class="center">
                                    Transaction Description
                                </th>
                                <th class="center">
                                    Status
                                </th>
                                <th class="center">
                                    Reason
                                </th>
                                <th class="center">
                                    Raised By
                                </th>
                                <th class="center">
                                    Raised On
                                </th>
                                <th class="center">
                                    Amount
                                </th>
                                <th class="center">
                                    Generation Date
                                </th>
                                <th class="center">
                                    Cheque No
                                </th>
                                <th class="center">
                                    Cheque Date
                                </th>
                                <th class="center">
                                    Deposited In
                                </th>
                                <th class="center">
                                    Receipt Date
                                </th>
                            </tr>
                        </thead>

                        <tbody id="Advice">

                            @foreach (var item in Model.ListAdvice)
                            {
                                Html.RenderPartial("_AdviceAcknowledgementSubmit", item);
                            }
                        </tbody>

                    </table>
                    if (Model.ListAdvice.Count() > 0)
                    {
                        <p style="color:red;">
                            Select atleast one checkbox to view <strong>Submit</strong> button.
                        </p>
                    }
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-7">
                            <a class="btn btn-sm default controls" href="@Url.Content("~/Voucher/AdviceAcknowledgementCriteria")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back to Criteria</a>
                            @if (Model.ListAdvice.Count() > 0)
                            {
                                <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var handleDatetimePicker = function () {
            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    startDate: new Date(),
                    autoclose: true
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {

                },

                messages: {

                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.attr("name") == "gender") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_gender_error");
                    } else if (element.attr("name") == "payment[]") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_payment_error");
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });

        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
               // ControlDate();
            //    handleDatetimePicker();
                Formvalidate(DomainName);
                $('#btnSubmit').click(function () {
                    //alert($("#submit_form").valid());
                    if ($("#submit_form").valid()) {
                        //   SubmmitFunction();
                        $("#btnSubmit").hide();
                        App.blockUI({ boxed: true });
                        document.forms["submit_form"].submit();
                    }
                });
              
                var totchk = 0;

                       @foreach (var j in Model.ListAdvice)
                           
                {
                    <text>
                
                   
                if (jQuery().datepicker) {
                    $('.datepicker_'+ @j.SrNo).datepicker({
                        rtl: App.isRTL(),
                        format: "dd M yyyy",
                        //startDate: "1 Jun 2017",
                        startDate: new Date($("#Advice_" + @j.SrNo + "__AdviceDt").val().toString("dd MMM yyyy")),
                        endDate: '@CurrDate',
                        autoclose: true
                    });
                    $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
                }
                    </text>
                }

                $('.CLSCHK').each(function () {
                    var checked1 = jQuery(this).is(":checked");
                    if (checked1)
                        totchk++;
                    if (totchk == 0)
                        $('#btnSubmit').hide();
                    else
                        $('#btnSubmit').show();
                });


                $('.CLSCHK').click(function () {
                    //alert('Hii1')
                    totchk = 0;
                    // alert("Helloo");
                    var ID = $(this).attr("id").replace("Advice_", "").replace("__IsCheck", "");
                    var Toacccode = "Advice_" + ID + "__Toacccode";
                    var credit_account = "Advice_" + ID + "__credit_account";
                    var Toacccode = "Advice_" + ID + "__Toacccode";
                    var checked = jQuery(this).is(":checked");

                    $("#" + Toacccode).attr("disabled", true);
                    Toacccode1 = $("#" + Toacccode).val();

                    //alert(Toacccode1)
                    if (checked) {
                       
                        //alert('in')
                        $("#" + Toacccode).attr("disabled", false);
                        $("#" + Toacccode).addClass("required");
                        var StrURL = DomainName + "/Voucher/GetDeposited_InList?Type=" + $("#" + credit_account).val();
                        FillDropDownfromOther(Toacccode, StrURL, "Cash Account");
                       
                    }
                    else {
                        var spans = $('.help-block');
                        spans.hide();
                        //alert('Hii')
                        $("#" + Toacccode).attr("disabled", true);
                        $("#" + Toacccode).removeClass("required");
                        $("#" + Toacccode).val("");


                        var StrURL = DomainName + "/Voucher/GetDeposited_InList?Type=";
                        FillDropDownfromOther(Toacccode, StrURL, "Cash Account");
                    }

               

                    $('.CLSCHK').each(function () {
                        var checked1 = jQuery(this).is(":checked");
                        if (checked1)
                            totchk++;
                        //alert('Hii-2')
                        if (totchk == 0)
                            $('#btnSubmit').hide();
                        else
                            $('#btnSubmit').show();
                    });

                });
            }
        }
    }();
</script>
