﻿@model FleetDataService.ViewModels.AdviceCancellationViewModel
@{
    ViewBag.Title = "AdviceCancellation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="loading" style="display: none;">
    <img src="@Url.Content("~/assets/img/loading.gif")" />
</div>

<div class="row">
    <div class="col-md-8">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-reorder"></i>Advice Cancellation
                </div>
            </div>

            <div class="portlet-body form">
                <div class="form-body">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        You have some form errors. Please check below.
                    </div>

                    <div class="alert alert-success display-hide">
                        <button class="close" data-close="alert"></button>
                        Your form validation is successful!
                    </div>

                    @using (Html.BeginForm("AdviceCancellationList", "Voucher", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal", @readonly = "true" }))
                {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(c => c.FromDate)
                        @Html.HiddenFor(c => c.ToDate)

                        <div class="form-group">
                            <label class="control-label col-md-2" style="text-align: left;">
                                Select Date :
                            </label>

                            <div class="col-md-4">
                                <div id="reportrange" class="btn default col-md-12">
                                    <i class="fa fa-calendar"></i>
                                    &nbsp;
                                    <span></span>
                                    <b class="fa fa-angle-down"></b>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" style="text-align: left;">
                                Advice No.
                            </label>

                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Adviceno, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                            </div>
                            <div class="col-md-2">
                                <button type="submit" id="btnSubmit" class="btn blue controls">Submit </button>
                            </div>
                        </div>
                }

                </div>
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript">

        var FormComponents = function (DomainName) {

            var Formvalidate = function (DomainName) {

                var form1 = $('#form_sample');
                var error1 = $('.alert-danger', form1);
                var success1 = $('.alert-success', form1);

                form1.validate({
                    doNotHideMessage: true,
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block', // default input error message class
                    // errorClass: 'validate-inline',
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",

                    rules: {
                        //account dateFuture
                        'CMU.Password': {
                            minlength: 6
                        },
                        'CMU.ConfirmPassword': {
                            equalTo: "#CMU_UserPwd"
                        },
                    },

                    messages: {
                    },

                    invalidHandler: function (event, validator) { //display error alert on form submit
                        success1.hide();
                        error1.show();
                        App.scrollTo(error1, -200);
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },

                    unhighlight: function (element) { // revert the change done by hightlight
                        $(element)
                            .closest('.form-group').removeClass('has-error'); // set error class to the control group
                    },

                    success: function (label) {
                        label
                            .closest('.form-group').removeClass('has-error'); // set success class to the control group
                    },

                    submitHandler: function (form) {
                        success1.show();
                        error1.hide();

                        $("#btnSubmit").hide();
                        //  $("#CMLM_LocationId").removeAttr('disabled');
                        //  $("#loading").html("hell");
                        //  $("#loading").show();
                        form.submit();
                        //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                    }
                });
            }

            var handleSelect2 = function () {

                $('.select2').select2({
                    placeholder: "Select an option",
                    allowClear: true
                });
            }

            var handleDateRangePickers = function () {
                if (!jQuery().daterangepicker) {
                    return;
                }
                $('#reportrange').daterangepicker({
                    opens: (App.isRTL() ? 'left' : 'right'),
                    startDate: moment().subtract('days', 29),
                    endDate: moment(),
                    //maxDate: '12/31/2014',
                    showDropdowns: true,
                    showWeekNumbers: true,
                    timePicker: false,
                    timePickerIncrement: 1,
                    timePicker12Hour: true,
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                        'Last 7 Days': [moment().subtract('days', 6), moment()],
                        'Last 30 Days': [moment().subtract('days', 29), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                    },
                    buttonClasses: ['btn'],
                    applyClass: 'green',
                    cancelClass: 'default',
                    format: 'DD/MM/YYYY',
                    separator: ' to ',
                    locale: {
                        applyLabel: 'Apply',
                        fromLabel: 'From',
                        toLabel: 'To',
                        customRangeLabel: 'Custom Range',
                        daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                        monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                        firstDay: 1
                    }
                },

                     function (start, end) {
                         $('#FromDate').val(start.format('MMMM D, YYYY'));
                         $('#ToDate').val(end.format('MMMM D, YYYY'));
                         $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                     }
                );
                $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
                $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
                $('#ToDate').val(moment().format('MMMM D, YYYY'));
            }



            return {
                //main function to initiate the module
                init: function (DomainName) {

                    Formvalidate(DomainName);
                    handleSelect2(DomainName);
                    handleDateRangePickers();
                }
            };
        }();
    </script>
