﻿@model FleetDataService.ViewModels.AdviceAcknowledgementViewModel
@using Fleet.Helpers;
@using FleetDataService.Models;
@using Fleet.Classes;
@using FleetDataService.ViewModels;
@using Fleet.ViewModels

@{
    ViewBag.Title = "Advice Generation Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.Advice.AdviceDt = System.DateTime.Now;
    string CurrDate = System.DateTime.Now.ToString();
    FleetDataService.MasterService CSMaster = new FleetDataService.MasterService();
    List<SelectListItem> DocPrefix = new List<SelectListItem>(){
                           new SelectListItem { Text = "Debit Advcie", Value = "D",},
                                           new SelectListItem { Text = "Credit Advice", Value = "C"},
                           };


    objDate OD = new objDate();
    OD.ControlId = "Advice.AdviceDt";
    OD.ControlValue = Model.Advice.AdviceDt.ToString();
    OD.ModuleCode = "09";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Advice Generation
                </div>
            </div>
            <div class="portlet-body">

                @using (Html.BeginForm("AdviceGenerationSubmit", "Voucher", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
                {
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Advice No.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.Adviceno, new { placeholder = "System Genrated", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Advice Type</label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(m => m.Advice.Advicetype, new SelectList(DocPrefix, "Value", "Text"), new { @class = "select2 form-control required" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Advice Date</label>
                                    <div class="col-md-6">
                                        @*<div class="input-group date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d">
                                                @Html.TextBox("Advice.AdviceDt", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.Advice.AdviceDt).ToString("dd MMM yyyy")), new { @class = "form-control required " })
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>*@
                                        @{
                                            Html.RenderPartial("../UserControls/_DocumentDate", OD);
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Generated By</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.Advice.AdvGenByCd, new { @class = "form-control required", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Raised By</label>
                                    <div class="col-md-6">
                                        @*   @Html.TextBoxFor(m => m.Advice.RaisedBy, new { @class = "form-control required", @readonly = "true" })*@
                                        @Html.TextBox("RaisedBy1", Model.Advice.RaisedBy, new { @class = "form-control required", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Raised On Branch </label>
                                    <div class="col-md-6">
                                        @*@Html.DropDownListFor(m => m.Advice.RaisedOn, new SelectList(ListLocation, "LocCode", "LocName"), "", new { @class = "select2 form-control required" })*@
                                        @Html.TextBoxFor(m => m.Advice.RaisedOn, new { placeholder = "Raised On Branch", @class = "required2 form-control required" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Reason</label>
                                    <div class="col-md-6">
                                        @Html.TextAreaFor(m => m.Advice.reason, new { @class = "form-control required required2", @placeholder = "Reason" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Enclosed Documents</label>
                                    <div class="col-md-6">
                                        @Html.TextAreaFor(m => m.Advice.enclosed, new { @class = "form-control required required2", @placeholder = "Enclosed Documents" })
                                        @Html.HiddenFor(m => m.WAD.Vouchertype)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Advice Amount</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.Advice.AdviceAMT, new { @class = "form-control required required2", @type = "number", style = "text-align: right;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="center">
                            <h4><b>Note :Please Enter the Payment details if payment amount > 0</b></h4>
                        </div>
                        <div class="row">
                            @foreach (var itms in Model.WADListing)
                            {
                                @Html.Partial("_PaymentModePartial", itms)
                            }

                            @*@{
                                Html.Partial("_PaymentModePartial", Model.WADListing);
                                        }*@
                        </div>
                        @Html.HiddenFor(m => m.WAD.TransactionMode)
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <a class="btn btn-sm default controls" href="@Url.Content("~/Voucher/AdviceGenerationCriteria")"> <i class="fa fa-refresh"> </i>&nbsp;Reset</a>
                            <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                                            }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var handleDatetimePicker = function () {

            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    startDate: new Date(),
                    autoclose: true
                });
                $('.date-picker1').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    //startDate: new Date(),
                    autoclose: true
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
            $(".form_meridian_datetime").datetimepicker({
                isRTL: App.isRTL(),
                format: "dd MM yyyy HH:ii P",
                showMeridian: true,
                autoclose: true,
                startDate: new Date('@CurrDate'),
                pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                todayBtn: true
            });

            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });

        }

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {

                },

                messages: {

                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.attr("name") == "gender") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_gender_error");
                    } else if (element.attr("name") == "payment[]") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_payment_error");
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    // $("#btnSubmit").hide();
                    //  form.submit();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                ControlDate();
                StrURL = DomainName + "/Operation/GetDestinationLocations_With_HQTR";
                JsonDDLSelectCode("Advice_RaisedOn", StrURL);
                var Prefix = "PAYMENTMODE_1__";
                //$("#" + Prefix + "NETAMOUNT").removeAttr('readonly');
                Formvalidate(DomainName);
                handleDatetimePicker();
                OnLoadFunction(DomainName, Prefix);
                $("#PAYMENTMODE_1__NETAMOUNT").val("0");
                $('#btnSubmit').click(function () {
                    //alert($("#submit_form").valid());
                    if ($("#submit_form").valid()) {
                        //   SubmmitFunction();
                        App.blockUI({ boxed: true });
                        document.forms["submit_form"].submit();
                    }
                });


                $("#Advice_AdviceAMT").live('change', function () {
                    $("#" + Prefix + "AmountApplicable").val($("#Advice_AdviceAMT").val());
                    $("#" + Prefix + "NETAMOUNT").val($("#Advice_AdviceAMT").val());
                });
            }
        }
    }();
</script>


<script type="text/javascript" src="~/Scripts/AccountControl.js?ver<%=DateTime.Now.Ticks.ToString()%"></script>