﻿@model FleetDataService.ViewModels.ChqDepositVoucherViewModel
@using FleetDataService.Models;
@using Fleet.Classes;
@{
    ViewBag.Title = "ChequeDepositVoucher";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();

    var BANK = DataRowToObject.CreateListFromTable<WEBX_chq_det>(MS.CashBankAccount(@ViewBag.BaseLocationCode, "BANK"));
    int i = 1;
    int j = 1;
}

<div class="row">
    <div class="col-md-10">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Cheque Deposit Voucher
                </div>
            </div>
            <div class="portlet-body">               
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-hide">
                        <button class="close" data-close="alert"></button>
                        Your form validation is successful!
                    </div>

                    @using (Html.BeginForm("ChequeDepositVoucherSubmit", "Voucher" , FormMethod.Post, new { id = "form_sample", @class = "form-horizontal" }))
                    {
                        <div class="form-body">
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label col-md-2">
                                            Voucher No
                                        </label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(c => c.chqdet.voucherNo, new { placeholder = "System Generated", @class = "form-control ", @readonly = "True" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label col-md-2">
                                            Voucher Date
                                        </label>
                                        <div class="col-md-4">
                                            <div class="input-group input-medium date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="">
                                                @Html.TextBox("chqdet.VoucherDate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.chqdet.VoucherDate).ToString("dd MMM yyyy")), new { @class = "form-control required", @readonly = "True" })
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label col-md-2" style="text-align: left;">
                                            Total Amount
                                        </label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(c => c.chqdet.TotalAmt, new { placeholder = " ", @class = "form-control required required2", @readonly = "True", @number = "True", @min = "1" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label col-md-2" style="text-align: left;">
                                            Deposited In Bank
                                        </label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(model => model.chqdet.Bankaccode, new SelectList(BANK, "acccode", "Accdesc"), "", new { @class = "select2 required required2 form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label col-md-2" style="text-align: left;">
                                            Narration
                                        </label>
                                        <div class="col-md-4">
                                            @Html.TextAreaFor(c => c.chqdet.Narration, new { placeholder = "Narration", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table class="table table-striped table-bordered table-hover table-full-width" id="Sample1">

                                <thead class="flip-content">
                                    <tr>
                                        <th class="center">
                                            Select
                                        </th>
                                        <th class="center">
                                            Cheque No
                                        </th>
                                        <th class="center">
                                            Cheque Date
                                        </th>
                                        <th class="center">
                                            Cheque Amount
                                        </th>
                                        <th class="center">
                                            Entry Date
                                        </th>
                                        <th class="center">
                                            Party
                                        </th>
                                        <th class="center">
                                            Issued Bank
                                        </th>
                                        <th class="center">
                                            Branch
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="MRTable">
                                    @foreach (var item in Model.ChqdetList)
                                    {
                                        item.Srno = i;
                                        Html.RenderPartial("_ChequeDepositVoucher", item);
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" id="btnSubmit" class="btn blue"><i class="fa fa-search"></i>&nbsp; Submit</button>
                                </div>
                            </div>
                        </div>
                    }                
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {
                },
                messages: { // custom messages for radio buttons and checkboxes
                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.attr("name") == "gender") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_gender_error");
                    } else if (element.attr("name") == "payment[]") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_payment_error");
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();

                    App.blockUI({ boxed: true });
                    document.forms[1].submit();

                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }

            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                var Total = 0;

                @foreach (var ite in Model.ChqdetList)
                {
                    ite.Srno = j;

                     var IsChecked = "Bank_" + ite.Srno.ToString() + "__IsChecked";
                     var chqamt = "Bank_" + ite.Srno.ToString() + "__chqamt";

                     <text>

                $("#@IsChecked").change(function () {

                    var cheked = $(this).is(":checked");
                    if (cheked) {
                        Total = parseFloat(Total) + parseFloat($("#@chqamt").val());
                        $(this).val(cheked);
                    }
                    else {
                        Total = parseFloat(Total) - parseFloat($("#@chqamt").val());
                        $(this).val(cheked);
                    }

                    $('#chqdet_TotalAmt').val(Total);
                });


                </text>
                    j++;
                 }

                $("#btnSubmit").click(function () {
                    App.blockUI({ boxed: true });
                });
            }
        };
    }();

</script>
