﻿@model CYGNUS.Models.webx_Acccode_Details
@using Fleet.ViewModels

@{
    ViewBag.Title = "Contra Voucher";
    Layout = "~/Views/Shared/_Layout.cshtml";
 
    Model.Chequedate = System.DateTime.Now;
    Model.Chequedate1 = System.DateTime.Now;
    string CurrDate = System.DateTime.Now.ToString();
    List<SelectListItem> list = new List<SelectListItem> { };
    Model.Debit1 = "0";
    DateTime FinYearStartDate = Convert.ToDateTime(ViewBag.FinYearStartDate);
    DateTime FinYearEndDate = Convert.ToDateTime(ViewBag.FinYearEndDate);
    if (System.DateTime.Now > FinYearEndDate)
    {
        Model.Transdate = FinYearEndDate;
    }
    Model.Transdate = System.DateTime.Now;
    objDate OD = new objDate();
    OD.ControlId = "Transdate";
    OD.ControlValue = Model.Transdate.ToString();
    OD.ModuleCode = "17";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">

                @using (Html.BeginForm("ContraVoucher", "Voucher", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
                {
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Voucher No.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.Voucherno, new { placeholder = "System Genrated", @class = "form-control required2", @readonly = "true" })
                                        @Html.HiddenFor(c => c.Srno)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Voucher Date</label>
                                    <div class="col-md-4">
                                        @*<div class="input-group input-medium date Voucherdate-picker date-pickervch" data-date-format="dd MMM yyyy">
                                            @Html.TextBox("Transdate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.Transdate).ToString("dd MMM yyyy")), new { @class = "form-control required required2 ", @readonly = "true" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>*@
                                        @{
                    Html.RenderPartial("../UserControls/_DocumentDate", OD);
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Manual No.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.ManualNo, new { @class = "form-control required required2", @placeholder = "Manual No." })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Reference No.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.ReferenceNo, new { @class = "form-control required required2", @placeholder = "Reference No." })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Prepared At</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.Brcd, new { @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Prepared By </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.Entryby, new { @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Narration</label>
                                    <div class="col-md-6">
                                        @Html.TextAreaFor(m => m.Narration, new { @class = "form-control required required2 uppercase", @placeholder = "Narration" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="form-section bold" id="errorMsg" style="color: #b94a48;"></h5>
                        <div class="row">
                            <table class="table table-striped table-bordered table-hover table-full-width" id="Sample1">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="center">
                                            Sr No.
                                        </th>
                                        <th class="center">
                                            Pay Mode
                                        </th>
                                        <th class="center">
                                            Account Code
                                        </th>
                                        <th class="center">
                                            Debit
                                        </th>
                                        <th class="center">
                                            Credit
                                        </th>
                                        <th class="center">
                                            Cheque / Ref. No.
                                        </th>
                                        <th class="center">
                                            Cheque / Ref. Date
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center">1</td>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-11">
                                                    @Html.DropDownListFor(m => m.PayMode, new List<SelectListItem>
                                         { new SelectListItem { Text = "", Value = "",Selected=true},
                                           new SelectListItem { Text = "BANK", Value = "BANK",},
                                           new SelectListItem { Text = "CASH", Value = "CASH"},
                                           //new SelectListItem { Text = "FUEL CARD", Value = "FUEL CARD"},
                                         },
                                            new { @class = "select2 required required2 form-control CheckCheque1" })
                                                </div>
                                            </div>
                                        </td>
                                        <td class="center">
                                            <div class="form-group">
                                                <div class="col-md-11">
                                                    @Html.DropDownListFor(m => m.Acccode, new SelectList(list, "Value", "Text"), "", new { @class = "form-control select2 span6 required required2 clsSurveyEdit" })
                                                </div>
                                            </div>
                                        </td>
                                        <td class="center">
                                            <div class="form-group">
                                                <div class="col-md-11">
                                                    @Html.TextBoxFor(c => c.Debit, new { placeholder = "0.00", @class = "form-control required required2 ", @type = "number", style = "text-align: right;" })
                                                </div>
                                            </div>
                                        </td>
                                        <td class="center">
                                            <div class="form-group">
                                                <div class="col-md-11">
                                                    @Html.TextBoxFor(c => c.Credit, new { placeholder = "0.00", @class = "form-control required required2 CheckCheque1 ", @type = "number", style = "text-align: right;" })
                                                </div>
                                            </div>
                                        </td>
                                        <td class="center">
                                            <div class="form-group">
                                                <div class="col-md-11">
                                                    @Html.TextBoxFor(c => c.ChequeNo, new { @class = "form-control Chequeno", @placeholder = "Cheque / Ref. No.", @maxlength = 6 })
                                                </div>
                                            </div>
                                        </td>
                                        <td class="center">
                                            <div class="form-group">
                                                <div class="col-md-11">
                                                    <div class="input-group input-medium date date-picker" data-date-format="dd MMM yyyy" >
                                                        @Html.TextBox("Chequedate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.Chequedate).ToString("dd MMM yyyy")), new { @class = "form-control Chequedate required ", @readonly = "true" })
                                                        <span class="input-group-btn Chequedatebtn">
                                                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center">2</td>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-11">
                                                    @Html.DropDownListFor(m => m.PayMode1, new List<SelectListItem>
                                         { new SelectListItem { Text = "", Value = "",Selected=true},
                                           new SelectListItem { Text = "BANK", Value = "BANK",},
                                           new SelectListItem { Text = "CASH", Value = "CASH"},
                                           //new SelectListItem { Text = "FUEL CARD", Value = "FUEL CARD"},
                                         },
new { @class = "select2 required required2 form-control CheckCheque2" })
                                                </div>
                                            </div>
                                        </td>
                                        <td class="center">
                                            <div class="form-group">
                                                <div class="col-md-11">
                                                    @Html.DropDownListFor(m => m.Acccode1, new SelectList(list, "Value", "Text"), "", new { @class = "form-control select2 required required2" })
                                                </div>
                                            </div>
                                        </td>
                                        <td class="center">
                                            <div class="form-group">
                                                <div class="col-md-11">
                                                    @Html.TextBoxFor(c => c.Debit1, new { placeholder = "0.00", @class = "form-control required required2", @type = "number", style = "text-align: right;" })
                                                </div>
                                            </div>
                                        </td>
                                        <td class="center">
                                            <div class="form-group">
                                                <div class="col-md-11">
                                                    @Html.TextBoxFor(c => c.Credit1, new { placeholder = "0.00", @class = "form-control required required2 CheckCheque2", @type = "number", style = "text-align: right;" })
                                                </div>
                                            </div>
                                        </td>
                                        <td class="center">
                                            <div class="form-group">
                                                <div class="col-md-11">
                                                    @Html.TextBoxFor(c => c.ChequeNo1, new { @class = "form-control Chequeno1", @placeholder = "Cheque / Ref. No.", @maxlength = 6 })
                                                </div>
                                            </div>
                                        </td>
                                        <td class="center">
                                            <div class="form-group">
                                                <div class="col-md-11">
                                                    <div class="input-group input-medium date date-picker" data-date-format="dd MMM yyyy" >
                                                        @Html.TextBox("Chequedate1", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.Chequedate1).ToString("dd MMM yyyy")), new { @class = "form-control Chequedate1 required ", @readonly = "true" })
                                                        <span class="input-group-btn Chequedate1btn">
                                                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        @*<div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" id="btnSubmit" class="btn blue controls">Submit </button>
                                    </div>
                                </div>
                            </div>*@
                        <div class="form-actions fluid ">
                            <div class="col-md-offset-4 col-md-8">
                                <a href="@Url.Content("~/Voucher/ContraVoucher")" class="btn btn-sm default controls"><i class="fa fa-refresh"></i>&nbsp;Reset</a>
                                @*<button type="submit" id="btnSubmit" class="btn btn-sm green controls submit"><i class="fa fa-check"></i>&nbsp;Submit </button>*@
                                <button type="button" id="btnSubmit" class="btn btn-sm green controls submit"><i class="fa fa-check"></i>&nbsp;Submit</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var handleDatetimePicker = function () {
            var startDate = new Date();
            var endDate = new Date();
            if (endDate > new Date('@FinYearEndDate')) {
                endDate = new Date('@FinYearEndDate');
            }
            var newStartDt = new Date('@FinYearStartDate');
            var daysType = '@Model.BackDateAccess.DaysType';
            var noOfDays = '@Model.BackDateAccess.AllowedDays';

            @if (Model.BackDateAccess.UserId != null && Model.BackDateAccess.IsActive ==true)
            {
                    <text>
            if (daysType == '+') {
                endDate.setDate(endDate.getDate() + parseInt(noOfDays));
            }
            else {
                startDate.setDate(startDate.getDate() - parseInt(noOfDays));
                if (startDate < newStartDt) {
                    startDate = newStartDt;
                }
            }
            </text>
            }

            //$("#WAD_VoucherDate").prop("disabled", true);
            if (jQuery().datepicker) {
                $('.date-pickervch').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    startDate: new Date(new Date($("#Transdate").val()).setDate(new Date($("#Transdate").val()).getDate() - 2)),
                    endDate: new Date($("#Transdate").val()),
                    autoclose: true
                });

                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    //startDate: new Date(),
                    // endDate: endDate,
                    autoclose: true
                });

                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }


            $('#Transdate').change(function () {

                $('.date-picker').datepicker('remove');
                var chkStartdate = new Date($('#Transdate').val());
                //chkStartdate.setDate(chkStartdate.getDate() + 1);
                $('.Chequedate').val('');

                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    //startDate: chkStartdate, ChqDt backdate validation stoped by dipak as per sinstruction by rahul savla on 06 dec 2018
                    // endDate: endDate,
                    autoclose: true
                });
                $('body').removeClass("modal-open");
            });
        }
        //var Select2Class = function (DomainName, Id) {

        //    $('#' + Id).select2({
        //        placeholder: "Select an option",
        //        allowClear: true
        //    });
        //};

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {

                },

                messages: {

                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.attr("name") == "gender") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_gender_error");
                    } else if (element.attr("name") == "payment[]") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_payment_error");
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    $("#btnSubmit").hide();
                    //  $("#CMLM_LocationId").removeAttr('disabled');
                    //  $("#loading").html("hell");
                    //  $("#loading").show();
                    //alert('Hii')
                    form.submit();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }

            });

        }

        var CheckAccountValidation = function (DomainName) {
            //alert("CheckAccountValidationx");
            var AccountCode = $("#Acccode").val();
            var AccountCode1 = $("#Acccode1").val();
            // alert(AccountCode + "----" + AccountCode1)
            if (AccountCode != "" && AccountCode1 != "") {
                if (AccountCode == AccountCode1) {
                    alert("You Can't Enter Same Account Ledger.!")
                    //$("#Acccode").select2('data', null);
                    $("#Acccode1").select2('data', null);
                    $("#PayMode1").select2('data', null);

                    //$("#Acccode1").select2('data', null)
                    //$("#Acccode").select2('data', null)

                    $("#Acccode").focus();

                }
            }
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                $("#Debit").focusout(function () {

                    if (parseInt($(this).val()) == 0) {
                        $("#Debit").attr("min", 0);
                        $("#Credit1").attr("min", 0);
                        $("#Credit1").val("0");
                        $("#Credit").attr("number", true).attr("min", 1).addClass("required required2");
                        $("#Debit1").attr("number", true).attr("min", 1).addClass("required required2");
                    }
                });

                $("#Credit").focusout(function () {

                    if (parseInt($(this).val()) == 0) {
                        $("#Credit").attr("min", 0);
                        $("#Debit1").attr("min", 0);
                        $("#Debit1").val("0");
                        $("#Debit").attr("number", true).attr("min", 1).addClass("required required2");
                        $("#Credit1").attr("number", true).attr("min", 1).addClass("required required2");
                    }
                });

                Formvalidate(DomainName);
                handleDatetimePicker();
                ControlDate();
                //$(".ChequeNo").live('focusout', function () {
                //    alert("hi" + $(this).val());
                //    var ChequeNo1 = $(".Chequeno1").val();
                //    if (ChequeNo1 == "") {
                //        $(".Chequeno1").val($(this).val());
                //    }
                //});

                //$(".ChequeNo1").focusout(function () {
                //    var ChequeNo = $(".Chequeno").val();
                //    if (ChequeNo == "") {
                //        $(".Chequeno").val($(this).val());
                //    }
                //});

                $('#btnSubmit').click(function () {

                    CheckAccountValidation();
                    var Debit = $("#Debit").val();
                    var Credit = $("#Credit").val();

                    var Debit1 = $("#Debit1").val();
                    var Credit1 = $("#Credit1").val();


                    var sumDebit = parseInt(Debit) + parseInt(Debit1);
                    var sumCredit = parseInt(Credit) + parseInt(Credit1);


                    if (parseInt(sumDebit) != parseInt(sumCredit)) {

                        $("#errorMsg").text("Please Enter Valid both Debit and Credit Charges");
                        return false;
                    }
                    else { $("#errorMsg").text(''); }

                    if (parseInt(sumDebit) == "0") {

                        $("#errorMsg").text("Please Enter Valid Debit Charges. Both Debit Charge not Zero");
                        return false;
                    }
                    else { $("#errorMsg").text(''); }

                    if (parseInt(sumCredit) == "0") {

                        $("#errorMsg").text("Please Enter Valid Credit Charges. Both Credit Charge not Zero");
                        return false;
                    }
                    else { $("#errorMsg").text(''); }

                    if (parseInt(Debit) != parseInt(Credit1)) {

                        $("#errorMsg").text("Please Enter Valid Debit and Credit Charges. Debit=" + Debit + " and Credit=" + Credit1 + "");
                        return false;
                    }
                    else { $("#errorMsg").text(''); }

                    if (parseInt(Debit1) != parseInt(Credit)) {

                        $("#errorMsg").text("Please Enter Valid Debit and Credit Charges. Debit=" + Debit1 + " and Credit=" + Credit + "");
                        return false;
                    } else { $("#errorMsg").text(''); }

                    Formvalidate(DomainName);

                    if ($("#submit_form").valid()) {
                        $("#errorMsg").text('');
                        App.blockUI({ boxed: true });
                        document.forms["submit_form"].submit();
                    }

                });

                $("#PayMode").change(function () {

                    var PayMode = $(this).val();
                    if (PayMode != "") {
                        App.blockUI({ boxed: true });
                        var StrURL = DomainName + "/Voucher/GetLedgerAccountFromPaymode?Paymode=" + PayMode;
                        $("#Acccode").select2('data', null)
                        FillDropDownfromOther("Acccode", StrURL, "Account Code");
                        $(this).val(PayMode);
                    }

                    if (PayMode == "CASH") {
                        $(".Chequeno").removeClass("required required2");
                        $(".Chequeno").attr("disabled", true);
                        $(".Chequedate").attr("disabled", true);
                        $(".Chequedatebtn").hide()
                        $(".Chequedate").val("");
                    }
                    else if (PayMode == "BANK") {
                        $(".Chequeno").attr("disabled", false);
                        //$(".Chequeno").addClass("required required2");
                        $(".Chequedate").attr("disabled", false);
                        $(".Chequedatebtn").show()
                        $(".Chequedate").val("@System.DateTime.Now.ToString("dd MMM yyyy")");
                    }
                });

                $("#PayMode1").change(function () {

                    var PayMode = $(this).val();
                    if (PayMode != "") {
                        App.blockUI({ boxed: true });

                        var StrURL = DomainName + "/Voucher/GetLedgerAccountFromPaymode?Paymode=" + PayMode;
                        $("#Acccode1").select2('data', null)
                        FillDropDownfromOther("Acccode1", StrURL, "Account Code");
                        $(this).val(PayMode);
                    }

                    if (PayMode == "CASH") {
                        $(".Chequeno1").removeClass("required required2");
                        $(".Chequeno1").attr("disabled", true);
                        $(".Chequedate1").val("");
                        $(".Chequedate1").attr("disabled", true);
                        $(".Chequedate1btn").hide()
                    }
                    else if (PayMode == "BANK") {
                        $(".Chequeno1").attr("disabled", false);
                        // $(".Chequeno1").addClass("required required2");
                        $(".Chequedate1").attr("disabled", false);
                        $(".Chequedate1btn").show()
                        $(".Chequedate1").val("@System.DateTime.Now.ToString("dd MMM yyyy")");
                    }
                });

                $(".CheckDrcr").change(function () {


                    var Credit = $("#Credit").val();
                    var Credit1 = $("#Credit1").val();
                    var Paymode = $("PayMode").val();
                    var Paymode1 = $("PayMode1").val();
                    if (Credit > 0) {
                        //alert("credit");
                        $(".Chequeno").removeAttr('readonly');
                        //$(".Chequeno").addClass("required required2");
                    }
                    else {
                        //alert("credit else");
                        $(".Chequeno").val("");
                        $(".Chequeno").attr("disabled", true);
                        $(".Chequeno").removeClass("required required2");
                    }
                    if (Credit1 > 0) {
                        //alert("credit1");
                        $(".Chequeno1").removeAttr('readonly');
                        //$(".Chequeno1").addClass("required required2");
                    }
                    else {
                        //alert("credit1 else");
                        $(".Chequeno1").val("");
                        $(".Chequeno1").attr("disabled", true);
                        $(".Chequeno1").removeClass("required required2");
                    }
                });

                $(".CheckCheque1").change(function () {
                    var Credit = $("#Credit").val();
                    var Paymode = $("#PayMode").val();
                    //if (Credit > 0 && Paymode == "BANK") {
                    //    $(".Chequeno").removeAttr('readonly');
                    //    $(".Chequeno").attr("disabled", false);
                    //    $(".Chequeno").addClass("required");
                    //}
                    //else {
                    //    $(".Chequeno").val("");
                    //    $(".Chequeno").attr("disabled", true);
                    //    $(".Chequeno").removeClass("required");
                    //}
                });

                $(".CheckCheque2").change(function () {
                    var Credit1 = $("#Credit1").val();
                    var Paymode1 = $("#PayMode1").val();
                    //if (Credit1 > 0 && Paymode1 == "BANK") {
                    //    $(".Chequeno1").removeAttr('readonly');
                    //    $(".Chequeno1").attr("disabled", false);
                    //    $(".Chequeno1").addClass("required");
                    //}
                    //else {
                    //    $(".Chequeno1").val("");
                    //    $(".Chequeno1").attr("disabled", true);
                    //    $(".Chequeno1").removeClass("required");
                    //}
                });

                $("#ManualNo").change(function () {
                    var ManualNo = $("#ManualNo").val();
                    var strurl = DomainName + '/Voucher/CheckManualNoForVouchers?ManualNo=' + ManualNo;

                    $.ajax({
                        url: strurl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {

                            App.unblockUI();
                            if (parseInt(data.Count) > 0) {
                                alert("Manual Voucher Number is Already Exists... Please Enter Other Mumber")
                                $("#ManualNo").val("");
                                $("#ManualNo").focus();
                            }
                        },
                        error: function (req, status, error) {
                            App.unblockUI();
                            //alert("error--" + req + "---" + status + "---" + error);
                        }
                    });

                });

                $("#ReferenceNo").change(function () {
                    var ReferenceNo = $("#ReferenceNo").val();
                    var strurl = DomainName + '/Voucher/CheckReferenceNoForVouchers?ReferenceNo=' + ReferenceNo;

                    $.ajax({
                        url: strurl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {

                            App.unblockUI();
                            if (parseInt(data.Count) > 0) {
                                alert("ReferenceNo Number is Already Exists... Please Enter Other Mumber")
                                $("#ReferenceNo").val("");
                                $("#ReferenceNo").focus();
                            }
                        },
                        error: function (req, status, error) {
                            App.unblockUI();
                            //alert("error--" + req + "---" + status + "---" + error);
                        }
                    });

                });
            }
        }
    }();
</script>
