﻿@model CYGNUSCRMDataService.ViewModels.DebitCreditVoucherViewModel
@using CYGNUSCRM.Helpers;
@using CYGNUSCRMDataService.Models;
@using CYGNUSCRM.Classes;

@{
    ViewBag.Title = "Debit Credit Voucher";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CYGNUSCRMDataService.MasterService MS = new CYGNUSCRMDataService.MasterService();
    CYGNUSCRMDataService.OperationService CSOPN = new CYGNUSCRMDataService.OperationService();
    var id = ViewBag.Id;
    int I = 1;
    string CurrDate = System.DateTime.Now.ToString();

    List<Webx_Master_General> ListBusinessdivision = MS.GetGeneralMasterObject().Where(c => c.CodeType == "BUT").ToList();
    List<webx_acctinfo> ListTDSSection = CSOPN.GetTDSSectionList_NewPortal(ViewBag.BaseLocationName, ViewBag.BaseUserName, "TDS");
    List<webx_location> ListLocations = new List<webx_location>();
    ListLocations = MS.GetLocationDetails().ToList();

    List<SelectListItem> ListSelectVoucherType = new List<SelectListItem>(){
                            new SelectListItem { Text = "Manual Debit Voucher", Value = "1"},
                            new SelectListItem { Text = "Manual Credit Voucher", Value = "2"},
                           };
    DateTime FinYearStartDate = Convert.ToDateTime(ViewBag.FinYearStartDate);
    DateTime FinYearEndDate = Convert.ToDateTime(ViewBag.FinYearEndDate);

    if (System.DateTime.Now > FinYearEndDate)
    {
        Model.WAD.VoucherDate = FinYearEndDate;
    }
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor" id="Enquiry_form_wizard">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Debit/Credit Voucher
                </div>
            </div>

            <div class="portlet-body">
                @using (Html.BeginForm("DebitCreditVoucher", "Voucher", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
                {
                    <div class="alert alert-danger display-none">
                        <button class="close" data-dismiss="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-none">
                        <button class="close" data-dismiss="alert"></button>
                        Your form validation is successful!
                    </div>

                    <div class="form-body">
                        <h3 class="block form-section">Manual Debit/Credit Voucher</h3>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Select Voucher Type.</label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(m => m.WAD.SelectVoucherType, new SelectList(ListSelectVoucherType, "Value", "Text", "1"), "", new { @class = "form-control required required2 select2" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Voucher No.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.VoucherNo, new { placeholder = "System Genrated", @class = "form-control required2", @disabled = "disabled" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Voucher Date
                                    </label>
                                    <div class="col-md-6">
                                        <div class="input-group date date-pickervch" data-date-format="dd MMM yyyy">
                                            @Html.TextBox("WAD.VoucherDate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.WAD.VoucherDate).ToString("dd MMM yyyy")), new { @class = "form-control required2", @readonly = "True" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Manual No.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.ManualNo, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Prepared At Location
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.WAD.Preparedatlocation, new { @class = "form-control required2", @readonly = "true" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Prepard By</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.PrepardBy, new { @class = "form-control required2", @readonly = "true" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Business Division
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(m => m.WAD.BusinessDivision, new SelectList(ListBusinessdivision, "CodeId", "CodeDesc"), "", new { @class = "form-control required required2 select2" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Accounting Location
                                    </label>
                                    <div class="col-md-6">
                                        @*@Html.DropDownListFor(m => m.WAD.AccountingLocation, new SelectList(ListLocations, "LocCode", "LocName"), "", new { @class = "form-control required required2 select2 span6" })*@
                                        @Html.TextBoxFor(m => m.WAD.AccountingLocation, new { placeholder = "Accounting Location", @class = "required2 form-control required" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Prepared For</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.PreparedFor, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Reference No.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.ReferenceNo, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Narration</label>

                                    <div class="col-md-6">
                                        @Html.TextAreaFor(c => c.WAD.Narration, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class=" form-group">
                                <div class="col-md-1" style="text-align:right">
                                    <label class="control-label">Paid To:</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-12" id="inline_content">
                                            <div class="form-group">

                                                @Html.HiddenFor(c => c.WAD.CustTyp)

                                                <label class="control-label col-md-2">
                                                    <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Cust" value="P" checked="true" />
                                                    <span>Customer</span>
                                                </label>
                                                <label class="control-label col-md-2">
                                                    <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="vend" value="V" />
                                                    Vendor
                                                </label>
                                                <label class="control-label col-md-2">
                                                    <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Emplo" value="E" />
                                                    Employee
                                                </label>
                                                <label class="control-label col-md-2">
                                                    <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Driv" value="D" />
                                                    Driver
                                                </label>
                                                <label class="control-label col-md-2">
                                                    <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Vehi" value="L" />
                                                    Vehicle
                                                </label>
                                                <label class="control-label col-md-2">
                                                    <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Other" value="O" />
                                                    Other
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row col-md-12">
                                            <div class="col-md-6">
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(c => c.WAD.CustCode, new { placeholder = "", @class = "m-wrap form-control required required2" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label col-md-4">8888:</label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(c => c.WAD.CustomerName, new { @class = "form-control", @readonly = "true" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <table id="container" border="1" class="table table-striped table-bordered table-hover">
                                    <thead class="flip-content">
                                        <tr>
                                            <th class="center">Sr No.</th>
                                            <th class="center">Account Code</th>
                                            <th class="center">Amount</th>
                                            @*<th class="center">Cost Type</th>
                                                <th class="center">Cost Code</th>*@
                                            <th class="center">Narration</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var itm in Model.WADList)
                                        {
                                            Html.RenderPartial("_DebitCreditVoucherPartial", itm);
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-offset-7 col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Total</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.SumAmount, new { placeholder = "0.00", @class = "form-control required required2 center", @readonly = "true", @min = "1" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button type="button" id="btnAddRows" class="btn btn-sm blue pull-right"><i class="fa fa-plus"></i> Add New Row</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="block form-section col-md-12 center">
                                    @Html.CheckBoxFor(m => m.WAD.IsServicetaxapply, new { @class = "" }) Plz Check Here to Enable Service Tax
                                    <label class="control-label col-md-6">
                                        ADD Service Tax(+)
                                    </label>
                                </h4>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label col-md-4">Amount Applicable  </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WAD.AmountApplicable, new { @class = "required required2 form-control", @readonly = "true", @type = "number", style = "text-align: right;" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label col-md-4">Service Tax (+)  </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WAD.ServiceTax, new { @class = "form-control", @readonly = "true", @number = "true", style = "text-align: right;" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label col-md-4">Education Cess (+)</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WAD.EducationCess, new { @class = "form-control", @readonly = "true", @number = "true", style = "text-align: right;" })
                                            @Html.HiddenFor(m => m.WAD.ServiceTaxRate)
                                            @Html.HiddenFor(m => m.HdnEduCessRate)
                                            @Html.HiddenFor(m => m.HdnHEduCessRate)
                                            @Html.HiddenFor(m => m.HdnServiceTaxRate)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label col-md-4">High Education Cess (+)</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WAD.HEducationCess, new { @class = "form-control", @readonly = "true", @type = "number", style = "text-align: right;" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label col-md-4">Service Tax Reg No.  </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WAD.ServiceTaxRegNo, new { @class = "form-control", @placeholder = "AAAAA0000AAA000", @maxlength = 15 })
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <h4 class="block form-section col-md-10 center">
                                    @Html.CheckBoxFor(m => m.WAD.IsTDStaxapply) Plz Check Here to Enable TDS
                                    <label class="control-label col-md-6">
                                        LESS TDS (-)
                                    </label>
                                </h4>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label col-md-4">Amount Applicable</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WAD.AmountApplicableForTDS, new { @class = "form-control", @readonly = "true", @type = "number", style = "text-align: right;" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label col-md-4">TDS Section</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(m => m.WAD.TDSSection, new SelectList(ListTDSSection, "Acccode", "Accdesc"), "", new { @class = "form-control select2", @readonly = true })
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label col-md-4">TDS Rate</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WAD.TDSRate, new { @class = "form-control", @readonly = true, @type = "number", style = "text-align: right;" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label col-md-4">TDS Amount (-)</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WAD.TDSAmount, new { @class = "form-control", @readonly = true, @type = "number", style = "text-align: right;" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label col-md-4">Pan Number.</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WAD.PANNumber, new { @class = "form-control", @placeholder = "AAAAA0000A", @maxlength = 15 })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div class="form-group">
                            @foreach (var itms in Model.WADListing)
                            {
                                itms.Deposited = true;
                                @Html.Partial("_PaymentModePartial", itms)
                            }
                        </div>
                        @*@Html.HiddenFor(m => m.WAD.TransactionMode)*@
                        @*<div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">
                                                Upload Vendor Invoice
                                            </label>
                                            <div class="col-md-6">
                                                <input type="file" name="file">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>

                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <a class="btn btn-sm default controls" href="@Url.Content("~/Voucher/DebitCreditVoucher/0")"> <i class="fa fa-refresh"> </i>&nbsp;Reset</a>
                            <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    var FormComponents = function (DomainName) {
        debugger
        var handleDatetimePicker = function () {
            var startDate = new Date();
            var endDate = new Date();
            if (endDate > new Date('@FinYearEndDate')) {
                endDate = new Date('@FinYearEndDate');
            }
            var newStartDt = new Date('@FinYearStartDate');
            var daysType = '@Model.BackDateAccess.DaysType';
            var noOfDays = '@Model.BackDateAccess.AllowedDays';
            @if (Model.BackDateAccess.UserId != null && Model.BackDateAccess.IsActive ==true)
             {
                 <text>
            if (daysType == '+') {
                endDate.setDate(endDate.getDate() + parseInt(noOfDays));
            }
            else {
                startDate.setDate(startDate.getDate() - parseInt(noOfDays));
                if (startDate < newStartDt) {
                    startDate = newStartDt;
                }
            }
            </text>
        }

            //$("#WAD_VoucherDate").prop("disabled", true);
            if (jQuery().datepicker) {
                $('.date-pickervch').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    startDate: startDate,
                    endDate: endDate,
                    autoclose: true
                });

                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    startDate: startDate,
                    endDate: endDate,
                    autoclose: true
                });

                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }


            $('#WAD_VoucherDate').change(function () {

                $('.date-picker').datepicker('remove');
                var chkStartdate = new Date($('#WAD_VoucherDate').val());
                //chkStartdate.setDate(chkStartdate.getDate() + 1);
                $('#PAYMENTMODE_1__Chequedate').val('');

                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    startDate: startDate,
                    endDate: endDate,
                    autoclose: true
                });
                $('body').removeClass("modal-open");
            });
        }

        var Select2Class = function (DomainName, Id) {

            $('#' + Id).select2({
                placeholder: "Select an option",
                allowClear: true
            });
        };

        var Formvalidate = function (DomainName) {

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {

                },
                messages: { // custom messages for radio buttons and checkboxes

                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.attr("name") == "gender") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_gender_error");
                    } else if (element.attr("name") == "payment[]") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_payment_error");
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });


            $('#btnSubmit').click(function () {
                var Prefix = "PAYMENTMODE_1__";
                if ($('#submit_form').valid()) {

                    if ($("#" + Prefix + "PaymentMode").val() == "Cash" || $("#" + Prefix + "PaymentMode").val() == "Both" || $("#" + Prefix + "PaymentMode").val() == "Bank") {

                        if ($("#" + Prefix + "CashAmount").val() > 20000) {
                            alert("Transactions halted !!!,Cash Payment Not Allowed More than 20000 Rs")
                            return false;
                        }
                        else if ($("#" + Prefix + "PaymentMode").val() == "Both" || $("#" + Prefix + "PaymentMode").val() == "Bank" || $("#" + Prefix + "PaymentMode").val() == "Cash") {

                            var CashAmount = $("#" + Prefix + "CashAmount").val();
                            var ChequeAmount = $("#" + Prefix + "ChequeAmount").val();
                            var NetAmount = $("#" + Prefix + "NETAMOUNT").val();
                            var Total = parseFloat(CashAmount) + parseFloat(ChequeAmount);


                            if (Math.round(Total) != Math.round(NetAmount)) {
                                alert("Sum of Cash Amount and Cheque Amount is not match with Net Amount")
                                return false;
                            }
                            else {
                                $(this).hide();
                                App.blockUI({ boxed: true });
                                document.forms["submit_form"].submit();
                            }
                        }
                    }

                    //if ($("#" + Prefix + "PaymentMode").val() == "Both") {

                    //    var CashAmount = $("#" + Prefix + "CashAmount").val();
                    //    var ChequeAmount = $("#" + Prefix + "ChequeAmount").val();
                    //    var NetAmount = $("#" + Prefix + "NETAMOUNT").val();
                    //    var Total = parseFloat(CashAmount) + parseFloat(ChequeAmount);

                    //    if (Math.round(Total) != Math.round(NetAmount)) {
                    //        alert("Sum of Cash Amount and Cheque Amount is not match with Net Amount")
                    //        return false;
                    //    }
                    //    else {
                    //        $(this).hide();
                    //        App.blockUI({ boxed: true });
                    //        document.forms["submit_form"].submit();
                    //    }
                    //}
                }
            });
        }

        var ChangeCustomerType = function (DomainName) {

            $("input[name='optionsRadios2']").click(function () {

                if (this.value == "P") {
                    $("#WAD_CustTyp").val("P");
                    $("#WAD_CustCode").attr("readonly", "false");
                    $("#WAD_CustomerName").val("");
                    $("#WAD_CustomerName").attr("readonly", "true");
                    $("#WAD_CustCode").attr("readonly", false);
                    $("#WAD_CustCode").addClass("required required2");

                    GetPartyName_BranchWise("WAD_CustCode");
                }
                else if (this.value == "V") {
                    $("#WAD_CustTyp").val("V");
                    $("#WAD_CustCode").val("");
                    $("#WAD_CustomerName").val("");
                    $("#WAD_CustomerName").attr("readonly", "true");
                    $("#WAD_CustCode").attr("readonly", false);
                    $("#WAD_CustCode").addClass("required required2");
                    GetVehicleEmployeeUserName("WAD_CustCode", "V")
                }
                else if (this.value == "E") {
                    $("#WAD_CustTyp").val("U");
                    $("#WAD_CustCode").val("");
                    $("#WAD_CustomerName").val("");
                    $("#WAD_CustomerName").attr("readonly", false);
                    $("#WAD_CustCode").attr("readonly", false);
                    $("#WAD_CustCode").removeClass("required required2");
                    GetVehicleEmployeeUserName_BranchWise("WAD_CustCode", "U")
                }
                else if (this.value == "D") {
                    $("#WAD_CustTyp").val("D");
                    $("#WAD_CustCode").val("");
                    $("#WAD_CustomerName").val("");
                    $("#WAD_CustomerName").attr("readonly", "true");
                    $("#WAD_CustCode").attr("readonly", false);
                    $("#WAD_CustCode").addClass("required required2");
                    GetVehicleEmployeeUserName("WAD_CustCode", "D")
                }
                else if (this.value == "L") {
                    $("#WAD_CustTyp").val("VE");
                    $("#WAD_CustCode").val("");
                    $("#WAD_CustomerName").val("");
                    $("#WAD_CustomerName").attr("readonly", "true");
                    $("#WAD_CustCode").attr("readonly", false);
                    GetVehicleEmployeeUserName("WAD_CustCode", "VE")
                }
                else if (this.value == "O") {
                    $("#WAD_CustTyp").val("O");
                    $("#WAD_CustCode").val("8888");
                    $("#WAD_CustomerName").attr("readonly", false);
                    $("#WAD_CustCode").attr("readonly", "true");
                }
            });
        }

        var AccountCodeChange = function (DomainName, itemIndex) {

            $("#DCVoucher_" + itemIndex + "__AccountCode").change(function (e) {
                e.preventDefault();
                var dlnmId = $(this).attr("id");
                var Value = $(this).val();

                var Narration = $("#WAD_Narration").val();
                $("#DCVoucher_" + itemIndex + "__NarrationAccountinfo").val(Narration);
                if (Value != "") {
                    var count = 0;
                    //$(".ClsXYZ").each(function () {

                    //    var dlnmId1 = $(this).attr("id");
                    //    var dlnmVal1 = $(this).val();
                    //    if (dlnmId1 != dlnmId && dlnmVal1 == Value) {
                    //        alert("cannot select Duplicate Value");
                    //        count = 1;
                    //        $("#" + dlnmId).select2('data', null);
                    //        $("#DCVoucher_" + itemIndex + "__AccountCode").val("");
                    //        $("#DCVoucher_" + itemIndex + "__ACCCode").val("");
                    //        return false;
                    //    }
                    //});
                    if (count == 0) {
                        $("#DCVoucher_" + itemIndex + "__ACCCode").val(Value);
                        $("#DCVoucher_" + itemIndex + "__CostCode").removeAttr("readonly");
                        $("#DCVoucher_" + itemIndex + "__CostCode").val("");
                    }
                }
                else {
                    App.unblockUI();
                }
            });
        }

        var AddAccountInfo = function (DomainName, itemIndex) {

            var StrURL1 = DomainName + '/Voucher/AddNewAccountInfo?SrNo=' + itemIndex;// + '&Value=' + Value;
            //alert(StrURL1);
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    //alert(html);
                    $("#container").append(html);
                    GetAccountCode("DCVoucher_" + itemIndex + "__AccountCode");
                    Select2Class(DomainName, "DCVoucher_" + itemIndex + "__CostType");
                    AccountCodeChange(DomainName, itemIndex);
                    clsAmountchange(DomainName);
                    ChangeCostCode(DomainName, itemIndex);
                    //var AcountCode = $("Item_" + itemIndex + "__AccountCode").val();
                    //$("#Item_" + itemIndex + "__ACCCode").val(AcountCode);
                    $("#DCVoucher_" + itemIndex + "__NarrationAccountinfo").val($("#WAD_Narration").val());
                },
                error: function (req, status, error) {
                }
            });
        }

        var clsAmountchange = function (DomainName, Prefix) {

            //alert("Call")
            //$(".clsAmount").live("change", function () {
            //alert("change")
            var TotalAmount = 0;
            $(".clsAmount").each(function () {
                var Amount = $(this).val();
                if (Amount == "" || Amount == null) {
                    Amount = 0;
                }
                TotalAmount = parseFloat(TotalAmount) + parseFloat(Amount);
            });
            $("#WAD_SumAmount").val(Math.round(TotalAmount));
            $("#WAD_AmountApplicable").val(Math.round(TotalAmount));
            IsServicetaxCalculated(DomainName, Prefix);
            // IsTDSCalculated(DomainName);
            //});

        }

        var ChangeCostCode = function (DomainName, itemIndex) {

            $("#DCVoucher_" + itemIndex + "__CostCode").change(function () {

                App.blockUI({ Boxed: true });
                var ACCOUNTCODE = $("#DCVoucher_" + itemIndex + "__AccountCode").val();
                var MatchCode = "EXP";
                if (ACCOUNTCODE.indexOf(MatchCode) != -1) {
                    var CostCode = $(this).val();
                    var Costtype = $("#DCVoucher_" + itemIndex + "__CostType").val();

                    var strurl = DomainName + '/Voucher/GetAccountCodeIsValid?AccountCode=' + CostCode + '&CodeType=' + Costtype;
                    //  alert(strurl);
                    $.ajax({
                        url: strurl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {
                            //alert(data.IsValid)
                            App.unblockUI();
                            if (data.IsValid == 0) {
                                alert("The Cost Code you have entered is not valid !!..")
                                $("#DCVoucher_" + itemIndex + "__CostCode").val("");
                                $("#DCVoucher_" + itemIndex + "__CostCode").focus();
                            }
                        },
                        error: function (req, status, error) {
                            App.unblockUI();
                            //alert("error--" + req + "---" + status + "---" + error);
                        }
                    });
                }
                else {
                    App.unblockUI();
                }
            });
        }

        var IsServicetaxCalculated = function (DomainName, Prefix) {

            if ($('#WAD_IsServicetaxapply').prop('checked')) {

                $('#WAD_ServiceTaxRate').attr("readonly", false);
                $('#WAD_ServiceTaxRate').attr("readonly", false);
                $('#WAD_ServiceTaxRate').val($("#HdnServiceTaxRate").val());
                $('#WAD_ServiceTaxRate').attr("readonly", true);

                var servicetaxrate = $("#HdnServiceTaxRate").val();
                var ApplicaleAmount = $("#WAD_AmountApplicable").val();
                var Servicetax = parseFloat(ApplicaleAmount) * parseFloat(servicetaxrate) / 100;
                var TotalAmount = parseFloat(ApplicaleAmount) + parseFloat(Servicetax);

                $("#WAD_ServiceTax").val(Math.round(Servicetax));
                $("#WAD_AmountApplicableForTDS").val(TotalAmount);
                $("#" + Prefix + "NETAMOUNT").val(Math.round(TotalAmount));
                $("#" + Prefix + "AmountApplicable").val(Math.round(TotalAmount));
                //alert(Math.round($("#" + Prefix + "AmountApplicable").val()));

            }
            else {
                $('#WAD_ServiceTaxRate').attr('readonly', true);
                $('#WAD_ServiceTaxRate').val(0)
                $("#WAD_ServiceTax").val(0);
                var ApplicaleAmount = $("#WAD_AmountApplicable").val();
                $("#WAD_AmountApplicableForTDS").val(Math.round(ApplicaleAmount));
            }

            if ($('#WAD_IsTDStaxapply').prop('checked')) {

                $('#WAD_TDSRate').attr("readonly", false);
                //$("#WAD_TDSAmount").attr("readonly", false);
                var TDSrate = $("#WAD_TDSRate").val();
                var TDSApplicaleAmount = $("#WAD_AmountApplicableForTDS").val();
                var TDStax = parseFloat(TDSApplicaleAmount) * parseFloat(TDSrate) / 100;
                var TotalAmount = parseFloat(TDSApplicaleAmount) - parseFloat(TDStax);

                $("#WAD_TDSSection").addClass("required required2");
                $("#WAD_TDSSection").attr("readonly", false);
                $("#WAD_TDSAmount").val(Math.round(TDStax));

                //alert(Math.round(TotalAmount));
                $("#" + Prefix + "NETAMOUNT").val(Math.round(TotalAmount));
                $("#" + Prefix + "AmountApplicable").val(Math.round(TotalAmount));

                $(".clsTotal").val(Math.round(TotalAmount));
                if ($('#' + Prefix + 'PaymentMode').val() == "Cash") {
                    $("#" + Prefix + "CashAmount").val(Math.round(TotalAmount));
                }
                else if ($('#' + Prefix + 'PaymentMode').val() == "Bank") {
                    $("#" + Prefix + "ChequeAmount").val(Math.round(TotalAmount));
                }
                else {
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "CashAmount").val(0);
                }
            }
            else {
                $('#WAD_TDSRate').attr("readonly", true);
                $('#WAD_TDSRate').val(0);
                $("#WAD_TDSAmount").val(0);
                $("#WAD_TDSAmount").attr("readonly", true);
                var ApplicaleAmount = $("#WAD_AmountApplicableForTDS").val();
                $("#WAD_AmountApplicableForTDS").val(ApplicaleAmount);
                $("#" + Prefix + "NETAMOUNT").val(Math.round($("#WAD_SumAmount").val()));
                $("#" + Prefix + "AmountApplicable").val(Math.round($("#WAD_SumAmount").val()));
                $(".clsTotal").val(Math.round(ApplicaleAmount));

                $("#WAD_TDSSection").val("");
                $("#WAD_TDSSection").select2().find(":selected").data("");
                $("#WAD_TDSSection").removeClass("required required2");
                $("#WAD_TDSSection").attr("readonly", true);

                if ($('#' + Prefix + 'PaymentMode').val() == "Cash") {
                    $("#" + Prefix + "CashAmount").val(Math.round(ApplicaleAmount));
                }
                else if ($('#' + Prefix + 'PaymentMode').val() == "Bank") {
                    $("#" + Prefix + "ChequeAmount").val(Math.round(ApplicaleAmount));
                }
                else {
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "CashAmount").val(0);
                }
            }
        }

        var CheckForBothCaseCalcultion = function (DomainName) {
            if ($("#PAYMENTMODE_PaymentMode").val() == "Both") {
                var CashAmount = $("#PAYMENTMODE_CashAmount").val();
                var ChequeAmount = $("#PAYMENTMODE_ChequeAmount").val();
                var NetAmount = $("#PAYMENTMODE_NETAMOUNT").val();
                var TOt = parseFloat(CashAmount) + parseFloat(ChequeAmount);
                if (Math.round(TOt) != Math.round(NetAmount))
                    alert("Sum of Cash Amount and Cheque Amount is not match with Net Amount")
                return false;
            }
        }

        var SelectVoucherType = function (DomainName, Prefix) {

            var TransactionMode = Prefix + "TransactionMode";

            if ($("#WAD_SelectVoucherType").val() == "1") {

                $("#" + TransactionMode).find('option[value=RECEIPT]').remove();
                $("#" + TransactionMode).find('option[value=PAYMENT]').remove();
                $("#" + TransactionMode).append("<option value='PAYMENT'>PAYMENT</option>");
                $("#" + TransactionMode).val("PAYMENT");
                $("#" + TransactionMode).select2().find(":selected").data("PAYMENT");
                $("#" + TransactionMode).trigger("change");
            }
            else {
                $("#" + TransactionMode).find('option[value=RECEIPT]').remove();
                $("#" + TransactionMode).find('option[value=PAYMENT]').remove();
                $("#" + TransactionMode).append("<option value='RECEIPT'>RECEIPT</option>");
                $("#" + TransactionMode).val("RECEIPT");
                $("#" + TransactionMode).select2().find(":selected").data("RECEIPT");
                $("#" + TransactionMode).find('option[value=PAYMENT]').remove();
                $("#" + TransactionMode).trigger("change");
            }
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                var Prefix = "PAYMENTMODE_1__";
                if ("@ViewBag.MainLocCode" != "HQTR") {
                    $("#PAYMENTMODE_1__PaymentMode option[value='Cash']").remove();
                    $("#PAYMENTMODE_1__PaymentMode option[value='Both']").remove();
                }
                StrURL = DomainName + "/Operation/GetDestinationLocations";
                JsonDDLSelectCode("WAD_AccountingLocation", StrURL);

                $('select').select2({
                    placeholder: "Select an option",
                    allowClear: true
                });

                $("#WAD_CustTyp").val("P");
                handleDatetimePicker();
                OnLoadFunction(DomainName, Prefix);
                Formvalidate(DomainName);

                ChangeCustomerType(DomainName);

                //GetPartyName("WAD_CustCode");
                GetPartyName("WAD_CustCode");

                var itemIndex = $("#Partialcontainer input.iHidden").length + 1;
                GetAccountCode("DCVoucher_" + itemIndex + "__AccountCode");
                AccountCodeChange(DomainName, itemIndex);
                ChangeCostCode(DomainName, itemIndex);

                $("#ChequeNo").attr("disabled", true);

                $("#WAD_Narration").focusout(function () {
                    var Narration = $(this).val();
                    $(".ClsNarrationAccountinfo").each(function () {
                        $(this).val(Narration);
                    });
                });

                $("#btnAddRows").click(function () {
                    var TOTROW = "";
                    TOTROW = 1;
                    App.blockUI({ Boxed: true });
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            itemIndex = itemIndex + 1;
                            AddAccountInfo(DomainName, itemIndex);
                        }, 100 * i);
                        App.unblockUI();
                        return false;
                    }
                });

                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    var TotalAmount = 0;
                    $(".clsAmount").each(function () {

                        var Amount = $(this).val();
                        TotalAmount = parseFloat(TotalAmount) + parseFloat(Amount);

                    });
                    $("#WAD_SumAmount").val(Math.round(TotalAmount));
                    $("#WAD_AmountApplicable").val(Math.round(TotalAmount));
                    IsServicetaxCalculated(DomainName, Prefix);
                    return false;
                });

                clsAmountchange(DomainName, Prefix);
                $(".clsAmount").live("change", function () {
                    clsAmountchange(DomainName, Prefix);
                });
                IsServicetaxCalculated(DomainName, Prefix);

                $("#WAD_IsServicetaxapply").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                });

                $("#WAD_IsTDStaxapply").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                });
                $("#WAD_TDSAmount").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);

                });
                $("#WAD_ServiceTaxRate").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                });

                $("#WAD_TDSRate").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                });

                $("#" + Prefix + "ChequeNo").change(function () {
                    var ChequeNo = $("#" + Prefix + "ChequeNo").val();
                    var bankCode = $("#" + Prefix + "DepositedInBank").val();

                    if ($("#" + Prefix + "TransactionMode").val() != "RECEIPT") {
                        var strurl = DomainName + '/Voucher/GetChequeNoisvalid?ChequeNo=' + ChequeNo + '&bankCode=' + bankCode;
                        // alert(strurl);
                        $.ajax({
                            url: strurl,
                            cache: false,
                            data: {},
                            type: 'POST',
                            success: function (data) {
                                //alert(data.IsValid)
                                // App.unblockUI();
                                //if (data.IsValid == 0) {
                                //    alert("Cheque no  does not exist in DCR...Please enter valid Cheque no..")
                                //    $("#" + Prefix + "ChequeNo").val("");
                                //    $("#" + Prefix + "ChequeNo").focus();
                                //}

                            },
                            error: function (req, status, error) {
                                App.unblockUI();
                                //alert("error--" + req + "---" + status + "---" + error);
                            }
                        });
                    }
                });

                $("#" + Prefix + "TransactionMode").find('option[value=RECEIPT]').remove();
                $("#" + Prefix + "TransactionMode").val("PAYMENT");
                $("#" + Prefix + "TransactionMode").select2().find(":selected").data("PAYMENT");
                $("#" + Prefix + "TransactionMode").trigger("change");

                $("#WAD_SelectVoucherType").change(function () {
                    SelectVoucherType(DomainName, Prefix);
                });

            }
        };
    }();
</script>

<script src="~/Scripts/AccountControl.js?ver<%=DateTime.Now.Ticks.ToString()%" type="text/javascript"></script>
