﻿@model CYGNUS.Models.Webx_Account_Details
@using FleetDataService.Models
@{
    ViewBag.Title = "Debit/Credit Voucher Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();

    List<Webx_State> Webx_StateList = new List<Webx_State>();
    List<Webx_Master_General> generalMasterList = MS.GetGeneralMasterObject().ToList();
}

<div class="row">
    <div class="col-md-10">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("DebitCreditVoucher", "Voucher", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
                {
                    {
                        Model.Type = "DebitCredit";
                        Html.RenderPartial("_VoucherCriteria", Model);
                        Html.HiddenFor(c => c.SelectVoucherType);
                    }
                }
            </div>
        </div>
    </div>
</div>
