﻿@model FleetDataService.ViewModels.DebitCreditVoucherViewModel
@using Fleet.Helpers;
@using FleetDataService.Models;
@using Fleet.Classes;
@using FleetDataService.ViewModels;
@using Fleet.ViewModels
@{
    ViewBag.Title = "Debit Credit Voucher";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    FleetDataService.OperationService CSOPN = new FleetDataService.OperationService();
    var id = ViewBag.Id;
    int I = 1;
    string CurrDate = System.DateTime.Now.ToString();

    List<Webx_Master_General> masterGeneralList = MS.GetGeneralMasterObject().ToList();
    List<webx_acctinfo> ListTDSSection = CSOPN.GetTDSSectionList_NewPortal(ViewBag.BaseLocationName, ViewBag.BaseUserName, "TDS");
    List<webx_location> ListLocations = new List<webx_location>();
    ListLocations = MS.GetLocationDetails().ToList();

    List<SelectListItem> ListSelectVoucherType = new List<SelectListItem>(){
                            new SelectListItem { Text = "Manual Debit Voucher", Value = "1"},
                            new SelectListItem { Text = "Manual Credit Voucher", Value = "2"},
                           };
    DateTime FinYearStartDate = Convert.ToDateTime(ViewBag.FinYearStartDate);
    DateTime FinYearEndDate = Convert.ToDateTime(ViewBag.FinYearEndDate);

    if (System.DateTime.Now > FinYearEndDate)
    {
        Model.WAD.VoucherDate = FinYearEndDate;
    }

    StaxTDSViewModel STVM = new StaxTDSViewModel();
    STVM.UserId = ViewBag.BaseUserName;
    STVM.FiledNextAmount = "WAD.GSTBillAmount";
    STVM.GSTType = Model.WAD.GSTType;
    STVM.GSTPercentage = Model.WAD.GSTPercentage;
    STVM.IsDiscountEnabled = false;
    STVM.IsVATDisplay = false;
    STVM.ChargeType = "MC";
    STVM.IsTDSDisplay = true;
    STVM.BETYP = "DebitCredit";
    Model.WAD.VoucherDate = System.DateTime.Now;
    objDate OD = new objDate();
    OD.ControlId = "WAD.VoucherDate";
    OD.ControlValue = Model.WAD.VoucherDate.ToString();
    OD.ModuleCode = "07";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor" id="Enquiry_form_wizard">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Debit/Credit Voucher
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("DebitCreditVoucherSubmit", "Voucher", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
                {
                    <div class="alert alert-danger display-none">
                        <button class="close" data-dismiss="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-none">
                        <button class="close" data-dismiss="alert"></button>
                        Your form validation is successful!
                    </div>
                    <div class="form-body">
                        <h4 class="block form-section">Manual Debit/Credit Voucher</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Select Voucher Type</label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(m => m.WAD.SelectVoucherType, new SelectList(ListSelectVoucherType, "Value", "Text"), null, new { @class = "form-control required required2", @disabled="true" })
                                        @Html.HiddenFor(m => m.WAD.SelectVoucherType)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Voucher No.</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.WAD.VoucherNo, new { placeholder = "System Genrated", @class = "form-control required2", @disabled = "disabled" })
                                        @Html.HiddenFor(c => c.WAD.GSTPercentage)
                                        @Html.HiddenFor(c => c.WAD.GSTType)
                                        @Html.HiddenFor(c => c.WAD.TypeOfGst)
                                        @Html.HiddenFor(c => c.WAD.Vouchertype)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Voucher Date
                                    </label>
                                    <div class="col-md-7">
                                        @*<div class="input-group date date-pickervch" data-date-format="dd MMM yyyy">
                                            @Html.TextBox("WAD.VoucherDate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.WAD.VoucherDate).ToString("dd MMM yyyy")), new { @class = "form-control required2", @readonly = "True" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>*@
                                        @{
                    Html.RenderPartial("../UserControls/_DocumentDate", OD);
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Manual No.</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.WAD.ManualNo, new { @class = "form-control", @placeholder = "Manual No." })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Prepard By</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.WAD.PrepardBy, new { @class = "form-control required2", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Narration</label>

                                    <div class="col-md-7">
                                        @Html.TextAreaFor(c => c.WAD.Narration, new { @class = "form-control required required2 uppercase", @placeholder = "Narration" })
                                        @Html.HiddenFor(c => c.WAD.AccountingLocation)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">UPLOAD IMAGE</label>
                                    <div class="col-md-7">
                                        <div class="col-md-12" data-title="Upload Document">
                                            <div class="fileinput fileinput-new  col-md-9" id="divfileupload_@Model.WAD.Image" data-provides="fileinput">
                                                <input type="hidden" value="@Model.WAD.Image" name="files">
                                                <div class="fileinput-new thumbnail imgDefault col-md-6 center" style="max-width: 120px; max-height: 115px; line-height: 10px;">
                                                    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail imgExists col-md-6" style="max-width: 120px; max-height: 115px; line-height: 10px;">
                                                    <img src="~/Images/DebitAndCreditVoucher/@Model.WAD.Image" alt="">
                                                </div>
                                                <div class="col-md-3" style="width: 50px;height:50px;">
                                                    <span class="btn default btn-file">
                                                        <span class="fileinput-new imgDefault">
                                                            Select File
                                                        </span>
                                                        <span class="fileinput-exists imgExists">
                                                            Change File
                                                        </span>
                                                        <input type="file" id="@Model.WAD.ManualNo" name="files" class="default">
                                                    </span><br>
                                                    <a href="#" class="btn default fileinput-exists imgExists" data-dismiss="fileinput" style="margin-top:5px">
                                                        Remove File
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class=" form-group">
                                <div class="col-md-1" style="text-align:right">
                                    <label class="control-label">Paid To:</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-12" id="inline_content">
                                            <div class="form-group">

                                                @Html.HiddenFor(c => c.WAD.CustTyp)

                                                <label class="control-label col-md-2">
                                                    <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Cust" value="P" checked="true" />
                                                    <span>Customer</span>
                                                </label>
                                                <label class="control-label col-md-2">
                                                    <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="vend" value="V" />
                                                    Vendor
                                                </label>
                                                <label class="control-label col-md-2">
                                                    <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Emplo" value="E" />
                                                    Employee
                                                </label>
                                                <label class="control-label col-md-2">
                                                    <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Driv" value="D" />
                                                    Driver
                                                </label>
                                                <label class="control-label col-md-2">
                                                    <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Vehi" value="L" />
                                                    Vehicle
                                                </label>
                                                <label class="control-label col-md-2">
                                                    <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Other" value="O" />
                                                    Other
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row col-md-12">
                                            <div class="col-md-6">
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(c => c.WAD.CustCode, new { placeholder = "", @class = "m-wrap form-control required required2" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label col-md-4">8888:</label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(c => c.WAD.CustomerName, new { @class = "form-control", @readonly = "true" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <table id="container" border="1" class="table table-striped table-bordered table-hover">
                                    <thead class="flip-content">
                                        <tr>
                                            <th class="center">Sr No.</th>
                                            <th class="center">Account Code</th>
                                            <th class="center">Amount</th>
                                            <th class="center">Narration</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var itm in Model.WADList)
                                        {
                                            Html.RenderPartial("_DebitCreditVoucherPartial", itm);
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-offset-7 col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Total</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.SumAmount, new { placeholder = "0.00", @class = "form-control required required2 center", @readonly = "true", @min = "1" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button type="button" id="btnAddRows" class="btn btn-sm blue pull-right"><i class="fa fa-plus"></i> Add New Row</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-11">
                                @{
                    Html.RenderPartial("../UserControls/_GSTTDSControl", STVM);
                                }
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                @foreach (var itms in Model.WADListing)
                                {
                                    itms.Deposited = true;
                                    @Html.Partial("_PaymentModePartial", itms)
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <a class="btn btn-sm default controls" href="@Url.Content("~/Voucher/DebitCreditVoucherCriteria")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back to Criteria</a>
                            <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var pageLevelCallbackFunction = function () {
        var pre = 'PAYMENTMODE_1__';
        $("#" + pre + "NETAMOUNT").val(Math.round($("#WAD_GSTBillAmount").val()));
        $("#" + pre + "AmountApplicable").val(Math.round($("#WAD_GSTBillAmount").val()));
    }

    var FormComponents = function (DomainName) {
        var handleDatetimePicker = function () {
            var startDate = new Date();
            var endDate = new Date();
            if (endDate > new Date('@FinYearEndDate')) {
                endDate = new Date('@FinYearEndDate');
            }
            var newStartDt = new Date('@FinYearStartDate');
            var daysType = '@Model.BackDateAccess.DaysType';
            var noOfDays = '@Model.BackDateAccess.AllowedDays';
            @if (Model.BackDateAccess.UserId != null && Model.BackDateAccess.IsActive ==true)
             {
                 <text>
            if (daysType == '+') {
                endDate.setDate(endDate.getDate() + parseInt(noOfDays));
            }
            else {
                if ('@Model.BackDateAccess.UserId.ToUpper()' == "ADMIN" && '@Model.BackDateAccess.AllowedDays' == '365') {
                    startDate = newStartDt;
                }
                else {
                    startDate.setDate(startDate.getDate() - parseInt(noOfDays));
                    if (startDate < newStartDt) {
                        startDate = newStartDt;
                    }
                }
            }
            </text>
        }

            //$("#WAD_VoucherDate").prop("disabled", true);
            if (jQuery().datepicker) {
                $('.date-pickervch').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    startDate: new Date(new Date($("#WAD_VoucherDate").val()).setDate(new Date($("#WAD_VoucherDate").val()).getDate() - 2)),
                    endDate: new Date($("#WAD_VoucherDate").val()),
                    autoclose: true
                });
                var startDate = new Date("@ViewBag.GSTStartDate");
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    startDate: startDate,
                    //endDate: endDate,
                    autoclose: true
                });
              
                $('.date-picker1').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                   // startDate: startDate,
                    //endDate: endDate,
                    autoclose: true
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }


            $('#WAD_VoucherDate').change(function () {

                $('.date-picker').datepicker('remove');
                var chkStartdate = new Date($('#WAD_VoucherDate').val());
                //chkStartdate.setDate(chkStartdate.getDate() + 1);
                $('#PAYMENTMODE_1__Chequedate').val('');

                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    startDate: startDate,
                    endDate: endDate,
                    autoclose: true
                });
                $('body').removeClass("modal-open");
            });
        }

        var Select2Class = function (DomainName, Id) {

            //$('#' + Id).select2({
            //    placeholder: "Select an option",
            //    allowClear: true
            //});
        };

        var Formvalidate = function (DomainName) {

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {

                },
                messages: { // custom messages for radio buttons and checkboxes

                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.attr("name") == "gender") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_gender_error");
                    } else if (element.attr("name") == "payment[]") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_payment_error");
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });


            $('#btnSubmit').click(function () {
                var Prefix = "PAYMENTMODE_1__";
                if ($('#submit_form').valid()) {

                    if ($("#" + Prefix + "PaymentMode").val() == "Cash" || $("#" + Prefix + "PaymentMode").val() == "Both" || $("#" + Prefix + "PaymentMode").val() == "Bank") {

                        if ($("#WAD_Vouchertype").val() == "DEBITCREDIT" && $("#" + Prefix + "PaymentMode").val() == "Cash" && $("#WAD_SelectVoucherType").val() == "1" && $(".clsTotal").val() >= 10000) {
                            alert("Transactions halted !!!,Cash Payment Not Allowed More than 10000 Rs")
                            return false;
                        }

                        if ($("#WAD_Vouchertype").val() == "DEBITCREDIT" && $("#" + Prefix + "PaymentMode").val() == "Both" && $("#WAD_SelectVoucherType").val() == "1" && $("#" + Prefix + "CashAmount").val() >= 10000) {
                            alert("Transactions halted !!!,Cash Payment Not Allowed More than 10000 Rs")
                            return false;
                        }

                        //if ($("#" + Prefix + "CashAmount").val() > 20000) {
                        //    alert("Transactions halted !!!,Cash Payment Not Allowed More than 20000 Rs")
                        //    return false;
                        //}
                        else if ($("#" + Prefix + "PaymentMode").val() == "Both" || $("#" + Prefix + "PaymentMode").val() == "Bank" || $("#" + Prefix + "PaymentMode").val() == "Cash") {

                            var CashAmount = $("#" + Prefix + "CashAmount").val();
                            var ChequeAmount = $("#" + Prefix + "ChequeAmount").val();
                            var NetAmount = $("#" + Prefix + "NETAMOUNT").val();
                            var Total = parseFloat(CashAmount) + parseFloat(ChequeAmount);


                            if (Math.round(Total) != Math.round(NetAmount)) {
                                alert("Sum of Cash Amount and Cheque Amount is not match with Net Amount")
                                return false;
                            }
                            else {
                                $(this).hide();
                                App.blockUI({ boxed: true });
                                document.forms["submit_form"].submit();
                            }
                        }
                    }
                }
            });
        }

        var ChangeCustomerType = function (DomainName) {

            $("input[name='optionsRadios2']").click(function () {

                if (this.value == "P") {
                    $("#WAD_CustTyp").val("P");
                    $("#WAD_CustCode").attr("readonly", "false");
                    $("#WAD_CustomerName").val("");
                    $("#WAD_CustomerName").attr("readonly", "true");
                    $("#WAD_CustCode").attr("readonly", false);
                    $("#WAD_CustCode").addClass("required required2");

                    GetPartyName_BranchWise("WAD_CustCode");
                }
                else if (this.value == "V") {
                    $("#WAD_CustTyp").val("V");
                    $("#WAD_CustCode").val("");
                    $("#WAD_CustomerName").val("");
                    $("#WAD_CustomerName").attr("readonly", "true");
                    $("#WAD_CustCode").attr("readonly", false);
                    $("#WAD_CustCode").addClass("required required2");
                    GetVehicleEmployeeUserName("WAD_CustCode", "V")
                }
                else if (this.value == "E") {
                    $("#WAD_CustTyp").val("U");
                    $("#WAD_CustCode").val("");
                    $("#WAD_CustomerName").val("");
                    $("#WAD_CustomerName").attr("readonly", false);
                    $("#WAD_CustCode").attr("readonly", false);
                    $("#WAD_CustCode").removeClass("required required2");
                    GetVehicleEmployeeUserName_BranchWise("WAD_CustCode", "U")
                }
                else if (this.value == "D") {
                    $("#WAD_CustTyp").val("D");
                    $("#WAD_CustCode").val("");
                    $("#WAD_CustomerName").val("");
                    $("#WAD_CustomerName").attr("readonly", "true");
                    $("#WAD_CustCode").attr("readonly", false);
                    $("#WAD_CustCode").addClass("required required2");
                    GetVehicleEmployeeUserName("WAD_CustCode", "D")
                }
                else if (this.value == "L") {
                    $("#WAD_CustTyp").val("VE");
                    $("#WAD_CustCode").val("");
                    $("#WAD_CustomerName").val("");
                    $("#WAD_CustomerName").attr("readonly", "true");
                    $("#WAD_CustCode").attr("readonly", false);
                    GetVehicleEmployeeUserName("WAD_CustCode", "VE")
                }
                else if (this.value == "O") {
                    $("#WAD_CustTyp").val("O");
                    $("#WAD_CustCode").val("8888");
                    $("#WAD_CustomerName").attr("readonly", false);
                    $("#WAD_CustCode").attr("readonly", "true");
                }
            });
        }

        var CheckAmountFromBudget = function (DomainName, Accode, vouchedate, txtAmount, itemIndex) {

            App.blockUI({ boxed: true });

            var strUrl = "@Url.Action("GetData", "Account")";
            var parameters = {};
            parameters['Accode'] = Accode;
            parameters['vouchedate'] = vouchedate;
            parameters['Brcd'] = '@ViewBag.BaseLocationCode';

            if ($("#WAD_SelectVoucherType").val() == "1") {
                $.ajax({
                    url: strUrl,
                    type: 'POST',
                    dataType: "json",
                    data: {
                        Method: 'CheckAmountFromBudget',
                        parameters: parameters
                    },
                    success: function (result) {

                        var TotalUseAmount = parseFloat(txtAmount, 2) + parseFloat(result[0].LedgerAmtTotal, 2);
                        var BudAmt = parseFloat(result[0].BudgetAmount, 2);
                        if (parseFloat(BudAmt, 2) < parseFloat(TotalUseAmount, 2)) {
                            alert("Your Ledger Amt > Budget Amt...Your Previous Expence is " + result[0].LedgerAmtTotal + " Your Budget Amt for this Month is: " + BudAmt);
                            $("#DCVoucher_" + itemIndex + "__AccountCode").select2("data", null);
                            $("#DCVoucher_" + itemIndex + "__ACCCode").val(null);
                            $("#DCVoucher_" + itemIndex + "__Amount").val(0);

                        }

                        App.unblockUI();
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue while update candidate status... Please try again later..', "Oppps..!!");
                        App.unblockUI('#responsive');
                    }
                });
            }
            App.unblockUI();
        }
        var AccountCodeChange = function (DomainName, itemIndex) {

            $("#DCVoucher_" + itemIndex + "__AccountCode").change(function (e) {
                e.preventDefault();
                var dlnmId = $(this).attr("id");
                var Value = $(this).val();

                var Narration = $("#WAD_Narration").val();
                $("#DCVoucher_" + itemIndex + "__NarrationAccountinfo").val(Narration);
                if (Value != "") {
                    var count = 0;
                    CheckAmountFromBudget(DomainName, $(this).val(), $("#WAD_VoucherDate").val(), $("#DCVoucher_" + itemIndex + "__Amount").val(), itemIndex);
                    if (count == 0) {
                        $("#DCVoucher_" + itemIndex + "__ACCCode").val(Value);
                        $("#DCVoucher_" + itemIndex + "__CostCode").removeAttr("readonly");
                        $("#DCVoucher_" + itemIndex + "__CostCode").val("");
                    }
                }
                else {
                    App.unblockUI();
                }
            });

            $("#DCVoucher_" + itemIndex + "__Amount").change(function (e) {
                e.preventDefault();
                CheckAmountFromBudget(DomainName, $("#DCVoucher_" + itemIndex + "__AccountCode").val(), $("#WAD_VoucherDate").val(), $(this).val(), itemIndex)
            });
        }

        var AddAccountInfo = function (DomainName, itemIndex) {

            var StrURL1 = DomainName + '/Voucher/AddNewAccountInfo?SrNo=' + itemIndex;// + '&Value=' + Value;
            //alert(StrURL1);
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    //alert(html);
                    $("#container").append(html);
                    GetAccountCode("DCVoucher_" + itemIndex + "__AccountCode");
                    Select2Class(DomainName, "DCVoucher_" + itemIndex + "__CostType");
                    AccountCodeChange(DomainName, itemIndex);
                    clsAmountchange(DomainName);
                    ChangeCostCode(DomainName, itemIndex);
                    $("#DCVoucher_" + itemIndex + "__NarrationAccountinfo").val($("#WAD_Narration").val());
                },
                error: function (req, status, error) {
                }
            });
        }

        var clsAmountchange = function (DomainName, Prefix) {
            var TotalAmount = 0;

            $(".clsDCAmount").each(function () {
                var Amount = $(this).val();
                if (Amount == "" || Amount == null) {
                    Amount = 0;
                }
                TotalAmount = parseFloat(TotalAmount) + parseFloat(Amount);
            });
            $("#WAD_SumAmount").val(Math.round(TotalAmount));
            $("#WAD_AmountApplicable").val(Math.round(TotalAmount));
            $("#StaxOnAmount").val(Math.round(TotalAmount));

            $.when(CalculateStaxTDS(DomainName)).done(function () {
                $("#" + Prefix + "NETAMOUNT").val(Math.round($("#WAD_GSTBillAmount").val()));
                $("#" + Prefix + "AmountApplicable").val(Math.round($("#WAD_GSTBillAmount").val()));
                $("#" + Prefix + "CashAmount").val(Math.round($("#WAD_GSTBillAmount").val()));
            });

            // IsTDSCalculated(DomainName);
            //});
        }

        var ChangeCostCode = function (DomainName, itemIndex) {

            $("#DCVoucher_" + itemIndex + "__CostCode").change(function () {

                App.blockUI({ Boxed: true });
                var ACCOUNTCODE = $("#DCVoucher_" + itemIndex + "__AccountCode").val();
                var MatchCode = "EXP";
                if (ACCOUNTCODE.indexOf(MatchCode) != -1) {
                    var CostCode = $(this).val();
                    var Costtype = $("#DCVoucher_" + itemIndex + "__CostType").val();

                    var strurl = DomainName + '/Voucher/GetAccountCodeIsValid?AccountCode=' + CostCode + '&CodeType=' + Costtype;
                    //  alert(strurl);
                    $.ajax({
                        url: strurl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {
                            //alert(data.IsValid)
                            App.unblockUI();
                            if (data.IsValid == 0) {
                                alert("The Cost Code you have entered is not valid !!..")
                                $("#DCVoucher_" + itemIndex + "__CostCode").val("");
                                $("#DCVoucher_" + itemIndex + "__CostCode").focus();
                            }
                        },
                        error: function (req, status, error) {
                            App.unblockUI();
                            //alert("error--" + req + "---" + status + "---" + error);
                        }
                    });
                }
                else {
                    App.unblockUI();
                }
            });
        }

        var CheckForBothCaseCalcultion = function (DomainName) {
            if ($("#PAYMENTMODE_PaymentMode").val() == "Both") {
                var CashAmount = $("#PAYMENTMODE_CashAmount").val();
                var ChequeAmount = $("#PAYMENTMODE_ChequeAmount").val();
                var NetAmount = $("#PAYMENTMODE_NETAMOUNT").val();
                var TOt = parseFloat(CashAmount) + parseFloat(ChequeAmount);
                if (Math.round(TOt) != Math.round(NetAmount))
                    alert("Sum of Cash Amount and Cheque Amount is not match with Net Amount")
                return false;
            }
        }

        var SelectVoucherType = function (DomainName, Prefix) {

            var TransactionMode = Prefix + "TransactionMode";

            if ($("#WAD_SelectVoucherType").val() == "1") {

                $("#" + TransactionMode).find('option[value=RECEIPT]').remove();
                $("#" + TransactionMode).find('option[value=PAYMENT]').remove();
                $("#" + TransactionMode).append("<option value='PAYMENT'>PAYMENT</option>");
                $("#" + TransactionMode).val("PAYMENT");
                $("#" + TransactionMode).select2().find(":selected").data("PAYMENT");
                $("#" + TransactionMode).trigger("change");
            }
            else {
                $("#" + TransactionMode).find('option[value=RECEIPT]').remove();
                $("#" + TransactionMode).find('option[value=PAYMENT]').remove();
                $("#" + TransactionMode).append("<option value='RECEIPT'>RECEIPT</option>");
                $("#" + TransactionMode).val("RECEIPT");
                $("#" + TransactionMode).select2().find(":selected").data("RECEIPT");
                $("#" + TransactionMode).find('option[value=PAYMENT]').remove();
                $("#" + TransactionMode).trigger("change");
            }
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                var Prefix = "PAYMENTMODE_1__";
                $("#WAD_AccountingLocation").val("@ViewBag.BaseLocationCode")
                $('select').select2({
                    placeholder: "Select an option",
                    allowClear: true
                });

                $("#WAD_CustTyp").val("P");
                handleDatetimePicker();
                OnLoadFunction(DomainName, Prefix);
                Formvalidate(DomainName);
                ControlDate();
                ChangeCustomerType(DomainName);

                GetPartyName("WAD_CustCode");

                var itemIndex = $("#Partialcontainer input.iHidden").length + 1;
                GetAccountCode("DCVoucher_" + itemIndex + "__AccountCode");
                AccountCodeChange(DomainName, itemIndex);
                ChangeCostCode(DomainName, itemIndex);
                
                $("#ChequeNo").attr("disabled", true);

                $("#WAD_Narration").focusout(function () {
                    var Narration = $(this).val();
                    $(".ClsNarrationAccountinfo").each(function () {
                        $(this).val(Narration);
                    });
                });

                $("#btnAddRows").click(function () {
                    var TOTROW = "";
                    TOTROW = 1;
                    App.blockUI({ Boxed: true });
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            itemIndex = itemIndex + 1;
                            AddAccountInfo(DomainName, itemIndex);
                        }, 100 * i);
                        App.unblockUI();
                        return false;
                    }
                });

                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    var TotalAmount = 0;
                    $(".clsDCAmount").each(function () {
                        var Amount = $(this).val();
                        TotalAmount = parseFloat(TotalAmount) + parseFloat(Amount);
                    });
                    $("#WAD_SumAmount").val(Math.round(TotalAmount));
                    $("#WAD_AmountApplicable").val(Math.round(TotalAmount));
                    $("#StaxOnAmount").val(Math.round(TotalAmount));
                    $.when(CalculateStaxTDS(DomainName)).done(function () {
                        $("#" + Prefix + "NETAMOUNT").val(Math.round($("#WAD_GSTBillAmount").val()));
                        $("#" + Prefix + "AmountApplicable").val(Math.round($("#WAD_GSTBillAmount").val()));
                    });
                    console.log($("#WAD_GSTBillAmount").val());
                    $("#" + Prefix + "NETAMOUNT").val(Math.round($("#WAD_GSTBillAmount").val()));
                    $("#" + Prefix + "AmountApplicable").val(Math.round($("#WAD_GSTBillAmount").val()));

                    return false;
                });

                $.when(CalculateStaxTDS(DomainName)).done(function () {
                    $("#" + Prefix + "NETAMOUNT").val(Math.round($("#WAD_GSTBillAmount").val()));
                    $("#" + Prefix + "AmountApplicable").val(Math.round($("#WAD_GSTBillAmount").val()));
                });


                StaxTDSEnabled(DomainName);

                $(".clsDCAmount").live("change", function () {
                    //alert('Hi')
                    clsAmountchange(DomainName, Prefix);
                });


                

                $("#" + Prefix + "TransactionMode").find('option[value=RECEIPT]').remove();
                $("#" + Prefix + "TransactionMode").val("PAYMENT");
                $("#" + Prefix + "TransactionMode").select2().find(":selected").data("PAYMENT");
                $("#" + Prefix + "TransactionMode").trigger("change");
                $("#WAD_Vouchertype").val("DEBITCREDIT");

                $("#WAD_SelectVoucherType").change(function () {
                    SelectVoucherType(DomainName, Prefix);
                });


                $("#WAD_ManualNo").change(function () {
                    var ManualNo = $("#WAD_ManualNo").val();
                    var strurl = DomainName + '/Voucher/CheckManualNoForVouchers?ManualNo=' + ManualNo;

                    $.ajax({
                        url: strurl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {

                            App.unblockUI();
                            if (parseInt(data.Count) > 0) {
                                alert("Manual Voucher Number is Already Exists... Please Enter Other Mumber")
                                $("#WAD_ManualNo").val("");
                                $("#WAD_ManualNo").focus();
                            }
                        },
                        error: function (req, status, error) {
                            App.unblockUI();
                            //alert("error--" + req + "---" + status + "---" + error);
                        }
                    });

                });
                    SelectVoucherType(DomainName, Prefix);
            }
        };
    }();
</script>

<script src="~/Scripts/AccountControl.js?ver<%=DateTime.Now.Ticks.ToString()%" type="text/javascript"></script>
