﻿@model Fleet.ViewModels.DebitNoteModel
@using FleetDataService.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    ViewBag.Title = "Debit Note Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_State> Webx_StateList = new List<Webx_State>();
    List<Webx_Master_General> lstGSTType = MS.GetGeneralMasterObject().ToList();
}



<div class="row">
    <div class="col-md-8">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
            </div>

            <div class="portlet-body">
                <div class="form-body">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-hide">
                        <button class="close" data-close="alert"></button>
                        Your form validation is successful!
                    </div>

                    @using (Html.BeginForm("DebitNoteVoucher", "Voucher", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
                    {
                        {
                            <div class="form-group ">
                                <label class="control-label col-md-3">
                                    @*<input type="radio" id="RdbDate" name="optionsRadios2" value="0" checked="checked" />*@
                                    Select Date:
                                </label>
                                <div class="col-md-6">
                                    <div id="reportrange" class="btn default col-md-12">
                                        <i class="fa fa-calendar"></i>
                                        &nbsp;
                                        <span></span>
                                        <b class="fa fa-angle-down"></b>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group ">
                                <label class="control-label col-md-3">
                                    State:
                                </label>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(c => c.Cust_State, new SelectList(Webx_StateList, "Value", "Text"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select State" })
                                    @Html.ValidationMessageFor(m => m.Cust_State)
                                    @Html.HiddenFor(c => c.FilterType)
                                    @Html.HiddenFor(c => c.FromDate)
                                    @Html.HiddenFor(c => c.ToDate)
                                </div>
                            </div>

                            <div class="form-group ">
                                <label class="control-label col-md-3">
                                    Vendor Code:
                                </label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.PartyCode, new { placeholder = "Select Vendor Code", @class = "form-control required2 required" })
                                    @Html.HiddenFor(m => m.PartyName)
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    <b>is Reverse GST Applied?</b>
                                </label>
                                <div class="col-md-5 chkactive">
                                    @Html.CheckBoxFor(m => m.isGSTReverse)
                                </div>
                            </div>

                            <div class="form-group ">
                                <label class="control-label col-md-3">
                                    GST Type:
                                </label>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(c => c.GSTType, new SelectList(lstGSTType.Where(c => c.CodeType == "GSTTYPE" && c.StatusCode == "Y" && c.CodeId != "SVC").OrderBy(c => c.CodeDesc).ToList(), "CodeId", "CodeDesc"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select GST Type" })
                                </div>
                            </div>

                            <div class="form-group ">
                                <label class="control-label col-md-3">
                                    GST Percentage :
                                </label>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(c => c.GSTPercentage, new SelectList(lstGSTType.Where(c => c.CodeType.ToUpper() == "GSTPER" && c.StatusCode == "Y").OrderBy(c => int.Parse(c.CodeDesc)), "CodeDesc", "CodeDesc"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select GST Percentage" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Select Type
                                </label>
                                <div class="radio-list col-md-6">
                                    <label class="radio-inline" style="padding-top: 0px;">
                                        <input type="radio" name="numberType" id="numberType1" checked value="O"> WayBill NO
                                    </label>
                                    <label class="radio-inline" style="padding-top: 0px;">
                                        <input type="radio" name="numberType" id="numberType2" value="D"> Direct DN
                                    </label>
                                    @Html.HiddenFor(c => c.Type)
                                </div>
                            </div>
                            <div class="form-actions fluid">
                                <div class="row">
                                    <div class="col-md-offset-4 col-md-6">
                                        <button type="submit" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-search"></i>&nbsp;Search</button>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    App.blockUI({ boxed: true });
                    document.form["submit_form"].submit();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }
            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                //maxDate: '12/31/2014',
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#FromDate').val(start.format('MMMM D, YYYY'));
                     $('#ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ToDate').val(moment().format('MMMM D, YYYY'));
        }

        var Events = function (DomainName) {
            handleDatePicker();

            $("#btnSubmit").click(function () {

                if ($('#submit_form').valid()) {
                    //$("#btnSubmit:input").attr("disabled", "true");
                    //App.blockUI({ boxed: true });
                }
                else {
                    return false
                }
            });
        }

        var handleSelect2 = function () {
            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });
        }




        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                handleDateRangePickers();
                Events(DomainName);
                $('#FilterType').val("0");

                GetVendorName("PartyCode");
                $("#Type").val('O');

                var StrURL = DomainName + "/Master/GetStateListFromGSTType?GSTType=" + $('#GSTType').val();
                FillDropDownfromOther("Cust_State", StrURL, "");

                $("#PartyCode").change(function () {
                    if ($("#PartyCode").val() != "") {
                        $("#PartyName").val($(this).select2('data').text);
                    }
                    if ($('#Cust_State').val() != "" && $("#isGSTReverse").is(":checked") == false) {
                        App.blockUI({ boxed: true });
                        var StrURL = DomainName + "/Master/GetGSTTypeFromStateandVendor?statePrefix=" + $('#Cust_State').val() + "&VendorCode=" + $('#PartyCode').val();
                        FillDropDownfromOther("GSTType", StrURL, "");
                    }
                    else {
                        $("#GSTType").select2("data", null);
                        var StrURL = DomainName + "/Operation/GetGeneralMasterDetailsWithContract/GSTType?CodeList=";
                        FillDropDownfromOther("GSTType", StrURL, "");
                        App.blockUI({ boxed: true });
                        setTimeout(function () {
                            $("#GSTType option[value='SVC']").remove();
                        }, 350);
                    }
                });

                $("#Cust_State").on('change', function () {
                    if ($("#PartyCode").val() != "") {
                        $("#PartyCode").select2("data", null);
                    }
                    JsonDDLSelectCodeWithName("PartyCode", DomainName + "/Master/SearchVendorListByStateJson?State=" + $('#Cust_State').val());
                    if ($('#PartyCode').val() != "" && $("#isGSTReverse").is(":checked") == false) {
                        var StrURL = DomainName + "/Master/GetGSTTypeFromStateandVendor?statePrefix=" + $('#Cust_State').val() + "&VendorCode=" + $('#PartyCode').val();
                        FillDropDownfromOther("GSTType", StrURL, "");
                    }
                    else {
                        $("#GSTType").select2("data", null);
                        var StrURL = DomainName + "/Operation/GetGeneralMasterDetailsWithContract/GSTType?CodeList=";
                        FillDropDownfromOther("GSTType", StrURL, "");
                        App.blockUI({ boxed: true });
                        setTimeout(function () {
                            $("#GSTType option[value='SVC']").remove();
                        }, 350);
                    }
                });

                $("#GSTType").on('change', function () {
                    App.blockUI({ boxed: true });
                    if ($(this).val() == "N") {
                        $("#GSTPercentage").val("0");
                        $("#GSTPercentage").attr("readonly", true);
                        $("#GSTPercentage").removeClass("required");
                        App.unblockUI();
                    }
                    else {
                        $("#GSTPercentage").attr("readonly", false);
                        $("#GSTPercentage").addClass("required");
                        App.unblockUI();
                    }
                });

                $("#isGSTReverse").on("change", function () {
                    App.blockUI({ boxed: true });
                    if ($("#isGSTReverse").is(":checked") == true) {
                        $("#GSTType").select2("data", null);
                        var StrURL = DomainName + "/Operation/GetGeneralMasterDetailsWithContract/GSTType?CodeList=";
                        FillDropDownfromOther("GSTType", StrURL, "");
                        App.blockUI({ boxed: true });
                        setTimeout(function () {
                            $("#GSTType option[value='SVC']").remove();
                        }, 350);
                    }
                    else {
                        if ($('#PartyCode').val() != "" && $('#StateCode').val() != "") {
                            var StrURL = DomainName + "/Master/GetGSTTypeFromStateandVendor?statePrefix=" + $('#Cust_State').val() + "&PartyCode=" + $('#PartyCode').val();
                            FillDropDownfromOther("GSTType", StrURL, "");
                        }
                        else {
                            App.unblockUI();
                        }
                    }
                });


                $("input[name='numberType']").live("change", function () {
                    var numberType = $('input[name=numberType]:checked').val();
                    $("#Type").val(numberType);
                });
            }
        };
    }();

</script>
