﻿@model FleetDataService.ViewModels.DebitCreditVoucherViewModel
@using Fleet.Helpers;
@using FleetDataService.Models;
@using Fleet.Classes;
@using FleetDataService.ViewModels;
@using Fleet
@using Fleet.ViewModels


@{
    ViewBag.Title = "Vendor Debit Note";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    FleetDataService.PaymentService PS = new FleetDataService.PaymentService();
    FleetDataService.OperationService OS = new FleetDataService.OperationService();

    var id = ViewBag.Id;
    int I = 1;
    string CurrDate = System.DateTime.Now.ToString();

    List<webx_location> ListBRCD = MS.GetLocationListFromState(Model.WAD.StateCode, "");
    List<webx_BILLMST> ListBill = OS.GetBillForDebitNote(Model.PartyCode);
    List<Webx_Master_General> generalList = MS.GetGeneralMasterObject();
    List<CYGNUS.Models.CygnusChargesHeader> ListChargesHeader = PS.GetGSTDynamicCharges("DN", Model.WAD.GSTType, Model.WAD.GSTPercentage).Where(c => c.IsApplicable == true).ToList();

    string vendorGSTno = MS.GetGstNovendorcode("V", @Model.PartyCode).Where(c => c.statePrefix == Model.WAD.StateCode).ToList().FirstOrDefault().gst_registration_no;
    Model.GSTIN = vendorGSTno;
    DateTime FinYearStartDate = Convert.ToDateTime(ViewBag.FinYearStartDate);
    DateTime FinYearEndDate = Convert.ToDateTime(ViewBag.FinYearEndDate);
    if (System.DateTime.Now > FinYearEndDate)
    {
        Model.Date = FinYearEndDate;
    }
}

<div class="portlet box @ViewBag.TableBoxColor">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@ViewBag.Title
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("DebitNoteSubmit", "Voucher", FormMethod.Post, new { @id = "submit_form", @class = "form", enctype = "multipart/form-data" }))
        {
            <div class="alert alert-danger display-none">
                <button class="close" data-dismiss="alert"></button>
                You have some form errors. Please check below.
            </div>
            <div class="alert alert-success display-none">
                <button class="close" data-dismiss="alert"></button>
                Your form validation is successful!
            </div>
            <div class="form-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Debit Note No.</label>
                            @Html.TextBoxFor(c => c.WAD.VoucherNo, new { placeholder = "System Genrated", @class = "form-control required2", @disabled = "disabled" })
                            @Html.HiddenFor(c => c.WAD.GSTPercentage)
                            @Html.HiddenFor(c => c.WAD.GSTType)
                            @Html.HiddenFor(c => c.WAD.StateCode)
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Voucher Date</label>
                            <div class="input-group date date-pickervch" data-date-format="dd MMM yyyy">
                                @Html.TextBox("WAD.VoucherDate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.WAD.VoucherDate).ToString("dd MMM yyyy")), new { @class = "form-control required2", @readonly = "True" })
                                <span class="input-group-btn">
                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Date</label>
                            <div class="input-group date date-pickervch" data-date-format="dd MMM yyyy">
                                @Html.TextBox("Date", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.Date).ToString("dd MMM yyyy")), new { @class = "form-control required2", @readonly = "True" })
                                <span class="input-group-btn">
                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Vendor Name</label>
                            <div class="margin-top-5">
                                <b>@Html.DisplayFor(m => m.PartyCode) : @Html.DisplayFor(m => m.PartyName)</b>
                                @Html.HiddenFor(m => m.PartyCode)
                                @Html.HiddenFor(m => m.PartyName)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>GST Number</label>
                            <div class="margin-top-5">
                                <b>
                                    @if (Model.GSTIN != "" && Model.GSTIN != null)
                                    {
                                        @Html.DisplayFor(m => m.GSTIN)
                                    }
                                    else
                                    {<span>-</span>}
                                </b>
                                @Html.HiddenFor(m => m.GSTIN)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>PAN Number</label>
                            <div class="margin-top-5">
                                <b>
                                    @if (Model.WAD.PANNumber != "" && Model.WAD.PANNumber != null)
                                    {
                                        @Html.DisplayFor(m => m.WAD.PANNumber)
                                    }
                                    else
                                    {<span>-</span>}
                                </b>
                                @Html.HiddenFor(m => m.WAD.PANNumber)
                                @Html.ValidationMessageFor(m => m.WAD.PANNumber)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Vendor Type</label>
                            @Html.DropDownListFor(m => m.Vendor_Type, new SelectList(generalList.Where(c => c.CodeType.ToUpper() == "VENDTY" && c.StatusCode == "Y").OrderBy(c => c.CodeDesc).ToList(), "CodeId", "CodeDesc", Model.Vendor_Type), "", new { @disabled = "true", @class = "select2 required required2 form-control", @placeholder = "Vendor Type" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Branch</label>
                            @Html.DropDownListFor(c => c.WAD.AccountingLocation, new SelectList(ListBRCD, "LocCode", "LocName"), "", new { @class = "required required2 form-control select2 ", @placeholder = "Select Branch" })
                            @Html.HiddenFor(m => m.WAD.AccountingLocation)
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Remarks</label>
                            @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", @placeholder = "Enter Remarks" })
                            @Html.HiddenFor(m => m.LocAddress)
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Invoice No</label>
                            @if (ListBill.Count > 0)
                            {
                                @Html.DropDownListFor(c => c.InvoiceNo, new SelectList(ListBill, "manualbillno", "BILLNO"), "", new { @class = "required required2 form-control select2 ", @placeholder = "Select Invoice" })
                            }
                            else
                            {
                                @Html.TextBoxFor(c => c.InvoiceNo, new { @class = "form-control required", @placeholder = "Enter Invoice No" })
                            }
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>HSN Code</label>
                            @Html.TextBoxFor(m => m.HSNCode, new { placeholder = "Enter HSN Code", @class = "form-control required" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>SAC No</label>
                            @Html.TextBoxFor(c => c.SACNO, new { @class = "form-control required", @placeholder = "Enter SAC No" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Nature Of Transaction</label>
                            @Html.DropDownListFor(m => m.Nature_Of_Transaction, new SelectList(generalList.Where(c => c.CodeType.ToUpper() == "BS" && c.StatusCode == "Y").OrderBy(c => c.CodeDesc).ToList(), "CodeId", "CodeDesc", Model.Nature_Of_Transaction), "", new { @class = "select2 required required2 form-control", @placeholder = "Nature Of Transaction Type" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Account code</label>
                            @Html.TextBoxFor(m => m.AccountCode, new { @class = "form-control required required2", @placeholder = "Search Account Code" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-11 col-md-1">
                        <button type="button" id="btnAddRows" class="btn btn-sm blue pull-right"><i class="fa fa-plus"></i> Add New Row</button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12 table-scrollable">
                        <table id="container" border="1" class="table table-striped table-bordered table-hover">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">Sr No.</th>
                                    <th class="center">Way Bill No</th>
                                    <th class="center">Date</th>
                                    <th class="center">PCs</th>
                                    <th class="center">Vendor Wt</th>
                                    <th class="center">RCPL Wt</th>
                                    <th class="center">Diff Wt</th>
                                    <th class="center">Vendor Rate</th>
                                    <th class="center">RCPL Rate</th>
                                    <th class="center">Diff Rate</th>
                                    <th class="center">Wt Diff Amt</th>
                                    <th class="center">Rate Diff Amt</th>
                                    <th class="center">DN Amt</th>
                                    <th class="center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var itm in Model.WADList)
                                {
                                    Html.RenderPartial("_DebitNote", itm);
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-10 col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-3"><b>Total</b></label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(c => c.WAD.SumAmount, new { placeholder = "0.00", @class = "form-control required required2 clsAmount", @readonly = "true", @min = "1" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-body">
                        @if (Model.isGSTReverse == true)
                        {
                            <h4><b>Reverse GST Applied.</b></h4>
                        }
                        @Html.CheckBoxFor(m => m.isGSTReverse)
                        @Html.HiddenFor(m => m.isGSTReverse)
                        @Html.HiddenFor(m => m.WAD.Vouchertype)
                        @Html.Partial("../UserControls/_GSTTDSControl", Model.OBJstaxtds)
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <a class="btn btn-sm default controls" href="@Url.Content("~/Voucher/DebitNoteCriteria")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back to Criteria</a>
                    <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">

    function pageLevelCallbackFunction() {

        var isGSTReverse = $("#isGSTReverse").is(":checked");
        if (isGSTReverse) {
            $("#WAD_NETAMOUNT").val(rounditn(parseFloat($("#StaxOnAmount").val()) - parseFloat($("#TDSAmount").val()), 2));
        }
    }
    var FormComponents = function (DomainName) {

        var handleDatetimePicker = function () {
            var startDate = new Date();
            var endDate = new Date();
            if (endDate > new Date('@FinYearEndDate')) {
                endDate = new Date('@FinYearEndDate');
            }
            var newStartDt = new Date('@FinYearStartDate');
            var daysType = '@Model.BackDateAccess.DaysType';
            var noOfDays = '@Model.BackDateAccess.AllowedDays';
            @if (Model.BackDateAccess.UserId != null && Model.BackDateAccess.IsActive == true)
            {
                 <text>
            if (daysType == '+') {
                endDate.setDate(endDate.getDate() + parseInt(noOfDays));
            }
            else {
                if ('@Model.BackDateAccess.UserId.ToUpper()' == "ADMIN" && '@Model.BackDateAccess.AllowedDays' == '365') {
                    startDate = newStartDt;
                }
                else {
                    startDate.setDate(startDate.getDate() - parseInt(noOfDays));
                    if (startDate < newStartDt) {
                        startDate = newStartDt;
                    }
                }
            }
            </text>
            }

            if (jQuery().datepicker) {
                $('.date-pickervch').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    startDate: startDate,
                    endDate: endDate,
                    autoclose: true
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }


        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    App.blockUI({ boxed: true });
                    document.forms[1].submit();
                }
            });
        }

        var AddLedgerRows = function (DomainName, itemIndex) {

            $("#btnAddRows").click(function () {
                App.blockUI({ boxed: true });
                var TOTRows = 1;
                for (var i = 0; i <= TOTRows - 1; i++) {
                    setTimeout(function () {
                        itemIndex = itemIndex + 1;
                        AddLedgerRow(DomainName, itemIndex);
                    }, 250 * i);
                }
            });
            LedgerDetails(1, DomainName);
            //CalculateRateWT(Rid)
        }

        var AddLedgerRow = function (DomainName, itemIn) {
            var StrURL1 = DomainName + '/Voucher/DebitNoteDetails/' + itemIn;
            // alert(StrURL1);
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    var Rid = itemIn;
                    $("#container").append(html);
                    LedgerDetails(Rid, DomainName);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    App.unblockUI();
                    alert("error " + req + "   " + status + "   " + error);
                }
            });
        }

        var CalculateRateWT = function (Rid) {

            /* Weight Diffrence Calculation */

            var VendorWt = parseFloat($("#DNVoucher_" + Rid + "__VendorWt").val()).toFixed(2);
            var RCPLWt = parseFloat($("#DNVoucher_" + Rid + "__RCPLWt").val()).toFixed(2);
            //alert(VendorWt + " ~ " + RCPLWt)
            if (VendorWt == "" || VendorWt == null || isNaN(VendorWt))
                VendorWt = 0;
            if (RCPLWt == "" || RCPLWt == null)
                RCPLWt = 0;

            if (RCPLWt > VendorWt) {
                $("#DNVoucher_" + Rid + "__RCPLWt").attr("max", VendorWt);
            }
            var DiffWT = parseFloat(VendorWt).toFixed(2) - parseFloat(RCPLWt).toFixed(2);
            $("#DNVoucher_" + Rid + "__DiffWt").val(rounditn(DiffWT, 2));

            /* Weight Diffrence Calculation End */

            /* Rate Diffrence Calculation Start */

            var VendorRate = parseFloat($("#DNVoucher_" + Rid + "__VendorRate").val()).toFixed(2);
            var RCPLRate = parseFloat($("#DNVoucher_" + Rid + "__RCPLRate").val()).toFixed(2);

            if (VendorRate == "" || VendorRate == null)
                VendorRate = 0;
            if (RCPLRate == "" || RCPLRate == null)
                RCPLRate = 0;

            if (RCPLRate > VendorRate) {
                $("#DNVoucher_" + Rid + "__RCPLRate").attr("max", VendorRate);
            }

            var DiffRate = parseFloat(VendorRate).toFixed(2) - parseFloat(RCPLRate).toFixed(2);
            console.log(VendorRate + " - " + RCPLRate + " = " + parseFloat(DiffRate).toFixed(2))
            $("#DNVoucher_" + Rid + "__DiffRate").val(rounditn(DiffRate, 2));
            console.log($("#DNVoucher_" + Rid + "__DiffRate").val())
            /* Rate Diffrence Calculation End */

            var WtDiffAmt = parseFloat(DiffWT) * parseFloat(VendorRate);

            $("#DNVoucher_" + Rid + "__WtDiffAmt").val(rounditn(WtDiffAmt, 2));

            var RateDiffAmt = parseFloat(RCPLWt) * parseFloat(DiffRate);

            $("#DNVoucher_" + Rid + "__RateDiffAmt").val(rounditn(RateDiffAmt, 2));

            var Amount = parseFloat(RateDiffAmt) + parseFloat(WtDiffAmt);

            $("#DNVoucher_" + Rid + "__Amount").val(rounditn(Amount, 2));
        }

        var clsAmountchange = function (DomainName) {

            var TotalAmount = 0;

            $(".clsDNAmount").each(function () {
                var Amount = $(this).val();
                if (Amount == "" || Amount == null) {
                    Amount = 0;
                }
                TotalAmount = parseFloat(TotalAmount) + parseFloat(Amount);
            });
            $("#WAD_SumAmount").val(Math.round(TotalAmount).toFixed(2));
            $("#StaxOnAmount").val(Math.round(TotalAmount).toFixed(2));
        }

        var LedgerDetails = function (Rid, DomainName) {

            var startdate = new Date();
            var enddate = new Date();

            startdate.setDate(startdate.getDate() - 200);
            enddate.setDate(enddate.getDate() + 200);

            $("#DNVoucher_" + Rid + "__VoucherDate").attr("readonly", "true")
            handleDateTimePicker_ddmmyyyy("DNVoucher_" + Rid + "__VoucherDate", startdate, enddate);
        }

        var Origin_Dest_Changes_Events = function (DomainName, ControlID) {

            var strUrl = "@Url.Action("GetData", "Account")";
            var parameters = {};
            parameters['BranchCode'] = ControlID;

            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: "json",
                data: {
                    Method: 'GetLocationAddressFromBranch',
                    parameters: parameters
                },
                success: function (result) {

                    $("#LocAddress").val(result[0].LocAddr)
                    App.unblockUI();

                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue while update candidate status... Please try again later..', "Oppps..!!");
                    App.unblockUI('#responsive');
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                handleDateRangePickers();
                handleDatetimePicker();
                Set_Remove_Default_Zero_Values(DomainName);
                CalculateStaxTDS(DomainName);
                StaxTDSEnabled(DomainName);
                GetAccountCode("AccountCode");
                $("#WAD_PANNumber").inputmask("AAAAA9999A", { clearMaskOnLostFocus: true });
                $('#FilterType').val("0");

                $(".select2").select2({
                    placeholder: "Select an option",
                    allowClear: true
                });

                var itemIndex = $("#container input.iHidden").length + 1;
                AddLedgerRows(DomainName, itemIndex);

                $(".clsVendorWt").live("change", function (e) {
                    var Rid = $(this).attr("id").replace("__VendorWt", "").replace("DNVoucher_", "");
                    CalculateRateWT(Rid);
                    clsAmountchange(DomainName);
                    CalculateStaxTDS(DomainName)
                });

                $(".clsRCPLWt").live("change", function (e) {
                    var Rid = $(this).attr("id").replace("__RCPLWt", "").replace("DNVoucher_", "");
                    CalculateRateWT(Rid);
                    clsAmountchange(DomainName);
                    CalculateStaxTDS(DomainName)
                });

                $(".clsVendorRate").live("change", function (e) {
                    var Rid = $(this).attr("id").replace("__VendorRate", "").replace("DNVoucher_", "");
                    CalculateRateWT(Rid);
                    clsAmountchange(DomainName);
                    CalculateStaxTDS(DomainName)
                });

                $(".clsRCPLRate").live("change", function (e) {
                    var Rid = $(this).attr("id").replace("__RCPLRate", "").replace("DNVoucher_", "");
                    CalculateRateWT(Rid);
                    clsAmountchange(DomainName);
                    CalculateStaxTDS(DomainName)
                });

                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    var TotalAmount = 0;
                    $(".clsDNAmount").each(function () {
                        var Amount = $(this).val();
                        TotalAmount = parseFloat(TotalAmount) + parseFloat(Amount);
                    });
                    $("#WAD_SumAmount").val(Math.round(TotalAmount).toFixed(2));
                    $("#StaxOnAmount").val(Math.round(TotalAmount).toFixed(2));

                    return false;
                });

                $("#WAD_AccountingLocation").change(function () {
                    if ($(this).val() != "" && $(this).val() != "undefined") {
                        Origin_Dest_Changes_Events(DomainName, $('#WAD_AccountingLocation').val())
                    }
                });

                $("#btnSubmit").click(function () {

                    $("#Vendor_Type").removeAttr("disabled", "false")
                    if ($('#submit_form').valid()) {

                        App.blockUI({ boxed: true });
                        //document.form["submit_form"].submit();
                        //return false
                    }
                    else {

                        return false
                    }
                    App.unblockUI();
                });

                $("#isGSTReverse").on("change", function () {
                    CalculateStaxTDS();
                });

                $("#uniform-isGSTReverse").addClass("hide");
                if ('@ListBill.Count' > '0') {
                    $("#InvoiceNo").on("change", function () {
                        $("#WAD_NETAMOUNT").attr("max", parseFloat($("#InvoiceNo option:selected").val().split("~")[1]).toFixed(2));
                    });
                } else {
                    $("#WAD_NETAMOUNT").removeAttr("max");
                }

            }
        };
    }();

</script>