﻿@model FleetDataService.ViewModels.DebitCreditVoucherViewModel
@using Fleet.Helpers;
@using FleetDataService.Models;
@using Fleet.Classes;
@using FleetDataService.ViewModels;
@using Fleet.ViewModels

@{
    ViewBag.Title = "Journal Voucher";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService CS = new FleetDataService.MasterService();
    FleetDataService.OperationService CSOPN = new FleetDataService.OperationService();
    List<Webx_Master_General> ListBusinessdivision = CS.GetGeneralMasterObject().Where(c => c.CodeType == "BUT").ToList();
    List<webx_acctinfo> ListTDSSection = CSOPN.GetTDSSectionList();
    List<webx_location> ListLocation = CS.GetLocationDetails();

    var id = ViewBag.Id;
    int I = 1;
    string CurrDate = System.DateTime.Now.ToString();
    DateTime FinYearStartDate = Convert.ToDateTime(ViewBag.FinYearStartDate);
    DateTime FinYearEndDate = Convert.ToDateTime(ViewBag.FinYearEndDate);
    if (System.DateTime.Now > FinYearEndDate)
    {
        Model.WAD.VoucherDate = FinYearEndDate;
    }
    Model.WAD.VoucherDate = System.DateTime.Now;
    objDate OD = new objDate();
    OD.ControlId = "WAD.VoucherDate";
    OD.ControlValue = Model.WAD.VoucherDate.ToString();
    OD.ModuleCode = "07";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor" id="Enquiry_form_wizard">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("JournalVoucher", "Voucher", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
                {
                    <div class="alert alert-danger display-none">
                        <button class="close" data-dismiss="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-none">
                        <button class="close" data-dismiss="alert"></button>
                        Your form validation is successful!
                    </div>

                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Voucher No.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.VoucherNo, new { placeholder = "System Genrated", @class = "m-wrap  form-control", @readonly = "true" })
                                        @Html.Hidden("RDOChecked")
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Voucher Date </label>
                                    <div class="col-md-6">
                                        @*<div class="input-group input-medium date date-pickervch" data-date-format="dd MMM yyyy">
                                                @Html.TextBox("WAD.VoucherDate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.WAD.VoucherDate).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @readonly = "true" })
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>*@
                                        @{
                                            Html.RenderPartial("../UserControls/_DocumentDate", OD);
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Manual No.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.ManualNo, new { @class = "form-control required2", placeholder = "Manual No." })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Ref. No.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.ReferenceNo, new { @class = "form-control required2", placeholder = "Ref. No." })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Prepared At Location
                                    </label>
                                    <div class="col-md-6">
                                        @*@Html.TextBoxFor(m => m.WAD.Preparedatlocation, new { @class = "form-control", @readonly = "true" })*@
                                        @*@Html.DropDownListFor(m => m.WAD.Preparedatlocation, new SelectList(ListLocation, "LocCode", "LocName"), "", new { @class = "select2 form-control required" })*@
                                        @Html.TextBoxFor(m => m.WAD.Preparedatlocation, new { placeholder = "Preparedat Location", @class = "required2 form-control required" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Prepard By</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.PrepardBy, new { @class = "required2  form-control", @readonly = "true", placeholder = "Prepared By" })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Prepared For</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.PreparedFor, new { @class = "form-control required required2", placeholder = "Prepared For" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Accounting Location</label>
                                    <div class="col-md-6">
                                        @*@Html.TextBoxFor(c => c.WAD.AccountingLocation, new { @class = "m-wrap  form-control required required2" })*@
                                        @Html.TextBoxFor(m => m.WAD.AccountingLocation, new { placeholder = "Accounting Location", @class = "required2 form-control required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Paid To</label>
                                    <div class="col-md-10" id="inline_content">
                                        @Html.HiddenFor(c => c.WAD.CustTyp)
                                        <label class="col-md-2">
                                            <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Cust" value="P" checked="true" />
                                            Customer
                                        </label>
                                        <label class="col-md-2">
                                            <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="vend" value="V" />
                                            Vendor
                                        </label>
                                        <label class="col-md-2">
                                            <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Emplo" value="E" />
                                            Employee
                                        </label>
                                        <label class="col-md-2">
                                            <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Driv" value="D" />
                                            Driver
                                        </label>
                                        <label class="col-md-2">
                                            <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Vehi" value="L" />
                                            Vehicle
                                        </label>
                                        <label class="control-label col-md-2">
                                            <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Other" value="O" />
                                            Other
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4"></label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.CustCode, new { placeholder = "Name", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">8888:</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.CustomerName, new { @class = "form-control required2", placeholder = "Code" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label col-md-10">Paid To:</label>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <div class="row col-md-12">
                                                <div class="col-md-12" id="inline_content">
                                                    @Html.HiddenFor(c => c.WAD.CustTyp)
                                                    <label class="control-label col-md-2">
                                                        <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Cust" value="P" checked="true" />
                                                        Customer
                                                    </label>
                                                    <label class="control-label col-md-2">
                                                        <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="vend" value="V" />
                                                        Vendor
                                                    </label>
                                                    <label class="control-label col-md-2">
                                                        <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Emplo" value="E" />
                                                        Employee
                                                    </label>
                                                    <label class="control-label col-md-2">
                                                        <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Driv" value="D" />
                                                        Driver
                                                    </label>
                                                    <label class="control-label col-md-2">
                                                        <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Vehi" value="L" />
                                                        Vehicle
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row col-md-12">
                                                <div class="col-md-6">

                                                    <div class="col-md-6">
                                                        @Html.TextBoxFor(c => c.WAD.CustCode, new { placeholder = "", @class = "m-wrap form-control required required2" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="control-label col-md-4">8888:</label>
                                                    <div class="col-md-6">
                                                        @Html.TextBoxFor(c => c.WAD.CustomerName, new { @class = "m-wrap  form-control " })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Narration</label>
                                    <div class="col-md-6">
                                        @Html.TextAreaFor(c => c.WAD.Narration, new { @class = "form-control required2 uppercase", placeholder = "Narration" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <table id="container" border="1" class="table table-striped table-bordered table-hover">
                                    <thead class="flip-content">
                                        <tr>
                                            <th class="center">Sr No.</th>
                                            <th class="center">Particular</th>
                                            <th class="center">Account Code</th>
                                            <th class="center">Debit</th>
                                            <th class="center">Credit</th>
                                            @*<th class="center">Cost Type</th>
                                                <th class="center">Cost Code</th>*@
                                            <th class="center">Narration</th>
                                            <th class="center">X</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var itm in Model.WADList)
                                        {
                                            Html.RenderPartial("_JournalVoucherPartial", itm);
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-8">Debit Total</label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.WAD.DebitTotal, new { placeholder = "0.00", @class = "m-wrap  form-control  center", @readonly = "true" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-8">Credit Total</label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.WAD.CreditTotal, new { placeholder = "0.00", @class = "m-wrap  form-control  center", @readonly = "true" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4" id="Newcontainer">
                                <a id="btnAddRows" class="btn btn-sm blue pull-right">
                                    <i class="fa fa-plus"></i>&nbsp;Add New Row
                                </a>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-4 col-md-8">
                                    <a href="@Url.Content("~/Voucher/JournalVoucher/0")" class="btn btn-sm default"> <i class="fa fa-refresh"> </i>&nbsp;Reset</a>
                                    <button class="btn btn-sm green button-submit" id="Submit">
                                        <i class="fa fa-check"></i> Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var handleDatetimePicker = function () {
         //   debugger
            var startDate = new Date();
            var endDate = new Date();
            if (endDate > new Date('@FinYearEndDate')) {
                endDate = new Date('@FinYearEndDate');
            }
            var newStartDt = new Date('@FinYearStartDate');
            var daysType = '@Model.BackDateAccess.DaysType';
            var noOfDays = '@Model.BackDateAccess.AllowedDays';

            @if (Model.BackDateAccess.UserId != null && Model.BackDateAccess.IsActive ==true)
          {
              <text>
            if (daysType == '+') {
                endDate.setDate(endDate.getDate() + parseInt(noOfDays));
            }
            else {
                if ('@Model.BackDateAccess.UserId.ToUpper()' == "ADMIN" && '@Model.BackDateAccess.AllowedDays' == '365') {
                    startDate = newStartDt;
                }
                else {
                    startDate.setDate(startDate.getDate() - parseInt(noOfDays));
                    if (startDate < newStartDt) {
                        startDate = newStartDt;
                    }
                }
            }
            </text>
        }

            if (jQuery().datepicker) {
                $('.date-pickervch').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    //startDate: startDate,
                    //endDate: endDate,
                    startDate:  new Date('@FinYearStartDate'),
                    endDate:  new Date('@FinYearEndDate'),
                    autoclose: true
                });

                $('.select2').select2({
                    placeholder: "Select an option",
                    allowClear: true
                });

                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }

        var Select2Class = function (DomainName, Id) {

            $('#' + Id).select2({
                placeholder: "Select an option",
                allowClear: true
            });
        };

        var Formvalidate = function (DomainName) {

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {

                },
                messages: { // custom messages for radio buttons and checkboxes

                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.attr("name") == "gender") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_gender_error");
                    } else if (element.attr("name") == "payment[]") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_payment_error");
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });

            $('#Enquiry_form_wizard .button-submit').click(function () {

                var form = $('#submit_form');

            //    alert(!form.valid());
                if (!form.valid()) {
                    return false;
                }
                else {
                    if ($("#RDOChecked").val() != "") {
                        if ($("#WAD_CustCode").val() == null || $("#WAD_CustCode").val() == "") {
                            if ($("#WAD_CustomerName").val() == null || $("#WAD_CustomerName").val() == "") {
                                if ($('#submit_form').valid()) {
                                    App.blockUI({ boxed: true });
                                    document.forms[1].submit();
                                }
                            }
                            else {
                                $("#WAD_CustCode").removeClass("required required2");
                                if ($('#submit_form').valid()) {
                                    App.blockUI({ boxed: true });
                                    document.forms["submit_form"].submit();
                                }
                            }
                        }
                        else {
                            //alert($("#WAD_DebitTotal").val() + "--" + $("#WAD_CreditTotal").val());
                            if (parseInt($("#WAD_DebitTotal").val()) == parseInt($("#WAD_CreditTotal").val())) {

                                if ($('#submit_form').valid()) {

                                    App.blockUI({ boxed: true });
                                    document.forms["submit_form"].submit();
                                }
                            }
                            else {
                                //alert("Debit/Credit Total must same..!!");
                                return false;
                            }
                        }
                    }
                    else {
                        alert("Please select One Apropriate Opponant Account");
                    }
                }
            });

            $("#WAD_CustCode").change(function () {
            var custcode=$("#WAD_CustCode").val();
            if(custcode=="8888" || custcode=="9888")
            {
                $("#WAD_CustomerName").attr("readonly", false);
                $("#WAD_CustomerName").addClass("required");
            }
        });
    }

        var ChangeCustomerType = function (DomainName) {

            $("input[name='optionsRadios2']").click(function () {

                if (this.value == "P") {
                    $("#WAD_CustTyp").val("P");
                    $("#WAD_CustCode").attr("readonly", "false");
                    $("#WAD_CustomerName").val("");
                    $("#WAD_CustomerName").attr("readonly", "true");
                    $("#WAD_CustCode").attr("readonly", false);
                    $("#WAD_CustomerName").removeClass("required");
                    GetPartyName_BranchWise("WAD_CustCode");
                }
                else if (this.value == "V") {
                    //alert(this.value)
                    $("#WAD_CustTyp").val("V");
                    $("#WAD_CustCode").val("");
                    $("#WAD_CustomerName").val("");
                    $("#WAD_CustomerName").attr("readonly", "true");
                    $("#WAD_CustCode").attr("readonly", false);
                    $("#WAD_CustomerName").removeClass("required");
                    GetVehicleEmployeeUserName("WAD_CustCode", "V")
                }
                else if (this.value == "E") {
                    //alert(this.value)
                    $("#WAD_CustTyp").val("U");
                    $("#WAD_CustCode").val("");
                    $("#WAD_CustomerName").val("");
                    $("#WAD_CustomerName").attr("readonly", "true");
                    $("#WAD_CustCode").attr("readonly", false);
                    $("#WAD_CustomerName").removeClass("required");
                    GetVehicleEmployeeUserName_BranchWise("WAD_CustCode", "U")
                }
                else if (this.value == "D") {
                    //alert(this.value)
                    $("#WAD_CustTyp").val("D");
                    $("#WAD_CustCode").val("");
                    $("#WAD_CustomerName").val("");
                    $("#WAD_CustomerName").attr("readonly", "true");
                    $("#WAD_CustCode").attr("readonly", false);
                    $("#WAD_CustomerName").removeClass("required");
                    GetVehicleEmployeeUserName("WAD_CustCode", "D")
                }
                else if (this.value == "L") {
                    //alert(this.value)
                    $("#WAD_CustTyp").val("VE");
                    $("#WAD_CustCode").val("");
                    $("#WAD_CustomerName").val("");
                    $("#WAD_CustomerName").attr("readonly", "true");
                    $("#WAD_CustCode").attr("readonly", false);
                    $("#WAD_CustomerName").removeClass("required");
                    GetVehicleEmployeeUserName("WAD_CustCode", "VE")
                }
                else if (this.value == "O") {
                    //alert(this.value)
                    $("#WAD_CustTyp").val("O");
                    $("#WAD_CustCode").val("8888");
                    $("#WAD_CustomerName").attr("readonly", false);
                    $("#WAD_CustCode").attr("readonly", "true");
                    $("#WAD_CustomerName").addClass("required");
                    //GetVehicleEmployeeUserName("WAD_CustCode", "VE")
                }

                //if (this.value == "P") {
                //    GetPartyName("WAD_CustCode");
                //    //GetPartyName_BranchWise("WAD_CustCode");
                //}

                //else if (this.value == "V") {
                //    $("#WAD_CustTyp").val("V");
                //    $("#WAD_CustCode").val("");
                //    GetVehicleEmployeeUserName("WAD_CustCode", "V")

                //}

                //else if (this.value == "E") {
                //    $("#WAD_CustTyp").val("U");
                //    $("#WAD_CustCode").val("");
                //    GetVehicleEmployeeUserName("WAD_CustCode", "U")
                //    //GetVehicleEmployeeUserName_BranchWise("WAD_CustCode", "U");
                //}

                //else if (this.value == "D") {
                //    $("#WAD_CustTyp").val("D");
                //    $("#WAD_CustCode").val("");
                //    GetVehicleEmployeeUserName("WAD_CustCode", "D")

                //}

                //else if (this.value == "L") {
                //    $("#WAD_CustTyp").val("VE");
                //    $("#WAD_CustCode").val("");
                //    GetVehicleEmployeeUserName("WAD_CustCode", "VE")
                //}
            });
        }

        var AccountCodeChange = function (DomainName, itemIndex) {

            $("#JournalVoucher_" + itemIndex + "__AccountCode").change(function (e) {
                e.preventDefault();
                var dlnmId = $(this).attr("id");
                var Value = $(this).val();
                var MatchCode = "EXP";
                if (Value.indexOf(MatchCode) != -1) {
                    $("#JournalVoucher_" + itemIndex + "__CostType").attr("disabled", false);
                    $("#JournalVoucher_" + itemIndex + "__CostCode").removeAttr("readonly");
                    $("#JournalVoucher_" + itemIndex + "__CostType").addClass("required required2");
                    $("#JournalVoucher_" + itemIndex + "__CostCode").addClass("required required2");
                    $("#JournalVoucher_" + itemIndex + "__CostCode").removeAttr("disabled");
                    $("#JournalVoucher_" + itemIndex + "__CostType").removeAttr("disabled");


                }
                else {
                    var CostType = $("#JournalVoucher_" + itemIndex + "__CostType").attr("id");
                    $("#JournalVoucher_" + itemIndex + "__CostType").removeClass("required required2");
                    $("#JournalVoucher_" + itemIndex + "__CostCode").removeClass("required required2");
                    $("#" + CostType).select2('data', null);
                    $("#JournalVoucher_" + itemIndex + "__CostCode").val("");
                    $("#JournalVoucher_" + itemIndex + "__CostType").val("");
                    $("#JournalVoucher_" + itemIndex + "__CostType").attr("disabled", true);
                    $("#JournalVoucher_" + itemIndex + "__CostCode").attr("disabled", true);
                    //alert("readonly");


                }
                if (Value != "") {
                    var count = 0;
                    $(".ClsXYZ").each(function () {

                        var dlnmId1 = $(this).attr("id");
                        var dlnmVal1 = $(this).val();

                        //if (dlnmId1 != dlnmId && dlnmVal1 == Value) {
                        //    alert("cannot select Duplicate Value");
                        //    count = 1;
                        //    $("#" + dlnmId).select2('data', null);
                        //    $("#JournalVoucher_" + itemIndex + "__AccountCode").val("");
                        //    $("#JournalVoucher_" + itemIndex + "__ACCCode").val("");
                        //    return false;
                        //}
                    });
                    if (count == 0) {
                        $("#JournalVoucher_" + itemIndex + "__ACCCode").val(Value);
                        $("#JournalVoucher_" + itemIndex + "__CostCode").removeAttr("readonly");
                        $("#JournalVoucher_" + itemIndex + "__CostCode").val("");
                    }
                }
            });
        }

        var clsAmountchange = function (DomainName) {

            $(".clsAmount").live("change", function () {

                var TotalAmount = 0;
                $(".clsAmount").each(function () {

                    var Amount = $(this).val();
                    if (Amount == "" || Amount == null) {
                        Amount = 0;
                    }
                    TotalAmount = parseFloat(TotalAmount) + parseFloat(Amount);

                });
                $("#WAD_DebitTotal").val(Math.round(TotalAmount));
                $("#WAD_AmountApplicable").val(Math.round(TotalAmount));
            });
        }

        var clsCreditchange = function (DomainName) {

            $(".clsCredit").live("change", function () {

                var TotalAmount = 0;
                $(".clsCredit").each(function () {

                    var Amount = $(this).val();
                    if (Amount == "" || Amount == null) {
                        Amount = 0;
                    }
                    TotalAmount = parseFloat(TotalAmount) + parseFloat(Amount);
                });

                $("#WAD_CreditTotal").val(Math.round(TotalAmount));
                $("#WAD_AmountApplicable").val(Math.round(TotalAmount));

            });
        }

        var ChangeCostCode = function (DomainName, itemIndex) {

            $("#JournalVoucher_" + itemIndex + "__CostCode").change(function () {
                ALERT("COSTCODE")
                App.blockUI({ Boxed: true });
                var ACCOUNTCODE = $("#JournalVoucher_" + itemIndex + "__AccountCode").val();
                var MatchCode = "EXP";
                if (ACCOUNTCODE.indexOf(MatchCode) != -1) {
                    var CostCode = $(this).val();
                    var Costtype = $("#JournalVoucher_" + itemIndex + "__CostType").val();

                    var strurl = DomainName + '/GeneralMethod/GetAccountCodeIsValid?AccountCode=' + CostCode + '&CodeType=' + Costtype;

                    $.ajax({
                        url: strurl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {

                            App.unblockUI();
                            if (data.IsValid == 0) {
                                alert("The Cost Code you have entered is not valid !!..")
                                $("#JournalVoucher_" + itemIndex + "__CostCode").val("");
                                $("#JournalVoucher_" + itemIndex + "__CostCode").focus();
                            }
                        },
                        error: function (req, status, error) {
                            App.unblockUI();
                            //alert("error--" + req + "---" + status + "---" + error);
                        }
                    });
                }
                else {
                    App.unblockUI();
                }

            });

        }

        var AddAccountInfo = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Voucher/AddNewAccountInfoJournalVoucher?SrNo=' + itemIndex;// + '&Value=' + Value;

            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {

                    $("#container").append(html);

                    $("input[name='optionsRadios3']").click(function () {
                        $("#RDOChecked").val($(this).val());
                    });

                    GetAccountCode("JournalVoucher_" + itemIndex + "__AccountCode");
                    Select2Class(DomainName, "JournalVoucher_" + itemIndex + "__CostType");
                    $("#JournalVoucher_" + itemIndex + "__NarrationAccountinfo").val($("#WAD_Narration").val());
                    AccountCodeChange(DomainName, itemIndex);
                    clsAmountchange(DomainName);
                    ChangeCostCode(DomainName, itemIndex);
                    $("input:checkbox, input:radio").uniform();
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    App.unblockUI();
                }
            });
        }

        var DebitCreditTotal = function (DomainName, itemIndex) {
            var DebitTotal = $("#WAD_DebitTotal").val();
            var CreditTotal = $("#WAD_CreditTotal").val();
            var Debit = $("#JournalVoucher_" + itemIndex + "__Debit").val();
            var Credit = $("#JournalVoucher_" + itemIndex + "__Credit").val();
            if (DebitTotal == 0 && CreditTotal == 0) {
                alert("Enter Debit/Credit Amount");
                $("#JournalVoucher_" + itemIndex + "__Debit").focus();
                $("#JournalVoucher_" + itemIndex + "__Debit").addClass("required  required2");
                $("#JournalVoucher_" + itemIndex + "__Credit").addClass("required required2");
                return false;

            }
            if (DebitTotal != CreditTotal) {
                alert("Debit/Credit Amount Total must same..!!");
                return false;
            }

        }

        var DebitCredit = function (DomainName, itemIndex) {

            var Debit = $("#JournalVoucher_" + itemIndex + "__Debit").val();
            //alert(Debit);
            var Credit = $("#JournalVoucher_" + itemIndex + "__Credit").val();
            if (Debit > 0 && Credit > 0) {
                //alert("Not allow");
                $("#JournalVoucher_" + itemIndex + "__Credit").val(0);
                $("#JournalVoucher_" + itemIndex + "__Debit").val(0);

            }
            if (Credit > 0 && Debit > 0) {
                //alert("Not allow");
                $("#JournalVoucher_" + itemIndex + "__Credit").val(0);
                $("#JournalVoucher_" + itemIndex + "__Debit").val(0);
            }
        }

        var RadioButtonClick = function (DomainName) {

        }

        var ChangeCostCode = function (DomainName, itemIndex) {

            $("#JournalVoucher_" + itemIndex + "__CostCode").change(function () {

                App.blockUI({ Boxed: true });
                var ACCOUNTCODE = $("#JournalVoucher_" + itemIndex + "__AccountCode").val();
                var MatchCode = "EXP";
                if (ACCOUNTCODE.indexOf(MatchCode) != -1) {
                    var CostCode = $(this).val();
                    var Costtype = $("#JournalVoucher_" + itemIndex + "__CostType").val();

                    var strurl = DomainName + '/GeneralMethod/GetAccountCodeIsValid?AccountCode=' + CostCode + '&CodeType=' + Costtype;
                    alert(strurl);
                    $.ajax({
                        url: strurl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {

                            App.unblockUI();
                            if (data.IsValid == 0) {
                                alert("The Cost Code you have entered is not valid !!..")
                                $("#JournalVoucher_" + itemIndex + "__CostCode").val("");
                                $("#JournalVoucher_" + itemIndex + "__CostCode").focus();
                            }
                        },
                        error: function (req, status, error) {
                            App.unblockUI();
                        }
                    });
                }
                else {
                    App.unblockUI();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                handleDatetimePicker();
                ControlDate();
                StrURL = DomainName + "/Operation/GetDestinationLocations";
                JsonDDLSelectCode("WAD_Preparedatlocation", StrURL);

                StrURL = DomainName + "/Operation/GetDestinationLocations";
                JsonDDLSelectCode("WAD_AccountingLocation", StrURL);

                $("#CustTyp").val("P");


                $("#WAD_Narration").focusout(function () {

                    $(".clsNarration").each(function () {
                        if ($(this).val() == "") {
                            $(this).val($("#WAD_Narration").val());
                        }
                    })
                });

                Formvalidate(DomainName);
                ChangeCustomerType(DomainName);
                GetPartyName("WAD_CustCode");
                var itemIndex = $("#Partialcontainer input.iHidden").length + 1;
                GetAccountCode("JournalVoucher_" + itemIndex + "__AccountCode");
                AccountCodeChange(DomainName, itemIndex);
                ChangeCostCode(DomainName, itemIndex);
                $("#ChequeNo").attr("disabled", true);

                $('#Submit').click(function () {

                    //var DebitTotal = $("#WAD_DebitTotal").val();
                    //var CreditTotal = $("#WAD_CreditTotal").val();
                    //var CustomerName = $("#WAD_CustomerName").val();

                    //App.blockUI({ Boxed: true });

                    //if (DebitTotal == 0 && CreditTotal == 0) {
                    //    alert("Plz Enter Debit/Credit Amount..!!");
                    //    App.unblockUI();
                    //    return false;
                    //}
                    //if (DebitTotal != CreditTotal) {
                    //    alert("Debit/Credit Amount Total must same..!!");
                    //    App.unblockUI();
                    //    return false;
                    //}
                    //if (CustomerName != "") {
                    //    $("#WAD_CustCode").removeClass("required required2");
                    //}
                    //else {
                    //    $("#WAD_CustCode").addClass("required required2");
                    //}
                });

                $(".Particular").live("click", function () {
                    var itemIndex = $(this).attr("id").replace("Particular", "");

                    $(".Particular").each(function () {
                        var itemIndex1 = $(this).attr("id").replace("Particular", "");

                        if (itemIndex == itemIndex1) {
                            $("#JournalVoucher_" + itemIndex1 + "__Particular").val(true);
                        }
                        else {
                            $("#JournalVoucher_" + itemIndex1 + "__Particular").val(false);
                        }
                    });
                });

                $(".Blur").live("blur", function () {
                    DebitCredit(DomainName, itemIndex);
                    var TotalAmount = 0;
                    var TotalAmount1 = 0;

                    $(".clsAmount").each(function () {
                        var Amount = $(this).val();
                        TotalAmount = parseFloat(TotalAmount) + parseFloat(Amount);
                    });

                    $(".clsCredit").each(function () {
                        var Amount1 = $(this).val();
                        TotalAmount1 = parseFloat(TotalAmount1) + parseFloat(Amount1);
                    });

                    $("#WAD_DebitTotal").val(Math.round(TotalAmount));
                    $("#WAD_CreditTotal").val(Math.round(TotalAmount1));
                });

                $(".DebitChange").live("change", function () {
                    var itemIndex = $(this).attr("id").replace("JournalVoucher_", "").replace("__Debit", "");
                    DebitCredit(DomainName, itemIndex);
                });

                $(".CreditChange").live("change", function () {
                    var itemIndex = $(this).attr("id").replace("JournalVoucher_", "").replace("__Credit", "");
                    DebitCredit(DomainName, itemIndex);
                });

                $("#btnAddRows").click(function () {
                    var TOTROW = "";
                    TOTROW = 1;
                    App.blockUI({ Boxed: true });
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            itemIndex = itemIndex + 1;
                            AddAccountInfo(DomainName, itemIndex);
                        }, 100 * i);
                        App.unblockUI();
                        return false;
                    }
                });

                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    var TotalAmount = 0;
                    var TotalAmount1 = 0;
                    $(".clsAmount").each(function () {
                        var Amount = $(this).val();
                        TotalAmount = parseFloat(TotalAmount) + parseFloat(Amount);
                    });

                    $(".clsCredit").each(function () {
                        var Amount1 = $(this).val();
                        TotalAmount1 = parseFloat(TotalAmount1) + parseFloat(Amount1);
                    });

                    $("#WAD_DebitTotal").val(Math.round(TotalAmount));
                    $("#WAD_CreditTotal").val(Math.round(TotalAmount1));
                    return false;
                });
                clsAmountchange(DomainName);
                clsCreditchange(DomainName);

                var Prefix = "PAYMENTMODE_1__";



                $("#WAD_ManualNo").change(function () {
                    var ManualNo = $("#WAD_ManualNo").val();
                    var strurl = DomainName + '/Voucher/CheckManualNoForVouchers?ManualNo=' + ManualNo;

                    $.ajax({
                        url: strurl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {

                            App.unblockUI();
                            if (parseInt(data.Count) > 0) {
                                alert("Manual Voucher Number is Already Exists... Please Enter Other Mumber")
                                $("#WAD_ManualNo").val("");
                                $("#WAD_ManualNo").focus();
                            }
                        },
                        error: function (req, status, error) {
                            App.unblockUI();
                            //alert("error--" + req + "---" + status + "---" + error);
                        }
                    });

                });

                $("#WAD_ReferenceNo").change(function () {
                    var ReferenceNo = $("#WAD_ReferenceNo").val();
                    var strurl = DomainName + '/Voucher/CheckReferenceNoForVouchers?ReferenceNo=' + ReferenceNo;

                    $.ajax({
                        url: strurl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {

                            App.unblockUI();
                            if (parseInt(data.Count) > 0) {
                                alert("ReferenceNo Number is Already Exists... Please Enter Other Mumber")
                                $("#WAD_ReferenceNo").val("");
                                $("#WAD_ReferenceNo").focus();
                            }
                        },
                        error: function (req, status, error) {
                            App.unblockUI();
                            //alert("error--" + req + "---" + status + "---" + error);
                        }
                    });

                });

            }
        };
    }();
</script>
