﻿@model FleetDataService.ViewModels.MJVViewModel
@using Fleet.Helpers;
@using FleetDataService.Models;
@using Fleet.Classes;
@using FleetDataService.ViewModels;
@using Fleet.ViewModels

@{
    ViewBag.Title = "Multiple Journal Voucher";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService CS = new FleetDataService.MasterService();
    FleetDataService.OperationService CSOPN = new FleetDataService.OperationService();
    var id = ViewBag.Id;
    int I = 1;
    string CurrDate = System.DateTime.Now.ToString();
    List<Webx_Master_General> ListBusinessdivision = CS.GetGeneralMasterObject().Where(c => c.CodeType == "BUT").ToList();
    List<webx_acctinfo> ListTDSSection = CSOPN.GetTDSSectionList();

    DateTime FinYearStartDate = Convert.ToDateTime(ViewBag.FinYearStartDate);
    DateTime FinYearEndDate = Convert.ToDateTime(ViewBag.FinYearEndDate);

    Model.WAD.VoucherDate = System.DateTime.Now;
    objDate OD = new objDate();
    OD.ControlId = "WAD.VoucherDate";
    OD.ControlValue = Model.WAD.VoucherDate.ToString();
    OD.ModuleCode = "17";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor" id="Enquiry_form_wizard">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("MJVSubmit", "Voucher", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
                {

                    <div class="alert alert-danger display-none">
                        <button class="close" data-dismiss="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-none">
                        <button class="close" data-dismiss="alert"></button>
                        Your form validation is successful!
                    </div>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Voucher No.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.VoucherNo, new { placeholder = "System Genrated", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Voucher Date </label>
                                    <div class="col-md-6">
                                        @*<div class="input-group input-medium date date-picker" data-date-format="dd MMM yyyy" >
                                            @Html.TextBox("WAD.VoucherDate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.WAD.VoucherDate).ToString("dd MMM yyyy")), new { @class = "form-control required ", @readonly = "true" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>*@
                                        @{
                    Html.RenderPartial("../UserControls/_DocumentDate", OD);
                                        }
                                    </div>
                                  
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Manual No.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.ManualNo, new { @class = "form-control required2 required", placeholder = "Manual No." })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Ref. No.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.ReferenceNo, new { @class = "required2  form-control required", placeholder = "Ref. No." })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Prepared at Location
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.WAD.Preparedatlocation, new { @class = "form-control required2", @readonly = "true", placeholder = "Prepared at Location" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Prepard By</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.PrepardBy, new { @class = "form-control required2", @readonly = "true", placeholder = "Prepard By" })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Prepared For</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.PreparedFor, new { @class = "form-control required required2", placeholder = "Prepared For" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Narration</label>
                                    <div class="col-md-6">
                                        @Html.TextAreaFor(c => c.WAD.Narration, new { @class = "form-control required required2 uppercase", placeholder = "Narration" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label col-md-3" style="color: red"><b>Plz Check Radio Button For Particular Ledger</b></label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <table id="container" border="1" class="table table-striped table-bordered table-hover">
                                    <thead class="flip-content">
                                        <tr>
                                            <th class="center">Sr No.</th>
                                            <th class="center">Particular</th>
                                            <th class="center">Account Code</th>
                                            <th class="center">Paid To</th>
                                            <th class="center">Party Code</th>
                                            <th class="center">Debit</th>
                                            <th class="center">Credit</th>
                                            @*<th class="center">Cost Type</th>
                                                <th class="center">Cost Code</th>*@
                                            <th class="center">Narration</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var itm in Model.WADList)
                                        {
                                            Html.RenderPartial("_MJVPartial", itm);
                                        }

                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-offset-6 col-md-2">
                                <div class="form-group">
                                    <label class="control-label col-md-6">Debit Total</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.DebitTotal, new { placeholder = "0.00", @class = "form-control clsAmount", @readonly = "true" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label col-md-6">Credit Total</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.CreditTotal, new { placeholder = "0.00", @class = "form-control clsAmount", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2" id="Newcontainer">
                                <a id="btnAddRows" class="btn btn-sm blue pull-right">
                                    <i class="fa fa-plus"></i>&nbsp;Add New Row
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="row">
                            <div class="col-md-offset-4 col-md-8">
                                <a href="@Url.Content("~/Voucher/MJV/0")" class="btn btn-sm default"> <i class="fa fa-refresh"> </i>&nbsp;Reset</a>
                                <button class="btn btn-sm green button-submit" id="Submit" type="button"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                @*<a href="javascript:;" class="btn green button-submit" id="Submit">
                                    Submit <i class="m-icon-swapright m-icon-white"></i>
                                </a>*@
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var handleDatetimePicker = function () {

            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    //startDate: new Date(),
                    startDate: new Date('@FinYearStartDate'),
                    endDate: new Date('@FinYearEndDate'),
                    autoclose: true
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
            $(".form_meridian_datetime").datetimepicker({
                isRTL: App.isRTL(),
                format: "dd MM yyyy HH:ii P",
                showMeridian: true,
                autoclose: true,
                startDate: new Date('@CurrDate'),
                pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                todayBtn: true
            });

            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });

        }
        var Select2Class = function (DomainName, Id) {
            //alert(Id);
            $('#' + Id).select2({
                placeholder: "Select an option",
                allowClear: true
            });

        };
        var Formvalidate = function (DomainName) {

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {

                },
                messages: { // custom messages for radio buttons and checkboxes

                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.attr("name") == "gender") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_gender_error");
                    } else if (element.attr("name") == "payment[]") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_payment_error");
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();

                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }

            });

            $('#Enquiry_form_wizard .button-submit').click(function () {

                if ($("#WAD_CustCode").val() == null || $("#WAD_CustCode").val() == "") {
                    if ($("#WAD_CustomerName").val() == null || $("#WAD_CustomerName").val() == "") {

                        if ($('#submit_form').valid()) {

                            App.blockUI({ boxed: true });
                            document.forms["submit_form"].submit();
                        }
                    }
                    else {
                        $("#WAD_CustCode").removeClass("required");
                        if ($('#submit_form').valid()) {

                            App.blockUI({ boxed: true });
                            document.forms["submit_form"].submit();
                        }
                    }
                }
                else {

                    if (parseInt($("#WAD_DebitTotal").val()) == parseInt($("#WAD_CreditTotal").val())) {

                        if ($('#submit_form').valid()) {

                            App.blockUI({ boxed: true });
                            document.forms["submit_form"].submit();
                        }
                    }
                    else {
                        return false;
                    }
                }
            });

        }


        var AccountCodeChange = function (DomainName, itemIndex) {

            $("#MJV_" + itemIndex + "__AccountCode").change(function (e) {
                e.preventDefault();
                var dlnmId = $(this).attr("id");
                var Value = $(this).val();

                var MatchCode = "EXP";
                if (Value.indexOf(MatchCode) != -1) {
                    $("#MJV_" + itemIndex + "__CostType").attr("disabled", false);
                    $("#MJV_" + itemIndex + "__CostCode").removeAttr("readonly");
                    $("#MJV_" + itemIndex + "__CostType").addClass("required");
                    $("#MJV_" + itemIndex + "__CostCode").addClass("required");
                }
                else {
                    var CostType = $("#MJV_" + itemIndex + "__CostType").attr("id");
                    $("#MJV_" + itemIndex + "__CostType").removeClass("required");
                    $("#MJV_" + itemIndex + "__CostCode").removeClass("required");
                    $("#" + CostType).select2('data', null);
                    $("#MJV_" + itemIndex + "__CostCode").val("");
                    //$("#MJV_" + itemIndex + "__CostType").val("");
                    $("#MJV_" + itemIndex + "__CostType").attr("disabled", true);
                    $("#MJV_" + itemIndex + "__CostCode").attr("disabled", true);
                    //alert("readonly");


                }
                //if (Value != "") {
                //    var count = 0;
                //    $(".ClsXYZ").each(function () {

                //        var dlnmId1 = $(this).attr("id");
                //        var dlnmVal1 = $(this).val();

                //        if (dlnmId1 != dlnmId && dlnmVal1 == Value) {
                //            alert("cannot select Duplicate Value");
                //            count = 1;
                //            $("#" + dlnmId).select2('data', null);
                //            $("#MJV_" + itemIndex + "__AccountCode").val("");
                //            $("#MJV_" + itemIndex + "__ACCCode").val("");
                //            $("#MJV_" + itemIndex + "__CostType").val("");
                //            $("#MJV_" + itemIndex + "__CostCode").val("");
                //            return false;
                //        }
                //    });
                //    if (count == 0) {
                //        $("#MJV_" + itemIndex + "__ACCCode").val(Value);
                //        //$("#MJV_" + itemIndex + "__CostCode").removeAttr("readonly");

                //    }
                //}
            });
        }

        var PartyCodeChange = function (DomainName, itemIndex) {

            $("#MJV_" + itemIndex + "__PartyName").change(function (e) {
                e.preventDefault();
                var dlnmId = $(this).attr("id");
                var Value = $(this).val();
                if (Value != "") {
                    var count = 0;
                    $(".ClsXYZ").each(function () {

                        var dlnmId1 = $(this).attr("id");
                        var dlnmVal1 = $(this).val();

                        if (dlnmId1 != dlnmId && dlnmVal1 == Value) {

                            alert("cannot select Duplicate Value");
                            count = 1;
                            $("#" + dlnmId).select2('data', null);
                            $("#MJV_" + itemIndex + "__PartyName").val("");
                            $("#MJV_" + itemIndex + "__Code").val("");
                            return false;
                        }
                    });
                    if (count == 0) {
                        $("#MJV_" + itemIndex + "__Code").val(Value);
                        //$("#MJV_" + itemIndex + "__CostCode").removeAttr("readonly");
                        //$("#MJV_" + itemIndex + "__CostCode").val("");
                    }
                }
            });
        }

        var clsDebitchange = function (DomainName) {

            $(".clsDebit").live("change", function () {

                var TotalAmount = 0;
                $(".clsDebit").each(function () {

                    var Amount = $(this).val();
                    if (Amount == "" || Amount == null) {
                        Amount = 0;
                    }
                    TotalAmount = parseFloat(TotalAmount) + parseFloat(Amount);

                });
                $("#WAD_DebitTotal").val(Math.round(TotalAmount));
                $("#WAD_AmountApplicable").val(Math.round(TotalAmount));
            });
        }

        var clsCreditchange = function (DomainName) {
            $(".clsCredit").live("change", function () {
                var TotalAmount = 0;
                $(".clsCredit").each(function () {

                    var Amount = $(this).val();
                    if (Amount == "" || Amount == null) {
                        Amount = 0;
                    }
                    TotalAmount = parseFloat(TotalAmount) + parseFloat(Amount);
                });

                $("#WAD_CreditTotal").val(Math.round(TotalAmount));
                $("#WAD_AmountApplicable").val(Math.round(TotalAmount));

            });
        }


        var AddAccountInfo = function (DomainName, itemIndex) {

            var StrURL1 = DomainName + '/Voucher/AddNewAccountInfoMJV?SrNo=' + itemIndex;// + '&Value=' + Value;

            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {

                    $("#container").append(html);
                    GetAccountCode("MJV_" + itemIndex + "__AccountCode");
                    //GetPartyCode("MJV_" + itemIndex + "__PartyName");
                    Select2Class(DomainName, "MJV_" + itemIndex + "__CostType");
                    Select2Class(DomainName, "MJV_" + itemIndex + "__PaidTo");
                    AccountCodeChange(DomainName, itemIndex);
                    PartyCodeChange(DomainName, itemIndex);
                    clsDebitchange(DomainName);
                    clsCreditchange(DomainName);
                    ChangeCostCode(DomainName, itemIndex);
                    $("input:checkbox, input:radio").uniform();
                },
                error: function (req, status, error) {
                }
            });
        }

        var ChangeCostCode = function (DomainName, itemIndex) {

            $("#MJV_" + itemIndex + "__CostCode").change(function () {

                App.blockUI({ Boxed: true });
                var ACCOUNTCODE = $("#MJV_" + itemIndex + "__AccountCode").val();
                var MatchCode = "EXP";
                if (ACCOUNTCODE.indexOf(MatchCode) != -1) {
                    $("#MJV_" + itemIndex + "__CostCode").attr("disabled", false);
                    $("#MJV_" + itemIndex + "__CostType").removeAttr("readonly");
                    var CostCode = $(this).val();
                    var Costtype = $("#MJV_" + itemIndex + "__CostType").val();

                    var strurl = DomainName + '/GeneralMethod/GetAccountCodeIsValid?AccountCode=' + CostCode + '&CodeType=' + Costtype;
                    
                    $.ajax({
                        url: strurl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {

                            App.unblockUI();
                            if (data.IsValid == 0) {
                                alert("The Cost Code you have entered is not valid !!..")
                                $("#MJV_" + itemIndex + "__CostCode").val("");
                                $("#MJV_" + itemIndex + "__CostCode").focus();
                            }
                        },
                        error: function (req, status, error) {
                            App.unblockUI();
                        }
                    });
                }
                else {
                    App.unblockUI();
                }
            });
            // GetPartyCode("Code");
            //GetPartyName("Code");
        }

        var DebitCreditTotal = function (DomainName, itemIndex) {
            var DebitTotal = $("#WAD_DebitTotal").val();
            var CreditTotal = $("#WAD_CreditTotal").val();
            var Debit = $("#MJV_" + itemIndex + "__Debit").val();
            var Credit = $("#MJV_" + itemIndex + "__Credit").val();
            if (DebitTotal == 0 && CreditTotal == 0) {
                alert("Enter Debit/Credit Amount");
                $("#MJV_" + itemIndex + "__Debit").focus();
                $("#MJV_" + itemIndex + "__Debit").addClass("required");
                $("#MJV_" + itemIndex + "__Credit").addClass("required");
                return false;

            }
            if (DebitTotal != CreditTotal) {
                alert("Debit/Credit Amount Total must same..!!");
                $("#MJV_" + itemIndex + "__Debit").val(0);
                $("#MJV_" + itemIndex + "__Credit").val(0);
                return false;
            }

        }
        var DebitCredit = function (DomainName, itemIndex) {

            var Debit = $("#MJV_" + itemIndex + "__Debit").val();
            //alert(Debit);
            var Credit = $("#MJV_" + itemIndex + "__Credit").val();
            if (Debit > 0 && Credit > 0) {
                //alert("Not allow");
                $("#MJV_" + itemIndex + "__Credit").val(0);
                $("#MJV_" + itemIndex + "__Debit").val(0);

            }
            if (Credit > 0 && Debit > 0) {
                //alert("Not allow");
                $("#MJV_" + itemIndex + "__Credit").val(0);
                $("#MJV_" + itemIndex + "__Debit").val(0);

            }

        }


        return {
            //main function to initiate the module
            init: function (DomainName) {

                $("#CustTyp").val("P");
                handleDatetimePicker();
                ControlDate();
                Formvalidate(DomainName);

                $(".Particular").live("click", function () {
                    var itemIndex = $(this).attr("id").replace("Particular", "");

                    $(".Particular").each(function () {
                        var itemIndex1 = $(this).attr("id").replace("Particular", "");

                        if (itemIndex == itemIndex1) {
                            $("#MJV_" + itemIndex1 + "__Particular").val(true);
                        }
                        else {
                            $("#MJV_" + itemIndex1 + "__Particular").val(false);
                        }
                    });
                });

                //ChangeCustomerType(DomainName);

                GetPartyName("WAD_CustCode");

                var itemIndex = $("#Partialcontainer input.iHidden").length + 1;

                GetAccountCode("MJV_" + itemIndex + "__AccountCode");
                GetPartyName("MJV_" + itemIndex + "__PartyName");
                AccountCodeChange(DomainName, itemIndex);
                PartyCodeChange(DomainName, itemIndex);
                ChangeCostCode(DomainName, itemIndex);
                $("#ChequeNo").attr("disabled", true);

                $('#Submit').click(function () {

                    DebitCreditTotal(DomainName, itemIndex);

                });
                $(".Blur").live("blur", function () {
                    DebitCredit(DomainName, itemIndex);
                    var TotalAmount = 0;
                    var TotalAmount1 = 0;
                    $(".clsDebit").each(function () {

                        var Amount = $(this).val();
                        TotalAmount = parseFloat(TotalAmount) + parseFloat(Amount);

                    });

                    $(".clsCredit").each(function () {
                        var Amount1 = $(this).val();
                        TotalAmount1 = parseFloat(TotalAmount1) + parseFloat(Amount1);

                    });

                    $("#WAD_DebitTotal").val(Math.round(TotalAmount));
                    $("#WAD_CreditTotal").val(Math.round(TotalAmount1));

                });
                $(".DebitChange").live("change", function () {
                    //yag = $(this).val();
                    //alert(yag);
                    var itemIndex = $(this).attr("id").replace("MJV_", "").replace("__Debit", "");
                    DebitCredit(DomainName, itemIndex);

                });
                $(".CreditChange").live("change", function () {
                    //yag = $(this).val();
                    //alert(yag);
                    var itemIndex = $(this).attr("id").replace("MJV_", "").replace("__Credit", "");
                    DebitCredit(DomainName, itemIndex);

                });

                $("#btnAddRows").click(function () {
                    var TOTROW = "";
                    TOTROW = 1;
                    App.blockUI({ Boxed: true });
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            itemIndex = itemIndex + 1;
                            AddAccountInfo(DomainName, itemIndex);
                        }, 100 * i);
                        App.unblockUI();
                        return false;
                    }
                });
                $(".BindParty").live("change", function () {
                    // yag = $(this).val();
                    // alert(yag);
                    var ID = $(this).attr("id").replace("MJV_", "").replace("__PaidTo", "");

                    if (this.value == "C") {
                        $("#MJV_" + ID + "__PartyName").removeAttr("readonly");
                        GetPartyName("MJV_" + ID + "__PartyName");

                    }

                    else if (this.value == "V") {
                        $("#MJV_" + ID + "__PartyName").removeAttr("readonly");
                        $("#MJV_" + ID + "__PartyName").val("V");
                        $("#MJV_" + ID + "__PartyName").val("");
                        $("#MJV_" + ID + "__Code").val("");
                        GetVehicleEmployeeUserName("MJV_" + ID + "__PartyName", "V")

                    }

                    else if (this.value == "U") {
                        $("#MJV_" + ID + "__PartyName").removeAttr("readonly");
                        $("#MJV_" + ID + "__PartyName").val("U");
                        $("#MJV_" + ID + "__Code").val("");
                        $("#MJV_" + ID + "__PartyName").val("");
                        GetVehicleEmployeeUserName("MJV_" + ID + "__PartyName", "U")
                    }

                    else if (this.value == "D") {
                        $("#MJV_" + ID + "__PartyName").removeAttr("readonly");
                        $("#MJV_" + ID + "__PartyName").val("D");
                        $("#MJV_" + ID + "__Code").val("");
                        $("#MJV_" + ID + "__PartyName").val("");
                        GetVehicleEmployeeUserName("MJV_" + ID + "__PartyName", "D")

                    }

                    else if (this.value == "VE") {
                        $("#MJV_" + ID + "__PartyName").removeAttr("readonly");
                        $("#MJV_" + ID + "__PartyName").val("VE");
                        $("#MJV_" + ID + "__Code").val("");
                        $("#MJV_" + ID + "__PartyName").val("");
                        GetVehicleEmployeeUserName("MJV_" + ID + "__PartyName", "VE")
                    }
                });

                /*
                $("#MJV_" + itemIndex + "__PaidTo").change(function (e) {
                    alert(itemIndex);
                    if (this.value == "C") {
                        $("#MJV_" + itemIndex + "__PartyName").removeAttr("readonly");
                        GetPartyName("MJV_" + itemIndex + "__PartyName");

                    }

                    else if (this.value == "V") {
                        $("#MJV_" + itemIndex + "__PartyName").removeAttr("readonly");
                        $("MJV_" + itemIndex + "__PartyName").val("V");
                        $("MJV_" + itemIndex + "__PartyName").val("");
                        GetVehicleEmployeeUserName("MJV_" + itemIndex + "__PartyName", "V")

                    }

                    else if (this.value == "U") {
                        $("#MJV_" + itemIndex + "__PartyName").removeAttr("readonly");
                        $("MJV_" + itemIndex + "__PartyName").val("U");
                        $("MJV_" + itemIndex + "__PartyName").val("");
                        GetVehicleEmployeeUserName("MJV_" + itemIndex + "__PartyName", "U")
                    }

                    else if (this.value == "D") {
                        $("#MJV_" + itemIndex + "__PartyName").removeAttr("readonly");
                        $("MJV_" + itemIndex + "__PartyName").val("D");
                        $("MJV_" + itemIndex + "__PartyName").val("");
                        GetVehicleEmployeeUserName("MJV_" + itemIndex + "__PartyName", "D")

                    }

                    else if (this.value == "VE") {
                        $("#MJV_" + itemIndex + "__PartyName").removeAttr("readonly");
                        $("MJV_" + itemIndex + "__PartyName").val("VE");
                        $("MJV_" + itemIndex + "__PartyName").val("");
                        GetVehicleEmployeeUserName("MJV_" + itemIndex + "__PartyName", "VE")
                    }
                });
                */

                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    var TotalAmount = 0;
                    var TotalAmount1 = 0;
                    $(".clsDebit").each(function () {

                        var Amount = $(this).val();
                        TotalAmount = parseFloat(TotalAmount) + parseFloat(Amount);

                    });

                    $(".clsCredit").each(function () {

                        var Amount1 = $(this).val();
                        TotalAmount1 = parseFloat(TotalAmount1) + parseFloat(Amount1);

                    });

                    $("#WAD_DebitTotal").val(Math.round(TotalAmount));
                    $("#WAD_CreditTotal").val(Math.round(TotalAmount1));
                    //$("#WAD_AmountApplicable").val(Math.round(TotalAmount));
                    return false;
                });
                //clsDebitchange(DomainName);
                //clsCreditchange(DomainName);

                var Prefix = "PAYMENTMODE_1__";

                $("#WAD_ManualNo").change(function () {
                    var ManualNo = $("#WAD_ManualNo").val();
                    var strurl = DomainName + '/Voucher/CheckManualNoForVouchers?ManualNo=' + ManualNo;

                    $.ajax({
                        url: strurl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {

                            App.unblockUI();
                            if (parseInt(data.Count) > 0) {
                                alert("Manual Voucher Number is Already Exists... Please Enter Other Mumber")
                                $("#WAD_ManualNo").val("");
                                $("#WAD_ManualNo").focus();
                            }
                        },
                        error: function (req, status, error) {
                            App.unblockUI();
                            //alert("error--" + req + "---" + status + "---" + error);
                        }
                    });

                });

                $("#WAD_ReferenceNo").change(function () {
                    var ReferenceNo = $("#WAD_ReferenceNo").val();
                    var strurl = DomainName + '/Voucher/CheckReferenceNoForVouchers?ReferenceNo=' + ReferenceNo;

                    $.ajax({
                        url: strurl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {

                            App.unblockUI();
                            if (parseInt(data.Count) > 0) {
                                alert("ReferenceNo Number is Already Exists... Please Enter Other Mumber")
                                $("#WAD_ReferenceNo").val("");
                                $("#WAD_ReferenceNo").focus();
                            }
                        },
                        error: function (req, status, error) {
                            App.unblockUI();
                            //alert("error--" + req + "---" + status + "---" + error);
                        }
                    });

                });
            }
        };
    }();
</script>


