﻿@model FleetDataService.ViewModels.DebitCreditVoucherViewModel
@using Fleet.Helpers;
@using FleetDataService.Models;
@using Fleet.Classes;
@using FleetDataService.ViewModels;
@using Fleet.ViewModels;
@{
    ViewBag.Title = "SpecialCostVoucher";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService CS = new FleetDataService.MasterService();
    FleetDataService.OperationService CSOPN = new FleetDataService.OperationService();
    var id = ViewBag.Id;
    string CurrDate = System.DateTime.Now.ToString();
    List<Webx_Master_General> ListBusinessdivision = CS.GetGeneralMasterObject().Where(c => c.CodeType == "BUT").ToList();
    List<webx_acctinfo> ListTDSSection = CSOPN.GetTDSSectionList_NewPortal(ViewBag.BaseLocationName, ViewBag.BaseUserName, "TDS");

    List<SelectListItem> ListSelectVoucherType = new List<SelectListItem>(){
                            new SelectListItem { Text = "Manual Debit Voucher", Value = "1"},
                            new SelectListItem { Text = "Manual Credit Voucher", Value = "2"},
                           };

    objDate Date = new objDate();
    Date.ControlId = "WAD.VoucherDate";
    Date.ControlValue = Model.WAD.VoucherDate.ToString();
    Date.ModuleCode = "13";

    StaxTDSViewModel STVM = new StaxTDSViewModel();
    STVM.UserId = ViewBag.BaseUserName;
    STVM.FiledNextAmount = "WAD.GSTBillAmount";
    STVM.GSTType = Model.WAD.GSTType;
    STVM.GSTPercentage = Model.WAD.GSTPercentage;
    STVM.IsDiscountEnabled = false;
    STVM.IsVATDisplay = false;
    STVM.ChargeType = "SPCV";
    STVM.IsTDSDisplay = true;
    STVM.TYPEOFGST = Model.WAD.TypeOfGst;
    STVM.BETYP = "SpecialCost";


    var Year = ViewBag.FinYear.ToString().Split('-');
    var StartYear = Year[0].ToString();
    var EndYear = Year[1].ToString();
    var FinYearStartDate = "01 Apr " + StartYear;
    var FinYearEndDate = "31 Mar " + EndYear;
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor" id="Enquiry_form_wizard">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Special Cost Voucher
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("SpecialCostVoucher", "Voucher", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
                {
                <div class="form-body">
                    <div class="alert alert-danger display-none">
                        <button class="close" data-dismiss="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-none">
                        <button class="close" data-dismiss="alert"></button>
                        Your form validation is successful!
                    </div>


                    <h4 class="block form-section">Basic Details</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Select Voucher Type</label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(m => m.WAD.SelectVoucherType, new SelectList(ListSelectVoucherType, "Value", "Text"), null, new { @class = "form-control required required2" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Voucher No.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.VoucherNo, new { placeholder = "System Genrated", @class = "form-control", @readonly = "true" })
                                        @Html.HiddenFor(c => c.WAD.GSTType)
                                        @Html.HiddenFor(c => c.WAD.TypeOfGst)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Voucher Date</label>
                                    <div class="col-md-6">
                                        @*<div class="input-group date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d" data-date-end-date="+0d">
                                @Html.TextBox("WAD.VoucherDate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.WAD.VoucherDate).ToString("dd MMM yyyy")), new { @class = "form-control", @readonly = "True" })
                                <span class="input-group-btn">
                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>*@
                                        @{
                                            Html.RenderPartial("../UserControls/_DocumentDate", Date);
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Manual No.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.ManualNo, new { placeholder = "Manual No.", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Business Division</label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(m => m.WAD.BusinessDivision, new SelectList(ListBusinessdivision, "CodeId", "CodeDesc"), "", new { @class = "form-control required required2 select2", placeholder = "Select Business Division" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Prepared At Location</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.WAD.Preparedatlocation, new { @class = "form-control", @readonly = "true", placeholder = "Prepared At Location" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Accounting Location</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.WAD.AccountingLocation, new { placeholder = "Select Accounting Location", @class = "required2 form-control required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Prepard By</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.PrepardBy, new { @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Prepared For</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.PreparedFor, new { @class = "form-control", placeholder = "Prepared For" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Reference No.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.ReferenceNo, new { @class = "form-control", placeholder = "Reference No." })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Narration</label>
                                    <div class="col-md-6">
                                        @Html.TextAreaFor(c => c.WAD.Narration, new { @class = "form-control uppercase", placeholder = "Narration" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Paid To</label>
                                    <div class="col-md-10">
                                        <div id="inline_content">
                                            @Html.HiddenFor(c => c.WAD.CustTyp)
                                            <label class="col-md-2">
                                                <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Cust" value="P" checked="true" />
                                                Customer
                                            </label>
                                            <label class="col-md-2">
                                                <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="vend" value="V" />
                                                Vendor
                                            </label>
                                            <label class="col-md-2">
                                                <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Emplo" value="E" />
                                                Employee
                                            </label>
                                            <label class="col-md-2">
                                                <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Driv" value="D" />
                                                Driver
                                            </label>
                                            <label class="col-md-2">
                                                <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Vehi" value="L" />
                                                Vehicle
                                            </label>
                                            <label class="col-md-2">
                                                <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Other" value="O" />
                                                Other
                                            </label>
                                            @*@Html.HiddenFor(m => m.CWE.CustomerType)*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4"></label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.CustCode, new { placeholder = "", @class = "m-wrap form-control required" })
                                        @Html.HiddenFor(c => c.WAD.CustTyp)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">8888:</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.WAD.CustomerName, new { @class = "m-wrap  form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="col-md-12">
                            <table id="container" border="1" class="table table-striped table-bordered table-hover">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="center">Sr No.</th>
                                        <th class="center">Account Code</th>
                                        <th class="center">Doc Type</th>
                                        <th class="center">Doc No.</th>
                                        <th class="center">Amount</th>
                                        <th class="center">Narration</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var itm in Model.WADList)
                                    {
                                        Html.RenderPartial("_SpecialCostVoucherPartial", itm);
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label col-md-10"><b>Total</b></label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(c => c.WAD.SumAmount, new { placeholder = "0.00", @class = "form-control clsAmount", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2" id="Newcontainer">
                            <a id="btnAddRows" class="btn btn-sm blue">
                                <i class="fa fa-plus"></i> Add New Row
                            </a>
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-md-11">
                            @{Html.RenderPartial("../UserControls/_GSTTDSControl", STVM);}
                        </div>
                    </div>

                    <h4 class="block form-section">Payment Details</h4>

                    <div class="row">
                        @foreach (var itms in Model.WADListing)
                        {
                            Html.RenderPartial("_PaymentModePartial", itms);
                        }

                        @*@{
            Html.Partial("_PaymentModePartial", Model.WADListing);
            }*@
                    </div>
                    @Html.HiddenFor(m => m.WAD.TransactionMode)
                </div>

                    <div class="form-actions fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-offset-4 col-md-8">
                                    <a class="btn btn-sm default controls" href="@Url.Content("~/Voucher/SpecialCostVoucherCriteria")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back to Criteria</a>
                                    <a href="javascript:;" class="btn btn-sm green button-submit">
                                        <i class="fa fa-check"></i> Submit
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var pageLevelCallbackFunction = function () {
        var pre = 'PAYMENTMODE_1__';
        $("#" + pre + "NETAMOUNT").val(Math.round($("#WAD_GSTBillAmount").val()));
        $("#" + pre + "AmountApplicable").val(Math.round($("#WAD_GSTBillAmount").val()));
    }

    var FormComponents = function (DomainName) {

        var handleDatetimePicker = function () {

            //$("#WAD_VoucherDate").prop("disabled", true);
            if (jQuery().datepicker) {

                if ("@ViewBag.FinYearEndDate_1" == "3/31/2017 11:59:59 PM") {
                    $('.date-picker').datepicker({
                        rtl: App.isRTL(),
                        format: "dd M yyyy",
                        startDate: new Date("1 Mar 2017"),
                        endDate: new Date("31 Mar 2017"),
                        autoclose: true
                    });
                }
                else {
                    $('.date-picker').datepicker({
                        rtl: App.isRTL(),
                        format: "dd M yyyy",
                        startDate: new Date("@FinYearStartDate"),
                        endDate: new Date("@FinYearEndDate"),
                        autoclose: true
                    });
                }
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
            $(".form_meridian_datetime").datetimepicker({
                isRTL: App.isRTL(),
                format: "dd MM yyyy HH:ii P",
                showMeridian: true,
                autoclose: true,
                startDate: new Date('@CurrDate'),
                pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                todayBtn: true
            });
            if (jQuery().datepicker) {
                $('.date-pickervch').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    startDate: new Date(new Date($("#WAD_VoucherDate").val()).setDate(new Date($("#WAD_VoucherDate").val()).getDate() - 2)),
                    endDate: new Date($("#WAD_VoucherDate").val()),
                    autoclose: true
                });
                var startDate = new Date("@ViewBag.GSTStartDate");
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    startDate: startDate,
                    //endDate: endDate,
                    autoclose: true
                });
              
                $('.date-picker1').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                   // startDate: startDate,
                    //endDate: endDate,
                    autoclose: true
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }

            //$('.select2').select2({
            //    placeholder: "Select an option",
            //    allowClear: true
            //});
        }
        var Select2Class = function (DomainName, Id) {

            $('#' + Id).select2({
                placeholder: "Select an option",
                allowClear: true
            });
        };
        var Formvalidate = function (DomainName) {

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {

                },
                messages: { // custom messages for radio buttons and checkboxes

                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.attr("name") == "gender") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_gender_error");
                    } else if (element.attr("name") == "payment[]") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_payment_error");
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }

            });


            $('#Enquiry_form_wizard .button-submit').click(function () {
                if ($('#submit_form').valid()) {
                    if ($("#PAYMENTMODE_1__PaymentMode").val() == "Cash" || $("#PAYMENTMODE_1__PaymentMode").val() == "Both") {
                        if ($("#PAYMENTMODE_1__CashAmount").val() > 20000) {
                            alert("Transactions halted !!!,Cash Payment Not Allowed More than 20000 Rs")
                            return false;
                        }
                    }
                    if ($("#PAYMENTMODE_1__PaymentMode").val() != "BANK" && $("#PAYMENTMODE_1__TransactionMode").val() == "PAYMENT") {
                        var ToTAMT = $("#PAYMENTMODE_1__CashAmount").val();
                        var StrURL1 = DomainName + '/Voucher/DR_VR_Trn_Halt?ToTAMT=' + ToTAMT;// + '&Value=' + Value;
                        //alert(StrURL1);
                        $.ajax({
                            url: StrURL1,
                            cache: false,
                            data: {},
                            type: 'POST',
                            success: function (data) {
                                if (data.IsValid == 0) {
                                    alert("Transactions halted !!!,No sufficient 'CASH IN HAND' for this Location " + data.Branch)
                                }
                            },
                            error: function (req, status, error) {
                            }
                        });
                    }
                    App.blockUI({ boxed: true });
                    document.forms["submit_form"].submit();
                }
            });
        }

        var ChangeCustomerType = function (DomainName) {

            $("input[name='optionsRadios2']").click(function () {

                if (this.value == "P") {
                    $("#WAD_CustTyp").val("P");
                    $("#WAD_CustCode").attr("readonly", "false");
                    $("#WAD_CustomerName").val("");
                    $("#WAD_CustomerName").attr("readonly", "true");
                    $("#WAD_CustCode").attr("readonly", false);
                    GetPartyName_BranchWise("WAD_CustCode");
                }
                else if (this.value == "V") {
                    //alert(this.value)
                    $("#WAD_CustTyp").val("V");
                    $("#WAD_CustCode").val("");
                    $("#WAD_CustomerName").val("");
                    $("#WAD_CustomerName").attr("readonly", "true");
                    $("#WAD_CustCode").attr("readonly", false);
                    GetVehicleEmployeeUserName("WAD_CustCode", "V")
                }
                else if (this.value == "E") {
                    //alert(this.value)
                    $("#WAD_CustTyp").val("U");
                    $("#WAD_CustCode").val("");
                    $("#WAD_CustomerName").val("");
                    $("#WAD_CustomerName").attr("readonly", "true");
                    $("#WAD_CustCode").attr("readonly", false);
                    GetVehicleEmployeeUserName_BranchWise("WAD_CustCode", "U")
                }
                else if (this.value == "D") {
                    //alert(this.value)
                    $("#WAD_CustTyp").val("D");
                    $("#WAD_CustCode").val("");
                    $("#WAD_CustomerName").val("");
                    $("#WAD_CustomerName").attr("readonly", "true");
                    $("#WAD_CustCode").attr("readonly", false);
                    GetVehicleEmployeeUserName("WAD_CustCode", "D")
                }
                else if (this.value == "L") {
                    //alert(this.value)
                    $("#WAD_CustTyp").val("VE");
                    $("#WAD_CustCode").val("");
                    $("#WAD_CustomerName").val("");
                    $("#WAD_CustomerName").attr("readonly", "true");
                    $("#WAD_CustCode").attr("readonly", false);
                    GetVehicleEmployeeUserName("WAD_CustCode", "VE")
                }
                else if (this.value == "O") {
                    //alert(this.value)
                    $("#WAD_CustTyp").val("O");
                    $("#WAD_CustCode").val("8888");
                    $("#WAD_CustomerName").attr("readonly", false);
                    $("#WAD_CustCode").attr("readonly", "true");
                    //GetVehicleEmployeeUserName("WAD_CustCode", "VE")
                }

            });

            //$("input[name='optionsRadios2']").click(function () {
            //    if (this.value == "P") {
            //        GetPartyName("WAD_CustCode");
            //        //GetPartyName_BranchWise("WAD_CustCode");
            //    }
            //    else if (this.value == "V") {
            //        //alert(this.value)
            //        $("#WAD_CustCode").val("");
            //        GetVehicleEmployeeUserName("WAD_CustCode", "V")
            //    }
            //    else if (this.value == "E") {
            //        //alert(this.value)
            //        $("#WAD_CustCode").val("");
            //       GetVehicleEmployeeUserName("WAD_CustCode", "U")
            //        //GetVehicleEmployeeUserName_BranchWise("WAD_CustCode", "U");
            //    }
            //    else if (this.value == "D") {
            //        //alert(this.value)
            //        $("#WAD_CustCode").val("");
            //        GetVehicleEmployeeUserName("WAD_CustCode", "D")
            //    }
            //    else if (this.value == "L") {
            //        //alert(this.value)
            //        $("#WAD_CustCode").val("");
            //        GetVehicleEmployeeUserName("WAD_CustCode", "VE")
            //    }
            //});
        }

        var ChangeDocumentType = function (DomainName, itemIndex) {
            $("input[name='optionsRadios3']").click(function () {
                for (i = 1; i <= itemIndex; i++) {
                    $("#SCVoucher_" + i + "__DocNo").val("");
                    if (this.value == "DRS") {
                        $("#SCVoucher_" + i + "__DocType").val("DRS");
                    }
                    else if (this.value == "DKT") {
                        $("#SCVoucher_" + i + "__DocType").val("DKT");
                    }
                    else if (this.value == "PRS") {
                        $("#SCVoucher_" + i + "__DocType").val("PRS");
                    }
                    else if (this.value == "THC") {
                        $("#SCVoucher_" + i + "__DocType").val("THC");
                    }
                    else if (this.value == "TRP") {
                        $("#SCVoucher_" + i + "__DocType").val("TRP");
                    }
                }

            });
        }
        var AccountCodeChange = function (DomainName, itemIndex) {

            $("#SCVoucher_" + itemIndex + "__AccountCode").change(function (e) {
                e.preventDefault();
                var dlnmId = $(this).attr("id");
                var Value = $(this).val();
                if (Value != "") {
                    var count = 0;
                    $(".ClsXYZ").each(function () {

                        var dlnmId1 = $(this).attr("id");
                        var dlnmVal1 = $(this).val();
                        //alert(dlnmVal1 + '__' + Value);
                        //if (dlnmId1 != dlnmId && dlnmVal1 == Value) {
                        //    alert("cannot select Duplicate Value");
                        //    count = 1;
                        //    $("#" + dlnmId).select2('data', null);
                        //    $("#SCVoucher_" + itemIndex + "__AccountCode").val("");
                        //    $("#SCVoucher_" + itemIndex + "__ACCCode").val("");
                        //    return false;
                        //}

                    });
                    if (count == 0) {
                        $("#SCVoucher_" + itemIndex + "__ACCCode").val(Value);
                        $("#SCVoucher_" + itemIndex + "__DocNo").removeAttr("readonly");
                        $("#SCVoucher_" + itemIndex + "__DocNo").val("");

                    }
                }
            });
        }
        var AddAccountInfo = function (DomainName, itemIndex) {
            var DocType = $("#SCVoucher_" + (parseInt(itemIndex) - 1) + "__DocType").val();

            var StrURL1 = DomainName + '/Voucher/AddNewSpecialCostAccuntInfo?SrNo=' + itemIndex + '&DocType=' + DocType;// + '&Value=' + Value;
            //alert(StrURL1);
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    //alert(html);
                    $("#container").append(html);
                    GetAccountCode("SCVoucher_" + itemIndex + "__AccountCode");
                    Select2Class(DomainName, "SCVoucher_" + itemIndex + "__DocType");
                    AccountCodeChange(DomainName, itemIndex);
                    clsAmountchange(DomainName);
                    ChangeCostCode(DomainName, itemIndex);
                    ChangeDocumentType(DomainName, itemIndex);
                    //var AcountCode = $("Item_" + itemIndex + "__AccountCode").val();
                    $("#SCVoucher_" + itemIndex + "__NarrationAccountinfo").val($("#WAD_Narration").val());

                    $("#SCVoucher_" + itemIndex + "__Amount").change(function () {
                        clsAmountchange(DomainName);
                    });
                },
                error: function (req, status, error) {
                }
            });
        }

        var clsAmountchange = function (DomainName) {
            //alert("Call")
            //$(".clsCostAmount").live("change", function () {
            //  alert("change")
            var TotalAmount = 0;
            $(".clsCostAmount").each(function () {

                var Amount = $(this).val();
                if (Amount == "" || Amount == null) {
                    Amount = 0;
                }
                TotalAmount = parseFloat(TotalAmount) + parseFloat(Amount);

            });
            $("#WAD_SumAmount").val(Math.round(TotalAmount));
            $("#WAD_AmountApplicable").val(Math.round(TotalAmount));
            $('#StaxOnAmount').val(Math.round(TotalAmount));

            IsServicetaxCalculated(DomainName, "PAYMENTMODE_1__");
            // IsTDSCalculated(DomainName);
            // });
        }

        var ChangeCostCode = function (DomainName, itemIndex) {

            $("#SCVoucher_" + itemIndex + "__DocNo").change(function () {

                //var ACCOUNTCODE = $("#SCVoucher_" + itemIndex + "__AccountCode").val();
                ChangeCostCode_DocType(DomainName, itemIndex);
            });

            $("#SCVoucher_" + itemIndex + "__DocType").change(function () {

                $("#SCVoucher_" + itemIndex + "__DocNo").val("")
                //ChangeCostCode_DocType(DomainName, itemIndex);
            });
        }

        var ChangeCostCode_DocType = function (DomainName, itemIndex) {

            var CostCode = $("#SCVoucher_" + itemIndex + "__DocNo").val();
            var Costtype = $("#SCVoucher_" + itemIndex + "__DocType").val();

            if (CostCode != '' && Costtype != '') {

                App.blockUI({ Boxed: true });

                var strurl = DomainName + '/Voucher/GetAccountCodeIsValid?AccountCode=' + CostCode + '&CodeType=' + Costtype;
                $.ajax({
                    url: strurl,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (data) {
                        App.unblockUI();
                        if (data.IsValid == 0) {
                            alert("The Doc No. you have entered is not valid !!..")
                            $("#SCVoucher_" + itemIndex + "__DocNo").val("");
                            $("#SCVoucher_" + itemIndex + "__DocNo").focus();
                        }
                    },
                    error: function (req, status, error) {
                        App.unblockUI();
                    }
                });
            }
        }
        var SelectVoucherType = function (DomainName, Prefix) {
            
            var TransactionMode = Prefix + "TransactionMode";

            if ($("#WAD_SelectVoucherType").val() == "1") {

                $("#" + TransactionMode).find('option[value=RECEIPT]').remove();
                $("#" + TransactionMode).find('option[value=PAYMENT]').remove();
                $("#" + TransactionMode).append("<option value='PAYMENT'>PAYMENT</option>");
                $("#" + TransactionMode).val("PAYMENT");
                $("#" + TransactionMode).select2().find(":selected").data("PAYMENT");
                $("#" + TransactionMode).trigger("change");
            }
            else {
                $("#" + TransactionMode).find('option[value=RECEIPT]').remove();
                $("#" + TransactionMode).find('option[value=PAYMENT]').remove();
                $("#" + TransactionMode).append("<option value='RECEIPT'>RECEIPT</option>");
                $("#" + TransactionMode).val("RECEIPT");
                $("#" + TransactionMode).select2().find(":selected").data("RECEIPT");
                $("#" + TransactionMode).find('option[value=PAYMENT]').remove();
                $("#" + TransactionMode).trigger("change");
            }
        }

        var IsServicetaxCalculated = function (DomainName, Prefix) {
            CalculateStaxTDS(DomainName)
        //    if ($('#WAD_IsServicetaxapply').prop('checked')) {
        //        $('#WAD_ServiceTaxRate').attr("readonly", false);
        //        var servicetaxrate = $("#HdnServiceTaxRate").val();
        //        var ApplicaleAmount = $("#WAD_AmountApplicable").val();
        //        var Servicetax = parseFloat(ApplicaleAmount) * parseFloat(servicetaxrate) / 100;
        //        var TotalAmount = parseFloat(ApplicaleAmount) + parseFloat(Servicetax);

        //        $("#WAD_ServiceTax").val(Math.round(Servicetax));
        //        $("#WAD_AmountApplicableForTDS").val(TotalAmount);
        //        $("#" + Prefix + "NETAMOUNT").val(Math.round(TotalAmount));
        //        $("#" + Prefix + "AmountApplicable").val(Math.round(TotalAmount));
        //    }
        //    else {
        //        $('#WAD_ServiceTaxRate').attr('readonly', true);
        //        $('#WAD_ServiceTaxRate').val(0);
        //        $("#WAD_ServiceTax").val(0);
        //        var ApplicaleAmount = $("#WAD_AmountApplicable").val();
        //        $("#WAD_AmountApplicableForTDS").val(ApplicaleAmount);

        //    }
        //    if ($('#WAD_IsTDStaxapply').prop('checked')) {

        //        $('#WAD_TDSRate').attr("readonly", false);
        //        $("#WAD_TDSAmount").attr("readonly", false);
        //        var TDSrate = $("#WAD_TDSRate").val();
        //        var TDSApplicaleAmount = $("#WAD_AmountApplicableForTDS").val();
        //        var TDStax = parseFloat(TDSApplicaleAmount) * parseFloat(TDSrate) / 100;
        //        var TotalAmount = parseFloat(TDSApplicaleAmount) - parseFloat(TDStax);
        //        $("#WAD_TDSSection").addClass("required");
        //        $("#WAD_TDSSection").attr("readonly", false);
        //        $("#WAD_TDSAmount").val(Math.round(TDStax));
        //        $("#" + Prefix + "NETAMOUNT").val(Math.round(TotalAmount));
        //        $("#" + Prefix + "AmountApplicable").val(Math.round(TotalAmount));

        //        $(".clsTotal").val(Math.round(TotalAmount));
        //        if ($('#' + Prefix + 'PaymentMode').val() == "Cash") {
        //            $("#" + Prefix + "CashAmount").val(Math.round(TotalAmount));
        //        }
        //        else if ($('#' + Prefix + 'PaymentMode').val() == "Bank") {
        //            $("#" + Prefix + "ChequeAmount").val(Math.round(TotalAmount));
        //        }
        //        else {
        //            $("#" + Prefix + "ChequeAmount").val(0);
        //            $("#" + Prefix + "CashAmount").val(0);
        //        }
        //    }
        //    else {
        //        $('#WAD_TDSRate').attr("readonly", true);
        //        $('#WAD_TDSRate').val(0);
        //        $("#WAD_TDSAmount").val(0);
        //        $("#WAD_TDSAmount").attr("readonly", true);

        //        $("#WAD_TDSSection").val("");
        //        $("#WAD_TDSSection").select2().find(":selected").data("");
        //        $("#WAD_TDSSection").removeClass("required required2");
        //        $("#WAD_TDSSection").attr("readonly", true);

        //        var ApplicaleAmount = $("#WAD_AmountApplicableForTDS").val();
        //        $("#WAD_AmountApplicableForTDS").val(ApplicaleAmount);
        //        $("#" + Prefix + "NETAMOUNT").val(Math.round(ApplicaleAmount));
        //        $("#" + Prefix + "AmountApplicable").val(Math.round($("#WAD_SumAmount").val()));

        //        $(".clsTotal").val(Math.round(ApplicaleAmount));
        //        if ($('#' + Prefix + 'PaymentMode').val() == "Cash") {
        //            $("#" + Prefix + "CashAmount").val(Math.round(ApplicaleAmount));
        //        }
        //        else if ($('#' + Prefix + 'PaymentMode').val() == "Bank") {
        //            $("#" + Prefix + "ChequeAmount").val(Math.round(ApplicaleAmount));
        //        }
        //        else {
        //            $("#" + Prefix + "ChequeAmount").val(0);
        //            $("#" + Prefix + "CashAmount").val(0);
        //        }
        //    }
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                StaxTDSEnabled(DomainName);
                StrURL = DomainName + "/Operation/GetDestinationLocations";
                JsonDDLSelectCode("WAD_AccountingLocation", StrURL);
                ControlDate();
                var Prefix = "PAYMENTMODE_1__";
                $("#WAD_CustTyp").val("P");
                handleDatetimePicker();
                $('select').select2({
                    placeholder: "Select an option",
                    allowClear: true
                });

                $("#" + Prefix + "TransactionMode").find('option[value=RECEIPT]').remove();
                $("#" + Prefix + "TransactionMode").val("PAYMENT");
                $("#" + Prefix + "TransactionMode").select2().find(":selected").data("PAYMENT");
                $("#" + Prefix + "TransactionMode").trigger("change");

                $("#CASHBANKLABEL").hide();

                $("#WAD_Narration").focusout(function () {
                    var Narration = $(this).val();
                    $(".ClsNarrationAccountinfo").each(function () {
                        $(this).val(Narration);
                    });
                });

                Formvalidate(DomainName);
                OnLoadFunction(DomainName, Prefix);
                ChangeCustomerType(DomainName);

                $("#SCVoucher_1__Amount").change(function () {
                    clsAmountchange(DomainName);
                });

                //AddAccountInfo(DomainName, "1");
                GetPartyName("WAD_CustCode");

                var itemIndex = $("#Partialcontainer input.iHidden").length + 1;

                GetAccountCode("SCVoucher_" + itemIndex + "__AccountCode");

                AccountCodeChange(DomainName, itemIndex);

                ChangeCostCode(DomainName, itemIndex);
                $("#ChequeNo").attr("disabled", true);
                $("#btnAddRows").click(function () {
                    var TOTROW = "";
                    TOTROW = 1;
                    App.blockUI({ Boxed: true });
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            itemIndex = itemIndex + 1;
                            AddAccountInfo(DomainName, itemIndex);
                        }, 100 * i);
                        App.unblockUI();
                        return false;
                    }
                });

                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    var TotalAmount = 0;
                    $(".clsCostAmount").each(function () {

                        var Amount = $(this).val();
                        TotalAmount = parseFloat(TotalAmount) + parseFloat(Amount);

                    });
                    $("#WAD_SumAmount").val(Math.round(TotalAmount));
                    $("#WAD_AmountApplicable").val(Math.round(TotalAmount));
                    $('#StaxOnAmount').val(Math.round(TotalAmount));
                    
                    IsServicetaxCalculated(DomainName, Prefix);
                    return false;
                });
                clsAmountchange(DomainName);

                IsServicetaxCalculated(DomainName, Prefix);
                $("#WAD_IsServicetaxapply").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                });

                $("#WAD_IsTDStaxapply").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                });

                $("#WAD_ServiceTaxRate").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                });

                $("#WAD_TDSRate").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                });
                $("#WAD_ManualNo").change(function () {

                    var ManualNo = $("#WAD_ManualNo").val();

                    var strurl = DomainName + '/Voucher/GetManualNoisvalid?ManualNo=' + ManualNo;
                    // alert(strurl);
                    $.ajax({
                        url: strurl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {
                            //alert(data.IsValid)
                            // App.unblockUI();
                            if (data.IsValid > 0) {
                                alert("Manual Voucher no is Existing Please enter another Manual Voucher no.")
                                $("#WAD_ManualNo").val("");
                                $("#WAD_ManualNo").focus();
                            }

                        },
                        error: function (req, status, error) {
                            App.unblockUI();
                            //alert("error--" + req + "---" + status + "---" + error);
                        }
                    });


                });

                $("#SCVoucher_" + itemIndex + "__DocType").val('DKT');
                ChangeDocumentType(DomainName, itemIndex);



                /*Cheque DCR Validation*/

                /*

                $("#" + Prefix + "ChequeNo").change(function () {
                    var ChequeNo = $("#" + Prefix + "ChequeNo").val();
                    var bankCode = $("#" + Prefix + "DepositedInBank").val();
                    var ChequeDate = $("#" + Prefix + "Chequedate").val();
                    var strurl = DomainName + '/GeneralMethod/GetChequeNoisvalid?ChequeNo=' + ChequeNo + '&bankCode=' + bankCode;
                    $.ajax({
                        url: strurl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {
                            //alert(data.IsValid)
                            // App.unblockUI();
                            if (data.IsValid == 0) {
                                alert("Cheque no  does not exist in DCR...Please enter valid Cheque no..")
                                $("#" + Prefix + "ChequeNo").val("");
                                $("#" + Prefix + "ChequeNo").focus();
                            }
                        },
                        error: function (req, status, error) {
                            App.unblockUI();
                            //alert("error--" + req + "---" + status + "---" + error);
                        }
                    });
                    var strurl1 = DomainName + '/GeneralMethod/GetChequeNoDuplicate?ChequeNo=' + ChequeNo + '&ChequeDate=' + ChequeDate;
                    $.ajax({
                        url: strurl1,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {
                            //alert(data.IsValid)
                            // App.unblockUI();
                            if (data.IsValid == 0) {
                                alert("Duplicate Cheque Entered")
                                $("#" + Prefix + "ChequeNo").val("");
                                $("#" + Prefix + "ChequeNo").focus();
                            }
                        },
                        error: function (req, status, error) {
                            App.unblockUI();
                            //alert("error--" + req + "---" + status + "---" + error);
                        }
                    });

                });

                */
                $("#" + Prefix + "Chequedate").change(function () {
                    var ChequeNo = $("#" + Prefix + "ChequeNo").val();
                    var ChequeDate = $("#" + Prefix + "Chequedate").val();
                    var strurl1 = DomainName + '/Voucher/GetChequeNoDuplicate?ChequeNo=' + ChequeNo + '&ChequeDate=' + ChequeDate;
                    $.ajax({
                        url: strurl1,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {
                            //alert(data.IsValid)
                            // App.unblockUI();
                            if (data.IsValid == 0) {
                                alert("Duplicate Cheque Entered")
                                $("#" + Prefix + "ChequeNo").val("");
                                $("#" + Prefix + "ChequeNo").focus();
                            }
                        },
                        error: function (req, status, error) {
                            App.unblockUI();
                            //alert("error--" + req + "---" + status + "---" + error);
                        }
                    });

                });

                $('#' + Prefix + 'IsonAccount').change(function () {
                    if ($(this).is(":checked")) {
                        var TransactionMode = $("#" + Prefix + "TransactionMode").val();
                        var PaymentMode = $("#" + Prefix + "PaymentMode").val();
                        if (TransactionMode == "RECEIPT" & (PaymentMode == "Cash" || PaymentMode == "Both")) {
                            alert("If payment is on account then You can not apply cash or both payment.");
                            $(this).attr("checked", false);
                            $(this).parent('span').removeClass('checked');
                            $('#' + Prefix + 'IsonAccount').val(false);
                        }
                    }
                });


                $("#WAD_ManualNo").change(function () {
                    var ManualNo = $("#WAD_ManualNo").val();
                    var strurl = DomainName + '/Voucher/CheckManualNoForVouchers?ManualNo=' + ManualNo;

                    $.ajax({
                        url: strurl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {

                            App.unblockUI();
                            if (parseInt(data.Count) > 0) {
                                alert("Manual Voucher Number is Already Exists... Please Enter Other Mumber")
                                $("#WAD_ManualNo").val("");
                                $("#WAD_ManualNo").focus();
                            }
                        },
                        error: function (req, status, error) {
                            App.unblockUI();
                            //alert("error--" + req + "---" + status + "---" + error);
                        }
                    });

                });
                $("#WAD_SelectVoucherType").change(function () {
                    SelectVoucherType(DomainName, Prefix);
                });

                $("#WAD_ReferenceNo").change(function () {
                    var ReferenceNo = $("#WAD_ReferenceNo").val();
                    var strurl = DomainName + '/Voucher/CheckReferenceNoForVouchers?ReferenceNo=' + ReferenceNo;

                    $.ajax({
                        url: strurl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {

                            App.unblockUI();
                            if (parseInt(data.Count) > 0) {
                                alert("ReferenceNo Number is Already Exists... Please Enter Other Mumber")
                                $("#WAD_ReferenceNo").val("");
                                $("#WAD_ReferenceNo").focus();
                            }
                        },
                        error: function (req, status, error) {
                            App.unblockUI();
                            //alert("error--" + req + "---" + status + "---" + error);
                        }
                    });

                });
            }
        };
    }();
</script>
<script src="~/Scripts/AccountControl.js?ver<%=DateTime.Now.Ticks.ToString()%" type="text/javascript"></script>
