﻿@using Fleet.Helpers;
@using CYGNUS.Models;
@using CYGNUS.ViewModel;
@using Fleet.Classes;
@{
    ViewBag.Title = "Voucher Done";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //GeneralFuncations GF = new GeneralFuncations();
    var VoucherNo = ViewBag.VoucherNo;
    //var FromDate1 = System.DateTime.Today.ToString("dd MMM yyyy");


    //var sql_1 = "select Finyear=dbo.GETFinyearFromDate_ACC('" + FromDate1 + "')";
    //System.Data.DataTable Dt2 = GF.GetDataTableFromSP(sql_1);
    //var Finyear = Dt2.Rows[0]["Finyear"];
    //var TableName = "vw_VoucherReport_" + Finyear;


    //var SQRY = "exec webx_VOUCHER_Register2_NewPortal '" + FromDate1 + "', '" + FromDate1 + "','All','All','All','" + TableName + "','" + VoucherNo + "'";
    //System.Data.DataTable Dt1 = GF.GetDataTableFromSP(SQRY);
    //var CustTyp = Dt1.Rows[0]["CustTyp"];
    //var Ptype = Dt1.Rows[0]["Ptype"];
    //var Opertitle = Dt1.Rows[0]["Opertitle"];
}
@*Debit Credit Voucher*@

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>@ViewBag.Title
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Voucher No
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@VoucherNo</b>
                            </td>
                            <td>
                                <a href="javascript:View('@ViewBag.VoucherNo')"><b><i class="fa fa-print"></i>&nbsp;View || Print</b></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                <a href="@Url.Action("DebitCreditVoucher", "Voucher")"><b> Click Here To Generate New Debit Credit Voucher.</b></a>
            </span>
        </div>
    </div>
</div>

<script type='text/javascript'>

    function View(VoucherNo) {
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        var strPopupURL = ReportURL + DomainName + "/ViewPrint/VoucherViewPrint?VoucherNo=" + VoucherNo + "&Type=2";
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;
    }

    var FormSamples = function (DomainName) {

        return {
            init: function (DomainName) {
            }
        };
    }();
</script>


@*
<script type='text/javascript'>

    function VoucherView(VoucherNo) {
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        var strPopupURL = "http:///GUI/Finance/ViewPrint/Voucher%20Register/Print/BankDR_CRPrint_NewPortal.aspx?voucherno=" + VoucherNo + "&printyn=N&FinYear=15_16&typ=CASH RECEIPT";
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;
    }

    function OrderView(mrsno, type, printyn, Ptype, Opertitle, HdnFinYear) {


        var ReportURL = 'ViewBag.ReportURL';

        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"

        var typ = type.toUpperCase();
        if (typ == "JOURNAL") {

            var strPopupURL = ReportURL + "/GUI/Finance/ViewPrint/Voucher%20Register/Print/JournalVoucherView1.aspx?voucherno=" + mrsno + "&FinYear=" + HdnFinYear + "&printyn=N";
            winNew = window.open(strPopupURL, "_blank", strWinFeature)
            return false;

            //  ..,menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=387,height=220,status=no,left=220,top=70);

        }
        else if (typ == "BALANCE PAYMENT" || typ == "ADVANCE PAYMENT") {

            var strPopupURL = ReportURL + "/GUI/View_Track/OPS/Reports/ChallanAdvanceBalance.aspx?docno=" + mrsno + "&FinYear=" + HdnFinYear + "&Typ=" + Ptype + "&printyn=N";
            winNew = window.open(strPopupURL, "_blank", strWinFeature)
            return false;
        }
        else if (typ == "CASH PAYMENT" || typ == "BANK PAYMENT" || typ == "BOTH PAYMENT" || typ == "ADVANCE PAYMENT") {            //debit
            //window.open("Print/DebitVoucherView.aspx?voucherno=" + mrsno + "&printyn=N", "es", "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=650,height=290,status=no,left=60,top=125");
            //window.open("Print/Salary_Voucher_View.aspx?voucherno=" + mrsno + "&FinYear=" + HdnFinYear.value + "&printyn=N" + "&typ=" + typ, "es", "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=750,height=390,status=no,left=60,top=125");
            if (Opertitle == "PO ADVACNE PAYMENT") {

                var strPopupURL = ReportURL + "/GUI/Finance/ViewPrint/Voucher%20Register/Print/CashVoucher_POBILLPAYMENT.aspx?voucherno=" + mrsno + "&FinYear=" + HdnFinYear + "&typ=" + typ + "&printyn=N";
                winNew = window.open(strPopupURL, "_blank", strWinFeature)
                return false;
            }
            else {
                var strPopupURL = ReportURL + "/GUI/Finance/ViewPrint/Voucher%20Register/Print/CashVoucher.aspx?voucherno=" + mrsno + "&FinYear=" + HdnFinYear + "&typ=" + typ + "&printyn=N";
                winNew = window.open(strPopupURL, "_blank", strWinFeature)
                return false;
            }
            //window.open("Print/CashVoucher.aspx?voucherno=" + mrsno + "&FinYear=" + HdnFinYear.value + "&typ=" + typ + "&printyn=N", "es", "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=750,height=390,status=no,left=60,top=125");

        }
        else if (typ == "CASH RECEIPT" || typ == "BANK RECEIPT" || typ == "BOTH RECEIPT") {
            //  credit
            //window.open("Print/CreditVoucherView.aspx?voucherno=" + mrsno + "&printyn=N", "es", "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=650,height=290,status=no,left=60,top=125");
            // window.open("Print/Salary_Voucher_View.aspx?voucherno=" + mrsno + "&FinYear=" + HdnFinYear.value + "&printyn=N" + "&typ=" + typ, "es", "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=750,height=390,status=no,left=60,top=125");
            var strPopupURL = ReportURL + "/GUI/Finance/ViewPrint/Voucher%20Register/Print/CashVoucher.aspx?voucherno=" + mrsno + "&FinYear=" + HdnFinYear + "&typ=" + typ + "&printyn=N";
            winNew = window.open(strPopupURL, "_blank", strWinFeature)
            return false;
        }
        else if (typ == "CONTRA") {
            var strPopupURL = ReportURL + "/GUI/Finance/ViewPrint/Voucher%20Register/Print/ContraView.aspx?voucherno=" + mrsno + "&FinYear=" + HdnFinYear + "&printyn=N";
            winNew = window.open(strPopupURL, "_blank", strWinFeature)
            return false;

        }

        //  window.open(" voucher_vew_print.aspx?vno="+mrsno+"&type="+type+"&printyn="+printyn,"pbr","menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=387,height=220,status=no,left=220,top=70");

    }

    var FormSamples = function (DomainName) {

        return {
            //main function to initiate the module
            init: function (DomainName) {
            }
        };
    }();
</script>
*@