﻿@model ReportPortal.ViewModel.MenuObj1
@using System.Data
@using ReportPortal.Classes
@using ReportPortal.ViewModel
@{
    var MenuType1 = new List<SelectListItem> {
                                               new SelectListItem { Text = "Standard Report", Value = "1" },
                                               new SelectListItem { Text = "Custom Report", Value = "2" },
                                            };
    var MenuDisplayType1 = new List<SelectListItem> {
                                                      new SelectListItem { Text = "Admin Menu", Value = "1" },
                                                      new SelectListItem { Text = "Custom/Standard Report", Value = "2" },
                                            };

    //GeneralFuncations GF = new GeneralFuncations();
    //string query = "USP_GetParentMenu 'P'";
    //DataTable dtMenu = GF.GetDataTableFromSP(query);
    //var mnList = DataRowToObject.CreateListFromTable<MenuList>(dtMenu);
    GeneralFuncations GF = new GeneralFuncations();
    string query1 = "Usp_GetAllParameterSet";
    DataTable dtParaSet = GF.GetDataTableFromSP(query1);
    var ParaSetList = DataRowToObject.CreateListFromTable<ParaSet>(dtParaSet);


}
@using (Html.BeginForm("AddMenu", "ReportSettings", FormMethod.Post, new { @id = "submit_form", enctype = "multipart/form-data" }))
{
    <div class="form-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.HiddenFor(model => model.MenuId)
                    <label class="control-label">Menu Name :</label>
                    @Html.TextBoxFor(model => model.DisplayName, new { @class = "form-control required", @placeholder = "Please Enter Display Name" })

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Select Parent</label>
                    @Html.DropDownListFor(model => model.ParentID, new SelectList(Model.ListParentMenu, "MenuId", "DisplayName"), "", new { @class = "form-control select2 required", @id = "ParentID", @placeholder = "Please select Parent" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Display Rank :</label>
                    @Html.TextBoxFor(model => model.DisplayRank, new { @class = "form-control required", @id = "DisplayRank", @placeholder = "Please Enter Display Rank" })

                </div>
            </div>
            <!--/row-->
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Navigation URL :</label>
                    @Html.TextBoxFor(model => model.NavigationURL, new { @class = "form-control", @id = "NavigationURL", @placeholder = "Please Enter Navigation URL" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">MenuType : </label>
                    @Html.DropDownListFor(model => model.MenuType, new SelectList(MenuType1, "Value", "Text"), "", new { @class = "form-control select2", @id = "MenuType", @placeholder = "select Menu Type" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label"> MenuDisplayType:</label>
                    @Html.DropDownListFor(model => model.MenuDisplayType, new SelectList(MenuDisplayType1, "Value", "Text"), "", new { @class = "form-control select2", @id = "MenuDisplayType", @placeholder = "select Menu Display Type" })
                </div>
            </div>

            <!--/row-->
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">ParameterSet : </label>
                    @Html.DropDownListFor(model => model.ParameterSet, new SelectList(ParaSetList, "Id", "ParameterSet"), "", new { @class = "form-control select2", @id = "ParameterSet", @placeholder = "select Parameter Set" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label"> RDLName:</label>
                    @Html.TextBoxFor(model => model.RDLName, new { @class = "form-control", @id = "RDLName", @placeholder = "Please Enter RDL Name" })
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">IsQuickLink:</label>
                    @Html.CheckBoxFor(model => model.IsQuickLink, new { @class = "form-control", @id = "IsQuickLink" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Is Home Display : </label>
                    @Html.CheckBoxFor(model => model.IsHomeDisplay, new { @class = "form-control required", @id = "IsHomeDisplay" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">IsUser Access :</label>
                    @Html.CheckBoxFor(model => model.HasAccess, new { @class = "form-control", @id = "HasAccess" })

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">IsActive : </label>
                    @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-control required", @id = "IsActive" })
                </div>
            </div>
            <!--/row-->
        </div>

    </div>
    <div class="form-actions fluid">
        <div class="col-md-offset-3 col-md-9">
            <button type="button" class="btn blue" id="btnSubmit"><i class="fa fa-check"></i><b>&nbsp;Submit</b></button>

        </div>
    </div>
}