﻿@{
    Layout = null;
}

@model FleetDataService.Models.Master_ParameterSet_Details
@using Fleet.Helpers;
@using FleetDataService.Models;


<tr>
    @using (Html.BeginCollectionItem("ParamDet", Model.ParameterId.ToString()))
    {
        <td class='priority'>1</td>

        <td>
            @Html.CheckBoxFor(m => m.IsActive)

        </td>
        <td>
            @Html.DisplayFor(m => m.ParameterName)

        </td>
        <td>
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.ReportParameterName, new { @class = "form-control" ,@placeholder="Parameter Name"})
            </div>
            @Html.HiddenFor(m => m.ParameterId)
            @Html.HiddenFor(m => m.SetId)
        </td>
        <td>

            @Html.TextBoxFor(m => m.OrderId, new { @class = "clsOrder",@readonly="true" })
        </td>
    }
</tr>
