﻿@model IEnumerable<FleetDataService.Models.Master_ParameterSet_Details>


<thead>
    <tr>
        @*<th>ID</th>*@
        <th>Edit</th>
        <th>ParameterName</th>
        <th>SourceTableName</th>
        <th>IdColumn</th>
        <th>NameColumn</th>
        <th>ParameterType</th>
        <th>IsMultipleChoice</th>
        <th>IsActive</th>

    </tr>
</thead>

<tbody>
    @foreach (var item in Model)
    {
        @Html.HiddenFor(model => item.Id)
        <tr id="@item.Id.ToString()">
            <td>
                <button class="btn btn-xs blue-stripe btnEdit " data-value="@item.Id"><i class="fa fa-pencil"></i>&nbsp;Edit</button>
            </td>
            <td>
                @Html.DisplayFor(itemItem => item.ParameterName)
            </td>
            <td>
                @Html.DisplayFor(itemItem => item.SourceTableName)
            </td>
            <td>
                @Html.DisplayFor(itemItem => item.IdColumn)
            </td>
            <td>
                @Html.DisplayFor(itemItem => item.NameColumn)
            </td>
            <td>
                @Html.DisplayFor(itemItem => item.paratype)
            </td>
            <td>
                @Html.DisplayFor(itemItem => item.IsMultipleChoice)
            </td>
            <td>
                @Html.DisplayFor(itemItem => item.IsActive)
            </td>
        </tr>

    }
</tbody>
