﻿@model ReportPortal.ViewModel.Parameters
@using ReportPortal.ViewModel
@using System.Data
@using ReportPortal.Classes
@{

    GeneralFuncations GF = new GeneralFuncations();
    string query = "USP_GetParameterType";
    DataTable dtPara = GF.GetDataTableFromSP(query);
    var ParaList = DataRowToObject.CreateListFromTable<ParaType>(dtPara);
}


@using (Html.BeginForm("AddParameters", "ReportSettings", FormMethod.Post, new { @id = "form_sample", enctype = "multipart/form-data" }))
{
    <div class="form-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.HiddenFor(model => model.Id)
                    <label class="control-label">Parameter Name :</label>
                    @Html.TextBoxFor(model => model.ParameterName, new { @class = "form-control required", @placeholder = "Please Enter Parameter Name" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Source Table Name :</label>
                    @Html.TextBoxFor(model => model.SourceTableName, new { @class = "form-control required", @placeholder = "Please Enter Source Table Name" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">IdColumn :</label>
                    @Html.TextBoxFor(model => model.IdColumn, new { @class = "form-control required", @id = "IdColumn", @placeholder = "Please Enter Id Column" })
                </div>
            </div>
            <!--/row-->
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Name Column :</label>
                    @Html.TextBoxFor(model => model.NameColumn, new { @class = "form-control required", @id = "NameColumn", @placeholder = "Please Enter Name Column" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label"> Parameter Type :</label>
                    @Html.DropDownListFor(model => model.ParameterType, new SelectList(ParaList, "Id", "ParameterType"), "", new { @class = "form-control select2 required", @id = "ParameterType", @placeholder = "select Parameter Type" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Is Multiple Choice : </label>
                    @Html.CheckBox("IsMultipleChoice", new { @class = "form-control", @id = "IsMultipleChoice" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">IsActive:</label>
                    @Html.CheckBox("IsActive", new { @class = "form-control required", @id = "IsActive" })
                </div>
            </div>

            <!--/row-->
        </div>

    </div>
    <div class="form-actions fluid">
        <div class="col-md-offset-3 col-md-9">
            <button type="button" class="btn blue" id="btnSubmit1"><i class="fa fa-check"></i><b>&nbsp;Submit</b></button>
            
        </div>
    </div>



}