﻿@{
    ViewBag.Title = "AddEditParameterSet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Fleet.ViewModel.ParameterSetViewModel
@{
    if (Model.ParameterSet.Id == 0)
    {
        Model.ParameterSet.IsActive = true;
    }
}

<style type="text/css">
    .ui-sortable tr {
        cursor: pointer;
    }

        .ui-sortable tr:hover {
            background: rgba(244,251,17,0.45);
        }
</style>


<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Add Parameters Set
                </div>
            </div>
            <div class="portlet-body" id="formAddParameters">

                @using (Html.BeginForm("AddEditParameterSet", "ReportSettings", FormMethod.Post, new { @id = "submit_form", enctype = "multipart/form-data" }))
                {
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.HiddenFor(model => model.ParameterSet.Id)
                                    <label class="control-label">Parameter Set:</label>
                                    @Html.TextBoxFor(model => model.ParameterSet.ParameterSet, new { @class = "form-control", @id = "ParameterSet", @placeholder = "Please Enter Parameter Set" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"> Description:</label>
                                    @Html.TextBoxFor(model => model.ParameterSet.Description, new { @class = "form-control", @id = "Description", @placeholder = "Please Enter Description" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" style="margin:30px 0px 0px 30px;">
                                    <label class="control-label">IsActive:</label>
                                    @Html.CheckBoxFor(model => model.ParameterSet.IsActive)
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover" id="diagnosis_list">
                            <thead>
                                <tr>

                                    <th>
                                        #
                                    </th>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Parameter Name
                                    </th>
                                    <th>
                                        Display Name
                                    </th>
                                    <th>
                                        Display Order
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var itm in Model.ParameterSet_Details)
                                {
                                    Html.RenderPartial("_ParameterSetDetails", itm);
                                }
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-9">
                            <a href="@Url.Action("ParameterSetList")" class="btn btn-sm default"><i class="fa fa-arrow-left"></i>&nbsp;Back to List</a>
                            <button type="submit" class="btn btn-sm blue" id="btnSubmit1"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                }

            </div>

        </div>
    </div>
</div>
<script type="text/javascript">


    //Renumber table rows
    function renumber_table(tableID) {
        $(tableID + " tr").each(function () {
            count = $(this).parent().children().index($(this)) + 1;

            // alert($(this).find('.clsOrder').attr("id"));

            //alert(count)

            $(this).find('.clsOrder').val(count);

            $(this).find('.priority').html(count);
        });
    }


    var FormComponents = function (DomainName) {





        return {

            init: function (DomainName) {


                //Helper function to keep table row from collapsing when being sorted
                var fixHelperModified = function (e, tr) {
                    var $originals = tr.children();
                    var $helper = tr.clone();
                    $helper.children().each(function (index) {
                        $(this).width($originals.eq(index).width())
                    });
                    return $helper;
                };

                //Make diagnosis table sortable
                $("#diagnosis_list tbody").sortable({
                    helper: fixHelperModified,
                    stop: function (event, ui) { renumber_table('#diagnosis_list') }
                }).disableSelection();


                //Delete button in table rows
                $('table').on('click', '.btn-delete', function () {
                    tableID = '#' + $(this).closest('table').attr('id');
                    r = confirm('Delete this item?');
                    if (r) {
                        $(this).closest('tr').remove();
                        renumber_table(tableID);
                    }
                });


            }
        };
    }();

</script>
