﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Fleet.ViewModels.MenuObj1
@using FleetDataService.Models

<div id="mask" class="mask">
    <img src="@Url.Content("~/assets/img/loading.gif")" />
</div>
<div class="tab-content">
    <div class="tab-pane active">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Add Menu
                </div>
            </div>
            <div class="portlet-body form" id="formAddMenus">
                @Html.Partial("_PartialAdd", Model)
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Menu List
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="sample_2">

                    @if (Model.ListMenu.Count() > 0)
                    {
                        Html.RenderPartial("_MenuList", Model.ListMenu);
                    }
                </table>

            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>


<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#submit_form');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var SaveFunciion = function (DomainName) {
            $('#btnSubmit').live('click', function (e) {
              //  alert(e);
                if (!$('#submit_form').valid()) {
                    return false;
                }

                if (e.handled !== true) // This will prevent event triggering more then once
                {
                    e.handled = true;
                    Formvalidate(DomainName);
                    if ($('#IsQuickLink').parent('span').attr('class') == "checked") {
                        $('#IsQuickLink').val('true');
                    }
                    else { $('#IsQuickLink').val('false'); }

                    if ($('#IsHomeDisplay').parent('span').attr('class') == "checked") {
                        $('#IsHomeDisplay').val('true');
                    }
                    else { $('#IsHomeDisplay').val('false'); }

                    if ($('#HasAccess').parent('span').attr('class') == "checked") {
                        $('#HasAccess').val('true');
                    }
                    else { $('#HasAccess').val('false'); }

                    if ($('#IsActive').parent('span').attr('class') == "checked") {
                        $('#IsActive').val('true');
                    }
                    else { $('#IsActive').val('false'); }
                    App.blockUI({ boxed: true });

                    $.ajax({
                        url: '@Url.Action("AddMenu", "ReportSettings")',
                        type: "POST",
                        context: document.body,
                        data: { MenuId: $('#MenuId').val(), DisplayName: $('#DisplayName').val(), ParentID: $('#ParentID').val(), DisplayRank: $('#DisplayRank').val(), NavigationURL: $('#NavigationURL').val(), HasAccess: $('#HasAccess').val(), IsActive: $('#IsActive').val(), IsQuickLink: $('#IsQuickLink').val(), IsHomeDisplay: $('#IsHomeDisplay').val(), RDLName: $('#RDLName').val(), MenuType: $('#MenuType').val(), MenuDisplayType: $('#MenuDisplayType').val(), ParameterSet: $('#ParameterSet').val() },
                        success: function (data) {
                            $("#sample_2").html(data);
                            initTable2(DomainName);
                            $('#DisplayName').val(''), $('#ParentID').val(''), $('#DisplayRank').val(''), $('#NavigationURL').val(''), $('#HasAccess').attr("checked", false), $('#IsActive').attr("checked", false), $('#IsQuickLink').attr("checked", false), $('#IsHomeDisplay').attr("checked", false), $('#RDLName').val(''), $('#MenuType').val(''), $('#MenuDisplayType').val('');
                            App.unblockUI();
                        },
                        error: function (err) {

                        }
                    });


                }
            });
        }


        var initTable2 = function (DomainName) {
            //alert('hi');
            $('#sample_2').dataTable({
                "bDestroy": true
            }).fnDestroy();
            var oTable = $('#sample_2').dataTable({
                "aoColumnDefs": [
                    { "aTargets": [0] }
                ],
                "aaSorting": [[1, 'asc']],
                "aLengthMenu": [
                   [10, 15, 20, -1],
                   [10, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 10,
            });

            jQuery('#sample_2_wrapper .dataTables_filter input').addClass("form-control input-medium input-inline"); // modify table search input
            jQuery('#sample_2_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
            jQuery('#sample_2_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                initTable2(DomainName);
                SaveFunciion(DomainName);
                $('.select2').select2({
                    placeholder: "Select an option",
                    allowClear: true
                });
                $("#mask").hide();



                $('.btnEdit').live('click', function () {

                    App.blockUI({ boxed: true });
                    $.ajax({
                        url: '@Url.Action("EditMenu", "ReportSettings")',
                        type: "GET",
                        context: document.body,
                        data: { id: $(this).attr("data-value") },
                        success: function (data) {
                            //alert(data);
                            $('#formAddMenus').html(data);
                            $("input[type=checkbox], input:radio, input:file").uniform();
                            $('.select2').select2({
                                placeholder: "Select an option",
                                allowClear: true
                            });
                            //line aiya set karvani
                            App.unblockUI();
                        },
                        error: function (err) {
                            //Notification("error", "Error");
                            App.unblockUI();
                            //alert('msgErrorNewInvoiceDetails', err);
                        }
                    });
                });
                ////////////
            }
        };
    }();

</script>

