﻿@{
    ViewBag.Title = "ParameterSet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ReportPortal.ViewModel.ParameterSetViewModel



<div class="tab-content">
    <div class="tab-pane active">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Add Parameters Set
                </div>
            </div>
            <div class="portlet-body form" id="formAddParameters">

                @using (Html.BeginForm("ParameterSet", "ReportSettings", FormMethod.Post, new { @id = "submit_form", enctype = "multipart/form-data" }))
                {
                    <div class="form-body">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.HiddenFor(model => model.ParameterSet.Id)
                                    <label class="control-label">Parameter Set:</label>
                                    @Html.TextBoxFor(model => model.ParameterSet.ParameterSet, new { @class = "form-control", @id = "ParameterSet", @placeholder = "Please Enter Parameter Set" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"> Description:</label>
                                    @Html.TextBoxFor(model => model.ParameterSet.Description, new { @class = "form-control", @id = "Description", @placeholder = "Please Enter Description" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" style="margin:30px 0px 0px 30px;">
                                    <label class="control-label">IsActive:</label>
                                    @Html.CheckBoxFor(model => model.ParameterSet.IsActive)
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Parameter Name
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itm in Model.ParameterSet_Details)
                            {
                                Html.RenderPartial("_ParameterSetDetails", itm);
                            }
                        </tbody>
                    </table>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="button" class="btn blue" id="btnSubmit1">Submit</button>
                        </div>
                    </div>
                }

            </div>
            @*<div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="sample_2">
                        @{
                            Html.RenderPartial("_ParaSetList", Model.ListSetPara.ToList());
                        }
                    </table>

                </div>*@
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        //var initTable2 = function (DomainName) {

        //    $('#sample_2').dataTable({
        //        "bDestroy": true
        //    }).fnDestroy();
        //    var oTable = $('#sample_2').dataTable({
        //        "aoColumnDefs": [
        //            { "aTargets": [0] }
        //        ],
        //        "aaSorting": [[1, 'asc']],
        //        "aLengthMenu": [
        //           [10, 15, 20, -1],
        //           [10, 15, 20, "All"] // change per page values here
        //        ],
        //        // set the initial value
        //        "iDisplayLength": 10,
        //    });

        //    jQuery('#sample_2_wrapper .dataTables_filter input').addClass("form-control input-medium input-inline"); // modify table search input
        //    jQuery('#sample_2_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
        //    jQuery('#sample_2_wrapper .dataTables_length select').select2(); // initialize select2 dropdown

        //}
        return {

            init: function (DomainName) {

                initTable2(DomainName);
                //GetPeraSetlist("ParameterSet");

                // $("#mask").hide();
                $('#btnSubmit1').live('click', function () {

                    if ($('#IsActive').parent('span').attr('class') == "checked")
                    { $('#IsActive').val('true'); }
                    else
                    { $('#IsActive').val('false'); }
                    alert('test');
                    App.blockUI({ boxed: true });
                    $.ajax({
                        url: '@Url.Action("ParameterSet", "ReportSettings")',
                        type: "POST",
                        context: document.body,
                        data: { Id: $('#Id').val(), ParameterSet: $('#ParameterSet').val(), Description: $('#Description').val(), IsActive: $('#IsActive').val() }, // fill from view id
                        success: function (data) {

                            $("#sample_2").html(data);
                            initTable2(DomainName);
                            $('#ParameterSet').val(''), $('#Description').val(''), $('#IsActive').val('');
                            App.unblockUI();
                        },
                        error: function (err) {
                            // Notification("error", "Success");
                        }
                    });
                });


                @*$('.btnEdit').live('click', function () {

                    App.blockUI({ boxed: true });
                    $.ajax({
                        url: '@Url.Action("EditPeraSet", "ReportSettings")',
                        type: "GET",
                        context: document.body,
                        data: { id: $(this).attr("data-value") },
                        success: function (data) {
                            //alert(data);
                            $('#formAddParameters').html(data);
                            // GetPeraSetlist("ParameterSet");
                            $("input[type=checkbox], input:radio, input:file").uniform();
                            $('.select2').select2({
                                placeholder: "Select an option",
                                allowClear: true
                            });
                            App.unblockUI();
                        },
                        error: function (err) {
                            alert('msgErrorNewInvoiceDetails', err);
                            App.unblockUI();
                            //alert('msgErrorNewInvoiceDetails', err);
                        }
                    });
                });*@
                ////////////
            }
        };
    }();

</script>