﻿@model ReportPortal.ViewModel.ParameterSetViewModel

@{
    ViewBag.Title = "ParameterSetData";
}
<div id="mask" class="mask">
    <img src="@Url.Content("~/assets/img/loading.gif")" />
</div>
<div class="tab-content">
    <div class="tab-pane active">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Add Parameters Set
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="sample_2">
                    <thead>
                        <tr>
                            @*<th>ID</th>*@
                            <th>Edit</th>
                            <th>ParameterSet</th>
                            <th>Description</th>
                            <th>IsActive</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.ListSetPara)
                        {
                            @Html.HiddenFor(model => item.Id)
                            <tr id="@item.Id.ToString()">
                                <td>
                                    <button class="btn btn-xs blue-stripe btnEdit " data-value="@item.Id"><i class="fa fa-pencil"></i>&nbsp;Edit</button>
                                </td>

                                <td>
                                    @Html.DisplayFor(itemItem => item.ParameterSet)
                                </td>
                                <td>
                                    @Html.DisplayFor(itemItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(itemItem => item.IsActive)
                                </td>
                            </tr>

                        }
                    </tbody>

                </table>

            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var initTable2 = function (DomainName) {

            $('#sample_2').dataTable({
                "bDestroy": true
            }).fnDestroy();
            var oTable = $('#sample_2').dataTable({
                "aoColumnDefs": [
                    { "aTargets": [0] }
                ],
                "aaSorting": [[1, 'asc']],
                "aLengthMenu": [
                   [10, 15, 20, -1],
                   [10, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 10,
            });

            jQuery('#sample_2_wrapper .dataTables_filter input').addClass("form-control input-medium input-inline"); // modify table search input
            jQuery('#sample_2_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
            jQuery('#sample_2_wrapper .dataTables_length select').select2(); // initialize select2 dropdown

        }
        return {

            init: function (DomainName) {

                initTable2(DomainName);
                //GetPeraSetlist("ParameterSet");

                // $("#mask").hide();


                $('.btnEdit').live('click', function () {

                    App.blockUI({ boxed: true });
                    $.ajax({
                        url: '@Url.Action("EditPeraSet", "ReportSettings")',
                        type: "GET",
                        context: document.body,
                        data: { id: $(this).attr("data-value") },
                        success: function (data) {
                            alert(data);
                            $('#formAddParameters').html(data);
                            // GetPeraSetlist("ParameterSet");
                            $("input[type=checkbox], input:radio, input:file").uniform();
                            $('.select2').select2({
                                placeholder: "Select an option",
                                allowClear: true
                            });
                            App.unblockUI();
                        },
                        error: function (err) {
                            alert('msgErrorNewInvoiceDetails', err);
                            App.unblockUI();
                            //alert('msgErrorNewInvoiceDetails', err);
                        }
                    });
                });
                ////////////
            }
        };
    }();

</script>
