﻿
@model SarcoTMSLive.Models.Query
@{
    ViewBag.Title = "Direct Query";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@*<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>*@
@using (Html.BeginForm("Add_Query", "Query"))
{

    @Html.TextAreaFor(m => m.Data, new { @id = "Data", @style = "width:100%;max-width:100% !important;" })
    <input type="button" value="Execute" id="Querydata" />
}
<table id="tblid" class="table table-striped table-condensed"></table>

<div id="gvJsonData"></div>
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script type="text/javascript">

    $("#Querydata").click(function () {

        var id = $("#Data").val();

        var strurl = "/Location/Query/Add_Query?Data=" + id;


        $.ajax({
            url: strurl,
            cache: false,
            data: {},
            type: 'POST',
            success: function (data) {

                if (data == '[]') {
                    alert("Execute successfully")
                    $("#Data").val("");

                } else {
                    $('#tblid').html(CreateTableView(data));
                }

            },
            error: function (req, status, error) {
                alert("error--" + req + "---" + status + "---" + error);
            }
        });
        function CreateTableView(objArray, enableHeader) {



            if (enableHeader === undefined) {
                enableHeader = true;
            }


            var array = typeof objArray != 'object' ? JSON.parse(objArray) : new Array(objArray);
            var keys = Object.keys(array[0]);


            var str = $("#tblid").val;


            if (enableHeader) {
                str += '<thead><tr>';
                for (var index in keys) {
                    str += '<th scope="col">' + keys[index] + '</th>';
                }
                str += '</tr></thead>';
            }


            str += '<tbody>';
            for (var i = 0; i < array.length; i++) {
                str += (i % 2 == 0) ? '<tr class="alt">' : '<tr>';
                for (var index in keys) {
                    var objValue = array[i][keys[index]];


                    if (typeof objValue === 'object' && objValue !== null) {
                        if (Array.isArray(objValue)) {
                            str += '<td>';
                            for (var aindex in objValue) {
                                str += CreateTableView(objValue[aindex], theme, true);
                            }
                            str += '</td>';
                        } else {
                            str += '<td>' + CreateTableView(objValue, theme, true) + '</td>';
                        }
                    } else {
                        str += '<td>' + objValue + '</td>';
                    }

                }
                str += '</tr>';
            }
            str += '</tbody>'


            return str;
        }
        function activatejQueryTable() {
            $("#tblid").DataTable();
        }
    });
</script>
