﻿@model Fleet.Models.LoginModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @id = "submit_form", @class = "login-form", ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    <h5 style="color: #D82C29; ">@Html.ValidationSummary(true)</h5>
    <h3 class="form-title"><b>Login to your account</b></h3>
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        <span>
            Enter any Username and Password.
        </span>
    </div>
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">Username</label>
        <div class="input-icon">
            <i class="fa fa-user"></i>
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control placeholder-no-fix required", @placeholder = "UserName", @autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.UserName)
            @Html.Hidden("ReturnUrl")
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Password</label>
        <div class="input-icon">
            <i class="fa fa-lock"></i>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control placeholder-no-fix required", @placeholder = "Password", @autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
    <div class="form-actions">
        <label class="checkbox">
            <input type="checkbox" name="remember" checked value="1" /> Remember me
            @*@Html.CheckBoxFor(c => c.RememberMe, new { @checked="true" })Remember me*@
        </label>
        @*<button type="submit" class="btn btn-sm green pull-right">
                Login <i class="m-icon-swapright m-icon-white"></i>
            </button>*@
        <button type="button" data-loading-text="Loading..." class="demo-loading-btn btn btn-sm green pull-right">
            Login <i class="m-icon-swapright m-icon-white"></i>
        </button>
    </div>
}
<script type="text/javascript">
    var FormComponents = function () {
        var Formvalidate = function (DomainName) {
            var form1 = $('#submit_form');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                },

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        return {
            init: function () {
                Formvalidate();
                $('.demo-loading-btn').click(function () {
                    if ($("#submit_form").valid()) {
                        $(".form-control").attr("readonly", true);
                        var btn = $(this);
                        btn.button('loading');
                        document.forms["submit_form"].submit();
                    }
                    else {
                        $(".form-control").attr("readonly", false);
                        return false;
                    }
                });
                $(".form-control").keydown(function (e) {
                    if (e.keyCode == 13) {
                        if ($("#submit_form").valid()) {
                            $(".form-control").attr("readonly", true);
                            var btn = $('.demo-loading-btn');
                            btn.button('loading');
                            document.forms["submit_form"].submit();
                        }
                        else {
                            $(".form-control").attr("readonly", false);
                            return false;
                        }
                    }                    
                });
            }
        }
    }();
</script>