﻿@model  IEnumerable<FleetDataService.ReportService.ReportField>

@{


    string CurrReportHeader = "", PrevReportHeader = "";
}

<div class=" form-group ">
    @foreach (var item in Model)
    {
        CurrReportHeader = item.ReprotHeader;

        string subRptClass = "cls" + item.SubReportType;

        if ((PrevReportHeader == "") || CurrReportHeader != PrevReportHeader)
        {
            <div class="col-md-12 ">
                <b>    @item.ReprotHeader <label  ><input type="checkbox" name="ReportFieldsCHK1" id="@item.SubReportType.Replace(",", "")" value="@item.SubReportType.Replace(",", "")" class="clsReportFields"> <b> Select All </b></label>  </b>
            </div>
        }

        <div class="col-md-3  ">

            <label ><input type="checkbox" name="ReportFieldsCHK" id="@item.Value" value="@item.Value" class="clsReportFields1 @item.SubReportType.Replace(",", "") "> @item.Text</label>

        </div>


        PrevReportHeader = item.ReprotHeader;
    }

</div>