﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Fleet.ViewModel.StandardReportFilter

<div class="row">
    <div class="col-md-10">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@Model.ReportDetails.ReprotName
                </div>
                <div class="caption pull-right">
                    <a href="@Url.Content("~/Reports/ReportList?ReportType=" + Model.ReportDetails.ReportType + "&ReportSubType=" + Model.ReportDetails.ReportSubType)" class="btn btn-xs default backButton">
                        <i class="fa fa-arrow-left"></i>&nbsp;Back to Report List
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">

                    @using (Html.BeginForm("ReportResult", "Reports", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
                    {
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            You have some form errors. Please check below.
                        </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Your form validation is successful!
                        </div>
                        {
                            Html.RenderPartial("../UserControls/_StandardReportFilte", Model);
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>