﻿@{
    ViewBag.Title = @ViewBag.ReportSubType + " Report List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var i = 1;
}

@model IEnumerable<FleetDataService.Models.CYGNUS_Master_Reports>

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@ViewBag.Title
        </div>
    </div>
    <div class="portlet-body">

        <table id="sample_ven" class="table table-striped table-bordered table-hover">
            @if (Model.Count() > 0)
            {
                <thead>
                    <tr>
                        <th class="center">Sr. No.</th>
                        <th>Report Name</th>
                        <th>Desription</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        MvcHtmlString ReportName = MvcHtmlString.Create(item.DisplayName);
                        <tr>
                            <td class="center"><b>@i</b></td>
                            <td><a href="@Url.Content("~/Reports/Index/" + item.ID)">@ReportName</a></td>
                            <td>@item.Description</td>
                        </tr>
                        i++;
                    }

                </tbody>
            }
            else
            {
                <div class="note note-info">
                    <h4 class="block">Info! No Rights.</h4>
                    <h5>
                        You do not have permission to view any reports for @ViewBag.ReportSubType. Please contact your administrator or service provider.
                    </h5>
                </div>
            }
        </table>
    </div>
</div>
<script type="text/javascript">
    var FormComponents = function (DomainName) {
        return {
            init: function (DomainName) {
                $("a").live("click", function () {
                    App.blockUI({ boxed: true });
                });
            }
        };
    }();
</script>