﻿@{
    ViewBag.Title = "ReportResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using MvcReportViewer;
@using Microsoft.Reporting.WebForms;
@using System.Web.UI.WebControls
@model Fleet.ViewModel.StandardReportFilter
@using FleetDataService.Models
@using Fleet.Classes
@using System.Data
@{
    var CS = new ControlSettings
    {
        ShowParameterPrompts = Model.ReportDetails.ShowParameterPrompts,
        ShowFindControls = Model.ReportDetails.ShowFindControls,
        BackColor = System.Drawing.Color.LightGray,
        KeepSessionAlive = true,
        Width = new Unit("100%"),
        Height = new Unit("800px"),
        SizeToReportContent = true,
        AsyncRendering = false,
        //  ShowReportBody=false,
        ShowToolBar = Model.ReportDetails.ShowToolBar
    };

    string RDLPATH = ViewBag.StandardReportPath + "/" + Model.RDLName;

    //if (Model.ReportParameterSetId == 2)
    //{
    //    RDLPATH = "/" + ViewBag.StandardReportPath + "/RouteWise_Vehiclewise_TotalTravel_Report";

    //}


    GeneralFuncations GF = new GeneralFuncations();

    string SQRY = "SELECT * FROM CYGNUS_Master_Reports WITH(NOLOCK) WHERE ID = '" + ViewBag.ReportId.ToString() + "'";
    DataTable Dt1 = GF.getdatetablefromQuery(SQRY);
    List<CYGNUS_Master_Reports> ReportMasterList = DataRowToObject.CreateListFromTable<CYGNUS_Master_Reports>(Dt1);
    CYGNUS_Master_Reports objReportMaster = new CYGNUS_Master_Reports();
    objReportMaster = ReportMasterList.FirstOrDefault();
}

<div class="form-body">
    <div class="row">
        <a href="@Url.Content("~/Reports/Index/"+@ViewBag.ReportId)" class="btn btn-sm blue backButton">
            <i class="fa fa-arrow-left"></i>&nbsp;Back to Criteria
        </a>
        <a href="@Url.Content("~/Reports/ReportList?ReportType=" + objReportMaster.ReportType + "&ReportSubType=" + objReportMaster.ReportSubType)" class="btn btn-sm blue backButton">
        <i class="fa fa-arrow-left"></i>&nbsp;Back to Report List
        </a>
    </div>
</div> 

@Html.MvcReportViewerFluent(RDLPATH).ReportParameters(Model.RDLparameters).Attributes(new { Height = 500, Width = new Unit("100%"), style = "border: none" }).ControlSettings(CS)

<script type="text/javascript">
    var FormComponents = function (DomainName) {
        return {
            init: function (DomainName) {
                $(".backButton").live("click", function () {
                    App.blockUI({ boxed: true });
                    //window.location = DomainName + "/Reports/Index/" + "@ViewBag.ReportId";
                });
            }
        };
    }();
</script>