﻿@{
    ViewBag.Title = "Showreports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using MvcReportViewer;
@using Microsoft.Reporting.WebForms;
@using System.Web.UI.WebControls


@model ReportPortal.ViewModel.ReportsViewModel

@{


    var CS = new ControlSettings
    {
        ShowParameterPrompts = true,
        ShowFindControls = false,
        BackColor = System.Drawing.Color.LightGray,
        //KeepSessionAlive = true,
        //Width = new Unit("100%"),
        //Height = new Unit("800px"),
        SizeToReportContent = false,
        //AsyncRendering = false,
        //  ShowReportBody=false,
        ShowToolBar = true
    };

    string RDLPATH = "/RCPL_TEST/DKT_PODPFM_FLOW";// +ViewBag.StandardReportPath + "/" + Model.RDLName;


    //List<ReportParameter> parameters1 = new List<ReportParameter>();
    //parameters1.Add(new ReportParameter("location", "All"));
    //parameters1.Add(new ReportParameter("locLevel", "1"));
    //parameters1.Add(new ReportParameter("Fromdt", "01 Apr 16"));
    //parameters1.Add(new ReportParameter("todt", "01 Apr 16"));
    //parameters1.Add(new ReportParameter("RPTYP", "2"));


    //var parameters2 = new List<KeyValuePair<string, object>>
    //{
    //    new KeyValuePair<string, object>("Fromdt",  "01 Apr 15"),
    //    new KeyValuePair<string, object>("todt",  "01 Apr 16"),
    //  //  new KeyValuePair<string, object>("RouteID", "21,22"),
    //  //new KeyValuePair<string, object>("Stop",140),
    //  // // new KeyValuePair<string, object>("THCNO", "SS")
    //};


}

@*@Html.MvcReportViewer(
                        RDLPATH,
                                             parameters1,
    new { Height = 600, Width = "100%", style = "border: none" })*@

@Html.MvcReportViewerFluent(RDLPATH).ReportParameters(Model.RDLparameters).Attributes(new { Height = 900, Width = new Unit("100%"), style = "border: none" }).ControlSettings(CS)


<script type="text/javascript">




    var FormComponents = function (DomainName) {


        return {
            //main function to initiate the module
            init: function (DomainName) {


            }
        };
    }();

</script>