﻿@model FleetDataService.ViewModels.BABillEntyGC
@using Fleet.Helpers
<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.dockno, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("BADocketList", (Model.dockno).ToString()))
    {
        <td class="center">
            @Html.CheckBoxFor(c => c.IsEnabled, new { @class = "clsDocketCheck" })
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.dockno)
            @Html.HiddenFor(c => c.dockno)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.dockdt)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.Paybasedesc)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.orgncd)-@Html.DisplayFor(c => c.reassign_destcd)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.PRS_DRS)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.pkgsno)
            @Html.HiddenFor(c => c.pkgsno)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.chrgwt)
            @Html.HiddenFor(c => c.chrgwt)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.subtotal)
            @Html.HiddenFor(c => c.subtotal)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.freight)
            @Html.HiddenFor(c => c.freight)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.chg_rate)
            @Html.HiddenFor(c => c.chg_rate)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.ContractAmt)
            @Html.HiddenFor(c => c.ContractAmt)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.Contract_Rate_Type_Desc)
            @Html.HiddenFor(c => c.Contract_Rate_Type)
        </td>

        if (Model.billType == "F")
        {
            <td class="center">
                @Html.DisplayFor(c => c.ODACharge)
                @Html.HiddenFor(c => c.ODACharge)
            </td>
            <td class="center">
                @Html.DisplayFor(c => c.FTLChargeAmount)
                @Html.HiddenFor(c => c.FTLChargeAmount)
            </td>
        }
        else if (Model.billType == "B")
        {
            <td class="center">
                @Html.DisplayFor(c => c.ODACharge)
                @Html.HiddenFor(c => c.ODACharge)
            </td>
        }
    }
</tr>