﻿@model FleetDataService.ViewModels.BABillEntyGC
@using Fleet.Helpers
<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.DocketType, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("BACommissionBillList", (Model.DocketType).ToString()))
    {
        <td class="center">
            @Html.CheckBoxFor(c => c.IsEnabled, new { @class = "clsDocketCheck" })
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.DocketType)
            @Html.HiddenFor(c => c.DocketType)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.DocketCount)
            @Html.HiddenFor(c => c.DocketCount)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.WEIGHT)
            @Html.HiddenFor(c => c.WEIGHT)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.TotalFreight)
            @Html.HiddenFor(c => c.TotalFreight)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.CommissionOnBookingType)
            @Html.HiddenFor(c => c.CommissionOnBookingType)
       
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.CommissionRateTypeBooking)
            @Html.HiddenFor(c => c.CommissionRateTypeBooking)
       
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.ComissionRate )
            @Html.HiddenFor(c => c.ComissionRate)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.Commision)
            @Html.HiddenFor(c => c.Commision)
        </td>
        <td class="center">
            <a href="javascript:OrderView('@Model.DocketType','@Model.FromDate.ToString("dd MMM yyyy")','@Model.ToDate.ToString("dd MMM yyyy")')"><b>View</b></a>
        </td>
    }
</tr>
<script type="text/javascript">
    function OrderView(DocketType, FromDate, ToDate) {
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        //var strPopupURL = ReportURL + DomainName + "/ViewPrint/FuelExpenceViewPrint?VoucherNO=" + BILLNUMBER;
        var strPopupURL = ReportURL + DomainName + "/ViewPrint/BABillEntry_Entry?DocketType=" + DocketType + "&FromDate=" + FromDate + "&ToDate=" + ToDate;
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;
    }

    var FormComponents = function (DomainName) {

        return {
            //main function to initiate the module
            init: function (DomainName) {

                // OrderView(BILLNUMBER, VoucherType);
            }
        };
    }();

    </script>