﻿@model FleetDataService.ViewModels.BABillEntyGC
@using Fleet.Helpers

@{
    // string TRID = "TR" + Model.Id;
    string TRID = "TR" + Model.iSNO.ToString();
    string typecls = "TR_" + Model.DocketType.ToString();

}
<tr id="@TRID">
    @Html.Hidden("hdnblnk", Model.DocketType, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("BACommissionBillCnoteDetailList", Model.iSNO.ToString()))
    {
         <td class="center">
            @Html.CheckBoxFor(c => c.IsEnabledforCnote, new { @class = "clsDocketCheckcnote " + typecls })
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.iSNO)
            @Html.HiddenFor(c => c.iSNO)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.DocketType)
            @Html.HiddenFor(c => c.DocketType)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.dockno)
            @Html.HiddenFor(c => c.dockno)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.Paybasedesc)
            @Html.HiddenFor(c => c.Paybasedesc)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.pkgsno)
            @Html.HiddenFor(c => c.pkgsno)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.WEIGHT)
            @Html.HiddenFor(c => c.WEIGHT)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.chrgwt)
            @Html.HiddenFor(c => c.chrgwt)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.freight)
            @Html.HiddenFor(c => c.freight)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.TotalFreight)
            @Html.HiddenFor(c => c.TotalFreight)
        </td>
    }
</tr>
