﻿@model FleetDataService.ViewModels.BillUnSubmissionModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models

@using (Html.BeginCollectionItem("BillUnSubList", Model.billno.ToString()))
{
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = "IsCheck" })
        </td>
        <td>
            @Model.billno
            @Html.HiddenFor(m => m.billno)
            @Html.HiddenFor(m => m.bgndate)
        </td>
        <td>
            @Model.manualbillno
            @Html.HiddenFor(m => m.manualbillno)
        </td>
        <td>
            @Model.Bbrcdnm
            @Html.HiddenFor(m => m.Bbrcdnm)
        </td>
        <td>
            @Model.ptmsstr
            @Html.HiddenFor(m => m.ptmsstr)
        </td>
        <td>
            @Model.paybas
            @Html.HiddenFor(m => m.paybas)
        </td>
        <td>
            @Model.BILLAMT
            @Html.HiddenFor(m => m.BILLAMT)
        </td>
        <td>
            @Model.pendamt
            @Html.HiddenFor(m => m.pendamt)
        </td>
        <td>
            @Model.bgndt
            @Html.HiddenFor(m => m.bgndt)
        </td>
        <td>
            @Model.bduedt
            @Html.HiddenFor(m => m.bduedt)
        </td>
    </tr>
}
