﻿@model FleetDataService.ViewModels.BillEntryPaymentList
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers

@using (Html.BeginCollectionItem("BillEntryPaymentList1", Model.BILLNUMBER.ToString()))
{
    <tr>
        <td class="center">
            @Model.VOUCHERNO
        </td>
        <td class="center">
            @Model.VENDORCD
        </td>
        <td class="center">
            @Model.PAIDAMT
        </td>
        <td class="center">
            @Model.PENDAMT
        </td>
        <td class="center">
            @Model.TOTALAMT
        </td>
        <td class="center">
            @if (@Model.BETYPE == "Job Expense")
            {
                @*<a href="@Url.Action("BA_Job_Sheet_PaymentView", "ViewPrint", new { NO = @Model.BILLNUMBER })" type="@Model.BETYPE" id="@Model.VOUCHERNO" class=" btn blue" target="_blank">
                    <b><i class="fa fa-print"></i>&nbsp;Print</b>
                </a>*@
                <a href="@Url.Action("BillPaymentView", "ViewPrint", new { VoucherNO = @Model.VOUCHERNO, Type = "BillPayment" })" type="@Model.BETYPE" id="@Model.VOUCHERNO" class=" btn blue" target="_blank">
                    <b><i class="fa fa-print"></i>&nbsp;Print</b>
                </a>
            }
            else
            {
                <a type="@Model.BETYPE.ToUpper()" id="@Model.VOUCHERNO" class=" btn blue clsPrint"><b><i class="fa fa-print"></i>&nbsp;Print</b></a>
            }
        </td>
    </tr>
}
@*<script type="text/javascript">

        function OrderView(BILLNUMBER) {
            var ReportURL = '@ViewBag.ReportURL';
            var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
            var strPopupURL = ReportURL + DomainName + "/Payment/BillEntryPaymentPrint?BILLNO=" + BILLNUMBER;
            winNew = window.open(strPopupURL, "_blank", strWinFeature)
            return false;
        }
    </script>*@