﻿@model FleetDataService.ViewModels.BillEntryPaymentList
@using Fleet.Helpers

@using (Html.BeginCollectionItem("BillEntryPaymentList", Model.BILLNUMBER.ToString()))
{
    <tr>
        <td class="center">
            @Model.BILLNUMBER
        </td>
        <td class="center">
            @Model.BILLDATE
        </td>
        <td class="center">
            @Model.BRCD
        </td>
        <td class="center">
            @Model.VBILLNO
        </td>
        <td class="center">
            @Model.VENDORCD
        </td>
        <td class="center">
            @Model.PAIDAMT
        </td>
        <td class="center">
            @Model.PENDAMT
        </td>
        <td class="center">
            @Model.TOTALAMT
        </td>
        <td class="center">
            @*<a class=" btn blue clsPrint" id="@Model.BILLNUMBER" href="javascript:OrderView('@Model.BILLNUMBER')">Print</a>*@
            <a type="@Model.BETYPE.ToUpper()" id="@Model.BILLNUMBER" class=" btn blue clsPrint"><b><i class="fa fa-print"></i>&nbsp;Print</b></a>
        </td>
        <td class="center">
            @if (!string.IsNullOrEmpty(Model.DocumnetPath))
            {
                var directory = "";
                if (Model.BETYPE == "Expense")
                {
                    directory = "/POD/OtherBillEntry/";
                }
                else
                {
                    directory = "/POD/PurchaseOrdeBillEntry/";
                }
                <a class="btn blue" href="@Url.Content(directory + Model.DocumnetPath)"><b><i class="fa fa-eye"></i>&nbsp;View</b></a>
            }
            else
            {
                <span>NA</span>
            }
        </td>
    </tr>
}