﻿@model FleetDataService.ViewModels.ConnectivityBillEntryDetails
@using Fleet.Helpers

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Srno, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("ConnectivityTHCList", (Model.Srno).ToString()))
    {
        <td class="center">
            @Html.CheckBoxFor(c => c.IsEnabled, new { @class = "clsConnectivity" })
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.DocNo)
            @Html.HiddenFor(c => c.DocNo)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.DocDt)
            @Html.HiddenFor(c => c.DocDt)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.BranchCode)
            @Html.HiddenFor(c => c.BranchCode)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.RouteName)
            @Html.HiddenFor(c => c.RouteName)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.VehicleNo)
            @Html.HiddenFor(c => c.VehicleNo)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.RunKM)
            @Html.HiddenFor(c => c.RunKM)
            @Html.HiddenFor(c => c.CLOSEKM)
            @Html.HiddenFor(c => c.OPENKM)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.ACTWT)
            @Html.HiddenFor(c => c.ACTWT)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.RateType)
            @Html.HiddenFor(c => c.RateType)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.Rate)
            @Html.HiddenFor(c => c.Rate)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.ConnectivityCharge)
            @Html.HiddenFor(c => c.ConnectivityCharge)
        </td>
    }
</tr>