﻿@model FleetDataService.Models.Webx_Crossing_Docket_Detail
@using Fleet.Helpers;
@using CYGNUS.Models;
@{

    var dockdate = @Model.DockDate.ToString("dd MMM yyyy");
}

<tr class="editorRow">
    @using (Html.BeginCollectionItem("CrossingDocketDetail", Model.DockNo.ToString()))
    {
        <td class="center">
            <div>@Html.CheckBoxFor(model => model.IsChecked, new { @class = "chkCheck" }) </div>
        </td>
        <td>
            <div>@Html.DisplayFor(model => model.DockNo) </div>
            @Html.HiddenFor(model => model.DockNo)
            @Html.HiddenFor(model => model.VendorCode)
            @Html.HiddenFor(model => model.VendorName)
        </td>
        <td>
            <div>@Html.DisplayFor(model => dockdate) </div>
            @Html.HiddenFor(model => dockdate)
        </td>
        <td>
            <div>@Html.DisplayFor(model => model.NetPayable) </div>
            @Html.HiddenFor(model => model.NetPayable)
        </td>
        <td>
            @Html.TextBoxFor(model => model.Deductions , new { @class = "form-control clsDeduction" })
        </td>
        <td>
            <div>
                @Html.TextBoxFor(model => model.NetReceivable, new { @class = "form-control" ,@readOnly="true"})
            </div>
        </td>
    }
</tr>


