﻿@model FleetDataService.ViewModels.FinalizeBillDetails

@using Fleet.Helpers


<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.BillNo, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("BILLList", (Model.BillNo).ToString()))
    {
        <td class="center">
            @Html.CheckBoxFor(c => c.IsEnabled, new { @class = "clsDocketCheck" })
        </td>
        <td class="center">

            @Html.DisplayFor(c => c.BillNo)

            @Html.HiddenFor(c => c.BillNo)

        </td>
        <td class="center">
            @Html.DisplayFor(c => c.VendorBillDate)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.Vendorcode)
        </td>

        <td class="center">
           @Html.DisplayFor(c => c.TotalAmount)
        </td>

        <td class="center">
            @Html.DisplayFor(c => c.BranchCode)

        </td>


        <td class="center">
            @Html.DisplayFor(c => c.BillType)
            @Html.HiddenFor(c => c.BillType)
        </td>
       

    }
</tr>