﻿@model FleetDataService.ViewModels.BABillEntyTripSheet

@using Fleet.Helpers
@{

    List<SelectListItem> BlankList = new List<SelectListItem>();
    
    Model.SlipDate = System.DateTime.Now;
}


<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.SRNO, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("TripsheetList", (Model.SRNO).ToString()))
    {

        <td class="center">
            @Model.SRNO
        </td>
        <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.ManualTripsheetNo, new { @class = "required2 clstripno required form-control", @placeholder = "Tripsheet No" })
                    @Html.TextBoxFor(c => c.VehicleNo, new { @class = "required2 form-control", @placeholder = "Vehicle No",@readonly="true" })
                    @Html.HiddenFor(c => c.TripsheetNo)
                    @Html.HiddenFor(c => c.ApprovedDiesel)
                    @Html.HiddenFor(c => c.FilledDiesel)

                </div>
            </div>
        </td>

        <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.Location, new { @class = "required2 required form-control", @placeholder = "Location" })
                </div>
            </div>
        </td>


        <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.FuelType, new SelectList(BlankList, "Value", "Text", Model.FuelType), "", new { @class = "form-control select2 required2 required", @placeholder = "Transit Mode" })
                </div>
            </div>
        </td>

        <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.LastKM, new { @class = "required2 input-xsmall form-control", @placeholder = "Last KM", @readonly = "true" })
                    @Html.TextBoxFor(c => c.CurrentKM, new { @class = "required2 required input-xsmall form-control", @placeholder = "Current KM" })
                </div>
            </div>
        </td>
        <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.SlipNo, new { @class = "required2 required input-xsmall form-control", @placeholder = "Slip No" })
                </div>
            </div>
        </td>
        <td class="center">
            <div class="form-group">
                <div class="col-md-11">     
                    @Html.TextBoxFor(m => m.SlipDate, String.Format("{0:dd/MM/yyyy}", Convert.ToDateTime(Model.SlipDate).ToString("dd MMM yyyy")), new { @class = "input-xsmall required required2", @placeholder = "dd/MMM/yyyy" })
                    
                </div>
            </div>
        </td>
        
         <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.DisealQty, new { @class = "required2 required clsAmount input-xsmall form-control", @placeholder = "Diseal Qty", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @min=1 })
                </div>
            </div>
        </td>
        
         <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.DisealRate, new { @class = "required2 required clsAmount input-xsmall form-control", @placeholder = "Diseal Rate",@onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        
         <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.DisealAmount, new { @class = "required2 required clsDisealAmount clsAmount input-xsmall form-control", @placeholder = "Diseal Amount", @readonly = "true" , @min=1  })
                </div>
            </div>
        </td>
        
         <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.ApprovedDisealAmount, new { @class = "required2 clsAmount clsAppDisealAmount required input-xsmall form-control", @placeholder = "Amount", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))"})

                </div>
            </div>
        </td>
         <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextAreaFor(c => c.Remarks, new { @class = "required2   form-control", @placeholder = "Amount" })
                </div>
            </div>
        </td>
    }
</tr>