﻿@model FleetDataService.ViewModels.FuelSlipBillEntyTripSheet

@using Fleet.Helpers



<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.FUELSLIPNO, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("FuelTripsheetList", (Model.FUELSLIPNO).ToString()))
    {
        <td class="center">
            @Html.CheckBoxFor(c => c.IsEnabled, new { @class = "clsDocketCheck" })
        </td>
        <td class="center">

            @Html.DisplayFor(c => c.FUELSLIPNO)
            @Html.HiddenFor(c => c.FUELSLIPNO)

        </td>
        <td class="center">

            @Html.DisplayFor(c => c.VehicleNo)
            @Html.HiddenFor(c => c.VehicleNo)

        </td>

        @*<td class="center">

                @Html.TextBoxFor(c => c.Place)
                @Html.HiddenFor(c => c.Place)

            </td>*@
        <td class="center">

            @Html.DisplayFor(c => c.f_issue_startkm)
            @Html.HiddenFor(c => c.f_issue_startkm)

        </td>
        <td class="center">

            @Html.DisplayFor(c => c.f_closure_closekm)
            @Html.HiddenFor(c => c.f_closure_closekm)

        </td>
        <td class="center">

            @Html.DisplayFor(c => c.VSlipDt)
            @Html.HiddenFor(c => c.VSlipDt)

        </td>
        <td class="center">

            @Html.DisplayFor(c => c.TRIPSHEETNO)
            @Html.HiddenFor(c => c.TRIPSHEETNO)

        </td>
        <td class="center">

            @Html.DisplayFor(c => c.VSlipDt)
            @Html.HiddenFor(c => c.VSlipDt)

        </td>
        @*<td class="center">

                @Html.DisplayFor(c => c.Entrydt)
                @Html.HiddenFor(c => c.Entrydt)

            </td>*@
        <td class="center">

            @Html.DisplayFor(c => c.QUANTITYINLITER)
            @Html.HiddenFor(c => c.QUANTITYINLITER)
        </td>
        <td class="center">

            @Html.DisplayFor(c => c.RATE)
            @Html.HiddenFor(c => c.RATE)

        </td>
        <td class="center">

            @Html.DisplayFor(c => c.AMOUNT)
            @Html.HiddenFor(c => c.AMOUNT)

        </td>

    }
</tr>