﻿@model Fleet.ViewModels.GRNViewPrintList
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers

@using (Html.BeginCollectionItem("GRNViewPrint", Model.GRNNO.ToString()))
{
    <tr>

        <td class="center">
            @Model.GRNNO
        </td>
        <td class="center">
            @Model.ManualGRNNO
        </td>
        <td class="center">
            @Model.GRNDT
        </td>
        <td class="center">
            @Model.VENDORCD
        </td>
        <td class="center">
            @Model.QTY
        </td>
        <td class="center">
            @Model.ReceivedQTY
        </td>
        <td class="center">
            @Model.TOTALAMT
        </td>
        <td class="center">
            @Model.GRNSTATUS
        </td>
        <td class="center">
            <a class="btn btn-xs blue-stripe default" target="_blank" href="@Url.Content("~/ViewPrint/GRN_ViewPrint?GRNNO=" + @Model.GRNNO)"><i class="fa fa-print"></i>&nbsp;View/Print</a>
        </td>
    </tr>
}
