﻿@model CYGNUS.Models.webx_GENERAL_POASSET_HDR
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers

@using (Html.BeginCollectionItem("GRNViewPrint", Model.pocode.ToString()))
{
    <tr>
        <td class="center">
            @Model.pocode
        </td>
        <td class="center">
            @Model.podate.ToString("dd MMM yyyy")
        </td>
        <td class="center">
            @Model.VENDORCD
        </td>
        <td class="center">
            @Model.PO_advamt
        </td>
        <td class="center">
            @Model.remarks
        </td>
        <td class="center">
            <a class="btn btn-xs blue-stripe default" target="_blank" href="@Url.Content("~/ViewPrint/GRNBILLENTRYDETAILS?billno=" + @Model.pocode)"><i class="fa fa-print"></i>&nbsp;View/Print</a>
        </td>
    </tr>
}
