﻿@model FleetDataService.ViewModels.JOBBillEntryDetails
@using Fleet.Helpers

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.JOB_ORDER_NO, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("JOBList", (Model.JOB_ORDER_NO).ToString()))
    {
        <td class="center">
            @Html.CheckBoxFor(c => c.IsEnabled, new { @class = "clsJOBCheck" })
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.JOB_ORDER_NO)
            @Html.HiddenFor(c => c.JOB_ORDER_NO)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.JOB_ORDER_DT)
            @Html.HiddenFor(c => c.JOB_ORDER_DT)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.JOB_ORDER_CLOSEDT)
            @Html.HiddenFor(c => c.JOB_ORDER_CLOSEDT)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.JobCardType)
            @Html.HiddenFor(c => c.JobCardType)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.VEHNO)
            @Html.HiddenFor(c => c.VEHNO)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.TOT_ACT_LABOUR_COST)
            @Html.HiddenFor(c => c.TOT_ACT_LABOUR_COST)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.TOT_ACT_PART_COST)
            @Html.HiddenFor(c => c.TOT_ACT_PART_COST)
        </td>
        @*Start New Part GST Change Chirag D*@
        <td class="center">
            @Html.DisplayFor(c => c.TOT_Part_GST_COST)
            @Html.HiddenFor(c => c.TOT_Part_GST_COST, new { @class = "clsPart_GST_COST" })
        </td>
        @*End New Part GST Change Chirag D*@
        <td class="center">
            @Html.DisplayFor(c => c.TOT_JOB_COST)
            @Html.HiddenFor(c => c.TOT_JOB_COST)
        </td>
    }
</tr>