﻿@model FleetDataService.ViewModels.JOBBillEntryDetails
@using Fleet.Helpers

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.ID, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("JOBList", (Model.ID).ToString()))
    {
        <td class="center">
            @Html.CheckBoxFor(c => c.IsEnabled, new { @class = "clsload" })
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.NO)
            @Html.HiddenFor(c => c.NO)
        </td>
        @*<td class="center">
                @Html.DisplayFor(c => c.DocumentType)
            </td>
            <td class="center">

                @Html.DisplayFor(c => c.date)
                @Html.HiddenFor(c => c.date)

            </td>*@
        <td class="center">
            @Html.DisplayFor(c => c.LoadBY)
            @Html.HiddenFor(c => c.LoadBY)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.Status)
            @Html.HiddenFor(c => c.Status)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.Name)
            @Html.HiddenFor(c => c.Name)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.PKGSNO)
            @Html.HiddenFor(c => c.PKGSNO)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.PKGSNO_Load)
            @Html.HiddenFor(c => c.PKGSNO)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.ACTUWT)
            @Html.HiddenFor(c => c.ACTUWT)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.CHRGWT)
            @Html.HiddenFor(c => c.CHRGWT)
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.Rate, new { @readonly = true })
            @Html.HiddenFor(c => c.Rate)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.Charge)
            @Html.HiddenFor(c => c.Charge)
        </td>

    }
</tr>