﻿@model FleetDataService.Models.webx_MRDET_BILL
@using CYGNUS.Models;
@using Fleet.Classes;
@using Fleet.Helpers;
@{
    string TRID = "TR" + Model.MRSNO.Replace("/", "_").ToString();
}

<tr id="@TRID" class="center">

    @using (Html.BeginCollectionItem("MRSNOList", Model.MRSNO.Replace("/", "_").ToString()))
    {
        var BillAmt = "MRSNO_" + Model.MRSNO.Replace("/", "_").ToString();
        var MrsNo = Model.MRSNO.Replace("/", "_").ToString();
        <td>
                @Model.MRSNO
                @Html.HiddenFor(m => m.MRSNO)
                @Html.HiddenFor(m => m.IsMrApproval, new { @class = "clsCHK" })
                @Html.HiddenFor(m => m.TOTBILL)
                @Html.HiddenFor(m => m.TDSDED)
                @Html.HiddenFor(m => m.UNEXPDED)
        </td>
        <td>
            @Model.MRSBR
        </td>
        <td>
            @Model.TOTBILL
        </td>
        <td>
            @Model.TDSDED
        </td>
        <td>
            @Model.UNEXPDED
        </td>
        <td>
            @Model.NETAMT
        </td>
        <td>
            @Model.PayBasis
        </td>
        <td>
            @Model.paymode
        </td>
        <td>
            @if (Model.ENTRYBY != ViewBag.BaseUserName || ViewBag.BaseUserName == "CYGNUSTEAM")
            {
                @*@Html.CheckBoxFor(m => m.IsMrApproval, new { @class = "clsCHK" })*@
                <a data-id=@MrsNo class="btn btn-xs default green-stripe  clsbtnApproval"><i class="fa fa-check"></i> Approve</a>
                <a data-id=@MrsNo class="btn btn-xs default red-stripe clsbtnRejection"><i class="fa fa-times"></i> Reject</a>

            }
            else
            {
                <span style="color:red;font-weight:bold;">Not Authorized</span>
            }
            <a class="btn btn-xs default blue-stripe" href="@Url.Action("MR_ViewPrint", "ViewPrint", new { Type = 0, MRSNo = @Model.MRSNO })" onclick="window.open(this.href, 'RCPL','left=20,top=20,width=1240,height=620,toolbar=1,resizable=0'); return false;" id="ReportFrame"><i class="fa fa-eye"></i> View</a>
        </td>
    }
</tr>
