﻿@model FleetDataService.ViewModels.OtherBillEntryLedger

@using Fleet.Helpers
@{

    List<SelectListItem> BlankList = new List<SelectListItem>();
}


<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Id, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("LedgerList", (Model.Id).ToString()))
    {

        <td class="center">
            @Html.DisplayFor(c => c.Id)
            @Html.HiddenFor(c => c.Id)
        </td>

        <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.Acccode, new { @class = "required2 required form-control", @placeholder = "Select Ledger" })                  
                </div>
            </div>
        </td>
        <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.AccDesc, new { @class = "required2 form-control", @readonly = "true", @placeholder = "Ledger Name" })
                </div>
            </div>
        </td>

        <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.Amount, new { @class = "required2 clsAmount  clsLedgerAmount form-control", @type = "number", @min = "1", @placeholder = "Amount" })
                </div>
            </div>
        </td>
        <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextAreaFor(c => c.Narration, new { @class = "required2 form-control narration", @placeholder = "Narration" })
                </div>
            </div>
        </td>
    }
</tr>