﻿@model Fleet.ViewModels.DNM_DNCancellationList
@using Fleet.Helpers
<tr>
    @using (Html.BeginCollectionItem("DNBillList", Model.DocumentNo.Replace("/", "_").ToString()))
    {
        @*<td>
                @Html.CheckBoxFor(m => m.IsCheckBox, new { @class = "clsDNCHK", @data = Model.DocumentNo.Replace("/", "_").ToString(), @databill = Model.DocumentNo.Replace("/", "_").ToString() })
            </td>*@
        <td>
            @Model.DocumentNo
            @Html.HiddenFor(m => m.DocumentNo)
        </td>
        <td class="ClsPendAmount">
            @Model.PendAmount
            @Html.HiddenFor(m => m.PendAmount)
        </td>
        <td>
            @Html.TextBoxFor(c => c.NetAmount, new { @min = "0", @Max = "" + @Model.NetAmount, @number = "true", @readonly = true, @class = "form-control required required2 clsAdjustedAmt" })
        </td>
    }
</tr>

