﻿@model FleetDataService.Models.VW_THC_AdvancePayment




@using Fleet.Helpers

@{
    
    Model.netbalamt = Model.Contract_Amt - Model.Advamt;

    if (Model.ManualDocno==null)
    {
        Model.ManualDocno = "NA";
    }
}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Docno, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("DocuemntList", (Model.Docno).ToString()))
    {
      
        <td class="center">

            @Html.DisplayFor(c => c.Docno)

            @Html.HiddenFor(c => c.Docno)
            @Html.HiddenFor(c => c.ManualDocno)
            @Html.HiddenFor(c => c.DocumentType)

        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.Contract_Amt, new { @readonly = "true", @class = "clsAmount form-control" })
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.OTHCHRG, new { @readonly = "true", @class = "clsAmount form-control" })
        </td>

        <td class="center">
            <div class="form-group" style="margin-bottom: 0px;">
                <div class="col-md-11">
                @Html.TextBoxFor(c => c.Advamt, new { @class = "required2 clsAmount clsAdvAmt form-control", @max = Model.Contract_Amt, @type = "number", @min = "0" })
            </div>
            </div>
</td>

        <td class="center">
            @Html.TextBoxFor(c => c.netbalamt, new { @readonly = "true", @class = "required2 clsAmount form-control" })

        </td>


      

    }
</tr>