﻿@model FleetDataService.Models.VW_THC_BalancePayment
@using Fleet.Helpers

@{
    Model.netbalamt = Model.Contract_Amt - Model.Advamt + Model.OTherChrg;
    Model.NET = Model.netbalamt;
    Model.PendingAmount = Model.NET;
    Model.GSTChgAmt = Convert.ToDecimal(Model.Contract_Amt) + Convert.ToDecimal(Model.OTherChrg);
}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.RNO, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("DocuemntList", (Model.RNO).ToString()))
    {

        string strRowCLS = "clsRow" + Model.RNO.ToString();

        <td class="center">
            @Html.DisplayFor(c => c.ID)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.Docno)
            @Html.HiddenFor(c => c.Docno)
            @Html.HiddenFor(c => c.RNO)
            @Html.HiddenFor(c => c.DocumentType)
            @Html.HiddenFor(c => c.Rut_cat)
        </td>
        <td class="center" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.TextBoxFor(c => c.Contract_Amt, new { @readonly = "true", @class = "clsAmount clsContAmt form-control" })
        </td>
        @*<td class="center" style="padding-bottom: 2px; padding-top: 2px; display:none">
            @Html.TextBoxFor(c => c.OTherChrg, new { @readonly = "true", @class = "clsAmount clsOtherChrg form-control" })
        </td>*@
        
              <td class="center" style="padding-bottom: 2px; padding-top: 2px; ">
            @Html.TextBoxFor(c => c.OTherChrg, new { @readonly = "true", @class = "clsAmount clsOtherChrg form-control" })
        </td>

        <td class="center" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.TextBoxFor(c => c.Advamt, new { @readonly = "true", @class = "clsAmount clsAdvAmt form-control" })
        </td>

        <td class="center" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.TextBoxFor(c => c.netbalamt, new { @readonly = "true", @class = "required2 clsBalAmt clsAmount form-control" })

        </td>

        foreach (var item in Model.ListCharge)
        {
            string strCls = "cls" + item.chargecode;

            <td class="center" style="padding-bottom: 2px; padding-top: 2px;">
                <div class="form-group" style="margin-bottom: 0px; padding-bottom: 2px; padding-top: 2px;">
                    <div class="col-md-11">
                        @Html.TextBox(item.chargecode, 0.00, new { @class = "clsAmount clsCharge form-control " + strCls + " " + strRowCLS, @dataid = strCls, @type = "number", @min = "0" })

                        @Html.Hidden(item.chargecode + "Operator", item.operator1)
                        @Html.Hidden(item.chargecode + "Name", item.chargename)

                    </div>
                </div>
            </td>

        }

        @*<td class="center" style="padding-bottom: 2px; padding-top: 2px;">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.GSTChgAmt, new { @readonly = "true", @class = "form-control required2 clsGSTChgAmt clsAmount", @min = "1" })
                </div>
            </div>
        </td>*@

        <td class="center" style="padding-bottom: 2px; padding-top: 2px;">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.NET, new { @readonly = "true", @class = "required2 clsPayableAmt clsAmount form-control", @min = "1" })
                </div>
            </div>
        </td>

        <td class="center" style="padding-bottom: 2px; padding-top: 2px;">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.PaymentAmount, new { @readonly = "true", @type = "number", @max = Model.NET, @class = "required2 clsPaymentAmt clsAmount form-control" })
                </div>
            </div>
        </td>
        <td class="center" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.TextBoxFor(c => c.PendingAmount, new { @readonly = "true", @min = "0", @type = "number", @class = "required2 clsPendAmt clsAmount form-control" })
        </td>
        @*<td class="center" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.TextBoxFor(c => c.TotalWt, new { @readonly = "true", @min = "0", @type = "number", @class = "required2 clsAmount form-control" })
        </td>
        <td class="center" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.TextBoxFor(c => c.CostPerKG, new { @readonly = "true", @min = "0", @type = "number", @class = "required2 clsCostPerKG form-control" })
        </td>*@
    }
</tr>