﻿@model Fleet.ViewModels.DNM_DNCancellationList
@using Fleet.Helpers
@using (Html.BeginCollectionItem("DNList", Model.DocumentNo.ToString()))
{
    Model.IsCheckBox=false;
    <tr>
        <td class="chkactive">
            @*<input type="checkbox" class="clsDNCHK" data-value="@Model.InvoiceNo" />*@
            @Html.CheckBoxFor(m => m.IsCheckBox, new { @class = "clsDNCHK ", @data = Model.NetAmount })
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.DocumentNo)
            @Html.HiddenFor(c => c.DocumentNo)
            @Html.HiddenFor(c => c.InvoiceNo)
            @Html.HiddenFor(c => c.PendAmount)
            @Html.HiddenFor(c => c.BillNo)
        </td>
        <td class="center">
            @Model.DocumentDate
        </td>
        <td class="center">
            @Model.InvoiceNo
        </td>
        <td class="center">
            @Model.VendorName
            @Html.HiddenFor(c => c.VendorCode)
        </td>
        <td>
            @Model.NetAmount
            @Html.HiddenFor(c => c.NetAmount)
        </td>
    </tr>
}
