﻿@model FleetDataService.ViewModels.BillList
@using Fleet.Helpers
@using (Html.BeginCollectionItem("BillList", Model.Billno.ToString()))
{
    Model.CurrAmt = Model.pendamt;
    var ClsCheckBoxClass = Model.VBillno.Replace("/", "_").ToString();
    var CheckBoxClass = "";
    <tr>
        <td class="chkactive2">
            @*<input type="checkbox" class="chkactive" data-value="@Model.Billno" data-voucher="@Model.VoucherNo" />*@
            @Html.CheckBoxFor(m => m.IsCheckBox, new { @class = "chkactive " + CheckBoxClass, @data = Model.VBillno.Replace("/", "_").ToString(), @databill = Model.Billno, @datavoucher = Model.VoucherNo })
        </td>
        <td class="center">
            @if (Model.Type != "VR")
            {
                @Html.DisplayFor(c => c.Billno)
            }
            @Html.HiddenFor(c => c.Billno)
            @Html.HiddenFor(c => c.Type)
            @Html.HiddenFor(c => c.VoucherNo)
            @Html.HiddenFor(c => c.Totalamt)
        </td>
        <td class="center">
            @Model.VoucherNo
        </td>
        <td class="center">
            @Model.Billdate
        </td>
        <td class="center">
            @Model.VBillno
        </td>
        <td class="center">
            @Model.vendorcd
            @Html.HiddenFor(c => c.vendorcd)
        </td>
       

        <td>
            @Model.Totalamt
            @Html.HiddenFor(c => c.Totalamt, new { @class = "hdnTotalamt" })

        </td>
        <td>
            @Html.TextBoxFor(m => m.Paidamt, new { @readonly = "true", @class = "form-control clsAmount Paidamt", @type = "number", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })

        </td>


        <td class="center">
            <div class="form-group" style="margin-bottom: 0px; padding-bottom: 2px; padding-top: 2px;">
                <div class="col-md-11">
                    @if (Model.Type == "VR")
                    {
                        @Html.TextBoxFor(c => c.CurrAmt, new { @class = "form-control pendamt pendamtVR required clsAmount required2", @readonly = "true", @type = "number", @max = Model.pendamt, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                    }
                    else
                    {
                        @Html.TextBoxFor(c => c.CurrAmt, new { @class = "form-control pendamt pendamtBE required clsAmount required2", @readonly = "true", @type = "number", @max = Model.pendamt, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                    }
                    @Html.HiddenFor(c => c.pendamt, new { @class = "hdnpendamt" })
                </div>
            </div>
        </td>

        @*<td class="center">
                <div class="form-group" style="margin-bottom: 0px; padding-bottom: 2px; padding-top: 2px;">
                    <div class="col-md-11">
                        @Html.TextBoxFor(c => c.CurrAmt, new { @class = "form-control pendamt required clsAmount required2", @readonly = "true", @type = "number", @max = Model.pendamt })
                        @Html.HiddenFor(c => c.pendamt)
                    </div>
                </div>
            </td>*@
        
    </tr>
}