﻿@model FleetDataService.ViewModels.BillEntry
@using Fleet.Helpers
<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Id, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("BillEntryList", (Model.Id).ToString()))
    {
        <td class="center">
            @Html.DisplayFor(c => c.Id)
        </td>
        <td>
            <div class="form-group col-md-12">
                @Html.TextBoxFor(c => c.CNoteNo, new { placeholder = "Enter CNote No.", @class = "form-control required2 required ClsCnote" })
                @Html.HiddenFor(m => m.Hnd_Declval)
            </div>
        </td>
        <td>
            <div class="form-group col-md-12">
                @Html.TextBoxFor(c => c.OctroiAmount, new { @class = "form-control required2 required ClsAmount", @type = "number" })
            </div>
        </td>

        <td class="center">
            <div class="form-group col-md-12">
                @Html.TextBoxFor(c => c.OctroiReceiptnNo, new { @class = "required2 required  form-control", @Placeholder = "Octroi receipt no." })
            </div>
        </td>
        <td class="center">
            <div class="form-group">
                <div class="col-md-10">
                    <div class="input-group date">
                        @Html.TextBoxFor(m => m.Receiptdate, String.Format("{0:dd MMM yyyy}", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy hh:mm tt")), new { @class = "form-control required2 required date-picker", @readonly = true, placeholder = "Receipt date" })
                        <span class="input-group-btn">
                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </td>
        <td class="center">
            @if (Model.Id > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
            }
            else
            {
                <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
            }
        </td>
    }
</tr>