﻿@model CYGNUS.Models.Webx_Account_Details
@using Fleet.Helpers;
@using FleetDataService.Models;
@using Fleet.Classes;
@using FleetDataService.ViewModels;
@using Fleet.ViewModels;
@{
    FleetDataService.MasterService CS = new FleetDataService.MasterService();
    FleetDataService.OperationService CSOPN = new FleetDataService.OperationService();

    List<Webx_Master_General> ListBusinessdivision = CS.GetGeneralMasterObject().Where(c => c.CodeType == "BUT").ToList();
    List<webx_acctinfo> ListTDSSection = CSOPN.GetTDSSectionList();
    List<GetBankDetailList> GetBankList = new List<GetBankDetailList>();
    List<GetCashDetailList> GetCashList = new List<GetCashDetailList>();
    Model.Chequedate = System.DateTime.Now;
    var ListPaymentMode = new List<SelectListItem>();
    ListPaymentMode.Add(new SelectListItem { Text = "Cash", Value = "Cash" });
    ListPaymentMode.Add(new SelectListItem { Text = "Bank", Value = "Bank" });
   
}

@using (Html.BeginCollectionItem("PAYMENTMODE", Model.SRNo.ToString()))
{
    <div class="col-md-6">
       
        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label col-md-4">
                    Payment Mode
                </label>
                <div class="col-md-6">
                    @Html.DropDownListFor(m => m.PaymentMode, new SelectList(ListPaymentMode, "Value", "Text", ""), "", new { @class = "form-control select2 required required2", @placeholder = "Payment Mode" })
                </div>

            </div>
        </div>
        
        
        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-offset-1 col-md-5">
                    <div class="radio-list">
                        <label class="radio-inline" style="padding-top: 0px;">
                            <input type="radio" name="numberTypeR" id="numberType1" checked value="C"> Cheque No.
                        </label>
                        <label class="radio-inline" style="padding-top: 0px;">
                            <input type="radio" name="numberTypeR" id="numberType2" value="R"> RTGS/NEFT No.
                        </label>
                        @Html.Hidden("numberType")
                    </div>
                </div>
                @*<label class="control-label col-md-4">Cheque No.</label>*@
                <div class="col-md-5">
                    @Html.TextBoxFor(c => c.ChequeNo, new { @class = "form-control required", @maxlength = 6, @placeholder = "Cheque No.", @number = true })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label col-md-4">
                    Cheque Date
                </label>
                <div class="col-md-6">
                    <div class="input-group date date-picker" data-date-format="dd MMM yyyy" >
                        @Html.TextBox("Chequedate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.Chequedate).ToString("dd MMM yyyy")), new { @class = "form-control required", @readonly = "True" })
                        <span class="input-group-btn">
                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>

        </div>
       
    </div>

    <div class="col-md-6">
        
        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label col-md-4">Cash Account</label>
                <div class="col-md-6">
                    @Html.DropDownListFor(c => c.CashAccount, new SelectList(GetCashList, "Value", "Text", ""), "", new { @class = "form-control select2" })
                </div>
            </div>
        </div>
      
        <div class="form-group">
            <div class="col-md-12">
              
                    <label class="control-label col-md-4" id="labelBank">Bank Account</label>
                <div class="col-md-6">
                    @Html.DropDownListFor(c => c.DepositedInBank, new SelectList(GetBankList, "Value", "Text", ""), "", new { @class = "form-control select2" })
                </div>
            </div>
        </div>
    </div>
} 