﻿@model CYGNUS.Models.webx_GENERAL_POASSET_HDR
@using Fleet.Helpers;
@using Fleet.Models;
@using Fleet.Classes;


@using (Html.BeginCollectionItem("POAprovalGPH", Model.pocode.ToString()))
{
    <tr>
        <td>
            @Html.HiddenFor(m => m.pocode)
            @Html.HiddenFor(m => m.totalamt)
            @Html.CheckBoxFor(m => m.ISAprovable, new { @class = "chkAprovable" })
        </td>
        <td>
            @Model.pocode
        </td>

        <td>
            @Model.Manual_PO_No
        </td>
        <td>
            @Model.podate.ToString("dd MMM yyyy")
        </td>

        <td>
            @Model.VENDORCD
        </td>
        <td>
            @Model.QTY
        </td>
        <td>
            @Model.Amount
        </td>
        <td>
            @Model.POSTATUS
        </td>

        @*@if (ViewBag.Type == "PO")
        {
            <td>
                <a href="JavaScript:Popup('@Model.pocode')">
                    View
                </a>
            </td>
           
        }*@
        
    </tr>

}