﻿@model FleetDataService.ViewModels.POBillEntry
@using Fleet.Helpers
@{
    //Model.BillAMount = Model.PendAmt;
    //Model.BillAMount = Model.Totalamt;
    var ValidAmt = Model.Totalamt - (Model.PaidAmt + Model.TaxAmount + Model.OtherCharge);
}
<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.pocode, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("POList", (Model.pocode).ToString()))
    {
        <td class="center">
            @if (ValidAmt >= 0)
            {
                @Html.CheckBoxFor(c => c.IsEnabled, new { @class = "clsPOCheck" })
            }
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.pocode)
            @Html.HiddenFor(c => c.pocode)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.podt)
            @Html.HiddenFor(c => c.podt)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.Adv_Voucherno)
            @Html.HiddenFor(c => c.Adv_Voucherno)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.Adv_Voucherdt)
            @Html.HiddenFor(c => c.Adv_Voucherdt)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.PaidAmt)
            @Html.HiddenFor(c => c.PaidAmt)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.Totalamt)
            @Html.HiddenFor(c => c.Totalamt)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.PendAmt)
            @Html.HiddenFor(c => c.PendAmt)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.BillAMount)
            @Html.HiddenFor(c => c.BillAMount)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.TaxAmount)
            @Html.HiddenFor(c => c.TaxAmount, new { @class = "GSTonGRNAmt" })
            @Html.HiddenFor(c => c.taxableAmt)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.OtherCharge)
            @Html.HiddenFor(c => c.OtherCharge)
        </td>
        <td class="center">
            <div class="form-group" style="margin-bottom: 0px; padding-bottom: 2px; padding-top: 2px;">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.BillAMount, new { @class = "form-control clsPOAmt required clsAmount required2", @readonly = "true", @type = "number", @max = Model.BillAMount })
                </div>
            </div>
        </td>
    }
</tr>