﻿@model FleetDataService.ViewModels.GRNBillEntryDetails
@using Fleet.Helpers
<tr>
    @using (Html.BeginCollectionItem("POGRN", Model.GRNNO.Replace("/", "_").ToString()))
    {
         

        <td class="center">
            @Html.CheckBoxFor(c => c.IsChecked, new { @class = "clsGRNCheck" })
        </td>
        <td>
            @Html.DisplayFor(c => c.GRNNO)
            @Html.HiddenFor(c => c.GRNNO)
        </td>
        <td>
            @Html.DisplayFor(c => c.GRNDT)
            @Html.HiddenFor(c => c.GRNDT)
        </td>
        <td>
            @Html.DisplayFor(c => c.ManualGRNNO)
            @Html.HiddenFor(c => c.ManualGRNNO)
        </td>
        <td>
            @Html.DisplayFor(c => c.BBRCD)
            @Html.HiddenFor(c => c.BBRCD)
        </td>
        <td>
            @Html.DisplayFor(c => c.Vendor)
            @Html.HiddenFor(c => c.Vendor)
        </td>
        <td>
            @Html.DisplayFor(c => c.totalamt)
            @Html.HiddenFor(c => c.totalamt)
        </td>
        <td>
            @Html.DisplayFor(c => c.pendamt)
            @Html.HiddenFor(c => c.pendamt)
        </td>
        <td>
            @Html.DisplayFor(c => c.PaidAmt)
            @Html.HiddenFor(c => c.PaidAmt)
        </td>
        <td>
            @Html.DisplayFor(c => c.GRNAmt)
            @Html.HiddenFor(c => c.GRNAmt)
            @Html.HiddenFor(c => c.CreditLedger)
            @Html.HiddenFor(c => c.CreditLedgerName)
        </td>
        <td>
            @Html.DisplayFor(c => c.GRNNetAmt)
            @Html.HiddenFor(c => c.GRNNetAmt)
        </td>
        <td>
            @Html.DisplayFor(c => c.GSTonGRNAmt)
            @Html.HiddenFor(c => c.GSTonGRNAmt, new { @class = "GSTonGRNAmt" })
        </td>
        <td>
            @Html.DisplayFor(c => c.GRNOtherCharges)
            @Html.HiddenFor(c => c.GRNOtherCharges)
        </td>

    }
</tr>