﻿@model CYGNUS.Models.webx_GENERAL_POASSET_HDR
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers

@using (Html.BeginCollectionItem("GRNViewPrint", Model.pocode.ToString()))
{
    <tr>

        <td class="center">
            @Model.pocode
        </td>
        <td class="center">
            @Model.Manual_PO_No
        </td>
        <td class="center">
            @Model.podate.ToString("dd MMM yyyy")
        </td>
        <td class="center">
            @Model.VENDORCD
        </td>
        <td class="center">
            @Model.totalqty
        </td>
        <td class="center">
            @Model.BalanceQty
        </td>
        <td class="center">
            @Model.totalamt
        </td>
        <td class="center">
            @Model.POSTATUS
        </td>
        <td class="center">
            @Model.PO_Approval
        </td>
        <td class="center">
            <a class="btn btn-xs blue-stripe default" target="_blank" href="@Url.Content("~/ViewPrint/PO_GRN_ViewPrint?PONumber=" + @Model.pocode)"><i class="fa fa-print"></i>&nbsp;View/Print</a>
        </td>   
    </tr>
}
