﻿@model FleetDataService.Models.webx_pdchdr
@using Fleet.Helpers

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.NO, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("PDCList", (Model.NO).ToString()))
    {
        <td class="center">
            @Html.CheckBoxFor(c => c.IsEnabled, new { @class = "clsload" })
            @Html.HiddenFor(c => c.IsEnabled)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.NO)
            @Html.HiddenFor(c => c.NO)
            @*@Html.HiddenFor(c => c.DocType)*@
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.Typ)
            @Html.HiddenFor(c => c.Typ)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.Branch)
            @Html.HiddenFor(c => c.Branch)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.vendorcode)
            @Html.HiddenFor(c => c.vendorcode)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.contract_amt)
            @Html.HiddenFor(c => c.contract_amt)
        </td>
        
    }
</tr>