﻿@model FleetDataService.Models.webx_fleet_VoucherExp_DET
@using FleetDataService.Models;
@using FleetDataService;
@using Fleet.Helpers
@{

    MasterService MS = new MasterService();
    List<Webx_Master_General> listGeneralMaster = new List<Webx_Master_General>();
    List<webx_VEHICLE_HDR>  ListVehicle =MS.GetVehicleObject().Where(c => c.ACTIVEFLAG == "Y").ToList();
}


<tr class="editorRow">
    @using (Html.BeginCollectionItem("RepairExpenseList", (Model.SRNO).ToString()))
    {

        <td class="center">
            @Model.SRNO
        </td>
        <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.ExpenseId, new SelectList(Model.ListNatureOfExpense.ToList(), "CodeId", "CodeDesc", Model.ExpenseId), "", new { @class = "clsnature select2 form-control required required2", @placeholder = "Nature of Expense" })
                </div>
            </div>
        </td>

        <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.VehicleNo, new SelectList(ListVehicle, "VEHNO", "VEHNO"), "", new { @class = "select2 form-control required required2", @placeholder = "Select Vehicle" })
                </div>
            </div>
        </td>


        <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.Amt, new { @class = "required2 required clsAmountSpent input-small form-control", @placeholder = "Amount Spent",@min="0"})
                </div>
            </div>
        </td>

        <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.BillNo, new { @class = "required2 required form-control", @placeholder = "Bill No" })
                </div>
            </div>
        </td>
        <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.ExeAmt, new { @class = "required2 required clsAmountApproved input-small form-control", @placeholder = "Amount Approved", @min = "0" })
                </div>
            </div>
        </td>
        <td class="center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextAreaFor(c => c.Remarks, new { @class = "required2   form-control", @placeholder = "Remarks" })
                </div>
            </div>
        </td>
    }
</tr>