﻿@model FleetDataService.Models.webx_PO_SKU_Master
@using FleetDataService.Models;
@using Fleet.Helpers;


@{
    string TRID = "TR" + Model.Srno.ToString();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> ListMatCat = MS.GetGeneralMasterObject().Where(c => c.CodeType == "MATCAT").ToList();
    List<Webx_Master_General> ListUOM = MS.GetGeneralMasterObject().Where(c => c.CodeType == "UOM").ToList();
    int i = 0;
    //Model.Srno = i;
}
<tr role="row" class="filter">
    @using (Html.BeginCollectionItem("SKUADD", Model.Srno.ToString()))
    {
        <td class="center">
            @Html.CheckBoxFor(m => m.IsCheck, new { @class = "form-control CLSCHK" })
        </td>
        <td class="center col-ms-2">
            @Html.HiddenFor(m => m.SKU_ID)
            @*@Html.DisplayFor(m => m.Srno)*@
            @Html.HiddenFor(m => m.Srno)

            @Html.DropDownListFor(m => m.MatCat_Id, new SelectList(ListMatCat, "CodeID", "CodeDesc"), "", new { @class = "form-control  select2 required", @placeholder = "Select Mat Category" })
        </td>
        <td class="center">
            @Html.TextBoxFor(m => m.SKU_Desc, new { @class = "form-control center required", @placeholder = "SKU Desc" })
        </td>
        <td class="center">
            @Html.TextBoxFor(m => m.Mfg_Desc, new { @class = "form-control center", @placeholder = "Manufacture" })
        </td>
        <td class="center">
            @Html.TextBoxFor(m => m.SKU_Type, new { @class = "form-control center", @placeholder = "Part No." })
        </td>
        <td class="center">
            @Html.TextBoxFor(m => m.SKU_Size, new { @class = "form-control center", @placeholder = "SKU Size" })
        </td>
        <td class="center col-ms-2">
            @Html.DropDownListFor(m => m.UOM_ID, new SelectList(ListUOM, "CodeID", "CodeDesc"), "", new { @class = "form-control  select2", @placeholder = "Select UOM" })
        </td>
        <td class="center">
            @Html.TextAreaFor(m => m.SKU_Remark, new { @class = "form-control center", @placeholder = "Remark" })
        </td>
        <td class="center">
            @Html.CheckBoxFor(m => m.IsActive, new { @class = " form-control" })
        </td>
        <td class="center">
            @Html.TextBoxFor(m => m.SKU_UDF1, new { @class = "form-control center", @placeholder = "UDF1" })
        </td>
        <td class="center">
            @Html.TextBoxFor(m => m.SKU_UDF2, new { @class = "form-control center", @placeholder = "UDF2" })
        </td>
        @*<td class="center">
                @Html.TextBoxFor(m => m.SKU_UDF3, new { @class = "form-control center " })
            </td>
            <td class="center">
                @Html.TextBoxFor(m => m.SKU_UDF4, new { @class = "form-control center " })
            </td>
            <td class="center">
                @Html.TextBoxFor(m => m.SKU_UDF5, new { @class = "form-control center " })
            </td>*@

    }
</tr>
