﻿@model FleetDataService.Models.webx_THC_SUMMARY
@using Fleet.Helpers

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.THCNO, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("THCList", (Model.THCNO).ToString()))
    {
        <td class="center">
            @Html.CheckBoxFor(c => c.IsEnabled, new { @class = "clsload" })
            @Html.HiddenFor(c => c.IsEnabled)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.THCNO)
            @Html.HiddenFor(c => c.THCNO)
            @*@Html.HiddenFor(c => c.DocType)*@
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.vendorcode)
            @Html.HiddenFor(c => c.vendorcode)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.THCBR)
            @Html.HiddenFor(c => c.THCBR)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.contract_amt)
            @Html.HiddenFor(c => c.contract_amt)
        </td>
    }
</tr>