﻿@{
    ViewBag.Title = "Advance Balance Document Details";
    Layout = "~/Views/Shared/_Layout.cshtml";


    objDate OD = new objDate();
    OD.ControlId = "AdvanceDate";
    OD.ControlValue = System.DateTime.Now.ToString();
    OD.ModuleCode = "13";
}

@model FleetDataService.ViewModels.AdvancePaymentViewModel
@using Fleet
@using Fleet.ViewModels

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>Advance Payment
        </div>
        <div class="caption pull-right">
            <a class="btn btn-xs default btnNumber" href="@Url.Content("~/Payment/AdvanceQuery")">
                <i class="fa fa-arrow-left"> </i>
                Back To Criteria
            </a>
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("AdvancePayment", "Payment", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {

            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>


                <h4 class="form-section">Basic Details</h4>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Vendor </label>
                            <div class="col-md-2">
                                @Html.TextBoxFor(m => m.APFM.VendorCode, new { placeholder = "System Generated", @readonly = "true", @class = "required2 form-control" })
                            </div>      <div class="col-md-5">
                                @Html.TextBoxFor(m => m.APFM.VendorName, new { placeholder = "System Generated", @readonly = "true", @class = "required2 form-control" })

                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Date Range </label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.APFM.FromDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.APFM.FromDate).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })


                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.APFM.ToDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.APFM.ToDate).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                            </div>
                        </div>
                    </div>




                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5" style="padding-top:0px;">Payment Type </label>
                            <div class="col-md-7">
                                <b>Advance Payment</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5" style="padding-top:0px;">Document Type </label>
                            <div class="col-md-7">
                                <b>   @Html.DisplayFor(m => m.APFM.DocTypeText) </b>
                                @Html.HiddenFor(m => m.APFM.DocTypeText)
                                @Html.HiddenFor(m => m.APFM.DocType)
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">

                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Document No. </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.APFM.SDocNo, new { placeholder = "Document No.", @readonly = "true", @class = "required2 form-control" })


                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Manual  No. </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.APFM.MDocNo, new { placeholder = "Manual No.", @readonly = "true", @class = "required2 form-control" })


                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5"> Records </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.TotalRecods, new { placeholder = "Document No.", @readonly = "true", @class = "required2 form-control",@min="1" })


                            </div>
                        </div>
                    </div>
                    
                </div>
                    


                    <div style=" display:none;">
                        @{
            Html.RenderPartial("../UserControls/_DocumentDate", OD);
                        }

                    </div>
                    <h4 class="form-section">Document Details</h4>

                    <table id="sample_ven" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>@Html.CheckBox("IsAllEnabled")</th>
                                <th>Doc NO</th>
                                <th>Manual DocNO</th>
                                <th>Document Type</th>
                                <th>Vehicle No.</th>
                                <th>FTL Type</th>
                                <th>Doc Date</th>
                                <th>Start Branch</th>
                                <th>Route Code</th>
                                <th>Vendor Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.listVWTAPM.ToList().OrderBy(c => c.Docno))
                        {

                                <tr>
                                    <td>
                                        <input type="checkbox" class="chkactive" data-value="@item.Docno" />
                                    </td>
                                    <td class="center">
                                        @item.Docno
                                    </td>
                                    <td>
                                        @item.ManualDocno
                                    </td>
                                    <td class="center">
                                        @item.DocumentType
                                    </td>
                                    <td>
                                        @item.vehno
                                    </td>
                                    <td class="center">
                                        @item.FtlTypeDesc
                                    </td>
                                    <td>
                                        @item.Docdate
                                    </td>
                                    <td class="center">
                                        @item.DocBR
                                    </td>
                                    <td>
                                        @item.RouteCD
                                    </td>
                                    <td class="center">
                                        @item.VendorName
                                    </td>
                                </tr>
                        }
                        </tbody>
                    </table>



                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="button" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>


                </div>

        }
    </div>
</div>
<script src="~/Scripts/Payments/AdvancePayment.js?ver<%=DateTime.Now.Ticks.ToString()%" type="text/javascript"></script>

<script type="text/javascript">

    var PaymentControl = function (DomainName) {
    }
    </script>