﻿@model FleetDataService.ViewModels.AdvancePaymentViewModel
@using Fleet
@using Fleet.ViewModels
@using FleetDataService.Models
@{
    ViewBag.Title = "AdvancePayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

    objDate OD = new objDate();
    OD.ControlId = "AdvanceDate";
    OD.ControlValue = System.DateTime.Now.ToString();
    OD.ModuleCode = "05";


    List<SelectListItem> BlankList = new List<SelectListItem>();

    string BalanceLocationCode = ViewBag.BaseLocationCode;

    string BalanceLocationName = ViewBag.BaseLocationName;


    FleetDataService.MasterService OS = new FleetDataService.MasterService();
    List<webx_location> LocList = OS.GetLocationDetails().ToList();
}



<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>BA Bill Enty
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("AdvancePaymentSubmit", "Payment", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {

            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>

                <h4 class="form-section">Basic Details</h4>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Vendor </label>
                            <div class="col-md-2">
                                @Html.TextBoxFor(m => m.APFM.VendorCode, new { placeholder = "System Generated", @readonly = "true", @class = "required2 form-control" })
                            </div>      <div class="col-md-5">
                                @Html.TextBoxFor(m => m.APFM.VendorName, new { placeholder = "System Generated", @readonly = "true", @class = "required2 form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Date Range </label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.APFM.FromDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.APFM.FromDate).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.APFM.ToDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.APFM.ToDate).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5" style="padding-top:0px;">Payment Type </label>
                            <div class="col-md-7">
                                <b>Advance Payment</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5" style="padding-top:0px;">Document Type </label>
                            <div class="col-md-7">
                                <b>   @Html.DisplayFor(m => m.APFM.DocTypeText) </b>
                                @Html.HiddenFor(m => m.APFM.DocTypeText)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Document No. </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.APFM.SDocNo, new { placeholder = "Document No.", @readonly = "true", @class = "required2 form-control" })
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Manual  No. </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.APFM.MDocNo, new { placeholder = "Manual No.", @readonly = "true", @class = "required2 form-control" })
                            </div>
                        </div>
                    </div>*@
                </div>

                <h4 class="form-section">Advance Payment Details</h4>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Manual Voucher No. </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.ManualVoucherno, new { placeholder = "Manual Voucher No.", @class = "required2 form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Voucher Date</label>
                            <div class="col-md-7">
                                @{
            Html.RenderPartial("../UserControls/_DocumentDate", OD);
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" >
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Balance Bill Entry Location </label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(c => c.BalanceLocation, new SelectList(LocList, "LocCode", "LocName", Model.BalanceLocation), "", new { @class = "form-control select2 required2 required bs-select", @placeholder = "Balance Location" })
                                @Html.Hidden("BalanceLocationName", BalanceLocationName)
                                @Html.Hidden("BalanceLocationCode", BalanceLocationCode)

                            </div>
                        </div>
                    </div>
                </div>



                <table id="sample_ven" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Doc NO</th>
                            <th>Contract Amt.(+)</th>
                            <th>Other Amt.(+)</th>
                            <th>Advance Amt. (-)</th>
                            <th>Net BalAmt</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.listVWTAPM.ToList().OrderBy(c => c.Docno))
                        {
                            { Html.RenderPartial("_PartialAdvancePayment", item); }
                        }
                        <tr>
                            <td colspan="2"></td>
                            <td><b>Total</b></td>
                            <td>
                                <div class="form-group" style="margin-bottom: 0px;">
                                    <div class="col-md-11">
                                        @Html.TextBoxFor(m => m.TotalVoucherAmount, new { placeholder = "Document No.", @readonly = "true", @class = "required2 clsAmount form-control", @min = "1", @type = "number" })
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                @using FleetDataService.ViewModels

                @{
            PaymentControl PC = new PaymentControl();
                }
                <h4 class="form-section">Payment Details</h4>
                <div class="row">

                    @{  Html.RenderPartial("../UserControls/_PaymentControl", PC); }
                </div>
                <div class="form-actions fluid">
                    <div class="col-md-offset-4 col-md-8">
                        <button type="button" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script src="~/Scripts/Payments/AdvancePayment.js?ver<%=DateTime.Now.Ticks.ToString()%"></script>