﻿@{
    ViewBag.Title = "Advance Balance Query";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model  FleetDataService.ViewModels.AdvancePaymentFilter


<div class="row">
    <div class="col-md-10">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>Advance Payment
                </div>
            </div>
            <div class="portlet-body form">
                @using (Html.BeginForm("AdvanceDocumentDetails", "Payment", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
                {
                    {
                        Html.RenderPartial("../UserControls/_AdvanceBalancePaymentFilter", Model);
                    }
                }
            </div>
        </div>
    </div>
</div>