﻿@model FleetDataService.ViewModels.BillEntryPaymentViewModel
@{
    ViewBag.Title = "BillEntryPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>Agent Bill Summary
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("AddAgentBillEntry", "Payment", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <h4 class="form-section">Basic Details</h4>
                <div id="divStep1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Bill Entry Number</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.BE.Billno, new { placeholder = "System Generated...", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Bill date</label>
                                    <div class="col-md-7">
                                        <div class="input-group date date-picker" data-date-format="dd MMM yyyy" data-date-end-date="+0d">
                                            @Html.TextBoxFor(m => m.BE.Billdate, String.Format("{0:dd MMM yyyy}", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy hh:mm tt")), new { @class = "form-control required2 required", @readonly = true, placeholder = "Bill date" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Octroi Agent</label>
                                    <div class="col-md-7 radio-list">
                                        @Html.TextBoxFor(m => m.BE.OctroiAgnet, new { placeholder = "Octroi Agent", @class = "form-control required2 required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Agent Bill number</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.BE.AgentBillNo, new { placeholder = "Agent Bill number", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Clearance charges</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.BE.ClearCharge, new { placeholder = "Clearance charges", @class = "form-control required2 required" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Octroi paid by Agent Rs.</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.BE.OctroiAmount, new { placeholder = "Octroi paid by Agent Rs.", @class = "form-control required2 required", @readonly = true })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Agent Bill date</label>
                                    <div class="col-md-7">
                                        <div class="input-group date date-picker" data-date-format="dd MMM yyyy" data-date-end-date="+0d">
                                            @Html.TextBoxFor(m => m.BE.AgentBillDate, String.Format("{0:dd MMM yyyy}", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy hh:mm tt")), new { @class = "form-control required2 required ", @readonly = true, placeholder = "Agent Bill date" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Agent service charge</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.BE.AgentSerCharge, new { placeholder = "Agent service charge", @class = "form-control required2 required", @type = "number" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Service Charge(%)</label>
                                    <div class="col-md-7 radio-list">
                                        @Html.TextBoxFor(m => m.BE.ServiceCharge, new { placeholder = "Service Charge(%)", @class = "form-control required2 required", @readonly = true })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Other Charges</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.BE.OtherCharge, new { placeholder = "Other Charges", @class = "form-control required2 required", @type = "number" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Service Tax charged</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.BE.TaxServiceCharge, new { placeholder = "0", @class = "form-control", @type = "number", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Form charges</label>
                                    <div class="col-md-7 radio-list">
                                        @Html.TextBoxFor(m => m.BE.FromCharge, new { placeholder = "Form charges", @class = "form-control required2 required", @type = "number" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Sundry charges</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.BE.SundryCharge, new { placeholder = "Sundry charges", @class = "form-control required2 required", @type = "number" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Due date</label>
                                    <div class="col-md-7">
                                        <div class="input-group date date-picker">
                                            @Html.TextBoxFor(m => m.BE.DueDate, String.Format("{0:dd MMM yyyy}", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy hh:mm tt")), new { @class = "form-control required2 required date-picker", @readonly = true, placeholder = "Due date" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Total Due</label>
                                    <div class="col-md-7 radio-list">
                                        @Html.TextBoxFor(m => m.BE.TotalDue, new { placeholder = "Total Due", @class = "form-control required2 required", @type = "number", @readonly = true })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="form-section">Bill Summary</h4>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                                    <thead class="flip-content">
                                        <tr>
                                            <th class="center col-md-1">
                                                Sr No
                                            </th>
                                            <th class="center col-md-2">
                                                Cnote Number
                                            </th>
                                            <th class="center col-md-3">
                                                Octroi Amount
                                            </th>
                                            <th class="center col-md-3">
                                                Octroi receipt no.
                                            </th>
                                            <th class="center col-md-2">
                                                Receipt date
                                            </th>
                                            <th class="center">
                                                X
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblbillentry">
                                        @foreach (var item in Model.ListBillEntry)
                                        {
                                            Html.RenderPartial("_PartiaBillEntry", item);
                                        }
                                    </tbody>
                                    <tr>
                                        <th class="col-md-1 center" colspan="2">
                                            Total Amount
                                        </th>
                                        <th class="col-md-1">
                                            @Html.TextBox("TotalAmount", "", new { placeholder = "Total Amount", @class = "form-control", @readonly = "true" })
                                        </th>

                                        <th class="col-md-1" colspan="1">
                                            Remark
                                        </th>
                                        <th class="col-md-1" colspan="2">
                                            @Html.TextAreaFor(m => m.BE.Remark, new { placeholder = "Enter Remark", @class = "form-control" })
                                        </th>
                                    </tr>
                                </table>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" id="btnaddBillEntry" class="btn blue pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions fluid">
                    <div class="col-md-offset-4 col-md-8">
                        <a class="btn btn-sm default controls" href="@Url.Action("AgentBillEntry", "Payment")"> <i class="fa fa-refresh"> </i>&nbsp;Reset</a>
                        <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var FormValidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);
            $.validator.addMethod('checkCnoteNoAvailability', function (value, element) {
                var flg = true;
                var ID = $(element).attr("id").replace('BillEntryList_', '').replace('__CNoteNo', '')
                var DocType = $("#BillEntryList_" + ID + "__CNoteNo").val();
                $(".ClsCnote").each(function () {
                    var ID1 = $(this).attr('id').replace('BillEntryList_', '').replace('__CNoteNo', '')
                    var DocType1 = $("#BillEntryList_" + ID1 + "__CNoteNo").val();
                    console.log("ID1:" + ID1 + "ID:" + ID);
                    if (ID != ID1) {
                        if (DocType == DocType1) {
                            flg = false;
                            return false;
                        }
                    }
                });
                if (flg == true) {
                    return true;
                }
                00 - E1 - B0 - 28 - 02 - 12
            }, "Cnote Number already exist !!!");
            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                //messages: {
                //    'BEPFM_TotalRecods': {
                //        min: jQuery.format("Please Select at Least One Record")
                //    },
                //},
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var TotalDue = function () {

            var AgentSerCharge = isNaN(parseFloat($("#BE_AgentSerCharge").val())) ? 0 : parseFloat($("#BE_AgentSerCharge").val()) //parseFloat($("#BE_AgentSerCharge").val()) == NaN ? 0 : parseFloat($("#BE_AgentSerCharge").val())
            var OtherCharge = isNaN(parseFloat($("#BE_OtherCharge").val())) ? 0 : parseFloat($("#BE_OtherCharge").val())// parseFloat($("#BE_OtherCharge").val()) == NaN ? 0 : parseFloat($("#BE_OtherCharge").val())
            var FromCharge = isNaN(parseFloat($("#BE_FromCharge").val())) ? 0 : parseFloat($("#BE_FromCharge").val())// parseFloat($("#BE_FromCharge").val()) == NaN ? 0 : parseFloat($("#BE_FromCharge").val())
            var SundryCharge = isNaN(parseFloat($("#BE_SundryCharge").val())) ? 0 : parseFloat($("#BE_SundryCharge").val())// parseFloat($("#BE_SundryCharge").val()) == NaN ? 0 : parseFloat($("#BE_SundryCharge").val())
            var ClearCharge = isNaN(parseFloat($("#BE_ClearCharge").val())) ? 0 : parseFloat($("#BE_ClearCharge").val())// parseFloat($("#BE_ClearCharge").val()) == NaN ? 0 : parseFloat($("#BE_ClearCharge").val())
            var BE_OctroiAmount = isNaN(parseFloat($("#BE_OctroiAmount").val())) ? 0 : parseFloat($("#BE_OctroiAmount").val())// parseFloat($("#BE_ClearCharge").val()) == NaN ? 0 : parseFloat($("#BE_ClearCharge").val())
            var TotalDue = AgentSerCharge + OtherCharge + FromCharge + SundryCharge + ClearCharge + BE_OctroiAmount;
            $("#BE_TotalDue").val(parseFloat(TotalDue).toFixed(2));
        }

        var AddQuestion = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Payment/AddNewRowBill?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#tblbillentry").append(html);

                    $('.date-picker').datepicker({
                        isRTL: App.isRTL(),
                        format: "dd M yyyy",
                        setDate: new Date(),
                        autoclose: true,
                        pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                        todayBtn: true
                    });

                    $("#BillEntryList_" + itemIndex + "__OctroiAmount").live('change', function () {
                        CalTotAmt();
                    });
                    CalTotAmt();
                    //var CalTotAmt = function () {
                    //    var FinalVal = 0;
                    //    $(".ClsAmount").each(function () {
                    //        var val = Number($(this).val());
                    //        FinalVal += val;
                    //    });
                    //    $("#TotalAmount").val(FinalVal);
                    //    $("#BE_OctroiAmount").val(FinalVal);
                    //    $("#BE_TotalDue").val(FinalVal);

                    //    var Entval = Number($("#BE_AgentSerCharge").val());
                    //    var OctAmt = parseFloat($("#BE_OctroiAmount").val());
                    //    $("#BE_ServiceCharge").val(parseFloat((Entval * 100) / OctAmt).toFixed(2));
                    //    TotalDue();
                    //}
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }

        var handleDatetimePicker = function () {
            //$("#WAD_VoucherDate").prop("disabled", true);
            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    isRTL: App.isRTL(),
                    format: "dd M yyyy",
                    setDate: new Date(),
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    todayBtn: true
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }

        var CalTotAmt = function () {
            var FinalVal = 0;
            $(".ClsAmount").each(function () {
                var val = Number($(this).val());
                FinalVal += val;
            });

            $("#TotalAmount").val(FinalVal);
            $("#BE_OctroiAmount").val(FinalVal);
            $("#BE_TotalDue").val(FinalVal);

            var Entval = Number($("#BE_AgentSerCharge").val());
            var OctAmt = parseFloat(($("#BE_OctroiAmount").val()) ? $("#BE_OctroiAmount").val() : 0);
            if (OctAmt > 0) {
                $("#BE_ServiceCharge").val(parseFloat((Entval * 100) / OctAmt).toFixed(2));
            }
            TotalDue();
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                handleDatetimePicker();
                $(".ClsCnote").live("change", function () {
                    $(".ClsCnote").each(function () {
                        $(this).rules("add", {
                            checkCnoteNoAvailability: true,
                        });
                    });
                });

                var StrURL = DomainName + "/Payment/GetOctroiVendorDetails";
                JsonDDLSelectCode("BE_OctroiAgnet", StrURL);

                $(".ClsCnote").live("change", function () {

                    App.blockUI({ boxed: true });
                    var ID = $(this).attr('id').replace('BillEntryList_', '').replace('__CNoteNo', '')
                    var StrURL1 = DomainName + '/Payment/CheckDocketNo?DocketNo=' + $(this).val();
                    $.ajax({
                        url: StrURL1,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (Data) {
                            App.unblockUI();
                            var res = Data.CallMSG.split("|");
                            if (res[0] == "false") {
                                //$("#BillEntryList_" + ID + "__CNoteNo").val("")
                                //$("#BillEntryList_" + ID + "__CNoteNo").focus();
                                //return false;
                                $("#BillEntryList_" + ID + "__OctroiAmount").val(0)
                                $("#BillEntryList_" + ID + "__OctroiReceiptnNo").val(0)
                                $("#BillEntryList_" + ID + "__Receiptdate").val(0)
                            }
                            else if (res[0] == "true") {
                                $("#BillEntryList_" + ID + "__OctroiAmount").val(res[1])
                                $("#BillEntryList_" + ID + "__OctroiReceiptnNo").val(res[2])
                                $("#BillEntryList_" + ID + "__Receiptdate").val(res[3])
                                CalTotAmt();
                            }
                            else if (res[0] == "InValid") {
                                alert("InValid Docket No...");
                                $("#BillEntryList_" + ID + "__CNoteNo").focus();
                                $("#BillEntryList_" + ID + "__CNoteNo").val("")
                            }
                            else if (res[0] == "InValidDocket") {
                                alert(res[1]);
                                $("#BillEntryList_" + ID + "__CNoteNo").val("")
                                $("#BillEntryList_" + ID + "__CNoteNo").focus();
                            }
                            else if (res[0] == "InValidFinYear") {
                                //alert("Enter docket is not belong to this financial year");
                                //$("#BillEntryList_" + ID + "__CNoteNo").val("")
                                //$("#BillEntryList_" + ID + "__CNoteNo").focus();
                                $("#BillEntryList_" + ID + "__OctroiAmount").val(0)
                                $("#BillEntryList_" + ID + "__OctroiReceiptnNo").val(0)
                                $("#BillEntryList_" + ID + "__Receiptdate").val(0)
                            }

                        },
                        error: function (req, status, error) {
                            App.unblockUI();
                            TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                        }
                    });
                });

                $('#btnSubmit').click(function () {
                    var form = $('#form_sample');

                    if (form.valid() == false) {
                        return false;
                    }
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                });

                $("#btnaddBillEntry").live('click', function () {
                    var itemIndex = $("#sample_1 input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddQuestion(DomainName, itemIndex);

                        }, 100 * i);
                    }
                });

                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    CalTotAmt();
                    return false;
                });

                $("#BillEntryList_" + 1 + "__OctroiAmount").live('change', function () {
                    CalTotAmt();
                });

                $(".ClsCnote").live("change", function () {
                    $(".ClsCnote").each(function () {
                        console.log("hello");
                        $(this).rules("add", {
                            checkCnoteNoAvailability: true,
                        });
                    });
                });

                $("#BE_AgentSerCharge").live("change", function () {
                    //var Entval = Number($(this).val());
                    //var OctAmt = parseFloat(($("#BE_OctroiAmount").val()) ? $("#BE_OctroiAmount").val() : 0)
                    //$("#BE_ServiceCharge").val(parseFloat((Entval * 100) / OctAmt).toFixed(2));
                    //TotalDue();
                    CalTotAmt();
                });

                $("#BE_OtherCharge").live("change", function () {
                    TotalDue();
                });

                $("#BE_FromCharge").live("change", function () {
                    TotalDue();
                });

                $("#BE_SundryCharge").live("change", function () {
                    TotalDue();
                });

                $("#BE_ClearCharge").live("change", function () {
                    TotalDue();
                });
            }
        }
    }();
</script>
