﻿@model  FleetDataService.ViewModels.FuelBillEntyQuery
@using FleetDataService.Models;
@{
    ViewBag.Title = "Attached Vendor Bill";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> DocTypelist = new List<SelectListItem>(){
                   new SelectListItem{ Text="THC", Value = "THC" },
                    new SelectListItem{ Text="PRS", Value = "P" },
                    new SelectListItem{ Text="DRS", Value = "D" },
    };
    List<SelectListItem> BillTypeList = new List<SelectListItem>(){
                    new SelectListItem{ Text="ATTACHED VENDOR", Value = "XX1" },
                    //new SelectListItem{ Text="CONTRACTUAL VENDOR", Value = "XX4" },
    };


    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_State> Webx_StateList = new List<Webx_State>();
    List<Webx_Master_General> lstGSTType = MS.GetGeneralMasterObject().Where(c => c.CodeType == "GSTTYPE" && c.StatusCode == "Y" && c.CodeId != "I" && c.CodeId != "SVC").OrderBy(c => c.CodeDesc).ToList();
}
<div class="row">
    <div class="col-md-10">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.ModuleName
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("FuelBillEntry", "Payment", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
                {
                    @Html.Hidden("Id", 10)
                    <div class="form-body">
                        @if (Model.Id == 10)
                        {
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Select  Date :
                                        </label>
                                        <div class="col-md-6">
                                            <div id="reportrange" class="btn default">
                                                <i class="fa fa-calendar"></i>
                                                &nbsp;
                                                <span></span>
                                                <b class="fa fa-angle-down"></b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.Id == 11)
                        {
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Months</label>
                                        <div class="col-md-4">
                                            <div class="input-group date date-picker" data-date-format="MM yyyy" data-date-viewmode="years" data-date-minviewmode="months">
                                                @*<input type="text" class="form-control" readonly id="nittin">*@
                                                @Html.TextBoxFor(m => m.MonthWithYear, new { placeholder = "Month", @class = "required2 form-control required", @readonly = true })
                                                <span class="input-group-btn">
                                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group ">
                                    <label class="control-label col-md-3">
                                        GST Type :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(c => c.GSTType, new SelectList(lstGSTType, "CodeId", "CodeDesc"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select GST Type" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group ">
                                    <label class="control-label col-md-3">
                                        State Code :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(c => c.StateCode, new SelectList(Webx_StateList, "statePrefix", "stnm"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select State" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Branch :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(m => m.Branch, new { placeholder = "Branch Location", @class = "required2 form-control required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Bill Type :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(m => m.BillType, new SelectList(BillTypeList, "Value", "Text"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Billing Type" })
                                        @Html.HiddenFor(c => c.FromDate)
                                        @Html.HiddenFor(c => c.ToDate)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Document Type list :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(m => m.DocType, new SelectList(DocTypelist, "Value", "Text"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Billing Type" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Vendor :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.VendorCode, new { placeholder = "Select Vendor", @class = "form-control required required2" })
                                        @Html.HiddenFor(c => c.VendorName)
                                    </div>
                                    <span class="col-md-4" style="color:red">Plz Type Initial Character OF Vendor Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-10">
                                <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Get List</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');

            $('#btnSubmit').on('click', function () {
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });
                }
            });



        }
        return {
            //main function to initiate the module
            init: function (DomainName) {

                FormValidate(DomainName);
                Events(DomainName);

                $("#BillType").on("change", function () {
                    JsonDDL('VendorCode', DomainName + '/Payment/getBranchAndDocTypeWiseVendorListJsonForBill?DocType=' + $("#BillType").val());
                });
                $("#VendorCode").on("change", function () {
                    var Name = $("#s2id_VendorCode").children('a').children('span').html().split('-')[1];
                    $("#VendorName").val(Name);
                });

                if (jQuery().datepicker) {
                    $('.date-picker').datepicker({
                        rtl: App.isRTL(),
                        startDate: new Date("@ViewBag.GSTStartDate"),
                        autoclose: true
                    });
                    $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
                }


                $("#GSTType").on('change', function () {
                    var StrURL = DomainName + "/Master/GetStateListFromGSTType?GSTType=" + $('#GSTType').val();
                    FillDropDownfromOther("StateCode", StrURL, "");
                });

                $("#StateCode").on('change', function () {
                    $('#Branch').val('');
                    JsonDDLSelectCodeWithName("Branch", DomainName + "/Master/GetLocationByState?Id=" + $('#StateCode').val());
                });

            }
        }
    }();
</script>