﻿@{
    ViewBag.Title = "Bill Entry Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>Bill Entry Successfully Done
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Bill Number
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@ViewBag.Voucherno</b>
                            </td>
                            <td>
                                @* <a target="_blank" href="#" class="fa fa-print" id="ReportFrame"><b>&nbsp;View/Print</b></a>*@
                                <a href="javascript:OrderView('@ViewBag.Voucherno','@ViewBag.Type')"><b><i class="fa fa-print"></i>View || Print</b></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                Click on Bill Number for View and Print .
            </span>
        </div>
    </div>
</div>

<script type="text/javascript">

    function OrderView(BILLNUMBER, BETYPE) {

        // var VoucherType = $('#BillTyp').val();
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"

        /* Expance */
        if (BETYPE == "4") {
            //var strPopupURL = ReportURL + DomainName + "/ViewPrint/FuelExpenceViewPrint?VoucherNO=" + BILLNUMBER;
            var strPopupURL = ReportURL + DomainName + "/ViewPrint/Expense_Entry?BillNo=" + BILLNUMBER;
            winNew = window.open(strPopupURL, "_blank", strWinFeature)
            return false;
        }
            /* Fixed Variable Expance */
            if (BETYPE == "3") {
                //var strPopupURL = ReportURL + DomainName + "/ViewPrint/FuelExpenceViewPrint?VoucherNO=" + BILLNUMBER;
                var strPopupURL = ReportURL + DomainName + "/ViewPrint/FixedVariableExpenseBillEntry?BillNo=" + BILLNUMBER;
                winNew = window.open(strPopupURL, "_blank", strWinFeature)
                return false;
            }
        /* Fuel Expance */
        if (BETYPE == "1") {
            var strPopupURL = ReportURL + DomainName + "/ViewPrint/Expense_Entry?BillNo=" + BILLNUMBER;
            winNew = window.open(strPopupURL, "_blank", strWinFeature)
            return false;
        }
        /* Job Expense */
        if (BETYPE == "6") {
            var strPopupURL = ReportURL + DomainName + "/ViewPrint/BA_Job_Sheet_PaymentView?NO=" + BILLNUMBER;
            //var strPopupURL = ReportURL + DomainName + "/ViewPrint/Expense_Entry?BillNo=" + BILLNUMBER;
            winNew = window.open(strPopupURL, "_blank", strWinFeature)
            return false;
        }
        /* Fuel Slip */
        if (BETYPE == "2") {
            var strPopupURL = ReportURL + DomainName + "/ViewPrint/FuelSlip_View?NO=" + BILLNUMBER;
            //var strPopupURL = ReportURL + DomainName + "/ViewPrint/Expense_Entry?BillNo=" + BILLNUMBER;
            winNew = window.open(strPopupURL, "_blank", strWinFeature)
            return false;
        }
        if (BETYPE == "7") {
            var strPopupURL = ReportURL + DomainName + "/ViewPrint/GRNBILLENTRYDETAILS?billno=" + BILLNUMBER;
            winNew = window.open(strPopupURL, "_blank", strWinFeature)
            return false;
        }
        if (BETYPE == "8" || BETYPE == "9") {
            var strPopupURL = ReportURL + DomainName + "/ViewPrint/LoadingUnloadingBillView?BillNo=" + BILLNUMBER + "&Type=" + BETYPE;
            winNew = window.open(strPopupURL, "_blank", strWinFeature)
            return false;
        }
        if (BETYPE == "10" || BETYPE == "11") {
            var strPopupURL = ReportURL + DomainName + "/ViewPrint/AttachedBillView?BillNo=" + BILLNUMBER + "&Type=" + BETYPE;
            winNew = window.open(strPopupURL, "_blank", strWinFeature)
            return false;
        }
        if (BETYPE == "BA_Bill") {
            var strPopupURL = ReportURL + DomainName + "/ViewPrint/BillPaymentView?VoucherNO=" + BILLNUMBER + "&Type=" + BETYPE;
            winNew = window.open(strPopupURL, "_blank", strWinFeature)
            return false;
        }
        if (BETYPE == "FA_Bill") {
            var strPopupURL = ReportURL + DomainName + "/ViewPrint/BillPaymentView?VoucherNO=" + BILLNUMBER + "&Type=" + BETYPE;
            winNew = window.open(strPopupURL, "_blank", strWinFeature)
            return false;
        }
        if (BETYPE == "13") {//done

            var strPopupURL = ReportURL + DomainName + "/ViewPrint/BillPaymentView?VoucherNO=" + BILLNUMBER + "&Type=" + BETYPE;
            winNew = window.open(strPopupURL, "_blank", strWinFeature);
            return false;
        }
        if (BETYPE == "5") {
            var strPopupURL = ReportURL + DomainName + "/ViewPrint/POBill?VoucherNO=" + BILLNUMBER;
            winNew = window.open(strPopupURL, "_blank", strWinFeature)
            return false;
        }
        return false;
    }

    var FormComponents = function (DomainName) {

        return {
            //main function to initiate the module
            init: function (DomainName) {

                // OrderView(BILLNUMBER, VoucherType);
            }
        };
    }();

</script>