﻿@model FleetDataService.ViewModels.BABillEnty
@using Fleet
@using Fleet.ViewModels
@using Fleet.Classes
@using FleetDataService.ViewModels
@using FleetDataService.Models;
@using FleetDataService;


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var name = "BA";
    if (Model.BBEQ.billType == "F")
    {
        name = "Franchise";
    }
    ViewBag.Title = name + " Bill Entry";

    List<SelectListItem> BlankList = new List<SelectListItem>();
    Model.WVH.BILLDT = System.DateTime.Now;

    Model.WVH.DUEDT = System.DateTime.Now;
    Model.WVH.VENDORBILLDT = System.DateTime.Now;

    Model.WVH.ContactCommission1 = 0;
    Model.WVH.ContactCommission2 = 0;

    objDate OD = new objDate();
    OD.ControlId = "WVH.BILLDT";
    OD.ControlValue = Model.WVH.BILLDT.ToString();
    OD.ModuleCode = "13";

    objDate OD1 = new objDate();
    OD1.ControlId = "WVH.VENDORBILLDT";
    OD1.ControlValue = Model.WVH.VENDORBILLDT.ToString();
    OD1.ModuleCode = "13";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    //var stateName = MS.GetStateMasterObject().Where(c => c.statePrefix.ToUpper() == Model.BBEQ.StateCode).FirstOrDefault().stnm.ToUpper();

    List<Webx_Master_General> listGeneralMaster = new List<Webx_Master_General>();
    listGeneralMaster = MS.GetGeneralMasterObject();
    OperationService OS = new OperationService();
    Model.CreditLedger = "UNS0004";
    Model.CreditLedgerName = OS.getAccountDesc("webx_acctinfo", Model.CreditLedger);
    
    int i = 1;
}



<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@ViewBag.Title
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("BABillEntrySubmit", "Payment", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <h4 class="form-section">@name Bill Entry Detail</h4>

                <div id="divStep1">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Bill Entry No. </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WVH.BILLNO, new { placeholder = "System Generated", @readonly = "true", @class = "required2 form-control" })
                                </div>
                            </div>
                        </div>
                        @Html.Hidden("CurrFinYear")
                        @Html.Hidden("BaseFinYear")
                        @Html.Hidden("FinYearEndDate")
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Bill Date</label>
                                <div class="col-md-7">
                                    @{
            Html.RenderPartial("../UserControls/_DocumentDate", OD);
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vendor Type</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WVH.VENDORTYPE, new { @readonly = "true", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vendor </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(m => m.BBEQ.VendorCode, new { @readonly = "true", @class = "form-control" })
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.BBEQ.VendorName, new { @readonly = "true", @class = "form-control" })
                                    @Html.HiddenFor(m => m.BBEQ.BookingDelivery)
                                    @Html.HiddenFor(m => m.BBEQ.GSTType)
                                    @Html.HiddenFor(m => m.BBEQ.StateCode)
                                    @Html.HiddenFor(m => m.BBEQ.billType)
                                    @Html.HiddenFor(m => m.BBEQ.FromDate)
                                    @Html.HiddenFor(m => m.BBEQ.ToDate)
                                    @Html.HiddenFor(m => m.WVH.BillPayType)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vendor Bill No.</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WVH.VENDORBILLNO, new { placeholder = "Vendor Bill No.", @class = "required2 required form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vendor Bill Date</label>
                                <div class="col-md-7">
                                    @{
            Html.RenderPartial("../UserControls/_DocumentDate", OD1);
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Due Days</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WVH.DueDays, new { placeholder = "Due Days", @class = "required2 clsAmount form-control", @type = "number"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Due Date</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WVH.DUEDT, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.WVH.DUEDT).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                @*<label class="control-label col-md-5">Total Commission (AS Per Contract)</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WVH.ContactCommission1, new { placeholder = "Due Days", @class = "required2 clsAmount form-control", @readonly = "true", @min = "1" })
                                </div>*@
                                <div class="form-group">
                                    <label class="control-label col-md-5">Ref.No. </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.WVH.REFNO, new { placeholder = "Ref.No.", @class = "required2 form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Remark</label>
                                <div class="col-md-7">
                                    @Html.TextAreaFor(m => m.WVH.REMARK, new { placeholder = "Remark", @class = "required2 form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5" style="padding-top:0px;">Credit Ledger </label>
                                <div class="col-md-7">
                                    @if (Model.BillEntryType == "7" || Model.BillEntryType == "8" || Model.BillEntryType == "9" || Model.BillEntryType == "10" || Model.BillEntryType == "11" || Model.BillEntryType == "13")
                                    {
                                        <b> @Model.CreditLedger</b>
                                        @Html.HiddenFor(c => c.CreditLedger)
                                        @Html.HiddenFor(c => c.DebitLedger)
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.CreditLedger, new { placeholder = "Credit Ledger", @class = "required2 form-control", @readonly = "true" })
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5" style="padding-top:0px;">Credit Ledger Name </label>
                                <div class="col-md-7">
                                    @if (Model.BillEntryType == "7" || Model.BillEntryType == "8" || Model.BillEntryType == "9" || Model.BillEntryType == "10" || Model.BillEntryType == "11" || Model.BillEntryType == "13")
                                    {
                                        <b> @Model.CreditLedgerName</b>
                                        @Html.HiddenFor(c => c.CreditLedgerName)
                                        @Html.HiddenFor(c => c.DebitLedgerName)
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.CreditLedgerName, new { placeholder = "Credit Ledger", @class = "required2 form-control", @readonly = "true" })
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5" style="padding-top:0px;">Total Count</label>
                                <div class="col-md-7">
                                    <b><span id="TotalCount">0</span> / @Model.DocketList.Count()</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <h4 class="form-section">BA Commission Bill </h4>
                <div class="portlet-body clsMF flip-scroll">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                            <tr>
                                <th class="center">
                                    @Html.CheckBox("IsAllEnabled")
                                </th>
                                <th class="center">
                                    Docket Type
                                </th>

                                <th class="center">
                                    Docket Count
                                </th>
                                <th class="center">
                                    Wt
                                </th>
                                <th class="center">
                                    TOTAL FR.
                                </th>
                                <th class="center">
                                    Commission Mode
                                </th>
                                <th class="center">
                                    Commission Rate Type Booking
                                    
                                </th>
                                <th class="center">
                                    Commission Rate
                                </th>
                                <th class="center">
                                    Commission
                                </th>
                                <th class="center">Summary Detail of Cnote</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itm in Model.DocketList)
                            {
                                itm.billType = Model.BBEQ.billType;
                                itm.FromDate = Model.BBEQ.FromDate;
                                itm.ToDate = Model.BBEQ.ToDate;
                                Html.RenderPartial("_BACommissionBill", itm);
                            }

                            @if (Model.DocketList.Count == 0)
                            {
                                if (Model.BBEQ.billType == "F")
                                {
                                    <tr>  <td class="center" colspan="15"><b>No Records Found</b></td></tr>
                                }
                                else
                                {
                                    <tr>  <td class="center" colspan="13"><b>No Records Found</b></td></tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                <div class="portlet-body flip-scroll" style="display:none" >
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                            <tr>
                                <th class="center">
                                    @Html.CheckBox("IsAllEnabledCnote")
                                </th>
                                <th class="center">
                                    Sr no.
                                </th>

                                <th class="center">
                                    Docket Type
                                </th>

                                <th class="center">
                                    Docket No
                                </th>
                                <th class="center">
                                    Paybase
                                </th>
                                <th class="center">
                                    pkgs.
                                </th>

                                <th class="center">
                                    Ac.wt.
                                </th>
                                <th class="center">
                                    charge wt.
                                </th>
                                <th class="center">
                                    frieght charge
                                </th>
                                <th class="center">Cnote total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itm in Model.DocketListForCnote)
                            {
                                itm.iSNO = i;


                                if (itm.iSNO > 0)
                                {
                                    {

                                        Html.RenderPartial("_BACommissionBillCnoteDetail", itm);
                                    }

                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                </div>


                <h4 class="form-section">Other Detail </h4>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            @*<label class="control-label col-md-5">Total Commission (AS Per Contract)</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.WVH.ContactCommission1, new { placeholder = "Due Days", @class = "required2 clsAmount form-control", @readonly = "true", @min = "1" })
                    </div>*@
                            <div class="form-group">
                                <label class="control-label col-md-5">Other Deduction</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WVH.OtherDedudction, new { placeholder = "Other Deduction", @class = " form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Discount Received </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WVH.DiscRecvd, new { placeholder = "Discount Received ", @class = " form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                @using FleetDataService.ViewModels
                @{
                            StaxTDSViewModel STVM = new StaxTDSViewModel();
                            STVM.PANNO = Model.PANNO;
                            STVM.StaxRegNo = Model.StaxRegNo;
                            STVM.FiledNextAmount = "WVH.NETAMT";
                            STVM.GSTType = Model.BBEQ.GSTType;
                            STVM.ChargeType = "VBOE";
                            STVM.IsTDSDisplay = true;
                            STVM.IsGSTDisplay = true;
                            STVM.GSTPercentage = Model.BBEQ.GSTPercentage;
                            STVM.CorporateType = "BABILL";
                }
                @*@if (Model.DocketList.Count() > 0)
                { <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-5 chkactive">
                                @if (Model.BBEQ.isGSTReverse == true)
                                {
                                    <h4><b>Reverse GST Applied.</b></h4>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                }
                @Html.CheckBoxFor(m => m.BBEQ.isGSTReverse)
                @Html.HiddenFor(m => m.BBEQ.isGSTReverse)*@
                @{Html.RenderPartial("../UserControls/_GSTTDSControl", STVM);}

                @if (Model.DocketList.Count > 0)
                {
                    <div class="form-actions fluid">
                        <div class="col-md-offset-5 col-md-6">
                            <button type="button" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
<script src="~/Scripts/Payments/BABillEntry.js?ver<%=DateTime.Now.Ticks.ToString()%" type="text/javascript"></script>