﻿@{
    ViewBag.Title = "Balance Document Details";
    Layout = "~/Views/Shared/_Layout.cshtml";


    objDate OD = new objDate();
    OD.ControlId = "BalanceDate";
    OD.ControlValue = System.DateTime.Now.ToString();
    OD.ModuleCode = "13";
  
  //  Model.APFM.DocType = Model.APFM.DocType.Replace(",","C");
    // var nitttinini = "";
    GeneralFuncations GF = new GeneralFuncations();
    string TurnOverSQL = "EXEC Usp_GetVendorTurnOver '" + Model.APFM.VendorCode + "'";
    System.Data.DataTable TurnOverDt = GF.GetDataTableFromSP(TurnOverSQL);
    string TurnOver = TurnOverDt.Rows[0]["TurnOver"].ToString();
    string TurnOverInWords = TurnOverDt.Rows[0]["TurnOverInWords"].ToString();
}

@model FleetDataService.ViewModels.BalancePaymentViewModel
@using Fleet
@using Fleet.ViewModels
@using Fleet.Classes

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>Bill Enty / Balance Payment
        </div>
        <div class="caption pull-right">
            <a class="btn btn-xs default btnNumber" href="@Url.Content("~/Payment/BalanceQuery")">
                <i class="fa fa-arrow-left"> </i>
                Back To Criteria
            </a>
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("BalancePayment", "Payment", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {

            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>


                <h4 class="form-section">Basic Details</h4>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Vendor </label>
                            <div class="col-md-2">
                                @Html.TextBoxFor(m => m.APFM.VendorCode, new { placeholder = "System Generated", @readonly = "true", @class = "required2 form-control" })
                            </div>
                            <div class="col-md-5">
                                @Html.TextBoxFor(m => m.APFM.VendorName, new { placeholder = "System Generated", @readonly = "true", @class = "required2 form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Date Range </label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.APFM.FromDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.APFM.FromDate).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.APFM.ToDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.APFM.ToDate).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5" style="padding-top:0px;">Payment Type </label>
                            <div class="col-md-7">
                                <b>Balance Payment</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5" style="padding-top:0px;">Document Type </label>
                            <div class="col-md-7">
                                <b>   @Html.DisplayFor(m => m.APFM.DocTypeText) </b>
                                @Html.HiddenFor(m => m.APFM.DocTypeText)
                                @Html.HiddenFor(m => m.APFM.DocType)
                                @Html.HiddenFor(m => m.APFM.ContractSubtype)
                                @Html.HiddenFor(m => m.APFM.GSTType)
                                @Html.HiddenFor(m => m.APFM.GSTPercentage)
                                @Html.HiddenFor(m => m.APFM.StateCode)
                                @Html.HiddenFor(m => m.APFM.isGSTReverse)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Document No. </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.APFM.SDocNo, new { placeholder = "Document No.", @readonly = "true", @class = "required2 form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Manual  No. </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.APFM.MDocNo, new { placeholder = "Manual No.", @readonly = "true", @class = "required2 form-control" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5"> Records </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.TotalRecods, new { placeholder = "Document No.", @readonly = "true", @class = "required2 form-control", @min = "1" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5" style="padding-top:0px;">Contract Type </label>
                            <div class="col-md-7">
                                <b>   @Html.DisplayFor(m => m.APFM.ContractSubtype) </b>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Turn Over </label>
                            <label class="control-label col-md-7" style="text-align:left;">
                                <b> Rs. @TurnOver /-</b>
                            </label>
                        </div>
                    </div>
                </div>

                <div style=" display:none;">
                    @{
            Html.RenderPartial("../UserControls/_DocumentDate", OD);
                    }

                </div>
                <h4 class="form-section">Document Details</h4>

                <table id="sample_ven" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Sr No.</th>
                            <th>@Html.CheckBox("IsAllEnabled")</th>
                            <th>Doc NO</th>
                            <th>Manual DocNO</th>
                            <th>Document Type</th>
                            <th>Vehicle No.</th>
                            <th>FTL Type</th>
                            <th>Doc Date</th>
                            <th>Start Branch</th>
                            <th>Route Code</th>
                            <th>Vendor Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.listVWTAPM.ToList().OrderBy(c => c.Docno))
                        {
                            <tr>
                                <td class="center">
                                    @item.ID
                                </td>
                                <td>
                                    <input type="checkbox" class="chkactive" data-value="@item.Docno" />
                                </td>
                                <td class="center">
                                    @item.Docno
                                </td>
                                <td>
                                    @item.ManualDocno
                                </td>
                                <td class="center">
                                    @item.DocumentType
                                </td>
                                <td>
                                    @item.vehno
                                </td>
                                <td class="center">
                                    @item.FtlTypeDesc
                                </td>
                                <td>
                                    @item.Docdate
                                </td>
                                <td class="center">
                                    @item.DocBR
                                </td>
                                <td>
                                    @item.RouteCD
                                </td>
                                <td class="center">
                                    @item.VendorName
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="form-actions fluid">
                    <div class="col-md-offset-4 col-md-8">
                        <button type="button" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Next</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



@*<script src="~/Scripts/Payments/BalancePayment.js"></script>*@


<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input

                rules: {

                },
                messages: {

                    'TotalRecods': {
                        min: jQuery.format("Please Select at Least One Record")
                    },

                    //'ServiceFor': {
                    //    required: "Please select at least one service for option",
                    //    minlength: jQuery.format("Please Select at Least One Service For Option")
                    //}
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    //if (element.parents('.checkbox-list').size() > 0) {
                    //    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    //} else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                    //}
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //  form1.submit();
                }
            });
        }


        var SubmitClick = function (DomainName) {


            $('#btnSubmit').click(function () {
                // alert("Helloo");

                var form = $('#form_sample');
                if (form.valid() == false) {
                    return false;
                }

                //   alert("Done");

                App.blockUI({ boxed: true });

                document.forms["form_sample"].submit();

            });
        }

        var SelectCheckBox = function (DomainName) {
            var totAMT = 0;
            var StrDocno = "";
            $(".chkactive").each(function () {

                var checked = $(this).is(":checked");

                if (checked) {

                    if (StrDocno == "")
                        StrDocno = $(this).attr("data-value");
                    else
                        StrDocno = StrDocno + "," + $(this).attr("data-value");

                    totAMT = totAMT + 1;
                }

            });

            $("#TotalRecods").val(totAMT);

            $("#APFM_SDocNo").val(StrDocno);
        }

        var SelectAllCheckBox = function (DomainName) {


            $("#IsAllEnabled").live('change', function () {

                // alert("Heeell");

                var checked = jQuery(this).is(":checked");

                $(".chkactive").each(function () {
                    if (checked) {
                        $(this).attr("checked", true);
                        $(this).parents('span').addClass("checked");

                    } else {
                        $(this).attr("checked", false);
                        $(this).parents('span').removeClass("checked");
                    }
                });


                SelectCheckBox(DomainName);
            });


            $(".chkactive").live('change', function () {

                SelectCheckBox(DomainName);
            });

        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);

                SubmitClick(DomainName);

                $("#APFM_DocType").val("@Model.APFM.DocType");

               // alert($("#APFM_DocType").val()+ "  @Model.APFM.DocType");

                SelectAllCheckBox(DomainName);

                $('.btnNumber').click(function () {
                    App.blockUI({ boxed: true });
                });
            }
        }
    }();


</script>
