﻿@{
    ViewBag.Title = "BalancePaymentContractDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FleetDataService.ViewModels.BalancePaymentContractDetails

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>&nbsp;  Bill Enty / Balance Payment
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("BABillEntrySubmit", "Payment", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>

                <h4 class="form-section">Basic Details</h4>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Vendor </label>
                            <div class="col-md-2">
                                @Html.TextBoxFor(m => m.VendorCode, new { placeholder = "System Generated", @readonly = "true", @class = "required2 form-control" })
                            </div>      <div class="col-md-5">
                                @Html.TextBoxFor(m => m.VendorName, new { placeholder = "System Generated", @readonly = "true", @class = "required2 form-control" })
                                @Html.HiddenFor(m => m.BookingDelivery)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5" style="padding-top:0px;">Payment Type </label>
                            <div class="col-md-7">
                                <b>  Vendor Payment</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5" style="padding-top:0px;">Document Type </label>
                            <div class="col-md-7">
                                <b>  @ViewBag.DKTCalledAs</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Document No. </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.DocumentNo, new { placeholder = "System Generated", @readonly = "true", @class = "required2 form-control" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Date Range </label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.FromDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.FromDate).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.ToDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.ToDate).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-5">
                        <button type="button" id="btnSubmit" class="btn blue"><i class="fa fa-search"></i>&nbsp; Submit</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>