﻿ @{
    ViewBag.Title = "BalancePayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    Model.BILLDT = System.DateTime.Now;
    Model.DUEDT = System.DateTime.Now;
    Model.VENDORBILLDT = System.DateTime.Now;
     Model.DueDays = 1;
    objDate OD = new objDate();
    OD.ControlId = "BILLDT";
    OD.ControlValue = Model.BILLDT.ToString();
    OD.ModuleCode = "13";
    Model.TotPendingAmount = Model.listVWTAPM.ToList().Sum(c => c.NET);

    objDate OD1 = new objDate();
    OD1.ControlId = "VENDORBILLDT";
    OD1.ControlValue = Model.VENDORBILLDT.ToString();
    OD1.ModuleCode = "13";

    GeneralFuncations GF = new GeneralFuncations();
    string TurnOverSQL = "EXEC Usp_GetVendorTurnOver '" + Model.APFM.VendorCode + "'";
    System.Data.DataTable TurnOverDt = GF.GetDataTableFromSP(TurnOverSQL);
    string TurnOver = TurnOverDt.Rows[0]["TurnOver"].ToString();
    string TurnOverInWords = TurnOverDt.Rows[0]["TurnOverInWords"].ToString();
    int srn = 1;
}

@model FleetDataService.ViewModels.BalancePaymentViewModel
@using Fleet
@using Fleet.ViewModels
@using Fleet.Classes

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>Bill Enty / Balance Payment
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("BalancePaymentSubmit", "Payment", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <h4 class="form-section">Basic Details</h4>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Vendor </label>
                            <div class="col-md-2">
                                @Html.TextBoxFor(m => m.APFM.VendorCode, new { placeholder = "System Generated", @readonly = "true", @class = "required2 form-control" })
                            </div>      <div class="col-md-5">
                                @Html.TextBoxFor(m => m.APFM.VendorName, new { placeholder = "System Generated", @readonly = "true", @class = "required2 form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Date Range </label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.APFM.FromDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.APFM.FromDate).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.APFM.ToDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.APFM.ToDate).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5" style="padding-top:0px;">Payment Type </label>
                            <div class="col-md-7">
                                <b>Advance Payment</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5" style="padding-top:0px;">Document Type </label>
                            <div class="col-md-7">
                                <b>   @Html.DisplayFor(m => m.APFM.DocTypeText) </b>
                                @Html.HiddenFor(m => m.APFM.DocTypeText)
                                @Html.HiddenFor(m => m.APFM.GSTType)
                                @Html.HiddenFor(m => m.APFM.GSTPercentage)
                                @Html.HiddenFor(m => m.APFM.StateCode)
                                @Html.HiddenFor(m => m.APFM.ContractSubtype)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Document No. </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.APFM.SDocNo, new { placeholder = "Document No.", @readonly = "true", @class = "required2 form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Manual  No. </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.APFM.MDocNo, new { placeholder = "Manual No.", @readonly = "true", @class = "required2 form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="form-section">Balance Payment / Bill Entry Details</h4>
                <div id="divStep1">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Payment Type </label>
                                <div class="col-md-7 radio-list">
                                    <label class="radio">
                                        <input type="radio" name="PaymentTyp" id="PaymentType1"  value="1"> Vendor Bill Entry<b>(No Payment) </b>
                                    </label>
                                    <label class="radio"> 
                                            <input type="radio" name="PaymentTyp" id="PaymentType2" value="2"> Vendor Bill Entry<b>(Part/Full Payment) </b>
                                        </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clsNoPayment">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Bill  No. </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.BILLNO, new { placeholder = "System Generated", @readonly = "true", @class = "required2 form-control" })
                                    @Html.HiddenFor(m => m.PaymentType)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Bill Date</label>
                                <div class="col-md-7">
                                    @{
            Html.RenderPartial("../UserControls/_DocumentDate", OD);
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clsNoPayment">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vendor Bill No.</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.VENDORBILLNO, new { placeholder = "Vendor Bill No.", @class = "required2 required form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vendor Bill Date</label>
                                @*<div class="col-md-7">
                        <div class="input-group date date-picker" data-date-end-date="+0d">
                            @Html.TextBoxFor(m => m.VENDORBILLDT, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.VENDORBILLDT).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                            <span class="input-group-btn">
                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>*@
                                <div class="col-md-7">
                                    @{
            Html.RenderPartial("../UserControls/_DocumentDate", OD1);
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clsNoPayment">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Remarks </label>
                                <div class="col-md-7">
                                    @*@Html.TextBoxFor(m => m.TotalPaymentAmount, new { placeholder = "Vendor Bill No.", @class = "required2 required form-control" })*@
                                    @Html.TextAreaFor(m => m.Remarks, new { placeholder = "Remarks", @class = "required2 form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5"><b>Pending Amount </b></label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.TotPendingAmount, new { placeholder = "Vendor Bill No.", @class = "required2 required form-control", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clsNoPayment">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Due Days</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.DueDays, new { placeholder = "Due Days", @class = "required2 clsAmount form-control", @type = "number", @min = "1" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Due Date</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.DUEDT, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.DUEDT).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clsNoPayment">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Turn Over </label>
                                <label class="control-label col-md-7" style="text-align:left;">
                                    <b> Rs. @TurnOver /-</b>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="form-section clsNoPayment">Document Details</h4>
                <div class="row clsNoPayment">
                    <div class="col-md-12">
                        <div class="portlet-body flip-scroll table-scrollable">
                            <table id="container" class="table table-bordered table-striped table-condensed flip-content">
                                <thead class="flip-content">
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>Doc No.</th>
                                        <th>Contract Amt.(+)</th>
                                        @*<th style="display:none">Other Amt.(+)</th>*@
                                        <th>Other Amt.(+)</th>
                                        <th>Advance Amt. (-)</th>
                                        <th>Net BalAmt</th>

                                        @foreach (var item in Model.ListCharge)
                                        {
                                            <th>@item.chargename.Replace("Charges", "") (@item.operator1 )</th>
                                        }
                                        @*<th>GST Charge Amount</th>*@
                                        <th>Net Payable Amount</th>
                                        <th>Payment Amount</th>
                                        <th>Pending Amount</th>
                                        @*<th>Total weight</th>
                                <th>Cost Per KG</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.listVWTAPM.ToList().OrderBy(c => c.Docno))
                                    {
                                        item.ListCharge = Model.ListCharge;
                                        item.RNO = srn;
                                        { Html.RenderPartial("_PartialBalancePayment", item); }
                                        srn++;
                                    }

                                    <tr>
                                        <td></td>
                                        <td><b>Total</b></td>
                                        <td>
                                            <div class="form-group" style="margin-bottom: 0px; padding-bottom: 2px; padding-top: 2px;">
                                                <div class="col-md-11">
                                                    @Html.TextBoxFor(m => m.TotalContractAmount, new { placeholder = "Document No.", @readonly = "true", @class = "required2 clsAmount form-control", @min = "1", @type = "number" })
                                                </div>
                                            </div>
                                        </td>
                                        @*<td style="display:none">
                                            <div class="form-group" style="margin-bottom: 0px; padding-bottom: 2px; padding-top: 2px; ">
                                                <div class="col-md-11">
                                                    @Html.TextBoxFor(m => m.TotalOtherAmount, new { placeholder = "Document No.", @readonly = "true", @class = "required2 clsAmount form-control", @min = "0", @type = "number" })
                                                </div>
                                            </div>
                                        </td>*@
                                        <td >
                                            <div class="form-group" style="margin-bottom: 0px; padding-bottom: 2px; padding-top: 2px; ">
                                                <div class="col-md-11">
                                                    @Html.TextBoxFor(m => m.TotalOtherAmount, new { placeholder = "Document No.", @readonly = "true", @class = "required2 clsAmount form-control", @min = "0", @type = "number" })
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="margin-bottom: 0px; padding-bottom: 2px; padding-top: 2px;">
                                                <div class="col-md-11">
                                                    @Html.TextBoxFor(m => m.TotalAdvanceAmount, new { placeholder = "Document No.", @readonly = "true", @class = "required2 clsAmount form-control", @min = "0", @type = "number" })
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="margin-bottom: 0px; padding-bottom: 2px; padding-top: 2px;">
                                                <div class="col-md-11">
                                                    @Html.TextBoxFor(m => m.TotalBalanceAmount, new { placeholder = "Document No.", @readonly = "true", @class = "required2 clsAmount form-control", @min = "0", @type = "number" })
                                                </div>
                                            </div>
                                        </td>
                                        @foreach (var item in Model.ListCharge)
                                        {
                                            string strCls = "TOTcls" + item.chargecode;
                                            <td class="center">
                                                <div class="form-group" style="margin-bottom: 0px; padding-bottom: 2px; padding-top: 2px;">
                                                    <div class="col-md-11">
                                                        @Html.TextBox("Total_" + item.chargecode, 0, new { @readonly = "true", @class = "clsAmount form-control " + strCls, @type = "number" })
                                                    </div>
                                                </div>

                                            </td>

                                        }
                                        @*<td>
                                    <div class="form-group" style="margin-bottom: 0px; padding-bottom: 2px; padding-top: 2px;">
                                        <div class="col-md-11">
                                            @Html.TextBoxFor(m => m.TotalGSTChargeAmount, new { placeholder = "Total GST Amount", @readonly = "true", @class = "required2 clsAmount form-control", @type = "number" })
                                        </div>
                                    </div>
                                </td>*@
                                        <td>
                                            <div class="form-group" style="margin-bottom: 0px; padding-bottom: 2px; padding-top: 2px;">
                                                <div class="col-md-11">
                                                    @Html.TextBoxFor(m => m.TotalNetPaybleAmount, new { placeholder = "Total NetPayble Amount", @readonly = "true", @class = "required2 clsAmount form-control", @type = "number" })
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="margin-bottom: 0px; padding-bottom: 2px; padding-top: 2px;">
                                                <div class="col-md-11">
                                                    @Html.TextBoxFor(m => m.TotalPaymentAmount, new { placeholder = "Total Payment Amount", @readonly = "true", @class = "required2 clsAmount form-control", @min = "0", @type = "number" })
                                                </div>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group" style="margin-bottom: 0px; padding-bottom: 2px; padding-top: 2px;">
                                                <div class="col-md-11">
                                                    @Html.TextBox("PendAMT", "0", new { placeholder = "Pending Amount", @readonly = "true", @class = "required2 clsAmount form-control", @min = "0", @type = "number" })
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> @using FleetDataService.ViewModels
                @{
                                        StaxTDSViewModel STVM = new StaxTDSViewModel();
                                        STVM.UserId = ViewBag.BaseUserName;
                                        STVM.FiledNextAmount = "TotVoucherAmount";
                                        STVM.IsDiscountEnabled = true;
                                        STVM.GSTType = Model.APFM.GSTType;
                                        STVM.ChargeType = "VBOE";
                                        STVM.IsTDSDisplay = true;
                                        STVM.GSTPercentage = Model.APFM.GSTPercentage;
                }
                @if (Model.listVWTAPM.Count() > 0)
                { <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-5 chkactive">
                                @if (Model.APFM.isGSTReverse == true && (Model.listVWTAPM.FirstOrDefault().Rut_cat == "R" || Model.listVWTAPM.FirstOrDefault().Rut_cat == "S"))
                                {
                                    <h4><b>Reverse GST Applied.</b></h4>
                                }
                                else if (Model.APFM.isGSTReverse == true && Model.listVWTAPM.FirstOrDefault().Rut_cat == "A")
                                {
                                    <h4 style="color:red;"><b>Reverse GST Cannot Apply for Air Documents.</b></h4>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                }
                @{
            if (Model.APFM.isGSTReverse == true && Model.listVWTAPM.FirstOrDefault().Rut_cat == "A")
            {
                Model.isGSTReverse = false;
            }
            else
            {
                Model.isGSTReverse = Model.APFM.isGSTReverse;
            }
                }
                @Html.CheckBoxFor(m => m.isGSTReverse)
                @Html.HiddenFor(m => m.isGSTReverse)
                <div class="row clsNoPayment">
                    @{Html.RenderPartial("../UserControls/_GSTTDSControl", STVM);}
                </div>
                    @using FleetDataService.ViewModels

                    @{
            PaymentControl PC = new PaymentControl();
                    }
                <h4 class="form-section clsPaymentContraol ">Payment Details</h4>
                    <div class="row clsPaymentContraol">

                        @{  Html.RenderPartial("../UserControls/_PaymentControl", PC); }
                    </div>

                <div class="form-actions fluid">
                    <div class="col-md-offset-4 col-md-8">
                        <button type="button" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                    </div>
                </div>
                </div>
        }
    </div>
</div>
<script src="~/Scripts/Payments/BalancePayment.js?ver<%=DateTime.Now.Ticks.ToString()%" type="text/javascript"></script>