﻿@{
    ViewBag.Title = "Balance Contract Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> DocTypelist = new List<SelectListItem>(){
                    new SelectListItem{ Text="THC", Value = "T" },
                    new SelectListItem{ Text="PRS", Value = "P" },
                    new SelectListItem{ Text="DRS", Value = "D" },
    };


    Model.ContractSubType = "REOUTE_BASED";

    if (Model.ContractId == "NA")
    {
        Model.ContractSubType = "ADH";
    }

    GeneralFuncations GF = new GeneralFuncations();
    string TurnOverSQL = "EXEC Usp_GetVendorTurnOver '" + Model.APFM.VendorCode + "'";
    System.Data.DataTable TurnOverDt = GF.GetDataTableFromSP(TurnOverSQL);
    string TurnOver = TurnOverDt.Rows[0]["TurnOver"].ToString();
    string TurnOverInWords = TurnOverDt.Rows[0]["TurnOverInWords"].ToString();
}

@model FleetDataService.ViewModels.BalancePaymentViewModel
@using Fleet
@using Fleet.ViewModels
@using Fleet.Classes

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>Bill Enty / Balance Payment
        </div>
        <div class="caption pull-right">
            <a class="btn btn-xs default btnNumber" href="@Url.Content("~/Payment/BalanceQuery")">
                <i class="fa fa-arrow-left"> </i>
                Back To Criteria
            </a>
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("BalanceDocumentDetails", "Payment", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {

            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>


                <h4 class="form-section">Basic Details</h4>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Vendor </label>
                            <div class="col-md-2">
                                @Html.TextBoxFor(m => m.APFM.VendorCode, new { placeholder = "System Generated", @readonly = "true", @class = "required2 form-control" })
                                @Html.HiddenFor(m => m.APFM.GSTType)
                                @Html.HiddenFor(m => m.APFM.GSTPercentage)
                                @Html.HiddenFor(m => m.APFM.StateCode)
                                @Html.HiddenFor(m => m.APFM.isGSTReverse)
                            </div>
                            <div class="col-md-5">
                                @Html.TextBoxFor(m => m.APFM.VendorName, new { placeholder = "System Generated", @readonly = "true", @class = "required2 form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Date Range </label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.APFM.FromDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.APFM.FromDate).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.APFM.ToDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.APFM.ToDate).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5" style="padding-top:0px;">Payment Type </label>
                            <div class="col-md-7">
                                <b>Bill Entry / Balance Vendor Payment</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5" style="padding-top:0px;">Document Type </label>
                            <div class="col-md-7">
                                <b>   @Html.DisplayFor(m => m.APFM.DocTypeText) </b>
                                @Html.HiddenFor(m => m.APFM.DocTypeText)
                                @Html.HiddenFor(m => m.ContractSubType)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Document No. </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.APFM.SDocNo, new { placeholder = "Document No.", @readonly = "true", @class = "required2 form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Manual  No. </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.APFM.MDocNo, new { placeholder = "Manual No.", @readonly = "true", @class = "required2 form-control" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Contract Id </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.ContractId, new { placeholder = "Document No.", @readonly = "true", @class = "required2 form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5" style="padding-top:0px;">Contract  Type </label>
                            <div class="col-md-7">
                                <b>   @Html.DisplayFor(m => m.ContractTypeDesc) </b>
                                @Html.HiddenFor(m => m.ContractTypeDesc)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5" style="padding-top:0px;"> Contract  Alert   </label>
                            <div class="col-md-7" style="color:red">
                                <b>   @Html.DisplayFor(m => m.ContractAlert) </b>
                                @Html.HiddenFor(m => m.ContractTypeDesc)
                                @Html.HiddenFor(m => m.SelectedContractId)
                            </div>
                        </div>
                    </div>
                    @if (Model.ContractId != "NA")
                    {
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Contract Selection </label>
                                <div class="col-md-7 radio-list">
                                    <label class="radio">
                                        <input type="radio" name="ContractType" id="ContractType1" checked value="REOUTE_BASED"> @Model.THCContract
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="ContractType" id="ContractType2" value="KM_BASED"> @Model.PDSContract
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="ContractType" id="ContractType3" value="ADH"> @Model.ADHContract
                                    </label>
                                </div>
                            </div>
                        </div>
                    }

                </div>

                <div class="row clsCityBase">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">FTL Type</label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(c => c.FTLType, new SelectList(Model.FTLList, "CodeId", "CodeDesc", Model.FTLType), "", new { @class = "form-control select2 required2 ", @placeholder = "FTLtype" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Vehicle No.</label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(c => c.VehicleNo, new SelectList(Model.VehicleList, "CodeId", "CodeDesc", Model.VehicleNo), "", new { @class = "form-control select2 required2 ", @placeholder = "Vehicle No" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5"> Document Type</label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(m => m.APFM.DocType, new SelectList(DocTypelist, "Value", "Text", Model.APFM.DocType), "", new { @class = "form-control required required2 select2", @placeholder = "Select Document Type", @multiple = "true" })
                                @Html.Hidden("HdnLocations", Model.APFM.DocType)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Turn Over </label>
                            <label class="control-label col-md-7" style="text-align:left;">
                                <b> Rs. @TurnOver /-</b>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-actions fluid">
                    <div class="col-md-offset-4 col-md-8">
                        <button type="button" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Next</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');

            //$('#btnSubmit').on('click', function () {
            //    Formvalidate(DomainName);
            //    var Type = $("#Type").val();
            //    var form1 = $('#form_sample').serialize();
            //    document.form1.submit();
            //    //if ($('#form_sample').valid()) {
            //    //    $.ajax({
            //    //        url: DomainName + '/AdvanceBalanceQuery/AdvancePayment',
            //    //        type: 'POST',
            //    //        data: $('#form_sample').serialize(),
            //    //        success: function (data) {

            //    //        },
            //    //        error: function (req, status, error) {
            //    //            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
            //    //            App.unblockUI();
            //    //        }
            //    //    });
            //    //}
            //});
        }

        var SubmitClick = function (DomainName) {


            $('#btnSubmit').click(function () {


                // alert("Helloo");


                var form = $('#form_sample');

                //  alert(form.valid())

                if (form.valid() == false) {
                    return false;
                }

                //   alert("Done");

                App.blockUI({ boxed: true });

                document.forms["form_sample"].submit();



            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);

                SubmitClick(DomainName);
                //Events(DomainName);
                //JsonDDL('VendorCode', DomainName + '/Master/SearchVendorListJson');
                //$("#VendorCode").on("change", function () {
                //    var Name = $("#s2id_VendorCode").children('a').children('span').html().split('-')[1];
                //    $("#VendorName").val(Name);
                //});
                $("#Dlist").on("change", function () {
                    $("#DocType").val($(this).val());
                    var option_all = $("#Dlist option:selected").map(function () {
                        return $(this).text();
                    }).get().join(',');
                    $("#APFM_DocTypeText").val(option_all);
                });


                $(".clsCityBase").hide();

                $("input[name='ContractType']").click(function () {
                    $(".clsCityBase").hide();

                    var ContractType = $('input[name=ContractType]:checked').val();

                    if (ContractType != "REOUTE_BASED")
                        $(".clsCityBase").show();

                    $("#ContractSubType").val(ContractType);


                    if (ContractType == "REOUTE_BASED") {
                        var HdnLocations = $("#HdnLocations").val() == "" ? "Select Location" : $("#HdnLocations").val().replace("P,", "").replace("P", "").replace("D,", "").replace("D", "").split(",");

                        HdnLocations = "T";

                        $("#APFM_DocType").select2("val", HdnLocations);

                    } else if (ContractType == "KM_BASED") {

                        var HdnLocations = $("#HdnLocations").val() == "" ? "Select Location" : $("#HdnLocations").val().replace("T,", "").replace(",T", "").split(",");
                        $("#APFM_DocType").select2("val", HdnLocations);

                    }
                    else if (ContractType == "ADH") {
                        var HdnLocations = $("#HdnLocations").val() == "" ? "Select Location" : $("#HdnLocations").val().split(",");
                        $("#APFM_DocType").select2("val", HdnLocations);
                    }

                });


                setTimeout(function () {

                    var HdnLocations = $("#HdnLocations").val() == "" ? "Select Location" : $("#HdnLocations").val().split(",");

                    ///  alert(HdnLocations);
                    if ($("#ContractId").val() != "NA")
                        HdnLocations = "T";

                    $("#APFM_DocType").select2("val", HdnLocations);

                }, 100);

                $('.btnNumber').click(function () {
                    App.blockUI({ boxed: true });
                });

            }
        }
    }();
</script>