﻿@{
    ViewBag.Title = "BillEntryPaymentDone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>Bill Entry Payment @ViewBag.TranXaction
            </div>
            @*<div class="tools">
                    <span class="btn default blue-stripe">
                        <a href=""><i class="fa fa-plus">&nbsp;Add More Vendor Contract</i></a>
                    </span>
                </div>*@
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Voucher No.
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@ViewBag.Voucherno</b>
                            </td>
                            <td>
                                <a href="@Url.Action("BillPaymentView", "ViewPrint", new { VoucherNO = @ViewBag.Voucherno, Type = "BillPayment" })" onclick="window.open(this.href, 'RCPL','left=20,top=20,width=1240,height=620,toolbar=1,resizable=0'); return false;" class="fa fa-print" id="ReportFrame"><b>&nbsp;View/Print</b></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                Click on Contract Number for View and Print .
            </span>
        </div>
    </div>
</div>
