﻿@model FleetDataService.ViewModels.BillUnSubmissionViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    ViewBag.Title = "Bill List for UnSubmission";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.BEPFM.VoucherDate = System.DateTime.Now;
    objDate OD = new objDate();
    OD.ControlId = "BEPFM.VoucherDate";
    OD.ControlValue = Model.BEPFM.VoucherDate.ToString();
    OD.ModuleCode = "29";
}
@using (Html.BeginForm("BillUnSubmissionSubmit", "Payment", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{


    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-body">
                        @if (Model.ListBillUn.Count > 0)
                        {
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4"> Select Bill UnSubmission Date:</label>
                                <div class="input-group col-md-6">
                                    @*@Html.TextBox("BEPFM.VoucherDate", String.Format("{0:dd MMM yyyy }", ""), new { @class = " form-control form_meridian_datetime required2 required", @readonly = "true", @style = "width:200px;" })
                                    <span class="input-group-btn">
                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>*@
                                    @{Html.RenderPartial("../UserControls/_DocumentDate", OD);}
                                </div>

                              
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover table-full-width center " id="Sample1">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        <input type="checkbox" id="chkCheckAll" />
                                    </th>
                                    <th class="center">
                                        Bill no.
                                    </th>
                                    <th class="center">
                                        Manual Billno
                                    </th>
                                    <th class="center">
                                        Billing Branch
                                    </th>
                                    <th class="center">
                                        Party Name
                                    </th>
                                    <th class="center">
                                        Bill Type
                                    </th>
                                    <th class="center">
                                        Bill Amt.
                                    </th>
                                    <th class="center">
                                        Unadjusted Amt.
                                    </th>
                                    <th class="center">
                                        Bill Date
                                    </th>
                                    <th class="center">
                                        Due Date
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListBillUn)
                                {
                                Html.RenderPartial("_BillUnSubList", item);
                                }
                            </tbody>
                        </table>
                        }
                        else
                        {
                        <table>
                            <thead>
                                <tr>  <th class="center" colspan="10"><h4>No Records Found</h4></th></tr>
                            </thead>
                        </table>
                        }
                    </div>
                           
                    @if (Model.ListBillUn.Count > 0)
                    {
                        <p style="color:red;">
                            Select atleast one checkbox to enable <strong>Submit</strong> button.
                        </p>
                    }
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <a class="btn btn-sm default controls" href="@Url.Content("~/Payment/BillUnSubmissionCriteria")">
                                <i class="fa fa-arrow-left"> </i>
                                Back To Criteria
                            </a>
                            <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#form_sample');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    document.forms["form_sample"].submit()
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                ControlDate();
             //   handleDatePicker();

                $('#btnSubmit').attr("disabled", true);
                $('.IsCheck').attr("value", "false");

                $(document).on('click', '#chkCheckAll', function () {
                    $('.IsCheck').prop('checked', $(this).prop('checked'));
                    if ($(this).prop('checked')) {
                        $('.IsCheck').parent('span').addClass('checked');
                        $('.IsCheck').val("true");
                        //$('#btnSubmit').show();
                        $('#btnSubmit').attr("disabled",false);
                    }
                    else {
                        $('.IsCheck').parent('span').removeClass('checked');
                        $('.IsCheck').val("false");
                        //$('#btnSubmit').hide();
                        $('#btnSubmit').attr("disabled", true);
                    }
                });

                $(document).on('change', ".IsCheck", function () {
                    var chkId = $(this).attr('id');
                    var tf = $(this).val();
                    if (this.checked) {
                        $(this).val("true");
                    }
                    else {
                        $(this).val("false");
                    }

                    var count = 0;
                    $('.IsCheck').each(function () {
                        if (this.checked) {
                            $("#chkCheckAll").parent('span').removeClass('checked');
                            count = count + 1;
                        }
                    })
                    if (count == 0) {
                        //$('#btnSubmit').hide();
                        $('#btnSubmit').attr("disabled", true);
                    }
                    else {
                        //$('#btnSubmit').show();
                        $('#btnSubmit').attr("disabled", false);
                    }
                });

            }
        }
    }();
</script>
