﻿@model FleetDataService.ViewModels.BillEntryPaymentFilter
@{
    ViewBag.Title = "Bill Entry & Payment View List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a class="btn btn-xs default backButton" href="@Url.Content("~/Payment/BillEntryPaymentView")">
                        <i class="fa fa-arrow-left"> </i>
                        Back To Criteria
                    </a>
                </div>
            </div>
            @Html.HiddenFor(m => m.BillTyp)
            @Html.HiddenFor(m => m.BillType)

            @if (Model.BillEntryPayList.Count > 0)
            {
                <div class="portlet-body">
                    <div class="table-container">
                        <table class="table table-striped table-bordered table-hover" id="Sample1">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        Bill No.
                                    </th>
                                    <th class="center">
                                        Bill<br />Date
                                    </th>
                                    <th class="center">
                                        Branch
                                    </th>
                                    <th class="center">
                                        Vendor<br />Bill No.
                                    </th>
                                    <th class="center">
                                        Vendor<br />Code & Name
                                    </th>
                                    <th class="center">
                                        Paid<br />Amount
                                    </th>
                                    <th class="center">
                                        Pending<br />Amount
                                    </th>
                                    <th class="center">
                                        Total<br />Amount
                                    </th>
                                    <th class="center">
                                        Print
                                    </th>
                                    <th class="center">
                                        Uploaded<br />Document
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="Advice">
                                @foreach (var item in Model.BillEntryPayList)
                                {
                                    Html.RenderPartial("_BillEntryPaymentViewPartial", item);
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            }

            @if (Model.BillEntryPayList1.Count > 0)
            {
                <div class="portlet-body">
                    <div class="table-container">
                        <table class="table table-striped table-bordered table-hover" id="Sample1">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        Voucher No.
                                    </th>
                                    <th class="center">
                                        Vendor Code & Name
                                    </th>
                                    <th class="center">
                                        Paid Amount
                                    </th>
                                    <th class="center">
                                        Pending  Amount
                                    </th>
                                    <th class="center">
                                        Total  Amount
                                    </th>
                                    <th class="center">
                                        Print
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="Advice">
                                @foreach (var item in Model.BillEntryPayList1)
                                {
                                    Html.RenderPartial("_BillEntryPaymentViewPartial1", item);
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            }

            @if (Model.BillEntryPayList.Count == 0 && Model.BillEntryPayList1.Count == 0)
            {
                <div class="portlet-body">
                    <h4>No Records found.</h4>
                </div>
            }
        </div>
    </div>
</div>


<script type="text/javascript">
    function OrderView(BILLNUMBER, BETYPE) {
        var VoucherType = $('#BillTyp').val();//BE/BillPayment
        //var BETYPE = $('#BillType').val();
        //alert(VoucherType + " BETYPE  " + BETYPE)
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        if (VoucherType == "BE" && BETYPE == "THC-PDC") {//done
            //alert('1');
            var strPopupURL = ReportURL + DomainName + "/Payment/BillEntryPaymentPrint?BILLNO=" + BILLNUMBER;
            winNew = window.open(strPopupURL, "_blank", strWinFeature)
            return false;
        }

        if (BETYPE == "THC-PDC" || BETYPE == "THC" || BETYPE == "PDC") {//done

            var strPopupURL = ReportURL + DomainName + "/ViewPrint/BillPaymentView?VoucherNO=" + BILLNUMBER + "&Type=" + VoucherType + "";
            winNew = window.open(strPopupURL, "_blank", strWinFeature);
            return false;
        }

        if (BETYPE == "CROSSING CHALLAN BILL") {//done

            var strPopupURL = ReportURL + DomainName + "/ViewPrint/CrossingChallanBillViewPrint?BillNo=" + BILLNUMBER;
            winNew = window.open(strPopupURL, "_blank", strWinFeature);
            return false;
        }



        if (BETYPE == "BA") {
            //alert('3');
            if (VoucherType == "BillPayment")//done
            {
                var strPopupURL = ReportURL + DomainName + "/ViewPrint/BillPaymentView?VoucherNO=" + BILLNUMBER + "&Type=" + VoucherType + "";
                winNew = window.open(strPopupURL, "_blank", strWinFeature);
                return false;
            }
            else {
                VoucherType = "BA_Bill";
                var strPopupURL = ReportURL + DomainName + "/ViewPrint/BillPaymentView?VoucherNO=" + BILLNUMBER + "&Type=" + VoucherType + "";
                winNew = window.open(strPopupURL, "_blank", strWinFeature)
                return false;
            }

        }
        if (BETYPE == "EXPENSE") {
            //alert('4');
            if (VoucherType == "BE") {//done

                var strPopupURL = ReportURL + DomainName + "/ViewPrint/Expense_Entry?BillNo=" + BILLNUMBER;
                winNew = window.open(strPopupURL, "_blank", strWinFeature);
                return false;
            }
            else {
                var strPopupURL = ReportURL + DomainName + "/ViewPrint/BillPaymentView?VoucherNO=" + BILLNUMBER + "&Type=" + VoucherType + "";
                winNew = window.open(strPopupURL, "_blank", strWinFeature);
                return false;
            }
        }
        if (BETYPE == "FUEL EXPENSE" || BETYPE == "FUEL SLIP") {//done

            if (BETYPE == "FUEL EXPENSE") {
                var strPopupURL = ReportURL + DomainName + "/ViewPrint/FuelExpenceViewPrint?VoucherNO=" + BILLNUMBER;
                winNew = window.open(strPopupURL, "_blank", strWinFeature);
            }
            else if (BETYPE == "FUEL SLIP") {
                if (VoucherType == "BE") {
                    var strPopupURL = ReportURL + DomainName + "/ViewPrint/FuelSlip_View?NO=" + BILLNUMBER;
                }
                else {
                    var strPopupURL = ReportURL + DomainName + "/ViewPrint/BillPaymentView?VoucherNO=" + BILLNUMBER + "&Type=" + VoucherType + "";
                }
                winNew = window.open(strPopupURL, "_blank", strWinFeature);
            }
            return false;
        }
        //if (BETYPE == "FUEL SLIP") {//done
        //    //alert('5');
        //    BILLNUMBER = BILLNUMBER + ",0";
        //    var strPopupURL = "http://192.52.243.165/TMSS/GUI/Finance/Vendor_BA_payment/View_N_Print/ViewExpenseEntryPP.aspx?expBillNo=" + BILLNUMBER;
        //    winNew = window.open(strPopupURL, "_blank", strWinFeature)
        //}
        if (BETYPE == "VARIABLE EXPENSE" || BETYPE == "FIXED EXPENSE") {// done no data in table for this Type
            //alert('6');
            //BILLNUMBER = BILLNUMBER + ",0";
             var strPopupURL = ReportURL + DomainName + "/ViewPrint/FixedVariableExpenseBillEntry?BillNo=" + BILLNUMBER;
            winNew = window.open(strPopupURL, "_blank", strWinFeature)
        }
        if (VoucherType == "BE" && BETYPE == "PO BILL") {
            //alert('7');
            //BILLNUMBER = BILLNUMBER + ",1";
            var strPopupURL = ReportURL + DomainName + "/ViewPrint/POBill?VoucherNO=" + BILLNUMBER;
            winNew = window.open(strPopupURL, "_blank", strWinFeature)
        }
        if (VoucherType == "BillPayment" && BETYPE == "GRN BILL ENTRY") {
            var strPopupURL = ReportURL + DomainName + "/ViewPrint/BillPaymentView?VoucherNO=" + BILLNUMBER + "&Type=GRN" + VoucherType + "";
            winNew = window.open(strPopupURL, "_blank", strWinFeature);
            return false;
        }
        if (VoucherType == "BillPayment" && BETYPE == "POBill") {

            var strPopupURL = ReportURL + DomainName + "/ViewPrint/POBillViewPrint?VoucherNO=" + BILLNUMBER + "&Type=PO" + VoucherType + "";
            winNew = window.open(strPopupURL, "_blank", strWinFeature);
            return false;
        }

        if (BETYPE == "JOB EXPENSE") {//done

            var strPopupURL = ReportURL + DomainName + "/ViewPrint/BA_Job_Sheet_PaymentView?NO=" + BILLNUMBER;
            winNew = window.open(strPopupURL, "_blank", strWinFeature);
            return false;

            //alert('9');
            //BILLNUMBER = BILLNUMBER + ",0";
            //var strPopupURL = "http://192.52.243.165/TMSS/GUI/Finance/Vendor_BA_payment/View_N_Print/ViewExpenseEntryJob.aspx?expBillNo=" + BILLNUMBER;
            //winNew = window.open(strPopupURL, "_blank", strWinFeature)
        }

        if (BETYPE == "LOADING" || BETYPE == "MONTHLY LOADING") {//done

            if (VoucherType == "BillPayment") {

                var strPopupURL = ReportURL + DomainName + "/ViewPrint/BillPaymentView?VoucherNO=" + BILLNUMBER + "&Type=" + VoucherType + "";
                winNew = window.open(strPopupURL, "_blank", strWinFeature);
                return false;
            }
            var strPopupURL = ReportURL + DomainName + "/ViewPrint/LoadingUnloadingBillView?BillNo=" + BILLNUMBER + "&Type=" + BETYPE;
            winNew = window.open(strPopupURL, "_blank", strWinFeature);
            return false;
        }

        if (VoucherType == "BillPayment") {

            var strPopupURL = ReportURL + DomainName + "/ViewPrint/BillPaymentView?VoucherNO=" + BILLNUMBER + "&Type=" + VoucherType + "";
            winNew = window.open(strPopupURL, "_blank", strWinFeature);
            return false;
        }

        if (BETYPE == "FRANCHISE") {//done
            var strPopupURL = "";
            if (VoucherType == "BE") {
                strPopupURL = ReportURL + DomainName + "/ViewPrint/BillPaymentView?VoucherNO=" + BILLNUMBER + "&Type=FA_Bill";
            }
            winNew = window.open(strPopupURL, "_blank", strWinFeature)
            return false;
        }

        //
        return false;
    }
    var FormComponents = function (DomainName) {

        var initTable1 = function (DomainName) {

            $('#Sample1').dataTable({
                "bDestroy": true
            }).fnDestroy();

            $('#Sample1').dataTable({
                "aLengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "order": [[1, "asc"]],
                "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [0] },
                { "bSearchable": false, "aTargets": [0] }
                ]
            });
            jQuery('#Sample1_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
            jQuery('#Sample1_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
            jQuery('#Sample1_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                initTable1(DomainName);

                $(".clsPrint").live("click", function () {
                    debugger
                    var VoucherType = $(this).attr('type');
                    var BILLNUMBER = $(this).attr('id');
                    OrderView(BILLNUMBER, VoucherType);
                });

                $(".backButton").click(function () {
                    App.blockUI({ boxed: true });
                });
            }
        };
    }();

</script>













