﻿@model FleetDataService.ViewModels.BillEntryPaymentViewModel
@{
    ViewBag.Title = "BillEntryPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var BillAmt = 0;
}

    <div class="row">
        @using (Html.BeginForm("FinalBillEntryPayment", "Payment", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="col-md-12">
                <div class="portlet @ViewBag.TableBoxColor box">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-edit"></i>@Model.BEPFM.ModuleName
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="form-body">
                            @Html.HiddenFor(m => m.BEPFM.FromDate)
                            @Html.HiddenFor(m => m.BEPFM.ToDate)
                            @Html.HiddenFor(m => m.BEPFM.VendorCode)
                            @Html.HiddenFor(m => m.BEPFM.VendorName)
                            @Html.HiddenFor(m => m.BEPFM.BillNo)
                            @Html.HiddenFor(m => m.BEPFM.VBillNo)
                            @Html.HiddenFor(c => c.BEPFM.VoucherStr)
                            @*<div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-2"> Date Range:</label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(m => m.BEPFM.FromDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.BEPFM.FromDate).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(m => m.BEPFM.ToDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.BEPFM.ToDate).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Vendor Code~Name:</label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(c => c.BEPFM.VendorCode, new { @class = "form-control required2", @readonly = "true" })
                                            </div>
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(c => c.BEPFM.VendorName, new { @class = "form-control required2", @readonly = "true" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-2">Bill Entry No.:</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(c => c.BEPFM.BillNo, new { @class = "form-control required2", @readonly = "true" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Vendor Bill Entry No.:</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(c => c.BEPFM.VBillNo, new { @class = "form-control required2", @readonly = "true" })
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Records:</label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(c => c.BEPFM.TotalRecods, new { @class = "form-control required required2", @readonly = "true", @min = 1 })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Selected Bill No.:</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.BEPFM.BillNumber, new { @class = "form-control required required2", @readonly = "true" })
                                            @Html.HiddenFor(c => c.BEPFM.BillType)
                                            @Html.HiddenFor(c => c.BEPFM.BillTyp)
                                            @Html.HiddenFor(c => c.BEPFM.ModuleName)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Is AdjusteDebit Note:</label>
                                        <div class="col-md-4 chkactive">
                                            @Html.CheckBoxFor(c => c.BEPFM.IsAdjusteDebitNote)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-offset-8 col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4" style="text-align:center;"><b>Credit</b></label>
                                        <label class="control-label col-md-4" style="text-align:center;"><b>Debit</b></label>
                                        <label class="control-label col-md-4" style="text-align:center;"><b>Out Standing</b></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-8 col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4" style="text-align:center;">
                                            <b>
                                                @Html.DisplayFor(c => c.BEPFM.CreditAmt)
                                            </b>
                                            @Html.HiddenFor(c => c.BEPFM.CreditAmt)
                                        </label>
                                        <label class="control-label col-md-4" style="text-align:center;">
                                            <b>
                                                @Html.DisplayFor(c => c.BEPFM.DebitAmt)
                                            </b>
                                            @Html.HiddenFor(c => c.BEPFM.DebitAmt)
                                        </label>
                                        <label class="control-label col-md-4" style="text-align:center;">
                                            <b>
                                                @Html.DisplayFor(c => c.BEPFM.OutStandingAmt)
                                            </b>
                                            @Html.HiddenFor(c => c.BEPFM.OutStandingAmt)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Total Billed Amount</label>
                                        <div class="col-md-3">
                                            @Html.TextBox("TotalBilledAmount", 0, new { @class = "form-control required required2", @readonly = "true" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Total Adjusted Amount</label>
                                        <div class="col-md-3">
                                            @Html.TextBox("TotalAdjustedAmount", 0, new { @class = "form-control required required2", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                @if (Model.DebitListBill != null)
                {
                    if (Model.DebitListBill.Count > 0)
                    {
                        <div class="portlet box @ViewBag.TableBoxColor">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-list"></i>Debit Note List
                                </div>
                            </div>

                            <div class="portlet-body form">
                                <div class="form-body">
                                    <table class="table table-striped table-bordered table-hover table-full-width" id="Sample1">
                                        <thead class="flip-content">
                                            <tr>
                                                <th class="center">
                                                    @*<input type="checkbox" id="GroupMRchk" />*@
                                                </th>
                                                <th>Debit Note No</th>
                                                <th>Debit Note Date</th>
                                                <th>Vendor Bill No</th>
                                                <th>Vendor Code & Name</th>
                                                <th>Total Amount</th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            @foreach (var item in Model.DebitListBill)
                                            {
                                                item.IsCheckBox = true;
                                                Html.RenderPartial("_PartialDebitNoteEntry", item);
                                            }
                                        </tbody>

                                    </table>

                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

            <div class="col-md-12">
                <div class="portlet box @ViewBag.TableBoxColor">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i>Bill List
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            @if (Model.listBill.Count > 0)
                            {

                                <table id="sample_ven" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" id="chkall" /></th>
                                            <th>Bill No</th>
                                            <th>Voucher No</th>
                                            <th>Bill Date</th>
                                            <th>Vendor Bill No</th>
                                            <th>Vendor Code & Name</th>
                                            <th>Total Amount</th>
                                            <th>Paid Amount</th>
                                            <th>Pending Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.listBill.ToList().OrderBy(c => c.Billno))
                                        {
                                            { Html.RenderPartial("_PartialBillEntry", item); }
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <h5>No Record Found....!</h5>
                            }
                        </div>

                        <div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                <a class="btn btn-sm default controls" href="@Url.Content("~/Payment/BillEntryPaymentQuery/3")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
                                @*<a class="btn btn-sm default controls" href="@Url.Content("~/Payment/BillEntryPaymentQuery/"+@Model.BEPFM.BillTyp)"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>*@
                                <button type="button" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {
                    'BEPFM_TotalRecods': {
                        min: jQuery.format("Please Select at Least One Record")
                    },
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var SelectCheckBox = function (DomainName) {
            var totAMT = 0;
            var StrDocno = "";
            var StrVoucherno = "";
            var totalBilledAmount = 0;
            //$(".chkactive").each(function () {
            //    var checked = $(this).is(":checked");
            //    if (checked) {
            //        if (StrDocno == "") {
            //            StrDocno = $(this).attr("data-value");
            //        }
            //        else {
            //            StrDocno = StrDocno + "," + $(this).attr("data-value");
            //        }
            //        totAMT = totAMT + 1;

            //        if (StrVoucherno == "") {
            //            if ($(this).attr("data-voucher") != "") {
            //                StrVoucherno = $(this).attr("data-voucher");
            //            }
            //        }
            //        else {
            //            if ($(this).attr("data-voucher") != "") {
            //                StrVoucherno = StrVoucherno + "," + $(this).attr("data-voucher");
            //            }
            //        }
            //    }
            //});

            $(".chkactive").each(function () {
                //debugger
                //console.log($(this).attr("databill"))
                var checked = $(this).is(":checked");
                if (checked) {
                    if (StrDocno == "") {
                        StrDocno = $(this).attr("databill");
                    }
                    else {
                        StrDocno = StrDocno + "," + $(this).attr("databill");
                    }
                    totAMT = totAMT + 1;

                    if (StrVoucherno == "") {
                        if ($(this).attr("data") != "") {
                            StrVoucherno = $(this).attr("data");
                        }
                    }
                    else {
                        if ($(this).attr("data") != "") {
                            StrVoucherno = StrVoucherno + "," + $(this).attr("data");
                        }
                    }
                    var billAmount = $("#" + $(this).attr("id").replace("__IsCheckBox", "__CurrAmt")).val();
                    totalBilledAmount = parseFloat(totalBilledAmount) + parseFloat(billAmount);
                }
            });

            $("#BEPFM_TotalRecods").val(totAMT);
            $("#BEPFM_BillNumber").val(StrDocno);
            $("#BEPFM_VoucherStr").val(StrVoucherno);
            $("#TotalBilledAmount").val(totalBilledAmount);
            $("#TotalAdjustedAmount").attr("max", totalBilledAmount);
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);

                $("#BEPFM_IsAdjusteDebitNote").click(function () {

                    var checked = jQuery(this).is(":checked");

                    if (checked) {
                        $(".clsDNCHK").each(function () {
                            $(this).trigger("click");
                            $(this).attr("disabled", false);
                            $(this).parents('span').parent('div').removeClass("disabled");
                        })
                        $("#BEPFM_TotalRecods").attr("max", "1");
                    }
                    else {
                        $(".clsDNCHK").each(function () {
                            $(this).click();
                            $(this).attr("checked", false);
                            $(this).parents('span').removeClass("checked");
                            $(this).attr("disabled", true);
                            $(this).parents('span').parent('div').addClass("disabled");
                        });
                        $("#BEPFM_TotalRecods").removeAttr("max", "1");
                    }
                });

                $("#chkall").live('change', function () {
                    var checked = jQuery(this).is(":checked");

                    $(".chkactive").each(function () {
                        if (checked) {
                            $(this).attr("checked", true);
                            $(this).parents('span').addClass("checked");
                        } else {
                            $(this).attr("checked", false);
                            $(this).parents('span').removeClass("checked");
                        }
                    });
                    SelectCheckBox(DomainName);
                });

                $(".chkactive").live('change', function () {
                    SelectCheckBox(DomainName);
                });

                $('#btnSubmit').click(function () {
                    // alert("Helloo");
                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        return false;
                    }
                    //   alert("Done");
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                });

                $(".clsDNCHK").attr("disabled", true);

                var Total_Amt = 0;

                $(".clsDNCHK").click(function () {

                    //var DNAmt = $(this).attr("data");
                    //if (this.checked) {
                    //    Total_Amt = parseFloat(Total_Amt) + parseFloat(DNAmt);
                    //}
                    //else {
                    //    Total_Amt = parseFloat(Total_Amt) - parseFloat(DNAmt);
                    //}

                    //if (parseFloat(Total_Amt) > parseFloat(BillAmt)) {
                    //    alert("Your Debit Note Amount Not >" + BillAmt);
                    //    $(this).attr("checked", false);
                    //    $(this).parent().attr("class", "");
                    //    Total_Amt = parseFloat(Total_Amt) - parseFloat(DNAmt);
                    //}

                    //if (isNaN(Total_Amt)) {
                    //    Total_Amt = 0;
                    //}
                    //console.log(Total_Amt)
                    var totalAdjustedAmount = 0;
                    totalAdjustedAmount = $("#TotalAdjustedAmount").val()
                    if (this.checked) {
                        $("#TotalAdjustedAmount").val(parseFloat(totalAdjustedAmount) + parseFloat($(this).attr("data")));
                    }
                    else {
                        $("#TotalAdjustedAmount").val(parseFloat(totalAdjustedAmount) - parseFloat($(this).attr("data")));
                    }
                });

                if ("@Model.DebitListBill.Count" > 0) {

                    $(".chkactive").click(function () {

                        if (this.checked) {

                            var CheckVal = $(this).attr("id");
                            var BillAmtID = $(this).attr("id").replace("__IsCheckBox", "__CurrAmt");
                            BillAmt = $("#" + BillAmtID).val();
                            var BillNo = CheckVal.replace("IsCheckBox", "Billno");
                            var BillNosVal = $("#" + BillNo).val();

                            //$(this).attr("disabled", true);
                            $("#chkall").attr("disabled", true);
                            //$("#chkall").attr("checked", false);
                            //$(".chkactive").attr("disabled", true);
                            //$(".clsDNCHK").attr("disabled", false);
                            $("input:checkbox, input:radio").uniform();

                            $("#BEPFM_BillNumber").val(BillNosVal);

                        }
                    });
                }
            }
        }
    }();
    </script>
