﻿@model FleetDataService.ViewModels.BillEntryPaymentFilter
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    ViewBag.Title = "BillEntryPaymentView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("BillEntryPaymentViewList", "Payment", FormMethod.Post, new { id = "submit_form", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-8">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>Bill Entry & Payment View Criteria
                    </div>
                </div>
                <div class="portlet-body" id="divCrieteria">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Select Transaction Date:
                                @Html.HiddenFor(c => c.FromDate)
                                @Html.HiddenFor(c => c.ToDate)
                            </label>
                            <div class="col-md-6">
                                <div id="reportrange" class="btn default col-md-12">
                                    <i class="fa fa-calendar"></i>
                                    &nbsp;
                                    <span></span>
                                    <b class="fa fa-angle-down"></b>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                Select Type:
                                @Html.HiddenFor(c => c.BillTyp)
                            </label>
                            <div class="col-md-6" style="margin: -4px 0px 0 -16px;">
                                <div class="radio-list col-md-12">
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios2" id="optionsRadiosT" value="BE" checked="checked">
                                        Bill Entry
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios2" id="optionsRadiosH" value="BillPayment">
                                        Bill Payment
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                Select Document Type:
                                @Html.HiddenFor(c => c.BillType)
                            </label>
                            <div class="col-md-8" style="margin: -4px 0px 0 -16px;">
                                <div class="radio-list col-md-12">
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios3" id="rdothc" value="THC-PDC" checked="checked">
                                        THC-PDC
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios3" id="rdoba" value="BA">
                                        BA
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios3" id="rdoexpence" value="Expense">
                                        Expense
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios3" id="rdovariable" value="Variable Expense">
                                        Variable Expense
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                            </label>
                            <div class="col-md-8" style="margin: -4px 0px 0 -16px;">
                                <div class="radio-list col-md-12">
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios3" id="rdofixed" value="Fixed Expense">
                                        Fixed Expense
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios3" id="rdofuel" value="Fuel Expense">
                                        Fuel Expense
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios3" id="rdoslip" value="Fuel Slip">
                                        Fuel Slip
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios3" id="rdojob" value="Job Expense">
                                        Job Expense
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                            </label>
                            <div class="col-md-8" style="margin: -4px 0px 0 -16px;">
                                <div class="radio-list col-md-12">                                    
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios3" id="rdopo" value="POBill">
                                        PO Bill
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios3" id="rdoloading" value="Loading">
                                        Loading / Unloading
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios3" id="rdoMonthlyloading" value="Monthly Loading">
                                        Monthly - Loading / Unloading
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                            </label>
                            <div class="col-md-8" style="margin: -4px 0px 0 -16px;">
                                <div class="radio-list col-md-12">
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios3" id="rdoFranchise" value="Franchise">
                                        Franchise
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios3" id="rdojob" value="CrossingChallanBill">
                                        Crossing Bill
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                Enter Vendor:
                            </label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.VendorCode, new { @class = "form-control blue-stripe" })
                                @Html.HiddenFor(c => c.VendorName)
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                            </label>
                            <div class="col-md-6">
                                <b>OR</b>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                Enter Bill NO.:
                            </label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.BillNo, new { placeholder = "Enter Bill No.", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                            </label>
                            <div class="col-md-6">
                                <b>OR</b>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                Enter Vendor Bill NO.:
                            </label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.VBillNo, new { placeholder = "Enter Vendor Bill No.", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                            </label>
                            <div class="col-md-6">
                                <b>OR</b>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                Enter Voucher No.:
                            </label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.VoucherNo, new { placeholder = " Enter Voucher No.", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-12">
                                    <button type="submit" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-search"></i>&nbsp;Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                }
            });
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }
            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                //maxDate: '12/31/2014',
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#FromDate').val(start.format('MMMM D, YYYY'));
                     $('#ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ToDate').val(moment().format('MMMM D, YYYY'));
        }

        var Events = function (DomainName) {
            handleDatePicker();

            $("#btnSubmit").click(function () {
                App.blockUI({ boxed: true });
                var BillNo = $('#BillNo').val();
                var VBillNo = $('#VBillNo').val();
                var VoucherNo = $('#VoucherNo').val();
                if (BillNo != "" || VBillNo != "" || VoucherNo != "") {
                    if ($('#submit_form').valid()) {
                        //$("#submit_form").submit();
                        document.forms["form_sample"].submit();
                    }
                    else {
                        $('#VendorCode').addClass("required2");
                        $('#VendorCode').addClass("required");
                        return false
                    }
                }
                else {
                    App.unblockUI();
                    $('#VendorCode').addClass("required2");
                    $('#VendorCode').addClass("required");
                }

            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);

                handleDateRangePickers();
                Events(DomainName);
                $('#VendorCode').removeClass("required2");
                $('#VendorCode').removeClass("required");
                $('#BillTyp').val('BE');
                $('#BillType').val('THC-PDC');
                JsonDDL('VendorCode', DomainName + '/Finance/GetVendor_NameJson', false);

                $("input[name='optionsRadios2']").on("change", function () {
                    var rdoval = this.value;
                    $('#BillTyp').val(rdoval);
                });
                $("input[name='optionsRadios3']").on("change", function () {
                    var rdval = this.value;
                    $('#BillType').val(rdval);
                });


                $("#VendorCode").live("change", function () {
                    var VenCode = $(this).val().split('~')[0];
                    var VenName = $(this).val().split('~')[1];
                    $("#VendorCode").val(VenCode);
                    $("#VendorName").val(VenName);
                });
            }
        }
    }();
</script>

