﻿@model FleetDataService.ViewModels.BillEntryPaymentFilter
@{
    ViewBag.Title = "Bill Entry Payment Query";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("BillEntryPayment", "Payment", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-10">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@Model.ModuleName
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        @{Html.RenderPartial("../UserControls/_BillEntryPayments", Model);}
                        <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-10">
                                <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Get List</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}