﻿@model FleetDataService.ViewModels.FuelBillEntyQuery
@using FleetDataService.Models
@{
    ViewBag.Title = "Connectivity Bill Query";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_State> Webx_StateList = new List<Webx_State>();
    List<Webx_Master_General> lstGSTType = MS.GetGeneralMasterObject().ToList();
}
<div class="row">
    <div class="col-md-10">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("FuelBillEntry", "Payment", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
                {
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            You have some form errors. Please check below.
                        </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Your form validation is successful!
                        </div>
                                               
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Date Range
                            </label>
                            <div class="col-md-4">
                                <div id="reportrange" class="btn default col-md-12">
                                    <i class="fa fa-calendar"></i>
                                    &nbsp;
                                    <span></span>
                                    <b class="fa fa-angle-down"></b>
                                    @Html.HiddenFor(c => c.FromDate)
                                    @Html.HiddenFor(c => c.ToDate)
                                    @Html.HiddenFor(c => c.Type)
                                    @Html.Hidden("Id", Model.Type)
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                State Code
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(c => c.StateCode, new SelectList(Webx_StateList, "Value", "Text"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select State" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Vendor
                            </label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.VendorCode, new { placeholder = "Vendor", @class = "required2 form-control required" })
                                @Html.HiddenFor(m => m.VendorName)
                            </div>
                            <span class="col-md-4" style="color:red">Plz Type Initial Character OF Vendor Name</span>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">
                                <b>is Reverse GST Applied?</b>
                            </label>
                            <div class="col-md-5 chkactive">
                                @Html.CheckBoxFor(m => m.isGSTReverse)
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                GST Type
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(c => c.GSTType, new SelectList(lstGSTType.Where(c => c.CodeType == "GSTTYPE" && c.StatusCode == "Y" && c.CodeId != "SVC").OrderBy(c => c.CodeDesc).ToList(), "CodeId", "CodeDesc"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select GST Type" })
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                GST Percentage
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(c => c.GSTPercentage, new SelectList(lstGSTType.Where(c => c.CodeType.ToUpper() == "GSTPER" && c.StatusCode == "Y").OrderBy(c => int.Parse(c.CodeDesc)), "CodeDesc", "CodeDesc"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select GST Percentage" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">

                            </label>
                            <div class="col-md-6">
                                <b>OR</b>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1"></label>
                            <label class="control-label col-md-2">
                                Document No.
                            </label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(c => c.DocumentNo, new { placeholder = "Document No.", @class = "span6 m-wrap required2 form-control" })
                            </div>

                            <span class="text-primary col-md-4" style=" margin-top: 20px;">(If Multiple - Separated By Comma)</span>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="row">
                            <div class="col-md-offset-4 col-md-6">
                                <button type="submit" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-search"></i>&nbsp;Search</button>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {

                },
                messages: {

                    //'ServiceFor': {
                    //    required: "Please select at least one service for option",
                    //    minlength: jQuery.format("Please Select at Least One Service For Option")
                    //}
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    //if (element.parents('.checkbox-list').size() > 0) {
                    //    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    //} else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                    //}
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    // form1.submit();
                }
            });
        }


        var handleSelect2 = function () {
            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }

            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                minDate: '01/01/2012',
                //maxDate: '12/31/2014',

                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },
                //function (start, end) {
                //    console.log("Callback has been called!");
                //    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                //}
                 function (start, end) {

                     $('#FromDate').val(start.format('MMMM D, YYYY'));
                     $('#ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                     //alert("Callback has been called!" + $('#FromDate').val() + " " + $('#ToDate').val());
                     //$('#reportrange span').html(start.toString('@ViewBag.DefaultJqueryDateFormat') + ' - ' + end.toString('@ViewBag.DefaultJqueryDateFormat'));
                 }

            );
            //Set the initial state of the picker label
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

            $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ToDate').val(moment().format('MMMM D, YYYY'));

        }


        return {
            //main function to initiate the module
            init: function (DomainName) {

                // handleSelect2();
                Formvalidate();
                handleDateRangePickers();


                //var StrURL = DomainName + "/Operation/GetGeneralMasterDetails/PAYTYP";
                //FillDropDownfromOther("Paybas", StrURL, "Paybas");


                GetVendorName("VendorCode");

                $("#VendorCode").change(function () {
                    if ($("#VendorName").val() != "") {
                        $("#VendorName").val($(this).select2('data').text);
                    }
                    if ($('#StateCode').val() != "" && $("#isGSTReverse").is(":checked") == false) {
                        App.blockUI({ boxed: true });
                        var StrURL = DomainName + "/Master/GetGSTTypeFromStateandVendor?statePrefix=" + $('#StateCode').val() + "&VendorCode=" + $('#VendorCode').val();
                        FillDropDownfromOther("GSTType", StrURL, "");
                    }
                    else {
                        $("#GSTType").select2("data", null);
                        var StrURL = DomainName + "/Operation/GetGeneralMasterDetailsWithContract/GSTType?CodeList=";
                        FillDropDownfromOther("GSTType", StrURL, "");
                        App.blockUI({ boxed: true });
                        setTimeout(function () {
                            $("#GSTType option[value='SVC']").remove();
                        }, 350);
                    }
                });

                $('#btnSubmit').click(function () {

                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        return false;
                    }

                    //  alert("Done");

                    App.blockUI({ boxed: true });

                    document.forms["form_sample"].submit();


                });

                var StrURL = DomainName + "/Master/GetStateListFromGSTType?GSTType=" + $('#GSTType').val();
                FillDropDownfromOther("StateCode", StrURL, "");

                $("#GSTType").on('change', function () {
                    App.blockUI({ boxed: true });
                    if ($(this).val() == "N") {
                        $("#GSTPercentage").val("0");
                        $("#GSTPercentage").attr("readonly", true);
                        $("#GSTPercentage").removeClass("required");
                        App.unblockUI();
                    }
                    else {
                        $("#GSTPercentage").attr("readonly", false);
                        $("#GSTPercentage").addClass("required");
                        App.unblockUI();
                    }
                });

                $("#StateCode").on('change', function () {
                    if ($("#VendorCode").val() != "") {
                        $("#VendorCode").select2("data", null);
                    }
                    JsonDDLSelectCodeWithName("VendorCode", DomainName + "/Master/SearchVendorListByStateJson?State=" + $('#StateCode').val());
                    if ($('#VendorCode').val() != "" && $("#isGSTReverse").is(":checked") == false) {
                        var StrURL = DomainName + "/Master/GetGSTTypeFromStateandVendor?statePrefix=" + $('#StateCode').val() + "&VendorCode=" + $('#VendorCode').val();
                        FillDropDownfromOther("GSTType", StrURL, "");
                    }
                    else {
                        $("#GSTType").select2("data", null);
                        var StrURL = DomainName + "/Operation/GetGeneralMasterDetailsWithContract/GSTType?CodeList=";
                        FillDropDownfromOther("GSTType", StrURL, "");
                        App.blockUI({ boxed: true });
                        setTimeout(function () {
                            $("#GSTType option[value='SVC']").remove();
                        }, 350);
                    }
                });

                $("#isGSTReverse").on("change", function () {
                    App.blockUI({ boxed: true });
                    if ($("#isGSTReverse").is(":checked") == true) {
                        $("#GSTType").select2("data", null);
                        var StrURL = DomainName + "/Operation/GetGeneralMasterDetailsWithContract/GSTType?CodeList=";
                        FillDropDownfromOther("GSTType", StrURL, "");
                        App.blockUI({ boxed: true });
                        setTimeout(function () {
                            $("#GSTType option[value='SVC']").remove();
                        }, 350);
                    }
                    else {
                        if ($('#VendorCode').val() != "" && $('#StateCode').val() != "") {
                            var StrURL = DomainName + "/Master/GetGSTTypeFromStateandVendor?statePrefix=" + $('#StateCode').val() + "&VendorCode=" + $('#VendorCode').val();
                            FillDropDownfromOther("GSTType", StrURL, "");
                        }
                        else {
                            App.unblockUI();
                        }
                    }
                });
            }
        };
    }();

</script>