﻿
@model Fleet.ViewModels.CrossingChallanViewModel
@using FleetDataService.Models
@using Fleet.ViewModels
@using Fleet
@{
    ViewBag.Title = "Crossing Challan Payment List";
    Layout = "~/Views/Shared/_Layout.cshtml";


    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    Model.WCDM.ChallanDate = System.DateTime.Now;
    objDate OD = new objDate();
    OD.ControlId = "WCDM.ChallanDate";
    OD.ControlValue = Model.WCDM.ChallanDate.ToString();
    OD.ModuleCode = "01";
    Webx_Date_Rules WDR = MS.GetDateRule("19").FirstOrDefault();
}


<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>Crossing Challan Payment Generation
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("CrossingChallanPaymentSubmit", "Payment", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <div id="divStep1">
                    @*  <label class="control-label" id="errorMsgForContract" style="font-family:Verdana;font-weight:bold;color:red;display:none;">Cutomer Contract not found or May be Expire, Please contact you administrator for further detail.</label>*@
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Voucher No </label>
                                <div class="col-md-7" style="color:red;font-weight:bold;">
                                    System Generated
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Voucher Date</label>
                                <div class="col-md-7">
                                    @{
            Html.RenderPartial("../UserControls/_DocumentDate", OD);
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vendor</label>
                                <div class="col-md-7">
                                    @Model.WCDM.VendorName : @Model.WCDM.VendorCode
                                    @Html.HiddenFor(m => m.WCDM.VendorName)
                                    @Html.HiddenFor(m => m.WCDM.VendorCode)
                                    @Html.HiddenFor(m => m.WCDM.CrossingChallanNo)
                                    @Html.HiddenFor(m => m.WCDM.ChallanLocCode)
                                    @Html.HiddenFor(m => m.WCDM.Cancel)
                                    @Html.HiddenFor(m => m.WCDM.PaymentFlag)

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Remarks </label>
                                <div class="col-md-7">
                                    @Html.TextAreaFor(m => m.WCDM.Remarks, new { placeholder = "Remarks", @class = "required2 form-control required" })
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


                <div>
                    <h5 class="form-section">Docket Details</h5>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet-body flip-scroll">
                                <table id="container" class="table table-bordered table-striped table-condensed flip-content">
                                    <thead class="flip-content">
                                        <tr>
                                            <th class="center col-md-0">
                                                Select
                                                <br />
                                                <span>
                                                    <input type="checkbox" id="CHkAll" />
                                                </span>
                                            </th>
                                            <th class="center col-md-1">
                                                Challan No
                                            </th>
                                            <th class="center col-md-1">
                                                Challan Date
                                            </th>
                                            <th class="center col-md-0">
                                                Amount Receivable
                                            </th>
                                            <th class="center col-md-0">
                                                Deductions
                                            </th>
                                            <th class="center col-md-0">
                                                Net Receivable
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="Bodycontainer">
                                        @foreach (var item in Model.WCDD)
                                        {
                                            Html.RenderPartial("_CrossingChallanPaymentDetails", item);
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5"><b>Summury</b></label>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5"><b>Total Amount payable (+) </b></label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WCDM.TotalToPay, new { placeholder = "Total Amount payable", @class = "required2 clsAmount form-control required clsROFixed", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5"><b>Total deductions (-) </b></label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WCDM.Totaldeductions, new { placeholder = "Total deductions", @class = "required2 clsAmount form-control required clsROFixed", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5"><b>Net Receivable</b></label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WCDM.TotalNetPayables, new { placeholder = "Total To Pay", @class = "required2 clsAmount form-control required clsROFixed", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>

                <h4 class="block form-section">Payment Details</h4>

                <div class="row">
                    @foreach (var itms in Model.WADListing)
                    {
                        Html.RenderPartial("_PaymentModePartialForCrossingChalan", itms);
                    }

                    @*@{
                        Html.Partial("_PaymentModePartial", Model.WADListing);
                        }*@
                </div>
                @Html.HiddenFor(m => m.WAD.TransactionMode)
                <div class="form-actions fluid">
                    <div class="col-md-offset-4 col-md-8">

                        <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName, formId) {

            var form1 = $('#' + formId);
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            jQuery.validator.addMethod("FutureDateValidate", function (value, element) {

                var MRDate = value;
                var date = $('#datepicker').datepicker('getDate');
                var now = new Date();
                var myDate = new Date(ChangeInJQDate(MRDate));
                return this.optional(element) || new Date(myDateFormatter(MRDate)) < now;
            });


            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                rules: {
                    'WCDM.ChallanDate': {
                        FutureDateValidate: true,

                    },

                },
                messages: {
                    //'Dtl.DOCKNO': {
                    //    checkDKTAvailabilityForDeliveryMR: function () {
                    //        return $("#DKTError").val()
                    //    }
                    //},
                    'WCDM.ChallanDate': {
                        FutureDateValidate: jQuery.format("Future Date is not Allowed."),
                    }

                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    //if (element.parents('.checkbox-list').size() > 0) {
                    //    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    //} else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                    //}
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    for (var i = 0; i < validator.errorList.length; i++) {

                    }

                    //validator.errorMap is an object mapping input names -> error messages
                    for (var i in validator.errorMap) {
                    }
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var SubmitClick = function (DomainName) {

            $('#btnSubmit').click(function () {
                var form = $('#form_sample');
                if (form.valid() == false) {


                    return false;
                }
                var SelectedRow = false;
                $(".chkCheck").each(function () {
                    var checked = $(this).is(":checked");
                    if (checked) {
                        SelectedRow = true;
                    }
                });

                if (SelectedRow == false) {
                    alert("Please Select atleast one Challan");
                    return false;
                }


                App.blockUI({ boxed: true });
                $(".ftdate-picker input").prop('disabled', false);
                document.forms["form_sample"].submit();
            });
        }

        var IsCheck = function (DomainName) {

            var AmountReceivable = 0, TotalDeduction = 0, Deduction = 0, NetReceivable = 0;

            $(".chkCheck").each(function () {
                var ID = "";

                if ($(this).is(":checked") == true) {

                    ID = $(this).attr('id').replace("CrossingDocketDetail_", "").replace("__IsChecked", "");
                    AmountReceivable = parseFloat(AmountReceivable) + parseFloat($("#CrossingDocketDetail_" + ID + "__NetPayable").val());
                    TotalDeduction = parseFloat(TotalDeduction) + parseFloat($("#CrossingDocketDetail_" + ID + "__Deductions").val());
                    NetReceivable = parseFloat($("#CrossingDocketDetail_" + ID + "__NetPayable").val()) - parseFloat($("#CrossingDocketDetail_" + ID + "__Deductions").val());
                    $("#CrossingDocketDetail_" + ID + "__NetReceivable").val(parseFloat(NetReceivable))

                }
                else {

                    ID = $(this).attr('id').replace("CrossingDocketDetail_", "").replace("__IsChecked", "");

                    $("#CrossingDocketDetail_" + ID + "__Deductions").val(0);
                    $("#CrossingDocketDetail_" + ID + "__NetReceivable").val(parseFloat($("#CrossingDocketDetail_" + ID + "__NetPayable").val()));
                    //Deduction = parseFloat(Deduction) + parseFloat($("#CrossingDocketDetail_" + ID + "__Deductions").val(0));
                    //AmountReceivable = parseFloat(AmountReceivable) + parseFloat($("#CrossingDocketDetail_" + ID + "__NetPayable").val());
                    //$("#CrossingDocketDetail_" + ID + "__NetReceivable").val(parseFloat($("#CrossingDocketDetail_" + ID + "__NetPayable").val()));

                }

                $("#WCDM_TotalToPay").val(AmountReceivable.toFixed(2));
                $("#WCDM_Totaldeductions").val(TotalDeduction.toFixed(2));
                $("#WCDM_TotalNetPayables").val(parseFloat(AmountReceivable.toFixed(2)) - parseFloat(TotalDeduction.toFixed(2)));

            });


            if ($(".chkCheck:checkbox:checked").length == 0) {
                $("#WCDM_TotalToPay").val(0);
                $("#WCDM_Totaldeductions").val(0);
                $("#WCDM_TotalNetPayables").val(0);
            }


        }
        var select2Date = function (DomainName) {
            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                });
                $('body').removeClass("modal-open");
            }
        }


        var OnLoadFunctionForCrossingCHalan = function (DomainName, Prefix) {

            var GetChequedate = $("#" + Prefix + "Chequedate").val();

            $("#" + Prefix + "TransactionMode").change(function () {

                $("#" + Prefix + "CashAmount").val(0);
                $("#" + Prefix + "ChequeAmount").val(0);
                $("#" + Prefix + "ChequeNo").val("");
                $("#" + Prefix + "Chequedate").val("");
                $("#" + Prefix + "ReceivedFromBank").val("");
                $("#" + Prefix + "PaymentMode").val("");
                $("#" + Prefix + "PaymentMode").select2().find(":selected").data("");
                $("#" + Prefix + "CashAccount").select2('data', null);
                $("#" + Prefix + "DepositedInBank").select2('data', null);

                if ($("#" + Prefix + "TransactionMode").val() == "PAYMENT") {
                    //$("input[name=optionsRadios1]").attr("disabled", true);
                    //$('#' + Prefix + 'IsonAccount').attr("disabled", true);
                    //$('#' + Prefix + 'IsonAccount').attr("checked", false);
                    //$('#' + Prefix + 'IsonAccount').parent('span').removeClass('checked');
                    //$('#' + Prefix + 'IsonAccount').val(false);CASHBANKLABEL
                    $('#labelBank').text("Issued in bank");
                    $('#CASHBANKLABEL').hide();
                }
                else {

                    //$("input[name=optionsRadios1]").attr("disabled", false);
                    //$('#' + Prefix + 'IsonAccount').attr("checked", false);
                    //$('#' + Prefix + 'IsonAccount').parent('span').removeClass('checked');
                    //$('#' + Prefix + 'IsonAccount').val(false);
                    $('#labelBank').text("Deposited in bank");
                    $("#" + Prefix + "DepositedInBank").attr("disabled", true);
                    $('#CASHBANKLABEL').show();
                }
            });

            $("#" + Prefix + "PaymentMode").change(function () {

                var PaymentMode = $(this).val();

                if (PaymentMode == "Cash") {

                    App.blockUI({ boxed: true });

                    var StrURL = DomainName + "/Voucher/GetBankCashList?Type=" + PaymentMode;
                    $("#" + Prefix + "CashAccount").select2('data', null);
                    $("#" + Prefix + "DepositedInBank").select2('data', null);
                    $("#" + Prefix + "DepositedInBank").attr("disabled", true);
                    $("#" + Prefix + "CashAccount").attr("disabled", false);
                    FillDropDownfromOther(Prefix + "CashAccount", StrURL, "Cash Account");
                    $("#" + Prefix + "CashAccount option:selected").remove();
                    $("#" + Prefix + "ChequeNo").attr("disabled", true);
                    $("#" + Prefix + "Chequedate").attr("disabled", true);
                    $("#" + Prefix + "Chequedate").val("");
                    $(".input-group-btn").hide();
                    $("#" + Prefix + "CashAccount").addClass('required required2');
                    $("#" + Prefix + "DepositedInBank").removeClass('required required2');
                    App.unblockUI();
                }

                else if (PaymentMode == "Bank") {
                    App.blockUI({ boxed: true });
                    var StrURL = DomainName + "/Voucher/GetBankCashList?Type=" + PaymentMode;
                    $("#" + Prefix + "DepositedInBank").select2('data', null);
                    $("#" + Prefix + "CashAccount").select2('data', null);
                    $("#" + Prefix + "DepositedInBank").attr("disabled", false);
                    $("#" + Prefix + "CashAccount").attr("disabled", true);
                    FillDropDownfromOther(Prefix + "DepositedInBank", StrURL, "Bank Account");
                    $(".input-group-btn").show();
                    $("#" + Prefix + "ChequeNo").attr("disabled", false);
                    $("#" + Prefix + "Chequedate").attr("disabled", false);
                    $("#" + Prefix + "Chequedate").val(GetChequedate);
                    $("#" + Prefix + "ChequeNo").addClass('required required2');
                    $("#" + Prefix + "CashAccount").removeClass('required required2');
                    $("#" + Prefix + "DepositedInBank").addClass('required required2');
                    App.unblockUI();
                }
                else {

                    App.blockUI({ boxed: true });

                    var StrURL = DomainName + "/Voucher/GetBankCashList?Type=Cash";
                    $("#" + Prefix + "CashAccount").select2('data', null);
                    FillDropDownfromOther(Prefix + "CashAccount", StrURL, "Cash Account");
                    var StrURL1 = DomainName + "/Voucher/GetBankCashList?Type=Bank";
                    $("#" + Prefix + "DepositedInBank").select2('data', null);
                    FillDropDownfromOther(Prefix + "DepositedInBank", StrURL1, "Bank Account");
                    $("#" + Prefix + "CashAmount").val(0);
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "ChequeNo").attr("disabled", false);
                    $("#" + Prefix + "CashAmount").attr("readonly", false);
                    $("#" + Prefix + "ChequeAmount").attr("readonly", false);
                    $("#" + Prefix + "Chequedate").attr("disabled", false);
                    $("#" + Prefix + "Chequedate").val(GetChequedate);
                    //$('#' + Prefix + 'IsonAccount').attr("checked", false);
                    //$('#' + Prefix + 'IsonAccount').parent('span').removeClass('checked');
                    //$('#' + Prefix + 'IsonAccount').val(false);
                    $("#" + Prefix + "ReceivedFromBank").addClass('required required2');
                    $("#" + Prefix + "DepositedInBank").attr("disabled", false);
                    $("#" + Prefix + "CashAccount").attr("disabled", false);
                    $("#" + Prefix + "CashAccount").addClass('required required2');
                    $("#" + Prefix + "DepositedInBank").addClass('required required2');

                    App.unblockUI();
                }
            });

            if ($("#WAD_Vouchertype").val() != "DEBITCREDIT") {
                //$("#" + Prefix + "NETAMOUNT").removeAttr('readonly');
                $("#" + Prefix + "NETAMOUNT").attr("number", true).attr("min", 1).addClass("required required2");
            }

            $("#" + Prefix + "NETAMOUNT").live('change', function () {
                var PaymentMode = $("#" + Prefix + "PaymentMode").val();
                var PaymentAmount = $("#" + Prefix + "NETAMOUNT").val();
                if (PaymentMode.toUpperCase() == "CASH") {
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "CashAmount").val(PaymentAmount);
                    $(".clsTotal").val(PaymentAmount);
                }
                if (PaymentMode.toUpperCase() == "BANK") {
                    $("#" + Prefix + "CashAmount").val(0);
                    $("#" + Prefix + "ChequeAmount").val(PaymentAmount);
                    $(".clsTotal").val(PaymentAmount);
                }
            });
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                ControlDate();
                Formvalidate(DomainName, "form_sample");
                SubmitClick(DomainName);
                select2Date(DomainName);
                IsCheck(DomainName);
                var Prefix = "PAYMENTMODE_1__";
                OnLoadFunctionForCrossingCHalan(DomainName, Prefix);
                $(".chkCheck").live('change', function () {

                    IsCheck(DomainName);
                });

                $("#CHkAll").live("change", function () {
                    $(".chkCheck").prop('checked', $(this).is(':checked'));
                    $("input:checkbox, input:radio").uniform();
                    // chkChange();
                    IsCheck(DomainName);
                });

                var itemIndex = $("#container input.iHidden").length;
                setTimeout(
                 function () {
                     $("input:checkbox, input:radio").uniform();
                 }, 5000);

                $(".clsDeduction").live('change', function () {
                    var TotalDeduction = 0, AmountReceivable = 0, clsAmountReceivble = 0, clsDeduction = 0, TotalNetReceivable = 0;
                    $(".chkCheck").each(function () {
                        var ID = "";

                        if ($(this).is(":checked") == true) {
                            ID = $(this).attr('id').replace("CrossingDocketDetail_", "").replace("__IsChecked", "");
                            TotalDeduction = parseFloat(TotalDeduction) + parseFloat($("#CrossingDocketDetail_" + ID + "__Deductions").val());
                            clsAmountReceivble = $("#CrossingDocketDetail_" + ID + "__NetPayable").val();
                            clsDeduction = $("#CrossingDocketDetail_" + ID + "__Deductions").val();
                            $("#CrossingDocketDetail_" + ID + "__NetReceivable").val(parseFloat(clsAmountReceivble) - parseFloat(clsDeduction));
                            AmountReceivable = parseFloat($("#WCDM_TotalToPay").val());
                            TotalNetReceivable = parseFloat(AmountReceivable) - parseFloat(TotalDeduction);


                        }
                        //else {
                        //    ID = $(this).attr('id').replace("CrossingDocketDetail_", "").replace("__IsChecked", "");
                        //    //TotalDeduction = parseFloat(TotalDeduction) + parseFloat($("#CrossingDocketDetail_" + ID + "__Deductions").val(0));
                        //    $("#CrossingDocketDetail_" + ID + "__Deductions").val(0);

                        //    //AmountReceivable = parseFloat($("#WCDM_TotalToPay").val());
                        //    //TotalNetReceivable = parseFloat(AmountReceivable) - parseFloat(TotalDeduction);

                        //    ////$("#WCDM_Totaldeductions").val(TotalDeduction);
                        //    ////$("#WCDM_TotalNetPayables").val(parseFloat(AmountReceivable) - parseFloat(TotalDeduction));
                        //}

                        //$("#WCDM_TotalToPay").val(AmountReceivable.toFixed(2));
                        $("#WCDM_Totaldeductions").val(TotalDeduction.toFixed(2));
                        $("#WCDM_TotalNetPayables").val(parseFloat(TotalNetReceivable.toFixed(2)));


                    });

                });
            }
        }
    }();
</script>