﻿@model Fleet.ViewModels.CrossingChallanViewModel
@{
    ViewBag.Title = "CrossingChallanPaymentDone";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var CrossingChallanNo = Model.THCNo;
    var VoucherNo = Model.DockNo;
}

<div class=" col-md-8" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>Crossing Challan Payment Done Successfully
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Crossing Challan No
                            </th>
                            <th>
                                Voucher No
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@CrossingChallanNo</b>
                            </td>
                            <td>
                                <b>@VoucherNo</b>
                            </td>
                            <td>
                                <a href="@Url.Action("CrossingChallanBillPaymentView", "ViewPrint", new { VoucherNO = @VoucherNo })" onclick="window.open(this.href, 'RCPL','left=20,top=20,width=1240,height=620,toolbar=1,resizable=0'); return false;" class="fa fa-print" id="ReportFrame"><b>&nbsp;View/Print</b></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                <a href="@Url.Action("CrossingChallanCriteria", "Operation")"> Click Here To Prepare More Crossing Challan  </a>
            </span>
            <br />
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                <a href="@Url.Action("CrossingChallanPaymentCriteria", "Payment")"> Click Here To More Corssing Challan Payment </a>
            </span>
        </div>
    </div>
</div>

