﻿@model FleetDataService.ViewModels.BABillEnty
@using Fleet
@using Fleet.ViewModels
@using Fleet.Classes
@using FleetDataService.ViewModels
@using FleetDataService.Models;
@using FleetDataService;
@{
    ViewBag.Title = "Expense Fixed  & Variable Bill Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";

    MasterService MS = new MasterService();
    OperationService OS = new OperationService();
    GeneralFuncations GF = new GeneralFuncations();
    StaxTDSViewModel STVM = new StaxTDSViewModel();
    STVM.UserId = ViewBag.BaseUserName;
    STVM.GSTPercentage = Model.WVH.GSTPercentage;
    STVM.FiledNextAmount = "WVH.NETAMT";
    STVM.GSTType = Model.GSTType;
    STVM.ChargeType = "VBOE";
    STVM.IsGSTDisplay = true;
    STVM.IsDiscountEnabled = true;
    STVM.IsTDSDisplay = true;



    Model.WVH.BILLDT = System.DateTime.Now;

    Model.WVH.DUEDT = System.DateTime.Now;
    Model.WVH.VENDORBILLDT = System.DateTime.Now;

    objDate OD = new objDate();
    OD.ControlId = "WVH.BILLDT";
    OD.ControlValue = Model.WVH.BILLDT.ToString();
    OD.ModuleCode = "13";

    objDate OD1 = new objDate();
    OD1.ControlId = "WVH.VENDORBILLDT";
    OD1.ControlValue = Model.WVH.VENDORBILLDT.ToString();
    OD1.ModuleCode = "13";

    List<Webx_Master_General> listGeneralMaster = new List<Webx_Master_General>();
    listGeneralMaster = MS.GetGeneralMasterObject();

    Model.CreditLedger = "UNS0004";
    Model.CreditLedgerName = OS.getAccountDesc("webx_acctinfo", Model.CreditLedger);

    string TurnOverSQL = "EXEC Usp_GetVendorTurnOver '" + Model.WVH.VENDORCODE + "'";
    System.Data.DataTable TurnOverDt = GF.GetDataTableFromSP(TurnOverSQL);
    string TurnOver = TurnOverDt.Rows[0]["TurnOver"].ToString();
    string TurnOverInWords = TurnOverDt.Rows[0]["TurnOverInWords"].ToString();

}

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>Expense Fixed  & Variable Bill Entry
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("ExpenseFixedVariableBillEntrySubmit", "Payment", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>

                <h4 class="form-section"> Bill Entry Detail</h4>
                <div id="divStep1">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Bill Entry No. </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WVH.BILLNO, new { placeholder = "System Generated", @readonly = "true", @class = "required2 form-control" })
                                </div>
                            </div>
                        </div>
                        @Html.Hidden("CurrFinYear")
                        @Html.Hidden("BaseFinYear")
                        @Html.Hidden("FinYearEndDate")
                        @Html.Hidden("BaseLocationCode")
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Bill Date</label>
                                <div class="col-md-7">
                                    @{
                                        Html.RenderPartial("../UserControls/_DocumentDate", OD);
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 clsvendor">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vendor Type</label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(c => c.WVH.VENDORTYPE, new SelectList(listGeneralMaster.Where(c => c.CodeType.ToUpper() == "VENDTY" && c.StatusCode.ToUpper() == "Y").ToList(), "CodeId", "CodeDesc", Model.WVH.VENDORTYPE), "", new { @class = "form-control ", @placeholder = "Vendor Type" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vendor </label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(c => c.WVH.VENDORCODE, new SelectList(Model.WVHList, "VENDORCODE", "VENDORNAME"), "", new { @class = "select2 form-control required required2 ", @placeholder = "Vendor " })

                                    @Html.HiddenFor(c => c.WVH.VENDORNAME)
                                    @Html.HiddenFor(c => c.FBE.VendorCode)
                                    @Html.HiddenFor(c => c.FBE.VendorName)
                                    @Html.HiddenFor(c => c.FBE.BillType)
                                    @Html.HiddenFor(m => m.BillEntryType)
                                    @Html.HiddenFor(c => c.FBE.Branch)
                                    @Html.HiddenFor(c => c.WVH.StateCode)
                                    @Html.HiddenFor(c => c.WVH.GSTType)
                                    @Html.HiddenFor(c => c.FBE.DocType)
                                    @Html.HiddenFor(c => c.BEC.StatutoryExpens)
                                    @Html.HiddenFor(c => c.BEC.CrewSalaryExpense)
                                    @Html.HiddenFor(c => c.BEC.VehicleTrackingServiceExpense)
                                    @Html.HiddenFor(c => c.BEC.FinancialExpense)
                                    @Html.HiddenFor(c => c.BEC.RepairMaintenanceExpense)
                                    @Html.HiddenFor(c => c.BEC.ExpenseType)
                                    @Html.HiddenFor(c => c.WVH.betype)
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vendor Bill No.</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WVH.VENDORBILLNO, new { placeholder = "Vendor Bill No.", @class = "required2 required form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vendor Bill Date</label>
                                @*<div class="col-md-7">
                                        <div class="input-group date bkdate-picker">
                                            @Html.TextBoxFor(m => m.WVH.VENDORBILLDT, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.WVH.VENDORBILLDT).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>*@
                                <div class="col-md-7">
                                    @{
                                        Html.RenderPartial("../UserControls/_DocumentDate", OD1);
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Due Days</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WVH.DueDays, new { placeholder = "Due Days", @class = "required2 clsAmount form-control", @type = "number", @min = "1" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Due Date</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WVH.DUEDT, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.WVH.DUEDT).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Remark</label>
                                <div class="col-md-7">
                                    @Html.TextAreaFor(m => m.WVH.REMARK, new { placeholder = "narration", @class = "required2 form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5" style="padding-top:0px;">Credit Ledger</label>
                                <div class="col-md-7">
                                    @if (Model.BillEntryType == "7" || Model.BillEntryType == "8" || Model.BillEntryType == "9" || Model.BillEntryType == "10" || Model.BillEntryType == "11" || Model.BillEntryType == "13" || Model.BillEntryType == "4")
                                    {
                                        <b> @Model.CreditLedger </b>
                                        @Html.HiddenFor(c => c.CreditLedger)
                                        @Html.HiddenFor(c => c.DebitLedger)
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.CreditLedger, new { placeholder = "Credit Ledger", @class = "required2 form-control", @readonly = "true" })
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5" style="padding-top:0px;">Credit Ledger Name </label>
                                <div class="col-md-7">
                                    @if (Model.BillEntryType == "7" || Model.BillEntryType == "8" || Model.BillEntryType == "9" || Model.BillEntryType == "10" || Model.BillEntryType == "11" || Model.BillEntryType == "13" || Model.BillEntryType == "4")
                                    {
                                        <b> @Model.CreditLedgerName</b>
                                        @Html.HiddenFor(c => c.CreditLedgerName)
                                        @Html.HiddenFor(c => c.DebitLedgerName)
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.CreditLedgerName, new { placeholder = "Credit Ledger", @class = "required2 form-control", @readonly = "true" })
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label col-md-5">Turn Over</label>
                        <label class="control-label col-md-7" style="text-align:left;">
                            <b>Rs.@TurnOver /-</b>
                        </label>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label col-md-5">Loading Charge</label>
                        <label class="control-label col-md-7" style="text-align:left;">
                            <b>@Html.DisplayFor(c => c.FBE.BillType)</b>
                            <b>@Html.DisplayFor(c => c.FBE.BillType)</b>
                        </label>
                    </div>
                </div>
            </div>

            if (Model.BEC.StatutoryExpens)
            {
                <h4 class="form-section">STATUTORY EXPENSE</h4>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-5">No Of Rows</label>
                            <div class="col-md-7">
                                @Html.TextBox("STERows", "0", new { placeholder = "Private Mark", @class = "input-small required2 form-control required" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <a id="btnAddRowsSTE" class="btn  @ViewBag.TableBoxColor right">
                            Add New Row<i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                    <div class="col-md-5"></div>
                </div>

                <div class="portlet-body clsMF flip-scroll">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                            <tr>
                                <th class="center">
                                    Sr.No.
                                </th>
                                <th class="center">
                                    Nature Of Expense.
                                </th>
                                <th class="center">
                                    Vehicle No.
                                </th>
                                <th class="center" style="width:10%">
                                    Amount Spent
                                </th>
                                <th class="center">
                                    Bill/Receipt No.
                                </th>
                                <th class="center" style="width:10%">
                                    Amount Approved By Fleet Executive
                                </th>
                                <th class="center">
                                    Remarks
                                </th>

                            </tr>
                        </thead>
                        <tbody id="STEBodycontainer">

                            @foreach (var itm in Model.StatutaryExpenseList)
                            {
                                Html.RenderPartial("_StatutaryExpense", itm);
                            }

                            @if (Model.StatutaryExpenseList.Count == 0)
                            {
                                <tr>
                                    <td class="center" colspan="13">
                                        <b>No Records Found</b>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

            if (Model.BEC.CrewSalaryExpense)
            {
                <h4 class="form-section">CREW SALARY EXPENSE</h4>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-5">No Of Rows</label>
                            <div class="col-md-7">
                                @Html.TextBox("CSERows", "0", new { placeholder = "Private Mark", @class = "input-small required2 form-control required" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <a id="btnAddRowsCSE" class="btn  @ViewBag.TableBoxColor right">
                            Add New Row<i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                    <div class="col-md-5"></div>
                </div>

                <div class="portlet-body clsMF flip-scroll">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                            <tr>
                                <th class="center">
                                    Sr.No.
                                </th>
                                <th class="center">
                                    Nature Of Expense.
                                </th>
                                <th class="center">
                                    Vehicle No.
                                </th>
                                <th class="center" style="width:10%">
                                    Amount Spent
                                </th>
                                <th class="center">
                                    Bill/Receipt No.
                                </th>
                                <th class="center" style="width:10%">
                                    Amount Approved
                                    By Fleet Executive
                                </th>
                                <th class="center">
                                    Remarks
                                </th>

                            </tr>
                        </thead>
                        <tbody id="CSEBodycontainer">

                            @foreach (var itm in Model.CrewSalaryExpenseList)
                            {
                                Html.RenderPartial("_CrewSalaryExpense", itm);
                            }

                            @if (Model.CrewSalaryExpenseList.Count == 0)
                            {
                                <tr>
                                    <td class="center" colspan="13">
                                        <b>No Records Found</b>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

            if (Model.BEC.VehicleTrackingServiceExpense)
            {
                <h4 class="form-section">VEHICLE TRACKING SERVICE EXPENSE</h4>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-5">No Of Rows</label>
                            <div class="col-md-7">
                                @Html.TextBox("VTERows", "0", new { placeholder = "Private Mark", @class = "input-small required2 form-control required" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <a id="btnAddRowsVTE" class="btn  @ViewBag.TableBoxColor right">
                            Add New Row<i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                    <div class="col-md-5"></div>
                </div>

                <div class="portlet-body clsMF flip-scroll">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                            <tr>
                                <th class="center">
                                    Sr.No.
                                </th>
                                <th class="center">
                                    Nature Of Expense.
                                </th>
                                <th class="center">
                                    Vehicle No.
                                </th>
                                <th class="center" style="width:10%">
                                    Amount Spent
                                </th>
                                <th class="center">
                                    Bill/Receipt No.
                                </th>
                                <th class="center" style="width:10%">
                                    Amount Approved
                                    By Fleet Executive
                                </th>
                                <th class="center">
                                    Remarks
                                </th>

                            </tr>
                        </thead>
                        <tbody id="VTEBodycontainer">

                            @foreach (var itm in Model.VehicleTrackingServiceExpenseList)
                            {
                                Html.RenderPartial("_VehicleTrackingSystem", itm);
                            }

                            @if (Model.VehicleTrackingServiceExpenseList.Count == 0)
                            {
                                <tr>
                                    <td class="center" colspan="13">
                                        <b>No Records Found</b>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

            if (Model.BEC.FinancialExpense)
            {
                <h4 class="form-section">FINANCIAL EXPENSE</h4>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-5">No Of Rows</label>
                            <div class="col-md-7">
                                @Html.TextBox("FERows", "0", new { placeholder = "Private Mark", @class = "input-small required2 form-control required" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <a id="btnAddRowsFE" class="btn  @ViewBag.TableBoxColor right">
                            Add New Row<i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                    <div class="col-md-5"></div>
                </div>

                <div class="portlet-body clsMF flip-scroll">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                            <tr>
                                <th class="center">
                                    Sr.No.
                                </th>
                                <th class="center">
                                    Nature Of Expense.
                                </th>
                                <th class="center">
                                    Vehicle No.
                                </th>
                                <th class="center" style="width:10%">
                                    Amount Spent
                                </th>
                                <th class="center">
                                    Bill/Receipt No.
                                </th>
                                <th class="center" style="width:10%">
                                    Amount Approved
                                    By Fleet Executive
                                </th>
                                <th class="center">
                                    Remarks
                                </th>

                            </tr>
                        </thead>
                        <tbody id="FEBodycontainer">

                            @foreach (var itm in Model.FinancialExpenseList)
                            {
                                Html.RenderPartial("_FinancialExpense", itm);
                            }

                            @if (Model.FinancialExpenseList.Count == 0)
                            {
                                <tr>
                                    <td class="center" colspan="13">
                                        <b>No Records Found</b>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

            if (Model.BEC.RepairMaintenanceExpense)
            {
                <h4 class="form-section">REPAIR & MAINTENANCE EXPENSE</h4>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-5">No Of Rows</label>
                            <div class="col-md-7">
                                @Html.TextBox("RERows", "0", new { placeholder = "Private Mark", @class = "input-small required2 form-control required" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <a id="btnAddRowsRE" class="btn  @ViewBag.TableBoxColor right">
                            Add New Row<i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                    <div class="col-md-5"></div>
                </div>

                <div class="portlet-body clsMF flip-scroll">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                            <tr>
                                <th class="center">
                                    Sr.No.
                                </th>
                                <th class="center">
                                    Nature Of Expense.
                                </th>
                                <th class="center">
                                    Vehicle No.
                                </th>
                                <th class="center" style="width:10%">
                                    Amount Spent
                                </th>
                                <th class="center">
                                    Bill/Receipt No.
                                </th>
                                <th class="center" style="width:10%">
                                    Amount Approved
                                    By Fleet Executive
                                </th>
                                <th class="center">
                                    Remarks
                                </th>

                            </tr>
                        </thead>
                        <tbody id="RMEBodycontainer">

                            @foreach (var itm in Model.RepairMainteneceExpenseList)
                            {
                                Html.RenderPartial("_RepairExpense", itm);
                            }

                            @if (Model.RepairMainteneceExpenseList.Count == 0)
                            {
                                <tr>
                                    <td class="center" colspan="13">
                                        <b>No Records Found</b>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            <div class="portlet-body clsMF flip-scroll">
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content">
                        <tr>
                            <th class="center" colspan="3" style="width:21%">
                                Total.
                            </th>
                            <th class="left" colspan="2" style="width:10%">
                                Amount Spent :    <b>@Model.TotalAmountApproved</b>
                                @Html.HiddenFor(m => m.TotalAmountSpent)
                            </th>

                            <th class="left" colspan="2" style="width:10%">
                                Amount Approved
                                By Fleet Executive : <b>@Model.TotalAmountApproved</b>
                                @Html.HiddenFor(m => m.TotalAmountApproved)
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            @*Start New Part GST Change Chirag D*@

            <div class="row">
                <div class="col-md-11">
                    @{Html.RenderPartial("../UserControls/_GSTTDSControl", STVM);}
                </div>
            </div>


            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <button type="button" id="btnSubmit" class="btn btn-sm blue controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                </div>
            </div>


        }
    </div>
</div>
<script src="~/Scripts/Payments/FuelBillEntry.js?ver<%=DateTime.Now.Ticks.ToString()%" type="text/javascript"></script>
<script>

</script>
