﻿@{
    ViewBag.Title = "ExpenseBillEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ExpenseType = new List<SelectListItem> {
        new SelectListItem { Text =  "Fixed", Value = "F" },
          new SelectListItem { Text =  "Variable", Value = "V" },
    };
}


@model FleetDataService.ViewModels.ExpenseBillEntryQuery



<div id="loading" style="display: none;">
    <img src="@Url.Content("~/assets/img/loading.gif")" />
</div>
<div class="col-md-10">
    <div class="portlet box @ViewBag.TableBoxColor ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-reorder"></i>Fixed/Variable Expense 
            </div>
        </div>
        <div class="portlet-body form">



            @using (Html.BeginForm("FuelBillEntry", "Payment", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
            {
                <div class="form-body">

                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-hide">
                        <button class="close" data-close="alert"></button>
                        Your form validation is successful!
                    </div>

                    <div class="row">


                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Expense Type
                                </label>
                                <div class="col-md-4">

                                    @Html.DropDownListFor(c => c.ExpenseType, new SelectList(ExpenseType, "Value", "Text", Model.ExpenseType), "", new { @class = "form-control required select2 required2 dropdown2", @placeholder = "Expense Type " })

                                    @Html.TextBoxFor(c => c.ExpenseSubType)
                                    @Html.Hidden("Id", "3")
                                </div>

                            </div>
                        </div>

                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Expense Heads
                                </label>
                                <div class="col-md-4">

                                    <div class="checkbox-list">
                                        <label class="clsFixed">
                                            <input type="checkbox" name="ExpType" id="ExpType1" class="clsExp"  value="F1"> Statutory Expense
                                        </label>
                                        <label class="clsFixed">
                                            <input type="checkbox" name="ExpType" id="ExpType2" class="clsExp" value="F2"> Crew Salary Expense
                                        </label>
                                        <label class="clsFixed">
                                            <input type="checkbox" name="ExpType" id="ExpType3" class="clsExp" value="F3"> Vehicle Tracking Service Expense
                                        </label>
                                        <label class="clsFixed">
                                            <input type="checkbox" name="ExpType" id="ExpType4" class="clsExp" value="F4"> Financial Expense
                                        </label>
                                        <label class="clsVariable">
                                            <input type="checkbox" name="ExpType" id="ExpType5" class="clsExp" value="V1"> Repair & Maintenance Expense
                                        </label>
                                       
                                    
                                    </div>

                                </div>

                            </div>
                        </div>


                    </div>

                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-12">
                                    <button type="submit" id="btnSubmit" class="btn blue"><i class="fa fa-search"></i>&nbsp; Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>

            }

        </div>
    </div>
</div>

<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {

                },
                messages: {

                    //'ServiceFor': {
                    //    required: "Please select at least one service for option",
                    //    minlength: jQuery.format("Please Select at Least One Service For Option")
                    //}
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    //if (element.parents('.checkbox-list').size() > 0) {
                    //    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    //} else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                    //}
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    // form1.submit();
                }
            });
        }


        var handleSelect2 = function () {
            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });
        }

        


        return {
            //main function to initiate the module
            init: function (DomainName) {

               // handleSelect2();
                Formvalidate();
               
                $(".clsFixed").hide();
                $(".clsVariable").hide();
                $("#ExpenseType").change(function () {


                    $(".clsFixed").hide();
                    $(".clsVariable").hide();
                    if ($(this).val() == "F")
                        $(".clsFixed").show();
                    if ($(this).val() == "V")
                        $(".clsVariable").show();

                });

                


                $('.clsExp').click(function () {

                    var ExpenseSubType = $("#ExpenseSubType").val();

                    var checked = $(this).is(":checked");

                  //  alert(checked);

                    if(checked)
                        {
                        if (ExpenseSubType == "")
                            ExpenseSubType = $(this).val();
                        else 
                            ExpenseSubType = ExpenseSubType +","+ $(this).val();

                    }

                    $("#ExpenseSubType").val(ExpenseSubType);

                });

                $('#btnSubmit').click(function () {

                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        return false;
                    }

                    //  alert("Done");

                    App.blockUI({ boxed: true });

                    document.forms["form_sample"].submit();


                });
            }
        };
    }();

</script>