﻿@model FleetDataService.ViewModels.BillEntryPaymentViewModel
@using FleetDataService.ViewModels
@using Fleet
@using Fleet.ViewModels
@{
    ViewBag.Title = "FinalBillEntryPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    objDate OD = new objDate();
    OD.ControlId = "BEPFM.VoucherDate";
    OD.ControlValue = System.DateTime.Now.ToString();
    OD.ModuleCode = "05";
    //OD.isControlRemove = true;
}
<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@Model.BEPFM.ModuleName
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("SubmitBillEntryPayment", "Payment", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>

                <div class="row">
                    <div class="col-md-11">
                        <h4 class="form-section">Basic Details</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-2"> Date Range:</label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(m => m.BEPFM.FromDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.BEPFM.FromDate).ToString("dd MMMM yyyy")), new { @class = "form-control required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(m => m.BEPFM.ToDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.BEPFM.ToDate).ToString("dd MMMM yyyy")), new { @class = "form-control required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                                        @Html.HiddenFor(m=>m.BEPFM.LocationCode)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Vendor Code~Name:</label>
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(c => c.BEPFM.VendorCode, new { @class = "form-control required2", @readonly = "true" })
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(c => c.BEPFM.VendorName, new { @class = "form-control required2", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Bill Entry No.:</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.BEPFM.BillNo, new { @class = "form-control required2", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Vendor Bill Entry No.:</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.BEPFM.VBillNo, new { @class = "form-control required2", @readonly = "true" })
                                        @Html.HiddenFor(c => c.BEPFM.BillType)
                                        @Html.HiddenFor(c => c.BEPFM.BillTyp)
                                        @Html.HiddenFor(c => c.BEPFM.ModuleName)
                                        @Html.HiddenFor(c => c.BEPFM.OldTotalamt)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Records:</label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.BEPFM.TotalRecods, new { @class = "form-control  required2", @readonly = "true", @min = 1 })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Selected Bill No.:</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.BEPFM.BillNumber, new { @class = "form-control  required2", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                        </div><br />
                        <h4 class="form-section">Payment Details</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-2" style="text-align: left;">
                                        Voucher Date
                                    </label>
                                    <div class="col-md-8">
                                        @*<div class="input-group date date-picker">
                                                @Html.TextBoxFor(c => c.BEPFM.VoucherDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy" })
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>*@
                                        @{
            Html.RenderPartial("../UserControls/_DocumentDate", OD);
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Manual voucher No.:</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.BEPFM.VoucherNo, new { @class = "form-control required2", @placeholder = "Manual voucher No" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4>&nbsp;<span class="pull-right">Credit : @Html.DisplayFor(c => c.BEPFM.CreditAmt)</span></h4>
                        <h4>&nbsp;<span class="pull-right">Debit : @Html.DisplayFor(c => c.BEPFM.DebitAmt)</span></h4>
                        <h4 class="form-section">Document Details <span class="pull-right">Out Standing : @Html.DisplayFor(c => c.BEPFM.OutStandingAmt)</span></h4>
                        @Html.HiddenFor(c => c.BEPFM.CreditAmt)
                        @Html.HiddenFor(c => c.BEPFM.DebitAmt)
                        @Html.HiddenFor(c => c.BEPFM.OutStandingAmt)
                        @Html.HiddenFor(c => c.BL.Paidamt)
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="chkactive"><input type="checkbox" id="chkall" /></th>
                                    <th class="center">Bill No</th>
                                    <th class="center">Voucher No</th>
                                    <th class="center">Bill Date</th>
                                    <th class="center">Vendor Bill No</th>
                                    <th class="center">Vendor Code & Name</th>
                                    <th>Total Amount</th>
                                    <th>Total Paid Amount</th>
                                    <th>Paid Amount</th>
                                    <th>Total Pending Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.listBill.ToList().OrderBy(c => c.Billno))
                                {
                                    {
                                        item.BillType = Model.BEPFM.BillTyp;
                                        Html.RenderPartial("_PartialFinalBillEntry", item); 
                                    }
                                }
                                <tr>
                                    <td colspan="6"></td>

                                    <td><b> Total Paid Amount</b></td>
                                    <td>
                                        @Html.TextBoxFor(c => c.BEPFM.TotalAmt, new { @class = "form-control required clsAmount required2", @readonly = "true", @type = "number"})
                                    
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                        @if (Model.DebitListBill != null && Model.DebitListBill.Count() > 0)
                        {
                            <table class="table table-striped table-bordered table-hover table-full-width" id="Sample1">

                                <thead class="flip-content">
                                    <tr>
                                        <th class="center">
                                            Debit Note No
                                        </th>
                                        <th class="center">
                                            Adjusted At
                                        </th>
                                    </tr>
                                </thead>

                                <tbody id="AgendaTable">
                                    @foreach (var item in Model.DebitListBill)
                                    {
                                        Html.RenderPartial("_PartialDebitNoteAdjust", item);
                                    }
                                </tbody>
                            </table>
                        }

                        @{
            PaymentControl PC = new PaymentControl();
                        }
                        <h4 class="form-section">Payment Details</h4>
                        <div class="row">

                            @{  Html.RenderPartial("../UserControls/_PaymentControl", PC); }
                        </div>

                        <div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                <a class="btn btn-sm default controls" href="@Url.Content("~/Payment/BillEntryPaymentQuery/"+@Model.BEPFM.BillTyp)"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
                                <button type="button" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/Scripts/Payments/BillEntryPayment.js?ver<%=DateTime.Now.Ticks.ToString()%"></script>