﻿@{
    ViewBag.Title = "Finalize Criteria Vendor Bill Query";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FleetDataService.ViewModels.FinalizeBillQuery

@using (Html.BeginForm("FinalizeBill", "Payment", FormMethod.Post, new { id = "submit_form", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-10">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        @{Html.RenderPartial("../UserControls/_FinalizeBill", Model);}
                        <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-10">
                                <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Get List</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}