﻿@{
    ViewBag.Title = "FinalizeBill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using Fleet
@using Fleet.ViewModels


@model FleetDataService.ViewModels.FinalizeBillViewModel

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>Finalize Bill
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("SubmitFinalizeBill", "Payment", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>

                <h4 class="form-section">Basic Details</h4>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Vendor </label>
                            <div class="col-md-2">
                                @Html.TextBoxFor(m => m.FBQ.VendorCode, new { placeholder = "System Generated", @readonly = "true", @class = "required2 form-control" })
                            </div>      <div class="col-md-5">
                                @Html.TextBoxFor(m => m.FBQ.VendorName, new { placeholder = "System Generated", @readonly = "true", @class = "required2 form-control" })

                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Location </label>
                            <div class="col-md-2">
                                @Html.TextBoxFor(m => m.FBQ.Location, new { placeholder = "System Generated", @readonly = "true", @class = "required2 form-control" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">Date Range </label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.FBQ.FromDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.FBQ.FromDate).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.FBQ.ToDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.FBQ.ToDate).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                </div>

                <h4 class="form-section">Finalize Bill Details</h4>
                <div class="portlet-body clsMF flip-scroll">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                            <tr>
                                <th class="center">
                                    @Html.CheckBox("IsAllEnabled")
                                </th>
                                <th class="center">
                                    Bill No
                                </th>

                                <th class="center">
                                    Vendor Bill Date
                                </th>
                                <th class="center">
                                    Vendor
                                </th>
                                <th class="center">
                                    Total Amount
                                </th>
                                <th class="center">Branch </th>
                                <th class="center">
                                    Bill Type
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var itm in Model.ListFBD)
                            {
                                Html.RenderPartial("_FinalizeBillDetails", itm);
                            }

                            @if (Model.ListFBD.Count == 0)
                            {
                                <tr>  <td class="center" colspan="13"><b>No Records Found</b></td></tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="form-actions fluid">
                    <div class="col-md-offset-4 col-md-6">
                        <a href="@Url.Content("~/Payment/FinalizeBillQuery")" class="btn btn-sm default btnSubmit"><i class="fa fa-arrow-left"></i>&nbsp;Back to Criteria</a>
                        @if (Model.ListFBD.Count > 0)
                        {
                            <button type="button" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>




<script type="text/javascript">


    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);



            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {


                },
                messages: {


                    //'ServiceFor': {
                    //    required: "Please select at least one service for option",
                    //    minlength: jQuery.format("Please Select at Least One Service For Option")
                    //}
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    //if (element.parents('.checkbox-list').size() > 0) {
                    //    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    //} else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                    //}
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //  form1.submit();
                }
            });
        }


        var SubmitClick = function (DomainName) {


            $('#btnSubmit').click(function () {

                // alert($("#BILLMST_BILLAMT").val());

                var form = $('#form_sample');


                $(".help-block").remove();


                if (form.valid() == false) {
                    return false;
                }

                //   alert("Done");

                App.blockUI({ boxed: true });

                document.forms["form_sample"].submit();



            });

            $('.btnSubmit').click(function () {
                App.blockUI({ boxed: true });
            });
        }

        var SelectCheckBox = function (DomainName) {

            $(".clsDocketCheck").each(function () {

                var checked = $(this).is(":checked");

            });



        }

        var SelectAllCheckBox = function (DomainName) {


            $("#IsAllEnabled").live('change', function () {

                // alert("Heeell");

                var checked = jQuery(this).is(":checked");

                $(".clsDocketCheck").each(function () {
                    if (checked) {
                        $(this).attr("checked", true);
                        $(this).parents('span').addClass("checked");

                    } else {
                        $(this).attr("checked", false);
                        $(this).parents('span').removeClass("checked");
                    }
                });


                SelectCheckBox(DomainName);
            });


            $(".clsDocketCheck").live('change', function () {

                SelectCheckBox(DomainName);
            });

        }
        var chkChange = function () {
            var values = $('input:checkbox:checked.clsDocketCheck').map(function () {
                return $(this).data('id');
            }).get().join();
            $('#stringBIllNO').val(values);
            ($('input:checkbox:checked.clsDocketCheck').length > 0) ? $('#btnSubmit').show() : $('#btnSubmit').hide();
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {


                $('#btnSubmit').hide();
                Formvalidate(DomainName);

                SubmitClick(DomainName);

                SelectAllCheckBox(DomainName);
                $('.clsDocketCheck').change(function () {
                    chkChange();
                });

                $("#IsAllEnabled").live("change", function () {
                    $(".clsCHK").prop('checked', $(this).is(':checked'));
                    $("input:checkbox, input:radio").uniform();
                    chkChange();
                });


            }
        }
    }();


</script>