﻿@model FleetDataService.ViewModels.BABillEnty
@using Fleet
@using Fleet.ViewModels
@using Fleet.Classes
@using FleetDataService.ViewModels
@using FleetDataService.Models;
@using FleetDataService;
@{

    ViewBag.Title = "FuelBillEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";

    MasterService MS = new MasterService();
    PaymentService PS = new PaymentService();
    OperationService OS = new OperationService();
    GeneralFuncations GF = new GeneralFuncations();

    StaxTDSViewModel STVM = new StaxTDSViewModel();
    STVM.UserId = ViewBag.BaseUserName;
    STVM.GSTPercentage = Model.WVH.GSTPercentage;
    STVM.FiledNextAmount = "WVH.NETAMT";
    STVM.GSTType = Model.GSTType;
    STVM.ChargeType = "VBOE";

    STVM.IsDiscountEnabled = true;
    STVM.IsTDSDisplay = true;

    if (Model.BillEntryType == "6")
    {
        STVM.IsVATDisplay = true;
    }

    if (Model.BillEntryType == "7" || Model.BillEntryType == "5")
    {
        STVM.GSTPercentage = Model.WVH.GSTPercentage;
        STVM.GSTType = Model.WVH.GSTType;
        STVM.ChargeType = "GRNBILL";
        STVM.IsGSTDisplay = false;

        Model.CreditLedger = "UNS0004";
        Model.CreditLedgerName = OS.getAccountDesc("webx_acctinfo", Model.CreditLedger);

    }

    if (Model.BillEntryType == "8" || Model.BillEntryType == "9")
    {
        if (Model.FBE.BillType == "M")
        {
            Model.DebitLedger = "OOC0001";
            Model.DebitLedgerName = OS.getAccountDesc("webx_acctinfo", Model.DebitLedger);
        }
        else
        {
            Model.DebitLedger = "VOC0001";
            Model.DebitLedgerName = OS.getAccountDesc("webx_acctinfo", Model.DebitLedger);
        }

        Model.CreditLedger = "UNS0004";
        Model.CreditLedgerName = OS.getAccountDesc("webx_acctinfo", Model.CreditLedger);

        if (Model.BillEntryType == "8")
        {
            Model.TotDoc = "0";
            Model.TotAmt = "0";
        }

        if (Model.BillEntryType == "9")
        {
            Model.TotDoc = Model.JobList.Count().ToString();
            string SQL = "SELECT CAST(ISNULL(SUM(MonthlyAmount),0) AS NUMERIC(18,2)) AS MonthlyAmount FROM CYGNUS_HandlingCharge_Branch WHERE VendorCode='" + Model.WVH.VENDORCODE + "' AND IsMonthlyFixed=1 AND BranchCode='" + Model.FBE.Branch + "' AND LoadingBy IN (SELECT * FROM dbo.SplitString('" + Model.FBE.BillType + "',','))";
            System.Data.DataTable Dt = GF.GetDataTableFromSP(SQL);
            Model.TotAmt = Dt.Rows[0][0].ToString();
            STVM.StaxOnAmount = Convert.ToDecimal(Dt.Rows[0][0].ToString());
        }
    }

    if (Model.BillEntryType == "10" || Model.BillEntryType == "11")
    {

        Model.DebitLedger = "OOC0001";
        Model.DebitLedgerName = "Attached vendor";

        Model.CreditLedger = "UNS0004";
        Model.CreditLedgerName = OS.getAccountDesc("webx_acctinfo", Model.CreditLedger);

        if (Model.BillEntryType == "10")
        {
            Model.TotDoc = "0";
            Model.TotAmt = "0";
        }
    }
    
    
    if (Model.BillEntryType == "4" )
    {
        Model.CreditLedger = "UNS0004";
        Model.CreditLedgerName = OS.getAccountDesc("webx_acctinfo", Model.CreditLedger);

    }
    
    
    
    if(Model.BillEntryType == "13") // Connectivity Charge
    {
        VendorDetails objVendAccCode = PS.GetVendorTypeLedger(Model.FBE.VendorCode).FirstOrDefault();

        Model.DebitLedger = "VOC0004";
        Model.DebitLedgerName = OS.getAccountDesc("webx_acctinfo", Model.DebitLedger);

        Model.CreditLedger = objVendAccCode.Acccode;
        Model.CreditLedgerName = objVendAccCode.Accdesc;
    }

    List<SelectListItem> BlankList = new List<SelectListItem>();
    Model.WVH.BILLDT = System.DateTime.Now;

    Model.WVH.DUEDT = System.DateTime.Now;
    Model.WVH.VENDORBILLDT = System.DateTime.Now;

    objDate OD = new objDate();
    OD.ControlId = "WVH.BILLDT";
    OD.ControlValue = Model.WVH.BILLDT.ToString();
    OD.ModuleCode = "13";

    objDate OD1 = new objDate();
    OD1.ControlId = "WVH.VENDORBILLDT";
    OD1.ControlValue = Model.WVH.VENDORBILLDT.ToString();
    OD1.ModuleCode = "13";

    List<Webx_Master_General> listGeneralMaster = new List<Webx_Master_General>();
    listGeneralMaster = MS.GetGeneralMasterObject();

    string TurnOverSQL = "EXEC Usp_GetVendorTurnOver '" + Model.WVH.VENDORCODE + "'";
    System.Data.DataTable TurnOverDt = GF.GetDataTableFromSP(TurnOverSQL);
    string TurnOver = TurnOverDt.Rows[0]["TurnOver"].ToString();
    string TurnOverInWords = TurnOverDt.Rows[0]["TurnOverInWords"].ToString();
}

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@ViewBag.ModuleName
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("FuelBillEntrySubmit", "Payment", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                @if (Model.BillEntryType == "9" && ViewBag.MonthlyDone == "1")
                {
                    <div class="alert alert-danger">
                        <button class="close" data-close="alert"></button>
                        Bill already generated for this Month.
                    </div>
                }
                <h4 class="form-section"> Bill Entry Detail</h4>
                <div id="divStep1">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Bill Entry No. </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WVH.BILLNO, new { placeholder = "System Generated", @readonly = "true", @class = "required2 form-control" })
                                </div>
                            </div>
                        </div>
                        @Html.Hidden("CurrFinYear")
                        @Html.Hidden("BaseFinYear")
                        @Html.Hidden("FinYearEndDate")
                        @Html.Hidden("BaseLocationCode")
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Bill Date</label>
                                <div class="col-md-7">
                                    @{
                                        Html.RenderPartial("../UserControls/_DocumentDate", OD);
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 clsvendor">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vendor Type</label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(c => c.WVH.VENDORTYPE, new SelectList(listGeneralMaster.Where(c => c.CodeType.ToUpper() == "VENDTY" && c.StatusCode.ToUpper() == "Y").ToList(), "CodeId", "CodeDesc", Model.WVH.VENDORTYPE), "", new { @class = "form-control required required2", @placeholder = "Vendor Type", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vendor </label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(c => c.WVH.VENDORCODE, new SelectList(Model.WVHList, "VENDORCODE", "VENDORNAME"), "", new { @class = "form-control required required2 ", @placeholder = "Vendor " })
                                    @if (Model.FBE.BillType == "M" && (Model.BillEntryType == "8" || Model.BillEntryType == "9" || Model.BillEntryType == "10" || Model.BillEntryType == "11"))
                                    {
                                        <b>Market ~ Market Vendor</b>
                                        Model.FBE.VendorName = "Market Vendor";
                                    }
                                    @if ((Model.FBE.BillType == "A" || Model.FBE.BillType == "XX5") && (Model.BillEntryType == "8" || Model.BillEntryType == "9" || Model.BillEntryType == "10" || Model.BillEntryType == "11"))
                                    {
                                        <b>Attached ~ @Html.DisplayFor(c => c.FBE.VendorName)</b>
                                    }
                                    @Html.HiddenFor(c => c.WVH.VENDORNAME)
                                    @Html.HiddenFor(c => c.FBE.VendorCode)
                                    @Html.HiddenFor(c => c.FBE.VendorName)
                                    @Html.HiddenFor(c => c.FBE.BillType)
                                    @Html.HiddenFor(m => m.BillEntryType)
                                    @Html.HiddenFor(c => c.FBE.Branch)
                                    @Html.HiddenFor(c => c.WVH.StateCode)
                                    @Html.HiddenFor(c => c.WVH.GSTType)
                                    @Html.HiddenFor(c => c.FBE.DocType)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vendor Bill No.</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WVH.VENDORBILLNO, new { placeholder = "Vendor Bill No.", @class = "required2 required form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vendor Bill Date</label>
                                @*<div class="col-md-7">
                                        <div class="input-group date bkdate-picker">
                                            @Html.TextBoxFor(m => m.WVH.VENDORBILLDT, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.WVH.VENDORBILLDT).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>*@
                                <div class="col-md-7">
                                    @{
                                        Html.RenderPartial("../UserControls/_DocumentDate", OD1);
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Due Days</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WVH.DueDays, new { placeholder = "Due Days", @class = "required2 clsAmount form-control", @type = "number", @min = "1" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Due Date</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WVH.DUEDT, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.WVH.DUEDT).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        @*<div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Ref. No.</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.WVH.REFNO, new { placeholder = "Ref. No.", @class = "required2 form-control", @min = "1" })
                                    </div>
                                </div>
                            </div>*@
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Remark</label>
                                <div class="col-md-7">
                                    @Html.TextAreaFor(m => m.WVH.REMARK, new { placeholder = "narration", @class = "required2 form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5" style="padding-top:0px;">Credit Ledger </label>
                                <div class="col-md-7">
                                    @if (Model.BillEntryType == "7" || Model.BillEntryType == "8" || Model.BillEntryType == "9" || Model.BillEntryType == "10" || Model.BillEntryType == "11" || Model.BillEntryType == "13" || Model.BillEntryType == "4")
                                    {
                                        <b> @Model.CreditLedger</b>
                                        @Html.HiddenFor(c => c.CreditLedger)
                                        @Html.HiddenFor(c => c.DebitLedger)
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.CreditLedger, new { placeholder = "Credit Ledger", @class = "required2 form-control", @readonly = "true" })
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5" style="padding-top:0px;">Credit Ledger Name </label>
                                <div class="col-md-7">
                                    @if (Model.BillEntryType == "7" || Model.BillEntryType == "8" || Model.BillEntryType == "9" || Model.BillEntryType == "10" || Model.BillEntryType == "11" || Model.BillEntryType == "13" || Model.BillEntryType == "4")
                                    {
                                        <b> @Model.CreditLedgerName</b>
                                        @Html.HiddenFor(c => c.CreditLedgerName)
                                        @Html.HiddenFor(c => c.DebitLedgerName)
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.CreditLedgerName, new { placeholder = "Credit Ledger", @class = "required2 form-control", @readonly = "true" })
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Turn Over </label>
                                <label class="control-label col-md-7" style="text-align:left;">
                                    <b>Rs. @TurnOver /-</b>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Loading Charge </label>
                                <label class="control-label col-md-7" style="text-align:left;">
                                    <b>@Html.DisplayFor(c => c.FBE.BillType)</b>
                                    <b>@Html.DisplayFor(c => c.FBE.BillType)</b>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @if (Model.BillEntryType == "8" || Model.BillEntryType == "9" || Model.BillEntryType == "10" || Model.BillEntryType == "11" || Model.BillEntryType == "13")
                        {
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Total Document </label>
                                    <div class="col-md-7">

                                        @Html.TextBoxFor(c => c.TotDoc, new { placeholder = "Total Document", @class = "form-control required2", @readonly = "true", @min = "1" })

                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.BillEntryType == "8" || Model.BillEntryType == "9" || Model.BillEntryType == "10" || Model.BillEntryType == "11" || Model.BillEntryType == "13")
                        {
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Total Amount </label>
                                    <div class="col-md-7">
                                        @if (Model.BillEntryType == "8" || Model.BillEntryType == "10" || Model.BillEntryType == "13")
                                        {
                                            @Html.TextBoxFor(c => c.TotAmt, new { placeholder = "Total Amount", @class = "form-control required2", @readonly = "true" })
                                        }
                                        @if (Model.BillEntryType == "9" || Model.BillEntryType == "11")
                                        {
                                            @Html.TextBoxFor(c => c.TotAmt, new { placeholder = "Total Amount", @class = "form-control required2", @min = "1", @max = Model.TotAmt, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                            @Html.HiddenFor(c => c.WVH.BillGENMonth)
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                @if (Model.BillEntryType == "4" || Model.BillEntryType == "5")
                {
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">UPLOAD IMAGE</label>
                                <div class="col-md-8">
                                    <div class="col-md-12" data-title="Upload Document">
                                        <div class="fileinput fileinput-new  col-md-9" id="divfileupload_@Model.WVH.Image" data-provides="fileinput">
                                            <input type="hidden" value="@Model.WVH.Image" name="files">
                                            <div class="fileinput-new thumbnail imgDefault col-md-6 center" style="max-width: 120px; max-height: 115px; line-height: 10px;">
                                                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail imgExists col-md-6" style="max-width: 120px; max-height: 115px; line-height: 10px;">
                                                <img src="D:/SRLApplicationCode/POD/OtherBillEntry/@Model.WVH.Image" alt="">

                                            </div>
                                            <div class="col-md-3" style="width: 50px;height:50px;">
                                                <span class="btn default btn-file">
                                                    <span class="fileinput-new imgDefault">
                                                        Select File
                                                    </span>
                                                    <span class="fileinput-exists imgExists">
                                                        Change File
                                                    </span>
                                                    <input type="file" id="@Model.WVH.BILLNO" name="files" class="default">
                                                </span><br>
                                                <a href="#" class="btn default fileinput-exists imgExists" data-dismiss="fileinput" style="margin-top:5px">
                                                    Remove File
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.BillEntryType == "1")
                {
                    <h4 class="form-section">Trisheet Details</h4>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label col-md-5">No Of Rows </label>
                                <div class="col-md-7">
                                    @Html.TextBox("InvoiceRows", "0", new { placeholder = "Private Mark", @class = "input-small required2 form-control required" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <a id="btnAddRows" class="btn  @ViewBag.TableBoxColor right">
                                Add New Row <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                        <div class="col-md-5"></div>
                    </div>

                    <div class="portlet-body clsMF flip-scroll">
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        Sr.No.
                                    </th>
                                    <th class="center">
                                        Manual Tripsheet No.
                                    </th>
                                    <th class="center">
                                        Place /Vehicle No.
                                    </th>
                                    <th class="center">
                                        Fuel Type
                                    </th>
                                    <th class="center">
                                        Last/Current KM
                                    </th>
                                    <th class="center">
                                        Slip No.
                                    </th>
                                    <th class="center">
                                        Slip Date
                                    </th>
                                    <th class="center">Diesel (ltrs)</th>
                                    <th class="center">
                                        Diesel Rate/litres
                                    </th>
                                    <th class="center">Amount</th>
                                    <th class="center">Amount Approved </th>
                                    @*By Fleet Executive*@
                                    <th class="center">Remarks</th>
                                </tr>
                            </thead>
                            <tbody id="Bodycontainer">

                                @foreach (var itm in Model.TripsheetList)
                                {
                                    Html.RenderPartial("_FuelBillEntryTriplsheet", itm);
                                }

                                @if (Model.TripsheetList.Count == 0)
                                {
                                    <tr>  <td class="center" colspan="13"><b>No Records Found</b></td></tr>
                                }
                            </tbody>
                            <tr>
                                <td colspan="8"></td>
                                <td><b>Total</b></td>
                                <td>
                                    <div class="form-group" style="margin-bottom: 0px; padding-bottom: 2px; padding-top: 2px;">
                                        <div class="col-md-11">
                                            @Html.TextBoxFor(m => m.TotalDisealAmount, new { placeholder = "Diseal Amount", @readonly = "true", @class = "required2 input-xsmall clsAmount form-control", @min = "1" })
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group" style="margin-bottom: 0px; padding-bottom: 2px; padding-top: 2px;">
                                        <div class="col-md-11">
                                            @Html.TextBoxFor(m => m.TotalApprovedDisealAmount, new { placeholder = "Approved Diseal Amount", @readonly = "true", @class = "required2 input-xsmall clsAmount form-control", @min = "1", @type = "number" })
                                        </div>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                }
                else if (Model.BillEntryType == "2")
                {
                    <h4 class="form-section">Trisheet/@ViewBag.THCCalledAs Details</h4>
                    <div class="portlet-body clsMF flip-scroll">
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        @Html.CheckBox("IsAllEnabled")
                                    </th>
                                    @*<th class="center">
                                        Sr.No.
                                     </th>*@
                                    <th class="center">
                                        Slip No.
                                    </th>
                                    <th class="center">
                                        Vehicle No.
                                    </th>
                                    <th class="center">
                                        Last Km Reading
                                    </th>
                                    <th class="center">
                                        Current Km Reading
                                    </th>
                                    <th class="center">
                                        Slip Date
                                    </th>
                                    <th class="center">
                                        TripSheet No/ @ViewBag.THCCalledAs No.
                                    </th>
                                    <th class="center">
                                        Date of Fuel Fill
                                    </th>
                                    <th class="center">
                                        Quantity
                                    </th>
                                    <th class="center">
                                        Rate
                                    </th>
                                    <th class="center">
                                        Amount
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="Bodycontainer">
                                @foreach (var itm in Model.FuelTripsheetList)
                                {
                                    Html.RenderPartial("_FuelSlipTriplsheet", itm);
                                }

                                @if (Model.TripsheetList.Count == 0)
                                {
                                    <tr>  <td class="center" colspan="13"><b>No Records Found</b></td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else if (Model.BillEntryType == "4")
                {
                    <h4 class="form-section">Ledger Details</h4>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label col-md-5">No Of Rows </label>
                                <div class="col-md-7">
                                    @Html.TextBox("LedgerRows", "0", new { placeholder = "Private Mark", @class = "input-small required2 form-control required" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <a id="btnAddRows1" class="btn  @ViewBag.TableBoxColor right">
                                Add New Row <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                    <div class="portlet-body clsMF flip-scroll">
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center col-md-1">
                                        Sr.No.
                                    </th>
                                    <th class="center col-md-2">
                                        Ledger
                                    </th>
                                    <th class="center col-md-4">
                                        Ledger Name
                                    </th>

                                    <th class="center col-md-2">
                                        Amount
                                    </th>
                                    <th class="center col-md-3">
                                        Narration
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="Bodycontainer1">

                                @foreach (var itm in Model.LedgerList)
                                {
                                    Html.RenderPartial("_OtherBillEntryLedger", itm);
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else if (Model.BillEntryType == "5")
                {
                    <h4 class="form-section">PO Details</h4>
                    <div class="portlet-body clsMF flip-scroll">
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        @Html.CheckBox("IsAllEnabledPO")
                                    </th>
                                    <th class="center">
                                        PO Code
                                    </th>
                                    <th class="center">
                                        PO Date
                                    </th>
                                    <th class="center">
                                        Adv. Voucher No
                                    </th>
                                    <th class="center">
                                        Adv. VoucherNo Date
                                    </th>
                                    <th class="center">
                                        Advance Paid Amount
                                    </th>
                                    <th class="center">
                                        Total Amount
                                    </th>
                                    <th class="center">
                                        Pending Amount
                                    </th>

                                    <th class="center">
                                        GRN SubTotal
                                    </th>
                                    <th class="center">
                                        GST Tax Amount
                                    </th>
                                    <th class="center">
                                        GRN Other Charges
                                    </th>

                                    <th class="center">
                                        Bill Amount
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="Bodycontainer5">
                                @foreach (var itm in Model.POList)
                                {
                                    Html.RenderPartial("_POBillEntry", itm);
                                }
                                @if (Model.TripsheetList.Count == 0)
                                {
                                    <tr>  <td class="center" colspan="13"><b>No Records Found</b></td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else if (Model.BillEntryType == "6")
                {
                    <h4 class="form-section">JOB Order Details</h4>
                    <div class="portlet-body clsMF flip-scroll">
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        @Html.CheckBox("IsAllEnabledJOB")
                                    </th>
                                    <th class="center">
                                        Job Order No.
                                    </th>
                                    <th class="center">
                                        Job Order  Date
                                    </th>

                                    <th class="center">
                                        Job Order Close Date
                                    </th>
                                    <th class="center">
                                        Job Card Type
                                    </th>
                                    <th class="center">
                                        Vehicle No.
                                    </th>
                                    <th class="center">
                                        Total Labour Cost
                                    </th>
                                    <th class="center">
                                        Total Part Cost
                                    </th>
                                    @*Start New Part GST Change Chirag D*@
                                    <th class="center">
                                        Total GST On Parts
                                    </th>
                                    @*End New Part GST Change Chirag D*@
                                    <th class="center">
                                        Total Job Cost
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="Bodycontainer6">
                                @foreach (var itm in Model.JobList)
                                {
                                    Html.RenderPartial("_JOBBillEntry", itm);
                                }

                                @if (Model.JobList.Count == 0)
                                {
                                    <tr>  <td class="center" colspan="9"><b>No Records Found</b></td></tr>
                                }
                            </tbody>
                            <tbody>
                                <tr>
                                    <td colspan="6"></td>
                                    <td>
                                        @Html.TextBoxFor(m => m.TotalLabourAmount, new { placeholder = "Labour", @class = "required2 form-control", @min = "0", @readonly = "true" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.TotalPartAmount, new { placeholder = "Parts", @class = "required2 form-control", @min = "0", @readonly = "true" })
                                    </td>
                                    @*Start New Part GST Change Chirag D*@
                                    <td>
                                        @Html.TextBoxFor(m => m.WVH.TotPartGST, new { placeholder = "Tot Part GST", @class = "required2 form-control", @min = "0", @readonly = "true" })
                                    </td>
                                    @*End New Part GST Change Chirag D*@
                                    <td>
                                        @Html.TextBoxFor(m => m.TotalJobCost, new { placeholder = "Total Job Cost", @class = "required2 form-control", @min = "1", @readonly = "true" })
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }

                else if (Model.BillEntryType == "7")
                {
                    <h4 class="form-section">GRN Details</h4>
                    <div class="portlet-body clsMF flip-scroll">
                        <table class="table table-striped table-bordered table-hover table-full-width center" id="Sample1">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        @Html.CheckBox("IsAllEnabledGRN")
                                    </th>
                                    <th class="center">
                                        GRN No.
                                    </th>
                                    <th class="center">
                                        GRN Date
                                    </th>
                                    <th class="center">
                                        Manual GRN NO.
                                    </th>
                                    <th class="center">
                                        GRN Branch
                                    </th>
                                    <th class="center">
                                        Vendor
                                    </th>
                                    <th class="center">
                                        PO Total Amount
                                    </th>
                                    <th class="center">
                                        Pending Amount
                                    </th>
                                    <th class="center">
                                        Advance Paid Amount
                                    </th>
                                    <th class="center">
                                        GRN Amount
                                    </th>
                                    <th class="center">
                                        GRN SubTotal
                                    </th>
                                    <th class="center">
                                        GST on GRN Amount
                                    </th>
                                    <th class="center">
                                        GRN Other Charges
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="Advice">
                                @foreach (var item in Model.GRNList)
                                {
                                    Html.RenderPartial("_POGRNBillEntryList", item);
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else if (Model.BillEntryType == "8" || Model.BillEntryType == "9")
                {
                    <h4 class="form-section">Loading / Unloading Document Details</h4>
                    <div class="portlet-body clsMF flip-scroll">
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        @Html.CheckBox("IsAllEnabledPO")
                                    </th>
                                    <th class="center">
                                        TripSheet No/ THC No.
                                    </th>
                                    @*<th class="center">
                                            Document Type
                                        </th>
                                        <th class="center">
                                            Date
                                        </th>*@

                                    <th class="center">
                                        Document Type
                                    </th>
                                    <th class="center">
                                        Status
                                    </th>

                                    <th class="center">
                                        Vendor Name
                                    </th>

                                    <th class="center">
                                        Package
                                    </th>
                                    <th class="center">
                                        Package Loaded
                                    </th>
                                    <th class="center">
                                        Actual Loaded Weight
                                    </th>
                                    <th class="center">
                                        Charge Weight
                                    </th>

                                    <th class="center">
                                        Rate
                                    </th>
                                    <th class="center">
                                        Total Amount
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="Bodycontainer7">

                                @foreach (var itm in Model.JobList)
                                {
                                    Html.RenderPartial("_LOADBillEntry", itm);
                                }

                                @if (Model.JobList.Count == 0)
                                {
                                    <tr>  <td class="center" colspan="13"><b>No Records Found</b></td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else if (Model.BillEntryType == "10" || Model.BillEntryType == "11")
                {
                    <h4 class="form-section">PRS / DRS /THC  Document Details</h4>
                    <div class="portlet-body clsMF flip-scroll">
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        @Html.CheckBox("IsAllEnabledPO")
                                    </th>

                                    @if (Model.FBE.DocType == "P" || Model.FBE.DocType == "D")
                                    {
                                        <th class="center">
                                            DRS No/ PRS No.
                                        </th>
                                        <th class="center">
                                            Document Type
                                        </th>
                                        <th class="center">
                                            Branch
                                        </th>

                                        <th class="center">
                                            Vendor Name
                                        </th>
                                        <th class="center">
                                            Contra Amount
                                        </th>
                                    }
                                    else

                                    {
                                        <th class="center">
                                            THC No.
                                        </th>
                                        <th class="center">
                                            Document Type
                                        </th>
                                        <th class="center">
                                            Branch
                                        </th>
                                        <th class="center">
                                            Vendor Name
                                        </th>
                                        <th class="center">
                                            Contra Amount
                                        </th>
                                    }


                                </tr>
                            </thead>
                            <tbody id="Bodycontainer7">

                                @foreach (var itm in Model.PRSDRSList)
                                {
                                    //itm.DocType = Model.FBE.DocType;
                                    Html.RenderPartial("_PRSDRSAttachedvendorBill", itm);
                                }

                            </tbody>
                        </table>
                    </div>
                }
                else if (Model.BillEntryType == "13") //Connecticity Charge
                {
                    <h4 class="form-section">@ViewBag.ModuleName</h4>
                    <div class="portlet-body clsMF flip-scroll">
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        @Html.CheckBox("IsAllEnabledConnecticity")
                                    </th>
                                    <th class="center">
                                        Document No
                                    </th>
                                    <th class="center">
                                        Document Date
                                    </th>
                                    <th class="center">
                                        Branch Code
                                    </th>
                                    <th class="center">
                                        Route Name
                                    </th>
                                    <th class="center">
                                        Vehicle No
                                    </th>
                                    <th class="center">
                                        Run KMs
                                    </th>
                                    <th class="center">
                                        Actual Weight
                                    </th>
                                    <th class="center">
                                        Rate Type
                                    </th>

                                    <th class="center">
                                        Rate
                                    </th>
                                    <th class="center">
                                        Total Amount
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="Bodycontainer7">

                                @foreach (var itm in Model.ConnectivityTHCList)
                                {
                                    Html.RenderPartial("_ConnectivityTHCList", itm);
                                }

                                @if (Model.ConnectivityTHCList.Count == 0)
                                {
                                    <tr>  <td class="center" colspan="13"><b>No Records Found</b></td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

                @*Start New Part GST Change Chirag D*@
                @if (Model.BillEntryType == "6")
                {
                    <h4 class="form-section">GST ON Part</h4>

                    <div class="row">
                        <div class="col-md-4" id="PCGSTAmount">
                            <div class="form-group">
                                <label class="control-label col-md-5">CGST</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.WVH.PCGSTAmount, new { placeholder = "CGST Amount", @class = "required2 form-control", @number = "true", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" id="PSGSTAmount">
                            <div class="form-group">
                                <label class="control-label col-md-5">SGST</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.WVH.PSGSTAmount, new { placeholder = "SGST Amount", @class = "required2 form-control", @number = "true", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" id="PUTGSTAmount">
                            <div class="form-group">
                                <label class="control-label col-md-5">UTGST</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.WVH.PUTGSTAmount, new { placeholder = "UTGST Amount", @class = "required2 form-control", @number = "true", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" id="PIGSTAmount">
                            <div class="form-group">
                                <label class="control-label col-md-5">IGST</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.WVH.PIGSTAmount, new { placeholder = "IGST Amount", @class = "required2 form-control", @number = "true", @readonly = "true" })
                                </div>
                            </div>
                        </div>

                    </div>
                }
                @*End New Part GST Change Chirag D*@
                @*@if (Model.BillEntryType == "4")
                {
                    <div class="row clsisGSTReverse">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-5 chkactive">
                                    <h4>@Html.CheckBoxFor(m => m.WVH.isGSTReverse, new { @class = "isGSTReverse" }) <b>Check if GST Reverse</b></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                }*@
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-5 chkactive">
                                @if (Model.WVH.isGSTReverse == true)
                                {
                                    <h4><b>Reverse GST Applied.</b></h4>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.BillEntryType == "7" || Model.BillEntryType == "5" || Model.BillEntryType == "13")
                {
                    @Html.CheckBoxFor(m => m.WVH.isGSTReverse)
                    @Html.HiddenFor(m => m.WVH.isGSTReverse)
                }
                <div class="row">
                    <div class="col-md-11">
                        @{Html.RenderPartial("../UserControls/_GSTTDSControl", STVM);}
                    </div>
                </div>

                @if (Model.TripsheetList.Count > 0)
                {
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="button" id="btnSubmit" class="btn btn-sm blue controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                }
            </div>
                            }
    </div>
</div>
<script src="~/Scripts/Payments/FuelBillEntry.js?ver<%=DateTime.Now.Ticks.ToString()%" type="text/javascript"></script>
<script>

    function pageLevelCallbackFunction() {

        /* GRN Bill Entry Start */
        if ('@Model.BillEntryType' == '7') {
            var totalOtherCharges = 0;

            $('.clsGRNCheck:checkbox:checked').each(function () {
                var netAmtId = $(this).attr("id").replace("IsChecked", "GRNOtherCharges");
                totalOtherCharges += parseFloat($("#" + netAmtId).val());
            });

            $('#WVH_NETAMT').val(parseFloat(Math.round(parseFloat($('#WVH_NETAMT').val()) + parseFloat(totalOtherCharges))).toFixed(2));
        }

        if ('@Model.BillEntryType' == '5') {
            var totalPOOtherCharges = 0;
            var totalAdvAmount = 0;

            $('.clsPOCheck:checkbox:checked').each(function () {
                var netPOAmtId = $(this).attr("id").replace("IsEnabled", "OtherCharge");
                totalPOOtherCharges += parseFloat($("#" + netPOAmtId).val());

                var advAmount = $(this).attr("id").replace("IsEnabled", "PaidAmt");
                totalAdvAmount += parseFloat($("#" + advAmount).val());
            });

         
            //$('#WVH_NETAMT').val(parseFloat(Math.round(parseFloat($('#WVH_NETAMT').val()) + parseFloat(totalPOOtherCharges) - parseFloat(totalAdvAmount))).toFixed(2));

            $('#WVH_NETAMT').val(parseFloat(Math.round(parseFloat($('#WVH_NETAMT').val())  - parseFloat(totalAdvAmount))).toFixed(2));
        }

        @*Start New Part GST Change Chirag D*@
        if ('@Model.BillEntryType' == '6') {
            var totalJobCharges = 0;

            $('.clsJOBCheck:checkbox:checked').each(function () {
                var netJobAmtId = $(this).attr("id").replace("IsEnabled", "TOT_Part_GST_COST");
                totalJobCharges += parseFloat($("#" + netJobAmtId).val());
            });

            $('#WVH_NETAMT').val(parseFloat(Math.round(parseFloat($('#WVH_NETAMT').val()) + parseFloat(totalJobCharges))).toFixed(2));
        }
        @*End New Part GST Change Chirag D*@
        /* GRN Bill Entry Start */
    }
</script>