﻿@model FleetDataService.ViewModels.BillEntryCriteria
@using FleetDataService.Models;
@{
	ViewBag.Title = "Bill Entry Criteria";
	Layout = "~/Views/Shared/_Layout.cshtml";

	string dtRange = "hide";
	if (Model.FilterType == "5")
	{
		dtRange = "Show";
	}

	FleetDataService.MasterService MS = new FleetDataService.MasterService();
	List<Webx_State> Webx_StateList = new List<Webx_State>();
	//List<Webx_State> Webx_StateList = MS.GetStateMasterObject().Where(m => m.gstStateCode != "" && m.statePrefix != "").ToList();
	List<Webx_Master_General> lstGeneral = MS.GetGeneralMasterObject().OrderBy(c => c.CodeDesc).ToList();


	List<SelectListItem> ListExpenseType = new List<SelectListItem>(){
			//new SelectListItem { Text = "Select", Value = "0", Selected = true},
			new SelectListItem { Text = "Fixed", Value = "F"},
			new SelectListItem { Text = "Variable", Value = "V"},
		   };
}
<div class="row">
	<div class="col-md-10">
		<div class="portlet box @ViewBag.TableBoxColor ">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-filter"></i>@ViewBag.Title
				</div>
			</div>

			<div class="portlet-body form">
				<div class="form-body">
					<div class="alert alert-danger display-hide">
						<button class="close" data-close="alert"></button>
						You have some form errors. Please check below.
					</div>
					<div class="alert alert-success display-hide">
						<button class="close" data-close="alert"></button>
						Your form validation is successful!
					</div>

					@using (Html.BeginForm("FuelBillEntry", "Payment", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
					{
						@Html.HiddenFor(c => c.FilterType)

						@Html.HiddenFor(c => c.FromDate)
						@Html.HiddenFor(c => c.ToDate)
						<div class="form-group @dtRange">
							<label class="control-label col-md-2">
								Select Date :
							</label>
							<div class="col-md-4">
								<div id="reportrange" class="btn default col-md-12">
									<i class="fa fa-calendar"></i>
									&nbsp;
									<span></span>
									<b class="fa fa-angle-down"></b>
								</div>
							</div>
						</div>

						<div class="form-group ">
							<label class="control-label col-md-2">
								GST Type :
							</label>
							<div class="col-md-4">
								@Html.DropDownListFor(c => c.GSTType, new SelectList(lstGeneral.Where(c => c.CodeType == "GSTTYPE" && c.StatusCode == "Y" && c.CodeId != "SVC"), "CodeId", "CodeDesc", "N"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select GST Type" })
							</div>
						</div>

						@*<div class="form-group ">
								<label class="control-label col-md-2">
									State Code :
								</label>
								<div class="col-md-4">
									@Html.DropDownListFor(c => c.StateCode, new SelectList(Webx_StateList, "statePrefix", "stnm"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select State" })
								</div>
							</div>*@

						if (Model.FilterType == "3" || Model.FilterType == "4" || Model.FilterType == "5")
						{
							<div class="form-group ">
								<label class="control-label col-md-2">
									GST Percentage :
								</label>
								<div class="col-md-4">
									@Html.DropDownListFor(c => c.GSTPercentage, new SelectList(lstGeneral.Where(c => c.CodeType.ToUpper() == "GSTPER" && c.StatusCode == "Y").OrderBy(c => int.Parse(c.CodeDesc)), "CodeDesc", "CodeDesc"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select GST Percentage" })
								</div>
							</div>
						}
						if (Model.FilterType == "3")
						{
							<div class="form-group ">
								<label class="control-label col-md-2">
									Select Expense Type :
								</label>
								<div class="col-md-4">
									@Html.DropDownListFor(c => c.ExpenseType, new SelectList(ListExpenseType, "Value", "Text"), "", new { @class = "form-control select2", @placeholder = "Select Expense Type" })
								</div>
							</div>

							<div class="form-group" id="dv_Fixed">
								<label class="control-label col-md-2">
									Select Expense Heads :
								</label>
								<div class="col-md-4">
									<div class="col-md-4 chkactive">
										@Html.CheckBoxFor(m => m.StatutoryExpens, new { @class = "form-control" })
										<label>  Statutory Expense</label>
									</div>

									<div class="col-md-4 chkactive">
										@Html.CheckBoxFor(m => m.CrewSalaryExpense, new { @class = "form-control" })
										<label>   Crew Salary Expense</label>
									</div>

									<div class="col-md-5 chkactive">
										@Html.CheckBoxFor(m => m.VehicleTrackingServiceExpense, new { @class = "form-control" })
										<label>   Vehicle Tracking Service Expense</label>
									</div>

									<div class="col-md-4 chkactive">
										@Html.CheckBoxFor(m => m.FinancialExpense, new { @class = "form-control" })
										<label>   Financial Expense</label>
									</div>
								</div>
							</div>

							<div class="form-group" id="dv_Variable">
								<label class="control-label col-md-2">
									Select Expense Heads :
								</label>
								<div class="col-md-4">
									<div class="col-md-5 chkactive">
										@Html.CheckBoxFor(m => m.RepairMaintenanceExpense, new { @class = "form-control" })
										<label>   Repair & Maintenance Expense</label>
									</div>
								</div>
							</div>
						}

						<div class="form-group ">
							<label class="control-label col-md-2">
								Vendor :
							</label>
							<div class="col-md-4">
								@Html.TextBoxFor(c => c.VendorCode, new { placeholder = "Select Vendor", @class = "form-control required required2" })
								@Html.HiddenFor(c => c.VendorCode)
							</div>
						</div>

						<div class="form-actions fluid">
							<div class="row">
								<div class="col-md-offset-3 col-md-9">
									<button type="submit" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-search"></i>&nbsp;Search</button>
								</div>
							</div>
						</div>
					}

				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var FormComponents = function (DomainName) {

		var Formvalidate = function (DomainName) {

			var form1 = $('#form_sample');
			var error1 = $('.alert-danger', form1);
			var success1 = $('.alert-success', form1);

			form1.validate({
				doNotHideMessage: true,
				errorElement: 'span', //default input error message container
				errorClass: 'help-block', // default input error message class
				// errorClass: 'validate-inline',
				focusInvalid: false, // do not focus the last invalid input


				rules: {

				},
				messages: {

					//'ServiceFor': {
					//    required: "Please select at least one service for option",
					//    minlength: jQuery.format("Please Select at Least One Service For Option")
					//}
				},
				errorPlacement: function (error, element) { // render error placement for each input type
					//if (element.parents('.checkbox-list').size() > 0) {
					//    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
					//} else {
					error.insertAfter(element); // for other inputs, just perform default behavior
					//}
				},
				invalidHandler: function (event, validator) { //display error alert on form submit
					success1.hide();
					error1.show();
					App.scrollTo(error1, -200);
				},
				highlight: function (element) { // hightlight error inputs
					$(element)
						.closest('.form-group').addClass('has-error'); // set error class to the control group
				},
				unhighlight: function (element) { // revert the change done by hightlight
					$(element)
						.closest('.form-group').removeClass('has-error'); // set error class to the control group
				},
				success: function (label) {
					label
						.closest('.form-group').removeClass('has-error'); // set success class to the control group
				},
				submitHandler: function (form) {
					success1.show();
					error1.hide();
					// form1.submit();
				}
			});
		}

	var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }

            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                minDate: '01/01/2012',
                //maxDate: '12/31/2014',

                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },
                //function (start, end) {
                //    console.log("Callback has been called!");
                //    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                //}
                 function (start, end) {

                     $('#FromDate').val(start.format('MMMM D, YYYY'));
                     $('#ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                     //alert("Callback has been called!" + $('#FromDate').val() + " " + $('#ToDate').val());
                     //$('#reportrange span').html(start.toString('@ViewBag.DefaultJqueryDateFormat') + ' - ' + end.toString('@ViewBag.DefaultJqueryDateFormat'));
                 }

            );
            //Set the initial state of the picker label
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

            $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ToDate').val(moment().format('MMMM D, YYYY'));

        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
				FormValidate();
				handleDateRangePickers();
                $("#GSTPercentage").val("0");
                $("#GSTPercentage").removeClass("required");
                $('#GSTPercentage').attr("disabled", true);
                $("#GSTType").on('change', function () {
                    if ($(this).val() == "N") {
                        $("#GSTPercentage").val("0");
                        $('#GSTPercentage').attr("disabled", true);
                        $("#GSTPercentage").removeClass("required");
                    }
                    else {
                        $("#GSTPercentage").attr("disabled", false);
                        $("#GSTPercentage").addClass("required");
                    }
                });

                 $("#ExpenseType").on('change', function () {

                    if($(this).val() =="")
                    {
                        $("#dv_Fixed").hide();
                        $("#dv_Variable").hide();
                    }
                    else if ($(this).val() == "F") {
                        $("#dv_Fixed").show();
                        $("#dv_Variable").hide();
                    }
                    else {
                        $("#dv_Variable").show();
                        $("#dv_Fixed").hide();
                    }
                });

                var expenseType = $("#ExpenseType").val();
                if(expenseType=="")
                {
                      $("#dv_Fixed").hide();
                        $("#dv_Variable").hide();
                }
                GetVendorName("VendorCode");

                if($("#FilterType").val()=="3")
                {
                      $("#ExpenseType").addClass("required required2");
                }

                $("#btnSubmit").on('click', function () {
                    if($("#FilterType").val()=="3")
                    {
                        var expenseType=$("#ExpenseType").val();

                        var StatutoryExpens = $('#StatutoryExpens').is(':checked');
                        var CrewSalaryExpense = $('#CrewSalaryExpense').is(':checked');
                        var VehicleTrackingServiceExpense = $('#VehicleTrackingServiceExpense').is(':checked');
                        var FinancialExpense = $('#FinancialExpense').is(':checked');
                        var RepairMaintenanceExpense = $('#RepairMaintenanceExpense').is(':checked');
                        if(expenseType=="F")
                        {
                            if(!StatutoryExpens && !CrewSalaryExpense && !VehicleTrackingServiceExpense && !FinancialExpense)
                            {
                                alert("Please Select Atleast One Expense")
                                return false;
                            }
                        }
                        if(expenseType=="V" && !RepairMaintenanceExpense)
                        {
                            alert("Please select Repair & Maintenance Expense")
                            return false;
                        }
                    }
                });

            }


        };
    }();



</script>
