﻿@model FleetDataService.ViewModels.GRNBillEntryViewModel
@{
    ViewBag.Title = "GRN Bill Entry List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a class="btn btn-xs default btnNumber" href="@Url.Content("~/Payment/FuelBillEntry/7")">
                        <i class="fa fa-arrow-left"> </i>
                        Back To Criteria
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                   
                    <table class="table table-striped table-bordered table-hover table-full-width center" id="Sample1">
                        <thead class="flip-content">
                            <tr>
                                <th class="center">
                                    PO No.
                                </th>
                                <th class="center">
                                    Manual PO No.
                                </th>
                                <th class="center">
                                    PO Date
                                </th>
                                <th class="center">
                                    Vendor Code & Name
                                </th>
                                <th class="center">
                                    PO QTY
                                </th>
                                <th class="center">
                                    PO Amount
                                </th>
                                <th class="center">
                                    GRN QTY
                                </th>
                                <th class="center">
                                    According to GRN<br /> Payable Amount
                                </th>
                                <th class="center">
                                    Advance<br />Amount
                                </th>
                                <th class="center">
                                    Balance<br />Amount
                                </th>
                                <th class="center">
                                    Assign
                                </th>
                            </tr>
                        </thead>
                        <tbody id="Advice">
                            @foreach (var item in Model.GRNList)
                            {
                                <tr>
                                    <td>
                                        @item.POCode
                                    </td>
                                    <td>
                                        @item.Manual_PO_No
                                    </td>
                                    <td>
                                        @item.PODT
                                    </td>
                                    <td>
                                        @item.VendorName
                                    </td>
                                    <td>
                                        @item.POQTY
                                    </td>
                                    <td>
                                        @item.totalamt
                                    </td>
                                    <td>
                                        @item.GRNQTY
                                    </td>
                                    <td>
                                        @item.GRNAmt
                                    </td>
                                    <td>
                                        @item.PO_advamt
                                    </td>
                                    <td>
                                        @item.PO_balamt
                                    </td>
                                    <td>
                                        <a href="@Url.Content("~/Payment/POGRNBillEntryList?StateCode=" + Model.StateCode + "&GSTType=" + Model.GSTType + "&PONo=" + item.GRNNO + "&Vendorcode=" + item.VendorCode + "&MatCatAcctHead=" + item.MatCatAcctHead + "&isGSTReverse=" + Model.isGSTReverse)" class="btn btn-xs default blue-stripe btnNumber">Assign</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Events = function (DomainName) {
            $('.btnNumber').click(function () {
                App.blockUI({ boxed: true });
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Events(DomainName);
                initTableById("Sample1");
            }
        }
    }();
</script>