﻿@{
    ViewBag.Title = "GRN Bill Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model  FleetDataService.ViewModels.FuelBillEntyQuery

<div class="row">
    <div class="col-md-10">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body form">
                @using (Html.BeginForm("GRNBillEntryList", "Payment", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
                {
                    @Html.Hidden("Id", 7)
                    {
                        Html.RenderPartial("../UserControls/_POGRNBillEntry", Model);
                    }
                }
            </div>
        </div>
    </div>
</div>