﻿@model Fleet.ViewModels.OctroiAgentBillViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    ViewBag.Title = "GRN View/Print Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-8">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
            </div>

            <div class="portlet-body">
                <div class="form-body">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-hide">
                        <button class="close" data-close="alert"></button>
                        Your form validation is successful!
                    </div>

                    @using (Html.BeginForm("GRNViewPrintList", "Payment", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
                    {
                        {
                            Html.RenderPartial("../UserControls/_GRNViewPrintFilter", Model);
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
