﻿@model Fleet.ViewModels.OctroiAgentBillViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    ViewBag.Title = "GRN View Print List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" id="divList">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a class="btn default btn-xs btnBack" href="@Url.Content("~/Payment/GRNViewPrintCriteria")">
                        <i class="fa fa-arrow-left"> </i>
                        Back To Criteria
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <table class="table table-striped table-bordered table-hover" id="Sample1">
                        <thead class="flip-content">
                            <tr>
                                <th class="center">
                                    GRN Code
                                </th>
                                <th class="center">
                                    Manual GRN
                                </th>
                                <th class="center">
                                    GRN Date
                                </th>
                                <th class="center">
                                    Vendor Name
                                </th>
                                <th class="center">
                                    Total Qty.
                                </th>
                                <th class="center">
                                    Received Qty.
                                </th>
                                <th class="center">
                                    Total Amt.
                                </th>
                                <th class="center">
                                    GRN Status
                                </th>
                                <th class="center">
                                    View /  Print
                                </th>
                            </tr>
                        </thead>
                        <tbody id="Advice">
                            @foreach (var item in Model.ListGRNViewPrint)
                            {
                                Html.RenderPartial("_GRNPartialList", item);
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var initTable1 = function (DomainName) {


            $('#Sample1').dataTable({
                "bDestroy": true
            }).fnDestroy();

            $('#Sample1').dataTable({
                "aLengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "order": [[1, "asc"]],
                "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [0] },
                { "bSearchable": false, "aTargets": [0] }
                ]
            });
            jQuery('#Sample1_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
            jQuery('#Sample1_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
            jQuery('#Sample1_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                initTable1(DomainName);
                $(".btnBack").click(function () {
                    App.blockUI({ boxed: true });
                });
            }
        };
    }();

</script>






