﻿@model Fleet.ViewModels.POApprovalViewModel
@using FleetDataService.Models;
@using Fleet.Helpers;

@{
    ViewBag.Title = "IndexPO";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int i = 1;
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Purchase Order List
                </div>
                <div class="caption pull-right">
                    <a class="btn btn-xs default controls" href="~/Payment/POFinalizedCriteria"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
                </div>
            </div>
            <!-- End .title -->
            <div class="portlet-body flip-scroll">
                @if (Model.POList.Count() > 0)
                {
                    using (Html.BeginForm("IndexPO", "Payment", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
                    {
                        <div class="col-md-6" id="PoApproveDate">
                            <label class="control-label col-md-4">
                                PO Approve Date
                            </label>
                            <div class="col-md-6">
                                <div class="input-group input-medium date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d">
                                    @Html.TextBox("PoApproveDate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.PoApproveDate).ToString("dd MMM yyyy")), new { @class = "clsSurveyEdit form-control required", @readonly = "True" })
                                    <span class="input-group-btn">
                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        @Html.HiddenFor(m => m.POApprovalLimit);
                    @Html.HiddenFor(m => m.POType);
                    <table class="table table-striped table-bordered table-hover table-full-width center" id="Sample1">
                        <thead class="flip-content">
                            <tr>
                                <th class="center">
                                    IsApprove
                                </th>
                                <th class="center">
                                    PO Code
                                </th>
                                <th class="center">
                                    Manual PO Code
                                </th>
                                <th class="center">
                                    PO Date
                                </th>
                                <th class="center">
                                    Vendor Name
                                </th>
                                <th class="center">
                                    Total Qty.
                                </th>
                                <th class="center">
                                    PO Amount
                                </th>
                                <th class="center">
                                    PO Status
                                </th>
                                @*@if (ViewBag.Type == "PO")
                                    {
                                        <th class="center">
                                            View
                                        </th>

                                    }
                                    else
                                    {
                                        <th class="center">
                                            View
                                        </th>
                                    }*@
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.POList)
                            {
                                Html.RenderPartial("_POApprovalTR", item);
                            }
                        </tbody>
                    </table>
                    <div class="form-actions fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-offset-3 col-md-9">
                                    <a class="btn btn-sm default controls" href="~/Payment/POFinalizedCriteria"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
                                    <button type="submit" class="btn btn-sm green button-submit" id="btnsave" disabled="disabled"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var handledatepicker = function (DomainName) {
            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    startDate: new Date(),
                    autoclose: true
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                handledatepicker(DomainName);
                $("#btnsave").click(function () {
                    App.blockUI({ boxed: true });
                });
                $(document).on('change', ".chkAprovable", function () {
                    var count = 0;
                    $('.chkAprovable').each(function () {
                        if (this.checked) {
                            $("#btnsave").attr('disabled', false);
                            count = count + 1;
                        }
                    })
                    if (count == 0) {
                        $("#btnsave").attr('disabled', true);
                    }
                });
            }
        }
    }();
</script>

<script type="text/javascript">
    var ReportURL = '@ViewBag.ReportURL';

    function Popup(pocode) {
        var EntryBy = '@User.Identity.Name'
        var Path = ReportURL + "/Apmdrs/GUI/Finance/GeneralizedPO_Ver2/POGeneration/PO_Report.aspx?Type=1&PONumber=" + pocode + "&Entryby=" + EntryBy;
        window.open(Path, "es", "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=650,height=290,status=no,left=60,top=125");
    }
    function VendorCopy(pocode) {
        var EntryBy = '@User.Identity.Name'
        var Path = ReportURL + "/Apmdrs/GUI/Finance/GeneralizedPO_Ver2/POGeneration/PO_Report.aspx?Type=1&PONumber=" + pocode + "&Entryby=" + EntryBy;
        window.open(Path, "es", "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=650,height=290,status=no,left=60,top=125");
    }
    function PopupWO(pocode) {
        var EntryBy = '@User.Identity.Name'
        var Path = ReportURL + "/Apmdrs/GUI/Finance/GeneralizedPO_Ver2/POGeneration/WorkOrder_Report.aspx?Type=0&PONumber=" + pocode + "&Entryby=" + EntryBy;
        window.open(Path, "es", "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=650,height=290,status=no,left=60,top=125");
    }
</script>

@*<script type="text/javascript" src="@Url.Content("~/Scripts/Enquiry/EnquiryClosure.js")"></script>*@