﻿@model  FleetDataService.ViewModels.MRApprovalViewModel
@using FleetDataService.Models;
@{
    ViewBag.Title = "MR Approval List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var TRID1 = "";
}

<div class="row">
    @using (Html.BeginForm("SubmitMRApprovalList", "Payment", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
    {
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                    <div class="caption pull-right">
                        <a href="@Url.Content("~/Payment/ExportData?FileName=MR List&FromDate=" + Model.FromDate + "&ToDate=" + Model.ToDate + "&MRNo=" + Model.MRNo + "&CustomerCode=" + Model.CustomerCode + "")" class="btn default btn-xs controls"><i class="fa fa-download"></i>&nbsp;Download Excel </a>
                    </div>
                </div>
                <div class="portlet-body flip-scroll">
                    <div class="form-body">
                        <table class="table table-striped table-bordered table-hover table-full-width" id="Sample1">
                            @Html.HiddenFor(m => m.IsApproval)
                            @Html.HiddenFor(m => m.IsRejection)
                            @Html.HiddenFor(m => m.FromDate)
                            @Html.HiddenFor(m => m.ToDate)
                            @Html.HiddenFor(m => m.MRNo)
                            @Html.HiddenFor(m => m.CustomerCode)
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">#</th>
                                    <th class="center">
                                        MRNo
                                    </th>
                                    <th class="center">
                                        MR BRCD
                                    </th>   
                                    <th class="center">
                                        Total Bill
                                    </th>
                                    <th class="center">
                                        TDS Deduction
                                    </th>
                                    <th class="center">
                                        Unexpected
                                    </th>
                                    <th class="center">
                                        MR Amount
                                    </th>
                                    <th class="center">
                                        Paybas
                                    </th>
                                    <th class="center">
                                        Pay Mode
                                    </th>
                                    <th class="center">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.LisMRDetBill)
                                {
                                    Html.RenderPartial("_MRApprovalPartial", item);
                                }
                            </tbody>
                        </table>
                        <div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                <a class="btn btn-sm default" href="@Url.Content("~/Payment/MRApprovalCriteria")" id="btnBack">
                                    <i class="fa fa-arrow-left"> </i>
                                    Back To Criteria
                                </a>
                                @*<button type="button" id="btnApproval" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Approval </button>
                                <button type="button" id="btnRejection" class="btn btn-sm red controls"><i class="fa fa-check"></i>&nbsp;Rejection </button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {
                    'CWE.FromPinCode': {
                        minlength: 6,
                        maxlength: 6,
                        number: true
                    },
                },
                messages: { // custom messages for radio buttons and checkboxes

                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.attr("name") == "gender") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_gender_error");
                    } else if (element.attr("name") == "payment[]") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_payment_error");
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();

                    App.blockUI({ boxed: true });
                    document.forms[1].submit();

                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });

        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);

                //$("#btnApproval").on('click', function () {

                //    $('#IsApproval').val(true);
                //    $('#IsRejection').val(false);

                //    if ($('#form_sample').valid()) {
                //        App.blockUI({ boxed: true });
                //        document.forms["form_sample"].submit()
                //    }
                //    else {
                //        return false;
                //    }
                //});

                //$("#btnRejection").on('click', function () {

                //    $('#IsApproval').val(false);
                //    $('#IsRejection').val(true);

                //    if ($('#form_sample').valid()) {
                //        App.blockUI({ boxed: true });
                //        document.forms["form_sample"].submit()
                //    }
                //    else {
                //        return false;
                //    }
                //});

                $(".clsbtnApproval").click(function () {

                    $(".clsCHK").each(function () {
                        $(this).val(false);
                    });

                    $('#IsApproval').val(true);
                    $('#IsRejection').val(false);

                    TRID1 = $(this).attr('data-id');
                    $("#MRSNOList_" + TRID1 + "__IsMrApproval").val(true);

                    if ($('#form_sample').valid()) {
                        App.blockUI({ boxed: true });
                        document.forms["form_sample"].submit()
                    }
                    else {
                        return false;
                    }
                });

                $(".clsbtnRejection").click(function () {

                    $('#IsApproval').val(false);
                    $('#IsRejection').val(true);

                    TRID1 = $(this).attr('data-id');
                    $("#MRSNOList_" + TRID1 + "__IsMrApproval").val(true);

                    if ($('#form_sample').valid()) {
                        App.blockUI({ boxed: true });
                        document.forms["form_sample"].submit()
                    }
                    else {
                        return false;
                    }
                });

                $("#btnBack").on('click', function () {
                    App.blockUI({ boxed: true });
                })

                //$('#btnApproval').hide();
                //$('#btnRejection').hide();

                //$(".clsCHK").click(function () {

                //    var checked = jQuery(this).is(":checked");
                //    var TRID = $(this).closest('tr').attr('id');

                //    if (checked) {
                //        $('#' + TRID + ' :input').removeAttr('disabled');
                //    }
                //    else {
                //        $('#' + TRID + ' :input').attr('disabled', 'disabled');
                //    }
                //    $('.clsCHK').removeAttr('disabled');

                //    if ($(".clsCHK:checked").length > 0) {
                //        $('#btnApproval').show();
                //        $('#btnRejection').show();
                //    }
                //    else {
                //        $('#btnApproval').hide();
                //        $('#btnRejection').hide();
                //    }
                //});
            }
        };
    }();

</script>