﻿@model Fleet.ViewModels.POApprovalViewModel
@{
    ViewBag.Title = "PO Approval Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>PO Approved Successfully
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <form class="form-horizontal">
                    @{
                        var list = Model.POCode.Split(',');
                    }
                </form>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                PO No.
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @foreach (var item in list)
                                {
                                    @item
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                <a href="@Url.Content("~/Payment/POFinalizedCriteria")">Click to more PO Approved </a> || <a href="@Url.Content("~/Operation/GRNGenerationCriteria")">Click here to Generate GRN </a>
            </span>
        </div>
    </div>
</div>