﻿@model Fleet.ViewModels.POApprovalViewModel
@{
    ViewBag.Title = "PO Finalized Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-10">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>PO Finalized Criteria
                </div>
            </div>

            <div class="portlet-body form">
                <div class="form-body">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-hide">
                        <button class="close" data-close="alert"></button>
                        Your form validation is successful!
                    </div>

                    @using (Html.BeginForm("IndexPO", "Payment", FormMethod.Get, new { @id = "submit_form", @class = "form-horizontal" }))
                    {
                        {
                            Html.RenderPartial("../UserControls/_POApprovalFilter", Model);
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>