﻿@model FleetDataService.ViewModels.GRNBillEntryViewModel
@{
    ViewBag.Title = "GRN Bill Entry List within that PO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("POGRNBillEntryPayment", "Payment", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                    <div class="caption pull-right">
                        <a class="btn btn-xs default btnNumber" href="@Url.Content("~/Payment/FuelBillEntry/7")">
                            <i class="fa fa-arrow-left"> </i>
                            Back To Criteria
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        @Html.HiddenFor(c => c.VendorCode)
                        @Html.HiddenFor(c => c.MatCat)
                        @Html.HiddenFor(c => c.StateCode)
                        @Html.HiddenFor(c => c.GSTType)
                        @Html.HiddenFor(c => c.isGSTReverse)
                        @Html.Hidden("Id", 7)
                        <table class="table table-striped table-bordered table-hover table-full-width center" id="Sample1">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        <input type="checkbox" id="chkCheckAll" />
                                    </th>
                                    <th class="center">
                                        GRN No.
                                    </th>
                                    <th class="center">
                                        GRN Date
                                    </th>
                                    <th class="center">
                                        Manual GRN No.
                                    </th>
                                    <th class="center">
                                        GRN Branch
                                    </th>
                                    <th class="center">
                                        Vendor Name
                                    </th>
                                    <th class="center">
                                        PO Total Amount
                                    </th>
                                    <th class="center">
                                        Pending Amount
                                    </th>
                                    <th class="center">
                                        Advance Paid Amount
                                    </th>
                                    <th class="center">
                                        GRN Amt
                                    </th>
                                    <th class="center">
                                        GRN SubTotal
                                    </th>
                                    <th class="center">
                                        GST on GRN Amount
                                    </th>
                                    <th class="center">
                                        GRN Other Charges
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="Advice">
                                @foreach (var item in Model.GRNList)
                                {
                                    Html.RenderPartial("_POGRNBillEntryList", item);
                                }
                            </tbody>
                        </table>
                    </div>
                    <strong id="msg" style="color:red;display:none;">Select at least one record to go further.</strong>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Click to Generate Bill</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#form_sample');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();

                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }

        var Events = function (DomainName) {

            $('.btnNumber').click(function () {
                App.blockUI({ boxed: true });
            });

            $(document).on('click', '#chkCheckAll', function () {
                $('.clsGRNCheck').prop('checked', $(this).prop('checked'));
                if ($(this).prop('checked')) {
                    $('.clsGRNCheck').parent('span').addClass('checked');
                    $('.clsGRNCheck').val(true);
                    //$('#btnSubmit').show();
                    //$('.clsNetPay').attr("readonly", false);
                }
                else {
                    $('.clsGRNCheck').parent('span').removeClass('checked');
                    $('.clsGRNCheck').val(false);
                    //$('#btnSubmit').hide();
                    //$('.clsNetPay').attr("readonly", true);
                }
            });

            $(document).on('change', ".clsGRNCheck", function () {
                if (this.checked) {
                    $(this).val(true);
                }
                else {
                    $(this).val(false);
                }
            });

            $(document).on('click', '#btnSubmit', function () {
                var count = 0;
                $('.clsGRNCheck').each(function () {
                    if (this.checked) {
                        count = count + 1;
                    }
                })
                if (count == 0) {
                    $('#msg').show();
                }
                else {
                    App.blockUI({ boxed: true });
                    $('#msg').hide();
                    document.forms["form_sample"].submit();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                Events(DomainName);
                initTableById("Sample1");
            }
        }
    }();
</script>