﻿@{
    ViewBag.Title = "SKUEditDone";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string POCODE = ViewBag.POCODE;
}

<div class="col-md-6">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>SKU PO Edit Done
            </div>
            @*<div class="tools">
                <a href="@Url.Action("CustomerMasterCriteria", "Master", new { id = 0 })" class="btn" style="float: right;padding-top: 0px;"><b style="color: white;">Add New Customer Master</b></a>
            </div>*@
        </div>
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>PO Code
                            </th>
                            <th>Print
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>@POCODE</th>
                            <td><a href="javascript:ViewPrintVoucher_VendorCopy('@Request.QueryString["POCODE"].ToString()','0')" class="btn blue">View||Print</a></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    //For Work Order Generation Report PopUp

    function ViewPrintVoucher_VendorCopy(arg1, arg2) {
        var ReportURL = '@ViewBag.ReportURL';
        var url = ReportURL + "/Apmdrs/GUI/Finance/GeneralizedPO_Ver2/POGeneration/PO_Report.aspx?PONumber=" + arg1 + "&Type=" + arg2 + "&Entryby=" + '@ViewBag.BaseUserName';
        window.open(url, "es", "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=650,height=290,status=no,left=60,top=125");
    }
    var FormComponents = function (DomainName) {
        return {
            //main function to initiate the module
            init: function (DomainName) {
            }
        }
    }();
</script>
