﻿@model FleetDataService.ViewModels.ADDSKUMasterViewModel
@using FleetDataService.Models;

@{
    ViewBag.Title = "SKUMasterADD";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string CurrDate = System.DateTime.Now.ToString();
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Enter SKU Details
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("SKUMasterADDSubmit", "Payment", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
                {

                    <div class="alert alert-danger display-none">
                        <button class="close" data-dismiss="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-none">
                        <button class="close" data-dismiss="alert"></button>
                        Your form validation is successful!
                    </div>
                    <div class="form-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-8">No Of Rows </label>
                                        <div class="col-md-4">
                                            @Html.TextBox("SKURows", "0", new { placeholder = "Private Mark", @class = "input-small required2 form-control required", @onkeypress = "javascript:return validInt(event)" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <a id="btnAddNewRows" class="btn  btn-sm @ViewBag.TableBoxColor right">
                                        <i class="fa fa-plus"></i> Add New Row
                                    </a>
                                </div>
                                <div class="col-md-5">
                                </div>
                            </div>
                            <table border="1" class="table table-striped table-bordered table-hover">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="center">Select</th>
                                        <th class="center">Mat Category</th>
                                        <th class="center">SKU Desc</th>
                                        <th class="center">Manufacture</th>
                                        <th class="center">Part No</th>
                                        <th class="center">SKU Size</th>
                                        <th class="center">UOM</th>
                                        <th class="center">Remark</th>
                                        <th class="center">Active</th>
                                        <th class="center">UDF1</th>
                                        <th class="center">UDF2</th>
                                        @*<th class="center">UDF3</th>
                                            <th class="center">UDF4</th>
                                            <th class="center">UDF5</th>*@

                                    </tr>
                                </thead>
                                <tbody id="container">
                                    @foreach (var itm in Model.ListWPM)
                                    {
                                        Html.RenderPartial("_SKUMasterPartial", itm);
                                    }

                                </tbody>
                            </table>
                            @Html.HiddenFor(m => m.Flag)
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-offset-9 col-md-3">
                                        <button type="button" id="btnAddRows" class="btn blue pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-offset-3 col-md-9">
                                        @if (Model.Flag == "EDIT")
                                        {
                                            <a class="btn btn-sm default controls btnBack" href="@Url.Content("~/Payment/SKUMasterEditCriteria?Flag=EDIT")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
                                        }
                                        <button type="button" id="btnSubmit" class="btn btn-sm green controls" disabled="disabled"><i class="fa fa-check"></i>&nbsp;Save & Continue</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var AddNewInfo = function (DomainName, itemIndex) {

            var StrURL1 = DomainName + '/Payment/AddNewInfo?Srno=' + itemIndex;// + '&Value=' + Value;

            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#container").append(html);

                    $("#SKUADD_" + itemIndex + "__MatCat_Id").select2({
                        placeholder: "Select an option"
                    });

                    $("#SKUADD_" + itemIndex + "__UOM_ID").select2({
                        placeholder: "Select an option"
                    });
                    $("input:checkbox, input:radio").uniform();
                    App.unblockUI();
                },
                error: function (req, status, error) {
                }
            });
        }

        var handleDatetimePicker = function () {

            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    startDate: new Date(),
                    autoclose: true
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
            $(".form_meridian_datetime").datetimepicker({
                isRTL: App.isRTL(),
                format: "dd MM yyyy HH:ii P",
                showMeridian: true,
                autoclose: true,
                startDate: new Date('@CurrDate'),
                pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                todayBtn: true
            });



        }

        var Formvalidate = function (DomainName) {

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {

                },
                messages: { // custom messages for radio buttons and checkboxes

                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.attr("name") == "gender") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_gender_error");
                    } else if (element.attr("name") == "payment[]") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_payment_error");
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();

                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }

            });

            $("#btnSubmit").click(function () {
                if ($('#submit_form').valid()) {

                    App.blockUI({ boxed: true });
                    document.forms[0].submit();
                }
            });

        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                handleDatetimePicker();

                Formvalidate(DomainName);
                var itemIndex = $("#Partialcontainer input.iHidden").length + 1;

                var Flag = $("#Flag").val();

                if (Flag == "EDIT") {
                    $("#btnAddRows").hide();

                }
                $("#btnAddRows").click(function () {
                    var TOTROW = "";
                    TOTROW = 1;
                    
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        App.blockUI({ boxed: true });
                        setTimeout(function () {
                            itemIndex = itemIndex + 1;
                            AddNewInfo(DomainName, itemIndex);

                        }, 100 * i);
                        
                        return false;
                    }
                });
                $("#btnAddNewRows").click(function () {
                    //  alert("Hello");

                    var TOTRows = $("#SKURows").val();

                   
                    for (var i = 0; i <= TOTRows - 1; i++) {
                        App.blockUI({ boxed: true });
                        setTimeout(function () {
                            itemIndex = itemIndex + 1;

                            AddNewInfo(DomainName, itemIndex);

                        }, 350 * i);
                    }

                });
                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.filter:first").remove();
                    return false;
                });

                $(document).on('change', ".CLSCHK", function () {

                    var count = 0;
                    $('.CLSCHK').each(function () {
                        if (this.checked) {
                            $("#btnSubmit").attr('disabled', false);
                            count = count + 1;
                        }
                    })
                    if (count == 0) {
                        $("#btnSubmit").attr('disabled', true);
                    }
                });

                $(".btnBack").click(function () {
                    App.blockUI({ boxed: true });
                });
            }
        };
    }();
</script>
