﻿@model FleetDataService.ViewModels.ADDSKUMasterViewModel
@using Fleet.Helpers;
@using FleetDataService.Models;
@{
    ViewBag.Title = "SKUMasterEditCriteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string CurrDate = System.DateTime.Now.ToString();
    FleetDataService.PaymentService PS = new FleetDataService.PaymentService();
    //List<Webx_PO_SKU_Master> ListSKUItem = CS.GetSKUItemList();
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>SKU Master Edit Criteria
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("SKUMasterADD", "Payment", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
                {
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Select SKU
                            </label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.WPM.SKU_ID, new { @class = "form-control required required2",@placeholder="Select SKU Item" })
                                @Html.HiddenFor(m => m.Flag)
                            </div>
                            <div class="col-md-4">
                                <button type="button" id="btnSubmit" class="btn btn-sm blue controls"><i class="fa fa-search"></i>&nbsp;Search</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {

            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {

                },
                messages: { // custom messages for radio buttons and checkboxes

                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.attr("name") == "gender") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_gender_error");
                    } else if (element.attr("name") == "payment[]") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_payment_error");
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();


                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }

            });

            $('#btnSubmit').click(function () {
                if ($('#submit_form').valid()) {

                    App.blockUI({ boxed: true });
                    document.forms[0].submit();
                }
            });

        }
        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);
                JsonDDLSelectCode("WPM_SKU_ID", DomainName + '/Payment/GetSKUItem');
            }
        };
    }();
</script>