﻿@{
    ViewBag.Title = "SKUMasterADDDone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>SKU Master ADD/Edit Done
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                SKU ID
                            </th>
                            @*<th>
                                Action
                            </th>*@
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@ViewBag.SKUID</b>
                            </td>
                            @*<td>
                                <a target="_blank" href="#" class="fa fa-print" id="ReportFrame"><b>&nbsp;View/Print</b></a>

                            </td>*@
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                <a href="@Url.Content("~/Payment/SKUMasterADD?Flag=ADD")">Click here to add more SKU</a> || <a href="@Url.Content("~/Payment/SKUMasterEditCriteria?Flag=EDIT")">Click here to edit SKU</a>
            </span>
        </div>
    </div>
</div>
