﻿@model Fleet.ViewModels.CustomerContractViewModel
@using FleetDataService.Models
@{
    FleetDataService.ContractService CS = new FleetDataService.ContractService();

      var ChargeList = new List<SelectListItem> {
      new SelectListItem { Text = "Booking", Value = "BKG",Selected=true },
      new SelectListItem { Text = "Delivery", Value = "DEL" },
    };
}
@using (Html.BeginForm("AddModeChargeMatrix", "Contract", FormMethod.Post, new { id = "form_sampleChargeMatrix", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(c => c.CustServiceChrg.contractid)
    @Html.HiddenFor(c => c.CustServiceChrg.custcode)
    <div class="row">
        <div class="col-md-12">
            <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                <li><strong>Charge Matrix Defination</strong></li>
            </ul>
        </div>
        <div class="row col-md-12">
            <div class="form-group">
                <label class="control-label col-md-4">Charge at time of</label>
                <div class="col-md-2">
                    @Html.DropDownListFor(m => m.chargeContraint.chargename, new SelectList(ChargeList, "Value", "Text"), new { @class = "select2 drpbaseon form-control", placeholder = "Select Transit Mode" })
                    @Html.HiddenFor(m => m.chargeContraint.chargecode)
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="ListCustSrvice">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-body form">
                    <div class="form-body">
                        <table id="tblSubItem" class="table table-striped table-bordered table-hover table-full-width center">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">Charge Name</th>
                                    <th class="center">Charge Based On	</th>
                                    <th class="center">Use From</th>
                                    <th class="center">Use To</th>
                                    <th class="center">Use Transit Mode</th>
                                    <th class="center">Use Rate Type</th>
                                    <th class="center">Use Loop Wise Contarct Type</th>
                                    <th class="center">Slab Type</th>
                                </tr>
                            </thead>
                            <tbody id="containerTblSubItem">
                                @Html.Partial("_PartialChargeMatrix", Model.ListContraint)
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="form-actions fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-offset-3 col-md-9">
                    <button type="button" id="btnSubmitChargeMatrix" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Save & Continue</button>
                </div>
            </div>
        </div>
    </div>
}


