﻿@model IEnumerable<FleetDataService.Models.ContractTemplateRates>

@foreach (var item in Model)
{
    <tr class="editorRow">
        <td class="center">
            @item.fromloc
        </td>
        <td class="center">
            @item.toloc
        </td>
        <td class="center">
            @item.ratetype
        </td>
        <td class="center">
            @item.loc_reg
        </td>
        <td class="center">
            @item.Air_rate
        </td>
        <td class="center">
            @item.Air_trdays
        </td>
        <td class="center">
            @item.Express_rate
        </td>
        <td class="center">
            @item.Express_trdays
        </td>
        <td class="center">
            @item.Train_rate
        </td>
        <td class="center">
            @item.Train_trdays
        </td>
    </tr>
}