﻿@model FleetDataService.Models.Cygnus_Custcontract_locaton_zone_transmode_wise_master
@using Fleet.ViewModel
@using Fleet.Helpers
@using FleetDataService.Models;
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> generalList = MS.GetGeneralMasterObject().ToList();
    List<webx_location> mainZoneList = MS.GetLocationDetails().Where(c => c.Loc_Level == 2 && c.ActiveFlag == "Y").ToList();
}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Id, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("ObjCCLZTWM", Model.Id.ToString()))
    {
        @Html.HiddenFor(m => m.Id)
        <td class="form-group center">
            @Html.DropDownListFor(c => c.ReportZone, new SelectList(mainZoneList, "LocCode", "LocName"), "", new { @class = "required required2 form-control clsChkDuplicate  select2", @placeholder = "Select Main Zone" })
        </td>
        <td class="form-group center">
            @Html.DropDownListFor(c => c.ZoneId, new SelectList(generalList.Where(C => C.CodeType == "ZONE" && C.StatusCode == "Y").ToList(), "CodeId", "CodeDesc"), "", new { @class = "required required2 form-control clsChkDuplicate  select2", @placeholder = "Select Sub Zone" })
        </td>
        <td class="form-group center">
            @Html.DropDownListFor(c => c.Mode, new SelectList(generalList.Where(C => C.CodeType == "TRN" && C.StatusCode == "Y").ToList(), "CodeId", "CodeDesc"), "", new { @class = "required required2 form-control clsChkDuplicate  select2", @placeholder = "Select Mode" })
        </td>

        <td class="center">
            <a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteload">X</a>
        </td>
    }
</tr>


