﻿@model Fleet.ViewModels.CustomerContractViewModel
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.ContractService CS = new FleetDataService.ContractService();

    var SlabList = new List<SelectListItem> {
    new SelectListItem { Text = "Select Slab", Value = "0",Selected=true },
    new SelectListItem { Text = "Multi Slab Contract", Value = "S" },
    new SelectListItem { Text = "Multiple Slab Range", Value = "M" },
    };
    Webx_Master_General objweb = new Webx_Master_General();
    List<Webx_Master_General> objMasterList = new List<Webx_Master_General>();
    objMasterList = CS.GetContractTransMode(Model.CustServiceChrg.contractid).ToList();
    objweb.CodeId = "A";
    objweb.CodeDesc = "All";
    objMasterList.Add(objweb);
    List<Webx_Master_General> objMasterMatrixList = new List<Webx_Master_General>();
    objMasterMatrixList = CS.GetContractMatrixType(Model.CustServiceChrg.contractid).ToList();
}
@using (Html.BeginForm("GetfreightSlab", "Contract", FormMethod.Post, new { id = "form_freightSlab", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                <li><strong>Single/Multiple Slab Selection</strong></li>
            </ul>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4">Select Single/Multiple Slab</label>
                    <div class="col-md-7">
                        @Html.DropDownListFor(m => m.CustsingleSlab.SlabMS, new SelectList(SlabList, "Value", "Text"), new { @class = "required select2 drpSlab form-control", placeholder = "Select Charge Name" })
                        @Html.HiddenFor(m => m.CustsingleSlab.InsertType)
                        @Html.HiddenFor(m => m.CustServiceChrg.contractid)
                        @Html.HiddenFor(m => m.CustsingleSlab.basecode1)
                        @Html.HiddenFor(m => m.CustsingleSlab.basecode2)
                        @Html.HiddenFor(m => m.CustsingleSlab.basedon1)
                        @Html.HiddenFor(m => m.CustsingleSlab.basedon2)
                        @Html.HiddenFor(m => m.chargeContraint.use_from)
                        @Html.HiddenFor(m => m.chargeContraint.use_to)
                        @Html.HiddenFor(m => m.chargeContraint.use_trans_type)
                        @Html.HiddenFor(m => m.chargeContraint.use_rate_type)
                        @Html.HiddenFor(m => m.CustsingleSlab.Matrixtype)
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4"></label>
                    <div class="col-md-7 chkactive">
                        @Html.CheckBoxFor(m => m.CustsingleSlab.isNewZoneContractApplied)is New Zone Contract Applied?
                        @Html.HiddenFor(m => m.CustsingleSlab.isNewZoneContractApplied)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divSlab" style="display:none">
        <div class="row">
            <div class="col-md-12">
                <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                    <li><strong>Selection Criteria</strong></li>
                </ul>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">Name</label>
                        <div class="col-md-7" style="margin-top: 5px;">
                            <label id="Name" class="Name"><b>Sundry - Multiple Slab Range</b></label>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">Select Trans Mode</label>
                        <div class="col-md-7">
                            @Html.DropDownListFor(m => m.CustsingleSlab.FilterTrnsMode, new SelectList(objMasterList, "CodeId", "CodeDesc"), new { placeholder = "Select  Matrix Type", @class = "form-control select2 drpTM required" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">Select Matrix Type</label>
                        <div class="col-md-7">
                            @Html.DropDownListFor(m => m.CustsingleSlab.FilterMatrixtype, new SelectList(objMasterMatrixList, "CodeId", "CodeDesc"), new { placeholder = "Select  Matrix Type", @class = "form-control select2 drpMt required" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">From Location</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.CustsingleSlab.FilterFromLoc, new { placeholder = "Select From Location", @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">To Location</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.CustsingleSlab.FilterToLoc, new { placeholder = "Select To Location", @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="divMultipleSlab" style="display:none">
        <div class="col-md-12">
            <div class="portlet">
                <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                    <li><strong>Sundry Multiple Slab Rates</strong></li>
                </ul>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-5">No Of Rows </label>
                            <div class="col-md-7">
                                @Html.TextBox("MultiSlabdRows", "0", new { placeholder = "No. Rows", @class = "input-small required2 form-control required" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <a id="btnMultiSlabAddRows" class="btn  @ViewBag.TableBoxColor right">
                            Add New Row <i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                    <div class="col-md-5">

                    </div>
                </div>
                <div class="portlet-body">
                    <table id="sample_1" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-1">Id</th>
                                <th class="col-md-1">From</th>
                                <th class="col-md-1">To</th>
                                <th class="col-md-1">Transit Days</th>
                                <th class="col-md-1">Slab1</th>
                                <th class="col-md-1">Slab2</th>
                                <th class="col-md-1">Slab3</th>
                                <th class="col-md-1">Slab4</th>
                                <th class="col-md-1">Slab5</th>
                                <th class="col-md-1">Slab6</th>
                                <th>X</th>
                            </tr>
                        </thead>
                        <tbody id="tblfreightSlab">
                            @foreach (var item in Model.ListsingleSlab)
                            {
                                Html.RenderPartial("_PartialFreightCharge_MultiSlab", item);
                            }
                        </tbody>
                    </table>
                    <br />
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-9">
                            </div>
                            <div class="col-md-3">
                                <button type="button" id="btnAddSlab" class="btn blue pull-right"><i class="fa fa-plus"></i>&nbsp;Add New Row</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="divMultiple" style="display:none">
        <div class="col-md-12">
            <div class="portlet">
                <div class="col-md-12">
                    <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                        <li><strong>Multiple Slab Sundry Slab Range</strong></li>

                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label col-md-1">Transit Mode</label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(m => m.CustsingleSlab.SlabTransMode, new SelectList(objMasterList, "CodeId", "CodeDesc"), new { @class = "required select2 drpchr form-control", placeholder = "Select Charge Name" })
                                    @Html.HiddenFor(m => m.Custslabhdr.slab_code1)
                                    @Html.HiddenFor(m => m.Custslabhdr.slab_code2)
                                    @Html.HiddenFor(m => m.Custslabhdr.slab_code3)
                                    @Html.HiddenFor(m => m.Custslabhdr.slab_code4)
                                    @Html.HiddenFor(m => m.Custslabhdr.slab_code5)
                                    @Html.HiddenFor(m => m.Custslabhdr.slab_code6)
                                </div>
                            </div>
                        </div>
                        <div class="row" id="divcusthdr">
                            @Html.Partial("_PartialFreightCharge_MultiSlab_Single", Model.Custslabhdr)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-offset-3 col-md-9">
                    <button type="button" style="display:none" id="btngetSlab" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Get Slab List</button>
                    <button type="button" id="btnSlabfreight" style="display:none" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Save & Continue</button>
                </div>
            </div>
        </div>
    </div>
}


