﻿@model Fleet.ViewModels.CustomerContractViewModel
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.ContractService CS = new FleetDataService.ContractService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    webx_master_charge objcharge = new webx_master_charge();
    List<webx_master_charge> objListCharge = new List<webx_master_charge>();
    objListCharge = CS.GetChargeMatrixCriteria().ToList();
    objcharge.chargename = "Freight Charge";
    objcharge.chargecode = "1";
    objListCharge.Add(objcharge);

    List<Webx_Master_General> objMasterList = new List<Webx_Master_General>();
    Webx_Master_General objMaster = new Webx_Master_General();
    objMasterList = CS.GetContractTransMode(Model.CustServiceChrg.contractid).ToList();
    objMaster.CodeDesc = "All";
    objMaster.CodeId = "A";
    objMasterList.Add(objMaster);

    List<Webx_Master_General> objMasterMatrixList = new List<Webx_Master_General>();
    objMasterMatrixList = CS.GetContractMatrixType(Model.CustServiceChrg.contractid).ToList();
    var a = Model.CustsingleSlab.basedon1;
    var ab = Model.CustsingleSlab.basedon2;
    var ac = Model.CustsingleSlab.basecode1;
    var ad = Model.CustsingleSlab.basecode2;
    List<Webx_Master_General> ListBasedCode2 = new List<Webx_Master_General>();
    if (Model.CustsingleSlab.basedon2 != "NONE")
    {
        ListBasedCode2 = MS.GetGeneralMasterObject().Where(C => C.CodeType == Model.CustsingleSlab.basedon2 && C.StatusCode == "Y").ToList();
    }

    string Action = "";
    if (Model.CustsingleSlab.Flag == "Add")
    {
        Action = "AddfreightCharge";
    }
    else
    {
        Action = "GetfreightCharge";
    }

    //var TypewiseContract = new List<SelectListItem> {
    //  new SelectListItem { Text = "Simple Contract", Value = "S" },
    //  new SelectListItem { Text = "Loop Wise Contract", Value = "L" },
    //};

    var TypewiseContract = new List<SelectListItem>();
    if (Model.chargeContraint.Loop_Wise_Contract == "Y")
    {
        TypewiseContract = new List<SelectListItem> {
            new SelectListItem { Text = "Loop Wise Contract", Value = "L" }
        };
    }
    else
    {
        TypewiseContract = new List<SelectListItem> {
        new SelectListItem { Text = "Simple Contract", Value = "S" }
        };
    }

}
@using (Html.BeginForm(Action, "Contract", FormMethod.Post, new { id = "form_freightCharge", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                <li><strong>Freight Charge Selection Criteria</strong></li>
            </ul>
        </div>
        <div class="col-md-12">
            @if (Model.CustsingleSlab.basedon2 != "NONE")
            {
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">Charge Based On</label>
                        <div class="col-md-7">
                            @Html.DropDownListFor(m => m.CustsingleSlab.basecode2, new SelectList(ListBasedCode2, "CodeId", "CodeDesc"), new { placeholder = "Select  Charge based on", @class = "form-control select2 drpTM required" })
                        </div>
                    </div>
                </div>
            }
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4">Charge Name</label>
                    <div class="col-md-7">
                        @Html.DropDownListFor(m => m.CustsingleSlab.chargecode, new SelectList(objListCharge, "chargecode", "chargename"), new { @class = "required select2 drpchr form-control", placeholder = "Select Charge Name" })
                        @Html.HiddenFor(m => m.CustServiceChrg.contractid)
                        @Html.HiddenFor(m => m.CustomerContract.Custcode)
                        @Html.HiddenFor(m => m.CustsingleSlab.basecode1)
                        @Html.HiddenFor(m => m.CustsingleSlab.Flag)
                        @Html.HiddenFor(m => m.CustsingleSlab.basecode2)
                        @Html.HiddenFor(m => m.CustsingleSlab.basedon1)
                        @Html.HiddenFor(m => m.CustsingleSlab.basedon2)
                        @Html.HiddenFor(m => m.chargeContraint.use_from)
                        @Html.HiddenFor(m => m.chargeContraint.use_to)
                        @Html.HiddenFor(m => m.chargeContraint.use_trans_type)
                        @Html.HiddenFor(m => m.chargeContraint.use_rate_type)
                        @Html.HiddenFor(m => m.CustsingleSlab.chargetype)
                        @Html.HiddenFor(m => m.CustsingleSlab.isNewZoneContractApplied)
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4">Select Trans Mode</label>
                    <div class="col-md-7">
                        @Html.DropDownListFor(m => m.CustsingleSlab.FilterTrnsMode, new SelectList(objMasterList, "CodeId", "CodeDesc"), new { placeholder = "Select  Matrix Type", @class = "form-control select2 drpTM required" })
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4">Select Matrix Type</label>
                    <div class="col-md-7">
                        @Html.DropDownListFor(m => m.CustsingleSlab.FilterMatrixtype, new SelectList(objMasterMatrixList, "CodeId", "CodeDesc"), new { placeholder = "Select  Matrix Type", @class = "form-control select2 drpMt required" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4">From Location</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.CustsingleSlab.FilterFromLoc, new { placeholder = "Select From Location", @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4">To Location</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.CustsingleSlab.FilterToLoc, new { placeholder = "Select To Location", @class = "form-control" })
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Type Wise Contract</label>
                            <div class="col-md-7" style="margin-top: 5px;">
                                @Html.DropDownListFor(m => m.CustsingleSlab.ContractType, new SelectList(TypewiseContract, "Value", "Text"), new { placeholder = "Select  Matrix Type", @class = "select2 form-control   required" })
                                @Html.HiddenFor(m => m.CustsingleSlab.ContractType)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4"></label>
                            <div class="col-md-7 chkactive">
                                @Html.CheckBoxFor(m => m.CustsingleSlab.isNewZoneContractApplied)is New Zone Contract Applied?
                                @Html.HiddenFor(m => m.CustsingleSlab.isNewZoneContractApplied)
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    if (Model.ListsingleSlab.ToList().Count > 0)
    {
        <div class="row" id="divfreightMatrix" style="display:none">

            <div class="col-md-12">

                <div class="portlet">
                    <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                        <li><strong>Sundry Single Slab Rates</strong></li>
                    </ul>
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label col-md-5">No Of Rows </label>
                                <div class="col-md-7">
                                    @Html.TextBox("SlabRows", "0", new { placeholder = "No. Rows", @class = "input-small required2 form-control required" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <a id="btnAddRows" class="btn  @ViewBag.TableBoxColor right">
                                Add New Row <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                        <div class="col-md-5">

                        </div>
                    </div>
                    <div class="portlet-body">
                        <table id="sample_2" class="table table-striped table-bordered table-hover">
                            @if (Model.CustsingleSlab.ContractType.ToString() == "L")
                            {
                                <thead>
                                    <tr>
                                        <th class="col-md-1">Srno</th>
                                        <th class="col-md-1"> Mode</th>
                                        <th class="col-md-1">From</th>
                                        <th class="col-md-1">To</th>
                                        <th class="col-md-1">From Range</th>
                                        <th class="col-md-1">To Range</th>
                                        <th class="col-md-1">Rate</th>
                                        <th class="col-md-1">Rate Units</th>
                                        <th class="col-md-5">Transit Mode</th>
                                        <th>X</th>
                                    </tr>
                                </thead>
                            }
                            else
                            {
                                <thead>
                                    <tr>
                                        <th class="col-md-1">Id</th>
                                        <th class="col-md-1">From</th>
                                        <th class="col-md-1">To</th>
                                        <th class="col-md-1">Rate</th>
                                        <th class="col-md-1">Rate Type</th>
                                        <th class="col-md-1">Transit days</th>
                                        <th class="col-md-5">Transit Mode</th>
                                        <th>X</th>
                                    </tr>
                                </thead>
                            }
                            <tbody id="tblfreightcharge">
                                @foreach (var item in Model.ListsingleSlab.OrderBy(c => c.FromLoc))
                                {
                                    Html.RenderPartial("_PartialFreightCharge", item);
                                }
                            </tbody>
                        </table>
                        <br />
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-9">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="btnAddFreightMatrix" class="btn blue pull-right"><i class="fa fa-plus"></i>&nbsp;Add New Row</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
    <div class="form-actions fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-offset-3 col-md-9">
                    <button type="button" id="btngetfreightCharge" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Get Freight Charge List</button>
                    <button type="button" id="btnfreightCharge" style="display:none" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Save & Continue</button>
                </div>
            </div>
        </div>
    </div>
}


