﻿@model Fleet.ViewModels.CustomerContractViewModel
@using FleetDataService.Models
@{
    FleetDataService.ContractService CS = new FleetDataService.ContractService();


    var WeightconsiderList = new List<SelectListItem> {
    new SelectListItem { Text = "Higher of Volumetric and Actual Weight", Value = "H" },
    new SelectListItem { Text = "Always Actual weight", Value = "A" },
    new SelectListItem { Text = "Always Volumetric weight", Value = "V" },
    };

}
@using (Html.BeginForm("AddModeViceService", "Contract", FormMethod.Post, new { id = "form_sampleModeVice", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(c => c.CustServiceChrg.contractid)
    @Html.HiddenFor(c => c.CustServiceChrg.custcode)
    <div class="row">
        <div class="col-md-12">
            <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                <li><strong> Mode Wise Services</strong></li>
            </ul>
        </div>
        <div class="row col-md-12">
            <div class="form-group">
                <label class="control-label col-md-4">Transit Mode</label>
                <div class="col-md-2">
                    @Html.DropDownListFor(m => m.CustServiceChrg.trans_type, new SelectList(Model.ListMGeneral, "CodeId", "CodeDesc"), new { @class = "required select2 drptra form-control", placeholder = "Select Transit Mode" })
                </div>
            </div>
            
        </div>
    </div>
    <div id="ListCustSrvice">
        @if (Model.CustServiceChrg != null)
        {
        {Html.RenderPartial("_PartialModeVice", Model.CustServiceChrg);}
        }
    </div>
    <div class="form-actions fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-offset-3 col-md-9">
                    <button type="button" id="btnSubmitModeViceservice" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp; Save & Continue</button>&nbsp;
                    <button type="button" id="btnsaveContinue" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Save & Keep On Same Page</button>
                </div>
            </div>
        </div>
    </div>
}


