﻿@model Fleet.ViewModels.CustomerContractViewModel
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.ContractService CS = new FleetDataService.ContractService();

    var SlabList = new List<SelectListItem> {
    //new SelectListItem { Text = "Select Slab", Value = "0",Selected=true },
    new SelectListItem { Text = "Per Kg.", Value = "W" },
    new SelectListItem { Text = "Per Package", Value = "P" },
    };

    var RateList = new List<SelectListItem> {
    //new SelectListItem { Text = "Select Slab", Value = "0",Selected=true },
    new SelectListItem { Text = "Per Kg.", Value = "W" },
    new SelectListItem { Text = "Per Package", Value = "P" },
      new SelectListItem { Text = "Flat Rate", Value = "F" }
    };


}

@using (Html.BeginForm("AddODACharge", "Contract", FormMethod.Post, new { id = "form_ODACharge", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="portlet">

        <div class="portlet-body">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>


                <div class="row col-md-12">
                    <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                        <li><strong>ODA Charges Charge Matrix</strong></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Select Slab Type</label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(m => m.CustsingleSlab.Slabtype, new SelectList(SlabList, "Value", "Text"), "", new { placeholder = "Select Slab Type", @class = "form-control select2  required required2" })
                                @Html.HiddenFor(m => m.Custslabhdr.ContractId)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Rate Type</label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(m => m.CustsingleSlab.ratetype, new SelectList(RateList, "Value", "Text"), "", new { placeholder = "Select Rate Type", @class = "form-control select2  required required2" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-7">Minimum ODA Charges Charge</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.CustsingleSlab.ODACharge, new { placeholder = "Minimum ODA Charges Charg", @class = "form-control  required required2" })
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <ul class="page-breadcrumb breadcrumb visible-tablet text-center" style="margin-top: 0px;">
                            <li><strong>Define Weight/Package Slab</strong></li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover  center">
                            <thead class="flip-content">
                                <tr>
                                    @for (var i = 1; i < 7; i++)
                                    {
                                        <td colspan="2" class="center">
                                            Slab @i
                                        </td>
                                    }

                                </tr>
                                <tr>
                                    @for (var i = 1; i < 7; i++)
                                    {
                                        <td class="center">
                                            From
                                        </td>
                                        <td class="center">
                                            To
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    @for (var i = 1; i < 7; i++)
                                    {
                                        var Slab = "SLAB" + i;
                                        if (Model.Listslabhdr.Count > 0 && Model.Listslabhdr != null)
                                        {
                                            foreach (var item in Model.Listslabhdr)
                                            {
                                                if (item.slab_code == Slab)
                                                {
                                                    <td class="center">
                                                        @Html.TextBox("Slabfrom" + i, item.slab_from, new { @class = "input-xsmall", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                                    </td>
                                                    <td class="center">
                                                        @Html.TextBox("Slabto" + i, item.slab_to, new { @class = "input-xsmall", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                                    </td>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <td class="center">
                                                @Html.TextBox("Slabfrom" + i, Model.Custslabhdr.slab_from, new { @class = "input-xsmall", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                            </td>
                                            <td class="center">
                                                @Html.TextBox("Slabto" + i, Model.Custslabhdr.slab_to, new { @class = "input-xsmall", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                            </td>
                                        }
                                    }
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-12">
                        <ul class="page-breadcrumb breadcrumb visible-tablet text-center" style="margin-top: 0px;">
                            <li><strong>Define ODA Charges Distance (ODA Charges in Km)</strong></li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover  center">
                            <thead class="flip-content">
                                <tr>
                                    @for (var i = 1; i < 7; i++)
                                    {
                                        <td colspan="2" class="center">
                                            ODA Charges  @i
                                        </td>
                                    }

                                </tr>
                                <tr>
                                    @for (var i = 1; i < 7; i++)
                                    {
                                        <td class="center">
                                            From
                                        </td>
                                        <td class="center">
                                            To
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    @for (var i = 1; i < 7; i++)
                                    {
                                        var Slab = "ODA" + i;
                                        if (Model.ListslaODAbhdr.Count > 0 && Model.ListslaODAbhdr != null)
                                        {
                                            foreach (var item in Model.ListslaODAbhdr)
                                            {
                                                if (item.ESS_code == Slab)
                                                {
                                                    <td class="center">
                                                        @Html.TextBox("SlabODAfrom" + i, item.ESS_from, new { @class = "input-xsmall", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                                    </td>
                                                    <td class="center">
                                                        @Html.TextBox("SlabODAto" + i, item.ESS_to, new { @class = "input-xsmall", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                                    </td>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <td class="center">
                                                @Html.TextBox("SlabODAfrom" + i, Model.Custslabhdr.ESS_from, new { @class = "input-xsmall", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                            </td>
                                            <td class="center">
                                                @Html.TextBox("SlabODAto" + i, Model.Custslabhdr.ESS_to, new { @class = "input-xsmall", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                            </td>
                                        }
                                    }
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <br />
                <div>
                    <div class="row col-md-12">
                        <ul class="page-breadcrumb breadcrumb visible-tablet text-center" style="margin-top: 0px;">
                            <li><strong>Define ODA Charges Charges</strong></li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover  center">
                            <thead class="flip-content">
                                <tr>
                                    <td class="center">
                                        Distance From
                                        Delivery Location
                                    </td>
                                    <td class="center">
                                        Extra Transit
                                        Days
                                    </td>
                                    @for (var i = 1; i < 7; i++)
                                    {
                                        <td class="center">
                                            Slab  @i
                                        </td>
                                    }

                                </tr>
                                @for (var i = 1; i < 7; i++)
                                {
                                    <tr>
                                        <td>
                                            ODA Charges @i
                                        </td>
                                        @if (Model.ListMatrixCharge.Count > 0 && Model.ListMatrixCharge != null)
                                        {
                                            var Slab = "ODA" + i;
                                            foreach (var item in Model.ListMatrixCharge)
                                            {
                                                if (item.ESS_code == Slab)
                                                {
                                                    <td class="center">
                                                        @Html.TextBox("Days" + i, item.trdays, new { @class = "input-xsmall", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                                    </td>
                                                    <td class="center">
                                                        @Html.TextBox("SlabA" + i, item.Slab1, new { @class = "input-xsmall", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                                    </td>
                                                    <td class="center">
                                                        @Html.TextBox("SlabB" + i, item.Slab2, new { @class = "input-xsmall", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                                    </td>
                                                    <td class="center">
                                                        @Html.TextBox("SlabC" + i, item.Slab3, new { @class = "input-xsmall", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                                    </td>
                                                    <td class="center">
                                                        @Html.TextBox("SlabD" + i, item.Slab4, new { @class = "input-xsmall", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                                    </td>
                                                    <td class="center">
                                                        @Html.TextBox("SlabE" + i, item.Slab5, new { @class = "input-xsmall", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                                    </td>
                                                    <td class="center">
                                                        @Html.TextBox("SlabF" + i, item.Slab6, new { @class = "input-xsmall", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                                    </td>
                                                }

                                            }
                                        }
                                        else
                                        {
                                            <td class="center">
                                                @Html.TextBox("Days" + i, Model.Custslabhdr.trans_type, new { @class = "input-xsmall", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                            </td>
                                            <td class="center">
                                                @Html.TextBox("SlabA" + i, Model.Custslabhdr.slab_code1, new { @class = "input-xsmall", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                            </td>
                                            <td class="center">
                                                @Html.TextBox("SlabB" + i, Model.Custslabhdr.slab_code2, new { @class = "input-xsmall", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                            </td>
                                            <td class="center">
                                                @Html.TextBox("SlabC" + i, Model.Custslabhdr.slab_code3, new { @class = "input-xsmall", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                            </td>
                                            <td class="center">
                                                @Html.TextBox("SlabD" + i, Model.Custslabhdr.slab_code4, new { @class = "input-xsmall", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                            </td>
                                            <td class="center">
                                                @Html.TextBox("SlabE" + i, Model.Custslabhdr.slab_code5, new { @class = "input-xsmall", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                            </td>
                                            <td class="center">
                                                @Html.TextBox("SlabF" + i, Model.Custslabhdr.slab_code6, new { @class = "input-xsmall", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                            </td>
                                        }
                                    </tr>
                                }
                            </thead>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br />
    <br />

    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <button type="submit" id="btnODASubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
        </div>
    </div>

}

