﻿@model FleetDataService.Models.webx_custcontract_charge_constraint
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.ContractService CS = new FleetDataService.ContractService();

    var BasechargeList = new List<SelectListItem> {
        new SelectListItem { Text = "Product Type", Value = "PROD" },
        new SelectListItem { Text = "PKGS", Value = "PKGS" },
        new SelectListItem { Text = "NONE", Value = "NONE" },
    };
}
@if (Model.use_from == "Y")
{
    Model.usefrom = true;
}
else
{
    Model.usefrom = false;
}
@if (Model.use_to == "Y")
{
    Model.useto = true;
}
else
{
    Model.useto = false;
}
@if (Model.use_trans_type == "Y")
{
    Model.usetrantype = true;
}
else
{
    Model.usetrantype = false;
}
@if (Model.use_rate_type == "Y")
{
    Model.useratetype = true;
}
else
{
    Model.useratetype = false;
}

@if (Model.Loop_Wise_Contract == "Y")
{
    Model.LoopWiseContract = true;
}
else
{
    Model.LoopWiseContract = false;
}


<tr class="editorRow">
    @using (Html.BeginCollectionItem("ChargeMatrixList", Model.chargecode.ToString()))
    {
        <td>
            <div class="form-group">
                <div class="col-md-9">
                    @Html.DisplayFor(m => Model.chargename) (@Html.DisplayFor(m => Model.operator1))
                    @Html.HiddenFor(m => Model.chargename)
                    @Html.HiddenFor(m => Model.operator1)
                    @Html.HiddenFor(m => Model.chargecode)
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-8">
                    @Html.DropDownListFor(m => Model.basedon, new SelectList(BasechargeList, "Value", "Text", Model.basedon), new { @class = "select2 drpon form-control", placeholder = "Select Base" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-2">

                    @Html.CheckBoxFor(m => Model.usefrom, new { @class = "form-control" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-2">
                    @Html.CheckBoxFor(m => Model.useto, new { @class = "form-control" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-2">
                    @Html.CheckBoxFor(m => Model.usetrantype)
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-2">
                     @Html.CheckBoxFor(m => Model.useratetype)
                </div>
            </div>
        </td>
         <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-2">
                    @Html.CheckBoxFor(m => Model.LoopWiseContract)
                </div>
            </div>
        </td>
        <td>
            <div class="col-md-12 radio-list" style="margin-top: -3px;">
                <label class="radio-inline">

                    @Html.RadioButtonFor(m => Model.slab_type, "N", new { @class = "form-control" }) <label>NA</label>
                </label>
                <label class="radio-inline">

                    @Html.RadioButtonFor(m => Model.slab_type, "D", new { @class = "form-control" })<label>Direct</label>
                </label>
                <label class="radio-inline">

                    @Html.RadioButtonFor(m => Model.slab_type, "P", new { @class = "form-control" })<label>Progressive</label>
                </label>
            </div>

        </td>
    }
</tr>
