﻿@model FleetDataService.Models.Webx_CustContract_FRTMatrix_SingleSlab
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.ContractService CS = new FleetDataService.ContractService();
}
@using (Html.BeginCollectionItem("StandChr", Model.Id.ToString()))
{
    <div class="row">
        <div class="col-md-12">
            <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                <li><strong>Detail Charge</strong></li>
            </ul>
        </div>
        <div class="row col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4">Charge Name</label>
                    <div class="col-md-6">
                        <label id="lbldcharge" style="margin-top: 5px; font-weight: bold;">Docket Charges</label>
                        @*@Html.DisplayFor(c=>c.)*@
                        @*@Html.TextBoxFor(m => m.cutoff_hrs, new { placeholder = "Hours", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })*@
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4">Matrix Type</label>
                    <div class="col-md-8">
                        <label style="margin-top: 5px; font-weight: bold;">Na</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4">Trans Mode</label>
                    <div class="col-md-6">
                        <label style="margin-top: 5px; font-weight: bold;">@Html.DisplayFor(m => m.trans_type)</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="row col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4">From Location Filter</label>
                    <div class="col-md-6">
                        <label style="margin-top: 5px; font-weight: bold;">@Html.DisplayFor(m => m.FromLoc)</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4">To Location Filter</label>
                    <div class="col-md-8">
                        <label style="margin-top: 5px; font-weight: bold;">@Html.DisplayFor(m => m.toloc)</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                <li><strong>Sundry Single Slab Rates</strong></li>
            </ul>
        </div>
        <div class="row col-md-12">
            <div class="form-group">
                <label class="control-label col-md-4">Rate</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(c => c.rate, new { placeholder = "Enter Rate", @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </div>
    </div>
}
