﻿@model FleetDataService.Models.Webx_CustContract_FRTMatrix_SingleSlab
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.ContractService CS = new FleetDataService.ContractService();

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> objMasterModeList = new List<Webx_Master_General>();
    objMasterModeList = CS.GetContractTransMode(Model.contractid).ToList();

    List<Webx_Master_General> objMasterRateList = new List<Webx_Master_General>();
    objMasterRateList = CS.GetContractRateType(Model.contractid).ToList();

    //CityMaster
    List<webx_citymaster> GetCityMasterObject = MS.GetCityMasterObject().Where(c=>c.activeflag=="Y").ToList();

    //lOCATION
    List<webx_location> GetLocationDetails = MS.GetLocationDetails().Where(c=>c.ActiveFlag=="Y").ToList();
    foreach (var item in GetLocationDetails)
    {
        item.LocName = item.LocCode + "~" + item.LocName;
    }
    List<Webx_Master_General> GetDeliveryZoneObject = MS.GetGeneralMasterObject().Where(c => c.CodeType == "ZONE").ToList();

    List<Webx_Master_General> Rateunitslist = MS.GetGeneralMasterObject().Where(c => c.CodeType == "UnitsRate" && c.StatusCode == "Y").ToList();

    List<Webx_Master_General> Modelist = MS.GetGeneralMasterObject().Where(c => c.CodeType == "UnitsRate" && c.StatusCode == "Y" && (c.CodeDesc == "Per Kg" || c.CodeDesc == "Per Ton")).ToList();
    
}


@if (Model.ContractType.ToString() == "L")
{
    <tr class="editorRow">
        @Html.Hidden("hdnblnk", Model.Id, new { @class = "iHidden" })
        @using (Html.BeginCollectionItem("FreightCharge", Model.Id.ToString()))
        {
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-1">
                        @Html.DisplayFor(m => m.Id)
                        @Html.HiddenFor(m => m.contractid)
                        @Html.HiddenFor(m => m.Matrixtype)
                        @Html.HiddenFor(m => m.FilterMatrixtype)
                        @Html.HiddenFor(m => m.FilterTrnsMode)
                        @Html.HiddenFor(m => m.chargecode)
                        @Html.HiddenFor(m => m.FilterToLoc)
                        @Html.HiddenFor(m => m.FilterFromLoc)
                        @Html.HiddenFor(m => m.OldFromLoc)
                        @Html.HiddenFor(m => m.OldToLoc)
                        @Html.HiddenFor(m => m.OldTransType)
                        @Html.HiddenFor(m => m.srno)
                    </div>
                </div>
            </td>

            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.LoopTransMode, new SelectList(Modelist, "CodeId", "CodeDesc"), new { placeholder = "Select Mode", @class = "form-control select2 ft required" })
                    </div>
                </div>
            </td>
            if (Model.FilterMatrixtype == "C")
            {
                <td class="col-md-3" style="width:200px">
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.DropDownListFor(m => m.FromLoc, new SelectList(GetCityMasterObject, "Location", "Location"), "", new { placeholder = "Select From City", @class = "form-control select2 ft required" })
                        </div>
                    </div>
                </td>
                <td class="col-md-3" style="width:200px">
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.DropDownListFor(m => m.toloc, new SelectList(GetCityMasterObject, "Location", "Location"), "", new { placeholder = "Select To City", @class = "form-control select2 ft required  " })
                        </div>
                    </div>
                </td>
            }
            else if (Model.FilterMatrixtype == "L")
            {
                <td class="col-md-3" style="width:200px">
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.DropDownListFor(m => m.FromLoc, new SelectList(GetLocationDetails, "LocCode", "LocName"), "", new { placeholder = "Select From Location", @class = "form-control select2 ft required  " })
                        </div>
                    </div>
                </td>
                <td class="col-md-3" style="width:200px">
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.DropDownListFor(m => m.toloc, new SelectList(GetLocationDetails, "LocCode", "LocName"), "", new { placeholder = "Select To Location", @class = "form-control select2 ft required  " })
                        </div>
                    </div>
                </td>
            }
            else
            {
                <td class="col-md-3">
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.DropDownListFor(m => m.FromLoc, new SelectList(GetDeliveryZoneObject, "CodeId", "CodeDesc"), "", new { placeholder = "Select From Zone", @class = "form-control select2 ft required clsChkDuplicate " })
                        </div>
                    </div>
                </td>
                <td class="col-md-3">
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.DropDownListFor(m => m.toloc, new SelectList(GetDeliveryZoneObject, "CodeId", "CodeDesc"), "", new { placeholder = "Select To Zone", @class = "form-control select2 ft required clsChkDuplicate " })
                        </div>
                    </div>
                </td>
            }
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.FromRange, new { placeholder = "Enter To From Range", @class = "form-control required FromRangeTorange", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                    </div>
                </div>
            </td>
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.ToRange, new { placeholder = "Enter To To Range", @class = "form-control required FromRangeTorange", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                    </div>
                </div>
            </td>
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.rate, new { placeholder = "Enter To Rate", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                    </div>
                </div>
            </td>
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.RateUnits, new SelectList(Rateunitslist, "CodeId", "CodeDesc"), new { placeholder = "Select Mode", @class = "form-control select2 ft required " })
                    </div>
                </div>
            </td>
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.trans_type, new SelectList(objMasterModeList, "CodeId", "CodeDesc"), new { placeholder = "Select Mode", @class = "form-control select2 TRNS required" })
                    </div>
                </div>
            </td>
            <td class="col-md-1 center">
                @if (Model.Id > 1)
                {
                    <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" id="@Model.srno" class="FreightdeleteRow">X</a></text>
                }
                else
                {
                    
                    <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
                }
            </td>
        }
    </tr>

}
else
{
    <tr class="editorRow">
        @Html.Hidden("hdnblnk", Model.Id, new { @class = "iHidden" })
        @using (Html.BeginCollectionItem("FreightCharge", Model.Id.ToString()))
        {
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-1">
                        @Html.DisplayFor(m => m.Id)
                        @Html.HiddenFor(m => m.contractid)
                        @Html.HiddenFor(m => m.Matrixtype)
                        @Html.HiddenFor(m => m.FilterMatrixtype)
                        @Html.HiddenFor(m => m.FilterTrnsMode)
                        @Html.HiddenFor(m => m.chargecode)
                        @Html.HiddenFor(m => m.FilterToLoc)
                        @Html.HiddenFor(m => m.FilterFromLoc)
                        @Html.HiddenFor(m => m.OldFromLoc)
                        @Html.HiddenFor(m => m.OldToLoc)
                        @Html.HiddenFor(m => m.OldTransType)
                        @Html.HiddenFor(m => m.srno)
                    </div>
                </div>
            </td>
            if (Model.FilterMatrixtype == "C")
            {
                <td class="col-md-3">
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.DropDownListFor(m => m.FromLoc, new SelectList(GetCityMasterObject, "Location", "Location"), "", new { placeholder = "Select From City", @class = "form-control select2 ft required clsChkDuplicate " })
                        </div>
                    </div>
                </td>
                <td class="col-md-3">
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.DropDownListFor(m => m.toloc, new SelectList(GetCityMasterObject, "Location", "Location"), "", new { placeholder = "Select To City", @class = "form-control select2 ft required clsChkDuplicate " })
                        </div>
                    </div>
                </td>
            }
            else if (Model.FilterMatrixtype == "L")
            {
                <td class="col-md-3">
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.DropDownListFor(m => m.FromLoc, new SelectList(GetLocationDetails, "LocCode", "LocName"), "", new { placeholder = "Select From Location", @class = "form-control select2 ft required clsChkDuplicate " })
                        </div>
                    </div>
                </td>
                <td class="col-md-3">
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.DropDownListFor(m => m.toloc, new SelectList(GetLocationDetails, "LocCode", "LocName"), "", new { placeholder = "Select To Location", @class = "form-control select2 ft required clsChkDuplicate " })
                        </div>
                    </div>
                </td>
            }
            else
            {
                <td class="col-md-3">
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.DropDownListFor(m => m.FromLoc, new SelectList(GetDeliveryZoneObject, "CodeId", "CodeDesc"), "", new { placeholder = "Select From Zone", @class = "form-control select2 ft required clsChkDuplicate " })
                        </div>
                    </div>
                </td>
                <td class="col-md-3">
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.DropDownListFor(m => m.toloc, new SelectList(GetDeliveryZoneObject, "CodeId", "CodeDesc"), "", new { placeholder = "Select To Zone", @class = "form-control select2 ft required clsChkDuplicate " })
                        </div>
                    </div>
                </td>
            }
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.TextBoxFor(m => m.rate, new { placeholder = "Enter Rate", @class = "form-control required RateType clsChkDuplicate " })
                    </div>
                </div>
            </td>
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.ratetype, new SelectList(objMasterRateList, "CodeId", "CodeDesc"), new { @class = "required select2 ft form-control clsChkDuplicate ", placeholder = "Select Transit Mode" })
                    </div>
                </div>
            </td>
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.TextBoxFor(m => m.trdays, new { placeholder = "Select From Location", @class = "form-control required" })
                    </div>
                </div>
            </td>
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.trans_type, new SelectList(objMasterModeList, "CodeId", "CodeDesc"), new { @class = "required select2 drp form-control TrnsType", placeholder = "Select Transit Mode" })
                    </div>
                </div>
            </td>
            <td class="col-md-1 center">
                @if (Model.Id > 0)
                {
                    <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" id="@Model.srno" class="FreightdeleteRow">X</a></text>
                }
                else
                {
                    <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
                }
            </td>
        }
    </tr>
}
