﻿@model FleetDataService.Models.webx_custcontract_servicecharges
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.ContractService CS = new FleetDataService.ContractService();
    var BaseList = new List<SelectListItem> {
    new SelectListItem { Text = "Min. KG", Value = "W" },
    new SelectListItem { Text = "Min. Pkgs", Value = "P" },
     new SelectListItem { Text = "Min. Ton", Value = "T" },
    new SelectListItem { Text = "Min Rs", Value = "F" },
    };
    var VolMeasureList = new List<SelectListItem> {
    new SelectListItem { Text = "INCHES", Value = "INCHES" },
    new SelectListItem { Text = "CM", Value = "CM" },
    };
    var ServiceTaxPayList = new List<SelectListItem> {
    new SelectListItem { Text = "Consignor", Value = "CO" },
    new SelectListItem { Text = "Consignee", Value = "CE" },
    new SelectListItem { Text = "Billing Party", Value = "P" },
    new SelectListItem { Text = "Transporter", Value = "T" },
    };
    var RateTypeList = new List<SelectListItem> {
    new SelectListItem { Text = "Flat(in Rs)", Value = "F" },
    new SelectListItem { Text = "Per KG", Value = "W" },
    new SelectListItem { Text = "% of Freight", Value = "%" },
    };
    Model.STaxPaidByEnabled = true;

}

<div class="row">
    <div class="col-md-6">
        <div class="col-md-12 thumbnail">
            <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                <li><strong>Cutoff Time</strong></li>
            </ul>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-3">Hours</label>
                        <div class="col-md-6 form-group">
                            @Html.TextBoxFor(m => m.cutoff_hrs, new { placeholder = "Hours", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-4">Minutes</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.cutoff_min, new { placeholder = "Minutes", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label col-md-6"> Transit Days</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.cutoff_trdays, new { placeholder = "Transit Days", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12 thumbnail">
            <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                <li><strong> Minimum Freight - Base Wise</strong></li>
            </ul>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">Rate</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.min_frtbasrate, new { placeholder = "Hours", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">Base</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.min_frtbas, new SelectList(BaseList, "Value", "Text"), new { @class = "required select2 drpb form-control", placeholder = "Select Base" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="col-md-12 thumbnail">
            <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                <li><strong>Freight Invoice Rate (%) </strong></li>
            </ul>
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-6">Freight as % of Invoice Apply ? </label>
                        <div class="col-md-6 chkactive">
                            @Html.CheckBoxFor(m => m.InvoiceRateApplay, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6 InvoiceRate">
                    <div class="form-group">
                        <label class="control-label col-md-4">Rate(% of Inv)</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.InvoiceRate, new { placeholder = "Invoice Rate", @class = "form-control required input-small rounditn", @max = "100", @onkeyup = "javascript:return validFloat(event,this.getAttribute('id'))" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="col-md-12 thumbnail">
            <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                <li><strong>Volumetric Conversion</strong></li>
            </ul>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-3">Ratio</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.cft_ratio, new { placeholder = "Ratio", @class = "form-control  required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-6">Volumetric Measure</label>
                        <div class="col-md-6">
                            @Html.DropDownListFor(m => m.cft_measure, new SelectList(VolMeasureList, "Value", "Text"), new { @class = "required2 required select2 drpvol form-control", placeholder = "Select Volumetric" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12 thumbnail">
            <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                <li><strong> Service Tax Payer</strong></li>
            </ul>
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-3"> Options</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.stax_paidby_opts, new { placeholder = "Transit Days", @class = "required2 form-control required" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-6">Default Selection</label>
                        <div class="col-md-6">
                            @Html.DropDownListFor(m => m.stax_paidby, new SelectList(ServiceTaxPayList, "Value", "Text"), new { @class = "required2 required select2 drpsele form-control", placeholder = "Select Volumetric" ,@readonly=true})
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Active</label>
                        <div class="col-md-8">
                            @Html.CheckBoxFor(m => m.STaxPaidByEnabled, new { @class = "form-control", @checked = "checked" })
                        </div>
                    </div>
                </div>
            </div>

            @*START GST Changes Chirag D*@

            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-6">GST Paid By</label>
                        <div class="col-md-6">
                            @Html.DropDownListFor(m => m.gstpaidby, new SelectList(ServiceTaxPayList.Where(c => c.Value == "CO").ToList(), "Value", "Text"), new { @class = "required2 required drgstpaidby select2 form-control", placeholder = "GST Paid By"})
                        </div>
                    </div>
                </div>
            </div>

            @*END GST Changes Chirag D*@

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
            <li><strong>Fuel Surcharge</strong></li>
        </ul>
    </div>
    <div class="row col-md-12">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label col-md-4">Min Charge</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.min_fuelsurchrg, new { placeholder = "Min Charge", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label col-md-4">Max Charge</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.max_fuelsurchrg, new { placeholder = "Minutes", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label col-md-6"> Charge Rate</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.fuelsurchrg, new { placeholder = "Charge Rate", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label col-md-4">Rate Type</label>
                <div class="col-md-8">
                    @Html.DropDownListFor(m => m.fuelsurchrgbas, new SelectList(RateTypeList, "Value", "Text"), "", new { @class = "  select2 drpvol form-control", placeholder = "Select  Rate Type" })
                </div>
            </div>
        </div>
    </div>
</div>