﻿@model FleetDataService.Models.Webx_CustContract_FRTMatrix_SingleSlab
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.ContractService CS = new FleetDataService.ContractService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    //CityMaster
    List<webx_citymaster> GetCityMasterObject = MS.GetCityMasterObject().Where(c => c.activeflag == "Y").ToList();
    List<Webx_Master_General> GetZoneMasterObject = MS.GetGeneralMasterObject().Where(c => c.CodeType == "ZONE" && c.StatusCode == "Y").ToList();

    //lOCATION
    List<webx_location> GetLocationDetails = MS.GetLocationDetails().Where(c => c.ActiveFlag == "Y").ToList();
    foreach (var item in GetLocationDetails)
    {
        item.LocName =item.LocCode + "~" + item.LocName;
    }
}
<tr class="editorRow">    
    @Html.Hidden("hdnblnk", Model.Id, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("SlabList", Model.Id.ToString()))
    {     
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-1">
                    @Html.DisplayFor(m => m.Id)   
                    @Html.HiddenFor(m=>m.contractid)  
                    @Html.HiddenFor(m=>m.OldFromLoc)               
                    @Html.HiddenFor(m => m.OldToLoc)                    
                    @Html.HiddenFor(m => m.FilterMatrixtype)
                    @Html.HiddenFor(m => m.FilterToLoc)  
                    @Html.HiddenFor(m => m.FilterTrnsMode)
                    @Html.HiddenFor(m => m.basecode1)
                    @Html.HiddenFor(m => m.basecode2)                    
                    @Html.HiddenFor(m => m.basedon1)  
                    @Html.HiddenFor(m => m.basedon2)
                                        
                </div>
            </div>
        </td>           
       if (Model.FilterMatrixtype == "C")
        {
            <td class="col-md-2">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.FromLoc, new SelectList(GetCityMasterObject, "Location", "Location"),"", new { placeholder = "Select From City", @class = "form-control select2  required" })                        
                    </div>
                </div>
            </td>
            <td class="col-md-2">
                <div class="form-group">
                    <div class="col-md-11">
                      @Html.DropDownListFor(m => m.toloc, new SelectList(GetCityMasterObject, "Location", "Location"), "",new { placeholder = "Select To City", @class = "form-control select2  required" })
                    </div>
                </div>
            </td>
        }
        else if (Model.FilterMatrixtype == "R")
        {
            <td class="col-md-2">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.FromLoc, new SelectList(GetZoneMasterObject, "CodeDesc", "CodeDesc"), "", new { placeholder = "Select From Zone", @class = "form-control select2  required" })                                              
                    </div>
                </div>
            </td>
            <td class="col-md-2">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.toloc, new SelectList(GetZoneMasterObject, "CodeDesc", "CodeDesc"), "", new { placeholder = "Select To Zone", @class = "form-control select2  required" })                                                
                    </div>
                </div>
            </td>
        }
        else if (Model.FilterMatrixtype == "L")
        {
            <td class="col-md-2">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.FromLoc, new SelectList(GetLocationDetails, "LocCode", "LocName"),"", new { placeholder = "Select From Location", @class = "form-control select2  required" })                                              
                    </div>
                </div>
            </td>
            <td class="col-md-2">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.toloc, new SelectList(GetLocationDetails, "LocCode", "LocName" ), "",new { placeholder = "Select To Location", @class = "form-control select2  required" })                                                
                    </div>
                </div>
            </td>
        }
         <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-10">
                  @Html.TextBoxFor(m => m.trdays, new { placeholder = "Enter To Location", @class = "form-control required ToLoc", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-10">
                @Html.TextBoxFor(m => m.Slab1, new { placeholder = "Slab 1", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Slab2, new { placeholder = "Slab 2", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Slab3, new { placeholder = "Slab 3", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Slab4, new { placeholder = "Slab 4", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Slab5, new { placeholder = "Slab 5", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Slab6, new { placeholder = "Slab 6", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td class="col-md-1 center">
            @if (Model.Id > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="SlabdeleteRow">X</a></text>
            }
            else
            { 
                <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
            }
        </td>
    }
</tr>
 