﻿@model IEnumerable<FleetDataService.Models.Webx_Contract_ScanCopy>
@using FleetDataService.Models
@using Fleet.Helpers
@{ ViewBag.Title = "Customer Contract";
    Layout = "~/Views/Shared/_PartialLayout.cshtml";}

<div class="row" id="divContractList">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;Scan Copy List
                </div>
            </div>
            <div class="portlet-body">

                <label class="text-primary" id="lblname"><b></b></label>
                <table class="table table-striped table-bordered table-hover" id="tblContractScanCopyList" style="overflow-x: scroll;">
                    <thead>
                        <tr>
                            <th class="center">Sr No</th>
                            <th class="center">File Name</th>
                            <th>Upload Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tblcontractlist">
                        @foreach (var item in Model.ToList())
                        {
                            <tr>
                                <td>@item.Srno</td>
                                <td>@item.Filename</td>
                                <td>@item.UploadDate</td>
                                <td><a href="~/Images/UplaodContractFile/@item.Filename" target="_blank">View</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
