﻿@model FleetDataService.Models.webx_custcontract_fovmatrix
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.ContractService CS = new FleetDataService.ContractService();
    var RateList = new List<SelectListItem> {
    new SelectListItem { Text = "% of Invoice", Value = "%" },
    new SelectListItem { Text = "Flat(in Rs)", Value = "F" },
    };
}

@*@using (Html.BeginCollectionItem("ModeViseList", Model.Id.ToString()))
    {*@

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Id, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("CustMatrix", Model.Id.ToString()))
    {
        string ROWID = "RW_" + Model.Id;
        string DrpCls = "drpcls_" + Model.Id;
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-1">
                    @Html.DisplayFor(m => m.Id)
                </div>
            </div>
        </td>
        <td class="col-md-3">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.slabfrom, new { placeholder = "SKU Id & Name", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.slabto, new { placeholder = "Item Number", @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.fovrate, new { placeholder = "Unit Price", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.ratetype, new SelectList(RateList, "Value", "Text"), "", new { @class = "required select2 drp form-control", placeholder = "Select rate Type" })                 
                </div>
            </div>
        </td>
        <td class="col-md-1 center">
            @if (Model.Id > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
            }
            else
            {
                <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
            }
        </td>
    }
</tr>
@* } *@