﻿@model FleetDataService.Models.webx_custcontract_charge_constraint
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.ContractService CS = new FleetDataService.ContractService();

    List<Webx_Master_General> objMasterList = new List<Webx_Master_General>();
    Webx_Master_General objmaster = new Webx_Master_General();

    objMasterList = CS.GetContractTransMode(Model.contractid).ToList();

    objmaster.CodeDesc = "All";
    objmaster.CodeId = "A";
    objMasterList.Add(objmaster);

    List<Webx_Master_General> objMasterMatrixList = new List<Webx_Master_General>();
    objMasterMatrixList = CS.GetContractMatrixType(Model.contractid).ToList();

    var TypewiseContract = new List<SelectListItem>();
    if (Model.Loop_Wise_Contract == "Y")
    {
        TypewiseContract = new List<SelectListItem> {
            new SelectListItem { Text = "Loop Wise Contract", Value = "L" }
        };
    }
    else {
        TypewiseContract = new List<SelectListItem> {
        new SelectListItem { Text = "Simple Contract", Value = "S" }
        };
    }

}

@using (Html.BeginCollectionItem("ObjChargeContraint1", ""))
{
    <div>
        <div class="row">

            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">Name</label>
                        <div class="col-md-7" style="margin-top: 5px;">
                            <label id="Name" class="Name"><b>Sundry - Multiple Slab Range</b></label>
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(m=>m.contractid)
                @Html.HiddenFor(m => m.use_trans_type)
                @Html.HiddenFor(m => m.use_to)
                @Html.HiddenFor(m => m.use_from)
                @Html.HiddenFor(m => m.use_rate_type)
                @if (Model.use_trans_type == "Y")
                {
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Select Trans Mode</label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(m => m.FilterTrnsMode, new SelectList(objMasterList, "CodeId", "CodeDesc"), new { placeholder = "Select  Matrix Type", @class = "form-control select2  required" })
                            </div>
                        </div>
                    </div>
                }
                @if (Model.use_to == "Y" || Model.use_from == "Y")
                {
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Select Matrix Type</label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(m => m.FilterMatrixtype, new SelectList(objMasterMatrixList, "CodeId", "CodeDesc"), new { placeholder = "Select  Matrix Type", @class = "form-control select2  required" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @if (Model.use_from == "Y")
                {
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">From Location</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.FilterFromLoc, new { placeholder = "Select From Location", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                }
                @if (Model.use_to == "Y")
                {
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">To Location</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.FilterToLoc, new { placeholder = "Select To Location", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                }
                
                @if (Model.Loop_Wise_Contract == "Y")
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Type Wise Contract</label>
                                    <div class="col-md-7" style="margin-top: 5px;">
                                        @Html.DropDownListFor(m => m.ContractType, new SelectList(TypewiseContract, "Value", "Text"), new { placeholder = "Select  Matrix Type", @class = "select2 form-control   required" })
                                        @Html.HiddenFor(m => m.ContractType)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}


