﻿@model IEnumerable<FleetDataService.Models.webx_custcontract_hdr>
@*@model FleetDataService.Models.webx_custcontract_hdr*@
@using FleetDataService.Models
@using Fleet.Helpers
@{

}
@foreach (var item in Model.ToList())
{
    <tr>
        @Html.Hidden("ContractId", item.ContractId)
        @Html.Hidden("Custcode", item.Custcode)
        <td>
            @if (item.Status == "Active")
            {
                <a href="@Url.Action("UpdateContract", "contract", new { CustCode = item.Custcode, CustId = item.ContractId, ConType = item.Contract_Type })" class="btnTyreEdit"><i class="fa fa-edit" aria-hidden="true"></i>&nbsp;Edit</a>
            }
        </td>
        <td>@item.ContractId</td>
        <td>@item.Nstartdate</td>
        <td>@item.Nenddate</td>
        <td>@item.Contract_Type</td>
        <td>
            @if (item.Status == "Active")
            {
                <label style="color: green; font-weight: bold;"> @item.Status </label>
            }
            else
            {
                <label style="color: red; font-weight: bold;">  @item.Status</label>
            }
        </td>
        <td class="center">
            <a href="@Url.Action("CustomerContractView", "ViewPrint", new { ContractID = item.ContractId, CustCodeName = item.Custcode })" onclick="window.open(this.href, 'Fleet','left=20,top=20,width=1240,height=620,toolbar=1,resizable=0'); return false;" id="ReportFrame"><b>View</b></a>
        </td>
        <td>
            @if (item.Status == "Active")
            {
                <a href="javascript://" id="Deactive" data-target="#static" data-toggle="modal" data-id="@item.ContractId" class="btn btn-xs default blue-stripe">DeActive</a>
            }
            else
            {
                <a href="javascript://" id="Active" data-target="#static" data-toggle="modal" data-id="@item.ContractId" class="btn btn-xs default blue-stripe">Active</a>
            }
        </td>
        <td>
            @{ var ImageId = "imageUploadForm_" + item.ContractId; }
            @{ var ImageLink = "imageUploadFormlink_" + item.ContractId; }
            <div class="form-group fileinput fileinput-new documetfiles col-md-12" data-provides="fileinput">
                @Html.Hidden("Upload", item.Image_Path)
                <span class="btn default btn-file">
                    <span class="fileinput-new">
                        Select file
                    </span>
                    <span class="fileinput-exists">
                        Change`
                    </span>
                    <input type="file" id="@ImageId" name="image" data-id="@item.ContractId" multiple="multiple" class="clsImageUpload" />
                </span>
                <span class="fileinput-filename"></span>
                <span>
                    <a id="image1" href="~/Images/UplaodContractFile/@item.Image_Path" title="Document" class="DocumnetPhoto">
                        @if (item.Image_Path != null)
                        {
                            <img src="~/Images/UplaodContractFile/@item.Image_Path" alt="img" style="width:75px;height:75px" />
                        }
                    </a>
                </span>
                |
                <span>
                    <a href="@Url.Action("ContractScanCopyList", "Contract", new { ContractID = item.ContractId})" onclick="window.open(this.href, 'Fleet','left=20,top=20,width=1240,height=620,toolbar=1,resizable=0'); return false;" id="ReportFrame"><b>View</b></a>

                </span>
                &nbsp;
                <a href="#" class="close fileinput-exists name" data-dismiss="fileinput" style="float: none">
                </a>
            </div>
        </td>
    </tr>
}
<script>
    $("#image1").fancybox();
</script>