﻿@model FleetDataService.Models.webx_custcontract_frtmatrix_slabhdr
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.ContractService CS = new FleetDataService.ContractService();
    var TypeList = new List<SelectListItem> {
    new SelectListItem { Text = "perKG", Value = "W"},
    new SelectListItem { Text = "perPKG", Value = "P" },
    new SelectListItem { Text = "perTon", Value = "T" },
    new SelectListItem { Text = "Flat(in RS)", Value = "F" },
    };
}
@using (Html.BeginCollectionItem("SingleSlabList", Model.srno.ToString()))
{
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading text-center"><b>Slab 1 </b></div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <label class="control-label col-md-2">From  </label>
                        @Html.TextBoxFor(c => c.Slab1From, new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label col-md-2">To  </label>
                        @Html.TextBoxFor(c => c.Slab1To, new { @class = "form-control" })
                    </div>
                    <div class="col-md-12 center-block" style="margin-top: 10px;">
                        @Html.DropDownListFor(c => c.Slab1Type, new SelectList(TypeList, "Value", "Text"), new { @class = "select2 required form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading text-center"><b>Slab 2</b> </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <label class="control-label col-md-2">From  </label>
                        @Html.TextBoxFor(c => c.Slab2From, new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label col-md-2">To  </label>
                        @Html.TextBoxFor(c => c.Slab2To, new { @class = "form-control" })
                    </div>
                    <div class="col-md-12 center-block" style="margin-top: 10px;">
                        @Html.DropDownListFor(c => c.Slab2Type, new SelectList(TypeList, "Value", "Text"), new { @class = "select2 required form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading text-center"><b>Slab 3</b> </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <label class="control-label col-md-2">From  </label>
                        @Html.TextBoxFor(c => c.Slab3From, new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label col-md-2">To  </label>
                        @Html.TextBoxFor(c => c.Slab3To, new { @class = "form-control" })
                    </div>
                    <div class="col-md-12 center-block" style="margin-top: 10px;">
                        @Html.DropDownListFor(c => c.Slab2Type, new SelectList(TypeList, "Value", "Text"), new { @class = "select2 required form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading text-center"><b>Slab 4</b> </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <label class="control-label col-md-2">From  </label>
                        @Html.TextBoxFor(c => c.Slab4From, new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label col-md-2">To  </label>
                        @Html.TextBoxFor(c => c.Slab4To, new { @class = "form-control" })
                    </div>
                    <div class="col-md-12 center-block" style="margin-top: 10px;">
                        @Html.DropDownListFor(c => c.Slab4Type, new SelectList(TypeList, "Value", "Text"), new { @class = "select2 required form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading text-center"><b>Slab 5</b> </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <label class="control-label col-md-2">From  </label>
                        @Html.TextBoxFor(c => c.Slab5From, new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label col-md-2">To  </label>
                        @Html.TextBoxFor(c => c.Slab5To, new { @class = "form-control" })
                    </div>
                    <div class="col-md-12 center-block" style="margin-top: 10px;">
                        @Html.DropDownListFor(c => c.Slab5Type, new SelectList(TypeList, "Value", "Text"), new { @class = "select2 required form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading text-center"><b>Slab 6 </b></div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <label class="control-label col-md-2">From  </label>
                        @Html.TextBoxFor(c => c.Slab6From, new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label col-md-2">To  </label>
                        @Html.TextBoxFor(c => c.Slab6To, new { @class = "form-control" })
                    </div>
                    <div class="col-md-12 center-block" style="margin-top: 10px;">
                        @Html.DropDownListFor(c => c.Slab6Type, new SelectList(TypeList, "Value", "Text"), new { @class = "select2 required form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}