﻿@model FleetDataService.Models.CYGNUS_Charges_Customer_Template
@using FleetDataService.Models
@using Fleet.Helpers

@*@using (Html.BeginCollectionItem("ModeViseList", Model.RNo.ToString()))
    {*@

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.RNo, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("CustCharges", Model.RNo.ToString()))
    {
        string ROWID = "RW_" + Model.RNo;
        string DrpCls = "drpcls_" + Model.RNo;
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-1">
                    @Html.DisplayFor(m => m.RNo)
                    @Html.HiddenFor(m => m.RNo)
                    @Html.HiddenFor(m => m.ContractID)
                </div>
            </div>
        </td>
        <td class="col-md-3">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DisplayFor(m => m.chargename)
                    @Html.HiddenFor(m => m.chargename)
                    @Html.HiddenFor(m=>m.chargecode)
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Air, new { placeholder = "Air "+ Model.chargename, @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Train, new { placeholder = "Train" + Model.chargename, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Express, new { placeholder = "Express" + Model.chargename, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control" })
                </div>
            </div>
        </td>
        @*<td class="col-md-1 center">
            @if (Model.RNo > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
            }
            else
            {
                <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
            }
        </td>*@
    }
</tr>
 @*}*@ 