﻿@model FleetDataService.Models.CYGNUS_Contract_Terms
@using Fleet.Helpers

<tr class="editorRow">
    @using (Html.BeginCollectionItem("ContractTerms", Model.RNo.ToString()))
    {
        @Html.Hidden("hdnblnk", Model.RNo, new { @class = "iHidden" })

        string ROWID = "RW_" + Model.RNo;
        string DrpCls = "drpcls_" + Model.RNo;
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-1">
                    @Html.DisplayFor(m => m.RNo)
                    @Html.HiddenFor(m => m.RNo)
                </div>
            </div>
        </td>
        <td class="col-md-3">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Description, new { placeholder = "Description ", @class = "form-control required" })
                    @Html.HiddenFor(m => m.ContractID)
                </div>
            </div>
        </td>
    }
</tr>