﻿@model FleetDataService.Models.Webx_CustContract_FRTMatrix_SingleSlab
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.ContractService CS = new FleetDataService.ContractService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> FtlTypList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "FTLTYP" && c.StatusCode == "Y").ToList().OrderBy(c => c.CodeId).ToList();

    var RateList = new List<SelectListItem> {
    new SelectListItem { Text = "Per PKG", Value = "P" },
    new SelectListItem { Text = "Per TON", Value = "T" },
    new SelectListItem { Text = "Per KG", Value = "W" },
    };
    List<Webx_Master_General> objMasterList = new List<Webx_Master_General>();
    objMasterList = CS.GetContractTransMode(Model.contractid).ToList();
    
    //CityMaster
    List<webx_citymaster> GetCityMasterObject = MS.GetCityMasterObject().Where(c => c.activeflag == "Y").ToList();

    //lOCATION
    List<webx_location> GetLocationDetails = MS.GetLocationDetails().Where(c => c.ActiveFlag == "Y").ToList();
    foreach (var item in GetLocationDetails)
    {
        item.LocName = item.LocCode + "~" + item.LocName;
    }
    List<webx_Delivery_Zone> GetDeliveryZoneObject = MS.GetDeliveryZoneObject().Where(c => c.ActiveFlag == "Y").ToList();
    
};
<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Id, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("FTLList", Model.Id.ToString()))
    {
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-1">
                    @Html.DisplayFor(m => m.Id)
                    @Html.HiddenFor(m => m.contractid)
                    @Html.HiddenFor(m => m.OldFromLoc)
                    @Html.HiddenFor(m => m.OldToLoc)
                    @Html.HiddenFor(m => m.FilterMatrixtype)
                    @Html.HiddenFor(m => m.FilterToLoc)
                    @Html.HiddenFor(m => m.FilterTrnsMode)
                    @Html.HiddenFor(m => m.basecode1)
                    @Html.HiddenFor(m => m.basecode2)
                    @Html.HiddenFor(m => m.basedon1)
                    @Html.HiddenFor(m => m.basedon2)
                    @Html.HiddenFor(m => m.OldFTLType)
                    @Html.HiddenFor(m => m.srno)
                </div>
            </div>
        </td>
        if (Model.FilterMatrixtype == "C")
        {
            <td class="col-md-2">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.FromLoc, new SelectList(GetCityMasterObject, "Location", "Location"), "", new { placeholder = "Select From City", @class = "form-control select2 ft required clsChkDuplicateFLT" })                        
                    </div>
                </div>
            </td>
            <td class="col-md-2">
                <div class="form-group">
                    <div class="col-md-11">
                      @Html.DropDownListFor(m => m.toloc, new SelectList(GetCityMasterObject, "Location", "Location"), "", new { placeholder = "Select To City", @class = "form-control select2 ft required clsChkDuplicateFLT" })
                    </div>
                </div>
            </td>
        }
        else if (Model.FilterMatrixtype == "L")
        {
            <td class="col-md-2">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.FromLoc, new SelectList(GetLocationDetails, "LocCode", "LocName"), "", new { placeholder = "Select From Location", @class = "form-control select2 ft required clsChkDuplicateFLT" })                                              
                    </div>
                </div>
            </td>
            <td class="col-md-2">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.toloc, new SelectList(GetLocationDetails, "LocCode", "LocName"), "", new { placeholder = "Select To Location", @class = "form-control select2 ft required clsChkDuplicateFLT" })                                                
                    </div>
                </div>
            </td>
        }
        else
        {
            <td class="col-md-2">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.FromLoc, new SelectList(GetDeliveryZoneObject, "ZoneID", "ZoneName"), "", new { placeholder = "Select From Zone", @class = "form-control select2 ft required clsChkDuplicateFLT" })
                        
                    </div>
                </div>
            </td>
            <td class="col-md-2">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.toloc, new SelectList(GetDeliveryZoneObject, "ZoneID", "ZoneName"), "", new { placeholder = "Select To Zone", @class = "form-control select2 ft required clsChkDuplicateFLT" })
                        
                    </div>
                </div>
            </td>
        }
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.FTL, new SelectList(FtlTypList, "CodeId", "CodeDesc"), new { placeholder = "Select FTL Type", @class = "form-control select2 ft required clsChkDuplicateFLT" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.rate, new { placeholder = "Enter To Rate", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.trdays, new { placeholder = "Day", @class = "form-control required ", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.ratetype, new SelectList(CS.GetContractRateType(Model.contractid).ToList(), "CodeId", "CodeDesc"), new { placeholder = "Select Rate Type", @class = "form-control select2 ft required clsChkDuplicateFLT" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.TransMode, new SelectList(objMasterList, "CodeId", "CodeDesc"), new { placeholder = "Select Mode", @class = "form-control select2 ft required" })
                </div>
            </div>
        </td>
        <td class="col-md-1 center">
            @if (Model.Id > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="FlatdeleteRow">X</a></text>
            }
            else
            {
                <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
            }
        </td>
    }
</tr>
