﻿@model FleetDataService.Models.Webx_CustContract_FRTMatrix_SingleSlab
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.ContractService CS = new FleetDataService.ContractService();
     
   
    List<Webx_Master_General> objMasterModeList = new List<Webx_Master_General>();
    objMasterModeList = CS.GetContractTransMode(Model.contractid).ToList();  
    
    List<Webx_Master_General> objMasterRateList = new List<Webx_Master_General>();
    objMasterRateList = CS.GetContractRateType(Model.contractid).ToList();
}


<tr class="editorRow">    
    @Html.Hidden("hdnblnk", Model.Id, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("FreightCharge", Model.Id.ToString()))
    {     
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-1">
                    @Html.DisplayFor(m => m.Id)   
                    @Html.HiddenFor(m=>m.contractid)                 
                </div>
            </div>
        </td>           
        <td class="col-md-3">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.FromLoc, new { placeholder = "Enter From Location", @class = "form-control required FrmLoc" })
                </div>
            </div>
        </td>
        <td class="col-md-3">
            <div class="form-group">
                <div class="col-md-11">
                  @Html.TextBoxFor(m => m.toloc, new { placeholder = "Enter To Location", @class = "form-control required ToLoc"})
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                @Html.TextBoxFor(m => m.rate, new { placeholder = "Enter Rate", @class = "form-control required RateType" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.ratetype, new SelectList(objMasterRateList, "CodeId", "CodeDesc"), new { @class = "required select2 drp form-control", placeholder = "Select Transit Mode" })                    
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.trdays, new { placeholder = "Select From Location", @class = "form-control required" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.trans_type, new SelectList(objMasterModeList, "CodeId", "CodeDesc"), new { @class = "required select2 drp form-control", placeholder = "Select Transit Mode" })                    
                </div>
            </div>
        </td>
        <td class="col-md-1 center">
            @if (Model.Id > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="FreightdeleteRow">X</a></text>
            }
            else
            { 
                <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
            }
        </td>
    }
</tr>
 