﻿@model FleetDataService.Models.webx_HandlingCharge
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.ContractService CS = new FleetDataService.ContractService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    var Type = new List<SelectListItem> {
    new SelectListItem { Text = "MF", Value = "M" },
    new SelectListItem { Text = "PRS", Value = "P" },
    new SelectListItem { Text = "DRS", Value = "D" },
    };
    var LoadingBy = new List<SelectListItem> {
    new SelectListItem { Text = "Own Labour", Value = "O" },
    new SelectListItem { Text = "Market", Value = "M" },
    new SelectListItem { Text = "BA", Value = "B" },
    };

    List<Webx_Master_General> RateList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "RATETYPE" && c.StatusCode == "Y").OrderBy(c => c.CodeId).ToList();
}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Id, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("LoadingList", Model.Id.ToString()))
    {
        <td class="col-md-3">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.LoadingBy, new SelectList(LoadingBy, "Value", "Text"), "", new { @class = "select2 drp form-control", placeholder = "Select Loading By", @readonly = "true" })

                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.ContractType, new SelectList(Type, "Value", "Text"), "", new { @class = "select2 drp form-control", placeholder = "Select  Type" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.RateType, new SelectList(RateList, "CodeId", "CodeDesc"), "", new { @class = "select2 drp form-control", placeholder = "Select rate Type" })

                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Rate, new { placeholder = "Rate", @class = "form-control Rate1", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Wt_Pkg, new { placeholder = "Wt/Pkg", @class = "form-control Wt_Pkg1", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.MaxAmount, new { placeholder = "MaxAmount", @class = "form-control", @readonly = true })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.TotalCharge, new { placeholder = "MaxAmount", @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
    }
</tr>