﻿@model Fleet.ViewModels.CustomerContractViewModel
@using FleetDataService.Models
@{
    FleetDataService.ContractService CS = new FleetDataService.ContractService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_State> Liststate = MS.GetStateMasterObject().Where(c => c.activeflag == "Y").ToList();


    var RiskType = "";
    var WeightconsiderList = new List<SelectListItem> {
    new SelectListItem { Text = "Higher of Volumetric and Actual Weight", Value = "H" },
    new SelectListItem { Text = "Always Actual weight", Value = "A" },
    new SelectListItem { Text = "Always Volumetric weight", Value = "V" },
    };
    var DiscountRateList = new List<SelectListItem> {
    new SelectListItem { Text = "In % of Freight", Value = "H" },
    new SelectListItem { Text = "PerKg", Value = "W" },
    new SelectListItem { Text = "PerPkg", Value = "P" },
    new SelectListItem { Text = "PerTon", Value = "T" },
    };
    var DemurrageCalculationList = new List<SelectListItem> {
    new SelectListItem { Text = "Inclusive of free storage days", Value = "1" },
    new SelectListItem { Text = "Exclusive of free storage days ", Value = "2" },
    };
    var DemurrageRateRateList = new List<SelectListItem> {
    new SelectListItem { Text = "% of Invoice", Value = "%I" },
    new SelectListItem { Text = "Per Kg Per Day", Value = "WD" },
     new SelectListItem { Text = "Per PKg Per Day", Value = "PD" },
    };
    var BillingInstanceList = new List<SelectListItem> {
    new SelectListItem { Text = "On Booking", Value = "BKG" },
    new SelectListItem { Text = "On Delivery", Value = "DEL" },
     new SelectListItem { Text = "On POD approval", Value = "PA" },
      new SelectListItem { Text = "On POD scan", Value = "PS" },
    new SelectListItem { Text = "On POD Process Closure", Value = "PC" },
    };
    var BillingScheduleList = new List<SelectListItem> {
    new SelectListItem { Text = "Monthly", Value = "1" },
    new SelectListItem { Text = "Weekly", Value = "2" },
     new SelectListItem { Text = "Fortnightly", Value = "3" },
      new SelectListItem { Text = "Others", Value = "4" },
    };
    var ServiceTaxList = new List<SelectListItem> {
    new SelectListItem { Text = "Transporter", Value = "T" },
    new SelectListItem { Text = "Billing Party", Value = "P" },
     new SelectListItem { Text = "Consignor", Value = "CO" },
      new SelectListItem { Text = "Consignee", Value = "CE" },
    };
    if (Model.CustomerCharge.vol_yn == "Y")
    {
        Model.CustomerCharge.Volumetric = true;
    }
    else
    {
        Model.CustomerCharge.Volumetric = false;
    }
    if (Model.CustomerCharge.cod_dod_yn == "Y")
    {
        Model.CustomerCharge.Codecharge = true;
    }
    else
    {
        Model.CustomerCharge.Codecharge = false;
    }
    if (Model.CustomerCharge.dacc_yn == "Y")
    {
        Model.CustomerCharge.DACcarage = true;
    }
    else
    {
        Model.CustomerCharge.DACcarage = false;
    }
    if (Model.CustomerCharge.oda_yn == "Y")
    {
        Model.CustomerCharge.ODAchatrge = true;
    }
    else
    {
        Model.CustomerCharge.ODAchatrge = false;
    }
    if (Model.CustomerCharge.use_invno == "Y")
    {
        Model.CustomerCharge.UseInvoiceNo = true;
    }
    else
    {
        Model.CustomerCharge.UseInvoiceNo = false;
    }
    if (Model.CustomerCharge.use_invdt == "Y")
    {
        Model.CustomerCharge.UserInvoiceDate = true;
    }
    else
    {
        Model.CustomerCharge.UserInvoiceDate = false;
    }
    if (Model.CustomerCharge.risktype == "O")
    {
        RiskType = "Owner Risk";
    }
    else
    {
        RiskType = "Carrier Risk";
    }
    if (Model.CustomerCharge.diesel_hike_yn == "Y")
    {
        Model.CustomerCharge.chkfuelsurcharge = true;
    }
    else
    {
        Model.CustomerCharge.chkfuelsurcharge = false;
    }
    if (Model.CustomerCharge.oct_sur_yn == "Y")
    {
        Model.CustomerCharge.chkoctroisurcharge = true;
    }
    else
    {
        Model.CustomerCharge.chkoctroisurcharge = false;
    }
    List<webx_location> locationList = MS.GetLocationDetails().Where(c => c.ActiveFlag == "Y").OrderBy(c => c.LocName).ToList();
    foreach (var item in locationList)
    {
        item.LocName = item.LocCode + "~" + item.LocName;
    }

}
@using (Html.BeginForm("AddServiceSelection", "Contract", FormMethod.Post, new { id = "form_sampleservice", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(c => c.CustomerCharge.ContractId)
    @Html.HiddenFor(c => c.CustomerCharge.Custcode)
    @Html.HiddenFor(c => c.CustomerCharge.risktype)
    <div class="row">
        <div class="col-md-12">
            <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                <li><strong> Service Selection</strong></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="row col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Transit Mode</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.CustomerCharge.trans_type, new { placeholder = "Select Customer Contract", @class = "required2 form-control required" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Rate Types Allowed</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.CustomerCharge.rate_type, new { placeholder = "Select Rate Type", @class = "required2 form-control required" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Matrices Allowed</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.CustomerCharge.matrix_type, new { placeholder = "Select Matrix Allowed", @class = "required2 form-control required" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Pickup/Delivery</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.CustomerCharge.pkp_dly, new { placeholder = "Select PickUp delivery", @class = "required2 form-control required" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Weight to Consider</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.CustomerCharge.cft_weight_type, new SelectList(WeightconsiderList, "Value", "Text"), new { @class = "required2 required select2 drp form-control", placeholder = "Select Weight to Consider" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Service Type </label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.CustomerCharge.service_type, new { placeholder = "Select service Type", @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-5">Volumetric</label>
                    <div class="col-md-6 chkactive">
                        @Html.CheckBoxFor(m => m.CustomerCharge.Volumetric, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-5">Use Invoice No</label>
                    <div class="col-md-6 chkactive">
                        @Html.CheckBoxFor(m => m.CustomerCharge.UseInvoiceNo, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-5">User Invoice Date</label>
                    <div class="col-md-6 chkactive">
                        @Html.CheckBoxFor(m => m.CustomerCharge.UserInvoiceDate, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-5">Allow Partial Payment</label>
                    <div class="col-md-6 chkactive">
                        @Html.CheckBoxFor(m => m.CustomerCharge.AllowPartialPayment, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>    <div class="row">
        <div class="col-md-12">
            <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                <li><strong>Freight Related Services</strong></li>
            </ul>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label col-md-5">Deferment allowed</label>
                    <div class="col-md-6 chkactive">
                        @Html.CheckBoxFor(m => m.CustomerCharge.UserInvoiceDate, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label col-md-6">Freight as % of Invoice</label>
                    <div class="col-md-6 chkactive">
                        @Html.CheckBoxFor(m => m.CustomerCharge.UserInvoiceDate, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label col-md-5">Deferment days</label>
                    <div class="col-md-6 form-group">
                        @Html.TextBoxFor(m => m.CustomerCharge.difer_days, new { placeholder = "Select Customer Contract", @class = "form-control required", @minlength = "0", @maxlength = "2" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label col-md-5">Discount(In %)</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.CustomerCharge.difer_disc_per, new { placeholder = "Select Customer Contract", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-5">Rate(% of Inv)</label>
                    <div class="col-md-2 form-group">
                        @Html.TextBoxFor(m => m.CustomerCharge.rate_per_inv, new { placeholder = "Rate(% of Inv)", @class = "form-control required", @minlength = "0", @maxlength = "2" })
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.CustomerCharge.frt_disc_ratetype, new SelectList(DiscountRateList, "Value", "Text"), new { @class = "required select2 drp form-control", placeholder = "Select Weight to Consider" })
                    </div>
                </div>
            </div>
            @*<div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-5">Contract ID</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.CustomerCharge.frt_disc_contractid, new { placeholder = "Search Customer Contract", @class = "required2 form-control required" })
                    </div>
                </div>
            </div>*@
        </div>
        <div class="row col-md-12">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label col-md-4">Type of Minimum Freight</label>
                    <div class="col-md-7 radio-list">
                        <label class="radio-inline">
                            @*@Html.RadioButton("RDOCnor", "True", new { @checked = "true", @id = "RDOCnor1" })*@
                            @Html.RadioButtonFor(m => m.CustomerCharge.min_freight_type, "B", new { @class = "form-control" })Base Wise
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(m => m.CustomerCharge.min_freight_type, "%", new { @class = "form-control" }) Percent Wise
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="form-group">
                    <label class="control-label col-md-2">Type of Service</label>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-10">COD/DOD Charges</label>
                            <div class="col-md-1 chkactive">
                                @Html.CheckBoxFor(m => m.CustomerCharge.Codecharge, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-10">DACC Charges</label>
                            <div class="col-md-1 chkactive">
                                @Html.CheckBoxFor(m => m.CustomerCharge.DACcarage, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-10">ODA Charges</label>
                            <div class="col-md-1 chkactive">
                                @Html.CheckBoxFor(m => m.CustomerCharge.ODAchatrge, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12" style="background-color: #E4F2F7; margin-left: 15px; margin-bottom: 21px;display:none" id="divcoddacc">
            <div class="row col-md-6" style="margin-top: 10px; display: none" id="divCod">
                <div class="form-group">
                    <label class="control-label col-md-4">COD/DOD Charges</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.CustomerCharge.cod_chrg_rs, new { placeholder = "Select COD/DOD Charges  Minimum (in Rs)", @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                    </div>
                    <div class="col-md-1">
                        <label class="control-label col-md-4">Rate</label>
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.CustomerCharge.cod_chrg_per, new { placeholder = "Select Rate", @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownListFor(m => m.CustomerCharge.cod_chrg_ratetype, new SelectList(DiscountRateList, "Value", "Text"), "", new { @class = "select2 drp form-control", placeholder = "Select Weight to Consider" })
                    </div>
                </div>
            </div>
            <div class="row col-md-6" style="margin-top: 10px; display: none" id="divdacc">
                <div class="form-group">
                    <label class="control-label col-md-4">DACC Charges</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.CustomerCharge.dacc_chrg_rs, new { placeholder = "Select DACC Charges	Minimum (in Rs)", @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                    </div>
                    <div class="col-md-1">
                        <label class="control-label col-md-4">Rate</label>
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.CustomerCharge.dacc_chrg_per, new { placeholder = "Select Rate", @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownListFor(m => m.CustomerCharge.dacc_chrg_ratetype, new SelectList(DiscountRateList, "Value", "Text"), "", new { @class = "select2 drp form-control", placeholder = "Select Weight to Consider" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                <li><strong>Demurrage Information</strong></li>
            </ul>
        </div>
        <div class="row col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-9">
                        Delivery allowed
                        w/o Demurrage Bill Generation
                    </label>
                    <div class="col-md-3 chkactive">
                        @Html.CheckBoxFor(m => m.CustomerCharge.UserInvoiceDate, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-6">Demurrage Calculation Basis </label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.CustomerCharge.dem_cal_bas, new SelectList(DemurrageCalculationList, "Value", "Text"), new { @class = "required2 required select2 drp form-control", placeholder = "Select Demurrage Calculation Basis" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-5">Free Storage Days</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.CustomerCharge.dem_day, new { placeholder = "Enter Free Storage Days", @class = "required2 form-control required" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-9">
                        Min Demurrage Charges
                    </label>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.CustomerCharge.dem_chrg_min, new { placeholder = "Enter Min Demurrage Charges", @class = "required2 form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-6">Demurrage Rate & Rate Type </label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.CustomerCharge.dem_chrg_per, new { placeholder = "Enter Min Demurrage Charges", @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.CustomerCharge.dem_chrg_ratetype, new SelectList(DemurrageRateRateList, "Value", "Text"), new { @class = "select2 drp form-control", placeholder = "Select Weight to Consider" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-5">Max Demuarrge Charges</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.CustomerCharge.dem_chrg_max, new { placeholder = "Enter Max Demuarrge Charges", @class = "required2 form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                <li><strong>Risk Information</strong></li>
            </ul>
        </div>
        <div class="row col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-2">Risk Type</label>
                    <div class="col-md-7 radio-list">
                        <label class="radio-inline">
                            @*@Html.RadioButton("RDOCnor", "True", new { @checked = "true", @id = "RDOCnor1" })*@
                            @Html.RadioButtonFor(m => m.CustomerCharge.risktype, "C", new { @class = "form-control" }) Carrier Risk
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(m => m.CustomerCharge.risktype, "O", new { @class = "form-control" }) Owner Risk
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label col-md-8">Fuel Surcharge Applicable</label>
                            <div class="col-md-1 chkactive">
                                @Html.CheckBoxFor(m => m.CustomerCharge.chkfuelsurcharge, new { @class = "form-control FuelSurcharge" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label col-md-8">Octroi Surcharge Applicable</label>
                            <div class="col-md-1 chkactive">
                                @Html.CheckBoxFor(m => m.CustomerCharge.chkoctroisurcharge, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12" id="divMatrix">
            <h2 class="form-section"></h2>
            <div class="col-md-6 CarrierRisk">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i><label id="lblrisk">Carrier Risk</label>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table id="sample_1" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-1">Id</th>
                                    <th class="col-md-3">From</th>
                                    <th class="col-md-3">To</th>
                                    <th class="col-md-3">Rate</th>
                                    <th class="col-md-3">Rate Type</th>
                                    <th>X</th>
                                </tr>
                            </thead>
                            <tbody id="tblsubitemcarrier">
                                @foreach (var item in Model.ListcustcontractMatrix)
                                {
                                    Html.RenderPartial("_PartialMatrix", item);
                                }
                            </tbody>
                        </table>
                        <br />
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-9">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="btnAddMatrix" class="btn blue pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 OwnerRisk">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i><label id="lblrisk"> Owner Risk</label>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table id="sample_2" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-1">Id</th>
                                    <th class="col-md-3">From</th>
                                    <th class="col-md-3">To</th>
                                    <th class="col-md-3">Rate</th>
                                    <th class="col-md-3">Rate Type</th>
                                    <th>X</th>
                                </tr>
                            </thead>
                            <tbody id="tblsubitemOwner">
                                @foreach (var item in Model.ListcustcontractMatrixOwner)
                                {
                                    Html.RenderPartial("_PartialMatrixOwner", item);
                                }
                            </tbody>
                        </table>
                        <br />
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-9">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="btnAddMatrixOwner" class="btn blue pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                <li><strong>Billing Information</strong></li>
            </ul>
        </div>
        <div class="row col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-5">Bill Generation Location</label>
                    <div class="col-md-6">
                        @*@Html.DropDownListFor(m => m.CustomerCharge.billgen_loccode, new SelectList(Model.RegionList, "LocCode", "LocName"), "", new { @class = "required required2 select2 drp form-control", @placeholder = "Select Location" })*@
                        @Html.DropDownListFor(m => m.CustomerCharge.billgen_loccode, new SelectList(locationList, "LocCode", "LocName", Model.CustomerCharge.billgen_loccode), "", new { @class = "required required2 select2 drp form-control", @placeholder = "Select Location" })

                        
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-5">Billing Instance</label>
                    <div class="col-md-6 form-group">
                        @Html.DropDownListFor(m => m.CustomerCharge.bill_inst, new SelectList(BillingInstanceList, "Value", "Text"), new { @class = "required2 required select2 drp form-control", placeholder = "Select Billing Instance" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-5">Billing Schedule</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.CustomerCharge.bill_schedule, new SelectList(BillingScheduleList, "Value", "Text"), new { @class = "required required2 select2 drp form-control", placeholder = "Select Billing Schedule" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-5">Bill Submission Location</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.CustomerCharge.billsub_loccode, new SelectList(locationList, "LocCode", "LocName", Model.CustomerCharge.billsub_loccode), "", new { @class = "required required2 select2 drp form-control", @placeholder = "Select Bill Submission Location" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-5">Credit Limit(In Rs)</label>
                    <div class="col-md-6 form-group">
                        @Html.TextBoxFor(m => m.CustomerCharge.credit_limit, new { placeholder = "Enter Max Demuarrge Charges", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-5">Com. Business(pm)</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.CustomerCharge.comm_bus, new { placeholder = "Enter Max Demuarrge Charges", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-5">Bill Collection Location</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.CustomerCharge.billcol_loccode, new SelectList(locationList, "LocCode", "LocName", Model.CustomerCharge.billcol_loccode), "", new { @class = "required required2 select2 drp form-control", @placeholder = "Select Bill Collection Location" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-5">Credit Days</label>
                    <div class="col-md-6 form-group">
                        @Html.TextBoxFor(m => m.CustomerCharge.credit_day, new { placeholder = "Enter Credit Days", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-5">Billing State</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.CustomerCharge.BillingState, new SelectList(Liststate, "statePrefix", "stnm", Model.CustomerCharge.BillingState), "", new { @class = "required required2 select2 drp form-control", placeholder = "Select Billing State" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-5">SKU Wise Y/N</label>
                    <div class="col-md-6 chkactive">
                        @Html.CheckBoxFor(m => m.CustomerCharge.UserInvoiceDate, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-5">GST Payable</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.CustomerCharge.stax_paidby, new SelectList(ServiceTaxList, "Value", "Text"), "", new { @class = "required required2 select2 drp form-control", placeholder = "Select ServiceTax Payer" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-offset-3 col-md-9">
                    <button type="button" id="btnSubmitservice" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Save & Continue</button>
                </div>
            </div>
        </div>
    </div>
}