﻿@model Fleet.ViewModels.CustomerContractViewModel
@using FleetDataService.Models
@{

    FleetDataService.ContractService CS = new FleetDataService.ContractService();
    List<webx_master_charge> objListCharge = new List<webx_master_charge>();

    objListCharge = CS.GetChargeMatrixCriteria();
  
}
@using (Html.BeginForm("GetStandardCharge", "Contract", FormMethod.Post, new { id = "form_StandardCharge", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(c => c.CustServiceChrg.contractid)
    @Html.HiddenFor(c => c.CustServiceChrg.custcode)
    <div class="row">
        <div class="col-md-12">
            <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                <li><strong>Charge Name - Selection Criteria</strong></li>
            </ul>
        </div>
        <div class="row col-md-12">
            <div class="form-group">
                <label class="control-label col-md-4">Charge Name</label>
                <div class="col-md-2">
                    @Html.DropDownListFor(m => m.chargeContraint.basedon, new SelectList(objListCharge, "chargecode", "chargename"), "", new { @class = "required select2 drpselect form-control", placeholder = "Select Charge Name" })
                    @Html.HiddenFor(m => m.chargeContraint.chargecode)
                    @Html.HiddenFor(m => m.CustsingleSlab.contractid)
                    @Html.HiddenFor(m => m.CustsingleSlab.basecode1)
                    @Html.HiddenFor(m => m.CustsingleSlab.basecode2)
                    @Html.HiddenFor(m => m.CustsingleSlab.basedon1)
                    @Html.HiddenFor(m => m.CustsingleSlab.basedon2)
                    @Html.HiddenFor(m => m.CustsingleSlab.Matrixtype)
                    @Html.HiddenFor(m => m.CustsingleSlab.FromLoc)
                    @Html.HiddenFor(m => m.CustsingleSlab.toloc)
                    @Html.HiddenFor(m => m.CustsingleSlab.TransMode)
                    @Html.HiddenFor(m => m.CustsingleSlab.chargetype)

                </div>
            </div>
        </div>
    </div>
    <div class="row" id="FilterSlab" style="display:none">
        <div class="col-md-12">

            <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                <li>
                    <strong>
                        Selection Criteria
                    </strong>
                </li>
            </ul>
            @{Html.RenderPartial("_Partial_Filter_Charge", Model.chargeContraint);}
        </div>

    </div>
    
    <div class="row" id="divStandardMultiple" style="display:none">
        


        <div class="col-md-12">
            <div class="portlet">
                <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                    <li>
                        <strong>
                            Sundry Single Slab Rates
                        </strong>
                    </li>
                </ul>
                <div class="row AdditemCharge">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-5">No Of Rows </label>
                            <div class="col-md-7">
                                @Html.TextBox("StandardRows", "0", new { placeholder = "No. Rows", @class = "input-small required2 form-control required" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <a id="btnStanardAddRows" class="btn  @ViewBag.TableBoxColor right">
                            Add New Row <i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                    <div class="col-md-5">

                    </div>
                </div>
                <div class="portlet-body">
                    <table id="tblStndfreightSlab" class="table table-striped table-bordered table-hover"></table>
                    <br />                   
                    <div class="form-group AdditemCharge">
                        <div class="col-md-12">
                            <div class="col-md-9">
                            </div>
                            <div class="col-md-3">
                                <button type="button" id="btnDocketCharge" class="btn @ViewBag.TableBoxColor pull-right"><i class="fa fa-plus"></i>&nbsp;Add New Row</button>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions fluid" id="divbtn">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-offset-3 col-md-9">
                    <button type="button" id="btnGetStandardCharge" style="display:none" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Get Charges</button>
                    <button type="button" id="btnStandardCharge" style="display:none" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Save & Continue</button>
                </div>
            </div>
        </div>
    </div>
}


