﻿@model IEnumerable<FleetDataService.Models.Webx_CustContract_FRTMatrix_SingleSlab>
@using FleetDataService.Models
@using Fleet.Helpers

@{

    var use_from = TempData["use_from"];
    var use_to = TempData["use_to"];
    var use_trans_type = TempData["use_trans_type"];
    var use_rate_type = TempData["use_rate_type"];
    var ContractType = TempData["ContractType"];

    if(ContractType == null)
    {
        ContractType = "null";
    }
}
@if (ContractType.ToString() == "L")
{
    <thead>
        <tr>
            <th class="col-md-1">Srno</th>
            <th class="col-md-1">Mode</th>
            @if (use_from.ToString() == "Y")
            {
                <th class="col-md-1">From</th>
            }
            @if (use_to.ToString() == "Y")
            {
                <th class="col-md-1">To</th>
            }
            <th class="col-md-1">From Range</th>
            <th class="col-md-1">To Range</th>
            <th class="col-md-1">Rate</th>
            <th class="col-md-1">Rate Units</th>
            @if (use_trans_type.ToString() == "Y")
            {
                <th class="col-md-1">Transit Mode</th>
            }
            <th>X</th>
        </tr>
    </thead>

}
else
{
    <thead>
        <tr>
            <th class="col-md-1">Id</th>
            @if (use_from.ToString() == "Y")
            {
                <th class="col-md-1">From</th>
            }
            @if (use_to.ToString() == "Y")
            {
                <th class="col-md-1">To</th>
            }
            <th class="col-md-1">Rate</th>
            @if (use_rate_type.ToString() == "Y")
            {
                <th class="col-md-1">Rate Type</th>
            }

            @if (use_trans_type.ToString() == "Y")
            {
                <th class="col-md-1">Transit Mode</th>
            }
            <th>X</th>
        </tr>
    </thead>
}
<tbody id="tblcharge" >
    @foreach (var item in Model)
    {
        Html.RenderPartial("_Standrad_PartialStandard_SundrySlab", item);
    }
</tbody>
 

