﻿@model Fleet.ViewModels.CustomerContractViewModel
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.ContractService CS = new FleetDataService.ContractService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    var SlabList = new List<SelectListItem> {
    new SelectListItem { Text = "Select Slab", Value = "0",Selected=true },
    new SelectListItem { Text = "Multi Slab Contract", Value = "S" },
    new SelectListItem { Text = "Multiple Slab Range", Value = "M" },
    };

    List<Webx_Master_General> objMasterList = new List<Webx_Master_General>();
    Webx_Master_General objMaster = new Webx_Master_General();
    objMasterList = CS.GetContractTransMode(Model.CustServiceChrg.contractid).ToList();
    objMaster.CodeDesc = "All";
    objMaster.CodeId = "A";
    objMasterList.Add(objMaster);


    List<Webx_Master_General> objMasterMatrixList = new List<Webx_Master_General>();
    objMasterMatrixList = CS.GetContractMatrixType(Model.CustServiceChrg.contractid).ToList();


    List<Webx_Master_General> FtlTypList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "FTLTYP" && c.StatusCode == "Y").ToList().OrderBy(c => c.CodeId).ToList();
    Model.CustsingleSlab.contractid = Model.CustServiceChrg.contractid;
  
   
}
@using (Html.BeginForm("GetSundryFTL", "Contract", FormMethod.Post, new { id = "form_SundryFTL", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div>
        <div class="row">
            <div class="col-md-12">
                <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                    <li><strong>Selection Criteria</strong></li>
                </ul>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">Name</label>
                        <div class="col-md-7" style="margin-top: 5px;">
                            <label id="Name" class="Name"><b>	FTL Freight Matrix </b></label>
                        </div>
                    </div>
                </div>
            
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">Select Trans Mode</label>
                        <div class="col-md-7">
                            @Html.DropDownListFor(m => m.CustsingleSlab.FilterTrnsMode, new SelectList(objMasterList, "CodeId", "CodeDesc"), new { placeholder = "Select  Matrix Type", @class = "form-control select2 dp required dis" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">Select Matrix Type</label>
                        <div class="col-md-7">
                            @Html.DropDownListFor(m => m.CustsingleSlab.FilterMatrixtype, new SelectList(objMasterMatrixList, "CodeId", "CodeDesc"), new { placeholder = "Select  Matrix Type", @class = "form-control select2 dp required dis" })
                            @Html.HiddenFor(m => m.CustsingleSlab.contractid)
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">Select FTL Type</label>
                        <div class="col-md-7">
                            @Html.DropDownListFor(m => m.CustsingleSlab.FTL, new SelectList(FtlTypList, "CodeId", "CodeDesc"), new { placeholder = "Select FTL Type", @class = "form-control select2 dp required dis" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">From Location</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.CustsingleSlab.FilterFromLoc, new { placeholder = "Select From Location", @class = "form-control required dis" })
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">To Location</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.CustsingleSlab.FilterToLoc, new { placeholder = "Select To Location", @class = "form-control required dis" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4"></label>
                        <div class="col-md-7 chkactive">
                            @Html.CheckBoxFor(m => m.CustsingleSlab.isNewZoneContractApplied)is New Zone Contract Applied?
                            @Html.HiddenFor(m => m.CustsingleSlab.isNewZoneContractApplied)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="divSundryFTL" style="display:none">
        <div class="col-md-12">
            <div class="portlet">
                <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                    <li><strong>FTL Freight Matrix</strong></li>
                </ul>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-5">No Of Rows </label>
                            <div class="col-md-7">
                                @Html.TextBox("FTLdRows", "0", new { placeholder = "No. Rows", @class = "input-small required2 form-control required" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <a id="btnFTLAddRows" class="btn  @ViewBag.TableBoxColor right">
                            Add New Row <i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                    <div class="col-md-5">

                    </div>
                </div>
                <div class="portlet-body">
                    <table id="sample_FTL" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-1">Id</th>
                                <th class="col-md-2">From</th>
                                <th class="col-md-2">To</th>
                                <th class="col-md-2">FTL Type</th>
                                <th class="col-md-1">Rate</th>
                                <th class="col-md-1">Transit Days</th>
                                <th class="col-md-2">Rate Type</th>
                                <th class="col-md-1">Transit Mode</th>
                                <th>X</th>
                            </tr>
                        </thead>
                        <tbody id="tblSundryFTL">
                            @{
    Html.RenderPartial("_PartialSundry_FTL", Model.ListsingleSlab.ToList());
                            }
                        </tbody>
                    </table>

                    <br />
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-9">
                            </div>
                            <div class="col-md-3">
                                <button type="button" id="btnAddSundryFTL" class="btn blue pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-offset-3 col-md-9">
                    <button type="button" id="btngetSundryFTL" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Get FTL List</button>
                    <button type="button" id="btnSundryFTL" style="display:none" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Save & Continue</button>
                </div>
            </div>
        </div>
    </div>
}


