﻿@{
    ViewBag.Title = "Contract Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>Contract Successfully Updated
            </div>
        </div>
        <div class="portlet-body">

            <label id="contype" style="display:none">@ViewBag.ConType</label>
            <label id="custCode" style="display:none">@ViewBag.CustCode</label>
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Contract ID
                            </th>
                            <th>
                                Customer Name
                            </th>
                            <th>
                                View
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@ViewBag.ContaractID</b>
                            </td>
                            <td>
                                <b>@ViewBag.ContarctName</b>
                            </td>
                            <td class="center">
                                <a href="javascript:View('@ViewBag.ContaractID','@ViewBag.CustCode')"><b><i class="fa fa-print"></i>&nbsp;View || Print</b></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                Click on <a href="@Url.Action("UpdateContract", "contract", new { Custcode = ViewBag.CustCode, CustId = ViewBag.ContaractID, ConType = ViewBag.ConType })"> Update Same Contract</a>  || <a href="@Url.Action("CustomerContract", "contract")"> Update another Customer's Contract </a>
            </span>
        </div>
    </div>
</div>


<script type='text/javascript'>

    function View(ContaractID, CustCode) {
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        var strPopupURL = ReportURL + DomainName + "/ViewPrint/CustomerContractView?ContractID=" + ContaractID + "&CustCodeName==" + CustCode;
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;
    }

    var FormSamples = function (DomainName) {

        return {
            init: function (DomainName) {
            }
        };
    }();
</script>