﻿@model Fleet.ViewModels.CustomerContractViewModel
@using FleetDataService.Models
@{
    string btnName = "Submit";
    ViewBag.Title = "Customer Contract";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();

    List<webx_custcontract_hdr> ListCustomer = new List<webx_custcontract_hdr>();
    List<Webx_Master_General> ListCustomercontract = new List<Webx_Master_General>();

    List<Webx_Master_General> ListContractType = MS.GetGeneralMasterObject().Where(c => c.CodeType == "PAYTYP" && c.StatusCode == "Y").OrderBy(c => c.CodeId).ToList();
    Webx_Master_General objGeneral = new Webx_Master_General();
    objGeneral.CodeId = "0";
    objGeneral.CodeDesc = "All";
    ListContractType.Add(objGeneral);
}
@using (Html.BeginForm("GetCoustomerContList", "Contract", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>Select criteria for @ViewBag.Title
                    </div>
                    <div class="caption pull-right" id="addcontract" style="display:none;">
                        <a class="btn default btn-xs" id="btnNewAddcontract" href="javascript://">
                            <i class="fa fa-plus"></i>
                            Add New Contract
                        </a>
                    </div>
                    @*<div class="actions" id="addcontract" style="display:none;">
                            <div class="btn-group" style="margin-top: -4px !important">
                                <a class="btn btn-sm default" id="btnNewAddcontract" href="javascript://">
                                    Add New Contract <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>*@
                </div>
                <div class="portlet-body" id="divCrieteria">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Select Contract Type
                                        </label>
                                        <div class="col-md-6">
                                            @*@Html.TextBoxFor(m => m.CustomerContract.Contract_Type, new { placeholder = "Select Contract Type", @class = "form-control required2 required" })*@
                                            @Html.DropDownListFor(m => m.CustomerContract.Contract_Type, new SelectList(ListContractType, "CodeId", "CodeDesc"), "", new { @class = "select2 required required2 form-control", placeholder = "Select Contract Type" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Select Customer
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.CustomerContract.contractname, new { @class = "required2 required form-control hid", placeholder = "Select Customer" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 NorecordFound" style="margin-top: 8px;display:none;">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">

                                        </label>
                                        <div class="col-md-6">
                                            <label style="color:red">
                                                No Contarct Found.... You Can Add New Contract
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="divContractList" style="display:none">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;Detail Of Coustomer Contract
                    </div>

                </div>

                <div class="portlet-body">
                    <input type="hidden" id="hdnCustcode" />
                    <label class="text-primary" id="lblname"><b></b></label>
                    <table class="table table-striped table-bordered table-hover" id="tblContractList" style="overflow-x: scroll;">
                        <thead>
                            <tr>
                                <th class="center">Edit</th>
                                <th>ContractID</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Contract Type</th>
                                <th class="center">Status </th>
                                <th class="center">View</th>
                                <th class="center">Action</th>
                                <th>Phy Scan Copy</th>
                            </tr>
                        </thead>
                        <tbody id="tblcontractlist">
                            @{
                                Html.RenderPartial("_Partial_CustContract", Model.ListCustContract.ToList());
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class="row" id="divaddcontract" style="display:none">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-plus"></i>&nbsp;Add New Contract
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" id="custname">

                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">
                                            Select Payment Basis :
                                        </label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(m => m.CustomerContract.custaccperson, new SelectList(ListCustomercontract, "Value", "Text"), "", new { @class = "select2 required form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Start Date :
                                        </label>
                                        @*<div class="input-group date date-picker input-medium" data-date-start-date="+1d">
                                                @Html.TextBox("startdate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = " form-control date-picker required", @readonly = true })
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>*@
                                        <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="-90d">
                                            <input type="text" id="startdate" class="form-control" value="@System.DateTime.Now.ToString("dd MMM yyyy")" readonly>
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            End Date :
                                        </label>
                                        <div class="input-group date date-picker input-medium" data-date-start-date="+1d">
                                            @Html.TextBox("enddate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = " form-control date-picker required", @readonly = true })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="row" id="divCopycontract" style="display:none">
            <div class="col-md-12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-plus"></i>&nbsp;<label id="lbltitle"> Copy Contract</label>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label> <b>New ContractID :</b></label>

                                            <label class="control-label" id="NewContarctId">

                                            </label>

                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="control-label" id="Newcustname">
                                                <b> </b>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label" id="custname">
                                                <b>  Customer Code</b>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <div id="myModaldelete" style="display:none;">
        <div class="row">
            <div class="col-md-12">
                <p style="margin-top: -13px;" id="dymsg"></p>
            </div>
        </div>
    </div>

    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Get Customer Contract List</button>
            <button type="button" id="btnaddcontract" style="display:none" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit Contact</button>
            @*<button type="button" id="btnsubmitcontract" style="display:none" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit Contact</button>*@
        </div>
    </div>
}

<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Events = function (DomainName) {

            $("#btnaddcontract").click(function (e) {
                App.blockUI({ boxed: true });

                var PaymentBasis = $("#CustomerContract_custaccperson").val();
                var StartDate = $("#startdate").val();
                var EndDate = $("#enddate").val();
                var CustCode = $("#CustomerContract_contractname").val();
                var strurl = DomainName + '/Contract/AddContarct?PaymentBasis=' + PaymentBasis + '&StartDate=' + StartDate + '&EndDate=' + EndDate + '&CustCode=' + $("#CustomerContract_contractname").val();
                $.ajax({
                    url: strurl,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (data) {
                        TosterNotification("success", "success !! Contract Sucessfully Add.", "success");
                        $("#tblcontractlist").html(data)
                        $("#divaddcontract").hide();
                        $("#divCopycontract").hide();
                        $("#custname").hide();
                        $("#lbltitle").html('Contract Successfully Updated')
                        $("#btnsubmitcontract").hide();
                        $("#btnSubmit").hide();
                        $("#divContractList").show(900)
                        App.unblockUI();

                    },
                    error: function (req, status, error) {
                        TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                        App.unblockUI();
                    }
                });

            });
            //$("#btnsubmitcontract").live('click', function () {
            //    App.blockUI({ boxed: true });
            //    // alert("Copying a Contract May Take Several Minutes. Please Wait......")
            //    var PaymentBasis = $("#CustomerContract_custaccperson").val();
            //    var StartDate = $("#startdate").val();
            //    var EndDate = $("#enddate").val();
            //    var CustCode = $("#CustomerContract_contractname").val()
            //    var strurl = DomainName + '/Contract/FinallyAddContarct?PaymentBasis=' + PaymentBasis + '&StartDate=' + StartDate + '&EndDate=' + EndDate + '&CustCode=' + $("#CustomerContract_contractname").val() + '&ContractId=' + $("#NewContarctId").html();
            //    $.ajax({
            //        url: strurl,
            //        cache: false,
            //        data: {},
            //        type: 'POST',
            //        success: function (data) {
            //            $("#tblcontractlist").html(data)
            //            $("#divaddcontract").hide();
            //            $("#divCopycontract").hide();
            //            $("#custname").hide();
            //            $("#lbltitle").html('Contract Successfully Updated')
            //            $("#btnsubmitcontract").hide();
            //            $("#btnSubmit").hide();
            //            $("#divContractList").show(900)
            //            App.unblockUI();
            //        },
            //        error: function (req, status, error) {
            //            TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
            //            App.unblockUI();
            //        }
            //    });

            //})

            $('#btnSubmit').click(function () {
                App.blockUI({ boxed: true });
                $.ajax({
                    url: DomainName + '/Contract/GetCoustomerContList',
                    type: 'POST',
                    cache: false,
                    data: $('#form_sample').serialize(),
                    success: function (html) {
                        if (html.trim() != "") {
                            $(".NorecordFound").hide();
                            $("#btnSubmit").hide();
                            $(".hid").attr('disabled', true);
                            $("#tblcontractlist").html(html)
                            $("#divContractList").show();
                            $('#tblContractList').parents('.row').show(500);
                            $("#ListofDRS").show();
                            $("#tblNorecord").hide();
                            $("#tblContractList_filter").remove()
                            $("#tblContractList_length").remove();
                            $("#tblContractList_info").remove();
                            $("#addcontract").show();
                            $("#tblContractList_paginate").remove();

                            var strurl = DomainName + '/Contract/GetCustomerNameOnlyContract?custcode=' + $("#CustomerContract_contractname").val();
                            $.ajax({
                                url: strurl,
                                cache: false,
                                data: {},
                                type: 'POST',
                                success: function (data) {

                                    $("#lblname").html(data);
                                    App.unblockUI();
                                },
                            });
                        }
                        else {
                            $("#addcontract").show();
                            $(".NorecordFound").show();
                        }
                        App.unblockUI();
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        App.unblockUI();
                    }
                });
            });
        }
        return {
            init: function (DomainName) {
                Events(DomainName);

                $("#Deactive").live('click', function () {
                    var ContractID1 = $(this).closest('tr').children('td:first').text();
                    var ContractID = $("#ContractId").val();
                    $("#dymsg").text('Are You sure you want to DeActivate Contract ?  ')
                    bootbox.dialog({
                        theme: "metro",
                        message: $("#myModaldelete").html(),
                        title: "Contract Confirmation",
                        className: "modal-darkorange",
                        buttons: {
                            success: {
                                label: "NO",
                                className: "btn-default blue",
                                callback: function () {
                                }
                            },
                            "YES": {
                                className: "btn btn-default blue",
                                callback: function () {
                                    var strurl = DomainName + '/Contract/Changestatus?CostCode=' + $("#CustomerContract_contractname").val() + '&Flag=' + "DeActive" + '&ContractID=' + ContractID;
                                    $.ajax({
                                        url: strurl,
                                        cache: false,
                                        data: {},
                                        type: 'POST',
                                        success: function (data) {
                                            TosterNotification("success", "Contract DeActivated Successfully.", "success");
                                            $("#tblcontractlist").html(data)
                                            App.unblockUI();
                                        },
                                        error: function (req, status, error) {
                                            TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                                            App.unblockUI();
                                        }
                                    });
                                }
                            }
                        }

                    });
                });

                $("#Active").live('click', function () {
                    var ContractID1 = $(this).closest('tr').children('td:first').text();
                    var ContractID = $("#ContractId").val();

                    $("#dymsg").text('Are You sure you want to Activate Contract ?  ')
                    bootbox.dialog({
                        theme: "metro",
                        message: $("#myModaldelete").html(),
                        title: "Contract Confirmation",
                        //style: "background-color: #4d90fe",
                        className: "modal-darkorange",
                        buttons: {
                            success: {
                                label: "NO",
                                className: "btn-default blue",
                                callback: function () {
                                }
                            },
                            "YES": {
                                className: "btn btn-default blue",
                                callback: function () {
                                    var strurl = DomainName + '/Contract/Changestatus?CostCode=' + $("#CustomerContract_contractname").val() + '&Flag=' + "Active" + '&ContractID=' + ContractID;
                                    $.ajax({
                                        url: strurl,
                                        cache: false,
                                        data: {},
                                        type: 'POST',
                                        success: function (data) {
                                            TosterNotification("success", "Contract Activated Successfully.", "success");
                                            $("#tblcontractlist").html(data)
                                            App.unblockUI();
                                        },
                                        error: function (req, status, error) {
                                            TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                                            App.unblockUI();
                                        }
                                    });
                                }
                            }
                        }

                    });
                });

                $("#btnNewAddcontract").click(function () {
                    App.blockUI({ boxed: true });
                    $("#CustomerContract_Contract_Type").attr('disabled', 'disabled');
                    $("#CustomerContract_contractname").attr('disabled', 'disabled');
                    $("#CustomerContract_Custcode").attr('disabled', 'disabled');
                    $("#btnaddcontract").show();
                    $('#divaddcontract').fadeToggle("slow")
                    $("#divaddcontract").show();
                    $("#btnSubmit").hide();
                    FillDropDownfromOther("CustomerContract_custaccperson", DomainName + "/Contract/GetConrtPayBasis?custcode=" + $("#CustomerContract_contractname").val(), 'Select Payment Basis');
                    var strurl = DomainName + '/Contract/GetCustomerName?custcode=' + $("#CustomerContract_contractname").val();
                    $.ajax({
                        url: strurl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {
                            $("#custname").html(data);
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                            App.unblockUI();
                        }
                    });
                });
                $('.date-picker').datepicker({
                    isRTL: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    todayBtn: true
                });

                //MultiSelectDDLCON('CustomerContract_Contract_Type', DomainName + '/Contract/GetContractListJson?searchTerm=' + 'PAYTYP', true, 0, "sadsa");
                $("#CustomerContract_Contract_Type").live('change', function () {

                    var id = $(this).val();
                    App.blockUI({ boxed: true });
                    StrURL = DomainName + "/Contract/GetCustomerWithAddressList?Type=" + id;
                    JsonDDLSelectCodeWithName("CustomerContract_contractname", StrURL);

                    $("#RdoCustomerName").parent('span').addClass('checked');
                    $("#RdoCustomerCode").parent('span').removeClass('checked');
                    App.unblockUI();
                });


                $(document).ready(function () {

                    $(".clsImageUpload").live('change', function () {
                        App.blockUI();
                        var ContractID = $(this).data('id');
                        var formData = new FormData();
                        var ImageId = "imageUploadForm_" + ContractID;
                        var ImageLink = "imageUploadFormlink_" + ContractID;
                        var totalFiles = document.getElementById("" + ImageId).files.length;
                        for (var i = 0; i < totalFiles; i++) {
                            var file = document.getElementById("" + ImageId).files[i];
                            var ImageName = file["name"];
                            var ImageExe = ImageName.split(".")[1];
                            formData.append("" + ImageId, file);
                        }
                        $.ajax({
                            type: "POST",
                            url: DomainName + '/Contract/Upload?ContractID=' + ContractID + '&files=' + file,
                            data: formData,
                            dataType: 'json',
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                $("#" + ImageLink).attr('href', "https://rcplstorageaccount.blob.core.windows.net/rcpl/" + ContractID + "." + ImageExe);
                                App.unblockUI();
                            },
                            error: function (error) {
                                TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                                App.unblockUI();
                            }
                        });
                    });
                });
            }
        }
    }();
</script>
