﻿@model Fleet.ViewModels.CustomerContractTemplateViewModel
@using FleetDataService.Models;
@{
    ViewBag.Title = "Customer Contract Template";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_location>
    ListBRCD = MS.GetLocationDetails();
    List<Webx_Master_General> ListGeneralCategory = MS.GetGeneralMasterObject();
    Model.CCCTM.ContractDT = System.DateTime.Now;
    Model.CCCTM.ValidTillDT = System.DateTime.Now;
    Model.CCCTM.EffectivefromDT = System.DateTime.Now;
    Model.CCCTM.BillingDt = System.DateTime.Now;

    List<Webx_Master_General> ListMXTYPE = MS.GetGeneralMasterObject().Where(c => c.CodeType == "MXTYPE").ToList();
}

<div class="portlet box @ViewBag.TableBoxColor">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@ViewBag.Title
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("CustomerContractTemplateSubmit", "Contract", FormMethod.Post, new { @id = "submit_form", @class = "form", enctype = "multipart/form-data" }))
        {
            <div class="alert alert-danger display-none">
                <button class="close" data-dismiss="alert"></button>
                You have some form errors. Please check below.
            </div>
            <div class="alert alert-success display-none">
                <button class="close" data-dismiss="alert"></button>
                Your form validation is successful!
            </div>
            <div class="form-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Contract ID</label>
                            @Html.TextBoxFor(c => c.CCCTM.ContractID, new { placeholder = "System Genrated", @class = "form-control required2", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Customer Code</label>

                            @Html.TextBoxFor(m => m.CCCTM.CustCD, new { @class = "required2 required form-control hid", placeholder = "Select Customer" })



                            @*@Html.TextBoxFor(c => c.CCCTM.CustCD, new { placeholder = "Customer Code", @class = "form-control required required2" })*@
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Customer Name</label>
                            @Html.TextBoxFor(c => c.CCCTM.CustNM, new { placeholder = "Customer Name", @class = "form-control required required2" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Customer Location</label>
                            @Html.DropDownListFor(c => c.CCCTM.CustLOC, new SelectList(ListBRCD, "LocCode", "LocName"), "", new { @class = "required required2 form-control select2 ", @placeholder = "Select Customer Location" })
                            @Html.HiddenFor(m => m.CCCTM.CustLOC)
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Billing Address</label>
                            @Html.TextAreaFor(c => c.CCCTM.BillingADD, new { placeholder = "Billing Address", @class = "form-control required required2" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Segament Type</label>
                            @Html.DropDownListFor(c => c.CCCTM.SegamentType, new SelectList(ListGeneralCategory.Where(c => c.CodeType == "IND").ToList(), "CodeId", "CodeDesc"), "", new { @class = "required required2 form-control select2 ", @placeholder = "Select Segament Type" })
                            @Html.HiddenFor(m => m.CCCTM.SegamentType)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Contract Date</label>
                            <div class="input-group date date-picker" data-date-start-date="+0d" data-date-format="dd MMM yyyy">
                                @Html.TextBox("CCCTM.ContractDT", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.CCCTM.ContractDT).ToString("dd MMM yyyy")), new { @class = "form-control date-picker required2", @readonly = "True" })
                                <span class="input-group-btn">
                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>ValidTill Date</label>
                            <div class="input-group date  datapickvalid" data-date-start-date="+1d" data-date-format="dd MMM yyyy">
                                @Html.TextBox("CCCTM.ValidTillDT", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.CCCTM.ValidTillDT).ToString("dd MMM yyyy")), new { @class = "form-control required2", @readonly = "True" })
                                <span class="input-group-btn">
                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Effective From Date</label>
                            <div class="input-group date  datapickvalid" data-date-format="dd MMM yyyy">
                                @Html.TextBox("CCCTM.EffectivefromDT", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.CCCTM.EffectivefromDT).ToString("dd MMM yyyy")), new { @class = "form-control required2", @readonly = "True" })
                                <span class="input-group-btn">
                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Contact Person</label>
                            @Html.TextBoxFor(c => c.CCCTM.ContactPerson, new { placeholder = "Contact Person", @class = "form-control required required2" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Contact No.</label>
                            @Html.TextBoxFor(c => c.CCCTM.ContactNo, new { placeholder = "Contact No.", @class = "form-control required required2", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))", @maxlength = 10 })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Mail ID</label>
                            @Html.TextBoxFor(c => c.CCCTM.Email, new { placeholder = "Contact No.", @class = "form-control required required2 email" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Transit Mode</label>
                            @Html.DropDownListFor(c => c.CCCTM.TransitMode, new SelectList(ListGeneralCategory.Where(c => c.CodeType == "TRN" && c.StatusCode == "Y").ToList(), "CodeId", "CodeDesc"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Document Type", @multiple = "true" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Matrix</label>
                            @Html.TextBoxFor(m => m.CCCTM.Matrix, new { placeholder = "Select Matrix Allowed", @class = "required2 form-control required" })
                            @*@Html.DropDownListFor(c => c.CCCTM.Matrix, new SelectList(ListGeneralCategory.Where(c => c.CodeType == "TRN" && c.StatusCode == "Y").ToList(), "CodeId", "CodeDesc"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Document Type", @multiple = "true" })*@
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Rate Type</label>
                            @Html.DropDownListFor(c => c.CCCTM.RateType, new SelectList(ListGeneralCategory.Where(c => c.CodeType == "RATETYPE" && c.StatusCode == "Y").ToList(), "CodeId", "CodeDesc"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Document Type", @multiple = "true" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Bill Generation Location</label>
                            @Html.DropDownListFor(c => c.CCCTM.Bill_Gen_Loc, new SelectList(ListBRCD, "LocCode", "LocName"), "", new { @class = "required required2 form-control select2 ", @placeholder = "Select Bill Generation Location" })
                            @Html.HiddenFor(m => m.CCCTM.Bill_Gen_Loc)
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Bill Submission Location</label>
                            @Html.DropDownListFor(c => c.CCCTM.Bill_sub_Loc, new SelectList(ListBRCD, "LocCode", "LocName"), "", new { @class = "required required2 form-control select2 ", @placeholder = "Select Bill Submission Location" })
                            @Html.HiddenFor(m => m.CCCTM.Bill_sub_Loc)
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Bill Collection Location</label>
                            @Html.DropDownListFor(c => c.CCCTM.Bill_Col_Loc, new SelectList(ListBRCD, "LocCode", "LocName"), "", new { @class = "required required2 form-control select2 ", @placeholder = "Select Bill Collection Location" })
                            @Html.HiddenFor(m => m.CCCTM.Bill_Col_Loc)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                            <li><strong>Charges Details</strong></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-10">COD/DOD Charges</label>
                            <div class="col-md-1 chkactive">
                                @Html.CheckBoxFor(m => m.CCCTM.Codecharge, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-10">DACC Charges</label>
                            <div class="col-md-1 chkactive">
                                @Html.CheckBoxFor(m => m.CCCTM.DACCCharge, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-10">ODA Pickup Charges</label>
                            <div class="col-md-1 chkactive">
                                @Html.CheckBoxFor(m => m.CCCTM.ODAPickupchatrge, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-10">ODA Delivery Charges</label>
                            <div class="col-md-1 chkactive">
                                @Html.CheckBoxFor(m => m.CCCTM.ODADeliverychatrge, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>CFT</label>
                            @Html.TextBoxFor(c => c.CCCTM.CFT, new { placeholder = "CFT", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>FOV</label>
                            @Html.TextBoxFor(c => c.CCCTM.FOV, new { placeholder = "FOV", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>COD/DOC Rate</label>
                            @Html.TextBoxFor(c => c.CCCTM.CODDOCRate, new { placeholder = "COD/DOC Rate", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>DACC Rate</label>
                            @Html.TextBoxFor(c => c.CCCTM.DACCRate, new { placeholder = "DACC Rate", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>ODA Delivery Rate</label>
                            @Html.TextBoxFor(c => c.CCCTM.ODADeliveryRate, new { placeholder = "ODA Delivery Rate", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>ODA Pickup Rate</label>
                            @Html.TextBoxFor(c => c.CCCTM.ODAPickupRate, new { placeholder = "ODA Pickup Rate", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Credit Period</label>
                            @Html.TextBoxFor(c => c.CCCTM.CreditPeriod, new { placeholder = "Credit Period", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Credit Limit</label>
                            @Html.TextBoxFor(c => c.CCCTM.CreditLimit, new { placeholder = "Credit Limit ", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                            <li><strong>Billing Information</strong></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Billing Cycle</label>
                            @Html.DropDownListFor(c => c.CCCTM.bill_schedule, new SelectList(ListGeneralCategory.Where(c => c.CodeType == "CYCLETYPE").ToList(), "CodeId", "CodeDesc"), "", new { @class = "required required2 form-control select2 ", @placeholder = "Select Billing Cycle" })
                            @Html.HiddenFor(m => m.CCCTM.bill_schedule)
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Billing Date</label>
                            <div class="input-group date date-picker" data-date-start-date="+0d" data-date-format="dd MMM yyyy">
                                @Html.TextBox("CCCTM.BillingDt", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.CCCTM.BillingDt).ToString("dd MMM yyyy")), new { @class = "form-control date-picker required2", @readonly = "True" })
                                <span class="input-group-btn">
                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Bill No. Type</label>
                            @Html.TextBoxFor(c => c.CCCTM.BillNoType, new { placeholder = "Bill No. Type", @class = "form-control required required2" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Monthly Potential</label>
                            @Html.TextBoxFor(c => c.CCCTM.MonthlyPotential, new { placeholder = "Monthly Potential", @class = "form-control required required2" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>TAN No.</label>
                            @Html.TextBoxFor(c => c.CCCTM.TANNo, new { placeholder = "TAN No.", @class = "form-control required required2" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Base Fuel Price</label>
                            @Html.TextBoxFor(c => c.CCCTM.BaseFuelPrice, new { placeholder = "Base Fuel Price ", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-10">Zero Round off</label>
                            <div class="col-md-1 chkactive">
                                @Html.CheckBoxFor(m => m.CCCTM.ZeroRoundoff, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Mimimum Chargablbe Wt</label>
                            @Html.TextBoxFor(c => c.CCCTM.MinChargablbeWt, new { placeholder = "Mimimum Chargablbe Wt", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Volum Wt (Per CFT)</label>
                            @Html.TextBoxFor(c => c.CCCTM.Volume_Wt_PerCFT, new { placeholder = "Volum Wt (Per CFT)", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Green Surcharge</label>
                            @Html.TextBoxFor(c => c.CCCTM.GreenSurcharge, new { placeholder = "Green Surcharge", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Minimum Freight</label>
                            @Html.TextBoxFor(c => c.CCCTM.MinimumFreight, new { placeholder = "Minimum Freight", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Contract Type</label>
                            @Html.TextBoxFor(c => c.CCCTM.ContractType, new { placeholder = "Contract Type", @class = "form-control required required2" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-10">Penalty Clause</label>
                            <div class="col-md-1 chkactive">
                                @Html.CheckBoxFor(m => m.CCCTM.PenaltyClause, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Base fuel index</label>
                            @Html.TextBoxFor(c => c.CCCTM.BasefuelIndex, new { placeholder = "Base fuel index", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Slab Protection</label>
                            @Html.TextBoxFor(c => c.CCCTM.SlabProtection, new { placeholder = "Slab Protection", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Annual Increament Clause</label>
                            @Html.TextBoxFor(c => c.CCCTM.AnnualIncreamentClause, new { placeholder = "Annual Increament Clause", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Annual Increament type</label>
                            @Html.TextBoxFor(c => c.CCCTM.AnnualIncreamentType, new { placeholder = "Annual Increament type", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                        </div>
                    </div>
                </div>


                @foreach (var item in ListMXTYPE)
                {
                    var tblId = "tblCRates" + item.CodeId;
                    var tblbodyId = "tblContractRates" + item.CodeId;
                    var tblHeaderId = "tblHeader" + item.CodeId;

                    <div class="row" id="@tblId">
                        <h2 class="form-section"></h2>
                        <div class="col-md-12">
                            <div class="portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-list"></i><label id="@tblHeaderId"></label>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <table id="sample_1" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="center">From Loc</th>
                                                <th class="center">To Loc</th>
                                                <th class="center">Rate Type</th>
                                                <th class="center">Log Reg</th>
                                                <th class="center">Air Rate</th>
                                                <th class="center">Air TRDays</th>
                                                <th class="center">Express Rate</th>
                                                <th class="center">Express TRDays</th>
                                                <th class="center">Train Rate</th>
                                                <th class="center">Train TRDays</th>
                                            </tr>
                                        </thead>
                                        <tbody id="@tblbodyId"></tbody>
                                    </table>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="row">
                    <h2 class="form-section"></h2>
                    <div class="col-md-6">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-list"></i><label id="lblrisk">Contract Charges</label>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table id="sample_1" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="col-md-1 center">Id</th>
                                            <th class="col-md-3 center">Charges</th>
                                            <th class="col-md-3 center">Air</th>
                                            <th class="col-md-3 center">Train</th>
                                            <th class="col-md-3 center">Express</th>
                                            @*
                                                <th>X</th>*@
                                        </tr>
                                    </thead>
                                    <tbody id="tblsubitemcarrier">
                                        @foreach (var item in Model.ListCCCTM)
                                        {
                                            Html.RenderPartial("_PartialContractCharges", item);
                                        }
                                    </tbody>
                                </table>
                                <br />
                                @*<div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-9">
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" id="btnAddMatrix" class="btn blue pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-list"></i><label id="lblrisk"> Contract Terms</label>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table id="sample_2" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="col-md-1">Id</th>
                                            <th class="col-md-3">Terms Details</th>
                                            @*
                                                <th>X</th>*@
                                        </tr>
                                    </thead>
                                    <tbody id="tblTerms">
                                        @foreach (var item in Model.ListTerms)
                                        {
                                            Html.RenderPartial("_PartialContractTerms", item);
                                        }
                                    </tbody>
                                </table>
                                <br />
                                @*<div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-9">
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" id="btnAddTerms" class="btn blue pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    App.blockUI({ boxed: true });
                    document.forms[1].submit();
                }
            });
        }

        var itemIndex = 0;

        var AddTerms = function (DomainName, i) {

            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Contract/AddTerms?id=' + i;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#tblTerms").append(html);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }

        var tbl_Contract_Rates = function (DomainName) {

            $("#tblCRates").hide();

            var CustCD = $("#CCCTM_CustCD").val();
            var TransitMode = $("#CCCTM_TransitMode").val();
            var Matrix = $("#CCCTM_Matrix").val();
            var RateType = $("#CCCTM_RateType").val();

            if (CustCD == null || CustCD == '') {
                return false;
            }
            else {
                HideTBLRates(DomainName);
            }
            if (TransitMode == null || TransitMode == '') {
                return false;
            }
            else {
                HideTBLRates(DomainName);
            }
            if (Matrix == null || Matrix == '') {
                return false;
            }
            else {
                HideTBLRates(DomainName);
            }
            if (RateType == null || RateType == '') {
                return false;
            }
            else {
                HideTBLRates(DomainName);
            }

            var res = Matrix.split(",");
            var i = 0;
            @foreach (var item in ListMXTYPE)
            {
                    var tblId = "tblCRates" + item.CodeId;
                    var tblbodyId = "tblContractRates" + item.CodeId;
                    var CodeId = item.CodeId;
                    var tblHeaderId = "tblHeader" + item.CodeId;

             <text>

            //alert(res[i] + '--' + "@item.CodeId")
            if (res[i] == "@item.CodeId") {
                App.blockUI({ boxed: true });
                var StrURL1 = DomainName + '/Contract/GetContract_Rates?CustCD=' + CustCD + '&TransitMode=' + TransitMode + '&Matrix=' + '@CodeId' + '&RateType=' + RateType;

                //alert(StrURL1);
                $.ajax({
                    url: StrURL1,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (data) {

                        $("#@tblId").show();
                        $("#@tblHeaderId").html("Contract Charges For " + "@item.CodeDesc");
                        $("#@tblbodyId").html(data);

                        App.unblockUI();
                    },
                    error: function (req, status, error) {
                        App.unblockUI();
                        TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                    }
                });
            }
            i++;
            </text>
                }
        }

        var HideTBLRates = function (DomainName) {

            @foreach (var item in ListMXTYPE)
            {
                var tblId = "tblCRates" + item.CodeId;
                <text>
            $("#@tblId").hide();
            </text>
            }
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                tbl_Contract_Rates(DomainName);
                HideTBLRates(DomainName);
                $("#CCCTM_CustCD").change(function () {
                    tbl_Contract_Rates(DomainName);
                });
                $("#CCCTM_TransitMode").change(function () {
                    tbl_Contract_Rates(DomainName);
                });
                $("#CCCTM_Matrix").change(function () {

                    tbl_Contract_Rates(DomainName);
                });
                $("#CCCTM_RateType").change(function () {
                    tbl_Contract_Rates(DomainName);
                });

                Formvalidate(DomainName);
                $("select").select2({
                    placeholder: "Select an option",
                    allowClear: true
                });

                GetType("CCCTM_Matrix", "MXTYPE", DomainName + "/Contract/GetMasterList")

                StrURL = DomainName + "/Master/GetCustomerList?Type=0";
                JsonDDLSelectCodeWithName("CCCTM_CustCD", StrURL);
                $("#CCCTM_CustCD").on("change", function () {
                    $("#CCCTM_CustNM").val($("#s2id_CCCTM_CustCD").find('span').html().split('</b>- ')[1]);
                });
                $('.date-picker').datepicker({
                    isRTL: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    todayBtn: true,
                });
                $("#CCCTM_ContractDT").on("change", function () {
                    $(".datapickvalid").datepicker('remove');
                    $("#CCCTM_ValidTillDT").val($(this).val())
                    $("#CCCTM_EffectivefromDT").val($(this).val())
                    $(".datapickvalid").datepicker({
                        rtl: App.isRTL(),
                        format: "dd M yyyy",
                        showMeridian: true,
                        autoclose: true,
                        pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                        startDate: new Date($(this).val()),
                        todayBtn: true
                    });
                });

                var TOTROW = "11";
                for (var i = 1; i <= TOTROW - 1; i++) {
                    // setTimeout(function () {
                    AddTerms(DomainName, i);
                    //}, 200 * i);
                }
                //$("#btnAddTerms").live('click', function () {
                //    debugger;
                //    var itemIndex = $("#sample_2 input.iHidden").length + 1;
                //    var TOTROW = "1";
                //    for (var i = 0; i <= TOTROW - 1; i++) {
                //        setTimeout(function () {
                //            AddTerms(DomainName, itemIndex);
                //        }, 100 * i);
                //    }
                //});
                //for (var k = 0; k <= 10; k++) {
                //    $("#btnAddTerms").trigger("click");
                //}

            }
        };
    }();

</script>
