﻿@model Fleet.ViewModels.CustomerContractViewModel
@using FleetDataService.Models;
@{
    ViewBag.Title = "Customer Contract Zone Location Transmode Mapping master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("AddCustcon_zonelocationtransmodewisemaster", "Contract", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                    <div class="caption pull-right">
                        <a class="btn default btn-xs" href="@Url.Content("~/Contract/Custcon_zonelocationtransmodewisemaster")">
                            <i class="fa fa-arrow-left"> </i>&nbsp;
                            Back To Criteria
                        </a>
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Branch</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.ObjCCLZTWM.Loccode, new { placeholder = "No. Rows", @class = "form-control", @readonly = true })
                                            @Html.HiddenFor(c => c.ObjCCLZTWM.Loccode)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-7">No Of Rows</label>
                                        <div class="col-md-3">
                                            @Html.TextBox("txtItem", "0", new { placeholder = "No. Rows", @class = "form-control" })
                                        </div>
                                        <div class="col-md-2">
                                            <a id="btnAdd" class="btn btn-sm @ViewBag.TableBoxColor right">
                                                <i class="fa fa-plus"></i> Add Row
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="sample_1" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th style="white-space: pre-line" class="center"> Main Zone </th>
                                    <th style="white-space: pre-line" class="center"> Sub Zone </th>
                                    <th style="white-space: pre-line" class="center"> Mode </th>
                                    <th style="white-space: pre-line" class="center"> # </th>
                                </tr>
                            </thead>
                            <tbody id="Tbody">
                                @foreach (var item in Model.ListCCLZTWM)
                                {
                                    Html.RenderPartial("_Custcon_zonelocationtransmodewisemaster", item);
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="submit" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.parents('.checkbox-list').size() > 0) {
                        error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        var AddNewItem = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Contract/AddCustcon_zonelocationtransmodewisemasterlist?id=' + itemIndex
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#Tbody").append(html);
                    duplicateDDLCheck(DomainName);
                    $("select").select2({
                        placeholder: "Select Option",
                    });
                    $("a.deleteload").live("click", function () {
                        $(this).parents("tr.editorRow:first").remove();
                        return false;
                    });

                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                    App.unblockUI();
                }
            });
        }
        var duplicateDDLCheck = function () {
            $(".clsChkDuplicate").change(function () {

                var currId = $(this).attr('id').split("_")[1];
                var currval = $(this).val();
                var parZone = $('#ObjCCLZTWM_' + currId + '__ZoneId').val();
                var parMode = $('#ObjCCLZTWM_' + currId + '__Mode').val();

                $(".clsChkDuplicate").each(function () {

                    var otherId = $(this).attr('id').split("_")[1];
                    var otherval = $(this).val();
                    var curZone = $('#ObjCCLZTWM_' + otherId + '__ZoneId').val();
                    var curMode = $('#ObjCCLZTWM_' + otherId + '__Mode').val();

                    if (currId != otherId && parMode == curMode) {
                        $('#ObjCCLZTWM_' + currId + '__ZoneId').select2('data', null);
                        $('#ObjCCLZTWM_' + currId + '__Mode').select2('data', null);
                        //alert("cannot select Duplicate Value.....");
                        TosterNotification("error", "Message !! Oppssss cannot select Duplicate Value........", "Message");
                        return false;
                    }
                });
            });

        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                $("select").select2({
                    placeholder: "Select Option",
                });

                $("a.deleteload").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });

                Formvalidate(DomainName);

                $("#btnAdd").live('click', function () {
                    var itemIndex = $("#sample_1 input.iHidden").length;
                    var TOTRows = $("#txtItem").val();
                    for (var i = 0; i <= TOTRows - 1; i++) {
                        setTimeout(function () {
                            itemIndex = itemIndex + 1;

                            AddNewItem(DomainName, itemIndex);

                        }, 250 * i);
                    }

                });

                $("#btnSubmit").live('click', function () {
                    App.blockUI({ boxed: true });
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return false;
                    }
                    else {
                        $.ajax({
                            url: $('#form_sample').attr('action'),
                            type: 'POST',
                            data: $('#form_sample').serialize(),
                            success: function (result) {
                                window.location.href = DomainName + "/Contract/Custcon_zonelocationtransmodewisemasterDone?status=" + result;
                            },
                            error: function (req, status, error) {
                                window.location.href = DomainName + "/Contract/Custcon_zonelocationtransmodewisemasterDone?status=" + status;
                            }
                        });
                    }
                });
            }
        }
    }();
</script>
