﻿@model Fleet.ViewModels.CustomerContractViewModel
@using FleetDataService.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<webx_custcontract_hdr> ListCustomer = new List<webx_custcontract_hdr>();
    List<Webx_Master_General> ListCustomercontract = new List<Webx_Master_General>();
    var ShowFTL = "";
    var ShowContarctType = "";
    var ChargeFTL = "";
    var ODACharge = "";
    DateTime StartDate1 = System.DateTime.Now.AddMonths(-3);
    DateTime EndDate1 = System.DateTime.Now;
    string StartDate = StartDate1.ToString();
    string EndDate = EndDate1.ToString();
}
<label>ContractID	: <b>@ViewBag.Name</b></label> || <label>Customer Code & Name	:<b> @ViewBag.CutsCode </b></label>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>&nbsp;Step selection
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-wizard">
                    <div class="form-body">
                        <ul class="nav nav-pills nav-justified steps">
                            <li class="active" id="contactinfo">
                                <a href="#tab1" data-toggle="tab" class="step">
                                    <span class="number">
                                        1
                                    </span>
                                    <span class="desc">
                                        <i class="fa fa-check"></i> Contract Information
                                    </span>
                                </a>
                            </li>
                            <li id="servicesel">
                                <a href="#tab2" id="Atab2" data-toggle="tab" class="step">
                                    <span class="number">
                                        2
                                    </span>
                                    <span class="desc">
                                        <i class="fa fa-check"></i> Service Selection
                                    </span>
                                </a>
                            </li>
                            <li id="modewise">
                                <a href="#tab3" data-toggle="tab" class="step active">
                                    <span class="number">
                                        3
                                    </span>
                                    <span class="desc">
                                        <i class="fa fa-check"></i> Mode Wise Services
                                    </span>
                                </a>
                            </li>
                            <li id="chargematrix">
                                <a href="#tab4" data-toggle="tab" class="step">
                                    <span class="number">
                                        4
                                    </span>
                                    <span class="desc">
                                        <i class="fa fa-check"></i> Charge Matrix
                                    </span>
                                </a>
                            </li>
                            <li id="StandardCharge">
                                <a href="#tab5" data-toggle="tab" class="step">
                                    <span class="number">
                                        5
                                    </span>
                                    <span class="desc">
                                        <i class="fa fa-check"></i>Standard Charges
                                    </span>
                                </a>
                            </li>
                            @if (ViewBag.SUNDRY == "Y")
                            {
                                ShowContarctType = "table-cell";
                            }
                            else
                            {
                                ShowContarctType = "none";
                            }
                            <li id="FreightCharge" style="display:@ShowContarctType">
                                <a href="#tab6" data-toggle="tab" class="step">
                                    <span class="number">
                                        6
                                    </span>
                                    <span class="desc">
                                        <i class="fa fa-check"></i> Freight Charge -SUNDRY
                                    </span>
                                </a>
                            </li>

                            @if (ViewBag.FTL == "Y")
                            {
                                ShowFTL = "table-cell";
                            }
                            else
                            {
                                ShowFTL = "none";
                            }
                            <li id="FreightFTL" style="display:@ShowFTL">
                                <a href="#tab7" data-toggle="tab" class="step">
                                    <span class="number">
                                        7
                                    </span>
                                    <span class="desc">
                                        <i class="fa fa-check"></i> Freight Charge -FTL
                                    </span>
                                </a>
                            </li>
                            @if (ViewBag.ODA == "Y")
                            {
                                ODACharge = "table-cell";
                            }
                            else
                            {
                                ODACharge = "none";
                            }
                            <li id="ODACharge" style="display:@ODACharge">
                                <a href="#tab8" data-toggle="tab" class="step">
                                    <span class="number">
                                        8
                                    </span>
                                    <span class="desc">
                                        <i class="fa fa-check"></i> ODA Charges
                                    </span>
                                </a>
                            </li>
                        </ul>

                        <div id="bar" class="progress" role="progressbar">
                            <div class="progress-bar progress-bar-success progress-bar-striped">
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 05%">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>

                        </div>
                        <div class="tab-content">
                            <div class="alert alert-danger display-none">
                                <button class="close" data-dismiss="alert"></button>
                                You have some form errors. Please check below.
                            </div>
                            <div class="alert alert-success display-none">
                                <button class="close" data-dismiss="alert"></button>
                                Your form validation is successful!
                            </div>
                            <div class="tab-pane active" id="tab1">
                                <div id="BasicInfo">
                                    @{Html.RenderPartial("_ContractBasicInformation", Model.CustomerContract);}
                                </div>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <div id="AddCustomerCharge">
                                    <div class="form-group">
                                        @{Html.RenderPartial("_ServiceSelection", Model);}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab3">
                                <div id="AddModeViceCharge">
                                    <div class="form-group">
                                        @{Html.RenderPartial("_ModeViceService", Model);}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab4">
                                <div id="AddChargeViceMatrix">
                                    <div class="form-group">
                                        @{Html.RenderPartial("_ChargeMatrix", Model);}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab5">
                                <div id="AddStandardCharge">
                                    <div class="form-group">
                                        @{Html.RenderPartial("_StandardCharge", Model);}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab6">
                                @if (ViewBag.ContractType == "D")
                                {
                                    <div id="AddFreightMultiSlab">
                                        <div class="form-group">
                                            @{ Html.RenderPartial("_FreightCharge_MultiSlab", Model); }
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div id="AddFreightCharge">
                                        <div class="form-group">
                                            @{ Html.RenderPartial("_FreightCharge", Model); }
                                        </div>
                                    </div>
                                }

                            </div>
                            <div class="tab-pane" id="tab7">
                                @if (ViewBag.FTL == "Y")
                                {
                                    ChargeFTL = "block";

                                }
                                else
                                {
                                    ChargeFTL = "none";
                                }
                                <div id="AddFreightFTL" style="display:@ChargeFTL">
                                    <div class="form-group">
                                        @{ Html.RenderPartial("_SundryChargeFTL", Model); }
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab8">
                                @if (ViewBag.ODA == "Y")
                                {
                                    ODACharge = "block";
                                }
                                else
                                {
                                    ODACharge = "none";
                                }

                                <div id="AddODA" style="display:@ODACharge">
                                    <div class="form-group">
                                        @{ Html.RenderPartial("_ODACharge", Model); }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            @*</form>*@
        </div>
    </div>
</div>


<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName, formName) {
            var form1 = $('#' + formName);
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    for (var i = 0; i < validator.errorList.length; i++) {
                        console.log(validator.errorList[i]);
                    }

                    //validator.errorMap is an object mapping input names -> error messages
                    for (var i in validator.errorMap) {
                        console.log(i, ":", validator.errorMap[i]);
                    }
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form1) {
                    success1.show();
                    error1.hide();
                }

            });
        }

        var SaveFunction = function (DomainName) {

            //Tab 1 Submit Event
            $("#btnSubmit").click(function (e) {
                if (!$('#form_sample').valid()) {
                    return false;
                }
                if (e.handled !== true) {
                    e.handled = true;
                    Formvalidate(DomainName, "form_sample");
                    App.blockUI({ boxed: true });
                    $.post($("#form_sample").attr('action'), $("#form_sample").serialize(), function (data, status) {
                        $(".progress-bar").css('width', '13%')
                        $("#AddCustomerCharge").html(data);
                        $("#servicesel").addClass('active')
                        $("#contactinfo").removeClass('active')
                        $("#tab1").removeClass('active');
                        $("#tab2").addClass('active');
                        App.unblockUI();
                        GetType("CustomerCharge_trans_type", "TRN", DomainName + "/Contract/TRNGetMasterList")
                        GetType("CustomerCharge_service_type", "SVCTYP", DomainName + "/Contract/GetMasterList")
                        GetType("CustomerCharge_rate_type", "RATETYPE", DomainName + "/Contract/GetMasterList")
                        GetType("CustomerCharge_matrix_type", "MXTYPE", DomainName + "/Contract/GetMasterList")
                        GetType("CustomerCharge_pkp_dly", "PKPDL", DomainName + "/Contract/GetMasterList")
                        $("input:checkbox, input:radio").uniform();

                        var url = DomainName + '/Contract/GetContractList?Type=' + ""
                        JsonDDLSelectCode("CustomerCharge_frt_disc_contractid", url);

                        $('.drp').select2({
                            placeholder: "Select an option",
                        });

                        //$('input[id^="CustomerCharge_risktype"]').live('change', function (e) {
                        //    if ($(this).val() == "C") {
                        //        $("#lblrisk").html('Carrier Risk')
                        //        $("#CustomerCharge_risktype").val('C');
                        //    }
                        //    else {
                        //        $("#lblrisk").html('Owner Risk')
                        //        $("#CustomerCharge_risktype").val('O');
                        //    }
                        //});
                        $("a.deleteRow").live("click", function () {
                            $(this).parents("tr.editorRow:first").remove();
                            return false;
                        });

                        Chkchange();
                        if ($("#CustomerCharge_ODAchatrge").is(':checked')) {
                            $("#ODACharge").show();

                        }
                        else {
                            $("#ODACharge").hide();
                        }

                        Formvalidate(DomainName, "form_sampleservice");

                        $(".RATE").live('blur', function () {
                            var ID = $(this).attr('id').replace('UNLoadingList_', '').replace('__Rate', '')
                            $("#UNLoadingList_" + ID + "__MaxAmount").val(parseInt($(this).val()) * parseInt($("#UNLoadingList_" + ID + "__Wt_Pkg").val()))
                        });

                        $(".WT_PKG").live('blur', function () {
                            var ID = $(this).attr('id').replace('UNLoadingList_', '').replace('__Wt_Pkg', '')

                            $("#UNLoadingList_" + ID + "__MaxAmount").val(parseInt($(this).val()) * parseInt($("#UNLoadingList_" + ID + "__Rate").val()))

                        });


                        $(".Rate1").live('blur', function () {
                            var ID = $(this).attr('id').replace('LoadingList_', '').replace('__Rate', '')
                            $("#LoadingList_" + ID + "__MaxAmount").val(parseInt($(this).val()) * parseInt($("#LoadingList_" + ID + "__Wt_Pkg").val()))
                        });

                        $(".Wt_Pkg1").live('blur', function () {
                            var ID = $(this).attr('id').replace('LoadingList_', '').replace('__Wt_Pkg', '')

                            $("#LoadingList_" + ID + "__MaxAmount").val(parseInt($(this).val()) * parseInt($("#LoadingList_" + ID + "__Rate").val()))

                        });
                        $('#CustomerCharge_Codecharge').change();
                        $('#CustomerCharge_DACcarage').change();
                        TosterNotification("success", "success !! Record Successfully Insert", "success");
                    });
                }
            });

            //Tab 2 Submit Event
            $("#btnSubmitservice").live('click', function (e) {
                if (!$('#form_sampleservice').valid()) {
                    return false;
                }
                if (e.handled !== true) {
                    e.handled = true;
                    Formvalidate(DomainName, "form_sampleservice");
                    App.blockUI({ boxed: true });
                    //  $("#form_sampleservice").submit();
                    $.post($("#form_sampleservice").attr('action'), $("#form_sampleservice").serialize(), function (data, status) {
                        $(".progress-bar").css('width', '22%')
                        $("#AddModeViceCharge").html(data);
                        Formvalidate(DomainName, "form_sampleModeVice");
                        $("#modewise").addClass('active')
                        $("#contactinfo").removeClass('active')
                        $("#servicesel").removeClass('active')
                        $("#tab1").removeClass('active');
                        $("#tab2").removeClass('active');
                        $("#tab3").addClass('active');

                        $(".drptra").select2({
                            placeholder: "Select an option",
                        });
                        $(".drpb").select2({
                            placeholder: "Select an option",
                        });
                        $(".drpbase").select2({
                            placeholder: "Select an option",
                        });
                        $(".drpvol").select2({
                            placeholder: "Select an option",
                        });
                        $(".drpsele").select2({
                            placeholder: "Select an option",
                        });
                        GetType("stax_paidby_opts", "SERTEX", DomainName + "/Contract/GetMasterList")
                        $("input:checkbox, input:radio").uniform();
                        TransitMode(DomainName);
                        TosterNotification("success", "success !! Record Successfully Insert", "success");

                        var s = $("#CustomerCharge_service_type").val();
                        var lastIndex = s.lastIndexOf(",")

                        var s1 = s.substring(0, lastIndex);
                        var s2 = s.substring(lastIndex + 1);

                        var strVale = s
                        arr = strVale.split(',');
                        if (arr.length = 1) {
                            s1 = arr[0];
                        }
                        else {
                            s1 = arr[0];
                            s2 = arr[1];
                        }

                        if (s1 == 1 && s2 == 1) {
                            $("#FreightCharge").show();
                            $("#FreightFTL").hide();
                        }
                        else if (s1 == 1)
                            $("#FreightCharge").show();
                        else if (s1 == 2)
                            $("#FreightFTL").show();
                        else
                            $("#FreightCharge").hide();

                        if (s1 == 2 && s2 == 2) {
                            $("#FreightFTL").show();
                            $("#FreightCharge").hide();
                        }

                        else if (s2 == 2)
                            $("#FreightFTL").show();
                        else if (s2 == 1)
                            $("#FreightCharge").show();
                        else
                            $("#FreightFTL").hide();

                        if ($("#CustomerCharge_ODAchatrge").is(':checked')) {
                            $("#ODACharge").show();

                        }
                        else {
                            $("#ODACharge").hide();
                        }
                        if ($(".FuelSurcharge").attr('checked')) {

                        }
                        else {
                            $("#min_fuelsurchrg").attr('readonly', $(".FuelSurcharge").val());
                            $("#max_fuelsurchrg").attr('readonly', $(".FuelSurcharge").val());
                            $("#fuelsurchrg").attr('readonly', $(".FuelSurcharge").val());
                            $("#fuelsurchrgbas").attr('readonly', $(".FuelSurcharge").val());
                        }
                        App.unblockUI();

                    });
                }
            });
            //Tab 3 Submit Event
            $("#btnSubmitModeViceservice").live('click', function (e) {
                if (!$('#form_sampleModeVice').valid()) {
                    return false;
                }
                if (e.handled !== true) {
                    e.handled = true;
                    Formvalidate(DomainName, "form_sampleModeVice");
                    App.blockUI({ boxed: true });
                    $.post($("#form_sampleModeVice").attr('action'), $("#form_sampleModeVice").serialize(), function (data, status) {
                        $(".progress-bar").css('width', '32%')
                        $("#AddChargeViceMatrix").html(data);
                        Formvalidate(DomainName, "form_sampleChargeMatrix");
                        $("#chargematrix").addClass('active');
                        $("#contactinfo").removeClass('active');
                        $("#servicesel").removeClass('active');
                        $("#modewise").removeClass('active');
                        $("#tab1").removeClass('active');
                        $("#tab2").removeClass('active');
                        $("#tab3").removeClass('active');
                        $("#tab4").addClass('active');
                        $("input:checkbox, input:radio").uniform();
                        TransitMode(DomainName);
                        $(".drpbaseon").select2({
                            placeholder: "Select an option",
                        });

                        $(".drpon").select2({
                            placeholder: "Select an option",
                        });
                        TosterNotification("success", "success !! Record Successfully Insert", "success");
                        App.unblockUI();
                    });
                }
            });
            //Tab 3 Submit Event2
            $("#btnsaveContinue").live('click', function (e) {
                if (!$('#form_sampleModeVice').valid()) {
                    return false;
                }
                if (e.handled !== true) {
                    e.handled = true;
                    Formvalidate(DomainName, "form_sampleModeVice");
                    App.blockUI({ boxed: true });
                    $.post($("#form_sampleModeVice").attr('action'), $("#form_sampleModeVice").serialize(), function (data, status) {
                        $(".progress-bar").css('width', '32%')
                        $("#AddChargeViceMatrix").html(data);
                        Formvalidate(DomainName, "form_sampleChargeMatrix");
                        $("#chargematrix").addClass('active');
                        $("#contactinfo").removeClass('active');
                        $("#servicesel").removeClass('active');
                        $("#modewise").removeClass('active');
                        $("#tab1").removeClass('active');
                        $("#tab2").removeClass('active');
                        $("#tab3").removeClass('active');
                        $("#tab4").addClass('active');
                        $("input:checkbox, input:radio").uniform();
                        TransitMode(DomainName);
                        $(".drpbaseon").select2({
                            placeholder: "Select an option",
                        });

                        $(".drpon").select2({
                            placeholder: "Select an option",
                        });
                        $.post($("#form_freightCharge").attr('action'), $("#form_freightCharge").serialize(), function (data, status) {
                            TosterNotification("success", "success !! Record Successfully Insert", "success");
                            window.location.href = DomainName + "/contract/ContractDone?ContID=" + $("#ContractId").val() + "&CustCode=" + $("#Custcode").val() + "&Type=" + $("#ConType").val()


                            App.unblockUI();
                        });
                    });
                }
            });
            //Tab 4 Submit Event
            $("#btnSubmitChargeMatrix").live('click', function (e) {
                if (!$('#form_sampleChargeMatrix').valid()) {
                    return false;
                }
                if (e.handled !== true) {
                    e.handled = true;
                    Formvalidate(DomainName, "form_sampleChargeMatrix");
                    App.blockUI({ boxed: true });
                    $.post($("#form_sampleChargeMatrix").attr('action'), $("#form_sampleChargeMatrix").serialize(), function (data, status) {
                        $(".progress-bar").css('width', '46%')
                        $("#AddStandardCharge").html(data);
                        Formvalidate(DomainName, "form_StandardCharge");
                        $("#StandardCharge").addClass('active');
                        $("#chargematrix").removeClass('active');
                        $("#contactinfo").removeClass('active');
                        $("#servicesel").removeClass('active');
                        $("#modewise").removeClass('active');
                        $("#tab1").removeClass('active');
                        $("#tab2").removeClass('active');
                        $("#tab3").removeClass('active');
                        $("#tab4").removeClass('active');
                        $("#tab5").addClass('active');
                        $("input:checkbox, input:radio").uniform();
                        $(".drpselect").select2({
                            placeholder: "Select an option",
                        });
                        TosterNotification("success", "success !! Record Successfully Insert", "success");
                        App.unblockUI();
                    });
                }
            });
            //Tab 5 Submit Event
            $("#btnGetStandardCharge").live('click', function (e) {
                App.blockUI({ boxed: true });
                $.post($("#form_StandardCharge").attr('action'), $("#form_StandardCharge").serialize(), function (data, status) {
                    $("#tblStndfreightSlab").html(data);
                    $("#divStandardMultiple").show();

                    $("#btnGetStandardCharge").hide();
                    $("#btnStandardCharge").show();
                    $("#chargeContraint_basedon").attr('readonly', true);
                    $("#ObjChargeContraint1___ContractType").attr('readonly', true);
                    $("#ObjChargeContraint1___FilterMatrixtype").attr('readonly', true);
                    $("#ObjChargeContraint1___FilterTrnsMode").attr('readonly', true);
                    $("#btngetfreightCharge").hide();

                    $("select2").select2({
                        placeholder: "Select an option",
                    });
                    $(".ft").select2({
                        placeholder: "Select an option",
                    });
                    $("a.chargedeleteRow").live("click", function () {
                        $(this).parents("tr.editorRow:first").remove();
                        return false;
                    });
                    $(".TRNS").select2().data('Id');
                    $(".TRNS").attr('readonly', true);
                    if ($("#ObjChargeContraint1___use_to").val() == "Y" && $("#ObjChargeContraint1___use_from").val() == "Y" && $("#ObjChargeContraint1___use_rate_type").val() == "Y" && $("#ObjChargeContraint1___use_trans_type").val() == "Y") {
                        $(".AdditemCharge").show();
                    }
                    else {
                        $(".AdditemCharge").hide();
                    }

                    App.unblockUI();
                });
            });

            $("#btnStandardCharge").live('click', function (e) {
                Formvalidate(DomainName, "form_StandardCharge");
                if (!$('#form_StandardCharge').valid()) {
                    return false;
                }
                if (e.handled !== true) {
                    e.handled = true;
                    App.blockUI({ boxed: true });
                    $.ajax({
                        url: DomainName + '/Contract/AddStandardCharge',
                        type: 'post',
                        data: $("#form_StandardCharge").serialize(),
                        success: function (data) {
                            TosterNotification("success", "success !! Record Successfully Insert", "success");
                            window.location.href = DomainName + "/contract/ContractDone?ContID=" + $("#ContractId").val() + "&CustCode=" + $("#Custcode").val() + "&Type=" + $("#ConType").val()

                            App.unblockUI();
                        }
                    });

                }
            });
            //tab 6
            $("#btnODASubmit").live('click', function (e) {
                Formvalidate(DomainName, "form_ODACharge");
                App.blockUI({ boxed: true });
                if (!$('#form_ODACharge').valid()) {
                    App.unblockUI();
                    return false;
                }
                if (e.handled !== true) {
                    e.handled = true;
                    App.blockUI({ boxed: true });
                    $.ajax({
                        url: DomainName + '/Contract/AddODACharge',
                        type: 'post',
                        data: $("#form_ODACharge").serialize(),
                        success: function (data) {
                            TosterNotification("success", "success !! Record Successfully Insert", "success");
                            window.location.href = DomainName + "/contract/ContractDone?ContID=" + $("#ContractId").val() + "&CustCode=" + $("#Custcode").val() + "&Type=" + $("#ConType").val()

                            App.unblockUI();
                        }
                    });

                }
            });

            //Get List freight Charge
            $("#btngetfreightCharge").live('click', function (e) {
                App.blockUI({ boxed: true });
                $.post($("#form_freightCharge").attr('action'), $("#form_freightCharge").serialize(), function (data, status) {
                    $("#AddFreightCharge").html(data);
                    $("input:checkbox, input:radio").uniform();
                    $("#CustsingleSlab_chargecode").prop('disabled', true)
                    $("#CustsingleSlab_FilterMatrixtype").prop('disabled', true)
                    $("#CustsingleSlab_FilterTrnsMode").prop('disabled', true)
                    $("#CustsingleSlab_FilterToLoc").prop('disabled', true)
                    $("#CustsingleSlab_FilterFromLoc").prop('disabled', true)
                    $("#CustsingleSlab_ContractType").prop('disabled', true)
                    $("#btngetfreightCharge").hide();
                    $("#btnfreightCharge").show();
                    $("#divfreightMatrix").show();

                    $("select").select2({
                        placeholder: "Select an option",
                    });


                    $("a.FreightdeleteRow").live("click", function () {

                        App.blockUI({ boxed: true });
                        var Row = $(this).parents("tr.editorRow:first");

                        $.ajax({
                            url: DomainName + '/Contract/Delete_Single_Slab_Rates',
                            type: 'post',
                            data: { ID: $(this).attr("id") },
                            success: function (data) {
                                if (data.IsRecordFound == "1") {
                                    Row.remove();
                                    App.unblockUI();
                                    return false;
                                }
                                App.unblockUI();
                            },

                            error: function () {
                                TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                                App.unblockUI();
                            }
                        });

                        //$(this).parents("tr.editorRow:first").remove();
                        //return false;
                    });

                    var FilterTrnsMode_Id = $("#CustsingleSlab_FilterTrnsMode").val();
                    $("#FreightCharge_1__trans_type").val(FilterTrnsMode_Id).attr('readonly', true);
                    $("#FreightCharge_1__trans_type").select2().data(FilterTrnsMode_Id);

                    if ($("#hdnblnk").val() < 1) {
                        AddQuestionsFreight(DomainName, "1", "1");
                    }
                    // $(".TrnsType").attr('readonly', true);
                    App.unblockUI();
                });
            });
            //Insert freight Charge
            $("#btnfreightCharge").live('click', function (e) {
                Formvalidate(DomainName, "form_freightCharge");
                App.blockUI({ boxed: true });
                if (!$('#form_freightCharge').valid()) {
                    App.unblockUI();
                    return false;
                }
                if (e.handled !== true) {
                    e.handled = true;
                    Formvalidate(DomainName, "form_freightCharge");
                    App.blockUI({ boxed: true });
                    $("#CustomerContract_Custcode").val($("#Custcode").val());
                    document.forms['form_freightCharge'].submit();
                    //$.post($("#form_freightCharge").attr('action'), $("#form_freightCharge").serialize(), function (data, status) {
                    //    alert(status)
                    //    TosterNotification("success", "success !! Record Successfully Insert", "success");
                    //    window.location.href = DomainName + "/contract/ContractDone?ContID=" + $("#ContractId").val() + "&CustCode=" + $("#Custcode").val() + "&Type=" + $("#ConType").val()


                    //    App.unblockUI();
                    //});

                }
            });
            //Insert Multi slab Contract
            $("#btnSlabfreight").live('click', function (e) {

                Formvalidate(DomainName, "form_freightSlab");
                App.blockUI({ boxed: true });

                if (!$('#form_freightSlab').valid()) {
                    App.unblockUI();

                    return false;
                }
                if (e.handled !== true) {

                    e.handled = true;
                    $.ajax({
                        url: DomainName + '/Contract/AddfreightSlab',
                        type: 'post',
                        data: $("#form_freightSlab").serialize(),
                        success: function (data) {
                            TosterNotification("success", "success !! Record Successfully Insert", "success");
                            //$(".progress-bar").css('width', '02%')
                            //$("#contactinfo").addClass('active')
                            //$("#tab1").addClass('active');
                            //$("#FreightCharge").removeClass('active');
                            //$("#AddStandardCharge").hide();
                            //$("#AddFreightCharge").hide();
                            //$("#AddFreightMultiSlab").hide();

                            window.location.href = DomainName + "/contract/ContractDone?ContID=" + $("#ContractId").val() + "&CustCode=" + $("#Custcode").val() + "&Type=" + $("#ConType").val()
                            App.unblockUI();
                        },
                        error: function () {
                            TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                            App.unblockUI();
                        }
                    });
                }

            });

            $("#btngetSlab").live('click', function (e) {
                App.blockUI({ boxed: true });
                $.post($("#form_freightSlab").attr("action"), $("#form_freightSlab").serialize(), function (data, status) {

                    $("#AddFreightMultiSlab").html(data);
                    $("#btngetSlab").hide();
                    $("#divMultipleSlab").show();
                    $("#tblfreightSlab").addClass('active');
                    $("input:checkbox, input:radio").uniform();
                    //$("#CustsingleSlab_chargecode").prop('disabled', true)
                    //$("#CustsingleSlab_FilterMatrixtype").prop('disabled', true)
                    //$("#CustsingleSlab_FilterTrnsMode").prop('disabled', true)
                    //$("#CustsingleSlab_FilterToLoc").prop('disabled', true)
                    $("#btnSlabfreight").show();
                    $("select").select2({
                        placeholder: "Select an option",
                    });

                    if ($("#CustsingleSlab_isNewZoneContractApplied").val()) {
                        $("#CustsingleSlab_isNewZoneContractApplied").parent('span').addClass("checked");
                    } else {
                        $("#CustsingleSlab_isNewZoneContractApplied").parent('span').removeClass("checked");
                    }
                    App.unblockUI();
                });
            });
        }
        //Checkbox check change
        var Chkchange = function () {

            $('#CustomerCharge_Codecharge').on('change', function () {
                if ($(this).is(':checked')) {
                    $("#divcoddacc").show();
                    $("#divCod").show();

                } else {
                    if ($("#CustomerCharge_DACcarage").is(':checked')) {
                        $("#divcoddacc").show();
                    }
                    else {
                        $("#divcoddacc").hide();
                    }
                    $("#divCod").hide();
                }
            });
            $('#CustomerCharge_DACcarage').on('change', function () {
                if ($(this).is(':checked')) {
                    $("#divcoddacc").show();
                    $("#divdacc").show();

                } else {
                    if ($("#CustomerCharge_Codecharge").is(':checked')) {
                        $("#divcoddacc").show();
                    }
                    else {
                        $("#divcoddacc").hide();
                    }

                    $("#divdacc").hide();
                }
            });
        }
        //Tab 2
        var AddQuestions = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Contract/ADDCustContMatrix?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#tblsubitemcarrier").append(html);
                    $("#CustMatrix_" + itemIndex + "__ratetype").select2({
                        placeholder: "Select an option",
                    });
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }
        var AddQuestionsOwner = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Contract/ADDCustContMatrixOwner?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#tblsubitemOwner").append(html);
                    $("#CustMatrixOwner_" + itemIndex + "__ratetype").select2({
                        placeholder: "Select an option",
                    });
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }
        //Tab 6
        var AddQuestionsFreight = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Contract/ADDfreightMatrix?id=' + itemIndex + '&TrnsMode=' + $("#FreightCharge_1__FilterTrnsMode").val() + '&chargecode=' + $("#FreightCharge_1__chargecode").val() + '&Matrixtype=' + $("#FreightCharge_1__FilterMatrixtype").val() + '&chargetype=' + $("#FreightCharge_1__chargetype").val() + '&FromLoc=' + $("#FreightCharge_1__FilterFromLoc").val() + '&ToLoc=' + $("#FreightCharge_1__FilterToLoc").val() + '&ContractId=' + $("#FreightCharge_1__contractid").val() + '&ContractType=' + $("#CustsingleSlab_ContractType").val();
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#tblfreightcharge").append(html);

                    $("#FreightCharge_" + itemIndex + "__trans_type").select2({
                        placeholder: "Select an option",
                    });
                    $("#FreightCharge_" + itemIndex + "__ratetype").select2({
                        placeholder: "Select an option",
                    });
                    $("#FreightCharge_" + itemIndex + "__FromLoc").select2({
                        placeholder: "Select an option",
                    });
                    $("#FreightCharge_" + itemIndex + "__toloc").select2({
                        placeholder: "Select an option",
                    });
                    $("#FreightCharge_" + itemIndex + "__trans_type").attr('readonly', true);
                    App.unblockUI();
                    $("#FreightCharge_" + itemIndex + "__trans_type").val(Id);
                    $("#FreightCharge_" + itemIndex + "__trans_type").select2().data(Id);
                    $(".TrnsType").attr('readonly', true);
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }
        //Tab 6
        var AddQuestionsSlab = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Contract/ADDSlabfreightMatrix?id=' + itemIndex + "&Matrixtype=" + $("#CustsingleSlab_FilterMatrixtype").val() + "&TransMode=" + $("#CustsingleSlab_FilterTrnsMode").val() + "&fromloc=" + $("#CustsingleSlab_FilterFromLoc").val() + "&toloc=" + $("#CustsingleSlab_FilterToLoc").val() + "&FTL" + $("#_CustsingleSlab_FTL").val();
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#tblfreightSlab").append(html);
                    $("#divSlab").show();
                    $("#btnSlabfreight").show();
                    $("a.SlabdeleteRow").live("click", function () {
                        $(this).parents("tr.editorRow:first").remove();
                        return false;
                    });
                    $("#SlabList_" + itemIndex + "__FromLoc").select2({
                        placeholder: "Select an option",
                    });

                    $("#SlabList_" + itemIndex + "__toloc").select2({
                        placeholder: "Select an option",
                    });
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
            //FTL

        }

        var AddQuestionsFTL = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });

            var StrURL1 = DomainName + '/Contract/ADDFTL?id=' + itemIndex + "&Matrixtype=" + $("#CustsingleSlab_FilterMatrixtype").val() + "&TransMode=" + $("#CustsingleSlab_FilterTrnsMode").val() + "&fromloc=" + $("#CustsingleSlab_FilterFromLoc").val() + "&toloc=" + $("#CustsingleSlab_FilterToLoc").val() + "&ContractID=" + $("#ContractId").val();;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#tblSundryFTL").append(html);
                    $("#FTLList_" + itemIndex + "__FromLoc").select2({
                        placeholder: "Select an option",
                    });
                    $("#FTLList_" + itemIndex + "__toloc").select2({
                        placeholder: "Select an option",
                    });
                    $("#FTLList_" + itemIndex + "__FTL").select2({
                        placeholder: "Select an option",
                    });
                    $("#FTLList_" + itemIndex + "__ratetype").select2({
                        placeholder: "Select an option",
                    });
                    $("#FTLList_" + itemIndex + "__TransMode").select2({
                        placeholder: "Select an option",
                    });
                    $("a.FlatdeleteRow").live("click", function () {
                        $(this).parents("tr.editorRow:first").remove();
                        return false;
                    });
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });


        }
        //Standard charge ADD MAtrxi
        var AddQuestionsCharge = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Contract/ADDfreightChargeMatrix?id=' + itemIndex + "&contractid=" + $("#ContractId").val() + "&chargecode=" + $("#chargeContraint_basedon").val() + "&MatrixType=" + $("#ObjChargeContraint1___FilterMatrixtype").val() + "&TransMode=" + $("#ObjChargeContraint1___FilterTrnsMode").val() + "&ContractType=" + $("#ObjChargeContraint1___ContractType").val();
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#tblcharge").append(html);
                    //$("#divSlab").show();
                    $("#btnSlabfreight").show();
                    $("a.chargedeleteRow").live("click", function () {
                        $(this).parents("tr.editorRow:first").remove();
                        return false;
                    });
                    $("#FTLList_" + itemIndex + "__FromLoc").select2({
                        placeholder: "Select an option",
                    });

                    $("#FTLList_" + itemIndex + "__toloc").select2({
                        placeholder: "Select an option",
                    });
                    $("#FTLList_" + itemIndex + "__ratetype").select2({
                        placeholder: "Select an option",
                    });
                    $("#FTLList_" + itemIndex + "__TransMode").select2({
                        placeholder: "Select an option",
                    });

                    $("#ObjChargeContraint1___ContractType").select2({
                        placeholder: "Select an option",
                    });

                    if ($("#ObjChargeContraint1___ContractType").val() == "L") {
                        $("#FTLList_" + itemIndex + "__TransMode").attr('readonly', false);
                    }
                    else {
                        $("#FTLList_" + itemIndex + "__TransMode").attr('readonly', true);
                    }

                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
            //FTL

        }

        var TransitMode = function (DomainName) {
            $("#CustServiceChrg_trans_type").change(function () {
                App.blockUI({ boxed: true });
                var StrURL = DomainName + '/Contract/GetListService?ContractId=' + $("#ContractId").val() + "&Id=" + $(this).val();
                $.ajax({
                    url: StrURL,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (html) {
                        $("#ListCustSrvice").html(html);
                        $("input:checkbox, input:radio").uniform();
                        $(".drpb").select2({
                            placeholder: "Select an option",
                        });
                        $(".drpvol").select2({
                            placeholder: "Select an option",
                        });
                        $(".drpsele").select2({
                            placeholder: "Select an option",
                        });

                        if ($("#InvoiceRateApplay").parent('span').attr("class") == 'checked') {
                            $(".InvoiceRate").show();
                        }
                        else {
                            $(".InvoiceRate").hide();
                        }

                        GetType("stax_paidby_opts", "SERTEX", DomainName + "/Contract/GetMasterList");
                        $('select#stax_paidby').attr('readonly', true);
                        
                        //  TransitMode(DomainName);
                        App.unblockUI();
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                    }
                });
            });
            //Freight Charge Mode
            $("#chargeContraint_chargename").change(function () {
                App.blockUI({ boxed: true });
                var StrURL = DomainName + '/Contract/GetContCharge?ContractId=' + $("#ContractId").val() + "&Id=" + $(this).val();
                $.ajax({
                    url: StrURL,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (html) {

                        $("#containerTblSubItem").html(html);
                        $("input:checkbox, input:radio").uniform();
                        $(".drpon").select2({
                            placeholder: "Select an option",
                        });
                        App.unblockUI();
                    },
                    error: function (req, status, error) {
                        alert(error + '  ' + JSON.stringify(req) + '' + status)
                        TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                    }
                });
            });
            //Freight Charge change Single / Multiple
            $("#CustsingleSlab_SlabMS").live('change', function () {
                App.blockUI({ boxed: true });
                if ($(this).val() == "M") {
                    $("#divSlab").hide();
                    $("#btngetSlab").hide();
                    $("#divMultiple").show();
                    $("#divMultipleSlab").hide();
                    $("#btnSlabfreight").show();
                    $("#CustsingleSlab_InsertType").val("MultiPleSlab");

                    if ($("#CustsingleSlab_SlabTransMode").val() != null && $("#CustsingleSlab_SlabTransMode").val() != "") {
                        var StrURL = DomainName + '/Contract/BindSlabValues?contarctId=' + $("#CustServiceChrg_contractid").val() + "&TypeMode=" + $("#CustsingleSlab_SlabTransMode").val();
                        $.ajax({
                            url: StrURL,
                            cache: false,
                            data: {},
                            type: 'POST',
                            success: function (html) {
                                $("#divcusthdr").html(html);
                                App.unblockUI();
                            },
                            error: function (req, status, error) {
                                alert(error + '  ' + JSON.stringify(req) + '' + status)
                                TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                                App.unblockUI();
                            }
                        });
                        App.unblockUI();
                    }
                }
                else {
                    $("#divSlab").show();
                    $("#btngetSlab").show();
                    $("#divMultiple").hide();
                    $("#btnSlabfreight").hide();
                    $("#CustsingleSlab_InsertType").val("MultiSlab");
                }
                App.unblockUI();
            });
            // Get Freight Charge Muliple Slab
            $("#CustsingleSlab_TransMode").live('change', function () {
                App.blockUI({ boxed: true });
                $.post($("#form_freightSlab").attr('action'), $("#form_freightSlab").serialize(), function (data, status) {
                    $("#AddFreightMultiSlab").html(data);
                    $("#divMultipleSlab").hide();
                    $("#divMultiple").show();
                    $("#btnSlabfreight").show();
                    $("input:checkbox, input:radio").uniform();
                    $("#CustsingleSlab_chargecode").prop('disabled', true)
                    $("#CustsingleSlab_FilterMatrixtype").prop('disabled', true)
                    $("#CustsingleSlab_FilterTrnsMode").prop('disabled', true)
                    $("#CustsingleSlab_FilterToLoc").prop('disabled', true)
                    $(".drpchr").select2({
                        placeholder: "Select an option",
                    });
                    $(".drpMt").select2({
                        placeholder: "Select an option",
                    });
                    $(".drpTM").select2({
                        placeholder: "Select an option",
                    });
                    var Slab_class = $("#CustsingleSlab_isNewZoneContractApplied").parent('span').attr("class");
                    if (Slab_class == "checked") {
                        $("#CustsingleSlab_isNewZoneContractApplied").val(true);
                    }
                    else {
                        $("#CustsingleSlab_isNewZoneContractApplied").val(false);
                    }
                    App.unblockUI();
                });
            });
            //Tab 5 Drp Change
            $("#chargeContraint_basedon").live('change', function () {
                App.blockUI({ boxed: true });

                var StrURL = DomainName + '/Contract/GetDyamicCharge?ContractId=' + $("#CustServiceChrg_contractid").val() + "&chargecode=" + $(this).val();
                $.ajax({
                    url: StrURL,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (html) {
                        $("#FilterSlab").show();
                        $("#FilterSlab").html(html);

                        $("#ObjChargeContraint1___ContractType").select2({
                            placeholder: "Select an option",
                        });

                        $("#ObjChargeContraint1___FilterTrnsMode").select2({
                            placeholder: "Select an option",
                        });
                        $("#ObjChargeContraint1___FilterMatrixtype").select2({
                            placeholder: "Select an option",
                        });
                        $("#btnGetStandardCharge").show();

                        $("#Name").html($("#chargeContraint_basedon").find("option:selected").text())
                        App.unblockUI();
                    },
                    error: function (req, status, error) {
                        alert(error + '  ' + JSON.stringify(req) + '' + status)
                        TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                    }
                });
                App.unblockUI();
            });

            $("#CustsingleSlab_SlabTransMode").live('change', function () {
                App.blockUI({ boxed: true });
                var StrURL = DomainName + '/Contract/BindSlabValues?contarctId=' + $("#CustServiceChrg_contractid").val() + "&TypeMode=" + $(this).val();
                $.ajax({
                    url: StrURL,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (html) {
                        $("#divcusthdr").html(html);
                        App.unblockUI();
                    },
                    error: function (req, status, error) {
                        alert(error + '  ' + JSON.stringify(req) + '' + status)
                        TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                        App.unblockUI();
                    }
                });
                App.unblockUI();
            });

        }

        var duplicateDDLCheckSundry = function (parIdName) {

            var parId = parIdName.split('_')[1];
            var parRate = $('#FreightCharge_' + parId + '__rate').val();
            var parFromloc = $('#FreightCharge_' + parId + '__FromLoc').val();
            var parToloc = $('#FreightCharge_' + parId + '__toloc').val();
            var parRateType = $('#FreightCharge_' + parId + '__ratetype').val();
            //alert('par'+ " " + parId + " " + parFromloc + " " + parToloc + " " + parRateType)


            $(".RateType").each(function () {

                var currId = $(this).attr("id").split('_')[1];
                var currRate = $('#FreightCharge_' + currId + '__rate').val();
                var currFromloc = $('#FreightCharge_' + currId + '__FromLoc').val();
                var currToloc = $('#FreightCharge_' + currId + '__toloc').val();
                var currRateType = $('#FreightCharge_' + currId + '__ratetype').val();
                // alert(currId + " " + currFromloc + " " + currToloc + " " + currRateType)

                if (parRate != currRate) {

                    if (parFromloc == currFromloc && parToloc == currToloc && parRateType == currRateType) {
                        //console.log(currId);
                        $('#' + parIdName).val('');
                        $('#' + parIdName).select2();
                        TosterNotification("error", "Error !! Oppssss Can Not Select Duplicate Value........", "Error");
                        return false;
                        //alert("cannot select Duplicate Value");
                    }
                }

            });

        }

        var duplicateDDLCheckFLT = function (parIdName) {

            var parId = parIdName.split('_')[1];
            var parRate = $('#FTLList_' + parId + '__rate').val();
            var parFromloc = $('#FTLList_' + parId + '__FromLoc').val();
            var parToloc = $('#FTLList_' + parId + '__toloc').val();
            var parRateType = $('#FTLList_' + parId + '__ratetype').val();


            $(".RateType1").each(function () {

                var currId = $(this).attr("id").split('_')[1];
                var currRate = $('#FTLList_' + currId + '__rate').val();
                var currFromloc = $('#FTLList_' + currId + '__FromLoc').val();
                var currToloc = $('#FTLList_' + currId + '__toloc').val();
                var currRateType = $('#FTLList_' + currId + '__ratetype').val();

                if (parRate != currRate) {

                    if (parFromloc == currFromloc && parToloc == currToloc && parRateType == currRateType) {
                        //console.log(currId);
                        $('#' + parIdName).val('');
                        $('#' + parIdName).select2();
                        TosterNotification("error", "Error !! Oppssss Can Not Select Duplicate Value........", "Error");
                        return false;
                        //alert("cannot select Duplicate Value");
                    }
                }

            });

        }


        return {
            init: function (DomainName) {

                $("#CustsingleSlab_isNewZoneContractApplied").live('change', function () {
                    if ($(this).is(':checked')) {
                        $("#CustsingleSlab_isNewZoneContractApplied").val(true);
                    }
                    else {
                        $("#CustsingleSlab_isNewZoneContractApplied").val(false);
                    }
                });

                $("#InvoiceRateApplay").live('change', function () {
                    console.log($(this).is(':checked'))
                    if ($(this).is(':checked')) {
                        $("#InvoiceRateApplay").val(true);
                        $(".InvoiceRate").show();
                    }
                    else {
                        $("#InvoiceRateApplay").val(false);
                        $(".InvoiceRate").hide();
                    }
                })

                $("#CustomerCharge_risktype").live('change', function () {
                    console.log($(this).val());
                    var radio = $(this).val();
                    if (radio == "C") {
                        $(".CarrierRisk").show();
                        $(".OwnerRisk").hide();
                    }
                    else {
                        $(".OwnerRisk").show();
                        $(".CarrierRisk").hide();
                    }
                })

                $(".clsFutureDateControl").datepicker({
                    rtl: App.isRTL(),
                    format: "dd MM yyyy",
                    showMeridian: true,
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    startDate: new Date("@StartDate"),
                    endDate: new Date("@EndDate"),
                    todayBtn: true
                });
                $(".datapickvalid").datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    showMeridian: true,
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    startDate: new Date("@Model.CustomerContract.Contract_Stdate"),
                    todayBtn: true
                });
                $("#Contract_Stdate").on("change", function () {
                    $(".datapickvalid").datepicker('remove');
                    $("#Contract_Eddate").val($(this).val())
                    $("#Contract_Effectdate").val($(this).val())
                    $(".datapickvalid").datepicker({
                        rtl: App.isRTL(),
                        format: "dd M yyyy",
                        showMeridian: true,
                        autoclose: true,
                        pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                        startDate: new Date($(this).val()),
                        todayBtn: true
                    });
                });

                $('.clsChkDuplicate').live('change', function () {
                    duplicateDDLCheckSundry($(this).attr('id'));
                });

                $('.clsChkDuplicateFLT').live('change', function () {
                    duplicateDDLCheckFLT($(this).attr('id'));
                });

                // Add Matrix Tab-3
                $("#btnAddMatrix").live('click', function () {
                    var itemIndex = $("#sample_1 input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddQuestions(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });
                $("#btnAddMatrixOwner").live('click', function () {
                    var itemIndex = $("#sample_2 input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddQuestionsOwner(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });
                // Add Freight Matrix Tab-6
                $("#btnAddFreightMatrix").live('click', function () {
                    var itemIndex = $("#sample_2 input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddQuestionsFreight(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });

                $("#btnAddRows").live('click', function () {
                    var itemIndex = $("#sample_2 input.iHidden").length;
                    var TOTRows = $("#SlabRows").val();


                    for (var i = 0; i <= TOTRows - 1; i++) {
                        setTimeout(function () {
                            itemIndex = itemIndex + 1;

                            AddQuestionsFreight(DomainName, itemIndex);

                        }, 250 * i);
                    }

                });
                // Add Slab  Tab-6
                $("#btnAddSlab").live('click', function () {
                    var itemIndex = $("#sample_1 input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddQuestionsSlab(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });

                $("#btnMultiSlabAddRows").live('click', function () {
                    var itemIndex = $("#sample_1 input.iHidden").length;
                    var TOTRows = $("#MultiSlabdRows").val();


                    for (var i = 0; i <= TOTRows - 1; i++) {
                        setTimeout(function () {
                            itemIndex = itemIndex + 1;

                            AddQuestionsSlab(DomainName, itemIndex);

                        }, 250 * i);
                    }

                });

                $("a.SlabdeleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });
                //FTL
                $("#btnAddSundryFTL").live('click', function () {
                    var itemIndex = $("#sample_FTL input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddQuestionsFTL(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });
                $("#btnFTLAddRows").live('click', function () {
                    var itemIndex = $("#sample_FTL input.iHidden").length;

                    var TOTRows = $("#FTLdRows").val();


                    for (var i = 0; i <= TOTRows - 1; i++) {
                        setTimeout(function () {
                            itemIndex = itemIndex + 1;

                            AddQuestionsFTL(DomainName, itemIndex);

                        }, 250 * i);
                    }

                });
                /// Stnadrad Charge
                $("#btnDocketCharge").live('click', function () {
                    var itemIndex = $("#tblStndfreightSlab input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddQuestionsCharge(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });

                $("#btnStanardAddRows").live("click", function () {
                    var itemIndex = $("#tblStndfreightSlab input.iHidden").length
                    var TOTRows = $("#StandardRows").val();
                    for (var i = 0; i <= TOTRows - 1; i++) {
                        setTimeout(function () {
                            itemIndex = itemIndex + 1;

                            AddQuestionsCharge(DomainName, itemIndex);

                        }, 250 * i);
                    }

                });



                $("a.SlabdeleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });

                $("input:checkbox, input:radio").uniform();

                Formvalidate(DomainName, "form_sample");
                Formvalidate(DomainName, "form_sampleservice");
                Formvalidate(DomainName, "form_sampleModeVice");
                Formvalidate(DomainName, "form_sampleChargeMatrix");
                Formvalidate(DomainName, "form_StandardCharge");
                Formvalidate(DomainName, "form_freightCharge");
                SaveFunction(DomainName);
                TransitMode(DomainName);
                Chkchange();
                $('.date-picker').datepicker({
                    isRTL: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    todayBtn: true
                });
                /*  Live Click Particular Open Tab */
                $("#FreightCharge a").live('click', function () {
                    App.blockUI({ boxed: true });
                    $.ajax({
                        url: DomainName + '/Contract/TabFreightCharge',
                        type: 'post',
                        data: $("#form_sample").serialize(),
                        success: function (data) {

                            $(".progress-bar").css('width', '63%')
                            $("#AddFreightCharge").show();
                            //if ($("#SlabType").val() == "D") {
                            //    $("#AddFreightMultiSlab").show();
                            //}
                            if ($("#SlabType").val() == "D") {
                                $("#AddFreightMultiSlab").show();
                                $("#AddFreightMultiSlab").html(data);
                                var Slab_class = $("#CustsingleSlab_isNewZoneContractApplied").parent('span').attr("class");
                                if (Slab_class == "checked") {
                                    $("#CustsingleSlab_isNewZoneContractApplied").val(true);
                                }
                                else {
                                    $("#CustsingleSlab_isNewZoneContractApplied").val(false);
                                }
                            }
                            else {
                                $("#AddFreightCharge").html(data);
                            }

                            Formvalidate(DomainName, "form_freightCharge");
                            $("#FreightCharge").addClass('active');
                            $("#StandardCharge").removeClass('active');
                            $("#chargematrix").removeClass('active');
                            $("#contactinfo").removeClass('active');
                            $("#servicesel").removeClass('active');
                            $("#modewise").removeClass('active');
                            $("#tab1").removeClass('active');
                            $("#tab2").removeClass('active');
                            $("#tab3").removeClass('active');
                            $("#tab4").removeClass('active');
                            $("#tab5").removeClass('active');
                            $("#tab6").addClass('active');
                            $("input:checkbox, input:radio").uniform();
                            $("#CustsingleSlab_chargecode").prop('disabled', 'disabled')
                            $("select").select2({
                                placeholder: "Select an option",
                            });
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            alert(error + '  ' + JSON.stringify(req) + '' + status)
                            TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                            App.unblockUI();
                        }
                    });

                })
                /*END  Live Click Particular Open Tab */
                /*Tab Atab2 */
                $("#servicesel a").live('click', function () {
                    App.blockUI({ boxed: true });

                    $.ajax({
                        url: DomainName + '/Contract/TabService',
                        type: 'post',
                        data: $("#form_sample").serialize(),
                        success: function (data) {
                            $(".progress-bar").css('width', '13%')
                            $("#AddCustomerCharge").html(data);
                            $("#servicesel").addClass('active')
                            $("#contactinfo").removeClass('active')
                            $("#tab1").removeClass('active');
                            $("#tab2").addClass('active');

                            GetType("CustomerCharge_trans_type", "TRN", DomainName + "/Contract/TRNGetMasterList")
                            GetType("CustomerCharge_service_type", "SVCTYP", DomainName + "/Contract/GetMasterList")
                            GetType("CustomerCharge_rate_type", "RATETYPE", DomainName + "/Contract/GetMasterList")
                            GetType("CustomerCharge_matrix_type", "MXTYPE", DomainName + "/Contract/GetMasterList")
                            GetType("CustomerCharge_pkp_dly", "PKPDL", DomainName + "/Contract/GetMasterList")
                            $("input:checkbox, input:radio").uniform();

                            var url = DomainName + '/Contract/GetContractList?Type=' + ""
                            JsonDDLSelectCode("CustomerCharge_frt_disc_contractid", url);

                            $('select').select2({
                                placeholder: "Select an option",
                            });

                            $('input[id^="CustomerCharge_risktype"]').live('change', function (e) {
                                if ($(this).val() == "C") {
                                    $("#lblrisk").html('Carrier Risk')
                                    $("#CustomerCharge_risktype").val('C');
                                }
                                else {
                                    $("#lblrisk").html('Owner Risk')
                                    $("#CustomerCharge_risktype").val('O');
                                }
                            });
                            $("a.deleteRow").live("click", function () {
                                $(this).parents("tr.editorRow:first").remove();
                                return false;
                            });

                            if ($("#CustomerCharge_risktype").val() == "C") {
                                $(".CarrierRisk").show()
                                $(".OwnerRisk").hide()
                            }
                            else {
                                $(".OwnerRisk").show()
                                $(".CarrierRisk").hide()
                            }

                            Chkchange();
                            Formvalidate(DomainName, "form_sampleservice");

                            $(".RATE").live('blur', function () {
                                var ID = $(this).attr('id').replace('UNLoadingList_', '').replace('__Rate', '')
                                $("#UNLoadingList_" + ID + "__MaxAmount").val(parseInt($(this).val()) * parseInt($("#UNLoadingList_" + ID + "__Wt_Pkg").val()))
                            });

                            $(".WT_PKG").live('blur', function () {
                                var ID = $(this).attr('id').replace('UNLoadingList_', '').replace('__Wt_Pkg', '')

                                $("#UNLoadingList_" + ID + "__MaxAmount").val(parseInt($(this).val()) * parseInt($("#UNLoadingList_" + ID + "__Rate").val()))

                            });


                            $(".Rate1").live('blur', function () {
                                var ID = $(this).attr('id').replace('LoadingList_', '').replace('__Rate', '')
                                $("#LoadingList_" + ID + "__MaxAmount").val(parseInt($(this).val()) * parseInt($("#LoadingList_" + ID + "__Wt_Pkg").val()))
                            });

                            $(".Wt_Pkg1").live('blur', function () {
                                var ID = $(this).attr('id').replace('LoadingList_', '').replace('__Wt_Pkg', '');
                                $("#LoadingList_" + ID + "__MaxAmount").val(parseInt($(this).val()) * parseInt($("#LoadingList_" + ID + "__Rate").val()));
                            });
                            $('#CustomerCharge_Codecharge').change();
                            $('#CustomerCharge_DACcarage').change();
                            App.unblockUI();
                        }
                    });
                });
                /*END Tab Atab2 */
                /*Tab Atab3 */
                $("#modewise a").live('click', function () {
                    App.blockUI({ boxed: true });
                    $.ajax({
                        url: DomainName + '/Contract/TabAddmodewise',
                        type: 'post',
                        data: $("#form_sample").serialize(),
                        success: function (data) {
                            $(".progress-bar").css('width', '22%')
                            $("#AddModeViceCharge").html(data);
                            Formvalidate(DomainName, "form_sampleModeVice");
                            $("input:checkbox, input:radio").uniform();
                            $("#modewise").addClass('active')
                            $("#contactinfo").removeClass('active')
                            $("#servicesel").removeClass('active')
                            $("#tab1").removeClass('active');
                            $("#tab2").removeClass('active');
                            $("#tab3").addClass('active');

                            //START GST Changes Chirag D
                            $(".drgstpaidby").select2({
                                placeholder: "Select an option",
                            });
                            $('select#gstpaidby').attr('readonly', false);
                            //END GST Changes Chirag D

                            $(".drptra").select2({
                                placeholder: "Select an option",
                            });
                            $(".drpb").select2({
                                placeholder: "Select an option",
                            });
                            $(".drpbase").select2({
                                placeholder: "Select an option",
                            });
                            $(".drpvol").select2({
                                placeholder: "Select an option",
                            });
                            $(".drpsele").select2({
                                placeholder: "Select an option",
                            });

                            if ($("#InvoiceRateApplay").parent('span').attr("class") == 'checked') {
                                $(".InvoiceRate").show();
                            }
                            else {
                                $(".InvoiceRate").hide();
                            }

                            GetType("stax_paidby_opts", "SERTEX", DomainName + "/Contract/GetMasterList")
                           
                            $("#min_fuelsurchrg").attr('readonly', $(".FuelSurcharge").val());
                            $("#max_fuelsurchrg").attr('readonly', $(".FuelSurcharge").val());
                            $("#fuelsurchrg").attr('readonly', $(".FuelSurcharge").val());
                            $("#fuelsurchrgbas").attr('readonly', $(".FuelSurcharge").val());
                            TransitMode(DomainName);
                            $('select#stax_paidby').attr('readonly', true);
                            App.unblockUI();
                        }
                    });
                });

                /*Tab Atab4 */
                $("#chargematrix a").live('click', function () {
                    App.blockUI({ boxed: true });
                    $.post($("#form_sampleModeVice").attr('action'), $("#form_sampleModeVice").serialize(), function (data, status) {
                        $(".progress-bar").css('width', '32%')
                        $("#AddChargeViceMatrix").html(data);
                        Formvalidate(DomainName, "form_sampleChargeMatrix");
                        $("#chargematrix").addClass('active');
                        $("#contactinfo").removeClass('active');
                        $("#servicesel").removeClass('active');
                        $("#modewise").removeClass('active');
                        $("#tab1").removeClass('active');
                        $("#tab2").removeClass('active');
                        $("#tab3").removeClass('active');
                        $("#tab4").addClass('active');
                        $("input:checkbox, input:radio").uniform();
                        TransitMode(DomainName);
                        $(".drpbaseon").select2({
                            placeholder: "Select an option",
                        });
                        $(".drpon").select2({
                            placeholder: "Select an option",
                        });
                        App.unblockUI();
                    });
                });

                /*Tab Atab1*/
                $("#contactinfo a").live('click', function () {
                    $(".progress-bar").css('width', '03%')
                });

                /* Standard Charge   */
                $("#StandardCharge ").live('click', function () {
                    App.blockUI({ boxed: true });
                    $.ajax({
                        url: DomainName + '/Contract/TabClikstandardCharge',
                        type: 'post',
                        data: $("#form_sampleChargeMatrix").serialize(),
                        success: function (data) {
                            $(".progress-bar").css('width', '46%')
                            $("#AddStandardCharge").html(data);
                            Formvalidate(DomainName, "form_StandardCharge");
                            $("#StandardCharge").addClass('active');
                            $("#chargematrix").removeClass('active');
                            $("#contactinfo").removeClass('active');
                            $("#servicesel").removeClass('active');
                            $("#modewise").removeClass('active');
                            $("#tab1").removeClass('active');
                            $("#tab2").removeClass('active');
                            $("#tab3").removeClass('active');
                            $("#tab4").removeClass('active');
                            $("#tab5").addClass('active');
                            $("input:checkbox, input:radio").uniform();
                            $(".drpselect").select2({
                                placeholder: "Select an option",
                            });
                            App.unblockUI();
                        }
                    });
                });

                /*Tabl Sundry FTL*/
                $("#FreightFTL a").live('click', function () {
                    App.blockUI({ boxed: true });

                    $.ajax({
                        url: DomainName + '/Contract/SundryChargeFTL',
                        type: 'post',
                        data: $("#form_sample").serialize(),
                        success: function (data) {
                            $("#AddFreightFTL").html(data);
                            $(".dp").select2({
                                placeholder: "Select an option",
                            });

                            $("#AddFreightFTL").show();
                            $(".progress-bar").css('width', '74%')
                            Formvalidate(DomainName, "form_SundryFTL");
                            $("#FreightFTL").addClass('active');
                            $("#StandardCharge").removeClass('active');
                            $("#chargematrix").removeClass('active');
                            $("#contactinfo").removeClass('active');
                            $("#servicesel").removeClass('active');
                            $("#modewise").removeClass('active');
                            $("#tab1").removeClass('active');
                            $("#tab2").removeClass('active');
                            $("#tab3").removeClass('active');
                            $("#tab4").removeClass('active');
                            $("#tab5").removeClass('active');
                            $("#tab6").removeClass('active');
                            $("#tab7").addClass('active');
                            $("input:checkbox, input:radio").uniform();
                            App.unblockUI();
                        }
                    });
                });

                $("#btngetSundryFTL").live('click', function () {
                    App.blockUI({ boxed: true });
                    $.post($("#form_SundryFTL").attr('action'), $("#form_SundryFTL").serialize(), function (data, status) {
                        $("#divSundryFTL").show(1000);
                        $("#tblSundryFTL").html(data);
                        $("#btngetSundryFTL").hide();
                        $("#btnSundryFTL").show();
                        $(".dis").attr('disabled', true);
                        $("select").select2({
                            placeholder: "Select an option",
                        });
                        App.unblockUI();
                    });
                });

                $("#btnSundryFTL").live('click', function (e) {
                    App.blockUI({ boxed: true });

                    if (!$('#form_SundryFTL').valid()) {
                        App.unblockUI();
                        return false;
                    }
                    if (e.handled !== true) {
                        e.handled = true;
                        Formvalidate(DomainName, "form_SundryFTL");
                        App.blockUI({ boxed: true });

                        $.ajax({
                            url: DomainName + '/Contract/AddSundryFTL',
                            type: 'post',
                            data: $("#form_SundryFTL").serialize(),
                            success: function (data) {
                                TosterNotification("success", "success !! Record Successfully Insert", "success");
                                window.location.href = DomainName + "/contract/ContractDone?ContID=" + $("#ContractId").val() + "&CustCode=" + $("#Custcode").val() + "&Type=" + $("#ConType").val()
                                App.unblockUI();
                            }
                        });
                    }
                });

                /*END Sundry FTL*/

                /*START ODA Charge*/
                $("#ODACharge a").live('click', function (e) {
                    App.blockUI({ boxed: true });
                    Formvalidate(DomainName, "form_ODACharge");


                    $.ajax({
                        url: DomainName + '/Contract/ODACharge',
                        type: 'post',
                        data: $("#form_sample").serialize(),
                        success: function (data) {
                            $("#AddODA").html(data);

                            $("#AddODA").show();
                            $(".progress-bar").css('width', '75%')
                            $("#FreightFTL").removeClass('active');
                            $("#StandardCharge").removeClass('active');
                            $("#chargematrix").removeClass('active');
                            $("#contactinfo").removeClass('active');
                            $("#servicesel").removeClass('active');
                            $("#modewise").removeClass('active');
                            $("#tab1").removeClass('active');
                            $("#tab2").removeClass('active');
                            $("#tab3").removeClass('active');
                            $("#tab4").removeClass('active');
                            $("#tab5").removeClass('active');
                            $("#tab6").removeClass('active');
                            $("#tab7").removeClass('active');
                            $("#tab8").addClass('active');
                            $("#CustsingleSlab_Slabtype").select2({
                                placeholder: "Select an option",
                            });
                            $("#CustsingleSlab_ratetype").select2({
                                placeholder: "Select an option",
                            });

                            App.unblockUI();
                        }
                    });

                });
                /*END ODA Charge*/
            }
        }
    }();
</script>
