﻿@model Fleet.ViewModels.ChallanCharges
@using Fleet.Helpers



@using (Html.BeginCollectionItem("THCCharge", Model.chargecode.ToString()))
{


    Model.ChargeAmount = 0;

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-md-5">@Html.DisplayFor(model => model.chargename)</label>
                <div class="col-md-7">

                    @Html.TextBoxFor(model => model.ChargeAmount, new { placeholder = Model.chargename, @class = "required2 ClsChrges clsAmount form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @min = "0", @type = "number" })
                    @Html.HiddenFor(model => model.chargecode)
                    @Html.HiddenFor(model => model.Operator)
                    @Html.HiddenFor(model => model.Acccode)
                    @Html.HiddenFor(model => model.Cnt)

                </div>
            </div>
        </div>
    </div>

}

