﻿@model Fleet.ViewModels.vw_SingleCNoteUpdatList
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers


@using (Html.BeginCollectionItem("CNoteUpdateList", Model.DOCKNO.ToString()))
{
    <tr>
        <td>
            @Model.DOCKNO
            @Html.HiddenFor(m => m.DOCKNO)
        </td>
        <td>
            @Model.DOCKDT
            @Html.HiddenFor(m => m.DOCKDT)
        </td>
        <td>
            @Model.DRS
            @Html.HiddenFor(m => m.DRS)
        </td>
        <td>
            @Model.DRS_DT
            @Html.HiddenFor(m => m.DRS_DT)
        </td>
        <td> 
            <a class="btn btn-sm blue-stripe default " href="@Url.Content("~/Operation/UpdateDRSById?DOCKNO=" + @Model.DOCKNO + "&DRSCode=" + @Model.DRS)"> Click to Update </a>
            @*<button type="button" id='btnUpdate_@(Model.DOCKNO)' class="UpdateLink btn blue"> &nbsp; Update</button>*@
        </td>

        
         
    </tr>
}
