﻿@model FleetDataService.Models.Webx_Crossing_Docket_Detail
@using Fleet.Helpers;
@using CYGNUS.Models;


@{
    List<SelectListItem> ListRateBasis = new List<SelectListItem>(){
                    new SelectListItem{ Text="Select", Value = "" },
                    new SelectListItem{ Text="Per Kg", Value = "K" },
                    new SelectListItem{ Text="Flat RS", Value = "F" },
                    new SelectListItem{ Text="Per Pkgs", Value = "P" },
    };
    List<SelectListItem> ListBulky = new List<SelectListItem>(){
                    new SelectListItem{ Text="Select", Value = "" },
                    new SelectListItem{ Text="+", Value = "P" },
                    new SelectListItem{ Text="-", Value = "M" },
    };


    var dockdate = @Model.DockDate.ToString("dd MMM yyyy");
}

<tr class="editorRow">
    @using (Html.BeginCollectionItem("CrossingDocketDetail", Model.DockNo.ToString()))
    {
        <td>
            <div>@Html.CheckBoxFor(model => model.IsChecked, new { @class = "chkCheck" }) </div>
        </td>
        <td>
            <div>@Html.DisplayFor(model => model.DockNo) </div>
        </td>
        <td>
            <div>@Html.DisplayFor(model => dockdate) </div>
        </td>
        <td>
            <div>@Html.DisplayFor(model => model.Paybas) </div>
        </td>
        <td>
            <div>@Html.DisplayFor(model => model.from_loc) </div>
        </td>
        <td>
            <div>
                @Html.DisplayFor(model => model.to_Loc)
            </div>
        </td>
        <td>
            <div>@Html.DisplayFor(model => model.Pkgs) </div>
        </td>
        <td>
            <div>@Html.DisplayFor(model => model.ActuWeight) </div>
        </td>
        <td>
            <div>@Html.DisplayFor(model => model.ChargedWeight) </div>
        </td>
        <td>
            <div>@Html.DisplayFor(model => model.DKTTOT) </div>
        </td>
        <td>
            <div>
                @Html.DropDownListFor(model => model.Ratetype, new SelectList(ListRateBasis, "Value", "Text"), "", new { @class = "select2 required2 DDL Ratetype required form-control", @placeholder = "Select Rate basis" })
            </div>
        </td>
        <td>
            <div>
                @Html.TextBoxFor(model => model.VendorRate, new { @class = "form-control required required2 ", @readonly = "false" })
            </div>
        </td>
        <td>
            <div>
                @Html.TextBoxFor(model => model.CrossingChrg, new { @class = "form-control required required2 ", @readonly = "false" })
            </div>
        </td>
        <td>
            <div>
                @Html.DropDownListFor(model => model.DDRatetype, new SelectList(ListRateBasis, "Value", "Text"), "", new { @class = "select2 required2 DDL form-control", @placeholder = "Select DD Rate basis" })
            </div>
        </td>
        <td>
            <div>
            @Html.TextBoxFor(model => model.DDVendorRate, new { @class = "form-control required2 ", @readonly = "false" })
            </div>
        </td>
        <td>
            <div>
            @Html.TextBoxFor(model => model.DoorDelyChrg, new { @class = "form-control required2 ", @readonly = "false" })
            </div>
        </td>
        <td>
            <div>
                @Html.DropDownListFor(model => model.Bulky, new SelectList(ListBulky, "Value", "Text"), "", new { @class = "select2 required2 DDL BulkyDDL form-control", @placeholder = "Select Bulky" })
            </div>
        </td>
        <td>
            <div>
                @Html.TextBoxFor(model => model.BulkyChrg, new { @class = "form-control  required2 BulkyChrg ", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
            </div>
        </td>
        <td>
            <div>
                @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control required2 " })

            </div>
            @Html.HiddenFor(model => model.Pkgs)
            @Html.HiddenFor(model => model.DockNo)
            @Html.HiddenFor(model => model.DockDate)
            @Html.HiddenFor(model => model.Paybas)
            @Html.HiddenFor(model => model.paybasCode)
            @Html.HiddenFor(model => model.from_loc)
            @Html.HiddenFor(model => model.to_Loc)
            @Html.HiddenFor(model => model.Origin)
            @Html.HiddenFor(model => model.Destination)
            @Html.HiddenFor(model => model.ActuWeight)
            @Html.HiddenFor(model => model.ChargedWeight)
            @Html.HiddenFor(model => model.DKTTOT)
            @Html.HiddenFor(model => model.Ratetype)
            @Html.HiddenFor(model => model.VendorRate)
            @Html.HiddenFor(model => model.CrossingChrg)
            @Html.HiddenFor(model => model.DDRatetype)
            @Html.HiddenFor(model => model.DDVendorRate)
            @Html.HiddenFor(model => model.DoorDelyChrg)
            @Html.HiddenFor(model => model.Bulky)
            @Html.HiddenFor(model => model.BulkyChrg)
            @Html.HiddenFor(model => model.Remarks)
        </td>

    }
</tr>
