﻿@model FleetDataService.Models.Webx_Crossing_Docket_Master
@using FleetDataService.Models
@using Fleet.Helpers

@{

}
<tr class="editorRow">

    @using (Html.BeginCollectionItem("CrossingChallanPouch", Model.SrNo.ToString()))
    {
        string ROWID = "RW_" + Model.SrNo;
        string DocumentHrefID = "CrossingChallanPouch_" + Model.SrNo + "__DocumentPath";

        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.CheckBoxFor(m => Model.IsCheck, new { @class = "chkCheck", @data_id = Model.CrossingChallanNo, @data_date = @Model.ChallanDate })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.HiddenFor(c => c.CrossingChallanNo)
                    @Model.CrossingChallanNo
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Model.ChallanDate
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Model.ChallanLocCode
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Model.VehicleNo
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Model.VendorName : @Model.VendorCode
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Model.TotalToPay
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Model.TotalCrossing
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Model.TotalDoorDelyChrg
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Model.NetPayable
                </div>
            </div>
        </td>
        <td data-title="Upload Document">
            <div class="fileinput fileinput-new col-md-12" id="divfileupload_@Model.SrNo" data-provides="fileinput">
                <div class="fileinput-new thumbnail col-md-3" style="width: 30px; height: 30px;">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail col-md-3" style="max-width: 70px; max-height: 70px;">
                </div>
                <div class=" col-md-9">
                    <span class="btn default btn-file">
                        <span class="fileinput-new">
                            Select image
                        </span>
                        <span class="fileinput-exists">
                            Change
                        </span>
                        <input type="file" id="@ROWID" name="files" class="default">
                    </span><br />
                    <a href="#" class="btn default fileinput-exists" data-dismiss="fileinput" style="margin-top:5px">
                        Remove
                    </a>
                </div>
            </div>
            <p class="col-md-offset-1" style="color: #a94442;display:none;" id="fileError_@Model.SrNo"><strong>File Size Must Be Less or Equal to 1 Mb.</strong></p>
            <div id="msg_@Model.SrNo" style="color: #a94442;display:none;"></div>
        </td>
    }
</tr>