﻿@model Fleet.ViewModels.BookingCharges
@using Fleet.Helpers;
@using CYGNUS.Models;


@{ 
    var cssContractCharge = "";
    if (Model.ChargeCode == "weight")
    {
        cssContractCharge = "weightContract";
    }
    else if (Model.ChargeCode == "frt_rate") {
        cssContractCharge = "frt_rateContract";
    }
    //else if (Model.ChargeCode == "freight")
    //{
    //    cssContractCharge = "freightContract";
    //}
    else
    {
        cssContractCharge = "ContractCharge";
    }

    var cssDocketCharge = "";
    if (Model.ChargeCode == "weight")
    {
        cssDocketCharge = "weightDocket";
    }
    else if (Model.ChargeCode == "frt_rate")
    {
        cssDocketCharge = "frt_rateDocket";
    }
    //else if (Model.ChargeCode == "freight")
    //{
    //    cssDocketCharge = "freightDocket";
    //}
    else
    {
        cssDocketCharge = "DocketCharge";
    }

    var cssCollectedCharge = "";
    if (Model.ChargeCode == "weight")
    {
        cssCollectedCharge = "weightCollected";
    }
    else if (Model.ChargeCode == "frt_rate")
    {
        cssCollectedCharge = "frt_rateCollected";
    }
    //else if (Model.ChargeCode == "freight")
    //{
    //    cssCollectedCharge = "freightCollected";
    //}
    else
    {
        cssCollectedCharge = "CollectedCharge";
    }

    var operatordisplay = "";
    if (Model.Operator == "")
    { operatordisplay = ""; }
    else { operatordisplay = "(" + Model.Operator + ")"; }
}

<tr class="editorRow">
@using (Html.BeginCollectionItem("BookingChargesList", Model.ChargeCode.ToString()))
{
    <td class="center">
        <div class="col-md-6">@Html.DisplayFor(model => model.ChargeName) </div>
        <div class="col-md-1">@operatordisplay</div>
</td>
    <td class="center">
        <div class="form-group">
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.DocketCharge, new { placeholder = Model.ChargeName, @class = "required2 clsAmount form-control required clsBkgCharge "+ cssDocketCharge, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @readonly = "true" })
                @Html.HiddenFor(model => model.ChargeCode)
                @Html.HiddenFor(model => model.Operator)
                @Html.HiddenFor(model => model.Acccode)
            </div>
        </div>
    </td>
    <td class="center">
        <div class="form-group">
            <div class="col-md-6">
                @if (Model.paybas == "P03")
                {
                    @Html.TextBoxFor(m => m.ContractCharge, new { placeholder = Model.ChargeName, @class = "required2 clsAmount form-control required clsBkgCharge "+ cssContractCharge, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))"})
                }
                else
                {
                    @Html.TextBoxFor(m => m.ContractCharge, new { placeholder = Model.ChargeName, @class = "required2 clsAmount form-control required clsBkgCharge " + cssContractCharge, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @readonly = "true" })
                }
            </div>
        </div>
    </td>
    <td class="center">
        <div class="form-group">
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.CollectedCharge, new { placeholder = Model.ChargeName, @class = "required2 clsAmount form-control required clsBkgCharge "+ cssCollectedCharge, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @disabled = "true" })
            </div>
        </div>
    </td>
    }
</tr>
