﻿@model Fleet.ViewModels.DeliveryCharges
@using Fleet.Helpers;
@{
    var cssContractCharge = "";
    if (Model.ChargeCode == "frt_diff")
    {
        cssContractCharge = "clsDelCharge cssfrt_diff";
    }
    else
    {
        cssContractCharge = "clsDelCharge";
    }

    var operatordisplay = "";
    if (Model.Operator == "")
    {
        operatordisplay = "";
    }
    else
    {
        operatordisplay = "(" + Model.Operator + ")";
    }
}

<div class="form-group">
    <label class="control-label col-md-5">@Html.DisplayFor(model => model.ChargeName) @operatordisplay</label>

    @using (Html.BeginCollectionItem("DeliveryChargesList", Model.ChargeCode.ToString()))
    {
        <div class="col-md-7">
            @if (Model.ChargeCode == "frt_diff")
                {
                @Html.TextBoxFor(m => m.ChargeAmount, new { placeholder = Model.ChargeName, @class = "required2 clsAmount form-control required " + cssContractCharge, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @readonly = "true" })
            }
            else
            {
                @Html.TextBoxFor(m => m.ChargeAmount, new { placeholder = Model.ChargeName, @class = "required2 clsAmount form-control required " + cssContractCharge, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
            }
            @Html.HiddenFor(model => model.ChargeCode)
            @Html.HiddenFor(model => model.Operator)
            @Html.HiddenFor(model => model.Acccode)
        </div>
    }
</div>