﻿@model Fleet.ViewModels.QuickDocketBalancecharges
@using Fleet.Helpers;
@using CYGNUS.Models;


<div class="form-group">
    <label class="control-label col-md-5">@Html.DisplayFor(model => model.ChargeName) </label>
    <div class="col-md-6">

        @using (Html.BeginCollectionItem("DocketChargesList", Model.ChargeCode.ToString()))
        {

            @*if (Model.ChargeCode == "SCHG05" || Model.ChargeCode == "SCHG03")
            {
                @Html.TextBoxFor(m => m.ChargeAmount, new { placeholder = "FOV Rate ", @class = "required2 clsAmount form-control required clsDKTCharge", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @min = Model.ChargeAmount })
            }
            else
            {
                @Html.TextBoxFor(m => m.ChargeAmount, new { placeholder = "FOV Rate ", @class = "required2 clsAmount form-control required clsDKTCharge", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
            }*@
            @Html.TextBoxFor(m => m.ChargeAmount, new { placeholder = "FOV Rate ", @class = "required2 clsAmount form-control required clsDKTCharge", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
            @Html.HiddenFor(model => model.ChargeCode)
            @Html.HiddenFor(model => model.Operator)
            @Html.HiddenFor(model => model.Acccode)

        }
    </div>
    <div class="col-md-1">         (@Html.DisplayFor(model => model.Operator))</div>
    </div>
