﻿@model CYGNUS.Models.WebX_Master_Docket
@using CYGNUS.Models;
@using Fleet.Classes;
@using Fleet.Helpers;
@{
    var ischecked = Model.IsHOVerified;
    bool IsHOVerified = false;
}
<tr>

    @using (Html.BeginCollectionItem("DocketList", Model.DOCKNO))
    {
        <td class="center">
            @Html.CheckBoxFor(m => m.IsHOVerified, new { @class = "IsCheck" })
        </td>
        @Html.HiddenFor(m => m.DOCKNO)
        @Html.HiddenFor(m => m.DOCKDT)
        @Html.HiddenFor(m => m.fincmplbr)
        @Html.HiddenFor(m => m.ORGN_DEST)
        @Html.HiddenFor(m => m.TRN_MOD)
        <td align="center">
            @Model.DOCKNO
        </td>
        <td align="center">
            @Model.DOCKDT.ToString("dd MMM yyyy")
        </td>
        <td align="center">
            @Model.fincmplbr
        </td>
        <td align="center">
            @Model.ORGN_DEST
        </td>
        <td align="center">
            @Model.TRN_MOD
        </td>
    }
</tr>
