﻿@model FleetDataService.Models.WebX_Master_Docket_Invoice
@using FleetDataService.Models;
@using Fleet.Helpers

@{
    int SRNO = Convert.ToInt32(Model.SrNo);

    FleetDataService.MasterService MS = new FleetDataService.MasterService();

    string divId = "clsinvdate" + Model.SrNo.ToString();
    List<SelectListItem> BlankList = new List<SelectListItem>();

    List<Webx_Master_General> listPackagesType = new List<Webx_Master_General>();
    listPackagesType = MS.GetGeneralMasterObject().Where(c => c.CodeType.ToUpper() == "PKGS" && c.StatusCode.ToUpper() == "Y").ToList();

    List<Webx_Master_General> listProductType = new List<Webx_Master_General>();
    listProductType = MS.GetGeneralMasterObject().Where(c => c.CodeType.ToUpper() == "PROD" && c.StatusCode.ToUpper() == "Y").ToList();
}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.SrNo, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("DocketInvoiceList", (Model.SrNo).ToString()))
    {
        <td class="center">
            @SRNO
        </td>
        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.TextBoxFor(c => c.INVNO, new { @class = "input-small required2" })
        </td>
        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.TextBoxFor(m => m.INVDT, String.Format("{0:dd/MM/yyyy}", Convert.ToDateTime(Model.INVDT).ToString("dd MMM yyyy")), new { @class = "input-small required required2 clsinvoicedt", @placeholder = "dd/MMM/yyyy" })
        </td>
        <td class="center form-group clsVolumetric" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.TextBoxFor(c => c.VOL_L, new { @class = "input-xsmall clsAmount required2 clsVOL", @onkeypress = "javascript:return validInt(event)", @type = "number", @min = 0 })
        </td>
        <td class="center form-group clsVolumetric" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.TextBoxFor(c => c.VOL_B, new { @class = "input-xsmall clsAmount required2 clsVOL", @onkeypress = "javascript:return validInt(event)", @type = "number", @min = 0 })
        </td>
        <td class="center form-group clsVolumetric" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.TextBoxFor(c => c.VOL_H, new { @class = "input-xsmall clsAmount required2 clsVOL", @onkeypress = "javascript:return validInt(event)", @type = "number", @min = 0 })
        </td>
          <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
             @Html.DropDownListFor(c => c.PKGSTY, new SelectList(listPackagesType, "CodeId", "CodeDesc"), Model.PKGSTY, new { @class = "form-control select2", @placeholder = "Packaging Type" })
        </td>
         <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
             @Html.DropDownListFor(c => c.PRODCD, new SelectList(listProductType, "CodeId", "CodeDesc"), Model.PRODCD, new { @class = "form-control select2", @placeholder = "Contents" })
        </td>
        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.TextBoxFor(c => c.DECLVAL, new { @class = "input-xsmall clsAmount required2 ClsDecVal", @type = "number", @min = 0 })
        </td>
        @*<td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.TextBoxFor(c => c.Part_No, new { @class = "input-xsmall required2" })
        </td>*@
        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.TextBoxFor(c => c.PKGSNO, new { @class = "input-xsmall clsAmount required2 ClsPKGSNO", @onkeypress = "javascript:return validInt(event)", @type = "number", @min = 0 })
        </td>
        <td class="center form-group clsVolumetric" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.TextBoxFor(c => c.vol_cft, new { @class = "input-xsmall clsAmount required2 ClsCFT", @readonly = "true", @onkeypress = "javascript:return validInt(event)", @type = "number", @min = 0 })
        </td>
        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.TextBoxFor(c => c.ACTUWT, new { @class = "input-xsmall clsAmount required2 ClsActWt", @type = "number", @min = 0 })
        </td>

    <td class="center form-group clsEwayBill" style="padding-bottom: 2px; padding-top: 2px;">
        @Html.TextBoxFor(c => c.ProductName, new { @class = "input-xsmall   required2 " })
    </td>
    <td class="center form-group clsEwayBill" style="padding-bottom: 2px; padding-top: 2px;">
        @Html.TextBoxFor(c => c.ProductDesc, new { @class = "input-xsmall   required2 " })
    </td>
    <td class="center form-group clsEwayBill" style="padding-bottom: 2px; padding-top: 2px;">
        @Html.TextBoxFor(c => c.HSNCode, new { @class = "input-xsmall   required2 " })
    </td>


    <td class="center form-group clsEwayBill" style="padding-bottom: 2px; padding-top: 2px;">
        @Html.TextBoxFor(c => c.Qty, new { @class = "input-xsmall clsAmount required2 ", @onkeypress = "javascript:return validInt(event)", @type = "number", @min = 0 })
    </td>
    <td class="center form-group clsEwayBill" style="padding-bottom: 2px; padding-top: 2px;">
        @Html.TextBoxFor(c => c.UnitPrice, new { @class = "input-xsmall clsAmount required2 ", @onkeypress = "javascript:return validFloat(event)", @type = "number", @min = 0 })
    </td>
    <td class="center form-group clsEwayBill" style="padding-bottom: 2px; padding-top: 2px;">
        @Html.TextBoxFor(c => c.GSTRate, new { @class = "input-xsmall clsAmount required2 ", @onkeypress = "javascript:return validFloat(event)", @type = "number", @min = 0 })
    </td>


        <td class="center">
            @if (Model.SrNo > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="InvoicedeleteRow">X</a></text>
            }
            else
            {
                <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
            }
        </td>
    }
</tr>