﻿@model FleetDataService.Models.CygnusChargesHeader
@using Fleet.Helpers;

<div class="col-md-4">
    <div class="form-group">
        <label class="control-label col-md-5">@Model.ChargeName</label>
        <div class="col-md-7">
            @using (Html.BeginCollectionItem("DynamicList", Model.ChargeCode.ToString()))
            {
                @Html.TextBoxFor(m => m.ChargeAmount, new { placeholder = @Model.ChargeName, @class = "required2 clsGSTAmt clsAmount form-control required", @readonly = true })
                @Html.HiddenFor(model => model.ChargeCode)
                @Html.HiddenFor(model => model.Operator)
                @Html.HiddenFor(model => model.Acccode)
            }
        </div>
    </div>
</div>


@*@Html.GSTUIFormGroupStart()
    <label class="control-label col-md-5">@Model.ChargeName</label>
    @Html.UIcolmd(7)
    @using (Html.BeginCollectionItem("DocketChargesList", Model.ChargeCode.ToString()))
    {
        @Html.TextBoxFor(m => m.ChargeAmount, new { placeholder = @Model.ChargeName, @class = "required2 clsAmount form-control required", @readonly = "true" })
        @Html.HiddenFor(model => model.ChargeCode)
        @Html.HiddenFor(model => model.Operator)
        @Html.HiddenFor(model => model.Acccode)
    }
    @Html.UI3End()*@