﻿@model CYGNUS.Models.webx_GENERAL_POASSET_det
@using Fleet.Helpers
@using FleetDataService.Models


@{
    FleetDataService.OperationService OS = new FleetDataService.OperationService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> generalMasterList = MS.GetGeneralMasterObject().ToList();
    List<FleetDataService.Models.webx_acctinfo> Listwebx_acctinfo = new List<FleetDataService.Models.webx_acctinfo>();
    List<SelectListItem> ListMFG = new List<SelectListItem>();
    List<SelectListItem> ListType = new List<SelectListItem>();
    List<SelectListItem> ListSize = new List<SelectListItem>();
    if (ViewBag.SelectedValue == "01") //Packaging Material
    {
        Listwebx_acctinfo = Fleet.Classes.DataRowToObject.CreateListFromTable<FleetDataService.Models.webx_acctinfo>(OS.Get_GeneralAsset("01", ViewBag.IsFabricSheet));
    }
    else if (ViewBag.SelectedValue == "02") //Tyre
    {
        Listwebx_acctinfo = Fleet.Classes.DataRowToObject.CreateListFromTable<FleetDataService.Models.webx_acctinfo>(OS.GetTyreModel());
        ListMFG = Fleet.Classes.DataRowToObject.CreateListFromTable<SelectListItem>(OS.GetTyreMFG());
        ListType = Fleet.Classes.DataRowToObject.CreateListFromTable<SelectListItem>(OS.GetTyreType());
        ListSize = Fleet.Classes.DataRowToObject.CreateListFromTable<SelectListItem>(OS.GetTyreSize());
    }
    else if (ViewBag.SelectedValue == "03") //Spare Part
    {
        Listwebx_acctinfo = Fleet.Classes.DataRowToObject.CreateListFromTable<FleetDataService.Models.webx_acctinfo>(OS.GetSpareParts("03"));
    }
    else if (ViewBag.SelectedValue == "04") //General
    {
        Listwebx_acctinfo = Fleet.Classes.DataRowToObject.CreateListFromTable<FleetDataService.Models.webx_acctinfo>(OS.Get_GeneralAsset("04", ViewBag.IsFabricSheet));
    }
    else if (ViewBag.SelectedValue == "05")  //Fix Asset
    {
        Listwebx_acctinfo = Fleet.Classes.DataRowToObject.CreateListFromTable<FleetDataService.Models.webx_acctinfo>(OS.Get_StationaryAsset("05"));
    }
    else if (ViewBag.SelectedValue == "06")//Printing Stationary
    {
        Listwebx_acctinfo = Fleet.Classes.DataRowToObject.CreateListFromTable<FleetDataService.Models.webx_acctinfo>(OS.Get_StationaryAsset("06"));
    }
    else if (ViewBag.SelectedValue == "07") //Office Maintanance
    {
        Listwebx_acctinfo = Fleet.Classes.DataRowToObject.CreateListFromTable<FleetDataService.Models.webx_acctinfo>(OS.Get_StationaryAsset("07"));
    }
    else if (ViewBag.SelectedValue == "08") //Festival Expenses
    {
        Listwebx_acctinfo = Fleet.Classes.DataRowToObject.CreateListFromTable<FleetDataService.Models.webx_acctinfo>(OS.Get_StationaryAsset("08"));
    }
}
<tr role="row" class="filter">

    @using (Html.BeginCollectionItem("GENERAL_POASSET_det", Model.srno.ToString()))
    {
        <td>
            <span>@Model.srno</span>
        </td>
        <td class="form-group" style="white-space: normal;">
            @Html.DropDownListFor(m => m.assetcd, new SelectList(Listwebx_acctinfo, "Acccode", "Accdesc"), "", new { @class = "required select2 form-control" })
            @if (ViewBag.SelectedValue == "02")
            {
                @Html.DropDownListFor(m => m.TyreMFG_Code, new SelectList(ListMFG, "Value", "Text"), "", new { @class = "select2 required form-control", @placeholder = "Select Tyre MFG" })
                @Html.DropDownListFor(m => m.TyreSizeCode, new SelectList(ListSize, "Value", "Text"), "", new { @class = "select2 required form-control", @placeholder = "Select Tyre Size" })
                @Html.DropDownListFor(m => m.TyreTypeCode, new SelectList(ListType, "Value", "Text"), "", new { @class = "select2 required form-control", @placeholder = "Select Tyre Category" })
            }
        </td>
        <td class="form-group">
            @Html.TextBoxFor(m => m.HSN_SAC, new { @class = "form-control", @placeholder = "HSN/SAC", @maxlength = "100" })
        </td>
        <td class="form-group">
            @Html.TextAreaFor(m => m.narration, new { @class = "form-control", @placeholder = "Description" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(m => m.qty, new { @class = "form-control required qty", @min = 0.01, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>
        @*<td class="col-md-1">
                @Html.DropDownListFor(m => m.UnitType, new SelectList(ListUniType, "CodeID", "CodeDesc"), new { @class = "col-md-1 select2 form-control required" })
            </td>*@
        <td class="form-group">
            @Html.TextBoxFor(m => m.rate, new { @class = "form-control required", @min = 0.01, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>        
        <td class="form-group">
            @Html.TextBoxFor(m => m.Discount_Per, new { @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @max = 100 })
            @Html.TextBoxFor(m => m.DiscountAmt, new { @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @readonly = "true" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(m => m.taxableAmt, new { @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @readonly = "true" })
        </td>
        <td class="form-group">
            @Html.DropDownListFor(m => m.tax_per, new SelectList(generalMasterList.Where(c => c.CodeType.ToUpper() == "GSTPER" && c.StatusCode == "Y").OrderBy(c => int.Parse(c.CodeDesc)), "CodeDesc", "CodeDesc", Model.tax_per), "", new { @class = "form-control select2 required2 required gstPercentage", @placeholder = "Select GST Percentage" })
            @*@Html.TextBoxFor(m => m.tax_per, new { @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @readonly = "true" })*@
            @Html.TextBoxFor(m => m.TaxAmt, new { @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @readonly = "true" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(m => m.Other_Chg, new { @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(m => m.total, new { @class = "form-control total", @readonly = true })
        </td>
        @*<td class="col-md-1">
                @Html.TextBoxFor(m => m.WarrantyInYear, new { @class = "col-md-1 form-control required", @min = 0.01, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
            </td>*@
        <td style="text-align:center; cursor:pointer" title="Delete Row">
            @if (Model.srno > 1)
            {
                @*<a class="deleteRow"><img src="~/assets/img/Delete_Icon.png" style="width: 25px;" /></a>*@
                <a class="deleteRow" style="color: Maroon; font-size: 14px; font-weight: bolder;">X</a>
            }
            else
            {
                <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
            }
        </td>
    }
</tr>