﻿@model CYGNUS.Models.webx_GENERAL_POASSET_det
@using Fleet.Helpers
@using FleetDataService.Models
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> generalMasterList = MS.GetGeneralMasterObject().ToList();
}
<tr role="row" class="filter">

    @using (Html.BeginCollectionItem("GENERAL_POASSET_det", Model.srno.ToString()))
    {
        <td>
            <span>@Model.srno</span>
        </td>
        <td class="col-md-2">
            @Html.DisplayFor(m => m.assetcd, new { @class = "col-md-2 select2 form-control required" })
            @Html.HiddenFor(m => m.assetcd)
        </td>
        <td class="col-md-2">
            @Html.TextAreaFor(m => m.narration, new { @class = "col-md-2 form-control form-filter input-sm", @placeholder = "Description" })
        </td>
        <td class="col-md-1">
            @Html.TextBoxFor(m => m.qty, new { @class = "col-md-1 form-control form-filter input-sm qty", @min = 0.01, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>
        <td class="col-md-1">
            @Html.DropDownListFor(m => m.UnitType, new SelectList(generalMasterList.Where(c => c.CodeType == "UNTTYP" && c.StatusCode == "Y").OrderBy(c => c.CodeDesc), "CodeID", "CodeDesc"), new { @class = "col-md-1 select2 form-control required" })
        </td>
        <td class="col-md-1">
            @Html.TextBoxFor(m => m.rate, new { @class = "col-md-1 form-control form-filter input-sm", @min = 0.01, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.Discount_Per, new { @class = "form-control form-filter input-sm required", @max = "100", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>
        <td class="col-md-1">
            @Html.TextBoxFor(m => m.DiscountAmt, new { @class = "col-md-1 form-control form-filter input-sm", @readonly = true })
        </td>
        <td class="col-md-1">
            @Html.TextBoxFor(m => m.tax_per, new { @class = "col-md-1 form-control form-filter input-sm", @max = "100", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.TaxAmt, new { @class = "form-control form-filter input-sm", @readonly = true })
        </td>
        <td class="col-md-1">
            @Html.TextBoxFor(m => m.total, new { @class = "col-md-1 form-control form-filter input-sm total", @readonly = true })
        </td>
        <td class="col-md-1">
            @Html.TextBoxFor(m => m.WarrantyInYear, new { @class = "col-md-1 form-control form-filter input-sm", @min = 0.01, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>
        <td style="text-align:center; cursor:pointer" class="col-md-1" title="Delete Row">
            @if (Model.srno > 1)
            {
                <a class="deleteRow"><img src="~/assets/img/Delete_Icon.png" style="width: 25px;" /></a>
            }
            else
            {
                <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
            }
        </td>
    }
</tr>
