﻿@model FleetDataService.Models.CYGNUS_FixAssetType
@using Fleet.Helpers
@using Fleet.Models;
@using FleetDataService.Models;
@{

}
<tr>
    @if (ViewBag.ASSETTYPE == "REASSIGN" || ViewBag.ASSETTYPE == "ASSIGN")
    {
        using (Html.BeginCollectionItem("WFTDLIST", (Model.id).ToString()))
        {
            if (ViewBag.ASSETTYPE == "REASSIGN")
            {
                <td class="center">
                    @Model.DocumentNo
                </td>
                <td class="center">
                    @Model.GRNNO
                </td>
                <td class="center">
                    @Model.GRNDT
                </td>
                <td class="center">
                    @Model.IteamName
                </td>
                <td class="center">
                    @Model.qty
                </td>
                <td class="center">
                    @Model.AssignToLoca
                </td>
                <td class="center">
                    @Model.Employee
                </td>
                <td class="center">
                    @Model.DpartName
                </td>
                <td class="center">
                    @Model.IssueDate
                </td>


            }
            if (ViewBag.ASSETTYPE == "ASSIGN")
            {
                <td class="center">
                    @Model.DocumentNo
                </td>
                <td class="center">
                    @Model.AssignToLoca
                </td>
                <td class="center">
                    @Model.GRNNO
                </td>
                <td class="center">
                    @Model.GRNDT
                </td>
                <td class="center">
                    @Model.IteamName
                </td>
                <td class="center">
                    @Model.qty
                </td>
                <td class="center">
                    @Model.Description
                </td>
                <td class="center">
                    @Model.Employee
                </td>
                <td class="center">
                    @Model.DpartName
                </td>
                <td class="center">
                    @Model.IssueDate
                </td>

            }
            if (ViewBag.ASSETTYPE == "ASSIGN")
            {
                <td class="center">
                    <a  target="_blank" href="@Url.Action("GRNASSIGNREASSIGN", "ViewPrint", new { ASSIGNNO = Model.DocumentNo, Type = "1" })" class="btn btn-xs default blue-stripe" id="ReportFrame"><i class="fa fa-print"></i>&nbsp;View/Print</a>
                </td>
            }
            if (ViewBag.ASSETTYPE == "REASSIGN")
            {
                <td class="center">
                    <a target="_blank" href="@Url.Action("GRNASSIGNREASSIGN", "ViewPrint", new { ASSIGNNO = Model.DocumentNo, Type = "2" })" class="btn btn-xs default blue-stripe" id="ReportFrame"><i class="fa fa-print"></i>&nbsp;View/Print</a>
                </td>
            }
        }
    }


    @if (ViewBag.ASSETTYPE == "BILLENTRYPAYMENT")
    {
        using (Html.BeginCollectionItem("WFTDLIST", (Model.VOUCHERNO).ToString()))
        {

            if (ViewBag.ASSETTYPE == "BILLENTRYPAYMENT")
            {
                <td class="center">
                    @Model.BILLNO
                </td>
                <td class="center">
                    @Model.VendorName
                </td>
                <td class="center">
                    @Model.VendorBillDT
                </td>
                <td class="center">
                    @Model.VENDORBILLNO
                </td>
                <td class="center">
                    @Model.VOUCHERNO
                </td>
                <td class="center">
                    @Model.BRCD
                </td>
                <td class="center">
                    @Model.PaymentDT
                </td>
            }
            if (ViewBag.ASSETTYPE == "BILLENTRYPAYMENT")
            {
                <td class="center">
                    <a target="_blank" href="@Url.Action("BillPaymentView", "ViewPrint", new { VoucherNO = Model.VOUCHERNO, Type = "BillPayment" })" class="btn btn-xs default blue-stripe" id="ReportFrame"><i class="fa fa-print"></i>&nbsp;View/Print</a>
                </td>
            }

        }
    }
</tr>