﻿@model FleetDataService.ViewModels.POGRNGenerationDetails
@using Fleet.Helpers
@{
    var subTotal = (Model.GRNQTY * Model.rate);
    var discountAmount = (subTotal * Model.Discount_Per) / 100;
    Model.taxableAmt = Convert.ToDecimal(Math.Round((subTotal - discountAmount)).ToString("0.00"));
}
<tr>
    @using (Html.BeginCollectionItem("GRNDetails", Model.srno.ToString()))
    {
        <td>
            @Html.DisplayFor(c => c.Item_Code)
            @Html.HiddenFor(c => c.Item_Code)
        </td>
        <td>
            @Html.DisplayFor(c => c.Item_Desc)
            @Html.HiddenFor(c => c.Item_Desc)
        </td>
        <td>
            @Html.DisplayFor(c => c.narration)
            @Html.HiddenFor(c => c.narration)
        </td>
        <td>
            @Html.DisplayFor(c => c.OrderQTY)
            @Html.HiddenFor(c => c.OrderQTY)
        </td>
        <td>
            @Html.TextBoxFor(c => c.rate, new { @class = "form-control", @readonly = "true" })
            @*@Html.HiddenFor(c => c.rate)*@
        </td>
        <td>
            @Html.DisplayFor(c => c.Other_Chg)
            @Html.HiddenFor(c => c.Other_Chg)
        </td>
        <td>
            @Html.DisplayFor(c => c.RECEIVEDQTY)
            @Html.HiddenFor(c => c.RECEIVEDQTY)
        </td>
        <td>
            <div class="col-md-11">
                <div class="form-group">
                    @Html.TextBoxFor(model => model.GRNQTY, new { placeholder = "Qty.", @class = "required2 required form-control GRNQTY", @max = @Model.BALANCEQTY, @min = "0", @type = "number" })
                    @Html.Hidden("GRNQTYOld", Model.BALANCEQTY)
                </div>
            </div>
        </td>
        <td>
            @Html.TextBoxFor(model => model.BALANCEQTY, new { placeholder = "Qty.", @class = "required2 form-control BALANCEQTY", @type = "number", @readonly = "true" })
            @Html.HiddenFor(c => c.BALANCEQTY)
        </td>
        <td>
            @Html.TextBoxFor(model => model.taxableAmt, new { placeholder = "GSTAmount", @class = "required2 form-control GSTAmount", @type = "number", @readonly = "true" })
        </td>
        <td>
            @Html.TextBoxFor(model => model.GSTAmount, new { placeholder = "GSTAmount", @class = "required2 form-control GSTAmount", @type = "number", @readonly = "true" })
        </td>
        <td class="clsTyre">
            <a href="#" class="showTyre" id="@Model.srno">Click Here for Tyre Details</a>
        </td>

        @Html.HiddenFor(c => c.srno)
        @Html.HiddenFor(c => c.Pdate)
        @Html.HiddenFor(c => c.tax_per)
        @Html.HiddenFor(c => c.Discount_Per)
    }
</tr>