﻿@model FleetDataService.ViewModels.POBillEntry
@using Fleet.Helpers
@using Fleet.Models;
@using FleetDataService.Models;
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    FleetDataService.FixAssetService FAS = new FleetDataService.FixAssetService();
    List<webx_location> locationList = MS.GetLocationDetails().Where(c => c.ActiveFlag == "Y").OrderBy(c => c.LocName).ToList();

}
<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.id, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("WFTDLIST", (Model.id).ToString()))
    {
        @Html.HiddenFor(m => m.id)
        <td class="center">
            @Html.CheckBoxFor(m => m.IsEnabled, new { @class = "CLSCHK" })
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.AssignLoc, new { placeholder = "AssignToLoca", @class = "form-control ", @readonly = true })
            @*   @Html.DropDownListFor(c => c.Branch, new SelectList(locationList, "LocCode", "LocName"), "", new { @class = "select2 required form-control" })*@
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.GRNNO, new { placeholder = "GRNNO", @class = "form-control ", @readonly = true })
            @*   @Html.DropDownListFor(c => c.Branch, new SelectList(locationList, "LocCode", "LocName"), "", new { @class = "select2 required form-control" })*@
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.GRNDT, new { placeholder = "GRNDT", @class = "form-control ", @readonly = true })
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.IteamName, new { placeholder = "IteamName", @class = "form-control ", @readonly = true })
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.qty, new { placeholder = "QTY", @class = "form-control "})
        </td>
        <td class="center">
            @Html.DropDownListFor(m => m.AssignToLoca, new SelectList(locationList, "LocCode", "LocCode", Model.AssignToLoca), "", new { @class = "form-control select2 ", @placeholder = "Select Location" })
            @*@Html.TextBoxFor(c => c.AssignToLoca, new { placeholder = "AssignToLoca", @class = "form-control required required2" })*@
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.Description, new { placeholder = "Description", @class = "form-control " })
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.Employee, new { placeholder = "Employee", @class = "form-control " })
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.DpartName, new { placeholder = "DpartName", @class = "form-control " })
        </td>
        <td class="center form-group">
            <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Issuedate, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = true })
            </div>
        </td>
    }
</tr>