﻿@model FleetDataService.ViewModels.POGRNTyreDetail
@using Fleet.Helpers
<tr>
    @using (Html.BeginCollectionItem("GRNTyreList", Model.SrNo.ToString()))
    {
        <td>
            @Html.DisplayFor(c => c.SrNo)
            @Html.HiddenFor(c => c.SrNo)
        </td>
        <td class="form-group">
            @Html.TextBoxFor(m => m.Tyreno, new { placeholder = "Enter Tyre no", @class = "form-control checkTyreNo required2 required", @checkTyreNo = true })
            @Html.DisplayFor(c => c.Tyreno)
            @Html.HiddenFor(c => c.Tyreno)
            @Html.HiddenFor(c => c.rate)
        </td>
        <td>
            @Html.DisplayFor(c => c.TyreSize)
            @Html.HiddenFor(c => c.TyreSizeID)
        </td>
        <td>
            @Html.DisplayFor(c => c.TyreMFG)
            @Html.HiddenFor(c => c.TyreMFGID)
        </td>
        <td>
            @Html.DisplayFor(c => c.TyreModel)
            @Html.HiddenFor(c => c.TyreModelID)
        </td>
         <td>
            @Html.DisplayFor(c => c.TyreCategory)
            @Html.HiddenFor(c => c.TyreCategoryID)
        </td>        
    }
</tr>