﻿@model FleetDataService.Models.WebX_Master_Docket_Invoice
@using Fleet.Helpers
@{
    int SRNO = Convert.ToInt32(Model.SrNo);
    string divId = "clsinvdate" + Model.SrNo.ToString();
}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.SrNo, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("DocketInvoiceList", (Model.SrNo).ToString()))
    {
        <td class="center">
            @SRNO
        </td>
        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.TextBoxFor(c => c.INVNO, new { @class = "input-small required2" })
        </td>
        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.TextBoxFor(m => m.INVDT, String.Format("{0:dd/MM/yyyy}", Convert.ToDateTime(Model.INVDT).ToString("dd MMM yyyy")), new { @class = "input-small required required2 clsinvoicedt", @placeholder = "dd/MMM/yyyy" })
        </td>
        
        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.TextBoxFor(c => c.DECLVAL, new { @class = "input-xsmall clsAmount required2 ClsDecVal", @onkeypress = "javascript:return validInt(event)", @type = "number", @min = 0 })
        </td>
       
        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.TextBoxFor(c => c.PKGSNO, new { @class = "input-xsmall clsAmount required2 ClsPKGSNO", @onkeypress = "javascript:return validInt(event)", @type = "number", @min = 0 })
        </td>
      
        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
            @Html.TextBoxFor(c => c.ACTUWT, new { @class = "input-xsmall clsAmount required2 ClsActWt", @onkeypress = "javascript:return validInt(event)", @type = "number", @min = 1 })
        </td>


        <td class="center">
            @if (Model.SrNo > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="InvoicedeleteRow">X</a></text>
            }
            else
            {
                <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
            }
        </td>
    }
</tr>