﻿@model IEnumerable<FleetDataService.Models.CYGNUS_Internal_Movement>
@using FleetDataService.Models
@using Fleet.Classes
@if (Model.Count() > 0)
{

    <table class="table table-striped table-bordered table-hover" style="overflow-x: scroll" id="tblLoadingSheet">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th class="center">
                    Document No.
                </th>
                <th class="center">
                    Document Date
                </th>
                <th class="center">
                    Manual No.
                </th>
                <th class="center">
                    Origin
                </th>
                <th class="center">
                    Destination
                </th>
                <th class="center">
                    Packages
                </th>
                <th class="center">
                    Weight
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                Html.RenderPartial("_InternalDocument", item);
            }
        </tbody>
    </table>
}
else
{
    <div class="form-body">
        <table>
            <tr>
                <td>
                    <p class="Norecord"> No Record Found...................</p>
                </td>
            </tr>
        </table>
    </div>
}