﻿@model FleetDataService.Models.CYGNUS_Internal_Movement
@using FleetDataService.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using (Html.BeginCollectionItem("InternalDocumentList", Model.Id.ToString()))
{
    var ClsCheck = "chkInternalDocumentCheck_" + Model.IMNo;

    <tr>
        <td>
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = "chkInternalDocumentCheck" })
            @Html.HiddenFor(c => c.IMNo)
            @Html.HiddenFor(c => c.IMDate)
            @Html.HiddenFor(c => c.ManualNo)
            @Html.HiddenFor(c => c.ORGNCD)
            @Html.HiddenFor(c => c.DESTCD)
            @Html.HiddenFor(c => c.Weight)
            @Html.HiddenFor(c => c.Packages)
        </td>
        <td class="center">
            @Model.IMNo
        </td>
        <td class="center">
            @Model.IMDate.ToString("dd MMM yyyy")
        </td>
        <td class="center">
            @Model.ManualNo
        </td>
        <td class="center">
            @Model.ORGNCD
        </td>
        <td class="center">
            @Model.DESTCD
        </td>
        <td class="center">
            @Model.Packages
        </td>
        <td class="center">
            @Model.Weight
        </td>
    </tr>
}