﻿@model IEnumerable<Fleet.ViewModels.LoadingSheetDatatable>
@using FleetDataService.Models
@using Fleet.Classes
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> RateList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "HANDCHRG" && c.StatusCode == "Y").OrderBy(c => c.CodeId).ToList();
}
@if (Model.Count() > 0)
{

    <table class="table table-striped table-bordered table-hover" style="overflow-x: scroll" id="tblLoadingSheet">
        <thead>
            <tr>

                <th>
                    <input type="checkbox" id="chkCheckAll" />
                </th>
                <th class="center">
                    Cnote No.
                </th>
                <th class="center">
                    Manual Cnote No.
                </th>
                <th class="center">
                    Bkg. Date
                </th>
                <th class="center">
                    Trans. Mode
                </th>

                <th class="center">
                    Bkg. Loc.
                </th>
                <th class="center">
                    Dely. Loc.
                </th>
                <th class="center">
                    City From-To
                </th>
                <th class="center">
                    Comm. Dely Date
                </th>
                @*<th class="center">
                    Rate @Html.DropDownList("LoadedRateType", new SelectList(RateList, "CodeId", "CodeDesc"), new { @class = "required required2 select2 drp form-control", placeholder = "Type" })
                </th>*@
                <th class="center">
                    Pkgs.[L/B]
                </th>
                <th class="center">
                    Wt.[L/B]
                </th>
                <th class="center">
                    E-Way Bill No.
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                //item.ratetype = RateList.FirstOrDefault().CodeId;
                Html.RenderPartial("_LoadingSheet", item);
            }
        </tbody>
    </table>
}