﻿@model Fleet.ViewModels.LoadingSheetDatatable
@using FleetDataService.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> RateList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "HANDCHRG" && c.StatusCode == "Y").OrderBy(c => c.CodeId).ToList();
    var CLS = "";
    var CLSdisabled = "";
    if (Model.NewRate > 0)
    {
        CLS = "clsAvilable";
        CLSdisabled = "true";
    }
    else
    {
        CLS = "clsNotAvilable";
        CLSdisabled = "false";
    }
}
@using (Html.BeginCollectionItem("DocketList", Model.DocketNo.ToString()))
{
    var ClsCheck = "chkCheck_" + Model.DocketNo;

<tr>
    <td class="center">
        @if (Model.Message != null && Model.Message != "")
        {
            @*@Html.DisplayFor(m => m.Message,new { style = "color:#ff0000" })*@
            <span style="color:red"><b>@Model.Message</b></span>
        }
        else
        {
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = "chkCheck" })
        }
        @Html.HiddenFor(m => m.DocketNo)
        @Html.HiddenFor(m => m.PKGSNO)
        @Html.HiddenFor(m => m.DOCKSF)
        @Html.HiddenFor(m => m.DocketDate)
        @Html.HiddenFor(m => m.TransMode)
        @Html.HiddenFor(m => m.OrgCode)
        @Html.HiddenFor(m => m.ReDestCode)
        @Html.HiddenFor(m => m.Commited_DelyDate)
        @Html.HiddenFor(m => m.PKGSNO)
        @Html.HiddenFor(m => m.ACTUWT)
        @Html.HiddenFor(m => m.DOCKNO)
        @Html.HiddenFor(m => m.CNT, new { @class = "hdnCNT" })
        @Html.Hidden("Rate", Model.Rate, new { @class = "hdnRate" })
        @Html.Hidden("MaxLimit", Model.MaxLimit, new { @class = "hdnMaxLimit" })
    </td>
    <td class="center">
        @Model.DocketNo
    </td>
    <td class="center">
        @Model.manual_dockno
    </td>
    <td class="center">
        @Model.DocketDate
    </td>
    <td class="center">
        @Model.TransMode
    </td>
    <td class="center">
        @Model.OrgCode
    </td>
    <td class="center">
        @Model.ReDestCode
    </td>
    <td class="center">
        @Model.FromTo
    </td>
    <td class="center">
        @Model.Commited_DelyDate
    </td>
    @*<td class="center form-group">
            @Html.DropDownListFor(m => m.ratetype, new SelectList(RateList, "CodeId", "CodeDesc", Model.ratetype), "", new { @class = "required required2 select2 drprate form-control", placeholder = "Type" })
            @Html.TextBoxFor(m => m.NewRate, new { @class = "required2 Clsrate  form-control " + CLS, @Placeholder = "Enter Rate", @number = "true", @style = "background-color: beige;" })
        </td>*@
    <td class="center text-primary">
        <span class="col-md-8 form-group">@Html.TextBoxFor(m => m.PackagesLB, new { @class = "form-control disabled ClsCheck clsGetDockNo", @readOnly = true, @max = Model.PackagesLB, @min = "1", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" }) </span>/ @Model.PackagesLB /@Model.PKGSNO
        @Html.HiddenFor(m => m.DOCKNO, new { @class = "docno" })
    </td>
    @*disabled = "disabled"*@
    <td class="center text-primary">
        <span class="col-md-8 form-group">@Html.TextBoxFor(m => m.WeightLB, new { @class = "form-control ClsCheck", @readOnly = true, @max = Model.WeightLB, @min = "1", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" }) </span>/ @Model.WeightLB /@Model.ACTUWT
        @Html.Hidden("PackagesLBOld", Model.PackagesLB)
        @Html.Hidden("WeightLBLBOld", Model.WeightLB)
    </td>
    <td class="center">
        @Model.EWayBillNo
    </td>
</tr>
}