﻿@model Fleet.ViewModels.MFDetails
@using Fleet.Helpers
<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.TCNO, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("MFList", (Model.TCNO).ToString()))
    {
        <td class="center">
            @Html.CheckBoxFor(c => c.IsEnabled, new { @class = "clsMFCheck" })
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.TCNO)
            @Html.HiddenFor(c => c.TCNO)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.Manual)
            @Html.HiddenFor(c => c.Manual)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.TCBR)
            @Html.HiddenFor(c => c.TCBR)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.tcdt_ddmmyyyy)
            @Html.HiddenFor(c => c.tcdt_ddmmyyyy)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.ToBH_CODE)
            @Html.HiddenFor(c => c.ToBH_CODE)
        </td>
        @*<td class="center">
            @String.Format(@ViewBag.DefaultDateFormat, Model.CDELDT)
            </td>*@
        <td class="center">
            @Html.DisplayFor(c => c.TOT_DKT)
            @Html.HiddenFor(c => c.TOT_DKT)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.Packages)
            @Html.HiddenFor(c => c.Packages)
            @Html.HiddenFor(c => c.TOT_LOAD_PKGS)
            @Html.HiddenFor(c => c.TOT_LOAD_ACTWT)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.Weight)
            @Html.HiddenFor(c => c.Weight)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.TotalInternalDocument)
            @Html.HiddenFor(c => c.TotalInternalDocument)
        </td>
    }
</tr>