﻿@model Fleet.ViewModels.webx_acctrans_Model
@using Fleet.Helpers;
<tr>
    @using (Html.BeginCollectionItem("BankDebitList", Model.Srno.ToString()))
    {
        <td>
            @Html.CheckBoxFor(m => m.Chk, new { @class = "chkCheck1" })
            @Model.RowNo
        </td>
        <td>
            @Model.Chqno
            @Html.HiddenFor(m => m.Chqno)
            @Html.HiddenFor(m => m.Srno)
            @Html.HiddenFor(m => m.Flag)
        </td>
        <td style="width:150px;">
            @Html.HiddenFor(m => m.Chqdate)
            @Model.Chqdate
        </td>
        <td style="width:250px;">
            @Html.HiddenFor(m => m.Party)
            @Model.Party
        </td>
        <td>
            @Html.HiddenFor(m => m.Voucherno)
            @Model.Voucherno
        </td>
          <td>
            @Html.HiddenFor(m => m.BILLNO)
            @Model.BILLNO
        </td>
        <td style="width:150px;" class="center">
            @Html.HiddenFor(m => m.Transdate)
            @Model.Transdate
        </td>
        <td>
            @Html.HiddenFor(m => m.Debit, new { @class = "ClsCredit" })
            @Model.Debit
        </td>
        
           <td>
            <div class="input-group input-medium date date-picker" id="VoucherDate_@Model.Srno" data-date-format="dd MMM yyyy" data-date-start-date="">
                @Html.TextBox("Chqcleardate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.Chqcleardate).ToString("dd MMM yyyy")), new { @class = "form-control required Date Clscleardate1 chkU", @readonly = "True" })
                <span class="input-group-btn" id="span">
                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </td>
        <td>
            @Html.TextBoxFor(m => m.comment, new { @class = "span6 m-wrap Comamount form-control chkU1", disabled = "disabled" })
        </td>
        <td style="width:140px;">
            @Html.HiddenFor(m => m.transtype)
            @Model.transtype
        </td>
        <td>
            @Html.HiddenFor(m => m.Narration)
            @Model.Narration
        </td>

    }
</tr>