﻿@model Fleet.ViewModels.Cheque_det
@using Fleet.Helpers;
@using CYGNUS.Models;
@{


}

<tr>
    <td>@Html.DisplayFor(m => m.Id)</td>
    <td>@Html.DisplayFor(m => m.chqno)</td>
    <td>@Html.DisplayFor(m => m.chqdt)</td>
    <td>@Html.DisplayFor(m => m.chqamt)</td>
    <td>@Html.DisplayFor(m => m.clamt)</td>
    <td>@Html.DisplayFor(m => m.Banknm)</td>
    <td>@Html.DisplayFor(m => m.bankbrn)</td>
</tr>