﻿@model Fleet.ViewModels.webx_acctrans_Model
@using Fleet.Helpers;
<tr>
    @using (Html.BeginCollectionItem("BankCreaditList", Model.Id.ToString()))
    {
        <td class="center">
            @Html.CheckBoxFor(m => m.Chk, new { @class = "chkCheck" })     
            @Model.RowNo 
        </td>
        <td>
            @Model.Chqno     
            @Html.HiddenFor(m => m.Chqno) 
            @Html.HiddenFor(m => m.Srno)
            @Html.HiddenFor(m => m.Flag)
        </td>
        <td>
            @Html.HiddenFor(m => m.Chqdate)
            @Model.Chqdate
        </td>
        <td>
            @Html.HiddenFor(m => m.Party)
            @Model.Party
        </td>
        <td>
            @Html.HiddenFor(m => m.Voucherno)
            @Model.Voucherno
        </td>
          <td>
            @Html.HiddenFor(m => m.BILLNO)
            @Model.BILLNO
        </td>
        <td style="width:150px;" class="center">
            @Html.HiddenFor(m => m.Transdate)
            @Model.Transdate
        </td>
        <td>
            @Html.HiddenFor(m => m.Credit, new { @class = "ClsCredit" })
            @Model.Credit
        </td>
       
                <td>           
            @*@Html.TextBoxFor(m => m.Chqcleardate, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.Chqcleardate).ToString("dd MMM yyyy")), new { @class = " form-control date-picker required col-md-1 chkU", disabled = "disabled" })*@
            <div class="input-group date date-picker" id="VoucherDate_@Model.Id" data-date-format="dd MMM yyyy" data-date-start-date="+0d">
                @Html.TextBox("Chqcleardate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.Chqcleardate).ToString("dd MMM yyyy")), new { @class = "form-control Clscleardate required", @readonly = "True" })
                <span class="input-group-btn">
                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                </span>
            </div>

        </td>
      
        <td>
            @Html.TextBoxFor(m => m.comment, new { @class = "Comamount form-control chkU", disabled = "disabled" })
        </td>
        <td>
            @Html.HiddenFor(m => m.transtype)
            @Model.transtype
        </td>
        <td>
            @Html.HiddenFor(m => m.Narration)
            @Model.Narration
        </td>

    }
</tr>