﻿@model Fleet.ViewModels.ChequeViewModel
@using FleetDataService.Models
@using Fleet.Helpers

@{

}
<div class="col-md-12" id="ChequeDetail" style="display:none">
    <div class="portlet">
        <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
            <li><strong>Cheque Details </strong></li>
        </ul>
        <div class="portlet-body">
            <table id="sample_1" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1">SRNo.</th>
                        <th class="col-md-1">DocumentNo</th>
                        <th class="col-md-1">Document Date</th>
                        <th class="col-md-1">Cheque Amount</th>
                        <th class="col-md-1">Collected Amount </th>
                        <th class="col-md-1">Bank Name</th>
                        <th class="col-md-1">Branch</th>
                    </tr>
                </thead>
                <tbody id="tblChequeDetail">
                    @foreach (var item in Model.ListChequeDetail)
                    {
                        Html.RenderPartial("_Partial_ChequeDetail", item);
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-12" id="collectiondetail" style="display:none">
    <div class="portlet">
        <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
            <li><strong>Collection Details </strong></li>
        </ul>
        <div class="portlet-body">
            <table id="sample_1" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>

                        <th class="col-md-1">SRNo.</th>
                        <th class="col-md-1">DocumentNo </th>
                        <th class="col-md-1">Document Date   </th>
                        <th class="col-md-1">Location   </th>
                        <th class="col-md-1">MR Amount </th>
                        <th class="col-md-1">Collected Amount </th>
                        <th class="col-md-1">Party Name </th>
                        <th class="col-md-1">Fianancial Closedate   </th>
                    </tr>
                </thead>
                <tbody id="tblcollectiondetail">
                    @foreach (var item in Model.ListChequeBounceDocument)
                    {
                        Html.RenderPartial("_Partial_ChequeDeposit", item);
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-12" id="ChequeVoucherDetail" style="display:none">
    <div class="portlet">
        <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
            <li><strong>Cheque Deposit Voucher Details </strong></li>
        </ul>
        <div class="portlet-body">
            <table id="sample_1" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1">SRNo.</th>
                        <th class="col-md-1">Voucherno </th>
                        <th class="col-md-1">Trndate  </th>
                        <th class="col-md-1">acccode</th>
                        <th class="col-md-1">Debit</th>
                        <th class="col-md-1">Credit1 </th>
                        <th class="col-md-1">DocumentNo0 </th>
                    </tr>
                </thead>
                @if (Model.ListChequeDepositDetail.Count > 0)
                {
                    <tbody id="tblChequeVoucherDetail">

                        @foreach (var item in Model.ListChequeDepositDetail)
                        {
                            Html.RenderPartial("_Partial_ChequeDeposit", item);
                        }

                    </tbody>
                }
            </table>
            @if (Model.ListChequeDepositDetail.Count == 0)
            {
                <table style="width:100%">
                    <tr>
                        <td>
                            <h5 style="color: red; width: 915px; font-size: 12px; margin-left: 396px;"><b>ChequeNO And Cheque Date Combination Is Not Deposited</b></h5>
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>
