﻿@model Fleet.ViewModels.webx_acctrans_TDS_Model
@using Fleet.Helpers;
@{
    Model.DOCDT1 = Convert.ToDateTime(Model.DOCDT).ToString("dd MMM yyyy");
    var Name = "file_" + Model.SRNO;
}
<tr>
    @using (Html.BeginCollectionItem("TDSList", Model.SRNO.ToString()))
    {
        <td>
            @Html.CheckBoxFor(m => m.Chk, new { @class = "chkCheck" })
        </td>
        <td>
            @Model.DOCNO
            @Html.HiddenFor(m => m.DOCNO)
        </td>
        <td>
            @Html.HiddenFor(m => m.DOCDT)
            @Html.HiddenFor(m => m.SRNO)
            @Model.DOCDT
        </td>
        <td>
            <div class="input-group input-small date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d">
                @Html.TextBox("DOCDT1", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.DOCDT1).ToString("dd MMM yyyy")), new { @class = "form-control required" })
                <span class="input-group-btn">
                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                </span>
            </div>

            @*@Html.TextBoxFor(m => m.DOCDT1, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.DOCDT1).ToString("dd MMM yyyy")), new { @class = " form-control date-picker required col-md-1 chkU", disabled = "disabled" })*@
        </td>
        <td>
            <div class="col-md-6">
                <input type="file" id="@Name" name="@Name" multiple="multiple" />
            </div>
        </td>
        <td>
            @Html.HiddenFor(m => m.PARTY)
            @Model.PARTY
        </td>
        <td style="width:150px;" class="center">
            @Html.HiddenFor(m => m.CUSTEMAILIDS)
            @Model.CUSTEMAILIDS
        </td>
        <td>
            @Html.HiddenFor(m => m.CHQNO)
            @Model.CHQNO
        </td>
        <td>

            @Html.HiddenFor(m => m.CHQDT1)
            @Model.CHQDT1
        </td>
        <td>
            @Html.HiddenFor(m => m.SUBTOTAL)
            @Model.SUBTOTAL
        </td>
        <td>
            @Html.HiddenFor(m => m.TDS)
            @Model.TDS
        </td>
        <td>
            @Html.HiddenFor(m => m.TDS_RATE)
            @Model.TDS_RATE
        </td>
        <td>
            @Html.HiddenFor(m => m.PAN_NO)
            @Model.PAN_NO
        </td>
        <td>
            @Html.HiddenFor(m => m.TDSACCCODE)
            @Model.TDSACCCODE
        </td>
        <td>
            @Html.HiddenFor(m => m.ENTRYBY)
            @Model.ENTRYBY
        </td>

    }
</tr>