﻿@model Fleet.ViewModels.OctroiFinalizationBill
@using Fleet.Helpers

@{

}
<tr class="editorRow">
    @using (Html.BeginCollectionItem("OctroiBillLoist", Model.BillNo.ToString()))
    {
        <td>            
            @Html.CheckBoxFor(m => m.chk, new {@class="chkCheckAll" })
        </td>
        <td>

            @Html.DisplayFor(m => m.BillNo)
            @Html.HiddenFor(m=>m.BillNo)
            @Html.HiddenFor(m => m.Billtype)
        </td>
        <td>
            @Html.DisplayFor(m => m.BillDate)
        </td>
        <td>

            @Html.DisplayFor(m => m.PartyName)
        </td>
        <td>
            @Html.DisplayFor(m => m.BillAmount)
        </td>      
    }
</tr>
