﻿@model Fleet.ViewModels.Cheque_det
@using Fleet.Helpers;
@using CYGNUS.Models;
@{


}

<tr>
    <td>@Html.DisplayFor(m => m.Id)</td>
    <td>@Html.DisplayFor(m => m.Mrsno)</td>
    <td>@Html.DisplayFor(m => m.Mrsdt)</td>
    <td>@Html.DisplayFor(m => m.Location)</td>
    <td>@Html.DisplayFor(m => m.Mrsamt)</td>
    <td>@Html.DisplayFor(m => m.Netamt)</td>
    <td>@Html.DisplayFor(m => m.Party)</td>
    
    <td>@Html.DisplayFor(m => m.Finclosedt)</td>
</tr>