﻿@model FleetDataService.Models.webx_THC_SUMMARY
@using FleetDataService.Models;
@using Fleet.Helpers;
@{
  
}

@using (Html.BeginCollectionItem("ChargeList", Model.Id.ToString()))
{
    <tr>
        <td>
            @Html.TextBoxFor(m => m.SCHG01, new { @class = "form-control", @onkeypress = "javascript:return validInt(event)" })
       </td>
        <td>
            @Html.TextBoxFor(m => m.SCHG02, new { @class = "form-control", @onkeypress = "javascript:return validInt(event)" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.SCHG03, new { @class = "form-control", @onkeypress = "javascript:return validInt(event)" })
        </td>
    </tr>
}
