﻿@model Fleet.ViewModels.Cheque_det
@using Fleet.Helpers;
@using CYGNUS.Models;
@{


}

<tr>
    
    <td>@Html.DisplayFor(m => m.Id)</td>
    <td>@Html.DisplayFor(m => m.Voucherno)</td>
    <td>@Html.DisplayFor(m => m.transdate)</td>
    <td>@Html.DisplayFor(m => m.acccode)</td>
    <td>@Html.DisplayFor(m => m.debit)</td>
    <td>@Html.DisplayFor(m => m.credit)</td>
    <td>@Html.DisplayFor(m => m.PBOV_name)</td>
    <td>@Html.DisplayFor(m => m.trndate)</td>
</tr>