﻿@model FleetDataService.Models.webx_THC_SUMMARY
@using Fleet.Helpers;
@using CYGNUS.Models;
@{


}
<tr>
    <td>@Html.DisplayFor(m => m.Id)</td>
    <td>@Html.DisplayFor(m => m.Docno)</td>
    <td>@Html.DisplayFor(m => m.doc_dt)</td>
    @if (Model.Type == "T")
    {
       
        <td>@Html.DisplayFor(m => m.Origin_dest)</td>
        <td>@Html.DisplayFor(m => m.Curr_Next)</td>
        <td>@Html.DisplayFor(m => m.Deldt)</td>
    }
    <td>@Html.DisplayFor(m => m.Party)</td>
    <td>
        <a href="@Url.Action("THCFinancialEditDetail", "Operation", new { THCNo = Model.Docno,Flag=Model.Type })" class="btn rediect default btn-xs blue-stripe"<i class="fa fa-pencil"></i>&nbsp;Edit</a>
       
    </td>

</tr>