﻿@model CYGNUS.Models.claims
@using FleetDataService.Models
@using Fleet.Helpers

<tr>
    <td class="center">@Model.SNO</td>
    <td class="center">@Model.DOCKNO</td>
    <td class="center">@Model.clmptynm</td>
    <td class="center">@Model.CIRNo</td>
    <td class="center">@Model.CLMAMT</td>
    <td class="center">@Model.COFAmt</td>
    <td class="center">@Model.BR_PREPDT</td>
    <td class="center">
        <a class="btn btn-xs blue" target="_blank" href="@Url.Content("~/Operation/ClaimsReport?DocketNo=" + @Model.DOCKNO)">View</a>
    </td>
</tr>
       