﻿@model CYGNUS.Models.webx_GENERAL_POASSET_HDR
@using Fleet.Helpers;
@using CYGNUS.Models;
@using Fleet.Classes;
@{
    string PoType = "Po Without Serial No";
    if (@Model.HasSerialNo == true)
    {
        PoType = "Po With Serial No ";
    }
}


@using (Html.BeginCollectionItem("POCode", Model.srno.ToString()))
{
    <tr>
        <td>
            @Model.pocode
        </td>

        <td>
            @Model.podate.ToString("dd MMM yyyy")
        </td>

        <td>
            @Model.VENDORCD
        </td>
        <td>
            @Model.totalqty
        </td>
        <td>
            @Model.totalamt
        </td>
        <td>
            @Model.POSTATUS
        </td>
        <td>
            @PoType
        </td>
        <td>
            @if (@Model.HasSerialNo == false)
            {
                <a class="btn green btn-xs " href="@Url.Content("~/Operation/SKUPOEdit?POCode=" + @Model.pocode) rel="tooltip" data-placement="left" data-original-title=" Edit ">Edit</a>
            }
            else
            {
                <a class="btn green btn-xs " href="@Url.Content("~/Operation/POEdit?POCode=" + @Model.pocode) rel="tooltip" data-placement="left" data-original-title=" Edit ">Edit</a>

            }
        </td>
    </tr>
}