﻿@model IEnumerable<FleetDataService.Models.CYGNUSPRQHistory>
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="center"><b>PRQ No</b></th>
            <th class="center"><b>Status</b></th>
            <th class="center"><b>Branch</b></th>
            <th class="center"><b>Driver</b></th>
            <th class="center"><b>SuperVisor</b></th>
            <th class="center"><b>Quick @ViewBag.DKTCalledAs Generation</b></th>
            <th class="center"><b>Quick @ViewBag.DKTCalledAs Completion</b></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.PRQNo
                </td>
                <td>
                    @item.Status_Name
                </td>
                <td>
                    @item.BRCD
                </td>
                <td>
                    @item.DriverName
                </td>
                <td>
                    @item.AssignBy
                </td>

                <td>
                    @if (@item.Status == 8 && @item.IsDocketGenerated == false && @item.BRCD == ViewBag.BaseLocationCode)
                    {
                        <a href="@Url.Action("QuicketCnoteGeneration","Operation",new{No=@item.PRQNo})"><b>&nbsp;Quick @ViewBag.DKTCalledAs Generation</b></a>
                    }
                    else if (@item.Status == 8 && @item.IsDocketGenerated == true)
                    {
                        <b>@item.DocketNo</b>
                    }
                    else if (@item.BRCD != ViewBag.BaseLocationCode)
                    {
                        <b>For Quick @ViewBag.DKTCalledAs Generation Go To @item.BRCD Branch</b>
                    }
                </td>

                <td>
                    @if (@item.Status == 8 && @item.IsDocketGenerated == true && @item.BRCD == ViewBag.BaseLocationCode)
                    {
                        <a href="@Url.Action("QuicketDocketCompletion", "Operation", new { DockNo = @item.DocketNo, PrqNo = @item.PRQNo })"><b>&nbsp;Quick @ViewBag.DKTCalledAs Completion</b></a>
                    }
                    else if (@item.BRCD != ViewBag.BaseLocationCode && @item.IsDocketGenerated == true)
                    {
                        <b>For Completion Go To @item.BRCD Branch</b>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>