﻿@model Fleet.ViewModels.PRSArrivalsDetailViewModel
@using FleetDataService.Models
@using Fleet.Helpers

@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> ListRate = MS.GetGeneralMasterObject().Where(c => c.CodeType == "HANDCHRG" && c.StatusCode == "Y").ToList();
    
    var CLSq = "";
    bool CLSdisabled = false;
    if (Model.NewRate > 0)
    {
        CLSq = "clsAvilable";
        CLSdisabled = true;
    }
    else
    {
        CLSq = "clsNotAvilable";
        CLSdisabled = false;
    }
}
    @Html.Hidden("hdnblnk", Model.PDCNO, new { @class = "iHidden" })
<tr>
    @using (Html.BeginCollectionItem("PDCDetail", Model.Id.ToString()))
    {
        <td class="center">
            @Html.HiddenFor(c => Model.IsEnabled, new { @class = "clsGCCheck" })
        </td>
        <td>
            @Model.DOCKNO
            @Html.HiddenFor(c => Model.DOCKNO)
        </td>
        <td>
            @Model.ORGNCD
            @Html.HiddenFor(c => Model.ORGNCD)
        </td>
        <td>
            @Model.DESTCD
            @Html.HiddenFor(c => Model.DESTCD)
        </td>
        <td>
            @Model.PAYBASCD
            @Html.HiddenFor(c => Model.PAYBAS)
        </td>
        <th class="center">
            @Html.DropDownListFor(c => Model.ratetype1, new SelectList(ListRate, "CodeId", "CodeDesc"), new { @class = "required required2 select2 drprate form-control", placeholder = "Type" })
            @Html.TextBoxFor(c => Model.NewRate, new { @class = "required2 Clsrate  form-control " + CLSq, @Placeholder = "Enter Rate", @number = "true", @style = "background-color: beige;", @readonly = CLSdisabled })
        </th>
        <td>
            @Html.TextBoxFor(c => Model.ACTUWT, new { @class = "form-control ACTUWT", placeholder = "ACTUWT", @readonly = "true" })
            @Html.HiddenFor(c => Model.ACTUWT)
        </td>
        <td>
            @Html.TextBoxFor(c => Model.PKGSNO, new { @class = "form-control PKGSNO", placeholder = "PKGSNO", @readonly = "true" })
            @Html.HiddenFor(c => Model.PKGSNO)
        </td>
        <td>
            @Html.TextBoxFor(c => Model.CHRGWT, new { @class = "form-control CHRGWT", placeholder = "CHRGWT", @readonly = "true", @data_id = "CHRGWT_" + @Model.DOCKNO })
            @Html.HiddenFor(c => Model.CHRGWT)
        </td>
    }
</tr>
