﻿@model Fleet.ViewModels.PRSDRSGC
@using FleetDataService.Models

@using Fleet.Helpers
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> RateList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "HANDCHRG" && c.StatusCode == "Y").OrderBy(c => c.CodeId).ToList();
    //var CLS = "";
    //var CLSdisabled = "";
    //if (Model.NewRate > 0)
    //{
    //    CLS = "clsAvilable";
    //    CLSdisabled = "true";
    //}
    //else
    //{
    //    CLS = "clsNotAvilable";
    //    CLSdisabled = "false";
    //}

    var rateError = "PRSDRSDocketList_" + Model.ID + "__rateError";
    var THCType = Convert.ToString(ViewBag.THCType);
}
<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.ID, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("PRSDRSDocketList", (Model.ID).ToString()))
    {
        <td class="center">
            @if (Model.Message != null && Model.Message != "")
            {
                <span style="color:red"><b>@Model.Message</b></span>
            }
            else
            {
                if (@THCType == "3")
                {
                    if (Model.SCHG08 > 0 || Model.IsDoorDelChargeIncluded == true)
                    {
                        @Html.CheckBoxFor(c => c.IsEnabled, new { @class = "clsGCCheck", @data_cnote = @Model.DOCKNO })
                    }
                    else
                    {
                        <span style="color:red"><b>DRS Not Allowed.</b></span>
                    }
                }
                else if (@THCType == "2")
                {
                    if ((Model.SCHG07 > 0 || Model.UCHG07 > 0) || (Model.IsDoorColChargeIncluded == true || Model.IsCartageChargeIncluded == true))
                    {
                        @Html.CheckBoxFor(c => c.IsEnabled, new { @class = "clsGCCheck", @data_cnote = @Model.DOCKNO })
                    }
                    else
                    {
                        <span style="color:red"><b>PRS Not Allowed.</b></span>
                    }
                }
                else if (@THCType == "1")
                {
                    @Html.CheckBoxFor(c => c.IsEnabled, new { @class = "clsGCCheck", @data_cnote = @Model.DOCKNO })
                }
                else
                {
                    <span style="color:red"><b>DRS Not Allowed.</b></span>
                }
            }
            @Html.HiddenFor(m => m.CNT, new { @class = "hdnCNT" })
            @Html.Hidden("Rate", Model.Rate, new { @class = "hdnRate" })
            @Html.Hidden("MaxLimit", Model.MaxLimit, new { @class = "hdnMaxLimit" })
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.DOCKNO)
            @Html.DisplayFor(c => c.DOCKSF)
            @Html.HiddenFor(c => c.DOCKNO)
            @Html.HiddenFor(c => c.DOCKSF)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.ORGNCD)
            @Html.HiddenFor(c => c.ORGNCD)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.Bkg_Date)
            @Html.HiddenFor(c => c.Bkg_Date)
        </td>

        <td class="center">
            @Html.DisplayFor(c => c.PAYBAS_Str)
        </td>

        <td class="center">
            @String.Format(@ViewBag.DefaultDateTimeFormat, Model.Arrival_Date)
        </td>
        <td class="center">

            @String.Format(@ViewBag.DefaultDateFormat, Model.CDELDT)
        </td>

        <td class="center">
            @Html.DisplayFor(c => c.PendPkgQty)
            @Html.HiddenFor(c => c.PendPkgQty)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.ArrPkgQty)
            @Html.HiddenFor(c => c.ArrPkgQty)
        </td>
        @*<th class="center form-group">
                @Html.DropDownListFor(m => m.ratetype, new SelectList(RateList, "CodeId", "CodeDesc"), "", new { @class = "required2 select2 drprate form-control", placeholder = "Type" })
                @Html.TextBoxFor(m => m.NewRate, new { @class = "required2 Clsrate  form-control " + CLS, @Placeholder = "Enter Rate", @number = "true", @style = "background-color: beige;" })
                <label id="@rateError" class="danger" style="display: none; color: #b94a48;"></label>
            </th>*@
        <td class="center">
            @Html.DisplayFor(c => c.PKGSNO)
            @Html.HiddenFor(c => c.PKGSNO)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.ArrWeightQty)
            @Html.HiddenFor(c => c.ArrWeightQty)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.ACTUWT)
            @Html.HiddenFor(c => c.ACTUWT)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.CHRGWT)
            @Html.HiddenFor(c => c.CHRGWT)
        </td>
        @*<td class="center">
                   @Html.DisplayFor(c => c.Handlingchrg)
                   @Html.HiddenFor(c => c.Handlingchrg)
            </td>*@
        <td class="center">
            @Html.DisplayFor(c => c.EWayBillNo)
        </td>
        if (@THCType == "2")
        {
            <td class="center">
                @Html.DisplayFor(c => c.SCHG07)
                @Html.HiddenFor(c => c.SCHG07)
            </td>

            <td class="center">
                @Html.DisplayFor(c => c.UCHG07)
                @Html.HiddenFor(c => c.UCHG07)
            </td>
        }
        else
        {
            <td class="center">
                @Html.DisplayFor(c => c.SCHG08)
                @Html.HiddenFor(c => c.SCHG08)
            </td>
        }
    }
</tr>