﻿@model Fleet.ViewModels.RouteSchedule
@using Fleet.Helpers



@using (Html.BeginCollectionItem("THCCharge", Model.srno.ToString()))
{
    string TXTId = "txtRTSch" + Model.srno.ToString();

    <label class="radio-inline">
        <input type="radio" name="optionsRadios" id="@TXTId" value="@Model.SchTime" class="clsSch" > @Model.SchTime

        @Html.HiddenFor(model => model.SchDT)
        @Html.HiddenFor(model => model.Day_name)

    </label>



}
