﻿@model FleetDataService.Models.vw_dockets_for_drs_updation_New
@using Fleet.Helpers;
@using FleetDataService.Models
@{
    FleetDataService.OperationService OS = new FleetDataService.OperationService();
    List<vw_Master_General> RegionList = OS.GetSingleDRSResion().ToList();
    List<vw_Master_General> DelyLocationList = OS.GetDeliveryControlLoc().ToList();
    
    //var list = new List<SelectListItem>
    //{
    //    new SelectListItem{ Text="(Part Delivery Reason)Inter-change of Material", Value = "1" },

    //};

}

@using (Html.BeginCollectionItem("DRSDocketsUpdateList", Model.dockno.ToString()))
{
   // string AutoClass = "Clatereson_" + @Model.dockno;
    string Clsblink = "blink_" + @Model.dockno;
    string pkingID = "pkgpending_" + @Model.dockno;
    <tr>
        <td>
            @Model.AutoNo
        </td>
        <td>
            @Model.dockno<br />@Model.Booking_Date
            @Html.HiddenFor(c => c.dockno)
            @Html.HiddenFor(c => c.docksf)
            @Html.HiddenFor(c => c.Pkgs_Pending)
            @Html.HiddenFor(c => c.COD_DOD)
            @Html.HiddenFor(c => c.Comm_Dely_Dt)
            @Html.HiddenFor(c => c.Booking_Date)
        </td>
        <td>
            @Model.orgncd - @Model.destcd<br />@Model.DelyLocation <br />@Model.PayBasis
        </td>
        <td>
            @Model.csgncd : @Model.csgnnm <br />@Model.csgecd : @Model.csgenm
        </td>

        <td>
            @Html.HiddenFor(c => c.Pkgs_Pending)
            <label style="color:red" id=@pkingID class=@Clsblink> @Model.Pkgs_Pending </label> / @Model.Pkgs_Arrived / @Model.Pkgs_Booked
        </td>
        <td>
            @Model.Comm_Dely_Dt
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.PKGSDELIVERED, new { @class = "form-control col-md-1 required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @max = Model.Pkgs_Pending })
            @Html.ValidationMessageFor(c => c.PKGSDELIVERED)
        </td>
        <td>
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = "chkCheck" }) 
            @Html.DropDownListFor(c => c.DelyLocation, new SelectList(DelyLocationList, "Loccode", "Loccode"), "", new { @class = " select2 form-control col-md-2 clsloccode" })
        </td>
    </tr>
    <tr>
        <td colspan="8" style="background-color: #E4F2F7">
            <div class="col-md-12">
                <div class="col-md-4">
                    <p class="text-primary col-md-5"> Delivery Date & Time:</p>
                    <div class="col-md-4">
                        @Html.TextBox("DELYDATE", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = " form-control date-picker required col-md-1", @data_enddate = @System.DateTime.Now.ToString("dd MMM yyyy"),@tabindex="-1" })
                    </div>
                    <div class="col-md-3">
                        @Html.TextBox("DELYTIME", "", new { @class = " form-control timepicker-default required col-md-1" })
                    </div>
                </div>
                @*@if (Model.CODDOD == false)
                {*@
                    <div class="col-md-6">
                        <div class="text-primary col-md-1"> Reson:</div>
                        @*<div class="col-md-6 form-group" id="@AutoClass" style="display:none">
                            @Html.DropDownList("cboLateReason", list, "", new { @class = "span15 select2 form-control col-md-1" })
                        </div>*@
                        <div class="col-md-6" style="text-align:left">
                            @Html.DropDownListFor(c => c.cboReason, new SelectList(RegionList, "CodeID", "Code"), "", new { @class = "span15 select2 form-control col-md-1" })
                            @Html.HiddenFor(c => c.cboReason)
                        </div>
                    </div>
                @*}*@
                <div class="col-md-2 form-group">
                    <div class="text-primary col-md-3"> Person:</div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(c => c.DELYPERSON, "", new { @class = "form-control required " })
                    </div>
                </div>
            </div>
        </td>
    </tr>
    if (Model.CODDOD == true)
    {
        <tr>
            <td colspan="8" style="background-color: #FFFFE6">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <p class="col-md-4"> COD/DOD Amount:</p>
                        <div class="col-md-2">
                            @Html.DisplayFor(c => c.CODDODAmount)
                            @Html.HiddenFor(c => c.CODDODAmount)
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <p class="col-md-4"> COD/DOD Amount:</p>
                        @Html.TextBoxFor(c => c.CODDODCOLLECTED, new { @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @max = Model.CODDODAmount })
                    </div>
                    <div class="col-md-4">
                        <p class="col-md-4"> COD/DOD No:</p>
                        @Html.TextBoxFor(c => c.CODDODNO)
                    </div>
                </div>
            </td>
        </tr>
    }
}
