﻿@model Fleet.ViewModels.vw_SingleCNoteUpdatList
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers


@using (Html.BeginCollectionItem("SingleCNoteList", Model.DOCKNO.ToString()))
{
    <tr>
        <td>
            @Model.mobileno
            @Html.HiddenFor(m => m.mobileno)
        </td>
        <td>
            @Model.DOCKNO
        </td>
        <td>
            @Model.DRSUP_DT
        </td>
        <td>
            @Model.Op_Status
        </td>
        <td>
            @Model.PKGSNO
        </td>
        <td>
            @Model.DELYPERSON
        </td>
        <td>
            @Model.CodeDesc
        </td>
        <td>
            @Model.CODCollected
        </td>
    </tr>
}
