﻿@model CYGNUS.Models.webx_GENERAL_POASSET_det
@using Fleet.Helpers
@using FleetDataService.Models

@{
    string MatCat = ViewBag.MatCat;
    FleetDataService.OperationService OS = new FleetDataService.OperationService();
    List<Webx_Master_General> ListUniType = Fleet.Classes.DataRowToObject.CreateListFromTable<Webx_Master_General>(OS.dtUnitType());
    List<webx_acctinfo> Listwebx_acctinfo = new List<webx_acctinfo>();
    List<SelectListItem> ListMFG = new List<SelectListItem>();
    List<SelectListItem> ListType = new List<SelectListItem>();
    List<SelectListItem> ListSize = new List<SelectListItem>();
    if (MatCat == "01") //Packaging Material
    {
        Listwebx_acctinfo = Fleet.Classes.DataRowToObject.CreateListFromTable<webx_acctinfo>(OS.Get_GeneralAsset("01", ViewBag.IsFabricSheet));
    }
    else if (MatCat == "02") //Tyre
    {
        Listwebx_acctinfo = Fleet.Classes.DataRowToObject.CreateListFromTable<webx_acctinfo>(OS.GetTyreModel());
        ListMFG = Fleet.Classes.DataRowToObject.CreateListFromTable<SelectListItem>(OS.GetTyreMFG());
        ListType = Fleet.Classes.DataRowToObject.CreateListFromTable<SelectListItem>(OS.GetTyreType());
        ListSize = Fleet.Classes.DataRowToObject.CreateListFromTable<SelectListItem>(OS.GetTyreSize());
    }
    else if (MatCat == "03") //Spare Part
    {
        Listwebx_acctinfo = Fleet.Classes.DataRowToObject.CreateListFromTable<webx_acctinfo>(OS.GetSpareParts("03"));
    }
    else if (MatCat == "04") //General
    {
        Listwebx_acctinfo = Fleet.Classes.DataRowToObject.CreateListFromTable<webx_acctinfo>(OS.Get_GeneralAsset("04", ViewBag.IsFabricSheet));
    }
    else if (MatCat == "05") //Printing Stationary
    {
        Listwebx_acctinfo = Fleet.Classes.DataRowToObject.CreateListFromTable<webx_acctinfo>(OS.Get_StationaryAsset("05"));
    }
    else if (MatCat == "06") //Fix Asset
    {
        Listwebx_acctinfo = Fleet.Classes.DataRowToObject.CreateListFromTable<webx_acctinfo>(OS.Get_FixAsset());
    }
    else if (MatCat == "07") //Container
    {
        Listwebx_acctinfo = Fleet.Classes.DataRowToObject.CreateListFromTable<webx_acctinfo>(OS.Get_FixAsset());
    }
    else if (MatCat == "08") //Portable Cube
    {
        Listwebx_acctinfo = Fleet.Classes.DataRowToObject.CreateListFromTable<webx_acctinfo>(OS.Get_FixAsset());
    }
    int i = 1;
}
<tr role="row" class="filter">

    @using (Html.BeginCollectionItem("GENERAL_POASSET_det", Model.srno.ToString()))
    {
        <td class="col-md-1">
            <span>@Model.srno</span>
        </td>

        <td style="white-space: normal;">
            @Html.DropDownListFor(m => m.assetcd, new SelectList(Listwebx_acctinfo, "Acccode", "Accdesc"), "", new { @class = "col-md-2 required select2 form-control assetcd" })
            @if (ViewBag.SelectedValue == "02")
            {
                @Html.DropDownListFor(m => m.TyreMFG_Code, new SelectList(ListMFG, "Value", "Text"), "", new { @class = "col-md-2 select2 form-control" })
                @Html.DropDownListFor(m => m.TyreSizeCode, new SelectList(ListSize, "Value", "Text"), "", new { @class = "col-md-2 select2 form-control" })
                @Html.DropDownListFor(m => m.TyreTypeCode, new SelectList(ListType, "Value", "Text"), "", new { @class = "col-md-2 select2 form-control" })
            }
            @Html.HiddenFor(m => m.assetcd)
        </td>
        <td class="col-md-2">
            @Html.TextAreaFor(m => m.narration, new { @class = "col-md-2 form-control form-filter input-sm", @placeholder = "Description" })
        </td>
        <td class="col-md-1">
            @Html.TextBoxFor(m => m.qty, new { @class = "col-md-1 form-control form-filter required qty input-sm", @min = 0.01, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>
        <td class="col-md-1">
            @Html.DropDownListFor(m => m.UnitType, new SelectList(ListUniType, "CodeID", "CodeDesc"), new { @class = "col-md-1 select2 form-control required" })
        </td>
        <td class="col-md-1">
            @Html.TextBoxFor(m => m.rate, new { @class = "col-md-1 form-control form-filter required rate input-sm", @min = 0.01, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>
        <td class="col-md-1">
            @Html.TextBoxFor(m => m.total, new { @class = "col-md-1 form-control total form-filter input-sm", @readonly = true })
        </td>
        <td class="col-md-1">
            @Html.TextBoxFor(m => m.WarrantyInYear, new { @class = "col-md-1 form-control form-filter input-sm", @min = 0.01, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>
        <td style="text-align:center; cursor:pointer" class="col-md-1" title="Delete Row">
            @if (Model.srno > 1)
            {
                <a class="deleteRow"><img src="~/assets/img/Delete_Icon.png" style="width: 25px;" /></a>
            }
            else
            {
                <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
            }
        </td>
    }
</tr>