﻿@model FleetDataService.Models.vw_Stock_For_Update
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<SelectListItem> Conditionlist = new List<SelectListItem>(){
                    new SelectListItem{ Text="GOOD", Value = "1" },
                    new SelectListItem{ Text="SHORT", Value = "2" },
                    new SelectListItem{ Text="DAMAGE", Value = "3" },
                    new SelectListItem{ Text="OPEN CONDITION", Value = "4" },
    };
    //List<SelectListItem> Processlist = new List<SelectListItem>(){
    //                new SelectListItem{ Text="Delivery through DRS", Value = "1" },
    //};

    if (Model.Pickup_Dely == "2" || Model.Pickup_Dely == "4")
    {
        Model.DP = "1";
    }
    else { Model.DP = "3"; }

    List<Webx_Master_General> Processlist = MS.GetGeneralMasterObject().Where(c => c.CodeType.ToUpper() == "DLYPRC" && c.StatusCode.ToUpper() == "Y").ToList();

    var locCode = ViewBag.BaseLocationCode;
    List<webx_GODOWNMST> Warehouselist = MS.GetWarehouseObject().Where(c => c.SPDBRCD.Trim().ToUpper() == locCode.Trim().ToUpper() && c.ActiveFlag == "Y").ToList();
}

@Html.Hidden("hdnblnk", Model.THCNO, new { @class = "iHidden" })
@using (Html.BeginCollectionItem("StockUpdateList", Model.DockNo.ToString() + Model.DockSF.ToString()))
{
    string ROWID = "RW_" + Model.THCNO;
    string ShortId = "clsShort" + Model.DockNo.ToString() + Model.PKGSNO.ToString();
    string PilferageId = "clsPilferage" + Model.DockNo.ToString() + Model.PKGSNO.ToString();
    string DamageId = "clsDamage" + Model.DockNo.ToString() + Model.PKGSNO.ToString();
    string ExessId = "clsExcess" + Model.DockNo.ToString() + Model.PKGSNO.ToString();

<tr class="editorRow">
    <td>
        @*@Html.HiddenFor(c => c.IsShort)*@
        @Html.CheckBoxFor(c => c.IsShort, new { @class = "clsIsShort ClsImgupload" })
        @Html.CheckBoxFor(c => c.IsDamage, new { @class = "clsIsDamage ClsImgupload" })
        @*@Html.CheckBoxFor(c => c.IsPilferage, new { @class = "clsIsPilferage" })*@
    </td>
    @*<td>
            @Html.CheckBoxFor(c => c.ISCounterDelivery, new { @class = "CounterDelivery" })
        </td>*@
    <td>
        @Html.DisplayFor(c => c.TCNO)
        @Html.HiddenFor(c => c.TCNO)
    </td>
    <td>
        <span class="text-primary">@Html.DisplayFor(c => c.DockNo)</span><br />
        @Html.HiddenFor(c => c.DockNo)
        @Html.DisplayFor(c => c.ORGNCD) -
        @Html.HiddenFor(c => c.ORGNCD)
        @Html.DisplayFor(c => c.DEST_CD)
        @Html.HiddenFor(c => c.DEST_CD)
        @Html.DisplayFor(c => c.DockSF)
        @Html.HiddenFor(c => c.DockSF)
        @Html.HiddenFor(c => c.BKG_PKGSNO)
        @Html.HiddenFor(c => c.BKG_ACTUWT)
    </td>
    <td>
        @Html.DisplayFor(c => c.DOCKDT)
        @Html.HiddenFor(c => c.DOCKDT)
    </td>
    <td>
        @Html.DisplayFor(c => c.CDELYDT)
        @Html.HiddenFor(c => c.CDELYDT)
    </td>
    @*<td class="form-group">
                @Html.TextBoxFor(c => c.ArrPkgQty, new { placeholder = "PKGS No.", @class = "required2 form-control required clsArrPkgQty", @max = Model.ArrPkgQty })/@Html.DisplayFor(c => c.ArrPkgQty)/@Html.DisplayFor(c => c.PKGSNO)
        </td>*@

    <td>
        <span class="text-danger"><b>@Html.DisplayFor(c => c.BKG_PKGSNO)</b></span>
    </td>
    <td>
        <span class="text-danger"><b>@Html.DisplayFor(c => c.BKG_ACTUWT)</b></span>
    </td>
    <td>
        <span class="text-primary">@Html.DisplayFor(c => c.BizType)</span><br />
        @Html.DisplayFor(c => c.Service_Class)
    </td>
    <td>
        <div class="form-group">
            <div class="col-md-11">
                @Html.TextBoxFor(c => c.PKGSNO, new { @class = "form-control clsArrPkgQty", @max = Model.PKGSNO })@*, @readonly = "true"*@
            </div>
        </div>
    </td>
    <td>
        @Html.TextBoxFor(c => c.ACTUWT, new { @class = "form-control", @readonly = "true" })
        @Html.HiddenFor(c => c.DelyProcessCode)
    </td>
    <td>
        <div class="form-group">
            <div class="col-md-11">
                @Html.DropDownListFor(c => c.AC, new SelectList(Conditionlist, "Value", "Text"), "", new { @class = "form-control select2 required required2 ACdropdown", @placeholder = "Select Condition" })
            </div>
        </div>
    </td>
    <td>
        <div class="form-group">
            <div class="col-md-11">
                @Html.DropDownListFor(c => c.WI, new SelectList(Warehouselist, "godown_srno", "godown_name"), null, new { @class = "form-control select2 required required2 WIdropdown", @placeholder = "Select Warehouse" })
            </div>
        </div>
    </td>
    <td>
        <div class="form-group">
            <div class="col-md-11">
                @if (@ViewBag.BaseLocationCode == Model.DEST_CD)
                {
                    @Html.DropDownListFor(c => c.DP, new SelectList(Processlist, "CodeId", "CodeDesc"), "", new { @class = "form-control select2 DPdropdown", @placeholder = "Select Process", })
                    @Html.HiddenFor(c => c.DP)
                }
            </div>
        </div>
    </td>
    <td>
        <div data-title="Upload Document" class="clsimage">
            <div class="fileinput fileinput-new " id="divfileupload_@Model.DockNo" data-provides="fileinput" style="display:none">
                <div class="fileinput-new thumbnail col-md-3">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail col-md-3">
                </div>
                <span class="btn default btn-file">
                    <span class="fileinput-new">
                        Select File
                    </span>
                    <span class="fileinput-exists">
                        Change File
                    </span>
                    <input type="file" id="UploadImage_@Model.DockNo" name="UploadImage_@Model.DockNo" class="default">
                </span><br />
                <a href="#" class="btn default fileinput-exists" data-dismiss="fileinput" style="margin-top:5px">
                    Remove File
                </a>
            </div>
        </div>
    </td>
    <td>
        <div data-title="Upload Document">
            <div class="fileinput fileinput-new " id="divfileupload_@Model.DockNo" data-provides="fileinput" >
                <div class="fileinput-new thumbnail col-md-3">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail col-md-3">
                </div>
                <span class="btn default btn-file">
                    <span class="fileinput-new">
                        Select File
                    </span>
                    <span class="fileinput-exists">
                        Change File
                    </span>
                    <input type="file" id="VehicleImage_@Model.DockNo" name="VehicleImage_@Model.DockNo" class="default">
                </span><br />
                <a href="#" class="btn default fileinput-exists" data-dismiss="fileinput" style="margin-top:5px">
                    Remove File
                </a>
            </div>
        </div>
    </td>
    @Html.HiddenFor(c => c.DelyOnStockUpdate)
    @Html.HiddenFor(c => c.DelyOnStockUpdateChar)
    @Html.HiddenFor(c => c.Octroi_ProcChg_Applicable)
    @Html.HiddenFor(c => c.Octroi_ProcChg_ApplicableChar)
    @Html.HiddenFor(c => c.IsCODDOD)
    @Html.HiddenFor(c => c.IsCODDODChar)
    @Html.HiddenFor(c => c.DELYREASON)
    @Html.HiddenFor(c => c.DELYPERSON)
    @Html.HiddenFor(c => c.CODDODCOLLECTED)
</tr>

<tr id="@ShortId" class="clsShort">
    <td><b>Short :-</b></td>
    <td>
        <div class="col-md-12 form-group">
            <div class="text-primary col-md-12 mrgtop"> <b>Short Packages:</b></div>
            <div class="col-md-12">
                @Html.TextBoxFor(c => c.ShortageQty, new { @class = "form-control ClsShortQty ", @placeholder = "Short Packages" })
            </div>
        </div>
    </td>
    <td colspan="2">
        <div class="col-md-12 form-group">
            <div class="text-primary col-md-12 mrgtop"> <b>Weight:</b></div>
            <div class="col-md-12">
                @Html.TextBoxFor(c => c.ShortageWeight, new { @class = "form-control", @placeholder = "Weight" })
            </div>
        </div>
    </td>
    <td colspan="4">
        <div class="col-md-12 form-group">
            <div class="text-primary col-md-12 mrgtop"> <b>Reason:</b></div>
            <div class="col-md-12">
                @Html.TextAreaFor(c => c.ShortageReason, new { @class = "form-control", @placeholder = "Reason" })
            </div>
        </div>
    </td>
    <td colspan="4">
        <div class="col-md-12 form-group">
            <div class="text-primary col-md-12 mrgtop"> <b>Remarks:</b></div>
            <div class="col-md-12">
                @Html.TextAreaFor(c => c.ShortageRemarks, new { @class = "form-control", @placeholder = "Remarks" })
            </div>
        </div>
    </td>

    @*<td colspan="2" style="background-color:#EEEEEE"></td>*@
    <td colspan="4"></td>
</tr>

<tr id="@DamageId" class="clsDamage">
    <td><b>Damage :-</b></td>
    <td>
        <div class="col-md-12 form-group">
            <div class="text-primary col-md-12 mrgtop"> <b>Damage Packages:</b></div>
            <div class="col-md-12">
                @Html.TextBoxFor(c => c.DamageQry, new { @class = "form-control ClsDamageQty", @placeholder = "Damage Packages" })
            </div>
        </div>
    </td>
    <td colspan="2">
        <div class="col-md-12 form-group">
            <div class="text-primary col-md-12 mrgtop"> <b>Weight:</b></div>
            <div class="col-md-12">
                @Html.TextBoxFor(c => c.DamageWeight, new { @class = "form-control", @placeholder = "Weight" })
            </div>
        </div>
    </td>
    <td colspan="4">
        <div class="col-md-12 form-group">
            <div class="text-primary col-md-12 mrgtop"> <b>Reason:</b></div>
            <div class="col-md-12">
                @Html.TextAreaFor(c => c.DamageReason, new { @class = "form-control", @placeholder = "Reason" })
            </div>
        </div>
    </td>
    <td colspan="4">
        <div class="col-md-12 form-group">
            <div class="text-primary col-md-12 mrgtop"> <b>Remarks:</b></div>
            <div class="col-md-12">
                @Html.TextAreaFor(c => c.DamageRemarks, new { @class = "form-control", @placeholder = "Remarks" })
            </div>
        </div>
    </td>

    @*<td colspan="2" style="background-color:#EEEEEE"></td>*@
    <td colspan="4"></td>
</tr>

<tr id="@PilferageId" class="clsPilferage">
    <td><b>Pilferage :-</b></td>
    <td>
        <div class="col-md-12 form-group">
            <div class="text-primary col-md-12 mrgtop"> <b>Pilferage Packages:</b></div>
            <div class="col-md-12">
                @Html.TextBoxFor(c => c.PilferageQty, new { @class = "form-control ClsPilferageQty", @placeholder = "Pilferage Packages" })
            </div>
        </div>
    </td>
    <td colspan="2">
        <div class="col-md-12 form-group">
            <div class="text-primary col-md-12 mrgtop"> <b>Weight:</b></div>
            <div class="col-md-12">
                @Html.TextBoxFor(c => c.PilferageWeight, new { @class = "form-control", @placeholder = "Weight" })
            </div>
        </div>
    </td>
    <td colspan="4">
        <div class="col-md-12 form-group">
            <div class="text-primary col-md-12 mrgtop"> <b>Reason:</b></div>
            <div class="col-md-12">
                @Html.TextAreaFor(c => c.PilferageReason, new { @class = "form-control", @placeholder = "Reason" })
            </div>
        </div>
    </td>
    <td colspan="4">
        <div class="col-md-12 form-group">
            <div class="text-primary col-md-12 mrgtop"> <b>Remarks:</b></div>
            <div class="col-md-12">
                @Html.TextAreaFor(c => c.PilferageRemarks, new { @class = "form-control", @placeholder = "Remarks" })
            </div>
        </div>
    </td>

    @*<td colspan="2" style="background-color:#EEEEEE"></td>*@
    <td colspan="4"></td>
</tr>

    @*
            <tr id="@ExessId" class="clsExcess">
                <td><b> Excess :-</b></td>
                <td>
                    <div class="col-md-12 form-group">
                        <div class="text-primary col-md-12 mrgtop"> <b>Excess Packages:</b></div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(c => c.ExcessQty, new { @class = "form-control ClsExcessQty", @placeholder = "Excess Packages" })
                        </div>
                    </div>
                </td>
                @*<td colspan="2">
                    <div class="col-md-12 form-group">
                        <div class="text-primary col-md-12 mrgtop"> <b>Weight:</b></div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(c => c.ExcessWeight, new { @class = "form-control", @placeholder = "Excess Weight" })
                        </div>
                    </div>
                </td>
                <td colspan="4">
                    <div class="col-md-12 form-group">
                        <div class="text-primary col-md-12 mrgtop"> <b>Reason:</b></div>
                        <div class="col-md-12">
                            @Html.TextAreaFor(c => c.ExcessReason, new { @class = "form-control", @placeholder = "Excess Reason" })
                        </div>
                    </div>
                </td>@
            <td colspan="10">
                <div class="col-md-12 form-group">
                    <div class="text-primary col-md-12 mrgtop"> <b>Remarks:</b></div>
                    <div class="col-md-6">
                        @Html.TextAreaFor(c => c.ExcessRemarks, new { @class = "form-control", @placeholder = "Excess Remarks" })
                    </div>
                </div>
            </td>

            <td colspan="2" style="background-color:#EEEEEE"></td>
        </tr>*@
}
