﻿@model FleetDataService.Models.THCCriteariaSelection
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers

@using (Html.BeginCollectionItem("Run", Model.TCNO.ToString()))
{
    <tr>
        <td class="center">
            @Html.HiddenFor(c => c.selectTHCNO)
            @Model.TCNO
        </td>
        <td class="center">
            @Model.Manual_TCNO
        </td>
        <td class="center">
            @Model.TCBR
        </td>
        <td class="center">
            @Model.TCDT
        </td>
        <td class="center">
            @Model.TC_Tobh_Code
        </td>
        <td class="center">
            @Model.TOT_DKT
        </td>
        <td class="center">
            @Model.TOT_PKGS
        </td>
        <td class="center">
            @Model.TOT_ACTUWT
        </td>
    </tr>
}