﻿@model FleetDataService.Models.webx_THC_SUMMARY
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers


@using (Html.BeginCollectionItem("ThcDepartList", Model.THCNO.ToString()))
{
    <tr>
        <td>
            <a href="@Url.Content("~/Operation/THCDepartureSubmit?THCNO=" + @Model.THCNO)" class="btnNumber">@Model.THCNO</a>
            @Html.HiddenFor(m => m.THCNO)
        </td>
        <td>
            @Model.THCBR
            @Html.HiddenFor(m => m.THCBR)
        </td>
        <td>
            @Model.THC_Date
            @Html.HiddenFor(m => m.THC_Date)
        </td>
        <td>
            @Model.Arrival_Date
            @Html.HiddenFor(m => m.Arrival_Date)
        </td>
        <td>
            @Model.ETD
            @Html.HiddenFor(m => m.ETD)
        </td>
    </tr>
}
