﻿@model FleetDataService.Models.THCCriteariaSelection
@using Fleet.Helpers;
@using (Html.BeginCollectionItem("RutTran", Model.THCNO.ToString()))
{
    <tr>
        <td class="center chkactive col-md-0">
            <input type="radio" name="Checked" groupname="a" class="radiocheck" data-id="@Model.THCNO" style="margin-left: 1px;" />
            @*<input type="radio" name="bedStatus" id="@Model.TCNO" checked="checked" value="allot">*@
            @*@Html.RadioButtonFor(m =>m.IsTHCChecked,new { @class = "form-control center" })*@
        </td>
        <td class="center col-md-0">
            @Html.TextBoxFor(m => m.SrNo, new { @class = "form-control center required readonly", @disabled = "disabled" })
        </td>
        <td class="center chkactive col-md-1">

            @Html.HiddenFor(m => m.TCNO)
            @Html.HiddenFor(m => m.ActDept_Dt)
            @Html.HiddenFor(m => m.THCDT)
            @Html.HiddenFor(m => m.VehNo)

            @Html.TextBoxFor(m => m.THCBR, new { @class = "form-control center required readonly", @disabled = "disabled" })
        </td>
        <td class="center chkactive col-md-2">
            @Html.TextBoxFor(m => m.THCNO, new { @class = "form-control center required readonly", @disabled = "disabled" })
        </td>
        <td class="center chkactive col-md-1">
            @Html.TextBoxFor(m => m.THC_Date, new { @class = "form-control center required readonly", @disabled = "disabled" })
        </td>
        <td class="center chkactive col-md-1">
            @Html.TextBoxFor(m => m.SourceHB, new { @class = "form-control center required readonly", @disabled = "disabled" })
        </td>
        <td class="center chkactive col-md-1">
            @Html.TextBoxFor(m => m.Tobh_Code, new { @class = "form-control center required readonly", @disabled = "disabled" })
        </td>
        <td class="center chkactive col-md-2">
            @Html.TextBoxFor(m => m.Departure_Date, new { @class = "form-control center required readonly", @disabled = "disabled" })
        </td>
        <td class="center chkactive col-md-1">
            @Html.TextBoxFor(m => m.routecd, new { @class = "form-control center required readonly", @disabled = "disabled" })
        </td>
        <td class="center chkactive col-md-2">
            @Html.TextBoxFor(m => m.routename, new { @class = "form-control center required readonly", @disabled = "disabled" })
        </td>
    </tr>
}