﻿@model FleetDataService.Models.webx_THC_SUMMARY
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers


@using (Html.BeginCollectionItem("ThcDeparterList", Model.tcno.ToString()))
{
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = "chkCheck" })
        </td>
        <td>
            @Model.tcno
            @Html.HiddenFor(m => m.tcno)
        </td>
        <td>
            @Model.manual_tcno
            @Html.HiddenFor(m => m.manual_tcno)
        </td>
        <td>
            @Model.tcbr
            @Html.HiddenFor(m => m.tcbr)
        </td>
        <td>
            @Model.MF_Date
            @Html.HiddenFor(m => m.MF_Date)
        </td>
        <td>
            @Model.ToBH_Code
            @Html.HiddenFor(m => m.ToBH_Code)
        </td>
        <td>
            @Model.tot_dkt
            @Html.HiddenFor(m => m.tot_dkt)
        </td>
        <td>
            @Model.Pkgs
            @Html.HiddenFor(m => m.Pkgs)
        </td>
        <td>
            @Model.Wts
            @Html.HiddenFor(m => m.Wts)
        </td>

    </tr>
}
