﻿@model Fleet.ViewModels.vw_DRS_Summary
@using Fleet.Helpers;
@using FleetDataService.Models
@{
    FleetDataService.OperationService OS = new FleetDataService.OperationService();
    
}
@using (Html.BeginCollectionItem("DeliveryList", Model.DOCKNO.ToString()))
{
    
    <tr>
        <td class="center">
            @Model.AutoNo
        </td>
        <td class="center">
            @Model.DOCKNO

        </td>
        <td class="center">
            @Model.DOCKDT
        </td>
        <td class="center">
            @Model.DRS
        </td>  
        <td class="center">
            @Model.DRS_DT
        </td>     
        <td class="center">
            @Model.PKGSNO/@Model.ACTUWT
            @Html.HiddenFor(c => c.PKGSNO)
            @Html.HiddenFor(c => c.ACTUWT)
        </td>   
    </tr>
}
