﻿@model FleetDataService.Models.vw_dockets_for_drs_updation_New
@using Fleet.Helpers;
@using FleetDataService.Models
@{
    FleetDataService.OperationService OS = new FleetDataService.OperationService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> RegionList = OS.GetDeliveryResion().Where(c => c.CodeType == "LATE_D").ToList();
    List<Webx_Master_General> RateList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "HANDCHRG" && c.StatusCode == "Y").OrderBy(c => c.CodeId).ToList();
    var list = new List<SelectListItem>
    {
        new SelectListItem{ Text="(Part Delivery Reason)Inter-change of Material", Value = "1" },
    };
    var CLS = "";
    bool CLSdisabled = false;
    if (Model.NewRate > 0)
    {
        CLS = "clsAvilable";
        CLSdisabled = true;
    }
    else
    {
        CLS = "clsNotAvilable";
        CLSdisabled = false;
    }

}
@using (Html.BeginCollectionItem("DRSDocketsUpdateList", Model.AutoNo.ToString()))
{
    string AutoClass = "Clatereson_" + @Model.AutoNo;
    string Clsblink = "blink_" + @Model.AutoNo;
    string pkingID = "pkgpending_" + @Model.AutoNo;
    string divreson = "divreson_" + @Model.AutoNo;
    Model.PKGSDELIVERED = Convert.ToInt32(Model.Pkgs_Pending);
    <tr>
        <td>
            @Html.CheckBoxFor(c => c.IsEnabled, new { @class = "clsGCCheck" })
        </td>
        <td style="text-align:center">
            @Model.AutoNo
        </td>
        <td>
            @Model.dockno<br /><br />@Model.Booking_Date
            @Html.HiddenFor(c => c.dockno)
            @Html.HiddenFor(c => c.docksf)
            @Html.HiddenFor(c => c.Pkgs_Pending)
            @Html.HiddenFor(c => c.COD_DOD)
            @Html.HiddenFor(c => c.Comm_Dely_Dt)
            @Html.HiddenFor(c => c.Booking_Date)
        </td>
        <td>
            @Model.orgncd - @Model.destcd<br />@Model.DelyLocation <br />@Model.PayBasis
        </td>
        <td>
            @Model.csgncd : @Model.csgnnm <br />@Model.csgecd : @Model.csgenm
        </td>

        <td>
            @Html.HiddenFor(c => c.Pkgs_Pending)
            <label style="color:red" id=@pkingID class=@Clsblink> @Model.Pkgs_Pending </label> / @Model.Pkgs_Arrived / @Model.Pkgs_Booked
        </td>
        <td>
            @Model.Comm_Dely_Dt
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.PKGSDELIVERED, new { @class = "form-control col-md-2 required clsPKGSDELIVERED", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @max = Model.Pkgs_Pending })
            @Html.ValidationMessageFor(c => c.PKGSDELIVERED)
        </td>
        <td>
            @Html.TextAreaFor(c => c.remark, new { @placeholder = "Remarks" })
        </td>
        @*<td class="form-group">
            @Html.DropDownListFor(m => m.ratetype, new SelectList(RateList, "CodeId", "CodeDesc"), "", new { @class = "required required2 select2 drprate form-control", placeholder = "Type" })
            @Html.TextBoxFor(m => m.NewRate, new { @class = "required2 Clsrate  form-control " + CLS, @Placeholder = "Enter Rate", @number = "true", @style = "background-color: beige ! important;", @readonly = CLSdisabled })

        </td>*@
        <td>
            @Html.DisplayFor(c => c.PkgQty)/@Html.DisplayFor(c => c.ActQty)
            @Html.HiddenFor(c => c.PkgQty)
            @Html.HiddenFor(c => c.ActQty, new { @class = "clsActQty" })
        </td>
    </tr>
    <tr>
        <td></td>
        <td colspan="10" style="background-color:#EEEEEE">
            <div class="col-md-4">
                <p class="text-primary col-md-4 mrgtop"><b> Delivery Date & Time: </b></p>
                <div class="col-md-8">
                    <div class="input-group date clsFutureDateControl" data-date-format="dd MMM yyyy hh:mm tt" data-date-start-date="+0d">
                        @Html.TextBox("DELYDATE", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy hh:mm tt")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = true,@tabindex="-1" })
                        <span class="input-group-btn">
                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                    @*@Html.TextBox("DELYDATE", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = true })*@
                </div>

                @*<div class="col-md-3">
                    @Html.TextBox("DELYTIME", "", new { @class = " form-control timepicker-default required" })
                    @Html.TextBox("DELYTIME", String.Format("{0:HH:MM A}", Convert.ToDateTime(System.DateTime.Now).ToString("hh:mm tt")), new { @class = " form-control required", @readonly = true })
                                        </div>*@
            </div>
            <div class="col-md-3 form-group">
                <div class="text-primary col-md-3 mrgtop"> <b>Person:</b></div>
                <div class="col-md-9">
                    @Html.TextBoxFor(c => c.DELYPERSON, "", new { @class = "form-control required required2 ", @placeholder = "Person Name" })
                </div>
            </div>
            @*@if (Model.CODDOD == false)
            {*@
                <div class="col-md-5" id=@divreson style="display:none;">
                    <div class="text-primary col-md-2 mrgtop"><b> Reason:</b></div>
                    <div class="col-md-4" style="text-align:left">
                        @Html.DropDownListFor(c => c.cboReason, new SelectList(RegionList, "CodeID", "CodeDesc"), "", new { @class = "span15 select2 form-control col-md-1", @placeholder = "Select Reason" })
                        @Html.HiddenFor(c => c.cboReason)
                    </div>
                    <div class="col-md-6 form-group" id="@AutoClass" style="display:none">
                        @Html.DropDownList("cboLateReason", list, "", new { @class = "span15 select2 form-control col-md-1" })
                    </div>
                   
                </div>
            @*}*@
        </td>
    </tr>
    if (Model.CODDOD == true)
    {
        <tr>
            <td></td>
            <td colspan="10">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <p class="col-md-5"> COD/DOD Amount:</p>
                        <div class="col-md-3">
                            @Html.DisplayFor(c => c.CODDODAmount)
                            @Html.HiddenFor(c => c.CODDODAmount)
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <p class="col-md-5"> COD/DOD Amount:</p>
                        <div class="col-md-5">
                            @Html.TextBoxFor(c => c.CODDODCOLLECTED, new { @class = "form-control required required2 ", @placeholder = "COD/DOD Amount", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @max = Model.CODDODAmount })
                            </div>
                        </div>
                    <div class="col-md-4">
                        <p class="col-md-5"> COD/DOD No:</p>
                        <div class="col-md-5">
                            @Html.TextBoxFor(c => c.CODDODNO, new { @class = "form-control required required2 ", @placeholder = "COD/DOD No." })
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }
}
