﻿@model IEnumerable<CYGNUS.Models.claims>
@using FleetDataService.Models
@using Fleet.Helpers

@if (Model.Count() > 0)
{

    <table class="table table-striped table-bordered table-hover" style="overflow-x: scroll" id="TblCliamList">
        <thead>
            <tr>
                <th class="center">
                    Docket No
                </th>
                <th class="center">
                    Claiming Party Name
                </th>
                <th class="center">
                    CIR No
                </th>
                <th class="center">
                    Claim Amount
                </th>

                <th class="center">
                    COF Amount
                </th>
                <th class="center">
                    Claim Date at Branch
                </th>
                <th class="center">
                    COF No
                </th>
                <th class="center">
                    Print
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                Html.RenderPartial("_ViewClaimListData", item);
            }
        </tbody>
    </table>
}
else
{
    <h2>No Record Found...!</h2>
}

