﻿@model Fleet.ViewModels.THCCriteariaSelectionViewModel
@using FleetDataService.Models;
@{
    ViewBag.Title = "Accident/Break Down";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("THCExceptionList", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-10">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i> @ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Select Date:
                                        @Html.HiddenFor(c => c.THCSelection.FromDate)
                                        @Html.HiddenFor(c => c.THCSelection.ToDate)
                                        @Html.HiddenFor(c => c.THCSelection.selectTHCNO)

                                    </label>
                                    <div class="col-md-6">
                                        <div id="reportrange" class="btn default col-md-6">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        THC No(s).:
                                    </label>
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(c => c.THCSelection.THCNO, new { placeholder = "THC No.", @class = "form-control" })
                                    </div>
                                    <p class="text-primary col-md-4">[Seperated by <b><i>Comma</i></b> if multiple]</p>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        MF No(s).:
                                    </label>
                                    <div class="col-md-3">

                                        @Html.TextBoxFor(c => c.THCSelection.TCNO, new { placeholder = "MF No.", @class = "form-control" })
                                    </div>
                                    <p class="text-primary col-md-4">[Seperated by <b><i>Comma</i></b> if multiple]</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-8">
                            <button type="button" id="btnSubmit" class="btn btn-sm blue controls ClsbtnSave"><i class="fa fa-search"></i>&nbsp;Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="HideTHC">
        <div class="col-md-11">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>THCs available for Exception
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="portlet-body flip-scroll">
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">

                                    </th>
                                    <th class="center">
                                        Sr. #
                                    </th>
                                    <th class="center">
                                        Branch
                                    </th>
                                    <th class="center">
                                        THC #
                                    </th>
                                    <th class="center">
                                        Date
                                    </th>
                                    <th class="center">
                                        Departed From
                                    </th>
                                    <th class="center">
                                        Next Location
                                    </th>
                                    <th class="center">
                                        Departure Date
                                    </th>
                                    <th class="center">
                                        Route Code
                                    </th>
                                    <th class="center">
                                        Route Name
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="Accident_breackDownList">
                                @foreach (var itm in Model.ListTHCSelection)
                                {
                                    Html.RenderPartial("_THCSelection", itm);
                                }
                            </tbody>
                        </table>
                        <div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    $("#btnSave").hide();
                    form.submit();
                }
            });
        }

        var bindTable = function (THCNO, DomainName) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + "/?THCNO=" + $("#THCSelection_THCNO").val() + "&TCNO=" + $("#THCSelection_TCNO").val() + "&FromDate=" + $("#THCSelection_FromDate").val() + "&ToDate=" + $("#THCSelection_ToDate").val();
            $.ajax({
                url: strUrl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {

                    $("#Accident_breackDownList").html(data);
                    var status = true;
                    App.unblockUI();
                    $("input:checkbox, input:radio").uniform();
                    $("#tblData").toggle(1000);
                    Cmplistdetail(DomainName);
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        var Cmplistdetail = function (DomainName) {
            var abcd = '';
            $('.clsChecked').each(function () {
                if ($(this).is(':checked')) {
                    abcd = abcd + ',' + $(this).val();
                }
            })
            $("#WLCMM_COMPANY_LIST").val(abcd.substring(1))
        }

        var CallSubmitClick = function (DomainName) {
            $("#btnSave").live('click', function (e) {

                App.blockUI({ boxed: true });

                Formvalidate(DomainName);
                if (!$('#form_sample').valid()) {
                    App.unblockUI();
                    return;
                }
                document.forms["form_sample"].submit();

            });
        }

        var Events = function (DomainName) {

            handleDateRangePickers('reportrange', 'THCSelection_FromDate', 'THCSelection_ToDate');
            $('#btnSubmit').on('click', function () {
                $('#HideTHC').show();
                FormValidate(DomainName);
                var Type = $("#Type").val();
                if ($('#form_sample').valid()) {
                    bindTable(DomainName, 'GetAccident_BreakDownList', Type);
                    //$('#div_THClist').show();
                }
              });
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }
            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },
                 function (start, end) {
                     $('#THCSelection_FromDate').val(start.format('MMMM D, YYYY'));
                     $('#THCSelection_ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#THCSelection_FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#THCSelection_ToDate').val(moment().format('MMMM D, YYYY'));
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                CallSubmitClick(DomainName);
                handleDateRangePickers();
                Events(DomainName);
                $('#HideTHC').hide();
                $('.radiocheck').on('click', function () {

                });

                $('input:radio[name=Checked]:checked').live("change", function () {
                    $("#THCSelection_selectTHCNO").val($(this).data('id'));
                    console.log($("#THCSelection_selectTHCNO").val())
                });
            }
        }
    }();
</script>