﻿@model Fleet.ViewModels.PRQViewModel
@using FleetDataService.Models;
@{
    ViewBag.Title = "Add PRQ Request";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_location> branchList = MS.GetLocationDetails().Where(c => c.ActiveFlag == "Y").ToList();
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    @using (Html.BeginForm("PRQList", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            You have some form errors. Please check below.
                        </div>
                        <div class="alert alert-success display-none">
                            <button class="close" data-dismiss="alert"></button>
                            Your form validation is successful!
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">PRQ No.</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.ObjPRQ.PRQNo, new { placeholder = "System Generated", @class = "form-control required2", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Customer Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.ObjPRQ.CustomerCode, new { placeholder = "Customer Code", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Customer Name</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.ObjPRQ.CustomerName, new { placeholder = "Customer Name", @class = "form-control required required2", @readonly = true })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Origin</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(c => c.ObjPRQ.BRCD, new SelectList(branchList, "LocCode", "LocName_LocCode", ViewBag.BaseLocationCode), "", new { @placeholder = "Select Origin", @class = "form-control required required2 select2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Destination</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(c => c.ObjPRQ.Destcd, new SelectList(branchList, "LocCode", "LocName_LocCode"), "", new { @placeholder = "Select Destination", @class = "form-control required required2 select2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Mobile No.</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.ObjPRQ.MobileNo, new { placeholder = "Mobile No.", @class = "form-control required2 mobileIN", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))", @maxlength = 10 })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Approx. Weight</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.ObjPRQ.ApproxWeight, new { placeholder = "Approx. Weight", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Approx. Pkg(s)</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.ObjPRQ.PKGS, new { placeholder = "Approx. Pkg(s)", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var FormValidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);
            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span',
                errorClass: 'help-block',
                focusInvalid: false,
                ignore: "",
                rules: {},
                messages: {},
                invalidHandler: function (event, validator) {
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                success: function (label) {
                    label.closest('.form-group').removeClass('has-error');
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        return {
            init: function (DomainName) {

                FormValidate(DomainName);

                var StrURL = DomainName + "/Master/GetCustomerListingNew";
                JsonDDLSelectCode("ObjPRQ_CustomerCode", StrURL);

                $("#ObjPRQ_CustomerCode").change(function () {
                    if ($(this).val() != "") {
                        $("#ObjPRQ_CustomerName").val($(this).select2('data').text);
                    }
                });
            }
        }
    }();
</script>