﻿@model FleetDataService.Models.vw_Incoming_THC
@using Fleet.Classes
@using Fleet.ViewModels
@using System.Data
@{
    ViewBag.Title = "Arrival Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> Seallist = new List<SelectListItem>(){
                    new SelectListItem{ Text="Ok", Value = "Ok" },
                    new SelectListItem{ Text="Broken", Value = "Broken" },
                    new SelectListItem{ Text="Unsealed", Value = "Unsealed" },
    };
    List<SelectListItem> Reasonlist = new List<SelectListItem>(){
                    //new SelectListItem{ Text="Select", Value = "-1" },
                    new SelectListItem{ Text="Late Dept. of Vehicle", Value = "P84" },
                    new SelectListItem{ Text="Vehicle break down", Value = "P88" },
    };
    List<SelectListItem> BlankList = new List<SelectListItem>();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    objDate OD = new objDate();
    OD.ControlId = "AD";
    OD.ControlValue = System.DateTime.Now.ToString();
    OD.ModuleCode = "05";
    if (Model.CLOSEKM != null )
    {
        Model.LastCloseKM = Model.CLOSEKM;
    }

    var LoadingBy = "";
    //if (!string.IsNullOrEmpty(Model.LoadingBy))
    //{
    //    LoadingBy = MS.GetGeneralMasterObject().Where(c => c.CodeType.ToUpper() == "LOADBY" && c.CodeId == Model.LoadingBy).FirstOrDefault().CodeDesc;
    //}
    var RateTypes = "";
    if (@Model.RateType == "1")
    {
        RateTypes = "Actual WT. : ";
    }
    else if (@Model.RateType == "3")
    {
        RateTypes = "PKGS No. : ";
    }
    GeneralFuncations GF = new GeneralFuncations();
    var sql = "SELECT CNT=COUNT(*) FROM webx_TCHDR WITH(NOLOCK) WHERE THCNO='" + Model.THCNO + "' and ToBH_CODE='" + @ViewBag.BaseLocationCode + "'";
    DataTable DT = GF.getdatetablefromQuery(sql);
    var Count = DT.Rows[0][0];
}
@using (Html.BeginForm("THCArrivalDetails", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-10">
            <h4>Select Criteria To Update Incoming @ViewBag.THCCalledAs</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        THC No. :
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        @Html.DisplayFor(c => c.THCNO, new { placeholder = "THC No.", @class = "form-control", @readonly = "true" })
                                        @Html.HiddenFor(m => m.THCNO)
                                        @Html.HiddenFor(m => m.CHRGWT)
                                        @Html.HiddenFor(m => m.LoadingBy)
                                        @Html.HiddenFor(m => m.RateType)
                                        @Html.HiddenFor(m => m.PKGSNO)
                                        @*@Html.DisplayFor(m => m.LoadingBy)*@
                                        (@LoadingBy)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Vehicle # :
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        @Html.DisplayFor(c => c.Vehicle, new { placeholder = "THC No.", @class = "form-control" })
                                        @Html.HiddenFor(m => m.Vehicle)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @if (Model.RouteCode != "9888" && Model.RouteCode != "5555" && Model.RouteCode != "7777")
                            {
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Expected Arrival Date & Time :
                                        </label>
                                        <div class="col-md-6 text-primary margin-top-5">
                                            @Html.DisplayFor(c => c.ETA, new { @class = "form-control" })
                                            @Html.HiddenFor(m => m.ETA)
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Vehicle Departed From :
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        @Html.DisplayFor(c => c.PreviousBranch, new { @class = "form-control" }) &nbsp;&#64&nbsp;
                                        @Html.DisplayFor(c => c.ATD, new { @class = "form-control" })
                                        @Html.HiddenFor(m => m.PreviousBranch)
                                        @Html.HiddenFor(m => m.ATD)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Incoming Seal # & Status :
                                    </label>
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(c => c.ISN, new { @class = "form-control required required2", @maxlength = 9, @placeholder = "Incoming Seal" })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(c => c.Status, new SelectList(Seallist, "Value", "Text"), "", new { @class = "form-control select2 required required2", @placeholder = "Select Status" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Vehicle Arrival Date & Time :
                                    </label>
                                    <div class="col-md-6">
                                        <div class="input-group date date-picker clsDate">
                                            @Html.TextBox("AD", String.Format("{0:dd MMM yyyy}", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy hh:mm tt")), new { @class = " form-control", @readonly = true, @tabindex = "-1" })
                                            @Html.HiddenFor(c => c.AT)
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                        @*@{
                                            Html.RenderPartial("../UserControls/_DocumentDateTime", OD);
                                                                                }*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="reason">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Seal Reason :
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextAreaFor(c => c.Seal_Reason, new { @class = "form-control", @placeholder = "Seal Reason" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Closing KM :
                                    </label>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(c => c.CLOSEKM, new { @class = "form-control required required2", @placeholder = "Closing KM", @readonly = true, @number = true, @maxlength = 6 })
                                        @Html.HiddenFor(c => c.OPENKM)
                                        @Html.HiddenFor(c => c.LastCloseKM)
                                    </div>
                                    <div class="col-md-6" style="color:#428bca;">
                                        (<label class="control-label">
                                            <b> Opening KM :</b>
                                        </label>
                                        @Html.DisplayFor(c => c.OPENKM, new { @class = "form-control" }))
                                        (<label class="control-label">
                                            <b>Last Closing KM :</b>
                                        </label>
                                        @Html.DisplayFor(c => c.LastCloseKM, new { @class = "form-control" }))
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Unloader :
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.Unloder, new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Incoming Remarks :
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextAreaFor(c => c.IR, new { @class = "form-control required required2", @placeholder = "Incoming Remarks" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Late Arrival Reason (if any) :
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(c => c.LAR, new SelectList(Reasonlist, "Value", "Text"), "", new { @class = "form-control select2", @placeholder = "Select Status" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        @RateTypes
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        @if (Model.RateType == "1")
                                        {
                                            <strong>
                                                @Html.DisplayFor(c => c.CHRGWT, new { placeholder = "THC No.", @class = "form-control", @readonly = "true" })
                                            </strong>
                                        }
                                        @if (Model.RateType == "3")
                                        {
                                            <strong>
                                                @Html.DisplayFor(c => c.PKGSNO, new { placeholder = "THC No.", @class = "form-control", @readonly = "true" })
                                            </strong>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (Model.LoadingBy == "A" || Model.LoadingBy == "XX5" || Model.LoadingBy == "XX8" || Model.LoadingBy == "M")
                        {

                            <h4 class="form-section">UnLoading Charges</h4>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">UnLoading By :</label>
                                        <div class="col-md-7" style="margin-top:5px">
                                            <b> @LoadingBy</b>
                                        </div>
                                    </div>
                                </div>
                                @Html.HiddenFor(m => m.MaxLimit)
                                @if (Model.LoadingBy == "A" || Model.LoadingBy == "XX5" || Model.LoadingBy == "XX8")
                                {
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Vendor Code :</label>
                                            <div class="col-md-7">
                                                @*@Html.TextBoxFor(m => m.VendorCode, new { placeholder = "Select Locations", @class = "required2 form-control required" })*@
                                                @Html.DropDownListFor(m => m.VendorCode, new SelectList(BlankList, "Value", "Text"), "", new { @class = "form-control select2 ", @placeholder = "Select Vendor" })
                                                @Html.TextBoxFor(m => m.Rate, new { @class = "required2 form-control required", @readonly = true })
                                                @Html.HiddenFor(m => m.hdnRate)
                                                <label id="lblrate" style="color: #b94a48; display: none">Rate Is Not Avilable In Master..!!!</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3" id="Montlycharge">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Monthly Rate :</label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(m => m.MonthlyRate, new { @class = "required2 form-control", @readonly = true })
                                                @Html.HiddenFor(m => m.IsMonthly)
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (Model.LoadingBy == "M")
                                {
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Vendor Code :</label>
                                            <div class="col-md-7 form-group">
                                                @Html.TextBoxFor(m => m.VendorCode, new { placeholder = "Enter Market Vendor", @class = "required2 form-control required col-md-6" })
                                                @Html.TextBoxFor(m => m.VendorName, new { placeholder = "Enter Vendor Name", @class = "required2 required form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Rate :</label>
                                            <div class="col-md-7 form-group">
                                                @Html.TextBoxFor(m => m.Rate, new { @class = "required2  required form-control", @Placeholder = "Enter Rate", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                                <label id="lblMaxRate" style="color: #b94a48; display: none; "></label>
                                                @Html.HiddenFor(m => m.hdnRate)
                                                <label id="lblrateeror" style="color:#b94a48; display: none">Rate Is Not Avialble In Master</label>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">UnLoading Charge :</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.LoadingCharge, new { @class = "required2 required form-control", @Placeholder = "Enter Loading Charge", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div id="divMathadi" style="display:none;">
                            <h4 class="form-section">Mathadi Applicable Charges</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-7">Is Mathadi Applicable </label>
                                            <div class="col-md-4">
                                                @Html.CheckBoxFor(m => m.IsMathadi)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" id="Mathadicheck" style="display:none">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Mathadi Slip no.</label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(m => m.MathadiSlipNo, new { placeholder = "Mathadi Slip No.", @class = "required2   form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Mathadi Date</label>
                                            <div class="col-md-7">
                                                <div class="input-group date ftdate-picker">
                                                    @Html.TextBoxFor(m => m.MathadiDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = "form-control required required2 clsVehicle", @placeholder = @ViewBag.DefaultJqueryDateFormat, @readonly = true })
                                                    <span class="input-group-btn">
                                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Mathadi Slip Amt</label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(m => m.MathadiAmt, new { placeholder = "Mathadi Slip Amount", @class = "required2 required  form-control", @number = true })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="ArrivalList" style="overflow-x: scroll;">
                        <thead>
                            <tr></tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <a href="@Url.Content("~/Operation/ArrivalUpdate/1")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back to ArrivalUpdate </a>
            <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Update Incoming THC Data</button>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                rules: {
                    'CLOSEKM': {
                        max: 999999,
                        //range: function () {
                        //    if ($("#LastCloseKM").val()) {
                        //        return [parseInt($("#LastCloseKM").val()) + 5, parseInt($("#OPENKM").val()) + 3000]
                        //    }
                        //    else {
                        //        return [parseInt($("#OPENKM").val()) + 5, parseInt($("#OPENKM").val()) + 3000]
                        //    }

                        //},
                    }
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        var Submit = function (DomainName) {
            $("#btnSubmit").click(function (e) {
                App.blockUI({ boxed: true });
                if (e.handled !== true) // This will prevent event triggering more then once
                {
                    e.handled = true;
                    Formvalidate(DomainName);
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return;
                    }
                    document.forms['form_sample'].submit();

                    $("input:checkbox, input:radio").uniform();
                }
            });
        }

        var datetime = function () {
            var data = $('#AD').val();
            var arr = data.split(' ');
            $("#AT").val(arr[3]);
        }
        var ControlDate = function () {

            //  alert( StartDate + " " + EntDate);

            if (jQuery().datepicker) {
                $(".clsDate").datetimepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy  HH:ii P",
                    showMeridian: true,
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    startDate: new Date("@Model.ATD"),
                    endDate: new Date(),
                    todayBtn: true
                })
            }
        }
        var TotalLoadcharge = function (rate) {
            var Total = 0;
            if ($("#RateType").val() == "1") {
                $("#LoadingCharge").val((parseFloat(rate)) * (parseFloat($("#CHRGWT").val())));
            }
            else if ($("#RateType").val() == "2") {
                $("#LoadingCharge").val(parseFloat(rate, 2) * parseFloat($("#PKGSNO").val(), 2))
            }
        }

        var calcRate = function () {
            var Total = 0;
            var Charges = 0;
            if ($("#RateType").val() == "1") {
                Charges = parseFloat(Charges) + (parseFloat($("#Rate").val()) * parseFloat($("#CHRGWT").val()));
                //$("#LoadingCharge").val(parseFloat($(this).val()) * (parseFloat($("#CHRGWT").val())));
            }
            else if ($("#RateType").val() == "3") {
                Charges = parseFloat(Charges) + (parseFloat($("#Rate").val()) * parseFloat($("#PKGSNO").val()));
                //$("#LoadingCharge").val(parseFloat($(this).val()) * parseFloat($("#PKGSNO").val(), 2))
            }
            //alert(Charges)
            $("#LoadingCharge").val(parseFloat(Charges).toFixed(2));
            //alert(Charges + "   " + $("#LoadingCharge").val())
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                Submit(DomainName);

                ControlDate();
                var date = new Date($("#AD").val());
                $("#AD").live('change', function () {
                    //alert($(this).val() + $(".clsinvoicedt").val());
                    $(".clsinvoicedt").val($(this).val());
                    $(".clsinvoicedt").datepicker("option", "endDate", $(this).val());
                });
                /*var openkm = parseFloat($("#OPENKM").val());
                 $("#CLOSEKM").attr("min", openkm + 1); comment on 15 Dec 2018 as per Decssion with Rahul ji comment by jemin : */
                $("#CLOSEKM").val($("#OPENKM").val())

                $("#AD").change(function () {
                    datetime();
                });
                datetime();
                $("#reason").hide();
                $("#ISN").blur(function () {
                    var thc = '@Model.THCNO';
                    $.ajax({
                        url: DomainName + '/Operation/CheckSealNo?thc=' + thc,
                        type: 'POST',
                        data: $('#form_sample').serialize(),
                        success: function (data) {
                            if ($("#ISN").val() != data.Count) {
                                confirm("Incoming Seal No Not Matching. Are you want to Continue..?");
                                $("#reason").show();
                                $("#Seal_Reason").addClass('required required2');;
                            }
                            else {
                                $("#reason").hide();
                                $("#Seal_Reason").removeClass('required required2');
                            }
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                });

                //Start Loading Charge
                //focus out

                if ($("#LoadingBy").val() == "M" || $("#LoadingBy").val() == "A" || $("#LoadingBy").val() == "XX5" || $("#LoadingBy").val() == "XX8") {
                    $("#LoadingCharge").attr("min", 0)
                }

                $("#Rate").focusout(function () {
                    App.blockUI({ boxed: true });
                    if (parseFloat($("#hdnRate").val()) > 0) {
                        if (parseFloat($("#Rate").val()) > 0) {
                            var Value = parseFloat($("#Rate").val());
                            var MaxRate = parseFloat($("#hdnRate").val());
                            //alert(MaxRate + " < " + Value)
                            if (parseFloat(MaxRate) < parseFloat(Value)) {
                                //$("#Rate").val(0);
                                //$("#errorMSG").html("Your Max Limit : " + $("#MaxLimit").val() + " You Can Not More Then Value Enter");
                                App.unblockUI()
                            }
                            else {
                                $("#errorMSG").text("");
                                //$("#Rate").val(parseFloat(Value).toFixed(3));
                                calcRate();
                                App.unblockUI()
                            }
                            //if (parseInt($("#MaxLimit").val()) == 0) {
                            //    $("#errorMSG").text("Rate Is Not Avilable In Master");
                            //    $("#Rate").val('');
                            //}
                            //else {
                            //    if (parseInt($("#Rate").val()) > parseInt($("#MaxLimit").val())) {

                            //        $("#errorMSG").text("Your Max Limit " + $("#MaxLimit").val());
                            //    }
                            //}
                        }
                    }
                    else {
                        if ($("#LoadingBy").val() == "M" || $("#LoadingBy").val() == "A" || $("#LoadingBy").val() == "XX5" || $("#LoadingBy").val() == "XX8") {
                            var loadingby = $("#LoadingBy").val();
                            var chargeType = $("#RateType").val();
                            var TypeModule = "M";
                            var Vendorcode = $("#VendorCode").val();
                            var loadunloadType = "U"
                            App.blockUI({ boxed: true });
                            var StrURL = DomainName + "/Master/Get_LoadingCharge?loadingby=" + loadingby + "&chargeType=" + chargeType + "&TypeModule=" + TypeModule + "&Vendorcode=" + Vendorcode + "&loadunloadType=" + loadunloadType;
                            $.ajax({
                                type: 'POST',
                                contentType: 'application/json; charset=utf-8',
                                url: StrURL,
                                dataType: 'json',
                                data: {},
                                success: function (data) {
                                    //alert(data.Rate)
                                    if (parseFloat(data.Rate) > 0) {
                                        $("#MaxLimit").val(data.MaxLimit);
                                        $("#errorMSG").text("");
                                        $("#LoadingCharge").attr("min", "0.01");
                                        $("#LoadingCharge").attr("max", data.MaxLimit);
                                        var newRate = $("#Rate").val();
                                        if (parseFloat(newRate) < parseFloat(data.Rate)) {
                                            newRate = newRate;
                                        }
                                        else {
                                            newRate = data.Rate;
                                        }
                                        $("#Rate").val(parseFloat(newRate).toFixed(3));
                                        $("#Rate").attr("max", data.Rate);
                                        $("#hdnRate").val(data.Rate);
                                        App.unblockUI();
                                    }
                                    else {
                                        $("#Rate").val(0)
                                        $("#LoadingCharge").val(0);
                                        $("#errorMSG").text("Rate Is Not Avilable In Master");
                                        App.unblockUI();
                                    }
                                    calcRate();
                                },
                                error: function () {
                                    alert("error " + req + "   " + status + "   " + error);
                                    App.unblockUI()
                                }
                            });
                        }
                    }
                });
                $("#Montlycharge").hide();
                //Vendor Wise Loading Charge
                $("#VendorCode").live("change", function () {
                    if ($("#LoadingBy").val() == "A" || $("#LoadingBy").val() == "XX5" || $("#LoadingBy").val() == "XX8") {
                        App.blockUI({ boxed: true });
                        var loadingby = $("#LoadingBy").val();
                        var chargeType = $("#RateType").val()
                        var TypeModule = "M";
                        var Vendorcode = $("#VendorCode").val();
                        var loadunloadType = "U";

                        var StrURL = DomainName + "/Master/Get_LoadingCharge?loadingby=" + loadingby + "&chargeType=" + chargeType + "&TypeModule=" + TypeModule + "&Vendorcode=" + Vendorcode + "&loadunloadType=" + loadunloadType;
                        $.ajax({
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            url: StrURL,
                            dataType: 'json',
                            data: {},
                            success: function (data) {
                                if (data.IsMonthly == true) {
                                    $("#MonthlyRate").val(data.MaxLimit)
                                    $("#Rate").hide();
                                    $("#Montlycharge").show();
                                    $("#TypeRate").text('Montly charge :');
                                    $('#IsMonthly').parent('span').addClass('checked');
                                    $("#LoadingCharge").val(0);
                                    $("#LoadingCharge").attr("min", "0.00")
                                    $("#MaxLimit").show();
                                    $("#Rate").val(0)
                                    $("#Monthly").show();
                                    $("#IsMonthly").val(data.IsMonthly);
                                    calcRate();
                                    App.unblockUI()
                                }
                                else if (parseFloat(data.Rate) > 0) {
                                    $("#Rate").val(parseFloat(data.Rate).toFixed(3));
                                    if ("@Count" == "0") {
                                        $("#LoadingCharge").attr('min', "0");
                                    }
                                    else {
                                        $("#LoadingCharge").attr("min", "0.01");
                                    }
                                    //$("#divrate").show();
                                    calcRate();
                                    App.unblockUI()
                                }
                                else {
                                    $("#errorMSG").text("Rate Is Not Avilable In Master");
                                    App.unblockUI()
                                }
                            },
                            error: function () {
                                alert("error " + req + "   " + status + "   " + error);
                                App.unblockUI()
                            }
                        });
                    }
                });

                if ($("#LoadingBy").val() == "A" || $("#LoadingBy").val() == "XX5" || $("#LoadingBy").val() == "XX8") {
                    //JsonDDL('VendorCode', DomainName + '/Master/SearchVendorListJson/', true);
                    var StrURL = DomainName + "/Master/getBranchWiseLoadingUnloadingVendorListJson?Type=U&VendorType=" + $("#LoadingBy").val();
                    FillDropDownfromOther("VendorCode", StrURL, 'VendorName');
                    $("#VendorCode").addClass('required');
                    if ("@Count" == "0") {
                        $("#LoadingCharge").attr('min', "0");
                    }
                }
                if ($("#LoadingBy").val() == "M") {
                    $("#VendorCode").val('9888')
                    $("#VendorCode").attr('readonly', true);
                    if ("@Count" == "0") {
                        $("#LoadingCharge").attr('min', "0");
                    }
                }

                $("#IsMathadi").click(function () {
                    if ($("#IsMathadi").is(':checked')) {
                        $("#Mathadicheck").show();
                    }
                    else {
                        $("#Mathadicheck").hide();
                    }
                });
            }
        }
    }();
</script>