﻿@model Fleet.ViewModels.THCArrivalsFilterViewModel
@using FleetDataService.Models
@{
    var title = " Arrivals";
    if (Model.Type == "2")
    {
        title = " Stock";
    }
    ViewBag.Title = ViewBag.THCCalledAs + title + " Update Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<SelectListItem> Typelist = new List<SelectListItem>(){
                    new SelectListItem{ Text="Arrival", Value = "1" },
                    new SelectListItem{ Text="Stock Update", Value = "2" },
                    new SelectListItem{ Text="Arrival/Stock", Value = "1" },
    };
    var header = "";
    var name = ViewBag.THCCalledAs + "(s)";

    List<CYGNUS_LoadingUnLoading_VendorType_Mapping> ListVendorType = MS.GetLoadingUnLoadingVendorTypeMappingList("U", @ViewBag.BaseLocationCode, "M");
    //List<Webx_Master_General> LoadingBy = MS.GetGeneralMasterObject().Where(c => c.CodeType == "LOADBY" && c.StatusCode == "Y").OrderBy(c => c.CodeDesc).ToList();
    List<Webx_Master_General> GeneralMasterList = MS.GetGeneralMasterObject();
}
@using (Html.BeginForm("THCArrivalsMain", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Select  Date :
                                    </label>
                                    <div class="col-md-6">
                                        <div id="reportrange" class="btn default">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        @ViewBag.THCCalledAs No. :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.HiddenFor(c => c.FromDate)
                                        @Html.HiddenFor(c => c.ToDate)
                                        @Html.TextBoxFor(c => c.THCNo, new { placeholder = ViewBag.THCCalledAs + " No.", @class = "form-control" })
                                    </div>
                                    <p class="text-primary col-md-4">[Seperated by <b><i>Comma</i></b> if multiple]</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        @name Departed From Locations(s) :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.THCDepLoc, new { placeholder = @name + " Departed From Locations(s)", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        @name having Vehicle No(s). :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.THCVehicleNo, new { placeholder = @name + " having Vehicle No(s).", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @Html.HiddenFor(c => c.Type)
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        @name having Cnote No(s). :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.THCCnoteNo, new { placeholder = @name + " having Cnote No(s).", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (Model.Type == "1")
                        {
                            @*<div class="row">
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">
                                                    TransportMode :
                                                </label>
                                                <div class="col-md-4">
                                                @Html.DropDownListFor(m => m.TransportMode, new SelectList(GeneralMasterList.Where(m => m.CodeType == "RTMD" && m.StatusCode.ToUpper() == "Y").ToList(), "CodeId", "CodeDesc"), "", new { @class = "form-control required2 required select2 ", @placeholder = "Select Transport Mode" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <div class="row divLoadingBy">
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">
                                                    UnLoading By :
                                                </label>
                                                <div class="col-md-4">
                                                    @Html.DropDownListFor(m => m.LoadingBy, new SelectList(ListVendorType.OrderBy(c => c.CodeDesc).ToList(), "CodeId", "CodeDesc"), "", new { @class = "select2 required2 required form-control", @placeholder = "Select Loading By" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row divChargeType">
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">
                                                    Charge type
                                                </label>
                                                <div class="col-md-4">
                                                    @Html.DropDownListFor(m => m.ChargeType, new SelectList(GeneralMasterList.Where(m => m.CodeType == "HANDCHRG" && m.StatusCode.ToUpper() == "Y").ToList(), "CodeId", "CodeDesc"), "", new { @class = "select2 required2 required form-control", @placeholder = "Select Charge Type" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ArrivalList">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@header List
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <table class="table table-striped table-bordered table-hover" id="ArrivalList" style="overflow-x: scroll;">
                            <thead>
                                <tr></tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Get List</button>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }


        var loadData = function (DomainName, tblId, Type) {
            var Headers = "";
            if (Type == 1) {
                Headers = [
                {
                    data: 'THCNO',
                    title: '@ViewBag.THCCalledAs NO'
                },
                {
                    data: 'THCDate',
                    title: '@ViewBag.THCCalledAs Date'
                },
                {
                    data: 'PreviousBranch',
                    title: 'Previous Location'
                },
                {
                    data: 'Route',
                    title: 'Route'
                },
                {
                    data: 'Vehicle',
                    title: 'Vehicle'
                },
                {
                    data: 'ATD',
                    title: 'ATD'
                },
                {
                    data: 'ETA',
                    title: 'ETA'
                }
                ,
                {
                    data: 'THCNO',
                    title: 'Unloading Sheet'
                },
                {
                    data: 'THCNO',
                    title: 'Remarks'
                }
                ];
            }
            if (Type == 2) {
                Headers = [
                {
                    data: 'thcno',
                    title: '@ViewBag.THCCalledAs NO'
                },
                {
                    data: 'thcbr',
                    title: '@ViewBag.THCCalledAs Branch'
                },
                 {
                     data: 'THC_Date',
                     title: '@ViewBag.THCCalledAs Date'
                 },
                {
                    data: 'Arrival_Date',
                    title: 'Arrival Date'
                },
                {
                    data: 'ManifestKount',
                    title: 'Total MFs. in @ViewBag.THCCalledAs'
                },
                {
                    data: 'DocketKount',
                    title: 'Total CNote in @ViewBag.THCCalledAs'
                },
                {
                    data: 'Vehicle_No',
                    title: 'Vehicle No'
                }
                ,
                {
                    data: 'THCNO',
                    title: 'Unloading Sheet'
                },
                 {
                     data: 'THCNO',
                     title: 'Remarks'
                 }
                
                ];
            }
            App.blockUI({ boxed: true });
            var strUrl = $('#form_sample').attr('action');
            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: 'json',
                data: $('#form_sample').serialize(),
                success: function (result) {
                    //alert(JSON.stringify(result[0]));
                    $('#' + tblId).DataTable({
                        data: result,
                        columns: Headers,
                        destroy: true,
                        "aoColumnDefs": [
                              {
                                  "aTargets": [0],
                                  "mRender": function (data, type, full) {
                                      if (Type == 1) {
                                          if (full["Status"] == "Not Departed") {
                                              return data;
                                          }
                                          else {
                                              if (full["IsArrivalAllow"] == "1")
                                                  return '<a href="@Url.Content("~/Operation/ArrivalDetails")?id=' + data + '&Loadby=' + $("#LoadingBy").val() + '&chargeType=' + $("#ChargeType").val() + '" class="btnUpdate" data-id="' + data + '">' + data + '</a>';
                                              else
                                                  return data;
                                          }
                                      }
                                      else {
                                          return '<a href="@Url.Content("~/Operation/StockUpdateDetails")?id=' + data + '" class="btnUpdate" data-id="' + data + '">' + data + '</a>';
                                      }

                                  }
                              },
                             {
                                 "aTargets": [7],
                                 "mRender": function (data, type, full) {
                                     if (Type == 1) {
                                         if (full["Status"] == "Not Departed") {
                                             return "<label style='color: red;'>Not Departed From Previous Location</label>";
                                         }
                                         else {
                                             return '<a href="@Url.Content("~/ViewPrint/UnLoadingSheet_ViewPrint?LSNo")=' + data + '" target="_blank" data-id="' + data + '">Unloading Sheet</a>';
                                         }
                                     }
                                     else {
                                         return '<a href="@Url.Content("~/ViewPrint/UnLoadingSheet_ViewPrint?LSNo")=' + data + '" target="_blank" data-id="' + data + '">Unloading Sheet</a>';
                                     }
                                 }
                             },
                              {
                                  "aTargets": [8],
                                  "mRender": function (data, type, full) {
                                      if (Type == 1) {
                                          if (full["Status"] == "Not Departed") {
                                              return "";
                                          }
                                          else {
                                              if (full["IsArrivalAllow"] == "0")
                                                  return "<label style='color: red;'>Not Arrived To one of Previous Location</label>";
                                          else
                                                  return "";
                                          }
                                      }
                                      else {
                                          return "";
                                      }
                                  }
                              },
                        ],
                    });
                    formateDataTable(tblId);
                    $('#' + tblId).parents('.row').show(500);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }
        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');

            $('#btnSubmit').on('click', function () {
                Formvalidate(DomainName);
                var Type = $("#Type").val();
                if ($('#form_sample').valid()) {
                    $(".ArrivalList").show();
                    loadData(DomainName, 'ArrivalList', Type);
                    $(".btnUpdate").on("click", function () {
                        App.blockUI({ boxed: true });
                    });
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                $(".ArrivalList").hide();
                FormValidate(DomainName);
                Events(DomainName);
                MultiSelectDDL('THCVehicleNo', DomainName + '/Master/SearchVehicleListJson', false);
                MultiSelectDDL('THCDepLoc', DomainName + '/Master/GetLocationListJson', true);
                //$("#LoadingBy").change(function () {
                //    if ($(this).val() == "O"/*Own*/ || $(this).val() == "B" /*BA*/ || $(this).val() == "BP"/*By Party*/ || $(this).val() == "XX6"/*Franchise*/) {
                //        $("#ChargeType").attr("disabled", true)
                //    }
                //    else
                //        $("#ChargeType").attr("disabled", false)
                //});

                //$("#TransportMode").on("change", function () {

                //    if ($(this).val() == "A" || $(this).val() == "R") { //if ($(this).val() == "1" || $(this).val() == "3") {
                //        $("#LoadingBy").select2("data", null);
                //        $("#ChargeType").select2("data", null);
                //        $("#LoadingBy").removeClass("required2 required");
                //        $("#ChargeType").removeClass("required2 required");
                //        $(".divLoadingBy").hide();
                //        $(".divChargeType").hide();
                //    } else {
                //        $("#LoadingBy").addClass("required2 required");
                //        $("#ChargeType").addClass("required2 required");
                //        $(".divLoadingBy").show();
                //        $(".divChargeType").show();
                //    }
                //});
                //$("#TransportMode").val("2");
                $("#TransportMode").val("S");
            }
        }
    }();
</script>