﻿@{
    ViewBag.Title = "ArrivalUpdateDone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.TranXaction == "Done")
{
    if (ViewBag.view == "Arrival")
    {
        <div class="col-md-offset-3 col-md-6">
            <div class="alert alert-block alert-success fade in center">
                <h2 class="alert-heading">@ViewBag.view Success! </h2>
                <h4>
                    @ViewBag.view Succesfully Done : @ViewBag.ThcNo
                </h4>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-check"></i>@ViewBag.view Succesfully Done
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="margin-top-10 margin-bottom-10 clearfix">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Document Name
                                    </th>
                                    <th>
                                        Unloading View/Print
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <b>Document No.</b>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("THCUnloadingViewPrint", "ViewPrint", new {THCNO = @ViewBag.ThcNo, UnLoadingNo = @ViewBag.UnLoadingNo})" onclick="window.open(this.href, 'Fleet','left=20,top=20,width=1240,height=620,toolbar=1,resizable=0'); return false;" id="ReportFrame"><b>@ViewBag.UnLoadingNo</b></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <span class="label label-danger">
                        NOTE!
                    </span>&nbsp;
                    <span>
                        <a href="@Url.Content("~/Operation/ArrivalUpdate/2")">Click here for more @ViewBag.view</a>
                    </span>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-danger fade in center">
            <h2 class="alert-heading">Opps! @ViewBag.view fail</h2>
            <h4>
                There is some issue with process. <br />Please check your internet connection else contact your administrator or service provider.
                <br /><br /><b> @ViewBag.ThcNo</b>
            </h4>
        </div>
    </div>
}
