﻿@model Fleet.ViewModels.THCAutounloadingViewPrintViewModel
@using FleetDataService.Models
@{


    ViewBag.Title = " Auto Unloading View Print";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@using (Html.BeginForm("AutoUnloadingListGet", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Select  Date :
                                    </label>
                                    <div class="col-md-6">
                                        <div id="reportrange" class="btn default">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        THCNO No. :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.HiddenFor(c => c.FromDate)
                                        @Html.HiddenFor(c => c.ToDate)
                                        @Html.TextBoxFor(c => c.THCNo, new { placeholder = "THC No.", @class = "form-control" })
                                    </div>
                                    <p class="text-primary col-md-4">[Seperated by <b><i>Comma</i></b> if multiple]</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        AutoUnloading No :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.UnLoadingNo, new { placeholder = " Unloading No", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ArrivalList">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>THC List
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <table class="table table-striped table-bordered table-hover" id="ArrivalList" style="overflow-x: scroll;">
                            <thead>
                                <tr></tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Get List</button>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }


        var loadData = function (DomainName, tblId, Type) {
            var Headers = "";

            Headers = [
                {
                    data: 'THCNO',
                    title: 'THC NO'
                },
                {
                    data: 'thcdt',
                    title: 'THC Date'
                },
                {
                    data: 'PreviousBranch',
                    title: 'Previous Location'
                },
                {
                    data: 'Route',
                    title: 'Route'
                },
                {
                    data: 'Vehicle',
                    title: 'Vehicle'
                },
                {
                    data: 'UnLoadingNo',
                    title: 'Unloading No'
                }
                ,
                {
                    data: 'Param',
                    title: 'View/Print'
                }
            ];

            App.blockUI({ boxed: true });
            var strUrl = $('#form_sample').attr('action');
            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: 'json',
                data: $('#form_sample').serialize(),
                data1: $('#form_sample').serialize(),
                success: function (result) {
                    //alert(JSON.stringify(result[0]));
                    $('#' + tblId).DataTable({
                        data: result,
                        columns: Headers,
                        destroy: true,
                        "aoColumnDefs": [
                               
                             {
                                 "aTargets": [6],
                                 "mRender": function (data) {
                                     var Param_ = data.split(':');

                                     return '<a href="@Url.Content("~/ViewPrint/THCUnloadingViewPrint?THCNO")=' + Param_[0] + '&UnLoadingNo=' + Param_[1] + '" target="_blank" data-id="' + data + '">Auto Unloading Report</a>';
                                 }
                             },
                        ],
                    });
                    formateDataTable(tblId);
                    $('#' + tblId).parents('.row').show(500);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }
        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');

            $('#btnSubmit').on('click', function () {
                Formvalidate(DomainName);
                var Type = $("#Type").val();
                if ($('#form_sample').valid()) {
                    $(".ArrivalList").show();
                    loadData(DomainName, 'ArrivalList', Type);
                    $(".btnUpdate").on("click", function () {
                        App.blockUI({ boxed: true });
                    });
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                $(".ArrivalList").hide();
                FormValidate(DomainName);
                Events(DomainName);

            }
        }
    }();
</script>