﻿@model Fleet.ViewModels.Webx_Master_GeneralViewModel
@{
    ViewBag.Title = "Bank Reconlication Module";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Action = "";
}

<div class="row">
    <div class="col-md-10">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
            </div>
            @Html.HiddenFor(m => m.WMG.CodeType, "")
            @Html.HiddenFor(m => m.LocLevel, "")

            <div class="portlet-body form">
                @using (Html.BeginForm("AddBankReconlicationModule", "Operation", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
                {
                    {
                        Html.RenderPartial("../UserControls/_BankReconlicationFilter", Model);
                    }
                }
            </div>
        </div>
    </div>
</div>
