﻿@model Fleet.ViewModels.Webx_Master_GeneralViewModel
@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "Bank Reconlication Report";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var FromDate = Convert.ToDateTime(Model.FromDate).ToString("dd MMM yyyy");
    var ToDate = Convert.ToDateTime(Model.ToDate).ToString("dd MMM yyyy");

}

@{
    var parameters = new List<KeyValuePair<string, object>>
    {
        new KeyValuePair<string, object>("BankCode",Model.Bank),
        new KeyValuePair<string, object>("Fromdate",@FromDate),
        new KeyValuePair<string, object>("ToDate",@ToDate),
        new KeyValuePair<string, object>("Type",Model.rdio),
        new KeyValuePair<string, object>("BaseFinYear",ViewBag.Finyear),
           new KeyValuePair<string, object>("COMPANY_CODE",ViewBag.Comapny),
        new KeyValuePair<string, object>("RO",Model.RO),
        new KeyValuePair<string, object>("LO",Model.LO),
    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/Bank_Reco_Report_NewPortal", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>



