﻿@model Fleet.ViewModels.WebxAcctransViewModel
@using Fleet.Models;
@using Fleet.Classes;
@{
    ViewBag.Title = "Bank Reconciliations Module Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var FromDate = ViewBag.FromDate;
    var ToDate = ViewBag.ToDate;
}

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@ViewBag.Title
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("AddBankRecoResult", "Operation", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <div class="form-group ">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <label class="control-label col-md-4" style="text-align: left;">
                                <b>RO :</b>
                            </label>
                            <div class="col-md-8" style="margin-top: 4px;">
                                @ViewBag.RO
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label col-md-4" style="text-align: left;">
                                <b>LO :</b>
                            </label>
                            <div class="col-md-8" style="margin-top: 4px;">
                                @ViewBag.LO
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label col-md-4" style="text-align: left; ">
                                <b>Account :</b>
                            </label>
                            <div class="col-md-8" style="margin-top: 4px;">
                                @ViewBag.BankCode
                                @Html.HiddenFor(m => m.Bankacccode)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label col-md-3" style="text-align: left;">
                                <b> Duration :</b>
                            </label>
                            <div class="col-md-9" style="margin-top: 4px;">
                                @ViewBag.Duration
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row col-md-12">
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                        <li><strong>Balance As per Bank Book</strong></li>
                        <li style="float: right; color:#006699; "><strong> @ViewBag.Balance_Amount</strong></li>
                    </ul>
                </div>

                <div class="row" id="FuleShlipEntry">
                    <div class="col-md-12">
                        <!-- BEGIN SAMPLE TABLE PORTLET-->
                        <div>
                            <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                                <li><strong>@ViewBag.Chq_Issued </strong></li>
                            </ul>
                            <div class="portlet-body " >
                                <table class="table table-bordered table-striped table-condensed flip-content" id="Sample1" style="overflow-x:scroll;">

                                    <thead class="flip-content">
                                        <tr>
                                            <th class="center">
                                                <input type="checkbox" id="chkCheckAll" />
                                            </th>
                                            <th class="col-md-1">
                                                Cheque No
                                            </th>
                                            <th class="col-md-1">
                                                Cheque Date
                                            </th>
                                            <th class="col-md-1">
                                                Party
                                            </th>
                                            <th class="col-md-1">
                                                Voucher No.
                                            </th>
                                            <th class="col-md-1">
                                               Doc No.
                                            </th>
                                            <th class="col-md-1">
                                                Transaction Date
                                            </th>
                                            <th class="col-md-1">
                                                Amount
                                            </th>
                                            <th class="col-md-2">
                                                Clear Date
                                            </th>
                                          
                                            <th class="col-md-1">
                                                Comment
                                            </th>
                                            <th class="col-md-1">
                                                Voucher Type
                                            </th>
                                            <th class="col-md-2">
                                                Narration
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ListAcconttranCreadit)
                                        {
                                            Html.RenderPartial("_Partial_BankRecoModuleCreadit", item);
                                        }

                                    </tbody>
                                    <tr>
                                        <th class="">
                                        </th>
                                        <th class="col-md-1">

                                        </th>
                                        <th class="col-md-1">

                                        </th>
                                        <th class="col-md-1">

                                        </th>
                                        <th class="col-md-1">

                                        </th>
                                        <th class="col-md-1">

                                        </th>
                                        <th class="col-md-1">
                                            <strong style="color: #006699">   Total Amount</strong>

                                        </th>
                                        <th class="col-md-1">
                                            <strong style="color: #006699">  @ViewBag.TotalCreaditAmt</strong>
                                        </th>
                                        
                                        <th class="col-md-2">

                                        </th>
                                        <th class="col-md-1">

                                        </th>
                                        <th class="col-md-1">

                                        </th>
                                        <th class="col-md-2">
                                            <strong style="color: #006699"> @ViewBag.CR_AMT</strong>
                                        </th>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN SAMPLE TABLE PORTLET-->
                        <div>
                            <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                                <li><strong>@ViewBag.Chq_Recived</strong></li>
                            </ul>
                            <div class="portlet-body table-scrollable">
                                <table class="table table-striped table-bordered table-hover table-full-width" id="Sample1">

                                    <thead class="flip-content">
                                        <tr>

                                            <th class="center">
                                                <input type="checkbox" id="chkCheckAll1" />
                                            </th>
                                            <th class="center">
                                                Cheque No
                                            </th>
                                            <th class="center">
                                                Cheque Date
                                            </th>
                                            <th class="center">
                                                Party
                                            </th>
                                            <th class="center">
                                                Voucher No.
                                            </th>
                                            <th class="col-md-1">
                                                Doc No.
                                            </th>
                                            <th class="center">
                                                Transaction Date
                                            </th>
                                            <th class="center">
                                                Amount
                                            </th>
                                            <th class="center">
                                                Clear Date
                                            </th>

                                            <th class="center">
                                                Comment
                                            </th>
                                            <th class="center">
                                                Voucher Type
                                            </th>
                                            <th class="center">
                                                Narration
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="MRTable">
                                        @foreach (var item in Model.ListAcconttranDebit)
                                        {
                                            Html.RenderPartial("_Partial_BankRecoModuleDebit", item);
                                        }

                                    </tbody>
                                    <tr>
                                        <th class="">
                                        </th>
                                        <th class="col-md-1">

                                        </th>
                                        <th class="col-md-1">

                                        </th>
                                        <th class="col-md-1">

                                        </th>
                                        <th class="col-md-1">

                                        </th>
                                        <th class="col-md-1">

                                        </th>
                                        <th class="col-md-1">
                                            <strong style="color: #006699">   Total Amount</strong>

                                        </th>
                                        <th class="col-md-1">
                                            <strong style="color: #006699">  @ViewBag.Total_DR_amt</strong>
                                        </th>
                                        <th class="col-md-1">

                                        </th>
                                        <th class="col-md-2">

                                        </th>
                                        <th class="col-md-1">

                                        </th>
                                        <th class="col-md-3">
                                            <strong style="color: #006699"> @ViewBag.DR_AMT</strong>

                                        </th>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN SAMPLE TABLE PORTLET-->
                        <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                            <li><strong>BALANCE AS PER BANK STATEMENT</strong></li>
                            <li style="float: right; color:#006699; "><strong> @ViewBag.DR_AMT</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <a class="btn btn-sm default controls btnBack" href="@Url.Action("BankReconlicationModule", "Operation")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back to Criteria</a>
                    <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                </div>
            </div>
        }
    </div>
</div>


<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var handleSelect2 = function () {
            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });
        }

        var HandleDatetimePicker = function () {

            $(".form_meridian_datetime").datetimepicker({
                isRTL: App.isRTL(),
                format: "dd MM yyyy HH:ii P",
                showMeridian: true,
                autoclose: true,
                startDate: new Date('@System.DateTime.Now'),
                pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                todayBtn: true
            });


        }



        //var ClearDatetimePicker = function (DomainName, ID) {

        //    var x = 3; //or whatever offset
        //    var CurrentDate = new Date($("#BankCreaditList_" + ID + "__Transdate").val());
        //    CurrentDate.setMonth(CurrentDate.getMonth() + x);
        //    if (jQuery().datepicker) {
        //        $("#BankCreaditList_" + ID + "__Chqcleardate").datepicker({
        //            rtl: App.isRTL(),
        //            format: "dd M yyyy",
        //            //startDate: $("#BankCreaditList_" + ID + "__Transdate").val(),
        //            //endDate: CurrentDate,
        //            autoclose: true
        //        });
        //        $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
        //    }
        //};

        var ClearDatetimePicker = function (DomainName, ID) {
            if (jQuery().datepicker) {
                $("#BankCreaditList_" + ID + "__Chqcleardate").datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    //startDate: $("#BankCreaditList_" + ID + "__Chqdate").val(),
                    startDate: new Date(new Date().setDate(new Date().getDate() - 90)),
                    endDate: '@ToDate',
                    autoclose: true
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        };


        //var ClearDatetimePicker1 = function (DomainName, ID) {

        //    var x = 3; //or whatever offset
        //    var CurrentDate = new Date($("#BankDebitList_" + ID + "__Transdate").val());
        //    CurrentDate.setMonth(CurrentDate.getMonth() + x);
        //    if (jQuery().datepicker) {
        //        $("#BankDebitList_" + ID + "__Chqcleardate").datepicker({
        //            rtl: App.isRTL(),
        //            format: "dd M yyyy",
        //            //startDate: $("#BankDebitList_" + ID + "__Transdate").val(),  
        //            //endDate: CurrentDate, 
        //            autoclose: true
        //        });
        //        $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
        //    }
        //};

        var ClearDatetimePicker1 = function (DomainName, ID) {
            if (jQuery().datepicker) {
                $("#BankDebitList_" + ID + "__Chqcleardate").datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    startDate: $("#BankDebitList_" + ID + "__Chqdate").val(),
                    endDate: '@ToDate',
                    autoclose: true
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        };

        var chkChange = function () {
            //  debugger
            var values = $('input:checkbox:checked.chkCheck').map(function () {
                return $(this).data('id');
            }).get().join();
            $('#stringBIllNO').val(values);
            ($('input:checkbox:checked.chkCheck').length > 0) ? $('#btnSubmit').show() : $('#btnSubmit').hide();
        }

        var chkChange1 = function () {

            var values = $('input:checkbox:checked.chkCheck1').map(function () {
                return $(this).data('id');
            }).get().join();
            $('#stringBIllNO').val(values);
            ($('input:checkbox:checked.chkCheck1').length > 0) ? $('#btnSubmit').show() : $('#btnSubmit').hide();
        }
        //var IssueDatetimePickerCreadit = function (DomainName, ID) {

        //    var x = 3; //or whatever offset
        //    var CurrentDate = new Date($("#BankCreaditList_" + ID + "__Transdate").val());
        //    CurrentDate.setMonth(CurrentDate.getMonth() + x);
        //    if (jQuery().datepicker) {
        //        $("#BankCreaditList_" + ID + "__ChqIssueddate").datepicker({
        //            rtl: App.isRTL(),
        //            format: "dd M yyyy",
        //            startDate: $("#BankCreaditList_" + ID + "__Transdate").val(),
        //            endDate: CurrentDate,
        //            autoclose: true
        //        });
        //        $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
        //    }
        //};


        //var IssueDatetimePickerDebit = function (DomainName, ID) {

        //    var x = 3; //or whatever offset
        //    var CurrentDate = new Date($("#BankDebitList_" + ID + "__Transdate").val());
        //    CurrentDate.setMonth(CurrentDate.getMonth() + x);
        //    if (jQuery().datepicker) {
        //        $("#BankDebitList_" + ID + "__ChqIssueddate").datepicker({
        //            rtl: App.isRTL(),
        //            format: "dd M yyyy",
        //            startDate: $("#BankDebitList_" + ID + "__Transdate").val(),
        //            endDate: CurrentDate,
        //            autoclose: true
        //        });
        //        $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
        //    }
        //};

        return {
            //main function to initiate the module
            init: function (DomainName) {
                handleSelect2();
                $("#btnSubmit").hide();
                // HandleDatetimePicker();
               // $(".Clscleardate").val("");
                //if ($(".Clscleardate").val() = "01 Jan 0001")
                //{
                 
                //    $(".Clscleardate").val("");
                //}
                //if ($(".Clscleardate1").val() = "01 Jan 0001") {
                //    $(".Clscleardate1").val("");
                //}
             
               

                @foreach (var item in Model.ListAcconttranCreadit)
                {
                    var Chqcleardate = "BankCreaditList_" + @item.Id + "__Chqcleardate";
                    <text>
                if ($('#@Chqcleardate').val() == "01 Jan 0001" || $('#@Chqcleardate').val() == "01 Jan 1990" ) {
                    $('#@Chqcleardate').val("");
                }
                </text>

                }

                 @foreach (var item in Model.ListAcconttranDebit)
                 {
                     var Chqcleardate = "BankDebitList_" + @item.Srno + "__Chqcleardate";
                    <text>
                if ($('#@Chqcleardate').val() == "01 Jan 0001" || $('#@Chqcleardate').val() == "01 Jan 1990") {
                    $('#@Chqcleardate').val("");
                }
                </text>

                }

                $(".chkCheck").live('click', function () {
                       // HandleDatetimePicker();
                    var ID = $(this).attr('id').replace('BankCreaditList_', '').replace('__Chk', '')
                    if (this.checked) {
                        $("#BankCreaditList_" + ID + "__Chqcleardate").attr('disabled', false)
                        $("#BankCreaditList_" + ID + "__comment").attr('disabled', false)
                        $(this).attr("value", true);
                        ClearDatetimePicker(DomainName, ID)
                       // IssueDatetimePickerCreadit(DomainName, ID)
                    }
                    else {
                        $("#BankCreaditList_" + ID + "__Chqcleardate").attr('disabled', true)
                        $("#BankCreaditList_" + ID + "__comment").attr('disabled', true)
                        $(this).attr("value", false);
                      //  $("#BankCreaditList_" + ID + "__Chqcleardate").val("");
                    }
                    chkChange();
                });

               


                $('.chkCheck1').change(function () {
                    //  debugger
                     //  HandleDatetimePicker();
                    var ID = $(this).attr('id').replace('BankDebitList_', '').replace('__Chk', '')

                    if (this.checked) {
                        $("#BankDebitList_" + ID + "__Chqcleardate").attr('disabled', false)
                        $("#BankDebitList_" + ID + "__comment").attr('disabled', false)
                        $(this).attr("value", true);
                        // $("#btnSubmit").show();
                        ClearDatetimePicker1(DomainName, ID)
                       // IssueDatetimePickerDebit(DomainName, ID)
                    }
                    else {
                        $("#BankDebitList_" + ID + "__Chqcleardate").attr('disabled', true)
                        $("#BankDebitList_" + ID + "__comment").attr('disabled', true)
                        $(this).attr("value", false);
                        // $("#btnSubmit").hide();
                       // $("#BankDebitList_" + ID + "__Chqcleardate").val("");
                    }
                    chkChange1();


                });

                //$(document).on('change', "#chkCheckAll", function () {
                //    if (this.checked) {
                //        $(".chkCheck").parent('span').addClass('checked');
                //        $(".chkU").attr('disabled', false)
                //        $("#btnSubmit").show();
                //        //$(".Clscleardate").attr('disabled', false)
                //        //$('.chkCheck').each(function () {
                //        //    var ID = $(this).attr('id').replace('BankCreaditList_', '').replace('__Chk', '')
                //            ClearDatetimePicker(DomainName, ID)
                //        //});
                //    }
                //    else {
                //        $(".chkCheck").parent('span').removeClass('checked');
                //        $(".chkU").attr('disabled', true)
                //        $("#btnSubmit").hide();
                //        //$(".Clscleardate").attr('disabled', true)
                //        //$(".Clscleardate").val("");
                //    }
                //})


                $("#chkCheckAll").live("change", function () {
                    $(".chkCheck").prop('checked', $(this).is(':checked'));
                    $("input:checkbox, input:radio").uniform();
                    if (this.checked) {
                        $(".chkU").attr('disabled', false)
                        $(".Clscleardate").attr('disabled', false)
                        $('.chkCheck').each(function () {
                            var ID = $(this).attr('id').replace('BankCreaditList_', '').replace('__Chk', '')
                            ClearDatetimePicker(DomainName, ID)
                        });

                    }
                    else {
                        $(".chkU").attr('disabled', true)
                        $(".Clscleardate").attr('disabled', true)
                    }
                    chkChange();
                });






                $("#chkCheckAll1").live("change", function () {
                    $(".chkCheck1").prop('checked', $(this).is(':checked'));
                    $("input:checkbox, input:radio").uniform();
                    if (this.checked) {
                        $(".chkU1").attr('disabled', false)
                        $(".Clscleardate1").attr('disabled', false)
                        $('.chkCheck1').each(function () {
                            var ID = $(this).attr('id').replace('BankDebitList_', '').replace('__Chk', '')
                            ClearDatetimePicker1(DomainName, ID)
                        });
                    }
                    else {
                        $(".chkU1").attr('disabled', true)
                        $(".Clscleardate1").attr('disabled', true)
                    }
                    chkChange1();
                });






                //$(document).on('change', "#chkCheckAll1", function () {
                //    if (this.checked) {
                //        $(".chkCheck1").parent('span').addClass('checked');
                //        $(".chkU1").attr('disabled', false)
                //        $("#btnSubmit").show();
                //        //$(".Clscleardate1").attr('disabled', false)
                //        //$('.chkCheck1').each(function () {
                //        //    var ID = $(this).attr('id').replace('BankDebitList_', '').replace('__Chk', '')
                //            ClearDatetimePicker1(DomainName, ID)
                //        //});
                //    }
                //    else {
                //        $(".chkCheck1").parent('span').removeClass('checked');
                //        $(".chkU1").attr('disabled', true)
                //        $("#btnSubmit").hide();
                //        //$(".Clscleardate1").attr('disabled', true)
                //        //$(".Clscleardate1").val("");
                //    }
                //})
                $("#btnSubmit").click(function () {
                    App.blockUI({ boxed: true });
                    $("#submit_form").submit();
                });
                $(".btnBack").click(function () {
                    App.blockUI({ boxed: true });
                });
            @*@foreach (var item in Model.ListAcconttranCreadit)
                {
                    // var StartDt = "Bank_" + item.chqdt + "__chqdt";
                    <text>
                if (jQuery().datepicker) {
                    $('#VoucherDate_@item.Id').datepicker({
                        rtl: App.isRTL(),
                        format: "dd M yyyy",
                        startDate: "@item.Chqdate",
                        endDate: new Date(),
                        autoclose: true
                    });
                    $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
                }
                    $("#BankDebitList_" +@item.Id +"__Chqcleardate").val('@item.Chqdate');
                    </text>
                }*@
                @*@foreach (var item in Model.ListAcconttranDebit)
                {
                    // var StartDt = "Bank_" + item.chqdt + "__chqdt";
                    <text>
                if (jQuery().datepicker) {
                    $('#VoucherDate_@item.Srno').datepicker({
                        rtl: App.isRTL(),
                        format: "dd M yyyy",
                        startDate: "@item.Chqdate",
                        endDate: new Date(),
                        autoclose: true
                    });
                    $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
                }
                    $("#BankDebitList_" +@item.Srno +"__Chqcleardate").val('@item.Chqdate');
                    </text>
                }*@
            }
        };
    }();

</script>


