﻿@{
    ViewBag.Title = "ChallanViewPrint";
    Layout = null;
}

@using System.Configuration
@model Fleet.ViewModels.ChallanViewModel
@using MvcReportViewer;

@{
    var parameters = new List<KeyValuePair<string, object>>
    {

        new KeyValuePair<string, object>("THCNo",Model.THCNo),

    };

    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();

}
<div id="divPrint">

    @Html.MvcReportViewer(ReportPathPrefix + "/THC_ViewPrint", parameters, new { Height = 600, Width = "100%", style = "border: none" })

    <div class="span3"></div>
</div>

