﻿@using FleetDataService.Models
@{
    ViewBag.Title = "Challan";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Model.CTH.THCDate = System.DateTime.Now;

    List<SelectListItem> BlankList = new List<SelectListItem>();

    string DefaultJqueryDateFormat = ViewBag.DefaultJqueryDateFormat;

    Model.CTH.ActualDeptDate = System.DateTime.Now;

    Model.CTH.EntryBy = User.Identity.Name;
    string Step1btnCaption = "Get " + ViewBag.DKTCalledAs + " List ";
    if (Model.CTH.THCType == 1)
    {
        Step1btnCaption = "Get MF List For " + ViewBag.THCCalledAs;
    }

    string BaseLocationName = ViewBag.BaseLocationName;

    Model.CTFD.AdvanceAmount = 0;
    Model.CTFD.BalanceAmount = 0;
    Model.CTFD.NetAmount = 0;
    Model.CTFD.ContractAmount = 0;
    Model.CTH.TotalManifest = 0;
    Model.CTH.ScheduleDeptDate = System.DateTime.Now;
    Model.CTH.ManualTHCNo = "N/A";


    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> GeneralMasterList = new List<Webx_Master_General>();
    GeneralMasterList = MS.GetGeneralMasterObject().Where(c => c.StatusCode.ToUpper() == "Y").ToList();

    objDate OD = new objDate();
    OD.ControlId = "CTH.THCDate";
    OD.ControlValue = Model.CTH.THCDate.ToString();
    OD.ModuleCode = "04";

    var RateType = "";

    if (Model.CTFD.LoadedRateType == "1")
    {
        RateType = "PER KG (ACT WT.)";
    }
    else if (Model.CTFD.LoadedRateType == "3")
    {
        RateType = "PER PACKAGES (PKGS)";
    }
    var LoadingBy = "";
    if (Model.CTFD.LoadedBy == "O")
    {
        LoadingBy = "Own";
    }
    else if (Model.CTFD.LoadedBy == "M")
    {
        LoadingBy = "Market";
    }
    else if (Model.CTFD.LoadedBy == "A")
    {
        LoadingBy = "Attched";
    }
}

@using Fleet
@using Fleet.ViewModels

@model Fleet.ViewModels.ChallanViewModel


<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>Prepare New @ViewBag.ChallanType
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("ChallanSubmit", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <h4 class="form-section">Basic Details</h4>
                <div id="divStep1">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Manual @ViewBag.ChallanType No. </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.CTH.ManualTHCNo, new { placeholder = "N/A", @class = "form-control", @readonly = true })
                                    @Html.HiddenFor(m => m.CTH.THCBRCD)
                                    @Html.HiddenFor(m => m.CTH.THCType)
                                    @Html.Hidden("LocationName", BaseLocationName)
                                    @Html.HiddenFor(m => m.CTFD.LoadedRateType)
                                    @Html.HiddenFor(m => m.CTFD.LoadedBy)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">@ViewBag.ChallanType Date</label>
                                <div class="col-md-7">
                                    @*<div class="input-group date datetime-picker">
                                            @Html.TextBoxFor(m => m.CTH.THCDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.CTH.THCDate).ToString("dd MMMM yyyy hh:mm tt")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>*@

                                    @{
            Html.RenderPartial("../UserControls/_DocumentDateTime", OD);
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clsTHC">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5" style="padding-top:1px;">Empty Vehicle</label>
                                <div class="col-md-7">
                                    @Html.CheckBoxFor(c => c.CTH.IsEmpty)
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5" style="padding-top:1px;">Select City</label>
                                <div class="col-md-7">
                                    @Html.CheckBoxFor(c => c.CTH.IsCityEnabled)
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row clsCity clsTHC">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">From City </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.CTH.FROMCITY, new { placeholder = "From City", @class = "required2  form-control dropdown2" })
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">To City </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.CTH.TOCITY, new { placeholder = "To City", @class = "required2  form-control dropdown2" })

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clsTHC">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Route Mode </label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(c => c.CTH.RouteType, new SelectList(BlankList, "Value", "Text", Model.CTH.RouteType), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Route Mode" })
                                    @*@Html.DropDownListFor(c => c.CTH.RouteType, new SelectList(GeneralMasterList.Where(c => c.CodeType.ToUpper() == "RTMD").ToList(), "CodeId", "CodeDesc", Model.CTH.RouteType), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Route Mode" })*@
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Route Name </label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(c => c.CTH.RouteCode, new SelectList(BlankList, "Value", "Text", Model.CTH.RouteCode), "", new { @class = "form-control select2 required2 required bs-select", @placeholder = "Route Name" })

                                    @Html.HiddenFor(m => m.CTH.RouteName, new { placeholder = "To City", @class = "  form-control dropdown2" })

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Actual Dept. Time</label>
                                <div class="col-md-7">

                                    <div class="input-group">

                                        @Html.TextBox("ActualDeptTime", System.DateTime.Now.ToString("hh:ss"), new { @class = "required2 required form-control dropdown2", @placeholder = "Actual Dept. Time (hh:ss)" })


                                        <span class="input-group-btn">
                                            <button class="btn default" type="button" id="ActualDeptTime_toggle"><i class="fa fa-clock-o"></i></button>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(m => m.CTH.ActualDeptDate, new { placeholder = "Actual Dept. Date (dd/mm/yyyy)", @class = "required2 required form-control dropdown2" })
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row clsTHC">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Schedule Type </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.CTH.ScheduleType, new { placeholder = "Schedule Type", @class = "required2  form-control dropdown2", @readonly = "true" })

                                    @Html.HiddenFor(m => m.CTH.ScheduleNo, new { @class = "required2  form-control dropdown2", @readonly = "true" })

                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Time Schedule  </label>
                                <div class="col-md-7 ">
                                    <div id="divSch" class="radio-list"></div>

                                    @Html.HiddenFor(m => m.CTH.ScheduleTime, new { @class = "required2  form-control dropdown2", @readonly = "true" })


                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5"> Schedule Dep. Date  </label>
                                <div class="col-md-7 ">
                                    <div id="divSch" class="radio-list"></div>

                                    @Html.TextBoxFor(m => m.CTH.ScheduleDeptDate, new { @class = "required2  form-control dropdown2", @readonly = "true" })

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row clsTHC">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Schedule Day </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.CTH.ScheduleDay, new { placeholder = "Schedule Day", @class = "required2  form-control dropdown2", @readonly = "true" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Late/Early</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.CTH.LateEarly, new { placeholder = "Late/Early", @class = "required2  form-control dropdown2", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vendor Type </label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(c => c.CTH.VendorType, new SelectList(Model.ListVendorType, "Vendor_Type_Code", "Vendor_Type", Model.CTH.VendorType), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Vendor Type" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vendor Code/Name</label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(c => c.CTH.VendorCode, new SelectList(BlankList, "Value", "Text", Model.CTH.VendorCode), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Vendor " })
                                    @*@Html.TextBoxFor(m => m.CTH.VendorCode, new { placeholder = "Vendor Code", @class = "required2 required form-control dropdown2" })*@
                                    @Html.TextBoxFor(m => m.CTH.VendorName, new { placeholder = "Vendor Name", @class = "required2 required form-control " })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 clsMKT1">
                            <div class="form-group">
                                <label class="control-label col-md-5">PAN  No </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.CTH.LorryOwnerPanNo, new { placeholder = "PAN No", @class = "required2  form-control clsCapital" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clsMKT">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Supplier Name  </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.CTH.SUPPLYERNAME, new { placeholder = "Supplier Name ", @class = "required2 required form-control clsCapital" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Supplier Mob. No </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.CTH.SUPPLYERMOBNO, new { placeholder = "Mob. No", @class = "required2  required form-control" })
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="divRoad" style="display:none;">
                        <h4 class="form-section">Vehicle Details</h4>
                        <div class="row">
                            <div class="col-md-4 clsOWN">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Vehicle No.  </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.CTH.VehicleNO, new SelectList(BlankList, "Value", "Text", Model.CTH.VehicleNO), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Vendor " })

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 clsMKT clsOTVehicle">
                                <div class="form-group">
                                    <label class="control-label col-md-5"> Vehicle No.  </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CTH.MKTVehicleNo, new { placeholder = "Vehicle No", @class = "required2  required form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 clsOWN1">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Tripsheet No.  </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.CTH.TripSheetNo, new SelectList(BlankList, "Value", "Text", Model.CTH.TripSheetNo), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Vendor " })
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Vehicle Type </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.CTVD.VehicleType, new SelectList(BlankList, "Value", "Text", Model.CTVD.VehicleType), "", new { @class = "form-control clsVehicle select2 required2 required dropdown2", @placeholder = "Vehicle Type" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">FTL Type </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.CTVD.FTLType, new SelectList(BlankList, "Value", "Text", Model.CTVD.FTLType), "", new { @class = "form-control clsVehicle select2 required2 required dropdown2", @placeholder = "FTL Type" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Registration Date  </label>
                                    <div class="col-md-7">
                                        <div class="input-group date bkdate-picker">
                                            @Html.TextBoxFor(m => m.CTVD.RegistrationDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.CTVD.RegistrationDate).ToString(DefaultJqueryDateFormat)), new { @class = "form-control required clsVehicle required2", @placeholder = @ViewBag.DefaultJqueryDateFormat, @readonly = true })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set clsVehicle1" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Engine No.  </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CTVD.ENGINENO, new { placeholder = "Engine No", @class = "required2 required clsVehicle form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Chasis No. </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CTVD.CHASISNO, new { placeholder = "Chasis No", @class = "required2 required clsVehicle form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">RC Book No.</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CTVD.RCBOOKNO, new { placeholder = "RC Book No", @class = "required2 required clsVehicle form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Permit Validity Date </label>
                                    <div class="col-md-7">
                                        <div class="input-group clsftdate date ftdate-picker">
                                            @Html.TextBoxFor(m => m.CTVD.PermitDate, String.Format("{0:dd M yyyy}", Convert.ToDateTime(Model.CTVD.PermitDate).ToString("dd M yyyy")), new { @class = "form-control required clsVehicle required2", @placeholder = @ViewBag.DefaultJqueryDateFormat, @readonly = true })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set clsVehicle1" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Insurance Validity Date</label>
                                    <div class="col-md-7">
                                        <div class="input-group date ftdate-picker">
                                            @Html.TextBoxFor(m => m.CTVD.InsuranceDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.CTVD.InsuranceDate).ToString(DefaultJqueryDateFormat)), new { @class = "form-control required clsVehicle required2", @placeholder = @ViewBag.DefaultJqueryDateFormat, @readonly = true })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set clsVehicle1" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Fitness Validity Date</label>
                                    <div class="col-md-7">
                                        <div class="input-group date clsVehicle ftdate-picker">
                                            @Html.TextBoxFor(m => m.CTVD.FitnessDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.CTVD.FitnessDate).ToString(DefaultJqueryDateFormat)), new { @class = "form-control required clsVehicle required2", @placeholder = @ViewBag.DefaultJqueryDateFormat, @readonly = true })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set clsVehicle1" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="form-section">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Driver 1</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Driver Name </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CTVD.Driver1Name, new { placeholder = "Driver Name ", @class = "required  required2 form-control clsVehicle" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Mobile  No.</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CTVD.Driver1MobileNo, new { placeholder = "Mobile No. ", @class = " required2 form-control", @minlength = 10, @maxlength = 10 })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Licence No.</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CTVD.Driver1Licence, new { placeholder = "Licence No. ", @class = "required required2 form-control clsVehicle" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Issue By RTO </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CTVD.Driver1RTONo, new { placeholder = "Issue By RTO ", @class = "required required2 form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Licence Validity Date</label>
                                    <div class="col-md-7">
                                        <div class="input-group date ftdate-picker">
                                            @Html.TextBoxFor(m => m.CTVD.Driver1LicenceValDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.CTVD.Driver1LicenceValDate).ToString(DefaultJqueryDateFormat)), new { @class = "form-control required required2 clsVehicle", @placeholder = @ViewBag.DefaultJqueryDateFormat, @readonly = true })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set clsVehicle1" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h5 class="form-section">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Driver 2</h5>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Driver Name </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CTVD.Driver2Name, new { placeholder = "Driver Name ", @class = "required2 form-control clsVehicle" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Mobile  No.</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CTVD.Driver2MobileNo, new { placeholder = "Mobile No. ", @class = "required2  form-control", @minlength = 10, @maxlength = 10 })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Licence No.</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CTVD.Driver2Licence, new { placeholder = "Licence No. ", @class = "required2  form-control clsVehicle" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Issue By RTO </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CTVD.Driver2RTONo, new { placeholder = "Issue By RTO ", @class = "required2  form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Licence Validity Date</label>
                                    <div class="col-md-7">

                                        <div class="input-group date ftdate-picker">
                                            @Html.TextBoxFor(m => m.CTVD.Driver2LicenceValDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.CTVD.Driver2LicenceValDate).ToString(DefaultJqueryDateFormat)), new { @class = "form-control  required2 clsVehicle", @placeholder = @ViewBag.DefaultJqueryDateFormat, @readonly = true })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set clsVehicle1" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="divAir" style="display:none;">

                        <h4 class="form-section">Flight Details</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Airport</label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.CTH.AirportCode, new SelectList(BlankList, "Value", "Text", Model.CTH.AirportCode), "", new { @class = "form-control select2 required2  dropdown2", @placeholder = "Airport" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Airline Name</label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.CTH.AirLine, new SelectList(GeneralMasterList.Where(c => c.CodeType.ToUpper() == "ALN").ToList(), "CodeId", "CodeDesc", Model.CTH.AirLine), "", new { @class = "form-control select2 required2  dropdown2", @placeholder = "Airline Name" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Flight No</label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.CTH.FlightCode, new SelectList(BlankList, "Value", "Text", Model.CTH.FlightCode), "", new { @class = "form-control select2 required2  dropdown2", @placeholder = "Flight No" })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Flight Sch. Dept. Time</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CTH.FlightScheduleTime, new { placeholder = "Flight Sch. Dept. Time", @class = "required2 form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">AWB No</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CTH.AirWayBillNo, new { placeholder = "AWB No ", @class = "required2 form-control" })


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="divRail" style="display:none;">
                        <h4 class="form-section">Train Details</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Train Name </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CTH.TrainName, new { placeholder = "Train Name ", @class = "required2 required form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Train  No.</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CTH.TrainNo, new { placeholder = "Train No. ", @class = "required2 required form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">RR No.</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CTH.RRNo, new { placeholder = "RR No. ", @class = "required2 required form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                    <h4 class="form-section">Vehicle Depart Details</h4>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Loading Supervisor/User </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.CTH.EntryBy, new { placeholder = "Issue By RTO ", @class = "required2  form-control", @readonly = "true" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Start KMs.</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.CTH.OpenKM, new { placeholder = "Start KM ", @class = "required2 clsVehicle required form-control", @min = 1, @number = true })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 clsPRS">
                            <div class="form-group">
                                <label class="control-label col-md-5">End KMs.</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.CTH.CloseKM, new { placeholder = "End KM ", @class = "required2  required  form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 clsDRS">
                            <div class="form-group">
                                <label class="control-label col-md-5">Delivery Zone</label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(c => c.CTH.DeliveryZone, new SelectList(BlankList, "Value", "Text", Model.CTH.DeliveryZone), "", new { @class = "form-control select2 required2  dropdown2", @placeholder = "Delivery Zone" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vehicle Capacity (kg)</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.CTH.VehicleCapacity, new { placeholder = "Vehicle Capacity", @class = "required2  form-control", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Outgoing Remarks</label>
                                <div class="col-md-7">
                                    @Html.TextAreaFor(m => m.CTH.THCRemarks, new { placeholder = "Remarks", @class = "required2 required  form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5"> Is Overload</label>
                                <div class="col-md-7 chkactive">
                                    @Html.CheckBoxFor(m => m.CTH.IsOverLoad)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Weight Loaded (kg)</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.CTH.WtLoaded, new { placeholder = "Weight Loaded", @class = "required2  form-control", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Capacity Utilization (%)</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.CTH.VehicleCapacityUti, new { placeholder = "Capacity Utilization", @class = "required2  form-control", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5"> Overload Reason</label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(c => c.CTH.OverLoadReason, new SelectList(BlankList, "Value", "Text", Model.CTH.DeliveryZone), "", new { @class = "form-control select2 required2  dropdown2", @placeholder = "Overload Reason" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clsTHC">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Late Dept. Reason [if any]</label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(c => c.CTH.LateDepaturereason, new SelectList(BlankList, "Value", "Text", Model.CTH.LateDepaturereason), "", new { @class = "form-control select2 required2  dropdown2", @placeholder = "Late Depature Reason" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Out Veh. Free Space</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.CTH.FreeSpace, new { placeholder = "Free Space", @class = "required2  form-control", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5"> Seal No</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.CTH.SealNo, new { placeholder = "Seal No", @class = "required2  form-control", @minlength = "6", @maxlength = "6" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                @if (Model.CTH.THCType == 1)
                {

                }
                else
                {
                    if (Model.CTFD.LoadedBy == "M" || Model.CTFD.LoadedBy == "A")
                    {
                        <div id="LoadingCharge">
                            <h4 class="form-section">Loading Charges</h4>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Loading By :</label>
                                        <div class="col-md-7" style="margin-top:5px">
                                            <b> @LoadingBy</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" style="display:none">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Charge Type :</label>
                                        <div class="col-md-7" style="margin-top:5px">
                                            <b> @RateType</b>
                                        </div>
                                    </div>
                                </div>
                                @if (Model.CTFD.LoadedBy == "A")
                        {
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vendor Code :</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.CTFD.VendorCode, new { placeholder = "Select Locations", @class = "required2 form-control required" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" id="divrate" style="display:none">
                            <div class="form-group">
                                <label class="control-label col-md-5" id="TypeRate">Rate :</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.CTFD.Rate, new { @class = "required2  required form-control", @Placeholder = "Enter Rate" })
                                    @Html.TextBoxFor(m => m.CTFD.MaxLimit, new { @class = "required2  required form-control", @style = "display:none", @Placeholder = "Enter Monthly" })
                                </div>
                            </div>
                        </div>
                        }
                                @if (Model.CTFD.LoadedBy == "M")
                        {
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vendor Code :</label>
                                <div class="col-md-7 form-group">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.CTFD.VendorCode, new { placeholder = "Enter Market Vendor", @class = "required2 form-control required col-md-6" })
                                    </div>
                                    <div class="form-group">

                                        @Html.TextBoxFor(m => m.CTFD.VendName, new { placeholder = "Enter Market Vendor", @class = "required2 required form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-5">Rate :</label>
                                <div class="col-md-7 form-group">
                                    @Html.TextBoxFor(m => m.CTFD.Rate, new { @class = "required2  required form-control", @Placeholder = "Enter Rate",@number="true"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" style="display:none">
                            <div class="form-group">
                                <label class="control-label col-md-5">Max Limit :</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.CTFD.MaxLimit, new { @class = "required2  form-control", @Placeholder = "Enter MaxLimit", @readonly = true })
                                </div>
                            </div>
                        </div>
                        }
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5"><b>Loading Charge</b></label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CTFD.Loadingcharge, new { placeholder = "Loading charge", @class = "required2 form-control clsAmount", @readonly = true })
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                <br />

                <h4 class="form-section clsMF">MF Available For  @ViewBag.ChallanType</h4>

                <h4 class="form-section clsGC">GC Available For  @ViewBag.ChallanType</h4>

                <div class="portlet clsGC box @ViewBag.TableBoxColor">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i>@ViewBag.DKTCalledAs Available For  @ViewBag.ChallanType
                        </div>

                    </div>
                    <div class="portlet-body">
                        <div class="portlet-body flip-scroll">
                            <table class="table table-bordered table-striped table-condensed flip-content">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="center">
                                            @Html.CheckBox("IsAllEnabled")
                                        </th>
                                        <th class="center">
                                            @ViewBag.DKTCalledAs No.
                                        </th>

                                        <th class="center">
                                            Origin
                                        </th>
                                        <th class="center">
                                            Booking Date
                                        </th>
                                        <th class="center">
                                            Pay Basis
                                        </th>
                                        <th class="center">Arrival Date</th>

                                        <th class="center">
                                            Comm. Del. Date
                                        </th>
                                        <th class="center">
                                            Pending Pkgs.
                                        </th>
                                        <th class="center">
                                            Arrived pkgs.
                                        </th>
                                        <th class="center">
                                            Pkgs
                                        </th>
                                        <th class="center">Arrived Wt.</th>
                                        <th class="center">Act. Wt.</th>
                                        <th class="center">Chrg. Wt.</th>
                                        @*<th class="center">Handling Charge</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var itm in Model.DocketList)
                                    {
                                        Html.RenderPartial("_PRSDRSDocketList", itm);
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="portlet-body clsMF flip-scroll">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                            <tr>
                                <th class="center">
                                    @Html.CheckBox("IsMFAllEnabled")
                                </th>
                                <th class="center">
                                    Sys. MF  No.
                                </th>

                                <th class="center">
                                    Manual MF NO.
                                </th>
                                <th class="center">
                                    MF Branch
                                </th>
                                <th class="center">
                                    MF Date
                                </th>
                                <th class="center">Next Stop</th>

                                <th class="center">
                                    Total @ViewBag.DKTCalledAs
                                </th>
                                <th class="center">
                                    Pkgs L/B
                                </th>
                                <th class="center">
                                    Wt. L/B
                                </th>

                            </tr>
                        </thead>
                        <tbody id="MFBody"></tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-md-4 clsTHC">
                        <div class="form-group">
                            <label class="control-label col-md-5">Total MF</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.CTH.TotalManifest, new { placeholder = "Total Manifest", @class = "required2  form-control", @readonly = "true" })


                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 clsGC">
                        <div class="form-group">
                            <label class="control-label col-md-5">Total @ViewBag.DKTCalledAs</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.CTH.TotalDockets, new { placeholder = "Total " + @ViewBag.DocketCalledAs, @class = "required2  form-control", @readonly = "true" })


                            </div>
                        </div>
                    </div>
                </div>

                <h4 class="form-section ">Payment Details</h4>

                <div class="row clsTHC">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Standard Contract Amount</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.CTFD.StandardContractAmount, new { placeholder = "Standard Contract Amount", @class = "required2  form-control", @readonly = "true", @type = "number" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5"><b>Contract Amount</b></label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.CTFD.ContractAmount, new { placeholder = "Contract Amount", @class = "required2  form-control clsAmount", @type = "number" })
                            </div>
                        </div>
                    </div>
                </div>


                @foreach (var item in Model.ListCharges)
                {
                    Html.RenderPartial("_ChallanChargesDetails", item);
                }

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5"><b>Net Amount</b></label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.CTFD.NetAmount, new { placeholder = "Net Amount", @class = "required2  form-control", @readonly = "true", @type = "number" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clsMKT1">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Advance Amount</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.CTFD.AdvanceAmount, new { placeholder = "Advance Amount", @class = "required2  required form-control clsAmount", @type = "number" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Advance Location</label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(c => c.CTFD.AdvanceLocation, new SelectList(BlankList, "Value", "Text", Model.CTFD.AdvanceLocation), "", new { @class = "form-control select2 required2 required bs-select", @placeholder = "Advance Location" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clsMKT1">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Balance Amount</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.CTFD.BalanceAmount, new { placeholder = "Balance Amount", @class = "required2  form-control", @readonly = "true", @type = "number" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Balance Location</label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(c => c.CTFD.BalanceLocation, new SelectList(BlankList, "Value", "Text", Model.CTFD.BalanceLocation), "", new { @class = "form-control select2 required2 required bs-select", @placeholder = "Balance Location" })
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <a class="btn btn-sm default controls" href="@Url.Action("Challan", "Operation", new { TYP = 1 })"> <i class="fa fa-refresh"> </i>&nbsp;Reset</a>
                    <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/Scripts/Operation/Challan.js"></script>
