﻿@{
    ViewBag.Title = "Challan Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>Challan @ViewBag.TranXaction
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Challan Number
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@ViewBag.DOCNO</b>
                            </td>
                            <td>
                                @*<a target="_blank" href="#" class="fa fa-print" id="ReportFrame"><b>&nbsp;View/Print</b></a>*@
                                @*<a target="_blank" href="@Url.Action("ChallanViewPrint", "ViewPrint", new { Type = 1, ChallanNo = ViewBag.DOCNO })" class="fa fa-print" id="ReportFrame"><b>&nbsp;View/Print</b></a>*@
                                <a href="javascript:OrderView('@ViewBag.DOCTYP','@ViewBag.DOCNO')"><b><i class="fa fa-print"></i>&nbsp;View || Print</b></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                Click on Challan Number for View and Print .
            </span>
        </div>
    </div>
</div>

<script type="text/javascript">

    function OrderView(Type, ChallanNo) {
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        var strPopupURL = ReportURL + DomainName + "/ViewPrint/ChallanViewPrint?Type=" + Type + "&ChallanNo=" + ChallanNo;
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;
    }

    var FormComponents = function (DomainName) {
        var Events = function (DomainName) {
            $('#btnSubmit').click(function () {
                App.blockUI({ boxed: true });
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Events(DomainName);
            }
        }
    }();
</script>