﻿@model Fleet.ViewModels.ChequeViewModel
@{
    ViewBag.Title = "Cheque Reoffer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("InsertCheckReofferdetail", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Enter Cheque No.:
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.ChequeDetail.chqno, new { placeholder = "Enter Cheque No.", @class = "form-control required2 required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Select Cheque Date :
                                        </label>
                                        <div class="col-md-6">
                                            @*@Html.TextBoxFor(m => m.chqdt, new { placeholder = "Enter Date Ex. dd/mm/yyyy ", @class = "form-control required2 required" })*@

                                            <div class="input-group date datetime-picker">
                                                @Html.TextBoxFor(m => m.ChequeDetail.chqdt, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.ChequeDetail.chqdt).ToString("dd MMMM yyyy hh:mm tt")), new { @class = "form-control required required2 date-picker", @placeholder = "dd MMM yyyy" })
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <button type="button" id="btnGetchequeDtl" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Click Here To Reoffer Cheque</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        

}

<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName, formName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form1) {
                    success1.show();
                    error1.hide();
                }

            });
        }

        var SaveFunction = function (DomainName) {
            $("#btnGetchequeDtl").click(function (e) {
                App.blockUI({ boxed: true });
                var strUrl = DomainName + '/Operation/InsertCheckReofferdetail?ChqueNo=' + $("#ChequeDetail_chqno").val() + "&ChqueDate=" + $("#ChequeDetail_chqdt").val() + "&Flag=Reoffer";
                $.ajax({
                    url: strUrl,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (data) {                      
                        window.location.href = DomainName + '/Operation/CheckBounceDone?ChqueNo=' + $("#ChequeDetail_chqno").val() + "&ChqueDate=" + $("#ChequeDetail_chqdt").val() + "&ChqueBounceDate=" + $("#ChequeDetail_chq_bounce_dt").val() + "&Flag=Reoffer";
                        App.unblockUI();

                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        App.unblockUI();
                    }
                });
            });        
        }
        return {
            init: function (DomainName) {
                SaveFunction(DomainName)
                
                $("#btnGetchequeDtl").attr('disabled', true)
                $("#ChequeDetail_chqdt").val('')
                $("#ChequeDetail_chq_bounce_dt").val('')
                $("#ChequeDetail_chqdt").change(function () {
                    App.blockUI({ boxed: true });
                    var strUrl = DomainName + '/Operation/CheckReoffer?ChqueName=' + $("#ChequeDetail_chqno").val() + "&ChqueDate=" + $("#ChequeDetail_chqdt").val();
                    $.ajax({
                        url: strUrl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {
                            App.unblockUI();
                            if (data == "Y") {
                                $("#btnGetchequeDtl").attr('disabled', false)
                                $("#ChequeDetail_chqdt").attr('disabled', true);
                                $("#ChequeDetail_chqno").attr('disabled', true);
                            }
                            else {
                                $("#ChequeDetail_chqdt").val('')
                                $("#ChequeDetail_chqno").val('')
                                alert(data)
                            }

                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });                 
                });
                $('.date-picker').datepicker({
                    isRTL: App.isRTL(),
                    format: "dd M yyyy",
                    setDate: new Date(),
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    todayBtn: true
                });
            }
        }
    }();
</script>