﻿@model Fleet.ViewModels.CHQ_Register_Details
@{
    ViewBag.Title = "Cheque Summary";
    Layout = null;
    int i = 1;
}
<style>
    table {
        font-family: Verdana;
        font-size:12px;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #8ba0e5;
        text-align: left;
        padding: 8px;
    }
</style>
<h2 style="text-align:center">@ViewBag.Title</h2>
<table>
    <tr>
        <td>Cheque Number</td>
        <td>@Model.ChequeNo</td>
        <td>Cheque Date</td>
        <td>@Model.Chequedate</td>
    </tr>
    <tr>
        <td>Issue Location</td>
        <td>@Model.Issuelocation</td>
        <td>Issue Date</td>
        <td>@Model.Issuedate</td>
    </tr>
    <tr>
        <td>Deposit Location</td>
        <td>@Model.Depositlocation</td>
        <td>Deposit Date</td>
        <td>@Model.Depositdate</td>
    </tr>
    <tr>
        <td>Deposit Voucher No.</td>
        <td>@Model.Depositvoucherno</td>
        <td>Deposited From</td>
        <td>@Model.Depositedfrom</td>
    </tr>
    <tr>
        <td>Cheque Amount</td>
        <td>@Model.ChequeAmount</td>
        <td>Recived From</td>
        <td>@Model.RecivedFrom</td>
    </tr>
    <tr>
        <td>Accounted Amount</td>
        <td>@Model.AccountedAmount</td>
        <td>UnAccounted Amount</td>
        <td>@Model.UnAccountedAmount</td>
    </tr>
</table>
<br />
<table class="table table-striped table-bordered table-hover">
    @if (Model.ListDCD != null)
    {
        if (Model.ListDCD.ToList().Count > 0)
        {
            <thead>
                <tr>
                    <th>Sr.No.</th>
                    <th>Document No.</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Amount Used From This Cheque</th>
                    <th>Mrs Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListDCD)
                {
                   <tr>
                       <td>@i</td>
                       <td>@item.docno</td>
                       <td>@item.chqdt</td>
                       <td>@item.chqamt</td>
                       <td>@item.clamt</td>
                       <td>@item.MRSTYPE</td>
                   </tr>
                    i++;
                }
            </tbody>
        }
        else
        {
            <p style="background-color:#8ba0e5;padding:10px;font-family:Verdana;">No Records Found...</p>
        }
    }    
</table>