﻿@model Fleet.ViewModels.ChequeViewModel
@{
    ViewBag.Title = "Cheque Bounce Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using (Html.BeginForm("InsertCheckBounceDetail", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">
                                            Enter Cheque No.:
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.ChequeDetail.chqno, new { placeholder = "Enter Cheque No.", @class = "form-control required2 required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">
                                            Select Cheque Date :
                                        </label>
                                        <div class="col-md-6"><div class="input-group date date-picker">
                                                    @Html.TextBoxFor(m => m.ChequeDetail.chqdt, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.ChequeDetail.chqdt).ToString("dd MMMM yyyy hh:mm tt")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy",@readonly=true })
                                                    <span class="input-group-btn">
                                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <button type="button" id="btnGetchequeDtl" class="btn btn-sm green controls pull-right"><i class="fa fa-check"></i>&nbsp;Show Document Attached With Cheque</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row chqueBounceDate" style="display:none">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">
                                            Enter Cheque Bounce Date. :
                                        </label>
                                        <div class="col-md-6">
                                            <div class="input-group date date-picker-bounce ">
                                                @Html.TextBoxFor(m => m.ChequeDetail.chq_bounce_dt, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.ChequeDetail.chq_bounce_dt).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy" })
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-12" id="PartailCheque">
        @{
    Html.RenderPartial("_Partial_Cheque", Model);
        }
    </div>
    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <button type="submit" style="display:none" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Click Here To Bounce Cheque</button>
        </div>
    </div>
}
<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName, formName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form1) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var SaveFunction = function (DomainName) {
            $("#btnGetchequeDtl").click(function (e) {
                App.blockUI({ boxed: true });
                var strUrl = DomainName + '/Operation/GetChequeDetail?ChqueNo=' + $("#ChequeDetail_chqno").val() + "&ChqueDate=" + $("#ChequeDetail_chqdt").val();
                $.ajax({
                    url: strUrl,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (data) {
                        $("#PartailCheque").html(data);
                        $("#ChequeDetail").show();
                        $("#collectiondetail").show();
                        $("#ChequeVoucherDetail").show();
                        $("#btnSubmit").show();
                        $(".chqueBounceDate").show();
                        $('.date-picker-bounce').datepicker('remove');
                        $('.date-picker-bounce').datepicker({
                            isRTL: App.isRTL(),
                            format: "dd M yyyy",
                            startDate: new Date($("#ChequeDetail_chqdt").val()),
                            autoclose: true,
                            pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                            todayBtn: true
                        });
                        App.unblockUI();

                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        App.unblockUI();
                    }
                });
            });

            $("#btnSubmit").click(function (e) {
                App.blockUI({ boxed: true });
                if (!$('#form_sample').valid()) {
                    App.unblockUI();
                    return;
                }
                else {
                    document.forms['form_sample'].submit();
                    //var strUrl = DomainName + '/Operation/InsertCheckBounceDetail?ChqueNo=' + $("#ChequeDetail_chqno").val() + "&ChqueDate=" + $("#ChequeDetail_chqdt").val() + "&ChqueBounceDate=" + $("#ChequeDetail_chq_bounce_dt").val();
                    //$.ajax({
                    //    url: strUrl,
                    //    cache: false,
                    //    data: {},
                    //    type: 'POST',
                    //    success: function (data) {
                    //        App.unblockUI();
                    //        window.location.href = DomainName + '/Operation/CheckBounceDone?ChqueNo=' + $("#ChequeDetail_chqno").val() + "&ChqueDate=" + $("#ChequeDetail_chqdt").val() + "&ChqueBounceDate=" + $("#ChequeDetail_chq_bounce_dt").val() + "&Flag=Bounce";
                    //    },
                    //    error: function (req, status, error) {
                    //        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    //        App.unblockUI();
                    //    }
                    //});
                }
            });
        }

        return {
            init: function (DomainName) {
                SaveFunction(DomainName);
                //ControlDate();
                Formvalidate('DomainName', 'form_sample');
                $("#btnGetchequeDtl").attr('readonly', true);
                $("#ChequeDetail_chqdt").val('');
                $("#ChequeDetail_chq_bounce_dt").val('');
                $("#ChequeDetail_chqdt").change(function () {
                    App.blockUI({ boxed: true });
                    var strUrl = DomainName + '/Operation/CheckValid?ChqueName=' + $("#ChequeDetail_chqno").val() + "&ChqueDate=" + $("#ChequeDetail_chqdt").val();
                    $.ajax({
                        url: strUrl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {
                            App.unblockUI();
                            if (data == "Y") {
                                $("#btnGetchequeDtl").attr('readonly', false);
                                $("#ChequeDetail_chqdt").attr('readonly', true);
                                $("#ChequeDetail_chqno").attr('readonly', true);
                            }
                            else {
                                $("#btnGetchequeDtl").attr('readonly', true);
                                $("#ChequeDetail_chqdt").attr('readonly', false);
                                $("#ChequeDetail_chqno").attr('readonly', false);
                                alert(data);
                            }
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });

                    //$('#chqdt').rules('add', {
                    //    required: true,
                    //    messages: {
                    //        required: "Enter something else"
                    //    }
                    //});

                });
                $('.date-picker').datepicker({
                    isRTL: App.isRTL(),
                    format: "dd M yyyy",
                    setDate: new Date(),
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    todayBtn: true
                });
            }
        }
    }();
</script>