﻿@{
    ViewBag.Title = "CIR_Successfully";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>CIR Successfully generated! 
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Document No.
                            </th>
                            <th>
                                Action
                            </th>
                            <th>
                                Your Next Step 
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@ViewBag.CIRNO</b>
                            </td>
                            <td>
                                @*<a href="('@ViewBag.CIRNO','@ViewBag.Type')"><b><i class="fa fa-print"></i>View || Print</b></a>*@
                                <a target="_blank" href="@Url.Action("ClaimsReport", "Operation", new { DocketNo = @ViewBag.DNO })" class="fa fa-print" id="ReportFrame"><b>&nbsp;View/Print</b></a>
                            </td>
                            <td>
                                <a class="btn btn-sm default controls" href="@Url.Action("Prepareclaims", "Operation" )"> <i class="fa fa-arrow-left"> </i>&nbsp;BACK TO CRITERIA.</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="@Url.Action("ClaimList", "Operation" )"<i class="fa fa-left"> </i>&nbsp;View/Print CIR/COF.</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                Click on Bill Number for View and Print .
            </span>
        </div>

    </div>
</div>
