﻿@{
    ViewBag.Title = "CIRAdded";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>Claim Investigation Report already added for this Docket no. !!! 
            </div>
        </div>
       
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Your Next Step 
                            </th>
                            @*<th>
                                Action
                            </th>*@
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a class="btn btn-sm default controls" href="@Url.Action("Prepareclaims", "Operation" )"> <i class="fa fa-arrow-left"> </i>&nbsp;BACK TO CRITERIA.</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="@Url.Action("ClaimList", "Operation" )"<i class="fa fa-left"> </i>&nbsp;View/Print CIR/COF.</a>
                          </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            @*<span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                Click on Bill Number for View and Print .
            </span>*@
        </div>
    </div>
</div>
