﻿@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "View Claims Investigation Report";
    Layout = null;
}
@{
    var parameters = new List<KeyValuePair<string, object>>
{
new KeyValuePair<string, object>("DocketNo",ViewBag.DOCN),
};
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}
<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/ClaimInvestingationReport", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>
