﻿@model CYGNUS.Models.claims
@using Fleet.ViewModels
@{
    ViewBag.Title = "ClaimsInvestReport";
    Layout = "~/Views/Shared/_Layout.cshtml";

    objDate OD = new objDate();
    OD.ControlId = "CIRDT";
    OD.ControlValue = System.DateTime.Now.ToString();
    OD.ModuleCode = "01";
}
<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@ViewBag.DKTCalledAs Entry
        </div>
    </div>
        <div class="portlet-body">
 @using (Html.BeginForm("cmdApprove_Click", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
 {
   
            <div class="portlet-body form">
                    <h4 class="form-section">
                        CIR Details
                    </h4>
                <div id="divStep3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5"> CIR Prepared By:</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.CIR_PREPBY, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Cnote Number: </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.DOCKNO, new {  @class = "required2 form-control", @readonly = "true" })
                                            @Html.HiddenFor(m=>m.DOCKSF)
                                            @Html.HiddenFor(m => m.NONDELY)
                                            @Html.HiddenFor(m => m.Short)
                                            @Html.HiddenFor(m => m.Damg)
                                            @Html.HiddenFor(m => m.Leakg)
                                            @Html.HiddenFor(m => m.pilfer)
                                            @Html.HiddenFor(m => m.Other)
                                            @Html.HiddenFor(m => m.BR_PREPNM)
                                            @Html.HiddenFor(m => m.ACTUWT)
                                            @Html.HiddenFor(m => m.CIRBR)
                                            @*@Html.HiddenFor(m=>m.tot_frtamt)*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Destination</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.REASSIGN_DESTCD, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">CIR Number: </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.CIRNo, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Cnote Date:</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.DOCKDT, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5"> Last Delivery Point: </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.Temp1, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            @*<div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4"> CIR Date: </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.BR_PREPDT, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                           <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4"> CIR Date: </label>
                                        <div class="col-md-7">
                                            @{
                                                Html.RenderPartial("../UserControls/_DocumentDate", OD);
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Origin:</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.ORGNCD, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Cnot Pkg Weight:</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.ACTUWT, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 class="form-section"></h4>
                <h4>Party Details</h4>
                <div id="divStep3">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-2">
                                        <h5><b>Consignor </b></h5>
                                    </div>
                                </div>          
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Name</label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(m => m.CSGNNM, new { @class = "required2 form-control", @readonly = "true" })
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Address</label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(m => m.CSGNADDR, new { @class = "required2 form-control", @readonly = "true" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Phone</label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(m => m.CSGNTeleNo, new { @class = "required2 form-control", @readonly = "true" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Pincode </label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(m => m.CSGNPinCode, new { @class = "required2 form-control", @readonly = "true" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-2">
                                    <h5><b>Consignee </b></h5>
                                </div>
                            </div> 
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Name </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CSGENM, new { @class = "required2 form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Address</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CSGEADDR, new { @class = "required2 form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Phone</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CSGETeleNo, new { @class = "required2 form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>  
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Pincode </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CSGEPinCode, new { @class = "required2 form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>             
                       </div>
               </div>
            <h4 class="form-section"></h4>
                <h4>Claiming Party Details</h4>
                <div id="divStep3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Claiming Party</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.clmpty, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Claiming Party Address</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.clmptyadd, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Claiming Party Grade</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.ClmPrtyGrd, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Claiming Party Pin </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.clmptypin, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Claiming Party Name </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.clmptynm, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Claiming Party Phone </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.clmptytel, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Invoice No </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.invno, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                          <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Invoice value </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.InvVal, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Unloading SheetNo </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.Temp, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="form-section"></h4>
                <h4>Claim Details</h4>
                <div id="divStep3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Type Of Claim</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.Claimstr, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Product Description</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.proddesc, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Freight Amount(In Rs.) </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.tot_frtamt, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Claiming Amt(In Rs.) </label>
                                        <div class="col-md-7">
                                            @*@Html.TextBoxFor(m => m.CLMAMT, new { @class = "required2 form-control required"})*@
                                            @Html.TextBoxFor(m => m.CLMAMT, new { @class = "required2 form-control required" ,@number=true})
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Risk </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.insuyn, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Value Of Goods(In Rs.)</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.DECVAL, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Type Of Package</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.Temp1, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Basis of Booking</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.paydesc, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Package Type </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.PKGSTY, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="form-section"></h4>
                <h4>Arrival Details at Last Delivery Point </h4>

                <div id="divStep3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Last Delivery Location </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m=>m.Temp, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Last THC No.</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.thc, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Route/Market</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.Temp1, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Incoming From</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.IncomingFrom, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Last THC Date</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.thcdate, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Route Code & Name</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.route, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Last TC No.</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.mf, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Vehicle No.</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.vehno, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">THC Remark:</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.thcrem, new { @class = "required2 form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="form-section"></h4>
                <h4>Claims Investigation Details</h4>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-5">Have We given Open Delivery by tallying the contents as per invoice</label>
                            <div class="col-md-7 radio-list">
                                <label class="radio-inline">
                                    <input type="radio" name="RDOCnor" id="RDOCnor1"  class="clsCnor">Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="RDOCnor" id="RDOCnor2" class="clsCnor">No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divStep3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-2">
                                    <h5><b>Name </b></h5>
                                    @*<label>Name</label>*@
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @*<label class="control-label col-md-5">Surveyor appointed by Customer</label>*@
                                        <label class="control-label col-md-5">Surveyor appointed by Customer</label><br />
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.CName, new { @class = "required2 form-control required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Surveyor appointed by Express Cargo Service</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.SName, new { @class = "required2 form-control required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Express Cargo Service Employee</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.SEName, new { @class = "required2 form-control required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-2">
                                    <h5><b>Valuation Amt(Rs)</b></h5>
                                    @*<label>Valuation Amt(Rs)</label>*@
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5"> </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.CValue, new { @class = "required2 form-control required",@number=true })
                                        </div>
                                    </div>
                                </div>
                            </div>
                           <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5"></label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.SValue, new { @class = "required2 form-control required", @number = true })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5"></label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.SEValue, new { @class = "required2 form-control required", @number = true })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                <br />
                <h4 class="form-section"></h4>
                <h4>Customer Insurance Policy Details </h4>
                <div class="form-group ">
                    <label class="control-label col-md-2">
                        Insurance Co.Name
                    </label>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.IncCoName, new { @class = "required2 form-control required" })
                    </div>
           
                    <label class="control-label col-md-2">
                        Insurance Policy No.
                    </label>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.IncPNo, new { @class = "required2 form-control required" })
                    </div>
                </div>
                
                <h4 class="form-section"></h4>
                <h4>Claim to be recovered from Vendor</h4> 
                <div class="form-group ">
                    <label class="control-label col-md-2">
                        Select Trip Challan no. 
                    </label>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.ChallanNo, new { @class = "required2 form-control " })
                        @*@Html.TextBoxFor(m => m.Challan, new { @class = "required2 form-control required" })*@
                    </div>
                </div>
                <h4 class="form-section"></h4>
                <h4>Business Details Of Claiming Party </h4>

                <div id="divStep3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Monthly Business</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.MBusiness, new { @class = "required2 form-control " ,@number=true})
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Nature Of Business</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.NBusiness, new { @class = "required2 form-control ", @number = true })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Booking</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.Booking, new { @class = "required2 form-control ", @number = true })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Approve at Location</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.ApprLoc, new { @class = "form-control required2 required", @placeholder = "Approve at Location" })
                                        </div>
                                        @*<div class="col-md-7">
                                            @Html.TextBoxFor(m => m.ApprLoc, new { @class = "required2 form-control" })
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Delivery</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.Delivery, new { @class = "required2 form-control ", @number = true })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 class="form-section"></h4>
                <h4>Documents Attached </h4>
                @*<div class="portlet-body form">*@
                    <div class="row">
                       @* <div class="form-body">*@
                            <div class="col-md-11">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            @Html.CheckBox("BRATTPCL", new { @class = "chk", @data_value = "BRATTPCL" })
                                            @*@Html.HiddenFor(c => c.BRATTPCL)*@
                                            @*<input type="checkbox" name="BRATTPCL" />*@
                                            Party's Claims Letter :
                                        </label>
                                        <div class="col-md-7" data-title="Upload Document">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="col-md-7">
                                                    <span class="btn blue btn-file">
                                                        <input type="file"  id="@Model.BRATTPCL_FILENAME" name="file" /><i class="fa fa-plus"></i> Select
                                                    </span>
                                                </div>
                                                <div class="col-md-3 fileinput-preview fileinput-exists thumbnail" style="max-width: 30px; max-height: 50px;">
                                                    @Html.HiddenFor(c => c.BRATTPCL_FILENAME)
                                                </div>
                                                <a class="col-md-2 margin-top-5 text-primary" target="_blank" href="~/Images/ClaimDocument/@Model.BRATTPCL_FILENAME">@Model.BRATTPCL_FILENAME</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            @Html.CheckBox("BRATTPIC",  new { @class = "chk", @data_value = "BRATTPIC" })
                                            @*@Html.HiddenFor(c => c.BRATTPIC)*@
                                            Invoice Copy:
                                        </label>
                                        <div class="col-md-7" data-title="Upload Document">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="col-md-7">
                                                    <span class="btn blue btn-file">
                                                        <input type="file" id="@Model.BRATTPIC_FILENAME" name="file" /><i class="fa fa-plus"></i> Select
                                                    </span>
                                                </div>
                                                <div class="col-md-3 fileinput-preview fileinput-exists thumbnail" style="max-width: 30px; max-height: 50px;">
                                                    @Html.HiddenFor(c => c.BRATTPIC_FILENAME)
                                                </div>
                                                <a class="col-md-2 margin-top-5 text-primary" target="_blank" href="~/Images/ClaimDocument/@Model.BRATTPIC_FILENAME">@Model.BRATTPIC_FILENAME</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">
                                            @Html.CheckBox("BRATTPOD", new { @class = "chk", @data_value = "BRATTPOD" })
                                            @*@Html.HiddenFor(c => c.BRATTPOD)*@
                                            Cnote POD Copy :
                                        </label>
                                        <div class="col-md-6" data-title="Upload Document">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="col-md-7">
                                                    <span class="btn blue btn-file">
                                                        <input type="file" id="@Model.BRATTPOD_FILENAME" name="file" /><i class="fa fa-plus"></i> Select
                                                    </span>
                                                </div>
                                                <div class="col-md-3 fileinput-preview fileinput-exists thumbnail" style="max-width: 30px; max-height: 50px;">
                                                    @Html.HiddenFor(c => c.BRATTPOD_FILENAME)
                                                </div>
                                                <a class="col-md-2 margin-top-5 text-primary" target="_blank" href="~/Images/ClaimDocument/@Model.BRATTPOD_FILENAME">@Model.BRATTPOD_FILENAME</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            @Html.CheckBox("BRATTTCTHC", new { @class = "chk", @data_value = "BRATTTCTHC" })
                                            @*@Html.HiddenFor(c => c.BRATTTCTHC)*@
                                            Photocopy of TC & THC  :
                                        </label>
                                        <div class="col-md-7" data-title="Upload Document">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="col-md-7">
                                                    <span class="btn blue btn-file">
                                                        <input type="file" id="@Model.BRATTTCTHC_FILENAME" name="file" /><i class="fa fa-plus"></i> Select
                                                    </span>
                                                </div>
                                                <div class="col-md-3 fileinput-preview fileinput-exists thumbnail" style="max-width: 30px; max-height: 50px;">
                                                    @Html.HiddenFor(c => c.BRATTTCTHC_FILENAME)
                                                </div>
                                                <a class="col-md-2 margin-top-5 text-primary" target="_blank" href="~/Images/ClaimDocument/@Model.BRATTTCTHC_FILENAME">@Model.BRATTTCTHC_FILENAME</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            @Html.CheckBox("BRATTFIR",  new { @class = "chk", @data_value = "BRATTFIR" })
                                            @*@Html.HiddenFor(c => c.BRATTFIR)*@
                                            Copy Of FIR :
                                        </label>
                                        <div class="col-md-7" data-title="Upload Document">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="col-md-7">
                                                    <span class="btn blue btn-file">
                                                        <input type="file" id="@Model.BRATTFIR_FILENAME" name="file" /><i class="fa fa-plus"></i> Select
                                                    </span>
                                                </div>
                                                <div class="col-md-3 fileinput-preview fileinput-exists thumbnail" style="max-width: 30px; max-height: 50px;">
                                                    @Html.HiddenFor(c => c.BRATTFIR_FILENAME)
                                                </div>
                                                <a class="col-md-2 margin-top-5 text-primary" target="_blank" href="~/Images/ClaimDocument/@Model.BRATTFIR_FILENAME">@Model.BRATTFIR_FILENAME</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">
                                            @Html.CheckBox("BRATTSRPT",  new { @class = "chk", @data_value = "BRATTSRPT" })
                                            @*@Html.HiddenFor(c => c.BRATTSRPT)*@
                                            Photographs:
                                        </label>
                                        <div class="col-md-6" data-title="Upload Document">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="col-md-7">
                                                    <span class="btn blue btn-file">
                                                        <input type="file" id="@Model.BRATTSRPT_FILENAME" name="file" /><i class="fa fa-plus"></i> Select
                                                    </span>
                                                </div>
                                                <div class="col-md-3 fileinput-preview fileinput-exists thumbnail" style="max-width: 30px; max-height: 50px;">
                                                    @Html.HiddenFor(c => c.BRATTSRPT_FILENAME)
                                                </div>
                                                <a class="col-md-2 margin-top-5 text-primary" target="_blank" href="~/Images/ClaimDocument/@Model.BRATTSRPT_FILENAME">@Model.BRATTSRPT_FILENAME</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            @Html.CheckBox("BRATTPHOTO", new { @class = "chk", @data_value = "BRATTPHOTO" })
                                            @*@Html.HiddenFor(c => c.BRATTPHOTO)*@
                                            Surveyor Report(for claim > Rs.10,000) :
                                        </label>
                                        <div class="col-md-7" data-title="Upload Document">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="col-md-7">
                                                    <span class="btn blue btn-file">
                                                        <input type="file" id="@Model.BRATTPHOTO_FILENAME" name="file" /><i class="fa fa-plus"></i> Select
                                                    </span>
                                                </div>
                                                <div class="col-md-3 fileinput-preview fileinput-exists thumbnail" style="max-width: 30px; max-height: 50px;">
                                                    @Html.HiddenFor(c => c.BRATTPHOTO_FILENAME)
                                                </div>
                                                <a class="col-md-2 margin-top-5 text-primary" target="_blank" href="~/Images/ClaimDocument/@Model.BRATTPHOTO_FILENAME">@Model.BRATTPHOTO_FILENAME</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           @* <div class="form-actions fluid">*@
                                <div class="col-md-offset-4 col-md-8">
                                    <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                </div>
                            @*</div>*@

                        @*</div>*@
                    </div>
                @*</div>*@
        </div> 
 }
      </div>
</div>

<script language="javascript" type="text/javascript">

        var FormComponents = function (DomainName) {
            var Formvalidate = function (DomainName) {
                var form1 = $('#form_sample');
                var error1 = $('.alert-danger', form1);
                var success1 = $('.alert-success', form1);

                form1.validate({
                    doNotHideMessage: true,
                    errorElement: 'span',
                    errorClass: 'help-block',
                    focusInvalid: false,
                    ignore: "",
                    rules: {
                    },
                    messages: {
                    },
                    invalidHandler: function (event, validator) {
                        success1.hide();
                        error1.show();
                        App.scrollTo(error1, -200);
                    },
                    highlight: function (element) {
                        $(element)
                            .closest('.form-group').addClass('has-error');
                    },
                    unhighlight: function (element) {
                        $(element)
                            .closest('.form-group').removeClass('has-error');
                    },
                    success: function (label) {
                        label
                            .closest('.form-group').removeClass('has-error');
                    },
                    submitHandler: function (form) {
                        success1.show();
                        error1.hide();
                       // form1.submit();
                    }
                });

            }
            return {
                //main function to initiate the module
                init: function (DomainName) {
                    JsonDDL('ApprLoc', DomainName + '/Operation/GetLocationListJson', false);
                    ControlDate();
                    Formvalidate(DomainName);
                    $("#btnSubmit").click(function () {
                        Formvalidate(DomainName);
                        if ($('#form_sample').valid()) {
                            document.forms["form_sample"].submit()
                            App.unblockUI();
                        }
                    });
                }
            }
        }();
</script>