﻿@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "CNote_Track";
    Layout ="~/Views/Shared/_Layout.cshtml";
}

@{
    var parameters = new List<KeyValuePair<string, object>>();

    parameters.Add(new KeyValuePair<string, object>("DocNo", ViewBag.Dockno));


    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();
}

<div id="divPrint">

    @Html.MvcReportViewer(ReportPathPrefix + "/Cnote_Report_ForEmail_NewPortal", parameters, new { Height = 600, Width = "100%", style = "border: none" })

    <div class="span3"></div>
</div>