﻿@model Fleet.ViewModels.CrossingChallanViewModel
@using FleetDataService.Models
@using Fleet.ViewModels
@using Fleet
@{
    ViewBag.Title = "CrossingChallanDocketList";
    Layout = "~/Views/Shared/_Layout.cshtml";


    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    Model.WCDM.ChallanDate = System.DateTime.Now;
    objDate OD = new objDate();
    OD.ControlId = "WCDM.ChallanDate";
    OD.ControlValue = Model.WCDM.ChallanDate.ToString();
    OD.ModuleCode = "01";
    Webx_Date_Rules WDR = MS.GetDateRule("19").FirstOrDefault();
}


<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>Crossing Challan Generation
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("CrossingChallanSubmit", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <div id="divStep1">
                    <label class="control-label" id="errorMsgForContract" style="font-family:Verdana;font-weight:bold;color:red;display:none;">Cutomer Contract not found or May be Expire, Please contact you administrator for further detail.</label>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Crossing Challan No </label>
                                <div class="col-md-7" style="color:red;font-weight:bold;">
                                    System Generated
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Date</label>
                                <div class="col-md-7">
                                    @{
            Html.RenderPartial("../UserControls/_DocumentDate", OD);
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Challan Location</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WCDM.ChallanLocCode, new { placeholder = "Challan Location", @class = "required2 form-control", @readonly = "True" })

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">vehicle No</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WCDM.VehicleNo, new { placeholder = "VehicleNo", @class = "required2 form-control required" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Vendor</label>
                                <div class="col-md-7">
                                    @Model.WCDM.VendorName : @Model.WCDM.VendorCode
                                    @Html.HiddenFor(m => m.WCDM.VendorName)
                                    @Html.HiddenFor(m => m.WCDM.VendorCode)
                                    @Html.HiddenFor(m => m.WCDM.CrossingChallanNo)
                                    @Html.HiddenFor(m => m.WCDM.ChallanLocCode)
                                    @Html.HiddenFor(m => m.WCDM.Cancel)
                                    @Html.HiddenFor(m => m.WCDM.PaymentFlag)
                                    @Html.HiddenFor(m => m.WCDM.PaymentFlag)
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


                <div>
                    <h5 class="form-section">Docket Details</h5>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet-body flip-scroll">
                                <table id="container" class="table table-bordered table-striped table-condensed flip-content">
                                    <thead class="flip-content">
                                        <tr>
                                            <th class="center col-md-0">

                                            </th>
                                            <th class="center col-md-1">
                                                Docket No
                                            </th>
                                            <th class="center col-md-1">
                                                Docket Date
                                            </th>
                                            <th class="center col-md-0">
                                                PayBasis
                                            </th>
                                            <th class="center col-md-0">
                                                Origin
                                            </th>
                                            <th class="center col-md-0">
                                                Destination
                                            </th>
                                            <th class="center col-md-0">
                                                Pkgs
                                            </th>
                                            <th class="center col-md-0">
                                                Actual Weight
                                            </th>
                                            <th class="center col-md-0">
                                                Charged Weight
                                            </th>
                                            <th class="center col-md-0">
                                                Docket Total
                                            </th>
                                            <th class="center col-md-1">
                                                Rate Basis
                                            </th>
                                            <th class="center col-md-1">
                                                Vendor Rate
                                            </th>
                                            <th class="center col-md-0">
                                                Crossing Charges
                                            </th>
                                            <th class="center col-md-1">
                                                DD Rate Basis
                                            </th>
                                            <th class="center col-md-0">
                                                DD Vendor rate
                                            </th>
                                            <th class="center col-md-0">
                                                Door Delivery Charges
                                            </th>
                                            <th class="center col-md-0">
                                                Bulky(+/-)
                                            </th>
                                            <th class="center col-md-0">
                                                Bulky Charge
                                            </th>
                                            <th class="center col-md-2">
                                                Remarks
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody id="Bodycontainer">
                                        @foreach (var item in Model.WCDD)
                                        {
                                            Html.RenderPartial("_CrossingChallanDocketDetails", item);
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5"><b>Summury</b></label>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5"><b>Total To Pay(+)</b></label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WCDM.TotalToPay, new { placeholder = "Total To Pay", @class = "required2 clsAmount form-control required clsROFixed", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5"><b>Total Crossing</b></label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WCDM.TotalCrossing, new { placeholder = "Total To Pay", @class = "required2 clsAmount form-control required clsROFixed", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5"><b>Door Delivery Charges</b></label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WCDM.TotalDoorDelyChrg, new { placeholder = "Total To Pay", @class = "required2 clsAmount form-control required clsROFixed", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5"><b>Bulky Charges(+)</b></label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WCDM.TotalBulky, new { placeholder = "Total To Pay", @class = "required2 clsAmount form-control required clsROFixed", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5"><b>Balance</b></label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WCDM.NetPayable, new { placeholder = "Total To Pay", @class = "required2 clsAmount form-control required clsROFixed", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>
                <div class="form-actions fluid">
                    <div class="col-md-offset-4 col-md-8">

                        <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName, formId) {

            var form1 = $('#' + formId);
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            jQuery.validator.addMethod("FutureDateValidate", function (value, element) {

                var MRDate = value;
                var date = $('#datepicker').datepicker('getDate');
                var now = new Date();
                var myDate = new Date(ChangeInJQDate(MRDate));
                return this.optional(element) || new Date(myDateFormatter(MRDate)) < now;
            });


            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                rules: {
                    'WCDM.ChallanDate': {
                        FutureDateValidate: true,

                    },

                },
                messages: {
                    //'Dtl.DOCKNO': {
                    //    checkDKTAvailabilityForDeliveryMR: function () {
                    //        return $("#DKTError").val()
                    //    }
                    //},
                    'WCDM.ChallanDate': {
                        FutureDateValidate: jQuery.format("Future Date is not Allowed."),
                    }

                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    //if (element.parents('.checkbox-list').size() > 0) {
                    //    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    //} else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                    //}
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    for (var i = 0; i < validator.errorList.length; i++) {

                    }

                    //validator.errorMap is an object mapping input names -> error messages
                    for (var i in validator.errorMap) {
                    }
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var SubmitClick = function (DomainName) {

            $('#btnSubmit').click(function () {
                var form = $('#form_sample');
                if (form.valid() == false) {


                    return false;
                }
                var SelectedRow = false;
                $(".chkCheck").each(function () {
                    var checked = $(this).is(":checked");
                    if (checked) {
                        SelectedRow = true;
                    }
                });

                if (SelectedRow == false) {
                    alert("Please Select atleast one Docket");
                    return false;
                }


                App.blockUI({ boxed: true });
                $(".ftdate-picker input").prop('disabled', false);
                document.forms["form_sample"].submit();
            });
        }

        var IsCheck = function (DomainName) {

            $(".chkCheck").each(function () {
                //alert("hello")
                var checked = $(this).is(":checked");
                Ratetype = $(this).attr("id").replace("IsChecked", "Ratetype");
                DDRatetype = $(this).attr("id").replace("IsChecked", "DDRatetype");
                Remarks = $(this).attr("id").replace("IsChecked", "Remarks");
                Bulky = $(this).attr("id").replace("IsChecked", "Bulky");
                if (checked) {
                    $("#" + Ratetype).prop('disabled', false);
                    //$("#" + DDRatetype).addClass("required");
                    //$("#" + Remarks).addClass("required");
                    //$("#" + Bulky).addClass("required");

                }
                else {

                    $("#" + Ratetype).prop('disabled', true);
                    //$("#" + DDRatetype).removeClass("required");
                    //$("#" + Remarks).removeClass("required");
                   // $("#" + Bulky).removeClass("required");

                }

                DocketwiseCalculation(DomainName);
            });
        }
        var select2Date = function (DomainName) {
            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                });
                $('body').removeClass("modal-open");
            }
        }
        var DocketwiseCalculation = function (DomainName) {

            var TotToPay = 0, TotCrossing = 0, TotDDChrg = 0, TotBulkyChrg = 0, TotNetAmt = 0;
            var TotDocketTotal = 0, TotCrossingTotal = 0, TotDoorDeliveryTotal = 0, TotBulkyTotal = 0, TotPkgsTotal = 0, TotActualWtTotal = 0, TotVendorRateTotal = 0, TotVendorRateDDTotal = 0;
            var docketAmount = 0, crossingAmt = 0, dooDeliveryChrg = 0, bulkychrg = 0, IndTOTAmt = 0;;

            $(".chkCheck").each(function () {
                //alert("hello")
                var checked = $(this).is(":checked");
                Ratetype = $(this).attr("id").replace("IsChecked", "Ratetype");


                PkgsNo = $(this).attr("id").replace("IsChecked", "Pkgs");
                ActualWt = $(this).attr("id").replace("IsChecked", "ActuWeight");
                docketAmount = $(this).attr("id").replace("IsChecked", "DKTTOT");
                crossingAmt = $(this).attr("id").replace("IsChecked", "CrossingChrg");
                dooDeliveryChrg = $(this).attr("id").replace("IsChecked", "DoorDelyChrg");
                bulkychrg = $(this).attr("id").replace("IsChecked", "BulkyChrg");
                Ratetype = $(this).attr("id").replace("IsChecked", "Ratetype");
                DDRatetype = $(this).attr("id").replace("IsChecked", "DDRatetype");
                VendorRate = $(this).attr("id").replace("IsChecked", "VendorRate");
                VendorRateDD = $(this).attr("id").replace("IsChecked", "DDVendorRate");
                Paybas = $(this).attr("id").replace("IsChecked", "paybasCode");
                Bulky = $("#" + $(this).attr("id").replace("IsChecked", "Bulky")).val();


                if (checked) {
                    //alert("Checked")
                    if ($("#" + Paybas).val() == "P03") {
                        TotDocketTotal = rounditn(parseFloat(TotDocketTotal) + parseFloat($("#" + docketAmount).val()), 2);
                        //alert("P03 TotDocketTotal " + TotDocketTotal)
                    }
                    else if ($("#" + Paybas).val() == "P01" || $("#" + Paybas).val() == "P02") {
                        TotDocketTotal = TotDocketTotal;
                        //alert("TotDocketTotal " + TotDocketTotal)
                    }

                    TotCrossingTotal = rounditn(parseFloat(TotCrossingTotal) + parseFloat($("#" + crossingAmt).val()), 2);
                    TotDoorDeliveryTotal = rounditn(parseFloat(TotDoorDeliveryTotal) + parseFloat($("#" + dooDeliveryChrg).val()), 2);

                    //alert("TotCrossingTotal " + TotCrossingTotal)
                    //alert("TotDoorDeliveryTotal " + TotDoorDeliveryTotal)
                    if (Bulky == "P" || Bulky == "0") {
                        TotBulkyTotal = rounditn(parseFloat(TotBulkyTotal) + parseFloat($("#" + bulkychrg).val()), 2);
                        //alert("Bulky P or 0 TotBulkyTotal " + TotBulkyTotal)
                    }
                    else {
                        TotBulkyTotal = rounditn(parseFloat(TotBulkyTotal) - parseFloat($("#" + bulkychrg).val()), 2);
                        //alert("TotBulkyTotal " + TotBulkyTotal)
                    }


                    TotPkgsTotal = rounditn(parseFloat(TotPkgsTotal) + parseFloat($("#" + PkgsNo).val()), 0);
                    TotActualWtTotal = rounditn(parseFloat(TotActualWtTotal) + parseFloat($("#" + ActualWt).val()), 2);
                    TotVendorRateTotal = rounditn(parseFloat(TotVendorRateTotal) + parseFloat($("#" + VendorRate).val()), 2);
                    TotVendorRateDDTotal = rounditn(parseFloat(TotVendorRateDDTotal) + parseFloat($("#" + VendorRateDD).val()), 2);

                    //alert("TotPkgsTotal " + TotPkgsTotal)
                    //alert("TotActualWtTotal " + TotActualWtTotal)
                    //alert("TotVendorRateTotal " + TotVendorRateTotal)
                    //alert("TotVendorRateDDTotal " + TotVendorRateDDTotal)


                    //alert("final WCDM_TotalToPay " + TotDocketTotal)
                    //alert("final WCDM_TotalCrossing " + TotCrossingTotal)
                    //alert("final WCDM_TotalDoorDelyChrg " + TotDoorDeliveryTotal)
                    //alert("final WCDM_TotalBulky " + TotBulkyTotal)
                    //alert("final WCDM_NetPayable " + TotBulkyTotal)

                }
                else {
                    //alert("Un Checked")
                    //$("#" + VendorRate + " option[value*='4']").prop("selected", false);
                    $("#" + Ratetype).select2("data", null);
                    $("#" + Ratetype).prop("disabled", true);
                    $("#" + VendorRateDD).select2("data", null);


                    $("#" + crossingAmt).val(0.00);
                    $("#" + dooDeliveryChrg).val(0.00);
                    $("#" + bulkychrg).val(0.00);
                    $("#" + VendorRate).val(0.00);
                    $("#" + VendorRateDD).val(0.00);
                }
                $("#WCDM_TotalToPay").val(TotDocketTotal);
                $("#WCDM_TotalCrossing").val(TotCrossingTotal);
                $("#WCDM_TotalDoorDelyChrg").val(rounditn(parseFloat(TotDoorDeliveryTotal), 2));
                $("#WCDM_TotalBulky").val(TotBulkyTotal);
                $("#WCDM_NetPayable").val(rounditn(parseFloat(TotDocketTotal) - parseFloat(TotCrossingTotal) - parseFloat(TotDoorDeliveryTotal) + parseFloat(TotBulkyTotal), 2));


            });

        }

        return {
            //main function to initiate the module
            init: function (DomainName) {


                ControlDate();
                Formvalidate(DomainName, "form_sample");

                SubmitClick(DomainName);

                select2Date(DomainName);
                IsCheck(DomainName);
                $(".DDL").select2({
                    placeholder: "Select an Option",
                    allowClear: true
                });
                $(".chkCheck").live('change', function () {
                    IsCheck(DomainName);
                });
                $(".BulkyChrg").live('change', function () {

                    DocketwiseCalculation(DomainName);
                });
                $(".BulkyDDL").live('change', function () {
                    var strrID = $(this).attr("id");
                    var BulkyChrg = strrID.replace("Bulky", "BulkyChrg")
                    if ($(this).val() == "") {
                        $("#" + BulkyChrg).attr("disabled", "true");
                        $("#" + BulkyChrg).val(0);
                    }
                    DocketwiseCalculation(DomainName);
                });

                $(".Ratetype").live('change', function () {
                    var Ratetype = $(this).val();



                    var strrID = $(this).attr("id");

                    var VendorCode = $("#WCDM_VendorCode").val();
                    var Pkgs = $("#" + strrID.replace("Ratetype", "Pkgs")).val();
                    var ActuWeight = $("#" + strrID.replace("Ratetype", "ActuWeight")).val();
                    var ChallanLocCode = $("#WCDM_ChallanLocCode").val();
                    var to_Loc = $("#" + strrID.replace("Ratetype", "to_Loc")).val();
                    var CrossingChrg = strrID.replace("Ratetype", "CrossingChrg")

                    var DoorDelyChrg = strrID.replace("Ratetype", "DoorDelyChrg")
                    var VendorRate = strrID.replace("Ratetype", "VendorRate")
                    var DDRatetype = strrID.replace("Ratetype", "DDRatetype")
                    var DDVendorRate = strrID.replace("Ratetype", "DDVendorRate")

                    if (Ratetype != "") {
                        App.blockUI({ boxed: true });
                        var StrURL1 = DomainName + "/Operation/GetrateforCrossingvendorContract?vendorcode=" + VendorCode + "&Origin=" + ChallanLocCode + "&ToCity=" + to_Loc + "&ratetype=" + Ratetype + "&Pkgs=" + Pkgs + "&ActuWeight=" + ActuWeight;
                        $.ajax({
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            url: StrURL1,
                            dataType: 'json',
                            data: {},
                            success: function (Data) {


                                if (parseFloat(Data.Status) > 0) {

                                    $("#" + CrossingChrg).val(Data.CrossingCharge);
                                    $("#" + VendorRate).val(Data.Rate);
                                    $("#" + DoorDelyChrg).val(Data.DoorDeliveryCharge);
                                    $("#" + DDRatetype).val(Data.DDRateBase);
                                    $("#" + DDVendorRate).val(Data.DDRate);

                                }
                                else {
                                    alert("There are No Contract Available");
                                    $("#" + CrossingChrg).val(0.00);
                                    $("#" + DoorDelyChrg).val(0.00);
                                    $("#" + VendorRate).val(0.00);
                                    $("#" + DDRatetype).select2("data", null);
                                    $("#" + DDVendorRate).val(0.00);
                                }
                                DocketwiseCalculation(DomainName)
                                App.unblockUI();
                            },
                            error: function (req, status, error) {
                                alert("error--" + req + "---" + status + "---" + error);
                                App.unblockUI();
                            }
                        });
                    } else {
                        ///set all charges 0
                    }

                });

                var itemIndex = $("#container input.iHidden").length;

                setTimeout(
                 function () {
                     $("input:checkbox, input:radio").uniform();
                 }, 5000);


            }
        }
    }();
</script>