﻿@model Fleet.ViewModels.CrossingChallanPouchViewModel
@{
    ViewBag.Title = "Crossing Challan List Pouch Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CrossingChallanPouchUpload", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">

                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Select
                                    </th>
                                    <th>Crossing Challan No.</th>
                                    <th>Challan Date</th>
                                    <th>Branch Code</th>
                                    <th>VehicleNo</th>
                                    <th>Vendor</th>
                                    <th>TotalToPay</th>
                                    <th>TotalCrossing</th>
                                    <th>TotalDoorDelyChrg</th>
                                    <th>NetPayable</th>
                                    <th>Pouch Upload</th>
                                </tr>
                            </thead>
                            <tbody id="containerTblScanFM">
                                @foreach (var item in Model.WCDM)
                                {
                                    Html.RenderPartial("_CrossingChallanPouchUpload", item);
                                }
                            </tbody>
                        </table>

                        <div class="form-actions fluid">
                           
                            <div class="col-md-offset-4 col-md-8">
                                <a href="@Url.Content("~/Operation/CrossingChallanPouchUploadCriteria")" class="btn btn-sm default "><i class="fa fa-arrow-left"></i>&nbsp;Back to Criteria</a>
                                @if (Model.WCDM.Count() > 0)
                                {
                                <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var FormValidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);
            var CurrLoc = "";

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    if (form.valid() == false) {
                        return false;
                    }
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                var itemIndex = $("#sample_ven input.iHidden").length + 1;


                   $('.chkCheck').change(function () {
                      var checked = jQuery(this).is(":checked");
                      var index=jQuery(this).attr("id").replace("CrossingChallanPouch_","").replace("__IsCheck","");

                        if (checked) {
                            $("#RW_" + index).addClass("required");
                        }
                        else {
                           $("#RW_" + index).removeClass("required");
                        }
                    });

                $('#btnSubmit').on('click', function () {
                    var i=0;            
                    $(".chkCheck").each(function () {
                
                        var checked = jQuery(this).is(":checked");
                       
                        if(checked)
                        {
                            
                            i++;
                        }
                    });    
                    if(i==0)
                    {
                        alert("Please select atleast one record to submit");
                        return false;
                    }
                    if ($("#form_sample").valid()) {
                        App.blockUI({ boxed: true });
                    }
                });

            }
        }
    }();
</script>