﻿@{
    ViewBag.Title = "Crossing Challan Pouch Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Tranxaction.ToUpper() == "DONE")
{
    <div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-check"></i>@ViewBag.Title is Successfully @ViewBag.Tranxaction
                </div>
            </div>
            <div class="portlet-body">
                <div class="margin-top-10 margin-bottom-10 clearfix">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="center">
                                    Crossing Challan No.
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td class="center">
                                        <b>@ViewBag.CrossingChallanNos</b>
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                </div>
                <span class="label label-danger">
                    NOTE!
                </span>&nbsp;
                <span>
                    <a href="@Url.Content("~/Operation/CrossingChallanPouchUploadCriteria")">Click here to more @ViewBag.Title</a>
                </span>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-danger fade in center">
            <h2 class="alert-heading">Opps! @ViewBag.Title fail</h2>
            <h4>
                There is some issue with process. <br />Please check your internet connection else contact your administrator or service provider.
            </h4>
        </div>
    </div>
}
