﻿@{
    ViewBag.Title = "Delivery MR Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>Delivery MR @ViewBag.TranXaction
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Delivery MR
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@ViewBag.MRNO</b>
                            </td>
                            <td>
                                <a href="@Url.Action("BillViewPrint", "ViewPrint", new { BillNo = @ViewBag.MRNO})" onclick="window.open(this.href, 'Fleet','left=20,top=20,width=1240,height=620,toolbar=1,resizable=0'); return false;"><b><i class="fa fa-print"></i>&nbsp;View || Print</b></a>
                                @*<a href="javascript:OrderView('@ViewBag.MRNO')"><b><i class="fa fa-print"></i>&nbsp;View || Print</b></a>*@
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Gate Pass</b>
                            </td>
                            <td>
                                <a href="@Url.Action("GatePassViewPrint", "ViewPrint", new { MRNO = @ViewBag.MRNO })" onclick="window.open(this.href, 'Fleet','left=20,top=20,width=1240,height=620,toolbar=1,resizable=0'); return false;"><b><i class="fa fa-print"></i>&nbsp;View || Print</b></a>
                                @*<a href="javascript:OrderView('@ViewBag.MRNO')"><b><i class="fa fa-print"></i>&nbsp;View || Print</b></a>*@
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                <a href="@Url.Content("~/Operation/DeliveryMR_Criteria")">Click Here to Generate Another GatePass.</a>
                
            </span>
        </div>
    </div>
</div>

<script type="text/javascript">

    function OrderView(ChallanNo) {
        @*var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        var strPopupURL = ReportURL + DomainName + "/ViewPrint/ChallanViewPrint?Type=" + Type + "&ChallanNo=" + ChallanNo;
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;*@
    }

    var FormComponents = function (DomainName) {
        var Events = function (DomainName) {
            $('#btnSubmit').click(function () {
                App.blockUI({ boxed: true });
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Events(DomainName);
            }
        }
    }();
</script>