﻿@model Fleet.ViewModels.DeliveryViewModel
@using FleetDataService.Models
@using Fleet.ViewModels
@using Fleet
@{
    ViewBag.Title = "Delivery MR Generation";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool RDOCnor1_checked, RDOCnor2_checked;

    if (Model.Dtl.csgecd == "8888")
    {
        RDOCnor1_checked = false;
        RDOCnor2_checked = true;
    }
    else
    {
        RDOCnor1_checked = true;
        RDOCnor2_checked = false;
    }

    if (Model.Dtl.paybas == "P02")
    {
        Model.Dtl.BillingPartyAS = "P";
    }
    else
    {
        Model.Dtl.BillingPartyAS = "CE";
    }

    List<SelectListItem> BlankList = new List<SelectListItem>();
    string DKTCalledAs = ViewBag.DKTCalledAs;
    string DefaultJqueryDateFormat = ViewBag.DefaultJqueryDateFormat;

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    webx_location WL = MS.GetLocationDetails().Where(c => c.LocCode.ToUpper() == @ViewBag.BaseLocationCode.ToUpper()).FirstOrDefault();
    var IsPeritNoReq = WL.IsPeritNoReq;
    var IsKeyNoReq = WL.IsKeyNoReq;

    Model.Dtl.MRDate = System.DateTime.Now;
    objDate OD = new objDate();
    OD.ControlId = "Dtl.MRDate";
    OD.ControlValue = Model.Dtl.MRDate.ToString();
    OD.ModuleCode = "01";
    Webx_Date_Rules WDR = MS.GetDateRule("19").FirstOrDefault();
    List<Webx_Master_General> generalMasterList = MS.GetGeneralMasterObject().ToList();
    Model.Dtl.mrstype = "12";

    Model.CCP.IsTDSApplicable = true;
}

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>Delivery MR Generation
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("DeliveryMR_Submit", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <div id="divStep1">
                    <label class="control-label" id="errorMsgForContract" style="font-family:Verdana;font-weight:bold;color:red;display:none;">Cutomer Contract not found or May be Expire, Please contact you administrator for further detail.</label>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">@ViewBag.DKTCalledAs No </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.Dtl.DOCKNO, new { placeholder = ViewBag.DKTCalledAs + " No", @class = "required2 form-control", @readonly = "True" })
                                    @Html.HiddenFor(m => m.Dtl.DOCKNO)
                                    @Html.HiddenFor(m => m.Dtl.DOCKSF)
                                    @Html.HiddenFor(m => m.Dtl.dockdate)
                                    @Html.HiddenFor(m => m.Dtl.mrstype)
                                    @Html.Hidden("DKTCalledAs", DKTCalledAs)
                                    @Html.Hidden("DKTError")
                                    @Html.HiddenFor(m => m.Dtl.Moduletype)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">MR Date</label>
                                <div class="col-md-7">
                                    @{
                                        Html.RenderPartial("../UserControls/_DocumentDate", OD);
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Payment Basis</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.Dtl.paymentbas, new { placeholder = "Payment Basis", @class = "required2 form-control", @readonly = "True" })
                                    @Html.HiddenFor(m => m.Dtl.paybas)
                                    @Html.HiddenFor(m => m.Dtl.service_class)
                                    @Html.HiddenFor(m => m.Dtl.ftl_types)
                                    @Html.HiddenFor(m => m.Dtl.businesstype)
                                    @Html.HiddenFor(m => m.Dtl.orgncd)
                                    @Html.HiddenFor(m => m.Dtl.delloc)
                                    @Html.HiddenFor(m => m.Dtl.from_loc)
                                    @Html.HiddenFor(m => m.Dtl.to_loc)
                                    @Html.HiddenFor(m => m.Dtl.party_code)
                                    @Html.HiddenFor(m => m.Dtl.oldptcd)
                                    @Html.HiddenFor(m => m.Dtl.oldptname)
                                    @Html.HiddenFor(m => m.Dtl.pkgsno)
                                    @Html.HiddenFor(m => m.Dtl.chrgwt)
                                    @Html.HiddenFor(m => m.Dtl.trn_mod)
                                    @Html.HiddenFor(m => m.Dtl.prodcd)
                                    @Html.HiddenFor(m => m.Dtl.diplomat)
                                    @Html.HiddenFor(m => m.Dtl.stax_exmpt_yn)
                                    @Html.HiddenFor(m => m.Dtl.stax_paidby)
                                    @Html.HiddenFor(m => m.Dtl.dacc_yn)
                                    @Html.HiddenFor(m => m.Dtl.cod_dod)
                                    @Html.HiddenFor(m => m.Dtl.insuyn)
                                    @Html.HiddenFor(m => m.Dtl.doctype)
                                    @Html.HiddenFor(m => m.Dtl.curr_loc)
                                    @Html.HiddenFor(m => m.Dtl.invamt)
                                    @Html.HiddenFor(m => m.Dtl.arrpkgqty)
                                    @Html.HiddenFor(m => m.Dtl.arrweightqty)
                                    @Html.HiddenFor(m => m.Dtl.invamt)
                                    @Html.HiddenFor(m => m.Dtl.RATE_TYPE)
                                    @Html.HiddenFor(m => m.Dtl.BillingPartyAS)
                                    @Html.HiddenFor(m => m.Dtl.CustGSTNo)
                                    @Html.HiddenFor(m => m.Dtl.CSGECustGSTNo)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Godown Name</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.Dtl.godown, new { placeholder = "Godown Name", @class = "required2 form-control", @readonly = "True" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Charged Weight</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.Dtl.arrweightqty, new { placeholder = "Charged Weight", @class = "required2 form-control", @readonly = "True" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">No. of Package</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.Dtl.arrpkgqty, new { placeholder = "No. of Package", @class = "required2 form-control", @readonly = "True" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @if (ViewBag.AllowPartialPayment == true)
                                {
                                    <label class="control-label col-md-5">Allow Partial Payment</label>
                                    <div class="col-md-7 chkactive">
                                        @Html.CheckBoxFor(c => c.Dtl.IsAllowPartPayment)
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Allow Part Package Delivery</label>
                                <div class="col-md-7 chkactive">
                                    @Html.CheckBoxFor(c => c.Dtl.IsAllowPartDelivery)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 tdPartPkgQty">
                            <div class="form-group">
                                <label class="control-label col-md-5">Part Package Delivery</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.Dtl.PartPkgQty, new { placeholder = "No. of Package", @class = "required2 form-control", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))", @readonly = true })
                                    @Html.Hidden("PkgNoErrorMsg")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Delivery Vehicle</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.Dtl.DeliveryVehicle, new { placeholder = "Vehicle Number", @class = "required2 form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Remarks</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.Dtl.Remarks, new { placeholder = "Remarks", @class = "required2 form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divStep3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-2">
                                    <h5><b>Consignee </b></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Select Consignee </label>
                                        @if (Model.Dtl.paybas.CompareTo("P02") == 0)
                                        {
                                            <div class="col-md-7 radio-list">
                                                <label class="radio-inline">
                                                    @Html.RadioButton("BillingPartyAS", "P", new { @checked = "true", @id = "CSGN", @class = "clsBillingPartyAS" })Billing Party
                                                </label>
                                                <label class="radio-inline">
                                                    @Html.RadioButton("BillingPartyAS", "CE", new { @id = "CSGE", @class = "clsBillingPartyAS" })Consignee
                                                </label>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-7 radio-list">
                                                <label class="radio-inline">
                                                    <input type="radio" name="RDOCnee" id="RDOCnee1" checked="@RDOCnor1_checked" value="RDOCnee1" class="clsCnee"> From Master
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="RDOCnee" id="RDOCnee2" checked="@RDOCnor2_checked" value="RDOCnee2" class="clsCnee"> Walk-In
                                                </label>
                                                @*<label class="radio-inline">
                                                        @Html.RadioButton("RDOCnor", "RDOCnor1", new { @checked = RDOCnor1_checked, @id = "RDOCnor1", @class = "clsCnee" })From Master
                                                    </label>
                                                    <label class="radio-inline">
                                                        @Html.RadioButton("RDOCnor", "RDOCnor2", new { @checked = RDOCnor2_checked, @id = "RDOCnor2", @class = "clsCnee" })Walk - In
                                                    </label>*@
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Select Name </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.Dtl.csgecd, new { placeholder = "Consignor Code", @class = "required2 form-control required clsCnee1" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5"></label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.Dtl.csgenm, new { placeholder = "Consignor Name", @class = "required2 form-control required clsCnee" })
                                            @Html.HiddenFor(m => m.Dtl.csgenm)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Mobile No.</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.Dtl.CSGETeleNo, new { placeholder = "Mobile No.", @class = "required2 form-control required mobileIN" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-2">
                                    <h5><b>Receiver</b></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Select Receiver </label>
                                        <div class="col-md-7 radio-list">
                                            <label class="radio-inline">
                                                <input type="radio" name="RDOReceiver" id="RDOReceiver1" value="RDOReceiver1" class="clsReceiver"> From Master
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="RDOReceiver" id="RDOReceiver2" checked value="RDOReceiver2" class="clsReceiver"> Walk-In
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Select Name </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.Dtl.receivercode, new { placeholder = "Consignee Code", @class = "required2 form-control required clsReceiver1" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5"></label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.Dtl.receivername, new { placeholder = "Consignee Name", @class = "required2 form-control required clsReceiver" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="display:none;">
                    <h5 class="form-section">Booking Charges Details</h5>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet-body flip-scroll">
                                <table id="container" class="table table-bordered table-striped table-condensed flip-content">
                                    <thead class="flip-content">
                                        <tr>
                                            <th class="center col-md-3">
                                                Booking Charge Name
                                            </th>
                                            <th class="center col-md-3">
                                                Charge at time of Booking
                                            </th>
                                            <th class="center col-md-3">
                                                Charge at time of Delivery
                                            </th>
                                            <th class="center col-md-3">
                                                Charge to be Collected
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="Bodycontainer">
                                        @foreach (var item in Model.ListBookingCharges)
                                        {
                                            Html.RenderPartial("_DeliveryMRBookingChargesDetails", item);
                                        }
                                    </tbody>
                                    <tr class="editorRow">
                                        <td class="center col-md-3"><b>Sub Total</b></td>
                                        <td class="center col-md-3">
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(m => m.Dtl.BkgSubTotal, new { placeholder = "Sub Total", @class = "required2 clsAmount form-control required", @readonly = "true" })
                                                </div>
                                            </div>
                                        </td>
                                        <td class="center col-md-3">
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(m => m.Dtl.DelSubTotal, new { placeholder = "Sub Total", @class = "required2 clsAmount form-control required", @readonly = "true" })
                                                </div>
                                            </div>
                                        </td>
                                        <td class="center col-md-3">
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(m => m.Dtl.DiffSubTotal, new { placeholder = "Sub Total", @class = "required2 clsAmount form-control required", @readonly = "true" })
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 class="form-section" style="text-align: end;">Delivery Charges Details</h4>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Freight + Charges </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.Dtl.FreightAmount, new { placeholder = "Freight + Charges", @class = "required2 form-control required clsAmount", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @readonly = "true" })
                            </div>
                        </div>
                        @foreach (var item in Model.ListDeliveryCharges)
                        {
                            Html.RenderPartial("_DeliveryMRDeliveryChargesDetails", item);
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5"><b>SUB-TOTAL</b></label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.Dtl.SubTotal, new { placeholder = "SUB-TOTAL", @class = "required2 clsAmount form-control required clsROFixed", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                </div>
                @foreach (var item in Model.ListCCH)
                {
                    if (item.TempId == 1)
                    {
                        @Html.GSTUIStart()
                    }
                    @Html.Partial("_DynamicCharges", item);
                    if (item.TempId == 3)
                    {
                        @Html.UIEnd()
                    }
                }
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5"><b>MR Amount</b></label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.Dtl.MRAmount, new { placeholder = "TOTAL", @class = "required2 form-control clsAmount required clsROFixed", @readonly = "true" })
                                @Html.HiddenFor(m => m.Dtl.BillpendingAmount)
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divCollectionDetails">
                    <h4 class="form-section">Collection Details</h4>
                    <p><b style="color: red;text-align:center;">Note : Please Enter the Collection Details if Net</b></p>
                    @{
                        Html.RenderPartial("../UserControls/_ReceiptControlDeliveryMR", Model.CCP);
                    }
                </div>
                <div class="form-actions fluid">
                    <div class="col-md-offset-4 col-md-8">
                        <a class="btn btn-sm default controls" href="@Url.Action("DeliveryMR_Generate", "Operation")"> <i class="fa fa-refresh"> </i>&nbsp;Reset</a>
                        <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName, formId) {

            var form1 = $('#' + formId);
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            jQuery.validator.addMethod("FutureDateValidate", function (value, element) {

                var MRDate = value;
                var date = $('#datepicker').datepicker('getDate');
                var now = new Date();
                var myDate = new Date(ChangeInJQDate(MRDate));
                return this.optional(element) || new Date(myDateFormatter(MRDate)) < now;
            });

            //$.validator.addMethod('checkDKTAvailabilityForDeliveryMR', function (value) {
            //    var dockno = $("#Dtl_DOCKNO").val().trim();
            //    var docksf = $("#Dtl_DOCKSF").val().trim();
            //    var StrURL = DomainName + "/Operation/IsDocketEligibleForDelMR?dockno=" + dockno + "&docksf=" + docksf;
            //    var result1 = $.ajax({
            //        async: false,
            //        type: 'POST',
            //        contentType: 'application/json; charset=utf-8',
            //        url: StrURL,
            //        dataType: 'json',
            //        data: {},
            //    });

            //    var d1 = JSON.parse(result1.responseText);

            //    $("#DKTError").val(d1.MSG);
            //    if (d1.Flg == "1") {
            //        $("#btnSubmit").attr("disabled", false);
            //        return true;
            //    }
            //    else {
            //        $("#btnSubmit").attr("disabled", true);
            //        return false;
            //    }
            //}, $("#DKTCalledAs").val());

            $.validator.addMethod('checkPartPkgQty', function (value) {

                var arrpkgqty = $("#Dtl_arrpkgqty").val();
                var pkgsno = $("#Dtl_pkgsno").val();
                var PartPkgQty = $("#Dtl_PartPkgQty").val();

                var IsAllowPartDelivery = $('#Dtl_IsAllowPartDelivery').is(':checked');
                $("#PkgNoErrorMsg").val("");
                if (IsAllowPartDelivery) {
                    if (parseFloat(arrpkgqty) < parseFloat(PartPkgQty)) {
                        $("#PkgNoErrorMsg").val("Part Package Qty must be Less than or equal to arrived Package Qty.");
                        return false;
                    }
                    if (parseFloat(pkgsno) < parseFloat(PartPkgQty)) {
                        $("#PkgNoErrorMsg").val("Part Package Qty must be Less than or equal to Total Package Qty.");
                        return false;
                    }
                }
                else {
                    return true;
                }
            }, $("#PkgNoErrorMsg").val());

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                rules: {
                    'Dtl.MRDate': {
                        FutureDateValidate: true,

                    },
                    //'Dtl.DOCKNO': {
                    //    checkDKTAvailabilityForDeliveryMR: true,
                    //},
                    'Dtl.PartPkgQty': {
                        checkPartPkgQty: true,
                    }
                },
                messages: {
                    //'Dtl.DOCKNO': {
                    //    checkDKTAvailabilityForDeliveryMR: function () {
                    //        return $("#DKTError").val()
                    //    }
                    //},
                    'Dtl.MRDate': {
                        FutureDateValidate: jQuery.format("Future Date is not Allowed."),
                    },
                    'Dtl.PartPkgQty': {
                        checkPartPkgQty: function () {
                            return $("#PkgNoErrorMsg").val()
                        }
                    },
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    //if (element.parents('.checkbox-list').size() > 0) {
                    //    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    //} else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                    //}
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    for (var i = 0; i < validator.errorList.length; i++) {

                    }

                    //validator.errorMap is an object mapping input names -> error messages
                    for (var i in validator.errorMap) {
                    }
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var SubmitClick = function (DomainName) {

            $('#btnSubmit').click(function () {
                var form = $('#form_sample');
                if (form.valid() == false) {

                    //if ($("#WMD_OriginStateCode").val() == "" || $("#WMD_OriginStateCode").val() == null || $("#WMD_DestStateCode").val() == "" || $("#WMD_DestStateCode").val() == null) {
                    //    Origin_Dest_CityChanges_Events(DomainName, "WMD_from_loc");
                    //    Origin_Dest_CityChanges_Events(DomainName, "WMD_to_loc");
                    //}
                    return false;
                }
                var party_code = $("#Dtl_party_code").val();
                var csgecd = $('#Dtl_csgecd').val();
                var paybas = $("#Dtl_paybas").val();
                var doctype = $("#Dtl_doctype").val();
                if (paybas == "P03" && doctype != "IDT") {
                    if (party_code != csgecd) {
                        alert("Docket Billing Party and Consignee not Matched .Please contact to Administrator")
                        return false;
                    }
                }
                App.blockUI({ boxed: true });
                $(".ftdate-picker input").prop('disabled', false);
                document.forms["form_sample"].submit();
            });
        }

        var select2Date = function (DomainName) {
            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                });
                $('body').removeClass("modal-open");
            }
        }

        var CneeEnabledDisabled = function (boo, clr) {

            $(".clsCnee").attr('readonly', boo);

            if (clr) {

                $(".clsCnee").val("");
                $(".clsCnee1").select2("data", null);
            }
        }

        var ReceiverEnabledDisabled = function (boo, clr) {

            $(".clsReceiver").attr('readonly', boo);

            if (clr) {
                $(".clsReceiver").val("");
                $(".clsReceiver1").select2("data", null);
            }
        }

        var CnorCnee = function (DomainName) {

            ReceiverEnabledDisabled(true);
            CneeEnabledDisabled(true);

            //$("input[name='RDOCnor']").click(function () {
            //    if ($(this).attr("id") == "RDOCnor1") {
            //        $('#Dtl_csgecd').attr('readonly', false);
            //        $('#Dtl_csgecd').select2('data', null);
            //        CnorEnabledDisabled(true);
            //    }
            //    else {
            //        $('#Dtl_csgecd').attr('readonly', true);
            //        $("#Dtl_csgecd").select2("data", { id: "8888", text: "8888" });
            //        CnorEnabledDisabled(false);
            //    }
            //    $("#Dtl_csgenm").val("");
            //});
            $("input[name='RDOCnee']").click(function () {

                if ($(this).attr("id") == "RDOCnee1") {
                    $('#Dtl_csgecd').attr('readonly', false);
                    $('#Dtl_csgecd').select2('data', null);
                    CneeEnabledDisabled(true);

                }
                else {
                    $('#Dtl_csgecd').attr('readonly', true);
                    $("#Dtl_csgecd").select2("data", { id: "8888", text: "8888" });
                    CneeEnabledDisabled(false);
                }
                $("#Dtl_csgenm").val("");
                $("#Dtl_CSGETeleNo").val("");
                checkpartialPayment(DomainName);
            });
            $("input[name='RDOReceiver']").click(function () {
                //alert(this.value);
                if ($(this).attr("id") == "RDOReceiver1") {
                    $('#Dtl_receivercode').attr('readonly', false);
                    $('#Dtl_receivercode').select2('data', null);
                    ReceiverEnabledDisabled(true);
                }
                else {
                    $('#Dtl_receivercode').attr('readonly', true);
                    $("#Dtl_receivercode").select2("data", { id: "8888", text: "8888" });
                    ReceiverEnabledDisabled(false);
                }
                $("#Dtl_receivername").val("");
            });

            GetPartyCode("Dtl_csgecd", "", "");

            $("#Dtl_csgecd").change(function () {
                JsGetConsigneeDetails(DomainName, $(this).val());
                checkpartialPayment(DomainName);
            });

            GetPartyCode("Dtl_receivercode", "", "");

            $("#Dtl_receivercode").change(function () {
                JsGetReceiverDetails(DomainName, $(this).val());
            });

            //$('.clsBillingPartyAS').live('click', function () {
            //    BillingPartyAs(DomainName);
            //});
        }

        //var BillingPartyAs = function (DomainName) {
        //    $("input[name='BillingPartyAS']").click(function () {
        //        if ($(this).attr("id") == "CSGN") {
        //            $('#BillingPartyAS').val("P");
        //            $('#Dtl_csgecd').attr('readonly', true);
        //            $('#Dtl_csgenm').attr('readonly', true);
        //        }
        //        else {
        //            $('#BillingPartyAS').val("CE");
        //            $('#Dtl_csgecd').attr('readonly', false);
        //            $('#Dtl_csgenm').attr('readonly', true);
        //        }
        //    });
        //}

        var JsGetConsigneeDetails = function (DomainName, Party) {

            if (Party != "") {
                App.blockUI({ boxed: true });
                var StrURL = DomainName + "/Operation/GetCustomerDetails?custcd=" + Party;

                $.ajax({
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: StrURL,
                    dataType: 'json',
                    data: {},
                    success: function (data) {
                        $("#Dtl_csgenm").val(data.Name);
                        $("#Dtl_csgecd").select2("data", { id: Party, text: data.Name });

                        $("#Dtl_CSGETeleNo").val(data.TELNO);
                        CneeEnabledDisabled(true);
                        App.unblockUI();
                    },
                    error: function () {
                        alert("error 1111");
                    }
                });
            }
        }

        var JsGetReceiverDetails = function (DomainName, Party) {

            if (Party != "") {
                App.blockUI({ boxed: true });
                var StrURL = DomainName + "/Operation/GetCustomerDetails?custcd=" + Party;

                $.ajax({
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: StrURL,
                    dataType: 'json',
                    data: {},
                    success: function (data) {
                        $("#Dtl_receivername").val(data.Name);
                        $("#Dtl_receivercode").select2("data", { id: Party, text: data.Name });
                        ReceiverEnabledDisabled(true);
                        App.unblockUI();
                    },
                    error: function () {
                        alert("error 1111");
                    }
                });
            }
        }

        function freightRateBlur(DomainName) {

            var hdnratetype = $("#Dtl_RATE_TYPE").val();
            var txtchargedweight = $(".weightContract").val();
            var txtfreightrate = $(".frt_rateContract").val();
            var txtfreightcharge = $(".freightContract").val();

            txtfreightrate = roundNumber(txtfreightrate, 2);
            var freightcharge = 0.00;
            if (hdnratetype == "W")
                freightcharge = parseFloat(txtfreightrate) * parseFloat(txtchargedweight);
            else if (hdnratetype == "P")
                freightcharge = parseFloat(txtfreightrate) * parseFloat($("#Dtl_pkgsno"));
            else if (hdnratetype == "T")
                freightcharge = parseFloat(txtfreightrate) * parseFloat(txtchargedweight) / 1000;
            else if (hdnratetype == "F")
                freightcharge = parseFloat(txtfreightrate);

            txtfreightcharge = roundNumber(freightcharge, 2);
            $(".freightContract").val(roundNumber(freightcharge, 2));

            BkgChargeChange(DomainName);
            //calculateTotal();

            return false;
        }

        var BkgChargeChange = function (DomainName) {
            var bkgcharge = 0;
            var contcharge = 0;
            var Subtotal = 0;
            var freightdiff = 0;

            $(".clsBkgCharge.DocketCharge").each(function () {
                var controlname = "";
                //var contcharge = 0;
                //var freightdiff = 0;
                if ($(this).attr("id").indexOf("DocketCharge") != -1)
                    controlname = "DocketCharge";
                else if ($(this).attr("id").indexOf("ContractCharge") != -1)
                    controlname = "ContractCharge";
                else
                    controlname = "CollectedCharge";

                var DocketCharge = $(this).attr("id").replace(controlname, "DocketCharge");
                var ContractCharge = $(this).attr("id").replace(controlname, "ContractCharge");
                var CollectedCharge = $(this).attr("id").replace(controlname, "CollectedCharge");

                if (($(this).attr("id").indexOf("weight") == -1) && ($(this).attr("id").indexOf("frt_rate") == -1)) {
                    contcharge = contcharge + parseFloat($("#" + ContractCharge).val());
                    var diff = parseFloat($("#" + ContractCharge).val()) - parseFloat($("#" + DocketCharge).val());
                    freightdiff = freightdiff + diff;
                    $("#" + CollectedCharge).val(diff);
                }
            });

            $("#Dtl_DelSubTotal").val(contcharge);
            $("#Dtl_DiffSubTotal").val(freightdiff);
            $(".cssfrt_diff").val(freightdiff);
            CalculateTotal(DomainName);
        }

        var CalculateTotal = function (DomainName) {
            var PayBas = $("#Dtl_paybas").val();
            var bkgcharge = 0;
            var delcharge = 0;
            var Subtotal = 0;
            var DelSubTotal = $("#Dtl_DelSubTotal").val();
            $("#Dtl_FreightAmount").val(DelSubTotal);

            $(".clsDelCharge").each(function () {
                var ChargeAmount = $(this).attr("id");
                delcharge = delcharge + parseFloat($("#" + ChargeAmount).val());
            });

            Subtotal = parseFloat(Subtotal) + parseFloat(delcharge);

            bkgcharge = $("#Dtl_BkgSubTotal").val();

            if (PayBas == "P03")
                Subtotal = parseFloat(Subtotal) + parseFloat(bkgcharge);


            Subtotal = rounditn(Subtotal, 2);
            $("#Dtl_SubTotal").val(Subtotal);
            //$("#FreightAmount").val(Subtotal);

            var TransType = $("#Dtl_trn_mod").val();
            var ServiceType = $("#Dtl_service_class").val();
            var StaxPaidBy = $("#Dtl_stax_paidby").val();
            var IsStaxExemp = $('#Dtl_stax_exmpt_yn').val();
            var DocketTotal = 0;
            /* START GST Changes Chirag D */

            var IGSTONSUBTOTALCal = 0, CGSTONSUBTOTALCal = 0, SGSTONSUBTOTALCal = 0, UTGSTONSUBTOTALCal = 0;

            if (parseFloat(Subtotal) > 0 && ServiceType != "" && TransType != "" && StaxPaidBy != "" && IsStaxExemp == "N") {

                var IGST = $("#DynamicList_IGSTRate__ChargeAmount").val();
                var CGST = $("#DynamicList_CGSTRate__ChargeAmount").val();
                var SGST = $("#DynamicList_SGSTRate__ChargeAmount").val();
                var UTGST = $("#DynamicList_UTGSTRate__ChargeAmount").val();
                var SubtotalVal = $("#Dtl_SubTotal").val();

                App.blockUI({ boxed: true });

                DKT_GST_Total(DomainName);

                DocketTotal = parseFloat(SubtotalVal) + parseFloat(IGSTONSUBTOTALCal) + parseFloat(CGSTONSUBTOTALCal) +
                   parseFloat(SGSTONSUBTOTALCal) + parseFloat(UTGSTONSUBTOTALCal);


                $("#Dtl_MRAmount").val(parseFloat(DocketTotal).toFixed(0));
                //$("#NetPayabale").val(parseFloat(DocketTotal).toFixed(0));
                //$("#NET_RECEIVED").val(parseFloat(DocketTotal).toFixed(0));
            }
            else {
                IGSTONSUBTOTALCal = 0; SGSTONSUBTOTALCal = 0; CGSTONSUBTOTALCal = 0; UTGSTONSUBTOTALCal = 0;

                $("#DynamicList_IGSTAmount__ChargeAmount").val(IGSTONSUBTOTALCal);
                $("#DynamicList_SGSTAmount__ChargeAmount").val(SGSTONSUBTOTALCal);
                $("#DynamicList_CGSTAmount__ChargeAmount").val(CGSTONSUBTOTALCal);
                $("#DynamicList_UTGSTAmount__ChargeAmount").val(UTGSTONSUBTOTALCal)
                $("#DynamicList_IGSTCOLLECTED__ChargeAmount").val(IGSTONSUBTOTALCal);
                $("#DynamicList_SGSTCOLLECTED__ChargeAmount").val(SGSTONSUBTOTALCal);
                $("#DynamicList_CGSTCOLLECTED__ChargeAmount").val(CGSTONSUBTOTALCal);
                $("#DynamicList_UTGSTCOLLECTED__ChargeAmount").val(UTGSTONSUBTOTALCal)

                DocketTotal = Subtotal;

                //$("#WMDC_GSTType").val("");
                $("#Dtl_MRAmount").val(parseFloat(DocketTotal).toFixed(0));
                //$("#NetPayabale").val(parseFloat(DocketTotal).toFixed(0));
                //$("#NET_RECEIVED").val(parseFloat(DocketTotal).toFixed(0));
            }
            checkpartialPayment(DomainName);
            //if ($("#TransactionType").val() == "BANK") {
            //    $("#ChequeAmount").val(DocketTotal);
            //} else {
            //    $("#CashAmount").val(DocketTotal);
            //}
            /* END GST Changes Chirag D */

        }
        var checkpartialPayment = function (DomainName) {
            var tdsAmount = $("#totTDSAmt").val();
            if ($("#Dtl_csgecd").val() != "8888" && $("#Dtl_csgecd").val() != "") {
                if ($("#Dtl_IsAllowPartPayment").is(':checked')) {
                    //$("#NetPayabale").attr('readonly', false);
                    //$("#NetPayabale").attr('max', $("Dtl_MRAmount").val());
                    $("#NetPayabale").attr('max', '0');
                    $("#NetPayabale").val("0");
                    $("#NetPayabale").attr('readonly', true);
                    $("#NetPayabale").attr('min', '0');
                    $("#TDSPercentage").val("0");
                    $("#TDSPercentage").attr('readonly', true);
                    $("#totTDSAmt").val("0");


                    //console.log("if condition");
                }
                else {
                    //console.log("if Else condition");
                    $("#NetPayabale").val(parseFloat($("#Dtl_MRAmount").val()) - parseFloat(tdsAmount));
                    $("#NetPayabale").attr('readonly', true);
                }
            } else {
                //console.log("Else condition");
                $("#NetPayabale").attr('readonly', true);
                $("#NetPayabale").val(parseFloat($("#Dtl_MRAmount").val()) - parseFloat(tdsAmount));
            }
            //console.log(parseFloat($("#Dtl_MRAmount").val()));
            //console.log(parseFloat($("#NetPayabale").val()));
            if ($("#TransactionType").val() == "BANK") {
                $("#ChequeAmount").val($("#NetPayabale").val());
            } else {
                $("#CashAmount").val($("#NetPayabale").val());
            }

            $("#Dtl_BillpendingAmount").val(parseFloat($("#Dtl_MRAmount").val()) - parseFloat($("#NetPayabale").val()) - parseFloat(tdsAmount));
        }
        var DKT_GST_Total = function (DomainName) {

            var Custcode = $("#Dtl_party_code").val();
            var PayBas = $("#Dtl_paybas").val();
            var BaseLocation = "@ViewBag.BaseLocationCode";
            var DestCd = $("#Dtl_delloc").val();
            var SubTotal = $("#Dtl_SubTotal").val();
            var CustGSTNo = $("#Dtl_CustGSTNo").val();
            var CSGECustGSTNo = $("#Dtl_CSGECustGSTNo").val();

            //console.log('Custcode=' + Custcode + '-PayBas=' + PayBas + '-BaseLocation=' + BaseLocation + '-DestCd=' + DestCd + '-SubTotal=' + SubTotal);

            var strUrl = "@Url.Action("GetData", "Account")";
            var parameters = {};
            parameters['Custcode'] = Custcode;
            parameters['PayBas'] = PayBas;
            parameters['BaseLocation'] = BaseLocation;
            parameters['DestCd'] = DestCd;
            parameters['SubTotal'] = SubTotal;
            parameters['CSGNGSTNo'] = CustGSTNo;
            parameters['CSGESTNo'] = CSGECustGSTNo;
            parameters['TransMode'] = $("#Dtl_trn_mod").val();
            parameters['DocketDate'] = $("#Dtl_dockdate").val();
            parameters['ModuleType'] = ($("#Dtl_Moduletype").val()=="URD" ? "2" : "1");

            if ($("#Dtl_stax_exmpt_yn").val() != "Y") {
                $.ajax({
                    url: strUrl,
                    type: 'POST',
                    dataType: "json",
                    data: {
                        Method: 'GetDocketGSTCalculation',
                        parameters: parameters
                    },
                    success: function (result) {

                        $("#Dtl_GSTType").val(result[0].GSTType);
                        $("#Dtl_BillingState").val(result[0].BillingState);

                        $("#DynamicList_IGSTRate__ChargeAmount").val(parseFloat(result[0].IGSTRate).toFixed(2));
                        $("#DynamicList_SGSTRate__ChargeAmount").val(parseFloat(result[0].SGSTRate).toFixed(2));
                        $("#DynamicList_CGSTRate__ChargeAmount").val(parseFloat(result[0].CGSTRate).toFixed(2));
                        $("#DynamicList_UTGSTRate__ChargeAmount").val(parseFloat(result[0].UTGSTRate).toFixed(2));

                        $("#DynamicList_IGSTAmount__ChargeAmount").val(parseFloat(result[0].IGSTAmount).toFixed(2));
                        $("#DynamicList_SGSTAmount__ChargeAmount").val(parseFloat(result[0].SGSTAmount).toFixed(2));
                        $("#DynamicList_CGSTAmount__ChargeAmount").val(parseFloat(result[0].CGSTAmount).toFixed(2));
                        $("#DynamicList_UTGSTAmount__ChargeAmount").val(parseFloat(result[0].UTGSTAmount).toFixed(2));

                        $("#DynamicList_IGSTCOLLECTED__ChargeAmount").val(parseFloat(result[0].IGSTAmount).toFixed(2));
                        $("#DynamicList_SGSTCOLLECTED__ChargeAmount").val(parseFloat(result[0].SGSTAmount).toFixed(2));
                        $("#DynamicList_CGSTCOLLECTED__ChargeAmount").val(parseFloat(result[0].CGSTAmount).toFixed(2));
                        $("#DynamicList_UTGSTCOLLECTED__ChargeAmount").val(parseFloat(result[0].UTGSTAmount).toFixed(2));

                        $("#Dtl_MRAmount").val(parseFloat(result[0].DKTTotal).toFixed(0));
                        //$("#NetPayabale").val(parseFloat(result[0].DKTTotal).toFixed(0));
                        //$("#NET_RECEIVED").val(parseFloat(result[0].DKTTotal).toFixed(0));
                        //if ($("#TransactionType").val() == "BANK") {
                        //    $("#ChequeAmount").val(parseFloat(result[0].DKTTotal).toFixed(0));
                        //} else {
                        //    $("#CashAmount").val(parseFloat(result[0].DKTTotal).toFixed(0));
                        //}
                        $("#TDSPercentage").change();
                        checkpartialPayment(DomainName);
                        App.unblockUI();

                    },
                    error: function (req, status, error) {
                        //TosterNotification("error", 'Opration fail..!! There is some issue while update candidate status... Please try again later..', "Oppps..!!");
                        App.unblockUI('#responsive');
                    }
                });
            }
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                $("#CustomerMailID").hide();
                ControlDate();
                Formvalidate(DomainName, "form_sample");
                Formvalidate(DomainName, 'form_sample1');
                SubmitClick(DomainName);
                //PageLoadJS(DomainName);
                //BillingPartyAs(DomainName);
                select2Date(DomainName);
                ReceiptControl_DeliveryMR(DomainName);
                checkpartialPayment(DomainName);
                //$('#s2id_TransactionType').select2("data", { Value: "CASH", Text: "Cash" });
                $('#Dtl_IsAllowPartPayment').click(function () {
                    checkpartialPayment(DomainName);
                });

                var party_code = $("#Dtl_party_code").val();
                var csgecd = $('#Dtl_csgecd').val();
                var paybas = $("#Dtl_paybas").val();
                var doctype = $("#Dtl_doctype").val();
                if (paybas == "P03" && doctype != "IDT") {
                    if (party_code != csgecd) {
                        $("#btnSubmit").attr("disabled", true);
                        alert("Docket Billing Party and Consignee not Matched .Please contact to Administrator")

                    }
                }
                $('#Dtl_IsAllowPartDelivery').click(function () {
                    if ($(this).is(':checked')) {
                        $("#Dtl_PartPkgQty").attr('readonly', false);
                        $("#Dtl_PartPkgQty").attr('max', $("#Dtl_arrpkgqty").val());
                        $("#Dtl_PartPkgQty").val($("#Dtl_arrpkgqty").val());
                    }
                    else {
                        $("#Dtl_PartPkgQty").attr('readonly', true);
                        $("#Dtl_PartPkgQty").val(0);
                    }
                });

                CnorCnee(DomainName);
                var itemIndex = $("#container input.iHidden").length;

                setTimeout(
                 function () {
                     $("input:checkbox, input:radio").uniform();
                 }, 5000);

                $("#Dtl_MRDate").live('change', function () {

                    var startDate = $("#Dtl_MRDate").val().split(" ")[0] + " " + $("#Dtl_MRDate").val().split(" ")[1] + " " + $("#Dtl_MRDate").val().split(" ")[2];
                    var endDate = new Date(startDate).setDate(new Date(startDate).getDate() + 15);

                    if (startDate > "30 January 2018") {

                    }
                    else {

                    }
                });

                freightRateBlur(DomainName);
                //BkgChargeChange(DomainName);

                $(".clsBkgCharge").change(function () {
                    BkgChargeChange(DomainName);
                });

                $(".clsBkgCharge").focusout(function () {
                    BkgChargeChange(DomainName);
                });

                $(".clsDelCharge").change(function () {
                    BkgChargeChange(DomainName);
                });

                $(".clsDelCharge").focusout(function () {
                    BkgChargeChange(DomainName);
                });

                $(".weightContract, .frt_rateContract").focusout(function () {
                    freightRateBlur(DomainName);
                });

                $(".weightContract, .frt_rateContract").change(function () {
                    freightRateBlur(DomainName);
                });

                $("#NetPayabale").change(function () {
                    if ($("#TransactionType").val() == "BANK") {
                        $("#ChequeAmount").val($("#NetPayabale").val());
                    } else {
                        $("#CashAmount").val($("#NetPayabale").val());
                    }
                });
                //$("input[name='RDOReceiver']").click();
                //$('#Dtl_receivercode').attr('readonly', true);
                //$("#Dtl_receivercode").select2("data", { id: "8888", text: "8888" });

                $('#Dtl_csgecd').attr('readonly', false);

                //$('#Dtl_csgecd').select2("data", { id: "8888", text: "8888" });

                $("#Dtl_receivername").attr('readonly', false)

                if ($(this).attr("id") == "RDOReceiver1") {
                    $('#Dtl_receivercode').attr('readonly', false);
                    $('#Dtl_receivercode').select2('data', null);
                    ReceiverEnabledDisabled(true);
                }
                else {
                    $('#Dtl_receivercode').attr('readonly', true);
                    $("#Dtl_receivercode").select2("data", { id: "8888", text: "8888" });
                    ReceiverEnabledDisabled(false);
                }
                $("#Dtl_receivername").val("");
                if (formatDate(new Date(), "dd MMM yyyy") > "30 January 2018") {

                }
                else {

                }
            }
        }
    }();
</script>