﻿@model Fleet.ViewModels.DeliveryMR_Criteria
@{
    ViewBag.Title = "Delivery MR Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> DockSfList = new List<SelectListItem>();
    DockSfList.Add(new SelectListItem { Text = "Original", Value = "." });
    DockSfList.Add(new SelectListItem { Text = "A", Value = "A" });
    DockSfList.Add(new SelectListItem { Text = "B", Value = "B" });
    DockSfList.Add(new SelectListItem { Text = "C", Value = "C" });
    }

@using (Html.BeginForm("DeliveryMR_Generate", "Operation", FormMethod.Post, new { id = "submit_form", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>Delivery Criteria
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        CNote No:
                                    </label>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(c => c.DOCKNO, new { placeholder = "CNote No.", @class = "form-control required" })
                                        @Html.Hidden("DKTError")
                                    </div>                                 
                                    <div class="col-md-3">
                                        @Html.DropDownList("DOCKSF", DockSfList, new { placeholder = "Suffix", @class = "form-control required select2" })
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            
            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            $.validator.addMethod('checkDKTAvailabilityForDeliveryMR', function (value) {
                var StrURL = DomainName + "/Operation/IsDocketEligibleForDelMR?dockno=" + $("#DOCKNO").val().trim() + "&docksf=" + $("#DOCKSF").val().trim();
                // alert("hello " + StrURL);
                var result1 = $.ajax({
                    async: false,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: StrURL,
                    dataType: 'json',
                    data: {},
                });

                var d1 = JSON.parse(result1.responseText);

                $("#DKTError").val(d1.MSG);
                if (d1.Flg == "1") {
                    $("#btnSubmit").attr("disabled", false);
                    return true;
                }
                else {
                    $("#btnSubmit").attr("disabled", true);
                    return false;
                }
            }, $("#DKTCalledAs").val());
            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                rules: {
                    'DOCKNO': {
                        checkDKTAvailabilityForDeliveryMR: true,
                    },
                },

                messages: {
                    'DOCKNO': {
                        checkDKTAvailabilityForDeliveryMR: function () {
                            return $("#DKTError").val()
                        }
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    App.blockUI({ boxed: true });
                    form.submit()
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                $("#btnSubmit").attr("disabled", true);
            }
        }
    }();
</script>