﻿@model Fleet.ViewModels.Docket
@{
    ViewBag.Title = "Docket Financial Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("DocketCretriaAdd", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-10">
            <div class="portlet box @ViewBag.TableBoxColor ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title Criteria
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            You have some form errors. Please check below.
                        </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Your form validation is successful!
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            @ViewBag.DKTCalledAs No.
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.DockNo, new { placeholder = "Enter " + @ViewBag.DKTCalledAs + " No. ", @class = "span6 m-wrap required2 form-control", autocomplete = "off" })
                                            @Html.Hidden("DKTError")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-8">
                                <button type="button" id="btnSubmit" disabled="disabled" class="btn btn-sm blue"><i class="fa fa-search"></i>&nbsp;Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            $.validator.addMethod('checkDKTEditAvailability', function (value) {
                App.blockUI({ boxed: true });
                var StrURL = DomainName + "/Operation/CheckEditDocket?DocketNo=" + $("#DockNo").val().trim();
                // alert("hello " + StrURL);
                var result1 = $.ajax({
                    async: false,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: StrURL,
                    dataType: 'json',
                    data: {},
                });

                var d1 = JSON.parse(result1.responseText);

                $("#DKTError").val(d1.Status);

                if (d1.Status == "Done") {
                    $("#btnSubmit").attr("disabled", false);
                    App.unblockUI();
                    return true;
                }
                else {
                    $("#btnSubmit").attr("disabled", true);
                    App.unblockUI();
                    return false;
                }

            }, "");

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {
                    'DockNo': {
                        checkDKTEditAvailability: true,
                    },
                },
                messages: {
                    'DockNo': {
                        checkDKTEditAvailability: function () {
                            return $("#DKTError").val()
                        }
                    },
                    //'ServiceFor': {
                    //    required: "Please select at least one service for option",
                    //    minlength: jQuery.format("Please Select at Least One Service For Option")
                    //}
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    //if (element.parents('.checkbox-list').size() > 0) {
                    //    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    //} else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                    //}
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //form1.submit();
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);                

                $('#btnSubmit').click(function () {

                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        return false;
                    }
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                });
            }
        };
    }();

</script>