﻿@{
    ViewBag.Title = "Docket HO Verification List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model   Fleet.ViewModels.DocketHoVerificationViewModel
<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body flip-scroll">

                @using (Html.BeginForm("DocketHOVerificationSubmit", "Operation", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal", @enctype = "multipart/form-data" }))
                {
                    <div class="col-md-11">
                        <div class="form-group">
                            <label class="control-label col-md-2">Date Range :</label>
                            <div class="col-md-6 text-primary margin-top-5">
                                <b>@Html.DisplayFor(m => m.DATEFROM) - @Html.DisplayFor(m => m.DATETO)</b>
                                @Html.HiddenFor(m => m.DATEFROM)
                                @Html.HiddenFor(m => m.DATETO)
                            </div>
                        </div>
                    </div>

                    <div class="col-md-11">
                        <div class="form-group">
                            <label class="control-label col-md-2">Party Name :</label>
                            <div class="col-md-6 text-primary margin-top-5">
                                <b>@Html.DisplayFor(m => m.PartyCode) ~ @Html.DisplayFor(m => m.PartyName)</b>
                                @Html.HiddenFor(m => m.PartyName)
                                @Html.HiddenFor(m => m.PartyCode)
                            </div>
                        </div>
                    </div>
                    <div class="form-body">
                        <table class="table table-striped table-bordered table-hover table-full-width" id="Sample1">

                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        Action
                                    </th>
                                    <th class="center">
                                        Docket No
                                    </th>
                                    <th class="center">
                                        Docket Date
                                    </th>
                                    <th class="center">
                                        Billing Location
                                    </th>
                                    <th class="center">
                                        Origin-Destination
                                    </th>
                                    <th class="center">
                                        Transit Mode
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    @foreach (var item in Model.DocketList)
                                    {
                                        Html.RenderPartial("_DocketHOVerificationPartial", item);
                                    }
                                </tr>
                                @if (Model.DocketList.Count == 0)
                                {
                                    <tr><td class="center" colspan="6"><b>No Records Found</b></td></tr>
                                }
                            </tbody>
                        </table>
                        <p style="color:red;">
                            Select atleast one checkbox to view <strong>Submit</strong> button.
                        </p>
                        <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-9">
                                <a class="btn btn-sm default" href="@Url.Content("~/Operation/DocketHOVerificationCriteria")">
                                    <i class="fa fa-arrow-left"> </i>
                                    Back To Criteria
                                </a>
                                @if (Model.DocketList.Count() > 0)
                                {
                                    <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type='text/javascript'>

    var FormComponents = function (DomainName) {

        return {
            //main function to initiate the module
            init: function (DomainName) {

                $('#btnSubmit').hide();

                $('.IsCheck').attr("value",false);

                $(document).on('click', '#chkCheckAll', function () {
                    $('.IsCheck').prop('checked', $(this).prop('checked'));
                    if ($(this).prop('checked')) {
                        $('.IsCheck').parent('span').addClass('checked');
                        $('.IsCheck').val(true);
                        $('#btnSubmit').show();
                    }
                    else {
                        $('.IsCheck').parent('span').removeClass('checked');
                        $('.IsCheck').val(false);
                        $('#btnSubmit').hide();
                    }
                });

                $(document).on('change', ".IsCheck", function () {
                    var chkId = $(this).attr('id');
                    if (this.checked) {
                        $(this).val(true);

                    }
                    else {
                        $(this).val(false);

                    }
                    var count = 0;
                    $('.IsCheck').each(function () {
                        if (this.checked) {
                            $("#chkCheckAll").parent('span').removeClass('checked');
                            count = count + 1;
                        }
                    })
                    if (count == 0) {
                        $('#btnSubmit').hide();
                    }
                    else {
                        $('#btnSubmit').show();
                    }
                });

            }
        }
    }();

</script>

