﻿@model Fleet.ViewModels.vw_DRS_Summary
@using FleetDataService.Models
@{
    ViewBag.Title = "Selecte criteria for DRS Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();

    //List<Webx_Master_General> LoadingBy = MS.GetGeneralMasterObject().Where(c => c.CodeType == "LOADBY" && c.StatusCode == "Y").OrderBy(c => c.CodeDesc).ToList();
    List<CYGNUS_LoadingUnLoading_VendorType_Mapping> ListVendorType = MS.GetLoadingUnLoadingVendorTypeMappingList("U", @ViewBag.BaseLocationCode, "D");
    List<Webx_Master_General> RateList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "HANDCHRG" && c.StatusCode == "Y").OrderBy(c => c.CodeId).ToList();
    if (@ViewBag.BaseUserType == "XX5" || @ViewBag.BaseUserType == "08")//Franchise or BA
    {
        ListVendorType = ListVendorType.Where(c => c.CodeId == (MS.GetGeneralMasterObject().Where(m => m.CodeDesc == @ViewBag.BaseUserType && m.CodeType == "LOADVEND" && m.StatusCode == "Y").FirstOrDefault()).CodeId).ToList();
    }
    //else
    //{ // Staff
    //    var uids = MS.GetGeneralMasterObject().Where(m => m.CodeType == "LOADVEND" && m.StatusCode == "Y").Select(c => c.CodeId).ToList();
    //    ListVendorType = ListVendorType.Where(c => !uids.Contains(c.CodeId)).ToList();
    //}
}
@using (Html.BeginForm("DRSUpdateListJson", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        @*<input type="radio" checked="checked" id="RdbDate" name="optionsRadios2" value="RDO_1" />*@
                                        Select  Date
                                    </label>
                                    <div class="col-md-3">
                                        <div id="reportrange" class="btn default">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">

                            </label>
                            <div class="col-md-6">
                                <b>OR</b>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        @*<input type="radio" name="optionsRadios2" value="RDO_2" />*@
                                        DRS No(s).
                                    </label>
                                    <div class="col-md-3">
                                        @Html.HiddenFor(c => c.FromDate)
                                        @Html.HiddenFor(c => c.ToDate)
                                        @Html.TextBoxFor(c => c.DRSNoList, new { placeholder = "DRS No.", @class = "form-control" })
                                    </div>
                                    <p class="text-primary col-md-3">[Seperated by <b><i>Comma</i></b> if multiple]</p>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label class="control-label col-md-3">
                                        UnLoading By
                                    </label>
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(m => m.LoadingBy, new SelectList(ListVendorType.OrderBy(c => c.CodeDesc).ToList(), "CodeId", "CodeDesc"), "", new { @class = "select2 required2 required form-control", @placeholder = "Select UnLoading By" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label class="control-label col-md-3">
                                        Charge Type
                                    </label>
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(m => m.RateType, new SelectList(RateList, "CodeId", "CodeDesc"), "", new { @class = "select2 required2 required form-control", @placeholder = "Select Charge Type" })
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Get DRS List</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="ListofDRS" style="display:none">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>List of DRS for Update
                    </div>
                </div>

                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="DRSList" style="overflow-x: scroll;">
                        <thead>
                            <tr></tr>
                        </thead>
                    </table>
                </div>

                <div class="portlet-body" id="tblNorecord" style="display:none">
                    <table>
                        <tr>
                            <td><p class="Norecord">No Record Found..........</p></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }


        var HeaderArray = [
           {
               data: 'PDCNO',
               title: 'DRS #'
           },
           {
               data: 'pdc_dt',
               title: 'DRS Date'
           },
              {
                  data: 'TOT_DKT',
                  title: 'Total CNotes'
              }

        ];
        var loadData = function (DomainName, tblId) {
            App.blockUI({ boxed: true });
            var strUrl = $('#form_sample').attr('action');
            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: 'json',
                data: $('#form_sample').serialize(),
                success: function (result) {
                    if (result.length > 0) {
                        $('#' + tblId).DataTable({
                            data: result,
                            columns: HeaderArray,
                            "aoColumnDefs": [
                                  {
                                      "aTargets": [0],
                                      "mRender": function (data, type, full) {
                                          if (($("#LoadingBy").val() != "B" && data.split("~")[1] == "08") || ($("#LoadingBy").val() == "B" && data.split("~")[1] != "08")) {
                                              return data.split("~")[0];
                                          }
                                          else {
                                              return '<a href="@Url.Content("~/Operation/UpdateDRS")?DRSId=' + data.split("~")[0] + '&Loadby=' + $("#LoadingBy").val() + '&chargeType=' + $("#RateType").val() + '" class="btnTyreEdit" data-id="' + data.split("~")[0] + '">' + data.split("~")[0] + '</a>';
                                          }
                                      }
                                  }, ],
                        });
                        formateDataTable(tblId);
                        $('#' + tblId).parents('.row').show(500);
                        $("#ListofDRS").show();
                        $("#btnSubmit").attr('disabled', true);
                        $("#tblNorecord").hide();
                        Events(DomainName);
                    }
                    else {
                        $("#ListofDRS").show();
                        $("#tblNorecord").show();
                    }

                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }
        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');
            $('#btnSubmit').click(function () {
                if ($("#form_sample").valid()) {
                    App.blockUI({ boxed: true });
                    loadData(DomainName, 'DRSList');
                }
            });
            $('.btnEdit').click(function () {
                App.blockUI({ boxed: true });
            });
            $(".btnTyreEdit").live("click", function () {
                App.blockUI({ boxed: true });
            });
            $("#LoadingBy").change(function () {
                if ($(this).val() == "O" || $(this).val() == "B" || $(this).val() == "BP" || $(this).val() == "XX6" || $(this).val() == "XX9") { // XX6 = Franchise
                    $("#RateType").attr("disabled", true);
                }
                else
                    $("#RateType").attr("disabled", false);
            });
        }
        return {
            init: function (DomainName) {
                Events(DomainName);
                Formvalidate(DomainName);
            }
        }
    }();
</script>