﻿@model FleetDataService.ViewModels.GRNGenerationViewModel

@{
    ViewBag.Title = "GRN Generation Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //foreach (var item in Model.POList)
    //{
    //    item.GRNQTY = item.BALANCEQTY;
    //}

    if (Model.GRNDate == System.DateTime.MinValue)
    { 
        Model.GRNDate = System.DateTime.Now;
    }
}

@using (Html.BeginForm("GRNGenerationSubmit", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        GRN Number :
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.GRNNo, new { placeholder = "System Generated", @class = "form-control", @readonly = "true" })
                                        @Html.HiddenFor(c => c.GRNNo)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        GRN Location :
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        @Html.DisplayFor(c => c.GRNLocation)
                                        @Html.HiddenFor(c => c.GRNLocation)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        GRN Date :
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.GRNDate, new { placeholder = "System Generated", @class = "form-control", @readonly = "true" })
                                        @Html.HiddenFor(c => c.GRNDate)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        PO Number :
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        @Html.DisplayFor(c => c.PONo)
                                        @Html.HiddenFor(c => c.PONo)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        PO Date :
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        @Html.DisplayFor(c => c.PoDate)
                                        @Html.HiddenFor(c => c.PoDate)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Vendor :
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        @Html.DisplayFor(c => c.VendorName) ~ @Html.DisplayFor(c => c.VendorCode)
                                        @Html.HiddenFor(c => c.VendorName)
                                        @Html.HiddenFor(c => c.VendorCode)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Manual PO Number :
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        @Html.DisplayFor(c => c.ManualPONo)
                                        @Html.HiddenFor(c => c.ManualPONo)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        PO Type :
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        @Html.DisplayFor(c => c.MatCat)
                                        @Html.HiddenFor(c => c.MatCat)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        PO Amount :
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        @Html.DisplayFor(c => c.PoAmount)
                                        @Html.HiddenFor(c => c.PoAmount)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <table class="table table-striped table-bordered table-hover table-full-width center">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        Material Details
                                    </th>
                                    <th class="center">
                                        Description
                                    </th>
                                    <th class="center">
                                        PO Quantity
                                    </th>
                                    <th class="center">
                                        Rate
                                    </th>
                                    <th class="center">
                                        Received Qty (Till Date)
                                    </th>
                                    <th class="center">
                                        Received Qty (Current GRN)
                                    </th>
                                    <th class="center">
                                        Pending Qty
                                    </th>
                                    <th class="center clsTyre">
                                        View
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="Advice">
                                @foreach (var item in Model.POList)
                                {
                                    Html.RenderPartial("_GRNDetails", item);
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <a href="@Url.Content("~/Operation/GRNGenerationCriteria")" class="btn btn-sm default controls btnNumber"><i class="fa fa-arrow-left"></i>&nbsp;Back to Criteria</a>
                            <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.forms["form_sample"].submit();
                }
            });
        }

        var Events = function (DomainName) {
            $('.btnNumber').click(function () {
                App.blockUI({ boxed: true });
            });

            if ("@Model.MatCat.ToUpper()" == "TYRE") {
                $(".clsTyre").show();
            }
            else {
                $(".clsTyre").hide();
            }

            $(".GRNQTY").live("blur", function () {
                $("#" + $(this).attr('id').replace("GRNQTY", "BALANCEQTY")).val((parseFloat($("#" + $(this).attr('id').replace("GRNQTY", "GRNQTYOld")).val()) - parseFloat($(this).val())).toFixed(2));
            });

            $(".showTyre").live("click", function () {
                alert($(this).attr('id').split(' ~ '))
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                Events(DomainName);
            }
        }
    }();
</script>