﻿@model FleetDataService.ViewModels.POGRNTyreDetail
@using Fleet.Helpers;
@using Fleet.Models;
@using Fleet.Classes;

@{
    ViewBag.Title = "GRN Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (@Model.TyreCategory.ToUpper() == "DONE")
{
    <div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-check"></i> GRN Successfully @Model.TyreCategory
                </div>
            </div>
            <div class="portlet-body">
                <div class="margin-top-10 margin-bottom-10 clearfix">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    GRN Number
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a target="_blank" href="@Url.Content("~/ViewPrint/GRN_ViewPrint?GRNNO=" + @Model.Tyreno)"><b>@Model.Tyreno</b></a>
                                </td>
                                <td>
                                    <a class=" btn btn-xs default blue-stripe" target="_blank" href="@Url.Content("~/ViewPrint/GRN_ViewPrint?GRNNO=" + @Model.Tyreno)">View</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <span class="label label-danger">
                    NOTE!
                </span>&nbsp;
                <span> Click on GRN Number for View and Print.</span> || <a href="@Url.Content("~/Operation/GRNGenerationCriteria")">Click here to Generate GRN </a>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-danger fade in center">
            <h2 class="alert-heading">Opps! GRN Generation @Model.TyreCategory</h2>
            <h4>
                There is some issue with process. <br />Please check your internet connection else contact your administrator or service provider.
            </h4>
        </div>
    </div>
}