﻿@model FleetDataService.ViewModels.GRNGenerationViewModel

@{
    ViewBag.Title = "GRN Generation Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    foreach (var item in Model.POList)
    {
        item.GRNQTY = item.BALANCEQTY;
    }
    if (Model.GRNDate == System.DateTime.MinValue)
    {
        Model.GRNDate = System.DateTime.Now;
    }
}

@using (Html.BeginForm("GRNGenerationSubmit", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        GRN Number :
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.GRNNo, new { placeholder = "System Generated", @class = "form-control", @readonly = "true" })
                                        @Html.HiddenFor(c => c.GRNNo)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        GRN Location :
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        <b>@Html.DisplayFor(c => c.GRNLocation)</b>
                                        @Html.HiddenFor(c => c.GRNLocation)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        GRN Date :
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.GRNDate, new { placeholder = "System Generated", @class = "form-control", @readonly = "true" })
                                        @Html.HiddenFor(c => c.GRNDate)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        PO Number :
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        <b>@Html.DisplayFor(c => c.PONo)</b>
                                        @Html.HiddenFor(c => c.PONo)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        PO Date :
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        <b>@Html.DisplayFor(c => c.PoDate)</b>
                                        @Html.HiddenFor(c => c.PoDate)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Vendor :
                                    </label>
                                    <div class="col-md-8 text-primary margin-top-5">
                                        <b>@Html.DisplayFor(c => c.VendorName) ~ @Html.DisplayFor(c => c.VendorCode)</b>
                                        @Html.HiddenFor(c => c.VendorName)
                                        @Html.HiddenFor(c => c.VendorCode)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Manual PO Number :
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        <b>@Html.DisplayFor(c => c.ManualPONo)</b>
                                        @Html.HiddenFor(c => c.ManualPONo)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        PO Type :
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        <b>@Html.DisplayFor(c => c.MatCat)</b>
                                        @Html.HiddenFor(c => c.MatCat)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        PO Amount :
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        <b>@Html.DisplayFor(c => c.PoAmount)</b>
                                        @Html.HiddenFor(c => c.PoAmount)
                                        @Html.Hidden("TotalGen", 0)
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Manual GRN No:
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        @Html.TextBoxFor(m => m.ManualGRNNo, new { placeholder = "Manual GRN No", @class = "form-control"})
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Remarks :
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        @Html.TextAreaFor(m => m.Remarks, new { placeholder = "Remarks", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            
                        </div>




                        <div class="row">
                            <strong style="color:red;display:none" id="tyreDet">
                                Please enter Tyre details.
                            </strong>
                        </div>
                        <hr />
                        <table class="table table-striped table-bordered table-hover table-full-width center">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        SKU Code
                                    </th>
                                    <th class="center">
                                        SKU Name
                                    </th>
                                    <th class="center">
                                        Description
                                    </th>
                                    <th class="center">
                                        PO Quantity
                                    </th>
                                    <th class="center">
                                        Rate
                                    </th>
                                    <th class="center">
                                        Other Charge
                                    </th>
                                    <th class="center">
                                        Received Qty (Till Date)
                                    </th>
                                    <th class="center">
                                        Received Qty (Current GRN)
                                    </th>
                                    <th class="center">
                                        Pending Qty
                                    </th>
                                    <th class="center">
                                        Taxable Amount
                                    </th>
                                    <th class="center">
                                        GST Amount
                                    </th>
                                    <th class="center clsTyre">
                                        View
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="Advice">
                                @foreach (var item in Model.POList)
                                {
                                    Html.RenderPartial("_GRNDetails", item);
                                }
                            </tbody>
                        </table>
                        <hr />
                        <table class="table table-striped table-bordered table-hover table-full-width center" id="tbltyre" style="display:none">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        Sr No.
                                    </th>
                                    <th class="center">
                                        Tyre No.
                                    </th>
                                    <th class="center">
                                        Tyre Size
                                    </th>
                                    <th class="center">
                                        Tyre MFG
                                    </th>
                                    <th class="center">
                                        Tyre Model
                                    </th>
                                    <th class="center">
                                        Tyre Category
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="TbodyTyre">
                                @{
    Html.RenderPartial("_GRNTyreDetail_obj", Model.POTyreList);
                                }
                            </tbody>
                            <tr>
                                <td colspan="6"><button type="button" id="btnsaveXml" class="btn btn-sm blue controls"><i class="fa fa-check"></i>&nbsp;Click Here To Save SKU Wise Tyre No Details</button></td>
                            </tr>
                        </table>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <a href="@Url.Content("~/Operation/GRNGenerationCriteria")" class="btn btn-sm default controls btnNumber"><i class="fa fa-arrow-left"></i>&nbsp;Back to Criteria</a>
                            <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        /* Click Here for Tyre Details   List Of Tyre*/
        var AddQuestions = function (DomainName, itemIndex, ItemDesc, TOTRows, Rate) {
            var res = ItemDesc.split("~");
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Operation/AddGRNTyreList?SrNo=' + itemIndex + "&Size=" + res[3] + "&MFG=" + res[1] + "&Model=" + res[0] + "&Category=" + res[2] + "&TotalRow=" + TOTRows + "&Rate=" + Rate;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#tbltyre").show(500)
                    $("#TbodyTyre").html(html);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
            //FTL

        }

        var Events = function (DomainName) {
            $('.btnNumber').click(function () {
                App.blockUI({ boxed: true });
            });

            $("#btnSubmit").click(function () {

                if ($("form_sample").valid) {
                    if ("@Model.MatCat.ToUpper()" == "TYRE") {
                        if ($("#TotalGen").val() == '@Model.POList.Count') {
                            App.blockUI({ boxed: true });
                            $("#tyreDet").hide();
                            document.forms["form_sample"].submit();
                        }
                        else {
                            $("#tyreDet").show();
                        }
                    }
                    else {
                        App.blockUI({ boxed: true });
                        document.forms["form_sample"].submit();
                    }
                    @*alert($("#TotalGen").val() + "  " + '@Model.POList.Count')
                    if ($("#TotalGen").val() == '@Model.POList.Count') {

                        if ("@Model.MatCat.ToUpper()" == "TYRE") {
                            $("#tyreDet").show();
                        }
                        else {
                            $("#tyreDet").hide();
                        }*@

                    //document.forms["form_sample"].submit();
                }
                else {
                    App.unblockUI();
                    return false;
                }
            });

            if ("@Model.MatCat.ToUpper()" == "TYRE") {
                $(".clsTyre").show();
            }
            else {
                $(".clsTyre").hide();
            }
            $(".BALANCEQTY").val(0);
            $(".GRNQTY").live("blur", function () {
                $("#" + $(this).attr('id').replace("GRNQTY", "BALANCEQTY")).val((parseFloat($("#" + $(this).attr('id').replace("GRNQTY", "GRNQTYOld")).val()) - parseFloat($(this).val())).toFixed(2));
                var recieveQty = parseFloat($(this).val());
                var tax_per = parseFloat($("#" + $(this).attr('id').replace("GRNQTY", "tax_per")).val());
                var rate = parseFloat($("#" + $(this).attr('id').replace("GRNQTY", "rate")).val());
                var Discount_Per = parseFloat($("#" + $(this).attr('id').replace("GRNQTY", "Discount_Per")).val());
                var subTotal = (recieveQty * rate);
                var discountAmount = (subTotal * Discount_Per) / 100;
                var GSTAmount = "#" + $(this).attr('id').replace("GRNQTY", "GSTAmount");
                var taxableAmt = "#" + $(this).attr('id').replace("GRNQTY", "taxableAmt");
                $(taxableAmt).val((subTotal - discountAmount).toFixed(2));
                $(GSTAmount).val(((subTotal - discountAmount) * tax_per / 100).toFixed(2));
            });

            $(".showTyre").live("click", function () {

                var ID = $(this).attr('id').split(' ~ ');
                $("#GRNDetails_" + ID + "__GRNQTY").attr("readonly", true);
                var RecVieQty = $("#GRNDetails_" + ID + "__GRNQTY").val()
                var itemIndex = 0;
                var ItemDesc = $("#GRNDetails_" + ID + "__Item_Desc").val();
                var Rate = $("#GRNDetails_" + ID + "__rate").val();
                $(this).hide();
                var TOTRows = parseInt(RecVieQty);
                //alert(ItemDesc)
                AddQuestions(DomainName, itemIndex, ItemDesc, TOTRows, Rate);
            });

            $("#btnsaveXml").click(function () {
                if ($("#form_sample").valid()) {
                    App.blockUI({ boxed: true });
                    $.ajax({
                        url: DomainName + '/Operation/AddTyreGeneratedXML',
                        type: 'post',
                        cache: false,
                        data: $("#form_sample").serialize(),
                        success: function (data) {
                            if (data.Count == "SUCESS") {
                                $("#tbltyre").hide()
                                $("#TbodyTyre").html("");
                                $("#TotalGen").val(parseInt($("#TotalGen").val()) + 1);
                                App.unblockUI();
                            }
                            App.unblockUI();
                        }
                    });
                }
                else {
                    App.unblockUI();
                    return false;
                }
            });

            $(".checkTyreNo").live("change", function () {

                var ID = $(this).attr('id');
                var Value = $("#" + $(this).attr('id')).val();;

                $(".checkTyreNo").each(function () {
                    var IDInner = $(this).attr("id");
                    var ValueInner = $("#" + $(this).attr("id")).val();
                    //alert(ValueInner + '__' + Value);
                    if (IDInner != ID && ValueInner == Value) {
                        alert("Can not enter duplicate number.");
                        $("#" + ID).val('');
                        return false;
                    }
                    else {
                        $.validator.addMethod('checkTyreNo', function (value, element) {
                            var result = "0"
                            //alert(value + "  " + $(element).attr('id'));

                            //GRNTyreList_1__TyreMFGID
                            if (value) {

                                var StrURL = DomainName + "/Operation/CheckTyreNowithManufacturer?TyreNo=" + value + "&MFGID=" + $("#" + $(element).attr('id').replace('Tyreno', 'TyreMFGID')).val().trim();
                                // alert("hello " + StrURL);
                                var result1 = $.ajax({
                                    async: false,
                                    type: 'POST',
                                    contentType: 'application/json; charset=utf-8',
                                    url: StrURL,
                                    dataType: 'json',
                                    data: {},
                                });

                                result = JSON.parse(result1.responseText).CNT;
                            }

                            if (result == "0") {
                                return true;
                            }
                            else {
                                return false;
                            }
                        }, "Tyre is exist with the same Manufacturer !!!");
                    }
                });
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                Events(DomainName);
            }
        }
    }();
</script>