﻿@model Fleet.ViewModels.GRNGenerationReAssignviewModel
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    ViewBag.Title = "GRN Genration Assign Reassign Bill Entry Payment View Print List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontalrow-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Header
                    </div>
                    <div class="caption pull-right">
                        <a href="@Url.Content("~/Operation/GRNGenerationViewPrint")" class="btn btn-xs default"><i class=" fa fa-arrow-left"></i>&nbsp;Back To Criteria</a>
                    </div>
                </div>
                <div class="portlet-body" id="divCrieteria">
                    <div class="form-body">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    @if (ViewBag.ASSETTYPE == "REASSIGN")
                                    {
                                        <th class="center"><b>GRN ReAssign No </b></th>
                                        <th class="center"><b>GRN CODE</b></th>
                                        <th class="center"><b>GRN DATE</b></th>
                                        <th class="center"><b>Iteam Name And ItemCode</b></th>
                                        <th class="center"><b>Qty</b></th>
                                        <th class="center"><b>ReAssign To Location</b></th>
                                        <th class="center"><b>Employee</b></th>
                                        <th class="center"><b> Department Name</b></th>
                                        <th class="center"><b> Issue Date</b></th>
                                        

                                    }
                                    @if (ViewBag.ASSETTYPE == "ASSIGN")
                                    {
                                        <th class="center"><b>GRN Assign No </b></th>
                                        <th class="center"><b>Assign To Location</b></th>
                                        <th class="center"><b>GRN CODE</b></th>
                                        <th class="center"><b>GRN DATE</b></th>
                                        <th class="center"><b>Iteam Name And ItemCode</b></th>
                                        <th class="center"><b>Qty</b></th>
                                        <th class="center"><b>Description</b></th>
                                        <th class="center"><b>Employee</b></th>
                                        <th class="center"><b> Department Name</b></th>
                                        <th class="center"><b> Issue Date </b></th>
                                        

                                    }

                                    @if (ViewBag.ASSETTYPE == "BILLENTRYPAYMENT")
                                    {
                                        <th class="center"><b>Billno</b></th>
                                        <th class="center"><b>Vendor Name</b></th>
                                        <th class="center"><b>Vendor Bill Date</b></th>
                                        <th class="center"><b>Vendor Bill No</b></th>
                                        <th class="center"><b>Voucher No</b></th>
                                        <th class="center"><b>Branch</b></th>
                                        <th class="center"><b>Payment Date</b></th>

                                    }
                                    <th class="center"><b> View </b></th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var itam in Model.GRNLIST)
                                {
                                    Html.RenderPartial("_GRNGENERATIONVIEWPRINTLIST", itam);
                                }
                            </tbody>
                        </table>
                        @Html.HiddenFor(c => c.UitilityType)
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        
        return {
            //main function to initiate the module
            init: function (DomainName) {
                 
                $(".caption a").click(function () {
                    App.blockUI({ boxed: true });
                });
            }
        }
    }();
</script>