﻿@model FleetDataService.ViewModels.GRNGenerationViewModel
@{
    ViewBag.Title = "GRN Generation Entry List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a class="btn btn-xs default btnNumber" href="@Url.Content("~/Operation/GRNGenerationCriteria")">
                        <i class="fa fa-arrow-left"> </i>
                        Back To Criteria
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                     
                    <table class="table table-striped table-bordered table-hover table-full-width center">
                        <thead class="flip-content">
                            <tr>
                                <th class="center">
                                    PO Code
                                </th>
                                <th class="center">
                                    Manual PO Code
                                </th>
                                <th class="center">
                                    PO Date
                                </th>
                                <th class="center">
                                    PO Type
                                </th>
                                <th class="center">
                                    Vendor
                                </th>
                                <th class="center">
                                    PO Amount
                                </th>
                                <th class="center">
                                    PO Qty.
                                </th>
                                <th class="center">
                                    Assign
                                </th>
                            </tr>
                        </thead>
                        <tbody id="Advice">
                            @foreach (var item in Model.POList)
                            {
                                var vendName = item.Vendorname.Split('~')[0];
                                var vendCode = item.Vendorname.Split('~')[1];
                                <tr>
                                    <td>
                                        @item.pocode
                                    </td>
                                    <td>
                                        @item.Manual_PO_No
                                    </td>
                                    <td>
                                        @item.Podate
                                    </td>
                                    <td>
                                        @item.POTYPE
                                    </td>
                                    <td>
                                        @item.Vendorname
                                    </td>
                                    <td>
                                        @item.PO_AMOUNT
                                    </td>
                                    <td>
                                        @item.TotalQty
                                    </td>
                                    <td>
                                        <a href="@Url.Content("~/Operation/GRNDetails?PONo=" + item.pocode + "&VendorCode=" + @vendCode + "&VendorName=" + @vendName)" class="btn btn-xs default blue-stripe btnNumber">Assign</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Events = function (DomainName) {
            $('.btnNumber').click(function () {
                App.blockUI({ boxed: true });
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Events(DomainName);
            }
        }
    }();
</script>