﻿@model FleetDataService.ViewModels.BABillEnty
@using Fleet
@using Fleet.ViewModels
@{
    ViewBag.Title = "GRN Generation ReAssign List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-list"></i>@ViewBag.Title
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("GRNGenerationReAssignSubmit", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <div class="portlet-body clsMF flip-scroll">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                            <tr>
                                <th class="center">
                                    Select
                                </th>
                                <th class="center">
                                    Assign Branch
                                </th>
                                <th class="center">
                                    GRN CODE
                                </th>
                                <th class="center">
                                    GRN DATE
                                </th>
                                <th class="center">
                                    Iteam Name Nd Code
                                </th>
                                <th class="center">
                                    QTY
                                </th>
                                <th class="center">
                                    ReAssign To Location
                                </th>
                                <th class="center">
                                    Description
                                </th>
                                <th class="center">
                                    Employee
                                </th>
                                <th class="center">
                                    Department Name
                                </th>
                                <th class="center">
                                    Issue Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itm in Model.POList)
                            {
                                Html.RenderPartial("_GRNGenerationReAssignList", itm);
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">

                    <a class="btn btn-sm default controls" href="@Url.Action("GRNGenerationReAssign","Operation")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
                    <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },
                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    //App.blockUI({ boxed: true });
                    //document.forms["form_sample"].submit();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                handleDateRangePickers();
                Formvalidate(DomainName);
                $('#btnSubmit').hide();

                $('#btnSubmit').click(function () {
                    Formvalidate(DomainName);
                    if ($("#form_sample").valid()) {
                        App.blockUI({ boxed: true });
                        document.forms["form_sample"].submit();
                    }
                });
                $('.date-picker').datepicker({
                    isRTL: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,

                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    todayBtn: true
                });
 
                $('.CLSCHK').each(function () {

                    var id = $(this).attr('id').replace("IsEnabled", "");
                    var checked = jQuery(this).is(":checked");
                    $("#" + id + "qty").removeClass("required required2");
                    $("#" + id + "AssignToLoca").removeClass("required required2");
                    $("#" + id + "Description").removeClass("required required2");
                    $("#" + id + "Employee").removeClass("required required2");
                    $("#" + id + "DpartName").removeClass("required required2");
                    $("#" + id + "Issuedate").removeClass("required required2");

                })

                $('.CLSCHK').click(function () {

                    totchk = 0;

                    var id = $(this).attr('id').replace("IsEnabled", "");
                    var checked = jQuery(this).is(":checked");

                    if (checked) {
                        $("#" + id + "qty").addClass("required required2");
                        $("#" + id + "AssignToLoca").addClass("required required2");
                        $("#" + id + "Description").addClass("required required2");
                        $("#" + id + "Employee").addClass("required required2");
                        $("#" + id + "DpartName").addClass("required required2");
                        $("#" + id + "Issuedate").addClass("required required2");
                    }
                    else {

                        $("#" + id + "qty").removeClass("required required2");
                        $("#" + id + "AssignToLoca").removeClass("required required2");
                        $("#" + id + "Description").removeClass("required required2");
                        $("#" + id + "Employee").removeClass("required required2");
                        $("#" + id + "DpartName").removeClass("required required2");
                        $("#" + id + "Issuedate").removeClass("required required2");
                    }

                    $('.CLSCHK').each(function () {
                        var checked1 = jQuery(this).is(":checked");
                        if (checked1)
                            totchk++;
                        if (totchk == 0)
                            $('#btnSubmit').hide();
                        else
                            $('#btnSubmit').show();
                    });
                });
                var StrURL = DomainName + "/FixAssets/GetReassignLocationsDetails";
                JsonDDLSelectCode("AssignToLoca", StrURL);

            }
        }
    }();
</script>
