﻿@model Fleet.ViewModels.DocketViewModel
@using FleetDataService.Models
@using Fleet.ViewModels
@using Fleet
@{
    ViewBag.Title = "IDTEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Model.WMD.DOCKDT = System.DateTime.Now;
    Model.WMD.ORGNCD = ViewBag.BaseLocationCode;

    objDate OD = new objDate();
    OD.ControlId = "WMD.DOCKDT";
    OD.ControlValue = Model.WMD.DOCKDT.ToString();
    OD.ModuleCode = "01";
    List<SelectListItem> BlankList = new List<SelectListItem>();
    List<SelectListItem> ConsignorPinCode = new List<SelectListItem>();
    List<SelectListItem> ConsigneePinCode = new List<SelectListItem>();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> generalMasterList = MS.GetGeneralMasterObject().ToList();
}



<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@ViewBag.DKTCalledAs Entry
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("IDTDocketSubmit", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>

                <div id="divStep1">
                    <label class="control-label" id="errorMsgForContract" style="font-family:Verdana;font-weight:bold;color:red;display:none;">Cutomer Contract not found or May be Expire, Please contact you administrator for further detail.</label>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">IDT Number </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WMD.DOCKNO, new { placeholder = "System Generated", @class = "required2 form-control", @readonly = "readonly" })
                                    @Html.Hidden("DOCTYP")
                                    @Html.HiddenFor(m => m.WMD.GCType)

                                    @Html.HiddenFor(m => m.WMD.ContractId)
                                    @Html.HiddenFor(m => m.WMD.CFTWeightType)
                                    @Html.HiddenFor(m => m.WMD.VolMeasureType)
                                    @Html.HiddenFor(m => m.WMD.party_as)
                                    @Html.Hidden("DKTError")

                                    @Html.HiddenFor(m => m.WMD.KM_From_Location)
                                    @Html.HiddenFor(m => m.WMD.Is_ODA_Apply)
                                    @Html.HiddenFor(m => m.WMD.ODAFlag)
                                    @Html.HiddenFor(m => m.IsCompletion)

                                    @Html.HiddenFor(m => m.WMD.OriginStateCode)
                                    @Html.HiddenFor(m => m.WMD.IsOriginUnionTerritory)
                                    @Html.HiddenFor(m => m.WMD.DestStateCode)
                                    @Html.HiddenFor(m => m.WMD.IsDestUnionTerritory)
                                    @Html.HiddenFor(m => m.WMD.IsUnionTeritory)
                                    @Html.HiddenFor(m => m.WMDC.GSTType)
                                    @Html.HiddenFor(m => m.WMD.BillingState)

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">@ViewBag.DKTCalledAs Date</label>
                                <div class="col-md-7">
                                    @{
            Html.RenderPartial("../UserControls/_DocumentDate", OD);
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Payment Basis</label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(c => c.WMD.PAYBAS, new SelectList(generalMasterList.Where(c => c.CodeType == "PAYTYP" && c.StatusCode == "Y" && c.CodeId != "P04" && c.CodeId != "P02"), "CodeId", "CodeDesc", Model.WMD.PAYBAS), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Billing Type" })
                                    @Html.HiddenFor(m => m.WMD.FlagStaxBifer)
                                    @Html.HiddenFor(m => m.WMD.ChargeRule)
                                    @Html.HiddenFor(m => m.WMD.ChargeSubRule)
                                    @Html.HiddenFor(m => m.WMD.BaseCode1)
                                    @Html.HiddenFor(m => m.WMD.BaseCode2)
                                    @Html.HiddenFor(m => m.WMD.ContractDepth)
                                    @Html.HiddenFor(m => m.WMD.FlagProceed)
                                    @Html.HiddenFor(m => m.WMD.FLAG_PRORATA)
                                    @Html.HiddenFor(m => m.WMD.MinFreightType)
                                    @Html.HiddenFor(m => m.WMD.FLAG_Freight)
                                    @Html.HiddenFor(m => m.WMD.doctype)

                                    @Html.HiddenFor(m => m.WMD.FLAG_Subtotal)
                                    @Html.HiddenFor(m => m.WMD.MinFreightBas)
                                    @Html.HiddenFor(m => m.WMD.MinFreightBasRate)
                                    @Html.HiddenFor(m => m.WMD.SubTotalUpperLimit)
                                    @Html.HiddenFor(m => m.WMD.SubTotalLowerLimit)
                                    @Html.HiddenFor(m => m.WMD.MinSubtotal)
                                    @Html.HiddenFor(m => m.WMD.FreightRateUpperLimit)
                                    @Html.HiddenFor(m => m.WMD.FreightRateLowerLimit)
                                    @Html.HiddenFor(m => m.WMD.MinFreightRate)
                                    @Html.HiddenFor(m => m.WMD.FuelRateType)
                                    @Html.HiddenFor(m => m.WMD.FuelRate)
                                    @Html.HiddenFor(m => m.WMD.MinFuleCharge)
                                    @Html.HiddenFor(m => m.WMD.MaxFuelCharge)
                                    @*@Html.HiddenFor(m => m.WMD.EDD_TRANSIT)
                                        @Html.HiddenFor(m => m.WMD.EDD_NDAYS)
                                        @Html.HiddenFor(m => m.WMD.FLAG_CUTOFF)
                                        @Html.HiddenFor(m => m.WMD.EDD_ADD_HDAYS)*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Billing Party</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WMD.PARTY_CODE, new { placeholder = "Billing Party", @class = "required2 form-control required" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Customer CNote No </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WMD.manual_dockno, new { placeholder = "Customer CNote No", @class = "required2 form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Customer CNote Date </label>
                                <div class="col-md-7 radio-list">
                                    <div class="input-group date CustomerCNoteDate-picker" data-date-format="dd MMM yyyy">
                                        @Html.TextBoxFor(m => m.WMD.CustomerRefDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMMM yyyy")), new { @class = "form-control required2", @placeholder = "dd MMM yyyy" })
                                        <span class="input-group-btn">
                                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Origin </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WMD.ORGNCD, new { placeholder = ViewBag.DKTCalledAs + " No", @class = "required2  form-control", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                        @*START GST Changes Chirag D*@
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Destination </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WMD.DESTCD, new { placeholder = "Destination", @class = "required2 form-control required" })
                                </div>
                            </div>
                        </div>
                        @*END GST Changes Chirag D*@
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Transit Mode </label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(c => c.WMD.TRN_MOD, new SelectList(BlankList, "Value", "Text", Model.WMD.TRN_MOD), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Transit Mode" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="divStep2">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">From City</label>
                                <div class="col-md-7">
                                    @*@Html.TextBoxFor(m => m.WMD.from_loc, new { placeholder = "From City", @class = "required2 form-control required"  })*@
                                    @Html.DropDownListFor(c => c.WMD.from_loc, new SelectList(BlankList, "Value", "Text", Model.WMD.from_loc), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select From City" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">To City </label>
                                <div class="col-md-7">
                                    @*@Html.TextBoxFor(m => m.WMD.to_loc, new { placeholder = "To City", @class = "required2 form-control required" })*@
                                    @Html.DropDownListFor(c => c.WMD.to_loc, new SelectList(BlankList, "Value", "Text", Model.WMD.to_loc), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select To City" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Packaging Type </label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(c => c.WMD.PKGSTY, new SelectList(BlankList, "Value", "Text", Model.WMD.PKGSTY), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Packaging Type" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Contents</label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(c => c.WMD.PRODCD, new SelectList(BlankList, "Value", "Text", Model.WMD.PRODCD), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Contents" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Customer Ref. No</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WMD.ctr_no, new { placeholder = "Customer Ref. No", @class = "required2 form-control" })

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <h4 class="form-section">Consignor & Consignee Details</h4>

                <div id="divStep3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-2">
                                    <h5><b>Consignor </b></h5>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Select Name </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.CSGNCD, new { placeholder = "Consignor Code", @class = "required2 form-control required clsCnor1", @readonly = "true" })
                                            @Html.HiddenFor(m => m.WMD.CSGNCD)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5"></label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.CSGNNM, new { placeholder = "Consignor Name", @class = "required2 form-control required clsCnor", @readonly = "true" })
                                            @Html.HiddenFor(m => m.WMD.CSGNNM)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Address </label>
                                        <div class="col-md-7">
                                            @Html.TextAreaFor(m => m.WMD.CSGNADDR, new { placeholder = "Address", @class = "required2 form-control required", @readonly = "true" })@*clsCnor*@
                                            @Html.HiddenFor(m => m.WMD.CSGNADDR)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">City </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.CSGNCity, new { placeholder = "City", @class = "required2 form-control required", @readonly = "true" })@*clsCnor*@
                                            @Html.HiddenFor(m => m.WMD.CSGNCity)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Pincode </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.CSGNPinCode, new { placeholder = "Pincode", @class = "required2 form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Mobile No </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.csgnmobile, new { placeholder = "Mobile No", @class = "form-control mobileIN", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))", @maxlength = 10 })@*clsCnor*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">GST No. </label>
                                        <div class="col-md-7">

                                            @Html.TextBoxFor(m => m.WMD.CustGSTNo, new { placeholder = "Consignor GST No.", @class = " form-control  GSTNo", @maxlength = "15" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-2">
                                    <h5><b>Consignee </b></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Select Consignee </label>
                                        <div class="col-md-7 radio-list">
                                            <label class="radio-inline">
                                                <input type="radio" name="RDOCnee" id="RDOCnee1" checked value="RDOCnee1" class="clsCnee"> From Master
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="RDOCnee" id="RDOCnee2" value="RDOCnee2" class="clsCnee"> Walk-In
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Select Name </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.CSGECD, new { placeholder = "Consignor Code", @class = "required2 form-control required clsCnee1" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5"></label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.CSGENM, new { placeholder = "Consignor Name", @class = "required2 form-control required clsCnee" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Address </label>
                                        <div class="col-md-7">
                                            @Html.TextAreaFor(m => m.WMD.CSGEADDR, new { placeholder = "Address", @class = "required2 form-control required" })@*clsCnee*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">City </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.CSGECity, new { placeholder = "City", @class = "required2 form-control required" })@*clsCnee*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Pincode </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.CSGEPinCode, new { placeholder = "Pincode", @class = "required2 form-control required" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Mobile No </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.csgemobile, new { placeholder = "Mobile No", @class = "form-control mobileIN", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))", @maxlength = 10 })@*clsCnor*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">GST No. </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.CSGECustGSTNo, new { placeholder = "Consignee GST No.", @class = " form-control GSTNo", @maxlength = "15" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <h4 class="form-section">Invoice Details</h4>
                <div id="divStep4">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">No Of Rows </label>
                                <div class="col-md-7">
                                    @Html.TextBox("InvoiceRows", "0", new { placeholder = "Private Mark", @class = "input-small required2 form-control required", @onkeypress = "javascript:return validInt(event)" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <a id="btnAddRows" class="btn  btn-sm @ViewBag.TableBoxColor right">
                                <i class="fa fa-plus"></i> Add New Row
                            </a>
                        </div>
                        <div class="col-md-5">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet-body flip-scroll">
                                <table id="container" class="table table-bordered table-striped table-condensed flip-content">
                                    <thead class="flip-content">
                                        <tr>
                                            <th class="center">
                                                Sr. No.
                                            </th>
                                            <th class="center">
                                                Invoice No
                                            </th>

                                            <th class="center">
                                                Invoice Date
                                            </th>


                                            <th class="center">
                                                Declared Value
                                            </th>
                                            @*<th class="center">
                                                    Part No.
                                                </th>*@
                                            <th class="center">
                                                No of Pkgs.
                                            </th>

                                            <th class="center">
                                                Actual Weight
                                            </th>

                                            <th class="center">X</th>
                                        </tr>
                                    </thead>
                                    <tbody id="Bodycontainer">
                                        @foreach (var itm in Model.ListInVoice)
                                        {
                                            Html.RenderPartial("_IDTDocketInvoice", itm);
                                        }
                                    </tbody>

                                    <tr class="editorRow">
                                        <td></td>
                                        <td></td>
                                        @*<td></td>*@
                                        <td></td>
                                        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
                                            @Html.TextBoxFor(c => c.WMD.DECVAL, new { @readonly = "true", @class = "input-xsmall clsAmount required2 required", @type = "number" })
                                        </td>

                                        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
                                            @Html.TextBoxFor(c => c.WMD.PKGSNO, new { @readonly = "true", @class = "input-xsmall clsAmount required2 required", @type = "number" })
                                        </td>

                                        <td class="center form-group" style="padding-bottom: 2px; padding-top: 2px;">
                                            @Html.TextBoxFor(c => c.WMD.ACTUWT, new { @readonly = "true", @class = "input-xsmall clsAmount required2 required", @type = "number" })
                                        </td>
                                        <td></td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div id="divStep5">
                    <h5 class="form-section">Charges Details</h5>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Freight Amount</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WMDC.FREIGHT, new { placeholder = "Freight Amount", @class = "required2 clsAmount form-control required", @type = "number", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Crossing Hamali</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WMDC.SCHG02, new { placeholder = "Crossing Hamali", @class = "required2 clsAmount form-control required", @type = "number", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Booking Charges</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WMDC.SCHG01, new { placeholder = "Booking Charges", @class = "required2 clsAmount form-control required", @type = "number", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })

                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5"><b>SUB-TOTAL</b></label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WMDC.SubTotal, new { placeholder = "SUB-TOTAL", @class = "required2 clsAmount form-control required clsROFixed", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5"><b>TOTAL</b></label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.WMDC.DKTTOT, new { placeholder = "TOTAL", @class = "required2 form-control clsAmount required clsROFixed", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-actions fluid">
                    <div class="col-md-offset-4 col-md-8">
                        <a class="btn btn-sm default controls" href="@Url.Action("Docket","Operation")"> <i class="fa fa-refresh"> </i>&nbsp;Reset</a>
                        <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                    </div>
                </div>
            </div>
        }


    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName, formId) {

            var form1 = $('#' + formId);
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            //START GST Changes Chirag D



            //END GST Changes Chirag D

            jQuery.validator.addMethod("FutureDateValidate", function (value, element) {

                var DKTDate = value;

                var date = $('#datepicker').datepicker('getDate');
                var now = new Date();
                var myDate = new Date(ChangeInJQDate(DKTDate));
                //alert("myDate " + new Date(myDateFormatter(DKTDate)) + " now " + now + " value  " + new Date(value));
                return this.optional(element) || new Date(myDateFormatter(DKTDate)) < now;

                // else alert('Das passt nicht!' + mD +  '   ' + nowdate);

            });

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input

                rules: {
                },
                messages: {


                },
                errorPlacement: function (error, element) {
                    error.insertAfter(element); // for other inputs, just perform default behavior

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    for (var i = 0; i < validator.errorList.length; i++) {

                    }
                    //validator.errorMap is an object mapping input names -> error messages
                    for (var i in validator.errorMap) {
                    }
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //  form1.submit();
                }
            });
        }

        var handleDatePicker1 = function () {
            //if (jQuery().datepicker) {
            $('.date-picker').datepicker({
                isRTL: App.isRTL(),
                format: "dd/mm/yyyy",
                autoclose: true,
                pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                todayBtn: true
            });
            $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            //}
        }

        var select2Date = function (DomainName) {
            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }
        var JsGetCNorCneeDetailsforDate = function (DomainName, Party, PartyAs) {

            var PayBas = $("#WMD_PAYBAS").val();

            if (Party != "") {
                App.blockUI({ boxed: true });
                var StrURL = DomainName + "/Operation/GetCustomerDetails?custcd=" + Party;
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: StrURL,
                    dataType: 'json',
                    data: {},
                    success: function (data) {


                        if (PartyAs.toUpperCase() == "CSGN") {

                            $("#WMD_CSGNCD").val(Party);
                            $("#WMD_CSGNNM").val(data.Name);
                            $("#WMD_CSGNADDR").val(data.Address);
                            $("#WMD_CSGNCity").val(data.City);
                            $("#WMD_CSGNPinCode").val(data.Pincode);
                            $("#WMD_csgnmobile").val(data.Mobileno);
                            $("#WMD_CustGSTNo").val(data.GSTNO);

                            //$("#WMD_CSGNCD").attr("disabled", "true");
                            //$("#WMD_CSGNNM").attr("disabled", "true");
                            //$("#WMD_CSGNADDR").attr("disabled", "true");
                            //$("#WMD_CSGNCity").attr("disabled", "true");
                        }
                        else {

                            $("#WMD_CSGECD").val(Party);
                            $("#WMD_CSGENM").val(data.Name);
                            $("#WMD_CSGEADDR").val(data.Address);
                            $("#WMD_CSGECity").val(data.City);
                            $("#WMD_CSGEPinCode").val(data.Pincode);
                            $("#WMD_csgemobile").val(data.Mobileno);
                            $("#WMD_CSGECustGSTNo").val(data.GSTNO);
                        }
                        App.unblockUI();
                    },
                    error: function () {
                        alert("error 1111");
                    }
                });
            }
        }
        var GetContacrtDetails = function (DomainName) {

            var Destination = $("#WMD_DESTCD").val();

            var StrURL = DomainName + "/Master/GetCityFromLocation/" + $("#WMD_DESTCD").val();
            $("#WMD_to_loc").select2("data", null);
            FillDropDownfromOtherSelectFirst("WMD_to_loc", StrURL, "Select To City");
            JsGetCNorCneeDetailsforDate(DomainName, $("#WMD_PARTY_CODE").val(), 'CSGN');



        }

        var CalculateDecVal = function () {

            var TotalActWt = $("#WMD_DECVAL");

            TotalActWt.val("0");
            $(".ClsDecVal").each(function () {

                $(this).val();
                TotalActWt.val(parseInt(TotalActWt.val()) + parseInt($(this).val()));

            });

        }
        var CalculateWT = function () {

            var TotalActWt = $("#WMD_ACTUWT");
            var TotalCHRGWT = $("#WMD_CHRGWT");
            TotalActWt.val("0");
            $(".ClsActWt").each(function () {
                $(this).val();
                TotalActWt.val(parseInt(TotalActWt.val()) + parseInt($(this).val()));
                $("#WMD_CHRGWT").val(parseInt(TotalActWt.val()) + parseInt($(this).val()));
            });
        }
        var CalculatePkgs = function (DomainName) {

            var TotalActWt = $("#WMD_PKGSNO");
            TotalActWt.val("0");
            $(".ClsPKGSNO").each(function () {
                $(this).val();
                TotalActWt.val(parseInt(TotalActWt.val()) + parseInt($(this).val()));

            });

        }
        var CalculateTotal = function (DomainName) {

            var FreightAmount = $("#WMDC_FREIGHT").val();
            var CrossingHamali = $("#WMDC_SCHG02").val();
            var BookingCharges = $("#WMDC_SCHG01").val();

            var Subtotal = parseFloat(FreightAmount) + parseFloat(CrossingHamali) + parseFloat(BookingCharges);
            $("#WMDC_SubTotal").val(Subtotal);
            $("#WMDC_DKTTOT").val(Subtotal);
        }
        var InvoiceDetails = function (Rid, DomainName) {

            $("#DocketInvoiceList_" + Rid + "__DECLVAL").change(function () {
                CalculateDecVal();

            });

            $("#DocketInvoiceList_" + Rid + "__ACTUWT").change(function () {
                CalculateWT();
            });

            $("#DocketInvoiceList_" + Rid + "__PKGSNO").change(function () {
                CalculatePkgs(DomainName);
            });
            var date = new Date($("#WMD_DOCKDT").val());
            var day = date.getDate();
            var month = date.getMonth();
            var year = date.getFullYear();
            //  var date = new Date((day  + ' ' + months[month] + ' ' + year));
            //  $("#DocketInvoiceList_" + Rid + "__INVDT").val((day + ' ' + months[month] + ' ' + year));

            var date1 = new Date($("#WMD_DOCKDT").val());
            date1.setDate(date.getDate() - 15);

            var day1 = date1.getDate();
            var month1 = date1.getMonth();
            var year1 = date1.getFullYear();

            $("#DocketInvoiceList_" + Rid + "__INVDT").attr("readonly", "true")
            handleDateTimePicker_ddmmyyyy("DocketInvoiceList_" + Rid + "__INVDT", new Date((day1 + ' ' + months[month1] + ' ' + year1)), new Date((day + ' ' + months[month] + ' ' + year)));



            $("a.InvoicedeleteRow").live("click", function () {
                $(this).parents("tr.editorRow:first").remove();
                CalculateDecVal();
                CalculateWT();
                CalculatePkgs(DomainName);
                return false;
            });
        }
        var AddInvoiceRow = function (DomainName, itemIn) {
            //alert("hiiiii" + DomainName);
            var StrURL1 = DomainName + '/Operation/IDTInvoiceDetails/' + itemIn;
            //  alert(StrURL1);
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    var Rid = itemIn;
                    //alert(html);
                    $("#Bodycontainer").append(html);

                    InvoiceDetails(Rid, DomainName);

                },
                error: function (req, status, error) {
                    alert("error " + req + "   " + status + "   " + error);
                }
            });

        }
        var AddInvoiceRows = function (DomainName, itemIndex) {

            $("#btnAddRows").click(function () {


                var TOTRows = $("#InvoiceRows").val();
                alert("TOTRows " + TOTRows);

                for (var i = 0; i <= TOTRows - 1; i++) {
                    setTimeout(function () {
                        itemIndex = itemIndex + 1;

                        AddInvoiceRow(DomainName, itemIndex);

                    }, 350 * i);
                }

            });

            InvoiceDetails(1, DomainName);

        }
        var CneeEnabledDisabled = function (boo, clr) {


            $(".clsCnee").attr('readonly', boo);

            if (clr) {

                $(".clsCnee").val("");
                $(".clsCnee1").select2("data", null);
            }

        }
        var CnorCnee = function (DomainName) {
            $("input[name='RDOCnee']").click(function () {

                if ($(this).attr("id") == "RDOCnee1") {

                    $("#WMD_CSGECD").prop("disabled", false);


                    $("#WMD_CSGECD").val("");
                    $("#WMD_CSGECD").select2("data", null);
                    CneeEnabledDisabled(true);
                }
                else {
                    $("#WMD_CSGECD").prop("disabled", true);
                    $("#WMD_CSGEPinCode").prop("disabled", false);

                    $("#WMD_CSGECD").select2("data", { id: "8888", text: "8888" });
                    CneeEnabledDisabled(false);

                }
                $("#WMD_CSGENM").val("");
                $("#WMD_CSGEADDR").val("");
                $("#WMD_CSGECity").val("");
                $("#WMD_CSGECustGSTNo").val("");

                /* START GST Changes Chirag D  */
                $("#WMD_CSGEPinCode").val("");

                /* END GST Changes Chirag D  */

                $("#WMD_csgemobile").val("");
            });
        }
        var SubmitClick = function (DomainName) {
            $('#btnSubmit').click(function () {

                var form = $('#form_sample');
                // alert("Hello");
                if (form.valid()) {

                    App.blockUI({ boxed: true });
                    $(".ftdate-picker input").prop('disabled', false);

                    document.forms["form_sample"].submit();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName, "form_sample");
                Formvalidate(DomainName, 'form_sample1');
                select2Date(DomainName);
                SubmitClick(DomainName);
                ControlDate();
                $('#WMD_PAYBAS option[value="P03"]').attr("selected", "selected");
                $('#WMD_doctype').val("IDT");
                $("#WMDC_FREIGHT").val(0);
                $("#WMDC_SCHG02").val(0);
                $("#WMDC_SCHG01").val(0);
                $("#WMDC_SubTotal").val(0);
                $("#WMDC_DKTTOT").val(0);


                StrURL = DomainName + "/Operation/GetDestinationLocationsWithoutSomeLocation";
                JsonDDLSelectCode("WMD_DESTCD", StrURL);
                GetPartyCode("WMD_PARTY_CODE", $("#WMD_ORGNCD").val(), ($("#WMD_PAYBAS").val() == "undefined" || $("#WMD_PAYBAS").val() == "" || $("#WMD_PAYBAS").val() == null ? "P03" : $("#WMD_PAYBAS").val()));
                $("#ShedualDate1").hide();

                $('.CustomerCNoteDate-picker').datepicker({
                    isRTL: App.isRTL(),
                    format: "dd MM yyyy",
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    //startDate: new Date(),
                    //endDate: new Date(new Date().setDate(new Date().getDate() + 15)),
                    todayBtn: true
                });

                $('.ftdate-picker').datepicker({
                    isRTL: App.isRTL(),
                    format: "dd MM yyyy",
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    startDate: new Date($("#WMD_DOCKDT").val()),
                    todayBtn: true
                });

                var StrURL = DomainName + "/Operation/GetGeneralMasterDetailsWithContract/TRN?CodeList=2";
                $("#WMD_TRN_MOD").select2("data", null);
                FillDropDownfromOtherSelectFirst("WMD_TRN_MOD", StrURL, " Type");


                var StrURL = DomainName + "/Master/GetCityFromLocation/" + $("#WMD_ORGNCD").val();
                $("#WMD_from_loc").select2("data", null);
                FillDropDownfromOtherSelectFirst("WMD_from_loc", StrURL, "Select From City");

                //AddInvoiceRows(DomainName, itemIndex);
                var StrURL = DomainName + "/Operation/GetGeneralMasterDetailsWithContract/PKGS?CodeList=";
                FillDropDownfromOtherSelectFirst("WMD_PKGSTY", StrURL, " Type");

                var StrURL = DomainName + "/Operation/GetGeneralMasterDetailsWithContract/PROD?CodeList=";
                FillDropDownfromOtherSelectFirst("WMD_PRODCD", StrURL, " Type");


                $("#WMD_DESTCD").change(function () {
                    GetContacrtDetails(DomainName);
                });

                $("#WMD_PARTY_CODE").change(function () {

                    GetContacrtDetails(DomainName);

                });



                GetPartyCode("WMD_CSGECD", "", "");

                $("#WMD_CSGECD").change(function () {

                    JsGetCNorCneeDetailsforDate(DomainName, $(this).val(), 'CSGE');

                });
                CnorCnee(DomainName);
                var itemIndex = $("#container input.iHidden").length;
                AddInvoiceRows(DomainName, itemIndex);


                $("#WMDC_FREIGHT").change(function () {
                    if ($(this).val() == "") {
                        $(this).val(0);
                    }
                    CalculateTotal(DomainName);
                });
                $("#WMDC_SCHG01").change(function () {
                    if ($(this).val() == "") {
                        $(this).val(0);
                    }
                    CalculateTotal(DomainName);
                });
                $("#WMDC_SCHG02").change(function () {
                    if ($(this).val() == "") {
                        $(this).val(0);
                    }
                    CalculateTotal(DomainName);
                });

                $("#WMD_PAYBAS").change(function () {
                  
                    if ($(this).val() == "P01") {
                        $("#WMDC_FREIGHT").attr("readonly", "true");
                        $("#WMDC_SCHG02").attr("readonly", "true");
                        $("#WMDC_SCHG01").attr("readonly", "true");
                        $("#WMDC_FREIGHT").val(0);
                        $("#WMDC_SCHG02").val(0);
                        $("#WMDC_SCHG01").val(0);
                        $("#WMDC_SubTotal").val(0);
                        $("#WMDC_DKTTOT").val(0);
                    }
                    else
                    {
                        $("#WMDC_FREIGHT").removeAttr("readonly", "true");
                        $("#WMDC_SCHG02").removeAttr("readonly", "true");
                        $("#WMDC_SCHG01").removeAttr("readonly", "true");
                    }
                  
                });

              
            }
        }
    }();
</script>
