﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CYGNUS.ViewModels.GCFilter
<div class="row">
    <div class="col-md-10">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.DKTCalledAs Criteria
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("Challan", "Operation", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
                {
                    {
                        Html.RenderPartial("../UserControls/_GCFilter", Model);
                    }
                }
            </div>
        </div>
    </div>
</div>