﻿@model Fleet.ViewModels.InternalMovementViewModel
@using FleetDataService.Models
@using Fleet.ViewModels
@using Fleet
@{
    ViewBag.Title = "Internal Movement";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> generalMasterList = MS.GetGeneralMasterObject().ToList();
}

@using (Html.BeginForm("InternalMovementSubmit", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="portlet @ViewBag.TableBoxColor box">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-edit"></i>@ViewBag.Title
            </div>
        </div>
        <div class="portlet-body">

            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">IM No </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.objIntMovement.IMNo, new { placeholder = "System Generated", @class = "form-control", @Readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Manual No </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.objIntMovement.ManualNo, new { placeholder = "Manual No", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Origin</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.objIntMovement.ORGNCD, new { @class = "form-control required required2", @Readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Destination </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.objIntMovement.DESTCD, new { placeholder = "Destination", @class = "form-control required required2" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Weight</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.objIntMovement.Weight, new { placeholder = "0.00", @class = "clsAmount form-control required required2", @type = "number", @min = "1" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Packages</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.objIntMovement.Packages, new { placeholder = "0.00", @class = "clsAmount form-control required required2", @type = "number", @min = "1" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Remarks</label>
                                <div class="col-md-7 radio-list">
                                    @Html.TextAreaFor(m => m.objIntMovement.Remarks, new { placeholder = "Remarks", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Contents</label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(c => c.objIntMovement.Contents, new SelectList(generalMasterList.Where(c => c.CodeType == "PROD" && c.StatusCode == "Y").ToList(), "CodeId", "CodeDesc", Model.objIntMovement.Contents), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Contents" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-actions fluid">
                    <div class="col-md-offset-2 col-md-4">
                        <a class="btn btn-sm default controls" href="@Url.Action("InternalMovement", "Operation")"> <i class="fa fa-refresh"> </i>&nbsp;Reset</a>
                        <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

<script type="text/javascript">
    var FormComponents = function (DomainName) {
        var select2Date = function (DomainName) {
            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });
        }

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span',
                errorClass: 'help-block',
                focusInvalid: false,
                ignore: "",
                rules: {
                },
                messages: {
                },
                invalidHandler: function (event, validator) {
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) {
                    $(element)
                        .closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element)
                        .closest('.form-group').removeClass('has-error');
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error');
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);

                StrURL = DomainName + "/Operation/GetDestinationLocationsWithoutSomeLocation";
                JsonDDLSelectCode("objIntMovement_DESTCD", StrURL);

                $("#btnSubmit").click(function () {
                    Formvalidate(DomainName);
                    if ($('#form_sample').valid()) {
                        document.forms["form_sample"].submit()
                        App.unblockUI();
                    }
                });
            }
        }
    }();
</script>