﻿@{
    ViewBag.Title = "Internal Movement Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>Internal Movement Done
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                IM No
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@ViewBag.IMNO</b>
                            </td>
                            <td>
                                <a class="btn blue" target="_blank" href="@Url.Content("~/ViewPrint/Internal_Movement_ViewPrint?IMNO=" +  @ViewBag.IMNO)">View || Print</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                <a href="@Url.Content("~/Operation/InternalMovement")">
                    Click Here to Internal Movement Entry
                </a>
            </span>

        </div>
    </div>
</div>