﻿@model Fleet.ViewModels.LoadingSheetFilterViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "";
    if (Model.Type == "MF")
    {
        ViewBag.Title = "Manifest Result ";
    }
    else
    {
        ViewBag.Title = "LoadingSheet Result";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";

    var LsNO = ViewBag.LsNO;
    var MFNo = ViewBag.MFNo;
    string Type = "Manifest";
    if (Model.Type == "LS")
    {
        Type = "Loading Sheet";
    }
}
<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>@ViewBag.Title
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Document Name
                            </th>
                                <th class="center">@Type</th>
                        </tr>
                        <tr>
                            <th>
                                System Number
                            </th>
                            <th class="center"><a href="javascript:Order('@Model.LsNO')"><b>@Model.LsNO</b></a></th>
                        </tr>
                        <tr>
                            <th>
                                Manual Number
                            </th>
                            <th class="center">NA</th>
                        </tr>
                        <tr>
                            <th>
                                View
                            </th>
                            @if (Model.Type == "LS")
                            {
                                <th class="center"><a href="javascript:OrderView('@Model.LsNO')"><b><i class="fa fa-print"></i>View || Print</b></a></th>
                            }
                            else
                            {
                                <th class="center"><a href="javascript:Order('@Model.LsNO')"><b><i class="fa fa-print"></i>View || Print</b></a></th>
                            }
                        </tr>
                    </thead>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                Click on System Number for View / Print || <a href="@Url.Action("LoadingSheet", "Operation", new { Type = @Model.Type })">Click here to Prepare new @Type </a>
            </span>
        </div>
    </div>
</div>

<script type="text/javascript">

    function OrderView(LsNO) {
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50";
        var strPopupURL = ReportURL + DomainName + "/Operation/LodingSheetViewPrint?LsNO=" + LsNO;
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;
    }
    function Order(MFNo) {
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50";
        var strPopupURL = ReportURL + DomainName + "/Tracking/TripAllView?MFNo=" + MFNo + "&VPType=" + 'MF';
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;
    }

    var FormComponents = function (DomainName) {
        var Events = function (DomainName) {
            $('#btnSubmit').click(function () {
                App.blockUI({ boxed: true });
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Events(DomainName);
            }
        }
    }();
</script>
