﻿@model Fleet.ViewModels.LoadingSheetFilterViewModel
@using FleetDataService.Models
@using Fleet.ViewModels
@{
    string Header = "", Action = "", btnName = "", Name = "", MainHeader = "", placeholder = "";
    if (Model.Type == "LS")
    {
        Header = "Selecte criteria for preparing Loading Sheet";
        ViewBag.Title = " List Loading Sheet";
        Action = "PrepareLoadingSheet";
        btnName = "Prepare Loading Sheet";
        Name = "LoadingSheet";
        MainHeader = "Loading Sheet";
        placeholder = "LS";


    }
    else if (Model.Type == "ULS")
    {
        ViewBag.Title = "Update Loading Sheet & Prepare Manifest";
        Action = "PrepareLoadingSheet";
        btnName = "Prepare Manifest";
        Name = "Update LoadingSheet";
        MainHeader = "Update Loading Sheet";
        placeholder = "ULS";
    }
    else if (Model.Type == "MF")
    {
        Header = "Selecte criteria for preparing Manifest";
        ViewBag.Title = ViewBag.DKTCalledAS + " List for Manifest";
        Action = "PrepareLoadingSheet";
        btnName = "Prepare Manifest";
        Name = "Manifest";
        MainHeader = "Manifest";
        placeholder = "MF";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    Model.ManualLsNO = "N/A";
    List<Webx_Master_General> GeneralMasterList = MS.GetGeneralMasterObject();
    List<SelectListItem> BlankList = new List<SelectListItem>();
    List<CYGNUS_LoadingUnLoading_VendorType_Mapping> ListVendorType = MS.GetLoadingUnLoadingVendorTypeMappingList("L", @ViewBag.BaseLocationCode, "M");

    objDate Date = new objDate();
    Date.ControlId = "LsDate";
    Date.ControlValue = System.DateTime.Now.ToString();
    Date.ModuleCode = "13";
}
@using (Html.BeginForm(Action, "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{

    if (Model.Type != "ULS")
    {
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box @ViewBag.TableBoxColor">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-filter"></i>@MainHeader Generation criteria
                        </div>
                    </div>
                    <div class="portlet-body" id="divCrieteria">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">@MainHeader No. :</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.LsNO, new { placeholder = "System Generated", @readonly = "true", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">@MainHeader Date :</label>
                                            <div class="col-md-6">
                                                @*<div class="input-group date date-picker">
                                                        @Html.TextBox("LsDate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(DateTime.Now).ToString("dd MMM yyyy")), new { @class = " form-control form_meridian_datetime", @readonly = "true" })
                                                        <span class="input-group-btn">
                                                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                        </span>
                                                    </div>*@
                                                @{
                                                    Html.RenderPartial("../UserControls/_DocumentDate", Date);
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Manual @placeholder No. :</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.ManualLsNO, new { placeholder = "Manual " + @placeholder + " No.", @class = "form-control ", @readonly = true })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" data-title="Upload Document">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">LoadingSheet Image Upload:</label>
                                            <div class="fileinput fileinput-new" data-provides="fileinput" style="margin-left: 12px;">
                                                <div class="fileinput-new thumbnail imgDefault col-md-6 center" style="max-width: 120px; max-height: 115px; line-height: 10px;">
                                                    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail imgExists col-md-6" style="max-width: 120px; max-height: 115px; line-height: 10px;">
                                                </div>
                                                <div class="col-md-3" style="width: 50px;height:50px;">
                                                    <span class="btn default btn-file">
                                                        <span class="fileinput-new imgDefault">
                                                            Select File
                                                        </span>
                                                        <span class="fileinput-exists imgExists">
                                                            Change File
                                                        </span>
                                                        <input type="file" id="UploadImage" name="UploadImage" class="default">
                                                    </span><br>
                                                    <a href="#" class="btn default fileinput-exists imgExists" data-dismiss="fileinput" style="margin-top:5px">
                                                        Remove File
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-md-6 divLoadingBy">
                                            <div class="form-group">
                                                <label class="control-label col-md-3"> Loading By :</label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(m => m.LoadingBy, new SelectList(ListVendorType.OrderBy(c => c.CodeDesc).ToList(), "CodeId", "CodeDesc"), "", new { @class = "select2 form-control", @placeholder = "Select Loading By" })
                                                </div>
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Next Stop Location :</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(model => model.NextStopLocation, new { @class = "form-control required2 required", @placeholder = "Select Next Stop Location" })
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-md-6 divRateType">
                                            <div class="form-group">
                                                <label class="control-label col-md-3"> Charge type :</label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(m => m.RateType, new SelectList(GeneralMasterList.Where(c => c.CodeType == "HANDCHRG" && c.StatusCode.ToUpper() == "Y").OrderBy(c => c.CodeId).ToList(), "CodeId", "CodeDesc"), "", new { @class = "select2 required2 required form-control", @placeholder = "Select Charge Type" })
                                                </div>
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">@placeholder Transport Mode :</label>
                                            <div class="col-md-6">
                                                @*TRN*@
                                                @Html.DropDownListFor(m => m.MF_TransportMode, new SelectList(GeneralMasterList.Where(m => m.CodeType == "RTMD" && m.StatusCode.ToUpper() == "Y").ToList(), "CodeId", "CodeDesc"), "", new { @class = "form-control required2 required select2 ", @placeholder = "Select Transport Mode" })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="portlet box @ViewBag.TableBoxColor">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-filter"></i>@Header
                        </div>
                    </div>
                    <div class="portlet-body" id="divCrieteria">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Select  Date :
                                        </label>
                                        <div class="col-md-6">
                                            <div id="reportrange" class="btn default">
                                                <i class="fa fa-calendar"></i>
                                                &nbsp;
                                                <span></span>
                                                <b class="fa fa-angle-down"></b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Transport Mode :
                                        </label>
                                        <div class="col-md-5">
                                            @Html.DropDownListFor(m => m.TransportMode, new SelectList(GeneralMasterList.Where(m => m.CodeType == "TRN" && m.StatusCode.ToUpper() == "Y").ToList(), "CodeId", "CodeDesc"), "", new { @class = "form-control select2 ", @placeholder = "Select Transport Mode" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Destination :
                                        </label>
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(c => c.DestinationList, new { placeholder = "Destination", @class = "form-control" })
                                        </div>
                                        <p class="text-primary col-md-4">[Seperated by <b><i>Comma</i></b> if multiple]</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Docket No. :
                                        </label>
                                        <div class="col-md-5">
                                            @Html.HiddenFor(c => c.Type)
                                            @Html.HiddenFor(c => c.FromDate)
                                            @Html.HiddenFor(c => c.ToDate)
                                            @Html.HiddenFor(c => c.FirlterType)
                                            @Html.TextBoxFor(c => c.DocketNoList, new { placeholder = "Docket No.", @class = "form-control" })
                                        </div>
                                        <p class="text-primary col-md-4">[Seperated by <b><i>Comma</i></b> if multiple]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="display:none" id="divLoadingCharge">
                <div class="portlet box @ViewBag.TableBoxColor">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i>Loading Charges
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Loading By :</label>
                                        <div class="col-md-7" style="margin-top:5px">
                                            <label id="Loadingby"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" style="display:none">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Charge Type :</label>
                                        <div class="col-md-7" style="margin-top:5px">
                                            <label id="chargeType"></label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3" id="vendorcode" style="display:none">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Vendor Code :</label>
                                        <div class="col-md-7">
                                            @*@Html.TextBoxFor(m => m.VendorCode, new { placeholder = "Vendor Code", @class = "required2 form-control" })*@
                                            @Html.DropDownListFor(m => m.VendorCode, new SelectList(BlankList, "Value", "Text"), "", new { @class = "form-control select2 ", @placeholder = "Select Vendor" })
                                            @Html.TextBoxFor(m => m.VendorName, new { placeholder = "VENDOR NAME", @class = "required2 form-control", @style = "display:none" })
                                            <label id="lblrate" style="color: #b94a48; display: none">Rate Is Not Avilable In Master..!!!</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-5" id="TypeRate">Rate :</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.Rate, new { @class = "required2   form-control", @Placeholder = "Enter Rate", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @number = "true" })
                                            <label id="lblMaxRate" style="color: #b94a48; display: none; "></label>
                                            @Html.HiddenFor(m => m.hdnRate)
                                            <label id="lblrateeror" style="color:#b94a48; display: none">Rate Is Not Avialble In Master</label>
                                            @*@Html.TextBoxFor(m => m.Montlycharge, new { @class = "form-control", @readonly = true, @style = "display:none" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" style="display:none" id="divMaxLimit">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Max Limit :</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.MaxLimit, new { @class = "required2  form-control", @Placeholder = "Enter Monthly", @readonly = true })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" style="display:none" id="Monthly">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Monthly Charge:</label>
                                        <div class="col-md-7" style="margin-top:5px">
                                            @Html.TextBoxFor(m => m.Montlycharge, new { @class = "required2  form-control", @Placeholder = "Enter Monthly", @readonly = true })
                                            @Html.HiddenFor(m => m.IsMonthly)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="totalcharge" style="display:none">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Loading Charge :</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.LoadingCharge, new { @class = "required2  form-control", @Placeholder = "Enter Loading Charge", @readonly = true })
                                            <label style="color:red;display:none" id="loadrate">Please Enter Rate or Set Labour Contract !!!!</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="display:none" id="divMathadiCharge">
                <div class="portlet box @ViewBag.TableBoxColor">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i>Mathadi Applicable Charges
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-7">Is Mathadi Applicable </label>
                                            <div class="col-md-4">
                                                @Html.CheckBoxFor(m => m.IsMathadi)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" id="Mathadicheck" style="display:none">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Mathadi Slip no.</label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(m => m.MathadiSlipNo, new { placeholder = "Mathadi Slip No.", @class = "required2   form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Mathadi Date</label>
                                            <div class="col-md-7">
                                                <div class="input-group date ftdate-picker">
                                                    @Html.TextBoxFor(m => m.MathadiDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = "form-control required required2 clsVehicle", @placeholder = @ViewBag.DefaultJqueryDateFormat, @readonly = true })
                                                    <span class="input-group-btn">
                                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Mathadi Slip Amt</label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(m => m.MathadiAmt, new { placeholder = "Mathadi Slip Amount", @class = "required2 required  form-control", @number = true })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group" style="background-color: #EEEEEE;margin-left: 1px;">
                            <label class="control-label col-md-3" style="margin-top:-5px;">LS No : </label>
                            <div class="col-md-7">
                                @Html.DisplayFor(c => c.LsNO)
                                @Html.HiddenFor(c => c.LsNO)
                                @Html.HiddenFor(c => c.NEXTLOC)
                                @Html.HiddenFor(c => c.LsDate)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row" id="divList">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body" id="tblLoadingList">

                        @if (Model.DocketListForMFGeneration != null && Model.DocketListForMFGeneration.Count > 0)
                        {
                            Html.RenderPartial("_LoadingSheetList", Model.DocketListForMFGeneration);
                        }
                    </div>
                    @if (Model.Type != "ULS")
                    {
                        <div class="form-body" id="NoRecordfound" style="display:none">
                            <table>
                                <tr>
                                    <td>
                                        <p class="Norecord"> No Record Found...................</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @*<div class="row" id="divInternalList">
            <div class="col-md-12">
                <div class="portlet box @ViewBag.TableBoxColor">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i>Internal Document List
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="form-body" id="tblInternalDocumentList">

                            @if (Model.InternalDocumentListForMFGeneration != null && Model.InternalDocumentListForMFGeneration.Count > 0)
                            {
                                Html.RenderPartial("_InternalDocumentList", Model.InternalDocumentListForMFGeneration);
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            @if (Model.Type == "ULS")
            {
                <a class="btn btn-sm default controls" href="@Url.Content("~/Operation/UpdateLoadingSheet?Type=ULS")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To List</a>
            }
            @if (Model.Type != "ULS")
            {
                <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Get @Name List</button>
            }
            <button type="submit" id="btnPrepareManifest" class="btn btn-sm green controls" disabled="disabled" style="display:none"><i class="fa fa-check"></i>&nbsp;@btnName</button>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                //rules: {
                //    'LoadingCharge': {
                //        number: true,
                //        min: 1,
                //    },
                //},
                //messages: {
                //    'Loadingcharge': {
                //        min: jQuery.format("Please Enter Rate or Set Labour Contract !!!!")
                //    },
                //},
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {

                    success1.show();
                    error1.hide();
                    //   $("#btnSubmit").show();
                    $.post($("#form_sample").attr('action'), $("#form_sample").serialize(), function (data, status) {
                        if (status == "success") {
                        }
                        else {
                            TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                        }
                    });
                }
            });
        }
        var Events = function (DomainName) {
            handleDatePicker();
            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');

            if ('@Model.Type' == "LS") {
                $('#divList').hide();
            }
            else if ('@Model.Type' == 'ULS') {
                $('#btnPrepareManifest').show();
            }
            else {
                $('#divList').hide();
                $('#divInternalList').hide();
            }
            $(document).on('click', '#chkCheckAll', function () {
                $('.chkCheck').prop('checked', $(this).prop('checked'));
                if ($(this).prop('checked')) {
                    $('.chkCheck').parent('span').addClass('checked');
                    $("#btnPrepareManifest").attr('disabled', false);
                    $(".ClsCheck").removeAttr("disabled");
                }
                else {
                    $('.chkCheck').parent('span').removeClass('checked');
                    $("#btnPrepareManifest").attr('disabled', true);
                    $(".ClsCheck").attr("disabled", 'disabled');
                }
            });

            $('#btnSubmit').click(function () {
                if (!$('#form_sample').valid()) {
                    return false;
                }
                else {
                    App.blockUI({ boxed: true });
                    $.ajax({
                        url: DomainName + '/Operation/DocketListForMFGeneration',
                        type: 'POST',
                        data: $('#form_sample').serialize(),
                        success: function (html) {
                            if (html != '') {
                                $("#divCrieteria :input").prop("readonly", true);
                                $('#btnSubmit').hide();
                                $('#btnPrepareManifest').show();
                                $('#reportrange').attr('disabled', true);
                                $('#tblLoadingList').append(html);
                                $('#divList').show(1000);
                                $("#NoRecordfound").hide();
                                $("input:checkbox, input:radio").uniform();
                                $("#LoadingCharge").show();
                                //new Loading Charge
                                $("#Rate").val(0)
                                //$("#divMathadiCharge").show();
                                if ($("#LoadingBy").val() == "A" || $("#LoadingBy").val() == "XX5" || $("#LoadingBy").val() == "XX8") {
                                    $("#divLoadingCharge").show();
                                    $("#Montlycharge").hide();
                                    $("#vendorcode").show();
                                    $("#totalcharge").show();
                                    $("#TypeRate").hide();
                                    $("#Rate").hide();
                                    $("#vendorcode").addClass('required');
                                    $("#LoadingCharge").addClass('required');
                                    $("#LoadingCharge").attr("min", 0.01);
                                    var StrURL = DomainName + "/Master/getBranchWiseLoadingUnloadingVendorListJson?Type=L&VendorType=" + $("#LoadingBy").val();
                                    FillDropDownfromOther("VendorCode", StrURL, 'VendorName');
                                    //JsonDDL('VendorCode', DomainName + '/Master/SearchVendorListJson/', true);

                                }
                                else if ($("#LoadingBy").val() == "M") {
                                    $("#rateType").show();
                                    $("#vendorcode").show();
                                    $("#Rate").val(0);
                                    $("#divMaxLimit").show();
                                    $("#Montlycharge").hide();
                                    $("#MaxLimit").val($(".hdnMaxLimit").val());
                                    $("#LoadingCharge").attr("max", $(".hdnMaxLimit").val());
                                    $("#totalcharge").show();
                                    $("#divLoadingCharge").show();
                                    $("#VendorCode").val('9888')
                                    $("#VendorCode").attr('readonly', true);
                                    $("#VendorName").show();
                                    $("#Rate").addClass("required");
                                    $("#VendorName").addClass("required");
                                    $("#LoadingCharge").attr("min", 0.01);
                                    $("#totalcharge").show();
                                }
                                else {
                                    $("#vendorcode").hide();
                                    $("#Rate").attr("readonly", true)
                                    $("#Rate").val(0);
                                    $("#Montlycharge").hide();
                                    $("#divLoadingCharge").hide();
                                    $("#TypeRate").hide();
                                    $("#Rate").hide();
                                }
                                $("#Loadingby").text($("#LoadingBy option:selected").text());
                                $("#chargeType").text($("#RateType option:selected").text());
                                $("#LoadedRateType").select2();

                                $(".hdnCNT").each(function () {
                                    var ID = $(this).attr('id').replace("CNT", "ratetype");
                                    if ($(this).val() == "0") {
                                        $("#" + ID).prop("readonly", true);
                                        $(".Clsrate").prop("readonly", true);
                                    }
                                    else {
                                        $("#" + ID).prop("readonly", false);
                                        $(".Clsrate").prop("readonly", true);
                                    }
                                });
                            }
                            else {
                                $("#NoRecordfound").show();
                            }
                            $(".drprate").select2();
                            $('#divList').show(1000);

                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });

                    $.ajax({
                        url: DomainName + '/Operation/InternalDocumentListForMFGeneration',
                        type: 'POST',
                        data: $('#form_sample').serialize(),
                        success: function (html) {
                            $('#tblInternalDocumentList').append(html);
                            $('#divInternalList').show(1000);
                            $("input:checkbox, input:radio").uniform();
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                }
            });
            $("#IsMathadi").click(function () {
                if ($("#IsMathadi").is(':checked')) {
                    $("#Mathadicheck").show();
                    $('#MathadiSlipNo').addClass('required');
                }
                else {
                    $("#Mathadicheck").hide();
                    $('#MathadiSlipNo').removeClass('required');
                }
            });
        }

        var loadingRateCalc = function (Type) {

            var Charge = 0, HamaliChrge = 0, Rate = 0, totLoadingCharge = 0;

            $(".chkCheck").each(function () {
                Rate = $(this).attr('id').replace('IsChecked', 'Rate');
                var IDS = $(this).attr('id').replace('IsChecked', '')
                var checked = $(this).is(":checked");


                Rate = $(this).attr('id').replace('IsChecked', 'NewRate');
                if ($("#" + IDS + "ratetype").val() == "1") {
                    Charge = $("#" + IDS + "WeightLB").val();
                }
                else if ($("#" + IDS + "ratetype").val() == "3") {
                    Charge = $("#" + IDS + "PackagesLB").val();
                }

                if (checked) {
                    //alert(Charge + "  " + $("#" + Rate).val())
                    HamaliChrge = parseFloat(HamaliChrge) + parseFloat(Charge);
                    totLoadingCharge = parseFloat(totLoadingCharge) + (parseFloat(Charge) * parseFloat($("#" + Rate).val()));
                }
            });

            if ($("#LoadingBy").val() == "A" || $("#LoadingBy").val() == "XX5" || $("#LoadingBy").val() == "XX8") {
                $("#LoadingCharge").val((totLoadingCharge).toFixed(2));
            }
            else {
                if ($("#MaxLimit").val() > 0) {
                    $("#LoadingCharge").val((totLoadingCharge).toFixed(2));
                }
            }
        }

        var LocationConnectionMapping = function (DomainName, Location) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Operation/LocationConnectionMappingListJson?Location=' + Location;
            $.ajax({
                url: strUrl,
                type: 'POST',
                success: function (result) {
                    if (result.length > 0) {
                        $("#DestinationList").val(result[0].Locations);
                    }
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                Events(DomainName);
                JsonDDL('NextStopLocation', DomainName + '/Master/GetLocationListJson', false);

                $("#NextStopLocation").change(function () {
                    var NextStopLocation = $(this).val();
                    LocationConnectionMapping(DomainName, NextStopLocation);
                });
                $(".clsGetDockNo").live('focusout', function () {
                    var Charge = 0, HamaliChrge = 0;
                    var ID = $(this).attr('id').replace('DocketList_', '').replace('__PackagesLB', '')
                    var PackagesLB = "DocketList_" + ID + "__PackagesLBOld";
                    var WeightLB = "DocketList_" + ID + "__WeightLBLBOld";
                    if (parseFloat($(this).val()) > parseFloat($("#" + PackagesLB).val())) {
                        return false;
                    }
                    else {
                        
                        if (parseFloat($(this).val()) < parseFloat($("#" + PackagesLB).val())) {
                            $("#DocketList_" + ID + "__WeightLB").attr("min", "1");
                            $("#DocketList_" + ID + "__WeightLB").attr("max", parseFloat($("#" + WeightLB).val()) - 1);
                        } else if (parseFloat($(this).val()) == parseFloat($("#" + PackagesLB).val())) {
                            $("#DocketList_" + ID + "__WeightLB").attr("min", $("#" + WeightLB).val());
                            $("#DocketList_" + ID + "__WeightLB").attr("max", $("#" + WeightLB).val());
                        }
                        var final = Math.round((parseFloat($("#" + WeightLB).val()) * parseFloat($(this).val())) / parseFloat($("#" + PackagesLB).val()));
                        $("#DocketList_" + ID + "__WeightLB").val(final);

                        //********* Loading Charge ****************//
                        if ($("#RateType").val() == "3") {
                            $(".Packge").each(function () {

                                var IDS = $(this).attr('id').replace('PackagesLB', '')

                                var checked = $("#" + IDS + "IsChecked").is(":checked");

                                Charge = $("#" + IDS + "PackagesLB").val();

                                if (checked) {
                                    HamaliChrge = parseInt(HamaliChrge) + parseInt(Charge)
                                }

                            });
                        }
                        if ($("#MaxLimit").val() > 0) {
                            $("#LoadingCharge").val(HamaliChrge * parseInt($("#Rate").val()))
                        }
                        //************** END ******************//

                        loadingRateCalc(0);
                    }

                });
                $(".Weight").live('blur', function () {
                    var Charge = 0, HamaliChrge = 0;

                    //********* Loading Charge ****************//
                    if ($("#RateType").val() == "1") {
                        $(".Weight").each(function () {

                            var IDS = $(this).attr('id').replace('WeightLB', '')

                            var checked = $("#" + IDS + "IsChecked").is(":checked");
                            Charge = $("#" + IDS + "WeightLB").val();

                            if (checked) {
                                HamaliChrge = parseInt(HamaliChrge) + parseInt(Charge)
                            }

                        });
                    }
                    if ($("#MaxLimit").val() > 0) {
                        $("#LoadingCharge").val(HamaliChrge * parseInt($("#Rate").val()))
                    }
                    //************** END ******************//
                    loadingRateCalc(1);
                });

                //New Change
                $(".Clsrate").live('blur', function () {
                    loadingRateCalc(0);
                });

                $(document).on('change', ".chkCheck", function () {

                    var ID = $(this).attr('id').replace('DocketList_', '').replace('__IsChecked', '');
                    var Charge = 0, HamaliChrge = 0, Rate = 0;

                    var totLoadingCharge = 0;
                    //if (this.checked) {

                    $("#btnPrepareManifest").attr('disabled', false);

                    //$("#DocketList_" + ID + "__PackagesLB").removeAttr("disabled");
                    //$("#DocketList_" + ID + "__WeightLB").removeAttr("disabled");

                    //Loading Charges


                    //if ($("#LoadingBy").val() == "A") {
                    //    $("#LoadingCharge").val((parseFloat(HamaliChrge) * parseFloat($("#"+Rate).val())).toFixed(3));
                    //}
                    //else {
                    //    if ($("#MaxLimit").val() > 0) {
                    //        $("#LoadingCharge").val((parseFloat(HamaliChrge) * parseFloat($("#" + Rate).val())).toFixed(3));
                    //    }
                    //}
                    loadingRateCalc(0);
                    //}
                    //}
                    //else {

                    //    $("#DocketList_" + ID + "__PackagesLB").attr("disabled", 'disabled');// attr("disabled");
                    //    $("#DocketList_" + ID + "__WeightLB").attr("disabled", 'disabled');

                    //    $(".chkCheck").each(function () {

                    //        var IDS = $(this).attr('id').replace('IsChecked', '')
                    //        var checked = $(this).is(":checked");

                    //        if ($("#RateType").val() == "1") {
                    //            Charge = $("#" + IDS + "WeightLB").val();
                    //        }
                    //        else if ($("#RateType").val() == "3") {
                    //            Charge = $("#" + IDS + "PackagesLB").val();
                    //        }

                    //        if (checked) {
                    //            HamaliChrge = parseFloat(HamaliChrge) + parseFloat(Charge);
                    //            totLoadingCharge = parseFloat(totLoadingCharge) + (parseFloat(Charge) * parseFloat($("#" + Rate).val()));
                    //        }


                    //    });

                    //    //$("#LoadingCharge").val((parseFloat(HamaliChrge) * parseFloat($("#Rate").val())).toFixed(3));
                    //    if ($("#LoadingBy").val() == "A") {
                    //        $("#LoadingCharge").val((totLoadingCharge).toFixed(2));
                    //    }
                    //    else {
                    //        if ($("#MaxLimit").val() > 0) {
                    //            $("#LoadingCharge").val((totLoadingCharge).toFixed(2));
                    //        }
                    //    }
                    //}
                    var count = 0;
                    $('.chkCheck').each(function () {
                        if (this.checked) {
                            $("#chkCheckAll").parent('span').removeClass('checked');
                            count = count + 1;
                        }
                    })
                    if (count == 0) {
                        $("#btnPrepareManifest").attr('disabled', true);
                    }
                });

                $(document).on('change', ".chkInternalDocumentCheck", function () {
                    var count = 0;
                    $('.chkInternalDocumentCheck').each(function () {
                        if (this.checked) {
                            $("#btnPrepareManifest").attr('disabled', false);
                            count = count + 1;
                        }
                    })
                    if (count == 0) {
                        $("#btnPrepareManifest").attr('disabled', true);
                    }
                });

                //Loading Charge
                //focus out
                $("#Rate").live('focusout', function () {

                    //$("#Loadingcharge").attr("min", 1)
                    //$(".chkCheck").parents('span').removeClass("checked");
                    if (parseFloat($("#hdnRate").val()) > 0) {
                        if (parseFloat($("#Rate").val()) > 0) {
                            var Value = parseFloat($("#Rate").val()).toFixed(3);
                            var MaxLimit = parseFloat($("#hdnRate").val()).toFixed(3);
                            //alert(MaxLimit + "  " + Value)
                            if (parseFloat(MaxLimit) < parseFloat(Value)) {
                                //$("#Rate").val(MaxLimit);
                                //$("#lblMaxRate").show();
                                //$("#lblMaxRate").html("Your Max Limit : " + $("#hdnRate").val() + ".");

                            }
                            else {
                                //$("#lblMaxRate").hide();
                                $("#Rate").val(Value);
                                if ($("#LoadingBy").val() == "M") {
                                    $("#divMaxLimit").show();
                                    $("#LoadingCharge").attr("max", $("MaxLimit").val());
                                }
                                $("#LoadingCharge").attr("min", "0.01");
                                $(".hdnCNT").each(function () {
                                    var ID = $(this).attr('id').replace("CNT", "ratetype");
                                    if ($(this).val() == "0") {
                                        //alert(Value);
                                        $("#" + $(this).attr('id').replace('CNT', 'NewRate')).val(Value);
                                        $("#" + ID).prop("readonly", true);
                                        $(".Clsrate").prop("readonly", true);
                                    }
                                    else {
                                        $("#" + ID).prop("readonly", false);
                                        $(".Clsrate").prop("readonly", true);
                                    }
                                });
                                loadingRateCalc(0);
                            }
                        }
                    }
                    else {
                        if ($("#LoadingBy").val() == "M" || $("#LoadingBy").val() == "A" || $("#LoadingBy").val() == "XX5" || $("#LoadingBy").val() == "XX8") {
                            var loadingby = $("#LoadingBy").val();
                            var chargeType = $("#RateType").val();
                            var TypeModule = "M";
                            var Vendorcode = $("#VendorCode").val();
                            var loadunloadType = "L";
                            App.blockUI({ boxed: true });
                            var StrURL = DomainName + "/Master/Get_LoadingCharge?loadingby=" + loadingby + "&chargeType=" + chargeType + "&TypeModule=" + TypeModule + "&Vendorcode=" + Vendorcode + "&loadunloadType=" + loadunloadType;
                            $.ajax({
                                type: 'POST',
                                contentType: 'application/json; charset=utf-8',
                                url: StrURL,
                                dataType: 'json',
                                data: {},
                                success: function (data) {
                                    if (parseFloat(data.Rate) > 0) {
                                        //alert(data.MaxLimit)
                                        //$("#Rate").val(data.Rate);
                                        $("#divMaxLimit").show();
                                        $("#MaxLimit").val(data.MaxLimit);
                                        $("#LoadingCharge").attr("max", data.MaxLimit);
                                        $("#hdnRate").val(data.Rate);
                                        var newRate = $("#Rate").val();
                                        //alert(newRate +"  " + data.Rate)
                                        if (parseFloat(newRate) < parseFloat(data.Rate)) {
                                            newRate = newRate;
                                        }
                                        else {
                                            newRate = data.Rate;
                                        }
                                        $("#Rate").val(parseFloat(newRate).toFixed(3));
                                        $("#Rate").attr("max", data.Rate);
                                        $(".hdnCNT").each(function () {
                                            //alert(newRate)
                                            var ID = $(this).attr('id').replace("CNT", "ratetype");
                                            if ($(this).val() == "0") {
                                                $("#" + $(this).attr('id').replace('CNT', 'NewRate')).val(parseFloat(newRate).toFixed(3));
                                                $("#" + ID).prop("readonly", true);
                                                $(".Clsrate").prop("readonly", true);
                                            }
                                            else {
                                                $("#" + ID).prop("readonly", false);
                                                $(".Clsrate").prop("readonly", true);
                                            }
                                        });
                                        $("#lblrateeror").hide();
                                        App.unblockUI();
                                        loadingRateCalc(0);
                                    }
                                    else {
                                        $("#lblrateeror").show();
                                        $("#Rate").val(0);
                                        $(".chkCheck").parents('span').removeClass("checked");
                                        $(".chkCheck").attr("checked", false);
                                        loadingRateCalc(0);
                                        App.unblockUI();
                                    }
                                    $(".clsNotAvilable").each(function () {
                                        $(this).val(parseFloat($("#Rate").val()).toFixed(3));
                                    });
                                },
                                error: function () {
                                    alert("error " + req + "   " + status + "   " + error);
                                }
                            });
                        }
                    }

                });


                //Vendor Wise Loading Charge
                $("#VendorCode").live("change", function () {
                    $(".chkCheck").parents('span').removeClass("checked");
                    if ($("#LoadingBy").val() == "A" || $("#LoadingBy").val() == "XX5" || $("#LoadingBy").val() == "XX8") {
                        var loadingby = $("#LoadingBy").val();
                        var chargeType = $("#RateType").val();
                        var TypeModule = "M";
                        var Vendorcode = $("#VendorCode").val();
                        var loadunloadType = "L";

                        App.blockUI({ boxed: true });

                        var StrURL = DomainName + "/Master/Get_LoadingCharge?loadingby=" + loadingby + "&chargeType=" + chargeType + "&TypeModule=" + TypeModule + "&Vendorcode=" + Vendorcode + "&loadunloadType=" + loadunloadType;
                        $.ajax({
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            url: StrURL,
                            dataType: 'json',
                            data: {},
                            success: function (data) {
                                if (data.IsMonthly == true) {
                                    $("#MaxLimit").val(data.MaxLimit);
                                    $("#LoadingCharge").attr("min", 0);
                                    $("#Rate").hide();
                                    $("#LoadingCharge").val(0);
                                    $("#Rate").val(0);
                                    $("#Monthly").show();
                                    $("#lblrate").hide();
                                    loadingRateCalc(1);
                                    App.unblockUI();
                                    $("#Montlycharge").show();
                                    $("#Montlycharge").val(data.MaxLimit);
                                    $("#IsMonthly").val(true)
                                }
                                else if (data.Rate > 0) {
                                    $("#MaxLimit").val(data.MaxLimit);
                                    $("#hdnRate").val(data.Rate);
                                    $("#Monthly").hide();
                                    $("#Rate").show();
                                    $("#Rate").val(parseFloat(data.Rate).toFixed(3));
                                    $("#Rate").attr("max", data.Rate);
                                    $("#lblrate").hide();
                                    //$("#divrate").show();
                                    $("#LoadingCharge").removeClass('required');
                                    $("#LoadingCharge").attr("min", 0.01);
                                    loadingRateCalc(1);
                                    App.unblockUI();
                                }
                                else {
                                    //alert("asdasd")
                                    $("#lblrate").show();
                                    loadingRateCalc(1);
                                    App.unblockUI();
                                }
                                $(".clsNotAvilable").each(function () {
                                    $(this).val(parseFloat($("#Rate").val()).toFixed(3));
                                });

                                $(".hdnCNT").each(function () {
                                    var ID = $(this).attr('id').replace("CNT", "ratetype");
                                    if ($(this).val() == "0") {
                                        $("#" + ID).prop("readonly", true);
                                        $(".Clsrate").prop("readonly", true);
                                    }
                                    else {
                                        $("#" + ID).prop("readonly", false);
                                        $(".Clsrate").prop("readonly", true);
                                    }
                                });
                            },
                            error: function () {
                                alert("error " + req + "   " + status + "   " + error);
                            }

                        });
                    }
                });

                $("#LoadingBy").change(function () {
                    if ($(this).val() == "O"/*Own*/ || $(this).val() == "B" /*BA*/ || $(this).val() == "BP"/*By Party*/ || $(this).val() == "XX6"/*Franchise*/ || $(this).val() == "XX9"/*No Activity*/) {
                        $("#RateType").attr("disabled", true)
                    }
                    else
                        $("#RateType").attr("disabled", false)
                })



                $("#btnPrepareManifest").click(function () {
                    if ($("#LoadingBy").val() == "M") {
                        if (parseFloat($("#LoadingCharge").val()) > 0) {
                            $("#loadrate").hide();

                            if ($("#form_sample").valid()) {
                                App.blockUI({ boxed: true });
                                return true
                            }
                            else {
                                return false;

                            }
                        }
                        else {
                            $("#loadrate").show();
                            $("#LoadingCharge").focus();
                            return false;
                        }
                    }
                    else {

                        if ($("#form_sample").valid()) {
                            App.blockUI({ boxed: true });
                            return true
                        }
                        else {
                            return false;

                        }
                    }
                });

                $(".drprate").live("change", function () {
                    var ID = $(this).attr('id').replace("ratetype", "NewRate");
                    if ($("#LoadingBy").val() == "M" || $("#LoadingBy").val() == "A" || $("#LoadingBy").val() == "XX5" || $("#LoadingBy").val() == "XX8") {
                        var LoadingBy = $("#LoadingBy").val();
                        var RateType = $(this).val();
                        var TypeModule = "M";
                        var LoadType = "L";
                        var Vendorcode = $("#VendorCode").val();
                        var DockNo = $("#" + $(this).attr('id').replace("ratetype", "DOCKNO")).val();
                        App.blockUI({ boxed: true });
                        var StrURL = DomainName + "/Master/GetChargesFromCNoteNo?DockNo=" + DockNo + "&RateType=" + RateType + "&LoadType=" + LoadType + "&LoadingBy=" + LoadingBy + "&TypeModule=" + TypeModule + "&Vendorcode" + Vendorcode;
                        $.ajax({
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            url: StrURL,
                            dataType: 'json',
                            data: {},
                            success: function (data) {
                                if (parseFloat(data.Rate).toFixed(3) > 0) {
                                    //alert(parseFloat(data.Rate).toFixed(3));
                                    $("#" + ID).val(parseFloat(data.Rate).toFixed(3));
                                    loadingRateCalc(1);
                                    App.unblockUI();
                                }
                                else {
                                    $("#" + ID).val(parseFloat($("#Rate").val()).toFixed(3));
                                    $("#" + ID).attr("min", "0.01");
                                    loadingRateCalc(1);
                                    App.unblockUI();
                                }
                            },
                            error: function () {
                                alert("error " + req + "   " + status + "   " + error);
                            }
                        });
                    }
                });

                if ($("#LoadingBy").val() == "M" || $("#LoadingBy").val() == "A" || $("#LoadingBy").val() == "XX5" || $("#LoadingBy").val() == "XX8") {
                    $(".hdnCNT").each(function () {
                        //alert($(this).val())
                        var ID = $(this).attr('id').replace("CNT", "ratetype");
                        if ($(this).val() == "0") {

                            $("#" + ID).prop("readonly", true);
                            $(".Clsrate").prop("readonly", true);
                        }
                        else {
                            $("#" + ID).prop("readonly", false);
                            $(".Clsrate").prop("readonly", true);
                        }
                    });
                    $(".drprate").addClass("required");
                }
                else {
                    $(".drprate").removeClass("required");
                }


                $("#MF_TransportMode").on("change", function () {

                    if ($(this).val() == "A" || $(this).val() == "R") { //if ($(this).val() == "1" || $(this).val() == "3") {
                        $("#LoadingBy").select2("data", null);
                        $("#RateType").select2("data", null);
                        $("#LoadingBy").removeClass("required2 required");
                        $("#RateType").removeClass("required2 required");
                        //$(".divLoadingBy").hide();
                        //$(".divRateType").hide();
                    } else {
                        $("#LoadingBy").addClass("required2 required");
                        $("#RateType").addClass("required2 required");
                        //$(".divLoadingBy").show();
                        //$(".divRateType").show();
                    }
                });
                //$("#MF_TransportMode").val("2");
                $("#MF_TransportMode").val("S");
            }
        }
    }();
</script>