﻿@{
    ViewBag.Title = "Menifest_ViewPrint";
    Layout = null;
}
@using System.Configuration
@model Fleet.ViewModels.LoadingSheetFilterViewModel
@using MvcReportViewer;

@{
    var parameters = new List<KeyValuePair<string, object>>
    {

        new KeyValuePair<string, object>("MFNo",Model.MFNo),

    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();

}

<div id="divPrint">

    @Html.MvcReportViewer(ReportPathPrefix + "/Menifest_ViewPrint_NewPortal", parameters, new { Height = 600, Width = "100%", style = "border: none" })

    <div class="span3"></div>
</div>
