﻿@model Fleet.ViewModels.OctroiFinalizationBillViewModel
@using Fleet.ViewModels
@{
    ViewBag.Title = "OctroiFinalizationCriteria";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var BillList = new List<SelectListItem> {
    new SelectListItem { Text = "Octroi Bill", Value = "1" },
    new SelectListItem { Text = "Octroi Agent Bill", Value = "2" },
    };
    
    
}

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>&nbsp;Octroi  Finalization Bill Criteria
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("AddOctroiBillFinalization", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid" }))
        {
            <div class="form-body">

                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                @Html.HiddenFor(c => c.FromDate)
                @Html.HiddenFor(c => c.ToDate)


                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label class="control-label col-md-3">
                                Select  RO
                            </label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(m => m.RO, new SelectList(Model.WLocationROList, "loccode", "locname"), "", new { @class = "select2 form-control hid required required2", placeholder = "Select RO" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label col-md-3">
                                Select Location
                            </label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(m => m.LO, new SelectList(Model.WLocationList, "loccode", "locname"), "", new { @class = "select2 form-control hid required required2", placeholder = "Select Location" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label class="control-label col-md-3">
                                Select Bill Type
                            </label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(m => m.BillType, new SelectList(BillList, "Value", "Text"), "", new { @class = "select2 form-control required required2 hid", placeholder = "Select Bill Type" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label col-md-3">
                                Select Party Code
                            </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.Vendor, new { @class = "form-control hid", placeholder = " Select Party Code" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label class="control-label col-md-3">
                                Select  Date
                            </label>
                            <div class="col-md-7">
                                <div id="reportrange" class="btn default col-md-12">
                                    <i class="fa fa-calendar"></i>
                                    &nbsp;
                                    <span></span>
                                    <b class="fa fa-angle-down"></b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">

                    </label>
                    <div class="col-md-6">
                        <b>OR</b>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label class="control-label col-md-3">
                                Enter Octroi Bill No
                            </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.OctroiBillNo, new { @class = "form-control hid", placeholder = "Enter Octroi Bill No" })
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <h4 class="hid1" style="display:none">Octroi Bill Finalization Details</h4>
            <div class="row hid1" style="display:none">
                <div class="col-md-12">
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-list"></i>Octroi Bill Finalization List
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" class="chkCheck" />
                                        </th>
                                        <th class="col-md-3 center">
                                            Bill No
                                        </th>
                                        <th class="col-md-2 center">
                                            Bill Date
                                        </th>
                                        <th class="col-md-4 center">
                                            Party Name
                                        </th>
                                        <th class="col-md-2 center">
                                            Bill Amount
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tblbilllist">
                                    @{
            Html.RenderPartial("_PartialOctroiFinalizationList", Model.ListOctroiFinalizationBill.ToList());
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="row">
                    <div class="col-md-offset-3 col-md-12">
                        <button type="submit" id="btnSubmit" style="display:none;" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        <button type="submit" id="btnGetDetail" class="btn blue"><i class="fa fa-search"></i>&nbsp; Submit</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {

                },
                messages: {

                    //'ServiceFor': {
                    //    required: "Please select at least one service for option",
                    //    minlength: jQuery.format("Please Select at Least One Service For Option")
                    //}
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    //if (element.parents('.checkbox-list').size() > 0) {
                    //    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    //} else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                    //}
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //  form1.submit();
                }
            });
        }
    
        var handleSelect2 = function () {
            $('.select2').select2({
                placeholder: "Select an option",
                //allowClear: true
            });
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }

            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                minDate: '01/01/2012',
                //maxDate: '12/31/2014',

                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },
                //function (start, end) {
                //    console.log("Callback has been called!");
                //    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                //}
                 function (start, end) {
                     $('#FromDate').val(start.format('MMMM D, YYYY'));
                     $('#ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                     //alert("Callback has been called!" + $('#FromDate').val() + " " + $('#ToDate').val());
                     //$('#reportrange span').html(start.toString('@ViewBag.DefaultJqueryDateFormat') + ' - ' + end.toString('@ViewBag.DefaultJqueryDateFormat'));
                 }

            );
            //Set the initial state of the picker label
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

            $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ToDate').val(moment().format('MMMM D, YYYY'));
        }
        
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate("form_sample");
                handleSelect2();

                handleDateRangePickers();

                $("#RO").append($('<option></option>').val("All").html("All"));
                $("#RO").val("All");
                $("#RO").select2().find(":selected").data("All");

                $("#LO").append($('<option></option>').val("All").html("All"));
                $("#LO").val("All");
                $("#LO").select2().find(":selected").data("All");

                JsonDDL('Vendor', DomainName + '/Master/SearchVendorListJson')
                $("#RO").live('change', function () {
                    App.blockUI({ boxed: true });
                    $("#Bank").select2('data', null);
                    var StrURL = DomainName + "/Operation/GetRoWiseLocationList?LocLeval=" + "1" + "&Ro=" + $(this).val();
                    FillDropDownfromOther("LO", StrURL, "Mode");
                });

                JsonDDL('WVSMM_Vendorcode', DomainName + '/Master/SearchVendorListJson')


                $('#btnGetDetail').click(function (e) {
                    App.blockUI({ boxed: true });
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return false;
                    }
                    if (e.handled !== true) {
                        e.handled = true;
                        App.blockUI({ boxed: true });
                        $.ajax({
                            url: DomainName + '/Operation/GetdOctroiBillFinalization',
                            type: 'POST',
                            data: $('#form_sample').serialize(),
                            success: function (html) {                               
                                $("#btnSubmit").show();
                                $("#btnGetDetail").hide();

                                $("#tblbilllist").html(html);
                                $("input:checkbox, input:radio").uniform();
                                $("#btnGetDetail").hide();
                                $(".hid").attr('disabled',true)
                                $(".hid1").show(600);
                                App.unblockUI();                              
                            },
                            error: function (req, status, error) {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                                App.unblockUI();
                            }
                        });
                    }
                });
                $('.chkCheck').live('click', function () {
                    if (this.checked) {
                        $(".chkCheckAll").parent('span').addClass('checked');
                    }
                    else {
                        $(".chkCheckAll").parent('span').removeClass('checked');
                    }
                });
                $('#btnSubmit').click(function () {                 
                    App.blockUI({ boxed: true });
                    //$('#form_sample').submit();
                    document.forms[0].submit()
                });

            }
        };
    }();

</script>