﻿@model  FleetDataService.ViewModels.FuelBillEntyQuery
@using FleetDataService.Models
@{
    ViewBag.Title = "Fix Asset PO Advance Payment Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-10">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body form">
                @using (Html.BeginForm("POAdvanceDetails", "Operation", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
                {
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Select  Date :
                                    </label>
                                    <div class="col-md-6">
                                        <div id="reportrange" class="btn default">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-md-10">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Select Vendor :
                                        </label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(c => c.VendorCode, new { placeholder = "Select Vendor", @class = "form-control required2" })
                                        </div>
                                        <span class="col-md-4" style="color:red">Plz Type Initial Character OF Vendor Name</span>
                                        @Html.HiddenFor(c => c.VendorName)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                    </label>
                                    <div class="col-md-6">
                                        <b>OR</b>
                                    </div>
                                </div>*@
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        PO No. :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.PoNo, new { placeholder = " PO No.", @class = "form-control required2" })
                                        @Html.Hidden("POError")
                                        @Html.HiddenFor(c => c.FromDate)
                                        @Html.HiddenFor(c => c.ToDate)
                                    </div>
                                </div>
                            </div>
                            @*<div class="form-group">
                                    <label class="control-label col-md-3">
                                    </label>
                                    <div class="col-md-6">
                                        <b>OR</b>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Manual PO No. :
                                        </label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(c => c.ManualPONo, new { placeholder = " Manual PO No. ", @class = "form-control required2" })
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                        <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-10">
                                <button type="submit" id="btnSubmit" class="btn btn-sm blue controls"><i class="fa fa-search"></i>&nbsp;Search</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            $.validator.addMethod('GRNNoAvailability', function (value, element) {

                var PoNo = $("#PoNo").val();

                if ($("#PoNo").val() != "") {
                    var StrURL = DomainName + "/Operation/GetPODetails?PoNo=" + $("#PoNo").val().trim();
                    var result1 = $.ajax({
                        async: false,
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        url: StrURL,
                        dataType: 'json',
                        data: {},
                    });

                    var d1 = JSON.parse(result1.responseText);
                    //alert(d1.Flg + "  " + d1.MSG);
                    if (d1.Flg == "1") {
                        return true;
                    }
                    else {
                        $("#POError").val(d1.MSG);
                        // $("#GRNNo").val("")
                        return false;
                    }

                }
            }, $("#PoNo").val() + " is not available for Advance Payment");

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {
                    'PoNo': {
                        GRNNoAvailability: true
                    },
                },
                messages: {
                    'PoNo': {
                        GRNNoAvailability: function () {
                            return $("#POError").val();
                        }
                    },

                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    error.insertAfter(element); // for other inputs, just perform default behavior
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    for (var i = 0; i < validator.errorList.length; i++) {
                        console.log(validator.errorList[i]);
                    }

                    //validator.errorMap is an object mapping input names -> error messages
                    for (var i in validator.errorMap) {
                        console.log(i, ":", validator.errorMap[i]);
                    }
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.forms['form_sample'].submit();
                }
            });
        }
        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');

            $("#PoNo").focusout(function () {
                if ($("#PoNo").val().trim() != "") {
                    $(this).rules("add", {
                        GRNNoAvailability: true,
                    });
                }
            });


            //$('#btnSubmit').on('click', function () {
            //    if ($("#PoNo").val() == "") {
            //        $("#VendorCode").addClass("required");
            //    }
            //    else {
            //        $("#VendorCode").removeClass("required");
            //    }
            //    if ($('#form_sample').valid()) {
            //        App.blockUI({ boxed: true });
            //    }
            //});
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);
                Events(DomainName);
               
            }
        }
    }();
</script>
