﻿@model FleetDataService.ViewModels.POAdvancePayment
@using Fleet.Models
@{
    ViewBag.Title = "PO Advance Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal AmountPassed = Model.PO_AMOUNT;
}
@using (Html.BeginForm("POAdvanceSubmit", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">PO No. : </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.pocode, new { @readonly = "true", @class = "required2 form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Vendor Code :</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Vendorname, new { @readonly = "true", @class = "required2 form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">PO Date : </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Podate, new { @readonly = "true", @class = "required2 form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">PO Qty.: </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.TotalQty, new { @readonly = "true", @class = "required2 form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">PO Amount : </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.PO_AMOUNT, new { @readonly = "true", @class = "required2 form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Advance Amount: </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.PO_advamt, new { placeholder = "PO Advance Amt.", @class = "required required2 form-control", @min = 0, @max = AmountPassed })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box @ViewBag.TableBoxColor">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-list"></i>Payment Details
                                    </div>
                                </div>
                                <div class="portlet-body ">
                                    <div class="form-body">
                                        <div class="row">
                                            @{Html.RenderPartial("../UserControls/_PaymentControl", @Model.PC);}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid" id="SubmitBtn">
                        <div class="row">
                            <div class="col-md-offset-5 col-md-5">
                                <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName, formName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form1) {
                    success1.show();
                    error1.hide();
                }

            });
        }

        var Events = function (DomainName) {
            $("#btnSubmit").click(function () {
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                }
                else {
                    return false
                }
            });

        };



        var PaymentControl = function (DomainName) {

            $('.date-picker').datepicker({
                isRTL: App.isRTL(),
                format: "dd M yyyy",
                autoclose: true,
                pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                todayBtn: true
            });
            $('body').removeClass("modal-open");

            $("#PaymentMode").change(function () {

                if ($(this).val() != "") {
                    App.blockUI({ boxed: true });
                }

                $("#CashAmount").attr("readonly", true);
                $("#ChequeAmount").attr("readonly", true);


                $("#CashLedger").change(function () {

                    $("#CashLedgerName").val($(this).select2('data').text);

                });

                $("#BankLedger").change(function () {

                    $("#BankLedgerName").val($(this).select2('data').text);

                });

                if ($(this).val().toUpperCase() == "CASH") {
                    $(".clsBANK").hide();
                    $(".clsCASH").show();
                    $(".clsBANK").children("[input]").find('form-control').removeClass('required');
                    $("#CashAmount").val($("#PayAmount").val());
                    $("#CashLedger").addClass("required required2");
                    $("#BankLedger").removeClass("required required2");
                    $("#ChequeNo").removeClass("required required2");
                    $("#ChequeAmount").val("0");
                    var StrURL = DomainName + "/Payment/GetLedger?Category=Cash";
                    FillDropDownfromOther("CashLedger", StrURL, "Cash Ledger");
                }
                else if ($(this).val().toUpperCase() == "BANK") {
                    $(".clsBANK").show();
                    $(".clsCASH").hide();
                    $("#CashLedger").removeClass("required required2");
                    $("#BankLedger").addClass("required required2");
                    $("#ChequeNo").addClass("required required2");
                    $("#CashAmount").val("0");
                    var StrURL = DomainName + "/Payment/GetLedger?Category=Bank";
                    FillDropDownfromOther("BankLedger", StrURL, "Bank Ledger");

                    $("#ChequeAmount").val($("#PayAmount").val());
                }
                else if ($(this).val().toUpperCase() == "BOTH") {

                    $(".clsBANK").show();
                    $(".clsCASH").show();


                    $("#CashAmount").val("0");
                    $("#ChequeAmount").val("0");

                    $("#CashAmount").attr("readonly", false);
                    $("#ChequeAmount").attr("readonly", false);

                    var StrURL = DomainName + "/Payment/GetLedger?Category=Cash";
                    FillDropDownfromOther("CashLedger", StrURL, "Cash Ledger");

                    StrURL = DomainName + "/Payment/GetLedger?Category=Bank";
                    FillDropDownfromOther("BankLedger", StrURL, "Bank Ledger");
                }
            });
        }

        var PaymentRequired = function (DomianName, advamt) {
            if (parseInt(advamt) == 0) {
                $("#PaymentMode").removeClass("required");
                $("#CashLedger").removeClass("required");
                $("#BankLedger").removeClass("required");
                $("#ChequeNo").removeClass("required");
            }
            else {
                $("#PaymentMode").addClass("required");
                $("#CashLedger").addClass("required");
                $("#BankLedger").addClass("required");
                $("#ChequeNo").addClass("required");
            }
        }

        return {
            init: function (DomainName) {
                Formvalidate(DomainName, "form_sample");

                Events(DomainName);
                PaymentControl(DomainName);
                PaymentRequired(DomainName, 0);

                $("input[name='numberTypeR']").live("change", function () {
                    var numberType = $('input[name=numberTypeR]:checked').val();
                    $("#numberType").val(numberType);
                    $("#ChequeNo").attr("placeholder", $('input[name=numberTypeR]:checked').parents('label').text().trim());
                    if (numberType == "C") {
                        $("#ChequeNo").val("");
                        $("#ChequeNo").attr("maxlength", "6");
                        $("#ChequeNo").attr("minlength", "6");
                        $("#ChequeNo").attr("number", true);
                    }
                    else {
                        $("#ChequeNo").val("");
                        $("#ChequeNo").attr("maxlength", "22");
                        $("#ChequeNo").attr("minlength", "6");
                        $("#ChequeNo").removeAttr("number");
                    }
                });

                $("#PaymentMode").addClass("required required2");


                $("#PO_advamt").change(function () {
                    $("#PayAmount").val($(this).val());
                });

            }
        }
    }();
</script>
