﻿@model Fleet.ViewModels.PoGenerationViewModel
@using FleetDataService.Models
    @{
        ViewBag.Title = "GeneralizePO";
        Layout = "~/Views/Shared/_Layout.cshtml";

        if (Model.webx_GENERAL_POASSET_HDR.podate == null || Model.webx_GENERAL_POASSET_HDR.podate == System.DateTime.MinValue)
        {
            Model.webx_GENERAL_POASSET_HDR.podate = System.DateTime.Now;
        }
        if (Model.webx_GENERAL_POASSET_HDR.SpotDelDT == null || Model.webx_GENERAL_POASSET_HDR.SpotDelDT == System.DateTime.MinValue)
        {
            Model.webx_GENERAL_POASSET_HDR.SpotDelDT = System.DateTime.Now;
        }
        FleetDataService.MasterService MS = new FleetDataService.MasterService();
        Model.webx_GENERAL_POASSET_HDR.MatCat = "01";
        List<Webx_Master_General> generalMasterList = MS.GetGeneralMasterObject().ToList();
    }

    <div id="loading" style="display: none;">
        <img src="@Url.Content("~/assets/img/loading.gif")" />
    </div>

    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor" id="WOPOGeneration">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-reorder"></i>Purchase Order Generation
                </div>
            </div>

            <div class="portlet-body form">
                @using (Html.BeginForm("POGeneration", "Operation", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
                {
                    <div class="form-wizard">
                        <div class="form-body">

                            <div class="tab-content">
                                <div class="alert alert-danger display-none">
                                    <button class="close" data-dismiss="alert"></button>
                                    You have some form errors. Please check below.
                                </div>
                                <div class="alert alert-success display-none">
                                    <button class="close" data-dismiss="alert"></button>
                                    Your form validation is successful!
                                </div>

                                <div class="tab-pane active" id="tab1">
                                    <h3 class="block form-section">Purchase Order Detail</h3>


                                    <div class="form-group ">
                                        <div class="row col-md-12">
                                            <div class="col-md-6">
                                                <label class="control-label col-md-4">
                                                    PO From
                                                </label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(m => m.webx_GENERAL_POASSET_HDR.POFROM, new SelectList(Model.POFROM, "CodeID", "CodeDesc", @Model.webx_GENERAL_POASSET_HDR.POFROM), "", new { @class = "select2 form-control required" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label col-md-4">
                                                    Material Category
                                                </label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(m => m.webx_GENERAL_POASSET_HDR.MatCat, new SelectList(generalMasterList.Where(c => (c.CodeType.ToUpper() == "MATCAT" || c.CodeType.ToUpper() == "WOMATCAT") && c.StatusCode == "Y").OrderBy(c => c.CodeDesc), "CodeID", "CodeDesc", @Model.webx_GENERAL_POASSET_HDR.MatCat), "", new { @class = "select2 form-control", @disabled = "disabled" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row col-md-12">
                                            <div class="col-md-6">
                                                <label class="control-label col-md-4">Purchase Order ID</label>
                                                <div class="col-md-6">
                                                    <div class="input-group input-medium">
                                                        <input type="text" placeholder="System Generated" class="form-control" disabled="disabled" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <label class="control-label col-md-4">
                                                    Purchase Order Date
                                                </label>
                                                <div class="col-md-6">
                                                    <div class="input-group input-medium date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d">
                                                        @Html.TextBoxFor(m => m.webx_GENERAL_POASSET_HDR.podate, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.webx_GENERAL_POASSET_HDR.podate).ToString("dd MMM yyyy")), new { @class = "form-control ", @readonly = true })
                                                        <span class="input-group-btn">
                                                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row col-md-12">
                                            <div class="col-md-6">
                                                <label class="control-label col-md-4">Vendor Code</label>
                                                <div class="col-md-6">
                                                    <div class="input-group input-medium">
                                                        @Html.TextBoxFor(m => m.webx_GENERAL_POASSET_HDR.VENDORCD, new { @class = "form-control required" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <label class="control-label col-md-4">
                                                    Spot Delivery Date
                                                </label>
                                                <div class="col-md-6">
                                                    <div class="input-group input-medium date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d">
                                                        @Html.TextBoxFor(m => m.webx_GENERAL_POASSET_HDR.SpotDelDT, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.webx_GENERAL_POASSET_HDR.podate).ToString("dd MMM yyyy")), new { @class = "form-control ", @readonly = true })
                                                        <span class="input-group-btn">
                                                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row col-md-12">
                                            <div class="col-md-6">
                                                <label class="control-label col-md-4">Manual W.O. Number</label>
                                                <div class="col-md-6">
                                                    <div class="input-group input-medium">
                                                        @Html.TextBoxFor(m => m.webx_GENERAL_POASSET_HDR.Manual_PO_No, new { @class = "form-control", @placeholder = "Manual W.O. Number" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <label class="control-label col-md-4">
                                                    Person Name
                                                </label>
                                                <div class="col-md-6">
                                                    <div class="input-group input-medium">
                                                        @Html.TextBoxFor(m => m.webx_GENERAL_POASSET_HDR.attn, new { @class = "form-control", @placeholder = "Person Name" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div id="tab2disp" style="display:none;">
                                    <h3 class="block form-section">Order Detail</h3>
                                    <div class="row-fluid">

                                        <div class="portlet-body">
                                            <div class="table-container">
                                                <div>
                                                    <table id="container" class="table table-striped table-bordered table-hover">
                                                        <thead>
                                                            <tr role="row" class="heading">
                                                                <th>
                                                                    No
                                                                </th>
                                                                <th id="headtype">
                                                                    Details
                                                                </th>
                                                                <th>
                                                                    Description
                                                                </th>
                                                                <th>
                                                                    Qty.
                                                                </th>
                                                                <th>
                                                                    Unit Type
                                                                </th>
                                                                <th>
                                                                    Rate
                                                                </th>
                                                                <th>
                                                                    % Of Discount
                                                                </th>
                                                                <th>
                                                                    Discount Amount
                                                                </th>
                                                                <th>
                                                                    % Of Tax
                                                                </th>
                                                                <th>
                                                                    Tax<br /> Amount
                                                                </th>
                                                                <th>
                                                                    Total Amount
                                                                </th>
                                                                <th>
                                                                    Warranty (In Year)
                                                                </th>
                                                                <th>
                                                                    Delete Row
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="GeneralizePOTable"></tbody>

                                                    </table>
                                                </div>
                                                <div>

                                                    <div class="row">
                                                        <div class="col-md-9">
                                                            <div class="form-group" style="margin-left: 4%">
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row col-md-12">
                                                                    <label class="control-label col-md-3">
                                                                        Other Terms & Condition
                                                                    </label>
                                                                    <div class="col-md-9">
                                                                        <div class="input-group input-xlarge">
                                                                            @Html.TextAreaFor(m => m.webx_GENERAL_POASSET_HDR.terms_condition, new { @class = "form-control ", @placeholder = "Other Terms & Condition" })
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-6">
                                                                    Grand Total
                                                                </label>
                                                                <div class="input-group input-sm">
                                                                    @Html.TextBoxFor(m => m.webx_GENERAL_POASSET_HDR.totalamt, new { @class = "col-md-6 input-sm", @placeholder = "0.00", @readonly = true })
                                                                </div>

                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-6">
                                                                    Advance Amount
                                                                </label>
                                                                <div class="input-group input-sm">
                                                                    @Html.TextBoxFor(m => m.webx_GENERAL_POASSET_HDR.PAIDAMT, new { @class = "col-md-6 input-sm", @placeholder = "0.00", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                                                </div>

                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-6">
                                                                    Balance Amount
                                                                </label>
                                                                <div class="input-group input-sm">
                                                                    @Html.TextBoxFor(m => m.webx_GENERAL_POASSET_HDR.pendamt, new { @class = "col-md-6 input-sm", @placeholder = "0.00", @readonly = true })
                                                                    @Html.HiddenFor(m => m.webx_GENERAL_POASSET_HDR.totalqty)
                                                                    @Html.HiddenFor(m => m.webx_GENERAL_POASSET_HDR.PO_advamt)
                                                                    @Html.HiddenFor(m => m.webx_GENERAL_POASSET_HDR.PO_balamt)
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="form-actions fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-offset-3 col-md-9">

                                <a href="#" class="btn blue button-next" id="button-next">
                                    Continue <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                                <a href="#" class="btn green button-submit" id="button-submit" style="display:none;">
                                    Submit <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript">

        var FormComponents = function (DomainName) {

            var handleDatetimePicker = function () {
                if (jQuery().datepicker) {
                    $('.date-picker').datepicker({
                        rtl: App.isRTL(),
                        format: "dd M yyyy",
                        autoclose: true,
                        endDate: "+1d",
                    });
                }
            }

            var handleSelect2 = function () {
                $('.select2').select2({
                    placeholder: "Select an option",
                    allowClear: true
                });
            }

            var Formvalidate = function (DomainName) {
                if (!jQuery().bootstrapWizard) {
                    return;
                }

                var form = $('#submit_form');
                var error = $('.alert-danger', form);
                var success = $('.alert-success', form);

                form.validate({
                    doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input

                    invalidHandler: function (event, validator) { //display error alert on form submit
                        success.hide();
                        error.show();
                        App.scrollTo(error, -200);
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                    },

                    unhighlight: function (element) { // revert the change done by hightlight
                        $(element)
                            .closest('.form-group').removeClass('has-error'); // set error class to the control group
                    },

                    success: function (label) {
                        if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                            label
                                .closest('.form-group').removeClass('has-error').addClass('has-success');
                            label.remove(); // remove error label here
                        } else { // display success icon for other inputs
                            label
                                .addClass('valid') // mark the current input as valid and display OK icon
                            .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                        }
                    },

                    submitHandler: function (form) {
                        success.show();
                        error.hide();
                        //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                    }

                });
            }


            var ShowAssetNM = function Show_assetNM(Obj, Type, DomainName) {

                if (Obj.value == "") {
                    return false;
                }
                if (Type != "ManualPONo") {
                    var Search_Char = "~"
                    if (Obj.value.indexOf(Search_Char) == -1) {
                        alert("Invalid  Item  Name~Code Format");
                        Obj.focus();
                        return false
                    }
                }
                var TxtAssetcode = Obj.id;
                var txtastnm = TxtAssetcode.replace("txtassetcd", "txtastnm");
                var Assetcode_Arr = $("#" + TxtAssetcode).val().split("~");
                if (Type != "ManualPONo") {
                    Assetcode = Assetcode_Arr[1]
                }
                else {
                    Assetcode = $("#" + TxtAssetcode).val()
                }
                if (Assetcode != "") {

                    var StrURL1 = DomainName + "/Operation/CheckExist";
                    $.ajax({
                        url: StrURL1,
                        cache: false,
                        data: { mode: Type, code: Assetcode },
                        type: 'GET',
                        success: function (html) {

                            var res = html.split("|");
                            if (Type == "Vendor") {
                                if (res[0] == "false") {
                                    alert("Vendor Code is not Valid... Please Enter Valid Vendor Code");
                                    $("#" + TxtAssetcode).val("");
                                    return false;
                                }
                            }
                            else if (Type == "ManualPONo") {
                                if (res[0] == "true") {
                                    alert("Manual Wo Number is Already Exist.. Please Enter Valid Manual WO Number.");
                                    $("#" + TxtAssetcode).val("");
                                    return false;
                                }
                            }
                            else {
                                if (res[0] == "true") {
                                    alert("Item Code is not Valid... Please Enter Valid Item Code");
                                    $("#" + TxtAssetcode).val("");
                                    return false;
                                }
                            }
                        },
                        error: function (req, status, error) {
                            alert("error " + req + " " + status + " " + error);
                        }
                    });

                }
            }

            var getTypeValue = function () {
                var vars = [], hash;
                var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for (var i = 0; i < hashes.length; i++) {
                    hash = hashes[i].split('=');
                    vars.push(hash[0]);
                    vars[hash[0]] = hash[1];
                }
                return vars;
            }

            var AddQuestions = function (DomainName, itemIndex) {
                App.blockUI({ boxed: true });
                var SKUID = $('#webx_GENERAL_POASSET_HDR_POFROM').val();
                var StrURL1 = DomainName + "/Operation/GeneralizePOTable?id=" + itemIndex + "&SKUID=" + SKUID;

                $.ajax({
                    url: StrURL1,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (html) {
                        // alert(html);
                        $("#GeneralizePOTable").append(html);

                        CalcFunction('qty', itemIndex);
                        CalcFunction('rate', itemIndex);
                        CalcFunction('total', itemIndex);
                        CalcFunction('Discount_Per', itemIndex);
                        CalcFunction('DiscountAmt', itemIndex);
                        CalcFunction('tax_per', itemIndex);
                        CalcFunction('TaxAmt', itemIndex);

                        $("#GENERAL_POASSET_det_" + itemIndex + "__UnitType").select2({
                            placeholder: "Select an Option",
                            allowClear: true
                        });
                        App.unblockUI();
                    },
                    error: function (req, status, error) {
                        App.unblockUI();
                        alert("error " + req + " " + status + " " + error);

                    }
                });
            }

            var ToatalAmount = function (itemIndex) {
                var Qty = '#GENERAL_POASSET_det_' + itemIndex + '__qty';
                var Rate = '#GENERAL_POASSET_det_' + itemIndex + '__rate';
                var Total = '#GENERAL_POASSET_det_' + itemIndex + '__total';
                var Discount_Per = '#GENERAL_POASSET_det_' + itemIndex + '__Discount_Per';
                var DiscountAmt = '#GENERAL_POASSET_det_' + itemIndex + '__DiscountAmt';
                var TaxPer = '#GENERAL_POASSET_det_' + itemIndex + '__tax_per';
                var TaxAmt = '#GENERAL_POASSET_det_' + itemIndex + '__TaxAmt';
                var total = '#GENERAL_POASSET_det_' + itemIndex + '__total';

                $(Qty).val(parseFloat($(Qty).val()).toFixed(2));
                $(Rate).val(parseFloat($(Rate).val()).toFixed(2));
                $(Total).val(parseFloat($(Total).val()).toFixed(2));
                $(Discount_Per).val(parseFloat($(Discount_Per).val()).toFixed(2));
                $(TaxPer).val(parseFloat($(TaxPer).val()).toFixed(2));

                var disamount = $(Qty).val() * $(Rate).val() - ($(Qty).val() * $(Rate).val() * $(Discount_Per).val() / 100)
                var total1 = disamount + (disamount * $(TaxPer).val() / 100)
                $(DiscountAmt).val(parseFloat($(Qty).val() * $(Rate).val() * $(Discount_Per).val() / 100).toFixed(2));
                $(TaxAmt).val(parseFloat(disamount * $(TaxPer).val() / 100).toFixed(2));
                $(total).val(parseFloat(total1).toFixed(2));
                CountTotal();
            }
            var CountTotal = function () {
                var GT = 0;
                var quantity = 0;
                var pendingAmount = 0;
                totalRows = $("#container tbody tr").length;
                //for (var i = 1; i <= totalRows; i++) {
                //    quantity = parseFloat(quantity) + parseFloat($('#GENERAL_POASSET_det_' + i + '__qty').val());
                //    GT = parseFloat(GT) + parseFloat($('#GENERAL_POASSET_det_' + i + '__total').val());
                //}

                $(".qty").each(function () {
                    quantity = parseFloat(quantity) + parseFloat($(this).val());
                });
                $(".total").each(function () {
                    GT = parseFloat(GT) + parseFloat($(this).val());
                });

                $("#webx_GENERAL_POASSET_HDR_PO_advamt").val(parseFloat($('#webx_GENERAL_POASSET_HDR_PAIDAMT').val()).toFixed(0));
                pendingAmount = parseFloat(GT).toFixed(0) - parseFloat($('#webx_GENERAL_POASSET_HDR_PAIDAMT').val()).toFixed(0)
                $("#webx_GENERAL_POASSET_HDR_totalamt").val(parseFloat(GT).toFixed(0));
                $("#webx_GENERAL_POASSET_HDR_totalqty").val(parseFloat(quantity).toFixed(2));
                if (pendingAmount < 0) {
                    $("#webx_GENERAL_POASSET_HDR_pendamt").val(parseFloat(GT).toFixed(0));
                    $("#webx_GENERAL_POASSET_HDR_PO_balamt").val(parseFloat(GT).toFixed(0));
                    $("#webx_GENERAL_POASSET_HDR_PAIDAMT").val(parseFloat(0).toFixed(0));
                    $("#webx_GENERAL_POASSET_HDR_PO_advamt").val(parseFloat($('#webx_GENERAL_POASSET_H  DR_PAIDAMT').val()));
                    alert("Paid Amount should less than Grand Total");
                    $("#webx_GENERAL_POASSET_HDR_pendamt").focus();

                    return false();
                }
                else {
                    $("#webx_GENERAL_POASSET_HDR_pendamt").val(parseFloat(pendingAmount).toFixed(0));
                    $("#webx_GENERAL_POASSET_HDR_PO_balamt").val(parseFloat(pendingAmount).toFixed(0));
                }
            }
            var CalcFunction = function (TextBoxName, txtNumber) {

                var TxtName = '#GENERAL_POASSET_det_' + txtNumber + '__' + TextBoxName + '';
                if ($(TxtName).val() == null || $(TxtName).val() == "" || $(TxtName).val() == '0') {
                    $(TxtName).val('0')
                }

                if (!($.isNumeric($(TxtName).val()))) {
                    $(TxtName).val('0')
                }
                if (parseFloat($(TxtName).val()) < 0) {
                    $(TxtName).val('0')
                }
                $(TxtName).val(parseFloat($(TxtName).val()).toFixed(2));

                $(TxtName).live('change', function () {
                    if ($(TxtName).val() == null || $(TxtName).val() == "") {
                        $(TxtName).val("0");
                    }

                    if (!($.isNumeric($(TxtName).val()))) {
                        $(TxtName).val('0')
                        alert("Please Enter Numeric Only.")
                    }
                    if (parseFloat($(TxtName).val()) < 0) {
                        $(TxtName).val('0')
                        alert("Must be Non-Negative Value.")
                    }
                    $(TxtName).val(parseFloat($(TxtName).val()).toFixed(2));

                    ToatalAmount(txtNumber);
                });

            }

            return {
                //main function to initiate the module
                init: function (DomainName) {

                    handleSelect2();
                    handleDatetimePicker();
                    Formvalidate(DomainName);
                    GetVendorCode("webx_GENERAL_POASSET_HDR_VENDORCD");
                    //ShowAssetNM();
                    @foreach(var item in Model.Listwebx_GENERAL_POASSET_det)
                {
                    <text>
                    CalcFunction('qty', "@item.srno");
                    CalcFunction('rate', "@item.srno");
                    CalcFunction('total', "@item.srno");
                    CalcFunction('Discount_Per', "@item.srno");
                    CalcFunction('DiscountAmt', "@item.srno");
                    CalcFunction('tax_per', "@item.srno");
                    CalcFunction('TaxAmt', "@item.srno");
                    $("#GENERAL_POASSET_det_" + "@item.srno" + "__assetcd").change(function () {
                        ShowAssetNM(this, 'FixAsset', DomainName)
                    });
                    </text>

                }

                    var i = "";
                    var itemIndex = $("#container input.iHidden").length + 1;
                    $("#btnAddRow").click(function () {

                        var TOTROW = "1";
                        for (var i = 0; i <= TOTROW - 1; i++) {
                            setTimeout(function () {
                                itemIndex = itemIndex + 1;
                                AddQuestions(DomainName, itemIndex);
                            }, 100 * i);
                        }

                    });
                    $("#webx_GENERAL_POASSET_HDR_VENDORCD").change(function () {
                        ShowAssetNM(this, 'Vendor', DomainName)
                    });

                    $("#webx_GENERAL_POASSET_HDR_Manual_PO_No").change(function () {
                        ShowAssetNM(this, 'ManualPONo', DomainName)
                    });
                    $("#webx_GENERAL_POASSET_HDR_PAIDAMT").change(function () {
                        if ($(this).val() == null || $(this).val() == "") {
                            $(this).val("0");
                        }
                        if (!($.isNumeric($(this).val()))) {
                            $(this).val('0');
                            alert("Please Enter Numeric Only.")
                        }
                        if (parseFloat($(this).val()) < 0) {
                            $(this).val('0');
                            alert("Must be Non-Negative Value.")
                        }
                        CountTotal();
                    });

                    $("a.deleteRow").live("click", function () {
                        $(this).parents("tr.filter:first").remove();
                        CountTotal();
                    });


                    $('#button-next').click(function () {
                        var form = $('#submit_form');
                        if (form.valid() == false) {
                            return false;
                        }
                        $('#button-next').hide();
                        $('#button-submit').show();
                        $('#tab2disp').show();
                        $('#webx_GENERAL_POASSET_HDR_MatCat').prop('disabled', true);
                        $('#webx_GENERAL_POASSET_HDR_POFROM').prop('disabled', true);
                        $("#GeneralizePOTable").html('');
                        $('#headtype').html($('#webx_GENERAL_POASSET_HDR_POFROM option:selected').text().split('~')[0] + ' Details')
                        AddQuestions(DomainName, '1');
                    });
                    $('#button-submit').click(function () {
                        var form = $('#submit_form');
                        if (form.valid() == true) {
                            App.blockUI({ boxed: true });
                            $('#tab1 :input').attr('disabled', false);
                            document.forms["submit_form"].submit();
                        }
                    })

                }
            };
        }();

    </script>