﻿@model CYGNUS.Models.claims
@{
    ViewBag.Title = "Prepare New Claims Investigation Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Prepareclaims", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="portlet @ViewBag.TableBoxColor box">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-edit"></i>@ViewBag.Title
            </div>
        </div>
        <div class="portlet-body">

            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Enter Cnote No.</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.DOCKNO, new { placeholder = "Enter Cnote No", @class = "form-control  required2", @id="TxtDockNO"})
                                </div>
                            </div>
                        </div>
                    </div>  
                    <br />
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Suffix(if any)</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.SNO, new { placeholder = "Suffix(if any) ", @class = "form-control"})
                                </div>
                            </div>
                        </div>
                    </div>  
                    <br/>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label col-md-3">Select Claims Basis</label>
                                <div class="col-md-8">
                                        <input type="checkbox" name="NonDelivery" id="chkNonDelivery" value="NonDelivery" class="clsEntryTYP"> Non-Delivery
                                        <input type="checkbox" name="Shortage" id="chkShortage" value="Shortage" class="clsEntryTYP"> Shortage
                                        <input type="checkbox" name="Damage" id="chkDamage" value="Damage" class="clsEntryTYP"> Damage
                                        <input type="checkbox" name="Leakage" id="chkLeakage" value="Leakage" class="clsEntryTYP"> Leakage
                                        <input type="checkbox" name="Pilferage" id="chkPilferage" value="Pilferage" class="clsEntryTYP"> Pilferage
                                        <input type="checkbox" name="Other" id="chkOther" value="Other" class="clsEntryTYP"> Other
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Select Claims Settelement Basis</label>
                                <div class="col-md-7">
                                    <label class="radio-inline">
                                        <input type="radio" name="ClaimBasis" id="rdBill" value="Bill" class="clsEntryTYP" >Bill
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="ClaimBasis" id="rdCash" value="Cash" class="clsEntryTYP" >Cash 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="ClaimBasis" id="rdCOF" value="COF" class="clsEntryTYP" >COF 
                                    </label>
                              </div>
                          </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Select Claims Party</label>
                                <div class="col-md-7">
                                    <label class="radio-inline">
                                        <input type="radio" name="PartyBasis" id="rdConsignor" value="Consignor" class="clsEntryTYP" > Consignor
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="PartyBasis" id="rdConsignee" value="Consignee" class="clsEntryTYP" > Consignee
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="PartyBasis" id="rdOther" value="Other" class="clsEntryTYP" > Other
                                    </label>
                               </div>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions fluid">
                    <div class="col-md-offset-2 col-md-4">
                        <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

<script language="javascript" type="text/javascript">

        function checkEvent() {
              var Docket = document.getElementById("TxtDockNO").value;
              var NonDel = document.getElementById("chkNonDelivery").checked;
              var Short = document.getElementById("chkShortage").checked;
              var Dam = document.getElementById("chkDamage").checked;
              var Leakage = document.getElementById("chkLeakage").checked;
              var Pilferage = document.getElementById("chkPilferage").checked;
              var other = document.getElementById("chkOther").checked;
              var bill = document.getElementById("rdBill").checked;
              var cash = document.getElementById("rdCash").checked;
              var cof = document.getElementById("rdCOF").checked;
              var consingor = document.getElementById("rdConsignor").checked;
              var consignee = document.getElementById("rdConsignee").checked;
              var other1 = document.getElementById("rdOther").checked;

            if (Docket == "") {
                alert("Docket No cannot be blank!!")
                return false;
            }

            if (NonDel == false && Short == false && Dam == false && Leakage == false && Pilferage == false && other == false) {
                alert("Please Select Claim Basis")
                return false;
            }

            if (bill == false && cash == false && cof == false) {
                alert("Please Select Claim Settlement Basis")
                return false;
            }

            if (consingor == false && consignee == false && other1 == false) {
                alert("Please Select Claim Party")
                return false;
            }
            return true;
        }


        var FormComponents = function (DomainName) {
            var Formvalidate = function (DomainName) {
                var form1 = $('#form_sample');
                var error1 = $('.alert-danger', form1);
                var success1 = $('.alert-success', form1);

                form1.validate({
                    doNotHideMessage: true,
                    errorElement: 'span',
                    errorClass: 'help-block',
                    focusInvalid: false,
                    ignore: "",
                    rules: {
                    },
                    messages: {
                    },
                    invalidHandler: function (event, validator) {
                        success1.hide();
                        error1.show();
                        App.scrollTo(error1, -200);
                    },
                    highlight: function (element) {
                        $(element)
                            .closest('.form-group').addClass('has-error');
                    },
                    unhighlight: function (element) {
                        $(element)
                            .closest('.form-group').removeClass('has-error');
                    },
                    success: function (label) {
                        label
                            .closest('.form-group').removeClass('has-error');
                    },
                    submitHandler: function (form) {
                        success1.show();
                        error1.hide();
                      //  form1.submit();
                    }
                });

            }
            return {
                //main function to initiate the module
                init: function (DomainName) {
                    Formvalidate(DomainName);
                    debugger;
                    $("#TxtDockNO").change(function () {
                        
                        var StrURL2 = DomainName + '/Operation/CheckDockNO?DocketNo=' + $(this).val();
                        
                        $.ajax({
                            url: StrURL2,
                            cache: false,
                            data: {}, 
                            type: 'GET',
                            success: function (data) {
                                if (data != "true") {
                                    TosterNotification("error", 'Opration fail..!! Docket no. does not exists !!!', "Oppps..!!");
                                    $("#TxtDockNO").val("");
                                }
                            },
                            error: function (req, status, error) {
                                alert("error " + req + "   " + status + "   " + error);
                            }
                        });

                    });

                    $("#btnSubmit").click(function () {
                        Formvalidate(DomainName);
                        if ($('#form_sample').valid()) {
                            if (checkEvent()) {
                                App.blockUI({ boxed: true });
                                document.forms["form_sample"].submit()
                                App.unblockUI();
                            }
                        }
                    });
                }
            }
        }();
</script>

