﻿@model Fleet.ViewModels.PRQViewModel
@using FleetDataService.Models;

@{
    ViewBag.Title = "PRQ Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //FleetDataService.MasterService MS = new FleetDataService.MasterService();
    //List<webx_CUSTHDR> CustomerList = MS.GetCustomerList("","");
}

<div class="row">
    <div class="col-md-8">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-wizard">
                    <div class="form-body">
                        @using (Html.BeginForm("PRQList", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
                        {
                            <div class="tab-content">
                                <div class="alert alert-danger display-none">
                                    <button class="close" data-dismiss="alert"></button>
                                    You have some form errors. Please check below.
                                </div>
                                <div class="alert alert-success display-none">
                                    <button class="close" data-dismiss="alert"></button>
                                    Your form validation is successful!
                                </div>

                                <div id="disablediv">
                                    <div class="form-group ">
                                        <label class="control-label col-md-3">
                                            Select Date :
                                        </label>
                                        <div class="col-md-6">
                                            <div id="reportrange" class="btn default col-md-12">
                                                <i class="fa fa-calendar"></i>
                                                &nbsp;
                                                <span></span>
                                                <b class="fa fa-angle-down"></b>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        <label class="control-label col-md-3">
                                            Enter PRQ No. :
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.PRQNo, new { placeholder = "PRQ No", @class = "form-control" })
                                            @Html.HiddenFor(m => m.FromDate)
                                            @Html.HiddenFor(m => m.ToDate)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Customer Name :
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.CustomerCode, new { placeholder = "Customer Name", @class = "required2 form-control required" })
                                            @*@Html.DropDownListFor(model => model.CustomerCode, new SelectList(CustomerList, "CUSTCD", "CUSTNM"), "", new { @class = "form-control select2", @placeholder = "SELECT CUSTOMER" })*@
                                        </div>
                                    </div>
                                    <div class="form-actions fluid">
                                        <div class="col-md-offset-4 col-md-8">
                                            <button type="button" id="btnGetDetail" class="btn btn-sm blue"><i class="fa fa-search"></i> Get Details</button>
                                            <a href="@Url.Action("AddPRQRequest")" id="btnAddRequest" class="btn btn-sm blue"><i class="fa fa-plus"></i> Add Request</a>
                                        </div>
                                    </div>
                                </div>

                                <div id="GetPRQList">
                                </div>
                                @*<div class="form-actions fluid">
                                    <div class="col-md-offset-4 col-md-8">
                                        <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i> Submit</button>
                                    </div>
                                </div>*@
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var FormValidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);
            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span',
                errorClass: 'help-block',
                focusInvalid: false,
                ignore: "",
                rules: {},
                messages: {},
                invalidHandler: function (event, validator) {
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                success: function (label) {
                    label.closest('.form-group').removeClass('has-error');
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }
            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                //maxDate: '12/31/2014',
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#FromDate').val(start.format('MMMM D, YYYY'));
                     $('#ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ToDate').val(moment().format('MMMM D, YYYY'));
        }

        var BtnGetDetail = function (DomainName) {

            $("#btnGetDetail").click(function () {

                FormValidate(DomainName);

                App.blockUI({ boxed: true });
                //var StrURL1 = DomainName + '/Operation/PRQList';
                //alert($("#form_sample").serialize());

                $.ajax({
                    url: DomainName + '/Operation/PRQList',
                    data: $("#form_sample").serialize(),
                    type: 'POST',
                    success: function (data) {

                        $("#disablediv :input").attr("disabled", true);
                        $("#disablediv").hide();
                        $("#GetPRQList").html(data);
                        App.unblockUI();
                    },
                    error: function (req, status, error) {
                        alert("error " + req + "   " + status + "   " + error);
                        App.unblockUI();
                    }
                });
            });
        }
    
        return {
            init: function (DomainName) {
                
                FormValidate(DomainName);
                handleDateRangePickers();
                BtnGetDetail(DomainName);
                $("#btnSubmit").hide();

                var StrURL = DomainName + "/Master/GetCustomerListingNew";

                $("#CustomerCode").select2({
                    placeholder: "Search Here",
                    minimumInputLength: 3,
                    allowClear: true,
                    //multiple: IsMultiple,
                    //tags: [],
                    ajax: {
                        url: StrURL,
                        dataType: 'json',
                        data: function (term) {
                            return {
                                searchTerm: term,
                                GRPCD: 'C001'
                            };
                        },
                        results: function (data) { // parse the results into the format expected by Select2.
                            // since we are using custom formatting functions we do not need to alter remote JSON data
                            //  alert("Hello");
                            // alert(data);
                            //    alert(data.CMP);
                            return {
                                results: data
                            };
                        }
                    },
                    initSelection: function (item, callback) {
                        var id = item.val();
                        var text = item.data('option');
                        var data = { id: id, text: text };
                        callback(data);
                    },
                    formatResult: function (item) { return ('<div><b>' + item.id + ' </b>- ' + item.text + '</div>'); },
                    formatSelection: function (item) { return (item.id + ' </b>- ' + item.text); },
                    escapeMarkup: function (m) { return m; },
                    //dropdownCssClass: "bigdrop" // apply css that makes the dropdown taller
                });

                $("#btnSubmit").click(function () {
                    if ($('#form_sample').valid()) {
                        App.blockUI({ boxed: true });
                        $("#disablediv :input").attr("disabled", false);
                        document.forms["form_sample"].submit()
                        $("#form_sample").submit();
                    }
                    else {
                        return false
                    }
                });
            }
        }
    }();
</script>
