﻿@model Fleet.ViewModels.PRSArrivalsFilterViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "PRS Arrival";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    //List<Webx_Master_General> LoadingBy = MS.GetGeneralMasterObject().Where(c => c.CodeType == "LOADBY" && c.StatusCode == "Y").OrderBy(c => c.CodeDesc).ToList();
    List<CYGNUS_LoadingUnLoading_VendorType_Mapping> ListVendorType = MS.GetLoadingUnLoadingVendorTypeMappingList("U", @ViewBag.BaseLocationCode, "P");

    //List<Webx_Master_General> RateList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "HANDCHRG" && c.StatusCode == "Y").OrderBy(c => c.CodeId).ToList();
    List<Webx_Master_General> ListRate = MS.GetGeneralMasterObject().Where(c => c.CodeType == "HANDCHRG" && c.StatusCode == "Y").OrderBy(c => c.CodeId).ToList();
}

@using (Html.BeginForm("PRSArrivalsMain", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Select  Date :
                                    </label>
                                    <div class="col-md-7">
                                        <div id="reportrange" class="btn default">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                    </label>
                                    <div class="col-md-7">
                                        <b>OR</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Document No. :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.HiddenFor(c => c.FromDate)
                                        @Html.HiddenFor(c => c.ToDate)
                                        @Html.TextBoxFor(c => c.DocNo, new { placeholder = "Document No.", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        UnLoad By :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.UnloadBy, new SelectList(ListVendorType.OrderBy(c => c.CodeDesc).ToList(), "CodeId", "CodeDesc"), "", new { @class = "form-control required required2 select2", placeholder = "Select UnLoad By" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Rate Type :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.RateType, new SelectList(ListRate, "CodeId", "CodeDesc"), "", new { @class = "form-control required required2 select2", placeholder = "Select Rate Type" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-actions fluid">
                                <div class="col-md-offset-3 col-md-10">
                                    <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Get List</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ArrivalList">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;Arrival List
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <table class="table table-striped table-bordered table-hover" id="ArrivalList" style="overflow-x: scroll;">
                            <thead>
                                <tr></tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }


        var loadData = function (DomainName, tblId, Type) {
            var Headers = "";
            Headers = [
            {
                data: 'PDCNO',
                title: 'PDC NO'
            },
            {
                data: 'PDCDT',
                title: 'PDC Date'
            },
            {
                data: 'vendorcode',
                title: 'Vendor Code'
            },
            {
                data: 'PDCBR',
                title: 'PDC Branch'
            },

            ];
            App.blockUI({ boxed: true });
            var strUrl = $('#form_sample').attr('action');
            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: 'json',
                data: $('#form_sample').serialize(),
                success: function (result) {
                    $('#' + tblId).DataTable({
                        data: result,
                        columns: Headers,
                        destroy: true,
                        "aoColumnDefs": [
                              {
                                  "aTargets": [0],
                                  "mRender": function (data, type, full) {
                                      return '<a href="@Url.Content("~/Operation/PRSArrivalDetails")?id=' + data + ' &RateType=' + $("#RateType").val() + '&UnloadBy=' + $("#UnloadBy").val() + '" >' + data + '</a>';
                                  }
                              },
                        ],
                    });
                    formateDataTable(tblId);
                    $('#' + tblId).parents('.row').show(500);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }
        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');
            $("#UnloadBy").change(function () {
                if ($(this).val() == "O" || $(this).val() == "B" || $(this).val() == "BP" || $(this).val() == "XX9") {
                    $("#RateType").attr("disabled", true)
                }
                else
                    $("#RateType").attr("disabled", false)
            });
            $('#btnSubmit').on('click', function () {
                Formvalidate(DomainName);
                var Type = $("#Type").val();
                if ($('#form_sample').valid()) {
                    $(".ArrivalList").show();
                    loadData(DomainName, 'ArrivalList', Type);
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                $(".ArrivalList").hide();
                FormValidate(DomainName);
                Events(DomainName);

                if ($("#UnloadBy").val() == "M" || $("#UnloadBy").val() == "A" || $("#UnloadBy").val() == "XX5") {
                    $(".drprate").addClass("required");
                }
                else {
                    $(".drprate").removeClass("required");
                }
            }
        }
    }();
</script>