﻿@model Fleet.ViewModels.PRSArrivalsViewModel
@using FleetDataService.Models
@using Fleet.Helpers
@{
    ViewBag.Title = "PRS Arrival Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> GeneralMasterList = new List<Webx_Master_General>();
    GeneralMasterList = MS.GetGeneralMasterObject().Where(c => c.StatusCode.ToUpper() == "Y").ToList();
    List<SelectListItem> BlankList = new List<SelectListItem>();
    Model.PAVM.hdnRate = Model.PAVM.Rate;
    Model.PAVM.ratetype1 = Model.PAVM.RateType;
    int SrNo = 0;
}

@using (Html.BeginForm("PRSArrivalDetails", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        PDC NO :
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        @Html.DisplayFor(c => c.PAVM.PDCNO)
                                        @Html.HiddenFor(c => c.PAVM.PDCNO)
                                        @Html.Hidden("TotalActWt")
                                        @Html.Hidden("TotalPKG")
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        PDC Date :
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        @Html.DisplayFor(c => c.PAVM.PDCDT)
                                        @Html.HiddenFor(c => c.PAVM.PDCDT)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Vendor :
                                    </label>
                                    <div class="col-md-10 text-primary margin-top-5">
                                        @Html.DisplayFor(c => c.PAVM.vendorcode) : @Html.DisplayFor(c => c.PAVM.vendorname)
                                        @Html.HiddenFor(c => c.PAVM.vendorcode)
                                        @Html.HiddenFor(c => c.PAVM.vendorname)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        ORGCD :
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        @Html.DisplayFor(c => c.PAVM.ORGNCD)
                                        @Html.HiddenFor(c => c.PAVM.ORGNCD)
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Arrival Date :
                                    </label>
                                    <div class="col-md-6">
                                        <div class="input-group date date-picker" data-date-start-date="@Model.PAVM.PDCDT" data-date-end-date="+0d">
                                            @Html.TextBoxFor(c => c.PAVM.ArrivalDT, String.Format("{0:dd MMM yyyy}", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = " form-control", @readonly = true })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Total Rate :
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.PAVM.Tot_Rate, new { @class = "form-control", placeholder = "Total Rate", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>*@
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Total Weight :
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.PAVM.Tot_CHRG, new { @class = "form-control", placeholder = "Total Weight", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <h4 class="form-section">Unloading Charge</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Unload By:
                                    </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.PAVM.UnloadBy, new SelectList(GeneralMasterList.Where(c => c.CodeType == "LOADBY").OrderBy(c => c.CodeDesc).ToList(), "CodeId", "CodeDesc"), "", new { @class = "form-control required2 select2", @disabled = "true", placeholder = "Select UnLoad By" })
                                        @Html.HiddenFor(c => c.PAVM.UnloadBy)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3" style="display:none;">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Rate Type :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.PAVM.RateType, new SelectList(GeneralMasterList.Where(c => c.CodeType == "HANDCHRG").ToList(), "CodeId", "CodeDesc"), "", new { @class = "form-control required2 select2", @disabled = "true", placeholder = "Select Rate Type" })
                                        @Html.HiddenFor(c => c.PAVM.RateType)
                                    </div>
                                </div>
                            </div>

                            @if (Model.PAVM.UnloadBy == "A" || Model.PAVM.UnloadBy == "XX5" || Model.PAVM.UnloadBy == "XX8")
                            {
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Vendor:</label>
                                        <div class="col-md-7">
                                            @*@Html.TextBoxFor(m => m.PAVM.VendorCode_new, new { placeholder = "Select Locations", @class = "required2 form-control required" })*@
                                            @Html.DropDownListFor(m => m.PAVM.VendorCode_new, new SelectList(BlankList, "Value", "Text"), "", new { @class = "form-control required2 required select2 ", @placeholder = "Select Vendor" })
                                            @Html.TextBoxFor(m => m.PAVM.Rate, new { placeholder = "Rate", @class = "required2 form-control", @readonly = true })
                                            <label id="lblrate" style="color: #b94a48; display: none">Rate Is Not Avilable In Master..!!!</label>
                                            @Html.HiddenFor(m => m.PAVM.IsMonthly)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" style="display:none">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Is Montly :</label>
                                        <div class="col-md-7" style="margin-top:5px">
                                            @Html.CheckBox("IsMonthly", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (Model.PAVM.UnloadBy == "M")
                            {
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Vendor Code :</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.PAVM.VendorCode_new, new { placeholder = "Select Vendor", @class = "form-control required2 required col-md-6" })
                                            @Html.TextBoxFor(m => m.PAVM.VendorName_new, new { placeholder = "Enter Vendor", @class = "form-control required2 required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Rate :</label>
                                        <div class="col-md-7 form-group">
                                            @Html.TextBoxFor(m => m.PAVM.Rate, new { @class = "required2  required form-control", @Placeholder = "Enter Rate", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @max = Model.PAVM.Rate })
                                            <label id="lblMaxRate" style="color: #b94a48; display: none; "></label>
                                            @Html.HiddenFor(m => m.PAVM.hdnRate)
                                            <label id="lblrateeror" style="color:#b94a48; display: none">Rate Is Not Avialble In Master</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" style="display:none" id="divMaxLimit">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Max Limit :</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.PAVM.MaxLimit, new { @class = "required2  form-control", @Placeholder = "Enter MaxLimit", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    @if (Model.PAVM.UnloadBy == "M" || Model.PAVM.UnloadBy == "A" || Model.PAVM.UnloadBy == "XX5" || Model.PAVM.UnloadBy == "XX8")
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            UnLoading Charge :
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.PAVM.LoadingCharge, new { @class = "form-control required2", placeholder = "Total Loading Charge", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>PDC Detail
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="col-md-2">DocNO</th>
                                    <th class="col-md-2">ORGNCD</th>
                                    <th class="col-md-2">DESTCD</th>
                                    <th class="col-md-1">PAYBAS</th>
                                    <th class="col-md-2">@Html.DropDownListFor(c => c.PAVM.ratetype1, new SelectList(GeneralMasterList.Where(c => c.CodeType == "HANDCHRG").OrderBy(c => c.CodeDesc).ToList(), "CodeId", "CodeDesc"), Model.PAVM.ratetype1, new { @class = "required required2 select2 drprate form-control", placeholder = "Type" })</th>
                                    <th class="col-md-1">ACTUWT</th>
                                    <th class="col-md-1">PKGSNO</th>
                                    <th class="col-md-1">CHRGWT</th>
                                </tr>
                            </thead>
                            <tbody id="containerTblFlight">
                                @foreach (var item in Model.ListPAVM)
                                {
                                    item.ratetype1 = Model.PAVM.RateType;
                                    SrNo++;
                                    item.Id = SrNo;
                                    Html.RenderPartial("_PRSArrivalList", item);
                                }
                            </tbody>
                        </table>
                        <div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                <a href="@Url.Content("~/Operation/PRSArrival")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back to PRS Arrival </a>
                                <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Update PRS Arrival Data</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var Submit = function (DomainName) {
            $("#btnSubmit").click(function (e) {
                App.blockUI({ boxed: true });
                if (e.handled !== true) // This will prevent event triggering more then once
                {
                    e.handled = true;
                    Formvalidate(DomainName);
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return;
                    }
                    document.forms['form_sample'].submit();
                    $("input:checkbox, input:radio").uniform();
                }
            });
        }

        var RateCalCulate = function (DomainName) {
            var FinalTotalCharges = 0.00;
            var Rate = 0.00;
            var OtherRate = 0.00;
            var TotalCharges = 0.00;

            $(".clsGCCheck").each(function () {
                var checked = $(this).is(":checked");
                var ID = $(this).attr("id").replace("__IsEnabled", "").replace("PDCDetail_", "");
                //if (checked) {
                if ($("#PAVM_UnloadBy").val() == "A" || $("#PAVM_UnloadBy").val() == "M" || $("#PAVM_UnloadBy").val() == "XX5" || $("#PAVM_UnloadBy").val() == "XX8") {

                    if ($("#PDCDetail_" + ID + "__ratetype1").val() == "1") {
                        OtherRate = $("#PDCDetail_" + ID + "__ACTUWT").val();
                        Rate = $("#PDCDetail_" + ID + "__NewRate").val();

                        TotalCharges = parseFloat(OtherRate).toFixed(2) * parseFloat(Rate).toFixed(3);

                    }
                    else {
                        OtherRate = $("#PDCDetail_" + ID + "__PKGSNO").val();
                        Rate = $("#PDCDetail_" + ID + "__NewRate").val();
                        TotalCharges = parseFloat(OtherRate).toFixed(2) * parseFloat(Rate).toFixed(3);
                    }
                    FinalTotalCharges = parseFloat(FinalTotalCharges) + parseFloat(TotalCharges);
                }
                //}
            });
            $("#PAVM_LoadingCharge").val(parseFloat(FinalTotalCharges).toFixed(2));
        }

        var TotalLoadingChrge = function (DomainName) {
            var Charge = 0, HamaliChrge = 0;
            if ($("#PAVM_RateType").val() == "1") {

                Charge = $("#TotalActWt").val();
                HamaliChrge = parseFloat(HamaliChrge) + parseFloat(Charge)

            }
            if ($("#PAVM_RateType").val() == "3") {

                Charge = $("#TotalPKG").val();
                HamaliChrge = parseFloat(HamaliChrge) + parseFloat(Charge)

            }
            if ($("#PAVM_UnloadBy").val() == "M" || $("#PAVM_UnloadBy").val() == "A" || $("#PAVM_UnloadBy").val() == "XX5" || $("#PAVM_UnloadBy").val() == "XX8") {
                $("#PAVM_LoadingCharge").val(parseFloat(parseFloat(HamaliChrge) * parseFloat($("#PAVM_Rate").val())).toFixed(3));
            }
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    showMeridian: true,
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    todayBtn: true,
                });
                FormValidate(DomainName);
                Submit(DomainName);
                var rateitem = 0;
                var ACTUWTitem = 0;
                var PKGSNOitem = 0;
                var CHRGWTitem = 0;
                var CHRGitem = 0;
                if ($("#PAVM_UnloadBy").val() == "M" || $("#PAVM_UnloadBy").val() == "A" || $("#PAVM_UnloadBy").val() == "XX5" || $("#PAVM_UnloadBy").val() == "XX8") {
                    $("#PAVM_LoadingCharge").attr("min", "0.01")
                }
                $(".rate").each(function () {
                    rateitem = parseFloat(rateitem) + parseFloat($(this).val());
                });
                $("#PAVM_Tot_Rate").val(rateitem);
                $(".ACTUWT").each(function () {
                    CHRGitem = parseFloat(CHRGitem) + parseFloat($(this).val());
                });
                $("#PAVM_Tot_CHRG").val(CHRGitem);

                var TotalAct = 0;
                var TotalPkg = 0;
                @foreach(var item in Model.ListPAVM)
                {

                    <text>
                TotalAct = parseFloat(TotalAct) + parseFloat('@item.ACTUWT')
                TotalPkg = parseFloat(TotalPkg) + parseFloat('@item.PKGSNO')

                </text>
                }
                $("#TotalActWt").val(parseFloat(TotalAct).toFixed(2));
                $("#TotalPKG").val(parseFloat(TotalPkg).toFixed(2));
                //Loading Charge Calclulation
                if ($("#PAVM_UnloadBy").val() == "M") {
                    $("#PAVM_VendorCode_new").val('9888')
                    $("#PAVM_VendorCode_new").attr('readonly', true);
                }
                else {
                    //JsonDDL('PAVM_VendorCode_new', DomainName + '/Master/SearchVendorListJson/', true);
                    var StrURL = DomainName + "/Master/getBranchWiseLoadingUnloadingVendorListJson?Type=U&VendorType=" + $("#PAVM_UnloadBy").val();
                    FillDropDownfromOther("PAVM_VendorCode_new", StrURL, 'VendorName');
                }

                $("#PAVM_Rate").live("change", function () {
                    //Check Rate Is Avialble
                    if ($("#PAVM_hdnRate").val() > 0) {
                        if (parseFloat($("#PAVM_Rate").val()) > 0) {
                            var Value = parseFloat($("#PAVM_Rate").val()).toFixed(3);
                            var MaxLimit = parseFloat($("#PAVM_hdnRate").val()).toFixed(3);
                            if (parseFloat(MaxLimit) < parseFloat(Value)) {
                                //$("#PAVM_Rate").val('')
                                //$("#lblrate").show();
                                //$("#lblrate").text("Your Max Limit : " + $("#PAVM_hdnRate").val() + " You Can Not More Then Value Enter")
                            }
                            else {
                                $("#lblrate").hide();
                                $("#PAVM_Rate").val(Value);
                                if ($("#PAVM_UnloadBy").val() == "M") {
                                    $("#divMaxLimit").show();
                                    $("#PAVM_LoadingCharge").attr("max", $("#PAVM_MaxLimit").val());
                                }                                
                                $(".clsNotAvilable").each(function () {
                                    $(".clsNotAvilable").val(parseFloat($("#PAVM_Rate").val()).toFixed(3));
                                });
                                RateCalCulate(DomainName);
                            }
                            //$("#PAVM_Rate").val(parseFloat($("#PAVM_Rate").val()).toFixed(3));

                        }
                    }
                    else {
                        if ($("#PAVM_UnloadBy").val() == "M" || $("#PAVM_UnloadBy").val() == "A" || $("#PAVM_UnloadBy").val() == "XX5" || $("#PAVM_UnloadBy").val() == "XX8") {
                            $("#lblrate").show();
                            $("#lblrate").text("Rate Is Not Avilable In Master")
                            //Get Rate In Master
                            var loadingby = $("#PAVM_UnloadBy").val();
                            var chargeType = $("#PAVM_RateType").val();
                            var TypeModule = "P";
                            var Vendorcode = $("#PAVM_VendorCode_new").val();
                            var loadunloadType = "U"

                            App.blockUI({ boxed: true });
                            var StrURL = DomainName + "/Master/Get_LoadingCharge?loadingby=" + loadingby + "&chargeType=" + chargeType + "&TypeModule=" + TypeModule + "&Vendorcode=" + Vendorcode + "&loadunloadType=" + loadunloadType;
                            $.ajax({
                                type: 'POST',
                                contentType: 'application/json; charset=utf-8',
                                url: StrURL,
                                dataType: 'json',
                                data: {},
                                success: function (data) {
                                    if (parseFloat(data.Rate) > 0) {

                                        $("#PAVM_hdnRate").val(data.Rate);
                                        $("#PAVM_MaxLimit").val(data.MaxLimit);
                                        $("#divMaxLimit").show();
                                        $("#PAVM_LoadingCharge").attr("max", data.MaxLimit);
                                        var newRate = $("#PAVM_Rate").val();
                                        if (newRate < data.Rate) {
                                            newRate = newRate;
                                        }
                                        else {
                                            newRate = data.Rate;
                                        }
                                        $("#PAVM_Rate").val(parseFloat(newRate).toFixed(3));
                                        $(".clsNotAvilable").each(function () {
                                            $(".clsNotAvilable").val(parseFloat($("#PAVM_Rate").val()).toFixed(3));
                                        });
                                        App.unblockUI();
                                    }
                                    else {
                                        $("#PAVM_Rate").val('')
                                        $("#PAVM_LoadingCharge").val(0);
                                        $("#lblrateeror").show();
                                        App.unblockUI();
                                    }
                                    RateCalCulate(DomainName);
                                },
                                error: function () {
                                    alert("error " + req + "   " + status + "   " + error);
                                }

                            });
                        }
                    }
                });

                $(".clsGCCheck").live('change', function () {

                    RateCalCulate(DomainName);
                });
                $("#PAVM_Rate").val('');

                //Vendor Wise Loading Charge
                $("#PAVM_VendorCode_new").live("change", function () {
                    var loadingby = $("#PAVM_UnloadBy").val();
                    var chargeType = $("#PAVM_RateType").val();
                    var TypeModule = "P";
                    var Vendorcode = $("#PAVM_VendorCode_new").val();
                    var loadunloadType = "U"
                    App.blockUI({ boxed: true });

                    var StrURL = DomainName + "/Master/Get_LoadingCharge?loadingby=" + loadingby + "&chargeType=" + chargeType + "&TypeModule=" + TypeModule + "&Vendorcode=" + Vendorcode + "&loadunloadType=" + loadunloadType;
                    $.ajax({
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        url: StrURL,
                        dataType: 'json',
                        data: {},
                        success: function (data) {
                            if (data.IsMonthly == true) {
                                $("#PAVM_Rate").hide();
                                $("#PAVM_LoadingCharge").attr("min", "0.00");
                                $("#PAVM_LoadingCharge").val(0);
                                $("#PAVM_Rate").val(0);
                                $("#lblrate").hide();
                                App.unblockUI();
                                $("#PAVM_IsMonthly").val(data.IsMonthly);

                            }
                            else if (data.Rate > 0) {
                                $("#PAVM_Rate").val(data.Rate)
                                $("#PAVM_MaxLimit").val(data.MaxLimit)
                                $("#PAVM_LoadingCharge").attr("min", "0.01");
                                $("#lblrate").hide();
                                $(".clsNotAvilable").val(data.Rate);
                                App.unblockUI();
                            }
                            else {
                                $("#lblrate").show();
                                $("#PAVM_LoadingCharge").attr("min", "0.01");
                                $("#PAVM_LoadingCharge").addClass("required");
                                App.unblockUI();
                            }
                            RateCalCulate(DomainName);
                        },
                        error: function () {
                            alert("error " + req + "   " + status + "   " + error);
                        }

                    });
                });

                //focus out

                $(".drprate").live("change", function () {
                    var ID = $(this).attr('id').replace("ratetype1", "NewRate");
                    if ($("#PAVM_UnloadBy").val() == "M" || $("#PAVM_UnloadBy").val() == "A" || $("#PAVM_UnloadBy").val() == "XX5" || $("#PAVM_UnloadBy").val() == "XX8") {
                        var LoadingBy = $("#PAVM_UnloadBy").val();
                        var RateType = $(this).val();
                        var TypeModule = "P";
                        var LoadType = "L";
                        var Vendorcode = $("#PAVM_VendorCode_new").val();
                        var DockNo = $("#" + $(this).attr('id').replace("ratetype1", "DOCKNO")).val();
                        App.blockUI({ boxed: true });
                        var StrURL = DomainName + "/Master/GetChargesFromCNoteNo?DockNo=" + DockNo + "&RateType=" + RateType + "&LoadType=" + LoadType + "&LoadingBy=" + LoadingBy + "&TypeModule=" + TypeModule + "&Vendorcode" + Vendorcode;
                        $.ajax({
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            url: StrURL,
                            dataType: 'json',
                            data: {},
                            success: function (data) {
                                $("#" + ID).removeAttr("readonly");
                                if (parseFloat(data.Rate).toFixed(3) > 0) {
                                    //alert(parseFloat(data.Rate).toFixed(3));
                                    $("#" + ID).val(parseFloat(data.Rate).toFixed(3));
                                    $("#" + ID).attr("max", data.Rate);
                                    RateCalCulate(DomainName);
                                    App.unblockUI();
                                }
                                else {
                                    $("#" + ID).val(parseFloat($("#PAVM_Rate").val()).toFixed(3));
                                    $("#" + ID).attr("max", $("#PAVM_Rate").val());
                                    $("#" + ID).attr("min", "0.01");
                                    RateCalCulate(DomainName);
                                    App.unblockUI();
                                }
                            },
                            error: function () {
                                alert("error " + req + "   " + status + "   " + error);
                            }
                        });
                    }
                });

                $(".Clsrate").live("change", function () {
                    RateCalCulate(DomainName);
                });

                if ($("#PAVM_UnloadBy").val() == "M" || $("#PAVM_UnloadBy").val() == "A" || $("#PAVM_UnloadBy").val() == "XX5" || $("#PAVM_UnloadBy").val() == "XX8") {
                    $(".drprate").addClass("required");
                }
                else {
                    $(".drprate").removeClass("required");
                }
                $(".clsNotAvilable").each(function () {
                    var ID = $(this).attr('id').replace("NewRate", "ratetype1");
                    $("#" + ID).prop("readonly", true);
                    $(this).prop("readonly", true);
                });

                $(".clsAvilable").each(function () {
                    var ID = $(this).attr('id').replace("NewRate", "ratetype1");
                    $("#" + ID).prop("readonly", false);
                    $(this).prop("readonly", true);
                });
            }
        }
    }();
</script>