﻿@{
    ViewBag.Title = "PRS Arrival";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.TranXaction.ToUpper() == "DONE")
{
    <div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-check"></i>@ViewBag.Title @ViewBag.TranXaction
                </div>
                @*<div class="tools">
                    <span class="btn default blue-stripe">
                        <a href=""><i class="fa fa-plus">&nbsp;Add More Vendor Contract</i></a>
                    </span>
                </div>*@
            </div>
            <div class="portlet-body">
                <div class="margin-top-10 margin-bottom-10 clearfix">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="center">
                                    PDC No.
                                </th>
                                <th class="center">
                                    Total Charges
                                </th>
                                <th class="center">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="center">
                                    <b>@ViewBag.PDCNo</b>
                                </td>
                                <td class="center">
                                    <b>@ViewBag.Tot_Charge</b>
                                </td>
                                <td class="center">
                                    @*<a target="_blank" href="#" data-id="@ViewBag.ContractCode" class="fa fa-print" id="ReportFrame"><b>&nbsp;View/Print</b></a>*@
                                    <a target="_blank" href="javascript:OrderView('@ViewBag.PDCNo')" class="fa fa-print" id="ReportFrame"><b>&nbsp;View/Print</b></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <span class="label label-danger">
                    NOTE!
                </span>&nbsp;
                <span>
                    Click on Contract Number for View and Print .
                </span>
            </div>
        </div>
</div>
}
else
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-danger fade in center">
            <h2 class="alert-heading">Opps! @ViewBag.view fail</h2>
            <h4>
                There is some issue with process. <br />Please check your internet connection else contact your administrator or service provider.
                <br /><br /><b> @ViewBag.ThcNo</b>
            </h4>
        </div>
    </div>
}

