﻿@using System.Configuration
@{
    ViewBag.Title = "Generalize Work Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>Following document has been successfully Generated:
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Document Code
                            </th>
                            <th>
                                Voucher No.
                            </th>
                            <th>
                                View
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @*<b>@Request.QueryString["POCODE"].ToString()</b>*@
                                <b>@ViewBag.POCODE</b>
                            </td>
                            <td>
                                @*<b>@Request.QueryString["Adv_VocherNo"].ToString()</b>*@
                                <b>@ViewBag.Adv_VocherNo</b>
                            </td>
                            <td>
                                <a href="javascript:Popup('@ViewBag.POCODE')"><b><i class="fa fa-print"></i>View/Print</b></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                <a href="@Url.Content("~/Operation/SKUPOGeneration")">Click here to Genetate More PO</a> || <a href="@Url.Content("~/Payment/POFinalizedCriteria/" + Convert.ToString(@ViewBag.POCODE).Replace("/", "_"))">Click here to Finalize PO</a>
            </span>
        </div>
    </div>
</div>

<script type="text/javascript">

    function Popup(pocode) {
        var ReportURL = '@ViewBag.ReportURL';
        var EntryBy = '@User.Identity.Name'
        var strPopupURL = ReportURL + DomainName + "/ViewPrint/PO_GRN_ViewPrint?PONumber=" + pocode;
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"

        winNew = window.open(strPopupURL, "_blank", strWinFeature);
        return false;
    }
</script>