﻿@model Fleet.ViewModels.PRQViewModel
@*@using Fleet.Helpers;
@using FleetDataService.Models;
@using Fleet.Classes;
@using Fleet.ViewModels;*@

@{
    ViewBag.Title = @ViewBag.DKTCalledAs + " Generation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("QuicketCnoteGenerationSubmit", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="form-group">
                            @Html.HiddenFor(m => m.ObjPRQ.ID)
                            @Html.HiddenFor(m => m.ObjPRQ.CustomerCode)
                            @Html.HiddenFor(m => m.ObjPRQ.CustomerName)
                            @Html.HiddenFor(m => m.ObjPRQ.PRQDate)
                            @Html.HiddenFor(m => m.ObjPRQ.BRCD)

                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Prq No</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.ObjPRQ.PRQNo, new { placeholder = "Prq No", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">@ViewBag.DKTCalledAs No</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.ObjPRQ.DockNo, new { placeholder = "System Generated", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Customer Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.ObjPRQ.CustName, new { placeholder = "Customer Code", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                @*<div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Branch</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.ObjPRQ.BRCD, new { placeholder = "Branch", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>*@

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Origin</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.ObjPRQ.City, new { placeholder = "Origin", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Destination</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.ObjPRQ.Destcd, new { placeholder = "Destination", @class = "form-control required required2" })
                                    </div>
                                </div>

                               
                            @*</div>

                            <div class="col-md-12">*@
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Actual Weight</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.ObjPRQ.ActualWeight, new { placeholder = "Actual Weight", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Actual PKGS No</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.ObjPRQ.ActualPKGS, new { placeholder = "Actual PKGS No", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="form-actions fluid">
            <div class="col-md-offset-4 col-md-8">
                <a class="btn btn-sm default controls" href="@Url.Action("QuicketCnoteGeneration","Operation",new { No=Model.ObjPRQ.PRQNo})"> <i class="fa fa-refresh"> </i>&nbsp;Reset</a>
                <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input

                rules: {

                },
                messages: {
                   
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    //if (element.parents('.checkbox-list').size() > 0) {
                    //    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    //} else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                    //}
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    for (var i = 0; i < validator.errorList.length; i++) {
                        console.log(validator.errorList[i]);
                    }

                    //validator.errorMap is an object mapping input names -> error messages
                    for (var i in validator.errorMap) {
                        console.log(i, ":", validator.errorMap[i]);
                    }
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);
                StrURL = DomainName + "/Operation/GetDestinationLocations";
                JsonDDLSelectCode("ObjPRQ_Destcd", StrURL);

                $('#btnSubmit').click(function () {

                    Formvalidate(DomainName);
                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        return false;
                    }
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                });
            }
        }
    }();
</script>