﻿@{
    ViewBag.Title = "QuickDocketDone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>Expense Done
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                DockNo
                            </th>
                            <th>
                                PRQNo
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@ViewBag.DockNo</b>
                            </td>
                            <td>
                                <b>@ViewBag.PRQNo</b>
                                @*<a target="_blank" href="@Url.Action("BranchAccountingViewPrint", "ViewPrint", new { No = ViewBag.No, Type = ViewBag.Type })" class="fa fa-print" id="ReportFrame"><b>&nbsp;View/Print</b></a>*@
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                <a target="_blank" href="@Url.Action("PRQCriteria", "Operation")"><b>&nbsp;Click Here To Add Another Edocket</b></a>
            </span>
        </div>
    </div>
</div>
