﻿@model Fleet.ViewModels.SingleCNoteUpdatViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    ViewBag.Title = "SingleCNoteUpdateInDRS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SingleCNoteUpdateInDRS", "Operation", FormMethod.Post, new { id = "submit_form", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.DKTCalledAs Criteria
                    </div>
                </div>
                <div class="portlet-body" id="divCrieteria">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        CNote No:
                                    </label>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(c => c.SingleCnote.DOCKNO, new { placeholder = "CNote No.", @class = "form-control required" })
                                        @Html.Hidden("DKTError")
                                    </div>
                                </div>
                            </div>
                            <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Show DRS</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    if (Model.CNoteUpdatList.Count > 0)
    {
        <div class="row" id="divDelivered">
            <div class="col-md-12">
                <div class="portlet box @ViewBag.TableBoxColor">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i>Delivered @ViewBag.DKTCalledAs List
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="form-body" id="tblLoadingList">

                            <table class="table table-striped table-bordered table-hover table-full-width center" id="Sample1">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="center">
                                            Mobile No
                                        </th>
                                        <th class="center">
                                            Docket No
                                        </th>
                                        <th class="center">
                                            Date Time
                                        </th>
                                        <th class="center">
                                            Status
                                        </th>
                                        <th class="center">
                                            Packages
                                        </th>
                                        <th class="center">
                                            Delivered To
                                        </th>
                                        <th class="center">
                                            Reason
                                        </th>
                                        <th class="center">
                                            COD Collected
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="Advice">
                                    @foreach (var item in Model.CNoteUpdatList)
                                    {
                                        Html.RenderPartial("_SingleCNoteUpdatePartial", item);
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (Model.ListCNoteUpdat.Count > 0)
    {
        <div class="row" id="divAvailable">
            <div class="col-md-12">
                <div class="portlet box @ViewBag.TableBoxColor">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i>DRS Available for Update
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="form-body" id="tblLoadingList">

                            <table class="table table-striped table-bordered table-hover table-full-width center" id="Sample1">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="center">
                                            CNote No.
                                        </th>
                                        <th class="center">
                                            Booking Date
                                        </th>
                                        <th class="center">
                                            DRS No.
                                        </th>
                                        <th class="center">
                                            DRS Date
                                        </th>
                                        <th class="center">
                                            Update
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="Advice">
                                    @foreach (var item in Model.ListCNoteUpdat)
                                    {
                                        Html.RenderPartial("_CNoteUpdatePartial", item);
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    else if (Model.ListCNoteUpdat.Count == 0 && Model.CNoteUpdatList.Count == 0)
    {
        <p class="Norecord"> No Record Found...................</p>
    }
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            $.validator.addMethod('checkDKTAvailabilityForSingleCNotUpdate', function (value) {
                var StrURL = DomainName + "/Operation/GetDKTStatusForSingleCNotUpdate?dockno=" + $("#SingleCnote_DOCKNO").val().trim();
                // alert("hello " + StrURL);
                var result1 = $.ajax({
                    async: false,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: StrURL,
                    dataType: 'json',
                    data: {},
                });

                var d1 = JSON.parse(result1.responseText);

                $("#DKTError").val(d1.MSG);
                $("#divDelivered").hide();
                $("#divAvailable").hide();
                if (d1.Flg == "1") {
                    $("#btnSubmit").attr("disabled", false);
                    return true;
                }
                else {
                    $("#btnSubmit").attr("disabled", true);
                    return false;
                }
            }, $("#DKTCalledAs").val());
            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                rules: {
                    'SingleCnote.DOCKNO': {
                        checkDKTAvailabilityForSingleCNotUpdate: true,
                    },
                },

                messages: {
                    'SingleCnote.DOCKNO': {
                        checkDKTAvailabilityForSingleCNotUpdate: function () {
                            return $("#DKTError").val()
                        }
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    document.form["submit_form"].submit();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }

        var Events = function (DomainName) {
            $('#btnSubmit').click(function () {
                App.blockUI({ boxed: true });
                //document.form["submit_form"].submit();
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                Events(DomainName);
                $("#btnSubmit").attr("disabled", true);
                $(".Norecord").hide();
            }
        }
    }();
</script>