﻿@model Fleet.ViewModels.SKUPOEditViewModel
@using Fleet.Models;
@using Fleet.Helpers;
@{
    ViewBag.Title = "SKUPOListing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>SKU PO Listing
            </div>
        </div>
        <!-- End .title -->
        <div class="portlet-body flip-scroll">
            @if (Model.POList.Count() > 0)
            {
                using (Html.BeginForm("SKUPOListing", "Operation", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(m => m.POType);
                <table class="table table-striped table-bordered table-hover table-full-width center" id="Sample1">
                    <thead class="flip-content">
                        <tr>
                            <th class="center">
                                PO Code
                            </th>
                            <th class="center">
                                PO Date
                            </th>
                            <th class="center">
                                Vendor Name
                            </th>
                            <th class="center">
                                Total Qty.
                            </th>
                            <th class="center">
                                PO Amount
                            </th>
                            <th class="center">
                                PO Status
                            </th>
                            <th class="center">
                                PO Type
                            </th>
                            <th class="center">
                                Edit
                            </th>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.POList)
                        {
                            Html.RenderPartial("_POEditPartial", item);
                        }
                    </tbody>
                </table>

                }
            }

        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var handledatepicker = function (DomainName) {
            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    startDate: new Date(),
                    autoclose: true
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                handledatepicker(DomainName);


            }
        }
    }();
</script>