﻿@model Fleet.ViewModels.PoGenerationViewModel
@using FleetDataService.ViewModels
@using Fleet
@using Fleet.ViewModels
@using FleetDataService.Models
@{
    PaymentControl PC = new PaymentControl();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();

    ViewBag.Title = "SKU PO Generation";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (Model.webx_GENERAL_POASSET_HDR.podate == null || Model.webx_GENERAL_POASSET_HDR.podate == System.DateTime.MinValue)
    {
        Model.webx_GENERAL_POASSET_HDR.podate = System.DateTime.Now;
    }
    if (Model.webx_GENERAL_POASSET_HDR.SpotDelDT == null || Model.webx_GENERAL_POASSET_HDR.SpotDelDT == System.DateTime.MinValue)
    {
        Model.webx_GENERAL_POASSET_HDR.SpotDelDT = System.DateTime.Now;
    }
    Model.webx_GENERAL_POASSET_HDR.MatCat = "01";
    List<Webx_Master_General> generalMasterList = MS.GetGeneralMasterObject().ToList();
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor" id="WOPOGeneration">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>@ViewBag.Title
                </div>
            </div>

            <div class="portlet-body">
                @using (Html.BeginForm("SKUPOGeneration", "Operation", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
                {
                    <div class="form-body">
                        <div class="">
                            <div class="alert alert-danger display-none">
                                <button class="close" data-dismiss="alert"></button>
                                You have some form errors. Please check below.
                            </div>
                            <div class="alert alert-success display-none">
                                <button class="close" data-dismiss="alert"></button>
                                Your form validation is successful!
                            </div>

                            <div id="tab1">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label class="control-label col-md-4">Purchase Order ID</label>
                                            <div class="col-md-6">
                                                <input type="text" placeholder="System Generated" class="form-control" disabled="disabled" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label class="control-label col-md-4">
                                                Material Category
                                            </label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(m => m.webx_GENERAL_POASSET_HDR.MatCat, new SelectList(generalMasterList.Where(c => (c.CodeType.ToUpper() == "MATCAT" || c.CodeType.ToUpper() == "WOMATCAT") && c.StatusCode == "Y").OrderBy(c => c.CodeDesc), "CodeID", "CodeDesc", @Model.webx_GENERAL_POASSET_HDR.MatCat), "", new { @class = "select2 form-control required required2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Vendor Code</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(m => m.webx_GENERAL_POASSET_HDR.VENDORCD, new { @class = "form-control required required2", @placeholder = "Select Vendor" })
                                                @Html.HiddenFor(m => m.webx_GENERAL_POASSET_HDR.VENDORNAME)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">
                                                Purchase Order Date
                                            </label>
                                            <div class="col-md-6">
                                                <div class="input-group date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d">
                                                    @Html.TextBoxFor(m => m.webx_GENERAL_POASSET_HDR.podate, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.webx_GENERAL_POASSET_HDR.podate).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @readonly = true })                                                <span class="input-group-btn">
                                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    @*<div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Manual P.O. Number</label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(m => m.webx_GENERAL_POASSET_HDR.Manual_PO_No, new { @class = "form-control", @placeholder = "Manual P.O. Number" })
                                                </div>
                                            </div>
                                        </div>*@
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">
                                                Kind Attn.
                                            </label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(m => m.webx_GENERAL_POASSET_HDR.attn, new { @class = "form-control", @placeholder = "Kind Attn." })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*<div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">GST Percentage </label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(c => c.webx_GENERAL_POASSET_HDR.GSTPercentage, new SelectList(generalMasterList.Where(c => c.CodeType.ToUpper() == "GSTPER" && c.StatusCode == "Y").OrderBy(c => int.Parse(c.CodeDesc)), "CodeDesc", "CodeDesc"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select GST Percentage" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@

                            </div>
                            <div id="tab2disp" style="display: none">
                                <hr />
                                <div class="row">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">No Of Rows </label>
                                            <div class="col-md-7">
                                                @Html.TextBox("InvoiceRows", "0", new { placeholder = "Private Mark", @class = "form-control required required2", @onkeypress = "javascript:return validInt(event)" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <a id="btnAddRow" class="btn   @ViewBag.TableBoxColor right">
                                            <i class="fa fa-plus"></i> No.Row
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="portlet-body">
                                        <div class="table-container">
                                            <table id="container" class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr role="row" class="heading">
                                                        <th style="white-space: normal;">
                                                            No
                                                        </th>
                                                        <th id="tblHead">
                                                            SKU Box Details
                                                        </th>
                                                        <th>
                                                            HSN/SAC
                                                        </th>
                                                        <th>
                                                            Description
                                                        </th>
                                                        <th>
                                                            Qty.
                                                        </th>
                                                        @*<th>
                                                                Unit Type
                                                            </th>*@
                                                        <th>
                                                            Rate
                                                        </th>
                                                        <th>
                                                            % Of <br /> Discount(-)
                                                        </th>
                                                        <th>
                                                            Taxable <br /> Amount
                                                        </th>
                                                        <th>
                                                            % Of <br /> GST(+)
                                                        </th>
                                                        <th>
                                                            Other Charge(+)
                                                        </th>
                                                        <th>
                                                            Total Amount
                                                        </th>
                                                        @*<th>
                                                                Warranty (In Year)
                                                            </th>*@
                                                        <th>
                                                            X
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="GeneralizeWOTable"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-4">
                                                    Other Terms & Condition
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.TextAreaFor(m => m.webx_GENERAL_POASSET_HDR.terms_condition, new { @class = "form-control ", @placeholder = "Other Terms & Condition" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-5">
                                                        Advance Amount :
                                                    </label>
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(m => m.webx_GENERAL_POASSET_HDR.PAIDAMT, new { @class = "form-control ", @number = "true", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))", @placeholder = "0.00" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-5">
                                                        Balance Amount
                                                    </label>
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(m => m.webx_GENERAL_POASSET_HDR.pendamt, new { @class = "form-control", @number = "true", @placeholder = "0.00", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @readonly = true })
                                                            @Html.HiddenFor(m => m.webx_GENERAL_POASSET_HDR.totalqty)
                                                            @Html.HiddenFor(m => m.webx_GENERAL_POASSET_HDR.PO_advamt)
                                                            @Html.HiddenFor(m => m.webx_GENERAL_POASSET_HDR.PO_balamt)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="alert alert-danger"><b>NOTE : Advance through Performa  Invoice </b></div>
                                </div>
                            </div>

                            <div class="row" id="divpayment" style="display:none">
                                <div class="col-md-12">
                                    <div class="portlet box blue">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-edit"></i>Payment Details
                                            </div>
                                        </div>
                                        <div class="portlet-body ">
                                            <div class="form-body">
                                                <div class="row">
                                                    @{Html.RenderPartial("../UserControls/_PaymentControl", PC);}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="form-actions fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-offset-3 col-md-9">
                                <a class="btn blue btn-sm button-next" id="button-next">
                                    Continue <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                                <a class="btn green btn-sm button-submit" id="button-submit" style="display: none;">
                                    <i class="fa fa-check"></i>&nbsp;Submit
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var handleDatetimePicker = function () {
            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    startDate: new Date(),
                    autoclose: true
                });
            }
        }

        var handleSelect2 = function () {
            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });
        }

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },
                //rules: {
                //    'webx_GENERAL_POASSET_HDR.PAIDAMT': {
                //        max: function () {
                //            return parseFloat($('#webx_GENERAL_POASSET_HDR_pendamt').val());
                //        },
                //        number: true,
                //    },
                //},
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }

            });
        }

        var ShowAssetNM = function Show_assetNM(Obj, Type, DomainName) {

            if (Obj.value == "") {
                return false;
            }
            if (Type != "ManualPONo") {
                var Search_Char = "~"
                if (Obj.value.indexOf(Search_Char) == -1) {
                    //// alert("Invalid  Item  Name~Code Format");
                    Obj.focus();
                    return false
                }
            }
            var TxtAssetcode = Obj.id;
            var txtastnm = TxtAssetcode.replace("txtassetcd", "txtastnm");
            var Assetcode_Arr = $("#" + TxtAssetcode).val().split("~");
            if (Type != "ManualPONo") {
                Assetcode = Assetcode_Arr[1]
            }
            else {
                Assetcode = $("#" + TxtAssetcode).val();
            }
            if (Assetcode != "") {

                var StrURL1 = DomainName + "/Operation/CheckExist";

                $.ajax({
                    url: StrURL1,
                    cache: false,
                    data: { mode: Type, code: Assetcode },
                    type: 'GET',
                    success: function (html) {
                        var res = html.split("|");
                        if (Type == "Vendor") {
                            if (res[0] == "false") {
                                alert("Vendor Code is not Valid... Please Enter Valid Vendor Code");
                                $("#" + TxtAssetcode).val("");
                                return false;
                            }
                        }
                        else if (Type == "ManualPONo") {
                            if (res[0] == "true") {
                                alert("Manual Wo Number is Already Exist.. Please Enter Valid Manual WO Number.");
                                $("#" + TxtAssetcode).val("");
                                return false;
                            }
                        }
                        else {
                            if (res[0] == "true") {
                                alert("Item Code is not Valid... Please Enter Valid Item Code");
                                $("#" + TxtAssetcode).val("");
                                return false;
                            }
                        }
                    },
                    error: function (req, status, error) {
                        alert("error " + req + " " + status + " " + error);
                    }
                });

            }
        }

        var AddQuestions = function (DomainName, itemIndex, SelectedValue) {

            var IsFabricSheet = $("#webx_GENERAL_POASSET_HDR_FabricSheetPO_YN").val();
            if (IsFabricSheet == "Y")
            { IsFabricSheet = true; }
            else {
                IsFabricSheet = false;
            }

            var StrURL1 = DomainName + "/Operation/GeneralizeWOTableForSKU?id=" + itemIndex + "&SelectedValue=" + SelectedValue + "&IsFabricSheet=" + IsFabricSheet;

            App.blockUI({ boxed: true }); //Block UI
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {

                    $("#GeneralizeWOTable").append(html);

                    CalcFunction('qty', itemIndex);
                    CalcFunction('rate', itemIndex);
                    CalcFunction('total', itemIndex);
                    CalcFunction('Discount_Per', itemIndex);
                    CalcFunction('DiscountAmt', itemIndex);
                    //CalcFunction('tax_per', itemIndex);
                    CalcFunction('TaxAmt', itemIndex);
                    CalcFunction('Other_Chg', itemIndex);

                    $("#GENERAL_POASSET_det_" + itemIndex + "__assetcd").select2({
                        placeholder: "Select an Option",
                        allowClear: true
                    });

                    //$("#GENERAL_POASSET_det_" + itemIndex + "__tax_per").val(parseFloat($("#webx_GENERAL_POASSET_HDR_GSTPercentage").val()).toFixed(2));

                    $("#GENERAL_POASSET_det_" + itemIndex + "__tax_per").select2({
                        placeholder: "Select an Option",
                        allowClear: true
                    });
                    $(".gstPercentage").on("change", function () {
                        ToatalAmount($(this).attr('id').replace("GENERAL_POASSET_det_", "").replace("__tax_per", ""));
                    });
                    if ($('#webx_GENERAL_POASSET_HDR_MatCat').val() == "02") {

                        $("#GENERAL_POASSET_det_" + itemIndex + "__TyreMFG_Code").select2({
                            placeholder: "Select an Option",
                            allowClear: true
                        });
                        $("#GENERAL_POASSET_det_" + itemIndex + "__TyreTypeCode").select2({
                            placeholder: "Select an Option",
                            allowClear: true
                        });
                        $("#GENERAL_POASSET_det_" + itemIndex + "__TyreSizeCode").select2({
                            placeholder: "Select an Option",
                            allowClear: true
                        });
                    }

                    App.unblockUI();
                },
                error: function (req, status, error) {
                    App.unblockUI();
                    alert("error " + req + " " + status + " " + error);
                }
            });
        }

        var ToatalAmount = function (itemIndex) {
            var Qty = '#GENERAL_POASSET_det_' + itemIndex + '__qty';
            var Rate = '#GENERAL_POASSET_det_' + itemIndex + '__rate';
            var Total = '#GENERAL_POASSET_det_' + itemIndex + '__total';
            var Discount_Per = '#GENERAL_POASSET_det_' + itemIndex + '__Discount_Per';
            var DiscountAmt = '#GENERAL_POASSET_det_' + itemIndex + '__DiscountAmt';
            var TaxPer = '#GENERAL_POASSET_det_' + itemIndex + '__tax_per';
            var TaxAmt = '#GENERAL_POASSET_det_' + itemIndex + '__TaxAmt';
            var total = '#GENERAL_POASSET_det_' + itemIndex + '__total';
            var Other_Charges = '#GENERAL_POASSET_det_' + itemIndex + '__Other_Chg';
            var taxableAmt = '#GENERAL_POASSET_det_' + itemIndex + '__taxableAmt';

            $(Qty).val(parseFloat($(Qty).val()).toFixed(2));
            $(Rate).val(parseFloat($(Rate).val()).toFixed(3));
            $(Total).val(parseFloat($(Total).val()).toFixed(0));

            var sbtotal = parseFloat($(Qty).val() * $(Rate).val());
            /*Discount*/
            var disamount = parseFloat(sbtotal * $(Discount_Per).val() / 100);
            $(DiscountAmt).val(parseFloat(disamount).toFixed(2));
            //console.log(DiscountAmt + '~'+disamount)
            sbtotal = sbtotal - (disamount);
            $(DiscountAmt).val(parseFloat(disamount).toFixed(2));

            /*Taxable Amount*/
            //$(taxableAmt).val(parseFloat(!($.isNumeric(sbtotal)) ? 0 : rounditn(sbtotal, 0)).toFixed(2));
            $(taxableAmt).val(parseFloat(!($.isNumeric(sbtotal)) ? 0 : parseFloat(sbtotal, 0)).toFixed(2));


            /*Tax*/
            var txAmount = sbtotal * parseFloat($(TaxPer).val()) / 100;
            sbtotal = sbtotal + (txAmount);
            //alert(sbtotal)
            //alert(txAmount)

            $(TaxAmt).val(parseFloat(!($.isNumeric(txAmount)) ? 0 : txAmount).toFixed(2));

            /*Other*/
            sbtotal = sbtotal + parseFloat($(Other_Charges).val());

            //$(total).val(parseFloat(!($.isNumeric(sbtotal)) ? 0 : rounditn(sbtotal, 0)).toFixed(2));
            $(total).val(parseFloat(!($.isNumeric(sbtotal)) ? 0 : parseFloat(sbtotal, 0)).toFixed(2));


            CountTotal();
        }

        var CountTotal = function () {
            var GT = 0;
            var quantity = 0;
            var pendingAmount = 0;
            totalRows = $("#container tbody tr").length;

            $(".qty").each(function () {
                quantity = parseFloat(quantity) + parseFloat($(this).val());
            });
            $(".total").each(function () {
                GT = parseFloat(GT) + parseFloat($(this).val());
            });

            $("#totalamtdisp").val(parseFloat(GT).toFixed(2));


            var exciseDutyPer = $('#webx_GENERAL_POASSET_HDR_Excise_Duty').val();
            var ExciseAmt = (parseFloat(GT) * parseFloat(exciseDutyPer) / 100)
            $('#webx_GENERAL_POASSET_HDR_ExciseDutyTotalAmt').val(ExciseAmt);

            var VATPer = $('#webx_GENERAL_POASSET_HDR_Vat_S_Tax').val();
            var VATAmt = ((parseFloat(GT) + ExciseAmt) * parseFloat(VATPer) / 100)
            $('#webx_GENERAL_POASSET_HDR_VatSTaxAmt').val(VATAmt);

            var freight = $('#webx_GENERAL_POASSET_HDR_Freight_Ins').val();
            var Octroi = $('#webx_GENERAL_POASSET_HDR_Octroi').val();
            var Pktchrg = $('#webx_GENERAL_POASSET_HDR_Packing_charge').val();

            ////var FinalAmount = parseFloat(parseFloat(GT) + parseFloat(ExciseAmt) + parseFloat(VATAmt) + parseFloat(freight) + parseFloat(Octroi) + parseFloat(Pktchrg)).toFixed(2);
            var FinalAmount = parseFloat(!($.isNumeric(GT)) ? 0 : GT).toFixed(0);

            $("#webx_GENERAL_POASSET_HDR_PO_advamt").val(parseFloat($('#webx_GENERAL_POASSET_HDR_PAIDAMT').val()));
            pendingAmount = parseFloat(FinalAmount).toFixed(2) - parseFloat($('#webx_GENERAL_POASSET_HDR_PAIDAMT').val()).toFixed(2);
            pendingAmount = !($.isNumeric(pendingAmount)) ? 0 : pendingAmount;

            $("#webx_GENERAL_POASSET_HDR_totalqty").val(parseFloat(quantity).toFixed(2));

            if (pendingAmount < 0) {
                $("#webx_GENERAL_POASSET_HDR_pendamt").val(parseFloat(FinalAmount).toFixed(2));
                $("#webx_GENERAL_POASSET_HDR_PO_balamt").val(parseFloat(FinalAmount).toFixed(2));

                //$("#webx_GENERAL_POASSET_HDR_PAIDAMT").val(parseFloat(0).toFixed(2));
                $("#webx_GENERAL_POASSET_HDR_PO_advamt").val(parseFloat($('#webx_GENERAL_POASSET_HDR_PAIDAMT').val()));
                // alert("Paid Amount should less than Grand Total");
                $("#webx_GENERAL_POASSET_HDR_pendamt").focus();
                $("#webx_GENERAL_POASSET_HDR_totalamt").val(parseFloat(FinalAmount).toFixed(2));

                $("#webx_GENERAL_POASSET_HDR_PAIDAMT").attr("max", parseFloat(FinalAmount).toFixed(2))
                //alert($("#webx_GENERAL_POASSET_HDR_PAIDAMT").attr("max"));
                return false;
            }
            else {
                $("#PayAmount").val($("#webx_GENERAL_POASSET_HDR_PAIDAMT").val())
                $("#webx_GENERAL_POASSET_HDR_pendamt").val(parseFloat(pendingAmount).toFixed(2));
                $("#webx_GENERAL_POASSET_HDR_PO_balamt").val(parseFloat(pendingAmount).toFixed(2));
                $("#webx_GENERAL_POASSET_HDR_totalamt").val(parseFloat(FinalAmount).toFixed(2));
            }
            if (parseFloat($("#webx_GENERAL_POASSET_HDR_PAIDAMT").val()) > 0) {
                $("#divpayment").show();
            }
            else {
                $("#divpayment").hide();
            }
        }

        var CalcFunction = function (TextBoxName, txtNumber) {
            var TxtName = '#GENERAL_POASSET_det_' + txtNumber + '__' + TextBoxName + '';
            if ($(TxtName).val() == null || $(TxtName).val() == "" || $(TxtName).val() == '0') {
                $(TxtName).val('0.00')
            }
            if (!($.isNumeric($(TxtName).val()))) {
                $(TxtName).val('0.00')
            }
            if (parseFloat($(TxtName).val()) < 0) {
                $(TxtName).val('0.00')
            }

            $(TxtName).val(parseFloat($(TxtName).val()).toFixed(2));

            $(TxtName).live('change', function () {
                if ($(TxtName).val() == null || $(TxtName).val() == "" || $(TxtName).val() == '0') {
                    $(TxtName).val('0.00')
                }

                if (!($.isNumeric($(TxtName).val()))) {
                    $(TxtName).val('0.00');
                    alert("Please Enter Numeric Only.")
                }

                if (parseFloat($(TxtName).val()) < 0) {
                    $(TxtName).val('0.00');
                    alert("Must be Non-Negative Value.")
                }
                $(TxtName).val(parseFloat($(TxtName).val()).toFixed(3));
                ToatalAmount(txtNumber);
            });

        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                handleSelect2();
                handleDatetimePicker();
                Formvalidate(DomainName);
                ////GetVendorCode("webx_GENERAL_POASSET_HDR_VENDORCD");
                JsonDDL('webx_GENERAL_POASSET_HDR_VENDORCD', DomainName + '/Finance/GetVendor_NameJson', false);

                @foreach (var item in Model.Listwebx_GENERAL_POASSET_det)
                {
                    <text>
                CalcFunction('qty', "@item.srno");
                CalcFunction('rate', "@item.srno");
                CalcFunction('total', "@item.srno");

                $("#GENERAL_POASSET_det_" + "@item.srno" + "__assetcd").change(function () {
                    ShowAssetNM(this, 'FixAsset', DomainName)
                });
                </text>

                }

                $("#webx_GENERAL_POASSET_HDR_GSTPercentage").on("change", function () {
                    $(".qty").each(function () {
                        var itemIndex = $(this).attr("id").replace("GENERAL_POASSET_det_", "").replace("__qty", "");
                        $("#" + $(this).attr("id").replace("__qty", "__tax_per")).val(parseFloat($("#webx_GENERAL_POASSET_HDR_GSTPercentage").val()).toFixed(2));
                        ToatalAmount(itemIndex);
                    });
                });

                var i = "";
                var itemIndex = $("#container input.iHidden").length + 1;
                $("#btnAddRow").click(function () {
                    var TOTRows = $("#InvoiceRows").val();

                    for (var i = 0; i <= TOTRows - 1; i++) {
                        setTimeout(function () {
                            itemIndex = itemIndex + 1;
                            AddQuestions(DomainName, itemIndex, $('#webx_GENERAL_POASSET_HDR_MatCat').val());
                        }, 100 * i);
                    }
                });

                $("#webx_GENERAL_POASSET_HDR_VENDORCD").change(function () {
                    ShowAssetNM(this, 'Vendor', DomainName)
                    var VENDORCD = $("#webx_GENERAL_POASSET_HDR_VENDORCD").val();
                    var VenCode = $(this).val().split('-')[0];
                    var VenName = $(this).val().split('-')[1];
                    $("#webx_GENERAL_POASSET_HDR_VENDORCD").val(VenCode);
                    $("#webx_GENERAL_POASSET_HDR_VENDORNAME").val(VenName);
                });


                $("#webx_GENERAL_POASSET_HDR_Manual_PO_No").change(function () {
                    ShowAssetNM(this, 'ManualPONo', DomainName)
                });
                $("#webx_GENERAL_POASSET_HDR_PAIDAMT").change(function () {
                    if ($(this).val() == null || $(this).val() == "") {
                        $(this).val('0');
                    }
                    if (!($.isNumeric($(this).val()))) {
                        $(this).val('0');
                        alert("Please Enter Numeric Only.")
                    }
                    if (parseFloat($(this).val()) < 0) {
                        $(this).val('0');
                        alert("Must be Non-Negative Value.")
                    }
                    CountTotal();
                });
                $("#webx_GENERAL_POASSET_HDR_Excise_Duty").change(function () {
                    if ($(this).val() == null || $(this).val() == "") {
                        $(this).val('0');
                    }
                    if (!($.isNumeric($(this).val()))) {
                        $(this).val('0');
                        alert("Please Enter Numeric Only.")
                    }
                    if (parseFloat($(this).val()) < 0) {
                        $(this).val('0');
                        alert("Must be Non-Negative Value.")
                    }
                    CountTotal();
                });
                $("#webx_GENERAL_POASSET_HDR_Vat_S_Tax").change(function () {
                    if ($(this).val() == null || $(this).val() == "") {
                        $(this).val('0');
                    }
                    if (!($.isNumeric($(this).val()))) {
                        $(this).val('0');
                        alert("Please Enter Numeric Only.")
                    }
                    if (parseFloat($(this).val()) < 0) {
                        $(this).val('0');
                        alert("Must be Non-Negative Value.")
                    }
                    CountTotal();
                });
                $("#webx_GENERAL_POASSET_HDR_Freight_Ins").change(function () {
                    if ($(this).val() == null || $(this).val() == "") {
                        $(this).val('0');
                    }
                    if (!($.isNumeric($(this).val()))) {
                        $(this).val('0');
                        alert("Please Enter Numeric Only.")
                    }
                    if (parseFloat($(this).val()) < 0) {
                        $(this).val('0');
                        alert("Must be Non-Negative Value.")
                    }
                    CountTotal();
                });
                $("#webx_GENERAL_POASSET_HDR_Octroi").change(function () {
                    if ($(this).val() == null || $(this).val() == "") {
                        $(this).val('0');
                    }
                    if (!($.isNumeric($(this).val()))) {
                        $(this).val('0');
                        alert("Please Enter Numeric Only.")
                    }
                    if (parseFloat($(this).val()) < 0) {
                        $(this).val('0');
                        alert("Must be Non-Negative Value.")
                    }
                    CountTotal();
                });
                $("#webx_GENERAL_POASSET_HDR_Packing_charge").change(function () {
                    if ($(this).val() == null || $(this).val() == "") {
                        $(this).val('0');
                    }
                    if (!($.isNumeric($(this).val()))) {
                        $(this).val('0');
                        alert("Please Enter Numeric Only.")
                    }
                    if (parseFloat($(this).val()) < 0) {
                        $(this).val('0');
                        alert("Must be Non-Negative Value.")
                    }
                    CountTotal();
                });

                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.filter:first").remove();
                    CountTotal();
                });

                $('#webx_GENERAL_POASSET_HDR_MatCat').change(function () {

                    if ($('#webx_GENERAL_POASSET_HDR_MatCat').val() == "01") {
                        $("#tblHead").html('Packing Materials Details');
                    }
                    else if ($('#webx_GENERAL_POASSET_HDR_MatCat').val() == "02") {
                        $("#tblHead").html('Tyre Model/Tyre MFG/Tyre Size/Tyre Category');
                    }
                    else if ($('#webx_GENERAL_POASSET_HDR_MatCat').val() == "03") {
                        $("#tblHead").html('Spare Parts Details');
                    }
                    else if ($('#webx_GENERAL_POASSET_HDR_MatCat').val() == "04") {
                        $("#tblHead").html('General Details');
                    }
                    else if ($('#webx_GENERAL_POASSET_HDR_MatCat').val() == "05" || $('#webx_GENERAL_POASSET_HDR_MatCat').val() == "5") {
                        $("#tblHead").html('Printing & Stationary Details');
                    }
                    else if ($('#webx_GENERAL_POASSET_HDR_MatCat').val() == "06" || $('#webx_GENERAL_POASSET_HDR_MatCat').val() == "6") {
                        $("#tblHead").html('Fix Asset Details');
                    }
                    else if ($('#webx_GENERAL_POASSET_HDR_MatCat').val() == "07" || $('#webx_GENERAL_POASSET_HDR_MatCat').val() == "7") {
                        $("#tblHead").html('Office Maintanance');
                    }
                    else if ($('#webx_GENERAL_POASSET_HDR_MatCat').val() == "08" || $('#webx_GENERAL_POASSET_HDR_MatCat').val() == "8") {
                        $("#tblHead").html('Festival Expenses');
                    }
                    else {
                        $("#tblHead").html('Fix Asset Details');
                    }
                });
                $('#FabricSheetPO_YN').change(function () {
                    if ($(this).is(":checked")) {
                        $('#webx_GENERAL_POASSET_HDR_FabricSheetPO_YN').val("Y");
                    }
                    else {
                        $('#webx_GENERAL_POASSET_HDR_FabricSheetPO_YN').val("N");
                    }
                });

                $('#button-next').click(function () {
                    var form = $('#submit_form');
                    if (form.valid() == false) {
                        return false;
                    }
                    $('#button-next').hide();
                    $('#button-submit').show();
                    $('#tab2disp').show();
                    $('#webx_GENERAL_POASSET_HDR_MatCat').attr("readonly", true)
                    $("#GeneralizeWOTable").html('');
                    AddQuestions(DomainName, '1', $('#webx_GENERAL_POASSET_HDR_MatCat').val());
                });

                $("#PaymentMode").change(function () {

                    // alert("Hello " + $(this).val());

                    App.blockUI({ boxed: true });

                    $("#CashAmount").attr("readonly", "true");
                    $("#ChequeAmount").attr("readonly", "true");


                    $("#CashLedger").change(function () {

                        $("#CashLedgerName").val($(this).select2('data').text);

                    });

                    $("#BankLedger").change(function () {

                        $("#BankLedgerName").val($(this).select2('data').text);

                    });

                    if ($(this).val().toUpperCase() == "CASH") {
                        $(".clsBANK").hide();
                        $(".clsCASH").show();

                        $("#CashAmount").val($("#PayAmount").val());

                        var StrURL = DomainName + "/Payment/GetLedger?Category=Cash";
                        FillDropDownfromOther("CashLedger", StrURL, "Cash Ledger");

                        $("#ChequeNo").val("000000");
                        $("#BankLedger").select2("data", { id: $(this).val(), text: $(this).select2('data').text });

                    }
                    else if ($(this).val().toUpperCase() == "BANK") {
                        $(".clsBANK").show();
                        $(".clsCASH").hide();
                        $("#ChequeNo").val("");
                        var StrURL = DomainName + "/Payment/GetLedger?Category=Bank";
                        FillDropDownfromOther("BankLedger", StrURL, "Bank Ledger");

                        $("#ChequeAmount").val($("#PayAmount").val());

                        $("#CashLedger").select2("data", { id: $(this).val(), text: $(this).select2('data').text });
                    }
                    else if ($(this).val().toUpperCase() == "BOTH") {

                        $(".clsBANK").show();
                        $(".clsCASH").show();


                        $("#CashAmount").val("0");
                        $("#ChequeAmount").val("0");

                        $("#CashAmount").attr("readonly", false);
                        $("#ChequeAmount").attr("readonly", false);

                        var StrURL = DomainName + "/Payment/GetLedger?Category=Cash";
                        FillDropDownfromOther("CashLedger", StrURL, "Cash Ledger");

                        StrURL = DomainName + "/Payment/GetLedger?Category=Bank";
                        FillDropDownfromOther("BankLedger", StrURL, "Bank Ledger");
                    }
                });

                $('#button-submit').click(function () {
                    var form = $('#submit_form');
                    if (form.valid() == true) {
                        App.blockUI({ boxed: true });
                        $('#tab1 :input').attr('disabled', false);
                        document.forms["submit_form"].submit();
                    }
                });
            }
        };
    }();

</script>
