﻿@model Fleet.ViewModels.Tempwebx_GENERAL_POASSET_HDR
@using CYGNUS.Models;
@using Fleet.Classes;
@using FleetDataService.Models
@{
    ViewBag.Title = "SKUPOEdit_Temp";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.OperationService OS = new FleetDataService.OperationService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> ListMatCat = MS.GetGeneralMasterObject().Where(c => c.CodeDesc == "MATCAT").ToList();
    List<webx_location> ListLocation = MS.GetLocationDetails();

    System.Data.DataTable DT1 = OS.GetPODetDetails(Model.pocode);
    List<webx_GENERAL_POASSET_det> PODET = DataRowToObject.CreateListFromTable<webx_GENERAL_POASSET_det>(DT1);

    string CurrDate = System.DateTime.Now.ToString();
}


<div class="col-md-12">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>SKU PO Edit
            </div>
        </div>
        <div class="portlet-body flip-scroll">
            @using (Html.BeginForm("SubmitSKUPOEdit", "Operation", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal form-bordered" }))
            {
                <div class="form-body">
                    <h6 class="block form-section" style="margin-bottom: 0px;"><b>Purchase Order Details</b></h6>

                    <div class="form-group">
                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <label class="control-label col-md-4">Material Category</label>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(m => m.MatCat, new SelectList(ListMatCat, "CodeID", "CodeDesc"), "", new { @class = "span15 select2 form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <label class="control-label col-md-4">Purchase Order ID</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.pocode, new { @class = "m-wrap  form-control", @readonly = true })
                                    @Html.HiddenFor(c => c.pocode)

                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="control-label col-md-4">Purchase Order Date</label>
                                <div class="input-group input-medium date date-picker" data-date-format="dd MMM yyyy">
                                    @Html.TextBoxFor(m => m.podate, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.podate).ToString("dd MMM yyyy")), new { @class = "form-control required", @readonly = true })
                                    <span class="input-group-btn">
                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <label class="control-label col-md-4">Vendor Code</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.VENDORCD, new { @class = "  form-control " })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="control-label col-md-4">Spot Delivery Date</label>
                                <div class="input-group input-medium date date-picker" data-date-format="dd MMM yyyy">
                                    @Html.TextBoxFor(m => m.SpotDelDT, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.SpotDelDT).ToString("dd MMM yyyy")), new { @class = "form-control required", @readonly = true })
                                    <span class="input-group-btn">
                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <label class="control-label col-md-4">Manual W.O. Number</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.Manual_PO_No, new { @class = "m-wrap  form-control" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="control-label col-md-4">Person Name</label>
                                <div class="col-md-6 ">
                                    @Html.TextBoxFor(c => c.attn, new { @class = "m-wrap  form-control" })
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <label class="control-label col-md-4">GRN Locations</label>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(m => m.Location, new SelectList(ListLocation, "LocCode", "LocName"), "", new { @class = "span15 select2 form-control" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label col-md-4">PO Valid Date</label>
                                <div class="input-group input-medium date date-picker" data-date-format="dd MMM yyyy">
                                    @Html.TextBoxFor(m => m.ValideDate, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.ValideDate).ToString("dd MMM yyyy")), new { @class = "form-control required", @readonly = true })
                                    <span class="input-group-btn">
                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row col-md-12">
                            <div class="col-md-2">
                            </div>
                            <label class="checked">
                                <input type="checkbox" value="checked" id="FabricSheetPO_YN" class="input-medium">
                                @Html.HiddenFor(m => m.FabricSheetPO_YN)
                                Here Click Then Generate The Fabric Sheet PO
                            </label>
                        </div>
                    </div>

                    <h6 class="block form-section" style="margin-bottom: 0px;"><b>Order Details</b></h6>

                    <div class="form-body">

                        <table class="table table-striped table-bordered table-hover table-full-width" id="Sample1">

                            <thead class="flip-content">
                                <tr>
                                    <th class="center">Sr No.</th>
                                    <th class="center">
                                        Fix Asset Details
                                    </th>
                                    <th class="center">
                                        Description
                                    </th>
                                    <th class="center">
                                        Qty.
                                    </th>
                                    <th class="center">
                                        Unit Type
                                    </th>
                                    <th class="center">
                                        Rate
                                    </th>
                                    <th class="center">
                                        Total Amount
                                    </th>
                                    <th>
                                        Warranty (In Year)
                                    </th>
                                    <th class="center">
                                        Delete Row
                                    </th>
                                </tr>
                            </thead>

                            <tbody id="container">

                                @foreach (var item in PODET)
                                {
                                    Html.RenderPartial("_SKUPOEditPartial", item);
                                }
                            </tbody>

                        </table>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2" id="Newcontainer">
                            <a id="btnAddRows" class="btn blue right" style="margin-left: 51px; margin-top: -7px;">
                                Add New Row
                            </a>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row col-md-12">
                            <div class="col-md-6"></div>

                            <div class="col-md-3">
                                <div class="col-md-3"></div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label col-md-5">Grand Total</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.totalamt, new { @class = "m-wrap  form-control", @readonly = true })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <label class="control-label col-md-4">Other Terms & Condition</label>
                                <div class="col-md-6">
                                    @Html.TextAreaFor(c => c.terms_condition, new { @class = "m-wrap  form-control" })
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label class="control-label col-md-5">Excise Duty %</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.Excise_Duty, new { @class = "m-wrap  form-control" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label col-md-5">Vat/S.Tax %</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.Vat_S_Tax, new { @class = "m-wrap  form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <label class="control-label col-md-4">Remark</label>
                                <div class="col-md-6">
                                    @Html.TextAreaFor(c => c.remarks, new { @class = "m-wrap  form-control" })
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label class="control-label col-md-5">Freight &Ins</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.Freight_Ins, new { @class = "m-wrap  form-control" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label col-md-5">Octroi</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.Octroi, new { @class = "m-wrap  form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <label class="control-label col-md-4">Specification</label>
                                <div class="col-md-6">
                                    @Html.TextAreaFor(c => c.Specification, new { @class = "m-wrap  form-control" })
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="col-md-6"></div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label col-md-5">Packing charge</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.Packing_charge, new { @class = "m-wrap  form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row col-md-12">
                            <div class="col-md-6"></div>

                            <div class="col-md-3">
                                <label class="control-label col-md-5">Advance Amount</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.PAIDAMT, new { @class = "m-wrap  form-control" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label col-md-5">Balance Amount</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.pendamt, new { @class = "m-wrap  form-control", @readonly = true })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <label class="control-label col-md-4">Payment Terms</label>
                                <div class="col-md-6">
                                    @Html.TextAreaFor(c => c.PaymentTerms, new { @class = "m-wrap  form-control" })
                                </div>
                            </div>

                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" id="btnSubmit" class="btn blue controls">Submit </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var ToatalAmount = function (itemIndex) {
            var Qty = '#GENERAL_POASSET_det_' + itemIndex + '__qty';
            var Rate = '#GENERAL_POASSET_det_' + itemIndex + '__rate';
            var Total = '#GENERAL_POASSET_det_' + itemIndex + '__total';
            var Discount_Per = '#GENERAL_POASSET_det_' + itemIndex + '__Discount_Per';
            var DiscountAmt = '#GENERAL_POASSET_det_' + itemIndex + '__DiscountAmt';
            var TaxPer = '#GENERAL_POASSET_det_' + itemIndex + '__tax_per';
            var TaxAmt = '#GENERAL_POASSET_det_' + itemIndex + '__TaxAmt';
            var total = '#GENERAL_POASSET_det_' + itemIndex + '__total';
            $(Qty).val(parseFloat($(Qty).val()).toFixed(2));
            $(Rate).val(parseFloat($(Rate).val()).toFixed(2));
            $(Total).val(parseFloat($(Total).val()).toFixed(2));

            var disamount = $(Qty).val() * $(Rate).val();
            var total1 = disamount;
            $(DiscountAmt).val(parseFloat($(Qty).val() * $(Rate).val()));
            $(TaxAmt).val(parseFloat(disamount).toFixed(2));
            $(total).val(parseFloat(total1).toFixed(2));
            CountTotal();
        }

        var CountTotal = function () {
            var GT = 0;
            var quantity = 0;
            var pendingAmount = 0;
            totalRows = $("#container tbody tr").length;

            $(".qty").each(function () {
                quantity = parseFloat(quantity) + parseFloat($(this).val());
            });
            $(".total").each(function () {
                GT = parseFloat(GT) + parseFloat($(this).val());
            });

            $("#totalamt").val(parseFloat(GT).toFixed(2));

            var exciseDutyPer = $('#Excise_Duty').val();
            var ExciseAmt = (parseFloat(GT) * parseFloat(exciseDutyPer) / 100)
            $('#ExciseDutyTotalAmt').val(ExciseAmt);

            var VATPer = $('#Vat_S_Tax').val();
            var VATAmt = ((parseFloat(GT) + parseFloat(ExciseAmt)) * parseFloat(VATPer) / 100)
            $('#VatSTaxAmt').val(VATAmt);

            var freight = $('#Freight_Ins').val();
            var Octroi = $('#Octroi').val();
            var Pktchrg = $('#Packing_charge').val();

            var FinalAmount = parseFloat(GT) + parseFloat(ExciseAmt) + parseFloat(VATAmt) + parseFloat(freight) + parseFloat(Octroi) + parseFloat(Pktchrg);

            $("#PO_advamt").val(parseFloat($('#PAIDAMT').val()));
            pendingAmount = parseFloat(FinalAmount) - parseFloat($('#PAIDAMT').val())
            $("#totalqty").val(parseFloat(quantity).toFixed(2));
            if (pendingAmount < 0) {
                $("#pendamt").val(parseFloat(FinalAmount).toFixed(0));
                $("#PO_balamt").val(parseFloat(FinalAmount).toFixed(0));

                $("#PAIDAMT").val(parseFloat(0).toFixed(2));
                $("#PO_advamt").val(parseFloat($('#PAIDAMT').val()));
                alert("Paid Amount should less than Grand Total");
                $("#pendamt").focus();

                return false();
            }
            else {
                $("#pendamt").val(parseFloat(pendingAmount).toFixed(0));
                $("#balamt").val(parseFloat(pendingAmount).toFixed(0));
            }
        }

        var CalcFunction = function (TextBoxName, txtNumber) {
            var TxtName = '#GENERAL_POASSET_det_' + txtNumber + '__' + TextBoxName + '';
            if ($(TxtName).val() == null || $(TxtName).val() == "" || $(TxtName).val() == '0') {
                $(TxtName).val('0.00')
            }
            else {
                $(TxtName).val(parseFloat($(TxtName).val()).toFixed(2));
            }
            ToatalAmount(txtNumber)

        }

        var ShowAssetNM = function Show_assetNM(Obj, Type, DomainName) {

            if (Obj.value == "") {
                return false;
            }
            if (Type != "ManualPONo") {
                var Search_Char = "~"
                if (Obj.value.indexOf(Search_Char) == -1) {
                    alert("Invalid  Item  Name~Code Format");
                    Obj.focus();
                    return false
                }
            }
            var TxtAssetcode = Obj.id;
            var txtastnm = TxtAssetcode.replace("txtassetcd", "txtastnm");
            var Assetcode_Arr = $("#" + TxtAssetcode).val().split("~");
            if (Type != "ManualPONo") {
                Assetcode = Assetcode_Arr[1]
            }
            else {
                Assetcode = $("#" + TxtAssetcode).val();
            }
            if (Assetcode != "") {

                var StrURL1 = DomainName + "/Purchase/CheckExistForSKUPOEdit";
                $.ajax({
                    url: StrURL1,
                    cache: false,
                    data: { mode: Type, code: Assetcode },
                    type: 'GET',
                    success: function (html) {
                        var res = html.split("|");
                        if (Type == "Vendor") {
                            if (res[0] == "false") {
                                alert("Vendor Code is not Valid... Please Enter Valid Vendor Code");
                                $("#" + TxtAssetcode).val("");
                                return false;
                            }
                        }
                        else if (Type == "ManualPONo") {
                            if (res[0] == "true") {
                                alert("Manual Wo Number is Already Exist.. Please Enter Valid Manual WO Number.");
                                $("#" + TxtAssetcode).val("");
                                return false;
                            }
                        }
                        else {
                            if (res[0] == "true") {
                                alert("Item Code is not Valid... Please Enter Valid Item Code");
                                $("#" + TxtAssetcode).val("");
                                return false;
                            }
                        }
                    },
                    error: function (req, status, error) {
                        alert("error " + req + " " + status + " " + error);
                    }
                });

            }
        }

        var AddNewInfo = function (DomainName, itemIndex, MatCat) {
            var IsFabricSheet = $("#FabricSheetPO_YN").val();

            if (IsFabricSheet == "Y")
            { IsFabricSheet = true; }
            else {
                IsFabricSheet = false;
            }

            var StrURL1 = DomainName + '/Purchase/AddNewRowPOEdit?SrNo=' + itemIndex + "&IsFabricSheet=" + IsFabricSheet + "&MatCat=" + MatCat;// + '&Value=' + Value;

            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#container").append(html);
                    //alert(html);
                    Select2Class(DomainName, "GENERAL_POASSET_det_" + itemIndex + "__assetcd");
                    Select2Class(DomainName, "GENERAL_POASSET_det_" + itemIndex + "__UnitType");
                },
                error: function (req, status, error) {
                }
            });
        }

        var handleDatetimePicker = function () {

            //$("#WAD_VoucherDate").prop("disabled", true);
            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    startDate: new Date(),
                    autoclose: true
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
            $(".form_meridian_datetime").datetimepicker({
                isRTL: App.isRTL(),
                format: "dd MM yyyy HH:ii P",
                showMeridian: true,
                autoclose: true,
                startDate: new Date('@CurrDate'),
                pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                todayBtn: true
            });

            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });

        }
        var Select2Class = function (DomainName, Id) {

            $('#' + Id).select2({
                placeholder: "Select an option",
                allowClear: true
            });
        };




        var Formvalidate = function (DomainName) {

            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {

                },
                messages: { // custom messages for radio buttons and checkboxes

                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.attr("name") == "gender") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_gender_error");
                    } else if (element.attr("name") == "payment[]") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_payment_error");
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    $("#btnSubmit").hide();
                    form.submit();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }

            });

            $('#Enquiry_form_wizard .button-submit').click(function () {
                if ($('#submit_form').valid()) {

                    App.blockUI({ boxed: true });
                    document.forms[1].submit();
                }
            });

        }
        return {
            //main function to initiate the module
            init: function (DomainName) {

                handleDatetimePicker();
                var itemIndex = $("#Partialcontainer input.iHidden").length + 1;
                Formvalidate(DomainName);
                GetVendorCode("VENDORCD");
                $("#MatCat").attr("disabled", true);
                @foreach (var item in PODET)
                {
                    <text>
                CalcFunction('qty', "@item.srno");
                CalcFunction('rate', "@item.srno");
                CalcFunction('total', "@item.srno");

                $("#GENERAL_POASSET_det_" + "@item.srno" + "__assetcd").change(function () {
                    ShowAssetNM(this, 'FixAsset', DomainName)
                });
                </text>

                }

                //$("#MatCat").select2("data", { id: "@Model.MatCat", text: "@Model.MatCat" });
                //$("#Location").select2("data", { id: "@Model.Location", text: "@Model.Location" });

                $("#PAIDAMT").change(function () {
                    CountTotal();
                });
                $("#Excise_Duty").change(function () {
                    CountTotal();
                });
                $("#Vat_S_Tax").change(function () {
                    CountTotal();
                });
                $("#Freight_Ins").change(function () {
                    CountTotal();
                });
                $("#Octroi").change(function () {
                    CountTotal();
                });
                $("#Packing_charge").change(function () {
                    CountTotal();
                });

                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.filter:first").remove();
                    CountTotal();
                });

                $(".qty").live("change", function () {
                    CalcFunction('qty', itemIndex);
                });

                $(".rate").live("change", function () {
                    CalcFunction('rate', itemIndex);
                });
                $(".total").live("change", function () {
                    CalcFunction('total', itemIndex);
                });


                //$(".assetcd").live("change", function () {
                //    var ID = $("#GENERAL_POASSET_det_" + 0 + "__assetcd").val();
                //    alert(ID);
                //    $("#GENERAL_POASSET_det_" + itemIndex + "Id").val(ID);
                //});

                $("#btnAddRows").click(function () {
                    var TOTROW = "";
                    TOTROW = 1;
                    //App.blockUI({ Boxed: true });
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            itemIndex = itemIndex + 1;
                            var MatCat = $("#MatCat").val();
                            AddNewInfo(DomainName, itemIndex, MatCat);
                        }, 100 * i);
                        App.unblockUI();
                        return false;
                    }
                });

                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.filter:first").remove();
                    CountTotal();
                });
            }
        };
    }();
</script>

