﻿@model Fleet.ViewModels.SKUPOEditViewModel
@{
    ViewBag.Title = "SKUPOEditCriteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Location = ViewBag.HeadOfficeCode;
    FleetDataService.MasterService CS = new FleetDataService.MasterService();
}

<div id="loading" style="display: none;">
    <img src="@Url.Content("~/assets/img/loading.gif")" />
</div>

<div class="col-md-10">
    <div class="portlet box @ViewBag.TableBoxColor ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-reorder"></i>SKU PO Edit
            </div>
        </div>

        <div class="portlet-body form">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>

                @using (Html.BeginForm("SKUPOListing", "Operation", FormMethod.Get, new { @id = "submit_form", @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(c => c.FilterType)
                    @Html.HiddenFor(c => c.POType)
                    @Html.HiddenFor(c => c.FromDate)
                    @Html.HiddenFor(c => c.ToDate)

                    <div class="form-group">
                        <label class="control-label col-md-2" style="text-align: left;">
                            Select Date :
                        </label>
                        <div class="col-md-4">
                            <div id="reportrange" class="btn default col-md-12">
                                <i class="fa fa-calendar"></i>
                                &nbsp;
                                <span></span>
                                <b class="fa fa-angle-down"></b>
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="control-label col-md-2" style="text-align: left;">
                            Vendor Code:
                        </label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(c => c.VENDORCD, new { placeholder = "", @class = "span6 m-wrap form-control" })
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="control-label col-md-2" style="text-align: left;">
                            Enter PO No:
                        </label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(c => c.pocode, new { placeholder = "", @class = "span6 m-wrap form-control" })
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-12">
                                <button type="submit" id="btnSubmit" class="btn blue"><i class="fa fa-search"></i>&nbsp; Submit</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var handleSelect2 = function () {
            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });
        }

        var HandleDatetimePicker = function () {
            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }

            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                //maxDate: '12/31/2014',
                dateLimit: {
                    days: 60
                },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#FromDate').val(start.format('MMMM D, YYYY'));
                     $('#ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ToDate').val(moment().format('MMMM D, YYYY'));
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                handleSelect2();
                HandleDatetimePicker();
                handleDateRangePickers();
                GetVendorCode("VendorCode");
                $("input[name='optionsRadios2']").on("change", function () {
                    var rdoval = this.value;
                    if (rdoval == "") {
                        alert("Plz Select value")
                    }
                    else {
                        $('#FilterType').val(rdoval);
                    }
                });
                $("input[name='optionsRadios3']").on("change", function () {
                    var rdoval = this.value;
                    if (rdoval == "") {
                        alert("Plz Select value")
                    }
                    else {
                        $('#POType').val(rdoval);
                    }
                });

                $("#btnSubmit").click(function () {
                    $("#btnSubmit:input").attr("disabled", "true");
                    $("#submit_form").submit();
                });
            }
        };
    }();

</script>