﻿@model Fleet.ViewModels.vw_Stock_For_UpdateViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "Stock Update Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<SelectListItem> Conditionlist = new List<SelectListItem>(){
                    new SelectListItem{ Text="GOOD", Value = "1" },
                    new SelectListItem{ Text="SHORT", Value = "2" },
                    new SelectListItem{ Text="DAMAGE", Value = "3" },
                    new SelectListItem{ Text="OPEN CONDITION", Value = "4" },
    };

    //List<SelectListItem> Processlist = new List<SelectListItem>(){
    //                new SelectListItem{ Text="Delivery through DRS", Value = "1" },
    //};

    List<Webx_Master_General> Processlist = MS.GetGeneralMasterObject().Where(c => c.CodeType.ToUpper() == "DLYPRC" && c.StatusCode.ToUpper() == "Y").ToList();

    var locCode = ViewBag.BaseLocationCode;
    List<webx_GODOWNMST> Warehouselist = MS.GetWarehouseObject().Where(c => c.SPDBRCD.Trim().ToUpper() == locCode.Trim().ToUpper() && c.ActiveFlag == "Y").ToList();
}

@using (Html.BeginForm("StockUpdateDetails", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-10">
            <h4>Stock List :</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.THCCalledAs Information:
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        @ViewBag.THCCalledAs No. :
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        @Html.DisplayFor(c => c.VSFUM.THCNO, new { @class = "form-control" })
                                        @Html.HiddenFor(m => m.VSFUM.THCNO)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-6">
                                        @ViewBag.THCCalledAs Date :
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        @Model.VSFUM.THCDT.ToString("dd MMM yyyy hh:mm:ss tt")
                                        @Html.HiddenFor(m => m.VSFUM.THCDT)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-6">
                                        @ViewBag.THCCalledAs Arrival Date &nbsp;&#64&nbsp; @ViewBag.BaseLocationCode:
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        @Model.VSFUM.actarrv_dt.ToString("dd MMM yyyy hh:mm:ss tt")
                                        @Html.HiddenFor(c => c.VSFUM.actarrv_dt)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Vehicle #:
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        @Html.DisplayFor(c => c.VSFUM.vehno, new { @class = "form-control" })
                                        @Html.HiddenFor(m => m.VSFUM.vehno)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-6">
                                        Total Manifest Count :
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        @Html.DisplayFor(c => c.VSFUM.ManifestKount, new { @class = "form-control" })
                                        @Html.HiddenFor(m => m.VSFUM.ManifestKount)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-6">
                                        Total CNote Count:
                                    </label>
                                    <div class="col-md-6 text-primary margin-top-5">
                                        @Html.DisplayFor(c => c.VSFUM.DocketKount, new { @class = "form-control" })
                                        @Html.HiddenFor(m => m.VSFUM.DocketKount)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Stock Update Date:
                                    </label>
                                    <div class="col-md-6">
                                        <div class="input-group date date-picker" data-date-start-date="@Model.VSFUM.actarrv_dt" data-date-end-date="+0d">
                                            @Html.TextBoxFor(c => c.VSFUM.UpdateDate, String.Format("{0:dd MM yyyy}", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = " form-control" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-6">
                                        Excess Packages:
                                    </label>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(c => c.VSFUM.ExcessQty, new { @class = "form-control", @placeholder = "Excess Packages", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-6">
                                        Excess Remarks:
                                    </label>
                                    <div class="col-md-5">
                                        @Html.TextAreaFor(c => c.VSFUM.ExcessRemarks, new { @class = "form-control", @placeholder = "Excess Remarks" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Stock Update List
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="StockUpdateList" style="overflow-x: scroll;">
                        <thead>
                            <tr>
                                <th>Short /Damage </th>
                                @*<th>Counter Delivery</th>*@
                                <th>MF #</th>
                                <th>CNote # Bkg-Dest</th>
                                <th>Bkg. Date</th>
                                <th>Commited Dely. Date</th>
                                @*<th>Actual/Arrived/Booked Pkgs.</th>*@
                                <th>Pkgs.</th>
                                <th>Wt.</th>
                                <th>Biz. Type Service Type</th>
                                <th>Arrived Pkgs.</th>
                                <th>Arrived Wt.</th>
                                <th>
                                    Arrival Condition<br />
                                    @Html.DropDownList("AC", new SelectList(Conditionlist, "Value", "Text"), "", new { @class = "form-control select2", @placeholder = "Select Condition" })
                                </th>
                                <th>
                                    Warehouse ID<br />
                                    @Html.DropDownList("WI", new SelectList(Warehouselist, "godown_srno", "godown_name"), null, new { @class = "form-control select2", @placeholder = "Select Warehouse" })
                                </th>
                                <th>
                                    Delivery Process<br />
                                    @Html.DropDownList("DP", new SelectList(Processlist, "CodeId", "CodeDesc"), "", new { @class = "form-control select2", @placeholder = "Select Process" })
                                </th>
                                <th>Image Upload.</th>
                                <th>Vehicle Image Upload.</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.listVSFUM)
                            {
                                Html.RenderPartial("_StockUpdateList", item);
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <a href="@Url.Content("~/Operation/ArrivalUpdate/2")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back to ArrivalUpdate </a>
            <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Stock Update</button>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var Submit = function (domainname) {
            $("#btnSubmit").click(function (e) {
                App.blockUI({ boxed: true });
                if (e.handled !== true) // this will prevent event triggering more then once
                {
                    e.handled = true;
                    Formvalidate(domainname);
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return;
                    }
                    document.forms["form_sample"].submit();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                $(".clsPilferage").each(function () {
                    $(this).hide();
                })
                $(".clsShort").each(function () {
                    $(this).hide();
                })
                $(".clsDamage").each(function () {
                    $(this).hide();
                })
                $(".clsExcess").each(function () {
                    $(this).hide();
                })
                $(".DPdropdown").each(function () {
                    
                    $(this).attr("disabled","true");
                });
                $("#DP").attr("disabled", "true");

                $(".ClsImgupload").click(function () {
                    var id = $(this).attr('id');
                    var docketNo = id.replace("StockUpdateList_", "").replace("___IsDamage", "").replace("___IsShort", "");
                    var chkShr = "StockUpdateList_" + docketNo + "___IsShort";
                    var chkDmg = "StockUpdateList_" + docketNo + "___IsDamage";

                    if ($("#" + chkShr).prop("checked") == true || $("#" + chkDmg).prop("checked") == true) {
                        $("#divfileupload_" + docketNo).show();
                    } else {
                        $("#divfileupload_" + docketNo).hide();
                    }
                });

                $(".clsArrPkgQty").focusout(function () {

                    var Id = $(this).attr("id").replace("PKGSNO", "");
                    var ArrPkgQty = $(this).val();

                    var PKGSNO = $("#" + Id + "BKG_PKGSNO").val();
                    var ACTUWT = $("#" + Id + "BKG_ACTUWT").val();
                    var DockNos = $(this).attr("id").replace("StockUpdateList_", "").replace("___PKGSNO", "");
                    var clsShort = "clsShort" + DockNos + parseInt(PKGSNO);

                    console.log(DockNos + "--" + clsShort);
                    console.log((parseFloat(ArrPkgQty) + "<" + parseFloat(PKGSNO)));

                    var PilferageVal = $("#StockUpdateList_" + DockNos + "___PilferageQty").val();
                    var DamageVal = $("#StockUpdateList_" + DockNos + "___DamageQry").val();
                    var sumqty = (parseInt(PilferageVal) + parseInt(DamageVal));

                    if (parseInt(sumqty) > parseInt(ArrPkgQty)) {
                        alert("Please Check Shortage Qty ....");
                        $("#StockUpdateList_" + DockNos + "___PilferageQty").val(0);
                        $("#StockUpdateList_" + DockNos + "___PilferageWeight").val(0);
                        $("#StockUpdateList_" + DockNos + "___DamageQry").val(0);
                        $("#StockUpdateList_" + DockNos + "___DamageWeight").val(0);
                        //return false;
                    }

                    var ArrivalWT = 0, ShortWT = 0;
                    if (parseFloat(ArrPkgQty) < parseFloat(PKGSNO)) {
                        $("#" + clsShort).show();
                        $("#StockUpdateList_" + DockNos + "___ShortageQty").val(parseFloat(PKGSNO) - parseFloat(ArrPkgQty));
                        ArrivalWT = (parseFloat(ArrPkgQty) * parseFloat(ACTUWT)) / parseFloat(PKGSNO);
                        $("#StockUpdateList_" + DockNos + "___ACTUWT").val(parseFloat(roundNumber(ArrivalWT, 0)).toFixed(1));

                        ShortWT = parseFloat(ACTUWT) - roundNumber(ArrivalWT, 0);
                        $("#StockUpdateList_" + DockNos + "___ShortageWeight").val(parseFloat(ShortWT).toFixed(1));
                        $("#StockUpdateList_" + DockNos + "___ShortageWeight").attr("max", parseFloat(ACTUWT) - 1);
                        $("#StockUpdateList_" + DockNos + "___IsShort").parent('span').addClass("checked");
                        $("#StockUpdateList_" + DockNos + "___IsShort").attr("checked", true);
                    }
                    else {
                        $("#StockUpdateList_" + DockNos + "___ShortageReason").val("");
                        $("#StockUpdateList_" + DockNos + "___ShortageRemarks").val("");
                        $("#" + clsShort).hide();                        
                        $("#StockUpdateList_" + DockNos + "___IsShort").parent('span').removeClass("checked");
                        $("#StockUpdateList_" + DockNos + "___IsShort").attr("checked", false);
                    }
                    ArrivalWT = (parseFloat(ArrPkgQty) * parseFloat(ACTUWT)) / parseFloat(PKGSNO);
                    $("#StockUpdateList_" + DockNos + "___ACTUWT").val(parseFloat(roundNumber(ArrivalWT, 0)).toFixed(1));
                });

                $(".clsIsShort").click(function () {
                    var checked = $(this).is(':checked');
                    var ID = $(this).attr("id").replace("StockUpdateList_", "").replace("___IsShort", "");
                    var ArrPkgQtyID = $(this).attr("id").replace("IsShort", "PKGSNO");
                    var BKG_PKGSNO = $(this).attr("id").replace("IsShort", "BKG_PKGSNO");
                    var ArrPkgQtyVal = $("#" + ArrPkgQtyID).val();
                    var BKG_PKGSNO = $("#" + BKG_PKGSNO).val();
                    var clsShort = "clsShort" + ID + parseInt(BKG_PKGSNO);

                    var DockNo = $(this).attr("id").replace("IsShort", "DockNo");
                    var DockNoval = $("#" + DockNo).val();

                    if (checked) {
                        $("#" + clsShort).show();
                    }
                    else {
                        $("#StockUpdateList_" + DockNoval + "___ShortageQty").val(0);
                        $("#StockUpdateList_" + DockNoval + "___ShortageWeight").val(0);
                        $("#StockUpdateList_" + DockNoval + "___ShortageReason").val("");
                        $("#StockUpdateList_" + DockNoval + "___ShortageRemarks").val("");
                        $("#" + clsShort).hide();
                    }
                });

                $(".ClsDamageQty").live('change', function () {
                    console.log($(this).attr("id"))
                    //var ID = $(this).attr("id").replace("StockUpdateList_", "").replace("___IsDamage", "");
                    var ID = $(this).attr("id").replace("StockUpdateList_", "").replace("___DamageQry", "");
                    var BKG_PKGSNO = $("#" + $(this).attr("id")).val();
                    var DockNoval = $("#StockUpdateList_" + ID + "___PKGSNO").val();
                    var PilferageVal = $("#StockUpdateList_" + ID + "___PilferageQty").val();
                    var ACTUWT = $("#StockUpdateList_" + ID + "___ACTUWT").val();
                    var sumQty = (parseInt(BKG_PKGSNO) + parseInt(PilferageVal));
                    var approxWeight = (parseFloat(ACTUWT) / parseInt(DockNoval)) * parseInt(BKG_PKGSNO);
                    
                    if (parseInt(sumQty) > parseInt(DockNoval)) {
                        alert("Please Check Damage Qty ....");
                        var PilferageVal = $("#StockUpdateList_" + ID + "___DamageQry").val(0);
                        $("#StockUpdateList_" + ID + "___DamageWeight").val(0);
                        return false;
                    }
                    $("#StockUpdateList_" + ID + "___DamageWeight").val(parseFloat(approxWeight).toFixed(2));
                });

                $(".ClsShortQty").live('change', function () {
                    console.log($(this).attr("id"))
                    
                    var ID = $(this).attr("id").replace("StockUpdateList_", "").replace("___ShortageQty", "");
                    var BKG_PKGSNO = $("#" + $(this).attr("id")).val();
                    var DockNoval = $("#StockUpdateList_" + ID + "___PKGSNO").val();
                   
                    var ACTUWT = $("#StockUpdateList_" + ID + "___ACTUWT").val();
                    var sumQty = (parseInt(BKG_PKGSNO) + parseInt(PilferageVal));
                    var approxWeight = (parseFloat(ACTUWT) / parseInt(DockNoval)) * parseInt(BKG_PKGSNO);

                    if (parseInt(sumQty) > parseInt(DockNoval)) {
                        alert("Please Check Short Qty ....");
                        var PilferageVal = $("#StockUpdateList_" + ID + "___ShortageQty").val(0);
                        $("#StockUpdateList_" + ID + "___ShortageWeight").val(0);
                        return false;
                    }
                    $("#StockUpdateList_" + ID + "___ShortageWeight").val(parseFloat(approxWeight).toFixed(2));
                });

                $(".ClsPilferageQty").live('change', function () {

                    //var ID = $(this).attr("id").replace("StockUpdateList_", "").replace("___IsPilferage", "");
                    var ID = $(this).attr("id").replace("StockUpdateList_", "").replace("___PilferageQty", "");
                    var BKG_PKGSNO = $("#" + $(this).attr("id")).val();
                    var DockNoval = $("#StockUpdateList_" + ID + "___PKGSNO").val();
                    var PilferageVal = $("#StockUpdateList_" + ID + "___DamageQry").val();
                    var ACTUWT = $("#StockUpdateList_" + ID + "___ACTUWT").val();
                    var sumQty = (parseInt(BKG_PKGSNO) + parseInt(PilferageVal));
                    var approxWeight = (parseFloat(ACTUWT) / parseInt(DockNoval)) * parseInt(BKG_PKGSNO);
                    console.log(parseInt(sumQty) + " > " + parseInt(DockNoval) + "  " + approxWeight)
                    if (parseInt(sumQty) > parseInt(DockNoval)) {
                        alert("Please Check Pilferage Qty ....");
                        var PilferageVal = $("#StockUpdateList_" + ID + "___PilferageQty").val(0);
                        $("#StockUpdateList_" + ID + "___PilferageWeight").val(0);
                        return false;
                    }
                    $("#StockUpdateList_" + ID + "___PilferageWeight").val(parseFloat(approxWeight).toFixed(2));
                });

                $(".clsIsDamage").click(function () {

                    var checked = $(this).is(':checked');
                    var ID = $(this).attr("id").replace("StockUpdateList_", "").replace("___IsDamage", "");
                    var ArrPkgQtyID = $(this).attr("id").replace("IsDamage", "PKGSNO");
                    var BKG_PKGSNO = $(this).attr("id").replace("IsDamage", "BKG_PKGSNO");
                    var ArrPkgQtyVal = $("#" + ArrPkgQtyID).val();
                    var BKG_PKGSNO = $("#" + BKG_PKGSNO).val();
                    var clsDamage = "clsDamage" + ID + parseInt(BKG_PKGSNO);
                    var DockNo = $(this).attr("id").replace("IsDamage", "DockNo");
                    var DockNoval = $("#" + DockNo).val();

                    if (checked) {
                        $("#" + clsDamage).show();
                    }
                    else {
                        $("#StockUpdateList_" + DockNoval + "___DamageQry").val(0);
                        $("#StockUpdateList_" + DockNoval + "___DamageWeight").val(0);
                        $("#StockUpdateList_" + DockNoval + "___DamageReason").val("");
                        $("#StockUpdateList_" + DockNoval + "___DamageRemarks").val("");
                        $("#" + clsDamage).hide();
                    }
                });

                $(".clsIsPilferage").click(function () {
                    var checked = $(this).is(':checked');
                    var ID = $(this).attr("id").replace("StockUpdateList_", "").replace("___IsPilferage", "");
                    var ArrPkgQtyID = $(this).attr("id").replace("IsPilferage", "PKGSNO");
                    var ArrPkgQtyVal = $("#" + ArrPkgQtyID).val();
                    var BKG_PKGSNO = $(this).attr("id").replace("IsPilferage", "BKG_PKGSNO");
                    var BKG_PKGSNO = $("#" + BKG_PKGSNO).val();
                    var clsPilferage = "clsPilferage" + ID + parseInt(BKG_PKGSNO);
                    var DockNo = $(this).attr("id").replace("IsPilferage", "DockNo");
                    var DockNoval = $("#" + DockNo).val();
                    if (checked) {
                        $("#" + clsPilferage).show();
                    }
                    else {
                        $("#StockUpdateList_" + DockNoval + "___PilferageQty").val(0);
                        $("#StockUpdateList_" + DockNoval + "___PilferageWeight").val(0);
                        $("#StockUpdateList_" + DockNoval + "___PilferageReason").val("");
                        $("#StockUpdateList_" + DockNoval + "___PilferageRemarks").val("");
                        $("#" + clsPilferage).hide();
                    }
                });

                //$(".clsIsExcess").click(function () {
                //    var checked = $(this).is(':checked');
                //    var ID = $(this).attr("id").replace("StockUpdateList_", "").replace("___IsExcess", "");
                //    var ArrPkgQtyID = $(this).attr("id").replace("IsExcess", "PKGSNO");
                //    var ArrPkgQtyVal = $("#" + ArrPkgQtyID).val();

                //    var BKG_PKGSNO = $(this).attr("id").replace("IsExcess", "BKG_PKGSNO");
                //    var BKG_PKGSNO = $("#" + BKG_PKGSNO).val();
                //    var clsExcess = "clsExcess" + ID + parseInt(BKG_PKGSNO);

                //    var DockNo = $(this).attr("id").replace("IsExcess", "DockNo");
                //    var DockNoval = $("#" + DockNo).val();
                //    if (checked) {
                //        $("#" + clsExcess).show();
                //    }
                //    else {
                //        $("#StockUpdateList_" + DockNoval + "___ExcessQty").val(0);
                //        $("#StockUpdateList_" + DockNoval + "___ExcessWeight").val(0);
                //        $("#StockUpdateList_" + DockNoval + "___ExcessReason").val("");
                //        $("#StockUpdateList_" + DockNoval + "___ExcessRemarks").val("");
                //        $("#" + clsExcess).hide();
                //    }
                //});

                $(".ClsExcessQty").live('change', function () {

                    var ID = $(this).attr("id").replace("StockUpdateList_", "").replace("___IsExcess", "");
                    var ID1 = $(this).attr("id").replace("StockUpdateList_", "").replace("___ExcessQty", "");
                    var IDPKGSNO = $(this).attr("id").replace("IsExcess", "BKG_PKGSNO");
                    var BKG_PKGSNO = $("#" + IDPKGSNO).val();
                    var DockNoval = $("#StockUpdateList_" + ID1 + "___PKGSNO").val();
                    var ExcessVal = $("#StockUpdateList_" + ID1 + "___ExcessQty").val();
                    //var sumqty = (parseInt(BKG_PKGSNO) + parseInt(ExcessVal));
                    var sumqty = (parseInt(ExcessVal));
                    if (parseInt(sumqty) > parseInt(DockNoval)) {
                        alert("Please Check Excess Qty ....");
                        var ExcessVal = $("#StockUpdateList_" + ID1 + "___ExcessQty").val(0);
                        return false;
                    }
                });

                FormValidate(DomainName);
                Submit(DomainName);
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd MM yyyy",
                    autoclose: true,
                    showSeconds: true,
                    minuteStep: 5,
                    startDate: new Date($("#VSFUM_actarrv_dt").val()),
                    endDate: 'now',
                });
                $('#AC').on('change', function () {
                    var TEXT = $("#AC option:selected").text();
                    var VALUE = $(this).val();
                    $(".ACdropdown").each(function () {
                        $("#" + $(this).attr("id")).select2("data", { value: VALUE, text: TEXT });
                        $("#" + $(this).attr("id")).val(VALUE)
                    });
                });
                $('#WI').on('change', function () {
                    var TEXT = $("#WI option:selected").text();
                    var VALUE = $(this).val();
                    $(".WIdropdown").each(function () {
                        $("#" + $(this).attr("id")).select2("data", { value: VALUE, text: TEXT });
                        $("#" + $(this).attr("id")).val(VALUE)
                    });
                });
                $('#DP').on('change', function () {
                    var TEXT = $("#DP option:selected").text();
                    var VALUE = $(this).val();
                    $(".DPdropdown").each(function () {
                        $("#" + $(this).attr("id")).select2("data", { value: VALUE, text: TEXT });
                        $("#" + $(this).attr("id")).val(VALUE)
                    });
                });
            }
        }
    }();

</script>