﻿@model Fleet.ViewModels.TDSRecolicationViewModel
@using Fleet.Models;
@using Fleet.Classes;
@{
    ViewBag.Title = "BankReModuleResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="loading" style="display: none;">
    <img src="@Url.Content("~/assets/img/loading.gif")" />
</div>

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>&nbsp;TDSReconlication Result
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("AddTDSReconlication", "Operation", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <div class="form-group ">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label col-md-4" style="text-align: left;">
                                <b>Date :</b>
                            </label>
                            <div class="col-md-8" style="margin-top: 4px;">
                                @ViewBag.Date
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label col-md-5" style="text-align: left;">
                                <b>Voucher No :</b>
                            </label>
                            <div class="col-md-8" style="margin-top: 4px;">
                                @ViewBag.VoucherNo
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label col-md-4" style="text-align: left; ">
                                <b>MR No :</b>
                            </label>
                            <div class="col-md-8" style="margin-top: 4px;">
                                @ViewBag.MRNo
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label col-md-5" style="text-align: left;">
                                <b> Customer :</b>
                            </label>
                            <div class="col-md-9" style="margin-top: 4px;">
                                @ViewBag.CustomerNo
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row" id="FuleShlipEntry">
                    <div class="col-md-12">
                        <!-- BEGIN SAMPLE TABLE PORTLET-->
                        <div>
                            <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                                <li><strong>TDS Reconlication List</strong></li>
                            </ul>
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table class="table  table-striped  table-bordered" id="Sample1">

                                        <thead class="flip-content">
                                            <tr>
                                                <th>
                                                    <input type="checkbox" id="chkCheckAll" />
                                                </th>
                                                <th>
                                                    Document No
                                                </th>
                                                <th>
                                                    Document Date
                                                </th>
                                                <th>
                                                    Form16 Received Date
                                                </th>
                                                <th>
                                                    Upload Form16 Received Copy
                                                </th>
                                                <th>
                                                    Party Details
                                                </th>
                                                <th>
                                                    Email Id
                                                </th>
                                                <th>
                                                    Cheque No
                                                </th>
                                                <th>
                                                    Cheque Date
                                                </th>
                                                <th>
                                                    Total Amount
                                                </th>
                                                <th>
                                                    TDS Amount
                                                </th>
                                                <th>
                                                    TDS Rate
                                                </th>
                                                <th>
                                                    PAN No
                                                </th>
                                                <th>
                                                    Tds Account Details
                                                </th>
                                                <th>
                                                    Entry By
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.ListAccountTran)
                                        {
                                            Html.RenderPartial("_Partial_TDSReconlication", item);
                                        }

                                        </tbody>

                                    </table>
                                </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <a class="btn btn-sm default controls" href="@Url.Action("TripOpen", "Fleet")"> <i class="fa fa-refresh"> </i>&nbsp;Reset</a>
                    <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                </div>
            </div>
        }
    </div>
</div>


<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var handleSelect2 = function () {
            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });
        }

        var HandleDatetimePicker = function () {

              if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    startDate: new Date(),
                    autoclose: true
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
            $(".form_meridian_datetime").datetimepicker({
                isRTL: App.isRTL(),
                format: "dd MM yyyy HH:ii P",
                showMeridian: true,
                autoclose: true,
                startDate: new Date('@System.DateTime.Now'),
                pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                todayBtn: true
            });
        }

        var initTable1 = function (DomainName) {

            $('#Sample1').dataTable({
                "aLengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 20,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [0] },
                { "bSearchable": false, "aTargets": [0] }
                ]
            });
            jQuery('#Sample1_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
            jQuery('#Sample1_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
            jQuery('#Sample1_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                 initTable1(DomainName);
                handleSelect2();
                HandleDatetimePicker();
                $(".chkCheck").live('click', function () {
                    var ID = $(this).attr('id').replace('BankCreaditList_', '').replace('__Chk', '')
                    if (this.checked) {
                        $("#BankCreaditList_" + ID + "__Chqcleardate").attr('disabled', false)
                        $("#BankCreaditList_" + ID + "__comment").attr('disabled', false)
                    }
                    else {
                        $("#BankCreaditList_" + ID + "__Chqcleardate").attr('disabled', true)
                        $("#BankCreaditList_" + ID + "__comment").attr('disabled', true)
                    }
                });
                $(".chkCheck1").live('click', function () {
                    var ID = $(this).attr('id').replace('BankCreaditList_', '').replace('__Chk', '')
                    if (this.checked) {
                        $("#BankCreaditList_" + ID + "__Chqcleardate").attr('disabled', false)
                        $("#BankCreaditList_" + ID + "__comment").attr('disabled', false)
                    }
                    else {
                        $("#BankCreaditList_" + ID + "__Chqcleardate").attr('disabled', true)
                        $("#BankCreaditList_" + ID + "__comment").attr('disabled', true)
                    }
                });

                $(document).on('change', "#chkCheckAll", function () {
                    if (this.checked) {
                        $(".chkCheck").parent('span').addClass('checked');
                        $(".chkU").attr('disabled', false)
                    }
                    else {
                        $(".chkCheck").parent('span').removeClass('checked');
                        $(".chkU").attr('disabled', true)
                    }
                })
                $(document).on('change', "#chkCheckAll1", function () {
                    if (this.checked) {
                        $(".chkCheck").parent('span').addClass('checked');
                        $(".chkU").attr('disabled', false)
                    }
                    else {
                        $(".chkCheck").parent('span').removeClass('checked');
                        $(".chkU").attr('disabled', true)
                    }
                })
                $("#btnSubmit").click(function () {
                    App.blockUI({ boxed: true });
                    $("#submit_form").submit();
                });


            }
        };
    }();

</script>


