﻿@model Fleet.ViewModels.THCDeparturesViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    ViewBag.Title = ViewBag.THCCalledAs + " Departure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("THCDepartures", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>Select @ViewBag.Title Criteria
                    </div>
                </div>
                <div class="portlet-body" id="divCrieteria">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Select  Date :
                                    </label>
                                    <div class="col-md-6">
                                        <div id="reportrange" class="btn default">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        THC No(s).:
                                    </label>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(c => c.THCDepModel.thcnoumber, new { placeholder = "THC No.", @class = "form-control" })
                                    </div>
                                    <p class="text-primary col-md-4">[Seperated by <b><i>Comma</i></b> if multiple]</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        MF No(s).:
                                    </label>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(c => c.THCDepModel.MFNo, new { placeholder = "MF No.", @class = "form-control" })
                                    </div>
                                    <p class="text-primary col-md-4">[Seperated by <b><i>Comma</i></b> if multiple]</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Docket No(s).:
                                    </label>
                                    <div class="col-md-5">
                                        @Html.HiddenFor(c => c.THCDepModel.FromDate)
                                        @Html.HiddenFor(c => c.THCDepModel.ToDate)
                                        @Html.TextBoxFor(c => c.THCDepModel.DockNo, new { placeholder = "Docket No.", @class = "form-control" })
                                    </div>
                                    <p class="text-primary col-md-4">[Seperated by <b><i>Comma</i></b> if multiple]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    if (Model.THCDepList.Count > 0)
    {
        <div class="row" id="divList">
            <div class="col-md-12">
                <div class="portlet box @ViewBag.TableBoxColor">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i>@ViewBag.Title List
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="form-body" id="tblLoadingList">

                                <table class="table table-striped table-bordered table-hover table-full-width center" id="Sample1">
                                    <thead class="flip-content">
                                        <tr>
                                            <th class="center">
                                                THC No.
                                            </th>
                                            <th class="center">
                                                THC Branch
                                            </th>
                                            <th class="center">
                                                THC Date
                                            </th>
                                            <th class="center">
                                                THC Arrival Date
                                            </th>
                                            <th class="center">
                                                THC ETD
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="Advice">
                                        @foreach (var item in Model.THCDepList)
                                        {
                                            Html.RenderPartial("_ThcDepartureList", item);
                                        }
                                    </tbody>
                                </table>

                            @*else
                                {
                                    <table>
                                        <tr>
                                            <td>
                                                <p style="font-size:18px; font-weight:600;">No Data Found..............</p>
                                            </td>
                                        </tr>
                                    </table>
                                }*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-search"></i>&nbsp;Get @ViewBag.Title List</button>
            <button type="button" id="btnPrepareManifest" class="btn btn-sm green controls" style="display:none"><i class="fa fa-check"></i>&nbsp;Prepare Loading Sheet</button>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();

                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }
            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                //maxDate: '12/31/2014',
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#THCDepModel_FromDate').val(start.format('MMMM D, YYYY'));
                     $('#THCDepModel_ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#THCDepModel_FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#THCDepModel_ToDate').val(moment().format('MMMM D, YYYY'));
        }

        var Events = function (DomainName) {
            handleDatePicker();

            $('#btnSubmit').click(function () {
                //$('#divList').removeAttr("style").attr("style", "display:none");
                App.blockUI({ boxed: true });
            });
            $('.btnNumber').click(function () {
                App.blockUI({ boxed: true });
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                handleDateRangePickers();
                Events(DomainName);
            }
        }
    }();
</script>