﻿@model Fleet.ViewModels.THCDeparturesViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = ViewBag.THCCalledAs + " Departure Submit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // string CurrDate = System.DateTime.Now.ToString("dd MMM yyyy HH:MM");
    DateTime EntDate1 = System.DateTime.Now;
    string EntDate = EntDate1.ToString();
}

@using (Html.BeginForm("THCDepartureSubmit", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        THC No.
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.THCDepModel.THCNO, new { @class = "form-control", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">THC Date </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.THCDepModel.THCDT, String.Format("{0:dd MMM yyyy}", Model.THCDepModel.THCDT), new { @class = "form-control", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Route</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.THCDepModel.Route, new { @class = "form-control", @readonly = true })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Vehicle No.
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.THCDepModel.Vehno, new { @class = "form-control", @readonly = true, @placeholder = "Vehicle No." })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4"> ATA </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.THCDepModel.ATA, String.Format("{0:dd MMM yyyy HH:MM}", Model.THCDepModel.ATA) + " At " + Model.THCDepModel.SourceHB, new { @class = "form-control", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">ETD </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.THCDepModel.ETD, String.Format("{0:dd MMM yyyy HH:MM}", Model.THCDepModel.ETD) + " To " + Model.THCDepModel.ToBH_Code, new { @class = "form-control", @readonly = true })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Out VFS (%)
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.THCDepModel.VFS, new { @class = "form-control required required2 ", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @max = 100 })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Seal No. </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.THCDepModel.sealno_in, new { @class = "form-control clsSealNo required required2", @minlength = 3, @placeholder = "Seal No." })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">ATD </label>
                                    <div class="col-md-4">
                                        <div class="input-group date form_datetime form_advance_datetime " data-date-format="dd MMM yyyy" data-date-start-date="+0d">
                                            @Html.TextBox("THCDepModel.ATD", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = " form-control date-picker required  ", @data_enddate = @System.DateTime.Now.ToString("dd MMM yyyy"), @readonly = true })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>

                                    </div>
                                    <div class="col-md-3 input-group">
                                        @Html.TextBox("THCDepModel.deptime_flight", "", new { @class = " form-control timepicker-default required", @readonly = true })
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button"><i class="fa fa-clock-o"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Emp. Code
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.THCDepModel.EmpCode, new { @class = "form-control", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Outgoing Remarks</label>
                                    <div class="col-md-7">
                                        @Html.TextAreaFor(c => c.THCDepModel.OutRemarks, new { @class = "form-control required", @placeholder = "Outgoing Remarks" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="divList">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>MFs available for @ViewBag.THCCalledAs Departure
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body" id="tblLoadingList">
                        @if (Model.THCDepList.Count > 0)
                        {
                            <table class="table table-striped table-bordered table-hover table-full-width center" id="Sample1">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="center">
                                            #
                                        </th>
                                        <th class="center">
                                            Sys. MF No.
                                        </th>
                                        <th class="center">
                                            Manual MF No.
                                        </th>
                                        <th class="center">
                                            MF Br.
                                        </th>
                                        <th class="center">
                                            MF Date
                                        </th>
                                        <th class="center">
                                            Next Stop
                                        </th>
                                        <th class="center">
                                            Total Dkts.
                                        </th>
                                        <th class="center">
                                            Pkgs L/B
                                        </th>
                                        <th class="center">
                                            Wt. L/B
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="Advice">
                                    @foreach (var item in Model.THCDepList)
                                    {
                                        Html.RenderPartial("_THCDepartureSubmitList", item);
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <h3><b>No Records Found..............</b></h3>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <button type="submit" id="btnThcDepatur" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            $.validator.addMethod('checkSealNo', function (value, element) {

                var SealNo = $("#THCDepModel_sealno_in").val();
                

                //var StrURL = DomainName + '/Master/CheckDuplicateWarehouse?loccode=' + loccode + '&Name=' + Name.toUpperCase();
                ////alert("hello " + StrURL);
                //var result1 = $.ajax({
                //    async: false,
                //    type: 'POST',
                //    contentType: 'application/json; charset=utf-8',
                //    url: StrURL,
                //    dataType: 'json',
                //    data: {},
                //});

                //var d1 = JSON.parse(result1.responseText);
                //if (d1.Count == "1") {
                //    return false;
                //}
                //else {
                //    return true;
                //}

                    //alert(SealNo + "     " + '@ViewBag.BaseLocationName');
                if (SealNo == "OPEN BODY") {
                    return true;
                }
                else {
                    return false;
                }


                // return true;

            }, 'Seal No does not exist @ViewBag.BaseLocationName. Enter "Open Body" or valid Seal No.');

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                rules: {
                    //account dateFuture
                    "THCDepModel.sealno_in": {
                        checkSealNo :  true
                    }
                },
                messages: {
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.forms["form_sample"].submit();
                }
            });
        }

        var Events = function (DomainName) {
            $(document).on('click', '#chkCheckAll', function () {
                $('.chkCheck').prop('checked', $(this).prop('checked'));
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                $('#THCDepModel_EmpCode').val('@User.Identity.Name.ToUpper()');
                $('#THCDepModel_OutRemarks').val('Okay');
                Formvalidate(DomainName);

                $('.timepicker-default').timepicker({
                    autoclose: true,
                    minuteStep: 1,
                    defaultValue: "@System.DateTime.Now.ToString("HH:MM")"
                });

                $('.date-picker').datepicker({
                    isRTL: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    startDate: new Date('@Model.THCDepModel.ATA'),
                    endDate: new Date("@EntDate"),
                    todayBtn: true
                });

                $('.chkCheck').val(false);
                $('.chkCheck').live('change', function () {

                    var checked = $(this).is(":checked");
                    if (checked == true) {
                        $('.chkCheck').val(true);
                        //$('#btnThcDepatur').show();
                    }
                    else {
                        $('.chkCheck').val(false);
                        //$('#btnThcDepatur').hide();
                    }
                });
                $("#btnThcDepatur").click(function () {
                    if ($("#form_sample").valid()) {
                        App.blockUI({ boxed: true });
                        return true
                    }
                    else {
                        return false;

                    }
                });
                Events(DomainName);               
            }
        }
    }();
</script>
