﻿@model Fleet.ViewModels.THCDeparturesViewModel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.frmName = "PDC";

    if (ViewBag.Type == "T")
    {
        ViewBag.frmName = "THC";

    }

    ViewBag.Title = ViewBag.frmName + " Financial Edit Cretria";
}

<div class="row">
    <div class="col-md-10">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("THCCriteriaSubmit", "Operation", FormMethod.Get, new { @id = "submit_form", @class = "form-horizontal" }))
                {

                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            You have some form errors. Please check below.
                        </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Your form validation is successful!
                        </div>


                        @Html.HiddenFor(c => c.THCDepModel.FromDate)
                        @Html.HiddenFor(c => c.THCDepModel.ToDate)
                        @Html.HiddenFor(c => c.THCDepModel.Type)
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @ViewBag.frmName Date Range:
                            </label>
                            <div class="col-md-4">
                                <div id="reportrange" class="btn default col-md-12">
                                    <i class="fa fa-calendar"></i>
                                    &nbsp;
                                    <span></span>
                                    <b class="fa fa-angle-down"></b>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">

                                Enter @ViewBag.frmName No.:
                            </label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(c => c.THCDepModel.THCNO, new { placeholder = "Enter " + ViewBag.frmName + " No.", @class = "span6 m-wrap form-control" })
                            </div>
                        </div>

                        <div class="form-actions fluid" id="sub">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="button" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-search"></i>&nbsp;Search</button>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row" id="THCDetail" style="display:none">
                            <div class="col-md-12">
                                <!-- BEGIN SAMPLE TABLE PORTLET-->
                                <div class="portlet">
                                    <h4>@ViewBag.frmName Financial Edit Details</h4>
                                    <div class="portlet-body">
                                        <table id="sample_1" class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        SR.NO.
                                                    </th>
                                                    <th>
                                                        @ViewBag.frmName No.
                                                    </th>
                                                    <th>
                                                        Booking Date
                                                    </th>
                                                    @if (Model.THCDepModel.Type == "T")
                                                    {
                                                        <th>
                                                            Location
                                                        </th>
                                                        <th>
                                                            Last Location
                                                        </th>
                                                        <th>
                                                            Departure Date & Time
                                                        </th>
                                                    }
                                                    <th>
                                                        Party
                                                    </th>
                                                    <th>
                                                        Edit
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody id="tblTHC">
                                                @{
                                                Html.RenderPartial("_Partial_THCEdit", Model.THCDepList);
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName, formName) {
            var form1 = $('#' + formName);
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    for (var i = 0; i < validator.errorList.length; i++) {
                        console.log(validator.errorList[i]);
                    }

                    //validator.errorMap is an object mapping input names -> error messages
                    for (var i in validator.errorMap) {
                        console.log(i, ":", validator.errorMap[i]);
                    }
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form1) {
                    success1.show();
                    error1.hide();
                }

            });
        }
        var handleSelect2 = function () {
            $('.select2').select2({
                placeholder: "Select an option",
            });
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }

            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                //maxDate: '12/31/2014',
                //dateLimit: {
                //    days: 60
                //},
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#THCDepModel_FromDate').val(start.format('MMMM D, YYYY'));
                     $('#THCDepModel_ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#THCDepModel_FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#THCDepModel_ToDate').val(moment().format('MMMM D, YYYY'));
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                handleSelect2();
                handleDateRangePickers();
                Formvalidate(DomainName, "submit_form")
                $(".rediect").live("click", function () {
                    App.blockUI({ boxed: true });
                });
                $("#btnSubmit").click(function () {
                    if (!$("#submit_form").valid()) {
                        return false
                    }
                    else {
                        App.blockUI({ boxed: true });
                        $.post($("#submit_form").attr('action'), $("#submit_form").serialize(), function (data, status) {
                            $("#THCDetail").show(1000);
                            $("#tblTHC").html(data);
                            $("#sub").hide();
                            App.unblockUI();
                        });
                    }
                });
            }
        };
    }();

</script>