﻿@model Fleet.ViewModels.THCCriteariaSelectionViewModel
@{
    ViewBag.Title = "THCExceptionList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>&nbsp; Following MFs will get unloaded here
                </div>
            </div>
            <div class="portlet-body flip-scroll">

                @using (Html.BeginForm("GetExceptionExeptionList", "Operation", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal", @enctype = "multipart/form-data" }))
                {
                    <div class="form-body">

                        <table class="table table-striped table-bordered table-hover table-full-width" id="Sample1">

                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        Sys. MF #
                                    </th>
                                    <th class="center">
                                        Manual MF #
                                    </th>
                                    <th class="center">
                                        MF Br.
                                    </th>
                                    <th class="center">
                                        MF Date
                                    </th>
                                    <th class="center">
                                        Next Stop
                                    </th>
                                    <th class="center">
                                        Total Dkts.
                                    </th>
                                    <th class="center">
                                        Pkgs
                                    </th>
                                    <th class="center">
                                        Wt.
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="Advice">
                                @foreach (var item in Model.ListTHCSelection)
                                {
                                    Html.RenderPartial("_THCExceptionList", item);
                                }
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" id="btnSubmit1" class="btn btn-sm green controls ClsbtnSave">Execute Exception&nbsp;<i class="fa fa-check"></i></button>
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(c => c.THCSelection.selectTHCNO)
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {
                },
                messages: {
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.attr("name") == "gender") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_gender_error");
                    } else if (element.attr("name") == "payment[]") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_payment_error");
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },
                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    $("#btnSubmit1").hide();
                    form.submit();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                // $('#btnSubmit1').hide();
                $('#btnSubmit1').click(function () {
                    if ($("#submit_form").valid()) {
                        App.blockUI({ boxed: true });
                        document.forms["submit_form"].submit();
                    }
                });
                var totchk = 0;
            }
        }
    }();
</script>