﻿@model Fleet.ViewModels.THCViewModel
@{
    if (Model.THCSUMRY.Type.ToUpper() == "T")
    {
        ViewBag.Name = ViewBag.THCCalledAs;
    }
    else if (Model.THCSUMRY.Type.ToUpper() == "P")
    {
        ViewBag.Name = "PDC";
    }
    ViewBag.Title =ViewBag.Name + " Edit Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    
}

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>@ViewBag.Title
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @ViewBag.Name No.
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@Model.THCSUMRY.THCNO</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                <a href="@Url.Content("~/Operation/THCEditCretria?Type=" + Model.THCSUMRY.Type.ToUpper())">Click here to Edit more @ViewBag.Name.</a>
            </span>
        </div>
    </div>
</div>

