﻿@model Fleet.ViewModels.THCViewModel
@{
    ViewBag.Name = "PDC"; ViewBag.Title = "Update PDC Financial Details";
    if (Model.THCSUMRY.Type == "T")
    {
        ViewBag.Name = "THC";
        ViewBag.Title = "Update THC Financial Details";
    }


    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="loading" style="display: none;">
    <img src="@Url.Content("~/assets/img/loading.gif")" />
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body form">
                @using (Html.BeginForm("THCEditUpdate", "Operation", FormMethod.Get, new { @id = "submit_form", @class = "form-horizontal" }))
                {
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="portlet-body">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-3">
                                            <strong> @ViewBag.Name No. :</strong>
                                        </div>
                                        <div class="col-md-4">
                                            <strong>
                                                @Model.THCSUMRY.THCNO

                                            </strong>
                                            @Html.HiddenFor(m => m.THCSUMRY.THCNO)
                                            @Html.HiddenFor(m => m.THCSUMRY.Type)
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-4">
                                            <strong>Contract Type :</strong>
                                        </div>
                                        <div class="col-md-3">
                                            <strong>
                                                @Model.THCSUMRY.CONTTYP_Name
                                            </strong>                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet">
                                    <h4>Payment Details</h4>
                                    <div class="portlet-body">
                                        <table id="sample_1" class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr style="background-color: #D4E0F5;">
                                                    <th>
                                                        Contract Amt.
                                                    </th>
                                                    @if (Model.THCSUMRY.Type == "T")
                                                    {
                                                        <th>
                                                            Standard Cont. Amt.
                                                        </th>
                                                    }
                                                    <th>
                                                        Advance Amount
                                                    </th>
                                                    <th>
                                                        Advance Amount Paid At
                                                    </th>
                                                    <th>
                                                        Balance Amount Paid At
                                                    </th>
                                                </tr>

                                            </thead>
                                            <tr>
                                                <td>
                                                    @Html.TextBoxFor(c => c.THCSUMRY.pcamt, new { placeholder = "Enter Contract Amt.", @class = "span6 m-wrap form-control" })
                                                    @Html.HiddenFor(c => c.THCSUMRY.Hdnpcamt)
                                                </td>
                                                @if (Model.THCSUMRY.Type == "T")
                                                {
                                                    <td>
                                                        @Html.DisplayFor(c => c.THCSUMRY.ContractAmt)

                                                    </td>
                                                }
                                                <td>
                                                    @Html.TextBoxFor(c => c.THCSUMRY.ADVAMT, new { placeholder = "Enter Advance Amount", @class = "span6 m-wrap form-control" })
                                                    @Html.HiddenFor(c => c.THCSUMRY.HdnADVAMT)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(c => c.THCSUMRY.fincmplbr, new { placeholder = "Enter Advance Amount Paid At", @class = "span6 m-wrap form-control" })
                                                    @Html.HiddenFor(c => c.THCSUMRY.Hdnfincmplbr)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(c => c.THCSUMRY.balamtbrcd, new { placeholder = "Enter Balance Amount Paid At", @class = "span6 m-wrap form-control" })
                                                    @Html.HiddenFor(c => c.THCSUMRY.Hdnbalamtbrcd)
                                                </td>
                                            </tr>

                                        </table>
                                        <table id="sample_1" class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr style="background-color: #D4E0F5;">
                                                    @foreach (var item in Model.ListSUMARY)
                                                    {
                                                        <th>
                                                            @item.chargename
                                                        </th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>
                                                    @foreach (var item in Model.ListTHCChargeCode)
                                                    {
                                                        Html.RenderPartial("_Partial_THCEdit_Detail", item);
                                                    }
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                <a href="@Url.Action("THCEditCretria", "Operation", new {Type=Model.THCSUMRY.Type })" class="btn btn-sm default controls"><i class="fa fa-arrow-left"> </i>&nbsp;Back To Cretria</a>
                                <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName, formName) {
            var form1 = $('#' + formName);
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    for (var i = 0; i < validator.errorList.length; i++) {
                        console.log(validator.errorList[i]);
                    }

                    //validator.errorMap is an object mapping input names -> error messages
                    for (var i in validator.errorMap) {
                        console.log(i, ":", validator.errorMap[i]);
                    }
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form1) {
                    success1.show();
                    error1.hide();
                }

            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName, "submit_form")
                $("#btnSubmit").click(function () {
                    if (!$("#submit_form").valid()) {
                        return false
                    }
                    else {
                        App.blockUI({ boxed: true });

                        document.forms[0].submit()
                    }
                });
            }
        };
    }();

</script>

