﻿@model Fleet.ViewModels.UpdateDRSViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "Update DRS Header Information ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();

    DateTime StartDate1 = System.DateTime.Now.AddDays(-1);
    DateTime EntDate1 = System.DateTime.Now;

    decimal StartKM = Model.DRSSummary.Start_KM;

    string StartDate = StartDate1.ToString();
    string EntDate = EntDate1.ToString();
    if (Model.DRSSummary.PDC_Dt == System.DateTime.Now.ToString("dd/MM/yyyy"))
    {
        StartDate = System.DateTime.Now.ToString();
    }

    Model.DRSSummary.hdnRate = Model.DRSSummary.Rate;
    List<Webx_Master_General> GeneralMasterList = new List<Webx_Master_General>();
    GeneralMasterList = MS.GetGeneralMasterObject().Where(c => c.StatusCode.ToUpper() == "Y").ToList();
    List<SelectListItem> BlankList = new List<SelectListItem>();
    //List<Webx_Master_General> LoadingBy = MS.GetGeneralMasterObject().Where(c => c.CodeType == "LOADBY" && c.StatusCode == "Y").OrderBy(c => c.CodeDesc).ToList();
    //List<Webx_Master_General> RateList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "HANDCHRG" && c.StatusCode == "Y").OrderBy(c => c.CodeId).ToList();

}
@using (Html.BeginForm("AddUpdateDRS", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">DRS No : </label>
                                    <div class="col-md-8 mrgtop">
                                        <span class="text-primary col-md-3"><b> @Html.DisplayFor(c => c.DRSSummary.pdcno)</b> </span>
                                        @Html.Hidden("TotalActWt")
                                        @Html.Hidden("TotalPKG")
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Delivered By :</label>
                                    <div class="col-md-8 mrgtop text-primary">
                                        <b> @Html.DisplayFor(c => c.DRSSummary.deliveryBy) - @Html.DisplayFor(c => c.DRSSummary.BA_Vendor_Code)</b>
                                        @Html.HiddenFor(c => c.DRSSummary.pdcno)
                                        @Html.HiddenFor(m => m.DRSSummary.LoadingBy)
                                        @Html.HiddenFor(m => m.DRSSummary.RateType)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">DRS Date :</label>
                                    <div class="col-md-8 mrgtop">
                                        <p class="text-primary col-md-3"><b> @Html.DisplayFor(c => c.DRSSummary.PDC_Dt)</b></p>
                                        @Html.HiddenFor(c => c.DRSSummary.PDC_Dt)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    <label class="control-label col-md-4">Start/Close KM :</label>
                                    <div class="col-md-3 mrgtop">
                                        @Html.DisplayFor(c => c.DRSSummary.Start_KM) &nbsp;/&nbsp;
                                        @Html.HiddenFor(c => c.DRSSummary.Start_KM)
                                    </div>
                                    <div class="col-md-4 form-group">
                                        @Html.TextBoxFor(c => c.DRSSummary.CloseKM, new { @class = "form-control required2", @max = "900000", @number = true, @placeholder = "Start/Close KM" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Driver Name :</label>
                                    <div class="col-md-8 mrgtop">
                                        <span class="text-primary">@Html.DisplayFor(c => c.DRSSummary.DriverName) </span> &nbsp;<b>of Vehicle </b>&nbsp;@Html.DisplayFor(c => c.DRSSummary.VEHNO) &nbsp;<b>Carrying</b> &nbsp;@Html.DisplayFor(c => c.DRSSummary.Total_Dockets_In_DRS) &nbsp;<b>Consignment(s)</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<h4>Unloading Charge</h4>*@
                        <hr />
                        @*<div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Unloader By:
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(c => c.DRSSummary.LoadingBy, new SelectList(GeneralMasterList.Where(c => c.CodeType == "LOADBY").OrderBy(c => c.CodeDesc).ToList(), "CodeId", "CodeDesc"), "", new { @class = "form-control required2 select2", @disabled = "true", placeholder = "Select UnLoad By" })
                                        </div>
                                    </div>
                                </div>

                                @if (Model.DRSSummary.LoadingBy == "A" || Model.DRSSummary.LoadingBy == "XX5" || Model.DRSSummary.LoadingBy == "XX8")
                                {
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Vendor :</label>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(m => m.DRSSummary.VendorCode, new SelectList(BlankList, "Value", "Text"), "", new { @class = "form-control required2 required select2 ", @placeholder = "Select Vendor" })
                                                @Html.HiddenFor(m => m.DRSSummary.IsMonthly)
                                                @Html.HiddenFor(m => m.DRSSummary.hdnRate)
                                                <label id="lblrate" style="color: #b94a48; display: none">Rate Is Not Avilable In Master..!!!</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-5" id="lblRate">Rate :</label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(m => m.DRSSummary.Rate, new { placeholder = "Rate", @class = "required2 form-control", @readonly = true })
                                                @Html.TextBoxFor(m => m.DRSSummary.MaxLimit, new { placeholder = "Rate", @class = "required2 form-control", @readonly = true, @style = "display:none" })
                                                <label id="lblrate" style="color: #b94a48; display: none">Rate Is Not Avilable In Master..!!!</label>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (Model.DRSSummary.LoadingBy == "M")
                                {
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Vendor Code :</label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(m => m.DRSSummary.VendorCode, new { placeholder = "Select Locations", @class = "required2 form-control required" })
                                                @Html.TextBoxFor(m => m.DRSSummary.VendorName, new { placeholder = "Enter Market Vendor", @class = "required2 required form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Rate :</label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(m => m.DRSSummary.Rate, new { @class = "required2 required  form-control", @Placeholder = "Enter Rate", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @max = Model.DRSSummary.Rate })
                                                <label id="lblMaxRate" style="color: #b94a48; display: none; "></label>
                                                @Html.HiddenFor(m => m.DRSSummary.MaxLimit)
                                                @Html.HiddenFor(m => m.DRSSummary.hdnRate)
                                                <label id="lblrateeror" style="color:#b94a48; display: none">Rate Is Not Avialble In Master</label>
                                            </div>
                                        </div>
                                    </div>
                                }

                                @if (Model.DRSSummary.LoadingBy == "M" || Model.DRSSummary.LoadingBy == "A" || Model.DRSSummary.LoadingBy == "XX5" || Model.DRSSummary.LoadingBy == "XX8")
                                {
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">
                                                UnLoading Charge :
                                            </label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(c => c.LoadingCharge, new { @class = "form-control  required2", placeholder = "Total Loading Charge", @readonly = "true", @max = Model.DRSSummary.MaxLimit })
                                                <label style="color:red;display:none" id="loadrate">Please Enter Rate or Set Labour Contract !!!!</label>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>*@
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3" style="display:none">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Rate Type :
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(c => c.DRSSummary.RateType, new SelectList(GeneralMasterList.Where(c => c.CodeType == "HANDCHRG").ToList(), "CodeId", "CodeDesc"), "", new { @class = "form-control required2 select2", @disabled = "true", placeholder = "Select Rate Type" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (Model.DRSSummary.LoadingBy == "M" && (@ViewBag.BaseLocationCode == "BOMN" || @ViewBag.BaseLocationCode == "BWD" || @ViewBag.BaseLocationCode == "PNQ" || @ViewBag.BaseLocationCode == "KLP" || @ViewBag.BaseLocationCode == "NSK" || @ViewBag.BaseLocationCode == "NHR"))
                        {
                            <h4>Mathadi Applicable Charges</h4>
                            <hr />

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="col-md-12 chkactive">
                                                @Html.CheckBoxFor(m => m.DRSSummary.IsMathadi)Is Mathadi Applicable?
                                            </div>
                                        </div>
                                    </div>

                                    <div id="Mathadicheck" style="display:none">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label col-md-5">Mathadi Slip no.</label>
                                                <div class="col-md-7">
                                                    @Html.TextBoxFor(m => m.DRSSummary.MathadiSlipNo, new { placeholder = "Mathadi Slip No.", @class = "required2   form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label col-md-5">Mathadi Date</label>
                                                <div class="col-md-7">
                                                    <div class="input-group date ftdate-picker">
                                                        @Html.TextBoxFor(m => m.DRSSummary.MathadiDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = "form-control  required2 clsVehicle", @placeholder = @ViewBag.DefaultJqueryDateFormat, @readonly = true })
                                                        <span class="input-group-btn">
                                                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label col-md-5">Mathadi Slip Amt</label>
                                                <div class="col-md-7">
                                                    @Html.TextBoxFor(m => m.DRSSummary.MathadiAmt, new { placeholder = "Mathadi Slip Amount", @class = "required2   form-control", @number = true })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5 id="lblMathadiError" style="color:red;display:none;">No Rate Available in Master for Mathadi. Please Update Master or Contact Administrator.</h5>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    if (Model.DRSDeliveryList.ToList().Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box @ViewBag.TableBoxColor">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i>DRS Delivery List
                        </div>
                    </div>
                    <div class="portlet-body ">
                        <div class="form-body">
                            <div class="portlet-body">
                                <div id="tblData">
                                    @{
        int SrNo1 = 0;
                                    }

                                    <table class="table table-striped table-bordered table-hover" style="overflow-x: scroll">
                                        <thead>
                                            <tr>
                                                <th class="center">
                                                    Sr.No
                                                </th>
                                                <th class="center">
                                                    Dock. No
                                                </th>
                                                <th class="center">
                                                    Dock. Date
                                                </th>
                                                <th class="center">
                                                    DRS No
                                                </th>
                                                <th class="center">
                                                    DRS Date
                                                </th>
                                                <th class="center">
                                                    Pkg/Act
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.DRSDeliveryList)
                                            {
                                                SrNo1++;
                                                item.AutoNo = SrNo1;
                                                Html.RenderPartial("_UpdateDRSList_Delivery", item);
                                            }
                                            @Html.Hidden("TotalDelAct")
                                            @Html.Hidden("TotalDelPkg")
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>DRS List
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="portlet-body">
                            <div id="tblData">
                                @{
    int SrNo = 0;
                                }
                                @if (Model.UpdateDRSLits.ToList().Count > 0)
                                {
                                    <table class="table table-striped table-bordered table-hover" id="UpdateDRSList" style="overflow-x: scroll">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th class="center">
                                                    Sr.No
                                                </th>
                                                <th class="center">
                                                    CNote <br />Bkg. Dt
                                                </th>
                                                <th class="center">
                                                    Bkg-Dely<br /> Dest.Loc Pay Basis
                                                </th>
                                                <th class="center">
                                                    Cnor/Cnee
                                                </th>
                                                <th class="center">
                                                    PkgsPending/<br />Arrived/<br />Booked
                                                </th>
                                                <th class="center">
                                                    Committed Dely. Dt
                                                </th>
                                                <th class="center">
                                                    Pkgs.Delivered
                                                </th>
                                                <th class="center">
                                                    Remarks
                                                </th>
                                                @*<th class="col-md-1">Rate Type</th>*@
                                                <th>
                                                    Pkg/Act
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.UpdateDRSLits)
                                            {
                                                item.ratetype = Model.DRSSummary.RateType;
                                                SrNo++;
                                                item.AutoNo = SrNo;
                                                Html.RenderPartial("_UpdateDRSList", item);
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <table>
                                        <tr>
                                            <td>
                                                <p class="Norecord"> No Record Found...................</p>
                                            </td>
                                        </tr>
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <a class="btn btn-sm default controls" href="@Url.Content("~/Operation/DRSUpdate")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To List</a>
            <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Update DRS</button>
        </div>
    </div>
}
<style>
    #pkgpending {
        transition: color 200ms ease;
    }

        #pkgpending.blink {
            color: transparent;
        }

    .mrgtop {
        margin-top: 5px;
    }

    .fontsize {
        font-size: 28px;
    }
</style>
<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            jQuery.validator.addMethod("FutureDateValidate", function (value, element) {

                var DKTDate = value;

                var date = $('#datepicker').datepicker('getDate');
                var now = new Date();
                var myDate = new Date(ChangeInJQDate(DKTDate));
                console.log("myDate " + new Date(myDateFormatter(DKTDate)) + " now " + now + " value  " + new Date(value));
                return this.optional(element) || new Date(myDateFormatter(DKTDate)) < now;

                // else alert('Das passt nicht!' + mD +  '   ' + nowdate);

            });

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: true, // do not focus the last invalid input
                rules: {
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                }
            });
        }

        var calcRate = function () {
            var Charge = 0, HamaliChrge = 0, TotalCharge = 0, Finaltotalchrge = 0, Rate = 0; MathadiCharge = 0;
            $(".clsGCCheck").each(function () {
                var Checked = $(this).is(":checked");
                var ID = $(this).attr("id").replace("__IsEnabled", "").replace("DRSDocketsUpdateList_", "");

                if (Checked) {
                    //alert("asdasd " + Checked + "  " + ID +" "  + $("#DRSDocketsUpdateList_" + ID + "__ratetype").val())
                    if ($("#DRSDocketsUpdateList_" + ID + "__ratetype").val() == "1") {
                        Charge = parseFloat($("#DRSDocketsUpdateList_" + ID + "__ActQty").val()) + parseFloat(($("#TotalDelAct").val() == null ? 0 : $("#TotalDelAct").val()));
                        //alert(($("#TotalDelAct").val() == null ? 0 : $("#TotalDelAct").val()) + "  " + Charge)

                        Rate = $("#DRSDocketsUpdateList_" + ID + "__NewRate").val();
                        TotalCharge = parseFloat(Charge) * parseFloat(Rate);
                        HamaliChrge = parseFloat(HamaliChrge) + parseFloat(TotalCharge)
                    }
                    if ($("#DRSDocketsUpdateList_" + ID + "__ratetype").val() == "3") {

                        Charge = parseFloat($("#DRSDocketsUpdateList_" + ID + "__PkgQty").val()) + parseFloat(($("#TotalDelPkg").val() == null ? 0 : $("#TotalDelPkg").val()));
                        Rate = $("#DRSDocketsUpdateList_" + ID + "__NewRate").val();

                        TotalCharge = parseFloat(Charge) * parseFloat(Rate);
                        HamaliChrge = parseFloat(HamaliChrge) + parseFloat(TotalCharge)
                    }
                    if ($("#DRSDocketsUpdateList_" + ID + "__ratetype").val() == "4") {
                        Rate = $("#DRSDocketsUpdateList_" + ID + "__NewRate").val();
                        MathadiCharge = parseFloat(MathadiCharge) + parseFloat(Rate);
                    }
                }
            });
            if ($("#DRSSummary_LoadingBy").val() == "M" || $("#DRSSummary_LoadingBy").val() == "A" || $("#DRSSummary_LoadingBy").val() == "XX5" || $("#DRSSummary_LoadingBy").val() == "XX8") {

                $("#LoadingCharge").val(parseFloat(HamaliChrge).toFixed(2));

                if ($("#DRSSummary_LoadingBy").val() == "M" && $("#DRSSummary_IsMathadi").is(":checked") == true) {
                    $("#DRSSummary_MathadiAmt").val(parseFloat(MathadiCharge).toFixed(2));
                }
            }
        }

        var addRemoveMathadiOption = function (type) {
            if (type == "1") { // Show and Add
                var MathadiSlipNo = $("#DRSSummary_MathadiSlipNo").val();
                $(".Clsrate").each(function () {

                    $("#" + $(this).attr('id').replace("NewRate", "ratetype")).append($('<option></option>').val("4").html("MATHADI"));
                    //alert(MathadiSlipNo)
                    if (MathadiSlipNo == null || MathadiSlipNo == "") {

                        $("#" + $(this).attr('id').replace("NewRate", "ratetype") + " option[value*='4']").attr('disabled', true);
                    }
                    else {
                        $("#" + $(this).attr('id').replace("NewRate", "ratetype") + " option[value*='4']").attr('disabled', false);
                    }
                });
                $("#DRSSummary_MathadiAmt").attr("min", "0.01");
            }
            else if (type == "0") { //Hide and Remove
                $(".Clsrate").each(function () {

                    //alert($("#" + $(this).attr('id').replace("NewRate", "ratetype")).val())
                    if ($("#" + $(this).attr('id').replace("NewRate", "ratetype")).val() == "4") {
                        $("#" + $(this).attr('id').replace("NewRate", "ratetype") + " option[value*='4']").prop("selected", false);
                        $("#" + $(this).attr('id').replace("NewRate", "ratetype")).select2("data", { id: "1", text: "PER KG" });
                        $("#" + $(this).attr('id')).val("0.000");
                    }
                    $("#" + $(this).attr('id').replace("NewRate", "ratetype") + " option[value*='4']").remove();
                });
                $("#DRSSummary_MathadiAmt").attr("min", "0.00");
            }
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName)
                //ControlDate();

                //  Events(DomainName);
                $('.timepicker-default').timepicker({
                    autoclose: true,
                    minuteStep: 1,
                    defaultValue: "@System.DateTime.Now.ToString("HH:MM")",
                });

                $('#btnSubmit').click(function () {

                    /*28 Jan 2017*/
                    if ($("#DRSSummary_LoadingBy").val() == "M" && ('@ViewBag.BaseLocationCode' == "BOMN" || '@ViewBag.BaseLocationCode' == "BWD" || '@ViewBag.BaseLocationCode' == "PNQ" || '@ViewBag.BaseLocationCode' == "KLP"|| '@ViewBag.BaseLocationCode' == "NSK" || '@ViewBag.BaseLocationCode' == "NHR")) {
                        var cnt = 0;
                        $("select.drprate").each(function () {
                            var id = $(this).attr('id');
                            if ($("#" + id).val() == "1" || $("#" + id).val() == "3") {
                                cnt = cnt + 1;
                            }
                        });

                        if (cnt > 0 && (($("#DRSSummary_Rate").val() == "") || (parseFloat($("#LoadingCharge").val()) == 0 || $("#LoadingCharge").val() == ""))) {
                            $("#DRSSummary_Rate").addClass("required");
                            $("#LoadingCharge").addClass("required");
                            //alert("false");
                            //return false;
                        }
                        else {
                            $("#DRSSummary_Rate").removeClass("required");
                            $("#LoadingCharge").removeClass("required");
                            $("#LoadingCharge").attr("min", 0);
                            //alert("true");
                        }
                    }
                    /*28 Jan 2017*/
                    if ($("#form_sample").valid()) {
                        //alert(cnt);
                        App.blockUI({ boxed: true });
                        document.forms["form_sample"].submit();
                        return true
                    }
                    else {
                        return false;
                    }
                });

                if ($("#DRSSummary_LoadingBy").val() == "M" || $("#DRSSummary_LoadingBy").val() == "A" || $("#DRSSummary_LoadingBy").val() == "XX5" || $("#DRSSummary_LoadingBy").val() == "XX8") {
                    $("#LoadingCharge").attr("min", "0.01");
                }

                $(".clsFutureDateControl").datetimepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy  HH:ii P",
                    showMeridian: true,
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    startDate: new Date("@StartDate"),
                    endDate: new Date("@EntDate"),
                    todayBtn: true
                });

                var TotalAct = 0;
                var TotalPkg = 0;
                @foreach (var itm in Model.UpdateDRSLits)
                {
                    var PkgsDeliveryID = "DRSDocketsUpdateList_" + itm.AutoNo + "__PKGSDELIVERED";
                    var PKgsPending = "DRSDocketsUpdateList_" + itm.AutoNo + "__Pkgs_Pending";
                    var clateReson = "DRSDocketsUpdateList_" + itm.AutoNo + "__cboLateReason";
                    var divlateresion = "Clatereson_" + itm.AutoNo;
                    var blink = "blink_" + itm.AutoNo;
                    var PkingID = "pkgpending_" + itm.AutoNo;
                    var divreson="divreson_"+ itm.AutoNo;
                 <text>
                TotalAct = TotalAct + '@itm.ActQty';
                TotalPkg = TotalPkg + parseFloat('@itm.PkgQty');
                $("#@divreson").show();
                $("#@PkgsDeliveryID").live('blur', function () {
                    var PkgsDeliveryIDval = $("#@PkgsDeliveryID").val();
                    var PKgsPendingval = $("#@PKgsPending").val();
                    var clateResonID = $("#@clateReson");
                    var clresion = $("#@divlateresion");
                    var clsblink = $(".@blink");
                    var PKgID = $("#@PkingID")
                    var Divregion = $("#@divreson")
                    //if (parseInt(PkgsDeliveryIDval) < parseInt(PKgsPendingval)) {
                    //    Divregion.show();
                    //    clateResonID.addClass('required');
                    //}
                    //else {
                    //    Divregion.hide();
                    //    clateResonID.removeClass('required');
                    //}
                    if (parseInt(PkgsDeliveryIDval) <= parseInt(PKgsPendingval)) {
                        clresion.show();
                        PKgID.removeClass('fontsize')
                    }
                    else {
                        PKgID.addClass('fontsize')
                        clresion.hide();

                    }
                });
                </text>
                }

                var clsActQty = 0;
                $(".clsActQty").each(function () {
                    clsActQty = parseFloat(clsActQty) + parseFloat($(this).val());
                });

                //$("#TotalActWt").val(TotalAct)
                $("#TotalActWt").val(clsActQty)
                $("#TotalPKG").val(TotalPkg)
                //Loading Charge Calclulation
                $(".clsGCCheck").live('change', function () {
                    //var checked = $(this).is(":checked");
                    //var ID = $(this).attr("id").replace("__IsEnabled", "").replace("DRSDocketsUpdateList_", "");
                    //Loadcharge(DomainName, checked, ID);
                    calcRate();
                });
                if ($("#DRSSummary_LoadingBy").val() == "A" || $("#DRSSummary_LoadingBy").val() == "XX5" || $("#DRSSummary_LoadingBy").val() == "XX8") {
                    //JsonDDL('DRSSummary_VendorCode', DomainName + '/Master/SearchVendorListJson/', true);
                    var StrURL = DomainName + "/Master/getBranchWiseLoadingUnloadingVendorListJson?Type=U&VendorType=" + $("#DRSSummary_LoadingBy").val();
                    FillDropDownfromOther("DRSSummary_VendorCode", StrURL, 'VendorName');
                }

                if ($("#DRSSummary_LoadingBy").val() == "M") {
                    $("#DRSSummary_VendorCode").val('9888');
                    $("#DRSSummary_VendorCode").attr('readonly', true);
                }

                $("#DRSSummary_Rate").live("change", function () {

                    if (parseFloat($("#DRSSummary_hdnRate").val()) > 0) {
                        if (parseFloat($("#DRSSummary_Rate").val()) > 0) {
                            var Value = parseFloat($("#DRSSummary_Rate").val());
                            var MaxRate = parseFloat($("#DRSSummary_hdnRate").val());
                            //alert(parseFloat(MaxRate) + "  " + parseFloat(Value))
                            if (parseFloat(MaxRate) < parseFloat(Value)) {
                                //$("#DRSSummary_Rate").val(0)
                                //$("#lblMaxRate").show();
                                //$("#lblMaxRate").html("Your Max Limit : " + $("#DRSSummary_hdnRate").val() + " You Can Not More Then Value Enter")
                            }
                            else {
                                $("#lblMaxRate").hide();
                                $("#DRSSummary_Rate").val(Value);
                                //$(".clsNotAvilable").each(function () {
                                //    $(".clsNotAvilable").val($("#DRSSummary_Rate").val());
                                //});
                                $(".clsNotAvilable").each(function () {
                                    //alert("sadsad " + $("#DRSSummary_hdnRate").val())
                                    var ID = $(this).attr('id').replace("NewRate", "ratetype");
                                    if ($("#" + ID).val() != "4") {
                                        $(this).val(parseFloat(Value).toFixed(3));
                                        $(this).attr("max", MaxRate);
                                        $(".clsNotAvilable").prop("readonly", false);
                                        //$(".drprate").prop("readonly", true);
                                        //$(this).prop("readonly", true);
                                    }
                                });
                                calcRate();
                            }

                        }
                    }
                    else {
                        if ($("#DRSSummary_LoadingBy").val() == "M" || $("#DRSSummary_LoadingBy").val() == "A" || $("#DRSSummary_LoadingBy").val() == "XX5" || $("#DRSSummary_LoadingBy").val() == "XX8") {
                            var loadingby = $("#DRSSummary_LoadingBy").val();
                            var chargeType = $("#DRSSummary_RateType").val();
                            var TypeModule = "D";
                            var Vendorcode = $("#DRSSummary_VendorCode").val();
                            var loadunloadType = "U"

                            var StrURL = DomainName + "/Master/Get_LoadingCharge?loadingby=" + loadingby + "&chargeType=" + chargeType + "&TypeModule=" + TypeModule + "&Vendorcode=" + Vendorcode + "&loadunloadType=" + loadunloadType;
                            $.ajax({
                                type: 'POST',
                                contentType: 'application/json; charset=utf-8',
                                url: StrURL,
                                dataType: 'json',
                                data: {},
                                success: function (data) {
                                    if (parseFloat(data.Rate) > 0) {

                                        $("#DRSSummary_MaxLimit").val(data.MaxLimit);
                                        $("#DRSSummary_hdnRate").val(data.Rate);
                                        $("#lblrateeror").hide();
                                        $("#LoadingCharge").attr("min", "0.01");
                                        var newRate = $("#DRSSummary_Rate").val();
                                        if (newRate < data.Rate) {
                                            newRate = newRate;
                                        }
                                        else {
                                            newRate = data.Rate;
                                        }
                                        $("#DRSSummary_Rate").val(parseFloat(newRate).toFixed(3));
                                        //$(".clsNotAvilable").each(function () {
                                        //    $(".clsNotAvilable").val(parseFloat($("#DRSSummary_Rate").val()).toFixed(3));
                                        //});
                                        $(".clsNotAvilable").each(function () {
                                            var ID = $(this).attr('id').replace("NewRate", "ratetype");
                                            if ($("#" + ID).val() != "4") {
                                                $(".drprate").prop("readonly", false);
                                                $(this).prop("readonly", false);
                                                $(this).val(newRate);
                                                $(this).attr("max", newRate);
                                            }
                                        });
                                    }
                                    else {
                                        $("#DRSSummary_Rate").val('')
                                        $("#LoadingCharge").val(0);
                                        $("#lblrateeror").show();
                                    }
                                    calcRate();
                                },
                                error: function () {
                                    alert("error " + req + "   " + status + "   " + error);
                                }
                            });
                        }

                    }
                    //   Loadcharge($(this).val())
                    //if ($("#DRSSummary_LoadingBy").val() == "M") {

                    //    $(".clsNotAvilable").prop("readonly", false);
                    //    $(".clsNotAvilable").attr("max", $("#DRSSummary_Rate").val());
                    //}
                    //else {
                    //    $(".clsNotAvilable").prop("readonly", true);
                    //}

                });

                $(".Clsrate").live("change", function () {
                    var ID = $(this).attr('id');
                    if ($("#DRSSummary_LoadingBy").val() == "M" && $("#" + ID.replace("NewRate", "ratetype")).val() == "4" && $("#DRSSummary_IsMathadi").is(':checked')) {
                        //var LoadingBy = $("#DRSSummary_LoadingBy").val();
                        //var ContractType = "D";
                        //App.blockUI({ boxed: true });
                        //var StrURL = DomainName + "/Master/Get_BrachWiseMathadiCharge?LoadingBy=" + LoadingBy + "&ContractType=" + ContractType + "&Type=M"; // M for Mathadi Only
                        //$.ajax({
                        //    type: 'POST',
                        //    contentType: 'application/json; charset=utf-8',
                        //    url: StrURL,
                        //    dataType: 'json',
                        //    data: {},
                        //    success: function (data) {
                        //        if (data.Rate > 0) {
                        //            $("#DRSSummary_MathadiAmt").attr("max", data.MaxLimit);
                        //            $("#DRSSummary_MathadiAmt").prop("readonly", true);
                        //            $("#DRSSummary_MathadiAmt").attr("min", "0.01");
                        //            $("#DRSSummary_MathadiAmt").addClass("required");

                        //            $("#" + ID).attr("min", data.Rate);
                        //            $("#" + ID).attr("max", data.MaxLimit);
                        //            $("#" + ID).removeAttr("readonly");

                        //            calcRate();
                        //            App.unblockUI();
                        //        }
                        //        else {
                        //            $("#lblMathadiError").show();
                        //            //$(".clsGCCheck").parents('span').removeClass("checked");
                        //            $("#" + ID).val("0");
                        //            $("#" + ID).attr("min", "0.01");
                        //            $("#" + ID).attr("readonly", true);
                        //            calcRate();
                        //            App.unblockUI();
                        //        }
                        //    },
                        //    error: function () {
                        //        alert("error " + req + "   " + status + "   " + error);
                        //    }
                        //});
                        calcRate();
                    }
                    else if ($("#DRSSummary_LoadingBy").val() == "M" || $("#DRSSummary_LoadingBy").val() == "A" || $("#DRSSummary_LoadingBy").val() == "XX5" || $("#DRSSummary_LoadingBy").val() == "XX8") {
                        var LoadingBy = $("#DRSSummary_LoadingBy").val();
                        var RateType = $("#" + $(this).attr('id').replace("NewRate", "ratetype")).val();
                        var TypeModule = "D";
                        var LoadType = "U";
                        var Vendorcode = $("#DRSSummary_VendorCode").val();
                        var DockNo = $("#" + $(this).attr('id').replace("ratetype", "dockno")).val();
                        App.blockUI({ boxed: true });
                        var StrURL = DomainName + "/Master/GetChargesFromCNoteNo?DockNo=" + DockNo + "&RateType=" + RateType + "&LoadType=" + LoadType + "&LoadingBy=" + LoadingBy + "&TypeModule=" + TypeModule + "&Vendorcode=" + Vendorcode;
                        $.ajax({
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            url: StrURL,
                            dataType: 'json',
                            data: {},
                            success: function (data) {
                                //$("#" + ID).removeAttr("readonly");
                                if (parseFloat(data.Rate).toFixed(3) > 0) {
                                    //alert(parseFloat(data.Rate).toFixed(3));
                                    //$("#" + ID).val(parseFloat(data.Rate).toFixed(3));
                                    //$("#" + ID).attr("max", data.Rate);
                                    if (RateType == $("#DRSSummary_RateType").val()) {
                                        if (parseFloat(data.Rate) >= parseFloat($("#DRSSummary_hdnRate").val())) {
                                            $("#" + ID).attr("max", $("#DRSSummary_hdnRate").val());
                                        }
                                    }
                                    else {
                                        $("#" + ID).attr("max", data.Rate);
                                        $("#" + ID).val(parseFloat(data.Rate).toFixed(3));
                                    }
                                    calcRate();
                                    App.unblockUI();
                                }
                                else {
                                    //$("#" + ID).val(parseFloat($("#DRSSummary_Rate").val()).toFixed(3));
                                    $("#" + ID).val("0.00");
                                    $("#" + ID).attr("min", "0.01");
                                    $("#" + ID.replace("NewRate", "rateError")).show();
                                    $("#" + ID.replace("NewRate", "rateError")).text("Please enter value in Master.");
                                    calcRate();
                                    App.unblockUI();
                                }
                            },
                            error: function () {
                                alert("error " + req + "   " + status + "   " + error);
                            }
                        });
                    }
                    //if ($(this).val() <= $("#DRSSummary_hdnRate").val()) {
                    //    calcRate();
                    //}
                });

                //Vendor Wise Loading Charge
                $("#DRSSummary_VendorCode").live("change", function () {
                    App.blockUI({ boxed: true });
                    var loadingby = $("#DRSSummary_LoadingBy").val();
                    var chargeType = $("#DRSSummary_RateType").val();
                    var TypeModule = "D";
                    var Vendorcode = $("#DRSSummary_VendorCode").val();
                    var loadunloadType = "U"

                    var StrURL = DomainName + "/Master/Get_LoadingCharge?loadingby=" + loadingby + "&chargeType=" + chargeType + "&TypeModule=" + TypeModule + "&Vendorcode=" + Vendorcode + "&loadunloadType=" + loadunloadType;
                    $.ajax({
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        url: StrURL,
                        dataType: 'json',
                        data: {},
                        success: function (data) {

                            if (data.IsMonthly == true) {
                                $("#lblRate").text("Montly Charges :");
                                $("#DRSSummary_MaxLimit").val(data.MaxLimit)
                                $("#DRSSummary_Rate").hide();
                                $("#LoadingCharge").val(0);
                                $("#DRSSummary_MaxLimit").show();
                                $("#LoadingCharge").attr("min", 0);
                                $("#DRSSummary_Rate").val(0);
                                $("#lblrate").hide();
                                $("#DRSSummary_IsMonthly").val(data.IsMonthly);
                                $(".clsNotAvilable").each(function () {
                                    var ID = $(this).attr('id').replace("NewRate", "ratetype");
                                    $("#" + ID).prop("disabled", true);
                                    $(this).prop("readonly", true);
                                    $(this).val(data.Rate);
                                    $(this).attr("max", $("#DRSSummary_hdnRate").val());
                                });
                                App.unblockUI();
                            }
                            else if (data.Rate > 0) {
                                $("#DRSSummary_Rate").val(data.Rate);
                                $("#DRSSummary_MaxLimit").val(data.MaxLimit);
                                $("#DRSSummary_MaxLimit").hide();
                                $("#DRSSummary_Rate").show();
                                $("#lblrate").hide();
                                $("#LoadingCharge").attr("min", 0);
                                $("#lblRate").text("Rate :");
                                //$(".clsNotAvilable").each(function () {
                                //    $(".clsNotAvilable").val(parseFloat(data.Rate).toFixed(3));
                                //});
                                $(".clsNotAvilable").each(function () {
                                    var ID = $(this).attr('id').replace("NewRate", "ratetype");
                                    $("#" + ID).prop("disabled", false);
                                    $(this).prop("readonly", false);
                                    $(this).val(data.Rate);
                                    $(this).attr("max", $("#DRSSummary_hdnRate").val());
                                });
                                App.unblockUI();
                            }
                            else {
                                $("#lblrate").show();
                                $(".clsNotAvilable").each(function () {
                                    $(".clsNotAvilable").val(parseFloat($("#DRSSummary_Rate").val()).toFixed(3));
                                });
                                App.unblockUI();
                            }

                        },
                        error: function () {
                            alert("error " + req + "   " + status + "   " + error);
                            App.unblockUI();
                        }

                    });
                    //Loadcharge($("#DRSSummary_Rate").val())
                    calcRate();
                });

                $("#DRSSummary_Rate").val('')
                $("#DRSSummary_IsMathadi").click(function () {
                    $("#DRSSummary_MathadiAmt").attr("readonly", true);
                    if ($("#DRSSummary_IsMathadi").is(':checked')) {
                        $("#Mathadicheck").show();
                        $('#DRSSummary_MathadiSlipNo').addClass('required');
                        $('#DRSSummary_MathadiAmt').addClass('required');

                        addRemoveMathadiOption("1");
                    }
                    else {
                        $("#Mathadicheck").hide();
                        $('#DRSSummary_MathadiSlipNo').removeClass('required');
                        $('#DRSSummary_MathadiAmt').removeClass('required');
                        $("#DRSSummary_MathadiAmt").val("0");
                        $("#DRSSummary_MathadiSlipNo").val("");

                        addRemoveMathadiOption("0");
                    }
                });

                $("#DRSSummary_MathadiSlipNo").live("blur", function () {
                    addRemoveMathadiOption("0");
                    addRemoveMathadiOption("1");
                });

                $(".drprate").live("change", function () {
                    var ID = $(this).attr('id').replace("ratetype", "NewRate");
                    if ($("#DRSSummary_LoadingBy").val() == "M" && $(this).val() == "4" && $("#DRSSummary_IsMathadi").is(':checked')) {

                        var LoadingBy = $("#DRSSummary_LoadingBy").val();
                        var ContractType = "D";
                        App.blockUI({ boxed: true });
                        var StrURL = DomainName + "/Master/Get_BrachWiseMathadiCharge?LoadingBy=" + LoadingBy + "&ContractType=" + ContractType + "&Type=M"; // M for Mathadi Only
                        $.ajax({
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            url: StrURL,
                            dataType: 'json',
                            data: {},
                            success: function (data) {
                                if (data.Rate > 0) {
                                    $("#DRSSummary_MathadiAmt").attr("min", "0.01");
                                    $("#DRSSummary_MathadiAmt").prop("readonly", true);
                                    $("#DRSSummary_MathadiAmt").addClass("required");

                                    $("#" + ID).attr("min", data.Rate);
                                    $("#" + ID).attr("max", data.MaxLimit);
                                    $("#" + ID).removeAttr("readonly");
                                    calcRate();
                                    $("#lblMathadiError").hide();
                                    App.unblockUI();
                                }
                                else {
                                    $("#lblMathadiError").show();
                                    //$(".clsGCCheck").parents('span').removeClass("checked");
                                    //$("#" + ID).val("0");
                                    //$("#" + ID).attr("min", "0.01");
                                    $("#" + ID).attr("readonly", true);
                                    $("#DRSSummary_MathadiAmt").attr("min", "0.01");
                                    calcRate();
                                    App.unblockUI();
                                }

                            },
                            error: function () {
                                alert("error " + req + "   " + status + "   " + error);
                            }
                        });
                    }
                    else if ($("#DRSSummary_LoadingBy").val() == "M" || $("#DRSSummary_LoadingBy").val() == "A" || $("#DRSSummary_LoadingBy").val() == "XX5" || $("#DRSSummary_LoadingBy").val() == "XX8") {
                        var LoadingBy = $("#DRSSummary_LoadingBy").val();
                        var RateType = $(this).val();
                        var TypeModule = "D";
                        var LoadType = "U";
                        var Vendorcode = $("#DRSSummary_VendorCode").val();
                        var DockNo = $("#" + $(this).attr('id').replace("ratetype", "dockno")).val();
                        App.blockUI({ boxed: true });
                        var StrURL = DomainName + "/Master/GetChargesFromCNoteNo?DockNo=" + DockNo + "&RateType=" + RateType + "&LoadType=" + LoadType + "&LoadingBy=" + LoadingBy + "&TypeModule=" + TypeModule + "&Vendorcode=" + Vendorcode;
                        $.ajax({
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            url: StrURL,
                            dataType: 'json',
                            data: {},
                            success: function (data) {
                                //$("#" + ID).removeAttr("readonly");
                                if (parseFloat(data.Rate).toFixed(3) > 0) {
                                    //alert(data.Rate + "  " + $("#DRSSummary_hdnRate").val() + "  " + RateType);
                                    if (RateType == $("#DRSSummary_RateType").val()) {
                                        if (parseFloat(data.Rate) >= parseFloat($("#DRSSummary_hdnRate").val())) {
                                            $("#" + ID).attr("max", $("#DRSSummary_hdnRate").val());
                                            $("#" + ID).val($("#DRSSummary_Rate").val());
                                        }
                                    }
                                    else {
                                        $("#" + ID).attr("max", data.Rate);
                                        $("#" + ID).val(parseFloat(data.Rate).toFixed(3));
                                    }
                                    $("#" + ID).attr("min", "0.01");
                                    calcRate();
                                    App.unblockUI();
                                }
                                else {
                                    //$("#" + ID).val(parseFloat($("#DRSSummary_Rate").val()).toFixed(3));
                                    $("#" + ID).val("0.00");
                                    $("#" + ID).attr("min", "0.01");
                                    $("#" + ID.replace("NewRate", "rateError")).show();
                                    $("#" + ID.replace("NewRate", "rateError")).text("Please enter value in Master.");
                                    calcRate();
                                    App.unblockUI();
                                }
                            },
                            error: function () {
                                alert("error " + req + "   " + status + "   " + error);
                            }
                        });
                    }
                });

                if ($("#DRSSummary_LoadingBy").val() == "M" || $("#DRSSummary_LoadingBy").val() == "A" || $("#DRSSummary_LoadingBy").val() == "XX5" || $("#DRSSummary_LoadingBy").val() == "XX8") {
                    $(".drprate").addClass("required");
                }
                else {
                    $(".drprate").removeClass("required");
                }

                //$(".clsNotAvilable").each(function () {
                //    var ID = $(this).attr('id').replace("NewRate", "ratetype");
                //    $("#" + ID).prop("readonly", true);
                //    $(this).prop("readonly", true);
                //});

                $(".clsNotAvilable").each(function () {
                    var ID = $(this).attr('id').replace("NewRate", "ratetype");
                    $(".drprate").prop("readonly", false);
                    $(this).prop("readonly", true);
                });

                $(".clsAvilable").each(function () {
                    var ID = $(this).attr('id').replace("NewRate", "ratetype");
                    $("#" + ID).prop("readonly", false);
                    $(this).prop("readonly", true);
                });

                var TotalDelAct = 0;
                var TotalDelPkg = 0;
                @foreach (var item in Model.DRSDeliveryList)
                {
                    var DeliveredActWT = item.ACTUWT;
                    var DeliveredPkg =  item.PKGSNO;

                    <text>
                TotalDelAct = TotalDelAct + @DeliveredActWT;
                TotalDelPkg = TotalDelPkg + @DeliveredPkg;
                </text>
                }
                //alert(parseFloat(TotalDelAct).toFixed(3) + "  " + parseFloat(TotalDelPkg).toFixed(3))
                $("#TotalDelAct").val(parseFloat(TotalDelAct).toFixed(2));
                $("#TotalDelPkg").val(parseFloat(TotalDelPkg).toFixed(2));

                if("@Model.DRSSummary.LoadingBy" != "B" && "@Model.DRSSummary.LoadingBy" != "XX6")
                {
                    if(parseFloat($("#DRSSummary_Start_KM").val()) + 300 > 900000)
                    {
                        $("#DRSSummary_CloseKM").attr("max",900000);
                    }
                    else{
                        $("#DRSSummary_CloseKM").attr("max",parseFloat($("#DRSSummary_Start_KM").val()) + 300);
                    }
                    $("#DRSSummary_CloseKM").attr("min",parseFloat($("#DRSSummary_Start_KM").val()) + 5);
                }
            }
        }
    }();
</script>