﻿@{
    ViewBag.Title = "UpdateResultViewPrint";
    Layout = null;
}

@using System.Configuration
@model Fleet.ViewModels.LoadingSheetFilterViewModel
@using MvcReportViewer;

@{
    var parameters = new List<KeyValuePair<string, object>>
    {

        new KeyValuePair<string, object>("DRSNo",Model.DRSNo),

    };
    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();

}

<div id="divPrint">

    @Html.MvcReportViewer(ReportPathPrefix + "/DRS_ViewPrint", parameters, new { Height = 600, Width = "100%", style = "border: none" })

    <div class="span3"></div>
</div>

