﻿@model Fleet.ViewModels.LoadingSheetFilterViewModel
@using FleetDataService.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";    
    ViewBag.Title="Update Loading Sheet & Prepare Manifest";
}
<div class="row" id="Updateloading">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body" id="tblLoadingList">
                    <table class="table table-striped table-bordered table-hover" id="LoadingSheetList" style="overflow-x: scroll;">
                        <thead>

                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
 

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Header = [
            { data: 'TCNO', title: 'LS No.' },
            { data: 'ManualLSno', title: 'Manual LS No' },
            { data: 'TCDT', title: 'LS Date' },
            { data: 'LOC', title: 'Location' },
            { data: 'TOT_DKT', title: 'Total Cnote' },
            { data: 'tot_pkgs', title: 'Total Packages' },
            { data: 'tot_actuwt', title: 'Total Weight' },
            { data: 'TCNO', title: 'View|Print' },

        ]
        var loadData = function (DomainName, tblId) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Operation/ListLsForMF'
            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: 'json',
                success: function (result) {
                    $('#' + tblId).DataTable({
                        data: result,
                        columns: Header,
                        "aoColumnDefs": [
                             {
                                 "aTargets": [0],
                                 "mRender": function (data, type, full) {

                                     return '<a href="@Url.Content("~/Operation/LoadingSheet")?Type=ULS&TCNO=' + data + '&NextLOC=' + full.tobh_code + '&IsBCProcess=' + result[0].IsBCProcess + '" data-id="' + data + '"><i class="fa fa-pencil"></i>&nbsp;' + data + '</a>';
                                 }
                             },
                        {
                            "aTargets": [7],
                            "mRender": function (data, type, full) {
                                return '<label>View</label> | <label>Print</label>';
                                return '<a href="@Url.Content("~/Operation/LodingSheetViewPrint")?LsNO=' + TCNO; '</a>';
                            }
                        }
                        ],
                        "createdRow": function (row, data, index) {
                            $('td', row).addClass('center');
                            $('td', row).addClass('text-uppercase');
                        }
                    });
                    formateDataTable(tblId);
                    $('#' + tblId).parents('.row').show(500);
                    $('#Updateloading').show(1000);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                loadData(DomainName, 'LoadingSheetList');
            }
        }
    }();
</script>