﻿@model Fleet.ViewModels.vw_DRS_Summary
@using FleetDataService.Models
@{
    ViewBag.Title = "Update DRS Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
}
@using (Html.BeginForm("GetDRSHeaderDetail", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div id="tblData">
                            <table class="table table-striped table-bordered table-hover" id="UpdateDRSResult" style="overflow-x: scroll">
                                <thead>
                                    <tr>
                                        <th class="center">
                                            DRS No.
                                        </th>
                                        <th class="center">
                                            DRS Date
                                        </th>
                                        <th class="center">
                                            Delivered By
                                        </th>
                                        <th class="center">
                                            Driver Name
                                        </th>
                                        <th class="center">
                                            Vehicle #
                                        </th>
                                        <th class="center">
                                            Start/Close (Kms)
                                        </th>
                                        <th class="center">
                                            Total CNotes in DRS
                                        </th>
                                        <th class="center">
                                            Updated
                                        </th>
                                        <th class="center">
                                            View & Print
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center">@Model.pdcno</td>
                                        <td class="center">@Model.PDC_Dt</td>
                                        <td class="center">@Model.deliveryBy</td>
                                        <td>@Model.DriverName</td>
                                        <td class="center">@Model.VEHNO</td>
                                        <td class="center">@Model.Start_KM / @Model.CloseKM</td>
                                        <td class="center">@Model.Total_Dockets_In_DRS</td>
                                        <td class="center">@Model.PDC_Updated</td>
                                        @*<a href="#">View</a> &nbsp;&nbsp;<a href="#">Print</a>*@
                                        <td class="center"><a href="javascript:OrderView('@Model.pdcno')" class="btn btn-xs default blue-stripe"><i class="fa fa-print"></i>&nbsp;View||Print</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>

            </div>
            <div class="portlet box col-md-6 @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>ToPay Bill Details
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div id="tblBillData">
                            <table class="table table-striped table-bordered table-hover" id="UpdateDRSBilldetResult" style="overflow-x: scroll">
                                <thead>
                                    <tr>
                                        <th class="center">
                                            DockNo.
                                        </th>
                                        <th class="center">
                                            BillNO
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.BillDet != null && Model.BillDet.Count > 0)
                                    {
                                        foreach (var item in Model.BillDet)
                                        {
                                            <tr>

                                                <td class="center">@item.DOCKNO</td>
                                                <td class="center"><a href="javascript:BillView('@item.BILLNO')">&nbsp;@item.BILLNO </a></td>

                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="center" colspan="2">No Records Found</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
}
<script type="text/javascript">

    function OrderView(DRSNo) {
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        var strPopupURL = ReportURL + DomainName + "/Operation/UpdateResultViewPrint?DRSNo=" + DRSNo;
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;
    }
    function BillView(BillNo) {
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        var strPopupURL = ReportURL + DomainName + "/ViewPrint/BillViewPrint?BillNo=" + BillNo + "&Type=1";
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;
    }
    var FormComponents = function (DomainName) {
        var Events = function (DomainName) {
            $('#btnSubmit').click(function () {
                App.blockUI({ boxed: true });
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
            }
        }
    }();
</script>