﻿@model Fleet.ViewModels.UpdateDRSViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    ViewBag.Title = "UpdateDRSById";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
}

@using (Html.BeginForm("UpdateDRSSubmit", "Operation", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>DRS Header Information:
                    </div>
                </div>
                <div class="portlet-body" id="divCrieteria">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            DRS No:
                                        </label>
                                        <div class="col-md-6">
                                            <label class="text-primary">  @Html.TextBoxFor(c => c.DRSSummary.pdcno, new { @class = "form-control", @readonly = true })</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            DRS Date:
                                        </label>
                                        <div class="col-md-6">
                                            <label class="text-primary">@Html.TextBoxFor(c => c.DRSSummary.PDC_Dt, new { @class = "form-control", @readonly = true })</label>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Start/Close KM:
                                        </label>
                                        <div class="col-md-3">
                                            <label class="text-primary margin-top-5">  @Html.DisplayFor(c => c.DRSSummary.Start_KM, new { @class = "form-control", @number = true, @placeholder = "Start/Close KM" })/</label>
                                        </div>
                                        <div class="col-md-4">
                                            @Html.HiddenFor(c => c.DRSSummary.Start_KM)
                                            @Html.TextBoxFor(c => c.DRSSummary.CloseKM, new { @class = "form-control", @max = "900000", @number = true, @placeholder = "Close KM" })
                                        </div>
                                        </div>
                                </div>*@
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">
                                            Driver Name:
                                        </label>
                                        <div class="col-md-10 margin-top-5">
                                            <label class="text-primary">@Html.DisplayFor(c => c.DRSSummary.DriverName, new { @class = "form-control" })</label> of Vehicle <label class="text-primary">@Html.DisplayFor(c => c.DRSSummary.VEHNO, new { @class = "form-control" })</label> Carrying <label class="text-primary">@Html.DisplayFor(c => c.DRSSummary.Total_Dockets_In_DRS, new { @class = "form-control" })</label> Consignment(s)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>CNote Detail
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="portlet-body">
                            <div id="tblData">
                                @{
    int SrNo = 0;
                                }
                                @if (Model.UpdateDRSLits.ToList().Count > 0)
                                {
                                    <table class="table table-striped table-bordered table-hover" id="UpdateDRSList" style="overflow-x: scroll">
                                        <thead>
                                            <tr>
                                                <th class="center">
                                                    Sr.No
                                                </th>
                                                <th class="center">
                                                    AXB Bkg. Dt.
                                                </th>
                                                <th class="center">
                                                    Bkg-Dely Dest.Loc Pay Basis
                                                </th>
                                                <th class="center">
                                                    Cnor/Cnee
                                                </th>
                                                <th class="center">
                                                    Pkgs Pending/Arrived/Booked
                                                </th>
                                                <th class="center">
                                                    Committed Dely. Dt
                                                </th>
                                                <th class="center">
                                                    Pkgs.Dely
                                                </th>
                                                <th class="center">
                                                    Delivery Control Loc
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.UpdateDRSLits)
                                            {
                                                SrNo++;
                                                item.AutoNo = SrNo;
                                                Html.RenderPartial("_SingleUpdateDRSList", item);
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <table>
                                        <tr>
                                            <td>
                                                <p class="Norecord"> No Record Found...................</p>
                                            </td>
                                        </tr>
                                    </table>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <a class="btn btn-sm default controls" href="@Url.Content("~/Operation/SingleCNoteUpdateInDRS")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To List</a>
            <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Update DRS</button>
        </div>
    </div>
}
<style>
    #pkgpending {
        transition: color 200ms ease;
    }

        #pkgpending.blink {
            color: transparent;
        }

    .mrgtop {
        margin-top: 3px;
    }

    .fontsize {
        font-size: 28px;
    }
</style>
<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var FormValidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: true, // do not focus the last invalid input
                rules: {
                    'DRSSummary.CloseKM': {
                        range: [parseInt($("#DRSSummary_Start_KM").val()) + 1, parseInt($("#DRSSummary_Start_KM").val()) + 7000]
                    }
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    App.blockUI({ boxed: true });
                    success1.show();
                    error1.hide();
                    $("#btnSubmit").show();
                    //alert($("#form_sample").attr('action') + "  " + $("#form_sample").serialize());
                    $.post($("#form_sample").attr('action'), $("#form_sample").serialize(), function (data, status) {
                        if (status == "success") {
                            TosterNotification("success", "Record has been saved successfully..!!", "Success");
                            window.location.href = DomainName + '/operation/SingleCNoteUpdateInDRS'
                        }
                        else {
                            TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                        }
                    });
                }
            });
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                window.setInterval(function () {
                    // 'blink' class is toggled into 'P' tag between the interval of 500 ms
                    $('#pkgpending').toggleClass('blink');
                }, 500);
                FormValidate(DomainName)
                //  Events(DomainName);
                $('.timepicker-default').timepicker({
                    autoclose: true,
                    minuteStep: 1,
                    defaultValue: "@System.DateTime.Now.ToString("HH:MM")"
                });
                $('.date-picker').datepicker({
                    isRTL: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    todayBtn: true
                });
                $('.chkCheck').val(false);

                $('.clsloccode').attr('disabled', true);

                $('.chkCheck').live('change', function () {
                    var checked = $(this).is(":checked");
                    var id = $(this).attr('id').split('_')[1];
                    if (checked == true) {
                        $('.chkCheck').val(true);
                        $('#DRSDocketsUpdateList_' + id + '__DelyLocation').attr('disabled', false);
                    }
                    else {
                        $('.chkCheck').val(false);
                        $('#DRSDocketsUpdateList_' + id + '__DelyLocation').attr('disabled', true);
                    }
                });

                @foreach (var itm in Model.UpdateDRSLits)
                {
                    var PkgsDeliveryID = "DRSDocketsUpdateList_" + itm.dockno + "__PKGSDELIVERED";
                    var PKgsPending = "DRSDocketsUpdateList_" + itm.dockno + "__Pkgs_Pending";
                    var clateReson = "DRSDocketsUpdateList_" + itm.dockno + "__cboLateReason";
                    var divlateresion = "Clatereson_" + itm.dockno;
                    var blink = "blink_" + itm.dockno;
                    var PkingID = "pkgpending_" + itm.dockno;
                 <text>
                $("#@PkgsDeliveryID").live('blur', function () {
                    var PkgsDeliveryIDval = $("#@PkgsDeliveryID").val();
                    var PKgsPendingval = $("#@PKgsPending").val();
                    var clateResonID = $("#@clateReson");
                    var clresion = $("#@divlateresion");
                    var clsblink = $(".@blink");
                    var PKgID = $("#@PkingID")
                    if (parseInt(PkgsDeliveryIDval) <= parseInt(PKgsPendingval)) {
                        clresion.show();
                        clateResonID.addClass('required');
                        PKgID.removeClass('fontsize')
                    }
                    else {
                        PKgID.addClass('fontsize')
                        clateResonID.removeClass('required');
                        clresion.hide();
                    }
                });
                </text>
                }
            }
        }
    }();
</script>
