﻿@{
    ViewBag.Title = "Update Single " + @ViewBag.DKTCalledAs + " DRS";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Docket = @ViewBag.DRSNO;
}

@if (ViewBag.Status)
{
    <div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-check"></i>Single @ViewBag.DKTCalledAs Update Successfully Done
                </div>
            </div>
            <div class="portlet-body">
                <div class="margin-top-10 margin-bottom-10 clearfix">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @ViewBag.DKTCalledAs Number
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <b>@Docket</b>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <span class="label label-danger">
                    NOTE!
                </span>&nbsp;
                <span>
                    <a href="@Url.Content("~/Operation/SingleCNoteUpdateInDRS")">Click here to Update more Single @ViewBag.DKTCalledAs in DRS.</a>
                </span>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-danger fade in center">
            <h2 class="alert-heading">Opps! @ViewBag.Title fail</h2>
            <h4>
                There is some issue with process. <br />Please check your internet connection else contact your administrator or service provider.
                <br /><br /><b> @Docket</b>
            </h4>
        </div>
    </div>
}
