﻿@model Fleet.ViewModels.Docket
@{
    ViewBag.Title = ViewBag.DKTCalledas + " Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Docket = @ViewBag.DOCKNO;
}

@*<div class="alert alert-block alert-success fade in center">
        <h2 class="alert-heading">Success! Docket Done.</h2>
        <h4>
            Docket NO : @ViewBag.DOCKNO
        </h4>

    </div>*@
@using (Html.BeginForm("", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-check"></i>@ViewBag.Title Successfully Done
                </div>
            </div>
            <div class="portlet-body">
                <div class="margin-top-10 margin-bottom-10 clearfix">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @ViewBag.Title Number
                                </th>
                                <th class="center">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <b>@Docket</b>
                                </td>
                                <td>
                                    <a href="javascript:OrderView('1','@Docket')"><b><i class="fa fa-print"></i>&nbsp;View</b></a> ||
                                    <a href="javascript:OrderView('2','@Docket')"><b><i class="fa fa-print"></i>&nbsp;Print</b></a> ||
                                    <a href="javascript:OrderView('3','@Docket')"><b><i class="fa fa-print"></i>&nbsp;New @ViewBag.DKTCalledAs View</b></a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>
                                    <b>Send Cnote Copy On Mail</b>
                                </td>
                                <td>
                                    <div id="Div_mail">
                                        @Html.TextBoxFor(model => model.ConsignorEmail, new { @class = "form-control required required2 email", @placeholder = "Email" })

                                        <span class="input-group-btn">
                                            <a href="#" class="btn blue" id="btn_EmailSubmit">
                                                Send
                                            </a>
                                        </span>
                                    </div>
                                    <div id="Div_Status" style="display:none;">
                                        <label id="Status" style="color:green;font-weight:bold;"></label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <span class="label label-danger">
                    NOTE!
                </span>&nbsp;
                <span>
                    Click on @ViewBag.DKTCalledas Number for View and Print . ||
                    @if (ViewBag.id == 1)
                    {
                        <a href="@Url.Content("~/Operation/Docket?Type=2")">Click to Add more @ViewBag.DKTCalledas</a>
                    }
                    @*else if (ViewBag.id == 2)
                    {
                        <a href="@Url.Content("~/Operation/DocketEditCretria")">Click to Edit more @ViewBag.DKTCalledas</a>
                    }*@
                </span>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    function OrderView(Type, DocketNo) {
        var ReportURL = '@ViewBag.ReportURL';
        var URLPrefix = '@ViewBag.URLPrefix';

        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        //var strPopupURL = ReportURL + DomainName + "/ViewPrint/DocketViewPrint?Type=" + Type + "&DocketNo=" + DocketNo;
        var strPopupURL = ReportURL + DomainName + "/ViewPrint/GC_XLSGeneration?Dockno=" + DocketNo + "&Docksf=.&Type=" + Type;
        if (Type == "2")
        {
            var strPopupURL = URLPrefix + "/Fleet/GUI/Operation/DocketEntry/DocketPrint/AutoRangePrint_Fleet.aspx?tp=0&docknos=" + DocketNo + "&docksf=.";
        }
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;
    }

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {
                    'WMU.confirmPassword': {
                        equalto: "Please enter the same Password again.",
                        minlength: jQuery.format("Please select at least one option")
                    }

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var SendMail = function SendMail(DomainName) {
            App.blockUI({ boxed: true });
            var EmailId = $("#ConsignorEmail").val();
            if (EmailId == "") {
                alert("Please Fill Email ID")
                $("#ConsignorEmail").focus();
                return false;
            }
            var Dockno = '@ViewBag.DOCKNO';
            if (EmailId != "") {
                var strurl = DomainName + "/Operation/SendDocketOnMail?Dockno=" + Dockno + "&EmailId=" + EmailId;

                $.ajax({
                    url: strurl,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (data) {
                        if (data.status == 1) {
                            $("#Div_mail").hide();
                            $("#Div_Status").show();
                            $("#Status").text("Mail Send Successfully");
                            App.unblockUI();
                        } else {
                            $("#Status").text("Mail Not Send Please Try Later");
                            $("#Status").css('color', 'red')
                            $("#Div_mail").show();
                            $("#Div_Status").show();
                            App.unblockUI();
                        }

                    },
                    error: function (req, status, error) {
                        $("#Status").css('color', 'red')
                        $("#Status").text("Mail Not Send Please Try Later");
                        $("#Div_mail").show();
                        $("#Div_Status").show();
                        App.unblockUI();
                    }
                });

            }

        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);

                $('#btn_EmailSubmit').click(function () {
                    SendMail(DomainName);
                });
            }
        }
    }();
</script>