﻿@{
    ViewBag.Title = "VendorContractViewPrint";
    Layout = null;
}

@using System.Configuration
@model Fleet.ViewModels.Webx_Vendor_Contract_Summary_Ver1ViewModel
@using MvcReportViewer;

@{
    var parameters = new List<KeyValuePair<string, object>>
    {

        new KeyValuePair<string, object>("ContractID",Model.ContractID),

    };

    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();

}
<div id="divPrint">

    @Html.MvcReportViewer(ReportPathPrefix + "/VendorContractView", parameters, new { Height = 600, Width = "100%", style = "border: none" })

    <div class="span3"></div>
</div>
