﻿@using System.Configuration;
@using Fleet.Classes;
@{
    ViewBag.Title = "AdminDashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";


    GeneralFuncations GF = new GeneralFuncations();
    var CurrYear = @ViewBag.BaseFinYear.Split('-')[0];
    var LastYear = Convert.ToInt32(CurrYear) - 1;
    var curFile = System.Web.HttpContext.Current.Server.MapPath(ConfigurationManager.AppSettings["App_Data"].ToString());
    var CNoteSalesResult = System.IO.File.ReadAllText(curFile + "USP_CNoteSales_Revenue.txt");
    var YearWiseMonthWiseSalesResult = System.IO.File.ReadAllText(curFile + "USP_GetYearWiseMonthWiseSales.txt");
    DateTime AdminDashboardLastUpdatedOn = Convert.ToDateTime(GF.GetDataTableFromSP("SELECT ISNULL(LastUpdatedDate,GETDATE()) FROM Webx_Master_General WHERE CodeType='AdminDashboardLastUpdatedOn' AND CodeId='01'").Rows[0][0]);
    AdminDashboardLastUpdatedOn = AdminDashboardLastUpdatedOn == System.DateTime.MinValue ? System.DateTime.Now : AdminDashboardLastUpdatedOn;
}

<script src="~/Scripts/DashBoard/core.js"></script>
<script src="~/Scripts/DashBoard/charts.js"></script>
<script src="~/Scripts/DashBoard/animated.js"></script>

<div class="row">
    <div class="col-md-12">
        <h4>
            <b>Data As on | @AdminDashboardLastUpdatedOn.ToString("dd MMM yyyy hh:mm:ss tt"). </b>
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="portlet solid bordered light-grey">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bar-chart-o"></i><b>@CurrYear</b> Sales
                </div>
            </div>
            <div class="portlet-body">
                <div id="salesDiv" style="height:250px;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet solid bordered light-grey">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bar-chart-o"></i><b>@LastYear - @CurrYear</b> Sales Comparison
                </div>
            </div>
            <div class="portlet-body">
                <div id="CurrentFinYearMonthWiseSales" style="height:250px;"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">



    var FormComponents = function (DomainName) {

        var yearWiseMonthWiseSales = function (divID, result) {
            App.blockUI({ target: '#' + divID,boxed: true});
            result = JSON.parse(result);
            am4core.useTheme(am4themes_animated);
            var chartData = [];
            var headers = GetHeaders(result[1]);
            var dataString = "";
            // Create chart instance
            var chart = am4core.create(divID, am4charts.XYChart);

            /* Create data */
            for (var i = 0; i < result.length; i++) {
                for (var j = 0; j < headers.length - 1; j++) {
                    dataString += (dataString == '' ? '' : ',') + ('"' + [headers[j]['data']] + '":"' + result[i][headers[j]['data']] + '"');
                }
                chartData.push(JSON.parse("{" + dataString + "}"));
                dataString = "";
            }
            console.log(chartData);
            chart.data = chartData;

            // Create category axis
            var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
            categoryAxis.dataFields.category = headers[0]['data'];
            categoryAxis.renderer.opposite = false;

            // Create value axis
            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
            valueAxis.renderer.inversed = false;
            //valueAxis.title.text = "Salae Amount (Lakh)";
            //valueAxis.renderer.minLabelPosition = 0.01;

            // Create series
            for (var i = 1; i < headers.length - 1; i++)
            {
                createAxisAndSeries(headers[i]['data']);
            }

            function createAxisAndSeries(field) {
                var series1 = chart.series.push(new am4charts.LineSeries());
                series1.dataFields.valueY = field;
                series1.dataFields.categoryX = headers[0]['data'];
                series1.name = field;
                series1.strokeWidth = 2;
                series1.bullets.push(new am4charts.CircleBullet());
                series1.tooltipText = "{name} [bold]{categoryX} [/]- Sale : [bold]{valueY} (Lakh)";
                series1.legendSettings.valueText = "{valueY}";
                series1.visible = true;
            }

            // Add chart cursor
            chart.cursor = new am4charts.XYCursor();
            chart.cursor.behavior = "zoomY";

            // Add legend
            chart.legend = new am4charts.Legend();
            chart.exporting.menu = new am4core.ExportMenu();
            App.unblockUI('#' + divID);
        }

        var salesData = function (divID, result) {
            App.blockUI({ target: '#' + divID, boxed: true });
            result = JSON.parse(result);
            am4core.useTheme(am4themes_animated);
            var chart = am4core.create(divID, am4charts.XYChart);
            chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

            chart.maskBullets = false;

            var xAxis = chart.xAxes.push(new am4charts.CategoryAxis());
            var yAxis = chart.yAxes.push(new am4charts.CategoryAxis());

            xAxis.dataFields.category = "x";
            yAxis.dataFields.category = "y";

            xAxis.renderer.grid.template.disabled = true;
            xAxis.renderer.minGridDistance = 40;

            yAxis.renderer.grid.template.disabled = true;
            yAxis.renderer.inversed = false;
            yAxis.renderer.minGridDistance = 30;

            var series = chart.series.push(new am4charts.ColumnSeries());
            series.dataFields.categoryX = "x";
            series.dataFields.categoryY = "y";
            series.dataFields.value = "value";
            series.sequencedInterpolation = true;
            series.defaultState.transitionDuration = 3000;

            // Set up column appearance
            var column = series.columns.template;
            column.strokeWidth = 2;
            column.strokeOpacity = 1;
            column.stroke = am4core.color("#ffffff");
            column.tooltipText = "{x}, {y}: {value.workingValue.formatNumber('##,###.#0')}";
            column.width = am4core.percent(100);
            column.height = am4core.percent(100);
            column.column.cornerRadius(6, 6, 6, 6);
            column.propertyFields.fill = "color";

            var bullet2 = series.bullets.push(new am4charts.LabelBullet());
            bullet2.label.text = "{value}";
            bullet2.label.fill = am4core.color(chart.colors.getIndex(0).brighten(-0.8));
            bullet2.zIndex = 1;
            bullet2.fontSize = 11;
            bullet2.fontWeight = "800";
            bullet2.interactionsEnabled = false;

            var colors = {
                "critical": chart.colors.getIndex(0).brighten(-0.8),
                "bad": chart.colors.getIndex(1).brighten(-0.6),
                "medium": chart.colors.getIndex(1).brighten(-0.4),
                "good": chart.colors.getIndex(1).brighten(-0.2),
                "verygood": chart.colors.getIndex(1).brighten(0)
            };

            var data = [];
            var series = result.length;
            var k = 0;
            var headers = GetHeaders(result[1]);
            for (var j = 3; j < headers.length - 1; j++) {
                for (var i = 0; i < series; i++) {
                    var value = result[i][headers[j]["data"]];
                    data[k] = {
                        "y": headers[j]["data"],
                        "x": result[i].ReportDateLabel,
                        "color": colors.verygood,
                        "value": value
                    }
                    k++;
                }
            }
            //console.log(data);
            chart.data = data;
            chart.exporting.menu = new am4core.ExportMenu();
            App.unblockUI('#' + divID);
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                salesData("salesDiv", ("@CNoteSalesResult").replace(/&quot;/g, '"').toString());
                yearWiseMonthWiseSales("CurrentFinYearMonthWiseSales", ("@YearWiseMonthWiseSalesResult").replace(/&quot;/g, '"').toString());
            }
        };
    }();
</script>