﻿@{
    ViewBag.Title = "ErrorTransaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">@ViewBag.Message</h2>
</hgroup>
