﻿@model Fleet.ViewModels.DashboardModal
@using FleetDataService.Models
@using Fleet.ViewModels;
@using System.Data;
@{
    ViewBag.Title = "Welcome to ";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_VEHICLE_HDR> ListVehicles = MS.GetVehicleObject().Where(c => c.ACTIVEFLAG.ToUpper() == "Y").ToList();
}
<style type="text/css">
    html, body, #map-canvas {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    #salesdiv {
        height: 220px;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFj6e5SbiuI_lmsa09LglI-rNHkEeGbto&libraries=places&sensor=false"></script>
<script src="~/Scripts/DashBoard/core.js"></script>
<script src="~/Scripts/DashBoard/charts.js"></script>
<script src="~/Scripts/DashBoard/animated.js"></script>
@section featured {


    <div class="row">

        @if (ViewBag.BaseUserName.ToUpper() == "RAHULS" || ViewBag.BaseUserName.ToUpper() == "CYGNUSTEAM" || ViewBag.BaseUserName.ToUpper() == "CSERP")
        {

            <div class="col-md-6">
                <div class="alert alert-info note-info">
                    <strong>Info!</strong> <a href='@Url.Content("~/Home/VehhicleGPSStatus")'><i>Click here</i></a> to view Vehicle's GPS Status.
                </div>
            </div>
            using (Html.BeginForm("TyreRemoval", "Home", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
            {
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-9">
                            <label class="control-label col-md-3">Truck No. : </label>
                            <div class="col-md-8">
                                @Html.DropDownList("TrucNo", new SelectList(ListVehicles, "VEHNO", "VEHNO"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Truck No." })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" id="btnSubmit" class="btn btn-sm default blue-stripe"><i class="fa fa-search"></i>&nbsp;Get List</button>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="wordtree_basic" style="width: 100%; height: 1000px;"></div>
        </div>

        <div class="col-offset-1 col-md-5">
            <div class="col-md-offset-1 col-md-12">

                <div class="portlet box @ViewBag.TableBoxColor">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i>SOP List
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover" id="SopFileList" style="overflow-x: scroll;"></table>
                    </div>
                </div>

                <div class="portlet box @ViewBag.TableBoxColor">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i>Fleet - Just In
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="caption">
                            <marquee>
                                <b style="color: @Model.JustInData.Color;">
                                    @Model.JustInData.Updates
                                </b>
                            </marquee>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-12">
                <div class="portlet box @ViewBag.TableBoxColor">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i>Fleet News
                        </div>
                    </div>
                    <div class="portlet-body">
                        @foreach (var item in Model.NewsDataList)
                        {
                            <div class="caption" style="color: @item.Color;">
                                <ol>
                                    <b>
                                        <i class="fa fa-circle " style="font-size:7px"></i>  @item.Heading
                                    </b>


                                </ol>
                                <ol>
                                    @item.Updates
                                </ol>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>

    @*<input type="button" id="routebtn" value="route" />
        <div id="map-canvas" style="position: absolute;overflow: hidden;"></div>*@
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/Scripts/SMTPEmail.js"></script>
<script type="text/javascript">


    function sendMail() {
        debugger;
        var result = "";

        var oMail = new EASendMailRT.SmtpMail("TryIt");
        var oSmtp = new EASendMailRT.SmtpClient();

        // Set sender email address, please change it to yours
        oMail.from = new EASendMailRT.MailAddress("info@rcpl.net.in");

        // Add recipient email address, please change it to yours
        oMail.to.add(new EASendMailRT.MailAddress("nittin.vaghasia@gmail.com"));

        // Set email subject
        oMail.subject = "test email from JavaScript HTML5 project";

        // Set email body
        oMail.textBody = "this is a test email sent from Windows Store App, do not reply";

        // Your SMTP server address
        var oServer = new EASendMailRT.SmtpServer("smtp.sendgrid.net");

        // User and password for ESMTP authentication
        oServer.user = "tradebooster";
        oServer.password = "sam123rat";

        // If your SMTP server requires TLS connection on 25 port, please add this line
        // oServer.connectType = EASendMailRT.SmtpConnectType.connectSSLAuto;

        // If your SMTP server requires SSL connection on 465 port, please add this line
        // oServer.port = 465;
        // oServer.connectType = EASendMailRT.SmtpConnectType.connectSSLAuto;

        oSmtp.sendMailAsync(oServer, oMail).then(function (e) {
            result = "Email was sent successfully!";

            // Display Result by Diaglog box
            (new Windows.UI.Popups.MessageDialog(result, "Success")).showAsync();
        },

        function (e) {
            // because javascript exception only gives the stack trace messages, but it is not
            // real description of exception, so we give a property lastErrorMessage for javascript.
            if (oSmtp.lastErrorMessage != "") {
                result = oSmtp.lastErrorMessage;
            }
            else {
                result = e.message;
            }
            oSmtp.close();

            // Display Result by Diaglog box
            (new Windows.UI.Popups.MessageDialog(result, "Error Information")).showAsync();
        });
    }

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                },

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    App.blockUI({ boxed: true });
                    $("#btnSubmit").hide();
                    document.forms["form_sample"].submit();
                }
            });
        }

        var loadSOPTableData = function (DomainName, tblId) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Home/Getsop_filelist'
            $.ajax({
                url: "@Url.Action("GetData", "Home")",
                type: 'POST',
                dataType: "json",
                data: {
                    Method: 'USP_GetSop_filelist',
                    parameters: 0,
                },
                success: function (result) {
                    //console.log(result);
                    if ($.fn.DataTable.isDataTable('#' + tblId)) {
                        $('#' + tblId).DataTable().destroy();
                    }

                    App.unblockUI();

                    $('#' + tblId).empty();
                    if (result.length > 0) {
                        //console.log(tblId)
                        var table = $('#' + tblId).DataTable({
                            data: result,
                            columns: GetHeaders(result[0]),
                            "bPaginate": true,
                            "bDestroy": true,
                            "aoColumnDefs": [
                                { "className": "center text-uppercase", "targets": "_all" },
                                {
                                    "aTargets": [2],
                                    "mRender": function (data, type, full) {
                                        return '<a href="' + DomainName + '/Images/UploadSOP/' + data.trim() + '" target="_Blank" class="btn default btn-xs blue-stripe"><i class="fa fa-download"></i>&nbsp;Download</a>';
                                    }
                                },
                            ],
                        });
                        formateDataTable(tblId)
                    }
                }
            });

        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                loadSOPTableData(DomainName, "SopFileList");


                var Subject = "Enquiry From RCPL Air Cargo Services";
                var Body = '<table width="500" border="1" cellpadding="0" cellspacing="0" bordercolor="#CCCCCC"> ' +
                            '<tr>' +
            '<td><table width="500" border="0" cellspacing="0" cellpadding="8">' +
              '<tr>' +
                '<td colspan="2" bgcolor="#CDD9F5"><strong>ENQUIRY FORM OF ADWORDS AIR CARGO SERVICES</strong></td>' +
              '</tr>' +
              '<tr>' +
                '<td width="168" bgcolor="#FFFFEC"><strong>NAME:</strong></td>' +
                '<td width="290" bgcolor="#FFFFEC">name</td>' +
              '</tr>' +
              '<tr>' +
                '<td bgcolor="#FFFFDD"><strong>EMAIL:</strong></td>' +
                '<td bgcolor="#FFFFDD">email</td>' +
              '</tr>' +
              '<tr>' +
                '<td bgcolor="#FFFFEC"><strong>LOCATION: </strong></td>' +
                '<td bgcolor="#FFFFEC">city</td>' +
              '</tr>' +
              '<tr>' +
                '<td bgcolor="#FFFFDD"><strong>PHONE: </strong></td>' +
                '<td bgcolor="#FFFFDD">phone</td>' +
              '</tr>' +
              '<tr>' +
                '<td bgcolor="#FFFFEC"><strong>MESSAGE: </strong></td>' +
                '<td bgcolor="#FFFFEC">message </td>' +
              '</tr>' +
              '<tr>' +
                '<td bgcolor="#FFFFDD">&nbsp;</td>' +
                '<td bgcolor="#FFFFDD">--------</td>' +
              '</tr>' +
            '</table></td>' +
          '</tr>' +
        '</table>';
                //console.log(encodeURIComponent(Body))
                var From = "info@rcpl.net.in";
                var Title = "RCPL";
                var To = "nittin.vaghasia@gmail.com;d.chirag.j@gmail.com";
                var Host = "smtp.sendgrid.net";
                var Port = "587"; //Default
                var username = "tradebooster";
                var password = "sam123rat";
                var IsBodyHtml = true; //Default true
                var EnableSsl = true; //Default true
                var data = 'From=' + From + '&Title=' + Title + '&To=' + To + '&Subject=Test&Body=' + Body + '&Host=' + Host + '&Port=' + Port + '&username=' + username + '&password=' + password + '&IsBodyHtml=' + IsBodyHtml + '&EnableSsl=' + EnableSsl + '';

            }
        }
    }();


    google.charts.load('current', { packages: ['wordtree'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable(
          [['Phrases'],
            ['HQTR MP Indore Area - Lohamandi Booking'],
            ['HQTR MP Indore Area - Lohamandi Delivery'],
            ['HQTR MP Indore Area - Dewas Naka'],
            ['HQTR MP Indore Area - Panchkuiya'],
            ['HQTR MP Indore Area - Pithampur'],
            ['HQTR MP Indore Area - Ujjain'],
            ['HQTR MP Indore Area - Dewas'],
            ['HQTR MP Bhopal Area - Bhopal'],
            ['HQTR MP Mandideep Area - Mandideep'],
            ['HQTR MP Gwalior Area - Gwalior'],
            ['HQTR MP Jabalpur Area - Jabalpur'],
            ['HQTR MP Jabalpur Area - Satna'],
            ['HQTR MP Jabalpur Area - Katni'],
            ['HQTR MP Jabalpur Area - Reewa'],
            ['HQTR CG Raipur Area - Raipur'],
            ['HQTR CG Raipur Area - Bilaspur'],
            ['HQTR CG Raipur Area - Durg'],
            ['HQTR CG Raipur Area - Bhilahi'],
            ['HQTR GUJRAT REGIONAL Ahemdabad  Area - RAKHIYAL-ADI'],
            ['HQTR GUJRAT REGIONAL Ahemdabad  Area - ASLALI-ADI'],
            ['HQTR GUJRAT REGIONAL Ahemdabad  Area - BHARUCH'],
            ['HQTR GUJRAT REGIONAL Ahemdabad  Area - BHAVNAGAR'],
            ['HQTR GUJRAT REGIONAL Ahemdabad  Area - CHHATRAL'],
            ['HQTR GUJRAT REGIONAL Ahemdabad  Area - NADIAD'],
            ['HQTR GUJRAT REGIONAL Ahemdabad  Area - NAROL CHARRASTA AGENCY'],
            ['HQTR GUJRAT REGIONAL Ahemdabad  Area - NARODA'],
            ['HQTR GUJRAT REGIONAL Ahemdabad  Area - NAROL ISHANPUR'],
            ['HQTR GUJRAT REGIONAL Ahemdabad  Area - AHMEDABAD-PIPLEJ'],
            ['HQTR GUJRAT REGIONAL Ahemdabad  Area - SACHIN'],
            ['HQTR GUJRAT REGIONAL Ahemdabad  Area - SARKHEJ - ADI'],
            ['HQTR GUJRAT REGIONAL Ahemdabad  Area - SURENDRANAGAR'],
            ['HQTR GUJRAT REGIONAL Ahemdabad  Area - ADI-SARANGPUR'],
            ['HQTR GUJRAT REGIONAL Ahemdabad  Area - SANTEJ'],
            ['HQTR GUJRAT REGIONAL Ahemdabad  Area - UMBERGAON'],
            ['HQTR GUJRAT REGIONAL Ahemdabad  Area - UNJHA'],
            ['HQTR GUJRAT REGIONAL Baroda Area- FERTILIZER NAGAR'],
            ['HQTR GUJRAT REGIONAL Baroda Area - BARODA'],
            ['HQTR GUJRAT REGIONAL Baroda Area - ANKLESHWAR'],
            ['HQTR GUJRAT REGIONAL Baroda Area - ANANAD-V.V.NAGAR'],
            ['HQTR GUJRAT REGIONAL Baroda Area - GODHRA'],
            ['HQTR GUJRAT REGIONAL Baroda Area - HALOL'],
            ['HQTR GUJRAT REGIONAL Baroda Area - MAKARPURA - BRD'],
            ['HQTR GUJRAT REGIONAL Baroda Area- SURAT CITY'],
            ['HQTR GUJRAT REGIONAL Baroda Area- SURAT'],
            ['HQTR GUJRAT REGIONAL Baroda Area - VAPI'],
            ['HQTR GUJRAT REGIONAL Baroda Area - WAGHODIA'],
            ['HQTR GUJRAT REGIONAL Rajkot Area - RAJKOT-MAIN'],
            ['HQTR GUJRAT REGIONAL Rajkot Area - JAMNAGAR'],
            ['HQTR GUJRAT REGIONAL Rajkot Area - JUNAGADH'],
            ['HQTR GUJRAT REGIONAL Rajkot Area - JETPUR'],
            ['HQTR GUJRAT REGIONAL Rajkot Area - METODA'],
            ['HQTR GUJRAT REGIONAL Rajkot Area - NAWAGAON'],
            ['HQTR GUJRAT REGIONAL Rajkot Area - RAJKOT CITY BHAKTINAGAR'],
            ['HQTR GUJRAT REGIONAL Rajkot Area - RAJKOT GIDC'],
            ['HQTR GUJRAT REGIONAL Rajkot Area - SHAPAR'],
            ['HQTR GUJRAT REGIONAL Rajkot Area - VERAVAL'],
            ['HQTR MAHARASHTRA REGIONAL Bhiwandi Area - BHIWANDI'],
            ['HQTR MAHARASHTRA REGIONAL Bhiwandi Area - MASJID BANDER'],
            ['HQTR MAHARASHTRA REGIONAL Bhiwandi Area - VASHI'],
            ['HQTR MAHARASHTRA REGIONAL Bhiwandi Area - WASHIM'],
            ['HQTR MAHARASHTRA REGIONAL Bhiwandi Area - VASAI-MUMBAI'],
            ['HQTR MAHARASHTRA REGIONAL Bhiwandi Area - WAZIRPUR'],
            ['HQTR MAHARASHTRA REGIONAL Bhiwandi Area - ANDHERI-MUMBAI'],
            ['HQTR MAHARASHTRA REGIONAL Aurangabad Area - WALUJ'],
            ['HQTR MAHARASHTRA REGIONAL Aurangabad Area - AURANGABAD CITY'],
            ['HQTR MAHARASHTRA REGIONAL Pune Area - ACCOUNT OFFICE - PUNE'],
            ['HQTR MAHARASHTRA REGIONAL Pune Area - NAGPUR'],
            ['HQTR MAHARASHTRA REGIONAL Pune Area - KOLHAPUR'],
            ['HQTR MAHARASHTRA REGIONAL Pune Area - NASHIK'],
            ['HQTR MAHARASHTRA REGIONAL Pune Area - CHAKAN'],
            ['HQTR MAHARASHTRA REGIONAL Pune Area - PHURSUNGI'],
            ['HQTR MAHARASHTRA REGIONAL Pune Area - WAGHOLI'],
            ['HQTR MAHARASHTRA REGIONAL Maratwada Area - JALGAON'],
            ['HQTR MAHARASHTRA REGIONAL Maratwada Area - TEMBURNI'],
            ['HQTR MAHARASHTRA REGIONAL Maratwada Area - SOLAPUR'],
            ['HQTR MAHARASHTRA REGIONAL Maratwada Area - SILLOD'],
            ['HQTR MAHARASHTRA REGIONAL Maratwada Area - BEED'],
            ['HQTR MAHARASHTRA REGIONAL Maratwada Area - BARSHI'],
            ['HQTR MAHARASHTRA REGIONAL Maratwada Area - HINGOLI'],
            ['HQTR MAHARASHTRA REGIONAL Maratwada Area - JALNA'],
            ['HQTR MAHARASHTRA REGIONAL Maratwada Area - LATUR'],
            ['HQTR MAHARASHTRA REGIONAL Maratwada Area - NANDED'],
            ['HQTR MAHARASHTRA REGIONAL Maratwada Area - PARBHANI'],
            ['HQTR MAHARASHTRA REGIONAL Delhi Area - PANTNAGAR'],
            ['HQTR MAHARASHTRA REGIONAL Delhi Area - DELHI'],
            ['HQTR MAHARASHTRA REGIONAL Delhi Area - FARIDABAD'],
            ['HQTR MAHARASHTRA REGIONAL Delhi Area - GANDHI NAGAR DELHI'],
            ['HQTR MAHARASHTRA REGIONAL Delhi Area - GURGAON'],
            ['HQTR MAHARASHTRA REGIONAL Delhi Area - KUNDLI BORDER'],
            ['HQTR MAHARASHTRA REGIONAL Delhi Area - KAMLA MARKET'],
            ['HQTR MAHARASHTRA REGIONAL Delhi Area - KAROL BAGH'],
            ['HQTR MAHARASHTRA REGIONAL Delhi Area - KARNAL'],
            ['HQTR MAHARASHTRA REGIONAL Delhi Area - KASHMERE GATE'],
            ['HQTR MAHARASHTRA REGIONAL Delhi Area - LAJPAT RAI MARKET'],
            ['HQTR MAHARASHTRA REGIONAL Delhi Area - BAWANA']
          ]
        );

        var options = {
            maxFontSize: 14,
            wordtree: {
                format: 'implicit',
                word: 'HQTR'
            }
        };

        var chart = new google.visualization.WordTree(document.getElementById('wordtree_basic'));
        chart.draw(data, options);
    }

</script>
