﻿@model Fleet.ViewModels.TyreRemovalViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "Tyre Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_VEHICLE_HDR> ListVehicles = MS.GetVehicleObject();
    var i = 1;
}

@using (Html.BeginForm("TyreRemovalList", "Fleet", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Truck No. :
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.TrucNo, new { @class = "form-control", @readonly = "true" })
                                        @Html.HiddenFor(c => c.TrucNo)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Tyre As Per Excel :
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.Tyre_Pr_Alex, new { @class = "form-control required required2", @placeholder = "Tyre As Per Alex", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @readonly = "true" })
                                        @Html.HiddenFor(c => c.Tyre_Pr_Alex)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Actual Tyre :
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.Actual_Tyre, new { @class = "form-control required required2", @placeholder = "Actual Tyre", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @readonly = "true" })
                                        @Html.HiddenFor(c => c.Actual_Tyre)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Pending Tyre :
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.Pending_Tyre, new { @class = "form-control required required2", @placeholder = "Pending Tyre", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @readonly = "true" })
                                        @Html.HiddenFor(c => c.Pending_Tyre)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-8">
                                <button type="button" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Get List</button>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title List
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center">#</th>
                                    <th class="center">Tyre No</th>
                                    <th class="center">Size</th>
                                    <th class="center">Tyre MFG</th>
                                    <th class="center">Issue Date</th>
                                </tr>
                            </thead>
                            <tbody id="ListTyreRemoval">
                                @foreach (var item in Model.listVWTDNM.ToList().OrderBy(c => c.TYRE_ID))
                                {
                                    <tr>
                                        <td class="center">
                                            @i
                                        </td>
                                        <td class="center">
                                            @item.TYRE_NO
                                        </td>
                                        <td class="center">
                                            @item.SIZE
                                        </td>
                                        <td class="center">
                                            @item.MFG
                                        </td>
                                        <td class="center">@item.IssueDate</td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                        <div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                <a href="@Url.Content("~/Home/Index")" class="btn btn-sm default controls hidden-print"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
                                <a class="btn btn-sm blue hidden-print" onclick="javascript:window.print();">
                                    Print <i class="fa fa-print"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                },

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    App.blockUI();
                    $("#btnSubmit").hide();
                    //document.forms["form_sample"].submit();
                }
            });
        }

        var SelectCheckBox = function (DomainName) {
            var totAMT = 0;
            var StrDocno = "";
            $(".chkactive").each(function () {
                var checked = $(this).is(":checked");
                if (checked) {
                    if (StrDocno == "")
                        StrDocno = $(this).attr("data-value");
                    else
                        StrDocno = StrDocno + "," + $(this).attr("data-value");
                    totAMT = totAMT + 1;
                }
            });
            $(".ClsbtnSave").hide();
            $("#POC_TotalRecods").val(totAMT);
            $("#POC_PONO").val(StrDocno);
            if (totAMT > 0) {
                $(".ClsbtnSave").show();
            }
        }
        return {
            init: function (DomainName) {

                Formvalidate(DomainName);
                $('.date-picker').datepicker({
                    isRTL: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    todayBtn: true,
                    startDate: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate() - 10)
                });
                $(".ClsbtnSave").hide();
                $("#chkall").live('change', function () {
                    var checked = jQuery(this).is(":checked");
                    $(".chkactive").each(function () {
                        if (checked) {
                            $(this).attr("checked", true);
                            $(this).parents('span').addClass("checked");
                        } else {
                            $(this).attr("checked", false);
                            $(this).parents('span').removeClass("checked");
                        }
                    });
                    SelectCheckBox(DomainName);
                });

                $(".chkactive").live('change', function () {

                    var Id = $(this).attr('Id').replace("active", "");
                    var checked = jQuery(this).is(":checked");

                    if (checked) {
                        $("#" + Id + "Removal_KM").attr("readonly", false);
                        $("#" + Id + "Removal_KM").attr("min", $("#" + Id + "MANUAL_MOUNT_KM_RUN").val());

                        $("#" + Id + "LifeOfTyre").attr("readonly", false);
                    }
                    else {
                        $("#" + Id + "Removal_KM").val("0");
                        $("#" + Id + "Removal_KM").attr("min", "0");
                        $("#" + Id + "Removal_KM").attr("readonly", true);

                        $("#" + Id + "LifeOfTyre").val("0");
                        $("#" + Id + "LifeOfTyre").attr("min", "0");
                        $("#" + Id + "LifeOfTyre").attr("readonly", true);
                    }

                    SelectCheckBox(DomainName);
                });

                $("#Pending_Tyre").val(Math.abs(parseInt(@Model.Actual_Tyre) - parseInt(@Model.Tyre_Pr_Alex)));

                $(".RKM").live('change', function () {

                    var Id = $(this).attr('Id').replace("TyreRemoval_", "").replace("__Removal_KM", "");

                    var cost = parseFloat($("#TyreRemoval_" + Id + "__TYRE_COST").val());
                    var fitkm = parseFloat($("#TyreRemoval_" + Id + "__MANUAL_MOUNT_KM_RUN").val());

                    $("#TyreRemoval_" + Id + "__Distance").val(parseFloat($(this).val()) - parseFloat(fitkm));

                    $("#TyreRemoval_" + Id + "__Per_KM_Cost").val(parseFloat(parseFloat(cost) / parseFloat($("#TyreRemoval_" + Id + "__Distance").val())).toFixed(2));
                });
            }
        }
    }();
</script>