﻿@model CYGNUS.Models.WEBX_Advice_Hdr
@using FleetDataService.Models
@using Fleet.Helpers
@{
   // Model.AdviceDt = System.DateTime.Now;
}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.SrNo, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("AdviceList", Model.SrNo.ToString()))
    {
        <td class="">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Adviceno, new { placeholder = "Advice No", @class = "form-control required clsChkDuplicate" })
                </div>
            </div>
        </td>
        <td class="">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.AdviceDt, String.Format("{0:dd/MM/yyyy}",Convert.ToDateTime(System.DateTime.Now).ToString("dd/MM/yyyy")), new { placeholder = "Advice No", @class = "form-control required ", @readonly = "True" })
                </div>
            </div>
        </td>
        <td class="">
            <div class="form-group">
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.RaisedOn, new { placeholder = "Raised On", @class = "form-control required", @readonly = "true" })
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.UpdatedRaisedCode, "", new { @class = "form-control LocationDDL", @readonly = "true" })
                </div>
            </div>
        </td>
        <td class="row">
            <div class="col-md-2">
                @Html.CheckBoxFor(m => m.IsCheck, new { @class = " form-control chk_Advice", @readonly = "true" })
            </div>
            <div class="input-group col-md-10">
                <div class="input-group input-medium date date-picker1" data-date-format="dd MMM yyyy" data-date-start-date="">
                    @Html.TextBox("cancel_date", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = "form-control required", @readonly = "True" })
                    <span class="input-group-btn" id="cancel_date_@Model.SrNo">
                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            </div>
        </td>
        <td class="">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Cancel_Reason, new { placeholder = "Cancel Reason", @class = "form-control", @readonly = "true" })
                </div>
            </div>
        </td>

        <td class="center">
            @if (Model.SrNo > 0)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
            }
        </td>

    }
</tr>
