﻿@model FleetDataService.Models.webx_VENDOR_HDR
@using FleetDataService.Models
@using Fleet.Helpers;
@using Fleet.Classes;
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_location> test = MS.GetLocationDetails();
}
<tr>
    @using (Html.BeginCollectionItem("BALANCE", Model.THCNo.ToString()))
{
    <td class="center">
        @Html.CheckBoxFor(m => m.IsChecked, new { @class = " form-control CLSCHK" })
    </td>
    <td class="center">
        @Html.HiddenFor(m => m.IsAdvanceDone)
        @Html.TextBoxFor(m => m.NALocation, new { @class = "form-control required required2 NALocation", @placeholder = "Select Location", @disabled = "true" })
    </td>
    <td class="center">
        @Html.TextBoxFor(m => m.NBLocation, new { @class = "form-control required required2 NBLocation", @placeholder = "Select Location", @disabled="true"})
    </td>
    <td class="center">
        @Html.HiddenFor(m => m.THCNo)
        @Model.THCNo
    </td>
    <td class="center">
        @Html.HiddenFor(m => m.THCDate)
        @Model.THCDate
    </td>
    <td class="center">
        @Html.HiddenFor(m => m.VehicleNo)
        @Model.VehicleNo
    </td>
    <td class="center">
        @Html.HiddenFor(m => m.VENDORCODE)
        @Model.VENDORCODE
    </td>
    <td class="center">
        @Html.HiddenFor(m => m.THCAmount)
        @Model.THCAmount
    </td>
    <td class="center">
        @Html.HiddenFor(m => m.AdvanceLocation)
        @Model.AdvanceLocation
    </td>
    <td class="center">
        @Html.HiddenFor(m => m.BalanceLocation)
        @Html.HiddenFor(m => m.VENDORTYPE)
        @Model.BalanceLocation
    </td>
    }
</tr>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Events = function (DomainName) {

            $('#btnSubmit').click(function () {
                //App.blockUI({ boxed: true });
                $('#form_sample').submit();
            });
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                //  Formvalidate(DomainName);
                Events(DomainName);
                handleDateRangePickers();
                $('#btnSubmit1').hide();
                $('.CLSCHK').click(function () {
                    totchk = 0;
                    var itemIndex = $(this).attr('id').split('_')[1];
                    var checked = jQuery(this).is(":checked");
                    $('.CLSCHK').each(function () {
                        var checked1 = jQuery(this).is(":checked");
                        if (checked1)
                            totchk++;
                        if (totchk == 0)
                            $('#btnSubmit1').hide();
                        else
                            $('#btnSubmit1').show();
                    });
                });

            }
        }
    }();
</script>


