﻿@model FleetDataService.Models.webx_BILLMST
@using FleetDataService.Models;
@using Fleet.Helpers;
<tr>
    @using (Html.BeginCollectionItem("BillNO", Model.BILLNO.ToString()))
    {
        <td>
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = " form-control CLSCHK" })
        </td>
        <td class="center">
            @Model.BILLNO
            @Html.HiddenFor(m => m.BILLNO)
            @Html.HiddenFor(m => m.BGNDT1)
            @Html.HiddenFor(m => m.BDUEDT)
            @Html.HiddenFor(m => m.BRANCH)
            @Html.HiddenFor(m => m.PARTY)
            @Html.HiddenFor(m => m.BILLAMT)
            @Html.HiddenFor(m => m.BILLSTATUS)
            @Html.HiddenFor(m => m.BILLTYPE)
            @Html.HiddenFor(m => m.Finalized)
            @Html.HiddenFor(m => m.PAYBAS)
            @Html.HiddenFor(m => m.BGNDT)
        </td>
        <td class="center">
            @Model.BGNDT1

        </td>
        <td class="center">
            @Model.BDUEDT.ToString("dd MMM yyyy")
        </td>
        <td class="center">
            @Model.BRANCH
        </td>
        <td class="center">
            @Model.PARTY
        </td>
        <td class="center">
            @Model.BILLAMT
        </td>
        <td class="center">
            @Model.BILLSTATUS
        </td>
        <td class="center">
            @Model.BILLTYPE
        </td>
        <td class="center">
            @Model.Finalized
        </td>
    }
</tr>

