﻿@model FleetDataService.Models.webx_BILLMST
@using FleetDataService.Models;
@using Fleet.Helpers;

<tr>
    @using (Html.BeginCollectionItem("BillNumber", Model.BILLNO.ToString()))
    {
        <td>
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = " form-control CLSCHK" })
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.BILLNO)
            @Model.BILLNO
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.BILLDT)
            @Model.BILLDT
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.vendname)
            @Model.vendname
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.location)
            @Model.location
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.Netamt)
            @Model.Netamt
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.betype)
            @Model.betype
        </td>
    }
</tr>