﻿@model Fleet.ViewModels.WEBX_MR_VPLIST
@using FleetDataService.Models;
@using Fleet.Classes;
@using Fleet.Helpers;
@{
   // string TRID = "TR" + Model.Id;
    string TRID = "TR" + Model.iSNO.ToString();
    
}
<tr id="@TRID">
    @using (Html.BeginCollectionItem("MRCancelList", Model.iSNO.ToString()))
    {
        <td class="center">
            @Html.CheckBoxFor(m => m.IsCancelled, new { @class = "clsCHK", @data_id = Model.mrsno, @data_date = @Model.mrsdt })
        </td>
        <td class="col-md-1" data-title="SrNo" style="display:none">#</td>
        <td class="center">
            @Model.mrsno
            @Html.HiddenFor(c => c.mrsno)
        </td>
        <td class="center">
            @*//  @Model.MRDate*@
            @Convert.ToDateTime(@Model.mrsdt).ToString("dd MMM yyyy")
            @Html.HiddenFor(c => c.mrsdt)
        </td>
        <td class="center">
            @Model.mrstype
        </td>
        <td class="center">
            @Model.mrsbr
        </td>
        <td class="center">
            @Model.ptcd
        </td>
        <td class="center">
            @Model.ptname
        </td>
        <td class="center">
            @Model.mrsamt
        </td>
        <td class="center">
            @Model.deduction
        </td>
         <td class="center">
            @Model.netamt
        </td>
           <td class="center">
            @Model.dockno
        </td>
         <td class="center">
            @Model.mrcollbrcd
        </td>
    }

</tr>