﻿@model CYGNUS.Models.WebX_Master_Docket
@using Fleet.Helpers;
@using Fleet.ViewModels;

@using Fleet.Models;
@{ 
    FleetDataService.ExceptionsService ES = new FleetDataService.ExceptionsService();
    List<SubReasons> ls = ES.NonDeliverySubReasonList();
}
<tr class="editorRow">
    @using (Html.BeginCollectionItem("NonDeliveryEntry", (Model.id).ToString()))
    {
            <td class="center">
                @Html.CheckBoxFor(m => m.IsCheck, new { @class = "CLSCHK" })
            </td>
            <td class="center">
                @Html.TextBoxFor(c => c.DOCKNO, new { @placeholder = "Dock No", @class = "form-control Branch", @readonly = "true" })
            </td>
            <td class="center">
                @Html.TextBoxFor(c => c.DOCKDT, new { @placeholder = "Dock Date", @class = "form-control Branch", @readonly = "true" })
            </td>

            <td class="center">
                @Html.TextBoxFor(c => c.ORGNCD, new { @placeholder = "Origin", @class = "form-control Branch", @readonly = "true" })
            </td>
            <td class="center">
                @Html.TextBoxFor(c => c.REASSIGN_DESTCD, new { @placeholder = "Destination Code", @class = "form-control", @readonly = "true" })
            </td>
            <td class="center">
                @Html.TextBoxFor(c => c.CSGNNM, new { @placeholder = "Consigner", @class = "form-control", @readonly = "true" })
            </td>
            <td class="center">
                @Html.TextBoxFor(c => c.CSGENM, new { @placeholder = "Consignee", @class = "form-control", @readonly = "true" }) 
            </td>
            <td class="center">
                @Html.DropDownListFor(m => m.ReasonCode, new SelectList(ls, "Value", "Text", Model.ReasonCode), "", new { @class = "required required2 form-control", @placeholder = "Select Value" })
            </td>
    }
</tr>