﻿@model Fleet.ViewModels.CNoteDetentionList
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    FleetDataService.ExceptionsService ES = new FleetDataService.ExceptionsService();
    List<Webx_Master_General> ReasonList = ES.GetDetentionReason();
}

@using (Html.BeginCollectionItem("CNotclnList", Model.dockno.ToString()))
{
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = "IsCheck" })
            @Html.HiddenFor(m => m.IsChecked)
        </td>
        <td>
            @Model.dockno
            @Html.HiddenFor(m => m.dockno)
            @Html.HiddenFor(m => m.docksf)
            
        </td>
        <td>
            @Model.bkg_dt
            @Html.HiddenFor(m => m.bkg_dt)
        </td>
        <td>
            @Model.Origin_Dest
            @Html.HiddenFor(m => m.Origin_Dest)
        </td>
        <td>
            <div class="input-group input-small  date date-picker">
                @Html.HiddenFor(m => m.DetainedSysdate)
                @Html.TextBox("FromDate", String.Format("{0:dd MMM yyyy }", ""), new { @class = " form-control form_meridian_datetime ", @readonly = "true", @style = "width:150px;" })
                <span class="input-group-btn">
                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                </span>
            </div>

        </td>
        <td>
            @Model.Arr_DT
            @Html.HiddenFor(m => m.Arr_DT)
        </td>
        <td class="center">
            @Html.DropDownListFor(model => model.DetentionReason, new SelectList(ReasonList, "CodeId", "CodeDesc"), "", new { @class = "select2 form-control" })
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.Detained_On_days, new { @class = "form-control", @style = "width:50px;" })

        </td>
    </tr>
}
