﻿@model Fleet.ViewModels.CNoteDetentionList
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    FleetDataService.ExceptionsService ES = new FleetDataService.ExceptionsService();
    List<Webx_Master_General> RemovalReasonList = ES.GetRemovalReason();
}

@using (Html.BeginCollectionItem("CNRemovList", Model.dockno.ToString()))
{
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = "IsCheck" })
            @Html.HiddenFor(m => m.IsChecked)
        </td>
        <td>
            @Model.dockno
            @Html.HiddenFor(m => m.dockno)
            @Html.HiddenFor(m => m.docksf)
        </td>
        <td>
            @Model.docdt
            @Html.HiddenFor(m => m.docdt)
        </td>
        <td>
            @Model.Origin_Dest
            @Html.HiddenFor(m => m.Origin_Dest)
        </td>
        <td>
            @Model.DetainDt
            @Html.HiddenFor(m => m.DetainDt)
        </td>
        <td>
            @Model.DetentionReason
            @Html.HiddenFor(m => m.DetentionReason)
        </td>
        <td>
            @Model.detainedby
            @Html.HiddenFor(m => m.detainedby)
        </td>
        <td>
            <div class="input-group input-small  date date-picker">
               @* @Html.HiddenFor(m => m.DetainedSysdate)*@
                @Html.TextBox("DetainedSysdate", String.Format("{0:dd MMM yyyy }", System.DateTime.Now), new { @class = " form-control form_meridian_datetime ", @readonly = "true", @style = "width:150px;" })
                <span class="input-group-btn">
                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </td>
        <td class="center">
            @Html.DropDownListFor(model => model.RemovalReason, new SelectList(RemovalReasonList, "CodeId", "CodeDesc"), "", new { @class = "select2 form-control" })
        </td>
    </tr>
}
