﻿@model Fleet.ViewModels.ShortageModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    FleetDataService.ExceptionsService ES = new FleetDataService.ExceptionsService();
    List<Webx_Master_General> SReasonList = ES.GetShortageReason();
    List<Webx_Master_General> DReasonList = ES.GetDamageReason();
}

@using (Html.BeginCollectionItem("ShortageList", Model.DocketNo.ToString()))
{
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = "IsCheck" })
            @*@Html.HiddenFor(m => m.IsChecked)*@
        </td>
        <td>
            @Model.DocketNo
            @Html.HiddenFor(m => m.DOCKNO)
            @Html.HiddenFor(m => m.DOCKSF)

        </td>
        <td>
            @Model.DocketDate
            @Html.HiddenFor(m => m.DocketDate)
        </td>
        <td>
            @Model.OrgCode
            @Html.HiddenFor(m => m.OrgCode)
        </td>
        <td>
            @Model.ReDestCode
            @Html.HiddenFor(m => m.ReDestCode)
        </td>

        <td style="width: 110px;">
            <div class=" form-group">
                <div class="col-md-6">
                    @Html.TextBoxFor(c => c.SPackagesLB, new { @class = "form-control clsblk clschange required"})
                </div>
                <div class="col-md-4">
                    @Model.PackagesLB
                    @Html.HiddenFor(m => m.PackagesLB)
                </div>
            </div>
        </td>
        <td style="width: 110px;">
            <div class=" form-group">
                <div class="col-md-6">
                    @Html.TextBoxFor(c => c.SWeightLB, new { @class = "form-control clsblk" })
                </div>
                <div class="col-md-4">
                    @Model.WeightLB
                    @Html.HiddenFor(m => m.WeightLB)
                </div>
            </div>
        </td>
        <td class="center">
            @Html.DropDownListFor(model => model.SReason, new SelectList(SReasonList, "CodeId", "CodeDesc"), "", new { @class = "select2 form-control" })
        </td>

        <td style="width: 110px;">
            <div class=" form-group">
                <div class="col-md-6">
                    @Html.TextBoxFor(c => c.DPackagesLB, new { @class = "form-control clsblk clsPKGcng required" })
                </div>
                <div class="col-md-4">
                    @Model.PackagesLB
                    @Html.HiddenFor(m => m.PackagesLB)
                </div>
            </div>
        </td>
        <td style="width: 110px;">
            <div class=" form-group">
                <div class="col-md-6">
                    @Html.TextBoxFor(c => c.DWeightLB, new { @class = "form-control clsblk" })
                </div>
                <div class="col-md-4">
                    @Model.WeightLB
                    @Html.HiddenFor(m => m.WeightLB)
                </div>
            </div>
        </td>
        <td class="center">
            @Html.DropDownListFor(model => model.DReason, new SelectList(DReasonList, "CodeId", "CodeDesc"), "", new { @class = "select2 form-control" })
        </td>
    </tr>
}
