﻿@model Fleet.ViewModels.DocketMisRouteModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers

@using (Html.BeginCollectionItem("MissDkt", Model.Dockno.ToString()))
{
    <tr>
        <td class="center">
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = "IsCheck" })
        </td>
        <td class="center">
           
            @Model.Dockno
            @Html.HiddenFor(m => m.Dockno)
        </td>
        <td class="center">
            @Model.OriginDestination
            @Html.HiddenFor(m => m.OriginDestination)
        </td>
        <td class="center">
            @Model.FromTOCity
            @Html.HiddenFor(m => m.FromTOCity)
        </td>
        <td class="center">
            @Model.PayBas
            @Html.HiddenFor(m => m.PayBas)
        </td>
        <td class="center">
            @Model.TRN_MOD
            @Html.HiddenFor(m => m.TRN_MOD)
        </td>
        <td class="center">
            @Model.PkgSNo
            @Html.HiddenFor(m => m.PkgSNo)
        </td>
        <td class="center">
            @Model.ACTUWT
            @Html.HiddenFor(m => m.ACTUWT)
        </td>
        <td class="center">
            @Model.ArrPkgQty
            @Html.HiddenFor(m => m.ArrPkgQty)
        </td>
        <td class="center">
            @Model.ArrWeightQty
            @Html.HiddenFor(m => m.ArrWeightQty)
        </td>
        <td class="center col-md-1">
            @Html.TextBoxFor(m => m.ShortageQty, new { @class = "form-control clsblk " })
        </td>
        <td class="center col-md-1">
            @Html.TextBoxFor(m => m.ShortageWeight, new { @class = "form-control clsblk  " })
        </td>
        <td class="center col-md-1">
            @Html.TextBoxFor(m => m.ArrivedPkgs, new { @class = "form-control clsblk clsShow clschange required  ", @type = "number" })
        </td>
        <td class="center col-md-1">
            @Html.TextBoxFor(m => m.ArrivedWt, new { @class = "form-control clsblk " })
        </td>

    </tr>
}



