﻿@model FleetDataService.Models.VWNET_WebX_Docket_status
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers


@using (Html.BeginCollectionItem("DocketclnList", Model.dockno.ToString()))
{
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = "chkCheck" })
        </td>
        <td>
            @Model.dockno
            @Html.HiddenFor(m => m.dockno)
        </td>
        <td>
            @Model.manual_dockno
            @Html.HiddenFor(m => m.manual_dockno)
        </td>
        <td>
            @Model.dockdt
            @Html.HiddenFor(m => m.dockdt)
        </td>
        <td>
            @Model.paybas
            @Html.HiddenFor(m => m.paybas)
        </td>
        <td>
            @Model.from_loc
            @Html.HiddenFor(m => m.from_loc)
        </td>
        <td>
            @Model.to_loc
            @Html.HiddenFor(m => m.to_loc)
        </td>
        <td>
            @Html.TextAreaFor(c => c.CancelRemarks, new { placeholder = "Cancel Reason", @class = "form-control clsRemarks" })
        </td>
    </tr>
}
