﻿@model FleetDataService.Models.WEBX_FLEET_ENROUTE_EXP
@using Fleet.Helpers;
@using Fleet.Classes;
@using FleetDataService.Models
@{

    FleetDataService.FleetService FS = new FleetDataService.FleetService();
    List<Webx_Trip_Expense_Master> EnrtExpList = FS.GetNatureofexp();
    //Model.Amount_Spent = "0";
    // List<SelectListItem> EnrtExpList = new List<SelectListItem>();
}

<tr class="editorRow">

    @using (Html.BeginCollectionItem("fleetList", Model.SRNO.ToString()))
    {
        @Html.HiddenFor(m => m.Polarity)
        @Html.HiddenFor(m => m.TripsheetNo)
        <td class="col-md-1">
            <span>@Model.SRNO</span>
        </td>
            <td class="col-md-3">
                @Html.DropDownListFor(m => m.id, new SelectList(EnrtExpList, "CodeId", "CodeDesc"), "", new { @class = "form-control select2 required required2 span6 ClsXYZ" })
            </td>
            <td class="col-md-1">
                @Html.TextBoxFor(m => m.Amount_Spent, new { @class = "form-control totalExp required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @number = "true" })
            </td>
            <td class="col-md-1">
                @Html.TextBoxFor(m => m.BillNo, new { @class = "form-control", @placeholder = "Bill No." })
            </td>
            <td class="col-md-1">
                @Html.TextBoxFor(m => m.Dt, new { @class = "form-control", @placeholder = "Bill Date" })
            </td>
            <td class="col-md-1">
                @Html.TextBoxFor(m => m.Exe_Appr_Amt, new { @class = "form-control" })
            </td>
            <td class="col-md-6">
                @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", @placeholder = "Remark" })
            </td>
            @*<td class="col-md-1" style="text-align: center; cursor: pointer" title="Delete Row">
                    @if (Model.SRNO > 1)
                    {
                        <a class="deleteRow">
                            <img src="~/assets/img/Delete_Icon.png" style="width: 25px;" />
                        </a>
                    }
                    else
                    {
                        <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
                    }
                </td>*@
    }
</tr>
