﻿@model FleetDataService.Models.WEBX_FLEET_VEHICLE_ISSUE
@using Fleet.Helpers
<tr class="editorRow">
   
    @using (Html.BeginCollectionItem("FinancialEditList", (Model.VSlipNo).ToString()))
    {

            <td class="center">
               @Html.DisplayFor(x => x.Manual_TripsheetNo)
            </td>
            <td class="center">
                @Html.DisplayFor(x => x.VSlipNo)
            </td>
            <td class="center">
                @Html.DisplayFor(x => x.VSlipDtstr)
            </td>
            <td class="center">
                @Html.DisplayFor(x => x.VehicleNo)
            </td>
            <td class="center">
                @Html.DisplayFor(x => x.Trip_Route_Type)
            </td>
            <td class="center">
                @Html.DisplayFor(x => x.DriverName)
            </td>
            <td class="center">
                @Html.ActionLink("Edit", "TripsheetFinancialEdit","Exceptions",new { TripShit = Model.VSlipNo, Mode = ViewBag.EditMode}, new { @class="btn"})
            </td>
    }
</tr>