﻿@model FleetDataService.Models.WEBX_VENDORBILL_HDR
@using FleetDataService.Models
@using Fleet.Helpers
@{
}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.ID, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("BillList", Model.ID.ToString()))
    {
        <td class="">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.BILLNO, new { placeholder = "BILL NO", @class = "form-control required required2 clsBill", @CheckAvailability = true })
                </div>
            </div>
        </td>
        <td class="">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.VENDORCODE, new { placeholder = "VENDOR CODE", @class = "form-control required required2" })
                </div>
            </div>
        </td>


        <td class="center">
            @if (Model.ID != 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
            }
        </td>

    }
</tr>
