﻿@model Fleet.ViewModels.POCancellation
@using Fleet.Helpers
@using (Html.BeginCollectionItem("POCANCEL", Model.PONO.ToString()))
{
    <tr>
        <td class="chkactive">
            <input type="checkbox" class="chkactive" data-value="@Model.PONO" />
        </td>
        <td class="center">
            @Model.PONO
            @Html.HiddenFor(c => c.PONO)
        </td>
        <td class="center">
            @Model.ManualPoNo
            @Html.HiddenFor(c => c.ManualPoNo)
        </td>
        <td class="center">
            @Model.PODATE
            @Html.HiddenFor(c => c.PODATE)
        </td>
        <td class="center">
            @Model.VENDORNAME
            @Html.HiddenFor(c => c.VENDORNAME)
        </td>
        <td>
            @Model.LOCATION
            @Html.HiddenFor(c => c.LOCATION)
        </td>
        <td class="center">
            @Model.TOTALQTR
            @Html.HiddenFor(c => c.TOTALQTR)
        </td>
        <td>
            @Model.TOTALAMT
            @Html.HiddenFor(c => c.TOTALAMT)
        </td>
        <td class="center">
            @Model.PENDAMT
            @Html.HiddenFor(c => c.PENDAMT)
        </td>
        <td>
            @Model.POSTATUS
            @Html.HiddenFor(c => c.POSTATUS)
        </td>
    </tr>
}