﻿@model Fleet.ViewModels.vw_PDCCancellation
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers


@using (Html.BeginCollectionItem("PDCclnList", Model.pdcno.ToString()))
{
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = "chkCheck" })
        </td>
        <td>
            @Model.pdcno
            @Html.HiddenFor(m => m.pdcno)
        </td>
        <td>
            @Model.Manualpdcno
            @Html.HiddenFor(m => m.Manualpdcno)
        </td>
        <td>
            @Model.pdcdt
            @Html.HiddenFor(m => m.pdcdt)
        </td>
        <td>
            @Model.PDCBR
            @Html.HiddenFor(m => m.PDCBR)
        </td>
       
    </tr>
}
