﻿@model FleetDataService.Models.webx_acctrans
@using FleetDataService.Models
@using Fleet.Helpers
@{
    //string Fyear = ViewBag.BaseFinYear;
    //string year = Fyear.Substring(0, 4);
    //string nextyear = (Convert.ToInt32(year) + 1).ToString();
    //string startyear = "1 Apr " + year;
    //string Endyear = "31 Mar " + nextyear;

    var enddate = ViewBag.FinYearEndDate;
    var startDate = System.DateTime.Now;
}
<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Srno, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("VoucherList", Model.Srno.ToString()))
    {
        <td class="col-md-1 center">
            <div class="form-group">
                <div class="col-md-11">
                    @Model.Srno
                </div>
            </div>
        </td>
        <td class="col-md-3 center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Voucherno, new { placeholder = "Voucher Number ", @class = "form-control required required2 clsChkDuplicate" })
                </div>
            </div>
        </td>

        <td class="col-md-3 center">
            <div class="form-group">
                <div class="col-md-11">
                    @* @Html.TextBoxFor(m => m.AdviceDt, String.Format("{0:dd/MM/yyyy}", Convert.ToDateTime(System.DateTime.Now).ToString("dd/MM/yyyy")), new { placeholder = "Advice No", @class = "form-control required ", @readonly = "True" })*@
                    @Html.TextBoxFor(model => model.Transdate, String.Format("{0:dd/MM/yyyy}", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @placeholder = "Voucher Date", @readonly = "True" })
                </div>
            </div>
        </td>

        <td class="col-md-3 center">
            @*<div class="form-group">
                    <div class="col-md-11">
                        @Html.TextBoxFor(model => model.CDate, new { @class = "required form-control required2", @placeholder = "Select New Voucher Date" })
                    </div>
                </div>*@

            <div class="input-group">
                <div class="input-group input-medium ">
                    @Html.TextBoxFor(c => c.VoucherEditDate, String.Format("{0:dd/MM/yyyy}", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = "form-control clsreadonly" })
                    <span class="input-group-btn" id="AdvDate">
                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            </div>
        </td>
        <td class="col-md-1 center">
            @if (Model.Srno > 0)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
            }
        </td>
    }
</tr>
