﻿@model CYGNUS.Models.WebX_Master_Docket
@using CYGNUS.Models;
@using FleetDataService.Models;
@using Fleet.Helpers;

@{
    FleetDataService.ExceptionsService ES = new FleetDataService.ExceptionsService();

    List<webx_VENDOR_HDR> objBAcodeList = ES.GetBACode();
    
}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.id, new { @class = "iHidden" })

    @using (Html.BeginCollectionItem("ReassignBAcode", Model.id.ToString()))
    {
        <td class="form-group">
            @Html.TextBoxFor(m => m.DOCKNO, new { @class = "form-control required required2 clsGetExistBacode" })
            @Html.HiddenFor(m => m.id)
            @Html.HiddenFor(m => m.prs)
            @Html.HiddenFor(m => m.drs)
            @Html.HiddenFor(m => m.PAYBAS)
            @Html.HiddenFor(m => m.TRN_MOD)
            @Html.HiddenFor(m => m.SubTotal)
        </td>
        <td class="form-group">
            @Html.TextBoxFor(m => m.Bacode, new { @class = "form-control required required2", @readonly=true })
        </td>
        <td class="form-group">
            @Html.DropDownListFor(m => m.NewBacode, new SelectList(objBAcodeList, "vendorcode", "vendorname", Model.NewBacode), "", new { @class = "select2 required required2 form-control", @placeholder = "Select New Bacode" })
        </td>
    }
</tr>
