﻿@model FleetDataService.Models.webx_BILLMST
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_location> Location = MS.GetLocationDetails();
}
<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.SrNo, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("BillList", Model.SrNo.ToString()))
    {
        <td class="col-md-2 center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.BILLNO, new { placeholder = "Bill No.", @class = "form-control required required2 ClsBillno" })
                    @Html.HiddenFor(m => m.BILLSTATUS)
                </div>
            </div>
        </td>
        <td class="col-md-2 center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.location, new { placeholder = "Bill Submission Location ", @class = "form-control required required2", @readonly = "True" })
                </div>
            </div>
        </td>

        <td class="col-md-2 center">
            <div class="form-group">
                <div class="col-md-11">
                    @*@Html.DropDownListFor(model => model.SubLocation, new SelectList(Location, "LocCode", "LocName"), "", new { @class = "select2 required form-control required required2", @placeholder = "Select Submission Location" })*@
                    @Html.TextBoxFor(model => model.SubLocation, new { @class = "form-control required2", @placeholder = "Select Submission Location" })
                </div>
            </div>
        </td>

        <td class="col-md-2 center">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.ExiBilLocation, new { placeholder = "Bill Collection Location", @class = "form-control  ", @readonly = "True" })
                </div>
            </div>
        </td>

        <td class="col-md-2 center ">
            <div class="form-group">
                <div class="col-md-11">
                    @*@Html.DropDownListFor(model => model.NewLocation, new SelectList(Location, "LocCode", "LocName"), "", new { @class = "select2 required form-control required required2", @placeholder = "Select New Collection Location" })*@
                    @Html.TextBoxFor(model => model.NewLocation, new { @class = "required form-control required2", @placeholder = "Select Collection Location" })
                </div>
            </div>
        </td>
        <td class="center">
            @if (Model.SrNo > 0)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
            }
        </td>

    }
</tr>