﻿@model Fleet.ViewModels.vw_MFCancellation
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers


@using (Html.BeginCollectionItem("THCclnList", Model.THCNO.ToString()))
{
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = "chkCheck" })
        </td>
        <td>
            @Model.THCNO
            @Html.HiddenFor(m => m.THCNO)
        </td>
        <td>
            @Model.ManualTHCNo
            @Html.HiddenFor(m => m.ManualTHCNo)
        </td>
        <td>
            @Model.THCDT
            @Html.HiddenFor(m => m.THCDT)
        </td>
        <td>
            @Model.SourceHB
            @Html.HiddenFor(m => m.SourceHB)
        </td>
        <td>
            @Model.ToBH_Code
            @Html.HiddenFor(m => m.ToBH_Code)
        </td>
    </tr>
}
