﻿@model Fleet.ViewModels.TSFinancialEditCriteria
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    ViewBag.Title = "AssetDumpUtilityCretira";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.EditMode = Model.UpdClose.ToString();
}
@using (Html.BeginForm("FixAssetTypeListSubmit", "Exceptions", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontalrow-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Header
                    </div>
                </div>
                <div class="portlet-body" id="divCrieteria">
                    <div class="form-body">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Manual Tripsheet No</th>
                                    <th>Tripsheet No</th>
                                    <th>Tripsheet Date</th>
                                    <th>Vehicle No</th>
                                    <th>Leg Type</th>
                                    <th>Driver</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var itam in Model.WFVIList)
                                {
                                    Html.RenderPartial("_FinancialEditList", itam);
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-5 col-md-10">
                                <a href="@Url.Content("~/Exceptions/TripsheetFinancialQuery")" class="btn btn-sm default"><i class=" fa fa-arrow-left"></i>&nbsp;Back To Criteria</a>
                             @*<button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
