﻿@model FleetDataService.Models.webx_acctrans
@using FleetDataService.Models
@using Fleet.Helpers
@{
  //  Model.VoucherDate = System.DateTime.Now;
}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Srno, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("VoucherList", Model.Srno.ToString()))
{
    <td class="col-md-1">
        <div class="form-group">
            <div class="col-md-11" style="text-align:center">
                @Model.Srno
            </div>
        </div>
    </td>
    <td class="col-md-4">
        <div class="form-group">
            <div class="col-md-11">
                @Html.TextBoxFor(m => m.Voucherno, new { placeholder = "Voucherno", @class = "form-control required clsChkDuplicate" })
            </div>
        </div>
    </td>
    <td class="col-md-2">
        <div class="form-group">
            <div class="col-md-11">
              
                @Html.TextBoxFor(m => m.VoucherDate, String.Format("{0:dd/MM/yyyy}", Convert.ToDateTime(System.DateTime.Now).ToString("dd/MM/yyyy")), new { placeholder = "VoucherDate", @class = "form-control", @readonly = "True" })


            </div>
        </div>
    </td>
    <td class="col-md-3">
        <div class="form-group">
            <div class="col-md-11">
                @Html.TextBoxFor(m => m.DocNo, new { placeholder = "", @class = "form-control ",@readonly=true })
            </div>
        </div>
    </td>
    <td class="col-md-2">
        <div class="form-group">
            <div class="col-md-11">
                @Html.TextBoxFor(m => m.AdvancedAmount, new { placeholder = "", @class = "form-control ", @readonly = true })
            </div>
        </div>
    </td>

        <td class="row">
            
            <div class="input-group col-md-10">
                <div class="input-group input-medium date date-picker" data-date-format="dd MMM yyyy" data-date-end-date="">
                    @Html.TextBox("canceldt", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = "form-control required", @readonly = "True" })
                    <span class="input-group-btn" id="CDate_@Model.Srno">
                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            </div>
        </td>


        <td class="center">
            @if (Model.Srno > 0)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
            }
        </td>

    }
</tr>
