﻿@model FleetDataService.Models.WEBX_TRIPSHEET_ADVEXP
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    var a = 1;
}
@using (Html.BeginCollectionItem("TripsheetFinEdit", Model.SRNO.ToString()))
{
    <tr>

        <td>
            @*<input id="Tripsheet" class="required required2 radio" name="TripshtRdo" type="radio" value="Select" data-Voucher="@Model.VoucherRefNo" data-Amount="@Model.AdvAmt" />*@
            @*@Html.RadioButton("TSRadio", false, new { @class = "required required2 radio"})*@
            @a
            @Html.HiddenFor(c => c.TripSheetNo)
            @Html.HiddenFor(c => c.VoucherRefNo)
        </td>
        <td>
            @Html.TextBoxFor(c => c.AdvLoc, new { @class = "form-control", @readonly = "true" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.AdvDate, new { @class = "form-control", @readonly = "true" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.AdvAmt, new { @class = "form-control required required2",  })
        </td>
        <td>
            @Html.TextBoxFor(c => c.BranchCode, new { @class = "form-control", @readonly = "true" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.Signature, new { @class = "form-control", @readonly = "true" })
        </td>
    </tr>
    a++;
}



