﻿@model FleetDataService.Models.WEBX_TRIPSHEET_ADVEXP
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
   
    string Fyear = ViewBag.BaseFinYear;
    string year = Fyear.Substring(0, 4);
    string nextyear = (Convert.ToInt32(year) + 1).ToString();
    string startyear = "1 Apr " + year;
    string Endyear = "31 Mar " + nextyear;

    Model.AdvDate = Model.AdvDate;
    objDate OD = new objDate();
    OD.ControlId = "AdvDate";
    OD.ControlValue = Model.AdvDate.ToString();
    OD.ModuleCode = "07";
    
    
    
}
@using (Html.BeginCollectionItem("Tripsheet1", Model.SRNO.ToString()))
{
    <tr>
        <td class="center">
            <input id="Tripsheet" class="required required2 radio" style="margin-left: 1px;" name="TripshtRdo" type="radio" value="Select" data-voucher="@Model.VoucherRefNo" data-amount="@Model.AdvAmt" data-id="@Model.SRNO" />
            @*@a*@
            @Html.HiddenFor(c => c.TripSheetNo)
            @Html.HiddenFor(c => c.VoucherRefNo)
        </td>
        <td class="center">
            @Model.Sr
        </td>
        <td>
            @Html.TextBoxFor(c => c.AdvLoc, new { @class = "form-control clsreadonly" })
        </td>
        <td>
            @* @Html.TextBoxFor(c => c.AdvDate, new { @class = "form-control"})*@
            <div class="input-group">
                @*<div class="input-group input-medium date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="@startyear" data-date-end-date="@Endyear">
                    @Html.TextBoxFor(c => c.AdvDate, new { @class = "form-control clsreadonly" })
                    <span class="input-group-btn" id="AdvDate">
                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>*@
                @{
    Html.RenderPartial("../UserControls/_DocumentDate", OD);
                }
            </div>
        </td>

        <td>
            @Html.TextBoxFor(c => c.AdvAmt, new { @class = "form-control clsAdvAmt required2 clsreadonly", @type = "number", @min = "1", @max = Model.AdvAmt })
        </td>
        <td>
            @Html.TextBoxFor(c => c.BranchCode, new { @class = "form-control clsreadonly" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.Signature, new { @class = "form-control clsreadonly" })
        </td>
    </tr>

}



