﻿@model FleetDataService.Models.webx_VENDOR_HDR
@using FleetDataService.Models
@using Fleet.Helpers;
@using Fleet.Classes;
@{

    FleetDataService.ExceptionsService ES = new FleetDataService.ExceptionsService();
}
<tr>
    @using (Html.BeginCollectionItem("vendor", Model.Id.ToString()))
    {
        <td class="center">
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = " form-control CLSCHK" })
        </td>
        <td class="center form-group">
            <div class="col-md-12">
                @Html.HiddenFor(m => m.vendornameText)
                @Html.TextBoxFor(c => c.VENDORCODE, new { placeholder = "Vendor Name", @class = "form-control vendorcodename" })
                @Html.HiddenFor(c=>c.VENDORNAME)
            </div>
        </td>
        if (ViewBag.THCNo == "THC")
        {
            <td class="center">
                @Html.HiddenFor(m => m.THCNo)
                @Model.THCNo
            </td>
        }
        else
        {
            <td class="center">
                @Html.HiddenFor(m => m.PDCNo)
                @Model.PDCNo
            </td>
        }
        <td class="center">
            @Html.HiddenFor(m => m.THCDate)
            @Model.THCDate
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.THCAmount)
            @Model.THCAmount
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.VehicleNo)
            @Model.VehicleNo
        </td>
        
        <td class="center">
            @Html.HiddenFor(m => m.VENDORCODE)
            @Model.VENDORCODE
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.VENDORNAME)
            @Model.VENDORNAME
        </td>
    }
</tr>
