﻿@model FleetDataService.Models.webx_acctinfo
@using FleetDataService.Models
@using Fleet.Helpers
<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.SrNo, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("VoucherList", Model.SrNo.ToString()))
    {
        <td class="">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.VoucherNo, new { placeholder = "Voucher No", @class = "form-control required2 required clsVoucher clsChkDuplicate", @VoucherAvailability = true })
                    @Html.Hidden("VoucherError")
                </div>
            </div>
        </td>
        <td class="">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.VDate, String.Format("{0:dd/MM/yyyy}", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { placeholder = "Voucher Date", @class = "form-control required ", @readonly = "True" })
                </div>
            </div>
        </td>
        <td class="">
            <div class="col-md-2">
                @Html.CheckBoxFor(m => m.IsChecked, new { @class = " form-control chk_Vocher" })
            </div>
            <div class="input-group col-md-10">
                <div class="input-group input-medium date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="">
                    @Html.TextBox("CDate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = "form-control required", @readonly = "True", placeholder = "Cancellation Date" })
                    <span class="input-group-btn" id="CDate_@Model.SrNo">
                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            </div>
        </td>
        <td class="center">
            @if (Model.SrNo > 0)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
            }
        </td>
    }
</tr>
