﻿@model IEnumerable<Fleet.ViewModels.AdnavceTripVoucherDoneList>
@{
    ViewBag.Title = "Advance Voucher CancellationDone";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var VoucherNo = "DONE";
}

@if (@ViewBag.TranXaction.ToUpper() == "DONE")
{
    <div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-check"></i> Following  Voucher has been successfully Updated :
                </div>
            </div>
            <div class="portlet-body">
                <div class="margin-top-10 margin-bottom-10 clearfix">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>                                   
                                    Voucher No
                                </th>
                                <th>
                                    Back To More Voucher Cancellation
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>                                    
                                    <b>@VoucherNo</b>
                                </td>
                                <td class="center">
                                    <a href="@Url.Content("~/Exceptions/TripAdvanceVoucherCancellation")" class="btn btn-sm default controls blue"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
}
else
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-danger fade in center">
            <h2 class="alert-heading">Opps! Voucher Cancellation @ViewBag.TranXaction</h2>
            <h4>
                There is some issue with process. <br />Please check your internet connection else contact your administrator or service provider.
                <br /><br /><b> @ViewBag.VoucherNo</b>
            </h4>
        </div>
    </div>
}