﻿@model Fleet.ViewModels.AdviceCancelViewModel
@{
    ViewBag.Title = "Advice Edit/Cancellation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Text = "Submit";
        var enddate = ViewBag.FinYearEndDate;
        var startDate = System.DateTime.Now;

}

@using (Html.BeginForm("AdviceCancellationSubmit", "Exceptions", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal", @readonly = "true" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-body ">
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="">Advice No.</th>
                                    <th class="">Advice Date</th>
                                    <th class="">Raised On</th>
                                    <th class="">Cancellation Date</th>
                                    <th class="">Cancellation Reason</th>
                                    <th class="center">X</th>
                                </tr>
                            </thead>
                            <tbody id="Advice">
                                @foreach (var item in Model.ListAdvice)
                                {
                                    Html.RenderPartial("_AdviceCancellationAddRow", item);
                                }
                            </tbody>
                        </table>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-9">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="btnAddFlightDetail" class="btn green pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 form-actions ">
        <div class="col-md-offset-5 col-md-7">
            <a href="@Url.Content("~/Exceptions/AdviceCancellation")" class="btn btn-sm default controls">&nbsp;Reset </a>
            <button type="submit" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i>&nbsp;@Text </button>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {

                },

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },


            });
        }

        var AddVoucherInfo = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Exceptions/ADDAdviceCancellation?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#Advice").append(html);
                    App.unblockUI();
                    $('#AdviceList_' + itemIndex + '__cancel_date').hide();
                    $('#cancel_date_' + itemIndex).hide();
                    $("#AdviceList_" + itemIndex + "__IsCheck").click(function () {
                        var checked = jQuery(this).is(":checked");
                      
                        if (checked) {
                            $('#AdviceList_' + itemIndex + '__cancel_date').show();
                            $('#AdviceList_' + itemIndex + '__Cancel_Reason').attr("readonly", false);
                            $('#AdviceList_' + itemIndex + '__Cancel_Reason').attr("required",true);
                            $('.chk_Advice').show();
                            $('#cancel_date_' + itemIndex).show();
                            $('#AdviceList_' + itemIndex + '__UpdatedRaisedCode').attr("readonly", true);
                            $('#AdviceList_' + itemIndex + '__UpdatedRaisedCode').val('');

                            var startDate1 = $("#AdviceList_"+ itemIndex +"__AdviceDt").val();
                           // var startDate1 = '@startDate';
                            var enddate1 = '@enddate';
                            handleDateTimePicker_ddmmyyyy("AdviceList_" + itemIndex + "__cancel_date", startDate1, enddate1);
                        }
                        else {
                            $('#AdviceList_' + itemIndex + '__cancel_date').hide();
                            $('#AdviceList_' + itemIndex + '__Cancel_Reason').attr("readonly", true);
                            $('#cancel_date_' + itemIndex).hide();
                            $('#AdviceList_' + itemIndex + '__UpdatedRaisedCode').attr("readonly", false);
                            $('#AdviceList_' + itemIndex + '__Cancel_Reason').attr("required", false);


                            // $('.chk_Advice').hide();
                        }
                    });

                    $('#AdviceList_' + itemIndex + '__Adviceno').change(function () {
                        console.log('Call click');
                        var SerchGroup = $(this).val();
                        var strUrl = DomainName + '/Exceptions/GetAdviceDate_RaisedOnJson?SerchGroup=' + SerchGroup;
                        $.ajax({
                            url: strUrl,
                            cache: false,
                            data: {},
                            type: 'POST',
                            dataType: 'json',
                            success: function (Data) {
                                console.log('Status : ' + Data[0].Status);
                                if (Data[0].Status == 0)
                                {
                                    $('#AdviceList_' + itemIndex + '__Adviceno').val('');
                                    $('#AdviceList_' + itemIndex + '__Adviceno').focus();
                                    TosterNotification("error", "Error !!" + Data[0].Message, "Error");
                                }
                                else
                                {
                                    $('#AdviceList_' + itemIndex + '__AdviceDt').val(Data[0].AdviceDate);
                                    $('#AdviceList_' + itemIndex + '__RaisedOn').val(Data[0].RaisedOn);
                                    $('#AdviceList_' + itemIndex + '__UpdatedRaisedCode').val('');
                                    $('#AdviceList_' + itemIndex + '__UpdatedRaisedCode').attr("readonly", false);
                                    $('#AdviceList_' + itemIndex + '__IsCheck').attr("readonly", false);
                                }
                            },
                            error: function (req, status, error) {
                                TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                            }
                        });
                    });

                    var LocId = $('#AdviceList_' + itemIndex + '__UpdatedRaisedCode').attr('id');
                    JsonDDL(LocId, DomainName + '/Contract/GetlocationListJson', false);

                    //$('#AdviceList_' + itemIndex + '__UpdatedRaisedCode').live("change", function () {
                    //    console.log("Test");
                    //    var Lc = $(this).val();
                    //    console.log(Lc);
                    //    var StrUrl = DomainName + '/Master/GetCustomerListByBranchJson';
                    //    console.log(StrUrl);
                    //    var Ids = $("#CriteriaMd_CustomerName").attr('id');
                    //    JsonDDL(Ids, StrUrl, false);
                    //});
                    duplicateDDLCheck(DomainName);

                    $("input[type=checkbox], input:radio, input:file").uniform();

                    if (jQuery().datepicker) {
                        $('.date-picker').datepicker({
                            rtl: App.isRTL(),
                            format: "dd M yyyy",
                            autoclose: true
                        });
                        $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
                    }

                    $("a.deleteRow").live("click", function () {
                        $(this).parents("tr.editorRow:first").remove();
                        return false;
                    });
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }

        var duplicateDDLCheck = function (DomainName) {
            $(".clsChkDuplicate").change(function () {
                var currId = $(this).attr('id').split("_")[1];
                var currval = $(this).val();
                var Voucherno = $('#AdviceList_' + currId + '__Adviceno').val();

                $(".clsChkDuplicate").each(function () {
                   
                    var otherId = $(this).attr('id').split("_")[1];
                    var otherval = $(this).val();
                    var Voucherno1 = $('#AdviceList_' + otherId + '__Adviceno').val();
                    if (currId != otherId && Voucherno == Voucherno1) {
                        $('#AdviceList_' + currId + '__Adviceno').val('');
                        $('#AdviceList_' + currId + '__Adviceno').focus();
                        TosterNotification("error", "Message !! Oppssss cannot select Duplicate Value........", "Message");
                        return false;
                    }
                });
            });

        }

        return {
            init: function (DomainName) {

                Formvalidate(DomainName);

                var itemIndex = $("#sample_ven input.iHidden").length + 1;
                //console.log('Index: ' + itemIndex);
                AddVoucherInfo(DomainName, itemIndex);

                $("#btnAddFlightDetail").live('click', function () {
                    itemIndex = $("#sample_ven input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddVoucherInfo(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });

               

                $("#btnSubmit").click(function () {
                    $("#form_sample").submit();
                });

            }
        }
    }();
</script>