﻿@model Fleet.ViewModels.BalanceLocationChangeViewModel
@using FleetDataService.Models;
@using Fleet.Classes;
@{
    ViewBag.Title = "Balance Location Change Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    FleetDataService.ExceptionsService ES = new FleetDataService.ExceptionsService();

    var Loccode = Model.BaseLoccode;
    List<ChgangeLoc> ListRO = MS.GetWorkingLocations(Loccode, Loccode).ToList();
    
    List<SelectListItem> LocList = new List<SelectListItem>(){
                    new SelectListItem{ Text="", Value = "" },
    };
    List<webx_location> LocationList = new List<webx_location>();
    var Billtype = new List<SelectListItem>
               {
               new SelectListItem{Text="THC",Value="THC"},
               new SelectListItem{Text="PDC",Value="PDC"},
               };

}

@using (Html.BeginForm("VendorPayment", "Exceptions", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            @if (Model.LocLevel == 1 || Model.LocLevel == 2)
                            {
                                <div class="col-md-12" id="DivRO">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Select RO :
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(c => c.RO, new SelectList(Model.RegionList, "LocCode", "LocName"), null, new { @class = "form-control required required2 select2", @placeholder = "Select Region" })
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="col-md-12" id="Location">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Select Location :
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(c => c.Loccode, new SelectList(Model.LocationList, "LocCode", "LocName"), null, new { @class = "form-control required required2 select2", @placeholder = "Select Location" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class=" form-group">
                                    <label class="control-label col-md-3">
                                        Select Location
                                    </label>
                                    @Html.HiddenFor(m => m.FromDate)
                                    @Html.HiddenFor(m => m.ToDate)
                                    <div class="col-md-8">
                                        <div id="reportrange" class="btn default col-md-14">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class=" form-group">
                                    <label class="control-label col-md-3">
                                        Vendor Code
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.VENDORCODE, new { placeholder = "Vendor", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Document Type
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(c => c.DocType, new SelectList(Billtype, "Value", "Text"), "", new { @class = "select2 required2 required form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class=" form-group">
                                    <label class="control-label col-md-3">
                                    </label>
                                    <div class="col-md-8">
                                        <b>OR</b>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Document No
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.DOC_NO, new { placeholder = "Document No", @class = "form-control required2" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-8">
                            <button type="submit" id="btnSubmit" class="btn btn-sm blue controls ClsbtnSave"><i class="fa fa-search"></i>&nbsp;Get List</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    App.blockUI({ boxed: true });
                    document.form["form_sample"].submit();

                }

            });
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }

            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),

                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#FromDate').val(start.format('MMMM D, YYYY'));
                     $('#ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ToDate').val(moment().format('MMMM D, YYYY'));
        }

        var Events = function (DomainName) {

            $('#btnSubmit').click(function () {
                //App.blockUI({ boxed: true });
                $('#form_sample').submit();
            });


        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                Events(DomainName);
                handleDateRangePickers();
                $("#RO").on("change", function () {
                    StrURL = DomainName + "/Finance/GetLocationListFromROJson?LocCode=" + $(this).val();
                    FillDropDownfromOther1("Loccode", StrURL, "Location");
                });
                $("#RO").change("change", function () {
                    var Id = $("#RO option:selected").val();
                    var strurl = DomainName + '/Exceptions/SearchLocationListJsonByRO/' + Id;
                    FillDropDownfromOther('Loccode', strurl, false);
                });
                JsonDDL('VENDORCODE', DomainName + '/Master/SearchVendorListJson/', true);

            }
        }
    }();
</script>