﻿@model IEnumerable<FleetDataService.Models.webx_VENDOR_HDR>
@{
    ViewBag.Title = "Balance Location Change";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var THCNo = @ViewBag.THCNo;

}

@if (@ViewBag.TranXaction == "DONE")
{
    <div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-check"></i> @ViewBag.DocType @ViewBag.Title @ViewBag.TranXaction
                </div>
            </div>
            <div class="portlet-body">
                <div class="margin-top-10 margin-bottom-10 clearfix">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="center">
                                    Document No
                                </th>
                                <th class="center">
                                    Document Type
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ToList().OrderBy(c => c.DOC_NO))
                            {
                                <tr>
                                    <td class="center">
                                        <b>@item.DOC_NO</b>
                                    </td>
                                    <td class="center">
                                        <b>@ViewBag.DocType</b>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <span class="label label-danger">
                    NOTE!
                </span>&nbsp;
                <span>
                    <a href="@Url.Content("~/Exceptions/BalanceLocationChange")">Click here to more @ViewBag.Title</a>
                </span>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-danger fade in center">
            <h2 class="alert-heading">Opps! Changed Balance Location @ViewBag.TranXaction</h2>
            <h4>
                There is some issue with process. <br />Please check your internet connection else contact your administrator or service provider.
                <br /><br /><b> @ViewBag.THCNo</b>
            </h4>
        </div>
    </div>
}
