﻿@{
    ViewBag.Title = "Bill Cansel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i> Following Bill has been successfully Updated
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Document Name
                            </th>
                            <th>
                               Bill No
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>Document No.</b>
                            </td>
                            <td>
                                <b>@ViewBag.BILLNO</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                <a href="@Url.Content("~/Exceptions/Billcancel")">Click here to more @ViewBag.Title</a>
            </span>
        </div>
    </div>
</div>