﻿@model Fleet.ViewModels.BillEntryCancellation
@using FleetDataService.Models;
@using Fleet.Classes;
@{
    ViewBag.Title = "Bill Entry Cancellation";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Billtype = new List<SelectListItem>
               {
               new SelectListItem{Text="THC/PDC Bill Entry",Value="THC-PDC"},
               //new SelectListItem{Text="BA Bill Entry",Value="BA Payment"}, /* after discuss check*/
               new SelectListItem{Text="Other Bill Entry",Value="Expense"},
               new SelectListItem{Text="Octroi Bill Entry",Value="Octroi"},
               //new SelectListItem{Text="Fuel Slip Bill Entry",Value="Fuel Slip"},
               //new SelectListItem{Text="Franchise Bill Entry",Value="FRANCHISE"},
               new SelectListItem{Text="Fuel Expense Bill Entry",Value="Fuel Expense"},
               new SelectListItem{Text="Fixed Expense Bill Entry",Value="Fixed Expense"},
               new SelectListItem{Text="Variable Expense Bill Entry",Value="Variable Expense"}
               };
}
<div class="row">
    <div class="col-md-7">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>Enter @ViewBag.Title Details
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    @using (Html.BeginForm("UpdateBillCancellationlist", "Exceptions", FormMethod.Get, new { @id = "form_sample", @class = "form-horizontal " }))
                    {
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Bill Entry No. :
                            </label>
                            <div class="col-md-5">
                                @Html.TextBoxFor(c => c.BillNo.BILLNO, new { @placeholder = "Bill Entry No.", @class = "form-control required2 " })
                                @Html.HiddenFor(m => m.BillNo.BILLNO)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Bill Entry Type :
                            </label>
                            <div class="col-md-5">
                                @Html.DropDownListFor(model => model.BillNo.BILLTYPE, new SelectList(Billtype, "Value", "Text"), "", new { @class = "select2 required2 required form-control", @placeholder = "Select Bill Entry Type" })
                                @Html.HiddenFor(m => m.BillNo.BILLTYPE)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Select Date Range :
                            </label>
                            @Html.HiddenFor(m => m.BillNo.DATEFROM)
                            @Html.HiddenFor(m => m.BillNo.DATETO)
                            <div class="col-md-5">
                                <div id="reportrange" class="btn default col-md-12">
                                    <i class="fa fa-calendar"></i>
                                    &nbsp;
                                    <span></span>
                                    <b class="fa fa-angle-down"></b>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-12">
                                    <button type="submit" id="btnSubmit" class="btn blue"><i class="fa fa-search"></i>&nbsp;Search</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                rules: {
                    //account dateFuture
                },
                messages: {
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    App.blockUI({ boxed: true });
                    document.form["submit_form"].submit();
                }
            });
        }
        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }
            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },
                 function (start, end) {
                     $('#BillNo_DATEFROM').val(start.format('MMMM D, YYYY'));
                     $('#BillNo_DATETO').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#BillNo_DATEFROM').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#BillNo_DATETO').val(moment().format('MMMM D, YYYY'));
        }
        var Events = function (DomainName) {
            $('#btnSubmit').click(function () {
                //App.blockUI({ boxed: true });
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                Events(DomainName);
                handleDateRangePickers();
            }
        }
    }();
</script>