﻿@{
    ViewBag.Title = "Bill Entry Cancellation Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var BILLNO = @ViewBag.BILLNO;
    var TranXaction = @ViewBag.TranXaction;
}
@if (@ViewBag.TranXaction.ToUpper() == "DONE")
{
    <div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-check"></i> Following Bill has been successfully Updated @ViewBag.TranXaction
                </div>
            </div>
            <div class="portlet-body">
                <div class="margin-top-10 margin-bottom-10 clearfix">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Document No
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <b>@ViewBag.BILLNO</b>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <span class="label label-danger">
                    NOTE!
                </span>&nbsp;
                <span>
                    <a href="@Url.Content("~/Exceptions/BillCancellation")">Click here to Cancel More Bill Entry</a>
                </span>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-danger fade in center">
            <h2 class="alert-heading">Opps! Bill Entry Cancellation @ViewBag.TranXaction</h2>
            <h4>
                There is some issue with process. <br />Please check your internet connection else contact your administrator or service provider.
                <br /><br /><b> @ViewBag.BILLNO</b>
            </h4>
        </div>
    </div>
}