﻿@{
    ViewBag.Title = "CNote Detention Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string dockno = ViewBag.dockno;
}

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i><b>CNote has been successfully Detened.</b>
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                CNote No.
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@dockno</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                <a href="@Url.Content("~/Exceptions/CNoteDetention")">

                    Click here to Detent More CNote
                </a>

            </span>
        </div>
    </div>
</div>



