﻿@model Fleet.ViewModels.CNoteReassignViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "CNote Reassign Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_location> ListLoc = MS.GetLocationDetails().ToList();
    List<SelectListItem> ConsigneePinCode = new List<SelectListItem>();

}
<div class="row" style="display:none;">
    <div class="col-md-10">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title List
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid" }))
                {
                    <table class="table table-striped table-bordered table-hover" id="CNoteReassignLocation" style="overflow-x: scroll">
                        <thead>
                            <tr>
                                <th class="center">
                                    CNote No.
                                </th>
                                <th class="center">
                                    Current Location
                                </th>
                                <th class="center">
                                    Status
                                </th>
                                <th class="center">
                                    Reassign Location
                                </th>
                                <th class="center">
                                    Consignee Pincode
                                </th>
                                <th class="center">
                                    Dest. StateName
                                </th>
                                <th class="center">
                                    Dest. AreaName
                                </th>
                                <th class="center">
                                    To City
                                </th>
                                <th class="center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ListVWWDS)
                            {
                                string TrId = "TR" + item.dockno.ToString();
                                <tr id="@TrId">
                                    <td class="center">
                                        @item.dockno
                                    </td>
                                    <td class="center">
                                        @item.Curr_loc
                                    </td>
                                    <td class="center">
                                        @item.StockType
                                    </td>
                                    <td class="form-group">
                                        @Html.TextBoxFor(m => item.reassign_destcd, new { @id = "txt_" + @item.dockno, placeholder = "Select Location", data_id = @item.dockno, @value = @item.reassign_destcd, @class = "form-control clsCodeDesc required required2", @disabled = "disabled" })
                                    </td>
                                    <td class="form-group">
                                        @Html.DropDownListFor(c => item.CSGEPinCode, new SelectList(ConsigneePinCode, "Value", "Text", item.CSGEPinCode), "", new { @class = "form-control select2 required2 required dropdown2 clsCSGEPinCode", @placeholder = "Pincode", @id = "txt_CSGEPinCode_" + @item.dockno })
                                    </td>
                                    <td class="form-group">
                                        @Html.TextBoxFor(m => item.DestStateName, new { @id = "txt_DestStateName_" + @item.dockno, placeholder = "Dest State Name", data_id = @item.dockno, @value = @item.reassign_destcd, @class = "form-control clsDestStateName required required2", @readonly = "true" })
                                    </td>
                                    <td class="form-group">
                                        @Html.TextBoxFor(m => item.Destination_Area, new { @id = "txt_Destination_Area_" + @item.dockno, placeholder = "Destination Area", data_id = @item.dockno, @value = @item.reassign_destcd, @class = "form-control clsDestination_Area required required2", @readonly = "true" })
                                    </td>
                                    <td class="form-group">
                                        @Html.TextBoxFor(m => item.ToCity, new { @id = "txt_ToCity_" + @item.dockno, placeholder = "To City", data_id = @item.dockno, @value = @item.reassign_destcd, @class = "form-control clsToCity required required2", @readonly = "true" })
                                    </td>
                                    <td class="center">
                                        <button type="button" class="btn default btn-xs blue-stripe tooltips btnMasterEdit" title="Edit" id="btnEdit_@item.dockno.ToString()" data-appamnt="@item.reassign_destcd" data-id="@item.dockno" rel="tooltip" data-placement="top">
                                            <i class="fa fa-pencil"></i>&nbsp;Edit
                                        </button>
                                        <button type="button" style="display:none" class="btn default btn-xs green-stripe tooltips btnMasterSave" title="Save" id="btnSave_@item.dockno.ToString()" data-appamnt="@item.reassign_destcd" data-id="@item.dockno" rel="tooltip" data-placement="top">
                                            <i class="fa fa-save"></i>&nbsp;Save
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var CallSubmitClick = function (DomainName) {

            $(".btnMasterSave").click(function (e) {
                if (e.handled !== true) // This will prevent event triggering more then once
                {
                    e.handled = true;
                    var Id = $(this).data('id');
                    savefn(DomainName, Id);
                }
            });
        }

        var savefn = function (DomainName, Id) {
            App.blockUI({ boxed: true });
            Formvalidate(DomainName);

            if (!$("#form_sample").valid()) {
                App.unblockUI();
                return false;
            }

            var LocCode = $('#txt_' + Id).val();
            var CSGEPinCode = $('#txt_CSGEPinCode_' + Id).val();
            var DestStateName = $('#txt_DestStateName_' + Id).val();
            var Destination_Area = $('#txt_Destination_Area_' + Id).val();
            var ToCity = $('#txt_ToCity_' + Id).val();

            if (LocCode == "" || LocCode == null) {
                App.unblockUI();
                return;
            }

            var JobsheetApprovedAmount = {
                "Id": Id, "LocCode": LocCode, "CSGEPinCode": CSGEPinCode, "DestStateName": DestStateName,
                "Destination_Area": Destination_Area, "ToCity": ToCity
            };
            $.ajax({
                url: DomainName + '/Exceptions/CNoteReassignLocationSubmit',
                cache: false,
                data: JSON.stringify(JobsheetApprovedAmount),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.Status) {
                        TosterNotification("success", "Record has been updated successfully..!!", "Success");
                        hideShow('0000', DomainName);
                        location.reload();
                    }
                    else {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    }
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
            $("input:checkbox, input:radio").uniform();
        }

        var switchBtn = function () {

            $('.StatusCodeY').bootstrapSwitch('state', true);
            $('.StatusCodeY').bootstrapSwitch('size', 'mini');
            $('.StatusCodeN').bootstrapSwitch('state', false);
            $('.StatusCodeN').bootstrapSwitch('size', 'mini');

        }

        var hideShow = function (id, DomainName) {
            $('.clsCodeDesc').attr('disabled', true);
            $('.clsCSGEPinCode').attr('disabled', true);
            $('.clsDestStateName').attr('disabled', true);
            $('.clsDestination_Area').attr('disabled', true);
            $('.clsToCity').attr('disabled', true);

            $(".clsCSGEPinCode").select2("data", null);
            //$(".clsCSGEPinCode").select2().find(":selected").data('');
            $('.clsDestStateName').val('')
            $('.clsDestination_Area').val('')
            $('.clsToCity').val('')

            $('.clsCodeDesc').removeClass('required2');
            $('.clsCSGEPinCode').removeClass('required2');
            $('.clsDestStateName').removeClass('required2');
            $('.clsDestination_Area').removeClass('required2');
            $('.clsToCity').removeClass('required2');

            $('.btnMasterEdit').show();
            $('.btnMasterSave').hide();

            if (id != '0000') {
                $('#txt_' + id).attr('disabled', false);
                $('#txt_' + id).addClass('required2');

                $('#txt_CSGEPinCode_' + id).attr('disabled', false);
                $('#txt_CSGEPinCode_' + id).addClass('required2 required');
                $('#txt_DestStateName_' + id).attr('disabled', false);
                $('#txt_DestStateName_' + id).addClass('required2 required');
                $('#txt_Destination_Area_' + id).attr('disabled', false);
                $('#txt_Destination_Area_' + id).addClass('required2 required');
                $('#txt_ToCity_' + id).attr('disabled', false);
                $('#txt_ToCity_' + id).addClass('required2 required');

                $('#txt_' + id).val($('#txt_' + id).val())
                $('#txt_' + id).focus();
                $('#btnEdit_' + id).hide();
                $('#btnSave_' + id).show();

                $('#txt_' + id).change(function () {
                    $(".clsCSGEPinCode").select2("data", null);
                    var StrURL = DomainName + "/Operation/GetPincodeFromLocation?Location=" + $(this).val();
                    FillDropDownfromOther("txt_CSGEPinCode_" + id, StrURL, "DEST Pin Code");
                })

                $('#txt_CSGEPinCode_' + id).change(function () {
                    JsGetStateCityAreaWithPincode(DomainName, id);
                });
            }
        }

        var JsGetStateCityAreaWithPincode = function (DomainName, id) {

            var PinCodeVal = $('#txt_CSGEPinCode_' + id).val();
            var LocationVal = $('#txt_' + id).val();

            if (PinCodeVal != null && PinCodeVal != "" && LocationVal != null && LocationVal != "") {
                var strUrl = "@Url.Action("GetData", "Account")";
                var parameters = {};
                parameters['Picode'] = PinCodeVal;
                parameters['location'] = LocationVal;

                $.ajax({
                    url: strUrl,
                    type: 'POST',
                    dataType: "json",
                    data: {
                        Method: 'Get_Pincode_Origin',
                        parameters: parameters
                    },
                    success: function (result) {

                        $('#txt_DestStateName_' + id).val(result[0].stnm);
                        $('#txt_Destination_Area_' + id).val(result[0].Area);
                        $('#txt_ToCity_' + id).val(result[0].CityName);

                        App.unblockUI();
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue while update candidate status... Please try again later..', "Oppps..!!");
                        App.unblockUI('#responsive');
                    }
                });
            }
            else {
                $('#txt_DestStateName_' + id).val("");
                $('#txt_Destination_Area_' + id).val("");
                $('#txt_ToCity_' + id).val("");

                App.unblockUI();
            }
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);
                $("#CNoteReassignLocation").parents('.row').show(800);

                $(".btnCancel").live('click', function (e) {
                    $("#CodeDesc").val("");
                });

                $(".btnMasterEdit").live('click', function (e) {
                    var id = $(this).data('id');
                    console.log(id);
                    hideShow(id, DomainName);
                });

                $(".clsCodeDesc").live('dblclick', function (e) {
                    var id = $(this).data('id');
                    hideShow(id, DomainName);
                });

                $(".clsCodeDesc").live('keypress', function (e) {
                    var key = e.KeyCode || e.which;
                    if (key == 13 || key == 9)  // the enter key code
                    {
                        savefn(DomainName, $(this).data('id'))
                    }

                });

                CallSubmitClick(DomainName);

                switchBtn();

                @foreach(var item in Model.ListVWWDS)
                {
                    string DockNo = "txt_" + item.dockno;
                    <text>
                StrURL = DomainName + "/Operation/GetDestinationLocations";
                JsonDDLSelectCode("@DockNo", StrURL);
                </text>
                }

                initTableById("CNoteReassignLocation");
            }
        }
    }();
</script>
