﻿@using Fleet
@using Fleet.ViewModels
@using FleetDataService.Models;
@model Fleet.ViewModels.DocketViewModel

@{
    ViewBag.Title = "Cnote Fields Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();

    List<SelectListItem> BlankList = new List<SelectListItem>();

    List<webx_pincode_master> OrignPinCode = MS.GetPincodeMasterObject().Where(c => c.Handling_Location == Model.WMD.ORGNCD && c.ActiveFlag == "Y").ToList();
    List<SelectListItem> ConsignorPinCode = new List<SelectListItem>();
    foreach (var item in OrignPinCode)
    {
        SelectListItem CSPN = new SelectListItem();
        CSPN.Text = item.PinArea.ToString();
        CSPN.Value = item.pincode.ToString();
        ConsignorPinCode.Add(CSPN);
    }

    List<webx_pincode_master> DestPinCode = MS.GetPincodeMasterObject().Where(c => c.Handling_Location == Model.WMD.DESTCD && c.ActiveFlag == "Y").ToList();
    List<SelectListItem> ConsigneePinCode = new List<SelectListItem>();
    foreach (var item in DestPinCode)
    {
        SelectListItem CEPN = new SelectListItem();
        CEPN.Text = item.PinArea.ToString();
        CEPN.Value = item.pincode.ToString();
        ConsigneePinCode.Add(CEPN);
    }
}

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@ViewBag.DKTCalledAs Edit
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("UpdateCnoteFields", "Exceptions", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <h4 class="form-section">Basic Details</h4>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="control-label col-md-5">@ViewBag.DKTCalledAs No</div>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WMD.DOCKNO, new { placeholder = ViewBag.DKTCalledAs + " No", @class = "form-control", @readonly = true })
                                @Html.HiddenFor(m => m.WMD.ORGNCD)
                                @Html.HiddenFor(m => m.WMD.PAYBAS)
                                @Html.HiddenFor(m => m.WMD.DESTCD)
                                @Html.HiddenFor(m => m.WMD.DOCKDT)
                                @Html.HiddenFor(m => m.WMD.GCType)
                                @Html.HiddenFor(m => m.WMD.pl_partner)
                                @Html.HiddenFor(m => m.WMD.manual_dockno)
                                @Html.HiddenFor(m => m.WMD.doctype)
                                @Html.HiddenFor(m => m.WMD.to_loc_Code)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Billing Party Code</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WMD.PARTY_CODE, new { placeholder = "Billing Party", @class = "required2 form-control required" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Billing Name </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WMD.CSGENM, new { placeholder = "Billing Party Name", @class = "required2 form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5" style="padding-top:1px;">Local CNote</label>
                            <div class="col-md-7">
                                @Html.CheckBoxFor(c => c.WMD.IsLocalDocket)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Pickup/Delivery </label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(c => c.WMD.Pickup_Dely, new SelectList(BlankList, "Value", "Text", Model.WMD.Pickup_Dely), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Pickup/Delivery" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Packaging Type </label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(c => c.WMD.PKGSTY, new SelectList(BlankList, "Value", "Text", Model.WMD.PKGSTY), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Packaging Type" })
                            </div>
                        </div>
                    </div>
                </div>

                <h4 class="form-section">Consignor & Consignee Details</h4>

                <div id="divStep3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-2">
                                    <h5><b>Consignor </b></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Select Consignor </label>
                                        <div class="col-md-7 radio-list">
                                            <label class="radio-inline">
                                                <input type="radio" name="RDOCnor" id="RDOCnor1" checked value="RDOCnor1" class="clsCnor"> From Master
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="RDOCnor" id="RDOCnor2" value="RDOCnor2" class="clsCnor"> Walk-In
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Select Name </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.CSGNCD, new { placeholder = "Consignor Code", @class = "required2 required form-control clsCnor1" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5"></label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.CSGNNM, new { placeholder = "Consignor Name", @class = "required2 required form-control clsCnor" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Address </label>
                                        <div class="col-md-7">
                                            @Html.TextAreaFor(m => m.WMD.CSGNADDR, new { placeholder = "Address", @class = "required2 required form-control" })@*clsCnor*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">City </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.CSGNCity, new { placeholder = "City", @class = "required2 required form-control" })@*clsCnor*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Pincode </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(c => c.WMD.CSGNPinCode, new SelectList(ConsignorPinCode, "Value", "Text", Model.WMD.CSGNPinCode), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Pincode" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Mobile No </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.csgnmobile, new { placeholder = "Mobile No", @class = "form-control", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))", @maxlength = 10 })@*clsCnor*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">E-mail</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.CSGNEmail, new { placeholder = "Consignor Email", @class = " form-control ", @maxlength = "15" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Consignor GST No. </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.CSGNGSTNO, new { placeholder = "Consignor GST No.", @class = "required2 form-control required GSTNo", @maxlength = "15" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-2">
                                    <h5><b>Consignee </b></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Select Consignee </label>
                                        <div class="col-md-7 radio-list">
                                            <label class="radio-inline">
                                                <input type="radio" name="RDOCnee" id="RDOCnee1" checked value="RDOCnee1" class="clsCnee"> From Master
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="RDOCnee" id="RDOCnee2" value="RDOCnee2" class="clsCnee"> Walk-In
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Select Name </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.CSGECD, new { placeholder = "Consignor Code", @class = "required2 required form-control clsCnee1" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5"></label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.CSGENM, new { placeholder = "Consignor Name", @class = "required2 required form-control clsCnee" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Address </label>
                                        <div class="col-md-7">
                                            @Html.TextAreaFor(m => m.WMD.CSGEADDR, new { placeholder = "Address", @class = "required2 required form-control" })@*clsCnee*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">City </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.CSGECity, new { placeholder = "City", @class = "required2 required form-control" })@*clsCnee*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Pincode </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(c => c.WMD.CSGEPinCode, new SelectList(ConsigneePinCode, "Value", "Text", Model.WMD.CSGEPinCode), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Pincode" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Mobile No </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.csgemobile, new { placeholder = "Mobile No", @class = "form-control", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))", @maxlength = 10 })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">E-mail</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.CSGEEmail, new { placeholder = "Consignee Email", @class = " form-control ", @maxlength = "15" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Consignee Customer GST No.</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.CSGEGSTNO, new { placeholder = "Consignee Customer GST No.", @class = "required2 required form-control GSTNo", @maxlength = "15" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-2">
                                    <h5><b>Documents </b></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Special Instruction </label>
                                        <div class="col-md-7">
                                            @Html.TextAreaFor(m => m.WMD.spl_svc_req, new { placeholder = "Special Instruction", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Policy No,Date</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.insupl, new { placeholder = "Policy No", @class = "  form-control " })
                                            <div class="input-group date date-picker" data-date-format="dd MMM yyyy">
                                                @Html.TextBoxFor(m => m.WMD.insupldt, Model.WMD.insupldt.ToString("dd MMM yyyy"), new { placeholder = "Policy Date", @class = "  form-control " })
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Internal Covers </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.tot_modvat, new { placeholder = "Internal Covers", @class = "required2 required form-control " })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Modvat Covers </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.tot_covers, new { placeholder = "Modvat Covers", @class = "required2 required form-control " })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Customer Ref No </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.ctr_no, new { placeholder = "Customer Ref No", @class = "  form-control " })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Private Mark </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.privatemark, new { placeholder = "Private Mark", @class = "required2 required form-control " })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">TP Number </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.WMD.tpnumber, new { placeholder = "TP Number ", @class = "  form-control " })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <a class="btn btn-sm default controls" href="@Url.Action("CnoteFieldsEditCriteria", "Exceptions" )"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
                    <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                </div>
            </div>
        }
    </div>
</div>

<script>

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            jQuery.validator.addMethod("FutureDateValidate", function (value, element) {

                var DKTDate = value;
                var date = $('#datepicker').datepicker('getDate');
                var now = new Date();
                var myDate = new Date(ChangeInJQDate(DKTDate));
                //alert("myDate " + new Date(myDateFormatter(DKTDate)) + " now " + now + " value  " + new Date(value));
                return this.optional(element) || new Date(myDateFormatter(DKTDate)) < now;

                // else alert('Das passt nicht!' + mD +  '   ' + nowdate);

            });
            jQuery.validator.addMethod("equalTo", function (value, element, param) {
                var EWayInvAmt = $(param).val();
                if (value != EWayInvAmt) {
                    return false;
                } else {
                    return true;
                }
                //return this.optional(element) || value != $(param).val();
            }, "Declared Value must be same as E-Way Invoice Value");

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                rules: {
                    'WMD.DOCKDT': {
                        FutureDateValidate: true,
                    }
                },
                messages: {
                    'WMD.DOCKNO': {
                        checkDKTAvailability: function () {

                            return $("#DKTError").val()
                        }
                    }, 'WMD.DOCKDT': {
                        FutureDateValidate: jQuery.format("Future Date is not Allowed."),

                    },
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    //if (element.parents('.checkbox-list').size() > 0) {
                    //    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    //} else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                    //}
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var PageLoadJS = function (DomainName) {

            var StrURL = DomainName + "/Operation/GetStep1Details";
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: StrURL,
                dataType: 'json',
                data: {},
                success: function (data) {
                    $("#WMD_GCType").val(data.FLAG_COMPUTERISED);
                },
                error: function () {
                    alert("error");
                }
            });
        }

        var Event = function (DomainName) {

            var doctype = "DKT";
            if ($("#WMD_GCType").val() == "N")
                doctype = "DKT";
                //else if ($("#WMD_GCType").val() == "Y") {

                //    var doctype = $('.clsBillingPartyAS:checked').attr("id");
                //}
            else if ($("#WMD_GCType").val() == "C") {
                doctype = "CMP";
            }

            var PartyCode = $("#WMD_PARTY_CODE").val();
            var Destination = $("#WMD_DESTCD").val();
            var Paybas = $("#WMD_PAYBAS").val();
            var DOCKDT = $("#WMD_DOCKDT").val();
            var toCityCode=$("#WMD_to_loc_Code").val();

            if (PartyCode != "" && Destination != "" && Paybas != "" && DOCKDT != "") {
                App.blockUI({ boxed: true });
                //console.log("GetContacrtDetails blockUI")
                var StrURL1 = DomainName + "/Operation/GetStep2Details?PartyCode=" + PartyCode + "&Paybas=" + Paybas + "&Destination=" + Destination + "&doctype=" + doctype + "&DOCKDT=" + DOCKDT+"&ToCity="+toCityCode;
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: StrURL1,
                    dataType: 'json',
                    data: {},
                    success: function (data1) {

                        var StrURL = DomainName + "/Operation/GetGeneralMasterDetailsWithContract/PKPDL?CodeList=" + data1.PKGDelyType;
                        FillDropDownfromOtherSelectFirst("WMD_Pickup_Dely", StrURL, " Type", "@Model.WMD.Pickup_Dely");

                        var StrURL = DomainName + "/Operation/GetGeneralMasterDetailsWithContract/PKGS?CodeList=";
                        FillDropDownfromOtherSelectFirst("WMD_PKGSTY", StrURL, " Type", "@Model.WMD.PKGSTY");

                        App.unblockUI();
                    },
                    error: function (req, status, error) {
                        alert("error--" + req + "---" + status + "---" + error);
                    }
                });
            }
            $("#WMD_PARTY_CODE").change(function () {
                if ($(this).val() != "" && $(this).val() != null) {
                    $("#WMD_CSGENM").val($(this).select2('data').text);
                }
            });
        }


        var SubmitClick = function (DomainName) {

            $('#btnSubmit').click(function () {
                var form = $('#form_sample');
                if (form.valid() == false) {
                    return false;
                }                
                App.blockUI({ boxed: true });
                document.forms["form_sample"].submit();
            });
        }


        var JsGetCNorCneeDetails = function (DomainName, Party, PartyAs) {

            if (Party != "") {
                App.blockUI({ boxed: true });
                var StrURL = DomainName + "/Operation/GetCustomerDetails?custcd=" + Party;

                $.ajax({
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: StrURL,
                    dataType: 'json',
                    data: {},
                    success: function (data) {

                        if (PartyAs == "CSGN") {
                            $("#WMD_CSGNNM").val(data.Name);
                            $("#WMD_CSGNADDR").val(data.Address);
                            $("#WMD_CSGNCity").val(data.City);
                            $("#WMD_csgnmobile").val(data.Mobileno);

                            //if ("@Model.WMD.CSGNPinCode" == null) {
                            //}
                            $("#WMD_CSGNCD").select2("data", { id: Party, text: data.Name });

                            /* START GST Changes Chirag D  */
                            //console.log("5");
                            $("#WMD_CSGNPinCode").val(data.Pincode);
                            $("#WMD_CSGNPinCode").select2().find(":selected").data(data.Pincode);
                            JsGetStateCityAreaWithPincode(DomainName, "WMD_CSGNPinCode", "WMD_ORGNCD")
                            /* END GST Changes Chirag D  */

                            //CnorEnabledDisabled(true);
                        }
                        else {
                            $("#WMD_CSGENM").val(data.Name);
                            $("#WMD_CSGEADDR").val(data.Address);
                            $("#WMD_CSGECity").val(data.City);

                            /* START GST Changes Chirag D  */
                            $("#WMD_CSGEPinCode").val(data.Pincode);
                            $("#WMD_CSGEPinCode").select2().find(":selected").data(data.Pincode);
                            JsGetStateCityAreaWithPincode(DomainName, "WMD_CSGEPinCode", "WMD_DESTCD")

                            /* END GST Changes Chirag D  */

                            $("#WMD_csgemobile").val(data.Mobileno);
                            $("#WMD_CSGECD").select2("data", { id: Party, text: data.Name });

                            // Cnoee Disabled
                            CneeEnabledDisabled(true);
                        }

                        App.unblockUI();
                    },
                    error: function () {
                        alert("error 1111");
                    }
                });
            }
        }
        var JsGetStateCityAreaWithPincode = function (DomainName, PinCode, Location) {

            var PinCodeVal = $("#" + PinCode).val();
            var LocationVal = $("#" + Location).val();

            var strUrl = "@Url.Action("GetData", "Account")";
            var parameters = {};
            parameters['Picode'] = PinCodeVal;
            parameters['location'] = LocationVal;
            parameters['CustomerCode'] = $("#WMD_PARTY_CODE").val();

            if (PinCodeVal != "" && LocationVal != "") {
                console.log(PinCodeVal + "--" + LocationVal + "--" + $("#WMD_PARTY_CODE").val());
                $.ajax({
                    url: strUrl,
                    type: 'POST',
                    dataType: "json",
                    data: {
                        Method: 'Get_Pincode_Origin',
                        parameters: parameters
                    },
                    success: function (result) {

                        //alert(result[0].gst_registration_no)
                        //console.log("6");
                        //console.log(result[0].stnm);
                        if (PinCode == "WMD_CSGNPinCode" && PinCodeVal != "" && PinCodeVal != null && PinCodeVal != "null") {
                            //console.log("1");
                            //console.log(result[0].stnm);
                            $("#WMD_OriginStateName").val(result[0].stnm);

                            /*Start 24 July Docket GST Change*/
                            //$("#WMD_fincmplbrDisplay").val($("#WMD_ORGNCD").val() + "(" + $("#WMD_OriginStateName").val() + ")");
                            PaybaseChage_fincmplbr(DomainName);
                            /*End 24 July Docket GST Change*/

                            $("#WMD_Origin_Area").val(result[0].Area);
                            //$("#WMD_from_loc").val(result[0].CityName);
                            //$("#WMD_CustGSTNo").val(result[0].gst_registration_no);
                            //if (result[0].gst_registration_no != null) {
                            //    $("#WMD_CustGSTNo").attr("readonly", true);
                            //}
                            //else {
                            //    $("#WMD_CustGSTNo").attr("readonly", false);
                            //}
                        }
                        else if (PinCode == "WMD_CSGEPinCode" && PinCodeVal != "" && PinCodeVal != null && PinCodeVal != "null") {
                            //console.log("2");
                            //console.log(result[0].stnm);
                            /*Start 24 July Docket GST Change*/
                            PaybaseChage_fincmplbr(DomainName);
                            /*End 24 July Docket GST Change*/

                            $("#WMD_DestStateName").val(result[0].stnm);
                            $("#WMD_Destination_Area").val(result[0].Area);
                            //$("#WMD_to_loc").val(result[0].CityName);
                            //$("#WMD_CSGECustGSTNo").val(result[0].CSNEgst_registration_no);
                        }
                        App.unblockUI();
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue while update candidate status... Please try again later..', "Oppps..!!");
                        App.unblockUI('#responsive');
                    }
                });
            }
        }
        var cheakgstvalidationforpaybase = function (DomainName, custType) {

            var PAYBAS = $("#WMD_PAYBAS").val();
            if (PAYBAS != null) {
                var strUrl = "@Url.Action("GetData", "Account")";
                var parameters = {};
                parameters['CustomerCode'] = custType == "" || custType == null ? $("#WMD_PARTY_CODE").val() : custType == "CSGN" ? $("#WMD_CSGNCD").val() : $("#WMD_CSGECD").val();
                parameters['locode'] = custType == "" || custType == null ? $("#WMD_ORGNCD").val() : custType == "CSGN" ? $("#WMD_ORGNCD").val() : $("#WMD_DESTCD").val();
                $.ajax({
                    url: strUrl,
                    type: 'POST',
                    dataType: "json",
                    data: {
                        Method: 'Get_GSTNo_Customer',
                        parameters: parameters
                    },
                    success: function (result) {
                        if (custType == "CSGN" && result[0] != undefined) {
                            $("#WMD_CustGSTNo").val(result[0].gst_registration_no);
                            $("#WMD_CustPanNo").val(result[0].Pan_no);
                            $("#WMD_CustAadharNo").val(result[0].Aadhar_no);

                        } else if (custType == "CSGN" && result[0] == undefined) {
                            $("#WMD_CustGSTNo").val("");
                            $("#WMD_CustPanNo").val("");
                            $("#WMD_CustAadharNo").val("");
                        }

                        if (custType == "CSGE" && result[0] != undefined) {
                            $("#WMD_CSGECustGSTNo").val(result[0].gst_registration_no);
                            $("#WMD_CSGECustPanNo").val(result[0].Pan_no);
                            $("#WMD_CSGECustAadharNo").val(result[0].Aadhar_no);
                        } else if (custType == "CSGE" && result[0] == undefined) {
                            $("#WMD_CSGECustGSTNo").val("");
                            $("#WMD_CSGECustPanNo").val("");
                            $("#WMD_CSGECustAadharNo").val("");
                        }
                        // }

                        App.unblockUI();
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue while update candidate status... Please try again later..', "Oppps..!!");
                        App.unblockUI('#responsive');
                    }
                });
            }
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                Event(DomainName);
                SubmitClick(DomainName);
                PageLoadJS(DomainName);
                setTimeout(function () {
                    GetPartyCode("WMD_PARTY_CODE", $("#WMD_ORGNCD").val(), $("#WMD_PAYBAS").val());
                }, 50);

                var StrURL = DomainName + "/Operation/GetGeneralMasterDetailsWithContract/PKGS?CodeList=";
                FillDropDownfromOther("WMD_PKGSTY", StrURL, " Type");

                $('.date-picker').datepicker({
                    isRTL: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    minDate: '@System.DateTime.Now',
                    todayBtn: true
                });
                GetPartyCode("WMD_CSGECD", "", "");
                $("#WMD_CSGNCD").change(function () {
                    JsGetCNorCneeDetails(DomainName, $(this).val(), "CSGN");
                    cheakgstvalidationforpaybase(DomainName, "CSGN");
                });
            }
        }
    }();
</script>
