﻿@{
    ViewBag.Title = "CrossingChallan_CancellationDone";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ChallanNo = ViewBag.ChallanNo;
}

<div class="row">
    <div class="col-md-6">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;Crossing Challan has been successfully Cancelled.
                </div>
            </div>
            <div class="portlet-body" id="divCrieteria">
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Crossing Challan No
                                    </th>
                                    <td>
                                        @ChallanNo
                                    </td>
                                </tr>
                                <tr>
                                    <th>

                                    </th>
                                    <th>
                                        <a class="btn default" href="@Url.Action("CrossingChallanCanellation")">
                                            Click here to Cancel More Crossing Challan&nbsp;
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


