﻿@model FleetDataService.Models.Webx_Crossing_Docket_Master
@using Fleet.Helpers;

@{
    ViewBag.Title = "Crossing Challan Canellation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CrossingChallanCanellation", "Exceptions", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i div class="fa fa-edit"></i>@ViewBag.Title Details
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Challan No</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CrossingChallanNo, new { @class = "form-control required required2", @placeholder = "Crossing Challan No" })
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Location</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.ChallanLocCode, new { @class = "form-control required required2", @placeholder = "Crossing Challan No", @readonly = true })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Challan Date</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.ChallanDate_str, new { @class = "form-control required required2", @placeholder = "Crossing Challan No", @readonly = true })                                        
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Vendor</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.VendorName, new { @class = "form-control required required2", @placeholder = "Crossing Challan No", @readonly = true })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Total To Pay</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.TotalToPay, new { @class = "form-control required required2", @placeholder = "Crossing Challan No", @readonly = true })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Total Crossing</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.TotalCrossing, new { @class = "form-control required required2", @placeholder = "Crossing Challan No", @readonly = true })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Total Door Delivery</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.TotalDoorDelyChrg, new { @class = "form-control required required2", @placeholder = "Crossing Challan No", @readonly = true })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Total Bulky</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.TotalBulky, new { @class = "form-control required required2", @placeholder = "Crossing Challan No", @readonly = true })
                                    </div>
                                </div>
                            </div>                                                        
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Net Amount</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.NetPayable, new { @class = "form-control required required2", @placeholder = "Crossing Challan No", @readonly = true })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#form_sample');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            $.validator.addMethod('checkCrossingChallanNumber', function (value, element) {
                var StrURL = DomainName + '/Exceptions/GetCrossingChallanNumberDetail?ChallanNo=' + value;
                var result1 = $.ajax({
                    async: false,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: StrURL,
                    dataType: 'json',
                    data: {},
                });
                
                var d1 = JSON.parse(result1.responseText);
                if (d1.flag == false) {
                    $("#ChallanLocCode").val("");
                    $("#ChallanDate_str").val("");
                    $("#VendorName").val("");
                    $("#TotalToPay").val("");
                    $("#TotalCrossing").val("");
                    $("#TotalDoorDelyChrg").val("");
                    $("#TotalBulky").val("");
                    $("#NetPayable").val("");
                    return false;
                }
                else {
                    $("#ChallanLocCode").val(d1.ChallanLocCode);
                    $("#ChallanDate_str").val(d1.ChallanDate);
                    $("#VendorName").val(d1.VendorName);
                    $("#TotalToPay").val(d1.TotalToPay);
                    $("#TotalCrossing").val(d1.TotalCrossing);
                    $("#TotalDoorDelyChrg").val(d1.TotalDoorDelyChrg);
                    $("#TotalBulky").val(d1.TotalBulky);
                    $("#NetPayable").val(d1.NetPayable);
                    return true;
                }

            }, "Challan No is not Valid... Please Enter Valid Challan No.");

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }       

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                $("#CrossingChallanNo").live("change", function () {                    
                    $(this).rules("add", {
                        checkCrossingChallanNumber: true,
                    });
                });

            }
        }
    }();
</script>
