﻿@model Fleet.ViewModels.CustomergeneratemailviewModel
@using FleetDataService.Models;
@using Fleet.Classes;
@{
    ViewBag.Title = "DACC OR DOD COD Charges Add.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("CustomergeneratemailSubmit", "Exceptions", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title List
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">Docket No</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Dkt.DOCKNO, new { placeholder = "Docket No", @class = "form-control required required2", @readonly = true })
                                @Html.HiddenFor(c => c.Dkt.SDD_Date)
                                @Html.HiddenFor(c => c.Dkt.CDELDT)
                                @Html.HiddenFor(c => c.COD)
                                @Html.HiddenFor(c => c.DACC)
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">Docket Date</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Dkt.DOCKDT, Convert.ToDateTime(Model.Dkt.DOCKDT).ToString("dd MMM yyyy"), new { placeholder = "Docket Date", @class = "form-control required required2", @readonly = true })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">Origin</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Dkt.ORGNCD, new { placeholder = "Origin", @class = "form-control required required2", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">Destination</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Dkt.DESTCD, new { placeholder = "Destination", @class = "form-control required required2", @readonly = true })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">Customer Code</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Dkt.CSGNCD, new { placeholder = "Customer Code", @class = "form-control required required2", @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">Customer Name</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Dkt.CSGNNM, new { placeholder = "Customer Name", @class = "form-control required required2", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">DACC</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Dkt.DACC, new { placeholder = "DACC Charges", @class = "form-control required required2", @number = "true" })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">COD / DOD</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Dkt.COD, new { placeholder = "COD/DOD Charges", @class = "form-control required required2", @number = "true" })
                            </div>
                        </div>

                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">Mail ID</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Dkt.MailId, new { placeholder = "Mail ID", @class = "form-control required required2 email" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">Mail ID1</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Dkt.MailId1, new { placeholder = "Mail ID1", @class = "form-control " })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">Mail ID2</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Dkt.MailId2, new { placeholder = "Mail ID2", @class = "form-control " })
                            </div>
                        </div>
                    </div>
                    <div class="form-body">
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <a href="@Url.Content("~/Exceptions/Customergeneratemail")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back to criteria</a>
                                    <button type="submit" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#submit_form');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    App.blockUI({ boxed: true });
                    document.forms['submit_form'].submit();
                }


            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);


                $("#Dkt_DACC").live("focusout", function () {
                    $("#DACC").val("DACC");
                })
                $("#Dkt_COD").live("focusout", function () {
                    $("#COD").val("COD");
                })

                $(".date-picker").datepicker({

                    rtl: App.isRTL(),
                    format: "dd MM yyyy",
                    showMeridian: true,
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    startDate: new Date($("#Dkt_CDELDT").val()),
                    //endDate: new Date($("#Dockno_0100029__CDELDT").val()),
                    todayBtn: true
                })

                if (("@Model.Dkt.SDD_Date.ToString("dd MMM yyyy")" == "01 Jan 0001") || ("@Model.Dkt.SDD_Date.ToString("dd MMM yyyy")" == "01 Jan 1990")) {
                    $("#Dkt_SDD_Date").val("");
                }
            }
        };
    }();

</script>
