﻿@model Fleet.ViewModels.CustomergeneratemailviewModel
@using FleetDataService.Models;
@using Fleet.Classes;
@{
    ViewBag.Title = "DACC COD/DOD Cancellation List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool DACC = true, COD_DOD = true;

    if (Model.Dkt.DACC_Cancel != null && Model.Dkt.DACC_Cancel.ToUpper() == "Y")
    {
        DACC = false;
    }
    if (Model.Dkt.COD_DOC_Cancel != null && Model.Dkt.COD_DOC_Cancel.ToUpper() == "Y")
    {
        COD_DOD = false;
    }
}

@using (Html.BeginForm("DACC_COD_DOD_CancellationSubmit", "Exceptions", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">Docket No</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Dkt.DOCKNO, new { placeholder = "Docket No", @class = "m-wrap form-control", @readonly = true })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">Docket Date</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Dkt.DOCKDT, Convert.ToDateTime(Model.Dkt.DOCKDT).ToString("dd MMM yyyy"), new { placeholder = "Docket Date", @class = "m-wrap form-control", @readonly = true })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">Origin</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Dkt.ORGNCD, new { placeholder = "Origin", @class = "m-wrap form-control", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">Destination</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Dkt.DESTCD, new { placeholder = "Destination", @class = "m-wrap form-control ", @readonly = true })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">Customer Code</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Dkt.CSGNCD, new { placeholder = "Customer Code", @class = "m-wrap form-control ", @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">Customer Name</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Dkt.CSGNNM, new { placeholder = "Customer Name", @class = "m-wrap form-control ", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">DACC</label>
                            <div class="col-md-8">
                                @Html.CheckBox("DACC_Cancel", @DACC, new { @readonly = true, @class = "DACC_Cancel" })
                                @Html.HiddenFor(m => m.Dkt.DACC_Cancel)
                                @* @Html.TextBoxFor(c => c.Dkt.DACC_YN, new { placeholder = "DACC", @class = "m-wrap form-control ", @readonly = true })*@
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">COD / DOD</label>
                            <div class="col-md-8">
                                @Html.CheckBox("COD_DOC_Cancel", @COD_DOD, new { @readonly = true, @class = "COD_DOC_Cancel" })
                                @Html.HiddenFor(m => m.Dkt.COD_DOC_Cancel)
                                @*@Html.TextBoxFor(c => c.Dkt.COD_DOD, new { placeholder = "COD / DOD", @class = "m-wrap form-control "  ,@readonly = true})*@
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">Mail ID</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Dkt.MailId, new { placeholder = "Mail ID", @class = "form-control required required2 email" })
                            </div>
                        </div>
                    </div>
                    <div class="form-body">
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <a href="@Url.Content("~/Exceptions/DACC_COD_DOD_Cancellation")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back to criteria</a>
                                    <button type="submit" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#submit_form');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.forms['submit_form'].submit();
                }


            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);

                if ($('.DACC_Cancel').attr('checked')) {
                    $("#Dkt_DACC_Cancel").val("N");
                } else {
                    $("#Dkt_DACC_Cancel").val("Y");
                }

                if ($('.COD_DOC_Cancel').attr('checked')) {
                    $("#Dkt_COD_DOC_Cancel").val("N");
                } else {
                    $("#Dkt_COD_DOC_Cancel").val("Y");
                }

                $(".date-picker").datepicker({

                    rtl: App.isRTL(),
                    format: "dd MM yyyy",
                    showMeridian: true,
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    startDate: new Date($("#Dkt_CDELDT").val()),
                    //endDate: new Date($("#Dockno_0100029__CDELDT").val()),
                    todayBtn: true
                })

                if (("@Model.Dkt.SDD_Date.ToString("dd MMM yyyy")" == "01 Jan 0001") || ("@Model.Dkt.SDD_Date.ToString("dd MMM yyyy")" == "01 Jan 1990")) {
                    $("#Dkt_SDD_Date").val("");
                }
            }
        };
    }();

</script>
