﻿@model Fleet.ViewModels.DoketBookingExceptionViewModel
@{
    ViewBag.Title = "Docket EDD Date Booking Exception";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("DocketBookingEDD_DateChnage", "Exceptions", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="">
                                <div class="col-md-5">
                                    <label class="control-label col-md-4">Docket No.</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.CnoteNo, new { placeholder = "Docket No", @class = "form-control required required2" })
                                        @Html.Hidden("DKTError")
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            $.validator.addMethod('checkDKTSTAXEditAvailability', function (value) {
                App.blockUI({ boxed: true });

                var StrURL = DomainName + "/Exceptions/Check_DocketNo_EDD_Date_Chnage?DocketNo=" + $("#CnoteNo").val().trim();
                // alert("hello " + StrURL);
                var result1 = $.ajax({
                    async: false,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: StrURL,
                    dataType: 'json',
                    data: {},
                });

                var d1 = JSON.parse(result1.responseText);

                $("#DKTError").val(d1.Status);

                if (d1.Status == "Done") {
                    $("#btnSubmit").attr("disabled", false);
                    App.unblockUI();
                    return true;
                }
                else {
                    $("#btnSubmit").attr("disabled", true);
                    App.unblockUI();
                    return false;
                }

            }, "");

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                //ignore: "",

                rules: {
                    'CnoteNo': {
                        checkDKTSTAXEditAvailability: true,
                    },
                },
                messages: {
                    'CnoteNo': {
                        checkDKTSTAXEditAvailability: function () {
                            return $("#DKTError").val()
                        }
                    },
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();

                    App.blockUI({ boxed: true });
                    document.form["form_sample"].submit();

                }

            });
        }

        var Events = function (DomainName) {
            $("#btnSubmit").attr("disabled", true);
        }
        return {
            init: function (DomainName) {
                Formvalidate(DomainName);
                Events(DomainName);
            }
        }
    }();
</script>

