﻿@model Fleet.ViewModels.ShortageViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    ViewBag.Title = "Docket Mis Route List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("DocketMisRouteSubmit", "Exceptions", FormMethod.Post, new { id = "submit_form", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12" id="divList">
            <div class="portlet box @ViewBag.TableBoxColor ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>

                <div class="portlet-body form">
                    <div class="form-body" id="List">

                        <table class="table table-striped table-bordered table-hover" id="Sample1">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        <input type="checkbox" id="chkCheckAll" />
                                    </th>
                                    <th class="center">
                                        CNote<br />No.
                                    </th>
                                    <th class="center">
                                        Origin<br />Destination
                                    </th>
                                    <th class="center">
                                        From<br />To City
                                    </th>
                                    <th class="center">
                                        PayBas
                                    </th>
                                    <th class="center">
                                        Tran Mode
                                    </th>
                                    <th class="center">
                                        Booked<br />Pkgs
                                    </th>
                                    <th class="center">
                                        Booked<br />Wt
                                    </th>
                                    <th class="center">
                                        Arrd<br />Pkgs
                                    </th>
                                    <th class="center">
                                        Arrd<br />Wt
                                    </th>

                                    <th class="center">
                                        Shortage<br />Pkgs
                                    </th>
                                    <th class="center">
                                        Shortage<br />Wt
                                    </th>
                                    <th class="center">
                                        Misroute<br />Pkgs
                                    </th>
                                    <th class="center">
                                        Misroute<br />Weight
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="Advice">
                                @foreach (var item in Model.ListMR)
                            {
                                Html.RenderPartial("_DocketMisRoutePartial", item);
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-actions fluid">
                    <div class="col-md-offset-4 col-md-8">
                        <a class="btn btn-sm default controls" href="@Url.Content("~/Exceptions/DocketMisRouteCriteria")">
                            <i class="fa fa-arrow-left"> </i>
                            Back To Criteria
                        </a>
                        <button type="submit" id="btnSubmitList" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    document.form["form_sample"].submit();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }



        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);

                $('.IsCheck').attr("value", "false");
                $('#btnSubmitList').hide();
                $('.clsblk').attr("readonly", true);

                $(document).on('click', '#chkCheckAll', function () {
                    $('.IsCheck').prop('checked', $(this).prop('checked'));
                    if ($(this).prop('checked')) {
                        $('.IsCheck').parent('span').addClass('checked');
                        $('.IsCheck').val("true");
                        $('.clsShow').attr("readonly", false);
                        $('#btnSubmitList').show();
                    }
                    else {
                        $('.IsCheck').parent('span').removeClass('checked');
                        $('.IsCheck').val("false");
                        $('.clsShow').attr("readonly", true);
                        $('#btnSubmitList').hide();
                    }
                });

                $(document).on('change', ".IsCheck", function () {
                    var chkId = $(this).attr('id');
                    var tf = $(this).val();
                    var id = chkId.replace("MissDkt_", "").replace("__IsChecked", "");
                    if (this.checked) {
                        $(this).val("true");
                        $('#MissDkt_' + id + '__ArrivedPkgs').attr("readonly", false);
                        //if ($('#MissDkt_' + id + '__ArrivedPkgs').val() == 0) {
                        //    alert('fhh');
                        //    $('#MissDkt_' + id + '__ArrivedPkgs').addClass('required');
                        //}
                    }
                    else {
                        $(this).val("false");
                        $('#MissDkt_' + id + '__ArrivedPkgs').attr("readonly", true);
                        $('#MissDkt_' + id + '__ArrivedPkgs').removeClass('required');
                        $('#MissDkt_' + id + '__ArrivedPkgs').val(0);
                        $('#MissDkt_' + id + '__ArrivedWt').val(0);
                    }
                    var count = 0;
                    $('.IsCheck').each(function () {
                        if (this.checked) {
                            $("#chkCheckAll").parent('span').removeClass('checked');
                            count = count + 1;
                        }
                    })
                    if (count == 0) {
                        $('#btnSubmitList').hide();
                    }
                    else {
                        $('#btnSubmitList').show();
                    }
                });

                $(".clschange").live('change', function () {
                    var chkId = $(this).attr('id');
                    var id = chkId.replace("MissDkt_", "").replace("__ArrivedPkgs", "");
                    var Apkgvalue = $(this).val();//mistext
                    var Skgvalue = $('#MissDkt_' + id + '__ShortageQty').val();//Shortpggval
                    
                    if (parseFloat(Apkgvalue) > parseFloat(Skgvalue))
                    {
                        $('#MissDkt_' + id + '__ArrivedPkgs').val(0);
                        alert('You can not enter Misroute Pkgs more then Arrived/Booked Pkgs');
                    }
                    else
                    {
                        var prUnitPrice = (parseFloat($('#MissDkt_' + id + '__ShortageWeight').val()) / parseFloat($('#MissDkt_' + id + '__ShortageQty').val())) * parseFloat(Apkgvalue);
                        $('#MissDkt_' + id + '__ArrivedWt').val(parseFloat(prUnitPrice));
                    }

                     

                });

            }
        };
    }();

</script>