﻿@{
    ViewBag.Title = "Docket Status Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Docket = @ViewBag.DOCKNO;
}
<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>@ViewBag.Title Successfully Updated
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Docket No
                            </th>
                            @*<th>
                                Docket No
                            </th>
                            <th>
                                Action
                            </th>*@
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@Docket</b>
                            </td>
                            @*<td>
                                <a href="javascript:OrderView('1','@Docket')"><b><i class="fa fa-print"></i>&nbsp;View || Print</b></a>
                            </td>*@
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                <a href="@Url.Content("~/Exceptions/DocketStatusUpadate")">Click here to more @ViewBag.Title</a>
            </span>
        </div>
    </div>
</div>

<script type="text/javascript">
    function OrderView(Type, DocketNo) {
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        //var strPopupURL = ReportURL + DomainName + "/ViewPrint/DocketViewPrint?Type=" + Type + "&DocketNo=" + DocketNo;
        var strPopupURL = ReportURL + DomainName + "/ViewPrint/GC_XLSGeneration?Dockno=" + DocketNo + "&Docksf=.";
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;
    }
</script>