﻿@model  Fleet.ViewModels.Cnotecancellation
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    ViewBag.Title = ViewBag.DKTCalledAs + " Cancellation";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string Action = "";
    Action = @ViewBag.Flag;
}

@using (Html.BeginForm(Action, "Exceptions", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body" id="divCrieteria">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Select  Date :
                                </label>
                                <div class="col-md-7">
                                    <div id="reportrange" class="btn default">
                                        <i class="fa fa-calendar"></i>
                                        &nbsp;
                                        <span></span>
                                        <b class="fa fa-angle-down"></b>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        @ViewBag.DKTCalledAs No. :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.CNote, new { placeholder = @ViewBag.DKTCalledAs + " No.", @class = "form-control" })
                                        @Html.Hidden("DKTError")
                                        @Html.HiddenFor(c => c.FromDate)
                                        @Html.HiddenFor(c => c.ToDate)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Cancel Reason :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextAreaFor(c => c.Reason, new { placeholder = "Cancel Reason", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-actions fluid">
                                <div class="col-md-offset-3 col-md-8">

                                    @if (@ViewBag.Flag != "DocketCancellationlist")
                                    {
                                        <a class="btn btn-sm default controls" href="@Url.Action("DocketCancellation", "Exceptions")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
                                    }
                                    @if (Model.DocketList.Count == 0 && @ViewBag.Flag == "DocketCancellationlist")
                                    {
                                        <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Get Docket Cancellation List</button>
                                        @*<b>No Record Found</b>*@
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    if (Model.DocketList.Count > 0)
    {
        <div class="row" id="divList">
            <div class="col-md-8">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i>&nbsp;@ViewBag.DKTCalledAs List
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="form-body" id="tblThcList">

                            <table class="table table-striped table-bordered table-hover table-full-width center" id="Sample1">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="center table-checkbox">
                                            <input type="checkbox" class="group-checkable" id="chkgrp" data-set="#sample1 .checkboxes" />
                                        </th>
                                        <th class="center">
                                            @ViewBag.DKTCalledAs No.
                                        </th>
                                        <th class="center">
                                            Manual No.
                                        </th>
                                        <th class="center">
                                            @ViewBag.DKTCalledAs Date.
                                        </th>
                                        <th class="center">
                                            PayBas
                                        </th>
                                        <th class="center">
                                            @ViewBag.DKTCalledAs From Location.
                                        </th>
                                        <th class="center">
                                            @ViewBag.DKTCalledAs To Location.
                                        </th>
                                        <th class="center">
                                            Cancel Remarks.
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="Advice">
                                    @foreach (var item in Model.DocketList)
                                    {
                                        Html.RenderPartial("_DocketCancellationList", item);
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }



    if (Model.DocketList.Count > 0)
    {<div class="form-actions fluid" style="width:66.66%">
            <div class="col-md-offset-4 col-md-8">
                <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
            </div>
        </div>
    }


}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var FormValidate = function (DomainName) {
            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);
            $.validator.addMethod('checkDocketCancellation', function (value, element) {
                //alert(value +  "   " + JSON.stringify(element))

                var DocNO = value;
                var StrURL = DomainName + "/Exceptions/checkDocketCancellation?Id=" + DocNO;
                // alert("hello " + StrURL);
                var result1 = $.ajax({
                    async: false,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: StrURL,
                    dataType: 'json',
                    data: {},
                });

                var d1 = JSON.parse(result1.responseText);
                console.log(d1);
                $("#DKTError").val(d1.Message.replace("*DKT*", '@ViewBag.DKTCalledAs'))
                // App.unblockUI();
                if (d1.CNT == "1") {
                    return true;
                }
                else {

                    return false;
                }
            }, "Document Number is Not Exist !!!");

            form.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {
                    //account dateFuture
                },
                messages: {
                    'CNote': {
                        checkDocketCancellation: function () {
                            return $("#DKTError").val()
                        }
                    }
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    if (form.valid() == false) {
                        return false;
                    }
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                }
            });
        }

          var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }
            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                //maxDate: '12/31/2014',
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#FromDate').val(start.format('MMMM D, YYYY'));
                     $('#ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ToDate').val(moment().format('MMMM D, YYYY'));
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                /*$("#DOCKNO").change(function () {
                    App.blockUI({ boxed: true });
                    $(this).rules("add", {
                        checkDocketCancellation: true,
                    });
                    App.unblockUI();
                }); */

                FormValidate(DomainName);
                $('.chkCheck').val(false);
                handleDateRangePickers();
                //Events(DomainName);
                 $('.group-checkable').live('change', function () {
                    var checked = $(this).is(":checked");
                    if (checked) {
                        $('.chkCheck').each(function () {
                            $('.chkCheck').attr("checked", true);
                            $('span').addClass("checked");

                            var str = $(this).attr('id');
                            var id = str.replace("THCclnList_", "").replace("__IsChecked", "");
                            var cancelReamrksId=str.replace("IsChecked","CancelRemarks");
                            $('.chkCheck').attr('disabled', true);
                            $('#THCclnList_' + id + '__IsChecked').val(true);
                            $("#"+cancelReamrksId).addClass('required');

                        });
                    }
                    else {
                        $('.chkCheck').each(function () {
                            $('.chkCheck').attr("checked", false);
                            $('span').removeClass("checked");

                            var str = $(this).attr('id');
                            var id = str.replace("THCclnList_", "").replace("__IsChecked", "");
                            var cancelReamrksId=str.replace("IsChecked","CancelRemarks");
                            $('.chkCheck').attr('disabled', false);
                            $('#THCclnList_' + id + '__IsChecked').val(false);
                            $("#"+cancelReamrksId).removeClass("required");
                        });
                    }
                });

                $('.chkCheck').live('change', function () {
                    var checked = $(this).is(":checked");
                    var id=$(this).attr("Id");
                    var cancelReamrksId=id.replace("IsChecked","CancelRemarks");
                    if (checked == true) {
                        $('.chkCheck').val(true);
                        $("#"+cancelReamrksId).addClass('required');
                    }
                    else {
                        $('.chkCheck').val(false);
                        $("#"+cancelReamrksId).removeClass("required");
                    }
                });

                $('#Reason').live('blur',function(){
                    var reason=$('#Reason').val();
                    if(reason!="")
                    {
                     $('.clsRemarks').each(function () {
                            $(this).val(reason);
                        });
                    }

                });


                 $('#btnSubmit').live('click', function () {
                       var action='@ViewBag.Flag' ;
                    if(action=='DocketCancellationSubmit')
                    {
                      var chkCnt=0;
                       var errorCnt=0;
                         $('.chkCheck').each(function () {
                            var checked = $(this).is(":checked");
                            if (checked == true) {
                                chkCnt=chkCnt+1;
                                 var id=$(this).attr("Id");
                                var cancelReamrksId=id.replace("IsChecked","CancelRemarks");
                                if( $("#"+cancelReamrksId).val()=="")
                                {
                                errorCnt=errorCnt+1;
                                }
                            }
                          });

                        if(errorCnt>0)
                        {
                            alert("Please Enter Cancel Remarks for Selected CNOTE")
                            return false;
                        }
                        if(chkCnt==0)
                        {
                            alert("Please select atleast One Docket to Cancel")
                            return false;
                        }
                    }
                 });

            }
        }
    }();
</script>
