﻿@model Fleet.ViewModels.ShortageViewModel
@using FleetDataService.Models;
@using Fleet.Classes;
@{
    ViewBag.Title = ViewBag.DKTCalledas + " Shortage Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    FleetDataService.ExceptionsService ES = new FleetDataService.ExceptionsService();

    var Loccode = Model.BaseLoccode;
    List<ChgangeLoc> ListRO = MS.GetWorkingLocations(Loccode, Loccode).ToList();

    List<SelectListItem> LocList = new List<SelectListItem>(){
                    new SelectListItem{ Text="", Value = "" },
    };
}
<div class="row">
    <div class="col-md-8">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>Select @ViewBag.Title
                </div>
            </div>

            <div class="portlet-body form">
                <div class="form-body">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-hide">
                        <button class="close" data-close="alert"></button>
                        Your form validation is successful!
                    </div>

                    @using (Html.BeginForm("DocketShortageData", "Exceptions", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
                    {
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                Select RO:
                            </label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(c => c.WVHM.RO, new SelectList(ListRO, "LocCode", "Location"), "", new { @class = "form-control required required2 select2 clsall", @placeholder = "Select RO" })
                                @Html.HiddenFor(m => m.WVHM.RO)
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                Select Location:
                            </label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(c => c.WVHM.location, new SelectList(LocList, "Value", "Text"), "", new { @class = "form-control  select2 clsall", @placeholder = "Select Location" })
                                @Html.HiddenFor(m => m.WVHM.location)
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                @*<input type="radio" id="RdbDate" name="optionsRadios2" value="0" checked="checked" />*@
                                Select GRN Date:
                                @Html.HiddenFor(c => c.WVHM.FilterType)
                                @Html.HiddenFor(m => m.WVHM.DATEFROM)
                                @Html.HiddenFor(m => m.WVHM.DATETO)
                            </label>
                            <div class="col-md-6">
                                <div id="reportrange" class="btn default col-md-12">
                                    <i class="fa fa-calendar"></i>
                                    &nbsp;
                                    <span></span>
                                    <b class="fa fa-angle-down"></b>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                @*<input type="radio" id="RdbDate" name="optionsRadios2" value="1" />*@
                                Enter @ViewBag.DKTCalledas  No.:
                            </label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.WVHM.DOC_NO, new { placeholder = @ViewBag.DKTCalledas + " No.", @class = "form-control " })
                                @Html.HiddenFor(m => m.WVHM.DOC_NO)
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-12">
                                    <button type="submit" id="btnSubmit" class="btn blue"><i class="fa fa-search"></i>&nbsp;Search</button>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.form["form_sample"].submit();

                }

            });
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }

            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),

                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#WVHM_DATEFROM').val(start.format('MMMM D, YYYY'));
                     $('#WVHM_DATETO').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#WVHM_DATEFROM').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#WVHM_DATETO').val(moment().format('MMMM D, YYYY'));
        }

        var Events = function (DomainName) {

            $('#btnSubmit').click(function () {
                App.blockUI({ boxed: true });
                $('#form_sample').submit();
                App.unblockUI();
            });


        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                Events(DomainName);
                handleDateRangePickers();
                $('#WVHM_FilterType').val("0");
                $("#WVHM_RO").change("change", function () {
                    var Id = $("#WVHM_RO option:selected").val();
                    var strurl = DomainName + '/Exceptions/SearchLocationListJsonByRO/' + Id;
                    FillDropDownfromOther('WVHM_location', strurl, false);
                });

                $(".clsall").append("<option value='All'>All</option>");
                $(".clsall").val("All");
                $(".clsall").select2().find(":selected").data("All");

                $("input[name='optionsRadios2']").on("change", function () {
                    var rdoval = this.value;
                    if (rdoval == "") {
                        alert("Plz Select value")
                    }
                    else {
                        $('#WVHM_FilterType').val(rdoval);
                    }
                });
            }
        }
    }();
</script>
