﻿@model Fleet.ViewModels.DoketBookingExceptionViewModel
@using FleetDataService.Models;
@using Fleet.Classes;
@{
    ViewBag.Title = "Docket Booking Exception";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("DoketBookingExceptionSubmit", "Exceptions", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title List
                    </div>
                </div>
                <div class="portlet-body">


                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">Docket No</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Dkt.DOCKNO, new { placeholder = "Docket No", @class = "m-wrap form-control", @readonly = true })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">Docket Date</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Dkt.DOCKDT, Convert.ToDateTime(Model.Dkt.DOCKDT).ToString("dd MMM yyyy"), new { placeholder = "Docket Date", @class = "m-wrap form-control", @readonly = true })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">Pay Base</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Dkt.PAYBAS, new { placeholder = "Pay Base", @class = "m-wrap form-control", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">Party Code</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Dkt.CSGENM, new { placeholder = "Party Code", @class = "m-wrap form-control ", @readonly = true })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">EDD Date</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Dkt.CDELDT, Convert.ToDateTime(Model.Dkt.CDELDT).ToString("dd MMM yyyy"), new { placeholder = "EDD Date", @class = "m-wrap form-control", @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">Schedule Date</label>
                            <div class="col-md-8">
                                <div class="input-group input-medium date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="">
                                    @Html.TextBox("Dkt.SDD_Date", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.Dkt.SDD_Date).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @readonly = "True", @min = "0" })
                                    <span class="input-group-btn">
                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-body">
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <a href="@Url.Content("~/Exceptions/DoketBookingException")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back to criteria</a>
                                    <button type="submit" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#submit_form');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },


            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);

                $("#btnSubmit").click(function () {

                    App.blockUI({ boxed: true });
                    $("#submit_form").submit();
                });

                $(".date-picker").datepicker({

                    rtl: App.isRTL(),
                    format: "dd MM yyyy",
                    showMeridian: true,
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    startDate: new Date($("#Dkt_CDELDT").val()),
                    //endDate: new Date($("#Dockno_0100029__CDELDT").val()),
                    todayBtn: true
                })

                if (("@Model.Dkt.SDD_Date.ToString("dd MMM yyyy")" == "01 Jan 0001") || ("@Model.Dkt.SDD_Date.ToString("dd MMM yyyy")" == "01 Jan 1990")) {
                    $("#Dkt_SDD_Date").val("");
                }
            }
        };
    }();

</script>
