﻿@model Fleet.ViewModels.ShortageViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    ViewBag.Title = "Docket Shortage Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("DocketShortageSubmit", "Exceptions", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row" id="divList">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Selected Shortage & Damage Declaration List
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body" id="tblThcList">
                        <table class="table table-striped table-bordered table-hover table-full-width center " id="Sample1">
                            <thead class="flip-content">
                                <tr>
                                    <th colspan="5">
                                    </th>
                                    <th class="center" colspan="3">
                                        Shortage Details
                                    </th>
                                    <th class="center" colspan="3">
                                        Damage Details
                                    </th>
                                </tr>
                                <tr>
                                    <th class="center">
                                        <input type="checkbox" id="chkCheckAll" />
                                    </th>
                                    <th class="center">
                                        CNote No.
                                    </th>
                                    <th class="center">
                                        Bkg. Date
                                    </th>
                                    <th class="center">
                                        Bkg. Loc.
                                    </th>
                                    <th class="center">
                                        Dely. Loc.
                                    </th>
                                    <th class="center">
                                        Pkgs.[L/B]
                                    </th>
                                    <th class="center">
                                        Wt.[L/B]
                                    </th>
                                    <th class="center">
                                        Shortage Reason
                                    </th>
                                    <th class="center">
                                        Pkgs.[L/B]
                                    </th>
                                    <th class="center">
                                        Wt.[L/B]
                                    </th>
                                    <th class="center">
                                        Damage Reason
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="Advice">
                                @foreach (var item in Model.ListSM)
                                {
                                    Html.RenderPartial("_DamagePartialList", item);
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p style="color:red;">
        Select atleast one checkbox to view <strong>Submit</strong> button.
    </p>
    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <a class="btn btn-sm default controls" href="@Url.Content("~/Exceptions/DocketShortageCriteria")">
                <i class="fa fa-arrow-left"> </i>
                Back To Criteria
            </a>
            <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
        </div>
    </div>
}
<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#form_sample');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                $('#btnSubmit').hide();
                $('.IsCheck').attr("value", "false");
                $('.clsblk').attr("readonly", true);

                $(document).on('click', '#chkCheckAll', function () {
                    $('.IsCheck').prop('checked', $(this).prop('checked'));
                    if ($(this).prop('checked')) {
                        $('.IsCheck').parent('span').addClass('checked');
                        $('.clsblk').attr("readonly", false);
                        $('.IsCheck').val("true");
                        $('#btnSubmit').show();
                    }
                    else {
                        $('.IsCheck').parent('span').removeClass('checked');
                        $('.clsblk').attr("readonly", true);
                        $('.IsCheck').val("false");
                        $('#btnSubmit').hide();
                    }
                });

                $(document).on('change', ".IsCheck", function () {
                    var chkId = $(this).attr('id');
                    var tf = $(this).val();
                    var id = chkId.replace("ShortageList_", "").replace("___IsChecked", "");
                    $('#ShortageList_' + id + '___IsChecked').val();
                    if (this.checked) {
                        $(this).val("true");
                        $('#ShortageList_' + id + '___SPackagesLB').attr("readonly", false);
                        $('#ShortageList_' + id + '___DPackagesLB').attr("readonly", false);
                    }
                    else {
                        $(this).val("false");
                        $('#ShortageList_' + id + '___SPackagesLB').attr("readonly", true);
                        $('#ShortageList_' + id + '___DPackagesLB').attr("readonly", true);

                        $('#ShortageList_' + id + '___SPackagesLB').val(0);
                        $('#ShortageList_' + id + '___SWeightLB').val(0);
                        $('#ShortageList_' + id + '___DPackagesLB').val(0);
                        $('#ShortageList_' + id + '___DWeightLB').val(0);
                    }

                    var count = 0;
                    $('.IsCheck').each(function () {
                        if (this.checked) {
                            $("#chkCheckAll").parent('span').removeClass('checked');
                            count = count + 1;
                        }
                    })
                    if (count == 0) {
                        $('#btnSubmit').hide();
                    }
                    else {
                        $('#btnSubmit').show();
                    }
                });

                $(".clschange").live('change', function () {
                    var chkId = $(this).attr('id');
                    var id = chkId.replace("ShortageList_", "").replace("___SPackagesLB", "");
                    var Spkgvalue = $(this).val();//Wtext
                    var pkgvalue = $('#ShortageList_' + id + '___PackagesLB').val();//Plable
                    var WeightLB = $('#ShortageList_' + id + '___WeightLB').val();//Wlable
                    var DamagePkg = $('#ShortageList_' + id + '___DPackagesLB').val();
                    var SWeightLB = (parseFloat(WeightLB) / parseFloat(pkgvalue)) * parseFloat(Spkgvalue);
                    $('#ShortageList_' + id + '___SWeightLB').val(parseFloat(SWeightLB));
                    var chksum1 = parseFloat(pkgvalue) - parseFloat(DamagePkg);
                    if (parseFloat(Spkgvalue) > parseFloat(chksum1)) {
                        if ($('#ShortageList_' + id + '___SPackagesLB').val() > 0) {
                            $('#ShortageList_' + id + '___SPackagesLB').val(0);
                            $('#ShortageList_' + id + '___SWeightLB').val(0);
                            $('#ShortageList_' + id + '___SPackagesLB').attr('min', chksum1);
                        }
                    }
                    if( $(this).val() > parseFloat(pkgvalue))
                    {
                        $('#ShortageList_' + id + '___SPackagesLB').attr('min', pkgvalue);
                    }
                });

                $(".clsPKGcng").live('change', function () {
                    var chkId = $(this).attr('id');
                    var id = chkId.replace("ShortageList_", "").replace("___DPackagesLB", "");
                    var Dpkgvalue = $(this).val();//Wtext
                    var Dkgvalue = $('#ShortageList_' + id + '___PackagesLB').val();//Plable
                    var WeightLB = $('#ShortageList_' + id + '___WeightLB').val();//Wlable
                    var SWeightLB = (parseFloat(WeightLB) / parseFloat(Dkgvalue)) * parseFloat(Dpkgvalue);
                    $('#ShortageList_' + id + '___DWeightLB').val(parseFloat(SWeightLB).toFixed(0));
                    var WeightLB = $('#ShortageList_' + id + '___SPackagesLB').val();
                    var chksum = parseInt(Dkgvalue) - parseInt(WeightLB);
                    if (parseFloat(Dpkgvalue) > parseFloat(chksum)) {
                        if ($('#ShortageList_' + id + '___DPackagesLB').val() > 0) {
                            $('#ShortageList_' + id + '___DPackagesLB').val(0);
                            $('#ShortageList_' + id + '___DWeightLB').val(0);
                            $('#ShortageList_' + id + '___DPackagesLB').attr('min', chksum);
                        }
                    }
                    if ($(this).val() > parseFloat(Dkgvalue)) {
                        $('#ShortageList_' + id + '___DPackagesLB').attr('min', pkgvalue);
                    }
                });
            }
        }
    }();
</script>