﻿@model Fleet.ViewModels.DFMLISTViewModel
@{
    ViewBag.Title = "Edit DFM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("EditDFMDone", "Exceptions", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal", @readonly = "true" }))
{
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        You have some form errors. Please check below.
    </div>
    <div class="alert alert-success display-hide">
        <button class="close" data-close="alert"></button>
        Your form validation is successful!
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Route
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-11">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            FM No.
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.VWFDHD.FM_No, new { placeholder = "System Generated", @class = "form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Manual FM No.
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.VWFDHD.Manual_FM_No, new { placeholder = "System Generated", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Fm Entry Date
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.VWFDHD.FM_Entry_Date, new { placeholder = "System Generated", @class = "form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Forward Document To:
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.VWFDHD.Doc_Fwd_To, new { placeholder = "Forward Document To", @class = "form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Customer/Location:
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.VWFDHD.Loc_Cust_Code, new { placeholder = "Customer/Location", @class = "form-control required required2", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Document Type:
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.FMF.DocType, new { placeholder = "Document Type", @class = "form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Courier Name:
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.VWFDHD.Courier_Code, new { placeholder = "Courier Name", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Way Bill No.:
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.VWFDHD.Courier_Way_Bill_No, new { placeholder = "Way Bill No.", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Way Bill Date:
                                        </label>
                                        <div class="col-md-7">
                                            <div class="input-group date date-picker">
                                                @Html.TextBoxFor(c => c.VWFDHD.Courier_Way_Bill_Date, String.Format("{0:dd MMM yyyy}", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = " form-control required2 required" })
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Route Detail
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-2">DockNo</th>
                                    <th class="col-md-3">DockDT</th>
                                    <th class="col-md-2">Orgn_Dest</th>
                                    <th class="col-md-2">From_To</th>
                                    <th class="col-md-1">Dely_Date</th>
                                    <th class="col-md-2">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListDLM)
                                {
                                    <tr>
                                        <td>
                                            @item.DockNo
                                        </td>
                                        <td>
                                            @item.DockDT
                                        </td>
                                        <td>
                                            @item.Orgn_Dest
                                        </td>
                                        <td>
                                            @item.From_To
                                        </td>
                                        <td>
                                            @item.Dely_Date
                                        </td>
                                        <td>
                                            @item.Amount
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="form-actions fluid ">
                        <div class="col-md-offset-4 col-md-8">
                            <a href="@Url.Content("~/Exceptions/EditDFMQuery")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back To List</a>
                            <button type="submit" id="btnSubmit" class="btn btn-sm green controls submit"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                    'WVT.UserPwd': {
                        minlength: 6
                    },
                    'ConfirmPassword': {
                        equalTo: "#WVT_UserPwd"
                    },
                },

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                
            });
        }
        return {
            init: function (DomainName) {

                // $(".submit").hide();
                Formvalidate(DomainName);
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    showMeridian: true,
                    autoclose: true,
                    todayBtn: true
                });
            }
        }
    }();
</script>