﻿@model Fleet.ViewModels.CNoteNonDeliveryreasonUpdateViewModel
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    ViewBag.Title = "Docket Non Delivery List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}

@using (Html.BeginForm("CNoteNonDeliverySubmit", "Exceptions", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontalrow-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body" id="divCrieteria">
                    <div class="form-body">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                        <th class="center"><b>Select</b></th>
                                        <th class="center"><b>CNote No</b></th>
                                        <th class="center"><b>CNote Date</b></th>
                                        <th class="center"><b>Origin</b></th>
                                        <th class="center"><b>Destination</b></th>
                                        <th class="center"><b>Consignor</b></th>
                                        <th class="center"><b>Consignee</b></th>
                                        <th class="center"><b>Non Del. Sub reason</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DocketList)
                                {
                                    item.id = i;
                                    Html.RenderPartial("_CNoteNonDelivryReasonEntry", item);
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="form-actions fluid">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="button" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {
        return {
            //main function to initiate the module
            init: function (DomainName) {

                $("select").select2({
                    placeholder: "Select an option"
                });

                $('#btnSubmit').click(function () {
                    if ($("#form_sample").valid()) {
                        App.blockUI({ boxed: true });
                        document.forms["form_sample"].submit();
                    }
                });

                $('#btnSubmit').hide();

                $('.CLSCHK').each(function () {
                    var id = $(this).attr('id').replace('NonDeliveryEntry_', '').replace('__IsCheck', '');
                    var checked = jQuery(this).is(":checked");
                    $("#NonDeliveryEntry_" + id + "__ReasonCode").removeClass("required required2");
                });


                $('.CLSCHK').click(function () {
                  
                    totchk = 0;

                    var id = $(this).attr('id').replace('NonDeliveryEntry_', '').replace('__IsCheck', '');
                    var checked = jQuery(this).is(":checked");

                    if (checked) {
                        $("#NonDeliveryEntry_" + id + "__ReasonCode").addClass("required required2");
                    }
                    else {
                        $("#NonDeliveryEntry_" + id + "__ReasonCode").removeClass("required required2");
                    }

                    $('.CLSCHK').each(function () {
                        var checked1 = jQuery(this).is(":checked");
                        if (checked1)
                            totchk++;
                        if (totchk == 0)
                            $('#btnSubmit').hide();
                        else
                            $('#btnSubmit').show();
                    });
                });

            }
        }
    }();
</script>