﻿@{
    ViewBag.Title = "IDT_CancellationDone";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var IDTNo = ViewBag.DockNo;
    var Result = ViewBag.Result;
    
}

<div class="row">
    <div class="col-md-6">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;@Result
                </div>
            </div>
            <div class="portlet-body" id="divCrieteria">
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        IDTNo
                                    </th>
                                    <td>
                                        @IDTNo
                                    </td>
                                </tr>
                                <tr>
                                    <th>

                                    </th>
                                    <th>
                                        <a class="btn default" href="@Url.Action("IDTCancellation")">
                                            Click here to Cancel More IDT&nbsp;
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



