﻿@model CYGNUS.Models.WebX_Master_Docket
@{
    ViewBag.Title = "IDT Cancellation Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using (Html.BeginForm("IDTCancellationsubmit", "Exceptions", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i> @ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        IDT No. :
                                    </label>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(c => c.DOCKNO, new { placeholder = "Doc No.", @class = "form-control required2 required" })
                                        @Html.Hidden("IDTError")
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label col-md-3"> IDT Cancel Date :</label>
                                    <div class="col-md-6">
                                        <div class="input-group date date-picker">
                                            @Html.TextBoxFor(c => c.DOCKDT, String.Format("{0:dd MMM yyyy}", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = " form-control required2 required", @placeholder = "GRN Cancel Date" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label col-md-3">Cancel Reason :</label>
                                    <div class="col-md-6">
                                        @Html.TextAreaFor(c => c.Reason, new { @class = "form-control required2 required ", @placeholder = "Cancel Reason" })
                                        @* @Html.HiddenFor(c => c.POC.PONO)*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-8">
                            <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            $.validator.addMethod('IDTNoAvailability', function (value, element) {

                var GRNVal = $("#DOCKNO").val();

                if ($("#DOCKNO").val() != "") {
                    var StrURL = DomainName + "/Exceptions/GetIDTDetails?IDTNo=" + $("#DOCKNO").val().trim();
                    var result1 = $.ajax({
                        async: false,
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        url: StrURL,
                        dataType: 'json',
                        data: {},
                    });

                    var d1 = JSON.parse(result1.responseText);
                    //alert(d1.Flg + "  " + d1.MSG);
                    if (d1.Flg == "1") {
                        return true;
                    }
                    else {
                        $("#IDTError").val(d1.MSG);
                        // $("#GRNNo").val("")
                        return false;
                    }

                }
            }, $("#DOCKNO").val() + " is not available for cancel");

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {
                    'DOCKNO': {
                        IDTNoAvailability: true
                    },
                },
                messages: {
                    'DOCKNO': {
                        IDTNoAvailability: function () {
                            return $("#IDTError").val();
                        }
                    },

                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    error.insertAfter(element); // for other inputs, just perform default behavior
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    for (var i = 0; i < validator.errorList.length; i++) {
                        console.log(validator.errorList[i]);
                    }

                    //validator.errorMap is an object mapping input names -> error messages
                    for (var i in validator.errorMap) {
                        console.log(i, ":", validator.errorMap[i]);
                    }
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.forms['form_sample'].submit();
                }
            });
        }

        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');



            $("#DOCNO").focusout(function () {
                if ($("#DOCKNO").val().trim() != "") {
                    $(this).rules("add", {
                        IDTNoAvailability: true,
                    });
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                Events(DomainName);
            }
        }
    }();
</script>