﻿@model Fleet.ViewModels.MFCancellationViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    ViewBag.Title = "LodingSheetCnlDone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(" ", " ", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title ">
                    <div class="caption">
                        Error !!!
                    </div>
                </div>
                <div class="portlet-body" id="divCrieteria">
                    <div class="form-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-8" style="color:red;">
                                        <h4>@ViewBag.Message</h4>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-actions">
        <div class="col-md-offset-4 col-md-8">
            <a class="btn default" href="@Url.Action("LodingSheetCnl")">
                Click here for return to previous screen&nbsp;
            </a>
        </div>
    </div>
}
