﻿@model Fleet.ViewModels.MaterialHeldUpReason
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    ViewBag.Title = "Material Held UpReason";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.ExceptionsService ES = new FleetDataService.ExceptionsService();
    //List<Webx_Master_General> DelayReaso = ES.GetDelayReason().ToList();

    List<SelectList> DelayReaso = new List<SelectList>();
}

@using (Html.BeginForm("MaterialHeldUpReasonSubmit", "Exceptions", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;Material Held Up Reason
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label col-md-4">Docket No.</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.VWDS.dockno, new { placeholder = "Enter Docket No", @class = "form-control required required2" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label col-md-4">Delay Reason</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.VWDS.doctype, new SelectList(DelayReaso, "CodeType", "CodeId", "CodeDesc"), "", new { @class = "select2 required form-control" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label col-md-4">Status</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.VWDS.DKT_STATUS, new { placeholder = "Status", @class = "form-control required required2", @readonly = "True" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions fluid" id="SubmitBtn">
                    <div class="row">
                        <div class="col-md-offset-5 col-md-10">
                            <button type="submit" id="btnSubmit" class="btn btn-sm green">&nbsp; Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            $.validator.addMethod('checkdocno', function (value, element) {
                var DocType = $("#VWDS_dockno").val();

                var StrURL = DomainName + "/Exceptions/CheckValidDKTSeries?DocType=" + DocType;

                var Data = $.ajax({
                    // async: false,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: StrURL,
                    // dataType: 'json',
                    success: function (Data) {

                        if (Data.flag == "false" || Data.flag == "False") {
                            //alert("Document Number is Not Exist !!!")
                            return false;
                        }
                        else {
                            var strurl = DomainName + '/Exceptions/DelyReason?status=' + Data.DKT_Status;
                            FillDropDownfromOther('VWDS_doctype', strurl, false);

                            return true;
                        }

                    }
                });

                var d1 = JSON.stringify(Data.responseText);
                if (d1.flag == "false") {
                    return false;
                }
                else {
                    var strurl = DomainName + '/Exceptions/DelyReason?status=' + d1.DKT_Status;
                    FillDropDownfromOther('VWDS_doctype', strurl);

                    return true;
                }
            }, "Doket No is not Valid... Please Enter Valid Doket No");

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.form["form_sample"].submit();

                }

            });
        }


        //var docknochange =  function (DomainName, value) {
        //    //alert(value +  "   " + JSON.stringify(element))
        //    var DocType = $("#VWDS_dockno").val();

        //    var StrURL = DomainName + "/Exceptions/CheckValidDKTSeries?DocType=" + DocType;
        //    alert(StrURL)
        //    var  Data=$.ajax({
        //        // async: false,
        //        type: 'POST',
        //        contentType: 'application/json; charset=utf-8',
        //        url: StrURL,
        //        // dataType: 'json',
        //        success: function (Data) {

        //            if (Data.flag == "false" || Data.flag == "False") {
        //                //alert("Document Number is Not Exist !!!")
        //                return false;
        //            }
        //            else {
        //                var strurl = DomainName + '/Exceptions/DelyReason?status=' + Data.DKT_Status;
        //                FillDropDownfromOther('VWDS_doctype', strurl, false);

        //                return true;
        //            }

        //        }
        //    });
        //}

        var GetMFDetail = function (DomainName, value) {
            var DocType = $("#VWDS_dockno").val();
            var StrURL = DomainName + "/Exceptions/CheckValidDKTSeries?DocType=" + DocType;
            $.ajax({
                url: StrURL,
                cache: false,
                type: 'POST',
                success: function (data) {
                    var DKT_Status = data.DKT_Status;
                    $("#VWDS_DKT_STATUS").val(DKT_Status);
                },
                error: function (xhr, textStatus, errorThrown) {
                    App.unblockUI();
                    alert('There is some error in Database');
                }
            });
        }

        var Events = function (DomainName) {

            $('#btnSubmit').click(function () {
                $('#form_sample').submit();

            });


        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Events(DomainName);
                Formvalidate(DomainName);

                $("#VWDS_dockno").live("change", function () {
                    App.blockUI({ boxed: true });
                    var value = $(this).val();
                    GetMFDetail(DomainName, value);
                    // docknochange (DomainName, value);
                    $(this).rules("add", {
                        checkdocno: true,
                    });
                });

            }
        }
    }();
</script>
