﻿@model Fleet.ViewModels.MFCancellationViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    ViewBag.Title = "MF Cancellation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("MFCancellation", "Exceptions", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title Details
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        MF No.
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.MFCnlModel.tcno, new { @class = "form-control required required2", @placeholder = "MF No." })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Manual MF No.
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.MFCnlModel.manual_tcno, new { @class = "form-control", @readonly = true, @placeholder = "Manual MF No." })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">MF Date </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.MFCnlModel.TCDT, String.Format("{0:dd MMM yyyy}", System.DateTime.Now), new { @class = "form-control", @readonly = true, @placeholder = "MF Date" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">From Location </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.MFCnlModel.tcbr, new { @class = "form-control", @readonly = true, @placeholder = "From Location" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#form_sample');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            $.validator.addMethod('checkMFNumber', function (value, element) {
                var StrURL = DomainName + '/Exceptions/GetMFCalDetail?tcno=' + value;
                var result1 = $.ajax({
                    async: false,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: StrURL,
                    dataType: 'json',
                    data: {},
                });
              
                //var d1 = JSON.stringify(result1.responseText);
                //var d2 = result1.responseText
                //alert(d2.data);
                var d1 = JSON.parse(result1.responseText);
                if (d1.flag == false) {
                    $("#MFCnlModel_TCDT").val("");
                    $("#MFCnlModel_tcbr").val("");
                    $("#MFCnlModel_manual_tcno").val("");
                    return false;
                }
                else {
                    $("#MFCnlModel_TCDT").val(d1.TCDT);
                    $("#MFCnlModel_tcbr").val(d1.tcbr);
                    $("#MFCnlModel_manual_tcno").val(d1.manual_tcno);
                    return true;
                }


                // return true;

            }, "MF No is not Valid... Please Enter Valid MF No.");

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }

        var GetMFDetail = function (DomainName, value) {
            var StrURL = DomainName + '/Exceptions/GetMFCalDetail?tcno=' + value;
            $.ajax({
                url: StrURL,
                cache: false,
                type: 'POST',
                success: function (data) {
                    var TCDT = data.TCDT;
                    var tcbr = data.tcbr;
                    var manual_tcno = data.manual_tcno;
                   
                    $("#MFCnlModel_TCDT").val(TCDT);
                    $("#MFCnlModel_tcbr").val(tcbr);
                    $("#MFCnlModel_manual_tcno").val(manual_tcno);
                },
                error: function (xhr, textStatus, errorThrown) {
                    App.unblockUI();
                    alert('There is some error in Database');
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                $("#MFCnlModel_tcno").live("change", function () {
                    //var value = $(this).val();
                    //GetMFDetail(DomainName, value);
                    $(this).rules("add", {
                        checkMFNumber: true,
                    });
                });

            }
        }
    }();
</script>
