﻿@model Fleet.ViewModels.BillCollectionViewModel
@using FleetDataService.Models;
@using Fleet.Classes;
@{
    ViewBag.Title = "MR Cancellation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.ExceptionsService ES = new FleetDataService.ExceptionsService();
    List<Webx_Master_General> BillType = ES.GetBillTypeList().Where(c => c.CodeId.ToUpper() != "2" && c.CodeId.ToUpper() != "7").ToList();
}
<div class="row">
    <div class="col-md-7">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title Criteria
                </div>
            </div>

            <div class="portlet-body">
                <div class="form-body">
                    @using (Html.BeginForm("MRcancellist", "Exceptions", FormMethod.Get, new { @id = "form_sample", @class = "form-horizontal " }))
                    {
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                MR No. :
                            </label>
                            <div class="col-md-5">
                                @Html.TextBoxFor(c => c.MRSNO, new { @placeholder = " MR No.", @class = "form-control required2 " })
                            </div>
                        </div>
                           <div class="form-group ">
                            <label class="control-label col-md-2">
                            </label>
                            <div class="col-md-4">
                                <b>OR</b>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Docket No:
                            </label>
                            <div class="col-md-5">
                                @Html.TextBoxFor(c => c.ManualMRNO, new { @placeholder = "Enter Docket No.", @class = "form-control required2 " })
                            </div>
                        </div>
                           <div class="form-group ">
                            <label class="control-label col-md-2">
                            </label>
                            <div class="col-md-4">
                                <b>OR</b>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Enter Customer :
                            </label>
                            <div class="col-md-5">
                                @Html.TextBoxFor(c => c.PartyCode, new { @placeholder = "Select Customer", @class = "form-control required2 " })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                MR  Type :
                            </label>
                            <div class="col-md-5">
                                @Html.DropDownListFor(model => model.PAYBAS, new SelectList(BillType, "CodeId", "CodeDesc"), "", new { @class = "form-control select2 required2 ", @placeholder = "Select Bill Type" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Select Date Range :
                            </label>
                            @Html.HiddenFor(m => m.ObjBillMst.DATEFROM)
                            @Html.HiddenFor(m => m.ObjBillMst.DATETO)
                            <div class="col-md-6">
                                <div id="reportrange" class="btn default">
                                    <i class="fa fa-calendar"></i>
                                    &nbsp;
                                    <span></span>
                                    <b class="fa fa-angle-down"></b>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-search"></i>&nbsp;Search</button>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    App.blockUI({ boxed: true });
                    document.form["submit_form"].submit();
                }

            });
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }

            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),

                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#ObjBillMst_DATEFROM').val(start.format('MMMM D, YYYY'));
                     $('#ObjBillMst_DATETO').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#ObjBillMst_DATEFROM').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ObjBillMst_DATETO').val(moment().format('MMMM D, YYYY'));
        }

        var Events = function (DomainName) {

            $('#btnSubmit').click(function () {
                //App.blockUI({ boxed: true });

            });
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                Events(DomainName);
                handleDateRangePickers();

                var StrURL = DomainName + "/Exceptions/GetBillcancelCustmaer";
                JsonDDL("PartyCode", StrURL);


            }
        }
    }();
</script>