﻿@using Fleet.Helpers;
@using Fleet.Models;
@using Fleet.Classes;
@{
    ViewBag.Title = "MRCancellationDone";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var BaseFinYear = ViewBag.BaseFinYear.Split('-');
    var FinYear = BaseFinYear[0];
    string Path = ViewBag.DomainName;
}

<div class="row">
    <div class="col-md-6">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i><b>MR Cancellation Done</b>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    MR No
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var itm in Model)
                            {
                                if (@itm != " ")
                                {
                                    <tr>
                                        <th>
                                            @itm
                                        </th>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                </div>
                <span>
                    <a href="@Url.Content("~/Exceptions/MRCancellation")">Click Here To MR Cancellation.</a>
                </span>

            </div>
        </div>
    </div>
</div>

