﻿@model Fleet.ViewModels.BillCollectionViewModel
@{
    ViewBag.Title = "MR Cancellation List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}


<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>MR Cancellation List
                </div>
            </div>
            <div class="portlet-body flip-scroll">

                @using (Html.BeginForm("MRCancellationSubmit", "Exceptions", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal", @enctype = "multipart/form-data" }))
                {

                    <div class="form-group">


                        @*<div class="col-md-4">

                                <label class="control-label col-md-4">MR Cancellation Date</label>
                                <div class="col-md-6">

                                    <div class="input-group input-medium date duedatetime-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d" data-date-end-date="+0d">
                                        @Html.TextBoxFor(m => m.MRCancelDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.MRCancelDate).ToString("dd MMMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy", @readonly = "true" })
                                        <span class="input-group-btn">
                                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>

                            </div>*@


                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">MR Cancellation Date</label>
                                <div class="col-md-6">
                                    <div class="input-group date clsDateControl">
                                        @Html.TextBoxFor(m => m.TransactionDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.TransactionDate).ToString("dd MMMM yyyy")), new { @class = "form-control required required2 Trnddate", @placeholder = "dd MMM yyyy", @readonly = "true" })
                                        <span class="input-group-btn">
                                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                 
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label col-md-4">
                                Cancellation Reason
                            </label>
                            <div class="col-md-6">
                                @Html.TextAreaFor(c => c.Remarks, new { placeholder = "MR Cancel Reason", @class = "form-control required required2" })
                            </div>
                        </div>
                    </div>


                    <hr />

                    <div class="portlet-body flip-scroll">

                        <table class="table table-striped table-bordered table-hover table-full-width center" id="Sample1">
                            @if (Model.mrList.Count() > 0)
                            {
                                <thead class="flip-content">
                                    <tr>
                                        <th class="center">
                                            Select
                                            <br />
                                            <span>
                                                <input type="checkbox" id="CHkAll" />
                                            </span>

                                        </th>
                                        <th class="center" style="display:none">Sr No.</th>
                                        <th class="center">
                                            MR No
                                        </th>
                                        <th class="center">
                                            MR Date
                                        </th>
                                        <th class="center">
                                            MR Type
                                        </th>
                                        <th class="center">
                                            MR Branch
                                        </th>
                                        <th class="center">
                                            Party Code
                                        </th>
                                        <th class="center">
                                            Party Name
                                        </th>
                                        <th class="center">
                                            MR Amount
                                        </th>
                                        <th class="center">
                                            MR deduction
                                        </th>
                                        <th class="center">
                                            Net Amount
                                        </th>
                                        <th class="center">
                                            Docno
                                        </th>
                                        <th class="center">
                                            MRcollbrcd
                                        </th>
                                    </tr>
                                </thead>

                                <tbody id="AdviceTable">
                                    @foreach (var item in Model.mrList.Where(c => c.mrsno != null))
                                    {
                                        item.iSNO = i;

                                        if (item.iSNO > 0)
                                        {
                                            {

                                                Html.RenderPartial("_BillCancellationPartial", item);
                                            }

                                            i++;
                                        }
                                        else
                                        {
                                            <tr style="text-align: center; background-color: darkgray; height: 20px;">
                                                <td colspan="11" style="background-color: darkgray;"></td>

                                            </tr>
                                        }

                                    }
                                </tbody>
                            }
                            else
                            {
                                <tr>
                                    <th>
                                        No Records Found
                                    </th>
                                </tr>
                            }

                        </table>
                        <p style="color:red;">
                            Select atleast one checkbox to view <strong>Submit</strong> button.
                        </p>

                        <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-9">
                                <a class="btn btn-sm default" href="@Url.Content("~/Exceptions/MRCancellation")">
                                    <i class="fa fa-arrow-left"> </i>
                                    Back To Criteria
                                </a>
                                @if (Model.mrList.Count() > 0)
                                {
                                    <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>

                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var initTable1 = function (DomainName) {

            $('#Sample1').dataTable({
                "bDestroy": true
            }).fnDestroy();

            $('#Sample1').dataTable({
                "aLengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [0] },
                { "bSearchable": false, "aTargets": [0] }
                ]
            });
            jQuery('#Sample1_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
            jQuery('#Sample1_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
            jQuery('#Sample1_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
        }


        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {

                },

                messages: {

                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.attr("name") == "gender") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_gender_error");
                    } else if (element.attr("name") == "payment[]") { // for uniform radio buttons, insert the after the given container
                        error.insertAfter("#form_payment_error");
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    App.blockUI({ boxed: true });
                    document.forms[1].submit();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }



        var handleDatetimePicker = function (DomainName) {
            //if (jQuery().datepicker) {
            $('.duedatetime-picker').datepicker({
                isRTL: App.isRTL(),
                autoclose: true,
                format: "dd M yyyy",
                pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                startDate: new Date(),
                todayBtn: true
            });
            $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            //}
        }

        function max_date(all_dates) {

            var max_dt = all_dates[0],
                max_dtObj = new Date(all_dates[0]);

            all_dates.forEach(function (dt, index) {
                if (new Date(dt) > max_dtObj) {
                    max_dt = dt;
                    max_dtObj = new Date(dt);
                }
            });
            return max_dt;
        }

        var ControlDate = function () {

            if (jQuery().datepicker) {
                $(".clsDateControl").datepicker({
                    rtl: App.isRTL(),
                    format: "dd MM yyyy",
                    showMeridian: true,
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    todayBtn: true,
                    endDate: new Date('@System.DateTime.Today')
                })
            }
        }

        var chkChange = function () {
            var values = $('input:checkbox:checked.clsCHK').map(function () {
                return $(this).data('id');
            }).get().join();
            $('#stringBIllNO').val(values);
            ($('input:checkbox:checked.clsCHK').length > 0) ? $('#btnSubmit').show() : $('#btnSubmit').hide();
        }

        var SubmitClick = function (DomainName) {
            $('#btnSubmit').click(function () {

                var DateArray = new Array();
                var VoucherDate1 = $("#TransactionDate").val();
                $('.clsCHK').each(function () {
                    var checked1 = jQuery(this).is(":checked");
                    var ID = $(this).attr("id").replace("MRCancelList_", "").replace("__IsCancelled", "");
                    if (checked1) {
                        var VoucherDate = $("#MRCancelList_" + ID + "__mrsdt").val();
                        DateArray.push(new Date(VoucherDate));
                    }
                });

                var VDate1 = max_date(DateArray);
                VDate1 = (new Date(VDate1).getMonth() + 1) + '/' + new Date(VDate1).getDate() + '/' + new Date(VDate1).getFullYear();
                VoucherDate1 = (new Date(VoucherDate1).getMonth() + 1) + '/' + new Date(VoucherDate1).getDate() + '/' + new Date(VoucherDate1).getFullYear();
                VDate1 = new Date(VDate1);
                VoucherDate1 = new Date(VoucherDate1);
                if (VDate1 > VoucherDate1) {//compare end <=, not >=
                    alert("MR Date Not Proper..!!!");
                    $("#TransactionDate").val("");
                    return false;
                }
                var form = $('#submit_form');
                if (form.valid() == false) {
                    return false;
                }
                App.blockUI({ boxed: true });
                document.forms["submit_form"].submit();
            });
        }
        
        return {
            //main function to initiate the module
            init: function (DomainName) {
                //  handleDatetimePicker(DomainName);
                //   initTable1(DomainName);
                Formvalidate(DomainName);
                ControlDate();
                SubmitClick(DomainName);
                $('#btnSubmit').hide();
                $('#TransactionDate').val("");

                $('#btnSubmit').click(function (e) {
                    if (!$('#submit_form').valid())
                        return;
                    if ($(":checkbox:checked").length < 1) {
                        alert('Please Select atlest One Checkbox...!!!');
                        e.preventDefault();
                    }

                });


                $('.clsCHK').change(function () {
                    chkChange();

                });

                $("#CHkAll").live("change", function () {
                    $(".clsCHK").prop('checked', $(this).is(':checked'));
                    $("input:checkbox, input:radio").uniform();
                    chkChange();

                   
                });

             
            }
        }
    }();
</script>