﻿@model Fleet.ViewModels.OctroiBill_VendorChange
@using FleetDataService.Models
@using Fleet.Classes
@using System.Data;
@{
    ViewBag.Title = "Octroi Bill Vendor Change";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("OctroiBill_Submit_VendorChange", "Exceptions", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal", @readonly = "true" }))
{
    <div class="row">
        <div class="col-md-8">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-body ">
                        <table id="sample" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="">BILL NO.</th>
                                    <th class="">VENDOR CODE.</th>
                                    <th class="center">X</th>
                                </tr>
                            </thead>
                            <tbody id="OctBill">
                                @foreach (var item in Model.ListWVBill)
                                {
                                    Html.RenderPartial("_Octroi_Vendor_Change", item);
                                }
                            </tbody>
                        </table>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-9">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="btnNewRow" class="btn green pull-right"><i class="fa fa-plus"></i>&nbsp;Add Row</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8 form-actions ">
        <div class="col-md-offset-4 col-md-6">
            <a href="@Url.Content("~/Exceptions/OctroiBill_VendorChange")" class="btn btn-sm default controls">&nbsp;Reset </a>
            <button type="button" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i>&nbsp;Submit </button>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {

                },

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },


            });
        }

        var AddRow = function (DomainName, itemIndex, StrURL) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Exceptions/ADD_OctroiBill_Change?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {

                    $("#OctBill").append(html);

                    $("#BillList_" + itemIndex + "__BILLNO").change(function () {
                        BillValid_Check(DomainName, "BillList_" + itemIndex + "__BILLNO")
                    })

                    JsonDDLSelectCode("BillList_" + itemIndex + "__VENDORCODE", StrURL);

                    App.unblockUI();

                    $("input[type=checkbox], input:radio, input:file").uniform();

                    $("a.deleteRow").live("click", function () {
                        $(this).parents("tr.editorRow:first").remove();
                        return false;
                    });
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }

        var BillValid_Check = function (DomainName, IDS) {

            var Id = IDS.replace("BILLNO", "");
            var Val = $("#" + IDS).val();

            if (Val != "") {
                var strUrl = DomainName + '/Exceptions/Valid_Bill_No?BillNo=' + Val;
                var result1 = $.ajax({
                    async: false,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: strUrl,
                    dataType: 'json',
                    data: {},
                });

                var d1 = JSON.parse(result1.responseText);
                var Message = d1.Message;
                var Status = d1.Status;
                var VendorCode = d1.VendorCode;
                var VendorName = d1.VendorName;
            }

            if (Message == "DONE") {
                $.validator.addMethod('CheckAvailability', function (value, element) {
                    $("#" + Id + "VENDORCODE").val(VendorCode);
                    $("#" + Id + "VENDORCODE").select2("data", { id: VendorCode, text: VendorName });
                    return true;
                }, Message);
            }
            else {
                $.validator.addMethod('CheckAvailability', function (value, element) {
                    $("#" + Id + "VENDORCODE").val("");
                    $("#" + Id + "VENDORCODE").select2("data", { id: "", text: "" });
                    return false;
                }, "" + Message);
            }


        }

        return {
            init: function (DomainName) {

                Formvalidate(DomainName);

                var StrURL = DomainName + "/Payment/GetOctroiVendorDetails";
                JsonDDLSelectCode("BillList_1__VENDORCODE", StrURL);

                var itemIndex = $("#sample input.iHidden").length + 1;
                //AddVoucherInfo(DomainName, itemIndex);

                $("#btnNewRow").live('click', function () {
                    itemIndex = $("#sample input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddRow(DomainName, itemIndex, StrURL);
                        }, 100 * i);
                    }
                });

                $("#btnSubmit").click(function () {

                    //alert($("#form_sample").valid())

                    if ($("#form_sample").valid()) {
                        App.blockUI({ boxed: true });
                        $("#form_sample").submit();
                    }
                });

                $("#BillList_1__BILLNO").change(function () {
                    BillValid_Check(DomainName, "BillList_1__BILLNO")
                })


                //$(".clsBill").live("change", function () {

                //    var Id = $(this).attr('id').replace("BILLNO", "");
                //    var Val = $(this).val();

                //    if ($(this).val() != "") {
                //        var strUrl = DomainName + '/Exceptions/Valid_Bill_No?BillNo=' + Val;
                //        var result1 = $.ajax({
                //            async: false,
                //            type: 'POST',
                //            contentType: 'application/json; charset=utf-8',
                //            url: strUrl,
                //            dataType: 'json',
                //            data: {},
                //        });

                //        var d1 = JSON.parse(result1.responseText);
                //        var Message = d1.Message;
                //        var Status = d1.Status;
                //        var VendorCode = d1.VendorCode;
                //        var VendorName = d1.VendorName;
                //    }

                //    if (Message == "DONE") {
                //        $.validator.addMethod('CheckAvailability', function (value, element) {
                //            $("#" + Id + "VENDORCODE").val(VendorCode);
                //            $("#" + Id + "VENDORCODE").select2("data", { id: VendorCode, text: VendorName });
                //            return true;
                //        }, Message);
                //    }
                //    else {
                //        $.validator.addMethod('CheckAvailability', function (value, element) {
                //            $("#" + Id + "VENDORCODE").val("");
                //            $("#" + Id + "VENDORCODE").select2("data", { id: "", text: "" });
                //            return false;
                //        }, "" + Message);
                //    }


                //});

            }
        }
    }();
</script>
