﻿@model Fleet.ViewModels.MFCancellationViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    string Action = "";
    Action = @ViewBag.Flag;

    ViewBag.Title = "PRS/DRS Cancellation Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string btnText = "Get PDC Cancellation List";
    if (Model.PDCCnlList.Count > 0)
    {
        btnText = "Submit";
    }
}
@using (Html.BeginForm(Action, "Exceptions", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box  @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>Select @ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Select PDC Type:
                                        @Html.HiddenFor(c => c.MFCnlModel.FilterType)
                                    </label>
                                    <div class="col-md-5">
                                        <label class="control-label col-md-4" style="text-align: left;">
                                            <input type="radio" id="RdbBasic" name="optionsRadios3" value="D" checked="checked" />
                                            DRS
                                        </label>
                                        <label class="control-label col-md-4" style="text-align: left;">
                                            <input type="radio" id="RdbPayment" name="optionsRadios3" value="P" />
                                            PRS
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Select DRS/PRS Date Range:
                                    </label>
                                    <div class="col-md-6">
                                        <div id="reportrange" class="btn default">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Enter DRS/PRS No.:
                                    </label>
                                    <div class="col-md-4">
                                        @Html.HiddenFor(c => c.MFCnlModel.FromDate)
                                        @Html.HiddenFor(c => c.MFCnlModel.ToDate)
                                        @Html.TextBoxFor(c => c.MFCnlModel.thcnoumber, new { placeholder = "DRS/PRS No.", @class = "form-control" })
                                    </div>
                                    <p class="text-primary col-md-4">[Seperated by <b><i>Comma</i></b> if multiple]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    if (Model.PDCCnlList.Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box @ViewBag.TableBoxColor">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i>PRS/DRS List
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="form-body">
                            <table class="table table-striped table-bordered table-hover table-full-width center" id="Sample1">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="center table-checkbox">
                                            <input type="checkbox" class="group-checkable" id="chkgrp" data-set="#sample1 .checkboxes" />
                                        </th>
                                        <th class="center">
                                            PRS/DRS No.
                                        </th>
                                        <th class="center">
                                            Manual No.
                                        </th>
                                        <th class="center">
                                            PRS/DRS Date.
                                        </th>
                                        <th class="center">
                                            PRS/DRS Date.
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="Advice">
                                    @foreach (var item in Model.PDCCnlList)
                                    {
                                        Html.RenderPartial("_PDCCancellationList", item);
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">

            @if (@ViewBag.Flag != "PDCCancellationList")
            {
                <a class="btn btn-sm default controls" href="@Url.Action("PDCCancellationCriteria", "Exceptions")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
            }
            @if (Model.PDCCnlList.Count > 0)
            {
                <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;@btnText</button>
            }
            @if (Model.PDCCnlList.Count == 0 && @ViewBag.Flag == "PDCCancellationList")
            {
                <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;@btnText</button>
                @*<b>No Record Found</b>*@
            }
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {
        
        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }
            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                //maxDate: '12/31/2014',
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#MFCnlModel_FromDate').val(start.format('MMMM D, YYYY'));
                     $('#MFCnlModel_ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#MFCnlModel_FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#MFCnlModel_ToDate').val(moment().format('MMMM D, YYYY'));
        }

        var Events = function (DomainName) {
            handleDatePicker();
            $(document).on('click', '#chkCheckAll', function () {
                $('.chkCheck').prop('checked', $(this).prop('checked'));
            });
        
            $("#btnSubmit").click(function () {
                App.blockUI({ boxed: true });
                //$('#form_sample').submit();
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                
                handleDateRangePickers();
                Events(DomainName);

                $('.chkCheck').val(false);
                $('#MFCnlModel_FilterType').val('D');

                $("input[name='optionsRadios3']").on("change", function () {
                    var rdoval = this.value;
                    if (rdoval == "") {
                        alert("plz select value")
                    }
                    else {
                        $('#MFCnlModel_FilterType').val(rdoval);
                    }
                });

                $('.group-checkable').live('change', function () {
                    var checked = $(this).is(":checked");
                    if (checked) {
                        $('.chkCheck').each(function () {
                            $('.chkCheck').attr("checked", true);
                            $('span').addClass("checked");

                            var str = $(this).attr('id');
                            var id = str.replace("PDCclnList", "").replace("__IsChecked", "");
                            $('.chkCheck').attr('disabled', true);
                            $('#PDCclnList' + id + '__IsChecked').val(true);

                        });
                    }
                    else {
                        $('.chkCheck').each(function () {
                            $('.chkCheck').attr("checked", false);
                            $('span').removeClass("checked");

                            var str = $(this).attr('id');
                            var id = str.replace("PDCclnList", "").replace("__IsChecked", "");
                            $('.chkCheck').attr('disabled', false);
                            $('#PDCclnList' + id + '__IsChecked').val(false);
                        });
                    }
                });

                $('.chkCheck').live('change', function () {
                    var checked = $(this).is(":checked");
                    if (checked == true) {
                        $('.chkCheck').val(true);
                    }
                    else {
                        $('.chkCheck').val(false);
                    }
                });
            }
        }
    }();
</script>