﻿@model IEnumerable<Fleet.ViewModels.POCancellation>
@{
    ViewBag.Title = "PO Cancellation Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i> @ViewBag.TranXaction
            </div>
            @*<div class="tools">
                    <span class="btn default blue-stripe">
                        <a href=""><i class="fa fa-plus">&nbsp;Add More Vendor Contract</i></a>
                    </span>
                </div>*@
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                PO No.
                            </th>
                             
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ToList().OrderBy(c => c.PONO))
                        {
                            <tr>
                                <td>
                                    <b>@item.PONO</b>
                                </td>
                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                Click on Contract Number for View and Print .
            </span>
        </div>
    </div>
</div>
