﻿@model Fleet.ViewModels.POCancellationViewModel
@{
    ViewBag.Title = "PO Cancellation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("POCancellationDone", "Exceptions", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>&nbsp;@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label col-md-3"> PO Cancellation Date :</label>
                                <div class="col-md-6">
                                    <div class="input-group date date-picker">
                                        @Html.TextBoxFor(c => c.POC.POCANCELDATE, String.Format("{0:dd MMM yyyy}", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = " form-control required2 required", @placeholder = "PO Cancellation Date" })
                                        <span class="input-group-btn">
                                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label col-md-3">Cancellation Reason :</label>
                                <div class="col-md-6">
                                    @Html.TextAreaFor(c => c.POC.Reason, new { @class = "form-control ", @placeholder = "Cancellation Reason" })
                                    @Html.HiddenFor(c => c.POC.TotalRecods, new { @min=1})
                                    @Html.HiddenFor(c => c.POC.PONO)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title List
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <table id="ListPOCANCEL" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="chkactive"><input type="checkbox" id="chkall" /></th>
                                    <th class="center">PO No</th>
                                    <th class="center">Manual PO No</th>
                                    <th class="center">PO Date</th>
                                    <th class="center">Vendor</th>
                                    <th>PO Branch</th>
                                    <th>Total Quantity</th>
                                    <th>Total Amount</th>
                                    <th>Pending Amount</th>
                                    <th>PO Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListPOC.ToList().OrderBy(c => c.PONO))
                                {
                                    { Html.RenderPartial("_PartialPOCancellation", item); }
                                }
                            </tbody>
                        </table>
                        <div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                <a href="@Url.Content("~/Exceptions/POCancellationCriteria")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back </a>
                                <button type="submit" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: ":required",
                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var SelectCheckBox = function (DomainName) {
            var totAMT = 0;
            var StrDocno = "";
            $(".chkactive").each(function () {
                var checked = $(this).is(":checked");
                if (checked) {
                    if (StrDocno == "")
                        StrDocno = $(this).attr("data-value");
                    else
                        StrDocno = StrDocno + "," + $(this).attr("data-value");
                    totAMT = totAMT + 1;
                }
            });
            $("#POC_TotalRecods").val(totAMT);
            $("#POC_PONO").val(StrDocno);
            if (totAMT > 0) {
                $("#btnSubmit").show();
            }
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    showMeridian: true,
                    autoclose: true,
                    todayBtn: true
                });
                $("#chkall").live('change', function () {
                    var checked = jQuery(this).is(":checked");
                    $(".chkactive").each(function () {
                        if (checked) {
                            $(this).attr("checked", true);
                            $(this).parents('span').addClass("checked");
                        } else {
                            $(this).attr("checked", false);
                            $(this).parents('span').removeClass("checked");
                        }
                    });
                    SelectCheckBox(DomainName);
                });
                $(".chkactive").live('change', function () {
                    SelectCheckBox(DomainName);
                });
                //initTable('ListPOCANCEL');
                $("#btnSubmit").hide();
                $('#btnSubmit').click(function () {
                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        return false;
                    }
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                });
            }
        }
    }();
</script>
