﻿@{
    ViewBag.Title = "Voucher Date Edit Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (@ViewBag.TranXaction.ToUpper() == "DONE")
{
    <div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-check"></i> Following  Voucher has been successfully Updated :
                </div>
            </div>
            <div class="portlet-body">
                <div class="margin-top-10 margin-bottom-10 clearfix">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Voucher Number :
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itm in ViewBag.list)
                            {
                                if (itm != " ")
                                {
                                    <tr>
                                        <th>
                                            @itm
                                        </th>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <div class="form-actions fluid">
                        @*<div class="row">*@
                        <div class="col-md-offset-0 col-md-5">
                            <a class="btn btn-sm default controls" href="@Url.Content("~/Exceptions/ReAssnVoucherDate")"> <i class="fa fa-arrow-left"> </i>&nbsp;Click here to More Update Voucher Date</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-danger fade in center">
            <h2 class="alert-heading">Opps! Voucher Cancellation @ViewBag.TranXaction</h2>
            <h4>
                There is some issue with process. <br />Please check your internet connection else contact your administrator or service provider.
                <br /><br /><b> @ViewBag.Voucherno</b>
            </h4>
        </div>
    </div>
}