﻿@model CYGNUS.Models.WebX_Master_Docket

@{
    ViewBag.Title = "Reassign BAcode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ReassignBAcodeSubmit", "Exceptions", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">

                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i> @ViewBag.Title
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            You have some form errors. Please check below.

                        </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Your form validation is successful!
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet-body flip-scroll">
                                    <div class="col-md-12">
                                        <table class="table table-striped table-bordered table-hover table-full-width" id="sample_2">
                                            <thead class="flip-content">
                                                <tr>
                                                    <th class="center">
                                                        Document Number
                                                    </th>
                                                    <th class="center">
                                                        Existing BA Code
                                                    </th>
                                                    <th class="center">
                                                        New BA Code
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblReassignBAcode">
                                                @Html.Partial("_ReassignBAcode", Model)
                                            </tbody>
                                        </table>
                                        <br />
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-9">
                                                </div>
                                                <div class="col-md-3">
                                                    <button type="button" id="btnAddRow" class="btn blue pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-12">
                            <button type="submit" id="btnSave" class="btn @ViewBag.SubmitButtonColor controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
}


<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var AddRow = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Exceptions/ReassignBacodeAddNewRow?Id=' + itemIndex;

            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#tblReassignBAcode").append(html);
                    $('select').select2();
                    GetExistingBACode(DomainName);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }

        var Events = function (DomainName) {

            $("select").select2({
                placeholder: "Select an option"
            });

            $("#btnAddRow").live('click', function () {
                var itemIndex = $("#tblReassignBAcode input.iHidden").length + 1;
                var TOTROW = "1";
                for (var i = 0; i <= TOTROW - 1; i++) {
                    setTimeout(function () {
                        AddRow(DomainName, itemIndex);
                        
                    }, 100 * i);
                }
            });

            $('#btnSave').click(function () {
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });
                }
            });           
        }

        var GetExistingBACode = function (DomainName) {
            $('.clsGetExistBacode').focusout(function () {                
                if ($(this).val() == "") {
                    alert("Please Enter Document Number");
                    return false;
                }
                else {                    
                    var DocumentNo = $(this).val();
                    var DocumentNoid = $(this).attr('id');
                    var prs = $(this).attr('id').replace("__DOCKNO", "__prs");
                    var drs = $(this).attr('id').replace("__DOCKNO", "__drs");
                    var ExistingBacode = $(this).attr('id').replace("__DOCKNO", "__Bacode");
                    var PAYBAS = $(this).attr('id').replace("__DOCKNO", "__PAYBAS");
                    var TRN_MOD = $(this).attr('id').replace("__DOCKNO", "__TRN_MOD");
                    var SubTotal = $(this).attr('id').replace("__DOCKNO", "__SubTotal");

                    App.blockUI({ boxed: true });

                    var strUrl = "@Url.Action("GetData", "Account")";
                    var parameters = {};
                    parameters['DocumentNo'] = DocumentNo;

                    $.ajax({
                        url: strUrl,
                        type: 'POST',
                        dataType: "json",
                        data: {
                            Method: 'Get_ExistingBACode',
                            parameters: parameters
                        },
                        success: function (result) {
                            //debugger
                            //console.log(JSON.stringify(result));
                            
                            if (result[0] == undefined) {
                                TosterNotification("error", 'Operation fail..!!. Please Enter Valid Documnet No', "Oppps..!!")
                                $("#" + DocumentNoid).focus();
                                //$("#" + DocumentNoid).val("");
                            }
                            else {
                                $("#" + prs).val(result[0]["prs"].toString());
                                $("#" + drs).val(result[0]["drs"].toString());
                                $("#" + ExistingBacode).val(result[0]["bacode"].toString());
                                $("#" + PAYBAS).val(result[0]["PAYBAS"].toString());
                                $("#" + TRN_MOD).val(result[0]["TRN_MOD"].toString());
                                $("#" + SubTotal).val(result[0]["SubTotal"].toString());
                            }
                        }
                    });
                    App.unblockUI();

                }
            });
        }

        return {
            init: function (DomainName) {
                FormValidate(DomainName);
                Events(DomainName);
                GetExistingBACode(DomainName);
            }
        }
    }();

</script>
