﻿@{
    ViewBag.Title = "Re-Assign Bill Submission Collection";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var BILLNO = @ViewBag.BILLNO;
}

@if (@ViewBag.TranXaction == "Done")
{
    <div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-check"></i> Following Re-Assign Bill has been successfully Updated
                </div>
            </div>
            <div class="portlet-body">
                <div class="margin-top-10 margin-bottom-10 clearfix">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Bill No
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <b>@BILLNO</b>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <span class="label label-danger">
                    NOTE!
                </span>&nbsp;
                <span>
                    <a href="@Url.Content("~/Exceptions/ReAssnBillSubmColln")">Click here to change more Bill Submission & Colloction Location.</a>
                </span>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-danger fade in center">
            <h2 class="alert-heading">Opps! Re-Assign Bill Submission Collection @ViewBag.TranXaction</h2>
            <h4>
                There is some issue with process. <br />Please check your internet connection else contact your administrator or service provider.
                <br /><br /><b> @ViewBag.BILLNO</b>
            </h4>
        </div>
    </div>
}