﻿@model Fleet.ViewModels.ReAssnVoucherDate
@using FleetDataService.Models
@using Fleet.Classes
@using System.Data;
@{
    ViewBag.Title = "ReAssign Voucher Date";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Text = "Submit";

    var enddate = ViewBag.FinYearEndDate;
    var startDate = System.DateTime.Now;
}

@using (Html.BeginForm("ReAssnVoucherDateSubmit", "Exceptions", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal", @readonly = "true" }))
{
    <div class="row">
        <div class="col-md-8">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-body ">
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="">SrNo</th>
                                    <th class="">Voucher No.</th>
                                    <th class="">Voucher Date</th>
                                    <th class="">New Voucher Date</th>
                                    <th class="center">Delete</th>
                                </tr>
                            </thead>
                            <tbody id="Voucher">
                                @foreach (var item in Model.ListWVMM)
                                {
                                    Html.RenderPartial("_ReAssnVoucherDateAddRow", item);
                                }
                            </tbody>
                        </table>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-9">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="btnAddFlightDetail" class="btn green pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8 form-actions ">
        <div class="col-md-offset-4 col-md-6">
            <a href="@Url.Content("~/Exceptions/ReAssnVoucherDate")" class="btn btn-sm default controls">&nbsp;Reset </a>
            <button type="submit" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i>&nbsp;@Text </button>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {

                },
                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
            });
        }

        var AddVoucherInfo = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Exceptions/ADDReAssnVoucherDate?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#Voucher").append(html);
                    App.unblockUI();
                    $('#VoucherList_' + itemIndex + '__HasClosedate').hide();
                    $('#VoucherEditDate_' + itemIndex).hide();
                    $("#VoucherList_" + itemIndex + "__IsChecked").click(function () {
                        var checked = jQuery(this).is(":checked");
                        // alert(checked)
                        if (checked) {
                            $('#VoucherList_' + itemIndex + '__HasClosedate').show();
                            $('.chk_Vocher').show();
                            $('#VoucherEditDate_' + itemIndex).show();
                        }
                        else {
                            $('#VoucherList_' + itemIndex + '__HasClosedate').hide();
                            $('#VoucherEditDate_' + itemIndex).hide();
                            // $('.chk_Vocher').hide();
                        }
                    });

                    $('#VoucherList_' + itemIndex + '__Voucherno').change(function () {
                        var SerchGroup = $(this).val();
                        var strUrl = DomainName + '/Exceptions/GetVocherDate_EditJson?SerchGroup=' + SerchGroup;
                        $.ajax({
                            url: strUrl,
                            cache: false,
                            contentType: 'application/json; charset=utf-8',
                            data: {},
                            type: 'POST',
                            dataType: 'json',
                            success: function (Data) {
                                //alert(Data[0].Transdate);

                                //alert($(this).attr('id'));

                                if (Data != null) {
                                    if (Data[0].Status == 0) {
                                        TosterNotification("error", "Error !!" + Data[0].Message, "Error");
                                        $('#VoucherList_' + itemIndex + '__Voucherno').val('');
                                        $('#VoucherList_' + itemIndex + '__Voucherno').focus();
                                    } else {
                                        //console.log(Data[0].voucherno)
                                        //console.log(Data[0].Transdate)
                                        $('#VoucherList_' + itemIndex + '__Transdate').val(Data[0].Transdate);
                                        console.log(Data[0].voucher_cancel)
                                    }


                                    var startDate1 = $("#VoucherList_" + itemIndex + "__Transdate").val();
                                    var enddate1 = '@enddate';
                                    handleDateTimePicker_ddmmyyyy("VoucherList_" + itemIndex + "__VoucherEditDate", startDate1, enddate1);
                                }

                                var location = JSON.stringify(Data);
                                //  $('#VoucherList_' + itemIndex + '__Transdate').val(Data);
                            },
                            error: function (req, status, error) {
                                TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                            }
                        });
                    });
                    duplicateDDLCheck(DomainName);
                    $("input[type=checkbox], input:radio, input:file").uniform();

                    $("a.deleteRow").live("click", function () {
                        $(this).parents("tr.editorRow:first").remove();
                        return false;
                    });
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }

        var duplicateDDLCheck = function (DomainName) {
            $(".clsChkDuplicate").change(function () {
                var currId = $(this).attr('id').split("_")[1];
                var currval = $(this).val();
                var Voucherno = $('#VoucherList_' + currId + '__Voucherno').val();

                $(".clsChkDuplicate").each(function () {

                    var otherId = $(this).attr('id').split("_")[1];
                    var otherval = $(this).val();
                    var Voucherno1 = $('#VoucherList_' + currId + '__Voucherno').val();
                    if (currId != otherId && Voucherno == Voucherno1) {
                        $('#VoucherList_' + currId + '__Voucherno').val('');
                        $('#VoucherList_' + currId + '__Voucherno').focus();
                        TosterNotification("error", "Message !! Oppssss cannot select Duplicate Value........", "Message");
                        return false;
                    }
                });
            });

        }
        return {
            init: function (DomainName) {

                Formvalidate(DomainName);

                var itemIndex = $("#sample_ven input.iHidden").length + 1;

                AddVoucherInfo(DomainName, itemIndex);

                $("#btnAddFlightDetail").live('click', function () {
                    itemIndex = $("#sample_ven input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddVoucherInfo(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });

                $("#btnSubmit").click(function () {

                    $("#form_sample").submit();
                });
            }
        }
    }();
</script>




