﻿@model Fleet.ViewModels.MFCancellationViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers

@{
    string Action = "";
    Action = @ViewBag.Flag;

    ViewBag.Title = "THCCancellationlist";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using (Html.BeginForm(Action, "Exceptions", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>&nbsp;@ViewBag.THCCalledAs Cancellation
                    </div>
                </div>
                <div class="portlet-body" id="divCrieteria">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Select  Date :
                                    </label>
                                    <div class="col-md-6">
                                        <div id="reportrange" class="btn default">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        @ViewBag.THCCalledAs No(s).:
                                    </label>
                                    <div class="col-md-5">
                                        @Html.HiddenFor(c => c.MFCnlModel.FromDate)
                                        @Html.HiddenFor(c => c.MFCnlModel.ToDate)
                                        @Html.TextBoxFor(c => c.MFCnlModel.thcnoumber, new { placeholder = "THC No.", @class = "form-control required" })
                                    </div>
                                    <p class="text-primary col-md-4">[Seperated by <b><i>Comma</i></b> if multiple]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    if (Model.THCCnlList.Count > 0)
    {
        <div class="row" id="divList">
            <div class="col-md-12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i>&nbsp;@ViewBag.THCCalledAs Departures List
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="form-body" id="tblThcList">

                            <table class="table table-striped table-bordered table-hover table-full-width center" id="Sample1">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="center table-checkbox">
                                            <input type="checkbox" class="group-checkable" id="chkgrp" data-set="#sample1 .checkboxes" />
                                        </th>
                                        <th class="center">
                                            @ViewBag.THCCalledAs No.
                                        </th>
                                        <th class="center">
                                            Manual No.
                                        </th>
                                        <th class="center">
                                            @ViewBag.THCCalledAs Date.
                                        </th>
                                        <th class="center">
                                            @ViewBag.THCCalledAs From Location.
                                        </th>
                                        <th class="center">
                                            @ViewBag.THCCalledAs To Location.
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="Advice">
                                    @foreach (var item in Model.THCCnlList)
                                    {
                                        Html.RenderPartial("_THCCancellationList", item);
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">

            @if (@ViewBag.Flag != "THCCancellationlist")
            {
                <a class="btn btn-sm default controls" href="@Url.Action("THCCancellation", "Exceptions")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
            }

            @if (Model.THCCnlList.Count > 0)
            {
                <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
            }
            @if (Model.THCCnlList.Count == 0 && @ViewBag.Flag == "THCCancellationlist")
            {
                <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Get THC Cancellation List</button>
                @*<b>No Record Found</b>*@
            }

        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();

                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }
            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                //maxDate: '12/31/2014',
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#MFCnlModel_FromDate').val(start.format('MMMM D, YYYY'));
                     $('#MFCnlModel_ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#MFCnlModel_FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#MFCnlModel_ToDate').val(moment().format('MMMM D, YYYY'));
        }

        var Events = function (DomainName) {
            handleDatePicker();
            $(document).on('click', '#chkCheckAll', function () {
                $('.chkCheck').prop('checked', $(this).prop('checked'));
            });

        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                $('.chkCheck').val(false);
                handleDateRangePickers();
                Events(DomainName);

                $('.group-checkable').live('change', function () {
                    var checked = $(this).is(":checked");
                    if (checked) {
                        $('.chkCheck').each(function () {
                            $('.chkCheck').attr("checked", true);
                            $('span').addClass("checked");

                            var str = $(this).attr('id');
                            var id = str.replace("THCclnList_", "").replace("__IsChecked", "");
                            $('.chkCheck').attr('disabled', true);
                            $('#THCclnList_' + id + '__IsChecked').val(true);

                        });
                    }
                    else {
                        $('.chkCheck').each(function () {
                            $('.chkCheck').attr("checked", false);
                            $('span').removeClass("checked");

                            var str = $(this).attr('id');
                            var id = str.replace("THCclnList_", "").replace("__IsChecked", "");
                            $('.chkCheck').attr('disabled', false);
                            $('#THCclnList_' + id + '__IsChecked').val(false);
                        });
                    }
                });

                $('.chkCheck').live('change', function () {
                    var checked = $(this).is(":checked");
                    if (checked == true) {
                        $('.chkCheck').val(true);
                    }
                    else {
                        $('.chkCheck').val(false);
                    }
                });

            }
        }
    }();
</script>
