﻿@{
    ViewBag.Title = "THCCancellationDone";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var TCNO = ViewBag.TCNO;
}


<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>THC has been successfully Cancelled.
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                TCNO
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@TCNO</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                <a href="@Url.Content("~/Exceptions/THCCancellation")">
                    Click here to Cancel More THC
                </a>

            </span>
        </div>
    </div>
</div>
