﻿@model Fleet.ViewModels.ThcFinancialTrackerCriteria
@using FleetDataService.Models
@{
    ViewBag.Title = "Thc Financial Tracker";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    // List<Webx_Master_General> listDocType = MS.GetGeneralMasterObject().Where(c => c.CodeType == "DOCS" && c.StatusCode == "Y").ToList().OrderBy(c => c.CodeDesc).ToList();

    List<SelectListItem> listDocType = new List<SelectListItem>(){
                    new SelectListItem{ Text="THC", Value = "THC" },
                    new SelectListItem{ Text="Delivery Run Sheet", Value = "DRS" },
                    new SelectListItem{ Text="PickUp Run Sheet", Value = "PRS" },
    };
    List<SelectListItem> listNumType = new List<SelectListItem>(){
                    new SelectListItem{ Text="Manual", Value = "1" },
                    new SelectListItem{ Text="System", Value = "2" },
    };
}
<div class="row" id="filter">
    @using (Html.BeginForm("ThcFinancialTracker", "Exceptions", FormMethod.Post, new { id = "submit_form", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
    {
        <div class="col-md-12">
            <div class="portlet @ViewBag.TableBoxColor box">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Document Type:</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(c => c.DocType, new SelectList(listDocType, "Value", "Text"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Document Type" })
                                        @Html.HiddenFor(c => c.DocType)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Number Type:</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(c => c.NumberType, new SelectList(listNumType, "Value", "Text"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Number Type" })
                                        @Html.HiddenFor(c => c.NumberType)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Document Number:</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.DocNo, new { @placeholder = "Document Number", @class = "form-control required required2", @disabled = "true" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="submit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var FormValidate = function (DomainName) {
            var form1 = $('#submit_form');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);
            $.validator.addMethod('checkDCRSeriesAvailability', function (value, element) {
                //alert(value +  "   " + JSON.stringify(element))
                var DocType = $("#DocType").val();
                var DocNo = $("#DocNo").val(); 
                var NumberType = $("#NumberType").val();
                var StrURL = DomainName + "/Exceptions/CheckValidDOCNO?DocType=" + DocType + "&DocNo=" + DocNo + '&NumberType=' + NumberType;
                // alert("hello " + StrURL);
                var result1 = $.ajax({
                    async: false,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: StrURL,
                    dataType: 'json',
                    data: {},
                });

                var d1 = JSON.parse(result1.responseText);

                if (d1.CNT == "0") {
                    return true;
                }
                else {

                    return false;
                }
            }, "Document Number is Not Exist !!!");
            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    App.blockUI({ boxed: true });
                    document.form["submit_form"].submit();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                $("#ManageDCRPartial").hide();
                $("#ReAllocation").hide();
                $("#DCRSplitPartial").hide();
                $("#ManageDCRHistory").hide();
                $("#NumberType").change(function () {
                    $("#DocNo").prop('disabled', false);
                });

                $("#btnSave").click(function () {
                    if (!$("#submit_form").valid()) {
                        return false;
                    }
                    App.blockUI();
                    var type = $("#VWDRM_DOC_TYPE").val();
                    var number = $("#VWDRM_DOC_Number").val();
                    var strurl = DomainName + '/Master/GetManageDCR?Type=' + type + '&Number=' + number;
                    $.ajax({
                        url: strurl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {
                            $("#filter").hide();
                            $("#ManageDCRPartial").show();
                            $("#ManageDCRPartial").html(data);
                            //CallSubmitClick(DomainName);
                            $("input:checkbox, input:radio").uniform();
                            $(".select").select2({
                                placeholder: "Select an option",
                                allowClear: true
                            });
                            App.unblockUI();
                            $("#AddEditCityMaster").toggle(1000);
                            $('#pulsate-regular').pulsate({
                                color: "#bf1c56"
                            });
                            $("#Action").click(function () {
                                var action = $("#Action").val();

                                if (action == "3") {
                                    var ID = $("#Alloted_By").val();
                                    var VALUE = $("#Alloted_By_Name").val();
                                    $("#VWDRM_Alloted_By").select2("data", { id: ID, text: VALUE });
                                    $("#ReAllocation").show();
                                    $("#ManageDCRHistory").hide();
                                }
                                else if (action == "2") {
                                    $("#ReAllocation").hide();
                                    var DocKey = $("#DOC_KEY").val();
                                    var Historystrurl = DomainName + '/Master/GetDCRHistory?DocKey=' + DocKey;
                                    $.ajax({
                                        url: Historystrurl,
                                        cache: false,
                                        data: {},
                                        type: 'POST',
                                        success: function (data) {
                                            App.blockUI();
                                            $("#ManageDCRHistory").show();
                                            $("#ManageDCRHistory").html(data);
                                            App.unblockUI();
                                        }
                                    });
                                }
                                else {
                                    App.blockUI();
                                    $("#ReAllocation").hide();
                                    $("#ManageDCRHistory").hide();
                                    var DocKey = $("#DOC_KEY").val();
                                    var docnumber = $("#DOC_Number").val();
                                    var Splitstrurl = DomainName + '/Master/GetSplitDCR?DocKey=' + DocKey + '&docno=' + docnumber;
                                    $.ajax({
                                        url: Splitstrurl,
                                        cache: false,
                                        data: {},
                                        type: 'POST',
                                        success: function (data) {
                                            $("#ManageDCRPartial").hide();
                                            $("#DCRSplitPartial").show();
                                            $("#DCRSplitPartial").html(data);
                                            $("input:checkbox, input:radio").uniform();
                                            $("#Alloted_TypeID").select2({
                                                placeholder: "Select an option",
                                                allowClear: true
                                            });
                                            App.unblockUI();
                                            JsonDDL('AllotedBy', DomainName + '/Master/GetLocationListJson')
                                            $("#AllotedBy").change(function () {
                                                $("#Alloted_TypeID").prop('disabled', false);
                                            });
                                            $("#btnback").click(function () {
                                                App.blockUI();
                                                $("#DCRSplitPartial").hide();
                                                $("#ManageDCRPartial").show();
                                                App.unblockUI();
                                            });
                                            $("#Alloted_TypeID").change(function () {
                                                $("#VWDRM_Alloted_To").prop('disabled', false);
                                                var Location = $("#AllotedBy").val();
                                                var strUrl = DomainName + '/Master/GetpersonListJsonByLocation?Loccode=' + Location + '&Category=' + $(this).val();
                                                JsonDDL('Alloted_To', strUrl)
                                            });
                                            var oldvalue = $("#DOC_SR_FROM").val();
                                            $("#DOC_Number").val(oldvalue);
                                            $("#DOC_NEW_SR_FROM").blur(function () {
                                                var newvalue = $("#DOC_NEW_SR_FROM").val();
                                                var maxvalue = $("#DOC_SR_TO").val();
                                                var nextCode = "";
                                                var maxused = $("#MaxUsed").val();
                                                var suffix = $("#Suffix").val();
                                                if ($("#MaxUsed").val() != "") {
                                                    NextKeyCode(DomainName, maxused);
                                                }
                                                else {
                                                    NextKeyCode(DomainName, newvalue);
                                                }
                                                var NewSrTo = parseInt(newvalue) - 1
                                                $("#NewSrTo").val(NewSrTo);
                                                var diff = GetDiff(DomainName, newvalue, maxvalue)
                                                $("#DifLEAF").val(diff);
                                                LastDocNo(DomainName, newvalue, maxvalue, oldvalue)
                                                var nextsuffix = getNextSuffix(DomainName, suffix)
                                                $("#Suffix").val(nextsuffix);
                                            });
                                            App.unblockUI();
                                            $("#btnReallote").click(function () {
                                                if (!$("#form_sample_split").valid()) {
                                                    return false;
                                                }
                                                var Submiturl = DomainName + '/Master/SubmitSplitDetail';
                                                $.ajax({
                                                    url: Submiturl,
                                                    cache: false,
                                                    data: $("#form_sample_split").serialize(),
                                                    type: 'POST',
                                                    success: function (data) {
                                                        if (data.Status == true) {
                                                            TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                                            setTimeout(function () {
                                                                window.location.replace(DomainName + '/Master/ManageDCR')
                                                            }, 1500);
                                                        }
                                                        else {
                                                            TosterNotification("error", 'Opration fail..!! There is some issue in Reallocation please try agian or Contact your administrator for more detail.', "Oppps..!!");
                                                            App.unblockUI();
                                                        }
                                                    },
                                                    error: function (req, status, error) {
                                                        //alert("error--" + req + "---" + status + "---" + error);
                                                        TosterNotification("error", 'Opration fail..!! There is some issue in Reallocation please try agian or Contact your administrator for more detail.', "Oppps..!!");
                                                        App.unblockUI();
                                                    }
                                                });
                                            });
                                        },
                                        error: function (req, status, error) {
                                            //alert("error--" + req + "---" + status + "---" + error);
                                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                                            App.unblockUI();
                                        }
                                    });
                                }
                            });
                        },
                        error: function (req, status, error) {
                            //alert("error--" + req + "---" + status + "---" + error);
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                });
                
                $("#DocNo").change(function () {
                    $(this).rules("add", {
                        checkDCRSeriesAvailability: true,
                    });
                }); FormValidate(DomainName);
            }
        }
    }();
</script>
