﻿@model Fleet.ViewModels.ThcFinancialTrackerCriteria
@using System.Configuration
@using MvcReportViewer;
@{
    ViewBag.Title = "Thc Financial Tracker";
    Layout = null;
}
@{
    var parameters = new List<KeyValuePair<string, object>>
   {

       new KeyValuePair<string, object>("Docno", @Model.DocNo),
       new KeyValuePair<string, object>("docType", @Model.DocType),
   };

    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();

}
<div id="divPrint">
    @Html.MvcReportViewer(ReportPathPrefix + "/Doc_Financial_tracker_NewPortal", parameters, new { Height = 600, Width = "100%", style = "border: none" })
    <div class="span3"></div>
</div>