﻿@model Fleet.ViewModels.TSFinancialEditCriteria
@{
    ViewBag.Title = "Tripsheet Financial Query";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var TripsheetType = new List<SelectListItem> {
        new SelectListItem { Text =  "Enter Manual TripSheet No.:", Value = "M" },
          new SelectListItem { Text =  "Enter Trip Sheet No.:", Value = "T" },
    };


    var FinType = new List<SelectListItem> {
        new SelectListItem { Text =  "Financial Edit", Value = "FE" }
    };
}

@using (Html.BeginForm("GetFinancialTripList", "Exceptions", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-8">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i> @ViewBag.Title
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Select  Date :
                                    </label>
                                    <div class="col-md-3">
                                        <div id="reportrange" class="btn default">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                        </div>
                                        @Html.HiddenFor(c => c.FromDate)
                                        @Html.HiddenFor(c => c.ToDate)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                    </label>
                                    <div class="col-md-4">
                                        <b>OR</b>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">

                                    </label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(m => m.UpdClose, new SelectList(FinType, "Value", "Text"), "", new { @class = "select2 form-control", @required = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">

                                    </label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(m => m.Flag, new SelectList(TripsheetType, "Value", "Text"), "", new { @class = "select2 form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">

                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.TripSheetNo, new { placeholder = "TripSheet No", @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-8">
                            <button type="button" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Get List</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row ASNList">
        <div class="col-md-8">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp; Tripsheet Advance Edit List
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <table class="table table-striped table-bordered table-hover" id="ASNDList" style="overflow-x: scroll;">
                            <thead>
                                <tr></tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>
    var FormComponents = function (DomainName) {

        @*var loadData = function (DomainName, tblId, Type) {
           App.blockUI({ boxed: true });
           var strUrl = DomainName + '/Exceptions/GetFinancialTripList';
            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: 'json',
                data: $('#form_sample').serialize(),
                success: function (result) {
                    console.log(JSON.stringify(result));
                    console.log(GetHeaders(result[0]))
                    $('#' + tblId).DataTable({
                        data: result,
                        paging: false,
                        "searching": false,
                        columns: GetHeaders(result[0]),
                        destroy: true,
                        "aoColumnDefs": [
                              {
                                  "aTargets": [2],
                                  "mRender": function (data, type, full) {
                                      return '<a href="@Url.Action("TripsheetEdit", "Exceptions")?Id=' + data + '">' + data + '</a>';
                    }
                              },
                        ],
                    });
                    formateDataTable(tblId);
                    $('#' + tblId).parents('.row').show(500);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }*@
        var Events = function (DomainName) {

            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');

            //$('#btnSubmit').on('click', function () {
            //    FormValidate(DomainName);
            //    var Type = $("#Type").val();
            //    if ($('#form_sample').valid()) {
            //        $(".ASNList").show();
            //        loadData(DomainName, 'ASNDList', Type);
            //    }
            //});

            $('#btnSubmit').click(function () {

                FormValidate(DomainName);

                if ($("#form_sample").valid()) {
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                $(".ASNList").hide();
                Events(DomainName);
            }
        }
    }();
</script>