﻿@model Fleet.ViewModels.TSAdvanceEditViewModel
@using Fleet.Models;
@{
    ViewBag.Title = "EDIT/UPDATE VEHICLE ISSUE SLIP";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var TransactionType = new List<SelectListItem> {
        new SelectListItem { Text =  "Enter Manual TripSheet No.:", Value = "M" },
          new SelectListItem { Text =  "Enter Trip Sheet No.:", Value = "T" },
    };
    string CurrDate = System.DateTime.Now.ToString();
    int a = 1;
}


<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i> @ViewBag.Title
                </div>
            </div>

            <div class="portlet-body">
                @using (Html.BeginForm("TripsheetEdit", "Exceptions", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
                {
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Issue Slip Id</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.TSAEDM.TripSheetNo, new { @class = "form-control", @readonly = "true" })
                                            @Html.HiddenFor(c => c.TSAEDM.TripSheetNo)
                                            @Html.HiddenFor(c => c.TSAEDM.ServerDt)
                                            @Html.HiddenFor(c => c.TSAEDM.VCloseDt)
                                            @Html.HiddenFor(c => c.TSAEDM.Vslipdt1)


                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Issue Slip Date
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.TSAEDM.Vslipdt1, new { @class = "form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12">
                                <h5 class="form-section">Advance Payment List</h5>
                                <div class="col-md-12">
                                    <div class="table-container">
                                        <table class="table table-striped table-bordered table-hover" id="tblAdvanceMaster">
                                            <thead class="flip-content">
                                                <tr>
                                                    <th class="center">

                                                    </th>
                                                    <th class="center">
                                                        Sr. No.
                                                    </th>
                                                    <th class="center">
                                                        Place
                                                    </th>
                                                    <th class="center">
                                                        Advance Date
                                                    </th>
                                                    <th class="center">
                                                        Amount
                                                    </th>
                                                    <th class="center">
                                                        Branch Code
                                                    </th>
                                                    <th class="center">
                                                        Advance Paid By
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                   foreach (var item in Model.WTSAList)
                                                    {
                                                      item.Sr = a;
                                                      Html.RenderPartial("_TripsheetEdit", item);
                                                        a++;
                                                        }
                                                }
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h5 class="form-section">Payment Details</h5>
                                <div class="center">
                                    <h6><b>Note :Please Enter the Payment details if payment amount > 0</b></h6>
                                </div>

                                <div class="col-md-12">
                                    @Html.Partial("../UserControls/_PaymentControl", Model.PC)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <input type="hidden" id="selected_voucher" name="selected_voucher" />
                            <a class="btn btn-sm default controls" href="@Url.Content("~/Exceptions/TripsheetQuery")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
                            <button type="button" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                    
                }
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var FormValidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    // document.forms["form_sample"].submit();
                }
            });
        }

        var PaymentHandle = function (DomainName) {
            $('input[name=TripshtRdo]:radio').change(function () {
                var val = $("input[name=TripshtRdo]:checked").val();
                // console.log(val);
                var da = $("input[name=TripshtRdo]:checked").data("voucher");
                // console.log(da);
                $("#selected_voucher").val(da);
                // console.log($("#selected_voucher").val());
                var amt = $("input[name=TripshtRdo]:checked").data("amount");
                //console.log(amt);
                $("#PayAmount").val(amt);
            });
        }


        var SaveFunction = function (DomainName) {

            $("#btnSubmit").live('click', function (e) {

                if ($("#form_sample").valid()) {

                    $.ajax({
                        url: $("#form_sample").attr('action'),
                        cache: false,
                        data: $("#form_sample").serialize(),
                        type: 'POST',
                        dataType: 'json',
                        success: function (data) {
                            console.log(data);
                            console.log(data[0].status);
                            if (data[0].Status == "1") {
                                TosterNotification("success", "Record has been saved successfully..!!", "Success");
                                window.setTimeout(function () {
                                    window.location.href = DomainName + '/Exceptions/DocumentisUpdatedDone?TripSheetNo=' + data[0].TripsheetId;
                                },
                                1000);
                            }
                            else if (data[0].Status == "0") {
                                TosterNotification("error", "Error !! There was an error druing process." + data[0].TranXaction, "Error");
                            }
                            else {
                                TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                            }
                            return;
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                        }
                    });
                    App.unblockUI();

                }

            });
        }


        var radiobuttoncheckevent = function (DomainName, ID) {

            $(".clsreadonly").attr("readonly", true)
            $(".clsreadonly").attr("required", false)
            $("#PayAmount").val($("#Tripsheet1_" + ID + "__AdvAmt").val());

            $("#Tripsheet1_" + ID + "__AdvLoc").removeAttr("readonly", false);
            $("#Tripsheet1_" + ID + "__AdvDate").removeAttr("readonly", false);
            $("#Tripsheet1_" + ID + "__AdvAmt").removeAttr("readonly", false);
            $("#Tripsheet1_" + ID + "__BranchCode").removeAttr("readonly", false);
            $("#Tripsheet1_" + ID + "__Signature").removeAttr("readonly", false);

            $("#Tripsheet1_" + ID + "__AdvLoc").removeAttr("required", true);
            $("#Tripsheet1_" + ID + "__AdvDate").removeAttr("required", true);
            $("#Tripsheet1_" + ID + "__AdvAmt").removeAttr("required", true);
            $("#Tripsheet1_" + ID + "__BranchCode").removeAttr("required", true);
            $("#Tripsheet1_" + ID + "__Signature").removeAttr("required", true);
        }
      

        var PaymentControl = function (DomainName) {

            //alert(DomainName);

            $(".clsBANK").hide();
            $(".clsCASH").hide();

            $("#CashAmount").val("0");
            $("#ChequeAmount").val("0");

            $('.date-picker').datepicker({
                isRTL: App.isRTL(),
                format: "dd M yyyy",
                autoclose: true,
                pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                todayBtn: true
            });
            $('body').removeClass("modal-open");

            $("#PaymentMode").change(function () {

                // alert("Hello " + $(this).val());

                App.blockUI({ boxed: true });

                $("#CashAmount").attr("readonly", "true");
                $("#ChequeAmount").attr("readonly", "true");


                $("#CashLedger").change(function () {

                    $("#CashLedgerName").val($(this).select2('data').text);

                });

                $("#BankLedger").change(function () {

                    $("#BankLedgerName").val($(this).select2('data').text);

                });



                if ($(this).val().toUpperCase() == "CASH") {
                    $(".clsBANK").hide();
                    $(".clsCASH").show();

                    $("#CashAmount").val($("#PayAmount").val());
                    $("#ChequeAmount").val("0");

                    var StrURL = DomainName + "/Payment/GetLedger?Category=Cash";
                    FillDropDownfromOther("CashLedger", StrURL, "Cash Ledger");

                    $("#ChequeNo").val("000000");
                    $("#BankLedger").select2("data", { id: $(this).val(), text: $(this).select2('data').text });

                }
                else if ($(this).val().toUpperCase() == "BANK") {
                    $(".clsBANK").show();
                    $(".clsCASH").hide();
                    $("#ChequeNo").val("");
                    var StrURL = DomainName + "/Payment/GetLedger?Category=Bank";
                    FillDropDownfromOther("BankLedger", StrURL, "Bank Ledger");

                    $("#ChequeAmount").val($("#PayAmount").val());
                    $("#CashAmount").val("0");

                    $("#CashLedger").select2("data", { id: $(this).val(), text: $(this).select2('data').text });
                }

                else if ($(this).val().toUpperCase() == "BOTH") {

                    $(".clsBANK").show();
                    $(".clsCASH").show();

                    $("#CashAmount").val("0");
                    $("#ChequeAmount").val("0");

                    $("#CashAmount").attr("readonly", false);
                    $("#ChequeAmount").attr("readonly", false);

                    var StrURL = DomainName + "/Payment/GetLedger?Category=Cash";
                    FillDropDownfromOther("CashLedger", StrURL, "Cash Ledger");

                    StrURL = DomainName + "/Payment/GetLedger?Category=Bank";
                    FillDropDownfromOther("BankLedger", StrURL, "Bank Ledger");
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                ControlDate();
                FormValidate(DomainName);
                $(".clsreadonly").attr("readonly", true)
                PaymentControl(DomainName);
                PaymentHandle(DomainName);
               
                $("#CashAmount").val($("#PayAmount").val());


                $(".clsAdvAmt").live("change", function () {
                    var ID = $("input[name=TripshtRdo]:checked").data("id");
                    $("#PayAmount").val($("#Tripsheet1_" + ID + "__AdvAmt").val());

                    if ($("#PaymentMode").val() == "Cash") {
                        $("#CashAmount").val($("#PayAmount").val());
                        $("#ChequeAmount").val("0");
                        //$("#CashAmount").val($("#Tripsheet1_" + ID + "__AdvAmt").val());
                    }
                    else if ($("#PaymentMode").val() == "Bank") {
                        $("#ChequeAmount").val($("#PayAmount").val());
                        $("#CashAmount").val("0");
                    }
                });

                $('input[name=TripshtRdo]:radio').change(function () {
                    var ID = $("input[name=TripshtRdo]:checked").data("id");
                    if ($("#PaymentMode").val() == "Cash") {
                        $("#CashAmount").val($("#PayAmount").val());
                        $("#ChequeAmount").val("0");
                        //$("#CashAmount").val($("#Tripsheet1_" + ID + "__AdvAmt").val());
                    }
                    else if ($("#PaymentMode").val() == "Bank") {
                        $("#ChequeAmount").val($("#PayAmount").val());
                        $("#CashAmount").val("0");
                    }
                    radiobuttoncheckevent(DomainName, ID)
                });

                $('#btnSubmit').click(function () {

                    FormValidate(DomainName);

                    if ($("#form_sample").valid()) {
                        App.blockUI({ boxed: true });
                        document.forms["form_sample"].submit();
                    }
                });

            }
        }
    }();
</script>