﻿@model Fleet.ViewModels.TSAdvanceEditCriteria
@{
    ViewBag.Title = "Edit/Update Trip Sheet Advance Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var TripsheetType = new List<SelectListItem> {
        new SelectListItem { Text =  "Enter Manual TripSheet No.:", Value = "M" },
          new SelectListItem { Text =  "Enter Trip Sheet No.:", Value = "T" },
    };
}

@using (Html.BeginForm("GetTripList", "Exceptions", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{

    <div class="form-body">
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            You have some form errors. Please check below.
        </div>

        <div class="alert alert-success display-hide">
            <button class="close" data-close="alert"></button>
            Your form validation is successful!
        </div>


        <div class="row">
            <div class="col-md-8">
                <div class="portlet box @ViewBag.TableBoxColor">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-filter"></i> @ViewBag.Title
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Select  Date :
                                        </label>
                                        <div class="col-md-3">
                                            <div id="reportrange" class="btn default">
                                                <i class="fa fa-calendar"></i>
                                                &nbsp;
                                                <span></span>
                                                <b class="fa fa-angle-down"></b>
                                            </div>
                                            @Html.HiddenFor(c => c.FromDate)
                                            @Html.HiddenFor(c => c.ToDate)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                        </label>
                                        <div class="col-md-4">
                                            <b>OR</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">

                                        </label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(m => m.Flag, new SelectList(TripsheetType, "Value", "Text"), "", new { @class = "select2 form-control" })

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">

                                        </label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(c => c.TripSheetNo, new { placeholder = "TripSheet No", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-8">
                                <button type="button" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Get List</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ASNList">
            <div class="col-md-8">
                <div class="portlet box @ViewBag.TableBoxColor">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i>&nbsp; Tripsheet Advance Edit List
                        </div>
                    </div>
                    <div class="portlet-body ">
                        <div class="form-body">
                            <table class="table table-striped table-bordered table-hover" id="ASNDList" style="overflow-x: scroll;">
                                <thead>
                                    <tr>
                                        <th>
                                            Edit
                                        </th>
                                        <th>
                                            Trip Sheet No
                                        </th>
                                        <th>
                                            Manual Trip Sheet No
                                        </th>
                                        <th>
                                            Trip Sheet Start date
                                        </th>
                                        <th>
                                            Trip Sheet Close date
                                        </th>
                                        <th>
                                            Vehicle No.
                                        </th>
                                        <th>
                                            Driver
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            CompanyCode
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}

<script>

    function GetHeaders(obj) {
        var cols = new Array();
        var count = false;
        for (var key in obj) {
            cols.push({
                data: key,
                title: key
            });
        }
        return cols;
    }
    var FormComponents = function (DomainName) {

        var loadData = function (DomainName, tblId, Type) {
           App.blockUI({ boxed: true });
           var strUrl = DomainName + '/Exceptions/GetTripList';
            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: 'json',
                data: $('#form_sample').serialize(),
                success: function (result) {
                    console.log(JSON.stringify(result));
                    console.log(GetHeaders(result[0]))
                    $('#' + tblId).DataTable({
                        data: result,
                        paging: false,
                        "searching": false,
                        columns: [
                            { data: "VSlipNo" },
                            { data: "VSlipNo" },
                            { data: "Manual_tripsheetno" },
                            { data: "VSlipDt" },
                            { data: "End_dt_tm" },
                            { data: "VehicleNo1" },
                            { data: "DriverName" },
                            { data: "IssueStatus" },
                            { data: "COMPANY_CODE" }
                        //columns: GetHeaders(result[0]),
                            //{ data: "Manual Trip Sheet No" },
                            //{ data: "Trip Sheet Start date" },
                            //{ data: "VehicleNo" },
                            //{ data: "Trip Sheet Close date" },
                            //{ data: "DriverName" },
                            //{ data: "Status" },
                            //{ data: "Company code" },
                        ],
                        destroy: true,
                        "aoColumnDefs": [
                             {
                                 "aTargets": [0],
                                 "mRender": function (data, type, full) {
                                     //return '<a href="@Url.Action("TripsheetEdit", "Exceptions")?Id=' + data + '" class="btn default btn-xs blue-stripe">' + "Edit" + '</a>';
                                     return '<a href="' + DomainName + '/Exceptions/TripsheetEdit/?Id=' + data.trim() + '" class="btn default btn-xs blue-stripe"><i class="fa fa-pencil"></i>&nbsp;Edit</a> &nbsp;'
                                 }
                             },
                        ],
                    });
                    formateDataTable(tblId);
                    initTableById('ASNDList');
                    $('#' + tblId).parents('.row').show(500);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }
        var Events = function (DomainName) {

            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');

            $('#btnSubmit').on('click', function () {
                FormValidate(DomainName);
                var Type = $("#Type").val();
                if ($('#form_sample').valid()) {
                    $(".ASNList").show();
                    loadData(DomainName, 'ASNDList', Type);
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                $(".ASNList").hide();
                Events(DomainName);
            }
        }
    }();
</script>