﻿@{
    ViewBag.Title = "Tripsheet Financial Close Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>Trip Financial Edit Done
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Trip Done No
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@ViewBag.No</b>
                            </td>
                            <td>
                                <a target="_blank" href="@Url.Content("~/ViewPrint/TripSheetView?TRIPSHEET_NO=" + ViewBag.No + "&EXPTYPE=TRIPSHEET")" class="fa fa-print" id="ReportFrame"><b>&nbsp;View/Print</b></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                Click on Trip Number for View and Print .
            </span>
        </div>
    </div>
</div>