﻿@model Fleet.ViewModels.TSFinancialEditViewModel
@{
    ViewBag.Title = "Tripsheet Financial Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var va = "";
    var ReadCloseKm = "";
    decimal Closeval = 0;
    decimal TotalKm = 0;
    int ii = 1;
    int j = 1;
    string CurrDate = System.DateTime.Now.ToString();
}


<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i> @ViewBag.Title
                </div>
            </div>

            <div class="portlet-body">
                @using (Html.BeginForm("TripsheetFinancialEdit", "Exceptions", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
                {
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Issue Slip Id</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.TSClose.VSlipNo, new { @class = "form-control required required2", @placeholder = "Issue Slip Id", @readonly = "true" })
                                            @Html.HiddenFor(m => m.TSClose.VSlipNo)
                                            @Html.HiddenFor(m => m.TSClose.Manual_TripSheetNo)
                                            @Html.HiddenFor(m => m.TSClose.VSlipDt)
                                            @Html.HiddenFor(m => m.TSClose.VehicleType)
                                            @Html.HiddenFor(m => m.TSClose.TripSheet_StartLoc)
                                            @Html.HiddenFor(m => m.TSClose.TripSheet_EndLoc)
                                            @Html.HiddenFor(m => m.TSClose.From_City)
                                            @Html.HiddenFor(m => m.TSClose.To_City)
                                            @Html.HiddenFor(m => m.TSClose.Vehicle_Mode)
                                            @Html.HiddenFor(m => m.TSClose.Category)
                                            @Html.HiddenFor(m => m.TSClose.Market_Own)
                                            @Html.HiddenFor(m => m.TSClose.Externalusage_Category)
                                            @Html.HiddenFor(m => m.TSClose.vehno)
                                            @Html.HiddenFor(m => m.TSClose.driver_name)
                                            @Html.HiddenFor(m => m.TSClose.Oper_Close_Dt)
                                            @Html.HiddenFor(m => m.TSClose.OperCloseDtTime)
                                            @Html.HiddenFor(m => m.TSClose.Financial_date22)
                                            @Html.HiddenFor(m => m.TSClose.License_No)
                                            @Html.HiddenFor(m => m.TSClose.Valdity_dt)
                                            @Html.HiddenFor(m => m.TSClose.Driver1)
                                            @Html.HiddenFor(m => m.TSClose.Start_km)
                                            @Html.HiddenFor(m => m.TSClose.current_KM_Read_AfterTHCCLose)
                                            @Html.HiddenFor(m => m.TSClose.f_closure_fill)
                                            @Html.HiddenFor(m => m.TSClose.f_closure_closekm)
                                            @Html.HiddenFor(m => m.TSClose.Actual_KMPL)
                                            @Html.HiddenFor(m => m.TSClose.KMPL)
                                            @Html.HiddenFor(m => m.TSClose.AvgDieselRate)
                                            @Html.HiddenFor(m => m.TSClose.DOCKNO)
                                            @Html.HiddenFor(m => m.Operational_Close)
                                            @Html.HiddenFor(m => m.Obj_WFT.ID)
                                            @Html.HiddenFor(m => m.Obj_WFT.Vehicle_Selection)
                                            @Html.HiddenFor(m => m.Obj_WFT.Driver1_Manual)
                                            @Html.HiddenFor(m => m.Obj_WFT.Driver2_Manual)
                                            @Html.HiddenFor(m => m.Obj_WFT.Trip_Route_Selection)
                                            @Html.HiddenFor(m => m.Obj_WFT.THC_Attached)
                                            @Html.HiddenFor(m => m.Obj_WFT.Entry_Date)
                                            @Html.HiddenFor(m => m.Obj_WFT.Enter_By)
                                            @Html.HiddenFor(m => m.Obj_WFT.Vehicle_Filter)
                                            @Html.HiddenFor(m => m.Obj_WFT.UFL_Filter)
                                            @Html.HiddenFor(m => m.Obj_WFT.Auto_Vslip_Filter)
                                            @Html.HiddenFor(m => m.Obj_WFT.ExternalUsage_Category)
                                            @Html.HiddenFor(m => m.Obj_WFT.Fuel_Bill_Entry_TSWise)

                                            @*@Html.HiddenFor(m => m.TSClose.TS_Close_Dt)*@

                                         
                           
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Manual Tripsheet No.</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.TSClose.Manual_TripSheetNo, new { @class = "form-control required required2", @placeholder = "Manual Tripsheet No", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Issue Slip Date</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.TSClose.VSlipDt, new { @class = "form-control required required2", @placeholder = "Issue Slip Date", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Vehicle Type</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.TSClose.VehicleType, new { @class = "form-control", @placeholder = "Vehicle Type", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Starting Location</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.TSClose.TripSheet_StartLoc, new { @class = "form-control", @placeholder = "Starting Location", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">End Location</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.TSClose.TripSheet_EndLoc, new { @class = "form-control", @placeholder = "End Location", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Category</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.TSClose.Category, new { @class = "form-control", @placeholder = "Category", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Market/Own</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.TSClose.Market_Own, new { @class = "form-control", @placeholder = "Market/Own", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">External Usages Category</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.TSClose.Externalusage_Category, new { @class = "form-control", @placeholder = "External Usages Category", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">From City</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.TSClose.From_City, new { @class = "form-control", @placeholder = "From City", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">To City</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.TSClose.To_City, new { @class = "form-control", @placeholder = "To City", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Route</label>
                                        <div class="col-md-6">
                                            @*@if (Model.TSClose.rut_code != null)
                                                {*@
                                            @if (Model.TSClose.rut_code != "0")
                                            {
                                                va = Model.TSClose.rut_code.ToString() + " : " + Model.TSClose.rutdesc.ToString();
                                            }
                                            else
                                            {
                                                va = Model.TSClose.From_City.ToString() + "~" + Model.TSClose.To_City.ToString() + "~" + Model.TSClose.From_City.ToString();
                                            }
                                            @*}*@

                                            <input type="text" value="@va" class="form-control" placeholder="Route" readonly />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Vehicle Mode</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.TSClose.Vehicle_Mode, new { @class = "form-control", @placeholder = "Vehicle Mode", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Vehicle No.</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.TSClose.vehno, new { @class = "form-control", @placeholder = "Vehicle No", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Driver</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.TSClose.driver_name, new { @class = "form-control", @placeholder = "Driver", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Operational Close Date</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.TSClose.Oper_Close_Dt, new { @class = "form-control", @readonly = "true" })
                                            @Html.TextBoxFor(m => m.TSClose.OperCloseDtTime, new { @class = "form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Financial Close Date
                                        </label>
                                        <div class="col-md-6">
                                            <div class="input-group input-medium date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d" data-date-end-date="+0d">
                                                @Html.TextBoxFor(m => m.TSClose.TS_Close_Dt, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.TSClose.TS_Close_Dt).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @readonly = "True" })
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Financial Close Date</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(m => m.TSClose.Financial_date22, new { @class = "form-control required required2" })
                                            </div>
                                        </div>
                                    </div>*@

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Driver Licence No</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.TSClose.License_No, new { @class = "form-control", @placeholder = "Driver Licence No", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Licence Valid Upto</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.TSClose.Valdity_dt, new { @class = "form-control", @placeholder = "Licence Validity", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Starting Km. Reading</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.TSClose.Start_km, new { @class = "form-control", @placeholder = "Starting Km.", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Closing Km. Reading</label>
                                        <div class="col-md-6">
                                            @if (Model.TSClose.Category == "External Usage" || ViewBag.Mode == "FE")
                                            {
                                                Closeval = Model.TSClose.f_closure_closekm;
                                                @*@Html.TextBoxFor(m => m.TSClose.f_closure_closekm, new { @class = "form-control"})*@
                                            }
                                            else
                                            {
                                                ReadCloseKm = "ReadOnly";
                                                Closeval = Model.TSClose.current_KM_Read_AfterTHCCLose;
                                                @*@Html.TextBoxFor(m => m.TSClose.current_KM_Read_AfterTHCCLose, new { @class = "form-control", @readonly = "true" })*@
                                            }
                                            <input type="text" id="ClosingKms" name="ClosingKms" value="@Closeval" placeholder="Closing Km." class="form-control number" @ReadCloseKm />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Fuel Filled enroute</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.TSClose.f_closure_fill, new { @class = "form-control", @placeholder = "Fuel Filled enroute", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Total Kms.</label>
                                        <div class="col-md-6">
                                            @{
                                                TotalKm = Closeval - Model.TSClose.Start_km;
                                            }
                                            <input type="text" id="TotalKms" name="TotalKms" value="@TotalKm" placeholder="Total Kms." class="form-control" readonly />
                                            @*@Html.TextBoxFor(m => m.TSClose.Externalusage_Category, new { @class = "form-control", @readonly = "true" })*@
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Actual KMPL</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.TSClose.Actual_KMPL, new { @class = "form-control", @placeholder = "Actual KMPL", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Approved KMPL</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.TSClose.KMPL, new { @class = "form-control", @placeholder = "Approved KMPL", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Approved Diesel (Ltr.)</label>
                                        <div class="col-md-6">

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Average Diesel Rate</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.TSClose.AvgDieselRate, new { @class = "form-control", @placeholder = "Average Diesel Rate", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Approved Fuel Amount</label>
                                        <div class="col-md-6">

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Cnot Numbers</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.TSClose.DOCKNO, new { @class = "form-control", @placeholder = "Cnot Numbers", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>

                                @*<div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Average Diiesel Rate</label>
                                            <div class="col-md-6">

                                            </div>
                                        </div>
                                    </div>*@

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="table-container">
                                        <table class="table table-striped table-bordered table-hover" id="tblAdvanceMaster">
                                            <thead class="flip-content">
                                                <tr>
                                                    <th class="center">
                                                        Sr. No.
                                                    </th>
                                                    <th class="center">
                                                        Place
                                                    </th>
                                                    <th class="center">
                                                        Advance Date
                                                    </th>
                                                    <th class="center">
                                                        Amount
                                                    </th>
                                                    <th class="center">
                                                        Branch Code
                                                    </th>
                                                    <th class="center">
                                                        Advance Paid By
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    foreach (var item in Model.WTSAList)
                                                    {
                                                        Html.RenderPartial("_TripSheetFinancialEdit", item);
                                                    }
                                                }


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class=" col-md-12">
                                <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                                    <li><strong style="font-size: 12px;">HSD/OIL Expenses</strong></li>
                                </ul>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">No Of Rows </label>
                                        <div class="col-md-7">
                                            @Html.TextBox("LOG", "0", new { placeholder = "No. Rows", @class = "input-small form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <a id="btnAddRowsLOG" class="btn  @ViewBag.TableBoxColor right">
                                        Add HSD/OIL Expenses <i class="m-icon-swapright m-icon-white"></i>
                                    </a>
                                </div>
                                <div class="col-md-5">

                                </div>
                            </div>
                            <div class="col-md-12">
                                <table id="containerLog" border="1" class="table table-striped table-bordered table-hover" style="overflow-x:scroll">
                                    <thead class="flip-content">
                                        <tr>
                                            <th class="center">Sr No</th>
                                            <th class="center">Place</th>
                                            <th class="center">
                                                Petrol
                                                <br />Pump Name
                                            </th>
                                            <th class="center"><b>Brand</b></th>
                                            <th class="center"><b>Fuel <br />Type</b></th>
                                            <th class="center"><b>Last KM <br />Reading</b></th>
                                            <th class="center"><b>KM Reading</b></th>
                                            <th class="center"><b>Bill No</b></th>
                                            <th class="center"><b>Bill Date</b></th>
                                            <th class="center"><b>Diesel<br />(Qtn. in Liters)</b></th>
                                            <th class="center"><b>Diesel Rate/Liters</b></th>
                                            <th class="center"><b>Amount</b></th>
                                            <th class="center"><b>Amount<br /> Approved <br />By Fleet<br /> Executive</b></th>
                                            <th class="center"><b>By <br />Card/Cash</b></th>
                                            <th class="center"><b>Remarks</b></th>
                                        </tr>
                                    </thead>
                                    <tbody id="HSD_OIL_Expenses">

                                        @foreach (var Item in Model.LIST_WTRSOP)
                                        {
                                            Item.SRNO = ii;
                                            Html.RenderPartial("_Tripsheet_HSD_OIL_Expenses", Item);
                                            ii++;
                                        }
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <th class="center"></th>
                                            <th class="center"></th>
                                            <th class="center"></th>
                                            <th class="center"></th>
                                            <th class="center"></th>
                                            <th class="center"></th>
                                            <th class="center"></th>
                                            <th class="center"></th>
                                            <th class="center"><b>Total</b></th>
                                            <th class="center"><b><div id="Tot_Diesel_Qtn_in_litres"></div></b></th>
                                            <th class="center"></th>
                                            <th class="center"><b><div id="Tot_Amount"></div></b></th>
                                            <th class="center"><b><div id="Tot_Amount_Approved_By_Fleet_Executive"></div></b></th>
                                            <th class="center"></th>
                                            <th class="center"></th>
                                            <th class="center"></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-12">
                                <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                                    <li><strong style="font-size: 12px;">En-route Expenses</strong></li>
                                </ul>
                                <div class="row">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">No Of Rows </label>
                                            <div class="col-md-7">
                                                @Html.TextBox("ENROUTE", "0", new { placeholder = "No. Rows", @class = "input-small form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <a id="btnAddRows" class="btn  @ViewBag.TableBoxColor right">
                                            Add Route Expenses <i class="m-icon-swapright m-icon-white"></i>
                                        </a>
                                    </div>
                                    <div class="col-md-5">

                                    </div>
                                </div>

                                <table id="container1" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr role="row" class="heading">
                                            <th style="white-space: normal;" class="center">
                                                SR No.
                                            </th>
                                            <th>
                                                Nature of Expense
                                            </th>
                                            <th>
                                                Amount Spent
                                            </th>
                                            <th>
                                                Bill No
                                            </th>
                                            <th>
                                                Bill Date
                                            </th>
                                            <th>
                                                Standard Amt
                                            </th>
                                            <th>
                                                Remarks
                                            </th>
                                            @*<th>
                                                    Delete Row
                                                </th>*@
                                        </tr>

                                    </thead>
                                    <tbody id="EnrouteEx">

                                        @foreach (var itm in Model.EnrtExpList)
                                        {
                                            itm.SRNO = j;
                                            Html.RenderPartial("_EnRouteExpenses", itm);
                                            j++;
                                        }
                                    </tbody>
                                    <tr>
                                        <td></td>
                                        <th class="left">
                                            <h6><b>Total</b></h6>
                                        </th>
                                        <td colspan="1">
                                            @Html.TextBoxFor(c => c.WFEE.Total, new { @class = "m-wrap  form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @readonly = "true", @number = "true" })
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </table>

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <ul class="page-breadcrumb breadcrumb visible-tablet" style="margin-top: 0px;">
                                    <li><strong style="font-size: 12px;">Verifying Authorities</strong></li>
                                </ul>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Prepared By.</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WFVI.PreparedBy, new { placeholder = "Prepared By", @class = "m-wrap form-control required required2" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Checked By.
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WFVI.CheckedBy, new { placeholder = "Checked By", @class = "m-wrap form-control required required2" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Approved By.
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.WFVI.ApprovedBy, new { placeholder = "Approved By", @class = "m-wrap form-control required required2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Audited By.</label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.WFVI.AuditedBy, new { placeholder = "Audited By", @class = "m-wrap form-control required required2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="form-actions fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="@*col-md-offset-3*@ col-md-6" style="text-align: right;">
                                    <button type="button" id="btn_Operational_Close" class="btn green btnSubmit">Operational Close&nbsp;<i class="m-icon-swapright m-icon-white"></i> </button>
                                </div>
                                <div class="@*col-md-offset-3*@ col-md-6">
                                    <button type="button" id="btn_Operational_Financial_Close" class="btn green btnSubmit">Operational And Financial Close&nbsp;<i class="m-icon-swapright m-icon-white"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                <input type="hidden" id="selected_voucher" name="selected_voucher" />
                                <button type="button" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                            </div>
                        </div>*@
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var handleDatetimePicker = function () {

            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true
                });
            }

            $(".form_meridian_datetime").datetimepicker({
                isRTL: App.isRTL(),
                format: "dd MM yyyy HH:ii P",
                showMeridian: true,
                autoclose: true,
                startDate: new Date('@CurrDate'),
                pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                todayBtn: true
            });

        }

        var Calculation2 = function () {

            var GT = parseFloat(0);
            $(".totalExp").each(function () {
                var id = $(this).attr("id").split('_')[1];

                var IdInt = $("#fleetList_" + id + "__id").val();
                if (!($.isNumeric($(this).val()))) {
                    $(this).val('0');
                    alert("Please Enter Numeric Only.")
                }
                if (parseFloat($(this).val()) < 0) {
                    $(this).val('0');
                    alert("Must be Non-Negative Value.")
                }
                if (IdInt == 22) {
                    GT = parseFloat(GT) - parseFloat($(this).val());
                }
                else {
                    GT = parseFloat(GT) + parseFloat($(this).val());
                }
            });
            $('#WFEE_Total').val(parseFloat(GT).toFixed(0));
        }

        var Formvalidate = function (DomainName) {
            var form = $('#form_sample');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);
            form.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {
                    'ClosingKms': {
                        range: [parseInt($("#TSClose_Start_km").val()) + 1, parseInt($("#TSClose_Start_km").val()) + 7000]
                    }
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                },
                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    form.submit();
                }
            });
        }

        var handleSelect2 = function () {
            $('.select2').select2({
                placeholder: "Select an option",
            });
        }

        var DropDownChangeEvent = function (DomainName, itemIndex) {
            $("#fleetList_" + itemIndex + "__ID").live('change', function () {

                var dlnmId = $(this).attr("id");
                var Value = $(this).val();
                var Count = 0;

                if (Value != "") {

                    $(".ClsXYZ").each(function () {

                        var dlnmId1 = $(this).attr("id");
                        var dlnmVal1 = $(this).val();

                        if (dlnmId1 != dlnmId && dlnmVal1 == Value) {
                            alert("cannot select Duplicate Value");
                            $("#" + dlnmId).val("");
                            $("#" + dlnmId).select2().find(":selected").data("");
                            $("#" + dlnmId)

                            return false;
                        }
                    });
                }
            });

            //$("#fleetList_1__ID").change(function () {

            //    var dlnmId = $(this).attr("id");
            //    var Value = $(this).val();
            //    var Count = 0;

            //    if (Value != "") {

            //        $(".ClsXYZ").each(function () {

            //            var dlnmId1 = $(this).attr("id");
            //            var dlnmVal1 = $(this).val();

            //            if (dlnmId1 != dlnmId && dlnmVal1 == Value) {
            //                alert("cannot select Duplicate Value");
            //                $("#" + dlnmId).val("");
            //                $("#" + dlnmId).select2().find(":selected").data("");
            //                $("#" + dlnmId)

            //                return false;
            //            }
            //        });
            //    }
            //});
        }

        var AddQuestions = function (DomainName, itemIndex) {

            var StrURL1 = DomainName + "/Exceptions/EnRouteExpenses?id=" + itemIndex;
            App.blockUI({ boxed: true }); //Block UI
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    // alert(html);
                    $("#EnrouteEx").append(html);

                    $("#fleetList_" + itemIndex + "__id").select2({
                        placeholder: "Select an Option",
                    });
                    Calculation2();

                    DropDownChangeEvent(DomainName, itemIndex);

                    App.unblockUI();
                },
                error: function (req, status, error) {
                    App.unblockUI();
                    alert("error " + req + " " + status + " " + error);
                }
            });
        }

        var AddRows_HSD_OIL = function (DomainName, itemIndex) {

            var StrURL1 = DomainName + "/Fleet/_Tripsheet_HSD_OIL_Expenses?id=" + itemIndex + "&startkm=" + $("#TSClose_Start_km").val();
            App.blockUI({ boxed: true }); //Block UI
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {

                    $("#HSD_OIL_Expenses").append(html);

                    Select2Id("ListOILEXPDET_" + itemIndex + "__PetrolPName");
                    Select2Id("ListOILEXPDET_" + itemIndex + "__Brand");
                    Select2Id("ListOILEXPDET_" + itemIndex + "__FuelType");
                    Select2Id("ListOILEXPDET_" + itemIndex + "__Card_Cash");
                    handleDatetimePicker();

                    $('#containerLog').css('sScrollY', '150px');
                    $(".clsDiesel_Ltr").focusout(function () {
                        Focuss_Out(DomainName);
                    });
                    $(".clsDiesel_Rate").focusout(function () {
                        Focuss_Out(DomainName);
                    });
                    $(".clsAmount").focusout(function () {
                        Focuss_Out(DomainName);
                    });
                    $(".clsEXE_AMT").focusout(function () {
                        Focuss_Out(DomainName);
                    });

                    Focuss_Out(DomainName);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    App.unblockUI();
                    alert("error " + req + " " + status + " " + error);
                }
            });
        }

        var Select2Id = function (ID) {

            $("#" + ID).select2({
                placeholder: "Select an Option",
            });

        }

        var CalcExp = function () {
            var GTExp = parseFloat(0);
            $(".ClsExpense").each(function () {
                if (!($.isNumeric($(this).val()))) {
                    $(this).val('0');
                }
                if (parseFloat($(this).val()) < 0) {
                    $(this).val('0');
                }
                GTExp = parseFloat(GTExp) + parseFloat($(this).val());
            });
            $('#WTSA_AdvAmt').val(GTExp.toFixed(0));
        }
        var Focuss_Out = function (DomainName) {

            var Tot_Diesel_Ltr = "0";
            $(".clsDiesel_Ltr").each(function () {
                var ID = $(this).attr("id").replace("Diesel_Ltr", "");
                var Diesel_Ltr = $("#" + ID + "Diesel_Ltr").val();
                var Diesel_Rate = $("#" + ID + "Diesel_Rate").val();

                var Total_Cal = parseFloat(Diesel_Ltr) * parseFloat(Diesel_Rate);
                $("#" + ID + "Amount").val(Total_Cal);
                Tot_Diesel_Ltr = parseFloat(Tot_Diesel_Ltr) + parseFloat($(this).val());
            });
            $("#Tot_Diesel_Qtn_in_litres").html(Tot_Diesel_Ltr.toFixed(2));


            $(".clsDiesel_Rate").each(function () {
                var ID = $(this).attr("id").replace("Diesel_Rate", "");
                var Diesel_Ltr = $("#" + ID + "Diesel_Ltr").val();
                var Diesel_Rate = $("#" + ID + "Diesel_Rate").val();

                var Total_Cal = parseFloat(Diesel_Ltr) * parseFloat(Diesel_Rate);
                $("#" + ID + "Amount").val(Total_Cal.toFixed(2));
                Tot_Diesel_Ltr = parseFloat(Tot_Diesel_Ltr) + parseFloat($(this).val());
            });

            var Tot_Amount = "0";
            $(".clsAmount").each(function () {
                var ID = $(this).attr("id").replace("Diesel_Ltr", "");
                var Diesel_Ltr = $("#" + ID + "Diesel_Ltr").val();
                var Diesel_Rate = $("#" + ID + "Diesel_Rate").val();

                var Total_Cal = parseFloat(Diesel_Ltr) * parseFloat(Diesel_Rate);
                $("#" + ID + "Amount").val(Total_Cal);
                Tot_Amount = parseFloat(Tot_Amount) + parseFloat($(this).val());
            });
            $("#Tot_Amount").html(Tot_Amount.toFixed(2));

            var Tot_Amount_Approved_By_Fleet_Executive = "0";
            $(".clsEXE_AMT").each(function () {
                Tot_Amount_Approved_By_Fleet_Executive = parseFloat(Tot_Amount_Approved_By_Fleet_Executive) + parseFloat($(this).val());
            });
            $("#Tot_Amount_Approved_By_Fleet_Executive").html(Tot_Amount_Approved_By_Fleet_Executive);

                //$(".clscashcard").each(function () {
                $(".clscashcard").each(function () {
                    var id =$(this).attr("id");
                    var RowIndex= id.replace("ListOILEXPDET_","").replace("__Card_Cash","");
               // var RowIndex = parseInt($('#HSD_OIL_Expenses tr').length) + parseInt("@Model.LIST_WTRSOP.Count()");

                if ($("#ListOILEXPDET_" + RowIndex + "__Card_Cash").val() == "Credit" || $("#ListOILEXPDET_" + RowIndex + "__Card_Cash").val() == "Diesel Card") {

                    $("#ListOILEXPDET_" + RowIndex + "__Place").attr("readonly", true);
                    $('#ListOILEXPDET_' + RowIndex + '__PetrolPName').attr("disabled", true);;
                    $("#ListOILEXPDET_" + RowIndex + "__Brand").attr("disabled", true);
                    $("#ListOILEXPDET_" + RowIndex + "__FuelType").attr("disabled", true);
                    $("#ListOILEXPDET_" + RowIndex + "__Last_Km_Read").attr("readonly", true);
                    $("#ListOILEXPDET_" + RowIndex + "__KM_Reading").attr("readonly", true);
                    $("#ListOILEXPDET_" + RowIndex + "__BillNo").attr("readonly", true);
                    $("#ListOILEXPDET_" + RowIndex + "__BillDt").attr('readonly', true);
                    $("#ListOILEXPDET_" + RowIndex + "__Diesel_Ltr").attr("readonly", true);
                    $("#ListOILEXPDET_" + RowIndex + "__Diesel_Rate").attr("readonly", true);
                    $("#ListOILEXPDET_" + RowIndex + "__Amount").attr("readonly", true);
                    $("#ListOILEXPDET_" + RowIndex + "__EXE_AMT").attr("readonly", true);
                    $("#ListOILEXPDET_" + RowIndex + "__Card_Cash").attr("disabled", true);
                    $("#ListOILEXPDET_" + RowIndex + "__Remark").attr("readonly", true);

                }
                else
                {
                    $("#ListOILEXPDET_" + RowIndex + "__Place").attr("readonly", false);
                    $("#ListOILEXPDET_" + RowIndex + "__PetrolPName").attr("disabled", false);
                    $("#ListOILEXPDET_" + RowIndex + "__Brand").attr("disabled", false);
                    $("#ListOILEXPDET_" + RowIndex + "__FuelType").attr("disabled", false);
                    $("#ListOILEXPDET_" + RowIndex + "__Last_Km_Read").attr("readonly", false);
                    $("#ListOILEXPDET_" + RowIndex + "__KM_Reading").attr("readonly", false);
                    $("#ListOILEXPDET_" + RowIndex + "__BillNo").attr("readonly", false);
                    $("#ListOILEXPDET_" + RowIndex + "__BillDt").attr('readonly', false);
                    $("#ListOILEXPDET_" + RowIndex + "__Diesel_Ltr").attr("readonly", false);
                    $("#ListOILEXPDET_" + RowIndex + "__Diesel_Rate").attr("readonly", false);
                    $("#ListOILEXPDET_" + RowIndex + "__Amount").attr("readonly", false);
                    $("#ListOILEXPDET_" + RowIndex + "__EXE_AMT").attr("readonly", false);
                    $("#ListOILEXPDET_" + RowIndex + "__Card_Cash").attr("disabled", false);
                    $("#ListOILEXPDET_" + RowIndex + "__Remark").attr("readonly", false);
                }
                });

        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                handleDatetimePicker();
                // DropDownChangeEvent("1", itemIndex);

                @*var Task_Name_list = $.ajax({
                    url: '@Url.Action("GetLocation", "Operation")',
                    dataType: 'json',
                    success: function (response) {
                        $("#WFVI_Route").select2({
                            tags: response,
                            placeholder: "Search for a Route",
                            multiple: true,
                            // minimumInputLength: 1,
                            allowClear: true
                        });
                    }
                });*@


                $("#btn_Operational_Close").click(function () {
                    $("#Operational_Close").val("1");

                    $("#WFVI_TS_Close_Dt").removeClass("required required2");

                    if (!$("#form_sample").valid())
                        return;

                    if ($('#form_sample').valid()) {
                        App.blockUI({ boxed: true });
                        $('#form_sample').submit();
                    }
                })

                $("#btn_Operational_Financial_Close").click(function () {
                    $("#Operational_Close").val("0");

                    $("#WFVI_TS_Close_Dt").addClass("required required2");

                    if (!$("#form_sample").valid())
                        return;

                    if ($('#form_sample').valid()) {
                        App.blockUI({ boxed: true });
                        $('#form_sample').submit();
                    }
                })


                if ($("#WFVI_valdity_dt").val() == "01 Jan 0001") {
                    $("#WFVI_valdity_dt").val("");
                }
                if ($("#TSClose_Oper_Close_Dt").val() == "01 Jan 0001") {
                    $("#TSClose_Oper_Close_Dt").val("");
                }
                if ($("#WFVI_TS_Close_Dt").val() == "01 Jan 0001") {
                    $("#WFVI_TS_Close_Dt").val("");
                }


                $('#WTSA_AdvAmt').change(function () {
                    $('#WTSA_AdvAmt').val($(this).val());
                });

                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    Calculation2();
                    return false;
                });

                var i = "";
                var itemIndex = $('#EnrouteEx tr').length;
                $("#btnAddRows").click(function () {
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            itemIndex = itemIndex + 1;
                            AddQuestions(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });

                $("#btnAddRowsLOG").live('click', function () {
                    var itemIndex = $('#HSD_OIL_Expenses tr').length;
                    var TOTRows = $("#LOG").val();


                    for (var i = 0; i <= TOTRows - 1; i++) {
                        setTimeout(function () {
                            itemIndex = itemIndex + 1;

                            AddRows_HSD_OIL(DomainName, itemIndex);

                        }, 250 * i);
                    }
                });




                Calculation2();
                $('.totalExp').live('change', function () {
                    if (!($.isNumeric($(this).val()))) {
                        $(this).val('0');
                        alert("Please Enter Numeric Only.")
                    }
                    if (parseFloat($(this).val()) < 0) {
                        $(this).val('0');
                        alert("Must be Non-Negative Value.")
                    }

                    Calculation2();
                });
                CalcExp();
                Focuss_Out(DomainName);
                handleSelect2();
            }
        };
    }();

</script>