﻿@model Fleet.ViewModels.TripOpen
@{
    ViewBag.Title = "TripSheet Cancellation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("TripSheetCancellationSubmit", "Exceptions", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                                <div class="col-md-6">
                            <div class="form-group">
                                    <label class="control-label col-md-4">TripSheet No.</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.WFVI.VSlipNo, new { placeholder = "TripSheet No", @class = "form-control required required2 VSlipNo" })
                                        @Html.Hidden("TripNo")
                                    </div>
                                </div>
                            </div>
                                <div class="col-md-6">
                            <div class="form-group">
                                    <label class="control-label col-md-4"> Cancel Remarks </label>
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(c => c.WFVI.Cancel_Remarks, new { placeholder = "Cancel Remarks", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-5 col-md-9">
                            <button type="submit" id="btnSubmit" class="btn btn-sm green "><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            $.validator.addMethod('checkDKTSTAXEditAvailability', function (value) {
                App.blockUI({ boxed: true });

                var StrURL = DomainName + "/Exceptions/Check_TripSheetNo_Status?VSlipNo=" + $("#WFVI_VSlipNo").val();
                // alert("hello " + StrURL);
                var result1 = $.ajax({
                    async: false,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: StrURL,
                    dataType: 'json',
                    data: {},
                });
                var d1 = JSON.parse(result1.responseText);
                $("#TripNo").val(d1.Status);

                if (d1.Status == "Done") {
                    $("#btnSubmit").attr("disabled", false);
                    App.unblockUI();
                    return true;
                }
                else {
                    $("#btnSubmit").attr("disabled", true);
                    App.unblockUI();
                    return false;
                }

            }, "");

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                //ignore: "",

                rules: {
                    'WFVI.VSlipNo': {
                        checkDKTSTAXEditAvailability: true,
                    },
                },
                messages: {
                    'WFVI.VSlipNo': {
                        checkDKTSTAXEditAvailability: function () {
                            return $("#TripNo").val()
                        }
                    },
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    if (form.valid() == false) {
                        return false;
                    }
                    App.blockUI({ boxed: true });
                    document.form["form_sample"].submit();

                }

            });
        }

        var Events = function (DomainName) {

            $("#btnSubmit").attr("disabled", true);

            $("#WFVI_Cancel_Remarks").change(function () {
                $("#btnSubmit").attr("disabled", false);
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                Events(DomainName);               
            }
        }
    }();
</script>