﻿@{
    ViewBag.Title = "TripSheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var VSlipNo = @ViewBag.VSlipNo;
}
<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>@ViewBag.Title Successfully Cancellation
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                TripSheet No
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@VSlipNo</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                <a href="@Url.Content("~/Exceptions/TripSheetCancellation")">Click here to Cancel More @ViewBag.Title</a>
            </span>
        </div>
    </div>
</div>
