﻿@model Fleet.ViewModels.BillEntryCancellation
@using FleetDataService.Models;
@using Fleet.Classes;
@{
    ViewBag.Title = "Update Bill Cancellation list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("BillEntryCancellationSubmit", "Exceptions", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
        {
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-reorder"></i>Update Cancellation Details
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3" style="text-align: left;">
                                Enter Bill Cancellation Date
                            </label>
                            <div class="col-md-4">
                                <div class="input-group input-medium date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="">
                                    @Html.TextBox("BillNo.BGNDT", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @readonly = "True" })
                                    <span class="input-group-btn">
                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" style="text-align: left;">
                                Cancellation Reason
                            </label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(c => c.BillNo.CancelRession, new { placeholder = "", @class = " form-control required required2" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="divList">
                    <div class="portlet box @ViewBag.TableBoxColor">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-list"></i>&nbsp;List Bills
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="form-body">
                                <table class="table table-striped table-bordered table-hover table-full-width" id="BiilList">

                                    <thead class="flip-content">
                                        <tr>
                                            <th class="center">
                                                Select
                                            </th>
                                            <th class="center">
                                                Bill No
                                            </th>
                                            <th class="center">
                                                Bill Date
                                            </th>
                                            <th class="center">
                                                Vendor
                                            </th>
                                            <th class="center">
                                                Bill Branch
                                            </th>
                                            <th class="center">
                                                Amount
                                            </th>
                                            <th class="center">
                                                Bill Type
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.BillNOList)
                                        {
                                            Html.RenderPartial("_BillEntryCancellation", item);
                                        }
                                    </tbody>
                                </table>
                                <div class="form-actions fluid">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-12">
                                            <a href="@Url.Content("~/Exceptions/BillCancellation")" class="btn btn-sm default controls blue"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
                                            <button type="submit" id="btnSubmit" class="btn blue"><i class="fa fa-search"></i>&nbsp;Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#submit_form');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);
            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                rules: {
                    //account dateFuture
                },
                messages: {
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

            });
        }
        var HandleDatetimePicker = function () {

            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }

        function max_date(all_dates) {

            var max_dt = all_dates[0],
                max_dtObj = new Date(all_dates[0]);

            all_dates.forEach(function (dt, index) {
                if (new Date(dt) > max_dtObj) {
                    max_dt = dt;
                    max_dtObj = new Date(dt);
                }
            });
            return max_dt;
        }


        var SubmitClick = function (DomainName) {
            $('#btnSubmit').click(function () {
             
                var DateArray = new Array();
                var VoucherDate1 = $("#BillNo_BGNDT").val();
                $('.CLSCHK').each(function () {
                    var checked1 = jQuery(this).is(":checked");
                    var ID = $(this).attr("id").replace("BillNumber_", "").replace("__IsChecked", "");
                    if (checked1) {
                        var VoucherDate = $("#BillNumber_" + ID + "__BILLDT").val();
                        DateArray.push(new Date(VoucherDate));
                    }
                });

                var VDate1 = max_date(DateArray);
                VDate1 = (new Date(VDate1).getMonth() + 1) + '/' + new Date(VDate1).getDate() + '/' + new Date(VDate1).getFullYear();
                VoucherDate1 = (new Date(VoucherDate1).getMonth() + 1) + '/' + new Date(VoucherDate1).getDate() + '/' + new Date(VoucherDate1).getFullYear();
                VDate1 = new Date(VDate1);
                VoucherDate1 = new Date(VoucherDate1);
                if (VDate1 > VoucherDate1) {//compare end <=, not >=
                    alert("Bill Date Not Proper..!!!");
                    $("#BillNo_BGNDT").val("");
                    return false;
                }
                var form = $('#submit_form');
                if (form.valid() == false) {
                    return false;
                }
                App.blockUI({ boxed: true });
                document.forms["submit_form"].submit();
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                HandleDatetimePicker();
                Formvalidate(DomainName);
                SubmitClick(DomainName);
                $('#btnSubmit').hide();
                $('#BillNo_BGNDT').val("");
                $('.CLSCHK').click(function () {
                    totchk = 0;
                    var itemIndex = $(this).attr('id').split('_')[1];
                    var checked = jQuery(this).is(":checked");
                    $('.CLSCHK').each(function () {
                        var checked1 = jQuery(this).is(":checked");
                        if (checked1)
                            totchk++;
                        if (totchk == 0)
                            $('#btnSubmit').hide();
                        else
                            $('#btnSubmit').show();
                    });
                });
                //$("#btnSubmit").click(function () {

                //    $("#btnSubmit:input").attr("disabled", "false");
                //    $("#submit_form").submit();
                //});
            }
        };
    }();
</script>