﻿@{
    ViewBag.Title = "Vendor Code Change Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var THCNo = @ViewBag.THCNo;
    var PDCNo = @ViewBag.PDCNo;

}

@if (@ViewBag.TranXaction == "Done")
{

    <div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-check"></i>Changed Vendor Code for Following THC
                </div>
            </div>
            <div class="portlet-body">
                <div class="margin-top-10 margin-bottom-10 clearfix">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Document No
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @if (THCNo != null || THCNo != "")
                                {
                                    <td>
                                        <b>@THCNo</b>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <b>@PDCNo</b>
                                    </td>
                                }

                            </tr>
                        </tbody>
                    </table>
                </div>
                <span class="label label-danger">
                    NOTE!
                </span>&nbsp;
                <span>
                    <a href="@Url.Content("~/Exceptions/VendorCodeChange")" class="controls">&nbsp;Click Hear To Change More Vendor Code</a>

                </span>
            </div>
        </div>
    </div>

}
else
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-danger fade in center">
            <h2 class="alert-heading">Opps! Changed Balance Location @ViewBag.TranXaction</h2>
            <h4>
                There is some issue with process. <br />Please check your internet connection else contact your administrator or service provider.
                @if (ViewBag.DocType == "THC")
                {
                    <br /><br /><b> @ViewBag.THCNo</b>
                }
                else
                {
                  <br /><br /><b> @ViewBag.PDCNo</b>  
                }
            </h4>
        </div>
    </div>
}
