﻿@model Fleet.ViewModels.BalanceLocationChangeViewModel
@using FleetDataService.Models;
@using Fleet.Classes;
@{
    ViewBag.Title = @Model.DocType + " list for Balance Location Change";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("BalanceLocationChangeSubmit", "Exceptions", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontalrow-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            @Html.HiddenFor(c => c.DocType)
                            <table class="table table-striped table-bordered table-hover table-full-width">
                                <thead class="flip-content">
                                    <tr>

                                        <th class="center">
                                            Select
                                        </th>
                                        <th class="center">
                                            New Adv. Location
                                        </th>
                                        <th class="center">
                                            New Bal. Location
                                        </th>
                                        <th class="center">
                                            THC No.
                                        </th>
                                        <th class="center">
                                            THC Date
                                        </th>
                                        <th class="center">
                                            Vehicle No.
                                        </th>
                                        <th class="center">
                                            Vendor Code - Name
                                        </th>
                                        <th class="center">
                                            THC Amount
                                        </th>
                                        <th class="center">
                                            Current Adv. Location
                                        </th>
                                        <th class="center">
                                            Current Bal. Location
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="MRTable">
                                    @foreach (var item in Model.WVHList)
                                    {
                                        Html.RenderPartial("_BalanceLocationChange", item);
                                    }
                                </tbody>
                            </table>
                            <div class="form-actions fluid">
                                <div class="row">
                                    <div class="col-md-offset-5 col-md-7">
                                        <a href="@Url.Content("~/Exceptions/BalanceLocationChange")" class="btn btn-sm default btnBack"><i class=" fa fa-arrow-left"></i>&nbsp;Back To Criteria</a>
                                        <button type="submit" id="btnSubmit1" class="btn btn-sm blue"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Events = function (DomainName) {

            $('#btnSubmit').click(function () {
                App.blockUI({ boxed: true });
                $('#form_sample').submit();
            });

            $('.btnBack').click(function () {
                App.blockUI({ boxed: true });
            });
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                //  Formvalidate(DomainName);
                Events(DomainName);
                //handleDateRangePickers();
                $('#btnSubmit1').hide();
                JsonDDL('NBLocation', DomainName + '/Master/GetLocationListJson');
                JsonDDL('NALocation', DomainName + '/Master/GetLocationListJson');
                $('.CLSCHK').click(function () {
                    totchk = 0;
                    var itemIndex = $(this).attr('id').split('_')[1];
                    var checked = jQuery(this).is(":checked");
                    $('.CLSCHK').live("click", function () {
                        var id = $(this).attr('id').replace("BALANCE_", "").replace("__IsChecked", "");
                        var checked = jQuery(this).is(":checked");
                        if (checked) {
                            $("#BALANCE_" + id + "__NBLocation").prop("disabled", false);
                            if ($("#BALANCE_" + id + "__IsAdvanceDone").val() != "Y") {
                                $("#BALANCE_" + id + "__NALocation").prop("disabled", false);
                            }
                        }
                        else {
                            $("#BALANCE_" + id + "__NBLocation").prop("disabled", true);
                            $("#BALANCE_" + id + "__NALocation").prop("disabled", true);
                        }
                    });
                    $('.CLSCHK').each(function () {
                        var checked1 = jQuery(this).is(":checked");
                        if (checked1)
                            totchk++;
                        if (totchk == 0)
                            $('#btnSubmit1').hide();
                        else
                            $('#btnSubmit1').show();
                    });
                });

            }
        }
    }();
</script>
