﻿@model Fleet.ViewModels.BalanceLocationChangeViewModel
@using FleetDataService.Models;
@using Fleet.Classes;
@{
    ViewBag.Title = "Vendor Code Change";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using (Html.BeginForm("VendorCodeChangeSubmit", "Exceptions", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>THC-PDC list for Vendor Change
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <table class="table table-striped table-bordered table-hover table-full-width">

                                <thead class="flip-content">
                                    <tr>
                                        <th class="center">
                                            #
                                        </th>
                                        <th class="center">
                                            Vendor Code and Name
                                        </th>
                                        @if (ViewBag.THCNo == "THC")
                                        {
                                            <th class="center">
                                                THCNo
                                            </th>
                                            <th class="center">
                                                THC Date
                                            </th>
                                            <th class="center">
                                                THC Amount
                                            </th>
                                        }
                                        else
                                        {
                                            <th class="center">
                                                PDCNo
                                            </th>
                                            <th class="center">
                                                PDC Date
                                            </th>
                                            <th class="center">
                                                PDC Amount
                                            </th>
                                        }

                                        <th class="center">
                                            Vehicle No
                                        </th>
                                        <th class="center">
                                            Vendor Code
                                        </th>
                                        <th class="center">
                                            Vendor Name
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="MRTable">
                                    @foreach (var item in Model.WVHList)
                                    {
                                        Html.RenderPartial("_VendorCodeChange", item);
                                    }
                                </tbody>
                            </table>
                            @Html.HiddenFor(m => m.DocType)
                            @Html.HiddenFor(m => m.WVHM.NewVENDORCODENAME)
                            @Html.HiddenFor(m => m.WVHM.vendornameText)
                            <div class="form-actions fluid">
                                <div class="row">
                                    <div class="col-md-offset-4 col-md-8">
                                        <a href="@Url.Content("~/Exceptions/VendorCodeChange")" class="btn btn-sm default"><i class=" fa fa-arrow-left"></i>&nbsp;Back To Criteria</a>
                                        <button type="button" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Events = function (DomainName) {

            $('#btnSubmit').click(function () {
                if (!$('#form_sample').valid())
                {
                    return false;
                }
                App.blockUI({ boxed: true });
                $('#form_sample').submit();
            });


        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                var itemIndex = $("#sample_ven input.iHidden").length + 1;
                Events(DomainName);
                handleDateRangePickers();
                $('#btnSubmit').attr("disabled", true);

                $('.CLSCHK').click(function () {
                    totchk = 0;
                    if ($(this).is(":checked")) {
                        $('#' + $(this).attr('id').replace('IsChecked', 'VENDORCODE')).addClass('required required2');
                    }
                    else {
                        $('#' + $(this).attr('id').replace('IsChecked', 'VENDORCODE')).removeClass('required required2');
                    }
                    var checked = jQuery(this).is(":checked");
                    $('.CLSCHK').each(function () {
                        var checked1 = jQuery(this).is(":checked");
                        if (checked1)
                            totchk++;
                        if (totchk == 0)
                            $('#btnSubmit').attr("disabled", true);
                        else
                            $('#btnSubmit').removeAttr("disabled");
                    });
                });
                JsonDDL('vendorcodename ', DomainName + '/Master/SearchVendorListJson/', true);

                $(".vendorcodename").each(function () {
                    var ID = $(this).attr('id').replace("s2id_", "");
                    var Name = $(this).attr('id').replace("VENDORCODE", "VENDORNAME");
                    $("#" + ID).select2("data", { id: $("#" + ID).val(), text: $("#" + Name).val() });
                });
            }
        }
    }();
</script>
