﻿@model Fleet.ViewModels.VoucherCancellation
@using FleetDataService.Models
@using Fleet.Classes
@using System.Data;
@{
    ViewBag.Title = "Voucher Cancellation";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Text = "Submit";

    var startDate = System.DateTime.Now;
    var enddate = ViewBag.FinYearEndDate;
}

@using (Html.BeginForm("VoucherCancellationSubmit", "Exceptions", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal", @readonly = "true" }))
{
    <div class="row">
        <div class="col-md-8">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-body ">
                        <div class="form-group">
                            <label class="control-label col-md-2" style="text-align: left;">
                                Cancel Reason
                            </label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(m => m.WAIM.cancel, new { placeholder = " Cancel Reason", @class = "form-control required2 required " })
                            </div>
                        </div>
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-4">Voucher No.</th>
                                    <th class="col-md-3">Voucher Date</th>
                                    <th class="col-md-4">Cancellation Date</th>
                                    <th class="center">X</th>
                                </tr>
                            </thead>
                            <tbody id="Voucher">
                                @foreach (var item in Model.ListWAIM)
                                {
                                    Html.RenderPartial("_VoucherCancellationAddRow", item);
                                }
                            </tbody>
                        </table>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-9">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="btnAddFlightDetail" class="btn green pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8 form-actions ">
        <div class="col-md-offset-4 col-md-6">
            @*<a href="@Url.Content("~/")" class="btn bg-red">&nbsp;Back </a>*@
            <a href="@Url.Content("~/Exceptions/VoucherCancellation")" class="btn btn-sm default controls">&nbsp;Reset </a>
            <button type="submit" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i>&nbsp;@Text </button>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);


            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {

                },
                messages: {
                    //'GRNNo': {
                    //    VoucherAvailability: function () {
                    //        $("#GRNNo").val("")
                    //        return $("#VoucherError").val()
                    //    }
                    //},

                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    error.insertAfter(element); // for other inputs, just perform default behavior
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    for (var i = 0; i < validator.errorList.length; i++) {
                        console.log(validator.errorList[i]);
                    }

                    //validator.errorMap is an object mapping input names -> error messages
                    for (var i in validator.errorMap) {
                        console.log(i, ":", validator.errorMap[i]);
                    }
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.forms['form_sample'].submit();
                }
            });
        }

        var AddVoucherInfo = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Exceptions/ADDVoucherCancellation?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#Voucher").append(html);
                    App.unblockUI();
                    $('#VoucherList_' + itemIndex + '__CDate').hide();
                    $('#CDate_' + itemIndex).hide();
                    $("#VoucherList_" + itemIndex + "__IsChecked").click(function () {
                        var checked = jQuery(this).is(":checked");
                        // alert(checked)

                        if (checked) {
                            $('#VoucherList_' + itemIndex + '__CDate').show();
                            $('.chk_Vocher').show();
                            $('#CDate_' + itemIndex).show();
                            var startDate1 = '@startDate';
                            var enddate1 = '@enddate';
                            handleDateTimePicker_ddmmyyyy("VoucherList_" + itemIndex + "__CDate", startDate1, enddate1);
                        }
                        else {
                            $('#VoucherList_' + itemIndex + '__CDate').hide();
                            $('#CDate_' + itemIndex).hide();
                            // $('.chk_Vocher').hide();
                        }
                    });

                    $("#VoucherList_" + itemIndex + "__VoucherNo").focusout(function () {
                        if ($("#VoucherList_" + itemIndex + "__VoucherNo").val().trim() != "") {
                            $(this).rules("add", {
                                VoucherAvailability: true,
                            });
                        }
                    });




                    //$('#VoucherList_' + itemIndex + '__VoucherNo').change(function () {
                    //    var SerchGroup = $(this).val();
                    //    var strUrl = DomainName + '/Exceptions/GetVocherDate_NameJson?SerchGroup=' + SerchGroup;
                    //    $.ajax({
                    //        url: strUrl,
                    //        cache: false,
                    //        data: {},
                    //        type: 'POST',
                    //        success: function (Data) {
                    //            var location = JSON.stringify(Data);
                    //            $('#VoucherList_' + itemIndex + '__VDate').val(Data);
                    //        },
                    //        error: function (req, status, error) {
                    //            TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                    //        }
                    //    });
                    //});


                    duplicateDDLCheck(DomainName);

                    $("input[type=checkbox], input:radio, input:file").uniform();

                    if (jQuery().datepicker) {
                        $('.date-picker').datepicker({
                            rtl: App.isRTL(),
                            format: "dd M yyyy",
                            autoclose: true
                        });
                        $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
                    }

                    $("a.deleteRow").live("click", function () {
                        $(this).parents("tr.editorRow:first").remove();
                        return false;
                    });
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }

        var duplicateDDLCheck = function (DomainName) {
            $(".clsChkDuplicate").change(function () {
                var currId = $(this).attr('id').split("_")[1];
                var currval = $(this).val();
                var Voucherno = $('#VoucherList_' + currId + '__VoucherNo').val();

                $(".clsChkDuplicate").each(function () {

                    var otherId = $(this).attr('id').split("_")[1];
                    var otherval = $(this).val();
                    var Voucherno1 = $('#VoucherList_' + otherId + '__VoucherNo').val();
                    if (currId != otherId && Voucherno == Voucherno1) {
                        $('#VoucherList_' + otherId + '__VoucherNo').val('');
                        $('#VoucherList_' + otherId + '__VoucherNo').focus();
                        TosterNotification("error", "Message !! Oppssss cannot select Duplicate Value........", "Message");
                        return false;
                    }
                });
            });

        }


        return {
            init: function (DomainName) {
                Formvalidate(DomainName);
                var Valid_Voucher_Message = "";

                $(".clsVoucher").live("change", function () {

                    var Id = $(this).attr('id').replace("VoucherNo", "");
                    var Val = $(this).val();

                    if ($(this).val() != "") {
                        var strUrl = DomainName + '/Exceptions/Valid_Vocher_No?VoucherNo=' + Val;
                        var result1 = $.ajax({
                            async: false,
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            url: strUrl,
                            dataType: 'json',
                            data: {},
                        });

                        var d1 = JSON.parse(result1.responseText);
                        var res = d1.Status;
                        var date = d1.Date;
                    }

                    if (res != 'Done') {
                        $.validator.addMethod('VoucherAvailability', function (value, element) {
                            $("#" + Id + "VDate").val("");
                            return false;
                        }, "" + res);
                    }
                    else {
                        $.validator.addMethod('VoucherAvailability', function (value, element) {
                            $("#" + Id + "VDate").val(date);
                            return true;
                        }, res);
                    }
                });

                //if ($(this).val() != "") {
                //    var strUrl = DomainName + '/Exceptions/Valid_Vocher_No?VoucherNo=' + Val;
                //    var result1 = $.ajax({
                //        async: false,
                //        type: 'POST',
                //        contentType: 'application/json; charset=utf-8',
                //        url: strUrl,
                //        dataType: 'json',
                //        data: {},
                //    });

                //    var d1 = JSON.parse(result1.responseText);
                //    var res = Valid_Voucher_Message.split("-");
                //    //$("#VoucherList_" + intId + "__VoucherError").val(d1.Status);

                //    if (res[0].replace(" ", "") == "Done") {
                //        alert("Done");
                //        return true;
                //    }
                //    else {
                //        alert(res[0]);
                //        $("#" + Id + "VoucherError").val(res[0]);
                //        //$(element).val("")
                //        alrt("hiiii-" + Valid_Voucher_Message);
                //        return false;
                //    }
                //}




                var itemIndex = $("#sample_ven input.iHidden").length + 1;

                AddVoucherInfo(DomainName, itemIndex);


                $("#btnAddFlightDetail").live('click', function () {
                    itemIndex = $("#sample_ven input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddVoucherInfo(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });


                $("#btnSubmit").click(function () {


                    $("#form_sample").submit();
                });

            }
        }
    }();
</script>