﻿@model Fleet.Models.CYGNUS_Branch_Expenses_EntryHDR
@using Fleet.Helpers
@{
    var Text = "";
    if (Model.Approve_Account_Type == 1)
    {
        Text = "Payment";
    }
    else
    {
        Text = "Approve";
    }
}

@using (Html.BeginCollectionItem("CPEEApprov", Model.ID.ToString()))
{
    <tr>
        <td>
            <label>
                @Html.CheckBoxFor(m => m.IsChecked, new { @class = " form-control CLSCHKCKED", @data_id = Model.ID })
            </label>
            <span>Select</span>
            @*@Html.RadioButtonFor(m => m.CheckBox, new { @class = "clsApprovaCheck"})*@
            @Html.HiddenFor(m => m.BillNo)
            @Html.HiddenFor(m => m.ID)
            @Html.HiddenFor(m => m.Bill_Status)
            @Html.HiddenFor(m => m.Bill_Status_ID)


        </td>
        <td>
            @Model.BillNo
        </td>
        <td>
            @Model.BR_Date.ToString("dd MMM yyyy")
        </td>
        <td>
            @Model.EmpName
        </td>
        <td>
            @Text
        </td>
    </tr>
}