﻿@model Fleet.Models.CYGNUS_Branch_Expenses_EntryHDR
@using Fleet.Helpers
@{
    var Text = "";
    if (Model.Approve_Account_Type == 1)
    {
        Text = "Payment";
    }
    else
    {
        Text = "Approve";
    }
}

@using (Html.BeginCollectionItem("CPEEApprov", Model.ID.ToString()))
{
    <tr>
        <td class="center">
            <label>
                <input type="radio" name="optionsRadios2" class="IsSelectd" id="@Model.ID" value="P" />
            </label>

            @*<span>Select</span>*@
            @*@Html.RadioButtonFor(m => m.CheckBox, new { @class = "clsApprovaCheck"})*@
            @Html.HiddenFor(m => m.BillNo)
            @Html.HiddenFor(m => m.ID)
            @Html.HiddenFor(m => m.EmpCode)
            @Html.HiddenFor(m => m.Brcd)
        </td>
        <td class="center">
            @Model.BillNo
        </td>
        <td class="center">
            @Model.EmpCode : @Model.EmpName
        </td>
        <td class="center">
            @Text
        </td>
    </tr>
}