﻿@model Fleet.Models.CYGNUS_Branch_Travelling_Tour_DET
@using Fleet.Helpers
@using FleetDataService.Models
@using Fleet.ViewModels;
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_location> ListLocation = MS.GetLocationDetails();
    List<Webx_Master_General> ListMonths = MS.GetGeneralMasterObject().Where(C => C.CodeType == "MONTH").ToList();
    List<Webx_Master_General> ListROUTE = MS.GetGeneralMasterObject().Where(C => C.CodeType == "ROUTE").ToList();
    Model.SubExpense_Type = "BO_LO";
    decimal AmountPassed = 0;
    decimal Amount_Rejected = 0;

    objDate DateOfCheckIn = new objDate();
    DateOfCheckIn.ControlId = "DateOfCheckIn";
    DateOfCheckIn.ControlValue = Model.DateOfCheckIn.ToString();
    DateOfCheckIn.ModuleCode = "23";

    objDate DateOfCheckOut = new objDate();
    DateOfCheckOut.ControlId = "DateOfCheckOut";
    DateOfCheckOut.ControlValue = Model.DateOfCheckOut.ToString();
    DateOfCheckOut.ModuleCode = "23";
    
    if (ViewBag.SubType == 2)
    {
        AmountPassed = Model.Amount;
        Amount_Rejected = Model.Amount;
    }
    else
    {
        AmountPassed = Model.Amount_Passed;
        Amount_Rejected = Model.Amount_Rejected;
    }
}
<tr class="editorRow">
    @using (Html.BeginCollectionItem("Bo_Lo_DET", Model.ID.ToString()))
    {
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.SubExpense_Type)

        <td class=" form-group">
            @Html.TextBoxFor(m => m.Name_Of_City, new { placeholder = "Name Of City", @class = "form-control required required2 clsApproval_Rejection" })
        </td>
        <td class=" form-group">
            @Html.TextBoxFor(m => m.Grade_Of_City, new { placeholder = "Grade Of City", @class = "form-control required required2 clsApproval_Rejection" })
        </td>
        <td class=" form-group">
            @Html.TextBoxFor(m => m.Name_Of_Hotel, new { placeholder = "Name Of Hotel", @class = "form-control required required2 clsApproval_Rejection" })
        </td>
        <td class=" form-group">
            @*<div class="input-group date datetime-picker " data-date-format="dd MMM yyyy hh:mm tt">
                @Html.TextBox("DateOfCheckIn", String.Format("{0:dd MMM yyyy hh:mm tt }", Convert.ToDateTime(Model.DateOfCheckIn).ToString("dd MMM yyyy hh:mm tt")), new { @class = "form-control clsApproval_Rejection clsDateOfCheckIn", @readonly = "True", @style = "padding-right: 0px;" })
                <span class="input-group-btn">
                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                </span>
            </div>*@
            @{
        Html.RenderPartial("../UserControls/_DocumentDate", DateOfCheckIn);
            }
        </td>
        <td class=" form-group">
            @*<div class="input-group date datetime-picker " data-date-format="dd MMM yyyy hh:mm tt">
                @Html.TextBox("DateOfCheckOut", String.Format("{0:dd MMM yyyy hh:mm tt }", Convert.ToDateTime(Model.DateOfCheckOut).ToString("dd MMM yyyy hh:mm tt")), new { @class = "form-control clsApproval_Rejection clsDateOfCheckOut", @readonly = "True", @style = "padding-right: 0px;" })
                <span class="input-group-btn">
                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                </span>
            </div>*@
            @{
        Html.RenderPartial("../UserControls/_DocumentDate", DateOfCheckOut);
            }
        </td>
        <td class=" form-group">
            @Html.TextBoxFor(m => m.DaysOfStay, new { placeholder = "Distance", @class = "form-control required required2 clsApproval_Rejection", @number = "true", @readonly = "true" })
        </td>
        <td class=" form-group">
            @Html.TextBoxFor(c => c.Amount, new
       {
           @class = "form-control Bo_LoclsAmount clsAmount required required2 clsApproval_Rejection", @*@min = "1",*@ @number = "true",
           @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))"
       })
        </td>
        if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
        {
            <td class=" form-group">
                @Html.TextBoxFor(c => c.Amount_Passed, new { @class = "form-control Bo_Lo_clsAmount_Passed clsAmount_Passed required required2", @max = @Model.Amount, @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td class=" form-group">
                @Html.TextBoxFor(c => c.Amount_Rejected, new { @class = "form-control Bo_Lo_clsAmount_Rejected clsAmount_Rejected required required2", @max = @Model.Amount, @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td class=" form-group">
                @Html.TextAreaFor(c => c.Reason_For_Rejection, new { @class = "form-control " })
            </td>
        }
        <td class="form-group col-md-2">
            @if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
            {
                if (@Model.Image != "")
                {
                    <a href="~/Images/Travelling_Tour/@Model.Image" target="_blank" class="btn default fileinput-exists">
                        View File
                    </a>
                }
                else
                {
                    <div>No Image</div>
                }
            }
            else
            {
                <div data-title="Upload Document">
                    <div class="fileinput fileinput-new " id="divfileupload_@Model.ID" data-provides="fileinput">
                        <div class="fileinput-new thumbnail col-md-3">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail col-md-3">
                        </div>
                        <span class="btn default btn-file">
                            <span class="fileinput-new">
                                Select File
                            </span>
                            <span class="fileinput-exists">
                                Change File
                            </span>
                            <input type="file" id="Bo_Lo_@Model.ID" name="Bo_Lo_@Model.ID" class="default">
                        </span><br />
                        <a href="#" class="btn default fileinput-exists" data-dismiss="fileinput" style="margin-top:5px">
                            Remove File
                        </a>
                    </div>
                </div>
            }
        </td>
        if (ViewBag.SubType == 1)
        {
            <td class=" form-group">
                <a class="deleteRow">
                    <img src="~/assets/img/Delete_Icon.png" style="width: 25px;" />
                </a>
            </td>
        }
    }
</tr>