﻿@model Fleet.Models.CYGNUS_Branch_Expance
@using Fleet.Helpers
@using Fleet.Models;
@using FleetDataService.Models;
@{

}
<tr class="editorRow">
    @using (Html.BeginCollectionItem("AssectList", (Model.ExpanceType).ToString()))
    {
        <td class="center" style="">
            <b> @Html.DisplayFor(c => c.ExpanceTypeName)</b>
        </td>
        if (Model.type == 1 || Model.type == 2)
        {
           
        }
        else
        {
            <td class="center">
                @Html.DisplayFor(c => c.CountBR)
            </td>
            <td class="center">
                @Html.DisplayFor(c => c.SumAmt)
            </td>
        }

        <td class="center">
            @Html.DisplayFor(c => c.CountPendingApp)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.SumPendingApp)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.CountPendingPaid)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.SumPendingPaid)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.CountBR)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.SumAmt)
        </td>

        @*if (Model.type == 2)
        {
            <td>
                <a class="btn btn-sm green controls" href="#">&nbsp;Approve</a>
            </td>
        }
        else if (Model.type == 3)
        {
            <td>
                <a class="btn btn-sm green controls" href="#">&nbsp;Payment</a>
            </td>
        }*@
    }
</tr>