﻿@model Fleet.Models.CYGNUS_BR_Advance_Entry
@using Fleet.Helpers
@using FleetDataService.Models

<tr class="editorRow">
    @using (Html.BeginCollectionItem("BR_Adv", Model.ID.ToString()))
    {
        @Html.HiddenFor(m => m.ID)
        <td class="center">@Model.PayMode</td>
        <td class="center">@Model.Advance_Paid_Code : @Model.Advance_Paid_Name </td>
        <td class="center">@Model.VoucherNo</td>
        <td class="center">@Model.Advance_Amount</td>
        
        @Html.HiddenFor(c => c.Advance_Amount, new { @class = "ClsAdvAmount" })
        @Html.HiddenFor(c => c.DocumentNo)
        @Html.HiddenFor(c => c.VoucherNo)
        @Html.HiddenFor(c => c.Advance_Paid_Code)
        @Html.HiddenFor(c => c.Advance_Paid_Name)
        @Html.HiddenFor(c => c.Against_Ledger)
        @Html.HiddenFor(c => c.Selected_Ledger)
        @Html.HiddenFor(c => c.Reverse_Accode)
    }
</tr>
