﻿@model Fleet.ViewModels.TeaExpBranchUserWise
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models

<div class="row">
    <div class="col-md-6">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>List of Branch Wise User
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    <div class="row">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center"><b>User Name</b></th>
                                    <th class="center"><b>Amount</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListCPEE_HDR)
                                {
                                    @Html.Partial("_BranchWiseUser", item);
                                    @Html.HiddenFor(m => m.BRCD)
                                }
                            </tbody>
                        </table>
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-8">
                                    <button type="submit" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i>&nbsp; Submit</button>
                                    <a href="@Url.Content("~/BranchAccounting/TeaExpenseBranchUserWise")" class="btn btn-sm default controls">&nbsp;Back To Mapping Other Branch </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
 