﻿@model Fleet.Models.CYGNUS_Branch_Accounting_Master
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    var RadioIsAvailable = "BAEM_" + Model.ID.ToString() + "__IsAvailable";
    FleetDataService.BranchAccountingService BA = new FleetDataService.BranchAccountingService();

    List<webx_acctinfo> List_Accode = BA.GetAccountCodeList_Expence_FromSearch();

}

@using (Html.BeginCollectionItem("BAEM", Model.ID.ToString()))
{
    <tr class="editorRow">
        <td class="col-md-4 ">
            @Model.ChargeName
            @Html.HiddenFor(m => m.ChargeName)
            @Html.HiddenFor(m => m.ID)
            @Html.HiddenFor(m => m.SrNo)
        </td>
        <td class="col-md-2 form-group">
            @Html.TextBoxFor(c => c.MaxAmt, new { @class = "form-control", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        <td class="col-md-2 form-group">
            @Html.DropDownListFor(c => c.Accode, new SelectList(List_Accode, "Acccode", "Accdesc", Model.Accode), "", new { @class = "form-control select2 clsAccode" })
        </td>
        <td class="col-md-3 form-group">
            @Html.TextAreaFor(c => c.Narration, new { @class = "form-control" })
        </td>
        <td class="col-md-3">
            @Html.CheckBoxFor(c => c.IsActive, new { @class = "form-control clsActive" })
            @*<a class="deleteRow">
                <img src="~/assets/img/Delete_Icon.png" style="width: 25px;" />
            </a>*@
        </td>
    </tr>
}
