﻿@model Fleet.ViewModels.ExpensesEntryModule
@using FleetDataService.Models;
@{
    FleetDataService.OperationService CSOPN = new FleetDataService.OperationService();
    List<webx_acctinfo> ListTDSSection = CSOPN.GetTDSSectionList_NewPortal(ViewBag.BaseLocatioCode, ViewBag.BaseUserName, "TDS");
}

<div class="row">
    <div class="col-md-6">
        <h4 class="block form-section col-md-12 center">
            @Html.CheckBoxFor(m => m.WAD.IsServicetaxapply, new { @class = "" }) Plz Check Here to Enable Service Tax
            <label class="control-label col-md-6">
                ADD Service Tax(+)
            </label>
        </h4>

        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label col-md-4">Amount Applicable  </label>
                <div class="col-md-6">
                    @Html.TextBoxFor(c => c.WAD.AmountApplicable, new { @class = "required required2 form-control", @readonly = "true", @type = "number" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label col-md-4">Service Tax (+)  </label>
                <div class="col-md-6">
                    @Html.TextBoxFor(c => c.WAD.ServiceTax, new { @class = "form-control", @readonly = "true", @number = "true" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label col-md-4">Education Cess (+)</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(c => c.WAD.EducationCess, new { @class = "form-control", @readonly = "true", @number = "true" })
                    @Html.HiddenFor(m => m.WAD.ServiceTaxRate)
                    @Html.HiddenFor(m => m.HdnEduCessRate)
                    @Html.HiddenFor(m => m.HdnHEduCessRate)
                    @Html.HiddenFor(m => m.HdnServiceTaxRate)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label col-md-4">High Education Cess (+)</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(c => c.WAD.HEducationCess, new { @class = "form-control", @readonly = "true", @type = "number" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label col-md-4">Service Tax Reg No.  </label>
                <div class="col-md-6">
                    @Html.TextBoxFor(c => c.WAD.ServiceTaxRegNo, new { @class = "form-control", @placeholder = "AAAAA0000AAA000", @maxlength = 15 })
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-6">
        <h4 class="block form-section col-md-10 center">
            @Html.CheckBoxFor(m => m.WAD.IsTDStaxapply) Plz Check Here to Enable TDS
            <label class="control-label col-md-6">
                LESS TDS (-)
            </label>
        </h4>

        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label col-md-4">Amount Applicable</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(c => c.WAD.AmountApplicableForTDS, new { @class = "form-control", @readonly = "true", @type = "number" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label col-md-4">TDS Section</label>
                <div class="col-md-6">
                    @Html.DropDownListFor(m => m.WAD.TDSSection, new SelectList(ListTDSSection, "Acccode", "Accdesc"), "", new { @class = "form-control select2", @readonly = "true" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label col-md-4">TDS Rate</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(c => c.WAD.TDSRate, new { @class = "form-control", @readonly = true, @type = "number" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label col-md-4">TDS Amount (-)</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(c => c.WAD.TDSAmount, new { @class = "form-control", @readonly = true, @type = "number" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label col-md-4">Pan Number.</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(c => c.WAD.PANNumber, new { @class = "form-control", @placeholder = "AAAAA0000A", @maxlength = 15 })
                </div>
            </div>
        </div>
    </div>
</div>