﻿@model Fleet.Models.CYGNUS_Tea_Expense_Master
@using Fleet.Helpers
@using FleetDataService.Models;
@using Fleet.ViewModels;


<tr class="editorRow">
    @using (Html.BeginCollectionItem("CPEEDET",Model.UserId.ToString()))
    {   
        @Html.HiddenFor(m => m.ID)

        <td class="center  form-group">
            @Html.TextBoxFor(c => c.Name, new { @class = "form-control required required2 ", @placeholder = "User Name",@readonly=true})
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.Name)
        </td>
        <td class="center  form-group">
            @Html.TextBoxFor(c => c.Amount, new { @class = "form-control required required2 ", @placeholder = "Amount",@number=true })
        </td>
    }

</tr>
