﻿@model Fleet.ViewModels.ExpensesEntryModule

@if (Model.SubType == 1)
{
    <div class="col-md-offset-5 col-md-7">
        <button type="button" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i> Submit</button>
    </div>
}
else if (Model.SubType == 2)
{
    <div class="col-md-offset-5 col-md-7" id="Approv_Reject">
        @if (Model.ExpanceType == 2)
        {
            <a class="btn btn-sm default controls" href="@Url.Action("ConveyanceExpenseApprovalReject", "BranchAccounting", new { TYP = 1 })"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
        }
        else
        {
            <a class="btn btn-sm default controls" href="~/BranchAccounting/BRCDAcc_APP_RejectCriteria"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
        }
        <button type="button" id="btnRejectAtHO" class="btn btn-sm red"><i class="fa fa-times"></i> Rejected at HO</button>
        <button type="button" id="btnAuthorizeAtHo" class="btn btn-sm green left"><i class="fa fa-check"></i> Authorized at HO</button>
    </div>
}
else if (Model.SubType == 3)
{
    <div class="col-md-offset-5 col-md-7">
        @if (Model.ExpanceType == 2)
        {
            <a class="btn btn-sm default controls" href="@Url.Action("ConveyanceExpenseApprovalReject", "BranchAccounting", new { TYP = 2 })"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
        }
        else
        {
            <a class="btn btn-sm default controls" href="~/BranchAccounting/BRCDAcc_Payment_Criteria"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
        }
        <button type="button" id="btnApprovSubmit" class="btn btn-sm green"><i class="fa fa-check"></i> Submit</button>
    </div>
}
else if (Model.SubType == 4)
{
    <div class="col-md-offset-5 col-md-7" id="Approv_Reject">
        <button type="button" id="btnBranchRejectAtHO" class="btn btn-sm red"><i class="fa fa-times"></i> Reject By Destination</button>
        <button type="button" id="btnBranchAuthorizeAtHo" class="btn btn-sm green left"><i class="fa fa-check"></i> Approved By Destination</button>
    </div>
}
