﻿@model Fleet.Models.CYGNUS_Branch_Travelling_Tour_DET
@using Fleet.Helpers
@using FleetDataService.Models
@using Fleet.ViewModels;
@{
    Model.SubExpense_Type = "CONVEYANCE";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_location> ListLocation = MS.GetLocationDetails();
    List<webx_citymaster> ListCity = MS.GetCityMasterObject();
    List<Webx_Master_General> ListROUTE = MS.GetGeneralMasterObject().Where(C => C.CodeType == "CONVEYANCELOCAL" && C.StatusCode == "Y"&& C.CodeId != "12").ToList();

    decimal AmountPassed = 0;
    decimal Amount_Rejected = 0;

    objDate OD = new objDate();
    OD.ControlId = "Date";
    OD.ControlValue = Model.Date.ToString();
    OD.ModuleCode = "23";
    
    if (ViewBag.SubType == 2)
    {
        AmountPassed = Model.Amount;
        Amount_Rejected = Model.Amount;
    }
    else
    {
        AmountPassed = Model.Amount_Passed;
        Amount_Rejected = Model.Amount_Rejected;
    }
}
<tr class="editorRow">
    @using (Html.BeginCollectionItem("ConveyanceDET", Model.ID.ToString()))
    {
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.SubExpense_Type)

        <td class=" form-group">
            @*<div class="input-group date date-picker">
                @Html.TextBox("Date", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.Date).ToString("dd MMM yyyy")), new { @class = "form-control clsApproval_Rejection", @readonly = "True", @style = "padding-right: 0px;" })
                <span class="input-group-btn">
                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                </span>
            </div>*@
            @{
        Html.RenderPartial("../UserControls/_DocumentDate", OD);
            }


        </td>
        <td class="form-group">
            @Html.TextBoxFor(m => m.LocationFrom, new { placeholder = "Location From", @class = "form-control required required2 clsApproval_Rejection" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(m => m.LocationTo, new { placeholder = "Location To", @class = "form-control required required2 clsApproval_Rejection" })
        </td>
        <td class="form-group" colspan="2">
            @Html.DropDownListFor(m => m.TravellingMode, new SelectList(ListROUTE, "CodeId", "CodeDesc", ""), "", new { @class = "form-control select2 required required2 clsApproval_Rejection" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(m => m.Distance, new { placeholder = "Distance", @class = "form-control required required2 clsApproval_Rejection", @number = "true" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.Amount, new{
           @class = "form-control ConveyanceclsAmount clsAmount required required2 clsApproval_Rejection", @*@min = "1",*@ @number = "true",
           @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))"
       })
        </td>

        if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
        {
            <td class=" form-group">
                @Html.TextBoxFor(c => c.Amount_Passed, new { @class = "form-control ConveyanceclsAmount_Passed clsAmount_Passed required required2", @man = @Model.Amount, @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td class=" form-group">
                @Html.TextBoxFor(c => c.Amount_Rejected, new { @class = "form-control ConveyanceclsAmount_Rejected clsAmount_Rejected required required2", @max = @Model.Amount, @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td class=" form-group">
                @Html.TextAreaFor(c => c.Reason_For_Rejection, new { @class = "form-control " })
            </td>
        }
        <td class="form-group col-md-2">
            @if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
            {
                if (@Model.Image != "")
                {
                    <a href="~/Images/Travelling_Tour/@Model.Image" target="_blank" class="btn default fileinput-exists">
                        View File
                    </a>
                }
                else
                {
                    <div>No Image</div>
                }
            }
            else
            {
                <div data-title="Upload Document">
                    <div class="fileinput fileinput-new " id="divfileupload_@Model.ID" data-provides="fileinput">
                        <div class="fileinput-new thumbnail col-md-3">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail col-md-3">
                        </div>
                        <span class="btn default btn-file">
                            <span class="fileinput-new">
                                Select File
                            </span>
                            <span class="fileinput-exists">
                                Change File
                            </span>
                            <input type="file" id="conveyancefiles_@Model.ID" name="conveyancefiles_@Model.ID" class="default" >
                        </span><br />
                        <a href="#" class="btn default fileinput-exists" data-dismiss="fileinput" style="margin-top:5px">
                            Remove File
                        </a>
                    </div>
                </div>
            }
        </td>

        if (ViewBag.SubType == 1)
        {
            <td class=" form-group">
                <a class="deleteRow">
                    <img src="~/assets/img/Delete_Icon.png" style="width: 25px;" />
                </a>
            </td>
        }
    }
</tr>