﻿@model FleetDataService.Models.CYGNUS_Conveyance_Expance_Master
@using Fleet.Helpers
@using FleetDataService.Models
@using FleetDataService
@{
    MasterService MS = new MasterService();
    var KeysValues = new string[] { "9", "10", "11"};
    List<Webx_Master_General> ListROUTE = new List<Webx_Master_General>();
    ListROUTE = MS.GetGeneralMasterObject().Where(c => c.CodeType == "CONVEYANCELOCAL" && KeysValues.Contains(c.CodeId)).ToList();
}

<tr class="editorRow">
    @using (Html.BeginCollectionItem("ListConveyance", Model.ID.ToString()))
    {
        <td class="col-md-2 form-group">
            @Html.DropDownListFor(m => m.Travel_Mode, new SelectList(ListROUTE, "CodeId", "CodeDesc", ""), "", new { @class = "select2 form-control required required2 ClsXYZ clsTravel_Mode", @placeholder = "SELECT MODE OF TRAVEL" })
        </td>
        <td class="col-md-1 form-group">
            @Html.TextBoxFor(m => m.Rate_Per_KM, new { placeholder = "Rate Per", @class = "required required2 form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>
        <td class="col-md-1 center">
            @if (Model.ID != 1)
            {
                <a class="deleteRow">
                    <img src="~/assets/img/Delete_Icon.png" style="width: 25px;cursor:pointer;" title="Delete" />
                </a>
            }
        </td>
    }
</tr>