﻿@model Fleet.Models.CYGNUS_Conveyance_Expense_DET
@using Fleet.Helpers
@using FleetDataService.Models;
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> ListROUTE = MS.GetGeneralMasterObject().Where(C => C.CodeType == "CONVEYANCELOCAL" && C.StatusCode == "Y" && C.CodeId != "13").ToList();
    List<SelectListItem> BlankList = new List<SelectListItem>();

    if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
    {
        List<Webx_Master_General> ListFromDT = MS.GetGeneralMasterObject().Where(c => c.CodeType == Model.OppNonOpp_Type && c.StatusCode == "Y").OrderBy(c => c.CodeId).ToList();
        foreach (Webx_Master_General tc in ListFromDT)
        {
            BlankList.Add(new SelectListItem { Text = tc.CodeDesc.ToString(), Value = tc.CodeId.ToString() });
        }
    }
}

<tr class="editorRow">
    @using (Html.BeginCollectionItem("CPEEDET", Model.ID.ToString()))
    {
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.Employee)
        if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
        {
            <td class="center form-group  ">
                @Html.HiddenFor(c => c.BillNo)
                @Html.DisplayFor(c => c.BillNo)
            </td>
        }
        <td class="center form-group col-md-1">
            <div class="input-group date date-pickerDate" id="date" data-date-format="dd MMM yyyy">
                @Html.TextBox("Date", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.Date).ToString("dd MMM yyyy")), new { @class = "form-control clsApproval_Rejection clsDates", @readonly = "True", @style = "padding-right: 0px;" })
                <span class="input-group-btn">
                </span>
            </div>
        </td>

        <td class="center  form-group">
            @Html.TextBoxFor(c => c.Client_Party_Name_Visiting_Place, new { @class = "form-control clsApproval_Rejection", @placeholder = "Client Name /Party Name /Visiting Place", @onkeypress = "javascript:return ValidateAlpha(event,this.getAttribute('id'))" })
        </td>
        <td class="center  form-group">
            @Html.TextBoxFor(c => c.Contract_Person, new { @class = "form-control clsApproval_Rejection ", @placeholder = "Contact Person", @onkeypress = "javascript:return ValidateAlpha(event,this.getAttribute('id'))" })
        </td>
        <td class="center  form-group">
            @Html.TextBoxFor(c => c.Contract_Num_Concerned, new { @class = "form-control clsApproval_Rejection", @number = "true", @placeholder = "Contact No. of Concerned" })
        </td>
        <td class="form-group">
            @Html.DropDownListFor(m => m.Reason_Purpose_Visting, new SelectList(BlankList, "Value", "Text", Model.Reason_Purpose_Visting), "", new { @class = "select2 form-control required required2 oppNonOppReason clsApproval_Rejection ", @placeholder = "Select Reason" })
        </td>
        <td class="center  form-group">
            @Html.TextBoxFor(c => c.DocumentNo, new { @class = "form-control clsApproval_Rejection clsDocumentNo", @placeholder = "Document No.", checkDocumentNo = true })
        </td>
        <td class="center  form-group">
            @Html.DropDownListFor(m => m.Travel_Mode, new SelectList(ListROUTE, "CodeId", "CodeDesc", ""), "", new { @class = "select2 form-control required required2 clsApproval_Rejection clsTravelMode", @placeholder = "Select Travelling Mode" })
            @Html.HiddenFor(m => m.Travel_Mode_Rate)
        </td>
        <td class="center  form-group">
            @Html.TextBoxFor(c => c.MFrom, new { @class = "form-control clsFromLoacation clsApproval_Rejection", @placeholder = "From Loc." })
        </td>
        <td class="center  form-group">
            @Html.TextBoxFor(c => c.MTo, new { @class = "form-control clsToLoacation clsApproval_Rejection", @placeholder = "To Loc." })
        </td>
        <td class="center  form-group">
            @Html.TextBoxFor(c => c.Opening, new { @class = "form-control  clsApproval_Rejection", @placeholder = "Opening", @number = "true" })
        </td>
        <td class="center  form-group">
            @Html.TextBoxFor(c => c.Closing, new { @class = "form-control clsApproval_Rejection ", @number = "true", @placeholder = "Closing" })
        </td>
        <td class="center  form-group">
            @Html.TextBoxFor(c => c.Distance_Covered, new { @class = "form-control clsApproval_Rejection clsDistanceCovered", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @placeholder = "Distance Covered(Kms.)" })
        </td>
        <td class="center  form-group">
            @Html.TextBoxFor(c => c.Amount, new { @class = "form-control clsAmount clsApproval_Rejection", @min = "0", @number = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @placeholder = "Amount" })
        </td>

        <td data-title="Upload Document" style="width:250px;height:50px;">
            @if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
            {
                @*<a href="~/Images/ConveyanceExpenseImages/@Model.ConveyanceExp_Image" target="_blank" class="btn default fileinput-exists">
                        View File
                    </a>*@

                if (@Model.ConveyanceExp_Image != "")
                {
                    <a href="~/Images/ConveyanceExpenseImages/@Model.ConveyanceExp_Image" target="_blank" class="btn default fileinput-exists">
                        View File
                    </a>
                }
                else
                {
                    <div>No Image</div>
                }
            }
            else
            {

                <div class="fileinput fileinput-new  col-md-9" id="divfileupload_@Model.ID" data-provides="fileinput">
                    <input type="hidden" value="@Model.ConveyanceExp_Image" name="files">
                    <div class="fileinput-new thumbnail imgDefault col-md-6 center" style="max-width: 120px; max-height: 115px; line-height: 10px;">
                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail imgExists col-md-6" style="max-width: 120px; max-height: 115px; line-height: 10px;">
                        <img src="~/Images/ConveyanceExpenseImages/@Model.ConveyanceExp_Image" alt="">
                    </div>
                    <div class="col-md-3" style="width: 50px;height:50px;">
                        <span class="btn default btn-file">
                            <span class="fileinput-new clsFileCheck">
                                Select File
                            </span>
                            <span class="fileinput-exists clsFileCheck">
                                Change File
                            </span>
                            <input type="file" id="@Model.ID" name="Conve_@Model.ID" class="default required">
                        </span><br>
                        <a href="#" class="btn default fileinput-exists" data-dismiss="fileinput" style="margin-top:5px">
                            Remove File
                        </a>
                    </div>
                </div>
            }
        </td>

        if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
        {
            <td class="center  form-group">
                @Html.TextBoxFor(c => c.Amount_Passed, new { @class = "form-control clsAmount_Passed", @min = "0", @max = Model.Amount, @number = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
            </td>
            <td class="center  form-group">
                @Html.TextBoxFor(c => c.Amount_Rejected, new { @class = "form-control clsAmount_Rejected", @min = "0", @readonly = "true", @number = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
            </td>
            <td class="center  form-group">
                @Html.TextAreaFor(c => c.Reason_For_Rejection, new { @class = "form-control", @placeholder = "Reason for Rejection" })
            </td>
        }

        <td class="center  form-group center">
            @if (Model.ID != 1)
            {
                <a class="deleteRow" style="width: 25px;cursor:pointer;color:maroon;" title="Delete"><b>X</b></a>
            }
        </td>
    }
</tr>
