﻿@model Fleet.Models.CYGNUS_Detention_Expense_DET
@using Fleet.Helpers
@using FleetDataService.Models
@using System.Globalization;

@{
    FleetDataService.FleetService FS = new FleetDataService.FleetService();
    List<webx_VEHICLE_HDR> ListVEHICLE = FS.Get_Vehicles_List("");

    if (ViewBag.SubType != 1)
    {
        var From = Model.Date_From.ToString("dd MMM yyyy") + " " + Convert.ToString(Model.Time_From);
        var To = Model.Date_To.ToString("dd MMM yyyy") + " " + Convert.ToString(Model.Time_To);
        Model.Date_From = Convert.ToDateTime(From);
        Model.Date_To = Convert.ToDateTime(To);
    }
}

@using (Html.BeginCollectionItem("CPEEDET", Model.ID.ToString()))
{
    var FromID = "CPEEDET_" + Model.ID.ToString() + "__FromID";
    var ToID = "CPEEDET_" + Model.ID.ToString() + "__ToID";

    <tr>
        <td class=" form-group">
            @Html.DropDownListFor(m => m.Vehicle_Number, new SelectList(ListVEHICLE, "VEHNO", "VEHNO"), "", new { @class = "form-control select2 required required2 clsVehicle_Number" })
            @Html.HiddenFor(m => m.ID)
            @Html.HiddenFor(m => m.Time_From)
            @Html.HiddenFor(m => m.Time_To)
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.Date_From, new { @class = "form-control", @readonly = true })
            <div style="color:red"><b id="@FromID"></b> </div>
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.Date_To, new { @class = "form-control", @readonly = true })
            <div style="color:red"><b id="@ToID"></b> </div>
        </td>
        <td class=" form-group">
            @Html.TextBoxFor(c => c.TripSheetNo, new { @class = "form-control ", @readonly = true })
        </td>
        <td class=" form-group">
            @Html.TextBoxFor(c => c.Party_Location_Name, new { @class = "form-control", @readonly = true })
        </td>
        <td class=" form-group">
            @Html.TextBoxFor(c => c.GPS_KM, new { @class = "form-control", @number = "true" })
        </td>
        <td class=" form-group">
            @Html.TextBoxFor(c => c.Number_Of_Days, new { @class = "form-control", @readonly = true })
        </td>
        <td class=" form-group">
            @Html.TextBoxFor(c => c.Detension_Day, new { @class = "form-control", @min = "0", @number = "true", @max = Model.Number_Of_Days, @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        <td class=" form-group">
            @Html.TextBoxFor(c => c.Rate_Per_Day, new { @class = "form-control", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        <td class=" form-group">
            @Html.TextBoxFor(c => c.Amount, new { @class = "form-control clsAmount required required2", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))", @readonly = true })
        </td>
        @if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
        {
            <td class=" form-group">
                @Html.TextBoxFor(c => c.Amount_Passed, new { @class = "form-control clsAmount_Passed detention_clsAmount_Passed required required2", @max = Model.Amount, @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td class=" form-group">
                @Html.TextBoxFor(c => c.Amount_Rejected, new { @class = "form-control clsAmount_Rejected required required2", @min = "0", @number = "true", @readonly = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td class=" form-group">
                @Html.TextAreaFor(c => c.Reason_For_Rejection, new { @class = "form-control" })
            </td>
        }
    </tr>
}
