﻿@model Fleet.Models.CYGNUS_DriverIncentiveTSP_Expense_Master
@using Fleet.ViewModel
@using Fleet.Helpers
@using FleetDataService.Models;
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_Vehicle_Type> ListVehicleSize = MS.GetVehicleTypeList();

}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Id, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("CPM", Model.Id.ToString()))
    {
        @Html.HiddenFor(m => m.Id)
        <td class="center">
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = " form-control CLSCHKCKED", @data_id = Model.Id })
        </td>
        <td class="form-group center">
            @Html.TextBoxFor(c => c.Route, new { @class = "form-control required required2 clsRoutemultiple ", @placeholder = "Route",@readonly=true })
        </td>
        <td class="form-group center">
            @Html.TextBoxFor(c => c.DistanceKm, new { @class = "form-control required required2  ", @placeholder = "Distance KM", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @readonly = true })
        </td>
        <td class="form-group center">
            @Html.TextBoxFor(c => c.VehicleType, new { @class = "form-control required required2 ", @placeholder = "Vehicle Type", @readonly = true })
        </td>
        <td class="form-group center">
            @Html.TextBoxFor(c => c.Runninghoursinclhalting1stprize, new { @class = "form-control required required2 clshorsamt ", @placeholder = "RUNNING HOUR (INCL HALTING)", @readonly = true })
        </td>
        <td class="form-group center">
            @Html.TextBoxFor(c => c.IncentiveINCLNormalIncentiveSpecial, new { @class = "form-control required required2 clshorsamt ", @placeholder = "INCENTIVE (INCL NORMAL INCENTIVE+ SPECIAL)", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @readonly = true })
        </td>
        <td class="form-group center">
            @Html.TextBoxFor(c => c.Runninghoursinclhalting2secondprize, new { @class = "form-control required required2 clshorsamt", @placeholder = "RUNNING HOUR (INCL HALTING)", @readonly = true })
        </td>
        <td class="form-group center">
            @Html.TextBoxFor(c => c.IncentiveAMT, new { @class = "form-control required required2 clshorsamt ", @placeholder = "INCENTIVE AMT", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @readonly = true })
        </td>
        <td class="form-group center">
            @Html.TextBoxFor(c => c.PenaltyPerHRDeductionFromthc, new { @class = "form-control required required2 ", @placeholder = "PENALTY (PER HR DEDUCTION FROM THC)", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @readonly = true })
        </td>
        <td class="center">
            <a class="deleteRow" style="cursor:pointer;">
                <img src="~/assets/img/Delete_Icon.png" style="width: 25px;" title="Delete" />
            </a>
        </td>
    }
</tr>


