﻿@model Fleet.Models.CYGNUS_Branch_Expenses_EntryHDR
@using Fleet.Helpers
@{
    var Text = "";
    if (Model.Approve_Account_Type == 1)
    {
        Text = "Payment";
    }
    else
    {
        Text = "Approve";
    }
}

@using (Html.BeginCollectionItem("CPEEApprov", Model.ID.ToString()))
{
    <tr>
        <td>
            <label>
                <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="@Model.ID" value="P" />
            </label>
        </td>
        <td>
            @Model.BillNo
        </td>
        <td>
            @Text
        </td>
    </tr>
}