﻿@model Fleet.Models.CYGNUS_DriverIncentiveTSP_Expense_DET
@using Fleet.Helpers
@{
    var abc = (Model.MFrom + "_" + Model.MTo);
    Model.Route = abc;
}

@using (Html.BeginCollectionItem("CPEEDET", Model.ID.ToString()))
{
    <tr>
        @if (ViewBag.SubType == 1)
        {
            <td>
                <label>
                    <input type="radio" name="optionsRadios2" id="@Model.ID" value="P" />
                </label>

                @Html.HiddenFor(m => m.CheckBox, new { @class = "clsCheckBox" })
            </td>
        }
        <td class="form-group">
            @Model.ManifestNumber
            @Html.HiddenFor(m => m.ManifestNumber)
            @Html.HiddenFor(m => m.ID)
            @Html.HiddenFor(m => m.Driver_Id)
            @Html.HiddenFor(m => m.Route)
           
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.Weight, new { @class = "form-control clsWeight clsApproval_Rejection", @placeholder = "WEIGHT", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.MFrom, new { @class = "form-control clsApproval_Rejection", @placeholder = "FROM", @readonly = "true" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.MTo, new { @class = "form-control clsApproval_Rejection", @placeholder = "TO", @readonly = "true" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.Distance, new { @class = "form-control clsApproval_Rejection ", @placeholder = "DISTANCE" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.GoogleDistance, new { @class = "form-control  clsApproval_Rejection", @placeholder = "GOOGLE DISTANCE" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.Hours_AsPer_Erp, new { @class = "form-control  clsApproval_Rejection clshours", @placeholder = "HOURS AS PER ERP", @readonly = true })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.GoogleHours, new { @class = "form-control clsApproval_Rejection", @placeholder = "GOOGLE HOURS", @readonly = "true", @Style = "width:120px" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.Name_Of_Driver, new { @class = "form-control clsApproval_Rejection", @placeholder = "NAME OF DRIVER", @readonly = true })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.Driver_Contract_Number, new { @class = "form-control clsApproval_Rejection", @readonly = "true", @placeholder = "DRIVER CONTRACT NUMBER" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.One_ST_Prize, new { @class = "form-control clsApproval_Rejection ", @placeholder = "ONE ST PRIZE",@readonly=true })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.One_ST_Prize_Amount_Hours, new { @class = "form-control clsOne_ST_Prize_Amount_Hours clsApproval_Rejection ", @placeholder = "ONE ST PRIZE AMOUNT HOURS", @readonly = true })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.Second_ST_Prize, new { @class = "form-control clsApproval_Rejection ", @placeholder = "SECOND ST PRIZE", @readonly = true })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.Second_ST_Prize_Amount_Hours, new { @class = "form-control clsSecond_ST_Prize_Amount_Hours clsApproval_Rejection ", @placeholder = "SECOND ST PRIZE AMOUNT HOURS", @readonly = true })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.Third_ST_Prize, new { @class = "form-control clsApproval_Rejection ", @placeholder = "THIRD ST PRIZE", @readonly = true })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.Third_ST_Prize_Amount_Hours, new { @class = "form-control clsThird_ST_Prize_Amount_Hours clsApproval_Rejection ", @placeholder = "THIRD ST PRIZE AMOUNT HOURS", @readonly = true })
        </td>
        @if (ViewBag.SubType != 1)
        {
            <td class="form-group">
                @Html.TextBoxFor(c => c.Hours_Per_Dest_BRCD, new { @class = "form-control  clsApproval_Rejection_Destion", @max = Model.Third_ST_Prize_Amount_Hours, @placeholder = "HOURS PER DEST BRCD" })
            </td>
            <td class="form-group">
                @Html.TextBoxFor(c => c.AmountPaid_Per_Branch, new { @class = "form-control clsAmountPaid_Per_Branch  clsApproval_Rejection_Destion", @max = Model.One_ST_Prize, @number = "true", @placeholder = "AMOUNT PAID PER BRANCH" })
            </td>
        }
        @if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
        {
            <td class="form-group">
                @Html.TextBoxFor(c => c.Amount_Passed, new { @class = "form-control clsAmount_Passed", @placeholder = "AMOUNT PASSED", @min = "0", @max = Model.AmountPaid_Per_Branch, @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td class="form-group">
                @Html.TextBoxFor(c => c.Amount_Rejected, new { @class = "form-control clsAmount_Rejected", @placeholder = "AMOUNT REJECTED", @min = "0", @max = Model.AmountPaid_Per_Branch, @readonly = "true", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td class="form-group">
                @Html.TextAreaFor(c => c.Reason_For_Rejection, new { @class = "form-control", @placeholder = "REASON FOR REJECTION" })
            </td>
        }
    </tr>
}
