﻿@model Fleet.ViewModels.ExpensesEntryModule
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    var Text = "";
    if (Model.Approve_Account_Type == 1)
    {
        Text = "Payment";
    }
    else
    {
        Text = "Approve";
    }
}

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Check Box</th>
            <th class="center"><b>BAENumber</b></th>
            <th class="center"><b>@Text</b></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListCPEE_HDR)
        {
            @Html.Partial("_DriverIncetiveApproval_Partial", item);
        }
    </tbody>
</table>