﻿@model Fleet.Models.CYGNUS_Elect_Office_Godown_Details
@using Fleet.Helpers

<tr class="editorRow">
    @using (Html.BeginCollectionItem("ListCEOGD", Model.ID.ToString()))
    {
        <td class="col-md-2 form-group">
            @Html.TextBoxFor(m => m.Address, new { placeholder = "ADDRESS", @class = "form-control required required2" })
        </td>
        <td class="col-md-2 form-group">
            @Html.TextAreaFor(m => m.Name_Of_Land_Lord, new { placeholder = "NAME OF LAND LORD", @class = "required required2 form-control" })
        </td>
        <td class="col-md-2 form-group">
            @Html.TextBoxFor(m => m.Bank_Account_No, new { placeholder = "BANK ACCOUNT NO", @class = "required required2 form-control" })
        </td>
        <td class="col-md-2 form-group">
            @Html.TextBoxFor(m => m.IFSC_Code, new { placeholder = "IFSC CODE", @class = "required required2 form-control" })
        </td>
        <td class="col-md-1 form-group">
            @Html.TextBoxFor(m => m.Total_Area_in_sq_ft, new { placeholder = "TOTAL AREA IN SQ FT", @class = "required required2 form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>
        <td class="col-md-1 form-group">
            @Html.TextBoxFor(m => m.Number_of_Rooms, new { placeholder = "NUMBER OF ROOMS", @class = "required required2 form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>
        <td class="col-md-1 form-group">
            @Html.TextBoxFor(m => m.RateAsPer_Agreement, new { placeholder = "RATE AS PER AGREEMENT", @class = "required required2 form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>
        <td class="col-md-1 form-group">
            @Html.TextBoxFor(c => c.Computers, new { placeholder = "COMPUTERS", @number = "true", @min = "0", @class = "form-control required required2" })
        </td>
        <td class="col-md-1 form-group">
            @Html.TextBoxFor(c => c.Printers, new { placeholder = "PRINTERS", @number = "true", @min = "0", @class = "form-control required required2" })
        </td>
        <td class="col-md-1 form-group">
            @Html.TextBoxFor(c => c.TubeLights, new { placeholder = "TUBELIGHTS", @number = "true", @min = "0", @class = "form-control required required2" })
        </td>
        <td class="col-md-1 form-group">
            @Html.TextBoxFor(c => c.Bulbs, new { placeholder = "BULBS", @number = "true", @min = "0", @class = "form-control required required2" })
        </td>
        <td class="col-md-1 form-group">
            @Html.TextBoxFor(c => c.CFLs, new { placeholder = "CFLS", @number = "true", @min = "0", @class = "form-control required required2" })
        </td>
        <td class="col-md-1 form-group">
            @Html.TextBoxFor(c => c.Others, new { placeholder = "OTHERS", @number = "true", @min = "0", @class = "form-control required required2" })
        </td>
        <td class="col-md-1 form-group">
            @Html.TextBoxFor(c => c.Reading, new { placeholder = "Reading", @number = "true", @min = "0", @class = "form-control required required2" })
        </td>
        <td class="col-md-1 center">
            <a class="deleteRow">
                <img src="~/assets/img/Delete_Icon.png" style="width: 25px;cursor:pointer;" title="Delete" />
            </a>
        </td>
    }
</tr>