﻿@model Fleet.Models.CYGNUS_Branch_Electricity_Expenses_DET
@using Fleet.Helpers
@using FleetDataService.Models
@using Fleet.ViewModels;
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    FleetDataService.BranchAccountingService BAS = new FleetDataService.BranchAccountingService();
    List<webx_location> ListLocation = MS.GetLocationDetails();
    List<Webx_Master_General> ListMonths = new List<Webx_Master_General>();

    List<Fleet.Models.CYGNUS_Elect_Office_Godown_Details> List = new List<Fleet.Models.CYGNUS_Elect_Office_Godown_Details>();
    if (ViewBag.BaseLocationCode != "HQTR" && ViewBag.SubType == 1)
    {
        List = BAS.Get_ElectriCity_Address(ViewBag.BaseLocationCode, User.Identity.Name, ViewBag.BaseLocationCode);
    }
    else
    {
        List = BAS.Get_ElectriCity_Address(Model.Location, User.Identity.Name, ViewBag.BaseLocationCode);
    }

    if (ViewBag.BaseLocationCode != "HQTR" && ViewBag.SubType == 1)
    {
        Model.Location = ViewBag.BaseLocationCode;
    }
    decimal Limit = 0, AmountPassed = 0, Amount_Rejected = 0;
    if (ViewBag.SubType == 3 || ViewBag.SubType == 2)
    {
        Limit = Model.PreviousReading;
        ListMonths = BAS.Get_Month(Model.Location, ViewBag.BaseUserName, ViewBag.BaseFinYear, 0, 0, 0, 0, 1);
    }
    else if (ViewBag.SubType == 1)
    {
        Limit = Model.CurrentReading;
        ListMonths = BAS.Get_Month(ViewBag.BaseLocationCode, ViewBag.BaseUserName, ViewBag.BaseFinYear, 0, 0, 0, 0, 0);
    }

    if (ViewBag.SubType == 2)
    {
        AmountPassed = Model.Total_Amount;
        Amount_Rejected = Model.Total_Amount;
    }
    else
    {
        AmountPassed = Model.Amount_Passed;
        Amount_Rejected = Model.Amount_Rejected;
    }

}

@using (Html.BeginCollectionItem("CPEEDET", Model.ID.ToString()))
{
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4 form-group">
                <label class="control-label col-md-4">Name Of Land Lord</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(c => c.Name_Of_Land_Lord, new { placeholder = "NAME OF LAND LORD", @class = "form-control required required2 clsApproval_Rejection", @readonly = "true" })
                    @Html.HiddenFor(m => m.Month_Year)
                    @Html.HiddenFor(m => m.Bill_Year)
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label col-md-4">Land Lord Acct. No</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(c => c.Land_Lord_Bank_Account_No, new { placeholder = "LAND LORD ACCT. NO", @class = "form-control clsApproval_Rejection", @readonly = "true" })
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label col-md-4">Land Lord Ifsc Code.</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(c => c.Land_Lord_IFSC_Code, new { placeholder = "LAND LORD IFSC CODE", @class = "form-control clsApproval_Rejection", @readonly = "true" })
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-4 form-group">
                <label class="control-label col-md-4">Location</label>
                <div class="col-md-8">
                    @Html.HiddenFor(m => m.ID)
                    @if (ViewBag.BaseLocationCode == "HQTR" && ViewBag.SubType == 1)
                    {
                        @Html.DropDownListFor(c => c.Location, new SelectList(ListLocation, "LocCode", "LocCode"), "", new { @class = "form-control select2 required2 required" })
                    }
                    else
                    {
                        @Html.TextBoxFor(c => c.Location, new { @class = "form-control required2 required", @readonly = "true" })
                    }
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label col-md-4">Address</label>
                <div class="col-md-8">
                    @Html.DropDownListFor(c => c.Address, new SelectList(List, "Text", "Text"), "", new { @class = "form-control select2 required2 required clsApproval_Rejection", @placeholder = "ADDRESS" })
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label col-md-4">Bill No.</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(c => c.RefBillNo, new { @class = "form-control clsApproval_Rejection", @placeholder = "BILL NO " })
                </div>
            </div>
        </div>
        <div class="col-md-12" data-title="Upload Document">
            @if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
            {
                <a href="~/Images/ElectriCityBillImages/@Model.ElectriCity_BillImage" target="_blank" class="btn default fileinput-exists">
                    View File
                </a>
            }
            else
            {
                <div class="col-md-4 form-group">
                    <label class="control-label col-md-4">UPLOAD IMAGE</label>
                    <div class="col-md-8">
                        <div class="fileinput fileinput-new  col-md-9" id="divfileupload_@Model.ID" data-provides="fileinput">
                            <input type="hidden" value="@Model.ElectriCity_BillImage" name="files">
                            <div class="fileinput-new thumbnail imgDefault col-md-6 center" style="max-width: 120px; max-height: 115px; line-height: 10px;">
                                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail imgExists col-md-6" style="max-width: 120px; max-height: 115px; line-height: 10px;">
                                <img src="~/Images/ElectriCityBillImages/@Model.ElectriCity_BillImage" alt="">
                            </div>
                            <div class="col-md-3" style="width: 50px;height:50px;">
                                <span class="btn default btn-file">
                                    <span class="fileinput-new imgDefault">
                                        Select File
                                    </span>
                                    <span class="fileinput-exists imgExists">
                                        Change File
                                    </span>
                                    <input type="file" id="@Model.ID" name="files" class="default required">
                                </span><br>
                                <a href="#" class="btn default fileinput-exists imgExists" data-dismiss="fileinput" style="margin-top:5px">
                                    Remove File
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-12">
            <h5 class="block form-section"><b>Office Godwon Details</b></h5>
        </div>
        <div class="col-md-12">
            <div class="col-md-4 form-group">
                <label class="control-label col-md-4">TOTAL AREA (IN SQ. FT.)</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(c => c.Total_Area_sqft, new { @class = "form-control clsApproval_Rejection", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label col-md-4">Number Of Rooms</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(c => c.NoOf_Rooms, new { @class = "form-control clsApproval_Rejection", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h5 class="block form-section"><b>Electric Equipments's/Gadgets</b></h5>
        </div>
        <div class="col-md-12">
            <div class="col-md-4 form-group">
                <label class="control-label col-md-4">Computers</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(c => c.Computers, new { @class = "form-control clsApproval_Rejection", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label col-md-4">Printers</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(c => c.Printers, new { @class = "form-control clsApproval_Rejection", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label col-md-4">Tublights</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(c => c.TubeLights, new { @class = "form-control clsApproval_Rejection", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4 form-group">
                <label class="control-label col-md-4">Bulbs</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(c => c.Bulbs, new { @class = "form-control clsApproval_Rejection", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label col-md-4">Cfl's</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(c => c.CFLs, new { @class = "form-control clsApproval_Rejection", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label col-md-4">Others</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(c => c.Others_Elec_Equip_Gadgets, new { @class = "form-control clsApproval_Rejection", @readonly = "true" })
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h5 class="block form-section"><b>Previous Details</b></h5>
        </div>
        <div class="col-md-12">
            <div class="col-md-4 form-group">
                <label class="control-label col-md-4">Previous Claimed AmountT</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(c => c.Previous_Claimed_Amount, new { @class = "form-control  clsApproval_Rejection", @min = "0", @readonly = "true", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label col-md-4">Previous Month When Claimed.</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(c => c.Previous_Month_When_Claimed, new { @class = "form-control  clsApproval_Rejection", @min = "0", @readonly = "true" })
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h5 class="block form-section"><b>Current Details</b></h5>
        </div>
        <div class="col-md-12">
            <div class="col-md-4 form-group">
                <label class="control-label col-md-4">Monts For Which Claim Being Made</label>
                <div class="col-md-8">
                    @Html.DropDownListFor(m => m.Month_For_Which_Claim_BeingMade, new SelectList(ListMonths, "CodeId", "CodeDesc", ""), "", new { @class = "form-control select2 required required2 clsApproval_Rejection" })
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label col-md-4">Previous Reading</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(c => c.PreviousReading, new { @class = "form-control clsPreviousReading clsApproval_Rejection", @readonly = "true", @min = Limit, @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label col-md-4">Current Reading</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(c => c.CurrentReading, new { @class = "form-control clsCurrentReading clsApproval_Rejection", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-4 form-group">
                <label class="control-label col-md-4">Unit Consumption</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(c => c.UnitConsumption, new { @class = "form-control  clsApproval_Rejection", @readonly = "true", @min = "1", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label col-md-4">Rate as Per Agreement Bill</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(c => c.RateAsPer_Agreement, new { @class = "form-control clsApproval_Rejection", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label col-md-4">Total Bill Amount</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(c => c.Total_Amount, new { @class = "form-control clsTotal_Amount clsApproval_Rejection", @number = "true" })
                </div>
            </div>
        </div>

        @if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
        {
            <div class="col-md-12">
                <h5 class="block form-section"><b>Approval Details</b></h5>
            </div>
            <div class="col-md-12">
                <div class="col-md-4 form-group">
                    <label class="control-label col-md-4">Amount Passed</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(c => c.Amount_Passed, new { @class = "form-control clsAmount_Passed", @max = AmountPassed, @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label col-md-4">Amount Rejected</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(c => c.Amount_Rejected, new { @class = "form-control clsAmount_Rejected", @min = "0", @max = Amount_Rejected, @readonly = "true", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label col-md-4">Reason For Rejected</label>
                    <div class="col-md-8">
                        @Html.TextAreaFor(c => c.Reason_For_Rejection, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        }
    </div>
}

@*<tr>
        @using (Html.BeginCollectionItem("CPEEDET", Model.ID.ToString()))
        {
            @Html.HiddenFor(m => m.ID)
            <td class="">
                @if (ViewBag.BaseLocationCode == "HQTR" && ViewBag.SubType == 1)
                {
                    @Html.DropDownListFor(c => c.Location, new SelectList(ListLocation, "LocCode", "LocCode"), "", new { @class = "form-control select2 required2 required" })
                }
                else
                {
                    @Html.TextBoxFor(c => c.Location, new { @class = "form-control", @readonly = "true" })
                }
            </td>
            <td>
                @Html.DropDownListFor(c => c.Address, new SelectList(List, "Text", "Text"), "", new { @class = "form-control select2 required2 required" })
            </td>
            <td>
                @Html.TextBoxFor(c => c.RefBillNo, new { @class = "form-control" })
            </td>
            <td>
                @Html.TextBoxFor(c => c.Total_Area_sqft, new { @class = "form-control", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td>
                @Html.TextBoxFor(c => c.NoOf_Rooms, new { @class = "form-control", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td>
                @Html.TextBoxFor(c => c.Computers, new { @class = "form-control", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td>
                @Html.TextBoxFor(c => c.Printers, new { @class = "form-control", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td>
                @Html.TextBoxFor(c => c.TubeLights, new { @class = "form-control", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td>
                @Html.TextBoxFor(c => c.Bulbs, new { @class = "form-control", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td>
                @Html.TextBoxFor(c => c.CFLs, new { @class = "form-control", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td>
                @Html.TextBoxFor(c => c.Others_Elec_Equip_Gadgets, new { @class = "form-control", @readonly = "true" })
            </td>
            <td>
                @Html.TextBoxFor(c => c.Previous_Claimed_Amount, new { @class = "form-control ", @min = "0", @readonly = "true", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td>
                @Html.TextBoxFor(c => c.Previous_Month_When_Claimed, new { @class = "form-control ", @min = "0", @readonly = "true", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td>
                @Html.DropDownListFor(m => m.Month_For_Which_Claim_BeingMade, new SelectList(ListMonths, "CodeId", "CodeDesc", ""), "", new { @class = "form-control select2 required required2" })
            </td>
            <td>
                @Html.TextBoxFor(c => c.PreviousReading, new { @class = "form-control clsPreviousReading", @readonly = "true", @min = Limit, @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td>
                @Html.TextBoxFor(c => c.CurrentReading, new { @class = "form-control clsCurrentReading", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td>
                @Html.TextBoxFor(c => c.UnitConsumption, new { @class = "form-control ", @readonly = "true", @min = "10", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td>
                @Html.TextBoxFor(c => c.RateAsPer_Agreement, new { @class = "form-control", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td>
                @Html.TextBoxFor(c => c.Total_Amount, new { @class = "form-control clsTotal_Amount", @number = "true" })
            </td>

            if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
            {
                <td>
                    @Html.TextBoxFor(c => c.Amount_Passed, new { @class = "form-control clsAmount_Passed", @max = AmountPassed, @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                </td>
                <td>
                    @Html.TextBoxFor(c => c.Amount_Rejected, new { @class = "form-control clsAmount_Rejected", @min = "0", @max = Amount_Rejected, @readonly = "true", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                </td>
                <td>
                    @Html.TextAreaFor(c => c.Reason_For_Rejection, new { @class = "form-control" })
                </td>
            }
        }
    </tr>*@
