﻿@model Fleet.Models.CYGNUS_Branch_Travelling_Tour_DET
@using Fleet.Helpers
@using FleetDataService.Models
@using Fleet.ViewModels;
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> ListROUTE = MS.GetGeneralMasterObject().Where(C => C.CodeType == "ROUTE").ToList();
    Model.SubExpense_Type = "FARE";
    List<SelectListItem> List_Fare_Class = new List<SelectListItem>();
    List<webx_citymaster> ListCity = MS.GetCityMasterObject();

    if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
    {
        if (Model.TravellingMode == "R")
        {
            List_Fare_Class = new List<SelectListItem>
                       {
                       new SelectListItem{Text="1st AC",Value="1st AC"},
                       new SelectListItem{Text="2st AC",Value="2st AC"},
                       new SelectListItem{Text="3st AC",Value="3st AC"},
                       new SelectListItem{Text="SLEEPAR CLASS",Value="SLEEPAR CLASS"},
                       new SelectListItem{Text="CHAIR CAR",Value="CHAIR CAR"},
                       new SelectListItem{Text="2nd SEETING",Value="2nd SEETING"},
                       };
        }
        else if (Model.TravellingMode == "S")
        {
            List_Fare_Class = new List<SelectListItem>
                       {
                       new SelectListItem{Text="GENERAL",Value="GENERAL"},
                       new SelectListItem{Text="AC",Value="AC"},
                       new SelectListItem{Text="TAXI",Value="TAXI"},
                       new SelectListItem{Text="BUS",Value="BUS"}
                       };

        }
        else if (Model.TravellingMode == "A")
        {
            List_Fare_Class = new List<SelectListItem>
                       {
                       new SelectListItem{Text="BUSINESS",Value="BUSINESS"},
                       new SelectListItem{Text="ECONOMY",Value="ECONOMY"},
                       };
        }
    }

    objDate Date = new objDate();
    Date.ControlId = "Date";
    Date.ControlValue = Model.Date.ToString();
    Date.ModuleCode = "23";
    
    decimal AmountPassed = 0;
    decimal Amount_Rejected = 0;
    if (ViewBag.SubType == 2)
    {
        AmountPassed = Model.Amount;
        Amount_Rejected = Model.Amount;
    }
    else
    {
        AmountPassed = Model.Amount_Passed;
        Amount_Rejected = Model.Amount_Rejected;
    }
}
<tr class="editorRow">
    @using (Html.BeginCollectionItem("FAREDET", Model.ID.ToString()))
    {
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.SubExpense_Type)

        <td class=" form-group">
            @*<div class="input-group date date-picker" data-date-format="dd MMM yyyy">
                @Html.TextBox("Date", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.Date).ToString("dd MMM yyyy")), new { @class = "form-control clsApproval_Rejection", @readonly = "True", @style = "padding-right: 0px;" })
                <span class="input-group-btn">
                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                </span>
            </div>*@
            @{
        Html.RenderPartial("../UserControls/_DocumentDate", Date);
            }

        </td>
        <td class=" form-group">
            @Html.DropDownListFor(m => m.LocationFrom, new SelectList(ListCity, "Location", "Location", ""), "", new { @class = "form-control select2 required required2 clsApproval_Rejection" })
        </td>
        <td class=" form-group">
            @Html.DropDownListFor(m => m.LocationTo, new SelectList(ListCity, "Location", "Location", ""), "", new { @class = "form-control select2 required required2 clsApproval_Rejection" })
        </td>
        <td class=" form-group" colspan="2">
            @Html.DropDownListFor(m => m.TravellingMode, new SelectList(ListROUTE, "CodeId", "CodeDesc", ""), "", new { @class = "form-control select2 required required2 clsFareTravellingMode clsApproval_Rejection" })
        </td>
        <td class=" form-group">
            @Html.DropDownListFor(m => m.Class, new SelectList(List_Fare_Class, "Value", "Text", ""), "", new { @class = "form-control select2 clsApproval_Rejection" })
        </td>
        <td class=" form-group">
            @Html.TextBoxFor(c => c.Amount, new
       {
           @class = "form-control FareclsAmount clsAmount required required2 clsApproval_Rejection", @*@min = "1",*@ @number = "true",
           @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))"
       })
        </td>
        if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
        {
            <td class=" form-group">
                @Html.TextBoxFor(c => c.Amount_Passed, new { @class = "form-control FareclsAmount_Passed clsAmount_Passed required required2", @max = @Model.Amount, @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td class=" form-group">
                @Html.TextBoxFor(c => c.Amount_Rejected, new { @class = "form-control FareclsAmount_Rejected clsAmount_Rejected required required2", @max = @Model.Amount, @min = "0", @readonly = "true", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td class=" form-group">
                @Html.TextAreaFor(c => c.Reason_For_Rejection, new { @class = "form-control " })
            </td>
        }

        <td class="form-group col-md-2">
            @if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
            {
                if (@Model.Image != "")
                {
                    <a href="~/Images/Travelling_Tour/@Model.Image" target="_blank" class="btn default fileinput-exists">
                        View File
                    </a>
                }
                else
                {
                    <div>No Image</div>
                }
            }
            else
            {
                <div data-title="Upload Document">
                    <div class="fileinput fileinput-new " id="divfileupload_@Model.ID" data-provides="fileinput">
                        <div class="fileinput-new thumbnail col-md-3">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail col-md-3">
                        </div>
                        <span class="btn default btn-file">
                            <span class="fileinput-new">
                                Select File
                            </span>
                            <span class="fileinput-exists">
                                Change File
                            </span>
                            <input type="file" id="fare_@Model.ID" name="fare_@Model.ID" class="default">
                        </span><br />
                        <a href="#" class="btn default fileinput-exists" data-dismiss="fileinput" style="margin-top:5px">
                            Remove File
                        </a>
                    </div>
                </div>
            }
        </td>

        if (ViewBag.SubType == 1)
        {
            <td class=" form-group">
                <a class="deleteRow">
                    <img src="~/assets/img/Delete_Icon.png" style="width: 25px;" />
                </a>
            </td>
        }
    }
</tr>
