﻿@model Fleet.Models.CYGNUS_Food_Expense_DET
@using Fleet.Helpers
@using Fleet.ViewModels;
@{
    objDate OD = new objDate();
    OD.ControlId = "Date";
    OD.ControlValue = Model.Date.ToString();
    OD.ModuleCode = "13";
}

<tr class="editorRow">

    @using (Html.BeginCollectionItem("CPEEDET", Model.ID.ToString()))
    {

        @Html.HiddenFor(m => m.ID)

        <td class=" form-group">
            @Html.TextBoxFor(c => c.Number_Of_Staff, new { @class = "form-control clsApproval_Rejection", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        <td class="col-md-1 form-group">
            <div class="input-group date date-picker" data-date-format="dd MMM yyyy">
                @Html.TextBox("Date", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.Date).ToString("dd MMM yyyy")), new { @class = "form-control clsApproval_Rejection", @readonly = "True", @style = "padding-right: 0px;" })
                <span class="input-group-btn">
                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            @*@{
                Html.RenderPartial("../UserControls/_DocumentDate", OD);
                    }*@
        </td>
        <td class=" form-group">
            @Html.TextBoxFor(c => c.Staff_Member_Name, new { @class = "form-control clsApproval_Rejection" })
        </td>
        <td class=" form-group">
            @Html.TextAreaFor(c => c.Reason, new { @class = "form-control clsApproval_Rejection" })
        </td>
        <td class=" form-group">
            @Html.TextBoxFor(c => c.Concerning_Docket_PRS_DRS_THC_No, new { @class = "form-control clsApproval_Rejection" })
        </td>
        <td class=" form-group">
            @Html.TextBoxFor(c => c.DocketNo, new { @class = "form-control clsApproval_Rejection" })
        </td>
        <td class=" form-group">
            @Html.TextBoxFor(c => c.Party_Location_Name, new { @class = "form-control clsApproval_Rejection" })
        </td>
        <td class=" form-group">
            @Html.TextBoxFor(c => c.Rate_Per_Day, new { @class = "form-control clsApproval_Rejection", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        <td class=" form-group">
            @Html.TextBoxFor(c => c.Amount, new { @class = "form-control clsAmount required required2 clsApproval_Rejection", @min = "1", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        <td data-title="Upload Document" style="width:250px;height:50px;">
            @if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
            {
                @*<a href="~/Images/ConveyanceExpenseImages/@Model.ConveyanceExp_Image" target="_blank" class="btn default fileinput-exists">
                        View File
                    </a>*@

                if (!string.IsNullOrEmpty(@Model.FoodImageName))
                {
                    <a href="~/Images/FoodExpenseImges/@Model.FoodImageName" target="_blank" class="btn default fileinput-exists">
                        View File
                    </a>
                }
                else
                {
                    <div>No Image</div>
                }
            }
            else
            {

                <div class="fileinput fileinput-new  col-md-9" id="divfileupload_@Model.ID" data-provides="fileinput">
                    <input type="hidden" value="@Model.FoodImageName" name="files">
                    <div class="fileinput-new thumbnail imgDefault col-md-6 center" style="max-width: 120px; max-height: 115px; line-height: 10px;">
                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail imgExists col-md-6" style="max-width: 120px; max-height: 115px; line-height: 10px;">
                        <img src="https://rcplstorageaccount.blob.core.windows.net/rcpl/@Model.FoodImageName" alt="">
                    </div>
                    <div class="col-md-3" style="width: 50px;height:50px;">
                        <span class="btn default btn-file">
                            <span class="fileinput-new clsFileCheck">
                                Select File
                            </span>
                            <span class="fileinput-exists clsFileCheck">
                                Change File
                            </span>
                            <input type="file" id="@Model.ID" name="FoodExpImg_@Model.ID" class="default">
                        </span><br />
                        <a href="#" class="btn default fileinput-exists" data-dismiss="fileinput" style="margin-top:5px">
                            Remove File
                        </a>
                    </div>
                </div>
            }
        </td>

        if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
        {
            <td class=" form-group">
                @Html.TextBoxFor(c => c.Amount_Passed, new { @class = "form-control clsAmount_Passed food_clsAmount_Passed required required2", @min = "0", @max = Model.Amount, @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td class=" form-group">
                @Html.TextBoxFor(c => c.Amount_Rejected, new { @class = "form-control clsAmount_Rejected required required2", @min = "0", @number = "true", @readonly = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td class=" form-group">
                @Html.TextAreaFor(c => c.Reason_For_Rejection, new { @class = "form-control" })
            </td>
        }
        if (Model.Subtype == 1)
        {
            <td class="col-md-1">
                @if (Model.ID != 1)
                {
                    <a class="deleteRow">
                        <img src="~/assets/img/Delete_Icon.png" style="width: 25px;" />
                    </a>
                }
            </td>
        }
    }
</tr>
