﻿@model Fleet.Models.CYGNUS_HandlingLoading_Unloading_Expence_DET
@using Fleet.Helpers
@using Fleet.ViewModels;

@{
    var PorterType = new List<SelectListItem>
              {
              new SelectListItem{Text="Mathadi",Value="M"},
              new SelectListItem{Text="Unionu",Value="U"},
              new SelectListItem{Text="Employed",Value="E"},
              new SelectListItem{Text="Contractual",Value="C"},
              new SelectListItem{Text="Market",Value="M"},


              };
    var LodingUnlodingType = new List<SelectListItem>
              {
              new SelectListItem{Text="From Praty",Value="P"},
              new SelectListItem{Text="Godown Unloading",Value="GU"},
              new SelectListItem{Text="Godown Loading",Value="GL"},
              new SelectListItem{Text="Station",Value="S"},
              };

    objDate Date = new objDate();
    Date.ControlId = "Date";
    Date.ControlValue = Model.ExpensIncurredDate.ToString();
    Date.ModuleCode = "13";
}

@using (Html.BeginCollectionItem("CPEEDET", Model.ID.ToString()))
{
    <tr>
        @if (ViewBag.SubType != 3)
        {
            <td>
                @Html.CheckBoxFor(m => m.CheckBox, new { @class = "clsIsCheck" })
            </td>
        }
        <td>
            @Model.ManifestNumber
            @Html.HiddenFor(m => m.ManifestNumber)
        </td>
        <td>
            @Model.DocketNo
            @Html.HiddenFor(m => m.DocketNo)
        </td>
        <td>
            @Model.ActualWeight
            @Html.HiddenFor(m => m.ActualWeight)
        </td>
        <td>
            @Model.NoOfPKGS
            @Html.HiddenFor(m => m.NoOfPKGS)
        </td>
        <td>
            @Html.DropDownListFor(c => c.PorterType, new SelectList(PorterType, "Value", "Text"), "", new { @class = "form-control select2  " })
        </td>
        <td>
            @Html.DropDownListFor(c => c.LodingUnlodingType, new SelectList(LodingUnlodingType, "Value", "Text"), "", new { @class = "form-control select2"})
        </td>
        <td class="col-md-1">
            @*<div class="input-group date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d">
                @Html.TextBox("ExpensIncurredDate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.ExpensIncurredDate).ToString("dd MMM yyyy")), new { @class = "form-control", @readonly = "True", @style = "padding-right: 0px;" })
                <span class="input-group-btn">
                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                </span>
            </div>*@
            @{
    Html.RenderPartial("../UserControls/_DocumentDate", Date);
            }
        </td>
        <td>
            @Html.CheckBoxFor(m => m.PerKGS)
        </td>
        <td>
            @Html.CheckBoxFor(m => m.PerPackage)
        </td>
        <td>
            @Html.TextBoxFor(c => c.StdRate, new { @class = "form-control clsStdRate", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.RateCharged, new { @class = "form-control clsRateCharged", @min = "0", @readonly = "true", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.AmountPaid_Per_Branch, new { @class = "form-control clsAmountPaid_Per_Branch", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.PerKG_AmountPaid_ActualWeight, new { @class = "form-control clsPerKG_AmountPaid_ActualWeight", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        @if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
        {
            <td>
                @Html.TextBoxFor(c => c.Amount_Passed, new { @class = "form-control clsAmount_Passed", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td>
                @Html.TextBoxFor(c => c.Amount_Rejected, new { @class = "form-control clsAmount_Rejected", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td>
                @Html.TextAreaFor(c => c.Reason_For_Rejection, new { @class = "form-control" })
            </td>}
    </tr>
}

