﻿@model Fleet.Models.CYGNUS_MarketVehicleCharges_Expence_DET
@using Fleet.Helpers
@using Fleet.ViewModels;
@{
    objDate Date = new objDate();
    Date.ControlId = "Date";
    Date.ControlValue = Model.Date.ToString();
    Date.ModuleCode = "13";
}

@using (Html.BeginCollectionItem("CPEEDET", Model.ID.ToString()))
{
    <tr>
        @if (ViewBag.SubType == 1)
        {
            <td>
                @Html.CheckBoxFor(m => m.CheckBox, new { @class = "clsIsCheck" })
            </td>
        }
        <td class="col-md-1">
            @*<div class="input-group date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d">
                @Html.TextBox("Date", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.Date).ToString("dd MMM yyyy")), new { @class = "form-control clsApproval_Rejection", @readonly = "True", @style = "padding-right: 0px;" })
                <span class="input-group-btn">
                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                </span>
            </div>*@
            @{
    Html.RenderPartial("../UserControls/_DocumentDate", Date);
            }
        </td>
        <td>
            @Html.TextBoxFor(c => c.Vendor_Place_Name, new { @class = "form-control clsApproval_Rejection" })
            @Html.HiddenFor(m => m.DocumentNo)
            @Html.HiddenFor(m => m.ID)
            @Html.HiddenFor(m => m.Hours)
        </td>
        <td>
            @Html.TextBoxFor(c => c.Docket_PRS_DRS_THC_No, new { @class = "form-control clsApproval_Rejection", @readonly = "true" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.MFrom, new { @class = "form-control clsApproval_Rejection", @readonly = "true" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.MTo, new { @class = "form-control clsApproval_Rejection", @readonly = "true" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.Distance, new { @class = "form-control clsApproval_Rejection", @readonly = "true" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.Vehicle_Number, new { @class = "form-control clsApproval_Rejection", @readonly = "true" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.Contract_Number_of_Vehicle_Owner, new { @class = "form-control clsApproval_Rejection", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.Actual_Weight, new { @class = "form-control clsApproval_Rejection", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.Number_Of_Packages, new { @class = "form-control clsApproval_Rejection", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.Rate_Total_Amount_Weight, new { @class = "form-control clsApproval_Rejection", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.Amount, new { @class = "form-control clsAmount clsApproval_Rejection", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))", @readonly = "true" })
        </td>
        @if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
        {
            <td class="form-group">
                @Html.TextBoxFor(c => c.Amount_Passed, new { @class = "form-control clsAmount_Passed", @min = "0", @max = Model.Amount, @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td class="form-group">
                @Html.TextBoxFor(c => c.Amount_Rejected, new { @class = "form-control clsAmount_Rejected", @min = "0", @max = Model.Amount, @readonly = "true", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td class="form-group">
                @Html.TextAreaFor(c => c.Reason_For_Rejection, new { @class = "form-control" })
            </td>
        }
    </tr>
}
