﻿@model Fleet.Models.CYGNUS_Master_Office_Fixed_Expenses
@using Fleet.Helpers

@using (Html.BeginCollectionItem("CMOFE", Model.ID.ToString()))
{
    <tr>
        <td class="center">
            @Model.BRCD
            @Html.HiddenFor(m => m.BRCD)
            @Html.HiddenFor(m => m.ID)
            @Html.HiddenFor(m => m.TEA)
        </td>
        @*<td class="center">
            @Html.TextBoxFor(c => c.TEA, new { @class = "form-control reduired reduired2", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>*@
        <td class="center">
            @Html.TextBoxFor(c => c.Water, new { @class = "form-control reduired reduired2", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.Pooja, new { @class = "form-control reduired reduired2", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.Sweeper, new { @class = "form-control reduired reduired2", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.NewsPaper, new { @class = "form-control reduired reduired2", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.Watchmen, new { @class = "form-control reduired reduired2", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
    </tr>
}