﻿@model Fleet.Models.CYGNUS_Branch_Expenses_EntryDET
@using Fleet.Helpers
@using FleetDataService.Models
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> ListMonths = MS.GetGeneralMasterObject().Where(C => C.CodeType == "MONTH").ToList();
}

@using (Html.BeginCollectionItem("CPEEDET", Model.ID.ToString()))
{
    <tr>
        <td class="center">
            @Model.ExpenseType
            @Html.HiddenFor(m => m.DocumentNo)
            @Html.HiddenFor(m => m.ExpenseType)
            @Html.HiddenFor(m => m.OtherExpense_ID)
            @Html.HiddenFor(m => m.ID)
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.LegderCode, new { @class = "form-control", @readonly = "true" })
        </td>
        <td class="center">
            @Html.DropDownListFor(m => m.MFrom, new SelectList(ListMonths, "CodeId", "CodeDesc", ""), "", new { @class = "form-control select2 required required2" })
        </td>
        <td class="center">
            @Html.DropDownListFor(m => m.MTo, new SelectList(ListMonths, "CodeId", "CodeDesc", ""), "", new { @class = "form-control select2 required required2" })
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.For_the_Period, new { @class = "form-control clsFor_the_Period reduired reduired2", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.Amount, new { @class = "form-control clsAmount reduired reduired2", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>

        @if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
        {
            <td class="center">
                @Html.TextBoxFor(c => c.Amount_Passed, new { @class = "form-control clsAmount_Passed reduired reduired2", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td class="center">
                @Html.TextBoxFor(c => c.Amount_Rejected, new { @class = "form-control clsAmount_Rejected reduired reduired2", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td class="center">
                @Html.TextAreaFor(c => c.Reason_For_Rejection, new { @class = "form-control" })
            </td>
        }
    </tr>
}
