﻿@model Fleet.Models.CYGNUS_Master_Office_Other_Expenses
@using Fleet.Helpers

@using (Html.BeginCollectionItem("CMOOE", Model.ID.ToString()))
{
    <tr>
        <td class="center">
            @Model.BRCD
            @Html.HiddenFor(m => m.BRCD)
            @Html.HiddenFor(m => m.ID)
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.Printing_Stationary, new { @class = "form-control reduired reduired2", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))", @placeholder = "Printing & Stationary" })
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.Data_Entry_Computer, new { @class = "form-control reduired reduired2", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))", @placeholder = "Data Entry & Computer" })
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.RPF_GRP_Police, new { @class = "form-control reduired reduired2", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))", @placeholder = "RPF /GRP /Police" })
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.Sales_Promotion, new { @class = "form-control reduired reduired2", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))", @placeholder = "Sales & Promotion" })
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.Festival, new { @class = "form-control reduired reduired2", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))", @placeholder = "Festival" })
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.Donation, new { @class = "form-control reduired reduired2", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))", @placeholder = "Donation" })
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.Generator_Running_Diesel, new { @class = "form-control reduired reduired2", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))", @placeholder = "Generator Running /Diesel" })
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.Any_Purchase, new { @class = "form-control reduired reduired2", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))", @placeholder = "Any Purchase" })
        </td>
    </tr>
}