﻿@model Fleet.Models.CYGNUS_Branch_Office_Expenses_Other_DET
@using Fleet.Helpers
@using FleetDataService.Models
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> ListMonths = new List<Webx_Master_General>();
    int Month = System.DateTime.Now.Month;

    if (ViewBag.SubType == 1)
    {
       int PrevMonth = Month - 1;
        if (PrevMonth == 0)
        {
            PrevMonth = 12;
        }

        Model.Brcd = ViewBag.BaseLocationCode;
        ListMonths = MS.GetGeneralMasterObject().Where(C => C.CodeType == "MONTH" && (C.CodeId == Month.ToString() @*|| C.CodeId == (Month + 1).ToString() *@|| C.CodeId == PrevMonth.ToString())).ToList();
    }
    else
    {
        ListMonths = MS.GetGeneralMasterObject().Where(C => C.CodeType == "MONTH").ToList();
    }
    if (Convert.ToInt32(Model.MaxLimit) == 0)
    {
        Model.MaxLimit = Convert.ToDecimal(0.001);
    }
}

@using (Html.BeginCollectionItem("CPEEDET", Model.ID.ToString()))
{
    var FromID = "CPEEDET_" + Model.ID.ToString() + "__FromID";
    var ToID = "CPEEDET_" + Model.ID.ToString() + "__ToID";

    <tr class="editorRow">
        <td class=" form-group">
            @Model.ExpenseType
            @Html.HiddenFor(m => m.ExpenseType)
            @Html.HiddenFor(m => m.ID)
            @Html.HiddenFor(m => m.Brcd)
        </td>
        <td class="center form-group">
            @Html.TextBoxFor(c => c.LegderCode, new { @class = "form-control clsApproval_Rejection", @readonly = "true" })
        </td>
        <td class=" form-group">
            @Html.DropDownListFor(m => m.For_the_Period, new SelectList(ListMonths, "CodeId", "CodeDesc", ""), "", new { @class = "form-control select2 required required2 clsApproval_Rejection For_the_Period" })
        </td>
        <td class="center form-group">
            <div class="input-group date date-picker" data-date-format="dd MMM yyyy">
                @Html.TextBox("FromDate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.FromDate).ToString("dd MMM yyyy")), new { @class = "form-control required required2 clsApproval_Rejection", @readonly = "True", @style = "padding-right: 0px;" })
                <span class="input-group-btn">
                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <br />
            <div style="color:red"><b id="@FromID"></b> </div>
        </td>
        <td class="center form-group">
            <div class="input-group date date-picker" data-date-format="dd MMM yyyy">
                @Html.TextBox("ToDate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.ToDate).ToString("dd MMM yyyy")), new { @class = "form-control required required2 clsApproval_Rejection", @readonly = "True", @style = "padding-right: 0px;" })
                <span class="input-group-btn">
                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <br />
            <div style="color:red"><b id="@ToID"></b> </div>
        </td>

        <td class=" form-group">
            @if (ViewBag.SubType == 1)
            {
                @Html.TextBoxFor(c => c.Amount, new { @class = "form-control clsAmount required required2 clsApproval_Rejection ClsAmtValidation", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            }
            else
            {
                @Html.TextBoxFor(c => c.Amount, new { @class = "form-control clsAmount required required2 clsApproval_Rejection", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })

            }
        </td>
        <td class=" form-group">
            @Html.TextAreaFor(c => c.Particular, new { @class = "form-control clsApproval_Rejection" })
        </td>
       @if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
       {
        <td class="center form-group">
            <a href="~/Images/OfficeExpOtherImages/@Model.OfficeExpOtherImg" target="_blank" class="btn default fileinput-exists">
                View File
            </a>
        </td>
       }
       else
       {
        <td data-title="Upload Document" style="width:250px;height:50px;">
            <div class="fileinput fileinput-new  col-md-9" id="divfileupload_@Model.ID" data-provides="fileinput">
                <input type="hidden" value="@Model.OfficeExpOtherImg" name="files">
                <div class="fileinput-new thumbnail imgDefault col-md-6 center" style="max-width: 120px; max-height: 115px; line-height: 10px;">
                    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail imgExists col-md-6" style="max-width: 120px; max-height: 115px; line-height: 10px;">
                    <img src="https://rcplstorageaccount.blob.core.windows.net/rcpl/@Model.OfficeExpOtherImg" alt="">
                </div>
                <div class="col-md-3" style="width: 50px;height:50px;">
                    <span class="btn default btn-file">
                        <span class="fileinput-new clsFileCheck">
                            Select File
                        </span>
                        <span class="fileinput-exists clsFileCheck">
                            Change File
                        </span>
                        <input type="file" id="@Model.ID" name="OfficeOtherExpense_@Model.ID" class="default required">
                    </span><br />
                    <a href="#" class="btn default fileinput-exists" data-dismiss="fileinput" style="margin-top:5px">
                        Remove File
                    </a>
                </div>
            </div>
        </td>
       }

        @if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
        {
            <td class=" form-group">
                @Html.TextBoxFor(c => c.Amount_Passed, new { @class = "form-control clsAmount_Passed clsOthrExpence_PassedAmount required required2", @min = "0", @max = Model.Amount, @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td class=" form-group">
                @Html.TextBoxFor(c => c.Amount_Rejected, new { @class = "form-control clsAmount_Rejected required required2", @min = "0", @number = "true", @readonly = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td class=" form-group">
                @Html.TextAreaFor(c => c.Reason_For_Rejection, new { @class = "form-control" })
            </td>
        }
        @if (ViewBag.SubType == 1)
        {
            <td class="col-md-1">
                <a class="deleteRow">
                    <img src="~/assets/img/Delete_Icon.png" style="width: 25px;" />
                </a>
            </td>
        }
    </tr>
}
