﻿@model Fleet.Models.CYGNUS_Porter_Expense
@using Fleet.Helpers
@using FleetDataService.Models;

@{
    var PorteTypeList = new List<SelectListItem>
               {
             new SelectListItem{Text="UNION",Value="UNION"},
               new SelectListItem{Text="EMPLOYED",Value="EMPLOYED"},
               new SelectListItem{Text="CONTRACTUAL",Value="CONTRACTUAL"},
               new SelectListItem{Text="LEASEL",Value="LEASEL"},
               new SelectListItem{Text="MARKET",Value="MARKET"},
               };
}

<tr class="editorRow">
    @using (Html.BeginCollectionItem("CPE", Model.ID.ToString()))
    {
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.Location)
        <td class="form-group">
            @Html.TextBoxFor(c => c.NameOfStation, new { @class = "form-control  required required2", @placeholder = "Station Name" })
        </td>

        <td class="form-group">
            @Html.DropDownListFor(c => c.Porter_Type, new SelectList(PorteTypeList, "Value", "Text"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Porter Type" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.Rate_Charged, new { @class = "form-control  required required2", @number = "true", @min = "0", @placeholder = "Rate Charged" })
        </td>
        <td class="center">
            @Html.CheckBoxFor(m => m.Marker, new { @class = "" })
        </td>
        <td class="center">
            @Html.CheckBoxFor(m => m.Handling, new { @class = "" })
        </td>
        <td class="center">
            @Html.CheckBoxFor(m => m.Other, new { @class = "" })
        </td>
        <td class="center">
            <a class="deleteRow" style="cursor:pointer;">
                <img src="~/assets/img/Delete_Icon.png" style="width: 25px;" title="Delete" />
            </a>
        </td>
    }
</tr>
