﻿@model Fleet.Models.CYGNUS_Branch_Expenses_EntryDET
@using Fleet.Helpers
@using Fleet.Models
@using FleetDataService.Models;
@using Fleet.Classes;
@using Fleet.ViewModels;
@{

    FleetDataService.BranchAccountingService BAS = new FleetDataService.BranchAccountingService();
    List<SelectListItem> ListPorter = new List<SelectListItem>();

    if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
    {
        List<CYGNUS_Porter_Expense> PorterListFromDT = BAS.GetPorterExpenseMasterDetails(Model.Brcd).Where(c => c.Porter_Type == Model.PorterType).ToList();
        foreach (CYGNUS_Porter_Expense tc in PorterListFromDT)
        {
            ListPorter.Add(new SelectListItem { Text = tc.NameOfStation.ToString(), Value = tc.NameOfStation.ToString() });
        }
    }

    var PorteTypeList = new List<SelectListItem>
               {
               new SelectListItem{Text="UNION",Value="UNION"},
               new SelectListItem{Text="EMPLOYED",Value="EMPLOYED"},
               new SelectListItem{Text="CONTRACTUAL",Value="CONTRACTUAL"},
               new SelectListItem{Text="LEASEL",Value="LEASEL"},
               new SelectListItem{Text="MARKET",Value="MARKET"},
               };

    Model.DKTCount = Convert.ToInt32(Model.DocketNo);

    objDate ExpensIncurredDate = new objDate();
    ExpensIncurredDate.ControlId = "ExpensIncurredDate";
    ExpensIncurredDate.ControlValue = Model.ExpensIncurredDate.ToString();
    ExpensIncurredDate.ModuleCode = "13";
}

@using (Html.BeginCollectionItem("CPEEDET", Model.ID.ToString()))
{
    <tr>
        @if (@*ViewBag.SubType == 2 ||*@ ViewBag.SubType == 1)
        {
            <td>
                @Html.CheckBoxFor(m => m.CheckBox, new { @class = "clsIsCheck" })
            </td>
        }
        else
        {
            @Html.HiddenFor(m => m.CheckBox, new { @class = "clsIsCheck", @value = "true" })

        }
        @*<td>
                @Model.DocumentNo
            </td>*@
        <td>
            @Model.ManifestNumber
            @Html.HiddenFor(m => m.ManifestNumber)
            @Html.HiddenFor(m => m.DocumentNo)
            @Html.HiddenFor(m => m.Brcd)
            @Html.HiddenFor(m => m.ID)
        </td>
        <td>
            @Model.DocketNo
            @Html.HiddenFor(m => m.DKTCount)
            @Html.HiddenFor(m => m.DocketNo)
        </td>
        <td>
            @Model.ActualWeight
            @Html.HiddenFor(m => m.ActualWeight)
        </td>
        <td>
            @Model.NoOfPKGS
            @Html.HiddenFor(m => m.NoOfPKGS)
        </td>
        <td class="form-group">
            @Html.DropDownListFor(c => c.PorterType, new SelectList(PorteTypeList, "Value", "Text"), "", new { @class = " form-control select2 clsApproval_Rejection" })
        </td>
        <td class="form-group">
            @Html.DropDownListFor(c => c.NameOfStation, new SelectList(ListPorter, "Value", "Text"), "", new { @class = " form-control select2 clsApproval_Rejection" })
        </td>
        <td class="col-md-1">
            @if (ViewBag.SubType == 1)
            {
                {
                    Html.RenderPartial("../UserControls/_DocumentDate", ExpensIncurredDate);
                }
                @*<div class="input-group date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d">
                        @Html.TextBox("ExpensIncurredDate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.ExpensIncurredDate).ToString("dd MMM yyyy")), new { @class = "form-control clsApproval_Rejection", @readonly = "True", @style = "padding-right: 0px;" })
                        <span class="input-group-btn">
                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>*@

            }
            else
            {
                @Html.TextBox("ExpensIncurredDate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.ExpensIncurredDate).ToString("dd MMM yyyy")), new { @class = "form-control clsApproval_Rejection", @readonly = "True", @style = "padding-right: 0px;" })
            }
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.RateCharged, new { @class = "form-control clsRateCharged clsApproval_Rejection", @readonly = "true", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.PortelPaidPerBranch, new { @class = "form-control clsPortelPaidPerBranch clsApproval_Rejection", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.OtherTSPEtc, new { @class = "form-control clsOtherTSPEtc clsApproval_Rejection" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.Marker, new { @class = "form-control clsMarker clsApproval_Rejection" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.HandlingInsideThePlatForm, new { @class = "form-control clsHandlingInsideThePlatForm clsApproval_Rejection" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.TotalClaimMade_ExlHandling, new { @class = "form-control clsTotalClaimMade_ExlHandling clsApproval_Rejection", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.TotalClaim_IncHandling, new { @class = "form-control clsTotalClaim_IncHandling clsApproval_Rejection", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.PerKGCost_PKG, new { @class = "form-control clsPerKGCost_PKG clsApproval_Rejection", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.PerKGCost_Weight, new { @class = "form-control clsPerKGCost_Weight clsApproval_Rejection", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
        </td>
        <td data-title="Upload Document" style="width:250px;height:50px;">
            @if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
            {
                <a href="~/Images/PorterExpense/@Model.Image" target="_blank" class="btn default fileinput-exists">
                    View File
                </a>
            }
            else
            {

                <div class="fileinput fileinput-new  col-md-9" id="divfileupload_@Model.ID" data-provides="fileinput">
                    <input type="hidden" value="@Model.Image" name="files">
                    <div class="fileinput-new thumbnail imgDefault col-md-6 center" style="max-width: 120px; max-height: 115px; line-height: 10px;">
                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail imgExists col-md-6" style="max-width: 120px; max-height: 115px; line-height: 10px;">
                        <img src="~/Images/PorterExpense/@Model.Image" alt="">
                    </div>
                    <div class="col-md-3" style="width: 100px;height:50px;">
                        <span class="btn default btn-file">
                            <span class="fileinput-new clsFileCheck">
                                Select File
                            </span>
                            <span class="fileinput-exists clsFileCheck">
                                Change File
                            </span>
                            <input type="file" id="@Model.ID" name="Image_@Model.ID" class="default">
                        </span><br>
                        <a href="#" class="btn default fileinput-exists" data-dismiss="fileinput" style="margin-top:5px">
                            Remove File
                        </a>
                    </div>
                </div>
            }
        </td>
        @if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
        {
            <td class="form-group">
                @Html.TextBoxFor(c => c.Amount_Passed, new { @class = "form-control clsAmount_Passed ", @min = "0", @max = Model.TotalClaim_IncHandling, @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td class="form-group">
                @Html.TextBoxFor(c => c.Amount_Rejected, new { @class = "form-control clsAmount_Rejected ", @min = "0", @readonly = "true", @max = Model.TotalClaim_IncHandling, @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
            </td>
            <td class="form-group">
                @Html.TextAreaFor(c => c.Reason_For_Rejection, new { @class = "form-control " })
            </td>
        }
    </tr>
}
