﻿@model Fleet.Models.CYGNUS_Branch_Expenses_EntryHDR
@using Fleet.Helpers
@{
    
}

@using (Html.BeginCollectionItem("CPEEApprov", Model.ID.ToString()))
{
    <tr>
        <td class="center">
            @Model.BillNo
            @Html.HiddenFor(m => m.BillNo)
            @Html.HiddenFor(m => m.ID)
        </td>
        <td class="center">
            @Model.EmpName
        </td>
        <td class="center">
            @Model.EmpCode
        </td>
        <td class="center">
            @Model.Brcd
        </td>
        <td class="center">
            <a href="@Url.Action("Travelling_Tour_Expenses", "BranchAccounting", new { Id = @Model.ID })" id="@Model.BillNo" class="btn btn-sm blue btnClose" data-billno="@Model.BillNo">Close</a>
        </td>
    </tr>
}