﻿@model IEnumerable<Fleet.Models.CYGNUS_Branch_Travelling_Tour_HDR>
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    ViewBag.Title = "Travelling Advance List";    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <div class="portlet box  @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a class="btn default btn-xs" href="@Url.Content("~/BranchAccounting/Travelling_Advance_Criteria")">
                        <i class="fa fa-arrow"></i>
                        Back To Advance Criteria
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">Bill NO</th>
                                <th class="center"><b>Emp Name</b></th>
                                <th class="center"><b>Emp Code</b></th>
                                <th class="center"><b>Branch</b></th>
                                <th class="center"><b>Advance</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="center">
                                        @item.BillNo
                                    </td>
                                    <td class="center">
                                        @item.EmpName
                                    </td>
                                    <td class="center">
                                        @item.EmpCode
                                    </td>
                                    <td class="center">
                                        @item.BRCD
                                    </td>
                                    <td class="center">
                                        <a href="@Url.Action("Travelling_Expenses_Advanced", "BranchAccounting", new { BillNo = @item.BillNo})" id="@item.BillNo" class="btn btn-sm blue btnAdvance" data-billno="@item.BillNo">Advance</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>