﻿@model Fleet.ViewModels.ExpensesEntryModule
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    var Text = "";
    if (Model.Approve_Account_Type == 1)
    {
        Text = "Payment";
    }
    else
    {
        Text = "Close";
    }
}
<div class="caption pull-right">
    <a class="btn default btn-xs" href="@Url.Content("~/BranchAccounting/Travelling_Expenses_Close_Criteria")">
        <i class="fa fa-arrow"></i>
        Back To Advance Criteria
    </a>
    &nbsp;
    &nbsp;

</div>
 
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="center">Bill NO</th>
            <th class="center"><b>Emp Name</b></th>
            <th class="center"><b>Emp Code</b></th>
            <th class="center"><b>Branch</b></th>
            <th class="center"><b>@Text</b></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListCPEE_HDR)
        {
            @Html.Partial("_Travelling_Expenses_Closed_List", item);
        }
    </tbody>
</table>