﻿@model Fleet.Models.CYGNUS_Tripsheet_Disputed_Amount_DET
@using Fleet.Helpers
@using FleetDataService.Models
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
    {
        Model.Amount_Passed = Model.Amount;
    }
    else
    {
        Model.KMASPERGPS = "0";
        Model.KMASDRIVERCLAIMED = "0";
        Model.AMOUNTPAIDAPPROVED = "0";
        Model.DIFFEXCES = "0";
    }
}

@using (Html.BeginCollectionItem("CPEEDET", Model.ID.ToString()))
{
    var FromID = "CPEEDET_" + Model.ID.ToString() + "__FromID";
    var ToID = "CPEEDET_" + Model.ID.ToString() + "__ToID";

    <tr class="editorRow">
        @Html.HiddenFor(m => m.ID)
        <td class="col-md-1">
            @Model.Particular
            @Html.HiddenFor(c => c.Particular)
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.KMASPERGPS, new { @class = "form-control cls_Set_Remove_Zero clsGPSKms clsApproval_Rejection", @placeholder = "GPS Kms.", @number = true, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.KMASDRIVERCLAIMED, new { @class = "form-control cls_Set_Remove_Zero clsGPSKmsClaimedByDriver clsApproval_Rejection", @placeholder = "Driver Claimed Kms.", @number = true, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.AMOUNTCLAIMEDBYDRIVER, new { @class = "form-control clsAmtClaimByDriver cls_Set_Remove_Zero clsApproval_Rejection", @placeholder = "Amount Claimed by Driver", @number = true, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.AMOUNTPAIDAPPROVED, new { @class = "form-control clsAmtPaidApproved cls_Set_Remove_Zero clsApproval_Rejection", @placeholder = "Amount Paid / Approved as per Company Policy", @number = true, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.DIFFEXCES, new { @class = "form-control cls_Set_Remove_Zero clsDiffExces clsApproval_Rejection", @placeholder = "Diff/Exces", @readonly = true, @number = "true" })
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.Amount, new { @class = "form-control cls_Set_Remove_Zero clsTotAmount clsApproval_Rejection", @placeholder = "Amount", @number = true, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.REMARK, new { @class = "form-control clsApproval_Rejection", @placeholder = "Remarks" })
        </td>
        @if (ViewBag.SubType == 2 || ViewBag.SubType == 3)
        {
            <td class="form-group">
                @Html.TextBoxFor(c => c.Amount_Passed, new { @class = "form-control clsAmount_Passed clsFixed_Amount_Passed required required2 cls_Set_Remove_Zero", @max = Model.Amount, @min = "0", @number = true, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
            </td>
            <td class="form-group">
                @Html.TextBoxFor(c => c.Amount_Rejected, new { @class = "form-control clsAmount_Rejected required required2 cls_Set_Remove_Zero", @min = "0", @max = Model.Amount, @number = true, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @readonly = true })
            </td>
            <td class="form-group">
                @Html.TextAreaFor(c => c.Reason_For_Rejection, new { @class = "form-control", @placeholder = "Reason of Rejection" })
            </td>
        }
    </tr>
}

