﻿@model Fleet.ViewModels.BillStatusDetailsViewModel
@using FleetDataService.Models

@{
    ViewBag.Title = "BILL STATUS DETAILS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>&nbsp;@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-wizard">
                    <div class="form-body">
                        @using (Html.BeginForm("BranchAccounting", "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
                        {
                            <div class="tab-content">
                                <div class="alert alert-danger display-none">
                                    <button class="close" data-dismiss="alert"></button>
                                    You have some form errors. Please check below.
                                </div>
                                <div class="alert alert-success display-none">
                                    <button class="close" data-dismiss="alert"></button>
                                    Your form validation is successful!
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        <b>Bill No :</b>
                                    </label>
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(m => m.BillNo, new { placeholder = "Bill No", @class = "required2 form-control required"})
                                    </div>
                                    <label class="control-label col-md-2">
                                        <b>Bill Status :</b>
                                    </label>
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(m => m.BillStatus, new { placeholder = "Bill Status", @class = "required2 form-control required", @readonly = true })
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var FormValidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);
            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span',
                errorClass: 'help-block',
                focusInvalid: false,
                ignore: "",
                rules: {},
                messages: {},
                invalidHandler: function (event, validator) {
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                success: function (label) {
                    label.closest('.form-group').removeClass('has-error');
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    // document.forms["form_sample"].submit()
                }
            });
        }
        var BillStatus = function (DomainName) {

            var URL = DomainName + '/BranchAccounting/GetBill_Detailes?No=' + $("#BillNo").val();

            if ($("#BillNo").val() != "") {

                App.blockUI({ boxed: true });
                $.ajax({
                    url: URL,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (data) {

                        if (data.IsRecordFound == "1") {

                            $("#BillStatus").val(data.BillStatus);
                            App.unblockUI();
                        }
                        else {
                            $("#BillStatus").val("");
                            App.unblockUI();
                        }
                    },
                    error: function (req, status, error) {
                        $("#BillStatus").val("");
                        App.unblockUI();
                    }
                });
            }

        }

        return {
            init: function (DomainName) {

                FormValidate(DomainName);
                $("#BillNo").change(function () {
                    BillStatus(DomainName);
                });
            }
        }
    }();
</script>