﻿@model Fleet.ViewModels.BranchAccountingMaster
@using FleetDataService.Models

@{
    ViewBag.Title = "Branch Accouting Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ActionName = @ViewBag.ActionName;
}

<div class="row">
    <div class="col-md-10">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a href="@Url.Content("~/Master/ExportData?MethodName=BranchAccoutingMaster&FileName=Branch Accouting Master")" class="btn default btn-xs controls"><i class="fa fa-download"></i>&nbsp;Download Excel </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    @using (Html.BeginForm(ActionName, "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        <div class="alert alert-danger display-none">
                            <button class="close" data-dismiss="alert"></button>
                            You have some form errors. Please check below.
                        </div>
                        <div class="alert alert-success display-none">
                            <button class="close" data-dismiss="alert"></button>
                            Your form validation is successful!
                        </div>

                        <div id="divGetDetails">
                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    Select Branch :
                                </label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(m => m.BRCD, new { placeholder = "Select Branch Location", @class = "required2 form-control required" })
                                </div>
                            </div>
                        </div>

                        <div id="disablediv">
                            @Html.HiddenFor(m => m.Type)
                            <h4 style="text-align:center;">Select Expense Type</h4>
                            <table id="sample_ven" class="table table-striped table-bordered table-hover">
                                <thead>
                                    @Html.HiddenFor(m => m.ExpenceType)
                                    <tr>
                                        <th class="center"><b>Expanse Name</b></th>
                                        <th class="center"><b>Maximum Limit Per Branch</b></th>
                                        <th class="center"><b>Expanse Apropriate Legder</b></th>
                                        <th class="center"><b>Comments</b></th>
                                        <th class="center"><b>Active</b></th>
                                    </tr>
                                </thead>
                                <tbody id="BranchAcctEntryModule_Partial">
                                    @{
                        Html.Partial("_BranchAcctEntryModule_Partial", Model.ListCBAM);
                                    }
                                </tbody>
                            </table>

                        </div>
                        <div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="button" id="btnGetDetails" class="btn btn-sm blue controls"><i class="fa fa-search"></i> Get Details</button>
                                <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i> Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var FormValidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);
            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span',
                errorClass: 'help-block',
                focusInvalid: false,
                ignore: "",
                rules: {},
                messages: {},
                invalidHandler: function (event, validator) {
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                success: function (label) {
                    label.closest('.form-group').removeClass('has-error');
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    // document.forms["form_sample"].submit()
                }
            });
        }

        var BtnGetDetail = function (DomainName) {

            $("#btnGetDetails").click(function () {

                FormValidate(DomainName);
                if ($('#form_sample').valid()) {

                    App.blockUI({ boxed: true });

                    var StrURL1 = DomainName + '/BranchAccounting/_BranchAcctEntryModule?BRCD=' + $("#BRCD").val();
                    $.ajax({
                        url: StrURL1,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {

                            $("#btnGetDetails").hide();
                            $("#divGetDetails :input").attr("disabled", true);
                            $("#BranchAcctEntryModule_Partial").html(data);
                            CheckBoxCheck_Event(DomainName);
                            $(".deleteRow").live("click", function () {
                                $(this).parents("tr.editorRow:first").remove();
                                return false;
                            });

                            $("#disablediv").show();
                            $("#btnSubmit").show();

                            $('select').select2({
                                placeholder: "Select an option",
                                allowClear: true
                            });

                            $("input:checkbox, input:radio").uniform();
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            alert("error " + req + "   " + status + "   " + error);
                            App.unblockUI();
                        }
                    });
                }
                else {
                    return false
                }
            });
        }

        var Type_1 = function (DomainName) {

            @*if ("@ViewBag.Type" == "1") {

                @foreach (var item in Model.ListCBAM)
                {
                    <text>
                GetAccountCode("BAEM_" + @item.ID + "__Accode");
                </text>
                }
            }*@
        }

        var CheckBoxCheck_Event = function (DomainName) {

            $(".clsActive").each(function () {
                Change_Event(DomainName, $(this).attr("id").replace("IsActive", ""), $(this).is(':checked'));
            });

            $(".clsActive").change(function () {
                Change_Event(DomainName, $(this).attr("id").replace("IsActive", ""), $(this).is(':checked'));
            });
        }

        var Change_Event = function (DomainName, ID, Val) {

            // alert(DomainName + "--" + ID + "--" + Val);

            if (Val == "true" || Val == true) {
                $("#" + ID + "MaxAmt").attr("min", "1")
                $("#" + ID + "MaxAmt").addClass("required2 required")
                $("#" + ID + "Accode").addClass("required2 required")
                $("#" + ID + "Narration").addClass("required2 required")
            }
            else if (Val == "false" || Val == false) {
                $("#" + ID + "MaxAmt").attr("min", "0")
                $("#" + ID + "MaxAmt").removeClass("required2 required")
                $("#" + ID + "Accode").removeClass("required2 required")
                $("#" + ID + "Narration").removeClass("required2 required")
            }
        };

        return {
            init: function (DomainName) {

                FormValidate(DomainName);
                StrURL = DomainName + "/Operation/GetDestinationLocations_With_HQTR";
                JsonDDLSelectCode("BRCD", StrURL);
                $("#disablediv").hide();
                $("#btnSubmit").hide();
                BtnGetDetail(DomainName);
                Type_1(DomainName);
                CheckBoxCheck_Event(DomainName);


                $("#btnSubmit").click(function () {

                    if ($('#form_sample').valid()) {
                        App.blockUI({ boxed: true });
                        $("#divGetDetails :input").attr("disabled", false);
                        document.forms["form_sample"].submit()
                        $("#form_sample").submit();
                    }
                    else {
                        return false
                    }
                });
            }
        }
    }();
</script>