﻿@{
    ViewBag.Title = "Branch Accouting Master Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>@ViewBag.Title
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead> 
                        <tr>
                            <th>
                                Document Has Been Saved Successfully
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;

        </div>
    </div>
</div>
