﻿@model Fleet.ViewModels.BranchAccountingMaster
@using FleetDataService.Models

@{
    ViewBag.Title = "Branch Accouting Criteria Module";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var value = Model.List_BRS.Sum(c => c.SumPendingApp);
    var price = Model.BRS.NetAmt;
    var calculated = price - value;
    string ActionName = @ViewBag.ActionName;
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm(ActionName, "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    <div class="form-body">
                        <div class="alert alert-danger display-none">
                            <button class="close" data-dismiss="alert"></button>
                            You have some form errors. Please check below.
                        </div>
                        <div class="alert alert-success display-none">
                            <button class="close" data-dismiss="alert"></button>
                            Your form validation is successful!
                        </div>
                        <div class="row">
                            @Html.HiddenFor(m => m.Type)
                            @Html.HiddenFor(m => m.SubType)
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Select Expence Type :
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(c => c.ExpenceType, new SelectList(Model.ListCBAM.Where(c=>c.SrNo != 3).ToList(), "SrNo", "ChargeName", ""), "", new { @class = "form-control select2 required required2", @placeholder = "Select Expence Type" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5" id="div_DocumentNo">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Enter THC Number :
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.DocumentNo, new { placeholder = "Enter THC Number", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="button" id="btnSubmit" class="btn btn-sm green controls">Go&nbsp;<i class="fa fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>BR Pending to be Approved and Paid
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-6">
                                Cash Balanse On Today :
                            </label>
                            <div class="col-md-5 margin-top-5">
                                <span class="text-primary"><b>@Html.DisplayFor(c => c.CBAM.NetAmt, new { placeholder = "Enter Branch", @class = "form-control", @readonly = true })</b></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-6">
                                Other Pending Instruments :
                            </label>
                            <div class="col-md-5 margin-top-5">
                                <span class="text-primary"><b>@Model.List_BRS.Sum(c => c.SumPendingApp)</b></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-6">
                                Effective CBS Balance :
                            </label>
                            <div class="col-md-5 margin-top-5">
                                <span class="text-primary"><b>@calculated</b></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="portlet-body flip-scroll">
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        Type of Expense
                                    </th>
                                    <th class="center">
                                        Count of BRs Generated
                                    </th>
                                    <th class="center">
                                        Sum of Amount of BRs Generated
                                    </th>
                                    <th class="center">
                                        Count of BRs which are Pending to be Approved
                                    </th>
                                    <th class="center">
                                        Sum of Amount of BRs which are Pending to be Approved
                                    </th>
                                    <th class="center">
                                        Count of Approved BRs which are Pending to be Paid
                                    </th>
                                    <th class="center">
                                        Sum of Approved Amount which are Pending to be Paid
                                    </th>
                                    <th class="center">
                                        Count of total BRs Pending
                                    </th>
                                    <th class="center">
                                        Total Amount Pending to be Paid
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.List_BRS.ToList())
                                {
                                    var Pending_Count = @item.CountBR - @item.CountPendingPaid;
                                    var Pending_Amount = @item.SumAmt - @item.SumPendingPaid;
                                    <tr class="editorRow">
                                        <td class="center">
                                            @item.ExpanceTypeName
                                        </td>
                                        <td class="center">
                                            @item.CountBR
                                        </td>
                                        <td class="center">
                                            @item.SumAmt
                                        </td>
                                        <td class="center">
                                            @item.CountPendingApp
                                        </td>
                                        <td class="center">
                                            @item.SumPendingApp
                                        </td>
                                        <td class="center">
                                            @item.CountPendingPaid
                                        </td>
                                        <td class="center">
                                            @item.SumPendingPaid
                                        </td>
                                        <td class="center">
                                            @Pending_Count
                                        </td>
                                        <td class="center">
                                            @Pending_Amount
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var FormValidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);
            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span',
                errorClass: 'help-block',
                focusInvalid: false,
                ignore: "",
                rules: {},
                messages: {},
                invalidHandler: function (event, validator) {
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                success: function (label) {
                    label.closest('.form-group').removeClass('has-error');
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //document.forms["form_sample"].submit()
                }
            });
        }

        return {
            init: function (DomainName) {

                FormValidate(DomainName);
                $("#div_DocumentNo").hide();

                $("#ExpenceType").change(function () {

                    if ($(this).val() == "1" || $(this).val() == "2" || $(this).val() == "3" || $(this).val() == "7" || $(this).val() == "8" || $(this).val() == "9" || $(this).val() == "10" || $(this).val() == "12") {
                        $("#DocumentNo").removeClass("required required2");
                        $("#div_DocumentNo").hide();
                    }
                    else {
                        $("#DocumentNo").addClass("required required2");
                        $("#div_DocumentNo").show();
                    }
                });

                $("#btnSubmit").click(function () {

                    if ($('#form_sample').valid()) {
                        App.blockUI({ boxed: true });
                        document.forms["form_sample"].submit()
                    }
                    else {
                        return false
                    }
                });
            }
        }
    }();
</script>
