﻿@model Fleet.ViewModels.BranchAccountingMaster
@using FleetDataService.Models

@{
    ViewBag.Title = "Branch Accouting Approval Reject";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Fleet.Models.CYGNUS_Branch_Expance> List_Staff = new List<Fleet.Models.CYGNUS_Branch_Expance>();
    var value = Model.List_BRS.Sum(c => c.SumPendingApp);
    var price = Model.BRS.NetAmt;
    var calculated = price - value;
    string ActionName = @ViewBag.ActionName;
    
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title <span id="titleTail">Criteria</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-wizard">
                    <div class="form-body">
                        @using (Html.BeginForm(ActionName, "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
                        {
                            <div class="tab-content">
                                <div class="alert alert-danger display-none">
                                    <button class="close" data-dismiss="alert"></button>
                                    You have some form errors. Please check below.
                                </div>
                                <div class="alert alert-success display-none">
                                    <button class="close" data-dismiss="alert"></button>
                                    Your form validation is successful!
                                </div>

                                <div id="disablediv">
                                    @Html.HiddenFor(m => m.Type)
                                    @Html.HiddenFor(m => m.SubType)
                                    @Html.HiddenFor(m => m.Id)

                                    <div class="form-group">
                                        <label class="control-label col-md-2">
                                            Select Expence Type:
                                        </label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(c => c.ExpenceType, new SelectList(Model.ListCBAM.Where(c => c.SrNo != 2 && c.SrNo != 5).ToList(), "SrNo", "ChargeName", ""), "", new { @class = "form-control select2  required required2" })
                                        </div>
                                    </div>

                                    <div class="form-group daterange">
                                        <label class="control-label col-md-2">
                                            Select Date:
                                        </label>
                                        <div class="col-md-3">
                                            <div id="reportrange" class="btn default col-md-12">
                                                <i class="fa fa-calendar"></i>
                                                &nbsp;
                                                <span></span>
                                                <b class="fa fa-angle-down"></b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group clsMonth" style="display:none;">
                                        <label class="control-label col-md-2">
                                            Select Month:
                                        </label>
                                        <div class="col-md-3">
                                            <div id="reportrange" class="btn default col-md-12">
                                                <i class="fa fa-calendar"></i>
                                                &nbsp;
                                                <span></span>
                                                <b class="fa fa-angle-down"></b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="control-label col-md-2">
                                            Select Branch:
                                        </label>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(c => c.BranchCode, new { placeholder = "Enter Branch", @class = "form-control required required2" })
                                            @Html.HiddenFor(m => m.FromDate)
                                            @Html.HiddenFor(m => m.ToDate)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">
                                            Select Staff :
                                        </label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(c => c.Staff, new SelectList(List_Staff, "Value", "Text", ""), "", new { @class = "form-control select2  required required2" })
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="control-label col-md-2">
                                            Select Vendor:
                                        </label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(c => c.Vendor, new SelectList(List_Staff, "Value", "Text", ""), "", new { @class = "form-control select2  required required2" })
                                            @Html.HiddenFor(m => m.Vendor)
                                        </div>
                                    </div>

                                    <div class="form-actions fluid">
                                        <div class="col-md-offset-4 col-md-8">
                                            <button type="button" id="btnGetDetail" class="btn btn-sm green controls"><i class="fa fa-check"></i> Get DetailS</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="Approve_Reject">
                                </div>
                                <div class="form-actions fluid">
                                    <div class="col-md-offset-4 col-md-8">
                                        <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i> Submit</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>BR Pending to be Approved and Paid
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-6">
                                Cash Balanse On Today :
                            </label>
                            <div class="col-md-5 margin-top-5">
                                <span class="text-primary"><b>@Html.DisplayFor(c => c.CBAM.NetAmt, new { placeholder = "Enter Branch", @class = "form-control", @readonly = true })</b></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-6">
                                Other Pending Instruments :
                            </label>
                            <div class="col-md-5">
                                <span class="text-primary"><b>@Model.List_BRS.Sum(c => c.SumPendingApp)</b></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-6">
                                Effective CBS Balance :
                            </label>
                            <div class="col-md-5">
                                <span class="text-primary"><b>@calculated</b></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="portlet-body clsMF flip-scroll">
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        Type of Expense
                                    </th>
                                    <th class="center">
                                        Count of BRs which are pending to be approved
                                    </th>
                                    <th class="center">
                                        Sum of Amount of BRs which is pending to be approved
                                    </th>
                                    <th class="center">
                                        Count of approved BRs which are pending to be paid
                                    </th>
                                    <th class="center">
                                        Sum of approved Amount which is pending to be paid
                                    </th>
                                    <th class="center">
                                        Count of total BRs pending
                                    </th>
                                    <th class="center">
                                        Total amount Pending to be paid
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var itm in Model.List_BRS)
                                {
                                    Html.RenderPartial("_BR_StatusSummary", itm);
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var FormValidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);
            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span',
                errorClass: 'help-block',
                focusInvalid: false,
                ignore: "",
                rules: {},
                messages: {},
                invalidHandler: function (event, validator) {
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                success: function (label) {
                    label.closest('.form-group').removeClass('has-error');
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    // document.forms["form_sample"].submit()
                }
            });
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }
            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                //maxDate: '12/31/2014',
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#FromDate').val(start.format('MMMM D, YYYY'));
                     $('#ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ToDate').val(moment().format('MMMM D, YYYY'));
        }

        var BtnGetDetail = function (DomainName) {

            $("#btnGetDetail").click(function () {

                FormValidate(DomainName);

                App.blockUI({ boxed: true });
                var Type = 0;
                var Value = "";

                if ($("#Staff").val() != null && $("#Staff").val() != "Select" && $("#Staff").val() != "") {
                    Type = 1
                    Value = $("#Staff").val();
                }
                else if ($("#Labour").val() != null) {
                    Type = 2
                    Value = $("#Labour").val();
                }
                else if ($("#Vendor").val() != null && $("#Vendor").val() != "Select" && $("#Vendor").val() != "") {
                    Type = 3
                    Value = $("#Vendor").val();
                }
                else if ($("#Driver").val() != null) {
                    Type = 4
                    Value = $("#Driver").val();
                }
                var StrURL1 = DomainName + '/BranchAccounting/AccotingApproval?FromDate=' + $("#FromDate").val() + '&ToDate=' + $("#ToDate").val() + '&Location=' + $("#BranchCode").val() + '&ExpenceType=' + $("#ExpenceType").val() + '&Type=' + Type + '&Value=' + Value;

                $.ajax({
                    url: StrURL1,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (data) {

                        $("#disablediv :input").attr("disabled", true);
                        $("#disablediv").hide();
                        $("#Approve_Reject").html(data);
                        $("#titleTail").html("List");
                        $("#titleTail").closest("div").find("i").removeClass("fa-filter").addClass("fa-list");
                        $("input:checkbox, input:radio").uniform();
                        App.unblockUI();

                        var Count = 0
                        $("input[name='optionsRadios2']").click(function () {

                            var Id = $(this).attr("id");
                            $("#Id").val(Id);

                            if (parseInt(Id) != 0) {
                                $("#btnSubmit").show();
                                $("#btnSubmit").parents('.form-actions').show();
                            }
                            else {
                                $("#btnSubmit").hide();
                                $("#btnSubmit").parents('.form-actions').hide();
                            }
                        });
                    },
                    error: function (req, status, error) {
                        alert("error " + req + "   " + status + "   " + error);
                        App.unblockUI();
                    }
                });
            });

        }


        var Type = function (DomainName) {

            StrURL = DomainName + "/Master/GetDestinationLocationsWithHQTR";
            JsonDDLSelectCode("BranchCode", StrURL);
        }

        var filterHideShow = function () {
            if ($("#ExpenceType").val() == "2") {
                $(".daterange").hide();
                $(".clsMonth").show();
            }
            else {
                $(".daterange").show();
                $(".clsMonth").hide();
            }
        }

        var ApproveMangerValidation = function (Id) {

            var BaseLocationCode = '@ViewBag.BaselocationCode';
            var MainUserName = '@ViewBag.BaseUserName';
            var UserName = $("#CPEEApprov_" + Id + "__EmpCode").val();
            var MainUserName = '@ViewBag.BaseUserName';
            var UserName = $("#CPEEApprov_" + Id + "__EmpCode").val();
            var strUrl = "@Url.Action("GetData", "Account")";
            var parameters = {};
            parameters['Location'] = BaseLocationCode;
            parameters['MainEmpCode'] = MainUserName;
            parameters['Name'] = UserName;

            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: "json",
                data: {
                    Method: 'Check_Manager_User_Details',
                    parameters: parameters
                },
                success: function (result) {

                    console.log(result[0].ManagerId)

                    if (result[0].ManagerId != 0) {

                        TosterNotification("error", 'Message..!! This Employee Approve  Only Manager..', "Oppps..!!");
                        $("#btnSubmit").hide()
                        App.unblockUI('#responsive');

                    }
                    else {
                        $("#btnSubmit").show()
                        return false;
                    }

                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue while update candidate status... Please try again later..', "Oppps..!!");
                    App.unblockUI('#responsive');
                }
            });
        }

        return {
            init: function (DomainName) {

                FormValidate(DomainName);
                $("#btnSubmit").hide();
                $("#btnSubmit").parents('.form-actions').hide();
                BtnGetDetail(DomainName);
                handleDateRangePickers();
                Type(DomainName);

                $("#btnSubmit").click(function () {

                    if ($('#form_sample').valid()) {
                        App.blockUI({ boxed: true });
                        $("#disablediv :input").attr("disabled", false);
                        document.forms["form_sample"].submit()
                        $("#form_sample").submit();
                    }
                    else {
                        return false
                    }
                });

                $("#ExpenceType").live("change", function (e) {
                    var ExpenseType = $("#ExpenceType").val();
                    var BRCD = $("#BranchCode").val();
                    var StrURL = DomainName + "/BranchAccounting/Get_Staff_List?ExpenseType=" + ExpenseType + "&Branch=" + BRCD + "&DllType=" + 1;
                    var StrURL1 = DomainName + "/BranchAccounting/Get_Staff_List?ExpenseType=" + ExpenseType + "&Branch=" + BRCD + "&DllType=" + 3;

                    FillDropDownfromOther("Staff", StrURL, " a Staff");
                    FillDropDownfromOther("Vendor", StrURL1, " a Vendor");
                    filterHideShow();
                })

                $("#BranchCode").live("change", function (e) {
                    App.blockUI({ boxed: true });
                    var ExpenseType = $("#ExpenceType").val();
                    var BRCD = $("#BranchCode").val();
                    var StrURL = DomainName + "/BranchAccounting/Get_Staff_List?ExpenseType=" + ExpenseType + "&Branch=" + BRCD + "&DllType=" + 1;
                    var StrURL1 = DomainName + "/BranchAccounting/Get_Staff_List?ExpenseType=" + ExpenseType + "&Branch=" + BRCD + "&DllType=" + 3;

                    FillDropDownfromOther("Staff", StrURL, " a Staff");
                    FillDropDownfromOther("Vendor", StrURL1, " a Vendor");
                })

                /* Manger Approve Validation  */
                //$(".IsSelectd").live("change", function () {
                //    var Id = $(this).attr("id");
                //    $("#Id").val(Id);
                //    ApproveMangerValidation(Id)
                //});
            }
        }
    }();
</script>
