﻿@model Fleet.ViewModels.BR_StatusSummary
@using Fleet
@using Fleet.ViewModels
@{
    ViewBag.Title = "Branch Status Report List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var value = Model.List_BRS.Sum(c => c.SumAmt);
    var price = Model.BRS.NetAmt;
    var calculated = price-value;
}

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-list"></i>Branch Status Report List
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("", "", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-6">
                            Cash Balanse On Today :
                        </label>
                        <div class="col-md-5">
                            <b>@Html.DisplayFor(c => c.BRS.NetAmt, new { placeholder = "Enter Branch", @class = "form-control", @readonly = true })</b>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-6">
                            Other Pending Instruments :
                        </label>
                        <div class="col-md-5">
                            <b>  @Model.List_BRS.Sum(c => c.SumAmt)</b>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-6">
                            Effective CBS Balance :
                        </label>
                        <div class="col-md-5">
                            <b>@calculated</b>
                        </div>
                    </div>
                </div>
                <div class="portlet-body clsMF flip-scroll">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                            <tr>
                                <th class="center">
                                    Type of Expense
                                </th>
                                <th class="center">
                                    Count of BRs Generated
                                </th>

                                <th class="center">
                                    Sum of the Amount of BRs Generated
                                </th>
                                <th class="center">
                                    Count of BRs which are pending to be approved
                                </th>
                                <th class="center">
                                    Sum of Amount of BRs which is pending to be approved
                                </th>
                                <th class="center">
                                    Count of approved BRs which are pending to be paid
                                </th>
                                <th class="center">
                                    Sum of approved Amount which is pending to be paid
                                </th>
                                <th class="center">
                                    Count of total BRs pending
                                </th>
                                <th class="center">
                                    Total amount Pending to be paid
                                </th>
                                @if (Model.type == 2)
                                {
                                    <th class="center">
                                        Expense Approve
                                    </th>
                                }
                                else if (Model.type == 3)
                                {
                                    <th class="center">
                                        Expense Payment
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itm in Model.List_BRS)
                            {
                                Html.RenderPartial("_BR_StatusSummary", itm);
                            }
                        </tbody>


                    </table>
                   
                </div>
            </div>
            @*<div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <a class="btn btn-sm default controls" href="@Url.Action("BRStatusSummaryCriteria?type=++", "BranchAccounting")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
                </div>
            </div>*@
        }
    </div>
</div>
<script>
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                messages: {


                    //'ServiceFor': {
                    //    required: "Please select at least one service for option",
                    //    minlength: jQuery.format("Please Select at Least One Service For Option")
                    //}
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    //if (element.parents('.checkbox-list').size() > 0) {
                    //    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    //} else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                    //}
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //  form1.submit();
                }
            });
        }


        var SubmitClick = function (DomainName) {
            $('#btnSubmit').click(function () {
                var form = $('#form_sample');
                if (form.valid() == false) {
                    return false;
                }
                App.blockUI({ boxed: true });
                document.forms["form_sample"].submit();
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                SubmitClick(DomainName);
                $(".date").val('');
                $(".drp").select2({ allowClear: true });

                $('.date-picker').datepicker({
                    isRTL: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,

                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    todayBtn: true
                });

            }
        }
    }();
</script>
