﻿@model Fleet.ViewModels.BR_ViewPrint_Filter

@{
    ViewBag.Title = "BR View Print List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @using (Html.BeginForm("FinalBillEntryPayment", "Payment", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
    {

        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Bill No</th>
                                    <th>Status</th>
                                    <th>BR Type</th>
                                    <th>Voucher No</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListBR_Expance.ToList().OrderBy(c => c.ID))
                                {
                                    <tr>
                                        <td>
                                            <a href="@Url.Content("~/ViewPrint/BranchAccountingViewPrint?No=" + @item.BillNo + "&Type=" + @item.ExpanceType)" onclick="window.open(this.href, 'RCPL','left=20,top=20,width=900,height=620,toolbar=1,resizable=0'); return false;">@item.BillNo</a>
                                        </td>
                                        <td>@item.Bill_Status</td>
                                        <td>@item.ExpanceTypeName</td>
                                        <td>@item.VoucherNo</td>
                                        @*<td>
                                            <a target="_blank" href="@Url.Content("~/ViewPrint/BranchAccountingViewPrint?No=" + @item.VoucherNo + "&Type=" + @item.ExpanceType)">@item.VoucherNo</a>
                                        </td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <a class="btn btn-sm default controls" href="@Url.Content("~/BranchAccounting/BRViewPrint_Criteria/1")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Criteria</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var initTable = function (DomainName) {
            $('#sample_ven').dataTable({
                "aLengthMenu": [
                    [5, 10, 15, 20, -1],
                    [5, 10, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap",
                "bProcessing": true,
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "bDestroy": true,
                "aoColumnDefs": [
                     //{ 'bSortable': false, 'aTargets': [0] },
                     //{ "bSearchable": false, "aTargets": [0] }
                ]
            });

            jQuery('#sample_ven_wrapper .dataTables_filter input').addClass("form-control input-medium input-inline"); // modify table search input
            jQuery('#sample_ven_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
            jQuery('#sample_ven_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
               
                initTable(DomainName);
            }
        }
    }();
</script>