﻿@model Fleet.ViewModels.ExpensesEntryModule
@using FleetDataService.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using Fleet.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> OppNonOppType = new List<SelectListItem>(){
                    new SelectListItem{ Text="OPERATING", Value = "OPERATING" },
                    new SelectListItem{ Text="NON_OPERATING", Value = "NON_OPERATING" },
    };
    FleetDataService.OperationService CSOPN = new FleetDataService.OperationService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();

    List<Webx_Master_General> ListMonths = new List<Webx_Master_General>();
    ListMonths = MS.GetGeneralMasterObject().Where(C => C.CodeType == "MONTH").ToList();

    DateTime FinYearStartDate = Convert.ToDateTime(ViewBag.FinYearStartDate);
    DateTime FinYearEndDate = Convert.ToDateTime(ViewBag.FinYearEndDate);
    int Month = System.DateTime.Now.Month;
    int Year = System.DateTime.Now.Year;
    DateTime startDate = System.DateTime.Now.AddMonths(-1);
    DateTime endDate = System.DateTime.Now;
    if (FinYearEndDate < Convert.ToDateTime(System.DateTime.Now.ToString("dd MMM yyyy")))
    {
        ListMonths = ListMonths.Where(C => C.CodeType == "MONTH" && C.CodeId == FinYearEndDate.Month.ToString()).ToList();
        startDate = FinYearEndDate;
        endDate = FinYearEndDate;
    }
    else if (Convert.ToDateTime(System.DateTime.Now.ToString("dd MMM yyyy")).Month == FinYearStartDate.Month)
    {
        ListMonths = ListMonths.Where(C => C.CodeType == "MONTH" && C.CodeId == FinYearStartDate.Month.ToString()).ToList();
        if (Convert.ToDateTime(System.DateTime.Now.ToString("dd MMM yyyy")).Day <= 4)
        {
            startDate = FinYearStartDate;
        }
    }
    else if (Convert.ToDateTime(System.DateTime.Now.ToString("dd MMM yyyy")).Day <= 4)
    {
        ListMonths = ListMonths.Where(C => C.CodeType == "MONTH" && (C.CodeId == Month.ToString() || C.CodeId == (Month - 1).ToString())).ToList();
    }
    else
    {
        ListMonths = ListMonths.Where(C => C.CodeType == "MONTH" && C.CodeId == Month.ToString()).ToList();
    }

    //ListMonths = MS.GetGeneralMasterObject().Where(C => C.CodeType == "MONTH" && (C.CodeId == Month.ToString() @*|| C.CodeId == (Month + 1).ToString() *@|| C.CodeId == (Month - 1).ToString())).ToList();
    List<Webx_Master_General> newListMonths = new List<Webx_Master_General>();

    if (Model.SubType == 1)
    {
        foreach (var item in ListMonths)
        {
            Webx_Master_General objMonths = new Webx_Master_General();
            objMonths.Id = Convert.ToInt32(item.CodeId);
            objMonths.CodeId = item.CodeId;
            if (Convert.ToInt32(item.CodeId) > Month)
            {
                objMonths.CodeDesc = item.CodeDesc + " " + (Year - 1);
                objMonths.codefor = (Year - 1).ToString();
            }
            else
            {
                objMonths.CodeDesc = item.CodeDesc + " " + Year;
                objMonths.codefor = Year.ToString();
            }
            objMonths.CodeType = item.CodeType;
            newListMonths.Add(objMonths);
        }
    }
    else
    {
        newListMonths = MS.GetGeneralMasterObject().Where(C => C.CodeType == "MONTH").ToList();
    }


    List<webx_acctinfo> ListTDSSection = CSOPN.GetTDSSectionList();
    string ActionName = @ViewBag.ActionName;
    string IS_EMP_BankDetails = "1";// ViewBag.IS_EMP_BankDetails;

    objDate Date = new objDate();
    Date.ControlId = "Conveyance_Expense_HDR.BR_Date";
    Date.ControlValue = Model.Conveyance_Expense_HDR.BR_Date.ToString();
    Date.ModuleCode = "20";
}
<style type="text/css">
    .select2-results .select2-disabled {
        /*background: #b1b1b1 !important;*/
        color: #a0a0a0;
    }
</style>
@using (Html.BeginForm(ActionName, "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box  @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            You have some form errors. Please check below.
                        </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Your form validation is successful!
                        </div>

                        @Html.HiddenFor(m => m.Conveyance_Expense_HDR.ExpenceType)
                        @Html.HiddenFor(m => m.Conveyance_Expense_HDR.BillNo)
                        @Html.HiddenFor(m => m.Conveyance_Expense_HDR.BRCD)
                        @Html.HiddenFor(m => m.Conveyance_Expense_HDR.MaxLimit)
                        @Html.HiddenFor(m => m.Conveyance_Expense_HDR.MSGValidate)
                        @Html.HiddenFor(m => m.SubType)
                        @Html.HiddenFor(m => m.Type2)
                        @Html.Hidden("Add_Details_Count", Model.List_Conveyance_DET.Count())
                        @Html.Hidden("IS_EMP_BankDetails", IS_EMP_BankDetails)

                        <div class="form-group" id="PaymentPart">
                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Name of Employee</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Conveyance_Expense_HDR.EmpCode, new { placeholder = "Name of Employee", @class = "form-control required required2" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Employee Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBox("ShowEmpCode", Model.Conveyance_Expense_HDR.EmpCode, new { placeholder = "Employee Code", @class = "form-control required required2", @readonly = "true" })
                                        @Html.HiddenFor(c => c.Conveyance_Expense_HDR.EmpName)
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Claim for the Month</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Conveyance_Expense_HDR.Claim_For_Month, new SelectList(newListMonths, "CodeId", "CodeDesc", ""), "", new { placeholder = "Select Month", @class = "select2 form-control required required2 clsApproval_Rejection" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 clsApproval">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Name of Bank</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Conveyance_Expense_HDR.Bank_Name, new { placeholder = "Name of Bank", @class = "form-control ", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Bank A/C Number</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Conveyance_Expense_HDR.BankAccNumber, new { placeholder = "Bank A/C Number", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">IFSC Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Conveyance_Expense_HDR.IFSCCode, new { placeholder = "IFSC Code", @class = "form-control ", @readonly = "true" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Department</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Conveyance_Expense_HDR.Department, new { placeholder = "Department", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Name of HOD</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Conveyance_Expense_HDR.HOD_Name, new { placeholder = "Name of HOD", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Mobile Number</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Conveyance_Expense_HDR.Mobile_Number, new { placeholder = "Mobile Number", @class = "form-control ", @number = "true", @minlength = 10, @maxlength = 10, @readonly = "true" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 Conveyance">
                                <div class="col-md-4 form-group ">
                                    <label class="control-label col-md-4">BR Date</label>
                                    <div class="col-md-8">
                                        @*@{
                                            Html.RenderPartial("../UserControls/_DocumentDate", Date);
                                                                                }*@
                                        @Html.TextBox("Conveyance_Expense_HDR.BR_Date", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.Conveyance_Expense_HDR.BR_Date).ToString("dd MMM yyyy")), new { @class = "form-control required2", @readonly = "True", @style = "padding-right: 0px;" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Total Business</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Conveyance_Expense_HDR.Total_Business, new { placeholder = "Total Business", @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4" style="padding-left:0px;">Opp./ Non Opp. Type</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Conveyance_Expense_HDR.OppNonOpp_Type, new SelectList(OppNonOppType, "Value", "Text", ""), "", new { @class = "select2 form-control required required2", @placeholder = "Select Opp./ Non Opp. Type" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 Conveyance">
                                <div class="col-md-4 form-group ">
                                    <label class="control-label col-md-4">Tripsheet No.</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Conveyance_Expense_HDR.TripSheetNo, new { placeholder = "Tripsheet No.", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group ">
                                    <label class="control-label col-md-4">Expence Max Limit.</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Conveyance_Expense_HDR.Expence_Max_Limit, new { placeholder = "Expence Max Limit.", @number = "true", @class = "form-control", @readonly = "true",min="1" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group ">
                                    <label class="control-label col-md-4">Total Expence(As on Date)</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Conveyance_Expense_HDR.Total_Expence, new { placeholder = "Total Expence(As on Date)", @number = "true", @class = "form-control", @readonly = "true" })
                                        @Html.Hidden("Employee_Total_Expence")
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                @if (Model.SubType == 3)
                                {
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Payment Branch</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.Conveyance_Expense_HDR.BRCD, new { placeholder = "NAME OF EMPLOYEE", @class = "form-control required required2", @readonly = true })
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>

                    <div class="table-scrollable" id="PaymentPart1">
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    @if (Model.SubType == 2 || Model.SubType == 3)
                                    {
                                        <th style="white-space: pre-line">Bill No</th>
                                    }
                                    <th style="white-space: pre-line">Date</th>
                                    <th style="white-space: pre-line">Client Name /Party Name /Visiting Place</th>
                                    <th style="white-space: pre-line">Contact Person</th>
                                    <th style="white-space: pre-line">Contact No. of Concerned</th>
                                    <th style="white-space: pre-line">Reason</th>
                                    <th style="white-space: pre-line">Document No.</th>
                                    <th style="white-space: pre-line">Travelling Mode</th>
                                    <th style="white-space: pre-line">From Loc.</th>
                                    <th style="white-space: pre-line">To Loc.</th>
                                    <th style="white-space: pre-line">Milometer Opening</th>
                                    <th style="white-space: pre-line">Milometer Closing</th>
                                    <th style="white-space: pre-line">Distance Covered(Kms.)</th>
                                    <th style="white-space: pre-line">Amount</th>
                                    <th style="white-space: pre-line">Upload File</th>
                                    @if (Model.SubType == 2 || Model.SubType == 3)
                                    {
                                        <th style="white-space: pre-line">Amount Passed</th>
                                        <th style="white-space: pre-line">Amount Rejected</th>
                                        <th style="white-space: pre-line">Reason for Rejection</th>
                                    }
                                    @if (Model.SubType == 1)
                                    {
                                        <th>X</th>
                                    }
                                </tr>
                            </thead>

                            <tbody id="Bodycontainer">
                                @foreach (var item in Model.List_Conveyance_DET)
                                {
                                    item.OppNonOpp_Type = Model.Conveyance_Expense_HDR.OppNonOpp_Type;
                                    if (FinYearEndDate < Convert.ToDateTime(System.DateTime.Now.ToString("dd MMM yyyy")))
                                    {
                                        item.Date = FinYearEndDate;
                                    }
                                    Html.RenderPartial("_Conveyance_Local_Expenses_Partial", item);
                                }
                            </tbody>
                            <tbody>
                                <tr>
                                    @if (Model.SubType == 2 || Model.SubType == 3)
                                    {
                                        <th></th>
                                    }
                                    <th colspan="11"></th>
                                    <th id="Total_DistanceCovered"></th>
                                    <th style="text-align:right;" class="center form-group  ">
                                        @Html.TextBox("Total_Amount_Tot", "", new { @class = "form-control required required2 Total_Amount_Tot", @readonly = "true", @min = "1", @number = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @placeholder = "Total Amount" })
                                    </th>
                                    @if (Model.SubType == 2 || Model.SubType == 3)
                                    {
                                        <th></th>
                                        <th class="center form-group  ">
                                            @Html.TextBox("Amount_Passed_Tot", "", new { @class = "form-control required required2", @readonly = "true", @number = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @placeholder = "Total Amount" })
                                        </th>
                                        <th class="center form-group  ">
                                            @Html.TextBox("Amount_Rejected_Tot", "", new { @class = "form-control required required2", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @placeholder = "Total Amount" })
                                        </th>
                                        <th></th>
                                    }
                                    @if (Model.SubType == 1)
                                    {
                                        <th></th>
                                    }
                                </tr>
                                <tr>
                                    @if (Model.SubType == 1)
                                    {
                                        <th colspan="20" style="text-align:right;">
                                            <button type="button" id="btnAddNewRow" class="btn btn-sm blue"><i class="fa fa-plus"></i> Add New Row</button>
                                        </th>
                                    }
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" id="PaymentControl">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Payment @ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body ">
                        @if (Model.SubType == 3)
                        {
                            @*@Html.Partial("_BranchAccounting_PaymentPart", Model);
                                <hr />*@
                            <div class="form-group">
                                @foreach (var itms in Model.WADListing)
                                {
                                    itms.Vouchertype = "BranchAccountingType";
                                    itms.ExpesneType = 3;
                                    @*@Html.Partial("../Voucher/_PaymentModePartial", itms)*@
                                    @Html.Partial("../Voucher/_PaymentModePartiaBranchAccounting", itms)
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-actions fluid" id="SubmitBtn">
                @{
                    @Html.Partial("_BranchAcct_SubmitPartial", Model)
                }
            </div>
        </div>
    </div>
}

@*<script type="text/javascript" src="@Url.Content("~/Scripts/AccountControl.js")">
    </script>*@
@*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFj6e5SbiuI_lmsa09LglI-rNHkEeGbto&libraries=places&sensor=false"></script>*@

<script src="~/Scripts/BranchAccounting/BranchAccounting.js?ver<%=DateTime.Now.Ticks.ToString()%>" type="text/javascript"></script>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var select2Date = function (DomainName) {

            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });

            @*if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: new Date('@startDate'),
                    endDate: new Date('@endDate'),
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }*@
        }

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            $.validator.addMethod('checkConveyanceMaxLimit', function (value, element) {
                var DocType = $("#Conveyance_Expense_HDR_MaxLimit").val();

                if ($("#Total_Amount_Tot").val() < $("#Conveyance_Expense_HDR_MaxLimit").val()) {

                    //$("#Conveyance_Expense_HDR_MSGValidate").val("not in master, Please contact HR");
                    return false;
                }
                else if ($("#Total_Amount_Tot").val() > $("#Conveyance_Expense_HDR_MaxLimit").val()) {

                    // $("#Conveyance_Expense_HDR_MSGValidate").val("" + $("#Conveyance_Expense_HDR_MaxLimit").val() + ", Please contact HR");
                    return false;
                }
                else {
                    return true;
                }

            }, "" + $("#Conveyance_Expense_HDR_MSGValidate").val() + "");
            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "hidden",

                rules: {
                    //account dateFuture                    
                },

                messages: {
                    "Total_Amount_Tot": {
                        max: jQuery.validator.format("Your amount Limit Available is {0}, Please contact HR."),
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //document.form["form_sample"].submit();
                }
            });
        }

        /* Acouting Calculation */
        var Accounting_Calculation = function (DomainName, Prefix) {
            IsServicetaxCalculated(DomainName, Prefix)
            OnLoadFunction(DomainName, Prefix, $("#Conveyance_Expense_HDR_ExpenceType").val())

            $("#WAD_IsServicetaxapply").change(function () {
                IsServicetaxCalculated(DomainName, Prefix);
            })
            $("#WAD_IsTDStaxapply").change(function () {
                IsServicetaxCalculated(DomainName, Prefix);
            })
            $("#WAD_TDSRate").focusout(function () {
                IsServicetaxCalculated(DomainName, Prefix);
            })
        }

        var Submit_Approval_Rejection = function (DomainName) {

            $("#btnSubmit").click(function () {

                //$(".Total_Amount_Tot").each(function () {
                //    if ($("#Conveyance_Expense_HDR_MaxLimit").val() == 0) {

                //        $("#Conveyance_Expense_HDR_MSGValidate").val("Your amount Limit is not in master, Please contact HR");
                //    }                       
                //    else if ($("#Total_Amount_Tot") > $("#Conveyance_Expense_HDR_MaxLimit").val()) {
                //        $("#Conveyance_Expense_HDR_MSGValidate").val("Your amount Limit Available is " + $("#Conveyance_Expense_HDR_MaxLimit").val() + ", Please contact HR");
                //    }
                //    else {
                //        $("#Conveyance_Expense_HDR_MSGValidate").val("");
                //    }
                //    $(this).rules("add", {
                //        checkConveyanceMaxLimit: true,
                //    });
                //});
                Formvalidate(DomainName);
                if ($('#form_sample').valid() && $("#Conveyance_Expense_HDR_MaxLimit").val() > 0) {
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit()
                }
                else {
                    return false
                }
            });

            //$("#btnSubmit").click(function () {
            //    Formvalidate(DomainName);
            //    if ($('#form_sample').valid()) {
            //        App.blockUI({ boxed: true });
            //        document.forms["form_sample"].submit()
            //        //$("#form_sample").submit();
            //    }
            //    else {
            //        return false
            //    }
            //});

            $('#btnRejectAtHO').click(function () {

                Formvalidate(DomainName);

                //$(".clsAmount_Passed").each(function () {
                //    var Id = $(this).attr("id").replace("Amount_Passed", "");
                //    //$("#" + Id + "Reason_For_Rejection").addClass("required required2")
                //    //$("#" + Id + "Amount_Passed").attr("min", "0")
                //    $("#" + Id + "Amount_Passed").removeClass("required required2")
                //    $("#" + Id + "Amount_Rejected").attr("min", "1")
                //})
                //$("#Amount_Rejected_Tot").attr("min", "1")

                if ($('#form_sample').valid()) {

                    $(".clsApproval_Rejection").attr("disabled", false)
                    $("#PaymentPart :input").attr("disabled", false);

                    App.blockUI({ boxed: true });
                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/Conveyance_Reject');
                    document.forms["form_sample"].submit()
                }
            });

            $('#btnAuthorizeAtHo').click(function () {

                Formvalidate(DomainName);
                $("#Amount_Passed_Tot").attr("min", "1")

                if ($('#form_sample').valid()) {

                    $(".clsApproval_Rejection").attr("disabled", false)
                    $("#PaymentPart :input").attr("disabled", false);

                    App.blockUI({ boxed: true });
                    Formvalidate(DomainName);
                    App.blockUI({ boxed: true });
                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/Conveyance_Approval');
                    document.forms["form_sample"].submit()
                };

            });

            if ($("#SubType").val().replace(" ", "") == "3") {

                $("#PaymentControl").show();

                var AmountApplicable = 0;
                $(".clsAmount_Passed").each(function () {
                    AmountApplicable = parseFloat(AmountApplicable) + parseFloat($(this).val());
                });
                $("#WAD_AmountApplicable").val(AmountApplicable)
                $("#PAYMENTMODE_1__AmountApplicable").val(AmountApplicable)
                $("#PAYMENTMODE_1__NETAMOUNT").val(AmountApplicable)

                $("#PaymentPart :input").attr("disabled", true);
                $("#PaymentPart1 :input").attr("disabled", true);

                if ($("#WAD_AmountApplicable").val() == "0") {
                    $("#btnApprovSubmit").attr("disabled", "disabled");
                }
                $("#PAYMENTMODE_1__PaymentMode").change(function () {

                    if ($(this).val() == "Bank") {
                        $("#PAYMENTMODE_1__ChequeAmount").val($("#PAYMENTMODE_1__AmountApplicable").val());
                    }
                    else {
                        $("#PAYMENTMODE_1__CashAmount").val($("#PAYMENTMODE_1__AmountApplicable").val());
                    }
                })

                $("#btnApprovSubmit").click(function () {

                    $("#PaymentPart :input").attr("disabled", false);
                    $("#PaymentPart1 :input").attr("disabled", false);

                    Formvalidate(DomainName);

                    if ($('#form_sample').valid()) {
                        App.blockUI({ boxed: true });

                        $("#PaymentPart :input").attr("disabled", false);
                        $("#PaymentPart1 :input").attr("disabled", false);

                        //$('#form_sample').attr('action', DomainName + '/BranchAccounting/Accounting_Payment_Submit');
                        $('#form_sample').attr('action', DomainName + '/BranchAccounting/Accounting_Payment_Submit_New_Process');
                        $("#container :input").attr("disabled", false);
                        document.forms['form_sample'].submit()
                        $('#' + FormID + '').submit();
                    }
                    else {
                        $("#PaymentPart :input").attr("disabled", true);
                        $("#PaymentPart1 :input").attr("disabled", true);
                    }
                });
            }
        }

        var AddDetails = function (DomainName, itemIn) {

            var StrURL1 = DomainName + '/BranchAccounting/_Add_Expenses_Details/' + itemIn + "?Type=2&Subtype=" + $("#SubType").val();

            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    var Rid = itemIn;
                    $("#Bodycontainer").append(html);
                    App.unblockUI();
                    $("#Add_Details_Count").val(itemIn);

                    $("#CPEEDET_" + itemIn + "__Travel_Mode").select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });

                    $("#CPEEDET_" + itemIn + "__Travel_Mode").change(function () {
                        Amount_Calculation(DomainName, itemIn);
                    });
                    $("#CPEEDET_" + itemIn + "__Distance_Covered").focusout(function () {
                        Amount_Calculation(DomainName, itemIn);
                    });

                    @*if (new Date('@FinYearEndDate') < new Date('@Convert.ToDateTime(System.DateTime.Now.ToString("dd MMM yyyy"))')) {
                        $("#CPEEDET_" + itemIn + "__Date").val('@FinYearEndDate.ToString("dd MMM yyyy")');
                    }*@
                    @*$("#CPEEDET_" + itemIn + "__Date").datepicker("remove");
                    $(".date-picker").datepicker({
                        rtl: App.isRTL(),
                        format: "dd M yyyy",
                        autoclose: true,
                        startDate: new Date('@startDate'),
                        endDate: new Date('@endDate'),
                    });*@
                    $(".clsTravelMode option[value*='7']").attr('disabled', true);

                    //var FromID = "CPEEDET_" + itemIn + "__MFrom";
                    //var TOID = "CPEEDET_" + itemIn + "__MTo";

                    //googleAPILocation('' + FromID + '');
                    //googleAPILocation('' + TOID + '');

                    ClaimForMonthDateEvent(DomainName, itemIn);

                    $("#CPEEDET_" + itemIn + "__Opening").live("change", function () {
                        var Op = parseFloat($(this).val());
                        var Cl = parseInt($("#CPEEDET_" + itemIn + "__Closing").val());
                        $("#CPEEDET_" + itemIn + "__Closing").attr("min", Op);
                        var Covered = Cl - Op;
                        if (isNaN(Covered)) {
                            Covered = 0
                        }
                        Amount_Calculation(DomainName, itemIn);
                    });

                    $("#CPEEDET_" + itemIn + "__Closing").live("change", function () {
                        var Cl = parseFloat($(this).val());
                        var Op = parseInt($("#CPEEDET_" + itemIn + "__Opening").val());
                        var Covered = Cl - Op;
                        if (isNaN(Covered)) {
                            Covered = 0
                        }
                        $("#CPEEDET_" + itemIn + "__Distance_Covered").val(Covered);
                        Amount_Calculation(DomainName, itemIn);
                    });

                    if ($("#Conveyance_Expense_HDR_OppNonOpp_Type").val() != null && $("#Conveyance_Expense_HDR_OppNonOpp_Type").val() != "") {
                        var strURL = DomainName + "/Contract/GetMasterList?str=" + $("#Conveyance_Expense_HDR_OppNonOpp_Type").val();
                        FillDropDownfromOther1("CPEEDET_" + itemIn + "__Reason_Purpose_Visting", strURL, "REASON");
                    }

                    @*$('#CPEEDET_' + itemIn + '__Date').datepicker({
                        rtl: App.isRTL(),
                        format: "dd M yyyy",
                        autoclose: true,
                        startDate: new Date('@startDate'),
                        endDate: new Date('@endDate'),
                    });
                    $('body').removeClass("modal-open");*@
                },
                error: function (req, status, error) {
                    alert("error " + req + "   " + status + "   " + error);
                }
            });
        }

        var HDR_EmpCode = function (DomainName) {


        }

        var calTotAmount = function (DomainName) {
            var totAmount = 0;
            var Amount_Passed = 0;
            $(".clsAmount").each(function () {
                totAmount = parseFloat(totAmount) + parseFloat($(this).val());
            });
            $("#Total_Amount_Tot").val(totAmount);

            var Total_Expence = parseFloat(totAmount) + parseFloat($("#Employee_Total_Expence").val());

            if (isNaN(Total_Expence)) {
                Total_Expence = 0
            }

            $("#Conveyance_Expense_HDR_Total_Expence").val(Total_Expence);

            var totDistanceCovered = 0;
            $(".clsDistanceCovered").each(function () {
                totDistanceCovered = totDistanceCovered + parseFloat($(this).val() == "" ? 0 : $(this).val());
            });
            $("#Total_DistanceCovered").text(totDistanceCovered);
        }

        var googleAPILocation = function (ID) {

            google.maps.event.addDomListener(window, 'load', function () {
                var options = {
                    //types: ['(cities)'],
                    componentRestrictions: { country: "in" }
                };

                var input = document.getElementById("" + ID + "");
                var places = new google.maps.places.Autocomplete(input, options);

                google.maps.event.addListener(places, 'place_changed', function () {
                    var place = places.getPlace();
                    var address = place.formatted_address;
                    var Latitude = place.geometry.location.lat();
                    var Longitude = place.geometry.location.lng();
                    //alert(place + "  " + address + "  " + Latitude + "  " + Longitude);
                    //$("#CWE_GoogleLatitude").val(Latitude);
                    //$("#CWE_GoogleLongitude").val(Longitude);
                });

            });
        }

        var Labour_Name_EmpCode_Change_Events = function (DomainName, EmpCode, Labour_Name) {

            if (EmpCode != "") {
                $("#Conveyance_Expense_HDR_Labour_Name").val("");
                $("#Conveyance_Expense_HDR_Labour_Name").attr("readonly", true);
                $("#Conveyance_Expense_HDR_Labour_Name").removeClass("required required2");
                $("#Conveyance_Expense_HDR_EmpCode").attr("readonly", false);
                $("#Conveyance_Expense_HDR_EmpCode").addClass("required required2");
                $("#ShowEmpCode").addClass("required required2");
            }
            else if (Labour_Name != "") {
                $("#Conveyance_Expense_HDR_EmpCode").val("");
                $("#Conveyance_Expense_HDR_EmpCode").attr("readonly", true);
                $("#Conveyance_Expense_HDR_EmpCode").removeClass("required required2");
                $("#ShowEmpCode").removeClass("required required2");
                $("#Conveyance_Expense_HDR_Labour_Name").attr("readonly", false);
                $("#Conveyance_Expense_HDR_Labour_Name").addClass("required required2");
            }
            else if (EmpCode == "" && Labour_Name == "") {
                $("#Conveyance_Expense_HDR_EmpCode").attr("readonly", false);
                $("#Conveyance_Expense_HDR_EmpCode").addClass("required required2");
                $("#ShowEmpCode").addClass("required required2");
                $("#Conveyance_Expense_HDR_Labour_Name").attr("readonly", false);
                $("#Conveyance_Expense_HDR_Labour_Name").addClass("required required2");
            }
        }

        var Amount_Calculation = function (DomainName, itemindex) {

            var Travel_Mode = $("#CPEEDET_" + itemindex + "__Travel_Mode").val();
            var Distance_Covered = $("#CPEEDET_" + itemindex + "__Distance_Covered").val();

            if (Travel_Mode == "9" || Travel_Mode == "10" || Travel_Mode == "11") {
                App.blockUI({ boxed: true });

                $("#CPEEDET_" + itemindex + "__Opening").attr("readonly", false);
                $("#CPEEDET_" + itemindex + "__Opening").attr("min", 1);
                $("#CPEEDET_" + itemindex + "__Closing").attr("readonly", false);
                $("#CPEEDET_" + itemindex + "__Amount").attr("readonly", true);
                $("#CPEEDET_" + itemindex + "__Distance_Covered").attr("readonly", true);

                var strUrl = "@Url.Action("GetData", "Account")";
                var parameters = {};
                parameters['Travel_Mode'] = Travel_Mode;
                parameters['BaseUserName'] = '@ViewBag.BaseUserName';
                parameters['LocationCode'] = '@ViewBag.BaseLocationCode';

                $.ajax({
                    url: strUrl,
                    type: 'POST',
                    dataType: "json",
                    data: {
                        Method: 'Get_Conveyance_Travel_Mode_Rate',
                        parameters: parameters
                    },
                    success: function (result) {

                        var Rate_Per_KM = result[0].Rate_Per_KM;
                        var Amount = parseFloat(Rate_Per_KM) * parseFloat(Distance_Covered);

                        $("#CPEEDET_" + itemindex + "__Travel_Mode_Rate").val(result[0].Rate_Per_KM);
                        $("#CPEEDET_" + itemindex + "__Amount").val(parseFloat(Amount).toFixed(2));
                        calTotAmount();
                        App.unblockUI();
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue while update candidate status... Please try again later..', "Oppps..!!");
                        App.unblockUI('#responsive');
                    }
                });
            }
            else {

                $("#CPEEDET_" + itemindex + "__Opening").attr("readonly", true);
                $("#CPEEDET_" + itemindex + "__Opening").attr("max", 0);
                $("#CPEEDET_" + itemindex + "__Opening").attr("min", 0);
                $("#CPEEDET_" + itemindex + "__Opening").val("0");
                $("#CPEEDET_" + itemindex + "__Closing").attr("readonly", true);
                $("#CPEEDET_" + itemindex + "__Closing").attr("max", 0);
                $("#CPEEDET_" + itemindex + "__Closing").attr("min", 0);
                $("#CPEEDET_" + itemindex + "__Closing").val("0");
                $("#CPEEDET_" + itemindex + "__Distance_Covered").attr("readonly", false);
                $("#CPEEDET_" + itemindex + "__Amount").attr("readonly", false);
                $("#CPEEDET_" + itemindex + "__Amount").val("0");
            }
        }

        var ClaimForMonthDateEvent = function (DomainName, itemIndex) {
            var monthInt = $("#Conveyance_Expense_HDR_Claim_For_Month").val();
            var monthtxt = $("#Conveyance_Expense_HDR_Claim_For_Month option:selected").text();
            var Yearint = monthtxt.substr(monthtxt.length - 4);

            var StartDate = new Date(Yearint, monthInt - 1, 1); / Start date as first day of selected month /
            console.log(itemIndex);
            var EndDate = new Date(Yearint, monthInt, 0); / End date as Last day of selected month /
            $(".date-pickerDate").datepicker("remove");
            $("#CPEEDET_" + itemIndex + "__Date").val("");

            if (jQuery().datepicker) {
                $('.date-pickerDate').datepicker({
                    rtl: App.isRTL(),
                    format: "dd MM yyyy",
                    autoclose: true,
                    startDate: StartDate,
                    endDate: (EndDate > new Date()) ? new Date() : EndDate,/* set small date among today and selected month last day*/
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
            $("#CPEEDET_1__Date").val(StartDate.getDate() + ' ' + monthtxt.substr(0, 3) + ' ' + StartDate.getFullYear());
            $("#CPEEDET_" + itemIndex + "__Date").val(StartDate.getDate() + ' ' + monthtxt.substr(0, 3) + ' ' + StartDate.getFullYear());
        }

        var GetConveyanceMaxLimit = function (DomainName) {

            var EmpCode = $("#Conveyance_Expense_HDR_EmpCode").val();
            var ClaimMonth = $("#Conveyance_Expense_HDR_Claim_For_Month").val();

            App.blockUI({ boxed: true });

            var strUrl = "@Url.Action("GetData", "Account")";
            var parameters = {};
            parameters['EmpCode'] = EmpCode;
            parameters['ClaimMonth'] = ClaimMonth;

            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: "json",
                data: {
                    Method: 'Get_Conveyance_Emp_Max_Limit',
                    parameters: parameters
                },
                success: function (result) {
                    $("#Conveyance_Expense_HDR_MaxLimit").val(result[0].ConveyanceExpance);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue while update candidate status... Please try again later..', "Oppps..!!");
                    App.unblockUI('#responsive');
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                var Prefix = "PAYMENTMODE_1__";
                Formvalidate(DomainName);
                GetVehicleEmployeeUserName("Conveyance_Expense_HDR_NameOfVendor", "V");
                GetVehicleEmployeeUserName_BranchWise("Conveyance_Expense_HDR_EmpCode", "U");
                StrURL = DomainName + "/Operation/GetDestinationLocations";
                JsonDDLSelectCode("Conveyance_Expense_HDR_Branch_Name", StrURL);
                calTotAmount();




                $("#CPEEDET_1__Travel_Mode").change(function () {
                    Amount_Calculation(DomainName, "1");
                });
                $("#CPEEDET_1__Distance_Covered").focusout(function () {
                    Amount_Calculation(DomainName, "1");
                });

                $("#Conveyance_Expense_HDR_EmpCode").change(function () {
                    EmpCode_Change(DomainName, $(this).val(), "Conveyance_Expense_HDR_", 1, 0, 0, 0);
                    Labour_Name_EmpCode_Change_Events(DomainName, $("#Conveyance_Expense_HDR_EmpCode").val(), $("#Conveyance_Expense_HDR_Labour_Name").val());
                    GetConveyanceMaxLimit(DomainName)
                });

                $("#Conveyance_Expense_HDR_Labour_Name").keyup(function () {
                    Labour_Name_EmpCode_Change_Events(DomainName, $("#Conveyance_Expense_HDR_EmpCode").val(), $("#Conveyance_Expense_HDR_Labour_Name").val());
                });

                if ($("#Conveyance_Expense_HDR_EmpCode").val() != '' && $("#Conveyance_Expense_HDR_EmpCode").val() != null) {
                    $("#Conveyance_Expense_HDR_EmpCode").select2("data", { id: $("#Conveyance_Expense_HDR_EmpCode").val(), text: $("#Conveyance_Expense_HDR_EmpName").val() });
                    $("#ShowEmpCode").val($("#Conveyance_Expense_HDR_EmpCode").val());
                }
                if ($("#SubType").val() == "2" || $("#SubType").val() == "3") {
                    Labour_Name_EmpCode_Change_Events(DomainName, $("#Conveyance_Expense_HDR_EmpCode").val(), $("#Conveyance_Expense_HDR_Labour_Name").val());
                }

                select2Date(DomainName);
                $("#PaymentControl").hide();
                $("#ApprovSubmit").hide();
                Accounting_Calculation(DomainName, Prefix);
                Submit_Approval_Rejection(DomainName);

                $("#btnAddNewRow").click(function () {
                    if ($("#Conveyance_Expense_HDR_OppNonOpp_Type").val() != null && $("#Conveyance_Expense_HDR_OppNonOpp_Type").val() != "") {
                        var itemIndex = parseInt($("#Add_Details_Count").val()) + parseInt(1);
                        App.blockUI({ boxed: true });
                        AddDetails(DomainName, itemIndex);
                    }
                    else {
                        if (!$('#form_sample').valid())
                            Formvalidate(DomainName);
                    }
                });

                $(".deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });

                @*
                @foreach(var item in @Model.List_Conveyance_DET)
                {
                    var FromID = "CPEEDET_"+item.ID+"__MFrom";
                    var TOID = "CPEEDET_" + item.ID + "__MTo";
                    <text>
                googleAPILocation('@FromID');
                googleAPILocation('@TOID');
                </text>
                }
                *@

                BR_Request_Common_Function(DomainName, "Conveyance_Expense_HDR_", "Conveyance_Expense_DET_", "form_sample");

                /*  Opp. & Non Opp. Change Events */

                $("#Conveyance_Expense_HDR_OppNonOpp_Type").change(function () {
                    var strURL = DomainName + "/Contract/GetMasterList?str=" + $("#Conveyance_Expense_HDR_OppNonOpp_Type").val();
                    $("select.oppNonOppReason").each(function () {
                        FillDropDownfromOther1($(this).attr('id'), strURL, "REASON");
                    });

                    if ($(this).val() == "MONTHLYPASS") {
                        $("#btnAddNewRow").hide();
                        $(".clsTravelMode option[value*='7']").attr('disabled', false);
                        $(".clsTravelMode").val('7');
                        $('.deleteRow').click();
                        $("#" + $("select.clsTravelMode").attr('id')).select2();
                        $("#" + $("select.clsTravelMode").attr('id')).attr("readonly", true);
                        $("#Reason_Purpose_Visting")
                        $(".oppNonOppReason").removeClass("required required2");
                    }
                    else {
                        $("#btnAddNewRow").show();
                        $(".clsTravelMode option[value*='7']").attr('disabled', true);
                        $(".clsTravelMode").val('');
                        $("#" + $("select.clsTravelMode").attr('id')).select2();
                        $("#" + $("select.clsTravelMode").attr('id')).attr("readonly", false);
                        $(".oppNonOppReason").addClass("required required2");
                    }
                });


                $("select.oppNonOppReason").live('change', function () {
                    //$("#" + $(this).attr('id').replace('Reason_Purpose_Visting', 'DocumentNo')).attr('placeholder', $("#" + $(this).attr('id') + " option:selected").text());
                    $("#" + $(this).attr('id').replace('Reason_Purpose_Visting', 'DocumentNo')).val('');
                });

                $("#Conveyance_Expense_HDR_Claim_For_Month").live('change', function () {
                    var itemIndex = parseInt($("#Add_Details_Count").val()) + parseInt(1);
                    ClaimForMonthDateEvent(DomainName, itemIndex);
                })

                $('.clsDocumentNo').live("change", function () {

                    var ID = $(this).attr("id");
                    var IDs = $(this).attr("id").replace("DocumentNo", "");
                    var Value = $("#" + $(this).attr('id')).val();

                    var OppNonOpp_Type = $("#Conveyance_Expense_HDR_OppNonOpp_Type").val();

                    $(".dockNo").each(function () {
                        var IDInner = $(this).attr("id");
                        var ValueInner = $("#" + $(this).attr("id")).val();
                        //alert(ValueInner + '__' + Value);
                        if (IDInner != ID && ValueInner == Value) {
                            alert("Can not enter duplicate number.");
                            $("#" + ID).val('');
                            return false;
                        }
                    });

                    jQuery.validator.addMethod("checkDocumentNo", function (value, element) {

                        var StrURL = DomainName + "/BranchAccounting/GetDocumentNoStatusDetails?DocumentNo=" + value.trim() + "&Type=" + $("#" + IDs + "Reason_Purpose_Visting").val().trim() + "&OppNonOpp_Type=" + $("#Conveyance_Expense_HDR_OppNonOpp_Type").val();

                        var result1 = $.ajax({
                            async: false,
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            url: StrURL,
                            dataType: 'json',
                            data: {},
                        });
                        var d1 = JSON.parse(result1.responseText);

                        if (d1.CNT == "1") {
                            $("#Conveyance_Expense_HDR_TripSheetNo").val(d1.TripSheetNo);
                            return true;
                        }
                        else {
                            $("#Conveyance_Expense_HDR_TripSheetNo").val("");
                            return false;
                        }
                    }, jQuery.validator.format("Enter correct Document no."));
                });

                $('#Bodycontainer').on('change', '.clsAmount,.clsDistanceCovered', function () {
                    calTotAmount();
                });

                $(".clsTravelMode option[value*='7']").attr('disabled', true);


                $("#PaymentPart").on('change', '#Conveyance_Expense_HDR_EmpCode,#Conveyance_Expense_HDR_Claim_For_Month', function () {
                    if ($("#Conveyance_Expense_HDR_EmpCode").val() != "" && $("#Conveyance_Expense_HDR_Claim_For_Month").val() != "") {

                        var strUrl = "@Url.Action("GetData", "Account")";
                        var parameters = {};
                        parameters['EmpCode'] = $("#Conveyance_Expense_HDR_EmpCode").val();
                        parameters['Claim_For_Month'] = $("#Conveyance_Expense_HDR_Claim_For_Month").val();
                        parameters['Branch'] = "@ViewBag.BaseLocationCode";

                        $.ajax({
                            url: strUrl,
                            type: 'POST',
                            dataType: "json",
                            data: {
                                Method: 'MonthlyPassValidation',
                                parameters: parameters
                            },
                            success: function (result) {

                                if (result[0].CNT == "0") {
                                    $('#Conveyance_Expense_HDR_OppNonOpp_Type >  option[value="MONTHLYPASS"]').remove();
                                    $("#Conveyance_Expense_HDR_OppNonOpp_Type").append($('<option></option>').val("MONTHLYPASS").html("MONTHLY PASS"));
                                }

                                var Total_Amount_Tot = parseFloat($("#Total_Amount_Tot").val());
                                if (isNaN(Total_Amount_Tot)) {
                                    Total_Amount_Tot = 0;
                                }
                                var Total_Expence = parseFloat(result[0].ExpAmount) + parseFloat(Total_Amount_Tot);
                                if (isNaN(Total_Expence)) {
                                    Total_Expence = 0;
                                }

                                //if (result[0].MaxExpAmount < parseFloat(result[0].ExpAmount) + parseFloat(Total_Amount_Tot) || result[0].MaxExpAmount == 0) {
                                //    $("#btnSubmit").attr("disabled", true);
                                //}
                                //else {
                                //    $("#btnSubmit").attr("disabled", false);
                                //}

                                $("#Conveyance_Expense_HDR_Total_Expence").val(parseFloat(result[0].ExpAmount) + parseFloat(Total_Amount_Tot));
                                $("#Employee_Total_Expence").val(parseFloat(result[0].ExpAmount) + parseFloat(Total_Amount_Tot));
                                //$("#Conveyance_Expense_HDR_Total_Expence").attr("max", result[0].MaxExpAmount);
                                $("#Conveyance_Expense_HDR_Expence_Max_Limit").val(result[0].MaxExpAmount);                               
                                $("#Total_Amount_Tot").attr("max", $("#Conveyance_Expense_HDR_MaxLimit").val());
                            },
                            error: function (req, status, error) {
                                TosterNotification("error", 'loadData ' + id + ' Opration fail..!! There is some issue while update candidate status... Please try again later..', "Oppps..!!");
                                App.unblockUI();
                            }
                        });
                    }
                });

                /*  Conveyance Approval New Module */

                if ("@ViewBag.Type" == "Conveyance") {
                    $(".Conveyance").hide();
                }
                else {
                    $(".Conveyance").show();
                }

                $("#CPEEDET_1__Opening").change(function () {
                    var Op = parseFloat($(this).val());
                    var Cl = parseFloat($("#CPEEDET_1__Closing").val());
                    $("#CPEEDET_1__Closing").attr("min", Op);
                    var Covered = Cl - Op;
                    if (isNaN(Covered)) {
                        Covered = 0
                    }

                    var Travel_Mode = $("#CPEEDET_1__Travel_Mode").val();
                    if (Travel_Mode == "9" || Travel_Mode == "10" || Travel_Mode == "11" || Travel_Mode == "12") {
                        $("#CPEEDET_1__Distance_Covered").val(Covered);
                    }
                    Amount_Calculation(DomainName, "1");
                });

                $("#CPEEDET_1__Closing").change(function () {
                    var Cl = parseFloat($(this).val());
                    var Op = parseFloat($("#CPEEDET_1__Opening").val());
                    var Covered = Cl - Op;
                    if (isNaN(Covered)) {
                        Covered = 0
                    }
                    var Travel_Mode = $("#CPEEDET_1__Travel_Mode").val();
                    if (Travel_Mode == "9" || Travel_Mode == "10" || Travel_Mode == "11" || Travel_Mode == "12") {
                        $("#CPEEDET_1__Distance_Covered").val(Covered);
                    }
                    Amount_Calculation(DomainName, "1");
                });
            }
        }
    }();
</script>
