﻿@model Fleet.ViewModels.BranchAccountingMaster
@using FleetDataService.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Fleet.Models.CYGNUS_Branch_Expance> List_Staff = new List<Fleet.Models.CYGNUS_Branch_Expance>();
    List<Webx_Master_General> ListMonths = new List<Webx_Master_General>();
    string ActionName = @ViewBag.ActionName;
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-wizard">
                    <div class="form-body">
                        @using (Html.BeginForm(ActionName, "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
                        {
                            <div class="tab-content">
                                <div id="disablediv">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Expence Type </label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(c => c.ConveyanceExpense, new { placeholder = "Expence Type ", @class = "form-control required required2", @readonly = true })
                                                    @Html.HiddenFor(m => m.SubmitType)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Select Branch:</label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(c => c.BranchCode, new { placeholder = "Branch ", @class = "form-control required required2" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Select Staff:</label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(c => c.Staff, new SelectList(List_Staff, "Value", "Text", ""), "", new { @class = "select2 form-control required required2" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">CLAIM MONTH</label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(c => c.Month, new SelectList(ListMonths, "Value", "Text", ""), "", new { @class = "select2 form-control   required required2" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions fluid">
                                        <div class="row">
                                            <div class="col-md-offset-5 col-md-5">
                                                <button type="button" id="btnGetDetail" class="btn btn-sm blue"><i class="fa fa-search"></i>&nbsp;Get DetailS</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="Approve_Reject"></div>
                                <div class="form-actions fluid">
                                    <div class="col-md-offset-4 col-md-8">
                                        <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i> Submit</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var FormValidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);
            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span',
                errorClass: 'help-block',
                focusInvalid: false,
                ignore: "",
                rules: {},
                messages: {},
                invalidHandler: function (event, validator) {
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                success: function (label) {
                    label.closest('.form-group').removeClass('has-error');
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //App.blockUI({ boxed: true });
                    //document.forms["form_sample"].submit()
                }
            });
        }


        var BtnGetDetail = function (DomainName) {

            $("#btnGetDetail").click(function () {

                FormValidate(DomainName);

                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });
                }
                else {
                    return false
                }

                App.blockUI({ boxed: true });
                var Type = 0;
                var Value = "";
                var Staff = $("#Staff").val();
                var BRCD = $("#BranchCode").val();
                var Month = $("#Month").val();
                var SubmitType = $("#SubmitType").val();
                var StrURL1 = DomainName + '/BranchAccounting/AccotingApproval_Conveyance?Location=' + BRCD + '&Staff=' + Staff + '&Month=' + Month + '&SubmitType=' + SubmitType;

                $.ajax({
                    url: StrURL1,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (data) {

                        $("#disablediv :input").attr("disabled", true);
                        $("#disablediv").hide();
                        $("#Approve_Reject").html(data);
                        $("input:checkbox, input:radio").uniform();
                        App.unblockUI();

                        var Count = 0
                        $(".CLSCHKCKED").click(function () {

                            var Id = $(this).attr("id");
                            $("#Id").val(Id);

                            if (parseInt(Id) != 0) {
                                $("#btnSubmit").show();
                            }
                            else {
                                $("#btnSubmit").hide();
                            }
                        });
                    },
                    error: function (req, status, error) {
                        alert("error " + req + "   " + status + "   " + error);
                        App.unblockUI();
                    }
                });
            });

        }
        var Type = function (DomainName) {

            StrURL = DomainName + "/Master/GetDestinationLocationsWithHQTR";
            JsonDDLSelectCode("BranchCode", StrURL);
        }

        var ApproveMangerValidation = function (Id) {

            var BaseLocationCode = '@ViewBag.BaselocationCode';
            var MainUserName = '@ViewBag.BaseUserName';
            var UserName = $("#CPEEApprov_" + Id + "__EmpCode").val();
            var MainUserName = '@ViewBag.BaseUserName';
            var UserName = $("#CPEEApprov_" + Id + "__EmpCode").val();
            var strUrl = "@Url.Action("GetData", "Account")";
            var parameters = {};
            parameters['Location'] = BaseLocationCode;
            parameters['MainEmpCode'] = MainUserName;
            parameters['Name'] = UserName;

            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: "json",
                data: {
                    Method: 'Check_Manager_User_Details',
                    parameters: parameters
                },
                success: function (result) {

                    console.log(result[0].ManagerId)

                    if (result[0].ManagerId != 0) {

                        TosterNotification("error", 'Message..!! This Employee Approve  Only Manager..', "Oppps..!!");
                        // $("#btnSubmit").hide()
                        $("#CPEEApprov_" + Id + "__IsChecked").attr("checked", false);
                        $("#CPEEApprov_" + Id + "__IsChecked")  .parents('span').removeClass("checked");
                        App.unblockUI('#responsive');
                        
                    }
                    else {
                        $("#btnSubmit").show()
                        return false;
                    }

                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue while update candidate status... Please try again later..', "Oppps..!!");
                    App.unblockUI('#responsive');
                }
            });
        }

        return {
            init: function (DomainName) {

                FormValidate(DomainName);
                $("#btnSubmit").hide();
                Type(DomainName);
                BtnGetDetail(DomainName)

                $("#btnSubmit").click(function () {

                    if ($('#form_sample').valid()) {
                        App.blockUI({ boxed: true });
                        $("#disablediv :input").attr("disabled", false);
                        document.forms["form_sample"].submit()
                        $("#form_sample").submit();
                    }
                    else {
                        return false
                    }
                });

                $(document).on('click', '#chkCheckAll', function () {
                    $('.CLSCHKCKED').prop('checked', $(this).prop('checked'));
                    if ($(this).prop('checked')) {
                        $('.CLSCHKCKED').parent('span').addClass('checked');
                        $('.CLSCHKCKED').val("true");
                        $("#btnSubmit").show();
                    }
                    else {
                        $('.CLSCHKCKED').parent('span').removeClass('checked');
                        $('.CLSCHKCKED').val("false");
                        $("#btnSubmit").hide();
                    }
                });

                $("#BranchCode").live("change", function (e) {
                    App.blockUI({ boxed: true });
                    var BRCD = $("#BranchCode").val();
                    var SubmitType = $("#SubmitType").val();
                    var StrURL = DomainName + "/BranchAccounting/Get_Staff_ListFor_Conveyance?Branch=" + BRCD + "&SubmitType=" + SubmitType;
                    FillDropDownfromOther("Staff", StrURL, " a Staff");
                });

                $("#Staff").live("change", function (e) {
                    App.blockUI({ boxed: true });
                    var Staff = $("#Staff").val();
                    var SubmitType = $("#SubmitType").val();
                    var StrURL = DomainName + "/BranchAccounting/Get_Month_For_Conveyance?Staff=" + Staff + "&SubmitType=" + SubmitType;
                    FillDropDownfromOther("Month", StrURL, " a Month");
                });

                $('.CLSCHKCKED').live("click", function () {
                    var Id = $(this).attr('id').split('_')[1];
                    ApproveMangerValidation(Id)
                });
            }
        }
    }();
</script>
