﻿@model IEnumerable<FleetDataService.Models.CYGNUS_Conveyance_Expance_Master>
@{
    ViewBag.Title = "Conveyance Expance Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int RowNumberCount = Model.Count();
    int i = 1;
}

@using (Html.BeginForm("Conveyance_Master_Submit", "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                    <div class="caption pull-right">
                        <a href="@Url.Content("~/Master/ExportData?MethodName=ConveyanceExpanceMaster&FileName=Conveyance Expance Master")" class="btn default btn-xs controls"><i class="fa fa-download"></i>&nbsp;Download Excel </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group">
                                @Html.Hidden("RowNumber", RowNumberCount)
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="center">Mode</th>
                                        <th class="center">Rate Per KM</th>
                                        <th class="center">DELETE</th>
                                    </tr>
                                </thead>
                                <tbody id="Partial">
                                    @foreach (var item in Model)
                                    {
                                        item.ID = i;
                                        Html.RenderPartial("_ConveyanceExpance_Partial", item);
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row"><button type="button" id="btnAddNewRow" class="btn btn-sm blue pull-right">Add New Row</button></div>
                        <br />
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-4">
                                    <button type="button" id="btnSubmit" class="btn btn-sm green controls">
                                        <i class="fa fa-check"></i>&nbsp;Sumbit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.forms["form_sample"].submit();
                }

            });
        }

        var AddDetails = function (DomainName, Type) {

            var itemIndex = parseInt($("#RowNumber").val()) + 1;

            var StrURL1 = DomainName + '/BranchAccounting/_ConveyanceExpance_Partial?id=' + itemIndex;
            App.blockUI({ boxed: true });
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {

                    $("#Partial").append(html);
                    Travel_Mode_Change(DomainName);

                    App.unblockUI();
                    $("#RowNumber").val(itemIndex);
                    $('select').select2();
                    $(".deleteRow").live("click", function () {
                        $(this).parents("tr.editorRow:first").remove();
                        return false;
                    });
                },
                error: function (req, status, error) {
                    //alert("error " + req + "   " + status + "   " + error);
                }
            });
        }

        var Travel_Mode_Change = function (DomainName) {

            $(".clsTravel_Mode").live("change", function (e) {

                e.preventDefault();
                var dlnmId = $(this).attr("id");
                var Value = $(this).val();

                if (Value != "") {
                    var count = 0;
                    $(".ClsXYZ").each(function () {

                        var dlnmId1 = $(this).attr("id");
                        var dlnmVal1 = $(this).val();

                        if (dlnmId1 != dlnmId && dlnmVal1 == Value) {
                            alert("cannot select Duplicate Value");
                            count = 1;
                            $("#" + dlnmId).select2('data', null);
                            $("#" + dlnmId).val("");
                            return false;
                        }
                    });
                }
                else {
                    App.unblockUI();
                }

            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);
                Travel_Mode_Change(DomainName, "1");
                $('.select2').select2({
                    placeholder: "Select an option",
                    allowClear: true
                });
                Travel_Mode_Change(DomainName);

                $("#btnAddNewRow").click(function () {
                    AddDetails(DomainName, '2')
                });

                $("#btnSubmit").click(function () {

                    if ($('#form_sample').valid()) {

                        App.blockUI({ boxed: true });
                        document.forms["form_sample"].submit()
                    }
                    else {
                        return false
                    }
                });
            }
        }
    }();
</script>
