﻿@model Fleet.ViewModels.ExpensesEntryModule
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.OperationService CSOPN = new FleetDataService.OperationService();
    List<webx_acctinfo>
    ListTDSSection = CSOPN.GetTDSSectionList();
    FleetDataService.FleetService FS = new FleetDataService.FleetService();
    List<WEBX_FLEET_DRIVERMST> ListDriver = FS.GetDriverMstDetails();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> ListMonths = MS.GetGeneralMasterObject().Where(C => C.CodeType == "MONTH").ToList();
    string ActionName = @ViewBag.ActionName;

    objDate Date = new objDate();
    Date.ControlId = "Detension_Expense_HDR.BR_Date";
    Date.ControlValue = Model.Detension_Expense_HDR.BR_Date.ToString();
    Date.ModuleCode = "20";
}

@using (Html.BeginForm(ActionName, "BranchAccounting", FormMethod.Post, new { id = "form_sample", enctype = "multipart/form-data" }))
{
    <div class="portlet  @ViewBag.TableBoxColor box">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-list"></i>@ViewBag.Title
            </div>
        </div>
        <div class="portlet-body">
            <div class="form-horizontal">
                <div class="form-body" id="PaymentPart">

                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-hide">
                        <button class="close" data-close="alert"></button>
                        Your form validation is successful!
                    </div>

                    @Html.HiddenFor(m => m.Detension_Expense_HDR.ExpenceType)
                    @Html.HiddenFor(m => m.Detension_Expense_HDR.BillNo)
                    @Html.HiddenFor(m => m.SubType)
                    @*@Html.HiddenFor(m => m.Type)*@
                    @Html.HiddenFor(m => m.Type2)
                    <div class="row">

                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">NAME OF EMPLOYEE</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Detension_Expense_HDR.EmpCode, new { placeholder = "NAME OF EMPLOYEE", @class = "form-control required required2" })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">EMPLOYEE CODE</label>
                            <div class="col-md-8">
                                @Html.HiddenFor(c => c.Detension_Expense_HDR.EmpName)
                                @Html.TextBox("ShowEmpCode", Model.Detension_Expense_HDR.EmpCode, new { placeholder = "EMPLOYEE CODE", @class = "form-control required required2", @readonly = "true" })
                            </div>
                        </div>

                        @*<div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Employee Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Detension_Expense_HDR.EmpCode, new { placeholder = "Employee Code", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Name Of Employee</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Detension_Expense_HDR.EmpName, new { placeholder = "Name Of Employee", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                            </div>*@

                        <div class="col-md-4 form-group clsApproval">
                            <label class="control-label col-md-4">Name Of bank</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Detension_Expense_HDR.BankName, new { placeholder = "Name Of bank", @class = "form-control ", @readonly = "true" })
                            </div>
                        </div>

                        <div class="col-md-4 form-group clsApproval">
                            <label class="control-label col-md-4">Bank A/C Number</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Detension_Expense_HDR.BankAccNumber, new { placeholder = "Bank A/C Number", @class = "form-control ", @readonly = "true" })
                            </div>
                        </div>
                        <div class="col-md-4 form-group clsApproval">
                            <label class="control-label col-md-4">IFSC Code</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Detension_Expense_HDR.IFSCCode, new { placeholder = "IFSC Code", @class = "form-control ", @readonly = "true" })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">Other Payee</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Detension_Expense_HDR.NameOFPayee, new { placeholder = "Other Payee", @class = "form-control required required2" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">Name of Branch</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Detension_Expense_HDR.Branch_Name, new { placeholder = "Name of Branch", @class = "m-wrap form-control required required2" })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">For the Month of</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.Detension_Expense_HDR.For_The_Month_Of, new SelectList(ListMonths, "CodeId", "CodeDesc", ""), "", new { @class = " form-control select2 required required2", @readonly = "true" })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">Driver Name</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.Detension_Expense_HDR.Driver_Name, new SelectList(ListDriver, "Driver_Id", "Driver_Name", ""), "", new { @class = "select2 form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">BR Date</label>
                            <div class="col-md-8">
                                @{
    Html.RenderPartial("../UserControls/_DocumentDate", Date);
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet  @ViewBag.TableBoxColor box">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-list"></i>Detension Expenses Entry
            </div>
        </div>
        <div class="portlet-body">
            <div class="form-horizontal">
                <div class="form-body ">
                    <div id="PaymentPart1">
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    @*@if (Model.SubType == 2)
                                        {
                                            <th style="white-space: pre-line">#</th>
                                        }*@
                                    <th style="white-space: pre-line">Vehicle Number</th>
                                    <th style="white-space: pre-line">Date Time(From)</th>
                                    <th style="white-space: pre-line">Date Time(To)</th>
                                    <th style="white-space: pre-line">Tripsheet No</th>
                                    <th style="white-space: pre-line">Name of Party / Location</th>
                                    <th style="white-space: pre-line">Total Kilomer as Per GPS</th>
                                    <th style="white-space: pre-line">Number of Days</th>
                                    <th style="white-space: pre-line">Detension Days</th>
                                    <th style="white-space: pre-line">Rate (Per Day)</th>
                                    <th style="white-space: pre-line">Total Amount</th>
                                    @if (Model.SubType == 2 || Model.SubType == 3)
                                    {
                                        <th style="white-space: pre-line">Amount Passed</th>
                                        <th style="white-space: pre-line">Amount Rejected</th>
                                        <th style="white-space: pre-line">Reason For Rejected</th>
                                    }
                                </tr>
                            </thead>

                            <tbody id="Voucher">
                                @foreach (var item in Model.List_Detension_Expense_DET)
                                {
                                    Html.RenderPartial("_DetensionExpenses", item);
                                }
                            </tbody>

                            @*<tbody>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>@Html.TextBox("Total_Amount_Tot_val", "0", new { @class = "m-wrap form-control required required2", @max = "0", @readonly = "true" })</th>
                                    @if (Model.SubType == 2 || Model.SubType == 3)
                                    {
                                        <th id="Amount_Passed_Tot"></th>
                                        <th id="Amount_Rejected_Tot"></th>
                                        <th></th>
                                    }
                                </tr>
                            </tbody>*@
                        </table>
                    </div>

                    <div id="PaymentControl">
                        @if (Model.SubType == 3)
                        {
                            @Html.Partial("_BranchAccounting_PaymentPart", Model);

                            <hr />
                            <div class="form-group">
                                @foreach (var itms in Model.WADListing)
                                {
                                    itms.Vouchertype = "BranchAccountingType";
                                    @*@Html.Partial("../Voucher/_PaymentModePartial", itms)*@
                                    @Html.Partial("../Voucher/_PaymentModePartiaBranchAccounting", itms)
                                    
                                }
                            </div>
                        }
                    </div>

                    <div class="form-actions fluid" id="SubmitBtn">
                        @{
                            @Html.Partial("_BranchAcct_SubmitPartial", Model)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*<script type="text/javascript" src="@Url.Content("~/Scripts/AccountControl.js")"></script>*@
<script src="~/Scripts/BranchAccounting/BranchAccounting.js?ver<%=DateTime.Now.Ticks.ToString()%>" type="text/javascript"></script>

<script type="text/javascript">

    function GetMonthName(monthNumber) {
        var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        return months[monthNumber - 1];
    }

    var FormComponents = function (DomainName) {

        var select2Date = function (DomainName) {

            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });

            //if (jQuery().datepicker) {
            //    $('.date-picker').datepicker({
            //        rtl: App.isRTL(),
            //        format: "dd M yyyy",
            //        autoclose: true,
            //        startDate: new Date(),
            //        // endDate: new Date(),
            //    });
            //    $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            //}
        }

        var ControlDate = function (DomainName, Month, ID) {

            if (jQuery().datepicker) {

                if (ID != "") {
                    $("#" + ID).datetimepicker({
                        rtl: App.isRTL(),
                        format: "dd M yyyy HH:ii P",
                        showMeridian: true,
                        autoclose: true,
                        pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                        starDate: new Date("1 " + Month + " 2016 12:00 AM"),
                        endDate: new Date("31 " + Month + " 2016 12:00 AM")
                        //,endDate: new Date()
                        //,todayBtn: true
                    })
                }
            }
        }

        var datetime = function () {
            //var data = $('#Date_From').val();
            //var arr = data.split(' ');
            //$("#Time_From").val(arr[3]);
        }

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //document.form["form_sample"].submit();
                }
            });
        }

        var IsServicetaxCalculated = function (DomainName, Prefix) {

            if ($('#WAD_IsServicetaxapply').prop('checked')) {

                $('#WAD_ServiceTaxRate').attr("readonly", false);
                $('#WAD_ServiceTaxRate').attr("readonly", false);
                $('#WAD_ServiceTaxRate').val($("#HdnServiceTaxRate").val());
                $('#WAD_ServiceTaxRate').attr("readonly", true);

                var servicetaxrate = $("#HdnServiceTaxRate").val();
                var ApplicaleAmount = $("#WAD_AmountApplicable").val();
                var Servicetax = parseFloat(ApplicaleAmount) * parseFloat(servicetaxrate) / 100;

                var TotalAmount = parseFloat(ApplicaleAmount) + parseFloat(Servicetax);
                // alert("ApplicaleAmount=" + ApplicaleAmount + "--Servicetax=" + Servicetax + "--TotalAmount=" + TotalAmount);

                $("#WAD_ServiceTax").val(Math.round(Servicetax));
                $("#WAD_AmountApplicableForTDS").val(TotalAmount);
                $("#" + Prefix + "NETAMOUNT").val(Math.round(TotalAmount));
                $("#" + Prefix + "AmountApplicable").val(Math.round(TotalAmount));
            }
            else {
                $('#WAD_ServiceTaxRate').attr('readonly', true);
                $('#WAD_ServiceTaxRate').val(0)
                $("#WAD_ServiceTax").val(0);
                var ApplicaleAmount = $("#WAD_AmountApplicable").val();
                $("#WAD_AmountApplicableForTDS").val(Math.round(ApplicaleAmount));
            }

            if ($('#WAD_IsTDStaxapply').prop('checked')) {

                $('#WAD_TDSRate').attr("readonly", false);
                //$("#WAD_TDSAmount").attr("readonly", false);
                var TDSrate = $("#WAD_TDSRate").val();
                var TDSApplicaleAmount = $("#WAD_AmountApplicableForTDS").val();
                var TDStax = parseFloat(TDSApplicaleAmount) * parseFloat(TDSrate) / 100;
                var TotalAmount = parseFloat(TDSApplicaleAmount) - parseFloat(TDStax);

                $("#WAD_TDSSection").addClass("required required2");
                $("#WAD_TDSSection").attr("readonly", false);
                $("#WAD_TDSAmount").val(Math.round(TDStax));

                $("#" + Prefix + "NETAMOUNT").val(Math.round(TotalAmount));
                $("#" + Prefix + "AmountApplicable").val(Math.round(TotalAmount));

                $(".clsTotal").val(Math.round(TotalAmount));
                if ($('#' + Prefix + 'PaymentMode').val() == "Cash") {
                    $("#" + Prefix + "CashAmount").val(Math.round(TotalAmount));
                }
                else if ($('#' + Prefix + 'PaymentMode').val() == "Bank") {
                    $("#" + Prefix + "ChequeAmount").val(Math.round(TotalAmount));
                }
                else {
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "CashAmount").val(0);
                }
            }
            else {
                $('#WAD_TDSRate').attr("readonly", true);
                $('#WAD_TDSRate').val(0);
                $("#WAD_TDSAmount").val(0);
                $("#WAD_TDSAmount").attr("readonly", true);
                var ApplicaleAmount = $("#WAD_AmountApplicableForTDS").val();
                $("#WAD_AmountApplicableForTDS").val(ApplicaleAmount);
                $("#" + Prefix + "NETAMOUNT").val(Math.round($("#WAD_SumAmount").val()));

                $("#" + Prefix + "AmountApplicable").val(Math.round(ApplicaleAmount/*$("#WAD_SumAmount").val()*/));

                $(".clsTotal").val(Math.round(ApplicaleAmount));

                $("#WAD_TDSSection").val("");
                $("#WAD_TDSSection").select2().find(":selected").data("");
                $("#WAD_TDSSection").removeClass("required required2");
                $("#WAD_TDSSection").attr("readonly", true);

                if ($('#' + Prefix + 'PaymentMode').val() == "Cash") {
                    $("#" + Prefix + "CashAmount").val(Math.round(ApplicaleAmount));
                }
                else if ($('#' + Prefix + 'PaymentMode').val() == "Bank") {
                    $("#" + Prefix + "ChequeAmount").val(Math.round(ApplicaleAmount));
                }
                else {
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "CashAmount").val(0);
                }
            }
        }

        var Calculation = function (DomainName, ID) {

            var Total_Amount = ID + "Amount";
            var Total_Amount = $("#" + Total_Amount).val();

            var Total_Amount_Tot = parseFloat(Total_Amount) + parseFloat(Total_Amount) + parseFloat(Total_Amount);
            $("#" + Total_Amount).val(Total_Amount_Tot);

            var Amount_Tot = "0";
            $(".clsAmount").each(function () {
                var ID = $(this).attr("id").replace("Amount", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    Amount_Tot = parseFloat(Amount_Tot) + parseFloat($(this).val());
                }
            });
            $("#Total_Amount_Tot_val").val(Amount_Tot);
        }

        var OnLoadFunction = function (DomainName, Prefix) {

            var GetChequedate = $("#" + Prefix + "Chequedate").val();

            $("#" + Prefix + "TransactionMode").change(function () {

                $("#" + Prefix + "CashAmount").val(0);
                $("#" + Prefix + "ChequeAmount").val(0);
                $("#" + Prefix + "ChequeNo").val("");
                $("#" + Prefix + "Chequedate").val("");
                $("#" + Prefix + "ReceivedFromBank").val("");
                $("#" + Prefix + "PaymentMode").val("");
                $("#" + Prefix + "PaymentMode").select2().find(":selected").data("");
                $("#" + Prefix + "CashAccount").select2('data', null);
                $("#" + Prefix + "DepositedInBank").select2('data', null);

                if ($("#" + Prefix + "TransactionMode").val() == "PAYMENT") {
                    //$("input[name=optionsRadios1]").attr("disabled", true);
                    //$('#' + Prefix + 'IsonAccount').attr("disabled", true);
                    //$('#' + Prefix + 'IsonAccount').attr("checked", false);
                    //$('#' + Prefix + 'IsonAccount').parent('span').removeClass('checked');
                    //$('#' + Prefix + 'IsonAccount').val(false);CASHBANKLABEL
                    $('#labelBank').text("Issued in bank");
                    $('#CASHBANKLABEL').hide();
                }
                else {

                    //$("input[name=optionsRadios1]").attr("disabled", false);
                    //$('#' + Prefix + 'IsonAccount').attr("checked", false);
                    //$('#' + Prefix + 'IsonAccount').parent('span').removeClass('checked');
                    //$('#' + Prefix + 'IsonAccount').val(false);
                    $('#labelBank').text("Deposited in bank");
                    $("#" + Prefix + "DepositedInBank").attr("disabled", true);
                    $('#CASHBANKLABEL').show();
                }
            });

            $("#" + Prefix + "PaymentMode").change(function () {

                var PaymentMode = $(this).val();

                if (PaymentMode == "Cash") {

                    App.blockUI({ boxed: true });

                    var StrURL = DomainName + "/Voucher/GetBankCashList?Type=" + PaymentMode;
                    $("#" + Prefix + "CashAccount").select2('data', null);
                    $("#" + Prefix + "DepositedInBank").select2('data', null);
                    $("#" + Prefix + "DepositedInBank").attr("disabled", true);
                    $("#" + Prefix + "CashAccount").attr("disabled", false);
                    FillDropDownfromOther(Prefix + "CashAccount", StrURL, "Cash Account");
                    $("#" + Prefix + "CashAccount option:selected").remove();
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "CashAmount").val($(".clsTotal").val());
                    $("#" + Prefix + "CashAmount").attr("readonly", true);
                    $("#" + Prefix + "ChequeNo").attr("disabled", true);
                    $("#" + Prefix + "ChequeAmount").attr("readonly", true);
                    $("#" + Prefix + "Chequedate").attr("disabled", true);
                    $("#" + Prefix + "Chequedate").val("");
                    $(".input-group-btn").hide();
                    //$('#' + Prefix + 'IsonAccount').attr("checked", false);
                    //$('#' + Prefix + 'IsonAccount').parent('span').removeClass('checked');
                    //$('#' + Prefix + 'IsonAccount').val(false);
                    $("#" + Prefix + "ReceivedFromBank").removeClass('required required2');
                    $("#" + Prefix + "CashAccount").addClass('required required2');
                    $("#" + Prefix + "DepositedInBank").removeClass('required required2');

                    App.unblockUI();
                }

                else if (PaymentMode == "Bank") {

                    App.blockUI({ boxed: true });

                    var StrURL = DomainName + "/Voucher/GetBankCashList?Type=" + PaymentMode;
                    $("#" + Prefix + "DepositedInBank").select2('data', null);
                    $("#" + Prefix + "CashAccount").select2('data', null);
                    $("#" + Prefix + "DepositedInBank").attr("disabled", false);
                    $("#" + Prefix + "CashAccount").attr("disabled", true);
                    FillDropDownfromOther(Prefix + "DepositedInBank", StrURL, "Bank Account");
                    $(".input-group-btn").show();
                    $("#" + Prefix + "CashAmount").val(0);
                    $("#" + Prefix + "CashAmount").attr("readonly", true);
                    $("#" + Prefix + "ChequeAmount").val($(".clsTotal").val());
                    $("#" + Prefix + "ChequeAmount").attr("readonly", true);
                    $("#" + Prefix + "ChequeNo").attr("disabled", false);
                    $("#" + Prefix + "Chequedate").attr("disabled", false);
                    $("#" + Prefix + "Chequedate").val(GetChequedate);
                    $("#" + Prefix + "ChequeNo").addClass('required required2');
                    $("#" + Prefix + "ReceivedFromBank").addClass('required required2');
                    $("#" + Prefix + "CashAccount").removeClass('required required2');
                    $("#" + Prefix + "DepositedInBank").addClass('required required2');

                    App.unblockUI();
                }
                else {

                    App.blockUI({ boxed: true });

                    var StrURL = DomainName + "/Voucher/GetBankCashList?Type=Cash";
                    $("#" + Prefix + "CashAccount").select2('data', null);
                    FillDropDownfromOther(Prefix + "CashAccount", StrURL, "Cash Account");
                    var StrURL1 = DomainName + "/Voucher/GetBankCashList?Type=Bank";
                    $("#" + Prefix + "DepositedInBank").select2('data', null);
                    FillDropDownfromOther(Prefix + "DepositedInBank", StrURL1, "Bank Account");
                    $("#" + Prefix + "CashAmount").val(0);
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "ChequeNo").attr("disabled", false);
                    $("#" + Prefix + "CashAmount").attr("readonly", false);
                    $("#" + Prefix + "ChequeAmount").attr("readonly", false);
                    $("#" + Prefix + "Chequedate").attr("disabled", false);
                    $("#" + Prefix + "Chequedate").val(GetChequedate);
                    //$('#' + Prefix + 'IsonAccount').attr("checked", false);
                    //$('#' + Prefix + 'IsonAccount').parent('span').removeClass('checked');
                    //$('#' + Prefix + 'IsonAccount').val(false);
                    $("#" + Prefix + "ReceivedFromBank").addClass('required required2');
                    $("#" + Prefix + "DepositedInBank").attr("disabled", false);
                    $("#" + Prefix + "CashAccount").attr("disabled", false);
                    $("#" + Prefix + "CashAccount").addClass('required required2');
                    $("#" + Prefix + "DepositedInBank").addClass('required required2');

                    App.unblockUI();
                }
            });

            if ($("#WAD_Vouchertype").val() != "DEBITCREDIT") {
                //$("#" + Prefix + "NETAMOUNT").removeAttr('readonly');
                $("#" + Prefix + "NETAMOUNT").attr("number", true).attr("min", 1).addClass("required required2");
            }

            $("#" + Prefix + "NETAMOUNT").live('change', function () {
                var PaymentMode = $("#" + Prefix + "PaymentMode").val();
                var PaymentAmount = $("#" + Prefix + "NETAMOUNT").val();
                if (PaymentMode.toUpperCase() == "CASH") {
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "CashAmount").val(PaymentAmount);
                    $(".clsTotal").val(PaymentAmount);
                }
                if (PaymentMode.toUpperCase() == "BANK") {
                    $("#" + Prefix + "CashAmount").val(0);
                    $("#" + Prefix + "ChequeAmount").val(PaymentAmount);
                    $(".clsTotal").val(PaymentAmount);
                }
            });
        }

        var EmpCodeChange = function (DomainName) {

            var URL = DomainName + '/BranchAccounting/GetUser_Detailes?No=' + $("#Detension_Expense_HDR_EmpCode").val();

            //if ($("#Detension_Expense_HDR_EmpCode").val() != "") {

            //    App.blockUI({ boxed: true });
            //    $.ajax({
            //        url: URL,
            //        cache: false,
            //        data: {},
            //        type: 'POST',
            //        success: function (data) {

            //            if (data.IsRecordFound == "1") {

            //                $("#Detension_Expense_HDR_EmpName").val(data.Name);
            //                $("#Detension_Expense_HDR_BankName").val(data.Name_Of_bank);
            //                $("#Detension_Expense_HDR_BankAccNumber").val(data.Bank_AC_Number);
            //                $("#Detension_Expense_HDR_IFSCCode").val(data.IFSC_Code);
            //                App.unblockUI();
            //            }
            //            else {
            //                $("#Detension_Expense_HDR_EmpName").val($("#s2id_Elec_Expense_HDR_EmpCode span").html());
            //                $("#Detension_Expense_HDR_BankName").val("");
            //                $("#Detension_Expense_HDR_BankAccNumber").val("");
            //                $("#Detension_Expense_HDR_IFSCCode").val("");
            //                App.unblockUI();
            //            }
            //        },
            //        error: function (req, status, error) {
            //            $("#Detension_Expense_HDR_EmpName").val($("#s2id_Elec_Expense_HDR_EmpCode span").html());
            //            $("#Detension_Expense_HDR_BankName").val("");
            //            $("#Detension_Expense_HDR_BankAccNumber").val("");
            //            $("#Detension_Expense_HDR_IFSCCode").val("");
            //            App.unblockUI();
            //        }
            //    });
            //}
        }

        var SubmitProcess = function (DomainName) {

            $("#btnSubmit").click(function () {

                Formvalidate(DomainName);
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit()
                }
            });

            $('#btnRejectAtHO').click(function () {

                $(".clsAmount_Passed").each(function () {
                    var Id = $(this).attr("id").replace("Amount_Passed", "");
                    $("#" + Id + "Reason_For_Rejection").addClass("required required2")
                    $("#" + Id + "Amount_Passed").attr("min", "0")
                    $("#" + Id + "Amount_Rejected").attr("min", "1")
                })

                Formvalidate(DomainName);
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });
                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/Detension_Expence_Reject');
                    document.forms["form_sample"].submit()
                }
            });

            $('#btnAuthorizeAtHo').click(function () {

                $(".clsAmount_Passed").each(function () {
                    var Id = $(this).attr("id").replace("Amount_Passed", "");
                    $("#" + Id + "Reason_For_Rejection").removeClass("required required2")
                    $("#" + Id + "Amount_Passed").attr("min", "1")
                    $("#" + Id + "Amount_Rejected").attr("min", "0")
                })

                Formvalidate(DomainName);
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });
                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/Detension_Expenses_Approval');
                    document.forms["form_sample"].submit()
                };
            });


        }

        var diffDays = function (DomainName, MonthNameID, FromDate, ToDate) {
            // alert(MonthNameID + '--' + FromDate + '--' + ToDate);
            var oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
            var firstDate = new Date(2016, MonthNameID, FromDate);
            var secondDate = new Date(2008, MonthNameID, ToDate);

            var diffDays = (secondDate - firstDate) / (1000 * 60 * 60 * 24);//Math.round(Math.abs((firstDate.getTime() - secondDate.getTime()) / (oneDay)));

            //alert(diffDays);

        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                ControlDate();
                if ($("#SubType").val() == "2") {
                    $(".clsApproval").show();
                }
                else {
                    $(".clsApproval").hide();
                }

                var Prefix = "PAYMENTMODE_1__";
                Formvalidate(DomainName);
                GetVehicleEmployeeUserName_BranchWise("Detension_Expense_HDR_EmpCode", "U")
                SubmitProcess(DomainName)

                StrURL = DomainName + "/Operation/GetDestinationLocations";
                JsonDDLSelectCode("Detension_Expense_HDR_Branch_Name", StrURL);

                //$(".clsVehicle_Number").change(function () {

                //    alert($(this).val());

                //});

                $(".clsAmount_Passed").change(function () {
                    var ID = $(this).attr("Id").replace("Amount_Passed", "");
                    var TotalBill = $("#" + ID + "Amount").val();
                    var AmountRejected = parseFloat(TotalBill) - parseFloat($(this).val());
                    $("#" + ID + "Amount_Rejected").val(AmountRejected);
                });

                $("#Detension_Expense_HDR_EmpCode").change(function () {
                    //EmpCodeChange(DomainName);
                    EmpCode_Change(DomainName, $("#Detension_Expense_HDR_EmpCode").val(), "Detension_Expense_HDR_", 1, 0, 0, 0);
                });

                if ($("#Detension_Expense_HDR_EmpCode").val() != '' && $("#Detension_Expense_HDR_EmpCode").val() != null) {
                    $("#Detension_Expense_HDR_EmpCode").select2("data", { id: $("#Detension_Expense_HDR_EmpCode").val(), text: $("#Detension_Expense_HDR_EmpName").val() });
                }

                ControlDate(DomainName, "", "");

                $(".detention_clsAmount_Passed").change(function () {
                    var ID = $(this).attr("Id").replace("CPEEDET_", "").replace("__Amount_Passed", "");
                    var Totl = $("#CPEEDET_" + ID + "__Amount").val();
                    var PassedAmt = $("#CPEEDET_" + ID + "__Amount_Passed").val();
                    var Reject = parseInt(Totl) - parseInt(PassedAmt);
                    $("#CPEEDET_" + ID + "__Amount_Rejected").val(Reject);
                });

                var Amount_Tot_Focus = "0";
                $(".clsAmount").focusout(function () {
                    var ID = $(this).attr("id").replace("Amount", "");
                    var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                    //if (checked) {
                    Amount_Tot_Focus = parseFloat(Amount_Tot_Focus) + parseFloat($(this).val());
                    //}
                    $("#Total_Amount_Tot_val").val(Amount_Tot_Focus);
                });

                select2Date(DomainName);
                $("#PaymentControl").hide();
                $("#ApprovSubmit").hide();
                $("#TotalClaim_IncHandlingTot").val("0");
                /* Acouting Calculation */
                IsServicetaxCalculated(DomainName, Prefix)
                OnLoadFunction(DomainName, Prefix)

                $("#WAD_IsServicetaxapply").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })
                $("#WAD_IsTDStaxapply").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })
                $("#WAD_TDSRate").focusout(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })

                @foreach (var item in Model.List_Detension_Expense_DET)
                {
                    var CheckBox = "CPEEDET_" + @item.ID + "__CheckBox";
                    var Amount = "CPEEDET_" + @item.ID + "__Amount";
                    var Date_From = "CPEEDET_" + @item.ID + "__Date_From";
                    var Date_To = "CPEEDET_" + @item.ID + "__Date_To";
                    var FromID = "CPEEDET_" + @item.ID + "__FromID";
                    var ToID = "CPEEDET_" + @item.ID + "__ToID";
                    var TripSheetNo = "CPEEDET_" + @item.ID + "__TripSheetNo";
                    var Party_Location_Name = "CPEEDET_" + @item.ID + "__Party_Location_Name";
                    var Number_Of_Days = "CPEEDET_" + @item.ID + "__Number_Of_Days";
                    var Rate_Per_Day = "CPEEDET_" + @item.ID + "__Rate_Per_Day";
                    var Detension_Day = "CPEEDET_" + @item.ID + "__Detension_Day";
                    var Vehicle_Number = "CPEEDET_" + @item.ID + "__Vehicle_Number";
                    var DeaAmount = "CPEEDET_" + @item.ID + "__DeaAmount";



                     <text>

                $("#@CheckBox").attr("value", "false");
                $('#@CheckBox').click(function () {
                    var checked = jQuery(this).is(":checked");
                    $("#@CheckBox").val(checked);
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                });
                $("#@Amount").focusout(function () {
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                })

                if ($("#SubType").val() == "1") {
                    $("#@Date_From").val("");
                    $("#@Date_To").val("");
                }

                var MonthNameName = "";
                var MonthNameID = 0;
                @*$('#Detension_Expense_HDR_For_The_Month_Of').change(function () {
                    MonthNameID = $(this).val();
                    MonthNameName = GetMonthName($(this).val()).substring(0, 3);
                    $("#@Date_From").val("1 " + MonthNameName.substring(0, 3) + " 2016 12:00 AM");
                    $("#@Date_To").val("30 " + MonthNameName.substring(0, 3) + " 2016 12:00 AM");
                    ControlDate(DomainName, $(this).val(), "@Date_From");
                    ControlDate(DomainName, $(this).val(), "@Date_To");
                });*@

                var FromDate = 0;
                var ToDate = 0;

                $('#@Date_From').change(function () {

                    var FromDate = $(this).val();
                    var From_Date_Split = $(this).val().split(" ");
                    var FromMonth = From_Date_Split[1];
                    var FromDate = From_Date_Split[0];

                    var To_Date_Split = $("#@Date_To").val().split(" ");
                    ToDate = To_Date_Split[0];

                    if (FromMonth != MonthNameName) {
                        $(this).val("");
                        $("#@FromID").html("Please Select Valid Month");
                    }
                    else {
                        $("#@FromID").html("");
                    }
                    diffDays(DomainName, MonthNameID, FromDate, ToDate);
                });

                $('#@Date_To').change(function () {

                    var ToDate = $(this).val();
                    var To_Date_Split = $(this).val().split(" ");
                    var ToMonth = To_Date_Split[1];
                    var ToDate = To_Date_Split[0];

                    var From_Date_Split = $("#@Date_From").val().split(" ");
                    FromDate = From_Date_Split[0];

                    if (ToMonth != MonthNameName) {
                        $(this).val("");
                        $("#@ToID").html("Please Select Valid Month");
                    }
                    else {
                        $("#@ToID").html("");
                    }
                    diffDays(DomainName, MonthNameID, FromDate, ToDate);
                });

                $('#@Vehicle_Number').live("change", function () {

                    var ID = $(this).val();
                    var For_The_Month_Of = $("#Detension_Expense_HDR_For_The_Month_Of").val();
                    var StrURL = DomainName + "/BranchAccounting/Get_Vehicle_No_StatusDetails?No=" + ID + '&For_The_Month_Of=' + For_The_Month_Of;
                    var result1 = $.ajax({
                        async: false,
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        url: StrURL,
                        dataType: 'json',
                        data: {},
                    });
                    var d1 = JSON.parse(result1.responseText);
                    if (d1.CNT == "1") {
                        $("#@TripSheetNo").val(d1.TripsheetNo);
                        $("#@Date_From").val(d1.DateTimeFrom);
                        $("#@Date_To").val(d1.DateTimeTo);
                        $("#@Party_Location_Name").val(d1.TripSheet_StartLoc);
                        $("#@Number_Of_Days").val(d1.NoOfDay);
                        $("#@Detension_Day").attr("max", $("#@Number_Of_Days").val())
                        return true;
                    }
                    else {
                        $("#@TripSheetNo").val("");
                        $("#@Date_From").val("");
                        $("#@Date_To").val("");
                        $("#@Party_Location_Name").val("");
                        $("#@Number_Of_Days").val("");
                        return false;
                    }


                });

                @*$('#@Number_Of_Days').live('change', function () {
                    var No = $('#@Number_Of_Days').val();
                    var TotalAmt = parseFloat($('#@Number_Of_Days').val()) - parseFloat($('#@Detension_Day').val()) * parseFloat($('#@Rate_Per_Day').val());
                    $('#@Amount').val(TotalAmt);
                    $('#Total_Amount_Tot_val').val(TotalAmt);
                });*@

                $('#@Detension_Day').live('change', function () {
                    var TotalAmt = parseFloat($('#@Number_Of_Days').val()) - parseFloat($('#@Detension_Day').val());
                    var TotalAmt1 = parseFloat(TotalAmt) * parseFloat($('#@Rate_Per_Day').val());
                    $('#@Amount').val(TotalAmt1);
                    $('#Total_Amount_Tot_val').val(TotalAmt1);

                });

                $('#@Rate_Per_Day').live('change', function () {
                    var TotalAmt = parseFloat($('#@Number_Of_Days').val()) - parseFloat($('#@Detension_Day').val());
                    var TotalAmt1 = parseFloat(TotalAmt) * parseFloat($('#@Rate_Per_Day').val());
                    $('#@Amount').val(TotalAmt1);
                    $('#Total_Amount_Tot_val').val(TotalAmt1);

                });

                </text>
                }

                if ($("#SubType").val() == "3") {

                    $("#PaymentControl").show();
                    var AmountApplicable = 0;
                    $(".clsAmount_Passed").each(function () {
                        AmountApplicable = parseFloat(AmountApplicable) + parseFloat($(this).val());
                    });
                    $("#WAD_AmountApplicable").val(AmountApplicable)
                    $("#PAYMENTMODE_1__AmountApplicable").val(AmountApplicable);
                    $("#PAYMENTMODE_1__NETAMOUNT").val(AmountApplicable);

                    $("#PaymentPart :input").attr("disabled", true);
                    $("#PaymentPart1 :input").attr("disabled", true);

                    $("#btnApprovSubmit").click(function () {

                        Formvalidate(DomainName);

                        if ($('#form_sample').valid()) {

                            App.blockUI({ boxed: true });

                            $("#PaymentPart :input").attr("disabled", false);
                            $("#PaymentPart1 :input").attr("disabled", false);

                            $('#form_sample').attr('action', DomainName + '/BranchAccounting/Accounting_Payment_Submit');
                            $("#container :input").attr("disabled", false);
                            document.forms["form_sample"].submit()
                        }
                    });
                }

                select2Date(DomainName);

            }
        }
    }();
</script>


@*//var date = new Date($("#Date_To").val());
    //$("#Date_To").live('change', function () {
    //    //alert($(this).val() + $(".clsinvoicedt").val());
    //    $(".clsinvoicedt").val($(this).val());
    //    $(".clsinvoicedt").datepicker("option", "endDate", $(this).val());
    //});
    //$("#Date_To").change(function () {
    //    datetime();
    //});
    //var date = new Date($("#Date_From").val());
    //$("#Date_From").live('change', function () {
    //    //alert($(this).val() + $(".clsinvoicedt").val());
    //    $(".clsinvoicedt").val($(this).val());
    //    $(".clsinvoicedt").datepicker("option", "endDate", $(this).val());
    //});
    //$("#Date_From").change(function () {
    //    datetime();
    //});
    //datetime();*@

