﻿@model Fleet.ViewModels.ExpensesEntryModule
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models

@{
    ViewBag.Title = "Driver Incentive TSP Expense Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int RowNumberCount = Model.List_CDITEM.Count();
    int i = 1;
}

@using (Html.BeginForm("DriverIncentiveTSP_Expense_Master_Submit", "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                    <div class="caption pull-right">
                        <a href="@Url.Content("~/Master/ExportData?MethodName=DriverIncentiveTSPExpense&FileName=Driver Incentive TSP Expense")" class="btn default btn-xs controls"><i class="fa fa-download"></i>&nbsp;Download Excel </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        @Html.Hidden("RowNumber", RowNumberCount)
                        <div id="PaymentPart1">
                            <table id="sample_ven" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="4"></th>
                                        <th colspan="2"class="center">1 st Prize</th>
                                        <th colspan="2"class="center">2 st Prize</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th class="center"><input type="checkbox" id="chkCheckAll" /></th>
                                        <th>Route</th>
                                        <th>Distance KM</th>
                                        <th>Vehicle Type</th>
                                        <th>RUNNING HOUR (INCL HALTING)</th>
                                        <th>INCENTIVE (INCL NORMAL INCENTIVE+ SPECIAL)</th>
                                        <th>RUNNING HOUR (INCL HALTING)</th>
                                        <th>INCENTIVE AMT</th>
                                        <th>PENALTY (PER HR DEDUCTION FROM THC)</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody id="PDCMaxlist">
                                    @foreach (var item in Model.List_CDITEM)
                                    {
                                        item.Id = i;
                                        Html.RenderPartial("_DriverIncentiveTSP_Expense_Master", item);
                                        i++;
                                    }
                                </tbody>

                            </table>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" id="btnAddNewRow" class="btn btn-sm blue pull-right">Add New Row</button>
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-4">
                                    <button type="button" id="btnSubmit" class="btn btn-sm green controls">
                                        <i class="fa fa-check"></i>&nbsp;Sumbit
                                    </button>
                                    <a href="@Url.Content("~/BranchAccounting/DriverIncentiveTSP_Expense_Master")" class="btn btn-sm default controls">&nbsp;Back To Criteria </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                },

                messages: {
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //document.form["form_sample"].submit();
                }
            });
        }

        var AddDetails = function (DomainName, Type) {

            var itemIndex = parseInt($("#RowNumber").val()) + 1;

            var StrURL1 = DomainName + '/BranchAccounting/_DriverIncentiveTSP_Expense_Master?id=' + itemIndex + "&Type=" + Type ;
            App.blockUI({ boxed: true });
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#PDCType").attr("readonly", "readonly");
                    duplicateDDLCheck(DomainName)
                    $("#PDCMaxlist").append(html);
                    App.unblockUI();
                    $("#RowNumber").val(itemIndex);
                    $("#btnSubmit").show();
                    $("input:checkbox, input:radio").uniform();
                    $(".deleteRow").live("click", function () {
                        $(this).parents("tr.editorRow:first").remove();
                        return false;
                    });

                },
                error: function (req, status, error) {
                    alert("error " + req + "   " + status + "   " + error);
                }
            });
        }
        var duplicateDDLCheck = function () {
            $(".clsRoutemultiple").change(function () {
                var currId = $(this).attr('id').split("_")[1];
                var currval = $(this).val();
                var parRoute = $('#CPM_' + currId + '__Route').val();
               

                $(".clsRoutemultiple").each(function () {

                    var otherId = $(this).attr('id').split("_")[1];
                    var otherval = $(this).val();
                    var curRoute = $('#CPM_' + otherId + '__Route').val();

                    if (currId != otherId && parRoute == curRoute) {
                        TosterNotification("error", "Error !! Oppssss Found Duplicate Route In List........", "Error");
                        $('#CPM_' + currId + '__Route').val(null);
                        return false;
                    }
                });
            });

        }


         

        return {
            //main function to initiate the module
            init: function (DomainName) {

                $(".clshorsamt").live("change", function () {
                    var currId = $(this).attr('id').split("_")[1];
                    var currval = $(this).val();
                    var parRoute = $('#CPM_' + currId + '__Runninghoursinclhalting2secondprize').attr("min", $('#CPM_' + currId + '__Runninghoursinclhalting1stprize').val());
                    var parRoute = $('#CPM_' + currId + '__IncentiveAMT').attr("max", $('#CPM_' + currId + '__IncentiveINCLNormalIncentiveSpecial').val());
                });


                Formvalidate(DomainName);
                $("#btnAddNewRow").click(function () {
                    AddDetails(DomainName, '2')
                });
                AddDetails(DomainName, "1");

                $("#btnSubmit").click(function () {
                    if ($('#form_sample').valid()) {
                        App.blockUI({ boxed: true });
                        document.forms["form_sample"].submit()
                    }
                    else {
                        return false
                    }
                });

                $('.CLSCHKCKED').live('click', function () {
                    var Ischeck = $(this).val();
                   
                    if (jQuery(this).is(":checked")) {
                        $(this).val("true");
                        $('#' + $(this).attr('Id').replace('IsChecked', 'Route')).attr("readonly", false);
                        $('#' + $(this).attr('Id').replace('IsChecked', 'DistanceKm')).attr("readonly", false);
                        $('#' + $(this).attr('Id').replace('IsChecked', 'VehicleType')).attr("readonly", false);
                        $('#' + $(this).attr('Id').replace('IsChecked', 'Runninghoursinclhalting1stprize')).attr("readonly", false);
                        $('#' + $(this).attr('Id').replace('IsChecked', 'IncentiveINCLNormalIncentiveSpecial')).attr("readonly", false);
                        $('#' + $(this).attr('Id').replace('IsChecked', 'Runninghoursinclhalting2secondprize')).attr("readonly", false);
                        $('#' + $(this).attr('Id').replace('IsChecked', 'IncentiveAMT')).attr("readonly", false);
                        $('#' + $(this).attr('Id').replace('IsChecked', 'PenaltyPerHRDeductionFromthc')).attr("readonly", false);

                    }
                    else {
                        $(this).val("false"); $('#' + $(this).attr('Id').replace('IsChecked', 'Route')).attr("readonly", true);
                        $('#' + $(this).attr('Id').replace('IsChecked', 'DistanceKm')).attr("readonly", true);
                        $('#' + $(this).attr('Id').replace('IsChecked', 'VehicleType')).attr("readonly", true);
                        $('#' + $(this).attr('Id').replace('IsChecked', 'Runninghoursinclhalting1stprize')).attr("readonly", true);
                        $('#' + $(this).attr('Id').replace('IsChecked', 'IncentiveINCLNormalIncentiveSpecial')).attr("readonly", true);
                        $('#' + $(this).attr('Id').replace('IsChecked', 'Runninghoursinclhalting2secondprize')).attr("readonly", true);
                        $('#' + $(this).attr('Id').replace('IsChecked', 'IncentiveAMT')).attr("readonly", true);
                        $('#' + $(this).attr('Id').replace('IsChecked', 'PenaltyPerHRDeductionFromthc')).attr("readonly", true);
                    }
                });
            }
        }
    }();
</script>
