﻿@model Fleet.ViewModels.ExpensesEntryModule
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.OperationService CSOPN = new FleetDataService.OperationService();
    FleetDataService.BranchAccountingService BAS = new FleetDataService.BranchAccountingService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> List_Staff = MS.GetGeneralMasterObject().Where(C => C.CodeType == "TYPE_OF_STAFF" && (C.CodeId == "1" || C.CodeId == "2")).ToList();
    List<webx_acctinfo> ListTDSSection = CSOPN.GetTDSSectionList();
    string ActionName = ViewBag.ActionName;
}

@using (Html.BeginForm(ActionName, "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="form-group">
                            @Html.HiddenFor(m => m.Driver_TSP_Expense_HDR.DocumentNo)
                            @Html.HiddenFor(m => m.Driver_TSP_Expense_HDR.ExpenceType)
                            @Html.HiddenFor(m => m.Driver_TSP_Expense_HDR.BillNo)
                            @Html.HiddenFor(m => m.Driver_TSP_Expense_HDR.SecondEmpolyeeCode)
                            @Html.HiddenFor(m => m.SubType)
                            @Html.HiddenFor(m => m.Type2)
                            @Html.HiddenFor(m => m.ID)
                            @Html.HiddenFor(m => m.DriverID)
                            @Html.HiddenFor(m => m.NameofDriver)
                            @Html.HiddenFor(m => m.Driver_TSP_Expense_HDR.Brcd)

                            <div id="PaymentPart">

                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="col-md-4 form-group">
                                            <label class="control-label col-md-4">Type of Staff</label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(m => m.Driver_TSP_Expense_HDR.Type_Of_Staff, new SelectList(List_Staff, "CodeId", "CodeDesc", ""), "", new { @class = "select2 form-control required required2" })
                                            </div>
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label class="control-label col-md-4">Name Of Employee(Origin Branch)</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(c => c.Driver_TSP_Expense_HDR.EmpCode, new { placeholder = "Name Of Employee", @class = "form-control required required2" })
                                            </div>
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label class="control-label col-md-4">Employee Code</label>
                                            <div class="col-md-8">
                                                @Html.HiddenFor(c => c.Driver_TSP_Expense_HDR.EmpName)
                                                @Html.TextBox("ShowEmpCode", Model.Driver_TSP_Expense_HDR.EmpCode, new { placeholder = "Employee Code", @class = "form-control required required2", @readonly = "true" })
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="col-md-4  form-group clsApproval">
                                            <label class="control-label col-md-4">Name Of Bank</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(c => c.Driver_TSP_Expense_HDR.BankName, new { placeholder = "Name Of Bank", @class = "form-control ", @readonly = "true" })
                                            </div>
                                        </div>
                                        <div class="col-md-4  form-group clsApproval">
                                            <label class="control-label col-md-4">Bank a/c Number</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(c => c.Driver_TSP_Expense_HDR.BankAccNumber, new { placeholder = "Bank a/c Number", @class = "form-control", @readonly = "true" })
                                            </div>
                                        </div>
                                        <div class="col-md-4  form-group clsApproval">
                                            <label class="control-label col-md-4">Ifsc Code</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(c => c.Driver_TSP_Expense_HDR.IFSCCode, new { placeholder = "Ifsc Code", @class = "form-control ", @readonly = "true" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="col-md-4 form-group">
                                            <label class="control-label col-md-4">Name Of Payee</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(c => c.Driver_TSP_Expense_HDR.NameOFPayee, new { placeholder = "Name Of Payee", @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="col-md-4 form-group">
                                            <label class="control-label col-md-4">Thc No.</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(c => c.Driver_TSP_Expense_HDR.DocumentNo, new { placeholder = "Thc No.", @class = " form-control required required2", @readonly = "true" })
                                            </div>
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label class="control-label col-md-4">Number Of Manifest</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(c => c.Driver_TSP_Expense_HDR.NoOfManifest, new { placeholder = "Number Of Manifest", @class = " form-control required required2", @readonly = "true", @min = "1" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4  form-group">
                                            <label class="control-label col-md-4">Weight</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(c => c.Driver_TSP_Expense_HDR.Weight, new { placeholder = "Weight", @class = "form-control", @readonly = "true" })
                                            </div>
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label class="control-label col-md-4">Driver name</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(c => c.Driver_TSP_Expense_HDR.DriverName, new { placeholder = "Name Of Employee", @class = "form-control required required2" })
                                            </div>
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label class="control-label col-md-4">Driver Mobil No</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(c => c.Driver_TSP_Expense_HDR.DriverMobileNo, new { placeholder = "Driver Mobil No", @class = " form-control required required2", @maxlength = 12, @minlength = 10, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            @*@if (Model.SubType != 1)
                            {
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Second Employee(Destination Branch)</label>
                                    <div class="col-md-8">
                                        @if (Model.SubType == 4)
                                        {
                                            @Html.TextBoxFor(c => c.Driver_TSP_Expense_HDR.SecondEmpolyeeName, new { placeholder = "Second Employee", @class = "form-control required required2" })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(c => c.Driver_TSP_Expense_HDR.SecondEmpolyeeName, new { placeholder = "Second Employee", @class = "form-control required required2", @readonly = "true" })
                                        }
                                    </div>
                                </div>
                            }*@

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body ">
                        <div id="PaymentPart1">
                            <table id="sample_ven" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        @if (Model.SubType == 1)
                                        {
                                            <th style="white-space: pre-line">#</th>
                                        }
                                        <th style="white-space: pre-line">Manifest Number</th>
                                        <th style="white-space: pre-line">Weight</th>
                                        <th style="white-space: pre-line;text-align:center;" colspan="2">
                                            Manifest Location
                                        </th>
                                        <th style="white-space: pre-line">Disance</th>
                                        <th style="white-space: pre-line">Disance as Per Google</th>
                                        <th style="white-space: pre-line">Hours as Per Erp</th>
                                        <th style="white-space: pre-line">Hours as Per Google</th>
                                        <th style="white-space: pre-line">Name Of Driver</th>
                                        <th style="white-space: pre-line">Driver Contact Number</th>
                                        <th style="white-space: pre-line">Early Prize </th>
                                        <th style="white-space: pre-line">Early Prize Amount Hours</th>
                                        <th style="white-space: pre-line">On Time Prize </th>
                                        <th style="white-space: pre-line">On Time Prize Amount Hours</th>
                                        <th style="white-space: pre-line">Late Prize </th>
                                        <th style="white-space: pre-line">Late Prize Amount Hours</th>
                                        @if (Model.SubType != 1)
                                        {
                                            <th style="white-space: pre-line">Actual Hours as Per Destination Branch</th>
                                            <th style="white-space: pre-line">Amount Paid as Per Branch</th>
                                        }
                                        @if (Model.SubType == 2 || Model.SubType == 3)
                                        {
                                            <th style="white-space: pre-line">Amount Passed</th>
                                            <th style="white-space: pre-line">Amount Rejected</th>
                                            <th style="white-space: pre-line">Reason for Rejected</th>
                                        }
                                    </tr>

                                    <tr>
                                        @if (Model.SubType == 1)
                                        {
                                            <th style="white-space: pre-line"></th>
                                        }
                                        <th style="white-space: pre-line"></th>
                                        <th style="white-space: pre-line"></th>
                                        <th style="white-space: pre-line">From</th>
                                        <th style="white-space: pre-line">To</th>
                                        <th style="white-space: pre-line"></th>
                                        <th style="white-space: pre-line"></th>
                                        <th style="white-space: pre-line"></th>
                                        <th style="white-space: pre-line"></th>
                                        <th style="white-space: pre-line"></th>
                                        <th style="white-space: pre-line"></th>
                                        <th style="white-space: pre-line"></th>
                                        <th style="white-space: pre-line"></th>
                                        <th style="white-space: pre-line"></th>
                                        <th style="white-space: pre-line"></th>
                                        <th style="white-space: pre-line"></th>
                                        <th style="white-space: pre-line"></th>
                                        @if (Model.SubType != 1)
                                        {
                                            <th style="white-space: pre-line"></th>
                                            <th style="white-space: pre-line"></th>
                                        }
                                        @if (Model.SubType == 2 || Model.SubType == 3)
                                        {
                                            <th style="white-space: pre-line"></th>
                                            <th style="white-space: pre-line"></th>
                                            <th style="white-space: pre-line"></th>
                                        }
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.List_Driver_TSP_Expense_DET)
                                    {
                                        Html.RenderPartial("_DriverIncentiveTSPCharge", item);
                                    }
                                </tbody>

                            </table>
                        </div>
                        <div id="PaymentControl">
                            @if (Model.SubType == 3)
                            {
                                @*@Html.Partial("_BranchAccounting_PaymentPart", Model);

                                    <hr />*@
                                <div class="form-group">
                                    @foreach (var itms in Model.WADListing)
                                    {
                                        itms.Vouchertype = "BranchAccountingType";
                                        @*@Html.Partial("../Voucher/_PaymentModePartial", itms)*@
                                        @Html.Partial("../Voucher/_PaymentModePartiaBranchAccounting", itms)
                                        
                                    }
                                </div>
                            }
                        </div>
                        <div class="form-actions fluid" id="SubmitBtn">
                            @{
                                @Html.Partial("_BranchAcct_SubmitPartial", Model)
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                }

@*<script type="text/javascript" src="@Url.Content("~/Scripts/AccountControl.js")"></script>*@
<script src="~/Scripts/BranchAccounting/BranchAccounting.js?ver<%=DateTime.Now.Ticks.ToString()%>" type="text/javascript"></script>
<script src="~/Scripts/basefunction.js?ver<%=DateTime.Now.Ticks.ToString()%>" type="text/javascript"></script>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var select2Date = function (DomainName) {

            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });

            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: new Date(),
                    // endDate: new Date(),
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //document.form["form_sample"].submit();
                }
            });
        }

        /* Acouting Calculation */
        var Accounting_Calculation = function (DomainName, Prefix) {
            IsServicetaxCalculated(DomainName, Prefix)
            OnLoadFunction(DomainName, Prefix)

            $("#WAD_IsServicetaxapply").change(function () {
                IsServicetaxCalculated(DomainName, Prefix);
            })
            $("#WAD_IsTDStaxapply").change(function () {
                IsServicetaxCalculated(DomainName, Prefix);
            })
            $("#WAD_TDSRate").focusout(function () {
                IsServicetaxCalculated(DomainName, Prefix);
            })
        }

        var Submit_Approval_Rejection = function (DomainName) {

            $("#btnSubmit").click(function () {
                Formvalidate(DomainName);

                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false)
                    $("#Approval_Rejection_Part :input").attr("disabled", false);

                    document.forms["form_sample"].submit()
                }
                else {
                    return false
                }
            });

            $('#btnRejectAtHO').click(function () {

                //$(".clsAmount_Passed").each(function () {
                //    var Id = $(this).attr("id").replace("Amount_Passed", "");
                //    $("#" + Id + "Reason_For_Rejection").addClass("required required2")
                //    $("#" + Id + "Amount_Passed").attr("min", "0")
                //    $("#" + Id + "Amount_Rejected").attr("min", "1")
                //    if ($("#" + Id + "Amount_Passed").val() == "0") {
                //        $("#" + Id + "Amount_Passed").val("0")
                //        $("#" + Id + "Amount_Rejected").val($("#" + Id + "AmountPaid_Per_Branch").val())
                //    }
                //})

                Formvalidate(DomainName);

                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false)
                    $("#Approval_Rejection_Part :input").attr("disabled", false);

                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/DriverIncentiveTSPCharge_Reject');
                    document.forms["form_sample"].submit()
                }
                else {
                    return false
                }
            });

            $('#btnAuthorizeAtHo').click(function () {

                //$(".clsAmount_Passed").each(function () {
                //    var Id = $(this).attr("id").replace("Amount_Passed", "");
                //    $("#" + Id + "Reason_For_Rejection").removeClass("required required2")
                //    $("#" + Id + "Amount_Passed").attr("min", "1")
                //    $("#" + Id + "Amount_Rejected").attr("min", "0")
                //})
                $("#Amount_Passed_Tot").attr("min", "1")

                Formvalidate(DomainName);
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false)
                    $("#Approval_Rejection_Part :input").attr("disabled", false);

                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/DriverIncentiveTSPCharge_Approval');
                    document.forms["form_sample"].submit()
                }
                else {
                    return false
                }
            });

            $('#btnBranchRejectAtHO').click(function () {
                Formvalidate(DomainName);

                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false)
                    $("#Approval_Rejection_Part :input").attr("disabled", false);

                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/DriverIncentiveTSP_BranchApproval_BranchRejection');
                    document.forms["form_sample"].submit()
                }
                else {
                    return false
                }
            });

            $('#btnBranchAuthorizeAtHo').click(function () {
                Formvalidate(DomainName);
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false)
                    $("#Approval_Rejection_Part :input").attr("disabled", false);

                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/DriverIncentiveTSP_Approval_At_Destination_Branch');
                    document.forms["form_sample"].submit()
                }
                else {
                    return false
                }
            });


            $("#btnApprovSubmit").click(function () {

                $("#PaymentPart :input").attr("disabled", false);
                $("#PaymentPart1 :input").attr("disabled", false);

                Formvalidate(DomainName);

                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $("#PaymentPart :input").attr("disabled", false);
                    $("#PaymentPart1 :input").attr("disabled", false);

                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/Accounting_Payment_Submit_New_Process');
                    $("#container :input").attr("disabled", false);
                    document.forms['form_sample'].submit()
                    $('#' + FormID + '').submit();
                }
                else {
                    $("#PaymentPart :input").attr("disabled", true);
                    $("#PaymentPart1 :input").attr("disabled", true);
                }
            });
            
        }

        var AddDetails = function (DomainName, itemIn) {

            var StrURL1 = DomainName + '/BranchAccounting/_Add_Expenses_Details/' + itemIn + "?Type=2";

            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    var Rid = itemIn;
                    $("#Bodycontainer").append(html);
                    App.unblockUI();
                    $("#Add_Details_Count").val(itemIn);

                    $('.select2').select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    //Calculation(DomainName);
                },
                error: function (req, status, error) {
                    alert("error " + req + "   " + status + "   " + error);
                }
            });
        }

        var Calculation = function (DomainName, ID) {

            var AmountPaid_Per_Branch = ID + "AmountPaid_Per_Branch";
            var First_st_Prize_Tot = ID + "One_ST_Prize_Amount_Hours";
            var Sec_ST_Prize_Amount_Hours = ID + "Second_ST_Prize_Amount_Hours";
            var Th_ST_Prize_Amount_Hours = ID + "Third_ST_Prize_Amount_Hours";

            var AmountPaid_Per_Branch = $("#" + AmountPaid_Per_Branch).val();
            var First_st_Prize_Tot = $("#" + First_st_Prize_Tot).val();
            var Sec_ST_Prize_Amount_Hours = $("#" + Sec_ST_Prize_Amount_Hours).val();
            var Th_ST_Prize_Amount_Hours = $("#" + Th_ST_Prize_Amount_Hours).val();

            var Total_TotalClaim_IncHandling = parseFloat(AmountPaid_Per_Branch) + parseFloat(AmountPaid_Per_Branch) + parseFloat(AmountPaid_Per_Branch) + parseFloat(AmountPaid_Per_Branch)
            var First_st_Prize_Total = parseFloat(First_st_Prize_Tot) + parseFloat(First_st_Prize_Tot) + parseFloat(First_st_Prize_Tot) + parseFloat(First_st_Prize_Tot)
            var Sec_ST_Prize_Amount_Hours_Total = parseFloat(Sec_ST_Prize_Amount_Hours) + parseFloat(Sec_ST_Prize_Amount_Hours) + parseFloat(Sec_ST_Prize_Amount_Hours) + parseFloat(Sec_ST_Prize_Amount_Hours)
            var Th_ST_Prize_Amount_Hours_Total = parseFloat(Th_ST_Prize_Amount_Hours) + parseFloat(Th_ST_Prize_Amount_Hours) + parseFloat(Th_ST_Prize_Amount_Hours) + parseFloat(Th_ST_Prize_Amount_Hours)

            $("#" + AmountPaid_Per_Branch).val(Total_TotalClaim_IncHandling);
            $("#" + First_st_Prize_Tot).val(First_st_Prize_Total);
            $("#" + Sec_ST_Prize_Amount_Hours).val(Sec_ST_Prize_Amount_Hours_Total);
            $("#" + Th_ST_Prize_Amount_Hours).val(Th_ST_Prize_Amount_Hours_Total);

            var Amount_paid_as_per_Branch_Total = "0";
            $(".clsAmountPaid_Per_Branch").each(function () {
                var ID = $(this).attr("id").replace("AmountPaid_Per_Branch", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    Amount_paid_as_per_Branch_Total = parseFloat(Amount_paid_as_per_Branch_Total) + parseFloat($(this).val());
                }
            });
            $("#Amount_paid_as_per_Branch_Tot").html(Amount_paid_as_per_Branch_Total);
            $("#Amount_paid_as_per_Branch_Tot_val").val(Amount_paid_as_per_Branch_Total);

            var Amount_paid_as_per_Branch_Total = "0";
            $(".clsOne_ST_Prize_Amount_Hours").each(function () {
                var ID = $(this).attr("id").replace("One_ST_Prize_Amount_Hours", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    Amount_paid_as_per_Branch_Total = parseFloat(Amount_paid_as_per_Branch_Total) + parseFloat($(this).val());
                }
            });
            $("#1_st_Prize_Tot").html(Amount_paid_as_per_Branch_Total);
            $("#1_st_Prize_Tot_val").val(Amount_paid_as_per_Branch_Total);

            var Amount_paid_as_per_Branch_Total = "0";
            $(".clsSecond_ST_Prize_Amount_Hours").each(function () {
                var ID = $(this).attr("id").replace("Second_ST_Prize_Amount_Hours", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    Amount_paid_as_per_Branch_Total = parseFloat(Amount_paid_as_per_Branch_Total) + parseFloat($(this).val());
                }
            });
            $("#2_st_Prize_Tot").html(Amount_paid_as_per_Branch_Total);
            $("#2_st_Prize_Tot_val").val(Amount_paid_as_per_Branch_Total);

            var Amount_paid_as_per_Branch_Total = "0";
            $(".clsThird_ST_Prize_Amount_Hours").each(function () {
                var ID = $(this).attr("id").replace("Third_ST_Prize_Amount_Hours", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    Amount_paid_as_per_Branch_Total = parseFloat(Amount_paid_as_per_Branch_Total) + parseFloat($(this).val());
                }
            });
            $("#3_st_Prize_Tot").html(Amount_paid_as_per_Branch_Total);
            $("#3_st_Prize_Tot_val").val(Amount_paid_as_per_Branch_Total);

        }

        var WeightChangedEvent = function (DomainName) {
            var Weight = 0;
            var NoOfManifest = 0;
            $("input[name='optionsRadios2']").click(function () {
                var Id = $(this).attr("id");
                $(".clsCheckBox").each(function () {

                    var IDS = $(this).attr("id").replace("CheckBox", "")
                    $(this).prop('checked', false);
                    $(this).parent('span').removeClass('checked');
                    $("#" + IDS + "GoogleDistance").val("0");
                    $("#" + IDS + "GoogleHours").val("0");
                });
                $("#ID").val(Id);
                //GetDistace($("#CPEEDET_" + Id + "__MFrom").val(), $("#CPEEDET_" + Id + "__MTo").val(), "0", "0", "1", "CPEEDET_" + Id + "__GoogleDistance", "CPEEDET_" + Id + "__GoogleHours");

                $("#CPEEDET_" + Id + "__CheckBox").prop('checked', true);
                $("#CPEEDET_" + Id + "__CheckBox").prop('checked', true);
                $("#CPEEDET_" + Id + "__Hours_AsPer_Erp").attr("readonly",false);

                Weight = /*parseFloat(Weight) +*/ parseFloat($("#CPEEDET_" + Id + "__Weight").val());
                NoOfManifest = /*parseInt(NoOfManifest) + */parseInt(1);

                $("#Driver_TSP_Expense_HDR_NoOfManifest").val(NoOfManifest);
                $("#Driver_TSP_Expense_HDR_Weight").val(Weight);


            });
 
        }
        var Getprizeandamt = function (DomainName,ID) {

            var Route = $("#CPEEDET_"+ID+"__Route").val();
            var Hours = $("#CPEEDET_" + ID + "__Hours_AsPer_Erp").val();
            App.blockUI({ boxed: true });

            var strUrl = "@Url.Action("GetData", "Account")";
            var parameters = {};
            parameters['Route'] = Route;
            parameters['Hours'] = Hours;

            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: "json",
                data: {
                    Method: 'Get_HoursAmt_Details',
                    parameters: parameters
                },
                success: function (result) {
                    if (result[0] != undefined)
                    {
                        if (result[0].firstprizeamt != undefined) {
                            $("#CPEEDET_" + ID + "__One_ST_Prize").val(result[0].firstprizeamt);
                            $("#CPEEDET_" + ID + "__One_ST_Prize_Amount_Hours").val(result[0].firstprize);
                            $("#CPEEDET_" + ID + "__Second_ST_Prize").val(null);
                            $("#CPEEDET_" + ID + "__Second_ST_Prize_Amount_Hours").val(null);
                            $("#CPEEDET_" + ID + "__Third_ST_Prize_Amount_Hours").val(null);
                            $("#CPEEDET_" + ID + "__Third_ST_Prize").val(null);

                        }
                        else if (result[0].Secondprizeamt != undefined) {
                            $("#CPEEDET_" + ID + "__Second_ST_Prize").val(result[0].Secondprizeamt);
                            $("#CPEEDET_" + ID + "__Second_ST_Prize_Amount_Hours").val(result[0].Secondprize);
                            $("#CPEEDET_" + ID + "__One_ST_Prize").val(null);
                            $("#CPEEDET_" + ID + "__One_ST_Prize_Amount_Hours").val(null);
                            $("#CPEEDET_" + ID + "__Third_ST_Prize_Amount_Hours").val(null);
                            $("#CPEEDET_" + ID + "__Third_ST_Prize").val(null);
                        }
                        else if (result[0].penaltyAMT != undefined) {

                            $("#CPEEDET_" + ID + "__Third_ST_Prize_Amount_Hours").val(result[0].penaltyhours);
                            $("#CPEEDET_" + ID + "__Third_ST_Prize").val(result[0].penaltyAMT);
                            $("#CPEEDET_" + ID + "__Second_ST_Prize").val(null);
                            $("#CPEEDET_" + ID + "__Second_ST_Prize_Amount_Hours").val(null);
                            $("#CPEEDET_" + ID + "__One_ST_Prize").val(null);
                            $("#CPEEDET_" + ID + "__One_ST_Prize_Amount_Hours").val(null);

                        }
                        else {
                            TosterNotification("error", "Opration fail....!! Incentive plan is not avaialble for this route........", "Error");
                            $("#CPEEDET_" + ID + "__CheckBox").attr("checked", false);
                        }
                    }
                    else
                    {
                        TosterNotification("error", "Opration fail....!! Incentive plan is not avaialble for this route........", "Error");
                        $("#CPEEDET_" + ID + "__CheckBox").prop('checked', false);
                    }
                   
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue while update candidate status... Please try again later..', "Oppps..!!");
                    App.unblockUI('#responsive');
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                var Prefix = "PAYMENTMODE_1__";
                Formvalidate(DomainName);

                GetVehicleEmployeeUserName_BranchWise("Driver_TSP_Expense_HDR_SecondEmpolyeeName", "U")

                $(".clshours").change(function () {
                    var currId = $(this).attr('id').split("_")[1];
                    var currval = $(this).val();
                    Getprizeandamt(DomainName, currId)
                })

                select2Date(DomainName);
                Accounting_Calculation(DomainName, Prefix);
                Submit_Approval_Rejection(DomainName);
                WeightChangedEvent(DomainName);

                $("#Driver_TSP_Expense_HDR_Type_Of_Staff").change(function () {
                    var val = $("#Driver_TSP_Expense_HDR_Type_Of_Staff").val();
                    //                    alert(val)
                    if (val == "1") {
                        GetVehicleEmployeeUserName_BranchWise("Driver_TSP_Expense_HDR_EmpCode", "U")
                    }
                    else if (val == "2") {
                        Get_Driver_BranchWise("Driver_TSP_Expense_HDR_EmpCode", "1")
                    }
                    EmpCode_Change(DomainName, "", "Driver_TSP_Expense_HDR_", 0, 0, 0, 0);
                });

                Get_Driver_BranchWise("Driver_TSP_Expense_HDR_DriverName", "1")


              if ($("#Driver_TSP_Expense_HDR_DriverName").val() != '' && $("#Driver_TSP_Expense_HDR_DriverName").val() != null) {
                        $("#Driver_TSP_Expense_HDR_DriverName").select2("data", { id: $("#Driver_TSP_Expense_HDR_DriverName").val(), text: $("#Driver_TSP_Expense_HDR_DriverName").val() });
               }

                if ($("#Driver_TSP_Expense_HDR_EmpCode").val() != '' && $("#Driver_TSP_Expense_HDR_EmpCode").val() != null) {
                    $("#Driver_TSP_Expense_HDR_EmpCode").select2("data", { id: $("#Driver_TSP_Expense_HDR_EmpCode").val(), text: $("#Driver_TSP_Expense_HDR_EmpName").val() });
                    $("#ShowEmpCode").val($("#Driver_TSP_Expense_HDR_EmpCode").val());
                }

                if ($("#Driver_TSP_Expense_HDR_SecondEmpolyeeCode").val() != '' && $("#Driver_TSP_Expense_HDR_SecondEmpolyeeCode").val() != null) {
                    $("#Driver_TSP_Expense_HDR_SecondEmpolyeeName").select2("data", { id: $("#Driver_TSP_Expense_HDR_SecondEmpolyeeCode").val(), text: $("#Driver_TSP_Expense_HDR_SecondEmpolyeeName").val() });
                }

                $("#Driver_TSP_Expense_HDR_EmpCode").change(function () {

                    var val = $("#Driver_TSP_Expense_HDR_Type_Of_Staff").val();
                    if (val == "1") {
                        EmpCode_Change(DomainName, $("#Driver_TSP_Expense_HDR_EmpCode").val(), "Driver_TSP_Expense_HDR_", 1, 0, 0, 0);
                    }
                    else if (val == "2") {
                        EmpCode_Change(DomainName, $("#Driver_TSP_Expense_HDR_EmpCode").val(), "Driver_TSP_Expense_HDR_", 0, 1, 0, 0);
                    }

                });

                @foreach (var item in Model.List_Driver_TSP_Expense_DET)
                {
                   
                    var CheckBox = "CPEEDET_" + @item.ID + "__CheckBox";
                    var AmountPaid_Per_Branch = "CPEEDET_" + @item.ID + "__AmountPaid_Per_Branch";
                    var One_ST_Prize_Amount_Hours = "CPEEDET_" + @item.ID + "__One_ST_Prize_Amount_Hours";
                    var Second_ST_Prize_Amount_Hours = "CPEEDET_" + @item.ID + "__Second_ST_Prize_Amount_Hours";
                    var Third_ST_Prize_Amount_Hours = "CPEEDET_" + @item.ID + "__Third_ST_Prize_Amount_Hours";
                    var MFrom = "CPEEDET_" + @item.ID + "__MFrom";
                    var MTo = "CPEEDET_" + @item.ID + "__MTo";
                    var GoogleDistance = "CPEEDET_" + @item.ID + "__GoogleDistance";
                    var GoogleHours = "CPEEDET_" + @item.ID + "__GoogleHours";

                    <text>
                $("#@CheckBox").attr("value", "false");
                $('#@CheckBox').click(function () {
                    var checked = jQuery(this).is(":checked");
                    $("#@CheckBox").val(checked);
                    WeightChangedEvent(DomainName);
                    if (checked) {
                        GetDistace($("#@MFrom").val(), $("#@MTo").val(), "0", "0", "1", "@GoogleDistance", "@GoogleHours")
                    }
                    else {
                        $("#@GoogleDistance").val("0");
                        $("#@GoogleHours").val("0");
                    }
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                });

                $("#@AmountPaid_Per_Branch").focusout(function () {
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                })
                $("#@One_ST_Prize_Amount_Hours").focusout(function () {
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                })
                $("#@Second_ST_Prize_Amount_Hours").focusout(function () {
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                })
                $("#@Third_ST_Prize_Amount_Hours").focusout(function () {
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                })

                </text>
                }


                BR_Request_Common_Function(DomainName, "Driver_TSP_Expense_HDR_", "Driver_TSP_Expense_DET_", "form_sample");
 

                $("#btnAddNewRow").click(function () {
                    var itemIndex = parseInt($("#Add_Details_Count").val()) + parseInt(1);
                    App.blockUI({ boxed: true });
                    AddDetails(DomainName, itemIndex);
                });

            }
        }
    }();
</script>
