﻿@model Fleet.ViewModels.ExpensesEntryModule
@using Fleet.Helpers;
@using FleetDataService.Models;
@using Fleet.Classes;
@using Fleet.ViewModels;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Electriciy Expenses";

    var ListPaymentMode = new List<SelectListItem>();
    ListPaymentMode.Add(new SelectListItem { Text = "Cash", Value = "Cash" });
    ListPaymentMode.Add(new SelectListItem { Text = "Bank", Value = "Bank" });

    var ListElectricity_Board = new List<SelectListItem>();
    ListElectricity_Board.Add(new SelectListItem { Text = "STAFF", Value = "STAFF" });
    ListElectricity_Board.Add(new SelectListItem { Text = "ELECTRICITY BOARD", Value = "ELECTRICITY BOARD" });

    FleetDataService.OperationService CSOPN = new FleetDataService.OperationService();
    FleetDataService.BranchAccountingService BAS = new FleetDataService.BranchAccountingService();

    var BRCD = ViewBag.BaseLocationCode;
    if (Model.SubType == 2)
    {
        BRCD = Model.Elec_Expense_HDR.BRCD;
    }
    List<webx_CUSTHDR> ListEmployee = BAS.GetCustomerUserList_BranchWise_FromSearch("", "U", BRCD);

    string ActionName = ViewBag.ActionName;
    int i = 1;
    string IS_EMP_BankDetails = ViewBag.IS_EMP_BankDetails;

    objDate Date = new objDate();
    Date.ControlId = "Elec_Expense_HDR.BR_Date";
    Date.ControlValue = Model.Elec_Expense_HDR.BR_Date.ToString();
    Date.ModuleCode = "20";
}

@using (Html.BeginForm("Electriciy_Expenses_Submit", "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="form-group" id="PaymentPart">
                            @Html.HiddenFor(m => m.Elec_Expense_HDR.DocumentNo)
                            @Html.HiddenFor(m => m.Elec_Expense_HDR.ExpenceType)
                            @Html.HiddenFor(m => m.Elec_Expense_HDR.BillNo)
                            @Html.HiddenFor(m => m.Elec_Expense_HDR.BRCD)
                            @Html.HiddenFor(m => m.SubType)
                            @Html.HiddenFor(m => m.Type2)
                            @Html.Hidden("Add_Details_Count", Model.List_Elec_Expense_DET.Count())
                            @Html.Hidden("IS_EMP_BankDetails", IS_EMP_BankDetails)

                            <div class="col-md-12 clsApproval">

                                <div class="col-md-4 form-group ">
                                    <label class="control-label col-md-4">Name Of Bank</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Elec_Expense_HDR.BankName, new { placeholder = "NAME OF BANK", @class = "form-control ", @readonly = "true" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Bank a/c Number</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Elec_Expense_HDR.BankAccNumber, new { placeholder = "BANK A/C NUMBER", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group ">
                                    <label class="control-label col-md-4">IFSC Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Elec_Expense_HDR.IFSCCode, new { placeholder = "IFSC CODE", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">ELECTRICITY BOARD</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Elec_Expense_HDR.Electricity_Board, new SelectList(ListElectricity_Board, "Value", "Text", ""), "", new { @class = "form-control select2 required required2" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group" id="Electricity_Board_Details">
                                    <label class="control-label col-md-4">ELEC. BOARD DETAILS</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Elec_Expense_HDR.Electricity_Board_Details, new { placeholder = "ELEC. BOARD DETAILS", @class = "form-control required required2" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group" id="Staff_Details">
                                    <label class="control-label col-md-4">STAFF DETAILS</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Elec_Expense_HDR.Staff_Details, new SelectList(ListEmployee, "CUSTCD", "CUSTNM", ""), "", new { @class = "form-control select2 required required2" })
                                    </div>
                                </div>
                            </div>
                            @*
                                <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">BR Date</label>
                                    <div class="col-md-8">
                                        @{
    Html.RenderPartial("../UserControls/_DocumentDate", Date);
                                        }
                                    </div>
                                </div>
                            </div>*@

                            <!--
                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Name Of Employee</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Elec_Expense_HDR.EmpCode, new { placeholder = "NAME OF EMPLOYEE", @class = "form-control required required2" })
                                        @Html.HiddenFor(c => c.Elec_Expense_HDR.EmpName)
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">EMPLOYEE CODE</label>
                                        <div class="col-md-8">
                                            @Html.HiddenFor(c => c.Elec_Expense_HDR.EmpName)
                                            @Html.TextBox("ShowEmpCode", Model.Elec_Expense_HDR.EmpCode, new { placeholder = "EMPLOYEE CODE", @class = "form-control required required2", @readonly = "true" })
                                        </div>
                                    </div>
                                <div class="col-md-4 form-group clsApproval">
                                    <label class="control-label col-md-4">NAME OF BANK</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Elec_Expense_HDR.BankName, new { placeholder = "NAME OF BANK", @class = "form-control ", @readonly = "true" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group clsApproval">
                                    <label class="control-label col-md-4">BANK A/C NUMBER</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Elec_Expense_HDR.BankAccNumber, new { placeholder = "BANK A/C NUMBER", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group clsApproval">
                                    <label class="control-label col-md-4">IFSC CODE</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Elec_Expense_HDR.IFSCCode, new { placeholder = "IFSC CODE", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">MODE OF PAYMENT</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Elec_Expense_HDR.PaymentMode, new SelectList(ListPaymentMode, "Value", "Text", ""), "", new { @class = "form-control select2" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Type of Payee</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Elec_Expense_HDR.Electricity_Board, new SelectList(ListElectricity_Board, "Value", "Text", ""), "", new { @class = "form-control select2 required required2" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group" id="Electricity_Board_Details">
                                    <label class="control-label col-md-4">ELEC. BOARD DETAILS</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Elec_Expense_HDR.Electricity_Board_Details, new { placeholder = "ELEC. BOARD DETAILS", @class = "form-control required required2" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group" id="Staff_Details">
                                    <label class="control-label col-md-4">STAFF DETAILS</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Elec_Expense_HDR.Staff_Details, new SelectList(ListEmployee, "CUSTCD", "CUSTNM", ""), "", new { @class = "form-control select2 required required2" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">UPLOAD IMAGE</label>
                                    <div class="col-md-8">
                                        <input type="file" name="file">
                                    </div>
                                </div>
                            </div>
                            -->

                        </div>

                        <div id="PaymentPart1">

                            @foreach (var item in Model.List_Elec_Expense_DET)
                            {
                                item.RowId = i;
                                Html.RenderPartial("_Electriciy_Expenses_Partial", item);
                                i++;
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" id="PaymentControl">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Payment @ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-body">
                                @if (Model.SubType == 3)
                                {
                                    @*@Html.Partial("../Voucher/_BranchAccounting_PaymentPart",Model)*@

                                    <hr />
                                    <div class="form-group">
                                        @foreach (var itms in Model.WADListing)
                                        {
                                            itms.Vouchertype = "BranchAccountingType";
                                            @Html.Partial("../Voucher/_PaymentModePartiaBranchAccounting", itms)
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-actions fluid" id="SubmitBtn">
                @{
                    @Html.Partial("_BranchAcct_SubmitPartial", Model)
                }
            </div>
        </div>
    </div>
}

<script src="~/Scripts/BranchAccounting/BranchAccounting.js?ver<%=DateTime.Now.Ticks.ToString()%>" type="text/javascript"></script>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var select2Date = function (DomainName) {

            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });

            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: new Date(),
                    // endDate: new Date(),
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        /* Acouting Calculation */
        var Accounting_Calculation = function (DomainName, Prefix) {
            IsServicetaxCalculated(DomainName, Prefix)
            OnLoadFunction(DomainName, Prefix)

            $("#WAD_IsServicetaxapply").change(function () {
                IsServicetaxCalculated(DomainName, Prefix);
            })
            $("#WAD_IsTDStaxapply").change(function () {
                IsServicetaxCalculated(DomainName, Prefix);
            })
            $("#WAD_TDSRate").focusout(function () {
                IsServicetaxCalculated(DomainName, Prefix);
            })
        }

        var Submit_Approval_Rejection = function (DomainName) {

            $("#btnSubmit").click(function () {

                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit()
                }
                else {
                    return false
                }
            });

            if ($("#SubType").val() != "1") {
                var Idss = $(".clsAmount_Passed").attr("id").replace("Amount_Passed", "");

                $('#btnRejectAtHO').click(function () {
                    Formvalidate(DomainName);

                    $("#" + Idss + "Reason_For_Rejection").addClass("required required2")
                    $("#" + Idss + "Amount_Passed").attr("min", "0")
                    $("#" + Idss + "Amount_Passed").removeClass("required required2")
                    $("#" + Idss + "Amount_Rejected").attr("min", "1")
                    $("#" + Idss + "Amount_Rejected").attr("min", "1")

                    if ($('#form_sample').valid()) {

                        $(".clsApproval_Rejection").attr("disabled", false)
                        $("#PaymentPart :input").attr("disabled", false);

                        App.blockUI({ boxed: true });
                        $('#form_sample').attr('action', DomainName + '/BranchAccounting/Electricity_Reject');
                        document.forms["form_sample"].submit()
                    }
                });

                $('#btnAuthorizeAtHo').click(function () {

                    $("#" + Idss + "Reason_For_Rejection").removeClass("required required2")
                    $("#" + Idss + "Amount_Passed").addClass("required required2")
                    $("#" + Idss + "Amount_Passed").attr("min", "1")
                    $("#" + Idss + "Amount_Rejected").attr("min", "0")

                    Formvalidate(DomainName);
                    if ($('#form_sample').valid()) {

                        $(".clsApproval_Rejection").attr("disabled", false)
                        $("#PaymentPart :input").attr("disabled", false);

                        App.blockUI({ boxed: true });

                        $('#form_sample').attr('action', DomainName + '/BranchAccounting/Electricity_Approval');
                        document.forms["form_sample"].submit()
                    }
                });
            }
        }

        var AddDetails = function (DomainName, itemIn) {

            var StrURL1 = DomainName + '/BranchAccounting/_Add_Expenses_Details/' + itemIn + "?Type=1";

            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    var Rid = itemIn;
                    $("#Bodycontainer").append(html);
                    App.unblockUI();
                    $("#Add_Details_Count").val(itemIn);

                    $('.select2').select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    //Calculation(DomainName);
                },
                error: function (req, status, error) {
                    alert("error " + req + "   " + status + "   " + error);
                }
            });
        }

        var Electricity_Board_ChangeEvents = function (DomainName) {
            $("#Elec_Expense_HDR_Electricity_Board").change(function () {
                var val = $(this).val();
                Electricity_Board_Changed(DomainName, val);
            });
        }

        var Electricity_Board_Changed = function (DomainName, val) {

            if (val == "STAFF") {

                $("#Staff_Details").show();
                $("#Elec_Expense_HDR_Staff_Details").addClass("required required2")
                $("#Electricity_Board_Details").hide();
                $("#Elec_Expense_HDR_Electricity_Board_Details").removeClass("required required2")
            }
            else if (val == "ELECTRICITY BOARD") {
                $("#Staff_Details").hide();
                $("#Elec_Expense_HDR_Staff_Details").removeClass("required required2")
                $("#Electricity_Board_Details").show();
                $("#Elec_Expense_HDR_Electricity_Board_Details").addClass("required required2")
            }
            else {
                $("#Staff_Details").hide();
                $("#Elec_Expense_HDR_Staff_Details").addClass("required required2")
                $("#Electricity_Board_Details").hide();
                $("#Elec_Expense_HDR_Electricity_Board_Details").addClass("required required2")
            }
        }

        var Unitcons_Umption = function (DomainName, id) {

            var PreviousReading = $("#" + id + "PreviousReading").val();
            var CurrentReading = $("#" + id + "CurrentReading").val();
            var UnitConsumption = 0;

            UnitConsumption = parseFloat(CurrentReading) - parseFloat(PreviousReading);

            $("#" + id + "UnitConsumption").val(UnitConsumption);
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                //ControlDate();
                $("#Elec_Expense_HDR_EmpCode").change(function () {
                    EmpCode_Change(DomainName, $("#Elec_Expense_HDR_EmpCode").val(), "Elec_Expense_HDR_", 1, 0, 0, 0);
                });

                GetVehicleEmployeeUserName_BranchWise("Elec_Expense_HDR_EmpCode", "U")

                if ($("#Elec_Expense_HDR_EmpCode").val() != '' && $("#Elec_Expense_HDR_EmpCode").val() != null) {
                    $("#Elec_Expense_HDR_EmpCode").select2("data", { id: $("#Elec_Expense_HDR_EmpCode").val(), text: $("#Elec_Expense_HDR_EmpName").val() });
                }

                $("#CPEEDET_1__Month_For_Which_Claim_BeingMade").change(function () {

                    var URL = DomainName + '/BranchAccounting/GetElectriciy_PreviousMonth?Month=' + $(this).val() + "&Month_Year=" + $("#s2id_CPEEDET_1__Month_For_Which_Claim_BeingMade span").html() + "&Address=" + $("#s2id_CPEEDET_1__Address span").html();
                    var Claim_BeingMade = $("#s2id_CPEEDET_1__Month_For_Which_Claim_BeingMade span").html();
                    $("#CPEEDET_1__Month_Year").val(Claim_BeingMade);
                    var Month_Year_String = Claim_BeingMade.split(":");
                    $("#CPEEDET_1__Bill_Year").val(Month_Year_String[1]);

                    if ($(this).val() != "") {

                        App.blockUI({ boxed: true });
                        $.ajax({
                            url: URL,
                            cache: false,
                            data: {},
                            type: 'POST',
                            success: function (data) {

                                if (data.IsRecordFound == "1") {
                                    $("#CPEEDET_1__Month_For_Which_Claim_BeingMade").val("");
                                    $("#CPEEDET_1__Month_For_Which_Claim_BeingMade").select2().find(":selected").data("");
                                    TosterNotification("error", "Error !! Oppssss this Address  BR Alredy generate this month In List........", "Error");

                                    App.unblockUI();
                                }
                                else if (data.IsRecordFound == "2") {
                                    $("#CPEEDET_1__Month_For_Which_Claim_BeingMade").val("");
                                    $("#CPEEDET_1__Month_For_Which_Claim_BeingMade").select2().find(":selected").data("");
                                    TosterNotification("error", "Error !! Oppssss this Address  BR Alredy generate this month In List........", "Error");

                                    App.unblockUI();
                                }
                                else {
                                    App.unblockUI();
                                }
                            },
                            error: function (req, status, error) {
                                $("#CPEEDET_1__Month_For_Which_Claim_BeingMade").val("");
                                $("#CPEEDET_1__Month_For_Which_Claim_BeingMade").select2().find(":selected").data("");
                                alert("Duplicate Month Found For Electricity.")
                                App.unblockUI();
                            }
                        });
                    }
                });

                $("#CPEEDET_1__Location").change(function () {
                    App.blockUI({ boxed: true });
                    var StrURL = DomainName + "/BranchAccounting/GetElect_AddressDetail?Location=" + $(this).val();
                    FillDropDownfromOther("CPEEDET_1__Address", StrURL, "Address");
                });

                $("#CPEEDET_1__Address").change(function () {

                    var URL = DomainName + '/BranchAccounting/GetElectriciy_Detils?Brcd=' + $("#CPEEDET_1__Location").val() + "&Address=" + $(this).val();

                    if ($(this).val() != "") {

                        App.blockUI({ boxed: true });
                        $.ajax({
                            url: URL,
                            cache: false,
                            data: {},
                            type: 'POST',
                            success: function (data) {

                                if (data.IsRecordFound == "1") {
                                    $("#CPEEDET_1__Total_Area_sqft").val(data.Total_Area_in_sq_ft);
                                    $("#CPEEDET_1__PreviousReading").val(data.PreviousReading);
                                    $("#CPEEDET_1__RateAsPer_Agreement").val(data.RateAsPer_Agreement);
                                    $("#CPEEDET_1__NoOf_Rooms").val(data.Number_of_Rooms);
                                    $("#CPEEDET_1__Computers").val(data.Computers);
                                    $("#CPEEDET_1__Printers").val(data.Printers);
                                    $("#CPEEDET_1__TubeLights").val(data.TubeLights);
                                    $("#CPEEDET_1__Bulbs").val(data.Bulbs);
                                    $("#CPEEDET_1__CFLs").val(data.CFLs);
                                    $("#CPEEDET_1__Others_Elec_Equip_Gadgets").val(data.Others);
                                    $("#CPEEDET_1__Previous_Claimed_Amount").val(data.Previous_Claimed_Amount);
                                    $("#CPEEDET_1__Previous_Month_When_Claimed").val(data.Previous_Month_When_Claimed);
                                    $("#CPEEDET_1__Name_Of_Land_Lord").val(data.Name_Of_Land_Lord);
                                    $("#CPEEDET_1__Land_Lord_Bank_Account_No").val(data.Bank_Account_No);
                                    $("#CPEEDET_1__Land_Lord_IFSC_Code").val(data.IFSC_Code);

                                    $("#CPEEDET_1__Total_Amount").val("0");

                                    if (parseInt(data.RateAsPer_Agreement) == "0") {
                                        $("#CPEEDET_1__Total_Amount").attr("readonly", false);
                                    }
                                    else {
                                        $("#CPEEDET_1__Total_Amount").attr("readonly", true);
                                    }

                                    App.unblockUI();
                                }
                                else if (data.IsRecordFound == "2") {
                                    alert("Issue in Getting Data.")
                                    App.unblockUI();
                                }
                                else {
                                    alert("Issue in Getting Data.")
                                    App.unblockUI();
                                }
                            },
                            error: function (req, status, error) {
                                alert("Issue in Getting Data.")
                                App.unblockUI();
                            }
                        });
                    }
                });

                $("#CPEEDET_1__CurrentReading").live("focusout change", function () {

                    var Unit_Consumption = $("#CPEEDET_1__UnitConsumption").val();
                    var Rate_Per_Agreement_Bill = $("#CPEEDET_1__RateAsPer_Agreement").val();
                    $("#CPEEDET_1__Total_Amount").val(parseFloat(parseFloat(Unit_Consumption) * parseFloat(Rate_Per_Agreement_Bill)).toFixed(0));
                });

                var Prefix = "PAYMENTMODE_1__";
                Formvalidate(DomainName);
                GetVehicleEmployeeUserName("Elec_Expense_HDR_NameOfVendor", "V")

                select2Date(DomainName);
                $("#PaymentControl").hide();
                Accounting_Calculation(DomainName, Prefix);
                Submit_Approval_Rejection(DomainName);
                Electricity_Board_ChangeEvents(DomainName);
                Electricity_Board_Changed(DomainName, $("#Elec_Expense_HDR_Electricity_Board").val());

                $(".clsPreviousReading").focusout(function () {
                    var Id = $(this).attr("id").replace("PreviousReading", "");
                    Unitcons_Umption(DomainName, Id);
                });
                $(".clsCurrentReading").focusout(function () {
                    var Id = $(this).attr("id").replace("CurrentReading", "");
                    Unitcons_Umption(DomainName, Id);
                });

                $("#btnAddNewRow").click(function () {
                    var itemIndex = parseInt($("#Add_Details_Count").val()) + parseInt(1);
                    App.blockUI({ boxed: true });
                    AddDetails(DomainName, itemIndex);
                });

                BR_Request_Common_Function(DomainName, "Elec_Expense_HDR_", "Elec_Expense_DET_", "form_sample");

            }
        }
    }();

</script>
