﻿@model Fleet.ViewModels.ExpensesEntryModule
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.OperationService CSOPN = new FleetDataService.OperationService();
    List<webx_acctinfo>
    ListTDSSection = CSOPN.GetTDSSectionList();
    string ActionName = @ViewBag.ActionName;
}

@using (Html.BeginForm(ActionName, "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="form-group">
                            @Html.HiddenFor(m => m.CPEE_HDR.DocumentNo)
                            @Html.HiddenFor(m => m.CPEE_HDR.EXpenceType)
                            @Html.HiddenFor(m => m.CPEE_HDR.BillNo)
                            @if (Model.Type == 11 || Model.Type == 5 || Model.Type == 6 || Model.Type == 4 || Model.Type == 9 || Model.Type == 10 || Model.Type == 1)
                            {
                                <div class="col-md-12">
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Employee Code</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.EmpCode, new { placeholder = "Employee Code", @class = "form-control required required2" })

                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Name Of Employee</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.EmpName, new { placeholder = "Name Of Employee", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Name Of bank</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.BankName, new { placeholder = "Name Of bank", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="col-md-12">
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Bank A/C Number</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.BankAccNumber, new { placeholder = "Bank A/C Number", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">IFSC Code</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.IFSCCode, new { placeholder = "IFSC Code", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Name Of Payee</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.NameOFPayee, new { placeholder = "Name Of Payee", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                            }
                            @if (Model.Type == 11 || Model.Type == 5)
                            {
                                <div class="col-md-12">
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Name of Vendor</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.NameOfVendor, new { placeholder = "Name of Vendor", @class = "m-wrap form-control required required2" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Vendor A/c No</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.VendorAccNo, new { placeholder = "Vendor A/c No", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="col-md-12">
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Number Of Doket</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.NoOfDocket, new { placeholder = "Number Of Doket", @class = "form-control required required2", @readonly = "true" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Actual Weight</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.ActualWeight, new { placeholder = "Actual Weight", @class = "form-control required required2", @readonly = "true" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Number of Packege</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.NoOfPackage, new { placeholder = "Number of Packege", @class = "form-control required required2", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                            }
                            @if (Model.Type == 6)
                            {
                                <div class="col-md-12">
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Total Weight</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.Total_Weight, new { placeholder = "Name of Vendor", @class = "m-wrap form-control required required2" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Total Number of Pkts</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.Total_Number_Of_Pkts, new { placeholder = "Vendor A/c No", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Total Amount</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.Total_Amount, new { placeholder = "Vendor A/c No", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="col-md-12">
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Total Amount Passed</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.Total_Amount_Passed, new { placeholder = "Name of Vendor", @class = "m-wrap form-control required required2" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Unit Cost (as per Charged Amount)</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.Unit_Cost_Charged_Amount, new { placeholder = "Vendor A/c No", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Unit Cost (as per Passed Amount)</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.Unit_Cost_Pased_Amount, new { placeholder = "Vendor A/c No", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                            }
                            @if (Model.Type == 4)
                            {
                                <div class="col-md-12">
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Number of Manifest</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.NoOfManifest, new { placeholder = "Name of Vendor", @class = "m-wrap form-control required required2" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Weight</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.Weight, new { placeholder = "Vendor A/c No", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Reference No</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.ReferenceNo, new { placeholder = "Vendor A/c No", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                            }
                            @if (Model.Type == 2)
                            {
                                <div class="col-md-12">
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Name of Branch</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.Branch_Name, new { placeholder = "Name of Vendor", @class = "m-wrap form-control required required2" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Milometer Reading</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.Milometer_Reading, new { placeholder = "Vendor A/c No", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Name Of Employee</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.EmpName, new { placeholder = "Name Of Employee", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="col-md-12">
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Opening</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.Opening, new { placeholder = "Name of Vendor", @class = "m-wrap form-control required required2" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Destination</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.Destination, new { placeholder = "Vendor A/c No", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Closing</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.Closing, new { placeholder = "Name Of Employee", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="col-md-12">
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Department</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.Department, new { placeholder = "Name of Vendor", @class = "m-wrap form-control required required2" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Mobile Number</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.Mobile_Number, new { placeholder = "Vendor A/c No", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Name Of HOD</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.HOD_Name, new { placeholder = "Name Of Employee", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="col-md-12">
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Total Business</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.Total_Business, new { placeholder = "Name of Vendor", @class = "m-wrap form-control required required2" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Claim for the month of</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.Claim_For_Month, new { placeholder = "Vendor A/c No", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Name Of Bank</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.Bank_Name, new { placeholder = "Name Of Employee", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="col-md-12">
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Employee Code</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.EmpCode, new { placeholder = "Employee Code", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Bank A/C Number</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.BankAccNumber, new { placeholder = "Bank A/C Number", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">IFSC Code</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.IFSCCode, new { placeholder = "IFSC Code", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                            }
                            @if (Model.Type == 10)
                            {
                                <div class="col-md-12">
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Name of Branch</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.Branch_Name, new { placeholder = "Name of Vendor", @class = "m-wrap form-control required required2" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">For the Month of</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.CPEE_HDR.For_The_Month_Of, new { placeholder = "Name of Vendor", @class = "m-wrap form-control required required2" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body ">
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>

                                <tr>
                                    <th style="white-space: pre-line">#</th>
                                    @if (Model.SubType == 2)
                                    {
                                        <th style="white-space: pre-line">Document No</th>
                                    }
                                    @if (Model.Type == 5 || Model.Type == 11 || Model.Type == 4)
                                    {
                                        <th style="white-space: pre-line">Manifest Number</th>
                                    }
                                    @if (Model.Type == 5 || Model.Type == 11)
                                    {
                                        <th style="white-space: pre-line">Docket Number</th>
                                        <th style="white-space: pre-line">Actual Weight</th>
                                        <th style="white-space: pre-line">Number of Pkgs</th>
                                    }
                                    @if (Model.Type == 5)
                                    {
                                        <th style="white-space: pre-line">Select One of Below (Union-U, Employed-E, Contractual-C, Lease-L)</th>
                                    }
                                    @if (Model.Type == 11)
                                    {
                                        <th style="white-space: pre-line">Select One Of Below (Mathadi-M, Union-U, Employed-E, Contractual-C, Market-MR)</th>
                                        <th style="white-space: pre-line">Select Two Brom Below (From Praty-P, Godown Unloading-GU, Godown Loading-GL , Station-S)</th>
                                    }
                                    @if (Model.Type == 5 || Model.Type == 11)
                                    {
                                        <th style="white-space: pre-line">Date of Expense Incurred</th>
                                    }
                                    @if (Model.Type == 11 && Model.SubType != 2)
                                    {
                                        <th style="white-space: pre-line">Per. Kgs</th>
                                        <th style="white-space: pre-line">Per Package</th>
                                        <th style="white-space: pre-line">Std Rate</th>
                                    }
                                    @if (Model.Type == 5 || Model.Type == 11)
                                    {
                                        <th style="white-space: pre-line">Rate Charged</th>
                                    }
                                    @if (Model.Type == 5)
                                    {
                                        <th style="white-space: pre-line">Porter Paid as Per Branch</th>
                                        <th style="white-space: pre-line">Othes Tspetc. If any</th>
                                        <th style="white-space: pre-line">Marker</th>
                                        <th style="white-space: pre-line">Handling Inside The PlatForm</th>
                                        <th style="white-space: pre-line">Total Claim Made (Excluding Handling)</th>
                                        <th style="white-space: pre-line">Total Claim (Including Handlig)</th>
                                        <th style="white-space: pre-line">Per Packages Cost</th>
                                        <th style="white-space: pre-line">Per Weight Cost</th>
                                    }
                                    @if (Model.Type == 11)
                                    {
                                        <th style="white-space: pre-line">Amount Paid as Per Branch</th>
                                        <th style="white-space: pre-line">Check Per KG Cost Amount paid/Actual weight</th>
                                    }
                                    @if (Model.Type == 6)
                                    {
                                        <th style="white-space: pre-line">Sl. No.</th>
                                        <th style="white-space: pre-line">Date</th>
                                        <th style="white-space: pre-line">Name Of Vendor / Place</th>
                                        <th style="white-space: pre-line">PRS / DRS / THC Number</th>
                                        <th style="white-space: pre-line">From</th>
                                        <th style="white-space: pre-line">To</th>
                                        <th style="white-space: pre-line">Distance (in Kms)</th>
                                        <th style="white-space: pre-line">Vehicle Number</th>
                                        <th style="white-space: pre-line">Contract Number of Vehicle Owner</th>
                                        <th style="white-space: pre-line">Actual Weight</th>
                                        <th style="white-space: pre-line">Number Of Packages</th>
                                        <th style="white-space: pre-line">Rate (Total Amount / Weight)</th>
                                        <th style="white-space: pre-line">Total Amount</th>
                                    }
                                    @if (Model.Type == 4)
                                    {
                                        <th style="white-space: pre-line">Weight</th>
                                        <th style="white-space: pre-line">
                                            Manifest Location
                                            <br />
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    From
                                                </div>
                                                <div class="col-md-6">
                                                    To
                                                </div>
                                            </div>
                                        </th>
                                        <th style="white-space: pre-line">Distance</th>
                                        <th style="white-space: pre-line">Hours as per ERP</th>
                                        <th style="white-space: pre-line">Name of Driver</th>
                                        <th style="white-space: pre-line">Driver Contract Number</th>
                                        <th style="white-space: pre-line">1 st Prize </th>
                                        <th style="white-space: pre-line">1 st Prize Amount Hours</th>
                                        <th style="white-space: pre-line">2 st Prize </th>
                                        <th style="white-space: pre-line">2 st Prize Amount Hours</th>
                                        <th style="white-space: pre-line">3 st Prize </th>
                                        <th style="white-space: pre-line">4 st Prize Amount Hours</th>
                                        <th style="white-space: pre-line">Amount paid as per Branch</th>
                                    }
                                    @if (Model.Type == 1)
                                    {
                                        <th style="white-space: pre-line"></th>
                                        <th style="white-space: pre-line"></th>
                                        <th style="white-space: pre-line"></th>
                                        <th style="white-space: pre-line">
                                            Total Area (in sq. ft.)
                                        </th>
                                        <th style="white-space: pre-line">
                                            Number of Rooms
                                        </th>
                                        <th style="white-space: pre-line">
                                            Computers
                                        </th>
                                        <th style="white-space: pre-line">
                                            Printers
                                        </th>
                                        <th style="white-space: pre-line">
                                            TubeLights
                                        </th>
                                        <th style="white-space: pre-line">
                                            Bulbs
                                        </th>
                                        <th style="white-space: pre-line">
                                            CFL's
                                        </th>
                                        <th style="white-space: pre-line">
                                            Others
                                        </th>
                                        <th style="white-space: pre-line">
                                            Previous Claimed Amount
                                        </th>
                                        <th style="white-space: pre-line">
                                            Previous Month when claimed.
                                        </th>
                                        <th style="white-space: pre-line">
                                            Month for which claim being Made
                                        </th>
                                        <th style="white-space: pre-line">
                                            Previous reading
                                        </th>
                                        <th style="white-space: pre-line">
                                            Current readier
                                        </th>
                                        <th style="white-space: pre-line">
                                            Unitcons umption
                                        </th>
                                        <th style="white-space: pre-line">
                                            Rate as per agreement bill
                                        </th>
                                        <th style="white-space: pre-line">
                                            Others
                                        </th>
                                        <th style="white-space: pre-line"></th>
                                    }
                                    @if (Model.Type == 2)
                                    {
                                        <th style="white-space: pre-line">Employee</th>
                                        <th style="white-space: pre-line">Date</th>
                                        <th style="white-space: pre-line">Client Name / Party Name / Visiting Place</th>
                                        <th style="white-space: pre-line">Contract Person</th>
                                        <th style="white-space: pre-line">Contract Number of concerdned</th>
                                        <th style="white-space: pre-line">Reason / Purpose of Visit</th>
                                        <th style="white-space: pre-line">Docket /PRS /DRS /THC Number /Cheque Number /Business Volume</th>
                                        <th style="white-space: pre-line">Mode of Travel</th>
                                        <th style="white-space: pre-line">Location From</th>
                                        <th style="white-space: pre-line">Location To</th>
                                        <th style="white-space: pre-line">Distance Covered(in KM)</th>
                                        <th style="white-space: pre-line">Amount</th>
                                    }
                                    @if (Model.Type == 9)
                                    {
                                        <th style="white-space: pre-line">Sl. No.</th>
                                        <th style="white-space: pre-line">Date</th>
                                        <th style="white-space: pre-line">Number of Staff</th>
                                        <th style="white-space: pre-line">Name of Staff / Member</th>
                                        <th style="white-space: pre-line">Reason</th>
                                        <th style="white-space: pre-line">Concering Docket /PRS /DRS /THC</th>
                                        <th style="white-space: pre-line">Docket Number</th>
                                        <th style="white-space: pre-line">Name of Party /Location</th>
                                        <th style="white-space: pre-line">Rate (Per Day)</th>
                                        @*<th style="white-space: pre-line">Location To</th>
                                            <th style="white-space: pre-line">Distance Covered(in KM)</th>*@
                                        <th style="white-space: pre-line">Total Amount</th>
                                    }
                                    @if (Model.Type == 10)
                                    {
                                        <th style="white-space: pre-line">Sl. No.</th>
                                        <th style="white-space: pre-line">Vehicle Number</th>
                                        <th style="white-space: pre-line">Date &Aacute; Time (From)</th>
                                        <th style="white-space: pre-line">Date &Aacute; Time (To)</th>
                                        <th style="white-space: pre-line">Concering DRS /PRS /THC</th>
                                        <th style="white-space: pre-line">Name of Party /Location</th>
                                        <th style="white-space: pre-line">Number of Days</th>
                                        <th style="white-space: pre-line">Rate (Per Dat)</th>
                                        <th style="white-space: pre-line">Total Amount</th>
                                    }
                                    @if ((Model.Type == 11 || Model.Type == 6 || Model.Type == 4 || Model.Type == 1 || Model.Type == 2 || Model.Type == 9) && Model.SubType == 2)
                                    {
                                        <th style="white-space: pre-line">Amount Passed</th>
                                        <th style="white-space: pre-line">Amount Rejected</th>
                                        <th style="white-space: pre-line">Reason For Rejected</th>
                                    }
                                </tr>
                            </thead>

                            <tbody id="Voucher">
                                @foreach (var item in Model.ListCPEE_DET)
                                {
                                    Html.RenderPartial("_PorterExpenses", item);
                                }
                            </tbody>

                            <tbody>
                                <tr>
                                    <th></th>
                                    @if (Model.SubType == 2)
                                    {
                                        <th></th>
                                    }
                                    @if (Model.SubType == 2)
                                    {
                                        <th></th>
                                    }
                                    @if (Model.Type == 5 || Model.Type == 11 || Model.Type == 4)
                                    {
                                        <th></th>
                                    }
                                    @if (Model.Type == 5 || Model.Type == 11)
                                    {
                                        <th></th>
                                        <th id="Actual_Weight_Tot"></th>
                                        <th id="Number_of_Pkgs_Yot"></th>
                                    }
                                    @if (Model.Type == 5)
                                    {
                                        <th></th>
                                    }
                                    @if (Model.Type == 11)
                                    {
                                        <th></th>
                                        <th></th>
                                    }
                                    @if (Model.Type == 5 || Model.Type == 11)
                                    {
                                        <th></th>
                                    }
                                    @if (Model.Type == 11 && Model.SubType != 2)
                                    {
                                        <th id="PerKgs_Tot"></th>
                                        <th id="Per_Package_Tot"></th>
                                        <th id="StdRateTot"></th>
                                    }
                                    @if (Model.Type == 5 || Model.Type == 11)
                                    {
                                        <th> Rate Charged :-<div id="RateChargedTot"></div> </th>
                                    }
                                    @if (Model.Type == 5)
                                    {
                                        <th> PorterPaid as Per Branch :- <div id="Porter_Paid_as_Per_Branch_Tot"></div></th>
                                        <th> Other TSP Etc  :- <div id="OtherTSPEtcTot"></div></th>
                                        <th> Marker :- <div id="MarkerTot"></div></th>
                                        <th>Hand ling Inside The Plat Form :- <div id="HandlingInsideThePlatFormTot"></div></th>
                                        <th>Total Claim Made ExlHand ling :- <div id="TotalClaimMade_ExlHandlingTot"></div></th>
                                        <th>Total Claim Inc Hand ling :- <div id="TotalClaim_IncHandlingTot"></div>@Html.Hidden("TotalClaim_IncHandlingTot")</th>
                                        <th>Per KG Cost PKG :- <div id="PerKGCost_PKGTot"></div></th>
                                        <th>Per KG Cost Weight :- <div id="PerKGCost_WeightTot"></div></th>
                                    }
                                    @if (Model.Type == 11)
                                    {
                                        <th id="Amount_Paid_as_Per_Branch_Tot"></th>
                                        <th id="Check_Per_KG_Cost_Amount_paidActual_weight_Tot"></th>
                                    }
                                    @if (Model.Type == 6)
                                    {
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th id="Rate_Total_Amount_Weight_Tot"></th>
                                        <th id="Total_Amount_Tot"></th>
                                    }
                                    @if (Model.Type == 4)
                                    {
                                        <th></th>
                                        <th>
                                        </th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th id="1_st_Prize_Tot"></th>
                                        <th></th>
                                        <th id="2_st_Prize_Tot"></th>
                                        <th></th>
                                        <th id="3_st_Prize_Tot"> </th>
                                        <th></th>
                                        <th id="Amount_paid_as_per_Branch_Tot"></th>
                                    }
                                    @if (Model.Type == 1)
                                    {
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th id="Total_Amount_Tot"></th>
                                    }
                                    @if (Model.Type == 2)
                                    {
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th id="Total_Amount_Tot"></th>
                                    }
                                    @if (Model.Type == 9)
                                    {
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th id="Rate_Per_Day_Tot"></th>
                                        <th></th>
                                        <th></th>
                                        <th id="Total_Amount_Tot"></th>
                                    }
                                    @if (Model.Type == 10)
                                    {
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th id="Rate_Per_Dat_Tot"></th>
                                        <th id="Total_Amount_Tot"></th>
                                    }
                                    @if ((Model.Type == 11 || Model.Type == 6 || Model.Type == 4 || Model.Type == 1 || Model.Type == 2 || Model.Type == 9) && Model.SubType == 2)
                                    {
                                        <th id="Amount_Passed_Tot"></th>
                                        <th id="Amount_Rejected_Tot"></th>
                                        <th></th>
                                    }
                                </tr>
                            </tbody>
                        </table>


                        @if (Model.Type == 4)
                        {
                            <div class="col-md-12 clsPageLoadHide" id="Incetive_TSP_Charges">
                                <div class="col-md-6">
                                    <label class="control-label col-md-4">Approved By</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.CPEE_HDR.Approved_By, new { placeholder = "Name of Vendor", @class = "m-wrap form-control required required2" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label col-md-4">Date</label>
                                    <div class="col-md-8">
                                        <div class="input-group date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d">
                                            @Html.TextBox("ApprovedDate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.ApprovedDate).ToString("dd MMM yyyy")), new { @class = "form-control", @readonly = "True", @style = "padding-right: 0px;" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                        <div id="PaymentControl">
                            @if (Model.SubType == 2)
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="block form-section col-md-12 center">
                                            @Html.CheckBoxFor(m => m.WAD.IsServicetaxapply, new { @class = "" }) Plz Check Here to Enable Service Tax
                                            <label class="control-label col-md-6">
                                                ADD Service Tax(+)
                                            </label>
                                        </h4>

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-4">Amount Applicable  </label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(c => c.WAD.AmountApplicable, new { @class = "required required2 form-control", @readonly = "true", @type = "number" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-4">Service Tax (+)  </label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(c => c.WAD.ServiceTax, new { @class = "form-control", @readonly = "true", @number = "true" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-4">Education Cess (+)</label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(c => c.WAD.EducationCess, new { @class = "form-control", @readonly = "true", @number = "true" })
                                                    @Html.HiddenFor(m => m.WAD.ServiceTaxRate)
                                                    @Html.HiddenFor(m => m.HdnEduCessRate)
                                                    @Html.HiddenFor(m => m.HdnHEduCessRate)
                                                    @Html.HiddenFor(m => m.HdnServiceTaxRate)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-4">High Education Cess (+)</label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(c => c.WAD.HEducationCess, new { @class = "form-control", @readonly = "true", @type = "number" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-4">Service Tax Reg No.  </label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(c => c.WAD.ServiceTaxRegNo, new { @class = "form-control", @placeholder = "AAAAA0000AAA000", @maxlength = 15 })
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-6">
                                        <h4 class="block form-section col-md-10 center">
                                            @Html.CheckBoxFor(m => m.WAD.IsTDStaxapply) Plz Check Here to Enable TDS
                                            <label class="control-label col-md-6">
                                                LESS TDS (-)
                                            </label>
                                        </h4>

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-4">Amount Applicable</label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(c => c.WAD.AmountApplicableForTDS, new { @class = "form-control", @readonly = "true", @type = "number" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-4">TDS Section</label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(m => m.WAD.TDSSection, new SelectList(ListTDSSection, "Acccode", "Accdesc"), "", new { @class = "form-control select2", @readonly = "true" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-4">TDS Rate</label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(c => c.WAD.TDSRate, new { @class = "form-control", @readonly = true, @type = "number" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-4">TDS Amount (-)</label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(c => c.WAD.TDSAmount, new { @class = "form-control", @readonly = true, @type = "number" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-4">Pan Number.</label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(c => c.WAD.PANNumber, new { @class = "form-control", @placeholder = "AAAAA0000A", @maxlength = 15 })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr />
                                <div class="form-group">
                                    @foreach (var itms in Model.WADListing)
                                    {
                                        @Html.Partial("../Voucher/_PaymentModePartial", itms)
                                    }
                                </div>
                            }
                        </div>

                        <div class="form-actions fluid" id="SubmitBtn">
                            <div class="row">
                                @if (Model.SubType == 1)
                                {
                                    <div class="col-md-offset-5 col-md-10">
                                        <button type="button" id="btnSubmit" class="btn btn-sm green">Submit</button>
                                    </div>
                                }
                                else if (Model.SubType == 2)
                                {
                                    <div class="col-md-offset-5 col-md-10" id="Approv_Reject">
                                        <button type="button" id="btnRejectAtHO" class="btn btn-sm red"><i class="fa fa-times"></i> Rejected at HO</button>
                                        <button type="button" id="btnAuthorizeAtHo" class="btn btn-sm green left"><i class="fa fa-check"></i> Authorized at HO</button>
                                    </div>
                                    <div class="col-md-offset-5 col-md-10" id="ApprovSubmit">
                                        <button type="button" id="btnApprovSubmit" class="btn btn-sm green"><i class="fa fa-check"></i> Submit</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var select2Date = function (DomainName) {

            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });

            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: new Date(),
                    // endDate: new Date(),
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //document.form["form_sample"].submit();
                }
            });
        }

        var checkBoxEvents = function (DomainName, ID) {

            var Unionu = "CPEEDET_" + ID + "__Unionu";
            var Employed = "CPEEDET_" + ID + "__Employed";
            var Econtractual = "CPEEDET_" + ID + "__Econtractual";
            var Leasel = "CPEEDET_" + ID + "__Leasel";
            var PerKGS = "CPEEDET_" + ID + "__PerKGS";
            var PerPackage = "CPEEDET_" + ID + "__PerPackage";

            $("#" + Unionu).attr("value", "false");
            $("#" + Employed).attr("value", "false");
            $("#" + Econtractual).attr("value", "false");
            $("#" + Leasel).attr("value", "false");
            $("#" + PerKGS).attr("value", "false");
            $("#" + PerPackage).attr("value", "false");

            $('#' + Unionu).click(function () {
                var checked = jQuery(this).is(":checked");
                $("#" + Unionu).val(checked);
            });
            $('#' + Employed).click(function () {
                var checked = jQuery(this).is(":checked");
                $("#" + Employed).val(checked);
            });
            $('#' + Econtractual).click(function () {
                var checked = jQuery(this).is(":checked");
                $("#" + Econtractual).val(checked);
            });
            $('#' + Leasel).click(function () {
                var checked = jQuery(this).is(":checked");
                $("#" + Leasel).val(checked);
            });
            $('#' + PerKGS).click(function () {
                var checked = jQuery(this).is(":checked");
                $("#" + PerKGS).val(checked);
            });
            $('#' + PerPackage).click(function () {
                var checked = jQuery(this).is(":checked");
                $("#" + PerPackage).val(checked);
            });
        }

        var IsServicetaxCalculated = function (DomainName, Prefix) {

            if ($('#WAD_IsServicetaxapply').prop('checked')) {

                $('#WAD_ServiceTaxRate').attr("readonly", false);
                $('#WAD_ServiceTaxRate').attr("readonly", false);
                $('#WAD_ServiceTaxRate').val($("#HdnServiceTaxRate").val());
                $('#WAD_ServiceTaxRate').attr("readonly", true);

                var servicetaxrate = $("#HdnServiceTaxRate").val();
                var ApplicaleAmount = $("#WAD_AmountApplicable").val();
                var Servicetax = parseFloat(ApplicaleAmount) * parseFloat(servicetaxrate) / 100;

                var TotalAmount = parseFloat(ApplicaleAmount) + parseFloat(Servicetax);
                // alert("ApplicaleAmount=" + ApplicaleAmount + "--Servicetax=" + Servicetax + "--TotalAmount=" + TotalAmount);

                $("#WAD_ServiceTax").val(Math.round(Servicetax));
                $("#WAD_AmountApplicableForTDS").val(TotalAmount);
                $("#" + Prefix + "NETAMOUNT").val(Math.round(TotalAmount));
                $("#" + Prefix + "AmountApplicable").val(Math.round(TotalAmount));
            }
            else {
                $('#WAD_ServiceTaxRate').attr('readonly', true);
                $('#WAD_ServiceTaxRate').val(0)
                $("#WAD_ServiceTax").val(0);
                var ApplicaleAmount = $("#WAD_AmountApplicable").val();
                $("#WAD_AmountApplicableForTDS").val(Math.round(ApplicaleAmount));
            }

            if ($('#WAD_IsTDStaxapply').prop('checked')) {

                $('#WAD_TDSRate').attr("readonly", false);
                //$("#WAD_TDSAmount").attr("readonly", false);
                var TDSrate = $("#WAD_TDSRate").val();
                var TDSApplicaleAmount = $("#WAD_AmountApplicableForTDS").val();
                var TDStax = parseFloat(TDSApplicaleAmount) * parseFloat(TDSrate) / 100;
                var TotalAmount = parseFloat(TDSApplicaleAmount) - parseFloat(TDStax);

                $("#WAD_TDSSection").addClass("required required2");
                $("#WAD_TDSSection").attr("readonly", false);
                $("#WAD_TDSAmount").val(Math.round(TDStax));

                $("#" + Prefix + "NETAMOUNT").val(Math.round(TotalAmount));
                $("#" + Prefix + "AmountApplicable").val(Math.round(TotalAmount));

                $(".clsTotal").val(Math.round(TotalAmount));
                if ($('#' + Prefix + 'PaymentMode').val() == "Cash") {
                    $("#" + Prefix + "CashAmount").val(Math.round(TotalAmount));
                }
                else if ($('#' + Prefix + 'PaymentMode').val() == "Bank") {
                    $("#" + Prefix + "ChequeAmount").val(Math.round(TotalAmount));
                }
                else {
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "CashAmount").val(0);
                }
            }
            else {
                $('#WAD_TDSRate').attr("readonly", true);
                $('#WAD_TDSRate').val(0);
                $("#WAD_TDSAmount").val(0);
                $("#WAD_TDSAmount").attr("readonly", true);
                var ApplicaleAmount = $("#WAD_AmountApplicableForTDS").val();
                $("#WAD_AmountApplicableForTDS").val(ApplicaleAmount);
                $("#" + Prefix + "NETAMOUNT").val(Math.round($("#WAD_SumAmount").val()));

                $("#" + Prefix + "AmountApplicable").val(Math.round(ApplicaleAmount/*$("#WAD_SumAmount").val()*/));

                $(".clsTotal").val(Math.round(ApplicaleAmount));

                $("#WAD_TDSSection").val("");
                $("#WAD_TDSSection").select2().find(":selected").data("");
                $("#WAD_TDSSection").removeClass("required required2");
                $("#WAD_TDSSection").attr("readonly", true);

                if ($('#' + Prefix + 'PaymentMode').val() == "Cash") {
                    $("#" + Prefix + "CashAmount").val(Math.round(ApplicaleAmount));
                }
                else if ($('#' + Prefix + 'PaymentMode').val() == "Bank") {
                    $("#" + Prefix + "ChequeAmount").val(Math.round(ApplicaleAmount));
                }
                else {
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "CashAmount").val(0);
                }
            }
        }

        var Calculation = function (DomainName, ID) {

            var CheckBox = ID + "CheckBox";
            var StdRate = ID + "StdRate";
            var RateCharged = ID + "RateCharged";
            var PortelPaidPerBranch = ID + "PortelPaidPerBranch";
            var OtherTSPEtc = ID + "OtherTSPEtc";
            var Marker = ID + "Marker";
            var HandlingInsideThePlatForm = ID + "HandlingInsideThePlatForm";
            var TotalClaimMade_ExlHandling = ID + "TotalClaimMade_ExlHandling";
            var TotalClaim_IncHandling = ID + "TotalClaim_IncHandling";
            var PerKGCost_PKG = ID + "PerKGCost_PKG";
            var PerKGCost_Weight = ID + "PerKGCost_Weight";
            var PerKG_AmountPaid_ActualWeight = ID + "PerKG_AmountPaid_ActualWeight";
            var AmountPaid_Per_Branch = ID + "AmountPaid_Per_Branch";


            var StdRate_Val = $("#" + StdRate).val();
            var RateCharged_Val = $("#" + RateCharged).val();
            var PortelPaidPerBranch_Val = $("#" + PortelPaidPerBranch).val();
            var OtherTSPEtc_Val = $("#" + OtherTSPEtc).val();
            var Marker_Val = $("#" + Marker).val();
            var HandlingInsideThePlatForm_Val = $("#" + HandlingInsideThePlatForm).val();
            var TotalClaimMade_ExlHandling_Val = $("#" + TotalClaimMade_ExlHandling).val();
            var TotalClaim_IncHandling_Val = $("#" + TotalClaim_IncHandling).val();
            var PerKGCost_PKG_Val = $("#" + PerKGCost_PKG).val();
            var PerKGCost_Weight_Val = $("#" + PerKGCost_Weight).val();
            var PerKG_AmountPaid_ActualWeight_Val = $("#" + PerKG_AmountPaid_ActualWeight).val();
            var AmountPaid_Per_Branch_Val = $("#" + AmountPaid_Per_Branch).val();

            var Total_TotalClaimMade_ExlHandling = parseFloat(RateCharged_Val) + parseFloat(PortelPaidPerBranch_Val) +
                                                   parseFloat(OtherTSPEtc_Val) + parseFloat(Marker_Val);
            $("#" + TotalClaimMade_ExlHandling).val(Total_TotalClaimMade_ExlHandling);

            var Total_TotalClaim_IncHandling = parseFloat(RateCharged_Val) + parseFloat(PortelPaidPerBranch_Val) +
                                                   parseFloat(OtherTSPEtc_Val) + parseFloat(HandlingInsideThePlatForm_Val) + parseFloat(Marker_Val);
            $("#" + TotalClaim_IncHandling).val(Total_TotalClaim_IncHandling);

            var StdRate_Tot = "0";
            $(".clsStdRate").each(function () {
                var ID = $(this).attr("id").replace("StdRate", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    StdRate_Tot = parseFloat(StdRate_Tot) + parseFloat($(this).val());
                }
            });
            $("#StdRateTot").html(StdRate_Tot);

            var RateCharged_Tot = "0";
            $(".clsRateCharged").each(function () {
                var ID = $(this).attr("id").replace("RateCharged", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    RateCharged_Tot = parseFloat(RateCharged_Tot) + parseFloat($(this).val());
                }
            });
            $("#RateChargedTot").html(RateCharged_Tot);

            var PortelPaidPerBranch_Tot = "0";
            $(".clsPortelPaidPerBranch").each(function () {
                var ID = $(this).attr("id").replace("PortelPaidPerBranch", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    PortelPaidPerBranch_Tot = parseFloat(PortelPaidPerBranch_Tot) + parseFloat($(this).val());
                }
            });
            $("#Porter_Paid_as_Per_Branch_Tot").html(PortelPaidPerBranch_Tot);

            var OtherTSPEtc_Tot = "0";
            $(".clsOtherTSPEtc").each(function () {
                var ID = $(this).attr("id").replace("OtherTSPEtc", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    OtherTSPEtc_Tot = parseFloat(OtherTSPEtc_Tot) + parseFloat($(this).val());
                }
            });
            $("#OtherTSPEtcTot").html(OtherTSPEtc_Tot);

            var Marker_Tot = "0";
            $(".clsMarker").each(function () {
                var ID = $(this).attr("id").replace("Marker", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    Marker_Tot = parseFloat(Marker_Tot) + parseFloat($(this).val());
                }
            });
            $("#MarkerTot").html(Marker_Tot);

            var HandlingInsideThePlatForm_Tot = "0";
            $(".clsHandlingInsideThePlatForm").each(function () {
                var ID = $(this).attr("id").replace("HandlingInsideThePlatForm", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    HandlingInsideThePlatForm_Tot = parseFloat(HandlingInsideThePlatForm_Tot) + parseFloat($(this).val());
                }
            });
            $("#HandlingInsideThePlatFormTot").html(HandlingInsideThePlatForm_Tot);

            var TotalClaimMade_ExlHandling_Tot = "0";
            $(".clsTotalClaimMade_ExlHandling").each(function () {
                var ID = $(this).attr("id").replace("TotalClaimMade_ExlHandling", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    TotalClaimMade_ExlHandling_Tot = parseFloat(TotalClaimMade_ExlHandling_Tot) + parseFloat($(this).val());
                }
            });
            $("#TotalClaimMade_ExlHandlingTot").html(TotalClaimMade_ExlHandling_Tot);

            var TotalClaim_IncHandling_Tot = "0";
            $(".clsTotalClaim_IncHandling").each(function () {
                var ID = $(this).attr("id").replace("TotalClaim_IncHandling", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    TotalClaim_IncHandling_Tot = parseFloat(TotalClaim_IncHandling_Tot) + parseFloat($(this).val());
                }
            });
            $("#TotalClaim_IncHandlingTot").html(TotalClaim_IncHandling_Tot);
            $("#TotalClaim_IncHandlingTot").val(TotalClaim_IncHandling_Tot)

            var PerKGCost_PKG_Tot = "0";
            $(".clsPerKGCost_PKG").each(function () {
                var ID = $(this).attr("id").replace("PerKGCost_PKG", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    PerKGCost_PKG_Tot = parseFloat(PerKGCost_PKG_Tot) + parseFloat($(this).val());
                }
            });
            $("#PerKGCost_PKGTot").html(PerKGCost_PKG_Tot);

            var PerKGCost_Weight_Tot = "0";
            $(".clsPerKGCost_Weight").each(function () {
                var ID = $(this).attr("id").replace("PerKGCost_Weight", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    PerKGCost_Weight_Tot = parseFloat(PerKGCost_Weight_Tot) + parseFloat($(this).val());
                }
            });
            $("#PerKGCost_WeightTot").html(PerKGCost_Weight_Tot);


            var PerKG_AmountPaid_ActualWeight_Tot = "0";
            $(".clsPerKG_AmountPaid_ActualWeight").each(function () {
                var ID = $(this).attr("id").replace("PerKG_AmountPaid_ActualWeight", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    PerKG_AmountPaid_ActualWeight_Tot = parseFloat(PerKG_AmountPaid_ActualWeight_Tot) + parseFloat($(this).val());
                }
            });
            $("#PerKGCost_WeightTot").html(PerKG_AmountPaid_ActualWeight_Tot);


            var PerKGCost_PKG_Tot = "0";
            $(".clsPerKGCost_PKG").each(function () {
                var ID = $(this).attr("id").replace("PerKGCost_PKG", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    var PerKGCost_PKG_val = parseFloat($("#" + ID + "TotalClaimMade_ExlHandling").val()) / parseFloat($("#" + ID + "NoOfPKGS").val());
                    $(this).val(parseFloat(PerKGCost_PKG_val).toFixed(2));
                    PerKGCost_PKG_Tot = parseFloat(PerKGCost_PKG_Tot) + parseFloat(PerKGCost_PKG_val);
                }
            });
            $("#PerKGCost_PKGTot").html(parseFloat(PerKGCost_PKG_Tot).toFixed(2));

            var PerKGCost_Weight_Tot = "0";
            $(".clsPerKGCost_Weight").each(function () {
                var ID = $(this).attr("id").replace("PerKGCost_Weight", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    var PerKGCost_Weight_val = parseFloat($("#" + ID + "TotalClaimMade_ExlHandling").val()) / parseFloat($("#" + ID + "ActualWeight").val());
                    $(this).val(parseFloat(PerKGCost_Weight_val).toFixed(2));
                    PerKGCost_Weight_Tot = parseFloat(PerKGCost_Weight_Tot) + parseFloat(PerKGCost_Weight_val);
                }
            });
            $("#PerKGCost_WeightTot").html(parseFloat(PerKGCost_Weight_Tot).toFixed(2));

        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                var Prefix = "PAYMENTMODE_1__";
                Formvalidate(DomainName);
                GetVehicleEmployeeUserName("CPEE_HDR_NameOfVendor", "V")
                GetVehicleEmployeeUserName("CPEE_HDR_EmpName", "U")
                select2Date(DomainName);
                $("#PaymentControl").hide();
                $("#ApprovSubmit").hide();
                $("#TotalClaim_IncHandlingTot").val("0");
                /* Acouting Calculation */
                IsServicetaxCalculated(DomainName, Prefix)
               // OnLoadFunction(DomainName, Prefix)

                $("#WAD_IsServicetaxapply").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })
                $("#WAD_IsTDStaxapply").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })
                $("#WAD_TDSRate").focusout(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })


                $("#btnSubmit").click(function () {

                    if ($('#form_sample').valid()) {
                        App.blockUI({ boxed: true });
                        document.forms["form_sample"].submit()
                        //$("#form_sample").submit();
                    }
                    else {
                        return false
                    }
                });

                $('#btnRejectAtHO').click(function () {
                    App.blockUI({ boxed: true });
                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/Accounting_Reject');
                    document.forms["form_sample"].submit()
                    //$('#form_sample').submit();
                });

                $('#btnAuthorizeAtHo').click(function () {

                    if (parseInt($("#TotalClaim_IncHandlingTot").val()) == 0) {
                        alert("Please Check Atleast One CheckBox For Approval.");
                    }
                    else {
                        $("#sample_ven :input").attr("disabled", true);
                        $("#WAD_AmountApplicable").val(parseInt($("#TotalClaim_IncHandlingTot").val()));
                        $("#PaymentControl").show();
                        $("#ApprovSubmit").show();
                        $("#Approv_Reject").hide();
                    }
                });

                $("#btnApprovSubmit").click(function () {
                    App.blockUI({ boxed: true });
                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/Accounting_Approval');
                    $("#sample_ven :input").attr("disabled", false);
                    document.forms["form_sample"].submit()
                    $('#form_sample').submit();
                });

                @foreach (var item in Model.ListCPEE_DET)
                {
                    var CheckBox = "CPEEDET_" + @item.ID + "__CheckBox";
                    var StdRate = "CPEEDET_" + @item.ID + "__StdRate";
                    var RateCharged = "CPEEDET_" + @item.ID + "__RateCharged";
                    var PortelPaidPerBranch = "CPEEDET_" + @item.ID + "__PortelPaidPerBranch";
                    var OtherTSPEtc = "CPEEDET_" + @item.ID + "__OtherTSPEtc";
                    var Marker = "CPEEDET_" + @item.ID + "__Marker";
                    var HandlingInsideThePlatForm = "CPEEDET_" + @item.ID + "__HandlingInsideThePlatForm";
                    var TotalClaimMade_ExlHandling = "CPEEDET_" + @item.ID + "__TotalClaimMade_ExlHandling";
                    var TotalClaim_IncHandling = "CPEEDET_" + @item.ID + "__TotalClaim_IncHandling";
                    var PerKGCost_PKG = "CPEEDET_" + @item.ID + "__PerKGCost_PKG";
                    var PerKGCost_Weight = "CPEEDET_" + @item.ID + "__PerKGCost_Weight";
                     <text>

                $("#@CheckBox").attr("value", "false");
                $('#@CheckBox').click(function () {
                    var checked = jQuery(this).is(":checked");
                    $("#@CheckBox").val(checked);
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                });

                $("#@StdRate").focusout(function () {
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                })
                $("#@PortelPaidPerBranch").focusout(function () {
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                })
                $("#@OtherTSPEtc").focusout(function () {
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                })
                $("#@Marker").focusout(function () {
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                })
                $("#@HandlingInsideThePlatForm").focusout(function () {
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                })

                </text>
                }

            }
        }
    }();
</script>

<script type="text/javascript" src="@Url.Content("~/Scripts/AccountControl.js")"></script>

