﻿@model Fleet.ViewModels.ExpensesEntryModule
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.OperationService CSOPN = new FleetDataService.OperationService();
    List<webx_acctinfo> ListTDSSection = CSOPN.GetTDSSectionList();
    string ActionName = @ViewBag.ActionName;
    string IS_EMP_BankDetails = ViewBag.IS_EMP_BankDetails;

    objDate Date = new objDate();
    Date.ControlId = "Food_Expense_HDR.BR_Date";
    Date.ControlValue = Model.Food_Expense_HDR.BR_Date.ToString();
    Date.ModuleCode = "20";

}

@using (Html.BeginForm(ActionName, "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body" id="PaymentPart">
                        <div class="form-group">
                            @Html.HiddenFor(m => m.Food_Expense_HDR.ExpenceType)
                            @Html.HiddenFor(m => m.Food_Expense_HDR.BillNo)
                            @Html.HiddenFor(m => m.SubType)
                            @*@Html.HiddenFor(m => m.Type)*@
                            @Html.HiddenFor(m => m.Type2)
                            @Html.Hidden("Add_Details_Count", Model.List_Food_DET.Count())
                            @Html.Hidden("IS_EMP_BankDetails", IS_EMP_BankDetails)

                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">NAME OF EMPLOYEE</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Food_Expense_HDR.EmpCode, new { placeholder = "NAME OF EMPLOYEE", @class = "form-control required required2" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">EMPLOYEE CODE</label>
                                    <div class="col-md-8">
                                        @Html.HiddenFor(c => c.Food_Expense_HDR.EmpName)
                                        @Html.TextBox("ShowEmpCode", Model.Food_Expense_HDR.EmpCode, new { placeholder = "EMPLOYEE CODE", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group clsApproval">
                                    <label class="control-label col-md-4">Name Of bank</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Food_Expense_HDR.BankName, new { placeholder = "Name Of bank", @class = "form-control ", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">BR Date</label>
                                    <div class="col-md-8">
                                        @{
                                            Html.RenderPartial("../UserControls/_DocumentDate", Date);
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 clsApproval">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Bank A/C Number</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Food_Expense_HDR.BankAccNumber, new { placeholder = "Bank A/C Number", @class = "form-control ", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">IFSC Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Food_Expense_HDR.IFSCCode, new { placeholder = "IFSC Code", @class = "form-control ", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Other Payee</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Food_Expense_HDR.NameOFPayee, new { placeholder = "Other Payee", @class = "form-control " })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body ">
                        <div id="PaymentPart1">
                            <table id="sample_ven" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        @*<th style="white-space: pre-line">Sl. No.</th>*@
                                        @*<th style="white-space: pre-line"></th>*@
                                        <th style="white-space: pre-line">Number of Staff</th>
                                        <th style="white-space: pre-line">Date</th>
                                        <th style="white-space: pre-line">Name of Staff / Member</th>
                                        <th style="white-space: pre-line">Reason</th>
                                        <th style="white-space: pre-line">Concering Docket /PRS /DRS /THC</th>
                                        <th style="white-space: pre-line">Docket Number</th>
                                        <th style="white-space: pre-line">Name of Party /Location</th>
                                        <th style="white-space: pre-line">Rate (Per Day)</th>
                                        <th style="white-space: pre-line">Total Amount</th>
                                        <th style="white-space: pre-line">UPLOAD FILE</th>
                                        @if (Model.SubType == 2 || Model.SubType == 3)
                                        {
                                            <th style="white-space: pre-line">Amount Passed</th>
                                            <th style="white-space: pre-line">Amount Rejected</th>
                                            <th style="white-space: pre-line">Reason For Rejected</th>
                                        }
                                        @if (Model.SubType == 1)
                                        {
                                            <th>Delete</th>
                                        }
                                    </tr>
                                </thead>

                                <tbody id="Bodycontainer">
                                    @foreach (var item in Model.List_Food_DET)
                                    {
                                        Html.RenderPartial("_Food_Expenses_Partial", item);
                                    }
                                </tbody>

                                <tbody>
                                    <tr>
                                        @*<th></th>*@
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th id="Rate_Per_Day_Tot"></th>
                                        <th></th>
                                        <th></th>
                                        <th id="Total_Amount_Tot"></th>
                                        @if (Model.SubType == 2 || Model.SubType == 3)
                                        {
                                            <th id="Amount_Passed_Tot"></th>
                                            <th id="Amount_Rejected_Tot"></th>
                                            <th></th>
                                        }
                                        @if (Model.SubType == 1)
                                        {
                                            <th></th>
                                        }
                                    </tr>
                                    <tr>
                                        @if (Model.SubType == 1)
                                        {
                                            <th colspan="20" style="text-align:right;">
                                                <button type="button" id="btnAddNewRow" class="btn btn-sm blue">Add New Row</button>
                                            </th>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="PaymentControl">
                            @if (Model.SubType == 3)
                            {
                                @Html.Partial("_BranchAccounting_PaymentPart", Model);

                                <hr />
                                <div class="form-group">
                                    @foreach (var itms in Model.WADListing)
                                    {
                                        itms.Vouchertype = "BranchAccountingType";
                                        @*@Html.Partial("../Voucher/_PaymentModePartial", itms)*@
                                        @Html.Partial("../Voucher/_PaymentModePartiaBranchAccounting", itms)

                                    }
                                </div>
                            }
                        </div>
                        <div class="form-actions fluid" id="SubmitBtn">
                            @{
                                @Html.Partial("_BranchAcct_SubmitPartial", Model)
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                }

<script src="~/Scripts/BranchAccounting/BranchAccounting.js?ver<%=DateTime.Now.Ticks.ToString()%>" type="text/javascript"></script>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var select2Date = function (DomainName) {

            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });

            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    startDate: '@System.DateTime.Now.AddDays(-1).ToString("dd MMM yyyy")',
                    endDate: '@System.DateTime.Now.ToString("dd MMM yyyy")',
                    autoclose: true
                });

            }
        }

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "hidden",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //document.form["form_sample"].submit();
                }
            });
        }

        //var IsServicetaxCalculated = function (DomainName, Prefix) {

        //    if ($('#WAD_IsServicetaxapply').prop('checked')) {

        //        $('#WAD_ServiceTaxRate').attr("readonly", false);
        //        $('#WAD_ServiceTaxRate').attr("readonly", false);
        //        $('#WAD_ServiceTaxRate').val($("#HdnServiceTaxRate").val());
        //        $('#WAD_ServiceTaxRate').attr("readonly", true);

        //        var servicetaxrate = $("#HdnServiceTaxRate").val();
        //        var ApplicaleAmount = $("#WAD_AmountApplicable").val();
        //        var Servicetax = parseFloat(ApplicaleAmount) * parseFloat(servicetaxrate) / 100;

        //        var TotalAmount = parseFloat(ApplicaleAmount) + parseFloat(Servicetax);
        //        // alert("ApplicaleAmount=" + ApplicaleAmount + "--Servicetax=" + Servicetax + "--TotalAmount=" + TotalAmount);

        //        $("#WAD_ServiceTax").val(Math.round(Servicetax));
        //        $("#WAD_AmountApplicableForTDS").val(TotalAmount);
        //        $("#" + Prefix + "NETAMOUNT").val(Math.round(TotalAmount));
        //        $("#" + Prefix + "AmountApplicable").val(Math.round(TotalAmount));
        //    }
        //    else {
        //        $('#WAD_ServiceTaxRate').attr('readonly', true);
        //        $('#WAD_ServiceTaxRate').val(0)
        //        $("#WAD_ServiceTax").val(0);
        //        var ApplicaleAmount = $("#WAD_AmountApplicable").val();
        //        $("#WAD_AmountApplicableForTDS").val(Math.round(ApplicaleAmount));
        //    }

        //    if ($('#WAD_IsTDStaxapply').prop('checked')) {

        //        $('#WAD_TDSRate').attr("readonly", false);
        //        //$("#WAD_TDSAmount").attr("readonly", false);
        //        var TDSrate = $("#WAD_TDSRate").val();
        //        var TDSApplicaleAmount = $("#WAD_AmountApplicableForTDS").val();
        //        var TDStax = parseFloat(TDSApplicaleAmount) * parseFloat(TDSrate) / 100;
        //        var TotalAmount = parseFloat(TDSApplicaleAmount) - parseFloat(TDStax);

        //        $("#WAD_TDSSection").addClass("required required2");
        //        $("#WAD_TDSSection").attr("readonly", false);
        //        $("#WAD_TDSAmount").val(Math.round(TDStax));

        //        $("#" + Prefix + "NETAMOUNT").val(Math.round(TotalAmount));
        //        $("#" + Prefix + "AmountApplicable").val(Math.round(TotalAmount));

        //        $(".clsTotal").val(Math.round(TotalAmount));
        //        if ($('#' + Prefix + 'PaymentMode').val() == "Cash") {
        //            $("#" + Prefix + "CashAmount").val(Math.round(TotalAmount));
        //        }
        //        else if ($('#' + Prefix + 'PaymentMode').val() == "Bank") {
        //            $("#" + Prefix + "ChequeAmount").val(Math.round(TotalAmount));
        //        }
        //        else {
        //            $("#" + Prefix + "ChequeAmount").val(0);
        //            $("#" + Prefix + "CashAmount").val(0);
        //        }
        //    }
        //    else {
        //        $('#WAD_TDSRate').attr("readonly", true);
        //        $('#WAD_TDSRate').val(0);
        //        $("#WAD_TDSAmount").val(0);
        //        $("#WAD_TDSAmount").attr("readonly", true);
        //        var ApplicaleAmount = $("#WAD_AmountApplicableForTDS").val();
        //        $("#WAD_AmountApplicableForTDS").val(ApplicaleAmount);
        //        $("#" + Prefix + "NETAMOUNT").val(Math.round($("#WAD_SumAmount").val()));

        //        $("#" + Prefix + "AmountApplicable").val(Math.round(ApplicaleAmount/*$("#WAD_SumAmount").val()*/));

        //        $(".clsTotal").val(Math.round(ApplicaleAmount));

        //        $("#WAD_TDSSection").val("");
        //        $("#WAD_TDSSection").select2().find(":selected").data("");
        //        $("#WAD_TDSSection").removeClass("required required2");
        //        $("#WAD_TDSSection").attr("readonly", true);

        //        if ($('#' + Prefix + 'PaymentMode').val() == "Cash") {
        //            $("#" + Prefix + "CashAmount").val(Math.round(ApplicaleAmount));
        //        }
        //        else if ($('#' + Prefix + 'PaymentMode').val() == "Bank") {
        //            $("#" + Prefix + "ChequeAmount").val(Math.round(ApplicaleAmount));
        //        }
        //        else {
        //            $("#" + Prefix + "ChequeAmount").val(0);
        //            $("#" + Prefix + "CashAmount").val(0);
        //        }
        //    }
        //}

        /* Acouting Calculation */
        var Accounting_Calculation = function (DomainName, Prefix) {
            IsServicetaxCalculated(DomainName, Prefix)
            OnLoadFunction(DomainName, Prefix)

            $("#WAD_IsServicetaxapply").change(function () {
                IsServicetaxCalculated(DomainName, Prefix);
            })
            $("#WAD_IsTDStaxapply").change(function () {
                IsServicetaxCalculated(DomainName, Prefix);
            })
            $("#WAD_TDSRate").focusout(function () {
                IsServicetaxCalculated(DomainName, Prefix);
            })
        }

        var Submit_Approval_Rejection = function (DomainName) {

            $("#btnSubmit").click(function () {

                Formvalidate(DomainName);

                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit()
                }
                else {
                    return false
                }
            });

            $('#btnRejectAtHO').click(function () {

                $(".clsAmount_Passed").each(function () {
                    var Id = $(this).attr("id").replace("Amount_Passed", "");
                    $("#" + Id + "Reason_For_Rejection").addClass("required required2")
                    $("#" + Id + "Amount_Passed").attr("min", "0")
                    $("#" + Id + "Amount_Rejected").attr("min", "1")
                })

                Formvalidate(DomainName);
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false)
                    $("#PaymentPart :input").attr("disabled", false);

                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/Food_Expence_Reject');
                    document.forms["form_sample"].submit()
                }
                else {
                    return false
                }
            });

            $('#btnAuthorizeAtHo').click(function () {

                $(".clsAmount_Passed").each(function () {
                    var Id = $(this).attr("id").replace("Amount_Passed", "");
                    $("#" + Id + "Reason_For_Rejection").removeClass("required required2")
                    $("#" + Id + "Amount_Passed").attr("min", "1")
                    $("#" + Id + "Amount_Rejected").attr("min", "0")
                })

                Formvalidate(DomainName);
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false)
                    $("#PaymentPart :input").attr("disabled", false);

                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/FoodExpenses_Approval');
                    document.forms["form_sample"].submit()
                }
                else {
                    return false
                }
            });
        }

        var AddDetails = function (DomainName, itemIn) {

            var Subtype = $("#SubType").val();
            var StrURL1 = DomainName + '/BranchAccounting/_Add_Expenses_Details/' + itemIn + "?Type=9" + "&Subtype=" + Subtype;

            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    var Rid = itemIn;
                    $("#Bodycontainer").append(html);
                    App.unblockUI();
                    $("#Add_Details_Count").val(itemIn);
                    ControlDate();
                    select2Date(DomainName);
                    //Calculation(DomainName);
                },
                error: function (req, status, error) {
                    alert("error " + req + "   " + status + "   " + error);
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                if ($("#SubType").val() == "2") {
                    $(".clsApproval").show();
                }
                else {
                    $(".clsApproval").hide();
                }
                ControlDate();
                $(".deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });
                GetVehicleEmployeeUserName_BranchWise("Food_Expense_HDR_EmpCode", "U")

                // alert($("#Food_Expense_HDR_EmpName").val() + '--' + $("#Food_Expense_HDR_EmpCode").val());
                if ($("#Food_Expense_HDR_EmpCode").val() != '' && $("#Food_Expense_HDR_EmpCode").val() != null) {
                    $("#Food_Expense_HDR_EmpCode").select2("data", { id: $("#Food_Expense_HDR_EmpCode").val(), text: $("#Food_Expense_HDR_EmpName").val() });
                    $("#ShowEmpCode").val($("#Food_Expense_HDR_EmpCode").val());
                }

                $("#Food_Expense_HDR_EmpCode").change(function () {
                    EmpCode_Change(DomainName, $("#Food_Expense_HDR_EmpCode").val(), "Food_Expense_HDR_", 1, 0, 0, 0);
                });

                var Prefix = "PAYMENTMODE_1__";
                Formvalidate(DomainName);

                select2Date(DomainName);
                $("#PaymentControl").hide();
                $("#ApprovSubmit").hide();
                Accounting_Calculation(DomainName, Prefix);
                Submit_Approval_Rejection(DomainName);


                //$("#Food_Expense_HDR_EmpCode").change(function () {

                //    var URL = DomainName + '/BranchAccounting/GetUser_Detailes?No=' + $(this).val();

                //    if ($(this).val() != "") {

                //        App.blockUI({ boxed: true });
                //        $.ajax({
                //            url: URL,
                //            cache: false,
                //            data: {},
                //            type: 'POST',
                //            success: function (data) {

                //                if (data.IsRecordFound == "1") {

                //                    $("#Food_Expense_HDR_EmpName").val(data.Name);
                //                    $("#Food_Expense_HDR_BankName").val(data.Name_Of_bank);
                //                    $("#Food_Expense_HDR_BankAccNumber").val(data.Bank_AC_Number);
                //                    $("#Food_Expense_HDR_IFSCCode").val(data.IFSC_Code);
                //                    App.unblockUI();
                //                }
                //                else {
                //                    $("#Food_Expense_HDR_EmpName").val($("#s2id_CPEE_HDR_EmpCode span").html());
                //                    $("#Food_Expense_HDR_BankName").val("");
                //                    $("#Food_Expense_HDR_BankAccNumber").val("");
                //                    $("#Food_Expense_HDR_IFSCCode").val("");
                //                    App.unblockUI();
                //                }
                //            },
                //            error: function (req, status, error) {
                //                $("#Food_Expense_HDR_EmpName").val($("#s2id_Elec_CPEE_HDR_EmpCode span").html());
                //                $("#Food_Expense_HDR_BankName").val("");
                //                $("#Food_Expense_HDR_BankAccNumber").val("");
                //                $("#Food_Expense_HDR_IFSCCode").val("");
                //                App.unblockUI();
                //            }
                //        });
                //    }
                //});

                $("#btnAddNewRow").click(function () {
                    var itemIndex = parseInt($("#Add_Details_Count").val()) + parseInt(1);
                    App.blockUI({ boxed: true });
                    AddDetails(DomainName, itemIndex);
                });

                //$(".food_clsAmount_Passed").change(function () {
                //    var ID = $(this).attr("Id").replace("CPEEDET_", "").replace("__Amount_Passed", "");
                //    var Totl = $("#CPEEDET_" + ID + "__Amount").val();
                //    var PassedAmt = $("#CPEEDET_" + ID + "__Amount_Passed").val();
                //    var Reject = parseInt(Totl) - parseInt(PassedAmt);
                //    $("#CPEEDET_" + ID + "__Amount_Rejected").val(Reject);
                //});

                BR_Request_Common_Function(DomainName, "Food_Expense_HDR_", "Food_Expense_DET_", "form_sample");


                //if ($("#SubType").val() == "3") {

                //    $("#PaymentControl").show();

                //    var AmountApplicable = 0;
                //    $(".clsAmount").each(function () {
                //        AmountApplicable = parseFloat(AmountApplicable) + parseFloat($(this).val());
                //    });
                //    $("#WAD_AmountApplicable").val(AmountApplicable)

                //    $("#PaymentPart :input").attr("disabled", true);
                //    $("#PaymentPart1 :input").attr("disabled", true);

                //    $("#btnApprovSubmit").click(function () {

                //        Formvalidate(DomainName);

                //        if ($('#form_sample').valid()) {

                //            App.blockUI({ boxed: true });

                //            $("#PaymentPart :input").attr("disabled", false);
                //            $("#PaymentPart1 :input").attr("disabled", false);

                //            $('#form_sample').attr('action', DomainName + '/BranchAccounting/Accounting_Payment_Submit');
                //            $("#container :input").attr("disabled", false);
                //            document.forms["form_sample"].submit()
                //            $('#form_sample').submit();
                //        }
                //    });
                //}

            }
        }
    }();
</script>

@*<script type="text/javascript" src="@Url.Content("~/Scripts/AccountControl.js")"></script>*@


