﻿@model Fleet.ViewModels.ExpensesEntryModule
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    //ViewBag.Title = "Porter Expense Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.OperationService CSOPN = new FleetDataService.OperationService();
    List<webx_acctinfo>
    ListTDSSection = CSOPN.GetTDSSectionList();

    string ActionName = @ViewBag.ActionName;
}

@using (Html.BeginForm(ActionName, "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body" id="PaymentPart">
                    <div class="form-body">
                        <div class="form-group">
                            @Html.HiddenFor(m => m.Handling_Expence_HDR.DocumentNo)
                            @Html.HiddenFor(m => m.Handling_Expence_HDR.ExpenceType)
                            @Html.HiddenFor(m => m.Handling_Expence_HDR.BillNo)
                            @Html.HiddenFor(m => m.SubType)
                            @Html.HiddenFor(m => m.Type2)
                            @*@Html.HiddenFor(m => m.Type)*@

                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Employee Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Handling_Expence_HDR.EmpCode, new { placeholder = "Employee Code", @class = "form-control required required2" })

                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Name Of Employee</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Handling_Expence_HDR.EmpName, new { placeholder = "Name Of Employee", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group  clsApproval">
                                    <label class="control-label col-md-4">Name Of bank</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Handling_Expence_HDR.BankName, new { placeholder = "Name Of bank", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                            @*</div>
                            <div class="col-md-12">*@
                                <div class="col-md-4 form-group  clsApproval">
                                    <label class="control-label col-md-4">Bank A/C Number</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Handling_Expence_HDR.BankAccNumber, new { placeholder = "Bank A/C Number", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group  clsApproval">
                                    <label class="control-label col-md-4">IFSC Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Handling_Expence_HDR.IFSCCode, new { placeholder = "IFSC Code", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Name Of Payee</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Handling_Expence_HDR.NameOFPayee, new { placeholder = "Name Of Payee", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Name of Vendor</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Handling_Expence_HDR.NameOfVendor, new { placeholder = "Name of Vendor", @class = "m-wrap form-control required required2" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Vendor A/c No</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Handling_Expence_HDR.VendorAccNo, new { placeholder = "Vendor A/c No", @class = "form-control required required2" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">THC No</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Handling_Expence_HDR.DocumentNo, new { placeholder = "Vendor A/c No", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Number Of Doket</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Handling_Expence_HDR.NoOfDocket, new { placeholder = "Number Of Doket", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Actual Weight</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Handling_Expence_HDR.ActualWeight, new { placeholder = "Actual Weight", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Number of Packege</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Handling_Expence_HDR.NoOfPackage, new { placeholder = "Number of Packege", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Handling Loading Unloading Expense Entry
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body ">
                        <div id="PaymentPart1">
                            <table id="sample_ven" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        @if (Model.SubType != 3)
                                        {
                                            <th style="white-space: pre-line">#</th>
                                        }
                                        <th style="white-space: pre-line">Manifest Number</th>
                                        <th style="white-space: pre-line">Docket Number</th>
                                        <th style="white-space: pre-line">Actual Weight</th>
                                        <th style="white-space: pre-line">Number of Pkgs</th>
                                        <th style="white-space: pre-line">Porter Type</th>
                                        <th style="white-space: pre-line">Select Two from below(From Praty - P, Godown Unloading - GU, Godown Loading - GL , Station - S)</th>
                                        <th style="white-space: pre-line">Date of Expense Incurred</th>
                                        <th style="white-space: pre-line">P e r K g s</th>
                                        <th style="white-space: pre-line">Per Package</th>
                                        <th style="white-space: pre-line">Std Rate</th>
                                        <th style="white-space: pre-line">Rate Char ged(Column M/F)</th>
                                        <th style="white-space: pre-line">Amount Paid as Per Branch</th>
                                        <th style="white-space: pre-line">Check Per KG Cost Amount paid/Actual weight</th>
                                        @if (Model.SubType == 2 || Model.SubType == 3)
                                        {
                                            <th style="white-space: pre-line">Amount Passed</th>
                                            <th style="white-space: pre-line">Amount Rejected</th>
                                            <th style="white-space: pre-line">Reason For Rejected</th>
                                        }
                                    </tr>
                                </thead>

                                <tbody id="Voucher">
                                    @foreach (var item in Model.List_Handling_Expence_DET)
                                    {
                                        Html.RenderPartial("_HandlingLoadingUnloadingExpenses", item);
                                    }
                                </tbody>

                            </table>
                        </div>
                        <div id="PaymentControl">
                            @if (Model.SubType == 3)
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="block form-section col-md-12 center">
                                            @Html.CheckBoxFor(m => m.WAD.IsServicetaxapply, new { @class = "" }) Plz Check Here to Enable Service Tax
                                            <label class="control-label col-md-6">
                                                ADD Service Tax(+)
                                            </label>
                                        </h4>

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-4">Amount Applicable  </label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(c => c.WAD.AmountApplicable, new { @class = "required required2 form-control", @readonly = "true", @type = "number" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-4">Service Tax (+)  </label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(c => c.WAD.ServiceTax, new { @class = "form-control", @readonly = "true", @number = "true" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-4">Education Cess (+)</label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(c => c.WAD.EducationCess, new { @class = "form-control", @readonly = "true", @number = "true" })
                                                    @Html.HiddenFor(m => m.WAD.ServiceTaxRate)
                                                    @Html.HiddenFor(m => m.HdnEduCessRate)
                                                    @Html.HiddenFor(m => m.HdnHEduCessRate)
                                                    @Html.HiddenFor(m => m.HdnServiceTaxRate)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-4">High Education Cess (+)</label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(c => c.WAD.HEducationCess, new { @class = "form-control", @readonly = "true", @type = "number" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-4">Service Tax Reg No.  </label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(c => c.WAD.ServiceTaxRegNo, new { @class = "form-control", @placeholder = "AAAAA0000AAA000", @maxlength = 15 })
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-6">
                                        <h4 class="block form-section col-md-10 center">
                                            @Html.CheckBoxFor(m => m.WAD.IsTDStaxapply) Plz Check Here to Enable TDS
                                            <label class="control-label col-md-6">
                                                LESS TDS (-)
                                            </label>
                                        </h4>

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-4">Amount Applicable</label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(c => c.WAD.AmountApplicableForTDS, new { @class = "form-control", @readonly = "true", @type = "number" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-4">TDS Section</label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(m => m.WAD.TDSSection, new SelectList(ListTDSSection, "Acccode", "Accdesc"), "", new { @class = "form-control select2", @readonly = "true" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-4">TDS Rate</label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(c => c.WAD.TDSRate, new { @class = "form-control", @readonly = true, @type = "number" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-4">TDS Amount (-)</label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(c => c.WAD.TDSAmount, new { @class = "form-control", @readonly = true, @type = "number" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-4">Pan Number.</label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(c => c.WAD.PANNumber, new { @class = "form-control", @placeholder = "AAAAA0000A", @maxlength = 15 })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr />
                                <div class="form-group">
                                    @foreach (var itms in Model.WADListing)
                                    {
                                        @Html.Partial("../Voucher/_PaymentModePartial", itms)
                                    }
                                </div>
                            }
                        </div>

                        <div class="form-actions fluid" id="SubmitBtn">
                            <div class="row">
                                 @if (Model.SubType == 1)
                                {
                                    <div class="col-md-offset-5 col-md-10">
                                        <button type="button" id="btnSubmit" class="btn btn-sm green">Submit</button>
                                    </div>
                                }
                                else if (Model.SubType == 2)
                                {
                                    <div class="col-md-offset-5 col-md-10" id="Approv_Reject">
                                        <button type="button" id="btnRejectAtHO" class="btn btn-sm red"><i class="fa fa-times"></i> Rejected at HO</button>
                                        <button type="button" id="btnAuthorizeAtHo" class="btn btn-sm green left"><i class="fa fa-check"></i> Authorized at HO</button>
                                    </div>
                                }
                                else if (Model.SubType == 3)
                                {
                                    <div class="col-md-offset-5 col-md-10">
                                        <button type="button" id="btnApprovSubmit" class="btn btn-sm green"><i class="fa fa-check"></i> Submit</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var select2Date = function (DomainName) {

            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });

            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: new Date(),
                    // endDate: new Date(),
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //document.form["form_sample"].submit();
                }
            });
        }

        var IsServicetaxCalculated = function (DomainName, Prefix) {

            if ($('#WAD_IsServicetaxapply').prop('checked')) {

                $('#WAD_ServiceTaxRate').attr("readonly", false);
                $('#WAD_ServiceTaxRate').attr("readonly", false);
                $('#WAD_ServiceTaxRate').val($("#HdnServiceTaxRate").val());
                $('#WAD_ServiceTaxRate').attr("readonly", true);

                var servicetaxrate = $("#HdnServiceTaxRate").val();
                var ApplicaleAmount = $("#WAD_AmountApplicable").val();
                var Servicetax = parseFloat(ApplicaleAmount) * parseFloat(servicetaxrate) / 100;

                var TotalAmount = parseFloat(ApplicaleAmount) + parseFloat(Servicetax);
                // alert("ApplicaleAmount=" + ApplicaleAmount + "--Servicetax=" + Servicetax + "--TotalAmount=" + TotalAmount);

                $("#WAD_ServiceTax").val(Math.round(Servicetax));
                $("#WAD_AmountApplicableForTDS").val(TotalAmount);
                $("#" + Prefix + "NETAMOUNT").val(Math.round(TotalAmount));
                $("#" + Prefix + "AmountApplicable").val(Math.round(TotalAmount));
            }
            else {
                $('#WAD_ServiceTaxRate').attr('readonly', true);
                $('#WAD_ServiceTaxRate').val(0)
                $("#WAD_ServiceTax").val(0);
                var ApplicaleAmount = $("#WAD_AmountApplicable").val();
                $("#WAD_AmountApplicableForTDS").val(Math.round(ApplicaleAmount));
            }

            if ($('#WAD_IsTDStaxapply').prop('checked')) {

                $('#WAD_TDSRate').attr("readonly", false);
                //$("#WAD_TDSAmount").attr("readonly", false);
                var TDSrate = $("#WAD_TDSRate").val();
                var TDSApplicaleAmount = $("#WAD_AmountApplicableForTDS").val();
                var TDStax = parseFloat(TDSApplicaleAmount) * parseFloat(TDSrate) / 100;
                var TotalAmount = parseFloat(TDSApplicaleAmount) - parseFloat(TDStax);

                $("#WAD_TDSSection").addClass("required required2");
                $("#WAD_TDSSection").attr("readonly", false);
                $("#WAD_TDSAmount").val(Math.round(TDStax));

                $("#" + Prefix + "NETAMOUNT").val(Math.round(TotalAmount));
                $("#" + Prefix + "AmountApplicable").val(Math.round(TotalAmount));

                $(".clsTotal").val(Math.round(TotalAmount));
                if ($('#' + Prefix + 'PaymentMode').val() == "Cash") {
                    $("#" + Prefix + "CashAmount").val(Math.round(TotalAmount));
                }
                else if ($('#' + Prefix + 'PaymentMode').val() == "Bank") {
                    $("#" + Prefix + "ChequeAmount").val(Math.round(TotalAmount));
                }
                else {
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "CashAmount").val(0);
                }
            }
            else {
                $('#WAD_TDSRate').attr("readonly", true);
                $('#WAD_TDSRate').val(0);
                $("#WAD_TDSAmount").val(0);
                $("#WAD_TDSAmount").attr("readonly", true);
                var ApplicaleAmount = $("#WAD_AmountApplicableForTDS").val();
                $("#WAD_AmountApplicableForTDS").val(ApplicaleAmount);
                $("#" + Prefix + "NETAMOUNT").val(Math.round($("#WAD_SumAmount").val()));

                $("#" + Prefix + "AmountApplicable").val(Math.round(ApplicaleAmount/*$("#WAD_SumAmount").val()*/));

                $(".clsTotal").val(Math.round(ApplicaleAmount));

                $("#WAD_TDSSection").val("");
                $("#WAD_TDSSection").select2().find(":selected").data("");
                $("#WAD_TDSSection").removeClass("required required2");
                $("#WAD_TDSSection").attr("readonly", true);

                if ($('#' + Prefix + 'PaymentMode').val() == "Cash") {
                    $("#" + Prefix + "CashAmount").val(Math.round(ApplicaleAmount));
                }
                else if ($('#' + Prefix + 'PaymentMode').val() == "Bank") {
                    $("#" + Prefix + "ChequeAmount").val(Math.round(ApplicaleAmount));
                }
                else {
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "CashAmount").val(0);
                }
            }
        }

        var Calculation = function (DomainName, ID) {

            var AmountPaid_Per_Branch = ID + "AmountPaid_Per_Branch";

            var AmountPaid_Per_Branch = $("#" + AmountPaid_Per_Branch).val();


            var Total_Amount_Total = parseFloat(AmountPaid_Per_Branch) + parseFloat(AmountPaid_Per_Branch) + parseFloat(AmountPaid_Per_Branch);
            $("#" + AmountPaid_Per_Branch).val(Total_Amount_Total);

            var Amount_Tot = "0";
            $(".clsAmountPaid_Per_Branch").each(function () {
                var ID = $(this).attr("id").replace("AmountPaid_Per_Branch", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    Amount_Tot = parseFloat(Amount_Tot) + parseFloat($(this).val());
                }
            });
            $("#AmountPaid_Per_Branch").html(Amount_Tot);
            $("#AmountPaid_Per_Branch_val").val(Amount_Tot);

            //alert("AmountTot_Val=" + Amount_Tot + "--" + $("#AmountTot_Val").val());

        }

        var OnLoadFunction = function (DomainName, Prefix) {

            var GetChequedate = $("#" + Prefix + "Chequedate").val();

            $("#" + Prefix + "TransactionMode").change(function () {

                $("#" + Prefix + "CashAmount").val(0);
                $("#" + Prefix + "ChequeAmount").val(0);
                $("#" + Prefix + "ChequeNo").val("");
                $("#" + Prefix + "Chequedate").val("");
                $("#" + Prefix + "ReceivedFromBank").val("");
                $("#" + Prefix + "PaymentMode").val("");
                $("#" + Prefix + "PaymentMode").select2().find(":selected").data("");
                $("#" + Prefix + "CashAccount").select2('data', null);
                $("#" + Prefix + "DepositedInBank").select2('data', null);

                if ($("#" + Prefix + "TransactionMode").val() == "PAYMENT") {
                    //$("input[name=optionsRadios1]").attr("disabled", true);
                    //$('#' + Prefix + 'IsonAccount').attr("disabled", true);
                    //$('#' + Prefix + 'IsonAccount').attr("checked", false);
                    //$('#' + Prefix + 'IsonAccount').parent('span').removeClass('checked');
                    //$('#' + Prefix + 'IsonAccount').val(false);CASHBANKLABEL
                    $('#labelBank').text("Issued in bank");
                    $('#CASHBANKLABEL').hide();
                }
                else {

                    //$("input[name=optionsRadios1]").attr("disabled", false);
                    //$('#' + Prefix + 'IsonAccount').attr("checked", false);
                    //$('#' + Prefix + 'IsonAccount').parent('span').removeClass('checked');
                    //$('#' + Prefix + 'IsonAccount').val(false);
                    $('#labelBank').text("Deposited in bank");
                    $("#" + Prefix + "DepositedInBank").attr("disabled", true);
                    $('#CASHBANKLABEL').show();
                }
            });

            $("#" + Prefix + "PaymentMode").change(function () {

                var PaymentMode = $(this).val();

                if (PaymentMode == "Cash") {

                    App.blockUI({ boxed: true });

                    var StrURL = DomainName + "/Voucher/GetBankCashList?Type=" + PaymentMode;
                    $("#" + Prefix + "CashAccount").select2('data', null);
                    $("#" + Prefix + "DepositedInBank").select2('data', null);
                    $("#" + Prefix + "DepositedInBank").attr("disabled", true);
                    $("#" + Prefix + "CashAccount").attr("disabled", false);
                    FillDropDownfromOther(Prefix + "CashAccount", StrURL, "Cash Account");
                    $("#" + Prefix + "CashAccount option:selected").remove();
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "CashAmount").val($(".clsTotal").val());
                    $("#" + Prefix + "CashAmount").attr("readonly", true);
                    $("#" + Prefix + "ChequeNo").attr("disabled", true);
                    $("#" + Prefix + "ChequeAmount").attr("readonly", true);
                    $("#" + Prefix + "Chequedate").attr("disabled", true);
                    $("#" + Prefix + "Chequedate").val("");
                    $(".input-group-btn").hide();
                    //$('#' + Prefix + 'IsonAccount').attr("checked", false);
                    //$('#' + Prefix + 'IsonAccount').parent('span').removeClass('checked');
                    //$('#' + Prefix + 'IsonAccount').val(false);
                    $("#" + Prefix + "ReceivedFromBank").removeClass('required required2');
                    $("#" + Prefix + "CashAccount").addClass('required required2');
                    $("#" + Prefix + "DepositedInBank").removeClass('required required2');

                    App.unblockUI();
                }

                else if (PaymentMode == "Bank") {

                    App.blockUI({ boxed: true });

                    var StrURL = DomainName + "/Voucher/GetBankCashList?Type=" + PaymentMode;
                    $("#" + Prefix + "DepositedInBank").select2('data', null);
                    $("#" + Prefix + "CashAccount").select2('data', null);
                    $("#" + Prefix + "DepositedInBank").attr("disabled", false);
                    $("#" + Prefix + "CashAccount").attr("disabled", true);
                    FillDropDownfromOther(Prefix + "DepositedInBank", StrURL, "Bank Account");
                    $(".input-group-btn").show();
                    $("#" + Prefix + "CashAmount").val(0);
                    $("#" + Prefix + "CashAmount").attr("readonly", true);
                    $("#" + Prefix + "ChequeAmount").val($(".clsTotal").val());
                    $("#" + Prefix + "ChequeAmount").attr("readonly", true);
                    $("#" + Prefix + "ChequeNo").attr("disabled", false);
                    $("#" + Prefix + "Chequedate").attr("disabled", false);
                    $("#" + Prefix + "Chequedate").val(GetChequedate);
                    $("#" + Prefix + "ChequeNo").addClass('required required2');
                    $("#" + Prefix + "ReceivedFromBank").addClass('required required2');
                    $("#" + Prefix + "CashAccount").removeClass('required required2');
                    $("#" + Prefix + "DepositedInBank").addClass('required required2');

                    App.unblockUI();
                }
                else {

                    App.blockUI({ boxed: true });

                    var StrURL = DomainName + "/Voucher/GetBankCashList?Type=Cash";
                    $("#" + Prefix + "CashAccount").select2('data', null);
                    FillDropDownfromOther(Prefix + "CashAccount", StrURL, "Cash Account");
                    var StrURL1 = DomainName + "/Voucher/GetBankCashList?Type=Bank";
                    $("#" + Prefix + "DepositedInBank").select2('data', null);
                    FillDropDownfromOther(Prefix + "DepositedInBank", StrURL1, "Bank Account");
                    $("#" + Prefix + "CashAmount").val(0);
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "ChequeNo").attr("disabled", false);
                    $("#" + Prefix + "CashAmount").attr("readonly", false);
                    $("#" + Prefix + "ChequeAmount").attr("readonly", false);
                    $("#" + Prefix + "Chequedate").attr("disabled", false);
                    $("#" + Prefix + "Chequedate").val(GetChequedate);
                    //$('#' + Prefix + 'IsonAccount').attr("checked", false);
                    //$('#' + Prefix + 'IsonAccount').parent('span').removeClass('checked');
                    //$('#' + Prefix + 'IsonAccount').val(false);
                    $("#" + Prefix + "ReceivedFromBank").addClass('required required2');
                    $("#" + Prefix + "DepositedInBank").attr("disabled", false);
                    $("#" + Prefix + "CashAccount").attr("disabled", false);
                    $("#" + Prefix + "CashAccount").addClass('required required2');
                    $("#" + Prefix + "DepositedInBank").addClass('required required2');

                    App.unblockUI();
                }
            });

            if ($("#WAD_Vouchertype").val() != "DEBITCREDIT") {
                //$("#" + Prefix + "NETAMOUNT").removeAttr('readonly');
                $("#" + Prefix + "NETAMOUNT").attr("number", true).attr("min", 1).addClass("required required2");
            }

            $("#" + Prefix + "NETAMOUNT").live('change', function () {
                var PaymentMode = $("#" + Prefix + "PaymentMode").val();
                var PaymentAmount = $("#" + Prefix + "NETAMOUNT").val();
                if (PaymentMode.toUpperCase() == "CASH") {
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "CashAmount").val(PaymentAmount);
                    $(".clsTotal").val(PaymentAmount);
                }
                if (PaymentMode.toUpperCase() == "BANK") {
                    $("#" + Prefix + "CashAmount").val(0);
                    $("#" + Prefix + "ChequeAmount").val(PaymentAmount);
                    $(".clsTotal").val(PaymentAmount);
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                if ($("#SubType").val() == "2") {
                    $(".clsApproval").show();
                }
                else {
                    $(".clsApproval").hide();
                }
                ControlDate();
                var Prefix = "PAYMENTMODE_1__";
                Formvalidate(DomainName);
                GetVehicleEmployeeUserName("Handling_Expence_HDR_NameOfVendor", "V")
                GetVehicleEmployeeUserName_BranchWise("Handling_Expence_HDR_EmpCode", "U")
                select2Date(DomainName);
                $("#PaymentControl").hide();
                $("#ApprovSubmit").hide();
                $("#TotalClaim_IncHandlingTot").val("0");
                /* Acouting Calculation */
                IsServicetaxCalculated(DomainName, Prefix)
                OnLoadFunction(DomainName, Prefix)

                $("#WAD_IsServicetaxapply").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })
                $("#WAD_IsTDStaxapply").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })
                $("#WAD_TDSRate").focusout(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })


                $("#Handling_Expence_HDR_EmpCode").change(function () {

                    var URL = DomainName + '/BranchAccounting/GetUser_Detailes?No=' + $(this).val();

                    if ($(this).val() != "") {

                        App.blockUI({ boxed: true });
                        $.ajax({
                            url: URL,
                            cache: false,
                            data: {},
                            type: 'POST',
                            success: function (data) {

                                if (data.IsRecordFound == "1") {

                                    $("#Handling_Expence_HDR_EmpName").val(data.Name);
                                    $("#Handling_Expence_HDR_BankName").val(data.Name_Of_bank);
                                    $("#Handling_Expence_HDR_BankAccNumber").val(data.Bank_AC_Number);
                                    $("#Handling_Expence_HDR_IFSCCode").val(data.IFSC_Code);
                                    App.unblockUI();
                                }
                                else {
                                    $("#Handling_Expence_HDR_EmpName").val($("#s2id_Handling_Expence_HDR_EmpName span").html());
                                    $("#Handling_Expence_HDR_BankName").val("");
                                    $("#Handling_Expence_HDR_BankAccNumber").val("");
                                    $("#Handling_Expence_HDR_IFSCCode").val("");
                                    App.unblockUI();
                                }
                            },
                            error: function (req, status, error) {
                                $("#Handling_Expence_HDR_EmpName").val($("#s2id_Handling_Expence_HDR_EmpName span").html());
                                $("#Handling_Expence_HDR_BankName").val("");
                                $("#Handling_Expence_HDR_BankAccNumber").val("");
                                $("#Handling_Expence_HDR_IFSCCode").val("");
                                App.unblockUI();
                            }
                        });
                    }
                });

                $("#btnSubmit").click(function () {

                    if ($('#form_sample').valid()) {
                        App.blockUI({ boxed: true });
                        document.forms["form_sample"].submit()
                        //$("#form_sample").submit();
                    }
                    else {
                        return false
                    }
                });

                $('#btnRejectAtHO').click(function () {
                    App.blockUI({ boxed: true });
                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/Accounting_Reject');
                    document.forms["form_sample"].submit()
                    //$('#form_sample').submit();
                });

                $('#btnAuthorizeAtHo').click(function () {
                    if (parseInt($("#TotalClaim_IncHandlingTot").val()) == 0) {
                        alert("Please Check Atleast One CheckBox For Approval.");
                    }
                    else {
                        Formvalidate(DomainName);
                        App.blockUI({ boxed: true });
                        $('#form_sample').attr('action', DomainName + '/BranchAccounting/HandlingLoading_Unloading_Expenses_Approval');
                        document.forms["form_sample"].submit()
                    }
                });


                if ($("#SubType").val() == "3") {

                    $("#PaymentControl").show();

                    var AmountApplicable = 0;
                    $(".clsAmount_Passed").each(function () {
                        AmountApplicable = parseFloat(AmountApplicable) + parseFloat($(this).val());
                    });
                    $("#WAD_AmountApplicable").val(AmountApplicable)

                    $("#PaymentPart :input").attr("disabled", true);
                    $("#PaymentPart1 :input").attr("disabled", true);

                    $("#btnApprovSubmit").click(function () {

                        Formvalidate(DomainName);

                        if ($('#form_sample').valid()) {

                            App.blockUI({ boxed: true });

                            $("#PaymentPart :input").attr("disabled", false);
                            $("#PaymentPart1 :input").attr("disabled", false);

                            $('#form_sample').attr('action', DomainName + '/BranchAccounting/Accounting_Payment_Submit');
                            $("#container :input").attr("disabled", false);
                            document.forms["form_sample"].submit()
                            $('#form_sample').submit();
                        }
                    });
                }

                //$("#btnApprovSubmit").click(function () {
                //    App.blockUI({ boxed: true });
                //    $('#form_sample').attr('action', DomainName + '/BranchAccounting/Accounting_Approval');
                //    $("#sample_ven :input").attr("disabled", false);
                //    document.forms["form_sample"].submit()
                //    $('#form_sample').submit();
                //});

                @foreach (var item in Model.List_Handling_Expence_DET)
                {
                    var CheckBox = "CPEEDET_" + @item.ID + "__CheckBox";
                    var StdRate = "CPEEDET_" + @item.ID + "__StdRate";
                    var RateCharged = "CPEEDET_" + @item.ID + "__RateCharged";
                    var PortelPaidPerBranch = "CPEEDET_" + @item.ID + "__PortelPaidPerBranch";
                    var OtherTSPEtc = "CPEEDET_" + @item.ID + "__OtherTSPEtc";
                    var Marker = "CPEEDET_" + @item.ID + "__Marker";
                    var HandlingInsideThePlatForm = "CPEEDET_" + @item.ID + "__HandlingInsideThePlatForm";
                    var TotalClaimMade_ExlHandling = "CPEEDET_" + @item.ID + "__TotalClaimMade_ExlHandling";
                    var TotalClaim_IncHandling = "CPEEDET_" + @item.ID + "__TotalClaim_IncHandling";
                    var PerKGCost_PKG = "CPEEDET_" + @item.ID + "__PerKGCost_PKG";
                    var PerKGCost_Weight = "CPEEDET_" + @item.ID + "__PerKGCost_Weight";



                     <text>

                $("#@CheckBox").attr("value", "false");
                $('#@CheckBox').click(function () {
                    var checked = jQuery(this).is(":checked");
                    $("#@CheckBox").val(checked);
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                });

                $("#@StdRate").focusout(function () {
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                })
                $("#@PortelPaidPerBranch").focusout(function () {
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                })
                $("#@OtherTSPEtc").focusout(function () {
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                })
                $("#@Marker").focusout(function () {
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                })
                $("#@HandlingInsideThePlatForm").focusout(function () {
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                })

                </text>
                }

            }
        }
    }();
</script>

<script type="text/javascript" src="@Url.Content(" ~ />Scripts/AccountControl.js")"></script>

