﻿@model Fleet.ViewModels.ExpensesEntryModule
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.OperationService CSOPN = new FleetDataService.OperationService();
    List<webx_acctinfo> ListTDSSection = CSOPN.GetTDSSectionList();
    string ActionName = @ViewBag.ActionName;

    objDate BRDate = new objDate();
    BRDate.ControlId = "MarketVehicleCharges_Expence_HDR.BR_Date";
    BRDate.ControlValue = Model.MarketVehicleCharges_Expence_HDR.BR_Date.ToString();
    BRDate.ModuleCode = "20";
}

@using (Html.BeginForm(ActionName, "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="form-group">
                            @Html.HiddenFor(m => m.MarketVehicleCharges_Expence_HDR.DocumentNo)
                            @Html.HiddenFor(m => m.MarketVehicleCharges_Expence_HDR.ExpenceType)
                            @Html.HiddenFor(m => m.MarketVehicleCharges_Expence_HDR.BillNo)
                            @Html.HiddenFor(m => m.SubType)
                            @Html.HiddenFor(m => m.Type2)

                            <div id="PaymentPart">

                                <div class="col-md-12">
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">NAME OF EMPLOYEE</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.MarketVehicleCharges_Expence_HDR.EmpCode, new { placeholder = "NAME OF EMPLOYEE", @class = "form-control required required2 clsAmount_Rejected" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">EMPLOYEE CODE</label>
                                        <div class="col-md-8">
                                            @Html.HiddenFor(c => c.MarketVehicleCharges_Expence_HDR.EmpName)
                                            @Html.TextBox("ShowEmpCode", Model.MarketVehicleCharges_Expence_HDR.EmpCode, new { placeholder = "EMPLOYEE CODE", @class = "form-control required required2 ", @readonly = "true" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group clsApproval">
                                        <label class="control-label col-md-4">NAME OF BANK</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.MarketVehicleCharges_Expence_HDR.BankName, new { placeholder = "NAME OF BANK", @class = "form-control  clsAmount_Rejected", @readonly = "true" })
                                        </div>
                                    </div>

                                    <div class="col-md-4 form-group clsApproval">
                                        <label class="control-label col-md-4">BANK A/C NUMBER</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.MarketVehicleCharges_Expence_HDR.BankAccNumber, new { placeholder = "BANK A/C NUMBER", @class = "form-control ", @readonly = "true" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group clsApproval">
                                        <label class="control-label col-md-4">IFSC CODE</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.MarketVehicleCharges_Expence_HDR.IFSCCode, new { placeholder = "IFSC CODE", @class = "form-control ", @readonly = "true" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">Other Payee</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.MarketVehicleCharges_Expence_HDR.NameOFPayee, new { placeholder = "Other Payee", @class = "form-control required required2 clsAmount_Rejected" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">TOTAL WEIGHT</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.MarketVehicleCharges_Expence_HDR.Total_Weight, new { placeholder = "TOTAL WEIGHT", @min = "1", @class = "form-control required required2 ", @readonly = "true" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">TOTAL NUMBER OF PKTS</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.MarketVehicleCharges_Expence_HDR.Total_Number_Of_Pkts, new { placeholder = "TOTAL NUMBER OF PKTS", @min = "1", @class = "form-control required required2 ", @readonly = "true" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">TOTAL AMOUNT</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.MarketVehicleCharges_Expence_HDR.Total_Amount, new { placeholder = "TOTAL AMOUNT", @min = "1", @class = "form-control required required2 ", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">TOTAL AMOUNT PASSED</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.MarketVehicleCharges_Expence_HDR.Total_Amount_Passed, new { placeholder = "TOTAL AMOUNT PASSED", @class = "form-control required required2", @readonly = "true" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">THC NO</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.MarketVehicleCharges_Expence_HDR.DocumentNo, new { placeholder = "THC NO", @class = "form-control required required2 ", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">UNIT COST (AS PER CHARGED AMOUNT)</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.MarketVehicleCharges_Expence_HDR.Unit_Cost_Charged_Amount, new { placeholder = "UNIT COST (AS PER CHARGED AMOUNT)", @class = "form-control required required2 clsApproval_Rejection", @readonly = "true" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">UNIT COST (AS PER PASSED AMOUNT)</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.MarketVehicleCharges_Expence_HDR.Unit_Cost_Pased_Amount, new { placeholder = "UNIT COST (AS PER PASSED AMOUNT)", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">BR Date</label>
                                    <div class="col-md-8">
                                        @{
    Html.RenderPartial("../UserControls/_DocumentDate", BRDate);
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Market Vehicle Charge Expense Entry
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body ">
                        <div id="PaymentPart1">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        @if (Model.SubType == 1)
                                        {
                                            <th style="white-space: pre-line">#</th>
                                        }
                                        <th style="white-space: pre-line">DATE</th>
                                        <th style="white-space: pre-line">NAME OF VENDOR /PLACE</th>
                                        <th style="white-space: pre-line">PRS /DRS /THC NUMBER</th>
                                        <th style="white-space: pre-line">FROM</th>
                                        <th style="white-space: pre-line">TO</th>
                                        <th style="white-space: pre-line">DISTANCE(IN KMS)</th>
                                        <th style="white-space: pre-line">VEHICLE NUMBER</th>
                                        <th style="white-space: pre-line">CONTRACT NUMBER OF VEHICLE OWNER</th>
                                        <th style="white-space: pre-line">ACTUAL WEIGHT</th>
                                        <th style="white-space: pre-line">NUMBER OF PACKAGES</th>
                                        <th style="white-space: pre-line">RATE(TOTAL AMOUNT /WEIGHT)</th>
                                        <th style="white-space: pre-line">TOTAL AMOUNT</th>
                                        @if (Model.SubType == 2 || Model.SubType == 3)
                                        {
                                            <th style="white-space: pre-line">AMOUNT PASSED</th>
                                            <th style="white-space: pre-line">AMOUNT REJECTED</th>
                                            <th style="white-space: pre-line">REASON FOR REJECTED</th>
                                        }
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.List_MarketVehicle_Expence_DET)
                                    {
                                        item.Date = System.DateTime.Now;
                                        Html.RenderPartial("_MarketVehicleCharges", item);
                                    }
                                </tbody>

                                <tbody>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th id="Rate_Total_Amount_Weight_Tot"></th>
                                        <th id="Total_Amount_Tot"></th>@Html.Hidden("Total_Amount_Tot_val")
                                        @if (Model.SubType == 2)
                                        {
                                            <th id="Amount_Passed_Tot"></th>
                                            <th id="Amount_Rejected_Tot"></th>
                                        }
                                        <th></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="PaymentControl">
                            @if (Model.SubType == 3)
                            {
                                @Html.Partial("_BranchAccounting_PaymentPart", Model);

                                <hr />
                                <div class="form-group">
                                    @foreach (var itms in Model.WADListing)
                                    {
                                        itms.Vouchertype = "BranchAccountingType";
                                        @*@Html.Partial("../Voucher/_PaymentModePartial", itms)*@
                                        @Html.Partial("../Voucher/_PaymentModePartiaBranchAccounting", itms)
                                        
                                    }
                                </div>
                            }
                        </div>

                        <div class="form-actions fluid" id="SubmitBtn">
                            @{
                                @Html.Partial("_BranchAcct_SubmitPartial", Model)
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/BranchAccounting/BranchAccounting.js?ver<%=DateTime.Now.Ticks.ToString()%>" type="text/javascript"></script>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var select2Date = function (DomainName) {

            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });

            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: new Date(),
                    // endDate: new Date(),
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //document.form["form_sample"].submit();
                }
            });
        }

        var checkBoxEvents = function (DomainName, ID) {

            var Unionu = "CPEEDET_" + ID + "__Unionu";
            var Employed = "CPEEDET_" + ID + "__Employed";
            var Econtractual = "CPEEDET_" + ID + "__Econtractual";
            var Leasel = "CPEEDET_" + ID + "__Leasel";
            var PerKGS = "CPEEDET_" + ID + "__PerKGS";
            var PerPackage = "CPEEDET_" + ID + "__PerPackage";

            $("#" + Unionu).attr("value", "false");
            $("#" + Employed).attr("value", "false");
            $("#" + Econtractual).attr("value", "false");
            $("#" + Leasel).attr("value", "false");
            $("#" + PerKGS).attr("value", "false");
            $("#" + PerPackage).attr("value", "false");

            $('#' + Unionu).click(function () {
                var checked = jQuery(this).is(":checked");
                $("#" + Unionu).val(checked);
            });
            $('#' + Employed).click(function () {
                var checked = jQuery(this).is(":checked");
                $("#" + Employed).val(checked);
            });
            $('#' + Econtractual).click(function () {
                var checked = jQuery(this).is(":checked");
                $("#" + Econtractual).val(checked);
            });
            $('#' + Leasel).click(function () {
                var checked = jQuery(this).is(":checked");
                $("#" + Leasel).val(checked);
            });
            $('#' + PerKGS).click(function () {
                var checked = jQuery(this).is(":checked");
                $("#" + PerKGS).val(checked);
            });
            $('#' + PerPackage).click(function () {
                var checked = jQuery(this).is(":checked");
                $("#" + PerPackage).val(checked);
            });
        }

        var Calculation = function (DomainName, ID) {

            var Total_Amount = ID + "Total_Amount";
            var Total_Amount = $("#" + Total_Amount).val();

            var Total_Amount_Tot = parseFloat(Total_Amount) + parseFloat(Total_Amount) + parseFloat(Total_Amount);
            $("#" + Total_Amount).val(Total_Amount_Tot);

            var Amount_Tot_Foc = 0;
            var Rate_Tot_Foc = 0;

            $(".clsAmount").focusout(function () {

                var ID = $(this).attr("id").replace("Amount", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                var Weight = $("#" + ID + "Actual_Weight").val();

                var Rate = parseFloat($(this).val()) / parseFloat(Weight);

                if (checked) {
                    Rate_Tot_Foc = parseFloat(Rate_Tot_Foc) + parseFloat(Rate);
                    Amount_Tot_Foc = parseFloat(Amount_Tot_Foc) + parseFloat($(this).val());
                    $("#" + ID + "Rate_Total_Amount_Weight").val(parseFloat(Rate).toFixed(2));
                }
                else {
                    $("#" + ID + "Rate_Total_Amount_Weight").val(0);
                    $("#" + ID + "Amount").val(0);
                }
            });
            $("#MarketVehicleCharges_Expence_HDR_Total_Amount").val(Amount_Tot_Foc);

            var Amount_Tot_Each = 0;
            var Rate_Tot_Each = 0;

            $(".clsAmount").each(function () {

                var ID = $(this).attr("id").replace("Amount", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                var Weight = $("#" + ID + "Actual_Weight").val();

                var Rate = parseFloat($(this).val()) / parseFloat(Weight);

                if (checked) {
                    Rate_Tot_Each = parseFloat(Rate_Tot_Each) + parseFloat(Rate);
                    Amount_Tot_Each = parseFloat(Amount_Tot_Each) + parseFloat($(this).val());
                    $("#" + ID + "Rate_Total_Amount_Weight").val(parseFloat(Rate).toFixed(2));
                }
                else {
                    $("#" + ID + "Rate_Total_Amount_Weight").val(0);
                    $("#" + ID + "Amount").val(0);
                }
                $("#MarketVehicleCharges_Expence_HDR_Total_Amount").val(Amount_Tot_Each);
            });

            var TOTAL_WEIGHT = 0;
            var NUMBER_OF_PACKAGES = 0;
            var TOTAL_AMOUNT = 0;

            $(".clsIsCheck").each(function () {

                var ID = $(this).attr("id").replace("CheckBox", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                var Weight = $("#" + ID + "Actual_Weight").val();
                var PACKAGES = $("#" + ID + "Number_Of_Packages").val();

                if (checked) {
                    TOTAL_WEIGHT = parseFloat(TOTAL_WEIGHT) + parseFloat(Weight);
                    NUMBER_OF_PACKAGES = parseFloat(NUMBER_OF_PACKAGES) + parseFloat(PACKAGES);
                }
            });

            $("#MarketVehicleCharges_Expence_HDR_Total_Weight").val(TOTAL_WEIGHT);
            $("#MarketVehicleCharges_Expence_HDR_Total_Number_Of_Pkts").val(NUMBER_OF_PACKAGES);

            var UNIT_COST_AS_PER_CHARGED_AMOUNT = 0;
            UNIT_COST_AS_PER_CHARGED_AMOUNT = parseFloat($("#MarketVehicleCharges_Expence_HDR_Total_Amount").val()) / parseFloat($("#MarketVehicleCharges_Expence_HDR_Total_Weight").val());
            $("#MarketVehicleCharges_Expence_HDR_Unit_Cost_Charged_Amount").val(parseFloat(UNIT_COST_AS_PER_CHARGED_AMOUNT).toFixed(2));
        }

        var Submit_Approval_Rejection = function (DomainName) {

            $("#btnSubmit").click(function () {

                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false)
                    $("#PaymentPart :input").attr("disabled", false);
                    $("#PaymentPart1 :input").attr("disabled", false);

                    document.forms["form_sample"].submit()
                    //$("#form_sample").submit();
                }
                else {
                    return false
                }
            });

            $('#btnRejectAtHO').click(function () {

                $(".clsAmount_Passed").each(function () {
                    var Id = $(this).attr("id").replace("Amount_Passed", "");
                    $("#" + Id + "Reason_For_Rejection").addClass("required required2")
                    $("#" + Id + "Amount_Passed").attr("min", "0")
                    $("#" + Id + "Amount_Rejected").attr("min", "1")
                    if ($("#" + Id + "Amount_Passed").val() == "0") {
                        $("#" + Id + "Amount_Passed").val("0")
                        $("#" + Id + "Amount_Rejected").val($("#" + Id + "TotalClaim_IncHandling").val())
                    }
                })

                Formvalidate(DomainName);

                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false)
                    $("#PaymentPart :input").attr("disabled", false);
                    $("#PaymentPart1 :input").attr("disabled", false);

                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/MarketVehicleCharges_Reject');
                    document.forms["form_sample"].submit()
                }
                else {
                    return false
                }
            });

            $('#btnAuthorizeAtHo').click(function () {

                $(".clsAmount_Passed").each(function () {
                    var Id = $(this).attr("id").replace("Amount_Passed", "");
                    $("#" + Id + "Reason_For_Rejection").removeClass("required required2")
                    $("#" + Id + "Amount_Passed").attr("min", "1")
                    $("#" + Id + "Amount_Rejected").attr("min", "0")
                })

                Formvalidate(DomainName);
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false)
                    $("#PaymentPart :input").attr("disabled", false);
                    $("#PaymentPart1 :input").attr("disabled", false);

                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/MarketVehicleCharges_Approval');
                    document.forms["form_sample"].submit()
                }
                else {
                    return false
                }

            });

        };

        return {
            //main function to initiate the module
            init: function (DomainName) {

                if ($("#SubType").val() == "2") {
                    $(".clsApproval").show();
                }
                else {
                    $(".clsApproval").hide();
                }
                ControlDate();
                var Prefix = "PAYMENTMODE_1__";
                Formvalidate(DomainName);
                GetVehicleEmployeeUserName_BranchWise("MarketVehicleCharges_Expence_HDR_EmpCode", "U")

                if ($("#MarketVehicleCharges_Expence_HDR_EmpCode").val() != '' && $("#MarketVehicleCharges_Expence_HDR_EmpCode").val() != null) {
                    $("#MarketVehicleCharges_Expence_HDR_EmpCode").select2("data", { id: $("#MarketVehicleCharges_Expence_HDR_EmpCode").val(), text: $("#MarketVehicleCharges_Expence_HDR_EmpName").val() });
                    $("#ShowEmpCode").val($("#MarketVehicleCharges_Expence_HDR_EmpCode").val());
                }

                select2Date(DomainName);
                $("#PaymentControl").hide();
                //$("#ApprovSubmit").hide();
                $("#TotalClaim_IncHandlingTot").val("0");
                /* Acouting Calculation */
                IsServicetaxCalculated(DomainName, Prefix)
                OnLoadFunction(DomainName, Prefix)
                Submit_Approval_Rejection(DomainName);

                $("#WAD_IsServicetaxapply").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })
                $("#WAD_IsTDStaxapply").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })
                $("#WAD_TDSRate").focusout(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })

                $("#MarketVehicleCharges_Expence_HDR_EmpCode").change(function () {
                    EmpCode_Change(DomainName, $("#MarketVehicleCharges_Expence_HDR_EmpCode").val(), "MarketVehicleCharges_Expence_HDR_", 1, 0, 0, 0);
                });

                @foreach (var item in Model.List_MarketVehicle_Expence_DET)
                {
                    var CheckBox = "CPEEDET_" + @item.ID + "__CheckBox";
                    var Total_Amount = "CPEEDET_" + @item.ID + "__Amount";
                    var Rate_Total_Amount_Weight = "CPEEDET_" + @item.ID + "__Rate_Total_Amount_Weight";
                    var MFrom = "CPEEDET_" + @item.ID + "__MFrom";
                    var MTo = "CPEEDET_" + @item.ID + "__MTo";
                    var GoogleDistance = "CPEEDET_" + @item.ID + "__Distance";
                    var GoogleHours = "CPEEDET_" + @item.ID + "__Hours";
                    var Weight = "CPEEDET_" + @item.ID + "__Actual_Weight";

                     <text>

                $("#@CheckBox").attr("value", "false");
                $('#@CheckBox').click(function () {
                    var checked = jQuery(this).is(":checked");
                    $("#@CheckBox").val(checked);
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");

                    if (checked) {
                        GetDistace($("#@MFrom").val(), $("#@MTo").val(), "0", "0", "1", "@GoogleDistance", "@GoogleHours")
                        $("#@Total_Amount").addClass("required required2");
                        $("#@Rate_Total_Amount_Weight").addClass("required required2");
                        $("#@Total_Amount").attr("min", $("#@Weight").val());
                        $("#@Total_Amount").attr("readonly", false);
                    }
                    else {
                        $("#@GoogleDistance").val("0");
                        $("#@Total_Amount").removeClass("required required2");
                        $("#@Total_Amount").val("0");
                        $("#@Total_Amount").attr("readonly", true);
                        $("#@Rate_Total_Amount_Weight").removeClass("required required2");
                        $("#@Total_Amount").attr("min", "0");
                    }
                });


                $("#@Total_Amount").focusout(function () {
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                })

                </text>
                }

                BR_Request_Common_Function(DomainName, "MarketVehicleCharges_Expence_HDR_", "MarketVehicleCharges_Expence_DET_", "form_sample");

            }
        }
    }();
</script>


@*

      var IsServicetaxCalculated = function (DomainName, Prefix) {

            if ($('#WAD_IsServicetaxapply').prop('checked')) {

                $('#WAD_ServiceTaxRate').attr("readonly", false);
                $('#WAD_ServiceTaxRate').attr("readonly", false);
                $('#WAD_ServiceTaxRate').val($("#HdnServiceTaxRate").val());
                $('#WAD_ServiceTaxRate').attr("readonly", true);

                var servicetaxrate = $("#HdnServiceTaxRate").val();
                var ApplicaleAmount = $("#WAD_AmountApplicable").val();
                var Servicetax = parseFloat(ApplicaleAmount) * parseFloat(servicetaxrate) / 100;

                var TotalAmount = parseFloat(ApplicaleAmount) + parseFloat(Servicetax);
                // alert("ApplicaleAmount=" + ApplicaleAmount + "--Servicetax=" + Servicetax + "--TotalAmount=" + TotalAmount);

                $("#WAD_ServiceTax").val(Math.round(Servicetax));
                $("#WAD_AmountApplicableForTDS").val(TotalAmount);
                $("#" + Prefix + "NETAMOUNT").val(Math.round(TotalAmount));
                $("#" + Prefix + "AmountApplicable").val(Math.round(TotalAmount));
            }
            else {
                $('#WAD_ServiceTaxRate').attr('readonly', true);
                $('#WAD_ServiceTaxRate').val(0)
                $("#WAD_ServiceTax").val(0);
                var ApplicaleAmount = $("#WAD_AmountApplicable").val();
                $("#WAD_AmountApplicableForTDS").val(Math.round(ApplicaleAmount));
            }

            if ($('#WAD_IsTDStaxapply').prop('checked')) {

                $('#WAD_TDSRate').attr("readonly", false);
                //$("#WAD_TDSAmount").attr("readonly", false);
                var TDSrate = $("#WAD_TDSRate").val();
                var TDSApplicaleAmount = $("#WAD_AmountApplicableForTDS").val();
                var TDStax = parseFloat(TDSApplicaleAmount) * parseFloat(TDSrate) / 100;
                var TotalAmount = parseFloat(TDSApplicaleAmount) - parseFloat(TDStax);

                $("#WAD_TDSSection").addClass("required required2");
                $("#WAD_TDSSection").attr("readonly", false);
                $("#WAD_TDSAmount").val(Math.round(TDStax));

                $("#" + Prefix + "NETAMOUNT").val(Math.round(TotalAmount));
                $("#" + Prefix + "AmountApplicable").val(Math.round(TotalAmount));

                $(".clsTotal").val(Math.round(TotalAmount));
                if ($('#' + Prefix + 'PaymentMode').val() == "Cash") {
                    $("#" + Prefix + "CashAmount").val(Math.round(TotalAmount));
                }
                else if ($('#' + Prefix + 'PaymentMode').val() == "Bank") {
                    $("#" + Prefix + "ChequeAmount").val(Math.round(TotalAmount));
                }
                else {
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "CashAmount").val(0);
                }
            }
            else {
                $('#WAD_TDSRate').attr("readonly", true);
                $('#WAD_TDSRate').val(0);
                $("#WAD_TDSAmount").val(0);
                $("#WAD_TDSAmount").attr("readonly", true);
                var ApplicaleAmount = $("#WAD_AmountApplicableForTDS").val();
                $("#WAD_AmountApplicableForTDS").val(ApplicaleAmount);
                $("#" + Prefix + "NETAMOUNT").val(Math.round($("#WAD_SumAmount").val()));

                $("#" + Prefix + "AmountApplicable").val(Math.round(ApplicaleAmount/*$("#WAD_SumAmount").val()*/));

                $(".clsTotal").val(Math.round(ApplicaleAmount));

                $("#WAD_TDSSection").val("");
                $("#WAD_TDSSection").select2().find(":selected").data("");
                $("#WAD_TDSSection").removeClass("required required2");
                $("#WAD_TDSSection").attr("readonly", true);

                if ($('#' + Prefix + 'PaymentMode').val() == "Cash") {
                    $("#" + Prefix + "CashAmount").val(Math.round(ApplicaleAmount));
                }
                else if ($('#' + Prefix + 'PaymentMode').val() == "Bank") {
                    $("#" + Prefix + "ChequeAmount").val(Math.round(ApplicaleAmount));
                }
                else {
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "CashAmount").val(0);
                }
            }
        }



        var OnLoadFunction = function (DomainName, Prefix) {

            var GetChequedate = $("#" + Prefix + "Chequedate").val();

            $("#" + Prefix + "TransactionMode").change(function () {

                $("#" + Prefix + "CashAmount").val(0);
                $("#" + Prefix + "ChequeAmount").val(0);
                $("#" + Prefix + "ChequeNo").val("");
                $("#" + Prefix + "Chequedate").val("");
                $("#" + Prefix + "ReceivedFromBank").val("");
                $("#" + Prefix + "PaymentMode").val("");
                $("#" + Prefix + "PaymentMode").select2().find(":selected").data("");
                $("#" + Prefix + "CashAccount").select2('data', null);
                $("#" + Prefix + "DepositedInBank").select2('data', null);

                if ($("#" + Prefix + "TransactionMode").val() == "PAYMENT") {
                    //$("input[name=optionsRadios1]").attr("disabled", true);
                    //$('#' + Prefix + 'IsonAccount').attr("disabled", true);
                    //$('#' + Prefix + 'IsonAccount').attr("checked", false);
                    //$('#' + Prefix + 'IsonAccount').parent('span').removeClass('checked');
                    //$('#' + Prefix + 'IsonAccount').val(false);CASHBANKLABEL
                    $('#labelBank').text("Issued in bank");
                    $('#CASHBANKLABEL').hide();
                }
                else {

                    //$("input[name=optionsRadios1]").attr("disabled", false);
                    //$('#' + Prefix + 'IsonAccount').attr("checked", false);
                    //$('#' + Prefix + 'IsonAccount').parent('span').removeClass('checked');
                    //$('#' + Prefix + 'IsonAccount').val(false);
                    $('#labelBank').text("Deposited in bank");
                    $("#" + Prefix + "DepositedInBank").attr("disabled", true);
                    $('#CASHBANKLABEL').show();
                }
            });

            $("#" + Prefix + "PaymentMode").change(function () {

                var PaymentMode = $(this).val();

                if (PaymentMode == "Cash") {

                    App.blockUI({ boxed: true });

                    var StrURL = DomainName + "/Voucher/GetBankCashList?Type=" + PaymentMode;
                    $("#" + Prefix + "CashAccount").select2('data', null);
                    $("#" + Prefix + "DepositedInBank").select2('data', null);
                    $("#" + Prefix + "DepositedInBank").attr("disabled", true);
                    $("#" + Prefix + "CashAccount").attr("disabled", false);
                    FillDropDownfromOther(Prefix + "CashAccount", StrURL, "Cash Account");
                    $("#" + Prefix + "CashAccount option:selected").remove();
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "CashAmount").val($(".clsTotal").val());
                    $("#" + Prefix + "CashAmount").attr("readonly", true);
                    $("#" + Prefix + "ChequeNo").attr("disabled", true);
                    $("#" + Prefix + "ChequeAmount").attr("readonly", true);
                    $("#" + Prefix + "Chequedate").attr("disabled", true);
                    $("#" + Prefix + "Chequedate").val("");
                    $(".input-group-btn").hide();
                    //$('#' + Prefix + 'IsonAccount').attr("checked", false);
                    //$('#' + Prefix + 'IsonAccount').parent('span').removeClass('checked');
                    //$('#' + Prefix + 'IsonAccount').val(false);
                    $("#" + Prefix + "ReceivedFromBank").removeClass('required required2');
                    $("#" + Prefix + "CashAccount").addClass('required required2');
                    $("#" + Prefix + "DepositedInBank").removeClass('required required2');

                    App.unblockUI();
                }

                else if (PaymentMode == "Bank") {

                    App.blockUI({ boxed: true });

                    var StrURL = DomainName + "/Voucher/GetBankCashList?Type=" + PaymentMode;
                    $("#" + Prefix + "DepositedInBank").select2('data', null);
                    $("#" + Prefix + "CashAccount").select2('data', null);
                    $("#" + Prefix + "DepositedInBank").attr("disabled", false);
                    $("#" + Prefix + "CashAccount").attr("disabled", true);
                    FillDropDownfromOther(Prefix + "DepositedInBank", StrURL, "Bank Account");
                    $(".input-group-btn").show();
                    $("#" + Prefix + "CashAmount").val(0);
                    $("#" + Prefix + "CashAmount").attr("readonly", true);
                    $("#" + Prefix + "ChequeAmount").val($(".clsTotal").val());
                    $("#" + Prefix + "ChequeAmount").attr("readonly", true);
                    $("#" + Prefix + "ChequeNo").attr("disabled", false);
                    $("#" + Prefix + "Chequedate").attr("disabled", false);
                    $("#" + Prefix + "Chequedate").val(GetChequedate);
                    $("#" + Prefix + "ChequeNo").addClass('required required2');
                    $("#" + Prefix + "ReceivedFromBank").addClass('required required2');
                    $("#" + Prefix + "CashAccount").removeClass('required required2');
                    $("#" + Prefix + "DepositedInBank").addClass('required required2');

                    App.unblockUI();
                }
                else {

                    App.blockUI({ boxed: true });

                    var StrURL = DomainName + "/Voucher/GetBankCashList?Type=Cash";
                    $("#" + Prefix + "CashAccount").select2('data', null);
                    FillDropDownfromOther(Prefix + "CashAccount", StrURL, "Cash Account");
                    var StrURL1 = DomainName + "/Voucher/GetBankCashList?Type=Bank";
                    $("#" + Prefix + "DepositedInBank").select2('data', null);
                    FillDropDownfromOther(Prefix + "DepositedInBank", StrURL1, "Bank Account");
                    $("#" + Prefix + "CashAmount").val(0);
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "ChequeNo").attr("disabled", false);
                    $("#" + Prefix + "CashAmount").attr("readonly", false);
                    $("#" + Prefix + "ChequeAmount").attr("readonly", false);
                    $("#" + Prefix + "Chequedate").attr("disabled", false);
                    $("#" + Prefix + "Chequedate").val(GetChequedate);
                    //$('#' + Prefix + 'IsonAccount').attr("checked", false);
                    //$('#' + Prefix + 'IsonAccount').parent('span').removeClass('checked');
                    //$('#' + Prefix + 'IsonAccount').val(false);
                    $("#" + Prefix + "ReceivedFromBank").addClass('required required2');
                    $("#" + Prefix + "DepositedInBank").attr("disabled", false);
                    $("#" + Prefix + "CashAccount").attr("disabled", false);
                    $("#" + Prefix + "CashAccount").addClass('required required2');
                    $("#" + Prefix + "DepositedInBank").addClass('required required2');

                    App.unblockUI();
                }
            });

            if ($("#WAD_Vouchertype").val() != "DEBITCREDIT") {
                //$("#" + Prefix + "NETAMOUNT").removeAttr('readonly');
                $("#" + Prefix + "NETAMOUNT").attr("number", true).attr("min", 1).addClass("required required2");
            }

            $("#" + Prefix + "NETAMOUNT").live('change', function () {
                var PaymentMode = $("#" + Prefix + "PaymentMode").val();
                var PaymentAmount = $("#" + Prefix + "NETAMOUNT").val();
                if (PaymentMode.toUpperCase() == "CASH") {
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "CashAmount").val(PaymentAmount);
                    $(".clsTotal").val(PaymentAmount);
                }
                if (PaymentMode.toUpperCase() == "BANK") {
                    $("#" + Prefix + "CashAmount").val(0);
                    $("#" + Prefix + "ChequeAmount").val(PaymentAmount);
                    $(".clsTotal").val(PaymentAmount);
                }
            });
        }


    if ($("#SubType").val() == "3") {

                $("#PaymentControl").show();

                var AmountApplicable = 0;
                $(".clsAmount").each(function () {
                    AmountApplicable = parseFloat(AmountApplicable) + parseFloat($(this).val());
                });
                $("#WAD_AmountApplicable").val(AmountApplicable)

                $("#PaymentPart :input").attr("disabled", true);
                $("#PaymentPart1 :input").attr("disabled", true);

                $("#btnApprovSubmit").click(function () {
                    App.blockUI({ boxed: true });

                    $("#PaymentPart :input").attr("disabled", false);
                    $("#PaymentPart1 :input").attr("disabled", false);

                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/Accounting_Payment_Submit');
                    $("#container :input").attr("disabled", false);
                    document.forms["form_sample"].submit()
                    $('#form_sample').submit();
                });
            }
     var URL = DomainName + '/BranchAccounting/GetUser_Detailes?No=' + $(this).val();

                if ($(this).val() != "") {

                    App.blockUI({ boxed: true });
                    $.ajax({
                        url: URL,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {

                            $("#ShowEmpCode").val($("#MarketVehicleCharges_Expence_HDR_EmpCode").val());
                            if (data.IsRecordFound == "1") {
                                $("#MarketVehicleCharges_Expence_HDR_EmpName").val(data.Name);
                                $("#MarketVehicleCharges_Expence_HDR_BankName").val(data.Name_Of_bank);
                                $("#MarketVehicleCharges_Expence_HDR_BankAccNumber").val(data.Bank_AC_Number);
                                $("#MarketVehicleCharges_Expence_HDR_IFSCCode").val(data.IFSC_Code);
                                App.unblockUI();
                            }
                            else {
                                $("#MarketVehicleCharges_Expence_HDR_EmpName").val($("#s2id_MarketVehicleCharges_Expence_HDR_EmpName span").html());
                                $("#MarketVehicleCharges_Expence_HDR_BankName").val("");
                                $("#MarketVehicleCharges_Expence_HDR_BankAccNumber").val("");
                                $("#MarketVehicleCharges_Expence_HDR_IFSCCode").val("");
                                App.unblockUI();
                            }
                        },
                        error: function (req, status, error) {
                            $("#MarketVehicleCharges_Expence_HDR_EmpName").val($("#s2id_MarketVehicleCharges_Expence_HDR_EmpName span").html());
                            $("#MarketVehicleCharges_Expence_HDR_BankName").val("");
                            $("#MarketVehicleCharges_Expence_HDR_BankAccNumber").val("");
                            $("#MarketVehicleCharges_Expence_HDR_IFSCCode").val("");
                            App.unblockUI();
                        }
                    });
                }*@