﻿@model Fleet.ViewModels.ExpensesEntryModule
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models

@{
    ViewBag.Title = "Office Expenses Fixed";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.OperationService CSOPN = new FleetDataService.OperationService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();

    List<webx_acctinfo> ListTDSSection = CSOPN.GetTDSSectionList();
    List<Webx_Master_General> List_Staff = MS.GetGeneralMasterObject().Where(C => C.CodeType == "TYPE_OF_STAFF").ToList();

    string ActionName = ViewBag.ActionName;
    string IS_EMP_BankDetails = ViewBag.IS_EMP_BankDetails;
}

@using (Html.BeginForm(ActionName, "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body" id="PaymentPart">
                        <div class="form-group">
                            @Html.HiddenFor(m => m.Office_Other_Expense_HDR.ExpenceType)
                            @Html.HiddenFor(m => m.Office_Other_Expense_HDR.BillNo)
                            @Html.HiddenFor(m => m.Office_Other_Expense_HDR.MaxLimit)
                            @Html.HiddenFor(m => m.SubType)
                            @Html.HiddenFor(m => m.Type2)
                            @Html.Hidden("IS_EMP_BankDetails", IS_EMP_BankDetails)

                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">NAME OF BRANCH</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Office_Other_Expense_HDR.Branch_Name, new { placeholder = "NAME OF BRANCH", @class = "m-wrap form-control required required2", @readonly = "true" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">TYPE OF STAFF</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Office_Other_Expense_HDR.Type_Of_Staff, new SelectList(List_Staff, "CodeId", "CodeDesc", ""), "", new { @class = "select2 form-control required required2 clsApproval_Rejection" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">NAME OF EMPLOYEE</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Office_Other_Expense_HDR.EmpCode, new { placeholder = "NAME OF EMPLOYEE", @class = "form-control required required2" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">EMPLOYEE CODE</label>
                                    <div class="col-md-8">
                                        @Html.HiddenFor(c => c.Office_Other_Expense_HDR.EmpName)
                                        @Html.TextBox("ShowEmpCode", Model.Office_Other_Expense_HDR.EmpCode, new { placeholder = "EMPLOYEE CODE", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group clsApproval">
                                    <label class="control-label col-md-4">NAME OF BANK</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Office_Other_Expense_HDR.BankName, new { placeholder = "NAME OF BANK", @class = "form-control ", @readonly = "true" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group clsApproval">
                                    <label class="control-label col-md-4">IFSC Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Office_Other_Expense_HDR.IFSCCode, new { placeholder = "IFSC Code", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group clsApproval">
                                    <label class="control-label col-md-4">BANK A/C NUMBER</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Office_Other_Expense_HDR.BankAccNumber, new { placeholder = "BANK A/C NUMBER", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">NUMBER OF STAFF</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Office_Other_Expense_HDR.No_Of_Staff, new { placeholder = "NUMBER OF STAFF", @class = "m-wrap form-control", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">NUMBER OF LABORE</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Office_Other_Expense_HDR.No_of_Labore, new { placeholder = "NUMBER OF LABORE", @class = "m-wrap form-control required required2", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">NUMBER OF DRIVERS</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Office_Other_Expense_HDR.No_of_Drivers, new { placeholder = "NUMBER OF DRIVERS", @class = "m-wrap form-control required required2", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">NAME OF PAYEE</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Office_Other_Expense_HDR.NameOFPayee, new { placeholder = "NAME OF PAYEE", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.PaymentTitle
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body ">
                        <div id="PaymentPart1">
                            <table id="sample_ven" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="white-space: pre-line">EXPENSES TYPE</th>
                                        <th style="white-space: pre-line">GENERAL LEDGER CODE</th>
                                        <th style="white-space: pre-line">FOR THE PERIOD</th>
                                        <th style="white-space: pre-line">FROM</th>
                                        <th style="white-space: pre-line">TO</th>
                                        <th style="white-space: pre-line">AMOUNT</th>
                                        <th style="white-space: pre-line">PARTICULAR</th>
                                        <th style="white-space: pre-line">UPLOAD FILE</th>
                                        @if (Model.SubType == 2 || Model.SubType == 3)
                                        {
                                            <th style="white-space: pre-line">AMOUNT PASSED</th>
                                            <th style="white-space: pre-line">AMOUNT REJECTED</th>
                                            <th style="white-space: pre-line">REASON FOR REJECTED</th>
                                        }
                                        @if (Model.SubType == 1)
                                        {
                                            <th>DELETE</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody id="Voucher">
                                    @foreach (var item in Model.List_Office_Other_Expense_DET)
                                    {
                                        Html.RenderPartial("_Office_Expenses_Other_Partial", item);
                                    }
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th colspan="5"></th>
                                        <th style="text-align:right;" class="center form-group  ">
                                            @Html.TextBox("Total_Amount_Tot", "", new { @class = "form-control required required2", @readonly = "true", @min = "1", @number = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @placeholder = "Total Amount" })
                                        </th>
                                        @if (Model.SubType == 2 || Model.SubType == 3)
                                        {
                                            <th colspan="2"></th>
                                            <th class="center form-group  ">
                                                @Html.TextBox("Amount_Passed_Tot", "", new { @class = "form-control required required2", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @placeholder = "AMOUNT PASSED" })
                                            </th>
                                            <th class="center form-group  ">
                                                @Html.TextBox("Amount_Rejected_Tot", "", new { @class = "form-control required required2", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @placeholder = "AMOUNT REJECTED" })
                                            </th>
                                            <th colspan="2"></th>
                                        }
                                        @if (Model.SubType == 1)
                                        {
                                            <th></th>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="PaymentControl">
                            @if (Model.SubType == 3)
                            {
                                @*@Html.Partial("_BranchAccounting_PaymentPart", Model);

                                    <hr />*@
                                <div class="form-group">
                                    @foreach (var itms in Model.WADListing)
                                    {
                                        itms.Vouchertype = "BranchAccountingType";
                                        @*@Html.Partial("../Voucher/_PaymentModePartial", itms)*@
                                        @Html.Partial("../Voucher/_PaymentModePartiaBranchAccounting", itms)

                                    }
                                </div>
                            }
                        </div>

                        <div class="form-actions fluid" id="SubmitBtn">
                            @{
                                @Html.Partial("_BranchAcct_SubmitPartial", Model)
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/BranchAccounting/BranchAccounting.js?ver<%=DateTime.Now.Ticks.ToString()%>" type="text/javascript"></script>

<script type="text/javascript">

    function GetMonthName(monthNumber) {
        var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        return months[monthNumber - 1];
    }

    var FormComponents = function (DomainName) {

        var select2Date = function (DomainName) {

            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });

            //if (jQuery().datepicker) {
            //    $('.date-picker').datepicker({
            //        rtl: App.isRTL(),
            //        format: "dd M yyyy",
            //        autoclose: true,
            //        //startDate: new Date(),
            //        //endDate: new Date(),
            //    });
            //    $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            //}
        }

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //document.form["form_sample"].submit();
                }
            });
        }

        //var DatePicker = function (DomainName, ID, Month) {
        //    //alert(ID);
        //    if (Month == "Dec") {
        //        $('#' + ID).datepicker({
        //            rtl: App.isRTL(),
        //            format: "dd M yyyy",
        //            autoclose: true,
        //            starDate: new Date("1 " + Month + " 2017"),
        //            endDate: new Date("31 " + Month + " 2017"),
        //        });
        //    }
        //    else {
        //        $('#' + ID).datepicker({
        //            rtl: App.isRTL(),
        //            format: "dd M yyyy",
        //            autoclose: true,
        //            starDate: new Date("1 " + Month + " 2018"),
        //            endDate: new Date("31 " + Month + " 2018"),
        //        });
        //    }
        //    //$('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
        //}


        var DatePicker = function (DomainName, ID, Month) {
            //alert(ID);
            if (Month == "Dec") {
                $('#' + ID).datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    starDate: new Date("1 " + Month + " " + ' @ViewBag.CurrFinYear'.split("-")[0].toString()),
                    endDate: new Date("31 " + Month + " " + ' @ViewBag.CurrFinYear'.split("-")[0].toString()),
                });
            }
            else {
                $('#' + ID).datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    starDate: new Date("1 " + Month + " " + ' @ViewBag.CurrFinYear'.split("-")[0].toString()),
                    endDate: new Date("31 " + Month + " " + ' @ViewBag.CurrFinYear'.split("-")[0].toString()),
                });
            }
            //$('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
        }

        var Submit_Approval_Rejection = function (DomainName) {


            $("#btnApprovSubmit").click(function () {

                $("#PaymentPart :input").attr("disabled", false);
                $("#PaymentPart1 :input").attr("disabled", false);

                Formvalidate(DomainName);

                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $("#PaymentPart :input").attr("disabled", false);
                    $("#PaymentPart1 :input").attr("disabled", false);

                    //$('#form_sample').attr('action', DomainName + '/BranchAccounting/Accounting_Payment_Submit');
                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/Accounting_Payment_Submit_New_Process');
                    $("#container :input").attr("disabled", false);
                    document.forms['form_sample'].submit()
                    $('#' + FormID + '').submit();
                }
                else {
                    $("#PaymentPart :input").attr("disabled", true);
                    $("#PaymentPart1 :input").attr("disabled", true);
                }
            });



            $("#btnSubmit").click(function () {

                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false);
                    $("#PaymentPart :input").attr("disabled", false);

                    document.forms["form_sample"].submit()
                }
                else {
                    return false
                }
            });

            $('#btnRejectAtHO').click(function () {

                //$(".clsAmount_Passed").each(function () {
                //    var Id = $(this).attr("id").replace("Amount_Passed", "");
                //    $("#" + Id + "Reason_For_Rejection").addClass("required required2")
                //    $("#" + Id + "Amount_Passed").attr("min", "0")
                //    $("#" + Id + "Amount_Rejected").attr("min", "1")
                //})

                //$("#Amount_Rejected_Tot").attr("min", "1")


                Formvalidate(DomainName);
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false);
                    $("#PaymentPart :input").attr("disabled", false);

                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/OfficeExpence_Other_Reject');
                    document.forms["form_sample"].submit()
                }
            });

            $('#btnAuthorizeAtHo').click(function () {

                //$(".clsAmount_Passed").each(function () {
                //    var Id = $(this).attr("id").replace("Amount_Passed", "");
                //    $("#" + Id + "Reason_For_Rejection").removeClass("required required2")
                //    $("#" + Id + "Amount_Passed").attr("min", "1")
                //    $("#" + Id + "Amount_Rejected").attr("min", "0")
                //})
                $("#Amount_Passed_Tot").attr("min", "1")

                Formvalidate(DomainName);
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false);
                    $("#PaymentPart :input").attr("disabled", false);

                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/Officer_OtherExpenses_Approval');
                    document.forms["form_sample"].submit();
                }
            });

        };

        var calTotAmount = function (DomainName) {
            var totAmount = 0;
            var totPassedAmount = 0;
            var totRejectedAmount = 0;


            var Amount_Passed = 0;
            $(".clsAmount").each(function () {
                totAmount = parseFloat(totAmount) + parseFloat($(this).val());
            });
            $("#Total_Amount_Tot").val(totAmount);

            $(".clsOthrExpence_PassedAmount").each(function () {
                totPassedAmount = parseFloat(totPassedAmount) + parseFloat($(this).val());
            });
            $("#Amount_Passed_Tot").val(totPassedAmount);

            $(".clsAmount_Rejected").each(function () {
                totRejectedAmount = parseFloat(totRejectedAmount) + parseFloat($(this).val());
            });
            $("#Amount_Rejected_Tot").val(totRejectedAmount);

        }

        var otherchargesMaxLimit = function (DomainName, Id) {
            var EmpCode = $("#Office_Fixed_Expense_HDR_EmpCode").val();
            var BaseLocationCode = '@ViewBag.BaselocationCode';
            var Month = $("#CPEEDET_1__For_the_Period").val();
            App.blockUI({ boxed: true });
            var strUrl = "@Url.Action("GetData", "Account")";
            var parameters = {};
            parameters['Brcd'] = '@ViewBag.BaselocationCode';
            parameters['UserName'] = '@ViewBag.BaseUserName';
            parameters['ForMonth'] = $("#CPEEDET_" + Id + "__For_the_Period").val();
            parameters['ledgerCode'] = $("#CPEEDET_" + Id + "__LegderCode").val();

            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: "json",
                data: {
                    Method: 'Get_Other_Charges_Master_MaxLimit',
                    parameters: parameters
                },
                success: function (result) {
                    console.log(JSON.stringify(result[0].MaxLimit))
                    $("#Office_Other_Expense_HDR_MaxLimit").val(result[0].MaxLimit);

                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue while update candidate status... Please try again later..', "Oppps..!!");
                    App.unblockUI('#responsive');
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Submit_Approval_Rejection(DomainName);

                $.validator.addMethod('filesize', function (value, element) {
                    // param = size (in bytes)
                    // element = element to validate (<input>)
                    // value = value of the element (file name)

                    $(".clsFileCheck").each(function () {
                        var Id = $(this).attr("id").replace("divfileupload", "");
                        console.log(Id);
                        return (element.files[Id].size <= 30000)
                    })
                }, "File exceeds maximum upload size.");

                $(".ClsAmtValidation").live("change", function () {

                    var ID = $(this).attr("Id").replace("CPEEDET_", "").replace("__Amount", "");

                    var MaxLimite = $("#Office_Other_Expense_HDR_MaxLimit").val();

                    var CurrAMT = $("#CPEEDET_" + ID + "__Amount").val();

                    jQuery.validator.addMethod("ClsAmtValidation", function (value, element) {

                        if (parseFloat(CurrAMT) > parseFloat(MaxLimite)) {

                            return false;
                        }
                        else {
                            return true;
                        }

                    }, jQuery.validator.format("Cannot be greater than Limit " + MaxLimite + ""));

                })


                calTotAmount(DomainName)
                $(".clsAmount").live("change", function () {
                    calTotAmount(DomainName)
                })
                $(".clsAmount_Rejected").live("change", function () {
                    calTotAmount(DomainName)
                })

                $("#Office_Other_Expense_HDR_Type_Of_Staff").change(function () {
                    var val = $("#Office_Other_Expense_HDR_Type_Of_Staff").val();
                    if (val == "1" || val == "3") {
                        Get_Driver_BranchWise("Office_Other_Expense_HDR_EmpCode", "3")
                    }
                    else if (val == "2") {
                        Get_Driver_BranchWise("Office_Other_Expense_HDR_EmpCode", "1")
                    }
                    else if (val == "4") {
                        Get_Driver_BranchWise("Office_Other_Expense_HDR_EmpCode", "2")
                    }
                    EmpCode_Change(DomainName, "", "Office_Other_Expense_HDR_", 0, 0, 0, 0);
                });

                $("#Office_Other_Expense_HDR_EmpCode").change(function () {

                    var val = $("#Office_Other_Expense_HDR_Type_Of_Staff").val();

                    if (val != '') {

                        if (val == "1" || val == "3") {
                            EmpCode_Change(DomainName, $(this).val(), "Office_Other_Expense_HDR_", 1, 0, 0, 0);
                        }
                        else if (val == "2" || val == "4") {
                            EmpCode_Change(DomainName, $(this).val(), "Office_Other_Expense_HDR_", 0, 1, 0, 0);
                        }
                    }
                });

                $(".clsFixed_Amount_Passed").change(function () {
                    var ID = $(this).attr("Id").replace("CPEEDET_", "").replace("__Amount_Passed", "");
                    var Totl = $("#CPEEDET_" + ID + "__Amount").val();
                    var PassedAmt = $("#CPEEDET_" + ID + "__Amount_Passed").val();
                    var Reject = parseInt(Totl) - parseInt(PassedAmt);
                    $("#CPEEDET_" + ID + "__Amount_Rejected").val(Reject);
                    calTotAmount(DomainName)
                });

                var Prefix = "PAYMENTMODE_1__";
                Formvalidate(DomainName);

                //GetVehicleEmployeeUserName_BranchWise("Office_Other_Expense_HDR_EmpCode", "U")

                if ($("#Office_Other_Expense_HDR_EmpCode").val() != '' || $("#Office_Other_Expense_HDR_EmpCode").val() != null) {
                    $("#Office_Other_Expense_HDR_EmpCode").select2("data", { id: $("#Office_Other_Expense_HDR_EmpCode").val(), text: $("#Office_Other_Expense_HDR_EmpName").val() });
                    $("#ShowEmpCode").val($("#Office_Other_Expense_HDR_EmpCode").val());
                }
                StrURL = DomainName + "/Operation/GetDestinationLocations";
                JsonDDLSelectCode("Office_Other_Expense_HDR_Branch_Name", StrURL);

                select2Date(DomainName);
                $("#PaymentControl").hide();
                $("#ApprovSubmit").hide();

                /* Acouting Calculation */
                IsServicetaxCalculated(DomainName, Prefix)
                OnLoadFunction(DomainName, Prefix)

                $("#WAD_IsServicetaxapply").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })
                $("#WAD_IsTDStaxapply").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })
                $("#WAD_TDSRate").focusout(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })

                @foreach (var item in Model.List_Office_Other_Expense_DET)
                {
                    var CheckBox = "CPEEDET_" + @item.ID + "__CheckBox";
                    var For_the_Period = "CPEEDET_" + @item.ID + "__For_the_Period";
                    var FromDate = "CPEEDET_" + @item.ID + "__FromDate";
                    var ToDate = "CPEEDET_" + @item.ID + "__ToDate";
                    var FromID = "CPEEDET_" + @item.ID + "__FromID";
                    var ToID = "CPEEDET_" + @item.ID + "__ToID";
                    var ExpenseTypeID = "CPEEDET_" + @item.ID + "__ExpenseType";
                    var BRCDID = "CPEEDET_" + @item.ID + "__Brcd";

                     <text>

                var MonthNameID = "CPEEDET_" + @item.ID + "__MonthID";
                var MonthNameName = "CPEEDET_" + @item.ID + "__MonthName";

                $("#@CheckBox").attr("value", "false");

                $('#@For_the_Period').change(function () {

                    var monthName = GetMonthName($(this).val());
                    if (monthName != undefined) {
                        MonthNameName = monthName.substring(0, 3);
                        MonthNameID = $(this).val();
                    }
                    var id = 0;
                    if ($("#SubType").val() == "2") {
                        id = "@item.ID";
                    }

                    var URL = DomainName + '/BranchAccounting/Is_Office_Exepance_Available?Type=1&Month=' + MonthNameID + '&ExpenseType=' + $("#@ExpenseTypeID").val() + '&BRCD=' + $("#@BRCDID").val() + '&id=' + id;
                    //alert(URL);

                    if ($(this).val() != "") {

                        App.blockUI({ boxed: true });
                        $.ajax({
                            url: URL,
                            cache: false,
                            data: {},
                            type: 'POST',
                            success: function (data) {

                                if (data.IsRecordFound == "1") {

                                    $("#@For_the_Period").val("");
                                    $('#@FromDate').val("");
                                    $('#@ToDate').val("");
                                    $("#@For_the_Period").select2().find(":selected").data("");
                                    alert("Please Select Proper Months.")
                                    App.unblockUI();
                                }
                                else if (data.IsRecordFound == "0") {
                                    App.unblockUI();

                                    @*if (MonthNameName == "Dec") {
                                        $('#@FromDate').val("1 " + MonthNameName + " 2017");
                                        $('#@ToDate').val("");
                                    }
                                    else {
                                        $('#@FromDate').val("1 " + MonthNameName + " 2018");
                                        $('#@ToDate').val("");
                                    }*@

                                    if (MonthNameName == "Dec") {
                                        $('#@FromDate').val("1 " + MonthNameName + " " + ' @ViewBag.CurrFinYear'.split("-")[0].toString());
                                        $('#@ToDate').val("");
                                    }
                                    else {
                                        $('#@FromDate').val("1 " + MonthNameName + " " + ' @ViewBag.CurrFinYear'.split("-")[0].toString());
                                        $('#@ToDate').val("");
                                    }


                                    DatePicker(DomainName, "@ToDate", MonthNameName)
                                    DatePicker(DomainName, "@FromDate", MonthNameName)

                                    $('#@FromDate').change(function () {

                                        var FromDate = $(this).val();
                                        var From_Date_Split = $(this).val().split(" ");
                                        var FromMonth = From_Date_Split[1];

                                        //if (MonthNameName == "Dec") {
                                        //    var CreateFromDate = "1 " + MonthNameID + " 2017";
                                        //}
                                        //else {
                                        //    var CreateFromDate = "1 " + MonthNameID + " 2018";
                                        //}


                                        if (MonthNameName == "Dec") {
                                            var CreateFromDate = "1 " + MonthNameID + " " + ' @ViewBag.CurrFinYear'.split("-")[0].toString();
                                        }
                                        else {
                                            var CreateFromDate = "1 " + MonthNameID + " " + ' @ViewBag.CurrFinYear'.split("-")[0].toString();
                                        }


                                        if (FromMonth != MonthNameName) {
                                            $(this).val("");
                                            $("#@FromID").html("Please Select Valid Month");
                                        }
                                        else {
                                            $("#@FromID").html();
                                        }
                                    });

                                    $('#@ToDate').change(function () {

                                        var ToDate = $(this).val();
                                        var To_Date_Split = $(this).val().split(" ");
                                        var ToMonth = To_Date_Split[1];

                                        //if (MonthNameName == "Dec") {
                                        //    var CreateFromDate = "1 " + MonthNameID + " 2017";
                                        //}
                                        //else {
                                        //    var CreateFromDate = "1 " + MonthNameID + " 2018";
                                        //}


                                        if (MonthNameName == "Dec") {
                                            var CreateFromDate = "1 " + MonthNameID + " " + ' @ViewBag.CurrFinYear'.split("-")[0].toString();
                                        }
                                        else {
                                            var CreateFromDate = "1 " + MonthNameID + " " + ' @ViewBag.CurrFinYear'.split("-")[0].toString();
                                        }

                                        if (ToMonth != MonthNameName) {
                                            $(this).val("");
                                            $("#@ToID").html("Please Select Valid Month");
                                        }
                                        else {
                                            $("#@ToID").html('');
                                        }
                                    });
                                }
                            },
                            error: function (req, status, error) {
                                //App.unblockUI();
                            }
                        });
                    }
                });


                if ($('#@FromDate').val() == "01 Jan 0001" || $('#@FromDate').val() == "01 Jan 1990" || $("#SubType").val() == "1") {
                    $('#@FromDate').val("");
                }
                if ($('#@ToDate').val() == "01 Jan 0001" || $('#@FromDate').val() == "01 Jan 1990" || $("#SubType").val() == "1") {
                    $('#@ToDate').val("");
                }

                </text>
                }

                BR_Request_Common_Function(DomainName, "Office_Other_Expense_HDR_", "Office_Other_Expense_DET_", "form_sample");

                $(".For_the_Period").live("change", function () {
                    var Id = $(this).attr("id").replace("CPEEDET_", "").replace("__For_the_Period", "");
                    otherchargesMaxLimit(DomainName, Id)
                });
            }
        }
    }();
</script>
