﻿@model Fleet.ViewModels.ExpensesEntryModule
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models

@{
    ViewBag.Title = "Office Expenses Fixed";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.OperationService CSOPN = new FleetDataService.OperationService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();

    List<webx_acctinfo> ListTDSSection = CSOPN.GetTDSSectionList();
    List<Webx_Master_General> List_Staff = MS.GetGeneralMasterObject().Where(C => C.CodeType == "TYPE_OF_STAFF").ToList();

    string ActionName = ViewBag.ActionName;
    string IS_EMP_BankDetails = ViewBag.IS_EMP_BankDetails;
}

@using (Html.BeginForm(ActionName, "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body" id="PaymentPart">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Name Of Branch</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.Office_Fixed_Expense_HDR.Branch_Name, new { placeholder = "Name Of Branch", @class = "m-wrap form-control required required2", @readonly = "true" })
                                        @Html.HiddenFor(m => m.Office_Fixed_Expense_HDR.ExpenceType)
                                        @Html.HiddenFor(m => m.Office_Fixed_Expense_HDR.BillNo)
                                        @Html.HiddenFor(m => m.Office_Fixed_Expense_HDR.BillNoLimit)
                                        @Html.HiddenFor(m => m.Office_Fixed_Expense_HDR.MappedLimit)
                                        @Html.HiddenFor(m => m.Office_Fixed_Expense_HDR.MaxLimit)
                                        @Html.HiddenFor(m => m.SubType)
                                        @Html.HiddenFor(m => m.Type2)
                                        @Html.Hidden("IS_EMP_BankDetails", IS_EMP_BankDetails)
                                        @*@Html.HiddenFor(m => m.Office_Fixed_Expense_HDR.BranchWiseTeaLimit)
                        @Html.HiddenFor(m => m.Office_Fixed_Expense_HDR.pendingBranchWiseTeaLimit)*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Type Of Staff</label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(m => m.Office_Fixed_Expense_HDR.Type_Of_Staff, new SelectList(List_Staff, "CodeId", "CodeDesc", ""), "", new { @class = "select2 form-control required required2 clsApproval_Rejection" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Name Of Employee</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.Office_Fixed_Expense_HDR.EmpCode, new { placeholder = "Name Of Employee", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Employee Code</label>
                                    <div class="col-md-7">
                                        @Html.HiddenFor(c => c.Office_Fixed_Expense_HDR.EmpName)
                                        @Html.TextBox("ShowEmpCode", Model.Office_Fixed_Expense_HDR.EmpCode, new { placeholder = "Employee Code", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Name of Payee</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.Office_Fixed_Expense_HDR.NameOFPayee, new { placeholder = "Name of Payee", @class = "form-control required2" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Number Of Staff</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.Office_Fixed_Expense_HDR.No_Of_Staff, new { placeholder = "Number Of Staff", @class = "m-wrap form-control required2", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Number Of Labore</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.Office_Fixed_Expense_HDR.No_of_Labore, new { placeholder = "Number Of Labore", @class = "m-wrap form-control required required2", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Number Of Drivers</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.Office_Fixed_Expense_HDR.No_of_Drivers, new { placeholder = "Number Of Drivers", @class = "m-wrap form-control required required2", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))", @readonly = true })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">UserWise Tea Limit</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.Office_Fixed_Expense_HDR.UserWiseTeaLimit, new { placeholder = "UserWise Tea Limit", @class = "form-control required2", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">UserWise Total Enter Amount</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.Office_Fixed_Expense_HDR.PendingUserWiseTeaLimit, new { placeholder = "UserWise Tea Limit", @class = "form-control required2", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">BranchWise Tea Limit</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.Office_Fixed_Expense_HDR.BranchWiseTeaLimit, new { placeholder = "BranchWise Tea Limit", @class = "form-control required2", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">BranchWise Total Enter Amount</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.Office_Fixed_Expense_HDR.pendingBranchWiseTeaLimit, new { placeholder = "BranchWise Tea Limit", @class = "form-control required2", @readonly = true })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 clsApproval">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Name of Bank</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.Office_Fixed_Expense_HDR.BankName, new { placeholder = "Name of Bank", @class = "form-control required2", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 clsApproval">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Ifsc Code</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.Office_Fixed_Expense_HDR.IFSCCode, new { placeholder = "Ifsc Code", @class = "form-control required2", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 clsApproval">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Bank a/c Number</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.Office_Fixed_Expense_HDR.BankAccNumber, new { placeholder = "Bank a/c Number", @class = "form-control required2", @readonly = "true" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.PaymentTitle
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body ">
                        <div id="PaymentPart1">
                            <table id="sample_ven" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="white-space: pre-line">Expance Type</th>
                                        <th style="white-space: pre-line">General Ledger code</th>
                                        <th style="white-space: pre-line">For the Period</th>
                                        <th style="white-space: pre-line">From</th>
                                        <th style="white-space: pre-line">To</th>
                                        <th style="white-space: pre-line">Amount</th>
                                        <th style="white-space: pre-line">Particular</th>
                                        <th style="white-space: pre-line">Upload File</th>
                                        @if (Model.SubType == 2 || Model.SubType == 3)
                                        {
                                            <th style="white-space: pre-line">Amount Passed</th>
                                            <th style="white-space: pre-line">Amount Rejected</th>
                                            <th style="white-space: pre-line">Reason For Rejected</th>
                                        }
                                        @if (Model.SubType == 1)
                                        {
                                            <th>Delete</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody id="Voucher">
                                    @foreach (var item in Model.List_Office_Fixed_Expense_DET)
                                    {
                                        Html.RenderPartial("_Office_Expenses_Fixed_Partial", item);
                                    }
                                </tbody>

                            </table>
                        </div>

                        <div id="PaymentControl">
                            @if (Model.SubType == 3)
                            {
                                @*
                                    @Html.Partial("_BranchAccounting_PaymentPart", Model);

                                    <hr />*@
                                <div class="form-group">
                                    @foreach (var itms in Model.WADListing)
                                    {
                                        itms.Vouchertype = "BranchAccountingType";
                                        @*@Html.Partial("../Voucher/_PaymentModePartial", itms)*@
                                        @Html.Partial("../Voucher/_PaymentModePartiaBranchAccounting", itms)
                                    }
                                </div>
                            }
                        </div>

                        <div class="form-actions fluid" id="SubmitBtn">
                            @{
                                @Html.Partial("_BranchAcct_SubmitPartial", Model)
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/BranchAccounting/BranchAccounting.js?ver<%=DateTime.Now.Ticks.ToString()%>" type="text/javascript"></script>

<script type="text/javascript">

    function GetMonthName(monthNumber) {
        var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        return months[monthNumber - 1];
    }

    var FormComponents = function (DomainName) {

        var select2Date = function (DomainName) {

            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });

            //if (jQuery().datepicker) {
            //    $('.date-picker').datepicker({
            //        rtl: App.isRTL(),
            //        format: "dd M yyyy",
            //        autoclose: true,
            //        //startDate: new Date(),
            //        //endDate: new Date(),
            //    });
            //    $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            //}
        }

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    'For_the_Period': {
                        checkDKTSTAXEditAvailability: true,
                    },
                },

                messages: {
                    'For_the_Period': {
                        checkDKTSTAXEditAvailability: function () {
                            return $("#For_the_Period").val()
                        }
                    },
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //document.form["form_sample"].submit();
                }
            });
        }

        //var DatePicker = function (DomainName, ID, Month) {
        //    //alert(ID);
        //    if (Month == "Dec") {
        //        $('#' + ID).datepicker({
        //            rtl: App.isRTL(),
        //            format: "dd M yyyy",
        //            autoclose: true,
        //            starDate: new Date("1 " + Month + " 2017"),
        //            endDate: new Date("31 " + Month + " 2017"),
        //        });
        //    }
        //    else {
        //        $('#' + ID).datepicker({
        //            rtl: App.isRTL(),
        //            format: "dd M yyyy",
        //            autoclose: true,
        //            starDate: new Date("1 " + Month + " 2018"),
        //            endDate: new Date("31 " + Month + " 2018"),
        //        });
        //    }
        //    //$('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
        //}


        var DatePicker = function (DomainName, ID, Month) {
            //alert(ID);
            if (Month == "Dec") {
                $('#' + ID).datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    starDate: new Date("1 " + Month + " " + ' @ViewBag.CurrFinYear'.split("-")[0].toString()),
                    endDate: new Date("31 " + Month + " " + ' @ViewBag.CurrFinYear'.split("-")[0].toString()),
                });
            }
            else {
                $('#' + ID).datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    starDate: new Date("1 " + Month + " " + ' @ViewBag.CurrFinYear'.split("-")[0].toString()),
                    endDate: new Date("31 " + Month + " " + ' @ViewBag.CurrFinYear'.split("-")[0].toString()),
                });
            }
            //$('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
        }






        var Submit_Approval_Rejection = function (DomainName) {

            $("#btnApprovSubmit").click(function () {

                $("#PaymentPart :input").attr("disabled", false);
                $("#PaymentPart1 :input").attr("disabled", false);

                Formvalidate(DomainName);

                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $("#PaymentPart :input").attr("disabled", false);
                    $("#PaymentPart1 :input").attr("disabled", false);

                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/Accounting_Payment_Submit');
                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/Accounting_Payment_Submit_New_Process');
                    $("#container :input").attr("disabled", false);
                    document.forms['form_sample'].submit()
                    $('#' + FormID + '').submit();
                }
                else {
                    $("#PaymentPart :input").attr("disabled", true);
                    $("#PaymentPart1 :input").attr("disabled", true);
                }
            });


            $("#btnSubmit").click(function () {

                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false);
                    $("#PaymentPart :input").attr("disabled", false);

                    document.forms["form_sample"].submit()
                }
                else {
                    return false
                }
            });

            $('#btnRejectAtHO').click(function () {

                //$(".clsAmount_Passed").each(function () {
                //    var Id = $(this).attr("id").replace("Amount_Passed", "");
                //    $("#" + Id + "Reason_For_Rejection").addClass("required required2")
                //    $("#" + Id + "Amount_Passed").attr("min", "0")
                //    $("#" + Id + "Amount_Rejected").attr("min", "1")
                //})
                //$("#Amount_Rejected_Tot").attr("min", "1")
                Formvalidate(DomainName);
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false);
                    $("#PaymentPart :input").attr("disabled", false);

                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/OfficeExpence_Fixed_Reject');
                    document.forms["form_sample"].submit()
                }
            });

            $('#btnAuthorizeAtHo').click(function () {

                //$(".clsAmount_Passed").each(function () {
                //    var Id = $(this).attr("id").replace("Amount_Passed", "");
                //    $("#" + Id + "Reason_For_Rejection").removeClass("required required2")
                //    $("#" + Id + "Amount_Passed").attr("min", "1")
                //    $("#" + Id + "Amount_Rejected").attr("min", "0")
                //})

                $("#Amount_Passed_Tot").attr("min", "1")

                Formvalidate(DomainName);
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false);
                    $("#PaymentPart :input").attr("disabled", false);

                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/Officer_FixedExpenses_Approval');
                    document.forms["form_sample"].submit();
                }
            });

        };

        var GetConveyanceMaxLimit = function (DomainName) {

            var BaseLocationCode = '@ViewBag.BaselocationCode';
            var Month = $("#CPEEDET_1__For_the_Period").val();
            var EmpCode = $("#Office_Fixed_Expense_HDR_EmpCode").val();
            App.blockUI({ boxed: true });

            var strUrl = "@Url.Action("GetData", "Account")";
            var parameters = {};
            parameters['EmpCode'] = EmpCode;
            parameters['BaseLocationCode'] = BaseLocationCode;
            parameters['Month'] = Month;

            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: "json",
                data: {
                    Method: 'Check_Tea_Expense_Details',
                    parameters: parameters
                },
                success: function (result) {
                    $("#Office_Fixed_Expense_HDR_MaxLimit").val(result[0].AMT);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue while update candidate status... Please try again later..', "Oppps..!!");
                    App.unblockUI('#responsive');
                }
            });
        }

        var GetteaMaxLimit = function (DomainName) {
            var EmpCode = $("#Office_Fixed_Expense_HDR_EmpCode").val();
            var BaseLocationCode = '@ViewBag.BaselocationCode';
            var Month = $("#CPEEDET_1__For_the_Period").val();
            App.blockUI({ boxed: true });
            var strUrl = "@Url.Action("GetData", "Account")";
            var parameters = {};
            parameters['EmpCode'] = EmpCode;
            parameters['BaseLocationCode'] = BaseLocationCode;
            parameters['Month'] = Month;

            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: "json",
                data: {
                    Method: 'Check_Tea_Expense_Details',
                    parameters: parameters
                },
                success: function (result) {
                    $("#Office_Fixed_Expense_HDR_BranchWiseTeaLimit").val(result[0].BranchWiseTeaLimit);
                    $("#Office_Fixed_Expense_HDR_pendingBranchWiseTeaLimit").val(result[0].pendingBranchWiseTeaLimit);
                    $("#Office_Fixed_Expense_HDR_UserWiseTeaLimit").val(result[0].UserWiseTeaLimit);
                    $("#Office_Fixed_Expense_HDR_PendingUserWiseTeaLimit").val(result[0].PendingUserWiseTeaLimit);
                    $("#Office_Fixed_Expense_HDR_BillNoLimit").val(result[0].BillNoLimit);
                    $("#Office_Fixed_Expense_HDR_MappedLimit").val(result[0].MappedLimit);

                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue while update candidate status... Please try again later..', "Oppps..!!");
                    App.unblockUI('#responsive');
                }
            });
        }

        var GetExpenseTypeMaxLimit = function (DomainName, ID) {

            var EmpCode = $("#Office_Fixed_Expense_HDR_EmpCode").val();
            var BaseLocationCode = '@ViewBag.BaselocationCode';
            var Month = $("#CPEEDET_" + ID + "__For_the_Period").val();
            var ExpenseType = $("#CPEEDET_" + ID + "__ExpenseType").val();

            App.blockUI({ boxed: true });

            var strUrl = "@Url.Action("GetData", "Account")";
            var parameters = {};
            parameters['EmpCode'] = EmpCode;
            parameters['BaseLocationCode'] = BaseLocationCode;
            parameters['Month'] = Month;
            parameters['ExpenseType'] = ExpenseType;

            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: "json",
                data: {
                    Method: 'Check_Office_Fixed_Expense_Validation',
                    parameters: parameters
                },
                success: function (result) {

                    $("#Office_Fixed_Expense_HDR_MaxLimit").val(result[0].MaxLimit);
                    console.log(JSON.stringify(result[0].MaxLimit));

                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue while update candidate status... Please try again later..', "Oppps..!!");
                    App.unblockUI('#responsive');
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                if ("@Model.SubType" == 1) {
                    GetteaMaxLimit(DomainName)
                }
                Submit_Approval_Rejection(DomainName);

                $("#CPEEDET_1__For_the_Period").live("change", function () {
                    GetteaMaxLimit(DomainName)
                })

                $(".For_the_Period").live("change", function () {

                    var ID = $(this).attr("Id").replace("CPEEDET_", "").replace("__For_the_Period", "");

                    if (ID != "1") {
                        GetExpenseTypeMaxLimit(DomainName, ID)
                    }

                })

                $(".ClsAmtValidation").live("change", function () {

                    var ID = $(this).attr("Id").replace("CPEEDET_", "").replace("__Amount", "");

                    var MaxLimite = $("#Office_Fixed_Expense_HDR_MaxLimit").val();

                    var CurrAMT = $("#CPEEDET_" + ID + "__Amount").val();

                    if (ID != "1")
                    {
                        jQuery.validator.addMethod("ClsAmtValidation", function (value, element) {

                            if (parseFloat(CurrAMT) > parseFloat(MaxLimite)) {

                                return false;
                            }
                            else {
                                return true;
                            }

                        }, jQuery.validator.format("Cannot be greater than Limit " + MaxLimite + ""));
                    }

                    //console.log("MaxLimite" + MaxLimite.toString())
                    //console.log(CurrAMT)

                })



                $("#CPEEDET_1__Amount").live("change", function () {

                    //if ($(this).val() > $("#Office_Fixed_Expense_HDR_MaxLimit").val()) {
                    //    if ($("#Office_Fixed_Expense_HDR_MaxLimit").val() == 0 && $("#Office_Fixed_Expense_HDR_MaxLimit").val() != 1) {
                    //        alert("Alredy You tea Expnese Enter " + $("#Office_Fixed_Expense_HDR_MaxLimit").val() + " Cannot be greater than Limit " + Userlimit + "");
                    //        $(this).val("");
                    //    }
                    //    else if ($("#Office_Fixed_Expense_HDR_MaxLimit").val() == 1) {

                    //    }
                    //    else {
                    //        alert("Cannot be greater than Limit " + Userlimit + "");
                    //        $(this).val("");
                    //    }

                    //}
                })

                $("#CPEEDET_1__Amount").live("change", function () {

                    if ($("#Office_Fixed_Expense_HDR_MappedLimit").val() == "Cumulative") {
                        var Limit = ($("#Office_Fixed_Expense_HDR_BranchWiseTeaLimit").val() - $("#Office_Fixed_Expense_HDR_pendingBranchWiseTeaLimit").val());

                        if ($("#CPEEDET_1__Amount").val() > Limit) {
                            alert("Cannot be greater than Limit " + Limit + " And last generated BillNo " + $("#Office_Fixed_Expense_HDR_BillNoLimit").val() + "");
                            //$("#CPEEDET_1__Amount").attr("max", Limit)
                            $(this).val("");
                        }
                    }
                    else if ($("#Office_Fixed_Expense_HDR_MappedLimit").val() == "Individual") {
                        var Limit = ($("#Office_Fixed_Expense_HDR_UserWiseTeaLimit").val() - $("#Office_Fixed_Expense_HDR_PendingUserWiseTeaLimit").val());

                        if ($("#CPEEDET_1__Amount").val() > Limit) {
                            alert("Cannot be greater than Limit " + Limit + " And last generated BillNo " + $("#Office_Fixed_Expense_HDR_BillNoLimit").val() + "");
                            //$("#CPEEDET_1__Amount").attr("max", Limit)
                            $(this).val("");
                        }
                    }

                })

                $("#Office_Fixed_Expense_HDR_Type_Of_Staff").change(function () {
                    var val = $("#Office_Fixed_Expense_HDR_Type_Of_Staff").val();
                    if (val == "1" || val == "3") {
                        Get_Driver_BranchWise("Office_Fixed_Expense_HDR_EmpCode", "3")
                    }
                    else if (val == "2") {
                        Get_Driver_BranchWise("Office_Fixed_Expense_HDR_EmpCode", "1")
                    }
                    else if (val == "4") {
                        Get_Driver_BranchWise("Office_Fixed_Expense_HDR_EmpCode", "2")
                    }
                    EmpCode_Change(DomainName, "", "Office_Fixed_Expense_HDR_", 0, 0, 0, 0);
                });

                $("#Office_Fixed_Expense_HDR_EmpCode").change(function () {
                    var val = $("#Office_Fixed_Expense_HDR_Type_Of_Staff").val();
                    if (val != '') {
                        if (val == "1" || val == "3") {
                            EmpCode_Change(DomainName, $(this).val(), "Office_Fixed_Expense_HDR_", 1, 0, 0, 0);
                        }
                        else if (val == "2" || val == "4") {
                            EmpCode_Change(DomainName, $(this).val(), "Office_Fixed_Expense_HDR_", 0, 1, 0, 0);
                        }

                    } else {
                        EmpCode_Change(DomainName, $(this).val(), "Office_Fixed_Expense_HDR_", 0, 0, 0, 0);
                    }
                });

                $(".clsFixed_Amount_Passed").change(function () {
                    var ID = $(this).attr("Id").replace("CPEEDET_", "").replace("__Amount_Passed", "");
                    var Totl = $("#CPEEDET_" + ID + "__Amount").val();
                    var PassedAmt = $("#CPEEDET_" + ID + "__Amount_Passed").val();
                    var Reject = parseInt(Totl) - parseInt(PassedAmt);
                    $("#CPEEDET_" + ID + "__Amount_Rejected").val(Reject);
                });

                var Prefix = "PAYMENTMODE_1__";
                Formvalidate(DomainName);

                //GetVehicleEmployeeUserName_BranchWise("Office_Fixed_Expense_HDR_EmpCode", "U")

                if ($("#Office_Fixed_Expense_HDR_EmpCode").val() != '' || $("#Office_Fixed_Expense_HDR_EmpCode").val() != null) {
                    $("#Office_Fixed_Expense_HDR_EmpCode").select2("data", { id: $("#Office_Fixed_Expense_HDR_EmpCode").val(), text: $("#Office_Fixed_Expense_HDR_EmpName").val() });
                    $("#ShowEmpCode").val($("#Office_Fixed_Expense_HDR_EmpCode").val());
                }
                StrURL = DomainName + "/Operation/GetDestinationLocations";
                JsonDDLSelectCode("Office_Fixed_Expense_HDR_Branch_Name", StrURL);

                select2Date(DomainName);
                $("#PaymentControl").hide();
                $("#ApprovSubmit").hide();

                /* Acouting Calculation */
                IsServicetaxCalculated(DomainName, Prefix)
                OnLoadFunction(DomainName, Prefix)

                $("#WAD_IsServicetaxapply").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })
                $("#WAD_IsTDStaxapply").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })
                $("#WAD_TDSRate").focusout(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })

                @foreach (var item in Model.List_Office_Fixed_Expense_DET)
                {
                    var CheckBox = "CPEEDET_" + @item.ID + "__CheckBox";
                    var For_the_Period = "CPEEDET_" + @item.ID + "__For_the_Period";
                    var FromDate = "CPEEDET_" + @item.ID + "__FromDate";
                    var ToDate = "CPEEDET_" + @item.ID + "__ToDate";
                    var FromID = "CPEEDET_" + @item.ID + "__FromID";
                    var ToID = "CPEEDET_" + @item.ID + "__ToID";
                    var ExpenseTypeID = "CPEEDET_" + @item.ID + "__ExpenseType";
                    var BRCDID = "CPEEDET_" + @item.ID + "__Brcd";

                     <text>

                var MonthNameID = "CPEEDET_" + @item.ID + "__MonthID";
                var MonthNameName = "CPEEDET_" + @item.ID + "__MonthName";

                $("#@CheckBox").attr("value", "false");

                $('#@For_the_Period').change(function () {
                    var monthName = GetMonthName($(this).val());
                    if (monthName != undefined) {
                        MonthNameName = monthName.substring(0, 3);
                        MonthNameID = $(this).val();
                    }
                    var id = 0;
                    if ($("#SubType").val() == "2") {
                        id = "@item.ID";
                    }
                    var URL = DomainName + '/BranchAccounting/Is_Office_Exepance_Available?Type=1&Month=' + MonthNameID + '&ExpenseType=' + $("#@ExpenseTypeID").val() + '&BRCD=' + $("#@BRCDID").val() + '&id=' + id + '&EMPCode=' + $("#Office_Fixed_Expense_HDR_EmpCode").val();

                    if ($(this).val() != "") {

                        App.blockUI({ boxed: true });
                        $.ajax({
                            url: URL,
                            cache: false,
                            data: {},
                            type: 'POST',
                            success: function (data) {

                                if (data.IsRecordFound == "1" || $("#Office_Fixed_Expense_HDR_EmpCode").val() == "") {

                                    $("#@For_the_Period").val("");
                                    $('#@FromDate').val("");
                                    $('#@ToDate').val("");
                                    $("#@For_the_Period").select2().find(":selected").data("");
                                    alert("Please Select Proper Months.")
                                    App.unblockUI();
                                }
                                else if (data.IsRecordFound == "0") {
                                    App.unblockUI();

                                    @*if (MonthNameName == "Dec") {
                                        $('#@FromDate').val("1 " + MonthNameName + " 2017");
                                        $('#@ToDate').val("");
                                    }
                                    else {
                                        $('#@FromDate').val("1 " + MonthNameName + " 2018");
                                        $('#@ToDate').val("");
                                    }*@


                                    if (MonthNameName == "Dec") {
                                        $('#@FromDate').val("1 " + MonthNameName + " " + ' @ViewBag.CurrFinYear'.split("-")[0].toString());
                                        $('#@ToDate').val("");
                                    }
                                    else {
                                        $('#@FromDate').val("1 " + MonthNameName + " " + ' @ViewBag.CurrFinYear'.split("-")[0].toString());
                                        $('#@ToDate').val("");
                                    }


                                    DatePicker(DomainName, "@ToDate", MonthNameName)
                                    DatePicker(DomainName, "@FromDate", MonthNameName)

                                    $('#@FromDate').change(function () {

                                        var FromDate = $(this).val();
                                        var From_Date_Split = $(this).val().split(" ");
                                        var FromMonth = From_Date_Split[1];
                                        //if (MonthNameName == "Dec") {
                                        //    var CreateFromDate = "1 " + MonthNameID + " 2017";
                                        //}
                                        //else {
                                        //    var CreateFromDate = "1 " + MonthNameID + " 2018";
                                        //}

                                        if (MonthNameName == "Dec") {
                                            var CreateFromDate = "1 " + MonthNameID + " " + ' @ViewBag.CurrFinYear'.split("-")[0].toString();
                                        }
                                        else {
                                            var CreateFromDate = "1 " + MonthNameID + " " + ' @ViewBag.CurrFinYear'.split("-")[0].toString();
                                        }

                                        if (FromMonth != MonthNameName) {
                                            $(this).val("");
                                            $("#@FromID").html("Please Select Valid Month");
                                        }
                                        else {
                                            $("#@FromID").html();
                                        }
                                    });

                                    $('#@ToDate').change(function () {

                                        var ToDate = $(this).val();
                                        var To_Date_Split = $(this).val().split(" ");
                                        var ToMonth = To_Date_Split[1];
                                        //if (MonthNameName == "Dec") {
                                        //    var CreateFromDate = "1 " + MonthNameID + " 2017";
                                        //}
                                        //else {
                                        //    var CreateFromDate = "1 " + MonthNameID + " 2018";
                                        //}
                                        if (MonthNameName == "Dec") {
                                            var CreateFromDate = "1 " + MonthNameID + " " + ' @ViewBag.CurrFinYear'.split("-")[0].toString();
                                        }
                                        else {
                                            var CreateFromDate = "1 " + MonthNameID + " " + ' @ViewBag.CurrFinYear'.split("-")[0].toString();
                                        }

                                        if (ToMonth != MonthNameName) {
                                            $(this).val("");
                                            $("#@ToID").html("Please Select Valid Month");
                                        }
                                        else {
                                            $("#@ToID").html('');
                                        }
                                    });
                                }
                            },
                            error: function (req, status, error) {
                                //App.unblockUI();
                            }
                        });
                    }
                });


                if ($('#@FromDate').val() == "01 Jan 0001" || $('#@FromDate').val() == "01 Jan 1990" || $("#SubType").val() == "1") {
                    $('#@FromDate').val("");
                }
                if ($('#@ToDate').val() == "01 Jan 0001" || $('#@FromDate').val() == "01 Jan 1990" || $("#SubType").val() == "1") {
                    $('#@ToDate').val("");
                }

                </text>
                }

                BR_Request_Common_Function(DomainName, "Office_Fixed_Expense_HDR_", "Office_Fixed_Expense_DET_", "form_sample");
            }
        }
    }();
</script>
