﻿@model Fleet.ViewModels.ElectricMaster

@{
    ViewBag.Title = "Electricity Office Godown Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int RowNumberCount = Model.ListCEOGD.Count();
    int i = 1;
}
@using (Html.BeginForm("Office_Godown_Details", "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                    <div class="caption pull-right">
                        <a href="@Url.Content("~/Master/ExportData?MethodName=ElecOffGodownDetails&FileName=Electricity Details")" class="btn default btn-xs controls"><i class="fa fa-download"></i>&nbsp;Download Excel </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group">
                                @Html.Hidden("RowNumber", RowNumberCount)
                                <div class="col-md-6">
                                    <label class="control-label col-md-4">SELECT BRANCH:</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.BRCD, new { @class = "form-control required required2", @placeholder = "Select Branch Location" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ElectPartial">
                            <div class="row col-md-12">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="center">Address</th>
                                            <th class="center">Name Of Land Lord</th>
                                            <th class="center">Bank Account No</th>
                                            <th class="center">Ifsc Code</th>
                                            <th class="center">Total Area In Sqft</th>
                                            <th class="center">Number Of Rooms</th>
                                            <th class="center">Rate As Per Agreement Bill</th>
                                            <th class="center">Computers</th>
                                            <th class="center">Printers</th>
                                            <th class="center">Tube Lights</th>
                                            <th class="center">Bulbs</th>
                                            <th class="center">Cfls</th>
                                            <th class="center">Others</th>
                                            <th class="center">Reading</th>
                                            <th class="center">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody id="Elect_Partial">
                                        @foreach (var item in Model.ListCEOGD)
                                        {
                                            item.ID = i;
                                            Html.RenderPartial("_Electric_Master_Partial", item);
                                            i++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="row"><button type="button" id="btnAddNewRow" class="btn btn-sm blue pull-right">Add New Row</button></div>
                            <br />
                            <div class="form-actions fluid">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-4">
                                        <button type="button" id="btnSubmit" class="btn btn-sm green controls">
                                            <i class="fa fa-check"></i>&nbsp;Sumbit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.forms["form_sample"].submit();
                }

            });
        }

        var AddDetails = function (DomainName, Type) {

            var itemIndex = parseInt($("#RowNumber").val()) + 1;
            var StrURL1 = DomainName + '/BranchAccounting/_Add_Electric_Master_Partial?id=' + itemIndex + "&Type=" + Type + "&Location=" + $("#BRCD").val();
            App.blockUI({ boxed: true });
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#BRCD").attr("readonly", "readonly");

                    $("#ElectPartial").show();

                    $("#Elect_Partial").append(html);
                    App.unblockUI();
                    $("#RowNumber").val(itemIndex);

                    $(".deleteRow").live("click", function () {
                        $(this).parents("tr.editorRow:first").remove();
                        return false;
                    });
                },
                error: function (req, status, error) {
                    alert("error " + req + "   " + status + "   " + error);
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);
                $("#ElectPartial").hide();

                $("#btnAddNewRow").click(function () {
                    AddDetails(DomainName, '2')
                });

                StrURL = DomainName + "/Master/GetDestinationLocationsWithHQTR";
                JsonDDLSelectCode("BRCD", StrURL);

                $("#BRCD").change(function () {
                    if ($("#BRCD").val() != "") {
                        AddDetails(DomainName, "1");
                    }
                });


                $("#btnSubmit").click(function () {

                    if ($('#form_sample').valid()) {
                        $("#BRCD").attr("readonly", "false");

                        App.blockUI({ boxed: true });
                        document.forms["form_sample"].submit()
                        //$("#form_sample").submit();
                    }
                    else {
                        return false
                    }
                });
            }
        }
    }();
</script>
