﻿@model IEnumerable<Fleet.Models.CYGNUS_Master_Office_Other_Expenses>

@{
    ViewBag.Title = "Office Expense Other Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@ViewBag.Title
        </div>
        <div class="caption pull-right">
            <a href="@Url.Content("~/Master/ExportData?MethodName=OfficeExpenseOther&FileName=Office Expense Other")" class="btn default btn-xs controls"><i class="fa fa-download"></i>&nbsp;Download Excel </a>
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("Submit_Office_Expense_Other", "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                You have some form errors. Please check below.
            </div>

            <div class="alert alert-success display-hide">
                <button class="close" data-close="alert"></button>
                Your form validation is successful!
            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <button type="submit" class="btn btn-sm green controls btnSubmit"><i class="fa fa-check"></i>&nbsp;Submit</button>
                </div>
            </div>
            <div class="form-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet-body flip-scroll">
                            <table id="container" class="table table-bordered table-striped table-condensed flip-content">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="center">
                                            Name Of Branch
                                        </th>
                                        <th class="center">
                                            Printing &amp; Stationary
                                        </th>
                                        <th class="center">
                                            Data Entry &amp; Computer
                                        </th>
                                        <th class="center">
                                            RPF /GRP /Police
                                        </th>
                                        <th class="center">
                                            Sales &amp; Promotion
                                        </th>
                                        <th class="center">
                                            Festival
                                        </th>
                                        <th class="center">
                                            Donation
                                        </th>
                                        <th class="center">
                                            Generator Running /Diesel
                                        </th>
                                        <th class="center">
                                            Any Purchase
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var itm in Model)
                                    {
                                        Html.RenderPartial("_Office_Expense_Other", itm);
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                    <div class="col-md-offset-4 col-md-8">
                        <button type="submit" class="btn btn-sm green controls btnSubmit"><i class="fa fa-check"></i>&nbsp;Submit</button>
                    </div>
                </div>
        }
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        return {
            //main function to initiate the module
            init: function (DomainName) {
                $(".btnSubmit").click(function () {
                    App.blockUI({ boxed: true });
                });
            }
        }
    }();
</script>