﻿@model Fleet.ViewModels.ExpensesEntryModule
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Office Expenses Other";
    FleetDataService.OperationService CSOPN = new FleetDataService.OperationService();
    List<webx_acctinfo> ListTDSSection = CSOPN.GetTDSSectionList();
    string ActionName = @ViewBag.ActionName;
    //Model.Type2 = Model.Type;
}

@using (Html.BeginForm(ActionName, "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>

                @Html.HiddenFor(m => m.Office_Other_Expense_HDR.ExpenceType)
                @Html.HiddenFor(m => m.Office_Other_Expense_HDR.BillNo)
                @Html.HiddenFor(m => m.SubType)
                @*@Html.HiddenFor(m => m.Type)*@
                @Html.HiddenFor(m => m.Type2)

                <div class="portlet-body">
                    <div class="form-body" id="PaymentPart">
                        <div class="form-group">

                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">NAME OF BRANCH</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Office_Other_Expense_HDR.Branch_Name, new { placeholder = "Name of Branch", @class = "m-wrap form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">NAME OF EMPLOYEE</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Office_Other_Expense_HDR.EmpCode, new { placeholder = "Name Of Employee", @class = "form-control required required2" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">EMPLOYEE CODE</label>
                                    <div class="col-md-8">
                                        @Html.HiddenFor(c => c.Office_Other_Expense_HDR.EmpName)
                                        @Html.TextBox("ShowEmpCode", Model.Office_Other_Expense_HDR.EmpCode, new { placeholder = "Employee Code", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 clsApproval">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Name Of bank</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Office_Other_Expense_HDR.BankName, new { placeholder = "Name Of bank", @class = "form-control ", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">IFSC Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Office_Other_Expense_HDR.IFSCCode, new { placeholder = "IFSC Code", @class = "form-control ", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Bank A/C Number</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Office_Other_Expense_HDR.BankAccNumber, new { placeholder = "Bank A/C Number", @class = "form-control ", @readonly = "true" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Number of Staff</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Office_Other_Expense_HDR.No_Of_Staff, new { placeholder = "Number of Staff", @class = "m-wrap form-control", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Number of Labore</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Office_Other_Expense_HDR.No_of_Labore, new { placeholder = "Number of Labore", @class = "m-wrap form-control required required2", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Number of Drivers</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Office_Other_Expense_HDR.No_of_Drivers, new { placeholder = "Number of Drivers", @class = "m-wrap form-control required required2", @min = "0", @number = "true", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Name Of Payee</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Office_Other_Expense_HDR.NameOFPayee, new { placeholder = "Name Of Payee", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body ">
                        <div id="PaymentPart1">
                            <table id="sample_ven" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="white-space: pre-line">Expenses Type</th>
                                        <th style="white-space: pre-line">General Ledger Code</th>
                                        <th style="white-space: pre-line">For The Period</th>
                                        <th style="white-space: pre-line">From</th>
                                        <th style="white-space: pre-line">To</th>
                                        <th style="white-space: pre-line">Amount</th>
                                        <th style="white-space: pre-line">Particular</th>
                                        @if (Model.SubType == 2 || Model.SubType == 3)
                                        {
                                            <th style="white-space: pre-line">Amount Passed</th>
                                            <th style="white-space: pre-line">Amount Rejected</th>
                                            <th style="white-space: pre-line">Reason For Rejected</th>
                                        }
                                        @if (Model.SubType == 1)
                                        {
                                            <th>Delete</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody id="Voucher">
                                    @foreach (var item in Model.List_Office_Other_Expense_DET)
                                    {
                                        Html.RenderPartial("_Office_Expenses_Other_Partial", item);
                                    }
                                </tbody>

                            </table>
                        </div>

                        <div id="PaymentControl">
                            @if (Model.SubType == 3)
                            {
                                 @Html.Partial("_BranchAccounting_PaymentPart", Model);

                                <hr />
                                <div class="form-group">
                                    @foreach (var itms in Model.WADListing)
                                    {
                                        @Html.Partial("../Voucher/_PaymentModePartial", itms)
                                    }
                                </div>
                            }
                        </div>
                        <div class="form-actions fluid" id="SubmitBtn">
                            @{
                                @Html.Partial("_BranchAcct_SubmitPartial", Model)
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    function GetMonthName(monthNumber) {
        var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        return months[monthNumber - 1];
    }

    var FormComponents = function (DomainName) {

        var select2Date = function (DomainName) {

            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });

            //if (jQuery().datepicker) {
            //    $('.date-picker').datepicker({
            //        rtl: App.isRTL(),
            //        format: "dd M yyyy",
            //        autoclose: true,
            //        startDate: new Date(),
            //        // endDate: new Date(),
            //    });
            //    $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            //}
        }

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //document.form["form_sample"].submit();
                }
            });
        }

        var IsServicetaxCalculated = function (DomainName, Prefix) {

            if ($('#WAD_IsServicetaxapply').prop('checked')) {

                $('#WAD_ServiceTaxRate').attr("readonly", false);
                $('#WAD_ServiceTaxRate').attr("readonly", false);
                $('#WAD_ServiceTaxRate').val($("#HdnServiceTaxRate").val());
                $('#WAD_ServiceTaxRate').attr("readonly", true);

                var servicetaxrate = $("#HdnServiceTaxRate").val();
                var ApplicaleAmount = $("#WAD_AmountApplicable").val();
                var Servicetax = parseFloat(ApplicaleAmount) * parseFloat(servicetaxrate) / 100;

                var TotalAmount = parseFloat(ApplicaleAmount) + parseFloat(Servicetax);
                // alert("ApplicaleAmount=" + ApplicaleAmount + "--Servicetax=" + Servicetax + "--TotalAmount=" + TotalAmount);

                $("#WAD_ServiceTax").val(Math.round(Servicetax));
                $("#WAD_AmountApplicableForTDS").val(TotalAmount);
                $("#" + Prefix + "NETAMOUNT").val(Math.round(TotalAmount));
                $("#" + Prefix + "AmountApplicable").val(Math.round(TotalAmount));
            }
            else {
                $('#WAD_ServiceTaxRate').attr('readonly', true);
                $('#WAD_ServiceTaxRate').val(0)
                $("#WAD_ServiceTax").val(0);
                var ApplicaleAmount = $("#WAD_AmountApplicable").val();
                $("#WAD_AmountApplicableForTDS").val(Math.round(ApplicaleAmount));
            }

            if ($('#WAD_IsTDStaxapply').prop('checked')) {

                $('#WAD_TDSRate').attr("readonly", false);
                //$("#WAD_TDSAmount").attr("readonly", false);
                var TDSrate = $("#WAD_TDSRate").val();
                var TDSApplicaleAmount = $("#WAD_AmountApplicableForTDS").val();
                var TDStax = parseFloat(TDSApplicaleAmount) * parseFloat(TDSrate) / 100;
                var TotalAmount = parseFloat(TDSApplicaleAmount) - parseFloat(TDStax);

                $("#WAD_TDSSection").addClass("required required2");
                $("#WAD_TDSSection").attr("readonly", false);
                $("#WAD_TDSAmount").val(Math.round(TDStax));

                $("#" + Prefix + "NETAMOUNT").val(Math.round(TotalAmount));
                $("#" + Prefix + "AmountApplicable").val(Math.round(TotalAmount));

                $(".clsTotal").val(Math.round(TotalAmount));
                if ($('#' + Prefix + 'PaymentMode').val() == "Cash") {
                    $("#" + Prefix + "CashAmount").val(Math.round(TotalAmount));
                }
                else if ($('#' + Prefix + 'PaymentMode').val() == "Bank") {
                    $("#" + Prefix + "ChequeAmount").val(Math.round(TotalAmount));
                }
                else {
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "CashAmount").val(0);
                }
            }
            else {
                $('#WAD_TDSRate').attr("readonly", true);
                $('#WAD_TDSRate').val(0);
                $("#WAD_TDSAmount").val(0);
                $("#WAD_TDSAmount").attr("readonly", true);
                var ApplicaleAmount = $("#WAD_AmountApplicableForTDS").val();
                $("#WAD_AmountApplicableForTDS").val(ApplicaleAmount);
                $("#" + Prefix + "NETAMOUNT").val(Math.round($("#WAD_SumAmount").val()));

                $("#" + Prefix + "AmountApplicable").val(Math.round(ApplicaleAmount/*$("#WAD_SumAmount").val()*/));

                $(".clsTotal").val(Math.round(ApplicaleAmount));

                $("#WAD_TDSSection").val("");
                $("#WAD_TDSSection").select2().find(":selected").data("");
                $("#WAD_TDSSection").removeClass("required required2");
                $("#WAD_TDSSection").attr("readonly", true);

                if ($('#' + Prefix + 'PaymentMode').val() == "Cash") {
                    $("#" + Prefix + "CashAmount").val(Math.round(ApplicaleAmount));
                }
                else if ($('#' + Prefix + 'PaymentMode').val() == "Bank") {
                    $("#" + Prefix + "ChequeAmount").val(Math.round(ApplicaleAmount));
                }
                else {
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "CashAmount").val(0);
                }
            }
        }

        var OnLoadFunction = function (DomainName, Prefix) {

            var GetChequedate = $("#" + Prefix + "Chequedate").val();

            $("#" + Prefix + "TransactionMode").change(function () {

                $("#" + Prefix + "CashAmount").val(0);
                $("#" + Prefix + "ChequeAmount").val(0);
                $("#" + Prefix + "ChequeNo").val("");
                $("#" + Prefix + "Chequedate").val("");
                $("#" + Prefix + "ReceivedFromBank").val("");
                $("#" + Prefix + "PaymentMode").val("");
                $("#" + Prefix + "PaymentMode").select2().find(":selected").data("");
                $("#" + Prefix + "CashAccount").select2('data', null);
                $("#" + Prefix + "DepositedInBank").select2('data', null);

                if ($("#" + Prefix + "TransactionMode").val() == "PAYMENT") {
                    //$("input[name=optionsRadios1]").attr("disabled", true);
                    //$('#' + Prefix + 'IsonAccount').attr("disabled", true);
                    //$('#' + Prefix + 'IsonAccount').attr("checked", false);
                    //$('#' + Prefix + 'IsonAccount').parent('span').removeClass('checked');
                    //$('#' + Prefix + 'IsonAccount').val(false);CASHBANKLABEL
                    $('#labelBank').text("Issued in bank");
                    $('#CASHBANKLABEL').hide();
                }
                else {

                    //$("input[name=optionsRadios1]").attr("disabled", false);
                    //$('#' + Prefix + 'IsonAccount').attr("checked", false);
                    //$('#' + Prefix + 'IsonAccount').parent('span').removeClass('checked');
                    //$('#' + Prefix + 'IsonAccount').val(false);
                    $('#labelBank').text("Deposited in bank");
                    $("#" + Prefix + "DepositedInBank").attr("disabled", true);
                    $('#CASHBANKLABEL').show();
                }
            });

            $("#" + Prefix + "PaymentMode").change(function () {

                var PaymentMode = $(this).val();

                if (PaymentMode == "Cash") {

                    App.blockUI({ boxed: true });

                    var StrURL = DomainName + "/Voucher/GetBankCashList?Type=" + PaymentMode;
                    $("#" + Prefix + "CashAccount").select2('data', null);
                    $("#" + Prefix + "DepositedInBank").select2('data', null);
                    $("#" + Prefix + "DepositedInBank").attr("disabled", true);
                    $("#" + Prefix + "CashAccount").attr("disabled", false);
                    FillDropDownfromOther(Prefix + "CashAccount", StrURL, "Cash Account");
                    $("#" + Prefix + "CashAccount option:selected").remove();
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "CashAmount").val($(".clsTotal").val());
                    $("#" + Prefix + "CashAmount").attr("readonly", true);
                    $("#" + Prefix + "ChequeNo").attr("disabled", true);
                    $("#" + Prefix + "ChequeAmount").attr("readonly", true);
                    $("#" + Prefix + "Chequedate").attr("disabled", true);
                    $("#" + Prefix + "Chequedate").val("");
                    $(".input-group-btn").hide();
                    //$('#' + Prefix + 'IsonAccount').attr("checked", false);
                    //$('#' + Prefix + 'IsonAccount').parent('span').removeClass('checked');
                    //$('#' + Prefix + 'IsonAccount').val(false);
                    $("#" + Prefix + "ReceivedFromBank").removeClass('required required2');
                    $("#" + Prefix + "CashAccount").addClass('required required2');
                    $("#" + Prefix + "DepositedInBank").removeClass('required required2');

                    App.unblockUI();
                }

                else if (PaymentMode == "Bank") {

                    App.blockUI({ boxed: true });

                    var StrURL = DomainName + "/Voucher/GetBankCashList?Type=" + PaymentMode;
                    $("#" + Prefix + "DepositedInBank").select2('data', null);
                    $("#" + Prefix + "CashAccount").select2('data', null);
                    $("#" + Prefix + "DepositedInBank").attr("disabled", false);
                    $("#" + Prefix + "CashAccount").attr("disabled", true);
                    FillDropDownfromOther(Prefix + "DepositedInBank", StrURL, "Bank Account");
                    $(".input-group-btn").show();
                    $("#" + Prefix + "CashAmount").val(0);
                    $("#" + Prefix + "CashAmount").attr("readonly", true);
                    $("#" + Prefix + "ChequeAmount").val($(".clsTotal").val());
                    $("#" + Prefix + "ChequeAmount").attr("readonly", true);
                    $("#" + Prefix + "ChequeNo").attr("disabled", false);
                    $("#" + Prefix + "Chequedate").attr("disabled", false);
                    $("#" + Prefix + "Chequedate").val(GetChequedate);
                    $("#" + Prefix + "ChequeNo").addClass('required required2');
                    $("#" + Prefix + "ReceivedFromBank").addClass('required required2');
                    $("#" + Prefix + "CashAccount").removeClass('required required2');
                    $("#" + Prefix + "DepositedInBank").addClass('required required2');

                    App.unblockUI();
                }
                else {

                    App.blockUI({ boxed: true });

                    var StrURL = DomainName + "/Voucher/GetBankCashList?Type=Cash";
                    $("#" + Prefix + "CashAccount").select2('data', null);
                    FillDropDownfromOther(Prefix + "CashAccount", StrURL, "Cash Account");
                    var StrURL1 = DomainName + "/Voucher/GetBankCashList?Type=Bank";
                    $("#" + Prefix + "DepositedInBank").select2('data', null);
                    FillDropDownfromOther(Prefix + "DepositedInBank", StrURL1, "Bank Account");
                    $("#" + Prefix + "CashAmount").val(0);
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "ChequeNo").attr("disabled", false);
                    $("#" + Prefix + "CashAmount").attr("readonly", false);
                    $("#" + Prefix + "ChequeAmount").attr("readonly", false);
                    $("#" + Prefix + "Chequedate").attr("disabled", false);
                    $("#" + Prefix + "Chequedate").val(GetChequedate);
                    //$('#' + Prefix + 'IsonAccount').attr("checked", false);
                    //$('#' + Prefix + 'IsonAccount').parent('span').removeClass('checked');
                    //$('#' + Prefix + 'IsonAccount').val(false);
                    $("#" + Prefix + "ReceivedFromBank").addClass('required required2');
                    $("#" + Prefix + "DepositedInBank").attr("disabled", false);
                    $("#" + Prefix + "CashAccount").attr("disabled", false);
                    $("#" + Prefix + "CashAccount").addClass('required required2');
                    $("#" + Prefix + "DepositedInBank").addClass('required required2');

                    App.unblockUI();
                }
            });

            if ($("#WAD_Vouchertype").val() != "DEBITCREDIT") {
                //$("#" + Prefix + "NETAMOUNT").removeAttr('readonly');
                $("#" + Prefix + "NETAMOUNT").attr("number", true).attr("min", 1).addClass("required required2");
            }

            $("#" + Prefix + "NETAMOUNT").live('change', function () {
                var PaymentMode = $("#" + Prefix + "PaymentMode").val();
                var PaymentAmount = $("#" + Prefix + "NETAMOUNT").val();
                if (PaymentMode.toUpperCase() == "CASH") {
                    $("#" + Prefix + "ChequeAmount").val(0);
                    $("#" + Prefix + "CashAmount").val(PaymentAmount);
                    $(".clsTotal").val(PaymentAmount);
                }
                if (PaymentMode.toUpperCase() == "BANK") {
                    $("#" + Prefix + "CashAmount").val(0);
                    $("#" + Prefix + "ChequeAmount").val(PaymentAmount);
                    $(".clsTotal").val(PaymentAmount);
                }
            });
        }

        var DatePicker = function (DomainName, ID, Month) {
            //alert(ID);
            $('#' + ID).datepicker({
                rtl: App.isRTL(),
                format: "dd M yyyy",
                autoclose: true,
                starDate: new Date("1 " + Month + " 2016"),
                endDate: new Date("31 " + Month + " 2016"),
            });
            //$('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
        }

        var Submit_Approval_Rejection = function (DomainName) {

            $("#btnSubmit").click(function () {
                Formvalidate(DomainName);
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false)
                    $("#PaymentPart :input").attr("disabled", false);

                    document.forms["form_sample"].submit()
                }
                else {
                    return false
                }
            });

            $('#btnRejectAtHO').click(function () {
                $(".clsAmount_Passed").each(function () {
                    var Id = $(this).attr("id").replace("Amount_Passed", "");
                    $("#" + Id + "Reason_For_Rejection").addClass("required required2")
                    $("#" + Id + "Amount_Passed").attr("min", "0")
                    $("#" + Id + "Amount_Rejected").attr("min", "1")
                })

                Formvalidate(DomainName);
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false)
                    $("#PaymentPart :input").attr("disabled", false);

                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/OfficeExpence_Other_Reject');
                    document.forms["form_sample"].submit()
                }
            });

            $('#btnAuthorizeAtHo').click(function () {

                $(".clsAmount_Passed").each(function () {
                    var Id = $(this).attr("id").replace("Amount_Passed", "");
                    $("#" + Id + "Reason_For_Rejection").removeClass("required required2")
                    $("#" + Id + "Amount_Passed").attr("min", "1")
                    $("#" + Id + "Amount_Rejected").attr("min", "0")
                })

                Formvalidate(DomainName);
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false)
                    $("#PaymentPart :input").attr("disabled", false);

                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/Officer_OtherExpenses_Approval');
                    document.forms["form_sample"].submit();
                }
            });

        };

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Submit_Approval_Rejection(DomainName);
                if ($("#SubType").val() == "2") {
                    $(".clsApproval").show();
                }
                else {
                    $(".clsApproval").hide();
                }

                $(".deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });

                var Prefix = "PAYMENTMODE_1__";
                Formvalidate(DomainName);
                GetVehicleEmployeeUserName_BranchWise("Office_Other_Expense_HDR_EmpCode", "U")

                if ($("#Office_Other_Expense_HDR_EmpCode").val() != '' || $("#Office_Other_Expense_HDR_EmpCode").val() != null) {
                    $("#Office_Other_Expense_HDR_EmpCode").select2("data", { id: $("#Office_Other_Expense_HDR_EmpCode").val(), text: $("#Office_Other_Expense_HDR_EmpName").val() });
                    $("#ShowEmpCode").val($("#Office_Other_Expense_HDR_EmpCode").val());
                }

                StrURL = DomainName + "/Operation/GetDestinationLocations";
                JsonDDLSelectCode("Office_Other_Expense_HDR_Branch_Name", StrURL);

                $("#Office_Other_Expense_HDR_EmpCode").change(function () {

                    var URL = DomainName + '/BranchAccounting/GetUser_Detailes?No=' + $(this).val();

                    if ($(this).val() != "") {

                        App.blockUI({ boxed: true });
                        $.ajax({
                            url: URL,
                            cache: false,
                            data: {},
                            type: 'POST',
                            success: function (data) {

                                $("#ShowEmpCode").val($("#Office_Other_Expense_HDR_EmpCode").val());

                                if (data.IsRecordFound == "1") {

                                    $("#Office_Other_Expense_HDR_EmpName").val(data.Name);
                                    $("#Office_Other_Expense_HDR_BankName").val(data.Name_Of_bank);
                                    $("#Office_Other_Expense_HDR_BankAccNumber").val(data.Bank_AC_Number);
                                    $("#Office_Other_Expense_HDR_IFSCCode").val(data.IFSC_Code);
                                    App.unblockUI();
                                }
                                else {
                                    $("#Office_Other_Expense_HDR_EmpName").val($("#s2id_Elec_Expense_HDR_EmpCode span").html());
                                    $("#Office_Other_Expense_HDR_BankName").val("");
                                    $("#Office_Other_Expense_HDR_BankAccNumber").val("");
                                    $("#Office_Other_Expense_HDR_IFSCCode").val("");
                                    App.unblockUI();
                                }
                            },
                            error: function (req, status, error) {
                                $("#Office_Other_Expense_HDR_EmpName").val($("#s2id_Elec_Expense_HDR_EmpCode span").html());
                                $("#Office_Other_Expense_HDR_BankName").val("");
                                $("#Office_Other_Expense_HDR_BankAccNumber").val("");
                                $("#Office_Other_Expense_HDR_IFSCCode").val("");
                                App.unblockUI();
                            }
                        });
                    }
                });

                select2Date(DomainName);
                $("#PaymentControl").hide();
                $("#ApprovSubmit").hide();
                $("#TotalClaim_IncHandlingTot").val("0");
                /* Acouting Calculation */
                IsServicetaxCalculated(DomainName, Prefix)
                OnLoadFunction(DomainName, Prefix)

                $("#WAD_IsServicetaxapply").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })
                $("#WAD_IsTDStaxapply").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })
                $("#WAD_TDSRate").focusout(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })


                @foreach (var item in Model.List_Office_Other_Expense_DET)
                {
                    var CheckBox = "CPEEDET_" + @item.ID + "__CheckBox";
                    var For_the_Period = "CPEEDET_" + @item.ID + "__For_the_Period";
                    var FromDate = "CPEEDET_" + @item.ID + "__FromDate";
                    var ToDate = "CPEEDET_" + @item.ID + "__ToDate";
                    var FromID = "CPEEDET_" + @item.ID + "__FromID";
                    var ToID = "CPEEDET_" + @item.ID + "__ToID";
                    var ExpenseTypeID = "CPEEDET_" + @item.ID + "__ExpenseType";
                    var BRCDID = "CPEEDET_" + @item.ID + "__Brcd";

                     <text>

                var MonthNameID = "CPEEDET_" + @item.ID + "__MonthID";
                var MonthNameName = "CPEEDET_" + @item.ID + "__MonthName";

                $("#@CheckBox").attr("value", "false");

                $('#@For_the_Period').change(function () {

                    var monthName = GetMonthName($(this).val());
                    if (monthName != undefined) {
                        MonthNameName = monthName.substring(0, 3);
                        MonthNameID = $(this).val();
                    }
                    var id = 0;
                    if ($("#SubType").val() == "2") {
                        id = "@item.ID";
                    }

                    var URL = DomainName + '/BranchAccounting/Is_Office_Exepance_Available?Type=2&Month=' + MonthNameID + '&ExpenseType=' + $("#@ExpenseTypeID").val() + '&BRCD=' + $("#@BRCDID").val() + '&id=' + id;
                    //alert(URL);

                    if ($(this).val() != "") {

                        App.blockUI({ boxed: true });
                        $.ajax({
                            url: URL,
                            cache: false,
                            data: {},
                            type: 'POST',
                            success: function (data) {

                                if (data.IsRecordFound == "1") {

                                    $("#@For_the_Period").val("");
                                    $('#@FromDate').val("");
                                    $('#@ToDate').val("");
                                    $("#@For_the_Period").select2().find(":selected").data("");
                                    alert("Please Select Proper Months.")
                                    App.unblockUI();
                                }
                                else if (data.IsRecordFound == "0") {
                                    App.unblockUI();

                                    $('#@FromDate').val("1 " + MonthNameName + " 2016");
                                    $('#@ToDate').val("");
                                    DatePicker(DomainName, "@ToDate", MonthNameName)
                                    DatePicker(DomainName, "@FromDate", MonthNameName)

                                    $('#@FromDate').change(function () {

                                        var FromDate = $(this).val();
                                        var From_Date_Split = $(this).val().split(" ");
                                        var FromMonth = From_Date_Split[1];
                                        var CreateFromDate = "1 " + MonthNameID + " 2016";

                                        if (FromMonth != MonthNameName) {
                                            $(this).val("");
                                            $("#@FromID").html("Please Select Valid Month");
                                        }
                                        else {
                                            $("#@FromID").html();
                                        }
                                    });

                                    $('#@ToDate').change(function () {

                                        var ToDate = $(this).val();
                                        var To_Date_Split = $(this).val().split(" ");
                                        var ToMonth = To_Date_Split[1];
                                        var CreateToDate = "1 " + MonthNameID + " 2016";

                                        if (ToMonth != MonthNameName) {
                                            $(this).val("");
                                            $("#@ToID").html("Please Select Valid Month");
                                        }
                                        else {
                                            $("#@ToID").html('');
                                        }
                                    });
                                }
                            },
                            error: function (req, status, error) {
                                //App.unblockUI();
                            }
                        });
                    }
                });


                if ($('#@FromDate').val() == "01 Jan 0001" || $('#@FromDate').val() == "01 Jan 1990" || $("#SubType").val() == "1") {
                    $('#@FromDate').val("");
                }
                if ($('#@ToDate').val() == "01 Jan 0001" || $('#@FromDate').val() == "01 Jan 1990" || $("#SubType").val() == "1") {
                    $('#@ToDate').val("");
                }

                </text>
                }
                               

                if ($("#SubType").val() == "2") {
                    $(".clsApproval_Rejection").attr("disabled", true)
                    $("#PaymentPart :input").attr("disabled", true);
                }

                if ($("#SubType").val() == "3") {

                    $("#PaymentControl").show();

                    var AmountApplicable = 0;
                    $(".clsAmount").each(function () {
                        AmountApplicable = parseFloat(AmountApplicable) + parseFloat($(this).val());
                    });
                    $("#WAD_AmountApplicable").val(AmountApplicable)
                    $("#PAYMENTMODE_1__NETAMOUNT").val(AmountApplicable)
                    $("#PAYMENTMODE_1__AmountApplicable").val(AmountApplicable)
                    $("#PAYMENTMODE_1__NETAMOUNT").val(AmountApplicable)

                    $("#PaymentPart :input").attr("disabled", true);
                    $("#PaymentPart1 :input").attr("disabled", true);

                    $("#btnApprovSubmit").click(function () {

                        Formvalidate(DomainName);
                        if ($('#form_sample').valid()) {
                            App.blockUI({ boxed: true });

                            $("#PaymentPart :input").attr("disabled", false);
                            $("#PaymentPart1 :input").attr("disabled", false);
                            $("#container :input").attr("disabled", false);

                            $('#form_sample').attr('action', DomainName + '/BranchAccounting/Accounting_Payment_Submit');
                            document.forms["form_sample"].submit()
                            $('#form_sample').submit();
                        }
                    });
                }

                $(".clsOthrExpence_PassedAmount").change(function () {
                    var ID = $(this).attr("Id").replace("CPEEDET_", "").replace("__Amount_Passed", "");
                    var Totl = $("#CPEEDET_" + ID + "__Amount").val();
                    var PassedAmt = $("#CPEEDET_" + ID + "__Amount_Passed").val();
                    var Reject = parseInt(Totl) - parseInt(PassedAmt);
                    $("#CPEEDET_" + ID + "__Amount_Rejected").val(Reject);
                });
            }
        }
    }();
</script>

@*<script type="text/javascript" src="@Url.Content("~/Scripts/AccountControl.js")"></script>*@




