﻿@model Fleet.ViewModels.ExpensesMasters

@{
    ViewBag.Title = "Porter Expense Master";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var PorteTypeList = new List<SelectListItem>
               {
               new SelectListItem{Text="Unionu",Value="U"},
               new SelectListItem{Text="Employed",Value="E"},
               new SelectListItem{Text="Contractual",Value="C"},
               new SelectListItem{Text="Leasel",Value="L"},
               };
}

@using (Html.BeginForm("PorterExpenseMasterSubmit", "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>
                    <div class="caption pull-right">
                        <a href="@Url.Content("~/Master/ExportData?MethodName=PorterExpense&FileName=Porter Expense Master")" class="btn default btn-xs controls"><i class="fa fa-download"></i>&nbsp;Download Excel </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label class="control-label col-md-4">Select Branch : </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.CPE.BRCD, new { placeholder = "Select Branch Location", @class = "form-control required required2" })
                                        @Html.HiddenFor(c => c.CPE.ID)
                                        @Html.Hidden("Add_Details_Count", Model.CPEListing.Count())
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sample_ven">
                            <div class="row col-md-12">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th style="white-space: pre-line">Station Name</th>
                                            <th style="white-space: pre-line">Porter Type</th>
                                            <th style="white-space: pre-line">Rate Charged</th>
                                            <th class="center" style="white-space: pre-line">Marker</th>
                                            <th class="center" style="white-space: pre-line">Handling</th>
                                            <th class="center" style="white-space: pre-line">Other</th>
                                            <th class="center" style="white-space: pre-line">Delete</th>
                                        </tr>
                                    </thead>

                                    <tbody id="Bodycontainer">
                                        @foreach (var item in Model.CPEListing)
                                        {
                                            Html.RenderPartial("_Porter_Expenses_Master_Partial", item);
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="row"><button type="button" id="btnAddNewRow" class="btn btn-sm blue pull-right">Add New Row</button></div>
                            <br />
                            <div class="form-actions fluid">
                                <div class="row">
                                    <div class="col-md-offset-4 col-md-8">
                                        <button type="button" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //document.form["form_sample"].submit();
                }
            });
        }

        var AddDetails = function (DomainName, itemIn, Type) {

            var StrURL1 = DomainName + '/BranchAccounting/_Add_Porter_Expenses_Details/' + itemIn + '?BRCD=' + $("#CPE_BRCD").val() + '&Type=' + Type;
            App.blockUI({ boxed: true });

            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    var Rid = itemIn;
                    $("#Bodycontainer").append(html);
                    App.unblockUI();
                    $("input:checkbox, input:radio").uniform();
                    $(".deleteRow").live("click", function () {
                        $(this).parents("tr.editorRow:first").remove();
                        return false;
                    });

                    $("#sample_ven").show();
                    $("#btnSubmit").show();
                    if (Type == "1") {
                        $(".select2").select2({
                            placeholder: "Select an option",
                            allowClear: true
                        });

                        AddDetails(DomainName, "1", "0");

                    }
                    if (Type == "0") {
                        $("#Add_Details_Count").val(itemIn);

                        $("#CPE_" + itemIn + "__Porter_Type").select2({
                            placeholder: "Select an option",
                            allowClear: true
                        });
                    }
                },
                error: function (req, status, error) {
                    alert("error " + req + "   " + status + "   " + error);
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);

                StrURL = DomainName + "/Operation/GetDestinationLocations";
                JsonDDLSelectCode("CPE_BRCD", StrURL);
                $("#sample_ven").hide();



                $("#CPE_BRCD").change(function () {
                    if ($("#CPE_BRCD").val() != "") {
                        var itemIndex = parseInt($("#Add_Details_Count").val()) + parseInt(1);
                        AddDetails(DomainName, itemIndex, "1");
                    }
                });

                $("#btnAddNewRow").click(function () {
                    var itemIndex = parseInt($("#Add_Details_Count").val()) + parseInt(1);
                    App.blockUI({ boxed: true });
                    AddDetails(DomainName, itemIndex, "0");
                });

                if ($("#Add_Details_Count").val() == "0") {
                    $("#btnSubmit").hide();
                }

                //alert($("#CPE_BRCD").val() + '--' + $("#Add_Details_Count").val());

                $('#btnSubmit').click(function () {

                    Formvalidate(DomainName);
                    if ($('#form_sample').valid()) {
                        App.blockUI({ boxed: true });
                        document.forms["form_sample"].submit()
                    }

                });
            }
        }
    }();
</script>
