﻿@{
    ViewBag.Title = "Porter Expenses Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>Branch Accouting Entry Done Successfully
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Porter Expenses Done
                            </th>
                            @*<th>
                                Action
                            </th>*@
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@ViewBag.No</b>
                            </td>
                            @*<td>
                                <a target="_blank" href="#" class="fa fa-print" id="ReportFrame"><b>&nbsp;View/Print</b></a>

                            </td>*@
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                Click on Number for View and Print .
            </span>
        </div>
    </div>
</div>