﻿@model Fleet.ViewModels.ExpensesEntryModule
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.OperationService CSOPN = new FleetDataService.OperationService();
    List<webx_acctinfo>
    ListTDSSection = CSOPN.GetTDSSectionList();
    string ActionName = @ViewBag.ActionName;

    objDate BRDate = new objDate();
    BRDate.ControlId = "CPEE_HDR.BR_Date";
    BRDate.ControlValue = Model.CPEE_HDR.BR_Date.ToString();
    BRDate.ModuleCode = "20";
}

@using (Html.BeginForm(ActionName, "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="form-group" id="PaymentPart">
                            @Html.HiddenFor(m => m.CPEE_HDR.DocumentNo)
                            @Html.HiddenFor(m => m.CPEE_HDR.ExpenceType)
                            @Html.HiddenFor(m => m.CPEE_HDR.BillNo)
                            @Html.HiddenFor(m => m.CPEE_HDR.Display_Name_Of_Vendor)
                            @Html.HiddenFor(m => m.SubType)
                            @*@Html.HiddenFor(m => m.Type)*@
                            @Html.HiddenFor(m => m.Type2)

                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">NAME OF EMPLOYEE</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.CPEE_HDR.EmpCode, new { placeholder = "Name Of Employee", @class = "form-control required required2" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">EMPLOYEE CODE</label>
                                    <div class="col-md-8">
                                        @Html.TextBox("ShowEmpCode", Model.CPEE_HDR.EmpCode, new { placeholder = "Employee Code", @class = "form-control required required2", @readonly = "true" })
                                        @Html.HiddenFor(c => c.CPEE_HDR.EmpName)
                                    </div>
                                </div>
                                <div class="col-md-4 form-group clsApproval">
                                    <label class="control-label col-md-4">NAME OF BANK</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.CPEE_HDR.BankName, new { placeholder = "Name Of bank", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                                @*</div>
                                    <div class="col-md-12">*@
                                <div class="col-md-4 form-group clsApproval">
                                    <label class="control-label col-md-4">BANK A/C NUMBER</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.CPEE_HDR.BankAccNumber, new { placeholder = "Bank A/C Number", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group clsApproval">
                                    <label class="control-label col-md-4">IFSC CODE</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.CPEE_HDR.IFSCCode, new { placeholder = "IFSC Code", @class = "form-control ", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Other Payee</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.CPEE_HDR.NameOFPayee, new { placeholder = "Other Payee", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">NAME OF VENDOR</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.CPEE_HDR.NameOfVendor, new { placeholder = "Name of Vendor", @class = "m-wrap form-control required required2" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group clsApproval">
                                    <label class="control-label col-md-4">VENDOR A/C NO</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.CPEE_HDR.VendorAccNo, new { placeholder = "Vendor A/c No", @class = "form-control ", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">THC NO</label>
                                    <div class="col-md-8">
                                        @Html.DisplayFor(c => c.CPEE_HDR.DocumentNo, new { placeholder = "THC No", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">NUMBER OF DOKET</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.CPEE_HDR.NoOfDocket, new { placeholder = "Number Of Doket", @class = "form-control required required2", @readonly = "true", @min = "1" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">ACTUAL WEIGHT</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.CPEE_HDR.ActualWeight, new { placeholder = "Actual Weight", @class = "form-control required required2", @readonly = "true", @min = "1" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">NUMBER OF PACKEGE</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.CPEE_HDR.NoOfPackage, new { placeholder = "Number of Packege", @class = "form-control required required2", @readonly = "true", @min = "1" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">BR Date</label>
                                    <div class="col-md-8">
                                        @{
                                            @Html.TextBox("CPEE_HDR.BR_Date", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.CPEE_HDR.BR_Date).ToString("dd MMM yyyy")), new { @class = "form-control required2", @readonly = "True", @style = "padding-right: 0px;" })
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Porter Expense Entry
                    </div>
                    <div class="caption pull-right">
                        <a class="btn default blue-stripe  btn-xs" target="_blank" href="@Url.Content("~/ViewPrint/PorterExpenseEntry?BillNo=" + @Model.CPEE_HDR.BillNo)">
                            <i class="fa fa-print"></i>
                            View Print
                        </a>
                    </div>                   
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <div id="PaymentPart1">
                            <table id="sample_ven" class="table table-bordered">
                                <thead>
                                    <tr>
                                        @if (@*Model.SubType == 2 ||*@ ViewBag.SubType == 1)
                                        {
                                            <th style="white-space: pre-line">#</th>
                                        }
                                        <th style="white-space: pre-line">MANIFEST NUMBER</th>
                                        <th style="white-space: pre-line">DOCKET COUNT</th>
                                        <th style="white-space: pre-line">ACTUAL WEIGHT</th>
                                        <th style="white-space: pre-line">NUMBER OF PKGS</th>
                                        <th style="white-space: pre-line">PORTER TYPE</th>
                                        <th style="white-space: pre-line">NAME OF STATION</th>
                                        <th style="white-space: pre-line">DATE OF EXPENSE INCURRED</th>
                                        <th style="white-space: pre-line">RATE CHARGED (COLUMN M/F)</th>
                                        <th style="white-space: pre-line">PORTER EXPENSE</th>
                                        <th style="white-space: pre-line">OTHES EXPENCE</th>
                                        <th style="white-space: pre-line">MARKER</th>
                                        <th style="white-space: pre-line">HANDLING INSIDE THE PLATFORM</th>
                                        <th style="white-space: pre-line">TOTAL CLAIM MADE (EXCLUDING HANDLING)</th>
                                        <th style="white-space: pre-line">TOTAL CLAIM (INCLUDING HANDLIG)</th>
                                        <th style="white-space: pre-line">PER PACKAGES COST (PKGS)</th>
                                        <th style="white-space: pre-line">PER KGS COST (WEIGHT)</th>
                                        <th style="white-space: pre-line">Image</th>
                                        @if (Model.SubType == 2 || Model.SubType == 3)
                                        {
                                            <th style="white-space: pre-line">AMOUNT PASSED</th>
                                            <th style="white-space: pre-line">AMOUNT REJECTED</th>
                                            <th style="white-space: pre-line">REASON FOR REJECTED</th>
                                        }
                                    </tr>
                                </thead>

                                <tbody id="Voucher">
                                    @foreach (var item in Model.ListCPEE_DET)
                                    {
                                        Html.RenderPartial("_PorterExpenses", item);
                                    }
                                </tbody>

                                <tbody>
                                    <tr>
                                        @if (@*ViewBag.SubType == 2 ||*@ ViewBag.SubType == 1)
                                        {
                                            <th></th>
                                        }
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th id="Rate_Charged_Tot"></th>
                                        <th id="Porter_Expense_Tot"></th>
                                        <th id="OtherTot"></th>
                                        <th id="MarkerTot"></th>
                                        <th id="HandlingInsideThePlatFormTot"></th>
                                        <th id="TotalClaimMade_ExlHandlingTot"></th>
                                        <th id="TotalClaim_IncHandlingTot">@Html.Hidden("TotalClaim_IncHandlingTot")</th>
                                        <th id="PerKGCost_PKGTot"></th>
                                        <th id="PerKGCost_WeightTot"></th>
                                        @if (Model.SubType == 2 || Model.SubType == 2)
                                        {
                                            <th></th>
                                            <th class="center form-group">
                                                @Html.TextBox("Amount_Passed_Tot", "", new { @class = "form-control required required2", @readonly = "true", @number = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @placeholder = "Total Amount" })
                                            </th>
                                            <th class="center form-group">
                                                @Html.TextBox("Amount_Rejected_Tot", "", new { @class = "form-control required required2", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @placeholder = "Total Amount" })
                                            </th>
                                            <th></th>
                                        }

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="PaymentControl">
                            @if (Model.SubType == 3)
                            {
                                @*@Html.Partial("_BranchAccounting_PaymentPart", Model);*@

                                <hr />
                                <div class="form-group">
                                    @foreach (var itms in Model.WADListing)
                                    {
                                        itms.Vouchertype = "BranchAccountingType";
                                        @*@Html.Partial("../Voucher/_PaymentModePartial", itms)*@
                                        @Html.Partial("../Voucher/_PaymentModePartiaBranchAccounting", itms)
                                        
                                    }
                                </div>
                            }
                        </div>

                        <div class="form-actions fluid" id="SubmitBtn">
                            @{
                                @Html.Partial("_BranchAcct_SubmitPartial", Model)
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*<script type="text/javascript" src="~/Scripts/baseFunction.js"></script>*@
<script src="~/Scripts/BranchAccounting/BranchAccounting.js?ver<%=DateTime.Now.Ticks.ToString()%>" type="text/javascript"></script>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var select2Date = function (DomainName) {

            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });

            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: new Date(),
                    // endDate: new Date(),
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //document.form["form_sample"].submit();
                }
            });
        }

        var checkBoxEvents = function (DomainName, ID) {

            var Unionu = "CPEEDET_" + ID + "__Unionu";
            var Employed = "CPEEDET_" + ID + "__Employed";
            var Econtractual = "CPEEDET_" + ID + "__Econtractual";
            var Leasel = "CPEEDET_" + ID + "__Leasel";
            var PerKGS = "CPEEDET_" + ID + "__PerKGS";
            var PerPackage = "CPEEDET_" + ID + "__PerPackage";

            $("#" + Unionu).attr("value", "false");
            $("#" + Employed).attr("value", "false");
            $("#" + Econtractual).attr("value", "false");
            $("#" + Leasel).attr("value", "false");
            $("#" + PerKGS).attr("value", "false");
            $("#" + PerPackage).attr("value", "false");

            $('#' + Unionu).click(function () {
                var checked = jQuery(this).is(":checked");
                $("#" + Unionu).val(checked);
            });
            $('#' + Employed).click(function () {
                var checked = jQuery(this).is(":checked");
                $("#" + Employed).val(checked);
            });
            $('#' + Econtractual).click(function () {
                var checked = jQuery(this).is(":checked");
                $("#" + Econtractual).val(checked);
            });
            $('#' + Leasel).click(function () {
                var checked = jQuery(this).is(":checked");
                $("#" + Leasel).val(checked);
            });
            $('#' + PerKGS).click(function () {
                var checked = jQuery(this).is(":checked");
                $("#" + PerKGS).val(checked);
            });
            $('#' + PerPackage).click(function () {
                var checked = jQuery(this).is(":checked");
                $("#" + PerPackage).val(checked);
            });
        }

        //var IsServicetaxCalculated = function (DomainName, Prefix) {

        //    if ($('#WAD_IsServicetaxapply').prop('checked')) {

        //        $('#WAD_ServiceTaxRate').attr("readonly", false);
        //        $('#WAD_ServiceTaxRate').attr("readonly", false);
        //        $('#WAD_ServiceTaxRate').val($("#HdnServiceTaxRate").val());
        //        $('#WAD_ServiceTaxRate').attr("readonly", true);

        //        var servicetaxrate = $("#HdnServiceTaxRate").val();
        //        var ApplicaleAmount = $("#WAD_AmountApplicable").val();
        //        var Servicetax = parseFloat(ApplicaleAmount) * parseFloat(servicetaxrate) / 100;

        //        var TotalAmount = parseFloat(ApplicaleAmount) + parseFloat(Servicetax);
        //        // alert("ApplicaleAmount=" + ApplicaleAmount + "--Servicetax=" + Servicetax + "--TotalAmount=" + TotalAmount);

        //        $("#WAD_ServiceTax").val(Math.round(Servicetax));
        //        $("#WAD_AmountApplicableForTDS").val(TotalAmount);
        //        $("#" + Prefix + "NETAMOUNT").val(Math.round(TotalAmount));
        //        $("#" + Prefix + "AmountApplicable").val(Math.round(TotalAmount));
        //    }
        //    else {
        //        $('#WAD_ServiceTaxRate').attr('readonly', true);
        //        $('#WAD_ServiceTaxRate').val(0)
        //        $("#WAD_ServiceTax").val(0);
        //        var ApplicaleAmount = $("#WAD_AmountApplicable").val();
        //        $("#WAD_AmountApplicableForTDS").val(Math.round(ApplicaleAmount));
        //    }

        //    if ($('#WAD_IsTDStaxapply').prop('checked')) {

        //        $('#WAD_TDSRate').attr("readonly", false);
        //        //$("#WAD_TDSAmount").attr("readonly", false);
        //        var TDSrate = $("#WAD_TDSRate").val();
        //        var TDSApplicaleAmount = $("#WAD_AmountApplicableForTDS").val();
        //        var TDStax = parseFloat(TDSApplicaleAmount) * parseFloat(TDSrate) / 100;
        //        var TotalAmount = parseFloat(TDSApplicaleAmount) - parseFloat(TDStax);

        //        $("#WAD_TDSSection").addClass("required required2");
        //        $("#WAD_TDSSection").attr("readonly", false);
        //        $("#WAD_TDSAmount").val(Math.round(TDStax));

        //        $("#" + Prefix + "NETAMOUNT").val(Math.round(TotalAmount));
        //        $("#" + Prefix + "AmountApplicable").val(Math.round(TotalAmount));

        //        $(".clsTotal").val(Math.round(TotalAmount));
        //        if ($('#' + Prefix + 'PaymentMode').val() == "Cash") {
        //            $("#" + Prefix + "CashAmount").val(Math.round(TotalAmount));
        //        }
        //        else if ($('#' + Prefix + 'PaymentMode').val() == "Bank") {
        //            $("#" + Prefix + "ChequeAmount").val(Math.round(TotalAmount));
        //        }
        //        else {
        //            $("#" + Prefix + "ChequeAmount").val(0);
        //            $("#" + Prefix + "CashAmount").val(0);
        //        }
        //    }
        //    else {
        //        $('#WAD_TDSRate').attr("readonly", true);
        //        $('#WAD_TDSRate').val(0);
        //        $("#WAD_TDSAmount").val(0);
        //        $("#WAD_TDSAmount").attr("readonly", true);
        //        var ApplicaleAmount = $("#WAD_AmountApplicableForTDS").val();
        //        $("#WAD_AmountApplicableForTDS").val(ApplicaleAmount);
        //        $("#" + Prefix + "NETAMOUNT").val(Math.round($("#WAD_SumAmount").val()));

        //        $("#" + Prefix + "AmountApplicable").val(Math.round(ApplicaleAmount/*$("#WAD_SumAmount").val()*/));

        //        $(".clsTotal").val(Math.round(ApplicaleAmount));

        //        $("#WAD_TDSSection").val("");
        //        $("#WAD_TDSSection").select2().find(":selected").data("");
        //        $("#WAD_TDSSection").removeClass("required required2");
        //        $("#WAD_TDSSection").attr("readonly", true);

        //        if ($('#' + Prefix + 'PaymentMode').val() == "Cash") {
        //            $("#" + Prefix + "CashAmount").val(Math.round(ApplicaleAmount));
        //        }
        //        else if ($('#' + Prefix + 'PaymentMode').val() == "Bank") {
        //            $("#" + Prefix + "ChequeAmount").val(Math.round(ApplicaleAmount));
        //        }
        //        else {
        //            $("#" + Prefix + "ChequeAmount").val(0);
        //            $("#" + Prefix + "CashAmount").val(0);
        //        }
        //    }
        //}

        var Calculation = function (DomainName, ID) {

            var CheckBox = ID + "CheckBox";
            var StdRate = ID + "StdRate";
            var RateCharged = ID + "RateCharged";
            var PortelPaidPerBranch = ID + "PortelPaidPerBranch";
            var OtherTSPEtc = ID + "OtherTSPEtc";
            var Marker = ID + "Marker";
            var HandlingInsideThePlatForm = ID + "HandlingInsideThePlatForm";
            var TotalClaimMade_ExlHandling = ID + "TotalClaimMade_ExlHandling";
            var TotalClaim_IncHandling = ID + "TotalClaim_IncHandling";
            var PerKGCost_PKG = ID + "PerKGCost_PKG";
            var PerKGCost_Weight = ID + "PerKGCost_Weight";
            var PerKG_AmountPaid_ActualWeight = ID + "PerKG_AmountPaid_ActualWeight";
            var AmountPaid_Per_Branch = ID + "AmountPaid_Per_Branch";
            var StdRate_Val = $("#" + StdRate).val();
            var RateCharged_Val = $("#" + RateCharged).val();
            var PortelPaidPerBranch_Val = $("#" + PortelPaidPerBranch).val();
            var OtherTSPEtc_Val = $("#" + OtherTSPEtc).val();
            var Marker_Val = $("#" + Marker).val();
            var HandlingInsideThePlatForm_Val = $("#" + HandlingInsideThePlatForm).val();
            var TotalClaimMade_ExlHandling_Val = $("#" + TotalClaimMade_ExlHandling).val();
            var TotalClaim_IncHandling_Val = $("#" + TotalClaim_IncHandling).val();
            var PerKGCost_PKG_Val = $("#" + PerKGCost_PKG).val();
            var PerKGCost_Weight_Val = $("#" + PerKGCost_Weight).val();
            var PerKG_AmountPaid_ActualWeight_Val = $("#" + PerKG_AmountPaid_ActualWeight).val();
            var AmountPaid_Per_Branch_Val = $("#" + AmountPaid_Per_Branch).val();

            var Total_TotalClaimMade_ExlHandling = /*parseFloat(RateCharged_Val) + */parseFloat(PortelPaidPerBranch_Val) +
                                                   parseFloat(OtherTSPEtc_Val) + parseFloat(Marker_Val);
            $("#" + TotalClaimMade_ExlHandling).val(Total_TotalClaimMade_ExlHandling);

            var Total_TotalClaim_IncHandling = /*parseFloat(RateCharged_Val) +*/ parseFloat(PortelPaidPerBranch_Val) +
                                                   parseFloat(OtherTSPEtc_Val) + parseFloat(HandlingInsideThePlatForm_Val) + parseFloat(Marker_Val);
            $("#" + TotalClaim_IncHandling).val(Total_TotalClaim_IncHandling);

            var StdRate_Tot = "0";
            $(".clsStdRate").each(function () {
                var ID = $(this).attr("id").replace("StdRate", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    StdRate_Tot = parseFloat(StdRate_Tot) + parseFloat($(this).val());
                }
                else if ($("#SubType").val() == "2") {
                    StdRate_Tot = parseFloat(StdRate_Tot) + parseFloat($(this).val());
                }
            });
            $("#StdRateTot").html(StdRate_Tot);

            var RateCharged_Tot = "0";
            $(".clsRateCharged").each(function () {
                var ID = $(this).attr("id").replace("RateCharged", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    RateCharged_Tot = parseFloat(RateCharged_Tot) + parseFloat($(this).val());
                }
                else if ($("#SubType").val() == "2") {
                    RateCharged_Tot = parseFloat(RateCharged_Tot) + parseFloat($(this).val());
                }
            });
            $("#Rate_Charged_Tot").html(parseFloat(RateCharged_Tot).toFixed(2));

            var PortelPaidPerBranch_Tot = "0";
            $(".clsPortelPaidPerBranch").each(function () {
                var ID = $(this).attr("id").replace("PortelPaidPerBranch", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    PortelPaidPerBranch_Tot = parseFloat(PortelPaidPerBranch_Tot) + parseFloat($(this).val());
                }
                else if ($("#SubType").val() == "2") {
                    PortelPaidPerBranch_Tot = parseFloat(PortelPaidPerBranch_Tot) + parseFloat($(this).val());
                }
                var Rate_Charged = 0;
                Rate_Charged = parseFloat($(this).val()) / parseFloat($("#" + ID + "NoOfPKGS").val());
                $("#" + ID + "RateCharged").val(parseFloat(Rate_Charged).toFixed(2));
            });
            $("#Porter_Expense_Tot").html(parseFloat(PortelPaidPerBranch_Tot).toFixed(2));

            var OtherTSPEtc_Tot = "0";
            $(".clsOtherTSPEtc").each(function () {
                var ID = $(this).attr("id").replace("OtherTSPEtc", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    OtherTSPEtc_Tot = parseFloat(OtherTSPEtc_Tot) + parseFloat($(this).val());
                }
                else if ($("#SubType").val() == "2") {
                    OtherTSPEtc_Tot = parseFloat(OtherTSPEtc_Tot) + parseFloat($(this).val());
                }
            });
            $("#OtherTot").html(parseFloat(OtherTSPEtc_Tot).toFixed(2));

            var Marker_Tot = "0";
            $(".clsMarker").each(function () {
                var ID = $(this).attr("id").replace("Marker", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    Marker_Tot = parseFloat(Marker_Tot) + parseFloat($(this).val());
                }
                else if ($("#SubType").val() == "2") {
                    Marker_Tot = parseFloat(Marker_Tot) + parseFloat($(this).val());
                }
            });
            $("#MarkerTot").html(Marker_Tot);

            var HandlingInsideThePlatForm_Tot = "0";
            $(".clsHandlingInsideThePlatForm").each(function () {
                var ID = $(this).attr("id").replace("HandlingInsideThePlatForm", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    HandlingInsideThePlatForm_Tot = parseFloat(HandlingInsideThePlatForm_Tot) + parseFloat($(this).val());
                }
                else if ($("#SubType").val() == "2") {
                    HandlingInsideThePlatForm_Tot = parseFloat(HandlingInsideThePlatForm_Tot) + parseFloat($(this).val());
                }
            });
            $("#HandlingInsideThePlatFormTot").html(HandlingInsideThePlatForm_Tot);

            var TotalClaimMade_ExlHandling_Tot = "0";
            $(".clsTotalClaimMade_ExlHandling").each(function () {
                var ID = $(this).attr("id").replace("TotalClaimMade_ExlHandling", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    TotalClaimMade_ExlHandling_Tot = parseFloat(TotalClaimMade_ExlHandling_Tot) + parseFloat($(this).val());
                }
                else if ($("#SubType").val() == "2") {
                    TotalClaimMade_ExlHandling_Tot = parseFloat(TotalClaimMade_ExlHandling_Tot) + parseFloat($(this).val());
                }
            });
            $("#TotalClaimMade_ExlHandlingTot").html(TotalClaimMade_ExlHandling_Tot);

            var TotalClaim_IncHandling_Tot = "0";
            $(".clsTotalClaim_IncHandling").each(function () {
                var ID = $(this).attr("id").replace("TotalClaim_IncHandling", "");
                var PerKGCost_PKG = 0;
                var PerKGCost_Weight = 0;

                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    TotalClaim_IncHandling_Tot = parseFloat(TotalClaim_IncHandling_Tot) + parseFloat($(this).val());
                    PerKGCost_PKG = parseFloat($("#" + ID + "TotalClaim_IncHandling").val()) / parseFloat($("#" + ID + "NoOfPKGS").val());
                    PerKGCost_Weight = parseFloat($("#" + ID + "TotalClaim_IncHandling").val()) / parseFloat($("#" + ID + "ActualWeight").val());
                }
                else if ($("#SubType").val() == "2") {
                    TotalClaim_IncHandling_Tot = parseFloat(TotalClaim_IncHandling_Tot) + parseFloat($(this).val());
                    PerKGCost_PKG = parseFloat($("#" + ID + "TotalClaim_IncHandling").val()) / parseFloat($("#" + ID + "NoOfPKGS").val());
                    PerKGCost_Weight = parseFloat($("#" + ID + "TotalClaim_IncHandling").val()) / parseFloat($("#" + ID + "ActualWeight").val());
                }
                $("#" + ID + "PerKGCost_PKG").val(parseFloat(PerKGCost_PKG).toFixed(2));
                $("#" + ID + "PerKGCost_Weight").val(parseFloat(PerKGCost_Weight).toFixed(2));
            });

            $("#TotalClaim_IncHandlingTot").html(TotalClaim_IncHandling_Tot);
            $("#TotalClaim_IncHandlingTot").val(TotalClaim_IncHandling_Tot)

            var PerKGCost_PKG_Tot = "0";
            $(".clsPerKGCost_PKG").each(function () {
                var ID = $(this).attr("id").replace("PerKGCost_PKG", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    PerKGCost_PKG_Tot = parseFloat(PerKGCost_PKG_Tot) + parseFloat($(this).val());
                }
                else if ($("#SubType").val() == "2") {
                    PerKGCost_PKG_Tot = parseFloat(PerKGCost_PKG_Tot) + parseFloat($(this).val());
                }
            });
            $("#PerKGCost_PKGTot").html(parseFloat(PerKGCost_PKG_Tot).toFixed(2));

            var PerKGCost_Weight_Tot = "0";
            $(".clsPerKGCost_Weight").each(function () {
                var ID = $(this).attr("id").replace("PerKGCost_Weight", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    PerKGCost_Weight_Tot = parseFloat(PerKGCost_Weight_Tot) + parseFloat($(this).val());
                }
                else if ($("#SubType").val() == "2") {
                    PerKGCost_Weight_Tot = parseFloat(PerKGCost_Weight_Tot) + parseFloat($(this).val());
                }
            });
            $("#PerKGCost_WeightTot").html(PerKGCost_Weight_Tot);

            var Amount_Passed_Tot = "0";
            $(".clsAmount_Passed").each(function () {
                var ID = $(this).attr("id").replace("Amount_Passed", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    Amount_Passed_Tot = parseFloat(Amount_Passed_Tot) + parseFloat($(this).val());
                }
                else if ($("#SubType").val() == "2") {
                    Amount_Passed_Tot = parseFloat(Amount_Passed_Tot) + parseFloat($(this).val());
                }
            });
            $("#Amount_Passed_Tot").html(parseFloat(Amount_Passed_Tot).toFixed(2));

            var Amount_Rejected_Tot = "0";
            $(".clsAmount_Rejected").each(function () {
                var ID = $(this).attr("id").replace("Amount_Rejected", "");
                var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                if (checked) {
                    Amount_Rejected_Tot = parseFloat(Amount_Rejected_Tot) + parseFloat($(this).val());
                }
                else if ($("#SubType").val() == "2") {
                    Amount_Rejected_Tot = parseFloat(Amount_Rejected_Tot) + parseFloat($(this).val());
                }
            });
            $("#Amount_Rejected_Tot").html(parseFloat(Amount_Rejected_Tot).toFixed(2));

        }

        /* Acouting Calculation */
        var Accounting_Calculation = function (DomainName, Prefix) {
            IsServicetaxCalculated(DomainName, Prefix)
            OnLoadFunction(DomainName, Prefix)

            $("#WAD_IsServicetaxapply").change(function () {
                IsServicetaxCalculated(DomainName, Prefix);
            })
            $("#WAD_IsTDStaxapply").change(function () {
                IsServicetaxCalculated(DomainName, Prefix);
            })
            $("#WAD_TDSRate").focusout(function () {
                IsServicetaxCalculated(DomainName, Prefix);
            })
        }

        //var OnLoadFunction = function (DomainName, Prefix) {

        //    //var GetChequedate = $("#" + Prefix + "Chequedate").val();

        //    //$("#" + Prefix + "TransactionMode").change(function () {

        //    //    $("#" + Prefix + "CashAmount").val(0);
        //    //    $("#" + Prefix + "ChequeAmount").val(0);
        //    //    $("#" + Prefix + "ChequeNo").val("");
        //    //    $("#" + Prefix + "Chequedate").val("");
        //    //    $("#" + Prefix + "ReceivedFromBank").val("");
        //    //    $("#" + Prefix + "PaymentMode").val("");
        //    //    $("#" + Prefix + "PaymentMode").select2().find(":selected").data("");
        //    //    $("#" + Prefix + "CashAccount").select2('data', null);
        //    //    $("#" + Prefix + "DepositedInBank").select2('data', null);

        //    //    if ($("#" + Prefix + "TransactionMode").val() == "PAYMENT") {
        //    //        //$("input[name=optionsRadios1]").attr("disabled", true);
        //    //        //$('#' + Prefix + 'IsonAccount').attr("disabled", true);
        //    //        //$('#' + Prefix + 'IsonAccount').attr("checked", false);
        //    //        //$('#' + Prefix + 'IsonAccount').parent('span').removeClass('checked');
        //    //        //$('#' + Prefix + 'IsonAccount').val(false);CASHBANKLABEL
        //    //        $('#labelBank').text("Issued in bank");
        //    //        $('#CASHBANKLABEL').hide();
        //    //    }
        //    //    else {

        //    //        //$("input[name=optionsRadios1]").attr("disabled", false);
        //    //        //$('#' + Prefix + 'IsonAccount').attr("checked", false);
        //    //        //$('#' + Prefix + 'IsonAccount').parent('span').removeClass('checked');
        //    //        //$('#' + Prefix + 'IsonAccount').val(false);
        //    //        $('#labelBank').text("Deposited in bank");
        //    //        $("#" + Prefix + "DepositedInBank").attr("disabled", true);
        //    //        $('#CASHBANKLABEL').show();
        //    //    }
        //    //});

        //    //$("#" + Prefix + "PaymentMode").change(function () {

        //    //    var PaymentMode = $(this).val();

        //    //    if (PaymentMode == "Cash") {

        //    //        App.blockUI({ boxed: true });

        //    //        var StrURL = DomainName + "/Voucher/GetBankCashList?Type=" + PaymentMode;
        //    //        $("#" + Prefix + "CashAccount").select2('data', null);
        //    //        $("#" + Prefix + "DepositedInBank").select2('data', null);
        //    //        $("#" + Prefix + "DepositedInBank").attr("disabled", true);
        //    //        $("#" + Prefix + "CashAccount").attr("disabled", false);
        //    //        FillDropDownfromOther(Prefix + "CashAccount", StrURL, "Cash Account");
        //    //        $("#" + Prefix + "CashAccount option:selected").remove();
        //    //        $("#" + Prefix + "ChequeAmount").val(0);
        //    //        $("#" + Prefix + "CashAmount").val($(".clsTotal").val());
        //    //        $("#" + Prefix + "CashAmount").attr("readonly", true);
        //    //        $("#" + Prefix + "ChequeNo").attr("disabled", true);
        //    //        $("#" + Prefix + "ChequeAmount").attr("readonly", true);
        //    //        $("#" + Prefix + "Chequedate").attr("disabled", true);
        //    //        $("#" + Prefix + "Chequedate").val("");
        //    //        $(".input-group-btn").hide();
        //    //        //$('#' + Prefix + 'IsonAccount').attr("checked", false);
        //    //        //$('#' + Prefix + 'IsonAccount').parent('span').removeClass('checked');
        //    //        //$('#' + Prefix + 'IsonAccount').val(false);
        //    //        $("#" + Prefix + "ReceivedFromBank").removeClass('required required2');
        //    //        $("#" + Prefix + "CashAccount").addClass('required required2');
        //    //        $("#" + Prefix + "DepositedInBank").removeClass('required required2');

        //    //        App.unblockUI();
        //    //    }

        //    //    else if (PaymentMode == "Bank") {

        //    //        App.blockUI({ boxed: true });

        //    //        var StrURL = DomainName + "/Voucher/GetBankCashList?Type=" + PaymentMode;
        //    //        $("#" + Prefix + "DepositedInBank").select2('data', null);
        //    //        $("#" + Prefix + "CashAccount").select2('data', null);
        //    //        $("#" + Prefix + "DepositedInBank").attr("disabled", false);
        //    //        $("#" + Prefix + "CashAccount").attr("disabled", true);
        //    //        FillDropDownfromOther(Prefix + "DepositedInBank", StrURL, "Bank Account");
        //    //        $(".input-group-btn").show();
        //    //        $("#" + Prefix + "CashAmount").val(0);
        //    //        $("#" + Prefix + "CashAmount").attr("readonly", true);
        //    //        $("#" + Prefix + "ChequeAmount").val($(".clsTotal").val());
        //    //        $("#" + Prefix + "ChequeAmount").attr("readonly", true);
        //    //        $("#" + Prefix + "ChequeNo").attr("disabled", false);
        //    //        $("#" + Prefix + "Chequedate").attr("disabled", false);
        //    //        $("#" + Prefix + "Chequedate").val(GetChequedate);
        //    //        $("#" + Prefix + "ChequeNo").addClass('required required2');
        //    //        $("#" + Prefix + "ReceivedFromBank").addClass('required required2');
        //    //        $("#" + Prefix + "CashAccount").removeClass('required required2');
        //    //        $("#" + Prefix + "DepositedInBank").addClass('required required2');

        //    //        App.unblockUI();
        //    //    }
        //    //    else {

        //    //        App.blockUI({ boxed: true });

        //    //        var StrURL = DomainName + "/Voucher/GetBankCashList?Type=Cash";
        //    //        $("#" + Prefix + "CashAccount").select2('data', null);
        //    //        FillDropDownfromOther(Prefix + "CashAccount", StrURL, "Cash Account");
        //    //        var StrURL1 = DomainName + "/Voucher/GetBankCashList?Type=Bank";
        //    //        $("#" + Prefix + "DepositedInBank").select2('data', null);
        //    //        FillDropDownfromOther(Prefix + "DepositedInBank", StrURL1, "Bank Account");
        //    //        $("#" + Prefix + "CashAmount").val(0);
        //    //        $("#" + Prefix + "ChequeAmount").val(0);
        //    //        $("#" + Prefix + "ChequeNo").attr("disabled", false);
        //    //        $("#" + Prefix + "CashAmount").attr("readonly", false);
        //    //        $("#" + Prefix + "ChequeAmount").attr("readonly", false);
        //    //        $("#" + Prefix + "Chequedate").attr("disabled", false);
        //    //        $("#" + Prefix + "Chequedate").val(GetChequedate);
        //    //        //$('#' + Prefix + 'IsonAccount').attr("checked", false);
        //    //        //$('#' + Prefix + 'IsonAccount').parent('span').removeClass('checked');
        //    //        //$('#' + Prefix + 'IsonAccount').val(false);
        //    //        $("#" + Prefix + "ReceivedFromBank").addClass('required required2');
        //    //        $("#" + Prefix + "DepositedInBank").attr("disabled", false);
        //    //        $("#" + Prefix + "CashAccount").attr("disabled", false);
        //    //        $("#" + Prefix + "CashAccount").addClass('required required2');
        //    //        $("#" + Prefix + "DepositedInBank").addClass('required required2');

        //    //        App.unblockUI();
        //    //    }
        //    //});

        //    //if ($("#WAD_Vouchertype").val() != "DEBITCREDIT") {
        //    //    //$("#" + Prefix + "NETAMOUNT").removeAttr('readonly');
        //    //    $("#" + Prefix + "NETAMOUNT").attr("number", true).attr("min", 1).addClass("required required2");
        //    //}

        //    //$("#" + Prefix + "NETAMOUNT").live('change', function () {
        //    //    var PaymentMode = $("#" + Prefix + "PaymentMode").val();
        //    //    var PaymentAmount = $("#" + Prefix + "NETAMOUNT").val();
        //    //    if (PaymentMode.toUpperCase() == "CASH") {
        //    //        $("#" + Prefix + "ChequeAmount").val(0);
        //    //        $("#" + Prefix + "CashAmount").val(PaymentAmount);
        //    //        $(".clsTotal").val(PaymentAmount);
        //    //    }
        //    //    if (PaymentMode.toUpperCase() == "BANK") {
        //    //        $("#" + Prefix + "CashAmount").val(0);
        //    //        $("#" + Prefix + "ChequeAmount").val(PaymentAmount);
        //    //        $(".clsTotal").val(PaymentAmount);
        //    //    }
        //    //});
        //}

        var GET_Data_ForValidations = function (DomainName, ID, SubType) {

            var PorterType = $("#CPEEDET_" + ID + "__PorterType").val();
            var NameOfStation = $("#CPEEDET_" + ID + "__NameOfStation").val();

            if ($("#SubType").val() == "1" || $("#SubType").val() == "3") {
                BRCD = "@ViewBag.BaseLocationCode";
            }
            else {
                BRCD = $("#CPEEDET_" + ID + "__Brcd").val();
            }

            if ((PorterType != "" && PorterType != null) && SubType == "1") {
                App.blockUI({ boxed: true });
                var StrURL = DomainName + "/BranchAccounting/Get_Porter_Name_Of_Station?Type=" + PorterType + "&BRCD=" + BRCD;
                FillDropDownfromOther("CPEEDET_" + ID + "__NameOfStation", StrURL, "Name Of Station");
                App.unblockUI();
            }
            if (PorterType != "" && PorterType != null) {

                var URL = DomainName + '/BranchAccounting/Get_PorterMaster_Detailes?PorterType=' + PorterType + '&NameOfStation=' + NameOfStation + '&BRCD=' + BRCD;

                App.blockUI({ boxed: true });
                $.ajax({
                    url: URL,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (data) {
                        //alert(data.IsRecordFound);


                        if (data.IsRecordFound == "1") {
                            $("#CPEEDET_" + ID + "__RateCharged").attr("max", data.Rate_Charged);

                            // alert(data.Other + '--' + data.Marker + '--' + data.Handling);
                            if (data.Other == "True") {
                                $("#CPEEDET_" + ID + "__OtherTSPEtc").attr("readonly", true);
                            }
                            else {
                                $("#CPEEDET_" + ID + "__OtherTSPEtc").attr("readonly", false);
                            }
                            if (data.Marker == "True") {
                                $("#CPEEDET_" + ID + "__Marker").attr("readonly", true);
                            }
                            else {
                                $("#CPEEDET_" + ID + "__Marker").attr("readonly", false);
                            }
                            if (data.Handling == "True") {
                                $("#CPEEDET_" + ID + "__HandlingInsideThePlatForm").attr("readonly", true);
                            }
                            else {
                                $("#CPEEDET_" + ID + "__HandlingInsideThePlatForm").attr("readonly", false);
                            }
                            App.unblockUI();
                        }
                        else {
                            $("#CPEEDET_" + ID + "__RateCharged").attr("max", 0);
                            // alert(ID + '--' + $("#CPEEDET_" + ID + "__RateCharged").attr("max"));
                            App.unblockUI();
                        }
                    },
                    error: function (req, status, error) {
                        $("#CPEEDET_" + ID + "__RateCharged").attr("max", 0);
                        App.unblockUI();
                    }
                });
            }
        };

        var EmpCodeChange = function (DomainName, No) {

            var URL = DomainName + '/BranchAccounting/GetUser_Detailes?No=' + No;

            if ($("#CPEE_HDR_EmpCode").val() != "") {

                App.blockUI({ boxed: true });
                $.ajax({
                    url: URL,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (data) {


                        if (data.IsRecordFound == "1") {
                            $("#CPEE_HDR_EmpName").val(data.Name);
                            $("#CPEE_HDR_BankName").val(data.Name_Of_bank);
                            $("#CPEE_HDR_BankAccNumber").val(data.Bank_AC_Number);
                            $("#CPEE_HDR_IFSCCode").val(data.IFSC_Code);
                            $("#ShowEmpCode").val($("#CPEE_HDR_EmpCode").val());

                            IS_Vendor_Customer_Disable(DomainName, "1", "0");
                            App.unblockUI();
                        }
                        else {
                            $("#CPEE_HDR_EmpName").val($("#s2id_CPEE_HDR_EmpCode span").html());
                            $("#CPEE_HDR_BankName").val("");
                            $("#CPEE_HDR_BankAccNumber").val("");
                            $("#CPEE_HDR_IFSCCode").val("");
                            $("#ShowEmpCode").val("");

                            App.unblockUI();
                        }
                    },
                    error: function (req, status, error) {
                        $("#CPEE_HDR_EmpName").val($("#s2id_Elec_CPEE_HDR_EmpCode span").html());
                        $("#CPEE_HDR_BankName").val("");
                        $("#CPEE_HDR_BankAccNumber").val("");
                        $("#CPEE_HDR_IFSCCode").val("");
                        $("#ShowEmpCode").val("");

                        App.unblockUI();
                    }
                });
            }
            else {
                IS_Vendor_Customer_Disable(DomainName, "0", "0");
            }

        }

        var VendorCodeChange = function (DomainName, No) {

            var URL = DomainName + '/BranchAccounting/Get_Vendor_Details?No=' + No;

            if ($("#CPEE_HDR_NameOfVendor").val() != "") {

                App.blockUI({ boxed: true });
                $.ajax({
                    url: URL,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (data) {

                        if (data.IsRecordFound == "1") {

                            $("#CPEE_HDR_VendorAccNo").val(data.Bank_AC_Number);
                            IS_Vendor_Customer_Disable(DomainName, "0", "1");

                            App.unblockUI();
                        }
                    },
                    error: function (req, status, error) {
                        App.unblockUI();
                    }
                });
            }
            else {
                IS_Vendor_Customer_Disable(DomainName, "0", "0");
            }
        }

        var IS_Vendor_Customer_Disable = function (DomainName, Vendor, Emp) {

            if (Vendor == "1") {
                $("#CPEE_HDR_NameOfVendor").attr("readonly", "true");
                $("#CPEE_HDR_NameOfVendor").removeClass("required required2");
                $("#CPEE_HDR_VendorAccNo").val("");
                $("#CPEE_HDR_VendorAccNo").attr("readonly", "true");
                $("#CPEE_HDR_VendorAccNo").removeClass("required required2");
            }
            else if (Emp == "1") {
                $("#CPEE_HDR_EmpCode").attr("readonly", "true");
                $("#CPEE_HDR_EmpCode").val("");
                $("#CPEE_HDR_EmpName").val("");
                $("#CPEE_HDR_BankName").val("");
                $("#CPEE_HDR_BankAccNumber").val("");
                $("#CPEE_HDR_IFSCCode").val("");
                $("#ShowEmpCode").val("");
                $("#ShowEmpCode").removeClass("required required2");
                $("#CPEE_HDR_EmpCode").removeClass("required required2");
                $("#CPEE_HDR_EmpName").removeClass("required required2");
            }
            else {
                $("#CPEE_HDR_VendorAccNo").val("");
                $("#CPEE_HDR_EmpCode").val("");
                $("#CPEE_HDR_EmpName").val("");
                $("#CPEE_HDR_BankName").val("");
                $("#CPEE_HDR_BankAccNumber").val("");
                $("#ShowEmpCode").val("");
                $("#CPEE_HDR_IFSCCode").val("");
                $("#CPEE_HDR_NameOfVendor").attr("readonly", false);
                $("#ShowEmpCode").addClass("required required2");
                $("#CPEE_HDR_NameOfVendor").addClass("required required2");
                $("#CPEE_HDR_VendorAccNo").attr("readonly", false);
                $("#CPEE_HDR_VendorAccNo").addClass("required required2");
                $("#CPEE_HDR_EmpCode").attr("readonly", false);
                $("#CPEE_HDR_EmpCode").addClass("required required2");
                $("#CPEE_HDR_EmpName").addClass("required required2");
            }
        }

        var Submit_Approval_Rejection = function (DomainName) {

            $("#btnSubmit").click(function () {

                if ($('#form_sample').valid()) {

                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false)
                    $("#PaymentPart :input").attr("disabled", false);
                    $("#PaymentPart1 :input").attr("disabled", false);

                    document.forms["form_sample"].submit()
                }
                else {
                    return false
                }
            });

            $('#btnRejectAtHO').click(function () {

                //$(".clsAmount_Passed").each(function () {
                //    var Id = $(this).attr("id").replace("Amount_Passed", "");
                //    $("#" + Id + "Reason_For_Rejection").addClass("required required2")
                //    $("#" + Id + "Amount_Passed").attr("min", "0")
                //    $("#" + Id + "Amount_Rejected").attr("min", "1")
                //    if ($("#" + Id + "Amount_Passed").val() == "0") {
                //        $("#" + Id + "Amount_Passed").val("0")
                //        $("#" + Id + "Amount_Rejected").val($("#" + Id + "TotalClaim_IncHandling").val())
                //    }
                //})

                Formvalidate(DomainName);

                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false)
                    $("#PaymentPart :input").attr("disabled", false);
                    $("#PaymentPart1 :input").attr("disabled", false);

                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/Porter_Reject');
                    document.forms["form_sample"].submit()
                }
                else {
                    return false
                }
            });

            $('#btnAuthorizeAtHo').click(function () {

                //$(".clsAmount_Passed").each(function () {
                //    var Id = $(this).attr("id").replace("Amount_Passed", "");
                //    $("#" + Id + "Reason_For_Rejection").removeClass("required required2")
                //    $("#" + Id + "Amount_Passed").attr("min", "1")
                //    $("#" + Id + "Amount_Rejected").attr("min", "0")
                //})
                $("#Amount_Passed_Tot").attr("min", "1")
                Formvalidate(DomainName);
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false)
                    $("#PaymentPart :input").attr("disabled", false);
                    $("#PaymentPart1 :input").attr("disabled", false);

                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/Porter_Approval');
                    document.forms["form_sample"].submit()
                }
                else {
                    return false
                }

            });

        };

        return {
            //main function to initiate the module
            init: function (DomainName) {

                if ($("#SubType").val() == "2") {
                    $(".clsApproval").show();
                }
                else {
                    $(".clsApproval").hide();
                }

                if ($("#SubType").val() == "2") {
                    $(".clsApproval_Rejection").attr("disabled", true)
                    $("#PaymentPart :input").attr("disabled", true);
                }




                var Prefix = "PAYMENTMODE_1__";
                Formvalidate(DomainName);
                GetVehicleEmployeeUserName_Type_Wise("CPEE_HDR_NameOfVendor", "V", "PORTER")
                GetVehicleEmployeeUserName_BranchWise("CPEE_HDR_EmpCode", "U")
                Submit_Approval_Rejection(DomainName);

                if ($("#CPEE_HDR_EmpCode").val() != '' && $("#CPEE_HDR_EmpCode").val() != null) {
                    $("#CPEE_HDR_EmpCode").select2("data", { id: $("#CPEE_HDR_EmpCode").val(), text: $("#CPEE_HDR_EmpName").val() });
                    EmpCodeChange(DomainName, $("#CPEE_HDR_EmpCode").val());
                    $("#ShowEmpCode").val($("#CPEE_HDR_EmpCode").val());
                    IS_Vendor_Customer_Disable(DomainName, 1, 0);
                }

                if ($("#CPEE_HDR_NameOfVendor").val() != '' && $("#CPEE_HDR_NameOfVendor").val() != null) {
                    $("#CPEE_HDR_NameOfVendor").select2("data", { id: $("#CPEE_HDR_NameOfVendor").val(), text: $("#CPEE_HDR_Display_Name_Of_Vendor").val() });
                    IS_Vendor_Customer_Disable(DomainName, 0, 1);
                }

                $(".clsPortelPaidPerBranch").focusout(function () {
                    var ID = $(this).attr("id").replace("PortelPaidPerBranch", "");
                    var checked = jQuery("#" + ID + "CheckBox").is(":checked");
                    if (checked) {
                        var Rate_Charged = 0;
                        Rate_Charged = parseFloat($(this).val()).toFixed(2) / parseFloat($("#" + ID + "NoOfPKGS").val()).toFixed(2);

                        var MaxValue = parseFloat($("#" + ID + "RateCharged").attr("max"));
                        if (MaxValue < parseFloat(Rate_Charged).toFixed(2)) {
                            alert("Please Enter Porter Expense in Given Limit To Branch.");
                            $(this).val("0");
                        }
                        else {
                            $("#" + ID + "RateCharged").val(parseFloat(Rate_Charged).toFixed(2));
                        }
                    }
                    else {
                        alert("Please Enter Porter Expense in Given Limit To Branch.");
                        $(this).val("0");
                    }
                });

                select2Date(DomainName);
                $("#PaymentControl").hide();
                Accounting_Calculation(DomainName, Prefix);
                $("#TotalClaim_IncHandlingTot").val("0");
                IsServicetaxCalculated(DomainName, Prefix)

                $("#CPEE_HDR_EmpCode").change(function () {
                    EmpCodeChange(DomainName, $("#CPEE_HDR_EmpCode").val());
                });

                $("#CPEE_HDR_NameOfVendor").change(function () {
                    VendorCodeChange(DomainName, $("#CPEE_HDR_NameOfVendor").val());
                });



                /* Amount_Passed Change Event */
                $(".clsAmount_Passed").change(function () {

                    var ID = $(this).attr("Id").replace("Amount_Passed", "");
                    var TotalBill = "";

                    TotalBill = $("#" + ID + "TotalClaim_IncHandling").val();

                    var PassesAmt = $("#" + ID + "Amount_Passed").val();
                    var Reject = parseInt(TotalBill) - parseInt(PassesAmt);

                    $("#" + ID + "Amount_Rejected").val(Reject);
                });


                @foreach (var item in Model.ListCPEE_DET)
                {
                    var CheckBox = "CPEEDET_" + @item.ID + "__CheckBox";
                    var StdRate = "CPEEDET_" + @item.ID + "__StdRate";
                    var RateCharged = "CPEEDET_" + @item.ID + "__RateCharged";
                    var PortelPaidPerBranch = "CPEEDET_" + @item.ID + "__PortelPaidPerBranch";
                    var OtherTSPEtc = "CPEEDET_" + @item.ID + "__OtherTSPEtc";
                    var Marker = "CPEEDET_" + @item.ID + "__Marker";
                    var HandlingInsideThePlatForm = "CPEEDET_" + @item.ID + "__HandlingInsideThePlatForm";
                    var TotalClaimMade_ExlHandling = "CPEEDET_" + @item.ID + "__TotalClaimMade_ExlHandling";
                    var TotalClaim_IncHandling = "CPEEDET_" + @item.ID + "__TotalClaim_IncHandling";
                    var PerKGCost_PKG = "CPEEDET_" + @item.ID + "__PerKGCost_PKG";
                    var PerKGCost_Weight = "CPEEDET_" + @item.ID + "__PerKGCost_Weight";
                    var DKTCount = "CPEEDET_" + @item.ID + "__DKTCount";
                    var ActualWeight = "CPEEDET_" + @item.ID + "__ActualWeight";
                    var NoOfPKGS = "CPEEDET_" + @item.ID + "__NoOfPKGS";
                    var PorterType = "CPEEDET_" + @item.ID + "__PorterType";
                    var NameOfStation = "CPEEDET_" + @item.ID + "__NameOfStation";
                    var Amount_Passed = "CPEEDET_" + @item.ID + "__Amount_Passed";
                    var Amount_Rejected = "CPEEDET_" + @item.ID + "__Amount_Rejected";

                     <text>

                $("#@CheckBox").attr("value", "false");

                $('#@CheckBox').click(function () {
                    var checked = jQuery(this).is(":checked");
                    $("#@CheckBox").val(checked);
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");

                    if ($("#SubType").val() == "1") {
                        if (checked) {
                            $("#CPEE_HDR_NoOfDocket").val(parseInt($("#CPEE_HDR_NoOfDocket").val()) + parseInt($("#@DKTCount").val()));
                            $("#CPEE_HDR_ActualWeight").val(parseInt($("#CPEE_HDR_ActualWeight").val()) + parseInt($("#@ActualWeight").val()));
                            $("#CPEE_HDR_NoOfPackage").val(parseInt($("#CPEE_HDR_NoOfPackage").val()) + parseInt($("#@NoOfPKGS").val()));
                            $("#@NameOfStation").addClass("required required2");
                            $("#@PorterType").addClass("required required2");
                        }
                        else {
                            $("#CPEE_HDR_NoOfDocket").val(parseInt($("#CPEE_HDR_NoOfDocket").val()) - parseInt($("#@DKTCount").val()));
                            $("#CPEE_HDR_ActualWeight").val(parseInt($("#CPEE_HDR_ActualWeight").val()) - parseInt($("#@ActualWeight").val()));
                            $("#CPEE_HDR_NoOfPackage").val(parseInt($("#CPEE_HDR_NoOfPackage").val()) - parseInt($("#@NoOfPKGS").val()));
                            $("#@NameOfStation").removeClass("required required2");
                            $("#@PorterType").removeClass("required required2");
                        }
                    }
                });

                if ($("#SubType").val() == "1") {
                    $("#@RateCharged").attr("max", 0);
                }

                GET_Data_ForValidations(DomainName, "@item.ID");

                $("#@PorterType").change(function () {
                    GET_Data_ForValidations(DomainName, "@item.ID", "1");
                });
                $("#@NameOfStation").change(function () {
                    GET_Data_ForValidations(DomainName, "@item.ID", "0");
                });

                $("#@StdRate").focusout(function () {
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                })
                $("#@PortelPaidPerBranch").focusout(function () {
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                })
                $("#@OtherTSPEtc").focusout(function () {
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                })
                $("#@Marker").focusout(function () {
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                })
                $("#@HandlingInsideThePlatForm").focusout(function () {
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                })
                $("#@Amount_Passed").focusout(function () {
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                })
                $("#@Amount_Rejected").focusout(function () {
                    Calculation(DomainName, "CPEEDET_" + @item.ID + "__");
                })

                </text>
                }

                if ($("#SubType").val() == "3") {

                    $("#PaymentControl").show();

                    var AmountApplicable = 0;
                    $(".clsAmount_Passed").each(function () {
                        AmountApplicable = parseFloat(AmountApplicable) + parseFloat($(this).val());
                    });
                    $("#WAD_AmountApplicable").val(AmountApplicable)
                    $("#PAYMENTMODE_1__AmountApplicable").val(AmountApplicable)
                    $("#PAYMENTMODE_1__NETAMOUNT").val(AmountApplicable)

                    $("#PaymentPart :input").attr("disabled", true);
                    $("#PaymentPart1 :input").attr("disabled", true);

                    $("#btnApprovSubmit").click(function () {

                        Formvalidate(DomainName);

                        if ($('#form_sample').valid()) {
                            App.blockUI({ boxed: true });

                            $("#PaymentPart :input").attr("disabled", false);
                            $("#PaymentPart1 :input").attr("disabled", false);

                            $('#form_sample').attr('action', DomainName + '/BranchAccounting/Accounting_Payment_Submit_New_Process');
                            $("#container :input").attr("disabled", false);
                            document.forms["form_sample"].submit()
                            $('#form_sample').submit();
                        }
                        else {
                            return false
                        }
                    });
                }

                BR_Request_Common_Function(DomainName, "CPEE_HDR_", "CPEE_DET_", "form_sample");

            }
        }
    }();
</script>

@*<script type="text/javascript" src="@Url.Content("~/Scripts/AccountControl.js")"></script>*@

