﻿@model Fleet.ViewModels.ExpensesEntryModule
@{
    ViewBag.Title = "Porter Expenses Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("PorterExpensesCriteria", "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label col-md-4">Enter THC Number</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.CPEE_HDR.DocumentNo, new { placeholder = "Enter THC Number", @class = "form-control required required2" })
                                        @Html.HiddenFor(m => m.CPEE_HDR.EXpenceType)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid" id="SubmitBtn">
                        <div class="row">
                            <div class="col-md-offset-5 col-md-10">
                                <button type="submit" id="btnSubmit" class="btn btn-sm green">&nbsp; Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.form["form_sample"].submit();
                }
            });
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);


            }
        }
    }();
</script>

