﻿@model Fleet.ViewModels.TeaExpBranchUserWise
@using FleetDataService.Models
@using Fleet.Classes;
@{
    ViewBag.Title = "Tea Expense Branch & User Wise Mapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("TeaExpenseBranchUserWise_Submit", "BranchAccounting", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
{
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        You have some form errors. Please check below.
    </div>
    <div class="alert alert-success display-hide">
        <button class="close" data-close="alert"></button>
        Your form validation is successful!
    </div>

    <div class="row Branch">
        <div class="col-md-6">
            <div class="portlet box  @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>
                    <div class="caption pull-right">
                        <a href="@Url.Content("~/Master/ExportData?MethodName=TeaExpenseBranch&FileName=Tea Expense Wise Mapping")" class="btn default btn-xs controls"><i class="fa fa-download"></i>&nbsp;Download Excel </a>
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Select Branch :
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.BRCD, new { placeholder = "Branch", @class = "form-control required required2 Branch" })
                                        @Html.HiddenFor(m => m.Mapped)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="btn btn-sm default blue-stripe pull-right Branch" id="GETBM" data-toggle="modal">
                                    <i class="fa fa-list"></i> Branch wise mapping
                                </a>
                            </div>
                        </div>
                        <div class="row" id="divCS" style="display:none">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Mapping Type :
                                    </label>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-12 radio-list">
                                                <label class="radio-inline">
                                                    <input type="radio" name="optionsRadios3" value="Individual" id="Individual">
                                                    Individual
                                                </label>
                                                <label class="radio-inline" style="padding-left: 0px;margin-left: 0px;">
                                                    <input type="radio" name="optionsRadios3" value="Cumulative" id="Cumulative">
                                                    Cumulative
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="BranchWiseUsers">
        @if (ViewBag.Type == "BranchWiseUsers")
        {
            foreach (var item in Model.ListCPEE_HDR)
            {
                Html.RenderPartial("_BranchWiseUser_partial", item);
            }
        }
    </div>

    <div class="row BranchAmt">
        <div class="col-md-6">
            <div class="portlet box  @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>Branch Wise Amount
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Enter Amount :
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.CPEE_HDR.Amount, new { placeholder = "Amount ", @class = "form-control required required2" })
                                        @Html.HiddenFor(m => m.CPEE_HDR.Amount)
                                    </div>
                                </div>
                            </div>
                        </div>                         
                    </div>
                    <div class="form-actions fluid">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-8">
                                <button type="submit" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i>Submit</button>
                                <a href="@Url.Content("~/BranchAccounting/TeaExpenseBranchUserWise")" class="btn btn-sm default controls">&nbsp;Back To Mapping Other Branch </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                //ignore: "",

                rules: {
                },

                messages: {
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //document.form["form_sample"].submit();
                }
            });
        }

        var GetBranch = function (DomainName) {

            StrURL = DomainName + "/Operation/GetDestinationLocations";
            JsonDDLSelectCode("BRCD", StrURL);
        }

        var Events = function (DomainName) {
            var RatingStar = $("input[name=optionsRadios3]:checked").val()

            $("input[name=optionsRadios3]").change(function () {
                App.blockUI({ boxed: true });
                var BRCD = $("#BRCD").val();
                $(".BranchAmt").hide();
                $("#BranchWiseUsers").show();
                var RatingStar = $("input[name=optionsRadios3]:checked").val()
                $("#Mapped").val(RatingStar);

                if (RatingStar == "Individual") {
                    $.ajax({
                        url: DomainName + "/BranchAccounting/GetBranchWiseUser?BRCD=" + BRCD,
                        type: 'POST',
                        data: $('#form_sample').serialize(),
                        success: function (data) {
                            $("#BranchWiseUsers").html(data);
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                }
                else {

                    $(".BranchAmt").show();
                    $("#CPEE_HDR_Amount").val(0);
                    $("#BranchWiseUsers").hide();
                    $("#Mapped").val("Cumulative");
                    App.unblockUI();
                }

            });

        }

        return {

            init: function (DomainName) {

                $(".BranchAmt").hide();
                $("#PaymentPart1").hide();
                GetBranch(DomainName)
                Events(DomainName)

                $("#GETBM").click(function () {
                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        return false;
                    }
                    Formvalidate(DomainName);
                    $(".Branch").attr("disabled", true);
                    $("#divCS").show();
                });

                $("#btnSubmit").click(function () {

                    if ($('#form_sample').valid()) {
                        App.blockUI({ boxed: true });
                        $(".Branch").attr("disabled", false);
                        document.forms["form_sample"].submit()
                        $("#form_sample").submit();
                    }
                    else {
                        return false
                    }
                });

                $("#BRCD").on("change", function () {
                    var BRCD = $("#BRCD").val();
                    var URL = DomainName + '/BranchAccounting/GetBranchWiseUserEdit?BRCD=' + BRCD;

                    if ($(this).val() != "") {

                        App.blockUI({ boxed: true });
                        $.ajax({
                            url: URL,
                            cache: false,
                            data: {},
                            type: 'POST',
                            success: function (data) {

                                if (data.IsRecordFound == "1") {

                                    $(".Branch").attr("disabled", true);
                                    $("#divCS").show();
                                    $(".BranchAmt").show();
                                    $('#Mapped').val(data.Mapped)
                                    $("#CPEE_HDR_Amount").val(data.Amount);
                                    if (data.Mapped == "Individual") {

                                        var URL = DomainName + '/BranchAccounting/GetBranchWiseUserIndividule?BRCD=' + BRCD;
                                        App.blockUI({ boxed: true });
                                        $.ajax({
                                            url: URL,
                                            cache: false,
                                            data: {},
                                            type: 'POST',
                                            success: function (data) {

                                                $("#BranchWiseUsers").html(data);
                                                $("#BranchWiseUsers").show();
                                                $(".BranchAmt").hide();

                                            },
                                            error: function (req, status, error) {
                                                alert("Issue in Getting Data.")
                                                App.unblockUI();
                                            }
                                        });
                                    }
                                    //$("input[name='optionsRadios3']").attr('disabled', true);

                                    if ($('#Mapped').val() == 'Individual') {
                                        $('#Individual').attr('checked', true);
                                    }
                                    else {
                                        $('#Cumulative').attr('checked', true)
                                    }
                                    $("input:checkbox, input:radio").uniform();
                                    App.unblockUI();
                                }
                                else if (data.IsRecordFound == "2") {
                                    if ($('#Mapped').val() == 'Cumulative') {
                                        alert("Issue in Getting Data.")
                                    }
                                    App.unblockUI();
                                }
                                else {
                                    alert("Issue in Getting Data.")
                                    App.unblockUI();
                                }
                            },
                            error: function (req, status, error) {
                                alert("Issue in Getting Data.")
                                App.unblockUI();
                            }
                        });
                    }
                });
            }
        }
    }();
</script>