﻿@model Fleet.ViewModels.Expenses_Advance_EntryModule

@{
    ViewBag.Title = "Travelling Advance Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Fleet.Models.CYGNUS_Branch_Expance> List_Staff = new List<Fleet.Models.CYGNUS_Branch_Expance>();
}
<div class="row">
    <div class="col-md-5">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>&nbsp;@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-wizard">
                    <div class="form-body">
                        @using (Html.BeginForm("Travelling_Advance", "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
                        {
                            <div class="tab-content">
                                <div class="alert alert-danger display-none">
                                    <button class="close" data-dismiss="alert"></button>
                                    You have some form errors. Please check below.
                                </div>
                                <div class="alert alert-success display-none">
                                    <button class="close" data-dismiss="alert"></button>
                                    Your form validation is successful!
                                </div>

                                <div id="disablediv">
                                    <div class="form-group ">
                                        <label class="control-label col-md-3">
                                            <b>Select From Date:</b>
                                        </label>
                                        <div class="col-md-6">
                                            <div id="reportrange" class="btn default col-md-12">
                                                <i class="fa fa-calendar"></i>
                                                &nbsp;
                                                <span></span>
                                                <b class="fa fa-angle-down"></b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="control-label col-md-3">
                                            <b>Select Branch:</b>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.BRCD, new { placeholder = "NAME OF BRANCH", @class = "m-wrap form-control required2" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            <b> Staff :</b>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(c => c.Staff, new SelectList(List_Staff, "Value", "Text", ""), "", new { @class = "form-control  required2 select2" })
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="control-label col-md-3">
                                            <b>Enter BR No:</b>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.DocumentNo, new { placeholder = "Enter Bill No", @class = "form-control required2" })
                                            @Html.HiddenFor(m => m.FromDate)
                                            @Html.HiddenFor(m => m.ToDate)
                                            @Html.HiddenFor(m => m.Type)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions fluid">
                                    <div class="col-md-offset-4 col-md-8">
                                        <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i> Submit</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>



    @*<div class="row">
        <div class="col-md-8">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>&nbsp;@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-wizard">
                        <div class="form-body">
                            @using (Html.BeginForm("Travelling_Advance", "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
                            {
                                <div class="tab-content">
                                    <div class="alert alert-danger display-none">
                                        <button class="close" data-dismiss="alert"></button>
                                        You have some form errors. Please check below.
                                    </div>
                                    <div class="alert alert-success display-none">
                                        <button class="close" data-dismiss="alert"></button>
                                        Your form validation is successful!
                                    </div>

                                    <div id="disablediv">

                                        <div class="form-group ">
                                            <label class="control-label col-md-2">
                                                <b>Select Branch:</b>
                                            </label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.BRCD, new { placeholder = "Enter Branch", @class = "form-control" })
                                                @Html.HiddenFor(m => m.FromDate)
                                                @Html.HiddenFor(m => m.ToDate)
                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <label class="control-label col-md-2">
                                                <b>Enter Bill No:</b>
                                            </label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(c => c.DocumentNo, new { placeholder = "Enter Bill No", @class = "form-control" })
                                                @Html.HiddenFor(m => m.FromDate)
                                                @Html.HiddenFor(m => m.ToDate)
                                                @Html.HiddenFor(m => m.Type)
                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <label class="control-label col-md-2">
                                                <b>Select From Date:</b>
                                            </label>
                                            <div class="col-md-6">
                                                <div id="reportrange" class="btn default col-md-12">
                                                    <i class="fa fa-calendar"></i>
                                                    &nbsp;
                                                    <span></span>
                                                    <b class="fa fa-angle-down"></b>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-actions fluid">
                                        <div class="col-md-offset-4 col-md-8">
                                            <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i> Submit</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var FormValidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);
            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span',
                errorClass: 'help-block',
                focusInvalid: false,
                ignore: "",
                rules: {},
                messages: {},
                invalidHandler: function (event, validator) {
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                success: function (label) {
                    label.closest('.form-group').removeClass('has-error');
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }
            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                //maxDate: '12/31/2014',
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#FromDate').val(start.format('MMMM D, YYYY'));
                     $('#ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ToDate').val(moment().format('MMMM D, YYYY'));
        }

        return {
            init: function (DomainName) {
                FormValidate(DomainName);
                handleDateRangePickers();


                $("#BRCD").live("change", function (e) {
                    App.blockUI({ boxed: true });
                    var BRCD = $("#BRCD").val();
                    var StrURL = DomainName + "/BranchAccounting/Get_Staff_List?ExpenseType=" + "3" + "&Branch=" + BRCD + "&DllType=" + 1;
                    FillDropDownfromOther("Staff", StrURL, " a Staff");
                })
                //JsonDDL('Staff', DomainName + '/Master/GetAllUserJson', true);
                StrURL = DomainName + "/Master/GetDestinationLocationsWithHQTR";
                JsonDDLSelectCode("BRCD", StrURL);

                $("#btnSubmit").click(function () {

                    if ($('#form_sample').valid()) {
                        App.blockUI({ boxed: true });
                        $("#disablediv :input").attr("disabled", false);
                        document.forms["form_sample"].submit()
                        $("#form_sample").submit();
                    }
                    else {
                        return false
                    }
                });
            }
        }
    }();
</script>


