﻿@model Fleet.ViewModels.ExpensesEntryModule
@using FleetDataService.Models;
@using Fleet.ViewModels;
@{
    ViewBag.Title = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> ListROUTE = MS.GetGeneralMasterObject().Where(C => C.CodeType == "ROUTE").ToList();

    FleetDataService.OperationService CSOPN = new FleetDataService.OperationService();
    List<webx_acctinfo>
    ListTDSSection = CSOPN.GetTDSSectionList();

    objDate Date = new objDate();
    Date.ControlId = "Trave_Tour_Expense_HDR.Date";
    Date.ControlValue = Model.Trave_Tour_Expense_HDR.Date.ToString();
    Date.ModuleCode = "23";

    objDate PeriodFrom = new objDate();
    PeriodFrom.ControlId = "Trave_Tour_Expense_HDR.PeriodFrom";
    PeriodFrom.ControlValue = Model.Trave_Tour_Expense_HDR.PeriodFrom.ToString();
    PeriodFrom.ModuleCode = "23";

    DateTime endDate = System.DateTime.Now.AddDays(15);
    
    string ActionName = ViewBag.ActionName;

    List<webx_citymaster> ListCity = MS.GetCityMasterObject();
    var i = 1;

    //int RowNumberCount = Model.List_Other_Trave_Tour_Expense_DET.Count() + Model.List_Fare_Trave_Tour_Expense_DET.Count() + Model.List_Conveyance_Trave_Tour_Expense_DET.Count() +
    //    Model.List_Bo_Lo_Trave_Tour_Expense_DET.Count() + Model.List_Food_Trave_Tour_Expense_DET.Count();

    if (Model.Trave_Tour_Expense_HDR.PeriodFrom == null)
    {
        Model.Trave_Tour_Expense_HDR.PeriodFrom = System.DateTime.Now.ToString("dd MMM yyyy");
    }

    if (Model.Trave_Tour_Expense_HDR.PeriodTo == null)
    {
        Model.Trave_Tour_Expense_HDR.PeriodTo = System.DateTime.Now.ToString("dd MMM yyyy");
    }

   
}

@using (Html.BeginForm("Travelling_Expenses_Open_Submit", "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box  @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body" id="PaymentPart">
                        @Html.HiddenFor(m => m.Trave_Tour_Expense_HDR.ExpenceType)
                        @Html.HiddenFor(m => m.Trave_Tour_Expense_HDR.BillNo)
                        @Html.HiddenFor(m => m.SubType)
                        @Html.HiddenFor(m => m.Type2)

                        <div class="form-group" id="PaymentPart">
                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Name of Employee</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Trave_Tour_Expense_HDR.EmpCode, new { placeholder = "Name of Employee", @class = "form-control required required2" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Employee Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBox("ShowEmpCode", Model.Trave_Tour_Expense_HDR.EmpCode, new { placeholder = "Employee Code", @class = "form-control required required2", @readonly = "true" })
                                        @Html.HiddenFor(c => c.Trave_Tour_Expense_HDR.EmpName)
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Grade</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Trave_Tour_Expense_HDR.Grade, new { placeholder = "Grade", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 clsApproval">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Bank a/c Number</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Trave_Tour_Expense_HDR.BankAccNumber, new { placeholder = "Bank a/c Number", @class = "form-control ", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Ifsc Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Trave_Tour_Expense_HDR.IFSCCode, new { placeholder = "Ifsc Code", @class = "form-control ", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Bank Name</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Trave_Tour_Expense_HDR.BankName, new { placeholder = "Bank Name", @class = "form-control ", @readonly = "true" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                @*<div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Br Date</label>
                                    <div class="col-md-8">
                                        <div class="input-group date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d">
                                            @Html.TextBox("Trave_Tour_Expense_HDR.Date", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.Trave_Tour_Expense_HDR.Date).ToString("dd MMM yyyy")), new { @class = "form-control", @readonly = "True", @style = "padding-right: 0px;" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                        @{
    Html.RenderPartial("../UserControls/_DocumentDate", Date);
                                        }
                                    </div>
                                   
                                </div>*@
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Br Date</label>
                                    <div class="col-md-8">
                                        @Html.TextBox("Trave_Tour_Expense_HDR.Date", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.Trave_Tour_Expense_HDR.Date).ToString("dd MMM yyyy")), new { @class = "form-control required2", @readonly = "True", @style = "padding-right: 0px;" })
                                    </div>
                                </div>
                                @*<div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Period From</label>
                                    <div class="col-md-8">
                                        <div class="input-group date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d">
                                            @Html.TextBox("Trave_Tour_Expense_HDR.PeriodFrom", String.Format("{0:dd MMM yyyy}", Convert.ToDateTime(Model.Trave_Tour_Expense_HDR.PeriodFrom).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @style = "padding-right: 0px;" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                        @{
    Html.RenderPartial("../UserControls/_DocumentDate", PeriodFrom);
                                        }
                                    </div>
                                </div>*@
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Period From</label>
                                    <div class="col-md-8">
                                        <div class="input-group date date-picker" data-date-format="dd MMM yyyy">
                                            @Html.TextBox("Trave_Tour_Expense_HDR.PeriodFrom", String.Format("{0:dd MMM yyyy}", Convert.ToDateTime(Model.Trave_Tour_Expense_HDR.PeriodFrom).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @style = "padding-right: 0px;" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                        @*@{
                Html.RenderPartial("../UserControls/_DocumentDate", PeriodFrom);
                                                    }*@
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">From Location</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Trave_Tour_Expense_HDR.FromLocation, new SelectList(ListCity, "Location", "Location", ""), "", new { @placeholder = "From Location", @class = "form-control select2 required required2" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-actions fluid" id="SubmitBtn">
                @{
                    @Html.Partial("_BranchAcct_SubmitPartial", Model)
                }
            </div>
        </div>

    </div>
}

<script src="~/Scripts/BranchAccounting/BranchAccounting.js?ver<%=DateTime.Now.Ticks.ToString()%>" type="text/javascript"></script>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var select2Date = function (DomainName) {
            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    endDate: new Date('@endDate'),
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //document.form["form_sample"].submit();
                }
            });
        }
             
        var handleDateTimePicker1 = function () {
            if (jQuery().datepicker) {
                $('.datetime-picker').datetimepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy  HH:ii P",
                    showMeridian: true,
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    todayBtn: true
                });
            }
        }

        var Submit_Approval_Rejection = function (DomainName) {

            $("#btnSubmit").click(function () {
                Formvalidate(DomainName);
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                }
                else {
                    return false
                }
            });
        };

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Submit_Approval_Rejection(DomainName);
              
                GetVehicleEmployeeUserName_BranchWise("Trave_Tour_Expense_HDR_EmpCode", "U")
                if ($("#Trave_Tour_Expense_HDR_EmpCode").val() != '' && $("#Trave_Tour_Expense_HDR_EmpCode").val() != null) {
                    $("#Trave_Tour_Expense_HDR_EmpCode").select2("data", { id: $("#Trave_Tour_Expense_HDR_EmpCode").val(), text: $("#Trave_Tour_Expense_HDR_EmpName").val() });
                    $("#ShowEmpCode").val($("#Trave_Tour_Expense_HDR_EmpCode").val());
                }

                $("#Trave_Tour_Expense_HDR_EmpCode").change(function () {
                    EmpCode_Change(DomainName, $("#Trave_Tour_Expense_HDR_EmpCode").val(), "Trave_Tour_Expense_HDR_", 1, 0, 0, 0);
                });

                BR_Request_Common_Function(DomainName, "Trave_Tour_Expense_HDR_", "Trave_Tour_Expense_DET_", "form_sample");

                $('.select2').select2({
                    placeholder: "Select an option",
                    allowClear: true
                });

                select2Date();
                handleDateTimePicker1();
                ControlDate();
            }
        }
    }();

</script>

