﻿@{
    ViewBag.Title = "Travelling Advance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>@ViewBag.Title Successfully Done
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Document No
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@ViewBag.VoucherNo</b>
                            </td>
                            <td>
                                <a href="javascript:VoucherView('@ViewBag.Type','@ViewBag.VoucherNo')"><b><i class="fa fa-print"></i>&nbsp;View || Print</b></a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <b>@ViewBag.BillNo</b>
                            </td>
                            <td>
                                <a href="javascript:BillView('@ViewBag.Type','@ViewBag.BillNo')"><b><i class="fa fa-print"></i>&nbsp;View || Print</b></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
        </div>
    </div>
</div>

<script type="text/javascript">

    function BillView(Type, BillNo) {
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        var strPopupURL = ReportURL + DomainName + "/ViewPrint/BranchAccountingViewPrint?No=" + BillNo + "&Type=" + Type;
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;
    }

    function VoucherView(Type, No) {
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        var strPopupURL = ReportURL + DomainName + "/ViewPrint/VoucherViewPrint?VoucherNo=" + No + "&Type=6";
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;
    }

    var FormComponents = function (DomainName) {
        var Events = function (DomainName) {
            $('#btnSubmit').click(function () {
                App.blockUI({ boxed: true });
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Events(DomainName);
            }
        }
    }();
</script>

