﻿@model Fleet.ViewModels.ExpensesEntryModule
@using FleetDataService.Models;
@using Fleet.ViewModels;
@{
    ViewBag.Title = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> ListROUTE = MS.GetGeneralMasterObject().Where(C => C.CodeType == "ROUTE").ToList();

    FleetDataService.OperationService CSOPN = new FleetDataService.OperationService();
    List<webx_acctinfo>
    ListTDSSection = CSOPN.GetTDSSectionList();
    string ActionName = ViewBag.ActionName;

    List<webx_citymaster> ListCity = MS.GetCityMasterObject();
    int RowNumberCount = Model.List_Other_Trave_Tour_Expense_DET.Count() + Model.List_Fare_Trave_Tour_Expense_DET.Count() + Model.List_Conveyance_Trave_Tour_Expense_DET.Count() +
        Model.List_Bo_Lo_Trave_Tour_Expense_DET.Count() + Model.List_Food_Trave_Tour_Expense_DET.Count();
    //if (Model.Trave_Tour_Expense_HDR.PeriodFrom == null)
    //{
    //    Model.Trave_Tour_Expense_HDR.PeriodFrom = System.DateTime.Now.ToString("dd MMM yyyy");
    //}
    //if (Model.Trave_Tour_Expense_HDR.PeriodTo == null)
    //{
    //    Model.Trave_Tour_Expense_HDR.PeriodTo = System.DateTime.Now.ToString("dd MMM yyyy");
    //}

    int Month = System.DateTime.Now.Month;
    int Year = System.DateTime.Now.Year;
    DateTime startDate = System.DateTime.Now.AddMonths(-2);
    DateTime endDate = System.DateTime.Now;

    DateTime endDate1 = System.DateTime.Now.AddDays(15);
    string BRGenerationDate = Model.Trave_Tour_Expense_HDR.Date.ToString();
    objDate Date = new objDate();
    Date.ControlId = "Trave_Tour_Expense_HDR.Date";
    Date.ControlValue = Model.Trave_Tour_Expense_HDR.Date.ToString();
    Date.ModuleCode = "13";

    //objDate PeriodFrom = new objDate();
    //PeriodFrom.ControlId = "Trave_Tour_Expense_HDR.PeriodFrom";
    //PeriodFrom.ControlValue = Model.Trave_Tour_Expense_HDR.PeriodFrom.ToString();
    //PeriodFrom.ModuleCode = "13";

    //objDate PeriodTo = new objDate();
    //PeriodTo.ControlId = "Trave_Tour_Expense_HDR.PeriodTo";
    //PeriodTo.ControlValue = Model.Trave_Tour_Expense_HDR.PeriodTo.ToString();
    //PeriodTo.ModuleCode = "13";

    objDate BRDate = new objDate();
    BRDate.ControlId = "Trave_Tour_Expense_HDR.BR_Date";
    BRDate.ControlValue = Model.Trave_Tour_Expense_HDR.BR_Date.ToString();
    BRDate.ModuleCode = "20";
}

@using (Html.BeginForm(@ActionName, "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box  @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                    <div class="caption pull-right">
                        <a class="btn default btn-xs" href="@Url.Content("~/BranchAccounting/Travelling_Expenses_Close_Criteria")">
                            <i class="fa fa-arrow"></i>
                            Back To Advance Criteria
                        </a>
                        &nbsp;
                        &nbsp;

                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body" id="PaymentPart">
                        @Html.HiddenFor(m => m.Trave_Tour_Expense_HDR.ExpenceType)
                        @Html.HiddenFor(m => m.Trave_Tour_Expense_HDR.BillNo)
                        @Html.HiddenFor(m => m.Trave_Tour_Expense_HDR.ID)
                        @Html.HiddenFor(m => m.SubType)
                        @Html.HiddenFor(m => m.Type2)
                        @Html.Hidden("RowNumber", RowNumberCount)

                        <div class="form-group" id="PaymentPart">
                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Name of Employee</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Trave_Tour_Expense_HDR.EmpCode, new { placeholder = "Name of Employee", @class = "form-control required required2" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Employee Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBox("ShowEmpCode", Model.Trave_Tour_Expense_HDR.EmpCode, new { placeholder = "Employee Code", @class = "form-control required required2", @readonly = "true" })
                                        @Html.HiddenFor(c => c.Trave_Tour_Expense_HDR.EmpName)
                                    </div>
                                </div>
                                <div class="col-md-4 form-group clsApproval">
                                    <label class="control-label col-md-4">Bank a/c Number</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Trave_Tour_Expense_HDR.BankAccNumber, new { placeholder = "Bank a/c Number", @class = "form-control ", @readonly = "true" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group clsApproval">
                                    <label class="control-label col-md-4">Ifsc Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Trave_Tour_Expense_HDR.IFSCCode, new { placeholder = "Ifsc Code", @class = "form-control ", @readonly = "true" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Grade</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Trave_Tour_Expense_HDR.Grade, new { placeholder = "Grade", @class = "form-control required required2" })
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Date</label>
                                    <div class="col-md-8">
                                        @{
    Html.RenderPartial("../UserControls/_DocumentDate", Date);
                                        }
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Period From</label>
                                    <div class="col-md-8">
                                        <div class="input-group date date-pickerFrom" data-date-format="dd MMM yyyy">
                                            @Html.TextBox("Trave_Tour_Expense_HDR.PeriodFrom", String.Format("{0:dd MMM yyyy}", Convert.ToDateTime(Model.Trave_Tour_Expense_HDR.Date).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @style = "padding-right: 0px;" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                @*<div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Period To</label>
                                    <div class="col-md-8">
                                        @{
    Html.RenderPartial("../UserControls/_DocumentDate", PeriodTo);
                                        }
                                    </div>
                                </div>*@
                                <div class="col-md-4 form-group">
                                    @*<label class="control-label col-md-4">Period To</label>
                                            <div class="col-md-8">
                                                @{
            Html.RenderPartial("../UserControls/_DocumentDate", PeriodTo);
                                                }
                                            </div>*@
                                    <label class="control-label col-md-4">Period To</label>
                                    <div class="col-md-8">
                                        <div class="input-group date date-picker1" data-date-format="dd MMM yyyy">
                                            @Html.TextBox("Trave_Tour_Expense_HDR.PeriodTo", String.Format("{0:dd MMM yyyy}", Convert.ToDateTime(System.DateTime.Now).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @style = "padding-right: 0px;" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                        @*@{
                Html.RenderPartial("../UserControls/_DocumentDate", PeriodFrom);
                                                    }*@
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">From Location</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Trave_Tour_Expense_HDR.FromLocation, new SelectList(ListCity, "Location", "Location", ""), "", new { @placeholder = "FROM LOCATION", @class = "form-control select2 required required2" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">To Location</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Trave_Tour_Expense_HDR.ToLocation, new SelectList(ListCity, "Location", "Location", ""), "", new { @placeholder = "TO LOCATION", @class = "form-control select2 required required2" })
                                        <input type="hidden" id="Total_Advance" value="@Model.List_BR_Adv.Sum(c => c.Advance_Amount)" />
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="portlet box">
                            <table class="table table-striped table-bordered table-hover" style="border-collapse:separate; border-color: #f2dede;">
                                <thead>
                                    <tr>
                                        <th class="center">PayMode</th>
                                        <th class="center">Advance Party Name</th>
                                        <th class="center">Voucher No</th>
                                        <th class="center">Adv. Amt</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.List_BR_Adv)
                                    {
                                        Html.RenderPartial("_BR_Advance_Partial", item);
                                    }
                                    @*@foreach (var item in Model.List_BR_Adv)
                                        {
                                            <tr>
                                                <td class="center">@item.PayMode</td>
                                                <td class="center">@item.Advance_Paid_Code : @item.Advance_Paid_Name </td>
                                                <td class="center">@item.VoucherNo</td>
                                                @Html.HiddenFor(c => item.Advance_Amount, new { @class = "ClsAdvAmount" })
                                                <td class="center">@item.Advance_Amount</td>
                                            </tr>
                                        }*@
                                    <tr style="color: #a24fd6; font-size: larger;">
                                        <td style="text-align:right;" colspan="3"><b>Total Advance Amount</b></td>
                                        <td class="center"> <b>@Model.List_BR_Adv.Sum(c => c.Advance_Amount)</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="table-scrollable" id="PaymentPart1">

                        @if (Model.SubType == 1)
                        {
                            <table class="table table-striped table-bordered table-hover" id="Fare" style="border-collapse:separate; border-color: #d0e9c6;">
                                <thead>
                                    <tr class="success">

                                        <th class="center">
                                            Fare <input type="checkbox" id="chkFare" value="FARE" />
                                        </th>

                                        <th class="center">
                                            Conveyance <input type="checkbox" id="chkConveyance" value="CONVEYANCE" />
                                        </th>

                                        <th class="center">
                                            Boarding / Loading <input type="checkbox" id="chkBordingLoading" value="BO_LO" />
                                        </th>

                                        <th class="center">
                                            Food   <input type="checkbox" id="chkFood" value="FOOD" />
                                        </th>

                                        <th class="center">
                                            Other   <input type="checkbox" id="chkOther" value="OTHER" />
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                            <br />
                        }

                        <table class="table table-striped table-bordered table-hover" id="Fare_Partial_Outer" style="border-collapse:separate; border-color: #d0e9c6;">
                            <thead>
                                <tr class="success">
                                    @{
                        var Fare_Rowspan = "0";

                        if (Model.SubType == 1)
                        {
                            Fare_Rowspan = "9";
                        }
                        else if (Model.SubType == 2 || Model.SubType == 3)
                        {
                            Fare_Rowspan = "10";
                        }
                                    }

                                    <th colspan="@Fare_Rowspan" class="center">Fare</th>
                                </tr>
                                <tr>
                                    <th class="center">Date</th>
                                    <th class="center">Location From</th>
                                    <th class="center">Location To</th>
                                    <th colspan="2" class="center">Mode Of Travelling</th>
                                    <th class="center">Class</th>
                                    <th class="center">Amount</th>
                                    @if (Model.SubType == 2 || Model.SubType == 3)
                                    {
                                        <th class="center">Amount Passed</th>
                                        <th class="center">Amount Rejected</th>
                                        <th class="center">Rejected Reason</th>
                                    }
                                    <th class="center">Image</th>
                                    @if (Model.SubType == 1)
                                    {
                                        <th class="center">Delete</th>
                                    }
                                </tr>
                            </thead>
                            <tbody id="Fare_Partial">
                                @foreach (var item in Model.List_Fare_Trave_Tour_Expense_DET)
                                {
                                    Html.RenderPartial("_Fare_Trave_Tour_Expense_Partial", item);
                                }
                            </tbody>
                            <tbody>
                                <tr>
                                    <td colspan="6" class="center"> <b>Sub Total</b> </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.Trave_Tour_Expense_DET.Fare_SubTotal_Amount, new { @class = "form-control required required2 clsSubTotal", @number = "true", @readonly = "true" })
                                    </td>
                                    @if (Model.SubType == 2 || Model.SubType == 3)
                                    {
                                        <td>
                                            @Html.TextBoxFor(m => m.Trave_Tour_Expense_DET.Fare_SubTotal_Amount_Passed, new { @class = "form-control required required2 clsSubTotal_Amount_Passed", @number = "true", @readonly = "true" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.Trave_Tour_Expense_DET.Fare_SubTotal_Amount_Rejected, new { @class = "form-control required required2 clsSubTotal_Amount_Rejected", @number = "true", @readonly = "true" })
                                        </td>
                                        <td></td>
                                    }
                                    <td></td>
                                    @if (Model.SubType == 1)
                                    {
                                        <th class="center"></th>
                                    }
                                </tr>
                                <tr>
                                    <td colspan="8" class="center" style="text-align:right;">
                                        @if (Model.SubType == 1)
                                        {
                                            <button type="button" value="FARE" id="btnFareAddNewRow" class="btn btn-sm blue">Add New Row</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-striped table-bordered table-hover" id="Conveyance_Partial_Outer" style="border-collapse:separate; border-color: #f2dede;">
                            <thead>
                                <tr class="warning">
                                    @{
                                        var Conveyance_Rowspan = "0";

                                        if (Model.SubType == 1)
                                        {
                                            Conveyance_Rowspan = "8";
                                        }
                                        else if (Model.SubType == 2 || Model.SubType == 3)
                                        {
                                            Conveyance_Rowspan = "10";
                                        }
                                    }

                                    <th colspan="@Conveyance_Rowspan" class="center">Conveyance</th>
                                </tr>
                                <tr>
                                    <th class="center">Date</th>
                                    <th class="center">Location From</th>
                                    <th class="center">Location To</th>
                                    <th colspan="2" class="center">Mode Of Travelling</th>
                                    <th class="center">Distance</th>
                                    <th class="center">Amount</th>
                                    @if (Model.SubType == 2 || Model.SubType == 3)
                                    {
                                        <th class="center">Amount Passed</th>
                                        <th class="center">Amount Rejected</th>
                                        <th class="center">Rejected Reason</th>
                                    }
                                    @if (Model.SubType == 1)
                                    {
                                        <th class="center">Delete</th>
                                    }
                                </tr>
                            </thead>
                            <tbody id="Conveyance_Partial">
                                @foreach (var item in Model.List_Conveyance_Trave_Tour_Expense_DET)
                                {
                                    Html.RenderPartial("_Conveyance_Trave_Tour_Expense_Partial", item);
                                }
                            </tbody>
                            <tbody>
                                <tr>
                                    <td colspan="6" class="center"> <b>Sub Total</b> </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.Trave_Tour_Expense_DET.Conveyance_SubTotal_Amount, new { @class = "form-control required required2 clsSubTotal", @number = "true", @readonly = "true" })
                                    </td>
                                    @if (Model.SubType == 2 || Model.SubType == 3)
                                    {
                                        <td>
                                            @Html.TextBoxFor(m => m.Trave_Tour_Expense_DET.Conveyance_SubTotal_Amount_Passed, new { @class = "form-control required required2 clsSubTotal_Amount_Passed", @number = "true", @readonly = "true" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.Trave_Tour_Expense_DET.Conveyance_SubTotal_Amount_Rejected, new { @class = "form-control required required2 clsSubTotal_Amount_Rejected", @number = "true", @readonly = "true" })
                                        </td>
                                        <td></td>
                                    }
                                    @if (Model.SubType == 1)
                                    {
                                        <th class="center"></th>
                                    }
                                </tr>
                                <tr>
                                    <td colspan="8" class="center" style="text-align:right;">
                                        @if (Model.SubType == 1)
                                        {
                                            <button type="button" value="CONVEYANCE" id="btnConveyanceAddNewRow" class="btn btn-sm blue">Add New Row</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-striped table-bordered table-hover" id="Bo_Lo_Partial_Outer" style="border-collapse:separate; border-color: #d0e9c6;">
                            <thead>
                                <tr class="success">
                                    @{
                                        var Bo_Lo_Rowspan = "0";

                                        if (Model.SubType == 1)
                                        {
                                            Bo_Lo_Rowspan = "8";
                                        }
                                        else if (Model.SubType == 2 || Model.SubType == 3)
                                        {
                                            Bo_Lo_Rowspan = "10";
                                        }
                                    }
                                    <th colspan="@Bo_Lo_Rowspan" class="center">Boarding / Loading</th>
                                </tr>
                                <tr>
                                    <th class="center">Name Of City</th>
                                    <th class="center">Grade Of City</th>
                                    <th class="center">Name Of Hotel</th>
                                    <th class="center">Date of Check In</th>
                                    <th class="center">Date of Check Out</th>
                                    <th class="center">Days Of Stay</th>
                                    <th class="center">Amount</th>
                                    @if (Model.SubType == 2 || Model.SubType == 3)
                                    {
                                        <th class="center">Amount Passed</th>
                                        <th class="center">Amount Rejected</th>
                                        <th class="center">Rejected Reason</th>
                                    }
                                    @if (Model.SubType == 1)
                                    {
                                        <th class="center">Delete</th>
                                    }
                                </tr>
                            </thead>
                            <tbody id="Bo_Lo_Partial">
                                @foreach (var item in Model.List_Bo_Lo_Trave_Tour_Expense_DET)
                                {
                                    Html.RenderPartial("_Bo_Lo_Trave_Tour_Expense_Partial", item);
                                }
                            </tbody>
                            <tbody>
                                <tr>
                                    <td colspan="6" class="center"> <b>Sub Total</b> </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.Trave_Tour_Expense_DET.Bo_Lo_SubTotal_Amount, new { @class = "form-control required required2 clsSubTotal", @number = "true", @readonly = "true" })
                                    </td>
                                    @if (Model.SubType == 2 || Model.SubType == 3)
                                    {
                                        <td>
                                            @Html.TextBoxFor(m => m.Trave_Tour_Expense_DET.Bo_Lo_SubTotal_Amount_Passed, new { @class = "form-control required required2 clsSubTotal_Amount_Passed", @number = "true", @readonly = "true" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.Trave_Tour_Expense_DET.Bo_Lo_SubTotal_Amount_Rejected, new { @class = "form-control required required2 clsSubTotal_Amount_Rejected", @number = "true", @readonly = "true" })
                                        </td>
                                        <td></td>
                                    }
                                    @if (Model.SubType == 1)
                                    {
                                        <th class="center"></th>
                                    }
                                </tr>
                                <tr>
                                    <td colspan="8" class="center" style="text-align:right;">
                                        @if (Model.SubType == 1)
                                        {
                                            <button type="button" value="BO_LO" id="btnBo_LoAddNewRow" class="btn btn-sm blue">Add New Row</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-striped table-bordered table-hover" id="Food_Partial_Outer" style="border-collapse:separate; border-color: #f2dede;">
                            <thead>
                                <tr class="warning">
                                    @{
                                        var Food_Rowspan = "0";

                                        if (Model.SubType == 1)
                                        {
                                            Food_Rowspan = "8";
                                        }
                                        else if (Model.SubType == 2 || Model.SubType == 3)
                                        {
                                            Food_Rowspan = "10";
                                        }
                                    }
                                    <th colspan="@Food_Rowspan" class="center">Food</th>
                                </tr>
                                <tr>
                                    <th class="center">Date</th>
                                    <th colspan="5" class="center">Particular</th>
                                    <th class="center">Amount</th>
                                    @if (Model.SubType == 2 || Model.SubType == 3)
                                    {
                                        <th class="center">Amount Passed</th>
                                        <th class="center">Amount Rejected</th>
                                        <th class="center">Rejected Reason</th>
                                    }
                                    @if (Model.SubType == 1)
                                    {
                                        <th class="center">Delete</th>
                                    }
                                </tr>
                            </thead>
                            <tbody id="Food_Partial">
                                @foreach (var item in Model.List_Food_Trave_Tour_Expense_DET)
                                {
                                    Html.RenderPartial("_Food_Trave_Tour_Expense_Partial", item);
                                }
                            </tbody>
                            <tbody>
                                <tr>
                                    <td colspan="6" class="center"> <b>Sub Total</b> </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.Trave_Tour_Expense_DET.Food_SubTotal_Amount, new { @class = "form-control required required2 clsSubTotal", @number = "true", @readonly = "true" })
                                    </td>
                                    @if (Model.SubType == 2 || Model.SubType == 3)
                                    {
                                        <td>
                                            @Html.TextBoxFor(m => m.Trave_Tour_Expense_DET.Food_SubTotal_Amount_Passed, new { @class = "form-control required required2 clsSubTotal_Amount_Passed", @number = "true", @readonly = "true" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.Trave_Tour_Expense_DET.Food_SubTotal_Amount_Rejected, new { @class = "form-control required required2 clsSubTotal_Amount_Rejected", @number = "true", @readonly = "true" })
                                        </td>
                                        <td></td>
                                    }
                                    @if (Model.SubType == 1)
                                    {
                                        <th class="center"></th>
                                    }
                                </tr>
                                <tr>
                                    <td colspan="8" class="center" style="text-align:right;">
                                        @if (Model.SubType == 1)
                                        {
                                            <button type="button" value="FOOD" id="btnFoodAddNewRow" class="btn btn-sm blue">Add New Row</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-striped table-bordered table-hover" id="Other_Partial_Outer" style="border-collapse:separate; border-color: #d0e9c6;">
                            <thead>
                                <tr class="success">
                                    @{
                                        var Other_Rowspan = "0";

                                        if (Model.SubType == 1)
                                        {
                                            Other_Rowspan = "8";
                                        }
                                        else if (Model.SubType == 2 || Model.SubType == 3)
                                        {
                                            Other_Rowspan = "10";
                                        }
                                    }
                                    <th colspan="@Other_Rowspan" class="center">Other</th>
                                </tr>
                                <tr>
                                    <th class="center">Date</th>
                                    <th colspan="5" class="center">Particular</th>
                                    <th class="center">Amount</th>
                                    @if (Model.SubType == 2 || Model.SubType == 3)
                                    {
                                        <th class="center">Amount Passed</th>
                                        <th class="center">Amount Rejected</th>
                                        <th class="center">Rejected Reason</th>
                                    }
                                    @if (Model.SubType == 1)
                                    {
                                        <th class="center">Delete</th>
                                    }
                                </tr>
                            </thead>
                            <tbody id="Other_Partial">
                                @foreach (var item in Model.List_Other_Trave_Tour_Expense_DET)
                                {
                                    Html.RenderPartial("_Other_Trave_Tour_Expense_Partial", item);
                                }
                            </tbody>
                            <tbody>
                                <tr>
                                    <td colspan="6" class="center"> <b>Sub Total</b> </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.Trave_Tour_Expense_DET.Other_SubTotal_Amount, new { @class = "form-control required required2 clsSubTotal", @number = "true", @readonly = "true" })
                                    </td>
                                    @if (Model.SubType == 2 || Model.SubType == 3)
                                    {
                                        <td>
                                            @Html.TextBoxFor(m => m.Trave_Tour_Expense_DET.Other_SubTotal_Amount_Passed, new { @class = "form-control required required2 clsSubTotal_Amount_Passed", @number = "true", @readonly = "true" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.Trave_Tour_Expense_DET.Other_SubTotal_Amount_Rejected, new { @class = "form-control required required2 clsSubTotal_Amount_Rejected", @number = "true", @readonly = "true" })
                                        </td>
                                        <td></td>
                                    }
                                    @if (Model.SubType == 1)
                                    {
                                        <th class="center"></th>
                                    }
                                </tr>
                                <tr>
                                    <td colspan="8" class="center" style="text-align:right;">
                                        @if (Model.SubType == 1)
                                        {
                                            <button type="button" value="OTHER" id="btnOtherAddNewRow" class="btn btn-sm blue">Add New Row</button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-striped table-bordered table-hover" style="border-collapse:separate; border-color: #d0e9c6;">
                            <thead>
                                <tr class="danger">
                                    <td colspan="6" class="center"> <b>Grand Total</b> </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.Trave_Tour_Expense_DET.GrandTotal_SubTotal_Amount, new { @class = "form-control required required2", @min = "1", @number = "true", @readonly = "true" })
                                    </td>
                                    @if (Model.SubType == 2 || Model.SubType == 3)
                                    {
                                        <td>
                                            @Html.TextBoxFor(m => m.Trave_Tour_Expense_DET.GrandTotal_SubTotal_Amount_Passed, new { @class = "form-control required required2 ", @number = "true", @readonly = "true" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.Trave_Tour_Expense_DET.GrandTotal_SubTotal_Amount_Rejected, new { @class = "form-control required required2 ", @number = "true", @readonly = "true" })
                                        </td>
                                        <td></td>
                                    }
                                </tr>
                            </thead>
                        </table>
                        <input type="hidden" id="Total_Amount" />
                        <table class="table table-striped">
                            <thead>
                                @if (Model.SubType == 3)
                                {
                                    <tr>
                                        <td class="center"> <b>Amount Paid To Employee</b> </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.Trave_Tour_Expense_HDR.AmountPaidToEmployee, new { @class = "form-control required required2", @min = "0", @number = "true", @readonly = "true" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center"><b>Amount Receive From Employee</b></td>
                                        <td>
                                            @Html.TextBoxFor(m => m.Trave_Tour_Expense_HDR.AmountPaidFromEmployee, new { @class = "form-control required required2", @min = "0", @number = "true", @readonly = "true" })
                                        </td>
                                    </tr>
                                }
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" id="PaymentControl">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Payment @ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        @if (Model.SubType == 3)
                        {
                            @*
                                @Html.Partial("_BranchAccounting_PaymentPart", Model);
                                <hr />
                            *@
                            <div class="form-group">
                                @foreach (var itms in Model.WADListing)
                                {
                                    itms.Vouchertype = "BranchAccountingType";
                                    itms.ExpesneType = 3;
                                    @*@Html.Partial("../Voucher/_PaymentModePartial", itms)*@
                                    @Html.Partial("../Voucher/_PaymentModePartiaBranchAccounting", itms)
                                    
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-actions fluid" id="SubmitBtn">
                @{
                    @Html.Partial("_BranchAcct_SubmitPartial", Model)
                }
            </div>
        </div>
    </div>
}

<script src="~/Scripts/BranchAccounting/BranchAccounting.js?ver<%=DateTime.Now.Ticks.ToString()%>" type="text/javascript"></script>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var select2Date = function (DomainName) {

            //$('.select2').select2({
            //    placeholder: "Select an option",
            //    allowClear: true
            //});

            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: new Date('@startDate'),
                    endDate: new Date('@endDate'),
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
            if (jQuery().datepicker) {
                $('.date-picker1').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    endDate: new Date('@endDate1'),
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
            if (jQuery().datepicker) {
                $('.date-pickerFrom').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: new Date('@BRGenerationDate'),
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //document.form["form_sample"].submit();
                }
            });
        }

        /* Acouting Calculation */
        var Accounting_Calculation = function (DomainName, Prefix) {
            IsServicetaxCalculated(DomainName, Prefix)
            OnLoadFunction(DomainName, Prefix, $("#Trave_Tour_Expense_HDR_ExpenceType").val())

            $("#WAD_IsServicetaxapply").change(function () {
                IsServicetaxCalculated(DomainName, Prefix);
            })
            $("#WAD_IsTDStaxapply").change(function () {
                IsServicetaxCalculated(DomainName, Prefix);
            })
            $("#WAD_TDSRate").focusout(function () {
                IsServicetaxCalculated(DomainName, Prefix);
            })
        }

        var AddDetails = function (DomainName) {

            $("#btnFareAddNewRow").click(function () {
                var Value = $(this).attr("value");
                AddDetails_HTML(DomainName, Value, "Fare_Partial")
            });

            $("#btnConveyanceAddNewRow").click(function () {
                var Value = $(this).attr("value");
                AddDetails_HTML(DomainName, Value, "Conveyance_Partial")
            });

            $("#btnBo_LoAddNewRow").click(function () {
                var Value = $(this).attr("value");
                AddDetails_HTML(DomainName, Value, "Bo_Lo_Partial")
            });

            $("#btnFoodAddNewRow").click(function () {
                var Value = $(this).attr("value");
                AddDetails_HTML(DomainName, Value, "Food_Partial")
            });

            $("#btnOtherAddNewRow").click(function () {
                var Value = $(this).attr("value");
                AddDetails_HTML(DomainName, Value, "Other_Partial")
            });
        }

        var AddDetails_HTML = function (DomainName, Type, HtmlAppendDiv) {

            var itemIndex = parseInt($("#RowNumber").val()) + 1;
            var Subtype = $("#SubType").val();
            var StrURL1 = DomainName + '/BranchAccounting/_Add_Travelling_Tour_Details/' + itemIndex + "?Type=" + Type + "&Subtype=" + Subtype;

            App.blockUI({ boxed: true });

            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#" + HtmlAppendDiv).append(html);
                    $("#RowNumber").val(itemIndex);

                    if (Type == "FARE") {
                        select2ID("FAREDET_" + itemIndex + "__TravellingMode");
                        select2ID("FAREDET_" + itemIndex + "__Class");
                        select2ID("FAREDET_" + itemIndex + "__LocationFrom");
                        select2ID("FAREDET_" + itemIndex + "__LocationTo");
                        DatePickerID("FAREDET_" + itemIndex + "__Date");
                    }
                    else if (Type == "CONVEYANCE") {
                        DatePickerID("ConveyanceDET_" + itemIndex + "__Date");
                        select2ID("ConveyanceDET_" + itemIndex + "__TravellingMode");
                    }
                    else if (Type == "BO_LO") {
                        handleDateTimePicker1();
                    }
                    else if (Type == "FOOD") {
                        DatePickerID("FoodDET_" + itemIndex + "__Date");
                    }
                    else if (Type == "OTHER") {
                        DatePickerID("OtherDET_" + itemIndex + "__Date");
                    }
                    select2Date(DomainName);

                    $(".clsDateOfCheckIn").change(function () {
                        var id = $(this).attr("id").replace("DateOfCheckIn", "")
                        No_Of_Days(DomainName, id);
                    });
                    $(".clsDateOfCheckOut").change(function () {
                        var id = $(this).attr("id").replace("DateOfCheckOut", "")
                        No_Of_Days(DomainName, id);
                    });
                    ControlDate();
                    App.unblockUI();

                },
                error: function (req, status, error) {
                    alert("error " + req + "   " + status + "   " + error);
                }
            });
        }

        var select2ID = function (ID) {
            $('#' + ID).select2({
                placeholder: "Select an option",
                allowClear: true
            });
        }

        var DatePickerID = function (ID) {
            $('#' + ID).datepicker({
                rtl: App.isRTL(),
                format: "dd M yyyy",
                autoclose: true,
                //startDate: new Date(),
                //endDate: new Date(),
            });

        }

        var Calculation = function (DomainName) {
            var FareclsAmount = 0;
            $(".FareclsAmount").each(function () {
                FareclsAmount = parseFloat(FareclsAmount) + parseFloat($(this).val());
            });
            $("#Trave_Tour_Expense_DET_Fare_SubTotal_Amount").val(FareclsAmount);
            var ConveyanceclsAmount = 0;
            $(".ConveyanceclsAmount").each(function () {
                ConveyanceclsAmount = parseFloat(ConveyanceclsAmount) + parseFloat($(this).val());
            });
            $("#Trave_Tour_Expense_DET_Conveyance_SubTotal_Amount").val(ConveyanceclsAmount);
            var Bo_LoclsAmount = 0;
            $(".Bo_LoclsAmount").each(function () {
                Bo_LoclsAmount = parseFloat(Bo_LoclsAmount) + parseFloat($(this).val());
            });
            $("#Trave_Tour_Expense_DET_Bo_Lo_SubTotal_Amount").val(Bo_LoclsAmount);
            var FoodclsAmount = 0;
            $(".FoodclsAmount").each(function () {
                FoodclsAmount = parseFloat(FoodclsAmount) + parseFloat($(this).val());
            });
            $("#Trave_Tour_Expense_DET_Food_SubTotal_Amount").val(FoodclsAmount);
            var OtherclsAmount = 0;
            $(".OtherclsAmount").each(function () {
                OtherclsAmount = parseFloat(OtherclsAmount) + parseFloat($(this).val());
            });
            $("#Trave_Tour_Expense_DET_Other_SubTotal_Amount").val(OtherclsAmount);

            var clsSubTotal = 0;
            $(".clsSubTotal").each(function () {
                clsSubTotal = parseFloat(clsSubTotal) + parseFloat($(this).val());
            });
            $("#Trave_Tour_Expense_DET_GrandTotal_SubTotal_Amount").val(clsSubTotal);

            var FareclsAmount_Passed = 0;
            $(".FareclsAmount_Passed").each(function () {
                FareclsAmount_Passed = parseFloat(FareclsAmount_Passed) + parseFloat($(this).val());
            });
            $("#Trave_Tour_Expense_DET_Fare_SubTotal_Amount_Passed").val(FareclsAmount_Passed);
            var FareclsAmount_Rejected = 0;
            $(".FareclsAmount_Rejected").each(function () {
                FareclsAmount_Rejected = parseFloat(FareclsAmount_Rejected) + parseFloat($(this).val());
            });
            $("#Trave_Tour_Expense_DET_Fare_SubTotal_Amount_Rejected").val(FareclsAmount_Rejected);

            var ConveyanceclsAmount_Passed = 0;
            $(".ConveyanceclsAmount_Passed").each(function () {
                ConveyanceclsAmount_Passed = parseFloat(ConveyanceclsAmount_Passed) + parseFloat($(this).val());
            });
            $("#Trave_Tour_Expense_DET_Conveyance_SubTotal_Amount_Passed").val(ConveyanceclsAmount_Passed);
            var ConveyanceclsAmount_Rejected = 0;
            $(".ConveyanceclsAmount_Rejected").each(function () {
                ConveyanceclsAmount_Rejected = parseFloat(ConveyanceclsAmount_Rejected) + parseFloat($(this).val());
            });
            $("#Trave_Tour_Expense_DET_Conveyance_SubTotal_Amount_Rejected").val(ConveyanceclsAmount_Rejected);

            var Bo_Lo_clsAmount_Passed = 0;
            $(".Bo_Lo_clsAmount_Passed").each(function () {
                Bo_Lo_clsAmount_Passed = parseFloat(Bo_Lo_clsAmount_Passed) + parseFloat($(this).val());
            });
            $("#Trave_Tour_Expense_DET_Bo_Lo_SubTotal_Amount_Passed").val(Bo_Lo_clsAmount_Passed);
            var Bo_Lo_clsAmount_Rejected = 0;
            $(".Bo_Lo_clsAmount_Rejected").each(function () {
                Bo_Lo_clsAmount_Rejected = parseFloat(Bo_Lo_clsAmount_Rejected) + parseFloat($(this).val());
            });
            $("#Trave_Tour_Expense_DET_Bo_Lo_SubTotal_Amount_Rejected").val(Bo_Lo_clsAmount_Rejected);

            var FoodclsAmount_Passed = 0;
            $(".FoodclsAmount_Passed").each(function () {
                FoodclsAmount_Passed = parseFloat(FoodclsAmount_Passed) + parseFloat($(this).val());
            });
            $("#Trave_Tour_Expense_DET_Food_SubTotal_Amount_Passed").val(FoodclsAmount_Passed);
            var FoodclsAmount_Rejected = 0;
            $(".FoodclsAmount_Rejected").each(function () {
                FoodclsAmount_Rejected = parseFloat(FoodclsAmount_Rejected) + parseFloat($(this).val());
            });
            $("#Trave_Tour_Expense_DET_Food_SubTotal_Amount_Rejected").val(FoodclsAmount_Rejected);

            var OtherclsAmount_Passed = 0;
            $(".OtherclsAmount_Passed").each(function () {
                OtherclsAmount_Passed = parseFloat(OtherclsAmount_Passed) + parseFloat($(this).val());
            });
            $("#Trave_Tour_Expense_DET_Other_SubTotal_Amount_Passed").val(OtherclsAmount_Passed);
            var OtherclsAmount_Rejected = 0;
            $(".OtherclsAmount_Rejected").each(function () {
                OtherclsAmount_Rejected = parseFloat(OtherclsAmount_Rejected) + parseFloat($(this).val());
            });
            $("#Trave_Tour_Expense_DET_Other_SubTotal_Amount_Rejected").val(OtherclsAmount_Rejected);

            var clsSubTotal_Amount_Passed = 0;
            $(".clsSubTotal_Amount_Passed").each(function () {
                clsSubTotal_Amount_Passed = parseFloat(clsSubTotal_Amount_Passed) + parseFloat($(this).val());
            });
            $("#Trave_Tour_Expense_DET_GrandTotal_SubTotal_Amount_Passed").val(clsSubTotal_Amount_Passed);
            var clsSubTotal_Amount_Rejected = 0;
            $(".clsSubTotal_Amount_Rejected").each(function () {
                clsSubTotal_Amount_Rejected = parseFloat(clsSubTotal_Amount_Rejected) + parseFloat($(this).val());
            });
            $("#Trave_Tour_Expense_DET_GrandTotal_SubTotal_Amount_Rejected").val(clsSubTotal_Amount_Rejected);
        }

        var handleDateTimePicker1 = function () {
            if (jQuery().datepicker) {
                $('.datetime-picker').datetimepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy  HH:ii P",
                    showMeridian: true,
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    todayBtn: true
                });
            }
        }

        var Submit_Approval_Rejection = function (DomainName) {

            $("#btnSubmit").click(function () {
                Formvalidate(DomainName);
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit()
                }
                else {
                    return false
                }
            });

            //$("#btnApprovSubmit").click(function () {
            //    debugger
            //    Formvalidate(DomainName);
            //    if ($('#form_sample').valid()) {
            //        App.blockUI({ boxed: true });
            //        $('#form_sample').attr('action', DomainName + '/BranchAccounting/Travel_Accounting_Advance_Payment_Submit');
            //        document.forms["form_sample"].submit()
            //    }
            //    else {
            //        return false
            //    }
            //});

            $('#btnRejectAtHO').click(function () { 

                //$(".clsAmount_Passed").each(function () {
                //    var Id = $(this).attr("id").replace("Amount_Passed", "");
                //    $("#" + Id + "Reason_For_Rejection").addClass("required required2")
                //    $("#" + Id + "Amount_Passed").attr("min", "0")
                //    $("#" + Id + "Amount_Rejected").attr("min", "0")
                //    $("#Trave_Tour_Expense_DET_GrandTotal_SubTotal_Amount_Passed").attr("min", "0")
                //    $("#Trave_Tour_Expense_DET_GrandTotal_SubTotal_Amount_Rejected").attr("min", "1")
                //})

                Formvalidate(DomainName);

                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false)
                    $("#PaymentPart :input").attr("disabled", false);

                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/Travelling_Reject');
                    document.forms["form_sample"].submit()
                }
                else {
                    return false
                }
            });

            $('#btnAuthorizeAtHo').click(function () {

                $(".clsAmount_Passed").each(function () {
                    var Id = $(this).attr("id").replace("Amount_Passed", "");
                    $("#" + Id + "Reason_For_Rejection").removeClass("required required2")
                    $("#" + Id + "Amount_Passed").attr("min", "0")
                    $("#" + Id + "Amount_Rejected").attr("min", "0")

                    $("#Trave_Tour_Expense_DET_GrandTotal_SubTotal_Amount_Passed").attr("min", "1")
                    $("#Trave_Tour_Expense_DET_GrandTotal_SubTotal_Amount_Rejected").attr("min", "0")
                })

                Formvalidate(DomainName);
                if ($('#form_sample').valid()) {

                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false)
                    $("#PaymentPart :input").attr("disabled", false);

                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/Travelling_Tour_Approval');
                    document.forms["form_sample"].submit()
                }
                else {
                    return false
                }
            });
        };

        var No_Of_Days = function (DomainName, id) {
            var DateOfCheckIn = $("#" + id + "DateOfCheckIn").val();
            var DateOfCheckOut = $("#" + id + "DateOfCheckOut").val();
            $("#" + id + "DaysOfStay").val(daydiff(DateOfCheckIn, DateOfCheckOut).toFixed(0));
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                if ($("#SubType").val() == "2") {
                    $(".clsApproval").show();
                }
                else {
                    $(".clsApproval").hide();
                }
                /* Acouting Calculation */

                if ($("#Trave_Tour_Expense_HDR_ExpenceType").val() == 3)
                {
                    $("#PaymentPart").attr("disabled", true)
                }

                var Prefix = "PAYMENTMODE_1__";
                ControlDate();
                IsServicetaxCalculated(DomainName, Prefix)
                OnLoadFunction(DomainName, Prefix, $("#Trave_Tour_Expense_HDR_ExpenceType").val())
                AddDetails(DomainName);
                $("#PaymentControl").hide();
                Submit_Approval_Rejection(DomainName);

                $(".clsAmount_Passed").focusout(function () {
                    var ID = $(this).attr("id").replace("Amount_Passed", "");
                    var TotalBill = $("#" + ID + "Amount").val();
                    var AmountRejected = parseFloat(TotalBill) - parseFloat($(this).val());
                    $("#" + ID + "Amount_Rejected").val(AmountRejected);
                });

                $("#WAD_IsServicetaxapply").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })

                $("#WAD_IsTDStaxapply").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })

                $("#WAD_TDSRate").focusout(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })

                $(".clsFareTravellingMode").live("change", function () {
                    var id = $(this).attr("id").replace("TravellingMode", "");

                    App.blockUI({ boxed: true });
                    var StrURL = DomainName + "/BranchAccounting/Get_Travelling_Mode_Class_?Type=" + $(this).val();
                    FillDropDownfromOther(id + "Class", StrURL, "Class");
                    App.unblockUI();
                });

                GetVehicleEmployeeUserName_BranchWise("Trave_Tour_Expense_HDR_EmpCode", "U")
                if ($("#Trave_Tour_Expense_HDR_EmpCode").val() != '' && $("#Trave_Tour_Expense_HDR_EmpCode").val() != null) {
                    $("#Trave_Tour_Expense_HDR_EmpCode").select2("data", { id: $("#Trave_Tour_Expense_HDR_EmpCode").val(), text: $("#Trave_Tour_Expense_HDR_EmpName").val() });
                    $("#ShowEmpCode").val($("#Trave_Tour_Expense_HDR_EmpCode").val());
                }

                StrURL = DomainName + "/Operation/GetDestinationLocations";
                Calculation(DomainName);

                $("#Trave_Tour_Expense_HDR_EmpCode").change(function () {
                    EmpCode_Change(DomainName, $("#Trave_Tour_Expense_HDR_EmpCode").val(), "Trave_Tour_Expense_HDR_", 1, 0, 0, 0);
                });

                $(".FareclsAmount").live("focusout", function () {
                    Calculation(DomainName);
                });
                $(".ConveyanceclsAmount").live("focusout", function () {
                    Calculation(DomainName);
                });
                $(".Bo_LoclsAmount").live("focusout", function () {
                    Calculation(DomainName);
                });
                $(".FoodclsAmount").live("focusout", function () {
                    Calculation(DomainName);
                });
                $(".OtherclsAmount").live("focusout", function () {
                    Calculation(DomainName);
                });
                $(".FareclsAmount_Passed").live("focusout", function () {
                    Calculation(DomainName);
                });
                $(".FareclsAmount_Rejected").live("focusout", function () {
                    Calculation(DomainName);
                });
                $(".ConveyanceclsAmount_Passed").live("focusout", function () {
                    Calculation(DomainName);
                });
                $(".ConveyanceclsAmount_Rejected").live("focusout", function () {
                    Calculation(DomainName);
                });
                $(".Bo_Lo_clsAmount_Passed").live("focusout", function () {
                    Calculation(DomainName);
                });
                $(".Bo_Lo_clsAmount_Rejected").live("focusout", function () {
                    Calculation(DomainName);
                });
                $(".FoodclsAmount_Passed").live("focusout", function () {
                    Calculation(DomainName);
                });
                $(".FoodclsAmount_Rejected").live("focusout", function () {
                    Calculation(DomainName);
                });
                $(".OtherclsAmount_Passed").live("focusout", function () {
                    Calculation(DomainName);
                });
                $(".OtherclsAmount_Rejected").live("focusout", function () {
                    Calculation(DomainName);
                });

                $(".clsDateOfCheckIn").change(function () {
                    var id = $(this).attr("id").replace("DateOfCheckIn", "")
                    No_Of_Days(DomainName, id);
                });

                $(".clsDateOfCheckOut").change(function () {
                    var id = $(this).attr("id").replace("DateOfCheckOut", "")
                    No_Of_Days(DomainName, id);
                });

                $(".FareclsAmount_Passed").change(function () {
                    var ID = $(this).attr("Id").replace("FAREDET_", "").replace("__Amount_Passed", "");
                    var Totl = $("#FAREDET_" + ID + "__Amount").val();
                    var PassedAmt = $("#FAREDET_" + ID + "__Amount_Passed").val();
                    var Reject = parseInt(Totl) - parseInt(PassedAmt);
                    $("#FAREDET_" + ID + "__Amount_Rejected").val(Reject);
                });

                $(".ConveyanceclsAmount_Passed").change(function () {
                    var ID = $(this).attr("Id").replace("ConveyanceDET_", "").replace("__Amount_Passed", "");
                    var Totl = $("#ConveyanceDET_" + ID + "__Amount").val();
                    var PassedAmt = $("#ConveyanceDET_" + ID + "__Amount_Passed").val();
                    var Reject = parseInt(Totl) - parseInt(PassedAmt);
                    $("#ConveyanceDET_" + ID + "__Amount_Rejected").val(Reject);
                });

                $(".Bo_Lo_clsAmount_Passed").change(function () {
                    var ID = $(this).attr("Id").replace("Bo_Lo_DET_", "").replace("__Amount_Passed", "");
                    var Totl = $("#Bo_Lo_DET_" + ID + "__Amount").val();
                    var PassedAmt = $("#Bo_Lo_DET_" + ID + "__Amount_Passed").val();
                    var Reject = parseInt(Totl) - parseInt(PassedAmt);
                    $("#Bo_Lo_DET_" + ID + "__Amount_Rejected").val(Reject);
                });

                $(".FoodclsAmount_Passed").change(function () {
                    var ID = $(this).attr("Id").replace("FoodDET_", "").replace("__Amount_Passed", "");
                    var Totl = $("#FoodDET_" + ID + "__Amount").val();
                    var PassedAmt = $("#FoodDET_" + ID + "__Amount_Passed").val();
                    var Reject = parseInt(Totl) - parseInt(PassedAmt);
                    $("#FoodDET_" + ID + "__Amount_Rejected").val(Reject);
                });

                $(".OtherclsAmount_Passed").change(function () {
                    console.log("test");
                    var ID = $(this).attr("Id").replace("OtherDET_", "").replace("__Amount_Passed", "");
                    var Totl = $("#OtherDET_" + ID + "__Amount").val();
                    var PassedAmt = $("#OtherDET_" + ID + "__Amount_Passed").val();
                    var Reject = parseInt(Totl) - parseInt(PassedAmt);
                    $("#OtherDET_" + ID + "__Amount_Rejected").val(Reject);
                });

                BR_Request_Common_Function(DomainName, "Trave_Tour_Expense_HDR_", "Trave_Tour_Expense_DET_", "form_sample");

                $('.select2').select2({
                    placeholder: "Select an option",
                    allowClear: true
                });

                select2Date();
                handleDateTimePicker1();


                $(".deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });

                if ("@Model.SubType" == "1") {
                    $("#Fare_Partial_Outer").hide();
                    $("#Conveyance_Partial_Outer").hide();
                    $("#Bo_Lo_Partial_Outer").hide();
                    $("#Food_Partial_Outer").hide();
                    $("#Other_Partial_Outer").hide();
                }
                if ("@Model.SubType" != "1") {
                    if ("@Model.List_Fare_Trave_Tour_Expense_DET.Count()" == "0") {
                        $("#Fare_Partial_Outer").html("");
                        Calculation(DomainName);
                    }
                    if ("@Model.List_Conveyance_Trave_Tour_Expense_DET.Count()" == "0") {
                        $("#Conveyance_Partial_Outer").html("");
                        Calculation(DomainName);
                    }
                    if ("@Model.List_Bo_Lo_Trave_Tour_Expense_DET.Count()" == "0") {
                        $("#Bo_Lo_Partial_Outer").html("");
                        Calculation(DomainName);
                    }
                    if ("@Model.List_Food_Trave_Tour_Expense_DET.Count()" == "0") {
                        $("#Food_Partial_Outer").html("");
                        Calculation(DomainName);
                    }
                    if ("@Model.List_Other_Trave_Tour_Expense_DET.Count()" == "0") {
                        $("#Other_Partial_Outer").html("");
                        Calculation(DomainName);
                    }
                }

                $("#chkFare").change(function () {

                    if ($('#chkFare').is(":checked")) {
                        var Value = $(this).attr("value");
                        AddDetails_HTML(DomainName, Value, "Fare_Partial")
                        $("#panelFare").css('display', 'block');
                        $("#Fare_Partial_Outer").show();
                    }
                    else {
                        $("#Fare_Partial").html("");
                        $("#Fare_Partial_Outer").hide();
                        $("#panelFare").css('display', 'none');
                    }
                    Calculation(DomainName);
                });

                $("#chkConveyance").change(function () {
                    if ($('#chkConveyance').is(":checked")) {
                        var Value = $(this).attr("value");
                        AddDetails_HTML(DomainName, Value, "Conveyance_Partial")
                        $("#Conveyance_Partial_Outer").show();
                        $("#panelConveyance").css('display', 'block');
                    }
                    else {
                        $("#Conveyance_Partial").html("");
                        $("#Conveyance_Partial_Outer").hide();
                        $("#panelConveyance").css('display', 'none');
                    }
                    Calculation(DomainName);
                });

                $("#chkBordingLoading").change(function () {
                    if ($('#chkBordingLoading').is(":checked")) {
                        var Value = $(this).attr("value");
                        AddDetails_HTML(DomainName, Value, "Bo_Lo_Partial")
                        $("#panelBordingLoading").css('display', 'block');
                        $("#Bo_Lo_Partial_Outer").show();
                    }
                    else {
                        $("#Bo_Lo_Partial").html("");
                        $("#Bo_Lo_Partial_Outer").hide();
                        $("#panelBordingLoading").css('display', 'none');
                    }
                    Calculation(DomainName);
                });

                $("#chkFood").change(function () {
                    if ($('#chkFood').is(":checked")) {
                        var Value = $(this).attr("value");
                        AddDetails_HTML(DomainName, Value, "Food_Partial")
                        $("#Food_Partial_Outer").show();
                        $("#panelFood").css('display', 'block');
                    }
                    else {
                        $("#Food_Partial").html("");
                        $("#Food_Partial_Outer").hide();
                        $("#panelFood").css('display', 'none');
                    }
                    Calculation(DomainName);
                });

                $("#chkOther").change(function () {
                    if ($('#chkOther').is(":checked")) {
                        var Value = $(this).attr("value");
                        AddDetails_HTML(DomainName, Value, "Other_Partial")
                        $("#Other_Partial_Outer").show();
                        $("#panelOther").css('display', 'block');
                    }
                    else {
                        $("#Other_Partial").html("");
                        $("#Other_Partial_Outer").hide();
                        $("#panelOther").css('display', 'none');
                    }
                    Calculation(DomainName);
                });

                var Advance_Amount = $('#Total_Advance').val();
                var Passed_Amount = $('#Trave_Tour_Expense_DET_GrandTotal_SubTotal_Amount_Passed').val();
                var Total = Math.abs((Advance_Amount) - (Passed_Amount))
                $("#Total_Amount").val(Total);
                debugger
                if (parseFloat(Passed_Amount) > parseFloat(Advance_Amount)) {
                    var AmountPaidToEmployee = $("#Total_Amount").val();
                    $('#Trave_Tour_Expense_HDR_AmountPaidFromEmployee').val(0);
                    $('#Trave_Tour_Expense_HDR_AmountPaidToEmployee').val(AmountPaidToEmployee);

                    $('#PAYMENTMODE_1__PaymentMode option[value="Both"]').remove();
                    $('#PAYMENTMODE_1__PaymentMode option[value="ASS0001"]').remove();
                    $("#PAYMENTMODE_1__PaymentMode").append("<option value='Both'>Both</option>");
                }
                else {
                 
                    var AmountReceivedFromEmployee = $("#Total_Amount").val();
                    $('#Trave_Tour_Expense_HDR_AmountPaidToEmployee').val(0);
                    $('#Trave_Tour_Expense_HDR_AmountPaidFromEmployee').val(AmountReceivedFromEmployee);

                    $('#PAYMENTMODE_1__PaymentMode option[value="Both"]').remove();
                    $('#PAYMENTMODE_1__PaymentMode option[value="ASS0001"]').remove();
                    $("#PAYMENTMODE_1__PaymentMode").append("<option value='ASS0001'>STAFF ADVANCE</option>");
                }

            }
        }
    }();

    function daydiff(first, second) {
        var millisecondsPerDay = 24 * 60 * 60 * 1000;
        var days = ((treatAsUTC(second) - treatAsUTC(first)) / millisecondsPerDay)

        var split_days = days.toString().split(".");
        var First_day = split_days[0];
        var Last_day = 0;
        if (split_days[1] != 0) {
            Last_day = 1;
        }
        return (parseInt(First_day) + parseInt(Last_day));
    }

    function treatAsUTC(date) {
        var result = new Date(date);
        result.setMinutes(result.getMinutes() - result.getTimezoneOffset());
        return result;
    }

</script>

