﻿@model Fleet.ViewModels.Expenses_Advance_EntryModule
@*@model FleetDataService.ViewModels.PaymentControl*@
@using FleetDataService.Models;
@using Fleet.Models;
@{
    ViewBag.Title = "Travelling Expense Advance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_citymaster> ListCity = MS.GetCityMasterObject();
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box  @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a class="btn default btn-xs" href="@Url.Content("~/BranchAccounting/Travelling_Advance_Criteria")">
                       
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("Travelling_Advance_Submit", "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
                {
                    <div class="form-body">

                        @Html.HiddenFor(m => m.Type)
                        @Html.HiddenFor(m => m.BR_Travel_Hdr.ID)
                        @Html.HiddenFor(m => m.BR_Travel_Hdr.ExpenceType)

                        <div class="form-group" id="PaymentPart">
                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">BR No.</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.BR_Travel_Hdr.BillNo, new { placeholder = "BR No", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">NAME OF EMPLOYEE</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.BR_Travel_Hdr.EmpName, new { placeholder = "NAME OF EMPLOYEE", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">EMPLOYEE CODE</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.BR_Travel_Hdr.EmpCode, new { placeholder = "EMPLOYEE CODE", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">BANK A/C NUMBER</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.BR_Travel_Hdr.BankAccNumber, new { placeholder = "BANK A/C NUMBER", @class = "form-control ", @readonly = "true" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">IFSC CODE</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.BR_Travel_Hdr.IFSCCode, new { placeholder = "IFSC CODE", @class = "form-control ", @readonly = "true" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">GRADE</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.BR_Travel_Hdr.Grade, new { placeholder = "GRADE", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">FROM LOCATION</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.BR_Travel_Hdr.FromLocation, new SelectList(ListCity, "Location", "Location", ""), "", new { @placeholder = "FROM LOCATION", @class = "form-control select2 ", @readonly = "true" })
                                    </div>
                                </div>

                                @*<div class="col-md-4 form-group">
                                        <label class="control-label col-md-4">TO LOCATION</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.BR_Travel_Hdr.ToLocation, new SelectList(ListCity, "Location", "Location", ""), "", new { @placeholder = "TO LOCATION", @class = "form-control select2 " })
                                        </div>
                                    </div>*@
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Advance Amt.</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.BR_ADV.Advance_Amount, new { placeholder = "Advance Amt", @number = "true", @class = "form-control required required2" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Advance Paid By</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.BR_ADV.Advance_Paid_By, new { placeholder = "Advance Paid By", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>

                            @{Html.RenderPartial("../UserControls/_PaymentControl", Model.PC);}

                        </div>

                        <div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                <a class="btn default btn-sm controls blue" href="@Url.Content("~/BranchAccounting/Travelling_Advance_Criteria")"><i class="fa-arrow"></i> Back To Advance Criteria</a>&nbsp;&nbsp;
                                <a href="@Url.Action("Travelling_Advance", "BranchAccounting", new { BillNo = Model.BillNo})"class="btn btn-sm blue btnAdvance" data-billno="@Model.BillNo">Back To Advance List</a>
                                <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                            </div>
                        </div>
                    </div>
                                }
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var select2Date = function (DomainName) {

            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //document.form["form_sample"].submit();
                }
            });
        }

        var select2ID = function (ID) {
            $('#' + ID).select2({
                placeholder: "Select an option",
                allowClear: true
            });
        }

        var DatePickerID = function (ID) {
            $('#' + ID).datepicker({
                rtl: App.isRTL(),
                format: "dd M yyyy",
                autoclose: true,
            });
        }

        var handleDateTimePicker1 = function () {
            if (jQuery().datepicker) {
                $('.datetime-picker').datetimepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy  HH:ii P",
                    showMeridian: true,
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    todayBtn: true
                });
            }
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                $("#ChequeDate").attr("readonly", "true");

                $("#BR_ADV_Advance_Amount").focusout(function () {
                    $("#PayAmount").val($(this).val());
                    $("#CashAmount").val($(this).val());
                    $("#ChequeAmount").val($(this).val());
                });

                $("#PayAmount").attr("number", true);
                $("#PaymentPart :input").attr("disabled", true);

                $("#PaymentMode").change(function () {

                    App.blockUI({ boxed: true });

                    $("#CashAmount").attr("readonly", "true");
                    $("#ChequeAmount").attr("readonly", "true");

                    $("#CashLedger").change(function () {
                        $("#CashLedgerName").val($(this).select2('data').text);
                    });

                    $("#BankLedger").change(function () {
                        $("#BankLedgerName").val($(this).select2('data').text);
                    });


                    if ($(this).val().toUpperCase() == "CASH") {
                        $(".clsBANK").hide();
                        $(".clsCASH").show();

                        $("#CashAmount").val($("#PayAmount").val());

                        var StrURL = DomainName + "/Payment/GetLedger?Category=Cash";
                        FillDropDownfromOther("CashLedger", StrURL, "Cash Ledger");

                        $("#ChequeNo").val("000000");
                        $("#BankLedger").select2("data", { id: $(this).val(), text: $(this).select2('data').text });

                    }
                    else if ($(this).val().toUpperCase() == "BANK") {
                        $(".clsBANK").show();
                        $(".clsCASH").hide();
                        $("#ChequeNo").val("");
                        var StrURL = DomainName + "/Payment/GetLedger?Category=Bank";
                        FillDropDownfromOther("BankLedger", StrURL, "Bank Ledger");

                        $("#ChequeAmount").val($("#PayAmount").val());

                        $("#CashLedger").select2("data", { id: $(this).val(), text: $(this).select2('data').text });
                    }
                    else if ($(this).val().toUpperCase() == "BOTH") {

                        $(".clsBANK").show();
                        $(".clsCASH").show();


                        $("#CashAmount").val("0");
                        $("#ChequeAmount").val("0");

                        $("#CashAmount").attr("readonly", false);
                        $("#ChequeAmount").attr("readonly", false);

                        var StrURL = DomainName + "/Payment/GetLedger?Category=Cash";
                        FillDropDownfromOther("CashLedger", StrURL, "Cash Ledger");

                        StrURL = DomainName + "/Payment/GetLedger?Category=Bank";
                        FillDropDownfromOther("BankLedger", StrURL, "Bank Ledger");
                    }
                });

                $("#PayAmount").focusout(function () {

                    if ($("#PaymentMode").val().toUpperCase() == "CASH") {
                        $("#CashAmount").val($(this).val());
                        $("#CashAmount").attr("min", 1);
                        $("#ChequeAmount").val("0");
                        $("#ChequeAmount").attr("min", 0);


                        $("#BankLedger").removeClass("required")
                        $("#ChequeNo").removeClass("required")
                        $("#ChequeDate").removeClass("required")
                        $("#CashAmount").addClass("required")
                        $("#CashLedger").addClass("required")
                    }
                    else if ($("#PaymentMode").val().toUpperCase() == "BANK") {
                        $("#ChequeAmount").val($(this).val());
                        $("#ChequeAmount").attr("min", 1);
                        $("#CashAmount").val("0");
                        $("#CashAmount").attr("min", 0);


                        $("#BankLedger").addClass("required")
                        $("#ChequeNo").addClass("required")
                        $("#ChequeDate").addClass("required")
                        $("#CashAmount").removeClass("required")
                        $("#CashLedger").removeClass("required")
                    }
                });

                GetVehicleEmployeeUserName_BranchWise("BR_Travel_Hdr_EmpCode", "U")
                GetVehicleEmployeeUserName_BranchWise("BR_ADV_Advance_Paid_By", "U")

                if ($("#BR_Travel_Hdr_EmpCode").val() != '' && $("#BR_Travel_Hdr_EmpCode").val() != null) {
                    $("#BR_Travel_Hdr_EmpCode").select2("data", { id: $("#BR_Travel_Hdr_EmpCode").val(), text: $("#BR_Travel_Hdr_EmpName").val() });
                }

                $("#btnSubmit").click(function () {
                    Formvalidate(DomainName);

                    if ($('#form_sample').valid()) {

                        if ($("#PaymentMode").val().toUpperCase() == "BOTH") {

                            var Advance_Amount = $("#BR_ADV_Advance_Amount").val();
                            var CashAmount = $("#CashAmount").val();
                            var ChequeAmount = $("#ChequeAmount").val();
                            var Total = parseFloat(ChequeAmount) + parseFloat(CashAmount);

                            if (parseFloat(Advance_Amount).toFixed(2) != parseFloat(Total).toFixed(2)) {
                                alert("Please Enter Valid Cash and Cheque Amount");
                                return false;
                            }
                        }

                        App.blockUI({ boxed: true });
                        $("#PaymentPart :input").attr("disabled", false);
                        document.forms["form_sample"].submit()
                    }
                    else {
                        return false
                    }
                });


                $("#PAYMENTMODE_1__NETAMOUNT").attr("number", true).attr("min", 0).addClass("required required2");
            }
        }
    }();

</script>
