﻿@model Fleet.ViewModels.ExpensesEntryModule
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@using System.Data
@using Fleet.Classes
@{
    ViewBag.Title = "Tripsheet Disputed Amount";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.OperationService CSOPN = new FleetDataService.OperationService();
    FleetDataService.BranchAccountingService BAS = new FleetDataService.BranchAccountingService();
    GeneralFuncations GF = new GeneralFuncations();
    List<webx_acctinfo>
    ListTDSSection = CSOPN.GetTDSSectionList();
    string ActionName = @ViewBag.ActionName;

    objDate Date = new objDate();
    Date.ControlId = "Tripsheet_HDR.BR_Date";
    Date.ControlValue = Model.Tripsheet_HDR.BR_Date.ToString();
    Date.ModuleCode = "20";

    DataTable DT_MaxLimit = BAS.GetCharge_Max_Limit(@ViewBag.BaseLocationCode, 12, @ViewBag.BaseUserName.ToUpper());
    int MaxLimit = Convert.ToInt32(DT_MaxLimit.Rows[0][0].ToString());

}

@using (Html.BeginForm(ActionName, "BranchAccounting", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="form-group" id="PaymentPart">
                            <div class="col-md-12">
                                @Html.HiddenFor(m => m.Tripsheet_HDR.ExpenceType)
                                @Html.HiddenFor(m => m.Tripsheet_HDR.BillNo)
                                @Html.HiddenFor(m => m.SubType)
                                @Html.HiddenFor(m => m.Type2)
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Tripsheet No. </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Tripsheet_HDR.TRIPSHEETNO, new { placeholder = "Tripsheet No.", @class = "form-control required required2 clsDocumentNo", @checkDocumentNo = true })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Name of Driver</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Tripsheet_HDR.EmpName, new { placeholder = "Name of Driver", @class = "form-control required required2", @readonly = "true" })
                                        @*@Html.HiddenFor(c => c.Tripsheet_HDR.EmpName)*@
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Driver Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Tripsheet_HDR.EmpCode, new { placeholder = "Driver Code", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 clsApproval">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Name of Bank</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Tripsheet_HDR.BankName, new { placeholder = "Name of Bank", @class = "form-control ", @readonly = "true" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Bank A/C Number</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Tripsheet_HDR.BankAccNumber, new { placeholder = "Bank A/C Number", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">IFSC Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Tripsheet_HDR.IFSCCode, new { placeholder = "IFSC Code", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Vehicle No.</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Tripsheet_HDR.VEHICLENO, new { placeholder = "Vehicle No.", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Tripsheet Start Dt.</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.TextBoxFor(c => c.Tripsheet_HDR.TRIPSHEETSTARTDATE, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.Tripsheet_HDR.TRIPSHEETSTARTDATE).ToString("dd MMM yyyy")), new { placeholder = "Tripsheet Start Dt.", @class = "form-control required required2", @readonly = "true" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Oper. Clouser Dt.</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.TextBoxFor(c => c.Tripsheet_HDR.OPERATIONLLYCLOSUREDATE, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.Tripsheet_HDR.OPERATIONLLYCLOSUREDATE).ToString("dd MMM yyyy")), new { placeholder = "Operationally Clouser Dt.", @class = "form-control required required2", @readonly = "true" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Fin. Clouser Dt.</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.TextBoxFor(c => c.Tripsheet_HDR.FINANCIALLYCLOSUREDATE, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.Tripsheet_HDR.FINANCIALLYCLOSUREDATE).ToString("dd MMM yyyy")), new { placeholder = "Financially Clouser Dt.", @class = "form-control required required2", @readonly = "true" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Driver Sett. Dt.</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.TextBoxFor(c => c.Tripsheet_HDR.DRIVERSETTLEMENTDATE, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.Tripsheet_HDR.DRIVERSETTLEMENTDATE).ToString("dd MMM yyyy")), new { placeholder = "Driver Settlement Dt.", @class = "form-control required required2", @readonly = "true" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Total Expense</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Tripsheet_HDR.TOTALEXPENSE, new { placeholder = "Total Expense", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Distance Covered</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Tripsheet_HDR.DISTANCECOVERED, new { placeholder = "Distance Covered", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Total Fuel</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Tripsheet_HDR.TOTALFUEL, new { placeholder = "Total Fuel", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Fuel Type</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Tripsheet_HDR.FUELTYPE, new { placeholder = "Fuel Type", @class = "form-control  ", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Total Toll</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Tripsheet_HDR.Total_Toll, new { placeholder = "Total Toll", @class = "form-control  ", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Vehicle Mode</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Tripsheet_HDR.Vehicle_Mode, new { placeholder = "Vehicle Mode", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Route Category</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Tripsheet_HDR.RUTCAT, new { placeholder = "Route Category", @class = "form-control  ", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">Route</label>
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(c => c.Tripsheet_HDR.RUTCD, new { placeholder = "Route", @class = "form-control  ", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="control-label col-md-4">BR Date</label>
                                    <div class="col-md-8">
                                        @{
                                            Html.RenderPartial("../UserControls/_DocumentDate", Date);
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body ">
                        <div id="PaymentPart1">
                            <table id="sample_ven" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="white-space: pre-line">Particular</th>
                                        <th style="white-space: pre-line">GPS Kms.</th>
                                        <th style="white-space: pre-line">Driver Claimed Kms.</th>
                                        <th style="white-space: pre-line">Amount Claimed by Driver</th>
                                        <th style="white-space: pre-line">Amount Paid / Approved as per Company Policy</th>
                                        <th style="white-space: pre-line">Diff/Exces</th>
                                        <th style="white-space: pre-line">Amount</th>
                                        <th style="white-space: pre-line">Remark</th>
                                        @if (Model.SubType == 2 || Model.SubType == 3)
                                        {
                                            <th style="white-space: pre-line">Amount Passed</th>
                                            <th style="white-space: pre-line">Amount Rejected</th>
                                            <th style="white-space: pre-line">Reason of Rejection</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.List_Tripsheet_DET != null)
                                    {
                                        foreach (var item in Model.List_Tripsheet_DET)
                                        {
                                            Html.RenderPartial("_TripsheetDisputedAmount", item);
                                        }
                                    }
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th></th>
                                        <th id="GPSKms"></th>
                                        <th id="GPSKmsClaimedByDriver"></th>
                                        <th id="AmtClaimByDriver"></th>
                                        <th id="AmtPaidApproved"></th>
                                        <th id="AmtDiffExces"></th>
                                        <th id="TotAmount"></th>
                                        <th></th>
                                        @if (Model.SubType == 2 || Model.SubType == 3)
                                        {
                                            <th class="center form-group  ">
                                                @Html.TextBox("Amount_Passed_Tot", "", new { @class = "form-control required required2", @readonly = "true", @min = "1", @number = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @placeholder = "Total Passed Amount" })
                                            </th>
                                            <th class="center form-group  ">
                                                @Html.TextBox("Amount_Rejected_Tot", "", new { @class = "form-control required required2", @readonly = "true", @min = "0", @number = "true", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @placeholder = "Total Rejected Amount" })
                                            </th>
                                            <th></th>
                                        }
                                    </tr>

                                </tbody>
                            </table>
                            <div class="alert alert-danger">
                                <strong>Error ! </strong> <span id="maxLimitExceed"></span>
                            </div>
                        </div>
                        <div id="PaymentControl">
                            @if (Model.SubType == 3)
                            {
                                <div class="form-group">
                                    @foreach (var itms in Model.WADListing)
                                    {
                                        itms.Vouchertype = "BranchAccountingType";
                                        @*@Html.Partial("../Voucher/_PaymentModePartial", itms)*@
                                        @Html.Partial("../Voucher/_PaymentModePartiaBranchAccounting", itms)
                                        
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions fluid" id="SubmitBtn">
        @{
            @Html.Partial("_BranchAcct_SubmitPartial", Model)
        }
    </div>
}

<script src="~/Scripts/BranchAccounting/BranchAccounting.js?ver<%=DateTime.Now.Ticks.ToString()%>" type="text/javascript"></script>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var FormValidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span',
                errorClass: 'help-block',
                focusInvalid: false,
                ignore: "",
                rules: {
                    'Tripsheet_HDR.TRIPSHEETNO1': {
                        checkIsTripsheetValid: true,
                    },
                },
                messages: {
                    'Tripsheet_HDR.TRIPSHEETNO1': {
                        checkIsTripsheetValid: function () {
                            return $("#DKTError").val()
                        }
                    },
                },
                invalidHandler: function (event, validator) {
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                success: function (label) {
                    label.closest('.form-group').removeClass('has-error');
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.forms["form_sample"].submit()
                }
            });
        }

        var select2Date = function (DomainName) {

            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });
            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal

            }
        }

        /* Acouting Calculation */
        var Accounting_Calculation = function (DomainName, Prefix) {
            IsServicetaxCalculated(DomainName, Prefix)
            OnLoadFunction(DomainName, Prefix)

            $("#WAD_IsServicetaxapply").change(function () {
                IsServicetaxCalculated(DomainName, Prefix);
            })
            $("#WAD_IsTDStaxapply").change(function () {
                IsServicetaxCalculated(DomainName, Prefix);
            })
            $("#WAD_TDSRate").focusout(function () {
                IsServicetaxCalculated(DomainName, Prefix);
            })
        }

        var Submit_Approval_Rejection = function (DomainName) {

            $("#btnApprovSubmit").click(function () {

                $("#PaymentPart :input").attr("disabled", false);
                $("#PaymentPart1 :input").attr("disabled", false);

                Formvalidate(DomainName);

                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $("#PaymentPart :input").attr("disabled", false);
                    $("#PaymentPart1 :input").attr("disabled", false);

                    //$('#form_sample').attr('action', DomainName + '/BranchAccounting/Accounting_Payment_Submit');
                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/Accounting_Payment_Submit_New_Process');
                    $("#container :input").attr("disabled", false);
                    document.forms['form_sample'].submit()
                    $('#' + FormID + '').submit();
                }
                else {
                    $("#PaymentPart :input").attr("disabled", true);
                    $("#PaymentPart1 :input").attr("disabled", true);
                }
            });

            $("#btnSubmit").click(function () {
                if ($('#form_sample').valid()) {
                    if (parseFloat('@MaxLimit') >= parseFloat($("#TotAmount").text())) {
                        $("#maxLimitExceed").closest("div").hide();
                        App.blockUI({ boxed: true });
                        $(".clsApproval_Rejection").attr("disabled", false)
                        $("#PaymentPart :input").attr("disabled", false);
                        $("#PaymentPart1 :input").attr("disabled", false);
                        document.forms["form_sample"].submit();
                    }
                    else {
                        if ('@Model.SubType' == '1') {
                            $("#maxLimitExceed").closest("div").show();
                            $("#maxLimitExceed").html("Tripsheet Disputed Aount <b>(" + $("#TotAmount").text() + ")</b> is Exceeded. Maximum Approved Tripsheet Disputed Amount for Branch :- <b>'@ViewBag.BaseLocationCode'</b> is <b>'@MaxLimit'</b>.");
                        }
                        return false;
                    }
                }
                else {
                    return false;
                }
            });

            $('#btnRejectAtHO').click(function () {

                $(".clsAmount_Passed").each(function () {
                    //var Id = $(this).attr("id").replace("Amount_Passed", "");
                    //$("#" + Id + "Reason_For_Rejection").addClass("required required2")
                    ////$("#" + Id + "Amount_Passed").attr("min", "0")
                    //$("#" + Id + "Amount_Rejected").attr("min", "1")
                    //if ($("#" + Id + "Amount_Passed").val() == "0") {
                    //    $("#" + Id + "Amount_Passed").val("0")
                    //    $("#" + Id + "Amount_Rejected").val($("#" + Id + "TotalClaim_IncHandling").val())
                    //}
                    if ($("#" + $(this).attr('id').replace("Amount_Passed", "Amount")).val() > 0 && $("#" + $(this).attr('id').replace("Amount_Passed", "Amount_Rejected")).val() > 0) {
                        $("#" + $(this).attr('id').replace("Amount_Passed", "Reason_For_Rejection")).addClass("required required2");
                    }
                    else {
                        $("#" + $(this).attr('id').replace("Amount_Passed", "Reason_For_Rejection")).removeClass("required required2");
                    }
                })
                $("#Amount_Rejected_Tot").attr("min", "1");
                $("#Amount_Passed_Tot").attr("min", "0");
                $("#Amount_Rejected_Tot").addClass("required required2");
                $("#Amount_Passed_Tot").removeClass("required required2");

                Formvalidate(DomainName);

                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false)
                    $("#PaymentPart :input").attr("disabled", false);
                    $("#PaymentPart1 :input").attr("disabled", false);

                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/TripsheetDisputedAmount_Reject');
                    //document.forms["form_sample"].submit()
                }
                else {
                    return false
                }
            });

            $('#btnAuthorizeAtHo').click(function () {

                $(".clsAmount_Passed").each(function () {
                    var Id = $(this).attr("id").replace("Amount_Passed", "");
                    $("#" + Id + "Reason_For_Rejection").removeClass("required required2");
                    //$("#" + Id + "Amount_Passed").attr("min", "1");
                    //$("#" + Id + "Amount_Rejected").attr("min", "0");
                });;
                $("#Amount_Passed_Tot").attr("min", "1");
                $("#Amount_Rejected_Tot").attr("min", "0");
                $("#Amount_Passed_Tot").addClass("required required2");
                $("#Amount_Rejected_Tot").removeClass("required required2");

                Formvalidate(DomainName);
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });

                    $(".clsApproval_Rejection").attr("disabled", false)
                    $("#PaymentPart :input").attr("disabled", false);
                    $("#PaymentPart1 :input").attr("disabled", false);

                    $('#form_sample').attr('action', DomainName + '/BranchAccounting/TripsheetDisputedAmount_Approval');
                    document.forms["form_sample"].submit()
                }
                else {
                    return false
                }

            });

        };

        var amtCalcDiff = function () {
            var AmtClaimByDriver = 0, AmtPaidApproved = 0, AmtDiffExces = 0, TotAmount = 0, GPSKms = 0, GPSKmsClaimedByDriver = 0;

            /**********************Amount Claim By Driver*************************/
            $(".clsAmtClaimByDriver").each(function () {
                AmtClaimByDriver = AmtClaimByDriver + parseFloat($(this).val() == "" ? 0 : $(this).val());
            });
            $("#AmtClaimByDriver").text(parseFloat(AmtClaimByDriver).toFixed(2));

            $(".clsAmtClaimByDriver").live('change', function () {
                AmtClaimByDriver = $(this).val();
                AmtPaidApproved = $("#" + $(this).attr('id').replace('AMOUNTCLAIMEDBYDRIVER', 'AMOUNTPAIDAPPROVED')).val();
                AmtDiffExces = $(this).attr('id').replace('AMOUNTCLAIMEDBYDRIVER', 'DIFFEXCES');
                $("#" + AmtDiffExces).val(parseFloat(parseFloat(AmtClaimByDriver) - parseFloat(AmtPaidApproved == "" ? 0 : AmtPaidApproved)).toFixed(2));
                $("#" + $(this).attr('id').replace('AMOUNTCLAIMEDBYDRIVER', 'AMOUNTPAIDAPPROVED')).attr("min", 0);
                $("#" + $(this).attr('id').replace('AMOUNTCLAIMEDBYDRIVER', 'AMOUNTPAIDAPPROVED')).attr("max", parseFloat(AmtClaimByDriver));
                amtCalcDiff();
            });

            /**********************Amount Paid / Approved*************************/
            AmtPaidApproved = 0;
            $(".clsAmtPaidApproved").each(function () {
                AmtPaidApproved = AmtPaidApproved + parseFloat($(this).val() == "" ? 0 : $(this).val());
            });
            $("#AmtPaidApproved").text(parseFloat(AmtPaidApproved).toFixed(2));

            $(".clsAmtPaidApproved").live('change', function () {
                AmtPaidApproved = $(this).val();
                AmtClaimByDriver = $("#" + $(this).attr('id').replace('AMOUNTPAIDAPPROVED', 'AMOUNTCLAIMEDBYDRIVER')).val();
                AmtDiffExces = $(this).attr('id').replace('AMOUNTPAIDAPPROVED', 'DIFFEXCES');
                $("#" + AmtDiffExces).val(parseFloat(parseFloat(AmtClaimByDriver) - parseFloat(AmtPaidApproved == "" ? 0 : AmtPaidApproved)).toFixed(2));
                amtCalcDiff();
            });

            /**********************Amount Diff / Exces*************************/
            AmtDiffExces = 0;
            $(".clsDiffExces").each(function () {
                AmtDiffExces = AmtDiffExces + parseFloat($(this).val() == "" ? 0 : $(this).val());
            });
            $("#AmtDiffExces").text(parseFloat(AmtDiffExces).toFixed(2));

            /**********************Total Amount*************************/
            $(".clsTotAmount").live('change', function () {
                TotAmountClac();
            });

            /**********************GPS Kms.*************************/
            $(".clsGPSKms").live('change', function () {
                GPSKmsClac();
            });

            /**********************GPS Kms. Claimed By Driver*************************/
            $(".clsGPSKmsClaimedByDriver").live('change', function () {
                GPSKmsClaimedByDriverClac();
            });
            //allNumericEachCalc();
        }

        var TotAmountClac = function () {
            var TotAmount = 0;
            $(".clsTotAmount").each(function () {
                TotAmount = TotAmount + parseFloat($(this).val() == "" ? 0 : $(this).val());
            });
            $("#TotAmount").text(parseFloat(TotAmount).toFixed(2));
        }

        var GPSKmsClac = function () {
            var GPSKms = 0;
            $(".clsGPSKms").each(function () {
                GPSKms = GPSKms + parseFloat($(this).val() == "" ? 0 : $(this).val());
            });
            $("#GPSKms").text(parseFloat(GPSKms).toFixed(2));
        }

        var GPSKmsClaimedByDriverClac = function () {
            var GPSKmsClaimedByDriver = 0;
            $(".clsGPSKmsClaimedByDriver").each(function () {
                GPSKmsClaimedByDriver = GPSKmsClaimedByDriver + parseFloat($(this).val() == "" ? 0 : $(this).val());
            });
            $("#GPSKmsClaimedByDriver").text(parseFloat(GPSKmsClaimedByDriver).toFixed(2));
        }

        return {

            init: function (DomainName) {
                //ControlDate();
                $("#maxLimitExceed").closest("div").hide();
                var Prefix = "PAYMENTMODE_1__";
                FormValidate(DomainName);
                select2Date(DomainName);
                Submit_Approval_Rejection(DomainName);
                Set_Remove_Default_Zero_Values(DomainName);
                amtCalcDiff();
                TotAmountClac();
                GPSKmsClac();
                GPSKmsClaimedByDriverClac();
                if ($("#SubType").val() == "1") {
                    $("#Tripsheet_HDR_TRIPSHEETSTARTDATE").val("");
                    $("#Tripsheet_HDR_OPERATIONLLYCLOSUREDATE").val("");
                    $("#Tripsheet_HDR_FINANCIALLYCLOSUREDATE").val("");
                    $("#Tripsheet_HDR_DRIVERSETTLEMENTDATE").val("");
                    $("#Tripsheet_HDR_EmpName").val("");
                    $("#Tripsheet_HDR_EmpCode").val("");
                }

                //StrURL = DomainName + "/BranchAccounting/GetDriverList";
                //JsonDDL("Tripsheet_HDR_EmpCode ", StrURL);

                //if ($("#Tripsheet_HDR_EmpCode").val() != '' && $("#Tripsheet_HDR_EmpCode").val() != null) {
                //    $("#Tripsheet_HDR_EmpCode").select2("data", { id: $("#Tripsheet_HDR_EmpCode").val(), text: $("#Tripsheet_HDR_EmpName").val() });
                //}

                //$("#Tripsheet_HDR_EmpCode").live("change",function () {
                //    EmpCode_Change(DomainName, $("#Tripsheet_HDR_EmpCode").val(), "Tripsheet_HDR_", 0, 1, 0, 0);
                //});

                $("#ApprovSubmit").hide();

                IsServicetaxCalculated(DomainName, Prefix)
                OnLoadFunction(DomainName, Prefix)

                $("#WAD_IsServicetaxapply").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })
                $("#WAD_IsTDStaxapply").change(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })
                $("#WAD_TDSRate").focusout(function () {
                    IsServicetaxCalculated(DomainName, Prefix);
                })

                $('.clsDocumentNo').live("change", function () {

                    var ID = $(this).attr("id");
                    var Value = $("#" + $(this).attr('id')).val();
                    if ('@Model.SubType' == '1') {
                        jQuery.validator.addMethod("checkDocumentNo", function (value, element) {
                            var strUrl = "@Url.Action("GetData", "Account")";
                            var parameters = {};
                            parameters['DocumentNo'] = value.trim();
                            parameters['BRCD'] = '@ViewBag.BaseLocationCode';
                            parameters['UserName'] = '@ViewBag.BaseUserName';

                            var data = $.ajax({
                                url: strUrl,
                                type: 'POST',
                                dataType: "json",
                                async: false,
                                data: {
                                    Method: 'Check_Tripsheet_No_Details',
                                    parameters: parameters
                                }
                            });
                            var result = JSON.parse(data.responseText);
                            if (result[0].CNT == "1") {
                                $("#Tripsheet_HDR_VEHICLENO").val(result[0].VehicleNo);
                                $("#Tripsheet_HDR_TRIPSHEETSTARTDATE").val(result[0].START_DATE);
                                $("#Tripsheet_HDR_OPERATIONLLYCLOSUREDATE").val(result[0].OPERATIONLLY_CLOSURE_DATE);
                                $("#Tripsheet_HDR_FINANCIALLYCLOSUREDATE").val(result[0].FINANCIALLY_CLOSURE_DATE);
                                $("#Tripsheet_HDR_DRIVERSETTLEMENTDATE").val(result[0].DRIVER_SETTLEMENT_DATE);
                                $("#Tripsheet_HDR_EmpName").val(result[0].Driver1_Name);
                                $("#Tripsheet_HDR_EmpCode").val(result[0].Driver1);
                                $("#Tripsheet_HDR_Vehicle_Mode").val(result[0].Vehicle_Mode);
                                $("#Tripsheet_HDR_RUTCAT").val(result[0].RUTCAT);
                                $("#Tripsheet_HDR_RUTCD").val(result[0].RUTCD);
                                $("#Tripsheet_HDR_DISTANCECOVERED").val(result[0].Distance_Covered);
                                $("#Tripsheet_HDR_Total_Toll").val(result[0].Total_Toll);
                                var totalExpence = 0;
                                if (result[0].Card_Cash == "Cash") {
                                    totalExpence = totalExpence + parseFloat(result[0].FuelExpense);
                                }
                                totalExpence = totalExpence + parseFloat(result[0].RepairExpense) + parseFloat(result[0].SpareExpense) + parseFloat(result[0].IncidentalExpense)
                                    + parseFloat(result[0].ClaimExpense) + parseFloat(result[0].EnrouteExpense);
                                $("#Tripsheet_HDR_TOTALEXPENSE").val(parseFloat(totalExpence).toFixed(2));
                                $("#Tripsheet_HDR_FUELTYPE").val(result[0].FuelType);
                                $("#Tripsheet_HDR_TOTALFUEL").val((result[0].Card_Cash == "Cash" ? parseFloat(result[0].FuelExpense) : 0) + parseFloat(result[0].FuelSlip));

                                EmpCode_Change(DomainName, $("#Tripsheet_HDR_EmpCode").val(), "Tripsheet_HDR_", 0, 1, 0, 0);
                                return true;
                            }
                            else {
                                $("#Tripsheet_HDR_VEHICLENO").val("");
                                $("#Tripsheet_HDR_TRIPSHEETSTARTDATE").val("");
                                $("#Tripsheet_HDR_OPERATIONLLYCLOSUREDATE").val("");
                                $("#Tripsheet_HDR_FINANCIALLYCLOSUREDATE").val("");
                                $("#Tripsheet_HDR_DRIVERSETTLEMENTDATE").val("");
                                $("#Tripsheet_HDR_EmpName").val("");
                                $("#Tripsheet_HDR_EmpCode").val("");
                                $("#Tripsheet_HDR_Vehicle_Mode").val("");
                                $("#Tripsheet_HDR_RUTCAT").val("");
                                $("#Tripsheet_HDR_RUTCD").val("");
                                $("#Tripsheet_HDR_DISTANCECOVERED").val("");
                                $("#Tripsheet_HDR_Total_Toll").val("");
                                $("#Tripsheet_HDR_TOTALEXPENSE").val("");
                                $("#Tripsheet_HDR_FUELTYPE").val("");
                                $("#Tripsheet_HDR_TOTALFUEL").val("");
                                return false;
                            }
                        }, jQuery.validator.format("<b>" + $("#Tripsheet_HDR_TRIPSHEETNO").val().trim() + "</b> is not Valid as Driver Settlement is Pending <b>OR</b> not belongs to <b>@ViewBag.BaseLocationCode</b>."));
                    }
                });

                BR_Request_Common_Function(DomainName, "Tripsheet_HDR_", "Tripsheet_DET_", "form_sample");

                //if ($("#SubType").val() == "3") {

                //    $("#PaymentControl").show();

                //    var AmountApplicable = 0;
                //    $(".clsAmount_Passed").each(function () {
                //        AmountApplicable = parseFloat(AmountApplicable) + parseFloat($(this).val());
                //    });
                //    $("#WAD_AmountApplicable").val(AmountApplicable)
                //    $("#PAYMENTMODE_1__AmountApplicable").val(AmountApplicable)
                //    $("#PAYMENTMODE_1__NETAMOUNT").val(AmountApplicable)

                //    $("#PaymentPart :input").attr("disabled", true);
                //    $("#PaymentPart1 :input").attr("disabled", true);

                //    $("#btnApprovSubmit").click(function () {

                //        Formvalidate(DomainName);
                //        if ($('#form_sample').valid()) {
                //            App.blockUI({ boxed: true });

                //            $("#PaymentPart :input").attr("disabled", false);
                //            $("#PaymentPart1 :input").attr("disabled", false);

                //            $('#form_sample').attr('action', DomainName + '/BranchAccounting/Accounting_Payment_Submit');
                //            $("#container :input").attr("disabled", false);
                //            document.forms["form_sample"].submit()
                //            $('#form_sample').submit();
                //        }
                //    });
                //}

                //$(".clsFixed_Amount_Passed").change(function () {
                //    var ID = $(this).attr("Id").replace("CPEEDET_", "").replace("__Amount_Passed", "");
                //    var Totl = $("#CPEEDET_" + ID + "__Amount").val();
                //    var PassedAmt = $("#CPEEDET_" + ID + "__Amount_Passed").val();
                //    var Reject = parseInt(Totl) - parseInt(PassedAmt);
                //    $("#CPEEDET_" + ID + "__Amount_Rejected").val(Reject);
                //});
            }
        }
    }();
</script>