﻿@model  FleetDataService.ViewModels.AdvancePaymentFilter
@using FleetDataService.Models
@{
    ViewBag.Title = "Advance Payment Filter";
    Layout = null;

    List<SelectListItem> DocTypelist = new List<SelectListItem>(){
                    new SelectListItem{ Text="THC", Value = "T" },
                    new SelectListItem{ Text="PRS", Value = "P" },
                    new SelectListItem{ Text="DRS", Value = "D" },
    };
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_State> Webx_StateList = MS.GetStateMasterObject().Where(m => m.gstStateCode != "" && m.statePrefix != "").ToList();
    List<Webx_Master_General> lstMasterGeneral = MS.GetGeneralMasterObject().ToList();
}
<div class="form-body">
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label col-md-3">
                    Select  Date :
                </label>
                <div class="col-md-6">
                    <div id="reportrange" class="btn default">
                        <i class="fa fa-calendar"></i>
                        &nbsp;
                        <span></span>
                        <b class="fa fa-angle-down"></b>
                    </div>
                </div>
            </div>
        </div>
        @*@if (Model.Type == "B")
        {
            <div class="col-md-10">
                <div class="form-group ">
                    <label class="control-label col-md-3">
                        State Code :
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(c => c.StateCode, new SelectList(Webx_StateList, "statePrefix", "stnm"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select State" })
                    </div>
                </div>
            </div>
        }*@
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label col-md-3">
                    Vendor :
                </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(c => c.VendorCode, new { placeholder = "Select Vendor", @class = "form-control required required2" })
                </div>
                <span class="col-md-4" style="color:red">Plz Type Initial Character OF Vendor Name</span>
            </div>
        </div>
        @*@if (Model.Type == "B")
        {
            <div class="col-md-10">
                <div class="form-group">
                    <label class="control-label col-md-3">
                        <b>is Reverse GST Applied?</b>
                    </label>
                    <div class="col-md-5 chkactive">
                        @Html.CheckBoxFor(m => m.isGSTReverse)
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="form-group ">
                    <label class="control-label col-md-3">
                        GST Type :
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(c => c.GSTType, new SelectList(lstMasterGeneral.Where(c => c.CodeType == "GSTTYPE" && c.StatusCode == "Y" && c.CodeId != "SVC").OrderBy(c => c.CodeDesc).ToList(), "CodeId", "CodeDesc"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select GST Type" })
                    </div>
                </div>
            </div>

            <div class="col-md-10">
                <div class="form-group ">
                    <label class="control-label col-md-3">
                        GST Percentage :
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(c => c.GSTPercentage, new SelectList(lstMasterGeneral.Where(c => c.CodeType == "GSTPER" && c.StatusCode == "Y").OrderBy(c => int.Parse(c.CodeDesc)), "CodeDesc", "CodeDesc"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select GST Percentage" })
                    </div>
                </div>
            </div>
        }*@

        <div class="form-group">
            <label class="control-label col-md-3">

            </label>
            <div class="col-md-6">
                <b>OR</b>
            </div>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label col-md-3">
                    System Document Number :
                </label>
                <div class="col-md-4">
                    @Html.TextAreaFor(c => c.SDocNo, new { placeholder = "System Document Number", @class = "form-control" })
                </div>
                <span class="text-primary col-md-4" style=" margin-top 20px;">(If Multiple - Separated By Comma)</span>
            </div>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label col-md-3">
                    Manual Document Number :
                </label>
                <div class="col-md-4">
                    @Html.TextAreaFor(c => c.MDocNo, new { placeholder = "Manual Document Number", @class = "form-control" })
                    @Html.HiddenFor(c => c.FromDate)
                    @Html.HiddenFor(c => c.ToDate)
                    @Html.HiddenFor(c => c.Type)
                    @Html.HiddenFor(c => c.VendorName)
                    @Html.HiddenFor(c => c.DocType)
                    @Html.HiddenFor(c => c.DocTypeText)
                </div>
                <span class="text-primary col-md-4" style=" margin-top 20px;">(If Multiple - Separated By Comma)</span>
            </div>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label col-md-3">
                    Document Type :
                </label>
                <div class="col-md-4">
                    @Html.DropDownList("Dlist", new SelectList(DocTypelist, "Value", "Text"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Document Type", @multiple = "true" })
                </div>
            </div>
        </div>
    </div>

    <div class="form-actions fluid">
        <div class="col-md-offset-3 col-md-10">
            <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Get List</button>
        </div>
    </div>
</div>


<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');

            $('#btnSubmit').on('click', function () {
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });
                }
                //    Formvalidate(DomainName);
                //    var Type = $("#Type").val();
                //    var form1 = $('#form_sample').serialize();
                //    document.form1.submit();
                //    //if ($('#form_sample').valid()) {
                //    //    $.ajax({
                //    //        url: DomainName + '/AdvanceBalanceQuery/AdvancePayment',
                //    //        type: 'POST',
                //    //        data: $('#form_sample').serialize(),
                //    //        success: function (data) {

                //    //        },
                //    //        error: function (req, status, error) {
                //    //            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                //    //            App.unblockUI();
                //    //        }
                //    //    });
                //    //}
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                Events(DomainName);
                JsonDDL('VendorCode', DomainName + '/Master/SearchVendorListJson');
                $("#VendorCode").select2("data", { id: "9888", text: "Market Vendor" });
                $("#VendorName").val("Market Vendor");
                $("#VendorCode").on("change", function () {
                   
                    var Name = $("#s2id_VendorCode").children('a').children('span').html().split('-')[1];
                    $("#VendorName").val(Name);
                    @*if ("@Model.Type" == "B") {
                        if ($('#StateCode').val() != "" && $("#isGSTReverse").is(":checked") == false) {
                            App.blockUI({ boxed: true });
                            var StrURL = DomainName + "/Master/GetGSTTypeFromStateandVendor?statePrefix=" + $('#StateCode').val() + "&VendorCode=" + $('#VendorCode').val();
                            FillDropDownfromOther("GSTType", StrURL, "");
                        }
                        else {
                            $("#GSTType").select2("data", null);
                            var StrURL = DomainName + "/Operation/GetGeneralMasterDetailsWithContract/GSTType?CodeList=";
                            FillDropDownfromOther("GSTType", StrURL, "");
                            App.blockUI({ boxed: true });
                            setTimeout(function () {
                                $("#GSTType option[value='SVC']").remove();
                                App.unblockUI();
                            }, 350);
                        }
                    }*@
                });

                $("#Dlist").on("change", function () {
                    $("#DocType").val($(this).val());
                    var option_all = $("#Dlist option:selected").map(function () {
                        return $(this).text();
                    }).get().join('-');
                    $("#DocTypeText").val(option_all);
                });
               
                @*if ("@Model.Type" == "B") {
                    var StrURL = DomainName + "/Master/GetStateListFromGSTType?GSTType=" + $('#GSTType').val();
                    FillDropDownfromOther("StateCode", StrURL, "");
                    $("#GSTType").on('change', function () {
                        App.blockUI({ boxed: true });
                        if ($(this).val() == "N") {
                            $("#GSTPercentage").val("0");
                            $("#GSTPercentage").attr("readonly", true);
                            $("#GSTPercentage").removeClass("required");
                            App.unblockUI();
                        }
                        else {
                            $("#GSTPercentage").attr("readonly", false);
                            $("#GSTPercentage").addClass("required");
                            App.unblockUI();
                        }
                    });

                    $("#StateCode").on('change', function () {
                        JsonDDLSelectCodeWithName("VendorCode", DomainName + "/Master/SearchVendorListByStateJson?State=" + $('#StateCode').val());
                        if ($('#VendorCode').val() != "" && $("#isGSTReverse").is(":checked") == false) {
                            var StrURL = DomainName + "/Master/GetGSTTypeFromStateandVendor?statePrefix=" + $('#StateCode').val() + "&VendorCode=" + $('#VendorCode').val();
                            FillDropDownfromOther("GSTType", StrURL, "");
                        }
                        else {
                            $("#GSTType").select2("data", null);
                            var StrURL = DomainName + "/Operation/GetGeneralMasterDetailsWithContract/GSTType?CodeList=";
                            FillDropDownfromOther("GSTType", StrURL, "");
                            App.blockUI({ boxed: true });
                            setTimeout(function () {
                                $("#GSTType option[value='SVC']").remove();
                                App.unblockUI();
                            }, 350);
                        }
                    });

                    $("#isGSTReverse").on("change", function () {
                        App.blockUI({ boxed: true });
                        if ($("#isGSTReverse").is(":checked") == true) {
                            $("#GSTType").select2("data", null);
                            var StrURL = DomainName + "/Operation/GetGeneralMasterDetailsWithContract/GSTType?CodeList=";
                            FillDropDownfromOther("GSTType", StrURL, "");
                            App.blockUI({ boxed: true });
                            setTimeout(function () {
                                $("#GSTType option[value='SVC']").remove();
                                App.unblockUI();
                            }, 350);
                        }
                        else {
                            if ($('#VendorCode').val() != "" && $('#StateCode').val() != "") {
                                var StrURL = DomainName + "/Master/GetGSTTypeFromStateandVendor?statePrefix=" + $('#StateCode').val() + "&VendorCode=" + $('#VendorCode').val();
                                FillDropDownfromOther("GSTType", StrURL, "");
                            }
                            else {
                                App.unblockUI();
                            }
                        }
                    });
                }
                else {
                    //JsonDDL('VendorCode', DomainName + '/Master/SearchVendorListJson');
                    JsonDDL('VendorCode', DomainName + '/Master/SearchVendorListJsonWithoutBlacklisted'); //edit by kamlesh
                }*@
            }
        }
    }();
</script>