﻿@model Fleet.ViewModels.Webx_Master_GeneralViewModel
@{
    var BillingType = new List<SelectListItem> {
        new SelectListItem { Text =  "TBB", Value = "P02" },
    };
    List<SelectListItem> BlankList = new List<SelectListItem>();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    var BillModuleList = MS.GetModuleRule().Where(c => c.Module_Name == "Bill Generation").ToList();
}


<div class="form-body">
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        You have some form errors. Please check below.
    </div>
    <div class="alert alert-success display-hide">
        <button class="close" data-close="alert"></button>
        Your form validation is successful!
    </div>
    @Html.HiddenFor(c => c.FromDate)
    @Html.HiddenFor(c => c.ToDate)
    @Html.HiddenFor(c => c.rdioshow)
    @if (ViewBag.RO == "block")
    {
        <div class="form-group">
            <label class="control-label col-md-1"></label>
            <label class="control-label col-md-2">
                Select  RO
            </label>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.RO, new SelectList(Model.WLocationROList, "loccode", "locname"), "", new { @class = "select2 required2 form-control required", placeholder = "Select RO" })
            </div>
        </div>
    }
    @if (ViewBag.AO == "block")
    {
        <div class="form-group">
            <label class="control-label col-md-1"></label>
            <label class="control-label col-md-2">
                Select  AO
            </label>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.AO, new SelectList(Model.WLocationAOList, "loccode", "locname"), "", new { @class = "select2 required2 form-control required", placeholder = "Select AO" })
            </div>
        </div>
    }
    @if (ViewBag.LO == "block")
    {
        <div class="form-group">
            <label class="control-label col-md-1"></label>
            <label class="control-label col-md-2">
                Select Location
            </label>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.LO, new SelectList(Model.WLocationList, "loccode", "locname"), "", new { @class = "select2 required2 form-control required", placeholder = "Select Location" })
            </div>
        </div>
    }
    <div class="form-group">
        <label class="control-label col-md-1"></label>
        <label class="control-label col-md-2">
            Select  Bank
        </label>
        <div class="col-md-4">
            @Html.DropDownListFor(m => m.Bank, new SelectList(Model.WLocationBankList, "Acccode", "Accdesc"), "", new { @class = "select2 required2 form-control required", placeholder = "Select Bank" })
        </div>
    </div>
    @*<div class="form-group">
            <label class="control-label col-md-1"></label>
            <label class="control-label col-md-2">
                Cheque No
            </label>
            <div class="col-md-4">
                @Html.TextBoxFor(c => c.ChequeNo, new { placeholder = "Cheque No", @class = "form-control  required2 ChequeNo" })
            </div>
        </div>*@
    <div class="form-group">
        <label class="control-label col-md-3">

        </label>
        <div class="col-md-6">
            <b>OR</b>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-1"></label>
        <label class="control-label col-md-2">
            Select Transaction Date
        </label>
        <div class="col-md-4">
            <div id="reportrange" class="btn default col-md-12">
                <i class="fa fa-calendar"></i>
                &nbsp;
                <span></span>
                <b class="fa fa-angle-down"></b>
            </div>
        </div>
    </div>

    <div class="form-group" id="divrdioshow">
        <label class="control-label col-md-1"></label>
        <label class="control-label col-md-2"></label>
        <div class="col-md-4">
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.rdio, "A", new { @class = "form-control required" })<b>All</b>
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.rdio, "R", new { @class = "form-control required" })<b> Reconciled</b>
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.rdio, "NR", new { @class = "form-control required", @checked = true, })<b>Not Reconciled</b>
            </label>
        </div>
    </div>

    <div class="form-actions fluid">
        <div class="row">
            <div class="col-md-offset-3 col-md-11">
                <button type="submit" id="btnSubmit" class="btn blue"><i class="fa fa-search"></i>&nbsp;Search</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                rules: {

                },
                messages: {

                    //'ServiceFor': {
                    //    required: "Please select at least one service for option",
                    //    minlength: jQuery.format("Please Select at Least One Service For Option")
                    //}
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    //if (element.parents('.checkbox-list').size() > 0) {
                    //    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    //} else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                    //}
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //  form1.submit();
                }
            });
        }

        var handleSelect2 = function () {
            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }

            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                minDate: '01/01/2012',
                //maxDate: '12/31/2014',
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },
                //function (start, end) {
                //    console.log("Callback has been called!");
                //    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                //}
                 function (start, end) {

                     $('#FromDate').val(start.format('MMMM D, YYYY'));
                     $('#ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                     //alert("Callback has been called!" + $('#FromDate').val() + " " + $('#ToDate').val());
                     //$('#reportrange span').html(start.toString('@ViewBag.DefaultJqueryDateFormat') + ' - ' + end.toString('@ViewBag.DefaultJqueryDateFormat'));
                 }

            );
            //Set the initial state of the picker label
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

            $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ToDate').val(moment().format('MMMM D, YYYY'));
        }

        var events = function (DomainName) {
            $("#LO").live('change', function () {
                App.blockUI({ boxed: true });
                $("#Bank").select2('data', null);
                var StrURL = DomainName + "/Operation/GetLocationWiseBankList?Loctype=" + $("#WMG_CodeType").val() + "&brcdCode=" + $(this).val();
                FillDropDownfromOther("Bank", StrURL, "Mode");
            });
            $("#RO").live('change', function () {
                App.blockUI({ boxed: true });
                $("#Bank").select2('data', null);
                var StrURL = DomainName + "/Operation/GetRoWiseLocationList?LocLeval=" + $("#LocLevel").val() + "&Ro=" + $(this).val();
                FillDropDownfromOther("LO", StrURL, "Mode");
            });

            $('#btnSubmit').click(function () {
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                events(DomainName);
                Formvalidate("form_sample");
                handleSelect2();
                handleDateRangePickers();
                
                if ($('#rdioshow').val()=='True') {
                     
                    $('#divrdioshow').show();
                } else {
                    
                    $('#divrdioshow').hide();
                    $('#rdio').val("NR");
                }


                $('#btnSubmit').click(function () {
                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        return false;
                    }
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                });
            }
        };
    }();
</script>
