﻿@model FleetDataService.ViewModels.BillingQueryModel
@using FleetDataService.Models;
@{
    string dtRange = "";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_State> Webx_StateList = new List<Webx_State>();
    List<Webx_Master_General> lstGSTType = MS.GetGeneralMasterObject().Where(c => c.CodeType == "GSTTYPE" && c.StatusCode == "Y" && c.CodeId != "SVC").OrderBy(c => c.CodeDesc).ToList();
    List<Webx_Master_General> TransitMode = MS.GetGeneralMasterObject().Where(c => c.CodeType == "TRN" && c.StatusCode == "Y").OrderBy(c => c.CodeDesc).ToList();
    List<Webx_Master_General> generalMasterList = MS.GetGeneralMasterObject().ToList();
    var dateType = new List<SelectListItem>();
    List<SelectListItem> BlankList = new List<SelectListItem>();
    dateType.Add(new SelectListItem { Text = "Up to 31st Jan", Value = "1" });
    dateType.Add(new SelectListItem { Text = "1st Feb Onwards", Value = "2" });

}
<div class="row">
    <div class="col-md-10">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-hide">
                        <button class="close" data-close="alert"></button>
                        Your form validation is successful!
                    </div>

                    @using (Html.BeginForm(Model.GC.ActionName, Model.GC.ControllerName, FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
                    {
                        @Html.HiddenFor(c => c.GC.FilterType)
                        @Html.HiddenFor(c => c.GC.FromDate)
                        @Html.HiddenFor(c => c.GC.ToDate)
                        @Html.HiddenFor(c => c.GC.ToDate)
                        @Html.HiddenFor(c => c.GC.IsGSTApply)
                        @Html.HiddenFor(c => c.Bill_POD_Approval_YN)
                        @Html.HiddenFor(c => c.StaxYN)
                        @Html.HiddenFor(c => c.StaxRate)
                        @Html.HiddenFor(c => c.Trans_Type)
                        @Html.HiddenFor(c => c.BusinessType)
                        @Html.HiddenFor(c => c.BillingParty)

                        @*<div class="form-group ">
                                <label class="control-label col-md-2">
                                    Date Type :
                                </label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(c => c.GC.DateType, new SelectList(dateType, "Value", "Text"), null, new { @class = "form-control select2 required2 required", @placeholder = "Select Date Type" })
                                </div>
                            </div>*@
                        <div class="form-group ">
                            <label class="control-label col-md-2">
                                Billing Party :
                            </label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(c => c.GC.PARTY_CODE, new { placeholder = "Billing Party", @class = "required2 form-control required" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-2">
                                Payment Basis :
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(c => c.GC.PAYBAS, new SelectList(generalMasterList.Where(c => c.CodeType == "PAYTYP" && c.StatusCode == "Y" && c.CodeId != "P04" && c.CodeId != "P01" && c.CodeId != "P03"), "CodeId", "CodeDesc", Model.GC.PAYBAS), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Billing Type" })
                            </div>
                        </div>
                         <div class="form-group ">
                            <label class="control-label col-md-2">
                                CNote No :
                            </label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(c => c.GC.manual_dockno, new { placeholder = "CNote No", @class = "required2 form-control", @rows = "4" })
                            </div>
                        </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Service Type</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(c => c.GC.Service_Class, new SelectList(BlankList, "Value", "Text", Model.GC.Service_Class), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Service Type" })
                                </div>
                            </div>
                        
                        <div class="form-group @dtRange">
                            <label class="control-label col-md-2">
                                Select Date :
                            </label>
                            <div class="col-md-4">
                                <div id="reportrange" class="btn default col-md-12">
                                    <i class="fa fa-calendar"></i>
                                    &nbsp;
                                    <span></span>
                                    <b class="fa fa-angle-down"></b>
                                </div>
                            </div>
                        </div>

                        
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="button" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-search"></i>&nbsp;Search</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName)
    {
        var JsGetCNorCneeDetailsforDate = function (DomainName, Party, PartyAs) {

            var PayBas = $("#GC_PAYBAS").val();

            if (Party != "") {
                App.blockUI({ boxed: true });
                var StrURL = DomainName + "/Operation/GetCustomerDetails?custcd=" + Party;
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: StrURL,
                    dataType: 'json',
                    data: {},
                    success: function (data) {


                        if (PartyAs.toUpperCase() == "CSGN") {

                            $("#GC_CSGNCD").val(Party);
                            $("#GC_CSGNNM").val(data.Name);
                            $("#GC_CSGNADDR").val(data.Address);
                            $("#GC_CSGNCity").val(data.City);
                            $("#GC_CSGNPinCode").val(data.Pincode);
                            $("#GC_csgnmobile").val(data.Mobileno);
                            $("#GC_CustGSTNo").val(data.GSTNO);

                            //$("#WMD_CSGNCD").attr("disabled", "true");
                            //$("#WMD_CSGNNM").attr("disabled", "true");
                            //$("#WMD_CSGNADDR").attr("disabled", "true");
                            //$("#WMD_CSGNCity").attr("disabled", "true");
                        }
                        else {

                            $("#GC_CSGECD").val(Party);
                            $("#GC_CSGENM").val(data.Name);
                            $("#GC_CSGEADDR").val(data.Address);
                            $("#GC_CSGECity").val(data.City);
                            $("#GC_CSGEPinCode").val(data.Pincode);
                            $("#GC_csgemobile").val(data.Mobileno);
                            $("#GC_CSGECustGSTNo").val(data.GSTNO);
                        }
                        App.unblockUI();
                    },
                    error: function () {
                        alert("error 1111");
                    }
                });
            }
        }
        var GetContacrtDetails = function (DomainName) {

            var PARTYCODE = $("#GC_PARTY_CODE").val();
            var CodeList= "1,2";
            //var StrURL = DomainName + "/Master/GetCityFromLocation/" + $("#WMD_DESTCD").val();
            //$("#WMD_to_loc").select2("data", null);
            //FillDropDownfromOtherSelectFirst("WMD_to_loc", StrURL, "Select To City");
            //JsGetCNorCneeDetailsforDate(DomainName, $("#GC_PARTY_CODE").val(), 'CSGN');
            var StrURL = DomainName + "/Operation/GetGeneralMasterDetailsWithContract/SVCTYP?CodeList=" + CodeList;
            FillDropDownfromOtherSelectFirst("GC_Service_Class", StrURL, " Type");
            $("#GC_PARTY_CODE").change(function () {

                GetContacrtDetails(DomainName);
                //cheakgstvalidationforpaybase(DomainName, $('input[name=BillingPartyAS]:checked').attr("id"));
                //BillingPartyAS(DomainName);
                //if ($(this).val() != "") {
                //    $("#WMD_party_name").val($(this).select2('data').text);
                //}
                //JsGetCNorCneeDetailsforDate(DomainName, $("#WMD_PARTY_CODE").val(), $('input[name=BillingPartyAS]:checked').attr("id"));
                ////console.log("2");
                //JsGetStateCityAreaWithPincode(DomainName, "WMD_CSGNPinCode", "WMD_ORGNCD");
                //ClaculateSubtotal(DomainName);
            }); 

        }
   
     
        return {
            //main function to initiate the module
            init: function (DomainName) {
                $('#GC_PAYBAS option[value="P02"]').attr("selected", "selected");
                handleDateRangePickers('reportrange', 'GC_FromDate', 'GC_ToDate');
                FormValidate();
                //GetPartyCode("#GC_PARTY_CODE".val());
                GetPartyCode("GC_PARTY_CODE", $("#WMD_ORGNCD").val(), ($("#GC_PAYBAS").val() == "undefined" || $("#GC_PAYBAS").val() == "" || $("#GC_PAYBAS").val() == null ? "P03" : $("#GC_PAYBAS").val()));

                $("#GC_GSTType").on('change', function () { 
                    var StrURL = DomainName + "/Master/GetStateListFromGSTType?GSTType=" + $('#GC_GSTType').val();
                    FillDropDownfromOther("GC_StateCode", StrURL, "");
                });

                $("#GC_StateCode").on('change', function () {
                    JsonDDLSelectCodeWithName("GC_VendorCode", DomainName + "/Master/SearchVendorListByStateJson?State=" + $('#GC_StateCode').val());
                });

                $("#GC_StateCode").on('change', function () {
                    JsonDDLSelectCodeWithName("GC_CustomerCode", DomainName + "/Master/GetCustomerListingNew?GRPCD=@ViewBag.BaseCompanyCode" + "&State=" + $('#GC_StateCode').val());
                });

                $("#btnSubmit").click(function () {
                    App.blockUI({ boxed: true });
                    FormValidate();
                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        App.unblockUI();
                        return false;
                    }
                    document.forms["form_sample"].submit();
                });
                $("#GC_PARTY_CODE").change(function ()
                {

                    GetContacrtDetails(DomainName);

                });
                GetPartyCode("GC_PARTY_CODE", "", "");
                $("#GC_PARTY_CODE").change(function () {

                    JsGetCNorCneeDetailsforDate(DomainName, $(this).val(), 'CSGE');

                });
                $("#GC_Service_Class").change(function () {
                    GetBaseCode1();
                    GetFreightContractDetails(DomainName);
                    ClaculateSubtotal(DomainName);
                });
            }
            
        };
    }();
</script>