﻿@model Fleet.ViewModels.BillingFilterViewModel
@using Fleet.Helpers;
@using FleetDataService.Models;
@using Fleet.ViewModels;
@using Fleet.Classes;

@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> ListPayBasis = MS.GetGeneralMasterObject().Where(c => c.CodeType == "BILLTYP").ToList();
}

@Html.HiddenFor(c => c.FilterType)
@Html.HiddenFor(c => c.FromDate)
@Html.HiddenFor(c => c.ToDate)

<div class="form-group">
    <label class="control-label col-md-3">
        Select Date
    </label>

    <div class="col-md-6">
        <div id="reportrange" class="btn default col-md-12">
            <i class="fa fa-calendar"></i>
            &nbsp;
            <span></span>
            <b class="fa fa-angle-down"></b>
        </div>
    </div>
</div>
<div class="form-group ">
    <label class="control-label col-md-3">
        Bill Type
    </label>
    <div class="col-md-6">
        @Html.DropDownListFor(m => m.BillType, new SelectList(ListPayBasis.OrderBy(c => c.CodeDesc), "CodeID", "CodeDesc"), null, new { @class = "select2 form-control required required2", @placeholder = "Select Bill Type" })

    </div>
</div>
<div class="form-group ">
    <label class="control-label col-md-3">
        Billing Party
    </label>
    <div class="col-md-6">
        @Html.TextBoxFor(c => c.BillingParty, new { @class = "form-control required required2", @placeholder = "Select Billing Party" })
    </div>
</div>
@*<div class="form-group ">
    <label class="control-label col-md-3">
    </label>
    <div class="col-md-6">
        <b>OR</b>
    </div>
</div>*@

@if (Model.IsBillColl)
{
    <div class="form-group ">
        <label class="control-label col-md-3">
        </label>
        <div class="col-md-8">
            <div class="checkbox-list">
                <label class="checkbox-inline">
                    @Html.CheckBoxFor(m => m.IsMiscBill)Misc Bill
                </label>
                <label class="checkbox-inline">
                    @Html.CheckBoxFor(m => m.IsRentBill)Rent Bill
                </label>
                <label class="checkbox-inline">
                    @Html.CheckBoxFor(m => m.InternationalBill)International Bill
                </label>
            </div>
        </div>
    </div>
}

<div class="form-group ">
    <label class="control-label col-md-3">
    </label>
    <div class="col-md-6">
        <b>OR</b>
    </div>
</div>

<div class="form-group ">
    <label class="control-label col-md-3">
        Bill No.
    </label>
    <div class="col-md-6">
        @Html.TextBoxFor(c => c.BillNo, new { placeholder = "Bill No.", @class = "form-control"})
    </div>
</div>

@if (Model.IsBillSub)
{
    <div class="form-group ">
        <label class="control-label col-md-3">
        </label>
        <div class="col-md-6">
            <b>OR</b>
        </div>
    </div>

    <div class="form-group ">
        <label class="control-label col-md-3">
            Manual Bill No.
        </label>
        <div class="col-md-6">
            @Html.TextBoxFor(c => c.ManualBillNo, new { placeholder = "Manual Bill No.", @class = "form-control" })
        </div>
    </div>
}

@if (Model.IsBillColl)
{
    <div class="form-group ">
        <label class="control-label col-md-3">
        </label>
        <div class="col-md-6">
            <b>OR</b>
        </div>
    </div>

    <div class="form-group ">
        <label class="control-label col-md-3">
            @ViewBag.Docket No
        </label>
        <div class="col-md-6">
            @Html.TextBoxFor(c => c.DocketNo, new { placeholder = @ViewBag.Docket + " No", @class = "form-control" })
        </div>
    </div>

    <div class="form-group ">
        <label class="control-label col-md-3">
        </label>
        <div class="col-md-6">
            <b>OR</b>
        </div>
    </div>

    <div class="form-group ">
        <label class="control-label col-md-3">
            Bill Sub. No.
        </label>
        <div class="col-md-6">
            @Html.TextBoxFor(c => c.BillSubNo, new { placeholder = "Bill Sub No", @class = "form-control" })
        </div>
    </div>
}

<div class="form-actions fluid">
    <div class="row">
        <div class="col-md-offset-5 col-md-6">
            <button type="submit" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-search"></i>&nbsp;Search</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var handleSelect2 = function () {

            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }

            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                minDate: '01/01/2012',
                //maxDate: '12/31/2014',

                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },
                //function (start, end) {
                //    console.log("Callback has been called!");
                //    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                //}
                 function (start, end) {

                     $('#FromDate').val(start.format('MMMM D, YYYY'));
                     $('#ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                     //alert("Callback has been called!" + $('#FromDate').val() + " " + $('#ToDate').val());
                     @*$('#reportrange span').html(start.toString('@ViewBag.DefaultJqueryDateFormat') + ' - ' + end.toString('@ViewBag.DefaultJqueryDateFormat'));*@
                 }

            );
            //Set the initial state of the picker label
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

            $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ToDate').val(moment().format('MMMM D, YYYY'));

        }


        var Formvalidate = function (DomainName) {


            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },



            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                handleSelect2();
                Formvalidate(DomainName);
                handleDateRangePickers();


                GetPartyName("BillingParty");

                $("input[name='optionsRadios2']").on("change", function () {
                    //alert(this.value);
                    var rdoval = this.value;
                    if (rdoval == "") {
                        alert("Plz Select value")
                    }
                    else {
                        $('#FilterType').val(rdoval);
                    }
                });

                $("#btnSubmit").click(function () {

                    if ($('#submit_form').valid()) {
                        App.blockUI({ boxed: true });
                        $("#btnSubmit:input").attr("disabled", "true");
                        $("#submit_form").submit();
                    }
                    else {
                        return false
                    }
                });
            }
        };
    }();

</script>
