﻿@model FleetDataService.ViewModels.PaymentControl

@using CYGNUS.Models;
@using Fleet.Classes
@{

    List<SelectListItem> ListPayMode = new List<SelectListItem>();
    if (Model.ModuleType == "OA")
    {
        //if (ViewBag.BaseLocationCode == "PTD")
        //{
        //    ListPayMode.Add(new SelectListItem() { Text = "Cash", Value = "Cash" });
        //}
        //ListPayMode.Add(new SelectListItem() { Text = "Bank", Value = "Bank" });
        ////ListPayMode.Add(new SelectListItem() { Text = "Both", Value = "Both" });
        ListPayMode.Add(new SelectListItem() { Text = "Cash", Value = "Cash" });
        ListPayMode.Add(new SelectListItem() { Text = "Bank", Value = "Bank" });
        //ListPayMode.Add(new SelectListItem() { Text = "Both", Value = "Both" });
    }
    else if (Model.ModuleType == "DS")
    {
        if (ViewBag.AmtPaidToDriver == "true")
        {
            ListPayMode = new List<SelectListItem>();
            ListPayMode.Add(new SelectListItem() { Text = "Cash", Value = "Cash" });
        }
        else
        {
            ListPayMode = new List<SelectListItem>();
            ListPayMode.Add(new SelectListItem() { Text = "Bank", Value = "Bank" });
        }
    }
    else
    {
        ListPayMode.Add(new SelectListItem() { Text = "Cash", Value = "Cash" });
        ListPayMode.Add(new SelectListItem() { Text = "Bank", Value = "Bank" });
        ListPayMode.Add(new SelectListItem() { Text = "Both", Value = "Both" });
    }

    if (Model.IsFuelCard)
    {
        ListPayMode.Add(new SelectListItem() { Text = "FUEL CARD", Value = "FUEL CARD" });
    }

    Model.ChequeDate = System.DateTime.Now;

    List<SelectList> ListLedger = new List<SelectList>();
    List<SelectList> ListFuelCard = new List<SelectList>();
}
<div class="col-md-10">
    <div class="form">
        <div class="form-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-3" style="text-align: left;">
                            Payment Mode
                        </label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.PaymentMode, new SelectList(ListPayMode, "Value", "Text"), "", new { @class = "form-control  select2 required required2" })
                            @Html.HiddenFor(c => c.VehicleNo)
                            @Html.HiddenFor(c => c.ModuleType)
                            @Html.HiddenFor(model => model.CashLedgerName)
                            @Html.HiddenFor(model => model.BankLedgerName)
                            @Html.HiddenFor(model => model.OldTotalamt)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-3" style="text-align: left;">
                            <b>NET PAYABLE</b>
                        </label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.PayAmount, new { @readonly = "true", @class = "form-control clsAmount" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clsCASH">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-3" style="text-align: left;">
                            Cash Amount
                        </label>

                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.CashAmount, new { @class = "form-control clsAmount required2", @readonly = "true", @type = "number", @min = "0" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-3" style="text-align: left;">
                            Cash Account
                        </label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.CashLedger, new SelectList(ListPayMode, "Value", "Text"), "", new { @class = "form-control select2 required2" })
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clsBANK">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-3" style="text-align: left;">
                            Cheque Amount
                        </label>

                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.ChequeAmount, new { @class = "form-control clsAmount required2", @readonly = "true", @type = "number", @min = "0" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-3" style="text-align: left;">
                            Bank Account
                        </label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.BankLedger, new SelectList(ListPayMode, "Value", "Text"), "", new { @class = "form-control select2 required2" })

                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clsBANK">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="radio-list col-md-6">
                            <label class="radio-inline" style="padding-top: 0px;">
                                <input type="radio" name="numberTypeR" id="numberType1" checked value="C"> Cheque No.
                            </label>
                            <label class="radio-inline" style="padding-top: 0px;">
                                <input type="radio" name="numberTypeR" id="numberType2" value="R"> RTGS/NEFT No.
                            </label>
                            @Html.Hidden("numberType")
                        </div>
                        <div class="col-md-5">
                            @Html.TextBoxFor(m => m.ChequeNo, new { placeholder = "Cheque No.", @class = "form-control required2", @maxlength = "6", @number = "true" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-3" style="text-align: left;">
                            Cheque date
                        </label>
                        <div class="col-md-8">

                            <div class="input-group date date-picker">
                                @Html.TextBoxFor(m => m.ChequeDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.ChequeDate).ToString("dd MMM yyyy")), new { @class = "form-control required2", @placeholder = "dd MMM yyyy" })
                                <span class="input-group-btn">
                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.IsFuelCard)
            {
                <div class="row clsFuelCard">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" style="text-align: left;">
                                Fuel Card No
                            </label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.FuelCardNo, new SelectList(ListFuelCard, "Value", "Text"), "", new { @class = "form-control select2" })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<script type="text/javascript">

    var PaymentControl = function (DomainName) {

        //alert(DomainName);

        $(".clsBANK").hide();
        $(".clsCASH").hide();
        $(".clsFuelCard").hide();
        $("#CashAmount").val("0");
        $("#ChequeAmount").val("0");

        $('.date-picker').datepicker({
            isRTL: App.isRTL(),
            format: "dd M yyyy",
            autoclose: true,
            pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
            todayBtn: true
        });
        $('body').removeClass("modal-open");

        $("#PaymentMode").change(function () {

            App.blockUI({ boxed: true });

            $("#CashAmount").attr("readonly", "true");
            $("#ChequeAmount").attr("readonly", "true");

            var validateAmount = "10000.00";
            $("#CashLedger , #FuelCardNo").change(function () {

                $("#CashLedgerName").val($(this).select2('data').text);

            });

            $("#BankLedger").change(function () {

                $("#BankLedgerName").val($(this).select2('data').text);

            });

            if ($(this).val().toUpperCase() == "CASH") {
          
                $(".clsBANK").hide();
                $(".clsCASH").show();
                $(".clsFuelCard").hide();
                $("#CashAmount").val($("#PayAmount").val());

                var StrURL = DomainName + "/Payment/GetLedger?Category=Cash";
                FillDropDownfromOther("CashLedger", StrURL, "Cash Ledger");
                $("#ChequeNo").val("000000");
                $("#BankLedger").select2("data", { id: $(this).val(), text: $(this).select2('data').text });
                $(".clsCASH :input").addClass("required");
                $(".clsBANK :input").removeClass("required");
                $(".clsFuelCard :input").removeClass("required");

                var cashAmount = $("#CashAmount").val();
                var PayAmount = $("#PayAmount").val();

                if (parseFloat(cashAmount) > parseFloat(validateAmount)) {
                    alert("Transactions halted !!!,Cash Payment Not Allowed More than 10000 Rs")
                    $("#CashAmount").val("");
                }
                else {
                    $("#CashAmount").val($("#PayAmount").val());
                }

               
            }
            else if ($(this).val().toUpperCase() == "BANK") {
                $(".clsBANK").show();
                $(".clsCASH").hide();
                $(".clsFuelCard").hide();
                $("#ChequeNo").val("");
                var StrURL = DomainName + "/Payment/GetLedger?Category=Bank&ModuleType=" + $("#ModuleType").val();
                FillDropDownfromOther("BankLedger", StrURL, "Bank Ledger");

                $("#ChequeAmount").val($("#PayAmount").val());

                $("#CashLedger").select2("data", { id: $(this).val(), text: $(this).select2('data').text });

                $(".clsCASH :input").removeClass("required");
                //$(".clsBANK :input").addClass("required");
                $("#BankLedger").addClass("required");
                $("#ChequeNo").addClass("required");
                $("#ChequeAmount").addClass("required");
                $("#ChequeDate").addClass("required");
                $(".clsFuelCard :input").removeClass("required");

            }
            else if ($(this).val().toUpperCase() == "BOTH") {
                $(".clsBANK").show();
                $(".clsCASH").show();
                $(".clsFuelCard").hide();

                $("#CashAmount").val("0");
                $("#ChequeAmount").val("0");

                $("#CashAmount").attr("readonly", false);
                $("#ChequeAmount").attr("readonly", false);

                var StrURL = DomainName + "/Payment/GetLedger?Category=Cash";
                FillDropDownfromOther("CashLedger", StrURL, "Cash Ledger");

                StrURL = DomainName + "/Payment/GetLedger?Category=Bank";
                FillDropDownfromOther("BankLedger", StrURL, "Bank Ledger");

                $(".clsCASH :input").addClass("required");
                $(".clsBANK :input").addClass("required");
                $(".clsFuelCard :input").removeClass("required");

               
                $("#CashAmount").change(function()
                {
                    var cashAmount = $("#CashAmount").val();
                    if (parseFloat(cashAmount) > parseFloat(validateAmount)) {
                        alert("Transactions halted !!!,Cash Payment Not Allowed More than 10000 Rs")
                        $("#CashAmount").val("0");
                    }
                });

            }
            else if ($(this).val().toUpperCase() == "FUEL CARD") {
                $(".clsBANK").hide();
                $(".clsCASH").hide();
                $(".clsFuelCard").show();
                if ($("#VehicleNo").val()) {
                    var StrURL = DomainName + "/Payment/GetLedger?Category=" + $(this).val() + "&VehicleNo=" + $("#VehicleNo").val();
                    FillDropDownfromOther("FuelCardNo", StrURL, "");

                    $("#ChequeNo").val("000000");
                    $("#BankLedger").select2("data", { id: $(this).val(), text: $(this).select2('data').text });
                    $("#CashLedger").select2("data", { id: $(this).val(), text: $(this).select2('data').text });

                    $(".clsCASH :input").removeClass("required");
                    $(".clsBANK :input").removeClass("required");
                    $(".clsFuelCard :input").addClass("required");
                }
                else {
                    App.unblockUI();
                }
            }

           

        });
    }

</script>