﻿@model FleetDataService.ViewModels.BillingQueryModel
@{
    var BillingType = new List<SelectListItem> {
        new SelectListItem { Text =  "TBB", Value = "P02" },
    };
    Model.DateType = "1";
    List<SelectListItem> BlankList = new List<SelectListItem>();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    var BillModuleList = MS.GetModuleRule().Where(c => c.Module_Name == "Bill Generation").ToList();

    Model.DeliveryDate = System.DateTime.Now;
}

@Html.HiddenFor(c => c.FromDate)
@Html.HiddenFor(c => c.ToDate)
@Html.HiddenFor(c => c.Bill_POD_Approval_YN)
@Html.HiddenFor(c => c.StaxYN)
@Html.HiddenFor(c => c.StaxRate)
@Html.HiddenFor(c => c.Trans_Type)
@Html.HiddenFor(c => c.IsDAMBill)
@Html.HiddenFor(c => c.GC.IsGSTApply)
@Html.HiddenFor(c => c.DeliveryDate)

<div class="form-body">
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        You have some form errors. Please check below.
    </div>
    <div class="alert alert-success display-hide">
        <button class="close" data-close="alert"></button>
        Your form validation is successful!
    </div>


    <div class="form-group">
        <label class="control-label col-md-3">
            @ViewBag.DKTCalledAs Date :
        </label>
        <div class="col-md-6">
            <div id="reportrange" class="btn default col-md-12">
                <i class="fa fa-calendar"></i>
                &nbsp;
                <span></span>
                <b class="fa fa-angle-down"></b>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3">
            Select Paybas :
        </label>
        <div class="col-md-6">
            @Html.DropDownListFor(m => m.Paybas, new SelectList(BillingType, "Value", "Text"), null, new { @class = "select2 required2 form-control required" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3">
            Select Mode :
        </label>
        <div class="col-md-6">
            @Html.DropDownListFor(m => m.TransportMode, new SelectList(BlankList, "Value", "Text"), "", new { @class = "select2 required2 form-control" })
        </div>
    </div>
    @if (BillModuleList.Where(c => c.RULEID.ToUpper() == "RULE01").FirstOrDefault().RULE_Y_N.ToUpper() == "Y")
    {
        <div class="form-group">
            <label class="control-label col-md-3">
                Select Business Type :
            </label>
            <div class="col-md-6">
                @Html.DropDownListFor(m => m.BusinessType, new SelectList(BlankList, "Value", "Text"), "", new { @class = "select2 required2 form-control" })
            </div>
        </div>
    }

    <div class="form-group">
        <label class="control-label col-md-3">
            Select Party :
        </label>
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.BillingParty, new { placeholder = "Billing Party", @class = "required2 form-control required" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-5 col-md-6">
            <b>OR</b>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">
            @ViewBag.DKTCalledAs No. :
        </label>
        <div class="col-md-6">
            @Html.TextAreaFor(c => c.DocketNo, new { placeholder = ViewBag.DKTCalledAs + " No.", @class = "required2 form-control" })
            <p class="text-primary">[Seperated by <b><i>Comma</i></b> if multiple]</p>
        </div>
    </div>
    <div class="form-actions fluid">
        <div class="row">
            <div class="col-md-offset-5 col-md-6">
                <button type="submit" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-search"></i>&nbsp;Search</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {

                },
                messages: {

                    //'ServiceFor': {
                    //    required: "Please select at least one service for option",
                    //    minlength: jQuery.format("Please Select at Least One Service For Option")
                    //}
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    //if (element.parents('.checkbox-list').size() > 0) {
                    //    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    //} else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                    //}
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //  form1.submit();
                }
            });
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }

            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                // minDate: '01/01/2012',
                //maxDate: '12/31/2014',

                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },
                //function (start, end) {
                //    console.log("Callback has been called!");
                //    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                //}
                 function (start, end) {

                     $('#FromDate').val(start.format('MMMM D, YYYY'));
                     $('#ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                     //alert("Callback has been called!" + $('#FromDate').val() + " " + $('#ToDate').val());
                     //$('#reportrange span').html(start.toString('@ViewBag.DefaultJqueryDateFormat') + ' - ' + end.toString('@ViewBag.DefaultJqueryDateFormat'));
                 }

            );
            //Set the initial state of the picker label
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

            $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ToDate').val(moment().format('MMMM D, YYYY'));

        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                handleDateRangePickers();

                //var StrURL = DomainName + "/Operation/GetGeneralMasterDetails/PAYTYP";
                //FillDropDownfromOther("Paybas", StrURL, "Paybas");

                $("#Paybas").select2("data", { id: "P02", text: "TBB" });
                GetPartyNameCode("BillingParty", "", "P02");

                $("#Paybas").change(function () {
                    GetPartyNameCode("BillingParty", "", $("#Paybas").val());
                });

                var StrURL = DomainName + "/Finance/GetModeWiseStaxwithType";
                FillDropDownfromOtherSelectFirst("TransportMode", StrURL, "Mode");

                @if(BillModuleList.Where(c=>c.RULEID.ToUpper()=="RULE01").FirstOrDefault().RULE_Y_N.ToUpper()=="Y")
                {
                    <text>
                StrURL = DomainName + "/Operation/GetGeneralMasterDetails/BUT";
                FillDropDownfromOtherSelectFirst("BusinessType", StrURL, "Business Type");
                </text>
                }

                $('#btnSubmit').click(function () {

                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        return false;
                    }
                    //  alert("Done");
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                });

                $("#TransportMode").live('change', function () {
                    $("#Trans_Type").val($(this).val().split("~")[0]);
                    if ($(this).val().split("~")[0].toString() == "All") {
                        $("#StaxYN").val("N");
                        $("#StaxRate").val("0.00");
                    }
                    else {
                        $("#StaxYN").val("Y");
                        $("#StaxRate").val($(this).val().split("~")[1].toString());
                    }
                });
            }
        };
    }();
</script>
