﻿@model  FleetDataService.ViewModels.BillEntryPaymentFilter
@using FleetDataService.Models
@{ 
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_State> Webx_StateList = MS.GetStateMasterObject().Where(m => m.gstStateCode != "" && m.statePrefix != "").ToList();
    List<Webx_Master_General> lstGSTType = MS.GetGeneralMasterObject().Where(c => c.CodeType == "GSTTYPE" && c.StatusCode == "Y" && c.CodeId != "SVC").OrderBy(c => c.CodeDesc).ToList();

    List<SelectListItem> BillpayTpye = new List<SelectListItem>(){
                    new SelectListItem{ Text="THC-PDC", Value = "THC-PDC" },
                     new SelectListItem{ Text="Other", Value = "Expense" },
                     new SelectListItem{ Text="BA", Value = "BA" },
                      new SelectListItem{ Text="POBILL", Value = "POBILL" },
                      new SelectListItem{ Text="Expense", Value = "Expense" },
                      new SelectListItem{ Text="Fixed Expense", Value = "Fixed Expense" },
                      new SelectListItem{ Text="Variable Expense", Value = "Variable Expense" },
    };
}

<div class="row">
    <div class="col-md-10">
        <div class="form-group">
            <label class="control-label col-md-3">
                Select  Date :
            </label>
            <div class="col-md-6">
                <div id="reportrange" class="btn default">
                    <i class="fa fa-calendar"></i>
                    &nbsp;
                    <span></span>
                    <b class="fa fa-angle-down"></b>
                </div>
            </div>
        </div>
    </div>

    @*<div class="col-md-10">
            <div class="form-group ">
                <label class="control-label col-md-3">
                    GST Type :
                </label>
                <div class="col-md-4">
                    @Html.DropDownListFor(c => c.GSTType, new SelectList(lstGSTType, "CodeId", "CodeDesc"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select GST Type" })
                </div>
            </div>
        </div>

        <div class="col-md-10">
            <div class="form-group ">
                <label class="control-label col-md-3">
                    State Code :
                </label>
                <div class="col-md-4">
                    @Html.DropDownListFor(c => c.StateCode, new SelectList(Webx_StateList, "statePrefix", "stnm"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select State" })
                </div>
            </div>
        </div>*@

    <div class="col-md-10">
        <div class="form-group">
            <label class="control-label col-md-3">
                Vendor :
            </label>
            <div class="col-md-4">
                @Html.TextBoxFor(c => c.VendorCode, new { placeholder = "Select Vendor", @class = "form-control required2 required" })
                @Html.HiddenFor(c => c.VendorName)
                @Html.HiddenFor(c => c.ModuleName)

            </div>
        </div>
    </div>

    @if (Model.BillTyp == "1" || Model.BillTyp == "4" || Model.BillTyp == "14" || Model.BillTyp == "7")
    {
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label col-md-3">Select Bill Type</label>
                <div class="col-md-4">
                    @Html.DropDownListFor(c => c.BillType, new SelectList(BillpayTpye, "Value", "Text"), "", new { @class = "form-control select2" })
                </div>
            </div>
        </div>
    }
    @Html.HiddenFor(c => c.BillTyp)
    @Html.HiddenFor(c => c.BillType)
    <div class="col-md-10">
        <div class="form-group">
            <label class="control-label col-md-3">

            </label>
            <div class="col-md-4">
                <b>OR</b>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="form-group">
            <label class="control-label col-md-3">
                Bill Number :
            </label>
            <div class="col-md-4">
                @Html.TextBoxFor(c => c.BillNo, new { placeholder = "Bill Number", @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="form-group">
            <label class="control-label col-md-3">

            </label>
            <div class="col-md-4">
                <b>OR</b>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="form-group">
            <label class="control-label col-md-3">
                Vendor Bill Number :
            </label>
            <div class="col-md-4">
                @Html.TextBoxFor(c => c.VBillNo, new { placeholder = "Vendor Bill Number", @class = "form-control" })
                @Html.HiddenFor(c => c.FromDate)
                @Html.HiddenFor(c => c.ToDate)
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');
            $("#BillType").on("change", function () {
                if ($("#BillType").val() == "THC-PDC") {
                    $("#BillTyp").val("1");
                }
                else if ($("#BillType").val() == "Expense") {
                    $("#BillTyp").val("4");
                }
                else if ($("#BillType").val() == "BA") {
                    $("#BillTyp").val("14");
                }
                else if ($("#BillType").val() == "POBILL") {
                    $("#BillTyp").val("7");
                }
                else {
                    $("#BillTyp").val("8");
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                Events(DomainName);
                JsonDDL('VendorCode', DomainName + '/Master/SearchVendorListJson');
                $("#VendorCode").on("change", function () {
                    var Name = $("#s2id_VendorCode").children('a').children('span').html().split('-')[1];
                    $("#VendorName").val(Name);
                });
                $("#Dlist").on("change", function () {
                    $("#DocType").val($(this).val());
                    var option_all = $("#Dlist option:selected").map(function () {
                        return $(this).text();
                    }).get().join('-');
                    $("#DocTypeText").val(option_all);
                });
                //$("#BillType").live("change", function () {
                //    if ($("#BillType").val() == "THC-PDC") {
                //        $("#BillTyp").val("1");
                //    }
                //    else if ($("#BillType").val() == "Expense") {
                //        $("#BillTyp").val("4");
                //    }
                //    else if ($("#BillType").val() == "BA") {
                //        $("#BillTyp").val("14");
                //    }
                //    else if ($("#BillType").val() == "POBILL") {
                //        $("#BillTyp").val("7");
                //    }
                //    else {
                //        $("#BillTyp").val("8");
                //    }
                //});
                $("#btnSubmit").on("click", function () {
                    App.blockUI({ boxed: true });
                    var billNo = $("#BillNo").val();
                    //if (billNo == "") {
                    //    $("#VendorCode").addClass("required required2");
                    //}
                    //else {

                    //    $("#VendorCode").removeClass("required required2");
                    //}

                    if (!$("#form_sample").valid()) {
                        App.unblockUI();
                        return false;
                    }
                    else {
                        document.forms["form_sample"].submit();
                    }
                });

                //$("#GSTType").on('change', function () {
                //    var StrURL = DomainName + "/Master/GetStateListFromGSTType?GSTType=" + $('#GSTType').val();
                //    FillDropDownfromOther("StateCode", StrURL, "");
                //});

                //$("#StateCode").on('change', function () {
                //    JsonDDLSelectCodeWithName("VendorCode", DomainName + "/Master/SearchVendorListByStateJson?State=" + $('#StateCode').val());
                //});
                //JsonDDLSelectCodeWithName("VendorCode", DomainName + "/Master/SearchVendorListByStateJson?State=" + $('#StateCode').val());
            }
        }
    }();
</script>