﻿@model Fleet.ViewModels.CloseTripSheetViewModel
@using Fleet.Helpers;
@using CYGNUS.Models;
@using CYGNUS.ViewModel;
@using Fleet.Classes;
@{
    var Location = ViewBag.HeadOfficeCode;
    var Period = new List<SelectListItem>{
                                           new SelectListItem{Text="Close-Operational",Value="M"},
                                           new SelectListItem{Text="Close-Financial",Value="F"},
    };
    var tripsheetno = new List<SelectListItem>{
                                           new SelectListItem{Text="Enter Manual Tripsheet No.",Value="M"},
                                           new SelectListItem{Text="Enter Tripsheet No.",Value="T"},
    };
}
@Html.HiddenFor(c => c.FromDate)
@Html.HiddenFor(c => c.ToDate)
<div class="form-group ">
    <label class="control-label col-md-3">
        Select Tripsheet action:
    </label>
    <div class="col-md-4">
        @* @Html.TextBoxFor(c => c.VendorCode, new { placeholder = "", @class = "form-control" })*@
        @Html.DropDownListFor(c => c.SlipId, new SelectList(Period, "Value", "Text", "M"), "", new { @class = "clsSurveyEdit form-control  select2 " })
    </div>
</div>
<div class="form-group ">
    <label class="control-label col-md-3" style="padding-top:0px;">
        @Html.DropDownListFor(c => c.TripsheetFlag, new SelectList(tripsheetno, "Value", "Text", "T"), "", new { @class = "clsSurveyEdit form-control  select2 " })
    </label>
    <div class="col-md-4">
        @Html.TextBoxFor(c => c.IssueID, new { placeholder = "Tripsheet No.", @class = "form-control" })
    </div>
</div>
@*<div class="form-group ">
    <label class="control-label col-md-3">

        Enter Vehicle No.:
    </label>
    <div class="col-md-4">
        @Html.TextBoxFor(c => c.VehNo, new { placeholder = "", @class = "form-control" })
    </div>
</div>*@
<div class="form-group">
    <label class="control-label col-md-3">
        Trip Sheet Date Range:
    </label>
    <div class="col-md-4">
        <div id="reportrange" class="btn default col-md-12">
            <i class="fa fa-calendar"></i>
            &nbsp;
            <span></span>
            <b class="fa fa-angle-down"></b>
        </div>
    </div>
</div>
<div class="form-actions fluid">
    <div class="row">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-search"></i>&nbsp;Search</button>
        </div>
    </div>
</div>


<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var handleSelect2 = function () {
            $('.select2').select2({
                placeholder: "Select an option",
            });
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }

            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                //maxDate: '12/31/2014',
                //dateLimit: {
                //    days: 60
                //},
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#FromDate').val(start.format('MMMM D, YYYY'));
                     $('#ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ToDate').val(moment().format('MMMM D, YYYY'));
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                handleSelect2();
                handleDateRangePickers();

                $("#btnSubmit").click(function () {
                    App.blockUI({ boxed: true });
                    $("#btnSubmit:input").attr("disabled", "true");
                    $("#submit_form").submit();
                });
            }
        };
    }();

</script>
