﻿@model Fleet.ViewModels.objDate
@using FleetDataService.Models
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    Webx_Date_Rules WDR = MS.GetDateRule(Model.ModuleCode).FirstOrDefault();
    //WDR.BackDate_Days = 0;
    DateTime MinDate = WDR.Min_Date;
    DateTime dtStartDate = System.DateTime.Now.AddDays(-Convert.ToInt32(WDR.BackDate_Days));
    //DateTime dtStartDate = Convert.ToDateTime(ViewBag.GSTStartDate);
    DateTime dtEntDate = System.DateTime.Now;

    DateTime FinYearStartDate = Convert.ToDateTime(ViewBag.FinYearStartDate);
    DateTime FinYearEndDate = Convert.ToDateTime(ViewBag.FinYearEndDate);

    if (User.Identity.Name.ToUpper() == "ADMIN" || User.Identity.Name.ToUpper() == "CYGNUSTEAM"  || User.Identity.Name.ToUpper() == "CSERP" || User.Identity.Name.ToUpper() == "RAHULS" || User.Identity.Name.ToUpper() == "JSHAH" || User.Identity.Name.ToUpper() == "BHARATIT")
    {

        if (FinYearStartDate > MinDate)
        {
            dtStartDate = FinYearStartDate;
        }
        else
        {
            dtStartDate = MinDate;
        }

        if (FinYearEndDate < dtEntDate)
        {
            dtEntDate = FinYearEndDate;
        }
        else
        {
            dtEntDate = dtEntDate;
        }

    }
    else
    {
        if (FinYearStartDate > MinDate && FinYearStartDate > dtStartDate)
        {
            dtStartDate = FinYearStartDate;
        }
        else if (dtStartDate > MinDate)
        {
            dtStartDate = dtStartDate;
        }
        else
        {
            dtStartDate = MinDate;
        }

        if (FinYearEndDate < dtEntDate)
        {
            dtEntDate = FinYearEndDate;

            Model.ControlValue = FinYearEndDate.ToString();
        }
        else
        {
            dtEntDate = dtEntDate;
        }
    }
    string StartDate = dtStartDate.ToString();
    string EntDate = dtEntDate.ToString();
}

<div class="input-group date clsDateControl">
    @Html.TextBox(Model.ControlId, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.ControlValue).ToString("dd MMMM yyyy hh:mm tt")), new { @class = "form-control required required2 ", @readonly = "true", @placeholder = "dd MMM yyyy" })
    @Html.HiddenFor(m => m.ControlId)
    @Html.Hidden("StartDate", StartDate)
    @Html.Hidden("EntDate", EntDate)
    @Html.Hidden("sStartDate", dtStartDate.ToString("dd MMMM yyyy"))
    @Html.Hidden("sEntDate", dtEntDate.ToString("dd MMMM yyyy"))
    <span class="input-group-btn">
        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
    </span>
</div>
@Html.HiddenFor(m => m.isControlRemove)

<script type="text/javascript">

    var ControlDate = function () {
        //  alert( StartDate + " " + EntDate);
        if (jQuery().datepicker) {
            $(".clsDateControl").datetimepicker({
                rtl: App.isRTL(),
                format: "dd MM yyyy  HH:ii P",
                showMeridian: true,
                autoclose: true,
                pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                startDate: new Date("@StartDate"),
                endDate: new Date("@EntDate"),
                todayBtn: false
            });

            if ($("#isControlRemove").val() == "True") {
                $('.clsDateControl').datetimepicker('remove');
            }
        }
    }

    //var ControlDateChange = function (ControlDateval) {

    //  //  alert("Hello:111111111");
    //}
</script>