﻿@model Fleet.ViewModels.objDate
@using FleetDataService.Models
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    Webx_Date_Rules WDR = MS.GetDateRule(Model.ModuleCode).FirstOrDefault();
    //WDR.BackDate_Days = 0;
    //if (Model.ModuleCode == "17" && User.Identity.Name.ToUpper() == "H0916")
    //{
    //    WDR.BackDate_Days = 16;
    //}
    //if (Model.ModuleCode != "01")
    //{
    //    WDR.BackDate_Days = 0;
    //}
    DateTime MinDate = WDR.Min_Date;
    DateTime dtStartDate = System.DateTime.Now.AddDays(-Convert.ToInt32(WDR.BackDate_Days));
    DateTime dtEntDate = System.DateTime.Now;

    if (System.DateTime.Now < Convert.ToDateTime(ViewBag.GSTStartDate))
    {
        dtStartDate = Convert.ToDateTime(ViewBag.GSTStartDate).AddDays(-Convert.ToInt32(WDR.BackDate_Days));
        dtEntDate = Convert.ToDateTime(ViewBag.GSTStartDate);
    }
    DateTime FinYearStartDate = Convert.ToDateTime(ViewBag.FinYearStartDate);
    DateTime FinYearEndDate = Convert.ToDateTime(ViewBag.FinYearEndDate);



    if (User.Identity.Name.ToUpper() == "ADMIN" || User.Identity.Name.ToUpper() == "CYGNUSTEAM" || User.Identity.Name.ToUpper() == "CSERP" || User.Identity.Name.ToUpper() == "RAHULS" || User.Identity.Name.ToUpper() == "JSHAH" || User.Identity.Name.ToUpper() == "BHARATIT" || WDR.Empcd.Contains(User.Identity.Name.ToUpper()))
    {
        if (FinYearStartDate > MinDate)
        {
            dtStartDate = FinYearStartDate;
        }
        else
        {
            dtStartDate = MinDate;
        }

        if (FinYearEndDate < dtEntDate)
        {
            dtEntDate = FinYearEndDate;
            //  Model.ControlValue = FinYearEndDate.ToString();
        }
        else
        {
            dtEntDate = dtEntDate;
        }
    }
    else
    {

        var BaseFinYear = ViewBag.BaseFinYear;
        if (ViewBag.BaseFinYear.Split('-')[0] != ViewBag.CurrFinYear.Split('-')[0])
        {
            if (dtStartDate.Date < FinYearStartDate.Date || dtStartDate.Date > FinYearEndDate.Date)
            {
                FinYearStartDate = System.DateTime.Now;
            }
            FinYearEndDate = System.DateTime.Now;
        }


        if (FinYearStartDate > MinDate && FinYearStartDate > dtStartDate)
        {
            dtStartDate = FinYearStartDate;
        }
        else if (dtStartDate > MinDate)
        {
            dtStartDate = dtStartDate;
        }
        else
        {
            dtStartDate = MinDate;
        }

        if (FinYearEndDate < dtEntDate)
        {
            dtEntDate = FinYearEndDate;
            //  Model.ControlValue = FinYearEndDate.ToString();


        }
        else
        {
            dtEntDate = dtEntDate;
        }

        if (Model.ModuleCode == "23")
        {
            dtStartDate = FinYearStartDate;
        }

        else if (Model.ModuleCode == "24")
        {
            dtStartDate = Convert.ToDateTime(ViewBag.GSTStartDate);
        }

        else if (ViewBag.BaseUserName == "HQT026" && Model.ModuleCode == "13" && (Model.ControlId == "BILLDT" || Model.ControlId == "VENDORBILLDT"))
        {
            dtStartDate = Convert.ToDateTime("31 Jul 2017");
        }
        else
        {
            if (System.DateTime.Now.AddDays(-Convert.ToInt32(WDR.BackDate_Days)) < Convert.ToDateTime(ViewBag.FinYearStartDate))
            {
                dtStartDate = Convert.ToDateTime(ViewBag.FinYearStartDate);
            }
            else
            {
                dtStartDate = System.DateTime.Now.AddDays(-Convert.ToInt32(WDR.BackDate_Days));
            }
        }
        @Html.HiddenFor(m => m.isControlRemove)
    }

    

    string StartDate = dtStartDate.ToString("dd MMM yyyy");
    string EntDate = dtEntDate.ToString("dd MMM yyyy");
    if (Convert.ToDateTime(Model.ControlValue) < Convert.ToDateTime(ViewBag.GSTStartDate))
    {
        Model.ControlValue = ViewBag.GSTStartDate;
    }


}


<div class="input-group date clsDateControl">
    @Html.TextBox(Model.ControlId, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.ControlValue).ToString("dd MMMM yyyy")), new { @class = "form-control required required2 ", @readonly = "true", @placeholder = "dd MMM yyyy" })
    @Html.HiddenFor(m => m.ControlId)
    @Html.Hidden("StartDate", StartDate)
    @Html.Hidden("EntDate", EntDate)
    @Html.Hidden("sStartDate", dtStartDate.ToString("dd MMMM yyyy"))
    @Html.Hidden("sEntDate", dtEntDate.ToString("dd MMMM yyyy"))
    <span class="input-group-btn">
        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
    </span>
</div>

<script type="text/javascript">

    var ControlDate = function () {
        //   alert( StartDate + " " + EntDate);
        if (jQuery().datepicker) {
            $(".clsDateControl").datepicker({
                rtl: App.isRTL(),
                format: "dd MM yyyy",
                showMeridian: true,
                autoclose: true,
                pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                startDate: new Date("@StartDate"),
                endDate: new Date("@EntDate"),
                todayBtn: false
            });
            if ($("#isControlRemove").val() == "True") {
                $('.clsDateControl').datepicker('remove');
            }
        }
    }
</script>