﻿@model  FleetDataService.ViewModels.FinalizationModel
@using FleetDataService.Models
@{
    List<webx_location> LocationList = new List<webx_location>();
}
<div class="form-body">
    @if (Model.LocationLevel == 1 || Model.LocationLevel == 2)
    {
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <label class="control-label col-md-3">
                        Select RO :
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(c => c.RegionCode, new SelectList(Model.RegionList, "LocCode", "LocName"), null, new { @class = "form-control required required2 select2", @placeholder = "Select Region" })
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label col-md-3">
                    Select Location :
                </label>
                <div class="col-md-4">
                    @Html.DropDownListFor(c => c.LocationCode, new SelectList(Model.LocationList, "LocCode", "LocName"), null, new { @class = "form-control required required2 select2", @placeholder = "Select Location" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label col-md-3">
                    Select  Date :
                </label>
                <div class="col-md-6">
                    <div id="reportrange" class="btn default">
                        <i class="fa fa-calendar"></i>
                        &nbsp;
                        <span></span>
                        <b class="fa fa-angle-down"></b>
                        @Html.HiddenFor(c => c.FromDate)
                        @Html.HiddenFor(c => c.ToDate)
                        @Html.HiddenFor(c => c.Type)
                        @Html.HiddenFor(c => c.LocationLevel)
                        @Html.HiddenFor(c => c.BaseFinYear)
                        @Html.HiddenFor(c => c.SelectionType)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label col-md-3">
                    Party Code :
                </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(c => c.PartyCode, new { placeholder = "Party Code", @class = "form-control required2" })
                </div>
                <span class="col-md-4" style="color:red">Plz Type Initial Character of Vendor Name</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label class="control-label col-md-3">

            </label>
            <div class="col-md-6">
                <b>OR</b>
            </div>
        </div>
    </div>
    @if (Model.Type.ToUpper() == "DKT")
    {
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <label class="control-label col-md-3">
                        CNote No :
                    </label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.DocumentNo, new { placeholder = "CNote No", @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    }
    @if (Model.Type.ToUpper() == "BILL")
    {
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <label class="control-label col-md-3">
                        Billing No :
                    </label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.DocumentNo, new { placeholder = "Billing No", @class = "form-control" })
                    </div>
                    <div class="text-primary col-md-3">
                        [seperated by comma if multiple]
                    </div>
                </div>
            </div>
        </div>
    }
    @if (Model.Type.ToUpper() == "MR")
    {
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <label class="control-label col-md-3">
                        MR No :
                    </label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.DocumentNo, new { placeholder = "MR No", @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="form-actions fluid">
    <div class="col-md-offset-4 col-md-8">
        <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-search"></i>&nbsp;Search</button>
    </div>
</div>


<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');

            $('#btnSubmit').on('click', function () {
                App.blockUI({ boxed: true });
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                Events(DomainName);
                $("#RegionCode").on("change", function () {
                    StrURL = DomainName + "/Finance/GetLocationListFromROJson?LocCode=" + $(this).val();
                    FillDropDownfromOther1("LocationCode", StrURL, "Location");
                });
                var url = DomainName + '/Contract/Getwebx_CUSTHDR'
                JsonDDLSelectCode("PartyCode", url);
            }
        }
    }();
</script>