﻿@model  FleetDataService.ViewModels.FinalizeBillQuery
@using FleetDataService.Models


<div class="row">
    <div class="col-md-10">
        @{
            Html.RenderPartial("../UserControls/_ReportLocation");
        }
    </div>

    <div class="col-md-10">
        <div class="row">
            <div class="col-md-11">
                <div class="form-group">
                    <label class="control-label col-md-3">
                        Select  Date
                    </label>
                    <div class="col-md-6">
                        <div id="reportrange" class="btn default">
                            <i class="fa fa-calendar"></i>
                            &nbsp;
                            <span></span>
                            <b class="fa fa-angle-down"></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-11">
                <div class="form-group">
                    <label class="control-label col-md-3">
                        Vendor
                    </label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.VendorCode, new { placeholder = "Select Vendor", @class = "form-control required required2" })
                        @Html.HiddenFor(c => c.VendorName)
                        @Html.HiddenFor(c => c.FromDate)
                        @Html.HiddenFor(c => c.ToDate)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-11">
                <div class="form-group">
                    <label class="control-label col-md-3">

                    </label>
                    <div class="col-md-4">
                        <b>OR</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-11">
                <div class="form-group">
                    <label class="control-label col-md-3">
                        Bill Number
                    </label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.DocumentNo, new { placeholder = "Bill Number", @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                Events(DomainName);
                JsonDDL('VendorCode', DomainName + '/Master/SearchVendorListJson');
                $("#VendorCode").on("change", function () {
                    var Name = $("#s2id_VendorCode").children('a').children('span').html().split('-')[1];
                    $("#VendorName").val(Name);
                });

                $("#btnSubmit").on("click", function () {
                    App.blockUI({ boxed: true });
                });

            }
        }
    }();
</script>
