﻿@model Fleet.ViewModels.FMFilter
@using FleetDataService.Models
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    var Loccode = Model.BaseLoccode;

    List<webx_location> LocationList = new List<webx_location>();
    if (Model.LocationList != null)
    {
        LocationList = Model.LocationList;
    }
    List<SelectListItem> DocTypelist = new List<SelectListItem>(){
                    new SelectListItem{ Text="Bill", Value = "2" },
                    new SelectListItem{ Text="COD/DOD", Value = "4" },
                    new SelectListItem{ Text="POD", Value = "1" },
    };
    List<SelectListItem> LocList = new List<SelectListItem>(){
                    new SelectListItem{ Text="", Value = "" },
    };
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body ">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-10" id="dkttype">
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    DocType :
                                </label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(c => c.DocType, new SelectList(DocTypelist, "Value", "Text"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Doc Type" })
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.LocLevel == 1 || Model.LocLevel == 2)
                    {
                        <div class="row">
                            <div class="col-md-10" id="DivRO">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Select RO :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(c => c.RO, new SelectList(Model.RegionList, "LocCode", "LocName"), null, new { @class = "form-control required required2 select2", @placeholder = "Select Region" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-10" id="Location">
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Select Location :
                                </label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(c => c.Loccode, new SelectList(LocationList, "LocCode", "LocName"), null, new { @class = "form-control required required2 select2", @placeholder = "Select Location" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Select  Date :
                                </label>
                                <div class="col-md-4">
                                    <div id="reportrange" class="btn default">
                                        <i class="fa fa-calendar"></i>
                                        &nbsp;
                                        <span></span>
                                        <b class="fa fa-angle-down"></b>
                                    </div>
                                    @Html.HiddenFor(c => c.FromDate)
                                    @Html.HiddenFor(c => c.ToDate)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="FM">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    FM No. :
                                </label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(c => c.FmNo, new { placeholder = "FM No.", @class = "form-control" })
                                </div>
                                <span class="col-md-4 text-primary">[Seperated by Comma if multiple]</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-actions fluid">
                    <div class="col-md-offset-3 col-md-8">
                        <button type="submit" id="btnSubmit" class="btn btn-sm blue controls ClsbtnSave"><i class="fa fa-search"></i>&nbsp;Get List</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);

                $("#dkttype").hide();
                $("#DocType").removeClass("required required2");
                Events(DomainName);

                //Events(DomainName);
                $("#RO").on("change", function () {
                    App.blockUI({ boxed: true });
                    StrURL = DomainName + "/Finance/GetLocationListFromROJson?LocCode=" + $(this).val();
                    FillDropDownfromOther1("Loccode", StrURL, "Location");
                });

                $("#btnSubmit").click(function () {
                    App.blockUI({ boxed: true });
                });
            }
        }
    }();
</script>