﻿@model  FleetDataService.ViewModels.FuelBillEntyQuery
@using FleetDataService.Models
@{
    ViewBag.Title = "Advance Payment Filter";
    Layout = null;

    List<SelectListItem> BlankList = new List<SelectListItem>();

}
<div class="form-body">
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label col-md-3">
                    Select  Date :
                </label>
                <div class="col-md-6">
                    <div id="reportrange" class="btn default">
                        <i class="fa fa-calendar"></i>
                        &nbsp;
                        <span></span>
                        <b class="fa fa-angle-down"></b>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label col-md-3">
                    Vendor 
                </label>
                <div class="col-md-4">

                    @Html.DropDownListFor(c => c.VendorCode, new SelectList(BlankList, "Value", "Text", Model.VendorCode), "", new { @class = "form-control required select2 required2 dropdown2", @placeholder = "Vendor " })

                    @Html.HiddenFor(c => c.FromDate)
                    @Html.HiddenFor(c => c.ToDate)
                    @Html.HiddenFor(c => c.VendorName)
                </div>
             
            </div>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label col-md-3">
                    Vendor Service 
                </label>
                <div class="col-md-4">
                    @Html.DropDownListFor(c => c.VendorService, new SelectList(BlankList, "Value", "Text", Model.VendorService), "", new { @class = "form-control select2 required2 dropdown2", @placeholder = "Vendor Service " })                  
                </div>              
            </div>
        </div>

        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label col-md-3">
                    Vehicle No
                </label>
                <div class="col-md-4">
                    @Html.DropDownListFor(c => c.VehicleNo, new SelectList(BlankList, "Value", "Text", Model.VehicleNo), "", new { @class = "form-control select2 required2 dropdown2", @placeholder = "Vehicle No " })
                </div>             
            </div>
        </div>
    </div>

    <div class="form-actions fluid">
        <div class="col-md-offset-3 col-md-10">
            <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Get List</button>
        </div>
    </div>
</div>


<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');

            $('#btnSubmit').on('click', function () {
                App.blockUI({ boxed: true });
            //    Formvalidate(DomainName);
            //    var Type = $("#Type").val();
            //    var form1 = $('#form_sample').serialize();
            //    document.form1.submit();
            //    //if ($('#form_sample').valid()) {
            //    //    $.ajax({
            //    //        url: DomainName + '/AdvanceBalanceQuery/AdvancePayment',
            //    //        type: 'POST',
            //    //        data: $('#form_sample').serialize(),
            //    //        success: function (data) {

            //    //        },
            //    //        error: function (req, status, error) {
            //    //            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
            //    //            App.unblockUI();
            //    //        }
            //    //    });
            //    //}
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
             
                Events(DomainName);
                var StrURL = DomainName + "/Operation/GetVendorsFromVendorType/12";
                FillDropDownfromOther1("VendorCode", StrURL, "Vendor");

                 StrURL = DomainName + "/Operation/GetGeneralMasterDetailsWithContract/VENDSERV?CodeList=15";
                FillDropDownfromOtherSelectFirst("VendorService", StrURL, " Type");

                StrURL = DomainName + "/Payment/GetFuelSlipVehicle";
                FillDropDownfromOtherSelectFirst("VehicleNo", StrURL, "Vehicle");

                $("#VendorCode").change(function () {

                    $("#VendorName").val($(this).select2('data').text);

                });
            }
        }
    }();
</script>