﻿@model CYGNUS.ViewModels.GCFilter
@using FleetDataService.Models

@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    var DateType = new List<SelectListItem> {
                                                new SelectListItem { Text =  ViewBag.DKTCalledAs+" Booking Date", Value = "1" },
                                                new SelectListItem { Text =  ViewBag.DKTCalledAs+" Arrived Date", Value = "2" },
    };
    var BookedBy = new List<SelectListItem>();
    Model.DATETYPE = "1";
    List<SelectListItem> BlankList = new List<SelectListItem>();
    List<Webx_Master_General> RateList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "HANDCHRG" && c.StatusCode == "Y").OrderBy(c => c.CodeId).ToList();
    List<CYGNUS_LoadingUnLoading_VendorType_Mapping> ListVendorType = MS.GetLoadingUnLoadingVendorTypeMappingList("L", @ViewBag.BaseLocationCode, Model.TYP == 2 ? "P" : "D");

    if (@ViewBag.BaseUserType == "XX5")//Franchise
    {
        BookedBy.Add(new SelectListItem { Text = "FRANCHISE", Value = "B" });
        ListVendorType = ListVendorType.Where(c => c.CodeId == (MS.GetGeneralMasterObject().Where(m => m.CodeDesc == @ViewBag.BaseUserType && m.CodeType == "LOADVEND" && m.StatusCode == "Y").FirstOrDefault()).CodeId).ToList();
    }
    else if (@ViewBag.BaseUserType == "08")//BA
    {
        BookedBy.Add(new SelectListItem { Text = "BA", Value = "B" });
        if (Model.TYP == 2)
        {
            ListVendorType = ListVendorType.Where(c => c.CodeId == (MS.GetGeneralMasterObject().Where(m => m.CodeDesc == @ViewBag.BaseUserType && m.CodeType == "LOADVEND" && m.StatusCode == "Y").FirstOrDefault()).CodeId).ToList();
        }
    }
    else
    { // Staff
        BookedBy.Add(new SelectListItem { Text = "Staff", Value = "P" });
        var uids = MS.GetGeneralMasterObject().Where(m => m.CodeType == "LOADVEND" && m.StatusCode == "Y").Select(c => c.CodeId).ToList();
        ListVendorType = ListVendorType.Where(c => !uids.Contains(c.CodeId)).ToList();
    }
}
@Html.HiddenFor(c => c.FromDate)
@Html.HiddenFor(c => c.ToDate)
<div class="form-body">
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        You have some form errors. Please check below.
    </div>
    <div class="alert alert-success display-hide">
        <button class="close" data-close="alert"></button>
        Your form validation is successful!
    </div>

    <div class="form-group">
        <label class="control-label col-md-3" style="text-align: left;">
            @Html.DropDownListFor(m => m.DATETYPE, new SelectList(DateType, "Value", "Text", Model.DATETYPE), "", new { @class = "select2 required2 form-control" })
        </label>
        <div class="col-md-4">
            <div id="reportrange" class="btn default col-md-12">
                <i class="fa fa-calendar"></i>
                &nbsp;
                <span></span>
                <b class="fa fa-angle-down"></b>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-1" style="text-align: left;"></label>
        <label class="control-label col-md-2" style="text-align: left;">
            Select Paybas
        </label>
        <div class="col-md-4">
            @Html.DropDownListFor(m => m.PAYBAS, new SelectList(BlankList, "Value", "Text"), "", new { @class = "select2 required2 form-control" })
            @Html.HiddenFor(m => m.TYP)
            @Html.HiddenFor(m => m.DOCTYP)
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-1" style="text-align: left;"></label>
        <label class="control-label col-md-2" style="text-align: left;">
            Select Mode
        </label>
        <div class="col-md-4">
            @Html.DropDownListFor(m => m.TRNMOD, new SelectList(BlankList, "Value", "Text"), "", new { @class = "select2 required2 form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-1" style="text-align: left;"></label>
        <label class="control-label col-md-2" style="text-align: left;">
            Select Business Type
        </label>
        <div class="col-md-4">
            @Html.DropDownListFor(m => m.BUSTYPE, new SelectList(BlankList, "Value", "Text"), "", new { @class = "select2 required2 form-control" })
        </div>
    </div>

    @if (Model.isBookedby)
    {
        <div class="form-group">
            <label class="control-label col-md-1" style="text-align: left;"></label>
            <label class="control-label col-md-2" style="text-align: left;">
                Select Booked Type
            </label>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.BookedByType, new SelectList(BookedBy, "Value", "Text"), "", new { @class = "select2 required required2 form-control", @placeholder = "Select Booked Type" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-1" style="text-align: left;"></label>
            <label class="control-label col-md-2" style="text-align: left;">
                Select Booked By
            </label>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.BookedBy, new SelectList(BlankList, "Value", "Text"), "", new { @class = "select2 required2 form-control", @placeholder = "Select Booked By" })
            </div>
        </div>
    }

    <div class="form-group">
        <label class="control-label col-md-3">

        </label>
        <div class="col-md-6">
            <b>OR</b>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-1" style="text-align: left;"></label>
        <label class="control-label col-md-2" style="text-align: left;">
            @ViewBag.DKTCalledAs No.
        </label>
        <div class="col-md-4">
            @Html.TextBoxFor(c => c.GCNO, new { placeholder = ViewBag.DKTCalledAs + " No.", @class = "span6 m-wrap required2 form-control" })
        </div>
        <div class="text-primary col-md-3">
            [seperated by <b><i>comma</i></b> if multiple]
        </div>
    </div>
    @*<div class="form-group">
        <label class="control-label col-md-1" style="text-align: left;"></label>
        <label class="control-label col-md-2" style="text-align: left;">
            Loading By
        </label>
        <div class="col-md-4">
            @Html.DropDownListFor(m => m.LoadingBy, new SelectList(ListVendorType.OrderBy(c => c.CodeDesc).ToList(), "CodeId", "CodeDesc"), "", new { @class = "select2 required2 form-control", @placeholder = "Select Loading By" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-1" style="text-align: left;"></label>
        <label class="control-label col-md-2" style="text-align: left;">
            Charge type
        </label>
        <div class="col-md-4">
            @Html.DropDownListFor(m => m.ChargeType, new SelectList(RateList, "CodeId", "CodeDesc"), "", new { @class = "select2 required2 form-control", @placeholder = "Select Charge Type" })
        </div>
    </div>*@

    <div class="form-actions fluid">
        <div class="row">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-search"></i>&nbsp;Search</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input

                rules: {
                },
                messages: {

                    //'ServiceFor': {
                    //    required: "Please select at least one service for option",
                    //    minlength: jQuery.format("Please Select at Least One Service For Option")
                    //}
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    //if (element.parents('.checkbox-list').size() > 0) {
                    //    error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    //} else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                    //}
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //  form1.submit();
                }
            });
        }


        var handleSelect2 = function () {
            //$('.select2').select2({
            //    placeholder: "Select an option",
            //    allowClear: true
            //});
        }
        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }

            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                minDate: '01/01/2012',
                maxDate: '12/31/2099',
                //dateLimit: {
                //    days: 60
                //},
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },
                //function (start, end) {
                //    console.log("Callback has been called!");
                //    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                //}
                 function (start, end) {

                     $('#FromDate').val(start.format('MMMM D, YYYY'));
                     $('#ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                     //alert("Callback has been called!" + $('#FromDate').val() + " " + $('#ToDate').val());
                     //$('#reportrange span').html(start.toString('@ViewBag.DefaultJqueryDateFormat') + ' - ' + end.toString('@ViewBag.DefaultJqueryDateFormat'));
                 }

            );
            //Set the initial state of the picker label
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

            $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ToDate').val(moment().format('MMMM D, YYYY'));

        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                handleSelect2();
                handleDateRangePickers();

                var StrURL = DomainName + "/Operation/GetGeneralMasterDetails/PAYTYP";
                FillDropDownfromOther("PAYBAS", StrURL, "Paybas");

                var StrURL = DomainName + "/Operation/GetGeneralMasterDetails/TRN";
                FillDropDownfromOther("TRNMOD", StrURL, "Mode");

                var StrURL = DomainName + "/Operation/GetGeneralMasterDetails/BUT";
                FillDropDownfromOther("BUSTYPE", StrURL, "Business Type");

                $('#BookedByType').change(function () {
                    App.blockUI({ boxed: true });

                    $("#BookedBy").select2("data", null);

                    var StrURL = DomainName + "/Operation/GetBookcedBy/" + $(this).val();
                    FillDropDownfromOther("BookedBy", StrURL, "Booked By");
                    //App.unblockUI();
                });
                $("#LoadingBy").change(function () {
                    if ($(this).val() == "O" || $(this).val() == "B" || $(this).val() == "BP" || $(this).val() == "XX6" || $(this).val() == "XX9") {
                        $("#ChargeType").attr("disabled", true);
                    }
                    else
                        $("#ChargeType").attr("disabled", false);
                })

                $('#btnSubmit').click(function () {
                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        return false;
                    }
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                });
            }
        };
    }();
</script>
