﻿@model FleetDataService.ViewModels.BillingQueryModel
@using FleetDataService.Models;
@{
    string dtRange = "";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_State> Webx_StateList = new List<Webx_State>();
    List<Webx_Master_General> lstGSTType = MS.GetGeneralMasterObject().Where(c => c.CodeType == "GSTTYPE" && c.StatusCode == "Y" && c.CodeId != "SVC").OrderBy(c => c.CodeDesc).ToList();
    List<Webx_Master_General> TransitMode = MS.GetGeneralMasterObject().Where(c => c.CodeType == "TRN" && c.StatusCode == "Y").OrderBy(c => c.CodeDesc).ToList();

    var dateType = new List<SelectListItem>();
    dateType.Add(new SelectListItem { Text = "Up to 31st Jan", Value = "1" });
    dateType.Add(new SelectListItem { Text = "1st Feb Onwards", Value = "2" });
}
<div class="row">
    <div class="col-md-10">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-hide">
                        <button class="close" data-close="alert"></button>
                        Your form validation is successful!
                    </div>

                    @using (Html.BeginForm(Model.GC.ActionName, Model.GC.ControllerName, FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
                    {
                        @Html.HiddenFor(c => c.GC.FilterType)
                        @Html.HiddenFor(c => c.GC.FromDate)
                        @Html.HiddenFor(c => c.GC.ToDate)
                        @Html.HiddenFor(c => c.GC.ToDate)
                        @Html.HiddenFor(c => c.GC.IsGSTApply)
                        @Html.HiddenFor(c => c.Bill_POD_Approval_YN)
                        @Html.HiddenFor(c => c.StaxYN)
                        @Html.HiddenFor(c => c.StaxRate)
                        @Html.HiddenFor(c => c.Trans_Type)
                        @Html.HiddenFor(c => c.BusinessType)
                        @Html.HiddenFor(c => c.BillingParty)

                        <div class="form-group ">
                            <label class="control-label col-md-2">
                                Date Type :
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(c => c.GC.DateType, new SelectList(dateType, "Value", "Text"), null, new { @class = "form-control select2 required2 required", @placeholder = "Select Date Type" })
                            </div>
                        </div>

                        <div class="form-group @dtRange">
                            <label class="control-label col-md-2">
                                Select Date :
                            </label>
                            <div class="col-md-4">
                                <div id="reportrange" class="btn default col-md-12">
                                    <i class="fa fa-calendar"></i>
                                    &nbsp;
                                    <span></span>
                                    <b class="fa fa-angle-down"></b>
                                </div>
                            </div>
                        </div>

                        if (Model.GC.IsGSTType)
                        {
                            <div class="form-group ">
                                <label class="control-label col-md-2">
                                    GST Type :
                                </label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(c => c.GC.GSTType, new SelectList(lstGSTType, "CodeId", "CodeDesc"), "", new { @class = "form-control select2 required2 required", @placeholder = "SELECT GST TYPE" })
                                </div>
                            </div>
                        }

                        if (Model.GC.IsState)
                        {
                            <div class="form-group ">
                                <label class="control-label col-md-2">
                                    State Code :
                                </label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(c => c.GC.StateCode, new SelectList(Webx_StateList, "statePrefix", "stnm"), "", new { @class = "form-control select2 required2 required", @placeholder = "SELECT STATE" })
                                </div>
                            </div>
                        }

                        if (Model.GC.IsVendor)
                        {
                            <div class="form-group ">
                                <label class="control-label col-md-2">
                                    Vendor :
                                </label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(c => c.GC.VendorCode, new { placeholder = "SELECT VENDOR", @class = "form-control required required2" })
                                </div>
                            </div>
                        }

                        if (Model.GC.IsCustomer)
                        {
                            <div class="form-group ">
                                <label class="control-label col-md-2">
                                    Customer :
                                </label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(c => c.GC.CustomerCode, new { placeholder = "SELECT CUSTOMER", @class = "form-control required required2" })
                                </div>
                            </div>
                        }

                        if (Model.GC.IsTransitMode)
                        {
                            <div class="form-group ">
                                <label class="control-label col-md-2">
                                    Transit Mode:
                                </label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(c => c.GC.TransitMode, new SelectList(TransitMode, "CodeId", "CodeDesc"), "", new { @class = "form-control select2 required2 required", @placeholder = "Transit Mode" })
                                </div>
                            </div>
                        }
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="button" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-search"></i>&nbsp;Search</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {
        return {
            //main function to initiate the module
            init: function (DomainName) {

                handleDateRangePickers('reportrange', 'GC_FromDate', 'GC_ToDate');
                FormValidate();

                $("#GC_GSTType").on('change', function () {
                    var StrURL = DomainName + "/Master/GetStateListFromGSTType?GSTType=" + $('#GC_GSTType').val();
                    FillDropDownfromOther("GC_StateCode", StrURL, "");
                });

                $("#GC_StateCode").on('change', function () {
                    JsonDDLSelectCodeWithName("GC_VendorCode", DomainName + "/Master/SearchVendorListByStateJson?State=" + $('#GC_StateCode').val());
                });

                $("#GC_StateCode").on('change', function () {
                    JsonDDLSelectCodeWithName("GC_CustomerCode", DomainName + "/Master/GetCustomerListingNew?GRPCD=@ViewBag.BaseCompanyCode" + "&State=" + $('#GC_StateCode').val());
                });

                $("#btnSubmit").click(function () {
                    App.blockUI({ boxed: true });
                    FormValidate();
                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        App.unblockUI();
                        return false;
                    }
                    document.forms["form_sample"].submit();
                });
            }
        };
    }();
</script>