﻿@model FleetDataService.ViewModels.StaxTDSViewModel
@using FleetDataService.Models;
@using CYGNUS.Models
@{
    FleetDataService.PaymentService PS = new FleetDataService.PaymentService();

    List<SelectListItem> BlankList = new List<SelectListItem>();

    List<SelectListItem> DiscountType = new List<SelectListItem>(){
                    new SelectListItem{ Text="Flat", Value = "F" },
                    new SelectListItem{ Text="%", Value = "P" },
    };

    List<SelectListItem> CorporateTpye = new List<SelectListItem>(){
                    new SelectListItem{ Text="Corporate", Value = "C" },
                     new SelectListItem{ Text="Non Corporate", Value = "N" },
    };
    string ChargeType = Model.ChargeType == "" || Model.ChargeType == null ? "VBOE" : Model.ChargeType;
    List<CygnusChargesHeader> ListChargesHeader = PS.GetGSTDynamicCharges(ChargeType, Model.GSTType, Model.GSTPercentage).Where(c => c.IsApplicable == true).ToList();

    string clsTDSDisplay = Model.IsTDSDisplay ? "" : "hide";
}
<div class="row">
    <div class="col-md-6">
        <h4 class="form-section"><b>GST Details</b></h4>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-5">Amount Applicable</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.StaxOnAmount, new { placeholder = "Amount Applicable", @class = "required2 clsAmount form-control", @readonly = "true" })
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.GSTType)
        @Html.HiddenFor(m => m.TYPEOFGST)

        @foreach (var item in ListChargesHeader)
        {
            item.IsPercentageShow = Model.IsGSTDisplay;
            @Html.Partial("../UserControls/_DynamicCharges", item);
        }

        @*<div class="row">
                <div class="form-group">
                    <label class="control-label col-md-5">Sub Total After GST</label>
                    <div class="col-md-6">
                        @Html.TextBox("GSTSubTotal", 0, new { placeholder = "Sub Total After GST", @class = "required2 clsAmount form-control", @readonly = "true" })
                    </div>
                </div>
            </div>*@
    </div>
    @Html.HiddenFor(c => c.IsTDSDisplay)

    <div class="col-md-6 @clsTDSDisplay">
        <h4 class="form-section"><b>TDS Details</b></h4>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-5"><b> Enable TDS</b></label>
                <div class="col-md-6 chkactive">
                    @Html.CheckBoxFor(m => m.IsTDSEnabled, new { @class = "clsStaxTDS" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-5">Amount Applicable</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.TDSOnAmount, new { placeholder = "Service Tax Reg No.", @class = "required2 clsAmount form-control", @readonly = "true" })
                </div>
            </div>
        </div>

        <div class="row clsTDS">
            <div class="form-group">
                <label class="control-label col-md-5">TDS Section</label>
                <div class="col-md-6">
                    @Html.DropDownListFor(c => c.TDSAcccode, new SelectList(BlankList, "Value", "Text", Model.TDSAcccode), "", new { @class = "form-control required  required2", @placeholder = "TDS " })
                    @Html.HiddenFor(m => m.TDSAccdesc)
                </div>
            </div>
        </div>
        @if (Model.CorporateType == "BABILL")
        {
            <div class="row clsTDS">
                <div class="form-group">
                    <label class="control-label col-md-5">Section</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(c => c.CorporateType, new SelectList(CorporateTpye, "Value", "Text"), "", new { @class = "form-control select2" })
                    </div>
                </div>
            </div>
        }
        <div class="row clsTDS">
            <div class="form-group">
                <label class="control-label col-md-5">TDS Rate(%)</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.TDSRate, new { placeholder = "TDS Rate(%)", @style = "text-align: right;", @class = "required2 required clsAMT form-control", @readonly = "true", @min = "0", @max = "100", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-5">TDS Amount (-)</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.TDSAmount, new { placeholder = "TDS Amount (-)", @class = "required2 required clsAmount form-control", @readonly = "true" })
                </div>
            </div>
        </div>

        <div class="row clsTDS clspanno">
            <div class="form-group">
                <label class="control-label col-md-5"> PAN Number</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.PANNO, new { placeholder = "PAN No.", @class = "required2 form-control" })
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.IsOtherAmountEnabled)
{
    <h4 class="form-section">Other Bill Amount Detail</h4>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-7">Other Amount(+)</label>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.OtherAmountPlus, new { placeholder = "Other Amount(+)", @class = "required2 clsAmount clsAMT form-control", @min = "0", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-7">Other Amount(-)</label>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.OtherAmountLess, new { placeholder = "Other Amount(-)", @class = "required2 clsAmount clsAMT form-control", @min = "0", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@if (Model.IsDiscountEnabled)
{
    <h4 class="form-section"><b>Discount</b></h4>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-5">Discount Received</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(c => c.DiscountType, new SelectList(DiscountType, "Value", "Text", Model.DiscountType), "", new { @class = "form-control select2  required2", @placeholder = "Discount Type" })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-5">Discount Amount(-)</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Discount, new { placeholder = "Other Amount(-)", @class = "required2 clsAmount clsAMT form-control", @min = "0", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-6">
        @if (Model.CorporateType == "BABILL")
        {
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-5">Total commission Amount</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.TotalCommAmt, new { placeholder = "Total Commition Amt", @class = "form-control", @readonly = "true" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-5"><b>Bill Amount</b></label>
                <div class="col-md-6">
                    @if (Model.BETYP == "5")
                    {
                        @Html.TextBox(Model.FiledNextAmount, 0, new { placeholder = "Bill Amount", @class = "required2 clsAmount form-control", @readonly = "true", @min = "-1" })
                    }
                    @if (Model.CorporateType == "BABILL")
                    {
                        @Html.TextBox(Model.FiledNextAmount, 0, new { placeholder = "Bill Amount", @class = "required2 clsAmount form-control", @readonly = "true" })
                    }
                    else
                    {
                        @Html.TextBox(Model.FiledNextAmount, 0, new { placeholder = "Bill Amount", @class = "required2 clsAmount form-control", @readonly = "true", @min = "1" })
                    }
                    @Html.HiddenFor(m => m.FiledNextAmount)
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var CalculateStaxTDS = function (DomainName) {

        var StaxOnAmount = $("#StaxOnAmount").val();
        var total = 0;
        $('.clsGSTAmt').each(function () {
            var taxAmt = 0;

            if ($(this).data('applicable') == "True") {

                if ($("#BillEntryType").val() != "7" && $("#BillEntryType").val() != "5" || $("#BillEntryType").val() == "undefined") {
                    taxAmt = parseFloat(Math.round(parseFloat(StaxOnAmount) * parseFloat($(this).data('percentage')) / 100)).toFixed(2);
                }
                else {
                    var gstTotal = 0
                    //$('.GSTonGRNAmt').each(function () {
                    var chkBoxId = $(this).attr('id');
                    if ($("#BillEntryType").val() == "5") {
                        chkBoxId = chkBoxId.replace("TaxAmount", "IsEnabled");
                        $('.clsPOCheck:checkbox:checked').each(function () {
                            gstTotal = parseFloat(gstTotal) + parseFloat($("#" + $(this).attr('id').replace("IsEnabled", "TaxAmount")).val());
                        });
                    } else if ($("#BillEntryType").val() == "7") {
                        chkBoxId = chkBoxId.replace("TaxAmount", "IsChecked");
                        $('.clsGRNCheck:checkbox:checked').each(function () {
                            gstTotal = parseFloat(gstTotal) + parseFloat($("#" + $(this).attr('id').replace("IsChecked", "GSTonGRNAmt")).val());
                        });
                    }
                    //});
                    //console.log(gstTotal)
                    taxAmt = parseFloat(Math.round(parseFloat(gstTotal) / $('.clsGSTAmt').length)).toFixed(2);
                }

                $(this).val(taxAmt);

                if ($(this).data('operator') == "+") {
                    total = parseFloat(total) + parseFloat(taxAmt);
                } else if ($(this).data('operator') == "-") {
                    total = parseFloat(total) - parseFloat(taxAmt);
                }
            }
        });

        var IsTDSEnabled = $('#IsTDSEnabled').is(':checked');

        if ($('#IsTDSEnabled').is(':checked')) {
            $("#TDSRate").attr("readonly", false);
            $("#TDSRate").rules("add", "required");
            $("#TDSAcccode").rules("add", "required");
            $("#PANNO").rules("add", "required");
            $(".clsTDS").show();
        }
        else {
            $("#TDSRate").attr("readonly", true);
            $("#TDSRate").attr("min", 0);
            $("#TDSRate").val(0);
            $("#TDSAcccode").select2("data", null);
            $(".clsTDS").hide();
        }

        if ($("#WAD_Vouchertype").val() == "DEBITNOTE") {
            $(".clspanno").hide();
        }
        else {
            $(".clspanno").show();
        }

        $('#GSTSubTotal').val(parseFloat(parseFloat(StaxOnAmount) + parseFloat(total)).toFixed(2));

        //TDSApplyOn = parseFloat(StaxOnAmount) + parseFloat(total);

        //$("#TDSOnAmount").val(parseFloat(rounditn(StaxOnAmount, 0)).toFixed(2));

        if ($("#BBEQ_billType").val() == "B") {//For BA Bill Entry
            TDSApplyOn = parseFloat(StaxOnAmount) + parseFloat(total);
        }
        else {
            TDSApplyOn = parseFloat(StaxOnAmount) + parseFloat(total);

            $("#TDSOnAmount").val(parseFloat(rounditn(StaxOnAmount, 0)).toFixed(2));
        }
        var TDSAmount = 0;

        var TDSRate = $("#TDSRate").val();

        if (IsTDSEnabled) {
            // TDSAmount = rounditn((parseFloat(StaxOnAmount) * parseFloat(TDSRate)) / 100, 0);
            if ($("#BBEQ_billType").val() == "B") {//For BA Bill Entry
                TDSAmount = rounditn((parseFloat($("#TDSOnAmount").val()) * parseFloat(TDSRate)) / 100, 0);
            }
            else {
                TDSAmount = rounditn((parseFloat(StaxOnAmount) * parseFloat(TDSRate)) / 100, 0);
            }
        }
        else
            TDSAmount = 0;


        TDSAmount = rounditn(TDSAmount, 0);
        $("#TDSAmount").val(parseFloat(rounditn(TDSAmount, 0)).toFixed(2));

        var BillAmt1 = 0;
        // var BillAmt1 = rounditn(parseFloat(TDSApplyOn) - parseFloat(TDSAmount), 0);
        if ($("#BBEQ_billType").val() == "B") {//For BA Bill Entry
            var BillAmt1 = rounditn(parseFloat(TDSApplyOn) + parseFloat(TDSAmount), 0);
        }
        else {
            var BillAmt1 = rounditn(parseFloat(TDSApplyOn) - parseFloat(TDSAmount), 0);
        }

        
        var OtherAmountPlus = $("#OtherAmountPlus").val();
        var OtherAmountLess = $("#OtherAmountLess").val();

        if (OtherAmountLess == "" || OtherAmountLess == null)
            OtherAmountLess = 0;
        if (OtherAmountPlus == "" || OtherAmountPlus == null)
            OtherAmountPlus = 0;

        var DiscountType = $("#DiscountType").val();
        var Discount = $("#Discount").val();

        if (parseFloat(Discount) > 0) {
            if (DiscountType == "F") {
                BillAmt1 = rounditn(parseFloat(BillAmt1) - parseFloat(Discount), 0);
            }
            if (DiscountType == "P") {
                var DiscountAmount = rounditn((parseFloat(BillAmt1) * parseFloat(Discount)) / 100, 0);

                BillAmt1 = rounditn(parseFloat(BillAmt1) - parseFloat(DiscountAmount), 0);
            }

        }
       
        var BillAmt2 = parseFloat(BillAmt1) + parseFloat(OtherAmountPlus);
        var BillAmt = 0;

        if ($("#BillEntryType").val() == "6") {
            BillAmt = parseFloat(BillAmt2) - parseFloat(OtherAmountLess) + parseFloat($("#TotalPartAmount").val());
        }
        else {

            BillAmt = parseFloat(BillAmt2) - parseFloat(OtherAmountLess);
        }

        //alert($("#TDSOnAmount").val())
        //alert($("#TDSAmount").val())

        if ($("#BBEQ_billType").val() == "B") {//For BA Bill Entry

            $("#TotalCommAmt").val(parseFloat($("#TDSOnAmount").val()) - parseFloat($("#TDSAmount").val()));
        }
        else {
            $("#TotalCommAmt").val("0.00");
        }
        //console.log("BillAmt2 = " + BillAmt2 + " || BillAmt1 = " + BillAmt1 + " || OtherAmountPlus = " + OtherAmountPlus + " || OtherAmountLess = " + OtherAmountLess + " || TotalPartAmount = " + $("#TotalPartAmount").val() + " || BillAmt = " + BillAmt)

        //if ($("#IsTDSDisplay").is(":checked"))
        //    $("#" + $("#FiledNextAmount").val().replace(".", "_")).val(rounditn(BillAmt, 0));
        //else
        if ($("#TYPEOFGST").val() == "RCMGST") {
            $("#" + $("#FiledNextAmount").val().replace(".", "_")).val(rounditn(StaxOnAmount, 2));
        }
        else {

            $("#" + $("#FiledNextAmount").val().replace(".", "_")).val(rounditn(BillAmt, 2));
        }

        if ($("#WVH_isGSTReverse").is(":checked")) {
            $('#WVH_NETAMT').val(parseFloat(parseFloat($('#WVH_NETAMT').val()) - parseFloat(total)).toFixed(2));
        }
        if (parseFloat($('#WVH_NETAMT').val()) >= "0.00") {
            $("#WVH_BillPayType").val("R");
        }
        else {
            $("#WVH_BillPayType").val("P");
        }

        if (typeof pageLevelCallbackFunction == "function") {
            pageLevelCallbackFunction();
        }
    }

    var StaxTDSEnabled = function (DomainName) {

        $(".clsTDS").hide();

        var StrURL = DomainName + "/Payment/GetTDSLedger";
        FillDropDownfromOther("TDSAcccode", StrURL, "Billing Type");

        $('.clsStaxTDS').click(function () {
            CalculateStaxTDS(DomainName);
        });

        $('.clsAMT').change(function () {
            CalculateStaxTDS(DomainName);
        });

        $('#DiscountType').change(function () {
            if ($(this).val() == "P") {
                $("#Discount").attr("max", "100");
            }
            else {
                $("#Discount").removeAttr("max");
            }
            CalculateStaxTDS(DomainName);
        });

        $("#TDSAcccode").change(function () {
            $("#TDSAccdesc").val($("#TDSAcccode option:selected").text());
        });
    }
</script>
