﻿@model FleetDataService.ViewModels.PaymentControl

@using CYGNUS.Models;
@using Fleet.Classes
@{
    List<SelectListItem> ListPayMode = new List<SelectListItem>();

    //if (Model.IsAllowForChequeCollection == false)
    //{
    //    ListPayMode.Add(new SelectListItem() { Text = "Cash", Value = "Cash" });
    //}
    //else if (Model.IsAllowForChequeCollection == true)
    //{
    //    ListPayMode.Add(new SelectListItem() { Text = "Cash", Value = "Cash" });
    //    ListPayMode.Add(new SelectListItem() { Text = "Bank", Value = "Bank" });
    //}

    ListPayMode.Add(new SelectListItem() { Text = "Cash", Value = "Cash" });
    ListPayMode.Add(new SelectListItem() { Text = "Bank", Value = "Bank" });

    Model.ChequeDate = System.DateTime.Now;
    List<SelectList> ListLedger = new List<SelectList>();
    List<SelectList> List_Deposited = new List<SelectList>();

    FleetDataService.OperationService OS = new FleetDataService.OperationService();
    var SecdepList = OS.GetSecurityLedger(Model.Bank_Branch);
    var TDSList = OS.GetTDSLedger(Model.Bank_Branch);
}

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">
                Payment Mode
            </label>

            <div class="col-md-8">
                @Html.DropDownListFor(model => model.PaymentMode, new SelectList(ListPayMode, "Value", "Text"), "", new { @class = "form-control select2 required required2" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">
                <b>Amount Applicable</b>
            </label>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.PayAmount, new { @readonly = "true", @class = "form-control required required2", @number = "true", @minvalue = "1" })
            </div>
        </div>
    </div>
</div>

<div class="row" id="IsCash">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">
                Cash Amount
            </label>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.CashAmount, new { @class = "form-control required2", @readonly = "true", @type = "number", @min = "0" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">
                Account
            </label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.CashLedger, new SelectList(ListLedger, "Value", "Text"), "", new { @class = "form-control select2 required required2" })
            </div>
        </div>
    </div>
</div>

<div class="row clsIsBank">
    <div class="col-md-6">

        @if (Model.IsAllowForChequeCollection == false)
        {
            <div class="col-md-offset-3 col-md-3">
                <div class="radio-list">
                    <label class="radio-inline" style="padding-top: 0px;">
                        <input type="radio" name="numberTypeR" id="numberType2" checked value="R"> RTGS/NEFT No.
                    </label>
                    @Html.Hidden("numberType")
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.ChequeNo, new { placeholder = "Cheque No.", @class = "form-control required2 Chqvalidation", @maxlength = "22" })
                </div>
            </div>
        }
        else
        {
            <div class="col-md-offset-2 col-md-4">
                <div class="radio-list">
                    <label class="radio-inline" style="padding-top: 0px;">
                        <input type="radio" name="numberTypeR" id="numberType1" checked value="C"> Cheque No.
                    </label>
                    <label class="radio-inline" style="padding-top: 0px;">
                        <input type="radio" name="numberTypeR" id="numberType2" value="R"> RTGS/NEFT No.
                    </label>
                    @Html.Hidden("numberType")
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.ChequeNo, new { placeholder = "Cheque No.", @class = "form-control required2 Chqvalidation", @maxlength = "6", @number = "true" })
                </div>
            </div>
        }
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">
                Cheque date
            </label>
            <div class="col-md-8">
                <div class="input-group date date-picker">
                    @Html.TextBoxFor(m => m.ChequeDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.ChequeDate).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy" })
                    <span class="input-group-btn">
                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">
                Cheque Amount
            </label>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.ChequeAmount, new { @class = "form-control required2", @readonly = "true", @type = "number", @min = "0" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">
                On Account Balance
            </label>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.BankLedger, new { @class = "form-control required2", @readonly = "true", @type = "number", @min = "0" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">
                Collection Amt. From Cheque
            </label>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Collection_Amt_From_Cheque, new { @class = "form-control required2", @readonly = "true", @type = "number", @min = "0" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">
                Tds Type
            </label>
            <div class="col-md-8">
                @Html.DropDownListFor(m => m.TDSType, new SelectList(TDSList, "Acccode", "Accdesc"), "", new { @class = "form-control select2 required2" })
            </div>
        </div>
    </div>
</div>

<div class="row clsIsBank">
    <div class="col-md-6 clsISDepositedInBank">
        <div class="form-group">
            <label class="control-label col-md-3">
                Direct Deposited In Bank
            </label>
            <div class="col-md-8">
                @Html.CheckBoxFor(m => m.ISDepositedInBank)
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">
                Deposited in Bank
            </label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.DepositedInBank, new SelectList(List_Deposited, "Value", "Text"), "", new { @class = "form-control select2 required2" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">
                Received From Bank
            </label>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.ChequeAmount_Fromcheque, new { @class = "form-control required2" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">
                Bank Branch
            </label>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Bank_Branch, new { @class = "form-control required2" })
            </div>
        </div>
    </div>
</div>
@if (Model.IsTDSApplicable)
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-3">
                    TAN No.
                </label>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.TANNo, new { @class = "form-control required2", @readonly = "true" })
                </div>
                @*<label class="control-label col-md-2">
                        TDS(%)
                    </label>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.TDSPercentage, new { @class = "form-control required2", @readonly = "true" })
                    </div>*@
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-3">
                    Total TDS Deduction
                </label>
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.totTDSAmt, new { @class = "form-control required2", @readonly = "true" })
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-6">
        <div class="form-group clsIsOnAccount">
            <label class="control-label col-md-3">
                On Account Yes/NO
            </label>
            <div class="col-md-8">
                @Html.CheckBoxFor(m => m.IsOnAccount)
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">
                NET RECEIVED
            </label>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.NET_RECEIVED, new { @class = "form-control required2", @readonly = "true", @type = "number", @min = "1" })
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var PaymentControl_Tds = function (DomainName) {

        $('.date-picker').datepicker({
            isRTL: App.isRTL(),
            format: "dd M yyyy",
            autoclose: true,
            pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
            todayBtn: true
        });
        $('body').removeClass("modal-open");


        $("#IsOnAccount").prop("disabled", true);
        $("#IsOnAccount").attr("value", false);
        $("#ISDepositedInBank").prop("disabled", true);
        $("#ISDepositedInBank").attr("value", false);

        $("#ISDepositedInBank").change(function () {

            var checked1 = $("#ISDepositedInBank").is(":checked");

            if ($("#PaymentMode").val().toUpperCase() == "BANK") {
                if (checked1) {
                    $("#DepositedInBank").attr("readonly", false);
                    $("#DepositedInBank").addClass("required")
                    $("#ISDepositedInBank").val(checked1);
                }
                else {
                    $("#DepositedInBank").removeClass("required")
                    $("#DepositedInBank").attr("readonly", true);
                    $("#ISDepositedInBank").val(checked1);
                }
            }
        });

        $("#PaymentMode").change(function () {

            var PayMode = $(this).val();
            if (PayMode != "") {
                App.blockUI({ boxed: true });

                var StrURL = DomainName + "/Finance/GetBankCashList?Type=" + PayMode;
                $("#CashLedger").attr("readonly", false);
                $("#CashLedger").select2('data', null)

                var StrURL1 = DomainName + "/Finance/GetTDS_ReceivableList";
                $("#TDSType").select2('data', null)
                FillDropDownfromOther("TDSType", StrURL1, "TDS Type");


                if (PayMode.toUpperCase() == "BANK") {
                    $("#CashLedger").select2('data', null)
                    $("#CashLedger").removeClass('required');
                    $("#CashLedger").attr("readonly", true);

                    var StrURL2 = DomainName + "/Finance/GetDepositedInbankList?Type=" + PayMode + "&moduleType=" + $("#ModuleType").val();
                    $("#DepositedInBank").select2('data', null)
                    FillDropDownfromOther("DepositedInBank", StrURL2, "Deposited In Bank");
                    $("#CashAmount").val('0');
                    $("#ChequeAmount").val($("#PayAmount").val());

                    $("#ChequeAmount").attr("readonly", false);
                    $("#Collection_Amt_From_Cheque").attr("readonly", true);
                    $("#Collection_Amt_From_Cheque").val($("#PayAmount").val());

                    var checked1 = $("#ISDepositedInBank").is(":checked");

                    if (checked1) {
                        $("#DepositedInBank").attr("readonly", false);
                        $("#DepositedInBank").val(checked1);
                    }
                    else {
                        $("#DepositedInBank").attr("readonly", true);
                        $("#DepositedInBank").val(false);
                    }

                    $("#IsOnAccount").prop("disabled", true);
                    $("#ISDepositedInBank").prop("disabled", false);

                    $("#IsCash").hide();
                    $(".clsIsBank").show();
                    $("#ChequeNo").addClass("required");
                }
                else if (PayMode.toUpperCase() == "CASH") {
                    $("#CashLedger").addClass('required');

                    FillDropDownfromOther("CashLedger", StrURL, "Cash Ledger");
                    $("#DepositedInBank").select2('data', null)
                    $("#DepositedInBank").attr("readonly", true);
                    $("#BankLedger").val('0');
                    $("#BankLedger").attr("readonly", true);

                    $("#CashAmount").val($("#PayAmount").val());
                    $("#ChequeAmount").val('0');

                    $("#Collection_Amt_From_Cheque").val('0');
                    $("#Collection_Amt_From_Cheque").attr("readonly", true);

                    $("#IsOnAccount").prop("disabled", true);
                    $("#IsOnAccount").attr("value", false);
                    $("#ISDepositedInBank").prop("disabled", true);
                    $("#ISDepositedInBank").attr("value", false);

                    $("#IsCash").show();
                    $(".clsIsBank").hide();
                    $("#ChequeNo").removeClass("required");
                }
            }
        });

        $("input[name='numberTypeR']").live("change", function () {

            var numberType = $('input[name=numberTypeR]:checked').val();
            $("#numberType").val(numberType);
            $("#ChequeNo").attr("placeholder", $('input[name=numberTypeR]:checked').parents('label').text().trim());
            if (numberType == "C") {
                $("#ChequeNo").attr("maxlength", "6");
                $("#ChequeNo").attr("minlength", "6");
                $("#ChequeNo").attr("number", true);
            }
            else {
                $("#ChequeNo").attr("maxlength", "22");
                $("#ChequeNo").attr("minlength", "6");
                $("#ChequeNo").removeAttr("number");
            }
        });
    }
</script>