﻿@model Fleet.ViewModels.POApprovalViewModel
@using Fleet.Classes;

@{
    var Location = ViewBag.HeadOfficeCode;

    FleetDataService.MasterService CS = new FleetDataService.MasterService();
}

@Html.HiddenFor(c => c.FilterType)
@Html.HiddenFor(c => c.POType)
@Html.HiddenFor(c => c.FromDate)
@Html.HiddenFor(c => c.ToDate)
<div class="form-group">
    <label class="control-label col-md-2">
        <input type="radio" id="RdbDate" name="optionsRadios2" value="0" checked="checked" />
        Select Date :
    </label>

    <div class="col-md-4">
        <div id="reportrange" class="btn default col-md-12">
            <i class="fa fa-calendar"></i>
            &nbsp;
            <span></span>
            <b class="fa fa-angle-down"></b>
        </div>
    </div>
</div>

<div class="form-group ">
    <label class="control-label col-md-2">
        Vendor Code:
    </label>
    <div class="col-md-4">
        @Html.TextBoxFor(c => c.VendorCode, new { placeholder = "", @class = "form-control" })
    </div>
</div>

<div class="form-group ">
    <label class="control-label col-md-2">
        <input type="radio" id="RdbDate" name="optionsRadios2" value="1" />
        Enter PO No.:
    </label>
    <div class="col-md-4">
        @Html.TextBoxFor(c => c.POCode, new { @class = "form-control", @placeholder = "Enter PO No." })
    </div>
</div>

<div class="form-group ">
    <label class="control-label col-md-2">
        <input type="radio" id="RdbDate" name="optionsRadios2" value="2" />
        Enter Manual PO No.:
    </label>
    <div class="col-md-4">
        @Html.TextBoxFor(c => c.ManualPO, new { @class = "form-control", @placeholder = "Enter Manual PO No." })
    </div>
</div>

<div class="form-group ">
    @*<label class="control-label col-md-2">
            <input type="radio" id="RdbPOTYPE" name="optionsRadios3" value="PO" checked="checked" />
            Purchase Order
        </label>*@
    @*<label class="control-label col-md-5">
            <input type="radio" id="RdbPOTYPE" name="optionsRadios3" value="WO" />
            Work Order
        </label>*@
</div>

<div class="form-actions fluid">
    <div class="row">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-search"></i>&nbsp;Search</button>
        </div>
    </div>
</div>


<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }
            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },
                //rules: {
                //    'webx_GENERAL_POASSET_HDR.PAIDAMT': {
                //        max: function () {
                //            return parseFloat($('#webx_GENERAL_POASSET_HDR_pendamt').val());
                //        },
                //        number: true,
                //    },
                //},
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }

            });
        }

        var handleSelect2 = function () {
            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true
            });
        }

        var HandleDatetimePicker = function () {
            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }

            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                //maxDate: '12/31/2014',
                dateLimit: {
                    days: 60
                },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#FromDate').val(start.format('MMMM D, YYYY'));
                     $('#ToDate').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#ToDate').val(moment().format('MMMM D, YYYY'));
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                handleSelect2();
                HandleDatetimePicker();
                handleDateRangePickers();
                GetVendorCode("VendorCode");
                Formvalidate(DomainName);
                $("#VendorCode").addClass("required required2");
                $("input[name='optionsRadios2']").on("change", function () {
                    var rdoval = this.value;
                    if (rdoval == "") {
                        alert("Plz Select value")
                    }
                    else {
                        $('#FilterType').val(rdoval);
                        if (rdoval == "0") {
                            $("#VendorCode").addClass("required required2");
                            $("#POCode").removeClass("required required2");
                            $("#ManualPO").removeClass("required required2");
                        } else if (rdoval == "1") {
                            $("#VendorCode").removeClass("required required2");
                            $("#POCode").addClass("required required2");
                            $("#ManualPO").removeClass("required required2");
                        }
                        else
                        {
                            $("#VendorCode").removeClass("required required2");
                            $("#POCode").removeClass("required required2");
                            $("#ManualPO").addClass("required required2");
                        }
                    }
                });
                $("input[name='optionsRadios3']").on("change", function () {
                    var rdoval = this.value;
                    if (rdoval == "") {
                        alert("Plz Select value")
                    }
                    else {
                        $('#POType').val("PO");
                    }
                });

                $("#btnSubmit").click(function () {
                    if ($("#submit_form").valid()) {
                        $("#btnSubmit:input").attr("disabled", "true");
                        App.blockUI({ boxed: true });
                        document.forms["submit_form"].submit();
                    }                    
                });

                if($("#FilterType").val() == "1")
                {
                    $("input[name='optionsRadios2']").val($("#FilterType").val())
                    $("input[name='optionsRadios2']").change();
                    $("#btnSubmit").click();
                }
            }
        };
    }();
</script>
