﻿@model  FleetDataService.ViewModels.FuelBillEntyQuery
@using FleetDataService.Models
@{
    ViewBag.Title = "Advance Payment Filter";
    Layout = null;

    List<SelectListItem> BlankList = new List<SelectListItem>();
    string i = TempData["GRN"].ToString();
    string type = "PO No.";
    if (i == "GRN")
    {
        type = "GRN No.";
    }
    else if (i == "JOBBill")
    {
        type = "JOB No.";
    }
    if (ViewBag.TypeAsset != null)
    {
        Model.Type = ViewBag.TypeAsset;
    }
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> ListMSTGeneral = MS.GetGeneralMasterObject();

    List<Webx_State> Webx_StateList = new List<Webx_State>();
    //List<Webx_State> Webx_StateList = MS.GetStateMasterObject().Where(m => m.gstStateCode != "" && m.statePrefix != "").ToList();
    //List<Webx_Master_General> lstGSTType = MS.GetGeneralMasterObject().Where(c => c.CodeType == "GSTTYPE" && c.StatusCode == "Y" && c.CodeId != "SVC").OrderBy(c => c.CodeDesc).ToList();

}
<div class="form-body">
    <div class="row">
        @if (Model.Type == 8)
        {
            if (Model.LocationLevel == 1 || Model.LocationLevel == 2)
            {
                <div class="form-group">
                    <label class="control-label col-md-3">
                        Select RO :
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(c => c.RegionCode, new SelectList(Model.RegionList, "LocCode", "LocName"), null, new { @class = "form-control required required2 select2", @placeholder = "Select Region" })
                    </div>
                </div>
            }
            <div class="form-group">
                <label class="control-label col-md-3">
                    Select Location :
                </label>
                <div class="col-md-4">
                    @Html.DropDownListFor(c => c.LocationCode, new SelectList(Model.LocationList, "LocCode", "LocName"), null, new { @class = "form-control required required2 select2", @placeholder = "Select Location" })
                </div>
            </div>
        }

        <div class="form-group">
            <label class="control-label col-md-3">
                Select  Date :
            </label>
            <div class="col-md-6">
                <div id="reportrange" class="btn default">
                    <i class="fa fa-calendar"></i>
                    &nbsp;
                    <span></span>
                    <b class="fa fa-angle-down"></b>
                </div>
            </div>
        </div>
        @if (Model.Type != 8 && Model.Type != 5 && Model.Type != 1)
        {
            <div class="form-group ">
                <label class="control-label col-md-3">
                    GST Type :
                </label>
                <div class="col-md-4">
                    @Html.DropDownListFor(c => c.GSTType, new SelectList(ListMSTGeneral.Where(c => c.CodeType == "GSTTYPE" && c.StatusCode == "Y" && c.CodeId != "SVC").OrderBy(c => c.CodeDesc), "CodeId", "CodeDesc"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select GST Type" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">
                    State Code :
                </label>
                <div class="col-md-4">
                    @Html.DropDownListFor(c => c.StateCode, new SelectList(Webx_StateList, "statePrefix", "stnm"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select State" })
                </div>
            </div>
            if (Model.Type != 7)
            {
                <div class="form-group ">
                    <label class="control-label col-md-3">
                        GST Percentage :
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(c => c.GSTPercentage, new SelectList(ListMSTGeneral.Where(c => c.CodeType.ToUpper() == "GSTPER" && c.StatusCode == "Y").OrderBy(c => int.Parse(c.CodeDesc)), "CodeDesc", "CodeDesc"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select GST Percentage" })
                    </div>
                </div>
            }
        }
        <div class="form-group">
            <label class="control-label col-md-3">
                Vendor :
            </label>

            <div class="col-md-4">
                @Html.TextBoxFor(c => c.VendorCode, new { placeholder = "Select Vendor", @class = "form-control required2 required" })
            </div>
            <span class="col-md-4" style="color:red">Plz Type Initial Character of Vendor Name</span>
            @Html.HiddenFor(c => c.FromDate)
            @Html.HiddenFor(c => c.ToDate)
            @Html.HiddenFor(c => c.VendorName)
        </div>
        @if (Model.Type == 7 || Model.Type == 8)
        {

            <div class="form-group">
                <label class="control-label col-md-3">
                    Material Category :
                </label>
                <div class="col-md-4">
                    @*@Html.TextBoxFor(c => c.MatCat, new { placeholder = "Manual " + @type + " No.", @class = "form-control required2" })*@
                    @Html.DropDownListFor(m => m.MatCat, new SelectList(ListMSTGeneral.Where(m => m.CodeType.ToUpper() == "MATCAT").ToList(), "CodeId", "CodeDesc"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select Material Category" })
                </div>
            </div>

        }
        <div class="form-group">
            <label class="control-label col-md-3">

            </label>
            @if (type != "JOB No.")
            {
                <div class="col-md-6">
                    <b>OR</b>
                </div>
            }
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">
                @type :
            </label>
            <div class="col-md-4">
                @Html.TextBoxFor(c => c.VehicleNo, new { placeholder = @type, @class = "form-control required2" })
            </div>
        </div>
        @if (Model.Type == 7 || Model.Type == 8)
        {
            <div class="form-group">
                <label class="control-label col-md-3">
                    Manual @type :
                </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(c => c.ManualPONo, new { placeholder = "Manual " + @type, @class = "form-control required2" })
                </div>
            </div>
        }
    </div>
    <div class="form-actions fluid">
        <div class="col-md-offset-3 col-md-10">
            <button type="button" id="btnSubmit" class="btn btn-sm blue controls"><i class="fa fa-search"></i>&nbsp;Search</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');

            //$('#btnSubmit').on('click', function () {
            //    Formvalidate(DomainName);
            //    //if ($('#form_sample').valid()) {
            //    //    App.blockUI({ boxed: true });
            //    //    document.forms["form_sample"].submit();
            //    //}
            //      //  Formvalidate(DomainName);
            //      //  var Type = $("#Type").val();
            //       // var form1 = $('#form_sample').serialize();
            //       // document.form1.submit();
            //        //if ($('#form_sample').valid()) {
            //        //    $.ajax({
            //        //        url: DomainName + '/AdvanceBalanceQuery/AdvancePayment',
            //        //        type: 'POST',
            //        //        data: $('#form_sample').serialize(),
            //        //        success: function (data) {

            //        //        },
            //        //        error: function (req, status, error) {
            //        //            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
            //        //            App.unblockUI();
            //        //        }
            //        //    });
            //        //}
            //});
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Events(DomainName);
                FormValidate(DomainName);
                $('#btnSubmit').click(function () {
                    //alert($("#submit_form").valid());
                    if ($("#form_sample").valid()) {
                        //   SubmmitFunction();
                        $("#btnSubmit").hide();
                        App.blockUI({ boxed: true });
                        document.forms["form_sample"].submit();
                    }
                });
                JsonDDL('VendorCode', DomainName + '/Master/SearchVendorListJson');
                $("#VendorCode").change(function () {
                    $("#VendorName").val($(this).select2('data').text);
                });

                if ("@Model.Type" == "7") {
                    $("#VendorCode").addClass("required");
                }
                if ("@Model.Type" == "8") {
                    $("#MatCat").removeClass("required");
                }

                $("#RegionCode").on("change", function () {
                    StrURL = DomainName + "/Finance/GetLocationListFromROJson?LocCode=" + $(this).val();
                    FillDropDownfromOther1("LocationCode", StrURL, "Location");
                });

                $("#GSTType").on('change', function () {
                    App.blockUI({ boxed: true });
                    var StrURL = DomainName + "/Master/GetStateListFromGSTType?GSTType=" + $('#GSTType').val();
                    FillDropDownfromOther("StateCode", StrURL, "");
                    if ($(this).val() == "N") {
                        $("#GSTPercentage").val("0");
                        $("#GSTPercentage").attr("readonly", true);
                        $("#GSTPercentage").removeClass("required");
                    }
                    else {
                        $("#GSTPercentage").attr("readonly", false);
                        $("#GSTPercentage").addClass("required");
                    }
                });

                $("#StateCode").on('change', function () {
                    JsonDDLSelectCodeWithName("VendorCode", DomainName + "/Master/SearchVendorListByStateJson?State=" + $('#StateCode').val());
                });
            }
        }
    }();
</script>