﻿@model  FleetDataService.ViewModels.FuelBillEntyQuery
@using FleetDataService.Models
@{
    ViewBag.Title = "Advance Payment Filter";
    Layout = null;

    List<SelectListItem> BlankList = new List<SelectListItem>();
    string i = TempData["GRN"].ToString();
    string type = "PO No.";
    string hideShow = "hide";
    if (i == "GRN")
    {
        type = "GRN No.";
        hideShow = "";
    }
    if (ViewBag.TypeAsset != null)
    {
        Model.Type = ViewBag.TypeAsset;
    }
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> ListMSTGeneral = MS.GetGeneralMasterObject();
    List<Webx_State> Webx_StateList = new List<Webx_State>();
}
<div class="form-body">
    <div class="row">
        <div class="form-group">
            <label class="control-label col-md-3">
                Select  Date :
            </label>
            <div class="col-md-6">
                <div id="reportrange" class="btn default">
                    <i class="fa fa-calendar"></i>
                    &nbsp;
                    <span></span>
                    <b class="fa fa-angle-down"></b>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">
                State Code :
            </label>
            <div class="col-md-4">
                @Html.DropDownListFor(c => c.StateCode, new SelectList(Webx_StateList, "statePrefix", "stnm"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select State" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">
                Vendor :
            </label>

            <div class="col-md-4">
                @Html.TextBoxFor(c => c.VendorCode, new { placeholder = "Select Vendor", @class = "form-control required2 required" })
            </div>
            <span class="col-md-4" style="color:red">Plz Type Initial Character of Vendor Name</span>
            @Html.HiddenFor(c => c.FromDate)
            @Html.HiddenFor(c => c.ToDate)
            @Html.HiddenFor(c => c.VendorName)
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">
                <b>is Reverse GST Applied?</b>
            </label>
            <div class="col-md-5 chkactive">
                @Html.CheckBoxFor(c => c.isGSTReverse)
            </div>
        </div>
        <div class="form-group ">
            <label class="control-label col-md-3">
                GST Type :
            </label>
            <div class="col-md-4">
                @Html.DropDownListFor(c => c.GSTType, new SelectList(ListMSTGeneral.Where(c => c.CodeType == "GSTTYPE" && c.StatusCode == "Y" && c.CodeId != "SVC").OrderBy(c => c.CodeDesc), "CodeId", "CodeDesc"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select GST Type" })
            </div>
        </div>
        @*<div class="form-group ">
                <label class="control-label col-md-3">
                    GST Percentage :
                </label>
                <div class="col-md-4">
                    @Html.DropDownListFor(c => c.GSTPercentage, new SelectList(ListMSTGeneral.Where(c => c.CodeType.ToUpper() == "GSTPER" && c.StatusCode == "Y").OrderBy(c => int.Parse(c.CodeDesc)), "CodeDesc", "CodeDesc"), "", new { @class = "form-control select2 required2 required", @placeholder = "Select GST Percentage" })
                </div>
            </div>*@
        <div class="form-group @hideShow">
            <label class="control-label col-md-3">
                Material Category :
            </label>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.MatCat, new SelectList(ListMSTGeneral.Where(m => m.CodeType.ToUpper() == "MATCAT").ToList(), "CodeId", "CodeDesc"), "", new { @class = "form-control select2", @placeholder = "Select Material Category" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">
            </label>
            <div class="col-md-6">
                <b>OR</b>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">
                @type :
            </label>
            <div class="col-md-4">
                @Html.TextBoxFor(c => c.PoNo, new { placeholder = @type, @class = "form-control required2" })
            </div>
        </div>
        @*<div class="form-group">
                <label class="control-label col-md-3">
                    Manual @type :
                </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(c => c.ManualPONo, new { placeholder = "Manual " + @type, @class = "form-control required2" })
                </div>
            </div>*@
    </div>
    <div class="form-actions fluid">
        <div class="col-md-offset-3 col-md-10">
            <button type="button" id="btnSubmit" class="btn btn-sm blue controls"><i class="fa fa-search"></i>&nbsp;Search</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');
            $('#btnSubmit').on('click', function () {
                Formvalidate(DomainName);
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                Events(DomainName);
                //JsonDDL('VendorCode', DomainName + '/Master/SearchVendorListJson');
                $("#VendorCode").on("change", function () {
                    var Name = $("#s2id_VendorCode").children('a').children('span').html().split('-')[1];
                    $("#VendorName").val(Name);
                    if ($('#StateCode').val() != "" && $("#isGSTReverse").is(":checked") == false) {
                        App.blockUI({ boxed: true });
                        var StrURL = DomainName + "/Master/GetGSTTypeFromStateandVendor?statePrefix=" + $('#StateCode').val() + "&VendorCode=" + $('#VendorCode').val();
                        FillDropDownfromOther("GSTType", StrURL, "");
                    }
                    else {
                        $("#GSTType").select2("data", null);
                        var StrURL = DomainName + "/Operation/GetGeneralMasterDetailsWithContract/GSTType?CodeList=";
                        FillDropDownfromOther("GSTType", StrURL, "");
                        App.blockUI({ boxed: true });
                        setTimeout(function () {
                            $("#GSTType option[value='SVC']").remove();
                        }, 350);
                    }
                });

                var StrURL = DomainName + "/Master/GetStateListFromGSTType?GSTType=" + $('#GSTType').val();
                FillDropDownfromOther("StateCode", StrURL, "");
                $("#GSTType").on('change', function () {
                    App.blockUI({ boxed: true });
                    if ($(this).val() == "N") {
                        $("#GSTPercentage").val("0");
                        $("#GSTPercentage").attr("readonly", true);
                        $("#GSTPercentage").removeClass("required");
                        App.unblockUI();
                    }
                    else {
                        $("#GSTPercentage").attr("readonly", false);
                        $("#GSTPercentage").addClass("required");
                        App.unblockUI();
                    }
                });

                $("#StateCode").on('change', function () {
                    JsonDDLSelectCodeWithName("VendorCode", DomainName + "/Master/SearchVendorListByStateJson?State=" + $('#StateCode').val());
                    if ($('#VendorCode').val() != "" && $("#isGSTReverse").is(":checked") == false) {
                        var StrURL = DomainName + "/Master/GetGSTTypeFromStateandVendor?statePrefix=" + $('#StateCode').val() + "&VendorCode=" + $('#VendorCode').val();
                        FillDropDownfromOther("GSTType", StrURL, "");
                    }
                    else {
                        $("#GSTType").select2("data", null);
                        var StrURL = DomainName + "/Operation/GetGeneralMasterDetailsWithContract/GSTType?CodeList=";
                        FillDropDownfromOther("GSTType", StrURL, "");
                        App.blockUI({ boxed: true });
                        setTimeout(function () {
                            $("#GSTType option[value='SVC']").remove();
                            App.unblockUI();
                        }, 350);
                    }
                });

                $("#isGSTReverse").on("change", function () {
                    App.blockUI({ boxed: true });
                    if ($("#isGSTReverse").is(":checked") == true) {
                        $("#GSTType").select2("data", null);
                        var StrURL = DomainName + "/Operation/GetGeneralMasterDetailsWithContract/GSTType?CodeList=";
                        FillDropDownfromOther("GSTType", StrURL, "");
                        App.blockUI({ boxed: true });
                        setTimeout(function () {
                            $("#GSTType option[value='SVC']").remove();
                            App.unblockUI();
                        }, 350);
                    }
                    else {
                        if ($('#VendorCode').val() != "" && $('#StateCode').val() != "") {
                            var StrURL = DomainName + "/Master/GetGSTTypeFromStateandVendor?statePrefix=" + $('#StateCode').val() + "&VendorCode=" + $('#VendorCode').val();
                            FillDropDownfromOther("GSTType", StrURL, "");
                        }
                        else {
                            App.unblockUI();
                        }
                    }
                });

                if ($("#Id").val() == "5") {
                    $("#MatCat").removeClass("required2 required");
                }
                else {
                    $("#MatCat").addClass("required2 required");
                }
            }
        }
    }();
</script>