﻿@model CYGNUS.ViewModel.CYGNUS_Collection_Payment
    @using CYGNUS.Models;
    @using Fleet.Classes

    @{

        List<SelectListItem> ListPayMode = new List<SelectListItem>();

        ListPayMode.Add(new SelectListItem() { Text = "Cash", Value = "1" });
        ListPayMode.Add(new SelectListItem() { Text = "Bank", Value = "5" });


        Model.ChequeDate = System.DateTime.Now;

        List<SelectList> ListLedger = new List<SelectList>();
    }


    <div class="col-md-11">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-reorder"></i>
                </div>
            </div>

            <div class="portlet-body form">
                <div class="form-body">

                    <div class="form-group">
                        <div class="row col-md-12">

                            <div class="col-md-6">
                                <label class="control-label col-md-3" style="text-align: left;">
                                    Receipt Mode
                                </label>

                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.TransactionType, new SelectList(ListPayMode, "Value", "Text"), "", new { @class = "form-control select2 span8 required" })
                                </div>
                            </div>
                            <div class="col-md-6">

                                <label class="control-label col-md-3" style="text-align: left;">
                                    <b>Net Received</b>
                                </label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.Amount, new { @readonly = "true", @class = " form-control" })

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row col-md-12">

                            <div class="col-md-6 bank">
                                <label class="control-label col-md-3" style="text-align: left;">
                                    Deposited
                                </label>

                                <div class="col-md-8">
                                    @Html.CheckBoxFor(model => model.IsChequeDeposited, new { @disabled = true })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="control-label col-md-3" style="text-align: left;">
                                    Account
                                </label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.CashAccountCode, new SelectList(ListLedger, "Value", "Text"), "", new { @class = "form-control span8 select2 required" })
                                    @Html.ValidationMessageFor(model => model.CashAccountCode)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group bank">
                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <label class="control-label col-md-3" style="text-align: left;">
                                    Cheque No
                                </label>

                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ChequeNo, new { placeholder = "Cheque No", @class = " form-control required", @number = "true", @maxlength = "6", @minlength = "6" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label col-md-3" style="text-align: left;">
                                    Cheque Date
                                </label>
                                <div class="col-md-8">
                                    <div class="input-group input-medium date date-pickerCHQDate" data-date-format="dd MMM yyyy">
                                        @Html.TextBox("ChequeDate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.ChequeDate).ToString("dd MMM yyyy")), new { @class = "form-control required" })
                                        <span class="input-group-btn">
                                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group bank">
                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <label class="control-label col-md-3" style="text-align: left;">
                                    Issued  Bank
                                </label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ChequeBankName, new { placeholder = "Bank Name", @class = " form-control required" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        //$('.select2').select2({
        //    placeholder: "Select an option",
        //    allowClear: true
        //});

        function GetNames(genderID, ddlId) {
            if (genderID == "")
                genderID = 0;
            if (genderID == null)
                genderID = 0;
            //alert("Hello " + genderID);
            var StrURL = DomainName + '/Voucher/GetCashBankLedgers/?id=' + genderID;
            $("#" + ddlId).val('');
            $("#" + ddlId).select2('data', null)

            FillDropDownfromOther(ddlId, StrURL);
        }

    </script>
