﻿@model CYGNUS.ViewModel.CYGNUS_Collection_Payment
@{
    List<SelectListItem> ListPayMode = new List<SelectListItem>();
    ListPayMode.Add(new SelectListItem() { Text = "Cash", Value = "CASH" });
    ListPayMode.Add(new SelectListItem() { Text = "Bank", Value = "BANK" });

    Model.ChequeDate = System.DateTime.Now;
    List<SelectList> ListLedger = new List<SelectList>();
    List<SelectList> List_Deposited = new List<SelectList>();

    FleetDataService.OperationService OS = new FleetDataService.OperationService();
    //var SecdepList = OS.GetSecurityLedger(Model.Bank_Branch);
    var TDSList = OS.GetTDSLedger(Model.Bank_Branch);
    Model.IsChequeDirectDeposited = true;
}

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">
                Payment Mode
            </label>

            <div class="col-md-8">
                @Html.DropDownListFor(model => model.TransactionType, new SelectList(ListPayMode, "Value", "Text"), "", new { @class = "form-control select2 required required2" })
            </div>
        </div>
    </div>
    @*<div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-3">
                    <b>Collection Amount</b>
                </label>
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.NetPayabale, new { @readonly = "true", @class = "form-control required required2", @number = "true", @minvalue = "1" })
                </div>
            </div>
        </div>*@
</div>

<div class="row" id="IsCash">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">
                Cash Amount
            </label>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.CashAmount, new { @class = "form-control required2", @readonly = "true", @type = "number", @min = "0" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">
                Account
            </label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.CashAccountCode, new SelectList(ListLedger, "Value", "Text"), "", new { @class = "form-control select2 required required2" })
            </div>
        </div>
    </div>
</div>

<div class="row clsIsBank">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">
                Cheque Number
            </label>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.ChequeNo, new { placeholder = "Cheque No.", @class = "form-control required2 Chqvalidation", @maxlength = "6", @number = "true" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">
                Cheque date
            </label>
            <div class="col-md-8">
                <div class="input-group date date-picker">
                    @Html.TextBoxFor(m => m.ChequeDate, String.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(Model.ChequeDate).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy" })
                    <span class="input-group-btn">
                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clsIsBank">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">
                Cheque Amount
            </label>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.ChequeAmount, new { @class = "form-control required2", @readonly = "true", @type = "number", @min = "0" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">
                On Account Balance
            </label>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.OnAccountBalance, new { @class = "form-control required2", @readonly = "true", @type = "number", @min = "0" })
            </div>
        </div>
    </div>
</div>
<div class="row clsIsBank">
    <div class="col-md-6 clsISDepositedInBank">
        <div class="form-group">
            <label class="control-label col-md-3">
                Direct Deposited In Bank
            </label>
            <div class="col-md-8">
                @Html.CheckBoxFor(m => m.IsChequeDirectDeposited)
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">
                Deposited in Bank
            </label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.BankAccountCode, new SelectList(List_Deposited, "Value", "Text"), "", new { @class = "form-control select2 required2" })
            </div>
        </div>
    </div>
</div>
@if (Model.IsTDSApplicable)
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-3">
                    Tds Type
                </label>
                <div class="col-md-8">
                    @Html.DropDownListFor(m => m.TDSType, new SelectList(TDSList, "Acccode", "Accdesc"), "", new { @class = "form-control select2 required2" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-3">
                    PAN No.
                </label>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.PANNO, new { @class = "form-control" })
                </div>
                <label class="control-label col-md-2">
                    TDS(%)
                </label>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.TDSPercentage, new { @class = "form-control required2" })
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    @if (Model.IsTDSApplicable)
    {
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-3">
                    Total TDS Deduction
                </label>
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.totTDSAmt, new { @class = "form-control required2", @readonly = "true" })
                </div>
            </div>
        </div>
    }
    @*<div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-3">
                    <b>Net Collection</b>
                </label>
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.NET_RECEIVED, new { @class = "form-control required2", @readonly = "true", @type = "number", @min = "1" })
                </div>
            </div>
        </div>*@
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">
                <b>Collection Amount</b>
            </label>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.NetPayabale, new { @readonly = "true", @class = "form-control required required2", @number = "true", @minvalue = "1" })
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var ReceiptControl_DeliveryMR = function (DomainName) {

        $('.date-picker').datepicker({
            isRTL: App.isRTL(),
            format: "dd M yyyy",
            autoclose: true,
            pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
            todayBtn: true
        });
        $('body').removeClass("modal-open");


        $("#IsOnAccount").prop("disabled", true);
        $("#IsOnAccount").attr("value", false);
        $("#IsChequeDirectDeposited").prop("disabled", true);
        $("#IsChequeDirectDeposited").attr("value", false);

        $("#IsChequeDirectDeposited").change(function () {

            var checked1 = $("#IsChequeDirectDeposited").is(":checked");

            if ($("#TransactionType").val().toUpperCase() == "BANK") {
                if (checked1) {
                    $("#BankAccountCode").attr("readonly", false);
                    $("#BankAccountCode").addClass("required")
                    $("#IsChequeDirectDeposited").val(checked1);
                }
                else {
                    $("#BankAccountCode").removeClass("required")
                    $("#BankAccountCode").attr("readonly", true);
                    $("#IsChequeDirectDeposited").val(checked1);
                }
            }
        });

        $("#TransactionType").change(function () {

            var PayMode = $(this).val();
            if (PayMode != "") {
                App.blockUI({ boxed: true });

                var StrURL = DomainName + "/Finance/GetBankCashList?Type=" + PayMode;
                $("#CashAccountCode").attr("readonly", false);
                $("#CashAccountCode").select2('data', null)

                //var StrURL1 = DomainName + "/Finance/GetTDS_ReceivableList";
                //$("#TDSType").select2('data', null)
                //FillDropDownfromOther("TDSType", StrURL1, "TDS Type");


                if (PayMode.toUpperCase() == "BANK") {
                    $("#CashAccountCode").select2('data', null)
                    $("#CashAccountCode").removeClass('required');
                    $("#CashAccountCode").attr("readonly", true);

                    var StrURL2 = DomainName + "/Finance/GetDepositedInbankList?Type=" + PayMode + "&moduleType=";
                    $("#BankAccountCode").select2('data', null)
                    FillDropDownfromOther("BankAccountCode", StrURL2, "Deposited In Bank");
                    $("#CashAmount").val('0');
                    $("#ChequeAmount").val($("#NetPayabale").val());

                    $("#ChequeAmount").attr("readonly", true);

                    var checked1 = $("#IsChequeDirectDeposited").is(":checked");

                    if (checked1) {
                        $("#BankAccountCode").attr("readonly", false);
                        $("#BankAccountCode").val(checked1);
                    }
                    else {
                        $("#BankAccountCode").attr("readonly", true);
                        $("#BankAccountCode").val(false);
                    }

                    $("#IsOnAccount").prop("disabled", true);
                    $("#IsCash").hide();
                    $(".clsIsBank").show();
                    $("#ChequeNo").addClass("required");
                }
                else if (PayMode.toUpperCase() == "CASH") {
                    $("#CashAccountCode").addClass('required');

                    FillDropDownfromOtherWithoutSelect("CashAccountCode", StrURL, "Cash Ledger");
                    $("#BankAccountCode").select2('data', null)
                    $("#BankAccountCode").attr("readonly", true);
                    $("#BankLedger").val('0');
                    $("#BankLedger").attr("readonly", true);

                    $("#CashAmount").val($("#NetPayabale").val());
                    $("#ChequeAmount").val('0');

                    $("#IsOnAccount").prop("disabled", true);
                    $("#IsOnAccount").attr("value", false);
                    $("#IsChequeDirectDeposited").prop("disabled", true);
                    $("#IsChequeDirectDeposited").attr("value", false);

                    $("#IsCash").show();
                    $(".clsIsBank").hide();
                    $("#ChequeNo").removeClass("required");
                }
            }
        });

        $("input[name='numberTypeR']").live("change", function () {

            var numberType = $('input[name=numberTypeR]:checked').val();
            $("#numberType").val(numberType);
            $("#ChequeNo").attr("placeholder", $('input[name=numberTypeR]:checked').parents('label').text().trim());
            if (numberType == "C") {
                $("#ChequeNo").attr("maxlength", "6");
                $("#ChequeNo").attr("minlength", "6");
                $("#ChequeNo").attr("number", true);
            }
            else {
                $("#ChequeNo").attr("maxlength", "22");
                $("#ChequeNo").attr("minlength", "6");
                $("#ChequeNo").removeAttr("number");
            }
        });

        $("#TDSPercentage").on("change", function () {
            var tdsPer = isNaN($(this).val()) ? 0 : $(this).val();
            var tdsAmount = $("#Dtl_MRAmount").val() * tdsPer / 100;
            $("#totTDSAmt").val(tdsAmount);
            $("#NetPayabale").val($("#Dtl_MRAmount").val() - tdsAmount);
        });

        setTimeout(function () {
            $("#TransactionType").select2("data", { id: "CASH", text: "Cash" }).change();
           
        }, 500);

        $("#TDSType").on("change", function () {
            if ($(this).val() != null && $(this).val() != "") {
                $("#TANNo").addClass("required");
                $("#TDSPercentage").addClass("required").attr("min", "0.01");
                $("#totTDSAmt").addClass("required").attr("min", "0.01");
            } else {
                $("#TANNo").removeClass("required");
                $("#TDSPercentage").removeClass("required").removeAttr("min");
                $("#totTDSAmt").removeClass("required").removeAttr("min");
                $("#TDSPercentage").val("0").change();
                $("#TANNo").val("");
            }
        });
    }
</script>