﻿@{
    List<SelectListItem> BlankList = new List<SelectListItem>();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    string currBranchCode = Convert.ToString(ViewBag.BaseLocationCode).ToUpper();

    int CurrLocLevel = Convert.ToInt32(MS.GetLocationAsPerZoneDetails().Where(c => c.LocCode.ToUpper() == currBranchCode).FirstOrDefault().Loc_Level);
    string RO = MS.GetLocationAsPerZoneDetails().Where(C => C.Loc_Level == 2).FirstOrDefault().LocCode;
    var GNList = MS.GetGeneralMasterHRCHY().Where(c => Convert.ToInt32(c.CodeId) >= CurrLocLevel).ToList();
    int MaxId = GNList.Max(c => Convert.ToInt32(c.CodeId));
    string CurrLoccd = CurrLocLevel == 1 ? "All" : currBranchCode;
    RO = "All";
}

@using Fleet.Models
@using Fleet.Security;

@foreach (var itm in GNList)
{
    List<SelectListItem> LocationList = new List<SelectListItem>();

    if (Convert.ToInt32(itm.CodeId) == CurrLocLevel)
    {
        LocationList.Add(new SelectListItem() { Text = ViewBag.BaseLocationCode + " : " + ViewBag.BaseLocationName, Value = ViewBag.BaseLocationCode });
    }
    else if (Convert.ToInt32(itm.CodeId) == CurrLocLevel + 1)
    {
        //c.LocCode == currBranchCode ||
        var LocList = MS.GetLocationAsPerZoneDetails().Where(c => c.Loc_Level == Convert.ToInt32(itm.CodeId) || c.Loc_Level == Convert.ToInt32(1)).ToList();
        if (currBranchCode != "HQTR")
        {
            LocList = LocList.Where(c => c.Report_Loc == currBranchCode && c.Loc_Level == Convert.ToInt32(itm.CodeId)).ToList();
        }

        LocationList.Add(new SelectListItem() { Text = "All", Value = "All" });

        foreach (var itm1 in LocList)
        {
            LocationList.Add(new SelectListItem() { Text = itm1.LocCode + " : " + itm1.LocName, Value = itm1.LocCode });
        }
    }
    else
    {
        LocationList.Add(new SelectListItem() { Text = "All", Value = "All" });
    }

    string CURRCode = LocationList.First().Value;

    <div class="row">
        <div class="col-md-11">
            <div class="form-group">
                <label class="control-label col-md-3">@itm.CodeDesc </label>
                <div class="col-md-6">
                    @Html.DropDownList("LOC" + itm.CodeId, new SelectList(LocationList, "Value", "Text"), null, new { @class = "form-control select2 required2 required dropdown2 clsLocation" })
                </div>
            </div>
        </div>
    </div>
}
@Html.Hidden("Location", CurrLoccd)
@Html.Hidden("LocationLevel", CurrLocLevel)
@Html.Hidden("RO", RO)
@Html.Hidden("MaxId", MaxId)

@*@Html.TextBox("Location", CurrLoccd)
    @Html.TextBox("LocationLevel", CurrLocLevel)*@

@*<script type="text/javascript">

        var LocationContraol = function () {

            $(".clsLocation").live("change",function () {

                $("#Location").val($(this).val());

                //alert("Hello");
                App.blockUI({ boxed: true });
                var StrURL1 = DomainName + "/Master/GetLocationLevel/" + $(this).val();
                // alert("Hello " + StrURL1);
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: StrURL1,
                    dataType: 'json',
                    data: {},
                    success: function (data1) {


                        $("#LocationLevel").val(data1.LocationLevel);
                        App.unblockUI();
                        //  alert("error");
                    },
                    error: function () {
                        alert("error");
                    }
                });

                var ContId = parseInt($(this).attr("id").replace("LOC", "")) + 1;

                if (ContId == "@GNList.Max(c=>Convert.ToInt32(c.CodeId))") {

                    var StrURL = DomainName + "/Master/GetLocationFromRegion/" + $(this).val();
                    FillDropDownfromOtherSelectFirst("LOC" + ContId, StrURL, "Location");
                }
            });
        }
    </script>*@