﻿@model FleetDataService.ViewModels.StaxTDSViewModel

@{


    List<SelectListItem> BlankList = new List<SelectListItem>();


}


<h4 class="form-section">Service Tax & TDS Details</h4>

<div class="row">
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-5"> </div>
            <div class="col-md-7">
                <h6 class="form-section"><b>ADD Service Tax(+)</b></h6>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-7"><b> Enable Service Tax</b></label>
                <div class="col-md-5">
                    @Html.CheckBoxFor(m => m.IsStaxEnabled, new { @class = "clsStaxTDS" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-7">Amount Applicable</label>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.StaxOnAmount, new { placeholder = "Due Days", @class = "required2 clsAmount form-control", @readonly = "true" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-7">Service tax (+)@Html.TextBoxFor(m => m.StaxRate, new { placeholder = "Due Days", @class = "required2 clsAmount input-xsmall", @readonly = "true" })</label>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.StaxRateAmount, new { placeholder = "Due Days", @class = "required2 clsAmount form-control", @readonly = "true" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-7"> Education Cess (+)@Html.TextBoxFor(m => m.CessRate, new { placeholder = "Due Days", @class = "required2 clsAmount input-xsmall", @readonly = "true" })</label>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.CessAmount, new { placeholder = "Due Days", @class = "required2 clsAmount form-control", @readonly = "true" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-7">Higher Education Cess (+)@Html.TextBoxFor(m => m.HCessRate, new { placeholder = "Due Days", @class = "required2 clsAmount input-xsmall", @readonly = "true" })</label>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.HCessAmount, new { placeholder = "Due Days", @class = "required2 clsAmount form-control", @readonly = "true" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-7">Swachh Bharat Cess (+)@Html.TextBoxFor(m => m.SBRate, new { placeholder = "Due Days", @class = "required2 clsAmount input-xsmall", @readonly = "true" })</label>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.SBAmount, new { placeholder = "Due Days", @class = "required2 clsAmount form-control", @readonly = "true" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row clsSTAX">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-7">Service Tax Reg No.</label>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.StaxRegNo, new { placeholder = "Service Tax Reg No.", @class = "required2 required form-control" })
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-5">

        <div class="row">
            <div class="col-md-5"> </div>
            <div class="col-md-7">
                <h6 class="form-section"><b>ADD Service Tax(+)</b></h6>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-7"><b> Enable TDS</b></label>
                <div class="col-md-5">
                    @Html.CheckBoxFor(m => m.IsTDSEnabled, new { @class = "clsStaxTDS" })

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-7">Amount Applicable</label>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.TDSOnAmount, new { placeholder = "Service Tax Reg No.", @class = "required2 clsAmount form-control", @readonly = "true" })
                    </div>
                </div>
            </div>

        </div>


        <div class="row clsTDS">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-7"> TDS Section</label>
                    <div class="col-md-5">
                        @Html.DropDownListFor(c => c.TDSAcccode, new SelectList(BlankList, "Value", "Text", Model.TDSAcccode), "", new { @class = "form-control required select2 required2 dropdown2", @placeholder = "TDS " })

                        @Html.HiddenFor(m => m.TDSAccdesc)
                    </div>
                </div>
            </div>

        </div>

        <div class="row clsTDS">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-7">TDS Rate</label>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.TDSRate, new { placeholder = "Service Tax Reg No.", @class = "required2 clsAmount required clsAMT form-control", @readonly = "true", @type = "number", @min = "0" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-7">TDS Amount (-)</label>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.TDSAmount, new { placeholder = "Service Tax Reg No.", @class = "required2 required clsAmount form-control", @readonly = "true" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row clsTDS">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-7"> PAN Number</label>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.PANNO, new { placeholder = "PAN No.", @class = "required2 required clsAmount form-control" })
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
<h4 class="form-section">Other Bill Amount Detail</h4>
<div class="row">

    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-md-7">Other Amount(+)</label>
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.OtherAmountPlus, new { placeholder = "Other Amount(+)", @class = "required2 clsAmount clsAMT form-control", @type = "number", @min = "0" })

            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-md-7">Other Amount(-)</label>
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.OtherAmountLess, new { placeholder = "Other Amount(-)", @class = "required2 clsAmount clsAMT form-control", @type = "number", @min = "0" })

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-md-7"><b>Bill Amount</b></label>
            <div class="col-md-5">
                @Html.TextBox(Model.FiledNextAmount, 0, new { placeholder = "Bill Amount", @class = "required2 clsAmount form-control", @readonly = "true" })
                @Html.HiddenFor(m => m.FiledNextAmount)
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">


    var CalculateStaxTDS = function (DomainName) {



        var StaxRate = $("#StaxRate").val();
        var CessRate = $("#CessRate").val();
        var HCessRate = $("#HCessRate").val();
        var SBRate = $("#SBRate").val();

        var StaxOnAmount = $("#StaxOnAmount").val();



        //  alert(StaxRate + " " + CessRate + " " + HCessRate + " " + SBRate);

        var StaxAmount = 0, CessAmount = 0, HCessAmount = 0, SBAmount = 0;

        if ($("#IsStaxEnabled").is(':checked')) {

            StaxAmount = rounditn((parseFloat(StaxOnAmount) * parseFloat(StaxRate)) / 100, 0);
            CessAmount = rounditn((parseFloat(StaxAmount) * parseFloat(CessRate)) / 100, 0);
            HCessAmount = rounditn((parseFloat(StaxAmount) * parseFloat(HCessRate)) / 100, 0);
            SBAmount = rounditn((parseFloat(StaxAmount) * parseFloat(SBRate)) / 100, 0);
            $("#StaxRegNo").rules("add", "required");

            $(".clsSTAX").show();
        }
        else {

            StaxAmount = 0;
            CessAmount = 0;
            HCessAmount = 0;
            SBAmount = 0;
            $("#StaxRegNo").rules("remove", "required");

            $(".clsSTAX").hide();
        }

        $("#StaxRateAmount").val(StaxAmount);
        $("#CessAmount").val(CessAmount);
        $("#HCessAmount").val(HCessAmount);
        $("#SBAmount").val(SBAmount);


        var IsTDSEnabled = $('#IsTDSEnabled').is(':checked');

        if ($('#IsTDSEnabled').is(':checked')) {
            $("#TDSRate").attr("readonly", false);
            $("#TDSRate").attr("min", 1);

            $("#TDSRate").rules("add", "required");
            $("#TDSAcccode").rules("add", "required");
            $("#PANNO").rules("add", "required");

            $(".clsTDS").show();
        }
        else {
            $("#TDSRate").attr("readonly", true);
            $("#TDSRate").attr("min", 0);

            $(".clsTDS").hide();

        }

        var TDSApplyOn = parseFloat(StaxOnAmount) + parseFloat(StaxAmount) + parseFloat(CessAmount) + parseFloat(HCessAmount) + parseFloat(SBAmount);

        // alert(parseFloat(StaxOnAmount) +" "+ parseFloat(StaxAmount)  +" "+  parseFloat(CessAmount) +" "+  parseFloat(HCessAmount) +" "+  parseFloat(SBAmount));

        TDSApplyOn = rounditn(TDSApplyOn, 0);
        $("#TDSOnAmount").val(rounditn(TDSApplyOn, 0));

        var TDSAmount = 0;

        var TDSRate = $("#TDSRate").val();

        if (IsTDSEnabled) {
            TDSAmount = rounditn((parseFloat(TDSApplyOn) * parseFloat(TDSRate)) / 100, 0);
        }
        else
            TDSAmount = 0;


        TDSAmount = rounditn(TDSAmount, 0);
        $("#TDSAmount").val(rounditn(TDSAmount, 0));


        var BillAmt1 = rounditn(parseFloat(TDSApplyOn) - parseFloat(TDSAmount), 0);


        var OtherAmountPlus = $("#OtherAmountPlus").val();
        var OtherAmountLess = $("#OtherAmountLess").val();


        var BillAmt2 = rounditn(parseFloat(BillAmt1) + parseFloat(OtherAmountPlus), 0);
        var BillAmt = rounditn(parseFloat(BillAmt2) - parseFloat(OtherAmountLess), 0);

        // alert($("#FiledNextAmount").val().replace(".", "_"))

        $("#" + $("#FiledNextAmount").val().replace(".", "_")).val(rounditn(BillAmt, 0));



    }




    var StaxTDSEnabled = function (DomainName) {

        GetStaxRate(DomainName);

        $(".clsSTAX").hide();
        $(".clsTDS").hide();

        var StrURL = DomainName + "/Payment/GetTDSLedger";
        FillDropDownfromOther("TDSAcccode", StrURL, "Billing Type");
        $('.clsStaxTDS').click(function () {
            // alert("Hello")

            CalculateStaxTDS(DomainName);

        });

        $('.clsAMT').change(function () {

            CalculateStaxTDS();

        });

        $("#TDSAcccode").change(function () {



            $("#TDSAccdesc").val($(this).select2('data').text);

        });


    }

    var GetStaxRate = function (DomainName) {
        //alert("Helloo   " + DomainName);
        var StrURL1 = DomainName + "/Payment/GetTaxRate?DocuemntDate=" + $.datepicker.formatDate('dd M yy', new Date());
        //alert(StrURL1)
        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: StrURL1,
            dataType: 'json',
            data: {},
            success: function (data1) {

                //  alert(data1.StaxRate + "  " + data1.CessRate + "  " + data1.HEduCessRate);

                $("#StaxRate").val(data1.StaxRate);
                $("#CessRate").val(data1.CessRate);
                $("#HCessRate").val(data1.HEduCessRate);
                $("#SBRate").val(data1.SBRate);
            },
            error: function () {
                alert("error");
            }
        });
    }
</script>