﻿@model FleetDataService.Models.webx_Master_Airport
@using FleetDataService.Models;
@{
    var Text = "Submit"; var type = "Add";
    if (Model.SrNo != null && Model.SrNo > 0)
    {
        Text = "Update";
        type = "Edit";
    }
    bool Active = false;
    if (Model.ActiveFlag != null && Model.ActiveFlag.ToUpper() == "Y" || Model.SrNo == 0)
    {
        Active = true;
    }
    
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_citymaster> cityList = MS.GetCityMasterObject().Where(c => c.activeflag == null ? c.activeflag == null : c.activeflag == "Y").OrderBy(c => c.Location).ToList();
    List<Webx_Master_General> countryList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "CNTRY" && c.StatusCode=="Y").ToList();
}

<div class="portlet blue box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>&nbsp;@type Airport
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("AddEditAirportMaster", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Airport Code</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.AirportCode, new { @placeholder = "Airport Code", @class = "form-control required required2 text-uppercase" })
                                @Html.ValidationMessageFor(c => c.AirportCode)
                                @Html.HiddenFor(c => c.SrNo)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Airport Name</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.AirportName, new { placeholder = "Airport Name", @class = "form-control required required2 text-uppercase" })
                                @Html.ValidationMessageFor(c => c.AirportName)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">City</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(c => c.City, new SelectList(cityList, "city_code","Location", Model.City), "", new { @class = "form-control required required2 select2", @placeholder = "Select City" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Alternate City</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(c => c.AlternateCity, new SelectList(cityList, "city_code", "Location", Model.AlternateCity), "", new { @class = "form-control select2", @placeholder = "Select Alternate City" })
                                @Html.ValidationMessageFor(m => m.AlternateCity)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Country</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(c => c.CountryCode, new SelectList(countryList, "CodeId", "CodeDesc", Model.CountryCode), "", new { @class = "form-control required required2 select2", @placeholder = "Select Country" })
                                @Html.ValidationMessageFor(m => m.CountryCode)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Active</label>
                            <div class="col-md-8 chkactive">
                                @Html.CheckBox("ActiveFlag", @Active)
                                @Html.HiddenFor(c => c.ActiveFlag)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <button type="button" class="btn btn-sm defualt controls btnCancel" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                    <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
                </div>
            </div>
        }
    </div>
</div>
