﻿@model FleetDataService.Models.webx_master_CustAddr_Mapping
@using FleetDataService.Models;
@{
    var Text = "Submit"; var type = "Add";
    if (Model.SrNo != null && Model.SrNo > 0)
    {
        Text = "Update";
        type = "Edit";
    }

    bool Active = true;
    if (Model.ActiveFlag != null && Model.ActiveFlag.ToUpper() == "N")
    {
        Active = false;
    }

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    // List<webx_CUSTHDR> custList = MS.GetCustomerMasterObject().OrderBy(c => c.CUSTNM).ToList();
    List<webx_master_CustAddresses> addressList = MS.GetAddressObject().ToList();
}
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("AddEditCustomerAddress", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="portlet @ViewBag.TableBoxColor box">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@type Address
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            You have some form errors. Please check below.
                        </div>

                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Your form validation is successful!
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Customer Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.CustCD, new { @class = "form-control required required2" })
                                        @Html.HiddenFor(c => c.SrNo)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Address Code</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(c => c.AddID, new SelectList(addressList, "AddID", "Address", Model.AddID), "", new { @class = "form-control select2 dropDown required required2", @placeholder = "Select Address Code" })
                                        @Html.ValidationMessageFor(m => m.AddID)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">City</label>
                                    <div class="col-md-8">
                                        @Html.TextBox("City", "", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Address</label>
                                    <div class="col-md-8">
                                        @Html.TextBox("Address", "", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Active</label>
                                    <div class="col-md-8 chkactive">
                                        @Html.CheckBox("ActiveFlag", @Active)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="button" class="btn btn-sm defualt controls btnCancel"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                            <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>