﻿@model FleetDataService.Models.webx_pincode_master
@using FleetDataService.Models;
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    var Text = "Submit"; var type = "Add";
    if (Model.pincode != null && Model.pincode > 0)
    {
        Text = "Update";
        type = "Edit";
    }

    bool Active = true;
    if (Model.ActiveFlag != null && Model.ActiveFlag.ToUpper() == "N")
    {
        Active = false;
    }

    List<webx_citymaster> cityList = MS.GetCityMasterObject();
    List<webx_pincode_master> pincode = MS.GetPincodeList();
    List<webx_pincode_master> Area = MS.GetAreaList();


}

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@type Pincode Location Mapping
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("AddEditPincode", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-2">City</label>
                            <div class="col-md-9">
                                @Html.DropDownListFor(m => m.cityname, new SelectList(cityList, "city_code", "Location", Model.cityname), "", new { @class = "required required2 form-control select2", @placeholder = "Select City" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-4">Pin Code</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.pincode, new SelectList(pincode, "pincode", "pincode"), "", new { @class = "required required2 form-control select2", @placeholder = "Select Pincode" })                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">Area Name</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.Area, new SelectList(Area, "Area", "Area"), "", new { @class = "required required2 form-control select2", @placeholder = "Select Area" })
                                @Html.ValidationMessageFor(m => m.Area)
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="form-group">
                            <label class="control-label col-md-4">Active</label>
                            <div class="col-md-4 chkactive">
                                @Html.CheckBox("activeflag", @Active)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <button type="button" class="btn btn-sm defualt controls btnCancel" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                    <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
                </div>
            </div>
        }
    </div>
</div>
