﻿@model FleetDataService.Models.VW_FLEET_JS_APPROVAL_AMT_MATRIX
@using FleetDataService.Models;
@{
    var Text = "Submit"; var type = "Add";
    if (Model.Approved_Id != null && Model.Approved_Id > 0)
    {
        Text = "Update";
        type = "Edit";
    }
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<WebX_Master_Users> ListUser = MS.GetUserDetails().Where(c => c.Status == "100").ToList().OrderBy(c => c.UserId).ToList();
}

<div class="row">
    <div class="col-md-10">
        <div class="portlet @ViewBag.TableBoxColor box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>&nbsp;@type Jobsheet Approved Amount Matrix
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("AddEditJSApprovedMatrix", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
                {
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            You have some form errors. Please check below.
                        </div>

                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Your form validation is successful!
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Approver User Id</label>
                                    <div class="col-md-7">
                                        @Html.HiddenFor(c=>c.ID)
                                        @Html.HiddenFor(c => c.Job_ID)
                                        @Html.HiddenFor(c => c.Approved_Id)
                                        @Html.TextBoxFor(m => m.Approver_UserId, new { @class = "select2 required form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">CC UserId</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CC_UserId, new { @class = "select2 required form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Jobsheet Type</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.JS_TYPE, new { placeholder = "Jobsheet Type", @class = "required required2 form-control text-uppercase", @readonly = "true" })
                                        @Html.ValidationMessageFor(m => m.JS_TYPE)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Approved Amount</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.LOC_APPROVE_AMT, new { placeholder = "Approved Amount", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Location Hierarchy</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.HRCHYDESC, new { placeholder = "Location Hierarchy", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="button" class="btn btn-sm defualt controls btnCancel" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                            <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>