﻿@model Fleet.ViewModels.WEBX_FLEET_GENERALTASKMSTViewModel
@using FleetDataService.Models
@using Fleet.Classes


<table id="sample_ven" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Task Description</th>
            <th>Task Type</th>
            <th>Estimated Labour Hrs.</th>
            <th>Active</th>
            <th>X</th>
        </tr>
    </thead>
    <tbody id="containerTblTask">
        @foreach (var item in Model.listWFGTM)
        {
            Html.RenderPartial("_PartialGeneralTask", item);
        }
    </tbody>
</table>
<div class="form-group">
    <div class="col-md-12">
        <div class="col-md-3 pull-right">
            <button type="button" id="btnAddTaskDetail" class="btn green pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
        </div>
    </div>
</div>
<div class="form-actions fluid">
    <div class="col-md-offset-3 col-md-8">
        <button type="submit" id="BtnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                $("select").select2({
                    placeholder: "Select an option",
                    allowClear: true
                });
            }
        }
    }();
</script>

