﻿@model FleetDataService.Models.WEBX_FLEET_TYREMFG
@using FleetDataService.Models;
@{
    var Text = "Submit"; var type = "Add";
    if (Model.MFG_ID != null && Model.MFG_ID != "")
    {
        Text = "Update";
        type = "Edit";
    }

    string Active = "";

    if (Model.MFG_ACTIVEFLAG != null && Model.MFG_ACTIVEFLAG == "N")
    {
        Active = "";
        Model.MFG_ACTIVEFLAG = "N";
    }
    else
    {
        Active = "checked";
        Model.MFG_ACTIVEFLAG = "Y";
    }

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> TyreMFGList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "TYPOS").OrderBy(c => c.CodeDesc).ToList();
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet blue box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>&nbsp;@type Tyre Manufacture
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("AddEditTyreMFG", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
                {
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            You have some form errors. Please check below.
                        </div>

                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Your form validation is successful!
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Manufacturer ID</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.MFG_ID, new { @class = "form-control ", @placeholder = "Tyre MFG Code", @readOnly = true })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Manufacturer Name</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.MFG_NAME, new { @placeholder = "Manufacturer Name", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Manufacturer Address</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.MFG_ADDR, new { @placeholder = "Manufacturer Address", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Manufacturer Tel No.</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.MFG_TELNO, new { @class = "form-control ",@digits=true, @placeholder = "Manufacturer Tel No.", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))",@maxlength=12 })

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Active</label>
                                    <div class="col-md-3 chkactive">
                                        @Html.HiddenFor(m => m.MFG_ACTIVEFLAG)
                                        <input type="checkbox" class="chkactive" id="Active" @Active />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="button" class="btn btn-sm defualt controls btnCancel" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                            <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>