﻿@model FleetDataService.Models.webx_GODOWNMST
@using FleetDataService.Models;
@{
    var Text = "Submit"; var type = "Add";
    if (Model.godown_srno != null && Model.godown_srno > 0 )
    {
        Text = "Update";
        type = "Edit";
    }

    bool Active = true;
    if (Model.ActiveFlag != null && Model.ActiveFlag.ToUpper() == "N")
    {
        Active = false;
    }
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_location> locList = MS.GetLocationDetails().Where(c => c.ActiveFlag == null ? c.ActiveFlag == null : c.ActiveFlag == "Y").OrderBy(c => c.LocName).ToList();
}

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@type Warehouse
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("AddEditWarehouse", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">Location Code</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(c => c.SPDBRCD, new SelectList(locList, "LocCode", "LocName", Model.SPDBRCD), "", new { @class = "form-control select2 dropDown required required2", @placeholder = "Select Locations" })
                                @Html.ValidationMessageFor(m => m.SPDBRCD)
                                @Html.HiddenFor(c => c.godown_srno)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Warehouse Name</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.godown_name, new { @placeholder = "Warehouse Name", @class = "form-control required required2 text-uppercase" })
                                @Html.ValidationMessageFor(m => m.godown_name)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">Description</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.godown_desc, new { @placeholder = "Warehouse Description", @class = "form-control required required2 text-uppercase" })
                                @Html.ValidationMessageFor(m => m.godown_desc)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-5">Active</label>
                            <div class="col-md-7 chkactive">
                                @Html.CheckBox("ActiveFlag", @Active)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <button type="button" class="btn btn-sm defualt controls btnCancel"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                    <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
                </div>
            </div>
        }
    </div>
</div>
