﻿@model FleetDataService.Models.webx_master_CustAddresses
@using FleetDataService.Models;
@{
    var Text = "Submit"; var type = "Add";
    if (Model.srno != null && Model.srno > 0)
    {
        Text = "Update";
        type = "Edit";
    }

    bool Active = true;
    if (Model.ActiveFlag != null && Model.ActiveFlag.ToUpper() == "N")
    {
        Active = false;
    }

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_citymaster> cityList = MS.GetCityMasterObject().Where(c => c.activeflag == null ? c.activeflag == null : c.activeflag == "Y").OrderBy(c => c.Location).ToList();
    List<webx_pincode_master> pincodeList = MS.GetPincodeMasterObject().ToList();
}
@using (Html.BeginForm("AddEditAddress", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        You have some form errors. Please check below.
    </div>

    <div class="alert alert-success display-hide">
        <button class="close" data-close="alert"></button>
        Your form validation is successful!
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet blue box">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>&nbsp;@type Address
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Address Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.srno, new { @placeholder = "System Generated", @class = "form-control", @readonly = "true" })
                                        @Html.ValidationMessageFor(m => m.srno)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Manual Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.AddID, new { @placeholder = "Manual Code", @class = "form-control required required2" })
                                        @Html.ValidationMessageFor(m => m.AddID)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Address</label>
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(c => c.Address, new { @placeholder = "Address", @class = "form-control required required2" })
                                        @Html.ValidationMessageFor(m => m.Address)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">City</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(c => c.City, new SelectList(cityList, "city_code", "Location", Model.City), "", new { @class = "form-control select2 dropDown required required2", @placeholder = "Select City" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Pincode</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(c => c.Pincode, new SelectList(pincodeList, "pincode", "pincode", Model.Pincode), "", new { @class = "form-control select2 dropDown", @placeholder = "Select Pincode" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Phone No.</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.PhoneNo, new { @placeholder = "PhoneNo", @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @maxlength = 10, @minlength = 10 })
                                        @Html.ValidationMessageFor(m => m.PhoneNo)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Email</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Email, new { @class = "form-control required required2 email", @placeholder = "Email" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Active</label>
                                    <div class="col-md-7 chkactive">
                                        @Html.CheckBox("ActiveFlag", @Active)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="button" class="btn btn-sm defualt controls btnCancel"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                            <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}