﻿@model FleetDataService.Models.webx_GRPMST
@using FleetDataService.Models;
@{
    var Text = "Save"; var type = "Add";
    if (Model.GRPCD != null && Model.GRPCD != "0")
    {
        Text = "Update";
        type = "Edit";
    }

    bool Active = true;
    if (Model.ActiveFlag != null && Model.ActiveFlag.ToUpper() == "N")
    {
        Active = false;
    }

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
}

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@type Customer Group
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("AddEditCustomerGroup", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
        <div class="form-body">
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                You have some form errors. Please check below.
            </div>

            <div class="alert alert-success display-hide">
                <button class="close" data-close="alert"></button>
                Your form validation is successful!
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-5">Group Code</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(c => c.GRPCD, new { @placeholder = "System Generated", @class = "form-control", @readonly = "true" })
                            @Html.ValidationMessageFor(m => m.GRPCD)
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-5">Group Name</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(c => c.GRPNM, new { @class = "form-control required", @placeholder = "Group Name" })
                            @Html.ValidationMessageFor(m => m.GRPNM)
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-5">Password</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.GRP_Pwd, new { @class = "form-control required", @placeholder = "Password", @type = "Password" })
                            @Html.ValidationMessageFor(m => m.GRP_Pwd)
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-5">Active</label>
                        <div class="col-md-7 chkactive">
                            @Html.CheckBox("ActiveFlag", @Active)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions fluid">
            <div class="col-md-offset-4 col-md-8">
                <button type="button" class="btn btn-sm defualt controls btnCancel" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
            </div>
        </div>
        }
    </div>
</div>
