﻿@model FleetDataService.Models.webx_Delivery_Zone
@using FleetDataService.Models;
@{
    var Text = "Submit"; var type = "Add";
    if (Model.ZoneID != null && Model.ZoneID > 0)
    {
        Text = "Update";
        type = "Edit";
    }
    bool Active = false;
    if (Model.ActiveFlag != null && Model.ActiveFlag.ToUpper() == "Y" || Model.ZoneID == 0)
    {
        Active = true;
    }

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_State> stateList = MS.GetStateMasterObject().Where(c => c.activeflag == null ? c.activeflag == null : c.activeflag == "Y").OrderBy(c => c.stnm).ToList();
    List<webx_location> locList = MS.GetLocationDetails().Where(c=>c.ActiveFlag=="Y").ToList();
    List<webx_pincode_master> pincodeList = MS.GetPincodeMasterObject().Where(c => c.ActiveFlag == "Y").ToList();
}

<div class="portlet blue box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>&nbsp;@type Delivery Zone
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("AddEditDeliveryZone", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Zone ID</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.ZoneID, new { @placeholder = "System Generated", @class = "form-control", @readonly = "true" })
                                @Html.ValidationMessageFor(m => m.ZoneID)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Location</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(c => c.Location, new SelectList(locList, "LocCode", "LocName", Model.Location), "", new { @class = "form-control required required2 select2", @placeholder = "Select Location" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Pincode</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(c => c.Pincodes, new SelectList(pincodeList, "pincode", "pincode", Model.Pincodes), "", new { @class = "form-control select2", @placeholder = "Select Pincode" })
                                @Html.ValidationMessageFor(m => m.Pincodes)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Zone Name</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.ZoneName, new { placeholder = "Zone Name", @class = "form-control required required2" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Zone description</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.ZoneDescription, new { placeholder = "Zone description", @class = "form-control required required2" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Active</label>
                            <div class="col-md-8 chkactive">
                                @Html.CheckBox("ActiveFlag", @Active)
                                @Html.HiddenFor(c=>c.ActiveFlag)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <button type="button" class="btn btn-sm defualt controls btnCancel" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                    <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
                </div>
            </div>
        }
    </div>
</div>
