﻿@model FleetDataService.Models.WEBX_FLEET_TYRESIZEMST
@using FleetDataService.Models;
@{
    var Text = "Submit"; var type = "Add";
    if (Model.TYRE_SIZEID != null && Model.TYRE_SIZEID != "0")
    {
        Text = "Update";
        type = "Edit";
    }

    bool Active = true;
    if (Model.SIZE_ACTIVEFLAG != null && Model.SIZE_ACTIVEFLAG.ToUpper() == "N")
    {
        Active = false;
    }

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> TyreTypeList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "TYTYP").OrderBy(c => c.CodeDesc).ToList();
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet @ViewBag.TableBoxColor box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>@type Tyre Size
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("AddEditTyreSize", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            You have some form errors. Please check below.
                        </div>

                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Your form validation is successful!
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Size Id</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.TYRE_SIZEID, new { @class = "form-control", @placeholder = "System Generated", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Tyre Type Category</label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.TYRE_TYPEID, new SelectList(TyreTypeList, "CodeId", "CodeDesc", Model.TYRE_TYPEID), "", new { @class = "form-control select2 dropDown required required2", @placeholder = "Select Tyre Type" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Active</label>
                                    <div class="col-md-7 chkactive">
                                        @Html.CheckBox("SIZE_ACTIVEFLAG", @Active)
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Size Name</label>
                                    <div class="col-md-8">
                                       @Html.TextBoxFor(c => c.TYRE_SIZENAME, new { @class = "form-control required required2", @placeholder = "Size Name", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(c => c.SizeNameFirst, new { @class = "form-control required required2 sizeName", @placeholder = "First", @number = true })
                                    </div>
                                    <div class="control-label col-md-1" style="text-align: center;width: 4%;">X</div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(c => c.SizeNameSecond, new { @class = "form-control required required2 sizeName", @placeholder = "Second", @number = true })
                                    </div>
                                    <div class="control-label col-md-1" style="text-align: center;width: 4%;">-</div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(c => c.SizeNameThird, new { @class = "form-control required2 sizeName", @placeholder = "Third" })
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="button" class="btn btn-sm defualt controls btnCancel" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                            <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>