﻿@model FleetDataService.Models.WEBX_FLEET_TYREPATTERN
@using FleetDataService.Models;
@{
    var Text = "Submit"; var type = "Add";
    if (Model.TYRE_PATTERNID != null && Model.TYRE_PATTERNID > 0)
    {
        Text = "Update";
        type = "Edit";
    }

    bool Active = true;
    if (Model.ACTIVE_FLAG != null && Model.ACTIVE_FLAG.ToUpper() == "N")
    {
        Active = false;
    }

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> TyrePatternList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "TYPOS").OrderBy(c => c.CodeDesc).ToList();
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet blue box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>&nbsp;@type Tyre Pattern
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("AddEditTyrePattern", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
                {
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            You have some form errors. Please check below.
                        </div>

                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Your form validation is successful!
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.TYREPAT_CODE, new { @class = "form-control required required2", @placeholder = "Tyre Pattern Code" })
                                        @Html.HiddenFor(c => c.TYRE_PATTERNID)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Description</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.TYRE_PATTERN_DESC, new { @placeholder = "Tyre Pattern Description", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Position Allowed</label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.POS_ALLOWED, new SelectList(TyrePatternList, "CodeId", "CodeDesc", Model.POS_ALLOWED), "", new { @class = "form-control select2 dropDown required required2", @placeholder = "Select Tyre Position" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Active</label>
                                    <div class="col-md-7 chkactive">
                                        @Html.CheckBox("ACTIVE_FLAG", @Active)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="button" class="btn btn-sm defualt controls btnCancel" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                            <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>