﻿@model FleetDataService.Models.webx_citymaster
@using FleetDataService.Models;
@{
    var Text = "Submit"; var type = "Add";
    if (Model.city_code != null && Model.city_code > 0)
    {
        Text = "Update";
        type = "Edit";
    }

    bool ODAFlag = false, Permit = false, Active = true;
    if (Model.oda_yn != null && Model.oda_yn.ToUpper() == "Y")
    {
        ODAFlag = true;
    }
    if (Model.permit_yn != null && Model.permit_yn.ToUpper() == "Y")
    {
        Permit = true;
    }
    if (Model.activeflag != null && Model.activeflag.ToUpper() == "N")
    {
        Active = false;
    }

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_State> stateList = MS.GetStateMasterObject().Where(c => c.activeflag == null ? c.activeflag == null : c.activeflag == "Y").OrderBy(c => c.stnm).ToList();
    List<Webx_Master_General> zoneList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "ZONE").OrderBy(c => c.CodeDesc).ToList();
    List<webx_location> locList = MS.GetLocationDetails().Where(c => c.ActiveFlag == null ? c.ActiveFlag == null : c.ActiveFlag == "Y").OrderBy(c => c.LocCode).ToList();
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet @ViewBag.TableBoxColor box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>@type City
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("AddEditCity", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
                {
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            You have some form errors. Please check below.
                        </div>

                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Your form validation is successful!
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">City Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.city_code, new { @placeholder = "System Generated", @class = "form-control", @readonly = "true" })
                                        @Html.ValidationMessageFor(m => m.city_code)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">State</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(c => c.state, new SelectList(stateList, "stcd", "stnm", Model.state), "", new { @class = "form-control select2 dropDown required required2", @placeholder = "Select State" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">City Name</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Location, new { placeholder = "City Name", @class = "required required2 form-control text-uppercase" })
                                        @Html.ValidationMessageFor(m => m.Location)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Zone/Region</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(c => c.Region, new SelectList(zoneList, "CodeId", "CodeDesc", Model.Region), "", new { @class = "form-control select2 dropDown required required2", @placeholder = "Select Zone/Region" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label col-md-8">ODA Flag</label>
                                    <div class="col-md-1 chkactive">
                                        @Html.CheckBox("oda_yn", @ODAFlag)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label col-md-5">ODA km.</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.ODAkm, new { placeholder = "ODA km.", @class = "form-control", @disabled = true, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label col-md-8">Permit</label>
                                    <div class="col-md-1 chkactive">
                                        @Html.CheckBox("permit_yn", @Permit)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Active</label>
                                    <div class="col-md-7 chkactive">
                                        @Html.CheckBox("activeflag", @Active)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Destination</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Destination, new SelectList(locList, "LocCode", "LocName", Model.Destination), "", new { @class = "form-control select2 dropDown required required2", @placeholder = "Select Destination" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">PinCode</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => Model.Pincode, new { @class = "required required2 form-control", @placeholder = "PinCode", @maxlength = 6, @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Delivery Address</label>
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => Model.DelieryAddress, new { @class = "required required2 form-control", @placeholder = "Delivery Address" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="button" class="btn btn-sm defualt controls btnCancel" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                            <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>