﻿@model FleetDataService.Models.WebX_Master_Receiver
@using FleetDataService.Models;
@{
    var Text = "Submit"; var type = "Add";
    if (Model.ReceiverCode != null && Model.ReceiverCode != "0")
    {
        Text = "Update";
        type = "Edit";
    }

    bool Active = true;
    if (Model.ActiveFlag != null && Model.ActiveFlag.ToUpper() == "N")
    {
        Active = false;
    }
}
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("AddEditReceiver", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="portlet blue box">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>&nbsp;@type Receiver
                    </div>
                </div>
                <div class="portlet-body">

                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            You have some form errors. Please check below.
                        </div>

                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Your form validation is successful!
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Receiver Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.ReceiverCode, new { @placeholder = "System Generated", @class = "form-control", @readonly = "true" })
                                        @Html.ValidationMessageFor(m => m.ReceiverCode)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Receiver Name</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.ReceiverName, new { @placeholder = "Receiver Name", @class = "form-control required required2 text-uppercase" })
                                        @Html.ValidationMessageFor(m => m.ReceiverName)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Location Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.LocCode, new { @placeholder = "Location Code", @class = "form-control required required2 text-uppercase" })
                                        @Html.ValidationMessageFor(m => m.LocCode)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Active</label>
                                    <div class="col-md-7 chkactive">
                                        @Html.CheckBox("ActiveFlag", @Active)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="button" class="btn btn-sm defualt controls btnCancel"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                            <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
</div>