﻿@model FleetDataService.Models.PDC_attached_vendor_master
@using FleetDataService.Models;
@using Fleet.ViewModels;
@{
    var Text = "Submit"; var type = "Add";
    if (Model.Id != null && Model.Id > 0)
    {
        Text = "Update";
        type = "Edit";
    }

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    FleetDataService.OperationService OS = new FleetDataService.OperationService();

    List<webx_rutmas> ListRoute = new List<webx_rutmas>();
    var BRCD = ViewBag.BaseLocationCode;

    if (Model.Id > 0)
    {
        ListRoute = MS.GetRoutemodewiseDetails(Model.Transmode);
    }
    else
    {
        ListRoute = new List<webx_rutmas>();
    }

    List<webx_location> ListBRCD = MS.GetLocationDetails();
    List<webx_Vehicle_Type> ListVehicleSize = MS.GetVehicleTypeList();
    List<Webx_Master_General> Lismode = MS.GetGeneralMasterObject().Where(C => C.CodeType == "RTMD" && C.StatusCode == "Y").ToList();
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet blue box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>&nbsp;@type Contractual Vendor
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("AddEditPDCattachedvendor", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
                {
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            You have some form errors. Please check below.
                        </div>

                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Your form validation is successful!
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Vendor Name</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.VendorCode, new { @placeholder = "Vendor Name", @class = "form-control required required2" })
                                        @Html.HiddenFor(c => c.VendorName)
                                        @Html.HiddenFor(c => c.Id)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Tras Mode</label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.Transmode, new SelectList(Lismode, "CodeId", "CodeDesc"), "", new { @placeholder = "Tras Mode", @class = "form-control required required2 select2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Vehicle Size</label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.VehicleSize, new SelectList(ListVehicleSize, "Type_Code", "Type_Name"), "", new { @placeholder = "Vehicle Size", @class = "form-control required required2 select2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Route</label>
                                    <div class="col-md-7">
                                        @Model.Route
                                        @Html.DropDownListFor(c => c.Route, new SelectList(ListRoute, "RUTNM", "RUTNM", Model.Route), "", new { @placeholder = "Select Route", @class = "form-control required required2 select2" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Rate</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(model => model.ConRate, new { @class = "form-control required required2", @placeholder = "Enter Rate" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Active</label>
                                    <div class="col-md-7 chkactive">
                                        @Html.CheckBoxFor(m => m.IsActive, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="button" class="btn btn-sm defualt controls btnCancel" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                            <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>