﻿@model FleetDataService.Models.webx_pincode_master
@using FleetDataService.Models;
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    var Text = "Submit"; var type = "Add";
    List<webx_citymaster> cityList = new List<webx_citymaster>();
    if (Model.pincode != null && Model.pincode > 0)
    {
        Text = "Update";
        type = "Edit";
        cityList = MS.GetCityMasterObject().Where(c => c.state == Model.StateCode).ToList();        
    }

    bool Active = true;
    if (Model.ActiveFlag != null && Model.ActiveFlag.ToUpper() == "N")
    {
        Active = false;
    }
    
     @*PinCode Base ODA Changes*@
    bool Is_ODA_Apply = false;
    if (Model.Is_ODA_Apply != null && Model.Is_ODA_Apply.ToUpper() == "N")
    {
        Is_ODA_Apply = false;
    }
    else if (Model.Is_ODA_Apply == "Y")
    {
        Is_ODA_Apply = true;
    }
    
    List<webx_location> LocationList = MS.GetLocationDetails().Where(c => c.ActiveFlag == "Y").ToList();

    List<Webx_State> stateList = MS.GetStateMasterObject().Where(c => c.activeflag == null ? c.activeflag == null : c.activeflag == "Y").OrderBy(c => c.stnm).ToList();
}

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@type Pincode
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("AddEditPincode", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-4">Pin Code</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.pincode, new { placeholder = "Pin Code", @maxlength = "6", @minlength = "6", @class = "required required2 form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                @Html.ValidationMessageFor(m => m.pincode)
                                @Html.HiddenFor(c => c.ID)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">Area Name</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Area, new { placeholder = "Area Name", @class = "required required2 form-control text-uppercase", @onKeyPress = "return ValidateAlpha(event);" })
                                @Html.ValidationMessageFor(m => m.Area)
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-3">State</label>
                            <div class="col-md-9">
                                @Html.DropDownListFor(m => m.StateCode, new SelectList(stateList, "stcd", "stnm", Model.StateCode), "", new { @class = "required required2 form-control select2", @placeholder = "Select State" })
                                @Html.ValidationMessageFor(m => m.StateCode)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-2">City</label>
                            <div class="col-md-9">
                                @Html.DropDownListFor(m => m.cityname, new SelectList(cityList, "city_code", "Location", Model.cityname), "", new { @class = "required required2 form-control select2", @placeholder = "Select City" })
                                @Html.ValidationMessageFor(m => m.cityname)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label class="control-label col-md-4">Active</label>
                            <div class="col-md-4 chkactive">
                                @Html.CheckBox("activeflag", @Active)
                            </div>
                        </div>
                    </div>


                    @*PinCode Base ODA Changes*@
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-4">KM From Location</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.KM_From_Location, new { placeholder = "KM From Location", @class = "required required2 form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                @Html.ValidationMessageFor(m => m.KM_From_Location)
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">Nearest Location</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.Handling_Location, new SelectList(LocationList, "LocCode", "LocName_LocCode", Model.Handling_Location), "", new { @class = "required required2 form-control select2", @placeholder = "Select Location" })
                                @Html.ValidationMessageFor(m => m.Handling_Location)
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-3">Is ODA Apply</label>
                            <div class="col-md-9">
                                @Html.CheckBox("Is_ODA_Apply", @Is_ODA_Apply)
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <button type="button" class="btn btn-sm defualt controls btnCancel" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                    <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
                </div>
            </div>
        }
    </div>
</div>
