﻿@model FleetDataService.Models.WEBX_FLEET_TYREMODELMST
@using FleetDataService.Models;
@{
    var Text = "Submit"; var type = "Add";
    if (Model.TYRE_MODEL_ID != null && Model.TYRE_MODEL_ID > 0)
    {
        Text = "Update";
        type = "Edit";
    }

    bool Active = true;
    if (Model.ACTIVE_FLAG != null && Model.ACTIVE_FLAG.ToUpper() == "N")
    {
        Active = false;
    }

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<WEBX_FLEET_TYREMFG> TyreManufacturerList = MS.GetTYREMFGList().Where(c => c.MFG_ACTIVEFLAG.ToUpper() == "Y").OrderBy(c => c.MFG_NAME).ToList();
    List<WEBX_FLEET_TYREPATTERN> TyrePatternList = MS.GetTyrePatternList().Where(c => c.ACTIVE_FLAG.ToUpper() == "Y").OrderBy(c => c.TYRE_PATTERN_DESC).ToList();
    List<WEBX_FLEET_TYRESIZEMST> TyreSizeList = MS.GetTyreSizeList().Where(c => c.SIZE_ACTIVEFLAG.ToUpper() == "Y").OrderBy(c => c.TYRE_SIZENAME).ToList();
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet blue box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>&nbsp;@type Tyre Model
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("AddEditTyreModel", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
                {
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            You have some form errors. Please check below.
                        </div>

                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Your form validation is successful!
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Model No</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.MODEL_NO, new { @class = "form-control required required2", @placeholder = "Tyre Model No" })
                                        @Html.HiddenFor(c => c.TYRE_MODEL_ID)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Model Description</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.MODEL_DESC, new { @placeholder = "Tyre Model Description", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Average Tread Depth</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.TREAD_DEPTH, new { @placeholder = "Average Tread Depth", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Active</label>
                                    <div class="col-md-7 chkactive">
                                        @Html.CheckBox("ACTIVE_FLAG", @Active)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Manufacturer</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(c => c.MFG_ID, new SelectList(TyreManufacturerList, "MFG_ID", "MFG_NAME", Model.MFG_ID), "", new { @class = "form-control select2 dropDown required required2", @placeholder = "Select Tyre Manufacturer" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Tyre Pattern</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(c => c.TYRE_PATTERNID, new SelectList(TyrePatternList, "TYRE_PATTERNID", "TYRE_PATTERN_DESC", Model.TYRE_PATTERNID), "", new { @class = "form-control select2 dropDown required required2", @placeholder = "Select Tyre Pattern" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Tyre Size</label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.TYRE_SIZEID, new SelectList(TyreSizeList, "TYRE_SIZEID", "TYRE_SIZENAME", Model.TYRE_SIZEID), "", new { @class = "form-control select2 dropDown required required2", @placeholder = "Select Tyre Size" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="button" class="btn btn-sm defualt controls btnCancel" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                            <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>