﻿@model Fleet.ViewModels.Webx_StateViewModel
@using FleetDataService.Models;
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    var Text = "Submit";
    if (Model.WST.srno != null && Model.WST.srno != 0)
    {
        Text = "Update";
    }
    if (Model.WST.srno == 0 || Model.WST.activeflag == "Y")
    {
        Model.WST.activeflag2 = true;
    }
    if (Model.WST.stax_exmpt_yn == "Y")
    {
        Model.WST.stax_exmpt_yn2 = true;
    }
    List<SelectListItem> Category = new List<SelectListItem>();
    Category.Add(new SelectListItem { Text = "A", Value = "A" });
    Category.Add(new SelectListItem { Text = "B", Value = "B" });
    List<Webx_Master_General> ListRateType = MS.GetGeneralMasterObject().Where(c => c.CodeType == "RATETYPE").ToList();
}

<div class="portlet box @ViewBag.TableBoxColor">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>State Master
        </div>
    </div>
    <div class="portlet-body form">
        <div class="form-body">
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                You have some form errors. Please check below.
            </div>
            <div class="alert alert-success display-hide">
                <button class="close" data-close="alert"></button>
                Your form validation is successful!
            </div>

            @using (Html.BeginForm("AddEditStateMaster", "Master", FormMethod.Get, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
            {
                <div class="">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-5">State Id </label>
                            <div class="col-md-7">
                                <label class="control-label" style="color:red">System Generated</label>
                                @Html.HiddenFor(m => m.WST.srno)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-5">Freight Rate</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WST.frt_rate, new { placeholder = "Freight Rate", @class = "required required2 form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                @Html.ValidationMessageFor(model => model.WST.frt_rate)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-5">GST Registration No.</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WST.GSTRegNo, new { placeholder = "GST Registration No.", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.WST.GSTRegNo)
                                @Html.HiddenFor(c => c.WST.gstStateCode)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-5">State Prefix</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WST.statePrefix, new { placeholder = "State Prefix", @class = "form-control required required2", @maxlength = "4" })
                                @Html.ValidationMessageFor(model => model.WST.statePrefix)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-5">Account No</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WST.AccountNo, new { placeholder = "Account No", @class = "required required2 form-control" })
                                @Html.ValidationMessageFor(model => model.WST.AccountNo)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-5">IFSC Code</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WST.IFSCCode, new { placeholder = "IFSC Code", @class = "required required2 form-control" })
                                @Html.ValidationMessageFor(model => model.WST.IFSCCode)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-5">Bank Name</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WST.BankName, new { placeholder = "Bank Name", @class = "required required2 form-control" })
                                @Html.ValidationMessageFor(model => model.WST.BankName)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-5">State Name</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.WST.stnm, new { placeholder = "State Name", @class = "required required2 form-control", onKeyPress = "return ValidateAlpha(event);" })
                                @Html.ValidationMessageFor(model => model.WST.stnm)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-5">Freight Rate Type</label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(m => m.WST.rate_type, new SelectList(ListRateType, "CodeId", "CodeDesc", Model.WST.rate_type), "", new { @class = "select2 required required2 form-control" })
                                @Html.ValidationMessageFor(model => model.WST.rate_type)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-5">Is Union Territory?</label>
                            <div class="col-md-1 chkactive">
                                @Html.CheckBoxFor(m => m.WST.IsUnionTerritory)
                            </div>
                            <label class="control-label col-md-4">Active</label>
                            <div class="col-md-2 chkactive">
                                @Html.CheckBoxFor(m => m.WST.activeflag2)
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="control-label col-md-5">Service Tax Exempted?</label>
                            <div class="col-md-2 chkactive">
                                @Html.CheckBoxFor(m => m.WST.stax_exmpt_yn2)
                            </div>
                        </div>*@
                    </div>
                </div>
                @*<div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label col-md-2">Category</label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(m => m.WST.Category, new SelectList(Category, "Value", "Text"), "", new { @class = "select2 required form-control" })
                            </div>
                        </div>
                    </div>*@
                <br />
                <div class="portlet box @ViewBag.TableBoxColor" id="divSubItem">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-edit"></i>Document List
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label class="control-label col-md-3">Enter No of Rows</label>
                                    <div class="col-md-3">
                                        @Html.TextBox("NoofRows", "0", new { placeholder = "No. of Rows", @class = "form-control", @onKeyPress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                                    </div>
                                    <button type="button" id="btnAddrows" class="btn btn-sm blue controls ClsbtnSave"><i class="fa fa-plus"></i>&nbsp;Add Rows</button>
                                </div>
                            </div>
                            <br />
                            <table id="tblSubItem" class="table table-striped table-bordered table-hover">
                                <thead class="flip-content">
                                    <tr style="text-align: center;">
                                        <th style="text-align: center;">Document Name</th>
                                        <th style="text-align: center;">InBound/OutBound</th>
                                        <th style="text-align: center;">Remove</th>
                                    </tr>
                                </thead>
                                <tbody id="containerTblSubItem">
                                    @foreach (var item in Model.listWSD)
                                    {
                                        Html.RenderPartial("_State_Documentlist", item);
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-actions fluid">
                    <div class="col-md-offset-3 col-md-4">
                        <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave pull-right" style="margin-left: 1%;">
                            <i class="fa fa-check"></i>&nbsp;@Text
                        </button>
                        <button type="button" id="btnCancel" class="btn btn-sm defualt controls pull-right"><i class="fa fa-times"></i>&nbsp;Reset</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>