﻿@model FleetDataService.Models.Webx_master_CityLocationMapping
@using FleetDataService.Models;
@{
    var Text = "Submit"; var type = "Add";
    if (Model.Code != null && Model.Code > 0)
    {
        Text = "Update";
        type = "Edit";
    }

    bool Active = true;
    if (Model.ActiveFlag != null && Model.ActiveFlag.ToUpper() == "N")
    {
        Active = false;
    }

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_citymaster> cityList = MS.GetCityMasterObject().Where(c => c.activeflag == null ? c.activeflag == null : c.activeflag == "Y").OrderBy(c => c.Location).ToList();
    List<webx_location> locList = MS.GetLocationDetails().Where(c => c.ActiveFlag == null ? c.ActiveFlag == null : c.ActiveFlag == "Y").OrderBy(c => c.LocName).ToList();
}

<div class="portlet blue box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>&nbsp;@type City Location Mapping
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("AddEditCityLocationMapping", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">Code</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(c => c.Code, new { @placeholder = "System Generated", @class = "form-control", @readonly = "true" })
                                @Html.ValidationMessageFor(m => m.Code)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">City</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(c => c.city_code, new SelectList(cityList, "city_code", "Location", Model.city_code), "", new { @class = "form-control select2 dropDown required required2", @placeholder = "Select City" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">Location</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(c => c.Locations, new SelectList(locList, "LocCode", "LocName", Model.Locations), "", new { @class = "form-control select2 dropDown required required2", @placeholder = "Select Locations", @multiple = "multiple" })
                                @Html.Hidden("HdnLocations", Model.Locations)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">Active</label>
                            <div class="col-md-7 chkactive">
                                @Html.CheckBox("ActiveFlag", @Active)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <button type="button" class="btn btn-sm defualt controls btnCancel"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                    <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
                </div>
            </div>
        }
    </div>
</div>
