﻿@model FleetDataService.Models.WEBX_FLEET_TYREPOS
@using FleetDataService.Models;
@{
    var Text = "Submit"; var type = "Add";
    if (Model.TYREPOS_ID != null && Model.TYREPOS_ID != 0)
    {
        Text = "Update";
        type = "Edit";
    }

    string Active = "";

    if (Model.ACTIVE_FLAG != null && Model.ACTIVE_FLAG == "N")
    {
        Active = "";
        Model.ACTIVE_FLAG = "N";
    }
    else
    {
        Active = "checked";
        Model.ACTIVE_FLAG = "Y";
    }

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> MSTGenList = MS.GetGeneralMasterObject();
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet blue box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>&nbsp;@type Tyre POS
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("AddEditTyrePOS", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
                {
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            You have some form errors. Please check below.
                        </div>

                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Your form validation is successful!
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Vehicle Category</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.TRUCK_TRAILER, new SelectList(MSTGenList.Where(m => m.CodeType == "VHCAT").ToList(), "CodeId", "CodeDesc"), "", new { @class = "form-control select2 required required2", @placeholder = "Vehicle Category" })
                                        @Html.HiddenFor(m=>m.TYREPOS_ID)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Position Category</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.POS_ALLOWED, new SelectList(MSTGenList.Where(m => m.CodeType == "TYPOS").ToList(), "CodeId", "CodeDesc"), "", new { @class = "form-control select2 required required2", @placeholder = "Allowed Position" })
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Position Short Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.TYREPOS_CODE, new { @placeholder = "Position Short Code", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Tyre Position Description</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.TYREPOS_DESC, new { @class = "form-control ", @placeholder = "Tyre Position Description" })

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Active</label>
                                    <div class="col-md-3 chkactive">
                                        @Html.HiddenFor(m => m.ACTIVE_FLAG)
                                        <input type="checkbox" class="chkactive" id="Active" @Active />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="button" class="btn btn-sm defualt controls btnCancel" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                            <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>