﻿@model FleetDataService.Models.WEBX_FLEET_WORKGROUPMST
@using FleetDataService.Models;
@{
    var Text = "Submit"; var type = "Add";
    if (Model.W_GRPCD != null && Model.W_GRPCD != 0)
    {
        Text = "Update";
        type = "Edit";
    }

    bool Active = true;
    if (Model.ACTIVE_FLAG != null && Model.ACTIVE_FLAG.ToUpper() == "N")
    {
        Active = false;
    }
       FleetDataService.MasterService MS = new FleetDataService.MasterService();
       List<Webx_Master_General> listAsset = MS.GetGeneralMasterObject().Where(c => c.CodeType == "VEHASSTYP" && c.CodeId =="01").ToList();
}
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("AddEditWorkGroup", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
        {
            <div class="portlet blue box">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>&nbsp;@type Work Group
                    </div>
                </div>
                <div class="portlet-body">

                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            You have some form errors. Please check below.
                        </div>

                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Your form validation is successful!
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Sr No.</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.W_GRPCD, new { @placeholder = "System Generated", @class = "form-control", @readonly = "true" })
                                        @Html.ValidationMessageFor(m => m.W_GRPCD)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Group Description</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.W_GRPDESC, new { @placeholder = "Work Group Description", @class = "form-control required required2 text-uppercase" })
                                        @Html.ValidationMessageFor(m => m.W_GRPDESC)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Asset Type</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(c => c.Asset_Type, new SelectList(listAsset, "CodeId", "CodeDesc"), "", new { @class = "required required2 select2 form-control", placeholder = "Select Asset Type" })
                                        @Html.ValidationMessageFor(m => m.Asset_Type)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Active</label>
                                    <div class="col-md-7 chkactive">
                                        @Html.CheckBox("ACTIVE_FLAG", @Active)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="button" class="btn btn-sm defualt controls btnCancel"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                            <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
</div>