﻿@model FleetDataService.Models.webx_CUSTHDR
@using FleetDataService.Models;
@{
    var Text = "Save"; var type = "Add";
    if (Model.CUSTCD != null && Model.CUSTCD != "0")
    {
        Text = "Update";
        type = "Edit";
    }
    string CUSTLOC = null;
    CUSTLOC = Model.CUSTLOC;
    bool Active = true, MobileService = true, IsSpecialBill_YN = false, Consignee = false, Consignnor = false, ScheduleApply = false;
    if (Model.CUST_ACTIVE != null && Model.CUST_ACTIVE.ToUpper() == "N")
    {
        Active = false;
    }
    if (Model.MOBSERV_ENABLED != null && Model.MOBSERV_ENABLED.ToUpper() == "N")
    {
        MobileService = false;
    }
    if (Model.IsSpecialBill_YN != null && Model.IsSpecialBill_YN.ToUpper() == "Y")
    {
        IsSpecialBill_YN = true;
    }

    if (Model.Consignee != null && Model.Consignee.ToUpper() == "Y")
    {
        Consignee = true;
    }
    if (Model.Consignnor != null && Model.Consignnor.ToUpper() == "Y")
    {
        Consignnor = true;
    }
    if (Model.ScheduleApply != null && Model.ScheduleApply.ToUpper() == "Y")
    {
        ScheduleApply = true;
    }

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_GRPMST> GroupList = MS.GetCustomerGroupMasterObject().Where(c => c.ActiveFlag == null ? c.ActiveFlag == null : c.ActiveFlag == "Y").ToList();

    foreach (var item in GroupList)
    {
        item.GRPNM = item.GRPCD + "~" + item.GRPNM;
    }
    //List<Webx_Master_General> ListIndustry = MS.GetGeneralMasterObject().Where(c => c.CodeType == "IND").OrderBy(c => c.CodeDesc).ToList();
    List<Webx_State> Liststate = MS.GetStateMasterObject().Where(c => c.activeflag == "Y").ToList();
    //List<Webx_Master_General> ListOwnership = MS.GetGeneralMasterObject().Where(c => c.CodeType == "CONRSHP").OrderBy(c => c.CodeDesc).ToList();
    List<Webx_Master_General> ListMasterGeneral = MS.GetGeneralMasterObject();
    List<webx_location> ListLocations = MS.GetLocationDetails().Where(c => c.ActiveFlag == null ? c.ActiveFlag == null : c.ActiveFlag == "Y").OrderBy(c => c.LocName).ToList();
}
<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@type Customer
        </div>
        <div class="caption pull-right">
            <a href="#" class="btn btn-xs default blue-stripe pull-right" id="addEdit" data-toggle="modal">
                <i class="fa fa-plus"></i>  Add Customer
            </a>
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("AddEditCustomer", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>

                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <h3 class="form-section">Customer Master</h3>
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Customer Code</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CUSTCD, new { placeholder = "System Generated", @class = "form-control text-uppercase", @readonly = "true" })
                                        @Html.HiddenFor(m => m.CUSTCD)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">Customer Name</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CUSTNM, new { placeholder = "Customer Name", @class = "required2 required form-control text-uppercase" })
                                        @Html.ValidationMessageFor(m => m.CUSTNM)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">Industry</label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.Industry, new SelectList(ListMasterGeneral.Where(c => c.CodeType == "IND" && c.StatusCode == "Y").OrderBy(c => c.CodeDesc).ToList(), "CodeId", "CodeDesc", Model.Industry), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Industry" })
                                        @Html.ValidationMessageFor(m => m.Industry)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">Mobile Number</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.MOBILENO, new { placeholder = "Mobile Number", @maxlength = "10", @minlength = "10", @class = "form-control mobileIN text-uppercase", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                                        @Html.ValidationMessageFor(m => m.MOBILENO)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">Type of ownership </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.Ownership, new SelectList(ListMasterGeneral.Where(c => c.CodeType == "CONRSHP" && c.StatusCode == "Y").OrderBy(c => c.CodeDesc).ToList(), "CodeId", "CodeDesc", Model.Ownership), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Ownership" })
                                        @Html.ValidationMessageFor(m => m.Ownership)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">Website</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.Website, new { placeholder = "Website", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Website)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">Customer Hierarchy</label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(model => model.customer_hierarchy, new List<SelectListItem>() { new SelectListItem { Text = "Primary", Value = "1" }, new SelectListItem { Text = "Secondary", Value = "2" } }, "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Customer Hierarchy" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">Auto Bill Cycle Allowed?</label>
                                    <div class="col-md-2 chkactive">
                                        @Html.HiddenFor(c => c.AutoBillAllowed)

                                        @if (Model.AutoBillAllowed == true)
                                        {
                                            <input type="checkbox" class="AutoBillAllowedY AutoBillAllowedChange" value="true" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" class="AutoBillAllowedN AutoBillAllowedChange" value="false" />
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Customer Password</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CUSTPASS, new { placeholder = "System Generated", @class = "form-control text-uppercase", @readonly = "true" })
                                        @Html.ValidationMessageFor(m => m.CUSTPASS)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">CST Number</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CSTNO, new { placeholder = "CST Number", @class = "form-control text-uppercase" })
                                        @Html.ValidationMessageFor(m => m.CSTNO)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">LST Number</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.STNUM, new { placeholder = "LST Number", @class = "form-control text-uppercase", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))", @maxlength = 18 })
                                        @Html.ValidationMessageFor(m => m.STNUM)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">Telephone Number</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.telno, new { placeholder = "Telephone Number", @class = "form-control text-uppercase", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))", @maxlength = 10 })
                                        @Html.ValidationMessageFor(m => m.telno)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">Customer State</label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.Cust_State, new SelectList(Liststate, "stcd", "stnm", Model.Cust_State), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Customer State" })
                                        @Html.ValidationMessageFor(m => m.Cust_State)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">Active</label>
                                    <div class="col-md-2 chkactive">
                                        @Html.Hidden("CUST_ACTIVE", @Active)

                                        @if (@Active == true)
                                        {
                                            <input type="checkbox" class="CUST_ACTIVEY CUST_ACTIVEChange" value="true" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" class="CUST_ACTIVEN CUST_ACTIVEChange" value="false" />
                                        }
                                    </div>
                                    <label class="control-label col-md-4">Mobile Service</label>
                                    <div class="col-md-1 chkactive">
                                        @Html.CheckBox("MOBSERV_ENABLED", @MobileService)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-5">Primary Customer</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.Primary_Customer, new { placeholder = "Primary Customer", @class = "required2 form-control required" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-5">Billing at Destination?</label>
                                    <div class="col-md-2 chkactive">
                                        @Html.HiddenFor(c => c.BillingAtDestination)

                                        @if (Model.BillingAtDestination == true)
                                        {
                                            <input type="checkbox" class="BillingAtDestinationY BillingAtDestinationChange" value="true" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" class="BillingAtDestinationN BillingAtDestinationChange" value="false" />
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Group Code</label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.GRPCD, new SelectList(GroupList, "GRPCD", "GRPNM", Model.GRPCD), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Group" })
                                        @Html.ValidationMessageFor(m => m.GRPCD)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">Service Tax Number</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.ServiceTaxNumber, new { placeholder = "Service Tax Number", @class = "required2 required form-control text-uppercase" })
                                        @Html.ValidationMessageFor(m => m.ServiceTaxNumber)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">PAN Number</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.pan_no, new { placeholder = "PAN Number", @class = "form-control text-uppercase" })
                                        @Html.ValidationMessageFor(m => m.pan_no)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">FAX</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.FaxNo, new { placeholder = "FAX", @class = "form-control text-uppercase", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                                        @Html.ValidationMessageFor(m => m.FaxNo)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">E-mail</label>
                                    <div class="col-md-7">
                                        @Html.TextAreaFor(m => m.EMAILIDS, new { placeholder = "Email Id", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.EMAILIDS)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">Consignee</label>
                                    <div class="col-md-2 chkactive">
                                        @Html.CheckBox("Consignee", @Consignee)
                                    </div>
                                    <label class="control-label col-md-4">Consignnor</label>
                                    <div class="col-md-1 chkactive">
                                        @Html.CheckBox("Consignnor", @Consignnor)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">Customer Abbreviation</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.CUST_ABRV, new { placeholder = "Customer Abbreviation", @class = "form-control text-uppercase" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">Remark</label>
                                    <div class="col-md-7">
                                        @Html.TextAreaFor(m => m.Remark, new { placeholder = "Remark", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group" id="Sheduale">
                                    <label class="control-label col-md-5">Delivery Appointment Date</label>
                                    <div class="col-md-7 chkactive">
                                        @Html.CheckBox("ScheduleApply", @ScheduleApply)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clsAutoBilling">
                            <h3 class="form-section">Auto Bill Cycle Setting</h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Bill Cycle Type</label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(c => c.CycleType, new SelectList(ListMasterGeneral.Where(c => c.CodeType == "CYCLETYPE" && c.StatusCode == "Y").OrderBy(c => c.CodeId).ToList(), "CodeId", "CodeDesc", Model.CycleType), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Bill Cycle Type" })
                                            @Html.ValidationMessageFor(m => m.CycleType)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Bill Generation Type</label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(c => c.BillGenType, new SelectList(ListMasterGeneral.Where(c => c.CodeType == "BILLGENTYPE" && c.StatusCode == "Y").OrderBy(c => c.CodeId).ToList(), "CodeId", "CodeDesc", Model.BillGenType), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Bill Generation Type" })
                                            @Html.ValidationMessageFor(m => m.BillGenType)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">Mode Wise</label>
                                        <div class="col-md-7 chkactive">
                                            @Html.HiddenFor(c => c.ModeWise)
                                            @if (Model.ModeWise == true)
                                            {
                                                <input type="checkbox" class="ModeWiseY ModeWiseChange" value="true" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="ModeWiseN ModeWiseChange" value="false" />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="CustomerBillCycleSetting">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">Customer Locations</label>
                            <div class="col-md-7">
                                @*@Html.TextBoxFor(m => m.CUSTLOC, new { @class = "form-control required2 required", placeholder = "select Location" })*@
                                @Html.TextBoxFor(m => m.CUSTLOC, new { placeholder = "Select Locations", @class = "required2 form-control required" })
                                @*@Html.DropDownList("CUSTLOC2", new SelectList(ListLocations, "LocCode", "LocName", Model.CUSTLOC), "", new { @class = "required2 dropdown2 required form-control select2", @multiple = true })
                                    @Html.HiddenFor(m => m.CUSTLOC)
                                    @Html.ValidationMessageFor(m => m.CUSTLOC)*@
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="form-section">Billing Information</h3>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">Customer Address</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.CustAddress, new { placeholder = "Customer Address", @class = "required2 required form-control" })
                                @Html.ValidationMessageFor(m => m.CustAddress)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">Customer City</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.city, new { placeholder = "Customer City", @class = "required2 required form-control" })
                                @Html.ValidationMessageFor(m => m.city)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">Customer Pincode</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.pincode, new { placeholder = "Customer Pincode", @class = "required2 required form-control", @maxlength = "6", @minlength = "6", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                @Html.ValidationMessageFor(m => m.pincode)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-10">Billing Address Same As Customer Address</label>
                            <div class="col-md-2 chkactive">
                                @Html.CheckBox("CustAddBillAdd")
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">Billing Address</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.Address_Bill, new { placeholder = "Billing Address", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Address_Bill)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">Billing City</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.City_Bill, new { placeholder = "Billing City", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.City_Bill)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">Billing Pincode</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.Pincode_Bill, new { placeholder = "Billing Pincode", @class = "form-control", @maxlength = "6", @minlength = "6", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                @Html.ValidationMessageFor(m => m.Pincode_Bill)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clsAutoBilling">
                    <h3 class="form-section">Auto Bill Cycle Setting</h3>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-5">Bill Cycle Type</label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(c => c.CycleType, new SelectList(ListMasterGeneral.Where(c => c.CodeType == "CYCLETYPE" && c.StatusCode == "Y").OrderBy(c => c.CodeId).ToList(), "CodeId", "CodeDesc", Model.CycleType), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Bill Cycle Type" })
                                    @Html.ValidationMessageFor(m => m.CycleType)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-5">Bill Generation Type</label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(c => c.BillGenType, new SelectList(ListMasterGeneral.Where(c => c.CodeType == "BILLGENTYPE" && c.StatusCode == "Y").OrderBy(c => c.CodeId).ToList(), "CodeId", "CodeDesc", Model.BillGenType), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Bill Generation Type" })
                                    @Html.ValidationMessageFor(m => m.BillGenType)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-5">Mode Wise</label>
                                <div class="col-md-7 chkactive">
                                    @Html.HiddenFor(c => c.ModeWise)
                                    @if (Model.ModeWise == true)
                                    {
                                        <input type="checkbox" class="ModeWiseY ModeWiseChange" value="true" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="ModeWiseN ModeWiseChange" value="false" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="CustomerBillCycleSetting">
                    </div>

                </div>

                <h3 class="form-section">Bank Information</h3>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">Bank Name</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.BankName, new { placeholder = "Bank Name", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.BankName)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">Branch</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.BranchName, new { placeholder = "Branch Name", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.BranchName)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">Bank Account No</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.BankAccountNo, new { placeholder = "Bank Account No", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.BankAccountNo)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">Turnover (Rs in Cr)</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.Turnover, new { placeholder = "Turnover", @class = "form-control", @type = "number" })
                                @Html.ValidationMessageFor(m => m.Turnover)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">TIN No</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.TIN_No, new { placeholder = "TIN No", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.TIN_No)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-5">TDS Applicable</label>
                            <div class="col-md-7 chkactive">
                                @Html.CheckBoxFor(m => m.IsTDSApplicable)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">Pay Basis Allowed</label>
                            <div class="col-md-7 chkactive checkbox-list" data-error-container="#form_PayBasis_error">
                                @Html.CheckBoxFor(m => m.Paid, new { @class = "PayBasis" })Paid
                                @Html.CheckBoxFor(m => m.TBB, new { @class = "PayBasis" })TBB
                                @Html.CheckBoxFor(m => m.ToPay, new { @class = "PayBasis" })ToPay
                                @Html.CheckBoxFor(m => m.FOC, new { @class = "PayBasis" })FOC
                                <span id="form_PayBasis_error" class="help-block" style="color: #b94a48"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-5">Is Allow For Cheque Collection ?</label>
                            <div class="col-md-2 chkactive">
                                @Html.CheckBoxFor(m => m.IsAllowForChequeCollection)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">Service Opted For</label>
                            <div class="col-md-7 checkbox-list chkactive">
                                @Html.CheckBoxFor(m => m.Transportation, new { @class = "ServiceFor" })Transportation
                                @Html.CheckBoxFor(m => m.Fleet, new { @class = "ServiceFor" })Fleet
                                @Html.CheckBoxFor(m => m.Warehouse, new { @class = "ServiceFor" })Warehouse
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-5">Is Door Delivery Charge Included</label>
                            <div class="col-md-7">
                                @Html.CheckBoxFor(m => m.IsDoorDelChargeIncluded)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">Is Door Collection Charge Included</label>
                            <div class="col-md-7">
                                @Html.CheckBoxFor(m => m.IsDoorColChargeIncluded)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-5">Is Cartage  Charge Included</label>
                            <div class="col-md-7">
                                @Html.CheckBoxFor(m => m.IsCartageChargeIncluded)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">Special Bill Needed</label>
                            <div class="col-md-7 chkactive">
                                @Html.CheckBox("IsSpecialBill_YN", @IsSpecialBill_YN)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="tds">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-5">TAN No.</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.TANNo, new { placeholder = "TAN No.", @class = "form-control " })
                                    @Html.ValidationMessageFor(m => m.TANNo)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-5">TDS Percentage(%)</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.TDSPercentage, new { placeholder = "TDS Percentage(%)", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="form-section">Decision Maker</h3>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">Name</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.Decision_Name, new { placeholder = "Name", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Decision_Name)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">Designation</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.Decision_Designation, new { placeholder = "Designation", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Decision_Designation)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">Mobile</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.Decision_Mobile, new { placeholder = "Mobile", @maxlength = "10", @minlength = "10", @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                @Html.ValidationMessageFor(m => m.Decision_Mobile)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">Email</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.Decision_Email, new { placeholder = "Email", @class = "email  form-control" })
                                @Html.ValidationMessageFor(m => m.Decision_Email)
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="form-section">State wise GST Details</h3>
                <div class="row">
                    <div class="col-md-8">
                        <table id="tblGSTDetails" class="table table-striped table-bordered table-hover">
                            <thead class="flip-content">
                                <tr style="text-align: center;">
                                    <th style="text-align: center;">State</th>
                                    <th style="text-align: center;">GST Registration No.</th>
                                    <th style="text-align: center;">Consignee Address</th>
                                </tr>
                            </thead>
                            <tbody id="containerTblSubItem">
                                @foreach (var item in Model.listCCGSTD)
                                {
                                    Html.RenderPartial("_CustomerGSTDetails", item);
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <button type="button" class="btn btn-sm defualt controls btnCancel" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>&nbsp;Back to List</button>
                    <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            $.validator.addMethod('checkDuplicateGSTNo', function (value, element) {
                console.log(value)
                var flg = true;
                if (value == "") {
                    return true;
                }
                $(".clsGST").not(element).each(function () {
                    if ($(this).val() == value) {
                        flg = false;
                        return false;
                    }
                });

                return flg;
            }, "This GSTNo is already exist !!!");

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                    'PayBasis': {
                        required: true,
                        minlength: 1
                    },
                    'ServiceFor': {
                        required: true,
                        minlength: 1
                    }
                },
                messages: {
                    'PayBasis': {
                        required: "Please select at least one pay basis option",
                        minlength: jQuery.format("Please Select at Least One Pay Basis Option")
                    },
                    'ServiceFor': {
                        required: "Please select at least one service for option",
                        minlength: jQuery.format("Please Select at Least One Service For Option")
                    }
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.parents('.checkbox-list').size() > 0) {
                        error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var PayBasisCheckListCheck = function () {

            var PayBasis = 1;
            var PayBasis1 = 0;

            //$(".PayBasis").each(function () {
            //    var checked = jQuery(this).is(":checked");
            //    if (checked) {
            //        PayBasis1 = parseFloat(PayBasis1) + 1;
            //    }
            //    else {
            //    }
            //});

            //if (parseInt(PayBasis) > parseInt(PayBasis1)) {
            //    var errorDiv = "Please Select at Least One Pay Basis Option";
            //    document.getElementById("form_PayBasis_error").innerHTML = errorDiv;
            //    return false;
            //}
            //else {
            //    document.getElementById("form_PayBasis_error").innerHTML = "";
            //}
        }

        var ServiceForCheckListCheck = function () {

            var ServiceFor = 1;
            var ServiceFor1 = 0;

            //$(".ServiceFor").each(function () {
            //    var checked = jQuery(this).is(":checked");
            //    if (checked) {
            //        ServiceFor1 = parseFloat(ServiceFor1) + 1;
            //    }
            //    else {
            //    }
            //});

            //if (parseInt(ServiceFor) > parseInt(ServiceFor1)) {
            //    var errorDiv = "Please Select at Least One Service For Option";
            //    document.getElementById("form_ServiceFor_error").innerHTML = errorDiv;
            //    return false;
            //}
            //else {
            //    document.getElementById("form_PayBasis_error").innerHTML = "";
            //}
        }

        var Consignee_Change_Event = function (DomainName) {

            var checked = jQuery("#Consignee").is(":checked");
            var checkedCnor = jQuery("#Consignnor").is(":checked");
            var SDD_checked = jQuery("#ScheduleApply").is(":checked");

            if (checked || checkedCnor) {
                $("#Sheduale").show();
                $("#ScheduleApply").attr("value", SDD_checked)
                //$("#ScheduleApply").parent('span').removeClass('checked');
            }
            else {
                $("#Sheduale").hide();
                $("#ScheduleApply").attr("value", "false")
                $("#ScheduleApply").parent('span').removeClass('checked');
            }

            $('#ScheduleApply').live('click', function () {

                var checked = jQuery(this).is(":checked");

                if (checked) {
                    $("#ScheduleApply").attr("value", true);
                }
                else {
                    $("#ScheduleApply").attr("value", false);
                }

            });
        }

        var Select2Id = function (ID) {

            $("#" + ID).select2({
                placeholder: "Select an Option",
            });

        }

        var toggleEvent = function (clsName) {
            $('.' + clsName + 'Y').bootstrapSwitch('state', true);
            $('.' + clsName + 'Y').bootstrapSwitch('size', 'mini');
            $('.' + clsName + 'N').bootstrapSwitch('state', false);
            $('.' + clsName + 'N').bootstrapSwitch('size', 'mini');

            $('.' + clsName + 'Change').on('switchChange.bootstrapSwitch', function (event, state) {
                $("#" + clsName + "").val(state);
                if (clsName == "AutoBillAllowed") {
                    if (state) {
                        $(".clsAutoBilling").show(500);
                        $('.clsAutoBilling').find('select').addClass("required");
                    }
                    else {
                        $(".clsAutoBilling").hide(500);
                        $('.clsAutoBilling').find('select').removeClass("required");
                    }
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                $("#Sheduale").hide();

                $('#Consignee').live('click', function () {
                    Consignee_Change_Event(DomainName);
                });
                $('#Consignnor').live('click', function () {
                    Consignee_Change_Event(DomainName);
                });
                Consignee_Change_Event(DomainName);

                Formvalidate(DomainName);

                $("#addEdit").click(function () {
                    App.blockUI({ boxed: true });
                    window.location.href = DomainName + "/Master/CustomerMasters?CustomerCode=0";
                });

                $(".btnCancel").live('click', function (e) {
                    window.location.href = DomainName + "/Master/Customer";
                });

                /*-------- Primary - Secondary Customer Setting ----------*/
                if ($("#customer_hierarchy").val() == "2") {
                    $("#Primary_Customer").attr("readonly", false);
                } else {
                    $("#Primary_Customer").attr("readonly", true);
                }

                $("#customer_hierarchy").change(function () {
                    if ($(this).val() == "2") {
                        $("#Primary_Customer").attr("readonly", false);
                    } else {
                        $("#Primary_Customer").attr("readonly", true);
                    }
                });

                GetPrimaryCustomer("Primary_Customer");
                $("#Primary_Customer").attr("readonly", false);

                /*-------- Primary - Secondary Customer Setting ----------*/

                $("#btnSave").live('click', function (e) {
                    App.blockUI({ boxed: true });
                    if (e.handled !== true) // This will prevent event triggering more then once
                    {
                        e.handled = true;
                        PayBasisCheckListCheck();
                        ServiceForCheckListCheck();
                        Formvalidate(DomainName);
                        //if (!$('#form_sample').valid()) {
                        //    App.unblockUI();
                        //    return;
                        //}
                        document.forms["form_sample"].submit();
                    }
                });

                $('#CustAddBillAdd').live('click', function () {
                    if ($(this).attr('checked')) {
                        $("#Address_Bill").val($("#CustAddress").val());
                        $("#City_Bill").val($("#city").val());
                        $("#Pincode_Bill").val($("#pincode").val());
                        $("#Address_Bill").attr("readonly", true);
                        $("#City_Bill").attr("readonly", true);
                        $("#Pincode_Bill").attr("readonly", true);
                    }
                    else {
                        $("#Address_Bill").val("");
                        $("#City_Bill").val("");
                        $("#Pincode_Bill").val("");
                        $("#Address_Bill").attr("readonly", false);
                        $("#City_Bill").attr("readonly", false);
                        $("#Pincode_Bill").attr("readonly", false);
                    }
                });

                $('#CustAddress').live('change', function () {
                    if ($('#CustAddBillAdd').attr('checked')) {
                        $("#Address_Bill").val($("#CustAddress").val());
                    }
                });

                $('#city').live('change', function () {
                    if ($('#CustAddBillAdd').attr('checked')) {
                        $("#City_Bill").val($("#city").val());
                    }
                });

                $('#pincode').live('change', function () {
                    if ($('#CustAddBillAdd').attr('checked')) {
                        $("#Pincode_Bill").val($("#pincode").val());
                    }
                });

                /*New*/


                $(".dropdown2").select2({
                    placeholder: "Select an option",
                    allowClear: true
                });
                Consignee_Change_Event(DomainName);
                $("#pan_no").inputmask("AAAAA9999A", { clearMaskOnLostFocus: true });
                $("#ServiceTaxNumber").inputmask("AAAAA9999AAA999", { clearMaskOnLostFocus: true });
                //GetType('CUSTLOC', "CUSTLOCC", DomainName + "/Master/GetCustomerLocationListJson");
                StrURL = DomainName + "/Master/GetLocationListJson";
                //JsonDDLSelectCode("CUSTLOC", StrURL);
                GetType("CUSTLOC", "CUSTLOC", DomainName + "/Master/GetCustomerLocationListJson")
                //MultiSelectDDLCON("CUSTLOC", StrURL, true);
                //SetRout();
                if ($("#IsTDSApplicable").is(":checked")) {
                    $(".tds").show();
                    $(".tds input").addClass("required2 required");
                    //$("#TDSPercentage").attr("min", "0.01");
                }
                else {
                    $(".tds").hide();
                    $(".tds input").removeClass("required2 required");
                    //$("#TDSPercentage").removeAttr("min", "0.01");
                }

                $("#IsTDSApplicable").on('change', function () {
                    var checked = jQuery(this).is(":checked");
                    if (checked) {
                        $(".tds").show();
                        $(".tds input").addClass("required2 required");
                        //$("#TDSPercentage").attr("min", "0.01");
                    }
                    else {
                        $(".tds").hide();
                        $(".tds input").removeClass("required2 required");
                        //$("#TDSPercentage").removeAttr("min", "0.01");
                    }
                });
                $("#TANNo").inputmask("AAAA99999A", { clearMaskOnLostFocus: true });

                Formvalidate(DomainName);
                $(".clsGST").each(function () {
                    $(this).rules("add", {
                        checkDuplicateGSTNo: true,
                    });
                });

                $(".clsGST").change(function () {
                    $(this).rules("add", {
                        checkDuplicateGSTNo: true,
                    });

                    var strid = $(this).attr("id");
                    var statecodeId = strid.replace("gst_registration_no", "statecode")
                    var statenameId = strid.replace("gst_registration_no", "statename")
                    var GSTNOStatecode = $(this).val().substring(0, 2);
                    var Statecode = $("#" + statecodeId).val();
                    if (GSTNOStatecode != Statecode) {
                        alert("This GST not Not Valid For State " + $("#" + statenameId).val());
                        $(this).val("");
                        return false;
                    }

                    $.ajax({
                        url: '@Url.Action("CheckGSTNOValid", "Master")',
                        type: "POST",
                        context: document.body,
                        data: { GSTNO: $(this).val() },
                        success: function (data) {


                            if (data) {

                            }
                            else {
                                alert("This GSTNO Already Exist in System");
                                $("#" + strid).val("");

                            }

                        },
                        error: function (err) {
                            alert("This GSTNO Already Exist in System");
                            App.unblockUI();
                        }
                    });
                });


                toggleEvent("BillingAtDestination");
                toggleEvent("CUST_ACTIVE");
                toggleEvent("AutoBillAllowed");
                toggleEvent("ModeWise");

                if ($("#AutoBillAllowed").val() == true || $("#AutoBillAllowed").val() == "True") {
                    $(".clsAutoBilling").show();
                    setTimeout(function () {
                        $("#CycleType").trigger("change");
                    }, 500);
                    $('.clsAutoBilling').find('select').addClass("required");
                }
                else {
                    $(".clsAutoBilling").hide();
                    $('.clsAutoBilling').find('select').removeClass("required");
                }

                $("#CycleType").on("change", function () {
                    if ($(this).val() != "") {
                        var URL = DomainName + '/Master/GetDetailsFromCycleType?id=' + $(this).val() + '&CustomerCode=' + ($("#CUSTCD").val() == "" ? "0" : $("#CUSTCD").val());
                        App.blockUI({ boxed: true });
                        $.ajax({
                            url: URL,
                            cache: false,
                            data: {},
                            type: 'POST',
                            success: function (data) {
                                $("#CustomerBillCycleSetting").html(data);
                                $('select').select2({
                                    placeholder: "Select an option",
                                    allowClear: true
                                });
                                App.unblockUI();
                            },
                            error: function (req, status, error) {
                                App.unblockUI();
                            }
                        });
                    }
                    else {
                        $("#CustomerBillCycleSetting").html("");
                    }
                });

                //$('.BillatDestY').bootstrapSwitch('state', true);
                //$('.BillatDestY').bootstrapSwitch('size', 'mini');
                //$('.BillatDestN').bootstrapSwitch('state', false);
                //$('.BillatDestN').bootstrapSwitch('size', 'mini');


                //$('.BillatDestChange').on('switchChange.bootstrapSwitch', function (event, state) {
                //    $("#BillingAtDestination").val(state);
                //});

                //$('.CUST_ACTIVEY').bootstrapSwitch('state', true);
                //$('.CUST_ACTIVEY').bootstrapSwitch('size', 'mini');
                //$('.CUST_ACTIVEN').bootstrapSwitch('state', false);
                //$('.CUST_ACTIVEN').bootstrapSwitch('size', 'mini');


                //$('.CUST_ACTIVEChange').on('switchChange.bootstrapSwitch', function (event, state) {
                //    $("#CUST_ACTIVE").val(state);
                //});

                //$('.ModeWiseY').bootstrapSwitch('state', true);
                //$('.ModeWiseY').bootstrapSwitch('size', 'mini');
                //$('.ModeWiseN').bootstrapSwitch('state', false);
                //$('.ModeWiseN').bootstrapSwitch('size', 'mini');


                //$('.ModeWiseChange').on('switchChange.bootstrapSwitch', function (event, state) {
                //    $("#ModeWise").val(state);
                //});
            }
        }
    }();
</script>