﻿@model IEnumerable<FleetDataService.Models.webx_Master_Airport>
@using FleetDataService.Models
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_citymaster> cityList = MS.GetCityMasterObject().Where(c => c.activeflag == null ? c.activeflag == null : c.activeflag == "Y").OrderBy(c => c.Location).ToList();
    List<Webx_Master_General> countryList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "CNTRY" && c.StatusCode == "Y").ToList();
}

<table class="table table-striped table-bordered table-hover" id="AirportMasterList" style="overflow-x: scroll">
    <thead>
        <tr>
            <th class="center">
                Airport Code
            </th>
            <th class="center">
                Airport Name
            </th>
            <th class="center">
                City
            </th>
            <th class="center">
                Alternate City
            </th>
            <th class="center">
                Country Code
            </th>
            <th class="center">
                Active
            </th>
            <th class="center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ToList().OrderBy(c => c.SrNo))
        {
            string TrId = "TR" + item.SrNo;
            var objCity = cityList.FirstOrDefault(c => c.city_code.ToString() == item.City);
            var objAltCity = cityList.FirstOrDefault(c => c.city_code.ToString() == item.AlternateCity);
            var objCountry = countryList.FirstOrDefault(c => c.CodeId.ToString() == item.CountryCode);
            <tr id="@TrId">
                <td class="center">
                    @item.AirportCode
                </td>
                <td class="center">
                    @item.AirportName
                </td>
                <td class="center">
                    @if (objCity != null)
                    {
                        @objCity.Location;
                    }
                </td>
                <td class="center">
                    @if (objAltCity != null)
                    {
                        @objAltCity.Location;
                    }
                </td>
                <td class="center">
                    @if (objAltCity != null)
                    {
                        @objCountry.CodeDesc;
                    }
                </td>
                <td class="center">
                    @if (item.ActiveFlag == null ? item.ActiveFlag == "N" : item.ActiveFlag.ToUpper() == "Y")
                    {
                        <span class="badge badge-success">Yes</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">No</span>
                    }
                </td>
                <td class="center">
                    <button type="button" class="btn default btn-xs blue-stripe btnMasterEdit" title="Edit" id="btnEdit_@item.SrNo.ToString()" data-id="@item.SrNo">
                        <i class="fa fa-pencil"></i>&nbsp;Edit
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
