﻿@model IEnumerable<FleetDataService.Models.WEBX_chq_det>
@using FleetDataService.Models
@using Fleet.Classes
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>List of Cheque
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    <div class="row">
                        <table class="table table-striped table-bordered table-hover table-full-width" id="Sample1">

                            <thead class="flip-content">
                                <tr>
                                    <th class="center">
                                        Cheque No
                                    </th>
                                    <th class="center">
                                        Cheque Date
                                    </th>
                                    <th class="center">
                                        Voucher No
                                    </th>
                                    <th class="center">
                                        Party
                                    </th>
                                    <th class="center">
                                        Amount
                                    </th>
                                    <th class="center">
                                        Bank Name
                                    </th>
                                    <th class="center">
                                        Print
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="MRTable">
                                @foreach (var item in Model)
                                {
                                    Html.RenderPartial("_ChqPrintDetail", item);
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

