﻿@model FleetDataService.Models.WEBX_chq_det
@using FleetDataService.Models;
@using Fleet.Helpers;
<tr>
    @using (Html.BeginCollectionItem("Bank", Model.Srno.ToString()))
    {
       
        <td class="center">
            @Html.HiddenFor(m => m.chqno)
            @Model.chqno
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.chqdt)
            @Model.chqdt
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.voucherNo)
            @Model.voucherNo
        </td>  
        <td class="center">
            @Html.HiddenFor(m => m.ChqPrintName)
            @Model.ChqPrintName
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.Amount)
            @Model.Amount
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.Ledger)
            @Model.Ledger
        </td>
        <td class="center">
            <a target="_blank" href="@Url.Action("ChequeViewPrint", "ViewPrint", new { Chq_VRNO = @Model.chqno, CHQDT = @Model.chqdt })" id="ReportFrame"><b>View || Print</b></a>
        </td>
    }
</tr>
