﻿@model FleetDataService.Models.Webx_Vendor_Contract_CityBased
@using FleetDataService.Models
@using Fleet.Helpers

@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<SelectListItem> Modelist = new List<SelectListItem>(){
                    new SelectListItem{ Text="Air", Value = "A" },
                    new SelectListItem{ Text="Train", Value = "R" },
                    new SelectListItem{ Text="Road", Value = "S" },
    };
    //List<SelectListItem> Ratetypelist = new List<SelectListItem>(){
    //                new SelectListItem{ Text="Per Kg", Value = "1" },
    //};
    List<webx_citymaster> cityList = MS.GetCityMasterObject().ToList();
    List<Webx_Master_General> Generallist = MS.GetGeneralMasterObject();
}


<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.ID, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("CityBasedContract", Model.ID.ToString()))
    {
        string ROWID = "RW_" + Model.ID;

        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.FROM_CITY, new SelectList(cityList, "city_code", "Location"), "", new { @class = "select2 required required2 form-control", @placeholder = "Select From City" })
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.TO_CITY, new SelectList(cityList, "city_code", "Location"), "", new { @class = "select2 required required2 form-control", @placeholder = "Select To City" })
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="input-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.TransMode, new SelectList(Modelist, "Value", "Text"), "", new { @class = "select2 form-control CTransMode", @placeholder = "Select Mode" })
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="input-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.FTL_Type, new SelectList(Generallist.Where(c => c.CodeType == "FTLTYP" && c.StatusCode == "Y").ToList().OrderBy(c => c.CodeId), "CodeId", "CodeDesc"), "", new { @class = "select2 form-control", @placeholder = "Select Movment", @disabled = "true" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Min_Charge, new { placeholder = "Minimum Charge", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control", @max = Model.Max_Charge })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Max_Charge, new { placeholder = "Max Charge", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control", @min = Model.Min_Charge })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.Rate_Type, new SelectList(Generallist.Where(c => c.CodeType == "VENDCONTRATETYPE" && c.StatusCode == "Y" && c.CodeId == "1"), "CodeId", "CodeDesc"), "", new { @class = "select2 form-control", @placeholder = "Select Rate Type" })
                </div>
            </div>
        </td>

        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Chg_Rate, new { placeholder = "Rate", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control" })
                </div>
            </div>
        </td>


        <td class="center">
            @if (Model.ID > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
            }
        </td>
    }
</tr>