﻿@model IEnumerable<FleetDataService.Models.Webx_master_CityLocationMapping>
@using FleetDataService.Models
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_citymaster> cityList = MS.GetCityMasterObject().ToList();
    List<webx_location> locList = MS.GetLocationDetails().ToList();
    }
    <table class="table table-striped table-bordered table-hover" id="CityLocationMappingList" style="overflow-x: scroll">
        <thead>
            <tr>
                <th class="center">
                    City
                </th>
                <th class="center">
                    Location
                </th>
                <th class="center">
                    Active
                </th>
                <th class="center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ToList().OrderBy(c => c.Code))
            {
                string TrId = "TR" + item.Code.ToString();
                <tr id="@TrId">
                <td class="center col-md-3">
                    @item.City
                </td>
                <td class="center">
                    @item.Locations
                </td>

                <td class="center">
                    @if (item.ActiveFlag.ToUpper() == "Y")
                    {
                        <span class="badge badge-success">Yes</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">No</span>
                    }
                </td>
                <td class="center">
                    <button type="button" class="btn default btn-xs blue-stripe btnMasterEdit" title="Edit" id="btnEdit_@item.Code.ToString()" data-id="@item.Code">
                        <i class="fa fa-pencil"></i>&nbsp;Edit
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>

