﻿@model IEnumerable<FleetDataService.Models.webx_citymaster>
@using FleetDataService.Models
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> zoneList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "ZONE").ToList();
}

<table class="table table-striped table-bordered table-hover" id="CityList" style="overflow-x: scroll">
    <thead>
        <tr>
            <th class="center">
                City Code
            </th>
            <th class="center">
                City Name
            </th>
            <th class="center">
                Zone
            </th>
            <th class="center">
                ODA Flag
            </th>
            <th class="center">
                ODA (Km)
            </th>
            <th class="center">
                Permit
            </th>
            <th class="center">
                Active
            </th>
            <th class="center">Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ToList().OrderBy(c => c.Location))
        {
            string TrId = "TR" + item.city_code.ToString();
            bool ODAFlag = false, Permit = false, Active = false;
            if (item.oda_yn.ToUpper() == "Y")
            {
                ODAFlag = true;
            }
            if (item.permit_yn.ToUpper() == "Y")
            {
                Permit = true;
            }
            if (item.activeflag.ToUpper() == "Y")
            {
                Active = true;
            }
            var objZone = zoneList.FirstOrDefault(c => c.CodeId == item.Region);
            <tr id="@TrId">
                <td class="center">
                    @item.city_code
                </td>
                <td>
                    @item.Location
                </td>
                <td class="center">
                    @if (objZone != null)
                    {
                        @objZone.CodeDesc;
                    }
                </td>
                <td class="center">
                    @if (item.oda_yn.ToUpper() == "Y")
                    {
                        <span class="badge badge-success">Yes</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">No</span>
                    }
                </td>
                <td class="center">
                    @item.ODAkm
                </td>
                <td class="center">
                    @if (item.permit_yn.ToUpper() == "Y")
                    {
                        <span class="badge badge-success">Yes</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">No</span>
                    }
                </td>
                <td class="center">
                    @if (item.activeflag.ToUpper() == "Y")
                    {
                        <span class="badge badge-success">Yes</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">No</span>
                    }
                </td>
                <td class="center">
                    <button type="button" class="btn default btn-xs blue-stripe tooltips btnMasterEdit" title="Edit" id="btnEdit_@item.city_code.ToString()" data-id="@item.city_code" rel="tooltip" data-placement="top">
                        <i class="fa fa-pencil"></i>&nbsp;Edit
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
