﻿@model IEnumerable<FleetDataService.Models.webx_GRPMST>
@using FleetDataService.Models
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
}

<table class="table table-striped table-bordered table-hover" id="CustomerGroupList" style="overflow-x: scroll">
    <thead>
        <tr>
            <th class="center">
                Group Code
            </th>
            <th class="center">
                Group Name
            </th>
            <th class="center">
                Active
            </th>
            <th class="center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string TrId = "TR" + item.GRPCD.ToString();            
            <tr id="@TrId">
                <td class="center">
                    @item.GRPCD
                </td>
                <td>
                    @item.GRPNM
                </td>
                <td class="center">
                    @if (item.ActiveFlag.ToUpper() == "Y")
                    {
                        <span class="badge badge-success">Yes</span>
                    }
                    else
                    { 
                        <span class="badge badge-danger">No</span>
                    }
                </td>
                <td class="center">
                    <button type="button" class="btn default btn-xs blue-stripe tooltips btnMasterEdit" title="Edit" id="btnEdit_@item.GRPCD.ToString()" data-id="@item.GRPCD" rel="tooltip" data-placement="top">
                        <i class="fa fa-pencil"></i>&nbsp;Edit
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
