﻿@model FleetDataService.Models.Cygnus_CustomerBillCycleSetting
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    var fromDate = Convert.ToInt32(Model.BillGenDateRange.Split('-')[0]);
    var toDate = Convert.ToInt32(Model.BillGenDateRange.Split('-')[1]);
    List<Webx_Master_General> generalMasterList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "DAYS" && Convert.ToInt32(c.CodeId) >= fromDate && Convert.ToInt32(c.CodeId) <= toDate).OrderBy(c => Convert.ToInt32(c.CodeId)).ToList();
}
@using (Html.BeginCollectionItem("_CustomerBillCycleSettingDetails", Model.Id.ToString()))
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-md-5"><b>@Model.DateRange</b></label>
                <div class="col-md-7">
                    @Html.DropDownListFor(c => c.BillGenDate, new SelectList(generalMasterList, "CodeId", "CodeDesc", Model.BillGenDate), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Bill Generation Date" })
                    @Html.ValidationMessageFor(m => m.BillGenDate)
                    @Html.HiddenFor(c => c.DateRange)
                    @Html.HiddenFor(c => c.CodeId)
                    @Html.HiddenFor(c => c.CodeType)
                    @Html.HiddenFor(c => c.BillGenDateRange)
                </div>
            </div>
        </div>
    </div>
}