﻿@model FleetDataService.Models.CygnusCustomerGSTDetails
@using Fleet.Helpers;
<tr>

    @using (Html.BeginCollectionItem("ListCustomerGSTDetails", Model.statecode.ToString()))
    {
        <td>
            @Html.TextBoxFor(c => c.statename, new { @class = "required2 form-control", @placeholder = "State Name", @readonly = true })
            @Html.HiddenFor(c => c.statecode)
            @Html.HiddenFor(c => c.custcode)
            @Html.HiddenFor(c => c.statePrefix)
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.gst_registration_no, new { @class = "required2 form-control text-uppercase clsGST GSTNo", @placeholder = "GST Registration No." })
        </td>
        <td class="form-group">
            @Html.TextAreaFor(c => c.CSGEAddress, new { @class = "required2 form-control", @placeholder = "Consignee Address", @maxlength = "5000" })
        </td>
    }
</tr>