﻿@model FleetDataService.Models.webx_CUSTHDR
@using Fleet.Helpers

@using (Html.BeginCollectionItem("CustSer", Model.Code))
{
    <tr>
        <td class="chkactive center">
            @Html.CheckBoxFor(c => c.Status, new { @class = "form-control chkactive" })
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.Code)
            @Html.HiddenFor(c => c.Code)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.Name)
            @Html.HiddenFor(c => c.Name)
        </td>
    </tr>
}