﻿@model CYGNUS.Models.CYGNUS_CUST_To_CUST_Mapping
@using Fleet.ViewModel
@using Fleet.Helpers
@using FleetDataService.Models;
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    //List<webx_CUSTHDR> ListCust = MS.GetCustomerMasterObject().OrderBy(c => c.CUSTNM).ToList().Where(c => c.CUST_ACTIVE == "Y").ToList();
}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.ID, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("CPM", Model.ID.ToString()))
    {
        @Html.HiddenFor(m => m.ID)

        <td class="form-group center">
            @*@Html.DropDownListFor(c => c.SubCustCode, new SelectList(ListCust, "CUSTCD", "CUSTNM"), "", new { @class = "required required2 form-control select2  ", @placeholder = "select Branch" })*@
            @Html.TextBoxFor(c => c.SubCustCode, new { @class = "form-control required required2 CustCodeCls clsChkDuplicate", @placeholder = "Sub Customer" })
            @*@Html.HiddenFor(m => m.CUST)*@
        </td>
        <td class="center">
            <a class="deleteRow" style="cursor:pointer ;">
                <img src="~/assets/img/Delete_Icon.png" style="width: 25px;" title="Delete" />
            </a>
        </td>
    }
</tr>


