﻿@model FleetDataService.Models.vw_DCR_Register
@{
    List<SelectListItem> Categorylist = new List<SelectListItem>(){
                    new SelectListItem{ Text="Employee", Value = "E" },
                    new SelectListItem{ Text="BA", Value = "B" },
                    new SelectListItem{ Text="Location", Value = "A" },
    };
}

<div class="portlet @ViewBag.TableBoxColor box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>Split Document Series
        </div>
    </div>
    <div class="portlet-body">
        <div class="form-body">
            <table class="table table-striped table-bordered table-hover" id="CityList" style="overflow-x: scroll">
                <thead>
                    <tr>
                        <th class="center">
                            Document Type
                        </th>
                        <th class="center">
                            Book Code
                        </th>
                        <th class="center">
                            Series From
                        </th>
                        <th class="center">
                            Total Leaf
                        </th>
                        <th class="center">
                            Allote To Location
                        </th>
                        <th class="center">
                            Allot Category
                        </th>
                        <th class="center">
                            Allote To
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="center">
                            @Html.DisplayFor(c => c.DOC_TYPE)
                            @Html.HiddenFor(c => c.DOC_TYPE)
                            @Html.HiddenFor(c => c.BookCode)
                            @Html.HiddenFor(c => c.DOC_KEY)
                            @Html.HiddenFor(c => c.DOC_Number)
                            @Html.HiddenFor(c => c.Suffix)
                            @Html.HiddenFor(c => c.Business_Type)
                            @Html.HiddenFor(c => c.DOC_SR_TO)
                            @Html.HiddenFor(c => c.MaxUsed)
                            @Html.HiddenFor(c => c.UsedCount)
                            @Html.HiddenFor(c => c.NextCode)
                            @Html.HiddenFor(c => c.DOC_SR_FROM)
                            @Html.HiddenFor(c => c.LastDocNo)
                            @Html.HiddenFor(c => c.TOT_LEAF)
                            @Html.HiddenFor(c => c.NewSrTo)
                        </td>
                        <td>
                            @Html.DisplayFor(c => c.BookCode)
                        </td>
                        <td class="center">
                            <div class="form-group">
                                <div class="col-md-11">
                                    @Html.TextBoxFor(c => c.DOC_NEW_SR_FROM, new { placeholder = "Series From", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @max = Model.DOC_SR_TO })
                                </div>
                            </div>
                        </td>
                        <td class="center">
                            <div class="form-group">
                                <div class="col-md-11">
                                    @Html.TextBoxFor(c => c.DifLEAF, new { placeholder = "Total LEAF", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                </div>
                            </div>
                        </td>
                        <td class="center">
                            <div class="form-group">
                                <div class="col-md-11">
                                    @Html.TextBoxFor(c => c.AllotedBy, new { @class = "form-control required required2" })
                                </div>
                            </div>
                        </td>
                        <td class="center">
                            <div class="form-group">
                                <div class="col-md-11">
                                    @Html.DropDownListFor(c => c.Alloted_TypeID, new SelectList(Categorylist, "Value", "Text"), "", new { @class = "form-control required required2 select2" })
                                    @Html.HiddenFor(c => c.Alloted_Type_ID)
                                </div>
                            </div>
                        </td>
                        <td class="center">
                            <div class="form-group">
                                <div class="col-md-11">
                                    @Html.TextBoxFor(c => c.Alloted_To, new { @class = "form-control required required2" })
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-actions fluid">
            <div class="col-md-offset-4 col-md-8">
                <button type="button" id="btnback" class="btn btn-sm controls"><i class="fa fa-arrow-left"></i>&nbsp;Back</button>
                <button type="submit" id="btnReallote" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
            </div>
        </div>
    </div>
</div>
