﻿@model FleetDataService.Models.vw_Series_ToBe_Alloted2
@using FleetDataService.Models
@using Fleet.Helpers
           @{
               FleetDataService.MasterService MS = new FleetDataService.MasterService();

               List<vw_Series_ToBe_Alloted2> locList = MS.GetAllotToListDetails(ViewBag.BaseLocationName);
           }
@using (Html.BeginForm("DCRAllote", "Master", FormMethod.Post, new { id = "form_sample_Location_Partial", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label col-md-2">Location</label>
            <div class="col-md-8">
                @Html.TextBoxFor(c => c.Alloted_To, new { @placeholder = "Select Location", @class = "form-control required required2" })
               
                @*@Html.DropDownListFor(c => c.Alloted_To, new SelectList(locList, "LocCode", "LocName"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Location" })*@
                @Html.HiddenFor(c => c.DOC_KEY)
                @Html.HiddenFor(c => c.DOC_SR_FROM)
                @Html.HiddenFor(c => c.DOC_SR_TO)
            </div>
        </div>
    </div>
</div>
}