﻿@model IEnumerable<FleetDataService.Models.webx_DCR_Header>
@using FleetDataService.Models
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> zoneList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "ZONE").ToList();
}

@foreach (var item in Model.ToList().OrderBy(c => c.DOC_KEY))
{
    var errorClass = "danger";
    if (item.trans_status.ToUpper() == "T")
    {
        errorClass = "success";
    }

    <tr class="@errorClass">
        <td class="center">
            @item.doc_type
        </td>
        <td class="center">
            @item.series_from
        </td>
        <td class="center">
            @item.leafs
        </td>
        <td class="center">
            @item.bookcode
        </td>
        <td class="center">
            @item.allote_to
        </td>
        <td class="center">
            @item.trans_status
        </td>
        <td class="center">
            @item.trans_description
        </td>
    </tr>
}

