﻿@model IEnumerable<FleetDataService.Models.webx_Delivery_Zone>
@using FleetDataService.Models
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> zoneList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "ZONE").ToList();
}

<table class="table table-striped table-bordered table-hover" id="DeliveryZoneList" style="overflow-x: scroll">
    <thead>
        <tr>
            <th class="center">
                Zone Id
            </th>
            <th class="center">
                Zone Name
            </th>
            <th class="center">
                Zone Description
            </th>
            <th class="center">
                Location
            </th>
            <th class="center">
                Active
            </th>
            <th class="center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ToList().OrderBy(c => c.ZoneID))
        {
            string TrId = "TR" + item.ZoneID;
            <tr id="@TrId">
                <td class="center">
                    @item.ZoneID
                </td>
                <td class="center">
                    @item.ZoneName
                </td>
                <td class="center">
                   @item.ZoneDescription
                </td>
                <td class="center">
                    @item.Location
                </td>
                <td class="center">
                    @if(item.ActiveFlag.ToUpper() == "Y")
                    {
                        <span class="badge badge-success">Yes</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">No</span>
                    }
                </td>
                <td class="center">
                    <button type="button" class="btn default btn-xs blue-stripe btnMasterEdit" title="Edit" id="btnEdit_@item.ZoneID.ToString()" data-id="@item.ZoneID">
                        <i class="fa fa-pencil"></i>&nbsp;Edit
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
