﻿@model FleetDataService.Models.CYGNUS_Designation_Mapping
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> generalMasterList = MS.GetGeneralMasterObject();
}
<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.SrNo, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("MappingList", Model.SrNo.ToString()))
    {
        <td class="col-md-1 center">
            @Model.SrNo
        </td>
        <td class="col-md-4">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.Category, new SelectList(generalMasterList.Where(c => c.CodeType.ToUpper() == "HIERARCHY" && c.StatusCode.ToUpper() == "Y").ToList(), "CodeId", "CodeDesc"), "", new { @class = "required required2 select2 form-control clsCategory", placeholder = "Select Category", @readonly = "true" })
                </div>
            </div>
        </td>
        <td class="col-md-5">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Designation, new { placeholder = "Select Designation(s)", @class = "required2 form-control required drpUser" })
                </div>
            </div>
        </td>
    }
</tr>