﻿@model FleetDataService.Models.Webx_Vendor_Contract_DistanceBased
@using FleetDataService.Models
@using Fleet.Helpers

@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_Vehicle_Type> vehicletypeList = MS.GetVehicleTypeDetails().ToList();
    List<webx_VEHICLE_HDR> vehicleNoList =MS.GetVehicleObject().ToList();
    List<Webx_Master_General> FtlTypList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "FTLTYP" && c.StatusCode == "Y").ToList().OrderBy(c => c.CodeId).ToList();
}


<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.ID, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("DistanceBasedContract", Model.ID.ToString()))
    {
        string ROWID = "RW_" + Model.ID;

        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.FTL_Type, new SelectList(FtlTypList, "CodeId", "CodeDesc"), "", new { @class = "select2 required required2 form-control FromAirportCode", @placeholder = "Select Movement" })
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.Vehicle_Type, new SelectList(vehicletypeList, "Type_Code","Type_Name"), "", new { @class = "select2 required required2 form-control", @placeholder = "Select Vehicle Type" })
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="input-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.Vehicle_Number, new SelectList(vehicleNoList, "VEHNO", "VEHNO"), "", new { @class = "select2 form-control", @placeholder = "Select Vehicle No"})
                </div>
            </div>
        </td>

        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Min_Amt_Committed, new { placeholder = "Minimum Charge", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Committed_Km, new { placeholder = "Commited Charge Km", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Chg_Per_Add_Km, new { placeholder = "Charge pr Add Km", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control" })
                </div>
            </div>
        </td>
         <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Max_Amt_Committed, new { placeholder = "Max Charge", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Trips_PM, new { placeholder = "Trips Pr Km", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control" })
                </div>
            </div>
        </td>


        <td class="center">
            @if (Model.ID > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
            }
        </td>
    }
</tr>
