﻿@model FleetDataService.Models.Webx_Vendor_Contract_DocketBased
@using FleetDataService.Models
@using Fleet.Helpers

@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_citymaster> cityList = MS.GetCityMasterObject().Where(c=>c.activeflag=="Y").ToList().OrderBy(c=>c.Location).ToList();
    List<webx_location> locList = MS.GetLocationDetails().Where(c => c.ActiveFlag == "Y").ToList().OrderBy(c => c.LocName).ToList();
    List<webx_location> locationList = new List<webx_location>();
    foreach(var item in locList)
    {
        webx_location objLocation = new webx_location();
        objLocation.LocCode = item.LocCode;
        objLocation.LocName = item.LocCode + " : " + item.LocName;
        locationList.Add(objLocation);
    }
    List<Webx_Master_General> Generallist = MS.GetGeneralMasterObject();
    //List<SelectListItem> Ratetypelist = new List<SelectListItem>(){
    //                new SelectListItem{ Text="Per Kg", Value = "1" },
    //                new SelectListItem{ Text="Per Package", Value = "2" },
    //                new SelectListItem{ Text="% of sub-total of Cnote", Value = "3" },
    //                new SelectListItem{ Text="% of basic freight of Cnote", Value = "4" },
    //};
}


<tr class="editorRow">
    @Html.Hidden("hdnblnk", Convert.ToInt16(Model.ID), new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("DocketBasedContractBC", Model.ID.ToString()))
    {
        string ROWID = "RW_" + Convert.ToInt16(Model.ID);
        <td class="col-md-3">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.Location, new SelectList(locationList, "LocCode", "LocName"), "", new { @class = "select2 required required2 form-control", @placeholder = "Select Location" })
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="input-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.PayBas, new SelectList(Generallist.Where(c => c.CodeType == "PAYTYP" && c.StatusCode == "Y"), "CodeId", "CodeDesc"), "", new { @class = "select2 form-control", @placeholder = "Select Pay Basis" })
                </div>
            </div>
        </td>

        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.TransMode, new SelectList(Generallist.Where(c => c.CodeType == "TRN" && c.StatusCode == "Y"), "CodeId", "CodeDesc"), "", new { @class = "select2 form-control", @placeholder = "Select Trans Mode" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Min_Charge, new { placeholder = "Minimum Charge", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control", @max = Model.Max_Charge })
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.Rate_Type, new SelectList(Generallist.Where(c => c.CodeType == "VENDCONTRATETYPE" && c.StatusCode == "Y"), "CodeId", "CodeDesc"), "", new { @class = "select2 form-control", @placeholder = "Select Rate Type" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Chg_Rate, new { placeholder = "Rate/Cnote", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Max_Charge, new { placeholder = "Max Charge", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control", @min = Model.Min_Charge })
                </div>
            </div>
        </td>


        <td class="center">
            @if (Model.ID > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
            }
        </td>
    }
</tr>