﻿@model IEnumerable<FleetDataService.Models.Webx_Emp_Company>
@using FleetDataService.Models

<table class="table  table-bordered table-hover" id="EmployeeCompanyList" style="overflow-x: scroll">
    <thead>
        <tr>
            <th class="center">
                COMPANY CODE
            </th>
            <th class="center">
                COMPANY NAME
            </th>
            <th class="center">
                CHECKYN
            </th>
            <th class="center">
                DEFAULTYN
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string TrId = "TR" + item.COMPANY_CODE.ToString();
            bool CHECKYN = true;
            bool DEFAULTYN = true;
            if (item.CHECKYN != null && item.CHECKYN.ToUpper() == "FALSE")
            {
                CHECKYN = false;
            }
            if (item.DEFAULTYN != null && item.DEFAULTYN.ToUpper() == "FALSE")
            {
                DEFAULTYN = false;
            }
            <tr id="@TrId">
                <td class="center">
                    @item.COMPANY_CODE
                </td>
                <td class="center">
                    @item.COMPANY_NAME
                </td>
                <td class="center chkactive">
                    <input type="checkbox" class="clsChecked" value="@item.COMPANY_CODE" @(CHECKYN ? "checked" : "")>
                </td>
                <td class="center">
                    <label>
                        <input type="radio" name="radioOptions" value="@item.COMPANY_CODE" @(item.DEFAULTYN == "TRUE" ? "checked" : "")>
                    </label>
                    @*@Html.CheckBox("DEFAULTYN", @DEFAULTYN, new { @class = "DEFAULTYN" ,@id="DEFAULTYN_"+item.COMPANY_CODE})*@
                </td>
            </tr>
        }
    </tbody>
</table>