﻿@model FleetDataService.Models.webx_News_Updates
@using FleetDataService.Models
@using Fleet.Helpers
@{
    string ROWID = "RW_" + Model.srno;
    string Srno = Model.srno.ToString();
}

<tr class="editorRow" id="@ROWID">
    @*@Html.Hidden("RutTran", Model.srno, new { @class = "iHidden" })*@
    @using (Html.BeginCollectionItem("RutTran", Model.srno.ToString()))
    {

        <td class="col-md-2" style="display:none">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.srno, new { @class = "form-control required required2", @readonly = "true", @placeholder = "Sr No." })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextAreaFor(c => c.Headline, new { @class = "form-control required required2", @placeholder = "Enter HeadLine" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextAreaFor(c => c.News, new { @class = "form-control required required2", @placeholder = "Enter News" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @*<input type="color" id="myColor" style="width: 100px;">*@
                    @*<input type="color" value="#ff8080" name="Updatecolor" id="color" style="width: 133px;">*@
                    <input type="color" name="NewsColor" id="Color_@Srno" class="clsColor" value="#000000" style="width: 100px;">
                    @Html.HiddenFor(c => c.Color)
                </div>
            </div>
        </td>
        <td class="center">
            @if (Model.srno > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" onclick="return confirm('Are You Sure You Want to Delete?')" class="deleteRow">X</a></text>
            }
        </td>
    }
</tr>