﻿@model IEnumerable<FleetDataService.Models.WEBX_FLEET_GENERALTASKMST>
@using FleetDataService.Models
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    
}
<div class="col-md-12">
    <div class="portlet blue box">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-edit"></i>&nbsp; @ViewBag.Text
            </div>
        </div>
        <div class="portlet-body">
            <div class="form-body">
                <table class="table table-striped table-bordered table-hover" id="GENERALTASKList" style="overflow-x: scroll">
                    <thead>
                        <tr>
                            <th class="center">
                                @ViewBag.Text Task Description
                            </th>
                            <th class="center">
                                @ViewBag.Text Task Type
                            </th>
                            <th class="center">
                                @ViewBag.Text Estimated Labour Hrs.
                            </th>
                            <th class="center">
                                @ViewBag.Text Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ToList().OrderBy(c => c.W_GRPCD))
                        {
                            <tr>
                                <td>
                                    @item.TASKDESC
                                </td>
                                <td>
                                    @item.TASKTYPDesc
                                </td>
                                <td>
                                    @item.LABOUR_HRS
                                </td>
                                <td class="center">
                                    @if (item.ACTIVE_FLAG.ToUpper() == "Y")
                                    {
                                        <span class="badge badge-success">Yes</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">No</span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

