﻿@model FleetDataService.Models.Webx_Industry_Product_Mapping
@using Fleet.Helpers;


@using (Html.BeginCollectionItem("RutTran", Model.Value.ToString()))
{
    bool Checked = true;
    if (Model.Checked == false)
    {
        Checked = false;
    }
    <tr>

        <td class="center chkactive col-md-5">
            @Html.HiddenFor(m => m.Value)
            @Html.HiddenFor(m => m.Display)
            @Html.TextBoxFor(m => m.Display, new { @class = "form-control required readonly", @disabled = "disabled" })
        </td>
        <td class="center chkactive col-md-1">
            @*<input type="checkbox" class="clsChecked" value="@Model.Value" @(CHECKYN ? "checked" : "")>*@
            @Html.CheckBoxFor(m => m.Checked, new { @class = "form-control" })
        </td>
    </tr>
}

