﻿@model Fleet.ViewModels.CYGNUS_Leave_MasterViewModel
@{ int rowNo = 0; }
<table class="table table-striped table-bordered table-hover" id="LeaveMaster" style="overflow-x: scroll">
    <thead>
        <tr>
            <th class="center">
                Sr No
            </th>
            @if (Model.Type == "A")
            {
                <th class="center">
                    User Name
                </th>
                <th class="center">
                    Branch
                </th>
            }
            <th class="center">
                Start Date
            </th>
            <th class="center">
                End Date
            </th>
            <th class="center">
                Total Days
            </th>
            <th class="center">
                Leave Type
            </th>
            @if (Model.Type == "A")
            {
                <th class="center">
                    Action
                </th>
            }
            else
            {
                <th class="center">
                    Status
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listLS)
        {
            <tr>
                <td class="center">
                    @(rowNo += 1)
                </td>
                @if (Model.Type == "A")
                {
                    <td class="center">
                        @item.UserID
                    </td>
                    <td class="center">
                        @item.BranchCode
                    </td>
                }
                <td class="center">
                    @item.LeaveStartDate.ToString("dd MMM yyyy")
                </td>
                <td class="center">
                    @item.LeaveEndDate.ToString("dd MMM yyyy")
                </td>
                <td class="center">
                    @item.Days
                </td>
                <td class="center">
                    @item.LeaveType
                </td>
                @if (Model.Type == "A")
                {
                    <td class="center">
                        <a class="btn btn-xs green btnApprovReject" data-userid="@item.UserID" data-id="@item.ID" data-type="A">Approv <i class="fa fa-check"></i></a>
                        <a class="btn btn-xs red btnApprovReject" data-userid="@item.UserID" data-id="@item.ID" data-type="R">Reject <i class="fa fa-times"></i></a>
                    </td>
                }
                else
                {
                    <td class="center">
                        @item.status
                    </td>
                }
            </tr>
        }
        @if (Model.listLS.Count() == 0)
        {
            if (Model.Type == "A")
            {
                <tr><td class="center" colspan="8">No records found.</td></tr>
            }
            else
            {
                <tr><td class="center" colspan="6">No records found.</td></tr>
            }
        }
    </tbody>
</table>