﻿@model Fleet.ViewModels.VendorServiceMappingViewModel
@using FleetDataService.Models
@using Fleet.Helpers
@{
    int noOfRow = 0, noOfCoulmn = 3, count = 0;
    noOfRow = Model.Listservice.Count() / noOfCoulmn + (Model.Listservice.Count() / noOfCoulmn > 0 ? 1 : 0);
}

<table class="table table-striped table-bordered table-hover" id="Listservice">
    <thead style="display:none;">
        <tr>
            @for (int i = 0; i < noOfCoulmn; i++)
            {
                <th class="center">General Masters</th>
            }
        </tr>
    </thead>
    <tbody>

        @for (int j = 0; j < noOfRow; j++)
        {
            if (Model.Listservice.Count() > count)
            {
                <tr>

                    @for (int i = 0; i < noOfCoulmn; i++)
                    {
                        if (Model.Listservice.Count() > count)
                        {
                            @Html.Hidden("hdnblnk", @Model.Listservice.ElementAt(count).CodeId, new { @class = "iHidden" })
                            using (Html.BeginCollectionItem("ListService", @Model.Listservice.ElementAt(count).CodeId.ToString()))
                            {
                                <td>
                                    @Html.CheckBoxFor(c => Model.Listservice.ElementAt(count).activeservice, new { @data_value = @Model.Listservice.ElementAt(count).CodeId }) @Model.Listservice.ElementAt(count).CodeDesc
                                    @Html.HiddenFor(c => @Model.Listservice.ElementAt(count).CodeId)
                                    @Html.HiddenFor(c => @Model.Listservice.ElementAt(count).CodeDesc)
                                </td>
                                count++;
                            }
                        }
                        else
                        {
                            <td></td>
                        }
                    }

                </tr>
            }
        }

    </tbody>
</table>