﻿@model Fleet.ViewModels.VendorServiceMappingViewModel
@using FleetDataService.Models
@using Fleet.Helpers
@{
    int noOfRow = 0, noOfCoulmn = 3, count = 0;
    noOfRow = Model.ListVendor.Count() / noOfCoulmn + (Model.ListVendor.Count() / noOfCoulmn > 0 ? 1 : 0);
}
<table class="table table-striped table-bordered table-hover" id="ListVendor">
    <thead style="display:none;">
        <tr>
            @for (int i = 0; i < noOfCoulmn; i++)
            {
                <th class="center">General Masters</th>
            }
        </tr>
    </thead>
    <tbody>

        @for (int j = 0; j < noOfRow; j++)
        {
            if (Model.ListVendor.Count() > count)
            {
                <tr>

                    @for (int i = 0; i < noOfCoulmn; i++)
                    {
                        if (Model.ListVendor.Count() > count)
                        {
                            @Html.Hidden("hdnblnk", @Model.ListVendor.ElementAt(count).VENDORCODE, new { @class = "iHidden" })
                            using (Html.BeginCollectionItem("ListVendor", @Model.ListVendor.ElementAt(count).VENDORCODE.ToString()))
                            {
                                <td>
                                    @Html.CheckBoxFor(c => Model.ListVendor.ElementAt(count).activeservice, new {@class="chk", @data_value = @Model.ListVendor.ElementAt(count).VENDORCODE }) @Model.ListVendor.ElementAt(count).VENDORNAME
                                    @Html.HiddenFor(c => @Model.ListVendor.ElementAt(count).VENDORCODE)
                                    @Html.HiddenFor(c => @Model.ListVendor.ElementAt(count).VENDORNAME)
                                </td>
                                count++;
                            }
                        }
                        else
                        {
                            <td></td>
                        }
                    }

                </tr>
            }
        }

    </tbody>
</table>