﻿@model FleetDataService.Models.CYGNUS_LoadingUnLoading_VendorType_Mapping
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.ContractService CS = new FleetDataService.ContractService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();

    var DocumentType = new List<SelectListItem> {
    new SelectListItem { Text = "MF", Value = "M" },
    new SelectListItem { Text = "PRS", Value = "P" },
    new SelectListItem { Text = "DRS", Value = "D" },
    };

    List<Webx_Master_General> VendorTypeList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "LOADBY" && c.StatusCode == "Y").OrderBy(c => c.CodeDesc).ToList();

    List<webx_location> ListLocations = MS.GetLocationDetails().Where(c => c.ActiveFlag == null ? c.ActiveFlag == null : c.ActiveFlag == "Y").OrderBy(c => c.LocName).ToList();
    foreach (var item in ListLocations)
    {
        item.LocName = item.LocCode + "~" + item.LocName;
    }

    List<Webx_Master_General> RateList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "HANDCHRG" && c.StatusCode == "Y").OrderBy(c => c.CodeId).ToList();
}


<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Srno, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("MappingList", Model.Srno.ToString()))
    {

        <td class="col-md-3">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.Location, new SelectList(ListLocations, "LocCode", "LocName"), "", new { @class = "required required2 drp form-control", placeholder = "Select Branch Code" })
                </div>
            </div>
        </td>

        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.DocumentType, new SelectList(DocumentType, "Value", "Text"), "", new { @class = "required required2 drp form-control", placeholder = "Select Document Type" })
                </div>
            </div>
        </td>
        <td class="col-md-3">
            <div class="form-group">
                <div class="col-md-11">
                    @*@Html.DropDownListFor(m => m.Loading_VendorType, new SelectList(VendorTypeList, "CodeId", "CodeDesc"), "", new { @class = "required required2 drp form-control", placeholder = "Select Loading VendorType", @multiple = true })*@
                    @Html.TextBoxFor(m => m.Loading_VendorType, new { placeholder = "Select Loading VendorType", @class = "required2 form-control required" })
                </div>
            </div>
        </td>
        <td class="col-md-3">
            <div class="form-group">
                <div class="col-md-11">
                    @*@Html.DropDownListFor(m => m.UnLoading_VendorType, new SelectList(VendorTypeList, "CodeId", "CodeDesc"), "", new { @class = "required required2 drp form-control", placeholder = "Select UnLoading VendorType", @multiple = true })*@
                    @Html.TextBoxFor(m => m.UnLoading_VendorType, new { placeholder = "Select UnLoading VendorType", @class = "required2 form-control required" })
                </div>
            </div>
        </td>

        <td class="center">
            @if (Model.Srno > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteload">X</a></text>
            }
            else
            {
                <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
            }
        </td>
    }
</tr>