﻿@model FleetDataService.Models.CYGNUS_LoadingUnLoading_Charges
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<CYGNUS_LoadingUnLoading_VendorType_Mapping> ListVendorType = MS.GetLoadingUnLoadingVendorTypeMappingList(Model.ChargesType, Model.Branch, Model.DocumentType);
}
<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.ID, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("LUList", (Model.ID).ToString()))
    {
        <td class="center">
            @Html.CheckBoxFor(c => c.IsEnabled, new { @class = "clsloadUnload" })
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.DocumentNo)
            @Html.HiddenFor(c => c.DocumentNo)
            @Html.HiddenFor(c => c.ID)
            @Html.HiddenFor(c => c.Branch)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.DocumentDate)
            @Html.HiddenFor(c => c.DocumentDate)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.LoadBY)
            @Html.HiddenFor(c => c.DocumentType)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.Status)
            @Html.HiddenFor(c => c.ChargesType)
        </td>
        <td class="center">
            @*@Html.DisplayFor(c => c.ChargedByDesc)*@
            @Html.DropDownListFor(m => m.ChargedBy, new SelectList(ListVendorType.OrderBy(c => c.CodeDesc).ToList(), "CodeId", "CodeDesc"), "", new { @class = "select2 required2 required form-control", @placeholder = "Select Loading By", @disabled = true })
            @*@Html.HiddenFor(c => c.ChargedBy)*@
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.RateTypeDesc)
            @Html.HiddenFor(c => c.RateType)
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.ChargeRate, new { @class = "form-control clsChargeRate", max = Model.Rate, @readonly = true })
            @*@Html.HiddenFor(c => c.ChargeRate)*@
            @Html.HiddenFor(c => c.Rate)
        </td>
        <td class="center">
            @Html.TextBoxFor(c => c.ChargeAmount, new { @class = "form-control clsChargeRate", max = Model.MaxAmount, @readonly = true })
            @*@Html.HiddenFor(c => c.ChargeAmount)*@
            @Html.HiddenFor(c => c.MaxAmount)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.VendorName)
            @Html.HiddenFor(c => c.VendorCode)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.IsMathadi)
            @Html.HiddenFor(c => c.IsMathadi)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.ACTUPKGS)
            @Html.HiddenFor(c => c.ACTUPKGS)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.ACTUPKGS_Load)
            @Html.HiddenFor(c => c.ACTUPKGS_Load)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.ACTUWT)
            @Html.HiddenFor(c => c.ACTUWT)
        </td>
        <td class="center">
            @Html.DisplayFor(c => c.ACTUWT_Load)
            @Html.HiddenFor(c => c.ACTUWT_Load)
        </td>
    }
</tr>