﻿@model Fleet.ViewModels.LocationViewModel
@using FleetDataService.Models
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<SelectListItem> ListLocationOwnership = new List<SelectListItem>();
    ListLocationOwnership.Add(new SelectListItem { Text = "Company", Value = "C" });
    ListLocationOwnership.Add(new SelectListItem { Text = "BA", Value = "B" });
    ListLocationOwnership.Add(new SelectListItem { Text = "Customer", Value = "O" });
    ListLocationOwnership.Add(new SelectListItem { Text = "Franchise", Value = "F" });

    List<SelectListItem> ListOctroi = new List<SelectListItem>();
    ListOctroi.Add(new SelectListItem { Text = "Inside Octroi Limit", Value = "I" });
    ListOctroi.Add(new SelectListItem { Text = "Outside Octroi Limit", Value = "O" });
    ListOctroi.Add(new SelectListItem { Text = "Octroi Not Applicable", Value = "N" });


    string Computerised = "", ActiveFlag = "", CutOff_YN = "", Op_Bkg = "", Op_Dly = "";
    if (Model.WL.Computerised != null && Model.WL.Computerised == "Y")
    {
        Computerised = "checked";
    }
    if (Model.WL.ActiveFlag != null && Model.WL.ActiveFlag == "Y")
    {
        ActiveFlag = "checked";
    }
    if (Model.WL.CutOff_YN != null && Model.WL.CutOff_YN.ToUpper() == "Y")
    {
        CutOff_YN = "checked";
    }
    if (!string.IsNullOrEmpty(Model.WL.Op_Bkg) && Model.WL.Op_Bkg.ToUpper() == "Y")
    {
        Op_Bkg = "checked";
    }
    if (!string.IsNullOrEmpty(Model.WL.Op_Dly) && Model.WL.Op_Dly.ToUpper() == "Y")
    {
        Op_Dly = "checked";
    }

    List<webx_citymaster> ListCity = new List<webx_citymaster>();
    List<webx_location> ListLocations = new List<webx_location>();
    List<Webx_Master_General> ListLocLevel = Model.ListGnMST.Where(c => c.CodeType == "HRCHY" && c.StatusCode == "Y").OrderBy(c => c.CodeId).ToList();

    var Text = "Submit"; var type = "Add";
    if (Model.EditFlag == "true")
    {
        ListCity = MS.GetCityMasterObject();
        ListCity = ListCity.Where(c => c.state == Model.WL.LocState).OrderBy(m => m.Location).ToList();
        ListLocations = MS.GetLocationDetails();
        ListLocations = ListLocations.Where(c => c.Loc_Level == Convert.ToDecimal(Model.WL.Report_Level) && c.ActiveFlag == "Y").OrderBy(m => m.LocName).ToList();

        Text = "Update";
        type = "Edit";
    }
}

@using (Html.BeginForm("LocationMasterSubmit", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-10">
            <h4>@type Location <b>@Model.WL.LocName</b></h4>
        </div>
        @if (Model.EditFlag == "true")
        {
            <div class="col-md-2">
                <a class="btn default @ViewBag.TableBoxColor-stripe pull-right" style="margin-top:5px;" href="@Url.Content("~/Master/LocationMaster")">
                    <i class="fa fa-plus"></i>
                    Add new Location
                </a>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Location Hierarchy
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.WL.Loc_Level, new SelectList(ListLocLevel, "CodeId", "CodeDesc"), "", new { @class = "select2 required required2 form-control" })
                                        @Html.HiddenFor(model => model.EditFlag)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Reporting To </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.WL.Report_Level, new SelectList(ListLocLevel, "CodeId", "CodeDesc"), "", new { @class = "select2 required required2 form-control", @disabled = true })
                                        @Html.HiddenFor(model => model.WL.Report_Level)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Reporting Location</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.WL.Report_Loc, new SelectList(ListLocations, "LocCode", "LocName"), "", new { @class = "select2 required required2 form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Location Code</label>
                                    <div class="col-md-8">
                                        @if (Model.EditFlag == "true")
                                        {
                                            @Html.TextBoxFor(m => m.WL.LocCode, new { @class = "required required2 form-control", @placeholder = "Location Code", @readonly = true })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(m => m.WL.LocCode, new { @class = "required required2 form-control", @placeholder = "Location Code" })
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Location Name</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.WL.LocName, new { @class = "required required2 form-control", @placeholder = "Location Name" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">PinCode</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.WL.LocPincode, new { @class = "required required2 form-control", @placeholder = "PinCode", @maxlength = 6, @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">State</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.WL.LocState, new SelectList(Model.ListLocState.Where(c => c.activeflag == "Y"), "stcd", "stnm"), "", new { @class = "required required2 select2 form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">City</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.WL.LocCity, new SelectList(ListCity, "Location", "Location", Model.WL.LocCity), "", new { @class = "required required2 select2 form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Address</label>
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model.WL.LocAddr, new { @class = "required required2 form-control", @placeholder = "Address" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">STD Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.WL.LocSTDCode, new { @class = "form-control", @placeholder = "STD Code", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Telephone No.</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.WL.LocTelno, new { @class = "required required2 form-control", @placeholder = "Telephone No.", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Fax No.</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.WL.LocFaxno, new { @class = "form-control", @placeholder = "Fax No.", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Mobile No.</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.WL.Locmobile, new { @class = "form-control", @placeholder = "Mobile No.", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Email ID</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.WL.LocEmail, new { @class = "required required2 form-control", @placeholder = "Email ID", @onchange = "return ValidateEmail();" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">GSTNO</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.WL.GSTNO, new { @class = "required required2 GSTNo form-control", @placeholder = "GSTNO" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>Other Information
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Zone</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.WL.LocRegion, new SelectList(Model.ListGnMST.Where(c => c.CodeType == "ZONE" && c.StatusCode == "Y").OrderBy(c => c.CodeId).ToList(), "CodeId", "CodeDesc"), "", new { @class = "required required2 select2 form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Accounting Location</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.WL.Loc_Account, new SelectList(Model.listWS.Where(c => c.ActiveFlag == "Y").OrderBy(c => c.LocName).ToList(), "LocCode", "LocName"), "", new { @class = "select2 form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Data Entry Location</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.WL.Dataentry, new SelectList(Model.listWS.Where(c => c.ActiveFlag == "Y").OrderBy(c => c.LocName).ToList(), "LocCode", "LocName"), "", new { @class = "select2 form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Location Start Date</label>
                                    <div class="col-md-8">
                                        <div class="input-group date date-picker" data-date-format="dd MMM yyyy">
                                            @Html.TextBoxFor(m => m.WL.loc_startdt, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.WL.loc_startdt).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Location End Date</label>
                                    <div class="col-md-8">
                                        <div class="input-group date date-picker" data-date-format="dd MMM yyyy">
                                            @Html.TextBoxFor(m => m.WL.loc_enddt, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.WL.loc_enddt).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-8">Computerised</label>
                                        <div class="col-md-3 chkactive">
                                            @Html.HiddenFor(m => m.WL.Computerised)
                                            <input type="checkbox" id="Computerised" @Computerised />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-8">Active</label>
                                        <div class="col-md-3 chkactive">
                                            @Html.HiddenFor(m => m.WL.ActiveFlag)
                                            <input type="checkbox" id="ActiveFlag" @ActiveFlag />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Perit No. Req.</label>
                                    <div class="col-md-8 chkactive">
                                        @Html.CheckBoxFor(m => m.WL.IsPeritNoReq)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Key No. Req.</label>
                                    <div class="col-md-8 chkactive">
                                        @Html.CheckBoxFor(m => m.WL.IsKeyNoReq)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-8">Booking Allowed?</label>
                                        <div class="col-md-3 chkactive">
                                            @Html.HiddenFor(m => m.WL.Op_Bkg)
                                            <input type="checkbox" id="Op_Bkg" @Op_Bkg />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-8">Delivery Allowed?</label>
                                        <div class="col-md-3 chkactive">
                                            @Html.HiddenFor(m => m.WL.Op_Dly)
                                            <input type="checkbox" id="Op_Dly" @Op_Dly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Cutoff Time Flag</label>
                                    <div class="col-md-8 ">
                                        @Html.HiddenFor(m => m.WL.CutOff_YN)
                                        <input type="checkbox" id="CutOff_YN" @CutOff_YN />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Cnote Number Type</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.WL.CnoteNumberType, new List<SelectListItem>() { new SelectListItem { Text = "Both", Value = "A" }, new SelectListItem { Text = "Computerized", Value = "C" }, new SelectListItem { Text = "Normal", Value = "N" } }, "", new { @class = "select2 form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Account No</label>
                                    <div class="col-md-8 ">
                                        @Html.TextBoxFor(m => m.WL.AccountNo, new { placeholder = "Account No", @class = "required required2 form-control" })
                                        @Html.ValidationMessageFor(model => model.WL.AccountNo)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">IFSC Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.WL.IFSCCode, new { placeholder = "IFSC Code", @class = "required required2 form-control" })
                                        @Html.ValidationMessageFor(model => model.WL.IFSCCode)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Bank Name</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.WL.BankName, new { placeholder = "Bank Name", @class = "required required2 form-control" })
                                        @Html.ValidationMessageFor(model => model.WL.BankName)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>Operation Information
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Default Next Location</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.WL.Default_NextLoc, new SelectList(Model.listWS.Where(c => c.ActiveFlag == "Y").OrderBy(c => c.LocName).ToList(), "LocCode", "LocName"), "", new { @class = "select2 form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Nearest Previous Location</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.WL.Nearest_PrevLoc, new SelectList(Model.listWS.Where(c => c.ActiveFlag == "Y").OrderBy(c => c.LocName).ToList(), "LocCode", "LocName"), "", new { @class = "select2 form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Location Ownership</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.WL.OutSource_Own, new SelectList(ListLocationOwnership, "Value", "Text"), "", new { @class = "required required2 select2 form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Delivery Control Location</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.WL.Delivery_Control_Loc, new SelectList(Model.listWS.Where(c => c.ActiveFlag == "Y").OrderBy(c => c.LocName).ToList(), "LocCode", "LocName"), "", new { @class = "required2 select2 form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>Booking / Delivery Information
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Octroi</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.WL.Octroi_IO, new SelectList(ListOctroi, "Value", "Text"), "", new { @class = "required required2 select2 form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Billed At</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.WL.BilledAt, new SelectList(Model.listWS.Where(c => c.ActiveFlag == "Y").OrderBy(c => c.LocName).ToList(), "LocCode", "LocName"), "", new { @class = "select2 form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Latitude</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.WL.Latitude, new { @class = "form-control", @placeholder = "Latitude", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Longitude</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.WL.Longitude, new { @class = "form-control", @placeholder = "Longitude", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <a class="btn btn-sm default controls" href="@Url.Content("~/Master/LocationList")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To List</a>
            <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;@Text</button>
        </div>
    </div>
}
<script>
    function ValidateEmail() {
        var emailReg = new RegExp(/^([\w+-.%]+@@[\w-.]+\.[A-Za-z]{2,4},?)+$/i);
        var emailText = $('#WL_LocEmail').val();
        if (!emailReg.test(emailText)) {
            alert("You have entered an invalid email address!");
            $('#WL_LocEmail').val(emailText.substring(0, emailText.lastIndexOf(',')));
            return false;
        }
        else {
            return true;
        }
    }
</script>