﻿@model IEnumerable<FleetDataService.Models.vw_DCR_Management_History>
<div class="portlet box @ViewBag.TableBoxColor">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-list"></i>List
        </div>
    </div>
    <div class="portlet-body form">
        <div class="form-body">
            <table id="sample_ven" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Action Date</th>
                        <th>Book Number</th>
                        <th>FROM-TO</th>
                        <th>Alloted Type</th>
                        <th>Loction</th>
                        <th>Alloted To</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ToList())
                    {
                        <tr>
                            <td class="center">
                                @item.Action_Desc
                            </td>
                            <td>
                                @item.Action_Date
                            </td>
                            <td class="center">
                                @item.Book_Number
                            </td>
                            <td>
                                @item.FROM_TO
                            </td>
                            <td class="center">
                                @item.Alloted_Type_Desc
                            </td>
                            <td>
                                @item.Alloted_Loc
                            </td>
                            <td class="center">
                                @item.Alloted_To
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
