﻿@model FleetDataService.Models.vw_DCR_Register
@{
    
    List<SelectListItem> actionList = new List<SelectListItem>(){
                    new SelectListItem{ Text="Split", Value = "1" },
                    new SelectListItem{ Text="ReAllocate", Value = "3" },
                    new SelectListItem{ Text="History", Value = "2" },
    };
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet @ViewBag.TableBoxColor box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>You have selected following series to manage : @Model.DOC_Number
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    @using (Html.BeginForm("ManageDCRPartial", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
                    {
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                You have some form errors. Please check below.
                            </div>

                            <div class="alert alert-success display-hide">
                                <button class="close" data-close="alert"></button>
                                Your form validation is successful!
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Document type:</label>
                                        <div class="col-md-8 margin-top-5">
                                            @Html.DisplayFor(c => c.DOC_TYPE)
                                            @Html.HiddenFor(c => c.DOC_TYPE)
                                            @Html.HiddenFor(c => c.DOC_KEY)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Query number:</label>
                                        <div class="col-md-8 margin-top-5">
                                            @Html.DisplayFor(c => c.DOC_Number)
                                            @Html.HiddenFor(c => c.DOC_Number)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Book number:</label>
                                        <div class="col-md-8 margin-top-5">
                                            @Html.DisplayFor(c => c.Book_Number)
                                            @Html.HiddenFor(c => c.Book_Number)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Series start-end:</label>
                                        <div class="col-md-8 margin-top-5">
                                            @Html.DisplayFor(c => c.FROM_TO)
                                            @Html.HiddenFor(c => c.FROM_TO)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Total leaves:</label>
                                        <div class="col-md-8 margin-top-5">
                                            @Html.DisplayFor(c => c.TOT_LEAF)
                                            @Html.HiddenFor(c => c.TOT_LEAF)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Used leaves :</label>
                                        <div class="col-md-8 margin-top-5">
                                            @Html.DisplayFor(c => c.Used)
                                            @Html.HiddenFor(c => c.Used)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Allocated to location:</label>
                                        <div class="col-md-8 margin-top-5">
                                            @Html.DisplayFor(c => c.Alloted_By):@Html.DisplayFor(c => c.Alloted_By_Name)
                                            @Html.HiddenFor(c => c.Alloted_By)
                                            @Html.HiddenFor(c => c.Alloted_By_Name)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Allocated to person:</label>
                                        <div class="col-md-8 margin-top-5">
                                            @Html.DisplayFor(c => c.Alloted_To_Name)
                                            @Html.HiddenFor(c => c.Alloted_To_Name)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Person Category:</label>
                                        <div class="col-md-8 margin-top-5">
                                            @Html.DisplayFor(c => c.Alloted_Type)
                                            @Html.HiddenFor(c => c.Alloted_Type_ID)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Hierarchy of location:</label>
                                        <div class="col-md-8 margin-top-5">
                                            @Html.DisplayFor(c => c.LocationHierarchy)
                                            @Html.HiddenFor(c => c.LocationHierarchy)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Status:</label>
                                        <div class="col-md-8 margin-top-5">
                                            @Html.DisplayFor(c => c.Status)
                                            @Html.HiddenFor(c => c.Status)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Action:</label>
                                        <div class="col-md-8" id="pulsate-regular">
                                            @Html.DropDownListFor(c => c.Action, new SelectList(actionList, "Value", "Text"), "", new { @class = "form-control required required2 select2 select", @placeholder = "Select Action" })
                                            @Html.HiddenFor(c => c.Action)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="button" id="btnNext" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Next</button>
                            </div>
                        </div>*@
                    }
                </div>
            </div>
        </div>
    </div>
</div>