﻿@model FleetDataService.Models.OpeningBalanceCriteriaList
@using Fleet.Helpers;
@using FleetDataService.Models
<tr>
    @using (Html.BeginCollectionItem("Master", Model.SrNo.ToString()))
    {
        <td class="center">
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = " form-control CLSCHK" })
        </td>
        
         <td class="center">
                @Html.HiddenFor(m => m.AccountCode)
                @Model.AccountCode
            </td>
            <td>
                @Html.HiddenFor(m => m.AccountName)
                @Model.AccountName
            </td>
        
        
        <td class="center">
            @Html.HiddenFor(m => m.custcode)
            @Model.custcode
        </td>
        <td>
            @Html.HiddenFor(m => m.custname)
            @Model.custname
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.opencredit, new { placeholder = "0.00", @class = "required required2 form-control Comamount", @readonly = "true", @type = "number", @min = "0" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.opendebit, new { placeholder = "0.00", @class = "required required2 form-control Comamount", @readonly = "true", @number = true })
                </div>
            </div>
        </td>
    }
</tr>