﻿@model FleetDataService.Models.webx_acctinfo
@using Fleet.Helpers;
@using FleetDataService.Models
<tr>
    @using (Html.BeginCollectionItem("Master", Model.Acccode.ToString()))
    {
        <td class="center">
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = " form-control CLSCHK" })
        </td>
        <td class="center">
            @Html.HiddenFor(m => m.Acccode)
            @Html.HiddenFor(m => m.Brcd)
            @Model.Acccode
        </td>
        <td>
            @Html.HiddenFor(m => m.Accdesc)
            @Model.Accdesc
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.OpenCredit, new { placeholder = "0.00", @class = "required required2 form-control Comamount", @readonly = "true", @type = "number", @min = "0" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.OpenDebit, new { placeholder = "0.00", @class = "required required2 form-control Comamount", @readonly = "true", @number = true })
                </div>
            </div>
        </td>
    }
</tr>