﻿@model FleetDataService.Models.WebX_master_grpbus_mapping
@using FleetDataService.Models
@using Fleet.Helpers

@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> ListBusType = MS.GetGeneralMasterObject().Where(c => c.CodeType == "BUT" && c.StatusCode == "Y").OrderBy(c => c.CodeDesc).ToList();
    List<webx_GRPMST> ListCustGrp = MS.GetCustomerGroupMasterObject().Where(c => c.ActiveFlag == "Y").ToList();
    string ROWID = "RW_" + Model.srno;
}
<tr class="editorRow" id="@ROWID">
    @Html.Hidden("hdnblnk", Model.srno, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("CGBUSTYPE", Model.srno.ToString()))
    {


        <td class="col-md-1 center">
            @Model.srno
            @Html.HiddenFor(c => c.srno)

        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">

                    @Html.DropDownListFor(c => c.grpcd, new SelectList(ListCustGrp, "GRPCD", "GRPNM"), "", new { @class = "form-control select2 required required2 ", @placeholder = "Select Customer Group" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.businesstype, new SelectList(ListBusType, "CodeId", "CodeDesc"), "", new { @class = "form-control required required2  select2 clsChkDuplicate ", @placeholder = "Select Business Type" })

                </div>
            </div>
        </td>
        <td>
            @if (Model.activeflag == "Y")
            {
                <input type="checkbox" class="StatusCodeY statusChange" />
            }
            else
            {
                <input type="checkbox" class="StatusCodeN statusChange"  />
            }
            @Html.HiddenFor(c => c.activeflag)
        </td>
        <td class="center">
            @if (Model.srno > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
            }
        </td>
    }
</tr>