﻿@model FleetDataService.Models.webx_ruttran
@using FleetDataService.Models
@using Fleet.Helpers

@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_location> locList = MS.GetLocationDetails().Where(c => c.ActiveFlag == "Y").ToList().OrderBy(c => c.LocName).ToList();
    if (Model.TRTIME_HR == "" || Model.TRTIME_HR == null)
    {
        Model.TRTIME_HR = "1";
    }
    if (Model.TRTIME_MIN == "" || Model.TRTIME_MIN == null)
    {
        Model.TRTIME_MIN = "1";
    }

    if (Model.STTIME_HR == "" || Model.STTIME_HR == null)
    {
        Model.STTIME_HR = "1";
    }
    if (Model.STTIME_MIN == "" || Model.STTIME_MIN == null)
    {
        Model.STTIME_MIN = "1";
    }
}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.RUTNO, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("RutTran", Model.RUTNO.ToString()))
    {
        string ROWID = "RW_" + Model.RUTNO;

        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.LOCCD, new { @class = "select2 form-control LOCCD required required2", @placeholder = "Select Branch", @readonly = "true" })
                    @*@Html.DropDownListFor(c => c.LOCCD, new SelectList(locList, "LocCode", "LocName"), "", new { @class = "select2 form-control LOCCD required required2", @placeholder = "Select Branch" })*@
                    @Html.HiddenFor(c => c.RUTNO)
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.DIST_KM, new { placeholder = "Distance", @class = "form-control ro Distance", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="input-group">
                @Html.TextBoxFor(m => m.TRTIME_HR, new { placeholder = "Transaction Hours", @class = "form-control TRTIME_HR ro", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))" })
            </div>
        </td>

        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.TRTIME_MIN, new { placeholder = "Transaction Min", @class = "form-control ro TRTIME_MIN", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))", @max = 59 })
                </div>
            </div>
        </td>

        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.STTIME_HR, new { placeholder = "Stoppage Hours", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))", @class = "form-control required STTIME_HR ro", @maxlength = 5 })
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.STTIME_MIN, new { placeholder = "Stoppage Min", @class = "form-control clsPrice ro STTIME_MIN", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))", @max = 59 })
                </div>
            </div>
        </td>

        <td class="center">
            @if (Model.RUTCD != "1")
            {
                <a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a>
            }
        </td>
    }
</tr>
