﻿@model FleetDataService.Models.webx_vendor_Crossing_Contract_Det
@using FleetDataService.Models
@using CYGNUS.Classes;
@using System.Data;
@using Fleet.Helpers;

@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_citymaster> cityList = MS.GetCityMasterObject().Where(c => c.activeflag == "Y").ToList().OrderBy(c => c.Location).ToList();
    List<webx_location> LocationsList = MS.GetLocation(Model.VendorCode);

    List<SelectListItem> lsttype = new List<SelectListItem>();
    lsttype.Add(new SelectListItem
    {
        Text = "Per Kg",
        Value = "K"
    });
    lsttype.Add(new SelectListItem
    {
        Text = "Flat RS",
        Value = "F"
    });
    lsttype.Add(new SelectListItem
    {
        Text = "Per Pkgs",
        Value = "P"
    });


}

<tr class="editorRow">
    @*@Html.Hidden("hdnblnk", Model.RUTCD, new { @class = "iHidden" })*@
    @using (Html.BeginCollectionItem("RutTran", Model.Id.ToString()))
    {
        @Html.HiddenFor(c => c.SRNo)
        @Html.HiddenFor(c => c.EntryDate)
        @Html.HiddenFor(c => c.EntryBy)
        @Html.HiddenFor(c => c.VendorCode)
        @Html.HiddenFor(c => c.UpdatedDate)
        @Html.HiddenFor(c => c.UpdatedDate)
        string ROWID = "RW_" + Model.VendorCode;
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.CheckBoxFor(m => m.Check, new { @class = "form-control CLSCHK" })

                </div>
            </div>
        </td>

        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.Origin, new SelectList(LocationsList, "LocCode", "LocName", Model.Origin), "", new { @class = "select2 form-control  LOCCD", @placeholder = "Select Origin" })

                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.DestCity, new SelectList(cityList, "Location", "Location", Model.DestCity), "", new { @class = "form-control select2 LOCCD", @placeholder = "Select DestCity" })

                </div>
            </div>
        </td>

        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.ratetype, lsttype, "", new { @class = "form-control select2 LOCCD", @placeholder = "Select RateType" })
                </div>
            </div>
        </td>

        <td class="col-md-2">
            <div class="input-group">
                @Html.TextBoxFor(m => m.rate, new { placeholder = "Transaction Min", @class = "form-control clsChkDuplicateLoop", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
            </div>
        </td>

        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.DDRatetype, lsttype, "", new { @class = "form-control select2  LOCCD", @placeholder = "Select DD RateType" })
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.doordeliveryCharge, new { placeholder = "Stoppage Min", @class = "form-control clsPrice", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>

         <td class="center">
            @if (Model.Id > 1)
            {
                <a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a>
            }
        </td>
    }
</tr>
