﻿@model FleetDataService.Models.Webx_Fleet_SM_Task_Det
@using FleetDataService.Models
@using Fleet.Helpers

@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<WEBX_FLEET_GENERALTASKMST> WorkGroupList = MS.GetTaskListObject().ToList();
    List<Fleet.ViewModels.TaskTypeList> TaskTypeList = MS.GetTaskTypeList().ToList();
    List<SelectListItem> UOMlist = new List<SelectListItem>(){
                    new SelectListItem{ Text="BOTH", Value = "BOTH" },
                    new SelectListItem{ Text="DAYS", Value = "Days" },
                    new SelectListItem{ Text="KMS", Value = "KMS" },
    };
}


<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Srno, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("SMTask", Model.Srno.ToString()))
    {
        string ROWID = "RW_" + Model.Srno;

        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.HiddenFor(c => c.SMTask_Id)
                    @Html.HiddenFor(c => c.Task_Id)
                    @Html.DropDownListFor(c => c.W_GRPCD, new SelectList(WorkGroupList, "GRPCD", "W_GRPDESC"), "", new { @class = "select2 required required2 form-control FromAirportCode", @placeholder = "Select Work Group" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(c => c.TASKDESC, new { placeholder = "Task Description", @class = "form-control" })
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="input-group">
                @Html.DropDownListFor(c => c.TASKTYP, new SelectList(TaskTypeList, "TaskTypeID", "TaskType"), "", new { @class = "select2 required required2 form-control FromAirportCode", @placeholder = "Select Task Type" })
            </div>
        </td>

        <td>
            <div class="input-group">
                @Html.DropDownListFor(c => c.T_UOM, new SelectList(UOMlist, "Value", "Text"), "", new { @class = "select2 required required2 form-control FromAirportCode", @placeholder = "Select Task Type" })
            </div>
        </td>

        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Estimated_Hrs, new { placeholder = "Estimate Hrs.", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control required clsQty" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.SERVICE_INTERVALS_DAY, new { placeholder = "SERVICE INTERVALS DAY", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control required clsQty", @readonly = "true" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.SERVICE_INTERVALS_KMS, new { placeholder = "SERVICE INTERVALS KMS", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control required clsQty", @readonly = "true" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.ADV_NOTIFICATION_DAY, new { placeholder = "ADVANCE NOTIFICATION DAY", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control required clsQty", @readonly = "true" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.ADV_NOTIFACATION_KMS, new { placeholder = "ADVANCE NOTIFACATION KMS", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control required clsQty", @readonly = "true" })
                </div>
            </div>
        </td>
        <td class="center">
            @if (Model.Srno > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
            }
        </td>
    }
</tr>
