﻿@model FleetDataService.Models.webx_HandlingCharge
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.ContractService CS = new FleetDataService.ContractService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    
    var Type = new List<SelectListItem> {
    new SelectListItem { Text = "MF", Value = "M" },
    new SelectListItem { Text = "PRS", Value = "P" },
    new SelectListItem { Text = "DRS", Value = "D" },
    };
    var LoadingBy = new List<SelectListItem> {
    new SelectListItem { Text = "Own", Value = "O" },
    new SelectListItem { Text = "Market", Value = "M" },
    new SelectListItem { Text = "BA", Value = "B" },    
    new SelectListItem { Text = "Attached", Value = "A" },
    new SelectListItem { Text = "Bill Party", Value = "BP" }
    };
    
      
    List<webx_location> ListLocations = MS.GetLocationDetails().Where(c => c.ActiveFlag == null ? c.ActiveFlag == null : c.ActiveFlag == "Y").OrderBy(c => c.LocName).ToList();
    foreach (var item in ListLocations)
    {
        item.LocName = item.LocCode + "~" + item.LocName;
    }

    List<Webx_Master_General> RateList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "HANDCHRG" && c.StatusCode == "Y").OrderBy(c => c.CodeId).ToList();
}


<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Id, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("LoadingList", Model.Id.ToString()))
    {
        
          <td class="col-md-3">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.BranchCode, new SelectList(ListLocations, "LocCode", "LocName"), "", new { @class = "required required2 select2 drp form-control", placeholder = "Select Branch Code" })
                  
                </div>
            </div>
        </td>
        
        <td class="col-md-3">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.LoadingBy, new SelectList(LoadingBy, "Value", "Text"), "", new { @class = "required required2 select2 drp form-control", placeholder = "Select Loading By", @readonly = "true" })
                  
                </div>
            </div>
        </td>
        <td class="col-md-3">
            <div class="form-group">
                <div class="col-md-11">
                    @*@Html.DropDownListFor(m => m.ContractType, new SelectList(Type, "Value", "Text"), "", new { @class = "required required2 select2 drp form-control", placeholder = "Select  Type" })*@                    
                    @Html.TextBoxFor(m => m.ContractType, new { placeholder = "Select Locations", @class = "required2 form-control required" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.RateType, new SelectList(RateList, "CodeId", "CodeDesc"), "", new { @class = "required required2 select2 drp form-control", placeholder = "Select rate Type" })                    
                    
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                   @Html.TextBoxFor(m => m.Rate, new { placeholder = "Rate", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                   @Html.TextBoxFor(m => m.MaxAmount, new { placeholder = "MaxAmount", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
          <td>
        @if (Model.Id > 1)
        {
        <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteload">X</a></text>
        }
        else
        {
        <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
        }
    </td>
     
    }
</tr>
@* } *@