﻿@model FleetDataService.Models.WEBX_FLEET_SPAREPARTDET
@using FleetDataService.Models
@using Fleet.Helpers

@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_VENDOR_HDR> VendorList = MS.GetVendorObject().Where(c => c.Vendor_Type == "15").ToList().OrderBy(c => c.VENDORNAME).ToList();
}


<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Part_ID, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("SparePart", Model.Srno.ToString()))
    {
        string ROWID = "RW_" + Model.Srno;

        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.HiddenFor(c=>c.Part_ID)
                    @Html.DropDownListFor(c => c.Vendorcode, new SelectList(VendorList, "VENDORCODE", "VENDORNAME"), "", new { @class = "select2 required required2 form-control FromAirportCode", @placeholder = "Select Vendor" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                @Html.TextBoxFor(c => c.Vendor_Part_No, new { placeholder = "Vendor Part No", @class = "form-control" })     
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="input-group">
                @Html.TextBoxFor(c => c.Manufacturer, new { placeholder = "Manufacturer", @class = "form-control" })
            </div>
        </td>

        <td>
            <div class="input-group">
                @Html.TextBoxFor(c => c.Cost, new { placeholder = "Cost", @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
            </div>
        </td>

        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Leadtime, new { placeholder = "Leadtime", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control required clsQty", @maxlength = 5 })
                </div>
            </div>
        </td>
        <td class="center">
            @if (Model.Srno > 0)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
            }
        </td>
    }
</tr>
