﻿@model FleetDataService.Models.webx_ruttran_City
@using FleetDataService.Models
@using Fleet.Helpers

@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_citymaster> cityList = MS.GetCityMasterObject().Where(c => c.activeflag == "Y").ToList().OrderBy(c => c.Location).ToList();
}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.RUTCD, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("RutTran", Model.RUTCD.ToString()))
    {
        string ROWID = "RW_" + Model.RUTCD;

        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.LOCCD, new SelectList(cityList, "city_code", "Location"), "", new { @class = "select2 form-control LOCCD", @placeholder = "Select Branch" })
                    @Html.HiddenFor(c => c.RUTNO)
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.DIST_KM, new { placeholder = "Distance", @class = "form-control" })
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="input-group">
                @Html.TextBoxFor(m => m.TRTIME_HR, new { placeholder = "Transaction Hours", @class = "form-control TRTIME_HR", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
            </div>
        </td>

        <td class="col-md-2">
            <div class="input-group">
                @Html.TextBoxFor(m => m.TRTIME_MIN, new { placeholder = "Transaction Min", @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
            </div>
        </td>

        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.STTIME_HR, new { placeholder = "Stoppage Hours", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control required STTIME_HR", @maxlength = 5 })
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.STTIME_MIN, new { placeholder = "Stoppage Min", @class = "form-control clsPrice", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @maxlength = 5 })
                </div>
            </div>
        </td>

        <td class="center">
            @*@if (Model.RUTNO > 0)
            {
                <text>*@
            <a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a>
            @*</text>
            }*@
        </td>
    }
</tr>
