﻿@model FleetDataService.Models.webx_DCR_Header
@using FleetDataService.Models
@using Fleet.Helpers

@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<vw_DocumentName_DCR> DoctypeList = MS.GetDCRNameObject().ToList();
    List<SelectListItem> LEAFSizelist = new List<SelectListItem>(){
                    new SelectListItem{ Text="20", Value = "20" },
                    new SelectListItem{ Text="30", Value = "30" },
                    new SelectListItem{ Text="50", Value = "50" },
                    new SelectListItem{ Text="100", Value = "100" },
                    new SelectListItem{ Text="500", Value = "500" },
                    new SelectListItem{ Text="1000", Value = "1000" },
    };


    string divid = "div" + Model.DOC_KEY.ToString();
}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.DOC_KEY, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("DCRAdd", Model.DOC_KEY.ToString()))
    {
        string ROWID = "RW_" + Model.DOC_KEY;
        string clsdrp = "Leafdrp_" + Model.DOC_KEY;
        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.doc_type, new SelectList(DoctypeList, "CodeID", "CodeDesc"), null, new { @class = "select2 form-control required required2", @placeholder = "Select Document Type" })
                    @Html.HiddenFor(c => c.doc_type)
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11" id="@divid">
                    @Html.TextBoxFor(m => m.bookcode, new { placeholder = "Book Code", @class = "form-control required required2 clsBookCode text-uppercase", @maxlength = 10 })
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @*@Html.TextBoxFor(m => m.DOC_SR_FROM, new { placeholder = "Series From", @class = "form-control required required2 clsSeries ", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @maxlength = 8 })*@
                    @Html.TextBoxFor(m => m.DOC_SR_FROM, new { placeholder = "Series From", @class = "form-control required required2 clsSeries ", @maxlength = 8 })
                </div>
            </div>
        </td>

        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.TOT_LEAF, new SelectList(LEAFSizelist, "Value", "Text"), null, new { Style = "display:none", @class = "select2 form-control required required2 " + @clsdrp, @placeholder = "Select Total Leaf" })
                    @Html.TextBoxFor(m => m.TotalLeaf, new {style="display:none", placeholder = "Total Leaf", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @maxlength = 10 })
                </div>
            </div>
        </td>         
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Page, new { placeholder = "Page Size", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control required required2 clsPageSize", @maxlength = 4 })
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Locatoin, new { placeholder = "Allot To", @class = "form-control" })
                </div>
            </div>
        </td>

        <td class="center col-md-1">
            @if (Model.DOC_KEY > 1)
            {
                <text>
                    <a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a>
                </text>
            }
        </td>
    }
</tr>
