﻿@model FleetDataService.Models.WEBX_FLEET_GENERALTASKMST
@using FleetDataService.Models
@using Fleet.Helpers

@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Fleet_TaskTypeMst> TaskTypeList = MS.GetTaskTypeObject().Where(c => c.ActiveFlag == "Y" && c.TaskTypeID >= 1).ToList().OrderBy(c => c.TaskType).ToList();

    bool Active = true;
    if (Model.ACTIVE_FLAG != null && Model.ACTIVE_FLAG.ToUpper() == "N")
    {
        Active = false;
    }
}


<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.W_GRPCD, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("GeneralTask1", Model.TASKCD.ToString()))
    {
        string ROWID = "RW_" + Model.TASKCD;

         <td>
            <div class="form-group">
                <div class="col-md-11">
                   @Html.HiddenFor(c => c.W_GRPCD)
                    @Html.HiddenFor(c => c.TASKCD)
                   @Html.TextBoxFor(c => c.TASKDESC, new { placeholder = "Task Description", @class = "form-control required required2 " })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.TASKTYP, new SelectList(TaskTypeList, "TaskTypeId","TaskType"), "", new { @class = "select2 required required2 form-control Tasktype", @placeholder = "Select Task Type" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-11">
                   @Html.TextBoxFor(c => c.LABOUR_HRS, new { placeholder = "Estimated Labour Hrs.", @class = "form-control required required2 " })
                </div>
            </div>
        </td>
        
        <td>
            <div class="form-group">
                <div class="col-md-11">
                    @Html.CheckBox("ACTIVE_FLAG",@Active)
                </div>
            </div>
        </td>

        <td class="center">
            @if (Model.W_GRPCD > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
            }
        </td>
    }
</tr>
