﻿@model FleetDataService.Models.webx_HandlingCharge
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.ContractService CS = new FleetDataService.ContractService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();

    var Type = new List<SelectListItem> {
    new SelectListItem { Text = "MF", Value = "M" },
    new SelectListItem { Text = "PRS", Value = "P" },
    new SelectListItem { Text = "DRS", Value = "D" },
    };
    //var LoadingBy = new List<SelectListItem> {
    ////new SelectListItem { Text = "Own", Value = "O" },
    ////new SelectListItem { Text = "Market", Value = "M" },
    ////new SelectListItem { Text = "BA", Value = "B" },
    //new SelectListItem { Text = "Attached", Value = "A" },
    ////new SelectListItem { Text = "Bill Party", Value = "BP" }
    //};
    List<Webx_Master_General> GeneralMasterList = MS.GetGeneralMasterObject();

    List<webx_location> ListLocations = MS.GetLocationDetails().Where(c => c.ActiveFlag == null ? c.ActiveFlag == null : c.ActiveFlag == "Y").OrderBy(c => c.LocName).ToList();
    foreach (var item in ListLocations)
    {
        item.LocName = item.LocCode + "~" + item.LocName;
    }

    List<webx_VENDOR_HDR> ListVendor = MS.GetVendorObject().Where(c => c.Vendor_Type == "01" || c.Vendor_Type == "XX3" && c.Active.ToUpper() == "Y").ToList();
    foreach (var item in ListVendor)
    {
        item.VENDORNAME = item.VENDORCODE + "~" + item.VENDORNAME;
    }
}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Id, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("LoadingList", Model.Id.ToString()))
    {
        <td class="col-md-3">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.BranchCode, new SelectList(ListLocations, "LocCode", "LocName"), "", new { @class = "required required2 select2 drp form-control clsLoading", placeholder = "Select Branch Code" })
                </div>
            </div>
        </td>

        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.LoadingBy, new SelectList(GeneralMasterList.Where(c => c.CodeType == "LOADBY" && (c.CodeId.ToUpper() == "XX5" || c.CodeId.ToUpper() == "XX8") && c.StatusCode.ToUpper() == "Y").ToList(), "CodeId", "CodeDesc"), "", new { @class = "required required2 select2 drp form-control clsLoading", placeholder = "Select Loading By", @readonly = "true" })

                </div>
            </div>
        </td>
        <td class="col-md-3">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.VendorCode, new SelectList(ListVendor, "VENDORCODE", "VENDORNAME"), "", new { @class = "required required2 select2 drp form-control clsLoading", placeholder = "Select Vendor" })
                    @*@Html.TextBoxFor(m => m.VendorCode, new { placeholder = "Select VendorCode", @class = "required2 form-control clsLoading required" })*@
                </div>
            </div>
        </td>
        @*<td class="col-md-3">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.TextBoxFor(m => m.ContractType, new { placeholder = "Select Locations", @class = "required2 form-control clsLoading required" })
                    </div>
                </div>
            </td>*@
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.RateType, new SelectList(GeneralMasterList.Where(c => c.CodeType == "HANDCHRG" && c.StatusCode == "Y").OrderBy(c => c.CodeId).ToList(), "CodeId", "CodeDesc"), "", new { @class = "required required2 select2 drp form-control clsLoading", placeholder = "Select Rate Type" })
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.MonthlyAmount, new { placeholder = "Monthly Amount", @class = "form-control clsLoading required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.CheckBoxFor(m => m.IsMonthlyFixed, new { @class = "form-control" })
                </div>
            </div>
        </td>
        <td>
            @if (Model.Id > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteload">X</a></text>
            }
            else
            {
                <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
            }
        </td>
    }
</tr>
