﻿@model FleetDataService.Models.Webx_Master_Role
@using FleetDataService.Models
@using CYGNUS.Classes;
@using System.Data;
@using Fleet.Helpers;
@{ 
    List<SelectListItem> lsttype = new List<SelectListItem>();
    lsttype.Add(new SelectListItem
    {
        Text = "Head Office",
        Value = "1"
    });
    lsttype.Add(new SelectListItem
    {
        Text = "Area",
        Value = "2"
    });
    lsttype.Add(new SelectListItem
    {
        Text = "Branch",
        Value = "3"
    });
    if (Model.ACTIVEFLAG == "Y")
    {
        Model.ACTIVEFLAG1 = true;
    }
    if (Model.ACTIVEFLAG == "N")
    {
        Model.ACTIVEFLAG1 = false;
    }
    if (Model.Multiple == "Y")
    {
        Model.Multiple1 = true;
    }
    if (Model.Multiple == "N")
    {
        Model.Multiple1 = false;
    }

}
<tr class="editorRow">
   @Html.Hidden("Rut", Model.srno, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("RutTran1", Model.srno.ToString()))
    {
        string ROWID = "RW_" + Model.srno;

        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.ROledesc, new { placeholder = "Designation", @class = "form-control required"})
                    @Html.HiddenFor(m=>m.srno) 
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.Roleid, lsttype, "", new { @class = "select2 required form-control LOCCD", @placeholder = "Select Hierarchy" })

                </div>
            </div>
        </td>

        

        <td class="col-md-1">
            <div class="form-group center">
                @Html.CheckBoxFor(m => m.Multiple1, new {  @class = "form-control" })
            </div>
        </td>

        <td class="col-md-1">
            <div class="form-group center">
               
                    @Html.CheckBoxFor(m => m.ACTIVEFLAG1, new { @class = "form-control " })
            </div>
        </td>
      
        
    }
</tr>