﻿@model FleetDataService.Models.webx_Master_Flight_Schedule_Det
@using FleetDataService.Models
@using Fleet.Helpers

@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_Master_Airport> airportList = MS.GetAirportMasterObject().Where(c => c.ActiveFlag == "Y").ToList().OrderBy(c => c.AirportName).ToList();
}


<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.SrNo, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("Flight_Schedule", Model.SrNo.ToString()))
    {
        string ROWID = "RW_" + Model.SrNo;

        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.FromAirportCode, new SelectList(airportList, "AirportCode", "AirportName"), "", new { @class = "select2 required required2 form-control FromAirportCode", @placeholder = "Select Airport" })
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.ToAirportCode, new SelectList(airportList, "AirportCode", "AirportName"), "", new { @class = "select2 required required2 form-control", @placeholder = "Select Airport" })
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="input-group">
                @Html.TextBoxFor(m => m.Dep_Time, new { placeholder = "Departure Time", @class = "form-control timepicker timepicker-no-seconds" })
                <span class="input-group-btn">
                    <button class="btn default" type="button"><i class="fa fa-clock-o"></i></button>
                </span>
            </div>
        </td>
       
        <td class="col-md-2">
            <div class="input-group">
                @Html.TextBoxFor(m => m.Arr_Time, new { placeholder = "Arrival Time", @class = "form-control timepicker timepicker-no-seconds" })
                <span class="input-group-btn">
                    <button class="btn default" type="button"><i class="fa fa-clock-o"></i></button>
                </span>
            </div>
        </td>
        
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Days, new { placeholder = "Days", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control required clsQty", @maxlength = 5 })
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Stoppage_Min, new { placeholder = "Stoppage Min", @class = "form-control clsPrice", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @maxlength = 5})
                </div>
            </div>
        </td>

        <td class="center">
            @if (Model.SrNo > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
            }
        </td>
    }
</tr>
