﻿@model IEnumerable<FleetDataService.Models.PDC_attached_vendor_master>
@using FleetDataService.Models

<table class="table table-striped table-bordered table-hover" style="overflow-x: scroll">
    <tbody>
        @foreach (var item in Model.ToList().OrderBy(c => c.VendorCode))
        {
            <tr>
                <td class="form-group center">
                    @item.VendorCode
                </td>
                <td class="form-group center">
                    @item.Transmode
                </td>
                <td class="form-group center">
                    @item.VehicleSize
                </td>
                @if (item.type == "XX1")
                {
                    <td class="form-group center">
                        @item.Origin
                    </td>
                    <td class="form-group center">
                        @item.DestCode
                    </td>
                }
                else
                {
                    <td class="form-group center">
                        @item.Route
                    </td>
                    <td class="form-group center">
                        @item.ConRate
                    </td>
                }


            </tr>
        }
    </tbody>
</table>
