﻿@model CYGNUS.Models.CYGNUS_PDC_MaxLimit
@using Fleet.ViewModel
@using Fleet.Helpers
@using FleetDataService.Models;
@{ 
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_Vehicle_Type> ListVehicleSize = MS.GetVehicleTypeList();

}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Id, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("CPM", Model.Id.ToString()))
    {
        @Html.HiddenFor(m => m.Id)

        @*<td class="form-group center">
            @Html.DropDownListFor(c => c.BRCD, new SelectList(ListBRCD, "LocCode", "LocName"), "", new { @class = "required required2 form-control clsChkDuplicate select2", @placeholder = "Vehicle Size" })
        </td>*@

        <td class="form-group center">
            @Html.TextBoxFor(c => c.RatePerGM, new { @class = "form-control required required2 ", @placeholder = "Rate Per GM" })
        </td>
        <td class="form-group center">
             @Html.DropDownListFor(c => c.VehicleSize, new SelectList(ListVehicleSize, "Type_Code", "Type_Name"), "", new { @class = "required required2 form-control clsChkDuplicate  select2", @placeholder = "Vehicle Size" })
        </td>
    
        <td class="center">
            <a class="deleteRow" style="cursor:pointer;">
                <img src="~/assets/img/Delete_Icon.png" style="width: 25px;" title="Delete" />
            </a>
        </td>
    }
</tr>


