﻿@model FleetDataService.Models.PDC_attached_vendor_master
@using Fleet.ViewModel
@using Fleet.Helpers
@using FleetDataService.Models;
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_Vehicle_Type> ListVehicleSize = MS.GetVehicleTypeList();
    //List<Webx_Master_General> Lisratetype = MS.GetGeneralMasterObject().Where(C => C.CodeType == "PDCRATETYP" && C.StatusCode == "Y").ToList();
    List<webx_VENDOR_HDR> Listvenrate = MS.GetVenratetype(Model.VendorCode);
}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Id, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("CPM", Model.Id.ToString()))
    {
        @Html.HiddenFor(m => m.Id)

        <td class="form-group center">
            @Html.DropDownListFor(c => c.Ratetype, new SelectList(Listvenrate, "RateID", "RateType",Model.Ratetype), "", new { @class = "form-control required required2 clsChkDuplicate ", @placeholder = "Rate Type" })
        </td>

        <td class="form-group center">
            @Html.TextBoxFor(c => c.Rate, new { @class = "form-control required required2 clsChkDuplicate ", @placeholder = "Rate Per GM" })
        </td>
        <td class="form-group center">
           @Html.TextBoxFor(c => c.Maxlimite, new { @class = "form-control required required2 clsChkDuplicate ", @placeholder = "Rate Per GM" })
        </td>

        <td class="center">
            <a class="deleteRow" style="cursor:pointer;">
                <img src="~/assets/img/Delete_Icon.png" style="width: 25px;" title="Delete" />
            </a>
        </td>
    }
</tr>


