﻿@model IEnumerable<FleetDataService.Models.webx_pincode_master>
@using FleetDataService.Models

<table class="table table-striped table-bordered table-hover" id="PincodeMappingList" style="overflow-x: scroll">
    <thead>
        <tr>
            <th class="center">
                PinCode
            </th>
            <th class="center">
                Area
            </th>
            <th class="center">
                Active
            </th>
            <th class="center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ToList().OrderBy(c => c.Area))
        {
            string TrId = "TR" + item.pincode.ToString();
            <tr id="@TrId">
                <td class="center">
                    @item.pincode
                </td>
                <td class="center">
                    @item.Area
                </td>
                <td class="center">
                    @if (item.ActiveFlag == "Y")
                    {
                        <span class="badge badge-success">Yes</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">No</span>
                    }
                </td>
                <td class="center">
                    <button type="button" class="btn default btn-xs blue-stripe tooltips btnMasterEdit" title="Edit" id="btnEdit_@item.pincode.ToString()" data-id="@item.pincode" rel="tooltip" data-placement="top">
                        <i class="fa fa-pencil"></i>&nbsp;Edit
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
