﻿@model IEnumerable<FleetDataService.Models.webx_Pincode_Loc_Master>
@using FleetDataService.Models
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    //List<Webx_Master_General> zoneList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "ZONE").ToList();
}

<table class="table table-striped table-bordered table-hover" id="PincodeLocationList" style="overflow-x: scroll">
    <thead>
        <tr>
            <th class="center">
                Location
            </th>
            <th class="center">
                Pincode
            </th>
            <th class="center">
                Area
            </th>
            <th class="center">
                Active
            </th>
            <th class="center">Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ToList().OrderBy(c => c.LocCode))
        {
            string TrId = "TR" + item.LocCode.ToString();
            <tr id="@TrId">
                <td class="center">
                    @item.LocCode
                </td>
                <td>
                    @item.Pincode
                </td>
                <td class="center">
                    @item.Area
                </td>
                <td class="center">
                    @Html.CheckBox("activeflag", new { @disabled = true })
                </td>
                <td class="center">
                    <button type="button" class="btn default btn-xs blue-stripe tooltips btnMasterEdit" title="Edit" id="btnEdit_@item.LocCode.ToString()" data-id="@item.LocCode" rel="tooltip" data-placement="top">
                        <i class="fa fa-pencil"></i>&nbsp;Edit
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
