@model FleetDataService.Models.vw_Series_ToBe_Alloted2
@using Fleet.Helpers;
@using FleetDataService.Models;
<tr class="editorRow">
    @using (Html.BeginCollectionItem("UpdateRealloCation", Model.DOC_KEY.ToString()))
    {
        <td>
            @Html.DisplayFor(c => c.BookCode, new { @class = "form-control required required2", @placeholder = "Book Code." })
            @Html.HiddenFor(c => c.DOC_KEY)
            @Html.HiddenFor(c => c.DOC_SR_FROM)
            @Html.HiddenFor(c => c.DOC_SR_TO)
            @Html.HiddenFor(c => c.Alloted_On)
            @Html.HiddenFor(c => c.Alloted_To_Name)
            @Html.HiddenFor(c => c.BUSINESS_TYPE)
        </td>
        <td>
            @Html.DisplayFor(c => c.DOC_SR_FROM, new { @class = "form-control", @readonly = true, @placeholder = "Series_from." })
        </td>
        <td>
            @Html.DisplayFor(c => c.DOC_SR_TO, new { @class = "form-control", @readonly = true, @placeholder = "Series_to." })
        </td>
        <td>
            @Html.DisplayFor(c => c.Alloted_On, new { @class = "form-control", @readonly = true, @placeholder = "Allote On" })
        </td>
        <td>
            @Html.TextBoxFor(c => c.Alloted_To, new { @class = "form-control clsalloteto", @placeholder = "Allote To" })
        </td>
        <td>
            @Html.DisplayFor(c => c.Alloted_To_Name, new { @class = "form-control", @readonly = true, @placeholder = "Alloted To Name" })
        </td>
        <td>
            @Html.DisplayFor(c => c.BUSINESS_TYPE, new { @class = "form-control", @readonly = true, @placeholder = "Business Type" })
        </td>
    }
</tr>
