﻿@model IEnumerable<FleetDataService.Models.Webx_View_Track>
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers

@{
   
}

@using (Html.BeginCollectionItem("ReoprtRights", Model..ToString()))
{
    foreach (var item in Model.ToList())
    {
        if (item.chacked == "true")
        {
            item.New_chacked = true;
        }
        else
        {
            item.New_chacked = false;
        }
       <tr>
        <td>
            @*@Html.CheckBox(item.New_chacked, new { @class = "chkCheck" })
            @Html.Hidden(item.L1_App_Module,"")*@
        </td>
        <td>
            @item.Level0Text
        </td>
        <td>
            @item.DOC_Called_AS
        </td>


    </tr> 
    }
    
}
