﻿@model FleetDataService.Models.Webx_View_Track
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers

@{
        
}
@using (Html.BeginCollectionItem("ReoprtRights", Model.L1_App_Module.ToString()))
{
    <tr>
        <td>
            @Html.CheckBoxFor(m => m.New_chacked, new { @class = "IsCheck" })           
           
        </td>
        <td>
            @Model.Level0Text
            @Html.HiddenFor(m => m.Level0Text)
            @Html.HiddenFor(m => m.L1_App_Module)
        </td>
        <td>
            @Model.DOC_Called_AS
            @Html.HiddenFor(m => m.DOC_Called_AS)
        </td>


    </tr>
}
