﻿@model FleetDataService.Models.Webx_Role_Employee_Intigration

@using Fleet.Helpers;
<table class="table table-striped table-bordered table-hover" id="UserList" style="overflow-x: scroll">

    <thead>
        <tr>
            <th class="center">

            </th>
            <th class="center">
                User Name
            </th>
            <th class="center">
                Branch Code
            </th>
            <th class="center">
                EmailId
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="editorRow">

            @using (Html.BeginCollectionItem("RutTran", Model.Id.ToString()))
            {
                string ROWID = "RW_" + Model.Id;
                Model.Checked1 = false;

                if (Model.Checked != null && Model.Checked == "N")
                {
                    Model.Checked1 = false;
                }
                else
                {
                    Model.Checked1 = true;
                }

            <td class="col-md-1 center chkactive">
             
                @Html.CheckBoxFor(m => m.Checked1,new { @class="form-control"})
        
            </td>
              
                <td class="col-md-2">
                    <div class="form-group">
                        <div class="col-md-11">

                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control required ", @disabled = "disabled" })
                            @Html.HiddenFor(m => m.UserId)
                        </div>
                    </div>
                </td>
                <td class="col-md-2">
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.TextBoxFor(m => m.BranchCode, new { @class = "form-control required readonly", @disabled = "disabled" })
                        </div>
                    </div>
                </td>
                <td class="col-md-2">
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control required" })
                        </div>
                    </div>
                </td>
            }
        </tr>
    </tbody>
</table>
