﻿@model FleetDataService.Models.Webx_Vendor_Contract_RouteBased
@using FleetDataService.Models
@using Fleet.Helpers

@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<SelectListItem> Modelist = new List<SelectListItem>(){
                    new SelectListItem{ Text="Air", Value = "A" },
                    new SelectListItem{ Text="Train", Value = "R" },
                    new SelectListItem{ Text="Road", Value = "S" },
    };
    //List<SelectListItem> Ratetypelist = new List<SelectListItem>(){
    //                new SelectListItem{ Text="Per Kg", Value = "1" },
    //                new SelectListItem{ Text="Per KM", Value = "2" },
    //};
    List<webx_rutmas> rutList = MS.GetRutMstDetails().ToList();
    List<Webx_Master_General> Generallist = MS.GetGeneralMasterObject();
}


<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.ID, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("RouteBasedContract", Model.ID.ToString()))
    {
        string ROWID = "RW_" + Model.ID;
        @Html.HiddenFor(c=>c.ID)
        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.TransMode, new SelectList(Modelist, "Value", "Text"), "", new { @class = "select2 required required2 form-control TransMode", @placeholder = "Select Mode" })
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="form-group">
                <div class="col-md-11">
                    @*@Html.DropDownListFor(c => c.RouteCode, new SelectList(rutList, "RUTCD", "RUTNM"), "", new { @class = "select2 required required2 form-control RouteCode", @placeholder = "Select Route", @disabled = "true" })*@
                    @Html.TextBoxFor(c => c.RouteCode, new { @class = "form-control required required2" })
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <div class="input-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.FTL_Type, new SelectList(Generallist.Where(c => c.CodeType == "FTLTYP" && c.StatusCode == "Y").ToList().OrderBy(c => c.CodeId), "CodeId", "CodeDesc"), "", new { @class = "select2 form-control FTL_Type", @placeholder = "Select Movement", @disabled = "true" })
                </div>
            </div>
        </td>

        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Min_Charge, new { placeholder = "Minimum Charge", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control", @max = Model.Max_Charge })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Max_Charge, new { placeholder = "Max Charge", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control", @min = Model.Min_Charge })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(c => c.Rate_Type, new SelectList(Generallist.Where(c => c.CodeType == "VENDCONTRATETYPE" && c.StatusCode == "Y" && (c.CodeId == "1" || c.CodeId == "2")), "CodeId", "CodeDesc"), "", new { @class = "select2 form-control", @placeholder = "Select Rate Type" })
                </div>
            </div>
        </td>

        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Chg_Rate, new { placeholder = "Rate", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @class = "form-control"})
                </div>
            </div>
        </td>
        
        <td class="center">
            @if (Model.ID > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
            }
        </td>
    }
</tr>
