﻿@model IEnumerable<FleetDataService.Models.Webx_Fleet_spareParthdr>
@using FleetDataService.Models

<table class="table table-striped table-bordered table-hover" id="SparePartList" style="overflow-x: scroll">
    <thead>
        <tr>
            <th class="center">
                Work Group
            </th>
            <th class="center">
                Task Type
            </th>
            <th class="center">
                Part Description
            </th>
            <th class="center">
                Unit Of Inventory
            </th>
            <th class="center">
                Avg.Cost
            </th>
            <th class="center">
                Selling Price
            </th>
            <th class="center">
                Reorder Point
            </th>
            <th class="center">
                Reorder Quantity
            </th>
            <th class="center">
                Expiry Date
            </th>
            <th class="center">
                Expiry Kms
            </th>
            <th class="center">Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ToList().OrderBy(c => c.Part_Id))
        {
            string TrId = "TR" + item.Part_Id.ToString();
            <tr id="@TrId">
                <td class="center">
                    @Html.HiddenFor(c=>item.SKU_GRPDC)
                    @item.W_GrpDesc
                </td>
                <td>
                    @Html.HiddenFor(c => item.TaskTypeId)
                    @item.TaskType
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Unit_Of_Inventory
                </td>
                <td>
                    @item.Avg_Cost
                </td>
                <td>
                    @item.Selling_Price
                </td>
                <td>
                    @item.Reorder_Point
                </td>
                <td>
                    @item.Reorder_Qty
                </td>
                <td>
                    @item.ExpDt
                </td>
                <td>
                    @item.ExpKms
                </td>
                <td class="center">
                    <button type="button" class="btn default btn-xs blue-stripe tooltips btnMasterEdit" title="Edit" id="btnEdit_@item.Part_Id.ToString()" data-id="@item.Part_Id" rel="tooltip" data-placement="top">
                        <i class="fa fa-pencil"></i>&nbsp;Edit
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
