﻿@model FleetDataService.Models.Webx_State_Document
@using Fleet.Models;
@using Fleet.Helpers;

@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();

    var inoutbound = new List<SelectListItem> {
                                               new SelectListItem { Text = "Inbound", Value = "I" },
                                               new SelectListItem { Text = "Outbound", Value = "O" },
    };
}
<tr class="editorRow">
    @*@Html.Hidden("hdnblnk", Model.srno, new { @class = "iHidden" })*@
    @using (Html.BeginCollectionItem("DocumentList", Model.srno.ToString()))
    {
        <td>
            @Html.TextBoxFor(m => m.STFORM, new { placeholder = "Document Name", @class = "form-control col-md-12 required" })
            @Html.HiddenFor(m => m.srno)
        </td>
        <td>
            @Html.DropDownListFor(m => m.inoutbound, new SelectList(inoutbound, "Value", "Text"), "", new { @class = "select2 required form-control" })
        </td>
        <td class="center">
            <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a>
        </td>
    }
</tr>