﻿@model Fleet.ViewModels.Webx_StateViewModel

<table class="table table-striped table-bordered table-hover" id="StateMaster" style="overflow-x: scroll">
    <thead>
        <tr>
            <th class="center">
                ID
            </th>
            <th class="center">
                State
            </th>
            <th class="center">
                GST Registration No.
            </th>
            <th class="center">
                Active
            </th>
            <th class="center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listWS)
        {
            string BtnId = "Edit_" + item.srno.ToString();
            string TrId = "TR" + item.srno.ToString();

            <tr id="@TrId">
                <td class="center">
                    @item.srno
                </td>
                <td>
                    @item.stnm
                </td>
                <td>
                    @item.GSTRegNo
                </td>
                <td class="center">
                    @if (item.activeflag == null ? item.activeflag == "" : item.activeflag.ToUpper() == "Y")
                    {
                        <span class="badge badge-success">Yes</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">No</span>
                    }
                </td>
                <td class="center">
                    <button type="button" class="btn default btn-xs blue-stripe tooltips btnStateEdit" id="@BtnId">
                        <i class="fa fa-pencil"></i>&nbsp;Edit
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>