﻿@model CYGNUS.Models.CYGNUS_Docket_CustSeries_DET
@using Fleet.ViewModel
@using Fleet.Helpers
@using FleetDataService.Models;
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    //List<webx_CUSTHDR> ListCust = MS.GetCustomerMasterObject().OrderBy(c => c.CUSTNM).ToList().Where(c => c.CUST_ACTIVE == "Y").ToList();
}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.ID, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("CPM", Model.ID.ToString()))
    {
        @Html.HiddenFor(m => m.ID)

        <td class="form-group center">
            @Html.TextBoxFor(c => c.BookCode, new { @class = "form-control  required2  ", @placeholder = "Book Code", @readonly = true })
        </td>
        <td class="form-group center">
            @Html.TextBoxFor(c => c.SrFrom, new { @class = "form-control  required2  ", @placeholder = "From Serices ", @readonly = true })
        </td>
        <td class="form-group center">
            @Html.TextBoxFor(c => c.SrTo, new { @class = "form-control  required2  ", @placeholder = "To Series", @readonly = true })
        </td>
        <td class="form-group center">
            @Html.TextBoxFor(c => c.CustCode, new { @class = "form-control  required2  ", @placeholder = "Main Custmoer", @readonly = true })
        </td>
        <td class="form-group center">
            @Html.TextBoxFor(c => c.Location, new { @class = "form-control  required2  ", @placeholder = "Location", @readonly = true })
        </td>
        <td class="form-group center">
            <a href="@Url.Content("~/Master/SubCustAssignDKTseries?Cust="+Model.CustomerCode+"&custname="+Model.CustCode)">Assign Docket serices Sub customer</a>
        </td>
    }
</tr>

