﻿@model CYGNUS.Models.CYGNUS_Docket_CustSeries_DET
@using Fleet.ViewModel
@using Fleet.Helpers
@using FleetDataService.Models;
@{
}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.ID, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("CPM", Model.ID.ToString()))
    {
        @Html.HiddenFor(m => m.ID)

        <td class="form-group center">
            @Html.TextBoxFor(c => c.SubCustomer, new { @class = "form-control  required2  ", @placeholder = "Sub Customer",@readonly=true })
        </td>
        <td class="form-group center">
            @Html.TextBoxFor(c => c.BookCode, new { @class = "form-control  required2  ", @placeholder = "Book Code" })
        </td>
        <td class="form-group center">
            @Html.TextBoxFor(c => c.SrFrom, new { @class = "form-control  required2  ", @placeholder = "From Series" })
        </td>
        <td class="form-group center">
            @Html.TextBoxFor(c => c.SrTo, new { @class = "form-control  required2  ", @placeholder = "To Series" })
        </td>
    }
</tr>
 

