﻿@model IEnumerable<CYGNUS.Models.CYGNUS_Docket_CustSeries_DET>
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
<div>
    <div class="row col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th style="white-space: pre-line" class="center">Sub Customer</th>
                    <th style="white-space: pre-line" class="center">Book Code</th>
                    <th style="white-space: pre-line" class="center">From Series</th>
                    <th style="white-space: pre-line" class="center">To Series</th>
                </tr>
            </thead>
            <tbody id="AddCustList">
                @foreach (var item in Model)
                {
                    Html.RenderPartial("_subcustassigndktserieslist", item);
                }
            </tbody>
        </table>
    </div>
    <br />
</div>