﻿@model Fleet.Models.Cygnus_VendorEmployeeMapping
@using FleetDataService.Models
@using Fleet.Helpers
@{
    FleetDataService.ContractService CS = new FleetDataService.ContractService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();

    var DocumentType = new List<SelectListItem> {
    new SelectListItem { Text = "MF", Value = "M" },
    new SelectListItem { Text = "PRS", Value = "P" },
    new SelectListItem { Text = "DRS", Value = "D" },
    };

    List<webx_VENDOR_HDR> vendorList = MS.GetVendorObject().Where(c => c.Active == "Y" && (c.Vendor_Type.ToUpper() == "08" || c.Vendor_Type.ToUpper() == "XX5")).ToList();
    List<webx_VENDOR_HDR> vendorListWithCode = new List<webx_VENDOR_HDR>();
    foreach (var item in vendorList)
    {
        webx_VENDOR_HDR objVendor = new webx_VENDOR_HDR();
        objVendor.VENDORCODE = item.VENDORCODE;
        objVendor.VENDORNAME = item.VENDORCODE + " : " + item.VENDORNAME;
        vendorListWithCode.Add(objVendor);
    }
}

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Srno, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("MappingList", Model.Srno.ToString()))
    {
        <td class="col-md-1 center">
            @Model.Srno
        </td>
        <td class="col-md-4">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.DropDownListFor(m => m.VendorCode, new SelectList(vendorListWithCode, "VENDORCODE", "VENDORNAME"), "", new { @class = "required required2 drp form-control", placeholder = "Select Vendor" })
                    @Html.HiddenFor(c=>c.ID)
                </div>
            </div>
        </td>
        <td class="col-md-5">
            <div class="form-group">
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.UserId, new { placeholder = "Select User(s)", @class = "required2 form-control required drpUser" })
                </div>
            </div>
        </td>
    <td class="center">
        <div class="form-group">
            <div class="col-md-1">
                @Html.CheckBoxFor(c => c.IsActive)
                </div>
            </div>
        </td>

        <td class="center">
            @if (Model.Srno > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteload">X</a></text>
            }
            else
            {
                <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
            }
        </td>
    }
</tr>