﻿@model Fleet.ViewModels.VendorViewModel
@using FleetDataService.Models
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> ListVendorType = Model.ListGnMST.Where(c => c.CodeType.ToUpper() == "VENDTY" && c.StatusCode == "Y").OrderBy(c => c.CodeDesc).ToList();
    string BLACKLISTED = "", Active = "";
    if (Model.VendorDET.BLACKLISTED != null && Model.VendorDET.BLACKLISTED == "Y")
    {
        BLACKLISTED = "checked";
        Model.VendorDET.BLACKLISTED = "Y";
    }
    if (Model.VendorHDR.Active != null && Model.VendorHDR.Active == "Y" || Model.EditFlag == "false")
    {
        Active = "checked";
        Model.VendorHDR.Active = "Y";
    }
    List<webx_location> ListLocations = new List<webx_location>();
    var Text = "Submit"; var type = "Add";
    if (Model.EditFlag == "true")
    {
        Text = "Update";
        type = "Edit";
        ListLocations = MS.GetLocationDetails();
    }

    if (Model.VendorHDR.Expirydate == null || Model.VendorHDR.Expirydate == System.DateTime.MinValue)
    {
        Model.VendorHDR.Expirydate = System.DateTime.Now;
    }

    List<Webx_Master_General> ListRateType = MS.GetGeneralMasterObject().Where(c => c.CodeType.ToUpper() == "PDCRATETYP" && c.StatusCode == "Y").ToList();
}


@using (Html.BeginForm("VendorMasterSubmit", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-10">
            <h4>@type Vendor <b>@Model.VendorHDR.VENDORCODE</b></h4>
        </div>
        @if (Model.EditFlag == "true")
        {
            <div class="col-md-2">
                <a class="btn default blue-stripe pull-right" style="margin-top:5px;" href="@Url.Content("~/Master/Vendor")">
                    <i class="fa fa-plus"></i>
                    Add new Vendor
                </a>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Vendor Code

                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VendorHDR.VENDORCODE, new { @class = "form-control", @placeholder = "System Generated", @readonly = true })
                                        @Html.HiddenFor(model => model.EditFlag)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Name  </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VendorHDR.VENDORNAME, new { @class = "required required2 form-control", @placeholder = "Name" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Vendor Type</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.VendorHDR.Vendor_Type, new SelectList(ListVendorType, "CodeId", "CodeDesc"), "", new { @class = "select2 required required2 form-control", @placeholder = "Vendor Type" })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Address </label>
                                            <div class="col-md-8 required">

                                                @Html.TextAreaFor(m => m.VendorHDR.Default_Addr, new { @class = "required required2 form-control", @placeholder = "Address" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Vendor City</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.VendorDET.VENDORCITY, new { @class = "form-control", @placeholder = "Vendor City" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Pincode </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.VendorDET.VENDORPIN, new { @class = "form-control", @placeholder = "Pincode", @maxlength = 6 })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Vendor Phone No.</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.VendorDET.VENDORPHONE, new { @class = "form-control", @placeholder = "Vendor Phone No.", @maxlength = 10 })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Email </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.VendorDET.VENDOREMAIL, new { @class = "form-control email", @placeholder = "Email" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Active</label>
                                            <div class="col-md-3 chkactive">
                                                @Html.HiddenFor(m => m.VendorHDR.Active)
                                                <input type="checkbox" class="chkactive" id="Active" @Active />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Black Listed</label>
                                            <div class="col-md-3 chkactive">
                                                @Html.HiddenFor(m => m.VendorDET.BLACKLISTED)
                                                <input type="checkbox" class="chkactive" id="BLACKLISTED" @BLACKLISTED />
                                            </div>
                                            <label class="control-label col-md-4">GST Apply?</label>
                                            <div class="col-md-1 chkactive">
                                                @Html.CheckBoxFor(m => m.VendorHDR.IsGSTApplied)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Porter</label>
                                            <div class="col-md-3 chkactive">
                                                @Html.CheckBoxFor(m => m.VendorHDR.Porter)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Vendor Locations(Multiple) </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.VendorDET.VENDORBRCD, new { @class = "form-control required required2 ", @placeholder = "Vendor Locations", @multiple = "multiple" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>Other Information
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">PAN No.</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VendorHDR.PAN_NO, new { @class = "required required2 form-control", @placeholder = "PAN No.", @maxlength = 10 })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Service Tax No.</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VendorHDR.SERVTAXNO, new { @class = "form-control", @placeholder = "Service Tax No.", @maxlength = 15 })
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Remarks</label>
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model.VendorHDR.VENDORREMARKS, new { @class = "form-control", @placeholder = "Remarks" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Name Of bank</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VendorHDR.BankId, new { @class = "required required2 form-control", @placeholder = "Name Of bank" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Bank A/C No.</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VendorHDR.BankAccountNo, new { @class = "form-control", @placeholder = "Bank A/C No." })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">IFSC Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VendorHDR.BankIFSCCode, new { @class = "form-control", @placeholder = "IFSC Code" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Expiry date</label>
                                    <div class="col-md-8">
                                        <div class="input-group date date-picker" data-date-format="dd MMM yyyy">
                                            @Html.TextBox("VendorHDR.Expirydate", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.VendorHDR.Expirydate).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @readonly = "True" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Rate Type.</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.VendorHDR.RateType, new SelectList(ListRateType, "CodeId", "CodeDesc"), "", new { @class = "select2 required required2 form-control", @placeholder = "Rate Type" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Vendor Credit Limit</label>
                                    <div class="col-md-8">
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.VendorHDR.VendorCrLimit, new { @class = "form-control", @placeholder = "Vendor Credit Limit", @maxlength = 15, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>Documents Upload
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <table class="table table-striped table-bordered table-hover table-full-width" id="sample_2">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="center">
                                            Image
                                        </th>
                                        <th class="center">
                                            Remarks
                                        </th>
                                        <th class="center">
                                            X
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tblUploadDocument">
                                    @if (Model.ListVendorDoc.Count > 0)
                                    {
                                        foreach (var item in Model.ListVendorDoc)
                                        {
                                            Html.RenderPartial("_VendorDocumentDetails", item);
                                        }
                                    }
                                    else
                                    {
                                        Html.RenderPartial("_VendorDocumentDetails", Model.VendorDoc);
                                    }
                                </tbody>
                            </table>
                            <br />
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-9">
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" id="btnAddRow" class="btn btn-sm blue pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>State Wise GST Details
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="center">
                                                State Name
                                            </th>
                                            <th class="center">
                                                GST Registration No
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (CygnusVendorGSTDetails itm in Model.stateGSTList)
                                        {
                                            Html.RenderPartial("_VendorGSTDetails", itm);
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <a class="btn btn-sm default controls" href="@Url.Content("~/Master/VendorList")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To List</a>
            <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;@Text</button>
        </div>
    </div>
}

