﻿@model FleetDataService.Models.Cygnus_Vendor_Document
@using Fleet.Models;
@using Fleet.Helpers;

<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Id, new { @class = "iHidden" })

    @using (Html.BeginCollectionItem("UploadDoc", Model.Id.ToString()))
    {
        <td class="form-group">
            <div class="fileinput fileinput-new col-md-11 divfile" id="divfileupload_@Model.Id" data-provides="fileinput">
                @if (Model.ImagePath != null)
                {
                    <div class="col-md-3 fileinput-preview fileinput-exists thumbnail" style="max-width: 30px; max-height: 50px;">
                        @Html.HiddenFor(c => c.ImagePath)
                    </div>
                    <a class="col-md-2 margin-top-5 text-primary" target="_blank" href="~/@Model.ImagePath.Remove(0,1)">@Model.VendorId</a>
                }
                else
                {
                    <div class="fileinput-preview fileinput-exists thumbnail col-md-3" style="max-width: 70px; max-height: 70px;">
                    </div>
                }

                <div class="col-md-9">
                    <span class="btn default btn-file form-group">
                        <span class="fileinput-new">
                            Select image
                        </span>
                        <span class="fileinput-exists">
                            Change
                        </span>
                        <input type="file" id="@Model.Id" name="files_@Model.Id" class="default" accept="image/*">

                    </span><br />
                    <a href="#" class="btn default fileinput-exists" data-dismiss="fileinput" style="margin-top:5px">
                        Remove
                    </a>

                </div>
            </div>
        </td>
        <td class="form-group">
            @Html.HiddenFor(m => m.Id)
            @Html.TextAreaFor(m => m.Remark, new { @class = "form-control required2", @placeholder = "Remarks" })
        </td>
            <td>
                @if (Model.Id > 1)
                {
                    <text> &nbsp; &nbsp; &nbsp; &nbsp;<a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow">X</a></text>
                }
                else
                {
                    <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
                }
            </td>
    }
</tr>