﻿@model FleetDataService.Models.CygnusVendorGSTDetails
@using FleetDataService.Models;
@using Fleet.Helpers;

<tr>
    @using (Html.BeginCollectionItem("ListVendorGSTDetails", Model.statecode.ToString()))
    {
        <td>
            @Model.statename
            @Html.HiddenFor(c => c.statecode)
            @Html.HiddenFor(c => c.vendcode)
            @Html.HiddenFor(c=>c.statename)
        </td>
        <td class="form-group">
            @Html.TextBoxFor(c => c.gst_registration_no, new { @class = "required2 form-control clsGST col-md-3 GSTNo", @placeholder = "GST Registration No." })
        </td>
    }
</tr>
