﻿@model Fleet.ViewModels.AddEditAccountGroupViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "Add Account Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_Groups> mainCategory_List = MS.GroupMainCategoryList();
}


@using (Html.BeginForm("AddAccountGroupSubmit", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-8">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i> @ViewBag.Title
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Group Code :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(m => m.Group.Groupcode, new { @placeholder = "System Generated", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Main Category :
                                    </label>
                                    <div class="col-md-4">
                                        @*@Html.TextBoxFor(c => c.EditGroup.main_category, new { @placeholder = "Main Category", @class = "form-control", @readonly = "true" })*@
                                        @Html.DropDownListFor(m => m.Group.main_category, new SelectList(mainCategory_List, "main_category", "main_category"), "", new { @class = "select form-control required required2" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Select Group :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.Group.Parentcode, new { placeholder = "Select Group", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" id="GrpCode">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Manual GroupCode :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.Group.Company_Groupcode, new { @placeholder = "Manual Group Code", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12" id="CmpCode">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Group Name :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.Group.Groupdesc, new { @placeholder = "Group Name", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="button" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    var FormComponents = function (DomainName) {

        var Events = function (DomainName) {

            $("#Group_main_category").live('change', function () {
                var test = $("#Group_main_category").val();
                var Id = $("#Group_Parentcode").attr('id');
                var StrURL = DomainName + '/Master/GETGroupListDDL?MainCategory=' + test;
                JsonDDL(Id, StrURL, false);
            });

            $("#Group_Parentcode").live('change', function () {
                var test = $("#Group_Parentcode").val();
                console.log(test);
            });

            $('#btnSubmit').on('click', function () {
                FormValidate(DomainName);
                var Type = $("#Type").val();
                if ($('#form_sample').valid()) {
                    $('#form_sample').submit();
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                $("select").select2({
                    placeholder: "Select an option"
                });
                Events(DomainName);
            }
        }
    }();
</script>
