﻿@model Fleet.ViewModels.AddAccountModel
@using FleetDataService.Models;
@using Fleet.Classes;
@using Fleet.ViewModels;
@{
    ViewBag.Title = "Add Account";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<WEBX_GROUPS> GroupList = new List<WEBX_GROUPS>();
    //if(Model.Type=="0")
    //{
    GroupList = MS.Get_AccountGroupList(Model.AccountCategory);
    @*}
        else
        {
            GroupList = MS.Get_AccountGroupListAll(Model.AccountCategory);
        }*@
    List<Webx_Master_General> CategoryList = MS.GetAccountCategoryList();
    List<SelectListItem> AccountCategoryList = new List<SelectListItem>(){
      new SelectListItem{ Text="ASSET", Value = "ASSET" },
      new SelectListItem{ Text="EXPENSE", Value = "EXPENSE" },
      new SelectListItem{ Text="INCOME", Value = "INCOME" },
      new SelectListItem{ Text="LIABILITY", Value = "LIABILITY" },
    };

    string Active = "";
    if (Model.ACTIVEFLAG != null && Model.ACTIVEFLAG == "Y")
    {
        Active = "checked";
        Model.ACTIVEFLAG = "Y";
    }
    string BranchCkb = "";
    if (Model.IsAllBranch != null && Model.IsAllBranch == "Y")
    {
        BranchCkb = "checked";
    }

}

@using (Html.BeginForm("AddAccountSubmit", "Master", FormMethod.Get, new { @id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Account Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.AccountCode, new { placeholder = "System Generated", @readonly = "true", @class = "form-control", })
                                        @Html.HiddenFor(m => m.Type)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Select Main Category</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.AccountCategory, new SelectList(MS.GroupMainCategoryList().ToList(), "main_category", "main_category"), "", new { @class = "select2 required2 required form-control  required2 select2", @placeholder = "Select Main Category" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Select Group</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.AccGroup, new SelectList(GroupList, "Groupcode", "Groupdesc"), "", new { @class = "select2 required2 required form-control", @placeholder = "Manual Account Code" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Manual Account Code</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.ManualAccountCode, new { placeholder = "Manual Account Code", @class = "form-control required2 required" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Account Description</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.AccountDescription, new { placeholder = "Account Description", @class = "form-control required2 required" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Account Category</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Category, new SelectList(CategoryList, "CodeDesc", "CodeId"), "", new { @class = "select2 required2 required form-control", @placeholder = "Select Account Category" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Active</label>
                                    <div class="col-md-1 chkactive">
                                        @Html.HiddenFor(m => m.ACTIVEFLAG)
                                        <input type="checkbox" id="Active" @Active />
                                    </div>
                                    <label class="control-label col-md-6">Applicable Accounting Locations</label>
                                    <div class="col-md-1 chkactive">
                                        @Html.HiddenFor(m => m.IsAllBranch)
                                        <input type="checkbox" class="branchall" id="BranchCkb" @BranchCkb />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 brnchhd">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(c => c.LocationCode, new { placeholder = "Enter Branch code", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row cksbank">
                        <div class="col-md-12">
                            <div class="portlet box @ViewBag.TableBoxColor">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-edit"></i>Provide Location detail for a Bank account
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Account Number</label>
                                                    <div class="col-md-6">
                                                        @Html.TextBoxFor(m => m.AccountNo, new { placeholder = "Account Number", @class = "form-control", })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Applicable to Locations</label>
                                                    <div class="col-md-6">
                                                        @Html.TextBoxFor(c => c.BankLocationCode, new { placeholder = "Enter Branch code", @class = "form-control"})
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions fluid" id="SubmitBtn">
                        <div class="row">
                            <div class="col-md-offset-5 col-md-5">
                                <button type="submit" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-check"></i>&nbsp;Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.form["form_sample"].submit();
                }
            });
        }

        var Events = function (DomainName) {

            $('#btnSubmit').click(function () {
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });
                }
            });

            $('#Active').on("change", function () {
                $('#ACTIVEFLAG').val($(this).is(':checked') ? 'Y' : 'N')
            });

            $('#BranchCkb').on("change", function () {
                $('#IsAllBranch').val($(this).is(':checked') ? 'Y' : 'N');
                if ($('#IsAllBranch').val() == "N") {
                    $('.brnchhd').show();
                    $("#BranchCkb").parent('span').removeClass('checked');
                }
                else {
                    $('.brnchhd').hide();
                    $("#BranchCkb").parent('span').addClass('checked');
                }
                //MultiSelectDDL('LocationCode', DomainName + '/Operation/GetDestinationLocations_With_HQTR', false);
                GetType("LocationCode", "LocationCode", DomainName + "/Master/GetCustomerLocationListJson");
            });

            $('#AccountCategory').on("change", function () {
                console.log($(this).val())
                var strUrl = DomainName + '/Master/Get_AccountGroup/' + $(this).val();
                App.blockUI();
                FillDropDownfromOther('AccGroup', strUrl, '');
            });

            $('#Category').on("change", function () {
                var selectcat = $('#Category').val();
                if (selectcat == "BANK" || selectcat == "CC") {
                    $('.cksbank').show();
                }
                else {
                    $('.cksbank').hide();
                }
            });

            //MultiSelectDDL('BankLocationCode', DomainName + '/Operation/GetDestinationLocations_With_HQTR', false);
            GetType("BankLocationCode", "BankLocationCode", DomainName + "/Master/GetCustomerLocationListJson")
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                Events(DomainName);
                $('.brnchhd').hide();
                $('.cksbank').hide();
                $('#AccGroup').val("@Model.AccGroup");
                $('#Category').trigger("change");
                $('#BranchCkb').trigger("change");
            }
        }
    }();
</script>