﻿@model FleetDataService.Models.webx_HandlingCharge
@using FleetDataService.Models
@using Fleet.Helpers
@{
    ViewBag.Title = "Add Customer Charges Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.ContractService CS = new FleetDataService.ContractService();
    FleetDataService.MasterService MS = new FleetDataService.MasterService();


    var LoadingBy = new List<SelectListItem> {
    new SelectListItem { Text = "ATTACHED", Value = "A" },
    new SelectListItem { Text = "MARKET", Value = "M" },
    };
    var Type = new List<SelectListItem> {
    new SelectListItem { Text = "Loading", Value = "L" },
    new SelectListItem { Text = "Unloading", Value = "U" },
    };

    List<Webx_Master_General> ListLocations = MS.GetColumnSplitMasterObject("Location").OrderBy(c => c.Code).ToList();



    List<Webx_Master_General> RateList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "HANDCHRG" && c.StatusCode == "Y").OrderBy(c => c.CodeId).ToList();
}

@using (Html.BeginForm("AddCustomerChargesSubmit", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet">
                                    <div class="portlet-body ">
                                        <div class="form-body">
                                            <table id="sample_1" class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="center">Type</th>
                                                        <th class="center">Location</th>
                                                        <th class="center">Customer</th>
                                                        <th class="center">Loading By</th>
                                                        <th class="center">Rate Type</th>
                                                        <th class="center">Rate</th>
                                                        <th class="center">Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="col-md-1">
                                                            <div class="form-group">
                                                                <div class="col-md-11">
                                                                    @Html.HiddenFor(m => m.Id)
                                                                    @Html.DropDownListFor(m => m.Type, new SelectList(Type, "Value", "Text"), "", new { @class = "required required2 select2 drp form-control", placeholder = "Select Load Type" })
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="col-md-2">
                                                            <div class="form-group">
                                                                <div class="col-md-11">
                                                                    @Html.DropDownListFor(m => m.BranchCode, new SelectList(ListLocations, "Code", "Name"), "", new { @class = "required required2 select2 drp form-control", placeholder = "Select Branch Code" })

                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="col-md-2">
                                                            <div class="form-group">
                                                                <div class="col-md-11">
                                                                    @*@Html.DropDownListFor(m => m.Customer, new SelectList(Listcustomer, "Code", "Name"), "", new { @class = "required required2 select2 drp form-control", placeholder = "Select Customer" })*@
                                                                    @Html.TextBoxFor(m => m.CustomerCode, new { @class = "required required2 form-control", placeholder = "Select Customer" })
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="col-md-2">
                                                            <div class="form-group">
                                                                <div class="col-md-11">
                                                                    @Html.DropDownListFor(m => m.LoadingBy, new SelectList(LoadingBy, "Value", "Text"), "", new { @class = "required required2 select2 drp form-control", placeholder = "Select Loading By", @readonly = "true" })

                                                                </div>
                                                            </div>
                                                        </td>

                                                        <td class="col-md-1">
                                                            <div class="form-group">
                                                                <div class="col-md-11">
                                                                    @Html.DropDownListFor(m => m.RateType, new SelectList(RateList, "CodeId", "CodeDesc"), "", new { @class = "required required2 select2 drp form-control", placeholder = "Select rate Type" })

                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="col-md-2">
                                                            <div class="form-group">
                                                                <div class="col-md-11">
                                                                    @Html.TextBoxFor(m => m.Rate, new { placeholder = "Rate", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="col-md-2">
                                                            <div class="form-group">
                                                                <div class="col-md-11">
                                                                    @Html.TextBoxFor(m => m.CustomerCharges, new { placeholder = "Monthly Amount", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <a class="btn btn-sm default controls" href="@Url.Content("~/Master/CustomerLoadUnloadList")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To List</a>
            <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var Events = function (DomainName) {
            $('#btnSubmit').click(function () {
                if (!$('#form_sample').valid()) {
                    return false;
                }
                else {
                    App.blockUI({ boxed: true });
                    document.forms[0].submit();
                }
            });

        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                Events(DomainName);


                StrURL = DomainName + "/Master/GetCustomerList?Type=0";
                JsonDDLSelectCode("CustomerCode", StrURL);
            }
        }
    }();

</script>