﻿@model Fleet.ViewModels.webx_Vehicle_TypeViewModel
@using FleetDataService.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Text = "Submit"; bool Active = false; var type = "Add";
    if (Model.WVT.Type_Code != null && Model.WVT.Type_Code > 0)
    {
        Text = "Update";
        type = "Edit";
    }

    if (Model.WVT.ActiveFlag != null && Model.WVT.ActiveFlag.ToUpper() == "Y" || Model.EditFlag == false)
    {
        Active = true;
    }

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> TruckList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "VHCAT").ToList();

    ViewBag.Title = @type + " Vehicle Type";
}
<div class="row">
    <div class="col-md-10">
        <h4>@type Vehicle Type <b>@Model.WVT.Type_Name</b></h4>
    </div>
    @if (Model.EditFlag == true)
    {
        <div class="col-md-2">
            <a class="btn default blue-stripe pull-right" style="margin-top:5px;" href="@Url.Content("~/Master/AddEditVehicleType/0")">
                <i class="fa fa-plus"></i>
                Add Vehicle Type
            </a>
        </div>
    }
</div>
<div class="alert alert-danger display-hide">
    <button class="close" data-close="alert"></button>
    You have some form errors. Please check below.
</div>
<div class="alert alert-success display-hide">
    <button class="close" data-close="alert"></button>
    Your form validation is successful!
</div>
@using (Html.BeginForm("AddEditVehicleType", "Master", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal", @readonly = "true" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>&nbsp;Basic Information
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Vehicle Type Code
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.WVT.Type_Code, new { placeholder = "System Generated", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Manufacturer Name
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.WVT.Made_By, new { placeholder = "Vehicle Manufacturer Name", @class = "form-control required required2" })
                                        @Html.ValidationMessageFor(c => c.WVT.Made_By)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Vehicle Name
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.WVT.Type_Name, new { placeholder = "Vehicle Name", @class = "form-control required required2" })
                                        @Html.ValidationMessageFor(c => c.WVT.Type_Name)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Model No.
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.WVT.Model_No, new { placeholder = "Model No.", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                        @Html.ValidationMessageFor(c => c.WVT.Model_No)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Truck / Trailer
                                    </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.WVT.Vehicle_Type_Category, new SelectList(TruckList, "CodeId", "CodeDesc"), "", new { @class = "span15 select2 required required2 form-control", @placeholder = "Select Truck / Trailer" })
                                        @Html.ValidationMessageFor(c => c.WVT.Vehicle_Type_Category)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Tyre Rotation at Km
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.WVT.TyreRotate_KM, new { placeholder = "Tyre Rotation at Km", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                        @Html.ValidationMessageFor(c => c.WVT.TyreRotate_KM)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Type Description
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.WVT.Type_Desc, new { placeholder = "Type Description", @class = "form-control required required2" })
                                        @Html.ValidationMessageFor(c => c.WVT.Type_Desc)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Active
                                    </label>
                                    <div class="col-md-7 chkactive">
                                        @Html.CheckBox("ActiveFlag", @Active)
                                        @Html.HiddenFor(c => c.WVT.ActiveFlag)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>&nbsp;Capacity Information in Ton
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Gross Vehicle Weight
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.WVT.Payload, new { placeholder = "Gross Vehicle Weight", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                        @Html.ValidationMessageFor(c => c.WVT.Payload)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Unladen Weight
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.WVT.usedcapacity, new { placeholder = "Unladen Weight", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                        @Html.ValidationMessageFor(c => c.WVT.usedcapacity)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Capacity
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.WVT.Capacity, new { placeholder = "Capacity", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                        @Html.ValidationMessageFor(c => c.WVT.Capacity)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Rate per KM
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.WVT.Rate_Per_KM, new { placeholder = "Rate per KM", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                        @Html.ValidationMessageFor(c => c.WVT.Rate_Per_KM)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Fuel Type
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.WVT.Fuel_Type, new { placeholder = "Fuel Type", @class = "form-control required required2" })
                                        @Html.ValidationMessageFor(c => c.WVT.Fuel_Type)
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        CFT
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.WVT.CFT, new { placeholder = "CFT", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                        @Html.ValidationMessageFor(c => c.WVT.CFT)
                                    </div>
                                </div>
                            </div>*@
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Height
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.WVT.Height, new { placeholder = "Height", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                        @Html.ValidationMessageFor(c => c.WVT.Height)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Length
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.WVT.length, new { placeholder = "Length", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                        @Html.ValidationMessageFor(c => c.WVT.length)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Width
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.WVT.width, new { placeholder = "Width", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                        @Html.ValidationMessageFor(c => c.WVT.width)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <a href="@Url.Content("~/Master/VehicleType")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back To List </a>
            <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;@Text </button>
        </div>
    </div>
}
<script type="text/javascript">

                    var FormComponents = function (DomainName) {

                        var Formvalidate = function (DomainName) {
                            var form1 = $('#form_sample');
                            var error1 = $('.alert-danger', form1);
                            var success1 = $('.alert-success', form1);

                            form1.validate({
                                doNotHideMessage: true,
                                errorElement: 'span', //default input error message container
                                errorClass: 'help-block', // default input error message class
                                // errorClass: 'validate-inline',
                                focusInvalid: false, // do not focus the last invalid input
                                ignore: "",

                                rules: {
                                    //account dateFuture
                                    'WVT.UserPwd': {
                                        minlength: 6
                                    },
                                    'ConfirmPassword': {
                                        equalTo: "#WVT_UserPwd"
                                    },
                                },

                                messages: {
                                },

                                invalidHandler: function (event, validator) { //display error alert on form submit
                                    success1.hide();
                                    error1.show();
                                    App.scrollTo(error1, -200);
                                },

                                highlight: function (element) { // hightlight error inputs
                                    $(element)
                                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                                },

                                unhighlight: function (element) { // revert the change done by hightlight
                                    $(element)
                                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                                },

                                success: function (label) {
                                    label
                                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                                },

                                submitHandler: function (form) {
                                    success1.show();
                                    error1.hide();

                                    $("#btnSubmit").hide();
                                    $.post($("#form_sample").attr('action'), $("#form_sample").serialize(), function (data, status) {
                                        if (status == "success") {
                                            TosterNotification("success", "Record has been saved successfully..!!", "Success");
                                            window.location.href = DomainName + '/Master/VehicleType';
                                        }
                                        else {
                                            TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                                        }
                                    });

                                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                                }
                            });
                        }
                        return {
                            init: function (DomainName) {
                                Formvalidate(DomainName);
                                $('#ActiveFlag').change(function () {
                                    if ($(this).is(":checked")) {
                                        $("#WVT_ActiveFlag").val("Y");
                                    }
                                    else {
                                       
                                        $("#WVT_ActiveFlag").val("N");
                                    }
                                });
                              
                                if ($("#WVT_ActiveFlag").val().toUpperCase() == "Y") {
                                    $('#ActiveFlag').val(":checked");
                                }
                                else {
                                    $('#ActiveFlag').is(":not(:checked)");
                                }
                            }
                        }
                    }();
</script>


