﻿@model Fleet.ViewModels.WEBX_FLEET_GENERALTASKMSTViewModel
@using FleetDataService.Models
@using Fleet.Classes
@{
    ViewBag.Title = "AddEditGeneralTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<WEBX_FLEET_GENERALTASKMST> listDocType = MS.GetTaskListObject().ToList();
}

@using (Html.BeginForm("AddGeneralTask", "Master", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
{
<div class="row" id="GeneralTask">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Text Task List
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">

                    <table id="sample_ven" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Task Description</th>
                                <th>Task Type</th>
                                <th>Estimated Labour Hrs.</th>
                                <th>Active</th>
                                <th>X</th>
                            </tr>
                        </thead>
                        <tbody id="containerTblTask">
                            @foreach (var item in Model.listWFGTM)
                            {
                                Html.RenderPartial("_PartialGeneralTask", item);
                            }
                        </tbody>
                    </table>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3 pull-right">
                                    <button type="button" id="btnAddTaskDetail" class="btn green pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                </div>
                            </div>
                        </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-8">
                            <a href="@Url.Content("~/Master/GeneralTask")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back to List </a>
                            <button type="button" id="BtnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var AddTaskInfo = function (DomainName, itemIndex,Code) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Master/ADDTaskInfo?id=' + itemIndex + '&Code=' + Code;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#containerTblTask").append(html);
                    App.unblockUI();
                    $("input[type=checkbox], input:radio, input:file").uniform();
                    $("select").select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });

                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });

                var itemIndex = $("#sample_ven input.iHidden").length + 1;
                //AddTaskInfo(DomainName, itemIndex);

                $("#btnAddTaskDetail").live('click', function () {
                    itemIndex = $("#sample_ven input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddTaskInfo(DomainName, itemIndex, '@ViewBag.ID');
                        }, 100 * i);
                    }
                });
                $("#BtnSave").click(function (e) {
                    App.blockUI({ Boxed: true });
                    //alert($('#form_sample').serialize());
                    $.ajax({
                        url: DomainName + '/Master/AddGeneralTask',
                        cache: false,
                        data: $('#form_sample').serialize(),
                        type: 'POST',
                        success: function (data) {
                            TosterNotification("success", "Record has been updated successfully..!!", "Success");
                            setTimeout(function () {
                                window.location.replace(DomainName + '/Master/GeneralTask')
                            }, 500);
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                    $("input:checkbox, input:radio").uniform();
                });
            }
        }
    }();
</script>

