﻿@model Fleet.ViewModels.SMTaskViewModel
@using FleetDataService.Models
@using Fleet.ViewModels
@using Fleet.Classes
@using System.Data;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Text = "Submit"; bool Active = false; var type = "Add";
    if (Model.WFSHM.SMTask_Id > 0)
    {
        Text = "Update";
        type = "Edit";
    }
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<SMTask> VehicleList = MS.GetVehiclaDetforSmTask(Model.SFM.id).ToList();
    ViewBag.Title = @type + " SMTask";
}

<div class="row">
    <div class="col-md-10">
        <h4>@ViewBag.Title <b>@Model.SFM.id</b></h4>
    </div>
    @if (Model.WFSHM.SMTask_Id != null)
    {
        <div class="col-md-2">
            <a class="btn default blue-stripe pull-right" style="margin-top:5px;" href="@Url.Content("~/Master/AddEditSMTask/0")">
                <i class="fa fa-plus"></i>
                Add Spare Part
            </a>
        </div>
    }
</div>
@using (Html.BeginForm("AddEditSMTask", "Master", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal", @readonly = "true" }))
{

    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        You have some form errors. Please check below.
    </div>
    <div class="alert alert-success display-hide">
        <button class="close" data-close="alert"></button>
        Your form validation is successful!
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>SM Task Details
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Vehicle Model
                                        </label>
                                        <div class="col-md-7">
                                            @Html.HiddenFor(c=>c.WFSHM.SMTask_Id)
                                            @Html.TextBoxFor(c => c.WFSHM.VEH_TYPE_CODE, new { @class = "required required2 form-control Tasktype", @placeholder = "Select Vehicle Type"})
                                            @Html.ValidationMessageFor(c => c.WFSHM.VEH_TYPE_CODE)
                                            @Html.HiddenFor(c => c.WFSHM.VEH_TYPE_CODEValue)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>SM Task Details
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Work Group</th>
                                    <th>Task Description</th>
                                    <th>Task Type</th>
                                    <th>Unit Of Measure</th>
                                    <th>Estimated Hours</th>
                                    <th>Service Intervals Days</th>
                                    <th>Service Intervals Kms</th>
                                    <th>Advance Notification Days</th>
                                    <th>Advance Notification Kms</th>
                                    <th>X</th>
                                </tr>
                            </thead>
                            <tbody id="containerTblSMTask">
                                @foreach (var item in Model.listWFSDM)
                                {
                                    Html.RenderPartial("_PartialSMTask", item);
                                }
                            </tbody>
                        </table>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-9">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="btnAddSMTask" class="btn green pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                <a href="@Url.Content("~/Master/SMTask")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back to List </a>
                                <button type="submit" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i>&nbsp;@Text </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {

                },

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();

                    $("#btnSubmit").hide();
                    App.blockUI({ boxed: true });
                    $.ajax({
                        url: $('#form_sample').attr('action'),
                        type: 'POST',
                        data: $('#form_sample').serialize(),
                        success: function (result) {
                            if (result) {
                                TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                setTimeout(function () {
                                    window.location = DomainName + "/Master/SMTask";
                                }, 1500);
                            }
                            else {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                                App.unblockUI();
                            }
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                }
            });
        }

        var AddSMTaskInfo = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Master/ADDSMTaskInfo?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#containerTblSMTask").append(html);
                    App.unblockUI();
                    $("input[type=checkbox], input:radio, input:file").uniform();
                    $('select').select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    $("#SMTask_" + itemIndex + "__T_UOM").change(function () {
                        if ($(this).val() == "Days") {
                            $("#SMTask_" + itemIndex + "__SERVICE_INTERVALS_DAY").attr('readonly', false);
                            $("#SMTask_" + itemIndex + "__ADV_NOTIFICATION_DAY").attr('readonly', false);
                            $("#SMTask_" + itemIndex + "__SERVICE_INTERVALS_KMS").attr('readonly', true);
                            $("#SMTask_" + itemIndex + "__ADV_NOTIFACATION_KMS").attr('readonly', true);
                        }
                        else if ($(this).val() == "KMS") {
                            $("#SMTask_" + itemIndex + "__SERVICE_INTERVALS_DAY").attr('readonly', true);
                            $("#SMTask_" + itemIndex + "__ADV_NOTIFICATION_DAY").attr('readonly', true);
                            $("#SMTask_" + itemIndex + "__SERVICE_INTERVALS_KMS").attr('readonly', false);
                            $("#SMTask_" + itemIndex + "__ADV_NOTIFACATION_KMS").attr('readonly', false);
                        } 
                        else {
                            $("#SMTask_" + itemIndex + "__SERVICE_INTERVALS_DAY").attr('readonly', false);
                            $("#SMTask_" + itemIndex + "__ADV_NOTIFICATION_DAY").attr('readonly', false);
                            $("#SMTask_" + itemIndex + "__SERVICE_INTERVALS_KMS").attr('readonly', false);
                            $("#SMTask_" + itemIndex + "__ADV_NOTIFACATION_KMS").attr('readonly', false);
                        }

                    });
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }

        return {
            init: function (DomainName) {
                Formvalidate(DomainName);
                var StrURL = DomainName + "/Master/GetVehicleCodeJson/" + @Model.SFM.id
                GetType("WFSHM_VEH_TYPE_CODE", "PKPDL", StrURL)

                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });
                $("#WFSHM_VEH_TYPE_CODEValue").val($("#WFSHM_VEH_TYPE_CODE").val());
                $("#WFSHM_VEH_TYPE_CODE").change(function () {
                    $("#WFSHM_VEH_TYPE_CODEValue").val($(this).val());
                });
                var itemIndex = $("#sample_ven input.iHidden").length + 1;
                @*if ('@Model.WFSDM.Srno' == 0) {
                    AddSparePartInfo(DomainName, itemIndex);
                }*@

                $("#btnAddSMTask").live('click', function () {
                    itemIndex = $("#sample_ven input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddSMTaskInfo(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });

            }
        }
    }();
</script>

