﻿@model Fleet.ViewModels.Webx_Master_RoleViewModel
@using FleetDataService.Models
@using CYGNUS.Classes
@using System.Data;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Text = "Submit"; bool Active = false; var type = "Add";


    ViewBag.Title = @type + "AddEditRole";
}


@using (Html.BeginForm("RoleMastersubmit", "Master", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal", @readonly = "true" }))
{
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        You have some form errors. Please check below.
    </div>
    <div class="alert alert-success display-hide">
        <button class="close" data-close="alert"></button>
        Your form validation is successful!
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Role Master
                    </div>
                    <div class="caption">
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-2">Designation</th>
                                    <th class="col-md-2">Hierarchy</th>
                                    <th class="col-md-2">Multiple Employees For Role</th>
                                    <th class="col-md-2">Active</th>
                                    
                                </tr>
                            </thead>
                            <tbody id="containerTblRouteCity">
                                @Html.HiddenFor(c => c.role.srno)
                                @foreach (var item in Model.listrole)
                                {
                                    Html.RenderPartial("_PartialAddEditRole", item);
                                }
                                @*<tr>

                                    <td><input type="text" class="form-control" id="sum_tr" readonly value="" /></td>
                                    <td><input type="text" class="form-control" readonly /></td>
                                    <td><input type="text" class="form-control" id="sum_st" readonly /></td>
                                    <td><input type="text" class="form-control" readonly /></td>
                                </tr>*@
                            </tbody>
                        </table>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-9">
                                </div>

                                @if (Model.role.srno <= 0)
                                {
                                    <div class="col-md-3">
                                        <button type="button" id="btnAddRole" class="btn green pull-right"><i class="fa fa-plus"></i>&nbsp;Add Role</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 form-actions fluid ">
        <div class="col-md-offset-4 col-md-8">
            <a class="btn btn-sm default controls" href="@Url.Content("~/Master/ViewRoleMaster")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Search</a>
            @{
                if (Model.role.srno <= 0)
                {
                    <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;@Text </button>
                }
                else
                {
                    <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Update </button>
                }
            }


        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                    'WVT.UserPwd': {
                        minlength: 6
                    },
                    'ConfirmPassword': {
                        equalTo: "#WVT_UserPwd"
                    },
                },

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();


                    $.post($("#form_sample").attr('action'), $("#form_sample").serialize(), function (data, status) {
                        if (status == "success") {
                            TosterNotification("success", "Record has been saved successfully..!!", "Success");
                            //window.location.href = DomainName + '/Master/RouteCity';
                        }
                        else {
                            TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                        }
                    });

                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }
        var AddRoleInfo = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Master/ADDRoleInfo?srno=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#containerTblRouteCity").append(html);
                    App.unblockUI();
                    $("input[type=checkbox], input:radio, input:file").uniform();
                    $('#RutTran_' + itemIndex + '__RUTNO').val(itemIndex);
                    $('#RutTran1_' + itemIndex + '__Roleid').select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });

                    if (itemIndex > 1) {
                        $("#btnSubmit").show(1000);
                    }
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }

        return {
            init: function (DomainName) {

                $('#btnSubmit').click(function () {
                    if ($('#form_sample').valid()) {
                        App.blockUI({ boxed: true });
                        document.forms["form_sample"].submit()
                    }
                    else {
                        return false
                    }
                });
                

                Formvalidate(DomainName);
                $('#ActiveFlag').change(function () {
                    if ($(this).is(":checked")) {
                        $("#WRMCT_ACTIVEFLAG").val("Y");
                    }
                    else {
                        $("#WRMCT_ACTIVEFLAG").val("N");
                    }
                });
                if ($("#WRMCT_ACTIVEFLAG").val("Y")) {
                    $('#ActiveFlag').val(":checked");
                }
                else {
                    $('#ActiveFlag').is(":not(:checked)");
                }
                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });

                @*var itemIndex = $("#sample_ven input.iHidden").length + 1;
                if ('@Model.WRTCT.RUTNO' == '0') {
                    AddRouteCityInfo(DomainName, itemIndex);
                }*@

                $("#btnAddRole").live('click', function () {
                 
                    var itemIndex = $("#sample_ven input.iHidden").length + 1;
                    var TOTROW = 1;
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                          
                            AddRoleInfo(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });

              
                $(".TRTIME_HR").live('blur', function () {
                    var TRTIMESUM = 0;
                    $(".TRTIME_HR").each(function () {
                        TRTIMESUM = parseInt(TRTIMESUM) + parseInt($(this).val() == null ? 0 : $(this).val());
                        $("#sum_tr").val(TRTIMESUM);
                        //alert(sum)
                    });
                });

                $(".STTIME_HR").live('blur', function () {
                    var STTIMESUM = 0;
                    var TRTIMESUM = 0;
                    $(".TRTIME_HR").each(function () {
                        TRTIMESUM = parseInt(TRTIMESUM) + parseInt($(this).val() == null ? 0 : $(this).val());
                        $("#sum_tr").val(TRTIMESUM);
                    });
                    $(".STTIME_HR").each(function () {
                        STTIMESUM = parseInt(STTIMESUM) + parseInt($(this).val() == null ? 0 : $(this).val());
                        $("#sum_st").val(STTIMESUM);
                        $("#WRMCT_TransHrs").val(parseInt(STTIMESUM) + parseInt(TRTIMESUM));
                    });
                });

                $(document).on('change', '.LOCCD', function () {
                    var option_all = $(".LOCCD option:selected").map(function () {
                        return $(this).text();
                    }).get().join('-');
                    $("#WRMCT_RUTNM").val(option_all);
                    var firstindex = option_all.indexOf("-")
                    var lastIndex = option_all.lastIndexOf("-")
                    $("#WRMCT_RUTSTBR").val(option_all.substring(0, firstindex));
                    $("#WRMCT_RUTENDBR").val(option_all.substring(lastIndex + 1));
                })
            }
        }
    }();
</script>





