﻿@model Fleet.ViewModels.webx_Master_Flight_Schedule_DetViewModel
@using FleetDataService.Models
@using Fleet.Classes
@using System.Data;
@{    
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Text = "Submit"; bool Active = false; var type = "Add";
    if (Model.WMFSHT.SrNo > 0)
    {
        Text = "Update";
        type = "Edit";
    }
    if (Model.WMFSHT.ActiveFlag != null && Model.WMFSHT.ActiveFlag.ToUpper() == "Y" || Model.WMFSHT.SrNo == 0)
    {
        Active = true;
    }
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> airlineList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "ALN" && c.StatusCode == "Y").ToList().OrderBy(c => c.CodeDesc).ToList();
    ViewBag.Title = @type + " Flight Schedule";
}

<div class="row">
    <div class="col-md-10">
        <h4>@ViewBag.Title <b>@Model.WMFSHT.FlightCode</b></h4>
    </div>
    @if (Model.WMFSHT.FlightCode != null)
    {
        <div class="col-md-2">
            <a class="btn default blue-stripe pull-right" style="margin-top:5px;" href="@Url.Content("~/Master/AddEditFlightScheduleMaster")">
                <i class="fa fa-plus"></i>
                Add Flight Schedule
            </a>
        </div>
    }
</div>
@using (Html.BeginForm("AddEditFlightScheduleMaster", "Master", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal", @readonly = "true" }))
{

    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        You have some form errors. Please check below.
    </div>
    <div class="alert alert-success display-hide">
        <button class="close" data-close="alert"></button>
        Your form validation is successful!
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Flight Detail
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Flight Code
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.WMFSHT.FlightCode, new { placeholder = "System Generated", @class = "form-control", @readonly = "true" })
                                        @Html.HiddenFor(c => c.WMFSHT.SrNo)
                                        @Html.HiddenFor(c => c.WMFSDT.SrNo)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Airline
                                    </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.WMFSHT.AirlineCode, new SelectList(airlineList, "CodeId", "CodeDesc"), "", new { @class = "select2 required required2 form-control", @placeholder = "Select Airline" })
                                        @Html.ValidationMessageFor(c => c.WMFSHT.AirlineCode)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Flight No
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.WMFSHT.FlightNumber, new { placeholder = "Flight No", @class = "form-control required required2 text-uppercase" })
                                        @Html.ValidationMessageFor(c => c.WMFSHT.FlightNumber)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Active
                                    </label>
                                    <div class="col-md-7 chkactive">
                                        @Html.CheckBox("ActiveFlag", @Active)
                                        @Html.HiddenFor(c => c.WMFSHT.ActiveFlag)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Flight Schedual Detail
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-2">From Location</th>
                                    <th class="col-md-3">To Location</th>
                                    <th class="col-md-2">Dep time</th>
                                    <th class="col-md-2">Arrival time</th>
                                    <th class="col-md-1">Add days</th>
                                    <th class="col-md-2">Stoppage</th>
                                    <th>X</th>
                                </tr>
                            </thead>
                            <tbody id="containerTblFlight">
                                @foreach (var item in Model.listWMFSDT)
                                {
                                    Html.RenderPartial("_PartialFlightSchedual", item);
                                }
                            </tbody>
                        </table>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-9">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="btnAddFlightDetail" class="btn green pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <a href="@Url.Content("~/Master/FlightSchedule")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back to List </a>
            <button type="submit" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i>&nbsp;@Text </button>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {

                },

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();

                    $("#btnSubmit").hide();
                    App.blockUI({ boxed: true });
                    $.ajax({
                        url: $('#form_sample').attr('action'),
                        type: 'POST',
                        data: $('#form_sample').serialize(),
                        success: function (result) {
                            if (result) {
                                TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                setTimeout(function () {
                                    window.location = DomainName + "/Master/FlightSchedule";
                                }, 1500);
                            }
                            else {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                                App.unblockUI();
                            }
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                }
            });
        }

        var AddFlightSchedualInfo = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Master/ADDFlightSchedualInfo?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#containerTblFlight").append(html);
                    App.unblockUI();
                    $("input[type=checkbox], input:radio, input:file").uniform();
                    $('#Flight_Schedule_' + itemIndex + '__FromAirportCode').select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    $('#Flight_Schedule_' + itemIndex + '__ToAirportCode').select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    $('.timepicker-no-seconds').timepicker({
                        autoclose: true,
                        minuteStep: 5
                    });
                    $('#Flight_Schedule_' + itemIndex + '__ToAirportCode').click(function () {
                        var Toloc = $('#Flight_Schedule_' + itemIndex + '__ToAirportCode').val();
                        var Fromloc = $('#Flight_Schedule_' + itemIndex + '__FromAirportCode').val();
                        if (Fromloc == Toloc) {
                            alert("Please Select Correct To Location");
                            $(this).select2('data', null);
                        }
                    });
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                    App.unblockUI();
                }
            });
        }

        return {
            init: function (DomainName) {
                $('.timepicker-no-seconds').timepicker({
                    autoclose: true,
                    minuteStep: 5
                });
                Formvalidate(DomainName);
                $('#ActiveFlag').change(function () {
                    if ($(this).is(":checked")) {
                        $("#WMFSHT_ActiveFlag").val("Y");
                    }
                    else {
                        $("#WMFSHT_ActiveFlag").val("N");
                    }
                });

                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });

                var itemIndex = $("#sample_ven input.iHidden").length + 1;
                if ('@Model.WMFSHT.SrNo' == '0') {
                    AddFlightSchedualInfo(DomainName, itemIndex);
                }

                $("#btnAddFlightDetail").live('click', function () {
                    itemIndex = $("#sample_ven input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddFlightSchedualInfo(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });

            }
        }
    }();
</script>



