﻿@{
    ViewBag.Title = " Route Location Based";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var RouteCode = @ViewBag.RouteCode;
    var TranXaction = @ViewBag.TranXaction;
}
<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>@ViewBag.Title Successfully Done
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                RouteCode And Route Name
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@RouteCode</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                Click on @ViewBag.Title . ||
                <a href="@Url.Content("~/Master/RouteLocation")">Click to Edit more @ViewBag.Title </a>
            </span>
        </div>
    </div>
</div>

