﻿@model Fleet.ViewModels.webx_rutMST_TRAN_CityViewModel
@using FleetDataService.Models
@using Fleet.Classes
@using System.Data;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Text = "Submit"; bool Active = false; var type = "Add";
    if (Model.WRMCT.RUTCD != null && Model.WRMCT.RUTCD != "0")
    {
        Text = "Update";
        type = "Edit";
    }
    if (Model.WRMCT.ACTIVEFLAG != null && Model.WRMCT.ACTIVEFLAG.ToUpper() == "Y" || Model.WRMCT.RUTCD == null)
    {
        Active = true;
    }

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> rutmodeList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "RTMD" && c.StatusCode == "Y").ToList().OrderBy(c => c.CodeDesc).ToList();
    List<Webx_Master_General> rutcatList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "RTCT" && c.StatusCode == "Y").ToList().OrderBy(c => c.CodeDesc).ToList();
    List<webx_citymaster> cityList = MS.GetCityMasterObject().Where(c => c.activeflag == "Y").ToList().OrderBy(c => c.Location).ToList();

    ViewBag.Title = @type + " Route - City";
}

<div class="row">
    <div class="col-md-10">
        <h4>@ViewBag.Title <b>@Model.WRMCT.RUTCD</b></h4>
    </div>
    @if (Model.WRMCT.RUTCD != null && Model.WRMCT.RUTCD != "0")
    {
        <div class="col-md-2">
            <a class="btn default blue-stripe pull-right" style="margin-top:5px;" href="@Url.Content("~/Master/AddEditRouteCity")">
                <i class="fa fa-plus"></i>
                Add Route
            </a>
        </div>
    }
</div>
@using (Html.BeginForm("AddEditRouteCity", "Master", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal", @readonly = "true" }))
{
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        You have some form errors. Please check below.
    </div>
    <div class="alert alert-success display-hide">
        <button class="close" data-close="alert"></button>
        Your form validation is successful!
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Route City
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="row">
                        <div class="form-body">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Route Code
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WRMCT.RUTCD, new { placeholder = "System Generated", @class = "form-control", @readonly = "true" })
                                            @Html.HiddenFor(c => c.WRMCT.RUTNM)
                                            @Html.HiddenFor(c => c.WRMCT.RUTSTBR)
                                            @Html.HiddenFor(c => c.WRMCT.RUTENDBR)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Route Mode
                                        </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(c => c.WRMCT.RUTMOD, new SelectList(rutmodeList, "CodeId", "CodeDesc"), "", new { @class = "span15 select2 required required2 form-control", @placeholder = "Select Route Mode" })
                                            @Html.ValidationMessageFor(c => c.WRMCT.RUTMOD)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Route Category
                                        </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(c => c.WRMCT.RUTCAT, new SelectList(rutcatList, "CodeId", "CodeDesc"), "", new { @class = "span15 select2 required required2 form-control", @placeholder = "Select Route Category" })
                                            @Html.ValidationMessageFor(c => c.WRMCT.RUTCAT)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Std. Rate
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WRMCT.STD_CONTAMT, new { placeholder = "Standard Rate", @class = "form-control required required2" })
                                            @Html.ValidationMessageFor(c => c.WRMCT.STD_CONTAMT)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Control Location
                                        </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(c => c.WRMCT.ControlLoc, new SelectList(cityList, "city_code", "Location"), "", new { @class = "span15 select2 required required2 form-control", @placeholder = "Select Location" })
                                            @Html.ValidationMessageFor(c => c.WRMCT.ControlLoc)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Active
                                        </label>
                                        <div class="col-md-7 chkactive">
                                            @Html.CheckBox("ActiveFlag", @Active)
                                            @Html.HiddenFor(c => c.WRMCT.ACTIVEFLAG)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Dist.(Km) / Transit (HRS)
                                        </label>
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(c => c.WRMCT.RUTKM, new { placeholder = "Dist.(Km)", @class = "form-control" })
                                            </div><div class="col-md-1">/</div>
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(c => c.WRMCT.TransHrs, new { placeholder = "Transit (HRS)", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">
                                            Departure time from starting Location (24 Hour Format)
                                        </label>
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(c => c.WRMCT.SCHDEP_HR, new { placeholder = "HH ", @class = "form-control" })
                                            </div><div class="col-md-1">:</div>
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(c => c.WRMCT.SCHDEP_MIN, new { placeholder = "MM", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Route City Detail
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-2">Branch Name</th>
                                    <th class="col-md-3">Dist.(In Km.)</th>
                                    <th class="col-md-2">Transaction(Hours)</th>
                                    <th class="col-md-2">Transaction(Min)</th>
                                    <th class="col-md-1">Stoppage(Hours)</th>
                                    <th class="col-md-2">Stoppage(Min)</th>
                                    <th>X</th>
                                </tr>
                            </thead>
                            <tbody id="containerTblRouteCity">
                                @foreach (var item in Model.listWRTCT)
                                {
                                    Html.RenderPartial("_PartialRouteCity", item);
                                }
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><input type="text" class="form-control" id="sum_tr" readonly value="" /></td>
                                    <td><input type="text" class="form-control" readonly /></td>
                                    <td><input type="text" class="form-control" id="sum_st" readonly /></td>
                                    <td><input type="text" class="form-control" readonly /></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-9">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="btnAddRouteCity" class="btn green pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 form-actions fluid ">
        <div class="col-md-offset-4 col-md-8">
            <a href="@Url.Content("~/Master/RouteCity")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back to List </a>
            <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;@Text </button>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                    'WVT.UserPwd': {
                        minlength: 6
                    },
                    'ConfirmPassword': {
                        equalTo: "#WVT_UserPwd"
                    },
                },

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();

                    $("#btnSubmit").hide();
                    $.post($("#form_sample").attr('action'), $("#form_sample").serialize(), function (data, status) {
                        if (status == "success") {
                            TosterNotification("success", "Record has been saved successfully..!!", "Success");
                            window.location.href = DomainName + '/Master/RouteCity';
                        }
                        else {
                            TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                        }
                    });

                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }
        var AddRouteCityInfo = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Master/ADDRouteCityInfo?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#containerTblRouteCity").append(html);
                    App.unblockUI();
                    $("input[type=checkbox], input:radio, input:file").uniform();
                    $('#RutTran_' + itemIndex + '__RUTNO').val(itemIndex);
                    $('#RutTran_' + itemIndex + '__LOCCD').select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    if (itemIndex > 1) {
                        $("#btnSubmit").show(1000);
                    }
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }
        return {
            init: function (DomainName) {

                // $("#btnSubmit").hide();
                Formvalidate(DomainName);
                
                $('#ActiveFlag').change(function () {
                    if ($(this).is(":checked")) {
                        $("#WRMCT_ACTIVEFLAG").val("Y");
                    }
                    else {
                        $("#WRMCT_ACTIVEFLAG").val("N");
                    }
                });
                $("#ActiveFlag").trigger("change");
                if ($("#WRMCT_ACTIVEFLAG").val().toUpperCase()=="Y") {
                    $('#ActiveFlag').val(":checked");
                }
                else {
                    $('#ActiveFlag').is(":not(:checked)");
                }
                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });

                @*var itemIndex = $("#sample_ven input.iHidden").length + 1;
                if ('@Model.WRTCT.RUTNO' == '0') {
                    AddRouteCityInfo(DomainName, itemIndex);
                }*@

                $("#btnAddRouteCity").live('click', function () {
                    var itemIndex = $("#sample_ven input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddRouteCityInfo(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });

                $(".TRTIME_HR").live('blur', function () {
                    var TRTIMESUM = 0;
                    $(".TRTIME_HR").each(function () {
                        TRTIMESUM = parseInt(TRTIMESUM) + parseInt($(this).val() == null ? 0 : $(this).val());
                        $("#sum_tr").val(TRTIMESUM);
                        //alert(sum)
                    });
                });

                $(".STTIME_HR").live('blur', function () {
                    var STTIMESUM = 0;
                    var TRTIMESUM = 0;
                    $(".TRTIME_HR").each(function () {
                        TRTIMESUM = parseInt(TRTIMESUM) + parseInt($(this).val() == null ? 0 : $(this).val());
                        $("#sum_tr").val(TRTIMESUM);
                    });
                    $(".STTIME_HR").each(function () {
                        STTIMESUM = parseInt(STTIMESUM) + parseInt($(this).val() == null ? 0 : $(this).val());
                        $("#sum_st").val(STTIMESUM);
                        $("#WRMCT_TransHrs").val(parseInt(STTIMESUM) + parseInt(TRTIMESUM));
                    });
                });

                $(document).on('change', '.LOCCD', function () {
                    var option_all = $(".LOCCD option:selected").map(function () {
                        return $(this).text();
                    }).get().join('-');
                    $("#WRMCT_RUTNM").val(option_all);
                    var firstindex = option_all.indexOf("-")
                    var lastIndex = option_all.lastIndexOf("-")
                    $("#WRMCT_RUTSTBR").val(option_all.substring(0, firstindex));
                    $("#WRMCT_RUTENDBR").val(option_all.substring(lastIndex + 1));
                })
            }
        }
    }();
</script>





