﻿@model Fleet.ViewModels.webx_rutMST_TRANViewModel
@using FleetDataService.Models
@using Fleet.Classes
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Text = "Submit"; bool Active = false; var type = "Add";
    if (Model.WRMT.RUTCD != null)
    {
        Text = "Update";
        type = "Edit";
    }
    if (Model.WRMT.ACTIVEFLAG != null && Model.WRMT.ACTIVEFLAG.ToUpper() == "Y" || Model.WRMT.RUTCD == null)
    {
        Active = true;
    }

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> rutmodeList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "RTMD" && c.StatusCode == "Y").ToList().OrderBy(c => c.CodeDesc).ToList();
    List<Webx_Master_General> rutcatList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "RTCT" && c.StatusCode == "Y").ToList().OrderBy(c => c.CodeDesc).ToList();
    List<webx_location> locList = MS.GetLocCodeLocationDetails().Where(c => c.ActiveFlag == "Y").ToList().OrderBy(c => c.LocName).ToList();

    ViewBag.Title = @type + " Route - Location";
}

<div class="row">
    <div class="col-md-10">
        <h4>@ViewBag.Title <b>@Model.WRMT.RUTCD</b></h4>
    </div>
    @if (Model.WRMT.RUTCD != null)
    {
        <div class="col-md-2">
            <a class="btn default blue-stripe pull-right" style="margin-top:5px;" href="@Url.Content("~/Master/AddEditRouteLocation")">
                <i class="fa fa-plus"></i>
                Add Route Location
            </a>
        </div>
    }
</div>
@using (Html.BeginForm("AddEditRouteLocation", "Master", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal", @readonly = "true" }))
{
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        You have some form errors. Please check below.
    </div>
    <div class="alert alert-success display-hide">
        <button class="close" data-close="alert"></button>
        Your form validation is successful!
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>Route
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="row">
                        <div class="form-body">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Route Code
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WRMT.RUTCD, new { placeholder = "System Generated", @class = "form-control", @readonly = "true" })
                                            @Html.HiddenFor(c => c.WRMT.RUTSTBR)
                                            @Html.HiddenFor(c => c.WRMT.RUTENDBR)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Route Mode
                                        </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(c => c.WRMT.RUTMOD, new SelectList(rutmodeList, "CodeId", "CodeDesc"), "", new { @class = "span15 select2 required required2 form-control", @placeholder = "Select Route Mode" })
                                            @Html.ValidationMessageFor(c => c.WRMT.RUTMOD)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Route Category
                                        </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(c => c.WRMT.RUTCAT, new SelectList(rutcatList, "CodeId", "CodeDesc"), "", new { @class = "span15 select2 required required2 form-control", @placeholder = "Select Route Category" })
                                            @Html.ValidationMessageFor(c => c.WRMT.RUTCAT)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Route Name
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WRMT.RUTNM, new { placeholder = "Route Name", @class = "form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Std. Rate
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WRMT.STD_CONTAMT, new { placeholder = "Standard Rate", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                            @Html.ValidationMessageFor(c => c.WRMT.STD_CONTAMT)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Control Location
                                        </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(c => c.WRMT.ControlLoc, new SelectList(locList, "LocCode", "LocName"), "", new { @class = "span15 select2 required required2 form-control", @placeholder = "Select Location" })
                                            @Html.ValidationMessageFor(c => c.WRMT.ControlLoc)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Dist.(Km) / Transit (HRS)
                                        </label>
                                        <div class="col-md-6" style="padding-left: 0px; !important">
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(c => c.WRMT.RUTKM, new { placeholder = "Dist.(Km)", @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                            </div><div class="col-md-1">/</div>
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(c => c.WRMT.TransHrs, new { placeholder = "Transit (HRS)", @class = "form-control", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))", @readonly = "true" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Departure time from starting Location (24 Hour Format)
                                        </label>
                                        <div class="col-md-6" style="padding-left: 0px; !important">
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(c => c.WRMT.SCHDEP_HR, new { @type = "number", @min = "0", @placeholder = "HH ", @class = "form-control", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))", @max = 23 })
                                            </div><div class="col-md-1">:</div>
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(c => c.WRMT.SCHDEP_MIN, new { @type = "number", @min = "0", @placeholder = "MM", @class = "form-control", @onkeypress = "javascript:return validInt(event,this.getAttribute('id'))", @max = 59 })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Active
                                        </label>
                                        <div class="col-md-7 chkactive">
                                            @Html.CheckBox("ActiveFlag", @Active)
                                            @Html.HiddenFor(c => c.WRMT.ACTIVEFLAG)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            On Time
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WRMT.OnTime, new { placeholder = "On Time", @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Early
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WRMT.Early, new { placeholder = "Early", @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Late
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WRMT.Late, new { placeholder = "Late", @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Route Detail
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-2">Branch Name</th>
                                    <th class="col-md-3">Dist.(In Km.)</th>
                                    <th class="col-md-2">Transaction(Hours)</th>
                                    <th class="col-md-2">Transaction(Min)</th>
                                    <th class="col-md-1">Stoppage(Hours)</th>
                                    <th class="col-md-2">Stoppage(Min)</th>
                                    <th>X</th>
                                </tr>
                            </thead>
                            <tbody id="containerTblRoute">
                                @foreach (var item in Model.listWRTT)
                                {
                                    Html.RenderPartial("_PartialRouteLocation", item);
                                }

                            </tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><input type="text" class="form-control" id="sum_tr" readonly value="" /></td>
                                <td><input type="text" class="form-control" id="sum_trmin" readonly value="" /></td>
                                <td><input type="text" class="form-control" id="sum_st" readonly /></td>
                                <td><input type="text" class="form-control" id="sum_stmin" readonly value="" /></td>
                            </tr>
                        </table>
                        @*@if (Model.WRMT.RUTCD == null || Model.WRMT.RUTCD == "")
                    {*@
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="button" id="btnAddRoute" class="btn green pull-right"><i class="fa fa-plus"></i>&nbsp;Add Row</button>
                            </div>
                        </div>
                        @*}*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions fluid ">
        <div class="col-md-offset-4 col-md-8">
            <a href="@Url.Content("~/Master/RouteLocation")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back To List </a>
            <button type="submit" id="btnSubmit" class="btn btn-sm green controls submit"><i class="fa fa-check"></i>&nbsp;@Text </button>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            $.validator.addMethod('checkDuplicateRouteName', function (value, element) {


                var RouteName = $("#WRMT_RUTNM").val();
                var RouteCode = $("#WRMT_RUTCD").val();
                var StrURL = DomainName + '/Master/CheckDuplicateRouteName?RouteName=' + RouteName.toUpperCase() + '&RouteCode=' + RouteCode;
                //alert("hello " + StrURL);
                var result1 = $.ajax({
                    async: false,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: StrURL,
                    dataType: 'json',
                    data: {},
                });

                var d1 = JSON.parse(result1.responseText);


                //  alert(d1.Count);

                if (d1.Count == "1") {
                    return false;
                }
                else {
                    return true;
                }


                // return true;

            }, "Route already exist !!!");

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    'WRMT.RUTNM': {
                        checkDuplicateRouteName: true,
                    }
                },

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    App.blockUI({ boxed: true });
                    $("#btnSubmit").hide();
                    $.post($("#form_sample").attr('action'), $("#form_sample").serialize(), function (Data, status) {
                        if (Data.Status) {
                            TosterNotification("success", "Record has been saved successfully..!!", "Success");
                            setTimeout(function () {
                                window.location.href = DomainName + '/Master/AddEditRouteLocationDone?RouteCode=' + Data.RouteCode;
                            }, 500);
                        }
                        else {
                            App.unblockUI();
                            TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                        }
                    });


                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }
        var AddRouteInfo = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Master/ADDRouteInfo?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#containerTblRoute").append(html);
                    App.unblockUI();
                    $("input[type=checkbox], input:radio, input:file").uniform();
                    $('#RutTran_' + itemIndex + '__RUTNO').val(itemIndex);
                    var StrURL = DomainName + "/Operation/GetDestinationLocations";
                    JsonDDLSelectCode("RutTran_" + itemIndex + "__LOCCD", StrURL);
                    $('select').select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    if (itemIndex > 1) {
                        $(".submit").show(1000);
                    }
                    if (itemIndex == 1) {
                        $(".ro").prop('readonly', true);
                    }
                    Formvalidate(DomainName);
                    $(".Distance").live("change", function () {
                        calDistance();
                    });
                    $("#RutTran_" + itemIndex + "__LOCCD").attr("readonly", false);
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                    App.unblockUI();
                }
            });
        }

        var calTransactionMin = function () {

            var sumTRTIME_HR = 0;
            $(".TRTIME_HR").each(function () {
                if ($(this).val() == null || $(this).val() == "") {
                    $(this).val(1);
                }
                sumTRTIME_HR = parseInt(sumTRTIME_HR == null || sumTRTIME_HR == "" ? 0 : sumTRTIME_HR) + parseInt($(this).val());
            });

            var sumTRTIME_MIN = 0;
            $(".TRTIME_MIN").each(function () {
                if ($(this).val() < 59 || $(this).val() > 0) {
                    sumTRTIME_MIN = parseInt(sumTRTIME_MIN) + parseInt($(this).val());
                }
            });
            $("#sum_trmin").val(sumTRTIME_MIN % 60);
            var finalHR = parseInt(sumTRTIME_HR == null || sumTRTIME_HR == "" ? 0 : sumTRTIME_HR) + parseInt(sumTRTIME_MIN / 60);
            $("#sum_tr").val(finalHR);

            var sumMin = parseInt($("#sum_trmin").val()) + parseInt($("#sum_stmin").val());
            sumMin = parseInt(sumMin / 60);
            $("#WRMT_TransHrs").val(parseInt($("#sum_tr").val()) + parseInt($("#sum_st").val() == null || $("#sum_st").val() == "" ? 0 : $("#sum_st").val()) + parseInt(sumMin == "NaN" ? 0 : sumMin));

        }

        var calStoppageMin = function () {
            var sumSTTIME_HR = 0;
            $(".STTIME_HR ").each(function () {
                if ($(this).val() == null || $(this).val() == "") {
                    $(this).val(1);
                }
                sumSTTIME_HR = parseInt(sumSTTIME_HR == null || sumSTTIME_HR == "" ? 0 : sumSTTIME_HR) + parseInt($(this).val());
            });

            var sumSTTIME_MIN = 0;
            $(".STTIME_MIN").each(function () {
                if ($(this).val() < 59 || $(this).val() > 0) {
                    sumSTTIME_MIN = parseInt(sumSTTIME_MIN) + parseInt($(this).val());
                }
            });
            $("#sum_stmin").val(sumSTTIME_MIN % 60);
            var finalHR = parseInt(sumSTTIME_HR == null || sumSTTIME_HR == "" ? 0 : sumSTTIME_HR) + parseInt(sumSTTIME_MIN / 60);
            $("#sum_st").val(finalHR);
            var sumMin = parseInt($("#sum_trmin").val()) + parseInt($("#sum_stmin").val());
            sumMin = parseInt(sumMin / 60);
            $("#WRMT_TransHrs").val(parseInt($("#sum_st").val()) + parseInt($("#sum_tr").val() == null || $("#sum_tr").val() == "" ? 0 : $("#sum_tr").val()) + parseInt(sumMin == "NaN" ? 0 : sumMin));
        }

        var calDistance = function () {
            var sumDistance = 0;
            $(".Distance").each(function () {
                if ($(this).val() == null || $(this).val() == "") {
                    $(this).val(1);
                }
                sumDistance = parseInt(sumDistance == null || sumDistance == "" ? 0 : sumDistance) + parseInt($(this).val());
            });
            $("#WRMT_RUTKM").val(sumDistance);
        }
        return {
            init: function (DomainName) {

                // $(".submit").hide();
                Formvalidate(DomainName);
                $('#ActiveFlag').change(function () {
                    if ($(this).is(":checked")) {
                        $("#WRMT_ACTIVEFLAG").val("Y");
                    }
                    else {
                        $("#WRMT_ACTIVEFLAG").val("N");
                    }
                });
                if ($("#WRMT_ACTIVEFLAG").val("Y")) {
                    $('#ActiveFlag').val(":checked");
                }
                else {
                    $('#ActiveFlag').is(":not(:checked)");
                }
                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    calDistance();
                    //var TRTIMESUM = 0;
                    //$(".TRTIME_HR").each(function () {
                    //    TRTIMESUM = parseInt(TRTIMESUM) + parseInt($(this).val() == null ? 0 : $(this).val());
                    //    $("#sum_tr").val(TRTIMESUM);
                    //    //alert(sum)
                    //});
                    //var TRTIMESUM = 0;
                    //$(".TRTIME_HR").each(function () {
                    //    if ($(this).val() == null || $(this).val() == "") {
                    //        $(this).val(1);
                    //    }
                    //    TRTIMESUM = parseInt(TRTIMESUM == null || TRTIMESUM == "" ? 0 : TRTIMESUM) + parseInt($(this).val());
                    //    $("#sum_tr").val(TRTIMESUM);
                    //    //alert(sum)
                    //});

                    //var STTIMESUM = 0;
                    //$(".STTIME_HR").each(function () {
                    //    if ($(this).val() == null || $(this).val() == "") {
                    //        $(this).val(1);
                    //    }
                    //    STTIMESUM = parseInt(STTIMESUM == null || STTIMESUM == "" ? 0 : STTIMESUM) + parseInt($(this).val());
                    //    $("#sum_st").val(STTIMESUM);
                    //    $("#WRMT_TransHrs").val(parseInt(STTIMESUM) + parseInt(TRTIMESUM));
                    //});
                    calTransactionMin();
                    calStoppageMin();

                    $(".LOCCD").each(function () {
                        $("#WRMT_RUTNM").val($(".LOCCD option:selected").map(function () {
                            return $(this).val();
                        }).get().join('-'));
                        $("#WRMT_RUTNM").val($("#WRMT_RUTNM").val().substring(0, $("#WRMT_RUTNM").val().length));
                    });
                    return false;
                });

                @*var itemIndex = $("#sample_ven input.iHidden").length + 1;
                if ('@Model.WRTT.RUTNO' == '0') {
                    AddRouteInfo(DomainName, itemIndex);
                }*@
                if ('@Model.WRMT.RUTCD' == "") {
                    var itemIndex = $("#sample_ven input.iHidden").length + 1;
                    AddRouteInfo(DomainName, itemIndex);
                }
                $("#btnAddRoute").live('click', function () {
                    var itemIndex = $("#sample_ven input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddRouteInfo(DomainName, itemIndex);
                            var StrURL = DomainName + "/Operation/GetDestinationLocations";
                            JsonDDLSelectCode("RutTran_" + itemIndex + "__LOCCD", StrURL);
                        }, 100 * i);
                    }
                });

                //$(".LOCCD").change(function () {
                //    var option_all = $(".LOCCD option:selected").map(function () {
                //        return $(this).text();
                //    }).get().join('-');
                //    $("#WRMT_RUTNM").val(option_all);
                //    var firstindex = option_all.indexOf("-")
                //    var lastIndex = option_all.lastIndexOf("-")
                //    $("#WRMT_RUTSTBR").val(option_all.substring(0, firstindex));
                //    $("#WRMT_RUTENDBR").val(option_all.substring(lastIndex + 1));
                //});

                calTransactionMin();
                $(".TRTIME_HR").live('blur', function () {
                    calTransactionMin();
                });
                $(".TRTIME_MIN").live('blur', function () {
                    calTransactionMin();
                });

                calStoppageMin();
                $(".STTIME_HR").live('blur', function () {
                    calStoppageMin();
                });

                $(".STTIME_MIN").live('blur', function () {
                    calStoppageMin();
                });
                $(".LOCCD").live('change', function () {

                    var dlnmId = $(this).attr("id");
                    var Value = $(this).val();
                    if (Value != "") {
                        var count = 0;
                        $(".LOCCD").each(function () {
                            var dlnmId1 = $(this).attr("id");
                            var dlnmVal1 = $(this).val();
                            //alert(dlnmVal1 + '__' + Value);
                            if (dlnmId1 != dlnmId && dlnmVal1 == Value) {
                                alert("Can not select Duplicate Branch");
                                count = 1;
                                $("#" + dlnmId).select2('data', null);
                                $("#WRMT_RUTNM").val($(".LOCCD option:selected").map(function () {
                                    return $(this).val();
                                }).get().join('-'));
                                $("#WRMT_RUTNM").val($("#WRMT_RUTNM").val().substring(0, $("#WRMT_RUTNM").val().length - 1));
                                return false;
                            }
                        });
                    }
                    var option_all = $("#WRMT_RUTNM").val();
                    if (count == 0) {
                        option_all = $(".LOCCD option:selected").map(function () {
                            return $(this).val();
                        }).get().join('-');
                    }
                    //alert($(this).val());
                    $("#WRMT_RUTNM").val(option_all);
                    var firstindex = option_all.indexOf("-");
                    var lastIndex = option_all.lastIndexOf("-");
                    $("#WRMT_RUTSTBR").val(option_all.substring(0, firstindex));
                    $("#WRMT_RUTENDBR").val(option_all.substring(lastIndex + 1));
                    calTransactionMin();
                    calStoppageMin();
                    $(".Distance").live("change", function () {
                        calDistance();
                    });
                })
            }
        }
    }();
</script>
