﻿@model Fleet.ViewModels.SparePartViewModel
@using FleetDataService.Models
@using Fleet.Classes
@using System.Data;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Text = "Submit"; bool Active = false; var type = "Add";
    if (Model.WFSHM.Part_Id != "0" && Model.WFSHM.Part_Id != null)
    {
        Text = "Update";
        type = "Edit";
    }
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> PartTypeList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "JOBINVT" && c.CodeId == "I" && c.StatusCode == "Y").ToList().OrderBy(c => c.CodeDesc).ToList();
    List<Webx_Fleet_TaskTypeMst> TaskTypeList = MS.GetTaskTypeObject().Where(c => c.ActiveFlag == "Y" && c.TaskTypeID >= 1).ToList().OrderBy(c => c.TaskType).ToList();
    List<webx_PO_SKU_Master> WorkGroupList = MS.GetWorkGroupListObject().ToList();
    ViewBag.Title = @type + " SparePart";
}

<div class="row">
    <div class="col-md-10">
        <h4>@ViewBag.Title <b>@Model.WFSHM.Part_Id</b></h4>
    </div>
    @if (Model.WFSHM.Part_Id != null)
    {
        <div class="col-md-2">
            <a class="btn default blue-stripe pull-right" style="margin-top:5px;" href="@Url.Content("~/Master/AddEditSparePart")">
                <i class="fa fa-plus"></i>
                Add Spare Part
            </a>
        </div>
    }
</div>
@using (Html.BeginForm("AddEditSparePart", "Master", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal", @readonly = "true" }))
{

    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        You have some form errors. Please check below.
    </div>
    <div class="alert alert-success display-hide">
        <button class="close" data-close="alert"></button>
        Your form validation is successful!
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Spare Details
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Part No.
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WFSHM.Part_Id, new { placeholder = "System Generated", @class = "form-control", @readonly = "true" })
                                            @Html.HiddenFor(c => c.WFSHM.Part_Id)
                                            @Html.HiddenFor(c => c.WFSDM.Part_ID)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Part Type
                                        </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(c => c.WFSHM.Part_Type, new SelectList(PartTypeList, "CodeId", "CodeDesc"), "", new { @class = "select2 required required2 form-control", @placeholder = "Select Part Type" })
                                            @Html.ValidationMessageFor(c => c.WFSHM.Part_Type)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Task Type
                                        </label>
                                        <div class="col-md-7">
                                            @*@Html.DropDownListFor(c => c.WFSHM.TaskType, new SelectList(TaskTypeList, "TaskTypeId", "TaskType"), "", new { @class = "select2 required required2 form-control Tasktype", @placeholder = "Select Task Type" })
                                            @Html.ValidationMessageFor(c => c.WFSHM.TaskType)*@

                                            @Html.DropDownListFor(c => c.WFSHM.TaskTypeId, new SelectList(TaskTypeList, "TaskTypeId", "TaskType"), "", new { @class = "select2 required required2 form-control Tasktype", @placeholder = "Select Task Type" })
                                            @Html.ValidationMessageFor(c => c.WFSHM.TaskTypeId)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Work Group
                                        </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(c => c.WFSHM.SKU_GRPDC, new SelectList(WorkGroupList, "W_GRPCD", "W_GRPDESC"), "", new { @class = "select2 required required2 form-control", @placeholder = "Select Work Group" })
                                            @Html.ValidationMessageFor(c => c.WFSHM.SKU_GRPDC)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Description
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WFSHM.Description, new { placeholder = "Description", @class = "form-control required required2" })
                                            @Html.ValidationMessageFor(c => c.WFSHM.Description)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Unit Of Inventory
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WFSHM.Unit_Of_Inventory, new { placeholder = "Unit Of Inventory", @class = "form-control required required2" })
                                            @Html.ValidationMessageFor(c => c.WFSHM.Unit_Of_Inventory)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Average Cost
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WFSHM.Avg_Cost, new { placeholder = "Average Cost", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                            @Html.ValidationMessageFor(c => c.WFSHM.Avg_Cost)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Selling Price
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WFSHM.Selling_Price, new { placeholder = "Selling Price ", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                            @Html.ValidationMessageFor(c => c.WFSHM.Selling_Price)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Reorder Unit
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WFSHM.Reorder_Point, new { placeholder = "Reorder Unit", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                            @Html.ValidationMessageFor(c => c.WFSHM.Reorder_Point)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Reorder Quantity
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WFSHM.Reorder_Qty, new { placeholder = "Reorder Quantity *", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                            @Html.ValidationMessageFor(c => c.WFSHM.Reorder_Qty)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Expiry Date:
                                        </label>
                                        <div class="col-md-7">
                                            <div class="input-group date date-picker" data-date-start-date="+0d">
                                                @Html.TextBoxFor(c => c.WFSHM.ExpDt, String.Format("{0:dd MMM yyyy}", Convert.ToDateTime(Model.WFSHM.ExpDt).ToString("dd MMM yyyy")), new { @class = " form-control required2 required" })
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Expiry Kms:
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WFSHM.ExpKms, new { placeholder = "Expiry Kms *", @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                            @Html.ValidationMessageFor(c => c.WFSHM.ExpKms)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Vendor Details
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Vendor Name</th>
                                    <th>Vendor Part No.</th>
                                    <th>Manufacturer</th>
                                    <th>Cost</th>
                                    <th>Lead Time</th>
                                    <th>X</th>
                                </tr>
                            </thead>
                            <tbody id="containerTblSparePart">
                                @foreach (var item in Model.listWFSDM)
                                {
                                    Html.RenderPartial("_PartialSparePart", item);
                                }
                            </tbody>
                        </table>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-9">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="btnAddSparePartDetail" class="btn green pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <a href="@Url.Content("~/Master/SparePart")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back to List </a>
            <button type="submit" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i>&nbsp;@Text </button>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {

                },

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();

                    $("#btnSubmit").hide();
                    App.blockUI({ boxed: true });
                    Document.forms("#form_sample").submit();
                }
            });
        }

        var AddSparePartInfo = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Master/ADDSparePartInfo?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#containerTblSparePart").append(html);
                    App.unblockUI();
                    $("input[type=checkbox], input:radio, input:file").uniform();
                    $('select').select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }

        return {
            init: function (DomainName) {
                Formvalidate(DomainName);
                //$('#ActiveFlag').change(function () {
                //    if ($(this).is(":checked")) {
                //        $("#WMFSHT_ActiveFlag").val("Y");
                //    }
                //    else {
                //        $("#WMFSHT_ActiveFlag").val("N");
                //    }
                //});

                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    showMeridian: true,
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    todayBtn: true
                });

                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });

                var itemIndex = $("#sample_ven input.iHidden").length + 1;
                @*if ('@Model.WFSDM.Srno' == 0) {
                    AddSparePartInfo(DomainName, itemIndex);
                }*@

                $("#btnAddSparePartDetail").live('click', function () {
                    itemIndex = $("#sample_ven input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddSparePartInfo(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });

            }
        }
    }();
</script>
