﻿@model Fleet.ViewModels.TyreViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "Tyre Master";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> ListVendorType = Model.ListGnMST.Where(c => c.CodeType.ToUpper() == "VENDTY").OrderBy(c => c.CodeDesc).ToList();



    string Active = "";



    if (Model.tyreMST.TYRE_ACTIVEFLAG != null && Model.tyreMST.TYRE_ACTIVEFLAG == "Y" || Model.EditFlag == "false")
    {
        Active = "checked";
        Model.tyreMST.TYRE_ACTIVEFLAG = "Y";
    }
    List<webx_location> ListLocations = new List<webx_location>();
    var Text = "Submit"; var type = "Add";
    if (Model.EditFlag == "true")
    {
        Text = "Update";
        type = "Edit";
        Model.ListTyreModel = MS.GetTyreModelList().Where(m => m.ACTIVE_FLAG == "Y" && m.MFG_ID == Model.tyreMST.MFG_ID).ToList();
        Model.ListTyreSize = MS.GetTyreSizeList().Where(m => m.SIZE_ACTIVEFLAG == "Y").ToList();
        Model.ListTyrePattern = MS.GetTyrePatternList().Where(m => m.ACTIVE_FLAG == "Y").ToList();
        ListLocations = MS.GetLocationDetails();
    }
    else
    {
        Model.tyreMST.TYRE_OE = "YES";
    }
}

@using (Html.BeginForm("TyreMasterSubmit", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-10">
            <h4>@type Tyre <b>@Model.tyreMST.TYRE_ID</b></h4>
        </div>
        @if (Model.EditFlag == "true")
        {
            <div class="col-md-2">
                <a class="btn default blue-stripe pull-right" style="margin-top:5px;" href="@Url.Content("~/Master/AddEditTyre")">
                    <i class="fa fa-plus"></i>
                    Add Tyre
                </a>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Select Tyre</label>
                                    <div class="col-md-8">
                                        <label class="radio-inline">
                                            <input type="radio" name="radioOptions" id="optionsRadios1" value="1"> OEM
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="radioOptions" id="optionsRadios2" value="2">STAND ALONE
                                        </label>
                                        @Html.HiddenFor(m => m.tyreMST.TYRE_OE)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Tyre No.</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.tyreMST.TYRE_NO, new { @class = "required required2 form-control", @placeholder = "Tyre No" })
                                        @Html.HiddenFor(m => m.tyreMST.TYRE_ID)
                                        @Html.HiddenFor(m => m.EditFlag)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Tyre Category</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.tyreMST.TYRE_CATEGORY, new SelectList(Model.ListGnMST.Where(c => c.CodeType.ToUpper() == "TYCAT").OrderBy(c => c.CodeDesc).ToList(), "CodeId", "CodeDesc"), "", new { @class = "select2 required required2 form-control", @placeholder = "Tyre Category" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Manufacturer</label>
                                    <div class="col-md-8 required">
                                        @Html.DropDownListFor(model => model.tyreMST.MFG_ID, new SelectList(Model.ListMFG, "MFG_ID", "MFG_NAME"), "", new { @class = "select2 required required2 form-control", @placeholder = "Manufacturer" })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Tyre Model</label>
                                    <div class="col-md-8 required">
                                        @Html.DropDownListFor(model => model.tyreMST.TYRE_MODEL_ID, new SelectList(Model.ListTyreModel, "TYRE_MODEL_ID", "MODEL_NO"), "", new { @class = "select2 required required2 form-control", @placeholder = "Tyre Model" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Tyre Size</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.tyreMST.TYRE_SIZEID, new SelectList(Model.ListTyreSize, "TYRE_SIZEID", "TYRE_SIZENAME"), "", new { @class = "select2 required required2 form-control", @placeholder = "Tyre Size" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Tyre Pattern </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.tyreMST.TYRE_PATTERN_CODE, new SelectList(Model.ListTyrePattern, "TYRE_PATTERNID", "TYREPAT_CODE"), "", new { @class = "select2 required required2 form-control", @placeholder = "Tyre Pattern" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Average TWI<b>(32NDS)</b></label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.tyreMST.Last_TREAD_DEPTH_32NDS, new { @class = "form-control required required2", @placeholder = "Tread Depth", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Purchase Date</label>
                                    <div class="col-md-8">
                                        <div class="input-group date date-picker" data-date-format="dd MMM yyyy" data-date-end-date="+0d">
                                            @Html.TextBoxFor(m => m.tyreMST.TYRE_PURDT, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.tyreMST.TYRE_PURDT).ToString("dd MMM yyyy")), new { @class = "form-control ", @placeholder = "dd MMM yyyy" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Purchase KM</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.tyreMST.TYRE_PUR_KMS, new { @class = "form-control required required2", @placeholder = "Purchase KM", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Cost</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.tyreMST.TYRE_COST, new { @class = "form-control required required2", @placeholder = "Tyre Cost", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Vehicle No</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.tyreMST.TYRE_VEHNO, new { @class = "form-control", @placeholder = "Vehicle No" })
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Vehicle Category</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.tyreMST.TYRE_PUR_KMS, new { @class = "form-control", @placeholder = "Vehicle Category" })
                                </div>
                            </div>
                        </div>*@
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Tyre Type</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.tyreMST.TYRE_TYPEID, new SelectList(Model.ListGnMST.Where(m => m.CodeType == "TYTYP"), "CodeId", "CodeDesc"), "", new { @class = "select2 form-control required required2", @placeholder = "Tyre Type" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 clsPOS">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Position Category</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.tyreMST.POS_CATEGORY, new SelectList(Model.ListGnMST.Where(c => c.CodeType == "TYPOS").OrderBy(c => c.CodeDesc).ToList(), "CodeId", "CodeDesc"), "", new { @class = "form-control select2 dropDown ", @placeholder = "Select Tyre Position" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 clsPOS">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Position</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.tyreMST.TYREPOS_ID, Enumerable.Empty<SelectListItem>(), "", new { @class = "form-control select2 dropDown ", @placeholder = "Select Tyre Position" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 clsLoc">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Location</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.tyreMST.TYRE_LOCATION, new { @class = "form-control", @placeholder = "Select Tyre Location" })
                                        @*@Html.DropDownListFor(c => c.tyreMST.TYRE_LOCATION, new SelectList(Model.ListGnMST.Where(c => c.CodeType == "TYPOS").OrderBy(c => c.CodeDesc).ToList(), "CodeId", "CodeDesc"), "", new { @class = "form-control select2 dropDown required required2", @placeholder = "Select Tyre Position" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 clsLoc">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Vendor</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.tyreMST.TYRE_VENDOR, new { @class = "form-control", @placeholder = "Select Tyre Vendor" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Active</label>
                                    <div class="col-md-3 chkactive">
                                        @Html.HiddenFor(m => m.tyreMST.TYRE_ACTIVEFLAG)
                                        <input type="checkbox" id="Active" @Active />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <a class="btn btn-sm default controls" href="@Url.Content("~/Master/Tyre")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To List</a>
            <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;@Text</button>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var CheckDuplicateTyreMST = function (DomainName) {

            $("#tyreMST_TYRE_NO").live('blur', function () {
                if ($(this).val() == null || $(this).val() == "" || $(this).val().trim() == '') {
                    return false;
                }
                $(this).val($(this).val().trim())
                App.blockUI({ boxed: true });
                var id = $("#tyreMST_TYRE_ID").val();
                var code = $(this).val();
                var strurl = DomainName + '/Master/CheckDuplicateTYRECode?id=' + id + '&code=' + code;
                $.ajax({
                    url: strurl,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (data) {
                        if (data.Count > 0) {
                            TosterNotification("error", 'Tyre MFG Code <b>"' + code.toUpperCase() + '"</b> already exists!!!', "Oppps..!!");
                            $("#tyreMST_TYRE_NO").val('');
                            $("#tyreMST_TYRE_NO").focusin();
                            $("#tyreMST_TYRE_NO").select();
                        }
                        App.unblockUI();
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        App.unblockUI();
                    }
                });
            });
        }


        var Events = function (DomainName) {

            handleDatePicker();
            CheckDuplicateTyreMST(DomainName);
            if ('@Model.EditFlag' != "true") {
                $('.date-picker input').val('');
            }
            else
            {
                $('#tyreMST_TYRE_NO').attr('readonly', true);
            }

            $('#Active').change(function () {
                $('#tyreMST_TYRE_ACTIVEFLAG').val($(this).is(':checked') ? 'Y' : 'N')
            });

            $('#tyreMST_POS_CATEGORY').change(function () {
                var strUrl = DomainName + '/Master/GetPostionFromPOSCategory/' + $(this).val();
                App.blockUI();
                FillDropDownfromOther('tyreMST_TYREPOS_ID', strUrl, '');
            });

            $('.clsPOS').show();
            $('.clsLoc').hide();
            $('input[type=radio][name=radioOptions]').change(function () {

                $('#tyreMST_TYRE_LOCATION').select2('data', null);
                $('#tyreMST_TYRE_VENDOR').select2('data', null);
                $('#tyreMST_POS_CATEGORY').select2('data', null);
                $('#tyreMST_TYREPOS_ID').select2('data', null);

                if ($(this).val() == '1') {
                    $('#tyreMST_TYRE_OE').val('YES');
                    $('.clsPOS').show();
                    $('.clsLoc').hide();
                }
                else {
                    $('#tyreMST_TYRE_OE').val('NO');
                    $('.clsPOS').hide();
                    $('.clsLoc').show();
                }
            });

            if ($('#tyreMST_TYRE_OE').val() == 'YES') {
                $('#optionsRadios1').attr('checked', true)
                $('#optionsRadios1').change();
            }
            else
            {
                $('#optionsRadios2').attr('checked', true)
                $('#optionsRadios2').change();
            }

            $('#tyreMST_MFG_ID').change(function () {
                var strUrl = DomainName + '/Master/GetTyreModelFromMFG/' + $(this).val();
                App.blockUI();
                FillDropDownfromOther('tyreMST_TYRE_MODEL_ID', strUrl, '');
            });

            $('#tyreMST_TYRE_MODEL_ID').change(function () {
                var strUrl = DomainName + '/Master/GetTyreSizeFromModel/' + $(this).val();
                App.blockUI();
                FillDropDownfromOther('tyreMST_TYRE_SIZEID', strUrl, '');
            });

            $('#btnSubmit').click(function () {
                if (!$('#form_sample').valid()) {
                    return false;
                }
                App.blockUI({ boxed: true });
                $.ajax({
                    url: $('#form_sample').attr('action'),
                    type: 'POST',
                    data: $('#form_sample').serialize(),
                    success: function (result) {
                        if (result) {
                            TosterNotification("success", "Record has been updated successfully..!!", "Success");
                            setTimeout(function () {
                                window.location = DomainName + "/Master/Tyre";
                            }, 1500);
                        }
                        else {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        App.unblockUI();
                    }
                });
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                Events(DomainName);

               

                //JsonDDL('tyreMST_TYRE_VEHNO', DomainName + '/Master/GetActiveVehicleListJson');
              //  JsonDDL('tyreMST_TYRE_LOCATION', DomainName + '/Master/GetLocationListJson');
               // JsonDDL('tyreMST_TYRE_VENDOR', DomainName + '/Master/GetVendorListJson');
                //var VndNm = $("#tyreMST_TYRE_VENDOR").attr('id');
                //JsonDDL(VndNm, DomainName + '/Master/SearchVendorListJson', false);
                
            }
        }
    }();
</script>
