﻿@model Fleet.ViewModels.webx_master_CustAddressesViewModel
@using FleetDataService.Models;
@{
    ViewBag.Title = "List of Address";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_citymaster> cityList = MS.GetCityMasterObject().Where(c => c.activeflag == null ? c.activeflag == null : c.activeflag == "Y").OrderBy(c => c.Location).ToList();
}
<div id="AddEditAddress"></div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a href="#" class="btn btn-xs default blue-stripe pull-right" id="addEdit" data-toggle="modal">
                        <i class="fa fa-plus"></i>  Add Address
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="AddressList" style="overflow-x: scroll">
                    <thead>
                        <tr>
                            <th class="center">
                                Address Code
                            </th>
                            <th class="center">
                                Address
                            </th>
                            <th class="center">
                                City
                            </th>
                            <th class="center">
                                Email
                            </th>
                            <th class="center">
                                Active
                            </th>
                            <th class="center">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var GetObjectDet = function (id, DomainName) {
            App.blockUI({ boxed: true });
            var strurl = DomainName + '/Master/GetAddressDetails?srno=' + id;
            $.ajax({
                url: strurl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#AddEditAddress").hide();
                    $("#AddEditAddress").html(data);
                    CallSubmitClick(DomainName);
                    $("input:checkbox, input:radio").uniform();
                    $(".dropDown").select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    App.unblockUI();
                    if (id > 0) {
                        $("#AddID").attr('readonly', true);
                    }
                    $("#AddID").blur('click', function () {
                        var SelectId = $("#AddID").val();
                        var StrURL = DomainName + "/Master/CheckDuplicateAddressCode?AddID=" + SelectId + "";
                        $.ajax({
                            url: StrURL,
                            cache: false,
                            data: {},
                            type: 'POST',
                            success: function (data) {
                                //alert(data)
                                //alert(data.Unit)
                                if (data.Count > "0") {
                                    TosterNotification("error", 'Name <b>"' + AddID + '"</b> already exists!!!', "Oppps..!!");
                                    $("#AddID").focus();
                                    $("#AddID").select();
                                }
                                App.unblockUI('#addNew');
                            },
                            error: function (req, status, error) {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                                App.unblockUI('#addNew');
                            }
                        });
                    });
                    $("#Pincode").attr("disabled", true);
                    $("#City").change(function () {
                        var SelectId = $("#City").val();
                        var StrURL = DomainName + "/Master/GetCityPincodeDetails?id=" + SelectId + "";
                        $("#Pincode").attr("disabled", false);
                        FillDropDownfromOther("Pincode", StrURL, "Pincode");
                    });
                    
                    //var HdnLocations = $("#HdnLocations").val() == "" ? "Select Location" : $("#HdnLocations").val().split(',');
                   // $("#Locations").select2("val", HdnLocations);
                    $("#AddEditAddress").toggle(1000);

                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }

            });

        }

        var CallSubmitClick = function (DomainName) {

            $("#btnSave").click(function (e) {
                App.blockUI({ boxed: true });
                if (e.handled !== true) // This will prevent event triggering more then once
                {
                    e.handled = true;
                    Formvalidate(DomainName);
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return;
                    }

                    var AddID = $("#AddID").val();
                    var Address = $("#Address").val();
                    var City = $("#City").val();
                    var Email = $("#Email").val();
                    var PhoneNo = $("#PhoneNo").val();
                    var Pincode = $("#Pincode").val();
                    var ActiveFlag = $("#ActiveFlag").prop('checked');
                    var srno = $("#srno").val();
                    var AddressMaster =
                                    {
                                        "AddID": AddID,
                                        "Address": Address,
                                        "City": City,
                                        "Email": Email,
                                        "PhoneNo": PhoneNo,
                                        "Pincode": Pincode,
                                        "ActiveFlag": ActiveFlag,
                                        "srno": srno
                                    };

                    $.ajax({
                        url: DomainName + '/Master/AddEditAddress',
                        cache: false,
                        data: JSON.stringify(AddressMaster),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.Status) {
                                TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                $("#AddEditAddress").hide(1000);
                                //bindTable(DomainName);
                                $("#AddressList").dataTable({
                                    'bDestroy': true
                                }).fnDestroy();
                                loadData(DomainName, 'AddressList');
                            }
                            else {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            }
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                    $("input:checkbox, input:radio").uniform();
                }
            });
        }

        var loadData = function (DomainName, tblId) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Master/AddressListJson'
            $.ajax({
                url: strUrl,
                type: 'POST',
                success: function (result) {
                    $('#' + tblId).DataTable({
                        data: result,
                        columns: [
                            { data: "AddID" },
                            { data: "Address" },
                            { data: "City" },
                            { data: "Email" },
                             { data: "ActiveFlag" },
                            { data: "srno" },
                        ],
                        "aoColumnDefs": [
                            {
                                "aTargets": [4],
                                "mRender": function (data, type, full) {
                                    if (data == "Y") {
                                        return '<span class="badge badge-success">Yes</span>';
                                    }
                                    else {
                                        return '<span class="badge badge-danger">No</span>';
                                    }
                                }
                            }, {
                                "aTargets": [5],
                                "mRender": function (data, type, full) {
                                    return '<button type="button" id="' + data + '" class="btn default btn-xs blue-stripe btnMasterEdit tooltips"><i class="fa fa-pencil"></i>&nbsp;Edit</button>';
                                }
                            }, ],
                        "createdRow": function (row, data, index) {
                            $('td', row).addClass('center');
                            $('td', row).addClass('text-uppercase');
                        }
                    });
                    jQuery('#' + tblId + '_wrapper .dataTables_filter input').addClass("form-control input-medium input-inline"); // modify table search input
                    jQuery('#' + tblId + '_wrapper .dataTables_filter').addClass("pull-right");
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
                    $('#' + tblId).parents('.row').show(500);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                $("#addEdit").click(function () {
                    GetObjectDet("0", DomainName);
                });

                $(".btnCancel").live('click', function (e) {
                    $("#AddEditAddress").hide(1000);
                });

                $(".btnMasterEdit").live('click', function (e) {
                    var id = $(this).attr('id');
                    GetObjectDet(id, DomainName);
                });

                CallSubmitClick(DomainName);
                loadData(DomainName, 'AddressList');
            }
        }
    }();
</script>

