﻿@model Fleet.ViewModels.webx_Master_AirportViewModel
@using FleetDataService.Models;
@{
    ViewBag.Title = "List of Airport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_State> stateList = MS.GetStateMasterObject().Where(c => c.activeflag == null ? c.activeflag == null : c.activeflag == "Y").ToList();
}
<div id="AddEditAirportMaster"></div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                </div>
                <div class="tools">
                    <div>
                        <a href="#" class="btn btn-xs default blue-stripe pull-right" id="addEdit" data-toggle="modal">
                            <i class="fa fa-plus"></i>  Add Airport
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div id="tblData">
                    @{
                        Html.RenderPartial("_AirportMasterList", Model.listWMAM.ToList());
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-modal-lg" id="addEditModel" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                @*<div id="AddEditCityMaster"></div>*@
                @*@{Html.RenderPartial("_AddEditCity", Model.WCM);}*@
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var GetObjectDet = function (id, DomainName) {
            App.blockUI({ boxed: true });
            var strurl = DomainName + '/Master/GetAirportMasterDetails?SrNo=' + id;
            $.ajax({
                url: strurl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#AddEditAirportMaster").hide();
                    $("#AddEditAirportMaster").html(data);
                    CallSubmitClick(DomainName);
                    $("input:checkbox, input:radio").uniform();
                    $("#City").select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    $("#AlternateCity").select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    $("#CountryCode").select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    App.unblockUI();
                    $("#AddEditAirportMaster").toggle(1000);
                },
                error: function (req, status, error) {
                    //alert("error--" + req + "---" + status + "---" + error);
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }

            });

        }

        var CallSubmitClick = function (DomainName) {

            $("#btnSave").click(function (e) {
                App.blockUI({ boxed: true });
                if (e.handled !== true) // This will prevent event triggering more then once
                {
                    e.handled = true;
                    Formvalidate(DomainName);
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return;
                    }
                    var SrNo = $("#SrNo").val();
                    var AirportCode = $("#AirportCode").val();
                    var AirportName = $("#AirportName").val();
                    var City = $("#City").val();
                    var AlternateCity = $("#AlternateCity").val();
                    var CountryCode = $("#CountryCode").val();
                    var ActiveFlag = $("#ActiveFlag").prop('checked');

                    var AirportMaster =
                                    {
                                        "SrNo": SrNo,
                                        "AirportCode": AirportCode,
                                        "AirportName": AirportName,
                                        "City": City,
                                        "AlternateCity": AlternateCity,
                                        "CountryCode": CountryCode,
                                        "ActiveFlag": ActiveFlag,
                                    };

                    $.ajax({
                        url: DomainName + '/Master/AddEditAirportMaster',
                        cache: false,
                        data: JSON.stringify(AirportMaster),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.Status) {
                                TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                $("#AddEditAirportMaster").hide(1000);
                                bindTable(DomainName);
                            }
                            else {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            }
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                    $("input:checkbox, input:radio").uniform();
                }
            });
        }

        var CheckDuplicate = function (DomainName) {
            App.blockUI({
                target: '#addNew',
                overlayColor: 'none',
                cenrerY: true,
                boxed: true
            });
            var ZoneName = $("#ZoneName").val();
            var Location = $("#Location").val();
            var strurl = DomainName + '/Master/CheckDuplicateDeliveryZone?ZoneName=' + ZoneName + '&Location=' + Location;
            $.ajax({
                url: strurl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    if (data.Count > "0") {
                        TosterNotification("error", 'Name <b>"' + ZoneName + '"</b> already exists!!!', "Oppps..!!");
                        $("#ZoneName").focus();
                        $("#ZoneName").select();
                    }
                    App.unblockUI('#addNew');
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI('#addNew');
                }
            });
        }
        //var ZoneFocusout = function (DomainName) {
        //    $("#ZoneName").blur(function () {
        //        alert("hello");
        //    });
        //}

        var bindTable = function (DomainName) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Master/GetAirportMasterList';
            $.ajax({
                url: strUrl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $('#AirportMasterList').dataTable({
                        "bDestroy": true
                    }).fnDestroy();
                    $("#AirportMasterList").html(data);
                    App.unblockUI();
                    $("input:checkbox, input:radio").uniform();
                    initTableById("AirportMasterList");
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);
                
                $("#addEdit").click(function () {
                    GetObjectDet("0", DomainName);
                });

                $(".btnCancel").live('click', function (e) {
                    $("#AddEditAirportMaster").hide(1000);
                });

                $(".btnMasterEdit").live('click', function (e) {
                    var id = $(this).data('id');
                    GetObjectDet(id, DomainName);
                });

                //ZoneFocusout(DomainName);
                CallSubmitClick(DomainName);
                initTableById("AirportMasterList");
            }
        }
    }();
</script>



