﻿
@{
    ViewBag.Title = "Allotted Series List";
    Layout = null;
}

@using System.Configuration
@using MvcReportViewer;
@model Fleet.ViewModels.AllottedSeries
@{
    var parameters = new List<KeyValuePair<string, object>>
    {

        new KeyValuePair<string, object>("RO", @Model.RO),
        new KeyValuePair<string, object>("Branch", @Model.Loccode),
        new KeyValuePair<string, object>("StartDT", @Model.FromDate),
        new KeyValuePair<string, object>("EndDT", @Model.ToDate),
        new KeyValuePair<string, object>("DocList", @Model.Contain),
        new KeyValuePair<string, object>("ViewType", @Model.ReportType),
        new KeyValuePair<string, object>("DocType", @Model.DocumentType),
    };

    var ReportPathPrefix = ConfigurationManager.AppSettings["ReportPathPrefix"].ToString();

}

<div id="divPrint">

    @Html.MvcReportViewer(ReportPathPrefix + "/DCR_Register", parameters, new { Height = 600, Width = "100%", style = "border: none" })

    <div class="span3"></div>
</div>

