﻿@model Fleet.ViewModels.AllottedSeries
@using FleetDataService.Models
@{
    ViewBag.Title = "Allotted Series";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> listDocType = MS.GetGeneralMasterObject().Where(c => c.CodeType == "DOCS" && c.StatusCode == "Y").ToList().OrderBy(c => c.CodeDesc).ToList();
    var Loccode = Model.BaseLoccode;
    List<webx_location> LocationList = new List<webx_location>();
    List<SelectListItem> ReportList = new List<SelectListItem>(){
                    new SelectListItem{ Text="All", Value = "0" },
                    new SelectListItem{ Text="Allotted from HO but not allotted at branch", Value = "1" },
                    new SelectListItem{ Text="Allotted at branch but not used", Value = "2" },
                    new SelectListItem{ Text="Yet to allot from HO", Value = "3" },
    };
    List<SelectListItem> LocList = new List<SelectListItem>(){
                    new SelectListItem{ Text="", Value = "" },
    };
}
@using (Html.BeginForm("AllottedSeriesList", "Master", FormMethod.Post, new { id = "submit_form", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12" id="dkttype">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Document :
                                    </label>
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(c => c.DocumentType, new SelectList(listDocType, "CodeId", "CodeDesc"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Vendor Type" })
                                    </div>
                                </div>
                            </div>
                            @if (Model.LocLevel == 1 || Model.LocLevel == 2)
                        {
                        <div class="col-md-12" id="DivRO">
                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    Select RO :
                                </label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(c => c.RO, new SelectList(Model.RegionList, "LocCode", "LocName"), null, new { @class = "form-control required required2 select2", @placeholder = "Select Region" })
                                </div>
                            </div>
                        </div>
                        }
                            <div class="col-md-12" id="Location">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Select Location :
                                    </label>
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(c => c.Loccode, new SelectList(Model.LocationList, "LocCode", "LocName"), null, new { @class = "form-control required required2 select2", @placeholder = "Select Location" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Select  Date :
                                    </label>
                                    <div class="col-md-3">
                                        <div id="reportrange" class="btn default">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                        </div>
                                        @Html.HiddenFor(c => c.FromDate)
                                        @Html.HiddenFor(c => c.ToDate)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="FM">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Select Report :
                                    </label>
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(c => c.ReportType, new SelectList(ReportList, "Value", "Text"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Report" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                    </label>
                                    <div class="col-md-3">
                                        <b>OR</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="FM">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Contains :
                                    </label>
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(c => c.Contain, new { placeholder = "Contains", @class = "form-control" })
                                    </div>
                                    <span class="col-md-3 text-primary">[Seperated by Comma if multiple]</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="submit" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Show</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'FromDate', 'ToDate');
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                Events(DomainName);
                $("#RO").on("change", function () {
                    StrURL = DomainName + "/Finance/GetLocationListFromROJson?LocCode=" + $(this).val();
                    FillDropDownfromOther1("Loccode", StrURL, "Location");
                });
            }
        }
    }();
</script>
