﻿@model Fleet.ViewModels.AssignToCustVW
@{
    ViewBag.Title = "Assign To Cust Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-10">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-hide">
                        <button class="close" data-close="alert"></button>
                        Your form validation is successful!
                    </div>

                    @using (Html.BeginForm("AssignToCust", "Master", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
                    {
                        <div class="form-group ">
                            <label class="control-label col-md-2">
                                Enter BookCode :
                            </label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(c => c.BookCode, new { placeholder = "Enter BookCode", @class = "form-control required2" })
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="control-label col-md-2">
                                Sr From :
                            </label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(c => c.SrFrom, new { placeholder = "Sr From", @class = "form-control required2" })
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-12">
                                    <button type="button" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-search"></i>&nbsp;Search</button>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    var FormComponents = function (DomainName) {

        return {
            //main function to initiate the module
            init: function (DomainName) {

                FormValidate();

                $("#btnSubmit").click(function () {

                    FormValidate();
                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        return false;
                    }
                    document.forms["form_sample"].submit();

                });
            }
        };
    }();

</script>