﻿@model Fleet.ViewModels.AssignToCustVW
@using FleetDataService.Models

@{
    ViewBag.Title = "Assign To Cust";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_CUSTHDR> ListCust = MS.GetMappedCustomerForSeries(ViewBag.BaseLocationCode, ViewBag.BaseUserName);
}

    <div class="col-md-10">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-hide">
                        <button class="close" data-close="alert"></button>
                        Your form validation is successful!
                    </div>

                    @using (Html.BeginForm("AssignToCustSubmit", "Master", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
                    {
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5"> Customer Code :</label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(m => m.ObjDCRH.CustCode, new SelectList(ListCust, "CUSTCD", "CUSTNM"), "", new { @class = "form-control select2 required2 required", @placeholder = "Customer Code" })
                                        @Html.HiddenFor(m => m.ObjDCRH.DOC_KEY)
                                        @Html.HiddenFor(m=>m.ObjDCRH.doc_type)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Book Code :</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.ObjDCRH.bookcode, new { placeholder = "Book Code", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Sr From :</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.ObjDCRH.DOC_SR_FROM, new { placeholder = "Sr From", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5"> Sr To :</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.ObjDCRH.DOC_SR_TO, new { placeholder = "Sr To", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Total Leaf :</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.ObjDCRH.TotalLeaf, new { placeholder = "Total Leaf", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Suffix :</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.ObjDCRH.Suffix, new { placeholder = "Suffix", @class = "form-control required required2", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-12">
                                    <button type="button" id="btnSubmit" class="btn btn-sm blue"><i class="fa fa-search"></i>&nbsp;Search</button>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        return {
            //main function to initiate the module
            init: function (DomainName) {   

                FormValidate();

                $("#btnSubmit").click(function () {

                    FormValidate();
                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        return false;
                    }
                    document.forms["form_sample"].submit();

                });
            }
        };
    }();

</script>