﻿@model Fleet.ViewModels.BalanceTransferForLedgerSubLedgerViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@{
    ViewBag.Title = "Balance Transfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var Ledger = new List<SelectListItem>();
    Ledger.Add(new SelectListItem { Text = "ALL", Value = "ALL" });
    Ledger.Add(new SelectListItem { Text = "Asset", Value = "ALL" });
    Ledger.Add(new SelectListItem { Text = "Liability", Value = "ALL" });

    var PAndLedger = new List<SelectListItem>();
    PAndLedger.Add(new SelectListItem { Text = "ALL(P & L Ledger)", Value = "All" });

    var SubLedger = new List<SelectListItem>();
    SubLedger.Add(new SelectListItem { Text = "ALL", Value = "ALL" });
    SubLedger.Add(new SelectListItem { Text = "Customer", Value = "1" });
    SubLedger.Add(new SelectListItem { Text = "Vendor", Value = "2" });
    SubLedger.Add(new SelectListItem { Text = "Employee", Value = "3" });
    SubLedger.Add(new SelectListItem { Text = "Driver", Value = "4" });
}
@using (Html.BeginForm("BalanceTransferAssign", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>Balance Transfer For Ledger/Sub-Ledger
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="page-breadcrumb breadcrumb visible-tablet center" style="margin-top: 0px;">
                                    <li><strong>You are in finanacial year : @ViewBag.BaseFinYear || System will set closing balance of finanacial year : @Convert.ToString(Convert.ToInt32(@ViewBag.BaseFinYear.Split('-')[0]) - 1)-@Convert.ToString(Convert.ToInt32(@ViewBag.BaseFinYear.Split('-')[1]) - 1) as opening balance of finanacial year : @ViewBag.BaseFinYear</strong></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-6">Balance Transfer For Ledger</label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.Ledger, new SelectList(Ledger, "Value", "Text"), "", new { @class = "form-control select2 " })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" id="btnSubmit" class="btn btn-sm blue-stripe controls"><i class="fa fa-check"></i>&nbsp;Transfer Ledger Balance</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-6">Balance Transfer For Sub-Ledger</label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.SubLedger, new SelectList(SubLedger, "Value", "Text"), "", new { @class = "form-control select2 " })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" id="btnSubmit" class="btn btn-sm blue-stripe controls"><i class="fa fa-check"></i>&nbsp;Transfer Sub-Ledger Balance</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-6">Balance Transfer For P & L Ledger</label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.PndLLedger, new SelectList(PAndLedger, "Value", "Text"), "", new { @class = "form-control select2 " })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" id="btnSubmit" class="btn btn-sm blue-stripe controls"><i class="fa fa-check"></i>&nbsp;Transfer P & L Ledger Balance</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.form["form_sample"].submit();
                }

            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
            }
        }
    }();
</script>