﻿@model Fleet.ViewModels.HandlingCharge
@using FleetDataService.Models;
@{
    ViewBag.Title = "Branch Handling Charge List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddHandlingCharge", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                    <div class="caption pull-right">
                        <a class="btn default btn-xs" href="@Url.Content("~/Master/BranchHandlingCharge")">
                            <i class="fa fa-arrow-left"> </i>&nbsp;
                            Back To Criteria
                        </a>
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">   
                            @Html.HiddenFor(c => c.Type)
                            @Html.HiddenFor(c => c.Branch)
                            @Html.HiddenFor(c => c.LoadingBy)                        
                            <div class="col-md-12">
                                @if (Model.Type == "L")
                                {
                                    <h4>Handling Charge (Loading Charge)</h4>
                                }
                                else
                                {
                                    <h4>Handling Charge (UnLoading Charge)</h4>
                                }
                                <h4></h4>
                                <div class="row">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">No Of Rows </label>
                                            <div class="col-md-7">
                                                @Html.TextBox("txtLoading", "0", new { placeholder = "No. Rows", @class = "input-small form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <a id="btnload" class="btn  @ViewBag.TableBoxColor right">
                                            Add New Row <i class="m-icon-swapright m-icon-white"></i>
                                        </a>
                                    </div>
                                    <div class="col-md-5">

                                    </div>
                                </div>
                                <div class="portlet">
                                    <div class="portlet-body ">
                                        <div class="form-body">
                                            <table id="sample_1" class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="center">Location</th>
                                                        @if (Model.Type == "L")
                                                        {
                                                            <th class="center">Loading By</th>
                                                        }
                                                        else
                                                        {
                                                            <th class="center">UnLoading By</th>
                                                        }
                                                        <th class="center">Type</th>
                                                        <th class="center">Rate Type</th>
                                                        <th class="center">Rate</th>
                                                        <th class="center">Max Limit</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="TbodyLoad">
                                                    @foreach (var item in Model.objChargesLoad)
                                                    {
                                                        Html.RenderPartial("_PartialHandlingchrge_load", item);
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="submit" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.parents('.checkbox-list').size() > 0) {
                        error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        var AddQuestionsLoad = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Master/AddListHandlingload?id=' + itemIndex
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#TbodyLoad").append(html);
                    $("select").select2({
                        placeholder: "Select Option",
                    });
                    $("a.deleteload").live("click", function () {
                        $(this).parents("tr.editorRow:first").remove();
                        return false;
                    });
                    GetType("LoadingList_" + itemIndex + "__ContractType", "LoadingList_" + itemIndex + "__ContractType", DomainName + "/Master/GetType")

                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }
        
        return {
            //main function to initiate the module
            init: function (DomainName) {
                $("select").select2({
                    placeholder: "Select Option",
                });
                //$("a.deleteUnload").live("click", function () {
                //    $(this).parents("tr.editorRow:first").remove();
                //    return false;
                //});
                $("a.deleteload").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });

                @foreach (var item in Model.objChargesLoad)
                {
                    <text>
                GetType("LoadingList_" + @item.Id + "__ContractType", "LoadingList_" + @item.Id + "__ContractType", DomainName + "/Master/GetType");
                $("#LoadingList_" + @item.Id + "__LoadingBy").live("change", function () {
                    @*if ($(this).val() == "O") {
                        $("#LoadingList_" +@item.Id +"__Rate").attr("readonly", true);
                        $("#LoadingList_" +@item.Id +"__MaxAmount").attr("readonly", true);
                        $("#LoadingList_" +@item.Id +"__Rate").val(0)
                        $("#LoadingList_" +@item.Id +"__MaxAmount").val(0)

                    }
                    else if ($(this).val() == "B") {
                        $("#LoadingList_" +@item.Id +"__Rate").attr("readonly", true);
                        $("#LoadingList_" +@item.Id +"__MaxAmount").attr("readonly", true);
                        $("#LoadingList_" +@item.Id +"__Rate").val(0)
                        $("#LoadingList_" +@item.Id +"__MaxAmount").val(0)
                    }
                    else if ($(this).val() == "BP") {
                        $("#LoadingList_" +@item.Id +"__Rate").attr("readonly", true);
                        $("#LoadingList_" +@item.Id +"__MaxAmount").attr("readonly", true);
                        $("#LoadingList_" +@item.Id +"__Rate").val(0)
                        $("#LoadingList_" +@item.Id +"__MaxAmount").val(0)
                    }
                    else if ($(this).val() == "M") {
                        $("#LoadingList_" +@item.Id +"__Rate").attr("readonly", true);
                        $("#LoadingList_" +@item.Id +"__MaxAmount").attr("readonly", false);
                        $("#LoadingList_" +@item.Id +"__Rate").val(0)
                    }
                    else {*@
                        $("#LoadingList_" +@item.Id +"__Rate").attr("readonly", false);
                        $("#LoadingList_" +@item.Id +"__MaxAmount").attr("readonly", false);
                    //}
                });
                </text>
                }               

                Formvalidate(DomainName);
                $("#btnload").live('click', function () {
                    var itemIndex = $("#sample_1 input.iHidden").length;
                    var TOTRows = $("#txtLoading").val();
                    for (var i = 0; i <= TOTRows - 1; i++) {
                        setTimeout(function () {
                            itemIndex = itemIndex + 1;

                            AddQuestionsLoad(DomainName, itemIndex);

                        }, 250 * i);
                    }

                });

                $('#btnSubmit').click(function () {
                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        return false;
                    }
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                });

               
            }
        }
    }();
</script>
