﻿@model Fleet.ViewModels.HandlingCharge
@using FleetDataService.Models;
@{
    ViewBag.Title = "Branch Handling Charge";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Type = new List<SelectListItem> {
    new SelectListItem { Text = "Loading", Value = "L" },
    new SelectListItem { Text = "UnLoading", Value = "U" },
    };
}


<div class="row">
    <div class="col-md-8">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body ">
                @using (Html.BeginForm("BranchHandlingChargeList", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Select Loading Type :
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(c => c.Type, new SelectList(Type, "Value", "Text"), null, new { @class = "form-control select2 drp required2", placeholder = "Select Loading Type" })
                                        @*@Html.DropDownList("Type", new SelectList(Type, "Value", "Text"), "", new { @class = "select2 drp form-control", placeholder = "Select Loading Type" })*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Select Branch :
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.Branch, new { placeholder = "Location", @class = "required2 form-control required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="submit" id="btnSubmit" class="btn btn-sm blue controls ClsbtnSave"><i class="fa fa-search"></i>&nbsp;Search</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.parents('.checkbox-list').size() > 0) {
                        error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                $("select").select2({
                    placeholder: "Select Option",
                });

                //Formvalidate(DomainName);

                StrURL = DomainName + "/Operation/GetDestinationLocations";
                JsonDDLSelectCode("Branch", StrURL);


                $("#btnSubmit").live('click', function () {
                    App.blockUI({ boxed: true });
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return false;
                    }
                    else {
                        //document.forms[0].submit()
                        $.ajax({
                            url: $('#form_sample').attr('action'),
                            type: 'POST',
                            data: $('#form_sample').serialize(),
                            success: function (result) {
                                //TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                setTimeout(function () {
                                    window.location.reload();
                                }, 1500);
                            },

                        });
                    }
                });



            }
        }
    }();
</script>
