﻿@model IEnumerable<FleetDataService.Models.CYGNUS_Master_Menu>
@using Fleet
@{
    ViewBag.Title = "Change Menu Rights for User : ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    int i = 1;
    string UID = ViewBag.UserId;
    string BaseUserName = ViewBag.BaseUserName;
}
<link rel="stylesheet" href="@Url.Content("~/assets/jqwidgets/styles/jqx.base.css")" type="text/css" />
<script src="@Url.Content("~/assets/plugins/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/assets/jqwidgets/jqxcore.js")"></script>
<script type="text/javascript" src="@Url.Content("~/assets/jqwidgets/jqxbuttons.js")"></script>
<script type="text/javascript" src="@Url.Content("~/assets/jqwidgets/jqxscrollbar.js")"></script>
<script type="text/javascript" src="@Url.Content("~/assets/jqwidgets/jqxpanel.js")"></script>
<script type="text/javascript" src="@Url.Content("~/assets/jqwidgets/jqxtree.js")"></script>
<script type="text/javascript" src="@Url.Content("~/assets/jqwidgets/jqxcheckbox.js")"></script>

<script type="text/javascript">

    var ftree = $.noConflict();
    ftree(document).ready(function () {
        // create jqxTree
        ftree('#jqxTree').jqxTree({ hasThreeStates: true, checkboxes: true, width: '100%' });
        ftree('#jqxTree').css('visibility', 'visible');
        ftree('#jqxTree').jqxTree('expandAll');
        var items = ftree('#jqxTree').jqxTree('getItems');
        ftree.each(items, function (Menuid, item) {
            //alert("hii");

            var itemID = item.id;
            //alert(itemID);
            
            var myArray = itemID.split('XXX');
            // item.checked = $("#itemID")[1]

            //   alert(myArray[0] + "   " + myArray[1]);
            var chkst = false;
            if (myArray[1] == "True")
                chkst = true;

            ftree("#jqxTree").jqxTree('checkItem', $("#" + itemID)[0], chkst);


        });

        ftree('#jqxTree').on('checkChange', function (event) {
            var args = event.args;
            var element = args.element;
            var checked = args.checked;
            //alert("hello");
        });

        $(".btnSubmit").click(function () {
            App.blockUI({ boxed: true });
            OnbtnSubmit();
            document.forms["submit_form"].submit();
        });
        function OnbtnSubmit() {
            var items = ftree('#jqxTree').jqxTree('getItems');

            ftree.each(items, function (Menuid, item) {

                var itemID = item.id;
                var myArray = itemID.split('XXX');
                var isChecked = item.checked;
                //  alert(myArray[0] + " " + isChecked)
                if (isChecked == null)
                    isChecked = "true";
                $("#model" + myArray[0] + "__UserId").val($("#UserId").val());
                $("#model" + myArray[0] + "__MenuId").val(myArray[0]);
                $("#model" + myArray[0] + "__HasAccess").val(isChecked);

            });
        }

    });
</script>
<div class="row">
    <div class="col-md-6">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Menu Rights for User : <b>@UID</b>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    @using (Html.BeginForm("ChangeRights", "Master", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
                    {

                        <div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                <a class="btn btn-sm default controls" href="@Url.Content("~/Master/User")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To List</a>
                                <button type="button" class="btn btn-sm green controls btnSubmit"><i class="fa fa-check"> </i>&nbsp;Submit </button>
                                @Html.Hidden("UserId", UID)
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-10">
                                <div id='jqxTree' style='visibility: hidden;'>
                                    @Html.MenuTree(UID, BaseUserName)
                                </div>
                            </div>
                        </div>
                        foreach (var itm in Model)
                        {

                            string uId = "model" + itm.MenuID + "__UserId";
                            string mId = "model" + itm.MenuID + "__MenuId";
                            string hId = "model" + itm.MenuID + "__HasAccess";

                            string uIdn = "model[" + itm.MenuID + "].TUserId";
                            string mIdn = "model[" + itm.MenuID + "].MenuId";
                            string hIdn = "model[" + itm.MenuID + "].HasAccess";

                            <div>
                                <input type="hidden" name="model.index" autocomplete="off" value="@itm.MenuID" />
                                <input type="hidden" id="@uId" name="@uIdn" />
                                <input type="hidden" id="@mId" name="@mIdn" />
                                <input type="hidden" id="@hId" name="@hIdn" />
                            </div>
                            i++;
                        }
                        <div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                <a class="btn btn-sm default controls" href="@Url.Content("~/Master/User")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To List</a>
                                <button type="button" class="btn btn-sm green controls btnSubmit"><i class="fa fa-check"> </i>&nbsp;Submit </button>
                                @Html.Hidden("UserId", UID)
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>