﻿@model IEnumerable<FleetDataService.Models.CYGNUS_Master_Reports>
@using FleetDataService.Models;
@{
    ViewBag.Title = "Change " + @ViewBag.UserId + " Report Rights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Report Rights for User : <b>@ViewBag.UserId</b>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    @using (Html.BeginForm("ChangeReportRights_Submit", "Master", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
                    {
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th><span><input type="checkbox" class="group-checkable" data-set="#sample_ven .checkboxes"></span></th>
                                    <th>Report Type</th>
                                    <th>Report Sub Type</th>
                                    <th>Report Name</th>
                                    <th>Desription</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@foreach (var item in Model)
                                {
                                    item.UserName = ViewBag.UserId;
                                    Html.RenderPartial("_Report_Rights_Partial", item);
                                }*@
                                @Html.Partial("_Report_Rights_Partial", Model)

                                @*_Report_Rights_Partial*@

                            </tbody>
                        </table>

                        <div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                @*<a class="btn btn-sm default" href="@Url.Content("~/Finance/BillCollection")">
                                        <i class="fa fa-arrow-left"> </i>
                                        Back To Criteria
                                    </a>*@
                                <button type="button" id="btnSubmit" class="btn btn-sm blue controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        return {
            //main function to initiate the module
            init: function (DomainName) {

                //$(".clsCheckBox").each(function () {
                //    debugger
                //    var id = $(this).attr("id").replace("Report_", "").replace("__HasAccess", "");
                //    //alert(id);
                //    $("#Report_" + id + "__ReportID").val(id);
                //    $("#Report_" + id + "__ReportID").attr("value", "" + id);

                //    var checked = jQuery(this).is(":checked");
                //    if (checked) {

                //        $("#Report_" + id + "__HasAccess").attr().parent('span').addClass('checked');
                //        $("#Report_" + id + "__HasAccess").val("true");
                //    }
                //    else {
                //        $("#Report_" + id + "__HasAccess").attr().parent('span').removeClass('checked');
                //        $("#Report_" + id + "__HasAccess").val("false");
                //    }

                //});

                $(".clsCheckBox").click(function () {
                  //  debugger
                    var id = $(this).attr("id").replace("Report_", "").replace("__HasAccess", "");
                    var checked = jQuery(this).is(":checked");
                    //$(".clsCheckBox").val(checked);

                    if (checked) {
                        //$(this).attr().parent('span').addClass('checked');
                        //$(this).val("true");

                       // $("#Report_" + id + "__HasAccess").attr().parent('span').addClass('checked');
                        $("#Report_" + id + "__HasAccess").val("true");
                    }
                    else {
                        //$(this).attr().parent('span').removeClass('checked');
                        //$(this).val("false");

                      //  $("#Report_" + id + "__HasAccess").attr().parent('span').removeClass('checked');
                        $("#Report_" + id + "__HasAccess").val("false");
                    }
                });

                jQuery('#sample_ven .group-checkable').change(function () {
                    var set = jQuery(this).attr("data-set");
                    var checked = jQuery(this).is(":checked");
                     
                    jQuery(set).each(function () {
                        if (checked) {
                            $(this).attr("checked", true);
                            $(this).parents('tr').addClass("active");
                        } else {
                            $(this).attr("checked", false);
                            $(this).parents('tr').removeClass("active");
                        }
                    });
                    jQuery.uniform.update(set);
                });

                jQuery('#sample_ven').on('change', 'tbody tr .checkboxes', function () {
                    $(this).parents('tr').toggleClass("active");
                });

                $("#btnSubmit").click(function () {
                    App.blockUI({ boxed: true });
                    document.forms["submit_form"].submit()
                });
            }
        };
    }();

</script>
