﻿@model FleetDataService.ViewModels.ChqDepositVoucherViewModel
@using CYGNUS.Models;
@using Fleet.Classes;
@{
    ViewBag.Title = "Cheque Deposit Voucher";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var transdate = new List<SelectListItem>
               {
                new SelectListItem{Text="Cheque Date",Value="1"},
               new SelectListItem{Text="Transcation Date",Value="2"}
               };

}
@using (Html.BeginForm("ChqPrintDetail", "Master", FormMethod.Get, new { @id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Cheque Print Details
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label col-md-4">
                                        Cheque No
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(c => c.chqdet.chqno, new { placeholder = " Cheque No", @class = "m-wrap span6 form-control required2 required "})
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label col-md-4">
                                        Voucher No
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.Voucherno, new { placeholder = "Voucher No", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label col-md-4">
                                        Date Type
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.transdate, new SelectList(transdate, "Value", "Text"), new { @class = "select2 required form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label col-md-4">
                                        Select Expense Bill Date
                                    </label>
                                    @Html.HiddenFor(m => m.chqdet.DATEFROM)
                                    @Html.HiddenFor(m => m.chqdet.DATETO)
                                    <div class="col-md-6">
                                        <div id="reportrange" class="btn default col-md-12">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-actions fluid" id="SubmitBtn">
                        <div class="row">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="button" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i>&nbsp; Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="ChqNOList">
        @foreach (var item in Model.ChqdetList)
        {
            Html.RenderPartial("_ChqPrintDetailList", item);
        }
    </div>

}



<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                  //  document.form["form_sample"].submit();

                }

            });
        }

        var handleDateRangePickers = function () {
            if (!jQuery().daterangepicker) {
                return;
            }

            $('#reportrange').daterangepicker({
                opens: (App.isRTL() ? 'left' : 'right'),
                startDate: moment().subtract('days', 29),
                endDate: moment(),

                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                buttonClasses: ['btn'],
                applyClass: 'green',
                cancelClass: 'default',
                format: 'DD/MM/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Apply',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },

                 function (start, end) {
                     $('#chqdet_DATEFROM').val(start.format('MMMM D, YYYY'));
                     $('#chqdet_DATETO').val(end.format('MMMM D, YYYY'));
                     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                 }
            );
            $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#chqdet_DATEFROM').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
            $('#chqdet_DATETO').val(moment().format('MMMM D, YYYY'));
        }

        var Events = function (DomainName) {

            $('#btnSubmit').click(function () {
                App.blockUI({ boxed: true });
                $.ajax({
                    url: DomainName + "/Master/ChqPrintDetail",
                    type: 'POST',
                    data: $('#form_sample').serialize(),
                    success: function (data) {
                        //alert(data)
                        $("#divCrieteria :input").prop("readonly", true);
                        $("#ChqNOList").html(data);
                        $('#reportrange').attr('disabled', true);
                        App.unblockUI();
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        App.unblockUI();
                    }
                });
            });


        }

        //var Events = function (DomainName) {

        //    $('#btnSubmit').click(function () {
        //        //App.blockUI({ boxed: true });

        //    });


        //}


        return {
            //main function to initiate the module
            init: function (DomainName) {
                Events(DomainName);
                handleDateRangePickers();
                Formvalidate(DomainName);

            }
        }
    }();
</script>