﻿@model Fleet.ViewModels.webx_citymasterViewModel
@using FleetDataService.Models;
@{
    ViewBag.Title = "City Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_State> stateList = MS.GetStateMasterObject().Where(c => c.activeflag == null ? c.activeflag == null : c.activeflag == "Y").ToList();
}
<div id="AddEditCityMaster"></div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a href="@Url.Content("~/Master/ExportData?MethodName=City_Master&FileName=City_Master_List")" class="btn default btn-xs controls"><i class="fa fa-download"></i>&nbsp;Download Excel </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    <div class="form-group">
                        <div class="col-md-9">
                            <label class="control-label col-md-1">State</label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(c => c.WCM.state, new SelectList(stateList, "stcd", "stnm", Model.WCM.state), "", new { @class = "form-control select2", @placeholder = "Select State" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="btn btn-sm default blue-stripe pull-right" id="addEdit" data-toggle="modal">
                                <i class="fa fa-plus"></i>  Add City
                            </a>
                        </div>
                    </div>
                </div>
                <hr />
                <div id="tblData" style="display:none;">
                    @{
                        Html.RenderPartial("_CityList", Model.listWCM.ToList());
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var GetObjectDet = function (id, DomainName) {
            App.blockUI({ boxed: true });
            var strurl = DomainName + '/Master/GetCityDetails?city_code=' + id;
            $.ajax({
                url: strurl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#AddEditCityMaster").hide();
                    $("#AddEditCityMaster").html(data);
                    CallSubmitClick(DomainName);
                    $("input:checkbox, input:radio").uniform();
                    $(".dropDown").select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    App.unblockUI();
                    $("#AddEditCityMaster").toggle(1000);
                },
                error: function (req, status, error) {
                    //alert("error--" + req + "---" + status + "---" + error);
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }

            });

        }

        var CallSubmitClick = function (DomainName) {

            $("#btnSave").click(function (e) {
                App.blockUI({ boxed: true });
                if (e.handled !== true) // This will prevent event triggering more then once
                {
                    e.handled = true;
                    Formvalidate(DomainName);
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return;
                    }
                    var city_code = $("#city_code").val();
                    var Location = $("#Location").val();
                    var state = $("#state").val();
                    var Region = $("#Region").val();
                    var oda_yn = $("#oda_yn").prop('checked');
                    var ODAkm = $("#ODAkm").val();
                    var permit_yn = $("#permit_yn").prop('checked');
                    var activeflag = $("#activeflag").prop('checked');
                    var Destination = $("#Destination").val();
                    var Pincode = $("#Pincode").val();
                    var DelieryAddress = $("#DelieryAddress").val();

                    var CityMaster =
                                    {
                                        "city_code": city_code,
                                        "Location": Location,
                                        "state": state,
                                        "Region": Region,
                                        "oda_yn": oda_yn,
                                        "ODAkm": ODAkm,
                                        "permit_yn": permit_yn,
                                        "Destination": Destination,
                                        "Pincode": Pincode,
                                        "DelieryAddress": DelieryAddress,
                                        "activeflag": activeflag
                                    };

                    $.ajax({
                        url: DomainName + '/Master/AddEditCity',
                        cache: false,
                        data: JSON.stringify(CityMaster),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.Status) {
                                TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                $("#AddEditCityMaster").hide(1000);
                                bindTable($("#WCM_state").val(), DomainName);
                            }
                            else {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            }
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                    $("input:checkbox, input:radio").uniform();
                }
            });
        }

        var CheckDuplicateCity = function (DomainName) {

            $("#Location").live('blur', function () {
                if ($(this).val() == null || $(this).val() == "")
                {
                    return false;
                }
                App.blockUI({ boxed: true });
                var City = $(this).val();
                var strurl = DomainName + '/Master/CheckDuplicateCity?City=' + City;
                $.ajax({
                    url: strurl,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (data) {
                        if (data.Count > 0) {
                            TosterNotification("error", 'City Name <b>"' + City.toUpperCase() + '"</b> already exists in State!!!', "Oppps..!!");
                            $("#Location").val('');
                            $("#Location").focusin();
                        }
                        App.unblockUI();
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        App.unblockUI();
                    }
                });

            });
        }

        var bindTable = function (id, DomainName) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Master/GetCityByState/' + id;
            $.ajax({
                url: strUrl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#tblData").hide(1000);
                    $('#CityList').dataTable({
                        "bDestroy": true
                    }).fnDestroy();
                    $("#CityList").html(data);
                    App.unblockUI();
                    $("input:checkbox, input:radio").uniform();
                    initTableById("CityList");
                    $("#tblData").toggle(1000);
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        var ODAFlagChange = function () {
            $("#oda_yn").live('change', function () {
                $("#ODAkm").attr('disabled', !($(this).is(':checked')));
                $("#ODAkm").focus();
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                CheckDuplicateCity(DomainName);
                Formvalidate(DomainName);
                ODAFlagChange()
                $("#addEdit").click(function () {
                    GetObjectDet("0", DomainName);
                });

                $(".btnCancel").live('click', function (e) {
                    $("#AddEditCityMaster").hide(1000);
                });

                $(".btnMasterEdit").live('click', function (e) {
                    var id = $(this).data('id');
                    GetObjectDet(id, DomainName);
                });

                CallSubmitClick(DomainName);

                $('#WCM_state').change(function () {
                    if ($(this).val() == null || $(this).val() == "") {
                        $("#CityList").html('');
                        $("#tblData").hide(1000);
                        return false;
                    }
                    var id = $(this).val();
                    bindTable(id, DomainName);
                });                

                initTableById("CityList");
            }
        }
    }();
</script>