﻿@model Fleet.ViewModels.WEBX_LOCATION_COMPANY_MAPPINGViewModel
@using FleetDataService.Models;
@{
    ViewBag.Title = "Company - Location Mapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Text = "Submit";
    bool ACTIVEFLAG = true;
    //if (Model.WLCMM.ACTIVEFLAG != null && Model.WLCMM.ACTIVEFLAG.ToUpper() == "N")
    //{
    //    ACTIVEFLAG = false;
    //}

    if (Model.WLCMM.ACTIVEFLAG != null && Model.WLCMM.ACTIVEFLAG.ToUpper() == "FALSE")
    {
        ACTIVEFLAG = false;
    }
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a href="@Url.Content("~/Master/ExportData?MethodName=Company_Location_Mapping&FileName=Company_Location_Mapping_List")" class="btn default btn-xs controls"><i class="fa fa-download"></i>&nbsp;Download Excel </a>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("AddEditCompanyLocation", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
                {
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label col-md-4">Location Code</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(c => c.WLCMM.LOCCODE, new { @class = "form-control" })
                                    @Html.HiddenFor(c => c.WLCMM.SRNO)
                                    @Html.HiddenFor(c => c.WLCMM.DEFAULT_COMPANY)
                                    @Html.HiddenFor(c => c.WLCMM.COMPANY_LIST)
                                    @Html.HiddenFor(c => c.EditFlag)
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Active</label>
                                    <div class="col-md-7 chkactive">
                                        @Html.CheckBox("ACTIVEFLAG", @ACTIVEFLAG) 
                                        @Html.HiddenFor(c => c.WLCMM.ACTIVEFLAG)                                          
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div id="tblData" style="display:none;">
                        @*@{
                    Html.RenderPartial("_LocCompany", Model);
                        }*@

                        @{
                    Html.RenderPartial("_LocCompanyList", Model.listWLCM.ToList());
                        }
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            @*<button type="button" class="btn btn-sm defualt controls btnCancel" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>&nbsp;Cancel</button>*@
                            <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var bindTable = function (id, DomainName) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Master/GetLocCompanyMasterList/' + id;
            $.ajax({
                url: strUrl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#tblData").hide(1000);
                    $('#LocationCompanyList').dataTable({
                        "bDestroy": true
                    }).fnDestroy();                    
                    $("#LocationCompanyList").html(data);
                  //  var status = true;
                    //if ($("#WLCMM_ACTIVEFLAG").val() == "N")
                    //{
                    //    status = false;
                    //}
                 //   alert($("#WLCMM_ACTIVEFLAG").val())
                 //   $("#ACTIVEFLAG").prop("checked", status);
                    App.unblockUI();
                    $("input:checkbox, input:radio").uniform();
                    $("#tblData").toggle(1000);
                    Cmplistdetail(DomainName);
                    $("#WLCMM_DEFAULT_COMPANY").val($('input[type=radio][name=radioOptions]').val());

                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        var Cmplistdetail = function (DomainName) {
            var abcd = '';
            $('.clsChecked').each(function () {
                if ($(this).is(':checked')) {
                    abcd = abcd + ',' + $(this).val();
                }
            })
            $("#WLCMM_COMPANY_LIST").val(abcd.substring(1))
        }

        var CallSubmitClick = function (DomainName) {
            $("#btnSave").live('click', function (e) {
                App.blockUI({ boxed: true });
                if (e.handled !== true) // This will prevent event triggering more then once
                {
                    e.handled = true;
                    Formvalidate(DomainName);
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return;
                    }
                    $.ajax({
                        url: DomainName + '/Master/AddEditCompanyLocation',
                        cache: false,
                        data: $("#form_sample").serialize(),
                        type: 'Post',
                        success: function (data) {
                            if (data == 'true') {
                                TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                $('#WLCMM_LOCCODE').select2('data', null);
                            }
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                    $("input:checkbox, input:radio").uniform();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                CallSubmitClick(DomainName);

                $('#WLCMM_LOCCODE').change(function () {
                    var id = $(this).val();
                    bindTable(id, DomainName);
                });

                $("#WLCMM_ACTIVEFLAG").val($("#ACTIVEFLAG").prop("checked"));
                $("#ACTIVEFLAG").change(function () {
                    var status = $("#ACTIVEFLAG").prop("checked");
                    $("#WLCMM_ACTIVEFLAG").val(status);
                });

                JsonDDL('WLCMM_LOCCODE', DomainName + '/Master/GetAllLocCompanyJson');

                $('.clsChecked').live('change', function () {
                    Cmplistdetail(DomainName);
                });

                $('input[type=radio][name=radioOptions]').live('change', function () {
                    $("#WLCMM_DEFAULT_COMPANY").val($(this).val());
                });
            }
        }
    }();
</script>