﻿@model FleetDataService.Models.webx_vendor_Crossing_Contract_Det
@using FleetDataService.Models
@using CYGNUS.Classes
@using System.Data;
@{
    int id = 1;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Text = "Submit"; bool Active = false; var type = "Add";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();

    List<webx_citymaster> cityList = MS.GetCityMasterObject().Where(c => c.activeflag == "Y").ToList().OrderBy(c => c.Location).ToList();

    ViewBag.Title = " Crossing vendor master";
}


@using (Html.BeginForm("CrossingVendorMastersubmit", "Master", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal", @readonly = "true" }))
{
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        You have some form errors. Please check below.
    </div>
    <div class="alert alert-success display-hide">
        <button class="close" data-close="alert"></button>
        Your form validation is successful!
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                    <div class="caption">
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-1">
                                        Select
                                        <br />
                                        <span>
                                            <input type="checkbox" id="CHkAll" />
                                        </span>

                                    </th>
                                    <th class="col-md-2">Origin </th>
                                    <th class="col-md-3">Dest.City</th>
                                    <th class="col-md-2">Rate Type</th>
                                    <th class="col-md-1">Rate</th>
                                    <th class="col-md-1">DD Rate Type</th>
                                    <th class="col-md-2">Door Dely. Rate/Charges</th>
                                    <th>X</th>
                                </tr>
                            </thead>
                            <tbody id="containerTblRouteCity">
                                @Html.HiddenFor(c => c.ActiveFlag)
                                @Html.HiddenFor(c => c.Id)
                                @Html.HiddenFor(c => c.VendorCode)
                                @Html.HiddenFor(c => c.ContractID)
                                @Html.HiddenFor(c => c.IsUpdate)
                                @foreach (var item in Model.ListWVCCD)
                                {
                                    item.Id = id;
                                    Html.RenderPartial("_PartialCrossingVendor", item);
                                    id++;
                                }
                                @*<tr>
                                        <td></td>
                                        <td></td>
                                        <td><input type="text" class="form-control" id="sum_tr" readonly value="" /></td>
                                        <td><input type="text" class="form-control" readonly /></td>
                                        <td><input type="text" class="form-control" id="sum_st" readonly /></td>
                                        <td><input type="text" class="form-control" readonly /></td>
                                    </tr>*@
                            </tbody>
                        </table>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-9">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="btnAddRouteCity" class="btn green pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 form-actions fluid ">
        <div class="col-md-offset-4 col-md-8">
            <a class="btn btn-sm default controls" href="@Url.Content("~/Master/CrossingVendorMasterSearch")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Search</a>

            <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;@Text </button>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                    'WVT.UserPwd': {
                        minlength: 6
                    },
                    'ConfirmPassword': {
                        equalTo: "#WVT_UserPwd"
                    },
                },

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();


                    $.post($("#form_sample").attr('action'), $("#form_sample").serialize(), function (data, status) {
                        if (status == "success") {
                            TosterNotification("success", "Record has been saved successfully..!!", "Success");
                            //window.location.href = DomainName + '/Master/RouteCity';
                        }
                        else {
                            TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                        }
                    });

                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }
        var AddRouteCityInfo = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var vendorcode = $("#VendorCode").val();
            var StrURL1 = DomainName + '/Master/ADDCrossingVendorInfo?id=' + itemIndex + "&VendorCode=" + vendorcode;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#containerTblRouteCity").append(html);
                    //JsonDDLSelectCode("RutTran_" + itemIndex + "__Origin", StrURL);
                    App.unblockUI();
                    $("input[type=checkbox], input:radio, input:file").uniform();

                    $('#RutTran_' + itemIndex + '__RUTNO').val(itemIndex);

                    $('#RutTran_' + itemIndex + '__Origin').select2({
                        placeholder: "Select an option",
                        allowClear: true

                    });
                    $('#RutTran_' + itemIndex + '__DestCity').select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    $('#RutTran_' + itemIndex + '__ratetype').select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    $('#RutTran_' + itemIndex + '__DDRatetype').select2({
                        placeholder: "Select an option",
                        allowClear: true
                    }); //if (itemIndex > 1) {
                    //    $("#btnSubmit").show(1000);
                    //}
                    $("#RutTran_" + itemIndex + "__Check").val("false");
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }

        var duplicateDDLCheckStanLoop = function (parIdName) {
            
            var parId = parIdName.split('_')[1];
            var parTransMode = $('#RutTran_' + parId + '__Origin').val();
            var parDestCity = $('#RutTran_' + parId + '__DestCity').val();
            var parRateUnits = $('#RutTran_' + parId + '__rate').val();

            $(".clsChkDuplicateLoop").each(function () {
                var currId = $(this).attr("id").split('_')[1];
                var currTransMode = $('#RutTran_' + currId + '__Origin').val();
                var currDestCity = $('#RutTran_' + currId + '__DestCity').val();
                var currRateUnits = $('#RutTran_' + currId + '__rate').val();
               
                if (parId != currId && parTransMode == currTransMode && parDestCity == currDestCity && parseFloat(parRateUnits) == parseFloat(currRateUnits)) {
                    $('#' + parIdName).val('');
                    //$('#' + parIdName).select2();
                    TosterNotification("error", "Error !! Oppssss Can Not Select Same Rate At Same Origin-Destination", "Error");
                    return false;
                }

            });

        }

        var chkChange = function () {
            var values = $('input:checkbox:checked.CLSCHK').map(function () {
                return $(this).data('id');
            }).get().join();
            $('#stringBIllNO').val(values);
            ($('input:checkbox:checked.CLSCHK').length > 0) ? $('#btnSubmit').show() : $('#btnSubmit').hide();
        }
        return {
            init: function (DomainName) {

               

                Formvalidate(DomainName);

            

                //$(document).on('click', '#CHkAll', function () {
                //    $('.CLSCHK').prop('checked', $(this).prop('checked'));
                //});

              //  $('#btnSubmit').hide();

                //$('.select2').select2({
                //    placeholder: "Select an option",
                //    allowClear: true
                //});
                //$('#btnSubmit').click(function () {
                //    if ($('#form_sample').valid()) {
                //        App.blockUI({ boxed: true });
                //        document.forms["form_sample"].submit()
                //    }
                //    else {
                //        return false
                //    }
                //});




                $("#btnSubmit").click(function () {
                    Formvalidate(DomainName);

                    if ($('#form_sample').valid()) {

                        $('.CLSCHK').each(function () {
                            
                            var Srno = $(this).attr("id").replace("RutTran_", "").replace("__Check", "");
                            var ISCheck = $(this).is(":checked");
                            if (ISCheck) {
                                $("#RutTran_" + Srno + "__Check").parent('span').addClass("checked", true);
                                $("#RutTran_" + Srno + "__Check").prop("checked", true);
                                $("#RutTran_" + Srno + "__Check").val("true");
                                $("#RutTran_" + Srno + "__Origin").addClass("required");
                                $("#RutTran_" + Srno + "__DestCity").addClass("required");
                                $("#RutTran_" + Srno + "__ratetype").addClass("required");
                                $("#RutTran_" + Srno + "__rate").addClass("required");
                                $("#RutTran_" + Srno + "__DDRatetype").addClass("required");
                                $("#RutTran_" + Srno + "__doordeliveryCharge").addClass("required");
                            }
                            else {
                                $("#RutTran_" + Srno + "__Check").parent('span').removeClass("checked", true);
                                $("#RutTran_" + Srno + "__Check").prop("checked", false);
                                $("#RutTran_" + Srno + "__Check").val("false");
                                $("#RutTran_" + Srno + "__Origin").removeClass("required");
                                $("#RutTran_" + Srno + "__DestCity").removeClass("required");
                                $("#RutTran_" + Srno + "__ratetype").removeClass("required");
                                $("#RutTran_" + Srno + "__rate").removeClass("required");
                                $("#RutTran_" + Srno + "__DDRatetype").removeClass("required");
                                $("#RutTran_" + Srno + "__doordeliveryCharge").removeClass("required");
                            }

                        });
                       

                        App.blockUI({ boxed: true });
                        document.forms["form_sample"].submit()
                    }
                    else {
                        return false
                    }
                });

                //$('#btnSubmit').click(function (e) {

                //    if (!$('#form_sample').valid())
                //        return;
                //    if ($(":checkbox:checked").length < 1) {
                //        alert('Please Select atlest One Checkbox...!!!');
                //        e.preventDefault();
                //    }

                //});


                //$('.CLSCHK').change(function () {
                //    chkChange();
                //});
               // $(".CLSCHK").trigger("change");
                $("#CHkAll").live("change", function () {
                    $(".CLSCHK").prop('checked', $(this).is(':checked'));
                    $("input:checkbox, input:radio").uniform();
                   // chkChange();
                });

              

                $('.CLSCHK').live('change', function () {
                  // debugger
                    var Srno = $(this).attr("id").replace("RutTran_", "").replace("__Check", "");
                    var ISCheck = $(this).is(":checked");
                    if (ISCheck) {
                        $("#RutTran_" + Srno + "__Check").parent('span').addClass("checked", true);
                        $("#RutTran_" + Srno + "__Check").prop("checked", true);
                        $("#RutTran_" + Srno + "__Check").val("true");
                        $("#RutTran_" + Srno + "__Origin").addClass("required");
                        $("#RutTran_" + Srno + "__DestCity").addClass("required");
                        $("#RutTran_" + Srno + "__ratetype").addClass("required");
                        $("#RutTran_" + Srno + "__rate").addClass("required");
                        $("#RutTran_" + Srno + "__DDRatetype").addClass("required");
                        $("#RutTran_" + Srno + "__doordeliveryCharge").addClass("required");
                    }
                    else {
                        $("#RutTran_" + Srno + "__Check").parent('span').removeClass("checked", true);
                        $("#RutTran_" + Srno + "__Check").prop("checked", false);
                        $("#RutTran_" + Srno + "__Check").val("false");
                        $("#RutTran_" + Srno + "__Origin").removeClass("required");
                        $("#RutTran_" + Srno + "__DestCity").removeClass("required");
                        $("#RutTran_" + Srno + "__ratetype").removeClass("required");
                        $("#RutTran_" + Srno + "__rate").removeClass("required");
                        $("#RutTran_" + Srno + "__DDRatetype").removeClass("required");
                        $("#RutTran_" + Srno + "__doordeliveryCharge").removeClass("required");
                    }

                });

                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });

                @*var itemIndex = $("#sample_ven input.iHidden").length + 1;
                if ('@Model.WRTCT.RUTNO' == '0') {
                    AddRouteCityInfo(DomainName, itemIndex);
                }*@
                $('.clsChkDuplicateLoop').live('change', function () {

                    duplicateDDLCheckStanLoop($(this).attr('id'));
                });

                $("#btnAddRouteCity").live('click', function () {

                    var itemIndex = $("#containerTblRouteCity tr").length + 1;

                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddRouteCityInfo(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });


            }
        }
    }();
</script>





