﻿@using Fleet.Helpers;
@using CYGNUS.Models;
@using CYGNUS.ViewModel;
@using Fleet.Classes;
@{
    ViewBag.Title = "Crossing Vendor Done";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ContractNo = ViewBag.ContractNo;
}


<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class=" portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>@ViewBag.Title
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Contract No
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@ContractNo</b>
                            </td>
                            <td>
                                <a href="javascript:View('@ViewBag.ContractNo')"><b><i class="fa fa-print"></i>&nbsp;View || Print</b></a>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="@Url.Action("CrossingVendorMasterSearch", "Master")"><b> Add More Vendor Contract.</b></td>
                            <td>
                                <a href="@Url.Action("CrossingChallanCriteria", "Operation")"><b>Prepare Crossing Challan.</b></a>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                </a><br />
                
            </span>
        </div>
    </div>
</div>

<script type='text/javascript'>

    function View(ContractNo) {
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        var strPopupURL = ReportURL + DomainName + "/ViewPrint/CrossingVendorView?ContractID=" + ContractNo;
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;
    }

    var FormSamples = function (DomainName) {

        return {
            init: function (DomainName) {
            }
        };
    }();
</script>

