﻿@model Fleet.ViewModels.FUELCARDViewModel
@using FleetDataService.Models
@using Fleet.ViewModels;

@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();

    List<SelectListItem> listItems = new List<SelectListItem>(){
                            new SelectListItem { Text = "Crossing Vendor", Value = "0"},
                         
                           };
}
<div class="row">
    <div class="col-md-8">
        <div class="portlet box @ViewBag.TableBoxColor ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Crossing Vendor Master Search
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-hide">
                        <button class="close" data-close="alert"></button>
                        Your form validation is successful!
                    </div>
                    @using (Html.BeginForm("CrossingVendorMaster", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        <div class="row">

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Select Vendor Type:
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownList("VendorType",listItems,"", new { @class = "select2 required form-control", @placeholder = "Select Vendor Type" })
                             
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Add/Edit:
                                    </label>
                                    <div class="col-md-6">
                                        Add <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Add" value="Add" style="margin-left:0px" />
                                        Edit <input class="clsSurveyEdit" type="radio" name="optionsRadios2" id="Edit" value="Edit" style="margin-left:0px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Select Vendor:
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBox("vendor", "", new { placeholder = "Select Vendor", @class = "form-control required2 required", @readonly = true })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-4 col-md-12">

                                    <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //document.forms["form_sample"].submit()
                }
            });
        }

        var Events = function (DomainName) {

            $('#ActiveFlag').change(function () {
                $('#FCM_Active_Flag').val($(this).is(':checked') ? 'Y' : 'N')
            });
            $('#btnSubmit').click(function () {
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit()
                }
                else {
                    return false
                }
            });

        }
        var ChangeCustomerType = function (DomainName) {

            $("input[name='optionsRadios2']").click(function () {
                    $("#vendor").prop("readonly", false)
                    $("#vendor").select2("data", null);
                    if (this.value == "Add") {
                        JsonDDLSelectCodeWithName("vendor", DomainName + "/Master/AddorEdit?Flag=Add");

                    }
                    else if (this.value == "Edit") {
                        JsonDDLSelectCodeWithName("vendor", DomainName + "/Master/AddorEdit?Flag=Edit");

                    }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                handleDatePicker();
                Events(DomainName);
                ChangeCustomerType(DomainName);
               
            }
        }
    }();
</script>
