﻿@model Fleet.ViewModels.CustomertoCustomerMappingViewmodel
@using Fleet.Helpers
@using FleetDataService.Models;
@{
    ViewBag.Title = "Customer to Customer Mapping";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();

    int RowNumberCount = Model.ListCCMVL.Count();
    int i = 1;
}

@using (Html.BeginForm("CustomertoCustomerMapping_Submit", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group">
                                @Html.Hidden("RowNumber", RowNumberCount)
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-8">
                                            <label class="control-label col-md-4">Main Customer :</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(m => m.ObjCCMV.CustCode, new { @class = "required2 required form-control clsChkDuplicate", placeholder = "Select Customer" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="AddCust">
                            <div class="row col-md-12">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th style="white-space: pre-line" class="center">Sub Customer</th>
                                            <th style="white-space: pre-line" class="center">#</th>
                                        </tr>
                                    </thead>
                                    <tbody id="AddCustList">
                                        @foreach (var item in Model.ListCCMVL)
                                        {
                                            item.ID = i;

                                            Html.RenderPartial("_CustomertoCustomerMapping", item);
                                            i++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" id="btnAddNewRow" class="btn btn-sm blue pull-right">Add New Row</button>
                                </div>
                            </div>
                            <div class="form-actions fluid">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-6">
                                        <button type="button" id="btnSubmit" class="btn btn-sm green controls">
                                            <i class="fa fa-check"></i>&nbsp;Sumbit
                                        </button>
                                        <a href="@Url.Content("~/Master/CustomertoCustomerMapping")" class="btn btn-sm default controls Rate">&nbsp;Back To Criteria </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var FormValidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span',
                errorClass: 'help-block',
                focusInvalid: false,
                ignore: "",
                rules: {},
                messages: {},
                invalidHandler: function (event, validator) {
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                success: function (label) {
                    label.closest('.form-group').removeClass('has-error');
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    // document.forms["form_sample"].submit()
                }
            });
        }

        var AddDetails = function (DomainName, Type) {
            //debugger;
            var itemIndex = parseInt($("#RowNumber").val()) + 1;

            var StrURL1 = DomainName + '/Master/_ADDCustomer?id=' + itemIndex + "&Type=" + Type + "&Cust=" + $("#ObjCCMV_CustCode").val();
            App.blockUI({ boxed: true });
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#AddCust").show();
                    $("#AddCustList").show();
                    $("#AddCustList").append(html);


                    if (Type == 1) {
                        $(".CustCodeCls").each(function () {
                            var a = $(this).attr("id");
                            console.log(a);
                            StrURLCust = DomainName + "/Master/GetCustomerList";
                            JsonDDLSelectCodeWithName(a, StrURLCust);
                        });
                    }
                    else {
                        StrURLCust = DomainName + "/Master/GetCustomerList";
                        JsonDDLSelectCodeWithName("CPM_" + itemIndex + "__SubCustCode", StrURLCust);
                    }

                    App.unblockUI();
                    duplicateDDLCheck(DomainName)
                    $("#RowNumber").val(itemIndex);
                    $('select').select2();
                    $("#btnSubmit").show();
                    $(".deleteRow").live("click", function () {
                        $(this).parents("tr.editorRow:first").remove();
                        return false;
                    });
                },
                error: function (req, status, error) {
                    alert("error " + req + "   " + status + "   " + error);
                }
            });
        }

        var duplicateDDLCheck = function () {
            $(".clsChkDuplicate").change(function () {
                var currId = $(this).attr('id').split("_")[1];
                var currval = $(this).val();
                var parSubcust = $('#CPM_' + currId + '__SubCustCode').val();
                var parMaincust = $('#ObjCCMV_CustCode').val();

                $(".clsChkDuplicate").each(function () {
                    var otherId = $(this).attr('id').split("_")[1];
                    var otherval = $(this).val();
                    var curSubcust = $('#CPM_' + otherId + '__SubCustCode').val();
                    if (currId != otherId && parSubcust == curSubcust) {
                        TosterNotification("error", "!! Oppssss cannot select Duplicate Value.....", "Message");
                        $('#CPM_' + currId + '__SubCustCode').select2('data', null);
                        return false;
                    }
                    else if (parMaincust == parSubcust) {
                        TosterNotification("error", "!! Oppssss cannot select Main customer to Sub customer.....", "Message");
                        $('#CPM_' + currId + '__SubCustCode').select2('data', null);
                        return false;
                    }
                });

            });

        }

        return {
            init: function (DomainName) {

                StrURL = DomainName + "/Master/GetCustomerList";
                JsonDDLSelectCodeWithName("ObjCCMV_CustCode", StrURL);
                $("#AddCust").hide();
                $("#AddCustList").hide();
                $("#btnSubmit").hide();
                $("#btnAddNewRow").click(function () {
                    AddDetails(DomainName, '2')
                });
                $("#ObjCCMV_CustCode").change(function () {
                    if ($("#ObjCCMV_CustCode").val() != "") {

                        AddDetails(DomainName, "1");
                    }
                });

                $("#btnSubmit").click(function () {

                    if ($('#form_sample').valid()) {
                        App.blockUI({ boxed: true });
                        document.forms["form_sample"].submit()
                    }
                    else {
                        return false
                    }
                });
            }
        }
    }();
</script>

