﻿@model Fleet.ViewModels.webx_CUSTHDRViewModel
@using FleetDataService.Models;
@{
    ViewBag.Title = "Customer Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_GRPMST> GroupList = MS.GetCustomerGroupMasterObject().Where(c => c.ActiveFlag == null ? c.ActiveFlag == null : c.ActiveFlag == "Y").ToList();

    //File.Delete(System.Web.HttpContext.Current.Server.MapPath("~/App_Data/") + "webx_CUSTHDR.xml");
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a href="@Url.Content("~/Master/ExportData?MethodName=CustomerMaster&FileName=Customer_Master_List")" class="btn default btn-xs controls"><i class="fa fa-download"></i>&nbsp;Download Excel </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label col-md-4">Customer Group</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(c => c.WCH.GRPCD, new SelectList(GroupList, "GRPCD", "GRPNM", Model.WCH.GRPCD), "", new { @class = "form-control required2 select2", @placeholder = "Select Group" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label col-md-3">Customer Name</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.WCH.CUSTNM, new { placeholder = "Customer Name", @class = "required2 form-control required" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <a href="#" class="btn btn-sm default blue-stripe pull-right" id="addEdit" data-toggle="modal">
                                <i class="fa fa-plus"></i>  Add Customer
                            </a>
                        </div>
                    </div>
                </div>
                <hr />
                <div id="tblData">
                    <table class="table table-striped table-bordered table-hover" id="CustomerList" style="overflow-x: scroll">
                        <thead>
                            <tr>
                                <th class="center">
                                    Customer Code
                                </th>
                                <th class="center">
                                    Customer Name
                                </th>
                                <th class="center">
                                    Pay Base
                                </th>
                                <th class="center">
                                    Mobile No.
                                </th>
                                @if (ViewBag.BaseUserName == "CYGNUSTEAM"| ViewBag.BaseUserName == "RC2296"| ViewBag.BaseUserName == "RC2245")
                                {
                                    <th class="center">
                                        Customer Password
                                    </th>
                                }
                                else
                                {
                                    <th class="center" style="display:none">
                                        Customer Password
                                    </th>
                                }
                                <th class="center">
                                    Active
                                </th>
                                <th class="center">Edit</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-modal-lg" id="addEditModel" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<a class="btn green hide" href="#PasswordResetmodal" id="PasswordReset" data-toggle="modal"></a>
<div id="PasswordResetmodal" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Reset User Password</h4>
            </div>
            <div class="modal-body">
                <div>
                    <h5>
                        <span>Password for Customer Name </span><b id="CUSTCD"></b><span> will be the </span><b>123456</b>.
                        <br />
                        <br />
                        <span>Are you sure you want you want to reset the password for the above Customer?</span>
                        <br />
                        <br />
                        <span>If yes then please press <b>"Confirm"</b> other wise kindly press "Close".</span>
                    </h5>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" id="btnClosePasswordResetmodal" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i> Close</button>
                <button class="btn green btn-primary" type="submit" id="btnSubmitPasswordResetmodal"><i class="fa fa-check"></i> Confirm</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {       

        var bindTable = function (Id, DomainName, tblId) {

            // App.blockUI({ boxed: true });
            //var strUrl = DomainName + '/Master/GetCustomerByGroup?GroupCode=' + Id
            var strUrl = DomainName + '/Master/GetCustomerByGroup?CustCode=' + Id + '&GRPCD=' + $("#WCH_GRPCD").val() + '&State=';

            $.ajax({
                url: strUrl,
                type: 'POST',
                success: function (result) {
                    $('#' + tblId).dataTable({
                        "bDestroy": true
                    }).fnDestroy();
                    $('#' + tblId).DataTable({
                        data: result,
                        columns: [
                            { data: "CUSTCD" },
                            { data: "CUSTNM" },
                            { data: "Paybas" },
                            { data: "MOBILENO" },
                            { data: "CUSTPASS" },
                            { data: "CUST_ACTIVE." },
                            { data: "CUSTCD" }
                        ],
                        "aoColumnDefs": [
                            {
                                "aTargets": [5],
                                "mRender": function (data, type, full) {
                                    if (data == "Y") {
                                        return '<span class="badge badge-success">Yes</span>';
                                    }
                                    else {
                                        return '<span class="badge badge-danger">No</span>';
                                    }
                                }
                            }, {
                                "aTargets": [6],
                                "mRender": function (data, type, full) {
                                    var strResult = '<button type="button" class="btn default btn-xs blue-stripe tooltips btnMasterEdit" title="Edit" id="btnEdit_' + data + '" data-id="' + data + '" rel="tooltip" data-placement="top"><i class="fa fa-pencil"></i>&nbsp;Edit</button> &nbsp;';

                                    if ('@ViewBag.BaseUserName' == "CYGNUSTEAM" || '@ViewBag.BaseUserName' == "RC2296" || '@ViewBag.BaseUserName' == "RC2245") {
                                        strResult = strResult + '<a href="#" class="btn default btn-xs blue-stripe PasswordReset" data-id=' + data + ' data-toggle="modal"><i class="fa fa-lock"></i>&nbsp;Reset Password</a>';
                                    }
                                    return strResult;
                                }
                            }, ],
                        "createdRow": function (row, data, index) {
                            $('td:gt(1)', row).addClass('center');
                            $('td:eq(0)', row).addClass('text-uppercase');
                            $('td:eq(1)', row).addClass('text-uppercase');
                            if ('@ViewBag.BaseUserName' != "CYGNUSTEAM" && '@ViewBag.BaseUserName' != "RC2245" && '@ViewBag.BaseUserName' != "RC2296") {
                                $('td:eq(4)', row).css('display','none');
                            }
                        }
                    });
                    jQuery('#' + tblId + '_wrapper .dataTables_filter input').addClass("form-control input-medium input-inline"); // modify table search input
                    jQuery('#' + tblId + '_wrapper .dataTables_filter').addClass("pull-right");
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').select2(); // initialize select2 dropdown

                    $('#' + tblId).parents('.row').show(500);
                    $("#tblData").show(1000);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                //var StrURL = DomainName + "/Master/GetCustomerListing";
                var StrURL = DomainName + "/Master/GetCustomerListingNew";

                $("#WCH_CUSTNM").select2({
                    placeholder: "Search Here",
                    minimumInputLength: 3,
                    allowClear: true,
                    //multiple: IsMultiple,
                    //tags: [],
                    ajax: {
                        url: StrURL,
                        dataType: 'json',
                        data: function (term) {
                            return {
                                searchTerm: term,
                                GRPCD: $("#WCH_GRPCD").val()
                            };
                        },
                        results: function (data) { // parse the results into the format expected by Select2.
                            // since we are using custom formatting functions we do not need to alter remote JSON data
                            //  alert("Hello");
                            // alert(data);
                            //    alert(data.CMP);
                            return {
                                results: data
                            };
                        }
                    },
                    initSelection: function (item, callback) {
                        var id = item.val();
                        var text = item.data('option');
                        var data = { id: id, text: text };
                        callback(data);
                    },
                    formatResult: function (item) { return ('<div><b>' + item.id + ' </b>- ' + item.text + '</div>'); },
                    formatSelection: function (item) { return (item.id + ' </b>- ' + item.text); },
                    escapeMarkup: function (m) { return m; },
                    //dropdownCssClass: "bigdrop" // apply css that makes the dropdown taller
                });


                $("#WCH_CUSTNM").change(function () {

                    if ($(this).val() == null || $(this).val() == "") {
                        $("#CustomerList").html('');
                        $("#tblData").hide(1000);
                        return false;
                    }
                    App.blockUI({ boxed: true });
                    var id = $(this).val();
                    bindTable(id, DomainName, "CustomerList");

                });

                $("#tblData").hide();

                $("#addEdit").click(function () {
                    App.blockUI({ boxed: true });
                    window.location.href = DomainName + "/Master/CustomerMasters?CustomerCode=0";
                });

                $(".btnMasterEdit").live('click', function (e) {
                    App.blockUI({ boxed: true });
                    window.location.href = DomainName + "/Master/CustomerMasters?CustomerCode=" + $(this).data('id');
                });

                $(".PasswordReset").live('click', function () {
                    $("#PasswordReset").click();
                    $("#CUSTCD").html($(this).data('id'));
                });

                $("#btnSubmitPasswordResetmodal").live('click', function () {
                    var message = 'Do you want to change Default Password for this record?';
                    if (confirm(message)) {
                        $.ajax({
                            url: '@Url.Action("PasswordResetCustomer", "Master")',
                            type: "POST",
                            context: document.body,
                            data: { id: $("#CUSTCD").html() },
                            success: function (data) {
                                if (data) {
                                    TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                }
                                else {
                                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                                }
                                $("#btnClosePasswordResetmodal").click();
                            },
                            error: function (err) {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                                App.unblockUI();
                            }
                        });
                    }
                    else {
                        $("#btnClosePasswordResetmodal").click();
                    }
                });

                $("#btnClosePasswordResetmodal , .close").click(function () {
                    App.unblockUI();
                });


                //$("#telno").inputmask("mask", {
                //    "mask": "(9999)-9999999"
                //});

                //$("#pan_no").inputmask("aaaaa9999a", { clearMaskOnLostFocus: true });
                //$("#ServiceTaxNumber").inputmask("aaaaa9999aaa999", { clearMaskOnLostFocus: true });

                //MultiSelectDDL('CUSTLOC', DomainName + '/Master/GetLocationListJson', true);
            }
        }
    }();
</script>