﻿@model FleetDataService.Models.webx_HandlingCharge
@{
    ViewBag.Title = "Customer Loading-Unloading List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Type = new List<SelectListItem> {
    new SelectListItem { Text = "Loading", Value = "L" },
    new SelectListItem { Text = "UnLoading", Value = "U" },
    };
}
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-offset-3 col-md-2">
                <b> Select Loading Type :  </b>
            </div>
            <div class="col-md-2">
                @Html.DropDownListFor(m => m.Type, new SelectList(Type, "Value", "Text"), new { @class = "select2 drp form-control", placeholder = "Select Loading Type" })
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row" style="display:none;">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a class="btn btn-xs default" href="@Url.Content("~/Master/AddCustomerLoadUnload?Id=0")">
                        <i class="fa fa-plus"></i>
                        Add New Customer Charges
                    </a>
                </div>
            </div>

            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="VendorList" style="overflow-x: scroll;">
                    <thead>
                        <tr>
                            <th class="center">
                                Customer Code
                            </th>
                            <th class="center">
                                Branch Code
                            </th>
                            <th class="center">
                                Loaded by
                            </th>
                            <th class="center">
                                Rate Type
                            </th>
                            <th class="center">
                                Rate
                            </th>
                            <th class="center">
                                Amount
                            </th>
                            <th class="center">Edit</th>
                            <th class="center">Delete</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var loadData = function (DomainName, tblId, Type) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Master/GetCustomerchargeListJson?Type=' + Type
            $.ajax({
                url: strUrl,
                type: 'POST',
                success: function (result) {
                    $('#' + tblId).DataTable({
                        destroy: true,
                        data: result,
                        columns: [
                            { data: "CUSTCode" },
                            { data: "CUSTBRANCHCODE" },
                            { data: "CUSTLOADBY" },
                            { data: "CUSTRATETYPE" },
                            { data: "CUSTRATE" },
                            { data: "CUSTAMOUNT" },
                            { data: "ID" },
                            { data: "ID" },
                        ],
                        "aoColumnDefs": [
                             {
                                 "aTargets": [6],
                                 "mRender": function (data, type, full) {
                                     return '<a href="../Master/AddCustomerLoadUnload/' + data + '" class="btn default btn-xs blue-stripe tooltips"><i class="fa fa-pencil"></i>&nbsp;Edit</a>';
                                 }
                             },
                             {
                                 "aTargets": [7],
                                 "mRender": function (data, type, full) {
                                     return '<a href="../Master/DeleteCustomerLoadUnload/' + data + '" class="btn default btn-xs blue-stripe tooltips"><i class="fa fa-trash-o"></i>&nbsp;Delete</a>';
                                 }
                             }
                             , ],
                        "createdRow": function (row, data, index) {
                            $('td:eq(0)', row).addClass('center');
                            $('td:gt(1)', row).addClass('center');
                            $('td:eq(0)', row).addClass('text-uppercase');
                            $('td:eq(1)', row).addClass('text-uppercase');
                        }
                    });
                    jQuery('#' + tblId + '_wrapper .dataTables_filter input').addClass("form-control input-medium input-inline"); // modify table search input
                    jQuery('#' + tblId + '_wrapper .dataTables_filter').addClass("pull-right");
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
                    $('#' + tblId).parents('.row').show(500);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        var Events = function (DomainName) {

            $("#VendorList a , .caption a").live("click", function (e) {
                App.blockUI({ boxed: true });
            });

            $("#Type").on("change", function () {
                App.blockUI({ boxed: true });
                loadData(DomainName, 'VendorList', $(this).val());
            })
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
               
                loadData(DomainName, 'VendorList', "L");
                Events(DomainName);
            }
        }
    }();
</script>
