﻿@{
    ViewBag.Title = "Customer Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (@ViewBag.Status=="1")
{ 
<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>@ViewBag.Title
            </div>
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Customer Code
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@ViewBag.CustomerCode</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                <a href="@Url.Content("~/Master/Customer")">Click here to Add/edit another Customer.</a> || <a href="@Url.Content("~/Master/CustomerMasters?CustomerCode=" + @ViewBag.CustomerCode.Split(':')[0])">Click here to edit Same Customer.</a>
            </span>
        </div>
    </div>
</div>
}
else
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-danger fade in center">
            <h2 class="alert-heading">Opps! Transaction fail.</h2>
            <h4>
                There is some issue with process. <br />Please check your internet connection else contact your administrator or service provider.
                @*<br /><br /><b> @ViewBag.CustomerCode</b>*@
            </h4>
        </div>
    </div>
}