﻿@model Fleet.ViewModels.CustomerEmployeeMappingViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    ViewBag.Title = "Customer Employee Mapping Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CustomerEmployeeMappingSubmit", "Master", FormMethod.Post, new { id = "submit_form", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-8">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body" id="divCrieteria">
                    <div class="form-body">

                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                Mapping Type:
                            </label>
                            <div class="col-md-6" style="margin: -4px 0px 0 -16px;">
                                <div class="radio-list col-md-12">
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios2" id="optionsRadiosT" value="Employee" checked="checked">
                                        Employee Wise
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios2" id="optionsRadiosH" value="Customer">
                                        Customer Wise
                                    </label>
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(c => c.MappingType)
                        <div class="form-group divEmp">
                            <label class="control-label col-md-3">
                                Select Employee:
                            </label>
                            <div class="col-md-6">
                                @*VendorName  VendorCode*@
                                @Html.TextBoxFor(c => c.EMP_CODE, new { @class = "form-control blue-stripe" })
                                @Html.HiddenFor(c => c.EMP_NAME)
                            </div>
                        </div>

                        <div class="form-group divCust">
                            <label class="control-label col-md-3">
                                Select Customer:
                            </label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.CUST_CODE, new { @class = "form-control blue-stripe" })
                                @Html.HiddenFor(c => c.CUST_NAME)
                                @Html.HiddenFor(c => c.IsAllCust)
                                @Html.HiddenFor(c => c.EmpId)
                                @Html.HiddenFor(c => c.CustCode)
                                @Html.HiddenFor(c => c.EMPCust)
                            </div>
                        </div>

                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-12">
                                    <button type="button" id="btnGetList" class="btn btn-sm @ViewBag.TableBoxColor"><i class="fa fa-search"></i>&nbsp;Search</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
<form id="checkBox_Form">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>

                <div class="form-actions fluid">
                    <div class="col-md-offset-4 col-md-8">
                        <button type="button" class="btn btn-sm green controls btnSubmit"><i class="fa fa-check"></i>&nbsp;Submit</button>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body" id="tblThcList">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Hidden("strList")
                                <table class="table table-striped table-bordered table-hover table-full-width" id="Sample1">
                                    <thead class="flip-content">
                                        <tr>
                                            <th class="center">
                                                <input type="checkbox" id="chkCheckAll" />
                                            </th>
                                            <th class="center clsHeader">
                                                Map to :
                                            </th>
                                            <th class="center">
                                                #
                                            </th>
                                            <th class="center clsHeader">
                                                Map to :
                                            </th>
                                            <th class="center">
                                                #
                                            </th>
                                            <th class="center clsHeader">
                                                Map to :
                                            </th>
                                            <th class="center">
                                                #
                                            </th>
                                            <th class="center clsHeader">
                                                Map to :
                                            </th>
                                            <th class="center">
                                                #
                                            </th>
                                            <th class="center clsHeader">
                                                Map to :
                                            </th>
                                            <th class="center">
                                                #
                                            </th>
                                            <th class="center clsHeader">
                                                Map to :
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="Advice"></tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-actions fluid">
                    <div class="col-md-offset-4 col-md-8">
                        <button type="button" class="btn btn-sm green controls btnSubmit"><i class="fa fa-check"></i>&nbsp;Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    function initTable(tblId) {
        $('#' + tblId).dataTable({
            "bPaginate": false,
            "bDestroy": true,
            "bInfo": false,
        });

        jQuery('#' + tblId + '_wrapper .dataTables_filter input').addClass("form-control input-medium input-inline"); // modify table search input
        jQuery('#' + tblId + '_wrapper .dataTables_filter').addClass("pull-right");
    }
    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {
                    "checkCust": {
                        required: true,
                        minlength: 1,
                        maxlength: 5
                    },
                },

                messages: { // custom messages for radio buttons and checkboxes
                    ReportFieldsCHK: {
                        required: "Please select  at least 2 types of Service",
                        minlength: jQuery.format("Please select  at least {0} types of Service"),
                        maxlength: jQuery.format("Please select  at least {0} types of Service")
                    }

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    App.blockUI({ boxed: true });
                    document.forms["submit_form"].submit();
                    //App.unblockUI();
                }
            });
        }

        var Events = function (DomainName) {

            $("#btnGetList").click(function () {

                if (!$('#submit_form').valid())
                    return false;

                var parameters = {};
                var method = "";

                $('.clsHeader').html('Map to ' + $('input[name=optionsRadios2]:checked').val());

                parameters['brcd'] = '@ViewBag.BaseLocationCode';
                if ($('input[name=optionsRadios2]:checked').val() == "Customer") {
                    method = "Get_Customer_Wise_Employee_Mapping";
                    parameters['CustCode'] = $('#CUST_CODE').val();

                }
                else if ($('input[name=optionsRadios2]:checked').val() == "Employee") {
                    method = "Get_Employee_Wise_Customer_Mapping";
                    parameters['EmpId'] = $('#EMP_CODE').val();
                }

                $('#Advice').html('');

                $('#chkCheckAll').removeAttr('checked');
                $('#chkCheckAll').uniform();

                App.blockUI({ boxed: true });
                $.ajax({
                    url: "@Url.Action("GetData", "Account")",
                    type: 'POST',
                    dataType: "json",
                    data: {
                        Method: method,
                        parameters: parameters
                    },
                    success: function (myList) {
                        //console.log(myList);
                        for (var i = 0; i < myList.length; i += 6) {
                            var str = "<tr>"

                            str = str + "<td>" + "<input type='checkbox' name='checkCust' class='clsCHK'  " + (myList[i].Checked ? "checked" : "") + " value='" + myList[i].Value + "'></td>"
                            str = str + "<td>" + myList[i].Display + "</td>"

                            if (myList.length - 1 >= i + 1) {
                                str = str + "<td>" + "<input type='checkbox' name='checkCust' class='clsCHK' " + (myList[i + 1].Checked ? "checked" : "") + " value='" + myList[i + 1].Value + "'></td>"
                                str = str + "<td>" + myList[i + 1].Display + "</td>"

                                if (myList.length - 1 >= i + 2) {
                                    str = str + "<td>" + "<input type='checkbox' name='checkCust' class='clsCHK' " + (myList[i + 2].Checked ? "checked" : "") + " value='" + myList[i + 2].Value + "'></td>"
                                    str = str + "<td>" + myList[i + 2].Display + "</td>"

                                    if (myList.length - 1 >= i + 3) {
                                        str = str + "<td>" + "<input type='checkbox' name='checkCust' class='clsCHK' " + (myList[i + 3].Checked ? "checked" : "") + " value='" + myList[i + 3].Value + "'></td>"
                                        str = str + "<td>" + myList[i + 3].Display + "</td>"

                                        if (myList.length - 1 >= i + 4) {
                                            str = str + "<td>" + "<input type='checkbox' name='checkCust' class='clsCHK' " + (myList[i + 4].Checked ? "checked" : "") + " value='" + myList[i + 4].Value + "'></td>"
                                            str = str + "<td>" + myList[i + 4].Display + "</td>"

                                            if (myList.length - 1 >= i + 5) {
                                                str = str + "<td>" + "<input type='checkbox' name='checkCust' class='clsCHK' " + (myList[i + 5].Checked ? "checked" : "") + " value='" + myList[i + 5].Value + "'></td>"
                                                str = str + "<td>" + myList[i + 5].Display + "</td>"
                                            }
                                        }
                                    }

                                }
                            }
                            str = str + "</tr>"
                            $('#Advice').append(str);
                        }
                        //initTable("Sample1");
                        chkChange();
                        App.unblockUI();
                        Formvalidate("checkBox_Form");
                    },
                    error: function () {
                        App.unblockUI();
                    }
                });
            });

            $('.clsCHK').live('change', function () {
                //$("input:checkbox, input:radio").uniform();
                App.blockUI({ boxed: true });
                chkChange();
            });

            $("#chkCheckAll").live("change", function () {
                App.blockUI({ boxed: true });
                $(".clsCHK").prop('checked', $(this).is(':checked'));
                //$("input:checkbox, input:radio").uniform();
                chkChange();
            });

            $('.btnSubmit').click(function () {
                Formvalidate("checkBox_Form");
                var parameters = {};
                var method = "";
                if ($('input[name=optionsRadios2]:checked').val() == "Employee") {

                    $("#IsAllCust").val($("#chkCheckAll").is(':checked') ? "1" : "0");
                    $("#EmpId").val($('#EMP_CODE').val());
                    $("#CustCode").val($('#strList').val());
                    $("#EMPCust").val("Employee");
                    //method = "Map_Employee_To_Customer";
                    //parameters['IsAllCust'] = $("#chkCheckAll").is(':checked') ? "1" : "0";
                    //parameters['EmpId'] = $('#EMP_CODE').val();
                    //parameters['CustCode'] = $('#strList').val();
                }

                else if ($('input[name=optionsRadios2]:checked').val() == "Customer") {
                    $("#CustCode").val($('#CUST_CODE').val());
                    $("#EmpId").val($('#strList').val());
                    $("#EMPCust").val("Customer");

                    //method = "Map_Customer_To_Employee";
                    //parameters['CustCode'] = $('#CUST_CODE').val();
                    //parameters['EmpId'] = $('#strList').val();
                }
                //parameters['EntryBy'] = '@ViewBag.BaseUserName';

                App.blockUI({ boxed: true });
                document.forms["submit_form"].submit();


                //$.post($("#submit_form").attr('action'), $("#submit_form").serialize(), function (data, status) {
                //    TosterNotification("success", "Record has been updated successfully..!!", "Success");
                //});

                @*$.ajax({
                    url: "@Url.Action("GetData", "Account")",
                    type: 'POST',
                    dataType: "json",
                    data: {
                        Method: method,
                        parameters: parameters
                    },
                    success: function (result) {
                        App.unblockUI();
                        TosterNotification("success", "Record has been updated successfully..!!", "Success");
                    }
                });*@

            });
        }

        var chkChange = function () {

            //var values = $('input:checkbox:checked.clsCHK').map(function () {
            //    return '<det><id>' + $(this).val() + '</id></det>';
            //}).get().join().replace(/\,/g, '');

            //$('#strList').val('<root>' + values + '</root>');

            var values = $('input:checkbox:checked.clsCHK').map(function () {
                return $(this).val() ;
            }).get().join();

            $('#strList').val( values);
            //$('#strList').val(values);

            App.unblockUI();
            //($('input:checkbox:checked.clsCHK').length > 0) ? $('#btnSubmit').show() : $('#btnSubmit').hide();
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                $('#MappingType').val('Employee');
                $('.divCust').hide();

                Events(DomainName);
                $('#EMP_CODE').addClass("required2");
                $('#EMP_CODE').addClass("required");

                //JsonDDL('EMP_CODE', DomainName + '/Master/GetAllEmpCompanyJson');
                GetEmployeeCode("EMP_CODE", '@ViewBag.BaseLocationCode');
                GetPartyNameCode("CUST_CODE", '@ViewBag.BaseLocationCode', "");

                $("input[name='optionsRadios2']").on("change", function () {
                    var rdoval = this.value;
                    $('#MappingType').val(rdoval);
                    if (rdoval == "Employee") {
                        $('.divEmp').show();
                        $('.divCust').hide();
                        $('#EMP_CODE').addClass("required2");
                        $('#EMP_CODE').addClass("required");
                        $('#CUST_CODE').removeClass("required2");
                        $('#CUST_CODE').removeClass("required");
                    }
                    else {
                        $('.divEmp').hide();
                        $('.divCust').show();
                        $('#EMP_CODE').removeClass("required2");
                        $('#EMP_CODE').removeClass("required");
                        $('#CUST_CODE').addClass("required2");
                        $('#CUST_CODE').addClass("required");
                    }
                });

                //$("#EMP_CODE").live("change", function () {
                //    var EmpCode = $(this).val().split('~')[0];
                //    var EmpName = $(this).val().split('~')[1];
                //    $("#EMP_CODE").val(EmpCode);
                //    $("#EMP_NAME").val(EmpName);
                //});
            }
        }
    }();
</script>