﻿@model Fleet.ViewModels.webx_GRPMSTViewModel
@using FleetDataService.Models;
@{
    ViewBag.Title = "Customer Group List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
}
<div id="AddEditCustomerGroup"></div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a href="@Url.Content("~/Master/ExportData?MethodName=CustomerGroup_Master&FileName=CustomerGroup_Master_List")" class="btn default btn-xs controls"><i class="fa fa-download"></i>&nbsp;Download Excel </a>
                    <a href="#" class="btn btn-xs default" id="addEdit">
                        <i class="fa fa-plus"></i>  Add Customer Group
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="tblData" style="display:none;">
                    @{
                        Html.RenderPartial("_CustomerGroupList", Model.listWGM.OrderBy(c => c.GRPNM).ToList());
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-modal-lg" id="addEditModel" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var GetObjectDet = function (id, DomainName) {
            App.blockUI({ boxed: true });
            var strurl = DomainName + '/Master/CustomerGroupMasters?GroupCode=' + id;
            $.ajax({
                url: strurl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#AddEditCustomerGroup").hide();
                    $("#AddEditCustomerGroup").html(data);
                    $("input:checkbox, input:radio").uniform();
                    App.unblockUI();
                    $("#AddEditCustomerGroup").toggle(1000);
                },
                error: function (req, status, error) {
                    //alert("error--" + req + "---" + status + "---" + error);
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }

            });

        }

        var bindTable = function (DomainName) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Master/CustomerGroupMastersList';
            $.ajax({
                url: strUrl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#tblData").hide(1000);
                    $('#CustomerGroupList').dataTable({
                        "bDestroy": true
                    }).fnDestroy();
                    $("#CustomerGroupList").html(data);
                    App.unblockUI();
                    $("input:checkbox, input:radio").uniform();
                    initTableById("CustomerGroupList");
                    $("#tblData").toggle(1000);
                    $("#AddEditCustomerGroup").hide(1000);
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);

                $("#addEdit").click(function () {
                    GetObjectDet("0", DomainName);
                });

                $(".btnCancel").live('click', function (e) {
                    $("#AddEditCustomerGroup").hide(1000);
                });

                $(".btnMasterEdit").live('click', function (e) {
                    var id = $(this).data('id');
                    GetObjectDet(id, DomainName);
                });

                $("#btnSave").live('click', function (e) {
                    App.blockUI({ boxed: true });
                    if (e.handled !== true) // This will prevent event triggering more then once
                    {
                        e.handled = true;
                        Formvalidate(DomainName);
                        if (!$('#form_sample').valid()) {
                            App.unblockUI();
                            return;
                        }
                        $.ajax({
                            url: DomainName + '/Master/AddEditCustomerGroup',
                            cache: false,
                            data: $("#form_sample").serialize(),
                            type: 'GET',
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                if (data) {
                                    TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                    bindTable(DomainName);
                                }
                                else {
                                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                                }
                                App.unblockUI();
                            },
                            error: function (req, status, error) {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                                App.unblockUI();
                            }
                        });
                        $("input:checkbox, input:radio").uniform();
                    }
                });

                bindTable(DomainName);

                initTableById("CustomerGroupList");

            }
        }
    }();

</script>