﻿@model Fleet.ViewModels.WebX_master_grpbus_mappingViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "Customer Group Business Type Mapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 1;
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> ListBusType = MS.GetGeneralMasterObject().Where(c => c.CodeType == "BUT" && c.StatusCode == "Y").OrderBy(c => c.CodeDesc).ToList();
    List<webx_GRPMST> ListCustGrp = MS.GetCustomerGroupMasterObject().Where(c => c.ActiveFlag == "Y").ToList();
}
@using (Html.BeginForm("CustomerGroupBusinessTypeMapping", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Customer Group</th>
                                    <th>Business Type</th>
                                    <th>Status</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody id="containerTbl">
                                @foreach (var item in Model.ListWMGBM)
                                {
                                    item.srno = i;
                                    Html.RenderPartial("_PartialCGBUSTYPE", item);
                                    i++;
                                }
                            </tbody>
                        </table>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-9">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="btnAdd" class="btn green pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="submit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);
            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var AddInfo = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Master/ADDCustGroupBusTypeInfo?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#containerTbl").append(html);
                    App.unblockUI();
                    $("input[type=checkbox], input:radio, input:file").uniform();
                    $('select').select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    $('#RW_' + itemIndex + ' .statusChange').on('switchChange.bootstrapSwitch', function (event, state) {
                        var ISCheck = $(this).is(":checked");
                        if (ISCheck) {
                            $("#CGBUSTYPE_" + itemIndex + "__activeflag").val("Y");
                        }
                        else {
                            $("#CGBUSTYPE_" + itemIndex + "__activeflag").val("N");
                        }
                    });
                    switchBtn(itemIndex);
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }
        var switchBtn = function (itemIndex) {

            $('#RW_' + itemIndex + ' .StatusCodeY').bootstrapSwitch('state', true);
            $('#RW_' + itemIndex + ' .StatusCodeY').bootstrapSwitch('size', 'mini');
            $('#RW_' + itemIndex + ' .StatusCodeN').bootstrapSwitch('state', false);
            $('#RW_' + itemIndex + ' .StatusCodeN').bootstrapSwitch('size', 'mini');

        }

        var duplicateDDLCheck = function (parIdName) {
                var currId = parIdName.split('_')[1];
                var grpcd = $('#CGBUSTYPE_' + currId + '__grpcd').val();
                var businesstype = $('#CGBUSTYPE_' + currId + '__businesstype').val();

                $(".clsChkDuplicate").each(function () {
                    var otherId = $(this).attr('id').split("_")[1];
                    var grpcd1 = $('#CGBUSTYPE_' + otherId + '__grpcd').val();
                    var businesstype1 = $('#CGBUSTYPE_' + otherId + '__businesstype').val();
                    if (currId != otherId && grpcd == grpcd1 && businesstype == businesstype1) {
                        $('#CGBUSTYPE_' + currId + '__businesstype').select2("data", null);
                        TosterNotification("error", "Message !! Oppssss cannot select Duplicate Value........", "Message");
                        return false;
                    }
                });
           

        }
       
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                var tbody = $("#containerTbl tr").length;
                for (i = 1; i <= tbody; i++) {
                    switchBtn(i);
                }
                var itemIndex = $("#sample_ven input.iHidden").length + 1;
                $('.statusChange').on('switchChange.bootstrapSwitch', function (event, state) {
                    var tbody1 = $("#containerTbl tr").length; 
                    for (i = 1; i <= tbody1; i++) {
                        if ($("#RW_" + i + " .StatusCodeY").prop("checked") == true) {
                            $("#CGBUSTYPE_"+i+"__activeflag").val("Y");
                        }
                        else {
                            $("#CGBUSTYPE_" + i + "__activeflag").val("N");
                        }
                    }

                   
                });
                $('.statusChange').trigger("change");

                $('.clsChkDuplicate').live('change', function () {

                    duplicateDDLCheck($(this).attr('id'));
                });
             
              
                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });
                $("#btnAdd").live('click', function () {
                   itemIndex = $("#sample_ven input.iHidden").length + 1;
                    var TOTROW = "1";
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddInfo(DomainName, itemIndex);
                        }, 100 * i);
                    }
                });
            }
        }
    }();
</script>