﻿@model Fleet.ViewModels.CustomerServiceMappingViewModel
@using FleetDataService.Models
@using Fleet.Classes;
@{
    ViewBag.Title = "Customer Service Mapping";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();

    List<SelectListItem> MappingList = new List<SelectListItem>(){
                    new SelectListItem{ Text="Customer-Service Mapping", Value = "1" },
    };
    
    List<SelectListItem> CSModeList = new List<SelectListItem>(){
                    new SelectListItem{ Text="Customer", Value = "1" },
                    new SelectListItem{ Text="Service", Value = "2" },
    };


    var CustomerService = DataRowToObject.CreateListFromTable<webx_CUSTHDR>(MS.GetByCustomerServiceList());
}
@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal", @readonly = "true" }))
{
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        You have some form errors. Please check below.
    </div>
    <div class="alert alert-success display-hide">
        <button class="close" data-close="alert"></button>
        Your form validation is successful!
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-11">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Mapping Type :
                                        </label>
                                        <div class="col-md-7">
                                            @Html.DropDownList("ML", new SelectList(MappingList, "Value", "Text"), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Mapping Type" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="btn btn-sm default blue-stripe pull-right" id="GETMM" data-toggle="modal">
                                        <i class="fa fa-list"></i>  Get Mapping Mode
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="row" id="divCS" style="display:none">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;Customer Service Mapping
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Mapping Mode :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.WCM.ddl_MappingMode, new SelectList(CSModeList, "Value", "Text"), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Mapping Type" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" id="CSCustomerdiv" style="display:none">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Customer :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.WCM.ddl_Case, new { @placeholder = "Customer", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" id="CSServicediv" style="display:none">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Service :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.WCM.lbl_Case, new SelectList(CustomerService, "Value", "Text"), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Service" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="btn btn-sm default blue-stripe pull-right" id="CSGETLIST" data-toggle="modal">
                                    <i class="fa fa-list"></i>  Get List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName, FormId) {
            var form1 = $('#' + FormId);
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
            });
        }
        return {
            init: function (DomainName) {
                Formvalidate(DomainName);
                $("#GETMM").click(function () {
                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        return false;
                    }
                    var id = $("#ML").val();
                    if (id == "1") {
                        //alert(id)
                        $("#divCS").show();
                        $("#WCM_ddl_MappingMode").change(function () {
                            var CSid = $(this).val();
                            //alert(CSid)
                            if (CSid == "1") {
                                $("#CSCustomerdiv").show();
                                $("#CSServicediv").hide();
                                JsonDDL('WCM_ddl_Case', DomainName + '/Master/GetCustomerListJson')
                            }
                            else {
                                $("#CSServicediv").show();
                                $("#CSCustomerdiv").hide();
                            }
                        });
                        $("#CSGETLIST").click(function () {
                            App.blockUI({ boxed: true });
                            var mode = $("#WCM_ddl_MappingMode").val();
                            //alert(mode)
                            if (mode == "1") {
                                var code = $("#WCM_ddl_Case").val();
                                window.location.replace(DomainName + '/Master/CustomerServiceMappingNext?MapType=' + id + '&Mode=' + mode + '&Code=' + code);
                            }
                            else {
                                var code = $("#WCM_lbl_Case").val();
                                var Name = $("#WCM_lbl_Case option:selected").text();
                                window.location.replace(DomainName + '/Master/CustomerServiceMappingNext?MapType=' + id + '&Mode=' + mode + '&Code=' + code);

                            }
                        });
                    }
                  
                });
            }
        }
    }();
</script>