﻿@model Fleet.ViewModels.webx_DCR_HeaderViewModel
@{
    ViewBag.Title = "DCR Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (@Model.LocLevel != 1)
{

}
else
{
    using (Html.BeginForm("AddUpdateDCR", "Master", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal", @readonly = "true" }))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box @ViewBag.TableBoxColor">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i>@ViewBag.Title
                        </div>
                    </div>
                    <div class="portlet-body ">
                        <div class="form-body">
                            <table id="sample_DCRAdd" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-md-2 center">Doc. Type</th>
                                        <th class="col-md-2 center">Book Code</th>
                                        <th class="col-md-2 center">Series From</th>
                                        <th class="col-md-2 center">Total Leaf</th>
                                        <th class="col-md-1 center">Page Size</th>
                                        <th class="col-md-3 center">Allot To</th>
                                        <th class="col-md-1 center">X</th>
                                    </tr>
                                </thead>
                                <tbody id="containerTblDCRAdd">
                                    @foreach (var item in Model.listWDHM)
                                    {
                                        Html.RenderPartial("_PartialDCRAdd", item);
                                    }
                                </tbody>
                            </table>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-9">
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" id="btnAddDCRAddDetail" class="btn green pull-right"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="button" class="btn btn-sm defualt controls btnCancel"><i class="fa fa-refresh"></i>&nbsp;Reset</button>
                            <button type="button" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" id="DrcList" style="display:none">
                <div class="portlet box @ViewBag.TableBoxColor">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i>DCR List
                        </div>
                    </div>
                    <div class="portlet-body ">
                        <div class="form-body">
                            <table id="sample_DCRList" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-md-2 center">Doc. type</th>
                                        <th class="col-md-2 center">Series From</th>
                                        <th class="col-md-1 center">Leafs</th>
                                        <th class="col-md-1 center">Book Code</th>
                                        <th class="col-md-2 center">Allot To</th>
                                        <th class="col-md-2 center">Transaction Status</th>
                                        <th class="col-md-3 center">Description</th>
                                    </tr>
                                </thead>
                                <tbody id="containerTblDCRList">
                                    @foreach (var item in Model.listWDHM)
                                    {
                                        Html.RenderPartial("_DCRList", item);
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var FormValidate = function (DomainName) {
            var form1 = $('#submit_form');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);
            $.validator.addMethod('checkDCRSeriesAvailability', function (value, element) {


                var ContId = $(element).attr("id").replace("bookcode", "").replace("DOC_SR_FROM", "").replace("doc_type", "").replace("TOT_LEAF", "");

                var flg = true;

                var DocType = $("#" + ContId + "doc_type").val();
                var DOC_SR_FROM = $("#" + ContId + "DOC_SR_FROM").val();
                var TOT_LEAF = $("#" + ContId + "TOT_LEAF").val();

                $(".clsBookCode").each(function () {


                    var ContId1 = $(this).attr("id").replace("bookcode", "").replace("DOC_SR_FROM", "").replace("doc_type", "").replace("TOT_LEAF", "");

                    var DocType1 = $("#" + ContId1 + "doc_type").val();
                    var DOC_SR_FROM1 = $("#" + ContId1 + "DOC_SR_FROM").val();
                    var TOT_LEAF1 = $("#" + ContId1 + "TOT_LEAF").val();

                    // alert(ContId + "  " + ContId1 + "  " + DocType + "  " + DocType1 + "  " + DOC_SR_FROM + "  " + DOC_SR_FROM1);

                    if (ContId != ContId1 && DocType == DocType1) {

                        if (DOC_SR_FROM == DOC_SR_FROM1) {
                            //alert($(element).attr("id") + "  " + $(this).attr("id") + " -- " + value + "   " + $(this).val());
                            flg = false;
                            return false;
                        }
                    }

                });

                //   alert(flg);

                if (flg) {
                    // var BookCode = value;


                    var StrURL = DomainName + "/Master/CheckValidDCRSeries?DocType=" + DocType + "&DRSStartFrom=" + DOC_SR_FROM + "&TotalLeaf=" + TOT_LEAF;
                    // alert("hello " + StrURL);
                    var result1 = $.ajax({
                        async: false,
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        url: StrURL,
                        dataType: 'json',
                        data: {},
                    });

                    var d1 = JSON.parse(result1.responseText);
                     
                    if (d1.CNT == "1") {
                        return true;
                    }
                    else {
                        $(element).val("");
                        $(element).focus();
                        return false;
                    }
                } else
                    return false;

                // return true;

            }, "Series already exist !!!");

            $.validator.addMethod('checkBOOKAvailability', function (value, element) {

                // alert($(element).attr("id"));

                var ContId = $(element).attr("id").replace("bookcode", "").replace("doc_type", "");

                var flg = true;

                var DocType = $("#" + ContId + "doc_type").val();
                var BookCode = $("#" + ContId + "bookcode").val();

                $(".clsBookCode").each(function () {
                    var ContId1 = $(this).attr("id").replace("bookcode", "").replace("doc_type", "");

                    var DocType1 = $("#" + ContId1 + "doc_type").val();
                    var BookCode1 = $("#" + ContId1 + "bookcode").val();

                    //   alert(ContId + "  " + ContId1 + "  " + BookCode + "  " + BookCode1 + " -- " + DocType + "   " + DocType1);

                    if (ContId != ContId1 && DocType == DocType1) {

                        if (BookCode == BookCode1) {
                            //alert(BookCode + "  " + BookCode1 + " -- " + DocType + "   " + DocType1);
                            flg = false;
                            return false;
                        }
                    }

                });

                // alert(flg);

                if (flg) {
                    //var BookCode = value;

                    var StrURL = DomainName + "/Master/CheckBookCode?DocType=" + DocType + "&BookCode=" + BookCode;
                    // alert(StrURL)
                    var result1 = $.ajax({
                        async: false,
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        url: StrURL,
                        dataType: 'json',
                        data: {},
                    });

                    var d1 = JSON.parse(result1.responseText);

                    if (d1.CNT == "1") {
                        return true;
                    }
                    else {
                        $(element).val("");
                        //$(element).focus();
                        return false;
                    }
                } else
                    return false;

                // return true;

            }, "Bookcode already exist !!!");

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        var AddDCRInfo = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Master/ADDDCRInfo?id=' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#containerTblDCRAdd").append(html);
                    App.unblockUI();
                    $("input[type=checkbox], input:radio, input:file").uniform();
                    $('select').select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });

                    var StrURL = DomainName + '/Master/GetLocationListJson'
                    JsonDDL('DCRAdd_' + itemIndex + '__Locatoin', StrURL);
                    $('#DCRAdd_' + itemIndex + '__Page').val($('#DCRAdd_' + itemIndex + '__TOT_LEAF').val());
                    $('#DCRAdd_' + itemIndex + '__TOT_LEAF').change(function () {
                        $('#DCRAdd_' + itemIndex + '__Page').val($(this).val());

                    });
                    $("#DCRAdd_" + itemIndex + "__doc_type").live('change', function () {
                        if ($(this).val() == "DKTBC") {
                            $(".Leafdrp_" + itemIndex).hide();
                            $("#DCRAdd_" + itemIndex + "__TotalLeaf").show();
                            $("#DCRAdd_" + itemIndex + "__TotalLeaf").val(100)
                        }
                        else {
                            $(".Leafdrp_" + itemIndex).show();
                            $("#DCRAdd_" + itemIndex + "__TotalLeaf").hide();
                        }
                    });

                    $(".clsBookCode").each(function () {
                        $(this).rules("add", {
                            checkBOOKAvailability: true,
                        });
                    });

                    $(".clsSeries").each(function () {
                        $(this).rules("add", {
                            checkDCRSeriesAvailability: true,
                        });
                    });


                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }



        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                var itemIndex = $("#sample_DCRAdd input.iHidden").length + 1;
                AddDCRInfo(DomainName, itemIndex);

                $("#btnAddDCRAddDetail").live('click', function () {
                    if ($("#sample_DCRAdd input.iHidden").length <= 9) {
                        itemIndex = $("#sample_DCRAdd input.iHidden").length + 1;
                        var TOTROW = "1";
                        for (var i = 0; i <= TOTROW - 1; i++) {
                            setTimeout(function () {
                                AddDCRInfo(DomainName, itemIndex);
                            }, 100 * i);
                        }
                    }
                });

                $(".clsBookCode").each(function () {
                    $(this).rules("add", {
                        checkBOOKAvailability: true,
                    });
                });


                $(".clsSeries").each(function () {
                    $(this).rules("add", {
                        checkDCRSeriesAvailability: true,
                    });
                });

                $(".clsPageSize").live("change", function () {
                    var TotalLeaf = $("#" + $(this).attr('id').replace("Page", "TOT_LEAF")).val();
                    $(this).rules("add", {
                        range: [10, TotalLeaf]
                    });
                });

                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });

                $(".btnCancel").click(function () {
                    //$(".form-control").val("");
                    window.location.reload();
                });

                $("#btnSubmit").click(function () {
                    App.blockUI({ boxed: true });
                    if (!$("#submit_form").valid())
                    {
                        App.unblockUI();
                        return false;
                    }

                    $.post($("#submit_form").attr('action'), $("#submit_form").serialize(), function (data, status) {
                        $("#containerTblDCRList").html(data)
                        $("#containerTblDCRList").show(1000);
                        $(".fluid").hide()
                        $("#btnAddDCRAddDetail").hide();
                        $("#DrcList").show(1000);
                        App.unblockUI();
                    });
                });
            }
        }
    }();
</script>