﻿@{
    ViewBag.Title = "DCR Allote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>@ViewBag.Title @ViewBag.Message
            </div>
            @*<div class="tools">
                    <span class="btn default blue-stripe">
                        <a href=""><i class="fa fa-plus">&nbsp;Add More Vendor Contract</i></a>
                    </span>
                </div>*@
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Series
                            </th>
                            <th>
                                AlloteTo
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@ViewBag.series</b>
                            </td>
                            <td>
                                <b>@ViewBag.AlloteTo</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                <a href="~/Master/DCRAllote"> Click on New DCR Series Allote</a>
            </span>
        </div>
    </div>
</div>