﻿@model Fleet.ViewModels.vw_Series_ToBe_Alloted2ViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "DCR Allote";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<vw_DocumentName_DCR> DoctypeList = MS.GetDCRNameObject().ToList();
    List<Webx_Master_General> BusypeList = MS.GetGeneralMasterObject().Where(c => c.CodeType == "BUT").ToList();
    Webx_Master_General objGeneral = new Webx_Master_General();
    objGeneral.CodeDesc = "All";
    objGeneral.CodeId = "0";
    BusypeList.Add(objGeneral);
}

@if (@ViewBag.BaseLocationCode == "")
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-danger fade in center">
            <h2 class="alert-heading">Opps! Access Restriction.</h2>
            <h4>
                This module can not be access from <b>@ViewBag.BaseLocationCode</b>. To access this, please go to Branch or contact your administrator.
            </h4>
        </div>
    </div>
}
else
{
    using (Html.BeginForm("DCRAlloteList", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-6">
                <div class="portlet box @ViewBag.TableBoxColor">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-filter"></i>&nbsp;@ViewBag.Title
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Document Type:
                                        </label>
                                        <div class="col-md-6">
                                            @Html.HiddenFor(c => c.VWSTBA2M.FromDate)
                                            @Html.HiddenFor(c => c.VWSTBA2M.ToDate)
                                            @Html.DropDownListFor(c => c.VWSTBA2M.DOC_TYPE, new SelectList(DoctypeList, "CodeID", "CodeDesc"), "", new { @class = "select2 required required2 form-control", @placeholder = "Select Document Type" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Business Type :
                                        </label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(c => c.VWSTBA2M.BUSINESS_TYPE, new SelectList(BusypeList.OrderBy(c => c.CodeId), "CodeId", "CodeDesc"), null, new { @class = "form-control required required2 select2", @placeholder = "Select Type" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Select  Date :
                                        </label>
                                        <div class="col-md-6">
                                            <div id="reportrange" class="btn default">
                                                <i class="fa fa-calendar"></i>
                                                &nbsp;
                                                <span></span>
                                                <b class="fa fa-angle-down"></b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Get List</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row DCRAlloteList">
            <div class="col-md-12">
                <div class="portlet box @ViewBag.TableBoxColor">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i>&nbsp;Series List
                        </div>
                    </div>
                    <div class="portlet-body ">
                        <div class="form-body">
                            <table class="table table-striped table-bordered table-hover" id="DCRAlloteList" style="overflow-x: scroll;">
                                <thead>
                                    <tr></tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <a href="#basic" class="hide" id="aBasic" data-toggle="modal">Allocate</a>
    <div class="modal fade" id="basic" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Allocate Location to Series</h4>
                </div>
                <div class="modal-body">
                    <div id="Location"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">Close</button>
                    <button type="button" id="Submitlocation" class="btn btn-sm blue controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName, formName) {
            var form1 = $('#' + formName);
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var loadData = function (DomainName, tblId, Type) {
            Headers = [
            {
                data: 'BookCode',
                title: 'Book Code'
            },
            {
                data: 'DOC_SR_FROM',
                title: 'Series From'
            },
            {
                data: 'DOC_SR_TO',
                title: 'Series To'
            },
            {
                data: 'TOT_LEAF',
                title: 'Total Leafs'
            },
            {
                data: 'DCR_Date',
                title: 'DCR Date'
            },
            {
                data: 'DOC_KEY',
                title: 'Action'
            }
            ];
            App.blockUI({ boxed: true });
            var strUrl = $('#form_sample').attr('action');
            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: 'json',
                data: $('#form_sample').serialize(),
                success: function (result) {
                    $('#' + tblId).DataTable({
                        data: result,
                        columns: Headers,
                        destroy: true,
                        "aoColumnDefs": [
                              {
                                  "aTargets": [5],
                                  "mRender": function (data, type, full) {
                                      return '<a href="#" class="btnDCRAlloteEdit" data-id="' + data + '" data-docsrfrom="' + full["DOC_SR_FROM"] + '" data-docsrto="' + full["DOC_SR_TO"] + '" >Allocate</a>';
                                      //return '<button type="button" class="btn green btn-xs btnDCRAlloteEdit" data-id="' + data + '" data-docsrfrom="' + full["DOC_SR_FROM"] + '" data-docsrto="' + full["DOC_SR_TO"] + '" data-alloted_to="' + full["Alloted_To"] + '">Allocate</button>';
                                  }
                              },
                        ],
                    });
                    formateDataTable(tblId);
                    $('#' + tblId).parents('.row').show(500);
                    //JsonDDL('Alloted_To', DomainName + '/Master/GetLocationListJson');
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }
        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'VWSTBA2M_FromDate', 'VWSTBA2M_ToDate');

            $('#btnSubmit').on('click', function () {
                Formvalidate(DomainName);
                var Type = $("#VWSTBA2M_DOC_TYPE").val();
                if ($('#form_sample').valid()) {
                    $(".DCRAlloteList").show();
                    loadData(DomainName, 'DCRAlloteList', Type);
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                $(".DCRAlloteList").hide();
                Formvalidate(DomainName, "form_sample");
                Formvalidate(DomainName, "form_sample_Location_Partial");
                Events(DomainName);

                $(".btnDCRAlloteEdit").live("click", function (e) {
                    e.preventDefault();
                    $("#VWSTBA2M_DOC_KEY").val($(this).data('id'));
                    $("#VWSTBA2M_DOC_SR_FROM").val($(this).data('docsrfrom'));
                    $("#VWSTBA2M_DOC_SR_TO").val($(this).data('docsrto'));
                    var DOC_KEY = $(this).data('id');
                    var DOC_SR_FROM = $(this).data('docsrfrom');
                    var DOC_SR_TO = $(this).data('docsrto');
                    $("#aBasic").click();

                    //alert(DOC_KEY + $("#VWSTBA2M_DOC_KEY").val($(this).data('id')) + SR_FROM + '' + SR_TO)
                    var strUrl = DomainName + '/Master/DCRLocationAllote?DOC_KEY=' + DOC_KEY + '&DOC_SR_FROM=' + DOC_SR_FROM + '&DOC_SR_TO=' + DOC_SR_TO;
                    $.ajax({
                        url: strUrl,
                        type: 'POST',
                        data: {},
                        success: function (data) {
                            $("#Location").html(data);
                            //JsonDDLWithoutInput('Alloted_To', DomainName + '/Master/GetpersonListJsonByLocation?Loccode=@ViewBag.BaseLocationCode&Category=E');

                            StrURL = DomainName + "/Operation/GetDestinationLocationsWithoutSomeLocation";
                            JsonDDLSelectCode("Alloted_To", StrURL);



                            Formvalidate(DomainName, "form_sample_Location_Partial");
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                });

                $("#Submitlocation").click(function () {
                    //alert($("#DOC_KEY").val() + "DOC_SR_FROM=" + $("#DOC_SR_FROM").val() + "DOC_SR_TO=" + $("#DOC_SR_TO").val() + "Alloted_To" + $("#Alloted_To").val());
                    if (!$("#form_sample_Location_Partial").valid()) {
                        return false;
                    }
                    var DOC_KEY = $("#DOC_KEY").val();
                    var Alloted_To = $("#Alloted_To").val();
                   
                    window.location.replace(DomainName + '/Master/DCRAlloteDone?DOC_KEY=' + DOC_KEY + '&Alloted_To=' + Alloted_To);
                    @*$.ajax({
                        url: strUrl,
                        type: 'POST',
                        data: {},
                        success: function (data) {
                            alert(data);
                            window.location.replace(DomainName + "/Master/DCRAlloteDone?series=" + '@Model.series' + "&AlloteTo=" + '@Model.AlloteTo' + "&Message=" + '@Model.Message');
                            //alert(data);
                            //$("#Location").html(data);
                            //$('select').select2({
                            //    placeholder: "Select an option",
                            //    allowClear: true
                            //});
                            JsonDDL('Alloted_To', DomainName + '/Master/GetLocationListJson');
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });*@
                });
            }
        }
    }();
</script>