﻿@model Fleet.ViewModels.webx_Delivery_ZoneViewModel
@using FleetDataService.Models;
@{
    ViewBag.Title = "List of Delivery Zone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_State> stateList = MS.GetStateMasterObject().Where(c => c.activeflag == null ? c.activeflag == null : c.activeflag == "Y").ToList();
}
<div id="AddEditDeliveryZone"></div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a href="#" class="btn btn-xs default blue-stripe pull-right" id="addEdit" data-toggle="modal">
                        <i class="fa fa-plus"></i>  Add Delivery Zone
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="tblData">
                    @{
                        Html.RenderPartial("_DeliveryZoneList", Model.listWDZM.ToList());
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var GetObjectDet = function (id, DomainName) {
            App.blockUI({ boxed: true });
            var strurl = DomainName + '/Master/GetDeliveryZoneDetails?ZoneID=' + id;
            $.ajax({
                url: strurl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#AddEditDeliveryZone").hide();
                    $("#AddEditDeliveryZone").html(data);
                    CallSubmitClick(DomainName);
                    $("input:checkbox, input:radio").uniform();
                    $("#Location").select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    $("#Pincodes").select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    $("#Pincodes").attr("disabled", true);
                    $("#Location").change(function () {
                        var SelectId = $("#Location").val();
                        var StrURL = DomainName + "/Master/GetPincodeDetails?id=" + SelectId + "";
                        $("#Pincodes").attr("disabled", false);
                        FillDropDownfromOther("Pincodes", StrURL, "Pincode");
                    });

                    App.unblockUI();
                    $("#AddEditDeliveryZone").toggle(1000);
                },
                error: function (req, status, error) {
                    //alert("error--" + req + "---" + status + "---" + error);
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }

            });

        }

        var CallSubmitClick = function (DomainName) {

            $("#btnSave").click(function (e) {
                App.blockUI({ boxed: true });
                if (e.handled !== true) // This will prevent event triggering more then once
                {
                    e.handled = true;
                    Formvalidate(DomainName);
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return;
                    }
                    var ZoneID = $("#ZoneID").val();
                    var ZoneName = $("#ZoneName").val();
                    var Location = $("#Location").val();
                    var ActiveFlag = $("#ActiveFlag").prop('checked');
                    var ZoneDescription = $("#ZoneDescription").val();
                    var Pincodes = $("#Pincodes").val();

                    var DeliveryZoneMaster =
                                    {
                                        "ZoneID": ZoneID,
                                        "ZoneName": ZoneName,
                                        "Location": Location,
                                        "ActiveFlag": ActiveFlag,
                                        "ZoneDescription": ZoneDescription,
                                        "Pincodes": Pincodes,
                                    };

                    $.ajax({
                        url: DomainName + '/Master/AddEditDeliveryZone',
                        cache: false,
                        data: JSON.stringify(DeliveryZoneMaster),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.Status) {
                                TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                $("#AddEditDeliveryZone").hide(1000);
                                bindTable(DomainName);
                            }
                            else {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            }
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                    $("input:checkbox, input:radio").uniform();
                }
            });
        }

        var CheckDuplicate = function (DomainName) {
            App.blockUI({
                target: '#addNew',
                overlayColor: 'none',
                cenrerY: true,
                boxed: true
            });
            var ZoneName = $("#ZoneName").val();
            var Location = $("#Location").val();
            var strurl = DomainName + '/Master/CheckDuplicateDeliveryZone?ZoneName=' + ZoneName + '&Location=' + Location;
            $.ajax({
                url: strurl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    if (data.Count > "0") {
                        TosterNotification("error", 'Name <b>"' + ZoneName + '"</b> already exists!!!', "Oppps..!!");
                        $("#ZoneName").focus();
                        $("#ZoneName").select();
                    }
                    App.unblockUI('#addNew');
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI('#addNew');
                }
            });
        }
        var ZoneFocusout = function (DomainName) {
            $("#ZoneName").blur(function () {
                alert("hello");
            });
        }

        var bindTable = function (DomainName) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Master/GetDeliveryZoneList';
            $.ajax({
                url: strUrl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $('#DeliveryZoneList').dataTable({
                        "bDestroy": true
                    }).fnDestroy();
                    $("#DeliveryZoneList").html(data);
                    App.unblockUI();
                    $("input:checkbox, input:radio").uniform();
                    initTableById("DeliveryZoneList");
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);
                $('#ActiveFlag').change(function () {
                    if ($(this).is(":checked")) {
                        $("#ActiveFlag").val("Y");
                    }
                    else {
                        $("#ActiveFlag").val("N");
                    }
                });
                $("#addEdit").click(function () {
                    GetObjectDet("0", DomainName);
                });

                $(".btnCancel").live('click', function (e) {
                    $("#AddEditDeliveryZone").hide(1000);
                });

                $(".btnMasterEdit").live('click', function (e) {
                    var id = $(this).data('id');
                    GetObjectDet(id, DomainName);
                });
                //var main_category = function (DomainName) {
               
                //}
                ZoneFocusout(DomainName);
                CallSubmitClick(DomainName);
                initTableById("DeliveryZoneList");
            }
        }
    }();
</script>

