﻿@model IEnumerable<FleetDataService.Models.CYGNUS_Designation_Mapping>
@{
    ViewBag.Title = "Designation Mapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 1;
    var j = 1;
}
@using (Html.BeginForm("DesignationMappingSubmit", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <table id="sample_1" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center">Srno</th>
                                    <th class="center">Category</th>
                                    <th class="center">Designation(s)</th>
                                </tr>
                            </thead>
                            <tbody id="Tbody">
                                @foreach (var item in Model)
                                {
                                    item.SrNo = i;
                                    Html.RenderPartial("_DesignationMapping", item);
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="submit" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {
        return {
            //main function to initiate the module
            init: function (DomainName) {
                setTimeout(function () {
                    $(".clsCategory").attr("readonly", true);
                }, 200);

                @foreach (var item in Model)
                {
                    <text>
                GetType("MappingList_" + @j + "__Designation", "MappingList_" + @j + "__Designation", DomainName + "/Master/GetDesignationListJsonWithIdName");
                </text>
                    j++;
                }
                $("#btnSubmit").on("click", function () {
                    App.blockUI({ boxed: true });
                });
            }
        }
    }();
</script>