﻿@model Fleet.ViewModels.AddAccountModel
@using FleetDataService.Models;
@using Fleet.Classes;
@using Fleet.ViewModels;
@{
    ViewBag.Title = "Edit Account";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<WEBX_GROUPS> GroupList = MS.Get_AccountGroupListAll(Model.AccountCategory);
    List<SelectListItem> AccountCategoryList = new List<SelectListItem>(){
      new SelectListItem{ Text="ASSET", Value = "ASSET" },
      new SelectListItem{ Text="EXPENSE", Value = "EXPENSE" },
      new SelectListItem{ Text="EXPENSES", Value = "EXPENSES" },
      new SelectListItem{ Text="INCOME", Value = "INCOME" },
      new SelectListItem{ Text="LIABILITY", Value = "LIABILITY" },
    };
}

@using (Html.BeginForm("AddAccount", "Master", FormMethod.Get, new { @id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i>@ViewBag.Title
                    </div>
                    <div class="caption pull-right">
                        <a class="btn default btn-xs clsAddUser" href="@Url.Content("~/Master/AddAccount?Type=0")">
                            <i class="fa fa-plus"></i>
                            Add Account
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Select Main Category</label>
                                    <div class="col-md-8">
                                        @Html.HiddenFor(m => m.Type)
                                        @Html.DropDownListFor(m => m.AccountCategory, new SelectList(AccountCategoryList, "Text", "Value"), "", new { @class = "select2 required2 required form-control  required2 select2", @placeholder = "Select Main Category" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Select Group</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.AccGroup, new SelectList(GroupList, "Groupcode", "Groupdesc"), "", new { @class = "select2 required2 required form-control", @placeholder = "Manual Account Code" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid" id="SubmitBtn">
                        <div class="row">
                            <div class="col-md-offset-5 col-md-5">
                                <button type="submit" id="btnSubmit" class="btn blue"><i class="fa fa-check"></i>&nbsp;Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.form["form_sample"].submit();

                }

            });
        }


        var Events = function (DomainName) {

            $('#btnSubmit').click(function () {
                if ($('#form_sample').valid()) {
                    App.blockUI({ boxed: true });
                }
            });

            $('#AccountCategory').change(function () {
                var strUrl = DomainName + '/Master/Get_AccountGroupAll/' + $(this).val();
                App.blockUI();
                FillDropDownfromOther('AccGroup', strUrl, '');
            });

        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                Events(DomainName);
            }
        }
    }();
</script>
