﻿@model Fleet.ViewModels.AddEditAccountGroupViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "Add/Edit AccountGroup Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_Groups> mainCategory_List = MS.GroupMainCategoryList();
    //var Type = new List<SelectListItem> {
    //    new SelectListItem { Text = "Select Option", Value = "" },
    //new SelectListItem { Text = "Company Group Code", Value = "C" },
    //new SelectListItem { Text = "System Group Code", Value = "S" },
    //};
}


@using (Html.BeginForm("GetUpdateAccountGroup", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-8">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-filter"></i> @ViewBag.Title
                    </div>
                    <div class="caption pull-right">
                        <a class="btn default btn-xs clsAddUser" href="@Url.Content("~/Master/AddAccountGroup")">
                            <i class="fa fa-plus"></i>
                            Add Account Group
                        </a>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Main Group :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(m => m.Group.main_category, new SelectList(mainCategory_List, "main_category", "main_category"), "", new { @class = "select form-control required required2" })
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Select Group :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.Group.Groupdesc, new { placeholder = "Select Group", @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                    </label>
                                    <div class="col-md-4">
                                        <b>OR</b>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" id="GrpCode">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Group Code :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.Group.Groupcode, new { placeholder = "Group Code", @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                    </label>
                                    <div class="col-md-4">
                                        <b>OR</b>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12" id="CmpCode">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Company Code :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.Group.Company_Groupcode, new { placeholder = "Company Code", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                          
                            
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="button" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Get List</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="row OrderList">
        <div class="col-md-8">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp; Order List
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <table class="table table-striped table-bordered table-hover" id="OrderList" style="overflow-x: scroll;">
                            <thead>
                                <tr></tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
}
<script>
    var FormComponents = function (DomainName) {
        var Events = function (DomainName) {

            $("#Group_main_category").live('change', function () {
                var test = $("#Group_main_category").val();
                console.log(test);

                var Id = $("#Group_Groupdesc").attr('id');
                var StrURL = DomainName + '/Master/GETGroupListDDL?MainCategory=' + test;
                JsonDDL(Id, StrURL, false);
            });


            $('#btnSubmit').on('click', function () {
                FormValidate(DomainName);
                var Type = $("#Type").val();
                if ($('#form_sample').valid()) {
                    $('#form_sample').submit();
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                $("select").select2({
                    placeholder: "Select an option"
                });
                Events(DomainName);
            }
        }
    }();
</script>