﻿@model Fleet.ViewModels.webx_News_UpdatesViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@{
    ViewBag.Title = "Enter News For Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("AddEmpNews", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label col-md-5">No Of Rows </label>
                                <div class="col-md-7">
                                    <span class="col-md-3">
                                        @Html.TextBox("row", "0", new { placeholder = "Add Item", @class = "input-small required2 form-control required", @onkeypress = "javascript:return validInt(event)" })
                                    </span>
                                    <a id="btnAddScanFM" class="btn  btn-sm @ViewBag.TableBoxColor right">
                                        <i class="fa fa-plus"></i> Add New Row
                                    </a>
                                </div>

                            </div>
                        </div>
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th style="display:none">Sr. No.:</th>
                                    <th>Head Line</th>
                                    <th>News</th>
                                    <th>Select Color</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody id="containerTblupdates">
                                @foreach (var item in Model.listupdates)
                                {
                                    Html.RenderPartial("_EnterNews", item);
                                }
                            </tbody>
                        </table>
                        <div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                <a class="btn btn-sm default controls" href="@Url.Content("~/Master/miscellaneous")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To List</a>
                                <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }
            var form = $('#form_sample');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);
            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    App.blockUI({ boxed: true });
                    document.forms["form_sample"].submit();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }

        var AddRows = function (DomainName, itemIndex) {
            var StrURL1 = DomainName + "/Master/Addrow?srno=" + itemIndex;

            App.blockUI({ boxed: true }); //Block UI
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#containerTblupdates").append(html);
                    //$('#containerLog').css('sScrollY', '150px');
                    App.unblockUI();
                    GetColor(DomainName);
                },
                error: function (req, status, error) {
                    App.unblockUI();
                    alert("error " + req + " " + status + " " + error);
                }
                 
            });
        }

        var GetColor = function (DomainName) {
            $(".clsColor").each(function () {
                  totalRows = $("#form_sample tbody tr").length;
                for (var i = 1; i <= totalRows; i++) {
                    var checkID = "RutTran_" + i + "__Color";
                    $("#" + checkID).val($("#Color_" + i).val());
                }

            });
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                var itemIndex = $("#sample_ven input.iHidden").length + 1;
                Formvalidate(DomainName);
                GetColor(DomainName);
                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });


                $(".clsColor").live('change', function () {
                    var ID = $(this).attr("Id").replace("RutTran_", "").replace("__srno", "");
                    var Srno = $(this).attr('id').split("_")[1];
                    var checkID = "RutTran_" + Srno + "__Color";
                    $("#" + checkID).val($(this).val());
                  
                });
               
               
                $("#btnAddScanFM").live('click', function () {
                    var itemIndex = $("#sample_ven input.iHidden").length + 1;
                    var TOTRows = $("#row").val();
                    for (var i = 0; i <= TOTRows - 1; i++) {
                        setTimeout(function () {
                            itemIndex = itemIndex + 1;
                            AddRows(DomainName, itemIndex);
                        }, 250 * i);
                    }
                });
            }
        }
    }();
</script>