﻿@model Fleet.ViewModels.webx_News_UpdatesViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "Customer Updates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("AddCustomerUpdates", "Master", FormMethod.Post, new { id = "submit_form", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-7">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Enter Details  </label>
                                <div class="col-md-7">
                                    <textarea class="required required2 form-control" name="Updates" placeholder="Enter Details"></textarea>
                                    @*@Html.TextAreaFor(model => model.updates.Updates, new { @class = "required required2 form-control", @placeholder = "Enter Details " })*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Select Color  </label>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <div class="col-md-11">
                                            @*<input type="color" value="#ff0000" style="width: 133px;">*@
                                            @*<input type="color" id="colorWell" value="#ff8080" style="width: 133px; ">
                                                <a onclick="myFunction()">test</a>*@
                                            <input type="color" value="#ff8080" name="Updatecolor" id="color" style="width: 133px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-8">
                            <a class="btn btn-sm default controls" href="@Url.Content("~/Master/miscellaneous/hdn=")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To List</a>
                            <button type="button" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i> &nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<p id="demo"></p>*@
    </div>
}
<script type="text/javascript">

    //function myFunction() {
    //    var x = document.getElementById("myColor").value;
    //    document.getElementById("demo").innerHTML = x;
    //}

    var color;
    var defaultColor = "#0000ff";

    window.addEventListener("load", startup, false);
    function startup() {
        color = document.querySelector("#color");
        color.value = defaultColor;
        color.addEventListener("input", updateFirst, false);
        color.addEventListener("change", updateAll, false);
        color.select();
    }
    function updateFirst(event) {
        var textarea = document.querySelector("textarea");

        if (textarea) {
            textarea.style.color = event.target.value;
        }
    } function updateAll(event) {
        document.querySelectorAll("textarea").forEach(function (textarea) {
            textarea.style.color = event.target.value;
        });
    }

    var FormComponents = function (DomainName) {
        var FormValidate = function (DomainName) {
            var form1 = $('#submit_form');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    App.blockUI({ boxed: true });
                    document.forms["submit_form"].submit();
                }
            });
        }
        var CallSubmitClick = function (DomainName) {
            //$("#btnSubmit").live('click', function (e) {
            var form = $("#submit_form");
            if (form.valid() == false) {
                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                App.unblockUI();
                return false;
            }
            else {
                document.forms["submit_form"].submit();
                App.blockUI({ boxed: true });
                $("input:checkbox, input:radio").uniform();
            }

        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                $("#WREIM_SetRole").change(function () {
                    var StrURL = DomainName + "/Master/Get_HolidayDateWiseLocation";
                    FillDropDownfromOther("WMHDW_hday_loc", StrURL, "Select Location");
                });

                $("#btnSubmit").click(function (e) {
                    CallSubmitClick(DomainName);
                });

                $('#WMHDW_RadiohdayType').change(function () {

                });

                window.onload = function () {
                    $("#Location1").hide();
                    //$("#step3").hide();
                }
            }
        }
    }();
</script>
