﻿@model Fleet.ViewModels.WEBX_FLEET_GENERALTASKMSTViewModel
@using FleetDataService.Models
@using Fleet.Classes
@{
    ViewBag.Title = "General Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<WEBX_FLEET_GENERALTASKMST> listDocType = MS.GetTaskListObject().ToList();


}

@using (Html.BeginForm("AddEditGeneralTask", "Master", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet blue box">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>&nbsp; @ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Work Group:</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(c => c.WFGTM.Group, new SelectList(listDocType, "W_GRPCD", "W_GRPDESC"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Work Group" })
                                        <p><b style="color: red;text-align:center; text-align:left">Note : Please Select Atleast One Work Group For Record.</b></p>
                                        @Html.HiddenFor(c => c.WFGTM.Group)
                                        @Html.HiddenFor(c => c.WFGTM.Text)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-8">
                            <button type="button" id="GetList" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-list"></i>&nbsp;Get List</button>
                            <button type="button" id="AddNew" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-plus"></i>&nbsp;New Task</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="row" id="TaskList">
</div>


<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //form1.submit();
                }
            });
        }

        var GetList = function (DomainName) {
            $("#GetList").click(function () {
                App.blockUI({ Boxed: true });
                var Id = $("#WFGTM_Group").val();
                var Text = $("#WFGTM_Group option:selected").text();
                $.ajax({
                    url: DomainName + '/Master/GetGroupList?Id=' + Id + '&Text=' + Text,
                    cache: false,
                    data: $('#form_sample').serialize(),
                    type: 'POST',
                    success: function (data) {
                        $("#TaskList").show();
                        $('#GENERALTASKList').dataTable({
                            "bDestroy": true
                        }).fnDestroy();
                        $("#TaskList").html(data);
                        initTable1(DomainName);
                        App.unblockUI();
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        App.unblockUI();
                    }
                });
                $("input:checkbox, input:radio").uniform();
            });

            $("#AddNew").click(function () {
                App.blockUI({ Boxed: true });
                var Id = $("#WFGTM_Group").val();
                var Text = $("#WFGTM_Group option:selected").text();
                $.ajax({
                    url: DomainName + '/Master/AddEditGeneralTask?Id=' + Id + '&Text=' + Text,
                    cache: false,
                    data: $('#form_sample').serialize(),
                    type: 'POST',
                    success: function (data) {
                        window.location.replace(DomainName + "/Master/AddEditGeneralTask?Id=" + Id + '&Text=' + Text);
                        $("select").select2({
                            placeholder: "Select an option",
                            allowClear: true
                        });
                        App.unblockUI();
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        App.unblockUI();
                    }
                });
                $("input:checkbox, input:radio").uniform();
            });
        }
        var initTable1 = function (DomainName) {
            $('#GENERALTASKList').dataTable({
                "aLengthMenu": [
                    [5, 10, 15, 20, -1],
                    [5, 10, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 5,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "bDestroy": true,
                "aoColumnDefs": [
                     { 'bSortable': false, 'aTargets': [0] },
                     { "bSearchable": false, "aTargets": [0] }
                ]
            });

            jQuery('#GENERALTASKList_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
            jQuery('#GENERALTASKList_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
            jQuery('#GENERALTASKList_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
           
                GetList(DomainName);
                $("#Task").hide();
                $("#WFGTM_Group").change(function () {
                    var Text = $("#WFGTM_Group option:selected").text();
                    $("#WFGTM_Text").val(Text);
                });

            
                
            }
        }
    }();
</script>

