﻿@model Fleet.ViewModels.AddEditAccountGroupViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "Update Account Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("GetUpdateAccountGroupSubmit", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
    {
    <div class="row">
        <div class="col-md-8">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i> @ViewBag.Title
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Group Code :
                                    </label>
                                    <div class="col-md-4">
                                       @Html.TextBoxFor(m => m.EditGroup.Groupcode, new { @placeholder = "Group Code", @class = "form-control", @readonly = "true"})
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Main Category :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.EditGroup.main_category, new { @placeholder = "Main Category", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Main Category :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.EditGroup.Parentcode, new { @placeholder = "Parent GroupCode", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                          
                            <div class="col-md-12" id="GrpCode">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Group Dscription :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.EditGroup.Groupdesc, new { @placeholder = "Group Description", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12" id="CmpCode">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Company Code :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.EditGroup.Company_Groupcode, new { @placeholder = "Company Code", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="button" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    var FormComponents = function (DomainName) {

        @*var loadData = function (DomainName, tblId, Type) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Outbound/GetOrderList';
            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: 'json',
                data: $('#form_sample').serialize(),
                success: function (result) {
                    console.log(JSON.stringify(result));
                    console.log(GetHeaders(result[0]));
                    $('#' + tblId).DataTable({
                        data: result,
                        paging: false,
                        "searching": false,
                        columns: GetHeaders(result[0]),
                        destroy: true,
                        "aoColumnDefs": [
                              {
                                  "aTargets": [0],
                                  "mRender": function (data, type, full) {
                                      return '<a href="@Url.Action("OrderDetails", "Outbound")?OrderNo=' + data + '">' + data + '</a>';
                                  }
                              },
                        ],
                    });
                    formateDataTable(tblId);
                    $('#' + tblId).parents('.row').show(500);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }*@

        var Events = function (DomainName) {

            //$("#Group_GroupcodeType").live('change', function () {
            //    var test = $("#Group_GroupcodeType").val();
            //    console.log(test);
            //    if (test == "C") {
            //        $("#CmpCode").show();
            //        $("#GrpCode").hide();
            //        $("#Group_Groupcode").removeClass("required required2");
            //        $("#Group_Company_Groupcode").addClass("required required2");
            //        $("#Group_main_category").removeClass("required required2");
            //    } else if (test == "S") {
            //        $("#CmpCode").hide();
            //        $("#GrpCode").show();
            //        $("#Group_Groupcode").addClass("required required2");
            //        $("#Group_Company_Groupcode").removeClass("required required2");
            //        $("#Group_main_category").removeClass("required required2");
            //    } else {
            //        $("#CmpCode").hide();
            //        $("#GrpCode").hide();
            //        $("#Group_main_category").addClass("required required2");
            //    }
            //});

            //$("#Group_main_category").live('change', function () {
            //    var test = $("#Group_main_category").val();
            //    console.log(test);

            //    var Id = $("#Group_Groupdesc").attr('id');
            //    var StrURL = DomainName + '/Master/GETGroupListDDL?MainCategory=' + test;
            //    JsonDDL(Id, StrURL, false);
            //});


            $('#btnSubmit').on('click', function () {
                FormValidate(DomainName);
                var Type = $("#Type").val();
                if ($('#form_sample').valid()) {
                    $('#form_sample').submit();
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {

                //$("select").select2({
                //    placeholder: "Select an option"
                //});
               Events(DomainName);
            }
        }
    }();
</script>