﻿@{
    ViewBag.Title = "Holiday Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-4">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>@ViewBag.Title
                </div>
            </div>

            <div class="portlet-body">
                <table class="table" border="1">
                    <thead>
                    </thead>
                    <tbody>
                        <tr class="row">
                            <td class="col-md-3 center" style="padding-top: 43px;">
                                <b>Holiday Type</b>
                            </td>

                            <td class="col-md-9" style="padding-top: 20px;padding-bottom: 20px;">
                                @Html.ActionLink("By Week Day", "Holiday_ByWeekDay")
                                <hr />
                                @Html.ActionLink("By Date", "Holiday_ByDate")
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-actions fluid">
                <div class="col-md-offset-2 col-md-8">
                    <a class="btn btn-sm default controls" href="@Url.Content("~/Master/Holiday_Main")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To List</a>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade bs-modal-lg" id="addEditModel" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
