﻿@model Fleet.ViewModels.webx_master_Holiday_daywiseViewModel
@using Fleet.Helpers;
@{
    ViewBag.Title = "Holiday - Weekday Wise";
    var Sunday = Model.WMHDW.SUNDAY;
    var Monday = Model.WMHDW.MONDAY;
    var Tuesday = Model.WMHDW.TUESDAY;
    var Wednesday = Model.WMHDW.WEDNESDAY;
    var Thursday = Model.WMHDW.THURSDAY;
    var Friday = Model.WMHDW.FRIDAY;
    var Saturday = Model.WMHDW.SATURDAY;
    //int srn = 1;
}
@using (Html.BeginForm("Holiday_ByWeekDaysubmit", "Master", FormMethod.Post, new { id = "submit_form", @class = "form-horizontal row-fluid" }))
{
    <div class="row">
        <div class="col-md-4">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>

                <div class="portlet-body">
                    <table class="table" border="1" id="tblsend1">
                        <thead class="center">
                            @*<tr><b>Day Name</b></tr>*@
                            <tr>
                                <th></th>
                                <th class="center"><b>Day Name</b></th>
                            </tr>
                        </thead>
                        <tbody class="center">
                            <tr>
                                <td><input type="checkbox" name="SUNDAY" value="SUNDAY" id="day_name" checked="@Sunday" /></td>
                                <td><label>SUNDAY</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="MONDAY" value="MONDAY" id="day_name" checked="@Monday" /></td>
                                <td><label>MONDAY</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="TUESDAY" value="TUESDAY" id="day_name" checked="@Tuesday" /></td>
                                <td><label>TUESDAY</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="WEDNESDAY" value="WEDNESDAY" id="day_name" checked="@Wednesday" /></td>
                                <td><label>WEDNESDAY</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="THURSDAY" value="THURSDAY" id="day_name" checked="@Thursday" /></td>
                                <td><label>THURSDAY</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="FRIDAY" value="FRIDAY" id="day_name" checked="@Friday" /></td>
                                <td><label>FRIDAY</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="SATURDAY" value="SATURDAY" id="day_name" checked="@Saturday" /></td>
                                <td><label>SATURDAY</label></td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="form-actions fluid">
                    <div class="col-md-offset-3 col-md-8">
                        <a class="btn btn-sm default controls" href="@Url.Content("~/Master/Holiday_Criteria/hdn=")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To List</a>
                        <button type="button" value="Submit " id="btnSubmit" name="Submit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#submit_form');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        var CallSubmitClick = function (DomainName) {
            //$("#btnSubmit").live('click', function (e) {
            //var form = $("#submit_form");
            var selected = new Array();
            var tblsend1 = document.getElementById("tblsend1");
            var chks = tblsend1.getElementsByTagName("INPUT");
            for (var i = 0; i < chks.length; i++) {
                if (chks[i].checked) {
                    selected.push(chks[i].value);
                }
            }
            var str = selected.join(",");
            var strUrl = "/Fleet/Master/Holiday_ByWeekDaysubmit/?str=" + str;
            $.ajax({
                url: strUrl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    //alert("Hi")
                    if (data != "Not ok") {
                        window.location.href = "/Fleet/Master/Holiday_ByWeekDay_Done/?strqry=" + str;
                    }
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                //CallSubmitClick(DomainName);

                $("#btnSubmit").click(function (e) {
                    CallSubmitClick(DomainName);
                });
                //$("#UserList").parents('.row').show(500);
            }
        }
    }();
</script>
