﻿@model Fleet.ViewModels.WebX_Master_Holiday_DatewiseViewModel
@{
    ViewBag.Title = "Holiday View List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="display:none;">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    @*<a href="@Url.Content("~/Master/HolidayViewList")" class="btn default btn-xs controls"><i class="fa fa-download"></i>&nbsp;Download Excel </a>*@
                    <a href="@Url.Content("~/Master/ExportData?MethodName=Holiday_View_Master&FileName=Holiday_View_List")" class="btn default btn-xs controls"><i class="fa fa-download"></i>&nbsp;Download Excel </a>

                    <a class="btn default btn-xs" href="@Url.Content("~/Master/miscellaneous")">
                        <i class="fa fa-plus"></i>
                        Add
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="HolidayviewList" style="overflow-x: scroll;">
                    <thead>
                        <tr>
                            <th class="center">
                                Holiday Date
                            </th>
                            <th class="center">
                                Description
                            </th>
                            <th class="center">
                                Location
                            </th>
                            <th class="center">
                                Active Flag
                            </th>
                            <th>
                                Update By
                            </th>
                            <th>
                                Update Date
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var loadData = function (DomainName, tblId) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Master/GetViewList'
            // alert(strUrl);
            $.ajax({
                url: strUrl,
                type: 'POST',
                success: function (result) {
                    $('#' + tblId).DataTable({
                        data: result,
                        //alert:(data),
                        columns: [
                            {
                                data: "hday_date", 'render': function (date) {
                                    //console.log(date);
                                    var date = new Date(parseInt(date.substr(6)));
                                    //console.log(date);
                                    var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                                    var month = date.getMonth();
                                    return date.getDate() + " " + months[month] + " " + date.getFullYear();
                                }
                            },
                            { data: "hday_note" },
                            { data: "hday_loc" },
                            { data: "activeflag" },
                            { data: "updateby" },
                            {
                                data: "updatedate", 'render': function (date) {
                                    var date = new Date(parseInt(date.substr(6)));
                                    var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                                    var month = date.getMonth();
                                    return date.getDate() + " " + months[month] + " " + date.getFullYear();
                                }
                            },
                        ],
                        "aoColumnDefs": [
                            {
                                "aTargets": [3],
                                "mRender": function (data, full) {
                                    //alert(data);
                                    if (data == "1") {
                                        return '<span class="badge badge-success">Yes</span>';
                                    }
                                    else {
                                        return '<span class="badge badge-danger">No</span>';
                                    }
                                }
                            },
                        ],
                    });
                    formateDataTable(tblId);
                    initTableById('HolidayviewList');
                    $('#' + tblId).parents('.row').show(500);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        var Events = function (DomainName) {
            $("#HolidayDateWiseList a , .caption a").live("click", function (e) {
                App.blockUI({ boxed: true });
                App.unblockUI();
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                loadData(DomainName, 'HolidayviewList');
                Events(DomainName);
            }
        }
    }();
</script>