﻿@model Fleet.ViewModels.WebX_Master_Holiday_DatewiseViewModel
@using FleetDataService.Models

@{
    ViewBag.Title = "Holiday Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="col-md-6">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>@ViewBag.Title
                </div>
            </div>

            <div class="portlet-body">
                @using (Html.BeginForm("Holiday_ByDate", "Master", FormMethod.Post, new { id = "submit_form", @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    <table class="table" border="1">
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-offset-3 col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Select Date :</label>
                                            <div class="col-md-6">
                                                <div class="input-group date date-picker" data-date-format="dd MMM yyyy">
                                                    @* @ViewBag.abc*@
                                                    @* @Html.TextBoxFor(m => m.WMHDW.hday_date, String.Format("{0:dd MMM yyyy }",(@ViewBag.abc).ToString("dd MMM yyyy")), new { @class = " form-control date-picker required" })*@
                                                    @Html.TextBox("WMHDW.hday_date", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.WMHDW.hday_date).ToString("dd MMM yyyy")), new { @class = " form-control date-picker required" })
                                                    @*@Html.TextBoxFor(m => m.WMHDW.hday_date, new { @class = "form-control required required2", @placeholder = "dd MMM yyyy" })*@
                                                    <span class="input-group-btn">
                                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                    @Html.HiddenFor(c => c.WMHDW.hday_date)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-actions fluid">
                                    <div class="col-md-offset-4 col-md-8">
                                        <a class="btn btn-sm default controls" href="@Url.Content("~/Master/Holiday_Criteria/hdn=")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To List</a>
                                        <button type="button" value="Submit " id="btnSubmit" name="Submit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                }
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var FormValidate = function (DomainName) {
            var form1 = $('#submit_form');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    App.blockUI({ boxed: true });
                    document.forms["submit_form"].submit();
                }
            });
        }
        var CallSubmitClick = function (DomainName) {

          
            var strUrl = "/Fleet/Master/Holiday_ByDate/?hday_date=" + $("#WMHDW_hday_date").val();
            
            $.ajax({
                url: strUrl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                  
                    if (data != "Not ok") {
                       
                        window.location.href = "/Fleet/Master/Holiday_ByDate/?hday_date=" + $("#WMHDW_hday_date").val();
                    }
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);

                $("#btnSubmit").click(function (e) {
                    CallSubmitClick(DomainName);
                });

                $('#WMHDW_RadiohdayType').change(function () {

                    if ($(this).val() == "1") {
                        $(".loaction").hide();
                    }
                    else {
                        $(".loaction").show();
                    }
                });

                window.onload = function () {
                    $("#Location1").hide();
                    //$("#step3").hide();
                }
                FormValidate(DomainName);
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    todayBtn: true,
                });

                $('.chk').change(function () {
                    var gid = $(this).attr('id');
                    var sid = $(this).data('value');
                    if ($("#" + gid).is(":checked")) {
                        $("#" + sid).val("Y");
                    }
                    else {
                        $("#" + sid).val("N");
                    }
                });
            }
        }
    }();
</script>