﻿@model Fleet.ViewModels.WebX_Master_Holiday_DatewiseViewModel
@using FleetDataService.Models
@{

    ViewBag.Title = "Holiday - Date Wise";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_location> LocationList = MS.GetLocationDetails();
    //var StartDate = Convert.ToString(ViewBag.Data);
    var MappingTypeList = new List<SelectListItem> {
    new SelectListItem { Text = "All", Value = "1" },
    new SelectListItem { Text = "Location", Value = "2" }
    };
    var StartDate1 = "";

    if (ViewBag.Data != null)
    {
        StartDate1 = Convert.ToString(ViewBag.Data);
    }
    else
    {
        Model.WMHDW.hday_date = System.DateTime.Now;
        StartDate1 = System.DateTime.Now.ToString();
    }

}
<div class="row">
    <div class="col-md-6">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>@ViewBag.Title
                </div>
            </div>

            <div class="portlet-body ">
                @using (Html.BeginForm("AddEditDatWiseLocation", "Master", FormMethod.Post, new { id = "submit_form", @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Date</label>
                                    <div class="col-md-8">
                                        <div class="input-group date date-picker" data-date-format="dd MMM yyyy">
                                            @Html.TextBox("WMHDW.hday_date", String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(StartDate1).ToString("dd MMM yyyy")), new { @class = " form-control date-picker required" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Active</label>
                                    <div class="col-md-8 chkactive">
                                        @Html.CheckBoxFor(m => m.WMHDW.activeflag, new { @class = " form-control CLSCHKCKED" })
                                        @Html.HiddenFor(m => m.WMHDW.activeflag)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Description</label>
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model.WMHDW.hday_note, new { @class = "required required2 form-control", @placeholder = "Description" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <div class="col-md-8" id="1">
                                    <label class="control-label col-md-4">Location</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.WMHDW.RadiohdayType, new SelectList(MappingTypeList, "Value", "Text"), "", new { @class = "select2 drp form-control" })
                                        @Html.HiddenFor(c => c.WMHDW.RadiohdayType)
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row loaction">
                                <div class="col-md-8" id="1">
                                    <label class="control-label col-md-4"></label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.WMHDW.hday_loc, new SelectList(LocationList, "LocCode", "LocName"), "", new { @class = "select2 drp form-control", placeholder = "Select End Location" })
                                        @Html.HiddenFor(c => c.WMHDW.hday_loc)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3">
                            <a class="btn btn-sm default controls" href="@Url.Content("~/Master/Holiday_Criteria/hdn=")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To List</a>
                            <button type="button" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i> &nbsp;Submit</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var FormComponents = function (DomainName) {
        var FormValidate = function (DomainName) {
            var form1 = $('#submit_form');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    App.blockUI({ boxed: true });
                    document.forms["submit_form"].submit();
                }
            });
        }
        var CallSubmitClick = function (DomainName) {
            //$("#btnSubmit").live('click', function (e) {
            var form = $("#submit_form");
            if (form.valid() == false) {
                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                App.unblockUI();
                return false;
            }
            else {
                document.forms["submit_form"].submit();
                App.blockUI({ boxed: true });
                $("input:checkbox, input:radio").uniform();
            }
            //});
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);

                $("#WREIM_SetRole").change(function () {
                    var StrURL = DomainName + "/Master/Get_HolidayDateWiseLocation";
                    FillDropDownfromOther("WMHDW_hday_loc", StrURL, "Select Location");
                });

                $("#btnSubmit").click(function (e) {
                    CallSubmitClick(DomainName);
                });

                $(".loaction").hide();
                $('#WREIM_LocCode').change(function () {
                    bindTable(DomainName);
                });

                $('#WMHDW_RadiohdayType').change(function () {
                    if ($(this).val() == "1") {
                        $(".loaction").hide();
                    }
                    else {
                        $(".loaction").show();
                    }
                });

                window.onload = function () {
                    $("#Location1").hide();
                    //$("#step3").hide();
                }
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    @*startDate: '@StartDate1',*@
                    @*startDate: new Date('@StartDate1'),*@
                    todayBtn: true,
                });

                @*if (ViewBag.Data != null)
                {
                    $('.date-picker').datepicker({
                        rtl: App.isRTL(),
                        StartDate: new Date('@StartDate'),
                        format: "dd M yyyy",
                        autoclose: true,
                        todayBtn: true,
                    });
                }
                else
                {
                    $('.date-picker').datepicker({
                        rtl: App.isRTL(),
                        format: "dd M yyyy",
                        autoclose: true,
                        todayBtn: true,
                    });
                }*@
                $('.chk').change(function () {
                    var gid = $(this).attr('id');
                    var sid = $(this).data('value');
                    if ($("#" + gid).is(":checked")) {
                        $("#" + sid).val("Y");
                    }
                    else {
                        $("#" + sid).val("N");
                    }
                });
            }
        }
    }();
</script>