﻿@model Fleet.ViewModels.Webx_Industry_Product_MappingViewModel
@using FleetDataService.Models;
@{
    ViewBag.Title = "Industry - Product Mapping Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Text = "Submit";
    
    var MappingType = new List<SelectListItem> {
new SelectListItem { Text = "Industry Wise", Value = "1" },
new SelectListItem { Text = "Product Wise", Value = "2" }
};

    List<Webx_Industry_Product_Mapping> MappingCust = new List<Webx_Industry_Product_Mapping>();

}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("AddEditCompanyLocation", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
                {
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label col-md-4">Mapping Type</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.WIPM.MappingType, new SelectList(MappingType, "Value", "Text"), "", new { @class = "select2 drp form-control", placeholder = "Select End Location" })
                                    @Html.HiddenFor(c => c.WIPM.MappingType)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label col-md-4">Select Customer</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.WIPM.CustCode, new SelectList(MappingCust, "CodeId", "CodeDesc"), "", new { @class = "select2 drp form-control", placeholder = "Select Customer" })
                                    @Html.HiddenFor(c => c.EditFlag)
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-5">
                            <div class="portlet box @ViewBag.TableBoxColor">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-list"></i>Industry-Product Mapping List
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="portlet-body flip-scroll">
                                        <table id="LocationCompanyList" class="table table-bordered table-striped table-condensed flip-content">
                                            <thead class="flip-content">

                                            </thead>
                                            <tbody>
                                                @foreach (var itm in Model.listWIPM)
                                                {
                                                    Html.RenderPartial("_IndustryProductMapping", itm);
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            @*<button type="button" class="btn btn-sm defualt controls btnCancel" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>&nbsp;Cancel</button>*@
                            <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var bindTable = function (DomainName) {
            App.blockUI({ boxed: true });
            //var strUrl = DomainName + '/Master/GetIndustryProductCustomerList/' + id;
            var strUrl = DomainName + "/Master/GetIndustryProductCustomerList?id=" + $("#WIPM_MappingType").val() + "&INDProductID=" + $("#WIPM_CustCode").val();
            $.ajax({
                url: strUrl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $('.select').select2();
                    $("#LocationCompanyList").html(data);

                    App.unblockUI();
                    $("input:checkbox, input:radio").uniform();
                    $("#tblData").toggle(1000);


                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        var CallSubmitClick = function (DomainName) {
            $("#btnSave").live('click', function (e) {
                var strUrl = "/Fleet/Master/IndustryProductMappingDone";

                App.blockUI({ boxed: true });
                if (e.handled !== true) // This will prevent event triggering more then once
                {
                    e.handled = true;
                    Formvalidate(DomainName);
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return;
                    }
                    $.ajax({
                        url: DomainName + '/Master/IndustryProductMappingsubmit',
                        cache: false,
                        data: $("#form_sample").serialize(),
                        type: 'Post',
                        success: function (data) {
                            if (data == 'true') {
                                window.location = '@Url.Action("IndustryProductMappingDone", "Master")';
                                TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                // $('#WLCMM_LOCCODE').select2('data', null);
                            }
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                    $("input:checkbox, input:radio").uniform();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                CallSubmitClick(DomainName);

                $("#LocationCompanyList").parents('.row').show(500);

                $("#WIPM_MappingType").change(function () {
                    var StrURL = DomainName + "/Master/Get_IndustryProductCustomer?Type=" + $(this).val();
                    FillDropDownfromOther("WIPM_CustCode", StrURL, "Select Customer");
                });

                $('#WIPM_CustCode').change(function () {
                   // bindTable($("#WIPM_MappingType").val(), DomainName);
                    bindTable(DomainName);
                });

            }
        }
    }();
</script>