﻿@{
    ViewBag.Title = "IndustryProductMappingDone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-8">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">
                <table class="table" border="1">
                    <thead>

                    </thead>
                    <tbody>
                        <tr>
                            <td align="left" width="80%" colspan="3">Industry - Product Mapping Completed Successfully. </td>
                        </tr>
                        <tr>
                            @*<td class="col-md-offset-5 col-md-5">
                                <a class="btn btn-sm default controls" href="@Url.Content("~/Master/IndustryProductMappingMaster")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Indstry - Product Mapping</a>
                                </td>*@
                        </tr>
                    </tbody>
                </table>
                <div class="form-actions fluid">
                    <div class="col-md-offset-2 col-md-4" style="margin-left:1px;">
                        <div class="col-md-offset-2 col-md-4">
                            <a class="btn btn-sm default controls" href="@Url.Content("~/Master/IndustryProductMappingMaster")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To Indstry - Product Mapping</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
