﻿@model Fleet.ViewModels.JSApproval_Amt_MatrixViewModel
@using FleetDataService.Models
@using Fleet.Helpers
@{
    ViewBag.Title = "JobsheetApprovedAmountMatrix";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<WebX_Master_Users> ListUser = MS.GetUserDetails().Where(c => c.Status == "100").ToList().OrderBy(c => c.UserId).ToList();
}
<div id="AddEditJSApprovedMatrix"></div>
<div class="row" style="display:none;">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Jobsheet Approved Amount List
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="JobsheetApprovedAmountMatrix" style="overflow-x: scroll">
                    <thead>
                        <tr>
                            <th class="center">Action</th>
                            <th class="center">
                                Approver User Id
                            </th>
                            <th class="center">
                                CC UserId
                            </th>
                            <th class="center">
                                Jobsheet Type
                            </th>
                            <th class="center">
                                Approved Amount
                            </th>
                            <th class="center">
                                Location Hierarchy
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.listWFJSAHAM)
                        {
                            string TrId = "TR" + item.Approved_Id.ToString();
                            <tr id="@TrId">
                                <td class="center">
                                    <button type="button" class="btn default btn-xs blue-stripe tooltips btnMasterEdit" title="Edit" id="btnEdit_@item.Approved_Id.ToString()" data-id="@item.Approved_Id">
                                        <i class="fa fa-pencil"></i>&nbsp;Edit
                                    </button>
                                </td>
                                <td>
                                    @item.Approver_UserId
                                </td>
                                <td>
                                    @item.CC_UserId
                                </td>
                                <td class="center">
                                    @item.JS_TYPE
                                </td>
                                <td>
                                    @item.LOC_APPROVE_AMT
                                </td>
                                <td class="center">
                                    @item.HRCHYDESC
                                    @Html.HiddenFor(c => item.Approved_Id)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var CallSubmitClick = function (DomainName) {

            $("#btnSave").click(function (e) {
                App.blockUI({ boxed: true });
                if (e.handled !== true) // This will prevent event triggering more then once
                {
                    e.handled = true;
                    Formvalidate(DomainName);
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return;
                    }
                    //var Approver_UserId = $("#Approver_UserId").val();
                    //var CC_UserId = $("#CC_UserId").val();
                    //alert(Approver_UserId + " " + CC_UserId);
                    ////var JS_TYPE = $("#JS_TYPE").val();
                    ////var LOC_APPROVE_AMT = $("#LOC_APPROVE_AMT").val();
                    ////var HRCHYDESC = $("#HRCHYDESC").prop('checked');
                    ////var ID = $("#ID").val();
                    ////var Job_ID = $("#Job_ID").val();
                    //var Approved_Id = $("#Approved_Id").val();
                    //var JSMatrix =
                    //                {
                    //                    "Approver_UserId": Approver_UserId,
                    //                    "CC_UserId": CC_UserId,
                    //                    //"JS_TYPE": JS_TYPE,
                    //                    //"LOC_APPROVE_AMT": LOC_APPROVE_AMT,
                    //                    //"HRCHYDESC": HRCHYDESC,
                    //                    //"ID": ID,
                    //                    //"Job_ID": Job_ID,
                    //                    "Approved_Id" :Approved_Id,
                    //                };
                    //alert(JSON.stringify(JSMatrix));

                    $.ajax({
                        url: DomainName + '/Master/AddEditJobsheetApprovedAmountMatrix',
                        cache: false,
                        data: $('#form_sample').serialize(),
                        type: 'POST',
                        success: function (data) {
                            if (data.Status) {
                                TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                $("#AddEditJSApprovedMatrix").hide(1000);
                                window.location.replace(DomainName + '/Master/JobsheetApprovedAmountMatrix')
                            }
                            else {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            }
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                    $("input:checkbox, input:radio").uniform();
                }
            });
        }

        //var bindTable = function (DomainName) {
        //    App.blockUI({ boxed: true });
        //    var strUrl = DomainName + '/Master/JobsheetApprovedAmountMatrix';
        //    $.ajax({
        //        url: strUrl,
        //        cache: false,
        //        data: {},
        //        type: 'POST',
        //        success: function (data) {
        //            $("#tblData").hide(1000);
        //            $('#JobsheetApprovedAmountMatrix').dataTable({
        //                "bDestroy": true
        //            }).fnDestroy();
        //            $("#JobsheetApprovedAmountMatrix").html(data);
        //            App.unblockUI();
        //            $("input:checkbox, input:radio").uniform();
        //            initTableById("JobsheetApprovedAmountMatrix");
        //            $("#tblData").toggle(1000);
        //        },
        //        error: function (req, status, error) {
        //            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
        //            App.unblockUI();
        //        }
        //    });
        //}

        var GetObjectDet = function (id, DomainName) {
            App.blockUI({ boxed: true });
            var strurl = DomainName + '/Master/GetJSApprovedDetail/' + id;
            $.ajax({
                url: strurl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#AddEditJSApprovedMatrix").hide();
                    $("#AddEditJSApprovedMatrix").html(data);
                    //var StrURL = DomainName + "/Master/GetAllUserJson"
                    //GetType("Approver_UserId", "PKPDL", StrURL);
                    //GetType("CC_UserId", "PKPDL", StrURL)
                    CallSubmitClick(DomainName);
                    $("input:checkbox, input:radio").uniform();
                    $("select").select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    App.unblockUI();
                    $("#AddEditJSApprovedMatrix").toggle(1000);
                },
                error: function (req, status, error) {
                    //alert("error--" + req + "---" + status + "---" + error);
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }

            });

        }


        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);
                $("#JobsheetApprovedAmountMatrix").parents('.row').show(800);

                $(".btnCancel").live('click', function (e) {
                    $("#AddEditJSApprovedMatrix").hide(1000);
                });

                $(".btnMasterEdit").live('click', function (e) {
                    var id = $(this).data('id');
                    GetObjectDet(id, DomainName);
                });

                initTableById("JobsheetApprovedAmountMatrix");
            }
        }
    }();
</script>
