﻿@model Fleet.ViewModels.JSApproval_AmtViewModel
@{
    ViewBag.Title = "JobsheetApprovedAmount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="display:none;">
    <div class="col-md-8">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;Jobsheet Approved Amount List
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="JobsheetApprovedAmount" style="overflow-x: scroll">
                    <thead>
                        <tr>
                            <th class="center">
                                ID
                            </th>
                            <th class="center">
                                Location Hierarchy
                            </th>
                            <th class="center">
                                Jobsheet Type
                            </th>
                            <th class="center">
                                Approved Amount Cash
                            </th>
                            <th class="center">
                                Approved Amount Bank
                            </th>
                            <th class="center">
                                Update By
                            </th>
                            <th class="center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.listWFJSAHAM)
                        {
                            string TrId = "TR" + item.ID.ToString();
                            <tr id="@TrId">
                                <td class="center">
                                    @item.ID
                                </td>
                                <td>
                                    @item.CODEDESC
                                </td>
                                <td class="center">
                                    @item.JS_TYPE
                                </td>
                                <td>
                                    <input type="text" class="form-control clsCodeDesc required" id="txt_@item.ID" data-id="@item.ID" onkeypress="javascript:return validFloat(event,this.getAttribute('id'))" value="@item.LOC_APPROVE_AMT" data-appamnt="@item.LOC_APPROVE_AMT" data-jstype="@item.JS_TYPE" data-hrchycode="@item.LOC_HRCHY_CODE" disabled />
                                </td>
                                <td>
                                    <input type="text" class="form-control clsCodeBank required" id="txt_Bank_@item.ID" onkeypress="javascript:return validFloat(event,this.getAttribute('id'))" data-id="@item.ID" value="@item.LOC_APPROVE_AMT_BANK" data-bankamnt="@item.LOC_APPROVE_AMT_BANK" data-jstype="@item.JS_TYPE" data-hrchycode="@item.LOC_HRCHY_CODE" disabled />
                                </td>
                                <td>
                                    @item.UPDATE_BY
                                </td>
                                <td class="center">
                                    <button type="button" class="btn default btn-xs blue-stripe tooltips btnMasterEdit" title="Edit" id="btnEdit_@item.ID.ToString()" data-appamnt="@item.LOC_APPROVE_AMT" data-id="@item.ID" rel="tooltip" data-placement="top">
                                        <i class="fa fa-pencil"></i>&nbsp;Edit
                                    </button>
                                    <button type="button" style="display:none" class="btn default btn-xs green-stripe tooltips btnMasterSave" title="Save" id="btnSave_@item.ID.ToString()" data-appamnt="@item.LOC_APPROVE_AMT" data-jstype="@item.JS_TYPE" data-hrchycode="@item.LOC_HRCHY_CODE" data-id="@item.ID" rel="tooltip" data-placement="top">
                                        <i class="fa fa-save"></i>&nbsp;Save
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var CallSubmitClick = function (DomainName) {

            $(".btnMasterSave").click(function (e) {
                if (e.handled !== true) // This will prevent event triggering more then once
                {
                    e.handled = true;
                    var Id = $(this).data('id');
                    var APPAmnt = $("#txt_" + Id).val();
                    var APPAmnt_Bank = $("#txt_Bank_" + Id).val();
                    var JSType = $("#txt_" + Id).data('jstype');
                    var hrchyCode = $("#txt_" + Id).data('hrchycode');

                    savefn(DomainName, Id, APPAmnt, JSType, hrchyCode, APPAmnt_Bank);
                }
            });
        }

        var savefn = function (DomainName, Id, APPAmnt, JSType, hrchyCode, APPAmnt_Bank) {

            App.blockUI({ boxed: true });
            Formvalidate(DomainName);
            var APPAmnt = $('#txt_' + Id).val();
            if (APPAmnt == "" || APPAmnt == null) {
                App.unblockUI();
                return;
            }
            var JobsheetApprovedAmount =
                            {
                                "Id": Id,
                                "LOC_APPROVE_AMT": APPAmnt,
                                "LOC_HRCHY_CODE": hrchyCode,
                                "JS_TYPE": JSType,
                                "LOC_APPROVE_AMT_BANK": APPAmnt_Bank
                            };
            $.ajax({
                url: DomainName + '/Master/AddEditJobsheetApprovedAmount',
                cache: false,
                data: JSON.stringify(JobsheetApprovedAmount),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.Status) {
                        TosterNotification("success", "Record has been updated successfully..!!", "Success");
                        hideShow('0000');
                        location.reload();
                    }
                    else {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    }
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
            $("input:checkbox, input:radio").uniform();
        }

        var switchBtn = function () {

            $('.StatusCodeY').bootstrapSwitch('state', true);
            $('.StatusCodeY').bootstrapSwitch('size', 'mini');
            $('.StatusCodeN').bootstrapSwitch('state', false);
            $('.StatusCodeN').bootstrapSwitch('size', 'mini');

        }

        var hideShow = function (id) {
            $('.clsCodeDesc').attr('disabled', true);
            $('.clsCodeBank').attr('disabled', true);
            $('.clsCodeDesc').removeClass('required2');
            $('.clsCodeBank').removeClass('required2');
            $('.btnMasterEdit').show();
            $('.btnMasterSave').hide();

            if (id != '0000') {
                $('#txt_' + id).attr('disabled', false);
                $('#txt_' + id).addClass('required2');
                $('#txt_' + id).val($('#txt_' + id).val())

                if (id == "2" || id == "4" || id == "6") {
                    $('#txt_Bank_' + id).attr('disabled', false);
                }
                $('#txt_Bank_' + id).addClass('required2');
                $('#txt_Bank_' + id).val($('#txt_Bank_' + id).val())

                $('#txt_' + id).focus();
                $('#btnEdit_' + id).hide();
                $('#btnSave_' + id).show();
            }
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);
                $("#JobsheetApprovedAmount").parents('.row').show(800);

                $(".btnCancel").live('click', function (e) {
                    $("#CodeDesc").val("");
                });

                $(".btnMasterEdit").live('click', function (e) {
                    var id = $(this).data('id');
                    hideShow(id);
                });

                $(".clsCodeDesc").live('dblclick', function (e) {
                    var id = $(this).data('id');
                    hideShow(id);
                });

                $(".clsCodeDesc").live('keypress', function (e) {
                    var key = e.KeyCode || e.which;
                    if (key == 13 || key == 9)  // the enter key code
                    {
                        savefn(DomainName, $(this).data('id'), $(this).data('appamnt'), $(this).data('jstype'), $(this).data('hrchycode'), $(this).data('bankamnt'))
                    }
                });

                CallSubmitClick(DomainName);
                switchBtn();
                initTableById("JobsheetApprovedAmount");
            }
        }
    }();
</script>
