﻿@model Fleet.ViewModels.VehicleKm
@using FleetDataService.Models
@using Fleet.Classes
@using System.Data;
@{
    ViewBag.Title = "Change Vehcle Kilometer";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Text = "Submit";
    List<SelectListItem> ChangeType = new List<SelectListItem>();
    ChangeType.Add(new SelectListItem { Text = "Enter Vehicle No", Value = "V" });
    ChangeType.Add(new SelectListItem { Text = "Enter TripSheet No", Value = "T" });
}


@using (Html.BeginForm("kilometerChangeSubmit", "Master", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-body ">
                        <table id="sample_ven" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-2 center">Select Type</th>
                                    <th class="col-md-2 center clshdnv">Vehicle Number</th>
                                    <th class="col-md-2 center clshdnv">Current_Km_Read</th>
                                    <th class="col-md-2 center clshdnv">PRS_DRS_THC_KM</th>
                                    <th class="col-md-2 center clshdnT">TripSheet Number</th>
                                    <th class="col-md-2 center clshdnT">Vehicle Number</th>
                                    <th class="col-md-2 center clshdnT">f_issue_startkm</th>
                                </tr>
                            </thead>
                            <tbody id="Voucher">
                                <tr class="editorRow">
                                    <td class="col-md-2">
                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @Html.DropDownListFor(c => c.KMChgTyp, new SelectList(ChangeType, "Value", "Text"), null, new { @class = "form-control select2" })
                                                @Html.HiddenFor(m => m.KMChgTyp)
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-md-2 center clshdnv">
                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @Html.TextBoxFor(m => m.VEHNO, new { placeholder = "VEHICLE No.", @class = "form-control required required2 ClsVEHNO" })
                                                @Html.HiddenFor(m => m.VEHNO)
                                                @Html.HiddenFor(m => m.VEH_INTERNAL_NO)
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-md-2 center clshdnT">
                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @Html.TextBoxFor(m => m.VSlipNo, new { placeholder = "TripSheet No.", @class = "form-control required required2 ClsVEHNO" })
                                                @Html.HiddenFor(m => m.VSlipNo)
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-md-2 center clshdnT">
                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @Html.TextBoxFor(m => m.VehicleNo, new { @class = "form-control" })
                                                @Html.HiddenFor(m => m.VehicleNo)
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-md-2 center clshdnT">
                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @Html.TextBoxFor(m => m.f_issue_startkm, new { @class = "form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @max = "900000", @min = "1", })
                                                @Html.HiddenFor(m => m.f_issue_startkm)
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-md-2 center clshdnv">
                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @Html.TextBoxFor(model => model.Current_KM_Read, new { @class = "required form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @max = "900000", @min = "1", })
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-md-2 center clshdnv">
                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @Html.TextBoxFor(model => model.PRS_DRS_THC_KM, new { @class = "required form-control required required2", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @max = "900000", @min = "1", })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-actions flude">
                        <div class="col-md-offset-4 col-md-8">
                            <a href="@Url.Content("~/Master/kilometerChange")" class="btn btn-sm default controls"><i class="fa fa-refresh"></i>&nbsp;Reset </a>
                            <button type="button" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i>&nbsp;@Text </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                rules: {
                },
                messages: {
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //document.form["form_sample"].submit();
                }
            });
        }

        return {
            init: function (DomainName) {

                Formvalidate(DomainName);

                var itemIndex = $("#sample_ven input.iHidden").length + 1;
                $('.clshdnT').hide();

                $('.ClsVEHNO').focusout(function () {
                    var SerchGroup = $(this).val();
                    var type = $('#KMChgTyp').val();
                    var strUrl = DomainName + '/Master/GetKMList_NameJson?SerchGroup=' + SerchGroup + '&type=' + type;
                    App.blockUI({ boxed: true });
                    $.ajax({
                        url: strUrl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (Data) {

                            $('#VEHNO').val(Data.VEHNO);
                            $('#VEH_INTERNAL_NO').val(Data.VEH_INTERNAL_NO);
                            $('#Current_KM_Read').val(Data.Current_Km_Read);
                            $('#PRS_DRS_THC_KM').val(Data.PRS_DRS_THC_KM);
                            $('#f_issue_startkm').val(Data.f_issue_startkm);
                            $('#VehicleNo').val(Data.VehicleNo);
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                            App.unblockUI();
                        }
                    });
                });


                $("#VSlipNo").removeClass("required required2")
                $("#f_issue_startkm").removeClass("required required2")
                $("#VEHNO").addClass("required required2")
                $("#Current_KM_Read").addClass("required required2")
                $("#PRS_DRS_THC_KM").addClass("required required2")
                $('#KMChgTyp').change(function () {

                    if ($(this).val() == "V") {
                        $('.clshdnv').show();
                        $('.clshdnT').hide();

                        $("#VSlipNo").removeClass("required required2")
                        $("#f_issue_startkm").removeClass("required required2")
                        $("#VEHNO").addClass("required required2")
                        $("#Current_KM_Read").addClass("required required2")
                        $("#PRS_DRS_THC_KM").addClass("required required2")
                    }
                    else {
                        $('.clshdnv').hide();
                        $('.clshdnT').show();

                        $("#VSlipNo").addClass("required required2")
                        $("#f_issue_startkm").addClass("required required2")
                        $("#VEHNO").removeClass("required required2")
                        $("#Current_KM_Read").removeClass("required required2")
                        $("#PRS_DRS_THC_KM").removeClass("required required2")
                    }
                });

                $("#btnSubmit").click(function () {
                    //$("#btnSubmit:input").attr("disabled", "true");
                    Formvalidate(DomainName);
                    if ($('#form_sample').valid()) {
                        App.blockUI({ boxed: true });
                        document.forms["form_sample"].submit()
                    }
                    else {
                        return false
                    }
                });

            }
        }
    }();
</script>
