﻿@model Fleet.ViewModels.CYGNUS_Leave_MasterViewModel
@using FleetDataService.Models;
@{
    ViewBag.Title = "Leave Details";
    Layout = "~/Views/Shared/_Layout.cshtml";


    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> LeaveType = MS.GetGeneralMasterObject().Where(c => c.CodeType.ToUpper() == "LEAVETYPE" && c.StatusCode.ToUpper() == "Y").ToList();

    Model.LeaveMst.LeaveStartDate = (Model.LeaveMst.LeaveStartDate == System.DateTime.MinValue ? System.DateTime.Now : Model.LeaveMst.LeaveStartDate);
    Model.LeaveMst.LeaveEndDate = (Model.LeaveMst.LeaveEndDate == System.DateTime.MinValue ? System.DateTime.Now : Model.LeaveMst.LeaveEndDate);
}

@using (Html.BeginForm("LeaveDetailsSubmit", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6" id="divList">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-2">Start Date:</label>
                            <div class="col-md-4">
                                <div class="input-group date date-pickerFrom" data-date-format="dd MMM yyyy">
                                    @Html.TextBox("LeaveMst.LeaveStartDate", String.Format("{0:dd MMM yyyy}", Convert.ToDateTime(Model.LeaveMst.LeaveStartDate).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @readonly = "true" })
                                    <span class="input-group-btn">
                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(c => c.Type)
                        <div class="form-group">
                            <label class="control-label col-md-2">End Date:</label>
                            <div class="col-md-4">
                                <div class="input-group date date-pickerTo" data-date-format="dd MMM yyyy">
                                    @Html.TextBox("LeaveMst.LeaveEndDate", String.Format("{0:dd MMM yyyy}", Convert.ToDateTime(Model.LeaveMst.LeaveEndDate).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @readonly = "true" })
                                    <span class="input-group-btn">
                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Leave Type:</label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.LeaveMst.LeaveType, new SelectList(LeaveType, "CodeId", "CodeDesc"), "", new { @class = "form-control select2 required required2", @placeholder = "Select Leave Type" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Reason:</label>
                            <div class="col-md-7">
                                @Html.TextAreaFor(m => m.LeaveMst.LeaveReason, new { @class = "form-control required required2", @placeholder = "Mantion Leave Reason" })
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Leave List
                    </div>
                </div>
                <div class="portlet-body">
                    @{
    Html.RenderPartial("_LeaveList", Model);
                    }
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var handleDatetimePicker = function () {

            if (jQuery().datepicker) {
                $('.date-pickerFrom').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: new Date(),
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal

                $('.date-pickerTo').datepicker({
                    rtl: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    startDate: new Date(),
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }
        }

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#form_sample');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    document.form["form_sample"].submit();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                handleDatePicker();
                handleDatetimePicker(DomainName);

                $("#LeaveMst_LeaveStartDate").change(function () {
                    $(".date-pickerTo").datepicker("remove");
                    if (new Date($("#LeaveMst_LeaveStartDate").val()) > new Date($("#LeaveMst_LeaveEndDate").val())) {
                        $("#LeaveMst_LeaveEndDate").val($("#LeaveMst_LeaveStartDate").val())
                    } else {
                        $("#LeaveMst_LeaveEndDate").val($("#LeaveMst_LeaveEndDate").val())
                    }
                    $('.date-pickerTo').datepicker({
                        rtl: App.isRTL(),
                        format: "dd M yyyy",
                        autoclose: true,
                        startDate: new Date($("#LeaveMst_LeaveStartDate").val()),
                    });
                });
                if ("@Model.Type" == "V") {
                    $("#divList").removeClass("hide");
                }
                if ("@Model.Type" == "A") {
                    $("#divList").addClass("hide");
                }

                $(".btnApprovReject").on("click", function () {
                    var userId = $(this).data('userid');
                    var id = $(this).data('id');
                    var type = $(this).data('type');
                    var srtURL = DomainName + "/Master/LeaveApprovReject?id=" + id + "&userId=" + userId + "&type=" + type;
                    App.blockUI({ boxed: true });
                    $.ajax({
                        url: srtURL,
                        type: 'POST',
                        success: function (result) {
                            if (result =="1") {
                                TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                setTimeout(function () {
                                    window.location = DomainName + "/Master/LeaveDetails/A";
                                }, 1500);
                            }
                            else {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                                App.unblockUI();
                            }
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                });
            }
        };
    }();

</script>
