﻿@model Fleet.ViewModels.LoadingUnloadingDataChange
@{
    ViewBag.Title = "Loading/Unloading Data List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Type = new List<SelectListItem> {
    new SelectListItem { Text = "Loading", Value = "L" },
    new SelectListItem { Text = "UnLoading", Value = "U" },
    };

    var date = Model.FromDate;
}


<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body ">
                @using (Html.BeginForm("LoadingUnloadingDataListSubmit", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        From Date :
                                    </label>
                                    <div class="col-md-7 text-primary margin-top-5">
                                        <b>@Model.FromDate.ToString("dd MMM yyyy")</b>
                                        @Html.HiddenFor(c => c.FromDate)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        To Date :
                                    </label>
                                    <div class="col-md-7 text-primary margin-top-5">
                                        <b>@Model.ToDate.ToString("dd MMM yyyy")</b>
                                        @Html.HiddenFor(c => c.ToDate)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Location :
                                    </label>
                                    <div class="col-md-7 text-primary margin-top-5">
                                        <b>@Model.Branch</b>
                                        @Html.HiddenFor(c => c.Branch)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Document Type :
                                    </label>
                                    <div class="col-md-7 text-primary margin-top-5">
                                        @if (Model.Type.ToUpper() == "L")
                                        {
                                            <b><span>Loading</span></b>
                                        }
                                        else if (Model.Type.ToUpper() == "U")
                                        {
                                            <b><span>UnLoading</span></b>
                                        }
                                        @Html.HiddenFor(c => c.Type)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4 class="form-section"></h4>
                        <div class="portlet-body flip-scroll">
                            <table class="table table-bordered table-striped table-condensed flip-content">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="center">
                                            @*@Html.CheckBox("IsAllEnabledPO")*@
                                        </th>
                                        <th class="center">
                                            Document No.
                                        </th>
                                        <th class="center">
                                            Document Date
                                        </th>
                                        <th class="center">
                                            Document Type
                                        </th>
                                        <th class="center">
                                            Charges Type
                                        </th>
                                        <th class="center">
                                            Charged By
                                        </th>

                                        <th class="center">
                                            Rate Type
                                        </th>

                                        <th class="center">
                                            Charge Rate
                                        </th>
                                        <th class="center">
                                            Charge Amount
                                        </th>
                                        <th class="center">
                                            Vendor Name
                                        </th>
                                        <th class="center">
                                            Mathadi?
                                        </th>

                                        <th class="center">
                                            Actual Package
                                        </th>
                                        <th class="center">
                                            Actual Loaded Package
                                        </th>
                                        <th class="center">
                                            Actual Weight
                                        </th>
                                        <th class="center">
                                            Actual Loaded Weight
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.dataList.Count > 0)
                                    {
                                        foreach (var item in Model.dataList)
                                        {
                                            Html.RenderPartial("_LoadingUnloadingDataList", item);
                                        }
                                    }
                                    else
                                    {
                                        <tr>  <td class="center" colspan="13"><b>No Records Found</b></td></tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="button" id="btnSubmit" class="btn btn-sm blue controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.parents('.checkbox-list').size() > 0) {
                        error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var Events = function (DomainName) {

            $("#btnSubmit").live('click', function () {
                App.blockUI({ boxed: true });
                if (!$('#form_sample').valid()) {
                    App.unblockUI();
                    return false;
                }
                else {
                    document.forms["form_sample"].submit();
                }
            });

            $(".clsloadUnload").live('click', function () {
                var checked = $(this).is(":checked");
                var ID = $(this).attr('id');

                if (checked) {
                    $("#" + ID.replace("IsEnabled", "ChargeRate")).attr("readonly", false);
                    $("#" + ID.replace("IsEnabled", "ChargedBy")).prop("disabled", false);
                } else {
                    $("#" + ID.replace("IsEnabled", "ChargeRate")).attr("readonly", true);
                    $("#" + ID.replace("IsEnabled", "ChargedBy")).prop("disabled", true);
                }
            });

            $(".clsChargeRate").live('change', function () {

                var ID = $(this).attr('id');
                var ChargeAmount = 0;

                if ($("#" + ID.replace("ChargeRate", "RateType")).val() == "1") {

                    ChargeAmount = parseFloat($(this).val()) * parseFloat($("#" + ID.replace("ChargeRate", "ACTUWT_Load")).val());

                } else if ($("#" + ID.replace("ChargeRate", "RateType")).val() == "3") {

                    ChargeAmount = parseFloat($(this).val()) * parseFloat($("#" + ID.replace("ChargeRate", "ACTUPKGS_Load")).val());
                }

                $("#" + ID.replace("ChargeRate", "ChargeAmount")).val(parseFloat(ChargeAmount).toFixed(2));
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);
                Events(DomainName);
            }
        }
    }();
</script>