﻿@{
    ViewBag.Title = "Loading/UnLoading Vendor Type Mapping ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (@ViewBag.status == "TRUE")
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-success fade in center">
            <h2 class="alert-heading">@ViewBag.Title Done Successfully</h2>
            <h4>
                <a href="@Url.Content("~/Master/LoadingUnLoadingVendorTypeMapping")">Click to Add/ Edit More @ViewBag.Title </a>
            </h4>
        </div>
    </div>
}
else
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-danger fade in center">
            <h2 class="alert-heading">Opps! @ViewBag.Title Fails.</h2>
            <h4>
                There is some issue with process. <br />Please check your internet connection else contact your administrator or service provider.
            </h4>
            <h4>
                <a href="@Url.Content("~/Master/LoadingUnLoadingVendorTypeMapping")">Click to Add/ Edit More @ViewBag.Title </a>
            </h4>
        </div>
    </div>
}