﻿@model IEnumerable<FleetDataService.Models.webx_location>

@{
    ViewBag.Title = "Location List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<FleetDataService.Models.Webx_Master_General> listMst = MS.GetGeneralMasterObject();
    listMst = listMst.Where(c => c.CodeType == "ZONE").OrderBy(c => c.CodeId).ToList();
}

<div class="row" style="display:none;">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Location List
                </div>
                <div class="caption pull-right">
                    <a href="@Url.Content("~/Master/ExportData?MethodName=Location&FileName=Location Master List")" class="btn default btn-xs controls"><i class="fa fa-download"></i>&nbsp;Download Excel </a>
                    <a class="btn default btn-xs btnAddEdit" href="@Url.Content("~/Master/LocationMaster")">
                        <i class="fa fa-plus"></i>
                        Add new Location
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="tblLocationList" style="overflow-x: scroll">
                    <thead>
                        <tr>
                            <th class="center">
                                Location Code
                            </th>
                            <th class="center">
                                Location Name
                            </th>
                            <th class="center">
                                Region
                            </th>
                            <th class="center">
                                Perit No. Req.
                            </th>
                            <th class="center">
                                Key No. Req.
                            </th>
                            <th class="center">
                                Active
                            </th>
                            <th class="center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            string ZoneName = "";
                            if (listMst.Where(c => c.CodeId == item.LocRegion).FirstOrDefault() != null)
                            {
                                ZoneName = listMst.Where(c => c.CodeId == item.LocRegion).FirstOrDefault().CodeDesc.ToString();
                            }
                            <tr>
                                <td class="center">
                                    @item.LocCode
                                </td>
                                <td>
                                    @item.LocName
                                </td>
                                <td class="center">
                                    @ZoneName
                                </td>
                                <td class="center">
                                    @if (item.IsPeritNoReq == true)
                                    {
                                        <span class="badge badge-success">Yes</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">No</span>
                                    }
                                </td>
                                <td class="center">
                                    @if (item.IsKeyNoReq == true)
                                    {
                                        <span class="badge badge-success">Yes</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">No</span>
                                    }
                                </td>
                                <td class="center">
                                    @if (item.ActiveFlag == "Y")
                                    {
                                        <span class="badge badge-success">Yes</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">No</span>
                                    }
                                </td>
                                <td class="center">
                                    <a href="@Url.Content("~/Master/LocationMaster/" + item.LocCode)" class="btn default btn-xs blue-stripe tooltips"><i class="fa fa-pencil"></i>&nbsp;Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    var FormComponents = function (DomainName) {

        var Events = function (DomainName) {
            $("#tblLocationList a , .btnAddEdit").live("click", function (e) {
                App.blockUI({ boxed: true });
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                Events(DomainName);
                initTableById('tblLocationList');
                $("#tblLocationList").parents('.row').show(500);
            }
        }
    }();
</script>