﻿@model Fleet.ViewModels.LocationViewModel
@{
    ViewBag.Title = "Location Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @{
        Html.RenderPartial("_LocationMaster", Model);
    }
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.forms["form_sample"].submit()
                }
            });
        }

        var Events = function (DomainName) {

            $('#WL_LocState').change(function () {
                var strUrl = DomainName + '/Master/GetCityByStateJson/' + $(this).val();
                App.blockUI();
                FillDropDownfromOther('WL_LocCity', strUrl, '');
            });

            $('#WL_Loc_Level').change(function () {
                $('#WL_Report_Level').attr('disabled', false);
            });

            $('#WL_Report_Level').change(function () {
                var strUrl = DomainName + '/Master/GetReportingLocationByReportingTo/' + $(this).val();
                App.blockUI();
                FillDropDownfromOther('WL_Report_Loc', strUrl, '');
                //App.unblockUI();
            });

            $('#WL_LocCode').change(function () {
                if ($(this).val() == null || $(this).val() == '') {
                    return false;
                }
                var strUrl = DomainName + '/Master/CheckDuplicateLocation/' + $(this).val();
                App.blockUI({ boxed: true });
                $.ajax({
                    url: strUrl,
                    //data:Id = $(this).val(),
                    success: function (data) {

                        if (data == 'False') {
                            $('#WL_LocCode').val('');
                            $('#WL_LocCode').focus();
                            TosterNotification("error", 'Location Code Already exist..', "Oppps..!!");
                        }
                        App.unblockUI();
                        return data;
                    },
                    error: function (req, status, error) {
                        $(this).val('');
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        App.unblockUI();
                        return false;
                    }
                });
            });

            $('#Computerised').change(function () {
                $('#WL_Computerised').val($(this).is(':checked') ? 'Y' : 'N')
            });
            $('#ActiveFlag').change(function () {
                $('#WL_ActiveFlag').val($(this).is(':checked') ? 'Y' : 'N')
            });
            $('#Op_Bkg').change(function () {
                $('#WL_Op_Bkg').val($(this).is(':checked') ? 'Y' : 'N')
            });
            $('#Op_Dly').change(function () {
                $('#WL_Op_Dly').val($(this).is(':checked') ? 'Y' : 'N')
            });
            $('#btnSubmit').click(function () {
                if (!$('#form_sample').valid()) {
                    return false;
                }
                App.blockUI({ boxed: true });
                $.ajax({
                    url: $('#form_sample').attr('action'),
                    type: 'POST',
                    data: $('#form_sample').serialize(),
                    success: function (result) {
                        if (result) {
                            TosterNotification("success", "Record has been updated successfully..!!", "Success");
                            setTimeout(function () {
                                window.location = DomainName + "/Master/LocationList";
                            }, 1500);
                        }
                        else {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        App.unblockUI();
                    }
                });
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                handleDatePicker();
                Events(DomainName);
            }
        }
    }();
</script>