﻿@model Fleet.ViewModels.LocationConnectionViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "Location Connection Master";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Text = "Submit"; var type = "Add";
    if (Model.EditFlag == "true")
    {
        Text = "Update";
        type = "Edit";
    }
    string ActiveFlag = "";
    if (Model.LC.ActiveFlag != null && Model.LC.ActiveFlag == "Y" || Model.EditFlag == "false")
    {
        ActiveFlag = "checked";
        Model.LC.ActiveFlag = "Y";
    }
}

@using (Html.BeginForm("LocationConnectionSubmit", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-10">
            <h4>@type Location Connection <b>@Model.LC.ManifestLocation</b></h4>
        </div>
        @if (Model.EditFlag == "true")
        {
            <div class="col-md-2">
                <a class="btn default blue-stripe pull-right" style="margin-top:5px;" href="@Url.Content("~/Master/LocationConnection")">
                    <i class="fa fa-plus"></i>
                    Add new Location Connection
                </a>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Manifest Location
                                    </label>
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(m => m.LC.ManifestLocation, new SelectList(Model.locationList, "LocCode", "LocName"), "", new { @class = "form-control required required2 select2", @placeholder = "Manifest Location" })
                                        @Html.HiddenFor(m=>m.LC.Code)
                                        @Html.HiddenFor(model => model.EditFlag)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Locations
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.LC.Locations, new { @class = "form-control required2 required", placeholder = "select Location" })                                                                                
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Active</label>
                                    <div class="col-md-3 chkactive">
                                        @Html.HiddenFor(m => m.LC.ActiveFlag)
                                        <input type="checkbox" class="chkactive" id="ActiveFlag" @ActiveFlag />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <a class="btn btn-sm default controls" href="@Url.Content("~/Master/LocationConnectionList")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To List</a>
            <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;@Text</button>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //document.forms["form_sample"].submit()
                }
            });
        }

        var Events = function (DomainName) {
            GetType('LC_Locations', "Locations", DomainName + "/Master/GetCustomerLocationListJson");
            $('#ActiveFlag').change(function () {
                $('#LC_ActiveFlag').val($(this).is(':checked') ? 'Y' : 'N')
            });

            $('#Locations option[value=' + $('#LC_ManifestLocation').val() + ']').attr('disabled', true);

            $('#Locations').change(function () {
                $("#LC_Locations").val($(this).val());
            });

            $('#LC_ManifestLocation').change(function () {
                $("#LC_Locations").val('');
                $("#Locations").select2("val", "");
                $('#Locations option').attr('disabled', false);
                $('#Locations option[value=' + $(this).val() + ']').attr('disabled', true);

                App.blockUI({ boxed: true });
                $.ajax({
                    url: DomainName + '/Master/CheckDuplicateLocationConnection/' + $(this).val(),
                    type: 'POST',
                    success: function (result) {
                        App.unblockUI();
                        if (result == '1') {
                            $('#LC_ManifestLocation').select2("val", "");
                            TosterNotification("error", 'Manifest Location Already Exists please select other Location', "Already Exists..!!");
                        }
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        App.unblockUI();
                    }
                });
            })

            $('#btnSubmit').click(function () {
                if (!$('#form_sample').valid()) {
                    return false;
                }
                App.blockUI({ boxed: true });
                $.ajax({
                    url: $('#form_sample').attr('action'),
                    type: 'POST',
                    data: $('#form_sample').serialize(),
                    success: function (result) {
                        if (result) {
                            TosterNotification("success", "Record has been updated successfully..!!", "Success");
                            setTimeout(function () {
                                window.location = DomainName + "/Master/LocationConnectionList";
                            }, 1500);
                        }
                        else {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        App.unblockUI();
                    }
                });
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                Events(DomainName);
            }
        }
    }();
</script>