﻿@model Fleet.ViewModels.MailSettingViewModel
@{
    ViewBag.Title = "MailSettings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("MailSettings", "Master", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal", @readonly = "true" }))
{

    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        You have some form errors. Please check below.
    </div>
    <div class="alert alert-success display-hide">
        <button class="close" data-close="alert"></button>
        Your form validation is successful!
    </div>

    <div class="col-md-6">
        <div class="portlet blue box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>&nbsp; @ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    SMTP Server:
                                </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(c => c.WFJMSM.SMTP_Server, new { placeholder = "SMTP Server", @class = "form-control required required2" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    From:
                                </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(c => c.WFJMSM.From_Address, new { placeholder = "From Email", @class = "form-control required required2 email" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    To:
                                </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(c => c.WFJMSM.From_To, new { placeholder = "To Email", @class = "form-control required required2 email" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-actions fluid">
                    <div class="col-md-offset-3 col-md-8">
                        <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                
                $("#btnSave").click(function (e) {
                    App.blockUI({ Boxed: true });

                    $.ajax({
                        url: DomainName + '/Master/MailSettings',
                        cache: false,
                        data: $('#form_sample').serialize(),
                        type: 'POST',
                        success: function (data) {
                            if (data.Status) {
                                TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                location.reload();
                            }
                            else {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            }
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                    $("input:checkbox, input:radio").uniform();
                });
            }
        }
    }();
</script>