﻿@model Fleet.ViewModels.vw_DCR_RegisterViewModel
@using FleetDataService.Models
@using Fleet.Classes
@{
    ViewBag.Title = "Manage DCR";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> listDocType = MS.GetGeneralMasterObject().Where(c => c.CodeType == "DOCS" && c.StatusCode == "Y").ToList().OrderBy(c => c.CodeDesc).ToList();

    List<SelectListItem> Categorylist = new List<SelectListItem>(){
                    new SelectListItem{ Text="Employee", Value = "E" },
                    new SelectListItem{ Text="BA", Value = "B" },
                    new SelectListItem{ Text="Location", Value = "L" },
                    new SelectListItem{ Text="Franchisee", Value = "F" },
    };
}
@if (@ViewBag.BaseLocationCode != "HQTR")
{
    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-block alert-danger fade in center">
            <h2 class="alert-heading">Opps! Access Restriction.</h2>
            <h4>
                This module can not be access from <b>@ViewBag.BaseLocationCode</b>. To access this, please go to Head Office or contact your administrator.
            </h4>
        </div>
    </div>
}
else
{
    <div class="row" id="filter">
        @using (Html.BeginForm("", "", FormMethod.Post, new { id = "submit_form", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="col-md-12">
                <div class="portlet @ViewBag.TableBoxColor box">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-edit"></i>@ViewBag.Title
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Document Type:</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(c => c.VWDRM.DOC_TYPE, new SelectList(listDocType, "CodeId", "CodeDesc"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Document Type" })
                                            @Html.HiddenFor(c => c.VWDRM.DOC_TYPE)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Document Number:</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.VWDRM.DOC_Number, new { @placeholder = "Document Number", @class = "form-control required required2", @disabled = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div id="ManageDCRPartial">
        @{Html.RenderPartial("_ManageDCRPartial", Model.VWDRM);}
    </div>
    using (Html.BeginForm("", "", FormMethod.Post, new { id = "submit_form1", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <div class="row" id="ReAllocation">
            <div class="col-md-12">
                <div class="portlet @ViewBag.TableBoxColor box">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-edit"></i>Specify ReAllocation details
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">New Location:</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.VWDRM.Alloted_By, new { @class = "form-control required required2" })
                                            @Html.HiddenFor(c => c.VWDRM.FROM_TO)
                                            @Html.HiddenFor(c => c.VWDRM.Book_Number)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">New Category:</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(c => c.VWDRM.Alloted_Type_ID, new SelectList(Categorylist, "Value", "Text"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Vendor Type" })
                                            @Html.HiddenFor(c => c.VWDRM.Alloted_Type_ID)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Series Assigned To <span id="lblAssignedTo"></span>:</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(c => c.VWDRM.Alloted_To, new { @class = "form-control required required2", placeholder = "Series Assigned To" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="button" id="btnReallocationSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    using (Html.BeginForm("SubmitSplitDetail", "Master", FormMethod.Post, new { id = "form_sample_split", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-12" id="DCRSplitPartial">
                @{Html.RenderPartial("_DCRSplitPartial", Model.VWDRM);}
            </div>
        </div>
    }
    <div id="ManageDCRHistory">
        @{ Html.RenderPartial("_ManageDCRHistory", Model.listVWDMH.ToList()); }
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var FormValidate = function (DomainName) {
            var form1 = $('#submit_form');
            var form2 = $('#submit_form1');
            var form3 = $('#form_sample_split');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);
            var error2 = $('.alert-danger', form2);
            var success2 = $('.alert-success', form2);
            var error3 = $('.alert-danger', form3);
            var success3 = $('.alert-success', form3);
            $.validator.addMethod('checkDCRSeriesAvailability', function (value, element) {
                //alert(value +  "   " + JSON.stringify(element))
                var DocType = $("#VWDRM_DOC_TYPE").val();
                var DOC_SR_FROM = $("#VWDRM_DOC_Number").val();

                var StrURL = DomainName + "/Master/CheckValidDCRSeries?DocType=" + DocType + "&DRSStartFrom=" + DOC_SR_FROM + "&TotalLeaf=1";
                // alert("hello " + StrURL);
                var result1 = $.ajax({
                    async: false,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: StrURL,
                    dataType: 'json',
                    data: {},
                });

                var d1 = JSON.parse(result1.responseText);

                if (d1.CNT == "0") {
                    return true;
                }
                else {

                    return false;
                }
            }, "Document Number is Not Exist !!!");

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });

            form2.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success2.hide();
                    error2.show();
                    App.scrollTo(error2, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success2.show();
                    error2.hide();
                }
            });

            form3.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success3.hide();
                    error3.show();
                    App.scrollTo(error3, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success3.show();
                    error3.hide();
                    document.forms["form_sample_split"].submit();
                }
            });
        }

        var NextKeyCode = function (DomainName, KeyCode) {
            var strurl = DomainName + '/Master/NextCode?KeyCode=' + KeyCode;
            $.ajax({
                url: strurl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#NextCode").val(data);
                },
                error: function (req, status, error) {
                    //alert("error--" + req + "---" + status + "---" + error);
                    TosterNotification("error", 'Opration fail..!! There is some issue in Reallocation please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        var NextKeyCode1 = function (DomainName, KeyCode, IncreaseBy) {
            var strRet = KeyCode;
            var newCode = KeyCode;
            for (var i = 0; i < IncreaseBy; i++) {
                newCode = NextKeyCode(newCode);
            }
            strRet = newCode;
            return strRet;
        }

        var GetDiff = function (DomainName, strFrom, strTo) {
            var dRet = parseFloat(-1);
            if (strFrom.length == strTo.length) {
                var AlphasF = [];
                var AlphasT = [];
                for (var i = 0; i < strFrom.length; i++) {
                    if (strFrom[i].match(/[A-Za-z]/i)) {
                        AlphasF.push(strFrom[i]);
                    }
                    if (strFrom[i].match(/[0-9]/i)) {
                        break;
                    }
                }
                var From = parseFloat(strFrom.replace(AlphasF.toString().replace(/\,/g, ""), ''))
                for (var i = 0; i < strTo.length; i++) {
                    if (strTo[i].match(/[A-Za-z]/i)) {
                        AlphasT.push(strTo[i]);
                    }
                    if (strTo[i].match(/[0-9]/i)) {
                        break;
                    }
                }
                var To = parseFloat(strTo.replace(AlphasT.toString().replace(/\,/g, ""), ''))
                dRet = (To - From) + 1;

                return dRet;
            }
            return dRet;
        }

        var LastDocNo = function (DomainName, newstrFrom, strTo, oldvstrFrom) {
            var totInNew = GetDiff(DomainName, newstrFrom, strTo)
            var totDKT = GetDiff(DomainName, oldvstrFrom, strTo)
            var diffQty = totDKT - totInNew;
            var LastDocNo = NextKeyCode1(oldvstrFrom, parseInt(diffQty) - 1);
            $("#LastDocNo").val(LastDocNo);
        }

        var getNextSuffix = function (DomainName, suffix) {
            var str = suffix;

            if (str == ".")
                str = "A";
            else
                str = NextKeyCode1(suffix, 1);
            return str;
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                $("#ManageDCRPartial").hide();
                $("#ReAllocation").hide();
                $("#DCRSplitPartial").hide();
                $("#ManageDCRHistory").hide();
                $("#VWDRM_DOC_TYPE").change(function () {
                    $("#VWDRM_DOC_Number").prop('disabled', false);
                });

                $("#btnSave").click(function () {
                    if (!$("#submit_form").valid()) {
                        return false;
                    }
                    App.blockUI({ boxed: true });
                    var type = $("#VWDRM_DOC_TYPE").val();
                    var number = $("#VWDRM_DOC_Number").val();
                    //alert(type + " " + number);
                    var strurl = DomainName + '/Master/GetManageDCR?Type=' + type + '&Number=' + number;
                    $.ajax({
                        url: strurl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {
                            $("#filter").hide();
                            $("#ManageDCRPartial").show();
                            $("#ManageDCRPartial").html(data);
                            //CallSubmitClick(DomainName);
                            $("input:checkbox, input:radio").uniform();
                            $(".select").select2({
                                placeholder: "Select an option",
                                allowClear: true
                            });
                            App.unblockUI();
                            $("#AddEditCityMaster").toggle(1000);
                            $('#pulsate-regular').pulsate({
                                color: "#bf1c56"
                            });
                            $("#Action").click(function () {
                                var action = $("#Action").val();

                                if (action == "3") {
                                    var ID = $("#Alloted_By").val();
                                    var VALUE = $("#Alloted_By_Name").val();
                                    $("#VWDRM_Alloted_By").select2("data", { id: ID, text: VALUE });
                                    $("#VWDRM_FROM_TO").val($("#FROM_TO").val());
                                    $("#VWDRM_Book_Number").val($("#Book_Number").val());
                                    $("#ReAllocation").show();
                                    $("#ManageDCRHistory").hide();
                                }
                                else if (action == "2") {
                                    $("#ReAllocation").hide();
                                    var DocKey = $("#DOC_KEY").val();
                                    var Historystrurl = DomainName + '/Master/GetDCRHistory?DocKey=' + DocKey;
                                    $.ajax({
                                        url: Historystrurl,
                                        cache: false,
                                        data: {},
                                        type: 'POST',
                                        success: function (data) {
                                            App.blockUI({ boxed: true });
                                            $("#ManageDCRHistory").show();
                                            $("#ManageDCRHistory").html(data);
                                            App.unblockUI();
                                        }
                                    });
                                }
                                else {
                                    App.blockUI({ boxed: true });
                                    $("#ReAllocation").hide();
                                    $("#ManageDCRHistory").hide();
                                    var DocKey = $("#DOC_KEY").val();
                                    var docnumber = $("#DOC_Number").val();
                                    var Splitstrurl = DomainName + '/Master/GetSplitDCR?DocKey=' + DocKey + '&docno=' + docnumber;
                                    $.ajax({
                                        url: Splitstrurl,
                                        cache: false,
                                        data: {},
                                        type: 'POST',
                                        success: function (data) {
                                            $("#ManageDCRPartial").hide();
                                            $("#DCRSplitPartial").show();
                                            $("#DCRSplitPartial").html(data);
                                            $("input:checkbox, input:radio").uniform();
                                            $("#Alloted_TypeID").select2({
                                                placeholder: "Select an option",
                                                allowClear: true
                                            });
                                            App.unblockUI();
                                            JsonDDL('AllotedBy', DomainName + '/Master/GetLocationListJson')
                                            $("#AllotedBy").change(function () {
                                                $("#Alloted_TypeID").prop('disabled', false);
                                            });
                                            $("#btnback").click(function () {
                                                App.blockUI({ boxed: true });
                                                $("#DCRSplitPartial").hide();
                                                $("#ManageDCRPartial").show();
                                                App.unblockUI();
                                            });
                                            $("#Alloted_TypeID").change(function () {
                                                $("#VWDRM_Alloted_To").prop('disabled', false);
                                                var Location = $("#AllotedBy").val();
                                                var strUrl = DomainName + '/Master/GetpersonListJsonByLocation?Loccode=' + Location + '&Category=' + $(this).val();
                                                JsonDDLWithoutInput('Alloted_To', strUrl)
                                            });
                                            var oldvalue = $("#DOC_SR_FROM").val();
                                            $("#DOC_Number").val(oldvalue);
                                            $("#DOC_NEW_SR_FROM").blur(function () {
                                                var newvalue = $("#DOC_NEW_SR_FROM").val();
                                                var maxvalue = $("#DOC_SR_TO").val();
                                                var nextCode = "";
                                                var maxused = $("#MaxUsed").val();
                                                var suffix = $("#Suffix").val();
                                                if ($("#MaxUsed").val() != "") {
                                                    NextKeyCode(DomainName, maxused);
                                                }
                                                else {
                                                    NextKeyCode(DomainName, newvalue);
                                                }
                                                var NewSrTo = parseInt(newvalue) - 1
                                                $("#NewSrTo").val(NewSrTo);
                                                var diff = GetDiff(DomainName, newvalue, maxvalue)
                                                $("#DifLEAF").val(diff);
                                                LastDocNo(DomainName, newvalue, maxvalue, oldvalue)
                                                var nextsuffix = getNextSuffix(DomainName, suffix)
                                                $("#Suffix").val(nextsuffix);
                                            });
                                            App.unblockUI();
                                        },
                                        error: function (req, status, error) {
                                            //alert("error--" + req + "---" + status + "---" + error);
                                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                                            App.unblockUI();
                                        }
                                    });
                                }
                            });
                        },
                        error: function (req, status, error) {
                            //alert("error--" + req + "---" + status + "---" + error);
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                });
                JsonDDL('VWDRM_Alloted_By', DomainName + '/Master/GetLocationListJson')
                $("#VWDRM_Alloted_By").change(function () {
                    $("#VWDRM_Alloted_Type_ID").prop('disabled', false);
                    $("#VWDRM_Alloted_To").select2('data', null);
                    var Category = $("#VWDRM_Alloted_Type_ID").val();
                    if ($(this).val() != "" || $(this).val() != null) {
                        var strUrl = DomainName + '/Master/GetpersonListJsonByLocation?Loccode=' + $(this).val() + '&Category=' + Category;
                        JsonDDL('VWDRM_Alloted_To', strUrl);
                    }
                });

                $("#btnReallocationSave").click(function () {
                    if (!$("#submit_form1").valid()) {
                        return false;
                    }
                    App.blockUI({ boxed: true });
                    var DOC_KEY = $("#DOC_KEY").val();
                    var Alloted_By = $("#VWDRM_Alloted_By").val();
                    var Alloted_Type_ID = $("#VWDRM_Alloted_Type_ID").val();
                    var Alloted_To = $("#VWDRM_Alloted_To").val();
                    var Series = $("#VWDRM_FROM_TO").val();
                    var BookCD = $("#VWDRM_Book_Number").val();
                    window.location.replace(DomainName + '/Master/SubmitReallocationDetail?DOC_KEY=' + DOC_KEY + '&Alloted_By=' + Alloted_By + '&Alloted_Type_ID=' + Alloted_Type_ID + '&Alloted_To=' + Alloted_To + '&Series=' + Series + '&BookCD=' + BookCD);
                });

                $("#VWDRM_DOC_Number").change(function () {
                    $(this).rules("add", {
                        checkDCRSeriesAvailability: true,
                    });
                });
                FormValidate(DomainName);
                $("#VWDRM_Alloted_Type_ID").change(function () {
                    $("#VWDRM_Alloted_To").prop('disabled', false);
                    $("#VWDRM_Alloted_To").select2('data', null);
                    if ($(this).val() != "" || $(this).val() != null) {
                        if ($(this).val() == "L") {
                            $("#VWDRM_Alloted_To").removeClass("required");
                        }
                        else {
                            $("#VWDRM_Alloted_To").addClass("required");
                        }
                        $("#lblAssignedTo").text($("#VWDRM_Alloted_Type_ID option:selected").text());
                        $("#VWDRM_Alloted_To").attr("placeholder", $("#lblAssignedTo").parents('label').text().replace(":", ""));
                        var Location = $("#VWDRM_Alloted_By").val();
                        var strUrl = DomainName + '/Master/GetpersonListJsonByLocation?Loccode=' + Location + '&Category=' + $(this).val();
                        JsonDDL('VWDRM_Alloted_To', strUrl);
                    }
                });
            }
        }
    }();
</script>