﻿@model Fleet.ViewModels.MappingViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "Mapping";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> MappingList = new List<SelectListItem>(){
                    new SelectListItem{ Text="Customer-Service Mapping", Value = "1" },
                    new SelectListItem{ Text="Customer-Location Mapping", Value = "2" },
                    new SelectListItem{ Text="Service-Location Mapping", Value = "3" },
                    new SelectListItem{ Text="User-Service Mapping", Value = "4" },
                    new SelectListItem{ Text="User-Module Mapping", Value = "5" },
    };

    List<SelectListItem> CSModeList = new List<SelectListItem>(){
                    new SelectListItem{ Text="Customer", Value = "1" },
                    new SelectListItem{ Text="Service", Value = "2" },
    };

    List<SelectListItem> CLModeList = new List<SelectListItem>(){
                    new SelectListItem{ Text="Customer", Value = "1" },
                    new SelectListItem{ Text="Location", Value = "2" },
    };

    List<SelectListItem> SLModeList = new List<SelectListItem>(){
                    new SelectListItem{ Text="Service", Value = "1" },
                    new SelectListItem{ Text="Location", Value = "2" },
    };

    List<SelectListItem> USModeList = new List<SelectListItem>(){
                    new SelectListItem{ Text="User", Value = "1" },
                    new SelectListItem{ Text="Service", Value = "2" },
    };

    List<SelectListItem> UMModeList = new List<SelectListItem>(){
                    new SelectListItem{ Text="User", Value = "1" },
                    new SelectListItem{ Text="Module", Value = "2" },
    };

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<WebX_Master_Service> ListService = MS.GetServiceList().ToList();
    List<vw_ServiceList_Mapping> ListServiceForUM = MS.GetServiceListForUserModule().ToList();
    List<WebX_Master_Users> ListUsers = MS.GetUserDetails();
    List<vw_UserList_Mapping> ListUsersForUM = MS.GetUserListForUserModule();
    List<vw_ModuleList_Mapping> ListModule = MS.GetModuleList();
}
@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal", @readonly = "true" }))
{ 
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        You have some form errors. Please check below.
    </div>
    <div class="alert alert-success display-hide">
        <button class="close" data-close="alert"></button>
        Your form validation is successful!
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-11">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Mapping Type :
                                        </label>
                                        <div class="col-md-7">
                                            @Html.DropDownList("ML", new SelectList(MappingList, "Value", "Text"), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Mapping Type" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="btn btn-sm default blue-stripe pull-right" id="GETMM" data-toggle="modal">
                                        <i class="fa fa-list"></i>  Get Mapping Mode
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="row" id="divCS" style="display:none">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;Customer Service Mapping
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Mapping Mode :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.CSMappingMode, new SelectList(CSModeList, "Value", "Text"), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Mapping Type" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" id="CSCustomerdiv" style="display:none">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Customer :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.CSCustomer, new { @placeholder = "Customer", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" id="CSServicediv" style="display:none">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Service :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.CSService, new SelectList(ListService, "Service_Code", "ServiceName"), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Service" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="btn btn-sm default blue-stripe pull-right" id="CSGETLIST" data-toggle="modal">
                                    <i class="fa fa-list"></i>  Get List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="divCL" style="display:none">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;Customer Location Mapping
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Mapping Mode :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.ClMappingMode, new SelectList(CLModeList, "Value", "Text"), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Mapping Type" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" id="ClCustomerdiv" style="display:none">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Customer :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.ClCustomer, new { @placeholder = "Customer", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" id="ClLocationdiv" style="display:none">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Location :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.ClLocation, new { @placeholder = "Location", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="btn btn-sm default blue-stripe pull-right" id="ClGETLIST" data-toggle="modal">
                                    <i class="fa fa-list"></i>  Get List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="divSL" style="display:none">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;Service Location Mapping
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Mapping Mode :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.SlMappingMode, new SelectList(SLModeList, "Value", "Text"), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Mapping Type" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" id="SLServicediv" style="display:none">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Service :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.SlService, new SelectList(ListService, "Service_Code", "ServiceName"), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Service" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" id="SLLocationdiv" style="display:none">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Location :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.SlLocation, new { @placeholder = "Location", @class = "form-control required required2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="btn btn-sm default blue-stripe pull-right" id="SlGETLIST" data-toggle="modal">
                                    <i class="fa fa-list"></i>  Get List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="divUS" style="display:none">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;User Service Mapping
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Mapping Mode :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.USMappingMode, new SelectList(USModeList, "Value", "Text"), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Mapping Type" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" id="USServicediv" style="display:none">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Service :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.USService, new SelectList(ListService, "Service_Code", "ServiceName"), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Service" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" id="USUserdiv" style="display:none">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        User :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(c => c.USUser, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="btn btn-sm default blue-stripe pull-right" id="USGETLIST" data-toggle="modal">
                                    <i class="fa fa-list"></i>  Get List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="divUM" style="display:none">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;User Service Mapping
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Mapping Mode :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.UMMappingMode, new SelectList(UMModeList, "Value", "Text"), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Mapping Type" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" id="UMUserdiv" style="display:none">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        User :
                                    </label>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(c => c.UMUser, new SelectList(ListUsersForUM, "Code", "CodeName"), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select User" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" id="UMServicediv" style="display:none">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Service :
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(c => c.UMService, new SelectList(ListService, "Service_Code", "ServiceName"), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Service" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" id="UMModulediv" style="display:none">
                                <div class="form-group">
                                    <label class="control-label col-md-5">
                                        Module :
                                    </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(c => c.UMModule, new SelectList(ListModule, "Code","Name"), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Module" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="btn btn-sm default blue-stripe pull-right" id="UMGETLIST" data-toggle="modal">
                                    <i class="fa fa-list"></i>  Get List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName, FormId) {
            var form1 = $('#' + FormId);
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
            });
        }
        return {
            init: function (DomainName) {
                Formvalidate(DomainName);
                $("#GETMM").click(function () {
                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        return false;
                    }
                    var id = $("#ML").val();
                    if (id == "1") {
                        $("#divCS").show();
                        $("#divCL").hide();
                        $("#divSL").hide(); 
                        $("#divUS").hide();
                        $("#divUM").hide();
                        $("#CSMappingMode").change(function () {
                            var CSid = $(this).val();
                            if (CSid == "1") {
                                $("#CSCustomerdiv").show();
                                $("#CSServicediv").hide();
                                JsonDDL('CSCustomer', DomainName + '/Master/GetCustomerListJson')
                            }
                            else {
                                $("#CSServicediv").show();
                                $("#CSCustomerdiv").hide();
                            }
                        });
                        $("#CSGETLIST").click(function () {
                            App.blockUI({ boxed: true });
                            var mode = $("#CSMappingMode").val();
                            if (mode == "1") {
                                var code = $("#CSCustomer").val();
                                window.location.replace(DomainName + '/Master/MappingService?MapType=' + id + '&Mode=' + mode + '&Code=' + code);
                            }
                            else {
                                var code = $("#CSService").val();
                                var Name = $("#CSService option:selected").text();
                                window.location.replace(DomainName + '/Master/MappingService?MapType=' + id + '&Mode=' + mode + '&Code=' + code + '&Name=' + Name);

                            }
                        });
                    }
                    else if (id == "2") {
                        $("#divCL").show();
                        $("#divCS").hide();
                        $("#divSL").hide();
                        $("#divUS").hide();
                        $("#divUM").hide();
                        $("#ClMappingMode").change(function () {
                            var Clid = $(this).val();
                            if (Clid == "1") {
                                $("#ClCustomerdiv").show();
                                $("#ClLocationdiv").hide();
                                JsonDDL('ClCustomer', DomainName + '/Master/GetCustomerListJson');
                            }
                            else {
                                $("#ClLocationdiv").show();
                                $("#ClCustomerdiv").hide();
                                JsonDDL('ClLocation', DomainName + '/Master/GetLocationListJson');
                            }
                        });
                        $("#ClGETLIST").click(function () {
                            App.blockUI({ boxed: true });
                            var mode = $("#ClMappingMode").val();
                            if (mode == "1") {
                                var code = $("#ClCustomer").val();
                                window.location.replace(DomainName + '/Master/MappingService?MapType=' + id + '&Mode=' + mode + '&Code=' + code);
                            }
                            else {
                                var code = $("#CSService").val();
                                var Name = $("#CSService option:selected").text();
                                window.location.replace(DomainName + '/Master/MappingService?MapType=' + id + '&Mode=' + mode + '&Code=' + code + '&Name=' + Name);
                            }
                        });
                    }
                    else if (id == "3") {
                        $("#divSL").show();
                        $("#divCS").hide();
                        $("#divCL").hide();
                        $("#divUS").hide();
                        $("#divUM").hide();
                        $("#SlMappingMode").change(function () {
                            var Slid = $(this).val();
                            if (Slid == "1") {
                                $("#SLServicediv").show();
                                $("#SLLocationdiv").hide();
                                JsonDDL('ClCustomer', DomainName + '/Master/GetCustomerListJson');
                            }
                            else {
                                $("#SLLocationdiv").show();
                                $("#SLServicediv").hide();
                                JsonDDL('SlLocation', DomainName + '/Master/GetLocationListJson');
                            }
                        });
                        $("#SlGETLIST").click(function () {
                            App.blockUI({ boxed: true });
                            var mode = $("#SlMappingMode").val();
                            if (mode == "1") {
                                var code = $("#SlService").val();
                                window.location.replace(DomainName + '/Master/MappingService?MapType=' + id + '&Mode=' + mode + '&Code=' + code);
                            }
                            else {
                                var code = $("#SlLocation").val();
                                window.location.replace(DomainName + '/Master/MappingService?MapType=' + id + '&Mode=' + mode + '&Code=' + code);
                            }
                        });
                    }
                    else if (id == "4") {
                        $("#divUS").show();
                        $("#divSL").hide();
                        $("#divCS").hide();
                        $("#divCL").hide();
                        $("#divUM").hide();
                        $("#USMappingMode").change(function () {
                            var USid = $(this).val();
                            if (USid == "1") {
                                $("#USUserdiv").show();
                                $("#USServicediv").hide();
                                JsonDDL('USUser', DomainName + '/Master/GetUserListSearchJson')
                            }
                            else {
                                $("#USServicediv").show();
                                $("#USUserdiv").hide();
                            }
                        });
                        $("#USGETLIST").click(function () {
                            App.blockUI({ boxed: true });
                            var mode = $("#USMappingMode").val();
                            if (mode == "1") {
                                var code = $("#USUser").val();
                                window.location.replace(DomainName + '/Master/MappingService?MapType=' + id + '&Mode=' + mode + '&Code=' + code);
                            }
                            else {
                                var code = $("#USService").val();
                                window.location.replace(DomainName + '/Master/MappingService?MapType=' + id + '&Mode=' + mode + '&Code=' + code);
                            }
                        });
                    }
                    else {
                        $("#divUM").show();
                        $("#divUS").hide();
                        $("#divSL").hide();
                        $("#divCS").hide();
                        $("#divCL").hide();
                        $("#UMMappingMode").change(function () {
                            var USid = $(this).val();
                            if (USid == "1") {
                                $("#UMServicediv").show();
                                $("#UMUserdiv").show();
                                $("#UMModulediv").hide();
                                //JsonDDL('UMUser', DomainName + '/Master/GetUserListSearchJson')
                                $("#UMUser").change(function () { 
                                var StrURL = DomainName + "/Master/GetServiceByUser/" + $(this).val();
                                FillDropDownfromOther("UMService", StrURL, "Select Service");
                                });
                            }
                            else {
                                $("#UMServicediv").show();
                                $("#UMModulediv").show();
                                $("#UMUserdiv").hide();
                                $("#UMService").change(function () {
                                    var StrURL = DomainName + "/Master/GetModuleByService/" + $(this).val();
                                    FillDropDownfromOther("UMModule", StrURL, "Select Service");
                                });
                                
                            }
                        });
                        $("#UMGETLIST").click(function () {
                            App.blockUI({ boxed: true });
                            var mode = $("#UMMappingMode").val();
                            if (mode == "1") {
                                var code = $("#UMUser").val();
                                var Scode = $("#UMService").val();
                                var Name = $("#UMService option:selected").text();
                                window.location.replace(DomainName + '/Master/MappingService?MapType=' + id + '&Mode=' + mode + '&Code=' + code + '&Name=' + Name + '&scode=' + Scode);
                            }
                            else {
                                var code = $("#UMModule").val();
                                var Scode = $("#UMService").val();
                                var Name = $("#UMService option:selected").text();
                                window.location.replace(DomainName + '/Master/MappingService?MapType=' + id + '&Mode=' + mode + '&Code=' + code + '&Name=' + Name + '&scode=' + Scode);
                            }
                        });
                    }
                });
            }
        }
    }();
</script>