﻿@model Fleet.ViewModels.MappingViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "Mapping Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("MappingServiceDone", "Master", FormMethod.Post, new { @id = "CustomerServiceform", @class = "form-horizontal", @readonly = "true" }))
{
    <div class="row" id="tblCS" style="">
        <div class="col-md-8">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.ServiceName @ViewBag.Name List
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center"><input type="checkbox" id="chkall" /></th>
                                    <th class="center">@ViewBag.Name Code</th>
                                    <th class="center">@ViewBag.Name Name</th>
                                </tr>
                            </thead>
                            <tbody id="tbldataCS">
                                @if (Model.ListMappingService != null)
                                {
                                    foreach (var item in Model.ListMappingService.ToList().OrderBy(c => c.Name))
                                    {
                                        Html.RenderPartial("_ListMappingService", item);
                                    }
                                }
                            </tbody>
                        </table>
                        @Html.HiddenFor(c => c.MS.Mode)
                        @Html.HiddenFor(c => c.MS.OppCode)
                        @Html.HiddenFor(c => c.MS.StringName)
                        @Html.HiddenFor(c => c.MS.ModeType)
                        @Html.HiddenFor(c => c.MS.Scode)
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <a href="@Url.Content("~/Master/Mapping")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back </a>
                            <button type="submit" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName, FormId) {
            var form1 = $('#' + FormId);
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
            });
        }

        var SelectCheckBox = function (DomainName, Id) {
            var totAMT = 0;
            var StrDocno = "";
            $(".chkactive").each(function () {
                var checked = $(this).is(":checked");
                if (checked) {
                    if (StrDocno == "")
                        StrDocno = $(this).attr("data-value");
                    else
                        StrDocno = StrDocno + "," + $(this).attr("data-value");
                    totAMT = totAMT + 1;
                }
            });
            $("#BEPFM_TotalRecods").val(totAMT);
            $("#Id").val(StrDocno);
        }
        return {
            init: function (DomainName) {
                Formvalidate(DomainName);
                $("#chkall").live('change', function () {
                    var checked = jQuery(this).is(":checked");
                    $(".chkactive").each(function () {
                        if (checked) {
                            $(this).attr("checked", true);
                            $(this).parents('span').addClass("checked");
                        } else {
                            $(this).attr("checked", false);
                            $(this).parents('span').removeClass("checked");
                        }
                    });
                    SelectCheckBox(DomainName);
                });
                $(".chkactive").live('change', function () {
                    var Id = $(this).attr('id');
                    SelectCheckBox(DomainName, Id);
                });
            }
        }
    }();
</script>