﻿@{
    ViewBag.Title = "Miscellaneous Masters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>@ViewBag.Title
                </div>
            </div>

            <div class="portlet-body">
                <table class="table" border="1">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left" width="80%" colspan="3">Holidays</td>
                            <td>@Html.ActionLink("Reset", "Holiday_Main")</td>
                            <td>@Html.ActionLink("View", "HolidayViewList")</td>
                        </tr>
                        <tr>
                            <td align="left" width="80%" colspan="3">Enter For Employee</td>
                            <td>@Html.ActionLink("News", "EnterEmpNews")</td>
                            <td>@Html.ActionLink("Updates", "EnterEmpUpdates")</td>
                        </tr>
                        <tr>
                            <td align="left" width="80%" colspan="3">Enter For Cutomer</td>
                            <td>@Html.ActionLink("News", "EnterCustNews")</td>
                            <td>@Html.ActionLink("Updates", "EnterCustUpdates")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-modal-lg" id="addEditModel" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>