﻿@model Fleet.ViewModels.Webx_View_TrackViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@using Fleet.Classes;
@using System.Linq;
@using System.Text;
@using System.Xml.Linq;
@{
    ViewBag.Title = "Module Acess Rights";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<ModuleAcessModel> lvl1 = MS.GetLevel1("1", "", "").ToList();
    List<ModuleAcessModel> lvl2 = MS.GetLevel1("2", "", "").ToList();
    List<ModuleAcessModel> lvl3 = MS.GetLevel1("3", "", "").ToList();
}

@using (Html.BeginForm("ModuleAcessSubmit", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="col-md-5">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label col-md-3">Select Level 1:</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.WVTVM1.Level1Text, new SelectList(lvl1, "App_Module", "Text"), "", new { @class = "select2 required form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label col-md-3">Select Level 2:</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.WVTVM1.Level2Text, new SelectList(lvl2, "App_Module", "Text"), "", new { @class = "select2 required form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label col-md-3">Select Level 3:</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.WVTVM1.Level3Text, new SelectList(lvl3, "App_Module", "Text"), "", new { @class = "select2 required form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions fluid">
                    <div class="col-md-offset-4 col-md-8">
                        <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-search"></i>&nbsp;Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;User List
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body" id="tblThcList">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-responsive table-hover table-full-width center" id="Sample1">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="center">
                                            <input type="checkbox" id="chkCheckAll" />
                                        </th>
                                        <th class="center">
                                            User ID
                                        </th>
                                        <th class="center">
                                            User Name
                                        </th>
                                        <th class="center">
                                            Branch Code
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="Advice">
                                    @{
    Html.RenderPartial("_ModuleAcessRights", Model.listWVTVM1.ToList());
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-actions fluid">
                <div class="col-md-offset-4 col-md-8">
                    <button type="submit" id="btnSubmitList" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Assign Rights</button>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#form_sample');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    document.forms["form_sample"].submit();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }

        var Events = function (DomainName) {
            var handleSelect2 = function () {
                $('.select2').select2({
                    placeholder: "Select an option",
                });
            }
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);

                Events(DomainName);

                $("#WVTVM1_Level1Text").change(function () {
                    var subbr = $(this).val();
                    var StrURL = DomainName + '/Master/Getlvl2?ParentCode=' + subbr;
                    $("#WVTVM1_Level2Text").select2('data', null);
                    FillDropDownfromOther("WVTVM1_Level2Text", StrURL, '');
                });
                $("#WVTVM1_Level2Text").change(function () {
                    var subbr = $(this).val();
                    var StrURL = DomainName + '/Master/Getlvl3?ParentCode=' + subbr;
                    $("#WVTVM1_Level3Text").select2('data', null);
                    FillDropDownfromOther("WVTVM1_Level3Text", StrURL, '');
                });

                $(document).on('click', '#chkCheckAll', function () {
                    $('.IsCheck').prop('checked', $(this).prop('checked'));
                    if ($(this).prop('checked')) {
                        $('.IsCheck').parent('span').addClass('checked');
                        $('.IsCheck').val("true");
                    }
                    else {
                        $('.IsCheck').parent('span').removeClass('checked');
                        $('.IsCheck').val("false");
                    }
                });

                $('.IsCheck').live('click', function () {
                    var Ischeck = $(this).val();
                    if (jQuery(this).is(":checked")) {
                        $(this).val("true");
                    }
                    else {
                        $(this).val("false");
                    }
                });
                $('#btnSubmit').click(function () {
                    $.ajax({
                        url: DomainName + "/Master/ListModuleRight",
                        type: 'POST',
                        data: $('#form_sample').serialize(),
                        success: function (data) {
                            $("#Advice").html(data);
                            $("input[type=checkbox], input:radio, input:file").uniform();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        }
                    });
                });
            }
        }
    }();
</script>