﻿@model Fleet.ViewModels.SetOpeningBalanceViewModel
@{
    ViewBag.Title = "Opening Balance Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    Set Opening Balance List
                </div>
            </div>
            <div class="portlet-body flip-scroll">

                @using (Html.BeginForm("OpeningBalanceSubmit", "Master", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal", @enctype = "multipart/form-data" }))
                {
                    <div class="form-body">
                        <table class="table table-striped table-bordered table-hoverr" id="Sample1">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">#</th>
                                    <th class="center">
                                        Account Code
                                    </th>
                                    <th class="center">
                                        Account Description
                                    </th>
                                    <th class="center">
                                        Credit Amount
                                    </th>
                                    <th class="center">
                                        Debit Amount
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Balancelist)
                                {
                                    Html.RenderPartial("_OpeningBalanceCriteriaPartial", item);
                                }
                            </tbody>
                        </table>
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-4 col-md-8">
                                    <a href="@Url.Content("~/Master/SetOpeningBalance")" class="btn btn-sm default"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
                                    <button type="button" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {

            var form1 = $('#submit_form');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {

                },

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    $("#btnSubmit").hide();
                    //form.submit();
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });

        }

        return {
            init: function (DomainName) {
                $('#btnSubmit').hide();
                Formvalidate(DomainName);
                $('#btnSubmit').click(function () {
                    var SubmitCnt = 0;
                    Formvalidate(DomainName);

                    if (SubmitCnt == 0) {
                        if ($('#submit_form').valid()) {
                            //App.blockUI({ boxed: true });
                            $('#submit_form  :input').attr('disabled', false);
                            document.forms[0].submit();
                        }
                    }
                });

                $('.CLSCHK').click(function () {
                    totchk = 0;
                    var itemIndex = $(this).attr('id').split('_')[1];
                    var idCreditAmount = "Master_" + itemIndex + "__OpenCredit";
                    var idDebitAmount = "Master_" + itemIndex + "__OpenDebit";
                    var checked = jQuery(this).is(":checked");
                    $("#" + idCreditAmount).attr("readonly", true);
                    $("#" + idDebitAmount).attr("readonly", true);
                    if (checked) {
                        $("#" + idCreditAmount).attr("readonly", false);
                        $("#" + idCreditAmount).addClass("required");
                        $("#" + idDebitAmount).attr("readonly", false);
                        $("#" + idDebitAmount).addClass("required");
                    }
                    else {
                        var spans = $('.help-block');
                        spans.hide();
                        $("#" + idCreditAmount).attr("readonly", true);
                        $("#" + idCreditAmount).removeClass("required");
                        $("#" + idCreditAmount).val("");
                        $("#" + idDebitAmount).attr("readonly", true);
                        $("#" + idDebitAmount).removeClass("required");
                        $("#" + idDebitAmount).val("");
                    }
                    $('.CLSCHK').each(function () {
                        var checked1 = jQuery(this).is(":checked");
                        if (checked1)
                            totchk++;
                        if (totchk == 0)
                            $('#btnSubmit').hide();
                        else
                            $('#btnSubmit').show();
                    });
                });

                var totchk = 0;
                $('.CLSCHK').each(function () {
                    var checked1 = jQuery(this).is(":checked");
                    if (checked1)
                        totchk++;
                    if (totchk == 0)
                        $('#btnSubmit').hide();
                    else
                        $('#btnSubmit').show();
                });

                $(".Comamount").change(function () {

                    var itemIndex = $(this).attr('id').split('_')[1];
                    var idCreditAmount = "Master_" + itemIndex + "__OpenCredit";
                    var idDebitAmount = "Master_" + itemIndex + "__OpenDebit";
                    if (($("#" + idCreditAmount).val()) != 0 && $("#" + idDebitAmount).val() != 0) {
                        $(this).val('0');
                        alert("Either 'Opening Credit' or 'Opening Debit' value should be Zero")
                        return false;
                    }
                });


            }
        }
    }();
</script>
