﻿@model Fleet.ViewModels.SetOpeningBalanceViewModel
           @{
    ViewBag.Title = "Opening Balance Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="loading" style="display: none;">
    <img src="@Url.Content("~/assets/img/loading.gif")" />
</div>

<div class="col-md-6">
    <div class="portlet box @ViewBag.TableBoxColor ">
        <div class="portlet-title">
            <div class="caption">
                Set Opening Balance successfully updated ...
            </div>

        </div>
    </div>
</div>