﻿@model Fleet.ViewModels.SettingOpeningBalanceViewModel
@{
    ViewBag.Title = "OpeningBalanceAssignSubmit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>Opening Balance Assignment Done
            </div>

        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Result)
                        {
                            <tr>
                                <td>
                                    <b>@item.Id</b>
                                </td>
                                <td>
                                    @if (item.Status == 1)
                                    {
                                        <span class="label label-success">
                                            DONE
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="label label-danger">
                                            @item.Msg
                                        </span>
                                    }
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>

            &nbsp;
            <span>
                <a href="@Url.Content("~/Master/SettingOpeningBalance")" class="btn btn-sm default"><i class="fa fa-arrow-left"></i>&nbsp; Add New Setting</a>
            </span>
        </div>
    </div>
</div>