﻿@model Fleet.ViewModels.OptimumRouteViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "Optimal Route Master";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Text = "Submit"; var type = "Add";
    if (Model.EditFlag == "true")
    {
        Text = "Update";
        type = "Edit";
    }
    string ActiveFlag = "";
    if (Model.OR.ActiveFlag != null && Model.OR.ActiveFlag == "Y" || Model.EditFlag == "false")
    {
        ActiveFlag = "checked";
        Model.OR.ActiveFlag = "Y";
    }
}

@using (Html.BeginForm("OptimumRouteSubmit", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-10">
            <h4>@type Optimal Route <b>@Model.OR.OptimumRouteCode</b></h4>
        </div>
        @if (Model.EditFlag == "true")
        {
            <div class="col-md-2">
                <a class="btn default blue-stripe pull-right" style="margin-top:5px;" href="@Url.Content("~/Master/OptimumRoute")">
                    <i class="fa fa-plus"></i>
                    Add new Optimum Route
                </a>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Optimum Route Code
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.OR.OptimumRouteCode, new { @class = "form-control", @placeholder = "System Generated", @readonly = true })
                                        
                                        @Html.HiddenFor(model => model.EditFlag)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Origin Location
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.OR.OriginLocation, new SelectList(Model.locationList, "LocCode", "LocName"), "", new { @class = "form-control required required2 select2", @placeholder = " Origin Location" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Delivery Location
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.OR.DeliveryLocation, new SelectList(Model.locationList, "LocCode", "LocName"), "", new { @class = "form-control required required2 select2", @placeholder = "Delivery Location" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Possible Enroute Locations
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.OR.EnrouteLocations, new { @class = "form-control required required2 ", @placeholder = " Possible Enroute Locations", @multiple = "multiple" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Mode of transport</label>
                                    <div class="col-md-8 required">
                                        @Html.DropDownListFor(m => m.OR.TransportMode, new SelectList(Model.ListGnMST.Where(c => c.CodeType == "TRN" && c.StatusCode=="Y"), "CodeId", "CodeDesc"), "", new { @class = "form-control required required2 select2", @placeholder = " Customer Locations" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Active</label>
                                    <div class="col-md-3 chkactive">
                                        @Html.HiddenFor(m => m.OR.ActiveFlag)
                                        <input type="checkbox" class="chkactive" id="ActiveFlag" @ActiveFlag />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <a class="btn btn-sm default controls" href="@Url.Content("~/Master/OptimumRouteList")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To List</a>
            <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;@Text</button>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.forms["form_sample"].submit()
                }
            });
        }

        var Events = function (DomainName) {

            $('#ActiveFlag').change(function () {
                $('#OR_ActiveFlag').val($(this).is(':checked') ? 'Y' : 'N')
            });

            $('#btnSubmit').click(function () {
                if (!$('#form_sample').valid()) {
                    return false;
                }
                App.blockUI({ boxed: true });
                $.ajax({
                    url: $('#form_sample').attr('action'),
                    type: 'POST',
                    data: $('#form_sample').serialize(),
                    success: function (result) {
                        if (result) {
                            TosterNotification("success", "Record has been updated successfully..!!", "Success");
                            setTimeout(function () {
                                window.location = DomainName + "/Master/OptimumRouteList";
                            }, 1500);
                        }
                        else {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        App.unblockUI();
                    }
                });
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                Events(DomainName);
                MultiSelectDDL('OR_EnrouteLocations', DomainName + '/Master/GetLocationListJson', true);
            }
        }
    }();
</script>