﻿@{
    ViewBag.Title = "List of Optimum Route List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="clearfix"></div>
<div class="row" style="display:none;">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a class="btn default btn-xs" href="@Url.Content("~/Master/OptimumRoute")">
                        <i class="fa fa-plus"></i>
                        Add New Optimum Route
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="OptimumRouteList" style="overflow-x: scroll;">
                    <thead>
                        <tr>
                            <th class="center">
                                Optimum Route Code
                            </th>
                            <th class="center">
                                Origin Location
                            </th>
                            <th class="center">
                                Destination Location
                            </th>
                            <th class="center">
                                Active
                            </th>
                            <th class="center">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var loadData = function (DomainName, tblId) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Master/OptimumRouteListJson'
            $.ajax({
                url: strUrl,
                type: 'POST',
                success: function (result) {
                    $('#' + tblId).DataTable({
                        data: result,
                        columns: [
                            { data: "OptimumRouteCode" },
                            { data: "OriginLocation" },
                            { data: "DeliveryLocation" },
                            { data: "ActiveFlag" },
                            { data: "ID" },
                        ],
                        "aoColumnDefs": [
                            {
                                "aTargets": [3],
                                "mRender": function (data, type, full) {
                                    //alert(data)
                                    if (data == "Y") {
                                        return '<span class="badge badge-success">Yes</span>';
                                    }           			 
                                    else {      		
                                        return '<span class="badge badge-danger">No</span>';
                                    }
                                }
                            }, {
                                "aTargets": [4],
                                "mRender": function (data, type, full) {
                                    //alert(data)
                                    return '<a href="../Master/OptimumRoute/' + data + '" class="btn default btn-xs blue-stripe tooltips"><i class="fa fa-pencil"></i>&nbsp;Edit</a>';
                                }
                            }, ],
                        "createdRow": function (row, data, index) {
                            $('td', row).addClass('center');
                            $('td:eq(0)', row).addClass('text-uppercase');
                            $('td:eq(1)', row).addClass('text-uppercase');
                        }
                    });
                    jQuery('#' + tblId + '_wrapper .dataTables_filter input').addClass("form-control input-medium input-inline"); // modify table search input
                    jQuery('#' + tblId + '_wrapper .dataTables_filter').addClass("pull-right");
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
                    $('#' + tblId).parents('.row').show(500);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        var Events = function (DomainName) {
            $("#VendorList a , .caption a").live("click", function (e) {
                App.blockUI({ boxed: true });
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                loadData(DomainName, 'OptimumRouteList');
                Events(DomainName);
            }
        }
    }();
</script>