﻿@{
    ViewBag.Title = "List of PDC Attached Vendor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="AddEditPDCattachedvendor"></div>
<div class="row" style="display:none;">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a href="@Url.Content("~/Master/ExportData?MethodName=Attached_vendor_Master&FileName=Attached_vendor_List")" class="btn default btn-xs controls">
                        <i class="fa fa-download"></i>&nbsp;Download Excel
                    </a>
                    <a class="btn default btn-xs" href="#" id="addEdit" data-toggle="modal">
                        <i class="fa fa-plus"></i>
                        Add PDC Attached vendor rate
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="PDCAttVenList" style="overflow-x: scroll;">
                    <thead>
                        <tr>
                            <th class="center">
                                VendorName
                            </th>
                            <th class="center">
                                Trans Mode
                            </th>
                            <th class="center">
                                Vehicle Size
                            </th>

                            <th class="center">
                                Origin
                            </th>
                            <th class="center">
                                Destination
                            </th>
                            <th class="center">
                                Rate Type
                            </th>
                            <th class="center">
                                Rate
                            </th>
                            <th class="center">
                                Max limit
                            </th>
                            <th class="center">
                                Active
                            </th>
                            <th class="center">
                                Action
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var loadData = function (DomainName, tblId) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Master/GetPDCAttachedvendorListJson'
            $.ajax({
                url: strUrl,
                type: 'POST',
                success: function (result) {
                    $('#' + tblId).DataTable({
                        data: result,
                        columns: [
                            { data: "VendorCode" },
                            { data: "Transmode" },
                            { data: "VehicleSize" },
                            { data: "Origin" },
                            { data: "DestCode" },
                            { data: "Ratetype" },
                            { data: "Rate" },
                            { data: "Maxlimite" },
                            { data: "IsActive" },
                            { data: "Id" },
                        ],
                        "aLengthMenu": [
                            [5, 10, 15, 20, -1],
                            [5, 10, 15, 20, "All"] // change per page values here
                        ],
                        // set the initial value
                        "iDisplayLength": 10,
                        "aoColumnDefs": [
                                {
                                    "aTargets": [9],
                                    "mRender": function (data, type, full) {
                                        return '<button type="button" class="btn default btn-xs blue-stripe btnAttvendEdit" data-id="' + data + '"><i class="fa fa-pencil"></i>&nbsp;Edit</button>';
                                    }
                                },
                                {
                                    "aTargets": [8],
                                    "mRender": function (data, type, full) {
                                        if (data == true) {
                                            return '<span class="badge badge-success">Yes</span>';
                                        }
                                        else {
                                            return '<span class="badge badge-danger">No</span>';
                                        }
                                    }
                                },
                        ],
                        "createdRow": function (row, data, index) {
                            $('td', row).addClass('center');
                            $('td:eq(3)', row).addClass('center');
                            $('td:eq(0)', row).addClass('text-uppercase center');
                            $('td:eq(1)', row).addClass('text-uppercase');
                            $('td:eq(4)', row).addClass('col-md-2');
                        }
                    });
                    jQuery('#' + tblId + '_wrapper .dataTables_filter input').addClass("form-control input-medium input-inline"); // modify table search input
                    jQuery('#' + tblId + '_wrapper .dataTables_filter').addClass("pull-right");
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
                    $('#' + tblId).parents('.row').show(500);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        var GetObjectDet = function (id, DomainName) {
            App.blockUI({ boxed: true });
            var strurl = DomainName + '/Master/GetPDCAttachedvendordetails/' + id;
            App.scrollTop();
            $.ajax({
                url: strurl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#AddEditPDCattachedvendor").hide();
                    $("#AddEditPDCattachedvendor").html(data);
                    GetVehicleEmployeeUserName("VendorCode", "XX1");
                    CallSubmitClick(DomainName);
                    $("input:checkbox, input:radio").uniform();
                    $(".select2").select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    App.unblockUI();
                    $("#AddEditPDCattachedvendor").toggle(1000);
                    if (id != 0) {
                        $("#VendorCode").select2("data", { id: $("#VendorCode").val(), text: $("#VendorName").val() });
                    }
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }

            });

        }

        var CallSubmitClick = function (DomainName) {

            $("#btnSave").click(function (e) {
                App.blockUI({ boxed: true });
                if (e.handled !== true) // This will prevent event triggering more then once
                {
                    e.handled = true;
                    Formvalidate(DomainName);
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return;
                    }

                    var VendorCode = $("#VendorCode").val();
                    var Transmode = $("#Transmode").val();
                    var VehicleSize = $("#VehicleSize").val();
                    var Origin = $("#Origin").val();
                    var DestCode = $("#DestCode").val();
                    var Ratetype = $("#Ratetype").val();
                    var Rate = $("#Rate").val();
                    var Maxlimite = $("#Maxlimite").val();
                    var IsActive = $("#IsActive").prop('checked');
                    var Id = $("#Id").val();

                    var Attvendor =
                                    {
                                        "VendorCode": VendorCode,
                                        "Transmode": Transmode,
                                        "VehicleSize": VehicleSize,
                                        "Origin": Origin,
                                        "DestCode": DestCode,
                                        "Ratetype": Ratetype,
                                        "Rate": Rate,
                                        "Maxlimite": Maxlimite,
                                        "IsActive": IsActive,
                                        "Id": Id
                                    };

                    $.ajax({
                        url: DomainName + '/Master/AddEditPDCattachedvendor',
                        cache: false,
                        data: JSON.stringify(Attvendor),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data) {
                                TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                $("#AddEditPDCattachedvendor").hide(1000);
                                $('#PDCAttVenList').dataTable({
                                    "bDestroy": true
                                }).fnDestroy();
                                loadData(DomainName, 'PDCAttVenList');
                            }
                            else {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            }
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                    $("input:checkbox, input:radio").uniform();
                }
            });
        }

        var Events = function (DomainName) {

            $("#addEdit").click(function () {
                GetObjectDet("0", DomainName);
            });

            $(".btnCancel").live('click', function (e) {
                $("#AddEditCityMaster").hide(1000);
            });

            $(".btnAttvendEdit").live('click', function (e) {
                var id = $(this).data('id');
                GetObjectDet(id, DomainName);
            });
        }

        var Getpdcratedetails = function (DomainName) {
            var VendorCode = $("#VendorCode").val();
            App.blockUI({ boxed: true });
            var strUrl = "@Url.Action("GetData", "Account")";
            var parameters = {};
            parameters['VendorCode'] = VendorCode;
            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: "json",
                data: {
                    Method: 'Get_PDCattachedvendoList',
                    parameters: parameters
                },
                success: function (result) {
                    if (result[0] != undefined) {
                        App.blockUI({ boxed: true });
                        $("#Ratetype").val(result[0].Ratetype);
                    }
                    else {
                        $("#Ratetype").val("");
                        return false
                    }
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue while update candidate status... Please try again later..', "Oppps..!!");
                    App.unblockUI('#responsive');
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Events(DomainName);
                Formvalidate(DomainName);
                CallSubmitClick(DomainName);
                loadData(DomainName, 'PDCAttVenList');

                $("#VendorCode").live("change", function () {
                    Getpdcratedetails(DomainName)
                })
            }
        }
    }();
</script>