﻿@model Fleet.ViewModels.webx_pincodemasterViewModel
@using FleetDataService.Models;
@{
    ViewBag.Title = "Pincode Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_State> stateList = MS.GetStateMasterObject().Where(c => c.activeflag == null ? c.activeflag == null : c.activeflag == "Y").OrderBy(c => c.stnm).ToList();
    List<webx_citymaster> cityList = new List<webx_citymaster>();
}
<div id="AddEditPincodeMaster"></div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a href="@Url.Content("~/Master/ExportData?MethodName=PincodeMaster&FileName=Pincode Master List")" class="btn default btn-xs controls"><i class="fa fa-download"></i>&nbsp;Download Excel </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    <div class="form-group">
                        <div class="col-md-9">
                            <label class="control-label col-md-1">State</label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(c => c.WPM.StateCode, new SelectList(stateList, "stcd", "stnm", Model.WPM.StateCode), "", new { @class = "form-control select2", @placeholder = "Select State" })
                            </div>
                            <label class="control-label col-md-1">City</label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(c => c.WPM.cityname, new SelectList(cityList, "Location", "Location", Model.WPM.cityname), "", new { @class = "form-control select2", @placeholder = "Select City" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="btn btn-sm default blue-stripe pull-right" id="addEdit" data-toggle="modal">
                                <i class="fa fa-plus"></i>  Add Pincode
                            </a>
                        </div>
                    </div>
                </div>
                <hr />
                <div id="tblData" style="display:none;">
                    @{
                        Html.RenderPartial("_PincodeList", Model.listWPM.ToList());
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var GetObjectDet = function (id, DomainName) {
            App.blockUI({ boxed: true });
            var strurl = DomainName + '/Master/PincodeMasters?id=' + id;
            $.ajax({
                url: strurl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#AddEditPincodeMaster").hide();
                    $("#AddEditPincodeMaster").html(data);
                    $("input:checkbox, input:radio").uniform();
                    $("#StateCode").select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    $("#cityname").select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    $("#Handling_Location").select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    if (id > 0) {
                        $("#pincode").attr("readonly", false);
                    }
                    else {
                        $("#pincode").val("");
                    }
                    App.unblockUI();
                    $("#AddEditPincodeMaster").toggle(1000);
                },
                error: function (req, status, error) {
                    //alert("error--" + req + "---" + status + "---" + error);
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }

            });

        }

        var bindTable = function (id, DomainName) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Master/GetPincodeByCity/' + id;
            $.ajax({
                url: strUrl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#tblData").hide(1000);
                    $('#PincodeList').dataTable({
                        "bDestroy": true
                    }).fnDestroy();
                    $("#PincodeList").html(data);
                    App.unblockUI();
                    $("input:checkbox, input:radio").uniform();
                    initTableById("PincodeList");
                    $("#tblData").toggle(1000);
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);

                $("#addEdit").click(function () {
                    GetObjectDet("0", DomainName);
                });

                $(".btnCancel").live('click', function (e) {
                    $("#AddEditPincodeMaster").hide(1000);
                });

                $("#StateCode").live('click', function (e) {
                    var id = $(this).val();
                    var StrURL = DomainName + "/Master/GetCityByStateJson?Id=" + id;
                    var DDLName = "cityname";
                    App.blockUI({ boxed: true });
                    FillDropDownfromOther(DDLName, StrURL, "");
                })

                $(".btnMasterEdit").live('click', function (e) {
                    var id = $(this).data('id');
                    GetObjectDet(id, DomainName);
                });

                $("#btnSave").live('click', function (e) {
                    App.blockUI({ boxed: true });
                    if (e.handled !== true) // This will prevent event triggering more then once
                    {
                        e.handled = true;
                        Formvalidate(DomainName);
                        if (!$('#form_sample').valid()) {
                            App.unblockUI();
                            return;
                        }
                        $.ajax({
                            url: DomainName + '/Master/AddEditPincode',
                            cache: false,
                            data: $("#form_sample").serialize(),
                            type: 'GET',
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                if (data) {
                                    TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                    $("#AddEditPincodeMaster").hide(1000);
                                    bindTable($("#cityname").val(), DomainName);
                                }
                                else {
                                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                                }
                                App.unblockUI();
                            },
                            error: function (req, status, error) {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                                App.unblockUI();
                            }
                        });
                        $("input:checkbox, input:radio").uniform();
                    }
                });

                $("#WPM_StateCode").change(function () {
                    var id = $(this).val();
                    var StrURL = DomainName + '/Master/GetCityByStateJson?Id=' + id;
                    var DDLName = 'WPM_cityname';
                    App.blockUI({ boxed: true });
                    FillDropDownfromOther(DDLName, StrURL, '');
                });

                $("#WPM_cityname").change(function () {
                    if ($(this).val() == null || $(this).val() == "") {
                        $("#WPM_cityname").html('');
                        $("#tblData").hide(1000);
                        return false;
                    }
                    var id = $(this).val();
                    bindTable(id, DomainName);
                });

                initTableById("PincodeList");
            }
        }
    }();
</script>