﻿@model Fleet.ViewModels.webx_pincodeLocmasterViewModel
@using Fleet.Models
@{
    ViewBag.Title = "IndexCity";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    //List<POSDataService.Models.SSI_Master_General> statelist = MS.GetGeneralMasterObject(0, "STATE", null);
}
<div class="row">
    <div class="col-md-12">
        <div id="AddEditPincodeLocation">
            @{Html.RenderPartial("_AddEditPincodeLocation", Model.WPLM);}
        </div>
    </div>
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i><span>Pincode Location List </span>
                </div>
                <div class="tools">
                    <div class="pull-left">
                        <a href="#" class="btn btn-sm default blue-strip" id="addEdit" data-toggle="modal">
                            <i class="fa fa-plus"></i>  Add Pincode Location
                        </a>
                    </div>
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    @Html.Partial("_PincodeLocationList", Model.listWPLM)
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var CallEditClick = function (id, DomainName) {
            GetObjectDet(id, DomainName);
        }

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var GetObjectDet = function (id, DomainName) {
            var strurl = DomainName + '/Master/GetPincodeLocationDetails?LocCode=' + id;
            $.ajax({
                url: strurl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#AddEditPincodeLocation").html(data);
                    CallSubmitClick(DomainName);
                    $("input:checkbox, input:radio").uniform();
                    $(".select2").select2({
                        placeholder: "Select an option"
                    });
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    alert("error--" + req + "---" + status + "---" + error);
                    App.unblockUI();
                }

            });

        }

        var CallSubmitClick = function (DomainName) {
            $("#btnSave").click(function (e) {
                App.blockUI({ Boxed: true });
                if (e.handled !== true) // This will prevent event triggering more then once
                {
                    e.handled = true;
                    Formvalidate(DomainName);
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return;
                    }
                    $.ajax({
                        url: $("#form_sample").attr('action'),
                        cache: false,
                        data: $("#form_sample").serialize(),
                        type: 'POST',
                        success: function (data) {
                            //Notification("success", "ok", "Success!", "Successfully Saved!!!");
                            $('#PincodeLocationList').dataTable({
                                "bDestroy": true
                            }).fnDestroy();
                            $("#PincodeLocationList").html(data);

                            $(".btnStateEdit").click("live", function () {
                                App.blockUI();
                                CallEditClick($(this).attr("id").replace("Edit_", ""), DomainName);
                            });
                            initTable1(DomainName);
                            GetObjectDet("", DomainName);
                        }
                    });
                    $("input:checkbox, input:radio").uniform();
                }
            });
        }

        var initTable1 = function (DomainName) {
            EditClickEvent(DomainName);
            $('#PincodeLocationList').dataTable({
                "aLengthMenu": [
                    [5, 10, 15, 20, -1],
                    [5, 10, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 5,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "bDestroy": true,
                "aoColumnDefs": [
                     { 'bSortable': false, 'aTargets': [0] },
                     { "bSearchable": false, "aTargets": [0] }
                ]
            });

            jQuery('#PincodeLocationList_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
            jQuery('#PincodeLocationList_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
            jQuery('#PincodeLocationList_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
        }

        var EditClickEvent = function (DomainName) {

            @foreach (var item in Model.listWPLM)
             {
                 <text>

            $("#Edit_@item.LocCode").click(function (e) {
                App.blockUI();
                if (e.handled !== true) // This will prevent event triggering more then once
                {
                    e.handled = true;
                    CallEditClick($(this).attr("id").replace("Edit_", ""), DomainName);
                }
            });
            </text>
             }
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                initTable1(DomainName);
                Formvalidate(DomainName);
                EditClickEvent(DomainName);
                $(".btnCancel").live('click', function (e) {
                    $("#AddEditPincodeLocation").hide(1000);
                });
                $("#AddEditPincodeLocation").hide();
                $("#addEdit").click(function () {
                    $("#AddEditPincodeLocation").show(1000);
                });
                CallSubmitClick(DomainName);
            }
        }
    }();
</script>
