﻿@model Fleet.ViewModels.webx_pincodemasterViewModel
@using FleetDataService.Models;
@{
    ViewBag.Title = "List of Pincode Location Mapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_State> stateList = MS.GetStateMasterObject().Where(c => c.activeflag == null ? c.activeflag == null : c.activeflag == "Y").ToList();
}
<div id="AddEditAirportPincodeLocationMappingMaster"></div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                </div>
                <div class="tools">
                    <div>
                        <a href="#" class="btn btn-xs default blue-stripe pull-right" id="addEdit" data-toggle="modal">
                            <i class="fa fa-plus"></i>  Add Pincode Location Mapping
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div id="tblData">
                    @{
                        Html.RenderPartial("_PincodemapingList", Model.listWPM.ToList());
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var GetObjectDet = function (id, DomainName) {
            App.blockUI({ boxed: true });
            var strurl = DomainName + '/Master/GetPincodeLocationMaping?Pincode=' + id;
            $.ajax({
                url: strurl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#AddEditAirportPincodeLocationMappingMaster").hide();
                    $("#AddEditAirportPincodeLocationMappingMaster").html(data);
                    CallSubmitClick(DomainName);
                    $("input:checkbox, input:radio").uniform();
                    $("#cityname").select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    $("#pincode").select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                  
                    $("#Area").select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    App.unblockUI();
                    $("#AddEditAirportPincodeLocationMappingMaster").toggle(1000);
                },
                error: function (req, status, error) {
                    //alert("error--" + req + "---" + status + "---" + error);
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }

            });

        }

        var CallSubmitClick = function (DomainName) {

            $("#btnSave").live('click', function (e) {
                App.blockUI({ boxed: true });
                if (e.handled !== true) // This will prevent event triggering more then once
                {
                    e.handled = true;
                    Formvalidate(DomainName);
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return;
                    }
                    $.ajax({
                        url: DomainName + '/Master/AddEditPinCodeMasterList',
                        cache: false,
                        data: $("#form_sample").serialize(),
                        type: 'GET',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data) {
                                TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                $("#AddEditAirportPincodeLocationMappingMaster").hide(1000);
                                //bindTable($("#cityname").val(), DomainName);
                            }
                            else {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            }
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                    $("input:checkbox, input:radio").uniform();
                }
            });
        }

        var CheckDuplicate = function (DomainName) {
            App.blockUI({
                target: '#addNew',
                overlayColor: 'none',
                cenrerY: true,
                boxed: true
            });
            var ZoneName = $("#ZoneName").val();
            var Location = $("#Location").val();
            var strurl = DomainName + '/Master/CheckDuplicateDeliveryZone?ZoneName=' + ZoneName + '&Location=' + Location;
            $.ajax({
                url: strurl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    if (data.Count > "0") {
                        TosterNotification("error", 'Name <b>"' + ZoneName + '"</b> already exists!!!', "Oppps..!!");
                        $("#ZoneName").focus();
                        $("#ZoneName").select();
                    }
                    App.unblockUI('#addNew');
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI('#addNew');
                }
            });
        }

        var bindTable = function (DomainName) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Master/PincodeLocationMaping';
            $.ajax({
                url: strUrl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $('#PincodeMappingList').dataTable({
                        "bDestroy": true
                    }).fnDestroy();
                    $("#PincodeMappingList").html(data);
                    App.unblockUI();
                    $("input:checkbox, input:radio").uniform();
                    initTableById("PincodeMappingList");
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);

                $("#addEdit").click(function () {
                    GetObjectDet("0", DomainName);
                });

                $(".btnCancel").live('click', function (e) {
                    $("#AddEditAirportPincodeLocationMappingMaster").hide(1000);
                });

                $(".btnMasterEdit").live('click', function (e) {
                    var id = $(this).data('id');
                    GetObjectDet(id, DomainName);
                });



                //ZoneFocusout(DomainName);
                CallSubmitClick(DomainName);
                initTableById("PincodeMappingList");
            }
        }
    }();
</script>



