﻿@model Fleet.ViewModels.PRSDRSMaxViewModel
@using Fleet.Helpers
@using FleetDataService.Models;
@{
    ViewBag.Title = "PRD DRS Max Limit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    var PDCType = new List<SelectListItem>
    {
        new SelectListItem{ Text="PRS", Value = "PRS" },
        new SelectListItem{ Text="DRS", Value = "DRS" },
    };

    int RowNumberCount = Model.ListCPDCML.Count();
    int i = 1;

    List<webx_location> ListBRCD = MS.GetLocationDetails();
}

@using (Html.BeginForm("PRDDRSMaxLimitList_Submit", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group">
                                @Html.Hidden("RowNumber", RowNumberCount)
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-8">
                                            <label class="control-label col-md-4">PDC Type :</label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(c => c.PDCType, new SelectList(PDCType, "Value", "Text"), "", new { placeholder = "PDC Type", @class = "form-control select2 required2 required dropdown2 clsrateparkg" })
                                                @Html.HiddenFor(m => m.PDCType)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-8">
                                            <label class="control-label col-md-4">Branch :</label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(c => c.ObjCPDCML.BRCD, new SelectList(ListBRCD, "LocCode", "LocName_LocCode"), "", new { @class = "required required2 form-control select2 clsrateparkg", @placeholder = "select Branch" })
                                                @Html.HiddenFor(m => m.ObjCPDCML.BRCD)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group Rate">
                                    <div class="col-md-12">
                                        <div class="col-md-8">
                                            <label class="control-label col-md-4">Rate Per Kg:</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(c => c.ObjCPDCML.RatePerGM, new { @class = "form-control required required2 ", @placeholder = "Rate Per Kg" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="PDCMaxlist">
                            @*<div class="row col-md-12">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                               <th style="white-space: pre-line" class="center">Branch</th>
                                                <th style="white-space: pre-line" class="center">Rate Per Kg</th>
                                                <th style="white-space: pre-line" class="center">Vehicle Size</th>
                                                <th style="white-space: pre-line" class="center">#</th>
                                            </tr>
                                        </thead>
                                        <tbody id="PDCMaxlist">
                                            @foreach (var item in Model.ListCPDCML)
                                            {
                                                item.Id = i;

                                                Html.RenderPartial("_PDCMaxLimit_Partial", item);
                                                i++;
                                            }
                                        </tbody>
                                    </table>
                                </div>*@

                            @*<br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" id="btnAddNewRow" class="btn btn-sm blue pull-right">Add New Row</button>
                                    </div>
                                </div>*@  <div class="form-actions fluid">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-4">
                                        <button type="button" id="btnSubmit" class="btn btn-sm green controls">
                                            <i class="fa fa-check"></i>&nbsp;Sumbit
                                        </button>
                                        <a href="@Url.Content("~/Master/PRDDRSMaxLimit")" class="btn btn-sm default controls Rate">&nbsp;Back To Criteria </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var FormValidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span',
                errorClass: 'help-block',
                focusInvalid: false,
                ignore: "",
                rules: {},
                messages: {},
                invalidHandler: function (event, validator) {
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                success: function (label) {
                    label.closest('.form-group').removeClass('has-error');
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    // document.forms["form_sample"].submit()
                }
            });
        }

        //var AddDetails = function (DomainName, Type) {

        //    var itemIndex = parseInt($("#RowNumber").val()) + 1;

        //    var StrURL1 = DomainName + '/Master/_ADDEDITPRSDRSLimit?id=' + itemIndex + "&Type=" + Type + "&PDCType=" + $("#PDCType").val() + "&BRANCH=" + $("#ObjCPDCML_BRCD").val();
        //    App.blockUI({ boxed: true });
        //    $.ajax({
        //        url: StrURL1,
        //        cache: false,
        //        data: {},
        //        type: 'POST',
        //        success: function (html) {
        //            $("#PDCType").attr("readonly", "readonly");
        //            $("#ObjCPDCML_BRCD").attr("readonly", "readonly");
        //            $("#PDCMax_list").show();
        //            $("#PDCMaxlist").append(html);
        //            StrURL = DomainName + "/Operation/GetDestinationLocations_With_HQTR";
        //            duplicateDDLCheck(DomainName);
        //            App.unblockUI();
        //            $("#RowNumber").val(itemIndex);
        //            $('select').select2();

        //            $("#btnSubmit").show();

        //            $(".deleteRow").live("click", function () {
        //                $(this).parents("tr.editorRow:first").remove();
        //                return false;
        //            });

        //        },
        //        error: function (req, status, error) {
        //            alert("error " + req + "   " + status + "   " + error);
        //        }
        //    });
        //}

        //var duplicateDDLCheck = function () {
        //    $(".clsChkDuplicate").change(function () {

        //        var currId = $(this).attr('id').split("_")[1];
        //        var currval = $(this).val();
        //        var parBRCD = $('#CPM_' + currId + '__BRCD').val();
        //        var parVehicleSize = $('#CPM_' + currId + '__VehicleSize').val();

        //        $(".clsChkDuplicate").each(function () {

        //            var otherId = $(this).attr('id').split("_")[1];
        //            var otherval = $(this).val();
        //            var curBRCD = $('#CPM_' + otherId + '__BRCD').val();
        //            var curVehicleSize = $('#CPM_' + otherId + '__VehicleSize').val();

        //            if (currId != otherId && parBRCD == curBRCD && parVehicleSize == curVehicleSize) {
        //                $('#CPM_' + currId + '__BRCD').select2('data', null);
        //                $('#CPM_' + currId + '__VehicleSize').select2('data', null);
        //                alert("cannot select Duplicate Value.....");
        //                return false;
        //            }
        //        });
        //    });

        //}

        var GetPDCTypeMaxLimit = function (DomainName) {
            var PRSType = $("#PDCType").val();
            var BRCD = $("#ObjCPDCML_BRCD").val();
            App.blockUI({ boxed: true });

            var strUrl = "@Url.Action("GetData", "Account")";
            var parameters = {};
            parameters['PDCType'] = PRSType;
            parameters['BRANCh'] = BRCD;

            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: "json",
                data: {
                    Method: 'GET_PRDDRSMaxLimitList',
                    parameters: parameters
                },
                success: function (result) {
                    console.log(JSON.stringify(result));
                    $("#ObjCPDCML_RatePerGM").val(result[0].RatePerGM);

                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue while update candidate status... Please try again later..', "Oppps..!!");
                    App.unblockUI('#responsive');
                }
            });
        }

        return {
            init: function (DomainName) {
                //$("#PDCMax_list").hide();
                //$("#PDCDRSMaxList").hide();
                //$("#btnSubmit").hide();

                //$("#btnAddNewRow").click(function () {
                //    AddDetails(DomainName, '2')
                //});

                //$("#ObjCPDCML_BRCD").change(function () {
                //    if ($("#ObjCPDCML_BRCD").val() != "") {
                //        AddDetails(DomainName, "1");
                //    }
                //});


                $(".Rate").hide();

                $("#ObjCPDCML_BRCD").change(function () {
                    $("#PDCType").attr("readonly", "readonly");
                    $("#ObjCPDCML_BRCD").attr("readonly", "readonly");
                    $(".Rate").show();
                    GetPDCTypeMaxLimit(DomainName)
                })

                $("#btnSubmit").click(function () {

                    if ($('#form_sample').valid()) {

                        App.blockUI({ boxed: true });
                        document.forms["form_sample"].submit()
                    }
                    else {
                        return false
                    }
                });
            }
        }
    }();
</script>

