﻿@model Fleet.ViewModels.PRQLocationchangeViewModel
@{
    ViewBag.Title = "PRQ Location change";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("PRQNoLocationchange", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-10">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="">
                                <div class="col-md-5">
                                    <label class="control-label col-md-4">Docket No.</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.ObjCPR.PRQNo, new { placeholder = "PRQNo No", @class = "form-control required required2" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                //ignore: "",

                rules: {

                },
                messages: {
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();

                    App.blockUI({ boxed: true });
                    document.form["form_sample"].submit();

                }

            });
        }

        var Events = function (DomainName) {
            $("#btnSubmit").attr("disabled", true);
        }

        var Getpdcratedetails = function (DomainName) {
           debugger
            var PRQNo = $("#ObjCPR_PRQNo").val();
            App.blockUI({ boxed: true });
            var strUrl = "@Url.Action("GetData", "Account")";
            var parameters = {};
            parameters['PRQNo'] = PRQNo;
            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: "json",
                data: {
                    Method: 'PRQ_BRCD_Change',
                    parameters: parameters
                },
                success: function (result) {
                    debugger
                    if (result[0].exmessage == "Done") {
                        $("#btnSubmit").attr("disabled", false);
                        App.unblockUI();
                        return true;
                    }
                    else {
                        TosterNotification("error", "Meassge !!" + result[0].exmessage + "........", "Error");
                        $("#ObjCPR_PRQNo").val("")
                        $("#btnSubmit").attr("disabled", true);
                        App.unblockUI();
                        return false;
                    }
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue while update candidate status... Please try again later..', "Oppps..!!");
                    App.unblockUI('#responsive');
                }
            });
        }

        return {
            init: function (DomainName) {
                Formvalidate(DomainName);
                Events(DomainName);

                $("#ObjCPR_PRQNo").change(function () {
                    Getpdcratedetails(DomainName)
                })
            }
        }
    }();
</script>

