﻿@model Fleet.ViewModels.PRQLocationchangeViewModel
@using FleetDataService.Models;
@using Fleet.Classes;
@{
    ViewBag.Title = "PRQ location change";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_location> ListBRCD = MS.GetLocationDetails();
}
@using (Html.BeginForm("PRQLocationchange_Submit", "Master", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title List
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">Current Branch</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(c => c.ObjCPR.BRCD, new SelectList(ListBRCD, "LocCode", "LocName_LocCode"), "", new { @placeholder = "Select Origin location", @class = "form-control required required2 select2" })
                                @Html.HiddenFor(C => C.ObjCPR.PRQNo)
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label col-md-4">PRQ Change Branch</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(c => c.ObjCPR.ChangeBRCD, new SelectList(ListBRCD, "LocCode", "LocName_LocCode"), "", new { @placeholder = "Select Origin location", @class = "form-control required required2 select2" })
                            </div>
                        </div>
                    </div>
                    <div class="form-body">
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <a href="@Url.Content("~/Master/PRQLocationchange")" class="btn btn-sm default controls"><i class="fa fa-arrow-left"></i>&nbsp;Back to criteria</a>
                                    <button type="submit" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#submit_form');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },


            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);

                $("#btnSubmit").click(function () {
                    App.blockUI({ boxed: true });
                    $("#submit_form").submit();
                });
 
            }
        };
    }();

</script>
