﻿@model FleetDataService.Models.webx_RateMatrix
@using FleetDataService.Models
@using Fleet.Classes
@{
    ViewBag.Title = "Rate";
    Layout = "~/Views/Shared/_LayoutRate.cshtml";

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
}

@using (Html.BeginForm("RateList", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-4">
            <div class="portlet blue box">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>&nbsp; @ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Origin :</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Origin, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 Attacheddetail">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Destination :</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Destination, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 Attacheddetail">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Weight(kgs) :</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Weight, new { @class = "form-control", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-8">
                            <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="RateList col-md-8">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp; List
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <table class="table table-striped table-bordered table-hover" id="RateList" style="overflow-x: scroll;">
                            <thead>
                                <tr>
                                    <th>Service Type</th>
                                    <th>Per KG Rate</th>
                                    <th>Total Price</th>
                                    <th>Transit Days</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">					
    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        var loadData = function (DomainName, tblId, FromCity, ToCity, Kg) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Master/GetRate?FromCity=' + FromCity + '&ToCity=' + ToCity + '&Kg=' + Kg
            $.ajax({
                url: strUrl,
                type: 'POST',
                success: function (result) {
                    $('#' + tblId).DataTable().destroy();
                    $('#' + tblId).DataTable({
                        data: result,
                        "paging":   false,
                        "ordering": false,
                        "info": false,
                        "bFilter": false ,
                        columns: [
                            { data: "Type" },
                            { data: "Rate" },
                            { data: "Weight" },
                            { data: "TransitDays" },
                        ],
                        "createdRow": function (row, data, index) {
                            $('td:eq(0)', row).addClass('text-uppercase');
                            $('td:eq(1)', row).addClass('text-uppercase');
                        }
                    });
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
                    $('#' + tblId).parents('.row').show(500);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                JsonDDL('Origin', DomainName + '/Master/GetAllCityJson');
                JsonDDL('Destination', DomainName + '/Master/GetAllCityJson');
                $(".RateList").hide();
                $('#btnSave').on('click', function () {
                    Formvalidate(DomainName);
                    var FromCity = $("#Origin").val();
                    var ToCity = $("#Destination").val();
                    var Kg = $("#Weight").val();
                    $(".RateList").show();
                    loadData(DomainName, 'RateList', FromCity, ToCity, Kg);
                });
            }
        }
    }();
</script>