﻿@model Fleet.ViewModels.vw_Series_ToBe_Alloted2ViewModel
@using FleetDataService.Models;
@{
    ViewBag.Title = "ReallocaDeallocate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> ListDocType = MS.GetGeneralMasterObject().Where(c => c.CodeType == "DOCS" && c.StatusCode == "Y").OrderBy(c => c.CodeDesc).ToList();
    List<Webx_Master_General> ListDocType2 = MS.GetGeneralMasterObject().Where(c => c.CodeType == "BUT" && c.StatusCode == "Y").OrderBy(c => c.CodeDesc).ToList();
    List<vw_Series_ToBe_Alloted2> listWDHM = new List<vw_Series_ToBe_Alloted2>();
}
@{
    <script>
        function DeleteMessage() {
            alert("Are You Sure Deallote Series");
        }
    </script>
}
<div class="row" style="display:none;">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>AllocatedDeallocate List
                </div>
            </div>

            <div class="portlet-body">
                @*<div class="col-md-3">
                    @Html.DropDownListFor(c => c.VWSTBA2M.DOC_TYPE, new SelectList(ListDocType, "CodeID", "CodeDesc", "DKT"), new { @class = "select2 required required2 form-control", @placeholder = "Select Document Type" })
                </div>*@
                <table class="table table-striped table-bordered table-hover" id="tbldcr" style="overflow-x: scroll">
                    <thead class="flip-content">
                        <tr>
                            <td>
                                @Html.ActionLink("Back to DCR Criteria", "ReDeAllocateSeries")
                            </td>
                        </tr>
                        <tr>
                            <th class="center">
                                Operation
                            </th>
                            <th class="center">
                                Book Code
                            </th>
                            <th class="center">
                                Series From
                            </th>
                            <th class="center">
                                Series To
                            </th>
                            <th class="center">
                                Alloted On
                            </th>
                            <th class="center">
                                Alloted To
                            </th>
                            <th class="center">
                                Alloted Name
                            </th>
                            <th class="center">
                                Business Type
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.listVWSTBA2M)
                        {
                            <tr class="editorRow">
                                <td class="center">
                                    <a href="@Url.Content("~/Master/DeleteRealloCation?Doc_Key=" + item.DOC_KEY)" onclick="DeleteMessage();" class="btn btn-sm default controls,Delete">&nbsp;De-Allot </a>
                                    <a href="@Url.Content("~/Master/UpdateRealloCation?Doc_Key=" + item.DOC_KEY)" class="btn btn-sm default controls,Update">&nbsp;Re-Allot </a>
                                </td>
                                <td class="center">
                                    @item.BookCode
                                </td>
                                <td>
                                    @item.DOC_SR_FROM
                                </td>
                                <td class="center">
                                    @item.DOC_SR_TO
                                </td>
                                <td class="center">
                                    @item.Alloted_On
                                </td>
                                <td class="center">
                                    @item.Alloted_To
                                </td>
                                <td class="center">
                                    @item.Alloted_To_Name
                                </td>
                                <td class="center">
                                    @item.BUSINESS_TYPE
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>

    var FormComponents = function (DomainName) {

        var Events = function (DomainName) {
            $("#tbldcr a , .btnAddEdit").live("click", function (e) {
                App.blockUI({ boxed: true });
            });
        }

        
        function initTableById(tblId) {
            $('#' + tblId).dataTable({
                "aLengthMenu": [
                    [5, 10, 15, 20, 50, - 1],
                    [5, 10, 15, 20, 50, "All"]
                ],
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap",
                "bProcessing": true,
                "ordering": true,
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "bDestroy": true,
            });
            jQuery('#' + tblId + '_wrapper .dataTables_filter input').addClass("form-control input-medium input-inline");
            jQuery('#' + tblId + '_wrapper .dataTables_filter').addClass("pull-right");
            jQuery('#' + tblId + '_wrapper .dataTables_length select').addClass("form-control input-xsmall");
            jQuery('#' + tblId + '_wrapper .dataTables_length select').select2();
        }


        //Delete event handler.
        //$("body").on("click", "#tbldcr .editorRow", function () {
        //    if (confirm("Do you want to delete this row?")) {
        //        var row = $(this).closest("tr");
        //        var customerId = row.find("span").html();
        //        $.ajax({
        //            type: "POST",
        //            url: "/Master/DeleteRealloCation",
        //            data: '{Doc_Key: ' + Doc_Key + '}',
        //            contentType: "application/json; charset=utf-8",
        //            dataType: "json",
        //            success: function (response) {
        //                if ($("#tbldcr tr").length > 1) {
        //                    row.remove();
        //                } else {
        //                    row.find(".Delete").hide();
        //                    row.find("span").html('&nbsp;');
        //                }
        //            }
        //        });
        //    }
        //});

        //Edit event handler.
        //$("body").on("click", "#tbldcr .Edit", function () {
        //    var row = $(this).closest("tr");
        //    $("td", row).each(function () {
        //        if ($(this).find("input").length > 0) {
        //            $(this).find("input").show();
        //            $(this).find("span").hide();
        //        }
        //    });
        //    row.find(".Update").show();
        //    row.find(".Cancel").show();
        //    row.find(".Delete").hide();
        //    $(this).hide();
        //});

        ////Update event handler.
        //$("body").on("click", "#tbldcr .Update", function () {
        //    var row = $(this).closest("tr");
        //    $("td", row).each(function () {
        //        if ($(this).find("input").length > 0) {
        //            var span = $(this).find("span");
        //            var input = $(this).find("input");
        //            span.html(input.val());
        //            span.show();
        //            input.hide();
        //        }
        //    });
        //    row.find(".Edit").show();
        //    row.find(".Delete").show();
        //    row.find(".Cancel").hide();
        //    $(this).hide();

        //    var dcr = {};
        //    dcr.Doc_Key = row.find(".Doc_Key").find("span").html();
        //    dcr.Alloted_To = row.find(".Alloted_To").find("span").html();
        //    $.ajax({
        //        type: "POST",
        //        url: "/Master/UpdateRealloCation",
        //        data: '{Alloted_To:' + JSON.stringify(Alloted_To) + '}',
        //        contentType: "application/json; charset=utf-8",
        //        dataType: "json"
        //    });
        //});

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Events(DomainName);
                initTableById('tbldcr');
                $("#tbldcr").parents('.row').show(500);
            }
        }
        

        $("a.deleteRow").live("click", function () {
            $(this).parents("tr.editorRow:first").remove();
            return false;
        });
    }();
</script>