﻿@model Fleet.ViewModels.vw_Series_ToBe_Alloted2ViewModel
@using FleetDataService.Models;
@{
    ViewBag.Title = "ReDeAllocateSeries";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> ListDocType = MS.GetGeneralMasterObject().Where(c => c.CodeType == "DOCS" && c.StatusCode == "Y").ToList();
    List<Webx_Master_General> ListDocType2 = MS.GetGeneralMasterObject().Where(c => c.CodeType == "BUT" && c.StatusCode == "Y").ToList();
    Webx_Master_General objGeneral = new Webx_Master_General();
    objGeneral.CodeDesc = "All";
    objGeneral.CodeId = "0";
    ListDocType2.Add(objGeneral);
}

@using (Html.BeginForm("ReallocateDeList", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>Select DCR Criteria
                    </div>
                </div>
                <div class="portlet-body">

                    <div class="form-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Document :
                                    </label>
                                    <div class="col-md-5">
                                        @Html.DropDownListFor(c => c.VWSTBA2M.DOC_TYPE, new SelectList(ListDocType, "CodeID", "CodeDesc", "DKT"), new { @class = "select2 required required2 form-control", @placeholder = "Select Document Type" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        DCR  Date :
                                    </label>
                                    <div class="col-md-6">
                                        <div id="reportrange" class="btn default">
                                            <i class="fa fa-calendar"></i>
                                            &nbsp;
                                            <span></span>
                                            <b class="fa fa-angle-down"></b>
                                        </div>
                                    </div>
                                    @Html.HiddenFor(c => c.VWSTBA2M.FromDate)
                                    @Html.HiddenFor(c => c.VWSTBA2M.ToDate)
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        From Series :
                                    </label>
                                    <label class="control-label col-md-2">
                                        <input type="radio" id="chkFromTo" name="Series" value="0" checked="checked" class="clsEntryTYP" />&nbsp;&nbsp;&nbsp;From :
                                    </label>

                                    <div class="col-md-2">
                                        @Html.TextBoxFor(c => c.VWSTBA2M.DOC_SR_FROM, new { @class = "form-control", @placeholder = "From Series" })
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">
                                            To :
                                        </label>
                                        <div class="col-md-2">
                                            @Html.TextBoxFor(c => c.VWSTBA2M.DOC_SR_TO, new { @class = "form-control", @placeholder = "To Series." })
                                        </div>
                                    </div>

                                    <label class="control-label col-md-5">
                                        <input type="radio" id="chkCoNo" name="Series" value="1" class="clsEntryTYP" />&nbsp;&nbsp;&nbsp;Contains.no :
                                    </label>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(c => c.VWSTBA2M.ConNo, new { @class = "form-control", @placeholder = "Contains No." })
                                        @Html.HiddenFor(c => c.VWSTBA2M.rdioFromSeries)
                                    </div>
                                    <label class="control-label col-md-4">
                                        [seperated by comma if multiple]
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Book Code :
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(c => c.VWSTBA2M.BookCode, new { @class = "form-control", @placeholder = "Book Code no." })
                                    </div>
                                    <label class="control-label col-md-4">
                                        [seperated by comma if multiple]
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Business Type :
                                    </label>
                                    <div class="col-md-5">
                                        @*@Html.DropDownListFor(c => c.VWSTBA2M.BUSINESS_TYPE, new SelectList(ListDocType2, "CodeID", "CodeDesc"), new { @class = "select2 required required2 form-control", @placeholder = "Select Document Type" })*@
                                        @Html.DropDownListFor(c => c.VWSTBA2M.BUSINESS_TYPE, new SelectList(ListDocType2.OrderBy(c => c.CodeId), "CodeId", "CodeDesc"), null, new { @class = "form-control required required2 select2", @placeholder = "Select Type" })


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="form-actions fluid">
                    <div class="col-md-offset-4 col-md-8">
                        <button type="button" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Show DCR Series</button>
                        <button type="button" class="btn btn-sm defualt controls btnCancel"><i class="fa fa-refresh"></i>&nbsp;Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script type="text/javascript">
    //debugger;
    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName, formId) {

            var form1 = $('#' + formId);
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input

                rules: {
                },
                messages: {
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    error.insertAfter(element); // for other inputs, just perform default behavior
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    for (var i = 0; i < validator.errorList.length; i++) {

                    }
                    //validator.errorMap is an object mapping input names -> error messages
                    for (var i in validator.errorMap) {
                    }
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //  form1.submit();
                }
            });
        }

        var bindTable = function (DOC_TYPE, DomainName) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + "/?DOC_TYPE=" + $("#VWSTBA2M_DOC_TYPE").val() + "&DOC_TYPE=" + $("#VWSTBA2M_DOC_TYPE").val() + "&FromDate=" + $("#VWSTBA2M_FromDate").val() + "&ToDate=" + $("#VWSTBA2M_ToDate").val();
            $.ajax({
                url: strUrl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    //Tbody Id get Result In Partial View
                    $("#AdviceTable").html(data);
                    var status = true;
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        var CallSubmitClick = function (DomainName) {
            $("#btnSubmit").live('click', function (e) {

                App.blockUI({ boxed: true });

                Formvalidate(DomainName);
                if (!$('#form_sample').valid()) {
                    App.unblockUI();
                    return;
                }
                document.forms["form_sample"].submit();

            });
        }

        var Events = function (DomainName) {

            $("#btnSubmit").live('click', function (e) {

                App.blockUI({ boxed: true });

                Formvalidate(DomainName);
                if (!$('#form_sample').valid()) {
                    App.unblockUI();
                    var Type = $("#Type").val();
                    bindTable(DomainName, 'ReallocateDeList', Type);
                    return;
                }
                document.forms["form_sample"].submit();

            });
            //$('#btnSubmit').on('click', function () {
            //    FormValidate(DomainName);
            //    var Type = $("#Type").val();
            //    if ($('#form_sample').valid()) {
            //        bindTable(DomainName, 'ReallocateDeList', Type);
            //    }
            //});
            $("input[name='Series']").click(function () {
                $("#VWSTBA2M_rdioFromSeries").val($(this).val());
            });

        }


        //var handleDateRangePickers = function () {
        //    if (!jQuery().daterangepicker) {
        //        return;
        //    }
        //    $('#reportrange').daterangepicker({
        //        opens: (App.isRTL() ? 'left' : 'right'),
        //        startDate: moment().subtract('days', 29),
        //        endDate: moment(),
        //        //maxDate: '12/31/2014',
        //        showDropdowns: true,
        //        showWeekNumbers: true,
        //        timePicker: false,
        //        timePickerIncrement: 1,
        //        timePicker12Hour: true,
        //        ranges: {
        //            'Today': [moment(), moment()],
        //            'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
        //            'Last 7 Days': [moment().subtract('days', 6), moment()],
        //            'Last 30 Days': [moment().subtract('days', 29), moment()],
        //            'This Month': [moment().startOf('month'), moment().endOf('month')],
        //            'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')],
        //            'Till Date': [moment().subtract('days', 18262), moment()]
        //        },
        //        buttonClasses: ['btn'],
        //        applyClass: 'green',
        //        cancelClass: 'default',
        //        format: 'DD/MM/YYYY',
        //        separator: ' to ',
        //        locale: {
        //            applyLabel: 'Apply',
        //            fromLabel: 'From',
        //            toLabel: 'To',
        //            customRangeLabel: 'Custom Range',
        //            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
        //            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        //            firstDay: 1
        //        }
        //    },

        //         function (start, end) {
        //             $('#FromDate').val(start.format('MMMM D, YYYY'));
        //             $('#ToDate').val(end.format('MMMM D, YYYY'));
        //             $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        //         }
        //    );
        //    $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
        //    $('#FromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
        //    $('#ToDate').val(moment().format('MMMM D, YYYY'));
        //}

        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                Events(DomainName);
                handleDateRangePickers('reportrange', 'VWSTBA2M_FromDate', 'VWSTBA2M_ToDate');
                $("input:checkbox, input:radio").uniform();
            }
        }
    }();
</script>