﻿@model Fleet.ViewModels.Webx_View_TrackViewModel
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@using Fleet.Classes;
@using System.Linq;
@using System.Text;
@using System.Xml.Linq;
@{
    ViewBag.Title = "ReportsViewRights";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<WebX_Master_Users> UserList = MS.GetUserDetails().ToList();
}

@using (Html.BeginForm("ReportsRightSubmit", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;User Wise Reports Rights
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label col-md-3">Select User:</label>
                                <div class="col-md-6">
                                    @*@Html.DropDownListFor(model => model.WVTVM.UserId, new SelectList(UserList, "UserId", "UserId"), "", new { @class = "select2 required form-control" })*@
                                    @Html.TextBoxFor(c => c.WVTVM.UserId, new { @class = "form-control", @placeholder = "Search User" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-body" id="tblThcList">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered table-hover table-full-width center" id="Sample1">
                                    <thead class="flip-content">
                                        <tr>
                                            <th class="center">
                                                <input type="checkbox" id="chkCheckAll" />
                                            </th>
                                            <th class="center">
                                                View & Track type
                                            </th>
                                            <th class="center">
                                                Documnet List
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody id="Advice">
                                        @{
                                            Html.RenderPartial("_ReportsViewRightsPartial", Model.listWVTVM.ToList());
                                        }
                                    </tbody>

                                </table>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-actions fluid">
                    <div class="col-md-offset-4 col-md-8">
                        <button type="submit" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;Submit</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();                    
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }

        var Get_User = function (DomainName, code) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + "/Master/ListViewRight?user=" + code;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: { code: code },
                type: 'POST',
                success: function (data) {
                    $("#Advice").html(data);
                    $("input[type=checkbox], input:radio, input:file").uniform();
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    App.unblockUI();
                    alert("error " + req + " " + status + " " + error);
                }
            });
        }

        var Events = function (DomainName) {
            var handleSelect2 = function () {
                $('.select2').select2({
                    placeholder: "Select an option",
                });
            }
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);

                Events(DomainName);

                $('#WVTVM_UserId').change(function () {
                    Get_User(DomainName, $(this).val());
                });

                $(document).on('click', '#chkCheckAll', function () {
                    $('.IsCheck').prop('checked', $(this).prop('checked'));
                    if ($(this).prop('checked')) {
                        $('.IsCheck').parent('span').addClass('checked');
                        $('.IsCheck').val("true");
                    }
                    else {
                        $('.IsCheck').parent('span').removeClass('checked');
                        $('.IsCheck').val("false");
                    }
                });

                $('.IsCheck').live('click', function () {

                    var Ischeck = $(this).val();
                    if (jQuery(this).is(":checked")) {
                        $(this).val("true");
                    }
                    else {
                        $(this).val("false");
                    }

                });

                JsonDDL('WVTVM_UserId', DomainName + '/Master/GetAllEmpCompanyJson');
                $('#btnSubmit').click(function () {
                    App.blockUI({ boxed: true });
                });
            }
        }
    }();
</script>