﻿@model IEnumerable<FleetDataService.Models.Webx_View_Track>
@using Fleet.Models
@using Fleet.ViewModels
@using Fleet.Helpers
@using FleetDataService.Models
@using Fleet.Classes;
@using System.Linq;
@using System.Text;
@using System.Xml.Linq;
@using Fleet
@{
    ViewBag.Title = "ReportsRights";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<WebX_Master_Users> UserList = MS.GetUserDetails().ToList();
}
@{
    int i = 1;
    int UID = ViewBag.UserId;
}
<link rel="stylesheet" href="@Url.Content("~/assets/jqwidgets/styles/jqx.base.css")" type="text/css" />
<script src="@Url.Content("~/assets/plugins/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/assets/jqwidgets/jqxcore.js")"></script>
<script type="text/javascript" src="@Url.Content("~/assets/jqwidgets/jqxbuttons.js")"></script>
<script type="text/javascript" src="@Url.Content("~/assets/jqwidgets/jqxscrollbar.js")"></script>
<script type="text/javascript" src="@Url.Content("~/assets/jqwidgets/jqxpanel.js")"></script>
<script type="text/javascript" src="@Url.Content("~/assets/jqwidgets/jqxtree.js")"></script>
<script type="text/javascript" src="@Url.Content("~/assets/jqwidgets/jqxcheckbox.js")"></script>

<div class="row">
    <div class="col-md-6">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-reorder"></i>Menu Rights for User 
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    @using (Html.BeginForm("ChangeRights", "Master", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal" }))
                    {

                        <div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                <a class="btn btn-sm default controls" href="@Url.Content("~/Master/User")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To List</a>
                                <button type="button" class="btn btn-sm green controls btnSubmit"><i class="fa fa-check"> </i>&nbsp;Submit </button>
                                @Html.Hidden("UserId", UID)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-10">
                                <div id='jqxTree' style='visibility: hidden;'>
                                    @Html.ReportTree(UID)
                                </div>
                            </div>
                        </div>
                        foreach (var itm in Model)
                        {

                            string uId = "model" + itm.ReportId + "__UserId";
                            string mId = "model" + itm.ReportId + "__MenuId";
                            string hId = "model" + itm.ReportId + "__HasAccess";

                            string uIdn = "model[" + itm.ReportId + "].TUserId";
                            string mIdn = "model[" + itm.ReportId + "].MenuId";
                            string hIdn = "model[" + itm.ReportId + "].HasAccess";

                            <div>
                                <input type="hidden" name="model.index" autocomplete="off" value="@itm.ReportId" />
                                <input type="hidden" id="@uId" name="@uIdn" />
                                <input type="hidden" id="@mId" name="@mIdn" />
                                <input type="hidden" id="@hId" name="@hIdn" />
                            </div>
                            i++;
                        }
                        <div class="form-actions fluid">
                            <div class="col-md-offset-4 col-md-8">
                                <a class="btn btn-sm default controls" href="@Url.Content("~/Master/User")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To List</a>
                                <button type="button" class="btn btn-sm green controls btnSubmit"><i class="fa fa-check"> </i>&nbsp;Submit </button>
                                @Html.Hidden("UserId", UID)
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>




@*@using (Html.BeginForm("ReportsRightsList", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;User Wise Reports Rights
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label col-md-3">Select User:</label>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.WVTVM.UserId, new SelectList(UserList, "UserId", "UserId"), "", new { @class = "select2 required form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-body" id="tblThcList">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered table-hover table-full-width center" id="Sample1">
                                    <thead class="flip-content">
                                        <tr>
                                            <th class="center">

                                            </th>
                                            <th class="center">
                                                View & Track type
                                            </th>
                                            <th class="center">
                                                Documnet List
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody id="Advice">

                                        @{
    Html.RenderPartial("_ReportsRightsPartial", Model.listWVTVM.ToList);
                                        }
                                    </tbody>

                                </table>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-actions fluid">
                    <div class="col-md-offset-4 col-md-8">
                        <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;submit</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
}*@

<script type="text/javascript">

    var ftree = $.noConflict();
    ftree(document).ready(function () {
        // create jqxTree
        ftree('#jqxTree').jqxTree({ hasThreeStates: true, checkboxes: true, width: '100%' });
        ftree('#jqxTree').css('visibility', 'visible');
        ftree('#jqxTree').jqxTree('expandAll');

        var items = ftree('#jqxTree').jqxTree('getItems');
        ftree.each(items, function (Menuid, item) {
            //alert("hii");

            var itemID = item.id;
            // alert(itemID);
            var myArray = itemID.split('XXX');
            // item.checked = $("#itemID")[1]

            //   alert(myArray[0] + "   " + myArray[1]);
            var chkst = false;
            if (myArray[1] == "True")
                chkst = true;

            ftree("#jqxTree").jqxTree('checkItem', $("#" + itemID)[0], chkst);


        });

        ftree('#jqxTree').on('checkChange', function (event) {
            var args = event.args;
            var element = args.element;
            var checked = args.checked;
            //alert("hello");
        });

        $(".btnSubmit").click(function () {
            App.blockUI({ boxed: true });
            OnbtnSubmit();
            document.forms["submit_form"].submit();
        });
        function OnbtnSubmit() {
            var items = ftree('#jqxTree').jqxTree('getItems');

            ftree.each(items, function (Menuid, item) {

                var itemID = item.id;
                var myArray = itemID.split('XXX');
                var isChecked = item.checked;
                //  alert(myArray[0] + " " + isChecked)
                if (isChecked == null)
                    isChecked = "true";
                $("#model" + myArray[0] + "__UserId").val($("#UserId").val());
                $("#model" + myArray[0] + "__MenuId").val(myArray[0]);
                $("#model" + myArray[0] + "__HasAccess").val(isChecked);

            });
        }

    });
</script>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            if (!jQuery().bootstrapWizard) {
                return;
            }

            var form = $('#submit_form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    if (label.attr("for") == "gender" || label.attr("for") == "payment[]") { // for checkboxes and radio buttons, no need to show OK icon
                        label
                            .closest('.form-group').removeClass('has-error').addClass('has-success');
                        label.remove(); // remove error label here
                    } else { // display success icon for other inputs
                        label
                            .addClass('valid') // mark the current input as valid and display OK icon
                        .closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    }
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();

                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            });
        }

        var Events = function (DomainName) {
            var handleSelect2 = function () {
                $('.select2').select2({
                    placeholder: "Select an option",
                });
            }
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);

                Events(DomainName);

                $('#btnSubmit').click(function () {
                    App.blockUI({ boxed: true });
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return false;
                    }
                    else {
                        $.ajax({
                            url: DomainName + '/Master/ReportsRightsList',
                            type: 'post',
                            data: $("#form_sample").serialize(),
                            success: function (data) {
                                alert(data)
                                $("#Advice").html(data);
                                App.unblockUI();
                            },
                            error: function (req, status, error) {
                                alert(error + '  ' + JSON.stringify(req) + '' + status)
                                TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                                App.unblockUI();
                            }
                        });
                    }


                })




            }
        }
    }();
</script>
