﻿@model Fleet.ViewModels.Webx_Role_Employee_IntigrationViewModel
@using FleetDataService.Models;
@{
    ViewBag.Title = "Role - Employee Intigration Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Text = "Submit";

    var SetRole = new List<SelectListItem> {
new SelectListItem { Text = "Assign", Value = "1" },
new SelectListItem { Text = "Edit", Value = "2" }
};

    List<Webx_Role_Employee_Intigration> IntigrationRole = new List<Webx_Role_Employee_Intigration>();

}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("RoleEmployeeIntigrationsubmit", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
                {
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label col-md-4">Set Role</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.WREIM.SetRole, new SelectList(SetRole, "Value", "Text"), "", new { @class = "select2 drp form-control required ", placeholder = "Set Role" })
                                    @Html.HiddenFor(c => c.EditFlag)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label col-md-4">Select Role</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.WREIM.Roledesc, new SelectList(IntigrationRole, "SRNO", "Roledesc"), "", new { @class = "select2 drp form-control", placeholder = "Select Role" })
                                    @Html.HiddenFor(c => c.EditFlag)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label col-md-4">Select Location</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.WREIM.LocCode, new SelectList(IntigrationRole, "LocCode", "LocName"), "", new { @class = "select2 drp form-control", placeholder = "Select End Location" })
                                    @Html.HiddenFor(c => c.EditFlag)
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    @*<center><h3>Users</h3></center>*@
                    <div>
                        @*@foreach(var item in Model.listWREIVM ){
                                Html.RenderPartial("_RoleEmployeeIntigrationList", item);
                            }*@
                        @foreach (var item in Model.listWREIVM)
                        {
                            Html.RenderPartial("_RoleEmployeeIntigration", item);
                        }
                    </div>

                    <div id="UserList"></div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            @*<button type="button" class="btn btn-sm defualt controls btnCancel" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>&nbsp;Cancel</button>*@
                            <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;@Text</button>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        var bindTable = function (UserId, DomainName) {
            App.blockUI({ boxed: true });
            var strUrl = "/Fleet/Master/GetRoleEmployeeList/?UserId=" + $("#WREIM_Roledesc").val() + "&LOC=" + $("#WREIM_LocCode").val() + "&SetRole=" + $("#WREIM_SetRole").val();
            $.ajax({
                url: strUrl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#UserList").html(data)
                    var status = true;
                    if ($("#WREIM_ACTIVEFLAG").val() == "N") {
                        status = false;
                    }
                    $("#ACTIVEFLAG").prop("checked", status);
                    App.unblockUI();
                    $("input:checkbox, input:radio").uniform();
                    $("#tblData").toggle(1000);
                    Cmplistdetail(DomainName);
                    $("#WLCMM_DEFAULT_COMPANY").val($('input[type=radio][name=radioOptions]').val());
                  
                    
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        var Cmplistdetail = function (DomainName) {
            var abcd = '';
            $('.clsChecked').each(function () {
                if ($(this).is(':checked')) {
                    abcd = abcd + ',' + $(this).val();
                }
            })
            $("#WLCMM_COMPANY_LIST").val(abcd.substring(1))
        }

        var CallSubmitClick = function (DomainName) {
            $("#btnSave").live('click', function (e) {
                var strUrl = "/Fleet/Master/miscellaneous";
                App.blockUI({ boxed: true });
                if (e.handled !== true) // This will prevent event triggering more then once
                {
                    e.handled = true;
                    Formvalidate(DomainName);
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return;
                    }
                    $.ajax({
                        url: DomainName + '/Master/RoleEmployeeIntigrationsubmit',
                        cache: false,
                        data: $("#form_sample").serialize(),
                        type: 'Post',
                        success: function (data) {
                            if (data == 'true') {
                                window.location = '@Url.Action("miscellaneous", "Master")';
                                TosterNotification("success", "Record has been updated successfully..!!", "Success");
                               // $('#WLCMM_LOCCODE').select2('data', null);
                            }
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                    $("input:checkbox, input:radio").uniform();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                CallSubmitClick(DomainName);

                $("#UserList").parents('.row').show(500);

                $("#WREIM_SetRole").change(function () {
                    var StrURL = DomainName + "/Master/Get_RoleEmployee";
                    FillDropDownfromOther("WREIM_Roledesc", StrURL, "Select Customer");
                });
                $('#WREIM_SetRole').change(function () {
                    bindTable(DomainName);
                });

                $('#WREIM_LocCode').change(function () {
                   bindTable(DomainName);
                });
                $('#WREIM_Roledesc').change(function () {
                    bindTable(DomainName);
                });

                $("#WREIM_SetRole").change(function () {
                    var StrURL = DomainName + "/Master/Get_RoleEmployeeLocation";
                    FillDropDownfromOther("WREIM_LocCode", StrURL, "Select Customer");
                });
            }
        }
    }();
</script>
