﻿@model IEnumerable<FleetDataService.Models.webx_ruttran_City>
@{
    ViewBag.Title = "Route - City List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="display:none;">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                </div>
                <div class="tools">
                    <div class="btn-group">
                        <a class="btn btn-xs default" href="@Url.Content("~/Master/AddEditRouteCity/0")">
                            <i class="fa fa-plus"></i> Add Route City
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="RouteCityList" style="overflow-x: scroll;">
                    <thead>
                        <tr>
                            <th class="center">
                                Route Code
                            </th>
                            <th class="center">
                                Route Name
                            </th>
                            <th class="center">
                                Route Mode
                            </th>
                            <th class="center">
                                Route Distance
                            </th>
                            <th class="center">
                                Control Location
                            </th>
                            <th class="center">
                                Active
                            </th>
                            <th class="center">Action</th>
                        </tr>
                    </thead>
                </table>
                @*@{
                        Html.RenderPartial("_UserList", Model);
                    }*@

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var loadData = function (DomainName, tblId) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Master/GetRouteCityListJson'
            $.ajax({
                url: strUrl,
                type: 'POST',
                success: function (result) {
                    $('#' + tblId).DataTable({
                        data: result,
                        columns: [
                            { data: "RUTCD" },
                            { data: "RUTNM" },
                            { data: "RUTMOD" },
                            { data: "RUTKM" },
                            { data: "ControlLocation" },
                            { data: "ACTIVEFLAG" },
                            { data: "RUTCD" },
                        ],
                        "aoColumnDefs": [
                            {
                                "aTargets": [5],
                                "mRender": function (data, type, full) {
                                    //alert(data)
                                    if (data == "Y") {
                                        return '<span class="badge badge-success">Yes</span>';
                                    }
                                    else {
                                        return '<span class="badge badge-danger">No</span>';
                                    }
                                }
                            },
                            {
                                "aTargets": [6],
                                "mRender": function (data, type, full) {
                                    //alert(data)
                                    return '<a href="../Master/AddEditRouteCity/' + data.trim() + '" class="btn default btn-xs blue-stripe tooltips btnEdit"><i class="fa fa-pencil"></i>&nbsp;Edit</a>';
                                }
                            }, ],
                        "createdRow": function (row, data, index) {
                            $('td:gt(2)', row).addClass('center');
                            $('td:eq(0)', row).addClass('text-uppercase');
                            $('td:eq(1)', row).addClass('text-uppercase');
                        }
                    });
                    jQuery('#' + tblId + '_wrapper .dataTables_filter input').addClass("form-control input-medium input-inline"); // modify table search input
                    jQuery('#' + tblId + '_wrapper .dataTables_filter').addClass("pull-right");
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
                    $('#' + tblId).parents('.row').show(500);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                loadData(DomainName, 'RouteCityList');
            }
        }
    }();
</script>
