@model Fleet.ViewModels.SetOpeningBalanceViewModel
@using FleetDataService.Models
@using Fleet.Classes
@{
    ViewBag.Title = "Set Opening Balance";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{
    var Category = new List<SelectListItem>
                {

                new SelectListItem{Text="ASSET",Value="ASSET",Selected = true},
                new SelectListItem{Text="LIABILITY",Value="LIABILITY"},
                };

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<SelectListItem> Account = new List<SelectListItem>();
    var AccountLocation = DataRowToObject.CreateListFromTable<webx_acctinfo>(MS.GetsetopnigBalance());

}

<div class="col-md-offset-2 col-md-8">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i> Set Opening Balance For ASSET/LIABILITY Ledgers
            </div>
            <div class="actions">
            </div>
        </div>
        <div class="portlet-body flip-scroll">
            @using (Html.BeginForm("OpeningBalanceCriteria", "Master", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal", @enctype = "multipart/form-data" }))
            {
                <div class="form-body">
                    <table class="table table-striped table-bordered table-hover " id="Sample1">
                        <thead class="flip-content">
                            <tr>
                                <th class="center col-md-2">
                                    Enter Branch Code
                                </th>
                                <th class="center">
                                    Select Account Category
                                </th>
                                <th class="center">
                                    Enter Account Code
                                </th>
                            </tr>
                        </thead>                         
                        <tbody>
                            <tr>
                                <td class="center col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-11">
                                            @Html.DropDownListFor(m => m.Balance.Brcd, new SelectList(AccountLocation, "Value", "Text"), "", new { @class = "required select2 required required2 form-control" })
                                        </div>
                                    </div>
                                </td>
                                <td class="center col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-11">
                                            @Html.DropDownListFor(m => m.Balance.Acccategory, new SelectList(Category, "Value", "Text"), "", new { @class = "required select2 required2 required form-control" })
                                        </div>
                                    </div>
                                </td>
                                <td class="center col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-11">
                                            @Html.DropDownListFor(m => m.Balance.Acccode, new SelectList(Account, "Value", "Text"), "", new { @class = "required select2 required2 required form-control" })
                                            @Html.HiddenFor(c => c.Balance.Acccode)
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-actions fluid" id="SubmitBtn">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-8">
                            <a href="@Url.Content("~/Master/SetOpeningBalance")" class="btn btn-sm default"><i class="fa fa-refresh"></i>&nbsp;Reset</a>
                            <button type="button" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#submit_form');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }

            });
        }

        return {
            init: function (DomainName) {
                Formvalidate(DomainName);

                $("#btnSubmit").click(function () {
                    App.blockUI({ boxed: true });
                    if (!$('#submit_form').valid()) {
                        App.unblockUI();
                        return false;
                    }
                    $("#btnSubmit").attr("disabled", true);
                    document.forms["submit_form"].submit();
                });

                $('#Balance_Acccategory').change(function () {
                    App.blockUI({ boxed: true });
                    var SerchGroup = $(this).val();
                    var strUrl = DomainName + '/Master/GetSetOpeningBalance?SerchGroup=' + SerchGroup;
                    FillDropDownfromOther('Balance_Acccode', strUrl, '');
                });
            }
        }
    }();
</script>



