﻿@model Fleet.ViewModels.SettingOpeningBalanceViewModel
@using FleetDataService.Models
@using Fleet.Classes
@{
    ViewBag.Title = "Setting Opening Balance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var Category = new List<SelectListItem>
                {

                new SelectListItem{Text="ASSET",Value="ASSET",Selected = true},
                new SelectListItem{Text="LIABILITY",Value="LIABILITY"},
                };

    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_acctinfo> CustList = MS.CustomerTypeList();
    List<webx_VENDOR_HDR> VendrList = MS.GetEffectiveVendorTypeList(); //MS.GetGeneralMasterObject().Where(c => c.CodeType.ToUpper() == "VENDTY").OrderBy(c => c.CodeDesc).ToList();
    //GetLocationDetails
    // List<webx_location> LocationList = MS.GetLocationDetails();
    //var AccountLocation = DataRowToObject.CreateListFromTable<webx_acctinfo>(MS.GetsetopnigBalance());
    List<webx_acctinfo> EmpList = MS.EmployeeTypeList();
    List<webx_acctinfo> DriverList = MS.DriverTypeList();
}

<div class="col-md-12">
    <div class="portlet box @ViewBag.TableBoxColor">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i> Set Opening Balance For Customer / Vendor / Driver / Employee
            </div>
            <div class="actions">
            </div>
        </div>
        <div class="portlet-body flip-scroll">
            @using (Html.BeginForm("SetOpeningBalanceAssign", "Master", FormMethod.Post, new { @id = "submit_form", @class = "form-horizontal", @enctype = "multipart/form-data" }))
            {
                <div class="form-body">
                    <div class="row">
                        <table class="table table-striped table-bordered table-hover " id="Sample1">
                            <thead class="flip-content">
                               
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="center">
                                        Select Type
                                    </th>
                                    <th class="center">
                                        Effective Account
                                    </th>
                                    <th class="center">
                                        Enter Location
                                    </th>
                                    <th class="center">
                                        Enter Customer
                                    </th>
                                </tr>
                                <tr>
                                    <td class="center col-md-3">
                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @*@Html.RadioButtonFor(m => m.CriteriaMd.Selectedtype,"Customer", new { @class="form-control required required2 rdo" })*@
                                                <label class="radio-inline">
                                                    <input class="form-control required required2 rdo" name="Selectedtype" id="Customer" value="Customer" type="radio" />
                                                </label>
                                            </div>


                                        </div>
                                    </td>
                                    <td class="center col-md-4">
                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @Html.DropDownListFor(m => m.CriteriaMd.CustEffectiveAccount, new SelectList(CustList, "acccode", "accdesc"), "", new { @class = "select2 form-control CstDt" })
                                            </div>
                                        </div>
                                    </td>
                                    <td class="center col-md-4">
                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @Html.TextBoxFor(m => m.CriteriaMd.CustLocationName, "", new { @class = "form-control LocationDDL CstDt" })
                                                @*@Html.DropDownListFor(m => m.Balance.Acccategory, new SelectList(LocationList, "LocCode", "LocName"), "", new { @class = "required select2 required2 required form-control" })*@
                                            </div>
                                        </div>
                                    </td>
                                    <td class="center col-md-5">
                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @Html.TextBoxFor(m => m.CriteriaMd.CustomerName, "", new { @class = "form-control CustomerDDL" })
                                                @*@Html.DropDownListFor(m => m.Balance.Acccode, new SelectList(LocationList, "LocCode", "LocName"), "", new { @class = "required select2 required2 required form-control" })
                                                    @Html.HiddenFor(c => c.Balance.Acccode)*@
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <th class="center">
                                        Select Type
                                    </th>
                                    <th class="center">
                                        Effective Vendor Type
                                    </th>
                                    <th class="center">
                                        Enter Location
                                    </th>
                                    <th class="center">
                                        Enter Vendor
                                    </th>
                                </tr>
                                <tr>
                                    <td class="center col-md-3">
                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @*@Html.RadioButtonFor(m => m.CriteriaMd.Selectedtype, "Vendor", new { @class = "form-control required required2 rdo" })*@
                                                @Html.HiddenFor(m => m.CriteriaMd.Selectedtype)
                                                <label class="radio-inline">
                                                    <input class="form-control required required2 rdo" name="Selectedtype" id="Vendor" value="Vendor" type="radio" />
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="center col-md-4">
                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @Html.DropDownListFor(m => m.CriteriaMd.EffectiveVendorType, new SelectList(VendrList, "Vendor_Type", "VENDORCODE"), "", new { @class = "select2 form-control CstDt" })
                                            </div>
                                        </div>
                                    </td>
                                    <td class="center col-md-4">
                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @Html.TextBoxFor(m => m.CriteriaMd.VendorLocationName, "", new { @class = "form-control LocationDDL CstDt" })
                                                @*@Html.DropDownListFor(m => m.Balance.Acccategory, new SelectList(LocationList, "LocCode", "LocName"), "", new { @class = "required select2 required2 required form-control" })*@
                                            </div>
                                        </div>
                                    </td>
                                    <td class="center col-md-5">
                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @Html.TextBoxFor(m => m.CriteriaMd.VendorName, "", new { @class = "form-control CustomerDDL" })
                                                @*@Html.DropDownListFor(m => m.Balance.Acccode, new SelectList(LocationList, "LocCode", "LocName"), "", new { @class = "required select2 required2 required form-control" })
                                                    @Html.HiddenFor(c => c.Balance.Acccode)*@
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <th class="center">
                                        Select Type
                                    </th>
                                    <th class="center">
                                        Effective Account
                                    </th>
                                    <th class="center">
                                        Enter Location
                                    </th>
                                    <th class="center">
                                        Enter Driver
                                    </th>
                                </tr>
                                <tr>
                                    <td class="center col-md-3">
                                        <div class="form-group">
                                            <label class="col-md-11">
                                                @*@Html.RadioButtonFor(m => m.CriteriaMd.Selectedtype, "Driver", new { @class = "form-control required required2 rdo" })*@
                                                <label class="radio-inline">
                                                    <input class="form-control required required2 rdo" name="Selectedtype" id="Driver" value="Driver" type="radio" />
                                                </label>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="center col-md-4">
                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @Html.DropDownListFor(m => m.CriteriaMd.DriverEffectiveAccount, new SelectList(DriverList, "acccode", "accdesc"), "", new { @class = "select2 form-control CstDt" })
                                            </div>
                                        </div>
                                    </td>
                                    <td class="center col-md-4">
                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @Html.TextBoxFor(m => m.CriteriaMd.DriverLocationName, "", new { @class = "form-control LocationDDL CstDt" })
                                                @*@Html.DropDownListFor(m => m.Balance.Acccategory, new SelectList(LocationList, "LocCode", "LocName"), "", new { @class = "required select2 required2 required form-control" })*@
                                            </div>
                                        </div>
                                    </td>
                                    <td class="center col-md-5">
                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @Html.TextBoxFor(m => m.CriteriaMd.DriverName, "", new { @class = "form-control CustomerDDL" })
                                                @*@Html.DropDownListFor(m => m.Balance.Acccode, new SelectList(LocationList, "LocCode", "LocName"), "", new { @class = "required select2 required2 required form-control" })
                        @Html.HiddenFor(c => c.Balance.Acccode)*@
                                            </div>
                                        </div>
                                    </td>
                                </tr>


                                <tr>
                                    <th class="center">
                                        Select Type
                                    </th>
                                    <th class="center">
                                        Effective Account
                                    </th>
                                    <th class="center">
                                        Enter Location
                                    </th>
                                    <th class="center">
                                        Enter Employee
                                    </th>
                                </tr>
                                <tr>
                                    <td class="center col-md-3">
                                        <div class="form-group">
                                            <label class="col-md-11">
                                                @*@Html.RadioButtonFor(m => m.CriteriaMd.Selectedtype, "Employee", new { @class = "form-control required required2 rdo" })*@
                                                <label class="radio-inline">
                                                    <input class="form-control required required2 rdo" name="Selectedtype" id="Employee" value="Employee" type="radio" />
                                                </label>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="center col-md-4">
                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @Html.DropDownListFor(m => m.CriteriaMd.EmployeeEffectiveAccount, new SelectList(EmpList, "acccode", "accdesc"), "", new { @class = "select2 form-control CstDt" })
                                            </div>
                                        </div>
                                    </td>
                                    <td class="center col-md-4">
                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @Html.TextBoxFor(m => m.CriteriaMd.EmployeeLocationName, "", new { @class = "form-control LocationDDL CstDt" })
                                                @*@Html.DropDownListFor(m => m.Balance.Acccategory, new SelectList(LocationList, "LocCode", "LocName"), "", new { @class = "required select2 required2 required form-control" })*@
                                            </div>
                                        </div>
                                    </td>
                                    <td class="center col-md-5">
                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @Html.TextBoxFor(m => m.CriteriaMd.EmployeeName, "", new { @class = "form-control CustomerDDL" })
                                                @*@Html.DropDownListFor(m => m.Balance.Acccode, new SelectList(LocationList, "LocCode", "LocName"), "", new { @class = "required select2 required2 required form-control" })
                        @Html.HiddenFor(c => c.Balance.Acccode)*@
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-actions fluid" id="SubmitBtn">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-8">
                            <a href="@Url.Content("~/Master/SettingOpeningBalance")" class="btn btn-sm default"><i class="fa fa-refresh"></i>&nbsp;Reset</a>
                            <button type="button" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#submit_form');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }

            });
        }

        var Events = function (DomainName){

            $("#CriteriaMd_CustLocationName").live("change" ,function () {
                console.log("Test");
                var Lc = $(this).val();
                console.log(Lc);
                var StrUrl = DomainName + '/Master/GetCustomerListByBranchJson?Loc=' + Lc;
                console.log(StrUrl);
                var Ids = $("#CriteriaMd_CustomerName").attr('id');
                JsonDDL(Ids, StrUrl, false);
            });


            $(".rdo").live('change', function () {
                var checked = jQuery(this).is(":checked");
                var Lc = $(this).val();
                $(".CstDt").removeClass("required required2");
                if (Lc == "Customer") {
                    $("#CriteriaMd_CustEffectiveAccount").addClass("required required2");
                    $("#CriteriaMd_CustLocationName").addClass("required required2");
                } else if (Lc == "Vendor") {
                    $("#CriteriaMd_VendEffectiveAccount").addClass("required required2");
                    $("#CriteriaMd_VendorLocationName").addClass("required required2");
                }
                else if (Lc == "Employee") {
                    $("#CriteriaMd_EmployeeEffectiveAccount").addClass("required required2");
                    $("#CriteriaMd_EmployeeLocationName").addClass("required required2");
                }
                else if (Lc == "Driver") {
                    $("#CriteriaMd_DriverEffectiveAccount").addClass("required required2");
                    $("#CriteriaMd_DriverLocationName").addClass("required required2");
                }
                $("#CriteriaMd_Selectedtype").val($('input[name=Selectedtype]:checked').val())
            });



        }

        return {
            init: function (DomainName) {
                Formvalidate(DomainName);
                Events(DomainName);
                $("#btnSubmit").click(function () {
                    App.blockUI({ boxed: true });
                    if (!$('#submit_form').valid()) {
                        App.unblockUI();
                        return false;
                    }
                    $("#btnSubmit").attr("disabled", true);
                    document.forms["submit_form"].submit();
                });

                var CustId = $("#CriteriaMd_CustLocationName").attr('id');
                var VendId = $("#CriteriaMd_VendorLocationName").attr('id');
                var EmpId = $("#CriteriaMd_EmployeeLocationName").attr('id');
                var driverId = $("#CriteriaMd_DriverLocationName").attr('id');

                JsonDDL(CustId, DomainName + '/Contract/GetlocationListJson', false);
                JsonDDL(VendId, DomainName + '/Contract/GetlocationListJson', false);
                JsonDDL(EmpId, DomainName + '/Contract/GetlocationListJson', false);
                JsonDDL(driverId, DomainName + '/Contract/GetlocationListJson', false);
                var VndNm = $("#CriteriaMd_VendorName").attr('id');
                JsonDDL(VndNm, DomainName + '/Master/SearchVendorListJson', false);
                var EmppNm = $("#CriteriaMd_EmployeeName").attr('id');
                JsonDDL(EmppNm, DomainName + '/Master/GetEmplyoee_NameJson', false);
                var driverNm = $("#CriteriaMd_DriverName").attr('id');
                JsonDDL(driverNm, DomainName + '/Master/SearchDriverListJson', false);

            }
        }
    }();
</script>