﻿@model Fleet.ViewModels.SMTaskViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "SM Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                </div>
                <div class="tools">
                    <div>
                        <a href="~/Master/AddEditSMTask/0" class="btn btn-xs default blue-stripe pull-right" id="addEdit" data-toggle="modal">
                            <i class="fa fa-plus"></i>  Add SM Task
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="SparePartList" style="overflow-x: scroll">
                    <thead>
                        <tr>
                            <th class="center">
                                Vehicle Models
                            </th>
                            <th class="center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.listSMTASK)
                        {
                            string TrId = "TR" + item.SMTask_Id.ToString();
                            <tr id="@TrId">
                                <td class="center">
                                    @Html.HiddenFor(c => item.SMTask_Id)
                                    @item.VEH_TYPE_NAME
                                </td>
                                <td class="center">
                                    <button type="button" class="btn default btn-xs blue-stripe tooltips btnMasterEdit" title="Edit" id="btnEdit_@item.SMTask_Id.ToString()" data-id="@item.SMTask_Id" rel="tooltip" data-placement="top">
                                        <i class="fa fa-pencil"></i>&nbsp;Edit
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                $(".btnMasterEdit").live('click', function () {
                    var Id = $(this).data('id');
                    window.location.replace(DomainName + '/Master/AddEditSMTask/' + Id);
                });
            }
        }
    }();
</script>