﻿@model Fleet.ViewModels.SparePartViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "Spare Part";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label col-md-3">
                                Select  Date :
                            </label>
                            <div class="col-md-6">
                                <div id="reportrange" class="btn default">
                                    <i class="fa fa-calendar"></i>
                                    &nbsp;
                                    <span></span>
                                    <b class="fa fa-angle-down"></b>
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(c => c.SFM.FromDate)
                        @Html.HiddenFor(c => c.SFM.ToDate)

                        <div class="col-md-4 pull-right">
                            <a href="#" class="btn btn-sm default blue-stripe" id="GetList" data-toggle="modal">
                                <i class="fa fa-list"></i>  Get Spare Part List
                            </a>
                            <a href="@Url.Content("~/Master/AddEditSparePart")" class="btn btn-sm default blue-stripe" id="addEdit" data-toggle="modal">
                                <i class="fa fa-plus"></i>  Add Spare Part
                            </a>
                        </div>
                    </div>
                </div>
                <hr />
                <div id="tblData" style="display:none;">
                    @{
                        Html.RenderPartial("_SparePartList", Model.listWFSHM.ToList());
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }
        var Events = function (DomainName) {
            handleDateRangePickers('reportrange', 'SFM_FromDate', 'SFM_ToDate');
        }
        var bindTable = function (fromdate, todate, DomainName) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Master/GetSparePartByDate?Fromdate=' + fromdate + '&Todate=' + todate;
            $.ajax({
                url: strUrl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#tblData").hide(1000);
                    $('#SparePartList').dataTable({
                        "bDestroy": true
                    }).fnDestroy();
                    $("#SparePartList").html(data);
                    App.unblockUI();
                    $("input:checkbox, input:radio").uniform();
                    initTableById("SparePartList");
                    $("#tblData").toggle(1000);
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                Events(DomainName);
                $('#GetList').click(function () {
                    var fromdate = $("#SFM_FromDate").val();
                    var todate = $("#SFM_ToDate").val();
                    bindTable(fromdate, todate, DomainName);
                });
                initTableById("SparePartList");
                $(".btnMasterEdit").live('click', function () {
                    var Id = $(this).data('id');
                    window.location.replace(DomainName + '/Master/AddEditSparePart/' + Id);
                });
            }
        }
    }();
</script>