﻿@model Fleet.ViewModels.Webx_StateViewModel

@using Fleet.Models
@{
    ViewBag.Title = "State Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-7">
        <div id="AddEditGeneralMaster">
            @{Html.RenderPartial("_AddEditState", Model);}
        </div>
    </div>
    <div class="col-md-5">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>State List
                </div>
                <div class="caption pull-right">
                    <a href="@Url.Content("~/Master/ExportData?MethodName=State_Master&FileName=State_Master_List")" class="btn default btn-xs controls"><i class="fa fa-download"></i>&nbsp;Download Excel</a>
                </div>
            </div>
            <div class="portlet-body">
                @{
                    Html.RenderPartial("_StateList", Model);
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }

            });
        }

        var GetObjectDet = function (id, DomainName) {
            App.blockUI({ boxed: true });
            var strurl = DomainName + '/Master/StateMasters?id=' + id;
            $.ajax({
                url: strurl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#AddEditGeneralMaster").html(data);
                    $(".select2").select2({
                        placeholder: "Select an option",
                        allowClear: false
                    });
                    $("input:checkbox, input:radio").uniform();
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    //alert("error--" + req + "---" + status + "---" + error);
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        var CheckDuplicate = function (DomainName) {
            App.blockUI({
                target: '#addNew',
                overlayColor: 'none',
                cenrerY: true,
                boxed: true
            });
            var Statename = $("#WST_stnm").val();
            var strurl = DomainName + '/Master/CheckDuplicateStateMaster?Statename=' + Statename;
            $.ajax({
                url: strurl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    if (data > "0") {
                        TosterNotification("error", 'State <b>"' + Statename + '"</b> already exists!!!', "Oppps..!!");
                        $("#WST_stnm").val("");
                        $("#WST_stnm").focus();
                        $("#WST_stnm").select();
                    }
                    App.unblockUI('#addNew');
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI('#addNew');
                }
            });
        }

        var handleselect2 = function () {
            $(".select2").select2({
                placeholder: "Select an option"
            });
        }

        var AddDocumentList = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Master/DocumentList/' + itemIndex;
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#containerTblSubItem").append(html);
                    App.unblockUI();
                    $("#DocumentList_" + itemIndex + "__inoutbound").select2({
                        placeholder: "Select an option"
                    });
                    //$("input[type=checkbox], input:radio, input:file").uniform();
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                }
            });
        }

        var bindTable = function (DomainName) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Master/StateMastersList';
            $.ajax({
                url: strUrl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $('#StateMaster').dataTable({
                        "bDestroy": true
                    }).fnDestroy();
                    $("#StateMaster").html(data);
                    App.unblockUI();
                    $("input:checkbox, input:radio").uniform();
                    initTable(DomainName);
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        var initTable = function (DomainName) {
            $('#StateMaster').dataTable({
                "aLengthMenu": [
                    [5, 10, 15, 20, -1],
                    [5, 10, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap",
                "bProcessing": true,
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "bDestroy": true,
                "aoColumnDefs": [
                     //{ 'bSortable': false, 'aTargets': [0] },
                     //{ "bSearchable": false, "aTargets": [0] }
                ]
            });

            jQuery('#StateMaster_wrapper .dataTables_filter input').addClass("form-control input-medium input-inline"); // modify table search input
            jQuery('#StateMaster_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
            jQuery('#StateMaster_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);

                $("#WST_stnm").change(function () {
                    CheckDuplicate(DomainName);
                });

                $(".btnStateEdit").live('click', function (e) {                    
                    var id = $(this).attr("id").replace("Edit_", "");
                    GetObjectDet(id, DomainName);
                });

                $("#btnCancel").live('click', function (e) {
                    GetObjectDet("0", DomainName);
                });

                $("#btnSave").live('click', function (e) {
                    App.blockUI({ boxed: true });
                    if (e.handled !== true) // This will prevent event triggering more then once
                    {
                        e.handled = true;
                        Formvalidate(DomainName);
                        if (!$('#form_sample').valid()) {
                            App.unblockUI();
                            return;
                        }
                        $.ajax({
                            url: DomainName + '/Master/AddEditStateMaster',
                            cache: false,
                            data: $("#form_sample").serialize(),
                            type: 'GET',
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                if (data) {
                                    TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                    GetObjectDet("0", DomainName);
                                    bindTable(DomainName);
                                }
                                else {
                                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                                }
                                App.unblockUI();
                            },
                            error: function (req, status, error) {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                                App.unblockUI();
                            }
                        });
                        $("input:checkbox, input:radio").uniform();
                    }
                });

                $('#WST_stax_exmpt_yn').change(function () {
                    $(this).val($(this).prop('checked'));
                });

                $('#WST_activeflag').change(function () {
                    $(this).val($(this).prop('checked'));
                });

                $("#btnAddrows").click(function () {
                    var itemIndex = $("#tblSubItem input.iHidden").length + 1;
                    var TOTROW = $("#NoofRows").val();
                    for (var i = 0; i <= TOTROW - 1; i++) {
                        setTimeout(function () {
                            AddDocumentList(DomainName, itemIndex);
                            itemIndex = itemIndex + 1;
                        }, 100 * i);
                    }
                    $("#NoofRows").val(0);

                });

                $("a.deleteRow").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });

                $("input:checkbox, input:radio").uniform();

                $('.input-datepicker').datepicker().on('changeDate', function (ev) {
                    $(this).datepicker('hide');
                });

                initTable(DomainName);
            }
        }
    }();
</script>
