﻿@model Fleet.ViewModels.SubCustAssignDKTseriesViewModel
@using Fleet.Helpers
@using FleetDataService.Models;
@{
    ViewBag.Title = "SubCustomer Assign Docket Series";

    

}

@using (Html.BeginForm("SubCustAssignDKTseriesSubmit", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-8">
                                            <label class="control-label col-md-4">Main Customer :</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(m => m.ObjCDCD.CustomerCode, new { @class = "required2 required form-control divCrieteria", placeholder = "Select Customer" })
                                                @Html.HiddenFor(m => m.ObjCDCD.CustCode)
                                                @Html.HiddenFor(m => m.ObjCDCD.SrFrom)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                            </div>
                            <div id="DktassignList">
                                @foreach (var item in Model.ListCDCD)
                                {
                                    Html.RenderPartial("_subcustassigndktseries", item);
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid" id="SubmitBtnList">
                        <div class="row">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="button" id="btnSubmit" class="btn btn-sm green"><i class="fa fa-check"></i>&nbsp; Submit</button> 
                                <a href="@Url.Content("~/Master/SubCustAssignDKTseriesCriteria")" class="btn btn-sm default controls Rate">&nbsp;Back To Criteria </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var FormValidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span',
                errorClass: 'help-block',
                focusInvalid: false,
                ignore: "",
                rules: {},
                messages: {},
                invalidHandler: function (event, validator) {
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                success: function (label) {
                    label.closest('.form-group').removeClass('has-error');
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    // document.forms["form_sample"].submit()
                }
            });
        }

        var Events = function (DomainName) {
                App.blockUI({ boxed: true });
                $.ajax({
                    url: DomainName + "/Master/SubCustAssignDKTseriescriteraList?Cust=" + $("#ObjCDCD_CustCode").val() + "&Type=" + "2",
                    type: 'POST',
                    data: $('#form_sample').serialize(),
                    success: function (data) {
                        $(".divCrieteria").prop("readonly", true);
                        $("#DktassignList").html(data);
                        App.unblockUI();
                        $("#SubmitBtnList").show();
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        App.unblockUI();
                    }
                });
        }

        return {
            init: function (DomainName) {
               
                $("#SubmitBtnList").hide();
                
                Events(DomainName);
                
                $("#btnSubmit").click(function () {

                    if ($('#form_sample').valid()) {
                        App.blockUI({ boxed: true });
                        document.forms["form_sample"].submit()
                    }
                    else {
                        return false
                    }
                });
            }
        }
    }();
</script>

