﻿@{
    ViewBag.Title = "Tyre Size List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="AddEditTyreSize"></div>
<div class="row" style="display:none;">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a class="btn default btn-xs" href="#" id="addEdit" data-toggle="modal">
                        <i class="fa fa-plus"></i>
                        Add Tyre Size
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="TyreSizeList" style="overflow-x: scroll;">
                    <thead>
                        <tr>
                            <th class="center">
                                Tyre Size Code
                            </th>
                            <th class="center">
                                Size Name
                            </th>
                            <th class="center">
                                Tyre Type Category
                            </th>
                            <th class="center">
                                Active
                            </th>
                            <th class="center">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            $.validator.addMethod('checkSizeName', function (value) {

                    var StrURL = DomainName + '/Master/CheckDuplicateTyreSizeCode?TYRE_SIZEID=' + $("#TYRE_SIZEID").val() + '&TYRE_SIZENAME=' + $("#TYRE_SIZENAME").val();
                    // alert("hello " + StrURL);
                    var result1 = $.ajax({
                        async: false,
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        url: StrURL,
                        dataType: 'json',
                        data: {},
                    });

                    var d1 = JSON.parse(result1.responseText);                     
                     
                    if (d1.Count == "0") {
                        return true;
                    }
                    else {
                        return false;
                    }
            }, "Tyre Size " + $("#TYRE_SIZENAME").val() +  " is already is exist!!!");

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                    'TYRE_SIZENAME': {
                        checkSizeName: true,

                    },
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var loadData = function (DomainName, tblId) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Master/GetTyreSizeListJson'
            $.ajax({
                url: strUrl,
                type: 'POST',
                success: function (result) {
                    $('#' + tblId).DataTable({
                        data: result,
                        columns: [
                            { data: "TYRE_SIZEID" },
                            { data: "TYRE_SIZENAME" },
                            { data: "TYRETYPE" },
                            { data: "SIZE_ACTIVEFLAG" },
                            { data: "TYRE_SIZEID" }
                        ],
                        "aoColumnDefs": [
                            {
                                "aTargets": [3],
                                "mRender": function (data, type, full) {
                                    if (data == "Y") {
                                        return '<span class="badge badge-success">Yes</span>';
                                    }
                                    else {
                                        return '<span class="badge badge-danger">No</span>';
                                    }
                                }
                            }, {
                                "aTargets": [4],
                                "mRender": function (data, type, full) {
                                    //alert(data)
                                    return '<button type="button" class="btn default btn-xs blue-stripe btnTyreSizeEdit" data-id="' + data + '"><i class="fa fa-pencil"></i>&nbsp;Edit</button>';
                                }
                            }, ],
                        "createdRow": function (row, data, index) {
                            $('td', row).addClass('center');
                            $('td', row).addClass('text-uppercase');
                        }
                    });
                    jQuery('#' + tblId + '_wrapper .dataTables_filter input').addClass("form-control input-medium input-inline"); // modify table search input
                    jQuery('#' + tblId + '_wrapper .dataTables_filter').addClass("pull-right");
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
                    $('#' + tblId).parents('.row').show(500);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        var GetObjectDet = function (id, DomainName) {
            App.blockUI({ boxed: true });
            var strurl = DomainName + '/Master/GetTyreSizeDetails/' + id;
            App.scrollTop();
            $.ajax({
                url: strurl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#AddEditTyreSize").hide();
                    $("#AddEditTyreSize").html(data);
                    CallSubmitClick(DomainName);
                    $("input:checkbox, input:radio").uniform();
                    $(".dropDown").select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    App.unblockUI();
                    Formvalidate(DomainName);
                    $("#AddEditTyreSize").toggle(1000);
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }

            });

        }

        var CallSubmitClick = function (DomainName) {

            $("#btnSave").click(function (e) {
                App.blockUI({ boxed: true });
                if (e.handled !== true) // This will prevent event triggering more then once
                {
                    e.handled = true;
                    Formvalidate(DomainName);
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return;
                    }
                    var TYRE_SIZEID = $("#TYRE_SIZEID").val();
                    var TYRE_SIZENAME = $("#TYRE_SIZENAME").val();
                    var TYRE_TYPEID = $("#TYRE_TYPEID").val();
                    var SIZE_ACTIVEFLAG = $("#SIZE_ACTIVEFLAG").prop('checked');

                    var TyreSize =
                                    {
                                        "TYRE_SIZEID": TYRE_SIZEID,
                                        "TYRE_SIZENAME": TYRE_SIZENAME,
                                        "TYRE_TYPEID": TYRE_TYPEID,
                                        "SIZE_ACTIVEFLAG": SIZE_ACTIVEFLAG
                                    };

                    $.ajax({
                        url: DomainName + '/Master/AddEditTyreSize',
                        cache: false,
                        data: JSON.stringify(TyreSize),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data == "True") {
                                TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                $("#AddEditTyreSize").hide(1000);
                                $('#TyreSizeList').dataTable({
                                    "bDestroy": true
                                }).fnDestroy();
                                loadData(DomainName, 'TyreSizeList');
                            }
                            else {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            }
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                    $("input:checkbox, input:radio").uniform();
                }
            });
        }

        var Events = function (DomainName) {

            $("#addEdit").click(function () {
                GetObjectDet("", DomainName);
            });

            $(".btnCancel").live('click', function (e) {
                $("#AddEditCityMaster").hide(1000);
            });

            $(".btnTyreSizeEdit").live('click', function (e) {
                var id = $(this).data('id');
                GetObjectDet(id, DomainName);
            });

            $("#SizeNameFirst").live('change', function (e) {
                var tyreSizeName = "";
                if ($("#SizeNameFirst").val() != "" && $("#SizeNameFirst").val() != null) {
                    $("#TYRE_SIZENAME").val($(this).val());
                }
                else {
                    $("#SizeNameSecond").val("");
                    $("#SizeNameThird").val("");
                }
            });

            $("#SizeNameSecond").live('change', function (e) {
                var tyreSizeName = "";
                if ($("#SizeNameFirst").val() != "" && $("#SizeNameFirst").val() != null) {
                    tyreSizeName = $("#SizeNameFirst").val();
                    if ($(this).val() != "" && $(this).val() != null) {
                        tyreSizeName = tyreSizeName + "X" + $(this).val();
                    }
                    else {
                        $("#SizeNameThird").val("");
                    }
                }
                $("#TYRE_SIZENAME").val(tyreSizeName);
            });

            $("#SizeNameThird").live('change', function (e) {
                var tyreSizeName = "";
                if ($("#SizeNameFirst").val() != "" && $("#SizeNameFirst").val() != null) {
                    tyreSizeName = $("#SizeNameFirst").val();
                    if ($("#SizeNameSecond").val() != "" && $("#SizeNameSecond").val() != null) {
                        tyreSizeName = tyreSizeName + "X" + $("#SizeNameSecond").val();
                        if ($(this).val() != "" && $(this).val() != null) {
                            tyreSizeName = tyreSizeName + "-" + $(this).val();
                        }
                    }
                }
                $("#TYRE_SIZENAME").val(tyreSizeName);
            });

        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Events(DomainName);
                CallSubmitClick(DomainName);
                loadData(DomainName, 'TyreSizeList');
                Formvalidate(DomainName);
            }
        }
    }();

</script>