﻿@{
    ViewBag.Title = "Tyre Manufacture List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="AddEditTyreMFG"></div>
<div class="row" style="display:none;">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a class="btn default btn-xs" href="#" id="addEdit" data-toggle="modal">
                        <i class="fa fa-plus"></i>
                        Add Tyre MFG
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="TyreMFGList" style="overflow-x: scroll;">
                    <thead>
                        <tr>
                            <th class="center">
                                Manufacturer Name
                            </th>
                            <th class="center">
                                Manufacturer TelNo
                            </th>
                            <th class="center">
                                Manufacturer Address
                            </th>
                            <th class="center">
                                Active
                            </th>
                            <th class="center">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var loadData = function (DomainName, tblId) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Master/GetTyreMFGListJson'
            $.ajax({
                url: strUrl,
                type: 'POST',
                success: function (result) {
                    $('#' + tblId).DataTable({
                        data: result,
                        columns: [
                            { data: "MFG_NAME" },
                            { data: "MFG_TELNO" },
                            { data: "MFG_ADDR" },
                            { data: "MFG_ACTIVEFLAG" },
                            { data: "MFG_ID" }
                        ],
                        "aoColumnDefs": [
                            {
                                "aTargets": [3],
                                "mRender": function (data, type, full) {
                                    if (data == "Y") {
                                        return '<span class="badge badge-success">Yes</span>';
                                    }
                                    else {
                                        return '<span class="badge badge-danger">No</span>';
                                    }
                                }
                            }, {
                                "aTargets": [4],
                                "mRender": function (data, type, full) {
                                    //alert(data)
                                    return '<button type="button" class="btn default btn-xs blue-stripe btnTyreMFGEdit" data-id="' + data + '"><i class="fa fa-pencil"></i>&nbsp;Edit</button>';
                                }
                            }, ],
                        "createdRow": function (row, data, index) {
                            $('td', row).addClass('center');
                            $('td', row).addClass('text-uppercase');
                        }
                    });
                    jQuery('#' + tblId + '_wrapper .dataTables_filter input').addClass("form-control input-medium input-inline"); // modify table search input
                    jQuery('#' + tblId + '_wrapper .dataTables_filter').addClass("pull-right");
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
                    $('#' + tblId).parents('.row').show(500);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }       

        var GetObjectDet = function (id, DomainName) {
            App.blockUI({ boxed: true });
            var strurl = DomainName + '/Master/GetTyreMFGDetails/' + id;
            App.scrollTop();
            $.ajax({
                url: strurl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#AddEditTyreMFG").hide();
                    $("#AddEditTyreMFG").html(data);
                    CallSubmitClick(DomainName);
                    $("input:checkbox, input:radio").uniform();
                    $(".dropDown").select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    App.unblockUI();
                    $("#AddEditTyreMFG").toggle(1000);
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }

            });

        }

        var CheckDuplicateTyreMFG = function (DomainName) {

            $("#MFG_NAME").live('blur', function () {
                if ($(this).val() == null || $(this).val() == "") {
                    return false;
                }

                App.blockUI({ boxed: true });
                var id = $("#MFG_ID").val();
                var code = $(this).val();
                var strurl = DomainName + '/Master/CheckDuplicateTyreMFGCode?id=' + id + '&code=' + code;
                $.ajax({
                    url: strurl,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (data) {
                        if (data.Count > 0) {
                            TosterNotification("error", 'Tyre MFG Code <b>"' + code.toUpperCase() + '"</b> already exists!!!', "Oppps..!!");
                            $("#MFG_NAME").val('');
                            $("#MFG_NAME").focusin();
                            $("#MFG_NAME").select();
                        }
                        App.unblockUI();
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        App.unblockUI();
                    }
                });

            });
        }

        var CallSubmitClick = function (DomainName) {

            $("#btnSave").click(function (e) {
                App.blockUI({ boxed: true });
                if (e.handled !== true) // This will prevent event triggering more then once
                {
                    e.handled = true;
                    Formvalidate(DomainName);
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return;
                    }
                  
                    $.ajax({
                        url: DomainName + '/Master/AddEditTYREMFG',
                        cache: false,
                        data: $('#form_sample').serialize(),
                        type: 'POST',
                        //contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data) {
                                TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                $("#AddEditTyreMFG").hide(1000);
                                $('#TyreMFGList').dataTable({
                                    "bDestroy": true
                                }).fnDestroy();
                                loadData(DomainName, 'TyreMFGList');
                            }
                            else {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            }
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                    $("input:checkbox, input:radio").uniform();
                }
            });
        }
        
        var Events = function (DomainName) {

            $("#addEdit").click(function () {
                GetObjectDet("0", DomainName);
            });

            $(".btnCancel").live('click', function (e) {
                $("#AddEditCityMaster").hide(1000);
            });

            $(".btnTyreMFGEdit").live('click', function (e) {
                var id = $(this).data('id');
                GetObjectDet(id, DomainName);
            });

            $(document).on('change', '#Active', function () {
                $('#MFG_ACTIVEFLAG').val($(this).is(':checked') ? 'Y' : 'N')
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Events(DomainName);
                Formvalidate(DomainName);
                CallSubmitClick(DomainName);
                CheckDuplicateTyreMFG(DomainName);
                loadData(DomainName, 'TyreMFGList');
            }
        }
    }();

</script>