﻿@{
    ViewBag.Title = "Tyre Model List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="AddEditTyreModel"></div>
<div class="row" style="display:none;">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a class="btn default btn-xs" href="#" id="addEdit" data-toggle="modal">
                        <i class="fa fa-plus"></i>
                        Add Tyre Model
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="TyreModelList" style="overflow-x: scroll;">
                    <thead>
                        <tr>
                            <th class="center">
                                Tyre Model No
                            </th>
                            <th class="center">
                                Tyre Model Description
                            </th>
                            <th class="center">
                                Tyre Manufacturer
                            </th>
                            <th class="center">
                                Tyre Pattern Name
                            </th>
                            <th class="center">
                                Tyre Size
                            </th>
                            <th class="center">
                                Active
                            </th>
                            <th class="center">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var loadData = function (DomainName, tblId) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Master/GetTyreModelListJson'
            $.ajax({
                url: strUrl,
                type: 'POST',
                success: function (result) {
                    $('#' + tblId).DataTable({
                        data: result,
                        columns: [
                            { data: "MODEL_NO" },
                            { data: "MODEL_DESC" },
                            { data: "MFG_NAME" },
                            { data: "TYREPAT_CODE" },
                            { data: "TYRE_SIZENAME" },
                            { data: "ACTIVE_FLAG" },
                            { data: "TYRE_MODEL_ID" }
                        ],
                        "aoColumnDefs": [
                            {
                                "aTargets": [5],
                                "mRender": function (data, type, full) {
                                    if (data == "Y") {
                                        return '<span class="badge badge-success">Yes</span>';
                                    }
                                    else {
                                        return '<span class="badge badge-danger">No</span>';
                                    }
                                }
                            }, {
                                "aTargets": [6],
                                "mRender": function (data, type, full) {
                                    //alert(data)
                                    return '<button type="button" class="btn default btn-xs blue-stripe btnTyreModelEdit" data-id="' + data + '"><i class="fa fa-pencil"></i>&nbsp;Edit</button>';
                                }
                            }, ],
                        "createdRow": function (row, data, index) {
                            $('td', row).addClass('center');
                            $('td', row).addClass('text-uppercase');
                        }
                    });
                    jQuery('#' + tblId + '_wrapper .dataTables_filter input').addClass("form-control input-medium input-inline"); // modify table search input
                    jQuery('#' + tblId + '_wrapper .dataTables_filter').addClass("pull-right");
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
                    $('#' + tblId).parents('.row').show(500);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        var GetObjectDet = function (id, DomainName) {
            App.blockUI({ boxed: true });
            var strurl = DomainName + '/Master/GetTyreModelDetails/' + id;
            App.scrollTop();
            $.ajax({
                url: strurl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#AddEditTyreModel").hide();
                    $("#AddEditTyreModel").html(data);
                    CallSubmitClick(DomainName);
                    $("input:checkbox, input:radio").uniform();
                    $(".dropDown").select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    App.unblockUI();
                    $("#AddEditTyreModel").toggle(1000);
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }

            });

        }

        var CheckDuplicateCity = function (DomainName) {

            $("#MODEL_NO").live('blur', function () {
                if ($(this).val() == null || $(this).val() == "") {
                    return false;
                }
                App.blockUI({ boxed: true });
                var TYRE_MODEL_ID = $("#TYRE_MODEL_ID").val();
                var MODEL_NO = $(this).val();
                var strurl = DomainName + '/Master/CheckDuplicateTyreModelCode?TYRE_MODEL_ID=' + TYRE_MODEL_ID + '&MODEL_NO=' + MODEL_NO;
                $.ajax({
                    url: strurl,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (data) {
                        if (data.Count > 0) {
                            TosterNotification("error", 'Tyre Model <b>"' + MODEL_NO.toUpperCase() + '"</b> already exists!!!', "Oppps..!!");
                            $("#MODEL_NO").focusin();
                            $("#MODEL_NO").select();
                            $("#MODEL_NO").val('');
                        }
                        App.unblockUI();
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        App.unblockUI();
                    }
                });

            });
        }

        var CallSubmitClick = function (DomainName) {

            $("#btnSave").click(function (e) {
                App.blockUI({ boxed: true });
                if (e.handled !== true) // This will prevent event triggering more then once
                {
                    e.handled = true;
                    Formvalidate(DomainName);
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return;
                    }
                    var TYRE_ModelID = $("#TYRE_ModelID").val();
                    var TYRE_ModelNAME = $("#TYRE_ModelNAME").val();
                    var TYRE_TYPEID = $("#TYRE_TYPEID").val();
                    var Model_ACTIVEFLAG = $("#Model_ACTIVEFLAG").prop('checked');

                    var TyreModel =
                                    {
                                        "TYRE_ModelID": TYRE_ModelID,
                                        "TYRE_ModelNAME": TYRE_ModelNAME,
                                        "TYRE_TYPEID": TYRE_TYPEID,
                                        "Model_ACTIVEFLAG": Model_ACTIVEFLAG
                                    };

                    $.ajax({
                        url: DomainName + '/Master/AddEditTyreModel',
                        cache: false,
                        data: $('#form_sample').serialize(),
                        type: 'POST',
                        //contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data == "True") {
                                TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                $("#AddEditTyreModel").hide(1000);
                                $('#TyreModelList').dataTable({
                                    "bDestroy": true
                                }).fnDestroy();
                                loadData(DomainName, 'TyreModelList');
                            }
                            else {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            }
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                    $("input:checkbox, input:radio").uniform();
                }
            });
        }

        var Events = function (DomainName) {

            $("#addEdit").click(function () {
                GetObjectDet("", DomainName);
            });

            $(".btnCancel").live('click', function (e) {
                $("#AddEditCityMaster").hide(1000);
            });

            $(".btnTyreModelEdit").live('click', function (e) {
                var id = $(this).data('id');
                GetObjectDet(id, DomainName);
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Events(DomainName);
                Formvalidate(DomainName);
                CallSubmitClick(DomainName);
                CheckDuplicateCity(DomainName);
                loadData(DomainName, 'TyreModelList');
            }
        }
    }();

</script>