﻿@{
    ViewBag.Title = "List of Tyre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="display:none;">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a class="btn default btn-xs" href="@Url.Content("~/Master/AddEditTyre")">
                        <i class="fa fa-plus"></i>
                        Add Tyre
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="TyreList" style="overflow-x: scroll;">
                    <thead>
                        <tr></tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var loadData = function (DomainName, tblId) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Master/GetData'
            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: 'json',
                data: { Method: 'GetTyreList' },

                success: function (result) {
                    $('#' + tblId).DataTable({
                        data: result.Table,
                        columns: GetHeaders(result.Table[0]),
                        "aoColumnDefs": [
                             {
                                 "aTargets": [1],
                                 "mRender": function (data, type, full) {
                                     if (data == "Y") {
                                         return '<span class="badge badge-success">Yes</span>';
                                     }
                                     else {
                                         return '<span class="badge badge-danger">No</span>';
                                     }
                                 }
                             }, {
                                 "aTargets": [0],
                                 "mRender": function (data, type, full) {
                                     //alert(data)
                                     return '<a href="@Url.Content("~/Master/AddEditTyre")?TyreId='+data+'" class="btn default btn-xs blue-stripe btnTyreEdit" data-id="' + data + '"><i class="fa fa-pencil"></i>&nbsp;Edit</a>';
                                 }
                             }, ],
                        "createdRow": function (row, data, index) {
                            $('td', row).addClass('center');
                            $('td', row).addClass('text-uppercase');
                        }
                    });
                    jQuery('#' + tblId + '_wrapper .dataTables_filter input').addClass("form-control input-medium input-inline"); // modify table search input
                    jQuery('#' + tblId + '_wrapper .dataTables_filter').addClass("pull-right");
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
                    $('#' + tblId).parents('.row').show(500);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        var Events = function (DomainName) {
          
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                loadData(DomainName, 'TyreList');
                Events(DomainName);
            }
        }
    }();
</script>