@model Fleet.ViewModels.vw_Series_ToBe_Alloted2ViewModel
@using FleetDataService.Models;
@{
    ViewBag.Title = "ReallocaDeallocate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> ListDocType = MS.GetGeneralMasterObject().Where(c => c.CodeType == "DOCS" && c.StatusCode == "Y").OrderBy(c => c.CodeDesc).ToList();
    List<Webx_Master_General> ListDocType2 = MS.GetGeneralMasterObject().Where(c => c.CodeType == "BUT" && c.StatusCode == "Y").OrderBy(c => c.CodeDesc).ToList();
    List<vw_Series_ToBe_Alloted2> listWDHM = new List<vw_Series_ToBe_Alloted2>();
}
@{
    <style>
        .form-actions {
            margin: 0;
            background-color: transparent; 
            text-align: center;
        }
    </style>
}
@using (Html.BeginForm("UpdateRealloCationSubmit", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>AllocatedDeallocate List
                </div>
            </div>

            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" style="overflow-x: scroll">
                    <thead class="flip-content">
                        <tr>
                            <th class="center">
                                Book Code
                            </th>
                            <th class="center">
                                Series From
                            </th>
                            <th class="center">
                                Series To
                            </th>
                            <th class="center">
                                Alloted On
                            </th>
                            <th class="center">
                                Alloted To
                            </th>
                            <th class="center">
                                Alloted Name
                            </th>
                            <th class="center">
                                Business Type
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.listVWSTBA2M)
                        {
                            Html.RenderPartial("_ReallocateDCCR",item);
                        }
                    </tbody>
                </table>
                <div class="form-group" style="align-items: center">
                    <div class="col-md-8">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-3">
                            <button type="button" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
<script type="text/javascript">
    var FormComponents = function (DomainName) {
        var Formvalidate = function (DomainName, formId) {

            var form1 = $('#' + formId);
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input

                rules: {
                },
                messages: {
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    error.insertAfter(element); // for other inputs, just perform default behavior
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    for (var i = 0; i < validator.errorList.length; i++) {

                    }
                    //validator.errorMap is an object mapping input names -> error messages
                    for (var i in validator.errorMap) {
                    }
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    //  form1.submit();
                }
            });
        }

        var bindTable = function (DOC_TYPE, DomainName) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + "/?Doc_Key=" + $("#VWSTBA2M_DOC_KEY").val() + "&Doc_Key=" + $("#VWSTBA2M_DOC_KEY").val() + "&Allote_to=" + $("#VWSTBA2M_Alloted_To").val() + "&Allote_by=" + $("#VWSTBA2M_Alloted_By").val();
            $.ajax({
                url: strUrl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    //Tbody Id get Result In Partial View
                    //$("#AdviceTable").html(data);
                    var status = true;
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        //var CallSubmitClick = function (DomainName) {
        //    $("#btnSubmit").live('click', function (e) {

        //        App.blockUI({ boxed: true });

        //        Formvalidate(DomainName);
        //        if (!$('#form_sample').valid()) {
        //            App.unblockUI();
        //            return;
        //        }
        //        document.forms["form_sample"].submit();

        //    });
        //}

        var Events = function (DomainName) {

            $("#btnSubmit").live('click', function (e) {

                App.blockUI({ boxed: true });

                Formvalidate(DomainName);
                if (!$('#form_sample').valid()) {
                    App.unblockUI();
                    var Type = $("#Type").val();
                    bindTable(DomainName, 'ReDeAllocateSeries', Type);
                    return;
                }
                document.forms["form_sample"].submit();

            });

        }
        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                Events(DomainName);

                
                $(".clsalloteto").each(function() 
                {
                    var Id = $(this).attr("id").replace("UpdateRealloCation_", "").replace("__Alloted_To", "");
                    StrURL = DomainName + "/Operation/GetDestinationLocationsWithoutSomeLocation";
                    JsonDDLSelectCode("UpdateRealloCation_" + Id + "__Alloted_To", StrURL);
                });
               
            }
        }
    }();
</script>