﻿@model IEnumerable<FleetDataService.Models.WebX_Master_Users>
@{
    ViewBag.Title = "List of Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="display:none;">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a href="@Url.Content("~/Master/ExportData?MethodName=User&FileName=User Master List")" class="btn default btn-xs controls"><i class="fa fa-download"></i>&nbsp;Download Excel </a>
                    @if (@ViewBag.BaseUserReadWrite == "W")
                    {
                        <a class="btn default btn-xs btnAddEdit" href="@Url.Content("~/Master/_AddEditUser")">
                            <i class="fa fa-plus"></i>
                            Add User
                        </a>
                    }
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="UserList" style="overflow-x: scroll;">
                    <thead>
                        <tr>
                            <th class="center">
                                User Id
                            </th>
                            <th class="center">
                                Employee Id
                            </th>
                            <th class="center">
                                User Name
                            </th>
                            <th class="center">
                                Active
                            </th>
                            <th class="center">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<a class="btn green hide" href="#PasswordResetmodal" id="PasswordReset" data-toggle="modal"></a>
<div id="PasswordResetmodal" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Reset User Password</h4>
            </div>
            <div class="modal-body">
                <div>
                    <h5>
                        <span>Password for User Name </span><b id="UserId"></b><span> will be the </span><b id="Password">123456</b><b id="type" hidden></b>.
                        <br />
                        <br />
                        <span>Are you sure you want you want to reset the password for the above user?</span>
                        <br />
                        <br />
                        <span>If yes then please press <b>"Confirm"</b> other wise kindly press "Close".</span>
                    </h5>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" id="btnClosePasswordResetmodal" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i> Close</button>
                <button class="btn green btn-primary" type="submit" id="btnSubmitPasswordResetmodal"><i class="fa fa-check"></i> Confirm</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function userView(Id) {
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        var strPopupURL = ReportURL + DomainName + "/ViewPrint/ViewUserDetails/" + Id;
        winNew = window.open(strPopupURL, "_blank", strWinFeature);
        return false;
    }

    var FormComponents = function (DomainName) {

        var loadData = function (DomainName, tblId) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Master/GetUserListJson'
            $.ajax({
                url: strUrl,
                type: 'POST',
                success: function (result) {
                    $('#' + tblId).DataTable({
                        data: result,
                        columns: [
                            { data: "UserId" },
                            { data: "EmpId" },
                            { data: "Name" },
                            { data: "Status" },
                            { data: "UserId" },
                        ],
                        "aLengthMenu": [
                            [5, 10, 15, 20, -1],
                            [5, 10, 15, 20, "All"] // change per page values here
                        ],
                        // set the initial value
                        "iDisplayLength": 10,
                        "aoColumnDefs": [
                            {
                                "aTargets": [3],
                                "mRender": function (data, type, full) {
                                    //alert(data)
                                    if (data == "100") {
                                        return '<span class="badge badge-success">Yes</span>';
                                    }
                                    else {
                                        return '<span class="badge badge-danger">No</span>';
                                    }
                                }
                            },
                                {
                                    "aTargets": [4],
                                    "mRender": function (data, type, full) {
                                        //alert(data)
                                        if ("@ViewBag.BaseUserName" == "CYGNUSTEAM" || "@ViewBag.BaseUserName" == "CSERP" || "@ViewBag.BaseUserName" == "BHARATIT" || "@ViewBag.BaseUserName" == "RAHULS" || "@ViewBag.BaseUserName" == "TAUFIK") {

                                            return '<a href="' + DomainName + '/Master/_AddEditUser/' + data.trim() + '" class="btn default btn-xs blue-stripe"><i class="fa fa-pencil"></i>&nbsp;Edit</a> &nbsp;'
                                                    + '<a href="' + DomainName + '/Master/ChangeRights/' + data.trim() + '" class="btn default btn-xs blue-stripe"><i class="fa fa-user"></i>&nbsp;Change Menu Rights</a> &nbsp;'
                                                    + '<a href="' + DomainName + '/Master/ChangeReportRights/' + data.trim() + '" class="btn default btn-xs blue-stripe"><i class="fa fa-user"></i>&nbsp;Change Reports Rights</a> &nbsp;'
                                                    + '<a href="#" class="btn default btn-xs blue-stripe PasswordReset" data-id=' + data.trim() + ' data-toggle="modal" data-type="1"><i class="fa fa-lock"></i>&nbsp;Reset Password</a> &nbsp;'
                                                    + '<a href="#" class="btn default btn-xs blue-stripe UnblockUser" data-id=' + data.trim() + ' data-toggle="modal" data-type="2"><i class="fa fa-user"></i>&nbsp;Unblock User</a> &nbsp;'
                                                    + '<button class="btn default btn-xs blue-stripe" onclick="javascript: userView(\'' + data.trim() + '\')" ><i class="fa fa-eye"></i>&nbsp;View</button>';
                                        }

                                        else {
                                            
                                            var ActionUrl = '';
                                            if ("@ViewBag.BaseUserReadWrite" == "W") {
                                                ActionUrl = ActionUrl + '<a href="' + DomainName + '/Master/_AddEditUser/' + data.trim() + '" class="btn default btn-xs blue-stripe"><i class="fa fa-pencil"></i>&nbsp;Edit</a> &nbsp;';
                                            }

                                            if ("@ViewBag.ChangeMenuRights" == "W") {
                                                ActionUrl = ActionUrl + '<a href="' + DomainName + '/Master/ChangeRights/' + data.trim() + '" class="btn default btn-xs blue-stripe"><i class="fa fa-user"></i>&nbsp;Change Menu Rights</a> &nbsp;';
                                            }
                                            if ("@ViewBag.ChangeReportsRights" == "W") {
                                                ActionUrl = ActionUrl + '<a href="' + DomainName + '/Master/ChangeReportRights/' + data.trim() + '" class="btn default btn-xs blue-stripe"><i class="fa fa-user"></i>&nbsp;Change Reports Rights</a> &nbsp;';
                                            }

                                            if ("@ViewBag.ResetPassword" == "W") {
                                                ActionUrl = ActionUrl + '<a href="#" class="btn default btn-xs blue-stripe PasswordReset" data-id=' + data.trim() + ' data-toggle="modal" data-type="1"><i class="fa fa-lock"></i>&nbsp;Reset Password</a> &nbsp;';
                                            }

                                            if ("@ViewBag.BlockUser" == "W") {
                                                ActionUrl = ActionUrl + '<a href="#" class="btn default btn-xs blue-stripe UnblockUser" data-id=' + data.trim() + ' data-toggle="modal" data-type="2"><i class="fa fa-user"></i>&nbsp;Unblock User</a> &nbsp;';
                                            }

                                            ActionUrl = ActionUrl + '<button class="btn default btn-xs blue-stripe" onclick="javascript: userView(\'' + data.trim() + '\')" ><i class="fa fa-eye"></i>&nbsp;View</button>';

                                            return ActionUrl;
                                           
                                        }
                                    }
                                },
                                //{
                                //"aTargets": [4],
                                //"mRender": function (data, type, full) {
                                //    //alert(data)
                                //    return '<div class="btn-group"><button id="btnGroupVerticalDrop1" type="button" class="btn btn-sm blue-stripe dropdown-toggle" data-toggle="dropdown">Actions <i class="fa fa-angle-down"></i></button><ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop1"><li><a href="' + DomainName + '/Master/_AddEditUser/' + data.trim() + '"><b><i class="fa fa-pencil"></i>&nbsp;Edit</b></a></li><li><a href="' + DomainName + '/Master/ChangeRights/' + data.trim() + '"><b><i class="fa fa-user"></i>&nbsp;Change Menu Rights</b></a></li><li><a href="' + DomainName + '/Master/ChangeReportRights/' + data.trim() + '"><b><i class="fa fa-user"></i>&nbsp;Change Reports Rights</b></a></li><li><a href="#" class="PasswordReset" data-id=' + data.trim() + ' data-toggle="modal"><b><i class="fa fa-lock"></i>&nbsp;Reset Password</b></a></li></ul></div>';
                                //}
                                //},
                        ],
                        "createdRow": function (row, data, index) {
                            $('td:eq(3)', row).addClass('center');
                            $('td:eq(0)', row).addClass('text-uppercase');
                            $('td:eq(1)', row).addClass('text-uppercase');
                            $('td:eq(4)', row).addClass('col-md-2 center');
                        }
                    });
                    jQuery('#' + tblId + '_wrapper .dataTables_filter input').addClass("form-control input-medium input-inline"); // modify table search input
                    jQuery('#' + tblId + '_wrapper .dataTables_filter').addClass("pull-right");
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
                    $('#' + tblId).parents('.row').show(500);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        var Events = function (DomainName) {
            $("#UserList a , .btnAddEdit").live("click", function (e) {
                App.blockUI({ boxed: true });
            });

            $(".UnblockUser").live('click', function () {
                $.ajax({
                    url: '@Url.Action("PasswordReset", "Master")',
                    type: "POST",
                    context: document.body,
                    data: { id: $(this).data('id'), newPassword: generateRandomString(6), type: $(this).data('type') },
                    success: function (data) {
                        if (data) {
                            TosterNotification("success", "Record has been updated successfully..!!", "Success");
                        }
                        else {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        }
                        $("#btnClosePasswordResetmodal").click();
                    },
                    error: function (err) {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        App.unblockUI();
                    }
                });
            });

            $(".PasswordReset").live('click', function () {
                $("#PasswordReset").click();
                $("#Password").html(generateRandomString(6));
                $("#UserId").html($(this).data('id'));
                $("#type").html($(this).data('type'));
                App.unblockUI();
            });

            $("#btnSubmitPasswordResetmodal").live('click', function () {
                var message = 'Do you want to change Default Password for this record?';
                if (confirm(message)) {
                    $.ajax({
                        url: '@Url.Action("PasswordReset", "Master")',
                        type: "POST",
                        context: document.body,
                        data: { id: $("#UserId").html(), newPassword: $("#Password").html(), type: $("#type").html() },
                        success: function (data) {
                            if (data) {
                                TosterNotification("success", "Record has been updated successfully..!!", "Success");
                            }
                            else {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            }
                            $("#btnClosePasswordResetmodal").click();
                        },
                        error: function (err) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                }
                else {
                    $("#btnClosePasswordResetmodal").click();
                }
            });

            $("#btnClosePasswordResetmodal , .close").click(function () {
                App.unblockUI();
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                loadData(DomainName, 'UserList');
                Events(DomainName);
            }
        }
    }();
</script>