﻿@model Fleet.ViewModels.UpdateVehicleKmViewModel
@{
    ViewBag.Title = "Update Vehicle KM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="display:none;">
    <div class="col-md-6">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;Update Vehicle KM List
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="VehicleKmMaster" style="overflow-x: scroll">
                    <thead>
                        <tr>
                            <th class="center">
                                Id
                            </th>
                            <th class="center">
                                Vehicle No
                            </th>
                            <th class="center">
                                Current KM
                            </th>
                            <th class="center">
                                KM Read
                            </th>
                            <th class="center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.listVehicleKm)
                        {
                            string TrId = "TR" + item.VEH_INTERNAL_NO.ToString();
                            <tr id="@TrId">
                                <td class="center">
                                    @item.VEH_INTERNAL_NO
                                    @Html.HiddenFor(c => item.VEH_INTERNAL_NO)
                                </td>
                                <td>
                                    @item.VEHNO
                                    @Html.HiddenFor(c => item.VEHNO)
                                </td>
                                <td>
                                    @item.Current_KM_Read
                                    @Html.HiddenFor(c => item.Current_KM_Read)
                                </td>
                                <td>
                                    <input type="text" class="form-control clsCodeDesc required" id="txt_@item.VEH_INTERNAL_NO" data-id="@item.VEH_INTERNAL_NO" value="@item.Tmp_Current_KM_Read" data-codetype="@item.Tmp_Current_KM_Read" disabled />
                                </td>
                                <td class="center">
                                    <button type="button" class="btn default btn-xs blue-stripe tooltips btnMasterEdit" title="Edit" id="btnEdit_@item.VEH_INTERNAL_NO.ToString()" data-codetype="@item.Tmp_Current_KM_Read" data-id="@item.VEH_INTERNAL_NO" rel="tooltip" data-placement="top">
                                        <i class="fa fa-pencil"></i>&nbsp;Edit
                                    </button>
                                    <button type="button" style="display:none" class="btn default btn-xs green-stripe tooltips btnMasterSave" title="Save" id="btnSave_@item.VEH_INTERNAL_NO.ToString()" data-codetype="@item.Tmp_Current_KM_Read" data-id="@item.VEH_INTERNAL_NO" rel="tooltip" data-placement="top">
                                        <i class="fa fa-save"></i>&nbsp;Save
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var CallSubmitClick = function (DomainName) {

            $(".btnMasterSave").click(function (e) {
                if (e.handled !== true) // This will prevent event triggering more then once
                {
                    e.handled = true;
                    var CodeId = $(this).data('id');
                    var CodeType = $(this).data('codetype');
                    savefn(DomainName, CodeId, CodeType);
                }
            });
        }

        var savefn = function (DomainName, CodeId, CodeType) {
            //alert(CodeId + "KM Read" + CodeType);
            App.blockUI({ boxed: true });
            Formvalidate(DomainName);
            var CodeDesc = $('#txt_' + CodeId).val();
            if (CodeDesc == "" || CodeDesc == null) {
                App.unblockUI();
                return;
            }
            var VehicleKmMaster =
                            {
                                "VEH_INTERNAL_NO": CodeId,
                                "Tmp_Current_KM_Read": CodeDesc
                            };
            $.ajax({
                url: DomainName + '/Master/AddEditVehicleKM',
                cache: false,
                data: JSON.stringify(VehicleKmMaster),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.Status) {
                        TosterNotification("success", "Record has been updated successfully..!!", "Success");
                        hideShow('0000');
                    }
                    else {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    }
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
            $("input:checkbox, input:radio").uniform();
        }

        var switchBtn = function () {

            $('.StatusCodeY').bootstrapSwitch('state', true);
            $('.StatusCodeY').bootstrapSwitch('size', 'mini');
            $('.StatusCodeN').bootstrapSwitch('state', false);
            $('.StatusCodeN').bootstrapSwitch('size', 'mini');

        }

        var hideShow = function (id) {
            $('.clsCodeDesc').attr('disabled', true);
            $('.clsCodeDesc').removeClass('required2');
            $('.btnMasterEdit').show();
            $('.btnMasterSave').hide();
            if (id != '0000') {
                $('#txt_' + id).attr('disabled', false);
                $('#txt_' + id).addClass('required2');
                $('#txt_' + id).val($('#txt_' + id).val())
                $('#txt_' + id).focus();
                $('#btnEdit_' + id).hide();
                $('#btnSave_' + id).show();
            }
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {

                Formvalidate(DomainName);
                $("#VehicleKmMaster").parents('.row').show(800);

                $(".btnCancel").live('click', function (e) {
                    $("#CodeDesc").val("");
                });

                $(".btnMasterEdit").live('click', function (e) {
                    var id = $(this).data('id');
                    hideShow(id);
                });

                $(".clsCodeDesc").live('dblclick', function (e) {
                    var id = $(this).data('id');
                    hideShow(id);
                });

                $(".clsCodeDesc").live('keypress', function (e) {
                    var key = e.KeyCode || e.which;
                    if (key == 13 || key == 9)  // the enter key code
                    {
                        savefn(DomainName, $(this).data('id'), $(this).data('codetype'))
                    }

                });

                CallSubmitClick(DomainName);

                switchBtn();

                initTableById("VehicleKmMaster");
            }
        }
    }();
</script>
