﻿@model Fleet.ViewModels.VehicleViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "Vehicle Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> listGeneralMaster = MS.GetGeneralMasterObject();
    //Model.ListGnMST.Where(c => c.CodeType.ToUpper() == "FTLTYP").OrderBy(c => c.CodeDesc).ToList();
    List<webx_VENDOR_HDR> ListVendor = new List<webx_VENDOR_HDR>();

    List<SelectList> lst = new List<SelectList>();

    string ACTIVEFLAG = "", GPS_Device_Enabled = "";

    List<webx_rutmas> routeList = MS.GetRutMstDetails();

    List<WEBX_FLEET_TYRESIZEMST> TyreSizelist = MS.GetTyreSizeList().Where(m => m.SIZE_ACTIVEFLAG == "Y").ToList();


    List<SelectListItem> routeTypeList = new List<SelectListItem>();


    routeTypeList.Add(new SelectListItem { Text = "Local", Value = "L" });
    routeTypeList.Add(new SelectListItem { Text = "Route", Value = "R" });

    if (Model.VehicleHDR.GPS_Device_Enabled != null && Model.VehicleHDR.GPS_Device_Enabled == "Y" || Model.EditFlag == "false")
    {
        GPS_Device_Enabled = "checked";
        Model.VehicleHDR.GPS_Device_Enabled = "Y";
    }
    if (Model.VehicleHDR.ACTIVEFLAG != null && Model.VehicleHDR.ACTIVEFLAG == "Y" || Model.EditFlag == "false")
    {
        ACTIVEFLAG = "checked";
        Model.VehicleHDR.ACTIVEFLAG = "Y";
    }

    Webx_State WS = new Webx_State();
    WS.stnm = "National Permit";
    WS.stcd = "A";
    Model.StatePermitList.Insert(0, WS);

    List<webx_location> ListLocations = new List<webx_location>();
    var Text = "Submit"; var type = "Add";
    if (Model.EditFlag == "true")
    {
        Text = "Update";
        type = "Edit";
        ListVendor = MS.GetVendorObject().Where(m => m.Vendor_Type == Model.VehicleHDR.VENDORTYPE).ToList();
        ListLocations = MS.GetLocationDetails();

    }

    if (Model.VehicleHDR.VEHNO != Model.VehicleHDR.VEHREGNO)
    {
        Model.VehicleHDR.VEHREGNO = Model.VehicleHDR.VEHNO;
    }
}

@using (Html.BeginForm("VehicleMasterSubmit", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-10">
            <h4>@type Vehicle <b>@Model.VehicleHDR.VEHNO</b></h4>
        </div>
        @if (Model.EditFlag == "true")
        {
            <div class="col-md-2">
                <a class="btn default blue-stripe pull-right" style="margin-top:5px;" href="@Url.Content("~/Master/Vehicle")">
                    <i class="fa fa-plus"></i>
                    Add Vehicle
                </a>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Vehicle Type
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.VehicleHDR.Vehicle_Type, new SelectList(Model.listVehicleType, "Type_Code", "Type_Name"), "", new { @class = "select2 required required2 form-control" })
                                        @Html.HiddenFor(model => model.EditFlag)
                                        @Html.HiddenFor(model => model.VehicleHDR.Conrtl_branch_Name)
                                        @Html.HiddenFor(model => model.VehicleHDR.Coordinator_Name)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Controlling Branch</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VehicleHDR.Conrtl_branch, new { @class = "required required2 form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Vehicle No.</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VehicleHDR.VEHNO, new { @class = "required required2 form-control", @placeholder = "Vehicle No", @minlength = 4, @maxlength = 11 })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Vendor Type</label>
                                    <div class="col-md-8 required">
                                        @Html.DropDownListFor(model => model.VehicleHDR.VENDORTYPE, new SelectList(listGeneralMaster.Where(c => c.CodeType.ToUpper() == "VENDTY" && c.StatusCode.ToUpper() == "Y").OrderBy(c => c.CodeDesc).ToList(), "CodeId", "CodeDesc"), "", new { @class = "select2 required required2 form-control", @placeholder = "Vendor Type" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Vendor Name</label>
                                    <div class="col-md-8 required">
                                        @Html.DropDownListFor(m => m.VehicleHDR.VENDORCODE, new SelectList(ListVendor, "VENDORCODE", "VENDORNAME"), "", new { @class = "form-control required required2 select2", @placeholder = "Vendor Name" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Permit State</label>
                                    <div class="col-md-8">
                                        @Html.DropDownList("VEHPERMIT", new SelectList(Model.StatePermitList, "stcd", "stnm"), "", new { @class = "form-control select2", @placeholder = "Select Locations", @multiple = "multiple" })
                                        @Html.HiddenFor(m => m.VehicleHDR.VEHPERMIT)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Routes</label>
                                    <div class="col-md-8">
                                        @Html.DropDownList("VEHROUTECD", new SelectList(routeList, "RUTCD", "RUTNM"), "", new { @class = "form-control select2", @placeholder = "RouteCode" })
                                        @Html.HiddenFor(m => m.VehicleHDR.VEHROUTECD)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">No. Of Drivers</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VehicleHDR.Drivers, new { @class = "form-control", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">GPS Device Enabled</label>
                                    <div class="col-md-3">
                                        @Html.HiddenFor(m => m.VehicleHDR.GPS_Device_Enabled)
                                        <input type="checkbox" class="chkactive" id="GPS_Device_Enabled" @GPS_Device_Enabled />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">FTL Type</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.VehicleHDR.ftltype, new SelectList(listGeneralMaster.Where(c => c.StatusCode == null ? c.StatusCode == "" : c.StatusCode.ToUpper() == "Y" && c.CodeType == null ? c.CodeType == "" : c.CodeType.ToUpper() == "FTLTYP" && c.StatusCode.ToUpper() == "Y").ToList(), "CodeId", "CodeDesc"), "", new { @class = "form-control required required2 select2", @placeholder = "FTL Type" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Route Type </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.VehicleHDR.RouteMode, new SelectList(routeTypeList, "Value", "Text"), "", new { @class = "form-control required required2 select2", @placeholder = "Routes" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Active Flag</label>
                                    <div class="col-md-3">
                                        @Html.HiddenFor(m => m.VehicleHDR.ACTIVEFLAG)
                                        <input type="checkbox" class="chkactive" id="ACTIVEFLAG" @ACTIVEFLAG />
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">No of Tyres Attached with Vehicle</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VehicleHDR.Tyre_Attached, new { @class = "form-control", @placeholder = "No of Tyres Attached with Vehicle", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))", @MaxLength = "2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Tyre Size</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.VehicleHDR.TyreSize, new SelectList(TyreSizelist, "TYRE_SIZEID", "TYRE_SIZENAME"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Tyre Size" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Battery Size</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VehicleHDR.BatterySize, new { @class = "form-control", @placeholder = "No of Tyres Attached with Vehicle", @onkeypress = "javascript:return validDigits(event,this.getAttribute('id'))", @MaxLength = "2" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Fuel Type</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.VehicleHDR.FuelType, new SelectList(listGeneralMaster.Where(c => c.CodeType.ToUpper() == "FUELTY" && c.StatusCode.ToUpper() == "Y").OrderBy(c => c.CodeDesc).ToList(), "CodeId", "CodeDesc"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Fuel Type" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Coordinator</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VehicleHDR.Coordinator, new { @class = "required required2 form-control", @placeholder = "Select Coordinator" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>Other Information
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">RC Book No.</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VehicleHDR.VEHRCBKNO, new { @class = "required required2 form-control", @placeholder = "RC Book" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Registration No.</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VehicleHDR.VEHREGNO, new { @class = "required required2 form-control", @placeholder = "Registration No", @readonly = true, @minlength = 4, @maxlength = 11 })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Registration Date</label>
                                    <div class="col-md-8">
                                        <div class="input-group date date-picker" data-date-format="dd MMM yyyy" data-date-end-date="+0d">
                                            @Html.TextBoxFor(m => m.VehicleHDR.VEHREGDT, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.VehicleHDR.VEHREGDT).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Vehicle Insurance Validity Date.</label>
                                    <div class="col-md-8">
                                        <div class="input-group date date-picker" data-date-format="dd MMM yyyy">
                                            @Html.TextBoxFor(m => m.VehicleHDR.Insurance_Validity_Date, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.VehicleHDR.Insurance_Validity_Date).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Fitness Certificate Date.</label>
                                    <div class="col-md-8">
                                        <div class="input-group date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.VehicleHDR.Fitness_Validity_Date, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.VehicleHDR.Fitness_Validity_Date).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Date Of Attaching</label>
                                    <div class="col-md-8">
                                        <div class="input-group date date-picker" data-date-format="dd MMM yyyy" data-date-end-date="+0d">
                                            @Html.TextBoxFor(m => m.VehicleHDR.attachdt, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.VehicleHDR.attachdt).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Vehicle Permit Validity Date</label>
                                    <div class="col-md-8">
                                        <div class="input-group date date-picker" data-date-format="dd MMM yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.VehicleHDR.Permit_Validity_Date, String.Format("{0:dd MMM yyyy }", Convert.ToDateTime(Model.VehicleHDR.Permit_Validity_Date).ToString("dd MMM yyyy")), new { @class = "form-control required required2", @placeholder = "dd MMM yyyy" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Chasis No.</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VehicleHDR.VEHCHASISNO, new { @class = "required required2 form-control", @placeholder = "Chasis No" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Engine No</label>
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model.VehicleHDR.VEHENGINENO, new { @class = "required required2 form-control", @placeholder = "Engine No" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Certificate No</label>
                                    <div class="col-md-8">
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.VehicleHDR.CertificateNo, new { @class = "required required2 form-control", @placeholder = "Certificate No" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Insurance No</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VehicleHDR.InsuranceNo, new { @class = "required required2 form-control", @placeholder = "Insurance No" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4"> RTO No</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VehicleHDR.RTONo, new { @class = "required required2 form-control", @placeholder = "RTO No" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>Inner Dimension in ft
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Length</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VehicleHDR.length, new { @class = "form-control lbh", @placeholder = "Length", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Width</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VehicleHDR.width, new { @class = "form-control lbh", @placeholder = "Width", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Height</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VehicleHDR.Height, new { @class = "form-control lbh", @placeholder = "Height", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Rate/Km</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VehicleHDR.rate_km, new { @class = "form-control", @placeholder = "Rate/Km", @onkeypress = "javascript:return validateFloatfor2point(this,event)" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>Payload Capacity as per RC in Ton
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">GVW</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VehicleHDR.GVW, new { @class = "required required2 form-control", @placeholder = "GVW", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Unladen</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VehicleHDR.Unld_Wt, new { @class = "required required2 form-control", @placeholder = "Unladen", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Capacity</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VehicleHDR.Capacity, new { @class = "required required2 form-control", @placeholder = "Capacity", @readonly = true, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">CFT</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.VehicleHDR.CFT, new { @class = "required required2 form-control", @placeholder = "CFT", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @readonly = true })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alert alert-warning">
                <strong>GVW</strong> Gross Vehicle Weight as per RC Book <br />
                <strong>Unladen Weight</strong> Empty vehicle weight as per RC Book
            </div>
        </div>
    </div>

    <div class="form-actions fluid">
        <div class="col-md-offset-4 col-md-8">
            <a class="btn btn-sm default controls" href="@Url.Content("~/Master/VehicleList")"> <i class="fa fa-arrow-left"> </i>&nbsp;Back To List</a>
            <button type="button" id="btnSubmit" class="btn btn-sm green controls"><i class="fa fa-check"></i>&nbsp;@Text</button>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                    document.forms["form_sample"].submit()
                }
            });
        }

        var Events = function (DomainName) {

            if ('@Model.EditFlag' == "false") {
                $('.date-picker input').val('');
            }

            $('#ACTIVEFLAG').change(function () {
                $('#VehicleHDR_ACTIVEFLAG').val($(this).is(':checked') ? 'Y' : 'N')
            });

            $('#GPS_Device_Enabled').change(function () {
                $('#VehicleHDR_GPS_Device_Enabled').val($(this).is(':checked') ? 'Y' : 'N')
            });

            $('#VehicleHDR_VEHNO').change(function () {
                if ($(this).val() != null && $(this).val().trim() != '') {
                    App.blockUI({ boxed: true });
                    $.ajax({
                        url: DomainName + '/Master/CheckDuplicateVehicle/' + $(this).val().trim(),
                        type: 'POST',
                        success: function (result) {
                            App.unblockUI();
                            if (result == '1') {
                                $('#VehicleHDR_VEHNO').val('');
                                TosterNotification("error", 'Vehicle Already Exists please Enter other Vehicle', "Already Exists..!!");
                            }
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                }

            });

            $("#VehicleHDR_VEHNO").keyup(function () {
                $("#VehicleHDR_VEHREGNO").val($(this).val());
            })

            $('#VehicleHDR_GVW, #VehicleHDR_Unld_Wt').change(function () {
                if ($.isNumeric($('#VehicleHDR_GVW').val()) && $.isNumeric($('#VehicleHDR_Unld_Wt').val())) {
                    if (parseFloat($('#VehicleHDR_GVW').val()) < parseFloat($('#VehicleHDR_Unld_Wt').val())) {
                        $('#VehicleHDR_Unld_Wt').val(0);
                        alert('Gross Vehicle Weight must be greater than Unladen Weight');
                    } else {
                        var capacity = parseFloat($('#VehicleHDR_GVW').val()).toFixed(2) - parseFloat($('#VehicleHDR_Unld_Wt').val()).toFixed(2);
                        $('#VehicleHDR_Capacity').val(capacity);
                    }
                }
                else {
                    $('#VehicleHDR_Capacity').val(0);
                }
            })

            $('#VehicleHDR_VENDORTYPE').change(function () {
                if ($('#VehicleHDR_VENDORTYPE').val() != null && $('#VehicleHDR_VENDORTYPE').val() != "") {
                    App.blockUI({ boxed: true });
                    $("#VehicleHDR_VENDORCODE").select2('data', null);
                    str = DomainName + '/Master/GetFillVendorListJson?Verndortype=' + $(this).val();
                    FillDropDownfromOther('VehicleHDR_VENDORCODE', str, '');
                }
                else {
                    $('#VehicleHDR_VENDORCODE').select2('data', null)
                    $('#VehicleHDR_VENDORCODE').empty();
                }
            });

            $('#VEHPERMIT').change(function () {
                $('#VehicleHDR_VEHPERMIT').val($(this).val());
            });

            $('#btnSubmit').click(function () {
                if (!$('#form_sample').valid()) {
                    return false;
                }
                App.blockUI({ boxed: true });
                $.ajax({
                    url: $('#form_sample').attr('action'),
                    type: 'POST',
                    data: $('#form_sample').serialize(),
                    success: function (result) {
                        if (result) {
                            TosterNotification("success", "Record has been updated successfully..!!", "Success");
                            setTimeout(function () {
                                window.location = DomainName + "/Master/VehicleList";
                            }, 1500);
                        }
                        else {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        App.unblockUI();
                    }
                });
            });
            
            $(".lbh").live("change", function () {
                var lbhVal = "1";
                $(".lbh").each(function () {
                    lbhVal = lbhVal * $(this).val();                 
                });
                $("#VehicleHDR_CFT").val(parseFloat(lbhVal).toFixed(2));
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                Events(DomainName);
                $('.date-picker').datepicker({
                    isRTL: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    minDate: '@System.DateTime.Now',
                    todayBtn: true
                });
                JsonDDL('VehicleHDR_Conrtl_branch', DomainName + '/Master/GetLocationListJson', true);
                JsonDDL('VehicleHDR_Coordinator', DomainName + '/Master/GetAllUserJson', true);

                if ($("#VehicleHDR_Conrtl_branch").val() != '' && $("#VehicleHDR_Conrtl_branch").val() != null) {
                    $("#VehicleHDR_Conrtl_branch").select2("data", { id: $("#VehicleHDR_Conrtl_branch").val(), text: $("#VehicleHDR_Conrtl_branch_Name").val() });
                }

                if ($("#VehicleHDR_Coordinator").val() != '' && $("#VehicleHDR_Coordinator").val() != null) {
                    $("#VehicleHDR_Coordinator").select2("data", { id: $("#VehicleHDR_Coordinator").val(), text: $("#VehicleHDR_Coordinator_Name").val() });
                }
            }
        }
    }();
</script>