﻿@model IEnumerable<Fleet.Models.Cygnus_VendorEmployeeMapping>
@{
    ViewBag.Title = "Vendor Employee Mapping";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var i = 1;
    var j = 1;
}
@using (Html.BeginForm("AddEditVendorEmployeeMapping", "Master", FormMethod.Post, new { id = "form_sample", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @ViewBag.TableBoxColor">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-5">No Of Rows </label>
                                    <div class="col-md-7">
                                        @Html.TextBox("txtItem", "0", new { placeholder = "No. Rows", @class = "input-small form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <a id="btnAdd" class="btn  @ViewBag.TableBoxColor right">
                                    Add New Row <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                            <div class="col-md-5">

                            </div>
                        </div>
                        <table id="sample_1" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center">Srno</th>
                                    <th class="center">Vendor Name</th>
                                    <th class="center">User Name(s)</th>
                                    <th class="center">Active</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="Tbody">
                                @foreach (var item in Model)
                                {
                                    item.Srno = i;
                                    Html.RenderPartial("_vendorEmployeeMapping", item);
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="submit" id="btnSubmit" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.parents('.checkbox-list').size() > 0) {
                        error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var AddNewItem = function (DomainName, itemIndex) {
            App.blockUI({ boxed: true });
            var StrURL1 = DomainName + '/Master/AddObjVendorEmployeeMapping?id=' + itemIndex
            $.ajax({
                url: StrURL1,
                cache: false,
                data: {},
                type: 'POST',
                success: function (html) {
                    $("#Tbody").append(html);
                    $("select").select2({
                        placeholder: "Select Option",
                    });
                    $("a.deleteload").live("click", function () {
                        $(this).parents("tr.editorRow:first").remove();
                        return false;
                    });
                    GetType("MappingList_" + itemIndex + "__UserId", "MappingList_" + itemIndex + "__UserId", DomainName + "/Master/GetUserListJsonWithIdName");
                    $("input:checkbox, input:radio").uniform();
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                    App.unblockUI();
                }
            });
        }


        return {
            //main function to initiate the module
            init: function (DomainName) {
                $("select").select2({
                    placeholder: "Select Option",
                });

                $("a.deleteload").live("click", function () {
                    $(this).parents("tr.editorRow:first").remove();
                    return false;
                });

                Formvalidate(DomainName);

                $("#btnAdd").live('click', function () {
                    var itemIndex = $("#sample_1 input.iHidden").length;
                    var TOTRows = $("#txtItem").val();
                    for (var i = 0; i <= TOTRows - 1; i++) {
                        setTimeout(function () {
                            itemIndex = itemIndex + 1;
                            AddNewItem(DomainName, itemIndex);
                        }, 250 * i);
                    }
                });

                if ('@Model.Count()' == 0) {
                    AddNewItem(DomainName, 1);
                }

                @foreach (var item in Model)
                {
                    <text>
                GetType("MappingList_" + @j + "__UserId", "MappingList_" + @j + "__UserId", DomainName + "/Master/GetUserListJsonWithIdName");
                </text>
                    j++;
                }

                $("#btnSubmit").live('click', function () {
                    App.blockUI({ boxed: true });
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return false;
                    }
                    else {
                        $.ajax({
                            url: $('#form_sample').attr('action'),
                            type: 'POST',
                            data: $('#form_sample').serialize(),
                            success: function (result) {
                                window.location.href = DomainName + "/Master/VendorEmployeeMappingDone?status=" + result;
                            },
                            error: function (req, status, error) {
                                window.location.href = DomainName + "/Master/VendorEmployeeMappingDone?status=" + status;
                            }
                        });
                    }
                });

                $(".drp").live("change", function () {
                    var dlnmId = $(this).attr("id");
                    var Value = $(this).val();
                    if (Value != "") {
                        $(".drp").each(function () {
                            var dlnmId1 = $(this).attr("id");
                            var dlnmVal1 = $(this).val();
                            //alert(dlnmVal1 + '__' + Value);
                            if (dlnmId1 != dlnmId && dlnmVal1 == Value) {
                                alert("Can not select Duplicate Vendor");
                                $("#" + dlnmId).select2('data', null);
                                return false;
                            }
                        });
                    }
                });

                $(".drpUser").live("change", function () {
                    var dlnmId = $(this).attr("id");
                    var Value = $(this).val();
                    var arr1 = Value.split(",");
                    var oldValue = Value.substring(0, Value.lastIndexOf(','));                 
                    if (Value != "") {
                        $(".drpUser").each(function () {
                            var dlnmId1 = $(this).attr("id");
                            var dlnmVal1 = $(this).val();
                            var arr2 = dlnmVal1.split(",");

                            for (var i = 0; i < arr1.length; i++) {
                                for (var j = 0; j < arr2.length; j++) {
                                    if (dlnmId1 != dlnmId && arr1[i] === arr2[j]) {
                                        alert("Can not select Duplicate User");
                                        $("#" + dlnmId).select2('data', null);
                                        $("#" + dlnmId).val(oldValue);
                                        $("#" + dlnmId).select2();
                                        return false;
                                    }
                                }
                            }
                        });
                    }
                });
            }
        }
    }();
</script>