﻿@{
    ViewBag.Title = "Vendor Contract Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-3 col-md-6" style="margin-top:10%;">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check"></i>Contract @ViewBag.TranXaction
            </div>
            @*<div class="tools">
                <span class="btn default blue-stripe">
                    <a href=""><i class="fa fa-plus">&nbsp;Add More Vendor Contract</i></a>
                </span>
            </div>*@
        </div>
        <div class="portlet-body">
            <div class="margin-top-10 margin-bottom-10 clearfix">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Contract Id
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@ViewBag.ContractCode</b>
                            </td>
                            <td>
                                @*<a target="_blank" href="#" data-id="@ViewBag.ContractCode" class="fa fa-print" id="ReportFrame"><b>&nbsp;View/Print</b></a>*@
                                <a target="_blank" href="javascript:OrderView('@ViewBag.ContractCode')" class="fa fa-print" id="ReportFrame"><b>&nbsp;View/Print</b></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="label label-danger">
                NOTE!
            </span>&nbsp;
            <span>
                Click on Contract Number for View and Print .
            </span>
        </div>
    </div>
</div>
<script type="text/javascript">

    function OrderView(ContractCode) {
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        var strPopupURL = ReportURL + DomainName + "/Operation/VendorContractViewPrint?ContractNo=" + ContractCode;
        winNew = window.open(strPopupURL, "_blank", strWinFeature)
        return false;
    }

</script>