﻿@model Fleet.ViewModels.Webx_Vendor_Contract_Summary_Ver1ViewModel
@using FleetDataService.Models
@using Fleet.Classes
@using System.Data;
@{
    ViewBag.Title = "Vendor Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<SelectListItem> AddEditType = new List<SelectListItem>(){
                    new SelectListItem{ Text="Add", Value = "A" },
                    new SelectListItem{ Text="Edit", Value = "E" },
    };
    List<SelectListItem> VendorTypelist = new List<SelectListItem>(){
                    new SelectListItem{ Text="Service Provider - Attached", Value = "01" },
                    new SelectListItem{ Text="Vendor Road Route - 3PL", Value = "03" },
                    new SelectListItem{ Text="Business Associate - BA", Value = "08" },
                    //new SelectListItem{ Text="Franchise", Value = "XX5" },
    };
    List<SelectListItem> AttechedTypelist = new List<SelectListItem>(){
                    new SelectListItem{ Text="Route based for THC and Distance based for PRS/DRS", Value = "RB" },
                    new SelectListItem{ Text="City based for THC and Distance based for PRS/DRS", Value = "CB" },
                    new SelectListItem{ Text="Distance based for THC/DRS/PRS", Value = "DB" },
    };
    List<SelectListItem> Contractlist = new List<SelectListItem>(){
                    new SelectListItem{ Text="Vendor", Value = "1" },
                    new SelectListItem{ Text="Type of Movement", Value = "2" },
                    new SelectListItem{ Text="Vehicle Number", Value = "3" },
    };
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "submit_form", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet @ViewBag.TableBoxColor box">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Vendor Type</label>
                                    <div class="col-md-8">
                                        @Html.DropDownList("VedorType", new SelectList(VendorTypelist, "Value", "Text"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Vendor Type" })
                                        @Html.HiddenFor(c => c.WVCSV1.Vendor_Type)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 Attacheddetail">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Contract Type</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(c => c.WVCSV1.ContractType, new SelectList(AttechedTypelist, "Value", "Text"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Contract Type" })
                                        @Html.HiddenFor(c => c.WVCSV1.ContractType)
                                    </div>
                                </div>
                            </div>Vendor
                            <div class="col-md-4 Attacheddetail">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Contract For</label>
                                    <div class="col-md-8">
                                        @Html.DropDownList("ContractFor", new SelectList(Contractlist, "Value", "Text"), "", new { @class = "form-control required required2 select2", @placeholder = "Select Contract For" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 AddEdit">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Add / Edit :</label>
                                    <div class="col-md-8 radio-list" style="margin-top: -3px;">
                                        <label class="radio-inline">
                                            <input type="radio" name="AddEdit" id="Add" value="Add" class="required"> Add
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="AddEdit" id="Edit" value="Edit" class="required"> Edit
                                        </label>
                                        @Html.HiddenFor(c => c.WVCSV1.Flag)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Vendor</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.WVCSV1.VendorCode, new { @class = "form-control required required2", @disabled = "true" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-4 col-md-8">
                            @*<button type="button" class="btn btn-sm defualt controls btnCancel" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>&nbsp;Cancel</button>*@
                            <button type="button" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var FormValidate = function (DomainName) {
            var form1 = $('#submit_form');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input


                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var GetVendorCode = function (DDLName, VendorType, Flag) {

            var StrURL = DomainName + "/Master/SearchVendorListJsonByFlag?Flag=" + Flag + "&VendorType=" + VendorType;

            JsonDDL(DDLName, StrURL);

        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                FormValidate(DomainName);
                $(".Attacheddetail").hide();
                $(".AddEdit").hide();
                $("#VedorType").change(function () {
                    var value = $("#VedorType").val();
                    $(".AddEdit").show();
                    if ($(this).val() == "01") {
                        $(".Attacheddetail").show();
                        $("#ContractType").addClass("required");
                        $("#ContractFor").addClass("required");
                    }
                    else if ($(this).val() == "03") {
                        $(".Attacheddetail").hide();
                        $("#ContractType").removeClass("required");
                        $("#ContractFor").removeClass("required");
                    }
                    else if ($(this).val() == "08" || $(this).val() == "XX5") {
                        $(".Attacheddetail").hide();
                        $("#ContractType").removeClass("required");
                        $("#ContractFor").removeClass("required");
                    }
                    else {
                        $(".Attacheddetail").hide();
                        $(".AddEdit").hide();
                    }
                    $("#WVCSV1_Vendor_Type").val(value);
                });

                $("#WVCSV1_ContractType").change(function () {
                    $("#RutBase").hide();
                    $("#CityBase").hide();
                    $("#DistanceBase").hide();
                    if ($(this).val() == "RB") {
                        $("#RutBase").show();
                    }
                    else if ($(this).val() == "CB") {
                        $("#CityBase").show();
                    }
                    else if ($(this).val() == "DB") {
                        $("#DistanceBase").show();
                    }
                    else {
                        $("#RutBase").hide();
                        $("#CityBase").hide();
                        $("#DistanceBase").hide();
                    }
                });

                $("input[name='AddEdit']").click(function () {
                    $("#WVCSV1_VendorCode").prop("disabled", false);
                    var selectid = $("input[name='AddEdit']:checked").val();
                    var vendortype = $("#VedorType").val();
                    var vendorname = $("#WVCSV1_VendorCode").val();
                    $("#WVCSV1_Flag").val(selectid);
                    var strurl = DomainName + "/master/getvendordetails?flag=" + selectid + "&vendortype=" + vendortype + "";
                    var StrURL = DomainName + "/Master/SearchVendorListJsonByFlag?Flag=" + selectid + "&VendorType=" + vendortype + "";
                    JsonDDL("WVCSV1_VendorCode", StrURL);
                    //GetVendorCode("WVCSV1_VendorCode", $("#VedorType").val(), $("input[name='AddEdit']:checked").val())
                    //FillDropDownfromOther("WVCSV1_VendorCode", strurl, "select vendor");
                });


                $("#btnSave").click(function () {
                    FormValidate(DomainName);
                    if (!$("#submit_form").valid())
                    {
                        return false;
                    }
                    App.blockUI({ boxed: true });
                    var flag = $("input[name='AddEdit']:checked").val();
                    var vendorcode = $("#WVCSV1_VendorCode").val();
                    var Type = $("#VedorType").val();
                    var TypeText = $("#VedorType option:selected").text();
                    var contracttype = $("#WVCSV1_ContractType").val();
                    var contactfor = $("#ContractFor").val();
                    var Matrix = "";

                    //Matrix Type For Atteched
                    if (contracttype != null && contracttype != "") {
                        //Matrix Type For RouteBased
                        if (contracttype == "RB") {
                            if (contactfor == "1") {
                                Matrix = "01";
                            }
                            else if (contactfor == "2") {
                                Matrix = "02";
                            }
                            else {
                                Matrix = "03";
                            }
                        }
                            //Matrix Type For CityBased
                        else if (contracttype == "CB") {
                            if (contactfor == "1") {
                                Matrix = "09";
                            }
                            else if (contactfor == "2") {
                                Matrix = "10";
                            }
                            else {
                                Matrix = "11";
                            }
                        }
                            //Matrix Type For DistanceBased
                        else {
                            if (contactfor == "1") {
                                Matrix = "04";
                            }
                            else if (contactfor == "2") {
                                Matrix = "05";
                            }
                            else {
                                Matrix = "06";
                            }
                        }
                    }
                        //Matrix Type For BussinessType
                    else {
                        if (Type == "08" || Type == "XX5") {
                            Matrix = "07";
                        }
                    }


                    if (Type == "03") {
                        window.location.replace(DomainName + '/Master/CustomerContract?custcode=' + vendorcode);
                    }
                    else if (Type == "01") {
                        window.location.replace(DomainName + '/Master/VendorContract?Type=' + Type + '&Text=' + TypeText + '&flag=' + flag + '&VendorCode=' + vendorcode + '&Contracttype=' + contracttype + '&Matrix=' + Matrix);
                    }
                    else {
                        window.location.replace(DomainName + '/Master/VendorContract?Type=' + Type + '&Text=' + TypeText + '&flag=' + flag + '&VendorCode=' + vendorcode + '&Matrix=' + Matrix);
                    }
                });

                $(".btnCancel").click(function () {
                    $(".form-control").val("");
                });
            }
        }
    }();
</script>
