﻿@model Fleet.ViewModels.VendorServiceMappingViewModel
@using FleetDataService.Models
@{
    ViewBag.Title = "Vendor Service Mapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<Webx_Master_General> ListVenService = MS.GetGeneralMasterObject().Where(c => c.CodeType == "VENDSERV" && c.StatusCode == "Y").OrderBy(c => c.CodeDesc).ToList();
    List<SelectListItem> MapmodeList = new List<SelectListItem>(){
                    new SelectListItem{ Text="Vendor", Value = "1" },
                    new SelectListItem{ Text="Vendor Service", Value = "2" }
    };
}
@using (Html.BeginForm("VendorServiceMapping", "Master", FormMethod.Post, new { @id = "form_sample", @class = "form-horizontal", @readonly = "true" }))
{
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        You have some form errors. Please check below.
    </div>
    <div class="alert alert-success display-hide">
        <button class="close" data-close="alert"></button>
        Your form validation is successful!
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-11">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Mapping Mode :
                                        </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(c => c.WVSMM.mapmode, new SelectList(MapmodeList, "Value", "Text"), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Map Mode" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" id="vendor">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Vendor:
                                        </label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(c => c.WVSMM.Vendorcode, new { placeholder = "Vendor", @class = "form-control required required2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" id="venservice">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">
                                            Vendor Service :
                                        </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(c => c.WVSMM.Vendor_Service_Code, new SelectList(ListVenService, "CodeId", "CodeDesc"), "", new { @class = "form-control select2 required2 required dropdown2", @placeholder = "Select Vendor Service" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="btn btn-sm default blue-stripe pull-right" id="addEdit" data-toggle="modal">
                                        <i class="fa fa-list"></i>  Get List
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="tblvendor" style="display:none;">
                            <div class="col-md-12">
                                <div class="portlet-body" id="Vendorservicetbldata">
                                    @foreach (var item in Model.Listservice)
                                    {
                                        Html.RenderPartial("_ListVendorServiceByVendor", item);
                                    }
                                </div>
                                <div class="portlet-body" id="Vendortbldata">
                                    @foreach (var item in Model.Listservice)
                                    {
                                        Html.RenderPartial("_ListVendorServiceByService", item);
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid" style="display:none;" id="submit">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="submit" id="btnSave" class="btn btn-sm green controls ClsbtnSave"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {
            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input

                messages: {
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
            });
        }
        return {
            init: function (DomainName) {
                $("#vendor").hide();
                $("#venservice").hide();
                // $(".submit").hide();
                Formvalidate(DomainName);
                $("#WVSMM_mapmode").change(function () {
                    if ($(this).val() == "1") {
                        $("#vendor").show();
                        $("#venservice").hide();
                        JsonDDL('WVSMM_Vendorcode', DomainName + '/Master/SearchVendorListJson');
                    }
                    else {
                        $("#vendor").hide();
                        $("#venservice").show();
                    }
                });
                $("#btnSave").click(function () {
                    var form = $('#form_sample');
                    if (form.valid() == false) {
                        return false;
                    }
                    App.blockUI({ boxed: true });
                    document.forms('#form_sample').serialize().submit();
                });
                $("#addEdit").click(function () {
                    var id = $("#WVSMM_mapmode").val();
                    var vendorCode = $("#WVSMM_Vendorcode").val();
                    var vendorServiceCode = $("#WVSMM_Vendor_Service_Code").val();
                    var strurl = DomainName + '/Master/GetVendorserviceList?Id=' + id + '&Vendorcode=' + vendorCode + '&ServiceCode=' + vendorServiceCode
                    //if (id == "1") {
                    App.blockUI({ boxed: true });
                    $.ajax({
                        url: strurl,
                        type: 'POST',
                        data: {},
                        success: function (result) {
                            if (result) {
                                $("#tblvendor").show();
                                $("#submit").show();
                                if ('@ViewBag.id' == '1') {
                                    $("#Vendorservicetbldata").html(result);
                                    
                                }
                                else {
                                    $("#Vendortbldata").html(result);
                                }
                                $("input:checkbox, input:radio").uniform();
                                App.unblockUI();
                            }
                            else {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                                App.unblockUI();
                            }
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                });
            }
        }
    }();
</script>



