﻿@model FleetDataService.Models.Webx_Master_Role
@{
    ViewBag.Title = "ViewRoleMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="EditRole"></div>
<div class="row" style="display:none;">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>ViewRoleMaster
                </div>
                <div class="caption pull-right">
                    <a href="@Url.Content("~/Master/ExportData?MethodName=User&FileName=User Master List")" class="btn default btn-xs controls"><i class="fa fa-download"></i>&nbsp;Download Excel </a>
                    @if (@ViewBag.BaseUserReadWrite == "W")
                    {
                        <a class="btn default btn-xs btnAddEdit" href="@Url.Content("~/Master/AddEditRole/0")">
                            <i class="fa fa-plus"></i>
                            Add Role
                        </a>
                    }
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="UserList" style="overflow-x: scroll;">
                    <thead>
                        <tr>
                            <th class="center">
                                srno
                            </th>
                            <th class="center">
                              Description
                            </th>
                            <th class="center">
                                Hierarchy
                            </th>
                            <th class="center">
                                Multiple Employees For Role
                            </th>
                            <th class="center">
                                Active
                            </th>
                            <th class="center">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function userView(Id) {
        var ReportURL = '@ViewBag.ReportURL';
        var strWinFeature = "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=800 ,height=600,status=no,left=60,top=50"
        var strPopupURL = ReportURL + DomainName + "/ViewPrint/ViewUserDetails/" + Id;
        winNew = window.open(strPopupURL, "_blank", strWinFeature);
        return false;
    }
    var FormComponents = function (DomainName) {

        var loadData = function (DomainName, tblId) {
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Master/GetRoleListJson'
            $.ajax({
                url: strUrl,
                type: 'POST',
                success: function (result) {
                    $('#' + tblId).DataTable({
                        data: result,
                        columns: [
                            { data: "srno" },
                            { data: "ROledesc" },
                             { data: "HYC" },
                            { data: "Multiple" },
                            { data: "ACTIVEFLAG" },
                        { data: "srno" },
                        ],
                        "aLengthMenu": [
                            [5, 10, 15, 20, -1],
                            [5, 10, 15, 20, "All"] // change per page values here
                        ],
                        // set the initial value
                        "iDisplayLength": 10,
                        "aoColumnDefs": [
                            {
                                "aTargets": [3],
                                "mRender": function (data, type, full) {
                                    //alert(data)
                                    if (data == "Y") {
                                        return '<span class="badge badge-success">Yes</span>';
                                    }
                                    else {
                                        return '<span class="badge badge-danger">No</span>';
                                    }
                                }
                            },
                         
                            {
                                "aTargets": [4],
                                "mRender": function (data, type, full) {
                                    //alert(data)
                                    if (data == "Y") {
                                        return '<span class="badge badge-success">Yes</span>';
                                    }
                                    else {
                                        return '<span class="badge badge-danger">No</span>';
                                    }
                                }
                            },
                                {
                                    "aTargets": [5],
                                    "mRender": function (data, type, full) {
                                     //   alert(data);
                                        if ("@ViewBag.BaseUserReadWrite" == "W" || "@ViewBag.BaseUserName" == "CYGNUSTEAM" || "@ViewBag.BaseUserName" == "RAHULS" || "@ViewBag.BaseUserName" == "CSERP") {
                                          //  return '<button type="button" class="btn default btn-xs blue-stripe btnTyrePatternEdit" data-id="' + data + '"><i class="fa fa-pencil"></i>&nbsp;Edit</button>';
                                            return '<a href="' + DomainName + '/Master/AddEditRole/' + data + '" class="btn default btn-xs blue-stripe"><i class="fa fa-pencil"></i>&nbsp;Edit</a>';
                                        }
                                        else {
                                            return '<button class="btn default btn-xs blue-stripe" onclick="javascript: userView(\'' + data.trim() + '\')" ><i class="fa fa-eye"></i>&nbsp;View</button>';
                                        }
                                    }
                                },
                                //{
                                //"aTargets": [4],
                                //"mRender": function (data, type, full) {
                                //    //alert(data)
                                //    return '<div class="btn-group"><button id="btnGroupVerticalDrop1" type="button" class="btn btn-sm blue-stripe dropdown-toggle" data-toggle="dropdown">Actions <i class="fa fa-angle-down"></i></button><ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop1"><li><a href="' + DomainName + '/Master/_AddEditUser/' + data.trim() + '"><b><i class="fa fa-pencil"></i>&nbsp;Edit</b></a></li><li><a href="' + DomainName + '/Master/ChangeRights/' + data.trim() + '"><b><i class="fa fa-user"></i>&nbsp;Change Menu Rights</b></a></li><li><a href="' + DomainName + '/Master/ChangeReportRights/' + data.trim() + '"><b><i class="fa fa-user"></i>&nbsp;Change Reports Rights</b></a></li><li><a href="#" class="PasswordReset" data-id=' + data.trim() + ' data-toggle="modal"><b><i class="fa fa-lock"></i>&nbsp;Reset Password</b></a></li></ul></div>';
                                //}
                                //},
                        ],
                        "createdRow": function (row, data, index) {
                            $('td:eq(3)', row).addClass('center');
                            $('td:eq(5)', row).addClass('center');
                            $('td:eq(0)', row).addClass('text-uppercase');
                            $('td:eq(1)', row).addClass('text-uppercase');
                            $('td:eq(4)', row).addClass('col-md-2 center');
                        }
                    });
                    jQuery('#' + tblId + '_wrapper .dataTables_filter input').addClass("form-control input-medium input-inline"); // modify table search input
                    jQuery('#' + tblId + '_wrapper .dataTables_filter').addClass("pull-right");
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
                    $('#' + tblId).parents('.row').show(500);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        var Events = function (DomainName) {
            $("#UserList a , .btnAddEdit").live("click", function (e) {
                App.blockUI({ boxed: true });
            });

        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                loadData(DomainName, 'UserList');
                Events(DomainName);
            }
        }
    }();
</script>