﻿@model Fleet.ViewModels.webx_GODOWNMSTViewModel
@using FleetDataService.Models;
@{
    ViewBag.Title = "List of Warehouse";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FleetDataService.MasterService MS = new FleetDataService.MasterService();
    List<webx_location> locList = MS.GetLocationDetails().Where(c => c.ActiveFlag == null ? c.ActiveFlag == null : c.ActiveFlag == "Y").OrderBy(c => c.LocName).ToList();
}
<div id="AddEditWarehouse"></div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box @ViewBag.TableBoxColor">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a href="@Url.Content("~/Master/ExportData?MethodName=Warehouse_Master&FileName=Warehouse_Master_List")" class="btn default btn-xs controls"><i class="fa fa-download"></i>&nbsp;Download Excel </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    <div class="form-group">
                        <div class="col-md-9">
                            <label class="control-label col-md-1">Location</label>
                            <div class="col-md-3">
                                @Html.DropDownList("Location", new SelectList(locList, "LocCode", "LocName"), "", new { @class = "form-control select2", @placeholder = "Select Location" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="btn btn-sm default blue-stripe pull-right" id="addEdit" data-toggle="modal">
                                <i class="fa fa-plus"></i>  Add Warehouse
                            </a>
                        </div>
                    </div>
                </div>
                <hr />
                <table class="table table-striped table-bordered table-hover" id="WarehouseList" style="overflow-x: scroll">
                    <thead>
                        <tr>
                            <th class="center">
                                Location Code
                            </th>
                            <th class="center">
                                Warehouse Name
                            </th>
                            <th class="center">
                                Description
                            </th>
                            <th class="center">
                                Active
                            </th>
                            <th class="center">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);

            $.validator.addMethod('checkDuplicate', function (value, element) {


                var loccode = $("#SPDBRCD").val();
                var Name = $("#godown_name").val();


                var StrURL = DomainName + '/Master/CheckDuplicateWarehouse?loccode=' + loccode + '&Name=' + Name.toUpperCase();
                //alert("hello " + StrURL);
                var result1 = $.ajax({
                    async: false,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: StrURL,
                    dataType: 'json',
                    data: {},
                });

                var d1 = JSON.parse(result1.responseText);
                if (d1.Count == "1") {
                    return false;
                }
                else {
                    return true;
                }


                // return true;

            }, "Name already exist !!!");

            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var GetObjectDet = function (id, DomainName) {
            App.blockUI({ boxed: true });
            var strurl = DomainName + '/Master/GetWarehouseDetails?srno=' + id;
            $.ajax({
                url: strurl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#AddEditWarehouse").hide();
                    $("#AddEditWarehouse").html(data);
                    CallSubmitClick(DomainName);
                    $("input:checkbox, input:radio").uniform();
                    $(".dropDown").select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    App.unblockUI();
                    $("#AddEditWarehouse").toggle(1000);
                    $("#godown_name").prop('readonly', true);
                    $("#SPDBRCD").change(function () {
                        $("#godown_name").prop('readonly', false);
                    });
                    Formvalidate(DomainName);
                    $("#godown_name").live('change', function () {
                        $(this).rules("add", {
                            checkDuplicate: true,
                        });
                        //var loccode = $("#SPDBRCD").val();
                        //var Name = $("#godown_name").val();

                        //$.ajax({
                        //    url: DomainName + '/Master/CheckDuplicateWarehouse?loccode=' + loccode + '&Name=' + Name,
                        //    cache: false,
                        //    data: JSON.stringify(),
                        //    type: 'POST',
                        //    contentType: 'application/json; charset=utf-8',
                        //    success: function (data) {
                        //        if (data.Count == 1) {
                        //            TosterNotification("error", 'Please Enter Other Warehouse name', "Oppps..!!");
                        //            $("#godown_name").focus().addClass('has-error');
                        //        }
                        //        App.unblockUI();
                        //    },
                        //    error: function (req, status, error) {
                        //        TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                        //        App.unblockUI();
                        //    }
                        //});
                    });
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        var CallSubmitClick = function (DomainName) {

            $("#btnSave").click(function (e) {
                App.blockUI({ boxed: true });
                if (e.handled !== true) // This will prevent event triggering more then once
                {
                    e.handled = true;
                    Formvalidate(DomainName);
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return;
                    }

                    var SPDBRCD = $("#SPDBRCD").val();
                    var godown_name = $("#godown_name").val();
                    var godown_desc = $("#godown_desc").val();
                    var ActiveFlag = $("#ActiveFlag").prop('checked');
                    var godown_srno = $("#godown_srno").val();
                    var WarehouseMaster =
                                    {
                                        "SPDBRCD": SPDBRCD,
                                        "godown_name": godown_name,
                                        "godown_desc": godown_desc,
                                        "ActiveFlag": ActiveFlag,
                                        "godown_srno": godown_srno
                                    };

                    $.ajax({
                        url: DomainName + '/Master/AddEditWarehouse',
                        cache: false,
                        data: JSON.stringify(WarehouseMaster),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.Status) {
                                TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                $("#AddEditWarehouse").hide(1000);
                                //bindTable(DomainName);
                                $("#WarehouseList").dataTable({
                                    'bDestroy': true
                                }).fnDestroy();
                                loadData(DomainName, 'WarehouseList');
                            }
                            else {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            }
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                    $("input:checkbox, input:radio").uniform();
                }
            });
        }

        var loadData = function (DomainName, tblId) {
            var LocCode = $("#Location").val();
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Master/WarehouseListJson?LocCode=' + LocCode;
            $.ajax({
                url: strUrl,
                type: 'POST',
                success: function (result) {
                    $('#' + tblId).DataTable({
                        data: result,
                        columns: [
                            { data: "SPDBRCD" },
                            { data: "godown_name" },
                            { data: "godown_desc" },
                            { data: "ActiveFlag" },
                            { data: "godown_srno" },
                        ],
                        "aoColumnDefs": [
                            {
                                "aTargets": [3],
                                "mRender": function (data, type, full) {
                                    if (data == "Y") {
                                        return '<span class="badge badge-success">Yes</span>';
                                    }
                                    else {
                                        return '<span class="badge badge-danger">No</span>';
                                    }
                                }
                            }, {
                                "aTargets": [4],
                                "mRender": function (data, type, full) {
                                    return '<button type="button" id="' + data + '" class="btn default btn-xs blue-stripe btnMasterEdit tooltips"><i class="fa fa-pencil"></i>&nbsp;Edit</button>';
                                }
                            }, ],
                        "createdRow": function (row, data, index) {
                            $('td', row).addClass('center');
                            $('td', row).addClass('text-uppercase');
                        }
                    });
                    jQuery('#' + tblId + '_wrapper .dataTables_filter input').addClass("form-control input-medium input-inline"); // modify table search input
                    jQuery('#' + tblId + '_wrapper .dataTables_filter').addClass("pull-right");
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
                    $('#' + tblId).parents('.row').show(500);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                $("#addEdit").click(function () {
                    GetObjectDet("0", DomainName);
                });

                $(".btnCancel").live('click', function (e) {
                    $("#AddEditWarehouse").hide(1000);
                });

                $(".btnMasterEdit").live('click', function (e) {
                    var id = $(this).attr('id');
                    GetObjectDet(id, DomainName);
                });

                CallSubmitClick(DomainName);
                $("#Location").change(function () {
                    $('#WarehouseList').DataTable().destroy();
                    loadData(DomainName, 'WarehouseList');
                });

            }
        }
    }();
</script>




