﻿@model Fleet.ViewModels.WEBX_FLEET_WORKGROUPMSTViewModel
@using FleetDataService.Models;
@{
    ViewBag.Title = "WorkGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="AddEditWorkGroup"></div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;@ViewBag.Title
                </div>
                <div class="caption pull-right">
                    <a href="#" class="btn btn-xs default blue-stripe pull-right" id="addEdit" data-toggle="modal">
                        <i class="fa fa-plus"></i>  Add Work Group
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="WorkGroupList" style="overflow-x: scroll">
                    @*<thead>
                            <tr>
                                <th class="center">
                                    Work Group Description
                                </th>
                                <th class="center">
                                    Asset Type
                                </th>
                                <th class="center">
                                    Active
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>*@
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var FormComponents = function (DomainName) {

        var Formvalidate = function (DomainName) {

            var form1 = $('#form_sample');
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);
            $.validator.addMethod('checkWorkGroupAvailability', function (value, element) {
                //alert(value + "   " + JSON.stringify(element))
                var GRPDESC = $("#W_GRPDESC").val();
                var DOC_SR_FROM = $("#VWDRM_DOC_Number").val();

                var StrURL = DomainName + "/Master/CheckDuplicateWorkGroup?GRPDESC=" + GRPDESC;
                // alert("hello " + StrURL);
                var result1 = $.ajax({
                    async: false,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: StrURL,
                    dataType: 'json',
                    data: {},
                });

                var d1 = JSON.parse(result1.responseText);
                if (d1.CNT == "0") {
                    return true;
                }
                else {

                    return false;
                }
            }, "Same Group Number is Exist !!!");
            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                // errorClass: 'validate-inline',
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",

                rules: {
                    //account dateFuture
                },
                messages: {

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        }

        var GetObjectDet = function (id, DomainName) {
            App.blockUI({ boxed: true });
            var strurl = DomainName + '/Master/GetWorkGroupDetails?GRPCD=' + id;
            $.ajax({
                url: strurl,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    $("#AddEditWorkGroup").hide();
                    $("#AddEditWorkGroup").html(data);
                    CallSubmitClick(DomainName);
                    $("input:checkbox, input:radio").uniform();
                    $("#Asset_Type").select2({
                        placeholder: "Select an option",
                        allowClear: true
                    });
                    App.unblockUI();
                    $("#AddEditWorkGroup").toggle(1000);
                    $("#W_GRPDESC").change(function () {
                        $(this).rules("add", {
                            checkWorkGroupAvailability: true,
                        });
                    }); FormValidate(DomainName);
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        var CallSubmitClick = function (DomainName) {

            $("#btnSave").click(function (e) {
                App.blockUI({ boxed: true });
                if (e.handled !== true) // This will prevent event triggering more then once
                {
                    e.handled = true;
                    Formvalidate(DomainName);
                    if (!$('#form_sample').valid()) {
                        App.unblockUI();
                        return;
                    }

                    var W_GRPCD = $("#W_GRPCD").val();
                    var W_GRPDESC = $("#W_GRPDESC").val();
                    var Asset_Type = $("#Asset_Type").val();
                    var ACTIVE_FLAG = $("#ACTIVE_FLAG").prop('checked');
                    var WorkGroupMaster =
                                    {
                                        "W_GRPCD": W_GRPCD,
                                        "W_GRPDESC": W_GRPDESC,
                                        "Asset_Type": Asset_Type,
                                        "ACTIVE_FLAG": ACTIVE_FLAG,
                                    };

                    $.ajax({
                        url: DomainName + '/Master/AddEditWorkGroup',
                        cache: false,
                        data: JSON.stringify(WorkGroupMaster),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.Status) {
                                TosterNotification("success", "Record has been updated successfully..!!", "Success");
                                $("#AddEditWorkGroup").hide(1000);
                                //bindTable(DomainName);
                                $("#WorkGroupList").dataTable({
                                    'bDestroy': true
                                }).fnDestroy();
                                $("#Asset_Type").select2({
                                    placeholder: "Select an option",
                                    allowClear: true
                                });
                                loadData(DomainName, 'WorkGroupList');
                            }
                            else {
                                TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            }
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                            App.unblockUI();
                        }
                    });
                    $("input:checkbox, input:radio").uniform();
                }
            });
        }

        var loadData = function (DomainName, tblId) {
            var Headers = "";
            Headers = [
               {
                   data: 'W_GRPCD',
                   title: 'SR.NO.'
               },
               {
                   data: 'W_GRPDESC',
                   title: 'Work Group Description'
               },

               {
                   data: 'Asset_Type',
                   title: 'Asset Type'
               },
               {
                   data: 'ACTIVE_FLAG',
                   title: 'Active'
               },
            {
                data: 'W_GRPCD',
                title: 'Action'
            }, ];
            App.blockUI({ boxed: true });
            var strUrl = DomainName + '/Master/WorkGroupListJson'
            $.ajax({
                url: strUrl,
                type: 'POST',
                success: function (result) {
                    $('#' + tblId).DataTable({
                        data: result,
                        columns: Headers,

                        "aoColumnDefs": [
                            {
                                "aTargets": [3],
                                "mRender": function (data, type, full) {
                                    if (data == "Y") {
                                        return '<span class="badge badge-success">Yes</span>';
                                    }
                                    else {
                                        return '<span class="badge badge-danger">No</span>';
                                    }
                                }
                            },
                            {
                                "aTargets": [4],
                                "mRender": function (data, type, full) {
                                    return '<button type="button" id="' + data + '" class="btn default btn-xs blue-stripe btnMasterEdit tooltips"><i class="fa fa-pencil"></i>&nbsp;Edit</button>';
                                }
                            }, ],
                        "createdRow": function (row, data, index) {
                            $('th', row).addClass('center');
                            //$('td', row).addClass('center');
                            $('td', row).addClass('text-uppercase');
                        }
                    });
                    jQuery('#' + tblId + '_wrapper .dataTables_filter input').addClass("form-control input-medium input-inline"); // modify table search input
                    jQuery('#' + tblId + '_wrapper .dataTables_filter').addClass("pull-right");
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
                    jQuery('#' + tblId + '_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
                    $('#' + tblId).parents('.row').show(500);
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Opration fail..!! There is some issue please try agian or Contact your administrator for more detail.', "Oppps..!!");
                    App.unblockUI();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function (DomainName) {
                Formvalidate(DomainName);
                $("#addEdit").click(function () {
                    GetObjectDet("0", DomainName);
                });

                $(".btnCancel").live('click', function (e) {
                    $("#AddEditWorkGroup").hide(1000);
                });

                $(".btnMasterEdit").live('click', function (e) {
                    var id = $(this).attr('id');
                    GetObjectDet(id, DomainName);
                });

                CallSubmitClick(DomainName);
                loadData(DomainName, 'WorkGroupList');
            }
        }
    }();
</script>


